{
  "description": "An API for controlling access to data by Google personnel.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/cloud-provider-access-management/access-approval/docs",
  "version": "v1",
  "title": "Access Approval API",
  "rootUrl": "https://accessapproval.googleapis.com/",
  "name": "accessapproval",
  "servicePath": "",
  "ownerName": "Google",
  "baseUrl": "https://accessapproval.googleapis.com/",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    }
  },
  "protocol": "rest",
  "mtlsRootUrl": "https://accessapproval.mtls.googleapis.com/",
  "resources": {
    "projects": {
      "methods": {
        "updateAccessApprovalSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "updateMask": {
              "location": "query",
              "description": "The update mask applies to the settings. Only the top level fields of AccessApprovalSettings (notification_emails & enrolled_services) are supported. For each field, if it is included, the currently stored value will be entirely overwritten with the value of the field passed in this request. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask If this field is left unset, only the notification_emails field will be updated.",
              "type": "string",
              "format": "google-fieldmask"
            },
            "name": {
              "type": "string",
              "description": "The resource name of the settings. Format is one of: * \"projects/{project}/accessApprovalSettings\" * \"folders/{folder}/accessApprovalSettings\" * \"organizations/{organization}/accessApprovalSettings\"",
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+/accessApprovalSettings$"
            }
          },
          "description": "Updates the settings associated with a project, folder, or organization. Settings to update are determined by the value of field_mask.",
          "id": "accessapproval.projects.updateAccessApprovalSettings",
          "path": "v1/{+name}",
          "request": {
            "$ref": "AccessApprovalSettings"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/projects/{projectsId}/accessApprovalSettings",
          "response": {
            "$ref": "AccessApprovalSettings"
          }
        },
        "deleteAccessApprovalSettings": {
          "description": "Deletes the settings associated with a project, folder, or organization. This will have the effect of disabling Access Approval for the project, folder, or organization, but only if all ancestors also have Access Approval disabled. If Access Approval is enabled at a higher level of the hierarchy, then Access Approval will still be enabled at this level as the settings are inherited.",
          "flatPath": "v1/projects/{projectsId}/accessApprovalSettings",
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "description": "Name of the AccessApprovalSettings to delete.",
              "location": "path",
              "pattern": "^projects/[^/]+/accessApprovalSettings$",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "response": {
            "$ref": "Empty"
          },
          "id": "accessapproval.projects.deleteAccessApprovalSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getAccessApprovalSettings": {
          "path": "v1/{+name}",
          "description": "Gets the settings associated with a project, folder, or organization.",
          "response": {
            "$ref": "AccessApprovalSettings"
          },
          "httpMethod": "GET",
          "flatPath": "v1/projects/{projectsId}/accessApprovalSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/accessApprovalSettings$",
              "description": "The name of the AccessApprovalSettings to retrieve. Format: \"{projects|folders|organizations}/{id}/accessApprovalSettings\"",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "accessapproval.projects.getAccessApprovalSettings",
          "parameterOrder": [
            "name"
          ]
        }
      },
      "resources": {
        "approvalRequests": {
          "methods": {
            "dismiss": {
              "flatPath": "v1/projects/{projectsId}/approvalRequests/{approvalRequestsId}:dismiss",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/approvalRequests/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Name of the ApprovalRequest to dismiss."
                }
              },
              "response": {
                "$ref": "ApprovalRequest"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "DismissApprovalRequestMessage"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}:dismiss",
              "id": "accessapproval.projects.approvalRequests.dismiss",
              "parameterOrder": [
                "name"
              ],
              "description": "Dismisses a request. Returns the updated ApprovalRequest. NOTE: This does not deny access to the resource if another request has been made and approved. It is equivalent in effect to ignoring the request altogether. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state."
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/approvalRequests/{approvalRequestsId}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/approvalRequests/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "The name of the approval request to retrieve. Format: \"{projects|folders|organizations}/{id}/approvalRequests/{approval_request}\"",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "accessapproval.projects.approvalRequests.get",
              "path": "v1/{+name}",
              "response": {
                "$ref": "ApprovalRequest"
              },
              "httpMethod": "GET",
              "description": "Gets an approval request. Returns NOT_FOUND if the request does not exist."
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists approval requests associated with a project, folder, or organization. Approval requests can be filtered by state (pending, active, dismissed). The order is reverse chronological.",
              "response": {
                "$ref": "ListApprovalRequestsResponse"
              },
              "path": "v1/{+parent}/approvalRequests",
              "parameters": {
                "filter": {
                  "description": "A filter on the type of approval requests to retrieve. Must be one of the following values: * [not set]: Requests that are pending or have active approvals. * ALL: All requests. * PENDING: Only pending requests. * ACTIVE: Only active (i.e. currently approved) requests. * DISMISSED: Only requests that have been dismissed, or requests that are not approved and past expiration. * EXPIRED: Only requests that have been approved, and the approval has expired. * HISTORY: Active, dismissed and expired requests.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A token identifying the page of results to return.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Requested page size.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "location": "path",
                  "description": "The parent resource. This may be \"projects/{project}\", \"folders/{folder}\", or \"organizations/{organization}\".",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "id": "accessapproval.projects.approvalRequests.list",
              "flatPath": "v1/projects/{projectsId}/approvalRequests"
            },
            "approve": {
              "parameters": {
                "name": {
                  "description": "Name of the approval request to approve.",
                  "required": true,
                  "pattern": "^projects/[^/]+/approvalRequests/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1/{+name}:approve",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ApprovalRequest"
              },
              "description": "Approves a request and returns the updated ApprovalRequest. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state.",
              "id": "accessapproval.projects.approvalRequests.approve",
              "flatPath": "v1/projects/{projectsId}/approvalRequests/{approvalRequestsId}:approve",
              "httpMethod": "POST",
              "request": {
                "$ref": "ApproveApprovalRequestMessage"
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    },
    "folders": {
      "methods": {
        "deleteAccessApprovalSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "accessapproval.folders.deleteAccessApprovalSettings",
          "parameters": {
            "name": {
              "required": true,
              "description": "Name of the AccessApprovalSettings to delete.",
              "pattern": "^folders/[^/]+/accessApprovalSettings$",
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Empty"
          },
          "description": "Deletes the settings associated with a project, folder, or organization. This will have the effect of disabling Access Approval for the project, folder, or organization, but only if all ancestors also have Access Approval disabled. If Access Approval is enabled at a higher level of the hierarchy, then Access Approval will still be enabled at this level as the settings are inherited.",
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "flatPath": "v1/folders/{foldersId}/accessApprovalSettings"
        },
        "getAccessApprovalSettings": {
          "response": {
            "$ref": "AccessApprovalSettings"
          },
          "description": "Gets the settings associated with a project, folder, or organization.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/folders/{foldersId}/accessApprovalSettings",
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "pattern": "^folders/[^/]+/accessApprovalSettings$",
              "type": "string",
              "description": "The name of the AccessApprovalSettings to retrieve. Format: \"{projects|folders|organizations}/{id}/accessApprovalSettings\""
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "accessapproval.folders.getAccessApprovalSettings"
        },
        "updateAccessApprovalSettings": {
          "description": "Updates the settings associated with a project, folder, or organization. Settings to update are determined by the value of field_mask.",
          "flatPath": "v1/folders/{foldersId}/accessApprovalSettings",
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The resource name of the settings. Format is one of: * \"projects/{project}/accessApprovalSettings\" * \"folders/{folder}/accessApprovalSettings\" * \"organizations/{organization}/accessApprovalSettings\"",
              "pattern": "^folders/[^/]+/accessApprovalSettings$"
            },
            "updateMask": {
              "description": "The update mask applies to the settings. Only the top level fields of AccessApprovalSettings (notification_emails & enrolled_services) are supported. For each field, if it is included, the currently stored value will be entirely overwritten with the value of the field passed in this request. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask If this field is left unset, only the notification_emails field will be updated.",
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "id": "accessapproval.folders.updateAccessApprovalSettings",
          "response": {
            "$ref": "AccessApprovalSettings"
          },
          "request": {
            "$ref": "AccessApprovalSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ]
        }
      },
      "resources": {
        "approvalRequests": {
          "methods": {
            "get": {
              "flatPath": "v1/folders/{foldersId}/approvalRequests/{approvalRequestsId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The name of the approval request to retrieve. Format: \"{projects|folders|organizations}/{id}/approvalRequests/{approval_request}\"",
                  "pattern": "^folders/[^/]+/approvalRequests/[^/]+$"
                }
              },
              "description": "Gets an approval request. Returns NOT_FOUND if the request does not exist.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "accessapproval.folders.approvalRequests.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "ApprovalRequest"
              }
            },
            "approve": {
              "response": {
                "$ref": "ApprovalRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Approves a request and returns the updated ApprovalRequest. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state.",
              "flatPath": "v1/folders/{foldersId}/approvalRequests/{approvalRequestsId}:approve",
              "path": "v1/{+name}:approve",
              "id": "accessapproval.folders.approvalRequests.approve",
              "request": {
                "$ref": "ApproveApprovalRequestMessage"
              },
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Name of the approval request to approve.",
                  "pattern": "^folders/[^/]+/approvalRequests/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "dismiss": {
              "request": {
                "$ref": "DismissApprovalRequestMessage"
              },
              "path": "v1/{+name}:dismiss",
              "id": "accessapproval.folders.approvalRequests.dismiss",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^folders/[^/]+/approvalRequests/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Name of the ApprovalRequest to dismiss."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "description": "Dismisses a request. Returns the updated ApprovalRequest. NOTE: This does not deny access to the resource if another request has been made and approved. It is equivalent in effect to ignoring the request altogether. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state.",
              "flatPath": "v1/folders/{foldersId}/approvalRequests/{approvalRequestsId}:dismiss",
              "response": {
                "$ref": "ApprovalRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "path": "v1/{+parent}/approvalRequests",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/folders/{foldersId}/approvalRequests",
              "id": "accessapproval.folders.approvalRequests.list",
              "response": {
                "$ref": "ListApprovalRequestsResponse"
              },
              "parameters": {
                "pageSize": {
                  "description": "Requested page size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter on the type of approval requests to retrieve. Must be one of the following values: * [not set]: Requests that are pending or have active approvals. * ALL: All requests. * PENDING: Only pending requests. * ACTIVE: Only active (i.e. currently approved) requests. * DISMISSED: Only requests that have been dismissed, or requests that are not approved and past expiration. * EXPIRED: Only requests that have been approved, and the approval has expired. * HISTORY: Active, dismissed and expired requests."
                },
                "parent": {
                  "type": "string",
                  "description": "The parent resource. This may be \"projects/{project}\", \"folders/{folder}\", or \"organizations/{organization}\".",
                  "pattern": "^folders/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A token identifying the page of results to return.",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists approval requests associated with a project, folder, or organization. Approval requests can be filtered by state (pending, active, dismissed). The order is reverse chronological."
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "approvalRequests": {
          "methods": {
            "approve": {
              "response": {
                "$ref": "ApprovalRequest"
              },
              "description": "Approves a request and returns the updated ApprovalRequest. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state.",
              "id": "accessapproval.organizations.approvalRequests.approve",
              "request": {
                "$ref": "ApproveApprovalRequestMessage"
              },
              "path": "v1/{+name}:approve",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Name of the approval request to approve.",
                  "pattern": "^organizations/[^/]+/approvalRequests/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "flatPath": "v1/organizations/{organizationsId}/approvalRequests/{approvalRequestsId}:approve"
            },
            "list": {
              "flatPath": "v1/organizations/{organizationsId}/approvalRequests",
              "response": {
                "$ref": "ListApprovalRequestsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists approval requests associated with a project, folder, or organization. Approval requests can be filtered by state (pending, active, dismissed). The order is reverse chronological.",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying the page of results to return."
                },
                "pageSize": {
                  "location": "query",
                  "description": "Requested page size.",
                  "format": "int32",
                  "type": "integer"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "A filter on the type of approval requests to retrieve. Must be one of the following values: * [not set]: Requests that are pending or have active approvals. * ALL: All requests. * PENDING: Only pending requests. * ACTIVE: Only active (i.e. currently approved) requests. * DISMISSED: Only requests that have been dismissed, or requests that are not approved and past expiration. * EXPIRED: Only requests that have been approved, and the approval has expired. * HISTORY: Active, dismissed and expired requests."
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "description": "The parent resource. This may be \"projects/{project}\", \"folders/{folder}\", or \"organizations/{organization}\".",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "path": "v1/{+parent}/approvalRequests",
              "id": "accessapproval.organizations.approvalRequests.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "path": "v1/{+name}",
              "id": "accessapproval.organizations.approvalRequests.get",
              "response": {
                "$ref": "ApprovalRequest"
              },
              "description": "Gets an approval request. Returns NOT_FOUND if the request does not exist.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/approvalRequests/{approvalRequestsId}",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "The name of the approval request to retrieve. Format: \"{projects|folders|organizations}/{id}/approvalRequests/{approval_request}\"",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/approvalRequests/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "dismiss": {
              "httpMethod": "POST",
              "response": {
                "$ref": "ApprovalRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Name of the ApprovalRequest to dismiss.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/approvalRequests/[^/]+$"
                }
              },
              "path": "v1/{+name}:dismiss",
              "flatPath": "v1/organizations/{organizationsId}/approvalRequests/{approvalRequestsId}:dismiss",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "accessapproval.organizations.approvalRequests.dismiss",
              "description": "Dismisses a request. Returns the updated ApprovalRequest. NOTE: This does not deny access to the resource if another request has been made and approved. It is equivalent in effect to ignoring the request altogether. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state.",
              "request": {
                "$ref": "DismissApprovalRequestMessage"
              }
            }
          }
        }
      },
      "methods": {
        "updateAccessApprovalSettings": {
          "flatPath": "v1/organizations/{organizationsId}/accessApprovalSettings",
          "parameters": {
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string",
              "description": "The update mask applies to the settings. Only the top level fields of AccessApprovalSettings (notification_emails & enrolled_services) are supported. For each field, if it is included, the currently stored value will be entirely overwritten with the value of the field passed in this request. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask If this field is left unset, only the notification_emails field will be updated."
            },
            "name": {
              "description": "The resource name of the settings. Format is one of: * \"projects/{project}/accessApprovalSettings\" * \"folders/{folder}/accessApprovalSettings\" * \"organizations/{organization}/accessApprovalSettings\"",
              "required": true,
              "pattern": "^organizations/[^/]+/accessApprovalSettings$",
              "type": "string",
              "location": "path"
            }
          },
          "id": "accessapproval.organizations.updateAccessApprovalSettings",
          "request": {
            "$ref": "AccessApprovalSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "AccessApprovalSettings"
          },
          "path": "v1/{+name}",
          "description": "Updates the settings associated with a project, folder, or organization. Settings to update are determined by the value of field_mask.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getAccessApprovalSettings": {
          "path": "v1/{+name}",
          "flatPath": "v1/organizations/{organizationsId}/accessApprovalSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "AccessApprovalSettings"
          },
          "httpMethod": "GET",
          "id": "accessapproval.organizations.getAccessApprovalSettings",
          "description": "Gets the settings associated with a project, folder, or organization.",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^organizations/[^/]+/accessApprovalSettings$",
              "required": true,
              "description": "The name of the AccessApprovalSettings to retrieve. Format: \"{projects|folders|organizations}/{id}/accessApprovalSettings\""
            }
          }
        },
        "deleteAccessApprovalSettings": {
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "name"
          ],
          "id": "accessapproval.organizations.deleteAccessApprovalSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Name of the AccessApprovalSettings to delete.",
              "pattern": "^organizations/[^/]+/accessApprovalSettings$"
            }
          },
          "path": "v1/{+name}",
          "flatPath": "v1/organizations/{organizationsId}/accessApprovalSettings",
          "description": "Deletes the settings associated with a project, folder, or organization. This will have the effect of disabling Access Approval for the project, folder, or organization, but only if all ancestors also have Access Approval disabled. If Access Approval is enabled at a higher level of the hierarchy, then Access Approval will still be enabled at this level as the settings are inherited."
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Access Approval",
  "version_module": true,
  "schemas": {
    "ApproveDecision": {
      "id": "ApproveDecision",
      "description": "A decision that has been made to approve access to a resource.",
      "properties": {
        "expireTime": {
          "type": "string",
          "description": "The time at which the approval expires.",
          "format": "google-datetime"
        },
        "approveTime": {
          "description": "The time at which approval was granted.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ApproveApprovalRequestMessage": {
      "description": "Request to approve an ApprovalRequest.",
      "type": "object",
      "properties": {
        "expireTime": {
          "description": "The expiration time of this approval.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "ApproveApprovalRequestMessage"
    },
    "ResourceProperties": {
      "description": "The properties associated with the resource of the request.",
      "type": "object",
      "id": "ResourceProperties",
      "properties": {
        "excludesDescendants": {
          "description": "Whether an approval will exclude the descendants of the resource being requested.",
          "type": "boolean"
        }
      }
    },
    "AccessApprovalSettings": {
      "description": "Settings on a Project/Folder/Organization related to Access Approval.",
      "id": "AccessApprovalSettings",
      "properties": {
        "enrolledAncestor": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. This field is read only (not settable via UpdateAccessApprovalSettings method). If the field is true, that indicates that at least one service is enrolled for Access Approval in one or more ancestors of the Project or Folder (this field will always be unset for the organization since organizations do not have ancestors)."
        },
        "enrolledServices": {
          "description": "A list of Google Cloud Services for which the given resource has Access Approval enrolled. Access requests for the resource given by name against any of these services contained here will be required to have explicit approval. If name refers to an organization, enrollment can be done for individual services. If name refers to a folder or project, enrollment can only be done on an all or nothing basis. If a cloud_product is repeated in this list, the first entry will be honored and all following entries will be discarded. A maximum of 10 enrolled services will be enforced, to be expanded as the set of supported services is expanded.",
          "type": "array",
          "items": {
            "$ref": "EnrolledService"
          }
        },
        "name": {
          "type": "string",
          "description": "The resource name of the settings. Format is one of: * \"projects/{project}/accessApprovalSettings\" * \"folders/{folder}/accessApprovalSettings\" * \"organizations/{organization}/accessApprovalSettings\""
        },
        "notificationEmails": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of email addresses to which notifications relating to approval requests should be sent. Notifications relating to a resource will be sent to all emails in the settings of ancestor resources of that resource. A maximum of 50 email addresses are allowed."
        }
      },
      "type": "object"
    },
    "AccessReason": {
      "properties": {
        "type": {
          "description": "Type of access justification.",
          "enumDescriptions": [
            "Default value for proto, shouldn't be used.",
            "Customer made a request or raised an issue that required the principal to access customer data. `detail` is of the form (\"#####\" is the issue ID): * \"Feedback Report: #####\" * \"Case Number: #####\" * \"Case ID: #####\" * \"E-PIN Reference: #####\" * \"Google-#####\" * \"T-#####\"",
            "The principal accessed customer data in order to diagnose or resolve a suspected issue in services or a known outage. Often this access is used to confirm that customers are not affected by a suspected service issue or to remediate a reversible system issue.",
            "Google initiated service for security, fraud, abuse, or compliance purposes."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CUSTOMER_INITIATED_SUPPORT",
            "GOOGLE_INITIATED_SERVICE",
            "GOOGLE_INITIATED_REVIEW"
          ]
        },
        "detail": {
          "type": "string",
          "description": "More detail about certain reason types. See comments for each type above."
        }
      },
      "id": "AccessReason",
      "type": "object"
    },
    "ListApprovalRequestsResponse": {
      "description": "Response to listing of ApprovalRequest objects.",
      "id": "ListApprovalRequestsResponse",
      "properties": {
        "approvalRequests": {
          "items": {
            "$ref": "ApprovalRequest"
          },
          "description": "Approval request details.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more."
        }
      },
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."
    },
    "DismissApprovalRequestMessage": {
      "description": "Request to dismiss an approval request.",
      "type": "object",
      "id": "DismissApprovalRequestMessage",
      "properties": {}
    },
    "EnrolledService": {
      "id": "EnrolledService",
      "properties": {
        "enrollmentLevel": {
          "type": "string",
          "enum": [
            "ENROLLMENT_LEVEL_UNSPECIFIED",
            "BLOCK_ALL"
          ],
          "description": "The enrollment level of the service.",
          "enumDescriptions": [
            "Default value for proto, shouldn't be used.",
            "Service is enrolled in Access Approval for all requests"
          ]
        },
        "cloudProduct": {
          "description": "The product for which Access Approval will be enrolled. Allowed values are listed below (case-sensitive): * all * GA * App Engine * BigQuery * Cloud Bigtable * Cloud Key Management Service * Compute Engine * Cloud Dataflow * Cloud DLP * Cloud EKM * Cloud HSM * Cloud Identity and Access Management * Cloud Logging * Cloud Pub/Sub * Cloud Spanner * Cloud SQL * Cloud Storage * Google Kubernetes Engine * Organization Policy Serivice * Persistent Disk * Resource Manager * Speaker ID Note: These values are supported as input for legacy purposes, but will not be returned from the API. * all * ga-only * appengine.googleapis.com * bigquery.googleapis.com * bigtable.googleapis.com * container.googleapis.com * cloudkms.googleapis.com * cloudresourcemanager.googleapis.com * cloudsql.googleapis.com * compute.googleapis.com * dataflow.googleapis.com * dlp.googleapis.com * iam.googleapis.com * logging.googleapis.com * orgpolicy.googleapis.com * pubsub.googleapis.com * spanner.googleapis.com * speakerid.googleapis.com * storage.googleapis.com Calls to UpdateAccessApprovalSettings using 'all' or any of the XXX.googleapis.com will be translated to the associated product name ('all', 'App Engine', etc.). Note: 'all' will enroll the resource in all products supported at both 'GA' and 'Preview' levels. More information about levels of support is available at https://cloud.google.com/access-approval/docs/supported-services",
          "type": "string"
        }
      },
      "description": "Represents the enrollment of a cloud resource into a specific service.",
      "type": "object"
    },
    "AccessLocations": {
      "type": "object",
      "properties": {
        "principalPhysicalLocationCountry": {
          "type": "string",
          "description": "Physical location of the principal at the time of the access. A two-letter country code (ISO 3166-1 alpha-2), such as \"US\", \"DE\" or \"GB\" or a region code. In some limited situations Google systems may refer refer to a region code instead of a country code. Possible Region Codes: * ASI: Asia * EUR: Europe * OCE: Oceania * AFR: Africa * NAM: North America * SAM: South America * ANT: Antarctica * ANY: Any location"
        },
        "principalOfficeCountry": {
          "type": "string",
          "description": "The \"home office\" location of the principal. A two-letter country code (ISO 3166-1 alpha-2), such as \"US\", \"DE\" or \"GB\" or a region code. In some limited situations Google systems may refer refer to a region code instead of a country code. Possible Region Codes: * ASI: Asia * EUR: Europe * OCE: Oceania * AFR: Africa * NAM: North America * SAM: South America * ANT: Antarctica * ANY: Any location"
        }
      },
      "id": "AccessLocations",
      "description": "Home office and physical location of the principal."
    },
    "DismissDecision": {
      "id": "DismissDecision",
      "type": "object",
      "description": "A decision that has been made to dismiss an approval request.",
      "properties": {
        "dismissTime": {
          "format": "google-datetime",
          "description": "The time at which the approval request was dismissed.",
          "type": "string"
        },
        "implicit": {
          "description": "This field will be true if the ApprovalRequest was implcitly dismissed due to inaction by the access approval approvers (the request is not acted on by the approvers before the exiration time).",
          "type": "boolean"
        }
      }
    },
    "ApprovalRequest": {
      "description": "A request for the customer to approve access to a resource.",
      "properties": {
        "dismiss": {
          "description": "The request was dismissed.",
          "$ref": "DismissDecision"
        },
        "requestedExpiration": {
          "type": "string",
          "description": "The requested expiration for the approval. If the request is approved, access will be granted from the time of approval until the expiration time.",
          "format": "google-datetime"
        },
        "requestTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which approval was requested."
        },
        "requestedResourceProperties": {
          "$ref": "ResourceProperties",
          "description": "Properties related to the resource represented by requested_resource_name."
        },
        "requestedReason": {
          "description": "The justification for which approval is being requested.",
          "$ref": "AccessReason"
        },
        "name": {
          "description": "The resource name of the request. Format is \"{projects|folders|organizations}/{id}/approvalRequests/{approval_request}\".",
          "type": "string"
        },
        "approve": {
          "description": "Access was approved.",
          "$ref": "ApproveDecision"
        },
        "requestedResourceName": {
          "type": "string",
          "description": "The resource for which approval is being requested. The format of the resource name is defined at https://cloud.google.com/apis/design/resource_names. The resource name here may either be a \"full\" resource name (e.g. \"//library.googleapis.com/shelves/shelf1/books/book2\") or a \"relative\" resource name (e.g. \"shelves/shelf1/books/book2\") as described in the resource name specification."
        },
        "requestedLocations": {
          "$ref": "AccessLocations",
          "description": "The locations for which approval is being requested."
        }
      },
      "type": "object",
      "id": "ApprovalRequest"
    }
  },
  "kind": "discovery#restDescription",
  "basePath": "",
  "id": "accessapproval:v1",
  "revision": "20211130",
  "ownerDomain": "google.com"
}
