{
  "revision": "20230224",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/cloud-provider-access-management/access-approval/docs",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "id": "accessapproval:v1",
  "title": "Access Approval API",
  "mtlsRootUrl": "https://accessapproval.mtls.googleapis.com/",
  "name": "accessapproval",
  "schemas": {
    "ResourceProperties": {
      "type": "object",
      "id": "ResourceProperties",
      "properties": {
        "excludesDescendants": {
          "description": "Whether an approval will exclude the descendants of the resource being requested.",
          "type": "boolean"
        }
      },
      "description": "The properties associated with the resource of the request."
    },
    "ApproveDecision": {
      "properties": {
        "invalidateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "If set, denotes the timestamp at which the approval is invalidated."
        },
        "signatureInfo": {
          "description": "The signature for the ApprovalRequest and details on how it was signed.",
          "$ref": "SignatureInfo"
        },
        "approveTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which approval was granted."
        },
        "expireTime": {
          "description": "The time at which the approval expires.",
          "type": "string",
          "format": "google-datetime"
        },
        "autoApproved": {
          "type": "boolean",
          "description": "True when the request has been auto-approved."
        }
      },
      "type": "object",
      "id": "ApproveDecision",
      "description": "A decision that has been made to approve access to a resource."
    },
    "AccessReason": {
      "properties": {
        "detail": {
          "type": "string",
          "description": "More detail about certain reason types. See comments for each type above."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "CUSTOMER_INITIATED_SUPPORT",
            "GOOGLE_INITIATED_SERVICE",
            "GOOGLE_INITIATED_REVIEW",
            "THIRD_PARTY_DATA_REQUEST",
            "GOOGLE_RESPONSE_TO_PRODUCTION_ALERT"
          ],
          "enumDescriptions": [
            "Default value for proto, shouldn't be used.",
            "Customer made a request or raised an issue that required the principal to access customer data. `detail` is of the form (\"#####\" is the issue ID): * \"Feedback Report: #####\" * \"Case Number: #####\" * \"Case ID: #####\" * \"E-PIN Reference: #####\" * \"Google-#####\" * \"T-#####\"",
            "The principal accessed customer data in order to diagnose or resolve a suspected issue in services. Often this access is used to confirm that customers are not affected by a suspected service issue or to remediate a reversible system issue.",
            "Google initiated service for security, fraud, abuse, or compliance purposes.",
            "The principal was compelled to access customer data in order to respond to a legal third party data request or process, including legal processes from customers themselves.",
            "The principal accessed customer data in order to diagnose or resolve a suspected issue in services or a known outage."
          ],
          "type": "string",
          "description": "Type of access justification."
        }
      },
      "type": "object",
      "id": "AccessReason"
    },
    "EnrolledService": {
      "id": "EnrolledService",
      "properties": {
        "cloudProduct": {
          "description": "The product for which Access Approval will be enrolled. Allowed values are listed below (case-sensitive): * all * GA * App Engine * Artifact Registry * BigQuery * Cloud Bigtable * Cloud Key Management Service * Compute Engine * Cloud Composer * Cloud Dataflow * Cloud Dataproc * Cloud DLP * Cloud EKM * Cloud HSM * Cloud Identity and Access Management * Cloud Logging * Cloud NAT * Cloud Pub/Sub * Cloud Spanner * Cloud SQL * Cloud Storage * Google Kubernetes Engine * Organization Policy Serivice * Persistent Disk * Resource Manager * Secret Manager * Speaker ID Note: These values are supported as input for legacy purposes, but will not be returned from the API. * all * ga-only * appengine.googleapis.com * artifactregistry.googleapis.com * bigquery.googleapis.com * bigtable.googleapis.com * container.googleapis.com * cloudkms.googleapis.com * cloudresourcemanager.googleapis.com * cloudsql.googleapis.com * compute.googleapis.com * dataflow.googleapis.com * dataproc.googleapis.com * dlp.googleapis.com * iam.googleapis.com * logging.googleapis.com * orgpolicy.googleapis.com * pubsub.googleapis.com * spanner.googleapis.com * secretmanager.googleapis.com * speakerid.googleapis.com * storage.googleapis.com Calls to UpdateAccessApprovalSettings using 'all' or any of the XXX.googleapis.com will be translated to the associated product name ('all', 'App Engine', etc.). Note: 'all' will enroll the resource in all products supported at both 'GA' and 'Preview' levels. More information about levels of support is available at https://cloud.google.com/access-approval/docs/supported-services",
          "type": "string"
        },
        "enrollmentLevel": {
          "enum": [
            "ENROLLMENT_LEVEL_UNSPECIFIED",
            "BLOCK_ALL"
          ],
          "type": "string",
          "description": "The enrollment level of the service.",
          "enumDescriptions": [
            "Default value for proto, shouldn't be used.",
            "Service is enrolled in Access Approval for all requests"
          ]
        }
      },
      "type": "object",
      "description": "Represents the enrollment of a cloud resource into a specific service."
    },
    "DismissApprovalRequestMessage": {
      "description": "Request to dismiss an approval request.",
      "id": "DismissApprovalRequestMessage",
      "properties": {},
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object"
    },
    "AccessApprovalServiceAccount": {
      "type": "object",
      "description": "Access Approval service account related to a project/folder/organization.",
      "id": "AccessApprovalServiceAccount",
      "properties": {
        "accountEmail": {
          "type": "string",
          "description": "Email address of the service account."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the Access Approval service account. Format is one of: * \"projects/{project}/serviceAccount\" * \"folders/{folder}/serviceAccount\" * \"organizations/{organization}/serviceAccount\""
        }
      }
    },
    "ListApprovalRequestsResponse": {
      "description": "Response to listing of ApprovalRequest objects.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more."
        },
        "approvalRequests": {
          "items": {
            "$ref": "ApprovalRequest"
          },
          "description": "Approval request details.",
          "type": "array"
        }
      },
      "id": "ListApprovalRequestsResponse"
    },
    "AccessApprovalSettings": {
      "id": "AccessApprovalSettings",
      "type": "object",
      "description": "Settings on a Project/Folder/Organization related to Access Approval.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the settings. Format is one of: * \"projects/{project}/accessApprovalSettings\" * \"folders/{folder}/accessApprovalSettings\" * \"organizations/{organization}/accessApprovalSettings\""
        },
        "activeKeyVersion": {
          "type": "string",
          "description": "The asymmetric crypto key version to use for signing approval requests. Empty active_key_version indicates that a Google-managed key should be used for signing. This property will be ignored if set by an ancestor of this resource, and new non-empty values may not be set."
        },
        "notificationEmails": {
          "description": "A list of email addresses to which notifications relating to approval requests should be sent. Notifications relating to a resource will be sent to all emails in the settings of ancestor resources of that resource. A maximum of 50 email addresses are allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enrolledServices": {
          "items": {
            "$ref": "EnrolledService"
          },
          "description": "A list of Google Cloud Services for which the given resource has Access Approval enrolled. Access requests for the resource given by name against any of these services contained here will be required to have explicit approval. If name refers to an organization, enrollment can be done for individual services. If name refers to a folder or project, enrollment can only be done on an all or nothing basis. If a cloud_product is repeated in this list, the first entry will be honored and all following entries will be discarded. A maximum of 10 enrolled services will be enforced, to be expanded as the set of supported services is expanded.",
          "type": "array"
        },
        "invalidKeyVersion": {
          "description": "Output only. This field is read only (not settable via UpdateAccessApprovalSettings method). If the field is true, that indicates that there is some configuration issue with the active_key_version configured at this level in the resource hierarchy (e.g. it doesn't exist or the Access Approval service account doesn't have the correct permissions on it, etc.) This key version is not necessarily the effective key version at this level, as key versions are inherited top-down.",
          "readOnly": true,
          "type": "boolean"
        },
        "enrolledAncestor": {
          "description": "Output only. This field is read only (not settable via UpdateAccessApprovalSettings method). If the field is true, that indicates that at least one service is enrolled for Access Approval in one or more ancestors of the Project or Folder (this field will always be unset for the organization since organizations do not have ancestors).",
          "type": "boolean",
          "readOnly": true
        },
        "ancestorHasActiveKeyVersion": {
          "description": "Output only. This field is read only (not settable via UpdateAccessApprovalSettings method). If the field is true, that indicates that an ancestor of this Project or Folder has set active_key_version (this field will always be unset for the organization since organizations do not have ancestors).",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "DismissDecision": {
      "id": "DismissDecision",
      "properties": {
        "dismissTime": {
          "description": "The time at which the approval request was dismissed.",
          "type": "string",
          "format": "google-datetime"
        },
        "implicit": {
          "type": "boolean",
          "description": "This field will be true if the ApprovalRequest was implicitly dismissed due to inaction by the access approval approvers (the request is not acted on by the approvers before the exiration time)."
        }
      },
      "description": "A decision that has been made to dismiss an approval request.",
      "type": "object"
    },
    "ApproveApprovalRequestMessage": {
      "properties": {
        "expireTime": {
          "type": "string",
          "description": "The expiration time of this approval.",
          "format": "google-datetime"
        }
      },
      "description": "Request to approve an ApprovalRequest.",
      "type": "object",
      "id": "ApproveApprovalRequestMessage"
    },
    "InvalidateApprovalRequestMessage": {
      "id": "InvalidateApprovalRequestMessage",
      "type": "object",
      "description": "Request to invalidate an existing approval.",
      "properties": {}
    },
    "AccessLocations": {
      "description": "Home office and physical location of the principal.",
      "properties": {
        "principalOfficeCountry": {
          "description": "The \"home office\" location of the principal. A two-letter country code (ISO 3166-1 alpha-2), such as \"US\", \"DE\" or \"GB\" or a region code. In some limited situations Google systems may refer refer to a region code instead of a country code. Possible Region Codes: * ASI: Asia * EUR: Europe * OCE: Oceania * AFR: Africa * NAM: North America * SAM: South America * ANT: Antarctica * ANY: Any location",
          "type": "string"
        },
        "principalPhysicalLocationCountry": {
          "description": "Physical location of the principal at the time of the access. A two-letter country code (ISO 3166-1 alpha-2), such as \"US\", \"DE\" or \"GB\" or a region code. In some limited situations Google systems may refer refer to a region code instead of a country code. Possible Region Codes: * ASI: Asia * EUR: Europe * OCE: Oceania * AFR: Africa * NAM: North America * SAM: South America * ANT: Antarctica * ANY: Any location",
          "type": "string"
        }
      },
      "id": "AccessLocations",
      "type": "object"
    },
    "ApprovalRequest": {
      "description": "A request for the customer to approve access to a resource.",
      "id": "ApprovalRequest",
      "type": "object",
      "properties": {
        "requestedReason": {
          "description": "The justification for which approval is being requested.",
          "$ref": "AccessReason"
        },
        "requestedResourceProperties": {
          "description": "Properties related to the resource represented by requested_resource_name.",
          "$ref": "ResourceProperties"
        },
        "requestedLocations": {
          "$ref": "AccessLocations",
          "description": "The locations for which approval is being requested."
        },
        "dismiss": {
          "$ref": "DismissDecision",
          "description": "The request was dismissed."
        },
        "requestTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which approval was requested."
        },
        "requestedExpiration": {
          "format": "google-datetime",
          "description": "The requested expiration for the approval. If the request is approved, access will be granted from the time of approval until the expiration time.",
          "type": "string"
        },
        "requestedResourceName": {
          "type": "string",
          "description": "The resource for which approval is being requested. The format of the resource name is defined at https://cloud.google.com/apis/design/resource_names. The resource name here may either be a \"full\" resource name (e.g. \"//library.googleapis.com/shelves/shelf1/books/book2\") or a \"relative\" resource name (e.g. \"shelves/shelf1/books/book2\") as described in the resource name specification."
        },
        "name": {
          "description": "The resource name of the request. Format is \"{projects|folders|organizations}/{id}/approvalRequests/{approval_request}\".",
          "type": "string"
        },
        "approve": {
          "$ref": "ApproveDecision",
          "description": "Access was approved."
        }
      }
    },
    "SignatureInfo": {
      "description": "Information about the digital signature of the resource.",
      "id": "SignatureInfo",
      "type": "object",
      "properties": {
        "signature": {
          "type": "string",
          "description": "The digital signature.",
          "format": "byte"
        },
        "googlePublicKeyPem": {
          "type": "string",
          "description": "The public key for the Google default signing, encoded in PEM format. The signature was created using a private key which may be verified using this public key."
        },
        "customerKmsKeyVersion": {
          "description": "The resource name of the customer CryptoKeyVersion used for signing.",
          "type": "string"
        }
      }
    }
  },
  "canonicalName": "Access Approval",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://accessapproval.googleapis.com/",
  "batchPath": "batch",
  "ownerName": "Google",
  "protocol": "rest",
  "rootUrl": "https://accessapproval.googleapis.com/",
  "basePath": "",
  "kind": "discovery#restDescription",
  "resources": {
    "organizations": {
      "methods": {
        "getServiceAccount": {
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^organizations/[^/]+/serviceAccount$",
              "required": true,
              "location": "path",
              "description": "Name of the AccessApprovalServiceAccount to retrieve."
            }
          },
          "path": "v1/{+name}",
          "flatPath": "v1/organizations/{organizationsId}/serviceAccount",
          "description": "Retrieves the service account that is used by Access Approval to access KMS keys for signing approved approval requests.",
          "httpMethod": "GET",
          "response": {
            "$ref": "AccessApprovalServiceAccount"
          },
          "id": "accessapproval.organizations.getServiceAccount"
        },
        "deleteAccessApprovalSettings": {
          "path": "v1/{+name}",
          "response": {
            "$ref": "Empty"
          },
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/accessApprovalSettings$",
              "required": true,
              "description": "Name of the AccessApprovalSettings to delete.",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Deletes the settings associated with a project, folder, or organization. This will have the effect of disabling Access Approval for the project, folder, or organization, but only if all ancestors also have Access Approval disabled. If Access Approval is enabled at a higher level of the hierarchy, then Access Approval will still be enabled at this level as the settings are inherited.",
          "id": "accessapproval.organizations.deleteAccessApprovalSettings",
          "httpMethod": "DELETE",
          "flatPath": "v1/organizations/{organizationsId}/accessApprovalSettings",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "updateAccessApprovalSettings": {
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "pattern": "^organizations/[^/]+/accessApprovalSettings$",
              "type": "string",
              "description": "The resource name of the settings. Format is one of: * \"projects/{project}/accessApprovalSettings\" * \"folders/{folder}/accessApprovalSettings\" * \"organizations/{organization}/accessApprovalSettings\""
            },
            "updateMask": {
              "format": "google-fieldmask",
              "description": "The update mask applies to the settings. Only the top level fields of AccessApprovalSettings (notification_emails & enrolled_services) are supported. For each field, if it is included, the currently stored value will be entirely overwritten with the value of the field passed in this request. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask If this field is left unset, only the notification_emails field will be updated.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1/{+name}",
          "flatPath": "v1/organizations/{organizationsId}/accessApprovalSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Updates the settings associated with a project, folder, or organization. Settings to update are determined by the value of field_mask.",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "AccessApprovalSettings"
          },
          "id": "accessapproval.organizations.updateAccessApprovalSettings",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "AccessApprovalSettings"
          }
        },
        "getAccessApprovalSettings": {
          "response": {
            "$ref": "AccessApprovalSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/organizations/{organizationsId}/accessApprovalSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^organizations/[^/]+/accessApprovalSettings$",
              "description": "The name of the AccessApprovalSettings to retrieve. Format: \"{projects|folders|organizations}/{id}/accessApprovalSettings\"",
              "required": true,
              "type": "string"
            }
          },
          "description": "Gets the settings associated with a project, folder, or organization.",
          "id": "accessapproval.organizations.getAccessApprovalSettings"
        }
      },
      "resources": {
        "approvalRequests": {
          "methods": {
            "approve": {
              "path": "v1/{+name}:approve",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "ApproveApprovalRequestMessage"
              },
              "description": "Approves a request and returns the updated ApprovalRequest. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state.",
              "httpMethod": "POST",
              "id": "accessapproval.organizations.approvalRequests.approve",
              "flatPath": "v1/organizations/{organizationsId}/approvalRequests/{approvalRequestsId}:approve",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+/approvalRequests/[^/]+$",
                  "description": "Name of the approval request to approve."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ApprovalRequest"
              }
            },
            "get": {
              "response": {
                "$ref": "ApprovalRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets an approval request. Returns NOT_FOUND if the request does not exist.",
              "flatPath": "v1/organizations/{organizationsId}/approvalRequests/{approvalRequestsId}",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "The name of the approval request to retrieve. Format: \"{projects|folders|organizations}/{id}/approvalRequests/{approval_request}\"",
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/approvalRequests/[^/]+$"
                }
              },
              "id": "accessapproval.organizations.approvalRequests.get"
            },
            "dismiss": {
              "path": "v1/{+name}:dismiss",
              "flatPath": "v1/organizations/{organizationsId}/approvalRequests/{approvalRequestsId}:dismiss",
              "id": "accessapproval.organizations.approvalRequests.dismiss",
              "response": {
                "$ref": "ApprovalRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Dismisses a request. Returns the updated ApprovalRequest. NOTE: This does not deny access to the resource if another request has been made and approved. It is equivalent in effect to ignoring the request altogether. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state.",
              "request": {
                "$ref": "DismissApprovalRequestMessage"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Name of the ApprovalRequest to dismiss.",
                  "pattern": "^organizations/[^/]+/approvalRequests/[^/]+$"
                }
              },
              "httpMethod": "POST"
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Requested page size.",
                  "format": "int32"
                },
                "filter": {
                  "description": "A filter on the type of approval requests to retrieve. Must be one of the following values: * [not set]: Requests that are pending or have active approvals. * ALL: All requests. * PENDING: Only pending requests. * ACTIVE: Only active (i.e. currently approved) requests. * DISMISSED: Only requests that have been dismissed, or requests that are not approved and past expiration. * EXPIRED: Only requests that have been approved, and the approval has expired. * HISTORY: Active, dismissed and expired requests.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "description": "The parent resource. This may be \"projects/{project}\", \"folders/{folder}\", or \"organizations/{organization}\".",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A token identifying the page of results to return.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/approvalRequests",
              "id": "accessapproval.organizations.approvalRequests.list",
              "description": "Lists approval requests associated with a project, folder, or organization. Approval requests can be filtered by state (pending, active, dismissed). The order is reverse chronological.",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "path": "v1/{+parent}/approvalRequests",
              "response": {
                "$ref": "ListApprovalRequestsResponse"
              }
            },
            "invalidate": {
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/approvalRequests/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Name of the ApprovalRequest to invalidate."
                }
              },
              "response": {
                "$ref": "ApprovalRequest"
              },
              "request": {
                "$ref": "InvalidateApprovalRequestMessage"
              },
              "path": "v1/{+name}:invalidate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "accessapproval.organizations.approvalRequests.invalidate",
              "flatPath": "v1/organizations/{organizationsId}/approvalRequests/{approvalRequestsId}:invalidate",
              "httpMethod": "POST",
              "description": "Invalidates an existing ApprovalRequest. Returns the updated ApprovalRequest. NOTE: This does not deny access to the resource if another request has been made and approved. It only invalidates a single approval. Returns FAILED_PRECONDITION if the request exists but is not in an approved state.",
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "approvalRequests": {
          "methods": {
            "invalidate": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ApprovalRequest"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Name of the ApprovalRequest to invalidate.",
                  "pattern": "^projects/[^/]+/approvalRequests/[^/]+$"
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "description": "Invalidates an existing ApprovalRequest. Returns the updated ApprovalRequest. NOTE: This does not deny access to the resource if another request has been made and approved. It only invalidates a single approval. Returns FAILED_PRECONDITION if the request exists but is not in an approved state.",
              "flatPath": "v1/projects/{projectsId}/approvalRequests/{approvalRequestsId}:invalidate",
              "request": {
                "$ref": "InvalidateApprovalRequestMessage"
              },
              "path": "v1/{+name}:invalidate",
              "id": "accessapproval.projects.approvalRequests.invalidate"
            },
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/approvalRequests",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/approvalRequests",
              "response": {
                "$ref": "ListApprovalRequestsResponse"
              },
              "id": "accessapproval.projects.approvalRequests.list",
              "description": "Lists approval requests associated with a project, folder, or organization. Approval requests can be filtered by state (pending, active, dismissed). The order is reverse chronological.",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A token identifying the page of results to return.",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "description": "The parent resource. This may be \"projects/{project}\", \"folders/{folder}\", or \"organizations/{organization}\".",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Requested page size.",
                  "location": "query",
                  "format": "int32"
                },
                "filter": {
                  "location": "query",
                  "description": "A filter on the type of approval requests to retrieve. Must be one of the following values: * [not set]: Requests that are pending or have active approvals. * ALL: All requests. * PENDING: Only pending requests. * ACTIVE: Only active (i.e. currently approved) requests. * DISMISSED: Only requests that have been dismissed, or requests that are not approved and past expiration. * EXPIRED: Only requests that have been approved, and the approval has expired. * HISTORY: Active, dismissed and expired requests.",
                  "type": "string"
                }
              }
            },
            "get": {
              "path": "v1/{+name}",
              "description": "Gets an approval request. Returns NOT_FOUND if the request does not exist.",
              "id": "accessapproval.projects.approvalRequests.get",
              "flatPath": "v1/projects/{projectsId}/approvalRequests/{approvalRequestsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/approvalRequests/[^/]+$",
                  "description": "The name of the approval request to retrieve. Format: \"{projects|folders|organizations}/{id}/approvalRequests/{approval_request}\"",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ApprovalRequest"
              },
              "httpMethod": "GET"
            },
            "approve": {
              "parameterOrder": [
                "name"
              ],
              "description": "Approves a request and returns the updated ApprovalRequest. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state.",
              "id": "accessapproval.projects.approvalRequests.approve",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/approvalRequests/[^/]+$",
                  "description": "Name of the approval request to approve.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1/{+name}:approve",
              "response": {
                "$ref": "ApprovalRequest"
              },
              "request": {
                "$ref": "ApproveApprovalRequestMessage"
              },
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/approvalRequests/{approvalRequestsId}:approve"
            },
            "dismiss": {
              "description": "Dismisses a request. Returns the updated ApprovalRequest. NOTE: This does not deny access to the resource if another request has been made and approved. It is equivalent in effect to ignoring the request altogether. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state.",
              "id": "accessapproval.projects.approvalRequests.dismiss",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/approvalRequests/[^/]+$",
                  "type": "string",
                  "description": "Name of the ApprovalRequest to dismiss."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}:dismiss",
              "request": {
                "$ref": "DismissApprovalRequestMessage"
              },
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/approvalRequests/{approvalRequestsId}:dismiss",
              "response": {
                "$ref": "ApprovalRequest"
              }
            }
          }
        }
      },
      "methods": {
        "getServiceAccount": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+/serviceAccount$",
              "required": true,
              "description": "Name of the AccessApprovalServiceAccount to retrieve."
            }
          },
          "id": "accessapproval.projects.getServiceAccount",
          "description": "Retrieves the service account that is used by Access Approval to access KMS keys for signing approved approval requests.",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/projects/{projectsId}/serviceAccount",
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "response": {
            "$ref": "AccessApprovalServiceAccount"
          }
        },
        "updateAccessApprovalSettings": {
          "request": {
            "$ref": "AccessApprovalSettings"
          },
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/accessApprovalSettings$",
              "description": "The resource name of the settings. Format is one of: * \"projects/{project}/accessApprovalSettings\" * \"folders/{folder}/accessApprovalSettings\" * \"organizations/{organization}/accessApprovalSettings\"",
              "type": "string",
              "location": "path",
              "required": true
            },
            "updateMask": {
              "description": "The update mask applies to the settings. Only the top level fields of AccessApprovalSettings (notification_emails & enrolled_services) are supported. For each field, if it is included, the currently stored value will be entirely overwritten with the value of the field passed in this request. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask If this field is left unset, only the notification_emails field will be updated.",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "path": "v1/{+name}",
          "response": {
            "$ref": "AccessApprovalSettings"
          },
          "description": "Updates the settings associated with a project, folder, or organization. Settings to update are determined by the value of field_mask.",
          "id": "accessapproval.projects.updateAccessApprovalSettings",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/projects/{projectsId}/accessApprovalSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "PATCH"
        },
        "deleteAccessApprovalSettings": {
          "parameters": {
            "name": {
              "location": "path",
              "description": "Name of the AccessApprovalSettings to delete.",
              "pattern": "^projects/[^/]+/accessApprovalSettings$",
              "type": "string",
              "required": true
            }
          },
          "id": "accessapproval.projects.deleteAccessApprovalSettings",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "DELETE",
          "flatPath": "v1/projects/{projectsId}/accessApprovalSettings",
          "description": "Deletes the settings associated with a project, folder, or organization. This will have the effect of disabling Access Approval for the project, folder, or organization, but only if all ancestors also have Access Approval disabled. If Access Approval is enabled at a higher level of the hierarchy, then Access Approval will still be enabled at this level as the settings are inherited.",
          "path": "v1/{+name}",
          "response": {
            "$ref": "Empty"
          }
        },
        "getAccessApprovalSettings": {
          "id": "accessapproval.projects.getAccessApprovalSettings",
          "description": "Gets the settings associated with a project, folder, or organization.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^projects/[^/]+/accessApprovalSettings$",
              "type": "string",
              "description": "The name of the AccessApprovalSettings to retrieve. Format: \"{projects|folders|organizations}/{id}/accessApprovalSettings\"",
              "required": true
            }
          },
          "response": {
            "$ref": "AccessApprovalSettings"
          },
          "flatPath": "v1/projects/{projectsId}/accessApprovalSettings"
        }
      }
    },
    "folders": {
      "resources": {
        "approvalRequests": {
          "methods": {
            "dismiss": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/folders/{foldersId}/approvalRequests/{approvalRequestsId}:dismiss",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ApprovalRequest"
              },
              "request": {
                "$ref": "DismissApprovalRequestMessage"
              },
              "httpMethod": "POST",
              "id": "accessapproval.folders.approvalRequests.dismiss",
              "path": "v1/{+name}:dismiss",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^folders/[^/]+/approvalRequests/[^/]+$",
                  "description": "Name of the ApprovalRequest to dismiss."
                }
              },
              "description": "Dismisses a request. Returns the updated ApprovalRequest. NOTE: This does not deny access to the resource if another request has been made and approved. It is equivalent in effect to ignoring the request altogether. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state."
            },
            "approve": {
              "request": {
                "$ref": "ApproveApprovalRequestMessage"
              },
              "parameters": {
                "name": {
                  "description": "Name of the approval request to approve.",
                  "pattern": "^folders/[^/]+/approvalRequests/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "accessapproval.folders.approvalRequests.approve",
              "response": {
                "$ref": "ApprovalRequest"
              },
              "path": "v1/{+name}:approve",
              "parameterOrder": [
                "name"
              ],
              "description": "Approves a request and returns the updated ApprovalRequest. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/folders/{foldersId}/approvalRequests/{approvalRequestsId}:approve"
            },
            "list": {
              "path": "v1/{+parent}/approvalRequests",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists approval requests associated with a project, folder, or organization. Approval requests can be filtered by state (pending, active, dismissed). The order is reverse chronological.",
              "response": {
                "$ref": "ListApprovalRequestsResponse"
              },
              "id": "accessapproval.folders.approvalRequests.list",
              "flatPath": "v1/folders/{foldersId}/approvalRequests",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A token identifying the page of results to return.",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Requested page size."
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "A filter on the type of approval requests to retrieve. Must be one of the following values: * [not set]: Requests that are pending or have active approvals. * ALL: All requests. * PENDING: Only pending requests. * ACTIVE: Only active (i.e. currently approved) requests. * DISMISSED: Only requests that have been dismissed, or requests that are not approved and past expiration. * EXPIRED: Only requests that have been approved, and the approval has expired. * HISTORY: Active, dismissed and expired requests."
                },
                "parent": {
                  "type": "string",
                  "pattern": "^folders/[^/]+$",
                  "description": "The parent resource. This may be \"projects/{project}\", \"folders/{folder}\", or \"organizations/{organization}\".",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "id": "accessapproval.folders.approvalRequests.get",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The name of the approval request to retrieve. Format: \"{projects|folders|organizations}/{id}/approvalRequests/{approval_request}\"",
                  "pattern": "^folders/[^/]+/approvalRequests/[^/]+$"
                }
              },
              "description": "Gets an approval request. Returns NOT_FOUND if the request does not exist.",
              "flatPath": "v1/folders/{foldersId}/approvalRequests/{approvalRequestsId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ApprovalRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "path": "v1/{+name}"
            },
            "invalidate": {
              "id": "accessapproval.folders.approvalRequests.invalidate",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^folders/[^/]+/approvalRequests/[^/]+$",
                  "description": "Name of the ApprovalRequest to invalidate.",
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v1/{+name}:invalidate",
              "request": {
                "$ref": "InvalidateApprovalRequestMessage"
              },
              "description": "Invalidates an existing ApprovalRequest. Returns the updated ApprovalRequest. NOTE: This does not deny access to the resource if another request has been made and approved. It only invalidates a single approval. Returns FAILED_PRECONDITION if the request exists but is not in an approved state.",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ApprovalRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/folders/{foldersId}/approvalRequests/{approvalRequestsId}:invalidate"
            }
          }
        }
      },
      "methods": {
        "updateAccessApprovalSettings": {
          "flatPath": "v1/folders/{foldersId}/accessApprovalSettings",
          "httpMethod": "PATCH",
          "description": "Updates the settings associated with a project, folder, or organization. Settings to update are determined by the value of field_mask.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^folders/[^/]+/accessApprovalSettings$",
              "location": "path",
              "required": true,
              "description": "The resource name of the settings. Format is one of: * \"projects/{project}/accessApprovalSettings\" * \"folders/{folder}/accessApprovalSettings\" * \"organizations/{organization}/accessApprovalSettings\""
            },
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string",
              "description": "The update mask applies to the settings. Only the top level fields of AccessApprovalSettings (notification_emails & enrolled_services) are supported. For each field, if it is included, the currently stored value will be entirely overwritten with the value of the field passed in this request. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask If this field is left unset, only the notification_emails field will be updated."
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "AccessApprovalSettings"
          },
          "id": "accessapproval.folders.updateAccessApprovalSettings",
          "path": "v1/{+name}",
          "request": {
            "$ref": "AccessApprovalSettings"
          }
        },
        "getAccessApprovalSettings": {
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^folders/[^/]+/accessApprovalSettings$",
              "required": true,
              "description": "The name of the AccessApprovalSettings to retrieve. Format: \"{projects|folders|organizations}/{id}/accessApprovalSettings\"",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Gets the settings associated with a project, folder, or organization.",
          "path": "v1/{+name}",
          "response": {
            "$ref": "AccessApprovalSettings"
          },
          "flatPath": "v1/folders/{foldersId}/accessApprovalSettings",
          "id": "accessapproval.folders.getAccessApprovalSettings",
          "parameterOrder": [
            "name"
          ]
        },
        "getServiceAccount": {
          "id": "accessapproval.folders.getServiceAccount",
          "path": "v1/{+name}",
          "response": {
            "$ref": "AccessApprovalServiceAccount"
          },
          "parameters": {
            "name": {
              "type": "string",
              "description": "Name of the AccessApprovalServiceAccount to retrieve.",
              "pattern": "^folders/[^/]+/serviceAccount$",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "v1/folders/{foldersId}/serviceAccount",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "description": "Retrieves the service account that is used by Access Approval to access KMS keys for signing approved approval requests."
        },
        "deleteAccessApprovalSettings": {
          "httpMethod": "DELETE",
          "description": "Deletes the settings associated with a project, folder, or organization. This will have the effect of disabling Access Approval for the project, folder, or organization, but only if all ancestors also have Access Approval disabled. If Access Approval is enabled at a higher level of the hierarchy, then Access Approval will still be enabled at this level as the settings are inherited.",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Name of the AccessApprovalSettings to delete.",
              "pattern": "^folders/[^/]+/accessApprovalSettings$",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/folders/{foldersId}/accessApprovalSettings",
          "id": "accessapproval.folders.deleteAccessApprovalSettings",
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ]
        }
      }
    }
  },
  "version": "v1",
  "ownerDomain": "google.com",
  "servicePath": "",
  "version_module": true,
  "description": "An API for controlling access to data by Google personnel."
}
