{
  "documentationLink": "https://cloud.google.com/access-approval/docs",
  "basePath": "",
  "rootUrl": "https://accessapproval.googleapis.com/",
  "mtlsRootUrl": "https://accessapproval.mtls.googleapis.com/",
  "batchPath": "batch",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version_module": true,
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "kind": "discovery#restDescription",
  "title": "Access Approval API",
  "version": "v1",
  "discoveryVersion": "v1",
  "revision": "20200930",
  "canonicalName": "Access Approval",
  "schemas": {
    "Empty": {
      "properties": {},
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."
    },
    "ResourceProperties": {
      "id": "ResourceProperties",
      "description": "The properties associated with the resource of the request.",
      "properties": {
        "excludesDescendants": {
          "type": "boolean",
          "description": "Whether an approval will exclude the descendants of the resource being requested."
        }
      },
      "type": "object"
    },
    "ListApprovalRequestsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more."
        },
        "approvalRequests": {
          "items": {
            "$ref": "ApprovalRequest"
          },
          "description": "Approval request details.",
          "type": "array"
        }
      },
      "description": "Response to listing of ApprovalRequest objects.",
      "type": "object",
      "id": "ListApprovalRequestsResponse"
    },
    "AccessApprovalSettings": {
      "id": "AccessApprovalSettings",
      "type": "object",
      "properties": {
        "enrolledServices": {
          "items": {
            "$ref": "EnrolledService"
          },
          "type": "array",
          "description": "A list of Google Cloud Services for which the given resource has Access Approval enrolled. Access requests for the resource given by name against any of these services contained here will be required to have explicit approval. If name refers to an organization, enrollment can be done for individual services. If name refers to a folder or project, enrollment can only be done on an all or nothing basis. If a cloud_product is repeated in this list, the first entry will be honored and all following entries will be discarded. A maximum of 10 enrolled services will be enforced, to be expanded as the set of supported services is expanded."
        },
        "notificationEmails": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of email addresses to which notifications relating to approval requests should be sent. Notifications relating to a resource will be sent to all emails in the settings of ancestor resources of that resource. A maximum of 50 email addresses are allowed."
        },
        "name": {
          "description": "The resource name of the settings. Format is one of: * \"projects/{project}/accessApprovalSettings\" * \"folders/{folder}/accessApprovalSettings\" * \"organizations/{organization}/accessApprovalSettings\"",
          "type": "string"
        },
        "enrolledAncestor": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. This field is read only (not settable via UpdateAccessAccessApprovalSettings method). If the field is true, that indicates that at least one service is enrolled for Access Approval in one or more ancestors of the Project or Folder (this field will always be unset for the organization since organizations do not have ancestors)."
        }
      },
      "description": "Settings on a Project/Folder/Organization related to Access Approval."
    },
    "ApproveApprovalRequestMessage": {
      "type": "object",
      "description": "Request to approve an ApprovalRequest.",
      "id": "ApproveApprovalRequestMessage",
      "properties": {
        "expireTime": {
          "description": "The expiration time of this approval.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "AccessLocations": {
      "properties": {
        "principalOfficeCountry": {
          "description": "The \"home office\" location of the principal. A two-letter country code (ISO 3166-1 alpha-2), such as \"US\", \"DE\" or \"GB\" or a region code. In some limited situations Google systems may refer refer to a region code instead of a country code. Possible Region Codes: * ASI: Asia * EUR: Europe * OCE: Oceania * AFR: Africa * NAM: North America * SAM: South America * ANT: Antarctica * ANY: Any location",
          "type": "string"
        },
        "principalPhysicalLocationCountry": {
          "type": "string",
          "description": "Physical location of the principal at the time of the access. A two-letter country code (ISO 3166-1 alpha-2), such as \"US\", \"DE\" or \"GB\" or a region code. In some limited situations Google systems may refer refer to a region code instead of a country code. Possible Region Codes: * ASI: Asia * EUR: Europe * OCE: Oceania * AFR: Africa * NAM: North America * SAM: South America * ANT: Antarctica * ANY: Any location"
        }
      },
      "description": "Home office and physical location of the principal.",
      "type": "object",
      "id": "AccessLocations"
    },
    "ApproveDecision": {
      "id": "ApproveDecision",
      "type": "object",
      "description": "A decision that has been made to approve access to a resource.",
      "properties": {
        "approveTime": {
          "format": "google-datetime",
          "description": "The time at which approval was granted.",
          "type": "string"
        },
        "expireTime": {
          "type": "string",
          "description": "The time at which the approval expires.",
          "format": "google-datetime"
        }
      }
    },
    "AccessReason": {
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "CUSTOMER_INITIATED_SUPPORT",
            "GOOGLE_INITIATED_SERVICE",
            "GOOGLE_INITIATED_REVIEW"
          ],
          "enumDescriptions": [
            "Default value for proto, shouldn't be used.",
            "Customer made a request or raised an issue that required the principal to access customer data. `detail` is of the form (\"#####\" is the issue ID): * \"Feedback Report: #####\" * \"Case Number: #####\" * \"Case ID: #####\" * \"E-PIN Reference: #####\" * \"Google-#####\" * \"T-#####\"",
            "The principal accessed customer data in order to diagnose or resolve a suspected issue in services or a known outage. Often this access is used to confirm that customers are not affected by a suspected service issue or to remediate a reversible system issue.",
            "Google initiated service for security, fraud, abuse, or compliance purposes."
          ],
          "type": "string",
          "description": "Type of access justification."
        },
        "detail": {
          "type": "string",
          "description": "More detail about certain reason types. See comments for each type above."
        }
      },
      "type": "object",
      "id": "AccessReason"
    },
    "DismissApprovalRequestMessage": {
      "id": "DismissApprovalRequestMessage",
      "properties": {},
      "type": "object",
      "description": "Request to dismiss an approval request."
    },
    "EnrolledService": {
      "description": "Represents the enrollment of a cloud resource into a specific service.",
      "id": "EnrolledService",
      "properties": {
        "enrollmentLevel": {
          "enum": [
            "ENROLLMENT_LEVEL_UNSPECIFIED",
            "BLOCK_ALL"
          ],
          "enumDescriptions": [
            "Default value for proto, shouldn't be used.",
            "Service is enrolled in Access Approval for all requests"
          ],
          "description": "The enrollment level of the service.",
          "type": "string"
        },
        "cloudProduct": {
          "type": "string",
          "description": "The product for which Access Approval will be enrolled. Allowed values are listed below (case-sensitive): * all * GA * App Engine * BigQuery * Cloud Bigtable * Cloud Key Management Service * Compute Engine * Cloud Dataflow * Cloud Identity and Access Management * Cloud Pub/Sub * Cloud Storage * Persistent Disk Note: These values are supported as input for legacy purposes, but will not be returned from the API. * all * ga-only * appengine.googleapis.com * bigquery.googleapis.com * bigtable.googleapis.com * cloudkms.googleapis.com * compute.googleapis.com * dataflow.googleapis.com * iam.googleapis.com * pubsub.googleapis.com * storage.googleapis.com Calls to UpdateAccessApprovalSettings using 'all', 'ga-only', or any of the XXX.googleapis.com will be translated to the associated product name ('all', 'GA', 'App Engine', etc.). Note: 'all' will enroll the resource in all products supported at both 'GA' and 'Preview' levels. 'ga-only'/'GA' will only enroll the resource in products supported at 'GA' level. More information about levels of support is available at https://cloud.google.com/access-approval/docs/supported-services"
        }
      },
      "type": "object"
    },
    "DismissDecision": {
      "properties": {
        "implicit": {
          "type": "boolean",
          "description": "This field will be true if the ApprovalRequest was implcitly dismissed due to inaction by the access approval approvers (the request is not acted on by the approvers before the exiration time)."
        },
        "dismissTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the approval request was dismissed."
        }
      },
      "description": "A decision that has been made to dismiss an approval request.",
      "id": "DismissDecision",
      "type": "object"
    },
    "ApprovalRequest": {
      "properties": {
        "requestedResourceName": {
          "type": "string",
          "description": "The resource for which approval is being requested. The format of the resource name is defined at https://cloud.google.com/apis/design/resource_names. The resource name here may either be a \"full\" resource name (e.g. \"//library.googleapis.com/shelves/shelf1/books/book2\") or a \"relative\" resource name (e.g. \"shelves/shelf1/books/book2\") as described in the resource name specification."
        },
        "requestedLocations": {
          "$ref": "AccessLocations",
          "description": "The locations for which approval is being requested."
        },
        "approve": {
          "description": "Access was approved.",
          "$ref": "ApproveDecision"
        },
        "requestedExpiration": {
          "format": "google-datetime",
          "description": "The requested expiration for the approval. If the request is approved, access will be granted from the time of approval until the expiration time.",
          "type": "string"
        },
        "requestedReason": {
          "description": "The justification for which approval is being requested.",
          "$ref": "AccessReason"
        },
        "requestTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which approval was requested."
        },
        "requestedResourceProperties": {
          "description": "Properties related to the resource represented by requested_resource_name.",
          "$ref": "ResourceProperties"
        },
        "dismiss": {
          "description": "The request was dismissed.",
          "$ref": "DismissDecision"
        },
        "name": {
          "description": "The resource name of the request. Format is \"{projects|folders|organizations}/{id}/approvalRequests/{approval_request}\".",
          "type": "string"
        }
      },
      "id": "ApprovalRequest",
      "type": "object",
      "description": "A request for the customer to approve access to a resource."
    }
  },
  "protocol": "rest",
  "baseUrl": "https://accessapproval.googleapis.com/",
  "description": "An API for controlling access to data by Google personnel.",
  "ownerName": "Google",
  "name": "accessapproval",
  "servicePath": "",
  "id": "accessapproval:v1",
  "resources": {
    "projects": {
      "resources": {
        "approvalRequests": {
          "methods": {
            "approve": {
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/approvalRequests/[^/]+$",
                  "description": "Name of the approval request to approve."
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/approvalRequests/{approvalRequestsId}:approve",
              "path": "v1/{+name}:approve",
              "request": {
                "$ref": "ApproveApprovalRequestMessage"
              },
              "id": "accessapproval.projects.approvalRequests.approve",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Approves a request and returns the updated ApprovalRequest. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state.",
              "response": {
                "$ref": "ApprovalRequest"
              }
            },
            "list": {
              "flatPath": "v1/projects/{projectsId}/approvalRequests",
              "response": {
                "$ref": "ListApprovalRequestsResponse"
              },
              "parameters": {
                "filter": {
                  "description": "A filter on the type of approval requests to retrieve. Must be one of the following values: * [not set]: Requests that are pending or have active approvals. * ALL: All requests. * PENDING: Only pending requests. * ACTIVE: Only active (i.e. currently approved) requests. * DISMISSED: Only dismissed (including expired) requests. * HISTORY: Active and dismissed (including expired) requests.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Requested page size."
                },
                "pageToken": {
                  "description": "A token identifying the page of results to return.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "The parent resource. This may be \"projects/{project}\", \"folders/{folder}\", or \"organizations/{organization}\".",
                  "required": true
                }
              },
              "path": "v1/{+parent}/approvalRequests",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "description": "Lists approval requests associated with a project, folder, or organization. Approval requests can be filtered by state (pending, active, dismissed). The order is reverse chronological.",
              "id": "accessapproval.projects.approvalRequests.list",
              "parameterOrder": [
                "parent"
              ]
            },
            "dismiss": {
              "parameterOrder": [
                "name"
              ],
              "description": "Dismisses a request. Returns the updated ApprovalRequest. NOTE: This does not deny access to the resource if another request has been made and approved. It is equivalent in effect to ignoring the request altogether. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state.",
              "path": "v1/{+name}:dismiss",
              "flatPath": "v1/projects/{projectsId}/approvalRequests/{approvalRequestsId}:dismiss",
              "id": "accessapproval.projects.approvalRequests.dismiss",
              "response": {
                "$ref": "ApprovalRequest"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/approvalRequests/[^/]+$",
                  "location": "path",
                  "description": "Name of the ApprovalRequest to dismiss."
                }
              },
              "request": {
                "$ref": "DismissApprovalRequestMessage"
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ApprovalRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/approvalRequests/{approvalRequestsId}",
              "path": "v1/{+name}",
              "description": "Gets an approval request. Returns NOT_FOUND if the request does not exist.",
              "parameters": {
                "name": {
                  "description": "Name of the approval request to retrieve.",
                  "pattern": "^projects/[^/]+/approvalRequests/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "accessapproval.projects.approvalRequests.get",
              "httpMethod": "GET"
            }
          }
        }
      },
      "methods": {
        "updateAccessApprovalSettings": {
          "response": {
            "$ref": "AccessApprovalSettings"
          },
          "description": "Updates the settings associated with a project, folder, or organization. Settings to update are determined by the value of field_mask.",
          "request": {
            "$ref": "AccessApprovalSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "description": "The resource name of the settings. Format is one of: * \"projects/{project}/accessApprovalSettings\" * \"folders/{folder}/accessApprovalSettings\" * \"organizations/{organization}/accessApprovalSettings\"",
              "type": "string",
              "pattern": "^projects/[^/]+/accessApprovalSettings$"
            },
            "updateMask": {
              "description": "The update mask applies to the settings. Only the top level fields of AccessApprovalSettings (notification_emails & enrolled_services) are supported. For each field, if it is included, the currently stored value will be entirely overwritten with the value of the field passed in this request. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask If this field is left unset, only the notification_emails field will be updated.",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/projects/{projectsId}/accessApprovalSettings",
          "id": "accessapproval.projects.updateAccessApprovalSettings",
          "httpMethod": "PATCH",
          "path": "v1/{+name}"
        },
        "getAccessApprovalSettings": {
          "description": "Gets the settings associated with a project, folder, or organization.",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^projects/[^/]+/accessApprovalSettings$",
              "description": "Name of the AccessApprovalSettings to retrieve.",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "accessapproval.projects.getAccessApprovalSettings",
          "httpMethod": "GET",
          "flatPath": "v1/projects/{projectsId}/accessApprovalSettings",
          "path": "v1/{+name}",
          "response": {
            "$ref": "AccessApprovalSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "deleteAccessApprovalSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "description": "Name of the AccessApprovalSettings to delete.",
              "required": true,
              "type": "string",
              "pattern": "^projects/[^/]+/accessApprovalSettings$"
            }
          },
          "description": "Deletes the settings associated with a project, folder, or organization. This will have the effect of disabling Access Approval for the project, folder, or organization, but only if all ancestors also have Access Approval disabled. If Access Approval is enabled at a higher level of the hierarchy, then Access Approval will still be enabled at this level as the settings are inherited.",
          "path": "v1/{+name}",
          "flatPath": "v1/projects/{projectsId}/accessApprovalSettings",
          "response": {
            "$ref": "Empty"
          },
          "id": "accessapproval.projects.deleteAccessApprovalSettings",
          "httpMethod": "DELETE"
        }
      }
    },
    "organizations": {
      "methods": {
        "getAccessApprovalSettings": {
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/accessApprovalSettings$",
              "location": "path",
              "type": "string",
              "description": "Name of the AccessApprovalSettings to retrieve.",
              "required": true
            }
          },
          "path": "v1/{+name}",
          "response": {
            "$ref": "AccessApprovalSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/organizations/{organizationsId}/accessApprovalSettings",
          "id": "accessapproval.organizations.getAccessApprovalSettings",
          "httpMethod": "GET",
          "description": "Gets the settings associated with a project, folder, or organization."
        },
        "deleteAccessApprovalSettings": {
          "description": "Deletes the settings associated with a project, folder, or organization. This will have the effect of disabling Access Approval for the project, folder, or organization, but only if all ancestors also have Access Approval disabled. If Access Approval is enabled at a higher level of the hierarchy, then Access Approval will still be enabled at this level as the settings are inherited.",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Name of the AccessApprovalSettings to delete.",
              "pattern": "^organizations/[^/]+/accessApprovalSettings$",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "v1/organizations/{organizationsId}/accessApprovalSettings",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/{+name}",
          "response": {
            "$ref": "Empty"
          },
          "id": "accessapproval.organizations.deleteAccessApprovalSettings"
        },
        "updateAccessApprovalSettings": {
          "flatPath": "v1/organizations/{organizationsId}/accessApprovalSettings",
          "request": {
            "$ref": "AccessApprovalSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "accessapproval.organizations.updateAccessApprovalSettings",
          "response": {
            "$ref": "AccessApprovalSettings"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^organizations/[^/]+/accessApprovalSettings$",
              "location": "path",
              "description": "The resource name of the settings. Format is one of: * \"projects/{project}/accessApprovalSettings\" * \"folders/{folder}/accessApprovalSettings\" * \"organizations/{organization}/accessApprovalSettings\""
            },
            "updateMask": {
              "type": "string",
              "description": "The update mask applies to the settings. Only the top level fields of AccessApprovalSettings (notification_emails & enrolled_services) are supported. For each field, if it is included, the currently stored value will be entirely overwritten with the value of the field passed in this request. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask If this field is left unset, only the notification_emails field will be updated.",
              "format": "google-fieldmask",
              "location": "query"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Updates the settings associated with a project, folder, or organization. Settings to update are determined by the value of field_mask.",
          "path": "v1/{+name}"
        }
      },
      "resources": {
        "approvalRequests": {
          "methods": {
            "get": {
              "response": {
                "$ref": "ApprovalRequest"
              },
              "id": "accessapproval.organizations.approvalRequests.get",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Name of the approval request to retrieve.",
                  "pattern": "^organizations/[^/]+/approvalRequests/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/approvalRequests/{approvalRequestsId}",
              "description": "Gets an approval request. Returns NOT_FOUND if the request does not exist.",
              "path": "v1/{+name}"
            },
            "approve": {
              "response": {
                "$ref": "ApprovalRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Name of the approval request to approve.",
                  "pattern": "^organizations/[^/]+/approvalRequests/[^/]+$",
                  "required": true
                }
              },
              "id": "accessapproval.organizations.approvalRequests.approve",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "ApproveApprovalRequestMessage"
              },
              "path": "v1/{+name}:approve",
              "flatPath": "v1/organizations/{organizationsId}/approvalRequests/{approvalRequestsId}:approve",
              "httpMethod": "POST",
              "description": "Approves a request and returns the updated ApprovalRequest. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state."
            },
            "list": {
              "description": "Lists approval requests associated with a project, folder, or organization. Approval requests can be filtered by state (pending, active, dismissed). The order is reverse chronological.",
              "response": {
                "$ref": "ListApprovalRequestsResponse"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "The parent resource. This may be \"projects/{project}\", \"folders/{folder}\", or \"organizations/{organization}\"."
                },
                "pageToken": {
                  "location": "query",
                  "description": "A token identifying the page of results to return.",
                  "type": "string"
                },
                "filter": {
                  "description": "A filter on the type of approval requests to retrieve. Must be one of the following values: * [not set]: Requests that are pending or have active approvals. * ALL: All requests. * PENDING: Only pending requests. * ACTIVE: Only active (i.e. currently approved) requests. * DISMISSED: Only dismissed (including expired) requests. * HISTORY: Active and dismissed (including expired) requests.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Requested page size.",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "httpMethod": "GET",
              "path": "v1/{+parent}/approvalRequests",
              "flatPath": "v1/organizations/{organizationsId}/approvalRequests",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "accessapproval.organizations.approvalRequests.list"
            },
            "dismiss": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Dismisses a request. Returns the updated ApprovalRequest. NOTE: This does not deny access to the resource if another request has been made and approved. It is equivalent in effect to ignoring the request altogether. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state.",
              "path": "v1/{+name}:dismiss",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Name of the ApprovalRequest to dismiss.",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/approvalRequests/[^/]+$",
                  "location": "path"
                }
              },
              "id": "accessapproval.organizations.approvalRequests.dismiss",
              "flatPath": "v1/organizations/{organizationsId}/approvalRequests/{approvalRequestsId}:dismiss",
              "httpMethod": "POST",
              "response": {
                "$ref": "ApprovalRequest"
              },
              "request": {
                "$ref": "DismissApprovalRequestMessage"
              }
            }
          }
        }
      }
    },
    "folders": {
      "methods": {
        "updateAccessApprovalSettings": {
          "request": {
            "$ref": "AccessApprovalSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/accessApprovalSettings$",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The resource name of the settings. Format is one of: * \"projects/{project}/accessApprovalSettings\" * \"folders/{folder}/accessApprovalSettings\" * \"organizations/{organization}/accessApprovalSettings\""
            },
            "updateMask": {
              "description": "The update mask applies to the settings. Only the top level fields of AccessApprovalSettings (notification_emails & enrolled_services) are supported. For each field, if it is included, the currently stored value will be entirely overwritten with the value of the field passed in this request. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask If this field is left unset, only the notification_emails field will be updated.",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "path": "v1/{+name}",
          "description": "Updates the settings associated with a project, folder, or organization. Settings to update are determined by the value of field_mask.",
          "id": "accessapproval.folders.updateAccessApprovalSettings",
          "flatPath": "v1/folders/{foldersId}/accessApprovalSettings",
          "response": {
            "$ref": "AccessApprovalSettings"
          }
        },
        "deleteAccessApprovalSettings": {
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/folders/{foldersId}/accessApprovalSettings",
          "id": "accessapproval.folders.deleteAccessApprovalSettings",
          "path": "v1/{+name}",
          "httpMethod": "DELETE",
          "description": "Deletes the settings associated with a project, folder, or organization. This will have the effect of disabling Access Approval for the project, folder, or organization, but only if all ancestors also have Access Approval disabled. If Access Approval is enabled at a higher level of the hierarchy, then Access Approval will still be enabled at this level as the settings are inherited.",
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "description": "Name of the AccessApprovalSettings to delete.",
              "pattern": "^folders/[^/]+/accessApprovalSettings$",
              "type": "string",
              "required": true,
              "location": "path"
            }
          }
        },
        "getAccessApprovalSettings": {
          "description": "Gets the settings associated with a project, folder, or organization.",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/folders/{foldersId}/accessApprovalSettings",
          "response": {
            "$ref": "AccessApprovalSettings"
          },
          "path": "v1/{+name}",
          "id": "accessapproval.folders.getAccessApprovalSettings",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/accessApprovalSettings$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Name of the AccessApprovalSettings to retrieve."
            }
          }
        }
      },
      "resources": {
        "approvalRequests": {
          "methods": {
            "list": {
              "path": "v1/{+parent}/approvalRequests",
              "flatPath": "v1/folders/{foldersId}/approvalRequests",
              "id": "accessapproval.folders.approvalRequests.list",
              "httpMethod": "GET",
              "description": "Lists approval requests associated with a project, folder, or organization. Approval requests can be filtered by state (pending, active, dismissed). The order is reverse chronological.",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListApprovalRequestsResponse"
              },
              "parameters": {
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "A filter on the type of approval requests to retrieve. Must be one of the following values: * [not set]: Requests that are pending or have active approvals. * ALL: All requests. * PENDING: Only pending requests. * ACTIVE: Only active (i.e. currently approved) requests. * DISMISSED: Only dismissed (including expired) requests. * HISTORY: Active and dismissed (including expired) requests."
                },
                "pageToken": {
                  "description": "A token identifying the page of results to return.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Requested page size.",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "description": "The parent resource. This may be \"projects/{project}\", \"folders/{folder}\", or \"organizations/{organization}\".",
                  "type": "string",
                  "pattern": "^folders/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "dismiss": {
              "request": {
                "$ref": "DismissApprovalRequestMessage"
              },
              "id": "accessapproval.folders.approvalRequests.dismiss",
              "httpMethod": "POST",
              "description": "Dismisses a request. Returns the updated ApprovalRequest. NOTE: This does not deny access to the resource if another request has been made and approved. It is equivalent in effect to ignoring the request altogether. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state.",
              "response": {
                "$ref": "ApprovalRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Name of the ApprovalRequest to dismiss.",
                  "type": "string",
                  "required": true,
                  "pattern": "^folders/[^/]+/approvalRequests/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/folders/{foldersId}/approvalRequests/{approvalRequestsId}:dismiss",
              "path": "v1/{+name}:dismiss"
            },
            "approve": {
              "id": "accessapproval.folders.approvalRequests.approve",
              "description": "Approves a request and returns the updated ApprovalRequest. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state.",
              "parameters": {
                "name": {
                  "description": "Name of the approval request to approve.",
                  "pattern": "^folders/[^/]+/approvalRequests/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "ApproveApprovalRequestMessage"
              },
              "path": "v1/{+name}:approve",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/folders/{foldersId}/approvalRequests/{approvalRequestsId}:approve",
              "response": {
                "$ref": "ApprovalRequest"
              }
            },
            "get": {
              "description": "Gets an approval request. Returns NOT_FOUND if the request does not exist.",
              "parameterOrder": [
                "name"
              ],
              "id": "accessapproval.folders.approvalRequests.get",
              "response": {
                "$ref": "ApprovalRequest"
              },
              "flatPath": "v1/folders/{foldersId}/approvalRequests/{approvalRequestsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Name of the approval request to retrieve.",
                  "pattern": "^folders/[^/]+/approvalRequests/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "GET"
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  }
}
