{
  "basePath": "",
  "baseUrl": "https://accessapproval.googleapis.com/",
  "discoveryVersion": "v1",
  "version": "v1",
  "servicePath": "",
  "canonicalName": "Access Approval",
  "schemas": {
    "AccessApprovalServiceAccount": {
      "description": "Access Approval service account related to a project/folder/organization.",
      "id": "AccessApprovalServiceAccount",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the Access Approval service account. Format is one of: * \"projects/{project}/serviceAccount\" * \"folders/{folder}/serviceAccount\" * \"organizations/{organization}/serviceAccount\""
        },
        "accountEmail": {
          "type": "string",
          "description": "Email address of the service account."
        }
      },
      "type": "object"
    },
    "ListApprovalRequestsResponse": {
      "id": "ListApprovalRequestsResponse",
      "type": "object",
      "description": "Response to listing of ApprovalRequest objects.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more."
        },
        "approvalRequests": {
          "description": "Approval request details.",
          "items": {
            "$ref": "ApprovalRequest"
          },
          "type": "array"
        }
      }
    },
    "ApproveApprovalRequestMessage": {
      "properties": {
        "expireTime": {
          "description": "The expiration time of this approval.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Request to approve an ApprovalRequest.",
      "id": "ApproveApprovalRequestMessage",
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "InvalidateApprovalRequestMessage": {
      "properties": {},
      "description": "Request to invalidate an existing approval.",
      "type": "object",
      "id": "InvalidateApprovalRequestMessage"
    },
    "SignatureInfo": {
      "type": "object",
      "id": "SignatureInfo",
      "description": "Information about the digital signature of the resource.",
      "properties": {
        "googlePublicKeyPem": {
          "description": "The public key for the Google default signing, encoded in PEM format. The signature was created using a private key which may be verified using this public key.",
          "type": "string"
        },
        "signature": {
          "format": "byte",
          "description": "The digital signature.",
          "type": "string"
        },
        "customerKmsKeyVersion": {
          "type": "string",
          "description": "The resource name of the customer CryptoKeyVersion used for signing."
        }
      }
    },
    "EnrolledService": {
      "id": "EnrolledService",
      "description": "Represents the enrollment of a cloud resource into a specific service.",
      "type": "object",
      "properties": {
        "enrollmentLevel": {
          "type": "string",
          "description": "The enrollment level of the service.",
          "enumDescriptions": [
            "Default value for proto, shouldn't be used.",
            "Service is enrolled in Access Approval for all requests"
          ],
          "enum": [
            "ENROLLMENT_LEVEL_UNSPECIFIED",
            "BLOCK_ALL"
          ]
        },
        "cloudProduct": {
          "type": "string",
          "description": "The product for which Access Approval will be enrolled. Allowed values are listed below (case-sensitive): * all * GA * App Engine * BigQuery * Cloud Bigtable * Cloud Key Management Service * Compute Engine * Cloud Dataflow * Cloud Dataproc * Cloud DLP * Cloud EKM * Cloud HSM * Cloud Identity and Access Management * Cloud Logging * Cloud Pub/Sub * Cloud Spanner * Cloud SQL * Cloud Storage * Google Kubernetes Engine * Organization Policy Serivice * Persistent Disk * Resource Manager * Secret Manager * Speaker ID Note: These values are supported as input for legacy purposes, but will not be returned from the API. * all * ga-only * appengine.googleapis.com * bigquery.googleapis.com * bigtable.googleapis.com * container.googleapis.com * cloudkms.googleapis.com * cloudresourcemanager.googleapis.com * cloudsql.googleapis.com * compute.googleapis.com * dataflow.googleapis.com * dataproc.googleapis.com * dlp.googleapis.com * iam.googleapis.com * logging.googleapis.com * orgpolicy.googleapis.com * pubsub.googleapis.com * spanner.googleapis.com * secretmanager.googleapis.com * speakerid.googleapis.com * storage.googleapis.com Calls to UpdateAccessApprovalSettings using 'all' or any of the XXX.googleapis.com will be translated to the associated product name ('all', 'App Engine', etc.). Note: 'all' will enroll the resource in all products supported at both 'GA' and 'Preview' levels. More information about levels of support is available at https://cloud.google.com/access-approval/docs/supported-services"
        }
      }
    },
    "ApproveDecision": {
      "id": "ApproveDecision",
      "properties": {
        "autoApproved": {
          "description": "True when the request has been auto-approved.",
          "type": "boolean"
        },
        "approveTime": {
          "description": "The time at which approval was granted.",
          "type": "string",
          "format": "google-datetime"
        },
        "expireTime": {
          "description": "The time at which the approval expires.",
          "format": "google-datetime",
          "type": "string"
        },
        "signatureInfo": {
          "$ref": "SignatureInfo",
          "description": "The signature for the ApprovalRequest and details on how it was signed."
        },
        "invalidateTime": {
          "description": "If set, denotes the timestamp at which the approval is invalidated.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "A decision that has been made to approve access to a resource.",
      "type": "object"
    },
    "AccessApprovalSettings": {
      "properties": {
        "enrolledServices": {
          "items": {
            "$ref": "EnrolledService"
          },
          "description": "A list of Google Cloud Services for which the given resource has Access Approval enrolled. Access requests for the resource given by name against any of these services contained here will be required to have explicit approval. If name refers to an organization, enrollment can be done for individual services. If name refers to a folder or project, enrollment can only be done on an all or nothing basis. If a cloud_product is repeated in this list, the first entry will be honored and all following entries will be discarded. A maximum of 10 enrolled services will be enforced, to be expanded as the set of supported services is expanded.",
          "type": "array"
        },
        "ancestorHasActiveKeyVersion": {
          "description": "Output only. This field is read only (not settable via UpdateAccessApprovalSettings method). If the field is true, that indicates that an ancestor of this Project or Folder has set active_key_version (this field will always be unset for the organization since organizations do not have ancestors).",
          "type": "boolean",
          "readOnly": true
        },
        "notificationEmails": {
          "description": "A list of email addresses to which notifications relating to approval requests should be sent. Notifications relating to a resource will be sent to all emails in the settings of ancestor resources of that resource. A maximum of 50 email addresses are allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "activeKeyVersion": {
          "description": "The asymmetric crypto key version to use for signing approval requests. Empty active_key_version indicates that a Google-managed key should be used for signing. This property will be ignored if set by an ancestor of this resource, and new non-empty values may not be set.",
          "type": "string"
        },
        "invalidKeyVersion": {
          "description": "Output only. This field is read only (not settable via UpdateAccessApprovalSettings method). If the field is true, that indicates that there is some configuration issue with the active_key_version configured at this level in the resource hierarchy (e.g. it doesn't exist or the Access Approval service account doesn't have the correct permissions on it, etc.) This key version is not necessarily the effective key version at this level, as key versions are inherited top-down.",
          "readOnly": true,
          "type": "boolean"
        },
        "enrolledAncestor": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. This field is read only (not settable via UpdateAccessApprovalSettings method). If the field is true, that indicates that at least one service is enrolled for Access Approval in one or more ancestors of the Project or Folder (this field will always be unset for the organization since organizations do not have ancestors)."
        },
        "name": {
          "description": "The resource name of the settings. Format is one of: * \"projects/{project}/accessApprovalSettings\" * \"folders/{folder}/accessApprovalSettings\" * \"organizations/{organization}/accessApprovalSettings\"",
          "type": "string"
        }
      },
      "description": "Settings on a Project/Folder/Organization related to Access Approval.",
      "id": "AccessApprovalSettings",
      "type": "object"
    },
    "ApprovalRequest": {
      "type": "object",
      "id": "ApprovalRequest",
      "properties": {
        "requestedResourceProperties": {
          "$ref": "ResourceProperties",
          "description": "Properties related to the resource represented by requested_resource_name."
        },
        "requestedResourceName": {
          "type": "string",
          "description": "The resource for which approval is being requested. The format of the resource name is defined at https://cloud.google.com/apis/design/resource_names. The resource name here may either be a \"full\" resource name (e.g. \"//library.googleapis.com/shelves/shelf1/books/book2\") or a \"relative\" resource name (e.g. \"shelves/shelf1/books/book2\") as described in the resource name specification."
        },
        "requestedLocations": {
          "$ref": "AccessLocations",
          "description": "The locations for which approval is being requested."
        },
        "approve": {
          "description": "Access was approved.",
          "$ref": "ApproveDecision"
        },
        "requestTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which approval was requested."
        },
        "requestedReason": {
          "$ref": "AccessReason",
          "description": "The justification for which approval is being requested."
        },
        "dismiss": {
          "$ref": "DismissDecision",
          "description": "The request was dismissed."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the request. Format is \"{projects|folders|organizations}/{id}/approvalRequests/{approval_request}\"."
        },
        "requestedExpiration": {
          "format": "google-datetime",
          "description": "The requested expiration for the approval. If the request is approved, access will be granted from the time of approval until the expiration time.",
          "type": "string"
        }
      },
      "description": "A request for the customer to approve access to a resource."
    },
    "ResourceProperties": {
      "id": "ResourceProperties",
      "description": "The properties associated with the resource of the request.",
      "properties": {
        "excludesDescendants": {
          "description": "Whether an approval will exclude the descendants of the resource being requested.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "DismissDecision": {
      "id": "DismissDecision",
      "type": "object",
      "properties": {
        "dismissTime": {
          "description": "The time at which the approval request was dismissed.",
          "type": "string",
          "format": "google-datetime"
        },
        "implicit": {
          "type": "boolean",
          "description": "This field will be true if the ApprovalRequest was implicitly dismissed due to inaction by the access approval approvers (the request is not acted on by the approvers before the exiration time)."
        }
      },
      "description": "A decision that has been made to dismiss an approval request."
    },
    "DismissApprovalRequestMessage": {
      "properties": {},
      "id": "DismissApprovalRequestMessage",
      "description": "Request to dismiss an approval request.",
      "type": "object"
    },
    "AccessReason": {
      "id": "AccessReason",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Type of access justification.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CUSTOMER_INITIATED_SUPPORT",
            "GOOGLE_INITIATED_SERVICE",
            "GOOGLE_INITIATED_REVIEW",
            "THIRD_PARTY_DATA_REQUEST",
            "GOOGLE_RESPONSE_TO_PRODUCTION_ALERT"
          ],
          "enumDescriptions": [
            "Default value for proto, shouldn't be used.",
            "Customer made a request or raised an issue that required the principal to access customer data. `detail` is of the form (\"#####\" is the issue ID): * \"Feedback Report: #####\" * \"Case Number: #####\" * \"Case ID: #####\" * \"E-PIN Reference: #####\" * \"Google-#####\" * \"T-#####\"",
            "The principal accessed customer data in order to diagnose or resolve a suspected issue in services. Often this access is used to confirm that customers are not affected by a suspected service issue or to remediate a reversible system issue.",
            "Google initiated service for security, fraud, abuse, or compliance purposes.",
            "The principal was compelled to access customer data in order to respond to a legal third party data request or process, including legal processes from customers themselves.",
            "The principal accessed customer data in order to diagnose or resolve a suspected issue in services or a known outage."
          ]
        },
        "detail": {
          "description": "More detail about certain reason types. See comments for each type above.",
          "type": "string"
        }
      }
    },
    "AccessLocations": {
      "id": "AccessLocations",
      "properties": {
        "principalPhysicalLocationCountry": {
          "type": "string",
          "description": "Physical location of the principal at the time of the access. A two-letter country code (ISO 3166-1 alpha-2), such as \"US\", \"DE\" or \"GB\" or a region code. In some limited situations Google systems may refer refer to a region code instead of a country code. Possible Region Codes: * ASI: Asia * EUR: Europe * OCE: Oceania * AFR: Africa * NAM: North America * SAM: South America * ANT: Antarctica * ANY: Any location"
        },
        "principalOfficeCountry": {
          "type": "string",
          "description": "The \"home office\" location of the principal. A two-letter country code (ISO 3166-1 alpha-2), such as \"US\", \"DE\" or \"GB\" or a region code. In some limited situations Google systems may refer refer to a region code instead of a country code. Possible Region Codes: * ASI: Asia * EUR: Europe * OCE: Oceania * AFR: Africa * NAM: North America * SAM: South America * ANT: Antarctica * ANY: Any location"
        }
      },
      "type": "object",
      "description": "Home office and physical location of the principal."
    }
  },
  "description": "An API for controlling access to data by Google personnel.",
  "ownerDomain": "google.com",
  "revision": "20220826",
  "kind": "discovery#restDescription",
  "name": "accessapproval",
  "protocol": "rest",
  "documentationLink": "https://cloud.google.com/cloud-provider-access-management/access-approval/docs",
  "id": "accessapproval:v1",
  "fullyEncodeReservedExpansion": true,
  "title": "Access Approval API",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format."
    }
  },
  "mtlsRootUrl": "https://accessapproval.mtls.googleapis.com/",
  "resources": {
    "projects": {
      "methods": {
        "getAccessApprovalSettings": {
          "response": {
            "$ref": "AccessApprovalSettings"
          },
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "flatPath": "v1/projects/{projectsId}/accessApprovalSettings",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/accessApprovalSettings$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The name of the AccessApprovalSettings to retrieve. Format: \"{projects|folders|organizations}/{id}/accessApprovalSettings\""
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Gets the settings associated with a project, folder, or organization.",
          "id": "accessapproval.projects.getAccessApprovalSettings"
        },
        "getServiceAccount": {
          "path": "v1/{+name}",
          "flatPath": "v1/projects/{projectsId}/serviceAccount",
          "response": {
            "$ref": "AccessApprovalServiceAccount"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Retrieves the service account that is used by Access Approval to access KMS keys for signing approved approval requests.",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^projects/[^/]+/serviceAccount$",
              "description": "Name of the AccessApprovalServiceAccount to retrieve.",
              "type": "string",
              "location": "path"
            }
          },
          "id": "accessapproval.projects.getServiceAccount",
          "parameterOrder": [
            "name"
          ]
        },
        "deleteAccessApprovalSettings": {
          "response": {
            "$ref": "Empty"
          },
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "description": "Name of the AccessApprovalSettings to delete.",
              "type": "string",
              "pattern": "^projects/[^/]+/accessApprovalSettings$",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "accessapproval.projects.deleteAccessApprovalSettings",
          "flatPath": "v1/projects/{projectsId}/accessApprovalSettings",
          "description": "Deletes the settings associated with a project, folder, or organization. This will have the effect of disabling Access Approval for the project, folder, or organization, but only if all ancestors also have Access Approval disabled. If Access Approval is enabled at a higher level of the hierarchy, then Access Approval will still be enabled at this level as the settings are inherited."
        },
        "updateAccessApprovalSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/accessApprovalSettings$",
              "type": "string",
              "description": "The resource name of the settings. Format is one of: * \"projects/{project}/accessApprovalSettings\" * \"folders/{folder}/accessApprovalSettings\" * \"organizations/{organization}/accessApprovalSettings\"",
              "location": "path",
              "required": true
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "description": "The update mask applies to the settings. Only the top level fields of AccessApprovalSettings (notification_emails & enrolled_services) are supported. For each field, if it is included, the currently stored value will be entirely overwritten with the value of the field passed in this request. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask If this field is left unset, only the notification_emails field will be updated.",
              "format": "google-fieldmask"
            }
          },
          "response": {
            "$ref": "AccessApprovalSettings"
          },
          "request": {
            "$ref": "AccessApprovalSettings"
          },
          "id": "accessapproval.projects.updateAccessApprovalSettings",
          "httpMethod": "PATCH",
          "description": "Updates the settings associated with a project, folder, or organization. Settings to update are determined by the value of field_mask.",
          "flatPath": "v1/projects/{projectsId}/accessApprovalSettings",
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}"
        }
      },
      "resources": {
        "approvalRequests": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/approvalRequests/{approvalRequestsId}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/approvalRequests/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The name of the approval request to retrieve. Format: \"{projects|folders|organizations}/{id}/approvalRequests/{approval_request}\""
                }
              },
              "description": "Gets an approval request. Returns NOT_FOUND if the request does not exist.",
              "path": "v1/{+name}",
              "id": "accessapproval.projects.approvalRequests.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ApprovalRequest"
              }
            },
            "dismiss": {
              "response": {
                "$ref": "ApprovalRequest"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Name of the ApprovalRequest to dismiss.",
                  "pattern": "^projects/[^/]+/approvalRequests/[^/]+$"
                }
              },
              "httpMethod": "POST",
              "path": "v1/{+name}:dismiss",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Dismisses a request. Returns the updated ApprovalRequest. NOTE: This does not deny access to the resource if another request has been made and approved. It is equivalent in effect to ignoring the request altogether. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state.",
              "request": {
                "$ref": "DismissApprovalRequestMessage"
              },
              "flatPath": "v1/projects/{projectsId}/approvalRequests/{approvalRequestsId}:dismiss",
              "parameterOrder": [
                "name"
              ],
              "id": "accessapproval.projects.approvalRequests.dismiss"
            },
            "list": {
              "response": {
                "$ref": "ListApprovalRequestsResponse"
              },
              "id": "accessapproval.projects.approvalRequests.list",
              "path": "v1/{+parent}/approvalRequests",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "Requested page size.",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A token identifying the page of results to return.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "The parent resource. This may be \"projects/{project}\", \"folders/{folder}\", or \"organizations/{organization}\".",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "filter": {
                  "description": "A filter on the type of approval requests to retrieve. Must be one of the following values: * [not set]: Requests that are pending or have active approvals. * ALL: All requests. * PENDING: Only pending requests. * ACTIVE: Only active (i.e. currently approved) requests. * DISMISSED: Only requests that have been dismissed, or requests that are not approved and past expiration. * EXPIRED: Only requests that have been approved, and the approval has expired. * HISTORY: Active, dismissed and expired requests.",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Lists approval requests associated with a project, folder, or organization. Approval requests can be filtered by state (pending, active, dismissed). The order is reverse chronological.",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/approvalRequests"
            },
            "approve": {
              "path": "v1/{+name}:approve",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/approvalRequests/[^/]+$",
                  "description": "Name of the approval request to approve.",
                  "type": "string",
                  "required": true
                }
              },
              "request": {
                "$ref": "ApproveApprovalRequestMessage"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "accessapproval.projects.approvalRequests.approve",
              "httpMethod": "POST",
              "response": {
                "$ref": "ApprovalRequest"
              },
              "flatPath": "v1/projects/{projectsId}/approvalRequests/{approvalRequestsId}:approve",
              "description": "Approves a request and returns the updated ApprovalRequest. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state."
            },
            "invalidate": {
              "id": "accessapproval.projects.approvalRequests.invalidate",
              "httpMethod": "POST",
              "path": "v1/{+name}:invalidate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Invalidates an existing ApprovalRequest. Returns the updated ApprovalRequest. NOTE: This does not deny access to the resource if another request has been made and approved. It only invalidates a single approval. Returns FAILED_PRECONDITION if the request exists but is not in an approved state.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Name of the ApprovalRequest to invalidate.",
                  "pattern": "^projects/[^/]+/approvalRequests/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ApprovalRequest"
              },
              "flatPath": "v1/projects/{projectsId}/approvalRequests/{approvalRequestsId}:invalidate",
              "request": {
                "$ref": "InvalidateApprovalRequestMessage"
              }
            }
          }
        }
      }
    },
    "folders": {
      "methods": {
        "getServiceAccount": {
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "pattern": "^folders/[^/]+/serviceAccount$",
              "description": "Name of the AccessApprovalServiceAccount to retrieve.",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "AccessApprovalServiceAccount"
          },
          "description": "Retrieves the service account that is used by Access Approval to access KMS keys for signing approved approval requests.",
          "id": "accessapproval.folders.getServiceAccount",
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "flatPath": "v1/folders/{foldersId}/serviceAccount"
        },
        "updateAccessApprovalSettings": {
          "request": {
            "$ref": "AccessApprovalSettings"
          },
          "response": {
            "$ref": "AccessApprovalSettings"
          },
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "type": "string",
              "location": "query",
              "description": "The update mask applies to the settings. Only the top level fields of AccessApprovalSettings (notification_emails & enrolled_services) are supported. For each field, if it is included, the currently stored value will be entirely overwritten with the value of the field passed in this request. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask If this field is left unset, only the notification_emails field will be updated."
            },
            "name": {
              "description": "The resource name of the settings. Format is one of: * \"projects/{project}/accessApprovalSettings\" * \"folders/{folder}/accessApprovalSettings\" * \"organizations/{organization}/accessApprovalSettings\"",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^folders/[^/]+/accessApprovalSettings$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/{+name}",
          "flatPath": "v1/folders/{foldersId}/accessApprovalSettings",
          "description": "Updates the settings associated with a project, folder, or organization. Settings to update are determined by the value of field_mask.",
          "httpMethod": "PATCH",
          "id": "accessapproval.folders.updateAccessApprovalSettings",
          "parameterOrder": [
            "name"
          ]
        },
        "deleteAccessApprovalSettings": {
          "description": "Deletes the settings associated with a project, folder, or organization. This will have the effect of disabling Access Approval for the project, folder, or organization, but only if all ancestors also have Access Approval disabled. If Access Approval is enabled at a higher level of the hierarchy, then Access Approval will still be enabled at this level as the settings are inherited.",
          "flatPath": "v1/folders/{foldersId}/accessApprovalSettings",
          "path": "v1/{+name}",
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/accessApprovalSettings$",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Name of the AccessApprovalSettings to delete."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Empty"
          },
          "id": "accessapproval.folders.deleteAccessApprovalSettings"
        },
        "getAccessApprovalSettings": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Gets the settings associated with a project, folder, or organization.",
          "path": "v1/{+name}",
          "response": {
            "$ref": "AccessApprovalSettings"
          },
          "parameters": {
            "name": {
              "type": "string",
              "description": "The name of the AccessApprovalSettings to retrieve. Format: \"{projects|folders|organizations}/{id}/accessApprovalSettings\"",
              "pattern": "^folders/[^/]+/accessApprovalSettings$",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "accessapproval.folders.getAccessApprovalSettings",
          "flatPath": "v1/folders/{foldersId}/accessApprovalSettings"
        }
      },
      "resources": {
        "approvalRequests": {
          "methods": {
            "approve": {
              "httpMethod": "POST",
              "request": {
                "$ref": "ApproveApprovalRequestMessage"
              },
              "description": "Approves a request and returns the updated ApprovalRequest. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state.",
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/approvalRequests/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Name of the approval request to approve."
                }
              },
              "flatPath": "v1/folders/{foldersId}/approvalRequests/{approvalRequestsId}:approve",
              "response": {
                "$ref": "ApprovalRequest"
              },
              "id": "accessapproval.folders.approvalRequests.approve",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:approve",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "accessapproval.folders.approvalRequests.get",
              "description": "Gets an approval request. Returns NOT_FOUND if the request does not exist.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "The name of the approval request to retrieve. Format: \"{projects|folders|organizations}/{id}/approvalRequests/{approval_request}\"",
                  "pattern": "^folders/[^/]+/approvalRequests/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/folders/{foldersId}/approvalRequests/{approvalRequestsId}",
              "response": {
                "$ref": "ApprovalRequest"
              }
            },
            "dismiss": {
              "path": "v1/{+name}:dismiss",
              "request": {
                "$ref": "DismissApprovalRequestMessage"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Name of the ApprovalRequest to dismiss.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^folders/[^/]+/approvalRequests/[^/]+$"
                }
              },
              "id": "accessapproval.folders.approvalRequests.dismiss",
              "description": "Dismisses a request. Returns the updated ApprovalRequest. NOTE: This does not deny access to the resource if another request has been made and approved. It is equivalent in effect to ignoring the request altogether. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state.",
              "flatPath": "v1/folders/{foldersId}/approvalRequests/{approvalRequestsId}:dismiss",
              "response": {
                "$ref": "ApprovalRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST"
            },
            "invalidate": {
              "response": {
                "$ref": "ApprovalRequest"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Name of the ApprovalRequest to invalidate.",
                  "location": "path",
                  "pattern": "^folders/[^/]+/approvalRequests/[^/]+$",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "InvalidateApprovalRequestMessage"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Invalidates an existing ApprovalRequest. Returns the updated ApprovalRequest. NOTE: This does not deny access to the resource if another request has been made and approved. It only invalidates a single approval. Returns FAILED_PRECONDITION if the request exists but is not in an approved state.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/folders/{foldersId}/approvalRequests/{approvalRequestsId}:invalidate",
              "path": "v1/{+name}:invalidate",
              "id": "accessapproval.folders.approvalRequests.invalidate"
            },
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/folders/{foldersId}/approvalRequests",
              "id": "accessapproval.folders.approvalRequests.list",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^folders/[^/]+$",
                  "description": "The parent resource. This may be \"projects/{project}\", \"folders/{folder}\", or \"organizations/{organization}\".",
                  "required": true,
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying the page of results to return."
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Requested page size."
                },
                "filter": {
                  "description": "A filter on the type of approval requests to retrieve. Must be one of the following values: * [not set]: Requests that are pending or have active approvals. * ALL: All requests. * PENDING: Only pending requests. * ACTIVE: Only active (i.e. currently approved) requests. * DISMISSED: Only requests that have been dismissed, or requests that are not approved and past expiration. * EXPIRED: Only requests that have been approved, and the approval has expired. * HISTORY: Active, dismissed and expired requests.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/approvalRequests",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists approval requests associated with a project, folder, or organization. Approval requests can be filtered by state (pending, active, dismissed). The order is reverse chronological.",
              "response": {
                "$ref": "ListApprovalRequestsResponse"
              }
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "approvalRequests": {
          "methods": {
            "list": {
              "path": "v1/{+parent}/approvalRequests",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Requested page size."
                },
                "parent": {
                  "type": "string",
                  "description": "The parent resource. This may be \"projects/{project}\", \"folders/{folder}\", or \"organizations/{organization}\".",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A token identifying the page of results to return.",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "description": "A filter on the type of approval requests to retrieve. Must be one of the following values: * [not set]: Requests that are pending or have active approvals. * ALL: All requests. * PENDING: Only pending requests. * ACTIVE: Only active (i.e. currently approved) requests. * DISMISSED: Only requests that have been dismissed, or requests that are not approved and past expiration. * EXPIRED: Only requests that have been approved, and the approval has expired. * HISTORY: Active, dismissed and expired requests.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "accessapproval.organizations.approvalRequests.list",
              "httpMethod": "GET",
              "description": "Lists approval requests associated with a project, folder, or organization. Approval requests can be filtered by state (pending, active, dismissed). The order is reverse chronological.",
              "flatPath": "v1/organizations/{organizationsId}/approvalRequests",
              "response": {
                "$ref": "ListApprovalRequestsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "path": "v1/{+name}",
              "response": {
                "$ref": "ApprovalRequest"
              },
              "description": "Gets an approval request. Returns NOT_FOUND if the request does not exist.",
              "flatPath": "v1/organizations/{organizationsId}/approvalRequests/{approvalRequestsId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "accessapproval.organizations.approvalRequests.get",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/approvalRequests/[^/]+$",
                  "required": true,
                  "description": "The name of the approval request to retrieve. Format: \"{projects|folders|organizations}/{id}/approvalRequests/{approval_request}\""
                }
              }
            },
            "approve": {
              "path": "v1/{+name}:approve",
              "parameterOrder": [
                "name"
              ],
              "id": "accessapproval.organizations.approvalRequests.approve",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Name of the approval request to approve.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/approvalRequests/[^/]+$"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/approvalRequests/{approvalRequestsId}:approve",
              "description": "Approves a request and returns the updated ApprovalRequest. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state.",
              "response": {
                "$ref": "ApprovalRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "ApproveApprovalRequestMessage"
              },
              "httpMethod": "POST"
            },
            "dismiss": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Dismisses a request. Returns the updated ApprovalRequest. NOTE: This does not deny access to the resource if another request has been made and approved. It is equivalent in effect to ignoring the request altogether. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state.",
              "response": {
                "$ref": "ApprovalRequest"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Name of the ApprovalRequest to dismiss.",
                  "pattern": "^organizations/[^/]+/approvalRequests/[^/]+$",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "DismissApprovalRequestMessage"
              },
              "path": "v1/{+name}:dismiss",
              "id": "accessapproval.organizations.approvalRequests.dismiss",
              "flatPath": "v1/organizations/{organizationsId}/approvalRequests/{approvalRequestsId}:dismiss",
              "httpMethod": "POST"
            },
            "invalidate": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Invalidates an existing ApprovalRequest. Returns the updated ApprovalRequest. NOTE: This does not deny access to the resource if another request has been made and approved. It only invalidates a single approval. Returns FAILED_PRECONDITION if the request exists but is not in an approved state.",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/approvalRequests/[^/]+$",
                  "location": "path",
                  "description": "Name of the ApprovalRequest to invalidate.",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "InvalidateApprovalRequestMessage"
              },
              "path": "v1/{+name}:invalidate",
              "id": "accessapproval.organizations.approvalRequests.invalidate",
              "flatPath": "v1/organizations/{organizationsId}/approvalRequests/{approvalRequestsId}:invalidate",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ApprovalRequest"
              },
              "httpMethod": "POST"
            }
          }
        }
      },
      "methods": {
        "getServiceAccount": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/organizations/{organizationsId}/serviceAccount",
          "description": "Retrieves the service account that is used by Access Approval to access KMS keys for signing approved approval requests.",
          "id": "accessapproval.organizations.getServiceAccount",
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "description": "Name of the AccessApprovalServiceAccount to retrieve.",
              "location": "path",
              "pattern": "^organizations/[^/]+/serviceAccount$"
            }
          },
          "response": {
            "$ref": "AccessApprovalServiceAccount"
          }
        },
        "deleteAccessApprovalSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "DELETE",
          "id": "accessapproval.organizations.deleteAccessApprovalSettings",
          "path": "v1/{+name}",
          "description": "Deletes the settings associated with a project, folder, or organization. This will have the effect of disabling Access Approval for the project, folder, or organization, but only if all ancestors also have Access Approval disabled. If Access Approval is enabled at a higher level of the hierarchy, then Access Approval will still be enabled at this level as the settings are inherited.",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "pattern": "^organizations/[^/]+/accessApprovalSettings$",
              "description": "Name of the AccessApprovalSettings to delete.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "v1/organizations/{organizationsId}/accessApprovalSettings"
        },
        "updateAccessApprovalSettings": {
          "path": "v1/{+name}",
          "httpMethod": "PATCH",
          "description": "Updates the settings associated with a project, folder, or organization. Settings to update are determined by the value of field_mask.",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^organizations/[^/]+/accessApprovalSettings$",
              "type": "string",
              "location": "path",
              "description": "The resource name of the settings. Format is one of: * \"projects/{project}/accessApprovalSettings\" * \"folders/{folder}/accessApprovalSettings\" * \"organizations/{organization}/accessApprovalSettings\""
            },
            "updateMask": {
              "description": "The update mask applies to the settings. Only the top level fields of AccessApprovalSettings (notification_emails & enrolled_services) are supported. For each field, if it is included, the currently stored value will be entirely overwritten with the value of the field passed in this request. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask If this field is left unset, only the notification_emails field will be updated.",
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            }
          },
          "request": {
            "$ref": "AccessApprovalSettings"
          },
          "flatPath": "v1/organizations/{organizationsId}/accessApprovalSettings",
          "response": {
            "$ref": "AccessApprovalSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "accessapproval.organizations.updateAccessApprovalSettings"
        },
        "getAccessApprovalSettings": {
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "AccessApprovalSettings"
          },
          "flatPath": "v1/organizations/{organizationsId}/accessApprovalSettings",
          "description": "Gets the settings associated with a project, folder, or organization.",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "type": "string",
              "description": "The name of the AccessApprovalSettings to retrieve. Format: \"{projects|folders|organizations}/{id}/accessApprovalSettings\"",
              "required": true,
              "pattern": "^organizations/[^/]+/accessApprovalSettings$",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "accessapproval.organizations.getAccessApprovalSettings"
        }
      }
    }
  },
  "rootUrl": "https://accessapproval.googleapis.com/",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version_module": true
}
