{
  "basePath": "",
  "id": "acmedns:v1",
  "resources": {
    "acmeChallengeSets": {
      "methods": {
        "get": {
          "path": "v1/acmeChallengeSets/{rootDomain}",
          "parameterOrder": [
            "rootDomain"
          ],
          "id": "acmedns.acmeChallengeSets.get",
          "flatPath": "v1/acmeChallengeSets/{rootDomain}",
          "parameters": {
            "rootDomain": {
              "description": "Required. SLD + TLD domain name to list challenges. This MAY be Unicode or Punycode.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Gets the ACME challenge set for a given domain name. Domain names must be provided in Punycode.",
          "response": {
            "$ref": "AcmeChallengeSet"
          },
          "httpMethod": "GET"
        },
        "rotateChallenges": {
          "description": "Rotate the ACME challenges for a given domain name. By default, removes any challenges that are older than 30 days. Domain names must be provided in Punycode.",
          "response": {
            "$ref": "AcmeChallengeSet"
          },
          "httpMethod": "POST",
          "path": "v1/acmeChallengeSets/{rootDomain}:rotateChallenges",
          "parameterOrder": [
            "rootDomain"
          ],
          "request": {
            "$ref": "RotateChallengesRequest"
          },
          "flatPath": "v1/acmeChallengeSets/{rootDomain}:rotateChallenges",
          "id": "acmedns.acmeChallengeSets.rotateChallenges",
          "parameters": {
            "rootDomain": {
              "description": "Required. SLD + TLD domain name to update records for. This MAY be Unicode or Punycode.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          }
        }
      }
    }
  },
  "schemas": {
    "AcmeTxtRecord": {
      "description": "The TXT record message that represents an ACME DNS-01 challenge.",
      "properties": {
        "fqdn": {
          "type": "string",
          "description": "The domain/subdomain for the record. In a request, this MAY be Unicode or Punycode. In a response, this will be in Unicode. The fqdn MUST contain the root_domain field on the request."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when this record was last updated. This will be in UTC time.",
          "type": "string"
        },
        "digest": {
          "description": "Holds the ACME challenge data put in the TXT record. This will be checked to be a valid TXT record data entry.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AcmeTxtRecord"
    },
    "AcmeChallengeSet": {
      "description": "The up-to-date ACME challenge set on a domain for an RPC. This contains all of the ACME TXT records that exist on the domain.",
      "id": "AcmeChallengeSet",
      "type": "object",
      "properties": {
        "record": {
          "items": {
            "$ref": "AcmeTxtRecord"
          },
          "description": "The ACME challenges on the requested domain represented as individual TXT records.",
          "type": "array"
        }
      }
    },
    "RotateChallengesRequest": {
      "properties": {
        "recordsToAdd": {
          "items": {
            "$ref": "AcmeTxtRecord"
          },
          "type": "array",
          "description": "ACME TXT record challenges to add. Supports multiple challenges on the same FQDN."
        },
        "keepExpiredRecords": {
          "description": "Keep records older than 30 days that were used for previous requests.",
          "type": "boolean"
        },
        "recordsToRemove": {
          "items": {
            "$ref": "AcmeTxtRecord"
          },
          "description": "ACME TXT record challenges to remove.",
          "type": "array"
        },
        "accessToken": {
          "format": "byte",
          "type": "string",
          "description": "Required. ACME DNS access token. This is a base64 token secret that is procured from the Google Domains website. It authorizes ACME TXT record updates for a domain."
        }
      },
      "description": "The request message for the RotateChallenges RPC. Requires an access token, a root domain, and either records_to_add or records_to_remove to be populated. Records may be set for multiple subdomains at once to support SAN requests for multiple subdomains in a single domain. By default, ACME TXT record challenges that are older than 30 days will be removed. Set `keep_expired_records` to false if this behavior is undesired. There is a record maximum of 100 records per domain including expired records. Any request sent that would exceed this maximum will result in a FAILED_PRECONDITION error. NEXT ID: 6",
      "type": "object",
      "id": "RotateChallengesRequest"
    }
  },
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "description": "Google Domains ACME DNS API that allows users to complete ACME DNS-01 challenges for a domain.",
  "rootUrl": "https://acmedns.googleapis.com/",
  "discoveryVersion": "v1",
  "canonicalName": "ACME DNS",
  "batchPath": "batch",
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version": "v1",
  "version_module": true,
  "title": "ACME DNS API",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "mtlsRootUrl": "https://acmedns.mtls.googleapis.com/",
  "baseUrl": "https://acmedns.googleapis.com/",
  "documentationLink": "https://developers.google.com/domains/acme-dns/",
  "name": "acmedns",
  "revision": "20230221",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription"
}
