{
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "parameters": {
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "mtlsRootUrl": "https://adexchangebuyer.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "baseUrl": "https://adexchangebuyer.googleapis.com/",
  "ownerDomain": "google.com",
  "id": "adexchangebuyer2:v2beta1",
  "basePath": "",
  "version": "v2beta1",
  "title": "Ad Exchange Buyer API II",
  "version_module": true,
  "name": "adexchangebuyer2",
  "protocol": "rest",
  "resources": {
    "accounts": {
      "resources": {
        "clients": {
          "resources": {
            "users": {
              "methods": {
                "update": {
                  "parameterOrder": [
                    "accountId",
                    "clientAccountId",
                    "userId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "id": "adexchangebuyer2.accounts.clients.users.update",
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "description": "Updates an existing client user. Only the user status can be changed on update.",
                  "httpMethod": "PUT",
                  "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users/{userId}",
                  "request": {
                    "$ref": "ClientUser"
                  },
                  "parameters": {
                    "clientAccountId": {
                      "description": "Numerical account ID of the client buyer that the user to be retrieved is associated with. (required)",
                      "format": "int64",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "accountId": {
                      "description": "Numerical account ID of the client's sponsor buyer. (required)",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "format": "int64"
                    },
                    "userId": {
                      "location": "path",
                      "description": "Numerical identifier of the user to retrieve. (required)",
                      "type": "string",
                      "required": true,
                      "format": "int64"
                    }
                  },
                  "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users/{userId}"
                },
                "get": {
                  "parameters": {
                    "userId": {
                      "description": "Numerical identifier of the user to retrieve. (required)",
                      "type": "string",
                      "required": true,
                      "format": "int64",
                      "location": "path"
                    },
                    "accountId": {
                      "format": "int64",
                      "description": "Numerical account ID of the client's sponsor buyer. (required)",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "clientAccountId": {
                      "location": "path",
                      "type": "string",
                      "description": "Numerical account ID of the client buyer that the user to be retrieved is associated with. (required)",
                      "format": "int64",
                      "required": true
                    }
                  },
                  "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users/{userId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "description": "Retrieves an existing client user.",
                  "parameterOrder": [
                    "accountId",
                    "clientAccountId",
                    "userId"
                  ],
                  "id": "adexchangebuyer2.accounts.clients.users.get",
                  "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users/{userId}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ClientUser"
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "accountId",
                    "clientAccountId"
                  ],
                  "description": "Lists all the known client users for a specified sponsor buyer account ID.",
                  "parameters": {
                    "accountId": {
                      "type": "string",
                      "format": "int64",
                      "location": "path",
                      "description": "Numerical account ID of the sponsor buyer of the client to list users for. (required)",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Requested page size. The server may return fewer clients than requested. If unspecified, the server will pick an appropriate default.",
                      "format": "int32"
                    },
                    "clientAccountId": {
                      "required": true,
                      "description": "The account ID of the client buyer to list users for. (required) You must specify either a string representation of a numerical account identifier or the `-` character to list all the client users for all the clients of a given sponsor buyer.",
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientUsersResponse.nextPageToken returned from the previous call to the accounts.clients.users.list method.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users",
                  "id": "adexchangebuyer2.accounts.clients.users.list",
                  "response": {
                    "$ref": "ListClientUsersResponse"
                  }
                }
              }
            },
            "invitations": {
              "methods": {
                "list": {
                  "description": "Lists all the client users invitations for a client with a given account ID.",
                  "id": "adexchangebuyer2.accounts.clients.invitations.list",
                  "response": {
                    "$ref": "ListClientUserInvitationsResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations",
                  "parameterOrder": [
                    "accountId",
                    "clientAccountId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations",
                  "parameters": {
                    "clientAccountId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Numerical account ID of the client buyer to list invitations for. (required) You must either specify a string representation of a numerical account identifier or the `-` character to list all the invitations for all the clients of a given sponsor buyer."
                    },
                    "accountId": {
                      "description": "Numerical account ID of the client's sponsor buyer. (required)",
                      "location": "path",
                      "type": "string",
                      "format": "int64",
                      "required": true
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientUserInvitationsResponse.nextPageToken returned from the previous call to the clients.invitations.list method."
                    },
                    "pageSize": {
                      "description": "Requested page size. Server may return fewer clients than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  }
                },
                "create": {
                  "parameterOrder": [
                    "accountId",
                    "clientAccountId"
                  ],
                  "request": {
                    "$ref": "ClientUserInvitation"
                  },
                  "description": "Creates and sends out an email invitation to access an Ad Exchange client buyer account.",
                  "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations",
                  "httpMethod": "POST",
                  "id": "adexchangebuyer2.accounts.clients.invitations.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "parameters": {
                    "clientAccountId": {
                      "format": "int64",
                      "location": "path",
                      "description": "Numerical account ID of the client buyer that the user should be associated with. (required)",
                      "required": true,
                      "type": "string"
                    },
                    "accountId": {
                      "description": "Numerical account ID of the client's sponsor buyer. (required)",
                      "format": "int64",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations",
                  "response": {
                    "$ref": "ClientUserInvitation"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "ClientUserInvitation"
                  },
                  "parameterOrder": [
                    "accountId",
                    "clientAccountId",
                    "invitationId"
                  ],
                  "id": "adexchangebuyer2.accounts.clients.invitations.get",
                  "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations/{invitationId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations/{invitationId}",
                  "parameters": {
                    "accountId": {
                      "type": "string",
                      "location": "path",
                      "description": "Numerical account ID of the client's sponsor buyer. (required)",
                      "format": "int64",
                      "required": true
                    },
                    "clientAccountId": {
                      "format": "int64",
                      "type": "string",
                      "description": "Numerical account ID of the client buyer that the user invitation to be retrieved is associated with. (required)",
                      "required": true,
                      "location": "path"
                    },
                    "invitationId": {
                      "location": "path",
                      "required": true,
                      "format": "int64",
                      "type": "string",
                      "description": "Numerical identifier of the user invitation to retrieve. (required)"
                    }
                  },
                  "description": "Retrieves an existing client user invitation."
                }
              }
            }
          },
          "methods": {
            "get": {
              "httpMethod": "GET",
              "id": "adexchangebuyer2.accounts.clients.get",
              "response": {
                "$ref": "Client"
              },
              "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}",
              "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}",
              "description": "Gets a client buyer with a given client account ID.",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "parameters": {
                "clientAccountId": {
                  "type": "string",
                  "location": "path",
                  "format": "int64",
                  "required": true,
                  "description": "Numerical account ID of the client buyer to retrieve. (required)"
                },
                "accountId": {
                  "format": "int64",
                  "required": true,
                  "location": "path",
                  "description": "Numerical account ID of the client's sponsor buyer. (required)",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "accountId",
                "clientAccountId"
              ]
            },
            "update": {
              "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}",
              "id": "adexchangebuyer2.accounts.clients.update",
              "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}",
              "response": {
                "$ref": "Client"
              },
              "description": "Updates an existing client buyer.",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "parameterOrder": [
                "accountId",
                "clientAccountId"
              ],
              "request": {
                "$ref": "Client"
              },
              "httpMethod": "PUT",
              "parameters": {
                "clientAccountId": {
                  "required": true,
                  "location": "path",
                  "description": "Unique numerical account ID of the client to update. (required)",
                  "format": "int64",
                  "type": "string"
                },
                "accountId": {
                  "description": "Unique numerical account ID for the buyer of which the client buyer is a customer; the sponsor buyer to update a client for. (required)",
                  "format": "int64",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "create": {
              "httpMethod": "POST",
              "description": "Creates a new client buyer.",
              "path": "v2beta1/accounts/{accountId}/clients",
              "request": {
                "$ref": "Client"
              },
              "id": "adexchangebuyer2.accounts.clients.create",
              "flatPath": "v2beta1/accounts/{accountId}/clients",
              "parameterOrder": [
                "accountId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "response": {
                "$ref": "Client"
              },
              "parameters": {
                "accountId": {
                  "location": "path",
                  "required": true,
                  "format": "int64",
                  "description": "Unique numerical account ID for the buyer of which the client buyer is a customer; the sponsor buyer to create a client for. (required)",
                  "type": "string"
                }
              }
            },
            "list": {
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Unique numerical account ID of the sponsor buyer to list the clients for.",
                  "format": "int64"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Requested page size. The server may return fewer clients than requested. If unspecified, the server will pick an appropriate default.",
                  "format": "int32"
                },
                "partnerClientId": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional unique identifier (from the standpoint of an Ad Exchange sponsor buyer partner) of the client to return. If specified, at most one client will be returned in the response."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientsResponse.nextPageToken returned from the previous call to the accounts.clients.list method."
                }
              },
              "parameterOrder": [
                "accountId"
              ],
              "id": "adexchangebuyer2.accounts.clients.list",
              "response": {
                "$ref": "ListClientsResponse"
              },
              "path": "v2beta1/accounts/{accountId}/clients",
              "httpMethod": "GET",
              "flatPath": "v2beta1/accounts/{accountId}/clients",
              "description": "Lists all the clients for the current sponsor buyer.",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            }
          }
        },
        "proposals": {
          "methods": {
            "get": {
              "parameters": {
                "proposalId": {
                  "description": "The unique ID of the proposal",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "accountId": {
                  "required": true,
                  "description": "Account ID of the buyer.",
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}",
              "description": "Gets a proposal given its ID. The proposal is returned at its head revision.",
              "httpMethod": "GET",
              "response": {
                "$ref": "Proposal"
              },
              "id": "adexchangebuyer2.accounts.proposals.get",
              "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            },
            "accept": {
              "httpMethod": "POST",
              "id": "adexchangebuyer2.accounts.proposals.accept",
              "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}:accept",
              "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}:accept",
              "request": {
                "$ref": "AcceptProposalRequest"
              },
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "response": {
                "$ref": "Proposal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "parameters": {
                "proposalId": {
                  "required": true,
                  "description": "The ID of the proposal to accept.",
                  "type": "string",
                  "location": "path"
                },
                "accountId": {
                  "required": true,
                  "description": "Account ID of the buyer.",
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Mark the proposal as accepted at the given revision number. If the number does not match the server's revision number an `ABORTED` error message will be returned. This call updates the proposal_state from `PROPOSED` to `BUYER_ACCEPTED`, or from `SELLER_ACCEPTED` to `FINALIZED`. Upon calling this endpoint, the buyer implicitly agrees to the terms and conditions optionally set within the proposal by the publisher."
            },
            "addNote": {
              "httpMethod": "POST",
              "response": {
                "$ref": "Note"
              },
              "description": "Create a new note and attach it to the proposal. The note is assigned a unique ID by the server. The proposal revision number will not increase when associated with a new note.",
              "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}:addNote",
              "id": "adexchangebuyer2.accounts.proposals.addNote",
              "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}:addNote",
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "parameters": {
                "accountId": {
                  "required": true,
                  "description": "Account ID of the buyer.",
                  "type": "string",
                  "location": "path"
                },
                "proposalId": {
                  "description": "The ID of the proposal to attach the note to.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "request": {
                "$ref": "AddNoteRequest"
              }
            },
            "list": {
              "response": {
                "$ref": "ListProposalsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "parameterOrder": [
                "accountId"
              ],
              "id": "adexchangebuyer2.accounts.proposals.list",
              "path": "v2beta1/accounts/{accountId}/proposals",
              "httpMethod": "GET",
              "description": "List proposals. A filter expression (PQL query) may be specified to filter the results. To retrieve all finalized proposals, regardless if a proposal is being renegotiated, see the FinalizedProposals resource. Note that Bidder/ChildSeat relationships differ from the usual behavior. A Bidder account can only see its child seats' proposals by specifying the ChildSeat's accountId in the request path.",
              "flatPath": "v2beta1/accounts/{accountId}/proposals",
              "parameters": {
                "filter": {
                  "description": "An optional PQL filter query used to query for proposals. Nested repeated fields, such as proposal.deals.targetingCriterion, cannot be filtered.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The page token as returned from ListProposalsResponse."
                },
                "accountId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Account ID of the buyer."
                },
                "filterSyntax": {
                  "enumDescriptions": [
                    "A placeholder for an undefined filter syntax.",
                    "PQL query syntax. Visit https://developers.google.com/ad-manager/api/pqlreference for PQL documentation and examples.",
                    "API list filtering syntax. Read about syntax and usage at https://developers.google.com/authorized-buyers/apis/guides/v2/list-filters."
                  ],
                  "type": "string",
                  "enum": [
                    "FILTER_SYNTAX_UNSPECIFIED",
                    "PQL",
                    "LIST_FILTER"
                  ],
                  "location": "query",
                  "description": "Syntax the filter is written in. Current implementation defaults to PQL but in the future it will be LIST_FILTER."
                }
              }
            },
            "pause": {
              "httpMethod": "POST",
              "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}:pause",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "response": {
                "$ref": "Proposal"
              },
              "id": "adexchangebuyer2.accounts.proposals.pause",
              "request": {
                "$ref": "PauseProposalRequest"
              },
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Account ID of the buyer."
                },
                "proposalId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The ID of the proposal to pause."
                }
              },
              "description": "Update the given proposal to pause serving. This method will set the `DealServingMetadata.DealPauseStatus.has_buyer_paused` bit to true for all deals in the proposal. It is a no-op to pause an already-paused proposal. It is an error to call PauseProposal for a proposal that is not finalized or renegotiating.",
              "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}:pause"
            },
            "completeSetup": {
              "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}:completeSetup",
              "id": "adexchangebuyer2.accounts.proposals.completeSetup",
              "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}:completeSetup",
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "response": {
                "$ref": "Proposal"
              },
              "description": "Update the given proposal to indicate that setup has been completed. This method is called by the buyer when the line items have been created on their end for a finalized proposal and all the required creatives have been uploaded using the creatives API. This call updates the `is_setup_completed` bit on the proposal and also notifies the seller. The server will advance the revision number of the most recent proposal.",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Account ID of the buyer."
                },
                "proposalId": {
                  "description": "The ID of the proposal to mark as setup completed.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "CompleteSetupRequest"
              }
            },
            "resume": {
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}:resume",
              "id": "adexchangebuyer2.accounts.proposals.resume",
              "httpMethod": "POST",
              "request": {
                "$ref": "ResumeProposalRequest"
              },
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account ID of the buyer.",
                  "location": "path",
                  "required": true
                },
                "proposalId": {
                  "description": "The ID of the proposal to resume.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Proposal"
              },
              "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}:resume",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "description": "Update the given proposal to resume serving. This method will set the `DealServingMetadata.DealPauseStatus.has_buyer_paused` bit to false for all deals in the proposal. Note that if the `has_seller_paused` bit is also set, serving will not resume until the seller also resumes. It is a no-op to resume an already-running proposal. It is an error to call ResumeProposal for a proposal that is not finalized or renegotiating."
            },
            "cancelNegotiation": {
              "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}:cancelNegotiation",
              "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}:cancelNegotiation",
              "request": {
                "$ref": "CancelNegotiationRequest"
              },
              "httpMethod": "POST",
              "id": "adexchangebuyer2.accounts.proposals.cancelNegotiation",
              "description": "Cancel an ongoing negotiation on a proposal. This does not cancel or end serving for the deals if the proposal has been finalized, but only cancels a negotiation unilaterally.",
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "response": {
                "$ref": "Proposal"
              },
              "parameters": {
                "accountId": {
                  "description": "Account ID of the buyer.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "proposalId": {
                  "description": "The ID of the proposal to cancel negotiation for.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            },
            "update": {
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "httpMethod": "PUT",
              "description": "Update the given proposal at the client known revision number. If the server revision has advanced since the passed-in `proposal.proposal_revision`, an `ABORTED` error message will be returned. Only the buyer-modifiable fields of the proposal will be updated. Note that the deals in the proposal will be updated to match the passed-in copy. If a passed-in deal does not have a `deal_id`, the server will assign a new unique ID and create the deal. If passed-in deal has a `deal_id`, it will be updated to match the passed-in copy. Any existing deals not present in the passed-in proposal will be deleted. It is an error to pass in a deal with a `deal_id` not present at head.",
              "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}",
              "request": {
                "$ref": "Proposal"
              },
              "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}",
              "response": {
                "$ref": "Proposal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "parameters": {
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Account ID of the buyer."
                },
                "proposalId": {
                  "type": "string",
                  "description": "The unique ID of the proposal.",
                  "location": "path",
                  "required": true
                }
              },
              "id": "adexchangebuyer2.accounts.proposals.update"
            },
            "create": {
              "path": "v2beta1/accounts/{accountId}/proposals",
              "parameterOrder": [
                "accountId"
              ],
              "flatPath": "v2beta1/accounts/{accountId}/proposals",
              "httpMethod": "POST",
              "description": "Create the given proposal. Each created proposal and any deals it contains are assigned a unique ID by the server.",
              "request": {
                "$ref": "Proposal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "id": "adexchangebuyer2.accounts.proposals.create",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account ID of the buyer.",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Proposal"
              }
            }
          }
        },
        "creatives": {
          "methods": {
            "stopWatching": {
              "parameters": {
                "creativeId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The creative ID of the creative to stop notifications for. Specify \"-\" to specify stopping account level notifications."
                },
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The account of the creative to stop notifications for."
                }
              },
              "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}:stopWatching",
              "description": "Stops watching a creative. Will stop push notifications being sent to the topics when the creative changes status.",
              "id": "adexchangebuyer2.accounts.creatives.stopWatching",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "request": {
                "$ref": "StopWatchingCreativeRequest"
              },
              "response": {
                "$ref": "Empty"
              },
              "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}:stopWatching",
              "httpMethod": "POST",
              "parameterOrder": [
                "accountId",
                "creativeId"
              ]
            },
            "create": {
              "path": "v2beta1/accounts/{accountId}/creatives",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "parameters": {
                "accountId": {
                  "description": "The account that this creative belongs to. Can be used to filter the response of the creatives.list method.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "duplicateIdMode": {
                  "type": "string",
                  "enumDescriptions": [
                    "Recommended. This means that an ID will be unique to a single creative. Multiple creatives will not share an ID.",
                    "Not recommended. Using this option will allow multiple creatives to share the same ID. Get and Update requests will not be possible for any ID that has more than one creative associated. (List will still function.) This is only intended for backwards compatibility in cases where a single ID is already shared by multiple creatives from previous APIs."
                  ],
                  "description": "Indicates if multiple creatives can share an ID or not. Default is NO_DUPLICATES (one ID per creative).",
                  "location": "query",
                  "enum": [
                    "NO_DUPLICATES",
                    "FORCE_ENABLE_DUPLICATE_IDS"
                  ]
                }
              },
              "description": "Creates a creative.",
              "request": {
                "$ref": "Creative"
              },
              "response": {
                "$ref": "Creative"
              },
              "flatPath": "v2beta1/accounts/{accountId}/creatives",
              "httpMethod": "POST",
              "id": "adexchangebuyer2.accounts.creatives.create",
              "parameterOrder": [
                "accountId"
              ]
            },
            "get": {
              "parameterOrder": [
                "accountId",
                "creativeId"
              ],
              "description": "Gets a creative.",
              "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}",
              "parameters": {
                "creativeId": {
                  "type": "string",
                  "required": true,
                  "description": "The ID of the creative to retrieve.",
                  "location": "path"
                },
                "accountId": {
                  "description": "The account the creative belongs to.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}",
              "id": "adexchangebuyer2.accounts.creatives.get",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "response": {
                "$ref": "Creative"
              },
              "httpMethod": "GET"
            },
            "list": {
              "path": "v2beta1/accounts/{accountId}/creatives",
              "id": "adexchangebuyer2.accounts.creatives.list",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "description": "Requested page size. The server may return fewer creatives than requested (due to timeout constraint) even if more are available via another call. If unspecified, server will pick an appropriate default. Acceptable values are 1 to 1000, inclusive.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListCreativesResponse.next_page_token returned from the previous call to 'ListCreatives' method.",
                  "type": "string",
                  "location": "query"
                },
                "query": {
                  "location": "query",
                  "type": "string",
                  "description": "An optional query string to filter creatives. If no filter is specified, all active creatives will be returned. Supported queries are: - accountId=*account_id_string* - creativeId=*creative_id_string* - dealsStatus: {approved, conditionally_approved, disapproved, not_checked} - openAuctionStatus: {approved, conditionally_approved, disapproved, not_checked} - attribute: {a numeric attribute from the list of attributes} - disapprovalReason: {a reason from DisapprovalReason} Example: 'accountId=12345 AND (dealsStatus:disapproved AND disapprovalReason:unacceptable_content) OR attribute:47'"
                },
                "accountId": {
                  "required": true,
                  "location": "path",
                  "description": "The account to list the creatives from. Specify \"-\" to list all creatives the current user has access to.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListCreativesResponse"
              },
              "description": "Lists creatives.",
              "flatPath": "v2beta1/accounts/{accountId}/creatives",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "parameterOrder": [
                "accountId"
              ]
            },
            "update": {
              "response": {
                "$ref": "Creative"
              },
              "description": "Updates a creative.",
              "id": "adexchangebuyer2.accounts.creatives.update",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "request": {
                "$ref": "Creative"
              },
              "parameters": {
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "description": "The account that this creative belongs to. Can be used to filter the response of the creatives.list method.",
                  "required": true
                },
                "creativeId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The buyer-defined creative ID of this creative. Can be used to filter the response of the creatives.list method."
                }
              },
              "httpMethod": "PUT",
              "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}",
              "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}",
              "parameterOrder": [
                "accountId",
                "creativeId"
              ]
            },
            "watch": {
              "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}:watch",
              "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}:watch",
              "httpMethod": "POST",
              "parameterOrder": [
                "accountId",
                "creativeId"
              ],
              "request": {
                "$ref": "WatchCreativeRequest"
              },
              "description": "Watches a creative. Will result in push notifications being sent to the topic when the creative changes status.",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "description": "The account of the creative to watch.",
                  "type": "string",
                  "required": true
                },
                "creativeId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The creative ID to watch for status changes. Specify \"-\" to watch all creatives under the above account. If both creative-level and account-level notifications are sent, only a single notification will be sent to the creative-level notification topic."
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "id": "adexchangebuyer2.accounts.creatives.watch",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            }
          },
          "resources": {
            "dealAssociations": {
              "methods": {
                "remove": {
                  "description": "Remove the association between a deal and a creative.",
                  "request": {
                    "$ref": "RemoveDealAssociationRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations:remove",
                  "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations:remove",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "description": "The account the creative belongs to.",
                      "type": "string",
                      "location": "path"
                    },
                    "creativeId": {
                      "required": true,
                      "location": "path",
                      "description": "The ID of the creative associated with the deal.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "creativeId"
                  ],
                  "httpMethod": "POST",
                  "id": "adexchangebuyer2.accounts.creatives.dealAssociations.remove"
                },
                "list": {
                  "id": "adexchangebuyer2.accounts.creatives.dealAssociations.list",
                  "response": {
                    "$ref": "ListDealAssociationsResponse"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations",
                  "parameters": {
                    "creativeId": {
                      "location": "path",
                      "description": "The creative ID to list the associations from. Specify \"-\" to list all creatives under the above account.",
                      "type": "string",
                      "required": true
                    },
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The account to list the associations from. Specify \"-\" to list all creatives the current user has access to."
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Requested page size. Server may return fewer associations than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListDealAssociationsResponse.next_page_token returned from the previous call to 'ListDealAssociations' method."
                    },
                    "query": {
                      "type": "string",
                      "location": "query",
                      "description": "An optional query string to filter deal associations. If no filter is specified, all associations will be returned. Supported queries are: - accountId=*account_id_string* - creativeId=*creative_id_string* - dealsId=*deals_id_string* - dealsStatus:{approved, conditionally_approved, disapproved, not_checked} - openAuctionStatus:{approved, conditionally_approved, disapproved, not_checked} Example: 'dealsId=12345 AND dealsStatus:disapproved'"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "description": "List all creative-deal associations.",
                  "parameterOrder": [
                    "accountId",
                    "creativeId"
                  ],
                  "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations"
                },
                "add": {
                  "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations:add",
                  "description": "Associate an existing deal with a creative.",
                  "httpMethod": "POST",
                  "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations:add",
                  "id": "adexchangebuyer2.accounts.creatives.dealAssociations.add",
                  "request": {
                    "$ref": "AddDealAssociationRequest"
                  },
                  "parameterOrder": [
                    "accountId",
                    "creativeId"
                  ],
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The account the creative belongs to."
                    },
                    "creativeId": {
                      "location": "path",
                      "type": "string",
                      "description": "The ID of the creative associated with the deal.",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ]
                }
              }
            }
          }
        },
        "finalizedProposals": {
          "methods": {
            "resume": {
              "httpMethod": "POST",
              "description": "Update given deals to resume serving. This method will set the `DealServingMetadata.DealPauseStatus.has_buyer_paused` bit to false for all listed deals in the request. Currently, this method only applies to PG and PD deals. For PA deals, please call accounts.proposals.resume endpoint. It is a no-op to resume running deals or deals paused by the other party. It is an error to call ResumeProposalDeals for deals which are not part of the proposal of proposal_id or which are not finalized or renegotiating.",
              "request": {
                "$ref": "ResumeProposalDealsRequest"
              },
              "path": "v2beta1/accounts/{accountId}/finalizedProposals/{proposalId}:resume",
              "flatPath": "v2beta1/accounts/{accountId}/finalizedProposals/{proposalId}:resume",
              "response": {
                "$ref": "Proposal"
              },
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "parameters": {
                "accountId": {
                  "location": "path",
                  "description": "Account ID of the buyer.",
                  "type": "string",
                  "required": true
                },
                "proposalId": {
                  "description": "The proposal_id of the proposal containing the deals.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "id": "adexchangebuyer2.accounts.finalizedProposals.resume"
            },
            "pause": {
              "response": {
                "$ref": "Proposal"
              },
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "flatPath": "v2beta1/accounts/{accountId}/finalizedProposals/{proposalId}:pause",
              "description": "Update given deals to pause serving. This method will set the `DealServingMetadata.DealPauseStatus.has_buyer_paused` bit to true for all listed deals in the request. Currently, this method only applies to PG and PD deals. For PA deals, please call accounts.proposals.pause endpoint. It is a no-op to pause already-paused deals. It is an error to call PauseProposalDeals for deals which are not part of the proposal of proposal_id or which are not finalized or renegotiating.",
              "request": {
                "$ref": "PauseProposalDealsRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "proposalId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The proposal_id of the proposal containing the deals."
                },
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "description": "Account ID of the buyer.",
                  "required": true
                }
              },
              "path": "v2beta1/accounts/{accountId}/finalizedProposals/{proposalId}:pause",
              "id": "adexchangebuyer2.accounts.finalizedProposals.pause"
            },
            "list": {
              "flatPath": "v2beta1/accounts/{accountId}/finalizedProposals",
              "response": {
                "$ref": "ListProposalsResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "parameterOrder": [
                "accountId"
              ],
              "description": "List finalized proposals, regardless if a proposal is being renegotiated. A filter expression (PQL query) may be specified to filter the results. The notes will not be returned.",
              "path": "v2beta1/accounts/{accountId}/finalizedProposals",
              "id": "adexchangebuyer2.accounts.finalizedProposals.list",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                  "format": "int32",
                  "location": "query"
                },
                "filter": {
                  "description": "An optional PQL filter query used to query for proposals. Nested repeated fields, such as proposal.deals.targetingCriterion, cannot be filtered.",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The page token as returned from ListProposalsResponse."
                },
                "accountId": {
                  "location": "path",
                  "required": true,
                  "description": "Account ID of the buyer.",
                  "type": "string"
                },
                "filterSyntax": {
                  "enumDescriptions": [
                    "A placeholder for an undefined filter syntax.",
                    "PQL query syntax. Visit https://developers.google.com/ad-manager/api/pqlreference for PQL documentation and examples.",
                    "API list filtering syntax. Read about syntax and usage at https://developers.google.com/authorized-buyers/apis/guides/v2/list-filters."
                  ],
                  "description": "Syntax the filter is written in. Current implementation defaults to PQL but in the future it will be LIST_FILTER.",
                  "location": "query",
                  "enum": [
                    "FILTER_SYNTAX_UNSPECIFIED",
                    "PQL",
                    "LIST_FILTER"
                  ],
                  "type": "string"
                }
              }
            }
          }
        },
        "products": {
          "methods": {
            "get": {
              "parameters": {
                "productId": {
                  "description": "The ID for the product to get the head revision for.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Account ID of the buyer.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Product"
              },
              "flatPath": "v2beta1/accounts/{accountId}/products/{productId}",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "description": "Gets the requested product by ID.",
              "path": "v2beta1/accounts/{accountId}/products/{productId}",
              "id": "adexchangebuyer2.accounts.products.get",
              "parameterOrder": [
                "accountId",
                "productId"
              ],
              "httpMethod": "GET"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "parameters": {
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "An optional PQL query used to query for products. See https://developers.google.com/ad-manager/docs/pqlreference for documentation about PQL and examples. Nested repeated fields, such as product.targetingCriterion.inclusions, cannot be filtered."
                },
                "pageToken": {
                  "location": "query",
                  "description": "The page token as returned from ListProductsResponse.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default."
                },
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Account ID of the buyer."
                }
              },
              "description": "List all products visible to the buyer (optionally filtered by the specified PQL query).",
              "flatPath": "v2beta1/accounts/{accountId}/products",
              "parameterOrder": [
                "accountId"
              ],
              "response": {
                "$ref": "ListProductsResponse"
              },
              "httpMethod": "GET",
              "id": "adexchangebuyer2.accounts.products.list",
              "path": "v2beta1/accounts/{accountId}/products"
            }
          }
        },
        "publisherProfiles": {
          "methods": {
            "list": {
              "path": "v2beta1/accounts/{accountId}/publisherProfiles",
              "description": "List all publisher profiles visible to the buyer",
              "flatPath": "v2beta1/accounts/{accountId}/publisherProfiles",
              "parameterOrder": [
                "accountId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "response": {
                "$ref": "ListPublisherProfilesResponse"
              },
              "id": "adexchangebuyer2.accounts.publisherProfiles.list",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Account ID of the buyer."
                },
                "pageSize": {
                  "description": "Specify the number of results to include per page.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The page token as return from ListPublisherProfilesResponse."
                }
              },
              "httpMethod": "GET"
            },
            "get": {
              "description": "Gets the requested publisher profile by id.",
              "id": "adexchangebuyer2.accounts.publisherProfiles.get",
              "parameters": {
                "accountId": {
                  "description": "Account ID of the buyer.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "publisherProfileId": {
                  "required": true,
                  "location": "path",
                  "description": "The id for the publisher profile to get.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "accountId",
                "publisherProfileId"
              ],
              "response": {
                "$ref": "PublisherProfile"
              },
              "flatPath": "v2beta1/accounts/{accountId}/publisherProfiles/{publisherProfileId}",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "httpMethod": "GET",
              "path": "v2beta1/accounts/{accountId}/publisherProfiles/{publisherProfileId}"
            }
          }
        }
      }
    },
    "bidders": {
      "resources": {
        "accounts": {
          "resources": {
            "filterSets": {
              "resources": {
                "impressionMetrics": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/impressionMetrics",
                      "description": "Lists all metrics that are measured in terms of number of impressions.",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListImpressionMetricsResponse.nextPageToken returned from the previous call to the impressionMetrics.list method.",
                          "location": "query"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default."
                        },
                        "filterSetName": {
                          "required": true,
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "id": "adexchangebuyer2.bidders.accounts.filterSets.impressionMetrics.list",
                      "path": "v2beta1/{+filterSetName}/impressionMetrics",
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ],
                      "parameterOrder": [
                        "filterSetName"
                      ],
                      "response": {
                        "$ref": "ListImpressionMetricsResponse"
                      }
                    }
                  }
                },
                "losingBids": {
                  "methods": {
                    "list": {
                      "description": "List all reasons for which bids lost in the auction, with the number of bids that lost for each reason.",
                      "path": "v2beta1/{+filterSetName}/losingBids",
                      "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/losingBids",
                      "parameters": {
                        "pageToken": {
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListLosingBidsResponse.nextPageToken returned from the previous call to the losingBids.list method.",
                          "type": "string",
                          "location": "query"
                        },
                        "filterSetName": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                          "type": "integer"
                        }
                      },
                      "id": "adexchangebuyer2.bidders.accounts.filterSets.losingBids.list",
                      "parameterOrder": [
                        "filterSetName"
                      ],
                      "response": {
                        "$ref": "ListLosingBidsResponse"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ]
                    }
                  }
                },
                "filteredBidRequests": {
                  "methods": {
                    "list": {
                      "description": "List all reasons that caused a bid request not to be sent for an impression, with the number of bid requests not sent for each reason.",
                      "response": {
                        "$ref": "ListFilteredBidRequestsResponse"
                      },
                      "parameterOrder": [
                        "filterSetName"
                      ],
                      "id": "adexchangebuyer2.bidders.accounts.filterSets.filteredBidRequests.list",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                          "format": "int32"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListFilteredBidRequestsResponse.nextPageToken returned from the previous call to the filteredBidRequests.list method."
                        },
                        "filterSetName": {
                          "required": true,
                          "type": "string",
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                          "location": "path"
                        }
                      },
                      "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/filteredBidRequests",
                      "path": "v2beta1/{+filterSetName}/filteredBidRequests",
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ],
                      "httpMethod": "GET"
                    }
                  }
                },
                "bidResponseErrors": {
                  "methods": {
                    "list": {
                      "path": "v2beta1/{+filterSetName}/bidResponseErrors",
                      "response": {
                        "$ref": "ListBidResponseErrorsResponse"
                      },
                      "description": "List all errors that occurred in bid responses, with the number of bid responses affected for each reason.",
                      "parameters": {
                        "pageToken": {
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBidResponseErrorsResponse.nextPageToken returned from the previous call to the bidResponseErrors.list method.",
                          "location": "query",
                          "type": "string"
                        },
                        "filterSetName": {
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "required": true,
                          "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                          "type": "string",
                          "location": "path"
                        },
                        "pageSize": {
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        }
                      },
                      "parameterOrder": [
                        "filterSetName"
                      ],
                      "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/bidResponseErrors",
                      "httpMethod": "GET",
                      "id": "adexchangebuyer2.bidders.accounts.filterSets.bidResponseErrors.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ]
                    }
                  }
                },
                "filteredBids": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "parameters": {
                        "filterSetName": {
                          "location": "path",
                          "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                          "required": true,
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListFilteredBidsResponse.nextPageToken returned from the previous call to the filteredBids.list method.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ],
                      "parameterOrder": [
                        "filterSetName"
                      ],
                      "description": "List all reasons for which bids were filtered, with the number of bids filtered for each reason.",
                      "path": "v2beta1/{+filterSetName}/filteredBids",
                      "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/filteredBids",
                      "id": "adexchangebuyer2.bidders.accounts.filterSets.filteredBids.list",
                      "response": {
                        "$ref": "ListFilteredBidsResponse"
                      }
                    }
                  },
                  "resources": {
                    "creatives": {
                      "methods": {
                        "list": {
                          "id": "adexchangebuyer2.bidders.accounts.filterSets.filteredBids.creatives.list",
                          "response": {
                            "$ref": "ListCreativeStatusBreakdownByCreativeResponse"
                          },
                          "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/filteredBids/{creativeStatusId}/creatives",
                          "parameters": {
                            "pageToken": {
                              "location": "query",
                              "description": "A token identifying a page of results the server should return. Typically, this is the value of ListCreativeStatusBreakdownByCreativeResponse.nextPageToken returned from the previous call to the filteredBids.creatives.list method.",
                              "type": "string"
                            },
                            "filterSetName": {
                              "required": true,
                              "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                              "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                              "type": "string",
                              "location": "path"
                            },
                            "creativeStatusId": {
                              "required": true,
                              "format": "int32",
                              "location": "path",
                              "description": "The ID of the creative status for which to retrieve a breakdown by creative. See [creative-status-codes](https://developers.google.com/authorized-buyers/rtb/downloads/creative-status-codes).",
                              "type": "integer"
                            },
                            "pageSize": {
                              "location": "query",
                              "format": "int32",
                              "type": "integer",
                              "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default."
                            }
                          },
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "filterSetName",
                            "creativeStatusId"
                          ],
                          "path": "v2beta1/{+filterSetName}/filteredBids/{creativeStatusId}/creatives",
                          "description": "List all creatives associated with a specific reason for which bids were filtered, with the number of bids filtered for each creative.",
                          "scopes": [
                            "https://www.googleapis.com/auth/adexchange.buyer"
                          ]
                        }
                      }
                    },
                    "details": {
                      "methods": {
                        "list": {
                          "parameterOrder": [
                            "filterSetName",
                            "creativeStatusId"
                          ],
                          "id": "adexchangebuyer2.bidders.accounts.filterSets.filteredBids.details.list",
                          "description": "List all details associated with a specific reason for which bids were filtered, with the number of bids filtered for each detail.",
                          "parameters": {
                            "filterSetName": {
                              "type": "string",
                              "required": true,
                              "location": "path",
                              "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                              "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$"
                            },
                            "creativeStatusId": {
                              "required": true,
                              "format": "int32",
                              "type": "integer",
                              "description": "The ID of the creative status for which to retrieve a breakdown by detail. See [creative-status-codes](https://developers.google.com/authorized-buyers/rtb/downloads/creative-status-codes). Details are only available for statuses 10, 14, 15, 17, 18, 19, 86, and 87.",
                              "location": "path"
                            },
                            "pageSize": {
                              "type": "integer",
                              "location": "query",
                              "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                              "format": "int32"
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "A token identifying a page of results the server should return. Typically, this is the value of ListCreativeStatusBreakdownByDetailResponse.nextPageToken returned from the previous call to the filteredBids.details.list method.",
                              "location": "query"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/adexchange.buyer"
                          ],
                          "httpMethod": "GET",
                          "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/filteredBids/{creativeStatusId}/details",
                          "path": "v2beta1/{+filterSetName}/filteredBids/{creativeStatusId}/details",
                          "response": {
                            "$ref": "ListCreativeStatusBreakdownByDetailResponse"
                          }
                        }
                      }
                    }
                  }
                },
                "bidMetrics": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "filterSetName": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "required": true
                        },
                        "pageToken": {
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBidMetricsResponse.nextPageToken returned from the previous call to the bidMetrics.list method.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        }
                      },
                      "id": "adexchangebuyer2.bidders.accounts.filterSets.bidMetrics.list",
                      "path": "v2beta1/{+filterSetName}/bidMetrics",
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ],
                      "parameterOrder": [
                        "filterSetName"
                      ],
                      "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/bidMetrics",
                      "description": "Lists all metrics that are measured in terms of number of bids.",
                      "response": {
                        "$ref": "ListBidMetricsResponse"
                      },
                      "httpMethod": "GET"
                    }
                  }
                },
                "nonBillableWinningBids": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListNonBillableWinningBidsResponse"
                      },
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListNonBillableWinningBidsResponse.nextPageToken returned from the previous call to the nonBillableWinningBids.list method.",
                          "location": "query"
                        },
                        "filterSetName": {
                          "required": true,
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "location": "path",
                          "type": "string",
                          "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                          "format": "int32",
                          "type": "integer"
                        }
                      },
                      "path": "v2beta1/{+filterSetName}/nonBillableWinningBids",
                      "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/nonBillableWinningBids",
                      "description": "List all reasons for which winning bids were not billable, with the number of bids not billed for each reason.",
                      "parameterOrder": [
                        "filterSetName"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ],
                      "httpMethod": "GET",
                      "id": "adexchangebuyer2.bidders.accounts.filterSets.nonBillableWinningBids.list"
                    }
                  }
                },
                "bidResponsesWithoutBids": {
                  "methods": {
                    "list": {
                      "path": "v2beta1/{+filterSetName}/bidResponsesWithoutBids",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageToken": {
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBidResponsesWithoutBidsResponse.nextPageToken returned from the previous call to the bidResponsesWithoutBids.list method.",
                          "location": "query",
                          "type": "string"
                        },
                        "filterSetName": {
                          "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                          "location": "path",
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                          "location": "query"
                        }
                      },
                      "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/bidResponsesWithoutBids",
                      "description": "List all reasons for which bid responses were considered to have no applicable bids, with the number of bid responses affected for each reason.",
                      "id": "adexchangebuyer2.bidders.accounts.filterSets.bidResponsesWithoutBids.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ],
                      "parameterOrder": [
                        "filterSetName"
                      ],
                      "response": {
                        "$ref": "ListBidResponsesWithoutBidsResponse"
                      }
                    }
                  }
                }
              },
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListFilterSetsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListFilterSetsResponse.nextPageToken returned from the previous call to the accounts.filterSets.list method."
                    },
                    "ownerName": {
                      "type": "string",
                      "location": "path",
                      "description": "Name of the owner (bidder or account) of the filter sets to be listed. For example: - For a bidder-level filter set for bidder 123: `bidders/123` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456`",
                      "required": true,
                      "pattern": "^bidders/[^/]+/accounts/[^/]+$"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                      "type": "integer"
                    }
                  },
                  "path": "v2beta1/{+ownerName}/filterSets",
                  "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets",
                  "httpMethod": "GET",
                  "id": "adexchangebuyer2.bidders.accounts.filterSets.list",
                  "parameterOrder": [
                    "ownerName"
                  ],
                  "description": "Lists all filter sets for the account with the given account ID."
                },
                "create": {
                  "response": {
                    "$ref": "FilterSet"
                  },
                  "httpMethod": "POST",
                  "path": "v2beta1/{+ownerName}/filterSets",
                  "description": "Creates the specified filter set for the account with the given account ID.",
                  "parameters": {
                    "isTransient": {
                      "description": "Whether the filter set is transient, or should be persisted indefinitely. By default, filter sets are not transient. If transient, it will be available for at least 1 hour after creation.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "ownerName": {
                      "location": "path",
                      "pattern": "^bidders/[^/]+/accounts/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Name of the owner (bidder or account) of the filter set to be created. For example: - For a bidder-level filter set for bidder 123: `bidders/123` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456`"
                    }
                  },
                  "id": "adexchangebuyer2.bidders.accounts.filterSets.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "parameterOrder": [
                    "ownerName"
                  ],
                  "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets",
                  "request": {
                    "$ref": "FilterSet"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "FilterSet"
                  },
                  "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}",
                  "id": "adexchangebuyer2.bidders.accounts.filterSets.get",
                  "httpMethod": "GET",
                  "description": "Retrieves the requested filter set for the account with the given account ID.",
                  "path": "v2beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Full name of the resource being requested. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`"
                    }
                  }
                },
                "delete": {
[...]
