{
  "discoveryVersion": "v1",
  "schemas": {
    "NonBillableWinningBidStatusRow": {
      "description": "The number of winning bids with the specified dimension values for which the buyer was not billed, as described by the specified status.",
      "type": "object",
      "properties": {
        "status": {
          "description": "The status specifying why the winning bids were not billed.",
          "enum": [
            "STATUS_UNSPECIFIED",
            "AD_NOT_RENDERED",
            "INVALID_IMPRESSION",
            "FATAL_VAST_ERROR",
            "LOST_IN_MEDIATION"
          ],
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined status. This value will never be returned in responses.",
            "The buyer was not billed because the ad was not rendered by the publisher.",
            "The buyer was not billed because the impression won by the bid was determined to be invalid.",
            "A video impression was served but a fatal error was reported from the client during playback.",
            "The buyer was not billed because the ad was outplaced in the mediation waterfall."
          ]
        },
        "rowDimensions": {
          "description": "The values of all dimensions associated with metric values in this row.",
          "$ref": "RowDimensions"
        },
        "bidCount": {
          "$ref": "MetricValue",
          "description": "The number of bids with the specified status."
        }
      },
      "id": "NonBillableWinningBidStatusRow"
    },
    "RemoveDealAssociationRequest": {
      "properties": {
        "association": {
          "description": "The association between a creative and a deal that should be removed.",
          "$ref": "CreativeDealAssociation"
        }
      },
      "type": "object",
      "description": "A request for removing the association between a deal and a creative.",
      "id": "RemoveDealAssociationRequest"
    },
    "ContactInformation": {
      "description": "Contains information on how a buyer or seller can be reached.",
      "id": "ContactInformation",
      "properties": {
        "name": {
          "description": "The name of the contact.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "Email address for the contact."
        }
      },
      "type": "object"
    },
    "DeliveryControl": {
      "description": "Message contains details about how the deals will be paced.",
      "id": "DeliveryControl",
      "properties": {
        "frequencyCaps": {
          "type": "array",
          "items": {
            "$ref": "FrequencyCap"
          },
          "readOnly": true,
          "description": "Output only. Specifies any frequency caps."
        },
        "deliveryRateType": {
          "description": "Output only. Specifies how the impression delivery will be paced.",
          "enum": [
            "DELIVERY_RATE_TYPE_UNSPECIFIED",
            "EVENLY",
            "FRONT_LOADED",
            "AS_FAST_AS_POSSIBLE"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an undefined delivery rate type.",
            "Impressions are served uniformly over the life of the deal.",
            "Impressions are served front-loaded.",
            "Impressions are served as fast as possible."
          ]
        },
        "creativeBlockingLevel": {
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined creative blocking level.",
            "Publisher blocking rules will be applied.",
            "The Ad Exchange policy blocking rules will be applied."
          ],
          "readOnly": true,
          "description": "Output only. Specified the creative blocking levels to be applied.",
          "enum": [
            "CREATIVE_BLOCKING_LEVEL_UNSPECIFIED",
            "PUBLISHER_BLOCKING_RULES",
            "ADX_POLICY_BLOCKING_ONLY"
          ]
        }
      },
      "type": "object"
    },
    "SecurityContext": {
      "description": "Output only. A security context.",
      "id": "SecurityContext",
      "type": "object",
      "properties": {
        "securities": {
          "items": {
            "enum": [
              "INSECURE",
              "SSL"
            ],
            "type": "string",
            "enumDescriptions": [
              "Matches impressions that require insecure compatibility.",
              "Matches impressions that require SSL compatibility."
            ]
          },
          "description": "The security types in this context.",
          "type": "array"
        }
      }
    },
    "ListClientUsersResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientUsersRequest.pageToken field in the subsequent call to the clients.invitations.list method to retrieve the next page of results.",
          "type": "string"
        },
        "users": {
          "items": {
            "$ref": "ClientUser"
          },
          "description": "The returned list of client users.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListClientUsersResponse"
    },
    "AcceptProposalRequest": {
      "properties": {
        "proposalRevision": {
          "description": "The last known client revision number of the proposal.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "AcceptProposalRequest",
      "description": "Request to accept a proposal.",
      "type": "object"
    },
    "TargetingCriteria": {
      "id": "TargetingCriteria",
      "type": "object",
      "description": "Advertisers can target different attributes of an ad slot. For example, they can choose to show ads only if the user is in the U.S. Such targeting criteria can be specified as part of Shared Targeting.",
      "properties": {
        "inclusions": {
          "items": {
            "$ref": "TargetingValue"
          },
          "description": "The list of value to include as part of the targeting. Each value is OR'd together.",
          "type": "array"
        },
        "key": {
          "description": "The key representing the shared targeting criterion. Targeting criteria defined by Google ad servers will begin with GOOG_. Third parties may define their own keys. A list of permissible keys along with the acceptable values will be provided as part of the external documentation.",
          "type": "string"
        },
        "exclusions": {
          "type": "array",
          "items": {
            "$ref": "TargetingValue"
          },
          "description": "The list of values to exclude from targeting. Each value is AND'd together."
        }
      }
    },
    "Proposal": {
      "properties": {
        "isRenegotiating": {
          "description": "Output only. True if the proposal is being renegotiated.",
          "readOnly": true,
          "type": "boolean"
        },
        "buyer": {
          "description": "Reference to the buyer on the proposal. Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error.",
          "$ref": "Buyer"
        },
        "buyerContacts": {
          "items": {
            "$ref": "ContactInformation"
          },
          "type": "array",
          "description": "Contact information for the buyer."
        },
        "lastUpdaterOrCommentorRole": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The role of the last user that either updated the proposal or left a comment.",
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ]
        },
        "buyerPrivateData": {
          "description": "Private data for buyer. (hidden from seller).",
          "$ref": "PrivateData"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the proposal was last revised."
        },
        "billedBuyer": {
          "description": "Output only. Reference to the buyer that will get billed for this proposal.",
          "$ref": "Buyer",
          "readOnly": true
        },
        "notes": {
          "description": "Output only. The notes associated with this proposal.",
          "readOnly": true,
          "items": {
            "$ref": "Note"
          },
          "type": "array"
        },
        "displayName": {
          "description": "The name for the proposal.",
          "type": "string"
        },
        "privateAuctionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Private auction ID if this proposal is a private auction proposal."
        },
        "isSetupComplete": {
          "description": "Output only. True, if the buyside inventory setup is complete for this proposal.",
          "readOnly": true,
          "type": "boolean"
        },
        "proposalId": {
          "description": "Output only. The unique ID of the proposal.",
          "type": "string",
          "readOnly": true
        },
        "proposalState": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The current state of the proposal.",
          "enum": [
            "PROPOSAL_STATE_UNSPECIFIED",
            "PROPOSED",
            "BUYER_ACCEPTED",
            "SELLER_ACCEPTED",
            "CANCELED",
            "FINALIZED"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined proposal state.",
            "The proposal is under negotiation or renegotiation.",
            "The proposal has been accepted by the buyer.",
            "The proposal has been accepted by the seller.",
            "The negotiations on the proposal were canceled and the proposal was never finalized.",
            "The proposal is finalized. During renegotiation, the proposal may not be in this state."
          ]
        },
        "deals": {
          "description": "The deals associated with this proposal. For Private Auction proposals (whose deals have NonGuaranteedAuctionTerms), there will only be one deal.",
          "items": {
            "$ref": "Deal"
          },
          "type": "array"
        },
        "termsAndConditions": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The terms and conditions set by the publisher for this proposal."
        },
        "proposalRevision": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The revision number for the proposal. Each update to the proposal or the deal causes the proposal revision number to auto-increment. The buyer keeps track of the last revision number they know of and pass it in when making an update. If the head revision number on the server has since incremented, then an ABORTED error is returned during the update operation to let the buyer know that a subsequent update was made."
        },
        "sellerContacts": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "ContactInformation"
          },
          "description": "Output only. Contact information for the seller."
        },
        "seller": {
          "$ref": "Seller",
          "description": "Reference to the seller on the proposal. Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error."
        },
        "originatorRole": {
          "description": "Output only. Indicates whether the buyer/seller created the proposal.",
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ]
        }
      },
      "type": "object",
      "id": "Proposal",
      "description": "Represents a proposal in the Marketplace. A proposal is the unit of negotiation between a seller and a buyer and contains deals which are served. Note: You can't update, create, or otherwise modify Private Auction deals through the API. Fields are updatable unless noted otherwise."
    },
    "TimeOfDay": {
      "type": "object",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "id": "TimeOfDay",
      "properties": {
        "seconds": {
          "type": "integer",
          "format": "int32",
          "description": "Seconds of minutes of the time. Must normally be from 0 to 59. An API may allow the value 60 if it allows leap-seconds."
        },
        "hours": {
          "format": "int32",
          "description": "Hours of day in 24 hour format. Should be from 0 to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer"
        },
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999."
        },
        "minutes": {
          "description": "Minutes of hour of day. Must be from 0 to 59.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "PlatformContext": {
      "id": "PlatformContext",
      "properties": {
        "platforms": {
          "type": "array",
          "description": "The platforms this restriction applies to.",
          "items": {
            "type": "string",
            "enum": [
              "DESKTOP",
              "ANDROID",
              "IOS"
            ],
            "enumDescriptions": [
              "Desktop platform.",
              "Android platform.",
              "iOS platform."
            ]
          }
        }
      },
      "type": "object",
      "description": "Output only. The type of platform the restriction applies to."
    },
    "PrivateData": {
      "id": "PrivateData",
      "description": "Buyers are allowed to store certain types of private data in a proposal/deal.",
      "type": "object",
      "properties": {
        "referenceId": {
          "description": "A buyer or seller specified reference ID. This can be queried in the list operations (max-length: 1024 unicode code units).",
          "type": "string"
        }
      }
    },
    "ImpressionMetricsRow": {
      "id": "ImpressionMetricsRow",
      "properties": {
        "inventoryMatches": {
          "$ref": "MetricValue",
          "description": "The number of impressions that match the buyer's inventory pretargeting."
        },
        "responsesWithBids": {
          "$ref": "MetricValue",
          "description": "The number of impressions for which Ad Exchange received a response from the buyer that contained at least one applicable bid."
        },
        "availableImpressions": {
          "description": "The number of impressions available to the buyer on Ad Exchange. In some cases this value may be unavailable.",
          "$ref": "MetricValue"
        },
        "bidRequests": {
          "description": "The number of impressions for which Ad Exchange sent the buyer a bid request.",
          "$ref": "MetricValue"
        },
        "successfulResponses": {
          "$ref": "MetricValue",
          "description": "The number of impressions for which the buyer successfully sent a response to Ad Exchange."
        },
        "rowDimensions": {
          "$ref": "RowDimensions",
          "description": "The values of all dimensions associated with metric values in this row."
        }
      },
      "type": "object",
      "description": "The set of metrics that are measured in numbers of impressions, representing how many impressions with the specified dimension values were considered eligible at each stage of the bidding funnel."
    },
    "RelativeDateRange": {
      "type": "object",
      "description": "A relative date range, specified by an offset and a duration. The supported range of dates begins 30 days before today and ends today, i.e., the limits for these values are: offset_days \u003e= 0 duration_days \u003e= 1 offset_days + duration_days \u003c= 30",
      "id": "RelativeDateRange",
      "properties": {
        "offsetDays": {
          "description": "The end date of the filter set, specified as the number of days before today, e.g., for a range where the last date is today: 0.",
          "type": "integer",
          "format": "int32"
        },
        "durationDays": {
          "description": "The number of days in the requested date range, e.g., for a range spanning today: 1. For a range spanning the last 7 days: 7.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Buyer": {
      "id": "Buyer",
      "description": "Represents a buyer of inventory. Each buyer is identified by a unique Authorized Buyers account ID.",
      "properties": {
        "accountId": {
          "description": "Authorized Buyers account ID of the buyer.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Date": {
      "type": "object",
      "properties": {
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "Creative": {
      "id": "Creative",
      "type": "object",
      "properties": {
        "detectedAdvertiserIds": {
          "description": "Output only. Detected advertiser IDs, if any.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "clickThroughUrls": {
          "type": "array",
          "description": "The set of destination URLs for the creative.",
          "items": {
            "type": "string"
          }
        },
        "adChoicesDestinationUrl": {
          "type": "string",
          "description": "The link to AdChoices destination page."
        },
        "video": {
          "description": "A video creative.",
          "$ref": "VideoContent"
        },
        "detectedLanguages": {
          "description": "Output only. The detected languages for this creative. The order is arbitrary. The codes are 2 or 5 characters and are documented at https://developers.google.com/adwords/api/docs/appendix/languagecodes.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The version of this creative."
        },
        "vendorIds": {
          "description": "All vendor IDs for the ads that may be shown from this creative. See https://storage.googleapis.com/adx-rtb-dictionaries/vendors.txt for possible values.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "html": {
          "$ref": "HtmlContent",
          "description": "An HTML creative."
        },
        "detectedProductCategories": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array",
          "description": "Output only. Detected product categories, if any. See the ad-product-categories.txt file in the technical documentation for a list of IDs."
        },
        "declaredClickThroughUrls": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of declared destination URLs for the creative."
        },
        "corrections": {
          "type": "array",
          "items": {
            "$ref": "Correction"
          },
          "description": "Output only. Shows any corrections that were applied to this creative."
        },
        "restrictedCategories": {
          "description": "All restricted categories for the ads that may be shown from this creative.",
          "items": {
            "enumDescriptions": [
              "The ad has no restricted categories",
              "The alcohol restricted category."
            ],
            "enum": [
              "NO_RESTRICTED_CATEGORIES",
              "ALCOHOL"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "accountId": {
          "description": "The account that this creative belongs to. Can be used to filter the response of the creatives.list method.",
          "type": "string"
        },
        "creativeId": {
          "description": "The buyer-defined creative ID of this creative. Can be used to filter the response of the creatives.list method.",
          "type": "string"
        },
        "adTechnologyProviders": {
          "$ref": "AdTechnologyProviders",
          "description": "Output only. The detected ad technology providers."
        },
        "apiUpdateTime": {
          "format": "google-datetime",
          "description": "Output only. The last update timestamp of the creative via API.",
          "type": "string"
        },
        "detectedDomains": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The detected domains for this creative.",
          "type": "array"
        },
        "impressionTrackingUrls": {
          "description": "The set of URLs to be called to record an impression.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "servingRestrictions": {
          "description": "Output only. The granular status of this ad in specific contexts. A context here relates to where something ultimately serves (for example, a physical location, a platform, an HTTPS vs HTTP request, or the type of auction).",
          "items": {
            "$ref": "ServingRestriction"
          },
          "type": "array"
        },
        "native": {
          "$ref": "NativeContent",
          "description": "A native creative."
        },
        "agencyId": {
          "description": "The agency ID for this creative.",
          "type": "string",
          "format": "int64"
        },
        "dealsStatus": {
          "description": "Output only. The top-level deals status of this creative. If disapproved, an entry for 'auctionType=DIRECT_DEALS' (or 'ALL') in serving_restrictions will also exist. Note that this may be nuanced with other contextual restrictions, in which case, it may be preferable to read from serving_restrictions directly. Can be used to filter the response of the creatives.list method.",
          "enumDescriptions": [
            "The status is unknown.",
            "The creative has not been checked.",
            "The creative has been conditionally approved. See serving_restrictions for details.",
            "The creative has been approved.",
            "The creative has been disapproved.",
            "Placeholder for transition to v1beta1. Currently not used.",
            "Placeholder for transition to v1beta1. Currently not used."
          ],
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_CHECKED",
            "CONDITIONALLY_APPROVED",
            "APPROVED",
            "DISAPPROVED",
            "PENDING_REVIEW",
            "STATUS_TYPE_UNSPECIFIED"
          ]
        },
        "detectedSensitiveCategories": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array",
          "description": "Output only. Detected sensitive categories, if any. See the ad-sensitive-categories.txt file in the technical documentation for a list of IDs. You should use these IDs along with the excluded-sensitive-category field in the bid request to filter your bids."
        },
        "attributes": {
          "description": "All attributes for the ads that may be shown from this creative. Can be used to filter the response of the creatives.list method.",
          "items": {
            "enumDescriptions": [
              "Do not use. This is a placeholder value only.",
              "The creative is of type image/rich media. For pretargeting.",
              "The creative is of video type Adobe Flash FLV. For pretargeting.",
              "The creative is tagged.",
              "The creative is cookie targeted.",
              "The creative is user interest targeted.",
              "The creative does not expand.",
              "The creative expands up.",
              "The creative expands down.",
              "The creative expands left.",
              "The creative expands right.",
              "The creative expands up and left.",
              "The creative expands up and right.",
              "The creative expands down and left.",
              "The creative expands down and right.",
              "The creative type is HTML.",
              "The creative type is VAST video.",
              "The creative expands up or down.",
              "The creative expands left or right.",
              "The creative expands on any diagonal.",
              "The creative expands when rolled over.",
              "The instream vast video type is vpaid flash.",
              "The creative is MRAID.",
              "The creative is Flash.",
              "The creative is HTML5.",
              "The creative has an instream VAST video type of skippable instream video. For pretargeting.",
              "The creative is SSL.",
              "The creative is non-SSL.",
              "The creative is an interstitial.",
              "The creative has an instream VAST video type of non-skippable instream video. For pretargeting.",
              "The creative is eligible for native.",
              "The creative has an instream VAST video type of non-VPAID. For pretargeting.",
              "The creative is not eligible for native.",
              "The creative has an interstitial size of any interstitial. For pretargeting.",
              "The creative has an interstitial size of non interstitial. For pretargeting.",
              "The video type is in-banner video.",
              "The creative can dynamically resize to fill a variety of slot sizes.",
              "The open measurement SDK is supported."
            ],
            "enum": [
              "ATTRIBUTE_UNSPECIFIED",
              "IMAGE_RICH_MEDIA",
              "ADOBE_FLASH_FLV",
              "IS_TAGGED",
              "IS_COOKIE_TARGETED",
              "IS_USER_INTEREST_TARGETED",
              "EXPANDING_DIRECTION_NONE",
              "EXPANDING_DIRECTION_UP",
              "EXPANDING_DIRECTION_DOWN",
              "EXPANDING_DIRECTION_LEFT",
              "EXPANDING_DIRECTION_RIGHT",
              "EXPANDING_DIRECTION_UP_LEFT",
              "EXPANDING_DIRECTION_UP_RIGHT",
              "EXPANDING_DIRECTION_DOWN_LEFT",
              "EXPANDING_DIRECTION_DOWN_RIGHT",
              "CREATIVE_TYPE_HTML",
              "CREATIVE_TYPE_VAST_VIDEO",
              "EXPANDING_DIRECTION_UP_OR_DOWN",
              "EXPANDING_DIRECTION_LEFT_OR_RIGHT",
              "EXPANDING_DIRECTION_ANY_DIAGONAL",
              "EXPANDING_ACTION_ROLLOVER_TO_EXPAND",
              "INSTREAM_VAST_VIDEO_TYPE_VPAID_FLASH",
              "RICH_MEDIA_CAPABILITY_TYPE_MRAID",
              "RICH_MEDIA_CAPABILITY_TYPE_FLASH",
              "RICH_MEDIA_CAPABILITY_TYPE_HTML5",
              "SKIPPABLE_INSTREAM_VIDEO",
              "RICH_MEDIA_CAPABILITY_TYPE_SSL",
              "RICH_MEDIA_CAPABILITY_TYPE_NON_SSL",
              "RICH_MEDIA_CAPABILITY_TYPE_INTERSTITIAL",
              "NON_SKIPPABLE_INSTREAM_VIDEO",
              "NATIVE_ELIGIBILITY_ELIGIBLE",
              "NON_VPAID",
              "NATIVE_ELIGIBILITY_NOT_ELIGIBLE",
              "ANY_INTERSTITIAL",
              "NON_INTERSTITIAL",
              "IN_BANNER_VIDEO",
              "RENDERING_SIZELESS_ADX",
              "OMSDK_1_0"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "openAuctionStatus": {
          "description": "Output only. The top-level open auction status of this creative. If disapproved, an entry for 'auctionType = OPEN_AUCTION' (or 'ALL') in serving_restrictions will also exist. Note that this may be nuanced with other contextual restrictions, in which case, it may be preferable to read from serving_restrictions directly. Can be used to filter the response of the creatives.list method.",
          "enumDescriptions": [
            "The status is unknown.",
            "The creative has not been checked.",
            "The creative has been conditionally approved. See serving_restrictions for details.",
            "The creative has been approved.",
            "The creative has been disapproved.",
            "Placeholder for transition to v1beta1. Currently not used.",
            "Placeholder for transition to v1beta1. Currently not used."
          ],
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_CHECKED",
            "CONDITIONALLY_APPROVED",
            "APPROVED",
            "DISAPPROVED",
            "PENDING_REVIEW",
            "STATUS_TYPE_UNSPECIFIED"
          ]
        },
        "advertiserName": {
          "description": "The name of the company being advertised in the creative.",
          "type": "string"
        }
      },
      "description": "A creative and its classification data."
    },
    "PricePerBuyer": {
      "id": "PricePerBuyer",
      "type": "object",
      "properties": {
        "price": {
          "$ref": "Price",
          "description": "The specified price."
        },
        "buyer": {
          "$ref": "Buyer",
          "description": "The buyer who will pay this price. If unset, all buyers can pay this price (if the advertisers match, and there's no more specific rule matching the buyer)."
        },
        "advertiserIds": {
          "description": "The list of advertisers for this price when associated with this buyer. If empty, all advertisers with this buyer pay this price.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Used to specify pricing rules for buyers/advertisers. Each PricePerBuyer in a product can become 0 or 1 deals. To check if there is a PricePerBuyer for a particular buyer or buyer/advertiser pair, we look for the most specific matching rule - we first look for a rule matching the buyer and advertiser, next a rule with the buyer but an empty advertiser list, and otherwise look for a matching rule where no buyer is set."
    },
    "Price": {
      "type": "object",
      "description": "Represents a price and a pricing type for a product / deal.",
      "id": "Price",
      "properties": {
        "amount": {
          "description": "The actual price with currency specified.",
          "$ref": "Money"
        },
        "pricingType": {
          "description": "The pricing type for the deal/product. (default: CPM)",
          "enum": [
            "PRICING_TYPE_UNSPECIFIED",
            "COST_PER_MILLE",
            "COST_PER_DAY"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined pricing type. If the pricing type is unpsecified, `COST_PER_MILLE` will be used instead.",
            "Cost per thousand impressions.",
            "Cost per day"
          ],
          "type": "string"
        }
      }
    },
    "ListFilteredBidsResponse": {
      "id": "ListFilteredBidsResponse",
      "description": "Response message for listing all reasons that bids were filtered from the auction.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListFilteredBidsRequest.pageToken field in the subsequent call to the filteredBids.list method to retrieve the next page of results."
        },
        "creativeStatusRows": {
          "type": "array",
          "items": {
            "$ref": "CreativeStatusRow"
          },
          "description": "List of rows, with counts of filtered bids aggregated by filtering reason (i.e. creative status)."
        }
      },
      "type": "object"
    },
    "DealPauseStatus": {
      "id": "DealPauseStatus",
      "description": "Tracks which parties (if any) have paused a deal. The deal is considered paused if either hasBuyerPaused or hasSellPaused is true.",
      "properties": {
        "buyerPauseReason": {
          "description": "The buyer's reason for pausing, if the buyer paused the deal.",
          "type": "string"
        },
        "firstPausedBy": {
          "type": "string",
          "description": "The role of the person who first paused this deal.",
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ]
        },
        "hasBuyerPaused": {
          "type": "boolean",
          "description": "True, if the buyer has paused the deal unilaterally."
        },
        "sellerPauseReason": {
          "type": "string",
          "description": "The seller's reason for pausing, if the seller paused the deal."
        },
        "hasSellerPaused": {
          "description": "True, if the seller has paused the deal unilaterally.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "StopWatchingCreativeRequest": {
      "type": "object",
      "id": "StopWatchingCreativeRequest",
      "description": "A request for stopping notifications for changes to creative Status.",
      "properties": {}
    },
    "Client": {
      "id": "Client",
      "properties": {
        "entityName": {
          "description": "The name of the entity. This field is automatically fetched based on the type and ID. The value of this field is ignored in create and update operations.",
          "type": "string"
        },
        "entityId": {
          "format": "int64",
          "type": "string",
          "description": "Numerical identifier of the client entity. The entity can be an advertiser, a brand, or an agency. This identifier is unique among all the entities with the same type. The value of this field is ignored if the entity type is not provided. A list of all known advertisers with their identifiers is available in the [advertisers.txt](https://storage.googleapis.com/adx-rtb-dictionaries/advertisers.txt) file. A list of all known brands with their identifiers is available in the [brands.txt](https://storage.googleapis.com/adx-rtb-dictionaries/brands.txt) file. A list of all known agencies with their identifiers is available in the [agencies.txt](https://storage.googleapis.com/adx-rtb-dictionaries/agencies.txt) file."
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined client status.",
            "A client that is currently disabled.",
            "A client that is currently active."
          ],
          "enum": [
            "CLIENT_STATUS_UNSPECIFIED",
            "DISABLED",
            "ACTIVE"
          ],
          "description": "The status of the client buyer."
        },
        "clientName": {
          "type": "string",
          "description": "Name used to represent this client to publishers. You may have multiple clients that map to the same entity, but for each client the combination of `clientName` and entity must be unique. You can specify this field as empty. Maximum length of 255 characters is allowed."
        },
        "visibleToSeller": {
          "description": "Whether the client buyer will be visible to sellers.",
          "type": "boolean"
        },
        "partnerClientId": {
          "type": "string",
          "description": "Optional arbitrary unique identifier of this client buyer from the standpoint of its Ad Exchange sponsor buyer. This field can be used to associate a client buyer with the identifier in the namespace of its sponsor buyer, lookup client buyers by that identifier and verify whether an Ad Exchange counterpart of a given client buyer already exists. If present, must be unique among all the client buyers for its Ad Exchange sponsor buyer."
        },
        "entityType": {
          "enum": [
            "ENTITY_TYPE_UNSPECIFIED",
            "ADVERTISER",
            "BRAND",
            "AGENCY",
            "ENTITY_TYPE_UNCLASSIFIED"
          ],
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined client entity type. Should not be used.",
            "An advertiser.",
            "A brand.",
            "An advertising agency.",
            "An explicit value for a client that was not yet classified as any particular entity."
          ],
          "description": "An optional field for specifying the type of the client entity: `ADVERTISER`, `BRAND`, or `AGENCY`."
        },
        "role": {
          "enumDescriptions": [
            "A placeholder for an undefined client role.",
            "Users associated with this client can see publisher deal offers in the Marketplace. They can neither negotiate proposals nor approve deals. If this client is visible to publishers, they can send deal proposals to this client.",
            "Users associated with this client can respond to deal proposals sent to them by publishers. They can also initiate deal proposals of their own.",
            "Users associated with this client can approve eligible deals on your behalf. Some deals may still explicitly require publisher finalization. If this role is not selected, the sponsor buyer will need to manually approve each of their deals."
          ],
          "description": "The role which is assigned to the client buyer. Each role implies a set of permissions granted to the client. Must be one of `CLIENT_DEAL_VIEWER`, `CLIENT_DEAL_NEGOTIATOR` or `CLIENT_DEAL_APPROVER`.",
          "enum": [
            "CLIENT_ROLE_UNSPECIFIED",
            "CLIENT_DEAL_VIEWER",
            "CLIENT_DEAL_NEGOTIATOR",
            "CLIENT_DEAL_APPROVER"
          ],
          "type": "string"
        },
        "clientAccountId": {
          "description": "The globally-unique numerical ID of the client. The value of this field is ignored in create and update operations.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "A client resource represents a client buyer—an agency, a brand, or an advertiser customer of the sponsor buyer. Users associated with the client buyer have restricted access to the Marketplace and certain other sections of the Authorized Buyers UI based on the role granted to the client buyer. All fields are required unless otherwise specified.",
      "type": "object"
    },
    "CreativeRestrictions": {
      "description": "Represents creative restrictions associated to Programmatic Guaranteed/ Preferred Deal in Ad Manager. This doesn't apply to Private Auction and AdX Preferred Deals.",
      "type": "object",
      "id": "CreativeRestrictions",
      "properties": {
        "skippableAdType": {
          "type": "string",
          "description": "Skippable video ads allow viewers to skip ads after 5 seconds.",
          "enumDescriptions": [
            "A placeholder for an undefined skippable ad type.",
            "This video ad can be skipped after 5 seconds.",
            "This video ad can be skipped after 5 seconds, and is counted as engaged view after 30 seconds. The creative is hosted on YouTube only, and viewcount of the YouTube video increments after the engaged view.",
            "This video ad is not skippable."
          ],
          "enum": [
            "SKIPPABLE_AD_TYPE_UNSPECIFIED",
            "SKIPPABLE",
            "INSTREAM_SELECT",
            "NOT_SKIPPABLE"
          ]
        },
        "creativeSpecifications": {
          "items": {
            "$ref": "CreativeSpecification"
          },
          "type": "array"
        },
        "creativeFormat": {
          "description": "The format of the environment that the creatives will be displayed in.",
          "enumDescriptions": [
            "A placeholder for an undefined creative format.",
            "A creative that will be displayed in environments such as a browser.",
            "A video creative that will be displayed in environments such as a video player."
          ],
          "enum": [
            "CREATIVE_FORMAT_UNSPECIFIED",
            "DISPLAY",
            "VIDEO"
          ],
          "type": "string"
        }
      }
    },
    "AddNoteRequest": {
      "type": "object",
      "properties": {
        "note": {
          "$ref": "Note",
          "description": "Details of the note to add."
        }
      },
      "id": "AddNoteRequest",
      "description": "Request message for adding a note to a given proposal."
    },
    "AbsoluteDateRange": {
      "type": "object",
      "id": "AbsoluteDateRange",
      "description": "An absolute date range, specified by its start date and end date. The supported range of dates begins 30 days before today and ends today. Validity checked upon filter set creation. If a filter set with an absolute date range is run at a later date more than 30 days after start_date, it will fail.",
      "properties": {
        "endDate": {
          "description": "The end date of the range (inclusive). Must be within the 30 days leading up to current date, and must be equal to or after start_date.",
          "$ref": "Date"
        },
        "startDate": {
          "$ref": "Date",
          "description": "The start date of the range (inclusive). Must be within the 30 days leading up to current date, and must be equal to or before end_date."
        }
      }
    },
    "ListImpressionMetricsResponse": {
      "description": "Response message for listing the metrics that are measured in number of impressions.",
      "type": "object",
      "properties": {
        "impressionMetricsRows": {
          "description": "List of rows, each containing a set of impression metrics.",
          "items": {
            "$ref": "ImpressionMetricsRow"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListImpressionMetricsRequest.pageToken field in the subsequent call to the impressionMetrics.list method to retrieve the next page of results."
        }
      },
      "id": "ListImpressionMetricsResponse"
    },
    "ClientUser": {
      "description": "A client user is created under a client buyer and has restricted access to the Marketplace and certain other sections of the Authorized Buyers UI based on the role granted to the associated client buyer. The only way a new client user can be created is via accepting an email invitation (see the accounts.clients.invitations.create method). All fields are required unless otherwise specified.",
      "type": "object",
      "id": "ClientUser",
      "properties": {
        "userId": {
          "format": "int64",
          "type": "string",
          "description": "The unique numerical ID of the client user that has accepted an invitation. The value of this field is ignored in an update operation."
        },
        "email": {
          "type": "string",
          "description": "User's email address. The value of this field is ignored in an update operation."
        },
        "status": {
          "enum": [
            "USER_STATUS_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "DISABLED"
          ],
          "type": "string",
          "description": "The status of the client user.",
          "enumDescriptions": [
            "A placeholder for an undefined user status.",
            "A user who was already created but hasn't accepted the invitation yet.",
            "A user that is currently active.",
            "A user that is currently disabled."
          ]
        },
        "clientAccountId": {
          "format": "int64",
          "type": "string",
          "description": "Numerical account ID of the client buyer with which the user is associated; the buyer must be a client of the current sponsor buyer. The value of this field is ignored in an update operation."
        }
      }
    },
    "PlacementTargeting": {
      "properties": {
        "mobileApplicationTargeting": {
          "description": "Mobile application targeting information in a deal. This doesn't apply to Auction Packages.",
          "$ref": "MobileApplicationTargeting"
        },
        "urlTargeting": {
          "$ref": "UrlTargeting",
          "description": "URLs to be included/excluded."
        }
      },
      "description": "Represents targeting about where the ads can appear, e.g., certain sites or mobile applications. Different placement targeting types will be logically OR'ed.",
      "type": "object",
      "id": "PlacementTargeting"
    },
    "ClientUserInvitation": {
      "description": "An invitation for a new client user to get access to the Authorized Buyers UI. All fields are required unless otherwise specified.",
      "properties": {
        "clientAccountId": {
          "format": "int64",
          "type": "string",
          "description": "Numerical account ID of the client buyer that the invited user is associated with. The value of this field is ignored in create operations."
        },
        "invitationId": {
          "format": "int64",
          "description": "The unique numerical ID of the invitation that is sent to the user. The value of this field is ignored in create operations.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The email address to which the invitation is sent. Email addresses should be unique among all client users under each sponsor buyer."
        }
      },
      "id": "ClientUserInvitation",
      "type": "object"
    },
    "FilteredBidCreativeRow": {
      "id": "FilteredBidCreativeRow",
      "properties": {
        "creativeId": {
          "description": "The ID of the creative.",
          "type": "string"
        },
        "bidCount": {
          "$ref": "MetricValue",
          "description": "The number of bids with the specified creative."
        },
        "rowDimensions": {
          "description": "The values of all dimensions associated with metric values in this row.",
          "$ref": "RowDimensions"
        }
      },
      "description": "The number of filtered bids with the specified dimension values that have the specified creative.",
      "type": "object"
    },
    "CalloutStatusRow": {
      "description": "The number of impressions with the specified dimension values where the corresponding bid request or bid response was not successful, as described by the specified callout status.",
      "type": "object",
      "properties": {
        "rowDimensions": {
          "description": "The values of all dimensions associated with metric values in this row.",
          "$ref": "RowDimensions"
        },
        "calloutStatusId": {
          "description": "The ID of the callout status. See [callout-status-codes](https://developers.google.com/authorized-buyers/rtb/downloads/callout-status-codes).",
          "format": "int32",
          "type": "integer"
        },
        "impressionCount": {
          "$ref": "MetricValue",
          "description": "The number of impressions for which there was a bid request or bid response with the specified callout status."
        }
      },
      "id": "CalloutStatusRow"
    },
    "BidMetricsRow": {
      "type": "object",
      "id": "BidMetricsRow",
      "description": "The set of metrics that are measured in numbers of bids, representing how many bids with the specified dimension values were considered eligible at each stage of the bidding funnel;",
      "properties": {
        "billedImpressions": {
          "description": "The number of bids for which the buyer was billed.",
          "$ref": "MetricValue"
        },
        "impressionsWon": {
          "description": "The number of bids that won the auction.",
          "$ref": "MetricValue"
        },
        "measurableImpressions": {
          "$ref": "MetricValue",
          "description": "The number of bids for which the corresponding impression was measurable for viewability (as defined by Active View)."
        },
        "reachedQueries": {
          "description": "The number of bids that won the auction and also won the mediation waterfall (if any).",
          "$ref": "MetricValue"
        },
        "rowDimensions": {
          "$ref": "RowDimensions",
          "description": "The values of all dimensions associated with metric values in this row."
        },
        "viewableImpressions": {
          "description": "The number of bids for which the corresponding impression was viewable (as defined by Active View).",
          "$ref": "MetricValue"
        },
        "bids": {
          "description": "The number of bids that Ad Exchange received from the buyer.",
          "$ref": "MetricValue"
        },
        "bidsInAuction": {
          "description": "The number of bids that were permitted to compete in the auction.",
          "$ref": "MetricValue"
        }
      }
    },
    "PauseProposalRequest": {
      "properties": {
        "reason": {
          "type": "string",
          "description": "The reason why the proposal is being paused. This human readable message will be displayed in the seller's UI. (Max length: 1000 unicode code units.)"
        }
      },
      "type": "object",
      "description": "Request message to pause serving for an already-finalized proposal.",
      "id": "PauseProposalRequest"
    },
    "ListBidResponsesWithoutBidsResponse": {
      "id": "ListBidResponsesWithoutBidsResponse",
      "description": "Response message for listing all reasons that bid responses were considered to have no applicable bids.",
      "type": "object",
      "properties": {
        "bidResponseWithoutBidsStatusRows": {
          "items": {
            "$ref": "BidResponseWithoutBidsStatusRow"
          },
          "description": "List of rows, with counts of bid responses without bids aggregated by status.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListBidResponsesWithoutBidsRequest.pageToken field in the subsequent call to the bidResponsesWithoutBids.list method to retrieve the next page of results."
        }
      }
    },
    "ListPublisherProfilesResponse": {
      "id": "ListPublisherProfilesResponse",
      "description": "Response message for profiles visible to the buyer.",
      "properties": {
        "nextPageToken": {
          "description": "List pagination support",
          "type": "string"
        },
        "publisherProfiles": {
          "items": {
            "$ref": "PublisherProfile"
          },
          "type": "array",
          "description": "The list of matching publisher profiles."
        }
      },
      "type": "object"
    },
    "Image": {
      "id": "Image",
      "type": "object",
      "description": "An image resource. You may provide a larger image than was requested, so long as the aspect ratio is preserved.",
      "properties": {
        "url": {
          "description": "The URL of the image.",
          "type": "string"
        },
        "height": {
          "format": "int32",
          "description": "Image height in pixels.",
          "type": "integer"
        },
        "width": {
          "format": "int32",
          "type": "integer",
          "description": "Image width in pixels."
        }
      }
    },
    "NativeContent": {
      "id": "NativeContent",
      "properties": {
        "storeUrl": {
          "description": "The URL to the app store to purchase/download the promoted app.",
          "type": "string"
        },
        "advertiserName": {
          "description": "The name of the advertiser or sponsor, to be displayed in the ad creative.",
          "type": "string"
        },
        "starRating": {
          "type": "number",
          "description": "The app rating in the app store. Must be in the range [0-5].",
          "format": "double"
        },
        "clickTrackingUrl": {
          "description": "The URL to use for click tracking.",
          "type": "string"
        },
        "appIcon": {
          "description": "The app icon, for app download ads.",
          "$ref": "Image"
        },
        "logo": {
          "description": "A smaller image, for the advertiser's logo.",
          "$ref": "Image"
        },
        "priceDisplayText": {
          "type": "string",
          "description": "The price of the promoted app including currency info."
        },
        "image": {
          "$ref": "Image",
          "description": "A large image."
        },
        "callToAction": {
          "type": "string",
          "description": "A label for the button that the user is supposed to click."
        },
        "headline": {
          "type": "string",
          "description": "A short title for the ad."
        },
        "body": {
          "description": "A long description of the ad.",
          "type": "string"
        },
        "videoUrl": {
          "description": "The URL to fetch a native video ad.",
          "type": "string"
        },
        "clickLinkUrl": {
          "type": "string",
          "description": "The URL that the browser/SDK will load when the user clicks the ad."
        }
      },
      "type": "object",
      "description": "Native content for a creative."
    },
    "InventorySizeTargeting": {
      "id": "InventorySizeTargeting",
      "properties": {
        "targetedInventorySizes": {
          "description": "A list of inventory sizes to be included.",
          "items": {
            "$ref": "AdSize"
          },
          "type": "array"
        },
        "excludedInventorySizes": {
          "type": "array",
          "items": {
            "$ref": "AdSize"
          },
          "description": "A list of inventory sizes to be excluded."
        }
      },
      "description": "Represents the size of an ad unit that can be targeted on an ad request. It only applies to Private Auction, AdX Preferred Deals and Auction Packages. This targeting does not apply to Programmatic Guaranteed and Preferred Deals in Ad Manager.",
      "type": "object"
    },
    "HtmlContent": {
      "type": "object",
      "id": "HtmlContent",
      "description": "HTML content for a creative.",
      "properties": {
        "snippet": {
          "type": "string",
          "description": "The HTML snippet that displays the ad when inserted in the web page."
        },
        "width": {
          "type": "integer",
          "format": "int32",
          "description": "The width of the HTML snippet in pixels."
        },
        "height": {
          "type": "integer",
          "format": "int32",
          "description": "The height of the HTML snippet in pixels."
        }
      }
    },
    "ListDealAssociationsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListDealAssociationsRequest.page_token field in the subsequent call to 'ListDealAssociation' method to retrieve the next page of results.",
          "type": "string"
        },
        "associations": {
          "items": {
            "$ref": "CreativeDealAssociation"
          },
          "description": "The list of associations.",
          "type": "array"
        }
      },
      "description": "A response for listing creative and deal associations",
      "id": "ListDealAssociationsResponse"
    },
    "ListCreativeStatusBreakdownByDetailResponse": {
      "properties": {
        "detailType": {
          "description": "The type of detail that the detail IDs represent.",
          "enum": [
            "DETAIL_TYPE_UNSPECIFIED",
            "CREATIVE_ATTRIBUTE",
            "VENDOR",
            "SENSITIVE_CATEGORY",
            "PRODUCT_CATEGORY",
            "DISAPPROVAL_REASON",
            "POLICY_TOPIC",
            "ATP_VENDOR",
            "VENDOR_DOMAIN",
            "GVL_ID"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined status. This value will never be returned in responses.",
            "Indicates that the detail ID refers to a creative attribute; see [publisher-excludable-creative-attributes](https://developers.google.com/authorized-buyers/rtb/downloads/publisher-excludable-creative-attributes).",
            "Indicates that the detail ID refers to a vendor; see [vendors](https://developers.google.com/authorized-buyers/rtb/downloads/vendors). This namespace is different from that of the `ATP_VENDOR` detail type.",
            "Indicates that the detail ID refers to a sensitive category; see [ad-sensitive-categories](https://developers.google.com/authorized-buyers/rtb/downloads/ad-sensitive-categories).",
            "Indicates that the detail ID refers to a product category; see [ad-product-categories](https://developers.google.com/authorized-buyers/rtb/downloads/ad-product-categories).",
            "Indicates that the detail ID refers to a disapproval reason; see DisapprovalReason enum in [snippet-status-report-proto](https://developers.google.com/authorized-buyers/rtb/downloads/snippet-status-report-proto).",
            "Indicates that the detail ID refers to a policy topic.",
            "Indicates that the detail ID refers to an ad technology provider (ATP); see [providers] (https://storage.googleapis.com/adx-rtb-dictionaries/providers.csv). This namespace is different from the `VENDOR` detail type; see [ad technology providers](https://support.google.com/admanager/answer/9012903) for more information.",
            "Indicates that the detail string refers the domain of an unknown vendor.",
            "Indicates that the detail ID refers an IAB GVL ID which Google did not detect in the latest TCF Vendor List. See [Global Vendor List] (https://vendor-list.consensu.org/v2/vendor-list.json)"
          ],
          "type": "string"
        },
        "filteredBidDetailRows": {
          "items": {
            "$ref": "FilteredBidDetailRow"
          },
          "type": "array",
          "description": "List of rows, with counts of bids with a given creative status aggregated by detail."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListCreativeStatusBreakdownByDetailRequest.pageToken field in the subsequent call to the filteredBids.details.list method to retrieve the next page of results."
        }
      },
      "id": "ListCreativeStatusBreakdownByDetailResponse",
      "description": "Response message for listing all details associated with a given filtered bid reason.",
      "type": "object"
    },
    "TargetingValue": {
      "description": "A polymorphic targeting value used as part of Shared Targeting.",
      "properties": {
        "stringValue": {
          "description": "The string value to include/exclude.",
          "type": "string"
        },
        "dayPartTargetingValue": {
          "$ref": "DayPartTargeting",
          "description": "The daypart targeting to include / exclude. Filled in when the key is GOOG_DAYPART_TARGETING. The definition of this targeting is derived from the structure used by Ad Manager."
        },
        "creativeSizeValue": {
          "description": "The creative size value to include/exclude. Filled in when key = GOOG_CREATIVE_SIZE",
          "$ref": "CreativeSize"
        },
        "longValue": {
          "format": "int64",
          "type": "string",
          "description": "The long value to include/exclude."
        }
      },
      "id": "TargetingValue",
      "type": "object"
    },
    "ResumeProposalRequest": {
      "id": "ResumeProposalRequest",
      "description": "Request message to resume (unpause) serving for an already-finalized proposal.",
      "type": "object",
      "properties": {}
    },
    "ListClientUserInvitationsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientUserInvitationsRequest.pageToken field in the subsequent call to the clients.invitations.list method to retrieve the next page of results.",
          "type": "string"
        },
        "invitations": {
          "type": "array",
          "description": "The returned list of client users.",
          "items": {
            "$ref": "ClientUserInvitation"
          }
        }
      },
      "id": "ListClientUserInvitationsResponse"
    },
    "TimeInterval": {
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp marking the end of the range (exclusive) for which data is included."
        },
        "startTime": {
          "type": "string",
          "description": "The timestamp marking the start of the range (inclusive) for which data is included.",
          "format": "google-datetime"
        }
      },
      "id": "TimeInterval",
      "type": "object",
      "description": "An interval of time, with an absolute start and end."
    },
    "PublisherProfile": {
      "id": "PublisherProfile",
      "type": "object",
      "properties": {
        "publisherProfileId": {
          "type": "string",
          "description": "Unique ID for publisher profile."
        },
        "audienceDescription": {
          "description": "Description on the publisher's audience.",
          "type": "string"
        },
        "buyerPitchStatement": {
          "description": "Statement explaining what's unique about publisher's business, and why buyers should partner with the publisher.",
          "type": "string"
        },
        "directDealsContact": {
          "type": "string",
          "description": "Contact information for direct reservation deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses."
        },
        "samplePageUrl": {
          "type": "string",
          "description": "URL to a sample content page."
        },
        "programmaticDealsContact": {
          "description": "Contact information for programmatic deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses.",
          "type": "string"
        },
        "domains": {
          "items": {
            "type": "string"
          },
          "description": "The list of domains represented in this publisher profile. Empty if this is a parent profile. These are top private domains, meaning that these will not contain a string like \"photos.google.co.uk/123\", but will instead contain \"google.co.uk\".",
          "type": "array"
        },
        "overview": {
          "type": "string",
          "description": "Overview of the publisher."
        },
        "mediaKitUrl": {
          "type": "string",
          "description": "URL to additional marketing and sales materials."
        },
        "googlePlusUrl": {
          "description": "URL to publisher's Google+ page.",
          "type": "string"
        },
        "seller": {
          "description": "Seller of the publisher profile.",
          "$ref": "Seller"
        },
        "topHeadlines": {
          "description": "Up to three key metrics and rankings. Max 100 characters each. For example \"#1 Mobile News Site for 20 Straight Months\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "Name of the publisher profile.",
          "type": "string"
        },
        "rateCardInfoUrl": {
          "type": "string",
          "description": "URL to a publisher rate card."
        },
        "logoUrl": {
          "type": "string",
          "description": "A Google public URL to the logo for this publisher profile. The logo is stored as a PNG, JPG, or GIF image."
        },
        "isParent": {
          "description": "Indicates if this profile is the parent profile of the seller. A parent profile represents all the inventory from the seller, as opposed to child profile that is created to brand a portion of inventory. One seller should have only one parent publisher profile, and can have multiple child profiles. Publisher profiles for the same seller will have same value of field google.ads.adexchange.buyer.v2beta1.PublisherProfile.seller. See https://support.google.com/admanager/answer/6035806 for details.",
          "type": "boolean"
        },
        "mobileApps": {
          "type": "array",
          "description": "The list of apps represented in this publisher profile. Empty if this is a parent profile.",
          "items": {
            "$ref": "PublisherProfileMobileApplication"
          }
        }
      },
      "description": "Represents a publisher profile (https://support.google.com/admanager/answer/6035806) in Marketplace. All fields are read only. All string fields are free-form text entered by the publisher unless noted otherwise."
    },
    "CreativeSize": {
      "type": "object",
      "description": "Specifies the size of the creative.",
      "properties": {
        "creativeSizeType": {
          "enum": [
            "CREATIVE_SIZE_TYPE_UNSPECIFIED",
            "REGULAR",
            "INTERSTITIAL",
            "VIDEO",
            "NATIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined creative size type.",
            "The creative is a regular desktop creative.",
            "The creative is an interstitial creative.",
            "The creative is a video creative.",
            "The creative is a native (mobile) creative."
          ],
          "description": "The creative size type."
        },
        "nativeTemplate": {
          "enum": [
            "UNKNOWN_NATIVE_TEMPLATE",
            "NATIVE_CONTENT_AD",
            "NATIVE_APP_INSTALL_AD",
            "NATIVE_VIDEO_CONTENT_AD",
            "NATIVE_VIDEO_APP_INSTALL_AD"
          ],
          "type": "string",
          "description": "Output only. The native template for this creative. It will have a value only if creative_size_type = CreativeSizeType.NATIVE.",
          "enumDescriptions": [
            "A placeholder for an undefined native template.",
            "The creative is linked to native content ad.",
            "The creative is linked to native app install ad.",
            "The creative is linked to native video content ad.",
            "The creative is linked to native video app install ad."
          ]
        },
        "allowedFormats": {
          "items": {
            "enum": [
              "UNKNOWN",
              "AUDIO"
            ],
            "type": "string",
            "enumDescriptions": [
              "A placeholder for an undefined allowed format.",
              "An audio-only ad (without any video)."
            ]
          },
          "type": "array",
          "description": "What formats are allowed by the publisher. If this repeated field is empty then all formats are allowed. For example, if this field contains AllowedFormatType.AUDIO then the publisher only allows an audio ad (without any video)."
        },
        "skippableAdType": {
          "description": "The type of skippable ad for this creative. It will have a value only if creative_size_type = CreativeSizeType.VIDEO.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined skippable ad type.",
            "This video ad can be skipped after 5 seconds.",
            "This video ad can be skipped after 5 seconds, and count as engaged view after 30 seconds. The creative is hosted on YouTube only, and viewcount of the YouTube video increments after the engaged view.",
            "This video ad is not skippable."
          ],
          "enum": [
            "SKIPPABLE_AD_TYPE_UNSPECIFIED",
            "GENERIC",
            "INSTREAM_SELECT",
            "NOT_SKIPPABLE"
          ]
        },
        "companionSizes": {
          "description": "For video creatives specifies the sizes of companion ads (if present). Companion sizes may be filled in only when creative_size_type = VIDEO",
          "type": "array",
          "items": {
            "$ref": "Size"
          }
        },
        "size": {
          "$ref": "Size",
          "description": "For regular or video creative size type, specifies the size of the creative"
        }
      },
      "id": "CreativeSize"
    },
    "AppContext": {
      "type": "object",
      "description": "Output only. The app type the restriction applies to for mobile device.",
      "id": "AppContext",
      "properties": {
        "appTypes": {
          "description": "The app types this restriction applies to.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "NATIVE",
              "WEB"
            ],
            "enumDescriptions": [
              "Native app context.",
              "Mobile web app context."
            ]
          }
        }
      }
    },
    "CreativeStatusRow": {
      "type": "object",
      "id": "CreativeStatusRow",
      "description": "The number of bids with the specified dimension values that did not win the auction (either were filtered pre-auction or lost the auction), as described by the specified creative status.",
      "properties": {
        "rowDimensions": {
          "$ref": "RowDimensions",
          "description": "The values of all dimensions associated with metric values in this row."
        },
        "creativeStatusId": {
          "format": "int32",
          "description": "The ID of the creative status. See [creative-status-codes](https://developers.google.com/authorized-buyers/rtb/downloads/creative-status-codes).",
          "type": "integer"
        },
        "bidCount": {
          "description": "The number of bids with the specified status.",
          "$ref": "MetricValue"
        }
      }
    },
    "ResumeProposalDealsRequest": {
      "properties": {
        "externalDealIds": {
          "type": "array",
          "description": "The external_deal_id's of the deals to resume. If empty, all the deals in the proposal will be resumed.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ResumeProposalDealsRequest",
      "type": "object",
      "description": "Request message to resume (unpause) serving for already-finalized deals."
    },
    "VideoTargeting": {
      "description": "Represents targeting information about video.",
      "type": "object",
      "properties": {
        "targetedPositionTypes": {
          "type": "array",
          "description": "A list of video positions to be included. When the included list is present, the excluded list must be empty. When the excluded list is present, the included list must be empty.",
          "items": {
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ],
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ],
            "type": "string"
          }
        },
        "excludedPositionTypes": {
          "items": {
            "type": "string",
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ],
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ]
          },
          "type": "array",
          "description": "A list of video positions to be excluded. Position types can either be included or excluded (XOR)."
        }
      },
      "id": "VideoTargeting"
    },
    "Product": {
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Creation time.",
          "type": "string"
        },
        "availableStartTime": {
          "type": "string",
          "description": "Inventory availability dates. The start time will be truncated to seconds during serving. Thus, a field specified as 3:23:34.456 (HH:mm:ss.SSS) will be truncated to 3:23:34 when serving.",
          "format": "google-datetime"
        },
        "availableEndTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The proposed end time for the deal. The field will be truncated to the order of seconds during serving."
        },
        "publisherProfileId": {
          "description": "An ID which can be used by the Publisher Profile API to get more information about the seller that created this product.",
          "type": "string"
        },
        "productRevision": {
          "format": "int64",
          "type": "string",
          "description": "The revision number of the product (auto-assigned by Marketplace)."
        },
        "displayName": {
          "type": "string",
          "description": "The display name for this product as set by the seller."
        },
        "webPropertyCode": {
          "type": "string",
          "description": "The web-property code for the seller. This needs to be copied as is when adding a new deal to a proposal."
        },
        "productId": {
          "description": "The unique ID for the product.",
          "type": "string"
        },
        "creatorContacts": {
          "type": "array",
          "items": {
            "$ref": "ContactInformation"
          },
          "description": "Optional contact information for the creator of this product."
        },
        "syndicationProduct": {
          "description": "The syndication product associated with the deal.",
          "enum": [
            "SYNDICATION_PRODUCT_UNSPECIFIED",
            "CONTENT",
            "MOBILE",
            "VIDEO",
            "GAMES"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined syndication product.",
            "This typically represents a web page.",
            "This represents a mobile property.",
            "This represents video ad formats.",
            "This represents ads shown within games."
          ],
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Time of last update.",
          "format": "google-datetime"
        },
        "seller": {
          "description": "Information about the seller that created this product.",
          "$ref": "Seller"
        },
        "hasCreatorSignedOff": {
          "type": "boolean",
          "description": "If the creator has already signed off on the product, then the buyer can finalize the deal by accepting the product as is. When copying to a proposal, if any of the terms are changed, then auto_finalize is automatically set to false."
        },
        "targetingCriterion": {
          "type": "array",
          "description": "Targeting that is shared between the buyer and the seller. Each targeting criterion has a specified key and for each key there is a list of inclusion value or exclusion values.",
          "items": {
            "$ref": "TargetingCriteria"
          }
        },
        "terms": {
          "description": "The negotiable terms of the deal.",
          "$ref": "DealTerms"
        }
      },
      "description": "A product is a segment of inventory that a seller wishes to sell. It is associated with certain terms and targeting information which helps the buyer know more about the inventory.",
      "id": "Product"
    },
    "FirstPartyMobileApplicationTargeting": {
      "type": "object",
      "id": "FirstPartyMobileApplicationTargeting",
      "description": "Represents a list of targeted and excluded mobile application IDs that publishers own. Mobile application IDs are from App Store and Google Play Store. Android App ID, for example, com.google.android.apps.maps, can be found in Google Play Store URL. iOS App ID (which is a number) can be found at the end of iTunes store URL. First party mobile applications is either included or excluded.",
      "properties": {
        "excludedAppIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of application IDs to be excluded."
        },
        "targetedAppIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of application IDs to be included."
        }
      }
    },
    "ListCreativesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListCreativesRequest.page_token field in the subsequent call to `ListCreatives` method to retrieve the next page of results."
        },
        "creatives": {
          "type": "array",
          "description": "The list of creatives.",
          "items": {
            "$ref": "Creative"
          }
        }
      },
      "description": "A response for listing creatives.",
      "type": "object",
      "id": "ListCreativesResponse"
    },
    "DealServingMetadata": {
      "type": "object",
      "id": "DealServingMetadata",
      "properties": {
        "dealPauseStatus": {
          "$ref": "DealPauseStatus",
          "readOnly": true,
          "description": "Output only. Tracks which parties (if any) have paused a deal."
        }
      },
      "description": "Message captures metadata about the serving status of a deal."
    },
    "ListFilteredBidRequestsResponse": {
      "description": "Response message for listing all reasons that bid requests were filtered and not sent to the buyer.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListFilteredBidRequestsRequest.pageToken field in the subsequent call to the filteredBidRequests.list method to retrieve the next page of results."
        },
        "calloutStatusRows": {
          "type": "array",
          "description": "List of rows, with counts of filtered bid requests aggregated by callout status.",
          "items": {
            "$ref": "CalloutStatusRow"
          }
        }
      },
      "type": "object",
      "id": "ListFilteredBidRequestsResponse"
    },
    "AdTechnologyProviders": {
      "properties": {
        "hasUnidentifiedProvider": {
          "description": "Whether the creative contains an unidentified ad technology provider. If true for a given creative, any bid submitted with that creative for an impression that will serve to an EEA user will be filtered before the auction.",
          "type": "boolean"
        },
        "detectedProviderIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "The detected ad technology provider IDs for this creative. See https://storage.googleapis.com/adx-rtb-dictionaries/providers.csv for mapping of provider ID to provided name, a privacy policy URL, and a list of domains which can be attributed to the provider. If the creative contains provider IDs that are outside of those listed in the `BidRequest.adslot.consented_providers_settings.consented_providers` field on the (Google bid protocol)[https://developers.google.com/authorized-buyers/rtb/downloads/realtime-bidding-proto] and the `BidRequest.user.ext.consented_providers_settings.consented_providers` field on the (OpenRTB protocol)[https://developers.google.com/authorized-buyers/rtb/downloads/openrtb-adx-proto], and a bid is submitted with that creative for an impression that will serve to an EEA user, the bid will be filtered before the auction."
        }
      },
      "id": "AdTechnologyProviders",
      "type": "object",
      "description": "Detected ad technology provider information."
    },
    "CompleteSetupRequest": {
      "description": "Request message for indicating that the proposal's setup step is complete.",
      "properties": {},
      "id": "CompleteSetupRequest",
      "type": "object"
    },
    "ListCreativeStatusBreakdownByCreativeResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListCreativeStatusBreakdownByCreativeRequest.pageToken field in the subsequent call to the filteredBids.creatives.list method to retrieve the next page of results.",
          "type": "string"
        },
        "filteredBidCreativeRows": {
          "items": {
            "$ref": "FilteredBidCreativeRow"
          },
          "type": "array",
          "description": "List of rows, with counts of bids with a given creative status aggregated by creative."
        }
      },
      "type": "object",
      "id": "ListCreativeStatusBreakdownByCreativeResponse",
      "description": "Response message for listing all creatives associated with a given filtered bid reason."
    },
    "Seller": {
      "properties": {
        "subAccountId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Ad manager network code for the seller."
        },
        "accountId": {
          "type": "string",
          "description": "The unique ID for the seller. The seller fills in this field. The seller account ID is then available to buyer in the product."
        }
      },
      "id": "Seller",
      "type": "object",
      "description": "Represents a seller of inventory. Each seller is identified by a unique Ad Manager account ID."
    },
    "NonGuaranteedAuctionTerms": {
      "id": "NonGuaranteedAuctionTerms",
      "properties": {
        "reservePricesPerBuyer": {
          "items": {
            "$ref": "PricePerBuyer"
          },
          "description": "Reserve price for the specified buyer.",
          "type": "array"
        },
        "autoOptimizePrivateAuction": {
          "description": "True if open auction buyers are allowed to compete with invited buyers in this private auction.",
          "type": "boolean"
        }
      },
      "description": "Terms for Private Auctions. Note that Private Auctions can be created only by the seller, but they can be returned in a get or list request.",
      "type": "object"
    },
    "CreativeDealAssociation": {
      "id": "CreativeDealAssociation",
      "properties": {
        "accountId": {
          "description": "The account the creative belongs to.",
          "type": "string"
        },
        "creativeId": {
          "type": "string",
          "description": "The ID of the creative associated with the deal."
        },
        "dealsId": {
          "description": "The externalDealId for the deal associated with the creative.",
          "type": "string"
        }
      },
      "description": "The association between a creative and a deal.",
      "type": "object"
    },
    "LocationContext": {
      "description": "Output only. The Geo criteria the restriction applies to.",
      "properties": {
        "geoCriteriaIds": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "IDs representing the geo location for this context. Please refer to the [geo-table.csv](https://storage.googleapis.com/adx-rtb-dictionaries/geo-table.csv) file for different geo criteria IDs.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "LocationContext"
    },
    "CancelNegotiationRequest": {
      "description": "Request to cancel an ongoing negotiation.",
      "id": "CancelNegotiationRequest",
      "properties": {},
      "type": "object"
    },
    "WatchCreativeRequest": {
      "description": "A request for watching changes to creative Status.",
      "id": "WatchCreativeRequest",
      "type": "object",
      "properties": {
        "topic": {
          "description": "The Pub/Sub topic to publish notifications to. This topic must already exist and must give permission to ad-exchange-buyside-reports@google.com to write to the topic. This should be the full resource name in \"projects/{project_id}/topics/{topic_id}\" format.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "DayPart": {
      "id": "DayPart",
      "description": "Daypart targeting message that specifies if the ad can be shown only during certain parts of a day/week.",
      "properties": {
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "The starting time of day for the ad to show (minute level granularity). The start time is inclusive. This field is not available for filtering in PQL queries."
        },
        "dayOfWeek": {
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "description": "The day of the week to target. If unspecified, applicable to all days.",
          "enumDescriptions": [
            "A placeholder for when the day of the week is not specified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ]
        },
        "endTime": {
          "$ref": "TimeOfDay",
          "description": "The ending time of the day for the ad to show (minute level granularity). The end time is exclusive. This field is not available for filtering in PQL queries."
        }
      },
      "type": "object"
    },
    "ListProposalsResponse": {
      "id": "ListProposalsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "proposals": {
          "type": "array",
          "items": {
            "$ref": "Proposal"
          },
          "description": "The list of proposals."
        }
      },
      "description": "Response message for listing proposals."
    },
    "ListNonBillableWinningBidsResponse": {
      "type": "object",
      "description": "Response message for listing all reasons for which a buyer was not billed for a winning bid.",
      "id": "ListNonBillableWinningBidsResponse",
      "properties": {
        "nonBillableWinningBidStatusRows": {
          "items": {
            "$ref": "NonBillableWinningBidStatusRow"
          },
          "description": "List of rows, with counts of bids not billed aggregated by reason.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListNonBillableWinningBidsRequest.pageToken field in the subsequent call to the nonBillableWinningBids.list method to retrieve the next page of results.",
          "type": "string"
        }
      }
    },
    "RowDimensions": {
      "id": "RowDimensions",
      "description": "A response may include multiple rows, breaking down along various dimensions. Encapsulates the values of all dimensions for a given row.",
      "type": "object",
      "properties": {
        "publisherIdentifier": {
          "type": "string",
          "description": "The publisher identifier for this row, if a breakdown by [BreakdownDimension.PUBLISHER_IDENTIFIER](https://developers.google.com/authorized-buyers/apis/reference/rest/v2beta1/bidders.accounts.filterSets#FilterSet.BreakdownDimension) was requested."
        },
        "timeInterval": {
          "$ref": "TimeInterval",
          "description": "The time interval that this row represents."
        }
      }
    },
    "GuaranteedFixedPriceTerms": {
      "properties": {
        "fixedPrices": {
          "type": "array",
          "items": {
            "$ref": "PricePerBuyer"
          },
          "description": "Fixed price for the specified buyer."
        },
        "guaranteedLooks": {
          "type": "string",
          "format": "int64",
          "description": "Count of guaranteed looks. Required for deal, optional for product."
        },
        "guaranteedImpressions": {
          "type": "string",
          "format": "int64",
          "description": "Guaranteed impressions as a percentage. This is the percentage of guaranteed looks that the buyer is guaranteeing to buy."
        },
        "percentShareOfVoice": {
          "type": "string",
          "description": "For sponsorship deals, this is the percentage of the seller's eligible impressions that the deal will serve until the cap is reached.",
          "format": "int64"
        },
        "impressionCap": {
          "description": "The lifetime impression cap for CPM sponsorship deals. The deal will stop serving when the cap is reached.",
          "format": "int64",
          "type": "string"
        },
        "reservationType": {
          "description": "The reservation type for a Programmatic Guaranteed deal. This indicates whether the number of impressions is fixed, or a percent of available impressions. If not specified, the default reservation type is STANDARD.",
          "enumDescriptions": [
            "An unspecified reservation type.",
            "Non-sponsorship deal.",
            "Sponsorship deals don't have impression goal (guaranteed_looks) and they are served based on the flight dates. For CPM Sponsorship deals, impression_cap is the lifetime impression limit."
          ],
          "type": "string",
          "enum": [
            "RESERVATION_TYPE_UNSPECIFIED",
            "STANDARD",
            "SPONSORSHIP"
          ]
        },
        "minimumDailyLooks": {
          "description": "Daily minimum looks for CPD deal types.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Terms for Programmatic Guaranteed Deals.",
      "type": "object",
      "id": "GuaranteedFixedPriceTerms"
    },
    "UrlTargeting": {
      "description": "Represents a list of targeted and excluded URLs (e.g., google.com). For Private Auction and AdX Preferred Deals, URLs are either included or excluded. For Programmatic Guaranteed and Preferred Deals, this doesn't apply.",
      "id": "UrlTargeting",
      "type": "object",
      "properties": {
        "targetedUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of URLs to be included."
        },
        "excludedUrls": {
          "description": "A list of URLs to be excluded.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ServingContext": {
      "id": "ServingContext",
      "description": "The serving context for this restriction.",
      "properties": {
        "all": {
          "description": "Matches all contexts.",
          "enumDescriptions": [
            "A simple context."
          ],
          "enum": [
            "SIMPLE_CONTEXT"
          ],
          "type": "string"
        },
        "auctionType": {
          "description": "Matches impressions for a particular auction type.",
          "$ref": "AuctionContext"
        },
        "appType": {
          "description": "Matches impressions for a particular app type.",
          "$ref": "AppContext"
        },
        "location": {
          "description": "Matches impressions coming from users *or* publishers in a specific location.",
          "$ref": "LocationContext"
        },
        "platform": {
          "description": "Matches impressions coming from a particular platform.",
          "$ref": "PlatformContext"
        },
        "securityType": {
          "$ref": "SecurityContext",
          "description": "Matches impressions for a particular security type."
        }
      },
      "type": "object"
    },
    "PauseProposalDealsRequest": {
      "id": "PauseProposalDealsRequest",
      "description": "Request message to pause serving for finalized deals.",
      "properties": {
        "externalDealIds": {
          "items": {
            "type": "string"
          },
          "description": "The external_deal_id's of the deals to be paused. If empty, all the deals in the proposal will be paused.",
          "type": "array"
        },
        "reason": {
          "type": "string",
          "description": "The reason why the deals are being paused. This human readable message will be displayed in the seller's UI. (Max length: 1000 unicode code units.)"
        }
      },
      "type": "object"
    },
    "ListBidMetricsResponse": {
      "id": "ListBidMetricsResponse",
      "properties": {
        "bidMetricsRows": {
          "type": "array",
          "items": {
            "$ref": "BidMetricsRow"
          },
          "description": "List of rows, each containing a set of bid metrics."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListBidMetricsRequest.pageToken field in the subsequent call to the bidMetrics.list method to retrieve the next page of results."
        }
      },
      "type": "object",
      "description": "Response message for listing the metrics that are measured in number of bids."
    },
    "Correction": {
      "description": "Output only. Shows any corrections that were applied to this creative.",
      "id": "Correction",
      "type": "object",
      "properties": {
        "details": {
          "description": "Additional details about what was corrected.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "contexts": {
          "description": "The contexts for the correction.",
          "items": {
            "$ref": "ServingContext"
          },
          "type": "array"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "The correction type is unknown. Refer to the details for more information.",
            "The ad's declared vendors did not match the vendors that were detected. The detected vendors were added.",
            "The ad had the SSL attribute declared but was not SSL-compliant. The SSL attribute was removed.",
            "The ad was declared as Flash-free but contained Flash, so the Flash-free attribute was removed.",
            "The ad was not declared as Flash-free but it did not reference any flash content, so the Flash-free attribute was added.",
            "The ad did not declare a required creative attribute. The attribute was added.",
            "The ad did not declare a required technology vendor. The technology vendor was added.",
            "The ad did not declare the SSL attribute but was SSL-compliant, so the SSL attribute was added.",
            "Properties consistent with In-banner video were found, so an In-Banner Video attribute was added.",
            "The ad makes calls to the MRAID API so the MRAID attribute was added.",
            "The ad unnecessarily declared the Flash attribute, so the Flash attribute was removed.",
            "The ad contains video content."
          ],
          "description": "The type of correction that was applied to the creative.",
          "enum": [
            "CORRECTION_TYPE_UNSPECIFIED",
            "VENDOR_IDS_ADDED",
            "SSL_ATTRIBUTE_REMOVED",
            "FLASH_FREE_ATTRIBUTE_REMOVED",
            "FLASH_FREE_ATTRIBUTE_ADDED",
            "REQUIRED_ATTRIBUTE_ADDED",
            "REQUIRED_VENDOR_ADDED",
            "SSL_ATTRIBUTE_ADDED",
            "IN_BANNER_VIDEO_ATTRIBUTE_ADDED",
            "MRAID_ATTRIBUTE_ADDED",
            "FLASH_ATTRIBUTE_REMOVED",
            "VIDEO_IN_SNIPPET_ATTRIBUTE_ADDED"
          ]
        }
      }
    },
    "VideoContent": {
      "type": "object",
      "properties": {
        "videoUrl": {
          "description": "The URL to fetch a video ad.",
          "type": "string"
        },
[...]
