{
  "canonicalName": "AdExchangeBuyerII",
  "version_module": true,
  "discoveryVersion": "v1",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adexchange.buyer": {
          "description": "Manage your Ad Exchange buyer account configuration"
        }
      }
    }
  },
  "rootUrl": "https://adexchangebuyer.googleapis.com/",
  "mtlsRootUrl": "https://adexchangebuyer.mtls.googleapis.com/",
  "version": "v2beta1",
  "id": "adexchangebuyer2:v2beta1",
  "schemas": {
    "DeliveryControl": {
      "id": "DeliveryControl",
      "properties": {
        "deliveryRateType": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "DELIVERY_RATE_TYPE_UNSPECIFIED",
            "EVENLY",
            "FRONT_LOADED",
            "AS_FAST_AS_POSSIBLE"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined delivery rate type.",
            "Impressions are served uniformly over the life of the deal.",
            "Impressions are served front-loaded.",
            "Impressions are served as fast as possible."
          ],
          "description": "Output only. Specifies how the impression delivery will be paced."
        },
        "creativeBlockingLevel": {
          "enumDescriptions": [
            "A placeholder for an undefined creative blocking level.",
            "Publisher blocking rules will be applied.",
            "The Ad Exchange policy blocking rules will be applied."
          ],
          "type": "string",
          "description": "Output only. Specified the creative blocking levels to be applied.",
          "readOnly": true,
          "enum": [
            "CREATIVE_BLOCKING_LEVEL_UNSPECIFIED",
            "PUBLISHER_BLOCKING_RULES",
            "ADX_POLICY_BLOCKING_ONLY"
          ]
        },
        "frequencyCaps": {
          "items": {
            "$ref": "FrequencyCap"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Specifies any frequency caps."
        }
      },
      "type": "object",
      "description": "Message contains details about how the deals will be paced."
    },
    "AbsoluteDateRange": {
      "properties": {
        "endDate": {
          "description": "The end date of the range (inclusive). Must be within the 30 days leading up to current date, and must be equal to or after start_date.",
          "$ref": "Date"
        },
        "startDate": {
          "description": "The start date of the range (inclusive). Must be within the 30 days leading up to current date, and must be equal to or before end_date.",
          "$ref": "Date"
        }
      },
      "id": "AbsoluteDateRange",
      "type": "object",
      "description": "An absolute date range, specified by its start date and end date. The supported range of dates begins 30 days before today and ends today. Validity checked upon filter set creation. If a filter set with an absolute date range is run at a later date more than 30 days after start_date, it will fail."
    },
    "NonBillableWinningBidStatusRow": {
      "description": "The number of winning bids with the specified dimension values for which the buyer was not billed, as described by the specified status.",
      "id": "NonBillableWinningBidStatusRow",
      "type": "object",
      "properties": {
        "bidCount": {
          "description": "The number of bids with the specified status.",
          "$ref": "MetricValue"
        },
        "rowDimensions": {
          "description": "The values of all dimensions associated with metric values in this row.",
          "$ref": "RowDimensions"
        },
        "status": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "AD_NOT_RENDERED",
            "INVALID_IMPRESSION",
            "FATAL_VAST_ERROR",
            "LOST_IN_MEDIATION"
          ],
          "description": "The status specifying why the winning bids were not billed.",
          "enumDescriptions": [
            "A placeholder for an undefined status. This value will never be returned in responses.",
            "The buyer was not billed because the ad was not rendered by the publisher.",
            "The buyer was not billed because the impression won by the bid was determined to be invalid.",
            "A video impression was served but a fatal error was reported from the client during playback.",
            "The buyer was not billed because the ad was outplaced in the mediation waterfall."
          ],
          "type": "string"
        }
      }
    },
    "InventorySizeTargeting": {
      "id": "InventorySizeTargeting",
      "description": "Represents the size of an ad unit that can be targeted on an ad request. It only applies to Private Auction, AdX Preferred Deals and Auction Packages. This targeting does not apply to Programmatic Guaranteed and Preferred Deals in Ad Manager.",
      "type": "object",
      "properties": {
        "targetedInventorySizes": {
          "type": "array",
          "description": "A list of inventory sizes to be included.",
          "items": {
            "$ref": "AdSize"
          }
        },
        "excludedInventorySizes": {
          "items": {
            "$ref": "AdSize"
          },
          "type": "array",
          "description": "A list of inventory sizes to be excluded."
        }
      }
    },
    "MetricValue": {
      "id": "MetricValue",
      "description": "A metric value, with an expected value and a variance; represents a count that may be either exact or estimated (for example, when sampled).",
      "type": "object",
      "properties": {
        "variance": {
          "type": "string",
          "description": "The variance (for example, square of the standard deviation) of the metric value. If value is exact, variance is 0. Can be used to calculate margin of error as a percentage of value, using the following formula, where Z is the standard constant that depends on the preferred size of the confidence interval (for example, for 90% confidence interval, use Z = 1.645): marginOfError = 100 * Z * sqrt(variance) / value",
          "format": "int64"
        },
        "value": {
          "type": "string",
          "format": "int64",
          "description": "The expected value of the metric."
        }
      }
    },
    "ServingContext": {
      "description": "The serving context for this restriction.",
      "id": "ServingContext",
      "type": "object",
      "properties": {
        "all": {
          "type": "string",
          "description": "Matches all contexts.",
          "enumDescriptions": [
            "A simple context."
          ],
          "enum": [
            "SIMPLE_CONTEXT"
          ]
        },
        "appType": {
          "$ref": "AppContext",
          "description": "Matches impressions for a particular app type."
        },
        "auctionType": {
          "description": "Matches impressions for a particular auction type.",
          "$ref": "AuctionContext"
        },
        "platform": {
          "$ref": "PlatformContext",
          "description": "Matches impressions coming from a particular platform."
        },
        "securityType": {
          "description": "Matches impressions for a particular security type.",
          "$ref": "SecurityContext"
        },
        "location": {
          "description": "Matches impressions coming from users *or* publishers in a specific location.",
          "$ref": "LocationContext"
        }
      }
    },
    "FrequencyCap": {
      "description": "Frequency cap.",
      "properties": {
        "numTimeUnits": {
          "description": "The amount of time, in the units specified by time_unit_type. Defines the amount of time over which impressions per user are counted and capped.",
          "format": "int32",
          "type": "integer"
        },
        "maxImpressions": {
          "type": "integer",
          "description": "The maximum number of impressions that can be served to a user within the specified time period.",
          "format": "int32"
        },
        "timeUnitType": {
          "enumDescriptions": [
            "A placeholder for an undefined time unit type. This just indicates the variable with this value hasn't been initialized.",
            "Minute",
            "Hour",
            "Day",
            "Week",
            "Month",
            "Lifetime",
            "Pod",
            "Stream"
          ],
          "description": "The time unit. Along with num_time_units defines the amount of time over which impressions per user are counted and capped.",
          "enum": [
            "TIME_UNIT_TYPE_UNSPECIFIED",
            "MINUTE",
            "HOUR",
            "DAY",
            "WEEK",
            "MONTH",
            "LIFETIME",
            "POD",
            "STREAM"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "FrequencyCap"
    },
    "PlatformContext": {
      "description": "Output only. The type of platform the restriction applies to.",
      "properties": {
        "platforms": {
          "type": "array",
          "description": "The platforms this restriction applies to.",
          "items": {
            "enum": [
              "DESKTOP",
              "ANDROID",
              "IOS"
            ],
            "enumDescriptions": [
              "Desktop platform.",
              "Android platform.",
              "iOS platform."
            ],
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "PlatformContext"
    },
    "AddDealAssociationRequest": {
      "type": "object",
      "properties": {
        "association": {
          "description": "The association between a creative and a deal that should be added.",
          "$ref": "CreativeDealAssociation"
        }
      },
      "description": "A request for associating a deal and a creative.",
      "id": "AddDealAssociationRequest"
    },
    "ImpressionMetricsRow": {
      "description": "The set of metrics that are measured in numbers of impressions, representing how many impressions with the specified dimension values were considered eligible at each stage of the bidding funnel.",
      "properties": {
        "bidRequests": {
          "$ref": "MetricValue",
          "description": "The number of impressions for which Ad Exchange sent the buyer a bid request."
        },
        "responsesWithBids": {
          "$ref": "MetricValue",
          "description": "The number of impressions for which Ad Exchange received a response from the buyer that contained at least one applicable bid."
        },
        "inventoryMatches": {
          "$ref": "MetricValue",
          "description": "The number of impressions that match the buyer's inventory pretargeting."
        },
        "availableImpressions": {
          "description": "The number of impressions available to the buyer on Ad Exchange. In some cases this value may be unavailable.",
          "$ref": "MetricValue"
        },
        "successfulResponses": {
          "description": "The number of impressions for which the buyer successfully sent a response to Ad Exchange.",
          "$ref": "MetricValue"
        },
        "rowDimensions": {
          "$ref": "RowDimensions",
          "description": "The values of all dimensions associated with metric values in this row."
        }
      },
      "type": "object",
      "id": "ImpressionMetricsRow"
    },
    "Client": {
      "properties": {
        "clientName": {
          "type": "string",
          "description": "Name used to represent this client to publishers. You may have multiple clients that map to the same entity, but for each client the combination of `clientName` and entity must be unique. You can specify this field as empty. Maximum length of 255 characters is allowed."
        },
        "partnerClientId": {
          "description": "Optional arbitrary unique identifier of this client buyer from the standpoint of its Ad Exchange sponsor buyer. This field can be used to associate a client buyer with the identifier in the namespace of its sponsor buyer, lookup client buyers by that identifier and verify whether an Ad Exchange counterpart of a given client buyer already exists. If present, must be unique among all the client buyers for its Ad Exchange sponsor buyer.",
          "type": "string"
        },
        "clientAccountId": {
          "format": "int64",
          "type": "string",
          "description": "The globally-unique numerical ID of the client. The value of this field is ignored in create and update operations."
        },
        "visibleToSeller": {
          "type": "boolean",
          "description": "Whether the client buyer will be visible to sellers."
        },
        "role": {
          "description": "The role which is assigned to the client buyer. Each role implies a set of permissions granted to the client. Must be one of `CLIENT_DEAL_VIEWER`, `CLIENT_DEAL_NEGOTIATOR` or `CLIENT_DEAL_APPROVER`.",
          "enum": [
            "CLIENT_ROLE_UNSPECIFIED",
            "CLIENT_DEAL_VIEWER",
            "CLIENT_DEAL_NEGOTIATOR",
            "CLIENT_DEAL_APPROVER"
          ],
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined client role.",
            "Users associated with this client can see publisher deal offers in the Marketplace. They can neither negotiate proposals nor approve deals. If this client is visible to publishers, they can send deal proposals to this client.",
            "Users associated with this client can respond to deal proposals sent to them by publishers. They can also initiate deal proposals of their own.",
            "Users associated with this client can approve eligible deals on your behalf. Some deals may still explicitly require publisher finalization. If this role is not selected, the sponsor buyer will need to manually approve each of their deals."
          ]
        },
        "status": {
          "description": "The status of the client buyer.",
          "type": "string",
          "enum": [
            "CLIENT_STATUS_UNSPECIFIED",
            "DISABLED",
            "ACTIVE"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined client status.",
            "A client that is currently disabled.",
            "A client that is currently active."
          ]
        },
        "entityName": {
          "description": "The name of the entity. This field is automatically fetched based on the type and ID. The value of this field is ignored in create and update operations.",
          "type": "string"
        },
        "entityId": {
          "description": "Numerical identifier of the client entity. The entity can be an advertiser, a brand, or an agency. This identifier is unique among all the entities with the same type. The value of this field is ignored if the entity type is not provided. A list of all known advertisers with their identifiers is available in the [advertisers.txt](https://storage.googleapis.com/adx-rtb-dictionaries/advertisers.txt) file. A list of all known brands with their identifiers is available in the [brands.txt](https://storage.googleapis.com/adx-rtb-dictionaries/brands.txt) file. A list of all known agencies with their identifiers is available in the [agencies.txt](https://storage.googleapis.com/adx-rtb-dictionaries/agencies.txt) file.",
          "format": "int64",
          "type": "string"
        },
        "entityType": {
          "description": "An optional field for specifying the type of the client entity: `ADVERTISER`, `BRAND`, or `AGENCY`.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined client entity type. Should not be used.",
            "An advertiser.",
            "A brand.",
            "An advertising agency.",
            "An explicit value for a client that was not yet classified as any particular entity."
          ],
          "enum": [
            "ENTITY_TYPE_UNSPECIFIED",
            "ADVERTISER",
            "BRAND",
            "AGENCY",
            "ENTITY_TYPE_UNCLASSIFIED"
          ]
        }
      },
      "id": "Client",
      "type": "object",
      "description": "A client resource represents a client buyer—an agency, a brand, or an advertiser customer of the sponsor buyer. Users associated with the client buyer have restricted access to the Marketplace and certain other sections of the Authorized Buyers UI based on the role granted to the client buyer. All fields are required unless otherwise specified."
    },
    "CreativeSpecification": {
      "type": "object",
      "id": "CreativeSpecification",
      "properties": {
        "creativeSize": {
          "$ref": "AdSize",
          "description": "The size of the creative."
        },
        "creativeCompanionSizes": {
          "description": "Companion sizes may be filled in only when this is a video creative.",
          "items": {
            "$ref": "AdSize"
          },
          "type": "array"
        }
      },
      "description": "Represents information for a creative that is associated with a Programmatic Guaranteed/Preferred Deal in Ad Manager."
    },
    "ListBidResponsesWithoutBidsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListBidResponsesWithoutBidsRequest.pageToken field in the subsequent call to the bidResponsesWithoutBids.list method to retrieve the next page of results."
        },
        "bidResponseWithoutBidsStatusRows": {
          "type": "array",
          "items": {
            "$ref": "BidResponseWithoutBidsStatusRow"
          },
          "description": "List of rows, with counts of bid responses without bids aggregated by status."
        }
      },
      "id": "ListBidResponsesWithoutBidsResponse",
      "description": "Response message for listing all reasons that bid responses were considered to have no applicable bids.",
      "type": "object"
    },
    "AdSize": {
      "type": "object",
      "description": "Represents size of a single ad slot, or a creative.",
      "properties": {
        "sizeType": {
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined size type.",
            "Ad slot with size specified by height and width in pixels.",
            "Special size to describe an interstitial ad slot.",
            "Native (mobile) ads rendered by the publisher.",
            "Fluid size (for example, responsive size) can be resized automatically with the change of outside environment."
          ],
          "description": "The size type of the ad slot.",
          "enum": [
            "SIZE_TYPE_UNSPECIFIED",
            "PIXEL",
            "INTERSTITIAL",
            "NATIVE",
            "FLUID"
          ]
        },
        "width": {
          "description": "The width of the ad slot in pixels. This field will be present only when size type is `PIXEL`.",
          "format": "int64",
          "type": "string"
        },
        "height": {
          "format": "int64",
          "type": "string",
          "description": "The height of the ad slot in pixels. This field will be present only when size type is `PIXEL`."
        }
      },
      "id": "AdSize"
    },
    "Product": {
      "id": "Product",
      "type": "object",
      "description": "A product is a segment of inventory that a seller wants to sell. It is associated with certain terms and targeting information which helps the buyer know more about the inventory.",
      "properties": {
        "createTime": {
          "description": "Creation time.",
          "type": "string",
          "format": "google-datetime"
        },
        "hasCreatorSignedOff": {
          "description": "If the creator has already signed off on the product, then the buyer can finalize the deal by accepting the product as is. When copying to a proposal, if any of the terms are changed, then auto_finalize is automatically set to false.",
          "type": "boolean"
        },
        "webPropertyCode": {
          "description": "The web-property code for the seller. This needs to be copied as is when adding a new deal to a proposal.",
          "type": "string"
        },
        "creatorContacts": {
          "type": "array",
          "items": {
            "$ref": "ContactInformation"
          },
          "description": "Optional contact information for the creator of this product."
        },
        "productRevision": {
          "format": "int64",
          "type": "string",
          "description": "The revision number of the product (auto-assigned by Marketplace)."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Time of last update.",
          "type": "string"
        },
        "syndicationProduct": {
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined syndication product.",
            "This typically represents a web page.",
            "This represents a mobile property.",
            "This represents video ad formats.",
            "This represents ads shown within games."
          ],
          "description": "The syndication product associated with the deal.",
          "enum": [
            "SYNDICATION_PRODUCT_UNSPECIFIED",
            "CONTENT",
            "MOBILE",
            "VIDEO",
            "GAMES"
          ]
        },
        "availableStartTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Inventory availability dates. The start time will be truncated to seconds during serving. Thus, a field specified as 3:23:34.456 (HH:mm:ss.SSS) will be truncated to 3:23:34 when serving."
        },
        "publisherProfileId": {
          "description": "An ID which can be used by the Publisher Profile API to get more information about the seller that created this product.",
          "type": "string"
        },
        "targetingCriterion": {
          "items": {
            "$ref": "TargetingCriteria"
          },
          "description": "Targeting that is shared between the buyer and the seller. Each targeting criterion has a specified key and for each key there is a list of inclusion value or exclusion values.",
          "type": "array"
        },
        "seller": {
          "description": "Information about the seller that created this product.",
          "$ref": "Seller"
        },
        "availableEndTime": {
          "format": "google-datetime",
          "description": "The proposed end time for the deal. The field will be truncated to the order of seconds during serving.",
          "type": "string"
        },
        "productId": {
          "description": "The unique ID for the product.",
          "type": "string"
        },
        "terms": {
          "$ref": "DealTerms",
          "description": "The negotiable terms of the deal."
        },
        "displayName": {
          "description": "The display name for this product as set by the seller.",
          "type": "string"
        }
      }
    },
    "MarketplaceTargeting": {
      "type": "object",
      "properties": {
        "videoTargeting": {
          "description": "Video targeting information.",
          "$ref": "VideoTargeting"
        },
        "technologyTargeting": {
          "$ref": "TechnologyTargeting",
          "description": "Technology targeting information, for example, operating system, device category."
        },
        "geoTargeting": {
          "description": "Geo criteria IDs to be included/excluded.",
          "$ref": "CriteriaTargeting"
        },
        "inventorySizeTargeting": {
          "$ref": "InventorySizeTargeting",
          "description": "Inventory sizes to be included/excluded."
        },
        "placementTargeting": {
          "$ref": "PlacementTargeting",
          "description": "Placement targeting information, for example, URL, mobile applications."
        }
      },
      "id": "MarketplaceTargeting",
      "description": "Targeting represents different criteria that can be used by advertisers to target ad inventory. For example, they can choose to target ad requests only if the user is in the US. Multiple types of targeting are always applied as a logical AND, unless noted otherwise."
    },
    "FilteredBidCreativeRow": {
      "description": "The number of filtered bids with the specified dimension values that have the specified creative.",
      "type": "object",
      "id": "FilteredBidCreativeRow",
      "properties": {
        "bidCount": {
          "$ref": "MetricValue",
          "description": "The number of bids with the specified creative."
        },
        "creativeId": {
          "type": "string",
          "description": "The ID of the creative."
        },
        "rowDimensions": {
          "$ref": "RowDimensions",
          "description": "The values of all dimensions associated with metric values in this row."
        }
      }
    },
    "DealServingMetadata": {
      "id": "DealServingMetadata",
      "properties": {
        "dealPauseStatus": {
          "description": "Output only. Tracks which parties (if any) have paused a deal.",
          "readOnly": true,
          "$ref": "DealPauseStatus"
        }
      },
      "description": "Message captures metadata about the serving status of a deal.",
      "type": "object"
    },
    "PauseProposalDealsRequest": {
      "properties": {
        "externalDealIds": {
          "description": "The external_deal_id's of the deals to be paused. If empty, all the deals in the proposal will be paused.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "reason": {
          "type": "string",
          "description": "The reason why the deals are being paused. This human readable message will be displayed in the seller's UI. (Max length: 1000 unicode code units.)"
        }
      },
      "type": "object",
      "id": "PauseProposalDealsRequest",
      "description": "Request message to pause serving for finalized deals."
    },
    "NativeContent": {
      "id": "NativeContent",
      "description": "Native content for a creative.",
      "properties": {
        "priceDisplayText": {
          "description": "The price of the promoted app including currency info.",
          "type": "string"
        },
        "starRating": {
          "format": "double",
          "type": "number",
          "description": "The app rating in the app store. Must be in the range [0-5]."
        },
        "appIcon": {
          "description": "The app icon, for app download ads.",
          "$ref": "Image"
        },
        "advertiserName": {
          "type": "string",
          "description": "The name of the advertiser or sponsor, to be displayed in the ad creative."
        },
        "clickTrackingUrl": {
          "type": "string",
          "description": "The URL to use for click tracking."
        },
        "headline": {
          "description": "A short title for the ad.",
          "type": "string"
        },
        "body": {
          "description": "A long description of the ad.",
          "type": "string"
        },
        "videoUrl": {
          "description": "The URL to fetch a native video ad.",
          "type": "string"
        },
        "logo": {
          "$ref": "Image",
          "description": "A smaller image, for the advertiser's logo."
        },
        "storeUrl": {
          "description": "The URL to the app store to purchase/download the promoted app.",
          "type": "string"
        },
        "image": {
          "$ref": "Image",
          "description": "A large image."
        },
        "callToAction": {
          "description": "A label for the button that the user is supposed to click.",
          "type": "string"
        },
        "clickLinkUrl": {
          "description": "The URL that the browser/SDK will load when the user clicks the ad.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListClientUsersResponse": {
      "id": "ListClientUsersResponse",
      "properties": {
        "users": {
          "type": "array",
          "items": {
            "$ref": "ClientUser"
          },
          "description": "The returned list of client users."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientUsersRequest.pageToken field in the subsequent call to the clients.invitations.list method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AcceptProposalRequest": {
      "description": "Request to accept a proposal.",
      "properties": {
        "proposalRevision": {
          "type": "string",
          "description": "The last known client revision number of the proposal.",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "AcceptProposalRequest"
    },
    "PricePerBuyer": {
      "type": "object",
      "id": "PricePerBuyer",
      "properties": {
        "advertiserIds": {
          "type": "array",
          "description": "The list of advertisers for this price when associated with this buyer. If empty, all advertisers with this buyer pay this price.",
          "items": {
            "type": "string"
          }
        },
        "price": {
          "description": "The specified price.",
          "$ref": "Price"
        },
        "buyer": {
          "$ref": "Buyer",
          "description": "The buyer who will pay this price. If unset, all buyers can pay this price (if the advertisers match, and there's no more specific rule matching the buyer)."
        }
      },
      "description": "Used to specify pricing rules for buyers/advertisers. Each PricePerBuyer in a product can become 0 or 1 deals. To check if there is a PricePerBuyer for a particular buyer or buyer/advertiser pair, we look for the most specific matching rule - we first look for a rule matching the buyer and advertiser, next a rule with the buyer but an empty advertiser list, and otherwise look for a matching rule where no buyer is set."
    },
    "ListCreativesResponse": {
      "id": "ListCreativesResponse",
      "type": "object",
      "description": "A response for listing creatives.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListCreativesRequest.page_token field in the subsequent call to `ListCreatives` method to retrieve the next page of results."
        },
        "creatives": {
          "type": "array",
          "items": {
            "$ref": "Creative"
          },
          "description": "The list of creatives."
        }
      }
    },
    "ListFilterSetsResponse": {
      "description": "Response message for listing filter sets.",
      "id": "ListFilterSetsResponse",
      "type": "object",
      "properties": {
        "filterSets": {
          "description": "The filter sets belonging to the buyer.",
          "items": {
            "$ref": "FilterSet"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListFilterSetsRequest.pageToken field in the subsequent call to the accounts.filterSets.list method to retrieve the next page of results."
        }
      }
    },
    "CancelNegotiationRequest": {
      "type": "object",
      "id": "CancelNegotiationRequest",
      "description": "Request to cancel an ongoing negotiation.",
      "properties": {}
    },
    "ListClientUserInvitationsResponse": {
      "type": "object",
      "id": "ListClientUserInvitationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientUserInvitationsRequest.pageToken field in the subsequent call to the clients.invitations.list method to retrieve the next page of results.",
          "type": "string"
        },
        "invitations": {
          "items": {
            "$ref": "ClientUserInvitation"
          },
          "description": "The returned list of client users.",
          "type": "array"
        }
      }
    },
    "ClientUserInvitation": {
      "id": "ClientUserInvitation",
      "properties": {
        "invitationId": {
          "type": "string",
          "format": "int64",
          "description": "The unique numerical ID of the invitation that is sent to the user. The value of this field is ignored in create operations."
        },
        "clientAccountId": {
          "description": "Numerical account ID of the client buyer that the invited user is associated with. The value of this field is ignored in create operations.",
          "format": "int64",
          "type": "string"
        },
        "email": {
          "description": "The email address to which the invitation is sent. Email addresses should be unique among all client users under each sponsor buyer.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An invitation for a new client user to get access to the Authorized Buyers UI. All fields are required unless otherwise specified."
    },
    "ListFilteredBidRequestsResponse": {
      "id": "ListFilteredBidRequestsResponse",
      "type": "object",
      "description": "Response message for listing all reasons that bid requests were filtered and not sent to the buyer.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListFilteredBidRequestsRequest.pageToken field in the subsequent call to the filteredBidRequests.list method to retrieve the next page of results."
        },
        "calloutStatusRows": {
          "type": "array",
          "description": "List of rows, with counts of filtered bid requests aggregated by callout status.",
          "items": {
            "$ref": "CalloutStatusRow"
          }
        }
      }
    },
    "ListBidMetricsResponse": {
      "id": "ListBidMetricsResponse",
      "description": "Response message for listing the metrics that are measured in number of bids.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListBidMetricsRequest.pageToken field in the subsequent call to the bidMetrics.list method to retrieve the next page of results."
        },
        "bidMetricsRows": {
          "description": "List of rows, each containing a set of bid metrics.",
          "items": {
            "$ref": "BidMetricsRow"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "PublisherProfileMobileApplication": {
      "id": "PublisherProfileMobileApplication",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the app."
        },
        "appStore": {
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an unknown app store.",
            "Apple iTunes",
            "Google Play",
            "Roku",
            "Amazon Fire TV",
            "Playstation",
            "Xbox",
            "Samsung TV",
            "Amazon Appstore",
            "OPPO App Market",
            "Samsung Galaxy Store",
            "VIVO App Store",
            "Xiaomi GetApps"
          ],
          "enum": [
            "APP_STORE_TYPE_UNSPECIFIED",
            "APPLE_ITUNES",
            "GOOGLE_PLAY",
            "ROKU",
            "AMAZON_FIRETV",
            "PLAYSTATION",
            "XBOX",
            "SAMSUNG_TV",
            "AMAZON",
            "OPPO",
            "SAMSUNG",
            "VIVO",
            "XIAOMI"
          ],
          "description": "The app store the app belongs to."
        },
        "externalAppId": {
          "description": "The external ID for the app from its app store.",
          "type": "string"
        }
      },
      "description": "A mobile application that contains a external app ID, name, and app store."
    },
    "Buyer": {
      "type": "object",
      "description": "Represents a buyer of inventory. Each buyer is identified by a unique Authorized Buyers account ID.",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "Authorized Buyers account ID of the buyer."
        }
      },
      "id": "Buyer"
    },
    "RelativeDateRange": {
      "id": "RelativeDateRange",
      "type": "object",
      "properties": {
        "offsetDays": {
          "format": "int32",
          "description": "The end date of the filter set, specified as the number of days before today, for example, for a range where the last date is today: 0.",
          "type": "integer"
        },
        "durationDays": {
          "description": "The number of days in the requested date range, for example, for a range spanning today: 1. For a range spanning the last 7 days: 7.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "A relative date range, specified by an offset and a duration. The supported range of dates begins 30 days before today and ends today, for example, the limits for these values are: offset_days \u003e= 0 duration_days \u003e= 1 offset_days + duration_days \u003c= 30"
    },
    "LocationContext": {
      "type": "object",
      "id": "LocationContext",
      "properties": {
        "geoCriteriaIds": {
          "description": "IDs representing the geo location for this context. Refer to the [geo-table.csv](https://storage.googleapis.com/adx-rtb-dictionaries/geo-table.csv) file for different geo criteria IDs.",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        }
      },
      "description": "Output only. The Geo criteria the restriction applies to."
    },
    "ListFilteredBidsResponse": {
      "properties": {
        "creativeStatusRows": {
          "items": {
            "$ref": "CreativeStatusRow"
          },
          "type": "array",
          "description": "List of rows, with counts of filtered bids aggregated by filtering reason (for example, creative status)."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListFilteredBidsRequest.pageToken field in the subsequent call to the filteredBids.list method to retrieve the next page of results."
        }
      },
      "id": "ListFilteredBidsResponse",
      "type": "object",
      "description": "Response message for listing all reasons that bids were filtered from the auction."
    },
    "ListImpressionMetricsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListImpressionMetricsRequest.pageToken field in the subsequent call to the impressionMetrics.list method to retrieve the next page of results."
        },
        "impressionMetricsRows": {
          "type": "array",
          "items": {
            "$ref": "ImpressionMetricsRow"
          },
          "description": "List of rows, each containing a set of impression metrics."
        }
      },
      "description": "Response message for listing the metrics that are measured in number of impressions.",
      "id": "ListImpressionMetricsResponse",
      "type": "object"
    },
    "PauseProposalRequest": {
      "type": "object",
      "properties": {
        "reason": {
          "description": "The reason why the proposal is being paused. This human readable message will be displayed in the seller's UI. (Max length: 1000 unicode code units.)",
          "type": "string"
        }
      },
      "description": "Request message to pause serving for an already-finalized proposal.",
      "id": "PauseProposalRequest"
    },
    "NonGuaranteedAuctionTerms": {
      "description": "Terms for Private Auctions. Note that Private Auctions can be created only by the seller, but they can be returned in a get or list request.",
      "id": "NonGuaranteedAuctionTerms",
      "type": "object",
      "properties": {
        "reservePricesPerBuyer": {
          "items": {
            "$ref": "PricePerBuyer"
          },
          "description": "Reserve price for the specified buyer.",
          "type": "array"
        },
        "autoOptimizePrivateAuction": {
          "description": "True if open auction buyers are allowed to compete with invited buyers in this private auction.",
          "type": "boolean"
        }
      }
    },
    "TimeOfDay": {
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "properties": {
        "hours": {
          "format": "int32",
          "description": "Hours of day in 24 hour format. Should be from 0 to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer"
        },
        "seconds": {
          "description": "Seconds of minutes of the time. Must normally be from 0 to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32",
          "type": "integer"
        },
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999."
        },
        "minutes": {
          "description": "Minutes of hour of day. Must be from 0 to 59.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "TimeOfDay"
    },
    "HtmlContent": {
      "type": "object",
      "id": "HtmlContent",
      "description": "HTML content for a creative.",
      "properties": {
        "height": {
          "format": "int32",
          "description": "The height of the HTML snippet in pixels.",
          "type": "integer"
        },
        "width": {
          "format": "int32",
          "description": "The width of the HTML snippet in pixels.",
          "type": "integer"
        },
        "snippet": {
          "type": "string",
          "description": "The HTML snippet that displays the ad when inserted in the web page."
        }
      }
    },
    "Image": {
      "type": "object",
      "properties": {
        "width": {
          "type": "integer",
          "description": "Image width in pixels.",
          "format": "int32"
        },
        "url": {
          "type": "string",
          "description": "The URL of the image."
        },
        "height": {
          "description": "Image height in pixels.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "An image resource. You may provide a larger image than was requested, so long as the aspect ratio is preserved.",
      "id": "Image"
    },
    "CreativeRestrictions": {
      "id": "CreativeRestrictions",
      "description": "Represents creative restrictions associated to Programmatic Guaranteed/ Preferred Deal in Ad Manager. This doesn't apply to Private Auction and AdX Preferred Deals.",
      "type": "object",
      "properties": {
        "creativeSpecifications": {
          "items": {
            "$ref": "CreativeSpecification"
          },
          "type": "array"
        },
        "skippableAdType": {
          "enum": [
            "SKIPPABLE_AD_TYPE_UNSPECIFIED",
            "SKIPPABLE",
            "INSTREAM_SELECT",
            "NOT_SKIPPABLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined skippable ad type.",
            "This video ad can be skipped after 5 seconds.",
            "This video ad can be skipped after 5 seconds, and is counted as engaged view after 30 seconds. The creative is hosted on YouTube only, and viewcount of the YouTube video increments after the engaged view.",
            "This video ad is not skippable."
          ],
          "description": "Skippable video ads allow viewers to skip ads after 5 seconds."
        },
        "creativeFormat": {
          "description": "The format of the environment that the creatives will be displayed in.",
          "enum": [
            "CREATIVE_FORMAT_UNSPECIFIED",
            "DISPLAY",
            "VIDEO"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined creative format.",
            "A creative that will be displayed in environments such as a browser.",
            "A video creative that will be displayed in environments such as a video player."
          ],
          "type": "string"
        }
      }
    },
    "AppContext": {
      "id": "AppContext",
      "properties": {
        "appTypes": {
          "items": {
            "enum": [
              "NATIVE",
              "WEB"
            ],
            "enumDescriptions": [
              "Native app context.",
              "Mobile web app context."
            ],
            "type": "string"
          },
          "type": "array",
          "description": "The app types this restriction applies to."
        }
      },
      "description": "Output only. The app type the restriction applies to for mobile device.",
      "type": "object"
    },
    "ListProposalsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "proposals": {
          "items": {
            "$ref": "Proposal"
          },
          "description": "The list of proposals.",
          "type": "array"
        }
      },
      "id": "ListProposalsResponse",
      "description": "Response message for listing proposals."
    },
    "PrivateData": {
      "id": "PrivateData",
      "description": "Buyers are allowed to store certain types of private data in a proposal/deal.",
      "properties": {
        "referenceId": {
          "type": "string",
          "description": "A buyer or seller specified reference ID. This can be queried in the list operations (max-length: 1024 unicode code units)."
        }
      },
      "type": "object"
    },
    "Seller": {
      "id": "Seller",
      "properties": {
        "subAccountId": {
          "readOnly": true,
          "description": "Output only. Ad manager network code for the seller.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "The unique ID for the seller. The seller fills in this field. The seller account ID is then available to buyer in the product."
        }
      },
      "type": "object",
      "description": "Represents a seller of inventory. Each seller is identified by a unique Ad Manager account ID."
    },
    "ListCreativeStatusBreakdownByDetailResponse": {
      "properties": {
        "filteredBidDetailRows": {
          "type": "array",
          "items": {
            "$ref": "FilteredBidDetailRow"
          },
          "description": "List of rows, with counts of bids with a given creative status aggregated by detail."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListCreativeStatusBreakdownByDetailRequest.pageToken field in the subsequent call to the filteredBids.details.list method to retrieve the next page of results.",
          "type": "string"
        },
        "detailType": {
          "description": "The type of detail that the detail IDs represent.",
          "enumDescriptions": [
            "A placeholder for an undefined status. This value will never be returned in responses.",
            "Indicates that the detail ID refers to a creative attribute; see [publisher-excludable-creative-attributes](https://developers.google.com/authorized-buyers/rtb/downloads/publisher-excludable-creative-attributes).",
            "Indicates that the detail ID refers to a vendor; see [vendors](https://developers.google.com/authorized-buyers/rtb/downloads/vendors). This namespace is different from that of the `ATP_VENDOR` detail type.",
            "Indicates that the detail ID refers to a sensitive category; see [ad-sensitive-categories](https://developers.google.com/authorized-buyers/rtb/downloads/ad-sensitive-categories).",
            "Indicates that the detail ID refers to a product category; see [ad-product-categories](https://developers.google.com/authorized-buyers/rtb/downloads/ad-product-categories).",
            "Indicates that the detail ID refers to a disapproval reason; see DisapprovalReason enum in [snippet-status-report-proto](https://developers.google.com/authorized-buyers/rtb/downloads/snippet-status-report-proto).",
            "Indicates that the detail ID refers to a policy topic.",
            "Indicates that the detail ID refers to an ad technology provider (ATP); see [providers] (https://storage.googleapis.com/adx-rtb-dictionaries/providers.csv). This namespace is different from the `VENDOR` detail type; see [ad technology providers](https://support.google.com/admanager/answer/9012903) for more information.",
            "Indicates that the detail string refers the domain of an unknown vendor.",
            "Indicates that the detail ID refers an IAB GVL ID which Google did not detect in the latest TCF Vendor List. See [Global Vendor List] (https://vendor-list.consensu.org/v2/vendor-list.json)"
          ],
          "type": "string",
          "enum": [
            "DETAIL_TYPE_UNSPECIFIED",
            "CREATIVE_ATTRIBUTE",
            "VENDOR",
            "SENSITIVE_CATEGORY",
            "PRODUCT_CATEGORY",
            "DISAPPROVAL_REASON",
            "POLICY_TOPIC",
            "ATP_VENDOR",
            "VENDOR_DOMAIN",
            "GVL_ID"
          ]
        }
      },
      "type": "object",
      "description": "Response message for listing all details associated with a given filtered bid reason.",
      "id": "ListCreativeStatusBreakdownByDetailResponse"
    },
    "DealTerms": {
      "type": "object",
      "id": "DealTerms",
      "description": "The deal terms specify the details of a Product/deal. They specify things like price per buyer, the type of pricing model (for example, fixed price, auction) and expected impressions from the publisher.",
      "properties": {
        "sellerTimeZone": {
          "type": "string",
          "description": "The time zone name. For deals with Cost Per Day billing, defines the time zone used to mark the boundaries of a day. It should be an IANA TZ name, such as \"America/Los_Angeles\". For more information, see https://en.wikipedia.org/wiki/List_of_tz_database_time_zones."
        },
        "estimatedGrossSpend": {
          "description": "Non-binding estimate of the estimated gross spend for this deal. Can be set by buyer or seller.",
          "$ref": "Price"
        },
        "brandingType": {
          "enum": [
            "BRANDING_TYPE_UNSPECIFIED",
            "BRANDED",
            "SEMI_TRANSPARENT"
          ],
          "type": "string",
          "description": "Visibility of the URL in bid requests. (default: BRANDED)",
          "enumDescriptions": [
            "A placeholder for an undefined branding type.",
            "Full URL is included in bid requests.",
            "A TopLevelDomain or masked URL is sent in bid requests rather than the full one."
          ]
        },
        "estimatedImpressionsPerDay": {
          "format": "int64",
          "type": "string",
          "description": "Non-binding estimate of the impressions served per day. Can be set by buyer or seller."
        },
        "guaranteedFixedPriceTerms": {
          "$ref": "GuaranteedFixedPriceTerms",
          "description": "The terms for guaranteed fixed price deals."
        },
        "nonGuaranteedAuctionTerms": {
          "description": "The terms for non-guaranteed auction deals.",
          "$ref": "NonGuaranteedAuctionTerms"
        },
        "nonGuaranteedFixedPriceTerms": {
          "$ref": "NonGuaranteedFixedPriceTerms",
          "description": "The terms for non-guaranteed fixed price deals."
        },
        "description": {
          "type": "string",
          "description": "Publisher provided description for the terms."
        }
      }
    },
    "FirstPartyMobileApplicationTargeting": {
      "id": "FirstPartyMobileApplicationTargeting",
      "description": "Represents a list of targeted and excluded mobile application IDs that publishers own. Mobile application IDs are from App Store and Google Play Store. Android App ID, for example, com.google.android.apps.maps, can be found in Google Play Store URL. iOS App ID (which is a number) can be found at the end of iTunes store URL. First party mobile applications is either included or excluded.",
      "type": "object",
      "properties": {
        "excludedAppIds": {
          "type": "array",
          "description": "A list of application IDs to be excluded.",
          "items": {
            "type": "string"
          }
        },
        "targetedAppIds": {
          "description": "A list of application IDs to be included.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "UrlTargeting": {
      "type": "object",
      "id": "UrlTargeting",
      "description": "Represents a list of targeted and excluded URLs (for example, google.com). For Private Auction and AdX Preferred Deals, URLs are either included or excluded. For Programmatic Guaranteed and Preferred Deals, this doesn't apply.",
      "properties": {
        "targetedUrls": {
          "description": "A list of URLs to be included.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "excludedUrls": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of URLs to be excluded."
        }
      }
    },
    "CreativeDealAssociation": {
      "type": "object",
      "description": "The association between a creative and a deal.",
      "id": "CreativeDealAssociation",
      "properties": {
        "accountId": {
          "description": "The account the creative belongs to.",
          "type": "string"
        },
        "dealsId": {
          "type": "string",
          "description": "The externalDealId for the deal associated with the creative."
        },
        "creativeId": {
          "type": "string",
          "description": "The ID of the creative associated with the deal."
        }
      }
    },
    "ServingRestriction": {
      "description": "Output only. A representation of the status of an ad in a specific context. A context here relates to where something ultimately serves (for example, a user or publisher geo, a platform, an HTTPS versus HTTP request, or the type of auction).",
      "type": "object",
      "properties": {
        "status": {
          "enumDescriptions": [
            "The status is not known.",
            "The ad was disapproved in this context.",
            "The ad is pending review in this context."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "DISAPPROVAL",
            "PENDING_REVIEW"
          ],
          "description": "The status of the creative in this context (for example, it has been explicitly disapproved or is pending review).",
          "type": "string"
        },
        "contexts": {
          "description": "The contexts for the restriction.",
          "type": "array",
          "items": {
            "$ref": "ServingContext"
          }
        },
        "disapprovalReasons": {
          "description": "Any disapprovals bound to this restriction. Only present if status=DISAPPROVED. Can be used to filter the response of the creatives.list method. Deprecated; use disapproval field instead.",
          "items": {
            "$ref": "Disapproval"
          },
          "type": "array"
        },
        "disapproval": {
          "$ref": "Disapproval",
          "description": "Disapproval bound to this restriction. Only present if status=DISAPPROVED. Can be used to filter the response of the creatives.list method."
        }
      },
      "id": "ServingRestriction"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "OperatingSystemTargeting": {
      "id": "OperatingSystemTargeting",
      "description": "Represents targeting information for operating systems.",
      "type": "object",
      "properties": {
        "operatingSystemVersionCriteria": {
          "description": "IDs of operating system versions to be included/excluded.",
          "$ref": "CriteriaTargeting"
        },
        "operatingSystemCriteria": {
          "description": "IDs of operating systems to be included/excluded.",
          "$ref": "CriteriaTargeting"
        }
      }
    },
    "ListLosingBidsResponse": {
      "id": "ListLosingBidsResponse",
      "description": "Response message for listing all reasons that bids lost in the auction.",
      "properties": {
        "creativeStatusRows": {
          "items": {
            "$ref": "CreativeStatusRow"
          },
          "type": "array",
          "description": "List of rows, with counts of losing bids aggregated by loss reason (for example, creative status)."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListLosingBidsRequest.pageToken field in the subsequent call to the losingBids.list method to retrieve the next page of results."
        }
      },
      "type": "object"
    },
    "ContactInformation": {
      "description": "Contains information on how a buyer or seller can be reached.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the contact.",
          "type": "string"
        },
        "email": {
          "description": "Email address for the contact.",
          "type": "string"
        }
      },
      "id": "ContactInformation"
    },
    "ListProductsResponse": {
      "id": "ListProductsResponse",
      "description": "Response message for listing products visible to the buyer.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "List pagination support."
        },
        "products": {
          "type": "array",
          "description": "The list of matching products at their head revision number.",
          "items": {
            "$ref": "Product"
          }
        }
      }
    },
    "RealtimeTimeRange": {
      "type": "object",
      "description": "An open-ended realtime time range specified by the start timestamp. For filter sets that specify a realtime time range RTB metrics continue to be aggregated throughout the lifetime of the filter set.",
      "properties": {
        "startTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "The start timestamp of the real-time RTB metrics aggregation."
        }
      },
      "id": "RealtimeTimeRange"
    },
    "ListPublisherProfilesResponse": {
      "description": "Response message for profiles visible to the buyer.",
      "type": "object",
      "id": "ListPublisherProfilesResponse",
      "properties": {
        "publisherProfiles": {
          "items": {
            "$ref": "PublisherProfile"
          },
          "type": "array",
          "description": "The list of matching publisher profiles."
        },
        "nextPageToken": {
          "type": "string",
          "description": "List pagination support"
        }
      }
    },
    "Money": {
      "properties": {
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "format": "int64",
          "type": "string"
        },
        "nanos": {
          "type": "integer",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32"
        }
      },
      "id": "Money",
      "description": "Represents an amount of money with its currency type.",
      "type": "object"
    },
    "AuctionContext": {
      "properties": {
        "auctionTypes": {
          "description": "The auction types this restriction applies to.",
          "items": {
            "enumDescriptions": [
              "The restriction applies to open auction.",
              "The restriction applies to direct deals."
            ],
            "enum": [
              "OPEN_AUCTION",
              "DIRECT_DEALS"
            ],
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "AuctionContext",
      "description": "Output only. The auction type the restriction applies to.",
      "type": "object"
    },
    "CreativeStatusRow": {
      "type": "object",
      "properties": {
        "creativeStatusId": {
          "description": "The ID of the creative status. See [creative-status-codes](https://developers.google.com/authorized-buyers/rtb/downloads/creative-status-codes).",
          "type": "integer",
          "format": "int32"
        },
        "rowDimensions": {
          "description": "The values of all dimensions associated with metric values in this row.",
          "$ref": "RowDimensions"
        },
        "bidCount": {
          "description": "The number of bids with the specified status.",
          "$ref": "MetricValue"
        }
      },
      "id": "CreativeStatusRow",
      "description": "The number of bids with the specified dimension values that did not win the auction (either were filtered pre-auction or lost the auction), as described by the specified creative status."
    },
    "Note": {
      "id": "Note",
      "description": "A proposal may be associated to several notes.",
      "properties": {
        "noteId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique ID for the note."
        },
        "proposalRevision": {
          "type": "string",
          "description": "Output only. The revision number of the proposal when the note is created.",
          "readOnly": true,
          "format": "int64"
        },
        "creatorRole": {
          "description": "Output only. The role of the person (buyer/seller) creating the note.",
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp for when this note was created.",
          "readOnly": true,
          "type": "string"
        },
        "note": {
          "description": "The actual note to attach. (max-length: 1024 unicode code units) Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Date": {
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object"
    },
    "PublisherProfile": {
      "description": "Represents a publisher profile (https://support.google.com/admanager/answer/6035806) in Marketplace. All fields are read only. All string fields are free-form text entered by the publisher unless noted otherwise.",
      "id": "PublisherProfile",
      "type": "object",
      "properties": {
        "publisherProfileId": {
          "type": "string",
          "description": "Unique ID for publisher profile."
        },
        "programmaticDealsContact": {
          "description": "Contact information for programmatic deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses.",
          "type": "string"
        },
        "mediaKitUrl": {
          "description": "URL to additional marketing and sales materials.",
          "type": "string"
        },
        "buyerPitchStatement": {
          "description": "Statement explaining what's unique about publisher's business, and why buyers should partner with the publisher.",
          "type": "string"
        },
        "isParent": {
          "type": "boolean",
          "description": "Indicates if this profile is the parent profile of the seller. A parent profile represents all the inventory from the seller, as opposed to child profile that is created to brand a portion of inventory. One seller should have only one parent publisher profile, and can have multiple child profiles. Publisher profiles for the same seller will have same value of field google.ads.adexchange.buyer.v2beta1.PublisherProfile.seller. See https://support.google.com/admanager/answer/6035806 for details."
        },
        "topHeadlines": {
          "description": "Up to three key metrics and rankings. Max 100 characters each. For example \"#1 Mobile News Site for 20 Straight Months\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "samplePageUrl": {
          "type": "string",
          "description": "URL to a sample content page."
        },
        "displayName": {
          "description": "Name of the publisher profile.",
          "type": "string"
        },
        "directDealsContact": {
          "description": "Contact information for direct reservation deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses.",
          "type": "string"
        },
        "mobileApps": {
          "items": {
            "$ref": "PublisherProfileMobileApplication"
          },
          "description": "The list of apps represented in this publisher profile. Empty if this is a parent profile.",
          "type": "array"
        },
        "domains": {
          "type": "array",
          "description": "The list of domains represented in this publisher profile. Empty if this is a parent profile. These are top private domains, meaning that these will not contain a string like \"photos.google.co.uk/123\", but will instead contain \"google.co.uk\".",
          "items": {
            "type": "string"
          }
        },
        "audienceDescription": {
          "description": "Description on the publisher's audience.",
          "type": "string"
        },
        "googlePlusUrl": {
          "description": "URL to publisher's Google+ page.",
          "type": "string"
        },
        "logoUrl": {
          "description": "A Google public URL to the logo for this publisher profile. The logo is stored as a PNG, JPG, or GIF image.",
          "type": "string"
        },
        "rateCardInfoUrl": {
          "description": "URL to a publisher rate card.",
          "type": "string"
        },
        "overview": {
          "description": "Overview of the publisher.",
          "type": "string"
        },
        "seller": {
          "description": "Seller of the publisher profile.",
          "$ref": "Seller"
        }
      }
    },
    "VideoContent": {
      "properties": {
        "videoVastXml": {
          "description": "The contents of a VAST document for a video ad. This document should conform to the VAST 2.0 or 3.0 standard.",
          "type": "string"
        },
        "videoUrl": {
          "description": "The URL to fetch a video ad.",
          "type": "string"
        }
      },
      "description": "Video content for a creative.",
      "id": "VideoContent",
      "type": "object"
    },
    "VideoTargeting": {
      "type": "object",
      "id": "VideoTargeting",
      "description": "Represents targeting information about video.",
      "properties": {
        "targetedPositionTypes": {
          "items": {
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ],
            "type": "string",
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ]
          },
          "description": "A list of video positions to be included. When the included list is present, the excluded list must be empty. When the excluded list is present, the included list must be empty.",
          "type": "array"
        },
        "excludedPositionTypes": {
          "type": "array",
          "items": {
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ],
            "type": "string",
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ]
          },
          "description": "A list of video positions to be excluded. Position types can either be included or excluded (XOR)."
        }
      }
    },
    "ResumeProposalDealsRequest": {
      "description": "Request message to resume (unpause) serving for already-finalized deals.",
      "type": "object",
      "id": "ResumeProposalDealsRequest",
      "properties": {
        "externalDealIds": {
          "description": "The external_deal_id's of the deals to resume. If empty, all the deals in the proposal will be resumed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "StopWatchingCreativeRequest": {
      "type": "object",
      "description": "A request for stopping notifications for changes to creative Status.",
      "properties": {},
      "id": "StopWatchingCreativeRequest"
    },
    "MobileApplicationTargeting": {
      "id": "MobileApplicationTargeting",
      "type": "object",
      "properties": {
        "firstPartyTargeting": {
          "description": "Publisher owned apps to be targeted or excluded by the publisher to display the ads in.",
          "$ref": "FirstPartyMobileApplicationTargeting"
        }
      },
      "description": "Mobile application targeting settings."
    },
    "DayPartTargeting": {
      "properties": {
        "dayParts": {
          "description": "A list of day part targeting criterion.",
          "items": {
            "$ref": "DayPart"
          },
          "type": "array"
        },
        "timeZoneType": {
          "description": "The timezone to use for interpreting the day part targeting.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined time zone source.",
            "Use publisher's time zone setting.",
            "Use the user's time zone setting."
          ],
          "enum": [
            "TIME_ZONE_SOURCE_UNSPECIFIED",
            "PUBLISHER",
            "USER"
          ]
        }
      },
      "type": "object",
      "description": "Specifies the day part targeting criteria.",
      "id": "DayPartTargeting"
    },
    "ResumeProposalRequest": {
      "type": "object",
      "id": "ResumeProposalRequest",
      "properties": {},
      "description": "Request message to resume (unpause) serving for an already-finalized proposal."
    },
    "AdTechnologyProviders": {
      "id": "AdTechnologyProviders",
      "description": "Detected ad technology provider information.",
      "properties": {
        "detectedProviderIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "The detected ad technology provider IDs for this creative. See https://storage.googleapis.com/adx-rtb-dictionaries/providers.csv for mapping of provider ID to provided name, a privacy policy URL, and a list of domains which can be attributed to the provider. If the creative contains provider IDs that are outside of those listed in the `BidRequest.adslot.consented_providers_settings.consented_providers` field on the (Google bid protocol)[https://developers.google.com/authorized-buyers/rtb/downloads/realtime-bidding-proto] and the `BidRequest.user.ext.consented_providers_settings.consented_providers` field on the (OpenRTB protocol)[https://developers.google.com/authorized-buyers/rtb/downloads/openrtb-adx-proto], and a bid is submitted with that creative for an impression that will serve to an EEA user, the bid will be filtered before the auction.",
          "type": "array"
        },
        "hasUnidentifiedProvider": {
          "type": "boolean",
          "description": "Whether the creative contains an unidentified ad technology provider. If true for a given creative, any bid submitted with that creative for an impression that will serve to an EEA user will be filtered before the auction."
        }
      },
      "type": "object"
    },
    "WatchCreativeRequest": {
      "id": "WatchCreativeRequest",
      "description": "A request for watching changes to creative Status.",
      "type": "object",
      "properties": {
        "topic": {
          "description": "The Pub/Sub topic to publish notifications to. This topic must already exist and must give permission to ad-exchange-buyside-reports@google.com to write to the topic. This should be the full resource name in \"projects/{project_id}/topics/{topic_id}\" format.",
          "type": "string"
        }
      }
    },
    "ListClientsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientsRequest.pageToken field in the subsequent call to the accounts.clients.list method to retrieve the next page of results.",
          "type": "string"
        },
        "clients": {
          "items": {
            "$ref": "Client"
          },
          "type": "array",
          "description": "The returned list of clients."
        }
      },
      "id": "ListClientsResponse",
      "type": "object"
    },
    "FilteredBidDetailRow": {
      "description": "The number of filtered bids with the specified dimension values, among those filtered due to the requested filtering reason (for example, creative status), that have the specified detail.",
      "properties": {
        "detailId": {
          "description": "Note: this field will be deprecated, use \"detail\" field instead. When \"detail\" field represents an integer value, this field is populated as the same integer value \"detail\" field represents, otherwise this field will be 0. The ID of the detail. The associated value can be looked up in the dictionary file corresponding to the DetailType in the response message.",
          "type": "integer",
          "format": "int32"
        },
        "bidCount": {
          "description": "The number of bids with the specified detail.",
          "$ref": "MetricValue"
        },
        "rowDimensions": {
          "description": "The values of all dimensions associated with metric values in this row.",
          "$ref": "RowDimensions"
        },
        "detail": {
          "type": "string",
          "description": "The ID of the detail, can be numeric or text. The associated value can be looked up in the dictionary file corresponding to the DetailType in the response message."
        }
      },
      "id": "FilteredBidDetailRow",
      "type": "object"
    },
    "Size": {
      "description": "Message depicting the size of the creative. The units of width and height depend on the type of the targeting.",
      "type": "object",
      "id": "Size",
      "properties": {
        "width": {
          "format": "int32",
          "type": "integer",
          "description": "The width of the creative"
        },
        "height": {
          "description": "The height of the creative.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "TargetingValue": {
      "properties": {
        "stringValue": {
          "description": "The string value to include/exclude.",
          "type": "string"
        },
        "dayPartTargetingValue": {
          "description": "The daypart targeting to include / exclude. Filled in when the key is GOOG_DAYPART_TARGETING. The definition of this targeting is derived from the structure used by Ad Manager.",
          "$ref": "DayPartTargeting"
        },
        "longValue": {
          "format": "int64",
          "type": "string",
          "description": "The long value to include/exclude."
        },
        "creativeSizeValue": {
          "$ref": "CreativeSize",
          "description": "The creative size value to include/exclude. Filled in when key = GOOG_CREATIVE_SIZE"
        }
      },
      "type": "object",
      "description": "A polymorphic targeting value used as part of Shared Targeting.",
      "id": "TargetingValue"
    },
    "BidMetricsRow": {
      "description": "The set of metrics that are measured in numbers of bids, representing how many bids with the specified dimension values were considered eligible at each stage of the bidding funnel;",
      "id": "BidMetricsRow",
      "properties": {
        "billedImpressions": {
          "description": "The number of bids for which the buyer was billed. Also called valid impressions as invalid impressions are not billed.",
          "$ref": "MetricValue"
        },
        "measurableImpressions": {
          "description": "The number of bids for which the corresponding impression was measurable for viewability (as defined by Active View).",
          "$ref": "MetricValue"
        },
        "bids": {
          "description": "The number of bids that Ad Exchange received from the buyer.",
          "$ref": "MetricValue"
        },
        "bidsInAuction": {
          "$ref": "MetricValue",
          "description": "The number of bids that were permitted to compete in the auction."
        },
        "viewableImpressions": {
          "$ref": "MetricValue",
          "description": "The number of bids for which the corresponding impression was viewable (as defined by Active View)."
        },
        "reachedQueries": {
          "$ref": "MetricValue",
          "description": "The number of bids that won the auction and also won the mediation waterfall (if any)."
        },
        "rowDimensions": {
          "$ref": "RowDimensions",
          "description": "The values of all dimensions associated with metric values in this row."
        },
        "impressionsWon": {
          "description": "The number of bids that won the auction.",
          "$ref": "MetricValue"
        }
      },
      "type": "object"
    },
    "GuaranteedFixedPriceTerms": {
      "properties": {
        "guaranteedLooks": {
          "format": "int64",
          "type": "string",
          "description": "Count of guaranteed looks. Required for deal, optional for product."
        },
        "impressionCap": {
          "format": "int64",
          "description": "The lifetime impression cap for CPM sponsorship deals. The deal will stop serving when the cap is reached.",
          "type": "string"
        },
        "guaranteedImpressions": {
          "format": "int64",
          "description": "Guaranteed impressions as a percentage. This is the percentage of guaranteed looks that the buyer is guaranteeing to buy.",
          "type": "string"
        },
        "percentShareOfVoice": {
          "type": "string",
          "description": "For sponsorship deals, this is the percentage of the seller's eligible impressions that the deal will serve until the cap is reached.",
          "format": "int64"
        },
        "minimumDailyLooks": {
          "type": "string",
          "format": "int64",
          "description": "Daily minimum looks for CPD deal types."
        },
        "fixedPrices": {
          "items": {
            "$ref": "PricePerBuyer"
          },
          "type": "array",
          "description": "Fixed price for the specified buyer."
        },
        "reservationType": {
          "description": "The reservation type for a Programmatic Guaranteed deal. This indicates whether the number of impressions is fixed, or a percent of available impressions. If not specified, the default reservation type is STANDARD.",
          "enum": [
            "RESERVATION_TYPE_UNSPECIFIED",
            "STANDARD",
            "SPONSORSHIP"
          ],
          "type": "string",
          "enumDescriptions": [
            "An unspecified reservation type.",
            "Non-sponsorship deal.",
            "Sponsorship deals don't have impression goal (guaranteed_looks) and they are served based on the flight dates. For CPM Sponsorship deals, impression_cap is the lifetime impression limit."
          ]
        }
      },
      "id": "GuaranteedFixedPriceTerms",
      "description": "Terms for Programmatic Guaranteed Deals.",
      "type": "object"
    },
    "TargetingCriteria": {
      "description": "Advertisers can target different attributes of an ad slot. For example, they can choose to show ads only if the user is in the U.S. Such targeting criteria can be specified as part of Shared Targeting.",
      "type": "object",
      "id": "TargetingCriteria",
      "properties": {
        "inclusions": {
          "description": "The list of value to include as part of the targeting. Each value is OR'd together.",
          "items": {
            "$ref": "TargetingValue"
          },
          "type": "array"
        },
        "key": {
          "description": "The key representing the shared targeting criterion. Targeting criteria defined by Google ad servers will begin with GOOG_. Third parties may define their own keys. A list of permissible keys along with the acceptable values will be provided as part of the external documentation.",
          "type": "string"
        },
        "exclusions": {
          "items": {
            "$ref": "TargetingValue"
          },
          "description": "The list of values to exclude from targeting. Each value is AND'd together.",
          "type": "array"
        }
      }
    },
    "Creative": {
      "description": "A creative and its classification data.",
      "properties": {
        "declaredClickThroughUrls": {
          "type": "array",
          "description": "The set of declared destination URLs for the creative.",
          "items": {
            "type": "string"
          }
        },
        "adTechnologyProviders": {
          "description": "Output only. The detected ad technology providers.",
          "$ref": "AdTechnologyProviders"
        },
        "openAuctionStatus": {
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_CHECKED",
            "CONDITIONALLY_APPROVED",
            "APPROVED",
            "DISAPPROVED",
            "PENDING_REVIEW",
            "STATUS_TYPE_UNSPECIFIED"
          ],
          "description": "Output only. The top-level open auction status of this creative. If disapproved, an entry for 'auctionType = OPEN_AUCTION' (or 'ALL') in serving_restrictions will also exist. Note that this may be nuanced with other contextual restrictions, in which case, it may be preferable to read from serving_restrictions directly. Can be used to filter the response of the creatives.list method.",
          "enumDescriptions": [
            "The status is unknown.",
            "The creative has not been checked.",
            "The creative has been conditionally approved. See serving_restrictions for details.",
            "The creative has been approved.",
            "The creative has been disapproved.",
            "Placeholder for transition to v1beta1. Currently not used.",
            "Placeholder for transition to v1beta1. Currently not used."
          ]
        },
        "vendorIds": {
          "description": "All vendor IDs for the ads that may be shown from this creative. See https://storage.googleapis.com/adx-rtb-dictionaries/vendors.txt for possible values.",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        },
        "attributes": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "ATTRIBUTE_UNSPECIFIED",
              "IMAGE_RICH_MEDIA",
              "ADOBE_FLASH_FLV",
              "IS_TAGGED",
              "IS_COOKIE_TARGETED",
              "IS_USER_INTEREST_TARGETED",
              "EXPANDING_DIRECTION_NONE",
              "EXPANDING_DIRECTION_UP",
              "EXPANDING_DIRECTION_DOWN",
              "EXPANDING_DIRECTION_LEFT",
              "EXPANDING_DIRECTION_RIGHT",
              "EXPANDING_DIRECTION_UP_LEFT",
              "EXPANDING_DIRECTION_UP_RIGHT",
              "EXPANDING_DIRECTION_DOWN_LEFT",
              "EXPANDING_DIRECTION_DOWN_RIGHT",
              "CREATIVE_TYPE_HTML",
              "CREATIVE_TYPE_VAST_VIDEO",
              "EXPANDING_DIRECTION_UP_OR_DOWN",
              "EXPANDING_DIRECTION_LEFT_OR_RIGHT",
              "EXPANDING_DIRECTION_ANY_DIAGONAL",
              "EXPANDING_ACTION_ROLLOVER_TO_EXPAND",
              "INSTREAM_VAST_VIDEO_TYPE_VPAID_FLASH",
              "RICH_MEDIA_CAPABILITY_TYPE_MRAID",
              "RICH_MEDIA_CAPABILITY_TYPE_FLASH",
              "RICH_MEDIA_CAPABILITY_TYPE_HTML5",
              "SKIPPABLE_INSTREAM_VIDEO",
              "RICH_MEDIA_CAPABILITY_TYPE_SSL",
              "RICH_MEDIA_CAPABILITY_TYPE_NON_SSL",
              "RICH_MEDIA_CAPABILITY_TYPE_INTERSTITIAL",
              "NON_SKIPPABLE_INSTREAM_VIDEO",
              "NATIVE_ELIGIBILITY_ELIGIBLE",
              "NON_VPAID",
              "NATIVE_ELIGIBILITY_NOT_ELIGIBLE",
              "ANY_INTERSTITIAL",
              "NON_INTERSTITIAL",
              "IN_BANNER_VIDEO",
              "RENDERING_SIZELESS_ADX",
              "OMSDK_1_0"
            ],
            "enumDescriptions": [
              "Do not use. This is a placeholder value only.",
              "The creative is of type image/rich media. For pretargeting.",
              "The creative is of video type Adobe Flash FLV. For pretargeting.",
              "The creative is tagged.",
              "The creative is cookie targeted.",
              "The creative is user interest targeted.",
              "The creative does not expand.",
              "The creative expands up.",
              "The creative expands down.",
              "The creative expands left.",
              "The creative expands right.",
              "The creative expands up and left.",
              "The creative expands up and right.",
              "The creative expands down and left.",
              "The creative expands down and right.",
              "The creative type is HTML.",
              "The creative type is VAST video.",
              "The creative expands up or down.",
              "The creative expands left or right.",
              "The creative expands on any diagonal.",
              "The creative expands when rolled over.",
              "The instream vast video type is vpaid flash.",
              "The creative is MRAID.",
              "The creative is Flash.",
              "The creative is HTML5.",
              "The creative has an instream VAST video type of skippable instream video. For pretargeting.",
              "The creative is SSL.",
              "The creative is non-SSL.",
              "The creative is an interstitial.",
              "The creative has an instream VAST video type of non-skippable instream video. For pretargeting.",
              "The creative is eligible for native.",
              "The creative has an instream VAST video type of non-VPAID. For pretargeting.",
              "The creative is not eligible for native.",
              "The creative has an interstitial size of any interstitial. For pretargeting.",
              "The creative has an interstitial size of non interstitial. For pretargeting.",
              "The video type is in-banner video.",
              "The creative can dynamically resize to fill a variety of slot sizes.",
              "The open measurement SDK is supported."
            ]
          },
          "description": "All attributes for the ads that may be shown from this creative. Can be used to filter the response of the creatives.list method."
        },
        "html": {
          "$ref": "HtmlContent",
          "description": "An HTML creative."
        },
        "clickThroughUrls": {
          "type": "array",
          "description": "The set of destination URLs for the creative.",
          "items": {
            "type": "string"
          }
        },
        "corrections": {
          "items": {
            "$ref": "Correction"
          },
          "description": "Output only. Shows any corrections that were applied to this creative.",
          "type": "array"
        },
        "agencyId": {
          "type": "string",
          "format": "int64",
          "description": "The agency ID for this creative."
        },
        "dealsStatus": {
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_CHECKED",
            "CONDITIONALLY_APPROVED",
            "APPROVED",
            "DISAPPROVED",
            "PENDING_REVIEW",
            "STATUS_TYPE_UNSPECIFIED"
          ],
          "enumDescriptions": [
            "The status is unknown.",
            "The creative has not been checked.",
            "The creative has been conditionally approved. See serving_restrictions for details.",
            "The creative has been approved.",
            "The creative has been disapproved.",
            "Placeholder for transition to v1beta1. Currently not used.",
            "Placeholder for transition to v1beta1. Currently not used."
          ],
          "description": "Output only. The top-level deals status of this creative. If disapproved, an entry for 'auctionType=DIRECT_DEALS' (or 'ALL') in serving_restrictions will also exist. Note that this may be nuanced with other contextual restrictions, in which case, it may be preferable to read from serving_restrictions directly. Can be used to filter the response of the creatives.list method."
        },
        "impressionTrackingUrls": {
          "description": "The set of URLs to be called to record an impression.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "advertiserName": {
          "type": "string",
          "description": "The name of the company being advertised in the creative."
        },
        "servingRestrictions": {
          "description": "Output only. The granular status of this ad in specific contexts. A context here relates to where something ultimately serves (for example, a physical location, a platform, an HTTPS versus HTTP request, or the type of auction).",
          "items": {
            "$ref": "ServingRestriction"
          },
          "type": "array"
        },
        "accountId": {
          "description": "The account that this creative belongs to. Can be used to filter the response of the creatives.list method.",
          "type": "string"
        },
        "detectedAdvertiserIds": {
          "type": "array",
          "description": "Output only. Detected advertiser IDs, if any.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "apiUpdateTime": {
          "format": "google-datetime",
          "description": "Output only. The last update timestamp of the creative through the API.",
          "type": "string"
        },
        "detectedLanguages": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The detected languages for this creative. The order is arbitrary. The codes are 2 or 5 characters and are documented at https://developers.google.com/adwords/api/docs/appendix/languagecodes."
        },
        "detectedSensitiveCategories": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "Output only. Detected sensitive categories, if any. See the ad-sensitive-categories.txt file in the technical documentation for a list of IDs. You should use these IDs along with the excluded-sensitive-category field in the bid request to filter your bids.",
          "type": "array"
        },
        "native": {
          "description": "A native creative.",
          "$ref": "NativeContent"
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The version of this creative."
        },
        "video": {
          "$ref": "VideoContent",
          "description": "A video creative."
        },
        "restrictedCategories": {
          "type": "array",
          "description": "All restricted categories for the ads that may be shown from this creative.",
          "items": {
            "enumDescriptions": [
              "The ad has no restricted categories",
              "The alcohol restricted category."
            ],
            "type": "string",
            "enum": [
              "NO_RESTRICTED_CATEGORIES",
              "ALCOHOL"
            ]
          }
        },
        "creativeId": {
          "type": "string",
          "description": "The buyer-defined creative ID of this creative. Can be used to filter the response of the creatives.list method."
        },
        "detectedProductCategories": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "Output only. Detected product categories, if any. See the ad-product-categories.txt file in the technical documentation for a list of IDs.",
          "type": "array"
        },
        "detectedDomains": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The detected domains for this creative.",
          "type": "array"
        },
        "adChoicesDestinationUrl": {
          "description": "The link to AdChoices destination page.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Creative"
    },
    "ListNonBillableWinningBidsResponse": {
      "id": "ListNonBillableWinningBidsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListNonBillableWinningBidsRequest.pageToken field in the subsequent call to the nonBillableWinningBids.list method to retrieve the next page of results.",
          "type": "string"
        },
        "nonBillableWinningBidStatusRows": {
          "description": "List of rows, with counts of bids not billed aggregated by reason.",
          "type": "array",
          "items": {
            "$ref": "NonBillableWinningBidStatusRow"
          }
        }
      },
      "description": "Response message for listing all reasons for which a buyer was not billed for a winning bid.",
      "type": "object"
    },
    "TechnologyTargeting": {
      "type": "object",
      "description": "Represents targeting about various types of technology.",
      "properties": {
        "operatingSystemTargeting": {
          "$ref": "OperatingSystemTargeting",
          "description": "Operating system related targeting information."
        },
        "deviceCapabilityTargeting": {
          "$ref": "CriteriaTargeting",
          "description": "IDs of device capabilities to be included/excluded."
        },
        "deviceCategoryTargeting": {
          "description": "IDs of device categories to be included/excluded.",
          "$ref": "CriteriaTargeting"
        }
      },
      "id": "TechnologyTargeting"
    },
    "FilterSet": {
      "properties": {
        "name": {
          "type": "string",
          "description": "A user-defined name of the filter set. Filter set names must be unique globally and match one of the patterns: - `bidders/*/filterSets/*` (for accessing bidder-level troubleshooting data) - `bidders/*/accounts/*/filterSets/*` (for accessing account-level troubleshooting data) This field is required in create operations."
        },
        "sellerNetworkIds": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
[...]
