{
  "servicePath": "",
  "documentationLink": "https://developers.google.com/authorized-buyers/apis/reference/rest/",
  "name": "adexchangebuyer2",
  "discoveryVersion": "v1",
  "description": "Accesses the latest features for managing Authorized Buyers accounts, Real-Time Bidding configurations and auction metrics, and Marketplace programmatic deals.",
  "id": "adexchangebuyer2:v2beta1",
  "ownerDomain": "google.com",
  "basePath": "",
  "baseUrl": "https://adexchangebuyer.googleapis.com/",
  "ownerName": "Google",
  "title": "Ad Exchange Buyer API II",
  "resources": {
    "bidders": {
      "resources": {
        "filterSets": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "parameters": {
                "name": {
                  "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Full name of the resource being requested. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                  "type": "string"
                }
              },
              "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}",
              "path": "v2beta1/{+name}",
              "id": "adexchangebuyer2.bidders.filterSets.get",
              "description": "Retrieves the requested filter set for the account with the given account ID.",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "FilterSet"
              }
            },
            "delete": {
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                  "type": "string",
                  "description": "Full name of the resource to delete. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "path": "v2beta1/{+name}",
              "httpMethod": "DELETE",
              "description": "Deletes the requested filter set from the account with the given account ID.",
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}",
              "id": "adexchangebuyer2.bidders.filterSets.delete"
            },
            "create": {
              "request": {
                "$ref": "FilterSet"
              },
              "path": "v2beta1/{+ownerName}/filterSets",
              "parameterOrder": [
                "ownerName"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "description": "Creates the specified filter set for the account with the given account ID.",
              "response": {
                "$ref": "FilterSet"
              },
              "flatPath": "v2beta1/bidders/{biddersId}/filterSets",
              "id": "adexchangebuyer2.bidders.filterSets.create",
              "parameters": {
                "ownerName": {
                  "location": "path",
                  "pattern": "^bidders/[^/]+$",
                  "type": "string",
                  "description": "Name of the owner (bidder or account) of the filter set to be created. For example: - For a bidder-level filter set for bidder 123: `bidders/123` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456`",
                  "required": true
                },
                "isTransient": {
                  "type": "boolean",
                  "description": "Whether the filter set is transient, or should be persisted indefinitely. By default, filter sets are not transient. If transient, it will be available for at least 1 hour after creation.",
                  "location": "query"
                }
              },
              "httpMethod": "POST"
            },
            "list": {
              "response": {
                "$ref": "ListFilterSetsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "id": "adexchangebuyer2.bidders.filterSets.list",
              "parameters": {
                "pageSize": {
                  "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListFilterSetsResponse.nextPageToken returned from the previous call to the accounts.filterSets.list method."
                },
                "ownerName": {
                  "description": "Name of the owner (bidder or account) of the filter sets to be listed. For example: - For a bidder-level filter set for bidder 123: `bidders/123` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456`",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^bidders/[^/]+$"
                }
              },
              "path": "v2beta1/{+ownerName}/filterSets",
              "parameterOrder": [
                "ownerName"
              ],
              "httpMethod": "GET",
              "description": "Lists all filter sets for the account with the given account ID.",
              "flatPath": "v2beta1/bidders/{biddersId}/filterSets"
            }
          },
          "resources": {
            "losingBids": {
              "methods": {
                "list": {
                  "description": "List all reasons for which bids lost in the auction, with the number of bids that lost for each reason.",
                  "path": "v2beta1/{+filterSetName}/losingBids",
                  "id": "adexchangebuyer2.bidders.filterSets.losingBids.list",
                  "parameters": {
                    "filterSetName": {
                      "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "pageSize": {
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListLosingBidsResponse.nextPageToken returned from the previous call to the losingBids.list method.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListLosingBidsResponse"
                  },
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}/losingBids",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ]
                }
              }
            },
            "filteredBids": {
              "resources": {
                "details": {
                  "methods": {
                    "list": {
                      "id": "adexchangebuyer2.bidders.filterSets.filteredBids.details.list",
                      "parameterOrder": [
                        "filterSetName",
                        "creativeStatusId"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}/filteredBids/{creativeStatusId}/details",
                      "description": "List all details associated with a specific reason for which bids were filtered, with the number of bids filtered for each detail.",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                          "format": "int32",
                          "type": "integer"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListCreativeStatusBreakdownByDetailResponse.nextPageToken returned from the previous call to the filteredBids.details.list method.",
                          "type": "string"
                        },
                        "filterSetName": {
                          "type": "string",
                          "required": true,
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "location": "path",
                          "pattern": "^bidders/[^/]+/filterSets/[^/]+$"
                        },
                        "creativeStatusId": {
                          "location": "path",
                          "description": "The ID of the creative status for which to retrieve a breakdown by detail. See [creative-status-codes](https://developers.google.com/authorized-buyers/rtb/downloads/creative-status-codes). Details are only available for statuses 10, 14, 15, 17, 18, 19, 86, and 87.",
                          "type": "integer",
                          "required": true,
                          "format": "int32"
                        }
                      },
                      "path": "v2beta1/{+filterSetName}/filteredBids/{creativeStatusId}/details",
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ],
                      "response": {
                        "$ref": "ListCreativeStatusBreakdownByDetailResponse"
                      }
                    }
                  }
                },
                "creatives": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "filterSetName",
                        "creativeStatusId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ],
                      "id": "adexchangebuyer2.bidders.filterSets.filteredBids.creatives.list",
                      "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}/filteredBids/{creativeStatusId}/creatives",
                      "response": {
                        "$ref": "ListCreativeStatusBreakdownByCreativeResponse"
                      },
                      "httpMethod": "GET",
                      "description": "List all creatives associated with a specific reason for which bids were filtered, with the number of bids filtered for each creative.",
                      "path": "v2beta1/{+filterSetName}/filteredBids/{creativeStatusId}/creatives",
                      "parameters": {
                        "creativeStatusId": {
                          "required": true,
                          "description": "The ID of the creative status for which to retrieve a breakdown by creative. See [creative-status-codes](https://developers.google.com/authorized-buyers/rtb/downloads/creative-status-codes).",
                          "format": "int32",
                          "location": "path",
                          "type": "integer"
                        },
                        "filterSetName": {
                          "location": "path",
                          "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                          "type": "string",
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "required": true
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default."
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListCreativeStatusBreakdownByCreativeResponse.nextPageToken returned from the previous call to the filteredBids.creatives.list method."
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "list": {
                  "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}/filteredBids",
                  "path": "v2beta1/{+filterSetName}/filteredBids",
                  "response": {
                    "$ref": "ListFilteredBidsResponse"
                  },
                  "httpMethod": "GET",
                  "id": "adexchangebuyer2.bidders.filterSets.filteredBids.list",
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "parameters": {
                    "filterSetName": {
                      "location": "path",
                      "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                      "type": "string",
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "required": true
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListFilteredBidsResponse.nextPageToken returned from the previous call to the filteredBids.list method."
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default."
                    }
                  },
                  "description": "List all reasons for which bids were filtered, with the number of bids filtered for each reason."
                }
              }
            },
            "bidResponsesWithoutBids": {
              "methods": {
                "list": {
                  "id": "adexchangebuyer2.bidders.filterSets.bidResponsesWithoutBids.list",
                  "description": "List all reasons for which bid responses were considered to have no applicable bids, with the number of bid responses affected for each reason.",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "filterSetName": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBidResponsesWithoutBidsResponse.nextPageToken returned from the previous call to the bidResponsesWithoutBids.list method.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}/bidResponsesWithoutBids",
                  "path": "v2beta1/{+filterSetName}/bidResponsesWithoutBids",
                  "response": {
                    "$ref": "ListBidResponsesWithoutBidsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ]
                }
              }
            },
            "bidMetrics": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "description": "Lists all metrics that are measured in terms of number of bids.",
                  "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}/bidMetrics",
                  "response": {
                    "$ref": "ListBidMetricsResponse"
                  },
                  "id": "adexchangebuyer2.bidders.filterSets.bidMetrics.list",
                  "path": "v2beta1/{+filterSetName}/bidMetrics",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBidMetricsResponse.nextPageToken returned from the previous call to the bidMetrics.list method.",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                      "type": "integer",
                      "location": "query"
                    },
                    "filterSetName": {
                      "required": true,
                      "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                      "type": "string",
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "location": "path"
                    }
                  }
                }
              }
            },
            "bidResponseErrors": {
              "methods": {
                "list": {
                  "id": "adexchangebuyer2.bidders.filterSets.bidResponseErrors.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBidResponseErrorsResponse.nextPageToken returned from the previous call to the bidResponseErrors.list method.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default."
                    },
                    "filterSetName": {
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v2beta1/{+filterSetName}/bidResponseErrors",
                  "httpMethod": "GET",
                  "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}/bidResponseErrors",
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "response": {
                    "$ref": "ListBidResponseErrorsResponse"
                  },
                  "description": "List all errors that occurred in bid responses, with the number of bid responses affected for each reason."
                }
              }
            },
            "nonBillableWinningBids": {
              "methods": {
                "list": {
                  "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}/nonBillableWinningBids",
                  "response": {
                    "$ref": "ListNonBillableWinningBidsResponse"
                  },
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "description": "List all reasons for which winning bids were not billable, with the number of bids not billed for each reason.",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListNonBillableWinningBidsResponse.nextPageToken returned from the previous call to the nonBillableWinningBids.list method.",
                      "type": "string"
                    },
                    "filterSetName": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                      "required": true,
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`"
                    }
                  },
                  "path": "v2beta1/{+filterSetName}/nonBillableWinningBids",
                  "id": "adexchangebuyer2.bidders.filterSets.nonBillableWinningBids.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ]
                }
              }
            },
            "filteredBidRequests": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "id": "adexchangebuyer2.bidders.filterSets.filteredBidRequests.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "response": {
                    "$ref": "ListFilteredBidRequestsResponse"
                  },
                  "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}/filteredBidRequests",
                  "parameters": {
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListFilteredBidRequestsResponse.nextPageToken returned from the previous call to the filteredBidRequests.list method.",
                      "type": "string",
                      "location": "query"
                    },
                    "filterSetName": {
                      "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "description": "List all reasons that caused a bid request not to be sent for an impression, with the number of bid requests not sent for each reason.",
                  "path": "v2beta1/{+filterSetName}/filteredBidRequests"
                }
              }
            },
            "impressionMetrics": {
              "methods": {
                "list": {
                  "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}/impressionMetrics",
                  "httpMethod": "GET",
                  "description": "Lists all metrics that are measured in terms of number of impressions.",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListImpressionMetricsResponse.nextPageToken returned from the previous call to the impressionMetrics.list method."
                    },
                    "filterSetName": {
                      "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "path": "v2beta1/{+filterSetName}/impressionMetrics",
                  "id": "adexchangebuyer2.bidders.filterSets.impressionMetrics.list",
                  "response": {
                    "$ref": "ListImpressionMetricsResponse"
                  }
                }
              }
            }
          }
        },
        "accounts": {
          "resources": {
            "filterSets": {
              "methods": {
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "path": "v2beta1/{+name}",
                  "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}",
                  "id": "adexchangebuyer2.bidders.accounts.filterSets.delete",
                  "parameters": {
                    "name": {
                      "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                      "description": "Full name of the resource to delete. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Deletes the requested filter set from the account with the given account ID.",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                      "type": "string",
                      "description": "Full name of the resource being requested. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`"
                    }
                  },
                  "response": {
                    "$ref": "FilterSet"
                  },
                  "id": "adexchangebuyer2.bidders.accounts.filterSets.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}",
                  "httpMethod": "GET",
                  "path": "v2beta1/{+name}",
                  "description": "Retrieves the requested filter set for the account with the given account ID."
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets",
                  "id": "adexchangebuyer2.bidders.accounts.filterSets.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "ownerName"
                  ],
                  "description": "Lists all filter sets for the account with the given account ID.",
                  "response": {
                    "$ref": "ListFilterSetsResponse"
                  },
                  "parameters": {
                    "ownerName": {
                      "location": "path",
                      "description": "Name of the owner (bidder or account) of the filter sets to be listed. For example: - For a bidder-level filter set for bidder 123: `bidders/123` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456`",
                      "type": "string",
                      "required": true,
                      "pattern": "^bidders/[^/]+/accounts/[^/]+$"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListFilterSetsResponse.nextPageToken returned from the previous call to the accounts.filterSets.list method.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "path": "v2beta1/{+ownerName}/filterSets"
                },
                "create": {
                  "request": {
                    "$ref": "FilterSet"
                  },
                  "description": "Creates the specified filter set for the account with the given account ID.",
                  "response": {
                    "$ref": "FilterSet"
                  },
                  "parameterOrder": [
                    "ownerName"
                  ],
                  "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets",
                  "httpMethod": "POST",
                  "id": "adexchangebuyer2.bidders.accounts.filterSets.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "parameters": {
                    "isTransient": {
                      "description": "Whether the filter set is transient, or should be persisted indefinitely. By default, filter sets are not transient. If transient, it will be available for at least 1 hour after creation.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "ownerName": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Name of the owner (bidder or account) of the filter set to be created. For example: - For a bidder-level filter set for bidder 123: `bidders/123` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456`",
                      "pattern": "^bidders/[^/]+/accounts/[^/]+$"
                    }
                  },
                  "path": "v2beta1/{+ownerName}/filterSets"
                }
              },
              "resources": {
                "bidResponsesWithoutBids": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ],
                      "httpMethod": "GET",
                      "description": "List all reasons for which bid responses were considered to have no applicable bids, with the number of bid responses affected for each reason.",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBidResponsesWithoutBidsResponse.nextPageToken returned from the previous call to the bidResponsesWithoutBids.list method."
                        },
                        "filterSetName": {
                          "required": true,
                          "location": "path",
                          "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        }
                      },
                      "id": "adexchangebuyer2.bidders.accounts.filterSets.bidResponsesWithoutBids.list",
                      "path": "v2beta1/{+filterSetName}/bidResponsesWithoutBids",
                      "response": {
                        "$ref": "ListBidResponsesWithoutBidsResponse"
                      },
                      "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/bidResponsesWithoutBids",
                      "parameterOrder": [
                        "filterSetName"
                      ]
                    }
                  }
                },
                "filteredBidRequests": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "filterSetName"
                      ],
                      "httpMethod": "GET",
                      "path": "v2beta1/{+filterSetName}/filteredBidRequests",
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ],
                      "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/filteredBidRequests",
                      "id": "adexchangebuyer2.bidders.accounts.filterSets.filteredBidRequests.list",
                      "parameters": {
                        "filterSetName": {
                          "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListFilteredBidRequestsResponse.nextPageToken returned from the previous call to the filteredBidRequests.list method.",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                          "format": "int32",
                          "location": "query"
                        }
                      },
                      "description": "List all reasons that caused a bid request not to be sent for an impression, with the number of bid requests not sent for each reason.",
                      "response": {
                        "$ref": "ListFilteredBidRequestsResponse"
                      }
                    }
                  }
                },
                "bidResponseErrors": {
                  "methods": {
                    "list": {
                      "path": "v2beta1/{+filterSetName}/bidResponseErrors",
                      "description": "List all errors that occurred in bid responses, with the number of bid responses affected for each reason.",
                      "parameterOrder": [
                        "filterSetName"
                      ],
                      "id": "adexchangebuyer2.bidders.accounts.filterSets.bidResponseErrors.list",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListBidResponseErrorsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ],
                      "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/bidResponseErrors",
                      "parameters": {
                        "filterSetName": {
                          "required": true,
                          "location": "path",
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBidResponseErrorsResponse.nextPageToken returned from the previous call to the bidResponseErrors.list method.",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                          "type": "integer",
                          "format": "int32"
                        }
                      }
                    }
                  }
                },
                "impressionMetrics": {
                  "methods": {
                    "list": {
                      "description": "Lists all metrics that are measured in terms of number of impressions.",
                      "parameters": {
                        "filterSetName": {
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "pageToken": {
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListImpressionMetricsResponse.nextPageToken returned from the previous call to the impressionMetrics.list method.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ],
                      "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/impressionMetrics",
                      "response": {
                        "$ref": "ListImpressionMetricsResponse"
                      },
                      "path": "v2beta1/{+filterSetName}/impressionMetrics",
                      "parameterOrder": [
                        "filterSetName"
                      ],
                      "id": "adexchangebuyer2.bidders.accounts.filterSets.impressionMetrics.list"
                    }
                  }
                },
                "bidMetrics": {
                  "methods": {
                    "list": {
                      "description": "Lists all metrics that are measured in terms of number of bids.",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "filterSetName"
                      ],
                      "id": "adexchangebuyer2.bidders.accounts.filterSets.bidMetrics.list",
                      "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/bidMetrics",
                      "parameters": {
                        "pageSize": {
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "filterSetName": {
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "location": "path",
                          "required": true,
                          "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBidMetricsResponse.nextPageToken returned from the previous call to the bidMetrics.list method.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "ListBidMetricsResponse"
                      },
                      "path": "v2beta1/{+filterSetName}/bidMetrics",
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ]
                    }
                  }
                },
                "losingBids": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListLosingBidsResponse"
                      },
                      "parameterOrder": [
                        "filterSetName"
                      ],
                      "parameters": {
                        "filterSetName": {
                          "type": "string",
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "location": "path",
                          "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                          "required": true
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListLosingBidsResponse.nextPageToken returned from the previous call to the losingBids.list method.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/losingBids",
                      "description": "List all reasons for which bids lost in the auction, with the number of bids that lost for each reason.",
                      "id": "adexchangebuyer2.bidders.accounts.filterSets.losingBids.list",
                      "path": "v2beta1/{+filterSetName}/losingBids"
                    }
                  }
                },
                "filteredBids": {
                  "resources": {
                    "details": {
                      "methods": {
                        "list": {
                          "response": {
                            "$ref": "ListCreativeStatusBreakdownByDetailResponse"
                          },
                          "description": "List all details associated with a specific reason for which bids were filtered, with the number of bids filtered for each detail.",
                          "path": "v2beta1/{+filterSetName}/filteredBids/{creativeStatusId}/details",
                          "scopes": [
                            "https://www.googleapis.com/auth/adexchange.buyer"
                          ],
                          "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/filteredBids/{creativeStatusId}/details",
                          "parameters": {
                            "creativeStatusId": {
                              "required": true,
                              "location": "path",
                              "format": "int32",
                              "type": "integer",
                              "description": "The ID of the creative status for which to retrieve a breakdown by detail. See [creative-status-codes](https://developers.google.com/authorized-buyers/rtb/downloads/creative-status-codes). Details are only available for statuses 10, 14, 15, 17, 18, 19, 86, and 87."
                            },
                            "filterSetName": {
                              "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                              "type": "string",
                              "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                              "location": "path",
                              "required": true
                            },
                            "pageSize": {
                              "location": "query",
                              "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                              "type": "integer",
                              "format": "int32"
                            },
                            "pageToken": {
                              "description": "A token identifying a page of results the server should return. Typically, this is the value of ListCreativeStatusBreakdownByDetailResponse.nextPageToken returned from the previous call to the filteredBids.details.list method.",
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "parameterOrder": [
                            "filterSetName",
                            "creativeStatusId"
                          ],
                          "id": "adexchangebuyer2.bidders.accounts.filterSets.filteredBids.details.list",
                          "httpMethod": "GET"
                        }
                      }
                    },
                    "creatives": {
                      "methods": {
                        "list": {
                          "path": "v2beta1/{+filterSetName}/filteredBids/{creativeStatusId}/creatives",
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/adexchange.buyer"
                          ],
                          "parameters": {
                            "pageSize": {
                              "format": "int32",
                              "type": "integer",
                              "location": "query",
                              "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default."
                            },
                            "creativeStatusId": {
                              "type": "integer",
                              "required": true,
                              "format": "int32",
                              "description": "The ID of the creative status for which to retrieve a breakdown by creative. See [creative-status-codes](https://developers.google.com/authorized-buyers/rtb/downloads/creative-status-codes).",
                              "location": "path"
                            },
                            "filterSetName": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                              "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$"
                            },
                            "pageToken": {
                              "description": "A token identifying a page of results the server should return. Typically, this is the value of ListCreativeStatusBreakdownByCreativeResponse.nextPageToken returned from the previous call to the filteredBids.creatives.list method.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "id": "adexchangebuyer2.bidders.accounts.filterSets.filteredBids.creatives.list",
                          "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/filteredBids/{creativeStatusId}/creatives",
                          "description": "List all creatives associated with a specific reason for which bids were filtered, with the number of bids filtered for each creative.",
                          "response": {
                            "$ref": "ListCreativeStatusBreakdownByCreativeResponse"
                          },
                          "parameterOrder": [
                            "filterSetName",
                            "creativeStatusId"
                          ]
                        }
                      }
                    }
                  },
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ],
                      "path": "v2beta1/{+filterSetName}/filteredBids",
                      "response": {
                        "$ref": "ListFilteredBidsResponse"
                      },
                      "parameterOrder": [
                        "filterSetName"
                      ],
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer",
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default."
                        },
                        "filterSetName": {
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "location": "path",
                          "type": "string",
                          "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                          "required": true
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListFilteredBidsResponse.nextPageToken returned from the previous call to the filteredBids.list method."
                        }
                      },
                      "description": "List all reasons for which bids were filtered, with the number of bids filtered for each reason.",
                      "id": "adexchangebuyer2.bidders.accounts.filterSets.filteredBids.list",
                      "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/filteredBids",
                      "httpMethod": "GET"
                    }
                  }
                },
                "nonBillableWinningBids": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListNonBillableWinningBidsResponse"
                      },
                      "description": "List all reasons for which winning bids were not billable, with the number of bids not billed for each reason.",
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ],
                      "path": "v2beta1/{+filterSetName}/nonBillableWinningBids",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListNonBillableWinningBidsResponse.nextPageToken returned from the previous call to the nonBillableWinningBids.list method.",
                          "type": "string"
                        },
                        "filterSetName": {
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "location": "path",
                          "type": "string",
                          "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                          "required": true
                        },
                        "pageSize": {
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        }
                      },
                      "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/nonBillableWinningBids",
                      "parameterOrder": [
                        "filterSetName"
                      ],
                      "httpMethod": "GET",
                      "id": "adexchangebuyer2.bidders.accounts.filterSets.nonBillableWinningBids.list"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "accounts": {
      "resources": {
        "publisherProfiles": {
          "methods": {
            "get": {
              "description": "Gets the requested publisher profile by id.",
              "path": "v2beta1/accounts/{accountId}/publisherProfiles/{publisherProfileId}",
              "response": {
                "$ref": "PublisherProfile"
              },
              "flatPath": "v2beta1/accounts/{accountId}/publisherProfiles/{publisherProfileId}",
              "id": "adexchangebuyer2.accounts.publisherProfiles.get",
              "parameterOrder": [
                "accountId",
                "publisherProfileId"
              ],
              "parameters": {
                "accountId": {
                  "description": "Account ID of the buyer.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "publisherProfileId": {
                  "required": true,
                  "description": "The id for the publisher profile to get.",
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "httpMethod": "GET",
              "id": "adexchangebuyer2.accounts.publisherProfiles.list",
              "parameterOrder": [
                "accountId"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Specify the number of results to include per page."
                },
                "pageToken": {
                  "type": "string",
                  "description": "The page token as return from ListPublisherProfilesResponse.",
                  "location": "query"
                },
                "accountId": {
                  "location": "path",
                  "description": "Account ID of the buyer.",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v2beta1/accounts/{accountId}/publisherProfiles",
              "description": "List all publisher profiles visible to the buyer",
              "path": "v2beta1/accounts/{accountId}/publisherProfiles",
              "response": {
                "$ref": "ListPublisherProfilesResponse"
              }
            }
          }
        },
        "finalizedProposals": {
          "methods": {
            "list": {
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                  "type": "integer"
                },
                "filterSyntax": {
                  "enumDescriptions": [
                    "A placeholder for an undefined filter syntax.",
                    "PQL query syntax. Visit https://developers.google.com/ad-manager/api/pqlreference for PQL documentation and examples.",
                    "API list filtering syntax. Read about syntax and usage at https://developers.google.com/authorized-buyers/apis/guides/v2/list-filters."
                  ],
                  "description": "Syntax the filter is written in. Current implementation defaults to PQL but in the future it will be LIST_FILTER.",
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "FILTER_SYNTAX_UNSPECIFIED",
                    "PQL",
                    "LIST_FILTER"
                  ]
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "An optional PQL filter query used to query for proposals. Nested repeated fields, such as proposal.deals.targetingCriterion, cannot be filtered."
                },
                "accountId": {
                  "description": "Account ID of the buyer.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The page token as returned from ListProposalsResponse."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "flatPath": "v2beta1/accounts/{accountId}/finalizedProposals",
              "path": "v2beta1/accounts/{accountId}/finalizedProposals",
              "id": "adexchangebuyer2.accounts.finalizedProposals.list",
              "response": {
                "$ref": "ListProposalsResponse"
              },
              "parameterOrder": [
                "accountId"
              ],
              "description": "List finalized proposals, regardless if a proposal is being renegotiated. A filter expression (PQL query) may be specified to filter the results. The notes will not be returned.",
              "httpMethod": "GET"
            }
          }
        },
        "clients": {
          "resources": {
            "invitations": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "accountId",
                    "clientAccountId"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientUserInvitationsResponse.nextPageToken returned from the previous call to the clients.invitations.list method."
                    },
                    "clientAccountId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Numerical account ID of the client buyer to list invitations for. (required) You must either specify a string representation of a numerical account identifier or the `-` character to list all the invitations for all the clients of a given sponsor buyer."
                    },
                    "accountId": {
                      "format": "int64",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Numerical account ID of the client's sponsor buyer. (required)"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Requested page size. Server may return fewer clients than requested. If unspecified, server will pick an appropriate default."
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations",
                  "description": "Lists all the client users invitations for a client with a given account ID.",
                  "response": {
                    "$ref": "ListClientUserInvitationsResponse"
                  },
                  "id": "adexchangebuyer2.accounts.clients.invitations.list"
                },
                "create": {
                  "request": {
                    "$ref": "ClientUserInvitation"
                  },
                  "description": "Creates and sends out an email invitation to access an Ad Exchange client buyer account.",
                  "id": "adexchangebuyer2.accounts.clients.invitations.create",
                  "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations",
                  "parameterOrder": [
                    "accountId",
                    "clientAccountId"
                  ],
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "required": true,
                      "description": "Numerical account ID of the client's sponsor buyer. (required)",
                      "type": "string",
                      "format": "int64"
                    },
                    "clientAccountId": {
                      "type": "string",
                      "location": "path",
                      "format": "int64",
                      "description": "Numerical account ID of the client buyer that the user should be associated with. (required)",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "ClientUserInvitation"
                  },
                  "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "id": "adexchangebuyer2.accounts.clients.invitations.get",
                  "response": {
                    "$ref": "ClientUserInvitation"
                  },
                  "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations/{invitationId}",
                  "parameters": {
                    "clientAccountId": {
                      "description": "Numerical account ID of the client buyer that the user invitation to be retrieved is associated with. (required)",
                      "type": "string",
                      "format": "int64",
                      "location": "path",
                      "required": true
                    },
                    "accountId": {
                      "location": "path",
                      "description": "Numerical account ID of the client's sponsor buyer. (required)",
                      "required": true,
                      "type": "string",
                      "format": "int64"
                    },
                    "invitationId": {
                      "required": true,
                      "type": "string",
                      "description": "Numerical identifier of the user invitation to retrieve. (required)",
                      "format": "int64",
                      "location": "path"
                    }
                  },
                  "description": "Retrieves an existing client user invitation.",
                  "parameterOrder": [
                    "accountId",
                    "clientAccountId",
                    "invitationId"
                  ],
                  "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations/{invitationId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ]
                }
              }
            },
            "users": {
              "methods": {
                "get": {
                  "description": "Retrieves an existing client user.",
                  "parameterOrder": [
                    "accountId",
                    "clientAccountId",
                    "userId"
                  ],
                  "id": "adexchangebuyer2.accounts.clients.users.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users/{userId}",
                  "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users/{userId}",
                  "parameters": {
                    "clientAccountId": {
                      "format": "int64",
                      "type": "string",
                      "description": "Numerical account ID of the client buyer that the user to be retrieved is associated with. (required)",
                      "required": true,
                      "location": "path"
                    },
                    "userId": {
                      "format": "int64",
                      "required": true,
                      "location": "path",
                      "description": "Numerical identifier of the user to retrieve. (required)",
                      "type": "string"
                    },
                    "accountId": {
                      "description": "Numerical account ID of the client's sponsor buyer. (required)",
                      "format": "int64",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users",
                  "response": {
                    "$ref": "ListClientUsersResponse"
                  },
                  "description": "Lists all the known client users for a specified sponsor buyer account ID.",
                  "parameterOrder": [
                    "accountId",
                    "clientAccountId"
                  ],
                  "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users",
                  "id": "adexchangebuyer2.accounts.clients.users.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "accountId": {
                      "description": "Numerical account ID of the sponsor buyer of the client to list users for. (required)",
                      "format": "int64",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "clientAccountId": {
                      "type": "string",
                      "required": true,
                      "description": "The account ID of the client buyer to list users for. (required) You must specify either a string representation of a numerical account identifier or the `-` character to list all the client users for all the clients of a given sponsor buyer.",
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "Requested page size. The server may return fewer clients than requested. If unspecified, the server will pick an appropriate default.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientUsersResponse.nextPageToken returned from the previous call to the accounts.clients.users.list method.",
                      "type": "string"
                    }
                  }
                },
                "update": {
                  "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users/{userId}",
                  "parameters": {
                    "userId": {
                      "description": "Numerical identifier of the user to retrieve. (required)",
                      "type": "string",
                      "required": true,
                      "format": "int64",
                      "location": "path"
                    },
                    "accountId": {
                      "description": "Numerical account ID of the client's sponsor buyer. (required)",
                      "format": "int64",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "clientAccountId": {
                      "type": "string",
                      "format": "int64",
                      "description": "Numerical account ID of the client buyer that the user to be retrieved is associated with. (required)",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "adexchangebuyer2.accounts.clients.users.update",
                  "parameterOrder": [
                    "accountId",
                    "clientAccountId",
                    "userId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "request": {
                    "$ref": "ClientUser"
                  },
                  "httpMethod": "PUT",
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users/{userId}",
                  "description": "Updates an existing client user. Only the user status can be changed on update."
                }
              }
            }
          },
          "methods": {
            "get": {
              "response": {
                "$ref": "Client"
              },
              "parameterOrder": [
                "accountId",
                "clientAccountId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}",
              "parameters": {
                "clientAccountId": {
                  "description": "Numerical account ID of the client buyer to retrieve. (required)",
                  "required": true,
                  "format": "int64",
                  "type": "string",
                  "location": "path"
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Numerical account ID of the client's sponsor buyer. (required)",
                  "format": "int64"
                }
              },
              "id": "adexchangebuyer2.accounts.clients.get",
              "description": "Gets a client buyer with a given client account ID.",
              "httpMethod": "GET",
              "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}"
            },
            "create": {
              "id": "adexchangebuyer2.accounts.clients.create",
              "request": {
                "$ref": "Client"
              },
              "description": "Creates a new client buyer.",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "format": "int64",
                  "description": "Unique numerical account ID for the buyer of which the client buyer is a customer; the sponsor buyer to create a client for. (required)",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "flatPath": "v2beta1/accounts/{accountId}/clients",
              "response": {
                "$ref": "Client"
              },
              "parameterOrder": [
                "accountId"
              ],
              "path": "v2beta1/accounts/{accountId}/clients"
            },
            "update": {
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "request": {
                "$ref": "Client"
              },
              "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}",
              "response": {
                "$ref": "Client"
              },
              "description": "Updates an existing client buyer.",
              "id": "adexchangebuyer2.accounts.clients.update",
              "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "format": "int64",
                  "description": "Unique numerical account ID for the buyer of which the client buyer is a customer; the sponsor buyer to update a client for. (required)"
                },
                "clientAccountId": {
                  "format": "int64",
                  "description": "Unique numerical account ID of the client to update. (required)",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "PUT",
              "parameterOrder": [
                "accountId",
                "clientAccountId"
              ]
            },
            "list": {
              "description": "Lists all the clients for the current sponsor buyer.",
              "response": {
                "$ref": "ListClientsResponse"
              },
              "path": "v2beta1/accounts/{accountId}/clients",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "Requested page size. The server may return fewer clients than requested. If unspecified, the server will pick an appropriate default.",
                  "format": "int32",
                  "location": "query"
                },
                "partnerClientId": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional unique identifier (from the standpoint of an Ad Exchange sponsor buyer partner) of the client to return. If specified, at most one client will be returned in the response."
                },
                "accountId": {
                  "required": true,
                  "format": "int64",
                  "type": "string",
                  "location": "path",
                  "description": "Unique numerical account ID of the sponsor buyer to list the clients for."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientsResponse.nextPageToken returned from the previous call to the accounts.clients.list method."
                }
              },
              "parameterOrder": [
                "accountId"
              ],
              "id": "adexchangebuyer2.accounts.clients.list",
              "flatPath": "v2beta1/accounts/{accountId}/clients",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "httpMethod": "GET"
            }
          }
        },
        "creatives": {
          "methods": {
            "stopWatching": {
              "response": {
                "$ref": "Empty"
              },
              "id": "adexchangebuyer2.accounts.creatives.stopWatching",
              "request": {
                "$ref": "StopWatchingCreativeRequest"
              },
              "parameters": {
                "creativeId": {
                  "description": "The creative ID of the creative to stop notifications for. Specify \"-\" to specify stopping account level notifications.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "accountId": {
                  "required": true,
                  "description": "The account of the creative to stop notifications for.",
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Stops watching a creative. Will stop push notifications being sent to the topics when the creative changes status.",
              "parameterOrder": [
                "accountId",
                "creativeId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}:stopWatching",
              "httpMethod": "POST",
              "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}:stopWatching"
            },
            "update": {
              "id": "adexchangebuyer2.accounts.creatives.update",
              "description": "Updates a creative.",
              "parameterOrder": [
                "accountId",
                "creativeId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}",
              "httpMethod": "PUT",
              "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}",
              "response": {
                "$ref": "Creative"
              },
              "request": {
                "$ref": "Creative"
              },
              "parameters": {
                "accountId": {
                  "description": "The account that this creative belongs to. Can be used to filter the response of the creatives.list method.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "creativeId": {
                  "required": true,
                  "type": "string",
                  "description": "The buyer-defined creative ID of this creative. Can be used to filter the response of the creatives.list method.",
                  "location": "path"
                }
              }
            },
            "list": {
              "id": "adexchangebuyer2.accounts.creatives.list",
              "description": "Lists creatives.",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListCreativesResponse"
              },
              "path": "v2beta1/accounts/{accountId}/creatives",
              "parameterOrder": [
                "accountId"
              ],
              "flatPath": "v2beta1/accounts/{accountId}/creatives",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "parameters": {
                "query": {
                  "type": "string",
                  "description": "An optional query string to filter creatives. If no filter is specified, all active creatives will be returned. Supported queries are: - accountId=*account_id_string* - creativeId=*creative_id_string* - dealsStatus: {approved, conditionally_approved, disapproved, not_checked} - openAuctionStatus: {approved, conditionally_approved, disapproved, not_checked} - attribute: {a numeric attribute from the list of attributes} - disapprovalReason: {a reason from DisapprovalReason} Example: 'accountId=12345 AND (dealsStatus:disapproved AND disapprovalReason:unacceptable_content) OR attribute:47'",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListCreativesResponse.next_page_token returned from the previous call to 'ListCreatives' method."
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Requested page size. The server may return fewer creatives than requested (due to timeout constraint) even if more are available via another call. If unspecified, server will pick an appropriate default. Acceptable values are 1 to 1000, inclusive.",
                  "type": "integer"
                },
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The account to list the creatives from. Specify \"-\" to list all creatives the current user has access to."
                }
              }
            },
            "create": {
              "response": {
                "$ref": "Creative"
              },
              "description": "Creates a creative.",
              "id": "adexchangebuyer2.accounts.creatives.create",
              "parameters": {
                "duplicateIdMode": {
                  "enum": [
                    "NO_DUPLICATES",
                    "FORCE_ENABLE_DUPLICATE_IDS"
                  ],
                  "enumDescriptions": [
                    "Recommended. This means that an ID will be unique to a single creative. Multiple creatives will not share an ID.",
                    "Not recommended. Using this option will allow multiple creatives to share the same ID. Get and Update requests will not be possible for any ID that has more than one creative associated. (List will still function.) This is only intended for backwards compatibility in cases where a single ID is already shared by multiple creatives from previous APIs."
                  ],
                  "location": "query",
                  "description": "Indicates if multiple creatives can share an ID or not. Default is NO_DUPLICATES (one ID per creative).",
                  "type": "string"
                },
                "accountId": {
                  "description": "The account that this creative belongs to. Can be used to filter the response of the creatives.list method.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "path": "v2beta1/accounts/{accountId}/creatives",
              "parameterOrder": [
                "accountId"
              ],
              "flatPath": "v2beta1/accounts/{accountId}/creatives",
              "request": {
                "$ref": "Creative"
              },
              "httpMethod": "POST"
            },
            "get": {
              "description": "Gets a creative.",
              "response": {
                "$ref": "Creative"
              },
              "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}",
              "scopes": [
[...]
