{
  "title": "Ad Exchange Buyer API II",
  "ownerName": "Google",
  "id": "adexchangebuyer2:v2beta1",
  "documentationLink": "https://developers.google.com/authorized-buyers/apis/reference/rest/",
  "canonicalName": "AdExchangeBuyerII",
  "basePath": "",
  "name": "adexchangebuyer2",
  "discoveryVersion": "v1",
  "baseUrl": "https://adexchangebuyer.googleapis.com/",
  "protocol": "rest",
  "rootUrl": "https://adexchangebuyer.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adexchange.buyer": {
          "description": "Manage your Ad Exchange buyer account configuration"
        }
      }
    }
  },
  "parameters": {
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "bidders": {
      "resources": {
        "accounts": {
          "resources": {
            "filterSets": {
              "resources": {
                "filteredBids": {
                  "resources": {
                    "creatives": {
                      "methods": {
                        "list": {
                          "description": "List all creatives associated with a specific reason for which bids were filtered, with the number of bids filtered for each creative.",
                          "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/filteredBids/{creativeStatusId}/creatives",
                          "httpMethod": "GET",
                          "parameters": {
                            "pageToken": {
                              "type": "string",
                              "description": "A token identifying a page of results the server should return. Typically, this is the value of ListCreativeStatusBreakdownByCreativeResponse.nextPageToken returned from the previous call to the filteredBids.creatives.list method.",
                              "location": "query"
                            },
                            "pageSize": {
                              "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                              "type": "integer",
                              "format": "int32",
                              "location": "query"
                            },
                            "creativeStatusId": {
                              "type": "integer",
                              "required": true,
                              "format": "int32",
                              "description": "The ID of the creative status for which to retrieve a breakdown by creative. See [creative-status-codes](https://developers.google.com/authorized-buyers/rtb/downloads/creative-status-codes).",
                              "location": "path"
                            },
                            "filterSetName": {
                              "type": "string",
                              "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                              "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                              "location": "path",
                              "required": true
                            }
                          },
                          "response": {
                            "$ref": "ListCreativeStatusBreakdownByCreativeResponse"
                          },
                          "path": "v2beta1/{+filterSetName}/filteredBids/{creativeStatusId}/creatives",
                          "parameterOrder": [
                            "filterSetName",
                            "creativeStatusId"
                          ],
                          "id": "adexchangebuyer2.bidders.accounts.filterSets.filteredBids.creatives.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/adexchange.buyer"
                          ]
                        }
                      }
                    },
                    "details": {
                      "methods": {
                        "list": {
                          "parameters": {
                            "pageSize": {
                              "type": "integer",
                              "format": "int32",
                              "location": "query",
                              "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default."
                            },
                            "filterSetName": {
                              "type": "string",
                              "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                              "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                              "location": "path",
                              "required": true
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "A token identifying a page of results the server should return. Typically, this is the value of ListCreativeStatusBreakdownByDetailResponse.nextPageToken returned from the previous call to the filteredBids.details.list method."
                            },
                            "creativeStatusId": {
                              "description": "The ID of the creative status for which to retrieve a breakdown by detail. See [creative-status-codes](https://developers.google.com/authorized-buyers/rtb/downloads/creative-status-codes). Details are only available for statuses 10, 14, 15, 17, 18, 19, 86, and 87.",
                              "required": true,
                              "format": "int32",
                              "type": "integer",
                              "location": "path"
                            }
                          },
                          "path": "v2beta1/{+filterSetName}/filteredBids/{creativeStatusId}/details",
                          "id": "adexchangebuyer2.bidders.accounts.filterSets.filteredBids.details.list",
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "ListCreativeStatusBreakdownByDetailResponse"
                          },
                          "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/filteredBids/{creativeStatusId}/details",
                          "scopes": [
                            "https://www.googleapis.com/auth/adexchange.buyer"
                          ],
                          "parameterOrder": [
                            "filterSetName",
                            "creativeStatusId"
                          ],
                          "description": "List all details associated with a specific reason for which bids were filtered, with the number of bids filtered for each detail."
                        }
                      }
                    }
                  },
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListFilteredBidsResponse"
                      },
                      "id": "adexchangebuyer2.bidders.accounts.filterSets.filteredBids.list",
                      "parameterOrder": [
                        "filterSetName"
                      ],
                      "httpMethod": "GET",
                      "path": "v2beta1/{+filterSetName}/filteredBids",
                      "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/filteredBids",
                      "description": "List all reasons for which bids were filtered, with the number of bids filtered for each reason.",
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ],
                      "parameters": {
                        "pageSize": {
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListFilteredBidsResponse.nextPageToken returned from the previous call to the filteredBids.list method.",
                          "type": "string",
                          "location": "query"
                        },
                        "filterSetName": {
                          "type": "string",
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      }
                    }
                  }
                },
                "losingBids": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/losingBids",
                      "parameters": {
                        "pageToken": {
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListLosingBidsResponse.nextPageToken returned from the previous call to the losingBids.list method.",
                          "type": "string",
                          "location": "query"
                        },
                        "filterSetName": {
                          "type": "string",
                          "required": true,
                          "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                          "location": "path",
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`"
                        },
                        "pageSize": {
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ],
                      "id": "adexchangebuyer2.bidders.accounts.filterSets.losingBids.list",
                      "response": {
                        "$ref": "ListLosingBidsResponse"
                      },
                      "path": "v2beta1/{+filterSetName}/losingBids",
                      "parameterOrder": [
                        "filterSetName"
                      ],
                      "description": "List all reasons for which bids lost in the auction, with the number of bids that lost for each reason."
                    }
                  }
                },
                "bidMetrics": {
                  "methods": {
                    "list": {
                      "path": "v2beta1/{+filterSetName}/bidMetrics",
                      "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/bidMetrics",
                      "parameterOrder": [
                        "filterSetName"
                      ],
                      "parameters": {
                        "filterSetName": {
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "required": true,
                          "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                          "type": "string",
                          "location": "path"
                        },
                        "pageSize": {
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBidMetricsResponse.nextPageToken returned from the previous call to the bidMetrics.list method."
                        }
                      },
                      "response": {
                        "$ref": "ListBidMetricsResponse"
                      },
                      "httpMethod": "GET",
                      "description": "Lists all metrics that are measured in terms of number of bids.",
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ],
                      "id": "adexchangebuyer2.bidders.accounts.filterSets.bidMetrics.list"
                    }
                  }
                },
                "impressionMetrics": {
                  "methods": {
                    "list": {
                      "description": "Lists all metrics that are measured in terms of number of impressions.",
                      "httpMethod": "GET",
                      "path": "v2beta1/{+filterSetName}/impressionMetrics",
                      "id": "adexchangebuyer2.bidders.accounts.filterSets.impressionMetrics.list",
                      "parameters": {
                        "pageToken": {
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListImpressionMetricsResponse.nextPageToken returned from the previous call to the impressionMetrics.list method.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "filterSetName": {
                          "type": "string",
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "filterSetName"
                      ],
                      "response": {
                        "$ref": "ListImpressionMetricsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ],
                      "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/impressionMetrics"
                    }
                  }
                },
                "nonBillableWinningBids": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListNonBillableWinningBidsResponse"
                      },
                      "id": "adexchangebuyer2.bidders.accounts.filterSets.nonBillableWinningBids.list",
                      "path": "v2beta1/{+filterSetName}/nonBillableWinningBids",
                      "parameterOrder": [
                        "filterSetName"
                      ],
                      "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/nonBillableWinningBids",
                      "httpMethod": "GET",
                      "parameters": {
                        "filterSetName": {
                          "type": "string",
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "required": true,
                          "location": "path",
                          "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default."
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListNonBillableWinningBidsResponse.nextPageToken returned from the previous call to the nonBillableWinningBids.list method.",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ],
                      "description": "List all reasons for which winning bids were not billable, with the number of bids not billed for each reason."
                    }
                  }
                },
                "filteredBidRequests": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "filterSetName"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/filteredBidRequests",
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ],
                      "description": "List all reasons that caused a bid request not to be sent for an impression, with the number of bid requests not sent for each reason.",
                      "response": {
                        "$ref": "ListFilteredBidRequestsResponse"
                      },
                      "id": "adexchangebuyer2.bidders.accounts.filterSets.filteredBidRequests.list",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default."
                        },
                        "pageToken": {
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListFilteredBidRequestsResponse.nextPageToken returned from the previous call to the filteredBidRequests.list method.",
                          "location": "query",
                          "type": "string"
                        },
                        "filterSetName": {
                          "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "location": "path"
                        }
                      },
                      "path": "v2beta1/{+filterSetName}/filteredBidRequests"
                    }
                  }
                },
                "bidResponseErrors": {
                  "methods": {
                    "list": {
                      "id": "adexchangebuyer2.bidders.accounts.filterSets.bidResponseErrors.list",
                      "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/bidResponseErrors",
                      "path": "v2beta1/{+filterSetName}/bidResponseErrors",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageSize": {
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBidResponseErrorsResponse.nextPageToken returned from the previous call to the bidResponseErrors.list method."
                        },
                        "filterSetName": {
                          "required": true,
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "filterSetName"
                      ],
                      "response": {
                        "$ref": "ListBidResponseErrorsResponse"
                      },
                      "description": "List all errors that occurred in bid responses, with the number of bid responses affected for each reason.",
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ]
                    }
                  }
                },
                "bidResponsesWithoutBids": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListBidResponsesWithoutBidsResponse"
                      },
                      "description": "List all reasons for which bid responses were considered to have no applicable bids, with the number of bid responses affected for each reason.",
                      "id": "adexchangebuyer2.bidders.accounts.filterSets.bidResponsesWithoutBids.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ],
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "filterSetName"
                      ],
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBidResponsesWithoutBidsResponse.nextPageToken returned from the previous call to the bidResponsesWithoutBids.list method."
                        },
                        "filterSetName": {
                          "required": true,
                          "type": "string",
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "location": "path",
                          "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default."
                        }
                      },
                      "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/bidResponsesWithoutBids",
                      "path": "v2beta1/{+filterSetName}/bidResponsesWithoutBids"
                    }
                  }
                }
              },
              "methods": {
                "create": {
                  "httpMethod": "POST",
                  "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets",
                  "request": {
                    "$ref": "FilterSet"
                  },
                  "path": "v2beta1/{+ownerName}/filterSets",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "id": "adexchangebuyer2.bidders.accounts.filterSets.create",
                  "description": "Creates the specified filter set for the account with the given account ID.",
                  "parameterOrder": [
                    "ownerName"
                  ],
                  "parameters": {
                    "ownerName": {
                      "type": "string",
                      "required": true,
                      "pattern": "^bidders/[^/]+/accounts/[^/]+$",
                      "description": "Name of the owner (bidder or account) of the filter set to be created. For example: - For a bidder-level filter set for bidder 123: `bidders/123` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456`",
                      "location": "path"
                    },
                    "isTransient": {
                      "description": "Whether the filter set is transient, or should be persisted indefinitely. By default, filter sets are not transient. If transient, it will be available for at least 1 hour after creation.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "FilterSet"
                  }
                },
                "list": {
                  "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListFilterSetsResponse"
                  },
                  "parameterOrder": [
                    "ownerName"
                  ],
                  "id": "adexchangebuyer2.bidders.accounts.filterSets.list",
                  "path": "v2beta1/{+ownerName}/filterSets",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListFilterSetsResponse.nextPageToken returned from the previous call to the accounts.filterSets.list method.",
                      "type": "string"
                    },
                    "ownerName": {
                      "pattern": "^bidders/[^/]+/accounts/[^/]+$",
                      "description": "Name of the owner (bidder or account) of the filter sets to be listed. For example: - For a bidder-level filter set for bidder 123: `bidders/123` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456`",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Lists all filter sets for the account with the given account ID.",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ]
                },
                "delete": {
                  "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "id": "adexchangebuyer2.bidders.accounts.filterSets.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "description": "Deletes the requested filter set from the account with the given account ID.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Full name of the resource to delete. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "location": "path",
                      "required": true,
                      "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$"
                    }
                  },
                  "path": "v2beta1/{+name}"
                },
                "get": {
                  "httpMethod": "GET",
                  "id": "adexchangebuyer2.bidders.accounts.filterSets.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Full name of the resource being requested. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "type": "string",
                      "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Retrieves the requested filter set for the account with the given account ID.",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "response": {
                    "$ref": "FilterSet"
                  },
                  "path": "v2beta1/{+name}",
                  "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}"
                }
              }
            }
          }
        },
        "filterSets": {
          "methods": {
            "delete": {
              "id": "adexchangebuyer2.bidders.filterSets.delete",
              "path": "v2beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "description": "Deletes the requested filter set from the account with the given account ID.",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                  "required": true,
                  "description": "Full name of the resource to delete. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "DELETE",
              "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "description": "Lists all filter sets for the account with the given account ID.",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListFilterSetsResponse"
              },
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListFilterSetsResponse.nextPageToken returned from the previous call to the accounts.filterSets.list method."
                },
                "pageSize": {
                  "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "ownerName": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Name of the owner (bidder or account) of the filter sets to be listed. For example: - For a bidder-level filter set for bidder 123: `bidders/123` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456`",
                  "pattern": "^bidders/[^/]+$"
                }
              },
              "path": "v2beta1/{+ownerName}/filterSets",
              "id": "adexchangebuyer2.bidders.filterSets.list",
              "flatPath": "v2beta1/bidders/{biddersId}/filterSets",
              "parameterOrder": [
                "ownerName"
              ]
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "response": {
                "$ref": "FilterSet"
              },
              "path": "v2beta1/{+name}",
              "id": "adexchangebuyer2.bidders.filterSets.get",
              "parameters": {
                "name": {
                  "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                  "required": true,
                  "description": "Full name of the resource being requested. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}",
              "description": "Retrieves the requested filter set for the account with the given account ID.",
              "httpMethod": "GET"
            },
            "create": {
              "description": "Creates the specified filter set for the account with the given account ID.",
              "parameterOrder": [
                "ownerName"
              ],
              "path": "v2beta1/{+ownerName}/filterSets",
              "httpMethod": "POST",
              "request": {
                "$ref": "FilterSet"
              },
              "parameters": {
                "isTransient": {
                  "type": "boolean",
                  "description": "Whether the filter set is transient, or should be persisted indefinitely. By default, filter sets are not transient. If transient, it will be available for at least 1 hour after creation.",
                  "location": "query"
                },
                "ownerName": {
                  "type": "string",
                  "required": true,
                  "pattern": "^bidders/[^/]+$",
                  "description": "Name of the owner (bidder or account) of the filter set to be created. For example: - For a bidder-level filter set for bidder 123: `bidders/123` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456`",
                  "location": "path"
                }
              },
              "id": "adexchangebuyer2.bidders.filterSets.create",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "response": {
                "$ref": "FilterSet"
              },
              "flatPath": "v2beta1/bidders/{biddersId}/filterSets"
            }
          },
          "resources": {
            "impressionMetrics": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListImpressionMetricsResponse"
                  },
                  "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}/impressionMetrics",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "description": "Lists all metrics that are measured in terms of number of impressions.",
                  "id": "adexchangebuyer2.bidders.filterSets.impressionMetrics.list",
                  "path": "v2beta1/{+filterSetName}/impressionMetrics",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "parameters": {
                    "pageSize": {
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListImpressionMetricsResponse.nextPageToken returned from the previous call to the impressionMetrics.list method.",
                      "type": "string"
                    },
                    "filterSetName": {
                      "required": true,
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  }
                }
              }
            },
            "bidMetrics": {
              "methods": {
                "list": {
                  "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}/bidMetrics",
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "response": {
                    "$ref": "ListBidMetricsResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBidMetricsResponse.nextPageToken returned from the previous call to the bidMetrics.list method.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default."
                    },
                    "filterSetName": {
                      "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                      "location": "path",
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Lists all metrics that are measured in terms of number of bids.",
                  "path": "v2beta1/{+filterSetName}/bidMetrics",
                  "id": "adexchangebuyer2.bidders.filterSets.bidMetrics.list"
                }
              }
            },
            "bidResponseErrors": {
              "methods": {
                "list": {
                  "id": "adexchangebuyer2.bidders.filterSets.bidResponseErrors.list",
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}/bidResponseErrors",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                      "format": "int32"
                    },
                    "filterSetName": {
                      "required": true,
                      "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBidResponseErrorsResponse.nextPageToken returned from the previous call to the bidResponseErrors.list method."
                    }
                  },
                  "response": {
                    "$ref": "ListBidResponseErrorsResponse"
                  },
                  "description": "List all errors that occurred in bid responses, with the number of bid responses affected for each reason.",
                  "httpMethod": "GET",
                  "path": "v2beta1/{+filterSetName}/bidResponseErrors"
                }
              }
            },
            "filteredBids": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListFilteredBidsResponse"
                  },
                  "parameters": {
                    "filterSetName": {
                      "required": true,
                      "location": "path",
                      "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                      "type": "string",
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListFilteredBidsResponse.nextPageToken returned from the previous call to the filteredBids.list method.",
                      "location": "query"
                    }
                  },
                  "id": "adexchangebuyer2.bidders.filterSets.filteredBids.list",
                  "path": "v2beta1/{+filterSetName}/filteredBids",
                  "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}/filteredBids",
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "httpMethod": "GET",
                  "description": "List all reasons for which bids were filtered, with the number of bids filtered for each reason."
                }
              },
              "resources": {
                "details": {
                  "methods": {
                    "list": {
                      "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}/filteredBids/{creativeStatusId}/details",
                      "parameterOrder": [
                        "filterSetName",
                        "creativeStatusId"
                      ],
                      "path": "v2beta1/{+filterSetName}/filteredBids/{creativeStatusId}/details",
                      "id": "adexchangebuyer2.bidders.filterSets.filteredBids.details.list",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListCreativeStatusBreakdownByDetailResponse.nextPageToken returned from the previous call to the filteredBids.details.list method."
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default."
                        },
                        "filterSetName": {
                          "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                          "type": "string",
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "required": true,
                          "location": "path"
                        },
                        "creativeStatusId": {
                          "description": "The ID of the creative status for which to retrieve a breakdown by detail. See [creative-status-codes](https://developers.google.com/authorized-buyers/rtb/downloads/creative-status-codes). Details are only available for statuses 10, 14, 15, 17, 18, 19, 86, and 87.",
                          "location": "path",
                          "type": "integer",
                          "format": "int32",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ],
                      "response": {
                        "$ref": "ListCreativeStatusBreakdownByDetailResponse"
                      },
                      "httpMethod": "GET",
                      "description": "List all details associated with a specific reason for which bids were filtered, with the number of bids filtered for each detail."
                    }
                  }
                },
                "creatives": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ],
                      "parameterOrder": [
                        "filterSetName",
                        "creativeStatusId"
                      ],
                      "description": "List all creatives associated with a specific reason for which bids were filtered, with the number of bids filtered for each creative.",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListCreativeStatusBreakdownByCreativeResponse.nextPageToken returned from the previous call to the filteredBids.creatives.list method."
                        },
                        "creativeStatusId": {
                          "location": "path",
                          "format": "int32",
                          "description": "The ID of the creative status for which to retrieve a breakdown by creative. See [creative-status-codes](https://developers.google.com/authorized-buyers/rtb/downloads/creative-status-codes).",
                          "type": "integer",
                          "required": true
                        },
                        "filterSetName": {
                          "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "required": true
                        },
                        "pageSize": {
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "httpMethod": "GET",
                      "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}/filteredBids/{creativeStatusId}/creatives",
                      "response": {
                        "$ref": "ListCreativeStatusBreakdownByCreativeResponse"
                      },
                      "path": "v2beta1/{+filterSetName}/filteredBids/{creativeStatusId}/creatives",
                      "id": "adexchangebuyer2.bidders.filterSets.filteredBids.creatives.list"
                    }
                  }
                }
              }
            },
            "bidResponsesWithoutBids": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}/bidResponsesWithoutBids",
                  "id": "adexchangebuyer2.bidders.filterSets.bidResponsesWithoutBids.list",
                  "parameters": {
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBidResponsesWithoutBidsResponse.nextPageToken returned from the previous call to the bidResponsesWithoutBids.list method.",
                      "type": "string",
                      "location": "query"
                    },
                    "filterSetName": {
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^bidders/[^/]+/filterSets/[^/]+$"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default."
                    }
                  },
                  "path": "v2beta1/{+filterSetName}/bidResponsesWithoutBids",
                  "description": "List all reasons for which bid responses were considered to have no applicable bids, with the number of bid responses affected for each reason.",
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListBidResponsesWithoutBidsResponse"
                  }
                }
              }
            },
            "nonBillableWinningBids": {
              "methods": {
                "list": {
                  "id": "adexchangebuyer2.bidders.filterSets.nonBillableWinningBids.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "description": "List all reasons for which winning bids were not billable, with the number of bids not billed for each reason.",
                  "path": "v2beta1/{+filterSetName}/nonBillableWinningBids",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListNonBillableWinningBidsResponse"
                  },
                  "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}/nonBillableWinningBids",
                  "parameters": {
                    "filterSetName": {
                      "location": "path",
                      "type": "string",
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListNonBillableWinningBidsResponse.nextPageToken returned from the previous call to the nonBillableWinningBids.list method."
                    },
                    "pageSize": {
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  }
                }
              }
            },
            "losingBids": {
              "methods": {
                "list": {
                  "path": "v2beta1/{+filterSetName}/losingBids",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "response": {
                    "$ref": "ListLosingBidsResponse"
                  },
                  "description": "List all reasons for which bids lost in the auction, with the number of bids that lost for each reason.",
                  "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}/losingBids",
                  "id": "adexchangebuyer2.bidders.filterSets.losingBids.list",
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "parameters": {
                    "pageSize": {
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListLosingBidsResponse.nextPageToken returned from the previous call to the losingBids.list method.",
                      "location": "query"
                    },
                    "filterSetName": {
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^bidders/[^/]+/filterSets/[^/]+$"
                    }
                  },
                  "httpMethod": "GET"
                }
              }
            },
            "filteredBidRequests": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListFilteredBidRequestsResponse"
                  },
                  "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}/filteredBidRequests",
                  "description": "List all reasons that caused a bid request not to be sent for an impression, with the number of bid requests not sent for each reason.",
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default."
                    },
                    "filterSetName": {
                      "location": "path",
                      "required": true,
                      "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListFilteredBidRequestsResponse.nextPageToken returned from the previous call to the filteredBidRequests.list method.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "id": "adexchangebuyer2.bidders.filterSets.filteredBidRequests.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "path": "v2beta1/{+filterSetName}/filteredBidRequests"
                }
              }
            }
          }
        }
      }
    },
    "accounts": {
      "resources": {
        "clients": {
          "methods": {
            "list": {
              "parameterOrder": [
                "accountId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "flatPath": "v2beta1/accounts/{accountId}/clients",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "Requested page size. The server may return fewer clients than requested. If unspecified, the server will pick an appropriate default.",
                  "type": "integer",
                  "location": "query"
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Unique numerical account ID of the sponsor buyer to list the clients for.",
                  "format": "int64"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientsResponse.nextPageToken returned from the previous call to the accounts.clients.list method.",
                  "type": "string"
                },
                "partnerClientId": {
                  "type": "string",
                  "description": "Optional unique identifier (from the standpoint of an Ad Exchange sponsor buyer partner) of the client to return. If specified, at most one client will be returned in the response.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "ListClientsResponse"
              },
              "id": "adexchangebuyer2.accounts.clients.list",
              "description": "Lists all the clients for the current sponsor buyer.",
              "path": "v2beta1/accounts/{accountId}/clients"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}",
              "id": "adexchangebuyer2.accounts.clients.get",
              "parameterOrder": [
                "accountId",
                "clientAccountId"
              ],
              "response": {
                "$ref": "Client"
              },
              "parameters": {
                "clientAccountId": {
                  "description": "Numerical account ID of the client buyer to retrieve. (required)",
                  "location": "path",
                  "type": "string",
                  "format": "int64",
                  "required": true
                },
                "accountId": {
                  "description": "Numerical account ID of the client's sponsor buyer. (required)",
                  "format": "int64",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}",
              "description": "Gets a client buyer with a given client account ID.",
              "httpMethod": "GET"
            },
            "update": {
              "httpMethod": "PUT",
              "request": {
                "$ref": "Client"
              },
              "id": "adexchangebuyer2.accounts.clients.update",
              "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}",
              "parameterOrder": [
                "accountId",
                "clientAccountId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "response": {
                "$ref": "Client"
              },
              "parameters": {
                "accountId": {
                  "description": "Unique numerical account ID for the buyer of which the client buyer is a customer; the sponsor buyer to update a client for. (required)",
                  "format": "int64",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "clientAccountId": {
                  "description": "Unique numerical account ID of the client to update. (required)",
                  "location": "path",
                  "required": true,
                  "format": "int64",
                  "type": "string"
                }
              },
              "description": "Updates an existing client buyer.",
              "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}"
            },
            "create": {
              "id": "adexchangebuyer2.accounts.clients.create",
              "response": {
                "$ref": "Client"
              },
              "request": {
                "$ref": "Client"
              },
              "parameters": {
                "accountId": {
                  "location": "path",
                  "description": "Unique numerical account ID for the buyer of which the client buyer is a customer; the sponsor buyer to create a client for. (required)",
                  "format": "int64",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "accountId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "flatPath": "v2beta1/accounts/{accountId}/clients",
              "description": "Creates a new client buyer.",
              "path": "v2beta1/accounts/{accountId}/clients",
              "httpMethod": "POST"
            }
          },
          "resources": {
            "users": {
              "methods": {
                "get": {
                  "id": "adexchangebuyer2.accounts.clients.users.get",
                  "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users/{userId}",
                  "description": "Retrieves an existing client user.",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "httpMethod": "GET",
                  "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users/{userId}",
                  "parameterOrder": [
                    "accountId",
                    "clientAccountId",
                    "userId"
                  ],
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "parameters": {
                    "accountId": {
                      "description": "Numerical account ID of the client's sponsor buyer. (required)",
                      "required": true,
                      "format": "int64",
                      "type": "string",
                      "location": "path"
                    },
                    "clientAccountId": {
                      "type": "string",
                      "location": "path",
                      "format": "int64",
                      "required": true,
                      "description": "Numerical account ID of the client buyer that the user to be retrieved is associated with. (required)"
                    },
                    "userId": {
                      "type": "string",
                      "required": true,
                      "format": "int64",
                      "description": "Numerical identifier of the user to retrieve. (required)",
                      "location": "path"
                    }
                  }
                },
                "update": {
                  "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users/{userId}",
                  "id": "adexchangebuyer2.accounts.clients.users.update",
                  "description": "Updates an existing client user. Only the user status can be changed on update.",
                  "parameters": {
                    "clientAccountId": {
                      "type": "string",
                      "location": "path",
                      "description": "Numerical account ID of the client buyer that the user to be retrieved is associated with. (required)",
                      "format": "int64",
                      "required": true
                    },
                    "accountId": {
                      "type": "string",
                      "description": "Numerical account ID of the client's sponsor buyer. (required)",
                      "required": true,
                      "location": "path",
                      "format": "int64"
                    },
                    "userId": {
                      "required": true,
                      "type": "string",
                      "format": "int64",
                      "location": "path",
                      "description": "Numerical identifier of the user to retrieve. (required)"
                    }
                  },
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users/{userId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "clientAccountId",
                    "userId"
                  ],
                  "request": {
                    "$ref": "ClientUser"
                  },
                  "httpMethod": "PUT"
                },
                "list": {
                  "httpMethod": "GET",
                  "id": "adexchangebuyer2.accounts.clients.users.list",
                  "parameters": {
                    "accountId": {
                      "description": "Numerical account ID of the sponsor buyer of the client to list users for. (required)",
                      "format": "int64",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "pageSize": {
                      "description": "Requested page size. The server may return fewer clients than requested. If unspecified, the server will pick an appropriate default.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "clientAccountId": {
                      "description": "The account ID of the client buyer to list users for. (required) You must specify either a string representation of a numerical account identifier or the `-` character to list all the client users for all the clients of a given sponsor buyer.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientUsersResponse.nextPageToken returned from the previous call to the accounts.clients.users.list method."
                    }
                  },
                  "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "description": "Lists all the known client users for a specified sponsor buyer account ID.",
                  "response": {
                    "$ref": "ListClientUsersResponse"
                  },
                  "parameterOrder": [
                    "accountId",
                    "clientAccountId"
                  ],
                  "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users"
                }
              }
            },
            "invitations": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations",
                  "description": "Lists all the client users invitations for a client with a given account ID.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "accountId",
                    "clientAccountId"
                  ],
                  "id": "adexchangebuyer2.accounts.clients.invitations.list",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientUserInvitationsResponse.nextPageToken returned from the previous call to the clients.invitations.list method.",
                      "location": "query"
                    },
                    "clientAccountId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Numerical account ID of the client buyer to list invitations for. (required) You must either specify a string representation of a numerical account identifier or the `-` character to list all the invitations for all the clients of a given sponsor buyer."
                    },
                    "pageSize": {
                      "description": "Requested page size. Server may return fewer clients than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Numerical account ID of the client's sponsor buyer. (required)",
                      "format": "int64"
                    }
                  },
                  "response": {
                    "$ref": "ListClientUserInvitationsResponse"
                  },
                  "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations"
                },
                "get": {
                  "response": {
                    "$ref": "ClientUserInvitation"
                  },
                  "parameters": {
                    "clientAccountId": {
                      "type": "string",
                      "location": "path",
                      "description": "Numerical account ID of the client buyer that the user invitation to be retrieved is associated with. (required)",
                      "format": "int64",
                      "required": true
                    },
                    "invitationId": {
                      "type": "string",
                      "description": "Numerical identifier of the user invitation to retrieve. (required)",
                      "required": true,
                      "format": "int64",
                      "location": "path"
                    },
                    "accountId": {
                      "required": true,
                      "description": "Numerical account ID of the client's sponsor buyer. (required)",
                      "type": "string",
                      "format": "int64",
                      "location": "path"
                    }
                  },
                  "id": "adexchangebuyer2.accounts.clients.invitations.get",
                  "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations/{invitationId}",
                  "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations/{invitationId}",
                  "parameterOrder": [
                    "accountId",
                    "clientAccountId",
                    "invitationId"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "description": "Retrieves an existing client user invitation."
                },
                "create": {
                  "id": "adexchangebuyer2.accounts.clients.invitations.create",
                  "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations",
                  "description": "Creates and sends out an email invitation to access an Ad Exchange client buyer account.",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "request": {
                    "$ref": "ClientUserInvitation"
                  },
                  "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations",
                  "parameters": {
                    "clientAccountId": {
                      "type": "string",
                      "format": "int64",
                      "location": "path",
                      "required": true,
                      "description": "Numerical account ID of the client buyer that the user should be associated with. (required)"
                    },
                    "accountId": {
                      "description": "Numerical account ID of the client's sponsor buyer. (required)",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "format": "int64"
                    }
                  },
                  "response": {
                    "$ref": "ClientUserInvitation"
                  },
                  "parameterOrder": [
                    "accountId",
                    "clientAccountId"
                  ],
                  "httpMethod": "POST"
                }
              }
            }
          }
        },
        "finalizedProposals": {
          "methods": {
            "resume": {
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "flatPath": "v2beta1/accounts/{accountId}/finalizedProposals/{proposalId}:resume",
              "description": "Update given deals to resume serving. This method will set the `DealServingMetadata.DealPauseStatus.has_buyer_paused` bit to false for all listed deals in the request. Currently, this method only applies to PG and PD deals. For PA deals, please call accounts.proposals.resume endpoint. It is a no-op to resume running deals or deals paused by the other party. It is an error to call ResumeProposalDeals for deals which are not part of the proposal of proposal_id or which are not finalized or renegotiating.",
              "id": "adexchangebuyer2.accounts.finalizedProposals.resume",
              "response": {
                "$ref": "Proposal"
              },
              "httpMethod": "POST",
              "path": "v2beta1/accounts/{accountId}/finalizedProposals/{proposalId}:resume",
              "parameters": {
                "accountId": {
                  "required": true,
                  "description": "Account ID of the buyer.",
                  "type": "string",
                  "location": "path"
                },
                "proposalId": {
                  "location": "path",
                  "description": "The proposal_id of the proposal containing the deals.",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "ResumeProposalDealsRequest"
              },
              "parameterOrder": [
                "accountId",
                "proposalId"
              ]
            },
            "list": {
              "id": "adexchangebuyer2.accounts.finalizedProposals.list",
              "parameterOrder": [
                "accountId"
              ],
              "flatPath": "v2beta1/accounts/{accountId}/finalizedProposals",
              "description": "List finalized proposals, regardless if a proposal is being renegotiated. A filter expression (PQL query) may be specified to filter the results. The notes will not be returned.",
              "httpMethod": "GET",
              "path": "v2beta1/accounts/{accountId}/finalizedProposals",
              "parameters": {
                "filter": {
                  "description": "An optional PQL filter query used to query for proposals. Nested repeated fields, such as proposal.deals.targetingCriterion, cannot be filtered.",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The page token as returned from ListProposalsResponse.",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                  "format": "int32"
                },
                "accountId": {
                  "description": "Account ID of the buyer.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "filterSyntax": {
                  "type": "string",
                  "enum": [
                    "FILTER_SYNTAX_UNSPECIFIED",
                    "PQL",
                    "LIST_FILTER"
                  ],
                  "description": "Syntax the filter is written in. Current implementation defaults to PQL but in the future it will be LIST_FILTER.",
                  "enumDescriptions": [
                    "A placeholder for an undefined filter syntax.",
                    "PQL query syntax. Visit https://developers.google.com/ad-manager/api/pqlreference for PQL documentation and examples.",
                    "API list filtering syntax. Read about syntax and usage at https://developers.google.com/authorized-buyers/apis/guides/v2/list-filters."
                  ],
                  "location": "query"
                }
              },
              "response": {
                "$ref": "ListProposalsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            },
            "pause": {
              "flatPath": "v2beta1/accounts/{accountId}/finalizedProposals/{proposalId}:pause",
              "id": "adexchangebuyer2.accounts.finalizedProposals.pause",
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Account ID of the buyer."
                },
                "proposalId": {
                  "location": "path",
                  "description": "The proposal_id of the proposal containing the deals.",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "description": "Update given deals to pause serving. This method will set the `DealServingMetadata.DealPauseStatus.has_buyer_paused` bit to true for all listed deals in the request. Currently, this method only applies to PG and PD deals. For PA deals, please call accounts.proposals.pause endpoint. It is a no-op to pause already-paused deals. It is an error to call PauseProposalDeals for deals which are not part of the proposal of proposal_id or which are not finalized or renegotiating.",
              "response": {
                "$ref": "Proposal"
              },
              "request": {
                "$ref": "PauseProposalDealsRequest"
              },
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "path": "v2beta1/accounts/{accountId}/finalizedProposals/{proposalId}:pause",
              "httpMethod": "POST"
            }
          }
        },
        "creatives": {
          "resources": {
            "dealAssociations": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations",
                  "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "id": "adexchangebuyer2.accounts.creatives.dealAssociations.list",
                  "description": "List all creative-deal associations.",
                  "parameterOrder": [
                    "accountId",
                    "creativeId"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListDealAssociationsResponse.next_page_token returned from the previous call to 'ListDealAssociations' method."
                    },
                    "query": {
                      "type": "string",
                      "description": "An optional query string to filter deal associations. If no filter is specified, all associations will be returned. Supported queries are: - accountId=*account_id_string* - creativeId=*creative_id_string* - dealsId=*deals_id_string* - dealsStatus:{approved, conditionally_approved, disapproved, not_checked} - openAuctionStatus:{approved, conditionally_approved, disapproved, not_checked} Example: 'dealsId=12345 AND dealsStatus:disapproved'",
                      "location": "query"
                    },
                    "accountId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The account to list the associations from. Specify \"-\" to list all creatives the current user has access to."
                    },
                    "creativeId": {
                      "location": "path",
                      "required": true,
                      "description": "The creative ID to list the associations from. Specify \"-\" to list all creatives under the above account.",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Requested page size. Server may return fewer associations than requested. If unspecified, server will pick an appropriate default.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListDealAssociationsResponse"
                  }
                },
                "remove": {
                  "id": "adexchangebuyer2.accounts.creatives.dealAssociations.remove",
                  "description": "Remove the association between a deal and a creative.",
                  "parameterOrder": [
                    "accountId",
                    "creativeId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "httpMethod": "POST",
                  "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations:remove",
                  "parameters": {
                    "accountId": {
                      "type": "string",
                      "location": "path",
                      "description": "The account the creative belongs to.",
                      "required": true
                    },
                    "creativeId": {
                      "description": "The ID of the creative associated with the deal.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "RemoveDealAssociationRequest"
                  },
[...]
