{
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "basePath": "",
  "id": "admin:directory_v1",
  "name": "admin",
  "revision": "20210413",
  "ownerDomain": "google.com",
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "parameters": {
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "description": "Data format for response."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "resources": {
    "schemas": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Schema"
          },
          "description": "Retrieve schema",
          "flatPath": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.userschema",
            "https://www.googleapis.com/auth/admin.directory.userschema.readonly"
          ],
          "httpMethod": "GET",
          "id": "directory.schemas.get",
          "parameterOrder": [
            "customerId",
            "schemaKey"
          ],
          "path": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}",
          "parameters": {
            "schemaKey": {
              "required": true,
              "type": "string",
              "description": "Name or immutable ID of the schema.",
              "location": "path"
            },
            "customerId": {
              "type": "string",
              "required": true,
              "description": "Immutable ID of the Google Workspace account.",
              "location": "path"
            }
          }
        },
        "delete": {
          "id": "directory.schemas.delete",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.userschema"
          ],
          "parameterOrder": [
            "customerId",
            "schemaKey"
          ],
          "parameters": {
            "customerId": {
              "required": true,
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string",
              "location": "path"
            },
            "schemaKey": {
              "type": "string",
              "description": "Name or immutable ID of the schema.",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}",
          "description": "Delete schema",
          "httpMethod": "DELETE",
          "path": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}"
        },
        "list": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.userschema",
            "https://www.googleapis.com/auth/admin.directory.userschema.readonly"
          ],
          "response": {
            "$ref": "Schemas"
          },
          "path": "admin/directory/v1/customer/{customerId}/schemas",
          "flatPath": "admin/directory/v1/customer/{customerId}/schemas",
          "parameterOrder": [
            "customerId"
          ],
          "id": "directory.schemas.list",
          "description": "Retrieve all schemas for a customer",
          "parameters": {
            "customerId": {
              "description": "Immutable ID of the Google Workspace account.",
              "location": "path",
              "type": "string",
              "required": true
            }
          }
        },
        "update": {
          "httpMethod": "PUT",
          "parameterOrder": [
            "customerId",
            "schemaKey"
          ],
          "request": {
            "$ref": "Schema"
          },
          "id": "directory.schemas.update",
          "response": {
            "$ref": "Schema"
          },
          "path": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}",
          "flatPath": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.userschema"
          ],
          "parameters": {
            "schemaKey": {
              "type": "string",
              "description": "Name or immutable ID of the schema.",
              "location": "path",
              "required": true
            },
            "customerId": {
              "description": "Immutable ID of the Google Workspace account.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Update schema"
        },
        "insert": {
          "parameters": {
            "customerId": {
              "location": "path",
              "type": "string",
              "description": "Immutable ID of the Google Workspace account.",
              "required": true
            }
          },
          "parameterOrder": [
            "customerId"
          ],
          "request": {
            "$ref": "Schema"
          },
          "path": "admin/directory/v1/customer/{customerId}/schemas",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.userschema"
          ],
          "response": {
            "$ref": "Schema"
          },
          "httpMethod": "POST",
          "id": "directory.schemas.insert",
          "flatPath": "admin/directory/v1/customer/{customerId}/schemas",
          "description": "Create schema."
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.userschema"
          ],
          "httpMethod": "PATCH",
          "flatPath": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}",
          "parameterOrder": [
            "customerId",
            "schemaKey"
          ],
          "request": {
            "$ref": "Schema"
          },
          "path": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}",
          "description": "Patch Schema via Apiary Patch Orchestration",
          "parameters": {
            "customerId": {
              "type": "string",
              "description": "Immutable ID of the Google Workspace account.",
              "required": true,
              "location": "path"
            },
            "schemaKey": {
              "location": "path",
              "description": "Name or immutable ID of the schema.",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "Schema"
          },
          "id": "directory.schemas.patch"
        }
      }
    },
    "resources": {
      "resources": {
        "buildings": {
          "methods": {
            "delete": {
              "parameters": {
                "customer": {
                  "type": "string",
                  "location": "path",
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.",
                  "required": true
                },
                "buildingId": {
                  "location": "path",
                  "required": true,
                  "description": "The id of the building to delete.",
                  "type": "string"
                }
              },
              "path": "admin/directory/v1/customer/{customer}/resources/buildings/{buildingId}",
              "description": "Deletes a building.",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ],
              "id": "directory.resources.buildings.delete",
              "parameterOrder": [
                "customer",
                "buildingId"
              ],
              "flatPath": "admin/directory/v1/customer/{customer}/resources/buildings/{buildingId}"
            },
            "get": {
              "response": {
                "$ref": "Building"
              },
              "path": "admin/directory/v1/customer/{customer}/resources/buildings/{buildingId}",
              "parameters": {
                "customer": {
                  "required": true,
                  "type": "string",
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.",
                  "location": "path"
                },
                "buildingId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The unique ID of the building to retrieve."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar",
                "https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly"
              ],
              "description": "Retrieves a building.",
              "id": "directory.resources.buildings.get",
              "flatPath": "admin/directory/v1/customer/{customer}/resources/buildings/{buildingId}",
              "parameterOrder": [
                "customer",
                "buildingId"
              ],
              "httpMethod": "GET"
            },
            "patch": {
              "request": {
                "$ref": "Building"
              },
              "response": {
                "$ref": "Building"
              },
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ],
              "parameterOrder": [
                "customer",
                "buildingId"
              ],
              "path": "admin/directory/v1/customer/{customer}/resources/buildings/{buildingId}",
              "httpMethod": "PATCH",
              "parameters": {
                "customer": {
                  "type": "string",
                  "location": "path",
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.",
                  "required": true
                },
                "buildingId": {
                  "location": "path",
                  "type": "string",
                  "description": "The id of the building to update.",
                  "required": true
                },
                "coordinatesSource": {
                  "enumDescriptions": [
                    "Building.coordinates are set to the coordinates included in the request.",
                    "Building.coordinates are automatically populated based on the postal address.",
                    "Defaults to `RESOLVED_FROM_ADDRESS` if postal address is provided. Otherwise, defaults to `CLIENT_SPECIFIED` if coordinates are provided."
                  ],
                  "type": "string",
                  "description": "Source from which Building.coordinates are derived.",
                  "enum": [
                    "CLIENT_SPECIFIED",
                    "RESOLVED_FROM_ADDRESS",
                    "SOURCE_UNSPECIFIED"
                  ],
                  "default": "SOURCE_UNSPECIFIED",
                  "location": "query"
                }
              },
              "flatPath": "admin/directory/v1/customer/{customer}/resources/buildings/{buildingId}",
              "description": "Patches a building via Apiary Patch Orchestration.",
              "id": "directory.resources.buildings.patch"
            },
            "list": {
              "parameters": {
                "maxResults": {
                  "format": "int32",
                  "maximum": "500",
                  "minimum": "1",
                  "type": "integer",
                  "description": "Maximum number of results to return.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Token to specify the next page in the list.",
                  "type": "string",
                  "location": "query"
                },
                "customer": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID."
                }
              },
              "description": "Retrieves a list of buildings for an account.",
              "flatPath": "admin/directory/v1/customer/{customer}/resources/buildings",
              "id": "directory.resources.buildings.list",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar",
                "https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly"
              ],
              "path": "admin/directory/v1/customer/{customer}/resources/buildings",
              "response": {
                "$ref": "Buildings"
              },
              "parameterOrder": [
                "customer"
              ],
              "httpMethod": "GET"
            },
            "update": {
              "httpMethod": "PUT",
              "description": "Updates a building.",
              "response": {
                "$ref": "Building"
              },
              "flatPath": "admin/directory/v1/customer/{customer}/resources/buildings/{buildingId}",
              "path": "admin/directory/v1/customer/{customer}/resources/buildings/{buildingId}",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ],
              "parameters": {
                "customer": {
                  "required": true,
                  "location": "path",
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.",
                  "type": "string"
                },
                "coordinatesSource": {
                  "description": "Source from which Building.coordinates are derived.",
                  "default": "SOURCE_UNSPECIFIED",
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "CLIENT_SPECIFIED",
                    "RESOLVED_FROM_ADDRESS",
                    "SOURCE_UNSPECIFIED"
                  ],
                  "enumDescriptions": [
                    "Building.coordinates are set to the coordinates included in the request.",
                    "Building.coordinates are automatically populated based on the postal address.",
                    "Defaults to `RESOLVED_FROM_ADDRESS` if postal address is provided. Otherwise, defaults to `CLIENT_SPECIFIED` if coordinates are provided."
                  ]
                },
                "buildingId": {
                  "location": "path",
                  "required": true,
                  "description": "The id of the building to update.",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "Building"
              },
              "id": "directory.resources.buildings.update",
              "parameterOrder": [
                "customer",
                "buildingId"
              ]
            },
            "insert": {
              "request": {
                "$ref": "Building"
              },
              "parameters": {
                "customer": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID."
                },
                "coordinatesSource": {
                  "type": "string",
                  "enum": [
                    "CLIENT_SPECIFIED",
                    "RESOLVED_FROM_ADDRESS",
                    "SOURCE_UNSPECIFIED"
                  ],
                  "enumDescriptions": [
                    "Building.coordinates are set to the coordinates included in the request.",
                    "Building.coordinates are automatically populated based on the postal address.",
                    "Defaults to `RESOLVED_FROM_ADDRESS` if postal address is provided. Otherwise, defaults to `CLIENT_SPECIFIED` if coordinates are provided."
                  ],
                  "default": "SOURCE_UNSPECIFIED",
                  "description": "Source from which Building.coordinates are derived.",
                  "location": "query"
                }
              },
              "flatPath": "admin/directory/v1/customer/{customer}/resources/buildings",
              "path": "admin/directory/v1/customer/{customer}/resources/buildings",
              "httpMethod": "POST",
              "response": {
                "$ref": "Building"
              },
              "parameterOrder": [
                "customer"
              ],
              "description": "Inserts a building.",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ],
              "id": "directory.resources.buildings.insert"
            }
          }
        },
        "features": {
          "methods": {
            "list": {
              "flatPath": "admin/directory/v1/customer/{customer}/resources/features",
              "httpMethod": "GET",
              "parameterOrder": [
                "customer"
              ],
              "path": "admin/directory/v1/customer/{customer}/resources/features",
              "response": {
                "$ref": "Features"
              },
              "id": "directory.resources.features.list",
              "description": "Retrieves a list of features for an account.",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar",
                "https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly"
              ],
              "parameters": {
                "maxResults": {
                  "location": "query",
                  "description": "Maximum number of results to return.",
                  "maximum": "500",
                  "format": "int32",
                  "type": "integer",
                  "minimum": "1"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Token to specify the next page in the list."
                },
                "customer": {
                  "type": "string",
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.",
                  "location": "path",
                  "required": true
                }
              }
            },
            "patch": {
              "response": {
                "$ref": "Feature"
              },
              "id": "directory.resources.features.patch",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Feature"
              },
              "parameterOrder": [
                "customer",
                "featureKey"
              ],
              "flatPath": "admin/directory/v1/customer/{customer}/resources/features/{featureKey}",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ],
              "parameters": {
                "featureKey": {
                  "description": "The unique ID of the feature to update.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "customer": {
                  "location": "path",
                  "required": true,
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.",
                  "type": "string"
                }
              },
              "description": "Patches a feature via Apiary Patch Orchestration.",
              "path": "admin/directory/v1/customer/{customer}/resources/features/{featureKey}"
            },
            "delete": {
              "parameterOrder": [
                "customer",
                "featureKey"
              ],
              "flatPath": "admin/directory/v1/customer/{customer}/resources/features/{featureKey}",
              "path": "admin/directory/v1/customer/{customer}/resources/features/{featureKey}",
              "parameters": {
                "customer": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID."
                },
                "featureKey": {
                  "location": "path",
                  "description": "The unique ID of the feature to delete.",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ],
              "httpMethod": "DELETE",
              "id": "directory.resources.features.delete",
              "description": "Deletes a feature."
            },
            "get": {
              "id": "directory.resources.features.get",
              "path": "admin/directory/v1/customer/{customer}/resources/features/{featureKey}",
              "flatPath": "admin/directory/v1/customer/{customer}/resources/features/{featureKey}",
              "parameterOrder": [
                "customer",
                "featureKey"
              ],
              "response": {
                "$ref": "Feature"
              },
              "description": "Retrieves a feature.",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar",
                "https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly"
              ],
              "parameters": {
                "featureKey": {
                  "description": "The unique ID of the feature to retrieve.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "customer": {
                  "location": "path",
                  "required": true,
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.",
                  "type": "string"
                }
              },
              "httpMethod": "GET"
            },
            "insert": {
              "response": {
                "$ref": "Feature"
              },
              "parameters": {
                "customer": {
                  "type": "string",
                  "location": "path",
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.",
                  "required": true
                }
              },
              "description": "Inserts a feature.",
              "parameterOrder": [
                "customer"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ],
              "flatPath": "admin/directory/v1/customer/{customer}/resources/features",
              "id": "directory.resources.features.insert",
              "request": {
                "$ref": "Feature"
              },
              "path": "admin/directory/v1/customer/{customer}/resources/features"
            },
            "update": {
              "request": {
                "$ref": "Feature"
              },
              "httpMethod": "PUT",
              "path": "admin/directory/v1/customer/{customer}/resources/features/{featureKey}",
              "parameterOrder": [
                "customer",
                "featureKey"
              ],
              "response": {
                "$ref": "Feature"
              },
              "flatPath": "admin/directory/v1/customer/{customer}/resources/features/{featureKey}",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ],
              "parameters": {
                "customer": {
                  "required": true,
                  "location": "path",
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.",
                  "type": "string"
                },
                "featureKey": {
                  "description": "The unique ID of the feature to update.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Updates a feature.",
              "id": "directory.resources.features.update"
            },
            "rename": {
              "path": "admin/directory/v1/customer/{customer}/resources/features/{oldName}/rename",
              "parameters": {
                "customer": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID."
                },
                "oldName": {
                  "location": "path",
                  "description": "The unique ID of the feature to rename.",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ],
              "parameterOrder": [
                "customer",
                "oldName"
              ],
              "httpMethod": "POST",
              "id": "directory.resources.features.rename",
              "request": {
                "$ref": "FeatureRename"
              },
              "flatPath": "admin/directory/v1/customer/{customer}/resources/features/{oldName}/rename",
              "description": "Renames a feature."
            }
          }
        },
        "calendars": {
          "methods": {
            "get": {
              "id": "directory.resources.calendars.get",
              "flatPath": "admin/directory/v1/customer/{customer}/resources/calendars/{calendarResourceId}",
              "path": "admin/directory/v1/customer/{customer}/resources/calendars/{calendarResourceId}",
              "parameterOrder": [
                "customer",
                "calendarResourceId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar",
                "https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly"
              ],
              "parameters": {
                "calendarResourceId": {
                  "type": "string",
                  "location": "path",
                  "description": "The unique ID of the calendar resource to retrieve.",
                  "required": true
                },
                "customer": {
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Retrieves a calendar resource.",
              "response": {
                "$ref": "CalendarResource"
              }
            },
            "delete": {
              "flatPath": "admin/directory/v1/customer/{customer}/resources/calendars/{calendarResourceId}",
              "parameters": {
                "calendarResourceId": {
                  "type": "string",
                  "description": "The unique ID of the calendar resource to delete.",
                  "location": "path",
                  "required": true
                },
                "customer": {
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Deletes a calendar resource.",
              "path": "admin/directory/v1/customer/{customer}/resources/calendars/{calendarResourceId}",
              "id": "directory.resources.calendars.delete",
              "parameterOrder": [
                "customer",
                "calendarResourceId"
              ],
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ]
            },
            "update": {
              "request": {
                "$ref": "CalendarResource"
              },
              "response": {
                "$ref": "CalendarResource"
              },
              "id": "directory.resources.calendars.update",
              "path": "admin/directory/v1/customer/{customer}/resources/calendars/{calendarResourceId}",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ],
              "httpMethod": "PUT",
              "parameterOrder": [
                "customer",
                "calendarResourceId"
              ],
              "parameters": {
                "customer": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID."
                },
                "calendarResourceId": {
                  "description": "The unique ID of the calendar resource to update.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Updates a calendar resource. This method supports patch semantics, meaning you only need to include the fields you wish to update. Fields that are not present in the request will be preserved.",
              "flatPath": "admin/directory/v1/customer/{customer}/resources/calendars/{calendarResourceId}"
            },
            "insert": {
              "path": "admin/directory/v1/customer/{customer}/resources/calendars",
              "description": "Inserts a calendar resource.",
              "id": "directory.resources.calendars.insert",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ],
              "request": {
                "$ref": "CalendarResource"
              },
              "parameterOrder": [
                "customer"
              ],
              "response": {
                "$ref": "CalendarResource"
              },
              "parameters": {
                "customer": {
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "admin/directory/v1/customer/{customer}/resources/calendars",
              "httpMethod": "POST"
            },
            "list": {
              "response": {
                "$ref": "CalendarResources"
              },
              "path": "admin/directory/v1/customer/{customer}/resources/calendars",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar",
                "https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly"
              ],
              "flatPath": "admin/directory/v1/customer/{customer}/resources/calendars",
              "description": "Retrieves a list of calendar resources for an account.",
              "parameterOrder": [
                "customer"
              ],
              "id": "directory.resources.calendars.list",
              "parameters": {
                "maxResults": {
                  "location": "query",
                  "type": "integer",
                  "maximum": "500",
                  "format": "int32",
                  "description": "Maximum number of results to return.",
                  "minimum": "1"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Field(s) to sort results by in either ascending or descending order. Supported fields include `resourceId`, `resourceName`, `capacity`, `buildingId`, and `floorName`. If no order is specified, defaults to ascending. Should be of the form \"field [asc|desc], field [asc|desc], ...\". For example `buildingId, capacity desc` would return results sorted first by `buildingId` in ascending order then by `capacity` in descending order."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Token to specify the next page in the list."
                },
                "query": {
                  "type": "string",
                  "location": "query",
                  "description": "String query used to filter results. Should be of the form \"field operator value\" where field can be any of supported fields and operators can be any of supported operations. Operators include '=' for exact match, '!=' for mismatch and ':' for prefix match or HAS match where applicable. For prefix match, the value should always be followed by a *. Logical operators NOT and AND are supported (in this order of precedence). Supported fields include `generatedResourceName`, `name`, `buildingId`, `floor_name`, `capacity`, `featureInstances.feature.name`, `resourceEmail`, `resourceCategory`. For example `buildingId=US-NYC-9TH AND featureInstances.feature.name:Phone`."
                },
                "customer": {
                  "location": "path",
                  "type": "string",
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.",
                  "required": true
                }
              },
              "httpMethod": "GET"
            },
            "patch": {
              "parameters": {
                "customer": {
                  "location": "path",
                  "type": "string",
                  "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's customer ID.",
                  "required": true
                },
                "calendarResourceId": {
                  "required": true,
                  "location": "path",
                  "description": "The unique ID of the calendar resource to update.",
                  "type": "string"
                }
              },
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
              ],
              "path": "admin/directory/v1/customer/{customer}/resources/calendars/{calendarResourceId}",
              "request": {
                "$ref": "CalendarResource"
              },
              "flatPath": "admin/directory/v1/customer/{customer}/resources/calendars/{calendarResourceId}",
              "parameterOrder": [
                "customer",
                "calendarResourceId"
              ],
              "response": {
                "$ref": "CalendarResource"
              },
              "description": "Patches a calendar resource via Apiary Patch Orchestration.",
              "id": "directory.resources.calendars.patch"
            }
          }
        }
      }
    },
    "groups": {
      "methods": {
        "get": {
          "description": "Retrieves a group's properties.",
          "path": "admin/directory/v1/groups/{groupKey}",
          "response": {
            "$ref": "Group"
          },
          "flatPath": "admin/directory/v1/groups/{groupKey}",
          "httpMethod": "GET",
          "id": "directory.groups.get",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.group.readonly"
          ],
          "parameters": {
            "groupKey": {
              "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "groupKey"
          ]
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameterOrder": [
            "groupKey"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group"
          ],
          "flatPath": "admin/directory/v1/groups/{groupKey}",
          "description": "Deletes a group.",
          "parameters": {
            "groupKey": {
              "type": "string",
              "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
              "required": true,
              "location": "path"
            }
          },
          "id": "directory.groups.delete",
          "path": "admin/directory/v1/groups/{groupKey}"
        },
        "update": {
          "id": "directory.groups.update",
          "description": "Updates a group's properties.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group"
          ],
          "response": {
            "$ref": "Group"
          },
          "parameters": {
            "groupKey": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID."
            }
          },
          "httpMethod": "PUT",
          "flatPath": "admin/directory/v1/groups/{groupKey}",
          "request": {
            "$ref": "Group"
          },
          "parameterOrder": [
            "groupKey"
          ],
          "path": "admin/directory/v1/groups/{groupKey}"
        },
        "list": {
          "response": {
            "$ref": "Groups"
          },
          "description": "Retrieve all groups of a domain or of a user given a userKey (paginated)",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.group.readonly"
          ],
          "flatPath": "admin/directory/v1/groups",
          "id": "directory.groups.list",
          "path": "admin/directory/v1/groups",
          "httpMethod": "GET",
          "parameterOrder": [],
          "parameters": {
            "query": {
              "description": "Query string search. Should be of the form \"\". Complete documentation is at https: //developers.google.com/admin-sdk/directory/v1/guides/search-groups",
              "type": "string",
              "location": "query"
            },
            "sortOrder": {
              "location": "query",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Whether to return results in ascending or descending order. Only of use when orderBy is also used",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            },
            "userKey": {
              "location": "query",
              "type": "string",
              "description": "Email or immutable ID of the user if only those groups are to be listed, the given user is a member of. If it's an ID, it should match with the ID of the user object."
            },
            "maxResults": {
              "type": "integer",
              "default": "200",
              "description": "Maximum number of results to return. Max allowed value is 200.",
              "minimum": "1",
              "location": "query",
              "format": "int32"
            },
            "domain": {
              "description": "The domain name. Use this field to get fields from only one domain. To return all domains for a customer account, use the `customer` query parameter instead.",
              "type": "string",
              "location": "query"
            },
            "customer": {
              "description": "The unique ID for the customer's Google Workspace account. In case of a multi-domain account, to fetch all groups for a customer, fill this field instead of domain. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users](/admin-sdk/directory/v1/reference/users)",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token to specify next page in the list"
            },
            "orderBy": {
              "enumDescriptions": [
                "Email of the group."
              ],
              "enum": [
                "email"
              ],
              "location": "query",
              "type": "string",
              "description": "Column to use for sorting results"
            }
          }
        },
        "patch": {
          "path": "admin/directory/v1/groups/{groupKey}",
          "flatPath": "admin/directory/v1/groups/{groupKey}",
          "id": "directory.groups.patch",
          "description": "Updates a group's properties. This method supports [patch semantics](/admin-sdk/directory/v1/guides/performance#patch).",
          "request": {
            "$ref": "Group"
          },
          "parameterOrder": [
            "groupKey"
          ],
          "response": {
            "$ref": "Group"
          },
          "parameters": {
            "groupKey": {
              "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group"
          ]
        },
        "insert": {
          "response": {
            "$ref": "Group"
          },
          "description": "Creates a group.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group"
          ],
          "flatPath": "admin/directory/v1/groups",
          "parameterOrder": [],
          "parameters": {},
          "id": "directory.groups.insert",
          "request": {
            "$ref": "Group"
          },
          "httpMethod": "POST",
          "path": "admin/directory/v1/groups"
        }
      },
      "resources": {
        "aliases": {
          "methods": {
            "insert": {
              "path": "admin/directory/v1/groups/{groupKey}/aliases",
              "id": "directory.groups.aliases.insert",
              "description": "Adds an alias for the group.",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.group"
              ],
              "response": {
                "$ref": "Alias"
              },
              "httpMethod": "POST",
              "parameters": {
                "groupKey": {
                  "type": "string",
                  "required": true,
                  "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "groupKey"
              ],
              "request": {
                "$ref": "Alias"
              },
              "flatPath": "admin/directory/v1/groups/{groupKey}/aliases"
            },
            "delete": {
              "description": "Removes an alias.",
              "parameters": {
                "groupKey": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID."
                },
                "alias": {
                  "required": true,
                  "description": "The alias to be removed",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.group"
              ],
              "httpMethod": "DELETE",
              "id": "directory.groups.aliases.delete",
              "flatPath": "admin/directory/v1/groups/{groupKey}/aliases/{alias}",
              "parameterOrder": [
                "groupKey",
                "alias"
              ],
              "path": "admin/directory/v1/groups/{groupKey}/aliases/{alias}"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.group",
                "https://www.googleapis.com/auth/admin.directory.group.readonly"
              ],
              "flatPath": "admin/directory/v1/groups/{groupKey}/aliases",
              "parameterOrder": [
                "groupKey"
              ],
              "path": "admin/directory/v1/groups/{groupKey}/aliases",
              "response": {
                "$ref": "Aliases"
              },
              "description": "Lists all aliases for a group.",
              "httpMethod": "GET",
              "id": "directory.groups.aliases.list",
              "parameters": {
                "groupKey": {
                  "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              }
            }
          }
        }
      }
    },
    "customers": {
      "resources": {
        "chrome": {
          "resources": {
            "printers": {
              "methods": {
                "get": {
                  "path": "admin/directory/v1/{+name}",
                  "response": {
                    "$ref": "Printer"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "admin/directory/v1/customers/{customersId}/chrome/printers/{printersId}",
                  "description": "Returns a `Printer` resource (printer's config).",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/admin.chrome.printers",
                    "https://www.googleapis.com/auth/admin.chrome.printers.readonly"
                  ],
                  "id": "admin.customers.chrome.printers.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the printer to retrieve. Format: customers/{customer_id}/chrome/printers/{printer_id}",
                      "required": true,
                      "location": "path",
                      "pattern": "^customers/[^/]+/chrome/printers/[^/]+$"
                    }
                  }
                },
                "listPrinterModels": {
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "A page token, received from a previous call.",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the customer who owns this collection of printers. Format: customers/{customer_id}",
                      "pattern": "^customers/[^/]+$"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "The maximum number of objects to return. The service may return fewer than this value.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Filer to list only models by a given manufacturer in format: \"manufacturer:Brother\". Search syntax is shared between this api and Admin Console printers pages.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListPrinterModelsResponse"
                  },
                  "id": "admin.customers.chrome.printers.listPrinterModels",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "admin/directory/v1/{+parent}/chrome/printers:listPrinterModels",
                  "description": "Lists the supported printer models.",
                  "flatPath": "admin/directory/v1/customers/{customersId}/chrome/printers:listPrinterModels",
                  "scopes": [
                    "https://www.googleapis.com/auth/admin.chrome.printers",
                    "https://www.googleapis.com/auth/admin.chrome.printers.readonly"
                  ]
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^customers/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the customer who owns this collection of printers. Format: customers/{customer_id}"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A page token, received from a previous call.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of objects to return. The service may return fewer than this value."
                    },
                    "filter": {
                      "description": "Search query. Search syntax is shared between this api and Admin Console printers pages.",
                      "type": "string",
                      "location": "query"
                    },
                    "orgUnitId": {
                      "type": "string",
                      "location": "query",
                      "description": "Organization Unit that we want to list the printers for. When org_unit is not present in the request then all printers of the customer are returned (or filtered). When org_unit is present in the request then only printers available to this OU will be returned (owned or inherited). You may see if printer is owned or inherited for this OU by looking at Printer.org_unit_id."
                    }
                  },
                  "id": "admin.customers.chrome.printers.list",
                  "flatPath": "admin/directory/v1/customers/{customersId}/chrome/printers",
                  "path": "admin/directory/v1/{+parent}/chrome/printers",
                  "response": {
                    "$ref": "ListPrintersResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/admin.chrome.printers",
                    "https://www.googleapis.com/auth/admin.chrome.printers.readonly"
                  ],
                  "description": "List printers configs.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET"
                },
                "patch": {
                  "response": {
                    "$ref": "Printer"
                  },
                  "parameters": {
                    "clearMask": {
                      "description": "The list of fields to be cleared. Note, some of the fields are read only and cannot be updated. Values for not specified fields will be patched.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "The list of fields to be updated. Note, some of the fields are read only and cannot be updated. Values for not specified fields will be patched.",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^customers/[^/]+/chrome/printers/[^/]+$",
                      "location": "path",
                      "description": "The resource name of the Printer object, in the format customers/{customer-id}/printers/{printer-id} (During printer creation leave empty)",
                      "type": "string"
                    }
                  },
                  "httpMethod": "PATCH",
                  "path": "admin/directory/v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/admin.chrome.printers"
                  ],
                  "description": "Updates a `Printer` resource.",
                  "request": {
                    "$ref": "Printer"
                  },
                  "flatPath": "admin/directory/v1/customers/{customersId}/chrome/printers/{printersId}",
                  "id": "admin.customers.chrome.printers.patch",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "batchDeletePrinters": {
                  "request": {
                    "$ref": "BatchDeletePrintersRequest"
                  },
                  "id": "admin.customers.chrome.printers.batchDeletePrinters",
                  "httpMethod": "POST",
                  "description": "Deletes printers in batch.",
                  "flatPath": "admin/directory/v1/customers/{customersId}/chrome/printers:batchDeletePrinters",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^customers/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the customer. Format: customers/{customer_id}"
                    }
                  },
                  "path": "admin/directory/v1/{+parent}/chrome/printers:batchDeletePrinters",
                  "scopes": [
                    "https://www.googleapis.com/auth/admin.chrome.printers"
                  ],
                  "response": {
                    "$ref": "BatchDeletePrintersResponse"
                  }
                },
                "batchCreatePrinters": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "BatchCreatePrintersResponse"
                  },
                  "flatPath": "admin/directory/v1/customers/{customersId}/chrome/printers:batchCreatePrinters",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the customer. Format: customers/{customer_id}",
                      "pattern": "^customers/[^/]+$",
                      "type": "string"
                    }
                  },
                  "path": "admin/directory/v1/{+parent}/chrome/printers:batchCreatePrinters",
                  "request": {
                    "$ref": "BatchCreatePrintersRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/admin.chrome.printers"
                  ],
                  "id": "admin.customers.chrome.printers.batchCreatePrinters",
                  "description": "Creates printers under given Organization Unit."
                },
                "create": {
                  "id": "admin.customers.chrome.printers.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^customers/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the customer. Format: customers/{customer_id}"
                    }
                  },
                  "description": "Creates a printer under given Organization Unit.",
                  "flatPath": "admin/directory/v1/customers/{customersId}/chrome/printers",
                  "path": "admin/directory/v1/{+parent}/chrome/printers",
                  "response": {
                    "$ref": "Printer"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/admin.chrome.printers"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Printer"
                  }
                },
                "delete": {
                  "flatPath": "admin/directory/v1/customers/{customersId}/chrome/printers/{printersId}",
                  "description": "Deletes a `Printer`.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/admin.chrome.printers"
                  ],
                  "id": "admin.customers.chrome.printers.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "admin/directory/v1/{+name}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the printer to be updated. Format: customers/{customer_id}/chrome/printers/{printer_id}",
                      "required": true,
                      "pattern": "^customers/[^/]+/chrome/printers/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "methods": {
        "patch": {
          "description": "Patch Customers via Apiary Patch Orchestration",
          "path": "admin/directory/v1/customers/{customerKey}",
          "response": {
            "$ref": "Customer"
          },
          "id": "directory.customers.patch",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.customer"
          ],
          "flatPath": "admin/directory/v1/customers/{customerKey}",
          "parameters": {
            "customerKey": {
              "type": "string",
              "description": "Id of the customer to be updated",
              "required": true,
              "location": "path"
            }
          },
          "request": {
            "$ref": "Customer"
          },
          "parameterOrder": [
            "customerKey"
          ],
          "httpMethod": "PATCH"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.customer"
          ],
          "parameters": {
            "customerKey": {
              "description": "Id of the customer to be updated",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Updates a customer.",
          "response": {
            "$ref": "Customer"
          },
          "id": "directory.customers.update",
          "request": {
            "$ref": "Customer"
          },
          "parameterOrder": [
            "customerKey"
          ],
          "httpMethod": "PUT",
          "path": "admin/directory/v1/customers/{customerKey}",
          "flatPath": "admin/directory/v1/customers/{customerKey}"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.customer",
            "https://www.googleapis.com/auth/admin.directory.customer.readonly"
          ],
          "path": "admin/directory/v1/customers/{customerKey}",
          "response": {
            "$ref": "Customer"
          },
          "httpMethod": "GET",
          "id": "directory.customers.get",
          "parameters": {
            "customerKey": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Id of the customer to be retrieved"
            }
          },
          "description": "Retrieves a customer.",
          "flatPath": "admin/directory/v1/customers/{customerKey}",
          "parameterOrder": [
            "customerKey"
          ]
        }
      }
    },
    "domainAliases": {
      "methods": {
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.domain"
          ],
          "flatPath": "admin/directory/v1/customer/{customer}/domainaliases/{domainAliasName}",
          "path": "admin/directory/v1/customer/{customer}/domainaliases/{domainAliasName}",
          "parameters": {
            "customer": {
              "location": "path",
              "required": true,
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string"
            },
            "domainAliasName": {
              "description": "Name of domain alias to be retrieved.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Deletes a domain Alias of the customer.",
          "id": "directory.domainAliases.delete",
          "parameterOrder": [
            "customer",
            "domainAliasName"
          ],
          "httpMethod": "DELETE"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.domain",
            "https://www.googleapis.com/auth/admin.directory.domain.readonly"
          ],
          "parameterOrder": [
            "customer"
          ],
          "response": {
            "$ref": "DomainAliases"
          },
          "path": "admin/directory/v1/customer/{customer}/domainaliases",
          "httpMethod": "GET",
          "parameters": {
            "customer": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Immutable ID of the Google Workspace account."
            },
            "parentDomainName": {
              "location": "query",
              "description": "Name of the parent domain for which domain aliases are to be fetched.",
              "type": "string"
            }
          },
          "flatPath": "admin/directory/v1/customer/{customer}/domainaliases",
          "description": "Lists the domain aliases of the customer.",
          "id": "directory.domainAliases.list"
        },
        "get": {
          "parameters": {
            "customer": {
              "type": "string",
              "description": "Immutable ID of the Google Workspace account.",
              "location": "path",
              "required": true
            },
            "domainAliasName": {
              "location": "path",
              "description": "Name of domain alias to be retrieved.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "admin/directory/v1/customer/{customer}/domainaliases/{domainAliasName}",
          "path": "admin/directory/v1/customer/{customer}/domainaliases/{domainAliasName}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.domain",
            "https://www.googleapis.com/auth/admin.directory.domain.readonly"
          ],
          "description": "Retrieves a domain alias of the customer.",
          "response": {
            "$ref": "DomainAlias"
          },
          "parameterOrder": [
            "customer",
            "domainAliasName"
          ],
          "id": "directory.domainAliases.get"
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.domain"
          ],
          "parameterOrder": [
            "customer"
          ],
          "path": "admin/directory/v1/customer/{customer}/domainaliases",
          "flatPath": "admin/directory/v1/customer/{customer}/domainaliases",
          "description": "Inserts a domain alias of the customer.",
          "request": {
            "$ref": "DomainAlias"
          },
          "response": {
            "$ref": "DomainAlias"
          },
          "id": "directory.domainAliases.insert",
          "httpMethod": "POST",
          "parameters": {
            "customer": {
              "required": true,
              "location": "path",
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string"
            }
          }
        }
      }
    },
    "mobiledevices": {
      "methods": {
        "list": {
          "parameters": {
            "query": {
              "location": "query",
              "type": "string",
              "description": "Search string in the format given at https://developers.google.com/admin-sdk/directory/v1/search-operators"
            },
            "sortOrder": {
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string",
              "description": "Whether to return results in ascending or descending order. Must be used with the `orderBy` parameter.",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "maxResults": {
              "type": "integer",
              "minimum": "1",
              "description": "Maximum number of results to return. Max allowed value is 100.",
              "format": "int32",
              "location": "query",
              "default": "100",
              "maximum": "100"
            },
            "projection": {
              "enum": [
                "BASIC",
                "FULL"
              ],
              "enumDescriptions": [
                "Includes only the basic metadata fields (e.g., deviceId, model, status, type, and status)",
                "Includes all metadata fields"
              ],
              "location": "query",
              "type": "string",
              "description": "Restrict information returned to a set of selected fields."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Token to specify next page in the list"
            },
            "orderBy": {
              "description": "Device property to use for sorting results.",
              "enum": [
                "deviceId",
                "email",
                "lastSync",
                "model",
                "name",
                "os",
                "status",
                "type"
              ],
              "enumDescriptions": [
                "The serial number for a Google Sync mobile device. For Android devices, this is a software generated unique identifier.",
                "The device owner's email address.",
                "Last policy settings sync date time of the device.",
                "The mobile device's model.",
                "The device owner's user name.",
                "The device's operating system.",
                "The device status.",
                "Type of the device."
              ],
              "location": "query",
              "type": "string"
            },
            "customerId": {
              "type": "string",
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users).",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.mobile",
            "https://www.googleapis.com/auth/admin.directory.device.mobile.action",
            "https://www.googleapis.com/auth/admin.directory.device.mobile.readonly"
          ],
          "description": "Retrieves a paginated list of all mobile devices for an account.",
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/mobile",
          "path": "admin/directory/v1/customer/{customerId}/devices/mobile",
          "parameterOrder": [
            "customerId"
          ],
          "id": "directory.mobiledevices.list",
          "response": {
            "$ref": "MobileDevices"
          },
          "httpMethod": "GET"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.mobile"
          ],
          "path": "admin/directory/v1/customer/{customerId}/devices/mobile/{resourceId}",
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/mobile/{resourceId}",
          "id": "directory.mobiledevices.delete",
          "parameterOrder": [
            "customerId",
            "resourceId"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique ID the API service uses to identify the mobile device.",
              "required": true,
              "type": "string"
            },
            "customerId": {
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users).",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Removes a mobile device."
        },
        "action": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.mobile",
            "https://www.googleapis.com/auth/admin.directory.device.mobile.action"
          ],
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/mobile/{resourceId}/action",
          "path": "admin/directory/v1/customer/{customerId}/devices/mobile/{resourceId}/action",
          "description": "Takes an action that affects a mobile device. For example, remotely wiping a device.",
          "id": "directory.mobiledevices.action",
          "parameters": {
            "customerId": {
              "type": "string",
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users).",
              "required": true,
              "location": "path"
            },
            "resourceId": {
              "location": "path",
              "description": "The unique ID the API service uses to identify the mobile device.",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "MobileDeviceAction"
          },
          "parameterOrder": [
            "customerId",
            "resourceId"
          ]
        },
        "get": {
          "response": {
            "$ref": "MobileDevice"
          },
          "parameterOrder": [
            "customerId",
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique ID the API service uses to identify the mobile device.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "projection": {
              "enum": [
                "BASIC",
                "FULL"
              ],
              "description": "Restrict information returned to a set of selected fields.",
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Includes only the basic metadata fields (e.g., deviceId, model, status, type, and status)",
                "Includes all metadata fields"
              ]
            },
            "customerId": {
              "type": "string",
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users).",
              "location": "path",
              "required": true
            }
          },
          "description": "Retrieves a mobile device's properties.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.mobile",
            "https://www.googleapis.com/auth/admin.directory.device.mobile.action",
            "https://www.googleapis.com/auth/admin.directory.device.mobile.readonly"
          ],
          "id": "directory.mobiledevices.get",
          "path": "admin/directory/v1/customer/{customerId}/devices/mobile/{resourceId}",
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/mobile/{resourceId}",
          "httpMethod": "GET"
        }
      }
    },
    "asps": {
      "methods": {
        "get": {
          "parameters": {
            "userKey": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID."
            },
            "codeId": {
              "description": "The unique ID of the ASP.",
              "location": "path",
              "required": true,
              "type": "integer",
              "format": "int32"
            }
          },
          "path": "admin/directory/v1/users/{userKey}/asps/{codeId}",
          "id": "directory.asps.get",
          "response": {
            "$ref": "Asp"
          },
          "flatPath": "admin/directory/v1/users/{userKey}/asps/{codeId}",
          "description": "Get information about an ASP issued by a user.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user.security"
          ],
          "parameterOrder": [
            "userKey",
            "codeId"
          ],
          "httpMethod": "GET"
        },
        "list": {
          "id": "directory.asps.list",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user.security"
          ],
          "parameterOrder": [
            "userKey"
          ],
          "flatPath": "admin/directory/v1/users/{userKey}/asps",
          "response": {
            "$ref": "Asps"
          },
          "httpMethod": "GET",
          "path": "admin/directory/v1/users/{userKey}/asps",
          "parameters": {
            "userKey": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID."
            }
          },
          "description": "List the ASPs issued by a user."
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user.security"
          ],
          "description": "Delete an ASP issued by a user.",
          "path": "admin/directory/v1/users/{userKey}/asps/{codeId}",
          "parameterOrder": [
            "userKey",
            "codeId"
          ],
          "flatPath": "admin/directory/v1/users/{userKey}/asps/{codeId}",
          "parameters": {
            "codeId": {
              "required": true,
              "type": "integer",
              "location": "path",
              "format": "int32",
              "description": "The unique ID of the ASP to be deleted."
            },
            "userKey": {
              "type": "string",
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
              "location": "path",
              "required": true
            }
          },
          "id": "directory.asps.delete",
          "httpMethod": "DELETE"
        }
      }
    },
    "orgunits": {
      "methods": {
        "update": {
          "description": "Updates an organizational unit.",
          "id": "directory.orgunits.update",
          "request": {
            "$ref": "OrgUnit"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.orgunit"
          ],
          "path": "admin/directory/v1/customer/{customerId}/orgunits/{+orgUnitPath}",
          "response": {
            "$ref": "OrgUnit"
          },
          "parameters": {
            "customerId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users)."
            },
            "allowPlus": {
              "type": "boolean",
              "description": "Parses org unit path without url decode to allow for plus in ou name",
              "location": "query"
            },
            "orgUnitPath": {
              "required": true,
              "location": "path",
              "description": "The full path of the organizational unit or its unique ID.",
              "pattern": "^.*$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "customerId",
            "orgUnitPath"
          ],
          "flatPath": "admin/directory/v1/customer/{customerId}/orgunits/{orgunitsId}",
          "httpMethod": "PUT"
        },
        "patch": {
          "flatPath": "admin/directory/v1/customer/{customerId}/orgunits/{orgunitsId}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.orgunit"
          ],
          "parameterOrder": [
            "customerId",
            "orgUnitPath"
          ],
          "response": {
            "$ref": "OrgUnit"
          },
          "request": {
            "$ref": "OrgUnit"
          },
          "parameters": {
            "orgUnitPath": {
              "required": true,
              "type": "string",
              "description": "The full path of the organizational unit or its unique ID.",
              "pattern": "^.*$",
              "location": "path"
            },
            "allowPlus": {
              "type": "boolean",
              "location": "query",
              "description": "Parses org unit path without url decode to allow for plus in ou name"
            },
            "customerId": {
              "type": "string",
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users).",
              "location": "path",
              "required": true
            }
          },
          "id": "directory.orgunits.patch",
          "httpMethod": "PATCH",
          "path": "admin/directory/v1/customer/{customerId}/orgunits/{+orgUnitPath}",
          "description": "Updates an organizational unit. This method supports [patch semantics](/admin-sdk/directory/v1/guides/performance#patch)"
        },
        "delete": {
          "httpMethod": "DELETE",
          "description": "Removes an organizational unit.",
          "path": "admin/directory/v1/customer/{customerId}/orgunits/{+orgUnitPath}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.orgunit"
          ],
          "parameters": {
            "orgUnitPath": {
              "type": "string",
              "location": "path",
              "pattern": "^.*$",
              "description": "The full path of the organizational unit or its unique ID.",
              "required": true
            },
            "customerId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users)."
            },
            "allowPlus": {
              "type": "boolean",
              "location": "query",
              "description": "Parses org unit path without url decode to allow for plus in ou name"
            }
          },
          "parameterOrder": [
            "customerId",
            "orgUnitPath"
          ],
          "flatPath": "admin/directory/v1/customer/{customerId}/orgunits/{orgunitsId}",
          "id": "directory.orgunits.delete"
        },
        "insert": {
          "response": {
            "$ref": "OrgUnit"
          },
          "httpMethod": "POST",
          "description": "Adds an organizational unit.",
          "parameterOrder": [
            "customerId"
          ],
          "flatPath": "admin/directory/v1/customer/{customerId}/orgunits",
          "parameters": {
            "customerId": {
              "type": "string",
              "location": "path",
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users).",
              "required": true
            }
          },
          "path": "admin/directory/v1/customer/{customerId}/orgunits",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.orgunit"
          ],
          "id": "directory.orgunits.insert",
          "request": {
            "$ref": "OrgUnit"
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.orgunit",
            "https://www.googleapis.com/auth/admin.directory.orgunit.readonly"
          ],
          "parameterOrder": [
            "customerId"
          ],
          "httpMethod": "GET",
          "id": "directory.orgunits.list",
          "response": {
            "$ref": "OrgUnits"
          },
          "flatPath": "admin/directory/v1/customer/{customerId}/orgunits",
          "parameters": {
            "type": {
              "enumDescriptions": [
                "All sub-organizational units.",
                "Immediate children only (default)."
              ],
              "type": "string",
              "location": "query",
              "enum": [
                "all",
                "children"
              ],
              "description": "Whether to return all sub-organizations or just immediate children."
            },
            "customerId": {
              "required": true,
              "location": "path",
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users).",
              "type": "string"
            },
            "orgUnitPath": {
              "description": "The full path to the organizational unit or its unique ID. Returns the children of the specified organizational unit.",
              "default": "",
              "location": "query",
              "type": "string"
            }
          },
          "path": "admin/directory/v1/customer/{customerId}/orgunits",
          "description": "Retrieves a list of all organizational units for an account."
        },
        "get": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.orgunit",
            "https://www.googleapis.com/auth/admin.directory.orgunit.readonly"
          ],
          "path": "admin/directory/v1/customer/{customerId}/orgunits/{+orgUnitPath}",
          "id": "directory.orgunits.get",
          "parameters": {
            "allowPlus": {
              "location": "query",
              "description": "Parses org unit path without url decode to allow for plus in ou name",
              "type": "boolean"
            },
            "orgUnitPath": {
              "description": "The full path of the organizational unit or its unique ID.",
              "location": "path",
              "pattern": "^.*$",
              "required": true,
              "type": "string"
            },
            "customerId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users)."
            }
          },
          "parameterOrder": [
            "customerId",
            "orgUnitPath"
          ],
          "response": {
            "$ref": "OrgUnit"
          },
          "description": "Retrieves an organizational unit.",
          "flatPath": "admin/directory/v1/customer/{customerId}/orgunits/{orgunitsId}"
        }
      }
    },
    "members": {
      "methods": {
        "insert": {
          "response": {
            "$ref": "Member"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.group.member"
          ],
          "parameterOrder": [
            "groupKey"
          ],
          "description": "Adds a user to the specified group.",
          "path": "admin/directory/v1/groups/{groupKey}/members",
          "request": {
            "$ref": "Member"
          },
          "id": "directory.members.insert",
          "parameters": {
            "groupKey": {
              "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "admin/directory/v1/groups/{groupKey}/members",
          "httpMethod": "POST"
        },
        "get": {
          "response": {
            "$ref": "Member"
          },
          "parameterOrder": [
            "groupKey",
            "memberKey"
          ],
          "flatPath": "admin/directory/v1/groups/{groupKey}/members/{memberKey}",
          "id": "directory.members.get",
          "parameters": {
            "groupKey": {
              "required": true,
              "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
              "location": "path",
              "type": "string"
            },
            "memberKey": {
              "description": "Identifies the group member in the API request. A group member can be a user or another group. The value can be the member's (group or user) primary email address, alias, or unique ID.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.group.member",
            "https://www.googleapis.com/auth/admin.directory.group.member.readonly",
            "https://www.googleapis.com/auth/admin.directory.group.readonly"
          ],
          "httpMethod": "GET",
          "description": "Retrieves a group member's properties.",
          "path": "admin/directory/v1/groups/{groupKey}/members/{memberKey}"
        },
        "update": {
          "request": {
            "$ref": "Member"
          },
          "id": "directory.members.update",
          "path": "admin/directory/v1/groups/{groupKey}/members/{memberKey}",
          "response": {
            "$ref": "Member"
          },
          "parameters": {
            "groupKey": {
              "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "memberKey": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifies the group member in the API request. A group member can be a user or another group. The value can be the member's (group or user) primary email address, alias, or unique ID."
            }
          },
          "description": "Updates the membership of a user in the specified group.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.group.member"
          ],
          "httpMethod": "PUT",
          "parameterOrder": [
            "groupKey",
            "memberKey"
          ],
          "flatPath": "admin/directory/v1/groups/{groupKey}/members/{memberKey}"
        },
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [
            "groupKey"
          ],
          "path": "admin/directory/v1/groups/{groupKey}/members",
          "response": {
            "$ref": "Members"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.group.member",
            "https://www.googleapis.com/auth/admin.directory.group.member.readonly",
            "https://www.googleapis.com/auth/admin.directory.group.readonly"
          ],
          "parameters": {
            "maxResults": {
              "type": "integer",
              "minimum": "1",
              "location": "query",
              "description": "Maximum number of results to return. Max allowed value is 200.",
              "format": "int32",
              "default": "200"
            },
            "roles": {
              "location": "query",
              "type": "string",
              "description": "The `roles` query parameter allows you to retrieve group members by role. Allowed values are `OWNER`, `MANAGER`, and `MEMBER`."
            },
            "pageToken": {
              "type": "string",
              "description": "Token to specify next page in the list.",
              "location": "query"
            },
            "includeDerivedMembership": {
              "description": "Whether to list indirect memberships. Default: false.",
              "type": "boolean",
              "location": "query"
            },
            "groupKey": {
              "required": true,
              "type": "string",
              "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
              "location": "path"
            }
          },
          "flatPath": "admin/directory/v1/groups/{groupKey}/members",
          "id": "directory.members.list",
          "description": "Retrieves a paginated list of all members in a group."
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.group.member"
          ],
          "description": "Removes a member from a group.",
          "httpMethod": "DELETE",
          "parameters": {
            "groupKey": {
              "required": true,
              "type": "string",
              "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
              "location": "path"
            },
            "memberKey": {
              "type": "string",
              "location": "path",
              "description": "Identifies the group member in the API request. A group member can be a user or another group. The value can be the member's (group or user) primary email address, alias, or unique ID.",
              "required": true
            }
          },
          "flatPath": "admin/directory/v1/groups/{groupKey}/members/{memberKey}",
          "parameterOrder": [
            "groupKey",
            "memberKey"
          ],
          "id": "directory.members.delete",
          "path": "admin/directory/v1/groups/{groupKey}/members/{memberKey}"
        },
        "patch": {
          "request": {
            "$ref": "Member"
          },
          "description": "Updates the membership properties of a user in the specified group. This method supports [patch semantics](/admin-sdk/directory/v1/guides/performance#patch).",
          "id": "directory.members.patch",
          "response": {
            "$ref": "Member"
          },
[...]
