{
  "name": "admin",
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.directory.device.mobile": {
          "description": "View and manage your mobile devices' metadata"
        },
        "https://www.googleapis.com/auth/admin.directory.group.member.readonly": {
          "description": "View group subscriptions on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.device.chromeos": {
          "description": "View and manage your Chrome OS devices' metadata"
        },
        "https://www.googleapis.com/auth/admin.directory.rolemanagement": {
          "description": "Manage delegated admin roles for your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.orgunit.readonly": {
          "description": "View organization units on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.customer.readonly": {
          "description": "View customer related information"
        },
        "https://www.googleapis.com/auth/admin.directory.userschema": {
          "description": "View and manage the provisioning of user schemas on your domain"
        },
        "https://www.googleapis.com/auth/admin.chrome.printers.readonly": {
          "description": "See the printers that your organization can use with Chrome"
        },
        "https://www.googleapis.com/auth/admin.directory.group.readonly": {
          "description": "View groups on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.customer": {
          "description": "View and manage customer related information"
        },
        "https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly": {
          "description": "View calendar resources on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly": {
          "description": "View your Chrome OS devices' metadata"
        },
        "https://www.googleapis.com/auth/admin.directory.domain.readonly": {
          "description": "View domains related to your customers"
        },
        "https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly": {
          "description": "View delegated admin roles for your domain"
        },
        "https://www.googleapis.com/auth/admin.chrome.printers": {
          "description": "See, add, edit, and permanently delete the printers that your organization can use with Chrome"
        },
        "https://www.googleapis.com/auth/admin.directory.domain": {
          "description": "View and manage the provisioning of domains for your customers"
        },
        "https://www.googleapis.com/auth/admin.directory.device.mobile.readonly": {
          "description": "View your mobile devices' metadata"
        },
        "https://www.googleapis.com/auth/admin.directory.resource.calendar": {
          "description": "View and manage the provisioning of calendar resources on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.user.security": {
          "description": "Manage data access permissions for users on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.group.member": {
          "description": "View and manage group subscriptions on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.user.alias.readonly": {
          "description": "View user aliases on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.user.readonly": {
          "description": "See info about users on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.orgunit": {
          "description": "View and manage organization units on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.group": {
          "description": "View and manage the provisioning of groups on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.user": {
          "description": "View and manage the provisioning of users on your domain"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/admin.directory.user.alias": {
          "description": "View and manage user aliases on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.device.mobile.action": {
          "description": "Manage your mobile devices by performing administrative tasks"
        },
        "https://www.googleapis.com/auth/admin.directory.userschema.readonly": {
          "description": "View user schemas on your domain"
        }
      }
    }
  },
  "title": "Admin SDK API",
  "id": "admin:directory_v1",
  "schemas": {
    "MobileDeviceAction": {
      "id": "MobileDeviceAction",
      "type": "object",
      "properties": {
        "action": {
          "description": "The action to be performed on the device.",
          "annotations": {
            "required": [
              "directory.mobiledevices.action"
            ]
          },
          "type": "string"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "MobileDevice": {
      "id": "MobileDevice",
      "description": "Google Workspace Mobile Management includes Android, [Google Sync](https://support.google.com/a/answer/135937), and iOS devices. For more information about common group mobile device API tasks, see the [Developer's Guide](/admin-sdk/directory/v1/guides/manage-mobile-devices.html).",
      "properties": {
        "buildNumber": {
          "description": "The device's operating system build number.",
          "type": "string"
        },
        "type": {
          "description": "The type of mobile device.",
          "type": "string"
        },
        "otherAccountsInfo": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of accounts added on device (Read-only)"
        },
        "firstSync": {
          "type": "string",
          "description": "Date and time the device was first synchronized with the policy settings in the G Suite administrator control panel (Read-only)",
          "format": "date-time"
        },
        "status": {
          "type": "string",
          "description": "The device's status."
        },
        "deviceId": {
          "type": "string",
          "description": "The serial number for a Google Sync mobile device. For Android and iOS devices, this is a software generated unique identifier."
        },
        "bootloaderVersion": {
          "description": "Mobile Device Bootloader version (Read-only)",
          "type": "string"
        },
        "imei": {
          "description": "The device's IMEI number.",
          "type": "string"
        },
        "networkOperator": {
          "description": "Mobile Device mobile or network operator (if available) (Read-only)",
          "type": "string"
        },
        "basebandVersion": {
          "description": "The device's baseband version.",
          "type": "string"
        },
        "defaultLanguage": {
          "description": "The default locale used on the device.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "securityPatchLevel": {
          "type": "string",
          "format": "int64",
          "description": "Mobile Device Security patch level (Read-only)"
        },
        "managedAccountIsOnOwnerProfile": {
          "description": "Boolean indicating if this account is on owner/primary profile or not.",
          "type": "boolean"
        },
        "developerOptionsStatus": {
          "type": "boolean",
          "description": "Developer options enabled or disabled on device (Read-only)"
        },
        "os": {
          "type": "string",
          "description": "The mobile device's operating system, for example IOS 4.3 or Android 2.3.5. This property can be [updated](/admin-sdk/directory/v1/reference/mobiledevices/update.html). For more information, see the [Developer's Guide](/admin-sdk/directory/v1/guides/manage-mobile-devices#update_mobile_device)."
        },
        "model": {
          "type": "string",
          "description": "The mobile device's model name, for example Nexus S. This property can be [updated](/admin-sdk/directory/v1/reference/mobiledevices/update.html). For more information, see the [Developer's Guide](/admin-sdk/directory/v1/guides/manage-mobile=devices#update_mobile_device)."
        },
        "applications": {
          "items": {
            "type": "object",
            "properties": {
              "displayName": {
                "description": "The application's display name. An example is `Browser`.",
                "type": "string"
              },
              "versionName": {
                "type": "string",
                "description": "The application's version name. An example is `3.2-140714`."
              },
              "packageName": {
                "description": "The application's package name. An example is `com.android.browser`.",
                "type": "string"
              },
              "versionCode": {
                "type": "integer",
                "description": "The application's version code. An example is `13`.",
                "format": "int32"
              },
              "permission": {
                "description": "The list of permissions of this application. These can be either a standard Android permission or one defined by the application, and are found in an application's [Android manifest](https://developer.android.com/guide/topics/manifest/uses-permission-element.html). Examples of a Calendar application's permissions are `READ_CALENDAR`, or `MANAGE_ACCOUNTS`.",
                "items": {
                  "type": "string"
                },
                "type": "array"
              }
            }
          },
          "description": "The list of applications installed on an Android mobile device. It is not applicable to Google Sync and iOS devices. The list includes any Android applications that access Google Workspace data. When updating an applications list, it is important to note that updates replace the existing list. If the Android device has two existing applications and the API updates the list with five applications, the is now the updated list of five applications.",
          "type": "array"
        },
        "devicePasswordStatus": {
          "type": "string",
          "description": "DevicePasswordStatus (Read-only)"
        },
        "encryptionStatus": {
          "type": "string",
          "description": "Mobile Device Encryption Status (Read-only)"
        },
        "lastSync": {
          "type": "string",
          "description": "Date and time the device was last synchronized with the policy settings in the G Suite administrator control panel (Read-only)",
          "format": "date-time"
        },
        "kernelVersion": {
          "type": "string",
          "description": "The device's kernel version."
        },
        "userAgent": {
          "description": "Gives information about the device such as `os` version. This property can be [updated](/admin-sdk/directory/v1/reference/mobiledevices/update.html). For more information, see the [Developer's Guide](/admin-sdk/directory/v1/guides/manage-mobile-devices#update_mobile_device).",
          "type": "string"
        },
        "hardware": {
          "type": "string",
          "description": "Mobile Device Hardware (Read-only)"
        },
        "serialNumber": {
          "description": "The device's serial number.",
          "type": "string"
        },
        "meid": {
          "type": "string",
          "description": "The device's MEID number."
        },
        "supportsWorkProfile": {
          "description": "Work profile supported on device (Read-only)",
          "type": "boolean"
        },
        "wifiMacAddress": {
          "type": "string",
          "description": "The device's MAC address on Wi-Fi networks."
        },
        "resourceId": {
          "description": "The unique ID the API service uses to identify the mobile device.",
          "type": "string"
        },
        "deviceCompromisedStatus": {
          "description": "The compromised device status.",
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#mobiledevice",
          "description": "The type of the API resource. For Mobiledevices resources, the value is `admin#directory#mobiledevice`.",
          "type": "string"
        },
        "name": {
          "description": "List of the owner's user names. If your application needs the current list of device owner names, use the [get](/admin-sdk/directory/v1/reference/mobiledevices/get.html) method. For more information about retrieving mobile device user information, see the [Developer's Guide](/admin-sdk/directory/v1/guides/manage-users#get_user).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "releaseVersion": {
          "type": "string",
          "description": "Mobile Device release version version (Read-only)"
        },
        "privilege": {
          "description": "DMAgentPermission (Read-only)",
          "type": "string"
        },
        "manufacturer": {
          "type": "string",
          "description": "Mobile Device manufacturer (Read-only)"
        },
        "hardwareId": {
          "type": "string",
          "description": "The IMEI/MEID unique identifier for Android hardware. It is not applicable to Google Sync devices. When adding an Android mobile device, this is an optional property. When updating one of these devices, this is a read-only property."
        },
        "email": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of owner's email addresses. If your application needs the current list of user emails, use the [get](/admin-sdk/directory/v1/reference/mobiledevices/get.html) method. For additional information, see the [retrieve a user](/admin-sdk/directory/v1/guides/manage-users#get_user) method."
        },
        "brand": {
          "type": "string",
          "description": "Mobile Device Brand (Read-only)"
        },
        "unknownSourcesStatus": {
          "type": "boolean",
          "description": "Unknown sources enabled or disabled on device (Read-only)"
        },
        "adbStatus": {
          "type": "boolean",
          "description": "Adb (USB debugging) enabled or disabled on device (Read-only)"
        }
      },
      "type": "object"
    },
    "Alias": {
      "type": "object",
      "id": "Alias",
      "description": "JSON template for Alias object in Directory API.",
      "properties": {
        "alias": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "primaryEmail": {
          "type": "string"
        },
        "etag": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "admin#directory#alias"
        }
      }
    },
    "Domains2": {
      "id": "Domains2",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "domains": {
          "description": "List of domain objects.",
          "type": "array",
          "items": {
            "$ref": "Domains"
          }
        },
        "kind": {
          "description": "Kind of resource this is.",
          "default": "admin#directory#domains",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UserAlias": {
      "description": "The Directory API manages aliases, which are alternative email addresses.",
      "id": "UserAlias",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique ID for the user."
        },
        "kind": {
          "description": "The type of the API resource. For Alias resources, the value is `admin#directory#alias`.",
          "type": "string"
        },
        "primaryEmail": {
          "type": "string",
          "description": "The user's primary email address."
        },
        "alias": {
          "description": "The alias email address.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      }
    },
    "Feature": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the feature.",
          "annotations": {
            "required": [
              "directory.resources.features.insert"
            ]
          }
        },
        "kind": {
          "type": "string",
          "default": "admin#directory#resources#features#Feature",
          "description": "Kind of resource this is."
        },
        "etags": {
          "type": "string",
          "description": "ETag of the resource."
        }
      },
      "description": "JSON template for Feature object in Directory API.",
      "id": "Feature",
      "type": "object"
    },
    "UserName": {
      "properties": {
        "givenName": {
          "type": "string",
          "annotations": {
            "required": [
              "directory.users.insert"
            ]
          },
          "description": "The user's first name. Required when creating a user account."
        },
        "familyName": {
          "annotations": {
            "required": [
              "directory.users.insert"
            ]
          },
          "type": "string",
          "description": "The user's last name. Required when creating a user account."
        },
        "fullName": {
          "description": "The user's full name formed by concatenating the first and last name values.",
          "type": "string"
        }
      },
      "id": "UserName",
      "type": "object"
    },
    "UserEmail": {
      "properties": {
        "type": {
          "description": "Each entry can have a type which indicates standard types of that entry. For example email could be of home, work etc. In addition to the standard type, an entry can have a custom type and can take any value Such types should have the CUSTOM value as type and also have a customType value.",
          "type": "string"
        },
        "customType": {
          "description": "Custom Type.",
          "type": "string"
        },
        "primary": {
          "type": "boolean",
          "description": "If this is user's primary email. Only one entry could be marked as primary."
        },
        "address": {
          "type": "string",
          "description": "Email id of the user."
        }
      },
      "description": "JSON template for an email.",
      "type": "object",
      "id": "UserEmail"
    },
    "ChromeOsDeviceAction": {
      "properties": {
        "action": {
          "annotations": {
            "required": [
              "directory.chromeosdevices.action"
            ]
          },
          "type": "string",
          "description": "Action to be taken on the Chrome OS device."
        },
        "deprovisionReason": {
          "description": "Only used when the action is `deprovision`. With the `deprovision` action, this field is required. *Note*: The deprovision reason is audited because it might have implications on licenses for perpetual subscription customers.",
          "type": "string"
        }
      },
      "id": "ChromeOsDeviceAction",
      "type": "object",
      "description": "The data regarding an action to update the status of a Chrome OS device."
    },
    "BatchCreatePrintersRequest": {
      "id": "BatchCreatePrintersRequest",
      "description": "Request for adding new printers in batch.",
      "properties": {
        "requests": {
          "items": {
            "$ref": "CreatePrinterRequest"
          },
          "description": "A list of Printers to be created. Max 50 at a time.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "FailureInfo": {
      "properties": {
        "errorCode": {
          "enumDescriptions": [
            "Not an error; returned on success. HTTP Mapping: 200 OK",
            "The operation was cancelled, typically by the caller. HTTP Mapping: 499 Client Closed Request",
            "Unknown error. For example, this error may be returned when a `Status` value received from another address space belongs to an error space that is not known in this address space. Also errors raised by APIs that do not return enough error information may be converted to this error. HTTP Mapping: 500 Internal Server Error",
            "The client specified an invalid argument. Note that this differs from `FAILED_PRECONDITION`. `INVALID_ARGUMENT` indicates arguments that are problematic regardless of the state of the system (e.g., a malformed file name). HTTP Mapping: 400 Bad Request",
            "The deadline expired before the operation could complete. For operations that change the state of the system, this error may be returned even if the operation has completed successfully. For example, a successful response from a server could have been delayed long enough for the deadline to expire. HTTP Mapping: 504 Gateway Timeout",
            "Some requested entity (e.g., file or directory) was not found. Note to server developers: if a request is denied for an entire class of users, such as gradual feature rollout or undocumented allowlist, `NOT_FOUND` may be used. If a request is denied for some users within a class of users, such as user-based access control, `PERMISSION_DENIED` must be used. HTTP Mapping: 404 Not Found",
            "The entity that a client attempted to create (e.g., file or directory) already exists. HTTP Mapping: 409 Conflict",
            "The caller does not have permission to execute the specified operation. `PERMISSION_DENIED` must not be used for rejections caused by exhausting some resource (use `RESOURCE_EXHAUSTED` instead for those errors). `PERMISSION_DENIED` must not be used if the caller can not be identified (use `UNAUTHENTICATED` instead for those errors). This error code does not imply the request is valid or the requested entity exists or satisfies other pre-conditions. HTTP Mapping: 403 Forbidden",
            "The request does not have valid authentication credentials for the operation. HTTP Mapping: 401 Unauthorized",
            "Some resource has been exhausted, perhaps a per-user quota, or perhaps the entire file system is out of space. HTTP Mapping: 429 Too Many Requests",
            "The operation was rejected because the system is not in a state required for the operation's execution. For example, the directory to be deleted is non-empty, an rmdir operation is applied to a non-directory, etc. Service implementors can use the following guidelines to decide between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`: (a) Use `UNAVAILABLE` if the client can retry just the failing call. (b) Use `ABORTED` if the client should retry at a higher level. For example, when a client-specified test-and-set fails, indicating the client should restart a read-modify-write sequence. (c) Use `FAILED_PRECONDITION` if the client should not retry until the system state has been explicitly fixed. For example, if an \"rmdir\" fails because the directory is non-empty, `FAILED_PRECONDITION` should be returned since the client should not retry unless the files are deleted from the directory. HTTP Mapping: 400 Bad Request",
            "The operation was aborted, typically due to a concurrency issue such as a sequencer check failure or transaction abort. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 409 Conflict",
            "The operation was attempted past the valid range. E.g., seeking or reading past end-of-file. Unlike `INVALID_ARGUMENT`, this error indicates a problem that may be fixed if the system state changes. For example, a 32-bit file system will generate `INVALID_ARGUMENT` if asked to read at an offset that is not in the range [0,2^32-1], but it will generate `OUT_OF_RANGE` if asked to read from an offset past the current file size. There is a fair bit of overlap between `FAILED_PRECONDITION` and `OUT_OF_RANGE`. We recommend using `OUT_OF_RANGE` (the more specific error) when it applies so that callers who are iterating through a space can easily look for an `OUT_OF_RANGE` error to detect when they are done. HTTP Mapping: 400 Bad Request",
            "The operation is not implemented or is not supported/enabled in this service. HTTP Mapping: 501 Not Implemented",
            "Internal errors. This means that some invariants expected by the underlying system have been broken. This error code is reserved for serious errors. HTTP Mapping: 500 Internal Server Error",
            "The service is currently unavailable. This is most likely a transient condition, which can be corrected by retrying with a backoff. Note that it is not always safe to retry non-idempotent operations. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 503 Service Unavailable",
            "Unrecoverable data loss or corruption. HTTP Mapping: 500 Internal Server Error"
          ],
          "description": "Canonical code for why the update failed to apply.",
          "enum": [
            "OK",
            "CANCELLED",
            "UNKNOWN",
            "INVALID_ARGUMENT",
            "DEADLINE_EXCEEDED",
            "NOT_FOUND",
            "ALREADY_EXISTS",
            "PERMISSION_DENIED",
            "UNAUTHENTICATED",
            "RESOURCE_EXHAUSTED",
            "FAILED_PRECONDITION",
            "ABORTED",
            "OUT_OF_RANGE",
            "UNIMPLEMENTED",
            "INTERNAL",
            "UNAVAILABLE",
            "DATA_LOSS"
          ],
          "type": "string"
        },
        "printer": {
          "description": "Failed printer.",
          "$ref": "Printer"
        },
        "errorMessage": {
          "type": "string",
          "description": "Failure reason message."
        },
        "printerId": {
          "type": "string",
          "description": "Id of a failed printer."
        }
      },
      "id": "FailureInfo",
      "type": "object",
      "description": "Info about failures"
    },
    "Domains": {
      "type": "object",
      "id": "Domains",
      "properties": {
        "domainName": {
          "type": "string",
          "description": "The domain name of the customer.",
          "annotations": {
            "required": [
              "directory.domains.insert"
            ]
          }
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "creationTime": {
          "format": "int64",
          "type": "string",
          "description": "Creation time of the domain. Expressed in [Unix time](https://en.wikipedia.org/wiki/Epoch_time) format. (Read-only)."
        },
        "verified": {
          "description": "Indicates the verification state of a domain. (Read-only).",
          "type": "boolean"
        },
        "isPrimary": {
          "type": "boolean",
          "description": "Indicates if the domain is a primary domain (Read-only)."
        },
        "domainAliases": {
          "description": "List of domain alias objects. (Read-only)",
          "type": "array",
          "items": {
            "$ref": "DomainAlias"
          }
        },
        "kind": {
          "default": "admin#directory#domain",
          "description": "Kind of resource this is.",
          "type": "string"
        }
      }
    },
    "DomainAlias": {
      "id": "DomainAlias",
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#domainAlias",
          "description": "Kind of resource this is.",
          "type": "string"
        },
        "verified": {
          "description": "Indicates the verification state of a domain alias. (Read-only)",
          "type": "boolean"
        },
        "creationTime": {
          "type": "string",
          "format": "int64",
          "description": "The creation time of the domain alias. (Read-only)."
        },
        "parentDomainName": {
          "description": "The parent domain name that the domain alias is associated with. This can either be a primary or secondary domain name within a customer.",
          "type": "string",
          "annotations": {
            "required": [
              "directory.domains.insert"
            ]
          }
        },
        "domainAliasName": {
          "description": "The domain alias name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OrgUnits": {
      "id": "OrgUnits",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "organizationUnits": {
          "type": "array",
          "items": {
            "$ref": "OrgUnit"
          },
          "description": "List of organizational unit objects."
        },
        "kind": {
          "default": "admin#directory#orgUnits",
          "type": "string",
          "description": "The type of the API resource. For Org Unit resources, the type is `admin#directory#orgUnits`."
        }
      },
      "type": "object"
    },
    "Buildings": {
      "id": "Buildings",
      "description": "Public API: Resources.buildings",
      "properties": {
        "buildings": {
          "items": {
            "$ref": "Building"
          },
          "description": "The Buildings in this page of results.",
          "type": "array"
        },
        "kind": {
          "description": "Kind of resource this is.",
          "type": "string",
          "default": "admin#directory#resources#buildings#buildingsList"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        }
      },
      "type": "object"
    },
    "Printer": {
      "id": "Printer",
      "properties": {
        "name": {
          "description": "The resource name of the Printer object, in the format customers/{customer-id}/printers/{printer-id} (During printer creation leave empty)",
          "type": "string"
        },
        "orgUnitId": {
          "type": "string",
          "description": "Organization Unit that owns this printer (Only can be set during Printer creation)"
        },
        "id": {
          "type": "string",
          "description": "Id of the printer. (During printer creation leave empty)"
        },
        "uri": {
          "description": "Editable. Printer URI.",
          "type": "string"
        },
        "useDriverlessConfig": {
          "type": "boolean",
          "description": "Editable. flag to use driverless configuration or not. If it's set to be true, make_and_model can be ignored"
        },
        "displayName": {
          "type": "string",
          "description": "Editable. Name of printer."
        },
        "description": {
          "description": "Editable. Description of printer.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when printer was created."
        },
        "makeAndModel": {
          "description": "Editable. Make and model of printer. e.g. Lexmark MS610de Value must be in format as seen in ListPrinterModels response.",
          "type": "string"
        },
        "auxiliaryMessages": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "AuxiliaryMessage"
          },
          "description": "Output only. Auxiliary messages about issues with the printer configuration if any."
        }
      },
      "description": "Printer configuration.",
      "type": "object"
    },
    "DirectoryChromeosdevicesCommandResult": {
      "description": "The result of executing a command.",
      "type": "object",
      "id": "DirectoryChromeosdevicesCommandResult",
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "The error message with a short explanation as to why the command failed. Only present if the command failed."
        },
        "result": {
          "enum": [
            "COMMAND_RESULT_TYPE_UNSPECIFIED",
            "IGNORED",
            "FAILURE",
            "SUCCESS"
          ],
          "enumDescriptions": [
            "The command result was unspecified.",
            "The command was ignored as obsolete.",
            "The command could not be executed successfully.",
            "The command was successfully executed."
          ],
          "type": "string",
          "description": "The result of the command."
        },
        "executeTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the command was executed or failed to execute."
        }
      }
    },
    "RoleAssignment": {
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "assignedTo": {
          "description": "The unique ID of the entity this role is assigned to—either the `user_id` of a user or the `uniqueId` of a service account, as defined in [Identity and Access Management (IAM)](https://cloud.google.com/iam/docs/reference/rest/v1/projects.serviceAccounts).",
          "type": "string"
        },
        "roleId": {
          "type": "string",
          "description": "The ID of the role that is assigned.",
          "format": "int64"
        },
        "orgUnitId": {
          "type": "string",
          "description": "If the role is restricted to an organization unit, this contains the ID for the organization unit the exercise of this role is restricted to."
        },
        "scopeType": {
          "description": "The scope in which this role is assigned.",
          "type": "string"
        },
        "roleAssignmentId": {
          "type": "string",
          "description": "ID of this roleAssignment.",
          "format": "int64"
        },
        "kind": {
          "description": "The type of the API resource. This is always `admin#directory#roleAssignment`.",
          "type": "string",
          "default": "admin#directory#roleAssignment"
        }
      },
      "type": "object",
      "id": "RoleAssignment",
      "description": "Defines an assignment of a role."
    },
    "PrinterModel": {
      "id": "PrinterModel",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Display name. eq. \"Brother MFC-8840D\"",
          "type": "string"
        },
        "manufacturer": {
          "type": "string",
          "description": "Manufacturer. eq. \"Brother\""
        },
        "makeAndModel": {
          "description": "Make and model as represented in \"make_and_model\" field in Printer object. eq. \"brother mfc-8840d\"",
          "type": "string"
        }
      },
      "description": "Printer manufacturer and model"
    },
    "UserRelation": {
      "properties": {
        "type": {
          "type": "string",
          "description": "The relation of the user. Some of the possible values are mother father sister brother manager assistant partner."
        },
        "value": {
          "description": "The name of the relation.",
          "type": "string"
        },
        "customType": {
          "description": "Custom Type.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "UserRelation",
      "description": "JSON template for a relation entry."
    },
    "Privilege": {
      "id": "Privilege",
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "privilegeName": {
          "description": "The name of the privilege.",
          "type": "string"
        },
        "isOuScopable": {
          "type": "boolean",
          "description": "If the privilege can be restricted to an organization unit."
        },
        "kind": {
          "description": "The type of the API resource. This is always `admin#directory#privilege`.",
          "default": "admin#directory#privilege",
          "type": "string"
        },
        "serviceId": {
          "description": "The obfuscated ID of the service this privilege is for. This value is returned with [`Privileges.list()`](/admin-sdk/directory/v1/reference/privileges/list).",
          "type": "string"
        },
        "serviceName": {
          "description": "The name of the service this privilege is for.",
          "type": "string"
        },
        "childPrivileges": {
          "type": "array",
          "description": "A list of child privileges. Privileges for a service form a tree. Each privilege can have a list of child privileges; this list is empty for a leaf privilege.",
          "items": {
            "$ref": "Privilege"
          }
        }
      }
    },
    "CreatePrinterRequest": {
      "description": "Request for adding a new printer.",
      "id": "CreatePrinterRequest",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The name of the customer. Format: customers/{customer_id}"
        },
        "printer": {
          "$ref": "Printer",
          "description": "Required. A printer to create. If you want to place the printer under particular OU then populate printer.org_unit_id filed. Otherwise the printer will be placed under root OU."
        }
      },
      "type": "object"
    },
    "BatchDeletePrintersRequest": {
      "type": "object",
      "description": "Request for deleting existing printers in batch.",
      "properties": {
        "printerIds": {
          "type": "array",
          "description": "A list of Printer.id that should be deleted. Max 100 at a time.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "BatchDeletePrintersRequest"
    },
    "RoleAssignments": {
      "id": "RoleAssignments",
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "$ref": "RoleAssignment"
          },
          "type": "array",
          "description": "A list of RoleAssignment resources."
        },
        "kind": {
          "description": "The type of the API resource. This is always `admin#directory#roleAssignments`.",
          "type": "string",
          "default": "admin#directory#roleAssignments"
        },
        "nextPageToken": {
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        }
      }
    },
    "Schema": {
      "type": "object",
      "description": "The type of API resource. For Schema resources, this is always `admin#directory#schema`.",
      "properties": {
        "displayName": {
          "annotations": {
            "required": [
              "directory.schemas.insert"
            ]
          },
          "description": "Display name for the schema.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "admin#directory#schema",
          "description": "Kind of resource this is."
        },
        "fields": {
          "description": "A list of fields in the schema.",
          "type": "array",
          "items": {
            "$ref": "SchemaFieldSpec"
          },
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          }
        },
        "schemaId": {
          "description": "The unique identifier of the schema (Read-only)",
          "type": "string"
        },
        "schemaName": {
          "type": "string",
          "annotations": {
            "required": [
              "directory.schemas.insert"
            ]
          },
          "description": "The schema's name. Each `schema_name` must be unique within a customer. Reusing a name results in a `409: Entity already exists` error."
        },
        "etag": {
          "type": "string",
          "description": "The ETag of the resource."
        }
      },
      "id": "Schema"
    },
    "CalendarResource": {
      "id": "CalendarResource",
      "type": "object",
      "description": "Public API: Resources.calendars",
      "properties": {
        "resourceName": {
          "type": "string",
          "annotations": {
            "required": [
              "directory.resources.calendars.insert"
            ]
          },
          "description": "The name of the calendar resource. For example, \"Training Room 1A\"."
        },
        "featureInstances": {
          "description": "Instances of features for the calendar resource.",
          "type": "any"
        },
        "resourceType": {
          "description": "The type of the calendar resource, intended for non-room resources.",
          "type": "string"
        },
        "generatedResourceName": {
          "description": "The read-only auto-generated name of the calendar resource which includes metadata about the resource such as building name, floor, capacity, etc. For example, \"NYC-2-Training Room 1A (16)\".",
          "type": "string"
        },
        "resourceEmail": {
          "description": "The read-only email for the calendar resource. Generated as part of creating a new calendar resource.",
          "type": "string"
        },
        "userVisibleDescription": {
          "type": "string",
          "description": "Description of the resource, visible to users and admins."
        },
        "floorName": {
          "description": "Name of the floor a resource is located on.",
          "type": "string"
        },
        "floorSection": {
          "description": "Name of the section within a floor a resource is located in.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "admin#directory#resources#calendars#CalendarResource",
          "description": "The type of the resource. For calendar resources, the value is `admin#directory#resources#calendars#CalendarResource`."
        },
        "capacity": {
          "type": "integer",
          "description": "Capacity of a resource, number of seats in a room.",
          "format": "int32"
        },
        "buildingId": {
          "type": "string",
          "description": "Unique ID for the building a resource is located in."
        },
        "resourceDescription": {
          "description": "Description of the resource, visible only to admins.",
          "type": "string"
        },
        "resourceCategory": {
          "type": "string",
          "description": "The category of the calendar resource. Either CONFERENCE_ROOM or OTHER. Legacy data is set to CATEGORY_UNKNOWN."
        },
        "etags": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "resourceId": {
          "description": "The unique ID for the calendar resource.",
          "annotations": {
            "required": [
              "directory.resources.calendars.insert"
            ]
          },
          "type": "string"
        }
      }
    },
    "DirectoryChromeosdevicesIssueCommandRequest": {
      "id": "DirectoryChromeosdevicesIssueCommandRequest",
      "description": "A request for issuing a command.",
      "properties": {
        "commandType": {
          "enumDescriptions": [
            "The command type was unspecified.",
            "Reboot the device. Can only be issued to Kiosk and managed guest session devices.",
            "Take a screenshot of the device. Only available if the device is in Kiosk Mode.",
            "Set the volume of the device. Can only be issued to Kiosk and managed guest session devices.",
            "Wipe all the users off of the device. Executing this command in the device will remove all user profile data, but it will keep device policy and enrollment.",
            "Wipes the device by performing a power wash. Executing this command in the device will remove all data including user policies, device policies and enrollment policies. Warning: This will revert the device back to a factory state with no enrollment unless the device is subject to forced or auto enrollment. Use with caution, as this is an irreversible action!"
          ],
          "enum": [
            "COMMAND_TYPE_UNSPECIFIED",
            "REBOOT",
            "TAKE_A_SCREENSHOT",
            "SET_VOLUME",
            "WIPE_USERS",
            "REMOTE_POWERWASH"
          ],
          "type": "string",
          "description": "The type of command."
        },
        "payload": {
          "type": "string",
          "description": "The payload for the command, provide it only if command supports it. The following commands support adding payload: - SET_VOLUME: Payload is a stringified JSON object in the form: { \"volume\": 50 }. The volume has to be an integer in the range [0,100]."
        }
      },
      "type": "object"
    },
    "GroupAlias": {
      "description": "The Directory API manages aliases, which are alternative email addresses.",
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "primaryEmail": {
          "description": "The primary email address of the group.",
          "type": "string"
        },
        "alias": {
          "type": "string",
          "description": "The alias email address."
        },
        "kind": {
          "type": "string",
          "description": "The type of the API resource. For Alias resources, the value is `admin#directory#alias`."
        },
        "id": {
          "type": "string",
          "description": "The unique ID of the group."
        }
      },
      "id": "GroupAlias",
      "type": "object"
    },
    "UserWebsite": {
      "properties": {
        "customType": {
          "description": "Custom Type.",
          "type": "string"
        },
        "type": {
          "description": "Each entry can have a type which indicates standard types of that entry. For example website could be of home work blog etc. In addition to the standard type an entry can have a custom type and can give it any name. Such types should have the CUSTOM value as type and also have a customType value.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Website."
        },
        "primary": {
          "description": "If this is user's primary website or not.",
          "type": "boolean"
        }
      },
      "id": "UserWebsite",
      "description": "JSON template for a website entry.",
      "type": "object"
    },
    "VerificationCode": {
      "type": "object",
      "id": "VerificationCode",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "userId": {
          "description": "The obfuscated unique ID of the user.",
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#verificationCode",
          "type": "string",
          "description": "The type of the resource. This is always `admin#directory#verificationCode`."
        },
        "verificationCode": {
          "description": "A current verification code for the user. Invalidated or used verification codes are not returned as part of the result.",
          "type": "string"
        }
      },
      "description": "The Directory API allows you to view, generate, and invalidate backup verification codes for a user."
    },
    "Building": {
      "description": "Public API: Resources.buildings",
      "type": "object",
      "properties": {
        "buildingName": {
          "type": "string",
          "description": "The building name as seen by users in Calendar. Must be unique for the customer. For example, \"NYC-CHEL\". The maximum length is 100 characters."
        },
        "description": {
          "type": "string",
          "description": "A brief description of the building. For example, \"Chelsea Market\"."
        },
        "etags": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "kind": {
          "default": "admin#directory#resources#buildings#Building",
          "description": "Kind of resource this is.",
          "type": "string"
        },
        "coordinates": {
          "$ref": "BuildingCoordinates",
          "description": "The geographic coordinates of the center of the building, expressed as latitude and longitude in decimal degrees."
        },
        "address": {
          "description": "The postal address of the building. See [`PostalAddress`](/my-business/reference/rest/v4/PostalAddress) for details. Note that only a single address line and region code are required.",
          "$ref": "BuildingAddress"
        },
        "buildingId": {
          "type": "string",
          "description": "Unique identifier for the building. The maximum length is 100 characters."
        },
        "floorNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The display names for all floors in this building. The floors are expected to be sorted in ascending order, from lowest floor to highest floor. For example, [\"B2\", \"B1\", \"L\", \"1\", \"2\", \"2M\", \"3\", \"PH\"] Must contain at least one entry."
        }
      },
      "id": "Building"
    },
    "Members": {
      "properties": {
        "kind": {
          "type": "string",
          "default": "admin#directory#members",
          "description": "Kind of resource this is."
        },
        "members": {
          "description": "List of member objects.",
          "type": "array",
          "items": {
            "$ref": "Member"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access next page of this result."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      },
      "id": "Members",
      "type": "object"
    },
    "UserPhoto": {
      "properties": {
        "primaryEmail": {
          "description": "The user's primary email address.",
          "type": "string"
        },
        "height": {
          "description": "Height of the photo in pixels.",
          "type": "integer",
          "format": "int32"
        },
        "photoData": {
          "format": "byte",
          "annotations": {
            "required": [
              "directory.users.photos.update"
            ]
          },
          "description": "The user photo's upload data in [web-safe Base64](https://en.wikipedia.org/wiki/Base64#URL_applications) format in bytes. This means: * The slash (/) character is replaced with the underscore (_) character. * The plus sign (+) character is replaced with the hyphen (-) character. * The equals sign (=) character is replaced with the asterisk (*). * For padding, the period (.) character is used instead of the RFC-4648 baseURL definition which uses the equals sign (=) for padding. This is done to simplify URL-parsing. * Whatever the size of the photo being uploaded, the API downsizes it to 96x96 pixels.",
          "type": "string"
        },
        "mimeType": {
          "description": "The MIME type of the photo. Allowed values are `JPEG`, `PNG`, `GIF`, `BMP`, `TIFF`, and web-safe base64 encoding.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "The type of the API resource. For Photo resources, this is `admin#directory#user#photo`.",
          "default": "admin#directory#user#photo"
        },
        "width": {
          "type": "integer",
          "description": "Width of the photo in pixels.",
          "format": "int32"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID the API uses to uniquely identify the user."
        }
      },
      "id": "UserPhoto",
      "type": "object"
    },
    "UserLocation": {
      "type": "object",
      "properties": {
        "floorName": {
          "description": "Floor name/number.",
          "type": "string"
        },
        "customType": {
          "type": "string",
          "description": "Custom Type."
        },
        "area": {
          "type": "string",
          "description": "Textual location. This is most useful for display purposes to concisely describe the location. For example 'Mountain View, CA', 'Near Seattle', 'US-NYC-9TH 9A209A.''"
        },
        "type": {
          "type": "string",
          "description": "Each entry can have a type which indicates standard types of that entry. For example location could be of types default and desk. In addition to standard type an entry can have a custom type and can give it any name. Such types should have 'custom' as type and also have a customType value."
        },
        "buildingId": {
          "type": "string",
          "description": "Building Identifier."
        },
        "deskCode": {
          "description": "Most specific textual code of individual desk location.",
          "type": "string"
        },
        "floorSection": {
          "description": "Floor section. More specific location within the floor. For example if a floor is divided into sections 'A', 'B' and 'C' this field would identify one of those values.",
          "type": "string"
        }
      },
      "id": "UserLocation",
      "description": "JSON template for a location entry."
    },
    "MobileDevices": {
      "properties": {
        "mobiledevices": {
          "items": {
            "$ref": "MobileDevice"
          },
          "type": "array",
          "description": "List of Mobile Device objects."
        },
        "nextPageToken": {
          "description": "Token used to access next page of this result.",
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#mobiledevices",
          "description": "Kind of resource this is.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        }
      },
      "type": "object",
      "id": "MobileDevices"
    },
    "FeatureInstance": {
      "id": "FeatureInstance",
      "properties": {
        "feature": {
          "description": "The feature that this is an instance of. A calendar resource may have multiple instances of a feature.",
          "$ref": "Feature"
        }
      },
      "type": "object",
      "description": "JSON template for a feature instance."
    },
    "MembersHasMember": {
      "type": "object",
      "description": "JSON template for Has Member response in Directory API.",
      "id": "MembersHasMember",
      "properties": {
        "isMember": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the given user is a member of the group. Membership can be direct or nested."
        }
      }
    },
    "ChromeOsDevices": {
      "id": "ChromeOsDevices",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access the next page of this result. To access the next page, use this token's value in the `pageToken` query string of this request."
        },
        "chromeosdevices": {
          "type": "array",
          "description": "List of Chrome OS Device objects.",
          "items": {
            "$ref": "ChromeOsDevice"
          }
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#chromeosdevices",
          "description": "Kind of resource this is.",
          "type": "string"
        }
      }
    },
    "UserPosixAccount": {
      "type": "object",
      "description": "JSON template for a POSIX account entry.",
      "id": "UserPosixAccount",
      "properties": {
        "shell": {
          "type": "string",
          "description": "The path to the login shell for this account."
        },
        "gid": {
          "type": "string",
          "description": "The default group ID.",
          "format": "uint64"
        },
        "operatingSystemType": {
          "description": "The operating system type for this account.",
          "type": "string"
        },
        "primary": {
          "type": "boolean",
          "description": "If this is user's primary account within the SystemId."
        },
        "username": {
          "type": "string",
          "description": "The username of the account."
        },
        "accountId": {
          "type": "string",
          "description": "A POSIX account field identifier."
        },
        "systemId": {
          "type": "string",
          "description": "System identifier for which account Username or Uid apply to."
        },
        "gecos": {
          "description": "The GECOS (user information) for this account.",
          "type": "string"
        },
        "homeDirectory": {
          "type": "string",
          "description": "The path to the home directory for this account."
        },
        "uid": {
          "description": "The POSIX compliant user ID.",
          "format": "uint64",
          "type": "string"
        }
      }
    },
    "UserExternalId": {
      "properties": {
        "customType": {
          "description": "Custom type.",
          "type": "string"
        },
        "type": {
          "description": "The type of the Id.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The value of the id."
        }
      },
      "id": "UserExternalId",
      "description": "JSON template for an externalId entry.",
      "type": "object"
    },
    "UserAddress": {
      "description": "JSON template for address.",
      "type": "object",
      "properties": {
        "locality": {
          "description": "Locality.",
          "type": "string"
        },
        "country": {
          "type": "string",
          "description": "Country."
        },
        "poBox": {
          "type": "string",
          "description": "Other parts of address."
        },
        "formatted": {
          "type": "string",
          "description": "Formatted address."
        },
        "sourceIsStructured": {
          "description": "User supplied address was structured. Structured addresses are NOT supported at this time. You might be able to write structured addresses but any values will eventually be clobbered.",
          "type": "boolean"
        },
        "countryCode": {
          "type": "string",
          "description": "Country code."
        },
        "postalCode": {
          "description": "Postal code.",
          "type": "string"
        },
        "streetAddress": {
          "description": "Street.",
          "type": "string"
        },
        "primary": {
          "type": "boolean",
          "description": "If this is user's primary address. Only one entry could be marked as primary."
        },
        "region": {
          "type": "string",
          "description": "Region."
        },
        "extendedAddress": {
          "type": "string",
          "description": "Extended Address."
        },
        "customType": {
          "description": "Custom type.",
          "type": "string"
        },
        "type": {
          "description": "Each entry can have a type which indicates standard values of that entry. For example address could be of home work etc. In addition to the standard type an entry can have a custom type and can take any value. Such type should have the CUSTOM value as type and also have a customType value.",
          "type": "string"
        }
      },
      "id": "UserAddress"
    },
    "VerificationCodes": {
      "id": "VerificationCodes",
      "description": "JSON response template for List verification codes operation in Directory API.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The type of the resource. This is always `admin#directory#verificationCodesList`.",
          "default": "admin#directory#verificationCodesList"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "items": {
          "items": {
            "$ref": "VerificationCode"
          },
          "description": "A list of verification code resources.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "Features": {
      "description": "Public API: Resources.features",
      "properties": {
        "kind": {
          "type": "string",
          "default": "admin#directory#resources#features#featuresList",
          "description": "Kind of resource this is."
        },
        "features": {
          "items": {
            "$ref": "Feature"
          },
          "description": "The Features in this page of results.",
          "type": "array"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
        }
      },
      "id": "Features",
      "type": "object"
    },
    "ListPrintersResponse": {
      "id": "ListPrintersResponse",
      "type": "object",
      "properties": {
        "printers": {
          "description": "List of printers. If `org_unit_id` was given in the request, then only printers visible for this OU will be returned. If `org_unit_id` was not given in the request, then all printers will be returned.",
          "type": "array",
          "items": {
            "$ref": "Printer"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response for listing printers."
    },
    "Tokens": {
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#tokenList",
          "type": "string",
          "description": "The type of the API resource. This is always `admin#directory#tokenList`."
        },
        "items": {
          "description": "A list of Token resources.",
          "type": "array",
          "items": {
            "$ref": "Token"
          }
        }
      },
      "type": "object",
      "description": "JSON response template for List tokens operation in Directory API.",
      "id": "Tokens"
    },
    "UserKeyword": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Keyword."
        },
        "type": {
          "type": "string",
          "description": "Each entry can have a type which indicates standard type of that entry. For example keyword could be of type occupation or outlook. In addition to the standard type an entry can have a custom type and can give it any name. Such types should have the CUSTOM value as type and also have a customType value."
        },
        "customType": {
          "type": "string",
          "description": "Custom Type."
        }
      },
      "description": "JSON template for a keyword entry.",
      "id": "UserKeyword"
    },
    "FeatureRename": {
      "properties": {
        "newName": {
          "annotations": {
            "required": [
              "directory.resources.features.rename"
            ]
          },
          "type": "string",
          "description": "New name of the feature."
        }
      },
      "id": "FeatureRename",
      "type": "object"
    },
    "Privileges": {
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "The type of the API resource. This is always `admin#directory#privileges`.",
          "default": "admin#directory#privileges"
        },
        "items": {
          "items": {
            "$ref": "Privilege"
          },
          "description": "A list of Privilege resources.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "Privileges"
    },
    "UserGender": {
      "properties": {
        "customGender": {
          "description": "Custom gender.",
          "type": "string"
        },
        "addressMeAs": {
          "type": "string",
          "description": "AddressMeAs. A human-readable string containing the proper way to refer to the profile owner by humans for example he/him/his or they/them/their."
        },
        "type": {
          "description": "Gender.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "UserGender"
    },
    "UserMakeAdmin": {
      "type": "object",
      "id": "UserMakeAdmin",
      "properties": {
        "status": {
          "description": "Indicates the administrator status of the user.",
          "annotations": {
            "required": [
              "directory.users.makeAdmin"
            ]
          },
          "type": "boolean"
        }
      }
    },
    "BuildingAddress": {
      "type": "object",
      "description": "Public API: Resources.buildings",
      "properties": {
        "administrativeArea": {
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region.",
          "type": "string"
        },
        "regionCode": {
          "description": "Required. CLDR region code of the country/region of the address.",
          "type": "string"
        },
        "sublocality": {
          "description": "Optional. Sublocality of the address.",
          "type": "string"
        },
        "postalCode": {
          "description": "Optional. Postal code of the address.",
          "type": "string"
        },
        "locality": {
          "type": "string",
          "description": "Optional. Generally refers to the city/town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave locality empty and use addressLines."
        },
        "languageCode": {
          "description": "Optional. BCP-47 language code of the contents of this address (if known).",
          "type": "string"
        },
        "addressLines": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unstructured address lines describing the lower levels of an address."
        }
      },
      "id": "BuildingAddress"
    },
    "OsUpdateStatus": {
      "properties": {
        "state": {
          "description": "The update state of an OS update.",
          "type": "string",
          "enumDescriptions": [
            "The update state is unspecified.",
            "There is an update pending but it hasn't started.",
            "The pending update is being downloaded.",
            "The device is ready to install the update, but it just needs to reboot."
          ],
          "enum": [
            "updateStateUnspecified",
            "updateStateNotStarted",
            "updateStateDownloadInProgress",
            "updateStateNeedReboot"
          ]
        },
        "updateCheckTime": {
          "type": "string",
          "description": "Date and time of the last update check."
        },
        "rebootTime": {
          "description": "Date and time of the last reboot.",
          "type": "string"
        },
        "updateTime": {
          "description": "Date and time of the last successful OS update.",
          "type": "string"
        },
        "targetKioskAppVersion": {
          "type": "string",
          "description": "New required platform version from the pending updated kiosk app."
        },
        "targetOsVersion": {
          "type": "string",
          "description": "New platform version of the OS image being downloaded and applied. It is only set when update status is UPDATE_STATUS_DOWNLOAD_IN_PROGRESS or UPDATE_STATUS_NEED_REBOOT. Note this could be a dummy \"0.0.0.0\" for UPDATE_STATUS_NEED_REBOOT for some edge cases, e.g. update engine is restarted without a reboot."
        }
      },
      "id": "OsUpdateStatus",
      "description": "Contains information regarding the current OS update status.",
      "type": "object"
    },
    "BatchDeletePrintersResponse": {
      "description": "Response for deleting existing printers in batch.",
      "type": "object",
      "id": "BatchDeletePrintersResponse",
      "properties": {
        "printerIds": {
          "description": "A list of Printer.id that were successfully deleted.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "failedPrinters": {
          "type": "array",
          "items": {
            "$ref": "FailureInfo"
          },
          "description": "A list of update failures."
        }
      }
    },
    "Users": {
      "type": "object",
      "properties": {
        "trigger_event": {
          "type": "string",
          "description": "Event that triggered this response (only used in case of Push Response)"
        },
        "kind": {
          "description": "Kind of resource this is.",
          "default": "admin#directory#users",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "nextPageToken": {
          "description": "Token used to access next page of this result.",
          "type": "string"
        },
        "users": {
          "type": "array",
          "items": {
            "$ref": "User"
          },
          "description": "List of user objects."
        }
      },
      "id": "Users"
    },
    "DomainAliases": {
      "type": "object",
      "properties": {
        "domainAliases": {
          "description": "List of domain alias objects.",
          "type": "array",
          "items": {
            "$ref": "DomainAlias"
          }
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "kind": {
          "default": "admin#directory#domainAliases",
          "type": "string",
          "description": "Kind of resource this is."
        }
      },
      "id": "DomainAliases"
    },
    "Member": {
      "id": "Member",
      "properties": {
        "email": {
          "description": "The member's email address. A member can be a user or another group. This property is required when adding a member to a group. The `email` must be unique and cannot be an alias of another group. If the email address is changed, the API automatically reflects the email address changes.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "delivery_settings": {
          "description": "Defines mail delivery preferences of member. This is only supported by create/update/get.",
          "type": "string"
        },
        "status": {
          "description": "Status of member (Immutable)",
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#member",
          "description": "The type of the API resource. For Members resources, the value is `admin#directory#member`.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The unique ID of the group member. A member `id` can be used as a member request URI's `memberKey`."
        },
        "role": {
          "type": "string",
          "description": "The member's role in a group. The API returns an error for cycles in group memberships. For example, if `group1` is a member of `group2`, `group2` cannot be a member of `group1`. For more information about a member's role, see the [administration help center](https://support.google.com/a/answer/167094)."
        },
        "type": {
          "description": "The type of group member.",
          "type": "string"
        }
      },
      "description": "A Google Groups member can be a user or another group. This member can be inside or outside of your account's domains. For more information about common group member tasks, see the [Developer's Guide](/admin-sdk/directory/v1/guides/manage-group-members).",
      "type": "object"
    },
    "ListPrinterModelsResponse": {
      "description": "Response for listing allowed printer models.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "printerModels": {
          "type": "array",
          "items": {
            "$ref": "PrinterModel"
          },
          "description": "Printer models that are currently allowed to be configured for ChromeOs. Some printers may be added or removed over time."
        }
      },
      "type": "object",
      "id": "ListPrinterModelsResponse"
    },
    "AuxiliaryMessage": {
      "properties": {
        "auxiliaryMessage": {
          "description": "Human readable message in English. Example: \"Given printer is invalid or no longer supported.\"",
          "type": "string"
        },
        "fieldMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Field that this message concerns."
        },
        "severity": {
          "enumDescriptions": [
            "Message type unspecified.",
            "Message of severity: info.",
            "Message of severity: warning.",
            "Message of severity: error."
          ],
          "type": "string",
          "description": "Message severity",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "SEVERITY_INFO",
            "SEVERITY_WARNING",
            "SEVERITY_ERROR"
          ]
        }
      },
      "type": "object",
      "description": "Auxiliary message about issues with printers or settings. Example: {message_type:AUXILIARY_MESSAGE_WARNING, field_mask:make_and_model, message:\"Given printer is invalid or no longer supported.\"}",
      "id": "AuxiliaryMessage"
    },
    "UserSshPublicKey": {
      "description": "JSON template for a POSIX account entry.",
      "id": "UserSshPublicKey",
      "properties": {
        "expirationTimeUsec": {
          "description": "An expiration time in microseconds since epoch.",
          "format": "int64",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "An SSH public key."
        },
        "fingerprint": {
          "description": "A SHA-256 fingerprint of the SSH public key. (Read-only)",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "Group": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The group's display name."
        },
        "email": {
          "description": "The group's email address. If your account has multiple domains, select the appropriate domain for the email address. The `email` must be unique. This property is required when creating a group. Group email addresses are subject to the same character usage rules as usernames, see the [help center](https://support.google.com/a/answer/9193374) for details.",
          "annotations": {
            "required": [
              "directory.groups.insert"
            ]
          },
          "type": "string"
        },
        "nonEditableAliases": {
          "description": "Read-only. A list of the group's non-editable alias email addresses that are outside of the account's primary domain or subdomains. These are functioning email addresses used by the group. This is a read-only property returned in the API's response for a group. If edited in a group's POST or PUT request, the edit is ignored.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "aliases": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Read-only. A list of a group's alias email addresses. To add, update, or remove a group's aliases, use the `groups.aliases` methods. If edited in a group's POST or PUT request, the edit is ignored."
        },
        "adminCreated": {
          "type": "boolean",
          "description": "Read-only. Value is `true` if this group was created by an administrator rather than a user."
        },
        "kind": {
          "type": "string",
          "default": "admin#directory#group",
          "description": "The type of the API resource. For Groups resources, the value is `admin#directory#group`."
        },
        "directMembersCount": {
          "description": "The number of users that are direct members of the group. If a group is a member (child) of this group (the parent), members of the child group are not counted in the `directMembersCount` property of the parent group.",
          "format": "int64",
          "type": "string"
        },
        "id": {
          "description": "Read-only. The unique ID of a group. A group `id` can be used as a group request URI's `groupKey`.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "An extended description to help users determine the purpose of a group. For example, you can include information about who should join the group, the types of messages to send to the group, links to FAQs about the group, or related groups. Maximum length is `4,096` characters."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        }
      },
      "id": "Group",
      "description": "Google Groups provide your users the ability to send messages to groups of people using the group's email address. For more information about common tasks, see the [Developer's Guide](/admin-sdk/directory/v1/guides/manage-groups)."
    },
    "UserOrganization": {
      "id": "UserOrganization",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the organization."
        },
        "fullTimeEquivalent": {
          "type": "integer",
          "description": "The full-time equivalent millipercent within the organization (100000 = 100%).",
          "format": "int32"
        },
        "department": {
          "type": "string",
          "description": "Department within the organization."
        },
        "symbol": {
          "description": "Symbol of the organization.",
          "type": "string"
        },
        "costCenter": {
          "type": "string",
          "description": "The cost center of the users department."
        },
        "customType": {
          "type": "string",
          "description": "Custom type."
        },
        "location": {
          "type": "string",
          "description": "Location of the organization. This need not be fully qualified address."
        },
        "domain": {
          "description": "The domain to which the organization belongs to.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Title (designation) of the user in the organization."
        },
        "primary": {
          "description": "If it user's primary organization.",
          "type": "boolean"
        },
        "type": {
          "description": "Each entry can have a type which indicates standard types of that entry. For example organization could be of school work etc. In addition to the standard type an entry can have a custom type and can give it any name. Such types should have the CUSTOM value as type and also have a CustomType value.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the organization"
        }
      },
      "description": "JSON template for an organization entry."
    },
    "BuildingCoordinates": {
      "type": "object",
      "description": "Public API: Resources.buildings",
      "id": "BuildingCoordinates",
      "properties": {
        "latitude": {
          "format": "double",
          "description": "Latitude in decimal degrees.",
          "type": "number"
        },
        "longitude": {
          "description": "Longitude in decimal degrees.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "Asps": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Asp"
          },
          "description": "A list of ASP resources."
        },
        "kind": {
          "type": "string",
          "default": "admin#directory#aspList",
          "description": "The type of the API resource. This is always `admin#directory#aspList`."
        }
      },
      "id": "Asps",
      "type": "object"
    },
    "Role": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "default": "admin#directory#role",
          "description": "The type of the API resource. This is always `admin#directory#role`."
        },
        "roleDescription": {
          "type": "string",
          "description": "A short description of the role."
        },
        "isSystemRole": {
          "type": "boolean",
          "description": "Returns `true` if this is a pre-defined system role."
        },
        "roleId": {
          "format": "int64",
          "description": "ID of the role.",
          "type": "string"
        },
        "rolePrivileges": {
          "type": "array",
          "annotations": {
            "required": [
              "directory.roles.insert"
            ]
          },
          "items": {
            "type": "object",
            "properties": {
              "serviceId": {
                "description": "The obfuscated ID of the service this privilege is for. This value is returned with [`Privileges.list()`](/admin-sdk/directory/v1/reference/privileges/list).",
                "type": "string"
              },
              "privilegeName": {
                "description": "The name of the privilege.",
                "type": "string"
              }
            }
          },
          "description": "The set of privileges that are granted to this role."
        },
        "roleName": {
          "type": "string",
          "description": "Name of the role.",
          "annotations": {
            "required": [
              "directory.roles.insert"
            ]
          }
        },
        "isSuperAdminRole": {
          "description": "Returns `true` if the role is a super admin role.",
          "type": "boolean"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      },
      "id": "Role"
    },
    "SchemaFieldSpec": {
      "description": "You can use schemas to add custom fields to user profiles. You can use these fields to store information such as the projects your users work on, their physical locations, their hire dates, or whatever else fits your business needs. For more information, see [Custom User Fields](/admin-sdk/directory/v1/guides/manage-schemas).",
      "id": "SchemaFieldSpec",
      "properties": {
        "fieldType": {
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          },
          "description": "The type of the field.",
          "type": "string"
        },
        "indexed": {
          "description": "Boolean specifying whether the field is indexed or not. Default: `true`.",
          "type": "boolean",
          "default": "true"
        },
        "displayName": {
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          },
          "description": "Display Name of the field.",
          "type": "string"
        },
        "numericIndexingSpec": {
          "description": "Indexing spec for a numeric field. By default, only exact match queries will be supported for numeric fields. Setting the `numericIndexingSpec` allows range queries to be supported.",
          "properties": {
            "minValue": {
              "description": "Minimum value of this field. This is meant to be indicative rather than enforced. Values outside this range will still be indexed, but search may not be as performant.",
              "type": "number",
              "format": "double"
            },
            "maxValue": {
              "format": "double",
              "type": "number",
              "description": "Maximum value of this field. This is meant to be indicative rather than enforced. Values outside this range will still be indexed, but search may not be as performant."
            }
          },
          "type": "object"
        },
        "etag": {
          "type": "string",
          "description": "The ETag of the field."
        },
        "fieldId": {
          "description": "The unique identifier of the field (Read-only)",
          "type": "string"
        },
        "readAccessType": {
          "default": "ALL_DOMAIN_USERS",
          "type": "string",
          "description": "Specifies who can view values of this field. See [Retrieve users as a non-administrator](/admin-sdk/directory/v1/guides/manage-users#retrieve_users_non_admin) for more information. Note: It may take up to 24 hours for changes to this field to be reflected."
        },
        "fieldName": {
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          },
          "description": "The name of the field.",
          "type": "string"
        },
        "multiValued": {
          "description": "A boolean specifying whether this is a multi-valued field or not. Default: `false`.",
          "type": "boolean"
        },
        "kind": {
          "default": "admin#directory#schema#fieldspec",
          "description": "The kind of resource this is. For schema fields this is always `admin#directory#schema#fieldspec`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Schemas": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "kind": {
          "default": "admin#directory#schemas",
          "description": "Kind of resource this is.",
          "type": "string"
        },
        "schemas": {
          "description": "List of UserSchema objects.",
          "type": "array",
          "items": {
            "$ref": "Schema"
          }
        }
      },
      "type": "object",
      "id": "Schemas",
      "description": "JSON response template for List Schema operation in Directory API."
    },
    "UserIm": {
      "id": "UserIm",
      "description": "JSON template for instant messenger of an user.",
      "type": "object",
      "properties": {
        "im": {
          "type": "string",
          "description": "Instant messenger id."
        },
        "customType": {
          "type": "string",
          "description": "Custom type."
        },
        "primary": {
          "type": "boolean",
          "description": "If this is user's primary im. Only one entry could be marked as primary."
        },
        "type": {
          "type": "string",
          "description": "Each entry can have a type which indicates standard types of that entry. For example instant messengers could be of home work etc. In addition to the standard type an entry can have a custom type and can take any value. Such types should have the CUSTOM value as type and also have a customType value."
        },
        "customProtocol": {
          "type": "string",
          "description": "Custom protocol."
        },
        "protocol": {
          "type": "string",
          "description": "Protocol used in the instant messenger. It should be one of the values from ImProtocolTypes map. Similar to type it can take a CUSTOM value and specify the custom name in customProtocol field."
        }
      }
    },
    "Asp": {
      "description": "An application-specific password (ASP) is used with applications that do not accept a verification code when logging into the application on certain devices. The ASP access code is used instead of the login and password you commonly use when accessing an application through a browser. For more information about ASPs and how to create one, see the [help center](https://support.google.com/a/answer/2537800#asp).",
      "type": "object",
      "id": "Asp",
      "properties": {
        "userKey": {
          "description": "The unique ID of the user who issued the ASP.",
          "type": "string"
        },
        "creationTime": {
          "description": "The time when the ASP was created. Expressed in [Unix time](https://en.wikipedia.org/wiki/Epoch_time) format.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "The type of the API resource. This is always `admin#directory#asp`.",
          "default": "admin#directory#asp"
        },
        "lastTimeUsed": {
          "type": "string",
          "description": "The time when the ASP was last used. Expressed in [Unix time](https://en.wikipedia.org/wiki/Epoch_time) format.",
          "format": "int64"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the ASP."
        },
        "name": {
          "type": "string",
          "description": "The name of the application that the user, represented by their `userId`, entered when the ASP was created."
        },
        "codeId": {
          "description": "The unique ID of the ASP.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "DirectoryChromeosdevicesIssueCommandResponse": {
      "properties": {
        "commandId": {
          "type": "string",
          "format": "int64",
          "description": "The unique ID of the issued command, used to retrieve the command status."
        }
      },
      "type": "object",
      "description": "A response for issuing a command.",
      "id": "DirectoryChromeosdevicesIssueCommandResponse"
    },
    "ChromeOsMoveDevicesToOu": {
      "type": "object",
      "id": "ChromeOsMoveDevicesToOu",
      "properties": {
        "deviceIds": {
          "type": "array",
          "annotations": {
            "required": [
              "directory.chromeosdevices.moveDevicesToOu"
            ]
          },
          "description": "Chrome OS devices to be moved to OU",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DirectoryChromeosdevicesCommand": {
      "description": "Information regarding a command that was issued to a device.",
      "type": "object",
      "id": "DirectoryChromeosdevicesCommand",
      "properties": {
        "commandExpireTime": {
          "description": "The time at which the command will expire. If the device doesn't execute the command within this time the command will become expired.",
          "format": "google-datetime",
          "type": "string"
        },
        "commandResult": {
          "$ref": "DirectoryChromeosdevicesCommandResult",
          "description": "The result of the command execution."
        },
        "commandId": {
          "format": "int64",
          "description": "Unique ID of a device command.",
          "type": "string"
        },
        "issueTime": {
          "format": "google-datetime",
          "description": "The timestamp when the command was issued by the admin.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "EXPIRED",
            "CANCELLED",
            "SENT_TO_CLIENT",
            "ACKED_BY_CLIENT",
            "EXECUTED_BY_CLIENT"
          ],
          "enumDescriptions": [
            "The command status was unspecified.",
            "An unexpired command not yet sent to the client.",
            "The command didn't get executed by the client within the expected time.",
            "The command is cancelled by admin while in PENDING.",
            "The command has been sent to the client.",
            "The client has responded that it received the command.",
            "The client has (un)successfully executed the command."
          ],
          "description": "Indicates the command state.",
          "type": "string"
        },
        "payload": {
          "type": "string",
          "description": "The payload that the command specified, if any."
        },
        "type": {
          "description": "The type of the command.",
          "type": "string",
          "enum": [
            "COMMAND_TYPE_UNSPECIFIED",
            "REBOOT",
            "TAKE_A_SCREENSHOT",
            "SET_VOLUME",
            "WIPE_USERS",
            "REMOTE_POWERWASH"
          ],
          "enumDescriptions": [
            "The command type was unspecified.",
            "Reboot the device. Can only be issued to Kiosk and managed guest session devices.",
            "Take a screenshot of the device. Only available if the device is in Kiosk Mode.",
            "Set the volume of the device. Can only be issued to Kiosk and managed guest session devices.",
            "Wipe all the users off of the device. Executing this command in the device will remove all user profile data, but it will keep device policy and enrollment.",
            "Wipes the device by performing a power wash. Executing this command in the device will remove all data including user policies, device policies and enrollment policies. Warning: This will revert the device back to a factory state with no enrollment unless the device is subject to forced or auto enrollment. Use with caution, as this is an irreversible action!"
          ]
        }
      }
    },
    "Groups": {
      "type": "object",
      "id": "Groups",
      "properties": {
        "kind": {
          "description": "Kind of resource this is.",
          "default": "admin#directory#groups",
          "type": "string"
        },
        "groups": {
          "description": "List of group objects.",
          "items": {
            "$ref": "Group"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token used to access next page of this result.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        }
      }
    },
    "UserPhone": {
      "description": "JSON template for a phone entry.",
      "properties": {
        "customType": {
          "description": "Custom Type.",
          "type": "string"
        },
        "type": {
          "description": "Each entry can have a type which indicates standard types of that entry. For example phone could be of home_fax work mobile etc. In addition to the standard type an entry can have a custom type and can give it any name. Such types should have the CUSTOM value as type and also have a customType value.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Phone number."
        },
        "primary": {
          "description": "If this is user's primary phone or not.",
          "type": "boolean"
        }
      },
      "id": "UserPhone",
      "type": "object"
    },
    "Aliases": {
      "type": "object",
      "id": "Aliases",
      "properties": {
        "kind": {
          "default": "admin#directory#aliases",
          "type": "string"
        },
        "aliases": {
          "items": {
            "type": "any"
          },
          "type": "array"
        },
        "etag": {
          "type": "string"
        }
      },
      "description": "JSON response template to list aliases in Directory API."
    },
    "BatchCreatePrintersResponse": {
      "id": "BatchCreatePrintersResponse",
      "description": "Response for adding new printers in batch.",
      "properties": {
        "failures": {
          "type": "array",
          "items": {
            "$ref": "FailureInfo"
          },
          "description": "A list of create failures. Printer IDs are not populated, as printer were not created."
        },
        "printers": {
          "type": "array",
          "description": "A list of successfully created printers with their IDs populated.",
          "items": {
            "$ref": "Printer"
          }
        }
      },
      "type": "object"
    },
    "Customer": {
      "id": "Customer",
      "properties": {
        "customerCreationTime": {
          "format": "date-time",
          "description": "The customer's creation time (Readonly)",
          "type": "string"
        },
        "phoneNumber": {
[...]
