{
  "rootUrl": "https://admin.googleapis.com/",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "name": "admin",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "packagePath": "admin",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.directory.group.readonly": {
          "description": "View groups on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly": {
          "description": "View calendar resources on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.customer.readonly": {
          "description": "View customer related information"
        },
        "https://www.googleapis.com/auth/admin.chrome.printers": {
          "description": "See, add, edit, and permanently delete the printers that your organization can use with Chrome"
        },
        "https://www.googleapis.com/auth/admin.directory.group": {
          "description": "View and manage the provisioning of groups on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.userschema": {
          "description": "View and manage the provisioning of user schemas on your domain"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/admin.directory.device.mobile.readonly": {
          "description": "View your mobile devices' metadata"
        },
        "https://www.googleapis.com/auth/admin.directory.user.security": {
          "description": "Manage data access permissions for users on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.user.alias.readonly": {
          "description": "View user aliases on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.user.alias": {
          "description": "View and manage user aliases on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly": {
          "description": "View your Chrome OS devices' metadata"
        },
        "https://www.googleapis.com/auth/admin.directory.device.mobile": {
          "description": "View and manage your mobile devices' metadata"
        },
        "https://www.googleapis.com/auth/admin.directory.group.member.readonly": {
          "description": "View group subscriptions on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.device.chromeos": {
          "description": "View and manage your Chrome OS devices' metadata"
        },
        "https://www.googleapis.com/auth/admin.directory.user": {
          "description": "View and manage the provisioning of users on your domain"
        },
        "https://www.googleapis.com/auth/admin.chrome.printers.readonly": {
          "description": "See the printers that your organization can use with Chrome"
        },
        "https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly": {
          "description": "View delegated admin roles for your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.userschema.readonly": {
          "description": "View user schemas on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.user.readonly": {
          "description": "See info about users on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.device.mobile.action": {
          "description": "Manage your mobile devices by performing administrative tasks"
        },
        "https://www.googleapis.com/auth/admin.directory.orgunit": {
          "description": "View and manage organization units on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.rolemanagement": {
          "description": "Manage delegated admin roles for your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.customer": {
          "description": "View and manage customer related information"
        },
        "https://www.googleapis.com/auth/admin.directory.orgunit.readonly": {
          "description": "View organization units on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.group.member": {
          "description": "View and manage group subscriptions on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.resource.calendar": {
          "description": "View and manage the provisioning of calendar resources on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.domain.readonly": {
          "description": "View domains related to your customers"
        },
        "https://www.googleapis.com/auth/admin.directory.domain": {
          "description": "View and manage the provisioning of domains for your customers"
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "title": "Admin SDK API",
  "documentationLink": "https://developers.google.com/admin-sdk/",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "id": "admin:directory_v1",
  "version": "directory_v1",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "schemas": {
    "BatchDeletePrintServersResponse": {
      "properties": {
        "printServerIds": {
          "description": "A list of print server IDs that were successfully deleted.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "failedPrintServers": {
          "description": "A list of update failures.",
          "type": "array",
          "items": {
            "$ref": "PrintServerFailureInfo"
          }
        }
      },
      "id": "BatchDeletePrintServersResponse",
      "type": "object"
    },
    "UserLanguage": {
      "properties": {
        "languageCode": {
          "description": "ISO 639 string representation of a language. See [Language Codes](/admin-sdk/directory/v1/languages) for the list of supported codes. Valid language codes outside the supported set will be accepted by the API but may lead to unexpected behavior. Illegal values cause `SchemaException`. If this is set, `customLanguage` can't be set.",
          "type": "string"
        },
        "preference": {
          "type": "string",
          "description": "Optional. If present, controls whether the specified `languageCode` is the user's preferred language. If `customLanguage` is set, this can't be set. Allowed values are `preferred` and `not_preferred`."
        },
        "customLanguage": {
          "description": "Other language. User can provide their own language name if there is no corresponding ISO 639 language code. If this is set, `languageCode` can't be set.",
          "type": "string"
        }
      },
      "id": "UserLanguage",
      "description": "JSON template for a language entry.",
      "type": "object"
    },
    "BatchCreatePrintersResponse": {
      "description": "Response for adding new printers in batch.",
      "id": "BatchCreatePrintersResponse",
      "properties": {
        "failures": {
          "description": "A list of create failures. Printer IDs are not populated, as printer were not created.",
          "type": "array",
          "items": {
            "$ref": "FailureInfo"
          }
        },
        "printers": {
          "items": {
            "$ref": "Printer"
          },
          "description": "A list of successfully created printers with their IDs populated.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "DomainAliases": {
      "properties": {
        "kind": {
          "description": "Kind of resource this is.",
          "type": "string",
          "default": "admin#directory#domainAliases"
        },
        "domainAliases": {
          "items": {
            "$ref": "DomainAlias"
          },
          "type": "array",
          "description": "A list of domain alias objects."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        }
      },
      "type": "object",
      "id": "DomainAliases"
    },
    "MembersHasMember": {
      "type": "object",
      "description": "JSON template for Has Member response in Directory API.",
      "properties": {
        "isMember": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the given user is a member of the group. Membership can be direct or nested."
        }
      },
      "id": "MembersHasMember"
    },
    "PrintServer": {
      "description": "Configuration for a print server.",
      "type": "object",
      "id": "PrintServer",
      "properties": {
        "id": {
          "description": "Immutable. ID of the print server. Leave empty when creating.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Editable. Display name of the print server (as shown in the Admin console)."
        },
        "orgUnitId": {
          "description": "ID of the organization unit (OU) that owns this print server. This value can only be set when the print server is initially created. If it's not populated, the print server is placed under the root OU. The `org_unit_id` can be retrieved using the [Directory API](/admin-sdk/directory/reference/rest/v1/orgunits).",
          "type": "string"
        },
        "description": {
          "description": "Editable. Description of the print server (as shown in the Admin console).",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "Editable. Print server URI."
        },
        "createTime": {
          "description": "Output only. Time when the print server was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Resource name of the print server. Leave empty when creating. Format: `customers/{customer.id}/printServers/{print_server.id}`"
        }
      }
    },
    "UserPhone": {
      "description": "JSON template for a phone entry.",
      "id": "UserPhone",
      "properties": {
        "type": {
          "type": "string",
          "description": "Each entry can have a type which indicates standard types of that entry. For example phone could be of home_fax work mobile etc. In addition to the standard type an entry can have a custom type and can give it any name. Such types should have the CUSTOM value as type and also have a customType value."
        },
        "customType": {
          "type": "string",
          "description": "Custom Type."
        },
        "value": {
          "description": "Phone number.",
          "type": "string"
        },
        "primary": {
          "type": "boolean",
          "description": "If this is user's primary phone or not."
        }
      },
      "type": "object"
    },
    "ListPrintersResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "printers": {
          "description": "List of printers. If `org_unit_id` was given in the request, then only printers visible for this OU will be returned. If `org_unit_id` was not given in the request, then all printers will be returned.",
          "items": {
            "$ref": "Printer"
          },
          "type": "array"
        }
      },
      "id": "ListPrintersResponse",
      "type": "object",
      "description": "Response for listing printers."
    },
    "Privilege": {
      "id": "Privilege",
      "type": "object",
      "properties": {
        "serviceId": {
          "type": "string",
          "description": "The obfuscated ID of the service this privilege is for. This value is returned with [`Privileges.list()`](/admin-sdk/directory/v1/reference/privileges/list)."
        },
        "privilegeName": {
          "description": "The name of the privilege.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "isOuScopable": {
          "description": "If the privilege can be restricted to an organization unit.",
          "type": "boolean"
        },
        "serviceName": {
          "type": "string",
          "description": "The name of the service this privilege is for."
        },
        "childPrivileges": {
          "description": "A list of child privileges. Privileges for a service form a tree. Each privilege can have a list of child privileges; this list is empty for a leaf privilege.",
          "type": "array",
          "items": {
            "$ref": "Privilege"
          }
        },
        "kind": {
          "default": "admin#directory#privilege",
          "type": "string",
          "description": "The type of the API resource. This is always `admin#directory#privilege`."
        }
      }
    },
    "UserOrganization": {
      "type": "object",
      "properties": {
        "symbol": {
          "type": "string",
          "description": "Symbol of the organization."
        },
        "name": {
          "type": "string",
          "description": "Name of the organization"
        },
        "costCenter": {
          "type": "string",
          "description": "The cost center of the users department."
        },
        "department": {
          "description": "Department within the organization.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Location of the organization. This need not be fully qualified address."
        },
        "customType": {
          "description": "Custom type.",
          "type": "string"
        },
        "domain": {
          "description": "The domain to which the organization belongs to.",
          "type": "string"
        },
        "primary": {
          "description": "If it user's primary organization.",
          "type": "boolean"
        },
        "title": {
          "description": "Title (designation) of the user in the organization.",
          "type": "string"
        },
        "type": {
          "description": "Each entry can have a type which indicates standard types of that entry. For example organization could be of school work etc. In addition to the standard type an entry can have a custom type and can give it any name. Such types should have the CUSTOM value as type and also have a CustomType value.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of the organization."
        },
        "fullTimeEquivalent": {
          "format": "int32",
          "type": "integer",
          "description": "The full-time equivalent millipercent within the organization (100000 = 100%)."
        }
      },
      "description": "JSON template for an organization entry.",
      "id": "UserOrganization"
    },
    "Domains": {
      "id": "Domains",
      "type": "object",
      "properties": {
        "verified": {
          "description": "Indicates the verification state of a domain. (Read-only).",
          "type": "boolean"
        },
        "isPrimary": {
          "type": "boolean",
          "description": "Indicates if the domain is a primary domain (Read-only)."
        },
        "domainName": {
          "annotations": {
            "required": [
              "directory.domains.insert"
            ]
          },
          "type": "string",
          "description": "The domain name of the customer."
        },
        "kind": {
          "default": "admin#directory#domain",
          "description": "Kind of resource this is.",
          "type": "string"
        },
        "creationTime": {
          "format": "int64",
          "type": "string",
          "description": "Creation time of the domain. Expressed in [Unix time](https://en.wikipedia.org/wiki/Epoch_time) format. (Read-only)."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "domainAliases": {
          "description": "A list of domain alias objects. (Read-only)",
          "items": {
            "$ref": "DomainAlias"
          },
          "type": "array"
        }
      }
    },
    "BatchCreatePrintServersRequest": {
      "id": "BatchCreatePrintServersRequest",
      "properties": {
        "requests": {
          "description": "Required. A list of `PrintServer` resources to be created (max `50` per batch).",
          "type": "array",
          "items": {
            "$ref": "CreatePrintServerRequest"
          }
        }
      },
      "description": "Request to add multiple new print servers in a batch.",
      "type": "object"
    },
    "UserGender": {
      "id": "UserGender",
      "type": "object",
      "properties": {
        "type": {
          "description": "Gender.",
          "type": "string"
        },
        "addressMeAs": {
          "description": "AddressMeAs. A human-readable string containing the proper way to refer to the profile owner by humans for example he/him/his or they/them/their.",
          "type": "string"
        },
        "customGender": {
          "type": "string",
          "description": "Custom gender."
        }
      }
    },
    "Token": {
      "id": "Token",
      "properties": {
        "userKey": {
          "type": "string",
          "description": "The unique ID of the user that issued the token."
        },
        "anonymous": {
          "type": "boolean",
          "description": "Whether the application is registered with Google. The value is `true` if the application has an anonymous Client ID."
        },
        "displayText": {
          "type": "string",
          "description": "The displayable name of the application the token is issued to."
        },
        "scopes": {
          "description": "A list of authorization scopes the application is granted.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "clientId": {
          "description": "The Client ID of the application the token is issued to.",
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#token",
          "description": "The type of the API resource. This is always `admin#directory#token`.",
          "type": "string"
        },
        "nativeApp": {
          "type": "boolean",
          "description": "Whether the token is issued to an installed application. The value is `true` if the application is installed to a desktop or mobile device."
        }
      },
      "type": "object",
      "description": "JSON template for token resource in Directory API."
    },
    "UserUndelete": {
      "type": "object",
      "id": "UserUndelete",
      "properties": {
        "orgUnitPath": {
          "type": "string",
          "description": "OrgUnit of User"
        }
      }
    },
    "MobileDevices": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access next page of this result."
        },
        "mobiledevices": {
          "type": "array",
          "description": "A list of Mobile Device objects.",
          "items": {
            "$ref": "MobileDevice"
          }
        },
        "kind": {
          "type": "string",
          "description": "Kind of resource this is.",
          "default": "admin#directory#mobiledevices"
        }
      },
      "id": "MobileDevices",
      "type": "object"
    },
    "VerificationCode": {
      "properties": {
        "verificationCode": {
          "type": "string",
          "description": "A current verification code for the user. Invalidated or used verification codes are not returned as part of the result."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "admin#directory#verificationCode",
          "description": "The type of the resource. This is always `admin#directory#verificationCode`."
        },
        "userId": {
          "description": "The obfuscated unique ID of the user.",
          "type": "string"
        }
      },
      "description": "The Directory API allows you to view, generate, and invalidate backup verification codes for a user.",
      "id": "VerificationCode",
      "type": "object"
    },
    "Feature": {
      "properties": {
        "kind": {
          "default": "admin#directory#resources#features#Feature",
          "type": "string",
          "description": "Kind of resource this is."
        },
        "name": {
          "annotations": {
            "required": [
              "directory.resources.features.insert"
            ]
          },
          "description": "The name of the feature.",
          "type": "string"
        },
        "etags": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      },
      "id": "Feature",
      "type": "object",
      "description": "JSON template for Feature object in Directory API."
    },
    "ChromeOsDevices": {
      "properties": {
        "kind": {
          "description": "Kind of resource this is.",
          "type": "string",
          "default": "admin#directory#chromeosdevices"
        },
        "chromeosdevices": {
          "items": {
            "$ref": "ChromeOsDevice"
          },
          "description": "A list of Chrome OS Device objects.",
          "type": "array"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access the next page of this result. To access the next page, use this token's value in the `pageToken` query string of this request."
        }
      },
      "id": "ChromeOsDevices",
      "type": "object"
    },
    "FeatureRename": {
      "type": "object",
      "properties": {
        "newName": {
          "description": "New name of the feature.",
          "type": "string",
          "annotations": {
            "required": [
              "directory.resources.features.rename"
            ]
          }
        }
      },
      "id": "FeatureRename"
    },
    "ChromeOsDeviceAction": {
      "properties": {
        "deprovisionReason": {
          "type": "string",
          "description": "Only used when the action is `deprovision`. With the `deprovision` action, this field is required. *Note*: The deprovision reason is audited because it might have implications on licenses for perpetual subscription customers."
        },
        "action": {
          "annotations": {
            "required": [
              "directory.chromeosdevices.action"
            ]
          },
          "type": "string",
          "description": "Action to be taken on the Chrome OS device."
        }
      },
      "id": "ChromeOsDeviceAction",
      "description": "Data about an update to the status of a Chrome OS device.",
      "type": "object"
    },
    "Aliases": {
      "type": "object",
      "properties": {
        "kind": {
          "default": "admin#directory#aliases",
          "type": "string"
        },
        "aliases": {
          "items": {
            "type": "any"
          },
          "type": "array"
        },
        "etag": {
          "type": "string"
        }
      },
      "description": "JSON response template to list aliases in Directory API.",
      "id": "Aliases"
    },
    "UserWebsite": {
      "type": "object",
      "description": "JSON template for a website entry.",
      "properties": {
        "customType": {
          "type": "string",
          "description": "Custom Type."
        },
        "type": {
          "description": "Each entry can have a type which indicates standard types of that entry. For example website could be of home work blog etc. In addition to the standard type an entry can have a custom type and can give it any name. Such types should have the CUSTOM value as type and also have a customType value.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Website."
        },
        "primary": {
          "type": "boolean",
          "description": "If this is user's primary website or not."
        }
      },
      "id": "UserWebsite"
    },
    "UserKeyword": {
      "description": "JSON template for a keyword entry.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Each entry can have a type which indicates standard type of that entry. For example keyword could be of type occupation or outlook. In addition to the standard type an entry can have a custom type and can give it any name. Such types should have the CUSTOM value as type and also have a customType value."
        },
        "customType": {
          "type": "string",
          "description": "Custom Type."
        },
        "value": {
          "type": "string",
          "description": "Keyword."
        }
      },
      "type": "object",
      "id": "UserKeyword"
    },
    "UserAlias": {
      "id": "UserAlias",
      "description": "The Directory API manages aliases, which are alternative email addresses.",
      "properties": {
        "alias": {
          "description": "The alias email address.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "id": {
          "description": "The unique ID for the user.",
          "type": "string"
        },
        "primaryEmail": {
          "description": "The user's primary email address.",
          "type": "string"
        },
        "kind": {
          "description": "The type of the API resource. For Alias resources, the value is `admin#directory#alias`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Channel": {
      "id": "Channel",
      "description": "An notification channel used to watch for resource changes.",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of delivery mechanism used for this channel.",
          "type": "string"
        },
        "id": {
          "description": "A UUID or similar unique string that identifies this channel.",
          "type": "string"
        },
        "payload": {
          "type": "boolean",
          "description": "A Boolean value to indicate whether payload is wanted. Optional."
        },
        "address": {
          "type": "string",
          "description": "The address where notifications are delivered for this channel."
        },
        "expiration": {
          "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.",
          "format": "int64",
          "type": "string"
        },
        "token": {
          "type": "string",
          "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional."
        },
        "resourceId": {
          "type": "string",
          "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions."
        },
        "resourceUri": {
          "type": "string",
          "description": "A version-specific identifier for the watched resource."
        },
        "kind": {
          "default": "api#channel",
          "type": "string",
          "description": "Identifies this as a notification channel used to watch for changes to a resource, which is `api#channel`."
        },
        "params": {
          "description": "Additional parameters controlling delivery channel behavior. Optional. For example, `params.ttl` specifies the time-to-live in seconds for the notification channel, where the default is 2 hours and the maximum TTL is 2 days.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "CreatePrinterRequest": {
      "id": "CreatePrinterRequest",
      "type": "object",
      "description": "Request for adding a new printer.",
      "properties": {
        "parent": {
          "description": "Required. The name of the customer. Format: customers/{customer_id}",
          "type": "string"
        },
        "printer": {
          "description": "Required. A printer to create. If you want to place the printer under particular OU then populate printer.org_unit_id filed. Otherwise the printer will be placed under root OU.",
          "$ref": "Printer"
        }
      }
    },
    "UserSshPublicKey": {
      "type": "object",
      "properties": {
        "key": {
          "description": "An SSH public key.",
          "type": "string"
        },
        "expirationTimeUsec": {
          "type": "string",
          "description": "An expiration time in microseconds since epoch.",
          "format": "int64"
        },
        "fingerprint": {
          "readOnly": true,
          "description": "A SHA-256 fingerprint of the SSH public key. (Read-only)",
          "type": "string"
        }
      },
      "id": "UserSshPublicKey",
      "description": "JSON template for a POSIX account entry."
    },
    "BuildingCoordinates": {
      "type": "object",
      "description": "Public API: Resources.buildings",
      "id": "BuildingCoordinates",
      "properties": {
        "latitude": {
          "description": "Latitude in decimal degrees.",
          "type": "number",
          "format": "double"
        },
        "longitude": {
          "type": "number",
          "format": "double",
          "description": "Longitude in decimal degrees."
        }
      }
    },
    "OsUpdateStatus": {
      "type": "object",
      "description": "Contains information regarding the current OS update status.",
      "properties": {
        "targetKioskAppVersion": {
          "description": "New required platform version from the pending updated kiosk app.",
          "type": "string"
        },
        "targetOsVersion": {
          "type": "string",
          "description": "New platform version of the OS image being downloaded and applied. It is only set when update status is UPDATE_STATUS_DOWNLOAD_IN_PROGRESS or UPDATE_STATUS_NEED_REBOOT. Note this could be a dummy \"0.0.0.0\" for UPDATE_STATUS_NEED_REBOOT for some edge cases, e.g. update engine is restarted without a reboot."
        },
        "state": {
          "description": "The update state of an OS update.",
          "enum": [
            "updateStateUnspecified",
            "updateStateNotStarted",
            "updateStateDownloadInProgress",
            "updateStateNeedReboot"
          ],
          "enumDescriptions": [
            "The update state is unspecified.",
            "There is an update pending but it hasn't started.",
            "The pending update is being downloaded.",
            "The device is ready to install the update, but must reboot."
          ],
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Date and time of the last successful OS update."
        },
        "updateCheckTime": {
          "description": "Date and time of the last update check.",
          "type": "string"
        },
        "rebootTime": {
          "description": "Date and time of the last reboot.",
          "type": "string"
        }
      },
      "id": "OsUpdateStatus"
    },
    "UserAbout": {
      "id": "UserAbout",
      "type": "object",
      "description": "JSON template for About (notes) of a user in Directory API.",
      "properties": {
        "value": {
          "type": "string",
          "description": "Actual value of notes."
        },
        "contentType": {
          "description": "About entry can have a type which indicates the content type. It can either be plain or html. By default, notes contents are assumed to contain plain text.",
          "type": "string"
        }
      }
    },
    "Features": {
      "id": "Features",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "default": "admin#directory#resources#features#featuresList",
          "description": "Kind of resource this is."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
        },
        "features": {
          "description": "The Features in this page of results.",
          "items": {
            "$ref": "Feature"
          },
          "type": "array"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      },
      "description": "Public API: Resources.features"
    },
    "Role": {
      "id": "Role",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "default": "admin#directory#role",
          "description": "The type of the API resource. This is always `admin#directory#role`."
        },
        "rolePrivileges": {
          "annotations": {
            "required": [
              "directory.roles.insert"
            ]
          },
          "items": {
            "type": "object",
            "properties": {
              "serviceId": {
                "description": "The obfuscated ID of the service this privilege is for. This value is returned with [`Privileges.list()`](/admin-sdk/directory/v1/reference/privileges/list).",
                "type": "string"
              },
              "privilegeName": {
                "type": "string",
                "description": "The name of the privilege."
              }
            }
          },
          "type": "array",
          "description": "The set of privileges that are granted to this role."
        },
        "roleName": {
          "annotations": {
            "required": [
              "directory.roles.insert"
            ]
          },
          "type": "string",
          "description": "Name of the role."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "isSystemRole": {
          "type": "boolean",
          "description": "Returns `true` if this is a pre-defined system role."
        },
        "roleId": {
          "description": "ID of the role.",
          "format": "int64",
          "type": "string"
        },
        "isSuperAdminRole": {
          "type": "boolean",
          "description": "Returns `true` if the role is a super admin role."
        },
        "roleDescription": {
          "type": "string",
          "description": "A short description of the role."
        }
      }
    },
    "UserEmail": {
      "type": "object",
      "properties": {
        "primary": {
          "type": "boolean",
          "description": "If this is user's primary email. Only one entry could be marked as primary."
        },
        "type": {
          "type": "string",
          "description": "Each entry can have a type which indicates standard types of that entry. For example email could be of home, work etc. In addition to the standard type, an entry can have a custom type and can take any value Such types should have the CUSTOM value as type and also have a customType value."
        },
        "address": {
          "description": "Email id of the user.",
          "type": "string"
        },
        "customType": {
          "type": "string",
          "description": "Custom Type."
        }
      },
      "id": "UserEmail",
      "description": "JSON template for an email."
    },
    "SchemaFieldSpec": {
      "type": "object",
      "id": "SchemaFieldSpec",
      "properties": {
        "etag": {
          "type": "string",
          "description": "The ETag of the field."
        },
        "displayName": {
          "description": "Display Name of the field.",
          "type": "string",
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          }
        },
        "multiValued": {
          "description": "A boolean specifying whether this is a multi-valued field or not. Default: `false`.",
          "type": "boolean"
        },
        "fieldId": {
          "type": "string",
          "description": "The unique identifier of the field (Read-only)"
        },
        "fieldName": {
          "description": "The name of the field.",
          "type": "string",
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          }
        },
        "readAccessType": {
          "description": "Specifies who can view values of this field. See [Retrieve users as a non-administrator](/admin-sdk/directory/v1/guides/manage-users#retrieve_users_non_admin) for more information. Note: It may take up to 24 hours for changes to this field to be reflected.",
          "default": "ALL_DOMAIN_USERS",
          "type": "string"
        },
        "fieldType": {
          "description": "The type of the field.",
          "type": "string",
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          }
        },
        "indexed": {
          "type": "boolean",
          "description": "Boolean specifying whether the field is indexed or not. Default: `true`.",
          "default": "true"
        },
        "kind": {
          "description": "The kind of resource this is. For schema fields this is always `admin#directory#schema#fieldspec`.",
          "default": "admin#directory#schema#fieldspec",
          "type": "string"
        },
        "numericIndexingSpec": {
          "type": "object",
          "properties": {
            "maxValue": {
              "type": "number",
              "format": "double",
              "description": "Maximum value of this field. This is meant to be indicative rather than enforced. Values outside this range will still be indexed, but search may not be as performant."
            },
            "minValue": {
              "type": "number",
              "description": "Minimum value of this field. This is meant to be indicative rather than enforced. Values outside this range will still be indexed, but search may not be as performant.",
              "format": "double"
            }
          },
          "description": "Indexing spec for a numeric field. By default, only exact match queries will be supported for numeric fields. Setting the `numericIndexingSpec` allows range queries to be supported."
        }
      },
      "description": "You can use schemas to add custom fields to user profiles. You can use these fields to store information such as the projects your users work on, their physical locations, their hire dates, or whatever else fits your business needs. For more information, see [Custom User Fields](/admin-sdk/directory/v1/guides/manage-schemas)."
    },
    "GroupAlias": {
      "id": "GroupAlias",
      "type": "object",
      "description": "The Directory API manages aliases, which are alternative email addresses.",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "id": {
          "description": "The unique ID of the group.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "The type of the API resource. For Alias resources, the value is `admin#directory#alias`."
        },
        "alias": {
          "description": "The alias email address.",
          "type": "string"
        },
        "primaryEmail": {
          "type": "string",
          "description": "The primary email address of the group."
        }
      }
    },
    "BuildingAddress": {
      "description": "Public API: Resources.buildings",
      "type": "object",
      "id": "BuildingAddress",
      "properties": {
        "sublocality": {
          "type": "string",
          "description": "Optional. Sublocality of the address."
        },
        "regionCode": {
          "description": "Required. CLDR region code of the country/region of the address.",
          "type": "string"
        },
        "locality": {
          "type": "string",
          "description": "Optional. Generally refers to the city/town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave locality empty and use addressLines."
        },
        "administrativeArea": {
          "type": "string",
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region."
        },
        "postalCode": {
          "type": "string",
          "description": "Optional. Postal code of the address."
        },
        "addressLines": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unstructured address lines describing the lower levels of an address."
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. BCP-47 language code of the contents of this address (if known)."
        }
      }
    },
    "UserPhoto": {
      "properties": {
        "width": {
          "format": "int32",
          "description": "Width of the photo in pixels.",
          "type": "integer"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID the API uses to uniquely identify the user."
        },
        "primaryEmail": {
          "description": "The user's primary email address.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "admin#directory#user#photo",
          "description": "The type of the API resource. For Photo resources, this is `admin#directory#user#photo`."
        },
        "mimeType": {
          "type": "string",
          "description": "The MIME type of the photo. Allowed values are `JPEG`, `PNG`, `GIF`, `BMP`, `TIFF`, and web-safe base64 encoding."
        },
        "photoData": {
          "description": "The user photo's upload data in [web-safe Base64](https://en.wikipedia.org/wiki/Base64#URL_applications) format in bytes. This means: * The slash (/) character is replaced with the underscore (_) character. * The plus sign (+) character is replaced with the hyphen (-) character. * The equals sign (=) character is replaced with the asterisk (*). * For padding, the period (.) character is used instead of the RFC-4648 baseURL definition which uses the equals sign (=) for padding. This is done to simplify URL-parsing. * Whatever the size of the photo being uploaded, the API downsizes it to 96x96 pixels.",
          "annotations": {
            "required": [
              "directory.users.photos.update"
            ]
          },
          "format": "byte",
          "type": "string"
        },
        "height": {
          "description": "Height of the photo in pixels.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "UserPhoto"
    },
    "ChromeOsDevice": {
      "properties": {
        "orgUnitId": {
          "description": "The unique ID of the organizational unit. orgUnitPath is the human readable version of orgUnitId. While orgUnitPath may change by renaming an organizational unit within the path, orgUnitId is unchangeable for one organizational unit. This property can be [updated](/admin-sdk/directory/v1/guides/manage-chrome-devices#move_chrome_devices_to_ou) using the API. For more information about how to create an organizational structure for your device, see the [administration help center](https://support.google.com/a/answer/182433).",
          "type": "string"
        },
        "osVersion": {
          "description": "The Chrome device's operating system version.",
          "type": "string"
        },
        "recentUsers": {
          "items": {
            "type": "object",
            "description": "A list of recent device users, in descending order, by last login time.",
            "properties": {
              "email": {
                "description": "The user's email address. This is only present if the user type is `USER_TYPE_MANAGED`.",
                "type": "string"
              },
              "type": {
                "type": "string",
                "description": "The type of the user."
              }
            }
          },
          "type": "array",
          "description": "A list of recent device users, in descending order, by last login time."
        },
        "serialNumber": {
          "description": "The Chrome device serial number entered when the device was enabled. This value is the same as the Admin console's *Serial Number* in the *Chrome OS Devices* tab.",
          "type": "string"
        },
        "supportEndDate": {
          "format": "date-time",
          "description": "Final date the device will be supported (Read-only)",
          "type": "string"
        },
        "deviceFiles": {
          "items": {
            "properties": {
              "name": {
                "description": "File name",
                "type": "string"
              },
              "type": {
                "description": "File type",
                "type": "string"
              },
              "createTime": {
                "format": "date-time",
                "type": "string",
                "description": "Date and time the file was created"
              },
              "downloadUrl": {
                "type": "string",
                "description": "File download URL"
              }
            },
            "type": "object"
          },
          "description": "A list of device files to download (Read-only)",
          "type": "array"
        },
        "systemRamFreeReports": {
          "description": "Reports of amounts of available RAM memory (Read-only)",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "systemRamFreeInfo": {
                "items": {
                  "type": "string",
                  "format": "int64"
                },
                "type": "array"
              },
              "reportTime": {
                "format": "date-time",
                "type": "string",
                "description": "Date and time the report was received."
              }
            }
          }
        },
        "kind": {
          "type": "string",
          "description": "The type of resource. For the Chromeosdevices resource, the value is `admin#directory#chromeosdevice`.",
          "default": "admin#directory#chromeosdevice"
        },
        "deprovisionReason": {
          "enumDescriptions": [
            "The deprovision reason is unknown.",
            "The device was replaced by a device with the same model.",
            "The device was upgraded.",
            "The device's domain was changed.",
            "Service expired for the device.",
            "The device was deprovisioned for a legacy reason that is no longer supported.",
            "The device was replaced by a device with a different model.",
            "The device was retired.",
            "The device's perpetual upgrade was transferred to a new device.",
            "A reason was not required. For example, the licenses were returned to the customer's license pool.",
            "The device was deprovisioned by a repair service center."
          ],
          "description": "(Read-only) Deprovision reason.",
          "enum": [
            "deprovisionReasonUnspecified",
            "deprovisionReasonSameModelReplacement",
            "deprovisionReasonUpgrade",
            "deprovisionReasonDomainMove",
            "deprovisionReasonServiceExpiration",
            "deprovisionReasonOther",
            "deprovisionReasonDifferentModelReplacement",
            "deprovisionReasonRetiringDevice",
            "deprovisionReasonUpgradeTransfer",
            "deprovisionReasonNotRequired",
            "deprovisionReasonRepairCenter"
          ],
          "type": "string"
        },
        "lastKnownNetwork": {
          "items": {
            "properties": {
              "wanIpAddress": {
                "type": "string",
                "description": "The WAN IP address."
              },
              "ipAddress": {
                "description": "The IP address.",
                "type": "string"
              }
            },
            "description": "Information for an ip address.",
            "type": "object"
          },
          "type": "array",
          "description": "Contains last known network (Read-only)"
        },
        "orderNumber": {
          "description": "The device's order number. Only devices directly purchased from Google have an order number.",
          "type": "string"
        },
        "osUpdateStatus": {
          "$ref": "OsUpdateStatus",
          "description": "The status of the OS updates for the device."
        },
        "model": {
          "type": "string",
          "description": "The device's model information. If the device does not have this information, this property is not included in the response."
        },
        "firstEnrollmentTime": {
          "type": "string",
          "description": "Date and time for the first time the device was enrolled."
        },
        "firmwareVersion": {
          "description": "The Chrome device's firmware version.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "autoUpdateExpiration": {
          "format": "int64",
          "type": "string",
          "description": "(Read-only) The timestamp after which the device will stop receiving Chrome updates or support"
        },
        "ethernetMacAddress": {
          "description": "The device's MAC address on the ethernet network interface.",
          "type": "string"
        },
        "systemRamTotal": {
          "type": "string",
          "format": "int64",
          "description": "Total RAM on the device [in bytes] (Read-only)"
        },
        "bootMode": {
          "type": "string",
          "description": "The boot mode for the device. The possible values are: * `Verified`: The device is running a valid version of the Chrome OS. * `Dev`: The devices's developer hardware switch is enabled. When booted, the device has a command line shell. For an example of a developer switch, see the [Chromebook developer information](https://www.chromium.org/chromium-os/developer-information-for-chrome-os-devices/samsung-series-5-chromebook#TOC-Developer-switch)."
        },
        "cpuStatusReports": {
          "items": {
            "type": "object",
            "properties": {
              "cpuTemperatureInfo": {
                "description": "A list of CPU temperature samples.",
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "temperature": {
                      "description": "Temperature in Celsius degrees.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "label": {
                      "type": "string",
                      "description": "CPU label"
                    }
                  }
                }
              },
              "reportTime": {
                "format": "date-time",
                "description": "Date and time the report was received.",
                "type": "string"
              },
              "cpuUtilizationPercentageInfo": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          },
          "type": "array",
          "description": "Reports of CPU utilization and temperature (Read-only)"
        },
        "annotatedUser": {
          "description": "The user of the device as noted by the administrator. Maximum length is 100 characters. Empty values are allowed.",
          "type": "string"
        },
        "notes": {
          "type": "string",
          "description": "Notes about this device added by the administrator. This property can be [searched](https://support.google.com/chrome/a/answer/1698333) with the [list](/admin-sdk/directory/v1/reference/chromeosdevices/list) method's `query` parameter. Maximum length is 500 characters. Empty values are allowed."
        },
        "screenshotFiles": {
          "type": "array",
          "description": "A list of screenshot files to download. Type is always \"SCREENSHOT_FILE\". (Read-only)",
          "items": {
            "properties": {
              "name": {
                "description": "File name",
                "type": "string"
              },
              "type": {
                "type": "string",
                "description": "File type"
              },
              "downloadUrl": {
                "description": "File download URL",
                "type": "string"
              },
              "createTime": {
                "type": "string",
                "description": "Date and time the file was created",
                "format": "date-time"
              }
            },
            "type": "object"
          }
        },
        "deviceId": {
          "description": "The unique ID of the Chrome device.",
          "type": "string"
        },
        "tpmVersionInfo": {
          "description": "Trusted Platform Module (TPM) (Read-only)",
          "type": "object",
          "properties": {
            "tpmModel": {
              "type": "string",
              "description": "TPM model number."
            },
            "firmwareVersion": {
              "description": "TPM firmware version.",
              "type": "string"
            },
            "manufacturer": {
              "type": "string",
              "description": "TPM manufacturer code."
            },
            "family": {
              "type": "string",
              "description": "TPM family. We use the TPM 2.0 style encoding, e.g.: TPM 1.2: \"1.2\" -\u003e 312e3200 TPM 2.0: \"2.0\" -\u003e 322e3000"
            },
            "vendorSpecific": {
              "description": "Vendor-specific information such as Vendor ID.",
              "type": "string"
            },
            "specLevel": {
              "description": "TPM specification level. See Library Specification for TPM 2.0 and Main Specification for TPM 1.2.",
              "type": "string"
            }
          }
        },
        "lastSync": {
          "format": "date-time",
          "description": "Date and time the device was last synchronized with the policy settings in the G Suite administrator control panel (Read-only)",
          "type": "string"
        },
        "annotatedLocation": {
          "type": "string",
          "description": "The address or location of the device as noted by the administrator. Maximum length is `200` characters. Empty values are allowed."
        },
        "cpuInfo": {
          "items": {
            "type": "object",
            "properties": {
              "logicalCpus": {
                "type": "array",
                "items": {
                  "description": "Status of a single logical CPU.",
                  "properties": {
                    "maxScalingFrequencyKhz": {
                      "description": "Maximum frequency the CPU is allowed to run at, by policy.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "currentScalingFrequencyKhz": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Current frequency the CPU is running at."
                    },
                    "cStates": {
                      "items": {
                        "description": "Status of a single C-state. C-states are various modes the CPU can transition to in order to use more or less power.",
                        "properties": {
                          "sessionDuration": {
                            "type": "string",
                            "format": "google-duration",
                            "description": "Time spent in the state since the last reboot."
                          },
                          "displayName": {
                            "type": "string",
                            "description": "Name of the state."
                          }
                        },
                        "type": "object"
                      },
                      "description": "C-States indicate the power consumption state of the CPU. For more information look at documentation published by the CPU maker.",
                      "type": "array"
                    },
                    "idleDuration": {
                      "description": "Idle time since last boot.",
                      "format": "google-duration",
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "description": "Information for the Logical CPUs"
              },
              "architecture": {
                "description": "The CPU architecture.",
                "type": "string"
              },
              "maxClockSpeedKhz": {
                "description": "The max CPU clock speed in kHz.",
                "type": "integer",
                "format": "int32"
              },
              "model": {
                "description": "The CPU model name.",
                "type": "string"
              }
            },
            "description": "CPU specs for a CPU."
          },
          "description": "Information regarding CPU specs in the device.",
          "type": "array"
        },
        "annotatedAssetId": {
          "type": "string",
          "description": "The asset identifier as noted by an administrator or specified during enrollment."
        },
        "orgUnitPath": {
          "description": "The full parent path with the organizational unit's name associated with the device. Path names are case insensitive. If the parent organizational unit is the top-level organization, it is represented as a forward slash, `/`. This property can be [updated](/admin-sdk/directory/v1/guides/manage-chrome-devices#move_chrome_devices_to_ou) using the API. For more information about how to create an organizational structure for your device, see the [administration help center](https://support.google.com/a/answer/182433).",
          "type": "string"
        },
        "dockMacAddress": {
          "description": "(Read-only) Built-in MAC address for the docking station that the device connected to. Factory sets Media access control address (MAC address) assigned for use by a dock. It is reserved specifically for MAC pass through device policy. The format is twelve (12) hexadecimal digits without any delimiter (uppercase letters). This is only relevant for some devices.",
          "type": "string"
        },
        "macAddress": {
          "type": "string",
          "description": "The device's wireless MAC address. If the device does not have this information, it is not included in the response."
        },
        "activeTimeRanges": {
          "items": {
            "properties": {
              "date": {
                "format": "date",
                "description": "Date of usage",
                "type": "string"
              },
              "activeTime": {
                "description": "Duration of usage in milliseconds.",
                "type": "integer",
                "format": "int32"
              }
            },
            "type": "object"
          },
          "description": "A list of active time ranges (Read-only).",
          "type": "array"
        },
        "manufactureDate": {
          "type": "string",
          "description": "(Read-only) The date the device was manufactured in yyyy-mm-dd format."
        },
        "ethernetMacAddress0": {
          "type": "string",
          "description": "(Read-only) MAC address used by the Chromebook’s internal ethernet port, and for onboard network (ethernet) interface. The format is twelve (12) hexadecimal digits without any delimiter (uppercase letters). This is only relevant for some devices."
        },
        "status": {
          "type": "string",
          "description": "The status of the device."
        },
        "diskVolumeReports": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "volumeInfo": {
                "items": {
                  "properties": {
                    "storageFree": {
                      "description": "Free disk space [in bytes]",
                      "type": "string",
                      "format": "int64"
                    },
                    "volumeId": {
                      "description": "Volume id",
                      "type": "string"
                    },
                    "storageTotal": {
                      "type": "string",
                      "description": "Total disk space [in bytes]",
                      "format": "int64"
                    }
                  },
                  "type": "object"
                },
                "description": "Disk volumes",
                "type": "array"
              }
            }
          },
          "description": "Reports of disk space and other info about mounted/connected volumes."
        },
        "platformVersion": {
          "description": "The Chrome device's platform version.",
          "type": "string"
        },
        "willAutoRenew": {
          "description": "Determines if the device will auto renew its support after the support end date. This is a read-only property.",
          "type": "boolean"
        },
        "lastDeprovisionTimestamp": {
          "type": "string",
          "description": "(Read-only) Date and time for the last deprovision of the device."
        },
        "lastEnrollmentTime": {
          "type": "string",
          "description": "Date and time the device was last enrolled (Read-only)",
          "format": "date-time"
        },
        "meid": {
          "description": "The Mobile Equipment Identifier (MEID) or the International Mobile Equipment Identity (IMEI) for the 3G mobile card in a mobile device. A MEID/IMEI is typically used when adding a device to a wireless carrier's post-pay service plan. If the device does not have this information, this property is not included in the response. For more information on how to export a MEID/IMEI list, see the [Developer's Guide](/admin-sdk/directory/v1/guides/manage-chrome-devices.html#export_meid).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Google Chrome devices run on the [Chrome OS](https://support.google.com/chromeos). For more information about common API tasks, see the [Developer's Guide](/admin-sdk/directory/v1/guides/manage-chrome-devices).",
      "id": "ChromeOsDevice"
    },
    "DirectoryChromeosdevicesCommandResult": {
      "properties": {
        "result": {
          "enumDescriptions": [
            "The command result was unspecified.",
            "The command was ignored as obsolete.",
            "The command could not be executed successfully.",
            "The command was successfully executed."
          ],
          "enum": [
            "COMMAND_RESULT_TYPE_UNSPECIFIED",
            "IGNORED",
            "FAILURE",
            "SUCCESS"
          ],
          "type": "string",
          "description": "The result of the command."
        },
        "errorMessage": {
          "description": "The error message with a short explanation as to why the command failed. Only present if the command failed.",
          "type": "string"
        },
        "commandResultPayload": {
          "type": "string",
          "description": "The payload for the command result. The following commands respond with a payload: * `DEVICE_START_CRD_SESSION`: Payload is a stringified JSON object in the form: { \"url\": url }. The URL provides a link to the Chrome Remote Desktop session."
        },
        "executeTime": {
          "format": "google-datetime",
          "description": "The time at which the command was executed or failed to execute.",
          "type": "string"
        }
      },
      "id": "DirectoryChromeosdevicesCommandResult",
      "description": "The result of executing a command.",
      "type": "object"
    },
    "PrintServerFailureInfo": {
      "properties": {
        "printServerId": {
          "description": "ID of a failed print server.",
          "type": "string"
        },
        "printServer": {
          "description": "Failed print server.",
          "$ref": "PrintServer"
        },
        "errorMessage": {
          "type": "string",
          "description": "Failure reason message."
        },
        "errorCode": {
          "enum": [
            "OK",
            "CANCELLED",
            "UNKNOWN",
            "INVALID_ARGUMENT",
            "DEADLINE_EXCEEDED",
            "NOT_FOUND",
            "ALREADY_EXISTS",
            "PERMISSION_DENIED",
            "UNAUTHENTICATED",
            "RESOURCE_EXHAUSTED",
            "FAILED_PRECONDITION",
            "ABORTED",
            "OUT_OF_RANGE",
            "UNIMPLEMENTED",
            "INTERNAL",
            "UNAVAILABLE",
            "DATA_LOSS"
          ],
          "description": "Canonical code for why the update failed to apply.",
          "type": "string",
          "enumDescriptions": [
            "Not an error; returned on success. HTTP Mapping: 200 OK",
            "The operation was cancelled, typically by the caller. HTTP Mapping: 499 Client Closed Request",
            "Unknown error. For example, this error may be returned when a `Status` value received from another address space belongs to an error space that is not known in this address space. Also errors raised by APIs that do not return enough error information may be converted to this error. HTTP Mapping: 500 Internal Server Error",
            "The client specified an invalid argument. Note that this differs from `FAILED_PRECONDITION`. `INVALID_ARGUMENT` indicates arguments that are problematic regardless of the state of the system (e.g., a malformed file name). HTTP Mapping: 400 Bad Request",
            "The deadline expired before the operation could complete. For operations that change the state of the system, this error may be returned even if the operation has completed successfully. For example, a successful response from a server could have been delayed long enough for the deadline to expire. HTTP Mapping: 504 Gateway Timeout",
            "Some requested entity (e.g., file or directory) was not found. Note to server developers: if a request is denied for an entire class of users, such as gradual feature rollout or undocumented allowlist, `NOT_FOUND` may be used. If a request is denied for some users within a class of users, such as user-based access control, `PERMISSION_DENIED` must be used. HTTP Mapping: 404 Not Found",
            "The entity that a client attempted to create (e.g., file or directory) already exists. HTTP Mapping: 409 Conflict",
            "The caller does not have permission to execute the specified operation. `PERMISSION_DENIED` must not be used for rejections caused by exhausting some resource (use `RESOURCE_EXHAUSTED` instead for those errors). `PERMISSION_DENIED` must not be used if the caller can not be identified (use `UNAUTHENTICATED` instead for those errors). This error code does not imply the request is valid or the requested entity exists or satisfies other pre-conditions. HTTP Mapping: 403 Forbidden",
            "The request does not have valid authentication credentials for the operation. HTTP Mapping: 401 Unauthorized",
            "Some resource has been exhausted, perhaps a per-user quota, or perhaps the entire file system is out of space. HTTP Mapping: 429 Too Many Requests",
            "The operation was rejected because the system is not in a state required for the operation's execution. For example, the directory to be deleted is non-empty, an rmdir operation is applied to a non-directory, etc. Service implementors can use the following guidelines to decide between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`: (a) Use `UNAVAILABLE` if the client can retry just the failing call. (b) Use `ABORTED` if the client should retry at a higher level. For example, when a client-specified test-and-set fails, indicating the client should restart a read-modify-write sequence. (c) Use `FAILED_PRECONDITION` if the client should not retry until the system state has been explicitly fixed. For example, if an \"rmdir\" fails because the directory is non-empty, `FAILED_PRECONDITION` should be returned since the client should not retry unless the files are deleted from the directory. HTTP Mapping: 400 Bad Request",
            "The operation was aborted, typically due to a concurrency issue such as a sequencer check failure or transaction abort. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 409 Conflict",
            "The operation was attempted past the valid range. E.g., seeking or reading past end-of-file. Unlike `INVALID_ARGUMENT`, this error indicates a problem that may be fixed if the system state changes. For example, a 32-bit file system will generate `INVALID_ARGUMENT` if asked to read at an offset that is not in the range [0,2^32-1], but it will generate `OUT_OF_RANGE` if asked to read from an offset past the current file size. There is a fair bit of overlap between `FAILED_PRECONDITION` and `OUT_OF_RANGE`. We recommend using `OUT_OF_RANGE` (the more specific error) when it applies so that callers who are iterating through a space can easily look for an `OUT_OF_RANGE` error to detect when they are done. HTTP Mapping: 400 Bad Request",
            "The operation is not implemented or is not supported/enabled in this service. HTTP Mapping: 501 Not Implemented",
            "Internal errors. This means that some invariants expected by the underlying system have been broken. This error code is reserved for serious errors. HTTP Mapping: 500 Internal Server Error",
            "The service is currently unavailable. This is most likely a transient condition, which can be corrected by retrying with a backoff. Note that it is not always safe to retry non-idempotent operations. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 503 Service Unavailable",
            "Unrecoverable data loss or corruption. HTTP Mapping: 500 Internal Server Error"
          ]
        }
      },
      "id": "PrintServerFailureInfo",
      "type": "object",
      "description": "Info about failures"
    },
    "Tokens": {
      "properties": {
        "items": {
          "description": "A list of Token resources.",
          "items": {
            "$ref": "Token"
          },
          "type": "array"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "kind": {
          "type": "string",
          "description": "The type of the API resource. This is always `admin#directory#tokenList`.",
          "default": "admin#directory#tokenList"
        }
      },
      "id": "Tokens",
      "type": "object",
      "description": "JSON response template for List tokens operation in Directory API."
    },
    "Asp": {
      "type": "object",
      "properties": {
        "etag": {
          "description": "ETag of the ASP.",
          "type": "string"
        },
        "userKey": {
          "type": "string",
          "description": "The unique ID of the user who issued the ASP."
        },
        "name": {
          "type": "string",
          "description": "The name of the application that the user, represented by their `userId`, entered when the ASP was created."
        },
        "creationTime": {
          "description": "The time when the ASP was created. Expressed in [Unix time](https://en.wikipedia.org/wiki/Epoch_time) format.",
          "format": "int64",
          "type": "string"
        },
        "lastTimeUsed": {
          "description": "The time when the ASP was last used. Expressed in [Unix time](https://en.wikipedia.org/wiki/Epoch_time) format.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "The type of the API resource. This is always `admin#directory#asp`.",
          "type": "string",
          "default": "admin#directory#asp"
        },
        "codeId": {
          "description": "The unique ID of the ASP.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "An application-specific password (ASP) is used with applications that do not accept a verification code when logging into the application on certain devices. The ASP access code is used instead of the login and password you commonly use when accessing an application through a browser. For more information about ASPs and how to create one, see the [help center](https://support.google.com/a/answer/2537800#asp).",
      "id": "Asp"
    },
    "ChromeOsMoveDevicesToOu": {
      "properties": {
        "deviceIds": {
          "description": "Chrome OS devices to be moved to OU",
          "annotations": {
            "required": [
              "directory.chromeosdevices.moveDevicesToOu"
            ]
          },
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ChromeOsMoveDevicesToOu",
      "type": "object"
    },
    "Users": {
      "properties": {
        "trigger_event": {
          "type": "string",
          "description": "Event that triggered this response (only used in case of Push Response)"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "kind": {
          "default": "admin#directory#users",
          "description": "Kind of resource this is.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token used to access next page of this result.",
          "type": "string"
        },
        "users": {
          "description": "A list of user objects.",
          "items": {
            "$ref": "User"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "Users"
    },
    "ListPrinterModelsResponse": {
      "description": "Response for listing allowed printer models.",
      "id": "ListPrinterModelsResponse",
      "type": "object",
      "properties": {
        "printerModels": {
          "items": {
            "$ref": "PrinterModel"
          },
          "description": "Printer models that are currently allowed to be configured for ChromeOs. Some printers may be added or removed over time.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "Schemas": {
      "id": "Schemas",
      "description": "JSON response template for List Schema operation in Directory API.",
      "type": "object",
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#schemas",
          "type": "string",
          "description": "Kind of resource this is."
        },
        "schemas": {
          "description": "A list of UserSchema objects.",
          "type": "array",
          "items": {
            "$ref": "Schema"
          }
        }
      }
    },
    "UserRelation": {
      "type": "object",
      "properties": {
        "type": {
          "description": "The relation of the user. Some of the possible values are mother father sister brother manager assistant partner.",
          "type": "string"
        },
        "value": {
          "description": "The name of the relation.",
          "type": "string"
        },
        "customType": {
          "type": "string",
          "description": "Custom Type."
        }
      },
      "id": "UserRelation",
      "description": "JSON template for a relation entry."
    },
    "Groups": {
      "id": "Groups",
      "type": "object",
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "groups": {
          "items": {
            "$ref": "Group"
          },
          "description": "A list of group objects.",
          "type": "array"
        },
        "kind": {
          "description": "Kind of resource this is.",
          "type": "string",
          "default": "admin#directory#groups"
        },
        "nextPageToken": {
          "description": "Token used to access next page of this result.",
          "type": "string"
        }
      }
    },
    "Member": {
      "type": "object",
      "description": "A Google Groups member can be a user or another group. This member can be inside or outside of your account's domains. For more information about common group member tasks, see the [Developer's Guide](/admin-sdk/directory/v1/guides/manage-group-members).",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of group member."
        },
        "delivery_settings": {
          "type": "string",
          "description": "Defines mail delivery preferences of member. This is only supported by create/update/get."
        },
        "id": {
          "description": "The unique ID of the group member. A member `id` can be used as a member request URI's `memberKey`.",
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#member",
          "description": "The type of the API resource. For Members resources, the value is `admin#directory#member`.",
          "type": "string"
        },
        "role": {
          "description": "The member's role in a group. The API returns an error for cycles in group memberships. For example, if `group1` is a member of `group2`, `group2` cannot be a member of `group1`. For more information about a member's role, see the [administration help center](https://support.google.com/a/answer/167094).",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "Status of member (Immutable)"
        },
        "email": {
          "type": "string",
          "description": "The member's email address. A member can be a user or another group. This property is required when adding a member to a group. The `email` must be unique and cannot be an alias of another group. If the email address is changed, the API automatically reflects the email address changes."
        }
      },
      "id": "Member"
    },
    "BatchDeletePrintersResponse": {
      "properties": {
        "printerIds": {
          "description": "A list of Printer.id that were successfully deleted.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "failedPrinters": {
          "description": "A list of update failures.",
          "items": {
            "$ref": "FailureInfo"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response for deleting existing printers in batch.",
      "id": "BatchDeletePrintersResponse"
    },
    "FailureInfo": {
      "properties": {
        "errorCode": {
          "enumDescriptions": [
            "Not an error; returned on success. HTTP Mapping: 200 OK",
            "The operation was cancelled, typically by the caller. HTTP Mapping: 499 Client Closed Request",
            "Unknown error. For example, this error may be returned when a `Status` value received from another address space belongs to an error space that is not known in this address space. Also errors raised by APIs that do not return enough error information may be converted to this error. HTTP Mapping: 500 Internal Server Error",
            "The client specified an invalid argument. Note that this differs from `FAILED_PRECONDITION`. `INVALID_ARGUMENT` indicates arguments that are problematic regardless of the state of the system (e.g., a malformed file name). HTTP Mapping: 400 Bad Request",
            "The deadline expired before the operation could complete. For operations that change the state of the system, this error may be returned even if the operation has completed successfully. For example, a successful response from a server could have been delayed long enough for the deadline to expire. HTTP Mapping: 504 Gateway Timeout",
            "Some requested entity (e.g., file or directory) was not found. Note to server developers: if a request is denied for an entire class of users, such as gradual feature rollout or undocumented allowlist, `NOT_FOUND` may be used. If a request is denied for some users within a class of users, such as user-based access control, `PERMISSION_DENIED` must be used. HTTP Mapping: 404 Not Found",
            "The entity that a client attempted to create (e.g., file or directory) already exists. HTTP Mapping: 409 Conflict",
            "The caller does not have permission to execute the specified operation. `PERMISSION_DENIED` must not be used for rejections caused by exhausting some resource (use `RESOURCE_EXHAUSTED` instead for those errors). `PERMISSION_DENIED` must not be used if the caller can not be identified (use `UNAUTHENTICATED` instead for those errors). This error code does not imply the request is valid or the requested entity exists or satisfies other pre-conditions. HTTP Mapping: 403 Forbidden",
            "The request does not have valid authentication credentials for the operation. HTTP Mapping: 401 Unauthorized",
            "Some resource has been exhausted, perhaps a per-user quota, or perhaps the entire file system is out of space. HTTP Mapping: 429 Too Many Requests",
            "The operation was rejected because the system is not in a state required for the operation's execution. For example, the directory to be deleted is non-empty, an rmdir operation is applied to a non-directory, etc. Service implementors can use the following guidelines to decide between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`: (a) Use `UNAVAILABLE` if the client can retry just the failing call. (b) Use `ABORTED` if the client should retry at a higher level. For example, when a client-specified test-and-set fails, indicating the client should restart a read-modify-write sequence. (c) Use `FAILED_PRECONDITION` if the client should not retry until the system state has been explicitly fixed. For example, if an \"rmdir\" fails because the directory is non-empty, `FAILED_PRECONDITION` should be returned since the client should not retry unless the files are deleted from the directory. HTTP Mapping: 400 Bad Request",
            "The operation was aborted, typically due to a concurrency issue such as a sequencer check failure or transaction abort. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 409 Conflict",
            "The operation was attempted past the valid range. E.g., seeking or reading past end-of-file. Unlike `INVALID_ARGUMENT`, this error indicates a problem that may be fixed if the system state changes. For example, a 32-bit file system will generate `INVALID_ARGUMENT` if asked to read at an offset that is not in the range [0,2^32-1], but it will generate `OUT_OF_RANGE` if asked to read from an offset past the current file size. There is a fair bit of overlap between `FAILED_PRECONDITION` and `OUT_OF_RANGE`. We recommend using `OUT_OF_RANGE` (the more specific error) when it applies so that callers who are iterating through a space can easily look for an `OUT_OF_RANGE` error to detect when they are done. HTTP Mapping: 400 Bad Request",
            "The operation is not implemented or is not supported/enabled in this service. HTTP Mapping: 501 Not Implemented",
            "Internal errors. This means that some invariants expected by the underlying system have been broken. This error code is reserved for serious errors. HTTP Mapping: 500 Internal Server Error",
            "The service is currently unavailable. This is most likely a transient condition, which can be corrected by retrying with a backoff. Note that it is not always safe to retry non-idempotent operations. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 503 Service Unavailable",
            "Unrecoverable data loss or corruption. HTTP Mapping: 500 Internal Server Error"
          ],
          "enum": [
            "OK",
            "CANCELLED",
            "UNKNOWN",
            "INVALID_ARGUMENT",
            "DEADLINE_EXCEEDED",
            "NOT_FOUND",
            "ALREADY_EXISTS",
            "PERMISSION_DENIED",
            "UNAUTHENTICATED",
            "RESOURCE_EXHAUSTED",
            "FAILED_PRECONDITION",
            "ABORTED",
            "OUT_OF_RANGE",
            "UNIMPLEMENTED",
            "INTERNAL",
            "UNAVAILABLE",
            "DATA_LOSS"
          ],
          "type": "string",
          "description": "Canonical code for why the update failed to apply."
        },
        "printer": {
          "$ref": "Printer",
          "description": "Failed printer."
        },
        "errorMessage": {
          "type": "string",
          "description": "Failure reason message."
        },
        "printerId": {
          "description": "Id of a failed printer.",
          "type": "string"
        }
      },
      "id": "FailureInfo",
      "type": "object",
      "description": "Info about failures"
    },
    "MobileDevice": {
      "type": "object",
      "properties": {
        "supportsWorkProfile": {
          "description": "Work profile supported on device (Read-only)",
          "type": "boolean"
        },
        "status": {
          "description": "The device's status.",
          "type": "string"
        },
        "unknownSourcesStatus": {
          "description": "Unknown sources enabled or disabled on device (Read-only)",
          "type": "boolean"
        },
        "kernelVersion": {
          "description": "The device's kernel version.",
          "type": "string"
        },
        "privilege": {
          "description": "DMAgentPermission (Read-only)",
          "type": "string"
        },
        "resourceId": {
          "type": "string",
          "description": "The unique ID the API service uses to identify the mobile device."
        },
        "securityPatchLevel": {
          "description": "Mobile Device Security patch level (Read-only)",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "The type of the API resource. For Mobiledevices resources, the value is `admin#directory#mobiledevice`.",
          "type": "string",
          "default": "admin#directory#mobiledevice"
        },
        "email": {
          "items": {
            "type": "string"
          },
          "description": "The list of the owner's email addresses. If your application needs the current list of user emails, use the [get](/admin-sdk/directory/v1/reference/mobiledevices/get.html) method. For additional information, see the [retrieve a user](/admin-sdk/directory/v1/guides/manage-users#get_user) method.",
          "type": "array"
        },
        "bootloaderVersion": {
          "description": "Mobile Device Bootloader version (Read-only)",
          "type": "string"
        },
        "name": {
          "type": "array",
          "description": "The list of the owner's user names. If your application needs the current list of device owner names, use the [get](/admin-sdk/directory/v1/reference/mobiledevices/get.html) method. For more information about retrieving mobile device user information, see the [Developer's Guide](/admin-sdk/directory/v1/guides/manage-users#get_user).",
          "items": {
            "type": "string"
          }
        },
        "encryptionStatus": {
          "description": "Mobile Device Encryption Status (Read-only)",
          "type": "string"
        },
        "releaseVersion": {
          "type": "string",
          "description": "Mobile Device release version version (Read-only)"
        },
        "applications": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "displayName": {
                "type": "string",
                "description": "The application's display name. An example is `Browser`."
              },
              "versionCode": {
                "format": "int32",
                "description": "The application's version code. An example is `13`.",
                "type": "integer"
              },
              "packageName": {
                "type": "string",
                "description": "The application's package name. An example is `com.android.browser`."
              },
              "versionName": {
                "type": "string",
                "description": "The application's version name. An example is `3.2-140714`."
              },
              "permission": {
                "description": "The list of permissions of this application. These can be either a standard Android permission or one defined by the application, and are found in an application's [Android manifest](https://developer.android.com/guide/topics/manifest/uses-permission-element.html). Examples of a Calendar application's permissions are `READ_CALENDAR`, or `MANAGE_ACCOUNTS`.",
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "description": "The list of applications installed on an Android mobile device. It is not applicable to Google Sync and iOS devices. The list includes any Android applications that access Google Workspace data. When updating an applications list, it is important to note that updates replace the existing list. If the Android device has two existing applications and the API updates the list with five applications, the is now the updated list of five applications."
        },
        "developerOptionsStatus": {
          "description": "Developer options enabled or disabled on device (Read-only)",
          "type": "boolean"
        },
        "lastSync": {
          "description": "Date and time the device was last synchronized with the policy settings in the G Suite administrator control panel (Read-only)",
          "format": "date-time",
          "type": "string"
        },
        "deviceCompromisedStatus": {
          "description": "The compromised device status.",
          "type": "string"
        },
        "hardwareId": {
          "description": "The IMEI/MEID unique identifier for Android hardware. It is not applicable to Google Sync devices. When adding an Android mobile device, this is an optional property. When updating one of these devices, this is a read-only property.",
          "type": "string"
        },
        "userAgent": {
          "type": "string",
          "description": "Gives information about the device such as `os` version. This property can be [updated](/admin-sdk/directory/v1/reference/mobiledevices/update.html). For more information, see the [Developer's Guide](/admin-sdk/directory/v1/guides/manage-mobile-devices#update_mobile_device)."
        },
        "imei": {
          "type": "string",
          "description": "The device's IMEI number."
        },
        "devicePasswordStatus": {
          "description": "DevicePasswordStatus (Read-only)",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "manufacturer": {
          "description": "Mobile Device manufacturer (Read-only)",
          "type": "string"
        },
        "wifiMacAddress": {
          "description": "The device's MAC address on Wi-Fi networks.",
          "type": "string"
        },
        "otherAccountsInfo": {
          "description": "The list of accounts added on device (Read-only)",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "os": {
          "type": "string",
          "description": "The mobile device's operating system, for example IOS 4.3 or Android 2.3.5. This property can be [updated](/admin-sdk/directory/v1/reference/mobiledevices/update.html). For more information, see the [Developer's Guide](/admin-sdk/directory/v1/guides/manage-mobile-devices#update_mobile_device)."
        },
        "defaultLanguage": {
          "description": "The default locale used on the device.",
          "type": "string"
        },
        "adbStatus": {
          "type": "boolean",
          "description": "Adb (USB debugging) enabled or disabled on device (Read-only)"
        },
        "managedAccountIsOnOwnerProfile": {
          "type": "boolean",
          "description": "Boolean indicating if this account is on owner/primary profile or not."
        },
        "model": {
          "type": "string",
          "description": "The mobile device's model name, for example Nexus S. This property can be [updated](/admin-sdk/directory/v1/reference/mobiledevices/update.html). For more information, see the [Developer's Guide](/admin-sdk/directory/v1/guides/manage-mobile=devices#update_mobile_device)."
        },
        "type": {
          "type": "string",
          "description": "The type of mobile device."
        },
        "deviceId": {
          "description": "The serial number for a Google Sync mobile device. For Android and iOS devices, this is a software generated unique identifier.",
          "type": "string"
        },
        "networkOperator": {
          "description": "Mobile Device mobile or network operator (if available) (Read-only)",
          "type": "string"
        },
        "basebandVersion": {
          "type": "string",
          "description": "The device's baseband version."
        },
        "firstSync": {
          "description": "Date and time the device was first synchronized with the policy settings in the G Suite administrator control panel (Read-only)",
          "format": "date-time",
          "type": "string"
        },
        "serialNumber": {
          "type": "string",
          "description": "The device's serial number."
        },
        "hardware": {
          "type": "string",
          "description": "Mobile Device Hardware (Read-only)"
        },
        "buildNumber": {
          "type": "string",
          "description": "The device's operating system build number."
        },
        "meid": {
          "type": "string",
          "description": "The device's MEID number."
        },
        "brand": {
          "type": "string",
          "description": "Mobile Device Brand (Read-only)"
        }
      },
      "id": "MobileDevice",
[...]
