{
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "ownerName": "Google",
  "name": "admin",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "DataTransfer",
  "documentationLink": "http://developers.google.com/admin-sdk/",
  "version": "datatransfer_v1",
  "parameters": {
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    }
  },
  "discoveryVersion": "v1",
  "basePath": "",
  "revision": "20210105",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "admin:datatransfer_v1",
  "kind": "discovery#restDescription",
  "rootUrl": "https://admin.googleapis.com/",
  "resources": {
    "transfers": {
      "methods": {
        "get": {
          "parameterOrder": [
            "dataTransferId"
          ],
          "flatPath": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "id": "datatransfer.transfers.get",
          "response": {
            "$ref": "DataTransfer"
          },
          "path": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "parameters": {
            "dataTransferId": {
              "required": true,
              "description": "ID of the resource to be retrieved. This is returned in the response from the insert method.",
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "description": "Retrieves a data transfer request by its resource ID.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ]
        },
        "list": {
          "parameterOrder": [],
          "parameters": {
            "customerId": {
              "type": "string",
              "location": "query",
              "description": "Immutable ID of the Google Workspace account."
            },
            "oldOwnerUserId": {
              "description": "Source user's profile ID.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token to specify the next page in the list."
            },
            "newOwnerUserId": {
              "type": "string",
              "description": "Destination user's profile ID.",
              "location": "query"
            },
            "status": {
              "location": "query",
              "description": "Status of the transfer.",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "maximum": "500",
              "location": "query",
              "minimum": "1",
              "description": "Maximum number of results to return. Default is 100."
            }
          },
          "response": {
            "$ref": "DataTransfersListResponse"
          },
          "id": "datatransfer.transfers.list",
          "httpMethod": "GET",
          "path": "admin/datatransfer/v1/transfers",
          "description": "Lists the transfers for a customer by source user, destination user, or status.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "flatPath": "admin/datatransfer/v1/transfers"
        },
        "insert": {
          "response": {
            "$ref": "DataTransfer"
          },
          "path": "admin/datatransfer/v1/transfers",
          "parameterOrder": [],
          "httpMethod": "POST",
          "request": {
            "$ref": "DataTransfer"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer"
          ],
          "id": "datatransfer.transfers.insert",
          "description": "Inserts a data transfer request.",
          "flatPath": "admin/datatransfer/v1/transfers"
        }
      }
    },
    "applications": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "httpMethod": "GET",
          "id": "datatransfer.applications.list",
          "response": {
            "$ref": "ApplicationsListResponse"
          },
          "parameterOrder": [],
          "description": "Lists the applications available for data transfer for a customer.",
          "path": "admin/datatransfer/v1/applications",
          "flatPath": "admin/datatransfer/v1/applications",
          "parameters": {
            "maxResults": {
              "location": "query",
              "maximum": "500",
              "description": "Maximum number of results to return. Default is 100.",
              "format": "int32",
              "type": "integer",
              "minimum": "1"
            },
            "pageToken": {
              "description": "Token to specify next page in the list.",
              "location": "query",
              "type": "string"
            },
            "customerId": {
              "type": "string",
              "description": "Immutable ID of the Google Workspace account.",
              "location": "query"
            }
          }
        },
        "get": {
          "path": "admin/datatransfer/v1/applications/{applicationId}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "parameters": {
            "applicationId": {
              "required": true,
              "description": "ID of the application resource to be retrieved.",
              "type": "string",
              "location": "path",
              "format": "int64"
            }
          },
          "httpMethod": "GET",
          "flatPath": "admin/datatransfer/v1/applications/{applicationId}",
          "description": "Retrieves information about an application for the given application ID.",
          "response": {
            "$ref": "Application"
          },
          "id": "datatransfer.applications.get",
          "parameterOrder": [
            "applicationId"
          ]
        }
      }
    }
  },
  "schemas": {
    "DataTransfersListResponse": {
      "description": "Template for a collection of DataTransfer resources.",
      "type": "object",
      "properties": {
        "dataTransfers": {
          "items": {
            "$ref": "DataTransfer"
          },
          "type": "array",
          "description": "List of data transfer requests."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token which will be used to specify next page in list API."
        },
        "kind": {
          "default": "admin#datatransfer#dataTransfersList",
          "description": "Identifies the resource as a collection of data transfer requests.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      },
      "id": "DataTransfersListResponse"
    },
    "ApplicationsListResponse": {
      "description": "Template for a collection of Applications.",
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token which will be used to specify next page in list API."
        },
        "kind": {
          "type": "string",
          "default": "admin#datatransfer#applicationsList",
          "description": "Identifies the resource as a collection of Applications."
        },
        "applications": {
          "description": "List of applications that support data transfer and are also installed for the customer.",
          "items": {
            "$ref": "Application"
          },
          "type": "array"
        }
      },
      "id": "ApplicationsListResponse",
      "type": "object"
    },
    "DataTransfer": {
      "id": "DataTransfer",
      "type": "object",
      "properties": {
        "overallTransferStatusCode": {
          "description": "Overall transfer status (Read-only).",
          "type": "string"
        },
        "newOwnerUserId": {
          "type": "string",
          "description": "ID of the user to whom the data is being transferred."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "id": {
          "description": "The transfer's ID (Read-only).",
          "type": "string"
        },
        "applicationDataTransfers": {
          "items": {
            "$ref": "ApplicationDataTransfer"
          },
          "description": "List of per application data transfer resources. It contains data transfer details of the applications associated with this transfer resource. Note that this list is also used to specify the applications for which data transfer has to be done at the time of the transfer resource creation.",
          "type": "array"
        },
        "requestTime": {
          "format": "date-time",
          "description": "The time at which the data transfer was requested (Read-only).",
          "type": "string"
        },
        "oldOwnerUserId": {
          "type": "string",
          "description": "ID of the user whose data is being transferred."
        },
        "kind": {
          "type": "string",
          "default": "admin#datatransfer#DataTransfer",
          "description": "Identifies the resource as a DataTransfer request."
        }
      },
      "description": "A Transfer resource represents the transfer of the ownership of user data between users."
    },
    "Application": {
      "id": "Application",
      "properties": {
        "id": {
          "format": "int64",
          "type": "string",
          "description": "The application's ID."
        },
        "etag": {
          "description": "Etag of the resource.",
          "type": "string"
        },
        "name": {
          "description": "The application's name.",
          "type": "string"
        },
        "transferParams": {
          "items": {
            "$ref": "ApplicationTransferParam"
          },
          "description": "The list of all possible transfer parameters for this application. These parameters can be used to select the data of the user in this application to be transferred.",
          "type": "array"
        },
        "kind": {
          "default": "admin#datatransfer#ApplicationResource",
          "type": "string",
          "description": "Identifies the resource as a DataTransfer Application Resource."
        }
      },
      "description": "Applications resources represent applications installed on the domain that support transferring ownership of user data.",
      "type": "object"
    },
    "ApplicationTransferParam": {
      "description": "Template for application transfer parameters.",
      "id": "ApplicationTransferParam",
      "properties": {
        "key": {
          "type": "string",
          "description": "The type of the transfer parameter. eg: 'PRIVACY_LEVEL'"
        },
        "value": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The value of the corresponding transfer parameter. eg: 'PRIVATE' or 'SHARED'"
        }
      },
      "type": "object"
    },
    "ApplicationDataTransfer": {
      "description": "Template to map fields of ApplicationDataTransfer resource.",
      "id": "ApplicationDataTransfer",
      "type": "object",
      "properties": {
        "applicationTransferStatus": {
          "type": "string",
          "description": "Current status of transfer for this application. (Read-only)"
        },
        "applicationId": {
          "type": "string",
          "description": "The application's ID.",
          "format": "int64"
        },
        "applicationTransferParams": {
          "items": {
            "$ref": "ApplicationTransferParam"
          },
          "type": "array",
          "description": "The transfer parameters for the application. These parameters are used to select the data which will get transferred in context of this application."
        }
      }
    }
  },
  "title": "Admin SDK API",
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "ownerDomain": "google.com",
  "packagePath": "admin",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.datatransfer.readonly": {
          "description": "View data transfers between users in your organization"
        },
        "https://www.googleapis.com/auth/admin.datatransfer": {
          "description": "View and manage data transfers between users in your organization"
        }
      }
    }
  },
  "servicePath": "",
  "batchPath": "batch",
  "protocol": "rest",
  "baseUrl": "https://admin.googleapis.com/"
}
