{
  "schemas": {
    "DataTransfersListResponse": {
      "id": "DataTransfersListResponse",
      "description": "Template for a collection of DataTransfer resources.",
      "type": "object",
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies the resource as a collection of data transfer requests.",
          "type": "string",
          "default": "admin#datatransfer#dataTransfersList"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token which will be used to specify next page in list API."
        },
        "dataTransfers": {
          "type": "array",
          "items": {
            "$ref": "DataTransfer"
          },
          "description": "List of data transfer requests."
        }
      }
    },
    "Application": {
      "description": "Applications resources represent applications installed on the domain that support transferring ownership of user data.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The application's name."
        },
        "id": {
          "format": "int64",
          "description": "The application's ID.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of the resource."
        },
        "kind": {
          "default": "admin#datatransfer#ApplicationResource",
          "type": "string",
          "description": "Identifies the resource as a DataTransfer Application Resource."
        },
        "transferParams": {
          "description": "The list of all possible transfer parameters for this application. These parameters can be used to select the data of the user in this application to be transferred.",
          "items": {
            "$ref": "ApplicationTransferParam"
          },
          "type": "array"
        }
      },
      "id": "Application"
    },
    "DataTransfer": {
      "description": "A Transfer resource represents the transfer of the ownership of user data between users.",
      "properties": {
        "id": {
          "description": "The transfer's ID (Read-only).",
          "type": "string"
        },
        "requestTime": {
          "type": "string",
          "description": "The time at which the data transfer was requested (Read-only).",
          "format": "date-time"
        },
        "kind": {
          "type": "string",
          "default": "admin#datatransfer#DataTransfer",
          "description": "Identifies the resource as a DataTransfer request."
        },
        "applicationDataTransfers": {
          "type": "array",
          "items": {
            "$ref": "ApplicationDataTransfer"
          },
          "description": "List of per application data transfer resources. It contains data transfer details of the applications associated with this transfer resource. Note that this list is also used to specify the applications for which data transfer has to be done at the time of the transfer resource creation."
        },
        "oldOwnerUserId": {
          "description": "ID of the user whose data is being transferred.",
          "type": "string"
        },
        "newOwnerUserId": {
          "description": "ID of the user to whom the data is being transferred.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "overallTransferStatusCode": {
          "description": "Overall transfer status (Read-only).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DataTransfer"
    },
    "ApplicationDataTransfer": {
      "description": "Template to map fields of ApplicationDataTransfer resource.",
      "properties": {
        "applicationId": {
          "type": "string",
          "format": "int64",
          "description": "The application's ID."
        },
        "applicationTransferStatus": {
          "description": "Current status of transfer for this application. (Read-only)",
          "type": "string"
        },
        "applicationTransferParams": {
          "type": "array",
          "description": "The transfer parameters for the application. These parameters are used to select the data which will get transferred in context of this application.",
          "items": {
            "$ref": "ApplicationTransferParam"
          }
        }
      },
      "id": "ApplicationDataTransfer",
      "type": "object"
    },
    "ApplicationsListResponse": {
      "description": "Template for a collection of Applications.",
      "properties": {
        "kind": {
          "description": "Identifies the resource as a collection of Applications.",
          "type": "string",
          "default": "admin#datatransfer#applicationsList"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "applications": {
          "type": "array",
          "description": "List of applications that support data transfer and are also installed for the customer.",
          "items": {
            "$ref": "Application"
          }
        },
        "nextPageToken": {
          "description": "Continuation token which will be used to specify next page in list API.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ApplicationsListResponse"
    },
    "ApplicationTransferParam": {
      "description": "Template for application transfer parameters.",
      "id": "ApplicationTransferParam",
      "type": "object",
      "properties": {
        "value": {
          "items": {
            "type": "string"
          },
          "description": "The value of the corresponding transfer parameter. eg: 'PRIVATE' or 'SHARED'",
          "type": "array"
        },
        "key": {
          "description": "The type of the transfer parameter. eg: 'PRIVACY_LEVEL'",
          "type": "string"
        }
      }
    }
  },
  "documentationLink": "http://developers.google.com/admin-sdk/",
  "discoveryVersion": "v1",
  "packagePath": "admin",
  "revision": "20210105",
  "version": "datatransfer_v1",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.datatransfer": {
          "description": "View and manage data transfers between users in your organization"
        },
        "https://www.googleapis.com/auth/admin.datatransfer.readonly": {
          "description": "View data transfers between users in your organization"
        }
      }
    }
  },
  "resources": {
    "applications": {
      "methods": {
        "get": {
          "parameters": {
            "applicationId": {
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "ID of the application resource to be retrieved."
            }
          },
          "path": "admin/datatransfer/v1/applications/{applicationId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Application"
          },
          "parameterOrder": [
            "applicationId"
          ],
          "description": "Retrieves information about an application for the given application ID.",
          "flatPath": "admin/datatransfer/v1/applications/{applicationId}",
          "id": "datatransfer.applications.get",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ]
        },
        "list": {
          "id": "datatransfer.applications.list",
          "httpMethod": "GET",
          "flatPath": "admin/datatransfer/v1/applications",
          "description": "Lists the applications available for data transfer for a customer.",
          "response": {
            "$ref": "ApplicationsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "parameterOrder": [],
          "path": "admin/datatransfer/v1/applications",
          "parameters": {
            "customerId": {
              "type": "string",
              "description": "Immutable ID of the Google Workspace account.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Token to specify next page in the list.",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of results to return. Default is 100.",
              "maximum": "500",
              "format": "int32",
              "location": "query",
              "minimum": "1"
            }
          }
        }
      }
    },
    "transfers": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "response": {
            "$ref": "DataTransfersListResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [],
          "path": "admin/datatransfer/v1/transfers",
          "flatPath": "admin/datatransfer/v1/transfers",
          "id": "datatransfer.transfers.list",
          "parameters": {
            "maxResults": {
              "maximum": "500",
              "minimum": "1",
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Maximum number of results to return. Default is 100."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token to specify the next page in the list."
            },
            "status": {
              "location": "query",
              "description": "Status of the transfer.",
              "type": "string"
            },
            "customerId": {
              "description": "Immutable ID of the Google Workspace account.",
              "location": "query",
              "type": "string"
            },
            "oldOwnerUserId": {
              "type": "string",
              "description": "Source user's profile ID.",
              "location": "query"
            },
            "newOwnerUserId": {
              "location": "query",
              "type": "string",
              "description": "Destination user's profile ID."
            }
          },
          "description": "Lists the transfers for a customer by source user, destination user, or status."
        },
        "get": {
          "parameters": {
            "dataTransferId": {
              "required": true,
              "description": "ID of the resource to be retrieved. This is returned in the response from the insert method.",
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "id": "datatransfer.transfers.get",
          "response": {
            "$ref": "DataTransfer"
          },
          "path": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "dataTransferId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "description": "Retrieves a data transfer request by its resource ID."
        },
        "insert": {
          "request": {
            "$ref": "DataTransfer"
          },
          "path": "admin/datatransfer/v1/transfers",
          "description": "Inserts a data transfer request.",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer"
          ],
          "response": {
            "$ref": "DataTransfer"
          },
          "flatPath": "admin/datatransfer/v1/transfers",
          "parameterOrder": [],
          "id": "datatransfer.transfers.insert",
          "httpMethod": "POST"
        }
      }
    }
  },
  "id": "admin:datatransfer_v1",
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "canonicalName": "DataTransfer",
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "rootUrl": "https://admin.googleapis.com/",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "baseUrl": "https://admin.googleapis.com/",
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "parameters": {
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "default": "json"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "title": "Admin SDK API",
  "name": "admin",
  "basePath": ""
}
