{
  "baseUrl": "https://www.googleapis.com/",
  "version": "reports_v1",
  "batchPath": "batch/admin/reports_v1",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "name": "admin",
  "title": "Admin SDK",
  "documentationLink": "http://developers.google.com/admin-sdk/",
  "revision": "20201013",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.reports.usage.readonly": {
          "description": "View usage reports for your G Suite domain"
        },
        "https://www.googleapis.com/auth/admin.reports.audit.readonly": {
          "description": "View audit reports for your G Suite domain"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "resources": {
    "customerUsageReports": {
      "methods": {
        "get": {
          "flatPath": "admin/reports/v1/usage/dates/{date}",
          "path": "admin/reports/v1/usage/dates/{date}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/admin.reports.usage.readonly"
          ],
          "parameters": {
            "customerId": {
              "pattern": "C.+",
              "type": "string",
              "description": "The unique ID of the customer to retrieve data for.",
              "location": "query"
            },
            "parameters": {
              "location": "query",
              "description": "The parameters query string is a comma-separated list of event parameters that refine a report's results. The parameter is associated with a specific application. The application values for the Customers usage report include accounts, app_maker, apps_scripts, calendar, classroom, cros, docs, gmail, gplus, device_management, meet, and sites. A parameters query string is in the CSV form of app_name1:param_name1, app_name2:param_name2. *Note:* The API doesn't accept multiple values of a parameter. If a particular parameter is supplied more than once in the API request, the API only accepts the last value of that request parameter. In addition, if an invalid request parameter is supplied in the API request, the API ignores that request parameter and returns the response corresponding to the remaining valid request parameters. An example of an invalid request parameter is one that does not belong to the application. If no parameters are requested, all parameters are returned. ",
              "type": "string",
              "pattern": "(((accounts)|(app_maker)|(apps_scripts)|(classroom)|(cros)|(gmail)|(calendar)|(docs)|(gplus)|(sites)|(device_management)|(drive)|(meet)):[^,]+,)*(((accounts)|(app_maker)|(apps_scripts)|(classroom)|(cros)|(gmail)|(calendar)|(docs)|(gplus)|(sites)|(device_management)|(drive)|(meet)):[^,]+)"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token to specify next page. A report with multiple pages has a nextPageToken property in the response. For your follow-on requests getting all of the report's pages, enter the nextPageToken value in the pageToken query string."
            },
            "date": {
              "description": "Represents the date the usage occurred. The timestamp is in the ISO 8601 format, yyyy-mm-dd. We recommend you use your account's time zone for this.",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "(\\d){4}-(\\d){2}-(\\d){2}"
            }
          },
          "parameterOrder": [
            "date"
          ],
          "id": "reports.customerUsageReports.get",
          "description": "Retrieves a report which is a collection of properties and statistics for a specific customer's account. For more information, see the Customers Usage Report guide. For more information about the customer report's parameters, see the Customers Usage parameters reference guides. ",
          "response": {
            "$ref": "UsageReports"
          }
        }
      }
    },
    "activities": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "path": "admin/reports/v1/activity/users/{userKey}/applications/{applicationName}",
          "flatPath": "admin/reports/v1/activity/users/{userKey}/applications/{applicationName}",
          "id": "reports.activities.list",
          "description": "Retrieves a list of activities for a specific customer's account and application such as the Admin console application or the Google Drive application. For more information, see the guides for administrator and Google Drive activity reports. For more information about the activity report's parameters, see the activity parameters reference guides. ",
          "response": {
            "$ref": "Activities"
          },
          "parameterOrder": [
            "userKey",
            "applicationName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.reports.audit.readonly"
          ],
          "parameters": {
            "endTime": {
              "type": "string",
              "pattern": "(\\d\\d\\d\\d)-(\\d\\d)-(\\d\\d)T(\\d\\d):(\\d\\d):(\\d\\d)(?:\\.(\\d+))?(?:(Z)|([-+])(\\d\\d):(\\d\\d))",
              "location": "query",
              "description": "Sets the end of the range of time shown in the report. The date is in the RFC 3339 format, for example 2010-10-28T10:26:35.000Z. The default value is the approximate time of the API request. An API report has three basic time concepts: - *Date of the API's request for a report*: When the API created and retrieved the report. - *Report's start time*: The beginning of the timespan shown in the report. The startTime must be before the endTime (if specified) and the current time when the request is made, or the API returns an error. - *Report's end time*: The end of the timespan shown in the report. For example, the timespan of events summarized in a report can start in April and end in May. The report itself can be requested in August. If the endTime is not specified, the report returns all activities from the startTime until the current time or the most recent 180 days if the startTime is more than 180 days in the past."
            },
            "applicationName": {
              "pattern": "(admin)|(calendar)|(drive)|(login)|(mobile)|(token)|(groups)|(saml)|(chat)|(gplus)|(rules)|(jamboard)|(meet)|(user_accounts)|(access_transparency)|(groups_enterprise)|(gcp)|(context_aware_access)|(data_studio)|(chrome)",
              "enum": [
                "application_name_undefined",
                "access_transparency",
                "admin",
                "calendar",
                "chat",
                "drive",
                "gcp",
                "gplus",
                "groups",
                "groups_enterprise",
                "jamboard",
                "login",
                "meet",
                "mobile",
                "rules",
                "saml",
                "token",
                "user_accounts",
                "context_aware_access",
                "chrome",
                "data_studio"
              ],
              "description": "Application name for which the events are to be retrieved.",
              "location": "path",
              "enumDescriptions": [
                "",
                "The G Suite Access Transparency activity reports return information about different types of Access Transparency activity events.",
                "The Admin console application's activity reports return account information about different types of administrator activity events.",
                "The G Suite Calendar application's activity reports return information about various Calendar activity events.",
                "The Chat activity reports return information about various Chat activity events.",
                "The Google Drive application's activity reports return information about various Google Drive activity events. The Drive activity report is only available for G Suite Business customers.",
                "The Google Cloud Platform application's activity reports return information about various GCP activity events.",
                "The Google+ application's activity reports return information about various Google+ activity events.",
                "The Google Groups application's activity reports return information about various Groups activity events.",
                "The Enterprise Groups activity reports return information about various Enterprise group activity events.",
                "The Jamboard activity reports return information about various Jamboard activity events.",
                "The Login application's activity reports return account information about different types of Login activity events.",
                "The Meet Audit activity report return information about different types of Meet Audit activity events.",
                "The Mobile Audit activity report return information about different types of Mobile Audit activity events.",
                "The Rules activity report return information about different types of Rules activity events.",
                "The SAML activity report return information about different types of SAML activity events.",
                "The Token application's activity reports return account information about different types of Token activity events.",
                "The User Accounts application's activity reports return account information about different types of User Accounts activity events.",
                "The Context-aware access activity reports return information about users' access denied events due to Context-aware access rules.",
                "The Chrome activity reports return information about unsafe events reported in the context of the WebProtect features of BeyondCorp.",
                "The Data Studio activity reports return information about various types of Data Studio activity events."
              ],
              "type": "string",
              "required": true
            },
            "userKey": {
              "type": "string",
              "description": "Represents the profile ID or the user email for which the data should be filtered. Can be all for all information, or userKey for a user's unique G Suite profile ID or their primary email address.",
              "location": "path",
              "required": true
            },
            "orgUnitID": {
              "type": "string",
              "default": "",
              "location": "query",
              "description": "ID of the organizational unit to report on. Activity records will be shown only for users who belong to the specified organizational unit. Data before Dec 17, 2018 doesn't appear in the filtered results.",
              "pattern": "(id:[a-z0-9]+)"
            },
            "actorIpAddress": {
              "description": "The Internet Protocol (IP) Address of host where the event was performed. This is an additional way to filter a report's summary using the IP address of the user whose activity is being reported. This IP address may or may not reflect the user's physical location. For example, the IP address can be the user's proxy server's address or a virtual private network (VPN) address. This parameter supports both IPv4 and IPv6 address versions.",
              "type": "string",
              "location": "query"
            },
            "filters": {
              "location": "query",
              "description": "The filters query string is a comma-separated list. The list is composed of event parameters that are manipulated by relational operators. Event parameters are in the form parameter1 name[parameter1 value],parameter2 name[parameter2 value],... These event parameters are associated with a specific eventName. An empty report is returned if the filtered request's parameter does not belong to the eventName. For more information about eventName parameters, see the list of event names for various applications above in applicationName. In the following Admin Activity example, the \u003c\u003e operator is URL-encoded in the request's query string (%3C%3E): GET...&eventName=CHANGE_CALENDAR_SETTING &filters=NEW_VALUE%3C%3EREAD_ONLY_ACCESS In the following Drive example, the list can be a view or edit event's doc_id parameter with a value that is manipulated by an 'equal to' (==) or 'not equal to' (\u003c\u003e) relational operator. In the first example, the report returns each edited document's doc_id. In the second example, the report returns each viewed document's doc_id that equals the value 12345 and does not return any viewed document's which have a doc_id value of 98765. The \u003c\u003e operator is URL-encoded in the request's query string (%3C%3E): GET...&eventName=edit&filters=doc_id GET...&eventName=view&filters=doc_id==12345,doc_id%3C%3E98765 The relational operators include: - == - 'equal to'. - \u003c\u003e - 'not equal to'. It is URL-encoded (%3C%3E). - \u003c - 'less than'. It is URL-encoded (%3C). - \u003c= - 'less than or equal to'. It is URL-encoded (%3C=). - \u003e - 'greater than'. It is URL-encoded (%3E). - \u003e= - 'greater than or equal to'. It is URL-encoded (%3E=). *Note:* The API doesn't accept multiple values of a parameter. If a particular parameter is supplied more than once in the API request, the API only accepts the last value of that request parameter. In addition, if an invalid request parameter is supplied in the API request, the API ignores that request parameter and returns the response corresponding to the remaining valid request parameters. If no parameters are requested, all parameters are returned. ",
              "pattern": "(.+[\u003c,\u003c=,==,\u003e=,\u003e,\u003c\u003e].+,)*(.+[\u003c,\u003c=,==,\u003e=,\u003e,\u003c\u003e].+)",
              "type": "string"
            },
            "pageToken": {
              "description": "The token to specify next page. A report with multiple pages has a nextPageToken property in the response. In your follow-on request getting the next page of the report, enter the nextPageToken value in the pageToken query string.",
              "type": "string",
              "location": "query"
            },
            "startTime": {
              "description": "Sets the beginning of the range of time shown in the report. The date is in the RFC 3339 format, for example 2010-10-28T10:26:35.000Z. The report returns all activities from startTime until endTime. The startTime must be before the endTime (if specified) and the current time when the request is made, or the API returns an error.",
              "location": "query",
              "pattern": "(\\d\\d\\d\\d)-(\\d\\d)-(\\d\\d)T(\\d\\d):(\\d\\d):(\\d\\d)(?:\\.(\\d+))?(?:(Z)|([-+])(\\d\\d):(\\d\\d))",
              "type": "string"
            },
            "maxResults": {
              "description": "Determines how many activity records are shown on each response page. For example, if the request sets maxResults=1 and the report has two activities, the report has two pages. The response's nextPageToken property has the token to the second page. The maxResults query string is optional in the request. The default value is 1000.",
              "minimum": "1",
              "format": "int32",
              "default": "1000",
              "location": "query",
              "type": "integer",
              "maximum": "1000"
            },
            "customerId": {
              "pattern": "C.+",
              "type": "string",
              "location": "query",
              "description": "The unique ID of the customer to retrieve data for."
            },
            "eventName": {
              "location": "query",
              "type": "string",
              "description": "The name of the event being queried by the API. Each eventName is related to a specific G Suite service or feature which the API organizes into types of events. An example is the Google Calendar events in the Admin console application's reports. The Calendar Settings type structure has all of the Calendar eventName activities reported by the API. When an administrator changes a Calendar setting, the API reports this activity in the Calendar Settings type and eventName parameters. For more information about eventName query strings and parameters, see the list of event names for various applications above in applicationName."
            }
          }
        },
        "watch": {
          "response": {
            "$ref": "Channel"
          },
          "flatPath": "admin/reports/v1/activity/users/{userKey}/applications/{applicationName}/watch",
          "httpMethod": "POST",
          "parameterOrder": [
            "userKey",
            "applicationName"
          ],
          "parameters": {
            "userKey": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Represents the profile ID or the user email for which the data should be filtered. Can be all for all information, or userKey for a user's unique G Suite profile ID or their primary email address."
            },
            "endTime": {
              "description": "Sets the end of the range of time shown in the report. The date is in the RFC 3339 format, for example 2010-10-28T10:26:35.000Z. The default value is the approximate time of the API request. An API report has three basic time concepts: - *Date of the API's request for a report*: When the API created and retrieved the report. - *Report's start time*: The beginning of the timespan shown in the report. The startTime must be before the endTime (if specified) and the current time when the request is made, or the API returns an error. - *Report's end time*: The end of the timespan shown in the report. For example, the timespan of events summarized in a report can start in April and end in May. The report itself can be requested in August. If the endTime is not specified, the report returns all activities from the startTime until the current time or the most recent 180 days if the startTime is more than 180 days in the past.",
              "pattern": "(\\d\\d\\d\\d)-(\\d\\d)-(\\d\\d)T(\\d\\d):(\\d\\d):(\\d\\d)(?:\\.(\\d+))?(?:(Z)|([-+])(\\d\\d):(\\d\\d))",
              "location": "query",
              "type": "string"
            },
            "startTime": {
              "description": "Sets the beginning of the range of time shown in the report. The date is in the RFC 3339 format, for example 2010-10-28T10:26:35.000Z. The report returns all activities from startTime until endTime. The startTime must be before the endTime (if specified) and the current time when the request is made, or the API returns an error.",
              "pattern": "(\\d\\d\\d\\d)-(\\d\\d)-(\\d\\d)T(\\d\\d):(\\d\\d):(\\d\\d)(?:\\.(\\d+))?(?:(Z)|([-+])(\\d\\d):(\\d\\d))",
              "type": "string",
              "location": "query"
            },
            "applicationName": {
              "type": "string",
              "enumDescriptions": [
                "",
                "The G Suite Access Transparency activity reports return information about different types of Access Transparency activity events.",
                "The Admin console application's activity reports return account information about different types of administrator activity events.",
                "The G Suite Calendar application's activity reports return information about various Calendar activity events.",
                "The Chat activity reports return information about various Chat activity events.",
                "The Google Drive application's activity reports return information about various Google Drive activity events. The Drive activity report is only available for G Suite Business customers.",
                "The Google Cloud Platform application's activity reports return information about various GCP activity events.",
                "The Google+ application's activity reports return information about various Google+ activity events.",
                "The Google Groups application's activity reports return information about various Groups activity events.",
                "The Enterprise Groups activity reports return information about various Enterprise group activity events.",
                "The Jamboard activity reports return information about various Jamboard activity events.",
                "The Login application's activity reports return account information about different types of Login activity events.",
                "The Meet Audit activity report return information about different types of Meet Audit activity events.",
                "The Mobile Audit activity report return information about different types of Mobile Audit activity events.",
                "The Rules activity report return information about different types of Rules activity events.",
                "The SAML activity report return information about different types of SAML activity events.",
                "The Token application's activity reports return account information about different types of Token activity events.",
                "The User Accounts application's activity reports return account information about different types of User Accounts activity events.",
                "The Context-aware access activity reports return information about users' access denied events due to Context-aware access rules.",
                "The Chrome activity reports return information about unsafe events reported in the context of the WebProtect features of BeyondCorp.",
                "The Data Studio activity reports return information about various types of Data Studio activity events."
              ],
              "description": "Application name for which the events are to be retrieved.",
              "pattern": "(admin)|(calendar)|(drive)|(login)|(mobile)|(token)|(groups)|(saml)|(chat)|(gplus)|(rules)|(jamboard)|(meet)|(user_accounts)|(access_transparency)|(groups_enterprise)|(gcp)|(context_aware_access)|(data_studio)|(chrome)",
              "enum": [
                "application_name_unspecified",
                "access_transparency",
                "admin",
                "calendar",
                "chat",
                "drive",
                "gcp",
                "gplus",
                "groups",
                "groups_enterprise",
                "jamboard",
                "login",
                "meet",
                "mobile",
                "rules",
                "saml",
                "token",
                "user_accounts",
                "context_aware_access",
                "chrome",
                "data_studio"
              ],
              "required": true,
              "location": "path"
            },
            "pageToken": {
              "description": "The token to specify next page. A report with multiple pages has a nextPageToken property in the response. In your follow-on request getting the next page of the report, enter the nextPageToken value in the pageToken query string.",
              "location": "query",
              "type": "string"
            },
            "actorIpAddress": {
              "location": "query",
              "type": "string",
              "description": "The Internet Protocol (IP) Address of host where the event was performed. This is an additional way to filter a report's summary using the IP address of the user whose activity is being reported. This IP address may or may not reflect the user's physical location. For example, the IP address can be the user's proxy server's address or a virtual private network (VPN) address. This parameter supports both IPv4 and IPv6 address versions."
            },
            "filters": {
              "description": "The filters query string is a comma-separated list. The list is composed of event parameters that are manipulated by relational operators. Event parameters are in the form parameter1 name[parameter1 value],parameter2 name[parameter2 value],... These event parameters are associated with a specific eventName. An empty report is returned if the filtered request's parameter does not belong to the eventName. For more information about eventName parameters, see the list of event names for various applications above in applicationName. In the following Admin Activity example, the \u003c\u003e operator is URL-encoded in the request's query string (%3C%3E): GET...&eventName=CHANGE_CALENDAR_SETTING &filters=NEW_VALUE%3C%3EREAD_ONLY_ACCESS In the following Drive example, the list can be a view or edit event's doc_id parameter with a value that is manipulated by an 'equal to' (==) or 'not equal to' (\u003c\u003e) relational operator. In the first example, the report returns each edited document's doc_id. In the second example, the report returns each viewed document's doc_id that equals the value 12345 and does not return any viewed document's which have a doc_id value of 98765. The \u003c\u003e operator is URL-encoded in the request's query string (%3C%3E): GET...&eventName=edit&filters=doc_id GET...&eventName=view&filters=doc_id==12345,doc_id%3C%3E98765 The relational operators include: - == - 'equal to'. - \u003c\u003e - 'not equal to'. It is URL-encoded (%3C%3E). - \u003c - 'less than'. It is URL-encoded (%3C). - \u003c= - 'less than or equal to'. It is URL-encoded (%3C=). - \u003e - 'greater than'. It is URL-encoded (%3E). - \u003e= - 'greater than or equal to'. It is URL-encoded (%3E=). *Note:* The API doesn't accept multiple values of a parameter. If a particular parameter is supplied more than once in the API request, the API only accepts the last value of that request parameter. In addition, if an invalid request parameter is supplied in the API request, the API ignores that request parameter and returns the response corresponding to the remaining valid request parameters. If no parameters are requested, all parameters are returned. ",
              "pattern": "(.+[\u003c,\u003c=,==,\u003e=,\u003e,\u003c\u003e].+,)*(.+[\u003c,\u003c=,==,\u003e=,\u003e,\u003c\u003e].+)",
              "type": "string",
              "location": "query"
            },
            "eventName": {
              "location": "query",
              "description": "The name of the event being queried by the API. Each eventName is related to a specific G Suite service or feature which the API organizes into types of events. An example is the Google Calendar events in the Admin console application's reports. The Calendar Settings type structure has all of the Calendar eventName activities reported by the API. When an administrator changes a Calendar setting, the API reports this activity in the Calendar Settings type and eventName parameters. For more information about eventName query strings and parameters, see the list of event names for various applications above in applicationName.",
              "type": "string"
            },
            "maxResults": {
              "description": "Determines how many activity records are shown on each response page. For example, if the request sets maxResults=1 and the report has two activities, the report has two pages. The response's nextPageToken property has the token to the second page. The maxResults query string is optional in the request. The default value is 1000.",
              "maximum": "1000",
              "minimum": "1",
              "format": "int32",
              "type": "integer",
              "location": "query",
              "default": "1000"
            },
            "customerId": {
              "pattern": "C.+",
              "type": "string",
              "location": "query",
              "description": "The unique ID of the customer to retrieve data for."
            },
            "orgUnitID": {
              "location": "query",
              "default": "",
              "type": "string",
              "pattern": "(id:[a-z0-9]+)",
              "description": "ID of the organizational unit to report on. Activity records will be shown only for users who belong to the specified organizational unit. Data before Dec 17, 2018 doesn't appear in the filtered results."
            }
          },
          "id": "reports.activities.watch",
          "path": "admin/reports/v1/activity/users/{userKey}/applications/{applicationName}/watch",
          "scopes": [
            "https://www.googleapis.com/auth/admin.reports.audit.readonly"
          ],
          "request": {
            "$ref": "Channel"
          },
          "description": "Start receiving notifications for account activities. For more information, see Receiving Push Notifications."
        }
      }
    },
    "userUsageReport": {
      "methods": {
        "get": {
          "path": "admin/reports/v1/usage/users/{userKey}/dates/{date}",
          "parameterOrder": [
            "userKey",
            "date"
          ],
          "httpMethod": "GET",
          "parameters": {
            "filters": {
              "description": "The filters query string is a comma-separated list of an application's event parameters where the parameter's value is manipulated by a relational operator. The filters query string includes the name of the application whose usage is returned in the report. The application values for the Users Usage Report include accounts, docs, and gmail. Filters are in the form [application name]:parameter name[parameter value],.... In this example, the \u003c\u003e 'not equal to' operator is URL-encoded in the request's query string (%3C%3E): GET https://www.googleapis.com/admin/reports/v1/usage/users/all/dates/2013-03-03 ?parameters=accounts:last_login_time &filters=accounts:last_login_time\u003e2010-10-28T10:26:35.000Z The relational operators include: - == - 'equal to'. - \u003c\u003e - 'not equal to'. It is URL-encoded (%3C%3E). - \u003c - 'less than'. It is URL-encoded (%3C). - \u003c= - 'less than or equal to'. It is URL-encoded (%3C=). - \u003e - 'greater than'. It is URL-encoded (%3E). - \u003e= - 'greater than or equal to'. It is URL-encoded (%3E=). ",
              "pattern": "(((accounts)|(classroom)|(cros)|(gmail)|(calendar)|(docs)|(gplus)|(sites)|(device_management)|(drive)):[a-z0-9_]+[\u003c,\u003c=,==,\u003e=,\u003e,!=][^,]+,)*(((accounts)|(classroom)|(cros)|(gmail)|(calendar)|(docs)|(gplus)|(sites)|(device_management)|(drive)):[a-z0-9_]+[\u003c,\u003c=,==,\u003e=,\u003e,!=][^,]+)",
              "type": "string",
              "location": "query"
            },
            "date": {
              "required": true,
              "type": "string",
              "description": "Represents the date the usage occurred. The timestamp is in the ISO 8601 format, yyyy-mm-dd. We recommend you use your account's time zone for this.",
              "location": "path",
              "pattern": "(\\d){4}-(\\d){2}-(\\d){2}"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token to specify next page. A report with multiple pages has a nextPageToken property in the response. In your follow-on request getting the next page of the report, enter the nextPageToken value in the pageToken query string."
            },
            "customerId": {
              "pattern": "C.+",
              "type": "string",
              "description": "The unique ID of the customer to retrieve data for.",
              "location": "query"
            },
            "userKey": {
              "type": "string",
              "location": "path",
              "description": "Represents the profile ID or the user email for which the data should be filtered. Can be all for all information, or userKey for a user's unique G Suite profile ID or their primary email address.",
              "required": true
            },
            "maxResults": {
              "default": "1000",
              "type": "integer",
              "minimum": "1",
              "format": "uint32",
              "description": "Determines how many activity records are shown on each response page. For example, if the request sets maxResults=1 and the report has two activities, the report has two pages. The response's nextPageToken property has the token to the second page. The maxResults query string is optional.",
              "maximum": "1000",
              "location": "query"
            },
            "parameters": {
              "description": "The parameters query string is a comma-separated list of event parameters that refine a report's results. The parameter is associated with a specific application. The application values for the Customers usage report include accounts, app_maker, apps_scripts, calendar, classroom, cros, docs, gmail, gplus, device_management, meet, and sites. A parameters query string is in the CSV form of app_name1:param_name1, app_name2:param_name2. *Note:* The API doesn't accept multiple values of a parameter. If a particular parameter is supplied more than once in the API request, the API only accepts the last value of that request parameter. In addition, if an invalid request parameter is supplied in the API request, the API ignores that request parameter and returns the response corresponding to the remaining valid request parameters. An example of an invalid request parameter is one that does not belong to the application. If no parameters are requested, all parameters are returned. ",
              "type": "string",
              "location": "query",
              "pattern": "(((accounts)|(classroom)|(cros)|(gmail)|(calendar)|(docs)|(gplus)|(sites)|(device_management)|(drive)):[^,]+,)*(((accounts)|(classroom)|(cros)|(gmail)|(calendar)|(docs)|(gplus)|(sites)|(device_management)|(drive)):[^,]+)"
            },
            "orgUnitID": {
              "description": "ID of the organizational unit to report on. User activity will be shown only for users who belong to the specified organizational unit. Data before Dec 17, 2018 doesn't appear in the filtered results.",
              "default": "",
              "pattern": "(id:[a-z0-9]+)",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Retrieves a report which is a collection of properties and statistics for a set of users with the account. For more information, see the User Usage Report guide. For more information about the user report's parameters, see the Users Usage parameters reference guides.",
          "response": {
            "$ref": "UsageReports"
          },
          "id": "reports.userUsageReport.get",
          "scopes": [
            "https://www.googleapis.com/auth/admin.reports.usage.readonly"
          ],
          "flatPath": "admin/reports/v1/usage/users/{userKey}/dates/{date}"
        }
      }
    },
    "channels": {
      "methods": {
        "stop": {
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/admin.reports.audit.readonly"
          ],
          "request": {
            "$ref": "Channel"
          },
          "description": "Stop watching resources through this channel.",
          "path": "admin/reports_v1/channels/stop",
          "id": "admin.channels.stop",
          "flatPath": "admin/reports_v1/channels/stop",
          "parameters": {}
        }
      }
    },
    "entityUsageReports": {
      "methods": {
        "get": {
          "parameterOrder": [
            "entityType",
            "entityKey",
            "date"
          ],
          "path": "admin/reports/v1/usage/{entityType}/{entityKey}/dates/{date}",
          "id": "reports.entityUsageReports.get",
          "response": {
            "$ref": "UsageReports"
          },
          "flatPath": "admin/reports/v1/usage/{entityType}/{entityKey}/dates/{date}",
          "httpMethod": "GET",
          "description": "Retrieves a report which is a collection of properties and statistics for entities used by users within the account. For more information, see the Entities Usage Report guide. For more information about the entities report's parameters, see the Entities Usage parameters reference guides.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.reports.usage.readonly"
          ],
          "parameters": {
            "entityType": {
              "required": true,
              "type": "string",
              "pattern": "(gplus_communities)",
              "location": "path",
              "description": "Represents the type of entity for the report.",
              "enum": [
                "entity_type_undefined",
                "gplus_communities"
              ],
              "enumDescriptions": [
                "",
                "Returns a report on Google+ communities."
              ]
            },
            "parameters": {
              "pattern": "(((gplus)):[^,]+,)*(((gplus)):[^,]+)",
              "type": "string",
              "location": "query",
              "description": "The parameters query string is a comma-separated list of event parameters that refine a report's results. The parameter is associated with a specific application. The application values for the Entities usage report are only gplus. A parameter query string is in the CSV form of [app_name1:param_name1], [app_name2:param_name2].... *Note:* The API doesn't accept multiple values of a parameter. If a particular parameter is supplied more than once in the API request, the API only accepts the last value of that request parameter. In addition, if an invalid request parameter is supplied in the API request, the API ignores that request parameter and returns the response corresponding to the remaining valid request parameters. An example of an invalid request parameter is one that does not belong to the application. If no parameters are requested, all parameters are returned. "
            },
            "maxResults": {
              "location": "query",
              "description": "Determines how many activity records are shown on each response page. For example, if the request sets maxResults=1 and the report has two activities, the report has two pages. The response's nextPageToken property has the token to the second page.",
              "type": "integer",
              "minimum": "1",
              "format": "uint32",
              "maximum": "1000",
              "default": "1000"
            },
            "pageToken": {
              "description": "Token to specify next page. A report with multiple pages has a nextPageToken property in the response. In your follow-on request getting the next page of the report, enter the nextPageToken value in the pageToken query string.",
              "type": "string",
              "location": "query"
            },
            "filters": {
              "type": "string",
              "location": "query",
              "pattern": "(((gplus)):[a-z0-9_]+[\u003c,\u003c=,==,\u003e=,\u003e,!=][^,]+,)*(((gplus)):[a-z0-9_]+[\u003c,\u003c=,==,\u003e=,\u003e,!=][^,]+)",
              "description": "The filters query string is a comma-separated list of an application's event parameters where the parameter's value is manipulated by a relational operator. The filters query string includes the name of the application whose usage is returned in the report. The application values for the Entities usage report include accounts, docs, and gmail. Filters are in the form [application name]:parameter name[parameter value],.... In this example, the \u003c\u003e 'not equal to' operator is URL-encoded in the request's query string (%3C%3E): GET https://www.googleapis.com/admin/reports/v1/usage/gplus_communities/all/dates/2017-12-01 ?parameters=gplus:community_name,gplus:num_total_members &filters=gplus:num_total_members\u003e0 The relational operators include: - == - 'equal to'. - \u003c\u003e - 'not equal to'. It is URL-encoded (%3C%3E). - \u003c - 'less than'. It is URL-encoded (%3C). - \u003c= - 'less than or equal to'. It is URL-encoded (%3C=). - \u003e - 'greater than'. It is URL-encoded (%3E). - \u003e= - 'greater than or equal to'. It is URL-encoded (%3E=). Filters can only be applied to numeric parameters. "
            },
            "customerId": {
              "pattern": "C.+",
              "location": "query",
              "type": "string",
              "description": "The unique ID of the customer to retrieve data for."
            },
            "entityKey": {
              "enumDescriptions": [
                "",
                "Returns activity events for all users.",
                "Represents an app-specific identifier for the entity. For details on how to obtain the entityKey for a particular entityType, see the Entities Usage parameters reference guides."
              ],
              "enum": [
                "entityKeyUndefined",
                "all",
                "entityKey"
              ],
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Represents the key of the object to filter the data with."
            },
            "date": {
              "type": "string",
              "pattern": "(\\d){4}-(\\d){2}-(\\d){2}",
              "description": "Represents the date the usage occurred. The timestamp is in the ISO 8601 format, yyyy-mm-dd. We recommend you use your account's time zone for this.",
              "location": "path",
              "required": true
            }
          }
        }
      }
    }
  },
  "basePath": "",
  "canonicalName": "reports",
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "id": "admin:reports_v1",
  "rootUrl": "https://www.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "schemas": {
    "Activities": {
      "description": "JSON template for a collection of activities.",
      "type": "object",
      "id": "Activities",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "Activity"
          },
          "description": "Each activity record in the response."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token for retrieving the follow-on next page of the report. The nextPageToken value is used in the request's pageToken query string."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "kind": {
          "type": "string",
          "description": "The type of API resource. For an activity report, the value is reports#activities.",
          "default": "admin#reports#activities"
        }
      }
    },
    "Activity": {
      "description": "JSON template for the activity resource.",
      "properties": {
        "events": {
          "items": {
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the event. This is the specific name of the activity reported by the API. And each eventName is related to a specific G Suite service or feature which the API organizes into types of events. For eventName request parameters in general: - If no eventName is given, the report returns all possible instances of an eventName. - When you request an eventName, the API's response returns all activities which contain that eventName. It is possible that the returned activities will have other eventName properties in addition to the one requested. For more information about eventName properties, see the list of event names for various applications above in applicationName."
              },
              "type": {
                "type": "string",
                "description": "Type of event. The G Suite service or feature that an administrator changes is identified in the type property which identifies an event using the eventName property. For a full list of the API's type categories, see the list of event names for various applications above in applicationName."
              },
              "parameters": {
                "items": {
                  "properties": {
                    "multiIntValue": {
                      "items": {
                        "format": "int64",
                        "type": "string"
                      },
                      "description": "Integer values of the parameter.",
                      "type": "array"
                    },
                    "messageValue": {
                      "properties": {
                        "parameter": {
                          "description": "Parameter values",
                          "type": "array",
                          "items": {
                            "$ref": "NestedParameter"
                          }
                        }
                      },
                      "description": "Nested parameter value pairs associated with this parameter. Complex value type for a parameter are returned as a list of parameter values. For example, the address parameter may have a value as [{parameter: [{name: city, value: abc}]}]",
                      "type": "object"
                    },
                    "value": {
                      "type": "string",
                      "description": "String value of the parameter."
                    },
                    "boolValue": {
                      "type": "boolean",
                      "description": "Boolean value of the parameter."
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the parameter."
                    },
                    "multiValue": {
                      "type": "array",
                      "description": "String values of the parameter.",
                      "items": {
                        "type": "string"
                      }
                    },
                    "intValue": {
                      "format": "int64",
                      "description": "Integer value of the parameter.",
                      "type": "string"
                    },
                    "multiMessageValue": {
                      "items": {
                        "properties": {
                          "parameter": {
                            "items": {
                              "$ref": "NestedParameter"
                            },
                            "description": "Parameter values",
                            "type": "array"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array",
                      "description": "List of messageValue objects."
                    }
                  },
                  "type": "object"
                },
                "description": "Parameter value pairs for various applications. For more information about eventName parameters, see the list of event names for various applications above in applicationName.",
                "type": "array"
              }
            },
            "type": "object"
          },
          "description": "Activity events in the report.",
          "type": "array"
        },
        "ipAddress": {
          "description": "IP address of the user doing the action. This is the Internet Protocol (IP) address of the user when logging into G Suite which may or may not reflect the user's physical location. For example, the IP address can be the user's proxy server's address or a virtual private network (VPN) address. The API supports IPv4 and IPv6.",
          "type": "string"
        },
        "actor": {
          "type": "object",
          "description": "User doing the action.",
          "properties": {
            "callerType": {
              "description": "The type of actor.",
              "type": "string"
            },
            "key": {
              "type": "string",
              "description": "Only present when callerType is KEY. Can be the consumer_key of the requestor for OAuth 2LO API requests or an identifier for robot accounts."
            },
            "profileId": {
              "description": "The unique G Suite profile ID of the actor. May be absent if the actor is not a G Suite user.",
              "type": "string"
            },
            "email": {
              "type": "string",
              "description": "The primary email address of the actor. May be absent if there is no email address associated with the actor."
            }
          }
        },
        "etag": {
          "type": "string",
          "description": "ETag of the entry."
        },
        "kind": {
          "type": "string",
          "description": "The type of API resource. For an activity report, the value is audit#activity.",
          "default": "admin#reports#activity"
        },
        "id": {
          "type": "object",
          "description": "Unique identifier for each activity record.",
          "properties": {
            "customerId": {
              "description": "The unique identifier for a G suite account.",
              "type": "string"
            },
            "uniqueQualifier": {
              "format": "int64",
              "type": "string",
              "description": "Unique qualifier if multiple events have the same time."
            },
            "time": {
              "format": "date-time",
              "description": "Time of occurrence of the activity. This is in UNIX epoch time in seconds.",
              "type": "string"
            },
            "applicationName": {
              "description": "Application name to which the event belongs. For possible values see the list of applications above in applicationName.",
              "type": "string"
            }
          }
        },
        "ownerDomain": {
          "type": "string",
          "description": "This is the domain that is affected by the report's event. For example domain of Admin console or the Drive application's document owner."
        }
      },
      "type": "object",
      "id": "Activity"
    },
    "UsageReport": {
      "properties": {
        "entity": {
          "type": "object",
          "description": "Output only. Information about the type of the item.",
          "readOnly": true,
          "properties": {
            "userEmail": {
              "description": "Output only. The user's email address. Only relevant if entity.type = \"USER\"",
              "type": "string",
              "readOnly": true
            },
            "entityId": {
              "type": "string",
              "readOnly": true,
              "description": "Output only. Object key. Only relevant if entity.type = \"OBJECT\" Note: external-facing name of report is \"Entities\" rather than \"Objects\"."
            },
            "customerId": {
              "type": "string",
              "description": "Output only. The unique identifier of the customer's account.",
              "readOnly": true
            },
            "profileId": {
              "readOnly": true,
              "description": "Output only. The user's immutable G Suite profile identifier.",
              "type": "string"
            },
            "type": {
              "description": "Output only. The type of item. The value is customer.",
              "readOnly": true,
              "type": "string"
            }
          }
        },
        "parameters": {
          "items": {
            "type": "object",
            "properties": {
              "stringValue": {
                "type": "string",
                "description": "Output only. String value of the parameter.",
                "readOnly": true
              },
              "msgValue": {
                "items": {
                  "additionalProperties": {
                    "description": "Properties of the object.",
                    "type": "any"
                  },
                  "type": "object"
                },
                "type": "array",
                "readOnly": true,
                "description": "Output only. Nested message value of the parameter."
              },
              "intValue": {
                "format": "int64",
                "description": "Output only. Integer value of the parameter.",
                "type": "string",
                "readOnly": true
              },
              "boolValue": {
                "description": "Output only. Boolean value of the parameter.",
                "readOnly": true,
                "type": "boolean"
              },
              "datetimeValue": {
                "readOnly": true,
                "format": "date-time",
                "type": "string",
                "description": "The RFC 3339 formatted value of the parameter, for example 2010-10-28T10:26:35.000Z."
              },
              "name": {
                "type": "string",
                "description": "Name of the parameter."
              }
            }
          },
          "type": "array",
          "description": "Output only. Parameter value pairs for various applications. For the Customers usage report parameters and values, see the customer usage parameters reference.",
          "readOnly": true
        },
        "kind": {
          "default": "admin#reports#usageReport",
          "type": "string",
          "description": "The type of API resource. For a usage report, the value is admin#reports#usageReport."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "date": {
          "type": "string",
          "description": "Output only. The date of the report request.",
          "readOnly": true
        }
      },
      "description": "JSON template for a usage report.",
      "type": "object",
      "id": "UsageReport"
    },
    "UsageReports": {
      "properties": {
        "warnings": {
          "description": "Warnings, if any.",
          "type": "array",
          "items": {
            "properties": {
              "data": {
                "type": "array",
                "description": "Key-value pairs to give detailed information on the warning.",
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "description": "Key associated with a key-value pair to give detailed information on the warning."
                    },
                    "value": {
                      "description": "Value associated with a key-value pair to give detailed information on the warning.",
                      "type": "string"
                    }
                  }
                }
              },
              "code": {
                "description": "Machine readable code or warning type. The warning code value is 200.",
                "type": "string"
              },
              "message": {
                "description": "The human readable messages for a warning are: - Data is not available warning - Sorry, data for date yyyy-mm-dd for application \"application name\" is not available. - Partial data is available warning - Data for date yyyy-mm-dd for application \"application name\" is not available right now, please try again after a few hours. ",
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "kind": {
          "default": "admin#reports#usageReports",
          "description": "The type of API resource. For a usage report, the value is admin#reports#usageReports.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token to specify next page. A report with multiple pages has a nextPageToken property in the response. For your follow-on requests getting all of the report's pages, enter the nextPageToken value in the pageToken query string.",
          "type": "string"
        },
        "usageReports": {
          "items": {
            "$ref": "UsageReport"
          },
          "description": "Various application parameter records.",
          "type": "array"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        }
      },
      "type": "object",
      "id": "UsageReports"
    },
    "NestedParameter": {
      "properties": {
        "multiBoolValue": {
          "items": {
            "type": "boolean"
          },
          "type": "array",
          "description": "Multiple boolean values of the parameter."
        },
        "multiIntValue": {
          "description": "Multiple integer values of the parameter.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "boolValue": {
          "type": "boolean",
          "description": "Boolean value of the parameter."
        },
        "multiValue": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Multiple string values of the parameter."
        },
        "name": {
          "type": "string",
          "description": "The name of the parameter."
        },
        "intValue": {
          "description": "Integer value of the parameter.",
          "type": "string",
          "format": "int64"
        },
        "value": {
          "description": "String value of the parameter.",
          "type": "string"
        }
      },
      "id": "NestedParameter",
      "description": "JSON template for a parameter used in various reports.",
      "type": "object"
    },
    "Channel": {
      "type": "object",
      "properties": {
        "resourceUri": {
          "type": "string",
          "description": "A version-specific identifier for the watched resource."
        },
        "token": {
          "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional.",
          "type": "string"
        },
        "type": {
          "description": "The type of delivery mechanism used for this channel.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "api#channel",
          "description": "Identifies this as a notification channel used to watch for changes to a resource, which is \"api#channel\"."
        },
        "params": {
          "description": "Additional parameters controlling delivery channel behavior. Optional.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "id": {
          "type": "string",
          "description": "A UUID or similar unique string that identifies this channel."
        },
        "address": {
          "type": "string",
          "description": "The address where notifications are delivered for this channel."
        },
        "resourceId": {
          "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions.",
          "type": "string"
        },
        "expiration": {
          "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.",
          "format": "int64",
          "type": "string"
        },
        "payload": {
          "description": "A Boolean value to indicate whether payload is wanted. Optional.",
          "type": "boolean"
        }
      },
      "id": "Channel",
      "description": "A notification channel used to watch for resource changes."
    }
  },
  "packagePath": "admin",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "servicePath": ""
}
