{
  "basePath": "",
  "revision": "20211207",
  "title": "Admin SDK API",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.directory.user.readonly": {
          "description": "See info about users on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly": {
          "description": "View calendar resources on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.device.mobile.action": {
          "description": "Manage your mobile devices by performing administrative tasks"
        },
        "https://www.googleapis.com/auth/admin.directory.user.alias.readonly": {
          "description": "View user aliases on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.group.readonly": {
          "description": "View groups on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.userschema.readonly": {
          "description": "View user schemas on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly": {
          "description": "View delegated admin roles for your domain"
        },
        "https://www.googleapis.com/auth/admin.chrome.printers.readonly": {
          "description": "See the printers that your organization can use with Chrome"
        },
        "https://www.googleapis.com/auth/admin.directory.rolemanagement": {
          "description": "Manage delegated admin roles for your domain"
        },
        "https://www.googleapis.com/auth/admin.chrome.printers": {
          "description": "See, add, edit, and permanently delete the printers that your organization can use with Chrome"
        },
        "https://www.googleapis.com/auth/admin.directory.device.chromeos": {
          "description": "View and manage your Chrome OS devices' metadata"
        },
        "https://www.googleapis.com/auth/admin.directory.user": {
          "description": "View and manage the provisioning of users on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.userschema": {
          "description": "View and manage the provisioning of user schemas on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.user.alias": {
          "description": "View and manage user aliases on your domain"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/admin.directory.group": {
          "description": "View and manage the provisioning of groups on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.orgunit": {
          "description": "View and manage organization units on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.orgunit.readonly": {
          "description": "View organization units on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.resource.calendar": {
          "description": "View and manage the provisioning of calendar resources on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.domain.readonly": {
          "description": "View domains related to your customers"
        },
        "https://www.googleapis.com/auth/admin.directory.group.member.readonly": {
          "description": "View group subscriptions on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.customer": {
          "description": "View and manage customer related information"
        },
        "https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly": {
          "description": "View your Chrome OS devices' metadata"
        },
        "https://www.googleapis.com/auth/admin.directory.device.mobile": {
          "description": "View and manage your mobile devices' metadata"
        },
        "https://www.googleapis.com/auth/admin.directory.customer.readonly": {
          "description": "View customer related information"
        },
        "https://www.googleapis.com/auth/admin.directory.domain": {
          "description": "View and manage the provisioning of domains for your customers"
        },
        "https://www.googleapis.com/auth/admin.directory.group.member": {
          "description": "View and manage group subscriptions on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.user.security": {
          "description": "Manage data access permissions for users on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.device.mobile.readonly": {
          "description": "View your mobile devices' metadata"
        }
      }
    }
  },
  "baseUrl": "https://admin.googleapis.com/",
  "id": "admin:directory_v1",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "packagePath": "admin",
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "servicePath": "",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response."
    }
  },
  "protocol": "rest",
  "name": "admin",
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "schemas": {
    "SchemaFieldSpec": {
      "id": "SchemaFieldSpec",
      "properties": {
        "numericIndexingSpec": {
          "properties": {
            "minValue": {
              "type": "number",
              "format": "double",
              "description": "Minimum value of this field. This is meant to be indicative rather than enforced. Values outside this range will still be indexed, but search may not be as performant."
            },
            "maxValue": {
              "description": "Maximum value of this field. This is meant to be indicative rather than enforced. Values outside this range will still be indexed, but search may not be as performant.",
              "type": "number",
              "format": "double"
            }
          },
          "description": "Indexing spec for a numeric field. By default, only exact match queries will be supported for numeric fields. Setting the `numericIndexingSpec` allows range queries to be supported.",
          "type": "object"
        },
        "multiValued": {
          "description": "A boolean specifying whether this is a multi-valued field or not. Default: `false`.",
          "type": "boolean"
        },
        "indexed": {
          "type": "boolean",
          "default": "true",
          "description": "Boolean specifying whether the field is indexed or not. Default: `true`."
        },
        "fieldName": {
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          },
          "type": "string",
          "description": "The name of the field."
        },
        "kind": {
          "type": "string",
          "default": "admin#directory#schema#fieldspec",
          "description": "The kind of resource this is. For schema fields this is always `admin#directory#schema#fieldspec`."
        },
        "readAccessType": {
          "type": "string",
          "default": "ALL_DOMAIN_USERS",
          "description": "Specifies who can view values of this field. See [Retrieve users as a non-administrator](/admin-sdk/directory/v1/guides/manage-users#retrieve_users_non_admin) for more information. Note: It may take up to 24 hours for changes to this field to be reflected."
        },
        "displayName": {
          "type": "string",
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          },
          "description": "Display Name of the field."
        },
        "etag": {
          "type": "string",
          "description": "The ETag of the field."
        },
        "fieldType": {
          "type": "string",
          "description": "The type of the field.",
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          }
        },
        "fieldId": {
          "type": "string",
          "description": "The unique identifier of the field (Read-only)"
        }
      },
      "description": "You can use schemas to add custom fields to user profiles. You can use these fields to store information such as the projects your users work on, their physical locations, their hire dates, or whatever else fits your business needs. For more information, see [Custom User Fields](/admin-sdk/directory/v1/guides/manage-schemas).",
      "type": "object"
    },
    "VerificationCode": {
      "properties": {
        "verificationCode": {
          "type": "string",
          "description": "A current verification code for the user. Invalidated or used verification codes are not returned as part of the result."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#verificationCode",
          "type": "string",
          "description": "The type of the resource. This is always `admin#directory#verificationCode`."
        },
        "userId": {
          "description": "The obfuscated unique ID of the user.",
          "type": "string"
        }
      },
      "description": "The Directory API allows you to view, generate, and invalidate backup verification codes for a user.",
      "id": "VerificationCode",
      "type": "object"
    },
    "Channel": {
      "id": "Channel",
      "description": "An notification channel used to watch for resource changes.",
      "properties": {
        "address": {
          "type": "string",
          "description": "The address where notifications are delivered for this channel."
        },
        "resourceUri": {
          "description": "A version-specific identifier for the watched resource.",
          "type": "string"
        },
        "resourceId": {
          "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of delivery mechanism used for this channel."
        },
        "expiration": {
          "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.",
          "type": "string",
          "format": "int64"
        },
        "payload": {
          "type": "boolean",
          "description": "A Boolean value to indicate whether payload is wanted. Optional."
        },
        "id": {
          "description": "A UUID or similar unique string that identifies this channel.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies this as a notification channel used to watch for changes to a resource, which is `api#channel`.",
          "type": "string",
          "default": "api#channel"
        },
        "params": {
          "type": "object",
          "description": "Additional parameters controlling delivery channel behavior. Optional.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "token": {
          "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "User": {
      "type": "object",
      "properties": {
        "password": {
          "annotations": {
            "required": [
              "directory.users.insert"
            ]
          },
          "type": "string",
          "description": "User's password"
        },
        "emails": {
          "description": "A list of the user's email addresses. The maximum allowed data size for this field is 10Kb.",
          "type": "any"
        },
        "etag": {
          "readOnly": true,
          "description": "Output only. ETag of the resource.",
          "type": "string"
        },
        "aliases": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. A list of the user's alias email addresses.",
          "readOnly": true
        },
        "isDelegatedAdmin": {
          "description": "Output only. Indicates if the user is a delegated administrator. Delegated administrators are supported by the API but cannot create or undelete users, or make users administrators. These requests are ignored by the API service. Roles and privileges for administrators are assigned using the [Admin console](https://support.google.com/a/answer/33325).",
          "readOnly": true,
          "type": "boolean"
        },
        "keywords": {
          "description": "The user's keywords. The maximum allowed data size for this field is 1Kb.",
          "type": "any"
        },
        "sshPublicKeys": {
          "description": "A list of SSH public keys.",
          "type": "any"
        },
        "posixAccounts": {
          "type": "any",
          "description": "A list of [POSIX](https://www.opengroup.org/austin/papers/posix_faq.html) account information for the user."
        },
        "externalIds": {
          "description": "A list of external IDs for the user, such as an employee or network ID. The maximum allowed data size for this field is 2Kb.",
          "type": "any"
        },
        "isEnforcedIn2Sv": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Is 2-step verification enforced (Read-only)"
        },
        "relations": {
          "type": "any",
          "description": "A list of the user's relationships to other users. The maximum allowed data size for this field is 2Kb."
        },
        "hashFunction": {
          "description": "Stores the hash format of the password property. We recommend sending the `password` property value as a base 16 bit hexadecimal-encoded hash value. Set the `hashFunction` values as either the [SHA-1](https://wikipedia.org/wiki/SHA-1), [MD5](https://wikipedia.org/wiki/MD5), or [crypt](https://en.wikipedia.org/wiki/Crypt_\\(C\\)) hash format.",
          "type": "string"
        },
        "suspensionReason": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Has the reason a user account is suspended either by the administrator or by Google at the time of suspension. The property is returned only if the `suspended` property is `true`."
        },
        "gender": {
          "description": "The user's gender. The maximum allowed data size for this field is 1Kb.",
          "type": "any"
        },
        "orgUnitPath": {
          "type": "string",
          "description": "The full path of the parent organization associated with the user. If the parent organization is the top-level, it is represented as a forward slash (`/`)."
        },
        "recoveryPhone": {
          "type": "string",
          "description": "Recovery phone of the user. The phone number must be in the E.164 format, starting with the plus sign (+). Example: *+16506661212*."
        },
        "addresses": {
          "type": "any",
          "description": "A list of the user's addresses. The maximum allowed data size for this field is 10Kb."
        },
        "thumbnailPhotoUrl": {
          "description": "Output only. Photo Url of the user (Read-only)",
          "readOnly": true,
          "type": "string"
        },
        "languages": {
          "description": "The user's languages. The maximum allowed data size for this field is 1Kb.",
          "type": "any"
        },
        "ims": {
          "description": "The user's Instant Messenger (IM) accounts. A user account can have multiple ims properties. But, only one of these ims properties can be the primary IM contact. The maximum allowed data size for this field is 2Kb.",
          "type": "any"
        },
        "agreedToTerms": {
          "readOnly": true,
          "description": "Output only. This property is `true` if the user has completed an initial login and accepted the Terms of Service agreement.",
          "type": "boolean"
        },
        "archived": {
          "description": "Indicates if user is archived.",
          "type": "boolean"
        },
        "isMailboxSetup": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates if the user's Google mailbox is created. This property is only applicable if the user has been assigned a Gmail license."
        },
        "isEnrolledIn2Sv": {
          "readOnly": true,
          "description": "Output only. Is enrolled in 2-step verification (Read-only)",
          "type": "boolean"
        },
        "websites": {
          "type": "any",
          "description": "The user's websites. The maximum allowed data size for this field is 2Kb."
        },
        "thumbnailPhotoEtag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ETag of the user's photo (Read-only)"
        },
        "suspended": {
          "description": "Indicates if user is suspended.",
          "type": "boolean"
        },
        "isAdmin": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates a user with super admininistrator privileges. The `isAdmin` property can only be edited in the [Make a user an administrator](/admin-sdk/directory/v1/guides/manage-users.html#make_admin) operation ( [makeAdmin](/admin-sdk/directory/v1/reference/users/makeAdmin.html) method). If edited in the user [insert](/admin-sdk/directory/v1/reference/users/insert.html) or [update](/admin-sdk/directory/v1/reference/users/update.html) methods, the edit is ignored by the API service."
        },
        "organizations": {
          "description": "A list of organizations the user belongs to. The maximum allowed data size for this field is 10Kb.",
          "type": "any"
        },
        "kind": {
          "readOnly": true,
          "type": "string",
          "default": "admin#directory#user",
          "description": "Output only. The type of the API resource. For Users resources, the value is `admin#directory#user`."
        },
        "includeInGlobalAddressList": {
          "description": "Indicates if the user's profile is visible in the Google Workspace global address list when the contact sharing feature is enabled for the domain. For more information about excluding user profiles, see the [administration help center](https://support.google.com/a/answer/1285988).",
          "type": "boolean"
        },
        "recoveryEmail": {
          "type": "string",
          "description": "Recovery email of the user."
        },
        "locations": {
          "description": "The user's locations. The maximum allowed data size for this field is 10Kb.",
          "type": "any"
        },
        "notes": {
          "description": "Notes for the user.",
          "type": "any"
        },
        "name": {
          "annotations": {
            "required": [
              "directory.users.insert"
            ]
          },
          "$ref": "UserName",
          "description": "Holds the given and family names of the user, and the read-only `fullName` value. The maximum number of characters in the `givenName` and in the `familyName` values is 60. In addition, name values support unicode/UTF-8 characters, and can contain spaces, letters (a-z), numbers (0-9), dashes (-), forward slashes (/), and periods (.). For more information about character usage rules, see the [administration help center](https://support.google.com/a/answer/9193374). Maximum allowed data size for this field is 1Kb."
        },
        "customerId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The customer ID to [retrieve all account users](/admin-sdk/directory/v1/guides/manage-users.html#get_all_users). You can use the alias `my_customer` to represent your account's `customerId`. As a reseller administrator, you can use the resold customer account's `customerId`. To get a `customerId`, use the account's primary domain in the `domain` parameter of a [users.list](/admin-sdk/directory/v1/reference/users/list) request."
        },
        "changePasswordAtNextLogin": {
          "type": "boolean",
          "description": "Indicates if the user is forced to change their password at next login. This setting doesn't apply when [the user signs in via a third-party identity provider](https://support.google.com/a/answer/60224)."
        },
        "deletionTime": {
          "readOnly": true,
          "format": "date-time",
          "type": "string"
        },
        "ipWhitelisted": {
          "type": "boolean",
          "description": "If `true`, the user's IP address is [whitelisted](https://support.google.com/a/answer/60752)."
        },
        "lastLoginTime": {
          "readOnly": true,
          "description": "User's last login time. (Read-only)",
          "format": "date-time",
          "type": "string"
        },
        "creationTime": {
          "readOnly": true,
          "format": "date-time",
          "description": "User's G Suite account creation time. (Read-only)",
          "type": "string"
        },
        "primaryEmail": {
          "description": "The user's primary email address. This property is required in a request to create a user account. The `primaryEmail` must be unique and cannot be an alias of another user.",
          "type": "string",
          "annotations": {
            "required": [
              "directory.users.insert"
            ]
          }
        },
        "customSchemas": {
          "description": "Custom fields of the user. The key is a `schema_name` and its values are `'field_name': 'field_value'`.",
          "type": "object",
          "additionalProperties": {
            "$ref": "UserCustomProperties"
          }
        },
        "phones": {
          "type": "any",
          "description": "A list of the user's phone numbers. The maximum allowed data size for this field is 1Kb."
        },
        "nonEditableAliases": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. List of the user's non-editable alias email addresses. These are typically outside the account's primary domain or sub-domain."
        },
        "id": {
          "type": "string",
          "description": "The unique ID for the user. A user `id` can be used as a user request URI's `userKey`."
        }
      },
      "description": "The Directory API allows you to create and manage your account's users, user aliases, and user Gmail chat profile photos. For more information about common tasks, see the [User Accounts Developer's Guide](/admin-sdk/directory/v1/guides/manage-users.html) and the [User Aliases Developer's Guide](/admin-sdk/directory/v1/guides/manage-user-aliases.html).",
      "id": "User"
    },
    "FeatureRename": {
      "id": "FeatureRename",
      "type": "object",
      "properties": {
        "newName": {
          "description": "New name of the feature.",
          "annotations": {
            "required": [
              "directory.resources.features.rename"
            ]
          },
          "type": "string"
        }
      }
    },
    "DirectoryChromeosdevicesIssueCommandResponse": {
      "description": "A response for issuing a command.",
      "properties": {
        "commandId": {
          "description": "The unique ID of the issued command, used to retrieve the command status.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "DirectoryChromeosdevicesIssueCommandResponse"
    },
    "UserOrganization": {
      "description": "JSON template for an organization entry.",
      "type": "object",
      "id": "UserOrganization",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the organization."
        },
        "fullTimeEquivalent": {
          "description": "The full-time equivalent millipercent within the organization (100000 = 100%).",
          "type": "integer",
          "format": "int32"
        },
        "costCenter": {
          "type": "string",
          "description": "The cost center of the users department."
        },
        "location": {
          "description": "Location of the organization. This need not be fully qualified address.",
          "type": "string"
        },
        "customType": {
          "description": "Custom type.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the organization"
        },
        "primary": {
          "type": "boolean",
          "description": "If it user's primary organization."
        },
        "symbol": {
          "description": "Symbol of the organization.",
          "type": "string"
        },
        "department": {
          "type": "string",
          "description": "Department within the organization."
        },
        "title": {
          "type": "string",
          "description": "Title (designation) of the user in the organization."
        },
        "type": {
          "description": "Each entry can have a type which indicates standard types of that entry. For example organization could be of school work etc. In addition to the standard type an entry can have a custom type and can give it any name. Such types should have the CUSTOM value as type and also have a CustomType value.",
          "type": "string"
        },
        "domain": {
          "description": "The domain to which the organization belongs to.",
          "type": "string"
        }
      }
    },
    "Domains": {
      "properties": {
        "isPrimary": {
          "description": "Indicates if the domain is a primary domain (Read-only).",
          "type": "boolean"
        },
        "verified": {
          "type": "boolean",
          "description": "Indicates the verification state of a domain. (Read-only)."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "domainName": {
          "description": "The domain name of the customer.",
          "type": "string",
          "annotations": {
            "required": [
              "directory.domains.insert"
            ]
          }
        },
        "creationTime": {
          "type": "string",
          "format": "int64",
          "description": "Creation time of the domain. Expressed in [Unix time](https://en.wikipedia.org/wiki/Epoch_time) format. (Read-only)."
        },
        "domainAliases": {
          "type": "array",
          "description": "List of domain alias objects. (Read-only)",
          "items": {
            "$ref": "DomainAlias"
          }
        },
        "kind": {
          "type": "string",
          "description": "Kind of resource this is.",
          "default": "admin#directory#domain"
        }
      },
      "type": "object",
      "id": "Domains"
    },
    "UserEmail": {
      "id": "UserEmail",
      "description": "JSON template for an email.",
      "type": "object",
      "properties": {
        "primary": {
          "description": "If this is user's primary email. Only one entry could be marked as primary.",
          "type": "boolean"
        },
        "type": {
          "description": "Each entry can have a type which indicates standard types of that entry. For example email could be of home, work etc. In addition to the standard type, an entry can have a custom type and can take any value Such types should have the CUSTOM value as type and also have a customType value.",
          "type": "string"
        },
        "address": {
          "description": "Email id of the user.",
          "type": "string"
        },
        "customType": {
          "type": "string",
          "description": "Custom Type."
        }
      }
    },
    "DirectoryChromeosdevicesCommandResult": {
      "id": "DirectoryChromeosdevicesCommandResult",
      "type": "object",
      "properties": {
        "result": {
          "enum": [
            "COMMAND_RESULT_TYPE_UNSPECIFIED",
            "IGNORED",
            "FAILURE",
            "SUCCESS"
          ],
          "enumDescriptions": [
            "The command result was unspecified.",
            "The command was ignored as obsolete.",
            "The command could not be executed successfully.",
            "The command was successfully executed."
          ],
          "type": "string",
          "description": "The result of the command."
        },
        "executeTime": {
          "type": "string",
          "description": "The time at which the command was executed or failed to execute.",
          "format": "google-datetime"
        },
        "errorMessage": {
          "description": "The error message with a short explanation as to why the command failed. Only present if the command failed.",
          "type": "string"
        }
      },
      "description": "The result of executing a command."
    },
    "FeatureInstance": {
      "description": "JSON template for a feature instance.",
      "type": "object",
      "id": "FeatureInstance",
      "properties": {
        "feature": {
          "$ref": "Feature",
          "description": "The feature that this is an instance of. A calendar resource may have multiple instances of a feature."
        }
      }
    },
    "UserGender": {
      "id": "UserGender",
      "type": "object",
      "properties": {
        "type": {
          "description": "Gender.",
          "type": "string"
        },
        "addressMeAs": {
          "description": "AddressMeAs. A human-readable string containing the proper way to refer to the profile owner by humans for example he/him/his or they/them/their.",
          "type": "string"
        },
        "customGender": {
          "description": "Custom gender.",
          "type": "string"
        }
      }
    },
    "FailureInfo": {
      "description": "Info about failures",
      "type": "object",
      "id": "FailureInfo",
      "properties": {
        "printerId": {
          "description": "Id of a failed printer.",
          "type": "string"
        },
        "errorCode": {
          "type": "string",
          "enum": [
            "OK",
            "CANCELLED",
            "UNKNOWN",
            "INVALID_ARGUMENT",
            "DEADLINE_EXCEEDED",
            "NOT_FOUND",
            "ALREADY_EXISTS",
            "PERMISSION_DENIED",
            "UNAUTHENTICATED",
            "RESOURCE_EXHAUSTED",
            "FAILED_PRECONDITION",
            "ABORTED",
            "OUT_OF_RANGE",
            "UNIMPLEMENTED",
            "INTERNAL",
            "UNAVAILABLE",
            "DATA_LOSS"
          ],
          "description": "Canonical code for why the update failed to apply.",
          "enumDescriptions": [
            "Not an error; returned on success HTTP Mapping: 200 OK",
            "The operation was cancelled, typically by the caller. HTTP Mapping: 499 Client Closed Request",
            "Unknown error. For example, this error may be returned when a `Status` value received from another address space belongs to an error space that is not known in this address space. Also errors raised by APIs that do not return enough error information may be converted to this error. HTTP Mapping: 500 Internal Server Error",
            "The client specified an invalid argument. Note that this differs from `FAILED_PRECONDITION`. `INVALID_ARGUMENT` indicates arguments that are problematic regardless of the state of the system (e.g., a malformed file name). HTTP Mapping: 400 Bad Request",
            "The deadline expired before the operation could complete. For operations that change the state of the system, this error may be returned even if the operation has completed successfully. For example, a successful response from a server could have been delayed long enough for the deadline to expire. HTTP Mapping: 504 Gateway Timeout",
            "Some requested entity (e.g., file or directory) was not found. Note to server developers: if a request is denied for an entire class of users, such as gradual feature rollout or undocumented allowlist, `NOT_FOUND` may be used. If a request is denied for some users within a class of users, such as user-based access control, `PERMISSION_DENIED` must be used. HTTP Mapping: 404 Not Found",
            "The entity that a client attempted to create (e.g., file or directory) already exists. HTTP Mapping: 409 Conflict",
            "The caller does not have permission to execute the specified operation. `PERMISSION_DENIED` must not be used for rejections caused by exhausting some resource (use `RESOURCE_EXHAUSTED` instead for those errors). `PERMISSION_DENIED` must not be used if the caller can not be identified (use `UNAUTHENTICATED` instead for those errors). This error code does not imply the request is valid or the requested entity exists or satisfies other pre-conditions. HTTP Mapping: 403 Forbidden",
            "The request does not have valid authentication credentials for the operation. HTTP Mapping: 401 Unauthorized",
            "Some resource has been exhausted, perhaps a per-user quota, or perhaps the entire file system is out of space. HTTP Mapping: 429 Too Many Requests",
            "The operation was rejected because the system is not in a state required for the operation's execution. For example, the directory to be deleted is non-empty, an rmdir operation is applied to a non-directory, etc. Service implementors can use the following guidelines to decide between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`: (a) Use `UNAVAILABLE` if the client can retry just the failing call. (b) Use `ABORTED` if the client should retry at a higher level. For example, when a client-specified test-and-set fails, indicating the client should restart a read-modify-write sequence. (c) Use `FAILED_PRECONDITION` if the client should not retry until the system state has been explicitly fixed. For example, if an \"rmdir\" fails because the directory is non-empty, `FAILED_PRECONDITION` should be returned since the client should not retry unless the files are deleted from the directory. HTTP Mapping: 400 Bad Request",
            "The operation was aborted, typically due to a concurrency issue such as a sequencer check failure or transaction abort. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 409 Conflict",
            "The operation was attempted past the valid range. E.g., seeking or reading past end-of-file. Unlike `INVALID_ARGUMENT`, this error indicates a problem that may be fixed if the system state changes. For example, a 32-bit file system will generate `INVALID_ARGUMENT` if asked to read at an offset that is not in the range [0,2^32-1], but it will generate `OUT_OF_RANGE` if asked to read from an offset past the current file size. There is a fair bit of overlap between `FAILED_PRECONDITION` and `OUT_OF_RANGE`. We recommend using `OUT_OF_RANGE` (the more specific error) when it applies so that callers who are iterating through a space can easily look for an `OUT_OF_RANGE` error to detect when they are done. HTTP Mapping: 400 Bad Request",
            "The operation is not implemented or is not supported/enabled in this service. HTTP Mapping: 501 Not Implemented",
            "Internal errors. This means that some invariants expected by the underlying system have been broken. This error code is reserved for serious errors. HTTP Mapping: 500 Internal Server Error",
            "The service is currently unavailable. This is most likely a transient condition, which can be corrected by retrying with a backoff. Note that it is not always safe to retry non-idempotent operations. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 503 Service Unavailable",
            "Unrecoverable data loss or corruption. HTTP Mapping: 500 Internal Server Error"
          ]
        },
        "errorMessage": {
          "description": "Failure reason message.",
          "type": "string"
        },
        "printer": {
          "$ref": "Printer",
          "description": "Failed printer."
        }
      }
    },
    "Building": {
      "id": "Building",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "A brief description of the building. For example, \"Chelsea Market\"."
        },
        "buildingId": {
          "description": "Unique identifier for the building. The maximum length is 100 characters.",
          "type": "string"
        },
        "address": {
          "$ref": "BuildingAddress",
          "description": "The postal address of the building. See [`PostalAddress`](/my-business/reference/rest/v4/PostalAddress) for details. Note that only a single address line and region code are required."
        },
        "etags": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "coordinates": {
          "description": "The geographic coordinates of the center of the building, expressed as latitude and longitude in decimal degrees.",
          "$ref": "BuildingCoordinates"
        },
        "floorNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The display names for all floors in this building. The floors are expected to be sorted in ascending order, from lowest floor to highest floor. For example, [\"B2\", \"B1\", \"L\", \"1\", \"2\", \"2M\", \"3\", \"PH\"] Must contain at least one entry."
        },
        "buildingName": {
          "description": "The building name as seen by users in Calendar. Must be unique for the customer. For example, \"NYC-CHEL\". The maximum length is 100 characters.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "admin#directory#resources#buildings#Building",
          "description": "Kind of resource this is."
        }
      },
      "description": "Public API: Resources.buildings"
    },
    "VerificationCodes": {
      "id": "VerificationCodes",
      "description": "JSON response template for List verification codes operation in Directory API.",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "kind": {
          "type": "string",
          "default": "admin#directory#verificationCodesList",
          "description": "The type of the resource. This is always `admin#directory#verificationCodesList`."
        },
        "items": {
          "items": {
            "$ref": "VerificationCode"
          },
          "description": "A list of verification code resources.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "Group": {
      "description": "Google Groups provide your users the ability to send messages to groups of people using the group's email address. For more information about common tasks, see the [Developer's Guide](/admin-sdk/directory/v1/guides/manage-groups).",
      "type": "object",
      "properties": {
        "directMembersCount": {
          "description": "The number of users that are direct members of the group. If a group is a member (child) of this group (the parent), members of the child group are not counted in the `directMembersCount` property of the parent group.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "The type of the API resource. For Groups resources, the value is `admin#directory#group`.",
          "default": "admin#directory#group",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The unique ID of a group. A group `id` can be used as a group request URI's `groupKey`."
        },
        "name": {
          "type": "string",
          "description": "The group's display name."
        },
        "email": {
          "annotations": {
            "required": [
              "directory.groups.insert"
            ]
          },
          "type": "string",
          "description": "The group's email address. If your account has multiple domains, select the appropriate domain for the email address. The `email` must be unique. This property is required when creating a group. Group email addresses are subject to the same character usage rules as usernames, see the [help center](https://support.google.com/a/answer/9193374) for details."
        },
        "adminCreated": {
          "description": "Value is `true` if this group was created by an administrator rather than a user.",
          "type": "boolean"
        },
        "description": {
          "type": "string",
          "description": "An extended description to help users determine the purpose of a group. For example, you can include information about who should join the group, the types of messages to send to the group, links to FAQs about the group, or related groups. Maximum length is `4,096` characters."
        },
        "nonEditableAliases": {
          "items": {
            "type": "string"
          },
          "description": "List of the group's non-editable alias email addresses that are outside of the account's primary domain or subdomains. These are functioning email addresses used by the group. This is a read-only property returned in the API's response for a group. If edited in a group's POST or PUT request, the edit is ignored by the API service.",
          "type": "array"
        },
        "aliases": {
          "description": "List of a group's alias email addresses.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "Group"
    },
    "RoleAssignment": {
      "description": "Defines an assignment of a role.",
      "id": "RoleAssignment",
      "type": "object",
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "roleId": {
          "type": "string",
          "description": "The ID of the role that is assigned.",
          "format": "int64"
        },
        "roleAssignmentId": {
          "type": "string",
          "format": "int64",
          "description": "ID of this roleAssignment."
        },
        "scopeType": {
          "type": "string",
          "description": "The scope in which this role is assigned."
        },
        "kind": {
          "description": "The type of the API resource. This is always `admin#directory#roleAssignment`.",
          "type": "string",
          "default": "admin#directory#roleAssignment"
        },
        "assignedTo": {
          "description": "The unique ID of the user this role is assigned to.",
          "type": "string"
        },
        "orgUnitId": {
          "description": "If the role is restricted to an organization unit, this contains the ID for the organization unit the exercise of this role is restricted to.",
          "type": "string"
        }
      }
    },
    "UserLocation": {
      "type": "object",
      "description": "JSON template for a location entry.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Each entry can have a type which indicates standard types of that entry. For example location could be of types default and desk. In addition to standard type an entry can have a custom type and can give it any name. Such types should have 'custom' as type and also have a customType value."
        },
        "customType": {
          "type": "string",
          "description": "Custom Type."
        },
        "area": {
          "type": "string",
          "description": "Textual location. This is most useful for display purposes to concisely describe the location. For example 'Mountain View, CA', 'Near Seattle', 'US-NYC-9TH 9A209A.''"
        },
        "floorSection": {
          "description": "Floor section. More specific location within the floor. For example if a floor is divided into sections 'A', 'B' and 'C' this field would identify one of those values.",
          "type": "string"
        },
        "deskCode": {
          "type": "string",
          "description": "Most specific textual code of individual desk location."
        },
        "buildingId": {
          "type": "string",
          "description": "Building Identifier."
        },
        "floorName": {
          "description": "Floor name/number.",
          "type": "string"
        }
      },
      "id": "UserLocation"
    },
    "MobileDevice": {
      "id": "MobileDevice",
      "type": "object",
      "properties": {
        "imei": {
          "description": "The device's IMEI number.",
          "type": "string"
        },
        "encryptionStatus": {
          "description": "Mobile Device Encryption Status (Read-only)",
          "type": "string"
        },
        "releaseVersion": {
          "description": "Mobile Device release version version (Read-only)",
          "type": "string"
        },
        "basebandVersion": {
          "description": "The device's baseband version.",
          "type": "string"
        },
        "os": {
          "description": "The mobile device's operating system, for example IOS 4.3 or Android 2.3.5. This property can be [updated](/admin-sdk/directory/v1/reference/mobiledevices/update.html). For more information, see the [Developer's Guide](/admin-sdk/directory/v1/guides/manage-mobile-devices#update_mobile_device).",
          "type": "string"
        },
        "resourceId": {
          "type": "string",
          "description": "The unique ID the API service uses to identify the mobile device."
        },
        "serialNumber": {
          "description": "The device's serial number.",
          "type": "string"
        },
        "email": {
          "description": "List of owner's email addresses. If your application needs the current list of user emails, use the [get](/admin-sdk/directory/v1/reference/mobiledevices/get.html) method. For additional information, see the [retrieve a user](/admin-sdk/directory/v1/guides/manage-users#get_user) method.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "networkOperator": {
          "type": "string",
          "description": "Mobile Device mobile or network operator (if available) (Read-only)"
        },
        "meid": {
          "description": "The device's MEID number.",
          "type": "string"
        },
        "deviceId": {
          "description": "The serial number for a Google Sync mobile device. For Android and iOS devices, this is a software generated unique identifier.",
          "type": "string"
        },
        "adbStatus": {
          "type": "boolean",
          "description": "Adb (USB debugging) enabled or disabled on device (Read-only)"
        },
        "devicePasswordStatus": {
          "type": "string",
          "description": "DevicePasswordStatus (Read-only)"
        },
        "defaultLanguage": {
          "description": "The default locale used on the device.",
          "type": "string"
        },
        "status": {
          "description": "The device's status.",
          "type": "string"
        },
        "unknownSourcesStatus": {
          "description": "Unknown sources enabled or disabled on device (Read-only)",
          "type": "boolean"
        },
        "kernelVersion": {
          "type": "string",
          "description": "The device's kernel version."
        },
        "lastSync": {
          "description": "Date and time the device was last synchronized with the policy settings in the G Suite administrator control panel (Read-only)",
          "format": "date-time",
          "type": "string"
        },
        "securityPatchLevel": {
          "type": "string",
          "format": "int64",
          "description": "Mobile Device Security patch level (Read-only)"
        },
        "managedAccountIsOnOwnerProfile": {
          "type": "boolean",
          "description": "Boolean indicating if this account is on owner/primary profile or not."
        },
        "hardware": {
          "description": "Mobile Device Hardware (Read-only)",
          "type": "string"
        },
        "hardwareId": {
          "description": "The IMEI/MEID unique identifier for Android hardware. It is not applicable to Google Sync devices. When adding an Android mobile device, this is an optional property. When updating one of these devices, this is a read-only property.",
          "type": "string"
        },
        "deviceCompromisedStatus": {
          "description": "The compromised device status.",
          "type": "string"
        },
        "buildNumber": {
          "type": "string",
          "description": "The device's operating system build number."
        },
        "name": {
          "type": "array",
          "description": "List of the owner's user names. If your application needs the current list of device owner names, use the [get](/admin-sdk/directory/v1/reference/mobiledevices/get.html) method. For more information about retrieving mobile device user information, see the [Developer's Guide](/admin-sdk/directory/v1/guides/manage-users#get_user).",
          "items": {
            "type": "string"
          }
        },
        "manufacturer": {
          "description": "Mobile Device manufacturer (Read-only)",
          "type": "string"
        },
        "wifiMacAddress": {
          "type": "string",
          "description": "The device's MAC address on Wi-Fi networks."
        },
        "model": {
          "description": "The mobile device's model name, for example Nexus S. This property can be [updated](/admin-sdk/directory/v1/reference/mobiledevices/update.html). For more information, see the [Developer's Guide](/admin-sdk/directory/v1/guides/manage-mobile=devices#update_mobile_device).",
          "type": "string"
        },
        "userAgent": {
          "type": "string",
          "description": "Gives information about the device such as `os` version. This property can be [updated](/admin-sdk/directory/v1/reference/mobiledevices/update.html). For more information, see the [Developer's Guide](/admin-sdk/directory/v1/guides/manage-mobile-devices#update_mobile_device)."
        },
        "firstSync": {
          "type": "string",
          "format": "date-time",
          "description": "Date and time the device was first synchronized with the policy settings in the G Suite administrator control panel (Read-only)"
        },
        "brand": {
          "type": "string",
          "description": "Mobile Device Brand (Read-only)"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "type": {
          "type": "string",
          "description": "The type of mobile device."
        },
        "supportsWorkProfile": {
          "description": "Work profile supported on device (Read-only)",
          "type": "boolean"
        },
        "otherAccountsInfo": {
          "description": "List of accounts added on device (Read-only)",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "developerOptionsStatus": {
          "type": "boolean",
          "description": "Developer options enabled or disabled on device (Read-only)"
        },
        "applications": {
          "description": "The list of applications installed on an Android mobile device. It is not applicable to Google Sync and iOS devices. The list includes any Android applications that access Google Workspace data. When updating an applications list, it is important to note that updates replace the existing list. If the Android device has two existing applications and the API updates the list with five applications, the is now the updated list of five applications.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "packageName": {
                "description": "The application's package name. An example is `com.android.browser`.",
                "type": "string"
              },
              "permission": {
                "description": "The list of permissions of this application. These can be either a standard Android permission or one defined by the application, and are found in an application's [Android manifest](https://developer.android.com/guide/topics/manifest/uses-permission-element.html). Examples of a Calendar application's permissions are `READ_CALENDAR`, or `MANAGE_ACCOUNTS`.",
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "versionName": {
                "type": "string",
                "description": "The application's version name. An example is `3.2-140714`."
              },
              "displayName": {
                "type": "string",
                "description": "The application's display name. An example is `Browser`."
              },
              "versionCode": {
                "format": "int32",
                "description": "The application's version code. An example is `13`.",
                "type": "integer"
              }
            }
          }
        },
        "bootloaderVersion": {
          "type": "string",
          "description": "Mobile Device Bootloader version (Read-only)"
        },
        "privilege": {
          "description": "DMAgentPermission (Read-only)",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "admin#directory#mobiledevice",
          "description": "The type of the API resource. For Mobiledevices resources, the value is `admin#directory#mobiledevice`."
        }
      },
      "description": "Google Workspace Mobile Management includes Android, [Google Sync](https://support.google.com/a/answer/135937), and iOS devices. For more information about common group mobile device API tasks, see the [Developer's Guide](/admin-sdk/directory/v1/guides/manage-mobile-devices.html)."
    },
    "ListPrinterModelsResponse": {
      "description": "Response for listing allowed printer models.",
      "id": "ListPrinterModelsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "printerModels": {
          "type": "array",
          "items": {
            "$ref": "PrinterModel"
          },
          "description": "Printer models that are currently allowed to be configured for ChromeOs. Some printers may be added or removed over time."
        }
      }
    },
    "UserRelation": {
      "type": "object",
      "properties": {
        "customType": {
          "type": "string",
          "description": "Custom Type."
        },
        "type": {
          "description": "The relation of the user. Some of the possible values are mother father sister brother manager assistant partner.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The name of the relation."
        }
      },
      "description": "JSON template for a relation entry.",
      "id": "UserRelation"
    },
    "Roles": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "kind": {
          "description": "The type of the API resource. This is always `admin#directory#roles`.",
          "default": "admin#directory#roles",
          "type": "string"
        },
        "items": {
          "description": "A list of Role resources.",
          "type": "array",
          "items": {
            "$ref": "Role"
          }
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        }
      },
      "id": "Roles"
    },
    "ChromeOsDeviceAction": {
      "type": "object",
      "id": "ChromeOsDeviceAction",
      "properties": {
        "action": {
          "annotations": {
            "required": [
              "directory.chromeosdevices.action"
            ]
          },
          "type": "string",
          "description": "Action to be taken on the Chrome OS device."
        },
        "deprovisionReason": {
          "type": "string",
          "description": "Only used when the action is `deprovision`. With the `deprovision` action, this field is required. *Note*: The deprovision reason is audited because it might have implications on licenses for perpetual subscription customers."
        }
      }
    },
    "OrgUnit": {
      "id": "OrgUnit",
      "description": "Managing your account's organizational units allows you to configure your users' access to services and custom settings. For more information about common organizational unit tasks, see the [Developer's Guide](/admin-sdk/directory/v1/guides/manage-org-units.html). The customer's organizational unit hierarchy is limited to 35 levels of depth.",
      "properties": {
        "description": {
          "description": "Description of the organizational unit.",
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#orgUnit",
          "type": "string",
          "description": "The type of the API resource. For Orgunits resources, the value is `admin#directory#orgUnit`."
        },
        "orgUnitPath": {
          "type": "string",
          "description": "The full path to the organizational unit. The `orgUnitPath` is a derived property. When listed, it is derived from `parentOrgunitPath` and organizational unit's `name`. For example, for an organizational unit named 'apps' under parent organization '/engineering', the orgUnitPath is '/engineering/apps'. In order to edit an `orgUnitPath`, either update the name of the organization or the `parentOrgunitPath`. A user's organizational unit determines which Google Workspace services the user has access to. If the user is moved to a new organization, the user's access changes. For more information about organization structures, see the [administration help center](https://support.google.com/a/answer/4352075). For more information about moving a user to a different organization, see [Update a user](/admin-sdk/directory/v1/guides/manage-users.html#update_user)."
        },
        "name": {
          "annotations": {
            "required": [
              "directory.orgunits.insert"
            ]
          },
          "type": "string",
          "description": "The organizational unit's path name. For example, an organizational unit's name within the /corp/support/sales_support parent path is sales_support. Required."
        },
        "parentOrgUnitId": {
          "description": "The unique ID of the parent organizational unit. Required, unless `parentOrgUnitPath` is set.",
          "type": "string"
        },
        "orgUnitId": {
          "description": "The unique ID of the organizational unit.",
          "type": "string"
        },
        "blockInheritance": {
          "type": "boolean",
          "description": "Determines if a sub-organizational unit can inherit the settings of the parent organization. The default value is `false`, meaning a sub-organizational unit inherits the settings of the nearest parent organizational unit. For more information on inheritance and users in an organization structure, see the [administration help center](https://support.google.com/a/answer/4352075)."
        },
        "parentOrgUnitPath": {
          "type": "string",
          "description": "The organizational unit's parent path. For example, /corp/sales is the parent path for /corp/sales/sales_support organizational unit. Required, unless `parentOrgUnitId` is set."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        }
      },
      "type": "object"
    },
    "BatchCreatePrintersRequest": {
      "type": "object",
      "description": "Request for adding new printers in batch.",
      "properties": {
        "requests": {
          "type": "array",
          "description": "A list of Printers to be created. Max 50 at a time.",
          "items": {
            "$ref": "CreatePrinterRequest"
          }
        }
      },
      "id": "BatchCreatePrintersRequest"
    },
    "Aliases": {
      "description": "JSON response template to list aliases in Directory API.",
      "id": "Aliases",
      "type": "object",
      "properties": {
        "etag": {
          "type": "string"
        },
        "aliases": {
          "type": "array",
          "items": {
            "type": "any"
          }
        },
        "kind": {
          "default": "admin#directory#aliases",
          "type": "string"
        }
      }
    },
    "CustomerPostalAddress": {
      "properties": {
        "countryCode": {
          "type": "string",
          "description": "This is a required property. For `countryCode` information see the [ISO 3166 country code elements](https://www.iso.org/iso/country_codes.htm)."
        },
        "contactName": {
          "description": "The customer contact's name.",
          "type": "string"
        },
        "postalCode": {
          "description": "The postal code. A postalCode example is a postal zip code such as `10009`. This is in accordance with - http: //portablecontacts.net/draft-spec.html#address_element.",
          "type": "string"
        },
        "organizationName": {
          "type": "string",
          "description": "The company or company division name."
        },
        "region": {
          "type": "string",
          "description": "Name of the region. An example of a region value is `NY` for the state of New York."
        },
        "addressLine3": {
          "description": "Address line 3 of the address.",
          "type": "string"
        },
        "addressLine1": {
          "description": "A customer's physical address. The address can be composed of one to three lines.",
          "type": "string"
        },
        "locality": {
          "description": "Name of the locality. An example of a locality value is the city of `San Francisco`.",
          "type": "string"
        },
        "addressLine2": {
          "type": "string",
          "description": "Address line 2 of the address."
        }
      },
      "type": "object",
      "id": "CustomerPostalAddress"
    },
    "UserCustomProperties": {
      "additionalProperties": {
        "type": "any"
      },
      "id": "UserCustomProperties",
      "type": "object",
      "description": "JSON template for a set of custom properties (i.e. all fields in a particular schema)"
    },
    "UserMakeAdmin": {
      "properties": {
        "status": {
          "type": "boolean",
          "annotations": {
            "required": [
              "directory.users.makeAdmin"
            ]
          },
          "description": "Indicates the administrator status of the user."
        }
      },
      "type": "object",
      "id": "UserMakeAdmin"
    },
    "PrinterModel": {
      "id": "PrinterModel",
      "type": "object",
      "description": "Printer manufacturer and model",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name. eq. \"Brother MFC-8840D\""
        },
        "manufacturer": {
          "description": "Manufacturer. eq. \"Brother\"",
          "type": "string"
        },
        "makeAndModel": {
          "description": "Make and model as represented in \"make_and_model\" field in Printer object. eq. \"brother mfc-8840d\"",
          "type": "string"
        }
      }
    },
    "CalendarResources": {
      "properties": {
        "items": {
          "items": {
            "$ref": "CalendarResource"
          },
          "description": "The CalendarResources in this page of results.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies this as a collection of CalendarResources. This is always `admin#directory#resources#calendars#calendarResourcesList`.",
          "default": "admin#directory#resources#calendars#calendarResourcesList",
          "type": "string"
        }
      },
      "description": "Public API: Resources.calendars",
      "id": "CalendarResources",
      "type": "object"
    },
    "Privileges": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "kind": {
          "default": "admin#directory#privileges",
          "type": "string",
          "description": "The type of the API resource. This is always `admin#directory#privileges`."
        },
        "items": {
          "description": "A list of Privilege resources.",
          "type": "array",
          "items": {
            "$ref": "Privilege"
          }
        }
      },
      "id": "Privileges",
      "type": "object"
    },
    "DomainAlias": {
      "type": "object",
      "id": "DomainAlias",
      "properties": {
        "domainAliasName": {
          "type": "string",
          "description": "The domain alias name."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#domainAlias",
          "description": "Kind of resource this is.",
          "type": "string"
        },
        "verified": {
          "type": "boolean",
          "description": "Indicates the verification state of a domain alias. (Read-only)"
        },
        "parentDomainName": {
          "description": "The parent domain name that the domain alias is associated with. This can either be a primary or secondary domain name within a customer.",
          "type": "string",
          "annotations": {
            "required": [
              "directory.domains.insert"
            ]
          }
        },
        "creationTime": {
          "description": "The creation time of the domain alias. (Read-only).",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "Domains2": {
      "id": "Domains2",
      "type": "object",
      "properties": {
        "kind": {
          "default": "admin#directory#domains",
          "type": "string",
          "description": "Kind of resource this is."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "domains": {
          "type": "array",
          "items": {
            "$ref": "Domains"
          },
          "description": "List of domain objects."
        }
      }
    },
    "UserKeyword": {
      "properties": {
        "type": {
          "type": "string",
          "description": "Each entry can have a type which indicates standard type of that entry. For example keyword could be of type occupation or outlook. In addition to the standard type an entry can have a custom type and can give it any name. Such types should have the CUSTOM value as type and also have a customType value."
        },
        "value": {
          "type": "string",
          "description": "Keyword."
        },
        "customType": {
          "description": "Custom Type.",
          "type": "string"
        }
      },
      "id": "UserKeyword",
      "type": "object",
      "description": "JSON template for a keyword entry."
    },
    "CalendarResource": {
      "type": "object",
      "id": "CalendarResource",
      "description": "Public API: Resources.calendars",
      "properties": {
        "capacity": {
          "description": "Capacity of a resource, number of seats in a room.",
          "type": "integer",
          "format": "int32"
        },
        "buildingId": {
          "description": "Unique ID for the building a resource is located in.",
          "type": "string"
        },
        "kind": {
          "description": "The type of the resource. For calendar resources, the value is `admin#directory#resources#calendars#CalendarResource`.",
          "type": "string",
          "default": "admin#directory#resources#calendars#CalendarResource"
        },
        "etags": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "resourceEmail": {
          "type": "string",
          "description": "The read-only email for the calendar resource. Generated as part of creating a new calendar resource."
        },
        "userVisibleDescription": {
          "type": "string",
          "description": "Description of the resource, visible to users and admins."
        },
        "generatedResourceName": {
          "type": "string",
          "description": "The read-only auto-generated name of the calendar resource which includes metadata about the resource such as building name, floor, capacity, etc. For example, \"NYC-2-Training Room 1A (16)\"."
        },
        "floorSection": {
          "type": "string",
          "description": "Name of the section within a floor a resource is located in."
        },
        "featureInstances": {
          "description": "Instances of features for the calendar resource.",
          "type": "any"
        },
        "resourceId": {
          "annotations": {
            "required": [
              "directory.resources.calendars.insert"
            ]
          },
          "type": "string",
          "description": "The unique ID for the calendar resource."
        },
        "resourceName": {
          "type": "string",
          "annotations": {
            "required": [
              "directory.resources.calendars.insert"
            ]
          },
          "description": "The name of the calendar resource. For example, \"Training Room 1A\"."
        },
        "resourceDescription": {
          "description": "Description of the resource, visible only to admins.",
          "type": "string"
        },
        "resourceType": {
          "type": "string",
          "description": "The type of the calendar resource, intended for non-room resources."
        },
        "floorName": {
          "type": "string",
          "description": "Name of the floor a resource is located on."
        },
        "resourceCategory": {
          "type": "string",
          "description": "The category of the calendar resource. Either CONFERENCE_ROOM or OTHER. Legacy data is set to CATEGORY_UNKNOWN."
        }
      }
    },
    "Customer": {
      "properties": {
        "phoneNumber": {
          "description": "The customer's contact phone number in [E.164](https://en.wikipedia.org/wiki/E.164) format.",
          "type": "string"
        },
        "customerDomain": {
          "type": "string",
          "description": "The customer's primary domain name string. Do not include the `www` prefix when creating a new customer."
        },
        "id": {
          "description": "The unique ID for the customer's Google Workspace account. (Readonly)",
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#customer",
          "description": "Identifies the resource as a customer. Value: `admin#directory#customer`",
          "type": "string"
        },
        "postalAddress": {
          "$ref": "CustomerPostalAddress",
          "description": "The customer's postal address information."
        },
        "alternateEmail": {
          "description": "The customer's secondary contact email address. This email address cannot be on the same domain as the `customerDomain`",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "language": {
          "description": "The customer's ISO 639-2 language code. See the [Language Codes](/admin-sdk/directory/v1/languages) page for the list of supported codes. Valid language codes outside the supported set will be accepted by the API but may lead to unexpected behavior. The default value is `en`.",
          "type": "string"
        },
        "customerCreationTime": {
          "type": "string",
          "format": "date-time",
          "description": "The customer's creation time (Readonly)"
        }
      },
      "type": "object",
      "id": "Customer"
    },
    "BuildingCoordinates": {
      "type": "object",
      "id": "BuildingCoordinates",
      "description": "Public API: Resources.buildings",
      "properties": {
        "longitude": {
          "description": "Longitude in decimal degrees.",
          "format": "double",
          "type": "number"
        },
        "latitude": {
          "format": "double",
          "description": "Latitude in decimal degrees.",
          "type": "number"
        }
      }
    },
    "DirectoryChromeosdevicesCommand": {
      "properties": {
        "payload": {
          "type": "string",
          "description": "The payload that the command specified, if any."
        },
        "commandId": {
          "type": "string",
          "format": "int64",
          "description": "Unique ID of a device command."
        },
        "state": {
          "description": "Indicates the command state.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "EXPIRED",
            "CANCELLED",
            "SENT_TO_CLIENT",
            "ACKED_BY_CLIENT",
            "EXECUTED_BY_CLIENT"
          ],
          "enumDescriptions": [
            "The command status was unspecified.",
            "An unexpired command not yet sent to the client.",
            "The command didn't get executed by the client within the expected time.",
            "The command is cancelled by admin while in PENDING.",
            "The command has been sent to the client.",
            "The client has responded that it received the command.",
            "The client has (un)successfully executed the command."
          ]
        },
        "commandResult": {
          "description": "The result of the command execution.",
          "$ref": "DirectoryChromeosdevicesCommandResult"
        },
        "issueTime": {
          "description": "The timestamp when the command was issued by the admin.",
          "type": "string",
          "format": "google-datetime"
        },
        "commandExpireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the command will expire. If the device doesn't execute the command within this time the command will become expired."
        },
        "type": {
          "description": "The type of the command.",
          "enumDescriptions": [
            "The command type was unspecified.",
            "Reboot the device. Can only be issued to Kiosk and managed guest session devices.",
            "Take a screenshot of the device. Only available if the device is in Kiosk Mode.",
            "Set the volume of the device. Can only be issued to Kiosk and managed guest session devices.",
            "Wipe all the users off of the device. Executing this command in the device will remove all user profile data, but it will keep device policy and enrollment.",
            "Wipes the device by performing a power wash. Executing this command in the device will remove all data including user policies, device policies and enrollment policies. Warning: This will revert the device back to a factory state with no enrollment unless the device is subject to forced or auto enrollment. Use with caution, as this is an irreversible action!"
          ],
          "type": "string",
          "enum": [
            "COMMAND_TYPE_UNSPECIFIED",
            "REBOOT",
            "TAKE_A_SCREENSHOT",
            "SET_VOLUME",
            "WIPE_USERS",
            "REMOTE_POWERWASH"
          ]
        }
      },
      "description": "Information regarding a command that was issued to a device.",
      "id": "DirectoryChromeosdevicesCommand",
      "type": "object"
    },
    "UserLanguage": {
      "description": "JSON template for a language entry.",
      "id": "UserLanguage",
      "properties": {
        "languageCode": {
          "description": "Language Code. Should be used for storing ISO 639 LanguageCode string representation for language. See the [Language Codes](/admin-sdk/directory/v1/languages) page for the list of supported codes. Valid language codes outside the supported set will be accepted by the API but may lead to unexpected behavior. Illegal values cause SchemaException. If this is set `customLanguage` can't be set.",
          "type": "string"
        },
        "customLanguage": {
          "type": "string",
          "description": "Other language. User can provide own language name if there is no corresponding ISO 639 language code. If this is set `languageCode` can't be set."
        },
        "preference": {
          "description": "Preference. Optional field, which if present, controls whether the specified `languageCode` is stored as the user's preferred language. If `customLanguage` is set, this can't be set. Allowed values are `preferred` and `not_preferred`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UserIm": {
      "type": "object",
      "id": "UserIm",
      "properties": {
        "customType": {
          "description": "Custom type.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Each entry can have a type which indicates standard types of that entry. For example instant messengers could be of home work etc. In addition to the standard type an entry can have a custom type and can take any value. Such types should have the CUSTOM value as type and also have a customType value."
        },
        "im": {
          "type": "string",
          "description": "Instant messenger id."
        },
        "primary": {
          "description": "If this is user's primary im. Only one entry could be marked as primary.",
          "type": "boolean"
        },
        "protocol": {
          "description": "Protocol used in the instant messenger. It should be one of the values from ImProtocolTypes map. Similar to type it can take a CUSTOM value and specify the custom name in customProtocol field.",
          "type": "string"
        },
        "customProtocol": {
          "description": "Custom protocol.",
          "type": "string"
        }
      },
      "description": "JSON template for instant messenger of an user."
    },
    "BatchDeletePrintersResponse": {
      "id": "BatchDeletePrintersResponse",
      "description": "Response for deleting existing printers in batch.",
      "properties": {
        "failedPrinters": {
          "type": "array",
          "items": {
            "$ref": "FailureInfo"
          },
          "description": "A list of update failures."
        },
        "printerIds": {
          "description": "A list of Printer.id that were successfully deleted.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "ListPrintersResponse": {
      "properties": {
        "printers": {
          "type": "array",
          "description": "List of printers. If `org_unit_id` was given in the request, then only printers visible for this OU will be returned. If `org_unit_id` was given in the request, then all printers will be returned.",
          "items": {
            "$ref": "Printer"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListPrintersResponse",
      "type": "object",
      "description": "Response for listing printers."
    },
    "Tokens": {
      "properties": {
        "items": {
          "items": {
            "$ref": "Token"
          },
          "type": "array",
          "description": "A list of Token resources."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#tokenList",
          "description": "The type of the API resource. This is always `admin#directory#tokenList`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Tokens",
      "description": "JSON response template for List tokens operation in Directory API."
    },
    "Members": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "nextPageToken": {
          "description": "Token used to access next page of this result.",
          "type": "string"
        },
        "members": {
          "items": {
            "$ref": "Member"
          },
          "type": "array",
          "description": "List of member objects."
        },
        "kind": {
          "type": "string",
          "description": "Kind of resource this is.",
          "default": "admin#directory#members"
        }
      },
      "id": "Members",
      "type": "object"
    },
    "UserExternalId": {
      "type": "object",
      "id": "UserExternalId",
      "properties": {
        "value": {
          "type": "string",
          "description": "The value of the id."
        },
        "type": {
          "type": "string",
          "description": "The type of the Id."
        },
        "customType": {
          "description": "Custom type.",
          "type": "string"
        }
      },
      "description": "JSON template for an externalId entry."
    },
    "Alias": {
      "type": "object",
      "properties": {
        "alias": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "admin#directory#alias"
        },
        "etag": {
          "type": "string"
        },
        "primaryEmail": {
          "type": "string"
        }
      },
      "description": "JSON template for Alias object in Directory API.",
      "id": "Alias"
    },
    "MobileDeviceAction": {
      "type": "object",
      "id": "MobileDeviceAction",
      "properties": {
        "action": {
          "description": "The action to be performed on the device.",
          "type": "string",
          "annotations": {
            "required": [
              "directory.mobiledevices.action"
            ]
          }
        }
      }
    },
    "Asps": {
      "id": "Asps",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "items": {
          "description": "A list of ASP resources.",
          "items": {
            "$ref": "Asp"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "The type of the API resource. This is always `admin#directory#aspList`.",
          "default": "admin#directory#aspList"
        }
      },
      "type": "object"
    },
    "Feature": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Kind of resource this is.",
          "default": "admin#directory#resources#features#Feature",
          "type": "string"
        },
        "etags": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "name": {
          "description": "The name of the feature.",
          "annotations": {
            "required": [
              "directory.resources.features.insert"
            ]
          },
          "type": "string"
        }
      },
      "id": "Feature",
      "description": "JSON template for Feature object in Directory API."
    },
    "Privilege": {
      "properties": {
        "kind": {
          "default": "admin#directory#privilege",
          "type": "string",
          "description": "The type of the API resource. This is always `admin#directory#privilege`."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "isOuScopable": {
          "type": "boolean",
          "description": "If the privilege can be restricted to an organization unit."
        },
        "serviceName": {
          "description": "The name of the service this privilege is for.",
          "type": "string"
        },
        "privilegeName": {
          "description": "The name of the privilege.",
          "type": "string"
        },
        "serviceId": {
          "type": "string",
          "description": "The obfuscated ID of the service this privilege is for. This value is returned with [`Privileges.list()`](/admin-sdk/directory/v1/reference/privileges/list)."
        },
        "childPrivileges": {
          "items": {
            "$ref": "Privilege"
          },
          "type": "array",
          "description": "A list of child privileges. Privileges for a service form a tree. Each privilege can have a list of child privileges; this list is empty for a leaf privilege."
        }
      },
      "id": "Privilege",
      "type": "object"
    },
    "MobileDevices": {
      "id": "MobileDevices",
      "type": "object",
      "properties": {
        "mobiledevices": {
          "items": {
            "$ref": "MobileDevice"
          },
          "description": "List of Mobile Device objects.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token used to access next page of this result.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "admin#directory#mobiledevices",
          "description": "Kind of resource this is."
        }
      }
    },
    "UserPhoto": {
      "type": "object",
      "id": "UserPhoto",
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID the API uses to uniquely identify the user."
        },
        "primaryEmail": {
          "description": "The user's primary email address.",
          "type": "string"
        },
        "mimeType": {
          "description": "The MIME type of the photo. Allowed values are `JPEG`, `PNG`, `GIF`, `BMP`, `TIFF`, and web-safe base64 encoding.",
          "type": "string"
        },
        "width": {
          "description": "Width of the photo in pixels.",
          "type": "integer",
          "format": "int32"
        },
        "height": {
          "type": "integer",
          "format": "int32",
          "description": "Height of the photo in pixels."
        },
        "photoData": {
          "type": "string",
          "description": "The user photo's upload data in [web-safe Base64](https://en.wikipedia.org/wiki/Base64#URL_applications) format in bytes. This means: * The slash (/) character is replaced with the underscore (_) character. * The plus sign (+) character is replaced with the hyphen (-) character. * The equals sign (=) character is replaced with the asterisk (*). * For padding, the period (.) character is used instead of the RFC-4648 baseURL definition which uses the equals sign (=) for padding. This is done to simplify URL-parsing. * Whatever the size of the photo being uploaded, the API downsizes it to 96x96 pixels.",
          "annotations": {
            "required": [
              "directory.users.photos.update"
            ]
          },
          "format": "byte"
        },
        "kind": {
          "default": "admin#directory#user#photo",
          "description": "The type of the API resource. For Photo resources, this is `admin#directory#user#photo`.",
          "type": "string"
        }
      }
    },
    "DomainAliases": {
      "type": "object",
      "id": "DomainAliases",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "kind": {
          "type": "string",
          "default": "admin#directory#domainAliases",
          "description": "Kind of resource this is."
        },
        "domainAliases": {
          "description": "List of domain alias objects.",
          "type": "array",
          "items": {
            "$ref": "DomainAlias"
          }
        }
      }
    },
    "ChromeOsDevice": {
      "properties": {
        "lastKnownNetwork": {
          "description": "Contains last known network (Read-only)",
          "type": "array",
          "items": {
            "properties": {
              "ipAddress": {
                "type": "string",
                "description": "The IP address."
              },
              "wanIpAddress": {
                "type": "string",
                "description": "The WAN IP address."
              }
            },
            "type": "object",
            "description": "Information for an ip address."
          }
        },
        "dockMacAddress": {
          "type": "string",
          "description": "(Read-only) Built-in MAC address for the docking station that the device connected to. Factory sets Media access control address (MAC address) assigned for use by a dock. It is reserved specifically for MAC pass through device policy. The format is twelve (12) hexadecimal digits without any delimiter (uppercase letters). This is only relevant for some devices."
        },
        "deviceId": {
          "type": "string",
          "description": "The unique ID of the Chrome device."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "diskVolumeReports": {
          "type": "array",
          "items": {
            "properties": {
              "volumeInfo": {
                "type": "array",
                "description": "Disk volumes",
                "items": {
                  "properties": {
                    "volumeId": {
                      "description": "Volume id",
                      "type": "string"
                    },
                    "storageTotal": {
                      "type": "string",
                      "description": "Total disk space [in bytes]",
                      "format": "int64"
                    },
                    "storageFree": {
                      "description": "Free disk space [in bytes]",
                      "format": "int64",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "type": "object"
          },
          "description": "Reports of disk space and other info about mounted/connected volumes."
        },
        "orgUnitId": {
          "description": "The unique ID of the organizational unit. orgUnitPath is the human readable version of orgUnitId. While orgUnitPath may change by renaming an organizational unit within the path, orgUnitId is unchangeable for one organizational unit. This property can be [updated](/admin-sdk/directory/v1/guides/manage-chrome-devices#update_chrome_device) using the API, and this will be supported in the future.",
          "type": "string"
        },
        "activeTimeRanges": {
          "type": "array",
          "description": "List of active time ranges (Read-only).",
          "items": {
            "type": "object",
            "properties": {
              "date": {
                "type": "string",
                "format": "date",
                "description": "Date of usage"
              },
              "activeTime": {
                "format": "int32",
                "type": "integer",
                "description": "Duration of usage in milliseconds."
              }
            }
          }
        },
        "status": {
          "type": "string",
          "description": "The status of the device."
        },
        "ethernetMacAddress": {
          "type": "string",
          "description": "The device's MAC address on the ethernet network interface."
        },
        "deviceFiles": {
          "type": "array",
          "items": {
            "properties": {
              "name": {
                "type": "string",
                "description": "File name"
              },
              "type": {
                "type": "string",
                "description": "File type"
              },
              "createTime": {
                "format": "date-time",
                "type": "string",
                "description": "Date and time the file was created"
              },
              "downloadUrl": {
                "type": "string",
                "description": "File download URL"
              }
            },
            "type": "object"
          },
          "description": "List of device files to download (Read-only)"
        },
        "cpuInfo": {
          "description": "Information regarding CPU specs in the device.",
          "items": {
            "type": "object",
            "properties": {
              "model": {
                "type": "string",
                "description": "The CPU model name."
              },
              "architecture": {
                "type": "string",
                "description": "The CPU architecture."
              },
              "maxClockSpeedKhz": {
                "type": "integer",
                "format": "int32",
                "description": "The max CPU clock speed in kHz."
              },
              "logicalCpus": {
                "description": "Information for the Logical CPUs",
                "items": {
                  "properties": {
                    "idleDuration": {
                      "type": "string",
                      "format": "google-duration",
                      "description": "Idle time since last boot."
                    },
                    "cStates": {
                      "description": "C-States indicate the power consumption state of the CPU. For more information look at documentation published by the CPU maker.",
                      "items": {
                        "type": "object",
                        "description": "Status of a single C-state. C-states are various modes the CPU can transition to in order to use more or less power.",
                        "properties": {
                          "sessionDuration": {
                            "type": "string",
                            "format": "google-duration",
                            "description": "Time spent in the state since the last reboot."
                          },
                          "displayName": {
                            "description": "Name of the state.",
                            "type": "string"
                          }
                        }
                      },
                      "type": "array"
                    },
                    "maxScalingFrequencyKhz": {
                      "description": "Maximum frequency the CPU is allowed to run at, by policy.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "currentScalingFrequencyKhz": {
                      "description": "Current frequency the CPU is running at.",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "description": "Status of a single logical CPU.",
                  "type": "object"
                },
                "type": "array"
              }
            },
            "description": "CPU specs for a CPU."
          },
[...]
