{
  "servicePath": "",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/admin-sdk/",
  "protocol": "rest",
  "resources": {
    "schemas": {
      "methods": {
        "update": {
          "request": {
            "$ref": "Schema"
          },
          "path": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}",
          "httpMethod": "PUT",
          "response": {
            "$ref": "Schema"
          },
          "flatPath": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}",
          "id": "directory.schemas.update",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.userschema"
          ],
          "parameters": {
            "schemaKey": {
              "required": true,
              "location": "path",
              "description": "Name or immutable ID of the schema.",
              "type": "string"
            },
            "customerId": {
              "type": "string",
              "description": "Immutable ID of the Google Workspace account.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "customerId",
            "schemaKey"
          ],
          "description": "Updates a schema."
        },
        "delete": {
          "parameters": {
            "schemaKey": {
              "description": "Name or immutable ID of the schema.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "customerId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Immutable ID of the Google Workspace account."
            }
          },
          "flatPath": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}",
          "path": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}",
          "httpMethod": "DELETE",
          "id": "directory.schemas.delete",
          "parameterOrder": [
            "customerId",
            "schemaKey"
          ],
          "description": "Deletes a schema.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.userschema"
          ]
        },
        "patch": {
          "path": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}",
          "flatPath": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}",
          "description": "Patches a schema.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.userschema"
          ],
          "request": {
            "$ref": "Schema"
          },
          "response": {
            "$ref": "Schema"
          },
          "id": "directory.schemas.patch",
          "parameters": {
            "customerId": {
              "type": "string",
              "required": true,
              "description": "Immutable ID of the Google Workspace account.",
              "location": "path"
            },
            "schemaKey": {
              "type": "string",
              "location": "path",
              "description": "Name or immutable ID of the schema.",
              "required": true
            }
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "customerId",
            "schemaKey"
          ]
        },
        "list": {
          "description": "Retrieves all schemas for a customer.",
          "response": {
            "$ref": "Schemas"
          },
          "path": "admin/directory/v1/customer/{customerId}/schemas",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.userschema",
            "https://www.googleapis.com/auth/admin.directory.userschema.readonly"
          ],
          "parameters": {
            "customerId": {
              "location": "path",
              "description": "The unique ID for the customer's Google Workspace account. In case of a multi-domain account, to fetch all groups for a customer, use this field instead of `domain`. You can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users](/admin-sdk/directory/v1/reference/users) resource. You must provide either the `customer` or the `domain` parameter.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "admin/directory/v1/customer/{customerId}/schemas",
          "parameterOrder": [
            "customerId"
          ],
          "id": "directory.schemas.list",
          "httpMethod": "GET"
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.userschema"
          ],
          "flatPath": "admin/directory/v1/customer/{customerId}/schemas",
          "httpMethod": "POST",
          "path": "admin/directory/v1/customer/{customerId}/schemas",
          "parameters": {
            "customerId": {
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "customerId"
          ],
          "request": {
            "$ref": "Schema"
          },
          "id": "directory.schemas.insert",
          "description": "Creates a schema.",
          "response": {
            "$ref": "Schema"
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.userschema",
            "https://www.googleapis.com/auth/admin.directory.userschema.readonly"
          ],
          "flatPath": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}",
          "description": "Retrieves a schema.",
          "parameters": {
            "schemaKey": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Name or immutable ID of the schema."
            },
            "customerId": {
              "type": "string",
              "required": true,
              "description": "The unique ID for the customer's Google Workspace account. In case of a multi-domain account, to fetch all groups for a customer, use this field instead of `domain`. You can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users](/admin-sdk/directory/v1/reference/users) resource. You must provide either the `customer` or the `domain` parameter.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "customerId",
            "schemaKey"
          ],
          "path": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}",
          "response": {
            "$ref": "Schema"
          },
          "httpMethod": "GET",
          "id": "directory.schemas.get"
        }
      }
    },
    "channels": {
      "methods": {
        "stop": {
          "description": "Stops watching resources through this channel.",
          "id": "admin.channels.stop",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user",
            "https://www.googleapis.com/auth/admin.directory.user.alias",
            "https://www.googleapis.com/auth/admin.directory.user.alias.readonly",
            "https://www.googleapis.com/auth/admin.directory.user.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "admin/directory_v1/channels/stop",
          "parameters": {},
          "request": {
            "$ref": "Channel"
          },
          "flatPath": "admin/directory_v1/channels/stop",
          "parameterOrder": [],
          "httpMethod": "POST"
        }
      }
    },
    "chromeosdevices": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.chromeos",
            "https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly"
          ],
          "description": "Retrieves a Chrome OS device's properties.",
          "path": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}",
          "parameters": {
            "deviceId": {
              "required": true,
              "location": "path",
              "description": "The unique ID of the device. The `deviceId`s are returned in the response from the [chromeosdevices.list](/admin-sdk/directory/v1/reference/chromeosdevices/list) method.",
              "type": "string"
            },
            "customerId": {
              "required": true,
              "location": "path",
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users).",
              "type": "string"
            },
            "projection": {
              "enum": [
                "BASIC",
                "FULL"
              ],
              "enumDescriptions": [
                "Includes only the basic metadata fields (e.g., deviceId, serialNumber, status, and user)",
                "Includes all metadata fields"
              ],
              "description": "Determines whether the response contains the full list of properties or only a subset.",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [
            "customerId",
            "deviceId"
          ],
          "response": {
            "$ref": "ChromeOsDevice"
          },
          "id": "directory.chromeosdevices.get",
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}"
        },
        "action": {
          "description": "Takes an action that affects a Chrome OS Device. This includes deprovisioning, disabling, and re-enabling devices. *Warning:* * Deprovisioning a device will stop device policy syncing and remove device-level printers. After a device is deprovisioned, it must be wiped before it can be re-enrolled. * Lost or stolen devices should use the disable action. * Re-enabling a disabled device will consume a device license. If you do not have sufficient licenses available when completing the re-enable action, you will receive an error. For more information about deprovisioning and disabling devices, visit the [help center](https://support.google.com/chrome/a/answer/3523633).",
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/chromeos/{resourceId}/action",
          "request": {
            "$ref": "ChromeOsDeviceAction"
          },
          "path": "admin/directory/v1/customer/{customerId}/devices/chromeos/{resourceId}/action",
          "parameterOrder": [
            "customerId",
            "resourceId"
          ],
          "parameters": {
            "customerId": {
              "required": true,
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users).",
              "location": "path",
              "type": "string"
            },
            "resourceId": {
              "description": "The unique ID of the device. The `resourceId`s are returned in the response from the [chromeosdevices.list](/admin-sdk/directory/v1/reference/chromeosdevices/list) method.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.chromeos"
          ],
          "httpMethod": "POST",
          "id": "directory.chromeosdevices.action"
        },
        "moveDevicesToOu": {
          "httpMethod": "POST",
          "request": {
            "$ref": "ChromeOsMoveDevicesToOu"
          },
          "path": "admin/directory/v1/customer/{customerId}/devices/chromeos/moveDevicesToOu",
          "description": "Moves or inserts multiple Chrome OS devices to an organizational unit. You can move up to 50 devices at once.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.chromeos"
          ],
          "id": "directory.chromeosdevices.moveDevicesToOu",
          "parameterOrder": [
            "customerId",
            "orgUnitPath"
          ],
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/chromeos/moveDevicesToOu",
          "parameters": {
            "customerId": {
              "required": true,
              "type": "string",
              "description": "Immutable. ID of the Google Workspace account",
              "location": "path"
            },
            "orgUnitPath": {
              "required": true,
              "type": "string",
              "description": "Full path of the target organizational unit or its ID",
              "location": "query"
            }
          }
        },
        "list": {
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/chromeos",
          "response": {
            "$ref": "ChromeOsDevices"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.chromeos",
            "https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly"
          ],
          "description": "Retrieves a paginated list of Chrome OS devices within an account.",
          "path": "admin/directory/v1/customer/{customerId}/devices/chromeos",
          "id": "directory.chromeosdevices.list",
          "parameterOrder": [
            "customerId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "customerId": {
              "required": true,
              "type": "string",
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users).",
              "location": "path"
            },
            "sortOrder": {
              "description": "Whether to return results in ascending or descending order. Must be used with the `orderBy` parameter.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "orderBy": {
              "enum": [
                "annotatedLocation",
                "annotatedUser",
                "lastSync",
                "notes",
                "serialNumber",
                "status"
              ],
              "description": "Device property to use for sorting results.",
              "type": "string",
              "enumDescriptions": [
                "Chrome device location as annotated by the administrator.",
                "Chromebook user as annotated by administrator.",
                "The date and time the Chrome device was last synchronized with the policy settings in the Admin console.",
                "Chrome device notes as annotated by the administrator.",
                "The Chrome device serial number entered when the device was enabled.",
                "Chrome device status. For more information, see the \u003ca [chromeosdevices](/admin-sdk/directory/v1/reference/chromeosdevices.html)."
              ],
              "location": "query"
            },
            "projection": {
              "location": "query",
              "type": "string",
              "description": "Restrict information returned to a set of selected fields.",
              "enum": [
                "BASIC",
                "FULL"
              ],
              "enumDescriptions": [
                "Includes only the basic metadata fields (e.g., deviceId, serialNumber, status, and user)",
                "Includes all metadata fields"
              ]
            },
            "includeChildOrgunits": {
              "location": "query",
              "type": "boolean",
              "description": "Return devices from all child orgunits, as well as the specified org unit. If this is set to true, 'orgUnitPath' must be provided."
            },
            "orgUnitPath": {
              "type": "string",
              "description": "The full path of the organizational unit (minus the leading `/`) or its unique ID.",
              "location": "query"
            },
            "query": {
              "type": "string",
              "description": "Search string in the format given at https://developers.google.com/admin-sdk/directory/v1/list-query-operators",
              "location": "query"
            },
            "maxResults": {
              "default": "100",
              "description": "Maximum number of results to return.",
              "location": "query",
              "format": "int32",
              "minimum": "1",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The `pageToken` query parameter is used to request the next page of query results. The follow-on request's `pageToken` query parameter is the `nextPageToken` from your previous response."
            }
          }
        },
        "update": {
          "response": {
            "$ref": "ChromeOsDevice"
          },
          "id": "directory.chromeosdevices.update",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.chromeos"
          ],
          "parameterOrder": [
            "customerId",
            "deviceId"
          ],
          "request": {
            "$ref": "ChromeOsDevice"
          },
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}",
          "description": "Updates a device's updatable properties, such as `annotatedUser`, `annotatedLocation`, `notes`, `orgUnitPath`, or `annotatedAssetId`.",
          "parameters": {
            "deviceId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The unique ID of the device. The `deviceId`s are returned in the response from the [chromeosdevices.list](/admin-sdk/v1/reference/chromeosdevices/list) method."
            },
            "projection": {
              "enum": [
                "BASIC",
                "FULL"
              ],
              "location": "query",
              "description": "Restrict information returned to a set of selected fields.",
              "type": "string",
              "enumDescriptions": [
                "Includes only the basic metadata fields (e.g., deviceId, serialNumber, status, and user)",
                "Includes all metadata fields"
              ]
            },
            "customerId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users)."
            }
          },
          "httpMethod": "PUT",
          "path": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}"
        },
        "patch": {
          "description": "Updates a device's updatable properties, such as `annotatedUser`, `annotatedLocation`, `notes`, `orgUnitPath`, or `annotatedAssetId`. This method supports [patch semantics](/admin-sdk/directory/v1/guides/performance#patch).",
          "parameterOrder": [
            "customerId",
            "deviceId"
          ],
          "path": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}",
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}",
          "response": {
            "$ref": "ChromeOsDevice"
          },
          "parameters": {
            "projection": {
              "type": "string",
              "enumDescriptions": [
                "Includes only the basic metadata fields (e.g., deviceId, serialNumber, status, and user)",
                "Includes all metadata fields"
              ],
              "description": "Restrict information returned to a set of selected fields.",
              "location": "query",
              "enum": [
                "BASIC",
                "FULL"
              ]
            },
            "deviceId": {
              "description": "The unique ID of the device. The `deviceId`s are returned in the response from the [chromeosdevices.list](/admin-sdk/v1/reference/chromeosdevices/list) method.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "customerId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users)."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.chromeos"
          ],
          "httpMethod": "PATCH",
          "request": {
            "$ref": "ChromeOsDevice"
          },
          "id": "directory.chromeosdevices.patch"
        }
      }
    },
    "mobiledevices": {
      "methods": {
        "delete": {
          "httpMethod": "DELETE",
          "parameterOrder": [
            "customerId",
            "resourceId"
          ],
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/mobile/{resourceId}",
          "parameters": {
            "customerId": {
              "location": "path",
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users).",
              "required": true,
              "type": "string"
            },
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique ID the API service uses to identify the mobile device."
            }
          },
          "path": "admin/directory/v1/customer/{customerId}/devices/mobile/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.mobile"
          ],
          "id": "directory.mobiledevices.delete",
          "description": "Removes a mobile device."
        },
        "list": {
          "response": {
            "$ref": "MobileDevices"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.mobile",
            "https://www.googleapis.com/auth/admin.directory.device.mobile.action",
            "https://www.googleapis.com/auth/admin.directory.device.mobile.readonly"
          ],
          "httpMethod": "GET",
          "id": "directory.mobiledevices.list",
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/mobile",
          "path": "admin/directory/v1/customer/{customerId}/devices/mobile",
          "parameters": {
            "projection": {
              "description": "Restrict information returned to a set of selected fields.",
              "type": "string",
              "enumDescriptions": [
                "Includes only the basic metadata fields (e.g., deviceId, model, status, type, and status)",
                "Includes all metadata fields"
              ],
              "enum": [
                "BASIC",
                "FULL"
              ],
              "location": "query"
            },
            "query": {
              "description": "Search string in the format given at https://developers.google.com/admin-sdk/directory/v1/search-operators",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "description": "Maximum number of results to return. Max allowed value is 100.",
              "format": "int32",
              "minimum": "1",
              "location": "query",
              "maximum": "100",
              "default": "100",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "description": "Token to specify next page in the list",
              "type": "string"
            },
            "sortOrder": {
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Whether to return results in ascending or descending order. Must be used with the `orderBy` parameter.",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "Device property to use for sorting results.",
              "enum": [
                "deviceId",
                "email",
                "lastSync",
                "model",
                "name",
                "os",
                "status",
                "type"
              ],
              "enumDescriptions": [
                "The serial number for a Google Sync mobile device. For Android devices, this is a software generated unique identifier.",
                "The device owner's email address.",
                "Last policy settings sync date time of the device.",
                "The mobile device's model.",
                "The device owner's user name.",
                "The device's operating system.",
                "The device status.",
                "Type of the device."
              ]
            },
            "customerId": {
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users).",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "description": "Retrieves a paginated list of all user-owned mobile devices for an account. To retrieve a list that includes company-owned devices, use the Cloud Identity [Devices API](https://cloud.google.com/identity/docs/concepts/overview-devices) instead. This method times out after 60 minutes. For more information, see [Troubleshoot error codes](https://developers.google.com/admin-sdk/directory/v1/guides/troubleshoot-error-codes).",
          "parameterOrder": [
            "customerId"
          ]
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.mobile",
            "https://www.googleapis.com/auth/admin.directory.device.mobile.action",
            "https://www.googleapis.com/auth/admin.directory.device.mobile.readonly"
          ],
          "httpMethod": "GET",
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/mobile/{resourceId}",
          "parameters": {
            "projection": {
              "description": "Restrict information returned to a set of selected fields.",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "Includes only the basic metadata fields (e.g., deviceId, model, status, type, and status)",
                "Includes all metadata fields"
              ],
              "enum": [
                "BASIC",
                "FULL"
              ]
            },
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique ID the API service uses to identify the mobile device.",
              "location": "path"
            },
            "customerId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users)."
            }
          },
          "description": "Retrieves a mobile device's properties.",
          "parameterOrder": [
            "customerId",
            "resourceId"
          ],
          "id": "directory.mobiledevices.get",
          "path": "admin/directory/v1/customer/{customerId}/devices/mobile/{resourceId}",
          "response": {
            "$ref": "MobileDevice"
          }
        },
        "action": {
          "parameterOrder": [
            "customerId",
            "resourceId"
          ],
          "id": "directory.mobiledevices.action",
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/mobile/{resourceId}/action",
          "description": "Takes an action that affects a mobile device. For example, remotely wiping a device.",
          "httpMethod": "POST",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique ID the API service uses to identify the mobile device.",
              "type": "string",
              "required": true
            },
            "customerId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](/admin-sdk/directory/v1/reference/users)."
            }
          },
          "path": "admin/directory/v1/customer/{customerId}/devices/mobile/{resourceId}/action",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.mobile",
            "https://www.googleapis.com/auth/admin.directory.device.mobile.action"
          ],
          "request": {
            "$ref": "MobileDeviceAction"
          }
        }
      }
    },
    "members": {
      "methods": {
        "insert": {
          "id": "directory.members.insert",
          "response": {
            "$ref": "Member"
          },
          "path": "admin/directory/v1/groups/{groupKey}/members",
          "parameters": {
            "groupKey": {
              "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "admin/directory/v1/groups/{groupKey}/members",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.group.member"
          ],
          "description": "Adds a user to the specified group.",
          "request": {
            "$ref": "Member"
          },
          "parameterOrder": [
            "groupKey"
          ]
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.group.member"
          ],
          "description": "Updates the membership properties of a user in the specified group. This method supports [patch semantics](/admin-sdk/directory/v1/guides/performance#patch).",
          "path": "admin/directory/v1/groups/{groupKey}/members/{memberKey}",
          "parameterOrder": [
            "groupKey",
            "memberKey"
          ],
          "response": {
            "$ref": "Member"
          },
          "id": "directory.members.patch",
          "flatPath": "admin/directory/v1/groups/{groupKey}/members/{memberKey}",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Member"
          },
          "parameters": {
            "memberKey": {
              "required": true,
              "description": "Identifies the group member in the API request. A group member can be a user or another group. The value can be the member's (group or user) primary email address, alias, or unique ID.",
              "type": "string",
              "location": "path"
            },
            "groupKey": {
              "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.group.member"
          ],
          "parameterOrder": [
            "groupKey",
            "memberKey"
          ],
          "parameters": {
            "groupKey": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID."
            },
            "memberKey": {
              "required": true,
              "location": "path",
              "description": "Identifies the group member in the API request. A group member can be a user or another group. The value can be the member's (group or user) primary email address, alias, or unique ID.",
              "type": "string"
            }
          },
          "id": "directory.members.delete",
          "path": "admin/directory/v1/groups/{groupKey}/members/{memberKey}",
          "flatPath": "admin/directory/v1/groups/{groupKey}/members/{memberKey}",
          "httpMethod": "DELETE",
          "description": "Removes a member from a group."
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.group.member",
            "https://www.googleapis.com/auth/admin.directory.group.member.readonly",
            "https://www.googleapis.com/auth/admin.directory.group.readonly"
          ],
          "flatPath": "admin/directory/v1/groups/{groupKey}/members",
          "parameterOrder": [
            "groupKey"
          ],
          "path": "admin/directory/v1/groups/{groupKey}/members",
          "parameters": {
            "maxResults": {
              "description": "Maximum number of results to return. Max allowed value is 200.",
              "location": "query",
              "format": "int32",
              "type": "integer",
              "default": "200",
              "minimum": "1"
            },
            "roles": {
              "type": "string",
              "description": "The `roles` query parameter allows you to retrieve group members by role. Allowed values are `OWNER`, `MANAGER`, and `MEMBER`.",
              "location": "query"
            },
            "includeDerivedMembership": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to list indirect memberships. Default: false."
            },
            "groupKey": {
              "required": true,
              "location": "path",
              "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Token to specify next page in the list."
            }
          },
          "response": {
            "$ref": "Members"
          },
          "id": "directory.members.list",
          "description": "Retrieves a paginated list of all members in a group. This method times out after 60 minutes. For more information, see [Troubleshoot error codes](https://developers.google.com/admin-sdk/directory/v1/guides/troubleshoot-error-codes).",
          "httpMethod": "GET"
        },
        "get": {
          "httpMethod": "GET",
          "path": "admin/directory/v1/groups/{groupKey}/members/{memberKey}",
          "parameters": {
            "memberKey": {
              "location": "path",
              "description": "Identifies the group member in the API request. A group member can be a user or another group. The value can be the member's (group or user) primary email address, alias, or unique ID.",
              "type": "string",
              "required": true
            },
            "groupKey": {
              "location": "path",
              "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "admin/directory/v1/groups/{groupKey}/members/{memberKey}",
          "response": {
            "$ref": "Member"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.group.member",
            "https://www.googleapis.com/auth/admin.directory.group.member.readonly",
            "https://www.googleapis.com/auth/admin.directory.group.readonly"
          ],
          "id": "directory.members.get",
          "description": "Retrieves a group member's properties.",
          "parameterOrder": [
            "groupKey",
            "memberKey"
          ]
        },
        "hasMember": {
          "flatPath": "admin/directory/v1/groups/{groupKey}/hasMember/{memberKey}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.group.member",
            "https://www.googleapis.com/auth/admin.directory.group.member.readonly",
            "https://www.googleapis.com/auth/admin.directory.group.readonly"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "groupKey",
            "memberKey"
          ],
          "path": "admin/directory/v1/groups/{groupKey}/hasMember/{memberKey}",
          "description": "Checks whether the given user is a member of the group. Membership can be direct or nested, but if nested, the `memberKey` and `groupKey` must be entities in the same domain or an `Invalid input` error is returned. To check for nested memberships that include entities outside of the group's domain, use the [`checkTransitiveMembership()`](https://cloud.google.com/identity/docs/reference/rest/v1/groups.memberships/checkTransitiveMembership) method in the Cloud Identity Groups API.",
          "id": "directory.members.hasMember",
          "parameters": {
            "groupKey": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID."
            },
            "memberKey": {
              "description": "Identifies the user member in the API request. The value can be the user's primary email address, alias, or unique ID.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "MembersHasMember"
          }
        },
        "update": {
          "parameters": {
            "groupKey": {
              "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "memberKey": {
              "location": "path",
              "required": true,
              "description": "Identifies the group member in the API request. A group member can be a user or another group. The value can be the member's (group or user) primary email address, alias, or unique ID.",
              "type": "string"
            }
          },
          "path": "admin/directory/v1/groups/{groupKey}/members/{memberKey}",
          "request": {
            "$ref": "Member"
          },
          "response": {
            "$ref": "Member"
          },
          "parameterOrder": [
            "groupKey",
            "memberKey"
          ],
          "httpMethod": "PUT",
          "description": "Updates the membership of a user in the specified group.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.group.member"
          ],
          "flatPath": "admin/directory/v1/groups/{groupKey}/members/{memberKey}",
          "id": "directory.members.update"
        }
      }
    },
    "roleAssignments": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.rolemanagement",
            "https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly"
          ],
          "response": {
            "$ref": "RoleAssignments"
          },
          "httpMethod": "GET",
          "path": "admin/directory/v1/customer/{customer}/roleassignments",
          "parameterOrder": [
            "customer"
          ],
          "id": "directory.roleAssignments.list",
          "flatPath": "admin/directory/v1/customer/{customer}/roleassignments",
          "parameters": {
            "customer": {
              "description": "The unique ID for the customer's Google Workspace account. In case of a multi-domain account, to fetch all groups for a customer, use this field instead of `domain`. You can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users](/admin-sdk/directory/v1/reference/users) resource. You must provide either the `customer` or the `domain` parameter.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "includeIndirectRoleAssignments": {
              "description": "When set to `true`, fetches indirect role assignments (i.e. role assignment via a group) as well as direct ones. Defaults to `false`. You must specify `user_key` or the indirect role assignments will not be included.",
              "location": "query",
              "type": "boolean"
            },
            "userKey": {
              "location": "query",
              "description": "The primary email address, alias email address, or unique user or group ID. If included in the request, returns role assignments only for this user or group.",
              "type": "string"
            },
            "roleId": {
              "type": "string",
              "location": "query",
              "description": "Immutable ID of a role. If included in the request, returns only role assignments containing this role ID."
            },
            "pageToken": {
              "description": "Token to specify the next page in the list.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "minimum": "1",
              "maximum": "200",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          },
          "description": "Retrieves a paginated list of all roleAssignments."
        },
        "delete": {
          "id": "directory.roleAssignments.delete",
          "parameterOrder": [
            "customer",
            "roleAssignmentId"
          ],
          "description": "Deletes a role assignment.",
          "parameters": {
            "roleAssignmentId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Immutable ID of the role assignment."
            },
            "customer": {
              "type": "string",
              "description": "Immutable ID of the Google Workspace account.",
              "required": true,
              "location": "path"
            }
          },
          "path": "admin/directory/v1/customer/{customer}/roleassignments/{roleAssignmentId}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.rolemanagement"
          ],
          "httpMethod": "DELETE",
          "flatPath": "admin/directory/v1/customer/{customer}/roleassignments/{roleAssignmentId}"
        },
        "get": {
          "id": "directory.roleAssignments.get",
          "description": "Retrieves a role assignment.",
          "parameterOrder": [
            "customer",
            "roleAssignmentId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.rolemanagement",
            "https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly"
          ],
          "path": "admin/directory/v1/customer/{customer}/roleassignments/{roleAssignmentId}",
          "parameters": {
            "customer": {
              "description": "The unique ID for the customer's Google Workspace account. In case of a multi-domain account, to fetch all groups for a customer, use this field instead of `domain`. You can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users](/admin-sdk/directory/v1/reference/users) resource. You must provide either the `customer` or the `domain` parameter.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "roleAssignmentId": {
              "location": "path",
              "description": "Immutable ID of the role assignment.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "admin/directory/v1/customer/{customer}/roleassignments/{roleAssignmentId}",
          "response": {
            "$ref": "RoleAssignment"
          },
          "httpMethod": "GET"
        },
        "insert": {
          "flatPath": "admin/directory/v1/customer/{customer}/roleassignments",
          "request": {
            "$ref": "RoleAssignment"
          },
          "description": "Creates a role assignment.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.rolemanagement"
          ],
          "path": "admin/directory/v1/customer/{customer}/roleassignments",
          "parameterOrder": [
            "customer"
          ],
          "response": {
            "$ref": "RoleAssignment"
          },
          "parameters": {
            "customer": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Immutable ID of the Google Workspace account."
            }
          },
          "id": "directory.roleAssignments.insert",
          "httpMethod": "POST"
        }
      }
    },
    "privileges": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [
            "customer"
          ],
          "flatPath": "admin/directory/v1/customer/{customer}/roles/ALL/privileges",
          "id": "directory.privileges.list",
          "response": {
            "$ref": "Privileges"
          },
          "path": "admin/directory/v1/customer/{customer}/roles/ALL/privileges",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.rolemanagement",
            "https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly"
          ],
          "parameters": {
            "customer": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique ID for the customer's Google Workspace account. In case of a multi-domain account, to fetch all groups for a customer, use this field instead of `domain`. You can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users](/admin-sdk/directory/v1/reference/users) resource. You must provide either the `customer` or the `domain` parameter."
            }
          },
          "description": "Retrieves a paginated list of all privileges for a customer."
        }
      }
    },
    "groups": {
      "resources": {
        "aliases": {
          "methods": {
            "delete": {
              "parameterOrder": [
                "groupKey",
                "alias"
              ],
              "flatPath": "admin/directory/v1/groups/{groupKey}/aliases/{alias}",
              "description": "Removes an alias.",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.group"
              ],
              "id": "directory.groups.aliases.delete",
              "path": "admin/directory/v1/groups/{groupKey}/aliases/{alias}",
              "parameters": {
                "groupKey": {
                  "required": true,
                  "type": "string",
                  "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
                  "location": "path"
                },
                "alias": {
                  "required": true,
                  "description": "The alias to be removed",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "DELETE"
            },
            "insert": {
              "path": "admin/directory/v1/groups/{groupKey}/aliases",
              "parameterOrder": [
                "groupKey"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.group"
              ],
              "httpMethod": "POST",
              "parameters": {
                "groupKey": {
                  "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "request": {
                "$ref": "Alias"
              },
              "id": "directory.groups.aliases.insert",
              "description": "Adds an alias for the group.",
              "flatPath": "admin/directory/v1/groups/{groupKey}/aliases",
              "response": {
                "$ref": "Alias"
              }
            },
            "list": {
              "flatPath": "admin/directory/v1/groups/{groupKey}/aliases",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.group",
                "https://www.googleapis.com/auth/admin.directory.group.readonly"
              ],
              "description": "Lists all aliases for a group.",
              "path": "admin/directory/v1/groups/{groupKey}/aliases",
              "httpMethod": "GET",
              "id": "directory.groups.aliases.list",
              "parameterOrder": [
                "groupKey"
              ],
              "response": {
                "$ref": "Aliases"
              },
              "parameters": {
                "groupKey": {
                  "type": "string",
                  "required": true,
                  "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
                  "location": "path"
                }
              }
            }
          }
        }
      },
      "methods": {
        "insert": {
          "path": "admin/directory/v1/groups",
          "parameterOrder": [],
          "request": {
            "$ref": "Group"
          },
          "parameters": {},
          "response": {
            "$ref": "Group"
          },
          "flatPath": "admin/directory/v1/groups",
          "httpMethod": "POST",
          "id": "directory.groups.insert",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group"
          ],
          "description": "Creates a group."
        },
        "list": {
          "parameterOrder": [],
          "path": "admin/directory/v1/groups",
          "response": {
            "$ref": "Groups"
          },
          "id": "directory.groups.list",
          "description": "Retrieves all groups of a domain or of a user given a userKey (paginated).",
          "httpMethod": "GET",
          "flatPath": "admin/directory/v1/groups",
          "parameters": {
            "userKey": {
              "type": "string",
              "description": "Email or immutable ID of the user if only those groups are to be listed, the given user is a member of. If it's an ID, it should match with the ID of the user object.",
              "location": "query"
            },
            "customer": {
              "type": "string",
              "description": "The unique ID for the customer's Google Workspace account. In case of a multi-domain account, to fetch all groups for a customer, use this field instead of `domain`. You can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users](/admin-sdk/directory/v1/reference/users) resource. You must provide either the `customer` or the `domain` parameter.",
              "location": "query"
            },
            "pageToken": {
              "description": "Token to specify next page in the list",
              "type": "string",
              "location": "query"
            },
            "domain": {
              "type": "string",
              "location": "query",
              "description": "The domain name. Use this field to get groups from only one domain. To return all domains for a customer account, use the `customer` query parameter instead."
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Whether to return results in ascending or descending order. Only of use when orderBy is also used",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "minimum": "1",
              "description": "Maximum number of results to return. Max allowed value is 200.",
              "default": "200"
            },
            "query": {
              "location": "query",
              "description": "Query string search. Should be of the form \"\". Complete documentation is at https: //developers.google.com/admin-sdk/directory/v1/guides/search-groups",
              "type": "string"
            },
            "orderBy": {
              "enum": [
                "email"
              ],
              "location": "query",
              "description": "Column to use for sorting results",
              "enumDescriptions": [
                "Email of the group."
              ],
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.group.readonly"
          ]
        },
        "delete": {
          "description": "Deletes a group.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group"
          ],
          "flatPath": "admin/directory/v1/groups/{groupKey}",
          "path": "admin/directory/v1/groups/{groupKey}",
          "httpMethod": "DELETE",
          "parameters": {
            "groupKey": {
              "location": "path",
              "required": true,
              "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
              "type": "string"
            }
          },
          "id": "directory.groups.delete",
          "parameterOrder": [
            "groupKey"
          ]
        },
        "get": {
          "description": "Retrieves a group's properties.",
          "httpMethod": "GET",
          "id": "directory.groups.get",
          "parameterOrder": [
            "groupKey"
          ],
          "flatPath": "admin/directory/v1/groups/{groupKey}",
          "parameters": {
            "groupKey": {
              "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "admin/directory/v1/groups/{groupKey}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.group.readonly"
          ],
          "response": {
            "$ref": "Group"
          }
        },
        "patch": {
          "id": "directory.groups.patch",
          "response": {
            "$ref": "Group"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "groupKey"
          ],
          "request": {
            "$ref": "Group"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group"
          ],
          "description": "Updates a group's properties. This method supports [patch semantics](/admin-sdk/directory/v1/guides/performance#patch).",
          "path": "admin/directory/v1/groups/{groupKey}",
          "parameters": {
            "groupKey": {
              "type": "string",
              "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "admin/directory/v1/groups/{groupKey}"
        },
        "update": {
          "httpMethod": "PUT",
          "parameterOrder": [
            "groupKey"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group"
          ],
          "path": "admin/directory/v1/groups/{groupKey}",
          "flatPath": "admin/directory/v1/groups/{groupKey}",
          "parameters": {
            "groupKey": {
              "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "Group"
          },
          "request": {
            "$ref": "Group"
          },
          "description": "Updates a group's properties.",
          "id": "directory.groups.update"
        }
      }
    },
    "users": {
      "methods": {
        "watch": {
          "httpMethod": "POST",
          "description": "Watches for changes in users list.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user",
            "https://www.googleapis.com/auth/admin.directory.user.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Channel"
          },
          "path": "admin/directory/v1/users/watch",
          "parameters": {
            "customer": {
              "description": "Immutable ID of the Google Workspace account. In case of multi-domain, to fetch all users for a customer, fill this field instead of domain.",
              "location": "query",
              "type": "string"
            },
            "customFieldMask": {
              "type": "string",
              "description": "Comma-separated list of schema names. All fields from these schemas are fetched. This should only be set when projection=custom.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token to specify next page in the list"
            },
            "domain": {
              "type": "string",
              "description": "Name of the domain. Fill this field to get users from only this domain. To return all users in a multi-domain fill customer field instead.\"",
              "location": "query"
            },
            "projection": {
              "enum": [
                "basic",
                "custom",
                "full"
              ],
              "description": "What subset of fields to fetch for this user.",
              "enumDescriptions": [
                "Do not include any custom fields for the user.",
                "Include custom fields from schemas mentioned in customFieldMask.",
                "Include all fields associated with this user."
              ],
              "default": "basic",
              "location": "query",
              "type": "string"
            },
            "showDeleted": {
              "location": "query",
              "description": "If set to true, retrieves the list of deleted users. (Default: false)",
              "type": "string"
            },
            "viewType": {
              "default": "admin_view",
              "enum": [
                "admin_view",
                "domain_public"
              ],
              "type": "string",
              "location": "query",
              "description": "Whether to fetch the administrator-only or domain-wide public view of the user. For more information, see [Retrieve a user as a non-administrator](/admin-sdk/directory/v1/guides/manage-users#retrieve_users_non_admin).",
              "enumDescriptions": [
                "Results include both administrator-only and domain-public fields.",
                "Results only include fields for the user that are publicly visible to other users in the domain."
              ]
            },
            "query": {
              "type": "string",
              "description": "Query string search. Should be of the form \"\". Complete documentation is at https: //developers.google.com/admin-sdk/directory/v1/guides/search-users",
              "location": "query"
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string",
              "description": "Whether to return results in ascending or descending order.",
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "maximum": "500",
              "minimum": "1",
              "default": "100",
              "description": "Maximum number of results to return."
            },
            "event": {
              "enum": [
                "add",
                "delete",
                "makeAdmin",
                "undelete",
                "update"
              ],
              "description": "Events to watch for.",
              "type": "string",
              "enumDescriptions": [
                "User Created Event",
                "User Deleted Event",
                "User Admin Status Change Event",
                "User Undeleted Event",
                "User Updated Event"
              ],
              "location": "query"
            },
            "orderBy": {
              "enumDescriptions": [
                "Primary email of the user.",
                "User's family name.",
                "User's given name."
              ],
              "enum": [
                "email",
                "familyName",
                "givenName"
              ],
              "description": "Column to use for sorting results",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "admin/directory/v1/users/watch",
          "parameterOrder": [],
          "request": {
            "$ref": "Channel"
          },
          "id": "directory.users.watch"
        },
        "get": {
          "response": {
            "$ref": "User"
          },
          "parameterOrder": [
            "userKey"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user",
            "https://www.googleapis.com/auth/admin.directory.user.readonly"
          ],
          "flatPath": "admin/directory/v1/users/{userKey}",
          "description": "Retrieves a user.",
          "id": "directory.users.get",
          "path": "admin/directory/v1/users/{userKey}",
          "httpMethod": "GET",
          "parameters": {
            "customFieldMask": {
              "description": "A comma-separated list of schema names. All fields from these schemas are fetched. This should only be set when `projection=custom`.",
              "location": "query",
              "type": "string"
            },
            "projection": {
              "enum": [
                "basic",
                "custom",
                "full"
              ],
              "location": "query",
              "enumDescriptions": [
                "Do not include any custom fields for the user.",
                "Include custom fields from schemas requested in `customFieldMask`.",
                "Include all fields associated with this user."
              ],
              "type": "string",
              "description": "What subset of fields to fetch for this user.",
              "default": "basic"
            },
            "userKey": {
              "location": "path",
              "type": "string",
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
              "required": true
            },
            "viewType": {
              "type": "string",
              "location": "query",
              "description": "Whether to fetch the administrator-only or domain-wide public view of the user. For more information, see [Retrieve a user as a non-administrator](/admin-sdk/directory/v1/guides/manage-users#retrieve_users_non_admin).",
              "default": "admin_view",
              "enumDescriptions": [
                "Results include both administrator-only and domain-public fields for the user.",
                "Results only include fields for the user that are publicly visible to other users in the domain."
              ],
              "enum": [
                "admin_view",
                "domain_public"
              ]
            }
          }
        },
        "insert": {
          "httpMethod": "POST",
          "id": "directory.users.insert",
          "flatPath": "admin/directory/v1/users",
          "description": "Creates a user. Mutate calls immediately following user creation might sometimes fail as the user isn't fully created due to propagation delay in our backends. Check the error details for the \"User creation is not complete\" message to see if this is the case. Retrying the calls after some time can help in this case.",
          "path": "admin/directory/v1/users",
          "request": {
            "$ref": "User"
          },
          "parameters": {},
          "response": {
            "$ref": "User"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user",
            "https://www.googleapis.com/auth/admin.directory.user.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "admin/directory/v1/users",
          "parameters": {
            "domain": {
              "description": "The domain name. Use this field to get groups from only one domain. To return all domains for a customer account, use the `customer` query parameter instead. Either the `customer` or the `domain` parameter must be provided.",
              "type": "string",
              "location": "query"
            },
            "sortOrder": {
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Whether to return results in ascending or descending order, ignoring case."
            },
            "query": {
              "location": "query",
              "type": "string",
              "description": "Query string for searching user fields. For more information on constructing user queries, see [Search for Users](/admin-sdk/directory/v1/guides/search-users)."
            },
            "customer": {
              "type": "string",
              "description": "The unique ID for the customer's Google Workspace account. In case of a multi-domain account, to fetch all groups for a customer, use this field instead of `domain`. You can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users](/admin-sdk/directory/v1/reference/users) resource. You must provide either the `customer` or the `domain` parameter.",
              "location": "query"
            },
            "maxResults": {
              "default": "100",
              "format": "int32",
              "description": "Maximum number of results to return.",
              "minimum": "1",
              "type": "integer",
              "maximum": "500",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Token to specify next page in the list",
              "location": "query"
            },
            "orderBy": {
              "type": "string",
              "enumDescriptions": [
                "Primary email of the user.",
                "User's family name.",
                "User's given name."
              ],
              "enum": [
                "email",
                "familyName",
                "givenName"
              ],
              "description": "Property to use for sorting results.",
              "location": "query"
            },
            "customFieldMask": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of schema names. All fields from these schemas are fetched. This should only be set when `projection=custom`."
            },
            "event": {
              "location": "query",
              "type": "string",
              "description": "Event on which subscription is intended (if subscribing)",
              "enum": [
                "add",
                "delete",
                "makeAdmin",
                "undelete",
                "update"
              ],
              "enumDescriptions": [
                "User Created Event",
                "User Deleted Event",
                "User Admin Status Change Event",
                "User Undeleted Event",
                "User Updated Event"
              ]
            },
            "projection": {
              "type": "string",
              "default": "basic",
              "location": "query",
              "description": "What subset of fields to fetch for this user.",
              "enum": [
                "basic",
                "custom",
                "full"
              ],
              "enumDescriptions": [
                "Do not include any custom fields for the user.",
                "Include custom fields from schemas requested in `customFieldMask`.",
                "Include all fields associated with this user."
              ]
            },
            "viewType": {
              "default": "admin_view",
              "description": "Whether to fetch the administrator-only or domain-wide public view of the user. For more information, see [Retrieve a user as a non-administrator](/admin-sdk/directory/v1/guides/manage-users#retrieve_users_non_admin).",
              "enumDescriptions": [
                "Results include both administrator-only and domain-public fields for the user.",
                "Results only include fields for the user that are publicly visible to other users in the domain."
              ],
              "location": "query",
              "enum": [
                "admin_view",
                "domain_public"
              ],
              "type": "string"
            },
            "showDeleted": {
              "description": "If set to `true`, retrieves the list of deleted users. (Default: `false`)",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Retrieves a paginated list of either deleted users or all users in a domain.",
          "id": "directory.users.list",
          "httpMethod": "GET",
          "flatPath": "admin/directory/v1/users",
          "response": {
            "$ref": "Users"
          },
          "parameterOrder": []
        },
        "makeAdmin": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user"
          ],
          "id": "directory.users.makeAdmin",
          "parameters": {
            "userKey": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID."
            }
          },
          "parameterOrder": [
            "userKey"
          ],
          "flatPath": "admin/directory/v1/users/{userKey}/makeAdmin",
          "request": {
            "$ref": "UserMakeAdmin"
          },
          "path": "admin/directory/v1/users/{userKey}/makeAdmin",
          "description": "Makes a user a super administrator.",
          "httpMethod": "POST"
        },
        "signOut": {
          "path": "admin/directory/v1/users/{userKey}/signOut",
          "description": "Signs a user out of all web and device sessions and reset their sign-in cookies. User will have to sign in by authenticating again.",
          "id": "directory.users.signOut",
          "httpMethod": "POST",
          "flatPath": "admin/directory/v1/users/{userKey}/signOut",
          "parameters": {
            "userKey": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Identifies the target user in the API request. The value can be the user's primary email address, alias email address, or unique user ID."
            }
          },
          "parameterOrder": [
            "userKey"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user.security"
          ]
        },
        "undelete": {
          "id": "directory.users.undelete",
          "path": "admin/directory/v1/users/{userKey}/undelete",
          "flatPath": "admin/directory/v1/users/{userKey}/undelete",
          "description": "Undeletes a deleted user.",
          "request": {
            "$ref": "UserUndelete"
          },
          "parameters": {
            "userKey": {
              "required": true,
              "location": "path",
              "description": "The immutable id of the user",
              "type": "string"
            }
          },
          "parameterOrder": [
            "userKey"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user"
          ],
          "httpMethod": "POST"
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user"
          ],
          "httpMethod": "PATCH",
          "parameterOrder": [
            "userKey"
          ],
          "flatPath": "admin/directory/v1/users/{userKey}",
          "response": {
            "$ref": "User"
          },
          "id": "directory.users.patch",
          "description": "Updates a user using patch semantics. The update method should be used instead, because it also supports patch semantics and has better performance. If you're mapping an external identity to a Google identity, use the [`update`](https://developers.google.com/admin-sdk/directory/v1/reference/users/update) method instead of the `patch` method. This method is unable to clear fields that contain repeated objects (`addresses`, `phones`, etc). Use the update method instead.",
          "parameters": {
            "userKey": {
              "required": true,
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "User"
          },
          "path": "admin/directory/v1/users/{userKey}"
        },
        "update": {
          "parameters": {
            "userKey": {
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "request": {
            "$ref": "User"
          },
          "flatPath": "admin/directory/v1/users/{userKey}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user"
          ],
          "parameterOrder": [
            "userKey"
          ],
          "id": "directory.users.update",
          "path": "admin/directory/v1/users/{userKey}",
          "httpMethod": "PUT",
          "description": "Updates a user. This method supports patch semantics, meaning that you only need to include the fields you wish to update. Fields that are not present in the request will be preserved, and fields set to `null` will be cleared. For repeating fields that contain arrays, individual items in the array can't be patched piecemeal; they must be supplied in the request body with the desired values for all items. See the [user accounts guide](https://developers.google.com/admin-sdk/directory/v1/guides/manage-users#update_user) for more information.",
          "response": {
            "$ref": "User"
          }
        },
        "delete": {
          "id": "directory.users.delete",
          "path": "admin/directory/v1/users/{userKey}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user"
          ],
          "parameters": {
            "userKey": {
              "type": "string",
              "location": "path",
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
              "required": true
            }
          },
          "parameterOrder": [
            "userKey"
          ],
          "httpMethod": "DELETE",
          "description": "Deletes a user.",
          "flatPath": "admin/directory/v1/users/{userKey}"
        }
      },
      "resources": {
        "photos": {
          "methods": {
            "delete": {
              "parameterOrder": [
                "userKey"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.user"
              ],
              "description": "Removes the user's photo.",
              "path": "admin/directory/v1/users/{userKey}/photos/thumbnail",
              "parameters": {
                "userKey": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID."
                }
              },
              "httpMethod": "DELETE",
              "id": "directory.users.photos.delete",
              "flatPath": "admin/directory/v1/users/{userKey}/photos/thumbnail"
            },
            "get": {
              "parameterOrder": [
                "userKey"
              ],
              "flatPath": "admin/directory/v1/users/{userKey}/photos/thumbnail",
              "description": "Retrieves the user's photo.",
              "parameters": {
                "userKey": {
                  "required": true,
                  "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "directory.users.photos.get",
              "path": "admin/directory/v1/users/{userKey}/photos/thumbnail",
              "response": {
                "$ref": "UserPhoto"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.user",
                "https://www.googleapis.com/auth/admin.directory.user.readonly"
              ]
            },
            "patch": {
              "parameters": {
                "userKey": {
                  "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "directory.users.photos.patch",
              "response": {
                "$ref": "UserPhoto"
              },
              "parameterOrder": [
                "userKey"
              ],
              "path": "admin/directory/v1/users/{userKey}/photos/thumbnail",
              "httpMethod": "PATCH",
              "flatPath": "admin/directory/v1/users/{userKey}/photos/thumbnail",
              "request": {
                "$ref": "UserPhoto"
              },
              "description": "Adds a photo for the user. This method supports [patch semantics](/admin-sdk/directory/v1/guides/performance#patch).",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.user"
              ]
            },
            "update": {
              "request": {
                "$ref": "UserPhoto"
              },
              "id": "directory.users.photos.update",
              "parameterOrder": [
                "userKey"
              ],
              "response": {
                "$ref": "UserPhoto"
              },
              "description": "Adds a photo for the user.",
              "path": "admin/directory/v1/users/{userKey}/photos/thumbnail",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.user"
              ],
              "parameters": {
                "userKey": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID."
                }
              },
              "flatPath": "admin/directory/v1/users/{userKey}/photos/thumbnail",
              "httpMethod": "PUT"
            }
          }
        },
        "aliases": {
          "methods": {
            "delete": {
              "flatPath": "admin/directory/v1/users/{userKey}/aliases/{alias}",
              "httpMethod": "DELETE",
              "path": "admin/directory/v1/users/{userKey}/aliases/{alias}",
              "parameterOrder": [
                "userKey",
                "alias"
              ],
              "description": "Removes an alias.",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.user",
                "https://www.googleapis.com/auth/admin.directory.user.alias"
              ],
              "parameters": {
                "alias": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The alias to be removed."
                },
                "userKey": {
                  "location": "path",
                  "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
                  "type": "string",
                  "required": true
                }
              },
              "id": "directory.users.aliases.delete"
            },
            "watch": {
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.user",
                "https://www.googleapis.com/auth/admin.directory.user.alias",
                "https://www.googleapis.com/auth/admin.directory.user.alias.readonly",
                "https://www.googleapis.com/auth/admin.directory.user.readonly"
              ],
              "flatPath": "admin/directory/v1/users/{userKey}/aliases/watch",
              "path": "admin/directory/v1/users/{userKey}/aliases/watch",
              "httpMethod": "POST",
              "parameterOrder": [
                "userKey"
              ],
              "id": "directory.users.aliases.watch",
              "parameters": {
                "event": {
                  "enum": [
                    "add",
                    "delete"
                  ],
                  "enumDescriptions": [
                    "Alias Created Event",
                    "Alias Deleted Event"
                  ],
                  "description": "Events to watch for.",
                  "type": "string",
                  "location": "query"
                },
                "userKey": {
                  "location": "path",
                  "description": "Email or immutable ID of the user",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Watches for changes in users list.",
              "request": {
                "$ref": "Channel"
              },
              "response": {
                "$ref": "Channel"
              }
            },
            "insert": {
              "parameters": {
                "userKey": {
                  "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Alias"
              },
              "path": "admin/directory/v1/users/{userKey}/aliases",
              "description": "Adds an alias.",
              "id": "directory.users.aliases.insert",
              "flatPath": "admin/directory/v1/users/{userKey}/aliases",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.user",
                "https://www.googleapis.com/auth/admin.directory.user.alias"
              ],
              "request": {
                "$ref": "Alias"
              },
              "parameterOrder": [
                "userKey"
              ],
              "httpMethod": "POST"
            },
            "list": {
              "id": "directory.users.aliases.list",
              "response": {
                "$ref": "Aliases"
              },
              "description": "Lists all aliases for a user.",
              "parameters": {
                "event": {
                  "location": "query",
                  "description": "Events to watch for.",
                  "enumDescriptions": [
                    "Alias Created Event",
                    "Alias Deleted Event"
                  ],
                  "enum": [
                    "add",
                    "delete"
                  ],
                  "type": "string"
                },
                "userKey": {
                  "location": "path",
                  "required": true,
                  "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "path": "admin/directory/v1/users/{userKey}/aliases",
              "parameterOrder": [
                "userKey"
              ],
              "flatPath": "admin/directory/v1/users/{userKey}/aliases",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.user",
                "https://www.googleapis.com/auth/admin.directory.user.alias",
                "https://www.googleapis.com/auth/admin.directory.user.alias.readonly",
                "https://www.googleapis.com/auth/admin.directory.user.readonly"
              ]
            }
          }
        }
      }
    },
    "customer": {
      "resources": {
        "devices": {
          "resources": {
            "chromeos": {
              "resources": {
                "commands": {
                  "methods": {
                    "get": {
                      "parameterOrder": [
                        "customerId",
                        "deviceId",
                        "commandId"
                      ],
                      "path": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}/commands/{commandId}",
                      "parameters": {
                        "deviceId": {
                          "description": "Immutable. ID of Chrome OS Device.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "commandId": {
                          "description": "Immutable. ID of Chrome OS Device Command.",
                          "location": "path",
                          "format": "int64",
                          "required": true,
                          "type": "string"
                        },
                        "customerId": {
                          "location": "path",
                          "type": "string",
                          "description": "Immutable. ID of the Google Workspace account.",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "DirectoryChromeosdevicesCommand"
                      },
                      "flatPath": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}/commands/{commandId}",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.device.chromeos",
                        "https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly"
                      ],
                      "id": "admin.customer.devices.chromeos.commands.get",
                      "description": "Gets command data a specific command issued to the device."
                    }
                  }
                }
              },
              "methods": {
                "issueCommand": {
                  "scopes": [
                    "https://www.googleapis.com/auth/admin.directory.device.chromeos"
                  ],
                  "flatPath": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}:issueCommand",
                  "path": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}:issueCommand",
                  "parameterOrder": [
                    "customerId",
                    "deviceId"
                  ],
                  "id": "admin.customer.devices.chromeos.issueCommand",
                  "description": "Issues a command for the device to execute.",
                  "response": {
                    "$ref": "DirectoryChromeosdevicesIssueCommandResponse"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "DirectoryChromeosdevicesIssueCommandRequest"
                  },
                  "parameters": {
                    "deviceId": {
                      "description": "Immutable. ID of Chrome OS Device.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "customerId": {
                      "location": "path",
                      "description": "Immutable. ID of the Google Workspace account.",
                      "type": "string",
                      "required": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "domainAliases": {
      "methods": {
        "list": {
          "id": "directory.domainAliases.list",
          "httpMethod": "GET",
          "flatPath": "admin/directory/v1/customer/{customer}/domainaliases",
          "parameterOrder": [
            "customer"
          ],
          "description": "Lists the domain aliases of the customer.",
          "parameters": {
            "customer": {
              "required": true,
              "description": "The unique ID for the customer's Google Workspace account. In case of a multi-domain account, to fetch all groups for a customer, use this field instead of `domain`. You can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users](/admin-sdk/directory/v1/reference/users) resource. You must provide either the `customer` or the `domain` parameter.",
              "location": "path",
              "type": "string"
            },
            "parentDomainName": {
              "description": "Name of the parent domain for which domain aliases are to be fetched.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "DomainAliases"
          },
          "path": "admin/directory/v1/customer/{customer}/domainaliases",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.domain",
            "https://www.googleapis.com/auth/admin.directory.domain.readonly"
          ]
        },
        "delete": {
          "parameters": {
            "domainAliasName": {
              "location": "path",
              "required": true,
              "description": "Name of domain alias to be retrieved.",
              "type": "string"
            },
            "customer": {
              "description": "Immutable ID of the Google Workspace account.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
[...]
