{
  "title": "Admin SDK API",
  "batchPath": "batch",
  "documentationLink": "http://developers.google.com/admin-sdk/",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "revision": "20210105",
  "id": "admin:datatransfer_v1",
  "parameters": {
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "rootUrl": "https://admin.googleapis.com/",
  "baseUrl": "https://admin.googleapis.com/",
  "resources": {
    "applications": {
      "methods": {
        "list": {
          "parameterOrder": [],
          "description": "Lists the applications available for data transfer for a customer.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "id": "datatransfer.applications.list",
          "httpMethod": "GET",
          "flatPath": "admin/datatransfer/v1/applications",
          "parameters": {
            "customerId": {
              "location": "query",
              "type": "string",
              "description": "Immutable ID of the Google Workspace account."
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "description": "Maximum number of results to return. Default is 100.",
              "maximum": "500",
              "type": "integer",
              "minimum": "1"
            },
            "pageToken": {
              "description": "Token to specify next page in the list.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "ApplicationsListResponse"
          },
          "path": "admin/datatransfer/v1/applications"
        },
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "Application"
          },
          "id": "datatransfer.applications.get",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "path": "admin/datatransfer/v1/applications/{applicationId}",
          "parameters": {
            "applicationId": {
              "format": "int64",
              "description": "ID of the application resource to be retrieved.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "admin/datatransfer/v1/applications/{applicationId}",
          "description": "Retrieves information about an application for the given application ID.",
          "parameterOrder": [
            "applicationId"
          ]
        }
      }
    },
    "transfers": {
      "methods": {
        "insert": {
          "response": {
            "$ref": "DataTransfer"
          },
          "id": "datatransfer.transfers.insert",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer"
          ],
          "flatPath": "admin/datatransfer/v1/transfers",
          "httpMethod": "POST",
          "description": "Inserts a data transfer request.",
          "parameterOrder": [],
          "request": {
            "$ref": "DataTransfer"
          },
          "parameters": {},
          "path": "admin/datatransfer/v1/transfers"
        },
        "list": {
          "response": {
            "$ref": "DataTransfersListResponse"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "id": "datatransfer.transfers.list",
          "parameters": {
            "status": {
              "type": "string",
              "description": "Status of the transfer.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token to specify the next page in the list."
            },
            "maxResults": {
              "type": "integer",
              "minimum": "1",
              "location": "query",
              "format": "int32",
              "maximum": "500",
              "description": "Maximum number of results to return. Default is 100."
            },
            "customerId": {
              "description": "Immutable ID of the Google Workspace account.",
              "location": "query",
              "type": "string"
            },
            "oldOwnerUserId": {
              "location": "query",
              "type": "string",
              "description": "Source user's profile ID."
            },
            "newOwnerUserId": {
              "type": "string",
              "description": "Destination user's profile ID.",
              "location": "query"
            }
          },
          "description": "Lists the transfers for a customer by source user, destination user, or status.",
          "path": "admin/datatransfer/v1/transfers",
          "flatPath": "admin/datatransfer/v1/transfers",
          "httpMethod": "GET"
        },
        "get": {
          "id": "datatransfer.transfers.get",
          "path": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "description": "Retrieves a data transfer request by its resource ID.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "parameterOrder": [
            "dataTransferId"
          ],
          "response": {
            "$ref": "DataTransfer"
          },
          "flatPath": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "parameters": {
            "dataTransferId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "ID of the resource to be retrieved. This is returned in the response from the insert method."
            }
          }
        }
      }
    }
  },
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "ownerName": "Google",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "servicePath": "",
  "schemas": {
    "DataTransfer": {
      "properties": {
        "requestTime": {
          "description": "The time at which the data transfer was requested (Read-only).",
          "format": "date-time",
          "type": "string"
        },
        "oldOwnerUserId": {
          "type": "string",
          "description": "ID of the user whose data is being transferred."
        },
        "overallTransferStatusCode": {
          "type": "string",
          "description": "Overall transfer status (Read-only)."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies the resource as a DataTransfer request.",
          "type": "string",
          "default": "admin#datatransfer#DataTransfer"
        },
        "id": {
          "type": "string",
          "description": "The transfer's ID (Read-only)."
        },
        "applicationDataTransfers": {
          "description": "List of per application data transfer resources. It contains data transfer details of the applications associated with this transfer resource. Note that this list is also used to specify the applications for which data transfer has to be done at the time of the transfer resource creation.",
          "items": {
            "$ref": "ApplicationDataTransfer"
          },
          "type": "array"
        },
        "newOwnerUserId": {
          "type": "string",
          "description": "ID of the user to whom the data is being transferred."
        }
      },
      "id": "DataTransfer",
      "type": "object",
      "description": "A Transfer resource represents the transfer of the ownership of user data between users."
    },
    "ApplicationsListResponse": {
      "id": "ApplicationsListResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token which will be used to specify next page in list API.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "applications": {
          "type": "array",
          "description": "List of applications that support data transfer and are also installed for the customer.",
          "items": {
            "$ref": "Application"
          }
        },
        "kind": {
          "default": "admin#datatransfer#applicationsList",
          "description": "Identifies the resource as a collection of Applications.",
          "type": "string"
        }
      },
      "description": "Template for a collection of Applications."
    },
    "DataTransfersListResponse": {
      "id": "DataTransfersListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "default": "admin#datatransfer#dataTransfersList",
          "description": "Identifies the resource as a collection of data transfer requests.",
          "type": "string"
        },
        "dataTransfers": {
          "items": {
            "$ref": "DataTransfer"
          },
          "type": "array",
          "description": "List of data transfer requests."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token which will be used to specify next page in list API."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        }
      },
      "description": "Template for a collection of DataTransfer resources."
    },
    "ApplicationDataTransfer": {
      "id": "ApplicationDataTransfer",
      "description": "Template to map fields of ApplicationDataTransfer resource.",
      "properties": {
        "applicationTransferParams": {
          "description": "The transfer parameters for the application. These parameters are used to select the data which will get transferred in context of this application.",
          "items": {
            "$ref": "ApplicationTransferParam"
          },
          "type": "array"
        },
        "applicationTransferStatus": {
          "description": "Current status of transfer for this application. (Read-only)",
          "type": "string"
        },
        "applicationId": {
          "type": "string",
          "format": "int64",
          "description": "The application's ID."
        }
      },
      "type": "object"
    },
    "Application": {
      "type": "object",
      "properties": {
        "etag": {
          "description": "Etag of the resource.",
          "type": "string"
        },
        "kind": {
          "default": "admin#datatransfer#ApplicationResource",
          "type": "string",
          "description": "Identifies the resource as a DataTransfer Application Resource."
        },
        "transferParams": {
          "items": {
            "$ref": "ApplicationTransferParam"
          },
          "description": "The list of all possible transfer parameters for this application. These parameters can be used to select the data of the user in this application to be transferred.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "The application's name."
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "The application's ID."
        }
      },
      "id": "Application",
      "description": "Applications resources represent applications installed on the domain that support transferring ownership of user data."
    },
    "ApplicationTransferParam": {
      "description": "Template for application transfer parameters.",
      "type": "object",
      "id": "ApplicationTransferParam",
      "properties": {
        "key": {
          "description": "The type of the transfer parameter. eg: 'PRIVACY_LEVEL'",
          "type": "string"
        },
        "value": {
          "description": "The value of the corresponding transfer parameter. eg: 'PRIVATE' or 'SHARED'",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    }
  },
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.datatransfer.readonly": {
          "description": "View data transfers between users in your organization"
        },
        "https://www.googleapis.com/auth/admin.datatransfer": {
          "description": "View and manage data transfers between users in your organization"
        }
      }
    }
  },
  "version": "datatransfer_v1",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "DataTransfer",
  "packagePath": "admin",
  "name": "admin"
}
