{
  "title": "AdMob API",
  "revision": "20201013",
  "ownerName": "Google",
  "rootUrl": "https://admob.googleapis.com/",
  "kind": "discovery#restDescription",
  "baseUrl": "https://admob.googleapis.com/",
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "id": "admob:v1",
  "ownerDomain": "google.com",
  "basePath": "",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://admob.mtls.googleapis.com/",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://developers.google.com/admob/api/",
  "resources": {
    "accounts": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/admob.report"
          ],
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "description": "Resource name of the publisher account to retrieve. Example: accounts/pub-9876543210987654",
              "required": true
            }
          },
          "response": {
            "$ref": "PublisherAccount"
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Gets information about the specified AdMob publisher account.",
          "flatPath": "v1/accounts/{accountsId}",
          "id": "admob.accounts.get"
        },
        "list": {
          "id": "admob.accounts.list",
          "httpMethod": "GET",
          "description": "Lists the AdMob publisher account accessible with the client credential. Currently, all credentials have access to at most one AdMob account.",
          "flatPath": "v1/accounts",
          "scopes": [
            "https://www.googleapis.com/auth/admob.report"
          ],
          "response": {
            "$ref": "ListPublisherAccountsResponse"
          },
          "path": "v1/accounts",
          "parameterOrder": [],
          "parameters": {
            "pageToken": {
              "description": "The value returned by the last `ListPublisherAccountsResponse`; indicates that this is a continuation of a prior `ListPublisherAccounts` call, and that the system should return the next page of data.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "description": "Maximum number of accounts to return.",
              "location": "query",
              "type": "integer"
            }
          }
        }
      },
      "resources": {
        "networkReport": {
          "methods": {
            "generate": {
              "request": {
                "$ref": "GenerateNetworkReportRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/admob.report"
              ],
              "path": "v1/{+parent}/networkReport:generate",
              "flatPath": "v1/accounts/{accountsId}/networkReport:generate",
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Resource name of the account to generate the report for. Example: accounts/pub-9876543210987654",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GenerateNetworkReportResponse"
              },
              "id": "admob.accounts.networkReport.generate",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "description": "Generates an AdMob Network report based on the provided report specification."
            }
          }
        },
        "mediationReport": {
          "methods": {
            "generate": {
              "path": "v1/{+parent}/mediationReport:generate",
              "id": "admob.accounts.mediationReport.generate",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "description": "Generates an AdMob Mediation report based on the provided report specification.",
              "scopes": [
                "https://www.googleapis.com/auth/admob.report"
              ],
              "request": {
                "$ref": "GenerateMediationReportRequest"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "description": "Resource name of the account to generate the report for. Example: accounts/pub-9876543210987654"
                }
              },
              "response": {
                "$ref": "GenerateMediationReportResponse"
              },
              "flatPath": "v1/accounts/{accountsId}/mediationReport:generate"
            }
          }
        }
      }
    }
  },
  "servicePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "description": "The AdMob API allows publishers to programmatically get information about their AdMob account. ",
  "version_module": true,
  "name": "admob",
  "canonicalName": "AdMob",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admob.report": {
          "description": "See your AdMob data"
        }
      }
    }
  },
  "batchPath": "batch",
  "version": "v1",
  "schemas": {
    "ReportRow": {
      "description": "A row of the returning report.",
      "type": "object",
      "properties": {
        "dimensionValues": {
          "additionalProperties": {
            "$ref": "ReportRowDimensionValue"
          },
          "description": "Map of dimension values in a row, with keys as enum name of the dimensions.",
          "type": "object"
        },
        "metricValues": {
          "additionalProperties": {
            "$ref": "ReportRowMetricValue"
          },
          "type": "object",
          "description": "Map of metric values in a row, with keys as enum name of the metrics. If a metric being requested has no value returned, the map will not include it."
        }
      },
      "id": "ReportRow"
    },
    "GenerateMediationReportRequest": {
      "type": "object",
      "description": "Request to generate an AdMob Mediation report.",
      "properties": {
        "reportSpec": {
          "description": "Network report specification.",
          "$ref": "MediationReportSpec"
        }
      },
      "id": "GenerateMediationReportRequest"
    },
    "MediationReportSpecSortCondition": {
      "type": "object",
      "properties": {
        "order": {
          "enum": [
            "SORT_ORDER_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ],
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "Sort dimension value or metric value in ascending order.",
            "Sort dimension value or metric value in descending order."
          ],
          "type": "string",
          "description": "Sorting order of the dimension or metric."
        },
        "metric": {
          "type": "string",
          "enum": [
            "METRIC_UNSPECIFIED",
            "AD_REQUESTS",
            "CLICKS",
            "ESTIMATED_EARNINGS",
            "IMPRESSIONS",
            "IMPRESSION_CTR",
            "MATCHED_REQUESTS",
            "MATCH_RATE",
            "OBSERVED_ECPM"
          ],
          "description": "Sort by the specified metric.",
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "The number of requests. The value is an integer.",
            "The number of times a user clicks an ad. The value is an integer.",
            "The estimated earnings of the AdMob publisher. The currency unit (USD, EUR, or other) of the earning metrics are determined by the localization setting for currency. The amount is in micros. For example, $6.50 would be represented as 6500000. Estimated earnings per mediation group and per ad source instance level is supported dating back to October 20, 2019. Third-party estimated earnings will show 0 for dates prior to October 20, 2019.",
            "The total number of ads shown to users. The value is an integer.",
            "The ratio of clicks over impressions. The value is a double precision (approximate) decimal value.",
            "The number of times ads are returned in response to a request. The value is an integer.",
            "The ratio of matched ad requests over the total ad requests. The value is a double precision (approximate) decimal value.",
            "The third-party ad network's estimated average eCPM. The currency unit (USD, EUR, or other) of the earning metrics are determined by the localization setting for currency. The amount is in micros. For example, $2.30 would be represented as 2300000. The estimated average eCPM per mediation group and per ad source instance level is supported dating back to October 20, 2019. Third-party estimated average eCPM will show 0 for dates prior to October 20, 2019."
          ]
        },
        "dimension": {
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "A date in the YYYY-MM-DD format (for example, \"2018-12-21\"). Requests can specify at most one time dimension.",
            "A month in the YYYY-MM format (for example, \"2018-12\"). Requests can specify at most one time dimension.",
            "The date of the first day of a week in the YYYY-MM-DD format (for example, \"2018-12-21\"). Requests can specify at most one time dimension.",
            "The [unique ID of the ad source](/admob/api/v1/ad_sources) (for example, \"5450213213286189855\" and \"AdMob Network\" as label value).",
            "The unique ID of the ad source instance (for example, \"ca-app-pub-1234#5678\" and \"AdMob (default)\" as label value).",
            "The unique ID of the ad unit (for example, \"ca-app-pub-1234/8790\"). If AD_UNIT dimension is specified, then APP is included automatically.",
            "The unique ID of the mobile application (for example, \"ca-app-pub-1234~1234\").",
            "The unique ID of the mediation group (for example, \"ca-app-pub-1234:mg:1234\" and \"AdMob (default)\" as label value).",
            "CLDR country code of the place where the ad views/clicks occur (for example, \"US\" or \"FR\"). This is a geography dimension.",
            "Format of the ad unit (for example, \"banner\", \"native\"), an ad delivery dimension.",
            "Mobile OS platform of the app (for example, \"Android\" or \"iOS\")."
          ],
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "DATE",
            "MONTH",
            "WEEK",
            "AD_SOURCE",
            "AD_SOURCE_INSTANCE",
            "AD_UNIT",
            "APP",
            "MEDIATION_GROUP",
            "COUNTRY",
            "FORMAT",
            "PLATFORM"
          ],
          "description": "Sort by the specified dimension.",
          "type": "string"
        }
      },
      "description": "Sorting direction to be applied on a dimension or a metric.",
      "id": "MediationReportSpecSortCondition"
    },
    "NetworkReportSpec": {
      "properties": {
        "dimensions": {
          "items": {
            "enumDescriptions": [
              "Default value for an unset field. Do not use.",
              "A date in the YYYY-MM-DD format (for example, \"2018-12-21\"). Requests can specify at most one time dimension.",
              "A month in the YYYY-MM format (for example, \"2018-12\"). Requests can specify at most one time dimension.",
              "The date of the first day of a week in the YYYY-MM-DD format (for example, \"2018-12-21\"). Requests can specify at most one time dimension.",
              "The unique ID of the ad unit (for example, \"ca-app-pub-1234/1234\"). If AD_UNIT dimension is specified, then APP is included automatically.",
              "The unique ID of the mobile application (for example, \"ca-app-pub-1234~1234\").",
              "Type of the ad (for example, \"text\" or \"image\"), an ad delivery dimension. **Warning:** The dimension is incompatible with [AD_REQUESTS](#Metric.ENUM_VALUES.AD_REQUESTS), [MATCH_RATE](#Metric.ENUM_VALUES.MATCH_RATE) and [IMPRESSION_RPM](#Metric.ENUM_VALUES.IMPRESSION_RPM) metrics.",
              "CLDR country code of the place where the ad views/clicks occur (for example, \"US\" or \"FR\"). This is a geography dimension.",
              "Format of the ad unit (for example, \"banner\", \"native\"), an ad delivery dimension.",
              "Mobile OS platform of the app (for example, \"Android\" or \"iOS\")."
            ],
            "type": "string",
            "enum": [
              "DIMENSION_UNSPECIFIED",
              "DATE",
              "MONTH",
              "WEEK",
              "AD_UNIT",
              "APP",
              "AD_TYPE",
              "COUNTRY",
              "FORMAT",
              "PLATFORM"
            ]
          },
          "type": "array",
          "description": "List of dimensions of the report. The value combination of these dimensions determines the row of the report. If no dimensions are specified, the report returns a single row of requested metrics for the entire account."
        },
        "dateRange": {
          "description": "The date range for which the report is generated.",
          "$ref": "DateRange"
        },
        "dimensionFilters": {
          "items": {
            "$ref": "NetworkReportSpecDimensionFilter"
          },
          "type": "array",
          "description": "Describes which report rows to match based on their dimension values."
        },
        "maxReportRows": {
          "description": "Maximum number of report data rows to return. If the value is not set, the API returns as many rows as possible, up to 100000. Acceptable values are 1-100000, inclusive. Values larger than 100000 return an error.",
          "format": "int32",
          "type": "integer"
        },
        "timeZone": {
          "description": "A report time zone. Accepts an IANA TZ name values, such as \"America/Los_Angeles.\" If no time zone is defined, the account default takes effect. Check default value by the get account action. **Warning:** The \"America/Los_Angeles\" is the only supported value at the moment.",
          "type": "string"
        },
        "localizationSettings": {
          "$ref": "LocalizationSettings",
          "description": "Localization settings of the report."
        },
        "metrics": {
          "items": {
            "enumDescriptions": [
              "Default value for an unset field. Do not use.",
              "The number of ad requests. The value is an integer. **Warning:** The metric is incompatible with [AD_TYPE](#Dimension.ENUM_VALUES.AD_TYPE) dimension.",
              "The number of times a user clicks an ad. The value is an integer.",
              "The estimated earnings of the AdMob publisher. The currency unit (USD, EUR, or other) of the earning metrics are determined by the localization setting for currency. The amount is in micros. For example, $6.50 would be represented as 6500000.",
              "The total number of ads shown to users. The value is an integer.",
              "The ratio of clicks over impressions. The value is a double precision (approximate) decimal value.",
              "The estimated earnings per thousand ad impressions. The value is in micros. For example, $1.03 would be represented as 1030000. **Warning:** The metric is incompatible with [AD_TYPE](#Dimension.ENUM_VALUES.AD_TYPE) dimension.",
              "The number of times ads are returned in response to a request. The value is an integer.",
              "The ratio of matched ad requests over the total ad requests. The value is a double precision (approximate) decimal value. **Warning:** The metric is incompatible with [AD_TYPE](#Dimension.ENUM_VALUES.AD_TYPE) dimension.",
              "The ratio of ads that are displayed over ads that are returned, defined as impressions / matched requests. The value is a double precision (approximate) decimal value."
            ],
            "enum": [
              "METRIC_UNSPECIFIED",
              "AD_REQUESTS",
              "CLICKS",
              "ESTIMATED_EARNINGS",
              "IMPRESSIONS",
              "IMPRESSION_CTR",
              "IMPRESSION_RPM",
              "MATCHED_REQUESTS",
              "MATCH_RATE",
              "SHOW_RATE"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "List of metrics of the report. A report must specify at least one metric."
        },
        "sortConditions": {
          "items": {
            "$ref": "NetworkReportSpecSortCondition"
          },
          "description": "Describes the sorting of report rows. The order of the condition in the list defines its precedence; the earlier the condition, the higher its precedence. If no sort conditions are specified, the row ordering is undefined.",
          "type": "array"
        }
      },
      "description": "The specification for generating an AdMob Network report. For example, the specification to get clicks and estimated earnings for only the 'US' and 'CN' countries can look like the following example: { 'date_range': { 'start_date': {'year': 2018, 'month': 9, 'day': 1}, 'end_date': {'year': 2018, 'month': 9, 'day': 30} }, 'dimensions': ['DATE', 'APP', 'COUNTRY'], 'metrics': ['CLICKS', 'ESTIMATED_EARNINGS'], 'dimension_filters': [ { 'dimension': 'COUNTRY', 'matches_any': {'values': [{'value': 'US', 'value': 'CN'}]} } ], 'sort_conditions': [ {'dimension':'APP', order: 'ASCENDING'}, {'metric':'CLICKS', order: 'DESCENDING'} ], 'localization_settings': { 'currency_code': 'USD', 'language_code': 'en-US' } } For a better understanding, you can treat the preceding specification like the following pseudo SQL: SELECT DATE, APP, COUNTRY, CLICKS, ESTIMATED_EARNINGS FROM NETWORK_REPORT WHERE DATE \u003e= '2018-09-01' AND DATE \u003c= '2018-09-30' AND COUNTRY IN ('US', 'CN') GROUP BY DATE, APP, COUNTRY ORDER BY APP ASC, CLICKS DESC;",
      "id": "NetworkReportSpec",
      "type": "object"
    },
    "ReportWarning": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Type of the warning.",
          "type": "string",
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "Some data in this report is aggregated based on a time zone different from the requested time zone. This could happen if a local time-zone report has the start time before the last time this time zone changed. The description field will contain the date of the last time zone change.",
            "There is an unusual delay in processing the source data for the requested date range. The report results might be less up to date than usual. AdMob is aware of the issue and is actively working to resolve it.",
            "Warnings that are exposed without a specific type. Useful when new warning types are added but the API is not changed yet.",
            "The currency being requested is not the account currency. The earning metrics will be based on the requested currency, and thus not a good estimation of the final payment anymore, due to the currency rate fluctuation."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "DATA_BEFORE_ACCOUNT_TIMEZONE_CHANGE",
            "DATA_DELAYED",
            "OTHER",
            "REPORT_CURRENCY_NOT_ACCOUNT_CURRENCY"
          ]
        },
        "description": {
          "type": "string",
          "description": "Describes the details of the warning message, in English."
        }
      },
      "description": "Warnings associated with generation of the report.",
      "id": "ReportWarning"
    },
    "GenerateNetworkReportRequest": {
      "id": "GenerateNetworkReportRequest",
      "properties": {
        "reportSpec": {
          "description": "Network report specification.",
          "$ref": "NetworkReportSpec"
        }
      },
      "type": "object",
      "description": "Request to generate an AdMob Network report."
    },
    "DateRange": {
      "properties": {
        "endDate": {
          "$ref": "Date",
          "description": "End date of the date range, inclusive. Must be greater than or equal to the start date."
        },
        "startDate": {
          "description": "Start date of the date range, inclusive. Must be less than or equal to the end date.",
          "$ref": "Date"
        }
      },
      "type": "object",
      "description": "Specification of a single date range. Both dates are inclusive.",
      "id": "DateRange"
    },
    "StringList": {
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "description": "The string values.",
          "type": "array"
        }
      },
      "description": "List of string values.",
      "type": "object",
      "id": "StringList"
    },
    "ListPublisherAccountsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "If not empty, indicates that there might be more accounts for the request; you must pass this value in a new `ListPublisherAccountsRequest`.",
          "type": "string"
        },
        "account": {
          "description": "Publisher that the client credentials can access.",
          "type": "array",
          "items": {
            "$ref": "PublisherAccount"
          }
        }
      },
      "id": "ListPublisherAccountsResponse",
      "type": "object",
      "description": "Response for the publisher account list request."
    },
    "ReportRowMetricValue": {
      "description": "Representation of a metric value.",
      "type": "object",
      "id": "ReportRowMetricValue",
      "properties": {
        "doubleValue": {
          "description": "Double precision (approximate) decimal values. Rates are from 0 to 1.",
          "format": "double",
          "type": "number"
        },
        "microsValue": {
          "type": "string",
          "description": "Amount in micros. One million is equivalent to one unit. Currency value is in the unit (USD, EUR or other) specified by the request. For example, $6.50 whould be represented as 6500000 micros.",
          "format": "int64"
        },
        "integerValue": {
          "format": "int64",
          "type": "string",
          "description": "Metric integer value."
        }
      }
    },
    "ReportRowDimensionValue": {
      "type": "object",
      "properties": {
        "displayLabel": {
          "description": "The localized string representation of the value. If unspecified, the display label should be derived from the value.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Dimension value in the format specified in the report's spec Dimension enum."
        }
      },
      "description": "Representation of a dimension value.",
      "id": "ReportRowDimensionValue"
    },
    "NetworkReportSpecSortCondition": {
      "type": "object",
      "properties": {
        "dimension": {
          "type": "string",
          "description": "Sort by the specified dimension.",
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "DATE",
            "MONTH",
            "WEEK",
            "AD_UNIT",
            "APP",
            "AD_TYPE",
            "COUNTRY",
            "FORMAT",
            "PLATFORM"
          ],
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "A date in the YYYY-MM-DD format (for example, \"2018-12-21\"). Requests can specify at most one time dimension.",
            "A month in the YYYY-MM format (for example, \"2018-12\"). Requests can specify at most one time dimension.",
            "The date of the first day of a week in the YYYY-MM-DD format (for example, \"2018-12-21\"). Requests can specify at most one time dimension.",
            "The unique ID of the ad unit (for example, \"ca-app-pub-1234/1234\"). If AD_UNIT dimension is specified, then APP is included automatically.",
            "The unique ID of the mobile application (for example, \"ca-app-pub-1234~1234\").",
            "Type of the ad (for example, \"text\" or \"image\"), an ad delivery dimension. **Warning:** The dimension is incompatible with [AD_REQUESTS](#Metric.ENUM_VALUES.AD_REQUESTS), [MATCH_RATE](#Metric.ENUM_VALUES.MATCH_RATE) and [IMPRESSION_RPM](#Metric.ENUM_VALUES.IMPRESSION_RPM) metrics.",
            "CLDR country code of the place where the ad views/clicks occur (for example, \"US\" or \"FR\"). This is a geography dimension.",
            "Format of the ad unit (for example, \"banner\", \"native\"), an ad delivery dimension.",
            "Mobile OS platform of the app (for example, \"Android\" or \"iOS\")."
          ]
        },
        "metric": {
          "enum": [
            "METRIC_UNSPECIFIED",
            "AD_REQUESTS",
            "CLICKS",
            "ESTIMATED_EARNINGS",
            "IMPRESSIONS",
            "IMPRESSION_CTR",
            "IMPRESSION_RPM",
            "MATCHED_REQUESTS",
            "MATCH_RATE",
            "SHOW_RATE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "The number of ad requests. The value is an integer. **Warning:** The metric is incompatible with [AD_TYPE](#Dimension.ENUM_VALUES.AD_TYPE) dimension.",
            "The number of times a user clicks an ad. The value is an integer.",
            "The estimated earnings of the AdMob publisher. The currency unit (USD, EUR, or other) of the earning metrics are determined by the localization setting for currency. The amount is in micros. For example, $6.50 would be represented as 6500000.",
            "The total number of ads shown to users. The value is an integer.",
            "The ratio of clicks over impressions. The value is a double precision (approximate) decimal value.",
            "The estimated earnings per thousand ad impressions. The value is in micros. For example, $1.03 would be represented as 1030000. **Warning:** The metric is incompatible with [AD_TYPE](#Dimension.ENUM_VALUES.AD_TYPE) dimension.",
            "The number of times ads are returned in response to a request. The value is an integer.",
            "The ratio of matched ad requests over the total ad requests. The value is a double precision (approximate) decimal value. **Warning:** The metric is incompatible with [AD_TYPE](#Dimension.ENUM_VALUES.AD_TYPE) dimension.",
            "The ratio of ads that are displayed over ads that are returned, defined as impressions / matched requests. The value is a double precision (approximate) decimal value."
          ],
          "description": "Sort by the specified metric."
        },
        "order": {
          "description": "Sorting order of the dimension or metric.",
          "enum": [
            "SORT_ORDER_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ],
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "Sort dimension value or metric value in ascending order.",
            "Sort dimension value or metric value in descending order."
          ],
          "type": "string"
        }
      },
      "description": "Sorting direction to be applied on a dimension or a metric.",
      "id": "NetworkReportSpecSortCondition"
    },
    "GenerateMediationReportResponse": {
      "id": "GenerateMediationReportResponse",
      "type": "object",
      "description": "The streaming response for the AdMob Mediation report where the first response contains the report header, then a stream of row responses, and finally a footer as the last response message. For example: [{ \"header\": { \"date_range\": { \"start_date\": {\"year\": 2018, \"month\": 9, \"day\": 1}, \"end_date\": {\"year\": 2018, \"month\": 9, \"day\": 1} }, \"localization_settings\": { \"currency_code\": \"USD\", \"language_code\": \"en-US\" } } }, { \"row\": { \"dimension_values\": { \"DATE\": {\"value\": \"20180918\"}, \"APP\": { \"value\": \"ca-app-pub-8123415297019784~1001342552\", \"display_label\": \"My app name!\" } }, \"metric_values\": { \"ESTIMATED_EARNINGS\": {\"decimal_value\": \"1324746\"} } } }, { \"footer\": {\"matching_row_count\": 1} }]",
      "properties": {
        "footer": {
          "$ref": "ReportFooter",
          "description": "Additional information about the generated report, such as warnings about the data."
        },
        "row": {
          "description": "Actual report data.",
          "$ref": "ReportRow"
        },
        "header": {
          "$ref": "ReportHeader",
          "description": "Report generation settings that describes the report contents, such as the report date range and localization settings."
        }
      }
    },
    "ReportHeader": {
      "type": "object",
      "description": "Groups data helps to treat the generated report. Always sent as a first message in the stream response.",
      "id": "ReportHeader",
      "properties": {
        "localizationSettings": {
          "description": "Localization settings of the report. This is identical to the settings in the report request.",
          "$ref": "LocalizationSettings"
        },
        "dateRange": {
          "$ref": "DateRange",
          "description": "The date range for which the report is generated. This is identical to the range specified in the report request."
        },
        "reportingTimeZone": {
          "description": "The report time zone. The value is a time-zone ID as specified by the CLDR project, for example, \"America/Los_Angeles\".",
          "type": "string"
        }
      }
    },
    "NetworkReportSpecDimensionFilter": {
      "type": "object",
      "description": "Describes which report rows to match based on their dimension values.",
      "properties": {
        "matchesAny": {
          "description": "Matches a row if its value for the specified dimension is in one of the values specified in this condition.",
          "$ref": "StringList"
        },
        "dimension": {
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "A date in the YYYY-MM-DD format (for example, \"2018-12-21\"). Requests can specify at most one time dimension.",
            "A month in the YYYY-MM format (for example, \"2018-12\"). Requests can specify at most one time dimension.",
            "The date of the first day of a week in the YYYY-MM-DD format (for example, \"2018-12-21\"). Requests can specify at most one time dimension.",
            "The unique ID of the ad unit (for example, \"ca-app-pub-1234/1234\"). If AD_UNIT dimension is specified, then APP is included automatically.",
            "The unique ID of the mobile application (for example, \"ca-app-pub-1234~1234\").",
            "Type of the ad (for example, \"text\" or \"image\"), an ad delivery dimension. **Warning:** The dimension is incompatible with [AD_REQUESTS](#Metric.ENUM_VALUES.AD_REQUESTS), [MATCH_RATE](#Metric.ENUM_VALUES.MATCH_RATE) and [IMPRESSION_RPM](#Metric.ENUM_VALUES.IMPRESSION_RPM) metrics.",
            "CLDR country code of the place where the ad views/clicks occur (for example, \"US\" or \"FR\"). This is a geography dimension.",
            "Format of the ad unit (for example, \"banner\", \"native\"), an ad delivery dimension.",
            "Mobile OS platform of the app (for example, \"Android\" or \"iOS\")."
          ],
          "description": "Applies the filter criterion to the specified dimension.",
          "type": "string",
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "DATE",
            "MONTH",
            "WEEK",
            "AD_UNIT",
            "APP",
            "AD_TYPE",
            "COUNTRY",
            "FORMAT",
            "PLATFORM"
          ]
        }
      },
      "id": "NetworkReportSpecDimensionFilter"
    },
    "MediationReportSpec": {
      "id": "MediationReportSpec",
      "type": "object",
      "properties": {
        "timeZone": {
          "type": "string",
          "description": "A report time zone. Accepts an IANA TZ name values, such as \"America/Los_Angeles.\" If no time zone is defined, the account default takes effect. Check default value by the get account action. **Warning:** The \"America/Los_Angeles\" is the only supported value at the moment."
        },
        "metrics": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default value for an unset field. Do not use.",
              "The number of requests. The value is an integer.",
              "The number of times a user clicks an ad. The value is an integer.",
              "The estimated earnings of the AdMob publisher. The currency unit (USD, EUR, or other) of the earning metrics are determined by the localization setting for currency. The amount is in micros. For example, $6.50 would be represented as 6500000. Estimated earnings per mediation group and per ad source instance level is supported dating back to October 20, 2019. Third-party estimated earnings will show 0 for dates prior to October 20, 2019.",
              "The total number of ads shown to users. The value is an integer.",
              "The ratio of clicks over impressions. The value is a double precision (approximate) decimal value.",
              "The number of times ads are returned in response to a request. The value is an integer.",
              "The ratio of matched ad requests over the total ad requests. The value is a double precision (approximate) decimal value.",
              "The third-party ad network's estimated average eCPM. The currency unit (USD, EUR, or other) of the earning metrics are determined by the localization setting for currency. The amount is in micros. For example, $2.30 would be represented as 2300000. The estimated average eCPM per mediation group and per ad source instance level is supported dating back to October 20, 2019. Third-party estimated average eCPM will show 0 for dates prior to October 20, 2019."
            ],
            "type": "string",
            "enum": [
              "METRIC_UNSPECIFIED",
              "AD_REQUESTS",
              "CLICKS",
              "ESTIMATED_EARNINGS",
              "IMPRESSIONS",
              "IMPRESSION_CTR",
              "MATCHED_REQUESTS",
              "MATCH_RATE",
              "OBSERVED_ECPM"
            ]
          },
          "description": "List of metrics of the report. A report must specify at least one metric."
        },
        "localizationSettings": {
          "description": "Localization settings of the report.",
          "$ref": "LocalizationSettings"
        },
        "dimensions": {
          "type": "array",
          "items": {
            "enum": [
              "DIMENSION_UNSPECIFIED",
              "DATE",
              "MONTH",
              "WEEK",
              "AD_SOURCE",
              "AD_SOURCE_INSTANCE",
              "AD_UNIT",
              "APP",
              "MEDIATION_GROUP",
              "COUNTRY",
              "FORMAT",
              "PLATFORM"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default value for an unset field. Do not use.",
              "A date in the YYYY-MM-DD format (for example, \"2018-12-21\"). Requests can specify at most one time dimension.",
              "A month in the YYYY-MM format (for example, \"2018-12\"). Requests can specify at most one time dimension.",
              "The date of the first day of a week in the YYYY-MM-DD format (for example, \"2018-12-21\"). Requests can specify at most one time dimension.",
              "The [unique ID of the ad source](/admob/api/v1/ad_sources) (for example, \"5450213213286189855\" and \"AdMob Network\" as label value).",
              "The unique ID of the ad source instance (for example, \"ca-app-pub-1234#5678\" and \"AdMob (default)\" as label value).",
              "The unique ID of the ad unit (for example, \"ca-app-pub-1234/8790\"). If AD_UNIT dimension is specified, then APP is included automatically.",
              "The unique ID of the mobile application (for example, \"ca-app-pub-1234~1234\").",
              "The unique ID of the mediation group (for example, \"ca-app-pub-1234:mg:1234\" and \"AdMob (default)\" as label value).",
              "CLDR country code of the place where the ad views/clicks occur (for example, \"US\" or \"FR\"). This is a geography dimension.",
              "Format of the ad unit (for example, \"banner\", \"native\"), an ad delivery dimension.",
              "Mobile OS platform of the app (for example, \"Android\" or \"iOS\")."
            ]
          },
          "description": "List of dimensions of the report. The value combination of these dimensions determines the row of the report. If no dimensions are specified, the report returns a single row of requested metrics for the entire account."
        },
        "maxReportRows": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of report data rows to return. If the value is not set, the API returns as many rows as possible, up to 100000. Acceptable values are 1-100000, inclusive. Values larger than 100000 return an error."
        },
        "sortConditions": {
          "type": "array",
          "items": {
            "$ref": "MediationReportSpecSortCondition"
          },
          "description": "Describes the sorting of report rows. The order of the condition in the list defines its precedence; the earlier the condition, the higher its precedence. If no sort conditions are specified, the row ordering is undefined."
        },
        "dimensionFilters": {
          "items": {
            "$ref": "MediationReportSpecDimensionFilter"
          },
          "description": "Describes which report rows to match based on their dimension values.",
          "type": "array"
        },
        "dateRange": {
          "description": "The date range for which the report is generated.",
          "$ref": "DateRange"
        }
      },
      "description": "The specification for generating an AdMob Mediation report. For example, the specification to get observed ECPM sliced by ad source and app for the 'US' and 'CN' countries can look like the following example: { \"date_range\": { \"start_date\": {\"year\": 2018, \"month\": 9, \"day\": 1}, \"end_date\": {\"year\": 2018, \"month\": 9, \"day\": 30} }, \"dimensions\": [\"AD_SOURCE\", \"APP\", \"COUNTRY\"], \"metrics\": [\"OBSERVED_ECPM\"], \"dimension_filters\": [ { \"dimension\": \"COUNTRY\", \"matches_any\": {\"values\": [{\"value\": \"US\", \"value\": \"CN\"}]} } ], \"sort_conditions\": [ {\"dimension\":\"APP\", order: \"ASCENDING\"} ], \"localization_settings\": { \"currency_code\": \"USD\", \"language_code\": \"en-US\" } } For a better understanding, you can treat the preceding specification like the following pseudo SQL: SELECT AD_SOURCE, APP, COUNTRY, OBSERVED_ECPM FROM MEDIATION_REPORT WHERE DATE \u003e= '2018-09-01' AND DATE \u003c= '2018-09-30' AND COUNTRY IN ('US', 'CN') GROUP BY AD_SOURCE, APP, COUNTRY ORDER BY APP ASC;"
    },
    "ReportFooter": {
      "id": "ReportFooter",
      "description": "Groups data available after report generation, for example, warnings and row counts. Always sent as the last message in the stream response.",
      "properties": {
        "warnings": {
          "items": {
            "$ref": "ReportWarning"
          },
          "description": "Warnings associated with generation of the report.",
          "type": "array"
        },
        "matchingRowCount": {
          "format": "int64",
          "type": "string",
          "description": "Total number of rows that matched the request. Warning: This count does NOT always match the number of rows in the response. Do not make that assumption when processing the response."
        }
      },
      "type": "object"
    },
    "MediationReportSpecDimensionFilter": {
      "properties": {
        "dimension": {
          "type": "string",
          "description": "Applies the filter criterion to the specified dimension.",
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "DATE",
            "MONTH",
            "WEEK",
            "AD_SOURCE",
            "AD_SOURCE_INSTANCE",
            "AD_UNIT",
            "APP",
            "MEDIATION_GROUP",
            "COUNTRY",
            "FORMAT",
            "PLATFORM"
          ],
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "A date in the YYYY-MM-DD format (for example, \"2018-12-21\"). Requests can specify at most one time dimension.",
            "A month in the YYYY-MM format (for example, \"2018-12\"). Requests can specify at most one time dimension.",
            "The date of the first day of a week in the YYYY-MM-DD format (for example, \"2018-12-21\"). Requests can specify at most one time dimension.",
            "The [unique ID of the ad source](/admob/api/v1/ad_sources) (for example, \"5450213213286189855\" and \"AdMob Network\" as label value).",
            "The unique ID of the ad source instance (for example, \"ca-app-pub-1234#5678\" and \"AdMob (default)\" as label value).",
            "The unique ID of the ad unit (for example, \"ca-app-pub-1234/8790\"). If AD_UNIT dimension is specified, then APP is included automatically.",
            "The unique ID of the mobile application (for example, \"ca-app-pub-1234~1234\").",
            "The unique ID of the mediation group (for example, \"ca-app-pub-1234:mg:1234\" and \"AdMob (default)\" as label value).",
            "CLDR country code of the place where the ad views/clicks occur (for example, \"US\" or \"FR\"). This is a geography dimension.",
            "Format of the ad unit (for example, \"banner\", \"native\"), an ad delivery dimension.",
            "Mobile OS platform of the app (for example, \"Android\" or \"iOS\")."
          ]
        },
        "matchesAny": {
          "description": "Matches a row if its value for the specified dimension is in one of the values specified in this condition.",
          "$ref": "StringList"
        }
      },
      "id": "MediationReportSpecDimensionFilter",
      "type": "object",
      "description": "Describes which report rows to match based on their dimension values."
    },
    "LocalizationSettings": {
      "properties": {
        "languageCode": {
          "description": "Language used for any localized text, such as some dimension value display labels. The language tag defined in the IETF BCP47. Defaults to 'en-US' if unspecified.",
          "type": "string"
        },
        "currencyCode": {
          "description": "Currency code of the earning related metrics, which is the 3-letter code defined in ISO 4217. The daily average rate is used for the currency conversion. Defaults to the account currency code if unspecified.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Localization settings for reports, such as currency and language. It affects how metrics are calculated.",
      "id": "LocalizationSettings"
    },
    "Date": {
      "id": "Date",
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values * A month and day value, with a zero year, such as an anniversary * A year on its own, with zero month and day values * A year and month value, with a zero day, such as a credit card expiration date Related types are google.type.TimeOfDay and `google.protobuf.Timestamp`.",
      "properties": {
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        },
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GenerateNetworkReportResponse": {
      "id": "GenerateNetworkReportResponse",
      "properties": {
        "row": {
          "description": "Actual report data.",
          "$ref": "ReportRow"
        },
        "footer": {
          "description": "Additional information about the generated report, such as warnings about the data.",
          "$ref": "ReportFooter"
        },
        "header": {
          "description": "Report generation settings that describes the report contents, such as the report date range and localization settings.",
          "$ref": "ReportHeader"
        }
      },
      "type": "object",
      "description": "The streaming response for the AdMob Network report where the first response contains the report header, then a stream of row responses, and finally a footer as the last response message. For example: [{ \"header\": { \"dateRange\": { \"startDate\": {\"year\": 2018, \"month\": 9, \"day\": 1}, \"endDate\": {\"year\": 2018, \"month\": 9, \"day\": 1} }, \"localizationSettings\": { \"currencyCode\": \"USD\", \"languageCode\": \"en-US\" } } }, { \"row\": { \"dimensionValues\": { \"DATE\": {\"value\": \"20180918\"}, \"APP\": { \"value\": \"ca-app-pub-8123415297019784~1001342552\", displayLabel: \"My app name!\" } }, \"metricValues\": { \"ESTIMATED_EARNINGS\": {\"microsValue\": 6500000} } } }, { \"footer\": {\"matchingRowCount\": 1} }]"
    },
    "PublisherAccount": {
      "type": "object",
      "id": "PublisherAccount",
      "properties": {
        "publisherId": {
          "type": "string",
          "description": "The unique ID by which this publisher account can be identified in the API requests (for example, pub-1234567890)."
        },
        "reportingTimeZone": {
          "description": "The time zone that is used in reports that are generated for this account. The value is a time-zone ID as specified by the CLDR project, for example, \"America/Los_Angeles\".",
          "type": "string"
        },
        "currencyCode": {
          "type": "string",
          "description": "Currency code of the earning-related metrics, which is the 3-letter code defined in ISO 4217. The daily average rate is used for the currency conversion."
        },
        "name": {
          "type": "string",
          "description": "Resource name of this account. Format is accounts/{publisher_id}."
        }
      },
      "description": "A publisher account contains information relevant to the use of this API, such as the time zone used for the reports."
    }
  }
}
