{
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "basePath": "",
  "rootUrl": "https://adsense.googleapis.com/",
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/adsense/management/",
  "baseUrl": "https://adsense.googleapis.com/",
  "schemas": {
    "Cell": {
      "description": "Cell representation.",
      "properties": {
        "value": {
          "description": "Value in the cell. The dimension cells contain strings, and the metric cells contain numbers.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Cell"
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values * A month and day, with a zero year (e.g., an anniversary) * A year on its own, with a zero month and a zero day * A year and month, with a zero day (e.g., a credit card expiration date) Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Date"
    },
    "ListAccountsResponse": {
      "type": "object",
      "id": "ListAccountsResponse",
      "description": "Response definition for the account list rpc.",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token used to page through accounts. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        },
        "accounts": {
          "items": {
            "$ref": "Account"
          },
          "type": "array",
          "description": "The accounts returned in this list response."
        }
      }
    },
    "ListLinkedCustomChannelsResponse": {
      "description": "Response definition for the custom channels linked to an adunit list rpc.",
      "id": "ListLinkedCustomChannelsResponse",
      "properties": {
        "customChannels": {
          "type": "array",
          "description": "The custom channels returned in this list response.",
          "items": {
            "$ref": "CustomChannel"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through alerts. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        }
      },
      "type": "object"
    },
    "ListSitesResponse": {
      "type": "object",
      "description": "Response definition for the sites list rpc.",
      "id": "ListSitesResponse",
      "properties": {
        "sites": {
          "description": "The sites returned in this list response.",
          "items": {
            "$ref": "Site"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through sites. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        }
      }
    },
    "ListChildAccountsResponse": {
      "description": "Response definition for the child account list rpc.",
      "id": "ListChildAccountsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through accounts. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        },
        "accounts": {
          "type": "array",
          "items": {
            "$ref": "Account"
          },
          "description": "The accounts returned in this list response."
        }
      },
      "type": "object"
    },
    "ListLinkedAdUnitsResponse": {
      "description": "Response definition for the ad units linked to a custom channel list rpc.",
      "id": "ListLinkedAdUnitsResponse",
      "type": "object",
      "properties": {
        "adUnits": {
          "type": "array",
          "items": {
            "$ref": "AdUnit"
          },
          "description": "The ad units returned in the list response."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through ad units. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        }
      }
    },
    "AdUnit": {
      "type": "object",
      "properties": {
        "contentAdsSettings": {
          "description": "Settings specific to content ads (AFC).",
          "$ref": "ContentAdsSettings"
        },
        "reportingDimensionId": {
          "readOnly": true,
          "description": "Output only. Unique ID of the ad unit as used in the `AD_UNIT_ID` reporting dimension.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name of the ad unit. Format: accounts/{account}/adclients/{adclient}/adunits/{adunit}"
        },
        "displayName": {
          "description": "Display name of the ad unit, as provided when the ad unit was created.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ARCHIVED"
          ],
          "type": "string",
          "enumDescriptions": [
            "State unspecified.",
            "Ad unit has been activated by the user.",
            "Ad unit has been archived by the user. Note that archived ad units are only removed from the default view in the UI. Archived ad units can still serve ads."
          ],
          "description": "State of the ad unit."
        }
      },
      "id": "AdUnit",
      "description": "Representation of an ad unit. An ad unit represents a saved ad unit with a specific set of ad settings that have been customized within an account."
    },
    "ReportResult": {
      "id": "ReportResult",
      "description": "Result of a generated report.",
      "properties": {
        "endDate": {
          "$ref": "Date",
          "description": "Required. End date of the range (inclusive)."
        },
        "warnings": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Any warnings associated with generation of the report. These warnings are always returned in English."
        },
        "headers": {
          "items": {
            "$ref": "Header"
          },
          "description": "The header information; one for each dimension in the request, followed by one for each metric in the request.",
          "type": "array"
        },
        "averages": {
          "$ref": "Row",
          "description": "The averages of the report. This is the same length as any other row in the report; cells corresponding to dimension columns are empty."
        },
        "totalMatchedRows": {
          "description": "The total number of rows matched by the report request.",
          "format": "int64",
          "type": "string"
        },
        "totals": {
          "description": "The totals of the report. This is the same length as any other row in the report; cells corresponding to dimension columns are empty.",
          "$ref": "Row"
        },
        "startDate": {
          "description": "Required. Start date of the range (inclusive).",
          "$ref": "Date"
        },
        "rows": {
          "items": {
            "$ref": "Row"
          },
          "type": "array",
          "description": "The output rows of the report. Each row is a list of cells; one for each dimension in the request, followed by one for each metric in the request."
        }
      },
      "type": "object"
    },
    "TimeZone": {
      "id": "TimeZone",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "properties": {
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone, e.g. \"America/New_York\"."
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number, e.g. \"2019a\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ContentAdsSettings": {
      "description": "Settings specific to content ads (AFC).",
      "id": "ContentAdsSettings",
      "properties": {
        "size": {
          "type": "string",
          "description": "Size of the ad unit. e.g. \"728x90\", \"1x3\" (for responsive ad units)."
        },
        "type": {
          "type": "string",
          "description": "Type of the ad unit.",
          "enumDescriptions": [
            "Unspecified ad unit type.",
            "Display ad unit.",
            "In-feed ad unit.",
            "In-article ad unit.",
            "Matched content unit.",
            "Link ad unit. Note that link ad units have now been retired, see https://support.google.com/adsense/answer/9987221."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "DISPLAY",
            "FEED",
            "ARTICLE",
            "MATCHED_CONTENT",
            "LINK"
          ]
        }
      },
      "type": "object"
    },
    "Site": {
      "id": "Site",
      "properties": {
        "reportingDimensionId": {
          "readOnly": true,
          "description": "Output only. Unique ID of the site as used in the `OWNED_SITE_ID` reporting dimension.",
          "type": "string"
        },
        "state": {
          "description": "Output only. State of a site.",
          "enum": [
            "STATE_UNSPECIFIED",
            "REQUIRES_REVIEW",
            "GETTING_READY",
            "READY",
            "NEEDS_ATTENTION"
          ],
          "enumDescriptions": [
            "State unspecified.",
            "The site hasn't been checked yet.",
            "Running some checks on the site. This usually takes a few days, but in some cases can take up to 2 weeks.",
            "The site is ready to show ads.",
            "Publisher needs to fix some issues before the site is ready to show ads."
          ],
          "type": "string",
          "readOnly": true
        },
        "domain": {
          "type": "string",
          "description": "Domain (or subdomain) of the site, e.g. \"example.com\" or \"www.example.com\". This is used in the `OWNED_SITE_DOMAIN_NAME` reporting dimension."
        },
        "autoAdsEnabled": {
          "type": "boolean",
          "description": "Whether auto ads is turned on for the site."
        },
        "name": {
          "type": "string",
          "description": "Resource name of a site. Format: accounts/{account}/sites/{site}"
        }
      },
      "description": "Representation of a Site.",
      "type": "object"
    },
    "ListAlertsResponse": {
      "properties": {
        "alerts": {
          "type": "array",
          "items": {
            "$ref": "Alert"
          },
          "description": "The alerts returned in this list response."
        }
      },
      "type": "object",
      "description": "Response definition for the alerts list rpc.",
      "id": "ListAlertsResponse"
    },
    "ListAdClientsResponse": {
      "type": "object",
      "description": "Response definition for the ad client list rpc.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through ad clients. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        },
        "adClients": {
          "type": "array",
          "description": "The ad clients returned in this list response.",
          "items": {
            "$ref": "AdClient"
          }
        }
      },
      "id": "ListAdClientsResponse"
    },
    "HttpBody": {
      "id": "HttpBody",
      "type": "object",
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "properties": {
        "extensions": {
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array"
        },
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        },
        "data": {
          "format": "byte",
          "description": "The HTTP request/response body as raw binary.",
          "type": "string"
        }
      }
    },
    "ListUrlChannelsResponse": {
      "type": "object",
      "description": "Response definition for the url channels list rpc.",
      "properties": {
        "urlChannels": {
          "description": "The url channels returned in this list response.",
          "items": {
            "$ref": "UrlChannel"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through url channels. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        }
      },
      "id": "ListUrlChannelsResponse"
    },
    "Row": {
      "id": "Row",
      "type": "object",
      "description": "Row representation.",
      "properties": {
        "cells": {
          "items": {
            "$ref": "Cell"
          },
          "type": "array",
          "description": "Cells in the row."
        }
      }
    },
    "AdUnitAdCode": {
      "id": "AdUnitAdCode",
      "type": "object",
      "description": "Representation of the AdSense code for a given ad unit.",
      "properties": {
        "adCode": {
          "readOnly": true,
          "description": "Output only. The AdSense code snippet to add to the body of an HTML page.",
          "type": "string"
        }
      }
    },
    "ListPaymentsResponse": {
      "description": "Response definition for the payments list rpc.",
      "type": "object",
      "id": "ListPaymentsResponse",
      "properties": {
        "payments": {
          "description": "The payments returned in this list response.",
          "items": {
            "$ref": "Payment"
          },
          "type": "array"
        }
      }
    },
    "Alert": {
      "description": "Representation of an alert.",
      "id": "Alert",
      "properties": {
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Type of alert. This identifies the broad type of this alert, and provides a stable machine-readable identifier that will not be translated. For example, \"payment-hold\"."
        },
        "message": {
          "description": "Output only. The localized alert message. This may contain HTML markup, such as phrase elements or links.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Resource name of the alert. Format: accounts/{account}/alerts/{alert}"
        },
        "severity": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified severity.",
            "Info.",
            "Warning.",
            "Severe."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "SEVERE"
          ],
          "description": "Output only. Severity of this alert."
        }
      },
      "type": "object"
    },
    "CustomChannel": {
      "description": "Representation of a custom channel.",
      "type": "object",
      "id": "CustomChannel",
      "properties": {
        "reportingDimensionId": {
          "readOnly": true,
          "description": "Output only. Unique ID of the custom channel as used in the `CUSTOM_CHANNEL_ID` reporting dimension.",
          "type": "string"
        },
        "name": {
          "description": "Resource name of the custom channel. Format: accounts/{account}/adclients/{adclient}/customchannels/{customchannel}",
          "type": "string"
        },
        "displayName": {
          "description": "Display name of the custom channel.",
          "type": "string"
        }
      }
    },
    "ListAdUnitsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token used to page through ad units. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        },
        "adUnits": {
          "description": "The ad units returned in the list response.",
          "items": {
            "$ref": "AdUnit"
          },
          "type": "array"
        }
      },
      "description": "Response definition for the adunit list rpc.",
      "id": "ListAdUnitsResponse"
    },
    "Payment": {
      "type": "object",
      "description": "Representation of an unpaid or paid payment. See [Payment timelines for AdSense](https://support.google.com/adsense/answer/7164703) for more information about payments.",
      "id": "Payment",
      "properties": {
        "date": {
          "readOnly": true,
          "$ref": "Date",
          "description": "Output only. For paid earnings, the date that the payment was credited. For unpaid earnings, this field is empty. Payment dates are always returned in the billing timezone (America/Los_Angeles)."
        },
        "amount": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The amount of unpaid or paid earnings, as a formatted string, including the currency. E.g. \"¥1,235 JPY\", \"$1,234.57\", \"£87.65\"."
        },
        "name": {
          "description": "Resource name of the payment. Format: - accounts/{account}/payments/unpaid for unpaid (current) AdSense earnings. - accounts/{account}/payments/youtube-unpaid for unpaid (current) YouTube earnings. - accounts/{account}/payments/yyyy-MM-dd for paid AdSense earnings. - accounts/{account}/payments/youtube-yyyy-MM-dd for paid YouTube earnings. ",
          "type": "string"
        }
      }
    },
    "SavedReport": {
      "description": "Representation of a saved report.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name of the report. Format: accounts/{account}/reports/{report}"
        },
        "title": {
          "type": "string",
          "description": "Report title as specified by publisher."
        }
      },
      "id": "SavedReport"
    },
    "ListCustomChannelsResponse": {
      "id": "ListCustomChannelsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token used to page through alerts. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        },
        "customChannels": {
          "items": {
            "$ref": "CustomChannel"
          },
          "type": "array",
          "description": "The custom channels returned in this list response."
        }
      },
      "type": "object",
      "description": "Response definition for the custom channel list rpc."
    },
    "Account": {
      "description": "Representation of an account.",
      "id": "Account",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. Creation time of the account.",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "description": "Resource name of the account. Format: accounts/pub-[0-9]+",
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Display name of this account."
        },
        "premium": {
          "description": "Output only. Whether this account is premium.",
          "type": "boolean",
          "readOnly": true
        },
        "pendingTasks": {
          "type": "array",
          "description": "Output only. Outstanding tasks that need to be completed as part of the sign-up process for a new account. e.g. \"billing-profile-creation\", \"phone-pin-verification\".",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "timeZone": {
          "$ref": "TimeZone",
          "description": "The account time zone, as used by reporting. For more information, see [changing the time zone of your reports](https://support.google.com/adsense/answer/9830725)."
        }
      },
      "type": "object"
    },
    "UrlChannel": {
      "id": "UrlChannel",
      "properties": {
        "reportingDimensionId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Unique ID of the custom channel as used in the `URL_CHANNEL_ID` reporting dimension."
        },
        "name": {
          "type": "string",
          "description": "Resource name of the URL channel. Format: accounts/{account}/adclients/{adclient}/urlchannels/{urlchannel}"
        },
        "uriPattern": {
          "description": "URI pattern of the channel. Does not include \"http://\" or \"https://\". Example: www.example.com/home",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Representation of a URL channel. URL channels allow you to track the performance of particular pages in your site; see [URL channels](https://support.google.com/adsense/answer/2923836) for more information."
    },
    "AdClient": {
      "description": "Representation of an ad client. An ad client represents a user's subscription with a specific AdSense product.",
      "type": "object",
      "properties": {
        "productCode": {
          "type": "string",
          "description": "Output only. Product code of the ad client. For example, \"AFC\" for AdSense for Content.",
          "readOnly": true
        },
        "reportingDimensionId": {
          "description": "Output only. Unique ID of the ad client as used in the `AD_CLIENT_ID` reporting dimension. Present only if the ad client supports reporting.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Resource name of the ad client. Format: accounts/{account}/adclients/{adclient}"
        }
      },
      "id": "AdClient"
    },
    "AdClientAdCode": {
      "properties": {
        "ampBody": {
          "readOnly": true,
          "description": "Output only. The AdSense code snippet to add to the body of an AMP page.",
          "type": "string"
        },
        "ampHead": {
          "description": "Output only. The AdSense code snippet to add to the head of an AMP page.",
          "type": "string",
          "readOnly": true
        },
        "adCode": {
          "readOnly": true,
          "description": "Output only. The AdSense code snippet to add to the head of an HTML page.",
          "type": "string"
        }
      },
      "description": "Representation of the AdSense code for a given ad client. For more information, see [About the AdSense code](https://support.google.com/adsense/answer/9274634).",
      "type": "object",
      "id": "AdClientAdCode"
    },
    "Header": {
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "The [ISO-4217 currency code](https://en.wikipedia.org/wiki/ISO_4217) of this column. Only present if the header type is METRIC_CURRENCY."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified header.",
            "Dimension header type.",
            "Tally header type.",
            "Ratio header type.",
            "Currency header type.",
            "Milliseconds header type.",
            "Decimal header type."
          ],
          "description": "Required. Type of the header.",
          "enum": [
            "HEADER_TYPE_UNSPECIFIED",
            "DIMENSION",
            "METRIC_TALLY",
            "METRIC_RATIO",
            "METRIC_CURRENCY",
            "METRIC_MILLISECONDS",
            "METRIC_DECIMAL"
          ]
        },
        "name": {
          "description": "Required. Name of the header.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Header",
      "description": "The header information of the columns requested in the report."
    },
    "ListSavedReportsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Continuation token used to page through reports. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        },
        "savedReports": {
          "items": {
            "$ref": "SavedReport"
          },
          "type": "array",
          "description": "The reports returned in this list response."
        }
      },
      "type": "object",
      "id": "ListSavedReportsResponse",
      "description": "Response definition for the saved reports list rpc."
    }
  },
  "id": "adsense:v2",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "adsense",
  "version_module": true,
  "servicePath": "",
  "kind": "discovery#restDescription",
  "description": "The AdSense Management API allows publishers to access their inventory and run earnings and performance reports.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adsense": {
          "description": "View and manage your AdSense data"
        },
        "https://www.googleapis.com/auth/adsense.readonly": {
          "description": "View your AdSense data"
        }
      }
    }
  },
  "protocol": "rest",
  "title": "AdSense Management API",
  "revision": "20220201",
  "version": "v2",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://adsense.mtls.googleapis.com/",
  "resources": {
    "accounts": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "path": "v2/accounts",
          "id": "adsense.accounts.list",
          "scopes": [
            "https://www.googleapis.com/auth/adsense",
            "https://www.googleapis.com/auth/adsense.readonly"
          ],
          "description": "Lists all accounts available to this user.",
          "flatPath": "v2/accounts",
          "response": {
            "$ref": "ListAccountsResponse"
          },
          "parameterOrder": [],
          "parameters": {
            "pageSize": {
              "description": "The maximum number of accounts to include in the response, used for paging. If unspecified, at most 10000 accounts will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "description": "A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccounts` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/adsense",
            "https://www.googleapis.com/auth/adsense.readonly"
          ],
          "id": "adsense.accounts.get",
          "description": "Gets information about the selected AdSense account.",
          "parameters": {
            "name": {
              "description": "Required. Account to get information about. Format: accounts/{account}",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^accounts/[^/]+$"
            }
          },
          "response": {
            "$ref": "Account"
          },
          "path": "v2/{+name}",
          "flatPath": "v2/accounts/{accountsId}"
        },
        "listChildAccounts": {
          "path": "v2/{+parent}:listChildAccounts",
          "id": "adsense.accounts.listChildAccounts",
          "parameterOrder": [
            "parent"
          ],
          "description": "Lists all accounts directly managed by the given AdSense account.",
          "httpMethod": "GET",
          "response": {
            "$ref": "ListChildAccountsResponse"
          },
          "parameters": {
            "parent": {
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "description": "Required. The parent account, which owns the child accounts. Format: accounts/{account}",
              "required": true,
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of accounts to include in the response, used for paging. If unspecified, at most 10000 accounts will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccounts` must match the call that provided the page token.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/adsense",
            "https://www.googleapis.com/auth/adsense.readonly"
          ],
          "flatPath": "v2/accounts/{accountsId}:listChildAccounts"
        }
      },
      "resources": {
        "reports": {
          "resources": {
            "saved": {
              "methods": {
                "generate": {
                  "description": "Generates a saved report.",
                  "response": {
                    "$ref": "ReportResult"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "languageCode": {
                      "description": "The language to use for translating report output. If unspecified, this defaults to English (\"en\"). If the given language is not supported, report output will be returned in English. The language is specified as an [IETF BCP-47 language code](https://en.wikipedia.org/wiki/IETF_language_tag).",
                      "type": "string",
                      "location": "query"
                    },
                    "startDate.month": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                      "location": "query"
                    },
                    "endDate.month": {
                      "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "currencyCode": {
                      "type": "string",
                      "description": "The [ISO-4217 currency code](https://en.wikipedia.org/wiki/ISO_4217) to use when reporting on monetary metrics. Defaults to the account's currency if not set.",
                      "location": "query"
                    },
                    "endDate.year": {
                      "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "reportingTimeZone": {
                      "type": "string",
                      "enum": [
                        "REPORTING_TIME_ZONE_UNSPECIFIED",
                        "ACCOUNT_TIME_ZONE",
                        "GOOGLE_TIME_ZONE"
                      ],
                      "description": "Timezone in which to generate the report. If unspecified, this defaults to the account timezone. For more information, see [changing the time zone of your reports](https://support.google.com/adsense/answer/9830725).",
                      "location": "query",
                      "enumDescriptions": [
                        "Unspecified timezone.",
                        "Use the account timezone in the report.",
                        "Use the Google timezone in the report (America/Los_Angeles)."
                      ]
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^accounts/[^/]+/reports/[^/]+$",
                      "description": "Required. Name of the saved report. Format: accounts/{account}/reports/{report}"
                    },
                    "dateRange": {
                      "enum": [
                        "REPORTING_DATE_RANGE_UNSPECIFIED",
                        "CUSTOM",
                        "TODAY",
                        "YESTERDAY",
                        "MONTH_TO_DATE",
                        "YEAR_TO_DATE",
                        "LAST_7_DAYS",
                        "LAST_30_DAYS"
                      ],
                      "location": "query",
                      "enumDescriptions": [
                        "Unspecified date range.",
                        "A custom date range specified using the `start_date` and `end_date` fields. This is the default if no ReportingDateRange is provided.",
                        "Current day.",
                        "Yesterday.",
                        "From the start of the current month to the current day. e.g. if the current date is 2020-03-12 then the range will be [2020-03-01, 2020-03-12].",
                        "From the start of the current year to the current day. e.g. if the current date is 2020-03-12 then the range will be [2020-01-01, 2020-03-12].",
                        "Last 7 days, excluding current day.",
                        "Last 30 days, excluding current day."
                      ],
                      "type": "string",
                      "description": "Date range of the report, if unset the range will be considered CUSTOM."
                    },
                    "startDate.day": {
                      "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "startDate.year": {
                      "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "endDate.day": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "id": "adsense.accounts.reports.saved.generate",
                  "flatPath": "v2/accounts/{accountsId}/reports/{reportsId}/saved:generate",
                  "path": "v2/{+name}/saved:generate"
                },
                "list": {
                  "path": "v2/{+parent}/reports/saved",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/accounts/{accountsId}/reports/saved",
                  "description": "Lists saved reports.",
                  "id": "adsense.accounts.reports.saved.list",
                  "response": {
                    "$ref": "ListSavedReportsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A page token, received from a previous `ListPayments` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPayments` must match the call that provided the page token."
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^accounts/[^/]+$",
                      "description": "Required. The account which owns the collection of reports. Format: accounts/{account}",
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of reports to include in the response, used for paging. If unspecified, at most 10000 reports will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "format": "int32",
                      "location": "query"
                    }
                  }
                },
                "generateCsv": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the saved report. Format: accounts/{account}/reports/{report}",
                      "pattern": "^accounts/[^/]+/reports/[^/]+$"
                    },
                    "endDate.year": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
                    },
                    "startDate.year": {
                      "type": "integer",
                      "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                      "location": "query",
                      "format": "int32"
                    },
                    "languageCode": {
                      "type": "string",
                      "location": "query",
                      "description": "The language to use for translating report output. If unspecified, this defaults to English (\"en\"). If the given language is not supported, report output will be returned in English. The language is specified as an [IETF BCP-47 language code](https://en.wikipedia.org/wiki/IETF_language_tag)."
                    },
                    "startDate.day": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
                    },
                    "endDate.day": {
                      "type": "integer",
                      "location": "query",
                      "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                      "format": "int32"
                    },
                    "endDate.month": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
                    },
                    "currencyCode": {
                      "type": "string",
                      "description": "The [ISO-4217 currency code](https://en.wikipedia.org/wiki/ISO_4217) to use when reporting on monetary metrics. Defaults to the account's currency if not set.",
                      "location": "query"
                    },
                    "reportingTimeZone": {
                      "enumDescriptions": [
                        "Unspecified timezone.",
                        "Use the account timezone in the report.",
                        "Use the Google timezone in the report (America/Los_Angeles)."
                      ],
                      "description": "Timezone in which to generate the report. If unspecified, this defaults to the account timezone. For more information, see [changing the time zone of your reports](https://support.google.com/adsense/answer/9830725).",
                      "enum": [
                        "REPORTING_TIME_ZONE_UNSPECIFIED",
                        "ACCOUNT_TIME_ZONE",
                        "GOOGLE_TIME_ZONE"
                      ],
                      "location": "query",
                      "type": "string"
                    },
                    "startDate.month": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                      "location": "query"
                    },
                    "dateRange": {
                      "description": "Date range of the report, if unset the range will be considered CUSTOM.",
                      "enum": [
                        "REPORTING_DATE_RANGE_UNSPECIFIED",
                        "CUSTOM",
                        "TODAY",
                        "YESTERDAY",
                        "MONTH_TO_DATE",
                        "YEAR_TO_DATE",
                        "LAST_7_DAYS",
                        "LAST_30_DAYS"
                      ],
                      "location": "query",
                      "enumDescriptions": [
                        "Unspecified date range.",
                        "A custom date range specified using the `start_date` and `end_date` fields. This is the default if no ReportingDateRange is provided.",
                        "Current day.",
                        "Yesterday.",
                        "From the start of the current month to the current day. e.g. if the current date is 2020-03-12 then the range will be [2020-03-01, 2020-03-12].",
                        "From the start of the current year to the current day. e.g. if the current date is 2020-03-12 then the range will be [2020-01-01, 2020-03-12].",
                        "Last 7 days, excluding current day.",
                        "Last 30 days, excluding current day."
                      ],
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "id": "adsense.accounts.reports.saved.generateCsv",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/accounts/{accountsId}/reports/{reportsId}/saved:generateCsv",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "response": {
                    "$ref": "HttpBody"
                  },
                  "description": "Generates a csv formatted saved report.",
                  "path": "v2/{+name}/saved:generateCsv"
                }
              }
            }
          },
          "methods": {
            "generate": {
              "response": {
                "$ref": "ReportResult"
              },
              "id": "adsense.accounts.reports.generate",
              "flatPath": "v2/accounts/{accountsId}/reports:generate",
              "description": "Generates an ad hoc report.",
              "parameters": {
                "dimensions": {
                  "location": "query",
                  "enum": [
                    "DIMENSION_UNSPECIFIED",
                    "DATE",
                    "WEEK",
                    "MONTH",
                    "ACCOUNT_NAME",
                    "AD_CLIENT_ID",
                    "PRODUCT_NAME",
                    "PRODUCT_CODE",
                    "AD_UNIT_NAME",
                    "AD_UNIT_ID",
                    "AD_UNIT_SIZE_NAME",
                    "AD_UNIT_SIZE_CODE",
                    "CUSTOM_CHANNEL_NAME",
                    "CUSTOM_CHANNEL_ID",
                    "OWNED_SITE_DOMAIN_NAME",
                    "OWNED_SITE_ID",
                    "URL_CHANNEL_NAME",
                    "URL_CHANNEL_ID",
                    "BUYER_NETWORK_NAME",
                    "BUYER_NETWORK_ID",
                    "BID_TYPE_NAME",
                    "BID_TYPE_CODE",
                    "CREATIVE_SIZE_NAME",
                    "CREATIVE_SIZE_CODE",
                    "DOMAIN_NAME",
                    "DOMAIN_CODE",
                    "COUNTRY_NAME",
                    "COUNTRY_CODE",
                    "PLATFORM_TYPE_NAME",
                    "PLATFORM_TYPE_CODE",
                    "TARGETING_TYPE_NAME",
                    "TARGETING_TYPE_CODE",
                    "CONTENT_PLATFORM_NAME",
                    "CONTENT_PLATFORM_CODE",
                    "AD_PLACEMENT_NAME",
                    "AD_PLACEMENT_CODE",
                    "REQUESTED_AD_TYPE_NAME",
                    "REQUESTED_AD_TYPE_CODE",
                    "SERVED_AD_TYPE_NAME",
                    "SERVED_AD_TYPE_CODE",
                    "AD_FORMAT_NAME",
                    "AD_FORMAT_CODE",
                    "CUSTOM_SEARCH_STYLE_NAME",
                    "CUSTOM_SEARCH_STYLE_ID",
                    "DOMAIN_REGISTRANT",
                    "WEBSEARCH_QUERY_STRING"
                  ],
                  "type": "string",
                  "enumDescriptions": [
                    "Unspecified dimension.",
                    "Date dimension in YYYY-MM-DD format (e.g. \"2010-02-10\").",
                    "Week dimension in YYYY-MM-DD format, representing the first day of each week (e.g. \"2010-02-08\"). The first day of the week is determined by the language_code specified in a report generation request (so e.g. this would be a Monday for \"en-GB\" or \"es\", but a Sunday for \"en\" or \"fr-CA\").",
                    "Month dimension in YYYY-MM format (e.g. \"2010-02\").",
                    "Account name. The members of this dimension match the values from Account.display_name.",
                    "Unique ID of an ad client. The members of this dimension match the values from AdClient.reporting_dimension_id.",
                    "Localized product name (e.g. \"AdSense for Content\", \"AdSense for Search\").",
                    "Product code (e.g. \"AFC\", \"AFS\"). The members of this dimension match the values from AdClient.product_code.",
                    "Ad unit name (within which an ad was served). The members of this dimension match the values from AdUnit.display_name.",
                    "Unique ID of an ad unit (within which an ad was served). The members of this dimension match the values from AdUnit.reporting_dimension_id.",
                    "Localized size of an ad unit (e.g. \"728x90\", \"Responsive\").",
                    "The size code of an ad unit (e.g. \"728x90\", \"responsive\").",
                    "Custom channel name. The members of this dimension match the values from CustomChannel.display_name.",
                    "Unique ID of a custom channel. The members of this dimension match the values from CustomChannel.reporting_dimension_id.",
                    "Domain name of a verified site (e.g. \"example.com\"). The members of this dimension match the values from Site.domain.",
                    "Unique ID of a verified site. The members of this dimension match the values from Site.reporting_dimension_id.",
                    "Name of a URL channel. The members of this dimension match the values from UrlChannel.uri_pattern.",
                    "Unique ID of a URL channel. The members of this dimension match the values from UrlChannel.reporting_dimension_id.",
                    "Name of an ad network that returned the winning ads for an ad request (e.g. \"Google AdWords\"). Note that unlike other \"NAME\" dimensions, the members of this dimensions are not localized.",
                    "Unique (opaque) ID of an ad network that returned the winning ads for an ad request.",
                    "Localized bid type name (e.g. \"CPC bids\", \"CPM bids\") for a served ad.",
                    "Type of a bid (e.g. \"cpc\", \"cpm\") for a served ad.",
                    "Localized creative size name (e.g. \"728x90\", \"Dynamic\") of a served ad.",
                    "Creative size code (e.g. \"728x90\", \"dynamic\") of a served ad.",
                    "Localized name of a host on which an ad was served, after IDNA decoding (e.g. \"www.google.com\", \"Web caches and other\", \"bücher.example\").",
                    "Name of a host on which an ad was served (e.g. \"www.google.com\", \"webcaches\", \"xn--bcher-kva.example\").",
                    "Localized region name of a user viewing an ad (e.g. \"United States\", \"France\").",
                    "CLDR region code of a user viewing an ad (e.g. \"US\", \"FR\").",
                    "Localized platform type name (e.g. \"High-end mobile devices\", \"Desktop\").",
                    "Platform type code (e.g. \"HighEndMobile\", \"Desktop\").",
                    "Localized targeting type name (e.g. \"Contextual\", \"Personalized\", \"Run of Network\").",
                    "Targeting type code (e.g. \"Keyword\", \"UserInterest\", \"RunOfNetwork\").",
                    "Localized content platform name an ad request was made from (e.g. \"AMP\", \"Web\").",
                    "Content platform code an ad request was made from (e.g. \"AMP\", \"HTML\").",
                    "Localized ad placement name (e.g. \"Ad unit\", \"Global settings\", \"Manual\").",
                    "Ad placement code (e.g. \"AD_UNIT\", \"ca-pub-123456:78910\", \"OTHER\").",
                    "Localized requested ad type name (e.g. \"Display\", \"Link unit\", \"Other\").",
                    "Requested ad type code (e.g. \"IMAGE\", \"RADLINK\", \"OTHER\").",
                    "Localized served ad type name (e.g. \"Display\", \"Link unit\", \"Other\").",
                    "Served ad type code (e.g. \"IMAGE\", \"RADLINK\", \"OTHER\").",
                    "Localized ad format name indicating the way an ad is shown to the users on your site (e.g. \"In-page\", \"Anchor\", \"Vignette\").",
                    "Ad format code indicating the way an ad is shown to the users on your site (e.g. \"ON_PAGE\", \"ANCHOR\", \"INTERSTITIAL\").",
                    "Custom search style name.",
                    "Custom search style id.",
                    "Domain registrants.",
                    "Query strings for web searches."
                  ],
                  "description": "Dimensions to base the report on.",
                  "repeated": true
                },
                "orderBy": {
                  "description": "The name of a dimension or metric to sort the resulting report on, can be prefixed with \"+\" to sort ascending or \"-\" to sort descending. If no prefix is specified, the column is sorted ascending.",
                  "location": "query",
                  "type": "string",
                  "repeated": true
                },
                "limit": {
                  "location": "query",
                  "description": "The maximum number of rows of report data to return. Reports producing more rows than the requested limit will be truncated. If unset, this defaults to 100,000 rows for `Reports.GenerateReport` and 1,000,000 rows for `Reports.GenerateCsvReport`, which are also the maximum values permitted here. Report truncation can be identified (for `Reports.GenerateReport` only) by comparing the number of rows returned to the value returned in `total_matched_rows`.",
                  "format": "int32",
                  "type": "integer"
                },
                "startDate.day": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                  "location": "query"
                },
                "endDate.month": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
                },
                "currencyCode": {
                  "type": "string",
                  "description": "The [ISO-4217 currency code](https://en.wikipedia.org/wiki/ISO_4217) to use when reporting on monetary metrics. Defaults to the account's currency if not set.",
                  "location": "query"
                },
                "dateRange": {
                  "enum": [
                    "REPORTING_DATE_RANGE_UNSPECIFIED",
                    "CUSTOM",
                    "TODAY",
                    "YESTERDAY",
                    "MONTH_TO_DATE",
                    "YEAR_TO_DATE",
                    "LAST_7_DAYS",
                    "LAST_30_DAYS"
                  ],
                  "enumDescriptions": [
                    "Unspecified date range.",
                    "A custom date range specified using the `start_date` and `end_date` fields. This is the default if no ReportingDateRange is provided.",
                    "Current day.",
                    "Yesterday.",
                    "From the start of the current month to the current day. e.g. if the current date is 2020-03-12 then the range will be [2020-03-01, 2020-03-12].",
                    "From the start of the current year to the current day. e.g. if the current date is 2020-03-12 then the range will be [2020-01-01, 2020-03-12].",
                    "Last 7 days, excluding current day.",
                    "Last 30 days, excluding current day."
                  ],
                  "description": "Date range of the report, if unset the range will be considered CUSTOM.",
                  "type": "string",
                  "location": "query"
                },
                "startDate.year": {
                  "location": "query",
                  "type": "integer",
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "format": "int32"
                },
                "metrics": {
                  "type": "string",
                  "repeated": true,
                  "enumDescriptions": [
                    "Unspecified metric.",
                    "Number of page views.",
                    "Number of ad units that requested ads (for content ads) or search queries (for search ads). An ad request may result in zero, one, or multiple individual ad impressions depending on the size of the ad unit and whether any ads were available.",
                    "Requests that returned at least one ad.",
                    "Impressions. An impression is counted for each ad request where at least one ad has been downloaded to the user’s device and has begun to load. It is the number of ad units (for content ads) or search queries (for search ads) that showed ads.",
                    "Impressions. An impression is counted for each ad request where at least one ad has been downloaded to the user’s device and has begun to load. It is the number of ad units (for content ads) or search queries (for search ads) that showed ads.",
                    "Ads shown. Different ad formats will display varying numbers of ads. For example, a vertical banner may consist of 2 or more ads. Also, the number of ads in an ad unit may vary depending on whether the ad unit is displaying standard text ads, expanded text ads or image ads.",
                    "Number of times a user clicked on a standard content ad.",
                    "Fraction of page views considered to be spam. Only available to premium accounts.",
                    "Fraction of ad requests considered to be spam. Only available to premium accounts.",
                    "Fraction of ad requests that returned ads considered to be spam. Only available to premium accounts.",
                    "Fraction of impressions considered to be spam. Only available to premium accounts.",
                    "Fraction of ad impressions considered to be spam. Only available to premium accounts.",
                    "Fraction of clicks considered to be spam. Only available to premium accounts.",
                    "Ratio of requested ad units or queries to the number returned to the site.",
                    "Ratio of individual page views that resulted in a click.",
                    "Ratio of ad requests that resulted in a click.",
                    "Ratio of clicks to matched requests.",
                    "Ratio of IMPRESSIONS that resulted in a click.",
                    "Ratio of individual ad impressions that resulted in a click.",
                    "Ratio of requests that were measurable for viewability.",
                    "Ratio of requests that were viewable.",
                    "Mean time an ad was displayed on screen.",
                    "Estimated earnings of the publisher. Note that earnings up to yesterday are accurate, more recent earnings are estimated due to the possibility of spam, or exchange rate fluctuations.",
                    "Revenue per thousand page views. This is calculated by dividing the estimated revenue by the number of page views multiplied by 1000.",
                    "Revenue per thousand ad requests. This is calculated by dividing estimated revenue by the number of ad requests multiplied by 1000.",
                    "Revenue per thousand matched ad requests. This is calculated by dividing estimated revenue by the number of matched ad requests multiplied by 1000.",
                    "Revenue per thousand ad impressions. This is calculated by dividing estimated revenue by the number of ad impressions multiplied by 1000.",
                    "Revenue per thousand individual ad impressions. This is calculated by dividing estimated revenue by the number of individual ad impressions multiplied by 1000.",
                    "Amount the publisher earns each time a user clicks on an ad. CPC is calculated by dividing the estimated revenue by the number of clicks received.",
                    "Number of ad views per impression.",
                    "Total earnings.",
                    "Number of results pages."
                  ],
                  "enum": [
                    "METRIC_UNSPECIFIED",
                    "PAGE_VIEWS",
                    "AD_REQUESTS",
                    "MATCHED_AD_REQUESTS",
                    "TOTAL_IMPRESSIONS",
                    "IMPRESSIONS",
                    "INDIVIDUAL_AD_IMPRESSIONS",
                    "CLICKS",
                    "PAGE_VIEWS_SPAM_RATIO",
                    "AD_REQUESTS_SPAM_RATIO",
                    "MATCHED_AD_REQUESTS_SPAM_RATIO",
                    "IMPRESSIONS_SPAM_RATIO",
                    "INDIVIDUAL_AD_IMPRESSIONS_SPAM_RATIO",
                    "CLICKS_SPAM_RATIO",
                    "AD_REQUESTS_COVERAGE",
                    "PAGE_VIEWS_CTR",
                    "AD_REQUESTS_CTR",
                    "MATCHED_AD_REQUESTS_CTR",
                    "IMPRESSIONS_CTR",
                    "INDIVIDUAL_AD_IMPRESSIONS_CTR",
                    "ACTIVE_VIEW_MEASURABILITY",
                    "ACTIVE_VIEW_VIEWABILITY",
                    "ACTIVE_VIEW_TIME",
                    "ESTIMATED_EARNINGS",
                    "PAGE_VIEWS_RPM",
                    "AD_REQUESTS_RPM",
                    "MATCHED_AD_REQUESTS_RPM",
                    "IMPRESSIONS_RPM",
                    "INDIVIDUAL_AD_IMPRESSIONS_RPM",
                    "COST_PER_CLICK",
                    "ADS_PER_IMPRESSION",
                    "TOTAL_EARNINGS",
                    "WEBSEARCH_RESULT_PAGES"
                  ],
                  "description": "Required. Reporting metrics.",
                  "location": "query"
                },
                "languageCode": {
                  "type": "string",
                  "description": "The language to use for translating report output. If unspecified, this defaults to English (\"en\"). If the given language is not supported, report output will be returned in English. The language is specified as an [IETF BCP-47 language code](https://en.wikipedia.org/wiki/IETF_language_tag).",
                  "location": "query"
                },
                "filters": {
                  "repeated": true,
                  "location": "query",
                  "type": "string",
                  "description": "Filters to be run on the report."
                },
                "account": {
                  "description": "Required. The account which owns the collection of reports. Format: accounts/{account}",
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "required": true
                },
                "endDate.year": {
                  "type": "integer",
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "format": "int32",
                  "location": "query"
                },
                "endDate.day": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
                },
                "startDate.month": {
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "reportingTimeZone": {
                  "enumDescriptions": [
                    "Unspecified timezone.",
                    "Use the account timezone in the report.",
                    "Use the Google timezone in the report (America/Los_Angeles)."
                  ],
                  "enum": [
                    "REPORTING_TIME_ZONE_UNSPECIFIED",
                    "ACCOUNT_TIME_ZONE",
                    "GOOGLE_TIME_ZONE"
                  ],
                  "location": "query",
                  "type": "string",
                  "description": "Timezone in which to generate the report. If unspecified, this defaults to the account timezone. For more information, see [changing the time zone of your reports](https://support.google.com/adsense/answer/9830725)."
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "account"
              ],
              "path": "v2/{+account}/reports:generate",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ]
            },
            "generateCsv": {
              "httpMethod": "GET",
              "description": "Generates a csv formatted ad hoc report.",
              "parameterOrder": [
                "account"
              ],
              "response": {
                "$ref": "HttpBody"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "path": "v2/{+account}/reports:generateCsv",
              "parameters": {
                "startDate.year": {
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "endDate.year": {
                  "type": "integer",
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "location": "query",
                  "format": "int32"
                },
                "account": {
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The account which owns the collection of reports. Format: accounts/{account}",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "reportingTimeZone": {
                  "description": "Timezone in which to generate the report. If unspecified, this defaults to the account timezone. For more information, see [changing the time zone of your reports](https://support.google.com/adsense/answer/9830725).",
                  "enum": [
                    "REPORTING_TIME_ZONE_UNSPECIFIED",
                    "ACCOUNT_TIME_ZONE",
                    "GOOGLE_TIME_ZONE"
                  ],
                  "enumDescriptions": [
                    "Unspecified timezone.",
                    "Use the account timezone in the report.",
                    "Use the Google timezone in the report (America/Los_Angeles)."
                  ],
                  "location": "query",
                  "type": "string"
                },
                "currencyCode": {
                  "location": "query",
                  "type": "string",
                  "description": "The [ISO-4217 currency code](https://en.wikipedia.org/wiki/ISO_4217) to use when reporting on monetary metrics. Defaults to the account's currency if not set."
                },
                "endDate.month": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
                },
                "orderBy": {
                  "repeated": true,
                  "type": "string",
                  "description": "The name of a dimension or metric to sort the resulting report on, can be prefixed with \"+\" to sort ascending or \"-\" to sort descending. If no prefix is specified, the column is sorted ascending.",
                  "location": "query"
                },
                "languageCode": {
                  "type": "string",
                  "location": "query",
                  "description": "The language to use for translating report output. If unspecified, this defaults to English (\"en\"). If the given language is not supported, report output will be returned in English. The language is specified as an [IETF BCP-47 language code](https://en.wikipedia.org/wiki/IETF_language_tag)."
                },
                "dateRange": {
                  "type": "string",
                  "description": "Date range of the report, if unset the range will be considered CUSTOM.",
                  "location": "query",
                  "enumDescriptions": [
                    "Unspecified date range.",
                    "A custom date range specified using the `start_date` and `end_date` fields. This is the default if no ReportingDateRange is provided.",
                    "Current day.",
                    "Yesterday.",
                    "From the start of the current month to the current day. e.g. if the current date is 2020-03-12 then the range will be [2020-03-01, 2020-03-12].",
                    "From the start of the current year to the current day. e.g. if the current date is 2020-03-12 then the range will be [2020-01-01, 2020-03-12].",
                    "Last 7 days, excluding current day.",
                    "Last 30 days, excluding current day."
                  ],
                  "enum": [
                    "REPORTING_DATE_RANGE_UNSPECIFIED",
                    "CUSTOM",
                    "TODAY",
                    "YESTERDAY",
                    "MONTH_TO_DATE",
                    "YEAR_TO_DATE",
                    "LAST_7_DAYS",
                    "LAST_30_DAYS"
                  ]
                },
                "startDate.month": {
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "dimensions": {
                  "enum": [
                    "DIMENSION_UNSPECIFIED",
                    "DATE",
                    "WEEK",
                    "MONTH",
                    "ACCOUNT_NAME",
                    "AD_CLIENT_ID",
                    "PRODUCT_NAME",
                    "PRODUCT_CODE",
                    "AD_UNIT_NAME",
                    "AD_UNIT_ID",
                    "AD_UNIT_SIZE_NAME",
                    "AD_UNIT_SIZE_CODE",
                    "CUSTOM_CHANNEL_NAME",
                    "CUSTOM_CHANNEL_ID",
                    "OWNED_SITE_DOMAIN_NAME",
                    "OWNED_SITE_ID",
                    "URL_CHANNEL_NAME",
                    "URL_CHANNEL_ID",
                    "BUYER_NETWORK_NAME",
                    "BUYER_NETWORK_ID",
                    "BID_TYPE_NAME",
                    "BID_TYPE_CODE",
                    "CREATIVE_SIZE_NAME",
                    "CREATIVE_SIZE_CODE",
                    "DOMAIN_NAME",
                    "DOMAIN_CODE",
                    "COUNTRY_NAME",
                    "COUNTRY_CODE",
                    "PLATFORM_TYPE_NAME",
                    "PLATFORM_TYPE_CODE",
                    "TARGETING_TYPE_NAME",
                    "TARGETING_TYPE_CODE",
                    "CONTENT_PLATFORM_NAME",
                    "CONTENT_PLATFORM_CODE",
                    "AD_PLACEMENT_NAME",
                    "AD_PLACEMENT_CODE",
                    "REQUESTED_AD_TYPE_NAME",
                    "REQUESTED_AD_TYPE_CODE",
                    "SERVED_AD_TYPE_NAME",
                    "SERVED_AD_TYPE_CODE",
                    "AD_FORMAT_NAME",
                    "AD_FORMAT_CODE",
                    "CUSTOM_SEARCH_STYLE_NAME",
                    "CUSTOM_SEARCH_STYLE_ID",
                    "DOMAIN_REGISTRANT",
                    "WEBSEARCH_QUERY_STRING"
                  ],
                  "type": "string",
                  "description": "Dimensions to base the report on.",
                  "location": "query",
                  "enumDescriptions": [
                    "Unspecified dimension.",
                    "Date dimension in YYYY-MM-DD format (e.g. \"2010-02-10\").",
                    "Week dimension in YYYY-MM-DD format, representing the first day of each week (e.g. \"2010-02-08\"). The first day of the week is determined by the language_code specified in a report generation request (so e.g. this would be a Monday for \"en-GB\" or \"es\", but a Sunday for \"en\" or \"fr-CA\").",
                    "Month dimension in YYYY-MM format (e.g. \"2010-02\").",
                    "Account name. The members of this dimension match the values from Account.display_name.",
                    "Unique ID of an ad client. The members of this dimension match the values from AdClient.reporting_dimension_id.",
                    "Localized product name (e.g. \"AdSense for Content\", \"AdSense for Search\").",
                    "Product code (e.g. \"AFC\", \"AFS\"). The members of this dimension match the values from AdClient.product_code.",
                    "Ad unit name (within which an ad was served). The members of this dimension match the values from AdUnit.display_name.",
                    "Unique ID of an ad unit (within which an ad was served). The members of this dimension match the values from AdUnit.reporting_dimension_id.",
                    "Localized size of an ad unit (e.g. \"728x90\", \"Responsive\").",
                    "The size code of an ad unit (e.g. \"728x90\", \"responsive\").",
                    "Custom channel name. The members of this dimension match the values from CustomChannel.display_name.",
                    "Unique ID of a custom channel. The members of this dimension match the values from CustomChannel.reporting_dimension_id.",
                    "Domain name of a verified site (e.g. \"example.com\"). The members of this dimension match the values from Site.domain.",
                    "Unique ID of a verified site. The members of this dimension match the values from Site.reporting_dimension_id.",
                    "Name of a URL channel. The members of this dimension match the values from UrlChannel.uri_pattern.",
                    "Unique ID of a URL channel. The members of this dimension match the values from UrlChannel.reporting_dimension_id.",
                    "Name of an ad network that returned the winning ads for an ad request (e.g. \"Google AdWords\"). Note that unlike other \"NAME\" dimensions, the members of this dimensions are not localized.",
                    "Unique (opaque) ID of an ad network that returned the winning ads for an ad request.",
                    "Localized bid type name (e.g. \"CPC bids\", \"CPM bids\") for a served ad.",
                    "Type of a bid (e.g. \"cpc\", \"cpm\") for a served ad.",
                    "Localized creative size name (e.g. \"728x90\", \"Dynamic\") of a served ad.",
                    "Creative size code (e.g. \"728x90\", \"dynamic\") of a served ad.",
                    "Localized name of a host on which an ad was served, after IDNA decoding (e.g. \"www.google.com\", \"Web caches and other\", \"bücher.example\").",
                    "Name of a host on which an ad was served (e.g. \"www.google.com\", \"webcaches\", \"xn--bcher-kva.example\").",
                    "Localized region name of a user viewing an ad (e.g. \"United States\", \"France\").",
                    "CLDR region code of a user viewing an ad (e.g. \"US\", \"FR\").",
                    "Localized platform type name (e.g. \"High-end mobile devices\", \"Desktop\").",
                    "Platform type code (e.g. \"HighEndMobile\", \"Desktop\").",
                    "Localized targeting type name (e.g. \"Contextual\", \"Personalized\", \"Run of Network\").",
                    "Targeting type code (e.g. \"Keyword\", \"UserInterest\", \"RunOfNetwork\").",
                    "Localized content platform name an ad request was made from (e.g. \"AMP\", \"Web\").",
                    "Content platform code an ad request was made from (e.g. \"AMP\", \"HTML\").",
                    "Localized ad placement name (e.g. \"Ad unit\", \"Global settings\", \"Manual\").",
                    "Ad placement code (e.g. \"AD_UNIT\", \"ca-pub-123456:78910\", \"OTHER\").",
                    "Localized requested ad type name (e.g. \"Display\", \"Link unit\", \"Other\").",
                    "Requested ad type code (e.g. \"IMAGE\", \"RADLINK\", \"OTHER\").",
                    "Localized served ad type name (e.g. \"Display\", \"Link unit\", \"Other\").",
                    "Served ad type code (e.g. \"IMAGE\", \"RADLINK\", \"OTHER\").",
                    "Localized ad format name indicating the way an ad is shown to the users on your site (e.g. \"In-page\", \"Anchor\", \"Vignette\").",
                    "Ad format code indicating the way an ad is shown to the users on your site (e.g. \"ON_PAGE\", \"ANCHOR\", \"INTERSTITIAL\").",
                    "Custom search style name.",
                    "Custom search style id.",
                    "Domain registrants.",
                    "Query strings for web searches."
                  ],
                  "repeated": true
                },
                "metrics": {
                  "description": "Required. Reporting metrics.",
                  "enumDescriptions": [
                    "Unspecified metric.",
                    "Number of page views.",
                    "Number of ad units that requested ads (for content ads) or search queries (for search ads). An ad request may result in zero, one, or multiple individual ad impressions depending on the size of the ad unit and whether any ads were available.",
                    "Requests that returned at least one ad.",
                    "Impressions. An impression is counted for each ad request where at least one ad has been downloaded to the user’s device and has begun to load. It is the number of ad units (for content ads) or search queries (for search ads) that showed ads.",
                    "Impressions. An impression is counted for each ad request where at least one ad has been downloaded to the user’s device and has begun to load. It is the number of ad units (for content ads) or search queries (for search ads) that showed ads.",
                    "Ads shown. Different ad formats will display varying numbers of ads. For example, a vertical banner may consist of 2 or more ads. Also, the number of ads in an ad unit may vary depending on whether the ad unit is displaying standard text ads, expanded text ads or image ads.",
                    "Number of times a user clicked on a standard content ad.",
                    "Fraction of page views considered to be spam. Only available to premium accounts.",
                    "Fraction of ad requests considered to be spam. Only available to premium accounts.",
                    "Fraction of ad requests that returned ads considered to be spam. Only available to premium accounts.",
                    "Fraction of impressions considered to be spam. Only available to premium accounts.",
                    "Fraction of ad impressions considered to be spam. Only available to premium accounts.",
                    "Fraction of clicks considered to be spam. Only available to premium accounts.",
                    "Ratio of requested ad units or queries to the number returned to the site.",
                    "Ratio of individual page views that resulted in a click.",
                    "Ratio of ad requests that resulted in a click.",
                    "Ratio of clicks to matched requests.",
                    "Ratio of IMPRESSIONS that resulted in a click.",
                    "Ratio of individual ad impressions that resulted in a click.",
                    "Ratio of requests that were measurable for viewability.",
                    "Ratio of requests that were viewable.",
                    "Mean time an ad was displayed on screen.",
                    "Estimated earnings of the publisher. Note that earnings up to yesterday are accurate, more recent earnings are estimated due to the possibility of spam, or exchange rate fluctuations.",
                    "Revenue per thousand page views. This is calculated by dividing the estimated revenue by the number of page views multiplied by 1000.",
                    "Revenue per thousand ad requests. This is calculated by dividing estimated revenue by the number of ad requests multiplied by 1000.",
                    "Revenue per thousand matched ad requests. This is calculated by dividing estimated revenue by the number of matched ad requests multiplied by 1000.",
                    "Revenue per thousand ad impressions. This is calculated by dividing estimated revenue by the number of ad impressions multiplied by 1000.",
                    "Revenue per thousand individual ad impressions. This is calculated by dividing estimated revenue by the number of individual ad impressions multiplied by 1000.",
                    "Amount the publisher earns each time a user clicks on an ad. CPC is calculated by dividing the estimated revenue by the number of clicks received.",
                    "Number of ad views per impression.",
                    "Total earnings.",
                    "Number of results pages."
                  ],
                  "type": "string",
                  "repeated": true,
                  "enum": [
                    "METRIC_UNSPECIFIED",
                    "PAGE_VIEWS",
                    "AD_REQUESTS",
                    "MATCHED_AD_REQUESTS",
                    "TOTAL_IMPRESSIONS",
                    "IMPRESSIONS",
                    "INDIVIDUAL_AD_IMPRESSIONS",
                    "CLICKS",
                    "PAGE_VIEWS_SPAM_RATIO",
                    "AD_REQUESTS_SPAM_RATIO",
                    "MATCHED_AD_REQUESTS_SPAM_RATIO",
                    "IMPRESSIONS_SPAM_RATIO",
                    "INDIVIDUAL_AD_IMPRESSIONS_SPAM_RATIO",
                    "CLICKS_SPAM_RATIO",
                    "AD_REQUESTS_COVERAGE",
                    "PAGE_VIEWS_CTR",
                    "AD_REQUESTS_CTR",
                    "MATCHED_AD_REQUESTS_CTR",
                    "IMPRESSIONS_CTR",
                    "INDIVIDUAL_AD_IMPRESSIONS_CTR",
                    "ACTIVE_VIEW_MEASURABILITY",
                    "ACTIVE_VIEW_VIEWABILITY",
                    "ACTIVE_VIEW_TIME",
                    "ESTIMATED_EARNINGS",
                    "PAGE_VIEWS_RPM",
                    "AD_REQUESTS_RPM",
                    "MATCHED_AD_REQUESTS_RPM",
                    "IMPRESSIONS_RPM",
                    "INDIVIDUAL_AD_IMPRESSIONS_RPM",
                    "COST_PER_CLICK",
                    "ADS_PER_IMPRESSION",
                    "TOTAL_EARNINGS",
                    "WEBSEARCH_RESULT_PAGES"
                  ],
                  "location": "query"
                },
                "startDate.day": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                  "location": "query"
                },
                "endDate.day": {
                  "type": "integer",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                  "format": "int32",
                  "location": "query"
                },
                "limit": {
                  "format": "int32",
                  "description": "The maximum number of rows of report data to return. Reports producing more rows than the requested limit will be truncated. If unset, this defaults to 100,000 rows for `Reports.GenerateReport` and 1,000,000 rows for `Reports.GenerateCsvReport`, which are also the maximum values permitted here. Report truncation can be identified (for `Reports.GenerateReport` only) by comparing the number of rows returned to the value returned in `total_matched_rows`.",
                  "location": "query",
                  "type": "integer"
                },
                "filters": {
                  "location": "query",
                  "description": "Filters to be run on the report.",
                  "type": "string",
                  "repeated": true
                }
              },
              "id": "adsense.accounts.reports.generateCsv",
              "flatPath": "v2/accounts/{accountsId}/reports:generateCsv"
            }
          }
        },
        "alerts": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "id": "adsense.accounts.alerts.list",
              "flatPath": "v2/accounts/{accountsId}/alerts",
              "response": {
                "$ref": "ListAlertsResponse"
              },
              "description": "Lists all the alerts available in an account.",
              "path": "v2/{+parent}/alerts",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "parameters": {
                "languageCode": {
                  "description": "The language to use for translating alert messages. If unspecified, this defaults to the user's display language. If the given language is not supported, alerts will be returned in English. The language is specified as an [IETF BCP-47 language code](https://en.wikipedia.org/wiki/IETF_language_tag).",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The account which owns the collection of alerts. Format: accounts/{account}",
                  "location": "path"
                }
              }
            }
          }
        },
        "payments": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListPaymentsResponse"
              },
              "description": "Lists all the payments available for an account.",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The account which owns the collection of payments. Format: accounts/{account}",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v2/{+parent}/payments",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "flatPath": "v2/accounts/{accountsId}/payments",
              "id": "adsense.accounts.payments.list"
            }
          }
        },
        "sites": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "description": "Lists all the sites available in an account.",
              "httpMethod": "GET",
              "id": "adsense.accounts.sites.list",
              "parameters": {
                "parent": {
                  "description": "Required. The account which owns the collection of sites. Format: accounts/{account}",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token, received from a previous `ListSites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSites` must match the call that provided the page token."
                },
                "pageSize": {
                  "description": "The maximum number of sites to include in the response, used for paging. If unspecified, at most 10000 sites will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                }
              },
              "response": {
                "$ref": "ListSitesResponse"
              },
              "flatPath": "v2/accounts/{accountsId}/sites",
              "path": "v2/{+parent}/sites",
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/accounts/{accountsId}/sites/{sitesId}",
              "httpMethod": "GET",
              "description": "Gets information about the selected site.",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/sites/[^/]+$",
                  "required": true,
                  "description": "Required. Name of the site. Format: accounts/{account}/sites/{site}",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Site"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "path": "v2/{+name}",
              "id": "adsense.accounts.sites.get"
            }
          }
        },
        "adclients": {
          "resources": {
            "customchannels": {
              "methods": {
                "list": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The ad client which owns the collection of custom channels. Format: accounts/{account}/adclients/{adclient}",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+$"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of custom channels to include in the response, used for paging. If unspecified, at most 10000 custom channels will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListCustomChannels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCustomChannels` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListCustomChannelsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "adsense.accounts.adclients.customchannels.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "description": "Lists all the custom channels available in an ad client.",
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/customchannels",
                  "path": "v2/{+parent}/customchannels"
                },
                "listLinkedAdUnits": {
                  "response": {
                    "$ref": "ListLinkedAdUnitsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "description": "Lists all the ad units available for a custom channel.",
                  "id": "adsense.accounts.adclients.customchannels.listLinkedAdUnits",
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/customchannels/{customchannelsId}:listLinkedAdUnits",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "A page token, received from a previous `ListLinkedAdUnits` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLinkedAdUnits` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of ad units to include in the response, used for paging. If unspecified, at most 10000 ad units will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The custom channel which owns the collection of ad units. Format: accounts/{account}/adclients/{adclient}/customchannels/{customchannel}",
                      "type": "string",
                      "location": "path",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/customchannels/[^/]+$"
                    }
                  },
                  "path": "v2/{+parent}:listLinkedAdUnits"
                },
                "get": {
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/customchannels/{customchannelsId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/customchannels/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the custom channel. Format: accounts/{account}/adclients/{adclient}/customchannels/{customchannel}"
                    }
                  },
                  "description": "Gets information about the selected custom channel.",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "response": {
                    "$ref": "CustomChannel"
                  },
                  "id": "adsense.accounts.adclients.customchannels.get"
                }
              }
            },
            "adunits": {
              "methods": {
                "get": {
                  "id": "adsense.accounts.adclients.adunits.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. AdUnit to get information about. Format: accounts/{account}/adclients/{adclient}/adunits/{adunit}",
                      "required": true,
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/adunits/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/adunits/{adunitsId}",
                  "path": "v2/{+name}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "AdUnit"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets an ad unit from a specified account and ad client."
                },
                "list": {
                  "id": "adsense.accounts.adclients.adunits.list",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
[...]
