{
  "servicePath": "",
  "batchPath": "batch",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    }
  },
  "rootUrl": "https://adsense.googleapis.com/",
  "documentationLink": "https://developers.google.com/adsense/management/",
  "version_module": true,
  "discoveryVersion": "v1",
  "basePath": "",
  "mtlsRootUrl": "https://adsense.mtls.googleapis.com/",
  "baseUrl": "https://adsense.googleapis.com/",
  "title": "AdSense Management API",
  "protocol": "rest",
  "id": "adsense:v2",
  "version": "v2",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adsense.readonly": {
          "description": "View your AdSense data"
        },
        "https://www.googleapis.com/auth/adsense": {
          "description": "View and manage your AdSense data"
        }
      }
    }
  },
  "schemas": {
    "ListAlertsResponse": {
      "properties": {
        "alerts": {
          "description": "The alerts returned in this list response.",
          "type": "array",
          "items": {
            "$ref": "Alert"
          }
        }
      },
      "id": "ListAlertsResponse",
      "type": "object",
      "description": "Response definition for the alerts list rpc."
    },
    "ListUrlChannelsResponse": {
      "description": "Response definition for the url channels list rpc.",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token used to page through url channels. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        },
        "urlChannels": {
          "description": "The url channels returned in this list response.",
          "items": {
            "$ref": "UrlChannel"
          },
          "type": "array"
        }
      },
      "id": "ListUrlChannelsResponse",
      "type": "object"
    },
    "ListPaymentsResponse": {
      "properties": {
        "payments": {
          "description": "The payments returned in this list response.",
          "items": {
            "$ref": "Payment"
          },
          "type": "array"
        }
      },
      "description": "Response definition for the payments list rpc.",
      "type": "object",
      "id": "ListPaymentsResponse"
    },
    "ListSitesResponse": {
      "id": "ListSitesResponse",
      "properties": {
        "sites": {
          "type": "array",
          "items": {
            "$ref": "Site"
          },
          "description": "The sites returned in this list response."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through sites. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        }
      },
      "description": "Response definition for the sites list rpc.",
      "type": "object"
    },
    "Alert": {
      "properties": {
        "severity": {
          "readOnly": true,
          "description": "Output only. Severity of this alert.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "SEVERE"
          ],
          "enumDescriptions": [
            "Unspecified severity.",
            "Info.",
            "Warning.",
            "Severe."
          ],
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the alert. Format: accounts/{account}/alerts/{alert}",
          "type": "string"
        },
        "message": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The localized alert message. This may contain HTML markup, such as phrase elements or links."
        },
        "type": {
          "readOnly": true,
          "description": "Output only. Type of alert. This identifies the broad type of this alert, and provides a stable machine-readable identifier that will not be translated. For example, \"payment-hold\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Alert",
      "description": "Representation of an alert."
    },
    "ListAdUnitsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token used to page through ad units. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        },
        "adUnits": {
          "items": {
            "$ref": "AdUnit"
          },
          "description": "The ad units returned in the list response.",
          "type": "array"
        }
      },
      "description": "Response definition for the adunit list rpc.",
      "id": "ListAdUnitsResponse"
    },
    "AdUnit": {
      "description": "Representation of an ad unit. An ad unit represents a saved ad unit with a specific set of ad settings that have been customized within an account.",
      "properties": {
        "contentAdsSettings": {
          "description": "Required. Settings specific to content ads (AFC).",
          "$ref": "ContentAdsSettings"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of the ad unit. Format: accounts/{account}/adclients/{adclient}/adunits/{adunit}"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the ad unit, as provided when the ad unit was created."
        },
        "state": {
          "description": "State of the ad unit.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ARCHIVED"
          ],
          "enumDescriptions": [
            "State unspecified.",
            "Ad unit has been activated by the user.",
            "Ad unit has been archived by the user. Note that archived ad units are only removed from the default view in the UI. Archived ad units can still serve ads."
          ]
        },
        "reportingDimensionId": {
          "type": "string",
          "description": "Output only. Unique ID of the ad unit as used in the `AD_UNIT_ID` reporting dimension.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "AdUnit"
    },
    "ListSavedReportsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through reports. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        },
        "savedReports": {
          "items": {
            "$ref": "SavedReport"
          },
          "description": "The reports returned in this list response.",
          "type": "array"
        }
      },
      "id": "ListSavedReportsResponse",
      "description": "Response definition for the saved reports list rpc.",
      "type": "object"
    },
    "Payment": {
      "id": "Payment",
      "description": "Representation of an unpaid or paid payment. See [Payment timelines for AdSense](https://support.google.com/adsense/answer/7164703) for more information about payments and the [YouTube homepage and payments account](https://support.google.com/adsense/answer/11622510) article for information about dedicated payments accounts for YouTube.",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of the payment. Format: - accounts/{account}/payments/unpaid for unpaid (current) AdSense earnings. - accounts/{account}/payments/youtube-unpaid for unpaid (current) YouTube earnings. - accounts/{account}/payments/yyyy-MM-dd for paid AdSense earnings. - accounts/{account}/payments/youtube-yyyy-MM-dd for paid YouTube earnings."
        },
        "date": {
          "$ref": "Date",
          "description": "Output only. For paid earnings, the date that the payment was credited. For unpaid earnings, this field is empty. Payment dates are always returned in the billing timezone (America/Los_Angeles).",
          "readOnly": true
        },
        "amount": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The amount of unpaid or paid earnings, as a formatted string, including the currency. E.g. \"¥1,235 JPY\", \"$1,234.57\", \"£87.65\"."
        }
      },
      "type": "object"
    },
    "ListAdClientsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Continuation token used to page through ad clients. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        },
        "adClients": {
          "type": "array",
          "description": "The ad clients returned in this list response.",
          "items": {
            "$ref": "AdClient"
          }
        }
      },
      "type": "object",
      "description": "Response definition for the ad client list rpc.",
      "id": "ListAdClientsResponse"
    },
    "ReportResult": {
      "type": "object",
      "id": "ReportResult",
      "properties": {
        "headers": {
          "type": "array",
          "items": {
            "$ref": "Header"
          },
          "description": "The header information; one for each dimension in the request, followed by one for each metric in the request."
        },
        "startDate": {
          "$ref": "Date",
          "description": "Required. Start date of the range (inclusive)."
        },
        "endDate": {
          "description": "Required. End date of the range (inclusive).",
          "$ref": "Date"
        },
        "totalMatchedRows": {
          "description": "The total number of rows matched by the report request.",
          "type": "string",
          "format": "int64"
        },
        "averages": {
          "description": "The averages of the report. This is the same length as any other row in the report; cells corresponding to dimension columns are empty.",
          "$ref": "Row"
        },
        "warnings": {
          "items": {
            "type": "string"
          },
          "description": "Any warnings associated with generation of the report. These warnings are always returned in English.",
          "type": "array"
        },
        "totals": {
          "$ref": "Row",
          "description": "The totals of the report. This is the same length as any other row in the report; cells corresponding to dimension columns are empty."
        },
        "rows": {
          "description": "The output rows of the report. Each row is a list of cells; one for each dimension in the request, followed by one for each metric in the request.",
          "items": {
            "$ref": "Row"
          },
          "type": "array"
        }
      },
      "description": "Result of a generated report."
    },
    "Header": {
      "id": "Header",
      "description": "The header information of the columns requested in the report.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Name of the header."
        },
        "currencyCode": {
          "description": "The [ISO-4217 currency code](https://en.wikipedia.org/wiki/ISO_4217) of this column. Only present if the header type is METRIC_CURRENCY.",
          "type": "string"
        },
        "type": {
          "description": "Required. Type of the header.",
          "enum": [
            "HEADER_TYPE_UNSPECIFIED",
            "DIMENSION",
            "METRIC_TALLY",
            "METRIC_RATIO",
            "METRIC_CURRENCY",
            "METRIC_MILLISECONDS",
            "METRIC_DECIMAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified header.",
            "Dimension header type.",
            "Tally header type.",
            "Ratio header type.",
            "Currency header type.",
            "Milliseconds header type.",
            "Decimal header type."
          ]
        }
      }
    },
    "SavedReport": {
      "type": "object",
      "description": "Representation of a saved report.",
      "id": "SavedReport",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the report. Format: accounts/{account}/reports/{report}",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Report title as specified by publisher."
        }
      }
    },
    "TimeZone": {
      "id": "TimeZone",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone, e.g. \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number, e.g. \"2019a\"."
        }
      },
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "type": "object"
    },
    "ListLinkedAdUnitsResponse": {
      "description": "Response definition for the ad units linked to a custom channel list rpc.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through ad units. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        },
        "adUnits": {
          "type": "array",
          "items": {
            "$ref": "AdUnit"
          },
          "description": "The ad units returned in the list response."
        }
      },
      "type": "object",
      "id": "ListLinkedAdUnitsResponse"
    },
    "AdClient": {
      "description": "Representation of an ad client. An ad client represents a user's subscription with a specific AdSense product.",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the ad client. Format: accounts/{account}/adclients/{adclient}",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "GETTING_READY",
            "REQUIRES_REVIEW"
          ],
          "readOnly": true,
          "description": "Output only. State of the ad client.",
          "enumDescriptions": [
            "State unspecified.",
            "The ad client is ready to show ads.",
            "Running some checks on the ad client before it is ready to serve ads.",
            "The ad client hasn't been checked yet. There are tasks pending before AdSense will start the review."
          ]
        },
        "reportingDimensionId": {
          "readOnly": true,
          "description": "Output only. Unique ID of the ad client as used in the `AD_CLIENT_ID` reporting dimension. Present only if the ad client supports reporting.",
          "type": "string"
        },
        "productCode": {
          "description": "Output only. Reporting product code of the ad client. For example, \"AFC\" for AdSense for Content. Corresponds to the `PRODUCT_CODE` dimension, and present only if the ad client supports reporting.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "AdClient",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "Cell": {
      "id": "Cell",
      "type": "object",
      "description": "Cell representation.",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value in the cell. The dimension cells contain strings, and the metric cells contain numbers."
        }
      }
    },
    "Site": {
      "id": "Site",
      "properties": {
        "autoAdsEnabled": {
          "description": "Whether auto ads is turned on for the site.",
          "type": "boolean"
        },
        "reportingDimensionId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Unique ID of the site as used in the `OWNED_SITE_ID` reporting dimension."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "REQUIRES_REVIEW",
            "GETTING_READY",
            "READY",
            "NEEDS_ATTENTION"
          ],
          "description": "Output only. State of a site.",
          "readOnly": true,
          "enumDescriptions": [
            "State unspecified.",
            "Either: * The site hasn't been checked yet. * The site is inactive and needs another review before it can show ads again. Learn how to [request a review for an inactive site](https://support.google.com/adsense/answer/9393996).",
            "Google is running some checks on the site. This usually takes a few days, but in some cases it can take two to four weeks.",
            "The site is ready to show ads. Learn how to [set up ads on the site](https://support.google.com/adsense/answer/7037624).",
            "Publisher needs to fix some issues before the site is ready to show ads. Learn what to do [if a new site isn't ready](https://support.google.com/adsense/answer/9061852)."
          ],
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of a site. Format: accounts/{account}/sites/{site}"
        },
        "domain": {
          "description": "Domain (or subdomain) of the site, e.g. \"example.com\" or \"www.example.com\". This is used in the `OWNED_SITE_DOMAIN_NAME` reporting dimension.",
          "type": "string"
        }
      },
      "description": "Representation of a Site.",
      "type": "object"
    },
    "ListCustomChannelsResponse": {
      "type": "object",
      "id": "ListCustomChannelsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through alerts. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        },
        "customChannels": {
          "items": {
            "$ref": "CustomChannel"
          },
          "type": "array",
          "description": "The custom channels returned in this list response."
        }
      },
      "description": "Response definition for the custom channel list rpc."
    },
    "Account": {
      "id": "Account",
      "properties": {
        "displayName": {
          "description": "Output only. Display name of this account.",
          "readOnly": true,
          "type": "string"
        },
        "pendingTasks": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Outstanding tasks that need to be completed as part of the sign-up process for a new account. e.g. \"billing-profile-creation\", \"phone-pin-verification\"."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of the account. Format: accounts/pub-[0-9]+"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Creation time of the account.",
          "type": "string",
          "readOnly": true
        },
        "timeZone": {
          "description": "The account time zone, as used by reporting. For more information, see [changing the time zone of your reports](https://support.google.com/adsense/answer/9830725).",
          "$ref": "TimeZone"
        },
        "state": {
          "enumDescriptions": [
            "State unspecified.",
            "The account is open and ready to serve ads.",
            "There are some issues with this account. Publishers should visit AdSense in order to fix the account.",
            "The account is closed and can't serve ads."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "NEEDS_ATTENTION",
            "CLOSED"
          ],
          "description": "Output only. State of the account.",
          "type": "string"
        },
        "premium": {
          "description": "Output only. Whether this account is premium.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "description": "Representation of an account.",
      "type": "object"
    },
    "CustomChannel": {
      "properties": {
        "name": {
          "description": "Output only. Resource name of the custom channel. Format: accounts/{account}/adclients/{adclient}/customchannels/{customchannel}",
          "readOnly": true,
          "type": "string"
        },
        "reportingDimensionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique ID of the custom channel as used in the `CUSTOM_CHANNEL_ID` reporting dimension."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the custom channel."
        },
        "active": {
          "type": "boolean",
          "description": "Whether the custom channel is active and collecting data. See https://support.google.com/adsense/answer/10077192."
        }
      },
      "type": "object",
      "id": "CustomChannel",
      "description": "Representation of a custom channel."
    },
    "ListLinkedCustomChannelsResponse": {
      "properties": {
        "customChannels": {
          "items": {
            "$ref": "CustomChannel"
          },
          "type": "array",
          "description": "The custom channels returned in this list response."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through alerts. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        }
      },
      "id": "ListLinkedCustomChannelsResponse",
      "type": "object",
      "description": "Response definition for the custom channels linked to an adunit list rpc."
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "id": "Date",
      "properties": {
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "month": {
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer"
        }
      }
    },
    "AdUnitAdCode": {
      "properties": {
        "adCode": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The code snippet to add to the body of an HTML page."
        }
      },
      "type": "object",
      "id": "AdUnitAdCode",
      "description": "Representation of the ad unit code for a given ad unit. For more information, see [About the AdSense code](https://support.google.com/adsense/answer/9274634) and [Where to place the ad code in your HTML](https://support.google.com/adsense/answer/9190028)."
    },
    "ContentAdsSettings": {
      "type": "object",
      "id": "ContentAdsSettings",
      "description": "Settings specific to content ads (AFC).",
      "properties": {
        "type": {
          "description": "Required. Type of the ad unit.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified ad unit type.",
            "Display ad unit.",
            "In-feed ad unit.",
            "In-article ad unit.",
            "Matched content unit.",
            "Link ad unit. Note that link ad units have now been retired, see https://support.google.com/adsense/answer/9987221."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "DISPLAY",
            "FEED",
            "ARTICLE",
            "MATCHED_CONTENT",
            "LINK"
          ]
        },
        "size": {
          "description": "Required. Size of the ad unit. e.g. \"728x90\", \"1x3\" (for responsive ad units).",
          "type": "string"
        }
      }
    },
    "ListAccountsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through accounts. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        },
        "accounts": {
          "items": {
            "$ref": "Account"
          },
          "type": "array",
          "description": "The accounts returned in this list response."
        }
      },
      "description": "Response definition for the account list rpc.",
      "type": "object",
      "id": "ListAccountsResponse"
    },
    "Row": {
      "type": "object",
      "id": "Row",
      "description": "Row representation.",
      "properties": {
        "cells": {
          "type": "array",
          "items": {
            "$ref": "Cell"
          },
          "description": "Cells in the row."
        }
      }
    },
    "AdBlockingRecoveryTag": {
      "type": "object",
      "properties": {
        "errorProtectionCode": {
          "description": "Error protection code that can be used in conjunction with the tag. It'll display a message to users if an [ad blocking extension blocks their access to your site](https://support.google.com/adsense/answer/11575480).",
          "type": "string"
        },
        "tag": {
          "type": "string",
          "description": "The ad blocking recovery tag. Note that the message generated by the tag can be blocked by an ad blocking extension. If this is not your desired outcome, then you'll need to use it in conjunction with the error protection code."
        }
      },
      "description": "Representation of an ad blocking recovery tag. See https://support.google.com/adsense/answer/11575177.",
      "id": "AdBlockingRecoveryTag"
    },
    "ListChildAccountsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through accounts. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        },
        "accounts": {
          "description": "The accounts returned in this list response.",
          "type": "array",
          "items": {
            "$ref": "Account"
          }
        }
      },
      "description": "Response definition for the child account list rpc.",
      "id": "ListChildAccountsResponse"
    },
    "HttpBody": {
      "id": "HttpBody",
      "properties": {
        "data": {
          "type": "string",
          "description": "The HTTP request/response body as raw binary.",
          "format": "byte"
        },
        "extensions": {
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged."
    },
    "AdClientAdCode": {
      "description": "Representation of the AdSense code for a given ad client. For more information, see [About the AdSense code](https://support.google.com/adsense/answer/9274634).",
      "properties": {
        "ampBody": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The AdSense code snippet to add to the body of an AMP page."
        },
        "adCode": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The AdSense code snippet to add to the head of an HTML page."
        },
        "ampHead": {
          "readOnly": true,
          "description": "Output only. The AdSense code snippet to add to the head of an AMP page.",
          "type": "string"
        }
      },
      "id": "AdClientAdCode",
      "type": "object"
    },
    "UrlChannel": {
      "properties": {
        "reportingDimensionId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Unique ID of the custom channel as used in the `URL_CHANNEL_ID` reporting dimension."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of the URL channel. Format: accounts/{account}/adclients/{adclient}/urlchannels/{urlchannel}"
        },
        "uriPattern": {
          "type": "string",
          "description": "URI pattern of the channel. Does not include \"http://\" or \"https://\". Example: www.example.com/home"
        }
      },
      "description": "Representation of a URL channel. URL channels allow you to track the performance of particular pages in your site; see [URL channels](https://support.google.com/adsense/answer/2923836) for more information.",
      "type": "object",
      "id": "UrlChannel"
    }
  },
  "name": "adsense",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20230330",
  "description": "The AdSense Management API allows publishers to access their inventory and run earnings and performance reports.",
  "ownerDomain": "google.com",
  "resources": {
    "accounts": {
      "methods": {
        "getAdBlockingRecoveryTag": {
          "scopes": [
            "https://www.googleapis.com/auth/adsense",
            "https://www.googleapis.com/auth/adsense.readonly"
          ],
          "response": {
            "$ref": "AdBlockingRecoveryTag"
          },
          "httpMethod": "GET",
          "flatPath": "v2/accounts/{accountsId}/adBlockingRecoveryTag",
          "parameterOrder": [
            "name"
          ],
          "description": "Gets the ad blocking recovery tag of an account.",
          "id": "adsense.accounts.getAdBlockingRecoveryTag",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "description": "Required. The name of the account to get the tag for. Format: accounts/{account}",
              "pattern": "^accounts/[^/]+$",
              "type": "string"
            }
          },
          "path": "v2/{+name}/adBlockingRecoveryTag"
        },
        "listChildAccounts": {
          "id": "adsense.accounts.listChildAccounts",
          "parameters": {
            "parent": {
              "required": true,
              "type": "string",
              "description": "Required. The parent account, which owns the child accounts. Format: accounts/{account}",
              "pattern": "^accounts/[^/]+$",
              "location": "path"
            },
            "pageSize": {
              "description": "The maximum number of accounts to include in the response, used for paging. If unspecified, at most 10000 accounts will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "description": "A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccounts` must match the call that provided the page token.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "ListChildAccountsResponse"
          },
          "description": "Lists all accounts directly managed by the given AdSense account.",
          "scopes": [
            "https://www.googleapis.com/auth/adsense",
            "https://www.googleapis.com/auth/adsense.readonly"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "parent"
          ],
          "path": "v2/{+parent}:listChildAccounts",
          "flatPath": "v2/accounts/{accountsId}:listChildAccounts"
        },
        "list": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/adsense",
            "https://www.googleapis.com/auth/adsense.readonly"
          ],
          "description": "Lists all accounts available to this user.",
          "id": "adsense.accounts.list",
          "path": "v2/accounts",
          "flatPath": "v2/accounts",
          "parameterOrder": [],
          "parameters": {
            "pageSize": {
              "description": "The maximum number of accounts to include in the response, used for paging. If unspecified, at most 10000 accounts will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccounts` must match the call that provided the page token."
            }
          },
          "response": {
            "$ref": "ListAccountsResponse"
          }
        },
        "get": {
          "flatPath": "v2/accounts/{accountsId}",
          "description": "Gets information about the selected AdSense account.",
          "path": "v2/{+name}",
          "id": "adsense.accounts.get",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Account"
          },
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. Account to get information about. Format: accounts/{account}"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/adsense",
            "https://www.googleapis.com/auth/adsense.readonly"
          ],
          "httpMethod": "GET"
        }
      },
      "resources": {
        "payments": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The account which owns the collection of payments. Format: accounts/{account}"
                }
              },
              "httpMethod": "GET",
              "id": "adsense.accounts.payments.list",
              "path": "v2/{+parent}/payments",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "response": {
                "$ref": "ListPaymentsResponse"
              },
              "description": "Lists all the payments available for an account.",
              "flatPath": "v2/accounts/{accountsId}/payments"
            }
          }
        },
        "reports": {
          "methods": {
            "generateCsv": {
              "httpMethod": "GET",
              "response": {
                "$ref": "HttpBody"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "description": "Generates a csv formatted ad hoc report.",
              "flatPath": "v2/accounts/{accountsId}/reports:generateCsv",
              "parameterOrder": [
                "account"
              ],
              "id": "adsense.accounts.reports.generateCsv",
              "parameters": {
                "dimensions": {
                  "description": "Dimensions to base the report on.",
                  "type": "string",
                  "enumDescriptions": [
                    "Unspecified dimension.",
                    "Date dimension in YYYY-MM-DD format (e.g. \"2010-02-10\").",
                    "Week dimension in YYYY-MM-DD format, representing the first day of each week (e.g. \"2010-02-08\"). The first day of the week is determined by the language_code specified in a report generation request (so e.g. this would be a Monday for \"en-GB\" or \"es\", but a Sunday for \"en\" or \"fr-CA\").",
                    "Month dimension in YYYY-MM format (e.g. \"2010-02\").",
                    "Account name. The members of this dimension match the values from Account.display_name.",
                    "Unique ID of an ad client. The members of this dimension match the values from AdClient.reporting_dimension_id.",
                    "Unique ID of a sub-account's ad client. The members of this dimension match the values from AdClient.reporting_dimension_id (for the sub-account).",
                    "Localized product name (e.g. \"AdSense for Content\", \"AdSense for Search\").",
                    "Product code (e.g. \"AFC\", \"AFS\"). The members of this dimension match the values from AdClient.product_code.",
                    "Ad unit name (within which an ad was served). The members of this dimension match the values from AdUnit.display_name.",
                    "Unique ID of an ad unit (within which an ad was served). The members of this dimension match the values from AdUnit.reporting_dimension_id.",
                    "Localized size of an ad unit (e.g. \"728x90\", \"Responsive\").",
                    "The size code of an ad unit (e.g. \"728x90\", \"responsive\").",
                    "Custom channel name. The members of this dimension match the values from CustomChannel.display_name.",
                    "Unique ID of a custom channel. The members of this dimension match the values from CustomChannel.reporting_dimension_id.",
                    "Domain name of a verified site (e.g. \"example.com\"). The members of this dimension match the values from Site.domain.",
                    "Unique ID of a verified site. The members of this dimension match the values from Site.reporting_dimension_id.",
                    "URL of the page upon which the ad was served. This is a complete URL including scheme and query parameters. Note that the URL that appears in this dimension may be a canonicalized version of the one that was used in the original request, and so may not exactly match the URL that a user might have seen. Note that there are also some caveats to be aware of when using this dimension. For more information, see [Page URL breakdown](https://support.google.com/adsense/answer/11988478).",
                    "Name of a URL channel. The members of this dimension match the values from UrlChannel.uri_pattern.",
                    "Unique ID of a URL channel. The members of this dimension match the values from UrlChannel.reporting_dimension_id.",
                    "Name of an ad network that returned the winning ads for an ad request (e.g. \"Google AdWords\"). Note that unlike other \"NAME\" dimensions, the members of this dimensions are not localized.",
                    "Unique (opaque) ID of an ad network that returned the winning ads for an ad request.",
                    "Localized bid type name (e.g. \"CPC bids\", \"CPM bids\") for a served ad.",
                    "Type of a bid (e.g. \"cpc\", \"cpm\") for a served ad.",
                    "Localized creative size name (e.g. \"728x90\", \"Dynamic\") of a served ad.",
                    "Creative size code (e.g. \"728x90\", \"dynamic\") of a served ad.",
                    "Localized name of a host on which an ad was served, after IDNA decoding (e.g. \"www.google.com\", \"Web caches and other\", \"bücher.example\").",
                    "Name of a host on which an ad was served (e.g. \"www.google.com\", \"webcaches\", \"xn--bcher-kva.example\").",
                    "Localized region name of a user viewing an ad (e.g. \"United States\", \"France\").",
                    "CLDR region code of a user viewing an ad (e.g. \"US\", \"FR\").",
                    "Localized platform type name (e.g. \"High-end mobile devices\", \"Desktop\").",
                    "Platform type code (e.g. \"HighEndMobile\", \"Desktop\").",
                    "Localized targeting type name (e.g. \"Contextual\", \"Personalized\", \"Run of Network\").",
                    "Targeting type code (e.g. \"Keyword\", \"UserInterest\", \"RunOfNetwork\").",
                    "Localized content platform name an ad request was made from (e.g. \"AMP\", \"Web\").",
                    "Content platform code an ad request was made from (e.g. \"AMP\", \"HTML\").",
                    "Localized ad placement name (e.g. \"Ad unit\", \"Global settings\", \"Manual\").",
                    "Ad placement code (e.g. \"AD_UNIT\", \"ca-pub-123456:78910\", \"OTHER\").",
                    "Localized requested ad type name (e.g. \"Display\", \"Link unit\", \"Other\").",
                    "Requested ad type code (e.g. \"IMAGE\", \"RADLINK\", \"OTHER\").",
                    "Localized served ad type name (e.g. \"Display\", \"Link unit\", \"Other\").",
                    "Served ad type code (e.g. \"IMAGE\", \"RADLINK\", \"OTHER\").",
                    "Localized ad format name indicating the way an ad is shown to the users on your site (e.g. \"In-page\", \"Anchor\", \"Vignette\").",
                    "Ad format code indicating the way an ad is shown to the users on your site (e.g. \"ON_PAGE\", \"ANCHOR\", \"INTERSTITIAL\").",
                    "Custom search style name.",
                    "Custom search style id.",
                    "Domain registrants.",
                    "Query strings for web searches."
                  ],
                  "repeated": true,
                  "location": "query",
                  "enum": [
                    "DIMENSION_UNSPECIFIED",
                    "DATE",
                    "WEEK",
                    "MONTH",
                    "ACCOUNT_NAME",
                    "AD_CLIENT_ID",
                    "HOSTED_AD_CLIENT_ID",
                    "PRODUCT_NAME",
                    "PRODUCT_CODE",
                    "AD_UNIT_NAME",
                    "AD_UNIT_ID",
                    "AD_UNIT_SIZE_NAME",
                    "AD_UNIT_SIZE_CODE",
                    "CUSTOM_CHANNEL_NAME",
                    "CUSTOM_CHANNEL_ID",
                    "OWNED_SITE_DOMAIN_NAME",
                    "OWNED_SITE_ID",
                    "PAGE_URL",
                    "URL_CHANNEL_NAME",
                    "URL_CHANNEL_ID",
                    "BUYER_NETWORK_NAME",
                    "BUYER_NETWORK_ID",
                    "BID_TYPE_NAME",
                    "BID_TYPE_CODE",
                    "CREATIVE_SIZE_NAME",
                    "CREATIVE_SIZE_CODE",
                    "DOMAIN_NAME",
                    "DOMAIN_CODE",
                    "COUNTRY_NAME",
                    "COUNTRY_CODE",
                    "PLATFORM_TYPE_NAME",
                    "PLATFORM_TYPE_CODE",
                    "TARGETING_TYPE_NAME",
                    "TARGETING_TYPE_CODE",
                    "CONTENT_PLATFORM_NAME",
                    "CONTENT_PLATFORM_CODE",
                    "AD_PLACEMENT_NAME",
                    "AD_PLACEMENT_CODE",
                    "REQUESTED_AD_TYPE_NAME",
                    "REQUESTED_AD_TYPE_CODE",
                    "SERVED_AD_TYPE_NAME",
                    "SERVED_AD_TYPE_CODE",
                    "AD_FORMAT_NAME",
                    "AD_FORMAT_CODE",
                    "CUSTOM_SEARCH_STYLE_NAME",
                    "CUSTOM_SEARCH_STYLE_ID",
                    "DOMAIN_REGISTRANT",
                    "WEBSEARCH_QUERY_STRING"
                  ]
                },
                "currencyCode": {
                  "location": "query",
                  "description": "The [ISO-4217 currency code](https://en.wikipedia.org/wiki/ISO_4217) to use when reporting on monetary metrics. Defaults to the account's currency if not set.",
                  "type": "string"
                },
                "startDate.year": {
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "account": {
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The account which owns the collection of reports. Format: accounts/{account}",
                  "required": true
                },
                "endDate.day": {
                  "location": "query",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                  "format": "int32",
                  "type": "integer"
                },
                "limit": {
                  "type": "integer",
                  "description": "The maximum number of rows of report data to return. Reports producing more rows than the requested limit will be truncated. If unset, this defaults to 100,000 rows for `Reports.GenerateReport` and 1,000,000 rows for `Reports.GenerateCsvReport`, which are also the maximum values permitted here. Report truncation can be identified (for `Reports.GenerateReport` only) by comparing the number of rows returned to the value returned in `total_matched_rows`.",
                  "location": "query",
                  "format": "int32"
                },
                "dateRange": {
                  "type": "string",
                  "location": "query",
                  "description": "Date range of the report, if unset the range will be considered CUSTOM.",
                  "enumDescriptions": [
                    "Unspecified date range.",
                    "A custom date range specified using the `start_date` and `end_date` fields. This is the default if no ReportingDateRange is provided.",
                    "Current day.",
                    "Yesterday.",
                    "From the start of the current month to the current day. e.g. if the current date is 2020-03-12 then the range will be [2020-03-01, 2020-03-12].",
                    "From the start of the current year to the current day. e.g. if the current date is 2020-03-12 then the range will be [2020-01-01, 2020-03-12].",
                    "Last 7 days, excluding current day.",
                    "Last 30 days, excluding current day."
                  ],
                  "enum": [
                    "REPORTING_DATE_RANGE_UNSPECIFIED",
                    "CUSTOM",
                    "TODAY",
                    "YESTERDAY",
                    "MONTH_TO_DATE",
                    "YEAR_TO_DATE",
                    "LAST_7_DAYS",
                    "LAST_30_DAYS"
                  ]
                },
                "metrics": {
                  "enum": [
                    "METRIC_UNSPECIFIED",
                    "PAGE_VIEWS",
                    "AD_REQUESTS",
                    "MATCHED_AD_REQUESTS",
                    "TOTAL_IMPRESSIONS",
                    "IMPRESSIONS",
                    "INDIVIDUAL_AD_IMPRESSIONS",
                    "CLICKS",
                    "PAGE_VIEWS_SPAM_RATIO",
                    "AD_REQUESTS_SPAM_RATIO",
                    "MATCHED_AD_REQUESTS_SPAM_RATIO",
                    "IMPRESSIONS_SPAM_RATIO",
                    "INDIVIDUAL_AD_IMPRESSIONS_SPAM_RATIO",
                    "CLICKS_SPAM_RATIO",
                    "AD_REQUESTS_COVERAGE",
                    "PAGE_VIEWS_CTR",
                    "AD_REQUESTS_CTR",
                    "MATCHED_AD_REQUESTS_CTR",
                    "IMPRESSIONS_CTR",
                    "INDIVIDUAL_AD_IMPRESSIONS_CTR",
                    "ACTIVE_VIEW_MEASURABILITY",
                    "ACTIVE_VIEW_VIEWABILITY",
                    "ACTIVE_VIEW_TIME",
                    "ESTIMATED_EARNINGS",
                    "PAGE_VIEWS_RPM",
                    "AD_REQUESTS_RPM",
                    "MATCHED_AD_REQUESTS_RPM",
                    "IMPRESSIONS_RPM",
                    "INDIVIDUAL_AD_IMPRESSIONS_RPM",
                    "COST_PER_CLICK",
                    "ADS_PER_IMPRESSION",
                    "TOTAL_EARNINGS",
                    "WEBSEARCH_RESULT_PAGES"
                  ],
                  "description": "Required. Reporting metrics.",
                  "repeated": true,
                  "enumDescriptions": [
                    "Unspecified metric.",
                    "Number of page views.",
                    "Number of ad units that requested ads (for content ads) or search queries (for search ads). An ad request may result in zero, one, or multiple individual ad impressions depending on the size of the ad unit and whether any ads were available.",
                    "Requests that returned at least one ad.",
                    "Impressions. An impression is counted for each ad request where at least one ad has been downloaded to the user’s device and has begun to load. It is the number of ad units (for content ads) or search queries (for search ads) that showed ads.",
                    "Impressions. An impression is counted for each ad request where at least one ad has been downloaded to the user’s device and has begun to load. It is the number of ad units (for content ads) or search queries (for search ads) that showed ads.",
                    "Ads shown. Different ad formats will display varying numbers of ads. For example, a vertical banner may consist of 2 or more ads. Also, the number of ads in an ad unit may vary depending on whether the ad unit is displaying standard text ads, expanded text ads or image ads.",
                    "Number of times a user clicked on a standard content ad.",
                    "Fraction of page views considered to be spam. Only available to premium accounts.",
                    "Fraction of ad requests considered to be spam. Only available to premium accounts.",
                    "Fraction of ad requests that returned ads considered to be spam. Only available to premium accounts.",
                    "Fraction of impressions considered to be spam. Only available to premium accounts.",
                    "Fraction of ad impressions considered to be spam. Only available to premium accounts.",
                    "Fraction of clicks considered to be spam. Only available to premium accounts.",
                    "Ratio of requested ad units or queries to the number returned to the site.",
                    "Ratio of individual page views that resulted in a click.",
                    "Ratio of ad requests that resulted in a click.",
                    "Ratio of clicks to matched requests.",
                    "Ratio of IMPRESSIONS that resulted in a click.",
                    "Ratio of individual ad impressions that resulted in a click.",
                    "Ratio of requests that were measurable for viewability.",
                    "Ratio of requests that were viewable.",
                    "Mean time an ad was displayed on screen.",
                    "Estimated earnings of the publisher. Note that earnings up to yesterday are accurate, more recent earnings are estimated due to the possibility of spam, or exchange rate fluctuations.",
                    "Revenue per thousand page views. This is calculated by dividing the estimated revenue by the number of page views multiplied by 1000.",
                    "Revenue per thousand ad requests. This is calculated by dividing estimated revenue by the number of ad requests multiplied by 1000.",
                    "Revenue per thousand matched ad requests. This is calculated by dividing estimated revenue by the number of matched ad requests multiplied by 1000.",
                    "Revenue per thousand ad impressions. This is calculated by dividing estimated revenue by the number of ad impressions multiplied by 1000.",
                    "Revenue per thousand individual ad impressions. This is calculated by dividing estimated revenue by the number of individual ad impressions multiplied by 1000.",
                    "Amount the publisher earns each time a user clicks on an ad. CPC is calculated by dividing the estimated revenue by the number of clicks received.",
                    "Number of ad views per impression.",
                    "Total earnings are the gross estimated earnings from revenue shared traffic before any parent and child account revenue share is applied.",
                    "Number of results pages."
                  ],
                  "type": "string",
                  "location": "query"
                },
                "endDate.month": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
                },
                "reportingTimeZone": {
                  "enum": [
                    "REPORTING_TIME_ZONE_UNSPECIFIED",
                    "ACCOUNT_TIME_ZONE",
                    "GOOGLE_TIME_ZONE"
                  ],
                  "location": "query",
                  "description": "Timezone in which to generate the report. If unspecified, this defaults to the account timezone. For more information, see [changing the time zone of your reports](https://support.google.com/adsense/answer/9830725).",
                  "enumDescriptions": [
                    "Unspecified timezone.",
                    "Use the account timezone in the report.",
                    "Use the Google timezone in the report (America/Los_Angeles)."
                  ],
                  "type": "string"
                },
                "endDate.year": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "location": "query"
                },
                "startDate.month": {
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "orderBy": {
                  "repeated": true,
                  "description": "The name of a dimension or metric to sort the resulting report on, can be prefixed with \"+\" to sort ascending or \"-\" to sort descending. If no prefix is specified, the column is sorted ascending.",
                  "type": "string",
                  "location": "query"
                },
                "filters": {
                  "repeated": true,
                  "type": "string",
                  "description": "A list of [filters](/adsense/management/reporting/filtering) to apply to the report. All provided filters must match in order for the data to be included in the report.",
                  "location": "query"
                },
                "startDate.day": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
                },
                "languageCode": {
                  "type": "string",
                  "location": "query",
                  "description": "The language to use for translating report output. If unspecified, this defaults to English (\"en\"). If the given language is not supported, report output will be returned in English. The language is specified as an [IETF BCP-47 language code](https://en.wikipedia.org/wiki/IETF_language_tag)."
                }
              },
              "path": "v2/{+account}/reports:generateCsv"
            },
            "generate": {
              "httpMethod": "GET",
              "flatPath": "v2/accounts/{accountsId}/reports:generate",
              "parameters": {
                "startDate.year": {
                  "type": "integer",
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "location": "query",
                  "format": "int32"
                },
                "dateRange": {
                  "enumDescriptions": [
                    "Unspecified date range.",
                    "A custom date range specified using the `start_date` and `end_date` fields. This is the default if no ReportingDateRange is provided.",
                    "Current day.",
                    "Yesterday.",
                    "From the start of the current month to the current day. e.g. if the current date is 2020-03-12 then the range will be [2020-03-01, 2020-03-12].",
                    "From the start of the current year to the current day. e.g. if the current date is 2020-03-12 then the range will be [2020-01-01, 2020-03-12].",
                    "Last 7 days, excluding current day.",
                    "Last 30 days, excluding current day."
                  ],
                  "type": "string",
                  "location": "query",
                  "description": "Date range of the report, if unset the range will be considered CUSTOM.",
                  "enum": [
                    "REPORTING_DATE_RANGE_UNSPECIFIED",
                    "CUSTOM",
                    "TODAY",
                    "YESTERDAY",
                    "MONTH_TO_DATE",
                    "YEAR_TO_DATE",
                    "LAST_7_DAYS",
                    "LAST_30_DAYS"
                  ]
                },
                "endDate.day": {
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "limit": {
                  "description": "The maximum number of rows of report data to return. Reports producing more rows than the requested limit will be truncated. If unset, this defaults to 100,000 rows for `Reports.GenerateReport` and 1,000,000 rows for `Reports.GenerateCsvReport`, which are also the maximum values permitted here. Report truncation can be identified (for `Reports.GenerateReport` only) by comparing the number of rows returned to the value returned in `total_matched_rows`.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "startDate.day": {
                  "location": "query",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                  "format": "int32",
                  "type": "integer"
                },
                "languageCode": {
                  "description": "The language to use for translating report output. If unspecified, this defaults to English (\"en\"). If the given language is not supported, report output will be returned in English. The language is specified as an [IETF BCP-47 language code](https://en.wikipedia.org/wiki/IETF_language_tag).",
                  "location": "query",
                  "type": "string"
                },
                "account": {
                  "description": "Required. The account which owns the collection of reports. Format: accounts/{account}",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "startDate.month": {
                  "location": "query",
                  "type": "integer",
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "format": "int32"
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "The name of a dimension or metric to sort the resulting report on, can be prefixed with \"+\" to sort ascending or \"-\" to sort descending. If no prefix is specified, the column is sorted ascending.",
                  "repeated": true
                },
                "filters": {
                  "type": "string",
                  "repeated": true,
                  "location": "query",
                  "description": "A list of [filters](/adsense/management/reporting/filtering) to apply to the report. All provided filters must match in order for the data to be included in the report."
                },
                "endDate.month": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
                },
                "reportingTimeZone": {
                  "type": "string",
                  "enum": [
                    "REPORTING_TIME_ZONE_UNSPECIFIED",
                    "ACCOUNT_TIME_ZONE",
                    "GOOGLE_TIME_ZONE"
                  ],
                  "description": "Timezone in which to generate the report. If unspecified, this defaults to the account timezone. For more information, see [changing the time zone of your reports](https://support.google.com/adsense/answer/9830725).",
                  "enumDescriptions": [
                    "Unspecified timezone.",
                    "Use the account timezone in the report.",
                    "Use the Google timezone in the report (America/Los_Angeles)."
                  ],
                  "location": "query"
                },
                "endDate.year": {
                  "type": "integer",
                  "location": "query",
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "format": "int32"
                },
                "currencyCode": {
                  "location": "query",
                  "description": "The [ISO-4217 currency code](https://en.wikipedia.org/wiki/ISO_4217) to use when reporting on monetary metrics. Defaults to the account's currency if not set.",
                  "type": "string"
                },
                "metrics": {
                  "type": "string",
                  "location": "query",
                  "repeated": true,
                  "description": "Required. Reporting metrics.",
                  "enum": [
                    "METRIC_UNSPECIFIED",
                    "PAGE_VIEWS",
                    "AD_REQUESTS",
                    "MATCHED_AD_REQUESTS",
                    "TOTAL_IMPRESSIONS",
                    "IMPRESSIONS",
                    "INDIVIDUAL_AD_IMPRESSIONS",
                    "CLICKS",
                    "PAGE_VIEWS_SPAM_RATIO",
                    "AD_REQUESTS_SPAM_RATIO",
                    "MATCHED_AD_REQUESTS_SPAM_RATIO",
                    "IMPRESSIONS_SPAM_RATIO",
                    "INDIVIDUAL_AD_IMPRESSIONS_SPAM_RATIO",
                    "CLICKS_SPAM_RATIO",
                    "AD_REQUESTS_COVERAGE",
                    "PAGE_VIEWS_CTR",
                    "AD_REQUESTS_CTR",
                    "MATCHED_AD_REQUESTS_CTR",
                    "IMPRESSIONS_CTR",
                    "INDIVIDUAL_AD_IMPRESSIONS_CTR",
                    "ACTIVE_VIEW_MEASURABILITY",
                    "ACTIVE_VIEW_VIEWABILITY",
                    "ACTIVE_VIEW_TIME",
                    "ESTIMATED_EARNINGS",
                    "PAGE_VIEWS_RPM",
                    "AD_REQUESTS_RPM",
                    "MATCHED_AD_REQUESTS_RPM",
                    "IMPRESSIONS_RPM",
                    "INDIVIDUAL_AD_IMPRESSIONS_RPM",
                    "COST_PER_CLICK",
                    "ADS_PER_IMPRESSION",
                    "TOTAL_EARNINGS",
                    "WEBSEARCH_RESULT_PAGES"
                  ],
                  "enumDescriptions": [
                    "Unspecified metric.",
                    "Number of page views.",
                    "Number of ad units that requested ads (for content ads) or search queries (for search ads). An ad request may result in zero, one, or multiple individual ad impressions depending on the size of the ad unit and whether any ads were available.",
                    "Requests that returned at least one ad.",
                    "Impressions. An impression is counted for each ad request where at least one ad has been downloaded to the user’s device and has begun to load. It is the number of ad units (for content ads) or search queries (for search ads) that showed ads.",
                    "Impressions. An impression is counted for each ad request where at least one ad has been downloaded to the user’s device and has begun to load. It is the number of ad units (for content ads) or search queries (for search ads) that showed ads.",
                    "Ads shown. Different ad formats will display varying numbers of ads. For example, a vertical banner may consist of 2 or more ads. Also, the number of ads in an ad unit may vary depending on whether the ad unit is displaying standard text ads, expanded text ads or image ads.",
                    "Number of times a user clicked on a standard content ad.",
                    "Fraction of page views considered to be spam. Only available to premium accounts.",
                    "Fraction of ad requests considered to be spam. Only available to premium accounts.",
                    "Fraction of ad requests that returned ads considered to be spam. Only available to premium accounts.",
                    "Fraction of impressions considered to be spam. Only available to premium accounts.",
                    "Fraction of ad impressions considered to be spam. Only available to premium accounts.",
                    "Fraction of clicks considered to be spam. Only available to premium accounts.",
                    "Ratio of requested ad units or queries to the number returned to the site.",
                    "Ratio of individual page views that resulted in a click.",
                    "Ratio of ad requests that resulted in a click.",
                    "Ratio of clicks to matched requests.",
                    "Ratio of IMPRESSIONS that resulted in a click.",
                    "Ratio of individual ad impressions that resulted in a click.",
                    "Ratio of requests that were measurable for viewability.",
                    "Ratio of requests that were viewable.",
                    "Mean time an ad was displayed on screen.",
                    "Estimated earnings of the publisher. Note that earnings up to yesterday are accurate, more recent earnings are estimated due to the possibility of spam, or exchange rate fluctuations.",
                    "Revenue per thousand page views. This is calculated by dividing the estimated revenue by the number of page views multiplied by 1000.",
                    "Revenue per thousand ad requests. This is calculated by dividing estimated revenue by the number of ad requests multiplied by 1000.",
                    "Revenue per thousand matched ad requests. This is calculated by dividing estimated revenue by the number of matched ad requests multiplied by 1000.",
                    "Revenue per thousand ad impressions. This is calculated by dividing estimated revenue by the number of ad impressions multiplied by 1000.",
                    "Revenue per thousand individual ad impressions. This is calculated by dividing estimated revenue by the number of individual ad impressions multiplied by 1000.",
                    "Amount the publisher earns each time a user clicks on an ad. CPC is calculated by dividing the estimated revenue by the number of clicks received.",
                    "Number of ad views per impression.",
                    "Total earnings are the gross estimated earnings from revenue shared traffic before any parent and child account revenue share is applied.",
                    "Number of results pages."
                  ]
                },
                "dimensions": {
                  "type": "string",
                  "location": "query",
                  "description": "Dimensions to base the report on.",
                  "enumDescriptions": [
                    "Unspecified dimension.",
                    "Date dimension in YYYY-MM-DD format (e.g. \"2010-02-10\").",
                    "Week dimension in YYYY-MM-DD format, representing the first day of each week (e.g. \"2010-02-08\"). The first day of the week is determined by the language_code specified in a report generation request (so e.g. this would be a Monday for \"en-GB\" or \"es\", but a Sunday for \"en\" or \"fr-CA\").",
                    "Month dimension in YYYY-MM format (e.g. \"2010-02\").",
                    "Account name. The members of this dimension match the values from Account.display_name.",
                    "Unique ID of an ad client. The members of this dimension match the values from AdClient.reporting_dimension_id.",
                    "Unique ID of a sub-account's ad client. The members of this dimension match the values from AdClient.reporting_dimension_id (for the sub-account).",
                    "Localized product name (e.g. \"AdSense for Content\", \"AdSense for Search\").",
                    "Product code (e.g. \"AFC\", \"AFS\"). The members of this dimension match the values from AdClient.product_code.",
                    "Ad unit name (within which an ad was served). The members of this dimension match the values from AdUnit.display_name.",
                    "Unique ID of an ad unit (within which an ad was served). The members of this dimension match the values from AdUnit.reporting_dimension_id.",
                    "Localized size of an ad unit (e.g. \"728x90\", \"Responsive\").",
                    "The size code of an ad unit (e.g. \"728x90\", \"responsive\").",
                    "Custom channel name. The members of this dimension match the values from CustomChannel.display_name.",
                    "Unique ID of a custom channel. The members of this dimension match the values from CustomChannel.reporting_dimension_id.",
                    "Domain name of a verified site (e.g. \"example.com\"). The members of this dimension match the values from Site.domain.",
                    "Unique ID of a verified site. The members of this dimension match the values from Site.reporting_dimension_id.",
                    "URL of the page upon which the ad was served. This is a complete URL including scheme and query parameters. Note that the URL that appears in this dimension may be a canonicalized version of the one that was used in the original request, and so may not exactly match the URL that a user might have seen. Note that there are also some caveats to be aware of when using this dimension. For more information, see [Page URL breakdown](https://support.google.com/adsense/answer/11988478).",
                    "Name of a URL channel. The members of this dimension match the values from UrlChannel.uri_pattern.",
                    "Unique ID of a URL channel. The members of this dimension match the values from UrlChannel.reporting_dimension_id.",
                    "Name of an ad network that returned the winning ads for an ad request (e.g. \"Google AdWords\"). Note that unlike other \"NAME\" dimensions, the members of this dimensions are not localized.",
                    "Unique (opaque) ID of an ad network that returned the winning ads for an ad request.",
                    "Localized bid type name (e.g. \"CPC bids\", \"CPM bids\") for a served ad.",
                    "Type of a bid (e.g. \"cpc\", \"cpm\") for a served ad.",
                    "Localized creative size name (e.g. \"728x90\", \"Dynamic\") of a served ad.",
                    "Creative size code (e.g. \"728x90\", \"dynamic\") of a served ad.",
                    "Localized name of a host on which an ad was served, after IDNA decoding (e.g. \"www.google.com\", \"Web caches and other\", \"bücher.example\").",
                    "Name of a host on which an ad was served (e.g. \"www.google.com\", \"webcaches\", \"xn--bcher-kva.example\").",
                    "Localized region name of a user viewing an ad (e.g. \"United States\", \"France\").",
                    "CLDR region code of a user viewing an ad (e.g. \"US\", \"FR\").",
                    "Localized platform type name (e.g. \"High-end mobile devices\", \"Desktop\").",
                    "Platform type code (e.g. \"HighEndMobile\", \"Desktop\").",
                    "Localized targeting type name (e.g. \"Contextual\", \"Personalized\", \"Run of Network\").",
                    "Targeting type code (e.g. \"Keyword\", \"UserInterest\", \"RunOfNetwork\").",
                    "Localized content platform name an ad request was made from (e.g. \"AMP\", \"Web\").",
                    "Content platform code an ad request was made from (e.g. \"AMP\", \"HTML\").",
                    "Localized ad placement name (e.g. \"Ad unit\", \"Global settings\", \"Manual\").",
                    "Ad placement code (e.g. \"AD_UNIT\", \"ca-pub-123456:78910\", \"OTHER\").",
                    "Localized requested ad type name (e.g. \"Display\", \"Link unit\", \"Other\").",
                    "Requested ad type code (e.g. \"IMAGE\", \"RADLINK\", \"OTHER\").",
                    "Localized served ad type name (e.g. \"Display\", \"Link unit\", \"Other\").",
                    "Served ad type code (e.g. \"IMAGE\", \"RADLINK\", \"OTHER\").",
                    "Localized ad format name indicating the way an ad is shown to the users on your site (e.g. \"In-page\", \"Anchor\", \"Vignette\").",
                    "Ad format code indicating the way an ad is shown to the users on your site (e.g. \"ON_PAGE\", \"ANCHOR\", \"INTERSTITIAL\").",
                    "Custom search style name.",
                    "Custom search style id.",
                    "Domain registrants.",
                    "Query strings for web searches."
                  ],
                  "repeated": true,
                  "enum": [
                    "DIMENSION_UNSPECIFIED",
                    "DATE",
                    "WEEK",
                    "MONTH",
                    "ACCOUNT_NAME",
                    "AD_CLIENT_ID",
                    "HOSTED_AD_CLIENT_ID",
                    "PRODUCT_NAME",
                    "PRODUCT_CODE",
                    "AD_UNIT_NAME",
                    "AD_UNIT_ID",
                    "AD_UNIT_SIZE_NAME",
                    "AD_UNIT_SIZE_CODE",
                    "CUSTOM_CHANNEL_NAME",
                    "CUSTOM_CHANNEL_ID",
                    "OWNED_SITE_DOMAIN_NAME",
                    "OWNED_SITE_ID",
                    "PAGE_URL",
                    "URL_CHANNEL_NAME",
                    "URL_CHANNEL_ID",
                    "BUYER_NETWORK_NAME",
                    "BUYER_NETWORK_ID",
                    "BID_TYPE_NAME",
                    "BID_TYPE_CODE",
                    "CREATIVE_SIZE_NAME",
                    "CREATIVE_SIZE_CODE",
                    "DOMAIN_NAME",
                    "DOMAIN_CODE",
                    "COUNTRY_NAME",
                    "COUNTRY_CODE",
                    "PLATFORM_TYPE_NAME",
                    "PLATFORM_TYPE_CODE",
                    "TARGETING_TYPE_NAME",
                    "TARGETING_TYPE_CODE",
                    "CONTENT_PLATFORM_NAME",
                    "CONTENT_PLATFORM_CODE",
                    "AD_PLACEMENT_NAME",
                    "AD_PLACEMENT_CODE",
                    "REQUESTED_AD_TYPE_NAME",
                    "REQUESTED_AD_TYPE_CODE",
                    "SERVED_AD_TYPE_NAME",
                    "SERVED_AD_TYPE_CODE",
                    "AD_FORMAT_NAME",
                    "AD_FORMAT_CODE",
                    "CUSTOM_SEARCH_STYLE_NAME",
                    "CUSTOM_SEARCH_STYLE_ID",
                    "DOMAIN_REGISTRANT",
                    "WEBSEARCH_QUERY_STRING"
                  ]
                }
              },
              "id": "adsense.accounts.reports.generate",
              "path": "v2/{+account}/reports:generate",
              "description": "Generates an ad hoc report.",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "response": {
                "$ref": "ReportResult"
              },
              "parameterOrder": [
                "account"
              ]
            },
            "getSaved": {
              "response": {
                "$ref": "SavedReport"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "description": "Gets the saved report from the given resource name.",
              "flatPath": "v2/accounts/{accountsId}/reports/{reportsId}/saved",
              "id": "adsense.accounts.reports.getSaved",
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}/saved",
              "parameters": {
                "name": {
                  "description": "Required. The name of the saved report to retrieve. Format: accounts/{account}/reports/{report}",
                  "type": "string",
                  "pattern": "^accounts/[^/]+/reports/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "GET"
            }
          },
          "resources": {
            "saved": {
              "methods": {
                "generateCsv": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "path": "v2/{+name}/saved:generateCsv",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "reportingTimeZone": {
                      "enumDescriptions": [
                        "Unspecified timezone.",
                        "Use the account timezone in the report.",
                        "Use the Google timezone in the report (America/Los_Angeles)."
                      ],
                      "enum": [
                        "REPORTING_TIME_ZONE_UNSPECIFIED",
                        "ACCOUNT_TIME_ZONE",
                        "GOOGLE_TIME_ZONE"
                      ],
                      "type": "string",
                      "description": "Timezone in which to generate the report. If unspecified, this defaults to the account timezone. For more information, see [changing the time zone of your reports](https://support.google.com/adsense/answer/9830725).",
                      "location": "query"
                    },
                    "languageCode": {
                      "location": "query",
                      "description": "The language to use for translating report output. If unspecified, this defaults to English (\"en\"). If the given language is not supported, report output will be returned in English. The language is specified as an [IETF BCP-47 language code](https://en.wikipedia.org/wiki/IETF_language_tag).",
                      "type": "string"
                    },
                    "startDate.month": {
                      "format": "int32",
                      "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                      "location": "query",
                      "type": "integer"
                    },
                    "endDate.day": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                      "location": "query"
                    },
                    "startDate.day": {
                      "location": "query",
                      "type": "integer",
                      "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                      "format": "int32"
                    },
                    "dateRange": {
                      "enum": [
                        "REPORTING_DATE_RANGE_UNSPECIFIED",
                        "CUSTOM",
                        "TODAY",
                        "YESTERDAY",
                        "MONTH_TO_DATE",
                        "YEAR_TO_DATE",
                        "LAST_7_DAYS",
                        "LAST_30_DAYS"
                      ],
                      "location": "query",
                      "type": "string",
                      "enumDescriptions": [
                        "Unspecified date range.",
                        "A custom date range specified using the `start_date` and `end_date` fields. This is the default if no ReportingDateRange is provided.",
                        "Current day.",
                        "Yesterday.",
                        "From the start of the current month to the current day. e.g. if the current date is 2020-03-12 then the range will be [2020-03-01, 2020-03-12].",
                        "From the start of the current year to the current day. e.g. if the current date is 2020-03-12 then the range will be [2020-01-01, 2020-03-12].",
                        "Last 7 days, excluding current day.",
                        "Last 30 days, excluding current day."
                      ],
                      "description": "Date range of the report, if unset the range will be considered CUSTOM."
                    },
                    "endDate.year": {
                      "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "currencyCode": {
                      "type": "string",
                      "location": "query",
                      "description": "The [ISO-4217 currency code](https://en.wikipedia.org/wiki/ISO_4217) to use when reporting on monetary metrics. Defaults to the account's currency if not set."
                    },
                    "startDate.year": {
                      "location": "query",
                      "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "endDate.month": {
                      "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^accounts/[^/]+/reports/[^/]+$",
                      "description": "Required. Name of the saved report. Format: accounts/{account}/reports/{report}",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "adsense.accounts.reports.saved.generateCsv",
                  "response": {
                    "$ref": "HttpBody"
                  },
                  "flatPath": "v2/accounts/{accountsId}/reports/{reportsId}/saved:generateCsv",
                  "description": "Generates a csv formatted saved report."
                },
                "generate": {
                  "path": "v2/{+name}/saved:generate",
                  "flatPath": "v2/accounts/{accountsId}/reports/{reportsId}/saved:generate",
                  "id": "adsense.accounts.reports.saved.generate",
                  "response": {
                    "$ref": "ReportResult"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Generates a saved report.",
                  "parameters": {
                    "name": {
                      "pattern": "^accounts/[^/]+/reports/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the saved report. Format: accounts/{account}/reports/{report}"
                    },
                    "reportingTimeZone": {
                      "enumDescriptions": [
                        "Unspecified timezone.",
                        "Use the account timezone in the report.",
                        "Use the Google timezone in the report (America/Los_Angeles)."
                      ],
                      "location": "query",
                      "description": "Timezone in which to generate the report. If unspecified, this defaults to the account timezone. For more information, see [changing the time zone of your reports](https://support.google.com/adsense/answer/9830725).",
                      "enum": [
                        "REPORTING_TIME_ZONE_UNSPECIFIED",
                        "ACCOUNT_TIME_ZONE",
                        "GOOGLE_TIME_ZONE"
                      ],
                      "type": "string"
                    },
                    "dateRange": {
                      "enum": [
                        "REPORTING_DATE_RANGE_UNSPECIFIED",
                        "CUSTOM",
                        "TODAY",
                        "YESTERDAY",
                        "MONTH_TO_DATE",
                        "YEAR_TO_DATE",
                        "LAST_7_DAYS",
                        "LAST_30_DAYS"
                      ],
                      "type": "string",
                      "enumDescriptions": [
                        "Unspecified date range.",
                        "A custom date range specified using the `start_date` and `end_date` fields. This is the default if no ReportingDateRange is provided.",
                        "Current day.",
                        "Yesterday.",
                        "From the start of the current month to the current day. e.g. if the current date is 2020-03-12 then the range will be [2020-03-01, 2020-03-12].",
                        "From the start of the current year to the current day. e.g. if the current date is 2020-03-12 then the range will be [2020-01-01, 2020-03-12].",
                        "Last 7 days, excluding current day.",
                        "Last 30 days, excluding current day."
                      ],
                      "location": "query",
                      "description": "Date range of the report, if unset the range will be considered CUSTOM."
                    },
                    "languageCode": {
                      "type": "string",
                      "location": "query",
                      "description": "The language to use for translating report output. If unspecified, this defaults to English (\"en\"). If the given language is not supported, report output will be returned in English. The language is specified as an [IETF BCP-47 language code](https://en.wikipedia.org/wiki/IETF_language_tag)."
                    },
                    "startDate.year": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                      "location": "query"
                    },
                    "currencyCode": {
                      "description": "The [ISO-4217 currency code](https://en.wikipedia.org/wiki/ISO_4217) to use when reporting on monetary metrics. Defaults to the account's currency if not set.",
                      "location": "query",
                      "type": "string"
                    },
                    "endDate.month": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                      "location": "query"
                    },
                    "endDate.year": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                      "location": "query"
                    },
                    "startDate.month": {
                      "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "startDate.day": {
                      "location": "query",
                      "type": "integer",
                      "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                      "format": "int32"
                    },
                    "endDate.day": {
                      "format": "int32",
                      "location": "query",
                      "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                      "type": "integer"
                    }
                  },
                  "httpMethod": "GET"
                },
                "list": {
                  "response": {
                    "$ref": "ListSavedReportsResponse"
                  },
                  "description": "Lists saved reports.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "id": "adsense.accounts.reports.saved.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "path": "v2/{+parent}/reports/saved",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of reports to include in the response, used for paging. If unspecified, at most 10000 reports will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000."
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The account which owns the collection of reports. Format: accounts/{account}",
                      "type": "string",
                      "location": "path",
                      "pattern": "^accounts/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A page token, received from a previous `ListPayments` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPayments` must match the call that provided the page token."
                    }
                  },
                  "flatPath": "v2/accounts/{accountsId}/reports/saved"
                }
              }
            }
          }
        },
        "alerts": {
          "methods": {
            "list": {
              "id": "adsense.accounts.alerts.list",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The account which owns the collection of alerts. Format: accounts/{account}",
                  "location": "path",
                  "required": true
                },
                "languageCode": {
                  "location": "query",
                  "description": "The language to use for translating alert messages. If unspecified, this defaults to the user's display language. If the given language is not supported, alerts will be returned in English. The language is specified as an [IETF BCP-47 language code](https://en.wikipedia.org/wiki/IETF_language_tag).",
                  "type": "string"
                }
              },
              "description": "Lists all the alerts available in an account.",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
[...]
