{
  "servicePath": "",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "rootUrl": "https://adsense.googleapis.com/",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "version": "v2",
  "revision": "20240324",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "title": "AdSense Management API",
  "fullyEncodeReservedExpansion": true,
  "id": "adsense:v2",
  "ownerName": "Google",
  "batchPath": "batch",
  "version_module": true,
  "baseUrl": "https://adsense.googleapis.com/",
  "documentationLink": "https://developers.google.com/adsense/management/",
  "name": "adsense",
  "mtlsRootUrl": "https://adsense.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "schemas": {
    "Account": {
      "id": "Account",
      "description": "Representation of an account.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the account. Format: accounts/pub-[0-9]+",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Output only. Display name of this account.",
          "readOnly": true,
          "type": "string"
        },
        "premium": {
          "description": "Output only. Whether this account is premium.",
          "readOnly": true,
          "type": "boolean"
        },
        "timeZone": {
          "description": "The account time zone, as used by reporting. For more information, see [changing the time zone of your reports](https://support.google.com/adsense/answer/9830725).",
          "$ref": "TimeZone"
        },
        "createTime": {
          "description": "Output only. Creation time of the account.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "pendingTasks": {
          "description": "Output only. Outstanding tasks that need to be completed as part of the sign-up process for a new account. e.g. \"billing-profile-creation\", \"phone-pin-verification\".",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "state": {
          "description": "Output only. State of the account.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "State unspecified.",
            "The account is open and ready to serve ads.",
            "There are some issues with this account. Publishers should visit AdSense in order to fix the account.",
            "The account is closed and can't serve ads."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "NEEDS_ATTENTION",
            "CLOSED"
          ]
        }
      }
    },
    "TimeZone": {
      "id": "TimeZone",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "type": "object",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone, e.g. \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number, e.g. \"2019a\".",
          "type": "string"
        }
      }
    },
    "ListAccountsResponse": {
      "id": "ListAccountsResponse",
      "description": "Response definition for the account list rpc.",
      "type": "object",
      "properties": {
        "accounts": {
          "description": "The accounts returned in this list response.",
          "type": "array",
          "items": {
            "$ref": "Account"
          }
        },
        "nextPageToken": {
          "description": "Continuation token used to page through accounts. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      }
    },
    "ListChildAccountsResponse": {
      "id": "ListChildAccountsResponse",
      "description": "Response definition for the child account list rpc.",
      "type": "object",
      "properties": {
        "accounts": {
          "description": "The accounts returned in this list response.",
          "type": "array",
          "items": {
            "$ref": "Account"
          }
        },
        "nextPageToken": {
          "description": "Continuation token used to page through accounts. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      }
    },
    "AdBlockingRecoveryTag": {
      "id": "AdBlockingRecoveryTag",
      "description": "Representation of an ad blocking recovery tag. See https://support.google.com/adsense/answer/11575177.",
      "type": "object",
      "properties": {
        "tag": {
          "description": "The ad blocking recovery tag. Note that the message generated by the tag can be blocked by an ad blocking extension. If this is not your desired outcome, then you'll need to use it in conjunction with the error protection code.",
          "type": "string"
        },
        "errorProtectionCode": {
          "description": "Error protection code that can be used in conjunction with the tag. It'll display a message to users if an [ad blocking extension blocks their access to your site](https://support.google.com/adsense/answer/11575480).",
          "type": "string"
        }
      }
    },
    "ListAdClientsResponse": {
      "id": "ListAdClientsResponse",
      "description": "Response definition for the ad client list rpc.",
      "type": "object",
      "properties": {
        "adClients": {
          "description": "The ad clients returned in this list response.",
          "type": "array",
          "items": {
            "$ref": "AdClient"
          }
        },
        "nextPageToken": {
          "description": "Continuation token used to page through ad clients. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      }
    },
    "AdClient": {
      "id": "AdClient",
      "description": "Representation of an ad client. An ad client represents a user's subscription with a specific AdSense product.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the ad client. Format: accounts/{account}/adclients/{adclient}",
          "readOnly": true,
          "type": "string"
        },
        "reportingDimensionId": {
          "description": "Output only. Unique ID of the ad client as used in the `AD_CLIENT_ID` reporting dimension. Present only if the ad client supports reporting.",
          "readOnly": true,
          "type": "string"
        },
        "productCode": {
          "description": "Output only. Reporting product code of the ad client. For example, \"AFC\" for AdSense for Content. Corresponds to the `PRODUCT_CODE` dimension, and present only if the ad client supports reporting.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the ad client.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "State unspecified.",
            "The ad client is ready to show ads.",
            "Running some checks on the ad client before it is ready to serve ads.",
            "The ad client hasn't been checked yet. There are tasks pending before AdSense will start the review."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "GETTING_READY",
            "REQUIRES_REVIEW"
          ]
        }
      }
    },
    "AdClientAdCode": {
      "id": "AdClientAdCode",
      "description": "Representation of the AdSense code for a given ad client. For more information, see [About the AdSense code](https://support.google.com/adsense/answer/9274634).",
      "type": "object",
      "properties": {
        "adCode": {
          "description": "Output only. The AdSense code snippet to add to the head of an HTML page.",
          "readOnly": true,
          "type": "string"
        },
        "ampHead": {
          "description": "Output only. The AdSense code snippet to add to the head of an AMP page.",
          "readOnly": true,
          "type": "string"
        },
        "ampBody": {
          "description": "Output only. The AdSense code snippet to add to the body of an AMP page.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "AdUnit": {
      "id": "AdUnit",
      "description": "Representation of an ad unit. An ad unit represents a saved ad unit with a specific set of ad settings that have been customized within an account.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the ad unit. Format: accounts/{account}/adclients/{adclient}/adunits/{adunit}",
          "readOnly": true,
          "type": "string"
        },
        "reportingDimensionId": {
          "description": "Output only. Unique ID of the ad unit as used in the `AD_UNIT_ID` reporting dimension.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Required. Display name of the ad unit, as provided when the ad unit was created.",
          "type": "string"
        },
        "state": {
          "description": "Required. State of the ad unit.",
          "type": "string",
          "enumDescriptions": [
            "State unspecified.",
            "Ad unit has been activated by the user.",
            "Ad unit has been archived by the user. Note that archived ad units are only removed from the default view in the UI. Archived ad units can still serve ads."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ARCHIVED"
          ]
        },
        "contentAdsSettings": {
          "description": "Required. Settings specific to content ads (AFC).",
          "$ref": "ContentAdsSettings"
        }
      }
    },
    "ContentAdsSettings": {
      "id": "ContentAdsSettings",
      "description": "Settings specific to content ads (AFC).",
      "type": "object",
      "properties": {
        "size": {
          "description": "Required. Size of the ad unit. e.g. \"728x90\", \"1x3\" (for responsive ad units).",
          "type": "string"
        },
        "type": {
          "description": "Required. Type of the ad unit.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified ad unit type.",
            "Display ad unit.",
            "In-feed ad unit.",
            "In-article ad unit.",
            "Matched content unit.",
            "Link ad unit. Note that link ad units have now been retired, see https://support.google.com/adsense/answer/9987221."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "DISPLAY",
            "FEED",
            "ARTICLE",
            "MATCHED_CONTENT",
            "LINK"
          ]
        }
      }
    },
    "ListAdUnitsResponse": {
      "id": "ListAdUnitsResponse",
      "description": "Response definition for the adunit list rpc.",
      "type": "object",
      "properties": {
        "adUnits": {
          "description": "The ad units returned in the list response.",
          "type": "array",
          "items": {
            "$ref": "AdUnit"
          }
        },
        "nextPageToken": {
          "description": "Continuation token used to page through ad units. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      }
    },
    "AdUnitAdCode": {
      "id": "AdUnitAdCode",
      "description": "Representation of the ad unit code for a given ad unit. For more information, see [About the AdSense code](https://support.google.com/adsense/answer/9274634) and [Where to place the ad code in your HTML](https://support.google.com/adsense/answer/9190028).",
      "type": "object",
      "properties": {
        "adCode": {
          "description": "Output only. The code snippet to add to the body of an HTML page.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ListLinkedAdUnitsResponse": {
      "id": "ListLinkedAdUnitsResponse",
      "description": "Response definition for the ad units linked to a custom channel list rpc.",
      "type": "object",
      "properties": {
        "adUnits": {
          "description": "The ad units returned in the list response.",
          "type": "array",
          "items": {
            "$ref": "AdUnit"
          }
        },
        "nextPageToken": {
          "description": "Continuation token used to page through ad units. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      }
    },
    "ListAlertsResponse": {
      "id": "ListAlertsResponse",
      "description": "Response definition for the alerts list rpc.",
      "type": "object",
      "properties": {
        "alerts": {
          "description": "The alerts returned in this list response.",
          "type": "array",
          "items": {
            "$ref": "Alert"
          }
        }
      }
    },
    "Alert": {
      "id": "Alert",
      "description": "Representation of an alert.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the alert. Format: accounts/{account}/alerts/{alert}",
          "readOnly": true,
          "type": "string"
        },
        "severity": {
          "description": "Output only. Severity of this alert.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified severity.",
            "Info.",
            "Warning.",
            "Severe."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "SEVERE"
          ]
        },
        "message": {
          "description": "Output only. The localized alert message. This may contain HTML markup, such as phrase elements or links.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "description": "Output only. Type of alert. This identifies the broad type of this alert, and provides a stable machine-readable identifier that will not be translated. For example, \"payment-hold\".",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "CustomChannel": {
      "id": "CustomChannel",
      "description": "Representation of a custom channel.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the custom channel. Format: accounts/{account}/adclients/{adclient}/customchannels/{customchannel}",
          "readOnly": true,
          "type": "string"
        },
        "reportingDimensionId": {
          "description": "Output only. Unique ID of the custom channel as used in the `CUSTOM_CHANNEL_ID` reporting dimension.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Required. Display name of the custom channel.",
          "type": "string"
        },
        "active": {
          "description": "Whether the custom channel is active and collecting data. See https://support.google.com/adsense/answer/10077192.",
          "type": "boolean"
        }
      }
    },
    "ListCustomChannelsResponse": {
      "id": "ListCustomChannelsResponse",
      "description": "Response definition for the custom channel list rpc.",
      "type": "object",
      "properties": {
        "customChannels": {
          "description": "The custom channels returned in this list response.",
          "type": "array",
          "items": {
            "$ref": "CustomChannel"
          }
        },
        "nextPageToken": {
          "description": "Continuation token used to page through alerts. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      }
    },
    "ListLinkedCustomChannelsResponse": {
      "id": "ListLinkedCustomChannelsResponse",
      "description": "Response definition for the custom channels linked to an adunit list rpc.",
      "type": "object",
      "properties": {
        "customChannels": {
          "description": "The custom channels returned in this list response.",
          "type": "array",
          "items": {
            "$ref": "CustomChannel"
          }
        },
        "nextPageToken": {
          "description": "Continuation token used to page through alerts. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "ListPaymentsResponse": {
      "id": "ListPaymentsResponse",
      "description": "Response definition for the payments list rpc.",
      "type": "object",
      "properties": {
        "payments": {
          "description": "The payments returned in this list response.",
          "type": "array",
          "items": {
            "$ref": "Payment"
          }
        }
      }
    },
    "Payment": {
      "id": "Payment",
      "description": "Representation of an unpaid or paid payment. See [Payment timelines for AdSense](https://support.google.com/adsense/answer/7164703) for more information about payments and the [YouTube homepage and payments account](https://support.google.com/adsense/answer/11622510) article for information about dedicated payments accounts for YouTube.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the payment. Format: - accounts/{account}/payments/unpaid for unpaid (current) AdSense earnings. - accounts/{account}/payments/youtube-unpaid for unpaid (current) YouTube earnings. - accounts/{account}/payments/yyyy-MM-dd for paid AdSense earnings. - accounts/{account}/payments/youtube-yyyy-MM-dd for paid YouTube earnings.",
          "readOnly": true,
          "type": "string"
        },
        "date": {
          "description": "Output only. For paid earnings, the date that the payment was credited. For unpaid earnings, this field is empty. Payment dates are always returned in the billing timezone (America/Los_Angeles).",
          "readOnly": true,
          "$ref": "Date"
        },
        "amount": {
          "description": "Output only. The amount of unpaid or paid earnings, as a formatted string, including the currency. E.g. \"¥1,235 JPY\", \"$1,234.57\", \"£87.65\".",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Date": {
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "PolicyIssue": {
      "id": "PolicyIssue",
      "description": "Representation of a policy issue for a single entity (site, site-section, or page). All issues for a single entity are represented by a single PolicyIssue resource, though that PolicyIssue can have multiple causes (or \"topics\") that can change over time. Policy issues are removed if there are no issues detected recently or if there's a recent successful appeal for the entity.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Resource name of the entity with policy issues. Format: accounts/{account}/policyIssues/{policy_issue}",
          "type": "string"
        },
        "entityType": {
          "description": "Required. Type of the entity indicating if the entity is a site, site-section, or page.",
          "type": "string",
          "enumDescriptions": [
            "The entity type is unspecified.",
            "The enforced entity is an entire website.",
            "The enforced entity is a particular section of a website. All the pages with this prefix are enforced.",
            "The enforced entity is a single web page."
          ],
          "enum": [
            "ENTITY_TYPE_UNSPECIFIED",
            "SITE",
            "SITE_SECTION",
            "PAGE"
          ]
        },
        "site": {
          "description": "Required. Hostname/domain of the entity (for example \"foo.com\" or \"www.foo.com\"). This _should_ be a bare domain/host name without any protocol. This will be present for all policy issues.",
          "type": "string"
        },
        "siteSection": {
          "description": "Optional. Prefix of the site-section having policy issues (For example \"foo.com/bar-section\"). This will be present if the `entity_type` is `SITE_SECTION` and will be absent for other entity types.",
          "type": "string"
        },
        "uri": {
          "description": "Optional. URI of the page having policy violations (for example \"foo.com/bar\" or \"www.foo.com/bar\"). This will be present if the `entity_type` is `PAGE` and will be absent for other entity types.",
          "type": "string"
        },
        "adClients": {
          "description": "Optional. List of ad clients associated with the policy issue (either as the primary ad client or an associated host/secondary ad client). In the latter case, this will be an ad client that is not owned by the current account.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "policyTopics": {
          "description": "Required. Unordered list. The policy topics that this entity was found to violate over the past seven days.",
          "type": "array",
          "items": {
            "$ref": "PolicyTopic"
          }
        },
        "adRequestCount": {
          "description": "Required. Total number of ad requests affected by the policy violations over the past seven days.",
          "type": "string",
          "format": "int64"
        },
        "action": {
          "description": "Required. The most severe action taken on the entity over the past seven days.",
          "type": "string",
          "enumDescriptions": [
            "The action is unspecified.",
            "No ad serving enforcement is currently present, but enforcement will start on the `warning_escalation_date` if the issue is not resolved.",
            "Ad serving demand has been restricted on the entity.",
            "Ad serving has been disabled on the entity.",
            "Ads are being served for the entity but Confirmed Click is being applied to the ads. See https://support.google.com/adsense/answer/10025624.",
            "Ad personalization is restricted because the ad requests coming from the EEA and UK do not have a TCF string or the Consent Management Platform (CMP) indicated by the TCF string is not Google certified. As a result, basic/limited ads will be served. See https://support.google.com/adsense/answer/13554116"
          ],
          "enum": [
            "ENFORCEMENT_ACTION_UNSPECIFIED",
            "WARNED",
            "AD_SERVING_RESTRICTED",
            "AD_SERVING_DISABLED",
            "AD_SERVED_WITH_CLICK_CONFIRMATION",
            "AD_PERSONALIZATION_RESTRICTED"
          ]
        },
        "firstDetectedDate": {
          "description": "Required. The date (in the America/Los_Angeles timezone) when policy violations were first detected on the entity.",
          "$ref": "Date"
        },
        "lastDetectedDate": {
          "description": "Required. The date (in the America/Los_Angeles timezone) when policy violations were last detected on the entity.",
          "$ref": "Date"
        },
        "warningEscalationDate": {
          "description": "Optional. The date (in the America/Los_Angeles timezone) when the entity will have ad serving demand restricted or ad serving disabled. This is present only for issues with a `WARNED` enforcement action. See https://support.google.com/adsense/answer/11066888.",
          "$ref": "Date"
        }
      }
    },
    "PolicyTopic": {
      "id": "PolicyTopic",
      "description": "Information about a particular policy topic. A policy topic represents a single class of policy issue that can impact ad serving for your site. For example, sexual content or having ads that obscure your content. A single policy issue can have multiple policy topics for a single entity.",
      "type": "object",
      "properties": {
        "topic": {
          "description": "Required. The policy topic. For example, \"sexual-content\" or \"ads-obscuring-content\".\"",
          "type": "string"
        },
        "mustFix": {
          "description": "Required. Indicates if this is a policy violation or not. When the value is true, issues that are instances of this topic must be addressed to remain in compliance with the partner's agreements with Google. A false value indicates that it's not mandatory to fix the issues but advertising demand might be restricted.",
          "type": "boolean"
        }
      }
    },
    "ListPolicyIssuesResponse": {
      "id": "ListPolicyIssuesResponse",
      "description": "Response definition for the policy issues list rpc. Policy issues are reported only if the publisher has at least one AFC ad client in READY or GETTING_READY state. If the publisher has no such AFC ad client, the response will be an empty list.",
      "type": "object",
      "properties": {
        "policyIssues": {
          "description": "The policy issues returned in the list response.",
          "type": "array",
          "items": {
            "$ref": "PolicyIssue"
          }
        },
        "nextPageToken": {
          "description": "Continuation token used to page through policy issues. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      }
    },
    "ReportResult": {
      "id": "ReportResult",
      "description": "Result of a generated report.",
      "type": "object",
      "properties": {
        "totalMatchedRows": {
          "description": "The total number of rows matched by the report request.",
          "type": "string",
          "format": "int64"
        },
        "headers": {
          "description": "The header information; one for each dimension in the request, followed by one for each metric in the request.",
          "type": "array",
          "items": {
            "$ref": "Header"
          }
        },
        "rows": {
          "description": "The output rows of the report. Each row is a list of cells; one for each dimension in the request, followed by one for each metric in the request.",
          "type": "array",
          "items": {
            "$ref": "Row"
          }
        },
        "totals": {
          "description": "The totals of the report. This is the same length as any other row in the report; cells corresponding to dimension columns are empty.",
          "$ref": "Row"
        },
        "averages": {
          "description": "The averages of the report. This is the same length as any other row in the report; cells corresponding to dimension columns are empty.",
          "$ref": "Row"
        },
        "warnings": {
          "description": "Any warnings associated with generation of the report. These warnings are always returned in English.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "startDate": {
          "description": "Required. Start date of the range (inclusive).",
          "$ref": "Date"
        },
        "endDate": {
          "description": "Required. End date of the range (inclusive).",
          "$ref": "Date"
        }
      }
    },
    "Header": {
      "id": "Header",
      "description": "The header information of the columns requested in the report.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Name of the header.",
          "type": "string"
        },
        "type": {
          "description": "Required. Type of the header.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified header.",
            "Dimension header type.",
            "Tally header type.",
            "Ratio header type.",
            "Currency header type.",
            "Milliseconds header type.",
            "Decimal header type."
          ],
          "enum": [
            "HEADER_TYPE_UNSPECIFIED",
            "DIMENSION",
            "METRIC_TALLY",
            "METRIC_RATIO",
            "METRIC_CURRENCY",
            "METRIC_MILLISECONDS",
            "METRIC_DECIMAL"
          ]
        },
        "currencyCode": {
          "description": "The [ISO-4217 currency code](https://en.wikipedia.org/wiki/ISO_4217) of this column. Only present if the header type is METRIC_CURRENCY.",
          "type": "string"
        }
      }
    },
    "Row": {
      "id": "Row",
      "description": "Row representation.",
      "type": "object",
      "properties": {
        "cells": {
          "description": "Cells in the row.",
          "type": "array",
          "items": {
            "$ref": "Cell"
          }
        }
      }
    },
    "Cell": {
      "id": "Cell",
      "description": "Cell representation.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Value in the cell. The dimension cells contain strings, and the metric cells contain numbers.",
          "type": "string"
        }
      }
    },
    "HttpBody": {
      "id": "HttpBody",
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "type": "object",
      "properties": {
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        },
        "data": {
          "description": "The HTTP request/response body as raw binary.",
          "type": "string",
          "format": "byte"
        },
        "extensions": {
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "SavedReport": {
      "id": "SavedReport",
      "description": "Representation of a saved report.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the report. Format: accounts/{account}/reports/{report}",
          "readOnly": true,
          "type": "string"
        },
        "title": {
          "description": "Report title as specified by publisher.",
          "type": "string"
        }
      }
    },
    "ListSavedReportsResponse": {
      "id": "ListSavedReportsResponse",
      "description": "Response definition for the saved reports list rpc.",
      "type": "object",
      "properties": {
        "savedReports": {
          "description": "The reports returned in this list response.",
          "type": "array",
          "items": {
            "$ref": "SavedReport"
          }
        },
        "nextPageToken": {
          "description": "Continuation token used to page through reports. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      }
    },
    "Site": {
      "id": "Site",
      "description": "Representation of a Site.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name of a site. Format: accounts/{account}/sites/{site}",
          "readOnly": true,
          "type": "string"
        },
        "reportingDimensionId": {
          "description": "Output only. Unique ID of the site as used in the `OWNED_SITE_ID` reporting dimension.",
          "readOnly": true,
          "type": "string"
        },
        "domain": {
          "description": "Domain (or subdomain) of the site, e.g. \"example.com\" or \"www.example.com\". This is used in the `OWNED_SITE_DOMAIN_NAME` reporting dimension.",
          "type": "string"
        },
        "state": {
          "description": "Output only. State of a site.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "State unspecified.",
            "Either: * The site hasn't been checked yet. * The site is inactive and needs another review before it can show ads again. Learn how to [request a review for an inactive site](https://support.google.com/adsense/answer/9393996).",
            "Google is running some checks on the site. This usually takes a few days, but in some cases it can take two to four weeks.",
            "The site is ready to show ads. Learn how to [set up ads on the site](https://support.google.com/adsense/answer/7037624).",
            "Publisher needs to fix some issues before the site is ready to show ads. Learn what to do [if a new site isn't ready](https://support.google.com/adsense/answer/9061852)."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "REQUIRES_REVIEW",
            "GETTING_READY",
            "READY",
            "NEEDS_ATTENTION"
          ]
        },
        "autoAdsEnabled": {
          "description": "Whether auto ads is turned on for the site.",
          "type": "boolean"
        }
      }
    },
    "ListSitesResponse": {
      "id": "ListSitesResponse",
      "description": "Response definition for the sites list rpc.",
      "type": "object",
      "properties": {
        "sites": {
          "description": "The sites returned in this list response.",
          "type": "array",
          "items": {
            "$ref": "Site"
          }
        },
        "nextPageToken": {
          "description": "Continuation token used to page through sites. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      }
    },
    "UrlChannel": {
      "id": "UrlChannel",
      "description": "Representation of a URL channel. URL channels allow you to track the performance of particular pages in your site; see [URL channels](https://support.google.com/adsense/answer/2923836) for more information.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the URL channel. Format: accounts/{account}/adclients/{adclient}/urlchannels/{urlchannel}",
          "readOnly": true,
          "type": "string"
        },
        "reportingDimensionId": {
          "description": "Output only. Unique ID of the custom channel as used in the `URL_CHANNEL_ID` reporting dimension.",
          "readOnly": true,
          "type": "string"
        },
        "uriPattern": {
          "description": "URI pattern of the channel. Does not include \"http://\" or \"https://\". Example: www.example.com/home",
          "type": "string"
        }
      }
    },
    "ListUrlChannelsResponse": {
      "id": "ListUrlChannelsResponse",
      "description": "Response definition for the url channels list rpc.",
      "type": "object",
      "properties": {
        "urlChannels": {
          "description": "The url channels returned in this list response.",
          "type": "array",
          "items": {
            "$ref": "UrlChannel"
          }
        },
        "nextPageToken": {
          "description": "Continuation token used to page through url channels. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adsense": {
          "description": "View and manage your AdSense data"
        },
        "https://www.googleapis.com/auth/adsense.readonly": {
          "description": "View your AdSense data"
        }
      }
    }
  },
  "description": "The AdSense Management API allows publishers to access their inventory and run earnings and performance reports.",
  "resources": {
    "accounts": {
      "methods": {
        "get": {
          "id": "adsense.accounts.get",
          "path": "v2/{+name}",
          "flatPath": "v2/accounts/{accountsId}",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "Required. Account to get information about. Format: accounts/{account}",
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Account"
          },
          "scopes": [
            "https://www.googleapis.com/auth/adsense",
            "https://www.googleapis.com/auth/adsense.readonly"
          ],
          "description": "Gets information about the selected AdSense account."
        },
        "list": {
          "id": "adsense.accounts.list",
          "path": "v2/accounts",
          "flatPath": "v2/accounts",
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "description": "The maximum number of accounts to include in the response, used for paging. If unspecified, at most 10000 accounts will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "description": "A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccounts` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "ListAccountsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/adsense",
            "https://www.googleapis.com/auth/adsense.readonly"
          ],
          "description": "Lists all accounts available to this user."
        },
        "listChildAccounts": {
          "id": "adsense.accounts.listChildAccounts",
          "path": "v2/{+parent}:listChildAccounts",
          "flatPath": "v2/accounts/{accountsId}:listChildAccounts",
          "httpMethod": "GET",
          "parameters": {
            "parent": {
              "description": "Required. The parent account, which owns the child accounts. Format: accounts/{account}",
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageSize": {
              "description": "The maximum number of accounts to include in the response, used for paging. If unspecified, at most 10000 accounts will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "description": "A page token, received from a previous `ListChildAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListChildAccounts` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "ListChildAccountsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/adsense",
            "https://www.googleapis.com/auth/adsense.readonly"
          ],
          "description": "Lists all accounts directly managed by the given AdSense account."
        },
        "getAdBlockingRecoveryTag": {
          "id": "adsense.accounts.getAdBlockingRecoveryTag",
          "path": "v2/{+name}/adBlockingRecoveryTag",
          "flatPath": "v2/accounts/{accountsId}/adBlockingRecoveryTag",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "Required. The name of the account to get the tag for. Format: accounts/{account}",
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "AdBlockingRecoveryTag"
          },
          "scopes": [
            "https://www.googleapis.com/auth/adsense",
            "https://www.googleapis.com/auth/adsense.readonly"
          ],
          "description": "Gets the ad blocking recovery tag of an account."
        }
      },
      "resources": {
        "adclients": {
          "methods": {
            "list": {
              "id": "adsense.accounts.adclients.list",
              "path": "v2/{+parent}/adclients",
              "flatPath": "v2/accounts/{accountsId}/adclients",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. The account which owns the collection of ad clients. Format: accounts/{account}",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of ad clients to include in the response, used for paging. If unspecified, at most 10000 ad clients will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListAdClients` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAdClients` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListAdClientsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "description": "Lists all the ad clients available in an account."
            },
            "get": {
              "id": "adsense.accounts.adclients.get",
              "path": "v2/{+name}",
              "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The name of the ad client to retrieve. Format: accounts/{account}/adclients/{adclient}",
                  "pattern": "^accounts/[^/]+/adclients/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "AdClient"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "description": "Gets the ad client from the given resource name."
            },
            "getAdcode": {
              "id": "adsense.accounts.adclients.getAdcode",
              "path": "v2/{+name}/adcode",
              "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/adcode",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. Name of the ad client for which to get the adcode. Format: accounts/{account}/adclients/{adclient}",
                  "pattern": "^accounts/[^/]+/adclients/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "AdClientAdCode"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "description": "Gets the AdSense code for a given ad client. This returns what was previously known as the 'auto ad code'. This is only supported for ad clients with a product_code of AFC. For more information, see [About the AdSense code](https://support.google.com/adsense/answer/9274634)."
            }
          },
          "resources": {
            "adunits": {
              "methods": {
                "get": {
                  "id": "adsense.accounts.adclients.adunits.get",
                  "path": "v2/{+name}",
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/adunits/{adunitsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. AdUnit to get information about. Format: accounts/{account}/adclients/{adclient}/adunits/{adunit}",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/adunits/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "AdUnit"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "description": "Gets an ad unit from a specified account and ad client."
                },
                "list": {
                  "id": "adsense.accounts.adclients.adunits.list",
                  "path": "v2/{+parent}/adunits",
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/adunits",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "Required. The ad client which owns the collection of ad units. Format: accounts/{account}/adclients/{adclient}",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of ad units to include in the response, used for paging. If unspecified, at most 10000 ad units will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListAdUnits` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAdUnits` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListAdUnitsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "description": "Lists all ad units under a specified account and ad client."
                },
                "getAdcode": {
                  "id": "adsense.accounts.adclients.adunits.getAdcode",
                  "path": "v2/{+name}/adcode",
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/adunits/{adunitsId}/adcode",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the adunit for which to get the adcode. Format: accounts/{account}/adclients/{adclient}/adunits/{adunit}",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/adunits/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "AdUnitAdCode"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "description": "Gets the ad unit code for a given ad unit. For more information, see [About the AdSense code](https://support.google.com/adsense/answer/9274634) and [Where to place the ad code in your HTML](https://support.google.com/adsense/answer/9190028)."
                },
                "create": {
                  "id": "adsense.accounts.adclients.adunits.create",
                  "path": "v2/{+parent}/adunits",
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/adunits",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. Ad client to create an ad unit under. Format: accounts/{account}/adclients/{adclient}",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "AdUnit"
                  },
                  "response": {
                    "$ref": "AdUnit"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "description": "Creates an ad unit. This method can be called only by a restricted set of projects, which are usually owned by [AdSense for Platforms](https://developers.google.com/adsense/platforms/) publishers. Contact your account manager if you need to use this method. Note that ad units can only be created for ad clients with an \"AFC\" product code. For more info see the [AdClient resource](/adsense/management/reference/rest/v2/accounts.adclients). For now, this method can only be used to create `DISPLAY` ad units. See: https://support.google.com/adsense/answer/9183566"
                },
                "patch": {
                  "id": "adsense.accounts.adclients.adunits.patch",
                  "path": "v2/{+name}",
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/adunits/{adunitsId}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "description": "Output only. Resource name of the ad unit. Format: accounts/{account}/adclients/{adclient}/adunits/{adunit}",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/adunits/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "The list of fields to update. If empty, a full update is performed.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "AdUnit"
                  },
                  "response": {
                    "$ref": "AdUnit"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "description": "Updates an ad unit. This method can be called only by a restricted set of projects, which are usually owned by [AdSense for Platforms](https://developers.google.com/adsense/platforms/) publishers. Contact your account manager if you need to use this method. For now, this method can only be used to update `DISPLAY` ad units. See: https://support.google.com/adsense/answer/9183566"
                },
                "listLinkedCustomChannels": {
                  "id": "adsense.accounts.adclients.adunits.listLinkedCustomChannels",
                  "path": "v2/{+parent}:listLinkedCustomChannels",
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/adunits/{adunitsId}:listLinkedCustomChannels",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "Required. The ad unit which owns the collection of custom channels. Format: accounts/{account}/adclients/{adclient}/adunits/{adunit}",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/adunits/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of custom channels to include in the response, used for paging. If unspecified, at most 10000 custom channels will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListLinkedCustomChannels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLinkedCustomChannels` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListLinkedCustomChannelsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "description": "Lists all the custom channels available for an ad unit."
                }
              }
            },
            "customchannels": {
              "methods": {
                "listLinkedAdUnits": {
                  "id": "adsense.accounts.adclients.customchannels.listLinkedAdUnits",
                  "path": "v2/{+parent}:listLinkedAdUnits",
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/customchannels/{customchannelsId}:listLinkedAdUnits",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "Required. The custom channel which owns the collection of ad units. Format: accounts/{account}/adclients/{adclient}/customchannels/{customchannel}",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/customchannels/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of ad units to include in the response, used for paging. If unspecified, at most 10000 ad units will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListLinkedAdUnits` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLinkedAdUnits` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListLinkedAdUnitsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "description": "Lists all the ad units available for a custom channel."
                },
                "get": {
                  "id": "adsense.accounts.adclients.customchannels.get",
                  "path": "v2/{+name}",
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/customchannels/{customchannelsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the custom channel. Format: accounts/{account}/adclients/{adclient}/customchannels/{customchannel}",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/customchannels/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "CustomChannel"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "description": "Gets information about the selected custom channel."
                },
                "list": {
                  "id": "adsense.accounts.adclients.customchannels.list",
                  "path": "v2/{+parent}/customchannels",
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/customchannels",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "Required. The ad client which owns the collection of custom channels. Format: accounts/{account}/adclients/{adclient}",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of custom channels to include in the response, used for paging. If unspecified, at most 10000 custom channels will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListCustomChannels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCustomChannels` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListCustomChannelsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "description": "Lists all the custom channels available in an ad client."
                },
                "create": {
                  "id": "adsense.accounts.adclients.customchannels.create",
                  "path": "v2/{+parent}/customchannels",
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/customchannels",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The ad client to create a custom channel under. Format: accounts/{account}/adclients/{adclient}",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "CustomChannel"
                  },
                  "response": {
                    "$ref": "CustomChannel"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "description": "Creates a custom channel. This method can be called only by a restricted set of projects, which are usually owned by [AdSense for Platforms](https://developers.google.com/adsense/platforms/) publishers. Contact your account manager if you need to use this method."
                },
                "patch": {
                  "id": "adsense.accounts.adclients.customchannels.patch",
                  "path": "v2/{+name}",
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/customchannels/{customchannelsId}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "description": "Output only. Resource name of the custom channel. Format: accounts/{account}/adclients/{adclient}/customchannels/{customchannel}",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/customchannels/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "The list of fields to update. If empty, a full update is performed.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CustomChannel"
                  },
                  "response": {
                    "$ref": "CustomChannel"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "description": "Updates a custom channel. This method can be called only by a restricted set of projects, which are usually owned by [AdSense for Platforms](https://developers.google.com/adsense/platforms/) publishers. Contact your account manager if you need to use this method."
                },
                "delete": {
                  "id": "adsense.accounts.adclients.customchannels.delete",
                  "path": "v2/{+name}",
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/customchannels/{customchannelsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the custom channel to delete. Format: accounts/{account}/adclients/{adclient}/customchannels/{customchannel}",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/customchannels/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "description": "Deletes a custom channel. This method can be called only by a restricted set of projects, which are usually owned by [AdSense for Platforms](https://developers.google.com/adsense/platforms/) publishers. Contact your account manager if you need to use this method."
                }
              }
            },
            "urlchannels": {
              "methods": {
                "get": {
                  "id": "adsense.accounts.adclients.urlchannels.get",
                  "path": "v2/{+name}",
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/urlchannels/{urlchannelsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the url channel to retrieve. Format: accounts/{account}/adclients/{adclient}/urlchannels/{urlchannel}",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/urlchannels/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "UrlChannel"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "description": "Gets information about the selected url channel."
                },
                "list": {
                  "id": "adsense.accounts.adclients.urlchannels.list",
                  "path": "v2/{+parent}/urlchannels",
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/urlchannels",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "Required. The ad client which owns the collection of url channels. Format: accounts/{account}/adclients/{adclient}",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of url channels to include in the response, used for paging. If unspecified, at most 10000 url channels will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListUrlChannels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUrlChannels` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListUrlChannelsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "description": "Lists active url channels."
                }
              }
            }
          }
        },
        "alerts": {
          "methods": {
            "list": {
              "id": "adsense.accounts.alerts.list",
              "path": "v2/{+parent}/alerts",
              "flatPath": "v2/accounts/{accountsId}/alerts",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. The account which owns the collection of alerts. Format: accounts/{account}",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "languageCode": {
                  "description": "The language to use for translating alert messages. If unspecified, this defaults to the user's display language. If the given language is not supported, alerts will be returned in English. The language is specified as an [IETF BCP-47 language code](https://en.wikipedia.org/wiki/IETF_language_tag).",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListAlertsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "description": "Lists all the alerts available in an account."
            }
          }
        },
        "payments": {
          "methods": {
            "list": {
              "id": "adsense.accounts.payments.list",
              "path": "v2/{+parent}/payments",
              "flatPath": "v2/accounts/{accountsId}/payments",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. The account which owns the collection of payments. Format: accounts/{account}",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListPaymentsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "description": "Lists all the payments available for an account."
            }
          }
        },
        "policyIssues": {
          "methods": {
            "get": {
              "id": "adsense.accounts.policyIssues.get",
              "path": "v2/{+name}",
              "flatPath": "v2/accounts/{accountsId}/policyIssues/{policyIssuesId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. Name of the policy issue. Format: accounts/{account}/policyIssues/{policy_issue}",
                  "pattern": "^accounts/[^/]+/policyIssues/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "PolicyIssue"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "description": "Gets information about the selected policy issue."
            },
            "list": {
              "id": "adsense.accounts.policyIssues.list",
              "path": "v2/{+parent}/policyIssues",
              "flatPath": "v2/accounts/{accountsId}/policyIssues",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. The account for which policy issues are being retrieved. Format: accounts/{account}",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of policy issues to include in the response, used for paging. If unspecified, at most 10000 policy issues will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListPolicyIssues` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPolicyIssues` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListPolicyIssuesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "description": "Lists all the policy issues for the specified account."
            }
          }
        },
        "reports": {
          "methods": {
            "getSaved": {
              "id": "adsense.accounts.reports.getSaved",
              "path": "v2/{+name}/saved",
              "flatPath": "v2/accounts/{accountsId}/reports/{reportsId}/saved",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The name of the saved report to retrieve. Format: accounts/{account}/reports/{report}",
                  "pattern": "^accounts/[^/]+/reports/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SavedReport"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "description": "Gets the saved report from the given resource name."
            },
            "generate": {
              "id": "adsense.accounts.reports.generate",
              "path": "v2/{+account}/reports:generate",
              "flatPath": "v2/accounts/{accountsId}/reports:generate",
              "httpMethod": "GET",
              "parameters": {
                "account": {
                  "description": "Required. The account which owns the collection of reports. Format: accounts/{account}",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "dimensions": {
                  "description": "Dimensions to base the report on.",
                  "location": "query",
                  "repeated": true,
                  "type": "string",
                  "enumDescriptions": [
                    "Unspecified dimension.",
                    "Date dimension in YYYY-MM-DD format (e.g. \"2010-02-10\").",
                    "Week dimension in YYYY-MM-DD format, representing the first day of each week (e.g. \"2010-02-08\"). The first day of the week is determined by the language_code specified in a report generation request (so e.g. this would be a Monday for \"en-GB\" or \"es\", but a Sunday for \"en\" or \"fr-CA\").",
                    "Month dimension in YYYY-MM format (e.g. \"2010-02\").",
                    "Account name. The members of this dimension match the values from Account.display_name.",
                    "Unique ID of an ad client. The members of this dimension match the values from AdClient.reporting_dimension_id.",
                    "Unique ID of a sub-account's ad client. The members of this dimension match the values from AdClient.reporting_dimension_id (for the sub-account).",
                    "Localized product name (e.g. \"AdSense for Content\", \"AdSense for Search\").",
                    "Product code (e.g. \"AFC\", \"AFS\"). The members of this dimension match the values from AdClient.product_code.",
                    "Ad unit name (within which an ad was served). The members of this dimension match the values from AdUnit.display_name.",
                    "Unique ID of an ad unit (within which an ad was served). The members of this dimension match the values from AdUnit.reporting_dimension_id.",
                    "Localized size of an ad unit (e.g. \"728x90\", \"Responsive\").",
                    "The size code of an ad unit (e.g. \"728x90\", \"responsive\").",
                    "Custom channel name. The members of this dimension match the values from CustomChannel.display_name.",
                    "Unique ID of a custom channel. The members of this dimension match the values from CustomChannel.reporting_dimension_id.",
                    "Domain name of a verified site (e.g. \"example.com\"). The members of this dimension match the values from Site.domain.",
                    "Unique ID of a verified site. The members of this dimension match the values from Site.reporting_dimension_id.",
                    "URL of the page upon which the ad was served. This is a complete URL including scheme and query parameters. Note that the URL that appears in this dimension may be a canonicalized version of the one that was used in the original request, and so may not exactly match the URL that a user might have seen. Note that there are also some caveats to be aware of when using this dimension. For more information, see [Page URL breakdown](https://support.google.com/adsense/answer/11988478).",
                    "Name of a URL channel. The members of this dimension match the values from UrlChannel.uri_pattern.",
                    "Unique ID of a URL channel. The members of this dimension match the values from UrlChannel.reporting_dimension_id.",
                    "Name of an ad network that returned the winning ads for an ad request (e.g. \"Google AdWords\"). Note that unlike other \"NAME\" dimensions, the members of this dimensions are not localized.",
                    "Unique (opaque) ID of an ad network that returned the winning ads for an ad request.",
                    "Localized bid type name (e.g. \"CPC bids\", \"CPM bids\") for a served ad.",
                    "Type of a bid (e.g. \"cpc\", \"cpm\") for a served ad.",
                    "Localized creative size name (e.g. \"728x90\", \"Dynamic\") of a served ad.",
                    "Creative size code (e.g. \"728x90\", \"dynamic\") of a served ad.",
                    "Localized name of a host on which an ad was served, after IDNA decoding (e.g. \"www.google.com\", \"Web caches and other\", \"bücher.example\").",
                    "Name of a host on which an ad was served (e.g. \"www.google.com\", \"webcaches\", \"xn--bcher-kva.example\").",
                    "Localized region name of a user viewing an ad (e.g. \"United States\", \"France\").",
                    "CLDR region code of a user viewing an ad (e.g. \"US\", \"FR\").",
                    "Localized platform type name (e.g. \"High-end mobile devices\", \"Desktop\").",
                    "Platform type code (e.g. \"HighEndMobile\", \"Desktop\").",
                    "Localized targeting type name (e.g. \"Contextual\", \"Personalized\", \"Run of Network\").",
                    "Targeting type code (e.g. \"Keyword\", \"UserInterest\", \"RunOfNetwork\").",
                    "Localized content platform name an ad request was made from (e.g. \"AMP\", \"Web\").",
                    "Content platform code an ad request was made from (e.g. \"AMP\", \"HTML\").",
                    "Localized ad placement name (e.g. \"Ad unit\", \"Global settings\", \"Manual\").",
                    "Ad placement code (e.g. \"AD_UNIT\", \"ca-pub-123456:78910\", \"OTHER\").",
                    "Localized requested ad type name (e.g. \"Display\", \"Link unit\", \"Other\").",
                    "Requested ad type code (e.g. \"IMAGE\", \"RADLINK\", \"OTHER\").",
                    "Localized served ad type name (e.g. \"Display\", \"Link unit\", \"Other\").",
                    "Served ad type code (e.g. \"IMAGE\", \"RADLINK\", \"OTHER\").",
                    "Localized ad format name indicating the way an ad is shown to the users on your site (e.g. \"In-page\", \"Anchor\", \"Vignette\").",
                    "Ad format code indicating the way an ad is shown to the users on your site (e.g. \"ON_PAGE\", \"ANCHOR\", \"INTERSTITIAL\").",
                    "Custom search style name.",
                    "Custom search style id.",
                    "Domain registrants.",
                    "Query strings for web searches."
                  ],
                  "enum": [
                    "DIMENSION_UNSPECIFIED",
                    "DATE",
                    "WEEK",
                    "MONTH",
                    "ACCOUNT_NAME",
                    "AD_CLIENT_ID",
                    "HOSTED_AD_CLIENT_ID",
                    "PRODUCT_NAME",
                    "PRODUCT_CODE",
                    "AD_UNIT_NAME",
                    "AD_UNIT_ID",
                    "AD_UNIT_SIZE_NAME",
                    "AD_UNIT_SIZE_CODE",
                    "CUSTOM_CHANNEL_NAME",
                    "CUSTOM_CHANNEL_ID",
                    "OWNED_SITE_DOMAIN_NAME",
                    "OWNED_SITE_ID",
                    "PAGE_URL",
                    "URL_CHANNEL_NAME",
                    "URL_CHANNEL_ID",
                    "BUYER_NETWORK_NAME",
                    "BUYER_NETWORK_ID",
                    "BID_TYPE_NAME",
                    "BID_TYPE_CODE",
                    "CREATIVE_SIZE_NAME",
                    "CREATIVE_SIZE_CODE",
                    "DOMAIN_NAME",
                    "DOMAIN_CODE",
                    "COUNTRY_NAME",
                    "COUNTRY_CODE",
                    "PLATFORM_TYPE_NAME",
                    "PLATFORM_TYPE_CODE",
                    "TARGETING_TYPE_NAME",
                    "TARGETING_TYPE_CODE",
                    "CONTENT_PLATFORM_NAME",
                    "CONTENT_PLATFORM_CODE",
                    "AD_PLACEMENT_NAME",
                    "AD_PLACEMENT_CODE",
                    "REQUESTED_AD_TYPE_NAME",
                    "REQUESTED_AD_TYPE_CODE",
                    "SERVED_AD_TYPE_NAME",
                    "SERVED_AD_TYPE_CODE",
                    "AD_FORMAT_NAME",
                    "AD_FORMAT_CODE",
                    "CUSTOM_SEARCH_STYLE_NAME",
                    "CUSTOM_SEARCH_STYLE_ID",
                    "DOMAIN_REGISTRANT",
                    "WEBSEARCH_QUERY_STRING"
                  ]
                },
                "metrics": {
                  "description": "Required. Reporting metrics.",
                  "location": "query",
                  "repeated": true,
                  "type": "string",
                  "enumDescriptions": [
                    "Unspecified metric.",
                    "Number of page views.",
                    "Number of ad units that requested ads (for content ads) or search queries (for search ads). An ad request may result in zero, one, or multiple individual ad impressions depending on the size of the ad unit and whether any ads were available.",
                    "Requests that returned at least one ad.",
                    "Impressions. An impression is counted for each ad request where at least one ad has been downloaded to the user’s device and has begun to load. It is the number of ad units (for content ads) or search queries (for search ads) that showed ads.",
                    "Impressions. An impression is counted for each ad request where at least one ad has been downloaded to the user’s device and has begun to load. It is the number of ad units (for content ads) or search queries (for search ads) that showed ads.",
                    "Ads shown. Different ad formats will display varying numbers of ads. For example, a vertical banner may consist of 2 or more ads. Also, the number of ads in an ad unit may vary depending on whether the ad unit is displaying standard text ads, expanded text ads or image ads.",
                    "Number of times a user clicked on a standard content ad.",
                    "Fraction of page views considered to be spam. Only available to premium accounts.",
                    "Fraction of ad requests considered to be spam. Only available to premium accounts.",
                    "Fraction of ad requests that returned ads considered to be spam. Only available to premium accounts.",
                    "Fraction of impressions considered to be spam. Only available to premium accounts.",
                    "Fraction of ad impressions considered to be spam. Only available to premium accounts.",
                    "Fraction of clicks considered to be spam. Only available to premium accounts.",
                    "Ratio of requested ad units or queries to the number returned to the site.",
                    "Ratio of individual page views that resulted in a click.",
                    "Ratio of ad requests that resulted in a click.",
                    "Ratio of clicks to matched requests.",
                    "Ratio of IMPRESSIONS that resulted in a click.",
                    "Ratio of individual ad impressions that resulted in a click.",
                    "Ratio of requests that were measurable for viewability.",
                    "Ratio of requests that were viewable.",
                    "Mean time an ad was displayed on screen.",
                    "Estimated earnings of the publisher. Note that earnings up to yesterday are accurate, more recent earnings are estimated due to the possibility of spam, or exchange rate fluctuations.",
                    "Revenue per thousand page views. This is calculated by dividing the estimated revenue by the number of page views multiplied by 1000.",
                    "Revenue per thousand ad requests. This is calculated by dividing estimated revenue by the number of ad requests multiplied by 1000.",
                    "Revenue per thousand matched ad requests. This is calculated by dividing estimated revenue by the number of matched ad requests multiplied by 1000.",
                    "Revenue per thousand ad impressions. This is calculated by dividing estimated revenue by the number of ad impressions multiplied by 1000.",
                    "Revenue per thousand individual ad impressions. This is calculated by dividing estimated revenue by the number of individual ad impressions multiplied by 1000.",
                    "Amount the publisher earns each time a user clicks on an ad. CPC is calculated by dividing the estimated revenue by the number of clicks received.",
                    "Number of ad views per impression.",
                    "Total earnings are the gross estimated earnings from revenue shared traffic before any parent and child account revenue share is applied.",
                    "Number of results pages.",
                    "Number of requests for non-ad units (for example a related search unit). For more information, see [Funnel requests](https://support.google.com/adsense/answer/11586959).",
                    "Number of requests for non-ad units ads that returned content that was shown to the user. For more information, see [Funnel impressions](https://support.google.com/adsense/answer/11585767).",
                    "Number of times a user clicked on a non-ad unit, triggering further ad requests. For more information, see [Funnel clicks](https://support.google.com/adsense/answer/11586382).",
                    "Revenue per thousand funnel impressions. This is calculated by dividing estimated revenue by the number of funnel impressions multiplied by 1000. For more information, see [Funnel RPM](https://support.google.com/adsense/answer/11585979)."
                  ],
                  "enum": [
                    "METRIC_UNSPECIFIED",
                    "PAGE_VIEWS",
                    "AD_REQUESTS",
                    "MATCHED_AD_REQUESTS",
                    "TOTAL_IMPRESSIONS",
                    "IMPRESSIONS",
                    "INDIVIDUAL_AD_IMPRESSIONS",
                    "CLICKS",
                    "PAGE_VIEWS_SPAM_RATIO",
                    "AD_REQUESTS_SPAM_RATIO",
                    "MATCHED_AD_REQUESTS_SPAM_RATIO",
                    "IMPRESSIONS_SPAM_RATIO",
                    "INDIVIDUAL_AD_IMPRESSIONS_SPAM_RATIO",
                    "CLICKS_SPAM_RATIO",
                    "AD_REQUESTS_COVERAGE",
                    "PAGE_VIEWS_CTR",
                    "AD_REQUESTS_CTR",
                    "MATCHED_AD_REQUESTS_CTR",
                    "IMPRESSIONS_CTR",
                    "INDIVIDUAL_AD_IMPRESSIONS_CTR",
                    "ACTIVE_VIEW_MEASURABILITY",
                    "ACTIVE_VIEW_VIEWABILITY",
                    "ACTIVE_VIEW_TIME",
                    "ESTIMATED_EARNINGS",
                    "PAGE_VIEWS_RPM",
                    "AD_REQUESTS_RPM",
                    "MATCHED_AD_REQUESTS_RPM",
                    "IMPRESSIONS_RPM",
                    "INDIVIDUAL_AD_IMPRESSIONS_RPM",
                    "COST_PER_CLICK",
                    "ADS_PER_IMPRESSION",
                    "TOTAL_EARNINGS",
                    "WEBSEARCH_RESULT_PAGES",
                    "FUNNEL_REQUESTS",
                    "FUNNEL_IMPRESSIONS",
                    "FUNNEL_CLICKS",
                    "FUNNEL_RPM"
                  ]
                },
                "filters": {
                  "description": "A list of [filters](/adsense/management/reporting/filtering) to apply to the report. All provided filters must match in order for the data to be included in the report.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                },
                "dateRange": {
                  "description": "Date range of the report, if unset the range will be considered CUSTOM.",
                  "location": "query",
                  "type": "string",
                  "enumDescriptions": [
                    "Unspecified date range.",
                    "A custom date range specified using the `start_date` and `end_date` fields. This is the default if no ReportingDateRange is provided.",
                    "Current day.",
                    "Yesterday.",
                    "From the start of the current month to the current day. e.g. if the current date is 2020-03-12 then the range will be [2020-03-01, 2020-03-12].",
                    "From the start of the current year to the current day. e.g. if the current date is 2020-03-12 then the range will be [2020-01-01, 2020-03-12].",
                    "Last 7 days, excluding current day.",
                    "Last 30 days, excluding current day."
                  ],
                  "enum": [
                    "REPORTING_DATE_RANGE_UNSPECIFIED",
                    "CUSTOM",
                    "TODAY",
                    "YESTERDAY",
                    "MONTH_TO_DATE",
                    "YEAR_TO_DATE",
                    "LAST_7_DAYS",
                    "LAST_30_DAYS"
                  ]
                },
                "startDate.year": {
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "startDate.month": {
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "startDate.day": {
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                  "location": "query",
                  "type": "integer",
[...]
