{
  "id": "adsense:v2",
  "discoveryVersion": "v1",
  "title": "AdSense Management API",
  "version_module": true,
  "kind": "discovery#restDescription",
  "baseUrl": "https://adsense.googleapis.com/",
  "revision": "20210413",
  "description": "The AdSense Management API allows publishers to access their inventory and run earnings and performance reports.",
  "name": "adsense",
  "documentationLink": "http://code.google.com/apis/adsense/management/",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "ownerName": "Google",
  "rootUrl": "https://adsense.googleapis.com/",
  "resources": {
    "accounts": {
      "methods": {
        "get": {
          "flatPath": "v2/accounts/{accountsId}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Account"
          },
          "parameters": {
            "name": {
              "description": "Required. Account to get information about. Format: accounts/{account_id}",
              "type": "string",
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "GET",
          "path": "v2/{+name}",
          "description": "Gets information about the selected AdSense account.",
          "scopes": [
            "https://www.googleapis.com/auth/adsense",
            "https://www.googleapis.com/auth/adsense.readonly"
          ],
          "id": "adsense.accounts.get"
        },
        "listChildAccounts": {
          "parameters": {
            "pageSize": {
              "description": "The maximum number of accounts to include in the response, used for paging. If unspecified, at most 10000 accounts will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccounts` must match the call that provided the page token."
            },
            "parent": {
              "location": "path",
              "pattern": "^accounts/[^/]+$",
              "required": true,
              "description": "Required. The parent account, which owns the child accounts. Format: accounts/{account}",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "description": "Lists all accounts directly managed by the given AdSense account.",
          "scopes": [
            "https://www.googleapis.com/auth/adsense",
            "https://www.googleapis.com/auth/adsense.readonly"
          ],
          "parameterOrder": [
            "parent"
          ],
          "flatPath": "v2/accounts/{accountsId}:listChildAccounts",
          "response": {
            "$ref": "ListChildAccountsResponse"
          },
          "id": "adsense.accounts.listChildAccounts",
          "path": "v2/{+parent}:listChildAccounts"
        },
        "list": {
          "description": "Lists all accounts available to this user.",
          "scopes": [
            "https://www.googleapis.com/auth/adsense",
            "https://www.googleapis.com/auth/adsense.readonly"
          ],
          "parameterOrder": [],
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccounts` must match the call that provided the page token.",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "description": "The maximum number of accounts to include in the response, used for paging. If unspecified, at most 10000 accounts will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
              "location": "query",
              "type": "integer"
            }
          },
          "flatPath": "v2/accounts",
          "id": "adsense.accounts.list",
          "response": {
            "$ref": "ListAccountsResponse"
          },
          "path": "v2/accounts",
          "httpMethod": "GET"
        }
      },
      "resources": {
        "alerts": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "description": "Lists all the alerts available in an account.",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/accounts/{accountsId}/alerts",
              "path": "v2/{+parent}/alerts",
              "parameters": {
                "languageCode": {
                  "type": "string",
                  "location": "query",
                  "description": "The language to use for translating alert messages. If unspecified, this defaults to the user's display language. If the given language is not supported, alerts will be returned in English. The language is specified as an [IETF BCP-47 language code](https://en.wikipedia.org/wiki/IETF_language_tag)."
                },
                "parent": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The account which owns the collection of alerts. Format: accounts/{account}",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "ListAlertsResponse"
              },
              "id": "adsense.accounts.alerts.list",
              "httpMethod": "GET"
            }
          }
        },
        "payments": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListPaymentsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "id": "adsense.accounts.payments.list",
              "httpMethod": "GET",
              "path": "v2/{+parent}/payments",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists all the payments available for an account.",
              "flatPath": "v2/accounts/{accountsId}/payments",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The account which owns the collection of payments. Format: accounts/{account}",
                  "pattern": "^accounts/[^/]+$"
                }
              }
            }
          }
        },
        "sites": {
          "methods": {
            "get": {
              "flatPath": "v2/accounts/{accountsId}/sites/{sitesId}",
              "id": "adsense.accounts.sites.get",
              "path": "v2/{+name}",
              "description": "Gets information about the selected site.",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/sites/[^/]+$",
                  "description": "Required. Name of the site. Format: accounts/{account}/sites/{site}",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "Site"
              }
            },
            "list": {
              "path": "v2/{+parent}/sites",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of sites to include in the response, used for paging. If unspecified, at most 10000 sites will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token, received from a previous `ListSites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSites` must match the call that provided the page token.",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "description": "Required. The account which owns the collection of sites. Format: accounts/{account}"
                }
              },
              "response": {
                "$ref": "ListSitesResponse"
              },
              "id": "adsense.accounts.sites.list",
              "httpMethod": "GET",
              "description": "Lists all the sites available in an account.",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "flatPath": "v2/accounts/{accountsId}/sites"
            }
          }
        },
        "adclients": {
          "methods": {
            "getAdcode": {
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "response": {
                "$ref": "AdClientAdCode"
              },
              "httpMethod": "GET",
              "path": "v2/{+name}/adcode",
              "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/adcode",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+/adclients/[^/]+$",
                  "required": true,
                  "description": "Required. Name of the ad client for which to get the adcode. Format: accounts/{account}/adclients/{adclient}",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "adsense.accounts.adclients.getAdcode",
              "description": "Gets the AdSense code for a given ad client. This returns what was previously known as the 'auto ad code'. This is only supported for ad clients with a product_code of AFC. For more information, see [About the AdSense code](https://support.google.com/adsense/answer/9274634)."
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "id": "adsense.accounts.adclients.list",
              "httpMethod": "GET",
              "description": "Lists all the ad clients available in an account.",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of ad clients to include in the response, used for paging. If unspecified, at most 10000 ad clients will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000."
                },
                "parent": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The account which owns the collection of ad clients. Format: accounts/{account}",
                  "location": "path",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token, received from a previous `ListAdClients` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAdClients` must match the call that provided the page token.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListAdClientsResponse"
              },
              "path": "v2/{+parent}/adclients",
              "flatPath": "v2/accounts/{accountsId}/adclients"
            }
          },
          "resources": {
            "urlchannels": {
              "methods": {
                "list": {
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/urlchannels",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The ad client which owns the collection of url channels. Format: accounts/{account}/adclients/{adclient}",
                      "required": true,
                      "pattern": "^accounts/[^/]+/adclients/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListUrlChannels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUrlChannels` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of url channels to include in the response, used for paging. If unspecified, at most 10000 url channels will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "format": "int32"
                    }
                  },
                  "path": "v2/{+parent}/urlchannels",
                  "id": "adsense.accounts.adclients.urlchannels.list",
                  "description": "Lists active url channels.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListUrlChannelsResponse"
                  },
                  "httpMethod": "GET"
                }
              }
            },
            "adunits": {
              "methods": {
                "list": {
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/adunits",
                  "path": "v2/{+parent}/adunits",
                  "response": {
                    "$ref": "ListAdUnitsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^accounts/[^/]+/adclients/[^/]+$",
                      "location": "path",
                      "description": "Required. The ad client which owns the collection of ad units. Format: accounts/{account}/adclients/{adclient}",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A page token, received from a previous `ListAdUnits` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAdUnits` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of ad units to include in the response, used for paging. If unspecified, at most 10000 ad units will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000."
                    }
                  },
                  "id": "adsense.accounts.adclients.adunits.list",
                  "httpMethod": "GET",
                  "description": "Lists all ad units under a specified account and ad client.",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "getAdcode": {
                  "path": "v2/{+name}/adcode",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "AdUnitAdCode"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/adunits/[^/]+$",
                      "description": "Required. Name of the adunit for which to get the adcode. Format: accounts/{account}/adclients/{adclient}/adunits/{adunit}"
                    }
                  },
                  "description": "Gets the AdSense code for a given ad unit.",
                  "httpMethod": "GET",
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/adunits/{adunitsId}/adcode",
                  "id": "adsense.accounts.adclients.adunits.getAdcode"
                },
                "get": {
                  "response": {
                    "$ref": "AdUnit"
                  },
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "description": "Gets an ad unit from a specified account and ad client.",
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/adunits/{adunitsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. AdUnit to get information about. Format: accounts/{account_id}/adclient/{adclient_id}/adunit/{adunit_id}",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/adunits/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "adsense.accounts.adclients.adunits.get",
                  "httpMethod": "GET"
                },
                "listLinkedCustomChannels": {
                  "httpMethod": "GET",
                  "id": "adsense.accounts.adclients.adunits.listLinkedCustomChannels",
                  "description": "Lists all the custom channels available for an ad unit.",
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/adunits/{adunitsId}:listLinkedCustomChannels",
                  "parameters": {
                    "pageToken": {
                      "description": "A page token, received from a previous `ListLinkedCustomChannels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLinkedCustomChannels` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of custom channels to include in the response, used for paging. If unspecified, at most 10000 custom channels will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/adunits/[^/]+$",
                      "description": "Required. The ad unit which owns the collection of custom channels. Format: accounts/{account}/adclients/{adclient}/adunits/{adunit}"
                    }
                  },
                  "path": "v2/{+parent}:listLinkedCustomChannels",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListLinkedCustomChannelsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ]
                }
              }
            },
            "customchannels": {
              "methods": {
                "get": {
                  "path": "v2/{+name}",
                  "id": "adsense.accounts.adclients.customchannels.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "description": "Gets information about the selected custom channel.",
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/customchannels/{customchannelsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/customchannels/[^/]+$",
                      "description": "Required. Name of the custom channel. Format: accounts/{account}/adclients/{adclient}/customchannels/{customchannel}"
                    }
                  },
                  "response": {
                    "$ref": "CustomChannel"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET"
                },
                "listLinkedAdUnits": {
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of ad units to include in the response, used for paging. If unspecified, at most 10000 ad units will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A page token, received from a previous `ListLinkedAdUnits` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLinkedAdUnits` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/customchannels/[^/]+$",
                      "description": "Required. The custom channel which owns the collection of ad units. Format: accounts/{account}/adclients/{adclient}/customchannels/{customchannel}"
                    }
                  },
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/customchannels/{customchannelsId}:listLinkedAdUnits",
                  "id": "adsense.accounts.adclients.customchannels.listLinkedAdUnits",
                  "description": "Lists all the ad units available for a custom channel.",
                  "path": "v2/{+parent}:listLinkedAdUnits",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListLinkedAdUnitsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "list": {
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/customchannels",
                  "id": "adsense.accounts.adclients.customchannels.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "description": "Lists all the custom channels available in an ad client.",
                  "response": {
                    "$ref": "ListCustomChannelsResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The ad client which owns the collection of custom channels. Format: accounts/{account}/adclients/{adclient}",
                      "location": "path",
                      "required": true,
                      "pattern": "^accounts/[^/]+/adclients/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A page token, received from a previous `ListCustomChannels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCustomChannels` must match the call that provided the page token."
                    },
                    "pageSize": {
                      "description": "The maximum number of custom channels to include in the response, used for paging. If unspecified, at most 10000 custom channels will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/customchannels"
                }
              }
            }
          }
        },
        "reports": {
          "methods": {
            "generate": {
              "id": "adsense.accounts.reports.generate",
              "parameters": {
                "languageCode": {
                  "location": "query",
                  "type": "string",
                  "description": "The language to use for translating report output. If unspecified, this defaults to English (\"en\"). If the given language is not supported, report output will be returned in English. The language is specified as an [IETF BCP-47 language code](https://en.wikipedia.org/wiki/IETF_language_tag)."
                },
                "endDate.month": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
                },
                "startDate.year": {
                  "format": "int32",
                  "location": "query",
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "type": "integer"
                },
                "currencyCode": {
                  "description": "The [ISO-4217 currency code](https://en.wikipedia.org/wiki/ISO_4217) to use when reporting on monetary metrics. Defaults to the account's currency if not set.",
                  "type": "string",
                  "location": "query"
                },
                "orderBy": {
                  "location": "query",
                  "repeated": true,
                  "type": "string",
                  "description": "The name of a dimension or metric to sort the resulting report on, can be prefixed with \"+\" to sort ascending or \"-\" to sort descending. If no prefix is specified, the column is sorted ascending."
                },
                "filters": {
                  "description": "Filters to be run on the report.",
                  "location": "query",
                  "type": "string",
                  "repeated": true
                },
                "account": {
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The account which owns the collection of reports. Format: accounts/{account}",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "startDate.day": {
                  "location": "query",
                  "format": "int32",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                  "type": "integer"
                },
                "dimensions": {
                  "enum": [
                    "DIMENSION_UNSPECIFIED",
                    "DATE",
                    "WEEK",
                    "MONTH",
                    "ACCOUNT_NAME",
                    "AD_CLIENT_ID",
                    "PRODUCT_NAME",
                    "PRODUCT_CODE",
                    "AD_UNIT_NAME",
                    "AD_UNIT_ID",
                    "AD_UNIT_SIZE_NAME",
                    "AD_UNIT_SIZE_CODE",
                    "CUSTOM_CHANNEL_NAME",
                    "CUSTOM_CHANNEL_ID",
                    "OWNED_SITE_DOMAIN_NAME",
                    "OWNED_SITE_ID",
                    "URL_CHANNEL_NAME",
                    "URL_CHANNEL_ID",
                    "BUYER_NETWORK_NAME",
                    "BUYER_NETWORK_ID",
                    "BID_TYPE_NAME",
                    "BID_TYPE_CODE",
                    "CREATIVE_SIZE_NAME",
                    "CREATIVE_SIZE_CODE",
                    "DOMAIN_NAME",
                    "DOMAIN_CODE",
                    "COUNTRY_NAME",
                    "COUNTRY_CODE",
                    "PLATFORM_TYPE_NAME",
                    "PLATFORM_TYPE_CODE",
                    "TARGETING_TYPE_NAME",
                    "TARGETING_TYPE_CODE",
                    "CONTENT_PLATFORM_NAME",
                    "CONTENT_PLATFORM_CODE",
                    "AD_PLACEMENT_NAME",
                    "AD_PLACEMENT_CODE",
                    "REQUESTED_AD_TYPE_NAME",
                    "REQUESTED_AD_TYPE_CODE",
                    "SERVED_AD_TYPE_NAME",
                    "SERVED_AD_TYPE_CODE",
                    "CUSTOM_SEARCH_STYLE_NAME",
                    "CUSTOM_SEARCH_STYLE_ID",
                    "DOMAIN_REGISTRANT",
                    "WEBSEARCH_QUERY_STRING"
                  ],
                  "repeated": true,
                  "enumDescriptions": [
                    "Unspecified dimension.",
                    "Date dimension in YYYY-MM-DD format (e.g. \"2010-02-10\").",
                    "Week dimension in YYYY-MM-DD format, representing the first day of each week (e.g. \"2010-02-08\"). The first day of the week is determined by the language_code specified in a report generation request (so e.g. this would be a Monday for \"en-GB\" or \"es\", but a Sunday for \"en\" or \"fr-CA\").",
                    "Month dimension in YYYY-MM format (e.g. \"2010-02\").",
                    "Account name. The members of this dimension match the values from Account.display_name.",
                    "Unique ID of an ad client. The members of this dimension match the values from AdClient.reporting_dimension_id.",
                    "Localized product name (e.g. \"AdSense for Content\", \"AdSense for Search\").",
                    "Product code (e.g. \"AFC\", \"AFS\"). The members of this dimension match the values from AdClient.product_code.",
                    "Ad unit name (within which an ad was served). The members of this dimension match the values from AdUnit.display_name.",
                    "Unique ID of an ad unit (within which an ad was served). The members of this dimension match the values from AdUnit.reporting_dimension_id.",
                    "Localized size of an ad unit (e.g. \"728x90\", \"Responsive\").",
                    "The size code of an ad unit (e.g. \"728x90\", \"responsive\").",
                    "Custom channel name. The members of this dimension match the values from CustomChannel.display_name.",
                    "Unique ID of a custom channel. The members of this dimension match the values from CustomChannel.reporting_dimension_id.",
                    "Domain name of a verified site (e.g. \"example.com\"). The members of this dimension match the values from Site.domain.",
                    "Unique ID of a verified site. The members of this dimension match the values from Site.reporting_dimension_id.",
                    "Name of a URL channel. The members of this dimension match the values from UrlChannel.uri_pattern.",
                    "Unique ID of a URL channel. The members of this dimension match the values from UrlChannel.reporting_dimension_id.",
                    "Name of an ad network that returned the winning ads for an ad request (e.g. \"Google AdWords\"). Note that unlike other \"NAME\" dimensions, the members of this dimensions are not localized.",
                    "Unique (opaque) ID of an ad network that returned the winning ads for an ad request.",
                    "Localized bid type name (e.g. \"CPC bids\", \"CPM bids\") for a served ad.",
                    "Type of a bid (e.g. \"cpc\", \"cpm\") for a served ad.",
                    "Localized creative size name (e.g. \"728x90\", \"Dynamic\") of a served ad.",
                    "Creative size code (e.g. \"728x90\", \"dynamic\") of a served ad.",
                    "Localized name of a host on which an ad was served, after IDNA decoding (e.g. \"www.google.com\", \"Web caches and other\", \"bücher.example\").",
                    "Name of a host on which an ad was served (e.g. \"www.google.com\", \"webcaches\", \"xn--bcher-kva.example\").",
                    "Localized region name of a user viewing an ad (e.g. \"United States\", \"France\").",
                    "CLDR region code of a user viewing an ad (e.g. \"US\", \"FR\").",
                    "Localized platform type name (e.g. \"High-end mobile devices\", \"Desktop\").",
                    "Platform type code (e.g. \"HighEndMobile\", \"Desktop\").",
                    "Localized targeting type name (e.g. \"Contextual\", \"Personalized\", \"Run of Network\").",
                    "Targeting type code (e.g. \"Keyword\", \"UserInterest\", \"RunOfNetwork\").",
                    "Localized content platform name an ad request was made from (e.g. \"AMP\", \"Web\").",
                    "Content platform code an ad request was made from (e.g. \"AMP\", \"HTML\").",
                    "Localized ad placement name (e.g. \"Ad unit\", \"Global settings\", \"Manual\").",
                    "Ad placement code (e.g. \"AD_UNIT\", \"ca-pub-123456:78910\", \"OTHER\").",
                    "Localized requested ad type name (e.g. \"Display\", \"Link unit\", \"Other\").",
                    "Requested ad type code (e.g. \"IMAGE\", \"RADLINK\", \"OTHER\").",
                    "Localized served ad type name (e.g. \"Display\", \"Link unit\", \"Other\").",
                    "Served ad type code (e.g. \"IMAGE\", \"RADLINK\", \"OTHER\").",
                    "Custom search style name.",
                    "Custom search style id.",
                    "Domain registrants.",
                    "Query strings for web searches."
                  ],
                  "description": "Dimensions to base the report on.",
                  "location": "query",
                  "type": "string"
                },
                "endDate.year": {
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "metrics": {
                  "description": "Required. Reporting metrics.",
                  "enumDescriptions": [
                    "Unspecified metric.",
                    "Number of page views.",
                    "Number of ad units that requested ads (for content ads) or search queries (for search ads). An ad request may result in zero, one, or multiple individual ad impressions depending on the size of the ad unit and whether any ads were available.",
                    "Requests that returned at least one ad.",
                    "Impressions. An impression is counted for each ad request where at least one ad has been downloaded to the user’s device and has begun to load. It is the number of ad units (for content ads) or search queries (for search ads) that showed ads.",
                    "Impressions. An impression is counted for each ad request where at least one ad has been downloaded to the user’s device and has begun to load. It is the number of ad units (for content ads) or search queries (for search ads) that showed ads.",
                    "Ads shown. Different ad formats will display varying numbers of ads. For example, a vertical banner may consist of 2 or more ads. Also, the number of ads in an ad unit may vary depending on whether the ad unit is displaying standard text ads, expanded text ads or image ads.",
                    "Number of times a user clicked on a standard content ad.",
                    "Fraction of page views considered to be spam. Only available to premium accounts.",
                    "Fraction of ad requests considered to be spam. Only available to premium accounts.",
                    "Fraction of ad requests that returned ads considered to be spam. Only available to premium accounts.",
                    "Fraction of impressions considered to be spam. Only available to premium accounts.",
                    "Fraction of ad impressions considered to be spam. Only available to premium accounts.",
                    "Fraction of clicks considered to be spam. Only available to premium accounts.",
                    "Ratio of requested ad units or queries to the number returned to the site.",
                    "Ratio of individual page views that resulted in a click.",
                    "Ratio of ad requests that resulted in a click.",
                    "Ratio of clicks to matched requests.",
                    "Ratio of IMPRESSIONS that resulted in a click.",
                    "Ratio of individual ad impressions that resulted in a click.",
                    "Ratio of requests that were measurable for viewability.",
                    "Ratio of requests that were viewable.",
                    "Mean time an ad was displayed on screen.",
                    "Estimated earnings of the publisher. Note that earnings up to yesterday are accurate, more recent earnings are estimated due to the possibility of spam, or exchange rate fluctuations.",
                    "Revenue per thousand page views. This is calculated by dividing the estimated revenue by the number of page views multiplied by 1000.",
                    "Revenue per thousand ad requests. This is calculated by dividing estimated revenue by the number of ad requests multiplied by 1000.",
                    "Revenue per thousand matched ad requests. This is calculated by dividing estimated revenue by the number of matched ad requests multiplied by 1000.",
                    "Revenue per thousand ad impressions. This is calculated by dividing estimated revenue by the number of ad impressions multiplied by 1000.",
                    "Revenue per thousand individual ad impressions. This is calculated by dividing estimated revenue by the number of individual ad impressions multiplied by 1000.",
                    "Amount the publisher earns each time a user clicks on an ad. CPC is calculated by dividing the estimated revenue by the number of clicks received.",
                    "Number of ad views per impression.",
                    "Total earnings.",
                    "Number of results pages."
                  ],
                  "enum": [
                    "METRIC_UNSPECIFIED",
                    "PAGE_VIEWS",
                    "AD_REQUESTS",
                    "MATCHED_AD_REQUESTS",
                    "TOTAL_IMPRESSIONS",
                    "IMPRESSIONS",
                    "INDIVIDUAL_AD_IMPRESSIONS",
                    "CLICKS",
                    "PAGE_VIEWS_SPAM_RATIO",
                    "AD_REQUESTS_SPAM_RATIO",
                    "MATCHED_AD_REQUESTS_SPAM_RATIO",
                    "IMPRESSIONS_SPAM_RATIO",
                    "INDIVIDUAL_AD_IMPRESSIONS_SPAM_RATIO",
                    "CLICKS_SPAM_RATIO",
                    "AD_REQUESTS_COVERAGE",
                    "PAGE_VIEWS_CTR",
                    "AD_REQUESTS_CTR",
                    "MATCHED_AD_REQUESTS_CTR",
                    "IMPRESSIONS_CTR",
                    "INDIVIDUAL_AD_IMPRESSIONS_CTR",
                    "ACTIVE_VIEW_MEASURABILITY",
                    "ACTIVE_VIEW_VIEWABILITY",
                    "ACTIVE_VIEW_TIME",
                    "ESTIMATED_EARNINGS",
                    "PAGE_VIEWS_RPM",
                    "AD_REQUESTS_RPM",
                    "MATCHED_AD_REQUESTS_RPM",
                    "IMPRESSIONS_RPM",
                    "INDIVIDUAL_AD_IMPRESSIONS_RPM",
                    "COST_PER_CLICK",
                    "ADS_PER_IMPRESSION",
                    "TOTAL_EARNINGS",
                    "WEBSEARCH_RESULT_PAGES"
                  ],
                  "location": "query",
                  "type": "string",
                  "repeated": true
                },
                "reportingTimeZone": {
                  "description": "Timezone in which to generate the report. If unspecified, this defaults to the account timezone. For more information, see [changing the time zone of your reports](https://support.google.com/adsense/answer/9830725).",
                  "type": "string",
                  "enumDescriptions": [
                    "Unspecified timezone.",
                    "Use the account timezone in the report.",
                    "Use the Google timezone in the report (America/Los_Angeles)."
                  ],
                  "location": "query",
                  "enum": [
                    "REPORTING_TIME_ZONE_UNSPECIFIED",
                    "ACCOUNT_TIME_ZONE",
                    "GOOGLE_TIME_ZONE"
                  ]
                },
                "dateRange": {
                  "location": "query",
                  "enumDescriptions": [
                    "Unspecified date range.",
                    "A custom date range specified using the `start_date` and `end_date` fields. This is the default if no ReportingDateRange is provided.",
                    "Current day.",
                    "Yesterday.",
                    "From the start of the current month to the current day. e.g. if the current date is 2020-03-12 then the range will be [2020-03-01, 2020-03-12].",
                    "From the start of the current year to the current day. e.g. if the current date is 2020-03-12 then the range will be [2020-01-01, 2020-03-12].",
                    "Last 7 days, excluding current day.",
                    "Last 30 days, excluding current day."
                  ],
                  "description": "Date range of the report, if unset the range will be considered CUSTOM.",
                  "enum": [
                    "REPORTING_DATE_RANGE_UNSPECIFIED",
                    "CUSTOM",
                    "TODAY",
                    "YESTERDAY",
                    "MONTH_TO_DATE",
                    "YEAR_TO_DATE",
                    "LAST_7_DAYS",
                    "LAST_30_DAYS"
                  ],
                  "type": "string"
                },
                "startDate.month": {
                  "format": "int32",
                  "location": "query",
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "type": "integer"
                },
                "limit": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of rows of report data to return. Reports producing more rows than the requested limit will be truncated. If unset, this defaults to 100,000 rows for `Reports.GenerateReport` and 1,000,000 rows for `Reports.GenerateCsvReport`, which are also the maximum values permitted here. Report truncation can be identified (for `Reports.GenerateReport` only) by comparing the number of rows returned to the value returned in `total_matched_rows`."
                },
                "endDate.day": {
                  "location": "query",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "path": "v2/{+account}/reports:generate",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "response": {
                "$ref": "ReportResult"
              },
              "flatPath": "v2/accounts/{accountsId}/reports:generate",
              "description": "Generates an ad hoc report.",
              "parameterOrder": [
                "account"
              ]
            },
            "generateCsv": {
              "parameters": {
                "languageCode": {
                  "type": "string",
                  "location": "query",
                  "description": "The language to use for translating report output. If unspecified, this defaults to English (\"en\"). If the given language is not supported, report output will be returned in English. The language is specified as an [IETF BCP-47 language code](https://en.wikipedia.org/wiki/IETF_language_tag)."
                },
                "reportingTimeZone": {
                  "enum": [
                    "REPORTING_TIME_ZONE_UNSPECIFIED",
                    "ACCOUNT_TIME_ZONE",
                    "GOOGLE_TIME_ZONE"
                  ],
                  "location": "query",
                  "type": "string",
                  "enumDescriptions": [
                    "Unspecified timezone.",
                    "Use the account timezone in the report.",
                    "Use the Google timezone in the report (America/Los_Angeles)."
                  ],
                  "description": "Timezone in which to generate the report. If unspecified, this defaults to the account timezone. For more information, see [changing the time zone of your reports](https://support.google.com/adsense/answer/9830725)."
                },
                "endDate.year": {
                  "format": "int32",
                  "location": "query",
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "type": "integer"
                },
                "limit": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of rows of report data to return. Reports producing more rows than the requested limit will be truncated. If unset, this defaults to 100,000 rows for `Reports.GenerateReport` and 1,000,000 rows for `Reports.GenerateCsvReport`, which are also the maximum values permitted here. Report truncation can be identified (for `Reports.GenerateReport` only) by comparing the number of rows returned to the value returned in `total_matched_rows`.",
                  "location": "query"
                },
                "dateRange": {
                  "type": "string",
                  "enumDescriptions": [
                    "Unspecified date range.",
                    "A custom date range specified using the `start_date` and `end_date` fields. This is the default if no ReportingDateRange is provided.",
                    "Current day.",
                    "Yesterday.",
                    "From the start of the current month to the current day. e.g. if the current date is 2020-03-12 then the range will be [2020-03-01, 2020-03-12].",
                    "From the start of the current year to the current day. e.g. if the current date is 2020-03-12 then the range will be [2020-01-01, 2020-03-12].",
                    "Last 7 days, excluding current day.",
                    "Last 30 days, excluding current day."
                  ],
                  "location": "query",
                  "enum": [
                    "REPORTING_DATE_RANGE_UNSPECIFIED",
                    "CUSTOM",
                    "TODAY",
                    "YESTERDAY",
                    "MONTH_TO_DATE",
                    "YEAR_TO_DATE",
                    "LAST_7_DAYS",
                    "LAST_30_DAYS"
                  ],
                  "description": "Date range of the report, if unset the range will be considered CUSTOM."
                },
                "orderBy": {
                  "description": "The name of a dimension or metric to sort the resulting report on, can be prefixed with \"+\" to sort ascending or \"-\" to sort descending. If no prefix is specified, the column is sorted ascending.",
                  "repeated": true,
                  "type": "string",
                  "location": "query"
                },
                "startDate.day": {
                  "location": "query",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                  "type": "integer",
                  "format": "int32"
                },
                "endDate.day": {
                  "location": "query",
                  "type": "integer",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                  "format": "int32"
                },
                "startDate.month": {
                  "location": "query",
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "format": "int32",
                  "type": "integer"
                },
                "account": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "description": "Required. The account which owns the collection of reports. Format: accounts/{account}",
                  "type": "string"
                },
                "endDate.month": {
                  "type": "integer",
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "location": "query",
                  "format": "int32"
                },
                "dimensions": {
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "DIMENSION_UNSPECIFIED",
                    "DATE",
                    "WEEK",
                    "MONTH",
                    "ACCOUNT_NAME",
                    "AD_CLIENT_ID",
                    "PRODUCT_NAME",
                    "PRODUCT_CODE",
                    "AD_UNIT_NAME",
                    "AD_UNIT_ID",
                    "AD_UNIT_SIZE_NAME",
                    "AD_UNIT_SIZE_CODE",
                    "CUSTOM_CHANNEL_NAME",
                    "CUSTOM_CHANNEL_ID",
                    "OWNED_SITE_DOMAIN_NAME",
                    "OWNED_SITE_ID",
                    "URL_CHANNEL_NAME",
                    "URL_CHANNEL_ID",
                    "BUYER_NETWORK_NAME",
                    "BUYER_NETWORK_ID",
                    "BID_TYPE_NAME",
                    "BID_TYPE_CODE",
                    "CREATIVE_SIZE_NAME",
                    "CREATIVE_SIZE_CODE",
                    "DOMAIN_NAME",
                    "DOMAIN_CODE",
                    "COUNTRY_NAME",
                    "COUNTRY_CODE",
                    "PLATFORM_TYPE_NAME",
                    "PLATFORM_TYPE_CODE",
                    "TARGETING_TYPE_NAME",
                    "TARGETING_TYPE_CODE",
                    "CONTENT_PLATFORM_NAME",
                    "CONTENT_PLATFORM_CODE",
                    "AD_PLACEMENT_NAME",
                    "AD_PLACEMENT_CODE",
                    "REQUESTED_AD_TYPE_NAME",
                    "REQUESTED_AD_TYPE_CODE",
                    "SERVED_AD_TYPE_NAME",
                    "SERVED_AD_TYPE_CODE",
                    "CUSTOM_SEARCH_STYLE_NAME",
                    "CUSTOM_SEARCH_STYLE_ID",
                    "DOMAIN_REGISTRANT",
                    "WEBSEARCH_QUERY_STRING"
                  ],
                  "description": "Dimensions to base the report on.",
                  "enumDescriptions": [
                    "Unspecified dimension.",
                    "Date dimension in YYYY-MM-DD format (e.g. \"2010-02-10\").",
                    "Week dimension in YYYY-MM-DD format, representing the first day of each week (e.g. \"2010-02-08\"). The first day of the week is determined by the language_code specified in a report generation request (so e.g. this would be a Monday for \"en-GB\" or \"es\", but a Sunday for \"en\" or \"fr-CA\").",
                    "Month dimension in YYYY-MM format (e.g. \"2010-02\").",
                    "Account name. The members of this dimension match the values from Account.display_name.",
                    "Unique ID of an ad client. The members of this dimension match the values from AdClient.reporting_dimension_id.",
                    "Localized product name (e.g. \"AdSense for Content\", \"AdSense for Search\").",
                    "Product code (e.g. \"AFC\", \"AFS\"). The members of this dimension match the values from AdClient.product_code.",
                    "Ad unit name (within which an ad was served). The members of this dimension match the values from AdUnit.display_name.",
                    "Unique ID of an ad unit (within which an ad was served). The members of this dimension match the values from AdUnit.reporting_dimension_id.",
                    "Localized size of an ad unit (e.g. \"728x90\", \"Responsive\").",
                    "The size code of an ad unit (e.g. \"728x90\", \"responsive\").",
                    "Custom channel name. The members of this dimension match the values from CustomChannel.display_name.",
                    "Unique ID of a custom channel. The members of this dimension match the values from CustomChannel.reporting_dimension_id.",
                    "Domain name of a verified site (e.g. \"example.com\"). The members of this dimension match the values from Site.domain.",
                    "Unique ID of a verified site. The members of this dimension match the values from Site.reporting_dimension_id.",
                    "Name of a URL channel. The members of this dimension match the values from UrlChannel.uri_pattern.",
                    "Unique ID of a URL channel. The members of this dimension match the values from UrlChannel.reporting_dimension_id.",
                    "Name of an ad network that returned the winning ads for an ad request (e.g. \"Google AdWords\"). Note that unlike other \"NAME\" dimensions, the members of this dimensions are not localized.",
                    "Unique (opaque) ID of an ad network that returned the winning ads for an ad request.",
                    "Localized bid type name (e.g. \"CPC bids\", \"CPM bids\") for a served ad.",
                    "Type of a bid (e.g. \"cpc\", \"cpm\") for a served ad.",
                    "Localized creative size name (e.g. \"728x90\", \"Dynamic\") of a served ad.",
                    "Creative size code (e.g. \"728x90\", \"dynamic\") of a served ad.",
                    "Localized name of a host on which an ad was served, after IDNA decoding (e.g. \"www.google.com\", \"Web caches and other\", \"bücher.example\").",
                    "Name of a host on which an ad was served (e.g. \"www.google.com\", \"webcaches\", \"xn--bcher-kva.example\").",
                    "Localized region name of a user viewing an ad (e.g. \"United States\", \"France\").",
                    "CLDR region code of a user viewing an ad (e.g. \"US\", \"FR\").",
                    "Localized platform type name (e.g. \"High-end mobile devices\", \"Desktop\").",
                    "Platform type code (e.g. \"HighEndMobile\", \"Desktop\").",
                    "Localized targeting type name (e.g. \"Contextual\", \"Personalized\", \"Run of Network\").",
                    "Targeting type code (e.g. \"Keyword\", \"UserInterest\", \"RunOfNetwork\").",
                    "Localized content platform name an ad request was made from (e.g. \"AMP\", \"Web\").",
                    "Content platform code an ad request was made from (e.g. \"AMP\", \"HTML\").",
                    "Localized ad placement name (e.g. \"Ad unit\", \"Global settings\", \"Manual\").",
                    "Ad placement code (e.g. \"AD_UNIT\", \"ca-pub-123456:78910\", \"OTHER\").",
                    "Localized requested ad type name (e.g. \"Display\", \"Link unit\", \"Other\").",
                    "Requested ad type code (e.g. \"IMAGE\", \"RADLINK\", \"OTHER\").",
                    "Localized served ad type name (e.g. \"Display\", \"Link unit\", \"Other\").",
                    "Served ad type code (e.g. \"IMAGE\", \"RADLINK\", \"OTHER\").",
                    "Custom search style name.",
                    "Custom search style id.",
                    "Domain registrants.",
                    "Query strings for web searches."
                  ],
                  "repeated": true
                },
                "filters": {
                  "location": "query",
                  "type": "string",
                  "repeated": true,
                  "description": "Filters to be run on the report."
                },
                "startDate.year": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "location": "query"
                },
                "currencyCode": {
                  "type": "string",
                  "description": "The [ISO-4217 currency code](https://en.wikipedia.org/wiki/ISO_4217) to use when reporting on monetary metrics. Defaults to the account's currency if not set.",
                  "location": "query"
                },
                "metrics": {
                  "enum": [
                    "METRIC_UNSPECIFIED",
                    "PAGE_VIEWS",
                    "AD_REQUESTS",
                    "MATCHED_AD_REQUESTS",
                    "TOTAL_IMPRESSIONS",
                    "IMPRESSIONS",
                    "INDIVIDUAL_AD_IMPRESSIONS",
                    "CLICKS",
                    "PAGE_VIEWS_SPAM_RATIO",
                    "AD_REQUESTS_SPAM_RATIO",
                    "MATCHED_AD_REQUESTS_SPAM_RATIO",
                    "IMPRESSIONS_SPAM_RATIO",
                    "INDIVIDUAL_AD_IMPRESSIONS_SPAM_RATIO",
                    "CLICKS_SPAM_RATIO",
                    "AD_REQUESTS_COVERAGE",
                    "PAGE_VIEWS_CTR",
                    "AD_REQUESTS_CTR",
                    "MATCHED_AD_REQUESTS_CTR",
                    "IMPRESSIONS_CTR",
                    "INDIVIDUAL_AD_IMPRESSIONS_CTR",
                    "ACTIVE_VIEW_MEASURABILITY",
                    "ACTIVE_VIEW_VIEWABILITY",
                    "ACTIVE_VIEW_TIME",
                    "ESTIMATED_EARNINGS",
                    "PAGE_VIEWS_RPM",
                    "AD_REQUESTS_RPM",
                    "MATCHED_AD_REQUESTS_RPM",
                    "IMPRESSIONS_RPM",
                    "INDIVIDUAL_AD_IMPRESSIONS_RPM",
                    "COST_PER_CLICK",
                    "ADS_PER_IMPRESSION",
                    "TOTAL_EARNINGS",
                    "WEBSEARCH_RESULT_PAGES"
                  ],
                  "enumDescriptions": [
                    "Unspecified metric.",
                    "Number of page views.",
                    "Number of ad units that requested ads (for content ads) or search queries (for search ads). An ad request may result in zero, one, or multiple individual ad impressions depending on the size of the ad unit and whether any ads were available.",
                    "Requests that returned at least one ad.",
                    "Impressions. An impression is counted for each ad request where at least one ad has been downloaded to the user’s device and has begun to load. It is the number of ad units (for content ads) or search queries (for search ads) that showed ads.",
                    "Impressions. An impression is counted for each ad request where at least one ad has been downloaded to the user’s device and has begun to load. It is the number of ad units (for content ads) or search queries (for search ads) that showed ads.",
                    "Ads shown. Different ad formats will display varying numbers of ads. For example, a vertical banner may consist of 2 or more ads. Also, the number of ads in an ad unit may vary depending on whether the ad unit is displaying standard text ads, expanded text ads or image ads.",
                    "Number of times a user clicked on a standard content ad.",
                    "Fraction of page views considered to be spam. Only available to premium accounts.",
                    "Fraction of ad requests considered to be spam. Only available to premium accounts.",
                    "Fraction of ad requests that returned ads considered to be spam. Only available to premium accounts.",
                    "Fraction of impressions considered to be spam. Only available to premium accounts.",
                    "Fraction of ad impressions considered to be spam. Only available to premium accounts.",
                    "Fraction of clicks considered to be spam. Only available to premium accounts.",
                    "Ratio of requested ad units or queries to the number returned to the site.",
                    "Ratio of individual page views that resulted in a click.",
                    "Ratio of ad requests that resulted in a click.",
                    "Ratio of clicks to matched requests.",
                    "Ratio of IMPRESSIONS that resulted in a click.",
                    "Ratio of individual ad impressions that resulted in a click.",
                    "Ratio of requests that were measurable for viewability.",
                    "Ratio of requests that were viewable.",
                    "Mean time an ad was displayed on screen.",
                    "Estimated earnings of the publisher. Note that earnings up to yesterday are accurate, more recent earnings are estimated due to the possibility of spam, or exchange rate fluctuations.",
                    "Revenue per thousand page views. This is calculated by dividing the estimated revenue by the number of page views multiplied by 1000.",
                    "Revenue per thousand ad requests. This is calculated by dividing estimated revenue by the number of ad requests multiplied by 1000.",
                    "Revenue per thousand matched ad requests. This is calculated by dividing estimated revenue by the number of matched ad requests multiplied by 1000.",
                    "Revenue per thousand ad impressions. This is calculated by dividing estimated revenue by the number of ad impressions multiplied by 1000.",
                    "Revenue per thousand individual ad impressions. This is calculated by dividing estimated revenue by the number of individual ad impressions multiplied by 1000.",
                    "Amount the publisher earns each time a user clicks on an ad. CPC is calculated by dividing the estimated revenue by the number of clicks received.",
                    "Number of ad views per impression.",
                    "Total earnings.",
                    "Number of results pages."
                  ],
                  "type": "string",
                  "location": "query",
                  "repeated": true,
                  "description": "Required. Reporting metrics."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "parameterOrder": [
                "account"
              ],
              "id": "adsense.accounts.reports.generateCsv",
              "httpMethod": "GET",
              "path": "v2/{+account}/reports:generateCsv",
              "flatPath": "v2/accounts/{accountsId}/reports:generateCsv",
              "description": "Generates a csv formatted ad hoc report.",
              "response": {
                "$ref": "HttpBody"
              }
            }
          },
          "resources": {
            "saved": {
              "methods": {
                "generate": {
                  "description": "Generates a saved report.",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "flatPath": "v2/accounts/{accountsId}/reports/{reportsId}/saved:generate",
                  "parameters": {
                    "languageCode": {
                      "location": "query",
                      "description": "The language to use for translating report output. If unspecified, this defaults to English (\"en\"). If the given language is not supported, report output will be returned in English. The language is specified as an [IETF BCP-47 language code](https://en.wikipedia.org/wiki/IETF_language_tag).",
                      "type": "string"
                    },
                    "startDate.month": {
                      "type": "integer",
                      "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                      "location": "query",
                      "format": "int32"
                    },
                    "name": {
                      "location": "path",
                      "description": "Required. Name of the saved report. Format: accounts/{account}/reports/{report}",
                      "required": true,
                      "pattern": "^accounts/[^/]+/reports/[^/]+$",
                      "type": "string"
                    },
                    "currencyCode": {
                      "location": "query",
                      "type": "string",
                      "description": "The [ISO-4217 currency code](https://en.wikipedia.org/wiki/ISO_4217) to use when reporting on monetary metrics. Defaults to the account's currency if not set."
                    },
                    "endDate.year": {
                      "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "startDate.year": {
                      "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "dateRange": {
                      "location": "query",
                      "enum": [
                        "REPORTING_DATE_RANGE_UNSPECIFIED",
                        "CUSTOM",
                        "TODAY",
                        "YESTERDAY",
                        "MONTH_TO_DATE",
                        "YEAR_TO_DATE",
                        "LAST_7_DAYS",
                        "LAST_30_DAYS"
                      ],
                      "type": "string",
                      "enumDescriptions": [
                        "Unspecified date range.",
                        "A custom date range specified using the `start_date` and `end_date` fields. This is the default if no ReportingDateRange is provided.",
                        "Current day.",
                        "Yesterday.",
                        "From the start of the current month to the current day. e.g. if the current date is 2020-03-12 then the range will be [2020-03-01, 2020-03-12].",
                        "From the start of the current year to the current day. e.g. if the current date is 2020-03-12 then the range will be [2020-01-01, 2020-03-12].",
                        "Last 7 days, excluding current day.",
                        "Last 30 days, excluding current day."
                      ],
                      "description": "Date range of the report, if unset the range will be considered CUSTOM."
                    },
                    "endDate.month": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
                    },
                    "reportingTimeZone": {
                      "enum": [
                        "REPORTING_TIME_ZONE_UNSPECIFIED",
                        "ACCOUNT_TIME_ZONE",
                        "GOOGLE_TIME_ZONE"
                      ],
                      "type": "string",
                      "enumDescriptions": [
                        "Unspecified timezone.",
                        "Use the account timezone in the report.",
                        "Use the Google timezone in the report (America/Los_Angeles)."
                      ],
                      "location": "query",
                      "description": "Timezone in which to generate the report. If unspecified, this defaults to the account timezone. For more information, see [changing the time zone of your reports](https://support.google.com/adsense/answer/9830725)."
                    },
                    "endDate.day": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
                    },
                    "startDate.day": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                      "location": "query"
                    }
                  },
                  "id": "adsense.accounts.reports.saved.generate",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ReportResult"
                  },
                  "path": "v2/{+name}/saved:generate"
                },
                "generateCsv": {
                  "response": {
                    "$ref": "HttpBody"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v2/accounts/{accountsId}/reports/{reportsId}/saved:generateCsv",
                  "path": "v2/{+name}/saved:generateCsv",
                  "description": "Generates a csv formatted saved report.",
                  "id": "adsense.accounts.reports.saved.generateCsv",
                  "parameters": {
                    "startDate.day": {
                      "format": "int32",
                      "location": "query",
                      "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                      "type": "integer"
                    },
                    "currencyCode": {
                      "type": "string",
                      "description": "The [ISO-4217 currency code](https://en.wikipedia.org/wiki/ISO_4217) to use when reporting on monetary metrics. Defaults to the account's currency if not set.",
                      "location": "query"
                    },
                    "reportingTimeZone": {
                      "location": "query",
                      "type": "string",
                      "enum": [
                        "REPORTING_TIME_ZONE_UNSPECIFIED",
                        "ACCOUNT_TIME_ZONE",
                        "GOOGLE_TIME_ZONE"
                      ],
                      "enumDescriptions": [
                        "Unspecified timezone.",
                        "Use the account timezone in the report.",
                        "Use the Google timezone in the report (America/Los_Angeles)."
                      ],
                      "description": "Timezone in which to generate the report. If unspecified, this defaults to the account timezone. For more information, see [changing the time zone of your reports](https://support.google.com/adsense/answer/9830725)."
                    },
                    "endDate.year": {
                      "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "endDate.day": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^accounts/[^/]+/reports/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the saved report. Format: accounts/{account}/reports/{report}"
                    },
                    "languageCode": {
                      "type": "string",
                      "location": "query",
                      "description": "The language to use for translating report output. If unspecified, this defaults to English (\"en\"). If the given language is not supported, report output will be returned in English. The language is specified as an [IETF BCP-47 language code](https://en.wikipedia.org/wiki/IETF_language_tag)."
                    },
                    "endDate.month": {
                      "type": "integer",
                      "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                      "location": "query",
                      "format": "int32"
                    },
                    "startDate.year": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
                    },
                    "dateRange": {
                      "location": "query",
                      "description": "Date range of the report, if unset the range will be considered CUSTOM.",
                      "enumDescriptions": [
                        "Unspecified date range.",
                        "A custom date range specified using the `start_date` and `end_date` fields. This is the default if no ReportingDateRange is provided.",
                        "Current day.",
                        "Yesterday.",
                        "From the start of the current month to the current day. e.g. if the current date is 2020-03-12 then the range will be [2020-03-01, 2020-03-12].",
                        "From the start of the current year to the current day. e.g. if the current date is 2020-03-12 then the range will be [2020-01-01, 2020-03-12].",
                        "Last 7 days, excluding current day.",
                        "Last 30 days, excluding current day."
                      ],
                      "type": "string",
                      "enum": [
                        "REPORTING_DATE_RANGE_UNSPECIFIED",
                        "CUSTOM",
                        "TODAY",
                        "YESTERDAY",
                        "MONTH_TO_DATE",
                        "YEAR_TO_DATE",
                        "LAST_7_DAYS",
                        "LAST_30_DAYS"
                      ]
                    },
                    "startDate.month": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "id": "adsense.accounts.reports.saved.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/reports/saved",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^accounts/[^/]+$",
                      "type": "string",
                      "description": "Required. The account which owns the collection of reports. Format: accounts/{account}"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A page token, received from a previous `ListPayments` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPayments` must match the call that provided the page token."
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "The maximum number of reports to include in the response, used for paging. If unspecified, at most 10000 reports will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000."
                    }
                  },
                  "response": {
                    "$ref": "ListSavedReportsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "description": "Lists saved reports.",
                  "flatPath": "v2/accounts/{accountsId}/reports/saved"
                }
              }
            }
          }
        }
      }
    }
  },
  "basePath": "",
  "mtlsRootUrl": "https://adsense.mtls.googleapis.com/",
  "servicePath": "",
  "schemas": {
    "ListAccountsResponse": {
      "id": "ListAccountsResponse",
      "type": "object",
      "properties": {
        "accounts": {
          "type": "array",
          "items": {
            "$ref": "Account"
          },
          "description": "The accounts returned in this list response."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through accounts. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        }
      },
      "description": "Response definition for the account list rpc."
    },
    "AdUnit": {
      "properties": {
        "contentAdsSettings": {
          "$ref": "ContentAdsSettings",
          "description": "Settings specific to content ads (AFC)."
        },
        "name": {
          "type": "string",
          "description": "Resource name of the ad unit. Format: accounts/{account}/adclient/{adclient}/adunits/{adunit}"
        },
        "reportingDimensionId": {
          "readOnly": true,
          "description": "Output only. Unique ID of the ad unit as used in the `AD_UNIT_ID` reporting dimension.",
          "type": "string"
        },
        "displayName": {
          "description": "Display name of the ad unit, as provided when the ad unit was created.",
          "type": "string"
        },
        "state": {
          "description": "State of the ad unit.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ARCHIVED"
          ],
          "enumDescriptions": [
            "State unspecified.",
            "Ad unit has been activated by the user and can serve ads.",
            "Ad unit has been archived by the user and can no longer serve ads."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "AdUnit",
      "description": "Representation of an ad unit. An ad unit represents a saved ad unit with a specific set of ad settings that have been customized within an account."
    },
    "ListAlertsResponse": {
      "type": "object",
      "properties": {
        "alerts": {
          "items": {
            "$ref": "Alert"
          },
          "type": "array",
          "description": "The alerts returned in this list response."
        }
      },
      "description": "Response definition for the alerts list rpc.",
      "id": "ListAlertsResponse"
    },
    "ListLinkedAdUnitsResponse": {
      "id": "ListLinkedAdUnitsResponse",
      "properties": {
        "adUnits": {
          "items": {
            "$ref": "AdUnit"
          },
          "description": "The ad units returned in the list response.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through ad units. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        }
      },
      "type": "object",
      "description": "Response definition for the ad units linked to a custom channel list rpc."
    },
    "ListChildAccountsResponse": {
      "properties": {
        "accounts": {
          "items": {
            "$ref": "Account"
          },
          "description": "The accounts returned in this list response.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through accounts. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        }
      },
      "id": "ListChildAccountsResponse",
      "description": "Response definition for the child account list rpc.",
      "type": "object"
    },
    "Account": {
      "type": "object",
      "id": "Account",
      "description": "Representation of an account.",
      "properties": {
        "name": {
          "description": "Resource name of the account. Format: accounts/pub-[0-9]+",
          "type": "string"
        },
        "premium": {
          "readOnly": true,
          "description": "Output only. Whether this account is premium.",
          "type": "boolean"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Creation time of the account.",
          "type": "string",
          "readOnly": true
        },
        "timeZone": {
          "description": "The account time zone, as used by reporting. For more information, see [changing the time zone of your reports](https://support.google.com/adsense/answer/9830725).",
          "$ref": "TimeZone"
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Display name of this account."
        },
        "pendingTasks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Outstanding tasks that need to be completed as part of the sign-up process for a new account. e.g. \"billing-profile-creation\", \"phone-pin-verification\"."
        }
      }
    },
    "AdClient": {
      "type": "object",
      "id": "AdClient",
      "properties": {
        "productCode": {
          "description": "Output only. Product code of the ad client. For example, \"AFC\" for AdSense for Content.",
          "readOnly": true,
          "type": "string"
        },
        "reportingDimensionId": {
          "description": "Output only. Unique ID of the ad client as used in the `AD_CLIENT_ID` reporting dimension. Present only if the ad client supports reporting.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name of the ad client. Format: accounts/{account}/adclient/{adclient}"
        }
      },
      "description": "Representation of an ad client. An ad client represents a user's subscription with a specific AdSense product."
    },
    "Cell": {
      "id": "Cell",
      "description": "Cell representation.",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value in the cell. The dimension cells contain strings, and the metric cells contain numbers."
        }
      },
      "type": "object"
    },
    "Row": {
      "type": "object",
      "id": "Row",
      "description": "Row representation.",
      "properties": {
        "cells": {
          "type": "array",
          "items": {
            "$ref": "Cell"
          },
          "description": "Cells in the row."
        }
      }
    },
    "AdUnitAdCode": {
      "description": "Representation of the AdSense code for a given ad unit.",
      "properties": {
        "adCode": {
          "readOnly": true,
          "description": "Output only. The AdSense code snippet to add to the body of an HTML page.",
          "type": "string"
        }
      },
      "id": "AdUnitAdCode",
      "type": "object"
    },
    "Date": {
      "properties": {
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        }
      },
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values * A month and day value, with a zero year, such as an anniversary * A year on its own, with zero month and day values * A year and month value, with a zero day, such as a credit card expiration date Related types are google.type.TimeOfDay and `google.protobuf.Timestamp`.",
      "id": "Date"
    },
    "ListSavedReportsResponse": {
      "type": "object",
      "id": "ListSavedReportsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through reports. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        },
        "savedReports": {
          "type": "array",
          "description": "The reports returned in this list response.",
          "items": {
            "$ref": "SavedReport"
          }
        }
      },
      "description": "Response definition for the saved reports list rpc."
    },
    "ListSitesResponse": {
      "id": "ListSitesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token used to page through sites. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        },
        "sites": {
          "type": "array",
          "description": "The sites returned in this list response.",
          "items": {
            "$ref": "Site"
          }
        }
      },
      "description": "Response definition for the sites list rpc."
    },
    "ReportResult": {
      "id": "ReportResult",
      "description": "Result of a generated report.",
      "type": "object",
      "properties": {
        "totals": {
          "$ref": "Row",
          "description": "The totals of the report. This is the same length as any other row in the report; cells corresponding to dimension columns are empty."
        },
        "startDate": {
          "description": "Required. Start date of the range (inclusive).",
          "$ref": "Date"
        },
        "warnings": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Any warnings associated with generation of the report. These warnings are always returned in English."
        },
        "endDate": {
          "$ref": "Date",
          "description": "Required. End date of the range (inclusive)."
        },
        "headers": {
          "items": {
            "$ref": "Header"
          },
          "description": "The header information; one for each dimension in the request, followed by one for each metric in the request.",
          "type": "array"
        },
        "rows": {
          "description": "The output rows of the report. Each row is a list of cells; one for each dimension in the request, followed by one for each metric in the request.",
          "items": {
            "$ref": "Row"
          },
          "type": "array"
        },
        "totalMatchedRows": {
          "description": "The total number of rows matched by the report request.",
          "type": "string",
          "format": "int64"
        },
        "averages": {
          "description": "The averages of the report. This is the same length as any other row in the report; cells corresponding to dimension columns are empty.",
          "$ref": "Row"
        }
      }
    },
    "Site": {
      "properties": {
        "name": {
          "description": "Resource name of a site. Format: accounts/{account}/sites/{site}",
          "type": "string"
        },
        "domain": {
          "description": "Domain (or subdomain) of the site, e.g. \"example.com\" or \"www.example.com\". This is used in the `OWNED_SITE_DOMAIN_NAME` reporting dimension.",
          "type": "string"
        },
        "autoAdsEnabled": {
          "type": "boolean",
          "description": "Whether auto ads is turned on for the site."
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "REQUIRES_REVIEW",
            "GETTING_READY",
            "READY",
            "NEEDS_ATTENTION"
          ],
          "enumDescriptions": [
            "State unspecified.",
            "The site hasn't been checked yet.",
            "Running some checks on the site. This usually takes a few days, but in some cases can take up to 2 weeks.",
            "The site is ready to show ads.",
            "Publisher needs to fix some issues before the site is ready to show ads."
          ],
          "type": "string",
          "description": "Output only. State of a site."
        },
        "reportingDimensionId": {
          "readOnly": true,
          "description": "Output only. Unique ID of the site as used in the `OWNED_SITE_ID` reporting dimension.",
          "type": "string"
        }
      },
      "id": "Site",
      "type": "object",
      "description": "Representation of a Site."
    },
    "ListCustomChannelsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through alerts. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        },
        "customChannels": {
          "items": {
            "$ref": "CustomChannel"
          },
          "description": "The custom channels returned in this list response.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListCustomChannelsResponse",
      "description": "Response definition for the custom channel list rpc."
    },
    "ListUrlChannelsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through url channels. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        },
        "urlChannels": {
          "type": "array",
          "items": {
            "$ref": "UrlChannel"
          },
          "description": "The url channels returned in this list response."
        }
      },
      "id": "ListUrlChannelsResponse",
      "description": "Response definition for the url channels list rpc.",
      "type": "object"
    },
    "ContentAdsSettings": {
      "type": "object",
      "id": "ContentAdsSettings",
      "properties": {
        "size": {
          "type": "string",
          "description": "Size of the ad unit. e.g. \"728x90\", \"1x3\" (for responsive ad units)."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified ad unit type.",
            "Display ad unit.",
            "In-feed ad unit.",
            "In-article ad unit.",
            "Matched content unit.",
            "Link ad unit. Note that link ad units are being retired, see https://support.google.com/adsense/answer/9987221."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "DISPLAY",
            "FEED",
            "ARTICLE",
            "MATCHED_CONTENT",
            "LINK"
          ],
          "description": "Type of the ad unit."
        }
      },
      "description": "Settings specific to content ads (AFC)."
    },
    "CustomChannel": {
      "id": "CustomChannel",
      "description": "Representation of a custom channel.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name of the custom channel."
        },
        "reportingDimensionId": {
          "description": "Output only. Unique ID of the custom channel as used in the `CUSTOM_CHANNEL_ID` reporting dimension.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Resource name of the custom channel. Format: accounts/{account}/adclients/{adclient}/customchannels/{customchannel}",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListAdUnitsResponse": {
      "properties": {
        "adUnits": {
          "type": "array",
          "items": {
            "$ref": "AdUnit"
          },
          "description": "The ad units returned in the list response."
        },
        "nextPageToken": {
          "description": "Continuation token used to page through ad units. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListAdUnitsResponse",
      "description": "Response definition for the adunit list rpc."
    },
    "ListLinkedCustomChannelsResponse": {
      "id": "ListLinkedCustomChannelsResponse",
      "type": "object",
      "description": "Response definition for the custom channels linked to an adunit list rpc.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through alerts. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        },
        "customChannels": {
          "items": {
            "$ref": "CustomChannel"
          },
          "description": "The custom channels returned in this list response.",
          "type": "array"
        }
      }
    },
    "Alert": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The localized alert message. This may contain HTML markup, such as phrase elements or links."
[...]
