{
  "title": "AdSense Management API",
  "batchPath": "batch",
  "version_module": true,
  "name": "adsense",
  "baseUrl": "https://adsense.googleapis.com/",
  "revision": "20211014",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "servicePath": "",
  "basePath": "",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://adsense.mtls.googleapis.com/",
  "schemas": {
    "ListUrlChannelsResponse": {
      "type": "object",
      "description": "Response definition for the url channels list rpc.",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token used to page through url channels. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        },
        "urlChannels": {
          "type": "array",
          "items": {
            "$ref": "UrlChannel"
          },
          "description": "The url channels returned in this list response."
        }
      },
      "id": "ListUrlChannelsResponse"
    },
    "Payment": {
      "type": "object",
      "id": "Payment",
      "properties": {
        "date": {
          "$ref": "Date",
          "readOnly": true,
          "description": "Output only. For paid earnings, the date that the payment was credited. For unpaid earnings, this field is empty. Payment dates are always returned in the billing timezone (America/Los_Angeles)."
        },
        "name": {
          "description": "Resource name of the payment. Format: accounts/{account}/payments/unpaid for unpaid (current) earnings. accounts/{account}/payments/yyyy-MM-dd for paid earnings.",
          "type": "string"
        },
        "amount": {
          "description": "Output only. The amount of unpaid or paid earnings, as a formatted string, including the currency. E.g. \"¥1,235 JPY\", \"$1,234.57\", \"£87.65\".",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Representation of an unpaid or paid payment. See [Payment timelines for AdSense](https://support.google.com/adsense/answer/7164703) for more information about payments."
    },
    "ListLinkedCustomChannelsResponse": {
      "properties": {
        "customChannels": {
          "items": {
            "$ref": "CustomChannel"
          },
          "description": "The custom channels returned in this list response.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through alerts. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        }
      },
      "id": "ListLinkedCustomChannelsResponse",
      "description": "Response definition for the custom channels linked to an adunit list rpc.",
      "type": "object"
    },
    "ListCustomChannelsResponse": {
      "type": "object",
      "properties": {
        "customChannels": {
          "description": "The custom channels returned in this list response.",
          "items": {
            "$ref": "CustomChannel"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token used to page through alerts. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      },
      "description": "Response definition for the custom channel list rpc.",
      "id": "ListCustomChannelsResponse"
    },
    "ListAdClientsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through ad clients. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        },
        "adClients": {
          "type": "array",
          "items": {
            "$ref": "AdClient"
          },
          "description": "The ad clients returned in this list response."
        }
      },
      "type": "object",
      "description": "Response definition for the ad client list rpc.",
      "id": "ListAdClientsResponse"
    },
    "AdClientAdCode": {
      "type": "object",
      "description": "Representation of the AdSense code for a given ad client. For more information, see [About the AdSense code](https://support.google.com/adsense/answer/9274634).",
      "id": "AdClientAdCode",
      "properties": {
        "ampHead": {
          "type": "string",
          "description": "Output only. The AdSense code snippet to add to the head of an AMP page.",
          "readOnly": true
        },
        "adCode": {
          "description": "Output only. The AdSense code snippet to add to the head of an HTML page.",
          "readOnly": true,
          "type": "string"
        },
        "ampBody": {
          "description": "Output only. The AdSense code snippet to add to the body of an AMP page.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Row": {
      "id": "Row",
      "type": "object",
      "properties": {
        "cells": {
          "type": "array",
          "description": "Cells in the row.",
          "items": {
            "$ref": "Cell"
          }
        }
      },
      "description": "Row representation."
    },
    "ReportResult": {
      "type": "object",
      "properties": {
        "endDate": {
          "description": "Required. End date of the range (inclusive).",
          "$ref": "Date"
        },
        "rows": {
          "type": "array",
          "items": {
            "$ref": "Row"
          },
          "description": "The output rows of the report. Each row is a list of cells; one for each dimension in the request, followed by one for each metric in the request."
        },
        "startDate": {
          "$ref": "Date",
          "description": "Required. Start date of the range (inclusive)."
        },
        "totals": {
          "description": "The totals of the report. This is the same length as any other row in the report; cells corresponding to dimension columns are empty.",
          "$ref": "Row"
        },
        "warnings": {
          "description": "Any warnings associated with generation of the report. These warnings are always returned in English.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "headers": {
          "type": "array",
          "description": "The header information; one for each dimension in the request, followed by one for each metric in the request.",
          "items": {
            "$ref": "Header"
          }
        },
        "averages": {
          "description": "The averages of the report. This is the same length as any other row in the report; cells corresponding to dimension columns are empty.",
          "$ref": "Row"
        },
        "totalMatchedRows": {
          "type": "string",
          "format": "int64",
          "description": "The total number of rows matched by the report request."
        }
      },
      "id": "ReportResult",
      "description": "Result of a generated report."
    },
    "Cell": {
      "type": "object",
      "id": "Cell",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value in the cell. The dimension cells contain strings, and the metric cells contain numbers."
        }
      },
      "description": "Cell representation."
    },
    "Site": {
      "description": "Representation of a Site.",
      "type": "object",
      "id": "Site",
      "properties": {
        "domain": {
          "type": "string",
          "description": "Domain (or subdomain) of the site, e.g. \"example.com\" or \"www.example.com\". This is used in the `OWNED_SITE_DOMAIN_NAME` reporting dimension."
        },
        "state": {
          "readOnly": true,
          "description": "Output only. State of a site.",
          "type": "string",
          "enumDescriptions": [
            "State unspecified.",
            "The site hasn't been checked yet.",
            "Running some checks on the site. This usually takes a few days, but in some cases can take up to 2 weeks.",
            "The site is ready to show ads.",
            "Publisher needs to fix some issues before the site is ready to show ads."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "REQUIRES_REVIEW",
            "GETTING_READY",
            "READY",
            "NEEDS_ATTENTION"
          ]
        },
        "reportingDimensionId": {
          "readOnly": true,
          "description": "Output only. Unique ID of the site as used in the `OWNED_SITE_ID` reporting dimension.",
          "type": "string"
        },
        "autoAdsEnabled": {
          "description": "Whether auto ads is turned on for the site.",
          "type": "boolean"
        },
        "name": {
          "description": "Resource name of a site. Format: accounts/{account}/sites/{site}",
          "type": "string"
        }
      }
    },
    "TimeZone": {
      "id": "TimeZone",
      "type": "object",
      "properties": {
        "version": {
          "description": "Optional. IANA Time Zone Database version number, e.g. \"2019a\".",
          "type": "string"
        },
        "id": {
          "description": "IANA Time Zone Database time zone, e.g. \"America/New_York\".",
          "type": "string"
        }
      },
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
    },
    "ListAdUnitsResponse": {
      "id": "ListAdUnitsResponse",
      "type": "object",
      "properties": {
        "adUnits": {
          "items": {
            "$ref": "AdUnit"
          },
          "type": "array",
          "description": "The ad units returned in the list response."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through ad units. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        }
      },
      "description": "Response definition for the adunit list rpc."
    },
    "ListSitesResponse": {
      "id": "ListSitesResponse",
      "properties": {
        "sites": {
          "description": "The sites returned in this list response.",
          "type": "array",
          "items": {
            "$ref": "Site"
          }
        },
        "nextPageToken": {
          "description": "Continuation token used to page through sites. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      },
      "description": "Response definition for the sites list rpc.",
      "type": "object"
    },
    "AdClient": {
      "id": "AdClient",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name of the ad client. Format: accounts/{account}/adclient/{adclient}"
        },
        "reportingDimensionId": {
          "type": "string",
          "description": "Output only. Unique ID of the ad client as used in the `AD_CLIENT_ID` reporting dimension. Present only if the ad client supports reporting.",
          "readOnly": true
        },
        "productCode": {
          "description": "Output only. Product code of the ad client. For example, \"AFC\" for AdSense for Content.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Representation of an ad client. An ad client represents a user's subscription with a specific AdSense product.",
      "type": "object"
    },
    "Alert": {
      "description": "Representation of an alert.",
      "properties": {
        "severity": {
          "description": "Output only. Severity of this alert.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified severity.",
            "Info.",
            "Warning.",
            "Severe."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "SEVERE"
          ],
          "readOnly": true
        },
        "name": {
          "description": "Resource name of the alert. Format: accounts/{account}/alerts/{alert}",
          "type": "string"
        },
        "type": {
          "description": "Output only. Type of alert. This identifies the broad type of this alert, and provides a stable machine-readable identifier that will not be translated. For example, \"payment-hold\".",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "readOnly": true,
          "description": "Output only. The localized alert message. This may contain HTML markup, such as phrase elements or links.",
          "type": "string"
        }
      },
      "id": "Alert",
      "type": "object"
    },
    "CustomChannel": {
      "description": "Representation of a custom channel.",
      "id": "CustomChannel",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name of the custom channel. Format: accounts/{account}/adclients/{adclient}/customchannels/{customchannel}"
        },
        "reportingDimensionId": {
          "type": "string",
          "description": "Output only. Unique ID of the custom channel as used in the `CUSTOM_CHANNEL_ID` reporting dimension.",
          "readOnly": true
        },
        "displayName": {
          "description": "Display name of the custom channel.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListPaymentsResponse": {
      "type": "object",
      "properties": {
        "payments": {
          "type": "array",
          "description": "The payments returned in this list response.",
          "items": {
            "$ref": "Payment"
          }
        }
      },
      "id": "ListPaymentsResponse",
      "description": "Response definition for the payments list rpc."
    },
    "ListSavedReportsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through reports. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        },
        "savedReports": {
          "items": {
            "$ref": "SavedReport"
          },
          "type": "array",
          "description": "The reports returned in this list response."
        }
      },
      "id": "ListSavedReportsResponse",
      "type": "object",
      "description": "Response definition for the saved reports list rpc."
    },
    "Account": {
      "id": "Account",
      "description": "Representation of an account.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name of the account. Format: accounts/pub-[0-9]+"
        },
        "timeZone": {
          "$ref": "TimeZone",
          "description": "The account time zone, as used by reporting. For more information, see [changing the time zone of your reports](https://support.google.com/adsense/answer/9830725)."
        },
        "createTime": {
          "description": "Output only. Creation time of the account.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "pendingTasks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Outstanding tasks that need to be completed as part of the sign-up process for a new account. e.g. \"billing-profile-creation\", \"phone-pin-verification\".",
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Display name of this account."
        },
        "premium": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether this account is premium."
        }
      },
      "type": "object"
    },
    "ListChildAccountsResponse": {
      "description": "Response definition for the child account list rpc.",
      "properties": {
        "accounts": {
          "type": "array",
          "description": "The accounts returned in this list response.",
          "items": {
            "$ref": "Account"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through accounts. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        }
      },
      "id": "ListChildAccountsResponse",
      "type": "object"
    },
    "AdUnitAdCode": {
      "id": "AdUnitAdCode",
      "type": "object",
      "properties": {
        "adCode": {
          "description": "Output only. The AdSense code snippet to add to the body of an HTML page.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Representation of the AdSense code for a given ad unit."
    },
    "ContentAdsSettings": {
      "type": "object",
      "description": "Settings specific to content ads (AFC).",
      "id": "ContentAdsSettings",
      "properties": {
        "size": {
          "description": "Size of the ad unit. e.g. \"728x90\", \"1x3\" (for responsive ad units).",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified ad unit type.",
            "Display ad unit.",
            "In-feed ad unit.",
            "In-article ad unit.",
            "Matched content unit.",
            "Link ad unit. Note that link ad units have now been retired, see https://support.google.com/adsense/answer/9987221."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "DISPLAY",
            "FEED",
            "ARTICLE",
            "MATCHED_CONTENT",
            "LINK"
          ],
          "type": "string",
          "description": "Type of the ad unit."
        }
      }
    },
    "HttpBody": {
      "properties": {
        "extensions": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array",
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs."
        },
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        },
        "data": {
          "type": "string",
          "format": "byte",
          "description": "The HTTP request/response body as raw binary."
        }
      },
      "type": "object",
      "id": "HttpBody",
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged."
    },
    "UrlChannel": {
      "description": "Representation of a URL channel. URL channels allow you to track the performance of particular pages in your site; see [URL channels](https://support.google.com/adsense/answer/2923836) for more information.",
      "id": "UrlChannel",
      "type": "object",
      "properties": {
        "reportingDimensionId": {
          "readOnly": true,
          "description": "Output only. Unique ID of the custom channel as used in the `URL_CHANNEL_ID` reporting dimension.",
          "type": "string"
        },
        "uriPattern": {
          "type": "string",
          "description": "URI pattern of the channel. Does not include \"http://\" or \"https://\". Example: www.example.com/home"
        },
        "name": {
          "description": "Resource name of the URL channel. Format: accounts/{account}/adclient/{adclient}/urlchannels/{urlchannel}",
          "type": "string"
        }
      }
    },
    "AdUnit": {
      "type": "object",
      "id": "AdUnit",
      "properties": {
        "name": {
          "description": "Resource name of the ad unit. Format: accounts/{account}/adclient/{adclient}/adunits/{adunit}",
          "type": "string"
        },
        "contentAdsSettings": {
          "$ref": "ContentAdsSettings",
          "description": "Settings specific to content ads (AFC)."
        },
        "reportingDimensionId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Unique ID of the ad unit as used in the `AD_UNIT_ID` reporting dimension."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ARCHIVED"
          ],
          "description": "State of the ad unit.",
          "type": "string",
          "enumDescriptions": [
            "State unspecified.",
            "Ad unit has been activated by the user.",
            "Ad unit has been archived by the user. Note that archived ad units are only removed from the default view in the UI. Archived ad units can still serve ads."
          ]
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the ad unit, as provided when the ad unit was created."
        }
      },
      "description": "Representation of an ad unit. An ad unit represents a saved ad unit with a specific set of ad settings that have been customized within an account."
    },
    "SavedReport": {
      "description": "Representation of a saved report.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name of the report. Format: accounts/{account}/reports/{report}"
        },
        "title": {
          "description": "Report title as specified by publisher.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SavedReport"
    },
    "ListLinkedAdUnitsResponse": {
      "description": "Response definition for the ad units linked to a custom channel list rpc.",
      "id": "ListLinkedAdUnitsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token used to page through ad units. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        },
        "adUnits": {
          "type": "array",
          "description": "The ad units returned in the list response.",
          "items": {
            "$ref": "AdUnit"
          }
        }
      }
    },
    "ListAccountsResponse": {
      "description": "Response definition for the account list rpc.",
      "id": "ListAccountsResponse",
      "type": "object",
      "properties": {
        "accounts": {
          "items": {
            "$ref": "Account"
          },
          "type": "array",
          "description": "The accounts returned in this list response."
        },
        "nextPageToken": {
          "description": "Continuation token used to page through accounts. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      }
    },
    "Date": {
      "id": "Date",
      "type": "object",
      "properties": {
        "month": {
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values * A month and day value, with a zero year, such as an anniversary * A year on its own, with zero month and day values * A year and month value, with a zero day, such as a credit card expiration date Related types are google.type.TimeOfDay and `google.protobuf.Timestamp`."
    },
    "Header": {
      "description": "The header information of the columns requested in the report.",
      "id": "Header",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Name of the header."
        },
        "currencyCode": {
          "description": "The [ISO-4217 currency code](https://en.wikipedia.org/wiki/ISO_4217) of this column. Only present if the header type is METRIC_CURRENCY.",
          "type": "string"
        },
        "type": {
          "enum": [
            "HEADER_TYPE_UNSPECIFIED",
            "DIMENSION",
            "METRIC_TALLY",
            "METRIC_RATIO",
            "METRIC_CURRENCY",
            "METRIC_MILLISECONDS",
            "METRIC_DECIMAL"
          ],
          "enumDescriptions": [
            "Unspecified header.",
            "Dimension header type.",
            "Tally header type.",
            "Ratio header type.",
            "Currency header type.",
            "Milliseconds header type.",
            "Decimal header type."
          ],
          "type": "string",
          "description": "Required. Type of the header."
        }
      }
    },
    "ListAlertsResponse": {
      "description": "Response definition for the alerts list rpc.",
      "type": "object",
      "properties": {
        "alerts": {
          "items": {
            "$ref": "Alert"
          },
          "description": "The alerts returned in this list response.",
          "type": "array"
        }
      },
      "id": "ListAlertsResponse"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adsense.readonly": {
          "description": "View your AdSense data"
        },
        "https://www.googleapis.com/auth/adsense": {
          "description": "View and manage your AdSense data"
        }
      }
    }
  },
  "protocol": "rest",
  "rootUrl": "https://adsense.googleapis.com/",
  "description": "The AdSense Management API allows publishers to access their inventory and run earnings and performance reports.",
  "documentationLink": "https://developers.google.com/adsense/management/",
  "id": "adsense:v2",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "version": "v2",
  "ownerDomain": "google.com",
  "resources": {
    "accounts": {
      "resources": {
        "adclients": {
          "methods": {
            "getAdcode": {
              "description": "Gets the AdSense code for a given ad client. This returns what was previously known as the 'auto ad code'. This is only supported for ad clients with a product_code of AFC. For more information, see [About the AdSense code](https://support.google.com/adsense/answer/9274634).",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "path": "v2/{+name}/adcode",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+/adclients/[^/]+$",
                  "location": "path",
                  "description": "Required. Name of the ad client for which to get the adcode. Format: accounts/{account}/adclients/{adclient}",
                  "required": true
                }
              },
              "id": "adsense.accounts.adclients.getAdcode",
              "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/adcode",
              "response": {
                "$ref": "AdClientAdCode"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "response": {
                "$ref": "ListAdClientsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "path": "v2/{+parent}/adclients",
              "description": "Lists all the ad clients available in an account.",
              "flatPath": "v2/accounts/{accountsId}/adclients",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of ad clients to include in the response, used for paging. If unspecified, at most 10000 ad clients will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                  "type": "integer"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The account which owns the collection of ad clients. Format: accounts/{account}"
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListAdClients` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAdClients` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "adsense.accounts.adclients.list",
              "httpMethod": "GET"
            }
          },
          "resources": {
            "adunits": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "id": "adsense.accounts.adclients.adunits.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets an ad unit from a specified account and ad client.",
                  "response": {
                    "$ref": "AdUnit"
                  },
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/adunits/{adunitsId}",
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. AdUnit to get information about. Format: accounts/{account_id}/adclient/{adclient_id}/adunit/{adunit_id}",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/adunits/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ]
                },
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/adunits",
                  "response": {
                    "$ref": "ListAdUnitsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists all ad units under a specified account and ad client.",
                  "id": "adsense.accounts.adclients.adunits.list",
                  "path": "v2/{+parent}/adunits",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The ad client which owns the collection of ad units. Format: accounts/{account}/adclients/{adclient}",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of ad units to include in the response, used for paging. If unspecified, at most 10000 ad units will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A page token, received from a previous `ListAdUnits` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAdUnits` must match the call that provided the page token.",
                      "type": "string"
                    }
                  }
                },
                "getAdcode": {
                  "description": "Gets the AdSense code for a given ad unit.",
                  "id": "adsense.accounts.adclients.adunits.getAdcode",
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/adunits/{adunitsId}/adcode",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "AdUnitAdCode"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the adunit for which to get the adcode. Format: accounts/{account}/adclients/{adclient}/adunits/{adunit}",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/adunits/[^/]+$"
                    }
                  },
                  "path": "v2/{+name}/adcode"
                },
                "listLinkedCustomChannels": {
                  "description": "Lists all the custom channels available for an ad unit.",
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/adunits/{adunitsId}:listLinkedCustomChannels",
                  "parameters": {
                    "pageToken": {
                      "description": "A page token, received from a previous `ListLinkedCustomChannels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLinkedCustomChannels` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of custom channels to include in the response, used for paging. If unspecified, at most 10000 custom channels will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000."
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/adunits/[^/]+$",
                      "description": "Required. The ad unit which owns the collection of custom channels. Format: accounts/{account}/adclients/{adclient}/adunits/{adunit}"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "response": {
                    "$ref": "ListLinkedCustomChannelsResponse"
                  },
                  "id": "adsense.accounts.adclients.adunits.listLinkedCustomChannels",
                  "path": "v2/{+parent}:listLinkedCustomChannels"
                }
              }
            },
            "urlchannels": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListUrlChannelsResponse"
                  },
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/urlchannels",
                  "parameters": {
                    "parent": {
                      "pattern": "^accounts/[^/]+/adclients/[^/]+$",
                      "description": "Required. The ad client which owns the collection of url channels. Format: accounts/{account}/adclients/{adclient}",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of url channels to include in the response, used for paging. If unspecified, at most 10000 url channels will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A page token, received from a previous `ListUrlChannels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUrlChannels` must match the call that provided the page token.",
                      "location": "query"
                    }
                  },
                  "description": "Lists active url channels.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "adsense.accounts.adclients.urlchannels.list",
                  "path": "v2/{+parent}/urlchannels"
                }
              }
            },
            "customchannels": {
              "methods": {
                "listLinkedAdUnits": {
                  "id": "adsense.accounts.adclients.customchannels.listLinkedAdUnits",
                  "description": "Lists all the ad units available for a custom channel.",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "response": {
                    "$ref": "ListLinkedAdUnitsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of ad units to include in the response, used for paging. If unspecified, at most 10000 ad units will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000."
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The custom channel which owns the collection of ad units. Format: accounts/{account}/adclients/{adclient}/customchannels/{customchannel}",
                      "required": true,
                      "type": "string",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/customchannels/[^/]+$"
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListLinkedAdUnits` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLinkedAdUnits` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/customchannels/{customchannelsId}:listLinkedAdUnits",
                  "path": "v2/{+parent}:listLinkedAdUnits",
                  "httpMethod": "GET"
                },
                "list": {
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/customchannels",
                  "id": "adsense.accounts.adclients.customchannels.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListCustomChannelsResponse"
                  },
                  "path": "v2/{+parent}/customchannels",
                  "parameters": {
                    "parent": {
                      "pattern": "^accounts/[^/]+/adclients/[^/]+$",
                      "location": "path",
                      "description": "Required. The ad client which owns the collection of custom channels. Format: accounts/{account}/adclients/{adclient}",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A page token, received from a previous `ListCustomChannels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCustomChannels` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of custom channels to include in the response, used for paging. If unspecified, at most 10000 custom channels will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists all the custom channels available in an ad client."
                },
                "get": {
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/customchannels/{customchannelsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "CustomChannel"
                  },
                  "path": "v2/{+name}",
                  "id": "adsense.accounts.adclients.customchannels.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/customchannels/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. Name of the custom channel. Format: accounts/{account}/adclients/{adclient}/customchannels/{customchannel}"
                    }
                  },
                  "description": "Gets information about the selected custom channel.",
                  "httpMethod": "GET"
                }
              }
            }
          }
        },
        "alerts": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListAlertsResponse"
              },
              "description": "Lists all the alerts available in an account.",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The account which owns the collection of alerts. Format: accounts/{account}"
                },
                "languageCode": {
                  "type": "string",
                  "location": "query",
                  "description": "The language to use for translating alert messages. If unspecified, this defaults to the user's display language. If the given language is not supported, alerts will be returned in English. The language is specified as an [IETF BCP-47 language code](https://en.wikipedia.org/wiki/IETF_language_tag)."
                }
              },
              "path": "v2/{+parent}/alerts",
              "id": "adsense.accounts.alerts.list",
              "httpMethod": "GET",
              "flatPath": "v2/accounts/{accountsId}/alerts"
            }
          }
        },
        "reports": {
          "methods": {
            "generateCsv": {
              "parameterOrder": [
                "account"
              ],
              "id": "adsense.accounts.reports.generateCsv",
              "httpMethod": "GET",
              "response": {
                "$ref": "HttpBody"
              },
              "flatPath": "v2/accounts/{accountsId}/reports:generateCsv",
              "description": "Generates a csv formatted ad hoc report.",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "path": "v2/{+account}/reports:generateCsv",
              "parameters": {
                "dateRange": {
                  "enum": [
                    "REPORTING_DATE_RANGE_UNSPECIFIED",
                    "CUSTOM",
                    "TODAY",
                    "YESTERDAY",
                    "MONTH_TO_DATE",
                    "YEAR_TO_DATE",
                    "LAST_7_DAYS",
                    "LAST_30_DAYS"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "Unspecified date range.",
                    "A custom date range specified using the `start_date` and `end_date` fields. This is the default if no ReportingDateRange is provided.",
                    "Current day.",
                    "Yesterday.",
                    "From the start of the current month to the current day. e.g. if the current date is 2020-03-12 then the range will be [2020-03-01, 2020-03-12].",
                    "From the start of the current year to the current day. e.g. if the current date is 2020-03-12 then the range will be [2020-01-01, 2020-03-12].",
                    "Last 7 days, excluding current day.",
                    "Last 30 days, excluding current day."
                  ],
                  "type": "string",
                  "description": "Date range of the report, if unset the range will be considered CUSTOM."
                },
                "metrics": {
                  "type": "string",
                  "description": "Required. Reporting metrics.",
                  "repeated": true,
                  "enum": [
                    "METRIC_UNSPECIFIED",
                    "PAGE_VIEWS",
                    "AD_REQUESTS",
                    "MATCHED_AD_REQUESTS",
                    "TOTAL_IMPRESSIONS",
                    "IMPRESSIONS",
                    "INDIVIDUAL_AD_IMPRESSIONS",
                    "CLICKS",
                    "PAGE_VIEWS_SPAM_RATIO",
                    "AD_REQUESTS_SPAM_RATIO",
                    "MATCHED_AD_REQUESTS_SPAM_RATIO",
                    "IMPRESSIONS_SPAM_RATIO",
                    "INDIVIDUAL_AD_IMPRESSIONS_SPAM_RATIO",
                    "CLICKS_SPAM_RATIO",
                    "AD_REQUESTS_COVERAGE",
                    "PAGE_VIEWS_CTR",
                    "AD_REQUESTS_CTR",
                    "MATCHED_AD_REQUESTS_CTR",
                    "IMPRESSIONS_CTR",
                    "INDIVIDUAL_AD_IMPRESSIONS_CTR",
                    "ACTIVE_VIEW_MEASURABILITY",
                    "ACTIVE_VIEW_VIEWABILITY",
                    "ACTIVE_VIEW_TIME",
                    "ESTIMATED_EARNINGS",
                    "PAGE_VIEWS_RPM",
                    "AD_REQUESTS_RPM",
                    "MATCHED_AD_REQUESTS_RPM",
                    "IMPRESSIONS_RPM",
                    "INDIVIDUAL_AD_IMPRESSIONS_RPM",
                    "COST_PER_CLICK",
                    "ADS_PER_IMPRESSION",
                    "TOTAL_EARNINGS",
                    "WEBSEARCH_RESULT_PAGES"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "Unspecified metric.",
                    "Number of page views.",
                    "Number of ad units that requested ads (for content ads) or search queries (for search ads). An ad request may result in zero, one, or multiple individual ad impressions depending on the size of the ad unit and whether any ads were available.",
                    "Requests that returned at least one ad.",
                    "Impressions. An impression is counted for each ad request where at least one ad has been downloaded to the user’s device and has begun to load. It is the number of ad units (for content ads) or search queries (for search ads) that showed ads.",
                    "Impressions. An impression is counted for each ad request where at least one ad has been downloaded to the user’s device and has begun to load. It is the number of ad units (for content ads) or search queries (for search ads) that showed ads.",
                    "Ads shown. Different ad formats will display varying numbers of ads. For example, a vertical banner may consist of 2 or more ads. Also, the number of ads in an ad unit may vary depending on whether the ad unit is displaying standard text ads, expanded text ads or image ads.",
                    "Number of times a user clicked on a standard content ad.",
                    "Fraction of page views considered to be spam. Only available to premium accounts.",
                    "Fraction of ad requests considered to be spam. Only available to premium accounts.",
                    "Fraction of ad requests that returned ads considered to be spam. Only available to premium accounts.",
                    "Fraction of impressions considered to be spam. Only available to premium accounts.",
                    "Fraction of ad impressions considered to be spam. Only available to premium accounts.",
                    "Fraction of clicks considered to be spam. Only available to premium accounts.",
                    "Ratio of requested ad units or queries to the number returned to the site.",
                    "Ratio of individual page views that resulted in a click.",
                    "Ratio of ad requests that resulted in a click.",
                    "Ratio of clicks to matched requests.",
                    "Ratio of IMPRESSIONS that resulted in a click.",
                    "Ratio of individual ad impressions that resulted in a click.",
                    "Ratio of requests that were measurable for viewability.",
                    "Ratio of requests that were viewable.",
                    "Mean time an ad was displayed on screen.",
                    "Estimated earnings of the publisher. Note that earnings up to yesterday are accurate, more recent earnings are estimated due to the possibility of spam, or exchange rate fluctuations.",
                    "Revenue per thousand page views. This is calculated by dividing the estimated revenue by the number of page views multiplied by 1000.",
                    "Revenue per thousand ad requests. This is calculated by dividing estimated revenue by the number of ad requests multiplied by 1000.",
                    "Revenue per thousand matched ad requests. This is calculated by dividing estimated revenue by the number of matched ad requests multiplied by 1000.",
                    "Revenue per thousand ad impressions. This is calculated by dividing estimated revenue by the number of ad impressions multiplied by 1000.",
                    "Revenue per thousand individual ad impressions. This is calculated by dividing estimated revenue by the number of individual ad impressions multiplied by 1000.",
                    "Amount the publisher earns each time a user clicks on an ad. CPC is calculated by dividing the estimated revenue by the number of clicks received.",
                    "Number of ad views per impression.",
                    "Total earnings.",
                    "Number of results pages."
                  ]
                },
                "dimensions": {
                  "type": "string",
                  "repeated": true,
                  "location": "query",
                  "enum": [
                    "DIMENSION_UNSPECIFIED",
                    "DATE",
                    "WEEK",
                    "MONTH",
                    "ACCOUNT_NAME",
                    "AD_CLIENT_ID",
                    "PRODUCT_NAME",
                    "PRODUCT_CODE",
                    "AD_UNIT_NAME",
                    "AD_UNIT_ID",
                    "AD_UNIT_SIZE_NAME",
                    "AD_UNIT_SIZE_CODE",
                    "CUSTOM_CHANNEL_NAME",
                    "CUSTOM_CHANNEL_ID",
                    "OWNED_SITE_DOMAIN_NAME",
                    "OWNED_SITE_ID",
                    "URL_CHANNEL_NAME",
                    "URL_CHANNEL_ID",
                    "BUYER_NETWORK_NAME",
                    "BUYER_NETWORK_ID",
                    "BID_TYPE_NAME",
                    "BID_TYPE_CODE",
                    "CREATIVE_SIZE_NAME",
                    "CREATIVE_SIZE_CODE",
                    "DOMAIN_NAME",
                    "DOMAIN_CODE",
                    "COUNTRY_NAME",
                    "COUNTRY_CODE",
                    "PLATFORM_TYPE_NAME",
                    "PLATFORM_TYPE_CODE",
                    "TARGETING_TYPE_NAME",
                    "TARGETING_TYPE_CODE",
                    "CONTENT_PLATFORM_NAME",
                    "CONTENT_PLATFORM_CODE",
                    "AD_PLACEMENT_NAME",
                    "AD_PLACEMENT_CODE",
                    "REQUESTED_AD_TYPE_NAME",
                    "REQUESTED_AD_TYPE_CODE",
                    "SERVED_AD_TYPE_NAME",
                    "SERVED_AD_TYPE_CODE",
                    "AD_FORMAT_NAME",
                    "AD_FORMAT_CODE",
                    "CUSTOM_SEARCH_STYLE_NAME",
                    "CUSTOM_SEARCH_STYLE_ID",
                    "DOMAIN_REGISTRANT",
                    "WEBSEARCH_QUERY_STRING"
                  ],
                  "description": "Dimensions to base the report on.",
                  "enumDescriptions": [
                    "Unspecified dimension.",
                    "Date dimension in YYYY-MM-DD format (e.g. \"2010-02-10\").",
                    "Week dimension in YYYY-MM-DD format, representing the first day of each week (e.g. \"2010-02-08\"). The first day of the week is determined by the language_code specified in a report generation request (so e.g. this would be a Monday for \"en-GB\" or \"es\", but a Sunday for \"en\" or \"fr-CA\").",
                    "Month dimension in YYYY-MM format (e.g. \"2010-02\").",
                    "Account name. The members of this dimension match the values from Account.display_name.",
                    "Unique ID of an ad client. The members of this dimension match the values from AdClient.reporting_dimension_id.",
                    "Localized product name (e.g. \"AdSense for Content\", \"AdSense for Search\").",
                    "Product code (e.g. \"AFC\", \"AFS\"). The members of this dimension match the values from AdClient.product_code.",
                    "Ad unit name (within which an ad was served). The members of this dimension match the values from AdUnit.display_name.",
                    "Unique ID of an ad unit (within which an ad was served). The members of this dimension match the values from AdUnit.reporting_dimension_id.",
                    "Localized size of an ad unit (e.g. \"728x90\", \"Responsive\").",
                    "The size code of an ad unit (e.g. \"728x90\", \"responsive\").",
                    "Custom channel name. The members of this dimension match the values from CustomChannel.display_name.",
                    "Unique ID of a custom channel. The members of this dimension match the values from CustomChannel.reporting_dimension_id.",
                    "Domain name of a verified site (e.g. \"example.com\"). The members of this dimension match the values from Site.domain.",
                    "Unique ID of a verified site. The members of this dimension match the values from Site.reporting_dimension_id.",
                    "Name of a URL channel. The members of this dimension match the values from UrlChannel.uri_pattern.",
                    "Unique ID of a URL channel. The members of this dimension match the values from UrlChannel.reporting_dimension_id.",
                    "Name of an ad network that returned the winning ads for an ad request (e.g. \"Google AdWords\"). Note that unlike other \"NAME\" dimensions, the members of this dimensions are not localized.",
                    "Unique (opaque) ID of an ad network that returned the winning ads for an ad request.",
                    "Localized bid type name (e.g. \"CPC bids\", \"CPM bids\") for a served ad.",
                    "Type of a bid (e.g. \"cpc\", \"cpm\") for a served ad.",
                    "Localized creative size name (e.g. \"728x90\", \"Dynamic\") of a served ad.",
                    "Creative size code (e.g. \"728x90\", \"dynamic\") of a served ad.",
                    "Localized name of a host on which an ad was served, after IDNA decoding (e.g. \"www.google.com\", \"Web caches and other\", \"bücher.example\").",
                    "Name of a host on which an ad was served (e.g. \"www.google.com\", \"webcaches\", \"xn--bcher-kva.example\").",
                    "Localized region name of a user viewing an ad (e.g. \"United States\", \"France\").",
                    "CLDR region code of a user viewing an ad (e.g. \"US\", \"FR\").",
                    "Localized platform type name (e.g. \"High-end mobile devices\", \"Desktop\").",
                    "Platform type code (e.g. \"HighEndMobile\", \"Desktop\").",
                    "Localized targeting type name (e.g. \"Contextual\", \"Personalized\", \"Run of Network\").",
                    "Targeting type code (e.g. \"Keyword\", \"UserInterest\", \"RunOfNetwork\").",
                    "Localized content platform name an ad request was made from (e.g. \"AMP\", \"Web\").",
                    "Content platform code an ad request was made from (e.g. \"AMP\", \"HTML\").",
                    "Localized ad placement name (e.g. \"Ad unit\", \"Global settings\", \"Manual\").",
                    "Ad placement code (e.g. \"AD_UNIT\", \"ca-pub-123456:78910\", \"OTHER\").",
                    "Localized requested ad type name (e.g. \"Display\", \"Link unit\", \"Other\").",
                    "Requested ad type code (e.g. \"IMAGE\", \"RADLINK\", \"OTHER\").",
                    "Localized served ad type name (e.g. \"Display\", \"Link unit\", \"Other\").",
                    "Served ad type code (e.g. \"IMAGE\", \"RADLINK\", \"OTHER\").",
                    "Localized ad format name indicating the way an ad is shown to the users on your site (e.g. \"In-page\", \"Anchor\", \"Vignette\").",
                    "Ad format code indicating the way an ad is shown to the users on your site (e.g. \"ON_PAGE\", \"ANCHOR\", \"INTERSTITIAL\").",
                    "Custom search style name.",
                    "Custom search style id.",
                    "Domain registrants.",
                    "Query strings for web searches."
                  ]
                },
                "endDate.month": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
                },
                "languageCode": {
                  "type": "string",
                  "description": "The language to use for translating report output. If unspecified, this defaults to English (\"en\"). If the given language is not supported, report output will be returned in English. The language is specified as an [IETF BCP-47 language code](https://en.wikipedia.org/wiki/IETF_language_tag).",
                  "location": "query"
                },
                "startDate.year": {
                  "location": "query",
                  "format": "int32",
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "type": "integer"
                },
                "orderBy": {
                  "location": "query",
                  "description": "The name of a dimension or metric to sort the resulting report on, can be prefixed with \"+\" to sort ascending or \"-\" to sort descending. If no prefix is specified, the column is sorted ascending.",
                  "repeated": true,
                  "type": "string"
                },
                "startDate.month": {
                  "format": "int32",
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "location": "query",
                  "type": "integer"
                },
                "endDate.year": {
                  "format": "int32",
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "type": "integer",
                  "location": "query"
                },
                "startDate.day": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
                },
                "account": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The account which owns the collection of reports. Format: accounts/{account}"
                },
                "endDate.day": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
                },
                "currencyCode": {
                  "description": "The [ISO-4217 currency code](https://en.wikipedia.org/wiki/ISO_4217) to use when reporting on monetary metrics. Defaults to the account's currency if not set.",
                  "type": "string",
                  "location": "query"
                },
                "filters": {
                  "description": "Filters to be run on the report.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                },
                "limit": {
                  "description": "The maximum number of rows of report data to return. Reports producing more rows than the requested limit will be truncated. If unset, this defaults to 100,000 rows for `Reports.GenerateReport` and 1,000,000 rows for `Reports.GenerateCsvReport`, which are also the maximum values permitted here. Report truncation can be identified (for `Reports.GenerateReport` only) by comparing the number of rows returned to the value returned in `total_matched_rows`.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "reportingTimeZone": {
                  "enumDescriptions": [
                    "Unspecified timezone.",
                    "Use the account timezone in the report.",
                    "Use the Google timezone in the report (America/Los_Angeles)."
                  ],
                  "description": "Timezone in which to generate the report. If unspecified, this defaults to the account timezone. For more information, see [changing the time zone of your reports](https://support.google.com/adsense/answer/9830725).",
                  "enum": [
                    "REPORTING_TIME_ZONE_UNSPECIFIED",
                    "ACCOUNT_TIME_ZONE",
                    "GOOGLE_TIME_ZONE"
                  ],
                  "location": "query",
                  "type": "string"
                }
              }
            },
            "generate": {
              "parameterOrder": [
                "account"
              ],
              "id": "adsense.accounts.reports.generate",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "response": {
                "$ref": "ReportResult"
              },
              "flatPath": "v2/accounts/{accountsId}/reports:generate",
              "path": "v2/{+account}/reports:generate",
              "parameters": {
                "endDate.month": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
                },
                "reportingTimeZone": {
                  "description": "Timezone in which to generate the report. If unspecified, this defaults to the account timezone. For more information, see [changing the time zone of your reports](https://support.google.com/adsense/answer/9830725).",
                  "enumDescriptions": [
                    "Unspecified timezone.",
                    "Use the account timezone in the report.",
                    "Use the Google timezone in the report (America/Los_Angeles)."
                  ],
                  "type": "string",
                  "enum": [
                    "REPORTING_TIME_ZONE_UNSPECIFIED",
                    "ACCOUNT_TIME_ZONE",
                    "GOOGLE_TIME_ZONE"
                  ],
                  "location": "query"
                },
                "endDate.day": {
                  "type": "integer",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                  "location": "query",
                  "format": "int32"
                },
                "startDate.year": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "location": "query"
                },
                "startDate.day": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
                },
                "dimensions": {
                  "location": "query",
                  "enumDescriptions": [
                    "Unspecified dimension.",
                    "Date dimension in YYYY-MM-DD format (e.g. \"2010-02-10\").",
                    "Week dimension in YYYY-MM-DD format, representing the first day of each week (e.g. \"2010-02-08\"). The first day of the week is determined by the language_code specified in a report generation request (so e.g. this would be a Monday for \"en-GB\" or \"es\", but a Sunday for \"en\" or \"fr-CA\").",
                    "Month dimension in YYYY-MM format (e.g. \"2010-02\").",
                    "Account name. The members of this dimension match the values from Account.display_name.",
                    "Unique ID of an ad client. The members of this dimension match the values from AdClient.reporting_dimension_id.",
                    "Localized product name (e.g. \"AdSense for Content\", \"AdSense for Search\").",
                    "Product code (e.g. \"AFC\", \"AFS\"). The members of this dimension match the values from AdClient.product_code.",
                    "Ad unit name (within which an ad was served). The members of this dimension match the values from AdUnit.display_name.",
                    "Unique ID of an ad unit (within which an ad was served). The members of this dimension match the values from AdUnit.reporting_dimension_id.",
                    "Localized size of an ad unit (e.g. \"728x90\", \"Responsive\").",
                    "The size code of an ad unit (e.g. \"728x90\", \"responsive\").",
                    "Custom channel name. The members of this dimension match the values from CustomChannel.display_name.",
                    "Unique ID of a custom channel. The members of this dimension match the values from CustomChannel.reporting_dimension_id.",
                    "Domain name of a verified site (e.g. \"example.com\"). The members of this dimension match the values from Site.domain.",
                    "Unique ID of a verified site. The members of this dimension match the values from Site.reporting_dimension_id.",
                    "Name of a URL channel. The members of this dimension match the values from UrlChannel.uri_pattern.",
                    "Unique ID of a URL channel. The members of this dimension match the values from UrlChannel.reporting_dimension_id.",
                    "Name of an ad network that returned the winning ads for an ad request (e.g. \"Google AdWords\"). Note that unlike other \"NAME\" dimensions, the members of this dimensions are not localized.",
                    "Unique (opaque) ID of an ad network that returned the winning ads for an ad request.",
                    "Localized bid type name (e.g. \"CPC bids\", \"CPM bids\") for a served ad.",
                    "Type of a bid (e.g. \"cpc\", \"cpm\") for a served ad.",
                    "Localized creative size name (e.g. \"728x90\", \"Dynamic\") of a served ad.",
                    "Creative size code (e.g. \"728x90\", \"dynamic\") of a served ad.",
                    "Localized name of a host on which an ad was served, after IDNA decoding (e.g. \"www.google.com\", \"Web caches and other\", \"bücher.example\").",
                    "Name of a host on which an ad was served (e.g. \"www.google.com\", \"webcaches\", \"xn--bcher-kva.example\").",
                    "Localized region name of a user viewing an ad (e.g. \"United States\", \"France\").",
                    "CLDR region code of a user viewing an ad (e.g. \"US\", \"FR\").",
                    "Localized platform type name (e.g. \"High-end mobile devices\", \"Desktop\").",
                    "Platform type code (e.g. \"HighEndMobile\", \"Desktop\").",
                    "Localized targeting type name (e.g. \"Contextual\", \"Personalized\", \"Run of Network\").",
                    "Targeting type code (e.g. \"Keyword\", \"UserInterest\", \"RunOfNetwork\").",
                    "Localized content platform name an ad request was made from (e.g. \"AMP\", \"Web\").",
                    "Content platform code an ad request was made from (e.g. \"AMP\", \"HTML\").",
                    "Localized ad placement name (e.g. \"Ad unit\", \"Global settings\", \"Manual\").",
                    "Ad placement code (e.g. \"AD_UNIT\", \"ca-pub-123456:78910\", \"OTHER\").",
                    "Localized requested ad type name (e.g. \"Display\", \"Link unit\", \"Other\").",
                    "Requested ad type code (e.g. \"IMAGE\", \"RADLINK\", \"OTHER\").",
                    "Localized served ad type name (e.g. \"Display\", \"Link unit\", \"Other\").",
                    "Served ad type code (e.g. \"IMAGE\", \"RADLINK\", \"OTHER\").",
                    "Localized ad format name indicating the way an ad is shown to the users on your site (e.g. \"In-page\", \"Anchor\", \"Vignette\").",
                    "Ad format code indicating the way an ad is shown to the users on your site (e.g. \"ON_PAGE\", \"ANCHOR\", \"INTERSTITIAL\").",
                    "Custom search style name.",
                    "Custom search style id.",
                    "Domain registrants.",
                    "Query strings for web searches."
                  ],
                  "type": "string",
                  "repeated": true,
                  "enum": [
                    "DIMENSION_UNSPECIFIED",
                    "DATE",
                    "WEEK",
                    "MONTH",
                    "ACCOUNT_NAME",
                    "AD_CLIENT_ID",
                    "PRODUCT_NAME",
                    "PRODUCT_CODE",
                    "AD_UNIT_NAME",
                    "AD_UNIT_ID",
                    "AD_UNIT_SIZE_NAME",
                    "AD_UNIT_SIZE_CODE",
                    "CUSTOM_CHANNEL_NAME",
                    "CUSTOM_CHANNEL_ID",
                    "OWNED_SITE_DOMAIN_NAME",
                    "OWNED_SITE_ID",
                    "URL_CHANNEL_NAME",
                    "URL_CHANNEL_ID",
                    "BUYER_NETWORK_NAME",
                    "BUYER_NETWORK_ID",
                    "BID_TYPE_NAME",
                    "BID_TYPE_CODE",
                    "CREATIVE_SIZE_NAME",
                    "CREATIVE_SIZE_CODE",
                    "DOMAIN_NAME",
                    "DOMAIN_CODE",
                    "COUNTRY_NAME",
                    "COUNTRY_CODE",
                    "PLATFORM_TYPE_NAME",
                    "PLATFORM_TYPE_CODE",
                    "TARGETING_TYPE_NAME",
                    "TARGETING_TYPE_CODE",
                    "CONTENT_PLATFORM_NAME",
                    "CONTENT_PLATFORM_CODE",
                    "AD_PLACEMENT_NAME",
                    "AD_PLACEMENT_CODE",
                    "REQUESTED_AD_TYPE_NAME",
                    "REQUESTED_AD_TYPE_CODE",
                    "SERVED_AD_TYPE_NAME",
                    "SERVED_AD_TYPE_CODE",
                    "AD_FORMAT_NAME",
                    "AD_FORMAT_CODE",
                    "CUSTOM_SEARCH_STYLE_NAME",
                    "CUSTOM_SEARCH_STYLE_ID",
                    "DOMAIN_REGISTRANT",
                    "WEBSEARCH_QUERY_STRING"
                  ],
                  "description": "Dimensions to base the report on."
                },
                "endDate.year": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
                },
                "dateRange": {
                  "enum": [
                    "REPORTING_DATE_RANGE_UNSPECIFIED",
                    "CUSTOM",
                    "TODAY",
                    "YESTERDAY",
                    "MONTH_TO_DATE",
                    "YEAR_TO_DATE",
                    "LAST_7_DAYS",
                    "LAST_30_DAYS"
                  ],
                  "type": "string",
                  "location": "query",
                  "enumDescriptions": [
                    "Unspecified date range.",
                    "A custom date range specified using the `start_date` and `end_date` fields. This is the default if no ReportingDateRange is provided.",
                    "Current day.",
                    "Yesterday.",
                    "From the start of the current month to the current day. e.g. if the current date is 2020-03-12 then the range will be [2020-03-01, 2020-03-12].",
                    "From the start of the current year to the current day. e.g. if the current date is 2020-03-12 then the range will be [2020-01-01, 2020-03-12].",
                    "Last 7 days, excluding current day.",
                    "Last 30 days, excluding current day."
                  ],
                  "description": "Date range of the report, if unset the range will be considered CUSTOM."
                },
                "startDate.month": {
                  "format": "int32",
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "type": "integer",
                  "location": "query"
                },
                "currencyCode": {
                  "location": "query",
                  "type": "string",
                  "description": "The [ISO-4217 currency code](https://en.wikipedia.org/wiki/ISO_4217) to use when reporting on monetary metrics. Defaults to the account's currency if not set."
                },
                "filters": {
                  "type": "string",
                  "description": "Filters to be run on the report.",
                  "repeated": true,
                  "location": "query"
                },
                "languageCode": {
                  "description": "The language to use for translating report output. If unspecified, this defaults to English (\"en\"). If the given language is not supported, report output will be returned in English. The language is specified as an [IETF BCP-47 language code](https://en.wikipedia.org/wiki/IETF_language_tag).",
                  "location": "query",
                  "type": "string"
                },
                "account": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The account which owns the collection of reports. Format: accounts/{account}"
                },
                "orderBy": {
                  "type": "string",
                  "repeated": true,
                  "description": "The name of a dimension or metric to sort the resulting report on, can be prefixed with \"+\" to sort ascending or \"-\" to sort descending. If no prefix is specified, the column is sorted ascending.",
                  "location": "query"
                },
                "metrics": {
                  "repeated": true,
                  "location": "query",
                  "enum": [
                    "METRIC_UNSPECIFIED",
                    "PAGE_VIEWS",
                    "AD_REQUESTS",
                    "MATCHED_AD_REQUESTS",
                    "TOTAL_IMPRESSIONS",
                    "IMPRESSIONS",
                    "INDIVIDUAL_AD_IMPRESSIONS",
                    "CLICKS",
                    "PAGE_VIEWS_SPAM_RATIO",
                    "AD_REQUESTS_SPAM_RATIO",
                    "MATCHED_AD_REQUESTS_SPAM_RATIO",
                    "IMPRESSIONS_SPAM_RATIO",
                    "INDIVIDUAL_AD_IMPRESSIONS_SPAM_RATIO",
                    "CLICKS_SPAM_RATIO",
                    "AD_REQUESTS_COVERAGE",
                    "PAGE_VIEWS_CTR",
                    "AD_REQUESTS_CTR",
                    "MATCHED_AD_REQUESTS_CTR",
                    "IMPRESSIONS_CTR",
                    "INDIVIDUAL_AD_IMPRESSIONS_CTR",
                    "ACTIVE_VIEW_MEASURABILITY",
                    "ACTIVE_VIEW_VIEWABILITY",
                    "ACTIVE_VIEW_TIME",
                    "ESTIMATED_EARNINGS",
                    "PAGE_VIEWS_RPM",
                    "AD_REQUESTS_RPM",
                    "MATCHED_AD_REQUESTS_RPM",
                    "IMPRESSIONS_RPM",
                    "INDIVIDUAL_AD_IMPRESSIONS_RPM",
                    "COST_PER_CLICK",
                    "ADS_PER_IMPRESSION",
                    "TOTAL_EARNINGS",
                    "WEBSEARCH_RESULT_PAGES"
                  ],
                  "description": "Required. Reporting metrics.",
                  "type": "string",
                  "enumDescriptions": [
                    "Unspecified metric.",
                    "Number of page views.",
                    "Number of ad units that requested ads (for content ads) or search queries (for search ads). An ad request may result in zero, one, or multiple individual ad impressions depending on the size of the ad unit and whether any ads were available.",
                    "Requests that returned at least one ad.",
                    "Impressions. An impression is counted for each ad request where at least one ad has been downloaded to the user’s device and has begun to load. It is the number of ad units (for content ads) or search queries (for search ads) that showed ads.",
                    "Impressions. An impression is counted for each ad request where at least one ad has been downloaded to the user’s device and has begun to load. It is the number of ad units (for content ads) or search queries (for search ads) that showed ads.",
                    "Ads shown. Different ad formats will display varying numbers of ads. For example, a vertical banner may consist of 2 or more ads. Also, the number of ads in an ad unit may vary depending on whether the ad unit is displaying standard text ads, expanded text ads or image ads.",
                    "Number of times a user clicked on a standard content ad.",
                    "Fraction of page views considered to be spam. Only available to premium accounts.",
                    "Fraction of ad requests considered to be spam. Only available to premium accounts.",
                    "Fraction of ad requests that returned ads considered to be spam. Only available to premium accounts.",
                    "Fraction of impressions considered to be spam. Only available to premium accounts.",
                    "Fraction of ad impressions considered to be spam. Only available to premium accounts.",
                    "Fraction of clicks considered to be spam. Only available to premium accounts.",
                    "Ratio of requested ad units or queries to the number returned to the site.",
                    "Ratio of individual page views that resulted in a click.",
                    "Ratio of ad requests that resulted in a click.",
                    "Ratio of clicks to matched requests.",
                    "Ratio of IMPRESSIONS that resulted in a click.",
                    "Ratio of individual ad impressions that resulted in a click.",
                    "Ratio of requests that were measurable for viewability.",
                    "Ratio of requests that were viewable.",
                    "Mean time an ad was displayed on screen.",
                    "Estimated earnings of the publisher. Note that earnings up to yesterday are accurate, more recent earnings are estimated due to the possibility of spam, or exchange rate fluctuations.",
                    "Revenue per thousand page views. This is calculated by dividing the estimated revenue by the number of page views multiplied by 1000.",
                    "Revenue per thousand ad requests. This is calculated by dividing estimated revenue by the number of ad requests multiplied by 1000.",
                    "Revenue per thousand matched ad requests. This is calculated by dividing estimated revenue by the number of matched ad requests multiplied by 1000.",
                    "Revenue per thousand ad impressions. This is calculated by dividing estimated revenue by the number of ad impressions multiplied by 1000.",
                    "Revenue per thousand individual ad impressions. This is calculated by dividing estimated revenue by the number of individual ad impressions multiplied by 1000.",
                    "Amount the publisher earns each time a user clicks on an ad. CPC is calculated by dividing the estimated revenue by the number of clicks received.",
                    "Number of ad views per impression.",
                    "Total earnings.",
                    "Number of results pages."
                  ]
                },
                "limit": {
                  "type": "integer",
                  "description": "The maximum number of rows of report data to return. Reports producing more rows than the requested limit will be truncated. If unset, this defaults to 100,000 rows for `Reports.GenerateReport` and 1,000,000 rows for `Reports.GenerateCsvReport`, which are also the maximum values permitted here. Report truncation can be identified (for `Reports.GenerateReport` only) by comparing the number of rows returned to the value returned in `total_matched_rows`.",
                  "location": "query",
                  "format": "int32"
                }
              },
              "description": "Generates an ad hoc report.",
              "httpMethod": "GET"
            }
          },
          "resources": {
            "saved": {
              "methods": {
                "generateCsv": {
                  "id": "adsense.accounts.reports.saved.generateCsv",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "HttpBody"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v2/accounts/{accountsId}/reports/{reportsId}/saved:generateCsv",
                  "path": "v2/{+name}/saved:generateCsv",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "description": "Generates a csv formatted saved report.",
                  "parameters": {
                    "startDate.month": {
                      "location": "query",
                      "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "startDate.day": {
                      "location": "query",
                      "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "languageCode": {
                      "type": "string",
                      "location": "query",
                      "description": "The language to use for translating report output. If unspecified, this defaults to English (\"en\"). If the given language is not supported, report output will be returned in English. The language is specified as an [IETF BCP-47 language code](https://en.wikipedia.org/wiki/IETF_language_tag)."
                    },
                    "startDate.year": {
                      "location": "query",
                      "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "dateRange": {
                      "location": "query",
                      "enum": [
                        "REPORTING_DATE_RANGE_UNSPECIFIED",
                        "CUSTOM",
                        "TODAY",
                        "YESTERDAY",
                        "MONTH_TO_DATE",
                        "YEAR_TO_DATE",
                        "LAST_7_DAYS",
                        "LAST_30_DAYS"
                      ],
                      "type": "string",
                      "enumDescriptions": [
                        "Unspecified date range.",
                        "A custom date range specified using the `start_date` and `end_date` fields. This is the default if no ReportingDateRange is provided.",
                        "Current day.",
                        "Yesterday.",
                        "From the start of the current month to the current day. e.g. if the current date is 2020-03-12 then the range will be [2020-03-01, 2020-03-12].",
                        "From the start of the current year to the current day. e.g. if the current date is 2020-03-12 then the range will be [2020-01-01, 2020-03-12].",
                        "Last 7 days, excluding current day.",
                        "Last 30 days, excluding current day."
                      ],
                      "description": "Date range of the report, if unset the range will be considered CUSTOM."
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the saved report. Format: accounts/{account}/reports/{report}",
                      "type": "string",
                      "pattern": "^accounts/[^/]+/reports/[^/]+$"
                    },
                    "endDate.year": {
                      "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "endDate.month": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
                    },
                    "currencyCode": {
                      "type": "string",
                      "location": "query",
                      "description": "The [ISO-4217 currency code](https://en.wikipedia.org/wiki/ISO_4217) to use when reporting on monetary metrics. Defaults to the account's currency if not set."
                    },
                    "reportingTimeZone": {
                      "enumDescriptions": [
                        "Unspecified timezone.",
                        "Use the account timezone in the report.",
                        "Use the Google timezone in the report (America/Los_Angeles)."
                      ],
                      "type": "string",
                      "location": "query",
                      "description": "Timezone in which to generate the report. If unspecified, this defaults to the account timezone. For more information, see [changing the time zone of your reports](https://support.google.com/adsense/answer/9830725).",
                      "enum": [
                        "REPORTING_TIME_ZONE_UNSPECIFIED",
                        "ACCOUNT_TIME_ZONE",
                        "GOOGLE_TIME_ZONE"
                      ]
                    },
                    "endDate.day": {
                      "type": "integer",
                      "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                      "location": "query",
                      "format": "int32"
                    }
                  }
                },
                "list": {
                  "path": "v2/{+parent}/reports/saved",
                  "id": "adsense.accounts.reports.saved.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListSavedReportsResponse"
                  },
                  "description": "Lists saved reports.",
                  "flatPath": "v2/accounts/{accountsId}/reports/saved",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "description": "A page token, received from a previous `ListPayments` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPayments` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "The maximum number of reports to include in the response, used for paging. If unspecified, at most 10000 reports will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000."
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^accounts/[^/]+$",
                      "required": true,
                      "description": "Required. The account which owns the collection of reports. Format: accounts/{account}"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ]
                },
                "generate": {
                  "httpMethod": "GET",
                  "flatPath": "v2/accounts/{accountsId}/reports/{reportsId}/saved:generate",
                  "response": {
                    "$ref": "ReportResult"
                  },
                  "parameters": {
                    "endDate.month": {
                      "type": "integer",
                      "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                      "format": "int32",
                      "location": "query"
                    },
                    "endDate.day": {
                      "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "endDate.year": {
                      "type": "integer",
                      "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                      "format": "int32",
                      "location": "query"
                    },
                    "reportingTimeZone": {
[...]
