{
  "basePath": "",
  "canonicalName": "Aiplatform",
  "name": "aiplatform",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "version_module": true,
  "rootUrl": "https://aiplatform.googleapis.com/",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "revision": "20230914",
  "description": "Train high-quality custom machine learning models with minimal machine learning expertise and effort.",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "documentationLink": "https://cloud.google.com/vertex-ai/",
  "id": "aiplatform:v1beta1",
  "batchPath": "batch",
  "baseUrl": "https://aiplatform.googleapis.com/",
  "endpoints": [
    {
      "location": "asia-east1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-east1-aiplatform.googleapis.com/"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://asia-east2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "location": "asia-northeast1",
      "endpointUrl": "https://asia-northeast1-aiplatform.googleapis.com/"
    },
    {
      "location": "asia-northeast2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-northeast2-aiplatform.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "location": "asia-northeast3",
      "endpointUrl": "https://asia-northeast3-aiplatform.googleapis.com/"
    },
    {
      "location": "asia-south1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-south1-aiplatform.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "location": "asia-southeast1",
      "endpointUrl": "https://asia-southeast1-aiplatform.googleapis.com/"
    },
    {
      "location": "asia-southeast2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-southeast2-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://australia-southeast1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "australia-southeast1"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://australia-southeast2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-central2-aiplatform.googleapis.com/",
      "location": "europe-central2"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://europe-north1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-southwest1-aiplatform.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west1-aiplatform.googleapis.com/",
      "location": "europe-west1"
    },
    {
      "endpointUrl": "https://europe-west2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-west2"
    },
    {
      "description": "Locational Endpoint",
      "location": "europe-west3",
      "endpointUrl": "https://europe-west3-aiplatform.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west4-aiplatform.googleapis.com/",
      "location": "europe-west4"
    },
    {
      "location": "europe-west6",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west6-aiplatform.googleapis.com/"
    },
    {
      "location": "europe-west8",
      "endpointUrl": "https://europe-west8-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "location": "europe-west9",
      "endpointUrl": "https://europe-west9-aiplatform.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://me-west1-aiplatform.googleapis.com/",
      "location": "me-west1"
    },
    {
      "endpointUrl": "https://northamerica-northeast1-aiplatform.googleapis.com/",
      "location": "northamerica-northeast1",
      "description": "Locational Endpoint"
    },
    {
      "location": "northamerica-northeast2",
      "endpointUrl": "https://northamerica-northeast2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://southamerica-east1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "southamerica-west1",
      "endpointUrl": "https://southamerica-west1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-central1-aiplatform.googleapis.com/",
      "location": "us-central1",
      "description": "Locational Endpoint"
    },
    {
      "location": "us-central2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-central2-aiplatform.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-east1-aiplatform.googleapis.com/",
      "location": "us-east1"
    },
    {
      "description": "Locational Endpoint",
      "location": "us-east4",
      "endpointUrl": "https://us-east4-aiplatform.googleapis.com/"
    },
    {
      "location": "us-south1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-south1-aiplatform.googleapis.com/"
    },
    {
      "location": "us-west1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-west1-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://us-west2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "us-west2"
    },
    {
      "description": "Locational Endpoint",
      "location": "us-west3",
      "endpointUrl": "https://us-west3-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://us-west4-aiplatform.googleapis.com/",
      "location": "us-west4",
      "description": "Locational Endpoint"
    }
  ],
  "version": "v1beta1",
  "resources": {
    "publishers": {
      "resources": {
        "models": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the PublisherModel resource. Format: `publishers/{publisher}/models/{publisher_model}`",
                  "required": true,
                  "type": "string",
                  "pattern": "^publishers/[^/]+/models/[^/]+$"
                },
                "languageCode": {
                  "description": "Optional. The IETF BCP-47 language code representing the language in which the publisher model's text information should be written in (see go/bcp47).",
                  "type": "string",
                  "location": "query"
                },
                "view": {
                  "location": "query",
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the BASIC view.",
                    "Include basic metadata about the publisher model, but not the full contents.",
                    "Include everything.",
                    "Include: VersionId, ModelVersionExternalName, and SupportedActions."
                  ],
                  "enum": [
                    "PUBLISHER_MODEL_VIEW_UNSPECIFIED",
                    "PUBLISHER_MODEL_VIEW_BASIC",
                    "PUBLISHER_MODEL_VIEW_FULL",
                    "PUBLISHER_MODEL_VERSION_VIEW_BASIC"
                  ],
                  "type": "string",
                  "description": "Optional. PublisherModel view specifying which fields to read."
                }
              },
              "httpMethod": "GET",
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a Model Garden publisher model.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/publishers/{publishersId}/models/{modelsId}",
              "response": {
                "$ref": "GoogleCloudAiplatformV1beta1PublisherModel"
              },
              "id": "aiplatform.publishers.models.get"
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "publishers": {
              "resources": {
                "models": {
                  "methods": {
                    "countTokens": {
                      "parameterOrder": [
                        "endpoint"
                      ],
                      "id": "aiplatform.projects.locations.publishers.models.countTokens",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Perform a token counting.",
                      "request": {
                        "$ref": "GoogleCloudAiplatformV1beta1CountTokensRequest"
                      },
                      "path": "v1beta1/{+endpoint}:countTokens",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/publishers/{publishersId}/models/{modelsId}:countTokens",
                      "parameters": {
                        "endpoint": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/publishers/[^/]+/models/[^/]+$",
                          "description": "Required. The name of the Endpoint requested to perform token counting. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`"
                        }
                      },
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1beta1CountTokensResponse"
                      }
                    },
                    "rawPredict": {
                      "parameters": {
                        "endpoint": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/publishers/[^/]+/models/[^/]+$",
                          "required": true,
                          "description": "Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "endpoint"
                      ],
                      "request": {
                        "$ref": "GoogleCloudAiplatformV1beta1RawPredictRequest"
                      },
                      "response": {
                        "$ref": "GoogleApiHttpBody"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "aiplatform.projects.locations.publishers.models.rawPredict",
                      "description": "Perform an online prediction with an arbitrary HTTP payload. The response includes the following HTTP headers: * `X-Vertex-AI-Endpoint-Id`: ID of the Endpoint that served this prediction. * `X-Vertex-AI-Deployed-Model-Id`: ID of the Endpoint's DeployedModel that served this prediction.",
                      "httpMethod": "POST",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/publishers/{publishersId}/models/{modelsId}:rawPredict",
                      "path": "v1beta1/{+endpoint}:rawPredict"
                    },
                    "serverStreamingPredict": {
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1beta1StreamingPredictResponse"
                      },
                      "description": "Perform a server-side streaming online prediction request for Vertex LLM streaming.",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/publishers/{publishersId}/models/{modelsId}:serverStreamingPredict",
                      "parameters": {
                        "endpoint": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/publishers/[^/]+/models/[^/]+$",
                          "description": "Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudAiplatformV1beta1StreamingPredictRequest"
                      },
                      "parameterOrder": [
                        "endpoint"
                      ],
                      "id": "aiplatform.projects.locations.publishers.models.serverStreamingPredict",
                      "httpMethod": "POST",
                      "path": "v1beta1/{+endpoint}:serverStreamingPredict",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "predict": {
                      "httpMethod": "POST",
                      "path": "v1beta1/{+endpoint}:predict",
                      "description": "Perform an online prediction.",
                      "request": {
                        "$ref": "GoogleCloudAiplatformV1beta1PredictRequest"
                      },
                      "parameters": {
                        "endpoint": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/publishers/[^/]+/models/[^/]+$"
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/publishers/{publishersId}/models/{modelsId}:predict",
                      "id": "aiplatform.projects.locations.publishers.models.predict",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "endpoint"
                      ],
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1beta1PredictResponse"
                      }
                    }
                  }
                }
              }
            },
            "metadataStores": {
              "methods": {
                "list": {
                  "id": "aiplatform.projects.locations.metadataStores.list",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The Location whose MetadataStores should be listed. Format: `projects/{project}/locations/{location}`",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A page token, received from a previous MetadataService.ListMetadataStores call. Provide this to retrieve the subsequent page. When paginating, all other provided parameters must match the call that provided the page token. (Otherwise the request will fail with INVALID_ARGUMENT error.)",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of Metadata Stores to return. The service may return fewer. Must be in range 1-1000, inclusive. Defaults to 100.",
                      "format": "int32"
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v1beta1/{+parent}/metadataStores",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/metadataStores",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists MetadataStores for a Location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1beta1ListMetadataStoresResponse"
                  }
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "aiplatform.projects.locations.metadataStores.create",
                  "parameters": {
                    "metadataStoreId": {
                      "description": "The {metadatastore} portion of the resource name with the format: `projects/{project}/locations/{location}/metadataStores/{metadatastore}` If not provided, the MetadataStore's ID will be a UUID generated by the service. Must be 4-128 characters in length. Valid characters are `/a-z-/`. Must be unique across all MetadataStores in the parent Location. (Otherwise the request will fail with ALREADY_EXISTS, or PERMISSION_DENIED if the caller can't view the preexisting MetadataStore.)",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name of the Location where the MetadataStore should be created. Format: `projects/{project}/locations/{location}/`",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/metadataStores",
                  "httpMethod": "POST",
                  "description": "Initializes a MetadataStore, including allocation of resources.",
                  "path": "v1beta1/{+parent}/metadataStores",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudAiplatformV1beta1MetadataStore"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1beta1MetadataStore"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/metadataStores/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name of the MetadataStore to retrieve. Format: `projects/{project}/locations/{location}/metadataStores/{metadatastore}`"
                    }
                  },
                  "description": "Retrieves a specific MetadataStore.",
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "aiplatform.projects.locations.metadataStores.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/metadataStores/{metadataStoresId}"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/metadataStores/{metadataStoresId}",
                  "id": "aiplatform.projects.locations.metadataStores.delete",
                  "description": "Deletes a single MetadataStore and all its child resources (Artifacts, Executions, and Contexts).",
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "force": {
                      "type": "boolean",
                      "deprecated": true,
                      "location": "query",
                      "description": "Deprecated: Field is no longer supported."
                    },
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the MetadataStore to delete. Format: `projects/{project}/locations/{location}/metadataStores/{metadatastore}`",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/metadataStores/[^/]+$"
                    }
                  }
                }
              },
              "resources": {
                "artifacts": {
                  "methods": {
                    "purge": {
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "request": {
                        "$ref": "GoogleCloudAiplatformV1beta1PurgeArtifactsRequest"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/metadataStores/{metadataStoresId}/artifacts:purge",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/metadataStores/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. The metadata store to purge Artifacts from. Format: `projects/{project}/locations/{location}/metadataStores/{metadatastore}`",
                          "required": true
                        }
                      },
                      "httpMethod": "POST",
                      "description": "Purges Artifacts.",
                      "id": "aiplatform.projects.locations.metadataStores.artifacts.purge",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+parent}/artifacts:purge",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "queryArtifactLineageSubgraph": {
                      "id": "aiplatform.projects.locations.metadataStores.artifacts.queryArtifactLineageSubgraph",
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1beta1LineageSubgraph"
                      },
                      "description": "Retrieves lineage of an Artifact represented through Artifacts and Executions connected by Event edges and returned as a LineageSubgraph.",
                      "path": "v1beta1/{+artifact}:queryArtifactLineageSubgraph",
                      "parameters": {
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Filter specifying the boolean condition for the Artifacts to satisfy in order to be part of the Lineage Subgraph. The syntax to define filter query is based on https://google.aip.dev/160. The supported set of filters include the following: * **Attribute filtering**: For example: `display_name = \"test\"` Supported fields include: `name`, `display_name`, `uri`, `state`, `schema_title`, `create_time`, and `update_time`. Time fields, such as `create_time` and `update_time`, require values specified in RFC-3339 format. For example: `create_time = \"2020-11-19T11:30:00-04:00\"` * **Metadata field**: To filter on metadata fields use traversal operation as follows: `metadata..`. For example: `metadata.field_1.number_value = 10.0` In case the field name contains special characters (such as colon), one can embed it inside double quote. For example: `metadata.\"field:1\".number_value = 10.0` Each of the above supported filter types can be combined together using logical operators (`AND` & `OR`). Maximum nested expression depth allowed is 5. For example: `display_name = \"test\" AND metadata.field1.bool_value = true`."
                        },
                        "artifact": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/metadataStores/[^/]+/artifacts/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. The resource name of the Artifact whose Lineage needs to be retrieved as a LineageSubgraph. Format: `projects/{project}/locations/{location}/metadataStores/{metadatastore}/artifacts/{artifact}` The request may error with FAILED_PRECONDITION if the number of Artifacts, the number of Executions, or the number of Events that would be returned for the Context exceeds 1000."
                        },
                        "maxHops": {
                          "location": "query",
                          "format": "int32",
                          "description": "Specifies the size of the lineage graph in terms of number of hops from the specified artifact. Negative Value: INVALID_ARGUMENT error is returned 0: Only input artifact is returned. No value: Transitive closure is performed to return the complete graph.",
                          "type": "integer"
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/metadataStores/{metadataStoresId}/artifacts/{artifactsId}:queryArtifactLineageSubgraph",
                      "parameterOrder": [
                        "artifact"
                      ],
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/metadataStores/{metadataStoresId}/artifacts/{artifactsId}",
                      "id": "aiplatform.projects.locations.metadataStores.artifacts.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta1/{+name}",
                      "description": "Deletes an Artifact.",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/metadataStores/[^/]+/artifacts/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. The resource name of the Artifact to delete. Format: `projects/{project}/locations/{location}/metadataStores/{metadatastore}/artifacts/{artifact}`",
                          "required": true
                        },
                        "etag": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The etag of the Artifact to delete. If this is provided, it must match the server's etag. Otherwise, the request will fail with a FAILED_PRECONDITION."
                        }
                      }
                    },
                    "patch": {
                      "path": "v1beta1/{+name}",
                      "description": "Updates a stored Artifact.",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/metadataStores/{metadataStoresId}/artifacts/{artifactsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "aiplatform.projects.locations.metadataStores.artifacts.patch",
                      "httpMethod": "PATCH",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1beta1Artifact"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Output only. The resource name of the Artifact.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/metadataStores/[^/]+/artifacts/[^/]+$",
                          "required": true
                        },
                        "updateMask": {
                          "description": "Optional. A FieldMask indicating which fields should be updated.",
                          "type": "string",
                          "location": "query",
                          "format": "google-fieldmask"
                        },
                        "allowMissing": {
                          "type": "boolean",
                          "description": "If set to true, and the Artifact is not found, a new Artifact is created.",
                          "location": "query"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudAiplatformV1beta1Artifact"
                      }
                    },
                    "create": {
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1beta1Artifact"
                      },
                      "request": {
                        "$ref": "GoogleCloudAiplatformV1beta1Artifact"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/metadataStores/{metadataStoresId}/artifacts",
                      "path": "v1beta1/{+parent}/artifacts",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "aiplatform.projects.locations.metadataStores.artifacts.create",
                      "parameters": {
                        "artifactId": {
                          "location": "query",
                          "description": "The {artifact} portion of the resource name with the format: `projects/{project}/locations/{location}/metadataStores/{metadatastore}/artifacts/{artifact}` If not provided, the Artifact's ID will be a UUID generated by the service. Must be 4-128 characters in length. Valid characters are `/a-z-/`. Must be unique across all Artifacts in the parent MetadataStore. (Otherwise the request will fail with ALREADY_EXISTS, or PERMISSION_DENIED if the caller can't view the preexisting Artifact.)",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. The resource name of the MetadataStore where the Artifact should be created. Format: `projects/{project}/locations/{location}/metadataStores/{metadatastore}`",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/metadataStores/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "description": "Creates an Artifact associated with a MetadataStore."
                    },
                    "get": {
                      "description": "Retrieves a specific Artifact.",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta1/{+name}",
                      "id": "aiplatform.projects.locations.metadataStores.artifacts.get",
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1beta1Artifact"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The resource name of the Artifact to retrieve. Format: `projects/{project}/locations/{location}/metadataStores/{metadatastore}/artifacts/{artifact}`",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/metadataStores/[^/]+/artifacts/[^/]+$"
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/metadataStores/{metadataStoresId}/artifacts/{artifactsId}"
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1beta1/{+parent}/artifacts",
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1beta1ListArtifactsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "id": "aiplatform.projects.locations.metadataStores.artifacts.list",
                      "parameters": {
                        "filter": {
                          "location": "query",
                          "description": "Filter specifying the boolean condition for the Artifacts to satisfy in order to be part of the result set. The syntax to define filter query is based on https://google.aip.dev/160. The supported set of filters include the following: * **Attribute filtering**: For example: `display_name = \"test\"`. Supported fields include: `name`, `display_name`, `uri`, `state`, `schema_title`, `create_time`, and `update_time`. Time fields, such as `create_time` and `update_time`, require values specified in RFC-3339 format. For example: `create_time = \"2020-11-19T11:30:00-04:00\"` * **Metadata field**: To filter on metadata fields use traversal operation as follows: `metadata..`. For example: `metadata.field_1.number_value = 10.0` In case the field name contains special characters (such as colon), one can embed it inside double quote. For example: `metadata.\"field:1\".number_value = 10.0` * **Context based filtering**: To filter Artifacts based on the contexts to which they belong, use the function operator with the full resource name `in_context()`. For example: `in_context(\"projects//locations//metadataStores//contexts/\")` Each of the above supported filter types can be combined together using logical operators (`AND` & `OR`). Maximum nested expression depth allowed is 5. For example: `display_name = \"test\" AND metadata.field1.bool_value = true`.",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "A page token, received from a previous MetadataService.ListArtifacts call. Provide this to retrieve the subsequent page. When paginating, all other provided parameters must match the call that provided the page token. (Otherwise the request will fail with INVALID_ARGUMENT error.)",
                          "location": "query",
                          "type": "string"
                        },
                        "orderBy": {
                          "location": "query",
                          "description": "How the list of messages is ordered. Specify the values to order by and an ordering operation. The default sorting order is ascending. To specify descending order for a field, users append a \" desc\" suffix; for example: \"foo desc, bar\". Subfields are specified with a `.` character, such as foo.bar. see https://google.aip.dev/132#ordering for more details.",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. The MetadataStore whose Artifacts should be listed. Format: `projects/{project}/locations/{location}/metadataStores/{metadatastore}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/metadataStores/[^/]+$",
                          "location": "path",
                          "required": true
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "The maximum number of Artifacts to return. The service may return fewer. Must be in range 1-1000, inclusive. Defaults to 100.",
                          "format": "int32"
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/metadataStores/{metadataStoresId}/artifacts",
                      "description": "Lists Artifacts in the MetadataStore."
                    }
                  }
                },
                "contexts": {
                  "methods": {
                    "addContextArtifactsAndExecutions": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudAiplatformV1beta1AddContextArtifactsAndExecutionsRequest"
                      },
                      "id": "aiplatform.projects.locations.metadataStores.contexts.addContextArtifactsAndExecutions",
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1beta1AddContextArtifactsAndExecutionsResponse"
                      },
                      "path": "v1beta1/{+context}:addContextArtifactsAndExecutions",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/metadataStores/{metadataStoresId}/contexts/{contextsId}:addContextArtifactsAndExecutions",
                      "parameterOrder": [
                        "context"
                      ],
                      "description": "Adds a set of Artifacts and Executions to a Context. If any of the Artifacts or Executions have already been added to a Context, they are simply skipped.",
                      "parameters": {
                        "context": {
                          "location": "path",
                          "description": "Required. The resource name of the Context that the Artifacts and Executions belong to. Format: `projects/{project}/locations/{location}/metadataStores/{metadatastore}/contexts/{context}`",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/metadataStores/[^/]+/contexts/[^/]+$"
                        }
                      }
                    },
                    "patch": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudAiplatformV1beta1Context"
                      },
                      "parameters": {
                        "name": {
                          "description": "Immutable. The resource name of the Context.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/metadataStores/[^/]+/contexts/[^/]+$",
                          "type": "string"
                        },
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A FieldMask indicating which fields should be updated.",
                          "format": "google-fieldmask"
                        },
                        "allowMissing": {
                          "location": "query",
                          "description": "If set to true, and the Context is not found, a new Context is created.",
                          "type": "boolean"
                        }
                      },
                      "httpMethod": "PATCH",
                      "description": "Updates a stored Context.",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/metadataStores/{metadataStoresId}/contexts/{contextsId}",
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1beta1Context"
                      },
                      "id": "aiplatform.projects.locations.metadataStores.contexts.patch"
                    },
                    "queryContextLineageSubgraph": {
                      "id": "aiplatform.projects.locations.metadataStores.contexts.queryContextLineageSubgraph",
                      "description": "Retrieves Artifacts and Executions within the specified Context, connected by Event edges and returned as a LineageSubgraph.",
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1beta1LineageSubgraph"
                      },
                      "parameterOrder": [
                        "context"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "context": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/metadataStores/[^/]+/contexts/[^/]+$",
                          "type": "string",
                          "description": "Required. The resource name of the Context whose Artifacts and Executions should be retrieved as a LineageSubgraph. Format: `projects/{project}/locations/{location}/metadataStores/{metadatastore}/contexts/{context}` The request may error with FAILED_PRECONDITION if the number of Artifacts, the number of Executions, or the number of Events that would be returned for the Context exceeds 1000.",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/metadataStores/{metadataStoresId}/contexts/{contextsId}:queryContextLineageSubgraph",
                      "path": "v1beta1/{+context}:queryContextLineageSubgraph"
                    },
                    "removeContextChildren": {
                      "path": "v1beta1/{+context}:removeContextChildren",
                      "request": {
                        "$ref": "GoogleCloudAiplatformV1beta1RemoveContextChildrenRequest"
                      },
                      "id": "aiplatform.projects.locations.metadataStores.contexts.removeContextChildren",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "context"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/metadataStores/{metadataStoresId}/contexts/{contextsId}:removeContextChildren",
                      "description": "Remove a set of children contexts from a parent Context. If any of the child Contexts were NOT added to the parent Context, they are simply skipped.",
                      "httpMethod": "POST",
                      "parameters": {
                        "context": {
                          "location": "path",
                          "description": "Required. The resource name of the parent Context. Format: `projects/{project}/locations/{location}/metadataStores/{metadatastore}/contexts/{context}`",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/metadataStores/[^/]+/contexts/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1beta1RemoveContextChildrenResponse"
                      }
                    },
                    "get": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1beta1Context"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "aiplatform.projects.locations.metadataStores.contexts.get",
                      "path": "v1beta1/{+name}",
                      "description": "Retrieves a specific Context.",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/metadataStores/{metadataStoresId}/contexts/{contextsId}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/metadataStores/[^/]+/contexts/[^/]+$",
                          "type": "string",
                          "description": "Required. The resource name of the Context to retrieve. Format: `projects/{project}/locations/{location}/metadataStores/{metadatastore}/contexts/{context}`",
                          "location": "path"
                        }
                      }
                    },
                    "purge": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Purges Contexts.",
                      "id": "aiplatform.projects.locations.metadataStores.contexts.purge",
                      "path": "v1beta1/{+parent}/contexts:purge",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. The metadata store to purge Contexts from. Format: `projects/{project}/locations/{location}/metadataStores/{metadatastore}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/metadataStores/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/metadataStores/{metadataStoresId}/contexts:purge",
                      "request": {
                        "$ref": "GoogleCloudAiplatformV1beta1PurgeContextsRequest"
                      }
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "description": "Required. The MetadataStore whose Contexts should be listed. Format: `projects/{project}/locations/{location}/metadataStores/{metadatastore}`",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/metadataStores/[^/]+$",
                          "required": true,
                          "location": "path"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "The maximum number of Contexts to return. The service may return fewer. Must be in range 1-1000, inclusive. Defaults to 100."
                        },
                        "filter": {
                          "type": "string",
                          "description": "Filter specifying the boolean condition for the Contexts to satisfy in order to be part of the result set. The syntax to define filter query is based on https://google.aip.dev/160. Following are the supported set of filters: * **Attribute filtering**: For example: `display_name = \"test\"`. Supported fields include: `name`, `display_name`, `schema_title`, `create_time`, and `update_time`. Time fields, such as `create_time` and `update_time`, require values specified in RFC-3339 format. For example: `create_time = \"2020-11-19T11:30:00-04:00\"`. * **Metadata field**: To filter on metadata fields use traversal operation as follows: `metadata..`. For example: `metadata.field_1.number_value = 10.0`. In case the field name contains special characters (such as colon), one can embed it inside double quote. For example: `metadata.\"field:1\".number_value = 10.0` * **Parent Child filtering**: To filter Contexts based on parent-child relationship use the HAS operator as follows: ``` parent_contexts: \"projects//locations//metadataStores//contexts/\" child_contexts: \"projects//locations//metadataStores//contexts/\" ``` Each of the above supported filters can be combined together using logical operators (`AND` & `OR`). Maximum nested expression depth allowed is 5. For example: `display_name = \"test\" AND metadata.field1.bool_value = true`.",
                          "location": "query"
                        },
                        "orderBy": {
                          "description": "How the list of messages is ordered. Specify the values to order by and an ordering operation. The default sorting order is ascending. To specify descending order for a field, users append a \" desc\" suffix; for example: \"foo desc, bar\". Subfields are specified with a `.` character, such as foo.bar. see https://google.aip.dev/132#ordering for more details.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "A page token, received from a previous MetadataService.ListContexts call. Provide this to retrieve the subsequent page. When paginating, all other provided parameters must match the call that provided the page token. (Otherwise the request will fail with INVALID_ARGUMENT error.)",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "id": "aiplatform.projects.locations.metadataStores.contexts.list",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/metadataStores/{metadataStoresId}/contexts",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+parent}/contexts",
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1beta1ListContextsResponse"
                      },
                      "description": "Lists Contexts on the MetadataStore."
                    },
                    "addContextChildren": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "context": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/metadataStores/[^/]+/contexts/[^/]+$",
                          "required": true,
                          "description": "Required. The resource name of the parent Context. Format: `projects/{project}/locations/{location}/metadataStores/{metadatastore}/contexts/{context}`"
                        }
                      },
                      "description": "Adds a set of Contexts as children to a parent Context. If any of the child Contexts have already been added to the parent Context, they are simply skipped. If this call would create a cycle or cause any Context to have more than 10 parents, the request will fail with an INVALID_ARGUMENT error.",
                      "httpMethod": "POST",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/metadataStores/{metadataStoresId}/contexts/{contextsId}:addContextChildren",
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1beta1AddContextChildrenResponse"
                      },
                      "request": {
                        "$ref": "GoogleCloudAiplatformV1beta1AddContextChildrenRequest"
                      },
                      "path": "v1beta1/{+context}:addContextChildren",
                      "parameterOrder": [
                        "context"
                      ],
                      "id": "aiplatform.projects.locations.metadataStores.contexts.addContextChildren"
                    },
                    "delete": {
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/metadataStores/{metadataStoresId}/contexts/{contextsId}",
                      "parameters": {
                        "etag": {
                          "location": "query",
                          "description": "Optional. The etag of the Context to delete. If this is provided, it must match the server's etag. Otherwise, the request will fail with a FAILED_PRECONDITION.",
                          "type": "string"
                        },
                        "force": {
                          "location": "query",
                          "description": "The force deletion semantics is still undefined. Users should not use this field.",
                          "type": "boolean"
                        },
                        "name": {
                          "description": "Required. The resource name of the Context to delete. Format: `projects/{project}/locations/{location}/metadataStores/{metadatastore}/contexts/{context}`",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/metadataStores/[^/]+/contexts/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v1beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes a stored Context.",
                      "id": "aiplatform.projects.locations.metadataStores.contexts.delete"
                    },
                    "create": {
                      "description": "Creates a Context associated with a MetadataStore.",
                      "parameters": {
                        "contextId": {
                          "type": "string",
                          "description": "The {context} portion of the resource name with the format: `projects/{project}/locations/{location}/metadataStores/{metadatastore}/contexts/{context}`. If not provided, the Context's ID will be a UUID generated by the service. Must be 4-128 characters in length. Valid characters are `/a-z-/`. Must be unique across all Contexts in the parent MetadataStore. (Otherwise the request will fail with ALREADY_EXISTS, or PERMISSION_DENIED if the caller can't view the preexisting Context.)",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The resource name of the MetadataStore where the Context should be created. Format: `projects/{project}/locations/{location}/metadataStores/{metadatastore}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/metadataStores/[^/]+$",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1beta1Context"
                      },
                      "path": "v1beta1/{+parent}/contexts",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "aiplatform.projects.locations.metadataStores.contexts.create",
                      "httpMethod": "POST",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/metadataStores/{metadataStoresId}/contexts",
                      "request": {
                        "$ref": "GoogleCloudAiplatformV1beta1Context"
                      }
                    }
                  }
                },
                "executions": {
                  "methods": {
                    "create": {
                      "description": "Creates an Execution associated with a MetadataStore.",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudAiplatformV1beta1Execution"
                      },
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/metadataStores/[^/]+$",
                          "required": true,
                          "description": "Required. The resource name of the MetadataStore where the Execution should be created. Format: `projects/{project}/locations/{location}/metadataStores/{metadatastore}`",
                          "location": "path",
                          "type": "string"
                        },
                        "executionId": {
                          "type": "string",
                          "location": "query",
                          "description": "The {execution} portion of the resource name with the format: `projects/{project}/locations/{location}/metadataStores/{metadatastore}/executions/{execution}` If not provided, the Execution's ID will be a UUID generated by the service. Must be 4-128 characters in length. Valid characters are `/a-z-/`. Must be unique across all Executions in the parent MetadataStore. (Otherwise the request will fail with ALREADY_EXISTS, or PERMISSION_DENIED if the caller can't view the preexisting Execution.)"
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/metadataStores/{metadataStoresId}/executions",
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1beta1Execution"
                      },
                      "id": "aiplatform.projects.locations.metadataStores.executions.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+parent}/executions"
                    },
                    "delete": {
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/metadataStores/{metadataStoresId}/executions/{executionsId}",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes an Execution.",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "aiplatform.projects.locations.metadataStores.executions.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta1/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the Execution to delete. Format: `projects/{project}/locations/{location}/metadataStores/{metadatastore}/executions/{execution}`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/metadataStores/[^/]+/executions/[^/]+$",
                          "type": "string",
                          "required": true
                        },
                        "etag": {
                          "description": "Optional. The etag of the Execution to delete. If this is provided, it must match the server's etag. Otherwise, the request will fail with a FAILED_PRECONDITION.",
                          "type": "string",
                          "location": "query"
                        }
                      }
                    },
                    "addExecutionEvents": {
                      "parameters": {
                        "execution": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/metadataStores/[^/]+/executions/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Required. The resource name of the Execution that the Events connect Artifacts with. Format: `projects/{project}/locations/{location}/metadataStores/{metadatastore}/executions/{execution}`"
                        }
                      },
                      "id": "aiplatform.projects.locations.metadataStores.executions.addExecutionEvents",
                      "path": "v1beta1/{+execution}:addExecutionEvents",
                      "parameterOrder": [
                        "execution"
                      ],
                      "request": {
                        "$ref": "GoogleCloudAiplatformV1beta1AddExecutionEventsRequest"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/metadataStores/{metadataStoresId}/executions/{executionsId}:addExecutionEvents",
                      "httpMethod": "POST",
                      "description": "Adds Events to the specified Execution. An Event indicates whether an Artifact was used as an input or output for an Execution. If an Event already exists between the Execution and the Artifact, the Event is skipped.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1beta1AddExecutionEventsResponse"
                      }
                    },
                    "patch": {
                      "request": {
                        "$ref": "GoogleCloudAiplatformV1beta1Execution"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "aiplatform.projects.locations.metadataStores.executions.patch",
                      "description": "Updates a stored Execution.",
                      "path": "v1beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "allowMissing": {
                          "description": "If set to true, and the Execution is not found, a new Execution is created.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "type": "string",
                          "description": "Optional. A FieldMask indicating which fields should be updated.",
                          "location": "query"
                        },
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/metadataStores/[^/]+/executions/[^/]+$",
                          "required": true,
                          "description": "Output only. The resource name of the Execution."
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1beta1Execution"
                      },
                      "httpMethod": "PATCH",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/metadataStores/{metadataStoresId}/executions/{executionsId}"
                    },
                    "purge": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudAiplatformV1beta1PurgeExecutionsRequest"
                      },
                      "description": "Purges Executions.",
                      "httpMethod": "POST",
                      "id": "aiplatform.projects.locations.metadataStores.executions.purge",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/metadataStores/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The metadata store to purge Executions from. Format: `projects/{project}/locations/{location}/metadataStores/{metadatastore}`",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/metadataStores/{metadataStoresId}/executions:purge",
                      "path": "v1beta1/{+parent}/executions:purge"
                    },
                    "list": {
                      "path": "v1beta1/{+parent}/executions",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists Executions in the MetadataStore.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1beta1ListExecutionsResponse"
                      },
                      "parameters": {
                        "orderBy": {
                          "description": "How the list of messages is ordered. Specify the values to order by and an ordering operation. The default sorting order is ascending. To specify descending order for a field, users append a \" desc\" suffix; for example: \"foo desc, bar\". Subfields are specified with a `.` character, such as foo.bar. see https://google.aip.dev/132#ordering for more details.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "The maximum number of Executions to return. The service may return fewer. Must be in range 1-1000, inclusive. Defaults to 100."
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Filter specifying the boolean condition for the Executions to satisfy in order to be part of the result set. The syntax to define filter query is based on https://google.aip.dev/160. Following are the supported set of filters: * **Attribute filtering**: For example: `display_name = \"test\"`. Supported fields include: `name`, `display_name`, `state`, `schema_title`, `create_time`, and `update_time`. Time fields, such as `create_time` and `update_time`, require values specified in RFC-3339 format. For example: `create_time = \"2020-11-19T11:30:00-04:00\"`. * **Metadata field**: To filter on metadata fields use traversal operation as follows: `metadata..` For example: `metadata.field_1.number_value = 10.0` In case the field name contains special characters (such as colon), one can embed it inside double quote. For example: `metadata.\"field:1\".number_value = 10.0` * **Context based filtering**: To filter Executions based on the contexts to which they belong use the function operator with the full resource name: `in_context()`. For example: `in_context(\"projects//locations//metadataStores//contexts/\")` Each of the above supported filters can be combined together using logical operators (`AND` & `OR`). Maximum nested expression depth allowed is 5. For example: `display_name = \"test\" AND metadata.field1.bool_value = true`."
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The MetadataStore whose Executions should be listed. Format: `projects/{project}/locations/{location}/metadataStores/{metadatastore}`",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/metadataStores/[^/]+$"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "A page token, received from a previous MetadataService.ListExecutions call. Provide this to retrieve the subsequent page. When paginating, all other provided parameters must match the call that provided the page token. (Otherwise the request will fail with an INVALID_ARGUMENT error.)",
                          "location": "query"
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/metadataStores/{metadataStoresId}/executions",
                      "httpMethod": "GET",
                      "id": "aiplatform.projects.locations.metadataStores.executions.list"
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/metadataStores/{metadataStoresId}/executions/{executionsId}",
                      "id": "aiplatform.projects.locations.metadataStores.executions.get",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/metadataStores/[^/]+/executions/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The resource name of the Execution to retrieve. Format: `projects/{project}/locations/{location}/metadataStores/{metadatastore}/executions/{execution}`",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1beta1Execution"
                      },
                      "path": "v1beta1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Retrieves a specific Execution."
                    },
                    "queryExecutionInputsAndOutputs": {
                      "path": "v1beta1/{+execution}:queryExecutionInputsAndOutputs",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Obtains the set of input and output Artifacts for this Execution, in the form of LineageSubgraph that also contains the Execution and connecting Events.",
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1beta1LineageSubgraph"
                      },
                      "parameters": {
                        "execution": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The resource name of the Execution whose input and output Artifacts should be retrieved as a LineageSubgraph. Format: `projects/{project}/locations/{location}/metadataStores/{metadatastore}/executions/{execution}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/metadataStores/[^/]+/executions/[^/]+$"
                        }
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "execution"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/metadataStores/{metadataStoresId}/executions/{executionsId}:queryExecutionInputsAndOutputs",
                      "id": "aiplatform.projects.locations.metadataStores.executions.queryExecutionInputsAndOutputs"
                    }
                  }
                },
                "metadataSchemas": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "The maximum number of MetadataSchemas to return. The service may return fewer. Must be in range 1-1000, inclusive. Defaults to 100."
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/metadataStores/[^/]+$",
                          "location": "path",
                          "description": "Required. The MetadataStore whose MetadataSchemas should be listed. Format: `projects/{project}/locations/{location}/metadataStores/{metadatastore}`"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "A page token, received from a previous MetadataService.ListMetadataSchemas call. Provide this to retrieve the next page. When paginating, all other provided parameters must match the call that provided the page token. (Otherwise the request will fail with INVALID_ARGUMENT error.)",
                          "type": "string"
                        },
                        "filter": {
                          "description": "A query to filter available MetadataSchemas for matching results.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "v1beta1/{+parent}/metadataSchemas",
                      "id": "aiplatform.projects.locations.metadataStores.metadataSchemas.list",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/metadataStores/{metadataStoresId}/metadataSchemas",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1beta1ListMetadataSchemasResponse"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists MetadataSchemas."
                    },
                    "get": {
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/metadataStores/{metadataStoresId}/metadataSchemas/{metadataSchemasId}",
                      "id": "aiplatform.projects.locations.metadataStores.metadataSchemas.get",
                      "httpMethod": "GET",
                      "description": "Retrieves a specific MetadataSchema.",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta1/{+name}",
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1beta1MetadataSchema"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the MetadataSchema to retrieve. Format: `projects/{project}/locations/{location}/metadataStores/{metadatastore}/metadataSchemas/{metadataschema}`",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/metadataStores/[^/]+/metadataSchemas/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "path": "v1beta1/{+parent}/metadataSchemas",
                      "description": "Creates a MetadataSchema.",
                      "id": "aiplatform.projects.locations.metadataStores.metadataSchemas.create",
                      "parameters": {
                        "metadataSchemaId": {
                          "type": "string",
                          "description": "The {metadata_schema} portion of the resource name with the format: `projects/{project}/locations/{location}/metadataStores/{metadatastore}/metadataSchemas/{metadataschema}` If not provided, the MetadataStore's ID will be a UUID generated by the service. Must be 4-128 characters in length. Valid characters are `/a-z-/`. Must be unique across all MetadataSchemas in the parent Location. (Otherwise the request will fail with ALREADY_EXISTS, or PERMISSION_DENIED if the caller can't view the preexisting MetadataSchema.)",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/metadataStores/[^/]+$",
                          "required": true,
                          "description": "Required. The resource name of the MetadataStore where the MetadataSchema should be created. Format: `projects/{project}/locations/{location}/metadataStores/{metadatastore}`",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1beta1MetadataSchema"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/metadataStores/{metadataStoresId}/metadataSchemas",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudAiplatformV1beta1MetadataSchema"
                      }
                    }
                  }
                }
              }
            },
            "datasets": {
              "methods": {
                "list": {
                  "id": "aiplatform.projects.locations.datasets.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1beta1ListDatasetsResponse"
                  },
                  "path": "v1beta1/{+parent}/datasets",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/datasets",
                  "description": "Lists Datasets in a Location.",
                  "httpMethod": "GET",
                  "parameters": {
                    "readMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "Mask specifying which fields to read."
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The standard list page size."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "A comma-separated list of fields to order by, sorted in ascending order. Use \"desc\" after a field name for descending. Supported fields: * `display_name` * `create_time` * `update_time`"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "An expression for filtering the results of the request. For field names both snake_case and camelCase are supported. * `display_name`: supports = and != * `metadata_schema_uri`: supports = and != * `labels` supports general map functions that is: * `labels.key=value` - key:value equality * `labels.key:* or labels:key - key existence * A key including a space must be quoted. `labels.\"a key\"`. Some examples: * `displayName=\"myDisplayName\"` * `labels.myKey=\"myValue\"`"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The name of the Dataset's parent resource. Format: `projects/{project}/locations/{location}`"
                    }
                  }
                },
                "searchDataItems": {
                  "path": "v1beta1/{+dataset}:searchDataItems",
                  "parameters": {
                    "annotationsFilter": {
                      "description": "An expression for filtering the Annotations that will be returned per DataItem. * `annotation_spec_id` - for = or !=.",
                      "deprecated": true,
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A token identifying a page of results for the server to return Typically obtained via SearchDataItemsResponse.next_page_token of the previous DatasetService.SearchDataItems call."
                    },
                    "orderByAnnotation.orderBy": {
                      "description": "A comma-separated list of annotation fields to order by, sorted in ascending order. Use \"desc\" after a field name for descending. Must also specify saved_query.",
                      "type": "string",
                      "location": "query"
                    },
                    "dataLabelingJob": {
                      "type": "string",
                      "location": "query",
                      "description": "The resource name of a DataLabelingJob. Format: `projects/{project}/locations/{location}/dataLabelingJobs/{data_labeling_job}` If this field is set, all of the search will be done in the context of this DataLabelingJob."
                    },
                    "dataItemFilter": {
                      "description": "An expression for filtering the DataItem that will be returned. * `data_item_id` - for = or !=. * `labeled` - for = or !=. * `has_annotation(ANNOTATION_SPEC_ID)` - true only for DataItem that have at least one annotation with annotation_spec_id = `ANNOTATION_SPEC_ID` in the context of SavedQuery or DataLabelingJob. For example: * `data_item=1` * `has_annotation(5)`",
                      "location": "query",
                      "type": "string"
                    },
                    "annotationFilters": {
                      "repeated": true,
                      "type": "string",
                      "description": "An expression that specifies what Annotations will be returned per DataItem. Annotations satisfied either of the conditions will be returned. * `annotation_spec_id` - for = or !=. Must specify `saved_query_id=` - saved query id that annotations should belong to.",
                      "location": "query"
                    },
                    "orderByDataItem": {
                      "description": "A comma-separated list of data item fields to order by, sorted in ascending order. Use \"desc\" after a field name for descending.",
                      "type": "string",
                      "location": "query"
                    },
                    "annotationsLimit": {
                      "location": "query",
                      "type": "integer",
                      "description": "If set, only up to this many of Annotations will be returned per DataItemView. The maximum value is 1000. If not set, the maximum value will be used.",
                      "format": "int32"
                    },
                    "savedQuery": {
                      "description": "The resource name of a SavedQuery(annotation set in UI). Format: `projects/{project}/locations/{location}/datasets/{dataset}/savedQueries/{saved_query}` All of the search will be done in the context of this SavedQuery.",
                      "deprecated": true,
                      "type": "string",
                      "location": "query"
                    },
                    "dataset": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "description": "Required. The resource name of the Dataset from which to search DataItems. Format: `projects/{project}/locations/{location}/datasets/{dataset}`",
                      "location": "path"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "deprecated": true,
                      "description": "A comma-separated list of fields to order by, sorted in ascending order. Use \"desc\" after a field name for descending."
                    },
                    "orderByAnnotation.savedQuery": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. Saved query of the Annotation. Only Annotations belong to this saved query will be considered for ordering."
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Requested page size. Server may return fewer results than requested. Default and maximum page size is 100.",
                      "location": "query"
                    },
                    "fieldMask": {
                      "format": "google-fieldmask",
                      "description": "Mask specifying which fields of DataItemView to read.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1beta1SearchDataItemsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "dataset"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:searchDataItems",
                  "description": "Searches DataItems in a Dataset.",
                  "httpMethod": "GET",
                  "id": "aiplatform.projects.locations.datasets.searchDataItems"
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1beta1Dataset"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "aiplatform.projects.locations.datasets.patch",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}",
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see google.protobuf.FieldMask. Updatable fields: * `display_name` * `description` * `labels`",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Output only. The resource name of the Dataset.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$"
                    }
                  },
                  "description": "Updates a Dataset.",
                  "request": {
                    "$ref": "GoogleCloudAiplatformV1beta1Dataset"
                  },
                  "httpMethod": "PATCH"
                },
                "export": {
                  "httpMethod": "POST",
                  "description": "Exports data from a Dataset.",
                  "path": "v1beta1/{+name}:export",
                  "request": {
                    "$ref": "GoogleCloudAiplatformV1beta1ExportDataRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:export",
                  "id": "aiplatform.projects.locations.datasets.export",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the Dataset resource. Format: `projects/{project}/locations/{location}/datasets/{dataset}`"
                    }
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "aiplatform.projects.locations.datasets.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a Dataset.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}",
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource name of the Dataset to delete. Format: `projects/{project}/locations/{location}/datasets/{dataset}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "location": "path"
                    }
                  }
                },
                "import": {
                  "path": "v1beta1/{+name}:import",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the Dataset resource. Format: `projects/{project}/locations/{location}/datasets/{dataset}`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:import",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "aiplatform.projects.locations.datasets.import",
                  "description": "Imports data into a Dataset.",
                  "request": {
                    "$ref": "GoogleCloudAiplatformV1beta1ImportDataRequest"
                  }
                },
                "get": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the Dataset resource.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$"
                    },
                    "readMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Mask specifying which fields to read.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1beta1Dataset"
                  },
                  "description": "Gets a Dataset.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "aiplatform.projects.locations.datasets.get",
                  "httpMethod": "GET",
                  "path": "v1beta1/{+name}"
                },
                "create": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "request": {
                    "$ref": "GoogleCloudAiplatformV1beta1Dataset"
[...]
