{
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "protocol": "rest",
  "basePath": "",
  "servicePath": "",
  "baseUrl": "https://aiplatform.googleapis.com/",
  "endpoints": [
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-east1-aiplatform.googleapis.com/",
      "location": "asia-east1"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://asia-east2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "location": "asia-northeast1",
      "endpointUrl": "https://asia-northeast1-aiplatform.googleapis.com/"
    },
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://asia-northeast2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "location": "asia-northeast3",
      "endpointUrl": "https://asia-northeast3-aiplatform.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-south1-aiplatform.googleapis.com/",
      "location": "asia-south1"
    },
    {
      "description": "Locational Endpoint",
      "location": "asia-southeast1",
      "endpointUrl": "https://asia-southeast1-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://asia-southeast2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "asia-southeast2"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://australia-southeast1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://australia-southeast2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "australia-southeast2"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-central2-aiplatform.googleapis.com/",
      "location": "europe-central2"
    },
    {
      "location": "europe-north1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-north1-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://europe-southwest1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-southwest1"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west1-aiplatform.googleapis.com/",
      "location": "europe-west1"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west2-aiplatform.googleapis.com/",
      "location": "europe-west2"
    },
    {
      "description": "Locational Endpoint",
      "location": "europe-west3",
      "endpointUrl": "https://europe-west3-aiplatform.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "location": "europe-west4",
      "endpointUrl": "https://europe-west4-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://europe-west6-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-west6"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west8-aiplatform.googleapis.com/",
      "location": "europe-west8"
    },
    {
      "location": "europe-west9",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west9-aiplatform.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "location": "me-west1",
      "endpointUrl": "https://me-west1-aiplatform.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://northamerica-northeast1-aiplatform.googleapis.com/",
      "location": "northamerica-northeast1"
    },
    {
      "endpointUrl": "https://northamerica-northeast2-aiplatform.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "location": "southamerica-east1",
      "endpointUrl": "https://southamerica-east1-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://southamerica-west1-aiplatform.googleapis.com/",
      "location": "southamerica-west1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-central1-aiplatform.googleapis.com/",
      "location": "us-central1",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-central2-aiplatform.googleapis.com/",
      "location": "us-central2"
    },
    {
      "description": "Locational Endpoint",
      "location": "us-east1",
      "endpointUrl": "https://us-east1-aiplatform.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-east4-aiplatform.googleapis.com/",
      "location": "us-east4"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-south1-aiplatform.googleapis.com/",
      "location": "us-south1"
    },
    {
      "location": "us-west1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-west1-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://us-west2-aiplatform.googleapis.com/",
      "location": "us-west2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-west3-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "us-west3"
    },
    {
      "description": "Locational Endpoint",
      "location": "us-west4",
      "endpointUrl": "https://us-west4-aiplatform.googleapis.com/"
    }
  ],
  "canonicalName": "Aiplatform",
  "documentationLink": "https://cloud.google.com/vertex-ai/",
  "title": "Vertex AI API",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "rootUrl": "https://aiplatform.googleapis.com/",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "version": "v1beta1",
  "description": "Train high-quality custom machine learning models with minimal machine learning expertise and effort.",
  "schemas": {
    "GoogleCloudAiplatformV1beta1ModelGardenSource": {
      "id": "GoogleCloudAiplatformV1beta1ModelGardenSource",
      "type": "object",
      "description": "Contains information about the source of the models generated from Model Garden.",
      "properties": {
        "publicModelName": {
          "description": "Required. The model garden source model resource name.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionAutoMlVideoClassification": {
      "id": "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionAutoMlVideoClassification",
      "description": "A TrainingJob that trains and uploads an AutoML Video Classification Model.",
      "properties": {
        "inputs": {
          "description": "The input parameters of this TrainingJob.",
          "$ref": "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionAutoMlVideoClassificationInputs"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1Scalar": {
      "type": "object",
      "description": "One point viewable on a scalar metric plot.",
      "id": "GoogleCloudAiplatformV1beta1Scalar",
      "properties": {
        "value": {
          "format": "double",
          "type": "number",
          "description": "Value of the point at this step / timestamp."
        }
      }
    },
    "GoogleCloudAiplatformV1beta1ExportEndpointResponse": {
      "id": "GoogleCloudAiplatformV1beta1ExportEndpointResponse",
      "properties": {
        "outputInfo": {
          "$ref": "GoogleCloudAiplatformV1beta1ExportEndpointResponseOutputInfo",
          "description": "Information further describing the output of this Endpoint export."
        }
      },
      "description": "Response message of EndpointService.ExportEndpoint operation.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1DeployModelOperationMetadata": {
      "properties": {
        "genericMetadata": {
          "$ref": "GoogleCloudAiplatformV1beta1GenericOperationMetadata",
          "description": "The operation generic information."
        }
      },
      "description": "Runtime operation information for EndpointService.DeployModel.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1DeployModelOperationMetadata"
    },
    "GoogleCloudAiplatformV1beta1SchemaVisualInspectionMaskSavedQueryMetadata": {
      "properties": {},
      "id": "GoogleCloudAiplatformV1beta1SchemaVisualInspectionMaskSavedQueryMetadata",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1DeployedIndexRef": {
      "description": "Points to a DeployedIndex.",
      "type": "object",
      "properties": {
        "indexEndpoint": {
          "type": "string",
          "description": "Immutable. A resource name of the IndexEndpoint."
        },
        "deployedIndexId": {
          "description": "Immutable. The ID of the DeployedIndex in the above IndexEndpoint.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1DeployedIndexRef"
    },
    "GoogleCloudAiplatformV1beta1BatchMigrateResourcesResponse": {
      "properties": {
        "migrateResourceResponses": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1MigrateResourceResponse"
          },
          "description": "Successfully migrated resources.",
          "type": "array"
        }
      },
      "description": "Response message for MigrationService.BatchMigrateResources.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1BatchMigrateResourcesResponse"
    },
    "GoogleCloudAiplatformV1beta1CreatePipelineJobRequest": {
      "description": "Request message for PipelineService.CreatePipelineJob.",
      "id": "GoogleCloudAiplatformV1beta1CreatePipelineJobRequest",
      "type": "object",
      "properties": {
        "pipelineJobId": {
          "description": "The ID to use for the PipelineJob, which will become the final component of the PipelineJob name. If not provided, an ID will be automatically generated. This value should be less than 128 characters, and valid characters are `/a-z-/`.",
          "type": "string"
        },
        "pipelineJob": {
          "$ref": "GoogleCloudAiplatformV1beta1PipelineJob",
          "description": "Required. The PipelineJob to create."
        },
        "parent": {
          "description": "Required. The resource name of the Location to create the PipelineJob in. Format: `projects/{project}/locations/{location}`",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1SchemaPredictInstanceImageSegmentationPredictionInstance": {
      "id": "GoogleCloudAiplatformV1beta1SchemaPredictInstanceImageSegmentationPredictionInstance",
      "description": "Prediction input format for Image Segmentation.",
      "type": "object",
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "The MIME type of the content of the image. Only the images in below listed MIME types are supported. - image/jpeg - image/png"
        },
        "content": {
          "description": "The image bytes to make the predictions on.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1FeatureViewSyncConfig": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1FeatureViewSyncConfig",
      "properties": {
        "cron": {
          "type": "string",
          "description": "Cron schedule (https://en.wikipedia.org/wiki/Cron) to launch scheduled runs. To explicitly set a timezone to the cron tab, apply a prefix in the cron tab: \"CRON_TZ=${IANA_TIME_ZONE}\" or \"TZ=${IANA_TIME_ZONE}\". The ${IANA_TIME_ZONE} may only be a valid string from IANA time zone database. For example, \"CRON_TZ=America/New_York 1 * * * *\", or \"TZ=America/New_York 1 * * * *\"."
        }
      }
    },
    "GoogleCloudAiplatformV1beta1MigrateResourceRequestMigrateAutomlDatasetConfig": {
      "description": "Config for migrating Dataset in automl.googleapis.com to Vertex AI's Dataset.",
      "id": "GoogleCloudAiplatformV1beta1MigrateResourceRequestMigrateAutomlDatasetConfig",
      "type": "object",
      "properties": {
        "datasetDisplayName": {
          "type": "string",
          "description": "Required. Display name of the Dataset in Vertex AI. System will pick a display name if unspecified."
        },
        "dataset": {
          "description": "Required. Full resource name of automl Dataset. Format: `projects/{project}/locations/{location}/datasets/{dataset}`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1DoubleArray": {
      "properties": {
        "values": {
          "items": {
            "format": "double",
            "type": "number"
          },
          "type": "array",
          "description": "A list of double values."
        }
      },
      "description": "A list of double values.",
      "id": "GoogleCloudAiplatformV1beta1DoubleArray",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1PurgeExecutionsResponse": {
      "properties": {
        "purgeSample": {
          "type": "array",
          "description": "A sample of the Execution names that will be deleted. Only populated if `force` is set to false. The maximum number of samples is 100 (it is possible to return fewer).",
          "items": {
            "type": "string"
          }
        },
        "purgeCount": {
          "description": "The number of Executions that this request deleted (or, if `force` is false, the number of Executions that will be deleted). This can be an estimate.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for MetadataService.PurgeExecutions.",
      "id": "GoogleCloudAiplatformV1beta1PurgeExecutionsResponse"
    },
    "GoogleCloudAiplatformV1beta1PrivateEndpoints": {
      "properties": {
        "serviceAttachment": {
          "description": "Output only. The name of the service attachment resource. Populated if private service connect is enabled.",
          "readOnly": true,
          "type": "string"
        },
        "predictHttpUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Http(s) path to send prediction requests."
        },
        "explainHttpUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Http(s) path to send explain requests."
        },
        "healthHttpUri": {
          "description": "Output only. Http(s) path to send health check requests.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "PrivateEndpoints proto is used to provide paths for users to send requests privately. To send request via private service access, use predict_http_uri, explain_http_uri or health_http_uri. To send request via private service connect, use service_attachment.",
      "id": "GoogleCloudAiplatformV1beta1PrivateEndpoints"
    },
    "GoogleCloudAiplatformV1beta1CreateNotebookRuntimeTemplateOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1CreateNotebookRuntimeTemplateOperationMetadata",
      "properties": {
        "genericMetadata": {
          "description": "The operation generic information.",
          "$ref": "GoogleCloudAiplatformV1beta1GenericOperationMetadata"
        }
      },
      "description": "Metadata information for NotebookService.CreateNotebookRuntimeTemplate."
    },
    "GoogleCloudAiplatformV1beta1ExportModelOperationMetadata": {
      "properties": {
        "genericMetadata": {
          "description": "The common part of the operation metadata.",
          "$ref": "GoogleCloudAiplatformV1beta1GenericOperationMetadata"
        },
        "outputInfo": {
          "readOnly": true,
          "description": "Output only. Information further describing the output of this Model export.",
          "$ref": "GoogleCloudAiplatformV1beta1ExportModelOperationMetadataOutputInfo"
        }
      },
      "description": "Details of ModelService.ExportModel operation.",
      "id": "GoogleCloudAiplatformV1beta1ExportModelOperationMetadata",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1ExportModelRequest": {
      "id": "GoogleCloudAiplatformV1beta1ExportModelRequest",
      "properties": {
        "outputConfig": {
          "$ref": "GoogleCloudAiplatformV1beta1ExportModelRequestOutputConfig",
          "description": "Required. The desired output location and configuration."
        }
      },
      "type": "object",
      "description": "Request message for ModelService.ExportModel."
    },
    "GoogleCloudAiplatformV1beta1SearchDataItemsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results. Pass to SearchDataItemsRequest.page_token to obtain that page."
        },
        "dataItemViews": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1DataItemView"
          },
          "type": "array",
          "description": "The DataItemViews read."
        }
      },
      "id": "GoogleCloudAiplatformV1beta1SearchDataItemsResponse",
      "description": "Response message for DatasetService.SearchDataItems."
    },
    "GoogleCloudAiplatformV1beta1DeployedIndexAuthConfig": {
      "description": "Used to set up the auth on the DeployedIndex's private endpoint.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1DeployedIndexAuthConfig",
      "properties": {
        "authProvider": {
          "$ref": "GoogleCloudAiplatformV1beta1DeployedIndexAuthConfigAuthProvider",
          "description": "Defines the authentication provider that the DeployedIndex uses."
        }
      }
    },
    "GoogleCloudAiplatformV1beta1CreateRegistryFeatureOperationMetadata": {
      "id": "GoogleCloudAiplatformV1beta1CreateRegistryFeatureOperationMetadata",
      "description": "Details of operations that perform create FeatureGroup.",
      "properties": {
        "genericMetadata": {
          "description": "Operation metadata for Feature.",
          "$ref": "GoogleCloudAiplatformV1beta1GenericOperationMetadata"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1SchemaImageSegmentationAnnotation": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1SchemaImageSegmentationAnnotation",
      "properties": {
        "maskAnnotation": {
          "description": "Mask based segmentation annotation. Only one mask annotation can exist for one image.",
          "$ref": "GoogleCloudAiplatformV1beta1SchemaImageSegmentationAnnotationMaskAnnotation"
        },
        "polylineAnnotation": {
          "$ref": "GoogleCloudAiplatformV1beta1SchemaImageSegmentationAnnotationPolylineAnnotation",
          "description": "Polyline annotation."
        },
        "polygonAnnotation": {
          "$ref": "GoogleCloudAiplatformV1beta1SchemaImageSegmentationAnnotationPolygonAnnotation",
          "description": "Polygon annotation."
        }
      },
      "description": "Annotation details specific to image segmentation."
    },
    "GoogleCloudAiplatformV1beta1SchemaImageClassificationAnnotation": {
      "description": "Annotation details specific to image classification.",
      "id": "GoogleCloudAiplatformV1beta1SchemaImageClassificationAnnotation",
      "properties": {
        "displayName": {
          "description": "The display name of the AnnotationSpec that this Annotation pertains to.",
          "type": "string"
        },
        "annotationSpecId": {
          "type": "string",
          "description": "The resource Id of the AnnotationSpec that this Annotation pertains to."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1ExportFeatureValuesOperationMetadata": {
      "properties": {
        "genericMetadata": {
          "description": "Operation metadata for Featurestore export Feature values.",
          "$ref": "GoogleCloudAiplatformV1beta1GenericOperationMetadata"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1ExportFeatureValuesOperationMetadata",
      "description": "Details of operations that exports Features values.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1ReadTensorboardUsageResponsePerUserUsageData": {
      "id": "GoogleCloudAiplatformV1beta1ReadTensorboardUsageResponsePerUserUsageData",
      "type": "object",
      "description": "Per user usage data.",
      "properties": {
        "username": {
          "description": "User's username",
          "type": "string"
        },
        "viewCount": {
          "format": "int64",
          "description": "Number of times the user has read data within the Tensorboard.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1MigrateResourceRequestMigrateDataLabelingDatasetConfigMigrateDataLabelingAnnotatedDatasetConfig": {
      "description": "Config for migrating AnnotatedDataset in datalabeling.googleapis.com to Vertex AI's SavedQuery.",
      "properties": {
        "annotatedDataset": {
          "type": "string",
          "description": "Required. Full resource name of data labeling AnnotatedDataset. Format: `projects/{project}/datasets/{dataset}/annotatedDatasets/{annotated_dataset}`."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1MigrateResourceRequestMigrateDataLabelingDatasetConfigMigrateDataLabelingAnnotatedDatasetConfig"
    },
    "GoogleCloudAiplatformV1beta1SchemaImageDatasetMetadata": {
      "id": "GoogleCloudAiplatformV1beta1SchemaImageDatasetMetadata",
      "type": "object",
      "description": "The metadata of Datasets that contain Image DataItems.",
      "properties": {
        "dataItemSchemaUri": {
          "description": "Points to a YAML file stored on Google Cloud Storage describing payload of the Image DataItems that belong to this Dataset.",
          "type": "string"
        },
        "gcsBucket": {
          "type": "string",
          "description": "Google Cloud Storage Bucket name that contains the blob data of this Dataset."
        }
      }
    },
    "GoogleCloudAiplatformV1beta1NearestNeighborSearchOperationMetadataContentValidationStats": {
      "properties": {
        "invalidRecordCount": {
          "type": "string",
          "description": "Number of records in this file we skipped due to validate errors.",
          "format": "int64"
        },
        "partialErrors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1NearestNeighborSearchOperationMetadataRecordError"
          },
          "description": "The detail information of the partial failures encountered for those invalid records that couldn't be parsed. Up to 50 partial errors will be reported."
        },
        "sourceGcsUri": {
          "type": "string",
          "description": "Cloud Storage URI pointing to the original file in user's bucket."
        },
        "validRecordCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of records in this file that were successfully processed."
        }
      },
      "id": "GoogleCloudAiplatformV1beta1NearestNeighborSearchOperationMetadataContentValidationStats",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1StudySpecTransferLearningConfig": {
      "id": "GoogleCloudAiplatformV1beta1StudySpecTransferLearningConfig",
      "description": "This contains flag for manually disabling transfer learning for a study. The names of prior studies being used for transfer learning (if any) are also listed here.",
      "properties": {
        "priorStudyNames": {
          "description": "Output only. Names of previously completed studies",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "disableTransferLearning": {
          "type": "boolean",
          "description": "Flag to to manually prevent vizier from using transfer learning on a new study. Otherwise, vizier will automatically determine whether or not to use transfer learning."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1StudySpecParameterSpecConditionalParameterSpecDiscreteValueCondition": {
      "id": "GoogleCloudAiplatformV1beta1StudySpecParameterSpecConditionalParameterSpecDiscreteValueCondition",
      "description": "Represents the spec to match discrete values from parent parameter.",
      "properties": {
        "values": {
          "description": "Required. Matches values of the parent parameter of 'DISCRETE' type. All values must exist in `discrete_value_spec` of parent parameter. The Epsilon of the value matching is 1e-10.",
          "type": "array",
          "items": {
            "format": "double",
            "type": "number"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1DeleteFeatureValuesRequest": {
      "type": "object",
      "properties": {
        "selectEntity": {
          "$ref": "GoogleCloudAiplatformV1beta1DeleteFeatureValuesRequestSelectEntity",
          "description": "Select feature values to be deleted by specifying entities."
        },
        "selectTimeRangeAndFeature": {
          "description": "Select feature values to be deleted by specifying time range and features.",
          "$ref": "GoogleCloudAiplatformV1beta1DeleteFeatureValuesRequestSelectTimeRangeAndFeature"
        }
      },
      "description": "Request message for FeaturestoreService.DeleteFeatureValues.",
      "id": "GoogleCloudAiplatformV1beta1DeleteFeatureValuesRequest"
    },
    "GoogleCloudAiplatformV1beta1Tensorboard": {
      "type": "object",
      "description": "Tensorboard is a physical database that stores users' training metrics. A default Tensorboard is provided in each region of a Google Cloud project. If needed users can also create extra Tensorboards in their projects.",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Used to perform a consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens."
        },
        "encryptionSpec": {
          "$ref": "GoogleCloudAiplatformV1beta1EncryptionSpec",
          "description": "Customer-managed encryption key spec for a Tensorboard. If set, this Tensorboard and all sub-resources of this Tensorboard will be secured by this key."
        },
        "displayName": {
          "description": "Required. User provided name of this Tensorboard.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when this Tensorboard was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "runCount": {
          "readOnly": true,
          "description": "Output only. The number of Runs stored in this Tensorboard.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the Tensorboard. Format: `projects/{project}/locations/{location}/tensorboards/{tensorboard}`"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when this Tensorboard was last updated.",
          "type": "string"
        },
        "isDefault": {
          "description": "Used to indicate if the TensorBoard instance is the default one. Each project & region can have at most one default TensorBoard instance. Creation of a default TensorBoard instance and updating an existing TensorBoard instance to be default will mark all other TensorBoard instances (if any) as non default.",
          "type": "boolean"
        },
        "blobStoragePathPrefix": {
          "description": "Output only. Consumer project Cloud Storage path prefix used to store blob data, which can either be a bucket or directory. Does not end with a '/'.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Description of this Tensorboard."
        },
        "labels": {
          "description": "The labels with user-defined metadata to organize your Tensorboards. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. No more than 64 user labels can be associated with one Tensorboard (System labels are excluded). See https://goo.gl/xmQnxf for more information and examples of labels. System reserved label keys are prefixed with \"aiplatform.googleapis.com/\" and are immutable.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudAiplatformV1beta1Tensorboard"
    },
    "GoogleCloudAiplatformV1beta1CreateDeploymentResourcePoolOperationMetadata": {
      "properties": {
        "genericMetadata": {
          "$ref": "GoogleCloudAiplatformV1beta1GenericOperationMetadata",
          "description": "The operation generic information."
        }
      },
      "type": "object",
      "description": "Runtime operation information for CreateDeploymentResourcePool method.",
      "id": "GoogleCloudAiplatformV1beta1CreateDeploymentResourcePoolOperationMetadata"
    },
    "GoogleCloudAiplatformV1beta1ListTensorboardTimeSeriesResponse": {
      "description": "Response message for TensorboardService.ListTensorboardTimeSeries.",
      "id": "GoogleCloudAiplatformV1beta1ListTensorboardTimeSeriesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as ListTensorboardTimeSeriesRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "tensorboardTimeSeries": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1TensorboardTimeSeries"
          },
          "type": "array",
          "description": "The TensorboardTimeSeries mathching the request."
        }
      }
    },
    "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformation": {
      "id": "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformation",
      "properties": {
        "repeatedText": {
          "$ref": "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationTextArrayTransformation"
        },
        "numeric": {
          "$ref": "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationNumericTransformation"
        },
        "text": {
          "$ref": "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationTextTransformation"
        },
        "auto": {
          "$ref": "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationAutoTransformation"
        },
        "categorical": {
          "$ref": "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationCategoricalTransformation"
        },
        "timestamp": {
          "$ref": "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationTimestampTransformation"
        },
        "repeatedNumeric": {
          "$ref": "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationNumericArrayTransformation"
        },
        "repeatedCategorical": {
          "$ref": "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationCategoricalArrayTransformation"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1FeatureGroup": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1FeatureGroup",
      "description": "Vertex AI Feature Group.",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels with user-defined metadata to organize your FeatureGroup. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https://goo.gl/xmQnxf for more information on and examples of labels. No more than 64 user labels can be associated with one FeatureGroup(System labels are excluded).\" System reserved label keys are prefixed with \"aiplatform.googleapis.com/\" and are immutable.",
          "type": "object"
        },
        "etag": {
          "type": "string",
          "description": "Optional. Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens."
        },
        "bigQuery": {
          "$ref": "GoogleCloudAiplatformV1beta1FeatureGroupBigQuery",
          "description": "Indicates that features for this group come from BigQuery Table/View. By default treats the source as a sparse time series source, which is required to have an entity_id and a feature_timestamp column in the source."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp when this FeatureGroup was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the FeatureGroup."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the FeatureGroup. Format: `projects/{project}/locations/{location}/featureGroups/{featureGroup}`"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when this FeatureGroup was last updated.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionTftForecasting": {
      "description": "A TrainingJob that trains and uploads an AutoML Forecasting Model.",
      "properties": {
        "metadata": {
          "description": "The metadata information.",
          "$ref": "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionTftForecastingMetadata"
        },
        "inputs": {
          "description": "The input parameters of this TrainingJob.",
          "$ref": "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionTftForecastingInputs"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionTftForecasting"
    },
    "GoogleCloudAiplatformV1beta1Dataset": {
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when this Dataset was last updated.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The user-defined name of the Dataset. The name can be up to 128 characters long and can consist of any UTF-8 characters.",
          "type": "string"
        },
        "metadata": {
          "type": "any",
          "description": "Required. Additional information about the Dataset."
        },
        "encryptionSpec": {
          "$ref": "GoogleCloudAiplatformV1beta1EncryptionSpec",
          "description": "Customer-managed encryption key spec for a Dataset. If set, this Dataset and all sub-resources of this Dataset will be secured by this key."
        },
        "name": {
          "description": "Output only. The resource name of the Dataset.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "The description of the Dataset.",
          "type": "string"
        },
        "metadataSchemaUri": {
          "type": "string",
          "description": "Required. Points to a YAML file stored on Google Cloud Storage describing additional information about the Dataset. The schema is defined as an OpenAPI 3.0.2 Schema Object. The schema files that can be used here are found in gs://google-cloud-aiplatform/schema/dataset/metadata/."
        },
        "metadataArtifact": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the Artifact that was created in MetadataStore when creating the Dataset. The Artifact resource name pattern is `projects/{project}/locations/{location}/metadataStores/{metadata_store}/artifacts/{artifact}`."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels with user-defined metadata to organize your Datasets. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. No more than 64 user labels can be associated with one Dataset (System labels are excluded). See https://goo.gl/xmQnxf for more information and examples of labels. System reserved label keys are prefixed with \"aiplatform.googleapis.com/\" and are immutable. Following system labels exist for each Dataset: * \"aiplatform.googleapis.com/dataset_metadata_schema\": output only, its value is the metadata_schema's title.",
          "type": "object"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when this Dataset was created."
        },
        "dataItemCount": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The number of DataItems in this Dataset. Only apply for non-structured Dataset."
        },
        "etag": {
          "type": "string",
          "description": "Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens."
        },
        "savedQueries": {
          "description": "All SavedQueries belong to the Dataset will be returned in List/Get Dataset response. The annotation_specs field will not be populated except for UI cases which will only use annotation_spec_count. In CreateDataset request, a SavedQuery is created together if this field is set, up to one SavedQuery can be set in CreateDatasetRequest. The SavedQuery should not contain any AnnotationSpec.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1SavedQuery"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1Dataset",
      "type": "object",
      "description": "A collection of DataItems and Annotations on them."
    },
    "GoogleCloudAiplatformV1beta1FeatureViewSync": {
      "id": "GoogleCloudAiplatformV1beta1FeatureViewSync",
      "properties": {
        "finalStatus": {
          "readOnly": true,
          "description": "Output only. Final status of the FeatureViewSync.",
          "$ref": "GoogleRpcStatus"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when this FeatureViewSync is created. Creation of a FeatureViewSync means that the job is pending / waiting for sufficient resources but may not have started the actual data transfer yet.",
          "readOnly": true
        },
        "runTime": {
          "description": "Output only. Time when this FeatureViewSync is finished.",
          "readOnly": true,
          "$ref": "GoogleTypeInterval"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the FeatureViewSync. Format: `projects/{project}/locations/{location}/featureOnlineStores/{feature_online_store}/featureViews/{feature_view}/featureViewSyncs/{feature_view_sync}`"
        }
      },
      "type": "object",
      "description": "FeatureViewSync is a representation of sync operation which copies data from data source to Feature View in Online Store."
    },
    "GoogleCloudAiplatformV1beta1ListModelVersionsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass to ListModelVersionsRequest.page_token to obtain that page."
        },
        "models": {
          "description": "List of Model versions in the requested page. In the returned Model name field, version ID instead of regvision tag will be included.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1Model"
          }
        }
      },
      "id": "GoogleCloudAiplatformV1beta1ListModelVersionsResponse",
      "description": "Response message for ModelService.ListModelVersions",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1SchemaTimeSeriesDatasetMetadataBigQuerySource": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1SchemaTimeSeriesDatasetMetadataBigQuerySource",
      "properties": {
        "uri": {
          "type": "string",
          "description": "The URI of a BigQuery table."
        }
      }
    },
    "GoogleCloudAiplatformV1beta1FractionSplit": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1FractionSplit",
      "properties": {
        "validationFraction": {
          "type": "number",
          "format": "double",
          "description": "The fraction of the input data that is to be used to validate the Model."
        },
        "trainingFraction": {
          "format": "double",
          "description": "The fraction of the input data that is to be used to train the Model.",
          "type": "number"
        },
        "testFraction": {
          "type": "number",
          "description": "The fraction of the input data that is to be used to evaluate the Model.",
          "format": "double"
        }
      },
      "description": "Assigns the input data to training, validation, and test sets as per the given fractions. Any of `training_fraction`, `validation_fraction` and `test_fraction` may optionally be provided, they must sum to up to 1. If the provided ones sum to less than 1, the remainder is assigned to sets as decided by Vertex AI. If none of the fractions are set, by default roughly 80% of data is used for training, 10% for validation, and 10% for test."
    },
    "GoogleTypeExpr": {
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        }
      },
      "id": "GoogleTypeExpr"
    },
    "GoogleCloudAiplatformV1beta1ReadFeatureValuesResponseEntityViewData": {
      "id": "GoogleCloudAiplatformV1beta1ReadFeatureValuesResponseEntityViewData",
      "type": "object",
      "description": "Container to hold value(s), successive in time, for one Feature from the request.",
      "properties": {
        "values": {
          "$ref": "GoogleCloudAiplatformV1beta1FeatureValueList",
          "description": "Feature values list if values, successive in time, are requested. If the requested number of values is greater than the number of existing Feature values, nonexistent values are omitted instead of being returned as empty."
        },
        "value": {
          "description": "Feature value if a single value is requested.",
          "$ref": "GoogleCloudAiplatformV1beta1FeatureValue"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionTftForecastingInputsTransformationTimestampTransformation": {
      "description": "Training pipeline will perform following transformation functions. * Apply the transformation functions for Numerical columns. * Determine the year, month, day,and weekday. Treat each value from the timestamp as a Categorical column. * Invalid numerical values (for example, values that fall outside of a typical timestamp range, or are extreme values) receive no special treatment and are not removed.",
      "type": "object",
      "properties": {
        "timeFormat": {
          "type": "string",
          "description": "The format in which that time field is expressed. The time_format must either be one of: * `unix-seconds` * `unix-milliseconds` * `unix-microseconds` * `unix-nanoseconds` (for respectively number of seconds, milliseconds, microseconds and nanoseconds since start of the Unix epoch); or be written in `strftime` syntax. If time_format is not set, then the default format is RFC 3339 `date-time` format, where `time-offset` = `\"Z\"` (e.g. 1985-04-12T23:20:50.52Z)"
        },
        "columnName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionTftForecastingInputsTransformationTimestampTransformation"
    },
    "GoogleCloudAiplatformV1beta1SchemaVideoDataItem": {
      "properties": {
        "mimeType": {
          "description": "Output only. The mime type of the content of the video. Only the videos in below listed mime types are supported. Supported mime_type: - video/mp4 - video/avi - video/quicktime",
          "readOnly": true,
          "type": "string"
        },
        "gcsUri": {
          "description": "Required. Google Cloud Storage URI points to the original video in user's bucket. The video is up to 50 GB in size and up to 3 hour in duration.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1SchemaVideoDataItem",
      "type": "object",
      "description": "Payload of Video DataItem."
    },
    "GoogleCloudAiplatformV1beta1CopyModelResponse": {
      "description": "Response message of ModelService.CopyModel operation.",
      "properties": {
        "modelVersionId": {
          "description": "Output only. The version ID of the model that is copied.",
          "type": "string",
          "readOnly": true
        },
        "model": {
          "type": "string",
          "description": "The name of the copied Model resource. Format: `projects/{project}/locations/{location}/models/{model}`"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1CopyModelResponse"
    },
    "GoogleCloudAiplatformV1beta1TFRecordDestination": {
      "properties": {
        "gcsDestination": {
          "description": "Required. Google Cloud Storage location.",
          "$ref": "GoogleCloudAiplatformV1beta1GcsDestination"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1TFRecordDestination",
      "type": "object",
      "description": "The storage details for TFRecord output content."
    },
    "GoogleCloudAiplatformV1beta1StopTrialRequest": {
      "type": "object",
      "description": "Request message for VizierService.StopTrial.",
      "id": "GoogleCloudAiplatformV1beta1StopTrialRequest",
      "properties": {}
    },
    "GoogleCloudAiplatformV1beta1SchemaPredictInstanceImageClassificationPredictionInstance": {
      "type": "object",
      "description": "Prediction input format for Image Classification.",
      "id": "GoogleCloudAiplatformV1beta1SchemaPredictInstanceImageClassificationPredictionInstance",
      "properties": {
        "content": {
          "type": "string",
          "description": "The image bytes or Cloud Storage URI to make the prediction on."
        },
        "mimeType": {
          "description": "The MIME type of the content of the image. Only the images in below listed MIME types are supported. - image/jpeg - image/gif - image/png - image/webp - image/bmp - image/tiff - image/vnd.microsoft.icon",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1SchemaImageSegmentationAnnotationPolylineAnnotation": {
      "description": "Represents a polyline in image.",
      "id": "GoogleCloudAiplatformV1beta1SchemaImageSegmentationAnnotationPolylineAnnotation",
      "type": "object",
      "properties": {
        "annotationSpecId": {
          "description": "The resource Id of the AnnotationSpec that this Annotation pertains to.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the AnnotationSpec that this Annotation pertains to.",
          "type": "string"
        },
        "vertexes": {
          "description": "The vertexes are connected one by one and the last vertex in not connected to the first one.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1SchemaVertex"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1ReadTensorboardUsageResponse": {
      "description": "Response message for TensorboardService.ReadTensorboardUsage.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1ReadTensorboardUsageResponse",
      "properties": {
        "monthlyUsageData": {
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1beta1ReadTensorboardUsageResponsePerMonthUsageData"
          },
          "type": "object",
          "description": "Maps year-month (YYYYMM) string to per month usage data."
        }
      }
    },
    "GoogleCloudAiplatformV1beta1BatchPredictionJobInputConfig": {
      "description": "Configures the input to BatchPredictionJob. See Model.supported_input_storage_formats for Model's supported input formats, and how instances should be expressed via any of them.",
      "properties": {
        "gcsSource": {
          "description": "The Cloud Storage location for the input instances.",
          "$ref": "GoogleCloudAiplatformV1beta1GcsSource"
        },
        "bigquerySource": {
          "description": "The BigQuery location of the input table. The schema of the table should be in the format described by the given context OpenAPI Schema, if one is provided. The table may contain additional columns that are not described by the schema, and they will be ignored.",
          "$ref": "GoogleCloudAiplatformV1beta1BigQuerySource"
        },
        "instancesFormat": {
          "description": "Required. The format in which instances are given, must be one of the Model's supported_input_storage_formats.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1BatchPredictionJobInputConfig",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1ModelDeploymentMonitoringJobLatestMonitoringPipelineMetadata": {
      "properties": {
        "status": {
          "description": "The status of the most recent monitoring pipeline.",
          "$ref": "GoogleRpcStatus"
        },
        "runTime": {
          "format": "google-datetime",
          "description": "The time that most recent monitoring pipelines that is related to this run.",
          "type": "string"
        }
      },
      "description": "All metadata of most recent monitoring pipelines.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1ModelDeploymentMonitoringJobLatestMonitoringPipelineMetadata"
    },
    "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionAutoMlVideoObjectTracking": {
      "id": "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionAutoMlVideoObjectTracking",
      "type": "object",
      "properties": {
        "inputs": {
          "$ref": "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionAutoMlVideoObjectTrackingInputs",
          "description": "The input parameters of this TrainingJob."
        }
      },
      "description": "A TrainingJob that trains and uploads an AutoML Video ObjectTracking Model."
    },
    "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionHyperparameterTuningJobMetadata": {
      "id": "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionHyperparameterTuningJobMetadata",
      "properties": {
        "bestTrialBackingCustomJob": {
          "description": "The resource name of the CustomJob that has been created to run the best Trial of this HyperparameterTuning task.",
          "type": "string"
        },
        "backingHyperparameterTuningJob": {
          "type": "string",
          "description": "The resource name of the HyperparameterTuningJob that has been created to carry out this HyperparameterTuning task."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1ModelMonitoringObjectiveConfig": {
      "id": "GoogleCloudAiplatformV1beta1ModelMonitoringObjectiveConfig",
      "properties": {
        "trainingDataset": {
          "description": "Training dataset for models. This field has to be set only if TrainingPredictionSkewDetectionConfig is specified.",
          "$ref": "GoogleCloudAiplatformV1beta1ModelMonitoringObjectiveConfigTrainingDataset"
        },
        "predictionDriftDetectionConfig": {
          "description": "The config for drift of prediction data.",
          "$ref": "GoogleCloudAiplatformV1beta1ModelMonitoringObjectiveConfigPredictionDriftDetectionConfig"
        },
        "trainingPredictionSkewDetectionConfig": {
          "$ref": "GoogleCloudAiplatformV1beta1ModelMonitoringObjectiveConfigTrainingPredictionSkewDetectionConfig",
          "description": "The config for skew between training data and prediction data."
        },
        "explanationConfig": {
          "description": "The config for integrating with Vertex Explainable AI.",
          "$ref": "GoogleCloudAiplatformV1beta1ModelMonitoringObjectiveConfigExplanationConfig"
        }
      },
      "description": "The objective configuration for model monitoring, including the information needed to detect anomalies for one particular model.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1PurgeArtifactsRequest": {
      "description": "Request message for MetadataService.PurgeArtifacts.",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Required. A required filter matching the Artifacts to be purged. E.g., `update_time \u003c= 2020-11-19T11:30:00-04:00`."
        },
        "force": {
          "type": "boolean",
          "description": "Optional. Flag to indicate to actually perform the purge. If `force` is set to false, the method will return a sample of Artifact names that would be deleted."
        }
      },
      "id": "GoogleCloudAiplatformV1beta1PurgeArtifactsRequest",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1ListNotebookRuntimesResponse": {
      "id": "GoogleCloudAiplatformV1beta1ListNotebookRuntimesResponse",
      "description": "Response message for NotebookService.ListNotebookRuntimes.",
      "properties": {
        "notebookRuntimes": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1NotebookRuntime"
          },
          "type": "array",
          "description": "List of NotebookRuntimes in the requested page."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results. Pass to ListNotebookRuntimesRequest.page_token to obtain that page."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1Featurestore": {
      "description": "Vertex AI Feature Store provides a centralized repository for organizing, storing, and serving ML features. The Featurestore is a top-level container for your features and their values.",
      "properties": {
        "onlineServingConfig": {
          "description": "Optional. Config for online storage resources. The field should not co-exist with the field of `OnlineStoreReplicationConfig`. If both of it and OnlineStoreReplicationConfig are unset, the feature store will not have an online store and cannot be used for online serving.",
          "$ref": "GoogleCloudAiplatformV1beta1FeaturestoreOnlineServingConfig"
        },
        "onlineStorageTtlDays": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. TTL in days for feature values that will be stored in online serving storage. The Feature Store online storage periodically removes obsolete feature values older than `online_storage_ttl_days` since the feature generation time. Note that `online_storage_ttl_days` should be less than or equal to `offline_storage_ttl_days` for each EntityType under a featurestore. If not set, default to 4000 days"
        },
        "state": {
          "description": "Output only. State of the featurestore.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State when the featurestore configuration is not being updated and the fields reflect the current configuration of the featurestore. The featurestore is usable in this state.",
            "The state of the featurestore configuration when it is being updated. During an update, the fields reflect either the original configuration or the updated configuration of the featurestore. For example, `online_serving_config.fixed_node_count` can take minutes to update. While the update is in progress, the featurestore is in the UPDATING state, and the value of `fixed_node_count` can be the original value or the updated value, depending on the progress of the operation. Until the update completes, the actual number of nodes can still be the original value of `fixed_node_count`. The featurestore is still usable in this state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STABLE",
            "UPDATING"
          ],
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. Timestamp when this Featurestore was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels with user-defined metadata to organize your Featurestore. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https://goo.gl/xmQnxf for more information on and examples of labels. No more than 64 user labels can be associated with one Featurestore(System labels are excluded).\" System reserved label keys are prefixed with \"aiplatform.googleapis.com/\" and are immutable.",
          "type": "object"
        },
        "etag": {
          "type": "string",
          "description": "Optional. Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the Featurestore. Format: `projects/{project}/locations/{location}/featurestores/{featurestore}`"
        },
        "encryptionSpec": {
          "description": "Optional. Customer-managed encryption key spec for data storage. If set, both of the online and offline data storage will be secured by this key.",
          "$ref": "GoogleCloudAiplatformV1beta1EncryptionSpec"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when this Featurestore was created."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1Featurestore"
    },
    "GoogleCloudAiplatformV1beta1Int64Array": {
      "type": "object",
      "properties": {
        "values": {
          "description": "A list of int64 values.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      },
      "description": "A list of int64 values.",
      "id": "GoogleCloudAiplatformV1beta1Int64Array"
    },
    "GoogleCloudAiplatformV1beta1DatasetVersion": {
      "description": "Describes the dataset version.",
      "id": "GoogleCloudAiplatformV1beta1DatasetVersion",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the DatasetVersion.",
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "description": "Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when this DatasetVersion was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "bigQueryDatasetName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the associated BigQuery dataset."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when this DatasetVersion was created.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1StudySpecParameterSpecIntegerValueSpec": {
      "id": "GoogleCloudAiplatformV1beta1StudySpecParameterSpecIntegerValueSpec",
      "properties": {
        "minValue": {
          "format": "int64",
          "description": "Required. Inclusive minimum value of the parameter.",
          "type": "string"
        },
        "defaultValue": {
          "description": "A default value for an `INTEGER` parameter that is assumed to be a relatively good starting point. Unset value signals that there is no offered starting point. Currently only supported by the Vertex AI Vizier service. Not supported by HyperparameterTuningJob or TrainingPipeline.",
          "format": "int64",
          "type": "string"
        },
        "maxValue": {
          "format": "int64",
          "description": "Required. Inclusive maximum value of the parameter.",
          "type": "string"
        }
      },
      "description": "Value specification for a parameter in `INTEGER` type.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionSeq2SeqPlusForecastingInputsTransformationCategoricalTransformation": {
      "description": "Training pipeline will perform following transformation functions. * The categorical string as is--no change to case, punctuation, spelling, tense, and so on. * Convert the category name to a dictionary lookup index and generate an embedding for each index. * Categories that appear less than 5 times in the training dataset are treated as the \"unknown\" category. The \"unknown\" category gets its own special lookup index and resulting embedding.",
      "properties": {
        "columnName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionSeq2SeqPlusForecastingInputsTransformationCategoricalTransformation",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1UpdateSpecialistPoolOperationMetadata": {
      "properties": {
        "genericMetadata": {
          "$ref": "GoogleCloudAiplatformV1beta1GenericOperationMetadata",
          "description": "The operation generic information."
        },
        "specialistPool": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the SpecialistPool to which the specialists are being added. Format: `projects/{project_id}/locations/{location_id}/specialistPools/{specialist_pool}`"
        }
      },
      "type": "object",
      "description": "Runtime operation metadata for SpecialistPoolService.UpdateSpecialistPool.",
      "id": "GoogleCloudAiplatformV1beta1UpdateSpecialistPoolOperationMetadata"
    },
    "GoogleCloudAiplatformV1beta1ImportFeatureValuesRequestFeatureSpec": {
      "description": "Defines the Feature value(s) to import.",
      "properties": {
        "sourceField": {
          "description": "Source column to get the Feature values from. If not set, uses the column with the same name as the Feature ID.",
          "type": "string"
        },
        "id": {
          "description": "Required. ID of the Feature to import values of. This Feature must exist in the target EntityType, or the request will fail.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1ImportFeatureValuesRequestFeatureSpec"
    },
    "GoogleCloudAiplatformV1beta1CustomJobSpec": {
      "properties": {
        "network": {
          "type": "string",
          "description": "Optional. The full name of the Compute Engine [network](/compute/docs/networks-and-firewalls#networks) to which the Job should be peered. For example, `projects/12345/global/networks/myVPC`. [Format](/compute/docs/reference/rest/v1/networks/insert) is of the form `projects/{project}/global/networks/{network}`. Where {project} is a project number, as in `12345`, and {network} is a network name. To specify this field, you must have already [configured VPC Network Peering for Vertex AI](https://cloud.google.com/vertex-ai/docs/general/vpc-peering). If this field is left unspecified, the job is not peered with any network."
        },
        "serviceAccount": {
          "description": "Specifies the service account for workload run-as account. Users submitting jobs must have act-as permission on this run-as account. If unspecified, the [Vertex AI Custom Code Service Agent](https://cloud.google.com/vertex-ai/docs/general/access-control#service-agents) for the CustomJob's project is used.",
          "type": "string"
        },
        "enableWebAccess": {
          "description": "Optional. Whether you want Vertex AI to enable [interactive shell access](https://cloud.google.com/vertex-ai/docs/training/monitor-debug-interactive-shell) to training containers. If set to `true`, you can access interactive shells at the URIs given by CustomJob.web_access_uris or Trial.web_access_uris (within HyperparameterTuningJob.trials).",
          "type": "boolean"
        },
        "experiment": {
          "description": "Optional. The Experiment associated with this job. Format: `projects/{project}/locations/{location}/metadataStores/{metadataStores}/contexts/{experiment-name}`",
          "type": "string"
        },
        "baseOutputDirectory": {
          "$ref": "GoogleCloudAiplatformV1beta1GcsDestination",
          "description": "The Cloud Storage location to store the output of this CustomJob or HyperparameterTuningJob. For HyperparameterTuningJob, the baseOutputDirectory of each child CustomJob backing a Trial is set to a subdirectory of name id under its parent HyperparameterTuningJob's baseOutputDirectory. The following Vertex AI environment variables will be passed to containers or python modules when this field is set: For CustomJob: * AIP_MODEL_DIR = `/model/` * AIP_CHECKPOINT_DIR = `/checkpoints/` * AIP_TENSORBOARD_LOG_DIR = `/logs/` For CustomJob backing a Trial of HyperparameterTuningJob: * AIP_MODEL_DIR = `//model/` * AIP_CHECKPOINT_DIR = `//checkpoints/` * AIP_TENSORBOARD_LOG_DIR = `//logs/`"
        },
        "persistentResourceId": {
          "type": "string",
          "description": "Optional. The ID of the PersistentResource in the same Project and Location which to run If this is specified, the job will be run on existing machines held by the PersistentResource instead of on-demand short-live machines. The network and CMEK configs on the job should be consistent with those on the PersistentResource, otherwise, the job will be rejected."
        },
        "workerPoolSpecs": {
          "type": "array",
          "description": "Required. The spec of the worker pools including machine type and Docker image. All worker pools except the first one are optional and can be skipped by providing an empty value.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1WorkerPoolSpec"
          }
        },
        "tensorboard": {
          "description": "Optional. The name of a Vertex AI Tensorboard resource to which this CustomJob will upload Tensorboard logs. Format: `projects/{project}/locations/{location}/tensorboards/{tensorboard}`",
          "type": "string"
        },
        "experimentRun": {
          "description": "Optional. The Experiment Run associated with this job. Format: `projects/{project}/locations/{location}/metadataStores/{metadataStores}/contexts/{experiment-name}-{experiment-run-name}`",
          "type": "string"
        },
        "enableDashboardAccess": {
          "type": "boolean",
          "description": "Optional. Whether you want Vertex AI to enable access to the customized dashboard in training chief container. If set to `true`, you can access the dashboard at the URIs given by CustomJob.web_access_uris or Trial.web_access_uris (within HyperparameterTuningJob.trials)."
        },
        "scheduling": {
          "$ref": "GoogleCloudAiplatformV1beta1Scheduling",
          "description": "Scheduling options for a CustomJob."
        },
        "reservedIpRanges": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of names for the reserved ip ranges under the VPC network that can be used for this job. If set, we will deploy the job within the provided ip ranges. Otherwise, the job will be deployed to any ip ranges under the provided VPC network. Example: ['vertex-ai-ip-range']."
        }
      },
      "description": "Represents the spec of a CustomJob.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1CustomJobSpec"
    },
    "GoogleCloudAiplatformV1beta1SuggestTrialsRequest": {
      "properties": {
        "suggestionCount": {
          "type": "integer",
          "description": "Required. The number of suggestions requested. It must be positive.",
          "format": "int32"
        },
        "contexts": {
          "type": "array",
          "description": "Optional. This allows you to specify the \"context\" for a Trial; a context is a slice (a subspace) of the search space. Typical uses for contexts: 1) You are using Vizier to tune a server for best performance, but there's a strong weekly cycle. The context specifies the day-of-week. This allows Tuesday to generalize from Wednesday without assuming that everything is identical. 2) Imagine you're optimizing some medical treatment for people. As they walk in the door, you know certain facts about them (e.g. sex, weight, height, blood-pressure). Put that information in the context, and Vizier will adapt its suggestions to the patient. 3) You want to do a fair A/B test efficiently. Specify the \"A\" and \"B\" conditions as contexts, and Vizier will generalize between \"A\" and \"B\" conditions. If they are similar, this will allow Vizier to converge to the optimum faster than if \"A\" and \"B\" were separate Studies. NOTE: You can also enter contexts as REQUESTED Trials, e.g. via the CreateTrial() RPC; that's the asynchronous option where you don't need a close association between contexts and suggestions. NOTE: All the Parameters you set in a context MUST be defined in the Study. NOTE: You must supply 0 or $suggestion_count contexts. If you don't supply any contexts, Vizier will make suggestions from the full search space specified in the StudySpec; if you supply a full set of context, each suggestion will match the corresponding context. NOTE: A Context with no features set matches anything, and allows suggestions from the full search space. NOTE: Contexts MUST lie within the search space specified in the StudySpec. It's an error if they don't. NOTE: Contexts preferentially match ACTIVE then REQUESTED trials before new suggestions are generated. NOTE: Generation of suggestions involves a match between a Context and (optionally) a REQUESTED trial; if that match is not fully specified, a suggestion will be geneated in the merged subspace.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1TrialContext"
          }
        },
        "clientId": {
          "description": "Required. The identifier of the client that is requesting the suggestion. If multiple SuggestTrialsRequests have the same `client_id`, the service will return the identical suggested Trial if the Trial is pending, and provide a new Trial if the last suggested Trial was completed.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for VizierService.SuggestTrials.",
      "id": "GoogleCloudAiplatformV1beta1SuggestTrialsRequest"
    },
    "GoogleCloudAiplatformV1beta1NearestNeighborSearchOperationMetadataRecordError": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1NearestNeighborSearchOperationMetadataRecordError",
      "properties": {
        "rawRecord": {
          "type": "string",
          "description": "The original content of this record."
        },
        "sourceGcsUri": {
          "description": "Cloud Storage URI pointing to the original file in user's bucket.",
          "type": "string"
        },
        "embeddingId": {
          "type": "string",
          "description": "Empty if the embedding id is failed to parse."
        },
        "errorType": {
          "description": "The error type of this record.",
          "enumDescriptions": [
            "Default, shall not be used.",
            "The record is empty.",
            "Invalid json format.",
            "Invalid csv format.",
            "Invalid avro format.",
            "The embedding id is not valid.",
            "The size of the embedding vectors does not match with the specified dimension.",
            "The `namespace` field is missing."
          ],
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "EMPTY_LINE",
            "INVALID_JSON_SYNTAX",
            "INVALID_CSV_SYNTAX",
            "INVALID_AVRO_SYNTAX",
            "INVALID_EMBEDDING_ID",
            "EMBEDDING_SIZE_MISMATCH",
            "NAMESPACE_MISSING"
          ],
          "type": "string"
        },
        "errorMessage": {
          "type": "string",
          "description": "A human-readable message that is shown to the user to help them fix the error. Note that this message may change from time to time, your code should check against error_type as the source of truth."
        }
      }
    },
    "GoogleCloudAiplatformV1beta1NearestNeighborQueryParameters": {
      "description": "Parameters that can be overrided in each query to tune query latency and recall.",
      "properties": {
        "approximateNeighborCandidates": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of neighbors to find via approximate search before exact reordering is performed; if set, this value must be \u003e neighbor_count."
        },
        "leafNodesSearchFraction": {
          "format": "double",
          "description": "Optional. The fraction of the number of leaves to search, set at query time allows user to tune search performance. This value increase result in both search accuracy and latency increase. The value should be between 0.0 and 1.0.",
          "type": "number"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1NearestNeighborQueryParameters",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1SchemaModelevaluationMetricsVideoActionMetricsConfidenceMetrics": {
      "description": "Metrics for a single confidence threshold.",
      "id": "GoogleCloudAiplatformV1beta1SchemaModelevaluationMetricsVideoActionMetricsConfidenceMetrics",
      "properties": {
        "precision": {
          "format": "float",
          "type": "number",
          "description": "Output only. Precision for the given confidence threshold."
        },
        "f1Score": {
          "format": "float",
          "description": "Output only. The harmonic mean of recall and precision.",
          "type": "number"
        },
        "recall": {
          "description": "Output only. Recall for the given confidence threshold.",
          "type": "number",
          "format": "float"
        },
        "confidenceThreshold": {
          "type": "number",
          "description": "Output only. The confidence threshold value used to compute the metrics.",
          "format": "float"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1SchemaPredictInstanceTextClassificationPredictionInstance": {
      "id": "GoogleCloudAiplatformV1beta1SchemaPredictInstanceTextClassificationPredictionInstance",
      "properties": {
        "content": {
          "type": "string",
          "description": "The text snippet to make the predictions on."
        },
        "mimeType": {
          "type": "string",
          "description": "The MIME type of the text snippet. The supported MIME types are listed below. - text/plain"
        }
      },
      "description": "Prediction input format for Text Classification.",
      "type": "object"
    },
    "GoogleRpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpcStatus"
    },
    "GoogleCloudAiplatformV1beta1AddContextArtifactsAndExecutionsResponse": {
      "id": "GoogleCloudAiplatformV1beta1AddContextArtifactsAndExecutionsResponse",
      "type": "object",
      "properties": {},
      "description": "Response message for MetadataService.AddContextArtifactsAndExecutions."
    },
    "GoogleCloudAiplatformV1beta1Schedule": {
      "id": "GoogleCloudAiplatformV1beta1Schedule",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. Timestamp when this Schedule was updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. The state of this Schedule.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "PAUSED",
            "COMPLETED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "The Schedule is active. Runs are being scheduled on the user-specified timespec.",
            "The schedule is paused. No new runs will be created until the schedule is resumed. Already started runs will be allowed to complete.",
            "The Schedule is completed. No new runs will be scheduled. Already started runs will be allowed to complete. Schedules in completed state cannot be paused or resumed."
          ]
        },
        "startTime": {
          "type": "string",
          "description": "Optional. Timestamp after which the first run can be scheduled. Default to Schedule create time if not specified.",
          "format": "google-datetime"
        },
        "lastPauseTime": {
          "description": "Output only. Timestamp when this Schedule was last paused. Unset if never paused.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when this Schedule was created.",
          "type": "string"
        },
        "maxConcurrentRunCount": {
          "type": "string",
          "description": "Required. Maximum number of runs that can be started concurrently for this Schedule. This is the limit for starting the scheduled requests and not the execution of the operations/jobs created by the requests (if applicable).",
          "format": "int64"
        },
        "maxRunCount": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Maximum run count of the schedule. If specified, The schedule will be completed when either started_run_count \u003e= max_run_count or when end_time is reached. If not specified, new runs will keep getting scheduled until this Schedule is paused or deleted. Already scheduled runs will be allowed to complete. Unset if not specified."
        },
        "allowQueueing": {
          "type": "boolean",
          "description": "Optional. Whether new scheduled runs can be queued when max_concurrent_runs limit is reached. If set to true, new runs will be queued instead of skipped. Default to false."
        },
        "createPipelineJobRequest": {
          "description": "Request for PipelineService.CreatePipelineJob. CreatePipelineJobRequest.parent field is required (format: projects/{project}/locations/{location}).",
          "$ref": "GoogleCloudAiplatformV1beta1CreatePipelineJobRequest"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Optional. Timestamp after which no new runs can be scheduled. If specified, The schedule will be completed when either end_time is reached or when scheduled_run_count \u003e= max_run_count. If not specified, new runs will keep getting scheduled until this Schedule is paused or deleted. Already scheduled runs will be allowed to complete. Unset if not specified.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. The resource name of the Schedule.",
          "type": "string"
        },
        "lastResumeTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when this Schedule was last resumed. Unset if never resumed from pause.",
          "readOnly": true
        },
        "nextRunTime": {
          "description": "Output only. Timestamp when this Schedule should schedule the next run. Having a next_run_time in the past means the runs are being started behind schedule.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "startedRunCount": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The number of runs started by this schedule.",
          "format": "int64"
        },
        "lastScheduledRunResponse": {
          "readOnly": true,
          "description": "Output only. Response of the last scheduled run. This is the response for starting the scheduled requests and not the execution of the operations/jobs created by the requests (if applicable). Unset if no run has been scheduled yet.",
          "$ref": "GoogleCloudAiplatformV1beta1ScheduleRunResponse"
        },
        "catchUp": {
          "description": "Output only. Whether to backfill missed runs when the schedule is resumed from PAUSED state. If set to true, all missed runs will be scheduled. New runs will be scheduled after the backfill is complete. Default to false.",
          "readOnly": true,
          "type": "boolean"
        },
        "cron": {
          "description": "Cron schedule (https://en.wikipedia.org/wiki/Cron) to launch scheduled runs. To explicitly set a timezone to the cron tab, apply a prefix in the cron tab: \"CRON_TZ=${IANA_TIME_ZONE}\" or \"TZ=${IANA_TIME_ZONE}\". The ${IANA_TIME_ZONE} may only be a valid string from IANA time zone database. For example, \"CRON_TZ=America/New_York 1 * * * *\", or \"TZ=America/New_York 1 * * * *\".",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. User provided name of the Schedule. The name can be up to 128 characters long and can consist of any UTF-8 characters."
        }
      },
      "type": "object",
      "description": "An instance of a Schedule periodically schedules runs to make API calls based on user specified time specification and API request type."
    },
    "GoogleCloudAiplatformV1beta1CancelBatchPredictionJobRequest": {
      "id": "GoogleCloudAiplatformV1beta1CancelBatchPredictionJobRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for JobService.CancelBatchPredictionJob."
    },
    "GoogleCloudAiplatformV1beta1UndeployIndexRequest": {
      "description": "Request message for IndexEndpointService.UndeployIndex.",
      "properties": {
        "deployedIndexId": {
          "description": "Required. The ID of the DeployedIndex to be undeployed from the IndexEndpoint.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1UndeployIndexRequest"
    },
    "GoogleCloudAiplatformV1beta1FindNeighborsRequestQuery": {
      "id": "GoogleCloudAiplatformV1beta1FindNeighborsRequestQuery",
      "type": "object",
      "properties": {
        "neighborCount": {
          "type": "integer",
          "description": "The number of nearest neighbors to be retrieved from database for each query. If not set, will use the default from the service configuration (https://cloud.google.com/vertex-ai/docs/matching-engine/configuring-indexes#nearest-neighbor-search-config).",
          "format": "int32"
        },
        "perCrowdingAttributeNeighborCount": {
          "type": "integer",
          "description": "Crowding is a constraint on a neighbor list produced by nearest neighbor search requiring that no more than some value k' of the k neighbors returned have the same value of crowding_attribute. It's used for improving result diversity. This field is the maximum number of matches with the same crowding tag.",
          "format": "int32"
        },
        "approximateNeighborCount": {
          "type": "integer",
          "description": "The number of neighbors to find via approximate search before exact reordering is performed. If not set, the default value from scam config is used; if set, this value must be \u003e 0.",
          "format": "int32"
        },
        "datapoint": {
          "$ref": "GoogleCloudAiplatformV1beta1IndexDatapoint",
          "description": "Required. The datapoint/vector whose nearest neighbors should be searched for."
        },
        "fractionLeafNodesToSearchOverride": {
          "format": "double",
          "description": "The fraction of the number of leaves to search, set at query time allows user to tune search performance. This value increase result in both search accuracy and latency increase. The value should be between 0.0 and 1.0. If not set or set to 0.0, query uses the default value specified in NearestNeighborSearchConfig.TreeAHConfig.fraction_leaf_nodes_to_search.",
          "type": "number"
        }
      },
      "description": "A query to find a number of the nearest neighbors (most similar vectors) of a vector."
    },
    "GoogleCloudAiplatformV1beta1FetchFeatureValuesResponse": {
      "properties": {
        "protoStruct": {
          "description": "Feature values in proto Struct format.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "keyValues": {
          "description": "Feature values in KeyValue format.",
          "$ref": "GoogleCloudAiplatformV1beta1FetchFeatureValuesResponseFeatureNameValuePairList"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1FetchFeatureValuesResponse",
      "type": "object",
      "description": "Response message for FeatureOnlineStoreService.FetchFeatureValues"
    },
    "GoogleCloudAiplatformV1beta1DataItemView": {
      "description": "A container for a single DataItem and Annotations on it.",
      "properties": {
        "annotations": {
          "type": "array",
          "description": "The Annotations on the DataItem. If too many Annotations should be returned for the DataItem, this field will be truncated per annotations_limit in request. If it was, then the has_truncated_annotations will be set to true.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1Annotation"
          }
        },
        "dataItem": {
          "description": "The DataItem.",
          "$ref": "GoogleCloudAiplatformV1beta1DataItem"
        },
        "hasTruncatedAnnotations": {
          "type": "boolean",
          "description": "True if and only if the Annotations field has been truncated. It happens if more Annotations for this DataItem met the request's annotation_filter than are allowed to be returned by annotations_limit. Note that if Annotations field is not being returned due to field mask, then this field will not be set to true no matter how many Annotations are there."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1DataItemView"
    },
    "GoogleCloudAiplatformV1beta1TimestampSplit": {
      "id": "GoogleCloudAiplatformV1beta1TimestampSplit",
      "properties": {
        "key": {
          "description": "Required. The key is a name of one of the Dataset's data columns. The values of the key (the values in the column) must be in RFC 3339 `date-time` format, where `time-offset` = `\"Z\"` (e.g. 1985-04-12T23:20:50.52Z). If for a piece of data the key is not present or has an invalid value, that piece is ignored by the pipeline.",
          "type": "string"
        },
        "trainingFraction": {
          "type": "number",
          "format": "double",
          "description": "The fraction of the input data that is to be used to train the Model."
        },
        "validationFraction": {
          "format": "double",
          "description": "The fraction of the input data that is to be used to validate the Model.",
          "type": "number"
        },
        "testFraction": {
          "description": "The fraction of the input data that is to be used to evaluate the Model.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object",
      "description": "Assigns input data to training, validation, and test sets based on a provided timestamps. The youngest data pieces are assigned to training set, next to validation set, and the oldest to the test set. Supported only for tabular Datasets."
    },
    "GoogleCloudAiplatformV1beta1ReadIndexDatapointsRequest": {
      "id": "GoogleCloudAiplatformV1beta1ReadIndexDatapointsRequest",
      "type": "object",
      "properties": {
        "deployedIndexId": {
          "type": "string",
          "description": "The ID of the DeployedIndex that will serve the request."
        },
        "ids": {
          "items": {
            "type": "string"
          },
          "description": "IDs of the datapoints to be searched for.",
          "type": "array"
        }
      },
      "description": "The request message for MatchService.ReadIndexDatapoints."
    },
    "GoogleCloudAiplatformV1beta1ResourceRuntime": {
      "description": "Persistent Cluster runtime information as output",
      "properties": {
        "notebookRuntimeTemplate": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of NotebookRuntimeTemplate for the RoV Persistent Cluster The NotebokRuntimeTemplate is created in the same VPC (if set), and with the same Ray and Python version as the Persistent Cluster. Example: \"projects/1000/locations/us-central1/notebookRuntimeTemplates/abc123\""
        },
        "accessUris": {
          "type": "object",
          "readOnly": true,
          "description": "Output only. URIs for user to connect to the Cluster. Example: { \"RAY_HEAD_NODE_INTERNAL_IP\": \"head-node-IP:10001\" \"RAY_DASHBOARD_URI\": \"ray-dashboard-address:8888\" }",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1ResourceRuntime"
    },
    "GoogleCloudAiplatformV1beta1ModelDeploymentMonitoringBigQueryTable": {
      "type": "object",
      "description": "ModelDeploymentMonitoringBigQueryTable specifies the BigQuery table name as well as some information of the logs stored in this table.",
      "properties": {
        "logSource": {
          "description": "The source of log.",
          "enum": [
            "LOG_SOURCE_UNSPECIFIED",
            "TRAINING",
            "SERVING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified source.",
            "Logs coming from Training dataset.",
            "Logs coming from Serving traffic."
          ]
        },
        "logType": {
          "description": "The type of log.",
          "enumDescriptions": [
            "Unspecified type.",
            "Predict logs.",
            "Explain logs."
          ],
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "PREDICT",
            "EXPLAIN"
          ]
        },
        "bigqueryTablePath": {
          "description": "The created BigQuery table to store logs. Customer could do their own query & analysis. Format: `bq://.model_deployment_monitoring_._`",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1ModelDeploymentMonitoringBigQueryTable"
    },
    "GoogleCloudAiplatformV1beta1SchemaPredictParamsImageSegmentationPredictionParams": {
      "properties": {
        "confidenceThreshold": {
          "format": "float",
[...]
