{
  "canonicalName": "Aiplatform",
  "servicePath": "",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "endpoints": [
    {
      "location": "asia-east1",
      "endpointUrl": "https://asia-east1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "asia-east2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-east2-aiplatform.googleapis.com/"
    },
    {
      "location": "asia-northeast1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-northeast1-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://asia-northeast2-aiplatform.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-northeast3-aiplatform.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Locational Endpoint"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://asia-south1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-southeast1-aiplatform.googleapis.com/",
      "location": "asia-southeast1"
    },
    {
      "location": "asia-southeast2",
      "endpointUrl": "https://asia-southeast2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://australia-southeast1-aiplatform.googleapis.com/",
      "location": "australia-southeast1"
    },
    {
      "endpointUrl": "https://australia-southeast2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "australia-southeast2"
    },
    {
      "endpointUrl": "https://europe-central2-aiplatform.googleapis.com/",
      "location": "europe-central2",
      "description": "Locational Endpoint"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://europe-north1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "europe-southwest1",
      "endpointUrl": "https://europe-southwest1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "europe-west1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west1-aiplatform.googleapis.com/"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://europe-west2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west3-aiplatform.googleapis.com/",
      "location": "europe-west3"
    },
    {
      "endpointUrl": "https://europe-west4-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-west4"
    },
    {
      "location": "europe-west6",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west6-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://europe-west8-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-west8"
    },
    {
      "endpointUrl": "https://europe-west9-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-west9"
    },
    {
      "location": "me-west1",
      "endpointUrl": "https://me-west1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "location": "northamerica-northeast1",
      "endpointUrl": "https://northamerica-northeast1-aiplatform.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "location": "northamerica-northeast2",
      "endpointUrl": "https://northamerica-northeast2-aiplatform.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://southamerica-east1-aiplatform.googleapis.com/",
      "location": "southamerica-east1"
    },
    {
      "location": "southamerica-west1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://southamerica-west1-aiplatform.googleapis.com/"
    },
    {
      "location": "us-central1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-central1-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://us-central2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "us-central2"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://us-east1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "us-east4",
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-east4-aiplatform.googleapis.com/"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://us-south1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://us-west1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-west2-aiplatform.googleapis.com/",
      "location": "us-west2",
      "description": "Locational Endpoint"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://us-west3-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "location": "us-west4",
      "endpointUrl": "https://us-west4-aiplatform.googleapis.com/"
    }
  ],
  "rootUrl": "https://aiplatform.googleapis.com/",
  "mtlsRootUrl": "https://aiplatform.mtls.googleapis.com/",
  "baseUrl": "https://aiplatform.googleapis.com/",
  "description": "Train high-quality custom machine learning models with minimal machine learning expertise and effort.",
  "basePath": "",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    }
  },
  "title": "Vertex AI API",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "ownerName": "Google",
  "batchPath": "batch",
  "id": "aiplatform:v1",
  "schemas": {
    "GoogleCloudAiplatformV1StudySpecParameterSpecConditionalParameterSpecDiscreteValueCondition": {
      "description": "Represents the spec to match discrete values from parent parameter.",
      "type": "object",
      "properties": {
        "values": {
          "items": {
            "type": "number",
            "format": "double"
          },
          "type": "array",
          "description": "Required. Matches values of the parent parameter of 'DISCRETE' type. All values must exist in `discrete_value_spec` of parent parameter. The Epsilon of the value matching is 1e-10."
        }
      },
      "id": "GoogleCloudAiplatformV1StudySpecParameterSpecConditionalParameterSpecDiscreteValueCondition"
    },
    "GoogleCloudAiplatformV1AddContextChildrenResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudAiplatformV1AddContextChildrenResponse",
      "description": "Response message for MetadataService.AddContextChildren."
    },
    "GoogleCloudAiplatformV1CheckTrialEarlyStoppingStateRequest": {
      "description": "Request message for VizierService.CheckTrialEarlyStoppingState.",
      "id": "GoogleCloudAiplatformV1CheckTrialEarlyStoppingStateRequest",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudAiplatformV1Execution": {
      "description": "Instance of a general execution.",
      "id": "GoogleCloudAiplatformV1Execution",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when this Execution was created."
        },
        "displayName": {
          "description": "User provided display name of the Execution. May be up to 128 Unicode characters.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Timestamp when this Execution was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "etag": {
          "description": "An eTag used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels with user-defined metadata to organize your Executions. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. No more than 64 user labels can be associated with one Execution (System labels are excluded).",
          "type": "object"
        },
        "description": {
          "type": "string",
          "description": "Description of the Execution"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the Execution.",
          "type": "string"
        },
        "metadata": {
          "description": "Properties of the Execution. Top level metadata keys' heading and trailing spaces will be trimmed. The size of this field should not exceed 200KB.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "schemaVersion": {
          "type": "string",
          "description": "The version of the schema in `schema_title` to use. Schema title and version is expected to be registered in earlier Create Schema calls. And both are used together as unique identifiers to identify schemas within the local metadata store."
        },
        "schemaTitle": {
          "type": "string",
          "description": "The title of the schema describing the metadata. Schema title and version is expected to be registered in earlier Create Schema calls. And both are used together as unique identifiers to identify schemas within the local metadata store."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified Execution state",
            "The Execution is new",
            "The Execution is running",
            "The Execution has finished running",
            "The Execution has failed",
            "The Execution completed through Cache hit.",
            "The Execution was cancelled."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "RUNNING",
            "COMPLETE",
            "FAILED",
            "CACHED",
            "CANCELLED"
          ],
          "description": "The state of this Execution. This is a property of the Execution, and does not imply or capture any ongoing process. This property is managed by clients (such as Vertex AI Pipelines) and the system does not prescribe or check the validity of state transitions.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaPredictPredictionTftFeatureImportance": {
      "type": "object",
      "properties": {
        "contextColumns": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "attributeWeights": {
          "type": "array",
          "items": {
            "format": "float",
            "type": "number"
          }
        },
        "horizonWeights": {
          "items": {
            "format": "float",
            "type": "number"
          },
          "type": "array"
        },
        "horizonColumns": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "contextWeights": {
          "description": "TFT feature importance values. Each pair for {context/horizon/attribute} should have the same shape since the weight corresponds to the column names.",
          "items": {
            "format": "float",
            "type": "number"
          },
          "type": "array"
        },
        "attributeColumns": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaPredictPredictionTftFeatureImportance"
    },
    "GoogleCloudAiplatformV1MigrateResourceRequestMigrateMlEngineModelVersionConfig": {
      "description": "Config for migrating version in ml.googleapis.com to Vertex AI's Model.",
      "id": "GoogleCloudAiplatformV1MigrateResourceRequestMigrateMlEngineModelVersionConfig",
      "properties": {
        "endpoint": {
          "type": "string",
          "description": "Required. The ml.googleapis.com endpoint that this model version should be migrated from. Example values: * ml.googleapis.com * us-centrall-ml.googleapis.com * europe-west4-ml.googleapis.com * asia-east1-ml.googleapis.com"
        },
        "modelDisplayName": {
          "description": "Required. Display name of the model in Vertex AI. System will pick a display name if unspecified.",
          "type": "string"
        },
        "modelVersion": {
          "type": "string",
          "description": "Required. Full resource name of ml engine model version. Format: `projects/{project}/models/{model}/versions/{version}`."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaVideoObjectTrackingAnnotation": {
      "id": "GoogleCloudAiplatformV1SchemaVideoObjectTrackingAnnotation",
      "properties": {
        "xMin": {
          "format": "double",
          "type": "number",
          "description": "The leftmost coordinate of the bounding box."
        },
        "displayName": {
          "description": "The display name of the AnnotationSpec that this Annotation pertains to.",
          "type": "string"
        },
        "timeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "A time (frame) of a video to which this annotation pertains. Represented as the duration since the video's start."
        },
        "yMax": {
          "format": "double",
          "type": "number",
          "description": "The bottommost coordinate of the bounding box."
        },
        "xMax": {
          "description": "The rightmost coordinate of the bounding box.",
          "format": "double",
          "type": "number"
        },
        "instanceId": {
          "description": "The instance of the object, expressed as a positive integer. Used to track the same object across different frames.",
          "type": "string",
          "format": "int64"
        },
        "annotationSpecId": {
          "description": "The resource Id of the AnnotationSpec that this Annotation pertains to.",
          "type": "string"
        },
        "yMin": {
          "format": "double",
          "description": "The topmost coordinate of the bounding box.",
          "type": "number"
        }
      },
      "description": "Annotation details specific to video object tracking.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1DeleteOperationMetadata": {
      "description": "Details of operations that perform deletes of any entities.",
      "properties": {
        "genericMetadata": {
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata",
          "description": "The common part of the operation metadata."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1DeleteOperationMetadata"
    },
    "GoogleCloudAiplatformV1CopyModelResponse": {
      "id": "GoogleCloudAiplatformV1CopyModelResponse",
      "properties": {
        "modelVersionId": {
          "type": "string",
          "description": "Output only. The version ID of the model that is copied.",
          "readOnly": true
        },
        "model": {
          "type": "string",
          "description": "The name of the copied Model resource. Format: `projects/{project}/locations/{location}/models/{model}`"
        }
      },
      "description": "Response message of ModelService.CopyModel operation.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1NetworkSpec": {
      "description": "Network spec.",
      "type": "object",
      "properties": {
        "enableInternetAccess": {
          "type": "boolean",
          "description": "Whether to enable public internet access. Default false."
        },
        "subnetwork": {
          "type": "string",
          "description": "The name of the subnet that this instance is in. Format: `projects/{project_id_or_number}/regions/{region}/subnetworks/{subnetwork_id}`"
        },
        "network": {
          "description": "The full name of the Google Compute Engine [network](https://cloud.google.com//compute/docs/networks-and-firewalls#networks)",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1NetworkSpec"
    },
    "GoogleCloudAiplatformV1AssignNotebookRuntimeOperationMetadata": {
      "type": "object",
      "description": "Metadata information for NotebookService.AssignNotebookRuntime.",
      "id": "GoogleCloudAiplatformV1AssignNotebookRuntimeOperationMetadata",
      "properties": {
        "genericMetadata": {
          "description": "The operation generic information.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        },
        "progressMessage": {
          "type": "string",
          "description": "A human-readable message that shows the intermediate progress details of NotebookRuntime."
        }
      }
    },
    "GoogleCloudAiplatformV1UpgradeNotebookRuntimeOperationMetadata": {
      "description": "Metadata information for NotebookService.UpgradeNotebookRuntime.",
      "id": "GoogleCloudAiplatformV1UpgradeNotebookRuntimeOperationMetadata",
      "properties": {
        "genericMetadata": {
          "description": "The operation generic information.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        },
        "progressMessage": {
          "description": "A human-readable message that shows the intermediate progress details of NotebookRuntime.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaModelevaluationMetricsRegressionEvaluationMetrics": {
      "description": "Metrics for regression evaluation results.",
      "type": "object",
      "properties": {
        "rootMeanSquaredError": {
          "type": "number",
          "description": "Root Mean Squared Error (RMSE).",
          "format": "float"
        },
        "meanAbsolutePercentageError": {
          "description": "Mean absolute percentage error. Infinity when there are zeros in the ground truth.",
          "type": "number",
          "format": "float"
        },
        "meanAbsoluteError": {
          "format": "float",
          "type": "number",
          "description": "Mean Absolute Error (MAE)."
        },
        "rSquared": {
          "type": "number",
          "description": "Coefficient of determination as Pearson correlation coefficient. Undefined when ground truth or predictions are constant or near constant.",
          "format": "float"
        },
        "rootMeanSquaredLogError": {
          "format": "float",
          "type": "number",
          "description": "Root mean squared log error. Undefined when there are negative ground truth values or predictions."
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsRegressionEvaluationMetrics"
    },
    "GoogleCloudAiplatformV1FunctionDeclaration": {
      "properties": {
        "parameters": {
          "description": "Optional. Describes the parameters to this function in JSON Schema Object format. Reflects the Open API 3.03 Parameter Object. string Key: the name of the parameter. Parameter names are case sensitive. Schema Value: the Schema defining the type used for the parameter. For function with no parameters, this can be left unset. Example with 1 required and 1 optional parameter: type: OBJECT properties: param1: type: STRING param2: type: INTEGER required: - param1",
          "$ref": "GoogleCloudAiplatformV1Schema"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the function to call. Must start with a letter or an underscore. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 64."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description and purpose of the function. Model uses it to decide how and whether to call the function."
        }
      },
      "id": "GoogleCloudAiplatformV1FunctionDeclaration",
      "type": "object",
      "description": "Structured representation of a function declaration as defined by the [OpenAPI 3.0 specification](https://spec.openapis.org/oas/v3.0.3). Included in this declaration are the function name and parameters. This FunctionDeclaration is a representation of a block of code that can be used as a `Tool` by the model and executed by the client."
    },
    "GoogleCloudAiplatformV1CreateSpecialistPoolOperationMetadata": {
      "properties": {
        "genericMetadata": {
          "description": "The operation generic information.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1CreateSpecialistPoolOperationMetadata",
      "description": "Runtime operation information for SpecialistPoolService.CreateSpecialistPool."
    },
    "GoogleCloudAiplatformV1NotebookIdleShutdownConfig": {
      "description": "The idle shutdown configuration of NotebookRuntimeTemplate, which contains the idle_timeout as required field.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1NotebookIdleShutdownConfig",
      "properties": {
        "idleTimeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Required. Duration is accurate to the second. In Notebook, Idle Timeout is accurate to minute so the range of idle_timeout (second) is: 10 * 60 ~ 1440 * 60."
        },
        "idleShutdownDisabled": {
          "type": "boolean",
          "description": "Whether Idle Shutdown is disabled in this NotebookRuntimeTemplate."
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionTftForecasting": {
      "type": "object",
      "properties": {
        "inputs": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionTftForecastingInputs",
          "description": "The input parameters of this TrainingJob."
        },
        "metadata": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionTftForecastingMetadata",
          "description": "The metadata information."
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionTftForecasting",
      "description": "A TrainingJob that trains and uploads an AutoML Forecasting Model."
    },
    "GoogleCloudAiplatformV1SchemaTimeSegment": {
      "type": "object",
      "description": "A time period inside of a DataItem that has a time dimension (e.g. video).",
      "id": "GoogleCloudAiplatformV1SchemaTimeSegment",
      "properties": {
        "startTimeOffset": {
          "type": "string",
          "description": "Start of the time segment (inclusive), represented as the duration since the start of the DataItem.",
          "format": "google-duration"
        },
        "endTimeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "End of the time segment (exclusive), represented as the duration since the start of the DataItem."
        }
      }
    },
    "GoogleCloudAiplatformV1MutateDeployedModelOperationMetadata": {
      "description": "Runtime operation information for EndpointService.MutateDeployedModel.",
      "id": "GoogleCloudAiplatformV1MutateDeployedModelOperationMetadata",
      "properties": {
        "genericMetadata": {
          "description": "The operation generic information.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1FeaturestoreMonitoringConfigImportFeaturesAnalysis": {
      "properties": {
        "anomalyDetectionBaseline": {
          "type": "string",
          "enumDescriptions": [
            "Should not be used.",
            "Choose the later one statistics generated by either most recent snapshot analysis or previous import features analysis. If non of them exists, skip anomaly detection and only generate a statistics.",
            "Use the statistics generated by the most recent snapshot analysis if exists.",
            "Use the statistics generated by the previous import features analysis if exists."
          ],
          "enum": [
            "BASELINE_UNSPECIFIED",
            "LATEST_STATS",
            "MOST_RECENT_SNAPSHOT_STATS",
            "PREVIOUS_IMPORT_FEATURES_STATS"
          ],
          "description": "The baseline used to do anomaly detection for the statistics generated by import features analysis."
        },
        "state": {
          "description": "Whether to enable / disable / inherite default hebavior for import features analysis.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "DEFAULT",
            "ENABLED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "Should not be used.",
            "The default behavior of whether to enable the monitoring. EntityType-level config: disabled. Feature-level config: inherited from the configuration of EntityType this Feature belongs to.",
            "Explicitly enables import features analysis. EntityType-level config: by default enables import features analysis for all Features under it. Feature-level config: enables import features analysis regardless of the EntityType-level config.",
            "Explicitly disables import features analysis. EntityType-level config: by default disables import features analysis for all Features under it. Feature-level config: disables import features analysis regardless of the EntityType-level config."
          ]
        }
      },
      "id": "GoogleCloudAiplatformV1FeaturestoreMonitoringConfigImportFeaturesAnalysis",
      "description": "Configuration of the Featurestore's ImportFeature Analysis Based Monitoring. This type of analysis generates statistics for values of each Feature imported by every ImportFeatureValues operation.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1DeployedIndexAuthConfig": {
      "type": "object",
      "properties": {
        "authProvider": {
          "description": "Defines the authentication provider that the DeployedIndex uses.",
          "$ref": "GoogleCloudAiplatformV1DeployedIndexAuthConfigAuthProvider"
        }
      },
      "description": "Used to set up the auth on the DeployedIndex's private endpoint.",
      "id": "GoogleCloudAiplatformV1DeployedIndexAuthConfig"
    },
    "GoogleCloudAiplatformV1FunctionResponse": {
      "id": "GoogleCloudAiplatformV1FunctionResponse",
      "properties": {
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Required. The function response in JSON object format.",
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the function to call. Matches [FunctionDeclaration.name] and [FunctionCall.name]."
        }
      },
      "type": "object",
      "description": "The result output from a [FunctionCall] that contains a string representing the [FunctionDeclaration.name] and a structured JSON object containing any output from the function is used as context to the model. This should contain the result of a [FunctionCall] made based on model prediction."
    },
    "GoogleCloudAiplatformV1SchemaTimeSeriesDatasetMetadataGcsSource": {
      "properties": {
        "uri": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Cloud Storage URI of one or more files. Only CSV files are supported. The first line of the CSV file is used as the header. If there are multiple files, the header is the first line of the lexicographically first file, the other files must either contain the exact same header or omit the header."
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaTimeSeriesDatasetMetadataGcsSource",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ExplainResponse": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1ExplainResponse",
      "description": "Response message for PredictionService.Explain.",
      "properties": {
        "explanations": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1Explanation"
          },
          "description": "The explanations of the Model's PredictResponse.predictions. It has the same number of elements as instances to be explained.",
          "type": "array"
        },
        "predictions": {
          "type": "array",
          "items": {
            "type": "any"
          },
          "description": "The predictions that are the output of the predictions call. Same as PredictResponse.predictions."
        },
        "deployedModelId": {
          "description": "ID of the Endpoint's DeployedModel that served this explanation.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1StudySpecParameterSpecConditionalParameterSpecCategoricalValueCondition": {
      "type": "object",
      "description": "Represents the spec to match categorical values from parent parameter.",
      "id": "GoogleCloudAiplatformV1StudySpecParameterSpecConditionalParameterSpecCategoricalValueCondition",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "description": "Required. Matches values of the parent parameter of 'CATEGORICAL' type. All values must exist in `categorical_value_spec` of parent parameter.",
          "type": "array"
        }
      }
    },
    "GoogleCloudAiplatformV1RemoveContextChildrenRequest": {
      "description": "Request message for MetadataService.DeleteContextChildrenRequest.",
      "id": "GoogleCloudAiplatformV1RemoveContextChildrenRequest",
      "type": "object",
      "properties": {
        "childContexts": {
          "type": "array",
          "description": "The resource names of the child Contexts.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1ImportFeatureValuesResponse": {
      "description": "Response message for FeaturestoreService.ImportFeatureValues.",
      "id": "GoogleCloudAiplatformV1ImportFeatureValuesResponse",
      "properties": {
        "timestampOutsideRetentionRowsCount": {
          "type": "string",
          "format": "int64",
          "description": "The number rows that weren't ingested due to having feature timestamps outside the retention boundary."
        },
        "invalidRowCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of rows in input source that weren't imported due to either * Not having any featureValues. * Having a null entityId. * Having a null timestamp. * Not being parsable (applicable for CSV sources)."
        },
        "importedFeatureValueCount": {
          "description": "Number of Feature values that have been imported by the operation.",
          "format": "int64",
          "type": "string"
        },
        "importedEntityCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of entities that have been imported by the operation."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1ListTrialsResponse": {
      "description": "Response message for VizierService.ListTrials.",
      "id": "GoogleCloudAiplatformV1ListTrialsResponse",
      "type": "object",
      "properties": {
        "trials": {
          "description": "The Trials associated with the Study.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Trial"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Pass this token as the `page_token` field of the request for a subsequent call. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1ExplanationSpec": {
      "type": "object",
      "description": "Specification of Model explanation.",
      "properties": {
        "parameters": {
          "$ref": "GoogleCloudAiplatformV1ExplanationParameters",
          "description": "Required. Parameters that configure explaining of the Model's predictions."
        },
        "metadata": {
          "$ref": "GoogleCloudAiplatformV1ExplanationMetadata",
          "description": "Optional. Metadata describing the Model's input and output for explanation."
        }
      },
      "id": "GoogleCloudAiplatformV1ExplanationSpec"
    },
    "GoogleCloudAiplatformV1ModelDeploymentMonitoringJobLatestMonitoringPipelineMetadata": {
      "id": "GoogleCloudAiplatformV1ModelDeploymentMonitoringJobLatestMonitoringPipelineMetadata",
      "properties": {
        "runTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time that most recent monitoring pipelines that is related to this run."
        },
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The status of the most recent monitoring pipeline."
        }
      },
      "description": "All metadata of most recent monitoring pipelines.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1AssignNotebookRuntimeRequest": {
      "properties": {
        "notebookRuntimeTemplate": {
          "description": "Required. The resource name of the NotebookRuntimeTemplate based on which a NotebookRuntime will be assigned (reuse or create a new one).",
          "type": "string"
        },
        "notebookRuntimeId": {
          "type": "string",
          "description": "Optional. User specified ID for the notebook runtime."
        },
        "notebookRuntime": {
          "$ref": "GoogleCloudAiplatformV1NotebookRuntime",
          "description": "Required. Provide runtime specific information (e.g. runtime owner, notebook id) used for NotebookRuntime assignment."
        }
      },
      "id": "GoogleCloudAiplatformV1AssignNotebookRuntimeRequest",
      "description": "Request message for NotebookService.AssignNotebookRuntime.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ListSchedulesResponse": {
      "id": "GoogleCloudAiplatformV1ListSchedulesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListSchedulesRequest.page_token to obtain that page.",
          "type": "string"
        },
        "schedules": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1Schedule"
          },
          "description": "List of Schedules in the requested page.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for ScheduleService.ListSchedules"
    },
    "GoogleCloudAiplatformV1TimestampSplit": {
      "type": "object",
      "properties": {
        "testFraction": {
          "type": "number",
          "format": "double",
          "description": "The fraction of the input data that is to be used to evaluate the Model."
        },
        "key": {
          "type": "string",
          "description": "Required. The key is a name of one of the Dataset's data columns. The values of the key (the values in the column) must be in RFC 3339 `date-time` format, where `time-offset` = `\"Z\"` (e.g. 1985-04-12T23:20:50.52Z). If for a piece of data the key is not present or has an invalid value, that piece is ignored by the pipeline."
        },
        "validationFraction": {
          "description": "The fraction of the input data that is to be used to validate the Model.",
          "format": "double",
          "type": "number"
        },
        "trainingFraction": {
          "format": "double",
          "description": "The fraction of the input data that is to be used to train the Model.",
          "type": "number"
        }
      },
      "description": "Assigns input data to training, validation, and test sets based on a provided timestamps. The youngest data pieces are assigned to training set, next to validation set, and the oldest to the test set. Supported only for tabular Datasets.",
      "id": "GoogleCloudAiplatformV1TimestampSplit"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionSeq2SeqPlusForecastingInputsTransformationTextTransformation": {
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionSeq2SeqPlusForecastingInputsTransformationTextTransformation",
      "description": "Training pipeline will perform following transformation functions. * The text as is--no change to case, punctuation, spelling, tense, and so on. * Convert the category name to a dictionary lookup index and generate an embedding for each index.",
      "type": "object",
      "properties": {
        "columnName": {
          "type": "string"
        }
      }
    },
    "IntelligenceCloudAutomlXpsMetricEntryLabel": {
      "type": "object",
      "properties": {
        "labelName": {
          "type": "string",
          "description": "The name of the label."
        },
        "labelValue": {
          "type": "string",
          "description": "The value of the label."
        }
      },
      "id": "IntelligenceCloudAutomlXpsMetricEntryLabel"
    },
    "GoogleCloudAiplatformV1FeatureViewFeatureRegistrySourceFeatureGroup": {
      "properties": {
        "featureGroupId": {
          "type": "string",
          "description": "Required. Identifier of the feature group."
        },
        "featureIds": {
          "type": "array",
          "description": "Required. Identifiers of features under the feature group.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudAiplatformV1FeatureViewFeatureRegistrySourceFeatureGroup",
      "type": "object",
      "description": "Features belonging to a single feature group that will be synced to Online Store."
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionHierarchyConfig": {
      "description": "Configuration that defines the hierarchical relationship of time series and parameters for hierarchical forecasting strategies.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionHierarchyConfig",
      "properties": {
        "groupTemporalTotalWeight": {
          "format": "double",
          "description": "The weight of the loss for predictions aggregated over both the horizon and time series in the same hierarchy group.",
          "type": "number"
        },
        "groupColumns": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of time series attribute column names that define the time series hierarchy. Only one level of hierarchy is supported, ex. 'region' for a hierarchy of stores or 'department' for a hierarchy of products. If multiple columns are specified, time series will be grouped by their combined values, ex. ('blue', 'large') for 'color' and 'size', up to 5 columns are accepted. If no group columns are specified, all time series are considered to be part of the same group."
        },
        "temporalTotalWeight": {
          "format": "double",
          "description": "The weight of the loss for predictions aggregated over the horizon for a single time series.",
          "type": "number"
        },
        "groupTotalWeight": {
          "format": "double",
          "type": "number",
          "description": "The weight of the loss for predictions aggregated over time series in the same group."
        }
      }
    },
    "GoogleCloudAiplatformV1ListNasTrialDetailsResponse": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1ListNasTrialDetailsResponse",
      "description": "Response message for JobService.ListNasTrialDetails",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListNasTrialDetailsRequest.page_token to obtain that page.",
          "type": "string"
        },
        "nasTrialDetails": {
          "type": "array",
          "description": "List of top NasTrials in the requested page.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1NasTrialDetail"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1WriteFeatureValuesPayload": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1WriteFeatureValuesPayload",
      "properties": {
        "featureValues": {
          "type": "object",
          "description": "Required. Feature values to be written, mapping from Feature ID to value. Up to 100,000 `feature_values` entries may be written across all payloads. The feature generation time, aligned by days, must be no older than five years (1825 days) and no later than one year (366 days) in the future.",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1FeatureValue"
          }
        },
        "entityId": {
          "type": "string",
          "description": "Required. The ID of the entity."
        }
      },
      "description": "Contains Feature values to be written for a specific entity."
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionWindowConfig": {
      "description": "Config that contains the strategy used to generate sliding windows in time series training. A window is a series of rows that comprise the context up to the time of prediction, and the horizon following. The corresponding row for each window marks the start of the forecast horizon. Each window is used as an input example for training/evaluation.",
      "properties": {
        "maxCount": {
          "format": "int64",
          "description": "Maximum number of windows that should be generated across all time series.",
          "type": "string"
        },
        "strideLength": {
          "type": "string",
          "description": "Stride length used to generate input examples. Within one time series, every {$STRIDE_LENGTH} rows will be used to generate a sliding window.",
          "format": "int64"
        },
        "column": {
          "description": "Name of the column that should be used to generate sliding windows. The column should contain either booleans or string booleans; if the value of the row is True, generate a sliding window with the horizon starting at that row. The column will not be used as a feature in training.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionWindowConfig",
      "type": "object"
    },
    "GoogleCloudAiplatformV1Scalar": {
      "id": "GoogleCloudAiplatformV1Scalar",
      "properties": {
        "value": {
          "type": "number",
          "description": "Value of the point at this step / timestamp.",
          "format": "double"
        }
      },
      "type": "object",
      "description": "One point viewable on a scalar metric plot."
    },
    "GoogleIamV1Binding": {
      "type": "object",
      "properties": {
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        },
        "condition": {
          "$ref": "GoogleTypeExpr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "id": "GoogleIamV1Binding",
      "description": "Associates `members`, or principals, with a `role`."
    },
    "GoogleCloudAiplatformV1UpdateModelDeploymentMonitoringJobOperationMetadata": {
      "type": "object",
      "description": "Runtime operation information for JobService.UpdateModelDeploymentMonitoringJob.",
      "id": "GoogleCloudAiplatformV1UpdateModelDeploymentMonitoringJobOperationMetadata",
      "properties": {
        "genericMetadata": {
          "description": "The operation generic information.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        }
      }
    },
    "GoogleCloudAiplatformV1ReadTensorboardUsageResponsePerMonthUsageData": {
      "properties": {
        "userUsageData": {
          "description": "Usage data for each user in the given month.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1ReadTensorboardUsageResponsePerUserUsageData"
          }
        }
      },
      "type": "object",
      "description": "Per month usage data",
      "id": "GoogleCloudAiplatformV1ReadTensorboardUsageResponsePerMonthUsageData"
    },
    "GoogleCloudAiplatformV1ExplanationMetadata": {
      "type": "object",
      "properties": {
        "featureAttributionsSchemaUri": {
          "description": "Points to a YAML file stored on Google Cloud Storage describing the format of the feature attributions. The schema is defined as an OpenAPI 3.0.2 [Schema Object](https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.0.2.md#schemaObject). AutoML tabular Models always have this field populated by Vertex AI. Note: The URI given on output may be different, including the URI scheme, than the one given on input. The output URI will point to a location where the user only has a read access.",
          "type": "string"
        },
        "outputs": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1ExplanationMetadataOutputMetadata"
          },
          "description": "Required. Map from output names to output metadata. For Vertex AI-provided Tensorflow images, keys can be any user defined string that consists of any UTF-8 characters. For custom images, keys are the name of the output field in the prediction to be explained. Currently only one key is allowed."
        },
        "latentSpaceSource": {
          "description": "Name of the source to generate embeddings for example based explanations.",
          "type": "string"
        },
        "inputs": {
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1ExplanationMetadataInputMetadata"
          },
          "description": "Required. Map from feature names to feature input metadata. Keys are the name of the features. Values are the specification of the feature. An empty InputMetadata is valid. It describes a text feature which has the name specified as the key in ExplanationMetadata.inputs. The baseline of the empty feature is chosen by Vertex AI. For Vertex AI-provided Tensorflow images, the key can be any friendly name of the feature. Once specified, featureAttributions are keyed by this key (if not grouped with another feature). For custom images, the key must match with the key in instance.",
          "type": "object"
        }
      },
      "description": "Metadata describing the Model's input and output for explanation.",
      "id": "GoogleCloudAiplatformV1ExplanationMetadata"
    },
    "GoogleCloudAiplatformV1StreamingPredictRequest": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1StreamingPredictRequest",
      "description": "Request message for PredictionService.StreamingPredict. The first message must contain endpoint field and optionally input. The subsequent messages must contain input.",
      "properties": {
        "parameters": {
          "description": "The parameters that govern the prediction.",
          "$ref": "GoogleCloudAiplatformV1Tensor"
        },
        "inputs": {
          "description": "The prediction input.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Tensor"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudAiplatformV1FeatureSelector": {
      "properties": {
        "idMatcher": {
          "$ref": "GoogleCloudAiplatformV1IdMatcher",
          "description": "Required. Matches Features based on ID."
        }
      },
      "type": "object",
      "description": "Selector for Features of an EntityType.",
      "id": "GoogleCloudAiplatformV1FeatureSelector"
    },
    "GoogleCloudAiplatformV1GenerationConfig": {
      "id": "GoogleCloudAiplatformV1GenerationConfig",
      "type": "object",
      "description": "Generation config.",
      "properties": {
        "topP": {
          "format": "float",
          "description": "Optional. If specified, nucleus sampling will be used.",
          "type": "number"
        },
        "candidateCount": {
          "description": "Optional. Number of candidates to generate.",
          "format": "int32",
          "type": "integer"
        },
        "temperature": {
          "type": "number",
          "description": "Optional. Controls the randomness of predictions.",
          "format": "float"
        },
        "maxOutputTokens": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum number of output tokens to generate per message."
        },
        "topK": {
          "description": "Optional. If specified, top-k sampling will be used.",
          "format": "float",
          "type": "number"
        },
        "stopSequences": {
          "description": "Optional. Stop sequences.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionTftForecastingInputsTransformationTextTransformation": {
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionTftForecastingInputsTransformationTextTransformation",
      "description": "Training pipeline will perform following transformation functions. * The text as is--no change to case, punctuation, spelling, tense, and so on. * Convert the category name to a dictionary lookup index and generate an embedding for each index.",
      "properties": {
        "columnName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1UploadModelResponse": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1UploadModelResponse",
      "description": "Response message of ModelService.UploadModel operation.",
      "properties": {
        "modelVersionId": {
          "description": "Output only. The version ID of the model that is uploaded.",
          "type": "string",
          "readOnly": true
        },
        "model": {
          "description": "The name of the uploaded Model resource. Format: `projects/{project}/locations/{location}/models/{model}`",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaTextSentimentSavedQueryMetadata": {
      "id": "GoogleCloudAiplatformV1SchemaTextSentimentSavedQueryMetadata",
      "description": "The metadata of SavedQuery contains TextSentiment Annotations.",
      "type": "object",
      "properties": {
        "sentimentMax": {
          "description": "The maximum sentiment of sentiment Anntoation in this SavedQuery.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudAiplatformV1ListModelDeploymentMonitoringJobsResponse": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1ListModelDeploymentMonitoringJobsResponse",
      "description": "Response message for JobService.ListModelDeploymentMonitoringJobs.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "modelDeploymentMonitoringJobs": {
          "type": "array",
          "description": "A list of ModelDeploymentMonitoringJobs that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1ModelDeploymentMonitoringJob"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1FeatureViewSync": {
      "properties": {
        "finalStatus": {
          "description": "Output only. Final status of the FeatureViewSync.",
          "readOnly": true,
          "$ref": "GoogleRpcStatus"
        },
        "runTime": {
          "description": "Output only. Time when this FeatureViewSync is finished.",
          "$ref": "GoogleTypeInterval",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the FeatureViewSync. Format: `projects/{project}/locations/{location}/featureOnlineStores/{feature_online_store}/featureViews/{feature_view}/featureViewSyncs/{feature_view_sync}`"
        },
        "createTime": {
          "description": "Output only. Time when this FeatureViewSync is created. Creation of a FeatureViewSync means that the job is pending / waiting for sufficient resources but may not have started the actual data transfer yet.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudAiplatformV1FeatureViewSync",
      "type": "object",
      "description": "FeatureViewSync is a representation of sync operation which copies data from data source to Feature View in Online Store."
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlImageClassificationInputs": {
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlImageClassificationInputs",
      "properties": {
        "disableEarlyStopping": {
          "type": "boolean",
          "description": "Use the entire training budget. This disables the early stopping feature. When false the early stopping feature is enabled, which means that AutoML Image Classification might stop training before the entire training budget has been used."
        },
        "modelType": {
          "enumDescriptions": [
            "Should not be set.",
            "A Model best tailored to be used within Google Cloud, and which cannot be exported. Default.",
            "A model type best tailored to be used within Google Cloud, which cannot be exported externally. Compared to the CLOUD model above, it is expected to have higher prediction accuracy.",
            "A model that, in addition to being available within Google Cloud, can also be exported (see ModelService.ExportModel) as TensorFlow or Core ML model and used on a mobile or edge device afterwards. Expected to have low latency, but may have lower prediction quality than other mobile models.",
            "A model that, in addition to being available within Google Cloud, can also be exported (see ModelService.ExportModel) as TensorFlow or Core ML model and used on a mobile or edge device with afterwards.",
            "A model that, in addition to being available within Google Cloud, can also be exported (see ModelService.ExportModel) as TensorFlow or Core ML model and used on a mobile or edge device afterwards. Expected to have a higher latency, but should also have a higher prediction quality than other mobile models.",
            "EfficientNet model for Model Garden training with customizable hyperparameters. Best tailored to be used within Google Cloud, and cannot be exported externally.",
            "MaxViT model for Model Garden training with customizable hyperparameters. Best tailored to be used within Google Cloud, and cannot be exported externally.",
            "ViT model for Model Garden training with customizable hyperparameters. Best tailored to be used within Google Cloud, and cannot be exported externally.",
            "CoCa model for Model Garden training with customizable hyperparameters. Best tailored to be used within Google Cloud, and cannot be exported externally."
          ],
          "type": "string",
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "CLOUD",
            "CLOUD_1",
            "MOBILE_TF_LOW_LATENCY_1",
            "MOBILE_TF_VERSATILE_1",
            "MOBILE_TF_HIGH_ACCURACY_1",
            "EFFICIENTNET",
            "MAXVIT",
            "VIT",
            "COCA"
          ]
        },
        "multiLabel": {
          "description": "If false, a single-label (multi-class) Model will be trained (i.e. assuming that for each image just up to one annotation may be applicable). If true, a multi-label Model will be trained (i.e. assuming that for each image multiple annotations may be applicable).",
          "type": "boolean"
        },
        "budgetMilliNodeHours": {
          "type": "string",
          "description": "The training budget of creating this model, expressed in milli node hours i.e. 1,000 value in this field means 1 node hour. The actual metadata.costMilliNodeHours will be equal or less than this value. If further model training ceases to provide any improvements, it will stop without using the full budget and the metadata.successfulStopReason will be `model-converged`. Note, node_hour = actual_hour * number_of_nodes_involved. For modelType `cloud`(default), the budget must be between 8,000 and 800,000 milli node hours, inclusive. The default value is 192,000 which represents one day in wall time, considering 8 nodes are used. For model types `mobile-tf-low-latency-1`, `mobile-tf-versatile-1`, `mobile-tf-high-accuracy-1`, the training budget must be between 1,000 and 100,000 milli node hours, inclusive. The default value is 24,000 which represents one day in wall time on a single node that is used.",
          "format": "int64"
        },
        "tunableParameter": {
          "description": "Trainer type for Vision TrainRequest.",
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutomlImageTrainingTunableParameter"
        },
        "uptrainBaseModelId": {
          "type": "string",
          "description": "The ID of `base` model for upTraining. If it is specified, the new model will be upTrained based on the `base` model for upTraining. Otherwise, the new model will be trained from scratch. The `base` model for upTraining must be in the same Project and Location as the new Model to train, and have the same modelType."
        },
        "baseModelId": {
          "description": "The ID of the `base` model. If it is specified, the new model will be trained based on the `base` model. Otherwise, the new model will be trained from scratch. The `base` model must be in the same Project and Location as the new Model to train, and have the same modelType.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaModelevaluationMetricsTextExtractionEvaluationMetrics": {
      "type": "object",
      "properties": {
        "confusionMatrix": {
          "$ref": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsConfusionMatrix",
          "description": "Confusion matrix of the evaluation. Only set for Models where number of AnnotationSpecs is no more than 10. Only set for ModelEvaluations, not for ModelEvaluationSlices."
        },
        "confidenceMetrics": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsTextExtractionEvaluationMetricsConfidenceMetrics"
          },
          "type": "array",
          "description": "Metrics that have confidence thresholds. Precision-recall curve can be derived from them."
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsTextExtractionEvaluationMetrics",
      "description": "Metrics for text extraction evaluation results."
    },
    "GoogleTypeExpr": {
      "id": "GoogleTypeExpr",
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        }
      }
    },
    "GoogleCloudAiplatformV1ImportFeatureValuesRequest": {
      "properties": {
        "disableOnlineServing": {
          "type": "boolean",
          "description": "If set, data will not be imported for online serving. This is typically used for backfilling, where Feature generation timestamps are not in the timestamp range needed for online serving."
        },
        "featureTimeField": {
          "description": "Source column that holds the Feature timestamp for all Feature values in each entity.",
          "type": "string"
        },
        "csvSource": {
          "$ref": "GoogleCloudAiplatformV1CsvSource"
        },
        "entityIdField": {
          "type": "string",
          "description": "Source column that holds entity IDs. If not provided, entity IDs are extracted from the column named entity_id."
        },
        "workerCount": {
          "format": "int32",
          "description": "Specifies the number of workers that are used to write data to the Featurestore. Consider the online serving capacity that you require to achieve the desired import throughput without interfering with online serving. The value must be positive, and less than or equal to 100. If not set, defaults to using 1 worker. The low count ensures minimal impact on online serving performance.",
          "type": "integer"
        },
        "avroSource": {
          "$ref": "GoogleCloudAiplatformV1AvroSource"
        },
        "featureSpecs": {
          "description": "Required. Specifications defining which Feature values to import from the entity. The request fails if no feature_specs are provided, and having multiple feature_specs for one Feature is not allowed.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1ImportFeatureValuesRequestFeatureSpec"
          }
        },
        "disableIngestionAnalysis": {
          "type": "boolean",
          "description": "If true, API doesn't start ingestion analysis pipeline."
        },
        "bigquerySource": {
          "$ref": "GoogleCloudAiplatformV1BigQuerySource"
        },
        "featureTime": {
          "description": "Single Feature timestamp for all entities being imported. The timestamp must not have higher than millisecond precision.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for FeaturestoreService.ImportFeatureValues.",
      "id": "GoogleCloudAiplatformV1ImportFeatureValuesRequest"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationAutoTransformation": {
      "type": "object",
      "description": "Training pipeline will infer the proper transformation based on the statistic of dataset.",
      "properties": {
        "columnName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationAutoTransformation"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionSeq2SeqPlusForecastingInputsTransformationCategoricalTransformation": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionSeq2SeqPlusForecastingInputsTransformationCategoricalTransformation",
      "description": "Training pipeline will perform following transformation functions. * The categorical string as is--no change to case, punctuation, spelling, tense, and so on. * Convert the category name to a dictionary lookup index and generate an embedding for each index. * Categories that appear less than 5 times in the training dataset are treated as the \"unknown\" category. The \"unknown\" category gets its own special lookup index and resulting embedding.",
      "properties": {
        "columnName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1BatchPredictionJobOutputConfig": {
      "properties": {
        "bigqueryDestination": {
          "description": "The BigQuery project or dataset location where the output is to be written to. If project is provided, a new dataset is created with name `prediction__` where is made BigQuery-dataset-name compatible (for example, most special characters become underscores), and timestamp is in YYYY_MM_DDThh_mm_ss_sssZ \"based on ISO-8601\" format. In the dataset two tables will be created, `predictions`, and `errors`. If the Model has both instance and prediction schemata defined then the tables have columns as follows: The `predictions` table contains instances for which the prediction succeeded, it has columns as per a concatenation of the Model's instance and prediction schemata. The `errors` table contains rows for which the prediction has failed, it has instance columns, as per the instance schema, followed by a single \"errors\" column, which as values has google.rpc.Status represented as a STRUCT, and containing only `code` and `message`.",
          "$ref": "GoogleCloudAiplatformV1BigQueryDestination"
        },
        "gcsDestination": {
          "description": "The Cloud Storage location of the directory where the output is to be written to. In the given directory a new directory is created. Its name is `prediction--`, where timestamp is in YYYY-MM-DDThh:mm:ss.sssZ ISO-8601 format. Inside of it files `predictions_0001.`, `predictions_0002.`, ..., `predictions_N.` are created where `` depends on chosen predictions_format, and N may equal 0001 and depends on the total number of successfully predicted instances. If the Model has both instance and prediction schemata defined then each such file contains predictions as per the predictions_format. If prediction for any instance failed (partially or completely), then an additional `errors_0001.`, `errors_0002.`,..., `errors_N.` files are created (N depends on total number of failed predictions). These files contain the failed instances, as per their schema, followed by an additional `error` field which as value has google.rpc.Status containing only `code` and `message` fields.",
          "$ref": "GoogleCloudAiplatformV1GcsDestination"
        },
        "predictionsFormat": {
          "type": "string",
          "description": "Required. The format in which Vertex AI gives the predictions, must be one of the Model's supported_output_storage_formats."
        }
      },
      "id": "GoogleCloudAiplatformV1BatchPredictionJobOutputConfig",
      "description": "Configures the output of BatchPredictionJob. See Model.supported_output_storage_formats for supported output formats, and how predictions are expressed via any of them.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1MigrateResourceResponse": {
      "description": "Describes a successfully migrated resource.",
      "type": "object",
      "properties": {
        "dataset": {
          "description": "Migrated Dataset's resource name.",
          "type": "string"
        },
        "migratableResource": {
          "$ref": "GoogleCloudAiplatformV1MigratableResource",
          "description": "Before migration, the identifier in ml.googleapis.com, automl.googleapis.com or datalabeling.googleapis.com."
        },
        "model": {
          "description": "Migrated Model's resource name.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1MigrateResourceResponse"
    },
    "GoogleCloudAiplatformV1BatchPredictionJobInputConfig": {
      "description": "Configures the input to BatchPredictionJob. See Model.supported_input_storage_formats for Model's supported input formats, and how instances should be expressed via any of them.",
      "type": "object",
      "properties": {
        "bigquerySource": {
          "$ref": "GoogleCloudAiplatformV1BigQuerySource",
          "description": "The BigQuery location of the input table. The schema of the table should be in the format described by the given context OpenAPI Schema, if one is provided. The table may contain additional columns that are not described by the schema, and they will be ignored."
        },
        "gcsSource": {
          "description": "The Cloud Storage location for the input instances.",
          "$ref": "GoogleCloudAiplatformV1GcsSource"
        },
        "instancesFormat": {
          "type": "string",
          "description": "Required. The format in which instances are given, must be one of the Model's supported_input_storage_formats."
        }
      },
      "id": "GoogleCloudAiplatformV1BatchPredictionJobInputConfig"
    },
    "GoogleCloudAiplatformV1ModelEvaluationSliceSliceSliceSpecRange": {
      "type": "object",
      "description": "A range of values for slice(s). `low` is inclusive, `high` is exclusive.",
      "properties": {
        "low": {
          "type": "number",
          "description": "Inclusive low value for the range.",
          "format": "float"
        },
        "high": {
          "format": "float",
          "description": "Exclusive high value for the range.",
          "type": "number"
        }
      },
      "id": "GoogleCloudAiplatformV1ModelEvaluationSliceSliceSliceSpecRange"
    },
    "GoogleCloudAiplatformV1CreateFeatureOnlineStoreOperationMetadata": {
      "type": "object",
      "properties": {
        "genericMetadata": {
          "description": "Operation metadata for FeatureOnlineStore.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        }
      },
      "description": "Details of operations that perform create FeatureOnlineStore.",
      "id": "GoogleCloudAiplatformV1CreateFeatureOnlineStoreOperationMetadata"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionSeq2SeqPlusForecastingInputsTransformationTimestampTransformation": {
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionSeq2SeqPlusForecastingInputsTransformationTimestampTransformation",
      "type": "object",
      "properties": {
        "timeFormat": {
          "description": "The format in which that time field is expressed. The time_format must either be one of: * `unix-seconds` * `unix-milliseconds` * `unix-microseconds` * `unix-nanoseconds` (for respectively number of seconds, milliseconds, microseconds and nanoseconds since start of the Unix epoch); or be written in `strftime` syntax. If time_format is not set, then the default format is RFC 3339 `date-time` format, where `time-offset` = `\"Z\"` (e.g. 1985-04-12T23:20:50.52Z)",
          "type": "string"
        },
        "columnName": {
          "type": "string"
        }
      },
      "description": "Training pipeline will perform following transformation functions. * Apply the transformation functions for Numerical columns. * Determine the year, month, day,and weekday. Treat each value from the timestamp as a Categorical column. * Invalid numerical values (for example, values that fall outside of a typical timestamp range, or are extreme values) receive no special treatment and are not removed."
    },
    "GoogleCloudAiplatformV1UpgradeNotebookRuntimeRequest": {
      "properties": {},
      "id": "GoogleCloudAiplatformV1UpgradeNotebookRuntimeRequest",
      "type": "object",
      "description": "Request message for NotebookService.UpgradeNotebookRuntime."
    },
    "GoogleCloudAiplatformV1StratifiedSplit": {
      "properties": {
        "key": {
          "type": "string",
          "description": "Required. The key is a name of one of the Dataset's data columns. The key provided must be for a categorical column."
        },
        "testFraction": {
          "type": "number",
          "description": "The fraction of the input data that is to be used to evaluate the Model.",
          "format": "double"
        },
        "validationFraction": {
          "description": "The fraction of the input data that is to be used to validate the Model.",
          "format": "double",
          "type": "number"
        },
        "trainingFraction": {
          "type": "number",
          "description": "The fraction of the input data that is to be used to train the Model.",
          "format": "double"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1StratifiedSplit",
      "description": "Assigns input data to the training, validation, and test sets so that the distribution of values found in the categorical column (as specified by the `key` field) is mirrored within each split. The fraction values determine the relative sizes of the splits. For example, if the specified column has three values, with 50% of the rows having value \"A\", 25% value \"B\", and 25% value \"C\", and the split fractions are specified as 80/10/10, then the training set will constitute 80% of the training data, with about 50% of the training set rows having the value \"A\" for the specified column, about 25% having the value \"B\", and about 25% having the value \"C\". Only the top 500 occurring values are used; any values not in the top 500 values are randomly assigned to a split. If less than three rows contain a specific value, those rows are randomly assigned. Supported only for tabular Datasets."
    },
    "GoogleCloudAiplatformV1BatchCreateTensorboardRunsRequest": {
      "description": "Request message for TensorboardService.BatchCreateTensorboardRuns.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1BatchCreateTensorboardRunsRequest",
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. The request message specifying the TensorboardRuns to create. A maximum of 1000 TensorboardRuns can be created in a batch.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1CreateTensorboardRunRequest"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1ModelMonitoringObjectiveConfigExplanationConfigExplanationBaseline": {
      "id": "GoogleCloudAiplatformV1ModelMonitoringObjectiveConfigExplanationConfigExplanationBaseline",
      "type": "object",
      "properties": {
        "bigquery": {
          "$ref": "GoogleCloudAiplatformV1BigQueryDestination",
          "description": "BigQuery location for BatchExplain output."
        },
        "predictionFormat": {
          "description": "The storage format of the predictions generated BatchPrediction job.",
          "enum": [
            "PREDICTION_FORMAT_UNSPECIFIED",
            "JSONL",
            "BIGQUERY"
          ],
          "enumDescriptions": [
            "Should not be set.",
            "Predictions are in JSONL files.",
            "Predictions are in BigQuery."
          ],
          "type": "string"
        },
        "gcs": {
          "description": "Cloud Storage location for BatchExplain output.",
          "$ref": "GoogleCloudAiplatformV1GcsDestination"
        }
      },
      "description": "Output from BatchPredictionJob for Model Monitoring baseline dataset, which can be used to generate baseline attribution scores."
    },
    "GoogleCloudAiplatformV1ComputeTokensRequest": {
      "type": "object",
      "properties": {
        "instances": {
          "type": "array",
          "description": "Required. The instances that are the input to token computing API call. Schema is identical to the prediction schema of the text model, even for the non-text models, like chat models, or Codey models.",
          "items": {
            "type": "any"
          }
        }
      },
      "id": "GoogleCloudAiplatformV1ComputeTokensRequest",
      "description": "Request message for ComputeTokens RPC call."
    },
    "GoogleCloudAiplatformV1ExplanationMetadataInputMetadataFeatureValueDomain": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1ExplanationMetadataInputMetadataFeatureValueDomain",
      "properties": {
        "originalStddev": {
          "description": "If this input feature has been normalized to a standard deviation of 1.0, the original_stddev specifies the standard deviation of the domain prior to normalization.",
          "format": "float",
          "type": "number"
        },
        "minValue": {
          "type": "number",
          "format": "float",
          "description": "The minimum permissible value for this feature."
        },
        "maxValue": {
          "format": "float",
          "description": "The maximum permissible value for this feature.",
          "type": "number"
        },
        "originalMean": {
          "description": "If this input feature has been normalized to a mean value of 0, the original_mean specifies the mean value of the domain prior to normalization.",
          "format": "float",
          "type": "number"
        }
      },
      "description": "Domain details of the input feature value. Provides numeric information about the feature, such as its range (min, max). If the feature has been pre-processed, for example with z-scoring, then it provides information about how to recover the original feature. For example, if the input feature is an image and it has been pre-processed to obtain 0-mean and stddev = 1 values, then original_mean, and original_stddev refer to the mean and stddev of the original feature (e.g. image tensor) from which input feature (with mean = 0 and stddev = 1) was obtained."
    },
    "GoogleCloudAiplatformV1ExportFeatureValuesRequestSnapshotExport": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1ExportFeatureValuesRequestSnapshotExport",
      "description": "Describes exporting the latest Feature values of all entities of the EntityType between [start_time, snapshot_time].",
      "properties": {
        "startTime": {
          "description": "Excludes Feature values with feature generation timestamp before this timestamp. If not set, retrieve oldest values kept in Feature Store. Timestamp, if present, must not have higher than millisecond precision.",
          "format": "google-datetime",
          "type": "string"
        },
        "snapshotTime": {
          "description": "Exports Feature values as of this timestamp. If not set, retrieve values as of now. Timestamp, if present, must not have higher than millisecond precision.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudAiplatformV1ImportDataConfig": {
      "properties": {
        "annotationLabels": {
          "description": "Labels that will be applied to newly imported Annotations. If two Annotations are identical, one of them will be deduped. Two Annotations are considered identical if their payload, payload_schema_uri and all of their labels are the same. These labels will be overridden by Annotation labels specified inside index file referenced by import_schema_uri, e.g. jsonl file.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "importSchemaUri": {
          "type": "string",
          "description": "Required. Points to a YAML file stored on Google Cloud Storage describing the import format. Validation will be done against the schema. The schema is defined as an [OpenAPI 3.0.2 Schema Object](https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.0.2.md#schemaObject)."
        },
        "gcsSource": {
          "description": "The Google Cloud Storage location for the input content.",
          "$ref": "GoogleCloudAiplatformV1GcsSource"
        },
        "dataItemLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels that will be applied to newly imported DataItems. If an identical DataItem as one being imported already exists in the Dataset, then these labels will be appended to these of the already existing one, and if labels with identical key is imported before, the old label value will be overwritten. If two DataItems are identical in the same import data operation, the labels will be combined and if key collision happens in this case, one of the values will be picked randomly. Two DataItems are considered identical if their content bytes are identical (e.g. image bytes or pdf bytes). These labels will be overridden by Annotation labels specified inside index file referenced by import_schema_uri, e.g. jsonl file.",
          "type": "object"
        }
      },
      "id": "GoogleCloudAiplatformV1ImportDataConfig",
      "description": "Describes the location from where we import data into a Dataset, together with the labels that will be applied to the DataItems and the Annotations.",
      "type": "object"
    },
    "CloudAiNlLlmProtoServiceUsageMetadata": {
      "properties": {
        "promptTokenCount": {
          "type": "integer",
          "description": "Number of tokens in the request.",
          "format": "int32"
        },
        "candidatesTokenCount": {
          "description": "Number of tokens in the response(s).",
          "format": "int32",
          "type": "integer"
        },
        "totalTokenCount": {
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Usage metadata about response(s).",
      "type": "object",
      "id": "CloudAiNlLlmProtoServiceUsageMetadata"
    },
    "GoogleCloudAiplatformV1AnnotationSpec": {
      "type": "object",
      "description": "Identifies a concept with which DataItems may be annotated with.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when this AnnotationSpec was created.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "Optional. Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The user-defined name of the AnnotationSpec. The name can be up to 128 characters long and can consist of any UTF-8 characters."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when AnnotationSpec was last updated."
        },
        "name": {
          "description": "Output only. Resource name of the AnnotationSpec.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1AnnotationSpec"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputs": {
      "properties": {
        "predictionType": {
          "description": "The type of prediction the Model is to produce. \"classification\" - Predict one out of multiple target values is picked for each row. \"regression\" - Predict a value based on its relation to other values. This type is available only to columns that contain semantically numeric values, i.e. integers or floating point number, even if stored as e.g. strings.",
          "type": "string"
        },
        "optimizationObjective": {
          "description": "Objective function the model is optimizing towards. The training process creates a model that maximizes/minimizes the value of the objective function over the validation set. The supported optimization objectives depend on the prediction type. If the field is not set, a default objective function is used. classification (binary): \"maximize-au-roc\" (default) - Maximize the area under the receiver operating characteristic (ROC) curve. \"minimize-log-loss\" - Minimize log loss. \"maximize-au-prc\" - Maximize the area under the precision-recall curve. \"maximize-precision-at-recall\" - Maximize precision for a specified recall value. \"maximize-recall-at-precision\" - Maximize recall for a specified precision value. classification (multi-class): \"minimize-log-loss\" (default) - Minimize log loss. regression: \"minimize-rmse\" (default) - Minimize root-mean-squared error (RMSE). \"minimize-mae\" - Minimize mean-absolute error (MAE). \"minimize-rmsle\" - Minimize root-mean-squared log error (RMSLE).",
          "type": "string"
        },
        "targetColumn": {
          "type": "string",
          "description": "The column name of the target column that the model is to predict."
        },
        "optimizationObjectiveRecallValue": {
          "type": "number",
          "format": "float",
          "description": "Required when optimization_objective is \"maximize-precision-at-recall\". Must be between 0 and 1, inclusive."
        },
        "exportEvaluatedDataItemsConfig": {
          "description": "Configuration for exporting test set predictions to a BigQuery table. If this configuration is absent, then the export is not performed.",
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionExportEvaluatedDataItemsConfig"
        },
        "disableEarlyStopping": {
          "description": "Use the entire training budget. This disables the early stopping feature. By default, the early stopping feature is enabled, which means that AutoML Tables might stop training before the entire training budget has been used.",
          "type": "boolean"
        },
        "trainBudgetMilliNodeHours": {
          "type": "string",
          "format": "int64",
          "description": "Required. The train budget of creating this model, expressed in milli node hours i.e. 1,000 value in this field means 1 node hour. The training cost of the model will not exceed this budget. The final cost will be attempted to be close to the budget, though may end up being (even) noticeably smaller - at the backend's discretion. This especially may happen when further model training ceases to provide any improvements. If the budget is set to a value known to be insufficient to train a model for the given dataset, the training won't be attempted and will error. The train budget must be between 1,000 and 72,000 milli node hours, inclusive."
        },
        "optimizationObjectivePrecisionValue": {
          "description": "Required when optimization_objective is \"maximize-recall-at-precision\". Must be between 0 and 1, inclusive.",
          "type": "number",
          "format": "float"
        },
        "transformations": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformation"
          },
          "description": "Each transformation will apply transform function to given input column. And the result will be used for training. When creating transformation for BigQuery Struct column, the column should be flattened using \".\" as the delimiter.",
          "type": "array"
        },
        "weightColumnName": {
          "description": "Column name that should be used as the weight column. Higher values in this column give more importance to the row during model training. The column must have numeric values between 0 and 10000 inclusively; 0 means the row is ignored for training. If weight column field is not set, then all rows are assumed to have equal weight of 1.",
          "type": "string"
        },
        "additionalExperiments": {
          "description": "Additional experiment flags for the Tables training pipeline.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputs"
    },
    "GoogleCloudAiplatformV1ModelSourceInfo": {
      "description": "Detail description of the source information of the model.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1ModelSourceInfo",
      "properties": {
        "sourceType": {
          "description": "Type of the model source.",
          "enum": [
            "MODEL_SOURCE_TYPE_UNSPECIFIED",
            "AUTOML",
            "CUSTOM",
            "BQML",
            "MODEL_GARDEN",
            "GENIE",
            "CUSTOM_TEXT_EMBEDDING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Should not be used.",
            "The Model is uploaded by automl training pipeline.",
            "The Model is uploaded by user or custom training pipeline.",
            "The Model is registered and sync'ed from BigQuery ML.",
            "The Model is saved or tuned from Model Garden.",
            "The Model is saved or tuned from Genie.",
            "The Model is uploaded by text embedding finetuning pipeline."
          ]
        },
        "copy": {
          "description": "If this Model is copy of another Model. If true then source_type pertains to the original.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudAiplatformV1NotebookReservationAffinity": {
      "description": "Notebook Reservation Affinity for consuming Zonal reservation.",
      "id": "GoogleCloudAiplatformV1NotebookReservationAffinity",
      "type": "object",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Corresponds to the label values of a reservation resource. This must be the full path name of Reservation.",
          "type": "array"
        },
        "consumeReservationType": {
          "enumDescriptions": [
            "Default type.",
            "Do not consume from any allocated capacity.",
            "Consume any reservation available.",
            "Must consume from a specific reservation. Must specify key value fields for specifying the reservations."
          ],
          "enum": [
            "RESERVATION_AFFINITY_TYPE_UNSPECIFIED",
            "RESERVATION_NONE",
            "RESERVATION_ANY",
            "RESERVATION_SPECIFIC"
          ],
          "type": "string",
          "description": "Required. Specifies the type of reservation from which this instance can consume resources: RESERVATION_ANY (default), RESERVATION_SPECIFIC, or RESERVATION_NONE. See Consuming reserved instances for examples."
        },
        "key": {
          "type": "string",
          "description": "Optional. Corresponds to the label key of a reservation resource. To target a RESERVATION_SPECIFIC by name, use compute.googleapis.com/reservation-name as the key and specify the name of your reservation as its value."
        }
      }
    },
[...]
