{
  "ownerName": "Google",
  "version_module": true,
  "mtlsRootUrl": "https://aiplatform.mtls.googleapis.com/",
  "id": "aiplatform:v1beta1",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "schemas": {
    "GoogleCloudAiplatformV1beta1ToolParameterKVMatchSpec": {
      "description": "Spec for tool parameter key value match metric.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1ToolParameterKVMatchSpec",
      "properties": {
        "useStrictStringMatch": {
          "description": "Optional. Whether to use STRCIT string match on parameter values.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1CreateNotebookRuntimeTemplateOperationMetadata": {
      "description": "Metadata information for NotebookService.CreateNotebookRuntimeTemplate.",
      "type": "object",
      "properties": {
        "genericMetadata": {
          "description": "The operation generic information.",
          "$ref": "GoogleCloudAiplatformV1beta1GenericOperationMetadata"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1CreateNotebookRuntimeTemplateOperationMetadata"
    },
    "GoogleCloudAiplatformV1beta1CompleteTrialRequest": {
      "properties": {
        "finalMeasurement": {
          "description": "Optional. If provided, it will be used as the completed Trial's final_measurement; Otherwise, the service will auto-select a previously reported measurement as the final-measurement",
          "$ref": "GoogleCloudAiplatformV1beta1Measurement"
        },
        "trialInfeasible": {
          "type": "boolean",
          "description": "Optional. True if the Trial cannot be run with the given Parameter, and final_measurement will be ignored."
        },
        "infeasibleReason": {
          "type": "string",
          "description": "Optional. A human readable reason why the trial was infeasible. This should only be provided if `trial_infeasible` is true."
        }
      },
      "id": "GoogleCloudAiplatformV1beta1CompleteTrialRequest",
      "type": "object",
      "description": "Request message for VizierService.CompleteTrial."
    },
    "GoogleCloudAiplatformV1beta1BatchCreateTensorboardTimeSeriesRequest": {
      "id": "GoogleCloudAiplatformV1beta1BatchCreateTensorboardTimeSeriesRequest",
      "type": "object",
      "description": "Request message for TensorboardService.BatchCreateTensorboardTimeSeries.",
      "properties": {
        "requests": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1CreateTensorboardTimeSeriesRequest"
          },
          "description": "Required. The request message specifying the TensorboardTimeSeries to create. A maximum of 1000 TensorboardTimeSeries can be created in a batch.",
          "type": "array"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1ExplanationParameters": {
      "type": "object",
      "description": "Parameters to configure explaining for Model's predictions.",
      "properties": {
        "topK": {
          "description": "If populated, returns attributions for top K indices of outputs (defaults to 1). Only applies to Models that predicts more than one outputs (e,g, multi-class Models). When set to -1, returns explanations for all outputs.",
          "format": "int32",
          "type": "integer"
        },
        "xraiAttribution": {
          "$ref": "GoogleCloudAiplatformV1beta1XraiAttribution",
          "description": "An attribution method that redistributes Integrated Gradients attribution to segmented regions, taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1906.02825 XRAI currently performs better on natural images, like a picture of a house or an animal. If the images are taken in artificial environments, like a lab or manufacturing line, or from diagnostic equipment, like x-rays or quality-control cameras, use Integrated Gradients instead."
        },
        "sampledShapleyAttribution": {
          "description": "An attribution method that approximates Shapley values for features that contribute to the label being predicted. A sampling strategy is used to approximate the value rather than considering all subsets of features. Refer to this paper for model details: https://arxiv.org/abs/1306.4265.",
          "$ref": "GoogleCloudAiplatformV1beta1SampledShapleyAttribution"
        },
        "outputIndices": {
          "description": "If populated, only returns attributions that have output_index contained in output_indices. It must be an ndarray of integers, with the same shape of the output it's explaining. If not populated, returns attributions for top_k indices of outputs. If neither top_k nor output_indices is populated, returns the argmax index of the outputs. Only applicable to Models that predict multiple outputs (e,g, multi-class Models that predict multiple classes).",
          "type": "array",
          "items": {
            "type": "any"
          }
        },
        "integratedGradientsAttribution": {
          "description": "An attribution method that computes Aumann-Shapley values taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1703.01365",
          "$ref": "GoogleCloudAiplatformV1beta1IntegratedGradientsAttribution"
        },
        "examples": {
          "description": "Example-based explanations that returns the nearest neighbors from the provided dataset.",
          "$ref": "GoogleCloudAiplatformV1beta1Examples"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1ExplanationParameters"
    },
    "GoogleCloudAiplatformV1beta1Extension": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1Extension",
      "description": "Extensions are tools for large language models to access external data, run computations, etc.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the Extension. The name can be up to 128 characters long and can consist of any UTF-8 characters."
        },
        "privateServiceConnectConfig": {
          "$ref": "GoogleCloudAiplatformV1beta1ExtensionPrivateServiceConnectConfig",
          "description": "Optional. The PrivateServiceConnect config for the extension. If specified, the service endpoints associated with the Extension should be registered with private network access in the provided Service Directory (https://cloud.google.com/service-directory/docs/configuring-private-network-access). If the service contains more than one endpoint with a network, the service will arbitrarilty choose one of the endpoints to use for extension execution."
        },
        "manifest": {
          "description": "Required. Manifest of the Extension.",
          "$ref": "GoogleCloudAiplatformV1beta1ExtensionManifest"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when this Extension was most recently updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "toolUseExamples": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1ToolUseExample"
          },
          "type": "array",
          "description": "Optional. Examples to illustrate the usage of the extension as a tool."
        },
        "runtimeConfig": {
          "description": "Optional. Runtime config controlling the runtime behavior of this Extension.",
          "$ref": "GoogleCloudAiplatformV1beta1RuntimeConfig"
        },
        "extensionOperations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1ExtensionOperation"
          },
          "readOnly": true,
          "description": "Output only. Supported operations."
        },
        "createTime": {
          "description": "Output only. Timestamp when this Extension was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the Extension."
        },
        "description": {
          "description": "Optional. The description of the Extension.",
          "type": "string"
        },
        "etag": {
          "description": "Optional. Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionSeq2SeqPlusForecastingInputsTransformationTextTransformation": {
      "type": "object",
      "properties": {
        "columnName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionSeq2SeqPlusForecastingInputsTransformationTextTransformation",
      "description": "Training pipeline will perform following transformation functions. * The text as is--no change to case, punctuation, spelling, tense, and so on. * Convert the category name to a dictionary lookup index and generate an embedding for each index."
    },
    "GoogleCloudAiplatformV1beta1BleuInstance": {
      "properties": {
        "reference": {
          "type": "string",
          "description": "Required. Ground truth used to compare against the prediction."
        },
        "prediction": {
          "type": "string",
          "description": "Required. Output of the evaluated model."
        }
      },
      "description": "Spec for bleu instance.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1BleuInstance"
    },
    "GoogleCloudAiplatformV1beta1ToolUseExampleExtensionOperation": {
      "description": "Identifies one operation of the extension.",
      "properties": {
        "extension": {
          "type": "string",
          "description": "Resource name of the extension."
        },
        "operationId": {
          "type": "string",
          "description": "Required. Operation ID of the extension."
        }
      },
      "id": "GoogleCloudAiplatformV1beta1ToolUseExampleExtensionOperation",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationCategoricalArrayTransformation": {
      "properties": {
        "columnName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationCategoricalArrayTransformation",
      "type": "object",
      "description": "Treats the column as categorical array and performs following transformation functions. * For each element in the array, convert the category name to a dictionary lookup index and generate an embedding for each index. Combine the embedding of all elements into a single embedding using the mean. * Empty arrays treated as an embedding of zeroes."
    },
    "GoogleCloudAiplatformV1beta1RetrieveContextsRequestVertexRagStore": {
      "description": "The data source for Vertex RagStore.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1RetrieveContextsRequestVertexRagStore",
      "properties": {
        "ragCorpora": {
          "description": "Required. RagCorpora resource name. Format: `projects/{project}/locations/{location}/ragCorpora/{rag_corpus}` Currently only one corpus is allowed. In the future we may open up multiple corpora support. However, they should be from the same project and location.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1beta1QuestionAnsweringCorrectnessInstance": {
      "properties": {
        "context": {
          "type": "string",
          "description": "Optional. Text provided as context to answer the question."
        },
        "prediction": {
          "type": "string",
          "description": "Required. Output of the evaluated model."
        },
        "instruction": {
          "type": "string",
          "description": "Required. The question asked and other instruction in the inference prompt."
        },
        "reference": {
          "type": "string",
          "description": "Optional. Ground truth used to compare against the prediction."
        }
      },
      "description": "Spec for question answering correctness instance.",
      "id": "GoogleCloudAiplatformV1beta1QuestionAnsweringCorrectnessInstance",
      "type": "object"
    },
    "LearningGenaiRootCodeyChatMetadata": {
      "properties": {
        "codeLanguage": {
          "enum": [
            "UNSPECIFIED",
            "ALL",
            "TEXT",
            "CPP",
            "PYTHON",
            "KOTLIN",
            "JAVA",
            "JAVASCRIPT",
            "GO",
            "R",
            "JUPYTER_NOTEBOOK",
            "TYPESCRIPT",
            "HTML",
            "SQL",
            "BASH",
            "C",
            "DART",
            "GRADLE",
            "GROOVY",
            "JAVADOC",
            "JSON",
            "MAKEFILE",
            "MARKDOWN",
            "PROTO",
            "XML",
            "YAML"
          ],
          "enumDescriptions": [
            "Unspecified Language.",
            "All languages.",
            "Not code.",
            "The most common, well-supported languages. C++ code.",
            "Python code.",
            "Kotlin code.",
            "Java code.",
            "JavaScript code.",
            "Go code.",
            "R code.",
            "Jupyter notebook.",
            "TypeScript code.",
            "HTML code.",
            "SQL code.",
            "Other languages in alphabetical order. BASH code.",
            "C code.",
            "Dart code.",
            "Gradle code.",
            "Groovy code.",
            "API documentation.",
            "JSON code.",
            "Makefile code.",
            "Markdown code.",
            "Protocol buffer.",
            "XML code.",
            "YAML code."
          ],
          "type": "string",
          "description": "Indicates the programming language of the code if the message is a code chunk."
        }
      },
      "type": "object",
      "id": "LearningGenaiRootCodeyChatMetadata",
      "description": "Stores all metadata relating to AIDA DoConversation."
    },
    "GoogleCloudAiplatformV1beta1ToolNameMatchInput": {
      "description": "Input for tool name match metric.",
      "type": "object",
      "properties": {
        "metricSpec": {
          "description": "Required. Spec for tool name match metric.",
          "$ref": "GoogleCloudAiplatformV1beta1ToolNameMatchSpec"
        },
        "instances": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1ToolNameMatchInstance"
          },
          "type": "array",
          "description": "Required. Repeated tool name match instances."
        }
      },
      "id": "GoogleCloudAiplatformV1beta1ToolNameMatchInput"
    },
    "GoogleCloudAiplatformV1beta1PrivateServiceConnectConfig": {
      "description": "Represents configuration for private service connect.",
      "id": "GoogleCloudAiplatformV1beta1PrivateServiceConnectConfig",
      "type": "object",
      "properties": {
        "projectAllowlist": {
          "description": "A list of Projects from which the forwarding rule will target the service attachment.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "enablePrivateServiceConnect": {
          "type": "boolean",
          "description": "Required. If true, expose the IndexEndpoint via private service connect."
        }
      }
    },
    "GoogleCloudAiplatformV1beta1FeatureView": {
      "id": "GoogleCloudAiplatformV1beta1FeatureView",
      "description": "FeatureView is representation of values that the FeatureOnlineStore will serve based on its syncConfig.",
      "properties": {
        "indexConfig": {
          "$ref": "GoogleCloudAiplatformV1beta1FeatureViewIndexConfig",
          "description": "Optional. Configuration for index preparation for vector search. It contains the required configurations to create an index from source data, so that approximate nearest neighbor (a.k.a ANN) algorithms search can be performed during online serving."
        },
        "createTime": {
          "description": "Output only. Timestamp when this FeatureView was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "syncConfig": {
          "$ref": "GoogleCloudAiplatformV1beta1FeatureViewSyncConfig",
          "description": "Configures when data is to be synced/updated for this FeatureView. At the end of the sync the latest featureValues for each entityId of this FeatureView are made ready for online serving."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels with user-defined metadata to organize your FeatureViews. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https://goo.gl/xmQnxf for more information on and examples of labels. No more than 64 user labels can be associated with one FeatureOnlineStore(System labels are excluded).\" System reserved label keys are prefixed with \"aiplatform.googleapis.com/\" and are immutable.",
          "type": "object"
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "Output only. A Service Account unique to this FeatureView. The role bigquery.dataViewer should be granted to this service account to allow Vertex AI Feature Store to sync data to the online store.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Name of the FeatureView. Format: `projects/{project}/locations/{location}/featureOnlineStores/{feature_online_store}/featureViews/{feature_view}`",
          "type": "string"
        },
        "vectorSearchConfig": {
          "description": "Optional. Deprecated: please use FeatureView.index_config instead.",
          "$ref": "GoogleCloudAiplatformV1beta1FeatureViewVectorSearchConfig",
          "deprecated": true
        },
        "etag": {
          "description": "Optional. Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "serviceAgentType": {
          "type": "string",
          "description": "Optional. Service agent type used during data sync. By default, the Vertex AI Service Agent is used. When using an IAM Policy to isolate this FeatureView within a project, a separate service account should be provisioned by setting this field to `SERVICE_AGENT_TYPE_FEATURE_VIEW`. This will generate a separate service account to access the BigQuery source table.",
          "enumDescriptions": [
            "By default, the project-level Vertex AI Service Agent is enabled.",
            "Indicates the project-level Vertex AI Service Agent (https://cloud.google.com/vertex-ai/docs/general/access-control#service-agents) will be used during sync jobs.",
            "Enable a FeatureView service account to be created by Vertex AI and output in the field `service_account_email`. This service account will be used to read from the source BigQuery table during sync."
          ],
          "enum": [
            "SERVICE_AGENT_TYPE_UNSPECIFIED",
            "SERVICE_AGENT_TYPE_PROJECT",
            "SERVICE_AGENT_TYPE_FEATURE_VIEW"
          ]
        },
        "featureRegistrySource": {
          "$ref": "GoogleCloudAiplatformV1beta1FeatureViewFeatureRegistrySource",
          "description": "Optional. Configures the features from a Feature Registry source that need to be loaded onto the FeatureOnlineStore."
        },
        "bigQuerySource": {
          "description": "Optional. Configures how data is supposed to be extracted from a BigQuery source to be loaded onto the FeatureOnlineStore.",
          "$ref": "GoogleCloudAiplatformV1beta1FeatureViewBigQuerySource"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when this FeatureView was last updated."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1PairwiseSummarizationQualitySpec": {
      "properties": {
        "useReference": {
          "type": "boolean",
          "description": "Optional. Whether to use instance.reference to compute pairwise summarization quality."
        },
        "version": {
          "type": "integer",
          "description": "Optional. Which version to use for evaluation.",
          "format": "int32"
        }
      },
      "description": "Spec for pairwise summarization quality score metric.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1PairwiseSummarizationQualitySpec"
    },
    "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionAutoMlImageClassification": {
      "type": "object",
      "description": "A TrainingJob that trains and uploads an AutoML Image Classification Model.",
      "id": "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionAutoMlImageClassification",
      "properties": {
        "inputs": {
          "$ref": "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionAutoMlImageClassificationInputs",
          "description": "The input parameters of this TrainingJob."
        },
        "metadata": {
          "$ref": "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionAutoMlImageClassificationMetadata",
          "description": "The metadata information."
        }
      }
    },
    "GoogleCloudAiplatformV1beta1StudySpecParameterSpecIntegerValueSpec": {
      "properties": {
        "minValue": {
          "format": "int64",
          "description": "Required. Inclusive minimum value of the parameter.",
          "type": "string"
        },
        "maxValue": {
          "description": "Required. Inclusive maximum value of the parameter.",
          "format": "int64",
          "type": "string"
        },
        "defaultValue": {
          "type": "string",
          "description": "A default value for an `INTEGER` parameter that is assumed to be a relatively good starting point. Unset value signals that there is no offered starting point. Currently only supported by the Vertex AI Vizier service. Not supported by HyperparameterTuningJob or TrainingPipeline.",
          "format": "int64"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1StudySpecParameterSpecIntegerValueSpec",
      "type": "object",
      "description": "Value specification for a parameter in `INTEGER` type."
    },
    "GoogleCloudAiplatformV1beta1PauseModelDeploymentMonitoringJobRequest": {
      "description": "Request message for JobService.PauseModelDeploymentMonitoringJob.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudAiplatformV1beta1PauseModelDeploymentMonitoringJobRequest"
    },
    "GoogleCloudAiplatformV1beta1DeployModelRequest": {
      "type": "object",
      "properties": {
        "trafficSplit": {
          "additionalProperties": {
            "type": "integer",
            "format": "int32"
          },
          "description": "A map from a DeployedModel's ID to the percentage of this Endpoint's traffic that should be forwarded to that DeployedModel. If this field is non-empty, then the Endpoint's traffic_split will be overwritten with it. To refer to the ID of the just being deployed Model, a \"0\" should be used, and the actual ID of the new DeployedModel will be filled in its place by this method. The traffic percentage values must add up to 100. If this field is empty, then the Endpoint's traffic_split is not updated.",
          "type": "object"
        },
        "deployedModel": {
          "description": "Required. The DeployedModel to be created within the Endpoint. Note that Endpoint.traffic_split must be updated for the DeployedModel to start receiving traffic, either as part of this call, or via EndpointService.UpdateEndpoint.",
          "$ref": "GoogleCloudAiplatformV1beta1DeployedModel"
        }
      },
      "description": "Request message for EndpointService.DeployModel.",
      "id": "GoogleCloudAiplatformV1beta1DeployModelRequest"
    },
    "GoogleCloudAiplatformV1beta1SchemaModelevaluationMetricsQuestionAnsweringEvaluationMetrics": {
      "properties": {
        "exactMatch": {
          "type": "number",
          "description": "The rate at which the input predicted strings exactly match their references.",
          "format": "float"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1SchemaModelevaluationMetricsQuestionAnsweringEvaluationMetrics",
      "type": "object"
    },
    "CloudAiLargeModelsVisionRaiInfo": {
      "id": "CloudAiLargeModelsVisionRaiInfo",
      "type": "object",
      "properties": {
        "scores": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "float"
          },
          "description": "List of rai scores mapping to the rai categories. Rounded to 1 decimal place."
        },
        "raiCategories": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of rai categories' information to return"
        }
      }
    },
    "LearningGenaiRootRoutingDecisionMetadata": {
      "description": "Debug metadata about the routing decision.",
      "properties": {
        "tokenLengthBasedRoutingMetadata": {
          "$ref": "LearningGenaiRootRoutingDecisionMetadataTokenLengthBased"
        },
        "scoreBasedRoutingMetadata": {
          "$ref": "LearningGenaiRootRoutingDecisionMetadataScoreBased"
        }
      },
      "type": "object",
      "id": "LearningGenaiRootRoutingDecisionMetadata"
    },
    "GoogleCloudAiplatformV1beta1ListMetadataSchemasResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as ListMetadataSchemasRequest.page_token to retrieve the next page. If this field is not populated, there are no subsequent pages."
        },
        "metadataSchemas": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1MetadataSchema"
          },
          "description": "The MetadataSchemas found for the MetadataStore.",
          "type": "array"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1ListMetadataSchemasResponse",
      "description": "Response message for MetadataService.ListMetadataSchemas.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1AutomaticResources": {
      "properties": {
        "maxReplicaCount": {
          "description": "Immutable. The maximum number of replicas this DeployedModel may be deployed on when the traffic against it increases. If the requested value is too large, the deployment will error, but if deployment succeeds then the ability to scale the model to that many replicas is guaranteed (barring service outages). If traffic against the DeployedModel increases beyond what its replicas at maximum may handle, a portion of the traffic will be dropped. If this value is not provided, a no upper bound for scaling under heavy traffic will be assume, though Vertex AI may be unable to scale beyond certain replica number.",
          "format": "int32",
          "type": "integer"
        },
        "minReplicaCount": {
          "format": "int32",
          "description": "Immutable. The minimum number of replicas this DeployedModel will be always deployed on. If traffic against it increases, it may dynamically be deployed onto more replicas up to max_replica_count, and as traffic decreases, some of these extra replicas may be freed. If the requested value is too large, the deployment will error.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1AutomaticResources",
      "description": "A description of resources that to large degree are decided by Vertex AI, and require only a modest additional configuration. Each Model supporting these resources documents its specific guidelines."
    },
    "GoogleCloudAiplatformV1beta1SchemaPredictionResultError": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "Error message with additional details."
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "Not an error; returned on success. HTTP Mapping: 200 OK",
            "The operation was cancelled, typically by the caller. HTTP Mapping: 499 Client Closed Request",
            "Unknown error. For example, this error may be returned when a `Status` value received from another address space belongs to an error space that is not known in this address space. Also errors raised by APIs that do not return enough error information may be converted to this error. HTTP Mapping: 500 Internal Server Error",
            "The client specified an invalid argument. Note that this differs from `FAILED_PRECONDITION`. `INVALID_ARGUMENT` indicates arguments that are problematic regardless of the state of the system (e.g., a malformed file name). HTTP Mapping: 400 Bad Request",
            "The deadline expired before the operation could complete. For operations that change the state of the system, this error may be returned even if the operation has completed successfully. For example, a successful response from a server could have been delayed long enough for the deadline to expire. HTTP Mapping: 504 Gateway Timeout",
            "Some requested entity (e.g., file or directory) was not found. Note to server developers: if a request is denied for an entire class of users, such as gradual feature rollout or undocumented allowlist, `NOT_FOUND` may be used. If a request is denied for some users within a class of users, such as user-based access control, `PERMISSION_DENIED` must be used. HTTP Mapping: 404 Not Found",
            "The entity that a client attempted to create (e.g., file or directory) already exists. HTTP Mapping: 409 Conflict",
            "The caller does not have permission to execute the specified operation. `PERMISSION_DENIED` must not be used for rejections caused by exhausting some resource (use `RESOURCE_EXHAUSTED` instead for those errors). `PERMISSION_DENIED` must not be used if the caller can not be identified (use `UNAUTHENTICATED` instead for those errors). This error code does not imply the request is valid or the requested entity exists or satisfies other pre-conditions. HTTP Mapping: 403 Forbidden",
            "The request does not have valid authentication credentials for the operation. HTTP Mapping: 401 Unauthorized",
            "Some resource has been exhausted, perhaps a per-user quota, or perhaps the entire file system is out of space. HTTP Mapping: 429 Too Many Requests",
            "The operation was rejected because the system is not in a state required for the operation's execution. For example, the directory to be deleted is non-empty, an rmdir operation is applied to a non-directory, etc. Service implementors can use the following guidelines to decide between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`: (a) Use `UNAVAILABLE` if the client can retry just the failing call. (b) Use `ABORTED` if the client should retry at a higher level. For example, when a client-specified test-and-set fails, indicating the client should restart a read-modify-write sequence. (c) Use `FAILED_PRECONDITION` if the client should not retry until the system state has been explicitly fixed. For example, if an \"rmdir\" fails because the directory is non-empty, `FAILED_PRECONDITION` should be returned since the client should not retry unless the files are deleted from the directory. HTTP Mapping: 400 Bad Request",
            "The operation was aborted, typically due to a concurrency issue such as a sequencer check failure or transaction abort. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 409 Conflict",
            "The operation was attempted past the valid range. E.g., seeking or reading past end-of-file. Unlike `INVALID_ARGUMENT`, this error indicates a problem that may be fixed if the system state changes. For example, a 32-bit file system will generate `INVALID_ARGUMENT` if asked to read at an offset that is not in the range [0,2^32-1], but it will generate `OUT_OF_RANGE` if asked to read from an offset past the current file size. There is a fair bit of overlap between `FAILED_PRECONDITION` and `OUT_OF_RANGE`. We recommend using `OUT_OF_RANGE` (the more specific error) when it applies so that callers who are iterating through a space can easily look for an `OUT_OF_RANGE` error to detect when they are done. HTTP Mapping: 400 Bad Request",
            "The operation is not implemented or is not supported/enabled in this service. HTTP Mapping: 501 Not Implemented",
            "Internal errors. This means that some invariants expected by the underlying system have been broken. This error code is reserved for serious errors. HTTP Mapping: 500 Internal Server Error",
            "The service is currently unavailable. This is most likely a transient condition, which can be corrected by retrying with a backoff. Note that it is not always safe to retry non-idempotent operations. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 503 Service Unavailable",
            "Unrecoverable data loss or corruption. HTTP Mapping: 500 Internal Server Error"
          ],
          "description": "Error status. This will be serialized into the enum name e.g. \"NOT_FOUND\".",
          "enum": [
            "OK",
            "CANCELLED",
            "UNKNOWN",
            "INVALID_ARGUMENT",
            "DEADLINE_EXCEEDED",
            "NOT_FOUND",
            "ALREADY_EXISTS",
            "PERMISSION_DENIED",
            "UNAUTHENTICATED",
            "RESOURCE_EXHAUSTED",
            "FAILED_PRECONDITION",
            "ABORTED",
            "OUT_OF_RANGE",
            "UNIMPLEMENTED",
            "INTERNAL",
            "UNAVAILABLE",
            "DATA_LOSS"
          ]
        }
      },
      "id": "GoogleCloudAiplatformV1beta1SchemaPredictionResultError"
    },
    "GoogleCloudAiplatformV1beta1AddContextArtifactsAndExecutionsResponse": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1AddContextArtifactsAndExecutionsResponse",
      "description": "Response message for MetadataService.AddContextArtifactsAndExecutions.",
      "properties": {}
    },
    "GoogleCloudAiplatformV1beta1BleuInput": {
      "id": "GoogleCloudAiplatformV1beta1BleuInput",
      "properties": {
        "metricSpec": {
          "$ref": "GoogleCloudAiplatformV1beta1BleuSpec",
          "description": "Required. Spec for bleu score metric."
        },
        "instances": {
          "description": "Required. Repeated bleu instances.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1BleuInstance"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Input for bleu metric."
    },
    "GoogleCloudAiplatformV1beta1SummarizationHelpfulnessInstance": {
      "type": "object",
      "description": "Spec for summarization helpfulness instance.",
      "id": "GoogleCloudAiplatformV1beta1SummarizationHelpfulnessInstance",
      "properties": {
        "reference": {
          "type": "string",
          "description": "Optional. Ground truth used to compare against the prediction."
        },
        "context": {
          "type": "string",
          "description": "Required. Text to be summarized."
        },
        "prediction": {
          "type": "string",
          "description": "Required. Output of the evaluated model."
        },
        "instruction": {
          "type": "string",
          "description": "Optional. Summarization prompt for LLM."
        }
      }
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "GoogleIamV1Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "description": "Request message for `SetIamPolicy` method.",
      "id": "GoogleIamV1SetIamPolicyRequest"
    },
    "GoogleCloudAiplatformV1beta1NearestNeighbors": {
      "properties": {
        "neighbors": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1NearestNeighborsNeighbor"
          },
          "description": "All its neighbors.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1NearestNeighbors",
      "description": "Nearest neighbors for one query."
    },
    "GoogleCloudAiplatformV1beta1RetrieveContextsResponse": {
      "type": "object",
      "description": "Response message for VertexRagService.RetrieveContexts.",
      "properties": {
        "contexts": {
          "$ref": "GoogleCloudAiplatformV1beta1RagContexts",
          "description": "The contexts of the query."
        }
      },
      "id": "GoogleCloudAiplatformV1beta1RetrieveContextsResponse"
    },
    "GoogleCloudAiplatformV1beta1BatchMigrateResourcesResponse": {
      "description": "Response message for MigrationService.BatchMigrateResources.",
      "id": "GoogleCloudAiplatformV1beta1BatchMigrateResourcesResponse",
      "properties": {
        "migrateResourceResponses": {
          "description": "Successfully migrated resources.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1MigrateResourceResponse"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1TensorboardTensor": {
      "id": "GoogleCloudAiplatformV1beta1TensorboardTensor",
      "type": "object",
      "properties": {
        "versionNumber": {
          "description": "Optional. Version number of TensorProto used to serialize value.",
          "format": "int32",
          "type": "integer"
        },
        "value": {
          "type": "string",
          "description": "Required. Serialized form of https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/framework/tensor.proto",
          "format": "byte"
        }
      },
      "description": "One point viewable on a tensor metric plot."
    },
    "GoogleCloudAiplatformV1beta1FractionSplit": {
      "id": "GoogleCloudAiplatformV1beta1FractionSplit",
      "type": "object",
      "properties": {
        "validationFraction": {
          "description": "The fraction of the input data that is to be used to validate the Model.",
          "type": "number",
          "format": "double"
        },
        "testFraction": {
          "description": "The fraction of the input data that is to be used to evaluate the Model.",
          "format": "double",
          "type": "number"
        },
        "trainingFraction": {
          "description": "The fraction of the input data that is to be used to train the Model.",
          "format": "double",
          "type": "number"
        }
      },
      "description": "Assigns the input data to training, validation, and test sets as per the given fractions. Any of `training_fraction`, `validation_fraction` and `test_fraction` may optionally be provided, they must sum to up to 1. If the provided ones sum to less than 1, the remainder is assigned to sets as decided by Vertex AI. If none of the fractions are set, by default roughly 80% of data is used for training, 10% for validation, and 10% for test."
    },
    "GoogleCloudAiplatformV1beta1PipelineTemplateMetadata": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1PipelineTemplateMetadata",
      "description": "Pipeline template metadata if PipelineJob.template_uri is from supported template registry. Currently, the only supported registry is Artifact Registry.",
      "properties": {
        "version": {
          "description": "The version_name in artifact registry. Will always be presented in output if the PipelineJob.template_uri is from supported template registry. Format is \"sha256:abcdef123456...\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1MigrateResourceRequestMigrateAutomlDatasetConfig": {
      "type": "object",
      "description": "Config for migrating Dataset in automl.googleapis.com to Vertex AI's Dataset.",
      "id": "GoogleCloudAiplatformV1beta1MigrateResourceRequestMigrateAutomlDatasetConfig",
      "properties": {
        "dataset": {
          "type": "string",
          "description": "Required. Full resource name of automl Dataset. Format: `projects/{project}/locations/{location}/datasets/{dataset}`."
        },
        "datasetDisplayName": {
          "description": "Required. Display name of the Dataset in Vertex AI. System will pick a display name if unspecified.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1ExplanationMetadataOutputMetadata": {
      "properties": {
        "displayNameMappingKey": {
          "description": "Specify a field name in the prediction to look for the display name. Use this if the prediction contains the display names for the outputs. The display names in the prediction must have the same shape of the outputs, so that it can be located by Attribution.output_index for a specific output.",
          "type": "string"
        },
        "outputTensorName": {
          "description": "Name of the output tensor. Required and is only applicable to Vertex AI provided images for Tensorflow.",
          "type": "string"
        },
        "indexDisplayNameMapping": {
          "description": "Static mapping between the index and display name. Use this if the outputs are a deterministic n-dimensional array, e.g. a list of scores of all the classes in a pre-defined order for a multi-classification Model. It's not feasible if the outputs are non-deterministic, e.g. the Model produces top-k classes or sort the outputs by their values. The shape of the value must be an n-dimensional array of strings. The number of dimensions must match that of the outputs to be explained. The Attribution.output_display_name is populated by locating in the mapping with Attribution.output_index.",
          "type": "any"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1ExplanationMetadataOutputMetadata",
      "description": "Metadata of the prediction output to be explained."
    },
    "LearningGenaiRootPerRequestProcessorDebugMetadataFactualityDebugMetadata": {
      "type": "object",
      "id": "LearningGenaiRootPerRequestProcessorDebugMetadataFactualityDebugMetadata",
      "properties": {
        "factRetrievalMillisecondsByProvider": {
          "description": "Latency spent on fact retrievals. There might be multiple retrievals from different fact providers.",
          "type": "object",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          }
        },
        "prompt2queryMilliseconds": {
          "type": "string",
          "description": "Latency spent on prompt2query. The procedure generates a search-friendly query given the original prompt.",
          "format": "int64"
        }
      }
    },
    "CloudAiNlLlmProtoServiceRaiResult": {
      "id": "CloudAiNlLlmProtoServiceRaiResult",
      "description": "The RAI results for a given text.",
      "type": "object",
      "properties": {
        "languageFilterResult": {
          "description": "Language filter result from SAFT LangId.",
          "$ref": "LearningGenaiRootLanguageFilterResult"
        },
        "triggeredBlocklist": {
          "type": "boolean",
          "description": "Whether the text triggered the blocklist."
        },
        "triggeredSafetyFilter": {
          "type": "boolean",
          "description": "Whether the text triggered the safety filter. Currently, this is due to CSAI triggering or one of four categories (derogatory, sexual, toxic, violent) having a score over the filter threshold."
        },
        "filtered": {
          "type": "boolean",
          "description": "Whether the text should be filtered and not shown to the end user. This is determined based on a combination of `triggered_recitation`, `triggered_blocklist`, `language_filter_result`, and `triggered_safety_filter`."
        },
        "aidaRecitationResult": {
          "description": "Recitation result from Aida recitation checker.",
          "$ref": "LanguageLabsAidaTrustRecitationProtoRecitationResult"
        },
        "triggeredRecitation": {
          "description": "Whether the text should be blocked by the recitation result from Aida recitation checker. It is determined from aida_recitation_result.",
          "type": "boolean"
        },
        "errorCodes": {
          "description": "The error codes indicate which RAI filters block the response.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "translationRequestInfos": {
          "description": "Translation request info during RAI for debugging purpose. Each TranslationRequestInfo corresponds to a request sent to the translation server.",
          "items": {
            "$ref": "LearningGenaiRootTranslationRequestInfo"
          },
          "type": "array"
        },
        "raiSignals": {
          "type": "array",
          "items": {
            "$ref": "CloudAiNlLlmProtoServiceRaiSignal"
          },
          "description": "The RAI signals for the text."
        },
        "blocked": {
          "deprecated": true,
          "description": "Use `triggered_blocklist`.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1ServiceAccountSpec": {
      "properties": {
        "serviceAccount": {
          "type": "string",
          "description": "Optional. Required when all below conditions are met * `enable_custom_service_account` is true; * any runtime is specified via `ResourceRuntimeSpec` on creation time, for example, Ray The users must have `iam.serviceAccounts.actAs` permission on this service account and then the specified runtime containers will run as it. Do not set this field if you want to submit jobs using custom service account to this PersistentResource after creation, but only specify the `service_account` inside the job."
        },
        "enableCustomServiceAccount": {
          "type": "boolean",
          "description": "Required. If true, custom user-managed service account is enforced to run any workloads (for example, Vertex Jobs) on the resource. Otherwise, uses the [Vertex AI Custom Code Service Agent](https://cloud.google.com/vertex-ai/docs/general/access-control#service-agents)."
        }
      },
      "id": "GoogleCloudAiplatformV1beta1ServiceAccountSpec",
      "description": "Configuration for the use of custom service account to run the workloads.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1ListFeaturestoresResponse": {
      "type": "object",
      "description": "Response message for FeaturestoreService.ListFeaturestores.",
      "properties": {
        "featurestores": {
          "description": "The Featurestores matching the request.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1Featurestore"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as ListFeaturestoresRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleCloudAiplatformV1beta1ListFeaturestoresResponse"
    },
    "GoogleCloudAiplatformV1beta1ListIndexEndpointsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results. Pass to ListIndexEndpointsRequest.page_token to obtain that page."
        },
        "indexEndpoints": {
          "description": "List of IndexEndpoints in the requested page.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1IndexEndpoint"
          }
        }
      },
      "description": "Response message for IndexEndpointService.ListIndexEndpoints.",
      "id": "GoogleCloudAiplatformV1beta1ListIndexEndpointsResponse",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1BatchCancelPipelineJobsResponse": {
      "description": "Response message for PipelineService.BatchCancelPipelineJobs.",
      "properties": {
        "pipelineJobs": {
          "description": "PipelineJobs cancelled.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1PipelineJob"
          }
        }
      },
      "id": "GoogleCloudAiplatformV1beta1BatchCancelPipelineJobsResponse",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1CreateFeaturestoreOperationMetadata": {
      "description": "Details of operations that perform create Featurestore.",
      "properties": {
        "genericMetadata": {
          "description": "Operation metadata for Featurestore.",
          "$ref": "GoogleCloudAiplatformV1beta1GenericOperationMetadata"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1CreateFeaturestoreOperationMetadata",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1StudySpecDecayCurveAutomatedStoppingSpec": {
      "properties": {
        "useElapsedDuration": {
          "description": "True if Measurement.elapsed_duration is used as the x-axis of each Trials Decay Curve. Otherwise, Measurement.step_count will be used as the x-axis.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "The decay curve automated stopping rule builds a Gaussian Process Regressor to predict the final objective value of a Trial based on the already completed Trials and the intermediate measurements of the current Trial. Early stopping is requested for the current Trial if there is very low probability to exceed the optimal value found so far.",
      "id": "GoogleCloudAiplatformV1beta1StudySpecDecayCurveAutomatedStoppingSpec"
    },
    "GoogleCloudAiplatformV1beta1GroundingAttribution": {
      "description": "Grounding attribution.",
      "id": "GoogleCloudAiplatformV1beta1GroundingAttribution",
      "properties": {
        "confidenceScore": {
          "readOnly": true,
          "format": "float",
          "type": "number",
          "description": "Optional. Output only. Confidence score of the attribution. Ranges from 0 to 1. 1 is the most confident."
        },
        "web": {
          "description": "Optional. Attribution from the web.",
          "$ref": "GoogleCloudAiplatformV1beta1GroundingAttributionWeb"
        },
        "retrievedContext": {
          "description": "Optional. Attribution from context retrieved by the retrieval tools.",
          "$ref": "GoogleCloudAiplatformV1beta1GroundingAttributionRetrievedContext"
        },
        "segment": {
          "description": "Output only. Segment of the content this attribution belongs to.",
          "$ref": "GoogleCloudAiplatformV1beta1Segment",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1ListExtensionsResponse": {
      "description": "Response message for ExtensionRegistryService.ListExtensions",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass to ListExtensionsRequest.page_token to obtain that page."
        },
        "extensions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1Extension"
          },
          "description": "List of Extension in the requested page."
        }
      },
      "id": "GoogleCloudAiplatformV1beta1ListExtensionsResponse",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1PublisherModelResourceReference": {
      "id": "GoogleCloudAiplatformV1beta1PublisherModelResourceReference",
      "description": "Reference to a resource.",
      "properties": {
        "description": {
          "deprecated": true,
          "description": "Description of the resource.",
          "type": "string"
        },
        "resourceName": {
          "type": "string",
          "description": "The resource name of the Google Cloud resource."
        },
        "useCase": {
          "deprecated": true,
          "type": "string",
          "description": "Use case (CUJ) of the resource."
        },
        "uri": {
          "type": "string",
          "description": "The URI of the resource."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1QuestionAnsweringRelevanceSpec": {
      "properties": {
        "version": {
          "description": "Optional. Which version to use for evaluation.",
          "type": "integer",
          "format": "int32"
        },
        "useReference": {
          "type": "boolean",
          "description": "Optional. Whether to use instance.reference to compute question answering relevance."
        }
      },
      "id": "GoogleCloudAiplatformV1beta1QuestionAnsweringRelevanceSpec",
      "description": "Spec for question answering relevance metric.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1ListModelVersionsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListModelVersionsRequest.page_token to obtain that page.",
          "type": "string"
        },
        "models": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1Model"
          },
          "type": "array",
          "description": "List of Model versions in the requested page. In the returned Model name field, version ID instead of regvision tag will be included."
        }
      },
      "id": "GoogleCloudAiplatformV1beta1ListModelVersionsResponse",
      "description": "Response message for ModelService.ListModelVersions",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1UpsertDatapointsResponse": {
      "properties": {},
      "id": "GoogleCloudAiplatformV1beta1UpsertDatapointsResponse",
      "description": "Response message for IndexService.UpsertDatapoints",
      "type": "object"
    },
    "LearningGenaiRecitationSegmentResult": {
      "id": "LearningGenaiRecitationSegmentResult",
      "description": "The recitation result for each segment in a given input.",
      "properties": {
        "docAttribution": {
          "$ref": "LearningGenaiRecitationDocAttribution",
          "description": "populated when recitation_action == CITE"
        },
        "docOccurrences": {
          "format": "int32",
          "type": "integer",
          "description": "number of documents that contained this segment"
        },
        "endIndex": {
          "format": "int32",
          "type": "integer"
        },
        "segmentRecitationAction": {
          "enum": [
            "ACTION_UNSPECIFIED",
            "CITE",
            "BLOCK",
            "NO_ACTION",
            "EXEMPT_FOUND_IN_PROMPT"
          ],
          "enumDescriptions": [
            "",
            "indicate that attribution must be shown for a Segment",
            "indicate that a Segment should be blocked from being used",
            "for tagging high-frequency code snippets",
            "The recitation was found in prompt and is exempted from overall results"
          ],
          "type": "string"
        },
        "attributionDataset": {
          "enumDescriptions": [
            "",
            "Wikipedia article Tensorflow datasets used by Tarzan and maintained by TFDS team.",
            "Webdocs that have been filtered from the docjoins by the Tarzan team for use in the Tarzan training set.",
            "",
            "",
            "'Full view' books dataset maintained by Oceanographers team, meaning 'ok to view the book in full in all localities'. Largely the same as 'public domain', but with potentially subtle distinction.",
            "Filtered private books used by ULM: http://google3/learning/multipod/pax/lm/params/ulm/tasks.py;l=123;rcl=494241309. which corresponds with /cns/mf-d/home/multipod-language-data/private_books/books_filtered_en_resharded@50000",
            "Google news dataset referenced in: http://google3/learning/brain/research/conversation/meena/t5/pretrain_tasks.py;l=922;rcl=496534668",
            "The docjoins data for ULM /cns/yo-d/home/multipod-language-data/docjoins/rs=6.3/20220728/100B_docstructure_split/examples_en.tfrecord_lattice_05_score_01_HFV13@3929",
            "",
            "Meena full conversations. http://google3/learning/brain/research/conversation/meena/t5/pretrain_mixtures.py;l=675;rcl=496583228",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Academic dataset of math text. http://google3/learning/brain/research/conversation/meena/seqio/mixtures/experimental/bard.py;rcl=500222380",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Datasets managed by the Goodall team: deepmind-goodall@google.com",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Datasets used by Codepoet",
            "Datasets used by Vertex",
            "",
            "",
            "Datasets used by Gemini Public data",
            "",
            "",
            "",
            "Public webdocs",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Github",
            "",
            "",
            "",
            "",
            "",
            "Arxiv",
            "Others",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Gemini V1, order by precedence. Wikipedia",
            "",
            "Public webdocs",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "GitHub dataset with license info. We prefer this to help cite proper licenses for code recitation.",
            "",
            "",
            "",
            "",
            "",
            "",
            "ArXiv",
            "Citable misc",
            "",
            "",
            "Non-public books",
            "",
            "",
            "Other",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Duet AI finetune datasets, order by precedence.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Bard ARCADE finetune dataset",
            "Mobile assistant finetune datasets.",
            "",
            "Genesis fine tuned datasets.",
            "LABS AQA fine-tune datasets.",
            "",
            "",
            "Gemini multimodal instruction tune(IT) and fine tune(FT) datasets datasets.",
            "",
            "",
            "",
            "",
            "",
            "",
            "Gemini IT 1.2.7 datasets",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Gemit Bridge ULM FT dataset",
            "Cloud Security fine tuned datasets.",
            "",
            "",
            "Gemini Goose FT datasets.",
            "",
            "Gemini V2 datasets",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Cloud gemit pro FT datasets.",
            "",
            "",
            "",
            "",
            "",
            "",
            "Cloud gemit ultra FT datasets.",
            "",
            "",
            "",
            "",
            "Gemini V1 tail patch translation.",
            "",
            "",
            "",
            "Gemini V1 tail patch others.",
            ""
          ],
          "description": "The dataset the segment came from.",
          "type": "string",
          "enum": [
            "DATASET_UNSPECIFIED",
            "WIKIPEDIA",
            "WEBDOCS",
            "WEBDOCS_FINETUNE",
            "GITHUB_MIRROR",
            "BOOKS_FULL_VIEW",
            "BOOKS_PRIVATE",
            "GNEWS",
            "ULM_DOCJOINS",
            "ULM_DOCJOINS_DEDUPED",
            "MEENA_FC",
            "PODCAST",
            "AQUA",
            "WEB_ASR",
            "BARD_GOLDEN",
            "COMMON_SENSE_REASONING",
            "MATH",
            "MATH_REASONING",
            "CLEAN_ARXIV",
            "LAMDA_FACTUALITY_E2E_QUERY_GENERATION",
            "LAMDA_FACTUALITY_E2E_RESPONSE_GENERATION",
            "MASSIVE_FORUM_THREAD_SCORED_BARD",
            "MASSIVE_FORUM_THREAD_SCORED_LONG_200",
            "MASSIVE_FORUM_THREAD_SCORED_LONG_500",
            "DOCUMENT_CHUNKS",
            "MEENA_RESEARCH_PHASE_GOLDEN_MARKDOWN",
            "MEENA_RESEARCH_PHASE_GOOGLERS",
            "MEENA_RESPONSE_SAFETY_HUMAN_GEN",
            "MEENA_RESPONSE_SAFETY_SCHEMA_NO_BROADCAST",
            "MEENA_RESPONSE_SAFETY_V3_HUMAN_GEN2",
            "MEENA_RESPONSE_SAFETY_V3_SCHEMA_NO_BROADCAST",
            "LAMDA_FACTUALITY_TRIGGER",
            "LAMDA_SAFETY_V2_SCHEMA_NO_BROADCAST",
            "LAMDA_SSI_DISCRIMINATIVE",
            "ASSISTANT_PERSONALITY_SAFETY",
            "PODCAST_FINETUNE_DIALOG",
            "WORLD_QUERY_GENERATOR",
            "C4_JOINED_DOCJOINS",
            "HOL4_THEORIES",
            "HOL_LIGHT_THEORIES",
            "HOLSTEPS",
            "ISABELLE_STEP",
            "ISABELLE_THEORIES",
            "LEAN_MATHLIB_THEORIES",
            "LEAN_STEP",
            "MIZAR_THEORIES",
            "COQ_STEP",
            "COQ_THEORIES",
            "AMPS_KHAN",
            "AMPS_MATHEMATICA",
            "CODEY_CODE",
            "CODE_QA_SE",
            "CODE_QA_SO",
            "CODE_QA_FT_FORMAT",
            "CODE_QA_FT_KNOWLEDGE",
            "CODE_QA_GITHUB_FILTERED_CODE",
            "BARD_PERSONALITY_GOLDEN",
            "ULM_DOCJOINS_WITH_URLS_EN",
            "ULM_DOCJOINS_WITH_URLS_I18N",
            "GOODALL_MTV5_GITHUB",
            "GOODALL_MTV5_BOOKS",
            "GOODALL_MTV5_C4",
            "GOODALL_MTV5_WIKIPEDIA",
            "GOODALL_MW_TOP_100B",
            "GOODALL_MW_STACK_EXCHANGE",
            "GOODALL_MW_TOP_0_10B",
            "GOODALL_MW_TOP_10B_20B",
            "CODEY_NOTEBOOK_LM_PRETRAINING",
            "VERTEX_SAFE_FLAN",
            "GITHUB_MIRROR_V1_0_1",
            "GITHUB_MIRROR_V2_1_0",
            "CMS_WIKIPEDIA_LANG_FILTERED",
            "CMS_STACKOVERFLOW_MULTILINGUAL",
            "CMS_STACKEXCHANGE",
            "PUBMED",
            "GEMINI_DOCJOINS_EN_TOP10B_GCC",
            "GEMINI_DOCJOINS_EN_TOP10B_TOP20B_GCC",
            "GEMINI_DOCJOINS_EN_TOP20B_TOP100B_GCC",
            "GEMINI_DOCJOINS_EN_TOP100B_ALL_INDEXED_GCC",
            "GEMINI_DOCJOINS_I18N_TOP10B_GCC",
            "GEMINI_DOCJOINS_I18N_TOP10B_TOP20B_GCC",
            "GEMINI_DOCJOINS_I18N_TOP20B_TOP100B_GCC",
            "SIMPLIFIED_HTML_V1_GCC",
            "GEMINI_DOCJOINS_TOXICITY_TAGGED_GCC",
            "CMS_GITHUB_V4",
            "GITHUB_HTML_V4",
            "GITHUB_OTHER_V4",
            "GITHUB_LONG_TAIL_V4",
            "CMS_GITHUB_MULTIFILE_V4",
            "GITHUB_DIFFS_WITH_COMMIT_MESSAGE",
            "ULM_ARXIV",
            "NONPUB_COPYRIGHT_BOOKS_V2_70_CONF_040623_LONG_DEDUP_ENONLY",
            "NONPUB_COPYRIGHT_BOOKS_V2_70_CONF_040623_LONG_DEDUP_NONENONLY",
            "QUORA",
            "PODCASTS_ROBOTSTXT",
            "COMBINED_REDDIT",
            "CANARIES_SHUFFLED",
            "CLM_TRANSLATE_DATAV2_ALLTIERS_GCC_MIX",
            "TECHDOCS_DATA_SOURCE",
            "SCIENCE_PDF_70M_DOCS_FILTERED",
            "GEMINI_V1_CMS_WIKIPEDIA_LANG_FILTERED",
            "GEMINI_V1_WIKIPEDIA_DIFFS",
            "GEMINI_V1_DOCJOINS_EN_TOP10B_GCC_NODEDUP_050523",
            "GEMINI_V1_DOCJOINS_EN_TOP10B_TOP20B_GCC_NODEDUP_050523",
            "GEMINI_V1_DOCJOINS_EN_TOP20B_TOP100B_GCC_NODEDUP_050523",
            "GEMINI_V1_DOCJOINS_EN_TOP100B_ALL_INDEXED_GCC_NODEDUP_050523",
            "GEMINI_V1_DOCJOINS_I18N_TOP10B_GCC_050523",
            "GEMINI_V1_DOCJOINS_I18N_TOP10B_TOP20B_GCC_050523",
            "GEMINI_V1_DOCJOINS_I18N_TOP20B_TOP100B_GCC_050523",
            "GEMINI_V1_SIMPLIFIED_HTML_V2_GCC",
            "GEMINI_V1_CMS_STACKOVERFLOW_MULTILINGUAL_V2",
            "GEMINI_V1_CMS_STACKEXCHANGE_DECONT",
            "GEMINI_V1_QUORA",
            "GEMINI_V1_COMBINED_REDDIT",
            "GEMINI_V1_DOCJOIN_100B_EN_TOXICITY_TAGGED_GCC_FIXED_TAGS",
            "GEMINI_V1_PUBMED",
            "GEMINI_V1_WEB_MATH_V2",
            "GEMINI_V1_CMS_GITHUB_V7",
            "GEMINI_V1_CMS_GITHUB_DECONTAMINATED_V_7",
            "GEMINI_V1_GITHUB_DIFF_WITH_COMMIT_MESSAGE_V2",
            "GEMINI_V1_GITHUB_HTML_CSS_XML_V4",
            "GEMINI_V1_GITHUB_OTHER_V4",
            "GEMINI_V1_GITHUB_LONG_TAIL_V4",
            "GEMINI_V1_GITHUB_JUPTYER_NOTEBOOKS_SSTABLE",
            "GEMINI_V1_ULM_ARXIV_SSTABLE",
            "GEMINI_V1_PODCASTS_ROBOTSTXT",
            "GEMINI_V1_SCIENCE_PDF_68M_HQ_DOCS_GCC",
            "GEMINI_V1_GITHUB_TECHDOCS_V2",
            "GEMINI_V1_NONPUB_COPYRIGHT_BOOKS_V2_70_CONF_LONG_DEDUP_EN",
            "GEMINI_V1_NONPUB_COPYRIGHT_BOOKS_V2_70_CONF_LONG_DEDUP_NONEN",
            "GEMINI_V1_STEM_BOOKS_650K_TEXT",
            "GEMINI_V1_VQCOCA_1B_MULTIRES_M3W_V2_FILTERED",
            "GEMINI_V1_VQCOCA_1B_MULTIRES_WEBLI_EN_V4_350M_PREFIXED_FILTERED_IMAGE2TEXT",
            "GEMINI_V1_VQCOCA_1B_MULTIRES_SCREENAI_PREFIXED_FILTERED_IMAGE2TEXT",
            "GEMINI_V1_VQCOCA_1B_MULTIRES_CULTURE_PREFIXED_FILTERED_IMAGE2TEXT",
            "GEMINI_V1_VQCOCA_1B_MULTIRES_CC3M_EN_PREFIXED_IMAGE2TEXT",
            "GEMINI_V1_VQCOCA_1B_MULTIRES_CC3M_I18N_PREFIXED_IMAGE2TEXT",
            "GEMINI_V1_VQCOCA_1B_MULTIRES_OCR_EN_PREFIXED_FILTERED_IMAGE2TEXT",
            "GEMINI_V1_VQCOCA_1B_MULTIRES_OCR_NON_EN_PREFIXED_FILTERED_IMAGE2TEXT",
            "GEMINI_V1_VQCOCA_1B_MULTIRES_VTP_4F_VIDEO2TEXT_PREFIX",
            "GEMINI_V1_FORMAL_MATH_WITHOUT_HOLSTEPS_AND_MIZAR",
            "GEMINI_V1_TRANSLATE_DATAV2_ALLTIERS_GCC_MIX",
            "GEMINI_V1_CANARIES_SHUFFLED_DOCJOIN_EN_NONEN_CODE_ARXIV_TRANSLATE",
            "DUET_CLOUD_SECURITY_DOCS",
            "DUET_GITHUB_CODE_SNIPPETS",
            "DUET_GITHUB_FILES",
            "DUET_GOBYEXAMPLE",
            "DUET_GOLANG_DOCS",
            "DUET_CLOUD_DOCS_TROUBLESHOOTING_TABLES",
            "DUET_DEVSITE_DOCS",
            "DUET_CLOUD_BLOG_POSTS",
            "DUET_CLOUD_PODCAST_EPISODES",
            "DUET_YOUTUBE_VIDEOS",
            "DUET_CLOUD_SKILLS_BOOST",
            "DUET_CLOUD_DOCS",
            "DUET_CLOUD_GITHUB_CODE_SNIPPETS_GENERATED",
            "DUET_CLOUD_GITHUB_CODE_SNIPPETS_HANDWRITTEN",
            "DUET_GOOGLESQL_GENERATION",
            "DUET_CLOUD_IX_PROMPTS",
            "DUET_RAD",
            "DUET_STACKOVERFLOW_ISSUES",
            "DUET_STACKOVERFLOW_ANSWERS",
            "BARD_ARCADE_GITHUB",
            "MOBILE_ASSISTANT_MAGI_FILTERED_0825_373K",
            "MOBILE_ASSISTANT_PALM24B_FILTERED_400K",
            "GENESIS_NEWS_INSIGHTS",
            "LABS_AQA_DSCOUT",
            "LABS_AQA_TAILWIND",
            "LABS_AQA_DELEWARE",
            "GEMINI_MULTIMODAL_FT_URL",
            "GEMINI_MULTIMODAL_FT_YT",
            "GEMINI_MULTIMODAL_FT_SHUTTERSTOCK",
            "GEMINI_MULTIMODAL_FT_NONE",
            "GEMINI_MULTIMODAL_FT_OTHER",
            "GEMINI_MULTIMODAL_FT_INK",
            "GEMINI_MULTIMODAL_IT",
            "GEMINI_IT_SHUTTERSTOCK",
            "GEMINI_IT_M3W",
            "GEMINI_IT_HEDGING",
            "GEMINI_IT_DSCOUT_FACTUALITY",
            "GEMINI_IT_AQUAMUSE",
            "GEMINI_IT_SHOTGUN",
            "GEMINI_IT_ACI_BENCH",
            "GEMINI_IT_SPIDER_FILTERED",
            "GEMINI_IT_TAB_SUM_BQ",
            "GEMINI_IT_QA_WITH_URL",
            "GEMINI_IT_CODE_INSTRUCT",
            "GEMINI_IT_MED_PALM",
            "GEMINI_IT_TASK_ORIENTED_DIALOG",
            "GEMINI_IT_NIMBUS_GROUNDING_TO_PROMPT",
            "GEMINI_IT_EITL_GEN",
            "GEMINI_IT_HITL_GEN",
            "GEMINI_IT_MECH",
            "GEMINI_IT_TABLE_GEN",
            "GEMINI_IT_NIMBUS_DECIBEL",
            "GEMINI_IT_CLOUD_CODE_IF",
            "GEMINI_IT_CLOUD_EUR_LEX_JSON",
            "GEMINI_IT_CLOUD_OASST",
            "GEMINI_IT_CLOUD_SELF_INSTRUCT",
            "GEMINI_IT_CLOUD_UCS_AQUAMUSE",
            "GEMIT_BRIDGE_SUFFIX_FT",
            "CLOUD_SECURITY_PRETRAINING",
            "CLOUD_SECURITY_FINETUNING",
            "CLOUD_SECURITY_RAG_CISA",
            "GEMINI_GOOSE_PUBLIC",
            "GEMINI_GOOSE_SILOED",
            "GEMINI_V2_CMS_WIKIPEDIA_LANG_FILTERED_GCC_PII",
            "GEMINI_V2_WIKIPEDIA_DIFFS_COMPLIANT",
            "GEMINI_V2_ENGLISH_ARTICLES_TOP10B_211123_PII_FILTERED",
            "GEMINI_V2_ENGLISH_NONARTICLES_TOP10B_211123_PII_FILTERED",
            "GEMINI_V2_GEMINI_DOCJOINS_NONEN_TOP10B_111323_WITHOUT_CJKT_STOP_NONARTICLES_COMPLIANT",
            "GEMINI_V2_GEMINI_DOCJOINS_NONEN_TOP10B_111323_WITHOUT_CJKT_STOP_ARTICLES_COMPLIANT",
            "GEMINI_V2_ENGLISH_ARTICLES_TOP20B_211123_PII_FILTERED",
            "GEMINI_V2_ENGLISH_NONARTICLES_TOP20B_211123_PII_FILTERED",
            "GEMINI_V2_GEMINI_DOCJOINS_NONEN_TOP20B_111323_WITHOUT_CJKT_STOP_NONARTICLES_COMPLIANT",
            "GEMINI_V2_GEMINI_DOCJOINS_NONEN_TOP20B_111323_WITHOUT_CJKT_STOP_ARTICLES_COMPLIANT",
            "GEMINI_V2_ENGLISH_ARTICLES_TOP100B_211123_PII_FILTERED",
            "GEMINI_V2_ENGLISH_NONARTICLES_TOP100B_211123_PII_FILTERED",
            "GEMINI_V2_GEMINI_DOCJOINS_NONEN_TOP100B_111323_WITHOUT_CJKT_STOP_NONARTICLES_COMPLIANT",
            "GEMINI_V2_GEMINI_DOCJOINS_NONEN_TOP100B_111323_WITHOUT_CJKT_STOP_ARTICLES_COMPLIANT",
            "GEMINI_V2_ENGLISH_ARTICLES_TOP500B_211123_PII_FILTERED",
            "GEMINI_V2_ENGLISH_NONARTICLES_TOP500B_211123_PII_FILTERED",
            "GEMINI_V2_QUORA_COMPLIANT",
            "GEMINI_V2_FORUMS_V2_COMPLIANT",
            "GEMINI_V2_CMS_STACKOVERFLOW_MULTILINGUAL_V2_COMPLIANT",
            "GEMINI_V2_SIMPLIFIED_HTML_V2_CORRECT_FORMAT_COMPLIANT",
            "GEMINI_V2_GEMINI_DOCJOINS_TOXICITY_TAGGED_FIXED_TAGS_COMPLIANT",
            "GEMINI_V2_CODEWEB_V1_COMPLIANT",
            "GEMINI_V2_LEETCODE_GCC_PII",
            "GEMINI_V2_CODE_CONTESTS_COMPLIANT",
            "GEMINI_V2_CMS_GITHUB_MULTI_FILE_FOR_FIM_GEMBAGZ_FIXED_BYTES_LENGTHS",
            "GEMINI_V2_GITHUB_EVALED_LANGUAGES_COMPLIANT",
            "GEMINI_V2_GITHUB_NON_EVAL_HIGH_PRI_LANGUAGES_COMPLIANT",
            "GEMINI_V2_GITHUB_LOW_PRI_LANGUAGES_AND_CONFIGS_COMPLIANT",
            "GEMINI_V2_GITHUB_LONG_TAIL_AND_STRUCTURED_DATA_COMPLIANT",
            "GEMINI_V2_GITHUB_PYTHON_NOTEBOOKS_COMPLIANT",
            "GEMINI_V2_GITHUB_DIFFS_COMPLIANT",
            "GEMINI_V2_GITHUB_TECHDOCS_COMPLIANT",
            "GEMINI_V2_HIGH_QUALITY_CODE_TARGETED_DATA_COMPLIANT2",
            "GEMINI_V2_SCIENCE_PDF_68M_HQ_DOCS_DEDUP_COMPLIANT_CLEAN_TEX",
            "GEMINI_V2_ARXIV_2023_COMPLIANT",
            "GEMINI_V2_FORMAL_COMPLIANT",
            "GEMINI_V2_CMS_STACKEXCHANGE_COMPLIANT",
            "GEMINI_V2_PUBMED_COMPLIANT",
            "GEMINI_V2_WEB_MATH_V3_COMPLIANT",
            "GEMINI_V2_SCIENCEWEB_V0_GCC_PII",
            "GEMINI_V2_WEB_POLYMATH_V1_COMPLIANT",
            "GEMINI_V2_MATH_TARGETED_DATA_COMPLIANT2",
            "GEMINI_V2_BIOLOGY_TARGETED_DATA_COMPLIANT2",
            "GEMINI_V2_PHYSICS_V2_TARGETED_DATA_COMPLIANT2",
            "GEMINI_V2_CHEMISTRY_TARGETED_DATA_COMPLIANT2",
            "GEMINI_V2_MACHINE_LEARNING_TARGETED_DATA_COMPLIANT2",
            "GEMINI_V2_QA_TARGETED_DATA_COMPLIANT2",
            "GEMINI_V2_ECONOMICS_V2_TARGETED_DATA_COMPLIANT2",
            "GEMINI_V2_MEDICAL_TARGETED_DATA_COMPLIANT2",
            "GEMINI_V2_CHESS_COMPLIANT",
            "GEMINI_V2_YOUTUBE_SCIENCE_V4_FILTERED_COMPLIANT",
            "GEMINI_V2_GOALDMINE_XL_GENERATED_PLUS_GT_NO_DM_MATH_COMPLIANT",
            "GEMINI_V2_FIRSTTIMES_SCIENCE_PDF_DEDUP_HQ_LENGTH_FILTERED_COMPLIANT",
            "GEMINI_V2_PODCASTS_COMPLIANT",
            "GEMINI_V2_EN_NONSCIENCE_PDF_DEDUP_46M_DOCS_COMPLIANT",
            "GEMINI_V2_NONPUB_COPYRIGHT_BOOKS_V3_70_CONF_082323_LONG_DEDUP_ENONLY_COMPLIANT",
            "GEMINI_V2_STEM_COPYRIGHT_BOOKS_V3_111823_LONG_DEDUP_ENONLY_COMPLIANT",
            "GEMINI_V2_STEM_BOOKS_318K_TEXT_COMPLIANT",
            "GEMINI_V2_CACHED_VQCOCA_MMFT_17T_M3W_WITH_IMAGE_TOKENS_INSERTED_INTERLEAVED_COMPLIANT_PII_FILTERED",
            "GEMINI_V2_CACHED_VQCOCA_MMFT_17T_M3W_WITH_IMAGE_TOKENS_INSERTED_INTERLEAVED_COMPLIANT_PII_FILTERED_SOFT",
            "GEMINI_V2_CACHED_VQCOCA_MMFT_17T_WEBLI_EN_V4_350M_T2I_TEXT_TO_IMAGE_COMPLIANT_PII_FILTERED",
            "GEMINI_V2_CACHED_VQCOCA_MMFT_17T_SHUTTERSTOCK_IMAGE_TO_TEXT_COMPLIANT_PII_FILTERED",
            "GEMINI_V2_CACHED_VQCOCA_MMFT_17T_WEBLI_EN_V4_350M_IMAGE_TO_TEXT_COMPLIANT_PII_FILTERED",
            "GEMINI_V2_CACHED_VQCOCA_MMFT_17T_WEBLI_OCR_I18N_680M_IMAGE_TO_TEXT_COMPLIANT_PII_FILTERED",
            "GEMINI_V2_CACHED_VQCOCA_MMFT_17T_CLOUDAI_DOC_IMAGE_TO_TEXT_COMPLIANT_PII_FILTERED",
            "GEMINI_V2_CACHED_VQCOCA_MMFT_17T_SCREENAI_FULL_HTML_75M_IMAGE_TO_TEXT_COMPLIANT_PII_FILTERED",
            "GEMINI_V2_CACHED_VQCOCA_MMFT_17T_SCREENAI_V1_1_IMAGE_TO_TEXT_COMPLIANT_PII_FILTERED",
            "GEMINI_V2_CACHED_VQCOCA_MMFT_17T_WEBLI_OCR_DOC_240M_IMAGE_TO_TEXT_COMPLIANT_PII_FILTERED",
            "GEMINI_V2_CACHED_VQCOCA_MMFT_17T_SHUTTERSTOCK_VIDEO_VIDEO_TO_TEXT_COMPLIANT_PII_FILTERED",
            "GEMINI_V2_CACHED_VQCOCA_MMFT_17T_M4W_INTERLEAVED_COMPLIANT_PII_FILTERED_SOFT",
            "GEMINI_V2_CACHED_VQCOCA_MMFT_17T_CULTURE_IMAGE_TO_TEXT_COMPLIANT_PII_FILTERED",
            "GEMINI_V2_CACHED_VQCOCA_MMFT_17T_WEBLI_DETECTION_IMAGE_TO_TEXT_COMPLIANT_PII_FILTERED",
            "GEMINI_V2_CACHED_VQCOCA_MMFT_17T_WEBLI_ALT_TEXT_NONEN_500M_IMAGE_TO_TEXT_COMPLIANT_PII_FILTERED",
            "GEMINI_V2_CACHED_VQCOCA_MMFT_17T_SPATIAL_AWARE_PALI_IMAGE_TO_TEXT_COMPLIANT_PII_FILTERED",
            "GEMINI_V2_CACHED_VQCOCA_MMFT_17T_CLOUDAI_TABLE2HTML_3D_IMAGE_TO_TEXT_COMPLIANT_PII_FILTERED",
            "GEMINI_V2_CACHED_VQCOCA_MMFT_17T_TABLE2MD_V2_EN_IMAGE_TO_TEXT_COMPLIANT_PII_FILTERED",
            "GEMINI_V2_CACHED_VQCOCA_MMFT_17T_TABLE2MD_V2_NON_EN_IMAGE_TO_TEXT_COMPLIANT_PII_FILTERED",
            "GEMINI_V2_CACHED_VQCOCA_MMFT_17T_CLOUDAI_3D_DOC_IMAGE_TO_TEXT_COMPLIANT_PII_FILTERED",
            "GEMINI_V2_CACHED_VQCOCA_MMFT_17T_CC3M_IMAGE_TO_TEXT_COMPLIANT_PII_FILTERED",
            "GEMINI_V2_CACHED_VQCOCA_MMFT_17T_INFOGRAPHICS_LARGE_WEB_IMAGE_TO_TEXT_COMPLIANT_PII_FILTERED",
            "GEMINI_V2_CACHED_VQCOCA_MMFT_17T_BIORXIV_IMAGE_TO_TEXT_COMPLIANT_PII_FILTERED",
            "GEMINI_V2_CACHED_VQCOCA_MMFT_17T_PHOTOMATH_IM2SOL_PROBLEM_AND_SOLUTION_IMAGE_TO_TEXT_COMPLIANT_PII_FILTERED",
            "GEMINI_V2_CACHED_VQCOCA_MMFT_17T_PLOT2TABLE_V2_IMAGE_TO_TEXT_COMPLIANT_PII_FILTERED",
            "GEMINI_V2_CACHED_VQCOCA_MMFT_17T_TIKZ_DERENDERING_MERGED_IMAGE_TO_TEXT_COMPLIANT_PII_FILTERED",
            "GEMINI_V2_CACHED_VQCOCA_MMFT_17T_CLOUDAI_TABLE2HTML_2D_IMAGE_TO_TEXT_COMPLIANT_PII_FILTERED",
            "GEMINI_V2_CACHED_VQCOCA_MMFT_17T_WIKIPEDIA_EQUATIONS_IMAGE_TO_TEXT_COMPLIANT_PII_FILTERED",
            "GEMINI_V2_CACHED_VQCOCA_MMFT_17T_PHOTOMATH_EQ2LATEX_IMAGE_TO_TEXT_COMPLIANT_PII_FILTERED",
            "GEMINI_V2_CACHED_VQCOCA_MMFT_17T_ARXIV_EQUATIONS_V2_IMAGE_TO_TEXT_COMPLIANT_PII_FILTERED",
            "GEMINI_V2_USM2B_MLPV5_YT_ASR_SUP_GEMBAGZ_V2_COMPLIANT",
            "GEMINI_V2_USM2B_MLPV5_YT_ASR_1P5M_GEMBAGZ_V2_COMPLIANT",
            "GEMINI_V2_USM2B_MLPV5_YT_ASR_4M_GEMBAGZ_V2_COMPLIANT",
            "GEMINI_V2_USM2B_MLPV5_YT_TTS_SUP_GEMBAGZ_V2_COMPLIANT",
            "GEMINI_V2_USM2B_MLPV5_YT_TTS_1P5M_GEMBAGZ_V2_COMPLIANT",
            "GEMINI_V2_USM2B_MLPV5_YT_TTS_4M_GEMBAGZ_V2_COMPLIANT",
            "GEMINI_V2_USM2B_MLPV5_PODIOSET_INTERLEAVE_ENUS_GEMBAGZ_V2_COMPLIANT",
            "GEMINI_V2_USM2B_MLPV5_PODIOSET_INTERLEAVE_I18N_GEMBAGZ_V2_COMPLIANT",
            "GEMINI_V2_USM2B_MLPV5_YT_INTERLEAVE_SCIENCE_ENUS_GEMBAGZ_V2_COMPLIANT",
            "GEMINI_V2_USM2B_MLPV5_YT_INTERLEAVE_SCIENCE_I18N_GEMBAGZ_V2_COMPLIANT",
            "GEMINI_V2_USM2B_MLPV5_YT_INTERLEAVE_1P5M_GEMBAGZ_V2_COMPLIANT",
            "GEMINI_V2_USM2B_MLPV5_YT_INTERLEAVE_HEAD_4M_GEMBAGZ_V2_COMPLIANT",
            "GEMINI_V2_CLM_TRANSLATE_DATAV3_WEB_UNWMT_INCR_MIX",
            "GEMINI_V2_NTL_NTLV4A_MONOLINGUAL_DEDUP_N5",
            "GEMINI_V2_NTL_STT_TRANSLATE_DEDUP_N5",
            "GEMINI_V2_NTL_TRANSLIT_BILEX_TRANSLATE_DEDUP_N5",
            "GEMINI_V2_NTL_SYN_BT_TRANSLATE_DEDUP_N5",
            "GEMINI_V2_NTL_SYN_FT_FIXED_TRANSLATE_DEDUP_N5",
            "GEMINI_V2_CANARIES_SHUFFLED_COMPLIANT",
            "CLOUD_GEMIT_CLOUD_FACTUALITY_GROUNDING_MAGI",
            "CLOUD_GEMIT_MT_DIALGUE_LMSYS",
            "CLOUD_GEMIT_MTS_DIALOGUE_V3",
            "CLOUD_GEMIT_COMMIT_MSG_GEN_V3",
            "CLOUD_GEMIT_CODE_IF_V1",
            "CLOUD_GEMIT_CODE_SELF_REPAIR",
            "CLOUD_GEMIT_IDENTITY",
            "CLOUD_GEMIT_SEARCH_AUGMENTED_RESPONSE_GENERATION",
            "CLOUD_GEMIT_AMPS",
            "CLOUD_GEMIT_AQUA",
            "CLOUD_GEMIT_COMMON_SENSE_REASONING_SCHEMA",
            "CLOUD_GEMIT_GSM8K_SCHEMA",
            "GEMINI_V1_TAIL_PATCH_TRANSLATION_UN",
            "GEMINI_V1_TAIL_PATCH_TRANSLATION_WMT_EUROPARL",
            "GEMINI_V1_TAIL_PATCH_TRANSLATION_WMT_NEWSCOMMENTARY",
            "GEMINI_V1_TAIL_PATCH_TRANSLATION_2021_INCR",
            "GEMINI_V1_TAIL_PATCH_GOALDMINE",
            "GEMINI_V1_TAIL_PATCH_PHOTOMATH_IM2SOL_PROBLEM_AND_SOLUTION"
          ]
        },
        "rawText": {
          "type": "string",
          "description": "The raw text in the given input that is corresponding to the segment. It will be available only when 'return_segment_raw_text' is enabled in the request options."
        },
        "displayAttributionMessage": {
          "type": "string",
          "description": "human-friendly string that contains information from doc_attribution which could be shown by clients"
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The segment boundary start (inclusive) and end index (exclusive) in the given text. In the streaming RPC, the indexes always start from the beginning of the first text in the entire stream. The indexes are measured in UTF-16 code units."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1GoogleDriveSource": {
      "type": "object",
      "description": "The Google Drive location for the input content.",
      "id": "GoogleCloudAiplatformV1beta1GoogleDriveSource",
      "properties": {
        "resourceIds": {
          "description": "Required. Google Drive resource IDs.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1GoogleDriveSourceResourceId"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1ModelEvaluationSliceSliceSliceSpec": {
      "description": "Specification for how the data should be sliced.",
      "id": "GoogleCloudAiplatformV1beta1ModelEvaluationSliceSliceSliceSpec",
      "properties": {
        "configs": {
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1beta1ModelEvaluationSliceSliceSliceSpecSliceConfig"
          },
          "type": "object",
          "description": "Mapping configuration for this SliceSpec. The key is the name of the feature. By default, the key will be prefixed by \"instance\" as a dictionary prefix for Vertex Batch Predictions output format."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1UndeployIndexOperationMetadata": {
      "description": "Runtime operation information for IndexEndpointService.UndeployIndex.",
      "properties": {
        "genericMetadata": {
          "$ref": "GoogleCloudAiplatformV1beta1GenericOperationMetadata",
          "description": "The operation generic information."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1UndeployIndexOperationMetadata"
    },
    "GoogleCloudAiplatformV1beta1ExportFeatureValuesRequestSnapshotExport": {
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Excludes Feature values with feature generation timestamp before this timestamp. If not set, retrieve oldest values kept in Feature Store. Timestamp, if present, must not have higher than millisecond precision."
        },
        "snapshotTime": {
          "type": "string",
          "description": "Exports Feature values as of this timestamp. If not set, retrieve values as of now. Timestamp, if present, must not have higher than millisecond precision.",
          "format": "google-datetime"
        }
      },
      "description": "Describes exporting the latest Feature values of all entities of the EntityType between [start_time, snapshot_time].",
      "id": "GoogleCloudAiplatformV1beta1ExportFeatureValuesRequestSnapshotExport",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1SchemaModelevaluationMetricsTrackMetricsConfidenceMetrics": {
      "description": "Metrics for a single confidence threshold.",
      "properties": {
        "mismatchRate": {
          "description": "Mismatch rate, which measures the tracking consistency, i.e. correctness of instance ID continuity.",
          "format": "float",
          "type": "number"
        },
        "confidenceThreshold": {
          "type": "number",
          "description": "The confidence threshold value used to compute the metrics.",
          "format": "float"
        },
        "boundingBoxIou": {
          "type": "number",
          "format": "float",
          "description": "Bounding box intersection-over-union precision. Measures how well the bounding boxes overlap between each other (e.g. complete overlap or just barely above iou_threshold)."
        },
        "trackingRecall": {
          "description": "Tracking recall.",
          "format": "float",
          "type": "number"
        },
        "trackingPrecision": {
          "type": "number",
          "description": "Tracking precision.",
          "format": "float"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1SchemaModelevaluationMetricsTrackMetricsConfidenceMetrics",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationTextTransformation": {
      "type": "object",
      "description": "Training pipeline will perform following transformation functions. * The text as is--no change to case, punctuation, spelling, tense, and so on. * Tokenize text to words. Convert each words to a dictionary lookup index and generate an embedding for each index. Combine the embedding of all elements into a single embedding using the mean. * Tokenization is based on unicode script boundaries. * Missing values get their own lookup index and resulting embedding. * Stop-words receive no special treatment and are not removed.",
      "id": "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationTextTransformation",
      "properties": {
        "columnName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1ReadFeatureValuesResponseFeatureDescriptor": {
      "description": "Metadata for requested Features.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1ReadFeatureValuesResponseFeatureDescriptor",
      "properties": {
        "id": {
          "description": "Feature ID.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1FeaturestoreMonitoringConfigImportFeaturesAnalysis": {
      "id": "GoogleCloudAiplatformV1beta1FeaturestoreMonitoringConfigImportFeaturesAnalysis",
      "type": "object",
      "description": "Configuration of the Featurestore's ImportFeature Analysis Based Monitoring. This type of analysis generates statistics for values of each Feature imported by every ImportFeatureValues operation.",
      "properties": {
        "anomalyDetectionBaseline": {
          "enum": [
            "BASELINE_UNSPECIFIED",
            "LATEST_STATS",
            "MOST_RECENT_SNAPSHOT_STATS",
            "PREVIOUS_IMPORT_FEATURES_STATS"
          ],
          "enumDescriptions": [
            "Should not be used.",
            "Choose the later one statistics generated by either most recent snapshot analysis or previous import features analysis. If non of them exists, skip anomaly detection and only generate a statistics.",
            "Use the statistics generated by the most recent snapshot analysis if exists.",
            "Use the statistics generated by the previous import features analysis if exists."
          ],
          "description": "The baseline used to do anomaly detection for the statistics generated by import features analysis.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Should not be used.",
            "The default behavior of whether to enable the monitoring. EntityType-level config: disabled. Feature-level config: inherited from the configuration of EntityType this Feature belongs to.",
            "Explicitly enables import features analysis. EntityType-level config: by default enables import features analysis for all Features under it. Feature-level config: enables import features analysis regardless of the EntityType-level config.",
            "Explicitly disables import features analysis. EntityType-level config: by default disables import features analysis for all Features under it. Feature-level config: disables import features analysis regardless of the EntityType-level config."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "DEFAULT",
            "ENABLED",
            "DISABLED"
          ],
          "type": "string",
          "description": "Whether to enable / disable / inherite default hebavior for import features analysis."
        }
      }
    },
    "GoogleCloudAiplatformV1beta1Tensor": {
      "type": "object",
      "properties": {
        "stringVal": {
          "items": {
            "type": "string"
          },
          "description": "STRING",
          "type": "array"
        },
        "bytesVal": {
          "type": "array",
          "description": "STRING",
          "items": {
            "type": "string",
            "format": "byte"
          }
        },
        "floatVal": {
          "type": "array",
          "description": "FLOAT",
          "items": {
            "format": "float",
            "type": "number"
          }
        },
        "shape": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array",
          "description": "Shape of the tensor."
        },
        "int64Val": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "INT64"
        },
        "uint64Val": {
          "items": {
            "type": "string",
            "format": "uint64"
          },
          "description": "UINT64",
          "type": "array"
        },
        "boolVal": {
          "type": "array",
          "items": {
            "type": "boolean"
          },
          "description": "Type specific representations that make it easy to create tensor protos in all languages. Only the representation corresponding to \"dtype\" can be set. The values hold the flattened representation of the tensor in row major order. BOOL"
        },
        "tensorVal": {
          "type": "string",
          "format": "byte",
          "description": "Serialized raw tensor content."
        },
        "intVal": {
          "description": "INT_8 INT_16 INT_32",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        },
        "doubleVal": {
          "description": "DOUBLE",
          "type": "array",
          "items": {
            "format": "double",
            "type": "number"
          }
        },
        "listVal": {
          "description": "A list of tensor values.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1Tensor"
          },
          "type": "array"
        },
        "structVal": {
          "type": "object",
          "description": "A map of string to tensor.",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1beta1Tensor"
          }
        },
        "dtype": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "BOOL",
            "STRING",
            "FLOAT",
            "DOUBLE",
            "INT8",
            "INT16",
            "INT32",
            "INT64",
            "UINT8",
            "UINT16",
            "UINT32",
            "UINT64"
          ],
          "enumDescriptions": [
            "Not a legal value for DataType. Used to indicate a DataType field has not been set.",
            "Data types that all computation devices are expected to be capable to support.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The data type of tensor.",
          "type": "string"
        },
        "uintVal": {
          "items": {
            "type": "integer",
            "format": "uint32"
          },
          "description": "UINT8 UINT16 UINT32",
          "type": "array"
        }
      },
      "description": "A tensor value type.",
      "id": "GoogleCloudAiplatformV1beta1Tensor"
    },
    "GoogleCloudAiplatformV1beta1SchemaPredictPredictionVideoObjectTrackingPredictionResult": {
      "properties": {
        "timeSegmentStart": {
          "description": "The beginning, inclusive, of the video's time segment in which the object instance has been detected. Expressed as a number of seconds as measured from the start of the video, with fractions up to a microsecond precision, and with \"s\" appended at the end.",
          "type": "string",
          "format": "google-duration"
        },
        "timeSegmentEnd": {
          "type": "string",
          "format": "google-duration",
          "description": "The end, inclusive, of the video's time segment in which the object instance has been detected. Expressed as a number of seconds as measured from the start of the video, with fractions up to a microsecond precision, and with \"s\" appended at the end."
        },
        "confidence": {
          "type": "number",
          "description": "The Model's confidence in correction of this prediction, higher value means higher confidence.",
          "format": "float"
        },
        "frames": {
          "description": "All of the frames of the video in which a single object instance has been detected. The bounding boxes in the frames identify the same object.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1SchemaPredictPredictionVideoObjectTrackingPredictionResultFrame"
          }
        },
        "displayName": {
          "description": "The display name of the AnnotationSpec that had been identified.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The resource ID of the AnnotationSpec that had been identified."
        }
      },
      "description": "Prediction output format for Video Object Tracking.",
      "id": "GoogleCloudAiplatformV1beta1SchemaPredictPredictionVideoObjectTrackingPredictionResult",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1CreateFeatureRequest": {
      "description": "Request message for FeaturestoreService.CreateFeature. Request message for FeatureRegistryService.CreateFeature.",
      "type": "object",
      "properties": {
        "feature": {
          "description": "Required. The Feature to create.",
          "$ref": "GoogleCloudAiplatformV1beta1Feature"
        },
        "parent": {
          "type": "string",
          "description": "Required. The resource name of the EntityType or FeatureGroup to create a Feature. Format for entity_type as parent: `projects/{project}/locations/{location}/featurestores/{featurestore}/entityTypes/{entity_type}` Format for feature_group as parent: `projects/{project}/locations/{location}/featureGroups/{feature_group}`"
        },
        "featureId": {
          "description": "Required. The ID to use for the Feature, which will become the final component of the Feature's resource name. This value may be up to 128 characters, and valid characters are `[a-z0-9_]`. The first character cannot be a number. The value must be unique within an EntityType/FeatureGroup.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1CreateFeatureRequest"
    },
    "GoogleCloudAiplatformV1beta1ListPublisherModelsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass to ListPublisherModels.page_token to obtain that page.",
          "type": "string"
        },
        "publisherModels": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1PublisherModel"
          },
          "description": "List of PublisherModels in the requested page.",
          "type": "array"
        }
      },
      "description": "Response message for ModelGardenService.ListPublisherModels.",
      "id": "GoogleCloudAiplatformV1beta1ListPublisherModelsResponse",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1DeploymentResourcePool": {
      "properties": {
        "dedicatedResources": {
          "description": "Required. The underlying DedicatedResources that the DeploymentResourcePool uses.",
          "$ref": "GoogleCloudAiplatformV1beta1DedicatedResources"
        },
        "createTime": {
          "description": "Output only. Timestamp when this DeploymentResourcePool was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Immutable. The resource name of the DeploymentResourcePool. Format: `projects/{project}/locations/{location}/deploymentResourcePools/{deployment_resource_pool}`",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1DeploymentResourcePool",
      "type": "object",
      "description": "A description of resources that can be shared by multiple DeployedModels, whose underlying specification consists of a DedicatedResources."
    },
    "GoogleCloudAiplatformV1beta1SchemaImageBoundingBoxAnnotation": {
      "type": "object",
      "properties": {
        "xMax": {
          "type": "number",
          "format": "double",
          "description": "The rightmost coordinate of the bounding box."
        },
        "annotationSpecId": {
[...]
