{
  "baseUrl": "https://aiplatform.googleapis.com/",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/vertex-ai/",
  "resources": {
    "publishers": {
      "resources": {
        "models": {
          "methods": {
            "list": {
              "response": {
                "$ref": "GoogleCloudAiplatformV1beta1ListPublisherModelsResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "filter": {
                  "description": "Optional. The standard list filter.",
                  "location": "query",
                  "type": "string"
                },
                "view": {
                  "type": "string",
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the BASIC view.",
                    "Include basic metadata about the publisher model, but not the full contents.",
                    "Include everything.",
                    "Include: VersionId, ModelVersionExternalName, and SupportedActions."
                  ],
                  "enum": [
                    "PUBLISHER_MODEL_VIEW_UNSPECIFIED",
                    "PUBLISHER_MODEL_VIEW_BASIC",
                    "PUBLISHER_MODEL_VIEW_FULL",
                    "PUBLISHER_MODEL_VERSION_VIEW_BASIC"
                  ],
                  "location": "query",
                  "description": "Optional. PublisherModel view specifying which fields to read."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. The standard list page size.",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. The standard list page token. Typically obtained via ListPublisherModelsResponse.next_page_token of the previous ModelGardenService.ListPublisherModels call.",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^publishers/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the Publisher from which to list the PublisherModels. Format: `publishers/{publisher}`"
                },
                "languageCode": {
                  "location": "query",
                  "description": "Optional. The IETF BCP-47 language code representing the language in which the publisher models' text information should be written in (see go/bcp47). If not set, by default English (en).",
                  "type": "string"
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A comma-separated list of fields to order by, sorted in ascending order. Use \"desc\" after a field name for descending."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/publishers/{publishersId}/models",
              "path": "v1beta1/{+parent}/models",
              "description": "Lists publisher models in Model Garden.",
              "id": "aiplatform.publishers.models.list"
            },
            "get": {
              "id": "aiplatform.publishers.models.get",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^publishers/[^/]+/models/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the PublisherModel resource. Format: `publishers/{publisher}/models/{publisher_model}`",
                  "location": "path",
                  "type": "string"
                },
                "languageCode": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The IETF BCP-47 language code representing the language in which the publisher model's text information should be written in (see go/bcp47)."
                },
                "view": {
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "PUBLISHER_MODEL_VIEW_UNSPECIFIED",
                    "PUBLISHER_MODEL_VIEW_BASIC",
                    "PUBLISHER_MODEL_VIEW_FULL",
                    "PUBLISHER_MODEL_VERSION_VIEW_BASIC"
                  ],
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the BASIC view.",
                    "Include basic metadata about the publisher model, but not the full contents.",
                    "Include everything.",
                    "Include: VersionId, ModelVersionExternalName, and SupportedActions."
                  ],
                  "description": "Optional. PublisherModel view specifying which fields to read."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/publishers/{publishersId}/models/{modelsId}",
              "httpMethod": "GET",
              "description": "Gets a Model Garden publisher model.",
              "response": {
                "$ref": "GoogleCloudAiplatformV1beta1PublisherModel"
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "exampleStores": {
              "resources": {
                "operations": {
                  "methods": {
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+name}",
                      "id": "aiplatform.projects.locations.exampleStores.operations.delete",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "description": "The name of the operation resource to be deleted.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/exampleStores/[^/]+/operations/[^/]+$",
                          "location": "path"
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/exampleStores/{exampleStoresId}/operations/{operationsId}",
                      "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "get": {
                      "path": "v1beta1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "aiplatform.projects.locations.exampleStores.operations.get",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "The name of the operation resource.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/exampleStores/[^/]+/operations/[^/]+$",
                          "required": true
                        }
                      },
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/exampleStores/{exampleStoresId}/operations/{operationsId}"
                    },
                    "wait": {
                      "parameters": {
                        "timeout": {
                          "type": "string",
                          "format": "google-duration",
                          "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                          "location": "query"
                        },
                        "name": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/exampleStores/[^/]+/operations/[^/]+$",
                          "description": "The name of the operation resource to wait on."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                      "path": "v1beta1/{+name}:wait",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/exampleStores/{exampleStoresId}/operations/{operationsId}:wait",
                      "id": "aiplatform.projects.locations.exampleStores.operations.wait",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    },
                    "cancel": {
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/exampleStores/{exampleStoresId}/operations/{operationsId}:cancel",
                      "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "httpMethod": "POST",
                      "id": "aiplatform.projects.locations.exampleStores.operations.cancel",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "The name of the operation resource to be cancelled.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/exampleStores/[^/]+/operations/[^/]+$",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+name}:cancel"
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "id": "aiplatform.projects.locations.exampleStores.operations.list",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/exampleStores/{exampleStoresId}/operations",
                      "path": "v1beta1/{+name}/operations",
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/exampleStores/[^/]+$",
                          "location": "path",
                          "description": "The name of the operation's parent resource."
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "The standard list page token.",
                          "location": "query"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "The standard list page size.",
                          "type": "integer",
                          "location": "query"
                        },
                        "filter": {
                          "type": "string",
                          "description": "The standard list filter.",
                          "location": "query"
                        }
                      }
                    }
                  }
                }
              }
            },
            "notebookRuntimeTemplates": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists NotebookRuntimeTemplates in a Location.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource name of the Location from which to list the NotebookRuntimeTemplates. Format: `projects/{project}/locations/{location}`"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. A comma-separated list of fields to order by, sorted in ascending order. Use \"desc\" after a field name for descending. Supported fields: * `display_name` * `create_time` * `update_time` Example: `display_name, create_time desc`.",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. The standard list page token. Typically obtained via ListNotebookRuntimeTemplatesResponse.next_page_token of the previous NotebookService.ListNotebookRuntimeTemplates call.",
                      "location": "query"
                    },
                    "readMask": {
                      "description": "Optional. Mask specifying which fields to read.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An expression for filtering the results of the request. For field names both snake_case and camelCase are supported. * `notebookRuntimeTemplate` supports = and !=. `notebookRuntimeTemplate` represents the NotebookRuntimeTemplate ID, i.e. the last segment of the NotebookRuntimeTemplate's resource name. * `display_name` supports = and != * `labels` supports general map functions that is: * `labels.key=value` - key:value equality * `labels.key:* or labels:key - key existence * A key including a space must be quoted. `labels.\"a key\"`. * `notebookRuntimeType` supports = and !=. notebookRuntimeType enum: [USER_DEFINED, ONE_CLICK]. Some examples: * `notebookRuntimeTemplate=notebookRuntimeTemplate123` * `displayName=\"myDisplayName\"` * `labels.myKey=\"myValue\"` * `notebookRuntimeType=USER_DEFINED`"
                    },
                    "pageSize": {
                      "description": "Optional. The standard list page size.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1beta1ListNotebookRuntimeTemplatesResponse"
                  },
                  "path": "v1beta1/{+parent}/notebookRuntimeTemplates",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/notebookRuntimeTemplates",
                  "id": "aiplatform.projects.locations.notebookRuntimeTemplates.list",
                  "httpMethod": "GET"
                },
                "getIamPolicy": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/notebookRuntimeTemplates/{notebookRuntimeTemplatesId}:getIamPolicy",
                  "path": "v1beta1/{+resource}:getIamPolicy",
                  "parameters": {
                    "options.requestedPolicyVersion": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
                    },
                    "resource": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/notebookRuntimeTemplates/[^/]+$"
                    }
                  },
                  "httpMethod": "POST",
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "response": {
                    "$ref": "GoogleIamV1Policy"
                  },
                  "id": "aiplatform.projects.locations.notebookRuntimeTemplates.getIamPolicy"
                },
                "get": {
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the NotebookRuntimeTemplate resource. Format: `projects/{project}/locations/{location}/notebookRuntimeTemplates/{notebook_runtime_template}`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/notebookRuntimeTemplates/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1beta1NotebookRuntimeTemplate"
                  },
                  "id": "aiplatform.projects.locations.notebookRuntimeTemplates.get",
                  "description": "Gets a NotebookRuntimeTemplate.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/notebookRuntimeTemplates/{notebookRuntimeTemplatesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET"
                },
                "testIamPermissions": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "aiplatform.projects.locations.notebookRuntimeTemplates.testIamPermissions",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/notebookRuntimeTemplates/{notebookRuntimeTemplatesId}:testIamPermissions",
                  "response": {
                    "$ref": "GoogleIamV1TestIamPermissionsResponse"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "httpMethod": "POST",
                  "path": "v1beta1/{+resource}:testIamPermissions",
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/notebookRuntimeTemplates/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    },
                    "permissions": {
                      "type": "string",
                      "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
                      "location": "query",
                      "repeated": true
                    }
                  }
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/notebookRuntimeTemplates/{notebookRuntimeTemplatesId}",
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the NotebookRuntimeTemplate resource to be deleted. Format: `projects/{project}/locations/{location}/notebookRuntimeTemplates/{notebook_runtime_template}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/notebookRuntimeTemplates/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a NotebookRuntimeTemplate.",
                  "httpMethod": "DELETE",
                  "id": "aiplatform.projects.locations.notebookRuntimeTemplates.delete"
                },
                "setIamPolicy": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "response": {
                    "$ref": "GoogleIamV1Policy"
                  },
                  "request": {
                    "$ref": "GoogleIamV1SetIamPolicyRequest"
                  },
                  "path": "v1beta1/{+resource}:setIamPolicy",
                  "id": "aiplatform.projects.locations.notebookRuntimeTemplates.setIamPolicy",
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/notebookRuntimeTemplates/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/notebookRuntimeTemplates/{notebookRuntimeTemplatesId}:setIamPolicy"
                },
                "create": {
                  "request": {
                    "$ref": "GoogleCloudAiplatformV1beta1NotebookRuntimeTemplate"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "aiplatform.projects.locations.notebookRuntimeTemplates.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a NotebookRuntimeTemplate.",
                  "path": "v1beta1/{+parent}/notebookRuntimeTemplates",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/notebookRuntimeTemplates",
                  "parameters": {
                    "notebookRuntimeTemplateId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. User specified ID for the notebook runtime template."
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The resource name of the Location to create the NotebookRuntimeTemplate. Format: `projects/{project}/locations/{location}`",
                      "type": "string"
                    }
                  }
                }
              }
            },
            "dataLabelingJobs": {
              "methods": {
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/dataLabelingJobs/{dataLabelingJobsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataLabelingJobs/[^/]+$",
                      "description": "Required. The name of the DataLabelingJob to be deleted. Format: `projects/{project}/locations/{location}/dataLabelingJobs/{data_labeling_job}`"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "description": "Deletes a DataLabelingJob.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "DELETE",
                  "id": "aiplatform.projects.locations.dataLabelingJobs.delete"
                },
                "cancel": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/dataLabelingJobs/{dataLabelingJobsId}:cancel",
                  "httpMethod": "POST",
                  "path": "v1beta1/{+name}:cancel",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataLabelingJobs/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the DataLabelingJob. Format: `projects/{project}/locations/{location}/dataLabelingJobs/{data_labeling_job}`",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "aiplatform.projects.locations.dataLabelingJobs.cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Cancels a DataLabelingJob. Success of cancellation is not guaranteed.",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "request": {
                    "$ref": "GoogleCloudAiplatformV1beta1CancelDataLabelingJobRequest"
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "The standard list page size."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent of the DataLabelingJob. Format: `projects/{project}/locations/{location}`"
                    },
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter. Supported fields: * `display_name` supports `=`, `!=` comparisons, and `:` wildcard. * `state` supports `=`, `!=` comparisons. * `create_time` supports `=`, `!=`,`\u003c`, `\u003c=`,`\u003e`, `\u003e=` comparisons. `create_time` must be in RFC 3339 format. * `labels` supports general map functions that is: `labels.key=value` - key:value equality `labels.key:* - key existence Some examples of using the filter are: * `state=\"JOB_STATE_SUCCEEDED\" AND display_name:\"my_job_*\"` * `state!=\"JOB_STATE_FAILED\" OR display_name=\"my_job\"` * `NOT display_name=\"my_job\"` * `create_time\u003e\"2021-05-18T00:00:00Z\"` * `labels.keyA=valueA` * `labels.keyB:*`",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "A comma-separated list of fields to order by, sorted in ascending order by default. Use `desc` after a field name for descending.",
                      "location": "query",
                      "type": "string"
                    },
                    "readMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Mask specifying which fields to read. FieldMask represents a set of symbolic field paths. For example, the mask can be `paths: \"name\"`. The \"name\" here is a field in DataLabelingJob. If this field is not set, all fields of the DataLabelingJob are returned."
                    }
                  },
                  "id": "aiplatform.projects.locations.dataLabelingJobs.list",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/dataLabelingJobs",
                  "description": "Lists DataLabelingJobs in a Location.",
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1beta1ListDataLabelingJobsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta1/{+parent}/dataLabelingJobs"
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent of the DataLabelingJob. Format: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1beta1/{+parent}/dataLabelingJobs",
                  "description": "Creates a DataLabelingJob.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "id": "aiplatform.projects.locations.dataLabelingJobs.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1beta1DataLabelingJob"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/dataLabelingJobs",
                  "request": {
                    "$ref": "GoogleCloudAiplatformV1beta1DataLabelingJob"
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1beta1DataLabelingJob"
                  },
                  "path": "v1beta1/{+name}",
                  "id": "aiplatform.projects.locations.dataLabelingJobs.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/dataLabelingJobs/{dataLabelingJobsId}",
                  "description": "Gets a DataLabelingJob.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataLabelingJobs/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the DataLabelingJob. Format: `projects/{project}/locations/{location}/dataLabelingJobs/{data_labeling_job}`"
                    }
                  }
                }
              },
              "resources": {
                "operations": {
                  "methods": {
                    "wait": {
                      "parameters": {
                        "timeout": {
                          "type": "string",
                          "location": "query",
                          "format": "google-duration",
                          "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used."
                        },
                        "name": {
                          "required": true,
                          "location": "path",
                          "description": "The name of the operation resource to wait on.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataLabelingJobs/[^/]+/operations/[^/]+$",
                          "type": "string"
                        }
                      },
                      "httpMethod": "POST",
                      "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta1/{+name}:wait",
                      "id": "aiplatform.projects.locations.dataLabelingJobs.operations.wait",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/dataLabelingJobs/{dataLabelingJobsId}/operations/{operationsId}:wait",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "aiplatform.projects.locations.dataLabelingJobs.operations.delete",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/dataLabelingJobs/{dataLabelingJobsId}/operations/{operationsId}",
                      "path": "v1beta1/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "The name of the operation resource to be deleted.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataLabelingJobs/[^/]+/operations/[^/]+$",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                    },
                    "cancel": {
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                      "id": "aiplatform.projects.locations.dataLabelingJobs.operations.cancel",
                      "path": "v1beta1/{+name}:cancel",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataLabelingJobs/[^/]+/operations/[^/]+$",
                          "description": "The name of the operation resource to be cancelled.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/dataLabelingJobs/{dataLabelingJobsId}/operations/{operationsId}:cancel",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "httpMethod": "GET",
                      "parameters": {
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "The standard list filter."
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "The standard list page size.",
                          "type": "integer",
                          "location": "query"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataLabelingJobs/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "The name of the operation's parent resource."
                        },
                        "pageToken": {
                          "description": "The standard list page token.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "id": "aiplatform.projects.locations.dataLabelingJobs.operations.list",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/dataLabelingJobs/{dataLabelingJobsId}/operations",
                      "path": "v1beta1/{+name}/operations",
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataLabelingJobs/[^/]+/operations/[^/]+$",
                          "required": true,
                          "description": "The name of the operation resource."
                        }
                      },
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v1beta1/{+name}",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/dataLabelingJobs/{dataLabelingJobsId}/operations/{operationsId}",
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "id": "aiplatform.projects.locations.dataLabelingJobs.operations.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            },
            "ragCorpora": {
              "resources": {
                "operations": {
                  "methods": {
                    "list": {
                      "id": "aiplatform.projects.locations.ragCorpora.operations.list",
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      },
                      "httpMethod": "GET",
                      "path": "v1beta1/{+name}/operations",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "The standard list page size."
                        },
                        "filter": {
                          "description": "The standard list filter.",
                          "type": "string",
                          "location": "query"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/ragCorpora/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "The name of the operation's parent resource."
                        },
                        "pageToken": {
                          "description": "The standard list page token.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/ragCorpora/{ragCorporaId}/operations",
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "delete": {
                      "id": "aiplatform.projects.locations.ragCorpora.operations.delete",
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/ragCorpora/{ragCorporaId}/operations/{operationsId}",
                      "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "The name of the operation resource to be deleted.",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/ragCorpora/[^/]+/operations/[^/]+$"
                        }
                      },
                      "path": "v1beta1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "path": "v1beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/ragCorpora/[^/]+/operations/[^/]+$",
                          "type": "string",
                          "description": "The name of the operation resource.",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/ragCorpora/{ragCorporaId}/operations/{operationsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "id": "aiplatform.projects.locations.ragCorpora.operations.get"
                    },
                    "wait": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/ragCorpora/{ragCorporaId}/operations/{operationsId}:wait",
                      "path": "v1beta1/{+name}:wait",
                      "parameters": {
                        "timeout": {
                          "type": "string",
                          "location": "query",
                          "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                          "format": "google-duration"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/ragCorpora/[^/]+/operations/[^/]+$",
                          "location": "path",
                          "description": "The name of the operation resource to wait on.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "httpMethod": "POST",
                      "id": "aiplatform.projects.locations.ragCorpora.operations.wait",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done."
                    },
                    "cancel": {
                      "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                      "path": "v1beta1/{+name}:cancel",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/ragCorpora/{ragCorporaId}/operations/{operationsId}:cancel",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "id": "aiplatform.projects.locations.ragCorpora.operations.cancel",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "The name of the operation resource to be cancelled.",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/ragCorpora/[^/]+/operations/[^/]+$"
                        }
                      }
                    }
                  }
                },
                "ragFiles": {
                  "resources": {
                    "operations": {
                      "methods": {
                        "delete": {
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/ragCorpora/{ragCorporaId}/ragFiles/{ragFilesId}/operations/{operationsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1beta1/{+name}",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "name": {
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/ragCorpora/[^/]+/ragFiles/[^/]+/operations/[^/]+$",
                              "location": "path",
                              "description": "The name of the operation resource to be deleted."
                            }
                          },
                          "httpMethod": "DELETE",
                          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                          "id": "aiplatform.projects.locations.ragCorpora.ragFiles.operations.delete"
                        },
                        "get": {
                          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "aiplatform.projects.locations.ragCorpora.ragFiles.operations.get",
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/ragCorpora/{ragCorporaId}/ragFiles/{ragFilesId}/operations/{operationsId}",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "parameters": {
                            "name": {
                              "description": "The name of the operation resource.",
                              "type": "string",
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/ragCorpora/[^/]+/ragFiles/[^/]+/operations/[^/]+$"
                            }
                          },
                          "path": "v1beta1/{+name}"
                        },
                        "wait": {
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "httpMethod": "POST",
                          "parameters": {
                            "timeout": {
                              "location": "query",
                              "type": "string",
                              "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                              "format": "google-duration"
                            },
                            "name": {
                              "description": "The name of the operation resource to wait on.",
                              "type": "string",
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/ragCorpora/[^/]+/ragFiles/[^/]+/operations/[^/]+$"
                            }
                          },
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/ragCorpora/{ragCorporaId}/ragFiles/{ragFilesId}/operations/{operationsId}:wait",
                          "path": "v1beta1/{+name}:wait",
                          "id": "aiplatform.projects.locations.ragCorpora.ragFiles.operations.wait",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done."
                        },
                        "list": {
                          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1beta1/{+name}/operations",
                          "id": "aiplatform.projects.locations.ragCorpora.ragFiles.operations.list",
                          "response": {
                            "$ref": "GoogleLongrunningListOperationsResponse"
                          },
                          "parameters": {
                            "filter": {
                              "type": "string",
                              "location": "query",
                              "description": "The standard list filter."
                            },
                            "pageSize": {
                              "description": "The standard list page size.",
                              "type": "integer",
                              "format": "int32",
                              "location": "query"
                            },
                            "pageToken": {
                              "description": "The standard list page token.",
                              "location": "query",
                              "type": "string"
                            },
                            "name": {
                              "type": "string",
                              "description": "The name of the operation's parent resource.",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/ragCorpora/[^/]+/ragFiles/[^/]+$",
                              "required": true
                            }
                          },
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/ragCorpora/{ragCorporaId}/ragFiles/{ragFilesId}/operations"
                        },
                        "cancel": {
                          "path": "v1beta1/{+name}:cancel",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                          "id": "aiplatform.projects.locations.ragCorpora.ragFiles.operations.cancel",
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/ragCorpora/{ragCorporaId}/ragFiles/{ragFilesId}/operations/{operationsId}:cancel",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/ragCorpora/[^/]+/ragFiles/[^/]+/operations/[^/]+$",
                              "required": true,
                              "description": "The name of the operation resource to be cancelled."
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "POST"
                        }
                      }
                    }
                  }
                }
              }
            },
            "datasets": {
              "resources": {
                "savedQueries": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "readMask": {
                          "format": "google-fieldmask",
                          "type": "string",
                          "description": "Mask specifying which fields to read.",
                          "location": "query"
                        },
                        "orderBy": {
                          "location": "query",
                          "description": "A comma-separated list of fields to order by, sorted in ascending order. Use \"desc\" after a field name for descending.",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "The standard list page size.",
                          "location": "query",
                          "format": "int32"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "The standard list page token.",
                          "location": "query"
                        },
                        "filter": {
                          "description": "The standard list filter.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                          "description": "Required. The resource name of the Dataset to list SavedQueries from. Format: `projects/{project}/locations/{location}/datasets/{dataset}`",
                          "type": "string",
                          "required": true
                        }
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists SavedQueries in a Dataset.",
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1beta1ListSavedQueriesResponse"
                      },
                      "path": "v1beta1/{+parent}/savedQueries",
                      "id": "aiplatform.projects.locations.datasets.savedQueries.list",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/savedQueries"
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/savedQueries/[^/]+$",
                          "location": "path",
                          "description": "Required. The resource name of the SavedQuery to delete. Format: `projects/{project}/locations/{location}/datasets/{dataset}/savedQueries/{saved_query}`",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "DELETE",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/savedQueries/{savedQueriesId}",
                      "description": "Deletes a SavedQuery.",
                      "id": "aiplatform.projects.locations.datasets.savedQueries.delete",
                      "path": "v1beta1/{+name}"
                    }
                  },
                  "resources": {
                    "operations": {
                      "methods": {
                        "get": {
                          "httpMethod": "GET",
                          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                          "id": "aiplatform.projects.locations.datasets.savedQueries.operations.get",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1beta1/{+name}",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/savedQueries/{savedQueriesId}/operations/{operationsId}",
                          "parameters": {
                            "name": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/savedQueries/[^/]+/operations/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "description": "The name of the operation resource."
                            }
                          }
                        },
                        "cancel": {
                          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                          "path": "v1beta1/{+name}:cancel",
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/savedQueries/{savedQueriesId}/operations/{operationsId}:cancel",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "name": {
                              "location": "path",
                              "description": "The name of the operation resource to be cancelled.",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/savedQueries/[^/]+/operations/[^/]+$"
                            }
                          },
                          "id": "aiplatform.projects.locations.datasets.savedQueries.operations.cancel",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "delete": {
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/savedQueries/{savedQueriesId}/operations/{operationsId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1beta1/{+name}",
                          "httpMethod": "DELETE",
                          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                          "id": "aiplatform.projects.locations.datasets.savedQueries.operations.delete",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "parameters": {
                            "name": {
                              "description": "The name of the operation resource to be deleted.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/savedQueries/[^/]+/operations/[^/]+$",
                              "type": "string",
                              "required": true,
                              "location": "path"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "list": {
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/savedQueries/{savedQueriesId}/operations",
                          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "aiplatform.projects.locations.datasets.savedQueries.operations.list",
                          "path": "v1beta1/{+name}/operations",
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "GoogleLongrunningListOperationsResponse"
                          },
                          "parameters": {
                            "name": {
                              "description": "The name of the operation's parent resource.",
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/savedQueries/[^/]+$"
                            },
                            "pageSize": {
                              "description": "The standard list page size.",
                              "type": "integer",
                              "format": "int32",
                              "location": "query"
                            },
                            "filter": {
                              "location": "query",
                              "type": "string",
                              "description": "The standard list filter."
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query",
                              "description": "The standard list page token."
                            }
                          }
                        },
                        "wait": {
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/savedQueries/{savedQueriesId}/operations/{operationsId}:wait",
                          "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "aiplatform.projects.locations.datasets.savedQueries.operations.wait",
                          "parameters": {
                            "name": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/savedQueries/[^/]+/operations/[^/]+$",
                              "location": "path",
                              "description": "The name of the operation resource to wait on.",
                              "type": "string"
                            },
                            "timeout": {
                              "type": "string",
                              "format": "google-duration",
                              "location": "query",
                              "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used."
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1beta1/{+name}:wait"
                        }
                      }
                    }
                  }
                },
                "datasetVersions": {
                  "methods": {
                    "restore": {
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the DatasetVersion resource. Format: `projects/{project}/locations/{location}/datasets/{dataset}/datasetVersions/{dataset_version}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/datasetVersions/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/datasetVersions/{datasetVersionsId}:restore",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "description": "Restores a dataset version.",
                      "id": "aiplatform.projects.locations.datasets.datasetVersions.restore",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+name}:restore"
                    },
                    "create": {
                      "request": {
                        "$ref": "GoogleCloudAiplatformV1beta1DatasetVersion"
                      },
                      "description": "Create a version from a Dataset.",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/datasetVersions",
                      "parameters": {
                        "parent": {
                          "description": "Required. The name of the Dataset resource. Format: `projects/{project}/locations/{location}/datasets/{dataset}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "aiplatform.projects.locations.datasets.datasetVersions.create",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v1beta1/{+parent}/datasetVersions"
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/datasetVersions",
                      "httpMethod": "GET",
                      "path": "v1beta1/{+parent}/datasetVersions",
                      "description": "Lists DatasetVersions in a Dataset.",
                      "parameters": {
                        "readMask": {
                          "description": "Optional. Mask specifying which fields to read.",
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                          "required": true,
                          "description": "Required. The resource name of the Dataset to list DatasetVersions from. Format: `projects/{project}/locations/{location}/datasets/{dataset}`",
                          "type": "string",
                          "location": "path"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The standard list filter."
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "Optional. The standard list page size."
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A comma-separated list of fields to order by, sorted in ascending order. Use \"desc\" after a field name for descending."
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. The standard list page token.",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1beta1ListDatasetVersionsResponse"
                      },
                      "id": "aiplatform.projects.locations.datasets.datasetVersions.list"
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/datasetVersions/[^/]+$",
                          "location": "path",
                          "description": "Required. The resource name of the Dataset version to delete. Format: `projects/{project}/locations/{location}/datasets/{dataset}/datasetVersions/{dataset_version}`",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes a Dataset version.",
                      "path": "v1beta1/{+name}",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/datasetVersions/{datasetVersionsId}",
                      "id": "aiplatform.projects.locations.datasets.datasetVersions.delete",
                      "httpMethod": "DELETE"
                    },
                    "get": {
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/datasetVersions/{datasetVersionsId}",
                      "path": "v1beta1/{+name}",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1beta1DatasetVersion"
                      },
                      "description": "Gets a Dataset version.",
                      "id": "aiplatform.projects.locations.datasets.datasetVersions.get",
                      "parameters": {
                        "readMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "description": "Mask specifying which fields to read.",
                          "type": "string"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/datasetVersions/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource name of the Dataset version to delete. Format: `projects/{project}/locations/{location}/datasets/{dataset}/datasetVersions/{dataset_version}`"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                },
                "annotationSpecs": {
                  "resources": {
                    "operations": {
                      "methods": {
                        "wait": {
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "aiplatform.projects.locations.datasets.annotationSpecs.operations.wait",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "The name of the operation resource to wait on.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/annotationSpecs/[^/]+/operations/[^/]+$"
                            },
                            "timeout": {
                              "location": "query",
                              "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                              "format": "google-duration",
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/annotationSpecs/{annotationSpecsId}/operations/{operationsId}:wait",
                          "path": "v1beta1/{+name}:wait"
                        },
                        "get": {
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/annotationSpecs/{annotationSpecsId}/operations/{operationsId}",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/annotationSpecs/[^/]+/operations/[^/]+$",
                              "description": "The name of the operation resource.",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1beta1/{+name}",
                          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "httpMethod": "GET",
                          "id": "aiplatform.projects.locations.datasets.annotationSpecs.operations.get",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "cancel": {
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "aiplatform.projects.locations.datasets.annotationSpecs.operations.cancel",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/annotationSpecs/{annotationSpecsId}/operations/{operationsId}:cancel",
                          "path": "v1beta1/{+name}:cancel",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "description": "The name of the operation resource to be cancelled.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/annotationSpecs/[^/]+/operations/[^/]+$",
                              "location": "path"
                            }
                          },
                          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "delete": {
                          "httpMethod": "DELETE",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "id": "aiplatform.projects.locations.datasets.annotationSpecs.operations.delete",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/annotationSpecs/[^/]+/operations/[^/]+$",
                              "description": "The name of the operation resource to be deleted.",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "path": "v1beta1/{+name}",
                          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/annotationSpecs/{annotationSpecsId}/operations/{operationsId}",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "list": {
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/annotationSpecs/{annotationSpecsId}/operations",
                          "response": {
                            "$ref": "GoogleLongrunningListOperationsResponse"
                          },
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+/annotationSpecs/[^/]+$",
                              "location": "path",
                              "description": "The name of the operation's parent resource.",
                              "type": "string",
                              "required": true
                            },
                            "pageSize": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The standard list page size.",
                              "location": "query"
                            },
                            "filter": {
                              "description": "The standard list filter.",
                              "type": "string",
                              "location": "query"
                            },
                            "pageToken": {
                              "location": "query",
                              "description": "The standard list page token.",
                              "type": "string"
                            }
                          },
                          "id": "aiplatform.projects.locations.datasets.annotationSpecs.operations.list",
                          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                          "path": "v1beta1/{+name}/operations"
                        }
                      }
                    }
                  },
[...]
