{
  "servicePath": "",
  "version_module": true,
  "version": "v1",
  "id": "aiplatform:v1",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "endpoints": [
    {
      "location": "asia-east1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-east1-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://asia-east2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "asia-east2"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://asia-northeast1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-northeast2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "asia-northeast2"
    },
    {
      "endpointUrl": "https://asia-northeast3-aiplatform.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-south1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "asia-south1"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://asia-southeast1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "location": "asia-southeast2",
      "endpointUrl": "https://asia-southeast2-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://australia-southeast1-aiplatform.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "location": "australia-southeast2",
      "endpointUrl": "https://australia-southeast2-aiplatform.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-central2-aiplatform.googleapis.com/",
      "location": "europe-central2"
    },
    {
      "endpointUrl": "https://europe-north1-aiplatform.googleapis.com/",
      "location": "europe-north1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-southwest1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-southwest1"
    },
    {
      "endpointUrl": "https://europe-west1-aiplatform.googleapis.com/",
      "location": "europe-west1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-west2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-west2"
    },
    {
      "endpointUrl": "https://europe-west3-aiplatform.googleapis.com/",
      "location": "europe-west3",
      "description": "Locational Endpoint"
    },
    {
      "location": "europe-west4",
      "endpointUrl": "https://europe-west4-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west6-aiplatform.googleapis.com/",
      "location": "europe-west6"
    },
    {
      "endpointUrl": "https://europe-west8-aiplatform.googleapis.com/",
      "location": "europe-west8",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west9-aiplatform.googleapis.com/",
      "location": "europe-west9"
    },
    {
      "description": "Locational Endpoint",
      "location": "me-west1",
      "endpointUrl": "https://me-west1-aiplatform.googleapis.com/"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://northamerica-northeast1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "location": "northamerica-northeast2",
      "endpointUrl": "https://northamerica-northeast2-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://southamerica-east1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "southamerica-east1"
    },
    {
      "location": "southamerica-west1",
      "endpointUrl": "https://southamerica-west1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-central1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "us-central1"
    },
    {
      "description": "Locational Endpoint",
      "location": "us-central2",
      "endpointUrl": "https://us-central2-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://us-east1-aiplatform.googleapis.com/",
      "location": "us-east1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-east4-aiplatform.googleapis.com/",
      "location": "us-east4",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "location": "us-south1",
      "endpointUrl": "https://us-south1-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://us-west1-aiplatform.googleapis.com/",
      "location": "us-west1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-west2-aiplatform.googleapis.com/",
      "location": "us-west2",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "location": "us-west3",
      "endpointUrl": "https://us-west3-aiplatform.googleapis.com/"
    },
    {
      "location": "us-west4",
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-west4-aiplatform.googleapis.com/"
    }
  ],
  "ownerName": "Google",
  "title": "Vertex AI API",
  "rootUrl": "https://aiplatform.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "baseUrl": "https://aiplatform.googleapis.com/",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://aiplatform.mtls.googleapis.com/",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "default": "json",
      "description": "Data format for response."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "schemas": {
    "GoogleCloudAiplatformV1SchemaTimeSeriesDatasetMetadataInputConfig": {
      "id": "GoogleCloudAiplatformV1SchemaTimeSeriesDatasetMetadataInputConfig",
      "description": "The time series Dataset's data source. The Dataset doesn't store the data directly, but only pointer(s) to its data.",
      "properties": {
        "gcsSource": {
          "$ref": "GoogleCloudAiplatformV1SchemaTimeSeriesDatasetMetadataGcsSource"
        },
        "bigquerySource": {
          "$ref": "GoogleCloudAiplatformV1SchemaTimeSeriesDatasetMetadataBigQuerySource"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1FindNeighborsRequestQuery": {
      "type": "object",
      "properties": {
        "datapoint": {
          "$ref": "GoogleCloudAiplatformV1IndexDatapoint",
          "description": "Required. The datapoint/vector whose nearest neighbors should be searched for."
        },
        "neighborCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of nearest neighbors to be retrieved from database for each query. If not set, will use the default from the service configuration (https://cloud.google.com/vertex-ai/docs/matching-engine/configuring-indexes#nearest-neighbor-search-config)."
        },
        "perCrowdingAttributeNeighborCount": {
          "description": "Crowding is a constraint on a neighbor list produced by nearest neighbor search requiring that no more than some value k' of the k neighbors returned have the same value of crowding_attribute. It's used for improving result diversity. This field is the maximum number of matches with the same crowding tag.",
          "type": "integer",
          "format": "int32"
        },
        "fractionLeafNodesToSearchOverride": {
          "description": "The fraction of the number of leaves to search, set at query time allows user to tune search performance. This value increase result in both search accuracy and latency increase. The value should be between 0.0 and 1.0. If not set or set to 0.0, query uses the default value specified in NearestNeighborSearchConfig.TreeAHConfig.fraction_leaf_nodes_to_search.",
          "format": "double",
          "type": "number"
        },
        "approximateNeighborCount": {
          "type": "integer",
          "description": "The number of neighbors to find via approximate search before exact reordering is performed. If not set, the default value from scam config is used; if set, this value must be \u003e 0.",
          "format": "int32"
        }
      },
      "description": "A query to find a number of the nearest neighbors (most similar vectors) of a vector.",
      "id": "GoogleCloudAiplatformV1FindNeighborsRequestQuery"
    },
    "GoogleCloudAiplatformV1AutomaticResources": {
      "description": "A description of resources that to large degree are decided by Vertex AI, and require only a modest additional configuration. Each Model supporting these resources documents its specific guidelines.",
      "type": "object",
      "properties": {
        "maxReplicaCount": {
          "type": "integer",
          "format": "int32",
          "description": "Immutable. The maximum number of replicas this DeployedModel may be deployed on when the traffic against it increases. If the requested value is too large, the deployment will error, but if deployment succeeds then the ability to scale the model to that many replicas is guaranteed (barring service outages). If traffic against the DeployedModel increases beyond what its replicas at maximum may handle, a portion of the traffic will be dropped. If this value is not provided, a no upper bound for scaling under heavy traffic will be assume, though Vertex AI may be unable to scale beyond certain replica number."
        },
        "minReplicaCount": {
          "description": "Immutable. The minimum number of replicas this DeployedModel will be always deployed on. If traffic against it increases, it may dynamically be deployed onto more replicas up to max_replica_count, and as traffic decreases, some of these extra replicas may be freed. If the requested value is too large, the deployment will error.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudAiplatformV1AutomaticResources"
    },
    "GoogleCloudAiplatformV1EntityIdSelector": {
      "description": "Selector for entityId. Getting ids from the given source.",
      "id": "GoogleCloudAiplatformV1EntityIdSelector",
      "type": "object",
      "properties": {
        "entityIdField": {
          "description": "Source column that holds entity IDs. If not provided, entity IDs are extracted from the column named entity_id.",
          "type": "string"
        },
        "csvSource": {
          "description": "Source of Csv",
          "$ref": "GoogleCloudAiplatformV1CsvSource"
        }
      }
    },
    "GoogleCloudAiplatformV1ReadTensorboardUsageResponse": {
      "description": "Response message for TensorboardService.ReadTensorboardUsage.",
      "properties": {
        "monthlyUsageData": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1ReadTensorboardUsageResponsePerMonthUsageData"
          },
          "description": "Maps year-month (YYYYMM) string to per month usage data."
        }
      },
      "id": "GoogleCloudAiplatformV1ReadTensorboardUsageResponse",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ListMetadataStoresResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as ListMetadataStoresRequest.page_token to retrieve the next page. If this field is not populated, there are no subsequent pages.",
          "type": "string"
        },
        "metadataStores": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1MetadataStore"
          },
          "description": "The MetadataStores found for the Location.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1ListMetadataStoresResponse",
      "description": "Response message for MetadataService.ListMetadataStores."
    },
    "GoogleCloudAiplatformV1MigratableResourceAutomlDataset": {
      "properties": {
        "dataset": {
          "description": "Full resource name of automl Dataset. Format: `projects/{project}/locations/{location}/datasets/{dataset}`.",
          "type": "string"
        },
        "datasetDisplayName": {
          "type": "string",
          "description": "The Dataset's display name in automl.googleapis.com."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1MigratableResourceAutomlDataset",
      "description": "Represents one Dataset in automl.googleapis.com."
    },
    "GoogleCloudAiplatformV1LineageSubgraph": {
      "description": "A subgraph of the overall lineage graph. Event edges connect Artifact and Execution nodes.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1LineageSubgraph",
      "properties": {
        "events": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Event"
          },
          "description": "The Event edges between Artifacts and Executions in the subgraph."
        },
        "artifacts": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1Artifact"
          },
          "description": "The Artifact nodes in the subgraph.",
          "type": "array"
        },
        "executions": {
          "type": "array",
          "description": "The Execution nodes in the subgraph.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Execution"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1TrialContext": {
      "description": "Next ID: 3",
      "id": "GoogleCloudAiplatformV1TrialContext",
      "type": "object",
      "properties": {
        "parameters": {
          "description": "If/when a Trial is generated or selected from this Context, its Parameters will match any parameters specified here. (I.e. if this context specifies parameter name:'a' int_value:3, then a resulting Trial will have int_value:3 for its parameter named 'a'.) Note that we first attempt to match existing REQUESTED Trials with contexts, and if there are no matches, we generate suggestions in the subspace defined by the parameters specified here. NOTE: a Context without any Parameters matches the entire feasible search space.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1TrialParameter"
          }
        },
        "description": {
          "description": "A human-readable field which can store a description of this context. This will become part of the resulting Trial's description field.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaImageSegmentationAnnotation": {
      "type": "object",
      "description": "Annotation details specific to image segmentation.",
      "properties": {
        "polylineAnnotation": {
          "$ref": "GoogleCloudAiplatformV1SchemaImageSegmentationAnnotationPolylineAnnotation",
          "description": "Polyline annotation."
        },
        "polygonAnnotation": {
          "description": "Polygon annotation.",
          "$ref": "GoogleCloudAiplatformV1SchemaImageSegmentationAnnotationPolygonAnnotation"
        },
        "maskAnnotation": {
          "$ref": "GoogleCloudAiplatformV1SchemaImageSegmentationAnnotationMaskAnnotation",
          "description": "Mask based segmentation annotation. Only one mask annotation can exist for one image."
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaImageSegmentationAnnotation"
    },
    "GoogleCloudAiplatformV1SchemaPredictParamsVideoClassificationPredictionParams": {
      "type": "object",
      "properties": {
        "shotClassification": {
          "description": "Set to true to request shot-level classification. Vertex AI determines the boundaries for each camera shot in the entire time segment of the video that user specified in the input instance. Vertex AI then returns labels and their confidence scores for each detected shot, along with the start and end time of the shot. WARNING: Model evaluation is not done for this classification type, the quality of it depends on the training data, but there are no metrics provided to describe that quality. Default value is false",
          "type": "boolean"
        },
        "segmentClassification": {
          "type": "boolean",
          "description": "Set to true to request segment-level classification. Vertex AI returns labels and their confidence scores for the entire time segment of the video that user specified in the input instance. Default value is true"
        },
        "maxPredictions": {
          "type": "integer",
          "description": "The Model only returns up to that many top, by confidence score, predictions per instance. If this number is very high, the Model may return fewer predictions. Default value is 10,000.",
          "format": "int32"
        },
        "confidenceThreshold": {
          "description": "The Model only returns predictions with at least this confidence score. Default value is 0.0",
          "type": "number",
          "format": "float"
        },
        "oneSecIntervalClassification": {
          "type": "boolean",
          "description": "Set to true to request classification for a video at one-second intervals. Vertex AI returns labels and their confidence scores for each second of the entire time segment of the video that user specified in the input WARNING: Model evaluation is not done for this classification type, the quality of it depends on the training data, but there are no metrics provided to describe that quality. Default value is false"
        }
      },
      "description": "Prediction model parameters for Video Classification.",
      "id": "GoogleCloudAiplatformV1SchemaPredictParamsVideoClassificationPredictionParams"
    },
    "GoogleCloudAiplatformV1FeaturestoreMonitoringConfig": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1FeaturestoreMonitoringConfig",
      "properties": {
        "categoricalThresholdConfig": {
          "description": "Threshold for categorical features of anomaly detection. This is shared by all types of Featurestore Monitoring for categorical features (i.e. Features with type (Feature.ValueType) BOOL or STRING).",
          "$ref": "GoogleCloudAiplatformV1FeaturestoreMonitoringConfigThresholdConfig"
        },
        "numericalThresholdConfig": {
          "$ref": "GoogleCloudAiplatformV1FeaturestoreMonitoringConfigThresholdConfig",
          "description": "Threshold for numerical features of anomaly detection. This is shared by all objectives of Featurestore Monitoring for numerical features (i.e. Features with type (Feature.ValueType) DOUBLE or INT64)."
        },
        "importFeaturesAnalysis": {
          "description": "The config for ImportFeatures Analysis Based Feature Monitoring.",
          "$ref": "GoogleCloudAiplatformV1FeaturestoreMonitoringConfigImportFeaturesAnalysis"
        },
        "snapshotAnalysis": {
          "description": "The config for Snapshot Analysis Based Feature Monitoring.",
          "$ref": "GoogleCloudAiplatformV1FeaturestoreMonitoringConfigSnapshotAnalysis"
        }
      },
      "description": "Configuration of how features in Featurestore are monitored."
    },
    "GoogleCloudAiplatformV1SchemaModelevaluationMetricsQuestionAnsweringEvaluationMetrics": {
      "type": "object",
      "properties": {
        "exactMatch": {
          "type": "number",
          "description": "The rate at which the input predicted strings exactly match their references.",
          "format": "float"
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsQuestionAnsweringEvaluationMetrics"
    },
    "GoogleCloudAiplatformV1SavedQuery": {
      "id": "GoogleCloudAiplatformV1SavedQuery",
      "description": "A SavedQuery is a view of the dataset. It references a subset of annotations by problem type and filters.",
      "properties": {
        "problemType": {
          "description": "Required. Problem type of the SavedQuery. Allowed values: * IMAGE_CLASSIFICATION_SINGLE_LABEL * IMAGE_CLASSIFICATION_MULTI_LABEL * IMAGE_BOUNDING_POLY * IMAGE_BOUNDING_BOX * TEXT_CLASSIFICATION_SINGLE_LABEL * TEXT_CLASSIFICATION_MULTI_LABEL * TEXT_EXTRACTION * TEXT_SENTIMENT * VIDEO_CLASSIFICATION * VIDEO_OBJECT_TRACKING",
          "type": "string"
        },
        "etag": {
          "description": "Used to perform a consistent read-modify-write update. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name of the SavedQuery.",
          "type": "string",
          "readOnly": true
        },
        "annotationSpecCount": {
          "format": "int32",
          "description": "Output only. Number of AnnotationSpecs in the context of the SavedQuery.",
          "readOnly": true,
          "type": "integer"
        },
        "updateTime": {
          "description": "Output only. Timestamp when SavedQuery was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Required. The user-defined name of the SavedQuery. The name can be up to 128 characters long and can consist of any UTF-8 characters.",
          "type": "string"
        },
        "metadata": {
          "type": "any",
          "description": "Some additional information about the SavedQuery."
        },
        "annotationFilter": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Filters on the Annotations in the dataset."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when this SavedQuery was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "supportAutomlTraining": {
          "description": "Output only. If the Annotations belonging to the SavedQuery can be used for AutoML training.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1FeatureValueDestination": {
      "description": "A destination location for Feature values and format.",
      "id": "GoogleCloudAiplatformV1FeatureValueDestination",
      "properties": {
        "bigqueryDestination": {
          "description": "Output in BigQuery format. BigQueryDestination.output_uri in FeatureValueDestination.bigquery_destination must refer to a table.",
          "$ref": "GoogleCloudAiplatformV1BigQueryDestination"
        },
        "csvDestination": {
          "$ref": "GoogleCloudAiplatformV1CsvDestination",
          "description": "Output in CSV format. Array Feature value types are not allowed in CSV format."
        },
        "tfrecordDestination": {
          "$ref": "GoogleCloudAiplatformV1TFRecordDestination",
          "description": "Output in TFRecord format. Below are the mapping from Feature value type in Featurestore to Feature value type in TFRecord: Value type in Featurestore | Value type in TFRecord DOUBLE, DOUBLE_ARRAY | FLOAT_LIST INT64, INT64_ARRAY | INT64_LIST STRING, STRING_ARRAY, BYTES | BYTES_LIST true -\u003e byte_string(\"true\"), false -\u003e byte_string(\"false\") BOOL, BOOL_ARRAY (true, false) | BYTES_LIST"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1ModelDeploymentMonitoringBigQueryTable": {
      "properties": {
        "logSource": {
          "enumDescriptions": [
            "Unspecified source.",
            "Logs coming from Training dataset.",
            "Logs coming from Serving traffic."
          ],
          "enum": [
            "LOG_SOURCE_UNSPECIFIED",
            "TRAINING",
            "SERVING"
          ],
          "description": "The source of log.",
          "type": "string"
        },
        "logType": {
          "enumDescriptions": [
            "Unspecified type.",
            "Predict logs.",
            "Explain logs."
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "PREDICT",
            "EXPLAIN"
          ],
          "type": "string",
          "description": "The type of log."
        },
        "bigqueryTablePath": {
          "description": "The created BigQuery table to store logs. Customer could do their own query & analysis. Format: `bq://.model_deployment_monitoring_._`",
          "type": "string"
        }
      },
      "description": "ModelDeploymentMonitoringBigQueryTable specifies the BigQuery table name as well as some information of the logs stored in this table.",
      "id": "GoogleCloudAiplatformV1ModelDeploymentMonitoringBigQueryTable",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ListExecutionsResponse": {
      "description": "Response message for MetadataService.ListExecutions.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as ListExecutionsRequest.page_token to retrieve the next page. If this field is not populated, there are no subsequent pages.",
          "type": "string"
        },
        "executions": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1Execution"
          },
          "description": "The Executions retrieved from the MetadataStore.",
          "type": "array"
        }
      },
      "id": "GoogleCloudAiplatformV1ListExecutionsResponse"
    },
    "GoogleCloudAiplatformV1Featurestore": {
      "id": "GoogleCloudAiplatformV1Featurestore",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Name of the Featurestore. Format: `projects/{project}/locations/{location}/featurestores/{featurestore}`",
          "readOnly": true
        },
        "onlineServingConfig": {
          "description": "Optional. Config for online storage resources. The field should not co-exist with the field of `OnlineStoreReplicationConfig`. If both of it and OnlineStoreReplicationConfig are unset, the feature store will not have an online store and cannot be used for online serving.",
          "$ref": "GoogleCloudAiplatformV1FeaturestoreOnlineServingConfig"
        },
        "labels": {
          "description": "Optional. The labels with user-defined metadata to organize your Featurestore. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https://goo.gl/xmQnxf for more information on and examples of labels. No more than 64 user labels can be associated with one Featurestore(System labels are excluded).\" System reserved label keys are prefixed with \"aiplatform.googleapis.com/\" and are immutable.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when this Featurestore was last updated.",
          "format": "google-datetime"
        },
        "etag": {
          "description": "Optional. Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when this Featurestore was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "onlineStorageTtlDays": {
          "format": "int32",
          "description": "Optional. TTL in days for feature values that will be stored in online serving storage. The Feature Store online storage periodically removes obsolete feature values older than `online_storage_ttl_days` since the feature generation time. Note that `online_storage_ttl_days` should be less than or equal to `offline_storage_ttl_days` for each EntityType under a featurestore. If not set, default to 4000 days",
          "type": "integer"
        },
        "state": {
          "description": "Output only. State of the featurestore.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State when the featurestore configuration is not being updated and the fields reflect the current configuration of the featurestore. The featurestore is usable in this state.",
            "The state of the featurestore configuration when it is being updated. During an update, the fields reflect either the original configuration or the updated configuration of the featurestore. For example, `online_serving_config.fixed_node_count` can take minutes to update. While the update is in progress, the featurestore is in the UPDATING state, and the value of `fixed_node_count` can be the original value or the updated value, depending on the progress of the operation. Until the update completes, the actual number of nodes can still be the original value of `fixed_node_count`. The featurestore is still usable in this state."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "STABLE",
            "UPDATING"
          ]
        },
        "encryptionSpec": {
          "$ref": "GoogleCloudAiplatformV1EncryptionSpec",
          "description": "Optional. Customer-managed encryption key spec for data storage. If set, both of the online and offline data storage will be secured by this key."
        }
      },
      "description": "Vertex AI Feature Store provides a centralized repository for organizing, storing, and serving ML features. The Featurestore is a top-level container for your features and their values.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionCustomJobMetadata": {
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionCustomJobMetadata",
      "type": "object",
      "properties": {
        "backingCustomJob": {
          "type": "string",
          "description": "The resource name of the CustomJob that has been created to carry out this custom task."
        }
      }
    },
    "GoogleCloudAiplatformV1PauseScheduleRequest": {
      "properties": {},
      "id": "GoogleCloudAiplatformV1PauseScheduleRequest",
      "description": "Request message for ScheduleService.PauseSchedule.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ExportDataRequest": {
      "id": "GoogleCloudAiplatformV1ExportDataRequest",
      "type": "object",
      "properties": {
        "exportConfig": {
          "$ref": "GoogleCloudAiplatformV1ExportDataConfig",
          "description": "Required. The desired output location."
        }
      },
      "description": "Request message for DatasetService.ExportData."
    },
    "GoogleCloudAiplatformV1ExportFeatureValuesRequest": {
      "id": "GoogleCloudAiplatformV1ExportFeatureValuesRequest",
      "type": "object",
      "description": "Request message for FeaturestoreService.ExportFeatureValues.",
      "properties": {
        "destination": {
          "$ref": "GoogleCloudAiplatformV1FeatureValueDestination",
          "description": "Required. Specifies destination location and format."
        },
        "settings": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1DestinationFeatureSetting"
          },
          "description": "Per-Feature export settings.",
          "type": "array"
        },
        "snapshotExport": {
          "description": "Exports the latest Feature values of all entities of the EntityType within a time range.",
          "$ref": "GoogleCloudAiplatformV1ExportFeatureValuesRequestSnapshotExport"
        },
        "featureSelector": {
          "$ref": "GoogleCloudAiplatformV1FeatureSelector",
          "description": "Required. Selects Features to export values of."
        },
        "fullExport": {
          "$ref": "GoogleCloudAiplatformV1ExportFeatureValuesRequestFullExport",
          "description": "Exports all historical values of all entities of the EntityType within a time range"
        }
      }
    },
    "GoogleRpcStatus": {
      "properties": {
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "GoogleRpcStatus"
    },
    "GoogleCloudAiplatformV1SchemaPredictInstanceTextExtractionPredictionInstance": {
      "id": "GoogleCloudAiplatformV1SchemaPredictInstanceTextExtractionPredictionInstance",
      "type": "object",
      "description": "Prediction input format for Text Extraction.",
      "properties": {
        "mimeType": {
          "description": "The MIME type of the text snippet. The supported MIME types are listed below. - text/plain",
          "type": "string"
        },
        "content": {
          "type": "string",
          "description": "The text snippet to make the predictions on."
        },
        "key": {
          "type": "string",
          "description": "This field is only used for batch prediction. If a key is provided, the batch prediction result will by mapped to this key. If omitted, then the batch prediction result will contain the entire input instance. Vertex AI will not check if keys in the request are duplicates, so it is up to the caller to ensure the keys are unique."
        }
      }
    },
    "GoogleCloudAiplatformV1UpdateModelDeploymentMonitoringJobOperationMetadata": {
      "type": "object",
      "description": "Runtime operation information for JobService.UpdateModelDeploymentMonitoringJob.",
      "properties": {
        "genericMetadata": {
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata",
          "description": "The operation generic information."
        }
      },
      "id": "GoogleCloudAiplatformV1UpdateModelDeploymentMonitoringJobOperationMetadata"
    },
    "GoogleCloudAiplatformV1SchemaModelevaluationMetricsImageObjectDetectionEvaluationMetrics": {
      "properties": {
        "boundingBoxMeanAveragePrecision": {
          "type": "number",
          "format": "float",
          "description": "The single metric for bounding boxes evaluation: the `meanAveragePrecision` averaged over all `boundingBoxMetricsEntries`."
        },
        "boundingBoxMetrics": {
          "description": "The bounding boxes match metrics for each intersection-over-union threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99 and each label confidence threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99 pair.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsBoundingBoxMetrics"
          }
        },
        "evaluatedBoundingBoxCount": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of bounding boxes (i.e. summed over all images) the ground truth used to create this evaluation had."
        }
      },
      "description": "Metrics for image object detection evaluation results.",
      "id": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsImageObjectDetectionEvaluationMetrics",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaModelevaluationMetricsVideoActionMetrics": {
      "properties": {
        "precisionWindowLength": {
          "description": "This VideoActionMetrics is calculated based on this prediction window length. If the predicted action's timestamp is inside the time window whose center is the ground truth action's timestamp with this specific length, the prediction result is treated as a true positive.",
          "format": "google-duration",
          "type": "string"
        },
        "meanAveragePrecision": {
          "description": "The mean average precision.",
          "type": "number",
          "format": "float"
        },
        "confidenceMetrics": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsVideoActionMetricsConfidenceMetrics"
          },
          "description": "Metrics for each label-match confidence_threshold from 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99.",
          "type": "array"
        }
      },
      "description": "The Evaluation metrics given a specific precision_window_length.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsVideoActionMetrics"
    },
    "GoogleCloudAiplatformV1DeleteFeatureValuesResponseSelectEntity": {
      "id": "GoogleCloudAiplatformV1DeleteFeatureValuesResponseSelectEntity",
      "description": "Response message if the request uses the SelectEntity option.",
      "type": "object",
      "properties": {
        "offlineStorageDeletedEntityRowCount": {
          "description": "The count of deleted entity rows in the offline storage. Each row corresponds to the combination of an entity ID and a timestamp. One entity ID can have multiple rows in the offline storage.",
          "format": "int64",
          "type": "string"
        },
        "onlineStorageDeletedEntityCount": {
          "description": "The count of deleted entities in the online storage. Each entity ID corresponds to one entity.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaPredictPredictionTextSentimentPredictionResult": {
      "properties": {
        "sentiment": {
          "description": "The integer sentiment labels between 0 (inclusive) and sentimentMax label (inclusive), while 0 maps to the least positive sentiment and sentimentMax maps to the most positive one. The higher the score is, the more positive the sentiment in the text snippet is. Note: sentimentMax is an integer value between 1 (inclusive) and 10 (inclusive).",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Prediction output format for Text Sentiment",
      "id": "GoogleCloudAiplatformV1SchemaPredictPredictionTextSentimentPredictionResult",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaPredictPredictionTftFeatureImportance": {
      "id": "GoogleCloudAiplatformV1SchemaPredictPredictionTftFeatureImportance",
      "type": "object",
      "properties": {
        "horizonWeights": {
          "items": {
            "type": "number",
            "format": "float"
          },
          "type": "array"
        },
        "attributeWeights": {
          "type": "array",
          "items": {
            "format": "float",
            "type": "number"
          }
        },
        "contextColumns": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "contextWeights": {
          "type": "array",
          "description": "TFT feature importance values. Each pair for {context/horizon/attribute} should have the same shape since the weight corresponds to the column names.",
          "items": {
            "format": "float",
            "type": "number"
          }
        },
        "attributeColumns": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "horizonColumns": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionSeq2SeqPlusForecastingInputsTransformationTextTransformation": {
      "description": "Training pipeline will perform following transformation functions. * The text as is--no change to case, punctuation, spelling, tense, and so on. * Convert the category name to a dictionary lookup index and generate an embedding for each index.",
      "type": "object",
      "properties": {
        "columnName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionSeq2SeqPlusForecastingInputsTransformationTextTransformation"
    },
    "GoogleCloudAiplatformV1SchemaPredictPredictionVideoActionRecognitionPredictionResult": {
      "id": "GoogleCloudAiplatformV1SchemaPredictPredictionVideoActionRecognitionPredictionResult",
      "type": "object",
      "properties": {
        "timeSegmentEnd": {
          "description": "The end, exclusive, of the video's time segment in which the AnnotationSpec has been identified. Expressed as a number of seconds as measured from the start of the video, with fractions up to a microsecond precision, and with \"s\" appended at the end.",
          "type": "string",
          "format": "google-duration"
        },
        "confidence": {
          "type": "number",
          "description": "The Model's confidence in correction of this prediction, higher value means higher confidence.",
          "format": "float"
        },
        "id": {
          "description": "The resource ID of the AnnotationSpec that had been identified.",
          "type": "string"
        },
        "timeSegmentStart": {
          "format": "google-duration",
          "description": "The beginning, inclusive, of the video's time segment in which the AnnotationSpec has been identified. Expressed as a number of seconds as measured from the start of the video, with fractions up to a microsecond precision, and with \"s\" appended at the end.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the AnnotationSpec that had been identified."
        }
      },
      "description": "Prediction output format for Video Action Recognition."
    },
    "GoogleCloudAiplatformV1FeatureValueList": {
      "properties": {
        "values": {
          "description": "A list of feature values. All of them should be the same data type.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1FeatureValue"
          }
        }
      },
      "description": "Container for list of values.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1FeatureValueList"
    },
    "GoogleCloudAiplatformV1SchemaPredictParamsGroundingConfigSourceEntry": {
      "id": "GoogleCloudAiplatformV1SchemaPredictParamsGroundingConfigSourceEntry",
      "properties": {
        "type": {
          "enum": [
            "UNSPECIFIED",
            "WEB",
            "ENTERPRISE"
          ],
          "enumDescriptions": [
            "",
            "Uses Web Search to check the grounding.",
            "Uses Enterprise Search to check the grounding."
          ],
          "description": "The type of the grounding checking source.",
          "type": "string"
        },
        "enterpriseDatastore": {
          "description": "The uri of the Enterprise Search data source.",
          "type": "string"
        }
      },
      "description": "Single source entry for the grounding checking.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTables": {
      "description": "A TrainingJob that trains and uploads an AutoML Tables Model.",
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTables",
      "properties": {
        "metadata": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesMetadata",
          "description": "The metadata information."
        },
        "inputs": {
          "description": "The input parameters of this TrainingJob.",
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputs"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1FindNeighborsResponseNearestNeighbors": {
      "description": "Nearest neighbors for one query.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID of the query datapoint.",
          "type": "string"
        },
        "neighbors": {
          "description": "All its neighbors.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1FindNeighborsResponseNeighbor"
          }
        }
      },
      "id": "GoogleCloudAiplatformV1FindNeighborsResponseNearestNeighbors"
    },
    "GoogleCloudAiplatformV1MutateDeployedModelOperationMetadata": {
      "description": "Runtime operation information for EndpointService.MutateDeployedModel.",
      "id": "GoogleCloudAiplatformV1MutateDeployedModelOperationMetadata",
      "type": "object",
      "properties": {
        "genericMetadata": {
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata",
          "description": "The operation generic information."
        }
      }
    },
    "GoogleCloudAiplatformV1ReadIndexDatapointsResponse": {
      "properties": {
        "datapoints": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1IndexDatapoint"
          },
          "description": "The result list of datapoints."
        }
      },
      "id": "GoogleCloudAiplatformV1ReadIndexDatapointsResponse",
      "type": "object",
      "description": "The response message for MatchService.ReadIndexDatapoints."
    },
    "GoogleCloudAiplatformV1ListArtifactsResponse": {
      "description": "Response message for MetadataService.ListArtifacts.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as ListArtifactsRequest.page_token to retrieve the next page. If this field is not populated, there are no subsequent pages.",
          "type": "string"
        },
        "artifacts": {
          "description": "The Artifacts retrieved from the MetadataStore.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Artifact"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudAiplatformV1ListArtifactsResponse",
      "type": "object"
    },
    "GoogleCloudAiplatformV1NotebookEucConfig": {
      "id": "GoogleCloudAiplatformV1NotebookEucConfig",
      "description": "The euc configuration of NotebookRuntimeTemplate.",
      "type": "object",
      "properties": {
        "eucDisabled": {
          "type": "boolean",
          "description": "Input only. Whether EUC is disabled in this NotebookRuntimeTemplate. In proto3, the default value of a boolean is false. In this way, by default EUC will be enabled for NotebookRuntimeTemplate."
        },
        "bypassActasCheck": {
          "description": "Output only. Whether ActAs check is bypassed for service account attached to the VM. If false, we need ActAs check for the default Compute Engine Service account. When a Runtime is created, a VM is allocated using Default Compute Engine Service Account. Any user requesting to use this Runtime requires Service Account User (ActAs) permission over this SA. If true, Runtime owner is using EUC and does not require the above permission as VM no longer use default Compute Engine SA, but a P4SA.",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "GoogleCloudAiplatformV1CopyModelResponse": {
      "description": "Response message of ModelService.CopyModel operation.",
      "type": "object",
      "properties": {
        "modelVersionId": {
          "readOnly": true,
          "description": "Output only. The version ID of the model that is copied.",
          "type": "string"
        },
        "model": {
          "description": "The name of the copied Model resource. Format: `projects/{project}/locations/{location}/models/{model}`",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1CopyModelResponse"
    },
    "GoogleCloudAiplatformV1PublisherModelCallToAction": {
      "description": "Actions could take on this Publisher Model.",
      "id": "GoogleCloudAiplatformV1PublisherModelCallToAction",
      "properties": {
        "deploy": {
          "$ref": "GoogleCloudAiplatformV1PublisherModelCallToActionDeploy",
          "description": "Optional. Deploy the PublisherModel to Vertex Endpoint."
        },
        "openNotebook": {
          "description": "Optional. Open notebook of the PublisherModel.",
          "$ref": "GoogleCloudAiplatformV1PublisherModelCallToActionRegionalResourceReferences"
        },
        "openPromptTuningPipeline": {
          "description": "Optional. Open prompt-tuning pipeline of the PublisherModel.",
          "$ref": "GoogleCloudAiplatformV1PublisherModelCallToActionRegionalResourceReferences"
        },
        "viewRestApi": {
          "$ref": "GoogleCloudAiplatformV1PublisherModelCallToActionViewRestApi",
          "description": "Optional. To view Rest API docs."
        },
        "openFineTuningPipeline": {
          "$ref": "GoogleCloudAiplatformV1PublisherModelCallToActionRegionalResourceReferences",
          "description": "Optional. Open fine-tuning pipeline of the PublisherModel."
        },
        "createApplication": {
          "description": "Optional. Create application using the PublisherModel.",
          "$ref": "GoogleCloudAiplatformV1PublisherModelCallToActionRegionalResourceReferences"
        },
        "openEvaluationPipeline": {
          "$ref": "GoogleCloudAiplatformV1PublisherModelCallToActionRegionalResourceReferences",
          "description": "Optional. Open evaluation pipeline of the PublisherModel."
        },
        "openGenerationAiStudio": {
          "description": "Optional. Open in Generation AI Studio.",
          "$ref": "GoogleCloudAiplatformV1PublisherModelCallToActionRegionalResourceReferences"
        },
        "openGenie": {
          "$ref": "GoogleCloudAiplatformV1PublisherModelCallToActionRegionalResourceReferences",
          "description": "Optional. Open Genie / Playground."
        },
        "requestAccess": {
          "$ref": "GoogleCloudAiplatformV1PublisherModelCallToActionRegionalResourceReferences",
          "description": "Optional. Request for access."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1AddContextChildrenResponse": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1AddContextChildrenResponse",
      "properties": {},
      "description": "Response message for MetadataService.AddContextChildren."
    },
    "GoogleCloudAiplatformV1UndeployIndexOperationMetadata": {
      "description": "Runtime operation information for IndexEndpointService.UndeployIndex.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1UndeployIndexOperationMetadata",
      "properties": {
        "genericMetadata": {
          "description": "The operation generic information.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        }
      }
    },
    "GoogleCloudAiplatformV1DataItem": {
      "properties": {
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when this DataItem was created."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when this DataItem was last updated."
        },
        "payload": {
          "type": "any",
          "description": "Required. The data that the DataItem represents (for example, an image or a text snippet). The schema of the payload is stored in the parent Dataset's metadata schema's dataItemSchemaUri field."
        },
        "etag": {
          "description": "Optional. Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels with user-defined metadata to organize your DataItems. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. No more than 64 user labels can be associated with one DataItem(System labels are excluded). See https://goo.gl/xmQnxf for more information and examples of labels. System reserved label keys are prefixed with \"aiplatform.googleapis.com/\" and are immutable."
        },
        "name": {
          "description": "Output only. The resource name of the DataItem.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1DataItem",
      "type": "object",
      "description": "A piece of data in a Dataset. Could be an image, a video, a document or plain text."
    },
    "GoogleCloudAiplatformV1ReadFeatureValuesResponseEntityView": {
      "id": "GoogleCloudAiplatformV1ReadFeatureValuesResponseEntityView",
      "properties": {
        "entityId": {
          "description": "ID of the requested entity.",
          "type": "string"
        },
        "data": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1ReadFeatureValuesResponseEntityViewData"
          },
          "type": "array",
          "description": "Each piece of data holds the k requested values for one requested Feature. If no values for the requested Feature exist, the corresponding cell will be empty. This has the same size and is in the same order as the features from the header ReadFeatureValuesResponse.header."
        }
      },
      "description": "Entity view with Feature values.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionHierarchyConfig": {
      "properties": {
        "groupTotalWeight": {
          "type": "number",
          "description": "The weight of the loss for predictions aggregated over time series in the same group.",
          "format": "double"
        },
        "groupColumns": {
          "description": "A list of time series attribute column names that define the time series hierarchy. Only one level of hierarchy is supported, ex. 'region' for a hierarchy of stores or 'department' for a hierarchy of products. If multiple columns are specified, time series will be grouped by their combined values, ex. ('blue', 'large') for 'color' and 'size', up to 5 columns are accepted. If no group columns are specified, all time series are considered to be part of the same group.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "groupTemporalTotalWeight": {
          "description": "The weight of the loss for predictions aggregated over both the horizon and time series in the same hierarchy group.",
          "type": "number",
          "format": "double"
        },
        "temporalTotalWeight": {
          "description": "The weight of the loss for predictions aggregated over the horizon for a single time series.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object",
      "description": "Configuration that defines the hierarchical relationship of time series and parameters for hierarchical forecasting strategies.",
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionHierarchyConfig"
    },
    "GoogleCloudAiplatformV1ReadTensorboardSizeResponse": {
      "description": "Response message for TensorboardService.ReadTensorboardSize.",
      "properties": {
        "storageSizeByte": {
          "description": "Payload storage size for the TensorBoard",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1ReadTensorboardSizeResponse"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlForecastingInputsTransformationCategoricalTransformation": {
      "description": "Training pipeline will perform following transformation functions. * The categorical string as is--no change to case, punctuation, spelling, tense, and so on. * Convert the category name to a dictionary lookup index and generate an embedding for each index. * Categories that appear less than 5 times in the training dataset are treated as the \"unknown\" category. The \"unknown\" category gets its own special lookup index and resulting embedding.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlForecastingInputsTransformationCategoricalTransformation",
      "properties": {
        "columnName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1ListModelVersionsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListModelVersionsRequest.page_token to obtain that page.",
          "type": "string"
        },
        "models": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Model"
          },
          "description": "List of Model versions in the requested page. In the returned Model name field, version ID instead of regvision tag will be included."
        }
      },
      "description": "Response message for ModelService.ListModelVersions",
      "id": "GoogleCloudAiplatformV1ListModelVersionsResponse"
    },
    "GoogleCloudAiplatformV1ListBatchPredictionJobsResponse": {
      "type": "object",
      "description": "Response message for JobService.ListBatchPredictionJobs",
      "id": "GoogleCloudAiplatformV1ListBatchPredictionJobsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass to ListBatchPredictionJobsRequest.page_token to obtain that page."
        },
        "batchPredictionJobs": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1BatchPredictionJob"
          },
          "type": "array",
          "description": "List of BatchPredictionJobs in the requested page."
        }
      }
    },
    "GoogleCloudAiplatformV1ExportDataResponse": {
      "id": "GoogleCloudAiplatformV1ExportDataResponse",
      "properties": {
        "exportedFiles": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "All of the files that are exported in this export operation."
        }
      },
      "description": "Response message for DatasetService.ExportData.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ModelDeploymentMonitoringScheduleConfig": {
      "type": "object",
      "properties": {
        "monitorInterval": {
          "format": "google-duration",
          "description": "Required. The model monitoring job scheduling interval. It will be rounded up to next full hour. This defines how often the monitoring jobs are triggered.",
          "type": "string"
        },
        "monitorWindow": {
          "format": "google-duration",
          "type": "string",
          "description": "The time window of the prediction data being included in each prediction dataset. This window specifies how long the data should be collected from historical model results for each run. If not set, ModelDeploymentMonitoringScheduleConfig.monitor_interval will be used. e.g. If currently the cutoff time is 2022-01-08 14:30:00 and the monitor_window is set to be 3600, then data from 2022-01-08 13:30:00 to 2022-01-08 14:30:00 will be retrieved and aggregated to calculate the monitoring statistics."
        }
      },
      "id": "GoogleCloudAiplatformV1ModelDeploymentMonitoringScheduleConfig",
      "description": "The config for scheduling monitoring job."
    },
    "GoogleCloudAiplatformV1BatchCreateTensorboardRunsResponse": {
      "description": "Response message for TensorboardService.BatchCreateTensorboardRuns.",
      "properties": {
        "tensorboardRuns": {
          "description": "The created TensorboardRuns.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1TensorboardRun"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1BatchCreateTensorboardRunsResponse"
    },
    "GoogleCloudAiplatformV1Measurement": {
      "type": "object",
      "description": "A message representing a Measurement of a Trial. A Measurement contains the Metrics got by executing a Trial using suggested hyperparameter values.",
      "properties": {
        "elapsedDuration": {
          "format": "google-duration",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time that the Trial has been running at the point of this Measurement."
        },
        "stepCount": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The number of steps the machine learning model has been trained for. Must be non-negative.",
          "readOnly": true
        },
        "metrics": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1MeasurementMetric"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. A list of metrics got by evaluating the objective functions using suggested Parameter values."
        }
      },
      "id": "GoogleCloudAiplatformV1Measurement"
    },
    "GoogleCloudAiplatformV1SchemaImageBoundingBoxAnnotation": {
      "properties": {
        "displayName": {
          "description": "The display name of the AnnotationSpec that this Annotation pertains to.",
          "type": "string"
        },
        "yMax": {
          "description": "The bottommost coordinate of the bounding box.",
          "format": "double",
          "type": "number"
        },
        "annotationSpecId": {
          "type": "string",
          "description": "The resource Id of the AnnotationSpec that this Annotation pertains to."
        },
        "xMax": {
          "description": "The rightmost coordinate of the bounding box.",
          "format": "double",
          "type": "number"
        },
        "xMin": {
          "type": "number",
          "description": "The leftmost coordinate of the bounding box.",
          "format": "double"
        },
        "yMin": {
          "description": "The topmost coordinate of the bounding box.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaImageBoundingBoxAnnotation",
      "description": "Annotation details specific to image object detection."
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationNumericArrayTransformation": {
      "properties": {
        "columnName": {
          "type": "string"
        },
        "invalidValuesAllowed": {
          "description": "If invalid values is allowed, the training pipeline will create a boolean feature that indicated whether the value is valid. Otherwise, the training pipeline will discard the input row from trainining data.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationNumericArrayTransformation",
      "type": "object",
      "description": "Treats the column as numerical array and performs following transformation functions. * All transformations for Numerical types applied to the average of the all elements. * The average of empty arrays is treated as zero."
    },
    "GoogleCloudAiplatformV1UpdateFeaturestoreOperationMetadata": {
      "properties": {
        "genericMetadata": {
          "description": "Operation metadata for Featurestore.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        }
      },
      "id": "GoogleCloudAiplatformV1UpdateFeaturestoreOperationMetadata",
      "type": "object",
      "description": "Details of operations that perform update Featurestore."
    },
    "GoogleCloudAiplatformV1ModelExplanation": {
      "id": "GoogleCloudAiplatformV1ModelExplanation",
      "properties": {
        "meanAttributions": {
          "type": "array",
          "description": "Output only. Aggregated attributions explaining the Model's prediction outputs over the set of instances. The attributions are grouped by outputs. For Models that predict only one output, such as regression Models that predict only one score, there is only one attibution that explains the predicted output. For Models that predict multiple outputs, such as multiclass Models that predict multiple classes, each element explains one specific item. Attribution.output_index can be used to identify which output this attribution is explaining. The baselineOutputValue, instanceOutputValue and featureAttributions fields are averaged over the test data. NOTE: Currently AutoML tabular classification Models produce only one attribution, which averages attributions over all the classes it predicts. Attribution.approximation_error is not populated.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Attribution"
          },
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Aggregated explanation metrics for a Model over a set of instances."
    },
    "GoogleApiHttpBody": {
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "type": "object",
      "properties": {
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        },
        "extensions": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "type": "array"
        },
        "data": {
          "type": "string",
          "format": "byte",
          "description": "The HTTP request/response body as raw binary."
        }
      },
      "id": "GoogleApiHttpBody"
    },
    "GoogleCloudAiplatformV1SearchModelDeploymentMonitoringStatsAnomaliesRequest": {
      "id": "GoogleCloudAiplatformV1SearchModelDeploymentMonitoringStatsAnomaliesRequest",
      "properties": {
        "startTime": {
          "description": "The earliest timestamp of stats being generated. If not set, indicates fetching stats till the earliest possible one.",
          "format": "google-datetime",
          "type": "string"
        },
        "deployedModelId": {
          "type": "string",
          "description": "Required. The DeployedModel ID of the [ModelDeploymentMonitoringObjectiveConfig.deployed_model_id]."
        },
        "objectives": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1SearchModelDeploymentMonitoringStatsAnomaliesRequestStatsAnomaliesObjective"
          },
          "type": "array",
          "description": "Required. Objectives of the stats to retrieve."
        },
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "The standard list page size."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The latest timestamp of stats being generated. If not set, indicates feching stats till the latest possible one.",
          "type": "string"
        },
        "pageToken": {
          "description": "A page token received from a previous JobService.SearchModelDeploymentMonitoringStatsAnomalies call.",
          "type": "string"
        },
        "featureDisplayName": {
          "description": "The feature display name. If specified, only return the stats belonging to this feature. Format: ModelMonitoringStatsAnomalies.FeatureHistoricStatsAnomalies.feature_display_name, example: \"user_destination\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for JobService.SearchModelDeploymentMonitoringStatsAnomalies."
    },
    "GoogleCloudAiplatformV1ListNotebookRuntimesResponse": {
      "type": "object",
      "description": "Response message for NotebookService.ListNotebookRuntimes.",
      "id": "GoogleCloudAiplatformV1ListNotebookRuntimesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass to ListNotebookRuntimesRequest.page_token to obtain that page.",
          "type": "string"
        },
        "notebookRuntimes": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1NotebookRuntime"
          },
          "type": "array",
          "description": "List of NotebookRuntimes in the requested page."
        }
      }
    },
    "GoogleCloudAiplatformV1CancelBatchPredictionJobRequest": {
      "properties": {},
      "description": "Request message for JobService.CancelBatchPredictionJob.",
      "id": "GoogleCloudAiplatformV1CancelBatchPredictionJobRequest",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaPredictParamsGroundingConfig": {
      "type": "object",
      "description": "The configuration for grounding checking.",
      "properties": {
        "sources": {
          "type": "array",
          "description": "The sources for the grounding checking.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SchemaPredictParamsGroundingConfigSourceEntry"
          }
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaPredictParamsGroundingConfig"
    },
    "GoogleCloudAiplatformV1BatchCreateTensorboardTimeSeriesResponse": {
      "description": "Response message for TensorboardService.BatchCreateTensorboardTimeSeries.",
      "properties": {
        "tensorboardTimeSeries": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1TensorboardTimeSeries"
          },
          "description": "The created TensorboardTimeSeries."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1BatchCreateTensorboardTimeSeriesResponse"
    },
    "GoogleCloudAiplatformV1SchemaPredictPredictionClassificationPredictionResult": {
      "description": "Prediction output format for Image and Text Classification.",
      "properties": {
        "ids": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "The resource IDs of the AnnotationSpecs that had been identified.",
          "type": "array"
        },
        "confidences": {
          "items": {
            "type": "number",
            "format": "float"
          },
          "type": "array",
          "description": "The Model's confidences in correctness of the predicted IDs, higher value means higher confidence. Order matches the Ids."
        },
        "displayNames": {
          "type": "array",
          "description": "The display names of the AnnotationSpecs that had been identified, order matches the IDs.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaPredictPredictionClassificationPredictionResult",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaTextDataItem": {
      "description": "Payload of Text DataItem.",
      "properties": {
        "gcsUri": {
          "readOnly": true,
          "description": "Output only. Google Cloud Storage URI points to the original text in user's bucket. The text file is up to 10MB in size.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaTextDataItem"
    },
    "GoogleCloudAiplatformV1PipelineTaskExecutorDetailCustomJobDetail": {
      "id": "GoogleCloudAiplatformV1PipelineTaskExecutorDetailCustomJobDetail",
      "type": "object",
      "properties": {
        "job": {
          "readOnly": true,
          "description": "Output only. The name of the CustomJob.",
          "type": "string"
        },
        "failedJobs": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The names of the previously failed CustomJob. The list includes the all attempts in chronological order.",
          "readOnly": true,
          "type": "array"
        }
      },
      "description": "The detailed info for a custom job executor."
    },
    "GoogleCloudAiplatformV1BatchCreateTensorboardRunsRequest": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1BatchCreateTensorboardRunsRequest",
      "description": "Request message for TensorboardService.BatchCreateTensorboardRuns.",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1CreateTensorboardRunRequest"
          },
          "description": "Required. The request message specifying the TensorboardRuns to create. A maximum of 1000 TensorboardRuns can be created in a batch."
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionSeq2SeqPlusForecastingMetadata": {
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionSeq2SeqPlusForecastingMetadata",
      "properties": {
        "trainCostMilliNodeHours": {
          "type": "string",
          "description": "Output only. The actual training cost of the model, expressed in milli node hours, i.e. 1,000 value in this field means 1 node hour. Guaranteed to not exceed the train budget.",
          "format": "int64"
        },
        "evaluatedDataItemsBigqueryUri": {
          "type": "string",
          "description": "BigQuery destination uri for exported evaluated examples."
        }
      },
      "description": "Model metadata specific to Seq2Seq Plus Forecasting.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationTimestampTransformation": {
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationTimestampTransformation",
      "type": "object",
      "properties": {
        "timeFormat": {
          "type": "string",
          "description": "The format in which that time field is expressed. The time_format must either be one of: * `unix-seconds` * `unix-milliseconds` * `unix-microseconds` * `unix-nanoseconds` (for respectively number of seconds, milliseconds, microseconds and nanoseconds since start of the Unix epoch); or be written in `strftime` syntax. If time_format is not set, then the default format is RFC 3339 `date-time` format, where `time-offset` = `\"Z\"` (e.g. 1985-04-12T23:20:50.52Z)"
        },
        "invalidValuesAllowed": {
          "description": "If invalid values is allowed, the training pipeline will create a boolean feature that indicated whether the value is valid. Otherwise, the training pipeline will discard the input row from trainining data.",
          "type": "boolean"
        },
        "columnName": {
          "type": "string"
        }
      },
      "description": "Training pipeline will perform following transformation functions. * Apply the transformation functions for Numerical columns. * Determine the year, month, day,and weekday. Treat each value from the * timestamp as a Categorical column. * Invalid numerical values (for example, values that fall outside of a typical timestamp range, or are extreme values) receive no special treatment and are not removed."
    },
    "GoogleCloudAiplatformV1ReadFeatureValuesResponseEntityViewData": {
      "description": "Container to hold value(s), successive in time, for one Feature from the request.",
      "properties": {
        "values": {
          "description": "Feature values list if values, successive in time, are requested. If the requested number of values is greater than the number of existing Feature values, nonexistent values are omitted instead of being returned as empty.",
          "$ref": "GoogleCloudAiplatformV1FeatureValueList"
        },
        "value": {
          "description": "Feature value if a single value is requested.",
          "$ref": "GoogleCloudAiplatformV1FeatureValue"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1ReadFeatureValuesResponseEntityViewData"
    },
    "GoogleCloudAiplatformV1SchemaVisualInspectionMaskSavedQueryMetadata": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudAiplatformV1SchemaVisualInspectionMaskSavedQueryMetadata"
    },
    "GoogleCloudAiplatformV1DeployedIndexAuthConfigAuthProvider": {
      "properties": {
        "allowedIssuers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of allowed JWT issuers. Each entry must be a valid Google service account, in the following format: `service-account-name@project-id.iam.gserviceaccount.com`"
        },
        "audiences": {
          "description": "The list of JWT [audiences](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-4.1.3). that are allowed to access. A JWT containing any of these audiences will be accepted.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Configuration for an authentication provider, including support for [JSON Web Token (JWT)](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32).",
      "id": "GoogleCloudAiplatformV1DeployedIndexAuthConfigAuthProvider",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaTimeSeriesDatasetMetadata": {
      "properties": {
        "timeSeriesIdentifierColumn": {
          "description": "The column name of the time series identifier column that identifies the time series.",
          "type": "string"
        },
        "inputConfig": {
          "$ref": "GoogleCloudAiplatformV1SchemaTimeSeriesDatasetMetadataInputConfig"
        },
        "timeColumn": {
          "description": "The column name of the time column that identifies time order in the time series.",
          "type": "string"
        }
      },
      "description": "The metadata of Datasets that contain time series data.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaTimeSeriesDatasetMetadata"
    },
    "GoogleCloudAiplatformV1ModelEvaluationSliceSliceSliceSpecRange": {
      "description": "A range of values for slice(s). `low` is inclusive, `high` is exclusive.",
      "id": "GoogleCloudAiplatformV1ModelEvaluationSliceSliceSliceSpecRange",
      "properties": {
        "high": {
          "description": "Exclusive high value for the range.",
          "format": "float",
          "type": "number"
        },
        "low": {
          "format": "float",
          "type": "number",
          "description": "Inclusive low value for the range."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaPredictPredictionVideoObjectTrackingPredictionResult": {
      "properties": {
        "id": {
          "description": "The resource ID of the AnnotationSpec that had been identified.",
          "type": "string"
        },
        "timeSegmentStart": {
          "type": "string",
          "description": "The beginning, inclusive, of the video's time segment in which the object instance has been detected. Expressed as a number of seconds as measured from the start of the video, with fractions up to a microsecond precision, and with \"s\" appended at the end.",
          "format": "google-duration"
        },
        "timeSegmentEnd": {
          "description": "The end, inclusive, of the video's time segment in which the object instance has been detected. Expressed as a number of seconds as measured from the start of the video, with fractions up to a microsecond precision, and with \"s\" appended at the end.",
          "format": "google-duration",
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "The Model's confidence in correction of this prediction, higher value means higher confidence."
        },
        "frames": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1SchemaPredictPredictionVideoObjectTrackingPredictionResultFrame"
          },
          "type": "array",
          "description": "All of the frames of the video in which a single object instance has been detected. The bounding boxes in the frames identify the same object."
        },
        "displayName": {
          "description": "The display name of the AnnotationSpec that had been identified.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaPredictPredictionVideoObjectTrackingPredictionResult",
      "description": "Prediction output format for Video Object Tracking."
    },
    "GoogleCloudAiplatformV1MutateDeployedModelRequest": {
      "properties": {
        "deployedModel": {
          "$ref": "GoogleCloudAiplatformV1DeployedModel",
          "description": "Required. The DeployedModel to be mutated within the Endpoint. Only the following fields can be mutated: * `min_replica_count` in either DedicatedResources or AutomaticResources * `max_replica_count` in either DedicatedResources or AutomaticResources * autoscaling_metric_specs * `disable_container_logging` (v1 only) * `enable_container_logging` (v1beta1 only)"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Required. The update mask applies to the resource. See google.protobuf.FieldMask."
        }
      },
      "type": "object",
      "description": "Request message for EndpointService.MutateDeployedModel.",
      "id": "GoogleCloudAiplatformV1MutateDeployedModelRequest"
    },
    "GoogleCloudAiplatformV1ExportModelRequestOutputConfig": {
      "type": "object",
      "properties": {
        "imageDestination": {
          "$ref": "GoogleCloudAiplatformV1ContainerRegistryDestination",
          "description": "The Google Container Registry or Artifact Registry uri where the Model container image will be copied to. This field should only be set when the `exportableContent` field of the [Model.supported_export_formats] object contains `IMAGE`."
        },
        "artifactDestination": {
          "description": "The Cloud Storage location where the Model artifact is to be written to. Under the directory given as the destination a new one with name \"`model-export--`\", where timestamp is in YYYY-MM-DDThh:mm:ss.sssZ ISO-8601 format, will be created. Inside, the Model and any of its supporting files will be written. This field should only be set when the `exportableContent` field of the [Model.supported_export_formats] object contains `ARTIFACT`.",
          "$ref": "GoogleCloudAiplatformV1GcsDestination"
        },
        "exportFormatId": {
          "type": "string",
          "description": "The ID of the format in which the Model must be exported. Each Model lists the export formats it supports. If no value is provided here, then the first from the list of the Model's supported formats is used by default."
        }
      },
      "id": "GoogleCloudAiplatformV1ExportModelRequestOutputConfig",
      "description": "Output configuration for the Model export."
    },
    "GoogleCloudAiplatformV1IndexStats": {
      "type": "object",
      "description": "Stats of the Index.",
      "properties": {
        "vectorsCount": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The number of vectors in the Index.",
          "readOnly": true
        },
        "shardsCount": {
          "description": "Output only. The number of shards in the Index.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        }
      },
      "id": "GoogleCloudAiplatformV1IndexStats"
    },
    "GoogleCloudAiplatformV1ContainerRegistryDestination": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1ContainerRegistryDestination",
      "properties": {
        "outputUri": {
          "description": "Required. Container Registry URI of a container image. Only Google Container Registry and Artifact Registry are supported now. Accepted forms: * Google Container Registry path. For example: `gcr.io/projectId/imageName:tag`. * Artifact Registry path. For example: `us-central1-docker.pkg.dev/projectId/repoName/imageName:tag`. If a tag is not specified, \"latest\" will be used as the default tag.",
          "type": "string"
        }
      },
      "description": "The Container Registry location for the container image."
    },
    "GoogleCloudAiplatformV1SchemaVisualInspectionClassificationLabelSavedQueryMetadata": {
      "properties": {
        "multiLabel": {
          "description": "Whether or not the classification label is multi_label.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaVisualInspectionClassificationLabelSavedQueryMetadata",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaTextPromptDatasetMetadata": {
      "properties": {
        "groundingConfig": {
          "$ref": "GoogleCloudAiplatformV1SchemaPredictParamsGroundingConfig",
          "description": "Grounding checking configuration."
        },
        "temperature": {
          "format": "float",
          "description": "Temperature value used for sampling set when the dataset was saved. This value is used to tune the degree of randomness.",
          "type": "number"
        },
        "topK": {
          "format": "int64",
          "type": "string",
          "description": "Top K value set when the dataset was saved. This value determines how many candidates with highest probability from the vocab would be selected for each decoding step."
        },
        "promptType": {
          "type": "string",
          "description": "Type of the prompt dataset."
        },
        "gcsUri": {
          "type": "string",
          "description": "The Google Cloud Storage URI that stores the prompt data."
        },
        "stopSequences": {
          "description": "Customized stop sequences.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "topP": {
          "type": "number",
          "format": "float",
          "description": "Top P value set when the dataset was saved. Given topK tokens for decoding, top candidates will be selected until the sum of their probabilities is topP."
        },
        "maxOutputTokens": {
          "type": "string",
          "description": "Value of the maximum number of tokens generated set when the dataset was saved.",
          "format": "int64"
        },
        "text": {
          "description": "The content of the prompt dataset.",
          "type": "string"
        },
        "candidateCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of candidates."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaTextPromptDatasetMetadata",
      "description": "The metadata of Datasets that contain Text Prompt data."
    },
    "GoogleCloudAiplatformV1CreateDatasetOperationMetadata": {
      "id": "GoogleCloudAiplatformV1CreateDatasetOperationMetadata",
      "properties": {
        "genericMetadata": {
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata",
          "description": "The operation generic information."
        }
      },
      "description": "Runtime operation information for DatasetService.CreateDataset.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1MetadataSchema": {
      "properties": {
        "schemaVersion": {
          "type": "string",
          "description": "The version of the MetadataSchema. The version's format must match the following regular expression: `^[0-9]+.+.+$`, which would allow to order/compare different versions. Example: 1.0.0, 1.0.1, etc."
        },
        "name": {
          "description": "Output only. The resource name of the MetadataSchema.",
          "type": "string",
          "readOnly": true
        },
        "schema": {
          "description": "Required. The raw YAML string representation of the MetadataSchema. The combination of [MetadataSchema.version] and the schema name given by `title` in [MetadataSchema.schema] must be unique within a MetadataStore. The schema is defined as an OpenAPI 3.0.2 [MetadataSchema Object](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#schemaObject)",
          "type": "string"
        },
        "schemaType": {
          "enumDescriptions": [
            "Unspecified type for the MetadataSchema.",
            "A type indicating that the MetadataSchema will be used by Artifacts.",
            "A typee indicating that the MetadataSchema will be used by Executions.",
            "A state indicating that the MetadataSchema will be used by Contexts."
          ],
          "type": "string",
          "description": "The type of the MetadataSchema. This is a property that identifies which metadata types will use the MetadataSchema.",
          "enum": [
            "METADATA_SCHEMA_TYPE_UNSPECIFIED",
            "ARTIFACT_TYPE",
            "EXECUTION_TYPE",
            "CONTEXT_TYPE"
          ]
        },
        "description": {
          "description": "Description of the Metadata Schema",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when this MetadataSchema was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Instance of a general MetadataSchema.",
      "id": "GoogleCloudAiplatformV1MetadataSchema",
      "type": "object"
    },
    "GoogleCloudAiplatformV1UndeployIndexRequest": {
      "description": "Request message for IndexEndpointService.UndeployIndex.",
      "type": "object",
      "properties": {
        "deployedIndexId": {
          "type": "string",
          "description": "Required. The ID of the DeployedIndex to be undeployed from the IndexEndpoint."
        }
      },
      "id": "GoogleCloudAiplatformV1UndeployIndexRequest"
    },
    "GoogleCloudAiplatformV1UpdateTensorboardOperationMetadata": {
      "id": "GoogleCloudAiplatformV1UpdateTensorboardOperationMetadata",
      "type": "object",
      "properties": {
        "genericMetadata": {
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata",
          "description": "Operation metadata for Tensorboard."
        }
      },
      "description": "Details of operations that perform update Tensorboard."
    },
    "GoogleCloudAiplatformV1CancelCustomJobRequest": {
      "description": "Request message for JobService.CancelCustomJob.",
      "properties": {},
      "id": "GoogleCloudAiplatformV1CancelCustomJobRequest",
      "type": "object"
    },
    "GoogleCloudAiplatformV1WriteFeatureValuesResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudAiplatformV1WriteFeatureValuesResponse",
      "description": "Response message for FeaturestoreOnlineServingService.WriteFeatureValues."
    },
    "GoogleCloudAiplatformV1ModelEvaluationSliceSliceSliceSpecValue": {
      "id": "GoogleCloudAiplatformV1ModelEvaluationSliceSliceSliceSpecValue",
      "description": "Single value that supports strings and floats.",
      "properties": {
        "stringValue": {
          "type": "string",
          "description": "String type."
        },
        "floatValue": {
          "type": "number",
          "format": "float",
          "description": "Float type."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1TrialParameter": {
      "description": "A message representing a parameter to be tuned.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1TrialParameter",
      "properties": {
        "value": {
          "description": "Output only. The value of the parameter. `number_value` will be set if a parameter defined in StudySpec is in type 'INTEGER', 'DOUBLE' or 'DISCRETE'. `string_value` will be set if a parameter defined in StudySpec is in type 'CATEGORICAL'.",
          "readOnly": true,
          "type": "any"
        },
        "parameterId": {
          "readOnly": true,
          "description": "Output only. The ID of the parameter. The parameter should be defined in StudySpec's Parameters.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1ReadFeatureValuesResponseFeatureDescriptor": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Feature ID.",
          "type": "string"
        }
      },
      "description": "Metadata for requested Features.",
      "id": "GoogleCloudAiplatformV1ReadFeatureValuesResponseFeatureDescriptor"
    },
    "GoogleCloudAiplatformV1PurgeContextsRequest": {
      "description": "Request message for MetadataService.PurgeContexts.",
      "type": "object",
      "properties": {
        "filter": {
          "description": "Required. A required filter matching the Contexts to be purged. E.g., `update_time \u003c= 2020-11-19T11:30:00-04:00`.",
          "type": "string"
        },
        "force": {
          "type": "boolean",
          "description": "Optional. Flag to indicate to actually perform the purge. If `force` is set to false, the method will return a sample of Context names that would be deleted."
        }
      },
      "id": "GoogleCloudAiplatformV1PurgeContextsRequest"
    },
    "GoogleCloudAiplatformV1CustomJobSpec": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1CustomJobSpec",
      "description": "Represents the spec of a CustomJob.",
      "properties": {
        "experiment": {
          "type": "string",
          "description": "Optional. The Experiment associated with this job. Format: `projects/{project}/locations/{location}/metadataStores/{metadataStores}/contexts/{experiment-name}`"
        },
        "enableWebAccess": {
          "type": "boolean",
[...]
