{
  "discoveryVersion": "v1",
  "basePath": "",
  "endpoints": [
    {
      "location": "africa-south1",
      "endpointUrl": "https://africa-south1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "location": "asia-east1",
      "endpointUrl": "https://asia-east1-aiplatform.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "location": "asia-east2",
      "endpointUrl": "https://asia-east2-aiplatform.googleapis.com/"
    },
    {
      "location": "asia-northeast1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-northeast1-aiplatform.googleapis.com/"
    },
    {
      "location": "asia-northeast2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-northeast2-aiplatform.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-northeast3-aiplatform.googleapis.com/",
      "location": "asia-northeast3"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-south1-aiplatform.googleapis.com/",
      "location": "asia-south1"
    },
    {
      "endpointUrl": "https://asia-southeast1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "asia-southeast1"
    },
    {
      "location": "asia-southeast2",
      "endpointUrl": "https://asia-southeast2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "location": "australia-southeast1",
      "endpointUrl": "https://australia-southeast1-aiplatform.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "location": "australia-southeast2",
      "endpointUrl": "https://australia-southeast2-aiplatform.googleapis.com/"
    },
    {
      "location": "europe-central2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-central2-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://europe-north1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-north1"
    },
    {
      "endpointUrl": "https://europe-southwest1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-southwest1"
    },
    {
      "location": "europe-west1",
      "endpointUrl": "https://europe-west1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "europe-west2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west2-aiplatform.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "location": "europe-west3",
      "endpointUrl": "https://europe-west3-aiplatform.googleapis.com/"
    },
    {
      "location": "europe-west4",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west4-aiplatform.googleapis.com/"
    },
    {
      "location": "europe-west6",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west6-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://europe-west8-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-west8"
    },
    {
      "endpointUrl": "https://europe-west9-aiplatform.googleapis.com/",
      "location": "europe-west9",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-west12-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-west12"
    },
    {
      "description": "Locational Endpoint",
      "location": "me-central1",
      "endpointUrl": "https://me-central1-aiplatform.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://me-central2-aiplatform.googleapis.com/",
      "location": "me-central2"
    },
    {
      "endpointUrl": "https://me-west1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "me-west1"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://northamerica-northeast1-aiplatform.googleapis.com/",
      "location": "northamerica-northeast1"
    },
    {
      "description": "Locational Endpoint",
      "location": "northamerica-northeast2",
      "endpointUrl": "https://northamerica-northeast2-aiplatform.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "location": "southamerica-east1",
      "endpointUrl": "https://southamerica-east1-aiplatform.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://southamerica-west1-aiplatform.googleapis.com/",
      "location": "southamerica-west1"
    },
    {
      "endpointUrl": "https://us-central1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "us-central1"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-central2-aiplatform.googleapis.com/",
      "location": "us-central2"
    },
    {
      "endpointUrl": "https://us-east1-aiplatform.googleapis.com/",
      "location": "us-east1",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-east4-aiplatform.googleapis.com/",
      "location": "us-east4"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-south1-aiplatform.googleapis.com/",
      "location": "us-south1"
    },
    {
      "endpointUrl": "https://us-west1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "us-west1"
    },
    {
      "endpointUrl": "https://us-west2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "us-west2"
    },
    {
      "description": "Locational Endpoint",
      "location": "us-west3",
      "endpointUrl": "https://us-west3-aiplatform.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-west4-aiplatform.googleapis.com/",
      "location": "us-west4"
    },
    {
      "description": "Locational Endpoint",
      "location": "us-east5",
      "endpointUrl": "https://us-east5-aiplatform.googleapis.com/"
    }
  ],
  "fullyEncodeReservedExpansion": true,
  "description": "Train high-quality custom machine learning models with minimal machine learning expertise and effort.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://aiplatform.mtls.googleapis.com/",
  "schemas": {
    "CloudAiNlLlmProtoServicePartDocumentMetadata": {
      "type": "object",
      "properties": {
        "pageNumber": {
          "type": "integer",
          "format": "int32",
          "description": "The (1-indexed) page number of the image in the original document. The first page carries the original document content and mime type."
        },
        "originalDocumentBlob": {
          "description": "The original document blob.",
          "$ref": "CloudAiNlLlmProtoServicePartBlob"
        }
      },
      "id": "CloudAiNlLlmProtoServicePartDocumentMetadata",
      "description": "Metadata describes the original input document content."
    },
    "GoogleCloudAiplatformV1beta1ExplanationMetadata": {
      "id": "GoogleCloudAiplatformV1beta1ExplanationMetadata",
      "type": "object",
      "properties": {
        "inputs": {
          "type": "object",
          "description": "Required. Map from feature names to feature input metadata. Keys are the name of the features. Values are the specification of the feature. An empty InputMetadata is valid. It describes a text feature which has the name specified as the key in ExplanationMetadata.inputs. The baseline of the empty feature is chosen by Vertex AI. For Vertex AI-provided Tensorflow images, the key can be any friendly name of the feature. Once specified, featureAttributions are keyed by this key (if not grouped with another feature). For custom images, the key must match with the key in instance.",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1beta1ExplanationMetadataInputMetadata"
          }
        },
        "outputs": {
          "type": "object",
          "description": "Required. Map from output names to output metadata. For Vertex AI-provided Tensorflow images, keys can be any user defined string that consists of any UTF-8 characters. For custom images, keys are the name of the output field in the prediction to be explained. Currently only one key is allowed.",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1beta1ExplanationMetadataOutputMetadata"
          }
        },
        "latentSpaceSource": {
          "type": "string",
          "description": "Name of the source to generate embeddings for example based explanations."
        },
        "featureAttributionsSchemaUri": {
          "type": "string",
          "description": "Points to a YAML file stored on Google Cloud Storage describing the format of the feature attributions. The schema is defined as an OpenAPI 3.0.2 [Schema Object](https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.0.2.md#schemaObject). AutoML tabular Models always have this field populated by Vertex AI. Note: The URI given on output may be different, including the URI scheme, than the one given on input. The output URI will point to a location where the user only has a read access."
        }
      },
      "description": "Metadata describing the Model's input and output for explanation."
    },
    "GoogleCloudAiplatformV1beta1Context": {
      "description": "Instance of a general context.",
      "properties": {
        "labels": {
          "type": "object",
          "description": "The labels with user-defined metadata to organize your Contexts. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. No more than 64 user labels can be associated with one Context (System labels are excluded).",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "type": "object",
          "description": "Properties of the Context. Top level metadata keys' heading and trailing spaces will be trimmed. The size of this field should not exceed 200KB.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when this Context was created."
        },
        "description": {
          "description": "Description of the Context",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when this Context was last updated."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the Context."
        },
        "displayName": {
          "description": "User provided display name of the Context. May be up to 128 Unicode characters.",
          "type": "string"
        },
        "parentContexts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. A list of resource names of Contexts that are parents of this Context. A Context may have at most 10 parent_contexts."
        },
        "schemaVersion": {
          "type": "string",
          "description": "The version of the schema in schema_name to use. Schema title and version is expected to be registered in earlier Create Schema calls. And both are used together as unique identifiers to identify schemas within the local metadata store."
        },
        "etag": {
          "type": "string",
          "description": "An eTag used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens."
        },
        "schemaTitle": {
          "type": "string",
          "description": "The title of the schema describing the metadata. Schema title and version is expected to be registered in earlier Create Schema calls. And both are used together as unique identifiers to identify schemas within the local metadata store."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1Context"
    },
    "GoogleCloudAiplatformV1beta1ListArtifactsResponse": {
      "description": "Response message for MetadataService.ListArtifacts.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as ListArtifactsRequest.page_token to retrieve the next page. If this field is not populated, there are no subsequent pages.",
          "type": "string"
        },
        "artifacts": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1Artifact"
          },
          "type": "array",
          "description": "The Artifacts retrieved from the MetadataStore."
        }
      },
      "id": "GoogleCloudAiplatformV1beta1ListArtifactsResponse",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1EvaluateInstancesResponse": {
      "type": "object",
      "properties": {
        "pairwiseQuestionAnsweringQualityResult": {
          "$ref": "GoogleCloudAiplatformV1beta1PairwiseQuestionAnsweringQualityResult",
          "description": "Result for pairwise question answering quality metric."
        },
        "ragContextRecallResult": {
          "description": "RAG only metrics. Result for context recall metric.",
          "$ref": "GoogleCloudAiplatformV1beta1RagContextRecallResult"
        },
        "summarizationHelpfulnessResult": {
          "$ref": "GoogleCloudAiplatformV1beta1SummarizationHelpfulnessResult",
          "description": "Result for summarization helpfulness metric."
        },
        "questionAnsweringHelpfulnessResult": {
          "$ref": "GoogleCloudAiplatformV1beta1QuestionAnsweringHelpfulnessResult",
          "description": "Result for question answering helpfulness metric."
        },
        "questionAnsweringQualityResult": {
          "description": "Question answering only metrics. Result for question answering quality metric.",
          "$ref": "GoogleCloudAiplatformV1beta1QuestionAnsweringQualityResult"
        },
        "pairwiseSummarizationQualityResult": {
          "$ref": "GoogleCloudAiplatformV1beta1PairwiseSummarizationQualityResult",
          "description": "Result for pairwise summarization quality metric."
        },
        "summarizationQualityResult": {
          "$ref": "GoogleCloudAiplatformV1beta1SummarizationQualityResult",
          "description": "Summarization only metrics. Result for summarization quality metric."
        },
        "fluencyResult": {
          "$ref": "GoogleCloudAiplatformV1beta1FluencyResult",
          "description": "LLM-based metric evaluation result. General text generation metrics, applicable to other categories. Result for fluency metric."
        },
        "toolNameMatchResults": {
          "$ref": "GoogleCloudAiplatformV1beta1ToolNameMatchResults",
          "description": "Results for tool name match metric."
        },
        "bleuResults": {
          "$ref": "GoogleCloudAiplatformV1beta1BleuResults",
          "description": "Results for bleu metric."
        },
        "questionAnsweringRelevanceResult": {
          "description": "Result for question answering relevance metric.",
          "$ref": "GoogleCloudAiplatformV1beta1QuestionAnsweringRelevanceResult"
        },
        "summarizationVerbosityResult": {
          "description": "Result for summarization verbosity metric.",
          "$ref": "GoogleCloudAiplatformV1beta1SummarizationVerbosityResult"
        },
        "exactMatchResults": {
          "description": "Auto metric evaluation results. Results for exact match metric.",
          "$ref": "GoogleCloudAiplatformV1beta1ExactMatchResults"
        },
        "toolParameterKvMatchResults": {
          "$ref": "GoogleCloudAiplatformV1beta1ToolParameterKVMatchResults",
          "description": "Results for tool parameter key value match metric."
        },
        "questionAnsweringCorrectnessResult": {
          "$ref": "GoogleCloudAiplatformV1beta1QuestionAnsweringCorrectnessResult",
          "description": "Result for question answering correctness metric."
        },
        "groundednessResult": {
          "description": "Result for groundedness metric.",
          "$ref": "GoogleCloudAiplatformV1beta1GroundednessResult"
        },
        "responseRecallResult": {
          "description": "Result for response recall metric.",
          "$ref": "GoogleCloudAiplatformV1beta1ResponseRecallResult"
        },
        "toolCallValidResults": {
          "$ref": "GoogleCloudAiplatformV1beta1ToolCallValidResults",
          "description": "Tool call metrics. Results for tool call valid metric."
        },
        "safetyResult": {
          "description": "Result for safety metric.",
          "$ref": "GoogleCloudAiplatformV1beta1SafetyResult"
        },
        "rougeResults": {
          "$ref": "GoogleCloudAiplatformV1beta1RougeResults",
          "description": "Results for rouge metric."
        },
        "coherenceResult": {
          "$ref": "GoogleCloudAiplatformV1beta1CoherenceResult",
          "description": "Result for coherence metric."
        },
        "fulfillmentResult": {
          "$ref": "GoogleCloudAiplatformV1beta1FulfillmentResult",
          "description": "Result for fulfillment metric."
        },
        "toolParameterKeyMatchResults": {
          "$ref": "GoogleCloudAiplatformV1beta1ToolParameterKeyMatchResults",
          "description": "Results for tool parameter key match metric."
        }
      },
      "description": "Response message for EvaluationService.EvaluateInstances.",
      "id": "GoogleCloudAiplatformV1beta1EvaluateInstancesResponse"
    },
    "GoogleCloudAiplatformV1beta1ListTrainingPipelinesResponse": {
      "id": "GoogleCloudAiplatformV1beta1ListTrainingPipelinesResponse",
      "type": "object",
      "properties": {
        "trainingPipelines": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1TrainingPipeline"
          },
          "description": "List of TrainingPipelines in the requested page."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass to ListTrainingPipelinesRequest.page_token to obtain that page."
        }
      },
      "description": "Response message for PipelineService.ListTrainingPipelines"
    },
    "GoogleCloudAiplatformV1beta1PublisherModelCallToActionDeployGke": {
      "type": "object",
      "properties": {
        "gkeYamlConfigs": {
          "items": {
            "type": "string"
          },
          "description": "Optional. GKE deployment configuration in yaml format.",
          "type": "array"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1PublisherModelCallToActionDeployGke",
      "description": "Configurations for PublisherModel GKE deployment"
    },
    "GoogleCloudAiplatformV1beta1AuthConfig": {
      "description": "Auth configuration to run the extension.",
      "properties": {
        "apiKeyConfig": {
          "$ref": "GoogleCloudAiplatformV1beta1AuthConfigApiKeyConfig",
          "description": "Config for API key auth."
        },
        "oidcConfig": {
          "description": "Config for user OIDC auth.",
          "$ref": "GoogleCloudAiplatformV1beta1AuthConfigOidcConfig"
        },
        "oauthConfig": {
          "description": "Config for user oauth.",
          "$ref": "GoogleCloudAiplatformV1beta1AuthConfigOauthConfig"
        },
        "authType": {
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "NO_AUTH",
            "API_KEY_AUTH",
            "HTTP_BASIC_AUTH",
            "GOOGLE_SERVICE_ACCOUNT_AUTH",
            "OAUTH",
            "OIDC_AUTH"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Type of auth scheme."
        },
        "googleServiceAccountConfig": {
          "description": "Config for Google Service Account auth.",
          "$ref": "GoogleCloudAiplatformV1beta1AuthConfigGoogleServiceAccountConfig"
        },
        "noAuth": {
          "deprecated": true,
          "description": "Config for no auth.",
          "$ref": "GoogleCloudAiplatformV1beta1AuthConfigNoAuth"
        },
        "httpBasicAuthConfig": {
          "$ref": "GoogleCloudAiplatformV1beta1AuthConfigHttpBasicAuthConfig",
          "description": "Config for HTTP Basic auth."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1AuthConfig"
    },
    "GoogleCloudAiplatformV1beta1ImportDataResponse": {
      "type": "object",
      "description": "Response message for DatasetService.ImportData.",
      "properties": {},
      "id": "GoogleCloudAiplatformV1beta1ImportDataResponse"
    },
    "LearningGenaiRootSimilarityTakedownPhrase": {
      "properties": {
        "blockedPhrase": {
          "type": "string"
        }
      },
      "type": "object",
      "description": "Each SimilarityTakedownPhrase treats a logical group of blocked and allowed phrases together along with a corresponding punt If the closest matching response is of the allowed type, we allow the response If the closest matching response is of the blocked type, we block the response. eg: Blocked phrase - \"All lives matter\"",
      "id": "LearningGenaiRootSimilarityTakedownPhrase"
    },
    "GoogleCloudAiplatformV1beta1FulfillmentInstance": {
      "type": "object",
      "description": "Spec for fulfillment instance.",
      "id": "GoogleCloudAiplatformV1beta1FulfillmentInstance",
      "properties": {
        "prediction": {
          "type": "string",
          "description": "Required. Output of the evaluated model."
        },
        "instruction": {
          "type": "string",
          "description": "Required. Inference instruction prompt to compare prediction with."
        }
      }
    },
    "GoogleCloudAiplatformV1beta1ModelEvaluationBiasConfig": {
      "type": "object",
      "properties": {
        "labels": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Positive labels selection on the target field."
        },
        "biasSlices": {
          "$ref": "GoogleCloudAiplatformV1beta1ModelEvaluationSliceSliceSliceSpec",
          "description": "Specification for how the data should be sliced for bias. It contains a list of slices, with limitation of two slices. The first slice of data will be the slice_a. The second slice in the list (slice_b) will be compared against the first slice. If only a single slice is provided, then slice_a will be compared against \"not slice_a\". Below are examples with feature \"education\" with value \"low\", \"medium\", \"high\" in the dataset: Example 1: bias_slices = [{'education': 'low'}] A single slice provided. In this case, slice_a is the collection of data with 'education' equals 'low', and slice_b is the collection of data with 'education' equals 'medium' or 'high'. Example 2: bias_slices = [{'education': 'low'}, {'education': 'high'}] Two slices provided. In this case, slice_a is the collection of data with 'education' equals 'low', and slice_b is the collection of data with 'education' equals 'high'."
        }
      },
      "description": "Configuration for bias detection.",
      "id": "GoogleCloudAiplatformV1beta1ModelEvaluationBiasConfig"
    },
    "GoogleCloudAiplatformV1beta1Artifact": {
      "description": "Instance of a general artifact.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "User provided display name of the Artifact. May be up to 128 Unicode characters."
        },
        "description": {
          "type": "string",
          "description": "Description of the Artifact"
        },
        "schemaVersion": {
          "type": "string",
          "description": "The version of the schema in schema_name to use. Schema title and version is expected to be registered in earlier Create Schema calls. And both are used together as unique identifiers to identify schemas within the local metadata store."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state for the Artifact.",
            "A state used by systems like Vertex AI Pipelines to indicate that the underlying data item represented by this Artifact is being created.",
            "A state indicating that the Artifact should exist, unless something external to the system deletes it."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "LIVE"
          ],
          "type": "string",
          "description": "The state of this Artifact. This is a property of the Artifact, and does not imply or capture any ongoing process. This property is managed by clients (such as Vertex AI Pipelines), and the system does not prescribe or check the validity of state transitions."
        },
        "uri": {
          "description": "The uniform resource identifier of the artifact file. May be empty if there is no actual artifact file.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when this Artifact was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Properties of the Artifact. Top level metadata keys' heading and trailing spaces will be trimmed. The size of this field should not exceed 200KB."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when this Artifact was last updated.",
          "format": "google-datetime"
        },
        "etag": {
          "type": "string",
          "description": "An eTag used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens."
        },
        "schemaTitle": {
          "type": "string",
          "description": "The title of the schema describing the metadata. Schema title and version is expected to be registered in earlier Create Schema calls. And both are used together as unique identifiers to identify schemas within the local metadata store."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The labels with user-defined metadata to organize your Artifacts. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. No more than 64 user labels can be associated with one Artifact (System labels are excluded)."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the Artifact."
        }
      },
      "id": "GoogleCloudAiplatformV1beta1Artifact",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1FeatureViewSync": {
      "id": "GoogleCloudAiplatformV1beta1FeatureViewSync",
      "type": "object",
      "properties": {
        "runTime": {
          "$ref": "GoogleTypeInterval",
          "description": "Output only. Time when this FeatureViewSync is finished.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the FeatureViewSync. Format: `projects/{project}/locations/{location}/featureOnlineStores/{feature_online_store}/featureViews/{feature_view}/featureViewSyncs/{feature_view_sync}`"
        },
        "finalStatus": {
          "description": "Output only. Final status of the FeatureViewSync.",
          "readOnly": true,
          "$ref": "GoogleRpcStatus"
        },
        "createTime": {
          "description": "Output only. Time when this FeatureViewSync is created. Creation of a FeatureViewSync means that the job is pending / waiting for sufficient resources but may not have started the actual data transfer yet.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "syncSummary": {
          "$ref": "GoogleCloudAiplatformV1beta1FeatureViewSyncSyncSummary",
          "readOnly": true,
          "description": "Output only. Summary of the sync job."
        }
      },
      "description": "FeatureViewSync is a representation of sync operation which copies data from data source to Feature View in Online Store."
    },
    "GoogleCloudAiplatformV1beta1WriteFeatureValuesRequest": {
      "type": "object",
      "properties": {
        "payloads": {
          "type": "array",
          "description": "Required. The entities to be written. Up to 100,000 feature values can be written across all `payloads`.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1WriteFeatureValuesPayload"
          }
        }
      },
      "description": "Request message for FeaturestoreOnlineServingService.WriteFeatureValues.",
      "id": "GoogleCloudAiplatformV1beta1WriteFeatureValuesRequest"
    },
    "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionAutoMlTablesMetadata": {
      "type": "object",
      "properties": {
        "trainCostMilliNodeHours": {
          "description": "Output only. The actual training cost of the model, expressed in milli node hours, i.e. 1,000 value in this field means 1 node hour. Guaranteed to not exceed the train budget.",
          "format": "int64",
          "type": "string"
        },
        "evaluatedDataItemsBigqueryUri": {
          "description": "BigQuery destination uri for exported evaluated examples.",
          "type": "string"
        }
      },
      "description": "Model metadata specific to AutoML Tables.",
      "id": "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionAutoMlTablesMetadata"
    },
    "GoogleCloudAiplatformV1beta1BatchDeletePipelineJobsRequest": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1BatchDeletePipelineJobsRequest",
      "description": "Request message for PipelineService.BatchDeletePipelineJobs.",
      "properties": {
        "names": {
          "type": "array",
          "description": "Required. The names of the PipelineJobs to delete. A maximum of 32 PipelineJobs can be deleted in a batch. Format: `projects/{project}/locations/{location}/pipelineJobs/{pipelineJob}`",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1beta1SchemaTextExtractionAnnotation": {
      "properties": {
        "annotationSpecId": {
          "type": "string",
          "description": "The resource Id of the AnnotationSpec that this Annotation pertains to."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the AnnotationSpec that this Annotation pertains to."
        },
        "textSegment": {
          "$ref": "GoogleCloudAiplatformV1beta1SchemaTextSegment",
          "description": "The segment of the text content."
        }
      },
      "id": "GoogleCloudAiplatformV1beta1SchemaTextExtractionAnnotation",
      "type": "object",
      "description": "Annotation details specific to text extraction."
    },
    "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionAutoMlVideoObjectTracking": {
      "properties": {
        "inputs": {
          "$ref": "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionAutoMlVideoObjectTrackingInputs",
          "description": "The input parameters of this TrainingJob."
        }
      },
      "description": "A TrainingJob that trains and uploads an AutoML Video ObjectTracking Model.",
      "id": "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionAutoMlVideoObjectTracking",
      "type": "object"
    },
    "CloudAiNlLlmProtoServiceContent": {
      "description": "The content of a single message from a participant.",
      "type": "object",
      "id": "CloudAiNlLlmProtoServiceContent",
      "properties": {
        "parts": {
          "items": {
            "$ref": "CloudAiNlLlmProtoServicePart"
          },
          "type": "array",
          "description": "The parts of the message."
        },
        "role": {
          "type": "string",
          "description": "The role of the current conversation participant."
        }
      }
    },
    "GoogleCloudAiplatformV1beta1AddContextArtifactsAndExecutionsResponse": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1AddContextArtifactsAndExecutionsResponse",
      "description": "Response message for MetadataService.AddContextArtifactsAndExecutions."
    },
    "GoogleCloudAiplatformV1beta1ListFeatureOnlineStoresResponse": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1ListFeatureOnlineStoresResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as ListFeatureOnlineStoresRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "featureOnlineStores": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1FeatureOnlineStore"
          },
          "type": "array",
          "description": "The FeatureOnlineStores matching the request."
        }
      },
      "description": "Response message for FeatureOnlineStoreAdminService.ListFeatureOnlineStores."
    },
    "GoogleCloudAiplatformV1beta1ModelEvaluationSliceSliceSliceSpec": {
      "description": "Specification for how the data should be sliced.",
      "id": "GoogleCloudAiplatformV1beta1ModelEvaluationSliceSliceSliceSpec",
      "type": "object",
      "properties": {
        "configs": {
          "description": "Mapping configuration for this SliceSpec. The key is the name of the feature. By default, the key will be prefixed by \"instance\" as a dictionary prefix for Vertex Batch Predictions output format.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1beta1ModelEvaluationSliceSliceSliceSpecSliceConfig"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1beta1ToolNameMatchInput": {
      "description": "Input for tool name match metric.",
      "id": "GoogleCloudAiplatformV1beta1ToolNameMatchInput",
      "properties": {
        "instances": {
          "type": "array",
          "description": "Required. Repeated tool name match instances.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1ToolNameMatchInstance"
          }
        },
        "metricSpec": {
          "$ref": "GoogleCloudAiplatformV1beta1ToolNameMatchSpec",
          "description": "Required. Spec for tool name match metric."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1NearestNeighborQuery": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1NearestNeighborQuery",
      "properties": {
        "entityId": {
          "type": "string",
          "description": "Optional. The entity id whose similar entities should be searched for. If embedding is set, search will use embedding instead of entity_id."
        },
        "neighborCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of similar entities to be retrieved from feature view for each query."
        },
        "parameters": {
          "description": "Optional. Parameters that can be set to tune query on the fly.",
          "$ref": "GoogleCloudAiplatformV1beta1NearestNeighborQueryParameters"
        },
        "embedding": {
          "$ref": "GoogleCloudAiplatformV1beta1NearestNeighborQueryEmbedding",
          "description": "Optional. The embedding vector that be used for similar search."
        },
        "perCrowdingAttributeNeighborCount": {
          "description": "Optional. Crowding is a constraint on a neighbor list produced by nearest neighbor search requiring that no more than sper_crowding_attribute_neighbor_count of the k neighbors returned have the same value of crowding_attribute. It's used for improving result diversity.",
          "format": "int32",
          "type": "integer"
        },
        "stringFilters": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1NearestNeighborQueryStringFilter"
          },
          "description": "Optional. The list of string filters.",
          "type": "array"
        }
      },
      "description": "A query to find a number of similar entities."
    },
    "NlpSaftLanguageSpanSequence": {
      "properties": {
        "languageSpans": {
          "type": "array",
          "items": {
            "$ref": "NlpSaftLanguageSpan"
          },
          "description": "A sequence of LanguageSpan objects, each assigning a language to a subspan of the input."
        },
        "probability": {
          "type": "number",
          "description": "The probability of this sequence of LanguageSpans.",
          "format": "float"
        }
      },
      "type": "object",
      "id": "NlpSaftLanguageSpanSequence"
    },
    "GoogleCloudAiplatformV1beta1Index": {
      "description": "A representation of a collection of database items organized in a way that allows for approximate nearest neighbor (a.k.a ANN) algorithms search.",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the Index."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when this Index was created.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels with user-defined metadata to organize your Indexes. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https://goo.gl/xmQnxf for more information and examples of labels."
        },
        "etag": {
          "description": "Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the Index. The name can be up to 128 characters long and can consist of any UTF-8 characters.",
          "type": "string"
        },
        "indexUpdateMethod": {
          "enum": [
            "INDEX_UPDATE_METHOD_UNSPECIFIED",
            "BATCH_UPDATE",
            "STREAM_UPDATE"
          ],
          "enumDescriptions": [
            "Should not be used.",
            "BatchUpdate: user can call UpdateIndex with files on Cloud Storage of Datapoints to update.",
            "StreamUpdate: user can call UpsertDatapoints/DeleteDatapoints to update the Index and the updates will be applied in corresponding DeployedIndexes in nearly real-time."
          ],
          "description": "Immutable. The update method to use with this Index. If not set, BATCH_UPDATE will be used by default.",
          "type": "string"
        },
        "deployedIndexes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1DeployedIndexRef"
          },
          "readOnly": true,
          "description": "Output only. The pointers to DeployedIndexes created from this Index. An Index can be only deleted if all its DeployedIndexes had been undeployed first."
        },
        "metadataSchemaUri": {
          "description": "Immutable. Points to a YAML file stored on Google Cloud Storage describing additional information about the Index, that is specific to it. Unset if the Index does not have any additional information. The schema is defined as an OpenAPI 3.0.2 [Schema Object](https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.0.2.md#schemaObject). Note: The URI given on output will be immutable and probably different, including the URI scheme, than the one given on input. The output URI will point to a location where the user only has a read access.",
          "type": "string"
        },
        "description": {
          "description": "The description of the Index.",
          "type": "string"
        },
        "encryptionSpec": {
          "$ref": "GoogleCloudAiplatformV1beta1EncryptionSpec",
          "description": "Immutable. Customer-managed encryption key spec for an Index. If set, this Index and all sub-resources of this Index will be secured by this key."
        },
        "indexStats": {
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1beta1IndexStats",
          "description": "Output only. Stats of the index resource."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when this Index was most recently updated. This also includes any update to the contents of the Index. Note that Operations working on this Index may have their Operations.metadata.generic_metadata.update_time a little after the value of this timestamp, yet that does not mean their results are not already reflected in the Index. Result of any successfully completed Operation on the Index is reflected in it."
        },
        "metadata": {
          "description": "An additional information about the Index; the schema of the metadata can be found in metadata_schema.",
          "type": "any"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1Index"
    },
    "GoogleCloudAiplatformV1beta1SchemaPredictPredictionTextSentimentPredictionResult": {
      "id": "GoogleCloudAiplatformV1beta1SchemaPredictPredictionTextSentimentPredictionResult",
      "properties": {
        "sentiment": {
          "type": "integer",
          "format": "int32",
          "description": "The integer sentiment labels between 0 (inclusive) and sentimentMax label (inclusive), while 0 maps to the least positive sentiment and sentimentMax maps to the most positive one. The higher the score is, the more positive the sentiment in the text snippet is. Note: sentimentMax is an integer value between 1 (inclusive) and 10 (inclusive)."
        }
      },
      "type": "object",
      "description": "Prediction output format for Text Sentiment"
    },
    "GoogleCloudAiplatformV1beta1ContainerSpec": {
      "type": "object",
      "properties": {
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The arguments to be passed when starting the container."
        },
        "command": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The command to be invoked when the container is started. It overrides the entrypoint instruction in Dockerfile when provided."
        },
        "imageUri": {
          "type": "string",
          "description": "Required. The URI of a container image in the Container Registry that is to be run on each worker replica."
        },
        "env": {
          "description": "Environment variables to be passed to the container. Maximum limit is 100.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1EnvVar"
          },
          "type": "array"
        }
      },
      "description": "The spec of a Container.",
      "id": "GoogleCloudAiplatformV1beta1ContainerSpec"
    },
    "GoogleCloudAiplatformV1beta1QuestionAnsweringRelevanceInstance": {
      "id": "GoogleCloudAiplatformV1beta1QuestionAnsweringRelevanceInstance",
      "description": "Spec for question answering relevance instance.",
      "type": "object",
      "properties": {
        "context": {
          "type": "string",
          "description": "Optional. Text provided as context to answer the question."
        },
        "reference": {
          "type": "string",
          "description": "Optional. Ground truth used to compare against the prediction."
        },
        "instruction": {
          "type": "string",
          "description": "Required. The question asked and other instruction in the inference prompt."
        },
        "prediction": {
          "description": "Required. Output of the evaluated model.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1ManualBatchTuningParameters": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1ManualBatchTuningParameters",
      "properties": {
        "batchSize": {
          "format": "int32",
          "type": "integer",
          "description": "Immutable. The number of the records (e.g. instances) of the operation given in each batch to a machine replica. Machine type, and size of a single record should be considered when setting this parameter, higher value speeds up the batch operation's execution, but too high value will result in a whole batch not fitting in a machine's memory, and the whole operation will fail. The default value is 64."
        }
      },
      "description": "Manual batch tuning parameters."
    },
    "GoogleCloudAiplatformV1beta1DeploymentResourcePool": {
      "type": "object",
      "description": "A description of resources that can be shared by multiple DeployedModels, whose underlying specification consists of a DedicatedResources.",
      "properties": {
        "dedicatedResources": {
          "$ref": "GoogleCloudAiplatformV1beta1DedicatedResources",
          "description": "Required. The underlying DedicatedResources that the DeploymentResourcePool uses."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the DeploymentResourcePool. Format: `projects/{project}/locations/{location}/deploymentResourcePools/{deployment_resource_pool}`"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when this DeploymentResourcePool was created.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1DeploymentResourcePool"
    },
    "GoogleCloudAiplatformV1beta1CancelHyperparameterTuningJobRequest": {
      "id": "GoogleCloudAiplatformV1beta1CancelHyperparameterTuningJobRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for JobService.CancelHyperparameterTuningJob."
    },
    "GoogleCloudAiplatformV1beta1ListModelsResponse": {
      "id": "GoogleCloudAiplatformV1beta1ListModelsResponse",
      "properties": {
        "models": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1Model"
          },
          "description": "List of Models in the requested page.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results. Pass to ListModelsRequest.page_token to obtain that page."
        }
      },
      "type": "object",
      "description": "Response message for ModelService.ListModels"
    },
    "GoogleCloudAiplatformV1beta1SummarizationQualitySpec": {
      "description": "Spec for summarization quality score metric.",
      "properties": {
        "version": {
          "format": "int32",
          "description": "Optional. Which version to use for evaluation.",
          "type": "integer"
        },
        "useReference": {
          "type": "boolean",
          "description": "Optional. Whether to use instance.reference to compute summarization quality."
        }
      },
      "id": "GoogleCloudAiplatformV1beta1SummarizationQualitySpec",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1ModelEvaluationSliceSliceSliceSpecSliceConfig": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1ModelEvaluationSliceSliceSliceSpecSliceConfig",
      "properties": {
        "allValues": {
          "type": "boolean",
          "description": "If all_values is set to true, then all possible labels of the keyed feature will have another slice computed. Example: `{\"all_values\":{\"value\":true}}`"
        },
        "range": {
          "$ref": "GoogleCloudAiplatformV1beta1ModelEvaluationSliceSliceSliceSpecRange",
          "description": "A range of values for a numerical feature. Example: `{\"range\":{\"low\":10000.0,\"high\":50000.0}}` will capture 12345 and 23334 in the slice."
        },
        "value": {
          "$ref": "GoogleCloudAiplatformV1beta1ModelEvaluationSliceSliceSliceSpecValue",
          "description": "A unique specific value for a given feature. Example: `{ \"value\": { \"string_value\": \"12345\" } }`"
        }
      },
      "description": "Specification message containing the config for this SliceSpec. When `kind` is selected as `value` and/or `range`, only a single slice will be computed. When `all_values` is present, a separate slice will be computed for each possible label/value for the corresponding key in `config`. Examples, with feature zip_code with values 12345, 23334, 88888 and feature country with values \"US\", \"Canada\", \"Mexico\" in the dataset: Example 1: { \"zip_code\": { \"value\": { \"float_value\": 12345.0 } } } A single slice for any data with zip_code 12345 in the dataset. Example 2: { \"zip_code\": { \"range\": { \"low\": 12345, \"high\": 20000 } } } A single slice containing data where the zip_codes between 12345 and 20000 For this example, data with the zip_code of 12345 will be in this slice. Example 3: { \"zip_code\": { \"range\": { \"low\": 10000, \"high\": 20000 } }, \"country\": { \"value\": { \"string_value\": \"US\" } } } A single slice containing data where the zip_codes between 10000 and 20000 has the country \"US\". For this example, data with the zip_code of 12345 and country \"US\" will be in this slice. Example 4: { \"country\": {\"all_values\": { \"value\": true } } } Three slices are computed, one for each unique country in the dataset. Example 5: { \"country\": { \"all_values\": { \"value\": true } }, \"zip_code\": { \"value\": { \"float_value\": 12345.0 } } } Three slices are computed, one for each unique country in the dataset where the zip_code is also 12345. For this example, data with zip_code 12345 and country \"US\" will be in one slice, zip_code 12345 and country \"Canada\" in another slice, and zip_code 12345 and country \"Mexico\" in another slice, totaling 3 slices."
    },
    "GoogleCloudAiplatformV1beta1QuestionAnsweringHelpfulnessInstance": {
      "id": "GoogleCloudAiplatformV1beta1QuestionAnsweringHelpfulnessInstance",
      "properties": {
        "context": {
          "type": "string",
          "description": "Optional. Text provided as context to answer the question."
        },
        "instruction": {
          "description": "Required. The question asked and other instruction in the inference prompt.",
          "type": "string"
        },
        "prediction": {
          "description": "Required. Output of the evaluated model.",
          "type": "string"
        },
        "reference": {
          "type": "string",
          "description": "Optional. Ground truth used to compare against the prediction."
        }
      },
      "type": "object",
      "description": "Spec for question answering helpfulness instance."
    },
    "GoogleCloudAiplatformV1beta1ModelGardenSource": {
      "description": "Contains information about the source of the models generated from Model Garden.",
      "properties": {
        "publicModelName": {
          "description": "Required. The model garden source model resource name.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1ModelGardenSource"
    },
    "GoogleCloudAiplatformV1beta1DataItemView": {
      "properties": {
        "dataItem": {
          "$ref": "GoogleCloudAiplatformV1beta1DataItem",
          "description": "The DataItem."
        },
        "hasTruncatedAnnotations": {
          "type": "boolean",
          "description": "True if and only if the Annotations field has been truncated. It happens if more Annotations for this DataItem met the request's annotation_filter than are allowed to be returned by annotations_limit. Note that if Annotations field is not being returned due to field mask, then this field will not be set to true no matter how many Annotations are there."
        },
        "annotations": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1Annotation"
          },
          "description": "The Annotations on the DataItem. If too many Annotations should be returned for the DataItem, this field will be truncated per annotations_limit in request. If it was, then the has_truncated_annotations will be set to true.",
          "type": "array"
        }
      },
      "description": "A container for a single DataItem and Annotations on it.",
      "id": "GoogleCloudAiplatformV1beta1DataItemView",
      "type": "object"
    },
    "CloudAiNlLlmProtoServicePartBlob": {
      "type": "object",
      "description": "Represents arbitrary blob data input.",
      "properties": {
        "data": {
          "format": "byte",
          "description": "Inline data.",
          "type": "string"
        },
        "originalFileData": {
          "$ref": "CloudAiNlLlmProtoServicePartFileData",
          "description": "Original file data where the blob comes from."
        },
        "mimeType": {
          "type": "string",
          "description": "The mime type corresponding to this input."
        }
      },
      "id": "CloudAiNlLlmProtoServicePartBlob"
    },
    "GoogleLongrunningListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "id": "GoogleLongrunningListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1ExplanationMetadataOutputMetadata": {
      "properties": {
        "displayNameMappingKey": {
          "description": "Specify a field name in the prediction to look for the display name. Use this if the prediction contains the display names for the outputs. The display names in the prediction must have the same shape of the outputs, so that it can be located by Attribution.output_index for a specific output.",
          "type": "string"
        },
        "indexDisplayNameMapping": {
          "type": "any",
          "description": "Static mapping between the index and display name. Use this if the outputs are a deterministic n-dimensional array, e.g. a list of scores of all the classes in a pre-defined order for a multi-classification Model. It's not feasible if the outputs are non-deterministic, e.g. the Model produces top-k classes or sort the outputs by their values. The shape of the value must be an n-dimensional array of strings. The number of dimensions must match that of the outputs to be explained. The Attribution.output_display_name is populated by locating in the mapping with Attribution.output_index."
        },
        "outputTensorName": {
          "type": "string",
          "description": "Name of the output tensor. Required and is only applicable to Vertex AI provided images for Tensorflow."
        }
      },
      "type": "object",
      "description": "Metadata of the prediction output to be explained.",
      "id": "GoogleCloudAiplatformV1beta1ExplanationMetadataOutputMetadata"
    },
    "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionTftForecastingInputs": {
      "properties": {
        "availableAtForecastColumns": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Names of columns that are available and provided when a forecast is requested. These columns contain information for the given entity (identified by the time_series_identifier_column column) that is known at forecast. For example, predicted weather for a specific day."
        },
        "forecastHorizon": {
          "format": "int64",
          "description": "The amount of time into the future for which forecasted values for the target are returned. Expressed in number of units defined by the `data_granularity` field.",
          "type": "string"
        },
        "optimizationObjective": {
          "type": "string",
          "description": "Objective function the model is optimizing towards. The training process creates a model that optimizes the value of the objective function over the validation set. The supported optimization objectives: * \"minimize-rmse\" (default) - Minimize root-mean-squared error (RMSE). * \"minimize-mae\" - Minimize mean-absolute error (MAE). * \"minimize-rmsle\" - Minimize root-mean-squared log error (RMSLE). * \"minimize-rmspe\" - Minimize root-mean-squared percentage error (RMSPE). * \"minimize-wape-mae\" - Minimize the combination of weighted absolute percentage error (WAPE) and mean-absolute-error (MAE). * \"minimize-quantile-loss\" - Minimize the quantile loss at the quantiles defined in `quantiles`. * \"minimize-mape\" - Minimize the mean absolute percentage error."
        },
        "validationOptions": {
          "type": "string",
          "description": "Validation options for the data validation component. The available options are: * \"fail-pipeline\" - default, will validate against the validation and fail the pipeline if it fails. * \"ignore-validation\" - ignore the results of the validation and continue"
        },
        "quantiles": {
          "description": "Quantiles to use for minimize-quantile-loss `optimization_objective`. Up to 5 quantiles are allowed of values between 0 and 1, exclusive. Required if the value of optimization_objective is minimize-quantile-loss. Represents the percent quantiles to use for that objective. Quantiles must be unique.",
          "type": "array",
          "items": {
            "format": "double",
            "type": "number"
          }
        },
        "contextWindow": {
          "description": "The amount of time into the past training and prediction data is used for model training and prediction respectively. Expressed in number of units defined by the `data_granularity` field.",
          "type": "string",
          "format": "int64"
        },
        "timeSeriesAttributeColumns": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Column names that should be used as attribute columns. The value of these columns does not vary as a function of time. For example, store ID or item color."
        },
        "windowConfig": {
          "$ref": "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionWindowConfig",
          "description": "Config containing strategy for generating sliding windows."
        },
        "timeColumn": {
          "type": "string",
          "description": "The name of the column that identifies time order in the time series. This column must be available at forecast."
        },
        "timeSeriesIdentifierColumn": {
          "type": "string",
          "description": "The name of the column that identifies the time series."
        },
        "transformations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionTftForecastingInputsTransformation"
          },
          "description": "Each transformation will apply transform function to given input column. And the result will be used for training. When creating transformation for BigQuery Struct column, the column should be flattened using \".\" as the delimiter."
        },
        "targetColumn": {
          "description": "The name of the column that the Model is to predict values for. This column must be unavailable at forecast.",
          "type": "string"
        },
        "exportEvaluatedDataItemsConfig": {
          "$ref": "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionExportEvaluatedDataItemsConfig",
          "description": "Configuration for exporting test set predictions to a BigQuery table. If this configuration is absent, then the export is not performed."
        },
        "hierarchyConfig": {
          "description": "Configuration that defines the hierarchical relationship of time series and parameters for hierarchical forecasting strategies.",
          "$ref": "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionHierarchyConfig"
        },
        "trainBudgetMilliNodeHours": {
          "description": "Required. The train budget of creating this model, expressed in milli node hours i.e. 1,000 value in this field means 1 node hour. The training cost of the model will not exceed this budget. The final cost will be attempted to be close to the budget, though may end up being (even) noticeably smaller - at the backend's discretion. This especially may happen when further model training ceases to provide any improvements. If the budget is set to a value known to be insufficient to train a model for the given dataset, the training won't be attempted and will error. The train budget must be between 1,000 and 72,000 milli node hours, inclusive.",
          "type": "string",
          "format": "int64"
        },
        "additionalExperiments": {
          "description": "Additional experiment flags for the time series forcasting training.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "holidayRegions": {
          "items": {
            "type": "string"
          },
          "description": "The geographical region based on which the holiday effect is applied in modeling by adding holiday categorical array feature that include all holidays matching the date. This option only allowed when data_granularity is day. By default, holiday effect modeling is disabled. To turn it on, specify the holiday region using this option.",
          "type": "array"
        },
        "unavailableAtForecastColumns": {
          "description": "Names of columns that are unavailable when a forecast is requested. This column contains information for the given entity (identified by the time_series_identifier_column) that is unknown before the forecast For example, actual weather on a given day.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "dataGranularity": {
          "description": "Expected difference in time granularity between rows in the data.",
          "$ref": "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionTftForecastingInputsGranularity"
        },
        "weightColumn": {
          "type": "string",
          "description": "Column name that should be used as the weight column. Higher values in this column give more importance to the row during model training. The column must have numeric values between 0 and 10000 inclusively; 0 means the row is ignored for training. If weight column field is not set, then all rows are assumed to have equal weight of 1. This column must be available at forecast."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionTftForecastingInputs"
    },
    "GoogleCloudAiplatformV1beta1UndeployModelRequest": {
      "properties": {
        "deployedModelId": {
          "type": "string",
          "description": "Required. The ID of the DeployedModel to be undeployed from the Endpoint."
        },
        "trafficSplit": {
          "type": "object",
          "description": "If this field is provided, then the Endpoint's traffic_split will be overwritten with it. If last DeployedModel is being undeployed from the Endpoint, the [Endpoint.traffic_split] will always end up empty when this call returns. A DeployedModel will be successfully undeployed only if it doesn't have any traffic assigned to it when this method executes, or if this field unassigns any traffic to it.",
          "additionalProperties": {
            "format": "int32",
            "type": "integer"
          }
        }
      },
      "type": "object",
      "description": "Request message for EndpointService.UndeployModel.",
      "id": "GoogleCloudAiplatformV1beta1UndeployModelRequest"
    },
    "GoogleCloudAiplatformV1beta1SmoothGradConfig": {
      "id": "GoogleCloudAiplatformV1beta1SmoothGradConfig",
      "type": "object",
      "description": "Config for SmoothGrad approximation of gradients. When enabled, the gradients are approximated by averaging the gradients from noisy samples in the vicinity of the inputs. Adding noise can help improve the computed gradients. Refer to this paper for more details: https://arxiv.org/pdf/1706.03825.pdf",
      "properties": {
        "featureNoiseSigma": {
          "description": "This is similar to noise_sigma, but provides additional flexibility. A separate noise sigma can be provided for each feature, which is useful if their distributions are different. No noise is added to features that are not set. If this field is unset, noise_sigma will be used for all features.",
          "$ref": "GoogleCloudAiplatformV1beta1FeatureNoiseSigma"
        },
        "noiseSigma": {
          "description": "This is a single float value and will be used to add noise to all the features. Use this field when all features are normalized to have the same distribution: scale to range [0, 1], [-1, 1] or z-scoring, where features are normalized to have 0-mean and 1-variance. Learn more about [normalization](https://developers.google.com/machine-learning/data-prep/transform/normalization). For best results the recommended value is about 10% - 20% of the standard deviation of the input feature. Refer to section 3.2 of the SmoothGrad paper: https://arxiv.org/pdf/1706.03825.pdf. Defaults to 0.1. If the distribution is different per feature, set feature_noise_sigma instead for each feature.",
          "format": "float",
          "type": "number"
        },
        "noisySampleCount": {
          "type": "integer",
          "description": "The number of gradient samples to use for approximation. The higher this number, the more accurate the gradient is, but the runtime complexity increases by this factor as well. Valid range of its value is [1, 50]. Defaults to 3.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1ListMetadataStoresResponse": {
      "properties": {
        "metadataStores": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1MetadataStore"
          },
          "description": "The MetadataStores found for the Location."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as ListMetadataStoresRequest.page_token to retrieve the next page. If this field is not populated, there are no subsequent pages."
        }
      },
      "id": "GoogleCloudAiplatformV1beta1ListMetadataStoresResponse",
      "description": "Response message for MetadataService.ListMetadataStores.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1FeatureViewSyncConfig": {
      "id": "GoogleCloudAiplatformV1beta1FeatureViewSyncConfig",
      "description": "Configuration for Sync. Only one option is set.",
      "properties": {
        "cron": {
          "description": "Cron schedule (https://en.wikipedia.org/wiki/Cron) to launch scheduled runs. To explicitly set a timezone to the cron tab, apply a prefix in the cron tab: \"CRON_TZ=${IANA_TIME_ZONE}\" or \"TZ=${IANA_TIME_ZONE}\". The ${IANA_TIME_ZONE} may only be a valid string from IANA time zone database. For example, \"CRON_TZ=America/New_York 1 * * * *\", or \"TZ=America/New_York 1 * * * *\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1CoherenceInput": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1CoherenceInput",
      "description": "Input for coherence metric.",
      "properties": {
        "instance": {
          "description": "Required. Coherence instance.",
          "$ref": "GoogleCloudAiplatformV1beta1CoherenceInstance"
        },
        "metricSpec": {
          "$ref": "GoogleCloudAiplatformV1beta1CoherenceSpec",
          "description": "Required. Spec for coherence score metric."
        }
      }
    },
    "CloudAiLargeModelsVisionVideo": {
      "type": "object",
      "description": "Video",
      "id": "CloudAiLargeModelsVisionVideo",
      "properties": {
        "video": {
          "description": "Raw bytes.",
          "type": "string",
          "format": "byte"
        },
        "uri": {
          "description": "Path to another storage (typically Google Cloud Storage).",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1CreateExtensionControllerOperationMetadata": {
      "properties": {
        "genericMetadata": {
          "$ref": "GoogleCloudAiplatformV1beta1GenericOperationMetadata",
          "description": "The common part of the operation metadata."
        }
      },
      "id": "GoogleCloudAiplatformV1beta1CreateExtensionControllerOperationMetadata",
      "type": "object",
      "description": "Details of ExtensionControllerService.CreateExtensionController operation."
    },
    "GoogleCloudAiplatformV1beta1QuestionAnsweringQualitySpec": {
      "properties": {
        "useReference": {
          "type": "boolean",
          "description": "Optional. Whether to use instance.reference to compute question answering quality."
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Which version to use for evaluation."
        }
      },
      "description": "Spec for question answering quality score metric.",
      "id": "GoogleCloudAiplatformV1beta1QuestionAnsweringQualitySpec",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1CsvDestination": {
      "id": "GoogleCloudAiplatformV1beta1CsvDestination",
      "type": "object",
      "description": "The storage details for CSV output content.",
      "properties": {
        "gcsDestination": {
          "$ref": "GoogleCloudAiplatformV1beta1GcsDestination",
          "description": "Required. Google Cloud Storage location."
        }
      }
    },
    "GoogleCloudAiplatformV1beta1FeatureViewSyncSyncSummary": {
      "type": "object",
      "description": "Summary from the Sync job. For continuous syncs, the summary is updated periodically. For batch syncs, it gets updated on completion of the sync.",
      "id": "GoogleCloudAiplatformV1beta1FeatureViewSyncSyncSummary",
      "properties": {
        "totalSlot": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. BigQuery slot milliseconds consumed for the sync job.",
          "format": "int64"
        },
        "rowSynced": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Total number of rows synced.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1AddContextArtifactsAndExecutionsRequest": {
      "id": "GoogleCloudAiplatformV1beta1AddContextArtifactsAndExecutionsRequest",
      "type": "object",
      "properties": {
        "artifacts": {
          "type": "array",
          "description": "The resource names of the Artifacts to attribute to the Context. Format: `projects/{project}/locations/{location}/metadataStores/{metadatastore}/artifacts/{artifact}`",
          "items": {
            "type": "string"
          }
        },
        "executions": {
          "items": {
            "type": "string"
          },
          "description": "The resource names of the Executions to associate with the Context. Format: `projects/{project}/locations/{location}/metadataStores/{metadatastore}/executions/{execution}`",
          "type": "array"
        }
      },
      "description": "Request message for MetadataService.AddContextArtifactsAndExecutions."
    },
    "GoogleCloudAiplatformV1beta1ImportRagFilesConfig": {
      "id": "GoogleCloudAiplatformV1beta1ImportRagFilesConfig",
      "properties": {
        "ragFileChunkingConfig": {
          "$ref": "GoogleCloudAiplatformV1beta1RagFileChunkingConfig",
          "description": "Specifies the size and overlap of chunks after importing RagFiles."
        },
        "googleDriveSource": {
          "$ref": "GoogleCloudAiplatformV1beta1GoogleDriveSource",
          "description": "Google Drive location. Supports importing individual files as well as Google Drive folders."
        },
        "gcsSource": {
          "$ref": "GoogleCloudAiplatformV1beta1GcsSource",
          "description": "Google Cloud Storage location. Supports importing individual files as well as entire Google Cloud Storage directories. Sample formats: * \"gs://bucket_name/my_directory/object_name/my_file.txt\". * \"gs://bucket_name/my_directory\""
        }
      },
      "description": "Config for importing RagFiles.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1ExplanationSpecOverride": {
      "description": "The ExplanationSpec entries that can be overridden at online explanation time.",
      "properties": {
        "metadata": {
          "description": "The metadata to be overridden. If not specified, no metadata is overridden.",
          "$ref": "GoogleCloudAiplatformV1beta1ExplanationMetadataOverride"
        },
        "examplesOverride": {
          "$ref": "GoogleCloudAiplatformV1beta1ExamplesOverride",
          "description": "The example-based explanations parameter overrides."
        },
        "parameters": {
          "$ref": "GoogleCloudAiplatformV1beta1ExplanationParameters",
          "description": "The parameters to be overridden. Note that the attribution method cannot be changed. If not specified, no parameter is overridden."
        }
      },
      "id": "GoogleCloudAiplatformV1beta1ExplanationSpecOverride",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1UnmanagedContainerModel": {
      "properties": {
        "predictSchemata": {
          "$ref": "GoogleCloudAiplatformV1beta1PredictSchemata",
          "description": "Contains the schemata used in Model's predictions and explanations"
        },
        "artifactUri": {
          "description": "The path to the directory containing the Model artifact and any of its supporting files.",
          "type": "string"
        },
        "containerSpec": {
          "$ref": "GoogleCloudAiplatformV1beta1ModelContainerSpec",
          "description": "Input only. The specification of the container that is to be used when deploying this Model."
        }
      },
      "id": "GoogleCloudAiplatformV1beta1UnmanagedContainerModel",
      "type": "object",
      "description": "Contains model information necessary to perform batch prediction without requiring a full model import."
    },
    "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionSeq2SeqPlusForecastingInputsTransformationCategoricalTransformation": {
      "id": "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionSeq2SeqPlusForecastingInputsTransformationCategoricalTransformation",
      "type": "object",
      "properties": {
        "columnName": {
          "type": "string"
        }
      },
      "description": "Training pipeline will perform following transformation functions. * The categorical string as is--no change to case, punctuation, spelling, tense, and so on. * Convert the category name to a dictionary lookup index and generate an embedding for each index. * Categories that appear less than 5 times in the training dataset are treated as the \"unknown\" category. The \"unknown\" category gets its own special lookup index and resulting embedding."
    },
    "GoogleCloudAiplatformV1beta1NasTrialDetail": {
      "id": "GoogleCloudAiplatformV1beta1NasTrialDetail",
      "type": "object",
      "properties": {
        "parameters": {
          "description": "The parameters for the NasJob NasTrial.",
          "type": "string"
        },
        "searchTrial": {
          "description": "The requested search NasTrial.",
          "$ref": "GoogleCloudAiplatformV1beta1NasTrial"
        },
        "trainTrial": {
          "description": "The train NasTrial corresponding to search_trial. Only populated if search_trial is used for training.",
          "$ref": "GoogleCloudAiplatformV1beta1NasTrial"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of the NasTrialDetail."
        }
      },
      "description": "Represents a NasTrial details along with its parameters. If there is a corresponding train NasTrial, the train NasTrial is also returned."
    },
    "GoogleCloudAiplatformV1beta1NotebookRuntimeTemplateRef": {
      "type": "object",
      "description": "Points to a NotebookRuntimeTemplateRef.",
      "id": "GoogleCloudAiplatformV1beta1NotebookRuntimeTemplateRef",
      "properties": {
        "notebookRuntimeTemplate": {
          "type": "string",
          "description": "Immutable. A resource name of the NotebookRuntimeTemplate."
        }
      }
    },
    "GoogleCloudAiplatformV1beta1Retrieval": {
      "type": "object",
      "description": "Defines a retrieval tool that model can call to access external knowledge.",
      "properties": {
        "vertexAiSearch": {
          "$ref": "GoogleCloudAiplatformV1beta1VertexAISearch",
          "description": "Set to use data source powered by Vertex AI Search."
        },
        "vertexRagStore": {
          "$ref": "GoogleCloudAiplatformV1beta1VertexRagStore",
          "description": "Set to use data source powered by Vertex RAG store. User data is uploaded via the VertexRagDataService."
        },
        "disableAttribution": {
          "type": "boolean",
          "description": "Optional. Disable using the result from this tool in detecting grounding attribution. This does not affect how the result is given to the model for generation."
        }
      },
      "id": "GoogleCloudAiplatformV1beta1Retrieval"
    },
    "LanguageLabsAidaTrustRecitationProtoSegmentResult": {
      "id": "LanguageLabsAidaTrustRecitationProtoSegmentResult",
      "type": "object",
      "properties": {
        "docOccurrences": {
          "description": "number of documents that contained this segment",
          "format": "int32",
          "type": "integer"
        },
        "attributionDataset": {
          "enumDescriptions": [
            "",
            "Wikipedia article Tensorflow datasets used by Tarzan and maintained by TFDS team.",
            "Webdocs that have been filtered from the docjoins by the Tarzan team for use in the Tarzan training set.",
            "",
            "",
            "'Full view' books dataset maintained by Oceanographers team, meaning 'ok to view the book in full in all localities'. Largely the same as 'public domain', but with potentially subtle distinction.",
            "Filtered private books used by ULM: http://google3/learning/multipod/pax/lm/params/ulm/tasks.py;l=123;rcl=494241309. which corresponds with /cns/mf-d/home/multipod-language-data/private_books/books_filtered_en_resharded@50000",
            "Google news dataset referenced in: http://google3/learning/brain/research/conversation/meena/t5/pretrain_tasks.py;l=922;rcl=496534668",
            "The docjoins data for ULM /cns/yo-d/home/multipod-language-data/docjoins/rs=6.3/20220728/100B_docstructure_split/examples_en.tfrecord_lattice_05_score_01_HFV13@3929",
            "",
            "Meena full conversations. http://google3/learning/brain/research/conversation/meena/t5/pretrain_mixtures.py;l=675;rcl=496583228",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Academic dataset of math text. http://google3/learning/brain/research/conversation/meena/seqio/mixtures/experimental/bard.py;rcl=500222380",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Datasets managed by the Goodall team: deepmind-goodall@google.com",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Datasets used by Codepoet",
            "Datasets used by Vertex",
            "",
            "",
            "Datasets used by Gemini Public data",
            "",
            "",
            "",
            "Public webdocs",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Github",
            "",
            "",
            "",
            "",
            "",
            "Arxiv",
            "Others",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Gemini V1, order by precedence. Wikipedia",
            "",
            "Public webdocs",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Github dataset with license info. We prefer this to help cite proper licenses for code recitation.",
            "",
            "",
            "",
            "",
            "",
            "",
            "ArXiv",
            "Citable misc",
            "",
            "",
            "Non-public books",
            "",
            "",
            "Other",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Duet AI finetune datasets, order by precedence.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Bard ARCADE finetune dataset.",
            "Mobile assistant finetune datasets.",
            "",
            "Genesis fine-tune datasets.",
            "Cloud Security fine-tune datasets.",
            "",
            "",
            "LABS AQA fine-tune datasets.",
            "",
            "",
            "Gemini multimodal instruction tune(IT) and fine tune(FT) datasets datasets.",
            "",
            "",
            "",
            "",
            "",
            "",
            "Gemini IT 1.2.7 datasets",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Gemit Bridge ULM FT dataset",
            "Gemini Goose FT datasets.",
            "",
            "Gemini V2 datasets",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Cloud gemit pro FT datasets.",
            "",
            "",
            "",
            "",
            "",
            "",
            "Cloud gemit ultra FT datasets.",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DATASET_UNSPECIFIED",
            "WIKIPEDIA",
            "WEBDOCS",
            "WEBDOCS_FINETUNE",
            "GITHUB_MIRROR",
            "BOOKS_FULL_VIEW",
            "BOOKS_PRIVATE",
            "GNEWS",
            "ULM_DOCJOINS",
            "ULM_DOCJOINS_DEDUPED",
            "MEENA_FC",
            "PODCAST",
            "AQUA",
            "WEB_ASR",
            "BARD_GOLDEN",
            "COMMON_SENSE_REASONING",
            "MATH",
            "MATH_REASONING",
            "CLEAN_ARXIV",
            "LAMDA_FACTUALITY_E2E_QUERY_GENERATION",
            "LAMDA_FACTUALITY_E2E_RESPONSE_GENERATION",
            "MASSIVE_FORUM_THREAD_SCORED_BARD",
            "MASSIVE_FORUM_THREAD_SCORED_LONG_200",
            "MASSIVE_FORUM_THREAD_SCORED_LONG_500",
            "DOCUMENT_CHUNKS",
            "MEENA_RESEARCH_PHASE_GOLDEN_MARKDOWN",
            "MEENA_RESEARCH_PHASE_GOOGLERS",
            "MEENA_RESPONSE_SAFETY_HUMAN_GEN",
            "MEENA_RESPONSE_SAFETY_SCHEMA_NO_BROADCAST",
            "MEENA_RESPONSE_SAFETY_V3_HUMAN_GEN2",
            "MEENA_RESPONSE_SAFETY_V3_SCHEMA_NO_BROADCAST",
            "LAMDA_FACTUALITY_TRIGGER",
            "LAMDA_SAFETY_V2_SCHEMA_NO_BROADCAST",
            "LAMDA_SSI_DISCRIMINATIVE",
            "ASSISTANT_PERSONALITY_SAFETY",
            "PODCAST_FINETUNE_DIALOG",
            "WORLD_QUERY_GENERATOR",
            "C4_JOINED_DOCJOINS",
            "HOL4_THEORIES",
            "HOL_LIGHT_THEORIES",
            "HOLSTEPS",
            "ISABELLE_STEP",
            "ISABELLE_THEORIES",
            "LEAN_MATHLIB_THEORIES",
            "LEAN_STEP",
            "MIZAR_THEORIES",
            "COQ_STEP",
            "COQ_THEORIES",
            "AMPS_KHAN",
            "AMPS_MATHEMATICA",
            "CODEY_CODE",
            "CODE_QA_SE",
            "CODE_QA_SO",
            "CODE_QA_FT_FORMAT",
            "CODE_QA_FT_KNOWLEDGE",
            "CODE_QA_GITHUB_FILTERED_CODE",
            "BARD_PERSONALITY_GOLDEN",
            "ULM_DOCJOINS_WITH_URLS_EN",
            "ULM_DOCJOINS_WITH_URLS_I18N",
            "GOODALL_MTV5_GITHUB",
            "GOODALL_MTV5_BOOKS",
            "GOODALL_MTV5_C4",
            "GOODALL_MTV5_WIKIPEDIA",
            "GOODALL_MW_TOP_100B",
            "GOODALL_MW_STACK_EXCHANGE",
            "GOODALL_MW_TOP_0_10B",
            "GOODALL_MW_TOP_10B_20B",
            "CODEY_NOTEBOOK_LM_PRETRAINING",
            "VERTEX_SAFE_FLAN",
            "GITHUB_MIRROR_V1_0_1",
            "GITHUB_MIRROR_V2_1_0",
            "CMS_WIKIPEDIA_LANG_FILTERED",
            "CMS_STACKOVERFLOW_MULTILINGUAL",
            "CMS_STACKEXCHANGE",
            "PUBMED",
            "GEMINI_DOCJOINS_EN_TOP10B_GCC",
            "GEMINI_DOCJOINS_EN_TOP10B_TOP20B_GCC",
            "GEMINI_DOCJOINS_EN_TOP20B_TOP100B_GCC",
            "GEMINI_DOCJOINS_EN_TOP100B_ALL_INDEXED_GCC",
            "GEMINI_DOCJOINS_I18N_TOP10B_GCC",
            "GEMINI_DOCJOINS_I18N_TOP10B_TOP20B_GCC",
            "GEMINI_DOCJOINS_I18N_TOP20B_TOP100B_GCC",
            "SIMPLIFIED_HTML_V1_GCC",
            "GEMINI_DOCJOINS_TOXICITY_TAGGED_GCC",
            "CMS_GITHUB_V4",
            "GITHUB_HTML_V4",
            "GITHUB_OTHER_V4",
            "GITHUB_LONG_TAIL_V4",
            "CMS_GITHUB_MULTIFILE_V4",
            "GITHUB_DIFFS_WITH_COMMIT_MESSAGE",
            "ULM_ARXIV",
            "NONPUB_COPYRIGHT_BOOKS_V2_70_CONF_040623_LONG_DEDUP_ENONLY",
            "NONPUB_COPYRIGHT_BOOKS_V2_70_CONF_040623_LONG_DEDUP_NONENONLY",
            "QUORA",
            "PODCASTS_ROBOTSTXT",
            "COMBINED_REDDIT",
            "CANARIES_SHUFFLED",
            "CLM_TRANSLATE_DATAV2_ALLTIERS_GCC_MIX",
            "TECHDOCS_DATA_SOURCE",
            "SCIENCE_PDF_70M_DOCS_FILTERED",
            "GEMINI_V1_CMS_WIKIPEDIA_LANG_FILTERED",
            "GEMINI_V1_WIKIPEDIA_DIFFS",
            "GEMINI_V1_DOCJOINS_EN_TOP10B_GCC_NODEDUP_050523",
            "GEMINI_V1_DOCJOINS_EN_TOP10B_TOP20B_GCC_NODEDUP_050523",
            "GEMINI_V1_DOCJOINS_EN_TOP20B_TOP100B_GCC_NODEDUP_050523",
            "GEMINI_V1_DOCJOINS_EN_TOP100B_ALL_INDEXED_GCC_NODEDUP_050523",
            "GEMINI_V1_DOCJOINS_I18N_TOP10B_GCC_050523",
            "GEMINI_V1_DOCJOINS_I18N_TOP10B_TOP20B_GCC_050523",
            "GEMINI_V1_DOCJOINS_I18N_TOP20B_TOP100B_GCC_050523",
            "GEMINI_V1_SIMPLIFIED_HTML_V2_GCC",
            "GEMINI_V1_CMS_STACKOVERFLOW_MULTILINGUAL_V2",
            "GEMINI_V1_CMS_STACKEXCHANGE_DECONT",
            "GEMINI_V1_QUORA",
            "GEMINI_V1_COMBINED_REDDIT",
            "GEMINI_V1_DOCJOIN_100B_EN_TOXICITY_TAGGED_GCC_FIXED_TAGS",
            "GEMINI_V1_PUBMED",
            "GEMINI_V1_WEB_MATH_V2",
            "GEMINI_V1_CMS_GITHUB_V7",
            "GEMINI_V1_CMS_GITHUB_DECONTAMINATED_V_7",
            "GEMINI_V1_GITHUB_DIFF_WITH_COMMIT_MESSAGE_V2",
            "GEMINI_V1_GITHUB_HTML_CSS_XML_V4",
            "GEMINI_V1_GITHUB_OTHER_V4",
            "GEMINI_V1_GITHUB_LONG_TAIL_V4",
            "GEMINI_V1_GITHUB_JUPTYER_NOTEBOOKS_SSTABLE",
            "GEMINI_V1_ULM_ARXIV_SSTABLE",
            "GEMINI_V1_PODCASTS_ROBOTSTXT",
            "GEMINI_V1_SCIENCE_PDF_68M_HQ_DOCS_GCC",
            "GEMINI_V1_GITHUB_TECHDOCS_V2",
            "GEMINI_V1_NONPUB_COPYRIGHT_BOOKS_V2_70_CONF_LONG_DEDUP_EN",
            "GEMINI_V1_NONPUB_COPYRIGHT_BOOKS_V2_70_CONF_LONG_DEDUP_NONEN",
            "GEMINI_V1_STEM_BOOKS_650K_TEXT",
            "GEMINI_V1_VQCOCA_1B_MULTIRES_M3W_V2_FILTERED",
            "GEMINI_V1_VQCOCA_1B_MULTIRES_WEBLI_EN_V4_350M_PREFIXED_FILTERED_IMAGE2TEXT",
            "GEMINI_V1_VQCOCA_1B_MULTIRES_SCREENAI_PREFIXED_FILTERED_IMAGE2TEXT",
            "GEMINI_V1_VQCOCA_1B_MULTIRES_CULTURE_PREFIXED_FILTERED_IMAGE2TEXT",
            "GEMINI_V1_VQCOCA_1B_MULTIRES_CC3M_EN_PREFIXED_IMAGE2TEXT",
            "GEMINI_V1_VQCOCA_1B_MULTIRES_CC3M_I18N_PREFIXED_IMAGE2TEXT",
            "GEMINI_V1_VQCOCA_1B_MULTIRES_OCR_EN_PREFIXED_FILTERED_IMAGE2TEXT",
            "GEMINI_V1_VQCOCA_1B_MULTIRES_OCR_NON_EN_PREFIXED_FILTERED_IMAGE2TEXT",
            "GEMINI_V1_VQCOCA_1B_MULTIRES_VTP_4F_VIDEO2TEXT_PREFIX",
            "GEMINI_V1_FORMAL_MATH_WITHOUT_HOLSTEPS_AND_MIZAR",
            "GEMINI_V1_TRANSLATE_DATAV2_ALLTIERS_GCC_MIX",
            "GEMINI_V1_CANARIES_SHUFFLED_DOCJOIN_EN_NONEN_CODE_ARXIV_TRANSLATE",
            "DUET_CLOUD_SECURITY_DOCS",
            "DUET_GITHUB_CODE_SNIPPETS",
            "DUET_GITHUB_FILES",
            "DUET_GOBYEXAMPLE",
            "DUET_GOLANG_DOCS",
            "DUET_CLOUD_DOCS_TROUBLESHOOTING_TABLES",
            "DUET_DEVSITE_DOCS",
            "DUET_CLOUD_BLOG_POSTS",
            "DUET_CLOUD_PODCAST_EPISODES",
            "DUET_YOUTUBE_VIDEOS",
            "DUET_CLOUD_SKILLS_BOOST",
            "DUET_CLOUD_DOCS",
            "DUET_CLOUD_GITHUB_CODE_SNIPPETS_GENERATED",
            "DUET_CLOUD_GITHUB_CODE_SNIPPETS_HANDWRITTEN",
            "DUET_GOOGLESQL_GENERATION",
            "DUET_CLOUD_IX_PROMPTS",
            "DUET_RAD",
            "DUET_STACKOVERFLOW_ISSUES",
            "DUET_STACKOVERFLOW_ANSWERS",
            "BARD_ARCADE_GITHUB",
            "MOBILE_ASSISTANT_MAGI_FILTERED_0825_373K",
            "MOBILE_ASSISTANT_PALM24B_FILTERED_400K",
            "GENESIS_NEWS_INSIGHTS",
            "CLOUD_SECURITY_PRETRAINING",
            "CLOUD_SECURITY_FINETUNING",
            "CLOUD_SECURITY_RAG_CISA",
            "LABS_AQA_DSCOUT",
            "LABS_AQA_TAILWIND",
            "LABS_AQA_DELEWARE",
            "GEMINI_MULTIMODAL_FT_URL",
            "GEMINI_MULTIMODAL_FT_YT",
            "GEMINI_MULTIMODAL_FT_SHUTTERSTOCK",
            "GEMINI_MULTIMODAL_FT_NONE",
            "GEMINI_MULTIMODAL_FT_OTHER",
            "GEMINI_MULTIMODAL_FT_INK",
            "GEMINI_MULTIMODAL_IT",
            "GEMINI_IT_SHUTTERSTOCK",
            "GEMINI_IT_M3W",
            "GEMINI_IT_HEDGING",
            "GEMINI_IT_DSCOUT_FACTUALITY",
            "GEMINI_IT_AQUAMUSE",
            "GEMINI_IT_SHOTGUN",
            "GEMINI_IT_ACI_BENCH",
            "GEMINI_IT_SPIDER_FILTERED",
            "GEMINI_IT_TAB_SUM_BQ",
            "GEMINI_IT_QA_WITH_URL",
            "GEMINI_IT_CODE_INSTRUCT",
            "GEMINI_IT_MED_PALM",
            "GEMINI_IT_TASK_ORIENTED_DIALOG",
            "GEMINI_IT_NIMBUS_GROUNDING_TO_PROMPT",
            "GEMINI_IT_EITL_GEN",
            "GEMINI_IT_HITL_GEN",
            "GEMINI_IT_MECH",
            "GEMINI_IT_TABLE_GEN",
            "GEMINI_IT_NIMBUS_DECIBEL",
            "GEMINI_IT_CLOUD_CODE_IF",
            "GEMINI_IT_CLOUD_EUR_LEX_JSON",
            "GEMINI_IT_CLOUD_OASST",
            "GEMINI_IT_CLOUD_SELF_INSTRUCT",
            "GEMINI_IT_CLOUD_UCS_AQUAMUSE",
            "GEMIT_BRIDGE_SUFFIX_FT",
            "GEMINI_GOOSE_PUBLIC",
            "GEMINI_GOOSE_SILOED",
            "GEMINI_V2_CMS_WIKIPEDIA_LANG_FILTERED_GCC_PII",
            "GEMINI_V2_WIKIPEDIA_DIFFS_COMPLIANT",
            "GEMINI_V2_ENGLISH_ARTICLES_TOP10B_211123_PII_FILTERED",
            "GEMINI_V2_ENGLISH_NONARTICLES_TOP10B_211123_PII_FILTERED",
            "GEMINI_V2_GEMINI_DOCJOINS_NONEN_TOP10B_111323_WITHOUT_CJKT_STOP_NONARTICLES_COMPLIANT",
            "GEMINI_V2_GEMINI_DOCJOINS_NONEN_TOP10B_111323_WITHOUT_CJKT_STOP_ARTICLES_COMPLIANT",
            "GEMINI_V2_ENGLISH_ARTICLES_TOP20B_211123_PII_FILTERED",
            "GEMINI_V2_ENGLISH_NONARTICLES_TOP20B_211123_PII_FILTERED",
            "GEMINI_V2_GEMINI_DOCJOINS_NONEN_TOP20B_111323_WITHOUT_CJKT_STOP_NONARTICLES_COMPLIANT",
            "GEMINI_V2_GEMINI_DOCJOINS_NONEN_TOP20B_111323_WITHOUT_CJKT_STOP_ARTICLES_COMPLIANT",
            "GEMINI_V2_ENGLISH_ARTICLES_TOP100B_211123_PII_FILTERED",
            "GEMINI_V2_ENGLISH_NONARTICLES_TOP100B_211123_PII_FILTERED",
            "GEMINI_V2_GEMINI_DOCJOINS_NONEN_TOP100B_111323_WITHOUT_CJKT_STOP_NONARTICLES_COMPLIANT",
            "GEMINI_V2_GEMINI_DOCJOINS_NONEN_TOP100B_111323_WITHOUT_CJKT_STOP_ARTICLES_COMPLIANT",
            "GEMINI_V2_ENGLISH_ARTICLES_TOP500B_211123_PII_FILTERED",
            "GEMINI_V2_ENGLISH_NONARTICLES_TOP500B_211123_PII_FILTERED",
            "GEMINI_V2_QUORA_COMPLIANT",
            "GEMINI_V2_FORUMS_V2_COMPLIANT",
            "GEMINI_V2_CMS_STACKOVERFLOW_MULTILINGUAL_V2_COMPLIANT",
            "GEMINI_V2_SIMPLIFIED_HTML_V2_CORRECT_FORMAT_COMPLIANT",
            "GEMINI_V2_GEMINI_DOCJOINS_TOXICITY_TAGGED_FIXED_TAGS_COMPLIANT",
            "GEMINI_V2_CODEWEB_V1_COMPLIANT",
            "GEMINI_V2_LEETCODE_GCC_PII",
            "GEMINI_V2_CODE_CONTESTS_COMPLIANT",
            "GEMINI_V2_CMS_GITHUB_MULTI_FILE_FOR_FIM_GEMBAGZ_FIXED_BYTES_LENGTHS",
            "GEMINI_V2_GITHUB_EVALED_LANGUAGES_COMPLIANT",
            "GEMINI_V2_GITHUB_NON_EVAL_HIGH_PRI_LANGUAGES_COMPLIANT",
            "GEMINI_V2_GITHUB_LOW_PRI_LANGUAGES_AND_CONFIGS_COMPLIANT",
            "GEMINI_V2_GITHUB_LONG_TAIL_AND_STRUCTURED_DATA_COMPLIANT",
            "GEMINI_V2_GITHUB_PYTHON_NOTEBOOKS_COMPLIANT",
            "GEMINI_V2_GITHUB_DIFFS_COMPLIANT",
            "GEMINI_V2_GITHUB_TECHDOCS_COMPLIANT",
            "GEMINI_V2_HIGH_QUALITY_CODE_TARGETED_DATA_COMPLIANT2",
            "GEMINI_V2_SCIENCE_PDF_68M_HQ_DOCS_DEDUP_COMPLIANT_CLEAN_TEX",
            "GEMINI_V2_ARXIV_2023_COMPLIANT",
            "GEMINI_V2_FORMAL_COMPLIANT",
            "GEMINI_V2_CMS_STACKEXCHANGE_COMPLIANT",
            "GEMINI_V2_PUBMED_COMPLIANT",
            "GEMINI_V2_WEB_MATH_V3_COMPLIANT",
            "GEMINI_V2_SCIENCEWEB_V0_GCC_PII",
            "GEMINI_V2_WEB_POLYMATH_V1_COMPLIANT",
            "GEMINI_V2_MATH_TARGETED_DATA_COMPLIANT2",
            "GEMINI_V2_BIOLOGY_TARGETED_DATA_COMPLIANT2",
            "GEMINI_V2_PHYSICS_V2_TARGETED_DATA_COMPLIANT2",
            "GEMINI_V2_CHEMISTRY_TARGETED_DATA_COMPLIANT2",
            "GEMINI_V2_MACHINE_LEARNING_TARGETED_DATA_COMPLIANT2",
            "GEMINI_V2_QA_TARGETED_DATA_COMPLIANT2",
            "GEMINI_V2_ECONOMICS_V2_TARGETED_DATA_COMPLIANT2",
[...]
