{
  "description": "Train high-quality custom machine learning models with minimal machine learning expertise and effort.",
  "discoveryVersion": "v1",
  "name": "aiplatform",
  "basePath": "",
  "ownerDomain": "google.com",
  "schemas": {
    "GoogleCloudAiplatformV1ModelExplanation": {
      "type": "object",
      "properties": {
        "meanAttributions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Attribution"
          },
          "readOnly": true,
          "description": "Output only. Aggregated attributions explaining the Model's prediction outputs over the set of instances. The attributions are grouped by outputs. For Models that predict only one output, such as regression Models that predict only one score, there is only one attibution that explains the predicted output. For Models that predict multiple outputs, such as multiclass Models that predict multiple classes, each element explains one specific item. Attribution.output_index can be used to identify which output this attribution is explaining. The baselineOutputValue, instanceOutputValue and featureAttributions fields are averaged over the test data. NOTE: Currently AutoML tabular classification Models produce only one attribution, which averages attributions over all the classes it predicts. Attribution.approximation_error is not populated."
        }
      },
      "description": "Aggregated explanation metrics for a Model over a set of instances.",
      "id": "GoogleCloudAiplatformV1ModelExplanation"
    },
    "GoogleCloudAiplatformV1SchemaPredictPredictionTextSentimentPredictionResult": {
      "id": "GoogleCloudAiplatformV1SchemaPredictPredictionTextSentimentPredictionResult",
      "properties": {
        "sentiment": {
          "description": "The integer sentiment labels between 0 (inclusive) and sentimentMax label (inclusive), while 0 maps to the least positive sentiment and sentimentMax maps to the most positive one. The higher the score is, the more positive the sentiment in the text snippet is. Note: sentimentMax is an integer value between 1 (inclusive) and 10 (inclusive).",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Prediction output format for Text Sentiment"
    },
    "GoogleCloudAiplatformV1ResumeScheduleRequest": {
      "description": "Request message for ScheduleService.ResumeSchedule.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1ResumeScheduleRequest",
      "properties": {
        "catchUp": {
          "description": "Optional. Whether to backfill missed runs when the schedule is resumed from PAUSED state. If set to true, all missed runs will be scheduled. New runs will be scheduled after the backfill is complete. This will also update Schedule.catch_up field. Default to false.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudAiplatformV1StreamingPredictRequest": {
      "properties": {
        "inputs": {
          "description": "The prediction input.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Tensor"
          },
          "type": "array"
        },
        "parameters": {
          "description": "The parameters that govern the prediction.",
          "$ref": "GoogleCloudAiplatformV1Tensor"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1StreamingPredictRequest",
      "description": "Request message for PredictionService.StreamingPredict. The first message must contain endpoint field and optionally input. The subsequent messages must contain input."
    },
    "GoogleCloudAiplatformV1DeployIndexRequest": {
      "type": "object",
      "properties": {
        "deployedIndex": {
          "$ref": "GoogleCloudAiplatformV1DeployedIndex",
          "description": "Required. The DeployedIndex to be created within the IndexEndpoint."
        }
      },
      "id": "GoogleCloudAiplatformV1DeployIndexRequest",
      "description": "Request message for IndexEndpointService.DeployIndex."
    },
    "GoogleCloudAiplatformV1ExplanationMetadataInputMetadata": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1ExplanationMetadataInputMetadata",
      "properties": {
        "encodedTensorName": {
          "type": "string",
          "description": "Encoded tensor is a transformation of the input tensor. Must be provided if choosing Integrated Gradients attribution or XRAI attribution and the input tensor is not differentiable. An encoded tensor is generated if the input tensor is encoded by a lookup table."
        },
        "featureValueDomain": {
          "description": "The domain details of the input feature value. Like min/max, original mean or standard deviation if normalized.",
          "$ref": "GoogleCloudAiplatformV1ExplanationMetadataInputMetadataFeatureValueDomain"
        },
        "encodedBaselines": {
          "items": {
            "type": "any"
          },
          "type": "array",
          "description": "A list of baselines for the encoded tensor. The shape of each baseline should match the shape of the encoded tensor. If a scalar is provided, Vertex AI broadcasts to the same shape as the encoded tensor."
        },
        "groupName": {
          "type": "string",
          "description": "Name of the group that the input belongs to. Features with the same group name will be treated as one feature when computing attributions. Features grouped together can have different shapes in value. If provided, there will be one single attribution generated in Attribution.feature_attributions, keyed by the group name."
        },
        "inputBaselines": {
          "items": {
            "type": "any"
          },
          "description": "Baseline inputs for this feature. If no baseline is specified, Vertex AI chooses the baseline for this feature. If multiple baselines are specified, Vertex AI returns the average attributions across them in Attribution.feature_attributions. For Vertex AI-provided Tensorflow images (both 1.x and 2.x), the shape of each baseline must match the shape of the input tensor. If a scalar is provided, we broadcast to the same shape as the input tensor. For custom images, the element of the baselines must be in the same format as the feature's input in the instance[]. The schema of any single instance may be specified via Endpoint's DeployedModels' Model's PredictSchemata's instance_schema_uri.",
          "type": "array"
        },
        "denseShapeTensorName": {
          "description": "Specifies the shape of the values of the input if the input is a sparse representation. Refer to Tensorflow documentation for more details: https://www.tensorflow.org/api_docs/python/tf/sparse/SparseTensor.",
          "type": "string"
        },
        "indexFeatureMapping": {
          "description": "A list of feature names for each index in the input tensor. Required when the input InputMetadata.encoding is BAG_OF_FEATURES, BAG_OF_FEATURES_SPARSE, INDICATOR.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "indicesTensorName": {
          "type": "string",
          "description": "Specifies the index of the values of the input tensor. Required when the input tensor is a sparse representation. Refer to Tensorflow documentation for more details: https://www.tensorflow.org/api_docs/python/tf/sparse/SparseTensor."
        },
        "inputTensorName": {
          "description": "Name of the input tensor for this feature. Required and is only applicable to Vertex AI-provided images for Tensorflow.",
          "type": "string"
        },
        "encoding": {
          "enum": [
            "ENCODING_UNSPECIFIED",
            "IDENTITY",
            "BAG_OF_FEATURES",
            "BAG_OF_FEATURES_SPARSE",
            "INDICATOR",
            "COMBINED_EMBEDDING",
            "CONCAT_EMBEDDING"
          ],
          "description": "Defines how the feature is encoded into the input tensor. Defaults to IDENTITY.",
          "enumDescriptions": [
            "Default value. This is the same as IDENTITY.",
            "The tensor represents one feature.",
            "The tensor represents a bag of features where each index maps to a feature. InputMetadata.index_feature_mapping must be provided for this encoding. For example: ``` input = [27, 6.0, 150] index_feature_mapping = [\"age\", \"height\", \"weight\"] ```",
            "The tensor represents a bag of features where each index maps to a feature. Zero values in the tensor indicates feature being non-existent. InputMetadata.index_feature_mapping must be provided for this encoding. For example: ``` input = [2, 0, 5, 0, 1] index_feature_mapping = [\"a\", \"b\", \"c\", \"d\", \"e\"] ```",
            "The tensor is a list of binaries representing whether a feature exists or not (1 indicates existence). InputMetadata.index_feature_mapping must be provided for this encoding. For example: ``` input = [1, 0, 1, 0, 1] index_feature_mapping = [\"a\", \"b\", \"c\", \"d\", \"e\"] ```",
            "The tensor is encoded into a 1-dimensional array represented by an encoded tensor. InputMetadata.encoded_tensor_name must be provided for this encoding. For example: ``` input = [\"This\", \"is\", \"a\", \"test\", \".\"] encoded = [0.1, 0.2, 0.3, 0.4, 0.5] ```",
            "Select this encoding when the input tensor is encoded into a 2-dimensional array represented by an encoded tensor. InputMetadata.encoded_tensor_name must be provided for this encoding. The first dimension of the encoded tensor's shape is the same as the input tensor's shape. For example: ``` input = [\"This\", \"is\", \"a\", \"test\", \".\"] encoded = [[0.1, 0.2, 0.3, 0.4, 0.5], [0.2, 0.1, 0.4, 0.3, 0.5], [0.5, 0.1, 0.3, 0.5, 0.4], [0.5, 0.3, 0.1, 0.2, 0.4], [0.4, 0.3, 0.2, 0.5, 0.1]] ```"
          ],
          "type": "string"
        },
        "visualization": {
          "description": "Visualization configurations for image explanation.",
          "$ref": "GoogleCloudAiplatformV1ExplanationMetadataInputMetadataVisualization"
        },
        "modality": {
          "description": "Modality of the feature. Valid values are: numeric, image. Defaults to numeric.",
          "type": "string"
        }
      },
      "description": "Metadata of the input of a feature. Fields other than InputMetadata.input_baselines are applicable only for Models that are using Vertex AI-provided images for Tensorflow."
    },
    "GoogleCloudAiplatformV1MigratableResource": {
      "description": "Represents one resource that exists in automl.googleapis.com, datalabeling.googleapis.com or ml.googleapis.com.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1MigratableResource",
      "properties": {
        "mlEngineModelVersion": {
          "readOnly": true,
          "description": "Output only. Represents one Version in ml.googleapis.com.",
          "$ref": "GoogleCloudAiplatformV1MigratableResourceMlEngineModelVersion"
        },
        "lastMigrateTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the last migration attempt on this MigratableResource started. Will not be set if there's no migration attempt on this MigratableResource.",
          "readOnly": true,
          "type": "string"
        },
        "lastUpdateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when this MigratableResource was last updated."
        },
        "automlDataset": {
          "description": "Output only. Represents one Dataset in automl.googleapis.com.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1MigratableResourceAutomlDataset"
        },
        "automlModel": {
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1MigratableResourceAutomlModel",
          "description": "Output only. Represents one Model in automl.googleapis.com."
        },
        "dataLabelingDataset": {
          "$ref": "GoogleCloudAiplatformV1MigratableResourceDataLabelingDataset",
          "readOnly": true,
          "description": "Output only. Represents one Dataset in datalabeling.googleapis.com."
        }
      }
    },
    "GoogleCloudAiplatformV1ExplanationMetadataOutputMetadata": {
      "description": "Metadata of the prediction output to be explained.",
      "id": "GoogleCloudAiplatformV1ExplanationMetadataOutputMetadata",
      "type": "object",
      "properties": {
        "displayNameMappingKey": {
          "description": "Specify a field name in the prediction to look for the display name. Use this if the prediction contains the display names for the outputs. The display names in the prediction must have the same shape of the outputs, so that it can be located by Attribution.output_index for a specific output.",
          "type": "string"
        },
        "indexDisplayNameMapping": {
          "description": "Static mapping between the index and display name. Use this if the outputs are a deterministic n-dimensional array, e.g. a list of scores of all the classes in a pre-defined order for a multi-classification Model. It's not feasible if the outputs are non-deterministic, e.g. the Model produces top-k classes or sort the outputs by their values. The shape of the value must be an n-dimensional array of strings. The number of dimensions must match that of the outputs to be explained. The Attribution.output_display_name is populated by locating in the mapping with Attribution.output_index.",
          "type": "any"
        },
        "outputTensorName": {
          "description": "Name of the output tensor. Required and is only applicable to Vertex AI provided images for Tensorflow.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTextSentiment": {
      "properties": {
        "inputs": {
          "description": "The input parameters of this TrainingJob.",
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTextSentimentInputs"
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTextSentiment",
      "description": "A TrainingJob that trains and uploads an AutoML Text Sentiment Model.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTextClassificationInputs": {
      "properties": {
        "multiLabel": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTextClassificationInputs"
    },
    "GoogleCloudAiplatformV1ListIndexesResponse": {
      "type": "object",
      "description": "Response message for IndexService.ListIndexes.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results. Pass to ListIndexesRequest.page_token to obtain that page."
        },
        "indexes": {
          "description": "List of indexes in the requested page.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Index"
          }
        }
      },
      "id": "GoogleCloudAiplatformV1ListIndexesResponse"
    },
    "GoogleCloudAiplatformV1BatchReadFeatureValuesRequest": {
      "id": "GoogleCloudAiplatformV1BatchReadFeatureValuesRequest",
      "properties": {
        "destination": {
          "description": "Required. Specifies output location and format.",
          "$ref": "GoogleCloudAiplatformV1FeatureValueDestination"
        },
        "csvReadInstances": {
          "$ref": "GoogleCloudAiplatformV1CsvSource",
          "description": "Each read instance consists of exactly one read timestamp and one or more entity IDs identifying entities of the corresponding EntityTypes whose Features are requested. Each output instance contains Feature values of requested entities concatenated together as of the read time. An example read instance may be `foo_entity_id, bar_entity_id, 2020-01-01T10:00:00.123Z`. An example output instance may be `foo_entity_id, bar_entity_id, 2020-01-01T10:00:00.123Z, foo_entity_feature1_value, bar_entity_feature2_value`. Timestamp in each read instance must be millisecond-aligned. `csv_read_instances` are read instances stored in a plain-text CSV file. The header should be: [ENTITY_TYPE_ID1], [ENTITY_TYPE_ID2], ..., timestamp The columns can be in any order. Values in the timestamp column must use the RFC 3339 format, e.g. `2012-07-30T10:43:17.123Z`."
        },
        "passThroughFields": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1BatchReadFeatureValuesRequestPassThroughField"
          },
          "description": "When not empty, the specified fields in the *_read_instances source will be joined as-is in the output, in addition to those fields from the Featurestore Entity. For BigQuery source, the type of the pass-through values will be automatically inferred. For CSV source, the pass-through values will be passed as opaque bytes."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Optional. Excludes Feature values with feature generation timestamp before this timestamp. If not set, retrieve oldest values kept in Feature Store. Timestamp, if present, must not have higher than millisecond precision.",
          "type": "string"
        },
        "bigqueryReadInstances": {
          "$ref": "GoogleCloudAiplatformV1BigQuerySource",
          "description": "Similar to csv_read_instances, but from BigQuery source."
        },
        "entityTypeSpecs": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1BatchReadFeatureValuesRequestEntityTypeSpec"
          },
          "description": "Required. Specifies EntityType grouping Features to read values of and settings.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Request message for FeaturestoreService.BatchReadFeatureValues."
    },
    "GoogleCloudAiplatformV1FeatureValueDestination": {
      "type": "object",
      "description": "A destination location for Feature values and format.",
      "id": "GoogleCloudAiplatformV1FeatureValueDestination",
      "properties": {
        "csvDestination": {
          "description": "Output in CSV format. Array Feature value types are not allowed in CSV format.",
          "$ref": "GoogleCloudAiplatformV1CsvDestination"
        },
        "tfrecordDestination": {
          "$ref": "GoogleCloudAiplatformV1TFRecordDestination",
          "description": "Output in TFRecord format. Below are the mapping from Feature value type in Featurestore to Feature value type in TFRecord: Value type in Featurestore | Value type in TFRecord DOUBLE, DOUBLE_ARRAY | FLOAT_LIST INT64, INT64_ARRAY | INT64_LIST STRING, STRING_ARRAY, BYTES | BYTES_LIST true -\u003e byte_string(\"true\"), false -\u003e byte_string(\"false\") BOOL, BOOL_ARRAY (true, false) | BYTES_LIST"
        },
        "bigqueryDestination": {
          "description": "Output in BigQuery format. BigQueryDestination.output_uri in FeatureValueDestination.bigquery_destination must refer to a table.",
          "$ref": "GoogleCloudAiplatformV1BigQueryDestination"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaAnnotationSpecColor": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the AnnotationSpec represented by the color in the segmentation mask."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the AnnotationSpec represented by the color in the segmentation mask."
        },
        "color": {
          "$ref": "GoogleTypeColor",
          "description": "The color of the AnnotationSpec in a segmentation mask."
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaAnnotationSpecColor",
      "type": "object",
      "description": "An entry of mapping between color and AnnotationSpec. The mapping is used in segmentation mask."
    },
    "GoogleCloudAiplatformV1SchemaModelevaluationMetricsVideoObjectTrackingMetrics": {
      "properties": {
        "trackMeanAveragePrecision": {
          "type": "number",
          "description": "UNIMPLEMENTED. The single metric for tracks accuracy evaluation: the `meanAveragePrecision` averaged over all `trackMetrics`.",
          "format": "float"
        },
        "trackMetrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsTrackMetrics"
          },
          "description": "UNIMPLEMENTED. The tracks match metrics for each intersection-over-union threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99 and each label confidence threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99 pair."
        },
        "trackMeanMismatchRate": {
          "type": "number",
          "format": "float",
          "description": "UNIMPLEMENTED. The single metric for tracking consistency evaluation: the `meanMismatchRate` averaged over all `trackMetrics`."
        },
        "evaluatedBoundingBoxCount": {
          "type": "integer",
          "format": "int32",
          "description": "UNIMPLEMENTED. The total number of bounding boxes (i.e. summed over all frames) the ground truth used to create this evaluation had."
        },
        "evaluatedTrackCount": {
          "description": "UNIMPLEMENTED. The total number of tracks (i.e. as seen across all frames) the ground truth used to create this evaluation had.",
          "type": "integer",
          "format": "int32"
        },
        "boundingBoxMetrics": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsBoundingBoxMetrics"
          },
          "type": "array",
          "description": "The bounding boxes match metrics for each intersection-over-union threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99 and each label confidence threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99 pair."
        },
        "trackMeanBoundingBoxIou": {
          "description": "UNIMPLEMENTED. The single metric for tracks bounding box iou evaluation: the `meanBoundingBoxIou` averaged over all `trackMetrics`.",
          "format": "float",
          "type": "number"
        },
        "boundingBoxMeanAveragePrecision": {
          "type": "number",
          "description": "The single metric for bounding boxes evaluation: the `meanAveragePrecision` averaged over all `boundingBoxMetrics`.",
          "format": "float"
        },
        "evaluatedFrameCount": {
          "type": "integer",
          "description": "UNIMPLEMENTED. The number of video frames used to create this evaluation.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Model evaluation metrics for video object tracking problems. Evaluates prediction quality of both labeled bounding boxes and labeled tracks (i.e. series of bounding boxes sharing same label and instance ID).",
      "id": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsVideoObjectTrackingMetrics"
    },
    "GoogleCloudAiplatformV1FeatureMonitoringStatsAnomaly": {
      "properties": {
        "objective": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "OBJECTIVE_UNSPECIFIED",
            "IMPORT_FEATURE_ANALYSIS",
            "SNAPSHOT_ANALYSIS"
          ],
          "description": "Output only. The objective for each stats.",
          "enumDescriptions": [
            "If it's OBJECTIVE_UNSPECIFIED, monitoring_stats will be empty.",
            "Stats are generated by Import Feature Analysis.",
            "Stats are generated by Snapshot Analysis."
          ]
        },
        "featureStatsAnomaly": {
          "description": "Output only. The stats and anomalies generated at specific timestamp.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1FeatureStatsAnomaly"
        }
      },
      "type": "object",
      "description": "A list of historical SnapshotAnalysis or ImportFeaturesAnalysis stats requested by user, sorted by FeatureStatsAnomaly.start_time descending.",
      "id": "GoogleCloudAiplatformV1FeatureMonitoringStatsAnomaly"
    },
    "GoogleCloudAiplatformV1RestoreDatasetVersionOperationMetadata": {
      "type": "object",
      "properties": {
        "genericMetadata": {
          "description": "The common part of the operation metadata.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        }
      },
      "description": "Runtime operation information for DatasetService.RestoreDatasetVersion.",
      "id": "GoogleCloudAiplatformV1RestoreDatasetVersionOperationMetadata"
    },
    "GoogleCloudAiplatformV1DeployedModelRef": {
      "type": "object",
      "description": "Points to a DeployedModel.",
      "properties": {
        "endpoint": {
          "description": "Immutable. A resource name of an Endpoint.",
          "type": "string"
        },
        "deployedModelId": {
          "description": "Immutable. An ID of a DeployedModel in the above Endpoint.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1DeployedModelRef"
    },
    "GoogleCloudAiplatformV1ModelExportFormat": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1ModelExportFormat",
      "description": "Represents export format supported by the Model. All formats export to Google Cloud Storage.",
      "properties": {
        "exportableContents": {
          "items": {
            "type": "string",
            "enum": [
              "EXPORTABLE_CONTENT_UNSPECIFIED",
              "ARTIFACT",
              "IMAGE"
            ],
            "enumDescriptions": [
              "Should not be used.",
              "Model artifact and any of its supported files. Will be exported to the location specified by the `artifactDestination` field of the ExportModelRequest.output_config object.",
              "The container image that is to be used when deploying this Model. Will be exported to the location specified by the `imageDestination` field of the ExportModelRequest.output_config object."
            ]
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The content of this Model that may be exported."
        },
        "id": {
          "type": "string",
          "description": "Output only. The ID of the export format. The possible format IDs are: * `tflite` Used for Android mobile devices. * `edgetpu-tflite` Used for [Edge TPU](https://cloud.google.com/edge-tpu/) devices. * `tf-saved-model` A tensorflow model in SavedModel format. * `tf-js` A [TensorFlow.js](https://www.tensorflow.org/js) model that can be used in the browser and in Node.js using JavaScript. * `core-ml` Used for iOS mobile devices. * `custom-trained` A Model that was uploaded or trained by custom code.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudAiplatformV1ListTensorboardExperimentsResponse": {
      "properties": {
        "tensorboardExperiments": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1TensorboardExperiment"
          },
          "type": "array",
          "description": "The TensorboardExperiments mathching the request."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as ListTensorboardExperimentsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1ListTensorboardExperimentsResponse",
      "description": "Response message for TensorboardService.ListTensorboardExperiments."
    },
    "GoogleCloudAiplatformV1MigrateResourceResponse": {
      "description": "Describes a successfully migrated resource.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1MigrateResourceResponse",
      "properties": {
        "dataset": {
          "description": "Migrated Dataset's resource name.",
          "type": "string"
        },
        "migratableResource": {
          "$ref": "GoogleCloudAiplatformV1MigratableResource",
          "description": "Before migration, the identifier in ml.googleapis.com, automl.googleapis.com or datalabeling.googleapis.com."
        },
        "model": {
          "type": "string",
          "description": "Migrated Model's resource name."
        }
      }
    },
    "GoogleCloudAiplatformV1PublisherModelResourceReference": {
      "id": "GoogleCloudAiplatformV1PublisherModelResourceReference",
      "type": "object",
      "properties": {
        "uri": {
          "description": "The URI of the resource.",
          "type": "string"
        },
        "resourceName": {
          "type": "string",
          "description": "The resource name of the Google Cloud resource."
        }
      },
      "description": "Reference to a resource."
    },
    "GoogleCloudAiplatformV1BlurBaselineConfig": {
      "type": "object",
      "description": "Config for blur baseline. When enabled, a linear path from the maximally blurred image to the input image is created. Using a blurred baseline instead of zero (black image) is motivated by the BlurIG approach explained here: https://arxiv.org/abs/2004.03383",
      "id": "GoogleCloudAiplatformV1BlurBaselineConfig",
      "properties": {
        "maxBlurSigma": {
          "type": "number",
          "description": "The standard deviation of the blur kernel for the blurred baseline. The same blurring parameter is used for both the height and the width dimension. If not set, the method defaults to the zero (i.e. black for images) baseline.",
          "format": "float"
        }
      }
    },
    "GoogleCloudAiplatformV1ListModelVersionsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass to ListModelVersionsRequest.page_token to obtain that page."
        },
        "models": {
          "description": "List of Model versions in the requested page. In the returned Model name field, version ID instead of regvision tag will be included.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Model"
          },
          "type": "array"
        }
      },
      "description": "Response message for ModelService.ListModelVersions",
      "id": "GoogleCloudAiplatformV1ListModelVersionsResponse"
    },
    "GoogleCloudAiplatformV1ErrorAnalysisAnnotation": {
      "id": "GoogleCloudAiplatformV1ErrorAnalysisAnnotation",
      "type": "object",
      "properties": {
        "outlierScore": {
          "type": "number",
          "format": "double",
          "description": "The outlier score of this annotated item. Usually defined as the min of all distances from attributed items."
        },
        "queryType": {
          "description": "The query type used for finding the attributed items.",
          "type": "string",
          "enum": [
            "QUERY_TYPE_UNSPECIFIED",
            "ALL_SIMILAR",
            "SAME_CLASS_SIMILAR",
            "SAME_CLASS_DISSIMILAR"
          ],
          "enumDescriptions": [
            "Unspecified query type for model error analysis.",
            "Query similar samples across all classes in the dataset.",
            "Query similar samples from the same class of the input sample.",
            "Query dissimilar samples from the same class of the input sample."
          ]
        },
        "attributedItems": {
          "description": "Attributed items for a given annotation, typically representing neighbors from the training sets constrained by the query type.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1ErrorAnalysisAnnotationAttributedItem"
          },
          "type": "array"
        },
        "outlierThreshold": {
          "description": "The threshold used to determine if this annotation is an outlier or not.",
          "type": "number",
          "format": "double"
        }
      },
      "description": "Model error analysis for each annotation."
    },
    "GoogleCloudAiplatformV1NfsMount": {
      "properties": {
        "mountPoint": {
          "type": "string",
          "description": "Required. Destination mount path. The NFS will be mounted for the user under /mnt/nfs/"
        },
        "server": {
          "type": "string",
          "description": "Required. IP address of the NFS server."
        },
        "path": {
          "type": "string",
          "description": "Required. Source path exported from NFS server. Has to start with '/', and combined with the ip address, it indicates the source mount path in the form of `server:path`"
        }
      },
      "id": "GoogleCloudAiplatformV1NfsMount",
      "type": "object",
      "description": "Represents a mount configuration for Network File System (NFS) to mount."
    },
    "GoogleCloudAiplatformV1PurgeArtifactsMetadata": {
      "type": "object",
      "description": "Details of operations that perform MetadataService.PurgeArtifacts.",
      "properties": {
        "genericMetadata": {
          "description": "Operation metadata for purging Artifacts.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        }
      },
      "id": "GoogleCloudAiplatformV1PurgeArtifactsMetadata"
    },
    "GoogleCloudAiplatformV1DeleteFeatureValuesRequest": {
      "description": "Request message for FeaturestoreService.DeleteFeatureValues.",
      "id": "GoogleCloudAiplatformV1DeleteFeatureValuesRequest",
      "properties": {
        "selectEntity": {
          "description": "Select feature values to be deleted by specifying entities.",
          "$ref": "GoogleCloudAiplatformV1DeleteFeatureValuesRequestSelectEntity"
        },
        "selectTimeRangeAndFeature": {
          "description": "Select feature values to be deleted by specifying time range and features.",
          "$ref": "GoogleCloudAiplatformV1DeleteFeatureValuesRequestSelectTimeRangeAndFeature"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationAutoTransformation": {
      "properties": {
        "columnName": {
          "type": "string"
        }
      },
      "description": "Training pipeline will infer the proper transformation based on the statistic of dataset.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationAutoTransformation"
    },
    "GoogleCloudAiplatformV1BatchPredictionJobOutputConfig": {
      "type": "object",
      "description": "Configures the output of BatchPredictionJob. See Model.supported_output_storage_formats for supported output formats, and how predictions are expressed via any of them.",
      "properties": {
        "predictionsFormat": {
          "type": "string",
          "description": "Required. The format in which Vertex AI gives the predictions, must be one of the Model's supported_output_storage_formats."
        },
        "bigqueryDestination": {
          "description": "The BigQuery project or dataset location where the output is to be written to. If project is provided, a new dataset is created with name `prediction__` where is made BigQuery-dataset-name compatible (for example, most special characters become underscores), and timestamp is in YYYY_MM_DDThh_mm_ss_sssZ \"based on ISO-8601\" format. In the dataset two tables will be created, `predictions`, and `errors`. If the Model has both instance and prediction schemata defined then the tables have columns as follows: The `predictions` table contains instances for which the prediction succeeded, it has columns as per a concatenation of the Model's instance and prediction schemata. The `errors` table contains rows for which the prediction has failed, it has instance columns, as per the instance schema, followed by a single \"errors\" column, which as values has google.rpc.Status represented as a STRUCT, and containing only `code` and `message`.",
          "$ref": "GoogleCloudAiplatformV1BigQueryDestination"
        },
        "gcsDestination": {
          "description": "The Cloud Storage location of the directory where the output is to be written to. In the given directory a new directory is created. Its name is `prediction--`, where timestamp is in YYYY-MM-DDThh:mm:ss.sssZ ISO-8601 format. Inside of it files `predictions_0001.`, `predictions_0002.`, ..., `predictions_N.` are created where `` depends on chosen predictions_format, and N may equal 0001 and depends on the total number of successfully predicted instances. If the Model has both instance and prediction schemata defined then each such file contains predictions as per the predictions_format. If prediction for any instance failed (partially or completely), then an additional `errors_0001.`, `errors_0002.`,..., `errors_N.` files are created (N depends on total number of failed predictions). These files contain the failed instances, as per their schema, followed by an additional `error` field which as value has google.rpc.Status containing only `code` and `message` fields.",
          "$ref": "GoogleCloudAiplatformV1GcsDestination"
        }
      },
      "id": "GoogleCloudAiplatformV1BatchPredictionJobOutputConfig"
    },
    "GoogleCloudAiplatformV1BatchDedicatedResources": {
      "id": "GoogleCloudAiplatformV1BatchDedicatedResources",
      "type": "object",
      "properties": {
        "maxReplicaCount": {
          "type": "integer",
          "format": "int32",
          "description": "Immutable. The maximum number of machine replicas the batch operation may be scaled to. The default value is 10."
        },
        "machineSpec": {
          "description": "Required. Immutable. The specification of a single machine.",
          "$ref": "GoogleCloudAiplatformV1MachineSpec"
        },
        "startingReplicaCount": {
          "description": "Immutable. The number of machine replicas used at the start of the batch operation. If not set, Vertex AI decides starting number, not greater than max_replica_count",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "A description of resources that are used for performing batch operations, are dedicated to a Model, and need manual configuration."
    },
    "GoogleCloudAiplatformV1SuggestTrialsMetadata": {
      "description": "Details of operations that perform Trials suggestion.",
      "id": "GoogleCloudAiplatformV1SuggestTrialsMetadata",
      "type": "object",
      "properties": {
        "clientId": {
          "description": "The identifier of the client that is requesting the suggestion. If multiple SuggestTrialsRequests have the same `client_id`, the service will return the identical suggested Trial if the Trial is pending, and provide a new Trial if the last suggested Trial was completed.",
          "type": "string"
        },
        "genericMetadata": {
          "description": "Operation metadata for suggesting Trials.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaPredictInstanceVideoActionRecognitionPredictionInstance": {
      "type": "object",
      "properties": {
        "mimeType": {
          "description": "The MIME type of the content of the video. Only the following are supported: video/mp4 video/avi video/quicktime",
          "type": "string"
        },
        "timeSegmentStart": {
          "description": "The beginning, inclusive, of the video's time segment on which to perform the prediction. Expressed as a number of seconds as measured from the start of the video, with \"s\" appended at the end. Fractions are allowed, up to a microsecond precision.",
          "type": "string"
        },
        "content": {
          "type": "string",
          "description": "The Google Cloud Storage location of the video on which to perform the prediction."
        },
        "timeSegmentEnd": {
          "description": "The end, exclusive, of the video's time segment on which to perform the prediction. Expressed as a number of seconds as measured from the start of the video, with \"s\" appended at the end. Fractions are allowed, up to a microsecond precision, and \"inf\" or \"Infinity\" is allowed, which means the end of the video.",
          "type": "string"
        }
      },
      "description": "Prediction input format for Video Action Recognition.",
      "id": "GoogleCloudAiplatformV1SchemaPredictInstanceVideoActionRecognitionPredictionInstance"
    },
    "GoogleCloudAiplatformV1NasJobSpecMultiTrialAlgorithmSpecTrainTrialSpec": {
      "description": "Represent spec for train trials.",
      "properties": {
        "trainTrialJobSpec": {
          "description": "Required. The spec of a train trial job. The same spec applies to all train trials.",
          "$ref": "GoogleCloudAiplatformV1CustomJobSpec"
        },
        "frequency": {
          "description": "Required. Frequency of search trials to start train stage. Top N [TrainTrialSpec.max_parallel_trial_count] search trials will be trained for every M [TrainTrialSpec.frequency] trials searched.",
          "format": "int32",
          "type": "integer"
        },
        "maxParallelTrialCount": {
          "format": "int32",
          "description": "Required. The maximum number of trials to run in parallel.",
          "type": "integer"
        }
      },
      "id": "GoogleCloudAiplatformV1NasJobSpecMultiTrialAlgorithmSpecTrainTrialSpec",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaModelevaluationMetricsGeneralTextGenerationEvaluationMetrics": {
      "properties": {
        "rougeLSum": {
          "type": "number",
          "description": "ROUGE-L (Longest Common Subsequence) scoring at summary level.",
          "format": "float"
        },
        "bleu": {
          "type": "number",
          "format": "float",
          "description": "BLEU (bilingual evaluation understudy) scores based on sacrebleu implementation."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsGeneralTextGenerationEvaluationMetrics"
    },
    "GoogleCloudAiplatformV1CustomJobSpec": {
      "description": "Represents the spec of a CustomJob.",
      "id": "GoogleCloudAiplatformV1CustomJobSpec",
      "properties": {
        "enableDashboardAccess": {
          "description": "Optional. Whether you want Vertex AI to enable access to the customized dashboard in training chief container. If set to `true`, you can access the dashboard at the URIs given by CustomJob.web_access_uris or Trial.web_access_uris (within HyperparameterTuningJob.trials).",
          "type": "boolean"
        },
        "tensorboard": {
          "type": "string",
          "description": "Optional. The name of a Vertex AI Tensorboard resource to which this CustomJob will upload Tensorboard logs. Format: `projects/{project}/locations/{location}/tensorboards/{tensorboard}`"
        },
        "experiment": {
          "description": "Optional. The Experiment associated with this job. Format: `projects/{project}/locations/{location}/metadataStores/{metadataStores}/contexts/{experiment-name}`",
          "type": "string"
        },
        "baseOutputDirectory": {
          "description": "The Cloud Storage location to store the output of this CustomJob or HyperparameterTuningJob. For HyperparameterTuningJob, the baseOutputDirectory of each child CustomJob backing a Trial is set to a subdirectory of name id under its parent HyperparameterTuningJob's baseOutputDirectory. The following Vertex AI environment variables will be passed to containers or python modules when this field is set: For CustomJob: * AIP_MODEL_DIR = `/model/` * AIP_CHECKPOINT_DIR = `/checkpoints/` * AIP_TENSORBOARD_LOG_DIR = `/logs/` For CustomJob backing a Trial of HyperparameterTuningJob: * AIP_MODEL_DIR = `//model/` * AIP_CHECKPOINT_DIR = `//checkpoints/` * AIP_TENSORBOARD_LOG_DIR = `//logs/`",
          "$ref": "GoogleCloudAiplatformV1GcsDestination"
        },
        "scheduling": {
          "description": "Scheduling options for a CustomJob.",
          "$ref": "GoogleCloudAiplatformV1Scheduling"
        },
        "reservedIpRanges": {
          "description": "Optional. A list of names for the reserved ip ranges under the VPC network that can be used for this job. If set, we will deploy the job within the provided ip ranges. Otherwise, the job will be deployed to any ip ranges under the provided VPC network. Example: ['vertex-ai-ip-range'].",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "experimentRun": {
          "type": "string",
          "description": "Optional. The Experiment Run associated with this job. Format: `projects/{project}/locations/{location}/metadataStores/{metadataStores}/contexts/{experiment-name}-{experiment-run-name}`"
        },
        "network": {
          "type": "string",
          "description": "Optional. The full name of the Compute Engine [network](/compute/docs/networks-and-firewalls#networks) to which the Job should be peered. For example, `projects/12345/global/networks/myVPC`. [Format](/compute/docs/reference/rest/v1/networks/insert) is of the form `projects/{project}/global/networks/{network}`. Where {project} is a project number, as in `12345`, and {network} is a network name. To specify this field, you must have already [configured VPC Network Peering for Vertex AI](https://cloud.google.com/vertex-ai/docs/general/vpc-peering). If this field is left unspecified, the job is not peered with any network."
        },
        "serviceAccount": {
          "description": "Specifies the service account for workload run-as account. Users submitting jobs must have act-as permission on this run-as account. If unspecified, the [Vertex AI Custom Code Service Agent](https://cloud.google.com/vertex-ai/docs/general/access-control#service-agents) for the CustomJob's project is used.",
          "type": "string"
        },
        "enableWebAccess": {
          "description": "Optional. Whether you want Vertex AI to enable [interactive shell access](https://cloud.google.com/vertex-ai/docs/training/monitor-debug-interactive-shell) to training containers. If set to `true`, you can access interactive shells at the URIs given by CustomJob.web_access_uris or Trial.web_access_uris (within HyperparameterTuningJob.trials).",
          "type": "boolean"
        },
        "workerPoolSpecs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1WorkerPoolSpec"
          },
          "description": "Required. The spec of the worker pools including machine type and Docker image. All worker pools except the first one are optional and can be skipped by providing an empty value."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1Model": {
      "description": "A trained machine learning Model.",
      "type": "object",
      "properties": {
        "metadata": {
          "type": "any",
          "description": "Immutable. An additional information about the Model; the schema of the metadata can be found in metadata_schema. Unset if the Model does not have any additional information."
        },
        "displayName": {
          "description": "Required. The display name of the Model. The name can be up to 128 characters long and can consist of any UTF-8 characters.",
          "type": "string"
        },
        "metadataSchemaUri": {
          "description": "Immutable. Points to a YAML file stored on Google Cloud Storage describing additional information about the Model, that is specific to it. Unset if the Model does not have any additional information. The schema is defined as an OpenAPI 3.0.2 [Schema Object](https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.0.2.md#schemaObject). AutoML Models always have this field populated by Vertex AI, if no additional metadata is needed, this field is set to an empty string. Note: The URI given on output will be immutable and probably different, including the URI scheme, than the one given on input. The output URI will point to a location where the user only has a read access.",
          "type": "string"
        },
        "supportedDeploymentResourcesTypes": {
          "type": "array",
          "items": {
            "enum": [
              "DEPLOYMENT_RESOURCES_TYPE_UNSPECIFIED",
              "DEDICATED_RESOURCES",
              "AUTOMATIC_RESOURCES",
              "SHARED_RESOURCES"
            ],
            "enumDescriptions": [
              "Should not be used.",
              "Resources that are dedicated to the DeployedModel, and that need a higher degree of manual configuration.",
              "Resources that to large degree are decided by Vertex AI, and require only a modest additional configuration.",
              "Resources that can be shared by multiple DeployedModels. A pre-configured DeploymentResourcePool is required."
            ],
            "type": "string"
          },
          "description": "Output only. When this Model is deployed, its prediction resources are described by the `prediction_resources` field of the Endpoint.deployed_models object. Because not all Models support all resource configuration types, the configuration types this Model supports are listed here. If no configuration types are listed, the Model cannot be deployed to an Endpoint and does not support online predictions (PredictionService.Predict or PredictionService.Explain). Such a Model can serve predictions by using a BatchPredictionJob, if it has at least one entry each in supported_input_storage_formats and supported_output_storage_formats.",
          "readOnly": true
        },
        "versionAliases": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "User provided version aliases so that a model version can be referenced via alias (i.e. `projects/{project}/locations/{location}/models/{model_id}@{version_alias}` instead of auto-generated version id (i.e. `projects/{project}/locations/{location}/models/{model_id}@{version_id})`. The format is a-z{0,126}[a-z0-9] to distinguish from version_id. A default version alias will be created for the first version of the model, and there must be exactly one default version alias for a model."
        },
        "versionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. The version ID of the model. A new version is committed when a new model version is uploaded or trained under an existing model id. It is an auto-incrementing decimal number in string representation."
        },
        "versionDescription": {
          "description": "The description of this version.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the Model."
        },
        "pipelineJob": {
          "type": "string",
          "description": "Optional. This field is populated if the model is produced by a pipeline job."
        },
        "etag": {
          "description": "Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "containerSpec": {
          "description": "Input only. The specification of the container that is to be used when deploying this Model. The specification is ingested upon ModelService.UploadModel, and all binaries it contains are copied and stored internally by Vertex AI. Not present for AutoML Models or Large Models.",
          "$ref": "GoogleCloudAiplatformV1ModelContainerSpec"
        },
        "supportedExportFormats": {
          "description": "Output only. The formats in which this Model may be exported. If empty, this Model is not available for export.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1ModelExportFormat"
          }
        },
        "description": {
          "type": "string",
          "description": "The description of the Model."
        },
        "modelSourceInfo": {
          "$ref": "GoogleCloudAiplatformV1ModelSourceInfo",
          "readOnly": true,
          "description": "Output only. Source of a model. It can either be automl training pipeline, custom training pipeline, BigQuery ML, or existing Vertex AI Model."
        },
        "supportedOutputStorageFormats": {
          "description": "Output only. The formats this Model supports in BatchPredictionJob.output_config. If both PredictSchemata.instance_schema_uri and PredictSchemata.prediction_schema_uri exist, the predictions are returned together with their instances. In other words, the prediction has the original instance data first, followed by the actual prediction content (as per the schema). The possible formats are: * `jsonl` The JSON Lines format, where each prediction is a single line. Uses GcsDestination. * `csv` The CSV format, where each prediction is a single comma-separated line. The first line in the file is the header, containing comma-separated field names. Uses GcsDestination. * `bigquery` Each prediction is a single row in a BigQuery table, uses BigQueryDestination . If this Model doesn't support any of these formats it means it cannot be used with a BatchPredictionJob. However, if it has supported_deployment_resources_types, it could serve online predictions by using PredictionService.Predict or PredictionService.Explain.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "versionCreateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when this version was created.",
          "type": "string"
        },
        "predictSchemata": {
          "description": "The schemata that describe formats of the Model's predictions and explanations as given and returned via PredictionService.Predict and PredictionService.Explain.",
          "$ref": "GoogleCloudAiplatformV1PredictSchemata"
        },
        "supportedInputStorageFormats": {
          "type": "array",
          "description": "Output only. The formats this Model supports in BatchPredictionJob.input_config. If PredictSchemata.instance_schema_uri exists, the instances should be given as per that schema. The possible formats are: * `jsonl` The JSON Lines format, where each instance is a single line. Uses GcsSource. * `csv` The CSV format, where each instance is a single comma-separated line. The first line in the file is the header, containing comma-separated field names. Uses GcsSource. * `tf-record` The TFRecord format, where each instance is a single record in tfrecord syntax. Uses GcsSource. * `tf-record-gzip` Similar to `tf-record`, but the file is gzipped. Uses GcsSource. * `bigquery` Each instance is a single row in BigQuery. Uses BigQuerySource. * `file-list` Each line of the file is the location of an instance to process, uses `gcs_source` field of the InputConfig object. If this Model doesn't support any of these formats it means it cannot be used with a BatchPredictionJob. However, if it has supported_deployment_resources_types, it could serve online predictions by using PredictionService.Predict or PredictionService.Explain.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when this Model was most recently updated."
        },
        "originalModelInfo": {
          "$ref": "GoogleCloudAiplatformV1ModelOriginalModelInfo",
          "description": "Output only. If this Model is a copy of another Model, this contains info about the original.",
          "readOnly": true
        },
        "metadataArtifact": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the Artifact that was created in MetadataStore when creating the Model. The Artifact resource name pattern is `projects/{project}/locations/{location}/metadataStores/{metadata_store}/artifacts/{artifact}`."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when this Model was uploaded into Vertex AI.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "description": "The labels with user-defined metadata to organize your Models. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https://goo.gl/xmQnxf for more information and examples of labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "explanationSpec": {
          "description": "The default explanation specification for this Model. The Model can be used for requesting explanation after being deployed if it is populated. The Model can be used for batch explanation if it is populated. All fields of the explanation_spec can be overridden by explanation_spec of DeployModelRequest.deployed_model, or explanation_spec of BatchPredictionJob. If the default explanation specification is not set for this Model, this Model can still be used for requesting explanation by setting explanation_spec of DeployModelRequest.deployed_model and for batch explanation by setting explanation_spec of BatchPredictionJob.",
          "$ref": "GoogleCloudAiplatformV1ExplanationSpec"
        },
        "deployedModels": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudAiplatformV1DeployedModelRef"
          },
          "type": "array",
          "description": "Output only. The pointers to DeployedModels created from this Model. Note that Model could have been deployed to Endpoints in different Locations."
        },
        "artifactUri": {
          "description": "Immutable. The path to the directory containing the Model artifact and any of its supporting files. Not present for AutoML Models or Large Models.",
          "type": "string"
        },
        "trainingPipeline": {
          "description": "Output only. The resource name of the TrainingPipeline that uploaded this Model, if any.",
          "readOnly": true,
          "type": "string"
        },
        "encryptionSpec": {
          "$ref": "GoogleCloudAiplatformV1EncryptionSpec",
          "description": "Customer-managed encryption key spec for a Model. If set, this Model and all sub-resources of this Model will be secured by this key."
        },
        "versionUpdateTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when this version was most recently updated.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1Model"
    },
    "GoogleCloudAiplatformV1SchemaPredictPredictionVideoObjectTrackingPredictionResultFrame": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaPredictPredictionVideoObjectTrackingPredictionResultFrame",
      "properties": {
        "xMax": {
          "description": "The rightmost coordinate of the bounding box.",
          "format": "float",
          "type": "number"
        },
        "xMin": {
          "type": "number",
          "format": "float",
          "description": "The leftmost coordinate of the bounding box."
        },
        "yMin": {
          "description": "The topmost coordinate of the bounding box.",
          "format": "float",
          "type": "number"
        },
        "timeOffset": {
          "type": "string",
          "description": "A time (frame) of a video in which the object has been detected. Expressed as a number of seconds as measured from the start of the video, with fractions up to a microsecond precision, and with \"s\" appended at the end.",
          "format": "google-duration"
        },
        "yMax": {
          "description": "The bottommost coordinate of the bounding box.",
          "type": "number",
          "format": "float"
        }
      },
      "description": "The fields `xMin`, `xMax`, `yMin`, and `yMax` refer to a bounding box, i.e. the rectangle over the video frame pinpointing the found AnnotationSpec. The coordinates are relative to the frame size, and the point 0,0 is in the top left of the frame."
    },
    "GoogleCloudAiplatformV1CreateFeatureRequest": {
      "id": "GoogleCloudAiplatformV1CreateFeatureRequest",
      "properties": {
        "feature": {
          "description": "Required. The Feature to create.",
          "$ref": "GoogleCloudAiplatformV1Feature"
        },
        "parent": {
          "description": "Required. The resource name of the EntityType or FeatureGroup to create a Feature. Format: `projects/{project}/locations/{location}/featurestores/{featurestore}/entityTypes/{entity_type}` `projects/{project}/locations/{location}/featureGroups/{feature_group}`",
          "type": "string"
        },
        "featureId": {
          "description": "Required. The ID to use for the Feature, which will become the final component of the Feature's resource name. This value may be up to 128 characters, and valid characters are `[a-z0-9_]`. The first character cannot be a number. The value must be unique within an EntityType/FeatureGroup.",
          "type": "string"
        }
      },
      "description": "Request message for FeaturestoreService.CreateFeature and FeatureRegistryService.CreateFeature.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1LookupStudyRequest": {
      "id": "GoogleCloudAiplatformV1LookupStudyRequest",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. The user-defined display name of the Study"
        }
      },
      "type": "object",
      "description": "Request message for VizierService.LookupStudy."
    },
    "GoogleCloudAiplatformV1ListArtifactsResponse": {
      "type": "object",
      "properties": {
        "artifacts": {
          "description": "The Artifacts retrieved from the MetadataStore.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Artifact"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as ListArtifactsRequest.page_token to retrieve the next page. If this field is not populated, there are no subsequent pages."
        }
      },
      "id": "GoogleCloudAiplatformV1ListArtifactsResponse",
      "description": "Response message for MetadataService.ListArtifacts."
    },
    "GoogleCloudAiplatformV1ListBatchPredictionJobsResponse": {
      "properties": {
        "batchPredictionJobs": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1BatchPredictionJob"
          },
          "type": "array",
          "description": "List of BatchPredictionJobs in the requested page."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass to ListBatchPredictionJobsRequest.page_token to obtain that page."
        }
      },
      "description": "Response message for JobService.ListBatchPredictionJobs",
      "id": "GoogleCloudAiplatformV1ListBatchPredictionJobsResponse",
      "type": "object"
    },
    "GoogleCloudAiplatformV1UploadModelResponse": {
      "properties": {
        "model": {
          "description": "The name of the uploaded Model resource. Format: `projects/{project}/locations/{location}/models/{model}`",
          "type": "string"
        },
        "modelVersionId": {
          "readOnly": true,
          "description": "Output only. The version ID of the model that is uploaded.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1UploadModelResponse",
      "description": "Response message of ModelService.UploadModel operation."
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GoogleCloudAiplatformV1ListModelEvaluationsResponse": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1ListModelEvaluationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results. Pass to ListModelEvaluationsRequest.page_token to obtain that page."
        },
        "modelEvaluations": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1ModelEvaluation"
          },
          "type": "array",
          "description": "List of ModelEvaluations in the requested page."
        }
      },
      "description": "Response message for ModelService.ListModelEvaluations."
    },
    "GoogleCloudAiplatformV1AddExecutionEventsResponse": {
      "description": "Response message for MetadataService.AddExecutionEvents.",
      "properties": {},
      "id": "GoogleCloudAiplatformV1AddExecutionEventsResponse",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaModelevaluationMetricsSummarizationEvaluationMetrics": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsSummarizationEvaluationMetrics",
      "properties": {
        "rougeLSum": {
          "format": "float",
          "description": "ROUGE-L (Longest Common Subsequence) scoring at summary level.",
          "type": "number"
        }
      }
    },
    "GoogleCloudAiplatformV1PipelineTaskExecutorDetail": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1PipelineTaskExecutorDetail",
      "description": "The runtime detail of a pipeline executor.",
      "properties": {
        "customJobDetail": {
          "$ref": "GoogleCloudAiplatformV1PipelineTaskExecutorDetailCustomJobDetail",
          "readOnly": true,
          "description": "Output only. The detailed info for a custom job executor."
        },
        "containerDetail": {
          "description": "Output only. The detailed info for a container executor.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1PipelineTaskExecutorDetailContainerDetail"
        }
      }
    },
    "GoogleCloudAiplatformV1DestinationFeatureSetting": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1DestinationFeatureSetting",
      "properties": {
        "featureId": {
          "type": "string",
          "description": "Required. The ID of the Feature to apply the setting to."
        },
        "destinationField": {
          "type": "string",
          "description": "Specify the field name in the export destination. If not specified, Feature ID is used."
        }
      }
    },
    "GoogleCloudAiplatformV1CancelNasJobRequest": {
      "properties": {},
      "description": "Request message for JobService.CancelNasJob.",
      "id": "GoogleCloudAiplatformV1CancelNasJobRequest",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ModelMonitoringObjectiveConfig": {
      "type": "object",
      "description": "The objective configuration for model monitoring, including the information needed to detect anomalies for one particular model.",
      "properties": {
        "explanationConfig": {
          "description": "The config for integrating with Vertex Explainable AI.",
          "$ref": "GoogleCloudAiplatformV1ModelMonitoringObjectiveConfigExplanationConfig"
        },
        "trainingPredictionSkewDetectionConfig": {
          "description": "The config for skew between training data and prediction data.",
          "$ref": "GoogleCloudAiplatformV1ModelMonitoringObjectiveConfigTrainingPredictionSkewDetectionConfig"
        },
        "predictionDriftDetectionConfig": {
          "description": "The config for drift of prediction data.",
          "$ref": "GoogleCloudAiplatformV1ModelMonitoringObjectiveConfigPredictionDriftDetectionConfig"
        },
        "trainingDataset": {
          "description": "Training dataset for models. This field has to be set only if TrainingPredictionSkewDetectionConfig is specified.",
          "$ref": "GoogleCloudAiplatformV1ModelMonitoringObjectiveConfigTrainingDataset"
        }
      },
      "id": "GoogleCloudAiplatformV1ModelMonitoringObjectiveConfig"
    },
    "GoogleCloudAiplatformV1Examples": {
      "id": "GoogleCloudAiplatformV1Examples",
      "properties": {
        "exampleGcsSource": {
          "description": "The Cloud Storage input instances.",
          "$ref": "GoogleCloudAiplatformV1ExamplesExampleGcsSource"
        },
        "presets": {
          "$ref": "GoogleCloudAiplatformV1Presets",
          "description": "Simplified preset configuration, which automatically sets configuration values based on the desired query speed-precision trade-off and modality."
        },
        "neighborCount": {
          "type": "integer",
          "description": "The number of neighbors to return when querying for examples.",
          "format": "int32"
        },
        "nearestNeighborSearchConfig": {
          "type": "any",
          "description": "The full configuration for the generated index, the semantics are the same as metadata and should match [NearestNeighborSearchConfig](https://cloud.google.com/vertex-ai/docs/explainable-ai/configuring-explanations-example-based#nearest-neighbor-search-config)."
        }
      },
      "description": "Example-based explainability that returns the nearest neighbors from the provided dataset.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SearchModelDeploymentMonitoringStatsAnomaliesRequest": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SearchModelDeploymentMonitoringStatsAnomaliesRequest",
      "description": "Request message for JobService.SearchModelDeploymentMonitoringStatsAnomalies.",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "The latest timestamp of stats being generated. If not set, indicates feching stats till the latest possible one.",
          "format": "google-datetime"
        },
        "pageToken": {
          "type": "string",
          "description": "A page token received from a previous JobService.SearchModelDeploymentMonitoringStatsAnomalies call."
        },
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "The standard list page size."
        },
        "startTime": {
          "type": "string",
          "description": "The earliest timestamp of stats being generated. If not set, indicates fetching stats till the earliest possible one.",
          "format": "google-datetime"
        },
        "featureDisplayName": {
          "description": "The feature display name. If specified, only return the stats belonging to this feature. Format: ModelMonitoringStatsAnomalies.FeatureHistoricStatsAnomalies.feature_display_name, example: \"user_destination\".",
          "type": "string"
        },
        "objectives": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SearchModelDeploymentMonitoringStatsAnomaliesRequestStatsAnomaliesObjective"
          },
          "description": "Required. Objectives of the stats to retrieve."
        },
        "deployedModelId": {
          "type": "string",
          "description": "Required. The DeployedModel ID of the [ModelDeploymentMonitoringObjectiveConfig.deployed_model_id]."
        }
      }
    },
    "GoogleCloudAiplatformV1ExportModelOperationMetadataOutputInfo": {
      "description": "Further describes the output of the ExportModel. Supplements ExportModelRequest.OutputConfig.",
      "id": "GoogleCloudAiplatformV1ExportModelOperationMetadataOutputInfo",
      "type": "object",
      "properties": {
        "imageOutputUri": {
          "readOnly": true,
          "description": "Output only. If the Model image is being exported to Google Container Registry or Artifact Registry this is the full path of the image created.",
          "type": "string"
        },
        "artifactOutputUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. If the Model artifact is being exported to Google Cloud Storage this is the full path of the directory created, into which the Model files are being written to."
        }
      }
    },
    "GoogleCloudAiplatformV1BatchPredictionJob": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1BatchPredictionJob",
      "properties": {
        "explanationSpec": {
          "$ref": "GoogleCloudAiplatformV1ExplanationSpec",
          "description": "Explanation configuration for this BatchPredictionJob. Can be specified only if generate_explanation is set to `true`. This value overrides the value of Model.explanation_spec. All fields of explanation_spec are optional in the request. If a field of the explanation_spec object is not populated, the corresponding field of the Model.explanation_spec object is inherited."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels with user-defined metadata to organize BatchPredictionJobs. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https://goo.gl/xmQnxf for more information and examples of labels."
        },
        "completionStats": {
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1CompletionStats",
          "description": "Output only. Statistics on completed and failed prediction instances."
        },
        "startTime": {
          "readOnly": true,
          "description": "Output only. Time when the BatchPredictionJob for the first time entered the `JOB_STATE_RUNNING` state.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the BatchPredictionJob.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when the BatchPredictionJob was created.",
          "format": "google-datetime"
        },
        "serviceAccount": {
          "description": "The service account that the DeployedModel's container runs as. If not specified, a system generated one will be used, which has minimal permissions and the custom container, if used, may not have enough permission to access other Google Cloud resources. Users deploying the Model must have the `iam.serviceAccounts.actAs` permission on this service account.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. Time when the BatchPredictionJob entered any of the following states: `JOB_STATE_SUCCEEDED`, `JOB_STATE_FAILED`, `JOB_STATE_CANCELLED`.",
          "readOnly": true,
          "type": "string"
        },
        "manualBatchTuningParameters": {
          "description": "Immutable. Parameters configuring the batch behavior. Currently only applicable when dedicated_resources are used (in other cases Vertex AI does the tuning itself).",
          "$ref": "GoogleCloudAiplatformV1ManualBatchTuningParameters"
        },
        "outputConfig": {
          "description": "Required. The Configuration specifying where output predictions should be written. The schema of any single prediction may be specified as a concatenation of Model's PredictSchemata's instance_schema_uri and prediction_schema_uri.",
          "$ref": "GoogleCloudAiplatformV1BatchPredictionJobOutputConfig"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The user-defined name of this BatchPredictionJob."
        },
        "generateExplanation": {
          "type": "boolean",
          "description": "Generate explanation with the batch prediction results. When set to `true`, the batch prediction output changes based on the `predictions_format` field of the BatchPredictionJob.output_config object: * `bigquery`: output includes a column named `explanation`. The value is a struct that conforms to the Explanation object. * `jsonl`: The JSON objects on each line include an additional entry keyed `explanation`. The value of the entry is a JSON object that conforms to the Explanation object. * `csv`: Generating explanations for CSV format is not supported. If this field is set to true, either the Model.explanation_spec or explanation_spec must be populated."
        },
        "inputConfig": {
          "$ref": "GoogleCloudAiplatformV1BatchPredictionJobInputConfig",
          "description": "Required. Input configuration of the instances on which predictions are performed. The schema of any single instance may be specified via the Model's PredictSchemata's instance_schema_uri."
        },
        "encryptionSpec": {
          "$ref": "GoogleCloudAiplatformV1EncryptionSpec",
          "description": "Customer-managed encryption key options for a BatchPredictionJob. If this is set, then all resources created by the BatchPredictionJob will be encrypted with the provided encryption key."
        },
        "resourcesConsumed": {
          "$ref": "GoogleCloudAiplatformV1ResourcesConsumed",
          "readOnly": true,
          "description": "Output only. Information about resources that had been consumed by this job. Provided in real time at best effort basis, as well as a final value once the job completes. Note: This field currently may be not populated for batch predictions that use AutoML Models."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when the BatchPredictionJob was most recently updated.",
          "format": "google-datetime"
        },
        "outputInfo": {
          "description": "Output only. Information further describing the output of this job.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1BatchPredictionJobOutputInfo"
        },
        "disableContainerLogging": {
          "description": "For custom-trained Models and AutoML Tabular Models, the container of the DeployedModel instances will send `stderr` and `stdout` streams to Cloud Logging by default. Please note that the logs incur cost, which are subject to [Cloud Logging pricing](https://cloud.google.com/logging/pricing). User can disable container logging by setting this flag to true.",
          "type": "boolean"
        },
        "instanceConfig": {
          "description": "Configuration for how to convert batch prediction input instances to the prediction instances that are sent to the Model.",
          "$ref": "GoogleCloudAiplatformV1BatchPredictionJobInstanceConfig"
        },
        "state": {
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "JOB_STATE_QUEUED",
            "JOB_STATE_PENDING",
            "JOB_STATE_RUNNING",
            "JOB_STATE_SUCCEEDED",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_PAUSED",
            "JOB_STATE_EXPIRED",
            "JOB_STATE_UPDATING",
            "JOB_STATE_PARTIALLY_SUCCEEDED"
          ],
          "description": "Output only. The detailed state of the job.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The job state is unspecified.",
            "The job has been just created or resumed and processing has not yet begun.",
            "The service is preparing to run the job.",
            "The job is in progress.",
            "The job completed successfully.",
            "The job failed.",
            "The job is being cancelled. From this state the job may only go to either `JOB_STATE_SUCCEEDED`, `JOB_STATE_FAILED` or `JOB_STATE_CANCELLED`.",
            "The job has been cancelled.",
            "The job has been stopped, and can be resumed.",
            "The job has expired.",
            "The job is being updated. Only jobs in the `RUNNING` state can be updated. After updating, the job goes back to the `RUNNING` state.",
            "The job is partially succeeded, some results may be missing due to errors."
          ]
        },
        "partialFailures": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Partial failures encountered. For example, single files that can't be read. This field never exceeds 20 entries. Status details fields contain standard Google Cloud error details."
        },
        "dedicatedResources": {
          "description": "The config of resources used by the Model during the batch prediction. If the Model supports DEDICATED_RESOURCES this config may be provided (and the job will use these resources), if the Model doesn't support AUTOMATIC_RESOURCES, this config must be provided.",
          "$ref": "GoogleCloudAiplatformV1BatchDedicatedResources"
        },
        "model": {
          "type": "string",
          "description": "The name of the Model resource that produces the predictions via this job, must share the same ancestor Location. Starting this job has no impact on any existing deployments of the Model and their resources. Exactly one of model and unmanaged_container_model must be set. The model resource name may contain version id or version alias to specify the version. Example: `projects/{project}/locations/{location}/models/{model}@2` or `projects/{project}/locations/{location}/models/{model}@golden` if no version is specified, the default version will be deployed. The model resource could also be a publisher model. Example: `publishers/{publisher}/models/{model}` or `projects/{project}/locations/{location}/publishers/{publisher}/models/{model}`"
        },
        "modelVersionId": {
          "description": "Output only. The version ID of the Model that produces the predictions via this job.",
          "readOnly": true,
          "type": "string"
        },
        "unmanagedContainerModel": {
          "description": "Contains model information necessary to perform batch prediction without requiring uploading to model registry. Exactly one of model and unmanaged_container_model must be set.",
          "$ref": "GoogleCloudAiplatformV1UnmanagedContainerModel"
        },
        "error": {
          "description": "Output only. Only populated when the job's state is JOB_STATE_FAILED or JOB_STATE_CANCELLED.",
          "readOnly": true,
          "$ref": "GoogleRpcStatus"
        },
        "modelParameters": {
          "description": "The parameters that govern the predictions. The schema of the parameters may be specified via the Model's PredictSchemata's parameters_schema_uri.",
          "type": "any"
        }
      },
      "description": "A job that uses a Model to produce predictions on multiple input instances. If predictions for significant portion of the instances fail, the job may finish without attempting predictions for all remaining instances."
    },
    "GoogleCloudAiplatformV1Artifact": {
      "description": "Instance of a general artifact.",
      "properties": {
        "displayName": {
          "description": "User provided display name of the Artifact. May be up to 128 Unicode characters.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the Artifact.",
          "readOnly": true
        },
        "schemaVersion": {
          "description": "The version of the schema in schema_name to use. Schema title and version is expected to be registered in earlier Create Schema calls. And both are used together as unique identifiers to identify schemas within the local metadata store.",
          "type": "string"
        },
        "description": {
          "description": "Description of the Artifact",
          "type": "string"
        },
        "uri": {
          "description": "The uniform resource identifier of the artifact file. May be empty if there is no actual artifact file.",
          "type": "string"
        },
        "schemaTitle": {
          "description": "The title of the schema describing the metadata. Schema title and version is expected to be registered in earlier Create Schema calls. And both are used together as unique identifiers to identify schemas within the local metadata store.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "LIVE"
          ],
          "enumDescriptions": [
            "Unspecified state for the Artifact.",
            "A state used by systems like Vertex AI Pipelines to indicate that the underlying data item represented by this Artifact is being created.",
            "A state indicating that the Artifact should exist, unless something external to the system deletes it."
          ],
          "type": "string",
          "description": "The state of this Artifact. This is a property of the Artifact, and does not imply or capture any ongoing process. This property is managed by clients (such as Vertex AI Pipelines), and the system does not prescribe or check the validity of state transitions."
        },
        "labels": {
          "type": "object",
          "description": "The labels with user-defined metadata to organize your Artifacts. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. No more than 64 user labels can be associated with one Artifact (System labels are excluded).",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Properties of the Artifact. Top level metadata keys' heading and trailing spaces will be trimmed. The size of this field should not exceed 200KB."
        },
        "updateTime": {
          "description": "Output only. Timestamp when this Artifact was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when this Artifact was created.",
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "An eTag used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1Artifact"
    },
    "GoogleCloudAiplatformV1LargeModelReference": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The unique name of the large Foundation or pre-built model. Like \"chat-bison\", \"text-bison\". Or model name with version ID, like \"chat-bison@001\", \"text-bison@005\", etc."
        }
      },
      "id": "GoogleCloudAiplatformV1LargeModelReference",
      "description": "Contains information about the Large Model."
    },
    "GoogleCloudAiplatformV1ExportModelRequestOutputConfig": {
      "id": "GoogleCloudAiplatformV1ExportModelRequestOutputConfig",
      "description": "Output configuration for the Model export.",
      "properties": {
        "exportFormatId": {
          "description": "The ID of the format in which the Model must be exported. Each Model lists the export formats it supports. If no value is provided here, then the first from the list of the Model's supported formats is used by default.",
          "type": "string"
        },
        "imageDestination": {
          "description": "The Google Container Registry or Artifact Registry uri where the Model container image will be copied to. This field should only be set when the `exportableContent` field of the [Model.supported_export_formats] object contains `IMAGE`.",
          "$ref": "GoogleCloudAiplatformV1ContainerRegistryDestination"
        },
        "artifactDestination": {
          "$ref": "GoogleCloudAiplatformV1GcsDestination",
          "description": "The Cloud Storage location where the Model artifact is to be written to. Under the directory given as the destination a new one with name \"`model-export--`\", where timestamp is in YYYY-MM-DDThh:mm:ss.sssZ ISO-8601 format, will be created. Inside, the Model and any of its supporting files will be written. This field should only be set when the `exportableContent` field of the [Model.supported_export_formats] object contains `ARTIFACT`."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1ReadTensorboardSizeResponse": {
      "id": "GoogleCloudAiplatformV1ReadTensorboardSizeResponse",
      "properties": {
        "storageSizeByte": {
          "type": "string",
          "description": "Payload storage size for the TensorBoard",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Response message for TensorboardService.ReadTensorboardSize."
    },
    "GoogleCloudAiplatformV1ReadFeatureValuesResponseHeader": {
      "type": "object",
      "description": "Response header with metadata for the requested ReadFeatureValuesRequest.entity_type and Features.",
      "properties": {
        "entityType": {
          "description": "The resource name of the EntityType from the ReadFeatureValuesRequest. Value format: `projects/{project}/locations/{location}/featurestores/{featurestore}/entityTypes/{entityType}`.",
          "type": "string"
        },
        "featureDescriptors": {
          "description": "List of Feature metadata corresponding to each piece of ReadFeatureValuesResponse.EntityView.data.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1ReadFeatureValuesResponseFeatureDescriptor"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudAiplatformV1ReadFeatureValuesResponseHeader"
    },
    "GoogleCloudAiplatformV1ListTrialsResponse": {
      "description": "Response message for VizierService.ListTrials.",
      "id": "GoogleCloudAiplatformV1ListTrialsResponse",
      "properties": {
        "trials": {
          "type": "array",
          "description": "The Trials associated with the Study.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Trial"
          }
        },
        "nextPageToken": {
          "description": "Pass this token as the `page_token` field of the request for a subsequent call. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1UndeployModelRequest": {
      "properties": {
        "trafficSplit": {
          "type": "object",
          "additionalProperties": {
            "type": "integer",
            "format": "int32"
          },
          "description": "If this field is provided, then the Endpoint's traffic_split will be overwritten with it. If last DeployedModel is being undeployed from the Endpoint, the [Endpoint.traffic_split] will always end up empty when this call returns. A DeployedModel will be successfully undeployed only if it doesn't have any traffic assigned to it when this method executes, or if this field unassigns any traffic to it."
        },
        "deployedModelId": {
          "description": "Required. The ID of the DeployedModel to be undeployed from the Endpoint.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1UndeployModelRequest",
      "description": "Request message for EndpointService.UndeployModel.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1BatchCreateTensorboardTimeSeriesResponse": {
      "id": "GoogleCloudAiplatformV1BatchCreateTensorboardTimeSeriesResponse",
      "properties": {
        "tensorboardTimeSeries": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1TensorboardTimeSeries"
          },
          "description": "The created TensorboardTimeSeries.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for TensorboardService.BatchCreateTensorboardTimeSeries."
    },
    "GoogleCloudAiplatformV1ModelMonitoringAlertConfig": {
      "properties": {
        "emailAlertConfig": {
          "$ref": "GoogleCloudAiplatformV1ModelMonitoringAlertConfigEmailAlertConfig",
          "description": "Email alert config."
        },
        "enableLogging": {
          "description": "Dump the anomalies to Cloud Logging. The anomalies will be put to json payload encoded from proto google.cloud.aiplatform.logging.ModelMonitoringAnomaliesLogEntry. This can be further sinked to Pub/Sub or any other services supported by Cloud Logging.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1ModelMonitoringAlertConfig"
    },
    "GoogleCloudAiplatformV1PredictRequest": {
      "id": "GoogleCloudAiplatformV1PredictRequest",
      "type": "object",
      "description": "Request message for PredictionService.Predict.",
      "properties": {
        "parameters": {
          "type": "any",
          "description": "The parameters that govern the prediction. The schema of the parameters may be specified via Endpoint's DeployedModels' Model's PredictSchemata's parameters_schema_uri."
        },
        "instances": {
          "description": "Required. The instances that are the input to the prediction call. A DeployedModel may have an upper limit on the number of instances it supports per request, and when it is exceeded the prediction call errors in case of AutoML Models, or, in case of customer created Models, the behaviour is as documented by that Model. The schema of any single instance may be specified via Endpoint's DeployedModels' Model's PredictSchemata's instance_schema_uri.",
          "items": {
            "type": "any"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTextExtractionInputs": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTextExtractionInputs"
    },
    "GoogleCloudAiplatformV1PipelineJob": {
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Pipeline end time.",
          "readOnly": true
        },
        "scheduleName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The schedule resource name. Only returned if the Pipeline is created by Schedule API."
        },
        "jobDetail": {
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1PipelineJobDetail",
          "description": "Output only. The details of pipeline run. Not available in the list view."
        },
        "templateMetadata": {
          "description": "Output only. Pipeline template metadata. Will fill up fields if PipelineJob.template_uri is from supported template registry.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1PipelineTemplateMetadata"
        },
        "network": {
          "description": "The full name of the Compute Engine [network](/compute/docs/networks-and-firewalls#networks) to which the Pipeline Job's workload should be peered. For example, `projects/12345/global/networks/myVPC`. [Format](/compute/docs/reference/rest/v1/networks/insert) is of the form `projects/{project}/global/networks/{network}`. Where {project} is a project number, as in `12345`, and {network} is a network name. Private services access must already be configured for the network. Pipeline job will apply the network configuration to the Google Cloud resources being launched, if applied, such as Vertex AI Training or Dataflow job. If left unspecified, the workload is not peered with any network.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the Pipeline. The name can be up to 128 characters long and can consist of any UTF-8 characters."
        },
        "serviceAccount": {
          "type": "string",
[...]
