{
  "documentationLink": "https://cloud.google.com/vertex-ai/",
  "servicePath": "",
  "ownerDomain": "google.com",
  "canonicalName": "Aiplatform",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "version_module": true,
  "kind": "discovery#restDescription",
  "title": "Vertex AI API",
  "discoveryVersion": "v1",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    }
  },
  "revision": "20231101",
  "basePath": "",
  "rootUrl": "https://aiplatform.googleapis.com/",
  "batchPath": "batch",
  "name": "aiplatform",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://aiplatform.mtls.googleapis.com/",
  "endpoints": [
    {
      "location": "asia-east1",
      "endpointUrl": "https://asia-east1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://asia-east2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://asia-northeast1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-northeast2-aiplatform.googleapis.com/",
      "location": "asia-northeast2"
    },
    {
      "location": "asia-northeast3",
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-northeast3-aiplatform.googleapis.com/"
    },
    {
      "location": "asia-south1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-south1-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://asia-southeast1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "asia-southeast1"
    },
    {
      "endpointUrl": "https://asia-southeast2-aiplatform.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://australia-southeast1-aiplatform.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://australia-southeast2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "australia-southeast2"
    },
    {
      "location": "europe-central2",
      "endpointUrl": "https://europe-central2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "europe-north1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-north1-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://europe-southwest1-aiplatform.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "location": "europe-west1",
      "endpointUrl": "https://europe-west1-aiplatform.googleapis.com/"
    },
    {
      "location": "europe-west2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west2-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://europe-west3-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-west3"
    },
    {
      "location": "europe-west4",
      "endpointUrl": "https://europe-west4-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://europe-west6-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-west8-aiplatform.googleapis.com/",
      "location": "europe-west8",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west9-aiplatform.googleapis.com/",
      "location": "europe-west9"
    },
    {
      "endpointUrl": "https://me-west1-aiplatform.googleapis.com/",
      "location": "me-west1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://northamerica-northeast1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "northamerica-northeast1"
    },
    {
      "description": "Locational Endpoint",
      "location": "northamerica-northeast2",
      "endpointUrl": "https://northamerica-northeast2-aiplatform.googleapis.com/"
    },
    {
      "location": "southamerica-east1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://southamerica-east1-aiplatform.googleapis.com/"
    },
    {
      "location": "southamerica-west1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://southamerica-west1-aiplatform.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-central1-aiplatform.googleapis.com/",
      "location": "us-central1"
    },
    {
      "location": "us-central2",
      "endpointUrl": "https://us-central2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-east1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "us-east1"
    },
    {
      "endpointUrl": "https://us-east4-aiplatform.googleapis.com/",
      "location": "us-east4",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-south1-aiplatform.googleapis.com/",
      "location": "us-south1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-west1-aiplatform.googleapis.com/",
      "location": "us-west1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-west2-aiplatform.googleapis.com/",
      "location": "us-west2",
      "description": "Locational Endpoint"
    },
    {
      "location": "us-west3",
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-west3-aiplatform.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-west4-aiplatform.googleapis.com/",
      "location": "us-west4"
    }
  ],
  "schemas": {
    "GoogleCloudAiplatformV1SchemaPredictPredictionVideoObjectTrackingPredictionResultFrame": {
      "type": "object",
      "description": "The fields `xMin`, `xMax`, `yMin`, and `yMax` refer to a bounding box, i.e. the rectangle over the video frame pinpointing the found AnnotationSpec. The coordinates are relative to the frame size, and the point 0,0 is in the top left of the frame.",
      "id": "GoogleCloudAiplatformV1SchemaPredictPredictionVideoObjectTrackingPredictionResultFrame",
      "properties": {
        "xMin": {
          "description": "The leftmost coordinate of the bounding box.",
          "type": "number",
          "format": "float"
        },
        "timeOffset": {
          "description": "A time (frame) of a video in which the object has been detected. Expressed as a number of seconds as measured from the start of the video, with fractions up to a microsecond precision, and with \"s\" appended at the end.",
          "type": "string",
          "format": "google-duration"
        },
        "yMin": {
          "description": "The topmost coordinate of the bounding box.",
          "format": "float",
          "type": "number"
        },
        "yMax": {
          "format": "float",
          "type": "number",
          "description": "The bottommost coordinate of the bounding box."
        },
        "xMax": {
          "description": "The rightmost coordinate of the bounding box.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudAiplatformV1CopyModelResponse": {
      "properties": {
        "model": {
          "description": "The name of the copied Model resource. Format: `projects/{project}/locations/{location}/models/{model}`",
          "type": "string"
        },
        "modelVersionId": {
          "type": "string",
          "description": "Output only. The version ID of the model that is copied.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Response message of ModelService.CopyModel operation.",
      "id": "GoogleCloudAiplatformV1CopyModelResponse"
    },
    "GoogleCloudAiplatformV1EvaluatedAnnotation": {
      "properties": {
        "errorAnalysisAnnotations": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1ErrorAnalysisAnnotation"
          },
          "description": "Annotations of model error analysis results.",
          "type": "array"
        },
        "evaluatedDataItemViewId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ID of the EvaluatedDataItemView under the same ancestor ModelEvaluation. The EvaluatedDataItemView consists of all ground truths and predictions on data_item_payload."
        },
        "type": {
          "enumDescriptions": [
            "Invalid value.",
            "The EvaluatedAnnotation is a true positive. It has a prediction created by the Model and a ground truth Annotation which the prediction matches.",
            "The EvaluatedAnnotation is false positive. It has a prediction created by the Model which does not match any ground truth annotation.",
            "The EvaluatedAnnotation is false negative. It has a ground truth annotation which is not matched by any of the model created predictions."
          ],
          "description": "Output only. Type of the EvaluatedAnnotation.",
          "enum": [
            "EVALUATED_ANNOTATION_TYPE_UNSPECIFIED",
            "TRUE_POSITIVE",
            "FALSE_POSITIVE",
            "FALSE_NEGATIVE"
          ],
          "type": "string",
          "readOnly": true
        },
        "groundTruths": {
          "items": {
            "type": "any"
          },
          "description": "Output only. The ground truth Annotations, i.e. the Annotations that exist in the test data the Model is evaluated on. For true positive, there is one and only one ground truth annotation, which matches the only prediction in predictions. For false positive, there are zero or more ground truth annotations that are similar to the only prediction in predictions, but not enough for a match. For false negative, there is one and only one ground truth annotation, which doesn't match any predictions created by the model. The schema of the ground truth is stored in ModelEvaluation.annotation_schema_uri",
          "readOnly": true,
          "type": "array"
        },
        "dataItemPayload": {
          "description": "Output only. The data item payload that the Model predicted this EvaluatedAnnotation on.",
          "readOnly": true,
          "type": "any"
        },
        "explanations": {
          "description": "Explanations of predictions. Each element of the explanations indicates the explanation for one explanation Method. The attributions list in the EvaluatedAnnotationExplanation.explanation object corresponds to the predictions list. For example, the second element in the attributions list explains the second element in the predictions list.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1EvaluatedAnnotationExplanation"
          }
        },
        "predictions": {
          "description": "Output only. The model predicted annotations. For true positive, there is one and only one prediction, which matches the only one ground truth annotation in ground_truths. For false positive, there is one and only one prediction, which doesn't match any ground truth annotation of the corresponding data_item_view_id. For false negative, there are zero or more predictions which are similar to the only ground truth annotation in ground_truths but not enough for a match. The schema of the prediction is stored in ModelEvaluation.annotation_schema_uri",
          "items": {
            "type": "any"
          },
          "type": "array",
          "readOnly": true
        }
      },
      "id": "GoogleCloudAiplatformV1EvaluatedAnnotation",
      "type": "object",
      "description": "True positive, false positive, or false negative. EvaluatedAnnotation is only available under ModelEvaluationSlice with slice of `annotationSpec` dimension."
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTextExtraction": {
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTextExtraction",
      "properties": {
        "inputs": {
          "description": "The input parameters of this TrainingJob.",
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTextExtractionInputs"
        }
      },
      "description": "A TrainingJob that trains and uploads an AutoML Text Extraction Model.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1FeatureViewVectorSearchConfig": {
      "id": "GoogleCloudAiplatformV1FeatureViewVectorSearchConfig",
      "type": "object",
      "description": "Configuration for vector search.",
      "properties": {
        "distanceMeasureType": {
          "enumDescriptions": [
            "Should not be set.",
            "Euclidean (L_2) Distance.",
            "Cosine Distance. Defined as 1 - cosine similarity. We strongly suggest using DOT_PRODUCT_DISTANCE + UNIT_L2_NORM instead of COSINE distance. Our algorithms have been more optimized for DOT_PRODUCT distance which, when combined with UNIT_L2_NORM, is mathematically equivalent to COSINE distance and results in the same ranking.",
            "Dot Product Distance. Defined as a negative of the dot product."
          ],
          "description": "Optional. The distance measure used in nearest neighbor search.",
          "enum": [
            "DISTANCE_MEASURE_TYPE_UNSPECIFIED",
            "SQUARED_L2_DISTANCE",
            "COSINE_DISTANCE",
            "DOT_PRODUCT_DISTANCE"
          ],
          "type": "string"
        },
        "embeddingDimension": {
          "type": "integer",
          "description": "Optional. The number of dimensions of the input embedding.",
          "format": "int32"
        },
        "bruteForceConfig": {
          "description": "Optional. Configuration options for using brute force search, which simply implements the standard linear search in the database for each query. It is primarily meant for benchmarking and to generate the ground truth for approximate search.",
          "$ref": "GoogleCloudAiplatformV1FeatureViewVectorSearchConfigBruteForceConfig"
        },
        "filterColumns": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Columns of features that're used to filter vector search results."
        },
        "treeAhConfig": {
          "description": "Optional. Configuration options for the tree-AH algorithm (Shallow tree + Asymmetric Hashing). Please refer to this paper for more details: https://arxiv.org/abs/1908.10396",
          "$ref": "GoogleCloudAiplatformV1FeatureViewVectorSearchConfigTreeAHConfig"
        },
        "crowdingColumn": {
          "description": "Optional. Column of crowding. This column contains crowding attribute which is a constraint on a neighbor list produced by nearest neighbor search requiring that no more than some value k' of the k neighbors returned have the same value of crowding_attribute.",
          "type": "string"
        },
        "embeddingColumn": {
          "type": "string",
          "description": "Optional. Column of embedding. This column contains the source data to create index for vector search. embedding_column must be set when using vector search."
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaTextDataItem": {
      "properties": {
        "gcsUri": {
          "description": "Output only. Google Cloud Storage URI points to the original text in user's bucket. The text file is up to 10MB in size.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Payload of Text DataItem.",
      "id": "GoogleCloudAiplatformV1SchemaTextDataItem",
      "type": "object"
    },
    "GoogleCloudAiplatformV1AddTrialMeasurementRequest": {
      "description": "Request message for VizierService.AddTrialMeasurement.",
      "id": "GoogleCloudAiplatformV1AddTrialMeasurementRequest",
      "type": "object",
      "properties": {
        "measurement": {
          "$ref": "GoogleCloudAiplatformV1Measurement",
          "description": "Required. The measurement to be added to a Trial."
        }
      }
    },
    "GoogleCloudAiplatformV1ListCustomJobsResponse": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1ListCustomJobsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass to ListCustomJobsRequest.page_token to obtain that page."
        },
        "customJobs": {
          "description": "List of CustomJobs in the requested page.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1CustomJob"
          }
        }
      },
      "description": "Response message for JobService.ListCustomJobs"
    },
    "GoogleCloudAiplatformV1ResumeScheduleRequest": {
      "id": "GoogleCloudAiplatformV1ResumeScheduleRequest",
      "properties": {
        "catchUp": {
          "type": "boolean",
          "description": "Optional. Whether to backfill missed runs when the schedule is resumed from PAUSED state. If set to true, all missed runs will be scheduled. New runs will be scheduled after the backfill is complete. This will also update Schedule.catch_up field. Default to false."
        }
      },
      "type": "object",
      "description": "Request message for ScheduleService.ResumeSchedule."
    },
    "GoogleCloudAiplatformV1IndexPrivateEndpoints": {
      "description": "IndexPrivateEndpoints proto is used to provide paths for users to send requests via private endpoints (e.g. private service access, private service connect). To send request via private service access, use match_grpc_address. To send request via private service connect, use service_attachment.",
      "id": "GoogleCloudAiplatformV1IndexPrivateEndpoints",
      "properties": {
        "matchGrpcAddress": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ip address used to send match gRPC requests."
        },
        "serviceAttachment": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the service attachment resource. Populated if private service connect is enabled."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlForecastingInputsTransformationAutoTransformation": {
      "properties": {
        "columnName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlForecastingInputsTransformationAutoTransformation",
      "type": "object",
      "description": "Training pipeline will infer the proper transformation based on the statistic of dataset."
    },
    "GoogleCloudAiplatformV1TensorboardBlob": {
      "id": "GoogleCloudAiplatformV1TensorboardBlob",
      "type": "object",
      "properties": {
        "id": {
          "description": "Output only. A URI safe key uniquely identifying a blob. Can be used to locate the blob stored in the Cloud Storage bucket of the consumer project.",
          "type": "string",
          "readOnly": true
        },
        "data": {
          "type": "string",
          "format": "byte",
          "description": "Optional. The bytes of the blob is not present unless it's returned by the ReadTensorboardBlobData endpoint."
        }
      },
      "description": "One blob (e.g, image, graph) viewable on a blob metric plot."
    },
    "GoogleCloudAiplatformV1DeployedIndexAuthConfig": {
      "id": "GoogleCloudAiplatformV1DeployedIndexAuthConfig",
      "type": "object",
      "description": "Used to set up the auth on the DeployedIndex's private endpoint.",
      "properties": {
        "authProvider": {
          "$ref": "GoogleCloudAiplatformV1DeployedIndexAuthConfigAuthProvider",
          "description": "Defines the authentication provider that the DeployedIndex uses."
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaImageBoundingBoxAnnotation": {
      "id": "GoogleCloudAiplatformV1SchemaImageBoundingBoxAnnotation",
      "description": "Annotation details specific to image object detection.",
      "type": "object",
      "properties": {
        "xMin": {
          "description": "The leftmost coordinate of the bounding box.",
          "format": "double",
          "type": "number"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the AnnotationSpec that this Annotation pertains to."
        },
        "xMax": {
          "type": "number",
          "format": "double",
          "description": "The rightmost coordinate of the bounding box."
        },
        "annotationSpecId": {
          "type": "string",
          "description": "The resource Id of the AnnotationSpec that this Annotation pertains to."
        },
        "yMax": {
          "description": "The bottommost coordinate of the bounding box.",
          "format": "double",
          "type": "number"
        },
        "yMin": {
          "description": "The topmost coordinate of the bounding box.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlForecastingInputsTransformationTimestampTransformation": {
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlForecastingInputsTransformationTimestampTransformation",
      "description": "Training pipeline will perform following transformation functions. * Apply the transformation functions for Numerical columns. * Determine the year, month, day,and weekday. Treat each value from the timestamp as a Categorical column. * Invalid numerical values (for example, values that fall outside of a typical timestamp range, or are extreme values) receive no special treatment and are not removed.",
      "properties": {
        "columnName": {
          "type": "string"
        },
        "timeFormat": {
          "description": "The format in which that time field is expressed. The time_format must either be one of: * `unix-seconds` * `unix-milliseconds` * `unix-microseconds` * `unix-nanoseconds` (for respectively number of seconds, milliseconds, microseconds and nanoseconds since start of the Unix epoch); or be written in `strftime` syntax. If time_format is not set, then the default format is RFC 3339 `date-time` format, where `time-offset` = `\"Z\"` (e.g. 1985-04-12T23:20:50.52Z)",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1AddExecutionEventsResponse": {
      "id": "GoogleCloudAiplatformV1AddExecutionEventsResponse",
      "type": "object",
      "description": "Response message for MetadataService.AddExecutionEvents.",
      "properties": {}
    },
    "GoogleCloudAiplatformV1SchemaPredictPredictionVideoClassificationPredictionResult": {
      "description": "Prediction output format for Video Classification.",
      "properties": {
        "displayName": {
          "description": "The display name of the AnnotationSpec that had been identified.",
          "type": "string"
        },
        "id": {
          "description": "The resource ID of the AnnotationSpec that had been identified.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of the prediction. The requested types can be configured via parameters. This will be one of - segment-classification - shot-classification - one-sec-interval-classification"
        },
        "timeSegmentEnd": {
          "type": "string",
          "format": "google-duration",
          "description": "The end, exclusive, of the video's time segment in which the AnnotationSpec has been identified. Expressed as a number of seconds as measured from the start of the video, with fractions up to a microsecond precision, and with \"s\" appended at the end. Note that for 'segment-classification' prediction type, this equals the original 'timeSegmentEnd' from the input instance, for other types it is the end of a shot or a 1 second interval respectively."
        },
        "timeSegmentStart": {
          "type": "string",
          "format": "google-duration",
          "description": "The beginning, inclusive, of the video's time segment in which the AnnotationSpec has been identified. Expressed as a number of seconds as measured from the start of the video, with fractions up to a microsecond precision, and with \"s\" appended at the end. Note that for 'segment-classification' prediction type, this equals the original 'timeSegmentStart' from the input instance, for other types it is the start of a shot or a 1 second interval respectively."
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "The Model's confidence in correction of this prediction, higher value means higher confidence."
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaPredictPredictionVideoClassificationPredictionResult",
      "type": "object"
    },
    "GoogleCloudAiplatformV1MetadataSchema": {
      "properties": {
        "schemaType": {
          "description": "The type of the MetadataSchema. This is a property that identifies which metadata types will use the MetadataSchema.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified type for the MetadataSchema.",
            "A type indicating that the MetadataSchema will be used by Artifacts.",
            "A typee indicating that the MetadataSchema will be used by Executions.",
            "A state indicating that the MetadataSchema will be used by Contexts."
          ],
          "enum": [
            "METADATA_SCHEMA_TYPE_UNSPECIFIED",
            "ARTIFACT_TYPE",
            "EXECUTION_TYPE",
            "CONTEXT_TYPE"
          ]
        },
        "schema": {
          "description": "Required. The raw YAML string representation of the MetadataSchema. The combination of [MetadataSchema.version] and the schema name given by `title` in [MetadataSchema.schema] must be unique within a MetadataStore. The schema is defined as an OpenAPI 3.0.2 [MetadataSchema Object](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#schemaObject)",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when this MetadataSchema was created.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Description of the Metadata Schema"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the MetadataSchema.",
          "type": "string"
        },
        "schemaVersion": {
          "type": "string",
          "description": "The version of the MetadataSchema. The version's format must match the following regular expression: `^[0-9]+.+.+$`, which would allow to order/compare different versions. Example: 1.0.0, 1.0.1, etc."
        }
      },
      "type": "object",
      "description": "Instance of a general MetadataSchema.",
      "id": "GoogleCloudAiplatformV1MetadataSchema"
    },
    "GoogleCloudAiplatformV1ExportModelOperationMetadataOutputInfo": {
      "id": "GoogleCloudAiplatformV1ExportModelOperationMetadataOutputInfo",
      "description": "Further describes the output of the ExportModel. Supplements ExportModelRequest.OutputConfig.",
      "type": "object",
      "properties": {
        "artifactOutputUri": {
          "readOnly": true,
          "description": "Output only. If the Model artifact is being exported to Google Cloud Storage this is the full path of the directory created, into which the Model files are being written to.",
          "type": "string"
        },
        "imageOutputUri": {
          "description": "Output only. If the Model image is being exported to Google Container Registry or Artifact Registry this is the full path of the image created.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlForecastingInputsTransformation": {
      "properties": {
        "timestamp": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlForecastingInputsTransformationTimestampTransformation"
        },
        "auto": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlForecastingInputsTransformationAutoTransformation"
        },
        "numeric": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlForecastingInputsTransformationNumericTransformation"
        },
        "categorical": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlForecastingInputsTransformationCategoricalTransformation"
        },
        "text": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlForecastingInputsTransformationTextTransformation"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlForecastingInputsTransformation"
    },
    "GoogleCloudAiplatformV1MigrateResourceRequestMigrateAutomlDatasetConfig": {
      "type": "object",
      "description": "Config for migrating Dataset in automl.googleapis.com to Vertex AI's Dataset.",
      "properties": {
        "dataset": {
          "type": "string",
          "description": "Required. Full resource name of automl Dataset. Format: `projects/{project}/locations/{location}/datasets/{dataset}`."
        },
        "datasetDisplayName": {
          "description": "Required. Display name of the Dataset in Vertex AI. System will pick a display name if unspecified.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1MigrateResourceRequestMigrateAutomlDatasetConfig"
    },
    "GoogleCloudAiplatformV1StudySpecDecayCurveAutomatedStoppingSpec": {
      "id": "GoogleCloudAiplatformV1StudySpecDecayCurveAutomatedStoppingSpec",
      "description": "The decay curve automated stopping rule builds a Gaussian Process Regressor to predict the final objective value of a Trial based on the already completed Trials and the intermediate measurements of the current Trial. Early stopping is requested for the current Trial if there is very low probability to exceed the optimal value found so far.",
      "properties": {
        "useElapsedDuration": {
          "description": "True if Measurement.elapsed_duration is used as the x-axis of each Trials Decay Curve. Otherwise, Measurement.step_count will be used as the x-axis.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1MutateDeployedIndexResponse": {
      "description": "Response message for IndexEndpointService.MutateDeployedIndex.",
      "type": "object",
      "properties": {
        "deployedIndex": {
          "description": "The DeployedIndex that had been updated in the IndexEndpoint.",
          "$ref": "GoogleCloudAiplatformV1DeployedIndex"
        }
      },
      "id": "GoogleCloudAiplatformV1MutateDeployedIndexResponse"
    },
    "GoogleCloudAiplatformV1SchemaVideoClassificationAnnotation": {
      "description": "Annotation details specific to video classification.",
      "id": "GoogleCloudAiplatformV1SchemaVideoClassificationAnnotation",
      "type": "object",
      "properties": {
        "annotationSpecId": {
          "description": "The resource Id of the AnnotationSpec that this Annotation pertains to.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the AnnotationSpec that this Annotation pertains to.",
          "type": "string"
        },
        "timeSegment": {
          "$ref": "GoogleCloudAiplatformV1SchemaTimeSegment",
          "description": "This Annotation applies to the time period represented by the TimeSegment. If it's not set, the Annotation applies to the whole video."
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionTftForecastingInputsTransformationAutoTransformation": {
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionTftForecastingInputsTransformationAutoTransformation",
      "description": "Training pipeline will infer the proper transformation based on the statistic of dataset.",
      "properties": {
        "columnName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaTimeSeriesDatasetMetadataInputConfig": {
      "description": "The time series Dataset's data source. The Dataset doesn't store the data directly, but only pointer(s) to its data.",
      "id": "GoogleCloudAiplatformV1SchemaTimeSeriesDatasetMetadataInputConfig",
      "type": "object",
      "properties": {
        "gcsSource": {
          "$ref": "GoogleCloudAiplatformV1SchemaTimeSeriesDatasetMetadataGcsSource"
        },
        "bigquerySource": {
          "$ref": "GoogleCloudAiplatformV1SchemaTimeSeriesDatasetMetadataBigQuerySource"
        }
      }
    },
    "GoogleCloudAiplatformV1CreateTensorboardOperationMetadata": {
      "properties": {
        "genericMetadata": {
          "description": "Operation metadata for Tensorboard.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        }
      },
      "id": "GoogleCloudAiplatformV1CreateTensorboardOperationMetadata",
      "description": "Details of operations that perform create Tensorboard.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ListEntityTypesResponse": {
      "id": "GoogleCloudAiplatformV1ListEntityTypesResponse",
      "description": "Response message for FeaturestoreService.ListEntityTypes.",
      "properties": {
        "entityTypes": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1EntityType"
          },
          "description": "The EntityTypes matching the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as ListEntityTypesRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1UndeployModelResponse": {
      "type": "object",
      "description": "Response message for EndpointService.UndeployModel.",
      "id": "GoogleCloudAiplatformV1UndeployModelResponse",
      "properties": {}
    },
    "GoogleCloudAiplatformV1ModelEvaluationSliceSliceSliceSpecRange": {
      "properties": {
        "high": {
          "description": "Exclusive high value for the range.",
          "type": "number",
          "format": "float"
        },
        "low": {
          "description": "Inclusive low value for the range.",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "description": "A range of values for slice(s). `low` is inclusive, `high` is exclusive.",
      "id": "GoogleCloudAiplatformV1ModelEvaluationSliceSliceSliceSpecRange"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTextClassificationInputs": {
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTextClassificationInputs",
      "properties": {
        "multiLabel": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1PublisherModel": {
      "description": "A Model Garden Publisher Model.",
      "type": "object",
      "properties": {
        "launchStage": {
          "enumDescriptions": [
            "The model launch stage is unspecified.",
            "Used to indicate the PublisherModel is at Experimental launch stage.",
            "Used to indicate the PublisherModel is at Private Preview launch stage.",
            "Used to indicate the PublisherModel is at Public Preview launch stage.",
            "Used to indicate the PublisherModel is at GA launch stage."
          ],
          "description": "Optional. Indicates the launch stage of the model.",
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "EXPERIMENTAL",
            "PRIVATE_PREVIEW",
            "PUBLIC_PREVIEW",
            "GA"
          ],
          "type": "string"
        },
        "versionId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Immutable. The version ID of the PublisherModel. A new version is committed when a new model version is uploaded under an existing model id. It is an auto-incrementing decimal number in string representation."
        },
        "openSourceCategory": {
          "enumDescriptions": [
            "The open source category is unspecified, which should not be used.",
            "Used to indicate the PublisherModel is not open sourced.",
            "Used to indicate the PublisherModel is a Google-owned open source model w/ Google checkpoint.",
            "Used to indicate the PublisherModel is a 3p-owned open source model w/ Google checkpoint.",
            "Used to indicate the PublisherModel is a Google-owned pure open source model.",
            "Used to indicate the PublisherModel is a 3p-owned pure open source model."
          ],
          "type": "string",
          "enum": [
            "OPEN_SOURCE_CATEGORY_UNSPECIFIED",
            "PROPRIETARY",
            "GOOGLE_OWNED_OSS_WITH_GOOGLE_CHECKPOINT",
            "THIRD_PARTY_OWNED_OSS_WITH_GOOGLE_CHECKPOINT",
            "GOOGLE_OWNED_OSS",
            "THIRD_PARTY_OWNED_OSS"
          ],
          "description": "Required. Indicates the open source category of the publisher model."
        },
        "predictSchemata": {
          "$ref": "GoogleCloudAiplatformV1PredictSchemata",
          "description": "Optional. The schemata that describes formats of the PublisherModel's predictions and explanations as given and returned via PredictionService.Predict."
        },
        "publisherModelTemplate": {
          "readOnly": true,
          "description": "Optional. Output only. Immutable. Used to indicate this model has a publisher model and provide the template of the publisher model resource name.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the PublisherModel."
        },
        "supportedActions": {
          "description": "Optional. Supported call-to-action options.",
          "$ref": "GoogleCloudAiplatformV1PublisherModelCallToAction"
        },
        "frameworks": {
          "description": "Optional. Additional information about the model's Frameworks.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudAiplatformV1PublisherModel"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionSeq2SeqPlusForecastingInputsTransformationNumericTransformation": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionSeq2SeqPlusForecastingInputsTransformationNumericTransformation",
      "properties": {
        "columnName": {
          "type": "string"
        }
      },
      "description": "Training pipeline will perform following transformation functions. * The value converted to float32. * The z_score of the value. * log(value+1) when the value is greater than or equal to 0. Otherwise, this transformation is not applied and the value is considered a missing value. * z_score of log(value+1) when the value is greater than or equal to 0. Otherwise, this transformation is not applied and the value is considered a missing value."
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "GoogleIamV1Policy"
        }
      },
      "description": "Request message for `SetIamPolicy` method.",
      "id": "GoogleIamV1SetIamPolicyRequest",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ListTensorboardTimeSeriesResponse": {
      "id": "GoogleCloudAiplatformV1ListTensorboardTimeSeriesResponse",
      "description": "Response message for TensorboardService.ListTensorboardTimeSeries.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as ListTensorboardTimeSeriesRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "tensorboardTimeSeries": {
          "description": "The TensorboardTimeSeries mathching the request.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1TensorboardTimeSeries"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudAiplatformV1TimeSeriesData": {
      "id": "GoogleCloudAiplatformV1TimeSeriesData",
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1TimeSeriesDataPoint"
          },
          "description": "Required. Data points in this time series."
        },
        "tensorboardTimeSeriesId": {
          "description": "Required. The ID of the TensorboardTimeSeries, which will become the final component of the TensorboardTimeSeries' resource name",
          "type": "string"
        },
        "valueType": {
          "description": "Required. Immutable. The value type of this time series. All the values in this time series data must match this value type.",
          "type": "string",
          "enumDescriptions": [
            "The value type is unspecified.",
            "Used for TensorboardTimeSeries that is a list of scalars. E.g. accuracy of a model over epochs/time.",
            "Used for TensorboardTimeSeries that is a list of tensors. E.g. histograms of weights of layer in a model over epoch/time.",
            "Used for TensorboardTimeSeries that is a list of blob sequences. E.g. set of sample images with labels over epochs/time."
          ],
          "enum": [
            "VALUE_TYPE_UNSPECIFIED",
            "SCALAR",
            "TENSOR",
            "BLOB_SEQUENCE"
          ]
        }
      },
      "description": "All the data stored in a TensorboardTimeSeries."
    },
    "GoogleCloudAiplatformV1ListModelEvaluationsResponse": {
      "description": "Response message for ModelService.ListModelEvaluations.",
      "type": "object",
      "properties": {
        "modelEvaluations": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1ModelEvaluation"
          },
          "type": "array",
          "description": "List of ModelEvaluations in the requested page."
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass to ListModelEvaluationsRequest.page_token to obtain that page.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1ListModelEvaluationsResponse"
    },
    "GoogleCloudAiplatformV1FeatureViewBigQuerySource": {
      "id": "GoogleCloudAiplatformV1FeatureViewBigQuerySource",
      "type": "object",
      "properties": {
        "entityIdColumns": {
          "description": "Required. Columns to construct entity_id / row keys. Start by supporting 1 only.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "uri": {
          "description": "Required. The BigQuery view URI that will be materialized on each sync trigger based on FeatureView.SyncConfig.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlForecastingInputsTransformationCategoricalTransformation": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlForecastingInputsTransformationCategoricalTransformation",
      "description": "Training pipeline will perform following transformation functions. * The categorical string as is--no change to case, punctuation, spelling, tense, and so on. * Convert the category name to a dictionary lookup index and generate an embedding for each index. * Categories that appear less than 5 times in the training dataset are treated as the \"unknown\" category. The \"unknown\" category gets its own special lookup index and resulting embedding.",
      "properties": {
        "columnName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1ListExecutionsResponse": {
      "description": "Response message for MetadataService.ListExecutions.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as ListExecutionsRequest.page_token to retrieve the next page. If this field is not populated, there are no subsequent pages."
        },
        "executions": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1Execution"
          },
          "type": "array",
          "description": "The Executions retrieved from the MetadataStore."
        }
      },
      "id": "GoogleCloudAiplatformV1ListExecutionsResponse"
    },
    "GoogleCloudAiplatformV1ListDataItemsResponse": {
      "description": "Response message for DatasetService.ListDataItems.",
      "properties": {
        "dataItems": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1DataItem"
          },
          "description": "A list of DataItems that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1ListDataItemsResponse",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaTextPromptDatasetMetadata": {
      "properties": {
        "topK": {
          "type": "string",
          "format": "int64",
          "description": "Top K value set when the dataset was saved. This value determines how many candidates with highest probability from the vocab would be selected for each decoding step."
        },
        "temperature": {
          "description": "Temperature value used for sampling set when the dataset was saved. This value is used to tune the degree of randomness.",
          "type": "number",
          "format": "float"
        },
        "gcsUri": {
          "description": "The Google Cloud Storage URI that stores the prompt data.",
          "type": "string"
        },
        "maxOutputTokens": {
          "type": "string",
          "format": "int64",
          "description": "Value of the maximum number of tokens generated set when the dataset was saved."
        },
        "candidateCount": {
          "format": "int64",
          "description": "Number of candidates.",
          "type": "string"
        },
        "stopSequences": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Customized stop sequences."
        },
        "topP": {
          "description": "Top P value set when the dataset was saved. Given topK tokens for decoding, top candidates will be selected until the sum of their probabilities is topP.",
          "type": "number",
          "format": "float"
        },
        "promptType": {
          "type": "string",
          "description": "Type of the prompt dataset."
        },
        "groundingConfig": {
          "description": "Grounding checking configuration.",
          "$ref": "GoogleCloudAiplatformV1SchemaPredictParamsGroundingConfig"
        },
        "text": {
          "type": "string",
          "description": "The content of the prompt dataset."
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaTextPromptDatasetMetadata",
      "description": "The metadata of Datasets that contain Text Prompt data.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1PauseModelDeploymentMonitoringJobRequest": {
      "id": "GoogleCloudAiplatformV1PauseModelDeploymentMonitoringJobRequest",
      "type": "object",
      "description": "Request message for JobService.PauseModelDeploymentMonitoringJob.",
      "properties": {}
    },
    "GoogleCloudAiplatformV1FeaturestoreMonitoringConfigImportFeaturesAnalysis": {
      "description": "Configuration of the Featurestore's ImportFeature Analysis Based Monitoring. This type of analysis generates statistics for values of each Feature imported by every ImportFeatureValues operation.",
      "properties": {
        "anomalyDetectionBaseline": {
          "description": "The baseline used to do anomaly detection for the statistics generated by import features analysis.",
          "enum": [
            "BASELINE_UNSPECIFIED",
            "LATEST_STATS",
            "MOST_RECENT_SNAPSHOT_STATS",
            "PREVIOUS_IMPORT_FEATURES_STATS"
          ],
          "enumDescriptions": [
            "Should not be used.",
            "Choose the later one statistics generated by either most recent snapshot analysis or previous import features analysis. If non of them exists, skip anomaly detection and only generate a statistics.",
            "Use the statistics generated by the most recent snapshot analysis if exists.",
            "Use the statistics generated by the previous import features analysis if exists."
          ],
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "DEFAULT",
            "ENABLED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "Should not be used.",
            "The default behavior of whether to enable the monitoring. EntityType-level config: disabled. Feature-level config: inherited from the configuration of EntityType this Feature belongs to.",
            "Explicitly enables import features analysis. EntityType-level config: by default enables import features analysis for all Features under it. Feature-level config: enables import features analysis regardless of the EntityType-level config.",
            "Explicitly disables import features analysis. EntityType-level config: by default disables import features analysis for all Features under it. Feature-level config: disables import features analysis regardless of the EntityType-level config."
          ],
          "type": "string",
          "description": "Whether to enable / disable / inherite default hebavior for import features analysis."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1FeaturestoreMonitoringConfigImportFeaturesAnalysis"
    },
    "GoogleCloudAiplatformV1SchemaPredictPredictionVideoObjectTrackingPredictionResult": {
      "description": "Prediction output format for Video Object Tracking.",
      "properties": {
        "frames": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1SchemaPredictPredictionVideoObjectTrackingPredictionResultFrame"
          },
          "description": "All of the frames of the video in which a single object instance has been detected. The bounding boxes in the frames identify the same object.",
          "type": "array"
        },
        "id": {
          "description": "The resource ID of the AnnotationSpec that had been identified.",
          "type": "string"
        },
        "timeSegmentStart": {
          "description": "The beginning, inclusive, of the video's time segment in which the object instance has been detected. Expressed as a number of seconds as measured from the start of the video, with fractions up to a microsecond precision, and with \"s\" appended at the end.",
          "type": "string",
          "format": "google-duration"
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "The Model's confidence in correction of this prediction, higher value means higher confidence."
        },
        "timeSegmentEnd": {
          "format": "google-duration",
          "type": "string",
          "description": "The end, inclusive, of the video's time segment in which the object instance has been detected. Expressed as a number of seconds as measured from the start of the video, with fractions up to a microsecond precision, and with \"s\" appended at the end."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the AnnotationSpec that had been identified."
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaPredictPredictionVideoObjectTrackingPredictionResult",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaPredictInstanceTextClassificationPredictionInstance": {
      "description": "Prediction input format for Text Classification.",
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "The MIME type of the text snippet. The supported MIME types are listed below. - text/plain"
        },
        "content": {
          "description": "The text snippet to make the predictions on.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaPredictInstanceTextClassificationPredictionInstance"
    },
    "GoogleCloudAiplatformV1ExportDataConfig": {
      "properties": {
        "gcsDestination": {
          "$ref": "GoogleCloudAiplatformV1GcsDestination",
          "description": "The Google Cloud Storage location where the output is to be written to. In the given directory a new directory will be created with name: `export-data--` where timestamp is in YYYY-MM-DDThh:mm:ss.sssZ ISO-8601 format. All export output will be written into that directory. Inside that directory, annotations with the same schema will be grouped into sub directories which are named with the corresponding annotations' schema title. Inside these sub directories, a schema.yaml will be created to describe the output format."
        },
        "annotationsFilter": {
          "type": "string",
          "description": "An expression for filtering what part of the Dataset is to be exported. Only Annotations that match this filter will be exported. The filter syntax is the same as in ListAnnotations."
        },
        "fractionSplit": {
          "$ref": "GoogleCloudAiplatformV1ExportFractionSplit",
          "description": "Split based on fractions defining the size of each set."
        }
      },
      "description": "Describes what part of the Dataset is to be exported, the destination of the export and how to export.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1ExportDataConfig"
    },
    "GoogleCloudAiplatformV1AddContextArtifactsAndExecutionsResponse": {
      "description": "Response message for MetadataService.AddContextArtifactsAndExecutions.",
      "id": "GoogleCloudAiplatformV1AddContextArtifactsAndExecutionsResponse",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudAiplatformV1ListSpecialistPoolsResponse": {
      "description": "Response message for SpecialistPoolService.ListSpecialistPools.",
      "type": "object",
      "properties": {
        "specialistPools": {
          "description": "A list of SpecialistPools that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SpecialistPool"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1ListSpecialistPoolsResponse"
    },
    "GoogleCloudAiplatformV1CreateFeatureGroupOperationMetadata": {
      "description": "Details of operations that perform create FeatureGroup.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1CreateFeatureGroupOperationMetadata",
      "properties": {
        "genericMetadata": {
          "description": "Operation metadata for FeatureGroup.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        }
      }
    },
    "GoogleCloudAiplatformV1ExplanationMetadataOutputMetadata": {
      "id": "GoogleCloudAiplatformV1ExplanationMetadataOutputMetadata",
      "type": "object",
      "properties": {
        "outputTensorName": {
          "description": "Name of the output tensor. Required and is only applicable to Vertex AI provided images for Tensorflow.",
          "type": "string"
        },
        "indexDisplayNameMapping": {
          "type": "any",
          "description": "Static mapping between the index and display name. Use this if the outputs are a deterministic n-dimensional array, e.g. a list of scores of all the classes in a pre-defined order for a multi-classification Model. It's not feasible if the outputs are non-deterministic, e.g. the Model produces top-k classes or sort the outputs by their values. The shape of the value must be an n-dimensional array of strings. The number of dimensions must match that of the outputs to be explained. The Attribution.output_display_name is populated by locating in the mapping with Attribution.output_index."
        },
        "displayNameMappingKey": {
          "description": "Specify a field name in the prediction to look for the display name. Use this if the prediction contains the display names for the outputs. The display names in the prediction must have the same shape of the outputs, so that it can be located by Attribution.output_index for a specific output.",
          "type": "string"
        }
      },
      "description": "Metadata of the prediction output to be explained."
    },
    "GoogleCloudAiplatformV1ExportFeatureValuesRequestSnapshotExport": {
      "description": "Describes exporting the latest Feature values of all entities of the EntityType between [start_time, snapshot_time].",
      "id": "GoogleCloudAiplatformV1ExportFeatureValuesRequestSnapshotExport",
      "type": "object",
      "properties": {
        "snapshotTime": {
          "description": "Exports Feature values as of this timestamp. If not set, retrieve values as of now. Timestamp, if present, must not have higher than millisecond precision.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Excludes Feature values with feature generation timestamp before this timestamp. If not set, retrieve oldest values kept in Feature Store. Timestamp, if present, must not have higher than millisecond precision."
        }
      }
    },
    "GoogleCloudAiplatformV1ListFeaturestoresResponse": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1ListFeaturestoresResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as ListFeaturestoresRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "featurestores": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1Featurestore"
          },
          "type": "array",
          "description": "The Featurestores matching the request."
        }
      },
      "description": "Response message for FeaturestoreService.ListFeaturestores."
    },
    "GoogleCloudAiplatformV1SuggestTrialsRequest": {
      "type": "object",
      "description": "Request message for VizierService.SuggestTrials.",
      "properties": {
        "suggestionCount": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The number of suggestions requested. It must be positive."
        },
        "contexts": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1TrialContext"
          },
          "type": "array",
          "description": "Optional. This allows you to specify the \"context\" for a Trial; a context is a slice (a subspace) of the search space. Typical uses for contexts: 1) You are using Vizier to tune a server for best performance, but there's a strong weekly cycle. The context specifies the day-of-week. This allows Tuesday to generalize from Wednesday without assuming that everything is identical. 2) Imagine you're optimizing some medical treatment for people. As they walk in the door, you know certain facts about them (e.g. sex, weight, height, blood-pressure). Put that information in the context, and Vizier will adapt its suggestions to the patient. 3) You want to do a fair A/B test efficiently. Specify the \"A\" and \"B\" conditions as contexts, and Vizier will generalize between \"A\" and \"B\" conditions. If they are similar, this will allow Vizier to converge to the optimum faster than if \"A\" and \"B\" were separate Studies. NOTE: You can also enter contexts as REQUESTED Trials, e.g. via the CreateTrial() RPC; that's the asynchronous option where you don't need a close association between contexts and suggestions. NOTE: All the Parameters you set in a context MUST be defined in the Study. NOTE: You must supply 0 or $suggestion_count contexts. If you don't supply any contexts, Vizier will make suggestions from the full search space specified in the StudySpec; if you supply a full set of context, each suggestion will match the corresponding context. NOTE: A Context with no features set matches anything, and allows suggestions from the full search space. NOTE: Contexts MUST lie within the search space specified in the StudySpec. It's an error if they don't. NOTE: Contexts preferentially match ACTIVE then REQUESTED trials before new suggestions are generated. NOTE: Generation of suggestions involves a match between a Context and (optionally) a REQUESTED trial; if that match is not fully specified, a suggestion will be geneated in the merged subspace."
        },
        "clientId": {
          "description": "Required. The identifier of the client that is requesting the suggestion. If multiple SuggestTrialsRequests have the same `client_id`, the service will return the identical suggested Trial if the Trial is pending, and provide a new Trial if the last suggested Trial was completed.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1SuggestTrialsRequest"
    },
    "GoogleCloudAiplatformV1MutateDeployedModelResponse": {
      "properties": {
        "deployedModel": {
          "description": "The DeployedModel that's being mutated.",
          "$ref": "GoogleCloudAiplatformV1DeployedModel"
        }
      },
      "id": "GoogleCloudAiplatformV1MutateDeployedModelResponse",
      "description": "Response message for EndpointService.MutateDeployedModel.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1FetchFeatureValuesResponseFeatureNameValuePairList": {
      "description": "Response structure in the format of key (feature name) and (feature) value pair.",
      "properties": {
        "features": {
          "description": "List of feature names and values.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1FetchFeatureValuesResponseFeatureNameValuePairListFeatureNameValuePair"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudAiplatformV1FetchFeatureValuesResponseFeatureNameValuePairList",
      "type": "object"
    },
    "GoogleCloudLocationListLocationsResponse": {
      "type": "object",
      "id": "GoogleCloudLocationListLocationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "description": "The response message for Locations.ListLocations."
    },
    "GoogleCloudAiplatformV1SchemaPredictParamsImageObjectDetectionPredictionParams": {
      "type": "object",
      "description": "Prediction model parameters for Image Object Detection.",
      "id": "GoogleCloudAiplatformV1SchemaPredictParamsImageObjectDetectionPredictionParams",
      "properties": {
        "maxPredictions": {
          "format": "int32",
          "description": "The Model only returns up to that many top, by confidence score, predictions per instance. Note that number of returned predictions is also limited by metadata's predictionsLimit. Default value is 10.",
          "type": "integer"
        },
        "confidenceThreshold": {
          "description": "The Model only returns predictions with at least this confidence score. Default value is 0.0",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaImageDatasetMetadata": {
      "properties": {
        "gcsBucket": {
          "description": "Google Cloud Storage Bucket name that contains the blob data of this Dataset.",
          "type": "string"
        },
        "dataItemSchemaUri": {
          "type": "string",
          "description": "Points to a YAML file stored on Google Cloud Storage describing payload of the Image DataItems that belong to this Dataset."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaImageDatasetMetadata",
      "description": "The metadata of Datasets that contain Image DataItems."
    },
    "GoogleCloudAiplatformV1NearestNeighborSearchOperationMetadataRecordError": {
      "properties": {
        "errorType": {
          "description": "The error type of this record.",
          "enumDescriptions": [
            "Default, shall not be used.",
            "The record is empty.",
            "Invalid json format.",
            "Invalid csv format.",
            "Invalid avro format.",
            "The embedding id is not valid.",
            "The size of the embedding vectors does not match with the specified dimension.",
            "The `namespace` field is missing."
          ],
          "type": "string",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "EMPTY_LINE",
            "INVALID_JSON_SYNTAX",
            "INVALID_CSV_SYNTAX",
            "INVALID_AVRO_SYNTAX",
            "INVALID_EMBEDDING_ID",
            "EMBEDDING_SIZE_MISMATCH",
            "NAMESPACE_MISSING"
          ]
        },
        "rawRecord": {
          "type": "string",
          "description": "The original content of this record."
        },
        "embeddingId": {
          "type": "string",
          "description": "Empty if the embedding id is failed to parse."
        },
        "errorMessage": {
          "description": "A human-readable message that is shown to the user to help them fix the error. Note that this message may change from time to time, your code should check against error_type as the source of truth.",
          "type": "string"
        },
        "sourceGcsUri": {
          "type": "string",
          "description": "Cloud Storage URI pointing to the original file in user's bucket."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1NearestNeighborSearchOperationMetadataRecordError"
    },
    "GoogleCloudAiplatformV1SchemaPredictPredictionImageSegmentationPredictionResult": {
      "properties": {
        "confidenceMask": {
          "description": "A one channel image which is encoded as an 8bit lossless PNG. The size of the image will be the same as the original image. For a specific pixel, darker color means less confidence in correctness of the cateogry in the categoryMask for the corresponding pixel. Black means no confidence and white means complete confidence.",
          "type": "string"
        },
        "categoryMask": {
          "description": "A PNG image where each pixel in the mask represents the category in which the pixel in the original image was predicted to belong to. The size of this image will be the same as the original image. The mapping between the AnntoationSpec and the color can be found in model's metadata. The model will choose the most likely category and if none of the categories reach the confidence threshold, the pixel will be marked as background.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaPredictPredictionImageSegmentationPredictionResult",
      "type": "object",
      "description": "Prediction output format for Image Segmentation."
    },
    "GoogleCloudAiplatformV1SchemaPredictInstanceVideoActionRecognitionPredictionInstance": {
      "id": "GoogleCloudAiplatformV1SchemaPredictInstanceVideoActionRecognitionPredictionInstance",
      "description": "Prediction input format for Video Action Recognition.",
      "properties": {
        "timeSegmentEnd": {
          "type": "string",
          "description": "The end, exclusive, of the video's time segment on which to perform the prediction. Expressed as a number of seconds as measured from the start of the video, with \"s\" appended at the end. Fractions are allowed, up to a microsecond precision, and \"inf\" or \"Infinity\" is allowed, which means the end of the video."
        },
        "content": {
          "description": "The Google Cloud Storage location of the video on which to perform the prediction.",
          "type": "string"
        },
        "timeSegmentStart": {
          "type": "string",
          "description": "The beginning, inclusive, of the video's time segment on which to perform the prediction. Expressed as a number of seconds as measured from the start of the video, with \"s\" appended at the end. Fractions are allowed, up to a microsecond precision."
        },
        "mimeType": {
          "description": "The MIME type of the content of the video. Only the following are supported: video/mp4 video/avi video/quicktime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlVideoObjectTracking": {
      "description": "A TrainingJob that trains and uploads an AutoML Video ObjectTracking Model.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlVideoObjectTracking",
      "properties": {
        "inputs": {
          "description": "The input parameters of this TrainingJob.",
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlVideoObjectTrackingInputs"
        }
      }
    },
    "GoogleCloudAiplatformV1Explanation": {
      "properties": {
        "neighbors": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. List of the nearest neighbors for example-based explanations. For models deployed with the examples explanations feature enabled, the attributions field is empty and instead the neighbors field is populated.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Neighbor"
          }
        },
        "attributions": {
          "description": "Output only. Feature attributions grouped by predicted outputs. For Models that predict only one output, such as regression Models that predict only one score, there is only one attibution that explains the predicted output. For Models that predict multiple outputs, such as multiclass Models that predict multiple classes, each element explains one specific item. Attribution.output_index can be used to identify which output this attribution is explaining. If users set ExplanationParameters.top_k, the attributions are sorted by instance_output_value in descending order. If ExplanationParameters.output_indices is specified, the attributions are stored by Attribution.output_index in the same order as they appear in the output_indices.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Attribution"
          },
          "readOnly": true
        }
      },
      "id": "GoogleCloudAiplatformV1Explanation",
      "description": "Explanation of a prediction (provided in PredictResponse.predictions) produced by the Model on a given instance.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1MigratableResourceAutomlModel": {
      "description": "Represents one Model in automl.googleapis.com.",
      "properties": {
        "model": {
          "type": "string",
          "description": "Full resource name of automl Model. Format: `projects/{project}/locations/{location}/models/{model}`."
        },
        "modelDisplayName": {
          "type": "string",
          "description": "The Model's display name in automl.googleapis.com."
        }
      },
      "id": "GoogleCloudAiplatformV1MigratableResourceAutomlModel",
      "type": "object"
    },
    "GoogleCloudAiplatformV1DeleteFeatureValuesResponseSelectEntity": {
      "id": "GoogleCloudAiplatformV1DeleteFeatureValuesResponseSelectEntity",
      "type": "object",
      "description": "Response message if the request uses the SelectEntity option.",
      "properties": {
        "onlineStorageDeletedEntityCount": {
          "format": "int64",
          "description": "The count of deleted entities in the online storage. Each entity ID corresponds to one entity.",
          "type": "string"
        },
        "offlineStorageDeletedEntityRowCount": {
          "description": "The count of deleted entity rows in the offline storage. Each row corresponds to the combination of an entity ID and a timestamp. One entity ID can have multiple rows in the offline storage.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionHyperparameterTuningTask": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionHyperparameterTuningTask",
      "description": "A TrainingJob that tunes Hypererparameters of a custom code Model.",
      "properties": {
        "inputs": {
          "description": "The input parameters of this HyperparameterTuningTask.",
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionHyperparameterTuningJobSpec"
        },
        "metadata": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionHyperparameterTuningJobMetadata",
          "description": "The metadata information."
        }
      }
    },
    "GoogleCloudAiplatformV1DeployModelRequest": {
      "id": "GoogleCloudAiplatformV1DeployModelRequest",
      "description": "Request message for EndpointService.DeployModel.",
      "type": "object",
      "properties": {
        "deployedModel": {
          "$ref": "GoogleCloudAiplatformV1DeployedModel",
          "description": "Required. The DeployedModel to be created within the Endpoint. Note that Endpoint.traffic_split must be updated for the DeployedModel to start receiving traffic, either as part of this call, or via EndpointService.UpdateEndpoint."
        },
        "trafficSplit": {
          "type": "object",
          "additionalProperties": {
            "format": "int32",
            "type": "integer"
          },
          "description": "A map from a DeployedModel's ID to the percentage of this Endpoint's traffic that should be forwarded to that DeployedModel. If this field is non-empty, then the Endpoint's traffic_split will be overwritten with it. To refer to the ID of the just being deployed Model, a \"0\" should be used, and the actual ID of the new DeployedModel will be filled in its place by this method. The traffic percentage values must add up to 100. If this field is empty, then the Endpoint's traffic_split is not updated."
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaModelevaluationMetricsImageSegmentationEvaluationMetricsConfidenceMetricsEntry": {
      "id": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsImageSegmentationEvaluationMetricsConfidenceMetricsEntry",
      "properties": {
        "confusionMatrix": {
          "description": "Confusion matrix for the given confidence threshold.",
          "$ref": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsConfusionMatrix"
        },
        "diceScoreCoefficient": {
          "type": "number",
          "description": "DSC or the F1 score, The harmonic mean of recall and precision.",
          "format": "float"
        },
        "recall": {
          "description": "Recall (True Positive Rate) for the given confidence threshold.",
          "type": "number",
          "format": "float"
        },
        "precision": {
          "type": "number",
          "description": "Precision for the given confidence threshold.",
          "format": "float"
        },
        "confidenceThreshold": {
          "format": "float",
          "description": "Metrics are computed with an assumption that the model never returns predictions with score lower than this value.",
          "type": "number"
        },
        "iouScore": {
          "format": "float",
          "type": "number",
          "description": "The intersection-over-union score. The measure of overlap of the annotation's category mask with ground truth category mask on the DataItem."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1TFRecordDestination": {
      "properties": {
        "gcsDestination": {
          "description": "Required. Google Cloud Storage location.",
          "$ref": "GoogleCloudAiplatformV1GcsDestination"
        }
      },
      "type": "object",
      "description": "The storage details for TFRecord output content.",
      "id": "GoogleCloudAiplatformV1TFRecordDestination"
    },
    "GoogleCloudAiplatformV1ImportFeatureValuesResponse": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1ImportFeatureValuesResponse",
      "description": "Response message for FeaturestoreService.ImportFeatureValues.",
      "properties": {
        "importedEntityCount": {
          "description": "Number of entities that have been imported by the operation.",
          "type": "string",
          "format": "int64"
        },
        "invalidRowCount": {
          "description": "The number of rows in input source that weren't imported due to either * Not having any featureValues. * Having a null entityId. * Having a null timestamp. * Not being parsable (applicable for CSV sources).",
          "type": "string",
          "format": "int64"
        },
        "timestampOutsideRetentionRowsCount": {
          "description": "The number rows that weren't ingested due to having feature timestamps outside the retention boundary.",
          "type": "string",
          "format": "int64"
        },
        "importedFeatureValueCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of Feature values that have been imported by the operation."
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaPredictPredictionTimeSeriesForecastingPredictionResult": {
      "id": "GoogleCloudAiplatformV1SchemaPredictPredictionTimeSeriesForecastingPredictionResult",
      "type": "object",
      "properties": {
        "value": {
          "format": "float",
          "type": "number",
          "description": "The regression value."
        },
        "tftFeatureImportance": {
          "$ref": "GoogleCloudAiplatformV1SchemaPredictPredictionTftFeatureImportance",
          "description": "Only use these if TFt is enabled."
        },
        "quantilePredictions": {
          "items": {
            "format": "float",
            "type": "number"
          },
          "type": "array",
          "description": "Quantile predictions, in 1-1 correspondence with quantile_values."
        },
        "quantileValues": {
          "type": "array",
          "items": {
            "format": "float",
            "type": "number"
          },
          "description": "Quantile values."
        }
      },
      "description": "Prediction output format for Time Series Forecasting."
    },
    "GoogleCloudAiplatformV1WriteTensorboardRunDataResponse": {
      "properties": {},
      "type": "object",
      "description": "Response message for TensorboardService.WriteTensorboardRunData.",
      "id": "GoogleCloudAiplatformV1WriteTensorboardRunDataResponse"
    },
    "GoogleCloudAiplatformV1SchemaVertex": {
      "properties": {
        "x": {
          "description": "X coordinate.",
          "format": "double",
          "type": "number"
        },
        "y": {
          "type": "number",
          "format": "double",
          "description": "Y coordinate."
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaVertex",
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1Dataset": {
      "description": "A collection of DataItems and Annotations on them.",
      "id": "GoogleCloudAiplatformV1Dataset",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the Dataset.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The user-defined name of the Dataset. The name can be up to 128 characters long and can consist of any UTF-8 characters.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens."
        },
        "encryptionSpec": {
          "description": "Customer-managed encryption key spec for a Dataset. If set, this Dataset and all sub-resources of this Dataset will be secured by this key.",
          "$ref": "GoogleCloudAiplatformV1EncryptionSpec"
        },
        "description": {
          "type": "string",
          "description": "The description of the Dataset."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when this Dataset was last updated."
        },
        "metadataArtifact": {
          "type": "string",
          "description": "Output only. The resource name of the Artifact that was created in MetadataStore when creating the Dataset. The Artifact resource name pattern is `projects/{project}/locations/{location}/metadataStores/{metadata_store}/artifacts/{artifact}`.",
          "readOnly": true
        },
        "metadataSchemaUri": {
          "description": "Required. Points to a YAML file stored on Google Cloud Storage describing additional information about the Dataset. The schema is defined as an OpenAPI 3.0.2 Schema Object. The schema files that can be used here are found in gs://google-cloud-aiplatform/schema/dataset/metadata/.",
          "type": "string"
        },
        "dataItemCount": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The number of DataItems in this Dataset. Only apply for non-structured Dataset.",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The labels with user-defined metadata to organize your Datasets. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. No more than 64 user labels can be associated with one Dataset (System labels are excluded). See https://goo.gl/xmQnxf for more information and examples of labels. System reserved label keys are prefixed with \"aiplatform.googleapis.com/\" and are immutable. Following system labels exist for each Dataset: * \"aiplatform.googleapis.com/dataset_metadata_schema\": output only, its value is the metadata_schema's title."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when this Dataset was created."
        },
        "savedQueries": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1SavedQuery"
          },
          "description": "All SavedQueries belong to the Dataset will be returned in List/Get Dataset response. The annotation_specs field will not be populated except for UI cases which will only use annotation_spec_count. In CreateDataset request, a SavedQuery is created together if this field is set, up to one SavedQuery can be set in CreateDatasetRequest. The SavedQuery should not contain any AnnotationSpec.",
          "type": "array"
        },
        "metadata": {
          "type": "any",
          "description": "Required. Additional information about the Dataset."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaModelevaluationMetricsSummarizationEvaluationMetrics": {
      "properties": {
        "rougeLSum": {
          "format": "float",
          "description": "ROUGE-L (Longest Common Subsequence) scoring at summary level.",
          "type": "number"
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsSummarizationEvaluationMetrics",
      "type": "object"
    },
    "GoogleCloudAiplatformV1CheckTrialEarlyStoppingStateMetatdata": {
      "id": "GoogleCloudAiplatformV1CheckTrialEarlyStoppingStateMetatdata",
      "type": "object",
      "properties": {
        "genericMetadata": {
          "description": "Operation metadata for suggesting Trials.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        },
        "study": {
          "type": "string",
          "description": "The name of the Study that the Trial belongs to."
        },
        "trial": {
          "description": "The Trial name.",
          "type": "string"
        }
      },
      "description": "This message will be placed in the metadata field of a google.longrunning.Operation associated with a CheckTrialEarlyStoppingState request."
    },
    "GoogleCloudAiplatformV1SchemaPredictPredictionClassificationPredictionResult": {
      "properties": {
        "displayNames": {
          "items": {
            "type": "string"
          },
          "description": "The display names of the AnnotationSpecs that had been identified, order matches the IDs.",
          "type": "array"
        },
        "ids": {
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "The resource IDs of the AnnotationSpecs that had been identified."
        },
        "confidences": {
          "items": {
            "type": "number",
            "format": "float"
          },
          "type": "array",
          "description": "The Model's confidences in correctness of the predicted IDs, higher value means higher confidence. Order matches the Ids."
        }
      },
      "description": "Prediction output format for Image and Text Classification.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaPredictPredictionClassificationPredictionResult"
    },
    "GoogleCloudAiplatformV1PublisherModelResourceReference": {
      "description": "Reference to a resource.",
      "type": "object",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "The resource name of the Google Cloud resource."
        },
        "uri": {
          "description": "The URI of the resource.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1PublisherModelResourceReference"
    },
    "GoogleCloudAiplatformV1DeployIndexOperationMetadata": {
      "id": "GoogleCloudAiplatformV1DeployIndexOperationMetadata",
      "type": "object",
      "description": "Runtime operation information for IndexEndpointService.DeployIndex.",
      "properties": {
        "deployedIndexId": {
          "type": "string",
          "description": "The unique index id specified by user"
        },
        "genericMetadata": {
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata",
          "description": "The operation generic information."
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionHyperparameterTuningJobSpec": {
      "type": "object",
      "properties": {
        "trialJobSpec": {
          "description": "The spec of a trial job. The same spec applies to the CustomJobs created in all the trials.",
          "$ref": "GoogleCloudAiplatformV1CustomJobSpec"
        },
        "maxTrialCount": {
          "type": "integer",
          "description": "The desired total number of Trials.",
          "format": "int32"
        },
        "parallelTrialCount": {
          "format": "int32",
          "type": "integer",
          "description": "The desired number of Trials to run in parallel."
        },
        "studySpec": {
          "$ref": "GoogleCloudAiplatformV1StudySpec",
          "description": "Study configuration of the HyperparameterTuningJob."
        },
        "maxFailedTrialCount": {
          "type": "integer",
          "description": "The number of failed Trials that need to be seen before failing the HyperparameterTuningJob. If set to 0, Vertex AI decides how many Trials must fail before the whole job fails.",
          "format": "int32"
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionHyperparameterTuningJobSpec"
    },
    "GoogleCloudAiplatformV1ModelDeploymentMonitoringJobLatestMonitoringPipelineMetadata": {
      "id": "GoogleCloudAiplatformV1ModelDeploymentMonitoringJobLatestMonitoringPipelineMetadata",
      "type": "object",
      "description": "All metadata of most recent monitoring pipelines.",
      "properties": {
        "runTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time that most recent monitoring pipelines that is related to this run."
        },
        "status": {
          "description": "The status of the most recent monitoring pipeline.",
          "$ref": "GoogleRpcStatus"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionTftForecastingInputs": {
      "properties": {
        "timeSeriesAttributeColumns": {
          "description": "Column names that should be used as attribute columns. The value of these columns does not vary as a function of time. For example, store ID or item color.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "hierarchyConfig": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionHierarchyConfig",
          "description": "Configuration that defines the hierarchical relationship of time series and parameters for hierarchical forecasting strategies."
        },
        "holidayRegions": {
          "description": "The geographical region based on which the holiday effect is applied in modeling by adding holiday categorical array feature that include all holidays matching the date. This option only allowed when data_granularity is day. By default, holiday effect modeling is disabled. To turn it on, specify the holiday region using this option.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "trainBudgetMilliNodeHours": {
          "description": "Required. The train budget of creating this model, expressed in milli node hours i.e. 1,000 value in this field means 1 node hour. The training cost of the model will not exceed this budget. The final cost will be attempted to be close to the budget, though may end up being (even) noticeably smaller - at the backend's discretion. This especially may happen when further model training ceases to provide any improvements. If the budget is set to a value known to be insufficient to train a model for the given dataset, the training won't be attempted and will error. The train budget must be between 1,000 and 72,000 milli node hours, inclusive.",
          "format": "int64",
          "type": "string"
        },
        "optimizationObjective": {
          "type": "string",
          "description": "Objective function the model is optimizing towards. The training process creates a model that optimizes the value of the objective function over the validation set. The supported optimization objectives: * \"minimize-rmse\" (default) - Minimize root-mean-squared error (RMSE). * \"minimize-mae\" - Minimize mean-absolute error (MAE). * \"minimize-rmsle\" - Minimize root-mean-squared log error (RMSLE). * \"minimize-rmspe\" - Minimize root-mean-squared percentage error (RMSPE). * \"minimize-wape-mae\" - Minimize the combination of weighted absolute percentage error (WAPE) and mean-absolute-error (MAE). * \"minimize-quantile-loss\" - Minimize the quantile loss at the quantiles defined in `quantiles`. * \"minimize-mape\" - Minimize the mean absolute percentage error."
        },
        "dataGranularity": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionTftForecastingInputsGranularity",
          "description": "Expected difference in time granularity between rows in the data."
        },
        "windowConfig": {
          "description": "Config containing strategy for generating sliding windows.",
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionWindowConfig"
        },
        "availableAtForecastColumns": {
          "description": "Names of columns that are available and provided when a forecast is requested. These columns contain information for the given entity (identified by the time_series_identifier_column column) that is known at forecast. For example, predicted weather for a specific day.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "weightColumn": {
          "description": "Column name that should be used as the weight column. Higher values in this column give more importance to the row during model training. The column must have numeric values between 0 and 10000 inclusively; 0 means the row is ignored for training. If weight column field is not set, then all rows are assumed to have equal weight of 1. This column must be available at forecast.",
          "type": "string"
        },
        "unavailableAtForecastColumns": {
          "description": "Names of columns that are unavailable when a forecast is requested. This column contains information for the given entity (identified by the time_series_identifier_column) that is unknown before the forecast For example, actual weather on a given day.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "contextWindow": {
          "description": "The amount of time into the past training and prediction data is used for model training and prediction respectively. Expressed in number of units defined by the `data_granularity` field.",
          "type": "string",
          "format": "int64"
        },
        "targetColumn": {
          "description": "The name of the column that the Model is to predict values for. This column must be unavailable at forecast.",
          "type": "string"
        },
        "exportEvaluatedDataItemsConfig": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionExportEvaluatedDataItemsConfig",
          "description": "Configuration for exporting test set predictions to a BigQuery table. If this configuration is absent, then the export is not performed."
        },
        "timeColumn": {
          "type": "string",
          "description": "The name of the column that identifies time order in the time series. This column must be available at forecast."
        },
        "quantiles": {
          "items": {
            "format": "double",
            "type": "number"
          },
[...]
