{
  "mtlsRootUrl": "https://aiplatform.mtls.googleapis.com/",
  "rootUrl": "https://aiplatform.googleapis.com/",
  "basePath": "",
  "canonicalName": "Aiplatform",
  "ownerName": "Google",
  "description": "Train high-quality custom machine learning models with minimal machine learning expertise and effort.",
  "fullyEncodeReservedExpansion": true,
  "title": "Vertex AI API",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "servicePath": "",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "baseUrl": "https://aiplatform.googleapis.com/",
  "discoveryVersion": "v1",
  "name": "aiplatform",
  "version": "v1beta1",
  "ownerDomain": "google.com",
  "resources": {
    "publishers": {
      "resources": {
        "models": {
          "methods": {
            "get": {
              "response": {
                "$ref": "GoogleCloudAiplatformV1beta1PublisherModel"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the PublisherModel resource. Format: `publishers/{publisher}/models/{publisher_model}`",
                  "pattern": "^publishers/[^/]+/models/[^/]+$",
                  "required": true
                },
                "view": {
                  "location": "query",
                  "enum": [
                    "PUBLISHER_MODEL_VIEW_UNSPECIFIED",
                    "PUBLISHER_MODEL_VIEW_BASIC",
                    "PUBLISHER_MODEL_VIEW_FULL",
                    "PUBLISHER_MODEL_VERSION_VIEW_BASIC"
                  ],
                  "type": "string",
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the BASIC view.",
                    "Include basic metadata about the publisher model, but not the full contents.",
                    "Include everything.",
                    "Include: VersionId, ModelVersionExternalName, and SupportedActions."
                  ],
                  "description": "Optional. PublisherModel view specifying which fields to read."
                },
                "languageCode": {
                  "type": "string",
                  "description": "Optional. The IETF BCP-47 language code representing the language in which the publisher model's text information should be written in (see go/bcp47).",
                  "location": "query"
                }
              },
              "flatPath": "v1beta1/publishers/{publishersId}/models/{modelsId}",
              "description": "Gets a Model Garden publisher model.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "aiplatform.publishers.models.get",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "httpMethod": "GET"
            },
            "list": {
              "id": "aiplatform.publishers.models.list",
              "httpMethod": "GET",
              "path": "v1beta1/{+parent}/models",
              "description": "Lists publisher models in Model Garden.",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudAiplatformV1beta1ListPublisherModelsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/publishers/{publishersId}/models",
              "parameters": {
                "languageCode": {
                  "type": "string",
                  "description": "Optional. The IETF BCP-47 language code representing the language in which the publisher models' text information should be written in (see go/bcp47). If not set, by default English (en).",
                  "location": "query"
                },
                "orderBy": {
                  "description": "Optional. A comma-separated list of fields to order by, sorted in ascending order. Use \"desc\" after a field name for descending.",
                  "location": "query",
                  "type": "string"
                },
                "view": {
                  "enum": [
                    "PUBLISHER_MODEL_VIEW_UNSPECIFIED",
                    "PUBLISHER_MODEL_VIEW_BASIC",
                    "PUBLISHER_MODEL_VIEW_FULL",
                    "PUBLISHER_MODEL_VERSION_VIEW_BASIC"
                  ],
                  "type": "string",
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the BASIC view.",
                    "Include basic metadata about the publisher model, but not the full contents.",
                    "Include everything.",
                    "Include: VersionId, ModelVersionExternalName, and SupportedActions."
                  ],
                  "location": "query",
                  "description": "Optional. PublisherModel view specifying which fields to read."
                },
                "parent": {
                  "description": "Required. The name of the Publisher from which to list the PublisherModels. Format: `publishers/{publisher}`",
                  "type": "string",
                  "pattern": "^publishers/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. The standard list page token. Typically obtained via ListPublisherModelsResponse.next_page_token of the previous ModelGardenService.ListPublisherModels call.",
                  "location": "query"
                },
                "filter": {
                  "description": "Optional. The standard list filter.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The standard list page size.",
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "persistentResources": {
              "resources": {
                "operations": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/persistentResources/[^/]+/operations/[^/]+$",
                          "description": "The name of the operation resource.",
                          "type": "string"
                        }
                      },
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "path": "v1beta1/{+name}",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/persistentResources/{persistentResourcesId}/operations/{operationsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "aiplatform.projects.locations.persistentResources.operations.get",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    },
                    "cancel": {
                      "path": "v1beta1/{+name}:cancel",
                      "httpMethod": "POST",
                      "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/persistentResources/[^/]+/operations/[^/]+$",
                          "description": "The name of the operation resource to be cancelled.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/persistentResources/{persistentResourcesId}/operations/{operationsId}:cancel",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "aiplatform.projects.locations.persistentResources.operations.cancel",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "delete": {
                      "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                      "path": "v1beta1/{+name}",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "id": "aiplatform.projects.locations.persistentResources.operations.delete",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/persistentResources/{persistentResourcesId}/operations/{operationsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/persistentResources/[^/]+/operations/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "The name of the operation resource to be deleted.",
                          "required": true
                        }
                      }
                    },
                    "wait": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "timeout": {
                          "format": "google-duration",
                          "type": "string",
                          "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                          "location": "query"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/persistentResources/[^/]+/operations/[^/]+$",
                          "description": "The name of the operation resource to wait on.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1beta1/{+name}:wait",
                      "id": "aiplatform.projects.locations.persistentResources.operations.wait",
                      "httpMethod": "POST",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/persistentResources/{persistentResourcesId}/operations/{operationsId}:wait",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done."
                    },
                    "list": {
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "The standard list page token."
                        },
                        "name": {
                          "description": "The name of the operation's parent resource.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/persistentResources/[^/]+$",
                          "location": "path",
                          "required": true
                        },
                        "pageSize": {
                          "description": "The standard list page size.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "filter": {
                          "type": "string",
                          "description": "The standard list filter.",
                          "location": "query"
                        }
                      },
                      "path": "v1beta1/{+name}/operations",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/persistentResources/{persistentResourcesId}/operations",
                      "id": "aiplatform.projects.locations.persistentResources.operations.list",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      },
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/persistentResources/[^/]+$",
                      "description": "Required. The name of the PersistentResource to be deleted. Format: `projects/{project}/locations/{location}/persistentResources/{persistent_resource}`"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Deletes a PersistentResource.",
                  "path": "v1beta1/{+name}",
                  "id": "aiplatform.projects.locations.persistentResources.delete",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/persistentResources/{persistentResourcesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates a PersistentResource.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Required. Specify the fields to be overwritten in the PersistentResource by the update method."
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/persistentResources/[^/]+$",
                      "required": true,
                      "description": "Immutable. Resource name of a PersistentResource.",
                      "type": "string"
                    }
                  },
                  "id": "aiplatform.projects.locations.persistentResources.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/persistentResources/{persistentResourcesId}",
                  "request": {
                    "$ref": "GoogleCloudAiplatformV1beta1PersistentResource"
                  },
                  "httpMethod": "PATCH"
                },
                "list": {
                  "description": "Lists PersistentResources in a Location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1beta1ListPersistentResourcesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource name of the Location to list the PersistentResources from. Format: `projects/{project}/locations/{location}`"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The standard list page token. Typically obtained via ListPersistentResourceResponse.next_page_token of the previous PersistentResourceService.ListPersistentResource call."
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. The standard list page size."
                    }
                  },
                  "id": "aiplatform.projects.locations.persistentResources.list",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/persistentResources",
                  "path": "v1beta1/{+parent}/persistentResources"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1beta1PersistentResource"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/persistentResources/{persistentResourcesId}",
                  "id": "aiplatform.projects.locations.persistentResources.get",
                  "description": "Gets a PersistentResource.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/persistentResources/[^/]+$",
                      "description": "Required. The name of the PersistentResource resource. Format: `projects/{project_id_or_number}/locations/{location_id}/persistentResources/{persistent_resource_id}`",
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "aiplatform.projects.locations.persistentResources.create",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a PersistentResource.",
                  "request": {
                    "$ref": "GoogleCloudAiplatformV1beta1PersistentResource"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/persistentResources",
                  "path": "v1beta1/{+parent}/persistentResources",
                  "parameters": {
                    "persistentResourceId": {
                      "description": "Required. The ID to use for the PersistentResource, which become the final component of the PersistentResource's resource name. The maximum length is 63 characters, and valid characters are `/^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$/`.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The resource name of the Location to create the PersistentResource in. Format: `projects/{project}/locations/{location}`",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  }
                }
              }
            },
            "trainingPipelines": {
              "resources": {
                "operations": {
                  "methods": {
                    "delete": {
                      "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "aiplatform.projects.locations.trainingPipelines.operations.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/trainingPipelines/[^/]+/operations/[^/]+$",
                          "description": "The name of the operation resource to be deleted.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "path": "v1beta1/{+name}",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/trainingPipelines/{trainingPipelinesId}/operations/{operationsId}"
                    },
                    "cancel": {
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "path": "v1beta1/{+name}:cancel",
                      "parameters": {
                        "name": {
                          "description": "The name of the operation resource to be cancelled.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/trainingPipelines/[^/]+/operations/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/trainingPipelines/{trainingPipelinesId}/operations/{operationsId}:cancel",
                      "id": "aiplatform.projects.locations.trainingPipelines.operations.cancel",
                      "httpMethod": "POST"
                    },
                    "list": {
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      },
                      "id": "aiplatform.projects.locations.trainingPipelines.operations.list",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/trainingPipelines/{trainingPipelinesId}/operations",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "The standard list page token.",
                          "location": "query"
                        },
                        "name": {
                          "location": "path",
                          "type": "string",
                          "description": "The name of the operation's parent resource.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/trainingPipelines/[^/]+$",
                          "required": true
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "The standard list page size.",
                          "format": "int32",
                          "location": "query"
                        },
                        "filter": {
                          "location": "query",
                          "description": "The standard list filter.",
                          "type": "string"
                        }
                      },
                      "path": "v1beta1/{+name}/operations",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                    },
                    "wait": {
                      "id": "aiplatform.projects.locations.trainingPipelines.operations.wait",
                      "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/trainingPipelines/{trainingPipelinesId}/operations/{operationsId}:wait",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v1beta1/{+name}:wait",
                      "parameters": {
                        "timeout": {
                          "type": "string",
                          "format": "google-duration",
                          "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                          "location": "query"
                        },
                        "name": {
                          "description": "The name of the operation resource to wait on.",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/trainingPipelines/[^/]+/operations/[^/]+$",
                          "required": true
                        }
                      },
                      "httpMethod": "POST"
                    },
                    "get": {
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/trainingPipelines/{trainingPipelinesId}/operations/{operationsId}",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameters": {
                        "name": {
                          "description": "The name of the operation resource.",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/trainingPipelines/[^/]+/operations/[^/]+$"
                        }
                      },
                      "httpMethod": "GET",
                      "path": "v1beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "aiplatform.projects.locations.trainingPipelines.operations.get",
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/trainingPipelines/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the TrainingPipeline resource. Format: `projects/{project}/locations/{location}/trainingPipelines/{training_pipeline}`",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/trainingPipelines/{trainingPipelinesId}",
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "aiplatform.projects.locations.trainingPipelines.get",
                  "description": "Gets a TrainingPipeline.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1beta1TrainingPipeline"
                  }
                },
                "create": {
                  "description": "Creates a TrainingPipeline. A created TrainingPipeline right away will be attempted to be run.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name of the Location to create the TrainingPipeline in. Format: `projects/{project}/locations/{location}`",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/trainingPipelines",
                  "request": {
                    "$ref": "GoogleCloudAiplatformV1beta1TrainingPipeline"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta1/{+parent}/trainingPipelines",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1beta1TrainingPipeline"
                  },
                  "id": "aiplatform.projects.locations.trainingPipelines.create",
                  "httpMethod": "POST"
                },
                "list": {
                  "id": "aiplatform.projects.locations.trainingPipelines.list",
                  "httpMethod": "GET",
                  "path": "v1beta1/{+parent}/trainingPipelines",
                  "description": "Lists TrainingPipelines in a Location.",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The resource name of the Location to list the TrainingPipelines from. Format: `projects/{project}/locations/{location}`",
                      "location": "path",
                      "required": true
                    },
                    "readMask": {
                      "description": "Mask specifying which fields to read.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The standard list page size.",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token. Typically obtained via ListTrainingPipelinesResponse.next_page_token of the previous PipelineService.ListTrainingPipelines call.",
                      "location": "query"
                    },
                    "filter": {
                      "description": "The standard list filter. Supported fields: * `display_name` supports `=`, `!=` comparisons, and `:` wildcard. * `state` supports `=`, `!=` comparisons. * `training_task_definition` `=`, `!=` comparisons, and `:` wildcard. * `create_time` supports `=`, `!=`,`\u003c`, `\u003c=`,`\u003e`, `\u003e=` comparisons. `create_time` must be in RFC 3339 format. * `labels` supports general map functions that is: `labels.key=value` - key:value equality `labels.key:* - key existence Some examples of using the filter are: * `state=\"PIPELINE_STATE_SUCCEEDED\" AND display_name:\"my_pipeline_*\"` * `state!=\"PIPELINE_STATE_FAILED\" OR display_name=\"my_pipeline\"` * `NOT display_name=\"my_pipeline\"` * `create_time\u003e\"2021-05-18T00:00:00Z\"` * `training_task_definition:\"*automl_text_classification*\"`",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/trainingPipelines",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1beta1ListTrainingPipelinesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "cancel": {
                  "id": "aiplatform.projects.locations.trainingPipelines.cancel",
                  "path": "v1beta1/{+name}:cancel",
                  "request": {
                    "$ref": "GoogleCloudAiplatformV1beta1CancelTrainingPipelineRequest"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/trainingPipelines/{trainingPipelinesId}:cancel",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/trainingPipelines/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the TrainingPipeline to cancel. Format: `projects/{project}/locations/{location}/trainingPipelines/{training_pipeline}`",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Cancels a TrainingPipeline. Starts asynchronous cancellation on the TrainingPipeline. The server makes a best effort to cancel the pipeline, but success is not guaranteed. Clients can use PipelineService.GetTrainingPipeline or other methods to check whether the cancellation succeeded or whether the pipeline completed despite cancellation. On successful cancellation, the TrainingPipeline is not deleted; instead it becomes a pipeline with a TrainingPipeline.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`, and TrainingPipeline.state is set to `CANCELLED`."
                },
                "delete": {
                  "id": "aiplatform.projects.locations.trainingPipelines.delete",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/trainingPipelines/{trainingPipelinesId}",
                  "path": "v1beta1/{+name}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the TrainingPipeline resource to be deleted. Format: `projects/{project}/locations/{location}/trainingPipelines/{training_pipeline}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/trainingPipelines/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Deletes a TrainingPipeline."
                }
              }
            },
            "endpoints": {
              "methods": {
                "deployModel": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/endpoints/{endpointsId}:deployModel",
                  "parameters": {
                    "endpoint": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/endpoints/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the Endpoint resource into which to deploy a Model. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudAiplatformV1beta1DeployModelRequest"
                  },
                  "id": "aiplatform.projects.locations.endpoints.deployModel",
                  "path": "v1beta1/{+endpoint}:deployModel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "endpoint"
                  ],
                  "httpMethod": "POST",
                  "description": "Deploys a Model into this Endpoint, creating a DeployedModel within it.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1beta1ListEndpointsResponse"
                  },
                  "description": "Lists Endpoints in a Location.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/endpoints",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+parent}/endpoints",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The resource name of the Location from which to list the Endpoints. Format: `projects/{project}/locations/{location}`",
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. The standard list page token. Typically obtained via ListEndpointsResponse.next_page_token of the previous EndpointService.ListEndpoints call.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. An expression for filtering the results of the request. For field names both snake_case and camelCase are supported. * `endpoint` supports = and !=. `endpoint` represents the Endpoint ID, i.e. the last segment of the Endpoint's resource name. * `display_name` supports = and, != * `labels` supports general map functions that is: * `labels.key=value` - key:value equality * `labels.key:* or labels:key - key existence * A key including a space must be quoted. `labels.\"a key\"`. Some examples: * `endpoint=1` * `displayName=\"myDisplayName\"` * `labels.myKey=\"myValue\"`",
                      "location": "query"
                    },
                    "readMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Mask specifying which fields to read."
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. The standard list page size.",
                      "location": "query"
                    }
                  },
                  "id": "aiplatform.projects.locations.endpoints.list"
                },
                "getIamPolicy": {
                  "parameters": {
                    "resource": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/endpoints/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    },
                    "options.requestedPolicyVersion": {
                      "type": "integer",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "id": "aiplatform.projects.locations.endpoints.getIamPolicy",
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/endpoints/{endpointsId}:getIamPolicy",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "resource"
                  ],
                  "response": {
                    "$ref": "GoogleIamV1Policy"
                  },
                  "path": "v1beta1/{+resource}:getIamPolicy"
                },
                "predict": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/endpoints/{endpointsId}:predict",
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1beta1PredictResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "id": "aiplatform.projects.locations.endpoints.predict",
                  "parameters": {
                    "endpoint": {
                      "description": "Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/endpoints/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "endpoint"
                  ],
                  "path": "v1beta1/{+endpoint}:predict",
                  "request": {
                    "$ref": "GoogleCloudAiplatformV1beta1PredictRequest"
                  },
                  "description": "Perform an online prediction."
                },
                "streamGenerateContent": {
                  "id": "aiplatform.projects.locations.endpoints.streamGenerateContent",
                  "parameterOrder": [
                    "model"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1beta1GenerateContentResponse"
                  },
                  "request": {
                    "$ref": "GoogleCloudAiplatformV1beta1GenerateContentRequest"
                  },
                  "path": "v1beta1/{+model}:streamGenerateContent",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/endpoints/{endpointsId}:streamGenerateContent",
                  "description": "Generate content with multimodal inputs with streaming support.",
                  "parameters": {
                    "model": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/endpoints/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the publisher model requested to serve the prediction. Format: `projects/{project}/locations/{location}/publishers/*/models/*`",
                      "required": true
                    }
                  }
                },
                "directPredict": {
                  "request": {
                    "$ref": "GoogleCloudAiplatformV1beta1DirectPredictRequest"
                  },
                  "description": "Perform an unary online prediction request to a gRPC model server for Vertex first-party products and frameworks.",
                  "httpMethod": "POST",
                  "path": "v1beta1/{+endpoint}:directPredict",
                  "id": "aiplatform.projects.locations.endpoints.directPredict",
                  "parameterOrder": [
                    "endpoint"
                  ],
                  "parameters": {
                    "endpoint": {
                      "type": "string",
                      "description": "Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/endpoints/[^/]+$"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/endpoints/{endpointsId}:directPredict",
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1beta1DirectPredictResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1beta1/{+parent}/endpoints",
                  "parameters": {
                    "endpointId": {
                      "location": "query",
                      "description": "Immutable. The ID to use for endpoint, which will become the final component of the endpoint resource name. If not provided, Vertex AI will generate a value for this ID. If the first character is a letter, this value may be up to 63 characters, and valid characters are `[a-z0-9-]`. The last character must be a letter or number. If the first character is a number, this value may be up to 9 characters, and valid characters are `[0-9]` with no leading zeros. When using HTTP/JSON, this field is populated based on a query string argument, such as `?endpoint_id=12345`. This is the fallback for fields that are not included in either the URI or the body.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name of the Location to create the Endpoint in. Format: `projects/{project}/locations/{location}`",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Creates an Endpoint.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudAiplatformV1beta1Endpoint"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "aiplatform.projects.locations.endpoints.create",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/endpoints"
                },
                "countTokens": {
                  "parameterOrder": [
                    "endpoint"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1beta1CountTokensResponse"
                  },
                  "request": {
                    "$ref": "GoogleCloudAiplatformV1beta1CountTokensRequest"
                  },
                  "httpMethod": "POST",
                  "id": "aiplatform.projects.locations.endpoints.countTokens",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Perform a token counting.",
                  "path": "v1beta1/{+endpoint}:countTokens",
                  "parameters": {
                    "endpoint": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/endpoints/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the Endpoint requested to perform token counting. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/endpoints/{endpointsId}:countTokens"
                },
                "explain": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1beta1ExplainResponse"
                  },
                  "request": {
                    "$ref": "GoogleCloudAiplatformV1beta1ExplainRequest"
                  },
                  "parameterOrder": [
                    "endpoint"
                  ],
                  "id": "aiplatform.projects.locations.endpoints.explain",
                  "httpMethod": "POST",
                  "parameters": {
                    "endpoint": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/endpoints/[^/]+$",
                      "description": "Required. The name of the Endpoint requested to serve the explanation. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/endpoints/{endpointsId}:explain",
                  "description": "Perform an online explanation. If deployed_model_id is specified, the corresponding DeployModel must have explanation_spec populated. If deployed_model_id is not specified, all DeployedModels must have explanation_spec populated.",
                  "path": "v1beta1/{+endpoint}:explain"
                },
                "directRawPredict": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+endpoint}:directRawPredict",
                  "parameterOrder": [
                    "endpoint"
                  ],
                  "httpMethod": "POST",
                  "id": "aiplatform.projects.locations.endpoints.directRawPredict",
                  "parameters": {
                    "endpoint": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/endpoints/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Perform an unary online prediction request to a gRPC model server for custom containers.",
                  "request": {
                    "$ref": "GoogleCloudAiplatformV1beta1DirectRawPredictRequest"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/endpoints/{endpointsId}:directRawPredict",
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1beta1DirectRawPredictResponse"
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/endpoints/{endpointsId}",
                  "description": "Gets an Endpoint.",
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1beta1Endpoint"
                  },
                  "id": "aiplatform.projects.locations.endpoints.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/endpoints/[^/]+$",
                      "description": "Required. The name of the Endpoint resource. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`"
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "undeployModel": {
                  "parameterOrder": [
                    "endpoint"
                  ],
                  "description": "Undeploys a Model from an Endpoint, removing a DeployedModel from it, and freeing all resources it's using.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/endpoints/{endpointsId}:undeployModel",
                  "path": "v1beta1/{+endpoint}:undeployModel",
                  "request": {
                    "$ref": "GoogleCloudAiplatformV1beta1UndeployModelRequest"
                  },
                  "parameters": {
                    "endpoint": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the Endpoint resource from which to undeploy a Model. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/endpoints/[^/]+$"
                    }
                  },
                  "httpMethod": "POST",
                  "id": "aiplatform.projects.locations.endpoints.undeployModel",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "setIamPolicy": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleIamV1SetIamPolicyRequest"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/endpoints/{endpointsId}:setIamPolicy",
                  "response": {
                    "$ref": "GoogleIamV1Policy"
                  },
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/endpoints/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+resource}:setIamPolicy",
                  "id": "aiplatform.projects.locations.endpoints.setIamPolicy",
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors."
                },
                "rawPredict": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "endpoint": {
                      "description": "Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/endpoints/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/endpoints/{endpointsId}:rawPredict",
                  "request": {
                    "$ref": "GoogleCloudAiplatformV1beta1RawPredictRequest"
                  },
                  "id": "aiplatform.projects.locations.endpoints.rawPredict",
                  "path": "v1beta1/{+endpoint}:rawPredict",
                  "parameterOrder": [
                    "endpoint"
                  ],
                  "description": "Perform an online prediction with an arbitrary HTTP payload. The response includes the following HTTP headers: * `X-Vertex-AI-Endpoint-Id`: ID of the Endpoint that served this prediction. * `X-Vertex-AI-Deployed-Model-Id`: ID of the Endpoint's DeployedModel that served this prediction.",
                  "response": {
                    "$ref": "GoogleApiHttpBody"
                  }
                },
                "mutateDeployedModel": {
                  "id": "aiplatform.projects.locations.endpoints.mutateDeployedModel",
                  "parameters": {
                    "endpoint": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/endpoints/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the Endpoint resource into which to mutate a DeployedModel. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudAiplatformV1beta1MutateDeployedModelRequest"
                  },
                  "parameterOrder": [
                    "endpoint"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/endpoints/{endpointsId}:mutateDeployedModel",
                  "path": "v1beta1/{+endpoint}:mutateDeployedModel",
                  "description": "Updates an existing deployed model. Updatable fields include `min_replica_count`, `max_replica_count`, `autoscaling_metric_specs`, `disable_container_logging` (v1 only), and `enable_container_logging` (v1beta1 only)."
                },
                "generateContent": {
                  "description": "Generate content with multimodal inputs.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1beta1GenerateContentResponse"
                  },
                  "parameterOrder": [
                    "model"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/endpoints/{endpointsId}:generateContent",
                  "parameters": {
                    "model": {
                      "location": "path",
                      "description": "Required. The name of the publisher model requested to serve the prediction. Format: `projects/{project}/locations/{location}/publishers/*/models/*`",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/endpoints/[^/]+$",
                      "type": "string"
                    }
                  },
                  "path": "v1beta1/{+model}:generateContent",
                  "id": "aiplatform.projects.locations.endpoints.generateContent",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudAiplatformV1beta1GenerateContentRequest"
                  }
                },
                "serverStreamingPredict": {
                  "id": "aiplatform.projects.locations.endpoints.serverStreamingPredict",
                  "parameters": {
                    "endpoint": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/endpoints/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                      "required": true
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/endpoints/{endpointsId}:serverStreamingPredict",
                  "request": {
                    "$ref": "GoogleCloudAiplatformV1beta1StreamingPredictRequest"
                  },
                  "path": "v1beta1/{+endpoint}:serverStreamingPredict",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1beta1StreamingPredictResponse"
                  },
                  "parameterOrder": [
                    "endpoint"
                  ],
                  "description": "Perform a server-side streaming online prediction request for Vertex LLM streaming."
                },
                "patch": {
                  "id": "aiplatform.projects.locations.endpoints.patch",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Required. The update mask applies to the resource. See google.protobuf.FieldMask."
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/endpoints/[^/]+$",
                      "description": "Output only. The resource name of the Endpoint.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudAiplatformV1beta1Endpoint"
                  },
                  "path": "v1beta1/{+name}",
                  "description": "Updates an Endpoint.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1beta1Endpoint"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/endpoints/{endpointsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "computeTokens": {
                  "parameterOrder": [
                    "endpoint"
                  ],
                  "request": {
                    "$ref": "GoogleCloudAiplatformV1beta1ComputeTokensRequest"
                  },
                  "id": "aiplatform.projects.locations.endpoints.computeTokens",
                  "description": "Return a list of tokens based on the input text.",
                  "path": "v1beta1/{+endpoint}:computeTokens",
                  "parameters": {
                    "endpoint": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/endpoints/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the Endpoint requested to get lists of tokens and token ids."
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1beta1ComputeTokensResponse"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/endpoints/{endpointsId}:computeTokens"
                },
                "testIamPermissions": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/endpoints/{endpointsId}:testIamPermissions",
                  "response": {
                    "$ref": "GoogleIamV1TestIamPermissionsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "id": "aiplatform.projects.locations.endpoints.testIamPermissions",
                  "parameters": {
                    "permissions": {
                      "type": "string",
                      "location": "query",
                      "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
                      "repeated": true
                    },
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/endpoints/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "path": "v1beta1/{+resource}:testIamPermissions"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/endpoints/{endpointsId}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the Endpoint resource to be deleted. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/endpoints/[^/]+$",
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE",
                  "id": "aiplatform.projects.locations.endpoints.delete",
                  "description": "Deletes an Endpoint.",
                  "path": "v1beta1/{+name}"
                }
              },
              "resources": {
                "operations": {
                  "methods": {
                    "delete": {
                      "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta1/{+name}",
                      "id": "aiplatform.projects.locations.endpoints.operations.delete",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/endpoints/{endpointsId}/operations/{operationsId}",
                      "parameters": {
                        "name": {
                          "description": "The name of the operation resource to be deleted.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/endpoints/[^/]+/operations/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      }
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "The name of the operation resource.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/endpoints/[^/]+/operations/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta1/{+name}",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/endpoints/{endpointsId}/operations/{operationsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "id": "aiplatform.projects.locations.endpoints.operations.get"
                    },
                    "cancel": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "The name of the operation resource to be cancelled.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/endpoints/[^/]+/operations/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "httpMethod": "POST",
                      "id": "aiplatform.projects.locations.endpoints.operations.cancel",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/endpoints/{endpointsId}/operations/{operationsId}:cancel",
                      "path": "v1beta1/{+name}:cancel",
                      "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+name}/operations",
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      },
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "The standard list page token."
                        },
                        "pageSize": {
                          "description": "The standard list page size.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/endpoints/[^/]+$",
                          "required": true,
                          "description": "The name of the operation's parent resource.",
                          "type": "string",
                          "location": "path"
                        },
                        "filter": {
                          "type": "string",
                          "description": "The standard list filter.",
                          "location": "query"
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/endpoints/{endpointsId}/operations",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "id": "aiplatform.projects.locations.endpoints.operations.list",
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                    },
                    "wait": {
                      "httpMethod": "POST",
                      "id": "aiplatform.projects.locations.endpoints.operations.wait",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "The name of the operation resource to wait on.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/endpoints/[^/]+/operations/[^/]+$"
                        },
                        "timeout": {
                          "location": "query",
                          "type": "string",
                          "format": "google-duration",
                          "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used."
                        }
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/endpoints/{endpointsId}/operations/{operationsId}:wait",
                      "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                      "path": "v1beta1/{+name}:wait",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              }
            },
            "batchPredictionJobs": {
              "methods": {
                "cancel": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the BatchPredictionJob to cancel. Format: `projects/{project}/locations/{location}/batchPredictionJobs/{batch_prediction_job}`",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/batchPredictionJobs/[^/]+$"
                    }
                  },
                  "id": "aiplatform.projects.locations.batchPredictionJobs.cancel",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/batchPredictionJobs/{batchPredictionJobsId}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Cancels a BatchPredictionJob. Starts asynchronous cancellation on the BatchPredictionJob. The server makes the best effort to cancel the job, but success is not guaranteed. Clients can use JobService.GetBatchPredictionJob or other methods to check whether the cancellation succeeded or whether the job completed despite cancellation. On a successful cancellation, the BatchPredictionJob is not deleted;instead its BatchPredictionJob.state is set to `CANCELLED`. Any files already outputted by the job are not deleted.",
                  "path": "v1beta1/{+name}:cancel",
                  "request": {
                    "$ref": "GoogleCloudAiplatformV1beta1CancelBatchPredictionJobRequest"
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "id": "aiplatform.projects.locations.batchPredictionJobs.get",
                  "description": "Gets a BatchPredictionJob",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/batchPredictionJobs/{batchPredictionJobsId}",
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1beta1BatchPredictionJob"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the BatchPredictionJob resource. Format: `projects/{project}/locations/{location}/batchPredictionJobs/{batch_prediction_job}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/batchPredictionJobs/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  }
                },
                "list": {
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1beta1ListBatchPredictionJobsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer"
                    },
                    "readMask": {
                      "type": "string",
                      "description": "Mask specifying which fields to read.",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "The standard list page token. Typically obtained via ListBatchPredictionJobsResponse.next_page_token of the previous JobService.ListBatchPredictionJobs call.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "description": "The standard list filter. Supported fields: * `display_name` supports `=`, `!=` comparisons, and `:` wildcard. * `model_display_name` supports `=`, `!=` comparisons. * `state` supports `=`, `!=` comparisons. * `create_time` supports `=`, `!=`,`\u003c`, `\u003c=`,`\u003e`, `\u003e=` comparisons. `create_time` must be in RFC 3339 format. * `labels` supports general map functions that is: `labels.key=value` - key:value equality `labels.key:* - key existence Some examples of using the filter are: * `state=\"JOB_STATE_SUCCEEDED\" AND display_name:\"my_job_*\"` * `state!=\"JOB_STATE_FAILED\" OR display_name=\"my_job\"` * `NOT display_name=\"my_job\"` * `create_time\u003e\"2021-05-18T00:00:00Z\"` * `labels.keyA=valueA` * `labels.keyB:*`",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The resource name of the Location to list the BatchPredictionJobs from. Format: `projects/{project}/locations/{location}`"
                    }
                  },
                  "id": "aiplatform.projects.locations.batchPredictionJobs.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/batchPredictionJobs",
                  "description": "Lists BatchPredictionJobs in a Location.",
                  "path": "v1beta1/{+parent}/batchPredictionJobs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET"
                },
                "delete": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/batchPredictionJobs/{batchPredictionJobsId}",
                  "httpMethod": "DELETE",
                  "path": "v1beta1/{+name}",
                  "id": "aiplatform.projects.locations.batchPredictionJobs.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the BatchPredictionJob resource to be deleted. Format: `projects/{project}/locations/{location}/batchPredictionJobs/{batch_prediction_job}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/batchPredictionJobs/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a BatchPredictionJob. Can only be called on jobs that already finished.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "create": {
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1beta1BatchPredictionJob"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/batchPredictionJobs",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The resource name of the Location to create the BatchPredictionJob in. Format: `projects/{project}/locations/{location}`",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "aiplatform.projects.locations.batchPredictionJobs.create",
                  "path": "v1beta1/{+parent}/batchPredictionJobs",
                  "description": "Creates a BatchPredictionJob. A BatchPredictionJob once created will right away be attempted to start.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudAiplatformV1beta1BatchPredictionJob"
                  }
                }
              }
            },
            "ragCorpora": {
              "resources": {
                "ragFiles": {
                  "resources": {
                    "operations": {
                      "methods": {
                        "wait": {
                          "httpMethod": "POST",
                          "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/ragCorpora/{ragCorporaId}/ragFiles/{ragFilesId}/operations/{operationsId}:wait",
                          "path": "v1beta1/{+name}:wait",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "aiplatform.projects.locations.ragCorpora.ragFiles.operations.wait",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "location": "path",
                              "description": "The name of the operation resource to wait on.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/ragCorpora/[^/]+/ragFiles/[^/]+/operations/[^/]+$",
                              "required": true
                            },
                            "timeout": {
                              "type": "string",
                              "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                              "location": "query",
                              "format": "google-duration"
                            }
                          },
                          "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          }
                        },
                        "cancel": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1beta1/{+name}:cancel",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "description": "The name of the operation resource to be cancelled.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/ragCorpora/[^/]+/ragFiles/[^/]+/operations/[^/]+$",
                              "required": true,
                              "location": "path"
                            }
                          },
                          "parameterOrder": [
[...]
