{
  "protocol": "rest",
  "id": "aiplatform:v1",
  "discoveryVersion": "v1",
  "endpoints": [
    {
      "endpointUrl": "https://asia-east1-aiplatform.googleapis.com/",
      "location": "asia-east1",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-east2-aiplatform.googleapis.com/",
      "location": "asia-east2"
    },
    {
      "location": "asia-northeast1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-northeast1-aiplatform.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-northeast2-aiplatform.googleapis.com/",
      "location": "asia-northeast2"
    },
    {
      "endpointUrl": "https://asia-northeast3-aiplatform.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-south1-aiplatform.googleapis.com/",
      "location": "asia-south1"
    },
    {
      "endpointUrl": "https://asia-southeast1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "asia-southeast1"
    },
    {
      "endpointUrl": "https://asia-southeast2-aiplatform.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://australia-southeast1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "australia-southeast1"
    },
    {
      "endpointUrl": "https://australia-southeast2-aiplatform.googleapis.com/",
      "location": "australia-southeast2",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-central2-aiplatform.googleapis.com/",
      "location": "europe-central2"
    },
    {
      "endpointUrl": "https://europe-north1-aiplatform.googleapis.com/",
      "location": "europe-north1",
      "description": "Locational Endpoint"
    },
    {
      "location": "europe-southwest1",
      "endpointUrl": "https://europe-southwest1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-west1-aiplatform.googleapis.com/",
      "location": "europe-west1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-west2-aiplatform.googleapis.com/",
      "location": "europe-west2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-west3-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-west3"
    },
    {
      "location": "europe-west4",
      "endpointUrl": "https://europe-west4-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west6-aiplatform.googleapis.com/",
      "location": "europe-west6"
    },
    {
      "location": "europe-west8",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west8-aiplatform.googleapis.com/"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://europe-west9-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "me-west1",
      "endpointUrl": "https://me-west1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "northamerica-northeast1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://northamerica-northeast1-aiplatform.googleapis.com/"
    },
    {
      "location": "northamerica-northeast2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://northamerica-northeast2-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://southamerica-east1-aiplatform.googleapis.com/",
      "location": "southamerica-east1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://southamerica-west1-aiplatform.googleapis.com/",
      "location": "southamerica-west1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-central1-aiplatform.googleapis.com/",
      "location": "us-central1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-central2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "us-central2"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://us-east1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://us-east4-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-south1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "us-south1"
    },
    {
      "endpointUrl": "https://us-west1-aiplatform.googleapis.com/",
      "location": "us-west1",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "location": "us-west2",
      "endpointUrl": "https://us-west2-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://us-west3-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "us-west3"
    },
    {
      "location": "us-west4",
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-west4-aiplatform.googleapis.com/"
    }
  ],
  "description": "Train high-quality custom machine learning models with minimal machine learning expertise and effort.",
  "basePath": "",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "type": "string",
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "title": "Vertex AI API",
  "canonicalName": "Aiplatform",
  "mtlsRootUrl": "https://aiplatform.mtls.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "kind": "discovery#restDescription",
  "baseUrl": "https://aiplatform.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "featureOnlineStores": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "aiplatform.projects.locations.featureOnlineStores.get",
                  "description": "Gets details of a single FeatureOnlineStore.",
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1FeatureOnlineStore"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/featureOnlineStores/{featureOnlineStoresId}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the FeatureOnlineStore resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/featureOnlineStores/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}"
                },
                "create": {
                  "request": {
                    "$ref": "GoogleCloudAiplatformV1FeatureOnlineStore"
                  },
                  "parameters": {
                    "featureOnlineStoreId": {
                      "description": "Required. The ID to use for this FeatureOnlineStore, which will become the final component of the FeatureOnlineStore's resource name. This value may be up to 60 characters, and valid characters are `[a-z0-9_]`. The first character cannot be a number. The value must be unique within the project and location.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name of the Location to create FeatureOnlineStores. Format: `projects/{project}/locations/{location}`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "aiplatform.projects.locations.featureOnlineStores.create",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/featureOnlineStores",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Creates a new FeatureOnlineStore in a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/featureOnlineStores"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/featureOnlineStores",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists FeatureOnlineStores in a given project and location.",
                  "id": "aiplatform.projects.locations.featureOnlineStores.list",
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1ListFeatureOnlineStoresResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/featureOnlineStores",
                  "parameters": {
                    "orderBy": {
                      "description": "A comma-separated list of fields to order by, sorted in ascending order. Use \"desc\" after a field name for descending. Supported Fields: * `create_time` * `update_time`",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name of the Location to list FeatureOnlineStores. Format: `projects/{project}/locations/{location}`"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of FeatureOnlineStores to return. The service may return fewer than this value. If unspecified, at most 100 FeatureOnlineStores will be returned. The maximum value is 100; any value greater than 100 will be coerced to 100.",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous FeatureOnlineStoreAdminService.ListFeatureOnlineStores call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to FeatureOnlineStoreAdminService.ListFeatureOnlineStores must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Lists the FeatureOnlineStores that match the filter expression. The following fields are supported: * `create_time`: Supports `=`, `!=`, `\u003c`, `\u003e`, `\u003c=`, and `\u003e=` comparisons. Values must be in RFC 3339 format. * `update_time`: Supports `=`, `!=`, `\u003c`, `\u003e`, `\u003c=`, and `\u003e=` comparisons. Values must be in RFC 3339 format. * `labels`: Supports key-value equality and key presence. Examples: * `create_time \u003e \"2020-01-01\" OR update_time \u003e \"2020-01-01\"` FeatureOnlineStores created or updated after 2020-01-01. * `labels.env = \"prod\"` FeatureOnlineStores with label \"env\" set to \"prod\"."
                    }
                  },
                  "httpMethod": "GET"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the FeatureOnlineStore to be deleted. Format: `projects/{project}/locations/{location}/featureOnlineStores/{feature_online_store}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/featureOnlineStores/[^/]+$"
                    },
                    "force": {
                      "description": "If set to true, any FeatureViews and Features for this FeatureOnlineStore will also be deleted. (Otherwise, the request will only work if the FeatureOnlineStore has no FeatureViews.)",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/featureOnlineStores/{featureOnlineStoresId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "id": "aiplatform.projects.locations.featureOnlineStores.delete",
                  "description": "Deletes a single FeatureOnlineStore. The FeatureOnlineStore must not contain any FeatureViews.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "patch": {
                  "parameters": {
                    "updateMask": {
                      "description": "Field mask is used to specify the fields to be overwritten in the FeatureOnlineStore resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then only the non-empty fields present in the request will be overwritten. Set the update_mask to `*` to override all fields. Updatable fields: * `big_query_source` * `bigtable` * `labels` * `sync_config`",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "description": "Identifier. Name of the FeatureOnlineStore. Format: `projects/{project}/locations/{location}/featureOnlineStores/{featureOnlineStore}`",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/featureOnlineStores/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudAiplatformV1FeatureOnlineStore"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates the parameters of a single FeatureOnlineStore.",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+name}",
                  "id": "aiplatform.projects.locations.featureOnlineStores.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/featureOnlineStores/{featureOnlineStoresId}"
                }
              },
              "resources": {
                "operations": {
                  "methods": {
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/featureOnlineStores/{featureOnlineStoresId}/operations/{operationsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/featureOnlineStores/[^/]+/operations/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "The name of the operation resource to be deleted."
                        }
                      },
                      "id": "aiplatform.projects.locations.featureOnlineStores.operations.delete",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      }
                    },
                    "wait": {
                      "id": "aiplatform.projects.locations.featureOnlineStores.operations.wait",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "timeout": {
                          "type": "string",
                          "format": "google-duration",
                          "location": "query",
                          "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used."
                        },
                        "name": {
                          "description": "The name of the operation resource to wait on.",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/featureOnlineStores/[^/]+/operations/[^/]+$"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/featureOnlineStores/{featureOnlineStoresId}/operations/{operationsId}:wait",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                      "httpMethod": "POST",
                      "path": "v1/{+name}:wait",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    },
                    "get": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "aiplatform.projects.locations.featureOnlineStores.operations.get",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/featureOnlineStores/[^/]+/operations/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "The name of the operation resource."
                        }
                      },
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/featureOnlineStores/{featureOnlineStoresId}/operations/{operationsId}"
                    },
                    "listWait": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "aiplatform.projects.locations.featureOnlineStores.operations.listWait",
                      "path": "v1/{+name}:wait",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/featureOnlineStores/{featureOnlineStoresId}/operations/{operationsId}:wait",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      },
                      "httpMethod": "GET",
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "parameters": {
                        "filter": {
                          "type": "string",
                          "description": "The standard list filter.",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "The standard list page size.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/featureOnlineStores/[^/]+/operations/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "The name of the operation's parent resource."
                        },
                        "pageToken": {
                          "description": "The standard list page token.",
                          "type": "string",
                          "location": "query"
                        }
                      }
                    }
                  }
                },
                "featureViews": {
                  "resources": {
                    "featureViewSyncs": {
                      "methods": {
                        "get": {
                          "response": {
                            "$ref": "GoogleCloudAiplatformV1FeatureViewSync"
                          },
                          "description": "Gets details of a single FeatureViewSync.",
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/featureOnlineStores/{featureOnlineStoresId}/featureViews/{featureViewsId}/featureViewSyncs/{featureViewSyncsId}",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "required": true,
                              "description": "Required. The name of the FeatureViewSync resource. Format: `projects/{project}/locations/{location}/featureOnlineStores/{feature_online_store}/featureViews/{feature_view}/featureViewSyncs/{feature_view_sync}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/featureOnlineStores/[^/]+/featureViews/[^/]+/featureViewSyncs/[^/]+$",
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "aiplatform.projects.locations.featureOnlineStores.featureViews.featureViewSyncs.get",
                          "path": "v1/{+name}"
                        },
                        "list": {
                          "parameters": {
                            "orderBy": {
                              "location": "query",
                              "description": "A comma-separated list of fields to order by, sorted in ascending order. Use \"desc\" after a field name for descending. Supported fields: * `create_time`",
                              "type": "string"
                            },
                            "pageSize": {
                              "location": "query",
                              "description": "The maximum number of FeatureViewSyncs to return. The service may return fewer than this value. If unspecified, at most 1000 FeatureViewSyncs will be returned. The maximum value is 1000; any value greater than 1000 will be coerced to 1000.",
                              "type": "integer",
                              "format": "int32"
                            },
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/featureOnlineStores/[^/]+/featureViews/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "Required. The resource name of the FeatureView to list FeatureViewSyncs. Format: `projects/{project}/locations/{location}/featureOnlineStores/{feature_online_store}/featureViews/{feature_view}`"
                            },
                            "pageToken": {
                              "description": "A page token, received from a previous FeatureOnlineStoreAdminService.ListFeatureViewSyncs call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to FeatureOnlineStoreAdminService.ListFeatureViewSyncs must match the call that provided the page token.",
                              "location": "query",
                              "type": "string"
                            },
                            "filter": {
                              "type": "string",
                              "description": "Lists the FeatureViewSyncs that match the filter expression. The following filters are supported: * `create_time`: Supports `=`, `!=`, `\u003c`, `\u003e`, `\u003e=`, and `\u003c=` comparisons. Values must be in RFC 3339 format. Examples: * `create_time \u003e \\\"2020-01-31T15:30:00.000000Z\\\"` --\u003e FeatureViewSyncs created after 2020-01-31T15:30:00.000000Z.",
                              "location": "query"
                            }
                          },
                          "id": "aiplatform.projects.locations.featureOnlineStores.featureViews.featureViewSyncs.list",
                          "path": "v1/{+parent}/featureViewSyncs",
                          "response": {
                            "$ref": "GoogleCloudAiplatformV1ListFeatureViewSyncsResponse"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/featureOnlineStores/{featureOnlineStoresId}/featureViews/{featureViewsId}/featureViewSyncs",
                          "httpMethod": "GET",
                          "description": "Lists FeatureViewSyncs in a given FeatureView.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "parent"
                          ]
                        }
                      }
                    },
                    "operations": {
                      "methods": {
                        "get": {
                          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "path": "v1/{+name}",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/featureOnlineStores/{featureOnlineStoresId}/featureViews/{featureViewsId}/operations/{operationsId}",
                          "httpMethod": "GET",
                          "id": "aiplatform.projects.locations.featureOnlineStores.featureViews.operations.get",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "required": true,
                              "description": "The name of the operation resource.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/featureOnlineStores/[^/]+/featureViews/[^/]+/operations/[^/]+$",
                              "location": "path"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "listWait": {
                          "response": {
                            "$ref": "GoogleLongrunningListOperationsResponse"
                          },
                          "id": "aiplatform.projects.locations.featureOnlineStores.featureViews.operations.listWait",
                          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                          "path": "v1/{+name}:wait",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "parameters": {
                            "pageToken": {
                              "description": "The standard list page token.",
                              "location": "query",
                              "type": "string"
                            },
                            "name": {
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/featureOnlineStores/[^/]+/featureViews/[^/]+/operations/[^/]+$",
                              "description": "The name of the operation's parent resource.",
                              "location": "path"
                            },
                            "filter": {
                              "type": "string",
                              "location": "query",
                              "description": "The standard list filter."
                            },
                            "pageSize": {
                              "type": "integer",
                              "description": "The standard list page size.",
                              "location": "query",
                              "format": "int32"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/featureOnlineStores/{featureOnlineStoresId}/featureViews/{featureViewsId}/operations/{operationsId}:wait",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "wait": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                          "httpMethod": "POST",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/featureOnlineStores/{featureOnlineStoresId}/featureViews/{featureViewsId}/operations/{operationsId}:wait",
                          "id": "aiplatform.projects.locations.featureOnlineStores.featureViews.operations.wait",
                          "path": "v1/{+name}:wait",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "parameters": {
                            "name": {
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/featureOnlineStores/[^/]+/featureViews/[^/]+/operations/[^/]+$",
                              "description": "The name of the operation resource to wait on.",
                              "type": "string"
                            },
                            "timeout": {
                              "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                              "location": "query",
                              "type": "string",
                              "format": "google-duration"
                            }
                          }
                        },
                        "delete": {
                          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                          "httpMethod": "DELETE",
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1/{+name}",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/featureOnlineStores/{featureOnlineStoresId}/featureViews/{featureViewsId}/operations/{operationsId}",
                          "id": "aiplatform.projects.locations.featureOnlineStores.featureViews.operations.delete",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/featureOnlineStores/[^/]+/featureViews/[^/]+/operations/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "The name of the operation resource to be deleted."
                            }
                          },
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          }
                        }
                      }
                    }
                  },
                  "methods": {
                    "searchNearestEntities": {
                      "path": "v1/{+featureView}:searchNearestEntities",
                      "description": "Search the nearest entities under a FeatureView. Search only works for indexable feature view; if a feature view isn't indexable, returns Invalid argument response.",
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1SearchNearestEntitiesResponse"
                      },
                      "parameterOrder": [
                        "featureView"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudAiplatformV1SearchNearestEntitiesRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "aiplatform.projects.locations.featureOnlineStores.featureViews.searchNearestEntities",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/featureOnlineStores/{featureOnlineStoresId}/featureViews/{featureViewsId}:searchNearestEntities",
                      "parameters": {
                        "featureView": {
                          "location": "path",
                          "description": "Required. FeatureView resource format `projects/{project}/locations/{location}/featureOnlineStores/{featureOnlineStore}/featureViews/{featureView}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/featureOnlineStores/[^/]+/featureViews/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      }
                    },
                    "sync": {
                      "id": "aiplatform.projects.locations.featureOnlineStores.featureViews.sync",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "featureView": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. Format: `projects/{project}/locations/{location}/featureOnlineStores/{feature_online_store}/featureViews/{feature_view}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/featureOnlineStores/[^/]+/featureViews/[^/]+$",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1SyncFeatureViewResponse"
                      },
                      "path": "v1/{+featureView}:sync",
                      "request": {
                        "$ref": "GoogleCloudAiplatformV1SyncFeatureViewRequest"
                      },
                      "parameterOrder": [
                        "featureView"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/featureOnlineStores/{featureOnlineStoresId}/featureViews/{featureViewsId}:sync",
                      "httpMethod": "POST",
                      "description": "Triggers on-demand sync for the FeatureView."
                    },
                    "create": {
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/featureOnlineStores/[^/]+$",
                          "description": "Required. The resource name of the FeatureOnlineStore to create FeatureViews. Format: `projects/{project}/locations/{location}/featureOnlineStores/{feature_online_store}`",
                          "required": true,
                          "location": "path"
                        },
                        "featureViewId": {
                          "description": "Required. The ID to use for the FeatureView, which will become the final component of the FeatureView's resource name. This value may be up to 60 characters, and valid characters are `[a-z0-9_]`. The first character cannot be a number. The value must be unique within a FeatureOnlineStore.",
                          "location": "query",
                          "type": "string"
                        },
                        "runSyncImmediately": {
                          "type": "boolean",
                          "location": "query",
                          "description": "Immutable. If set to true, one on demand sync will be run immediately, regardless whether the FeatureView.sync_config is configured or not."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GoogleCloudAiplatformV1FeatureView"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates a new FeatureView in a given FeatureOnlineStore.",
                      "id": "aiplatform.projects.locations.featureOnlineStores.featureViews.create",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/featureOnlineStores/{featureOnlineStoresId}/featureViews",
                      "path": "v1/{+parent}/featureViews",
                      "httpMethod": "POST"
                    },
                    "fetchFeatureValues": {
                      "parameters": {
                        "featureView": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/featureOnlineStores/[^/]+/featureViews/[^/]+$",
                          "required": true,
                          "description": "Required. FeatureView resource format `projects/{project}/locations/{location}/featureOnlineStores/{featureOnlineStore}/featureViews/{featureView}`",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudAiplatformV1FetchFeatureValuesRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Fetch feature values under a FeatureView.",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "featureView"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/featureOnlineStores/{featureOnlineStoresId}/featureViews/{featureViewsId}:fetchFeatureValues",
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1FetchFeatureValuesResponse"
                      },
                      "id": "aiplatform.projects.locations.featureOnlineStores.featureViews.fetchFeatureValues",
                      "path": "v1/{+featureView}:fetchFeatureValues"
                    },
                    "get": {
                      "description": "Gets details of a single FeatureView.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/featureOnlineStores/[^/]+/featureViews/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The name of the FeatureView resource. Format: `projects/{project}/locations/{location}/featureOnlineStores/{feature_online_store}/featureViews/{feature_view}`"
                        }
                      },
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/featureOnlineStores/{featureOnlineStoresId}/featureViews/{featureViewsId}",
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1FeatureView"
                      },
                      "httpMethod": "GET",
                      "id": "aiplatform.projects.locations.featureOnlineStores.featureViews.get"
                    },
                    "patch": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "PATCH",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask",
                          "description": "Field mask is used to specify the fields to be overwritten in the FeatureView resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then only the non-empty fields present in the request will be overwritten. Set the update_mask to `*` to override all fields. Updatable fields: * `labels` * `serviceAgentType`"
                        },
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/featureOnlineStores/[^/]+/featureViews/[^/]+$",
                          "description": "Identifier. Name of the FeatureView. Format: `projects/{project}/locations/{location}/featureOnlineStores/{feature_online_store}/featureViews/{feature_view}`",
                          "location": "path",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudAiplatformV1FeatureView"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/featureOnlineStores/{featureOnlineStoresId}/featureViews/{featureViewsId}",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "Updates the parameters of a single FeatureView.",
                      "id": "aiplatform.projects.locations.featureOnlineStores.featureViews.patch",
                      "path": "v1/{+name}"
                    },
                    "list": {
                      "id": "aiplatform.projects.locations.featureOnlineStores.featureViews.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists FeatureViews in a given FeatureOnlineStore.",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1ListFeatureViewsResponse"
                      },
                      "path": "v1/{+parent}/featureViews",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/featureOnlineStores/{featureOnlineStoresId}/featureViews",
                      "parameters": {
                        "pageToken": {
                          "description": "A page token, received from a previous FeatureOnlineStoreAdminService.ListFeatureViews call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to FeatureOnlineStoreAdminService.ListFeatureViews must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "orderBy": {
                          "type": "string",
                          "location": "query",
                          "description": "A comma-separated list of fields to order by, sorted in ascending order. Use \"desc\" after a field name for descending. Supported fields: * `feature_view_id` * `create_time` * `update_time`"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "The maximum number of FeatureViews to return. The service may return fewer than this value. If unspecified, at most 1000 FeatureViews will be returned. The maximum value is 1000; any value greater than 1000 will be coerced to 1000.",
                          "location": "query",
                          "type": "integer"
                        },
                        "parent": {
                          "location": "path",
                          "description": "Required. The resource name of the FeatureOnlineStore to list FeatureViews. Format: `projects/{project}/locations/{location}/featureOnlineStores/{feature_online_store}`",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/featureOnlineStores/[^/]+$"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Lists the FeatureViews that match the filter expression. The following filters are supported: * `create_time`: Supports `=`, `!=`, `\u003c`, `\u003e`, `\u003e=`, and `\u003c=` comparisons. Values must be in RFC 3339 format. * `update_time`: Supports `=`, `!=`, `\u003c`, `\u003e`, `\u003e=`, and `\u003c=` comparisons. Values must be in RFC 3339 format. * `labels`: Supports key-value equality as well as key presence. Examples: * `create_time \u003e \\\"2020-01-31T15:30:00.000000Z\\\" OR update_time \u003e \\\"2020-01-31T15:30:00.000000Z\\\"` --\u003e FeatureViews created or updated after 2020-01-31T15:30:00.000000Z. * `labels.active = yes AND labels.env = prod` --\u003e FeatureViews having both (active: yes) and (env: prod) labels. * `labels.env: *` --\u003e Any FeatureView which has a label with 'env' as the key."
                        }
                      }
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes a single FeatureView.",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "httpMethod": "DELETE",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/featureOnlineStores/{featureOnlineStoresId}/featureViews/{featureViewsId}",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the FeatureView to be deleted. Format: `projects/{project}/locations/{location}/featureOnlineStores/{feature_online_store}/featureViews/{feature_view}`",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/featureOnlineStores/[^/]+/featureViews/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "path": "v1/{+name}",
                      "id": "aiplatform.projects.locations.featureOnlineStores.featureViews.delete",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              }
            },
            "publishers": {
              "resources": {
                "models": {
                  "methods": {
                    "computeTokens": {
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1ComputeTokensResponse"
                      },
                      "id": "aiplatform.projects.locations.publishers.models.computeTokens",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "endpoint"
                      ],
                      "description": "Return a list of tokens based on the input text.",
                      "httpMethod": "POST",
                      "path": "v1/{+endpoint}:computeTokens",
                      "parameters": {
                        "endpoint": {
                          "description": "Required. The name of the Endpoint requested to get lists of tokens and token ids.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/publishers/[^/]+/models/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/publishers/{publishersId}/models/{modelsId}:computeTokens",
                      "request": {
                        "$ref": "GoogleCloudAiplatformV1ComputeTokensRequest"
                      }
                    },
                    "streamRawPredict": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "description": "Perform a streaming online prediction with an arbitrary HTTP payload.",
                      "response": {
                        "$ref": "GoogleApiHttpBody"
                      },
                      "path": "v1/{+endpoint}:streamRawPredict",
                      "parameterOrder": [
                        "endpoint"
                      ],
                      "id": "aiplatform.projects.locations.publishers.models.streamRawPredict",
                      "parameters": {
                        "endpoint": {
                          "description": "Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/publishers/[^/]+/models/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/publishers/{publishersId}/models/{modelsId}:streamRawPredict",
                      "request": {
                        "$ref": "GoogleCloudAiplatformV1StreamRawPredictRequest"
                      }
                    },
                    "rawPredict": {
                      "path": "v1/{+endpoint}:rawPredict",
                      "httpMethod": "POST",
                      "parameters": {
                        "endpoint": {
                          "location": "path",
                          "description": "Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/publishers/[^/]+/models/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "endpoint"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "aiplatform.projects.locations.publishers.models.rawPredict",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/publishers/{publishersId}/models/{modelsId}:rawPredict",
                      "response": {
                        "$ref": "GoogleApiHttpBody"
                      },
                      "description": "Perform an online prediction with an arbitrary HTTP payload. The response includes the following HTTP headers: * `X-Vertex-AI-Endpoint-Id`: ID of the Endpoint that served this prediction. * `X-Vertex-AI-Deployed-Model-Id`: ID of the Endpoint's DeployedModel that served this prediction.",
                      "request": {
                        "$ref": "GoogleCloudAiplatformV1RawPredictRequest"
                      }
                    },
                    "predict": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "aiplatform.projects.locations.publishers.models.predict",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1PredictResponse"
                      },
                      "request": {
                        "$ref": "GoogleCloudAiplatformV1PredictRequest"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/publishers/{publishersId}/models/{modelsId}:predict",
                      "path": "v1/{+endpoint}:predict",
                      "description": "Perform an online prediction.",
                      "parameterOrder": [
                        "endpoint"
                      ],
                      "parameters": {
                        "endpoint": {
                          "description": "Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/publishers/[^/]+/models/[^/]+$",
                          "type": "string"
                        }
                      }
                    },
                    "generateContent": {
                      "parameters": {
                        "model": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/publishers/[^/]+/models/[^/]+$",
                          "description": "Required. The name of the publisher model requested to serve the prediction. Format: `projects/{project}/locations/{location}/publishers/*/models/*`",
                          "type": "string"
                        }
                      },
                      "description": "Generate content with multimodal inputs.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/publishers/{publishersId}/models/{modelsId}:generateContent",
                      "parameterOrder": [
                        "model"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "path": "v1/{+model}:generateContent",
                      "id": "aiplatform.projects.locations.publishers.models.generateContent",
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1GenerateContentResponse"
                      },
                      "request": {
                        "$ref": "GoogleCloudAiplatformV1GenerateContentRequest"
                      }
                    },
                    "countTokens": {
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1CountTokensResponse"
                      },
                      "request": {
                        "$ref": "GoogleCloudAiplatformV1CountTokensRequest"
                      },
                      "description": "Perform a token counting.",
                      "parameterOrder": [
                        "endpoint"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/publishers/{publishersId}/models/{modelsId}:countTokens",
                      "id": "aiplatform.projects.locations.publishers.models.countTokens",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "path": "v1/{+endpoint}:countTokens",
                      "parameters": {
                        "endpoint": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the Endpoint requested to perform token counting. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/publishers/[^/]+/models/[^/]+$"
                        }
                      }
                    },
                    "streamGenerateContent": {
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1GenerateContentResponse"
                      },
                      "parameters": {
                        "model": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/publishers/[^/]+/models/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the publisher model requested to serve the prediction. Format: `projects/{project}/locations/{location}/publishers/*/models/*`"
                        }
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "model"
                      ],
                      "path": "v1/{+model}:streamGenerateContent",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GoogleCloudAiplatformV1GenerateContentRequest"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/publishers/{publishersId}/models/{modelsId}:streamGenerateContent",
                      "id": "aiplatform.projects.locations.publishers.models.streamGenerateContent",
                      "description": "Generate content with multimodal inputs with streaming support."
                    },
                    "serverStreamingPredict": {
                      "parameterOrder": [
                        "endpoint"
                      ],
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1StreamingPredictResponse"
                      },
                      "request": {
                        "$ref": "GoogleCloudAiplatformV1StreamingPredictRequest"
                      },
                      "parameters": {
                        "endpoint": {
                          "description": "Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/publishers/[^/]+/models/[^/]+$"
                        }
                      },
                      "path": "v1/{+endpoint}:serverStreamingPredict",
                      "description": "Perform a server-side streaming online prediction request for Vertex LLM streaming.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/publishers/{publishersId}/models/{modelsId}:serverStreamingPredict",
                      "httpMethod": "POST",
                      "id": "aiplatform.projects.locations.publishers.models.serverStreamingPredict",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            },
            "featureGroups": {
              "resources": {
                "operations": {
                  "methods": {
                    "delete": {
                      "id": "aiplatform.projects.locations.featureGroups.operations.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/featureGroups/{featureGroupsId}/operations/{operationsId}",
                      "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/featureGroups/[^/]+/operations/[^/]+$",
                          "description": "The name of the operation resource to be deleted.",
                          "type": "string"
                        }
                      }
                    },
                    "listWait": {
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/featureGroups/{featureGroupsId}/operations/{operationsId}:wait",
                      "id": "aiplatform.projects.locations.featureGroups.operations.listWait",
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      },
                      "path": "v1/{+name}:wait",
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "The standard list filter."
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "The standard list page token."
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer",
                          "description": "The standard list page size."
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/featureGroups/[^/]+/operations/[^/]+$",
                          "description": "The name of the operation's parent resource.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      }
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/featureGroups/[^/]+/operations/[^/]+$",
                          "description": "The name of the operation resource."
                        }
                      },
                      "id": "aiplatform.projects.locations.featureGroups.operations.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/featureGroups/{featureGroupsId}/operations/{operationsId}",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                    },
                    "wait": {
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "aiplatform.projects.locations.featureGroups.operations.wait",
                      "parameters": {
                        "timeout": {
                          "format": "google-duration",
                          "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                          "type": "string",
                          "location": "query"
                        },
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/featureGroups/[^/]+/operations/[^/]+$",
                          "description": "The name of the operation resource to wait on.",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/featureGroups/{featureGroupsId}/operations/{operationsId}:wait",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}:wait",
                      "httpMethod": "POST"
                    }
                  }
                },
                "features": {
                  "resources": {
                    "operations": {
                      "methods": {
                        "get": {
                          "parameters": {
                            "name": {
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/featureGroups/[^/]+/features/[^/]+/operations/[^/]+$",
                              "location": "path",
                              "description": "The name of the operation resource."
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/featureGroups/{featureGroupsId}/features/{featuresId}/operations/{operationsId}",
                          "id": "aiplatform.projects.locations.featureGroups.features.operations.get",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "path": "v1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                        },
                        "wait": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "path": "v1/{+name}:wait",
                          "id": "aiplatform.projects.locations.featureGroups.features.operations.wait",
                          "httpMethod": "POST",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/featureGroups/[^/]+/features/[^/]+/operations/[^/]+$",
                              "required": true,
                              "description": "The name of the operation resource to wait on."
                            },
                            "timeout": {
                              "format": "google-duration",
                              "type": "string",
                              "location": "query",
                              "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used."
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/featureGroups/{featureGroupsId}/features/{featuresId}/operations/{operationsId}:wait",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "delete": {
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/featureGroups/[^/]+/features/[^/]+/operations/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "The name of the operation resource to be deleted."
                            }
                          },
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "DELETE",
                          "id": "aiplatform.projects.locations.featureGroups.features.operations.delete",
                          "path": "v1/{+name}",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/featureGroups/{featureGroupsId}/features/{featuresId}/operations/{operationsId}"
                        },
                        "listWait": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/featureGroups/{featureGroupsId}/features/{featuresId}/operations/{operationsId}:wait",
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "aiplatform.projects.locations.featureGroups.features.operations.listWait",
                          "httpMethod": "GET",
                          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                          "path": "v1/{+name}:wait",
                          "response": {
                            "$ref": "GoogleLongrunningListOperationsResponse"
                          },
                          "parameters": {
                            "pageSize": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The standard list page size.",
                              "location": "query"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "The standard list page token."
                            },
                            "name": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "description": "The name of the operation's parent resource.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/featureGroups/[^/]+/features/[^/]+/operations/[^/]+$"
                            },
                            "filter": {
                              "type": "string",
                              "description": "The standard list filter.",
                              "location": "query"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    }
                  },
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1ListFeaturesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/features",
                      "parameters": {
                        "latestStatsCount": {
                          "location": "query",
                          "description": "Only applicable for Vertex AI Feature Store (Legacy). If set, return the most recent ListFeaturesRequest.latest_stats_count of stats for each Feature in response. Valid value is [0, 10]. If number of stats exists \u003c ListFeaturesRequest.latest_stats_count, return all existing stats.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "orderBy": {
                          "description": "A comma-separated list of fields to order by, sorted in ascending order. Use \"desc\" after a field name for descending. Supported fields: * `feature_id` * `value_type` (Not supported for FeatureRegistry Feature) * `create_time` * `update_time`",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "A page token, received from a previous FeaturestoreService.ListFeatures call or FeatureRegistryService.ListFeatures call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to FeaturestoreService.ListFeatures or FeatureRegistryService.ListFeatures must match the call that provided the page token.",
                          "type": "string",
                          "location": "query"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Lists the Features that match the filter expression. The following filters are supported: * `value_type`: Supports = and != comparisons. * `create_time`: Supports =, !=, \u003c, \u003e, \u003e=, and \u003c= comparisons. Values must be in RFC 3339 format. * `update_time`: Supports =, !=, \u003c, \u003e, \u003e=, and \u003c= comparisons. Values must be in RFC 3339 format. * `labels`: Supports key-value equality as well as key presence. Examples: * `value_type = DOUBLE` --\u003e Features whose type is DOUBLE. * `create_time \u003e \\\"2020-01-31T15:30:00.000000Z\\\" OR update_time \u003e \\\"2020-01-31T15:30:00.000000Z\\\"` --\u003e EntityTypes created or updated after 2020-01-31T15:30:00.000000Z. * `labels.active = yes AND labels.env = prod` --\u003e Features having both (active: yes) and (env: prod) labels. * `labels.env: *` --\u003e Any Feature which has a label with 'env' as the key.",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The resource name of the Location to list Features. Format for entity_type as parent: `projects/{project}/locations/{location}/featurestores/{featurestore}/entityTypes/{entity_type}` Format for feature_group as parent: `projects/{project}/locations/{location}/featureGroups/{feature_group}`",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/featureGroups/[^/]+$",
                          "required": true
                        },
                        "pageSize": {
                          "description": "The maximum number of Features to return. The service may return fewer than this value. If unspecified, at most 1000 Features will be returned. The maximum value is 1000; any value greater than 1000 will be coerced to 1000.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "readMask": {
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask",
                          "description": "Mask specifying which fields to read."
                        }
                      },
                      "description": "Lists Features in a given FeatureGroup.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/featureGroups/{featureGroupsId}/features",
                      "httpMethod": "GET",
                      "id": "aiplatform.projects.locations.featureGroups.features.list"
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "description": "Gets details of a single Feature.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudAiplatformV1Feature"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/featureGroups/[^/]+/features/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the Feature resource. Format for entity_type as parent: `projects/{project}/locations/{location}/featurestores/{featurestore}/entityTypes/{entity_type}` Format for feature_group as parent: `projects/{project}/locations/{location}/featureGroups/{feature_group}`",
                          "location": "path"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/featureGroups/{featureGroupsId}/features/{featuresId}",
                      "id": "aiplatform.projects.locations.featureGroups.features.get"
                    },
                    "create": {
                      "path": "v1/{+parent}/features",
                      "description": "Creates a new Feature in a given FeatureGroup.",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "aiplatform.projects.locations.featureGroups.features.create",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/featureGroups/[^/]+$",
                          "description": "Required. The resource name of the EntityType or FeatureGroup to create a Feature. Format for entity_type as parent: `projects/{project}/locations/{location}/featurestores/{featurestore}/entityTypes/{entity_type}` Format for feature_group as parent: `projects/{project}/locations/{location}/featureGroups/{feature_group}`",
                          "location": "path",
                          "type": "string"
                        },
                        "featureId": {
                          "description": "Required. The ID to use for the Feature, which will become the final component of the Feature's resource name. This value may be up to 128 characters, and valid characters are `[a-z0-9_]`. The first character cannot be a number. The value must be unique within an EntityType/FeatureGroup.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudAiplatformV1Feature"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/featureGroups/{featureGroupsId}/features"
                    },
                    "patch": {
                      "parameters": {
                        "updateMask": {
                          "description": "Field mask is used to specify the fields to be overwritten in the Features resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then only the non-empty fields present in the request will be overwritten. Set the update_mask to `*` to override all fields. Updatable fields: * `description` * `labels` * `disable_monitoring` (Not supported for FeatureRegistry Feature)",
                          "format": "google-fieldmask",
                          "type": "string",
                          "location": "query"
                        },
                        "name": {
                          "type": "string",
                          "description": "Immutable. Name of the Feature. Format: `projects/{project}/locations/{location}/featurestores/{featurestore}/entityTypes/{entity_type}/features/{feature}` `projects/{project}/locations/{location}/featureGroups/{feature_group}/features/{feature}` The last part feature is assigned by the client. The feature can be up to 64 characters long and can consist only of ASCII Latin letters A-Z and a-z, underscore(_), and ASCII digits 0-9 starting with a letter. The value will be unique given an entity type.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/featureGroups/[^/]+/features/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudAiplatformV1Feature"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "httpMethod": "PATCH",
                      "id": "aiplatform.projects.locations.featureGroups.features.patch",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/featureGroups/{featureGroupsId}/features/{featuresId}",
                      "description": "Updates the parameters of a single Feature."
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v1/{+name}",
                      "description": "Deletes a single Feature.",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the Features to be deleted. Format: `projects/{project}/locations/{location}/featurestores/{featurestore}/entityTypes/{entity_type}/features/{feature}` `projects/{project}/locations/{location}/featureGroups/{feature_group}/features/{feature}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/featureGroups/[^/]+/features/[^/]+$",
                          "location": "path"
                        }
                      },
                      "id": "aiplatform.projects.locations.featureGroups.features.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/featureGroups/{featureGroupsId}/features/{featuresId}",
                      "httpMethod": "DELETE"
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "id": "aiplatform.projects.locations.featureGroups.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/featureGroups/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the FeatureGroup resource.",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/featureGroups/{featureGroupsId}",
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1FeatureGroup"
                  },
                  "description": "Gets details of a single FeatureGroup."
                },
                "list": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Lists the FeatureGroups that match the filter expression. The following fields are supported: * `create_time`: Supports `=`, `!=`, `\u003c`, `\u003e`, `\u003c=`, and `\u003e=` comparisons. Values must be in RFC 3339 format. * `update_time`: Supports `=`, `!=`, `\u003c`, `\u003e`, `\u003c=`, and `\u003e=` comparisons. Values must be in RFC 3339 format. * `labels`: Supports key-value equality and key presence. Examples: * `create_time \u003e \"2020-01-01\" OR update_time \u003e \"2020-01-01\"` FeatureGroups created or updated after 2020-01-01. * `labels.env = \"prod\"` FeatureGroups with label \"env\" set to \"prod\"."
                    },
                    "pageSize": {
                      "description": "The maximum number of FeatureGroups to return. The service may return fewer than this value. If unspecified, at most 100 FeatureGroups will be returned. The maximum value is 100; any value greater than 100 will be coerced to 100.",
                      "location": "query",
                      "type": "integer",
[...]
