{
  "servicePath": "",
  "discoveryVersion": "v1",
  "id": "aiplatform:v1",
  "revision": "20240105",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "title": "Vertex AI API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerName": "Google",
  "schemas": {
    "GoogleCloudAiplatformV1DeleteFeatureValuesRequestSelectTimeRangeAndFeature": {
      "id": "GoogleCloudAiplatformV1DeleteFeatureValuesRequestSelectTimeRangeAndFeature",
      "type": "object",
      "description": "Message to select time range and feature. Values of the selected feature generated within an inclusive time range will be deleted. Using this option permanently deletes the feature values from the specified feature IDs within the specified time range. This might include data from the online storage. If you want to retain any deleted historical data in the online storage, you must re-ingest it.",
      "properties": {
        "featureSelector": {
          "$ref": "GoogleCloudAiplatformV1FeatureSelector",
          "description": "Required. Selectors choosing which feature values to be deleted from the EntityType."
        },
        "timeRange": {
          "$ref": "GoogleTypeInterval",
          "description": "Required. Select feature generated within a half-inclusive time range. The time range is lower inclusive and upper exclusive."
        },
        "skipOnlineStorageDelete": {
          "type": "boolean",
          "description": "If set, data will not be deleted from online storage. When time range is older than the data in online storage, setting this to be true will make the deletion have no impact on online serving."
        }
      }
    },
    "GoogleCloudAiplatformV1SearchMigratableResourcesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard next-page token. The migratable_resources may not fill page_size in SearchMigratableResourcesRequest even when there are subsequent pages."
        },
        "migratableResources": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1MigratableResource"
          },
          "type": "array",
          "description": "All migratable resources that can be migrated to the location specified in the request."
        }
      },
      "description": "Response message for MigrationService.SearchMigratableResources.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1SearchMigratableResourcesResponse"
    },
    "GoogleCloudAiplatformV1EvaluatedAnnotation": {
      "description": "True positive, false positive, or false negative. EvaluatedAnnotation is only available under ModelEvaluationSlice with slice of `annotationSpec` dimension.",
      "type": "object",
      "properties": {
        "explanations": {
          "description": "Explanations of predictions. Each element of the explanations indicates the explanation for one explanation Method. The attributions list in the EvaluatedAnnotationExplanation.explanation object corresponds to the predictions list. For example, the second element in the attributions list explains the second element in the predictions list.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1EvaluatedAnnotationExplanation"
          }
        },
        "errorAnalysisAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1ErrorAnalysisAnnotation"
          },
          "description": "Annotations of model error analysis results."
        },
        "type": {
          "description": "Output only. Type of the EvaluatedAnnotation.",
          "enumDescriptions": [
            "Invalid value.",
            "The EvaluatedAnnotation is a true positive. It has a prediction created by the Model and a ground truth Annotation which the prediction matches.",
            "The EvaluatedAnnotation is false positive. It has a prediction created by the Model which does not match any ground truth annotation.",
            "The EvaluatedAnnotation is false negative. It has a ground truth annotation which is not matched by any of the model created predictions."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "EVALUATED_ANNOTATION_TYPE_UNSPECIFIED",
            "TRUE_POSITIVE",
            "FALSE_POSITIVE",
            "FALSE_NEGATIVE"
          ]
        },
        "predictions": {
          "readOnly": true,
          "description": "Output only. The model predicted annotations. For true positive, there is one and only one prediction, which matches the only one ground truth annotation in ground_truths. For false positive, there is one and only one prediction, which doesn't match any ground truth annotation of the corresponding data_item_view_id. For false negative, there are zero or more predictions which are similar to the only ground truth annotation in ground_truths but not enough for a match. The schema of the prediction is stored in ModelEvaluation.annotation_schema_uri",
          "type": "array",
          "items": {
            "type": "any"
          }
        },
        "groundTruths": {
          "items": {
            "type": "any"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The ground truth Annotations, i.e. the Annotations that exist in the test data the Model is evaluated on. For true positive, there is one and only one ground truth annotation, which matches the only prediction in predictions. For false positive, there are zero or more ground truth annotations that are similar to the only prediction in predictions, but not enough for a match. For false negative, there is one and only one ground truth annotation, which doesn't match any predictions created by the model. The schema of the ground truth is stored in ModelEvaluation.annotation_schema_uri"
        },
        "evaluatedDataItemViewId": {
          "type": "string",
          "description": "Output only. ID of the EvaluatedDataItemView under the same ancestor ModelEvaluation. The EvaluatedDataItemView consists of all ground truths and predictions on data_item_payload.",
          "readOnly": true
        },
        "dataItemPayload": {
          "readOnly": true,
          "type": "any",
          "description": "Output only. The data item payload that the Model predicted this EvaluatedAnnotation on."
        }
      },
      "id": "GoogleCloudAiplatformV1EvaluatedAnnotation"
    },
    "GoogleCloudAiplatformV1ImportDataConfig": {
      "description": "Describes the location from where we import data into a Dataset, together with the labels that will be applied to the DataItems and the Annotations.",
      "id": "GoogleCloudAiplatformV1ImportDataConfig",
      "properties": {
        "importSchemaUri": {
          "type": "string",
          "description": "Required. Points to a YAML file stored on Google Cloud Storage describing the import format. Validation will be done against the schema. The schema is defined as an [OpenAPI 3.0.2 Schema Object](https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.0.2.md#schemaObject)."
        },
        "annotationLabels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels that will be applied to newly imported Annotations. If two Annotations are identical, one of them will be deduped. Two Annotations are considered identical if their payload, payload_schema_uri and all of their labels are the same. These labels will be overridden by Annotation labels specified inside index file referenced by import_schema_uri, e.g. jsonl file."
        },
        "gcsSource": {
          "$ref": "GoogleCloudAiplatformV1GcsSource",
          "description": "The Google Cloud Storage location for the input content."
        },
        "dataItemLabels": {
          "type": "object",
          "description": "Labels that will be applied to newly imported DataItems. If an identical DataItem as one being imported already exists in the Dataset, then these labels will be appended to these of the already existing one, and if labels with identical key is imported before, the old label value will be overwritten. If two DataItems are identical in the same import data operation, the labels will be combined and if key collision happens in this case, one of the values will be picked randomly. Two DataItems are considered identical if their content bytes are identical (e.g. image bytes or pdf bytes). These labels will be overridden by Annotation labels specified inside index file referenced by import_schema_uri, e.g. jsonl file.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1CreateTensorboardOperationMetadata": {
      "description": "Details of operations that perform create Tensorboard.",
      "id": "GoogleCloudAiplatformV1CreateTensorboardOperationMetadata",
      "properties": {
        "genericMetadata": {
          "description": "Operation metadata for Tensorboard.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaPredictInstanceTextExtractionPredictionInstance": {
      "type": "object",
      "description": "Prediction input format for Text Extraction.",
      "properties": {
        "mimeType": {
          "description": "The MIME type of the text snippet. The supported MIME types are listed below. - text/plain",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "This field is only used for batch prediction. If a key is provided, the batch prediction result will by mapped to this key. If omitted, then the batch prediction result will contain the entire input instance. Vertex AI will not check if keys in the request are duplicates, so it is up to the caller to ensure the keys are unique."
        },
        "content": {
          "description": "The text snippet to make the predictions on.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaPredictInstanceTextExtractionPredictionInstance"
    },
    "GoogleCloudAiplatformV1PipelineJobRuntimeConfig": {
      "id": "GoogleCloudAiplatformV1PipelineJobRuntimeConfig",
      "type": "object",
      "description": "The runtime config of a PipelineJob.",
      "properties": {
        "gcsOutputDirectory": {
          "description": "Required. A path in a Cloud Storage bucket, which will be treated as the root output directory of the pipeline. It is used by the system to generate the paths of output artifacts. The artifact paths are generated with a sub-path pattern `{job_id}/{task_id}/{output_key}` under the specified output directory. The service account specified in this pipeline must have the `storage.objects.get` and `storage.objects.create` permissions for this bucket.",
          "type": "string"
        },
        "inputArtifacts": {
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1PipelineJobRuntimeConfigInputArtifact"
          },
          "type": "object",
          "description": "The runtime artifacts of the PipelineJob. The key will be the input artifact name and the value would be one of the InputArtifact."
        },
        "failurePolicy": {
          "enum": [
            "PIPELINE_FAILURE_POLICY_UNSPECIFIED",
            "PIPELINE_FAILURE_POLICY_FAIL_SLOW",
            "PIPELINE_FAILURE_POLICY_FAIL_FAST"
          ],
          "description": "Represents the failure policy of a pipeline. Currently, the default of a pipeline is that the pipeline will continue to run until no more tasks can be executed, also known as PIPELINE_FAILURE_POLICY_FAIL_SLOW. However, if a pipeline is set to PIPELINE_FAILURE_POLICY_FAIL_FAST, it will stop scheduling any new tasks when a task has failed. Any scheduled tasks will continue to completion.",
          "enumDescriptions": [
            "Default value, and follows fail slow behavior.",
            "Indicates that the pipeline should continue to run until all possible tasks have been scheduled and completed.",
            "Indicates that the pipeline should stop scheduling new tasks after a task has failed."
          ],
          "type": "string"
        },
        "parameterValues": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          },
          "description": "The runtime parameters of the PipelineJob. The parameters will be passed into PipelineJob.pipeline_spec to replace the placeholders at runtime. This field is used by pipelines built using `PipelineJob.pipeline_spec.schema_version` 2.1.0, such as pipelines built using Kubeflow Pipelines SDK 1.9 or higher and the v2 DSL."
        },
        "parameters": {
          "deprecated": true,
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1Value"
          },
          "type": "object",
          "description": "Deprecated. Use RuntimeConfig.parameter_values instead. The runtime parameters of the PipelineJob. The parameters will be passed into PipelineJob.pipeline_spec to replace the placeholders at runtime. This field is used by pipelines built using `PipelineJob.pipeline_spec.schema_version` 2.0.0 or lower, such as pipelines built using Kubeflow Pipelines SDK 1.8 or lower."
        }
      }
    },
    "GoogleCloudAiplatformV1ListDataItemsResponse": {
      "description": "Response message for DatasetService.ListDataItems.",
      "properties": {
        "dataItems": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1DataItem"
          },
          "description": "A list of DataItems that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1ListDataItemsResponse",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ComputeTokensResponse": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1ComputeTokensResponse",
      "description": "Response message for ComputeTokens RPC call.",
      "properties": {
        "tokensInfo": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1TokensInfo"
          },
          "description": "Lists of tokens info from the input. A ComputeTokensRequest could have multiple instances with a prompt in each instance. We also need to return lists of tokens info for the request with multiple instances.",
          "type": "array"
        }
      }
    },
    "GoogleCloudAiplatformV1SearchModelDeploymentMonitoringStatsAnomaliesResponse": {
      "id": "GoogleCloudAiplatformV1SearchModelDeploymentMonitoringStatsAnomaliesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The page token that can be used by the next JobService.SearchModelDeploymentMonitoringStatsAnomalies call."
        },
        "monitoringStats": {
          "description": "Stats retrieved for requested objectives. There are at most 1000 ModelMonitoringStatsAnomalies.FeatureHistoricStatsAnomalies.prediction_stats in the response.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1ModelMonitoringStatsAnomalies"
          },
          "type": "array"
        }
      },
      "description": "Response message for JobService.SearchModelDeploymentMonitoringStatsAnomalies."
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTextClassificationInputs": {
      "properties": {
        "multiLabel": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTextClassificationInputs"
    },
    "GoogleCloudAiplatformV1ExportModelOperationMetadata": {
      "properties": {
        "outputInfo": {
          "description": "Output only. Information further describing the output of this Model export.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1ExportModelOperationMetadataOutputInfo"
        },
        "genericMetadata": {
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata",
          "description": "The common part of the operation metadata."
        }
      },
      "description": "Details of ModelService.ExportModel operation.",
      "id": "GoogleCloudAiplatformV1ExportModelOperationMetadata",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ReadTensorboardBlobDataResponse": {
      "type": "object",
      "properties": {
        "blobs": {
          "description": "Blob messages containing blob bytes.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1TensorboardBlob"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudAiplatformV1ReadTensorboardBlobDataResponse",
      "description": "Response message for TensorboardService.ReadTensorboardBlobData."
    },
    "GoogleIamV1Policy": {
      "id": "GoogleIamV1Policy",
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "bindings": {
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array"
        },
        "version": {
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1ListIndexEndpointsResponse": {
      "description": "Response message for IndexEndpointService.ListIndexEndpoints.",
      "id": "GoogleCloudAiplatformV1ListIndexEndpointsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass to ListIndexEndpointsRequest.page_token to obtain that page.",
          "type": "string"
        },
        "indexEndpoints": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1IndexEndpoint"
          },
          "type": "array",
          "description": "List of IndexEndpoints in the requested page."
        }
      }
    },
    "GoogleCloudAiplatformV1ListFeaturestoresResponse": {
      "description": "Response message for FeaturestoreService.ListFeaturestores.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1ListFeaturestoresResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as ListFeaturestoresRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "featurestores": {
          "type": "array",
          "description": "The Featurestores matching the request.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Featurestore"
          }
        }
      }
    },
    "NlpSaftLangIdLocalesResult": {
      "type": "object",
      "id": "NlpSaftLangIdLocalesResult",
      "properties": {
        "predictions": {
          "type": "array",
          "description": "List of locales in which the text would be considered acceptable. Sorted in descending order according to each locale's respective likelihood. For example, if a Portuguese text is acceptable in both Brazil and Portugal, but is more strongly associated with Brazil, then the predictions would be [\"pt-BR\", \"pt-PT\"], in that order. May be empty, indicating that the model did not predict any acceptable locales.",
          "items": {
            "$ref": "NlpSaftLangIdLocalesResultLocale"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1ListTensorboardTimeSeriesResponse": {
      "properties": {
        "tensorboardTimeSeries": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1TensorboardTimeSeries"
          },
          "description": "The TensorboardTimeSeries mathching the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as ListTensorboardTimeSeriesRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "description": "Response message for TensorboardService.ListTensorboardTimeSeries.",
      "id": "GoogleCloudAiplatformV1ListTensorboardTimeSeriesResponse"
    },
    "GoogleCloudAiplatformV1FeatureNoiseSigmaNoiseSigmaForFeature": {
      "type": "object",
      "description": "Noise sigma for a single feature.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the input feature for which noise sigma is provided. The features are defined in explanation metadata inputs."
        },
        "sigma": {
          "description": "This represents the standard deviation of the Gaussian kernel that will be used to add noise to the feature prior to computing gradients. Similar to noise_sigma but represents the noise added to the current feature. Defaults to 0.1.",
          "format": "float",
          "type": "number"
        }
      },
      "id": "GoogleCloudAiplatformV1FeatureNoiseSigmaNoiseSigmaForFeature"
    },
    "GoogleCloudAiplatformV1StudySpecParameterSpecConditionalParameterSpec": {
      "properties": {
        "parentCategoricalValues": {
          "description": "The spec for matching values from a parent parameter of `CATEGORICAL` type.",
          "$ref": "GoogleCloudAiplatformV1StudySpecParameterSpecConditionalParameterSpecCategoricalValueCondition"
        },
        "parentDiscreteValues": {
          "$ref": "GoogleCloudAiplatformV1StudySpecParameterSpecConditionalParameterSpecDiscreteValueCondition",
          "description": "The spec for matching values from a parent parameter of `DISCRETE` type."
        },
        "parameterSpec": {
          "$ref": "GoogleCloudAiplatformV1StudySpecParameterSpec",
          "description": "Required. The spec for a conditional parameter."
        },
        "parentIntValues": {
          "description": "The spec for matching values from a parent parameter of `INTEGER` type.",
          "$ref": "GoogleCloudAiplatformV1StudySpecParameterSpecConditionalParameterSpecIntValueCondition"
        }
      },
      "description": "Represents a parameter spec with condition from its parent parameter.",
      "id": "GoogleCloudAiplatformV1StudySpecParameterSpecConditionalParameterSpec",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTextSentimentInputs": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTextSentimentInputs",
      "properties": {
        "sentimentMax": {
          "description": "A sentiment is expressed as an integer ordinal, where higher value means a more positive sentiment. The range of sentiments that will be used is between 0 and sentimentMax (inclusive on both ends), and all the values in the range must be represented in the dataset before a model can be created. Only the Annotations with this sentimentMax will be used for training. sentimentMax value must be between 1 and 10 (inclusive).",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudAiplatformV1IndexDatapointNumericRestriction": {
      "id": "GoogleCloudAiplatformV1IndexDatapointNumericRestriction",
      "description": "This field allows restricts to be based on numeric comparisons rather than categorical tokens.",
      "properties": {
        "namespace": {
          "type": "string",
          "description": "The namespace of this restriction. e.g.: cost."
        },
        "valueFloat": {
          "description": "Represents 32 bit float.",
          "type": "number",
          "format": "float"
        },
        "valueDouble": {
          "format": "double",
          "description": "Represents 64 bit float.",
          "type": "number"
        },
        "op": {
          "enumDescriptions": [
            "Default value of the enum.",
            "Datapoints are eligible iff their value is \u003c the query's.",
            "Datapoints are eligible iff their value is \u003c= the query's.",
            "Datapoints are eligible iff their value is == the query's.",
            "Datapoints are eligible iff their value is \u003e= the query's.",
            "Datapoints are eligible iff their value is \u003e the query's."
          ],
          "description": "This MUST be specified for queries and must NOT be specified for datapoints.",
          "type": "string",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "LESS",
            "LESS_EQUAL",
            "EQUAL",
            "GREATER_EQUAL",
            "GREATER"
          ]
        },
        "valueInt": {
          "type": "string",
          "description": "Represents 64 bit integer.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1DeployedIndexAuthConfigAuthProvider": {
      "description": "Configuration for an authentication provider, including support for [JSON Web Token (JWT)](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32).",
      "id": "GoogleCloudAiplatformV1DeployedIndexAuthConfigAuthProvider",
      "properties": {
        "audiences": {
          "items": {
            "type": "string"
          },
          "description": "The list of JWT [audiences](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-4.1.3). that are allowed to access. A JWT containing any of these audiences will be accepted.",
          "type": "array"
        },
        "allowedIssuers": {
          "description": "A list of allowed JWT issuers. Each entry must be a valid Google service account, in the following format: `service-account-name@project-id.iam.gserviceaccount.com`",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1ModelDataStats": {
      "properties": {
        "trainingDataItemsCount": {
          "description": "Number of DataItems that were used for training this Model.",
          "type": "string",
          "format": "int64"
        },
        "testDataItemsCount": {
          "type": "string",
          "description": "Number of DataItems that were used for evaluating this Model. If the Model is evaluated multiple times, this will be the number of test DataItems used by the first evaluation. If the Model is not evaluated, the number is 0.",
          "format": "int64"
        },
        "validationDataItemsCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of DataItems that were used for validating this Model during training."
        },
        "testAnnotationsCount": {
          "description": "Number of Annotations that are used for evaluating this Model. If the Model is evaluated multiple times, this will be the number of test Annotations used by the first evaluation. If the Model is not evaluated, the number is 0.",
          "format": "int64",
          "type": "string"
        },
        "trainingAnnotationsCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of Annotations that are used for training this Model."
        },
        "validationAnnotationsCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of Annotations that are used for validating this Model during training."
        }
      },
      "id": "GoogleCloudAiplatformV1ModelDataStats",
      "type": "object",
      "description": "Stats of data used for train or evaluate the Model."
    },
    "GoogleCloudAiplatformV1PublisherModelCallToActionRegionalResourceReferences": {
      "id": "GoogleCloudAiplatformV1PublisherModelCallToActionRegionalResourceReferences",
      "description": "The regional resource name or the URI. Key is region, e.g., us-central1, europe-west2, global, etc..",
      "properties": {
        "resourceDescription": {
          "description": "Optional. Description of the resource.",
          "type": "string"
        },
        "resourceUseCase": {
          "type": "string",
          "description": "Optional. Use case (CUJ) of the resource."
        },
        "references": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1PublisherModelResourceReference"
          },
          "description": "Required."
        },
        "resourceTitle": {
          "type": "string",
          "description": "Optional. Title of the resource."
        },
        "title": {
          "description": "Required. ",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CloudAiLargeModelsVisionReasonVideoResponse": {
      "description": "Video reasoning response.",
      "type": "object",
      "id": "CloudAiLargeModelsVisionReasonVideoResponse",
      "properties": {
        "responses": {
          "type": "array",
          "items": {
            "$ref": "CloudAiLargeModelsVisionReasonVideoResponseTextResponse"
          },
          "description": "Generated text responses. The generated responses for different segments within the same video."
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaPredictPredictionVideoObjectTrackingPredictionResultFrame": {
      "description": "The fields `xMin`, `xMax`, `yMin`, and `yMax` refer to a bounding box, i.e. the rectangle over the video frame pinpointing the found AnnotationSpec. The coordinates are relative to the frame size, and the point 0,0 is in the top left of the frame.",
      "type": "object",
      "properties": {
        "yMin": {
          "type": "number",
          "format": "float",
          "description": "The topmost coordinate of the bounding box."
        },
        "timeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "A time (frame) of a video in which the object has been detected. Expressed as a number of seconds as measured from the start of the video, with fractions up to a microsecond precision, and with \"s\" appended at the end."
        },
        "xMin": {
          "type": "number",
          "description": "The leftmost coordinate of the bounding box.",
          "format": "float"
        },
        "xMax": {
          "type": "number",
          "description": "The rightmost coordinate of the bounding box.",
          "format": "float"
        },
        "yMax": {
          "type": "number",
          "format": "float",
          "description": "The bottommost coordinate of the bounding box."
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaPredictPredictionVideoObjectTrackingPredictionResultFrame"
    },
    "GoogleCloudAiplatformV1SchemaModelevaluationMetricsImageSegmentationEvaluationMetrics": {
      "properties": {
        "confidenceMetricsEntries": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsImageSegmentationEvaluationMetricsConfidenceMetricsEntry"
          },
          "type": "array",
          "description": "Metrics for each confidenceThreshold in 0.00,0.05,0.10,...,0.95,0.96,0.97,0.98,0.99 Precision-recall curve can be derived from it."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsImageSegmentationEvaluationMetrics",
      "description": "Metrics for image segmentation evaluation results."
    },
    "GoogleCloudAiplatformV1ImportDataRequest": {
      "type": "object",
      "description": "Request message for DatasetService.ImportData.",
      "id": "GoogleCloudAiplatformV1ImportDataRequest",
      "properties": {
        "importConfigs": {
          "description": "Required. The desired input locations. The contents of all input locations will be imported in one batch.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1ImportDataConfig"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1TensorboardTimeSeries": {
      "type": "object",
      "description": "TensorboardTimeSeries maps to times series produced in training runs",
      "id": "GoogleCloudAiplatformV1TensorboardTimeSeries",
      "properties": {
        "pluginData": {
          "format": "byte",
          "description": "Data of the current plugin, with the size limited to 65KB.",
          "type": "string"
        },
        "metadata": {
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1TensorboardTimeSeriesMetadata",
          "description": "Output only. Scalar, Tensor, or Blob metadata for this TensorboardTimeSeries."
        },
        "name": {
          "description": "Output only. Name of the TensorboardTimeSeries.",
          "readOnly": true,
          "type": "string"
        },
        "valueType": {
          "enumDescriptions": [
            "The value type is unspecified.",
            "Used for TensorboardTimeSeries that is a list of scalars. E.g. accuracy of a model over epochs/time.",
            "Used for TensorboardTimeSeries that is a list of tensors. E.g. histograms of weights of layer in a model over epoch/time.",
            "Used for TensorboardTimeSeries that is a list of blob sequences. E.g. set of sample images with labels over epochs/time."
          ],
          "description": "Required. Immutable. Type of TensorboardTimeSeries value.",
          "type": "string",
          "enum": [
            "VALUE_TYPE_UNSPECIFIED",
            "SCALAR",
            "TENSOR",
            "BLOB_SEQUENCE"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "Required. User provided name of this TensorboardTimeSeries. This value should be unique among all TensorboardTimeSeries resources belonging to the same TensorboardRun resource (parent resource)."
        },
        "createTime": {
          "description": "Output only. Timestamp when this TensorboardTimeSeries was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when this TensorboardTimeSeries was last updated.",
          "format": "google-datetime"
        },
        "pluginName": {
          "type": "string",
          "description": "Immutable. Name of the plugin this time series pertain to. Such as Scalar, Tensor, Blob"
        },
        "etag": {
          "type": "string",
          "description": "Used to perform a consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens."
        },
        "description": {
          "description": "Description of this TensorboardTimeSeries.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionHierarchyConfig": {
      "type": "object",
      "properties": {
        "groupColumns": {
          "items": {
            "type": "string"
          },
          "description": "A list of time series attribute column names that define the time series hierarchy. Only one level of hierarchy is supported, ex. 'region' for a hierarchy of stores or 'department' for a hierarchy of products. If multiple columns are specified, time series will be grouped by their combined values, ex. ('blue', 'large') for 'color' and 'size', up to 5 columns are accepted. If no group columns are specified, all time series are considered to be part of the same group.",
          "type": "array"
        },
        "groupTotalWeight": {
          "format": "double",
          "description": "The weight of the loss for predictions aggregated over time series in the same group.",
          "type": "number"
        },
        "temporalTotalWeight": {
          "description": "The weight of the loss for predictions aggregated over the horizon for a single time series.",
          "type": "number",
          "format": "double"
        },
        "groupTemporalTotalWeight": {
          "description": "The weight of the loss for predictions aggregated over both the horizon and time series in the same hierarchy group.",
          "type": "number",
          "format": "double"
        }
      },
      "description": "Configuration that defines the hierarchical relationship of time series and parameters for hierarchical forecasting strategies.",
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionHierarchyConfig"
    },
    "GoogleCloudAiplatformV1WriteFeatureValuesPayload": {
      "id": "GoogleCloudAiplatformV1WriteFeatureValuesPayload",
      "properties": {
        "entityId": {
          "description": "Required. The ID of the entity.",
          "type": "string"
        },
        "featureValues": {
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1FeatureValue"
          },
          "type": "object",
          "description": "Required. Feature values to be written, mapping from Feature ID to value. Up to 100,000 `feature_values` entries may be written across all payloads. The feature generation time, aligned by days, must be no older than five years (1825 days) and no later than one year (366 days) in the future."
        }
      },
      "type": "object",
      "description": "Contains Feature values to be written for a specific entity."
    },
    "GoogleCloudAiplatformV1SchemaAnnotationSpecColor": {
      "id": "GoogleCloudAiplatformV1SchemaAnnotationSpecColor",
      "description": "An entry of mapping between color and AnnotationSpec. The mapping is used in segmentation mask.",
      "properties": {
        "color": {
          "$ref": "GoogleTypeColor",
          "description": "The color of the AnnotationSpec in a segmentation mask."
        },
        "displayName": {
          "description": "The display name of the AnnotationSpec represented by the color in the segmentation mask.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the AnnotationSpec represented by the color in the segmentation mask.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1DataItemView": {
      "properties": {
        "hasTruncatedAnnotations": {
          "type": "boolean",
          "description": "True if and only if the Annotations field has been truncated. It happens if more Annotations for this DataItem met the request's annotation_filter than are allowed to be returned by annotations_limit. Note that if Annotations field is not being returned due to field mask, then this field will not be set to true no matter how many Annotations are there."
        },
        "dataItem": {
          "description": "The DataItem.",
          "$ref": "GoogleCloudAiplatformV1DataItem"
        },
        "annotations": {
          "type": "array",
          "description": "The Annotations on the DataItem. If too many Annotations should be returned for the DataItem, this field will be truncated per annotations_limit in request. If it was, then the has_truncated_annotations will be set to true.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Annotation"
          }
        }
      },
      "description": "A container for a single DataItem and Annotations on it.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1DataItemView"
    },
    "GoogleCloudAiplatformV1FeatureValueList": {
      "type": "object",
      "description": "Container for list of values.",
      "properties": {
        "values": {
          "type": "array",
          "description": "A list of feature values. All of them should be the same data type.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1FeatureValue"
          }
        }
      },
      "id": "GoogleCloudAiplatformV1FeatureValueList"
    },
    "GoogleCloudAiplatformV1SchemaTextDataItem": {
      "properties": {
        "gcsUri": {
          "description": "Output only. Google Cloud Storage URI points to the original text in user's bucket. The text file is up to 10MB in size.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Payload of Text DataItem.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaTextDataItem"
    },
    "GoogleCloudAiplatformV1InputDataConfig": {
      "description": "Specifies Vertex AI owned input data to be used for training, and possibly evaluating, the Model.",
      "properties": {
        "filterSplit": {
          "description": "Split based on the provided filters for each set.",
          "$ref": "GoogleCloudAiplatformV1FilterSplit"
        },
        "fractionSplit": {
          "description": "Split based on fractions defining the size of each set.",
          "$ref": "GoogleCloudAiplatformV1FractionSplit"
        },
        "persistMlUseAssignment": {
          "description": "Whether to persist the ML use assignment to data item system labels.",
          "type": "boolean"
        },
        "savedQueryId": {
          "type": "string",
          "description": "Only applicable to Datasets that have SavedQueries. The ID of a SavedQuery (annotation set) under the Dataset specified by dataset_id used for filtering Annotations for training. Only Annotations that are associated with this SavedQuery are used in respectively training. When used in conjunction with annotations_filter, the Annotations used for training are filtered by both saved_query_id and annotations_filter. Only one of saved_query_id and annotation_schema_uri should be specified as both of them represent the same thing: problem type."
        },
        "annotationSchemaUri": {
          "description": "Applicable only to custom training with Datasets that have DataItems and Annotations. Cloud Storage URI that points to a YAML file describing the annotation schema. The schema is defined as an OpenAPI 3.0.2 [Schema Object](https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.0.2.md#schemaObject). The schema files that can be used here are found in gs://google-cloud-aiplatform/schema/dataset/annotation/ , note that the chosen schema must be consistent with metadata of the Dataset specified by dataset_id. Only Annotations that both match this schema and belong to DataItems not ignored by the split method are used in respectively training, validation or test role, depending on the role of the DataItem they are on. When used in conjunction with annotations_filter, the Annotations used for training are filtered by both annotations_filter and annotation_schema_uri.",
          "type": "string"
        },
        "bigqueryDestination": {
          "$ref": "GoogleCloudAiplatformV1BigQueryDestination",
          "description": "Only applicable to custom training with tabular Dataset with BigQuery source. The BigQuery project location where the training data is to be written to. In the given project a new dataset is created with name `dataset___` where timestamp is in YYYY_MM_DDThh_mm_ss_sssZ format. All training input data is written into that dataset. In the dataset three tables are created, `training`, `validation` and `test`. * AIP_DATA_FORMAT = \"bigquery\". * AIP_TRAINING_DATA_URI = \"bigquery_destination.dataset___.training\" * AIP_VALIDATION_DATA_URI = \"bigquery_destination.dataset___.validation\" * AIP_TEST_DATA_URI = \"bigquery_destination.dataset___.test\""
        },
        "annotationsFilter": {
          "type": "string",
          "description": "Applicable only to Datasets that have DataItems and Annotations. A filter on Annotations of the Dataset. Only Annotations that both match this filter and belong to DataItems not ignored by the split method are used in respectively training, validation or test role, depending on the role of the DataItem they are on (for the auto-assigned that role is decided by Vertex AI). A filter with same syntax as the one used in ListAnnotations may be used, but note here it filters across all Annotations of the Dataset, and not just within a single DataItem."
        },
        "predefinedSplit": {
          "description": "Supported only for tabular Datasets. Split based on a predefined key.",
          "$ref": "GoogleCloudAiplatformV1PredefinedSplit"
        },
        "timestampSplit": {
          "$ref": "GoogleCloudAiplatformV1TimestampSplit",
          "description": "Supported only for tabular Datasets. Split based on the timestamp of the input data pieces."
        },
        "gcsDestination": {
          "description": "The Cloud Storage location where the training data is to be written to. In the given directory a new directory is created with name: `dataset---` where timestamp is in YYYY-MM-DDThh:mm:ss.sssZ ISO-8601 format. All training input data is written into that directory. The Vertex AI environment variables representing Cloud Storage data URIs are represented in the Cloud Storage wildcard format to support sharded data. e.g.: \"gs://.../training-*.jsonl\" * AIP_DATA_FORMAT = \"jsonl\" for non-tabular data, \"csv\" for tabular data * AIP_TRAINING_DATA_URI = \"gcs_destination/dataset---/training-*.${AIP_DATA_FORMAT}\" * AIP_VALIDATION_DATA_URI = \"gcs_destination/dataset---/validation-*.${AIP_DATA_FORMAT}\" * AIP_TEST_DATA_URI = \"gcs_destination/dataset---/test-*.${AIP_DATA_FORMAT}\"",
          "$ref": "GoogleCloudAiplatformV1GcsDestination"
        },
        "stratifiedSplit": {
          "$ref": "GoogleCloudAiplatformV1StratifiedSplit",
          "description": "Supported only for tabular Datasets. Split based on the distribution of the specified column."
        },
        "datasetId": {
          "type": "string",
          "description": "Required. The ID of the Dataset in the same Project and Location which data will be used to train the Model. The Dataset must use schema compatible with Model being trained, and what is compatible should be described in the used TrainingPipeline's training_task_definition. For tabular Datasets, all their data is exported to training, to pick and choose from."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1InputDataConfig"
    },
    "GoogleCloudAiplatformV1SchemaImageClassificationAnnotation": {
      "description": "Annotation details specific to image classification.",
      "properties": {
        "annotationSpecId": {
          "description": "The resource Id of the AnnotationSpec that this Annotation pertains to.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the AnnotationSpec that this Annotation pertains to.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaImageClassificationAnnotation"
    },
    "GoogleCloudAiplatformV1ReadTensorboardUsageResponse": {
      "description": "Response message for TensorboardService.ReadTensorboardUsage.",
      "id": "GoogleCloudAiplatformV1ReadTensorboardUsageResponse",
      "properties": {
        "monthlyUsageData": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1ReadTensorboardUsageResponsePerMonthUsageData"
          },
          "description": "Maps year-month (YYYYMM) string to per month usage data."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1DeleteFeatureValuesRequestSelectEntity": {
      "id": "GoogleCloudAiplatformV1DeleteFeatureValuesRequestSelectEntity",
      "type": "object",
      "description": "Message to select entity. If an entity id is selected, all the feature values corresponding to the entity id will be deleted, including the entityId.",
      "properties": {
        "entityIdSelector": {
          "$ref": "GoogleCloudAiplatformV1EntityIdSelector",
          "description": "Required. Selectors choosing feature values of which entity id to be deleted from the EntityType."
        }
      }
    },
    "LanguageLabsAidaTrustRecitationProtoStreamRecitationResult": {
      "description": "The recitation result for one stream input",
      "type": "object",
      "id": "LanguageLabsAidaTrustRecitationProtoStreamRecitationResult",
      "properties": {
        "dynamicSegmentResults": {
          "description": "The recitation result against the given dynamic data source.",
          "type": "array",
          "items": {
            "$ref": "LanguageLabsAidaTrustRecitationProtoSegmentResult"
          }
        },
        "fullyCheckedTextIndex": {
          "format": "int32",
          "description": "Last index of input text fully checked for recitation in the entire streaming context. Would return `-1` if no Input was checked for recitation.",
          "type": "integer"
        },
        "recitationAction": {
          "type": "string",
          "description": "The recitation action for one given input. When its segments contain different actions, the overall action will be returned in the precedence of BLOCK \u003e CITE \u003e NO_ACTION.",
          "enumDescriptions": [
            "",
            "indicate that attribution must be shown for a Segment",
            "indicate that a Segment should be blocked from being used",
            "for tagging high-frequency code snippets",
            "The recitation was found in prompt and is exempted from overall results"
          ],
          "enum": [
            "ACTION_UNSPECIFIED",
            "CITE",
            "BLOCK",
            "NO_ACTION",
            "EXEMPT_FOUND_IN_PROMPT"
          ]
        },
        "trainingSegmentResults": {
          "type": "array",
          "items": {
            "$ref": "LanguageLabsAidaTrustRecitationProtoSegmentResult"
          },
          "description": "The recitation result against model training data."
        }
      }
    },
    "GoogleCloudAiplatformV1PipelineTaskDetailPipelineTaskStatus": {
      "id": "GoogleCloudAiplatformV1PipelineTaskDetailPipelineTaskStatus",
      "description": "A single record of the task status.",
      "properties": {
        "updateTime": {
          "description": "Output only. Update time of this status.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "error": {
          "readOnly": true,
          "description": "Output only. The error that occurred during the state. May be set when the state is any of the non-final state (PENDING/RUNNING/CANCELLING) or FAILED state. If the state is FAILED, the error here is final and not going to be retried. If the state is a non-final state, the error indicates a system-error being retried.",
          "$ref": "GoogleRpcStatus"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "Specifies pending state for the task.",
            "Specifies task is being executed.",
            "Specifies task completed successfully.",
            "Specifies Task cancel is in pending state.",
            "Specifies task is being cancelled.",
            "Specifies task was cancelled.",
            "Specifies task failed.",
            "Specifies task was skipped due to cache hit.",
            "Specifies that the task was not triggered because the task's trigger policy is not satisfied. The trigger policy is specified in the `condition` field of PipelineJob.pipeline_spec."
          ],
          "description": "Output only. The state of the task.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "CANCEL_PENDING",
            "CANCELLING",
            "CANCELLED",
            "FAILED",
            "SKIPPED",
            "NOT_TRIGGERED"
          ]
        }
      },
      "type": "object"
    },
    "LearningGenaiRootMetricOutput": {
      "type": "object",
      "id": "LearningGenaiRootMetricOutput",
      "properties": {
        "stringValue": {
          "type": "string"
        },
        "numericValue": {
          "type": "number",
          "format": "double"
        },
        "debug": {
          "type": "string"
        },
        "status": {
          "$ref": "UtilStatusProto"
        },
        "name": {
          "description": "Name of the metric.",
          "type": "string"
        }
      }
    },
    "CloudAiNlLlmProtoServiceRaiSignal": {
      "description": "An RAI signal for a single category.",
      "properties": {
        "flagged": {
          "type": "boolean",
          "description": "Whether the category is flagged as being present. Currently, this is set to true if score \u003e= 0.5."
        },
        "confidence": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CONFIDENCE_UNSPECIFIED",
            "CONFIDENCE_NONE",
            "CONFIDENCE_LOW",
            "CONFIDENCE_MEDIUM",
            "CONFIDENCE_HIGH"
          ],
          "description": "The confidence level for the RAI category.",
          "type": "string"
        },
        "score": {
          "description": "The score for the category, in the range [0.0, 1.0].",
          "type": "number",
          "format": "float"
        },
        "raiCategory": {
          "type": "string",
          "enumDescriptions": [
            "",
            "SafetyCat categories.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "GRAIL categories that can't be exposed to end users.",
            "",
            "Unused categories.",
            "",
            "Old category names.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "CSAM V2",
            "SPII",
            "New SafetyCat v3 categories",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RAI_CATEGORY_UNSPECIFIED",
            "TOXIC",
            "SEXUALLY_EXPLICIT",
            "HATE_SPEECH",
            "VIOLENT",
            "PROFANITY",
            "HARASSMENT",
            "DEATH_HARM_TRAGEDY",
            "FIREARMS_WEAPONS",
            "PUBLIC_SAFETY",
            "HEALTH",
            "RELIGIOUS_BELIEF",
            "ILLICIT_DRUGS",
            "WAR_CONFLICT",
            "POLITICS",
            "FINANCE",
            "LEGAL",
            "CSAI",
            "FRINGE",
            "THREAT",
            "SEVERE_TOXICITY",
            "TOXICITY",
            "SEXUAL",
            "INSULT",
            "DEROGATORY",
            "IDENTITY_ATTACK",
            "VIOLENCE_ABUSE",
            "OBSCENE",
            "DRUGS",
            "CSAM",
            "SPII",
            "DANGEROUS_CONTENT",
            "DANGEROUS_CONTENT_SEVERITY",
            "INSULT_SEVERITY",
            "DEROGATORY_SEVERITY",
            "SEXUAL_SEVERITY"
          ],
          "description": "The RAI category."
        }
      },
      "id": "CloudAiNlLlmProtoServiceRaiSignal",
      "type": "object"
    },
    "GoogleCloudAiplatformV1UploadModelOperationMetadata": {
      "id": "GoogleCloudAiplatformV1UploadModelOperationMetadata",
      "description": "Details of ModelService.UploadModel operation.",
      "type": "object",
      "properties": {
        "genericMetadata": {
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata",
          "description": "The common part of the operation metadata."
        }
      }
    },
    "GoogleTypeExpr": {
      "id": "GoogleTypeExpr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1MachineSpec": {
      "description": "Specification of a single machine.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1MachineSpec",
      "properties": {
        "tpuTopology": {
          "description": "Immutable. The topology of the TPUs. Corresponds to the TPU topologies available from GKE. (Example: tpu_topology: \"2x2x1\").",
          "type": "string"
        },
        "machineType": {
          "type": "string",
          "description": "Immutable. The type of the machine. See the [list of machine types supported for prediction](https://cloud.google.com/vertex-ai/docs/predictions/configure-compute#machine-types) See the [list of machine types supported for custom training](https://cloud.google.com/vertex-ai/docs/training/configure-compute#machine-types). For DeployedModel this field is optional, and the default value is `n1-standard-2`. For BatchPredictionJob or as part of WorkerPoolSpec this field is required."
        },
        "acceleratorCount": {
          "description": "The number of accelerators to attach to the machine.",
          "type": "integer",
          "format": "int32"
        },
        "acceleratorType": {
          "description": "Immutable. The type of accelerator(s) that may be attached to the machine as per accelerator_count.",
          "type": "string",
          "enum": [
            "ACCELERATOR_TYPE_UNSPECIFIED",
            "NVIDIA_TESLA_K80",
            "NVIDIA_TESLA_P100",
            "NVIDIA_TESLA_V100",
            "NVIDIA_TESLA_P4",
            "NVIDIA_TESLA_T4",
            "NVIDIA_TESLA_A100",
            "NVIDIA_A100_80GB",
            "NVIDIA_L4",
            "TPU_V2",
            "TPU_V3",
            "TPU_V4_POD"
          ],
          "enumDescriptions": [
            "Unspecified accelerator type, which means no accelerator.",
            "Nvidia Tesla K80 GPU.",
            "Nvidia Tesla P100 GPU.",
            "Nvidia Tesla V100 GPU.",
            "Nvidia Tesla P4 GPU.",
            "Nvidia Tesla T4 GPU.",
            "Nvidia Tesla A100 GPU.",
            "Nvidia A100 80GB GPU.",
            "Nvidia L4 GPU.",
            "TPU v2.",
            "TPU v3.",
            "TPU v4."
          ]
        }
      }
    },
    "LearningGenaiRootScoreBasedRoutingConfigRule": {
      "id": "LearningGenaiRootScoreBasedRoutingConfigRule",
      "properties": {
        "lessThan": {
          "$ref": "LearningGenaiRootScore"
        },
        "equalOrGreaterThan": {
          "$ref": "LearningGenaiRootScore",
          "description": "NOTE: Hardest examples have smaller values in their routing scores."
        },
        "modelConfigId": {
          "type": "string",
          "description": "This model_config_id points to ModelConfig::id which allows us to find the ModelConfig to route to. This is part of the banks specified in the ModelBankConfig."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1ContainerRegistryDestination": {
      "properties": {
        "outputUri": {
          "description": "Required. Container Registry URI of a container image. Only Google Container Registry and Artifact Registry are supported now. Accepted forms: * Google Container Registry path. For example: `gcr.io/projectId/imageName:tag`. * Artifact Registry path. For example: `us-central1-docker.pkg.dev/projectId/repoName/imageName:tag`. If a tag is not specified, \"latest\" will be used as the default tag.",
          "type": "string"
        }
      },
      "description": "The Container Registry location for the container image.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1ContainerRegistryDestination"
    },
    "GoogleCloudAiplatformV1SchemaTextPromptDatasetMetadata": {
      "properties": {
        "temperature": {
          "type": "number",
          "description": "Temperature value used for sampling set when the dataset was saved. This value is used to tune the degree of randomness.",
          "format": "float"
        },
        "groundingConfig": {
          "description": "Grounding checking configuration.",
          "$ref": "GoogleCloudAiplatformV1SchemaPredictParamsGroundingConfig"
        },
        "stopSequences": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Customized stop sequences."
        },
        "promptType": {
          "description": "Type of the prompt dataset.",
          "type": "string"
        },
        "text": {
          "type": "string",
          "description": "The content of the prompt dataset."
        },
        "topK": {
          "description": "Top K value set when the dataset was saved. This value determines how many candidates with highest probability from the vocab would be selected for each decoding step.",
          "type": "string",
          "format": "int64"
        },
        "maxOutputTokens": {
          "description": "Value of the maximum number of tokens generated set when the dataset was saved.",
          "type": "string",
          "format": "int64"
        },
        "note": {
          "type": "string",
          "description": "User-created prompt note. Note size limit is 2KB."
        },
        "candidateCount": {
          "type": "string",
          "description": "Number of candidates.",
          "format": "int64"
        },
        "topP": {
          "format": "float",
          "type": "number",
          "description": "Top P value set when the dataset was saved. Given topK tokens for decoding, top candidates will be selected until the sum of their probabilities is topP."
        },
        "gcsUri": {
          "type": "string",
          "description": "The Google Cloud Storage URI that stores the prompt data."
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaTextPromptDatasetMetadata",
      "type": "object",
      "description": "The metadata of Datasets that contain Text Prompt data."
    },
    "GoogleCloudAiplatformV1DeployModelRequest": {
      "properties": {
        "deployedModel": {
          "description": "Required. The DeployedModel to be created within the Endpoint. Note that Endpoint.traffic_split must be updated for the DeployedModel to start receiving traffic, either as part of this call, or via EndpointService.UpdateEndpoint.",
          "$ref": "GoogleCloudAiplatformV1DeployedModel"
        },
        "trafficSplit": {
          "type": "object",
          "additionalProperties": {
            "format": "int32",
            "type": "integer"
          },
          "description": "A map from a DeployedModel's ID to the percentage of this Endpoint's traffic that should be forwarded to that DeployedModel. If this field is non-empty, then the Endpoint's traffic_split will be overwritten with it. To refer to the ID of the just being deployed Model, a \"0\" should be used, and the actual ID of the new DeployedModel will be filled in its place by this method. The traffic percentage values must add up to 100. If this field is empty, then the Endpoint's traffic_split is not updated."
        }
      },
      "description": "Request message for EndpointService.DeployModel.",
      "id": "GoogleCloudAiplatformV1DeployModelRequest",
      "type": "object"
    },
    "GoogleCloudAiplatformV1TensorboardExperiment": {
      "id": "GoogleCloudAiplatformV1TensorboardExperiment",
      "properties": {
        "etag": {
          "description": "Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Name of the TensorboardExperiment. Format: `projects/{project}/locations/{location}/tensorboards/{tensorboard}/experiments/{experiment}`",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Timestamp when this TensorboardExperiment was last updated.",
          "format": "google-datetime",
          "readOnly": true
        },
        "displayName": {
          "description": "User provided name of this TensorboardExperiment.",
          "type": "string"
        },
        "source": {
          "description": "Immutable. Source of the TensorboardExperiment. Example: a custom training job.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of this TensorboardExperiment."
        },
        "createTime": {
          "description": "Output only. Timestamp when this TensorboardExperiment was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "The labels with user-defined metadata to organize your TensorboardExperiment. Label keys and values cannot be longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. No more than 64 user labels can be associated with one Dataset (System labels are excluded). See https://goo.gl/xmQnxf for more information and examples of labels. System reserved label keys are prefixed with `aiplatform.googleapis.com/` and are immutable. The following system labels exist for each Dataset: * `aiplatform.googleapis.com/dataset_metadata_schema`: output only. Its value is the metadata_schema's title.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "A TensorboardExperiment is a group of TensorboardRuns, that are typically the results of a training job run, in a Tensorboard."
    },
    "GoogleCloudAiplatformV1IndexStats": {
      "description": "Stats of the Index.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1IndexStats",
      "properties": {
        "shardsCount": {
          "description": "Output only. The number of shards in the Index.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "vectorsCount": {
          "readOnly": true,
          "description": "Output only. The number of vectors in the Index.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTextClassification": {
      "type": "object",
      "properties": {
        "inputs": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTextClassificationInputs",
          "description": "The input parameters of this TrainingJob."
        }
      },
      "description": "A TrainingJob that trains and uploads an AutoML Text Classification Model.",
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTextClassification"
    },
    "GoogleCloudAiplatformV1SearchFeaturesResponse": {
      "description": "Response message for FeaturestoreService.SearchFeatures.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as SearchFeaturesRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "features": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Feature"
          },
          "description": "The Features matching the request. Fields returned: * `name` * `description` * `labels` * `create_time` * `update_time`"
        }
      },
      "id": "GoogleCloudAiplatformV1SearchFeaturesResponse"
    },
    "GoogleCloudAiplatformV1Int64Array": {
      "type": "object",
      "properties": {
        "values": {
          "description": "A list of int64 values.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      },
      "description": "A list of int64 values.",
      "id": "GoogleCloudAiplatformV1Int64Array"
    },
    "CloudAiNlLlmProtoServicePartVideoMetadata": {
      "description": "Metadata describes the input video content.",
      "type": "object",
      "properties": {
        "startOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "The start offset of the video."
        },
        "endOffset": {
          "format": "google-duration",
          "description": "The end offset of the video.",
          "type": "string"
        }
      },
      "id": "CloudAiNlLlmProtoServicePartVideoMetadata"
    },
    "GoogleCloudAiplatformV1SpecialistPool": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SpecialistPool",
      "properties": {
        "specialistWorkerEmails": {
          "items": {
            "type": "string"
          },
          "description": "The email addresses of workers in the SpecialistPool.",
          "type": "array"
        },
        "specialistManagerEmails": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The email addresses of the managers in the SpecialistPool."
        },
        "name": {
          "type": "string",
          "description": "Required. The resource name of the SpecialistPool."
        },
        "displayName": {
          "type": "string",
          "description": "Required. The user-defined name of the SpecialistPool. The name can be up to 128 characters long and can consist of any UTF-8 characters. This field should be unique on project-level."
        },
        "specialistManagersCount": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The number of managers in this SpecialistPool."
        },
        "pendingDataLabelingJobs": {
          "readOnly": true,
          "description": "Output only. The resource name of the pending data labeling jobs.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "SpecialistPool represents customers' own workforce to work on their data labeling jobs. It includes a group of specialist managers and workers. Managers are responsible for managing the workers in this pool as well as customers' data labeling jobs associated with this pool. Customers create specialist pool as well as start data labeling jobs on Cloud, managers and workers handle the jobs using CrowdCompute console."
    },
    "GoogleCloudAiplatformV1AddContextChildrenResponse": {
      "id": "GoogleCloudAiplatformV1AddContextChildrenResponse",
      "properties": {},
      "description": "Response message for MetadataService.AddContextChildren.",
      "type": "object"
    },
    "CloudAiLargeModelsVisionMedia": {
      "id": "CloudAiLargeModelsVisionMedia",
      "type": "object",
      "description": "Media.",
      "properties": {
        "image": {
          "$ref": "CloudAiLargeModelsVisionImage",
          "description": "Image."
        },
        "video": {
          "$ref": "CloudAiLargeModelsVisionVideo",
          "description": "Video"
        }
      }
    },
    "GoogleCloudAiplatformV1ThresholdConfig": {
      "description": "The config for feature monitoring threshold.",
      "properties": {
        "value": {
          "type": "number",
          "format": "double",
          "description": "Specify a threshold value that can trigger the alert. If this threshold config is for feature distribution distance: 1. For categorical feature, the distribution distance is calculated by L-inifinity norm. 2. For numerical feature, the distribution distance is calculated by Jensen–Shannon divergence. Each feature must have a non-zero threshold if they need to be monitored. Otherwise no alert will be triggered for that feature."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1ThresholdConfig"
    },
    "GoogleCloudAiplatformV1ExportTensorboardTimeSeriesDataRequest": {
      "description": "Request message for TensorboardService.ExportTensorboardTimeSeriesData.",
      "properties": {
        "pageSize": {
          "description": "The maximum number of data points to return per page. The default page_size is 1000. Values must be between 1 and 10000. Values above 10000 are coerced to 10000.",
          "format": "int32",
          "type": "integer"
        },
        "filter": {
          "description": "Exports the TensorboardTimeSeries' data that match the filter expression.",
          "type": "string"
        },
        "orderBy": {
          "type": "string",
          "description": "Field to use to sort the TensorboardTimeSeries' data. By default, TensorboardTimeSeries' data is returned in a pseudo random order."
        },
        "pageToken": {
          "type": "string",
          "description": "A page token, received from a previous ExportTensorboardTimeSeriesData call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to ExportTensorboardTimeSeriesData must match the call that provided the page token."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1ExportTensorboardTimeSeriesDataRequest"
    },
    "GoogleCloudAiplatformV1CompletionStats": {
      "properties": {
        "incompleteCount": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. In cases when enough errors are encountered a job, pipeline, or operation may be failed as a whole. Below is the number of entities for which the processing had not been finished (either in successful or failed state). Set to -1 if the number is unknown (for example, the operation failed before the total entity number could be collected).",
          "format": "int64"
        },
        "successfulForecastPointCount": {
          "type": "string",
          "description": "Output only. The number of the successful forecast points that are generated by the forecasting model. This is ONLY used by the forecasting batch prediction.",
          "readOnly": true,
          "format": "int64"
        },
        "failedCount": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The number of entities for which any error was encountered."
        },
        "successfulCount": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The number of entities that had been processed successfully."
        }
      },
      "id": "GoogleCloudAiplatformV1CompletionStats",
      "description": "Success and error statistics of processing multiple entities (for example, DataItems or structured data rows) in batch.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1CopyModelResponse": {
      "properties": {
        "modelVersionId": {
          "readOnly": true,
          "description": "Output only. The version ID of the model that is copied.",
          "type": "string"
        },
        "model": {
          "description": "The name of the copied Model resource. Format: `projects/{project}/locations/{location}/models/{model}`",
          "type": "string"
        }
      },
      "description": "Response message of ModelService.CopyModel operation.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1CopyModelResponse"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputs": {
      "type": "object",
      "properties": {
        "targetColumn": {
          "type": "string",
          "description": "The column name of the target column that the model is to predict."
        },
        "transformations": {
          "description": "Each transformation will apply transform function to given input column. And the result will be used for training. When creating transformation for BigQuery Struct column, the column should be flattened using \".\" as the delimiter.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformation"
          },
          "type": "array"
        },
        "optimizationObjective": {
          "type": "string",
          "description": "Objective function the model is optimizing towards. The training process creates a model that maximizes/minimizes the value of the objective function over the validation set. The supported optimization objectives depend on the prediction type. If the field is not set, a default objective function is used. classification (binary): \"maximize-au-roc\" (default) - Maximize the area under the receiver operating characteristic (ROC) curve. \"minimize-log-loss\" - Minimize log loss. \"maximize-au-prc\" - Maximize the area under the precision-recall curve. \"maximize-precision-at-recall\" - Maximize precision for a specified recall value. \"maximize-recall-at-precision\" - Maximize recall for a specified precision value. classification (multi-class): \"minimize-log-loss\" (default) - Minimize log loss. regression: \"minimize-rmse\" (default) - Minimize root-mean-squared error (RMSE). \"minimize-mae\" - Minimize mean-absolute error (MAE). \"minimize-rmsle\" - Minimize root-mean-squared log error (RMSLE)."
        },
        "exportEvaluatedDataItemsConfig": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionExportEvaluatedDataItemsConfig",
          "description": "Configuration for exporting test set predictions to a BigQuery table. If this configuration is absent, then the export is not performed."
        },
        "additionalExperiments": {
          "description": "Additional experiment flags for the Tables training pipeline.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "trainBudgetMilliNodeHours": {
          "description": "Required. The train budget of creating this model, expressed in milli node hours i.e. 1,000 value in this field means 1 node hour. The training cost of the model will not exceed this budget. The final cost will be attempted to be close to the budget, though may end up being (even) noticeably smaller - at the backend's discretion. This especially may happen when further model training ceases to provide any improvements. If the budget is set to a value known to be insufficient to train a model for the given dataset, the training won't be attempted and will error. The train budget must be between 1,000 and 72,000 milli node hours, inclusive.",
          "type": "string",
          "format": "int64"
        },
        "predictionType": {
          "description": "The type of prediction the Model is to produce. \"classification\" - Predict one out of multiple target values is picked for each row. \"regression\" - Predict a value based on its relation to other values. This type is available only to columns that contain semantically numeric values, i.e. integers or floating point number, even if stored as e.g. strings.",
          "type": "string"
        },
        "optimizationObjectiveRecallValue": {
          "format": "float",
          "type": "number",
          "description": "Required when optimization_objective is \"maximize-precision-at-recall\". Must be between 0 and 1, inclusive."
        },
        "optimizationObjectivePrecisionValue": {
          "type": "number",
          "description": "Required when optimization_objective is \"maximize-recall-at-precision\". Must be between 0 and 1, inclusive.",
          "format": "float"
        },
        "disableEarlyStopping": {
          "type": "boolean",
          "description": "Use the entire training budget. This disables the early stopping feature. By default, the early stopping feature is enabled, which means that AutoML Tables might stop training before the entire training budget has been used."
        },
        "weightColumnName": {
          "description": "Column name that should be used as the weight column. Higher values in this column give more importance to the row during model training. The column must have numeric values between 0 and 10000 inclusively; 0 means the row is ignored for training. If weight column field is not set, then all rows are assumed to have equal weight of 1.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputs"
    },
    "GoogleCloudAiplatformV1Probe": {
      "type": "object",
      "properties": {
        "timeoutSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "Number of seconds after which the probe times out. Defaults to 1 second. Minimum value is 1. Must be greater or equal to period_seconds. Maps to Kubernetes probe argument 'timeoutSeconds'."
        },
        "periodSeconds": {
          "format": "int32",
          "description": "How often (in seconds) to perform the probe. Default to 10 seconds. Minimum value is 1. Must be less than timeout_seconds. Maps to Kubernetes probe argument 'periodSeconds'.",
          "type": "integer"
        },
        "exec": {
          "$ref": "GoogleCloudAiplatformV1ProbeExecAction",
          "description": "Exec specifies the action to take."
        }
      },
      "description": "Probe describes a health check to be performed against a container to determine whether it is alive or ready to receive traffic.",
      "id": "GoogleCloudAiplatformV1Probe"
    },
    "GoogleCloudAiplatformV1ModelSourceInfo": {
      "properties": {
        "sourceType": {
          "enum": [
            "MODEL_SOURCE_TYPE_UNSPECIFIED",
            "AUTOML",
            "CUSTOM",
            "BQML",
            "MODEL_GARDEN",
            "GENIE",
            "CUSTOM_TEXT_EMBEDDING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Should not be used.",
            "The Model is uploaded by automl training pipeline.",
            "The Model is uploaded by user or custom training pipeline.",
            "The Model is registered and sync'ed from BigQuery ML.",
            "The Model is saved or tuned from Model Garden.",
            "The Model is saved or tuned from Genie.",
            "The Model is uploaded by text embedding finetuning pipeline."
          ],
          "description": "Type of the model source."
        },
        "copy": {
          "type": "boolean",
          "description": "If this Model is copy of another Model. If true then source_type pertains to the original."
        }
      },
      "type": "object",
      "description": "Detail description of the source information of the model.",
      "id": "GoogleCloudAiplatformV1ModelSourceInfo"
    },
    "GoogleCloudAiplatformV1StratifiedSplit": {
      "id": "GoogleCloudAiplatformV1StratifiedSplit",
      "description": "Assigns input data to the training, validation, and test sets so that the distribution of values found in the categorical column (as specified by the `key` field) is mirrored within each split. The fraction values determine the relative sizes of the splits. For example, if the specified column has three values, with 50% of the rows having value \"A\", 25% value \"B\", and 25% value \"C\", and the split fractions are specified as 80/10/10, then the training set will constitute 80% of the training data, with about 50% of the training set rows having the value \"A\" for the specified column, about 25% having the value \"B\", and about 25% having the value \"C\". Only the top 500 occurring values are used; any values not in the top 500 values are randomly assigned to a split. If less than three rows contain a specific value, those rows are randomly assigned. Supported only for tabular Datasets.",
      "type": "object",
      "properties": {
        "testFraction": {
          "format": "double",
          "type": "number",
          "description": "The fraction of the input data that is to be used to evaluate the Model."
        },
        "trainingFraction": {
          "format": "double",
          "description": "The fraction of the input data that is to be used to train the Model.",
          "type": "number"
        },
        "validationFraction": {
          "format": "double",
          "type": "number",
          "description": "The fraction of the input data that is to be used to validate the Model."
        },
        "key": {
          "description": "Required. The key is a name of one of the Dataset's data columns. The key provided must be for a categorical column.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1TimestampSplit": {
      "properties": {
        "testFraction": {
          "description": "The fraction of the input data that is to be used to evaluate the Model.",
          "type": "number",
          "format": "double"
        },
        "validationFraction": {
          "format": "double",
          "type": "number",
          "description": "The fraction of the input data that is to be used to validate the Model."
        },
        "trainingFraction": {
          "type": "number",
          "format": "double",
          "description": "The fraction of the input data that is to be used to train the Model."
        },
        "key": {
          "description": "Required. The key is a name of one of the Dataset's data columns. The values of the key (the values in the column) must be in RFC 3339 `date-time` format, where `time-offset` = `\"Z\"` (e.g. 1985-04-12T23:20:50.52Z). If for a piece of data the key is not present or has an invalid value, that piece is ignored by the pipeline.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1TimestampSplit",
      "description": "Assigns input data to training, validation, and test sets based on a provided timestamps. The youngest data pieces are assigned to training set, next to validation set, and the oldest to the test set. Supported only for tabular Datasets.",
      "type": "object"
    },
    "GoogleTypeColor": {
      "properties": {
        "red": {
          "description": "The amount of red in the color as a value in the interval [0, 1].",
          "format": "float",
          "type": "number"
        },
        "green": {
          "type": "number",
          "description": "The amount of green in the color as a value in the interval [0, 1].",
          "format": "float"
        },
        "alpha": {
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0).",
          "format": "float",
          "type": "number"
        },
        "blue": {
          "format": "float",
          "type": "number",
          "description": "The amount of blue in the color as a value in the interval [0, 1]."
        }
      },
      "id": "GoogleTypeColor",
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha \u003c= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red \u003c\u003c 16) | (green \u003c\u003c 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i \u003c missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ...",
      "type": "object"
    },
    "GoogleCloudAiplatformV1FeatureValue": {
      "properties": {
        "doubleArrayValue": {
          "description": "A list of double type feature value.",
          "$ref": "GoogleCloudAiplatformV1DoubleArray"
        },
        "bytesValue": {
          "type": "string",
          "format": "byte",
          "description": "Bytes feature value."
        },
        "stringArrayValue": {
          "description": "A list of string type feature value.",
          "$ref": "GoogleCloudAiplatformV1StringArray"
        },
        "doubleValue": {
          "format": "double",
          "description": "Double type feature value.",
          "type": "number"
        },
        "boolArrayValue": {
          "description": "A list of bool type feature value.",
          "$ref": "GoogleCloudAiplatformV1BoolArray"
        },
        "metadata": {
          "$ref": "GoogleCloudAiplatformV1FeatureValueMetadata",
          "description": "Metadata of feature value."
        },
        "boolValue": {
          "description": "Bool type feature value.",
          "type": "boolean"
        },
        "int64ArrayValue": {
          "description": "A list of int64 type feature value.",
          "$ref": "GoogleCloudAiplatformV1Int64Array"
        },
        "int64Value": {
          "format": "int64",
          "description": "Int64 feature value.",
          "type": "string"
        },
        "stringValue": {
          "description": "String feature value.",
          "type": "string"
        }
      },
      "description": "Value for a feature.",
      "id": "GoogleCloudAiplatformV1FeatureValue",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ExplanationMetadataOverrideInputMetadataOverride": {
      "properties": {
        "inputBaselines": {
[...]
