{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "endpoints": [
    {
      "endpointUrl": "https://asia-east1-aiplatform.googleapis.com/",
      "location": "asia-east1",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-east2-aiplatform.googleapis.com/",
      "location": "asia-east2"
    },
    {
      "endpointUrl": "https://asia-northeast1-aiplatform.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Locational Endpoint"
    },
    {
      "location": "asia-northeast2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-northeast2-aiplatform.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "location": "asia-northeast3",
      "endpointUrl": "https://asia-northeast3-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://asia-south1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "asia-south1"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://asia-southeast1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "asia-southeast2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-southeast2-aiplatform.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "location": "australia-southeast1",
      "endpointUrl": "https://australia-southeast1-aiplatform.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://australia-southeast2-aiplatform.googleapis.com/",
      "location": "australia-southeast2"
    },
    {
      "location": "europe-central2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-central2-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://europe-north1-aiplatform.googleapis.com/",
      "location": "europe-north1",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-southwest1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-southwest1"
    },
    {
      "endpointUrl": "https://europe-west1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-west1"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://europe-west2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west3-aiplatform.googleapis.com/",
      "location": "europe-west3"
    },
    {
      "endpointUrl": "https://europe-west4-aiplatform.googleapis.com/",
      "location": "europe-west4",
      "description": "Locational Endpoint"
    },
    {
      "location": "europe-west6",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west6-aiplatform.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "location": "europe-west8",
      "endpointUrl": "https://europe-west8-aiplatform.googleapis.com/"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://europe-west9-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "me-west1",
      "endpointUrl": "https://me-west1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://northamerica-northeast1-aiplatform.googleapis.com/",
      "location": "northamerica-northeast1"
    },
    {
      "endpointUrl": "https://northamerica-northeast2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "northamerica-northeast2"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://southamerica-east1-aiplatform.googleapis.com/",
      "location": "southamerica-east1"
    },
    {
      "location": "southamerica-west1",
      "endpointUrl": "https://southamerica-west1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-central1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "us-central1"
    },
    {
      "description": "Locational Endpoint",
      "location": "us-central2",
      "endpointUrl": "https://us-central2-aiplatform.googleapis.com/"
    },
    {
      "location": "us-east1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-east1-aiplatform.googleapis.com/"
    },
    {
      "location": "us-east4",
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-east4-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://us-south1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "us-south1"
    },
    {
      "endpointUrl": "https://us-west1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "us-west1"
    },
    {
      "location": "us-west2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-west2-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://us-west3-aiplatform.googleapis.com/",
      "location": "us-west3",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-west4-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "us-west4"
    }
  ],
  "version": "v1beta1",
  "rootUrl": "https://aiplatform.googleapis.com/",
  "kind": "discovery#restDescription",
  "description": "Train high-quality custom machine learning models with minimal machine learning expertise and effort.",
  "title": "Vertex AI API",
  "servicePath": "",
  "version_module": true,
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://aiplatform.mtls.googleapis.com/",
  "name": "aiplatform",
  "ownerName": "Google",
  "baseUrl": "https://aiplatform.googleapis.com/",
  "ownerDomain": "google.com",
  "id": "aiplatform:v1beta1",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/vertex-ai/",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "canonicalName": "Aiplatform",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "schemas": {
    "GoogleCloudAiplatformV1beta1ExamplesOverride": {
      "properties": {
        "neighborCount": {
          "format": "int32",
          "description": "The number of neighbors to return.",
          "type": "integer"
        },
        "crowdingCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of neighbors to return that have the same crowding tag."
        },
        "dataFormat": {
          "description": "The format of the data being provided with each call.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified format. Must not be used.",
            "Provided data is a set of model inputs.",
            "Provided data is a set of embeddings."
          ],
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "INSTANCES",
            "EMBEDDINGS"
          ]
        },
        "returnEmbeddings": {
          "type": "boolean",
          "description": "If true, return the embeddings instead of neighbors."
        },
        "restrictions": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1ExamplesRestrictionsNamespace"
          },
          "type": "array",
          "description": "Restrict the resulting nearest neighbors to respect these constraints."
        }
      },
      "id": "GoogleCloudAiplatformV1beta1ExamplesOverride",
      "description": "Overrides for example-based explanations.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1UpdateIndexOperationMetadata": {
      "description": "Runtime operation information for IndexService.UpdateIndex.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1UpdateIndexOperationMetadata",
      "properties": {
        "nearestNeighborSearchOperationMetadata": {
          "$ref": "GoogleCloudAiplatformV1beta1NearestNeighborSearchOperationMetadata",
          "description": "The operation metadata with regard to Matching Engine Index operation."
        },
        "genericMetadata": {
          "description": "The operation generic information.",
          "$ref": "GoogleCloudAiplatformV1beta1GenericOperationMetadata"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1AddExecutionEventsResponse": {
      "properties": {},
      "type": "object",
      "description": "Response message for MetadataService.AddExecutionEvents.",
      "id": "GoogleCloudAiplatformV1beta1AddExecutionEventsResponse"
    },
    "GoogleTypeExpr": {
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "GoogleTypeExpr",
      "properties": {
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        }
      }
    },
    "GoogleCloudAiplatformV1beta1FeaturestoreMonitoringConfig": {
      "type": "object",
      "properties": {
        "snapshotAnalysis": {
          "description": "The config for Snapshot Analysis Based Feature Monitoring.",
          "$ref": "GoogleCloudAiplatformV1beta1FeaturestoreMonitoringConfigSnapshotAnalysis"
        },
        "categoricalThresholdConfig": {
          "description": "Threshold for categorical features of anomaly detection. This is shared by all types of Featurestore Monitoring for categorical features (i.e. Features with type (Feature.ValueType) BOOL or STRING).",
          "$ref": "GoogleCloudAiplatformV1beta1FeaturestoreMonitoringConfigThresholdConfig"
        },
        "numericalThresholdConfig": {
          "$ref": "GoogleCloudAiplatformV1beta1FeaturestoreMonitoringConfigThresholdConfig",
          "description": "Threshold for numerical features of anomaly detection. This is shared by all objectives of Featurestore Monitoring for numerical features (i.e. Features with type (Feature.ValueType) DOUBLE or INT64)."
        },
        "importFeaturesAnalysis": {
          "description": "The config for ImportFeatures Analysis Based Feature Monitoring.",
          "$ref": "GoogleCloudAiplatformV1beta1FeaturestoreMonitoringConfigImportFeaturesAnalysis"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1FeaturestoreMonitoringConfig",
      "description": "Configuration of how features in Featurestore are monitored."
    },
    "GoogleCloudAiplatformV1beta1CreateDeploymentResourcePoolRequest": {
      "id": "GoogleCloudAiplatformV1beta1CreateDeploymentResourcePoolRequest",
      "type": "object",
      "description": "Request message for CreateDeploymentResourcePool method.",
      "properties": {
        "deploymentResourcePoolId": {
          "description": "Required. The ID to use for the DeploymentResourcePool, which will become the final component of the DeploymentResourcePool's resource name. The maximum length is 63 characters, and valid characters are `/^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$/`.",
          "type": "string"
        },
        "deploymentResourcePool": {
          "description": "Required. The DeploymentResourcePool to create.",
          "$ref": "GoogleCloudAiplatformV1beta1DeploymentResourcePool"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1UpsertDatapointsResponse": {
      "description": "Response message for IndexService.UpsertDatapoints",
      "id": "GoogleCloudAiplatformV1beta1UpsertDatapointsResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudAiplatformV1beta1SchemaPredictInstanceVideoClassificationPredictionInstance": {
      "description": "Prediction input format for Video Classification.",
      "type": "object",
      "properties": {
        "content": {
          "description": "The Google Cloud Storage location of the video on which to perform the prediction.",
          "type": "string"
        },
        "timeSegmentEnd": {
          "type": "string",
          "description": "The end, exclusive, of the video's time segment on which to perform the prediction. Expressed as a number of seconds as measured from the start of the video, with \"s\" appended at the end. Fractions are allowed, up to a microsecond precision, and \"inf\" or \"Infinity\" is allowed, which means the end of the video."
        },
        "timeSegmentStart": {
          "description": "The beginning, inclusive, of the video's time segment on which to perform the prediction. Expressed as a number of seconds as measured from the start of the video, with \"s\" appended at the end. Fractions are allowed, up to a microsecond precision.",
          "type": "string"
        },
        "mimeType": {
          "description": "The MIME type of the content of the video. Only the following are supported: video/mp4 video/avi video/quicktime",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1SchemaPredictInstanceVideoClassificationPredictionInstance"
    },
    "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionSeq2SeqPlusForecasting": {
      "description": "A TrainingJob that trains and uploads an AutoML Forecasting Model.",
      "id": "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionSeq2SeqPlusForecasting",
      "properties": {
        "inputs": {
          "$ref": "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionSeq2SeqPlusForecastingInputs",
          "description": "The input parameters of this TrainingJob."
        },
        "metadata": {
          "description": "The metadata information.",
          "$ref": "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionSeq2SeqPlusForecastingMetadata"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1ListIndexEndpointsResponse": {
      "id": "GoogleCloudAiplatformV1beta1ListIndexEndpointsResponse",
      "description": "Response message for IndexEndpointService.ListIndexEndpoints.",
      "type": "object",
      "properties": {
        "indexEndpoints": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1IndexEndpoint"
          },
          "description": "List of IndexEndpoints in the requested page.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results. Pass to ListIndexEndpointsRequest.page_token to obtain that page."
        }
      }
    },
    "GoogleCloudAiplatformV1beta1EntityIdSelector": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1EntityIdSelector",
      "properties": {
        "csvSource": {
          "$ref": "GoogleCloudAiplatformV1beta1CsvSource",
          "description": "Source of Csv"
        },
        "entityIdField": {
          "type": "string",
          "description": "Source column that holds entity IDs. If not provided, entity IDs are extracted from the column named entity_id."
        }
      },
      "description": "Selector for entityId. Getting ids from the given source."
    },
    "GoogleCloudAiplatformV1beta1ExportFeatureValuesRequest": {
      "type": "object",
      "description": "Request message for FeaturestoreService.ExportFeatureValues.",
      "id": "GoogleCloudAiplatformV1beta1ExportFeatureValuesRequest",
      "properties": {
        "snapshotExport": {
          "$ref": "GoogleCloudAiplatformV1beta1ExportFeatureValuesRequestSnapshotExport",
          "description": "Exports the latest Feature values of all entities of the EntityType within a time range."
        },
        "fullExport": {
          "$ref": "GoogleCloudAiplatformV1beta1ExportFeatureValuesRequestFullExport",
          "description": "Exports all historical values of all entities of the EntityType within a time range"
        },
        "featureSelector": {
          "$ref": "GoogleCloudAiplatformV1beta1FeatureSelector",
          "description": "Required. Selects Features to export values of."
        },
        "settings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1DestinationFeatureSetting"
          },
          "description": "Per-Feature export settings."
        },
        "destination": {
          "description": "Required. Specifies destination location and format.",
          "$ref": "GoogleCloudAiplatformV1beta1FeatureValueDestination"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1Execution": {
      "id": "GoogleCloudAiplatformV1beta1Execution",
      "properties": {
        "schemaTitle": {
          "type": "string",
          "description": "The title of the schema describing the metadata. Schema title and version is expected to be registered in earlier Create Schema calls. And both are used together as unique identifiers to identify schemas within the local metadata store."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Properties of the Execution. Top level metadata keys' heading and trailing spaces will be trimmed. The size of this field should not exceed 200KB.",
          "type": "object"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when this Execution was last updated."
        },
        "schemaVersion": {
          "type": "string",
          "description": "The version of the schema in `schema_title` to use. Schema title and version is expected to be registered in earlier Create Schema calls. And both are used together as unique identifiers to identify schemas within the local metadata store."
        },
        "state": {
          "description": "The state of this Execution. This is a property of the Execution, and does not imply or capture any ongoing process. This property is managed by clients (such as Vertex AI Pipelines) and the system does not prescribe or check the validity of state transitions.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "RUNNING",
            "COMPLETE",
            "FAILED",
            "CACHED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified Execution state",
            "The Execution is new",
            "The Execution is running",
            "The Execution has finished running",
            "The Execution has failed",
            "The Execution completed through Cache hit.",
            "The Execution was cancelled."
          ]
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The labels with user-defined metadata to organize your Executions. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. No more than 64 user labels can be associated with one Execution (System labels are excluded)."
        },
        "displayName": {
          "type": "string",
          "description": "User provided display name of the Execution. May be up to 128 Unicode characters."
        },
        "etag": {
          "description": "An eTag used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when this Execution was created."
        },
        "description": {
          "type": "string",
          "description": "Description of the Execution"
        },
        "name": {
          "description": "Output only. The resource name of the Execution.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "Instance of a general execution."
    },
    "GoogleCloudAiplatformV1beta1PipelineTaskExecutorDetailContainerDetail": {
      "properties": {
        "mainJob": {
          "description": "Output only. The name of the CustomJob for the main container execution.",
          "readOnly": true,
          "type": "string"
        },
        "preCachingCheckJob": {
          "description": "Output only. The name of the CustomJob for the pre-caching-check container execution. This job will be available if the PipelineJob.pipeline_spec specifies the `pre_caching_check` hook in the lifecycle events.",
          "readOnly": true,
          "type": "string"
        },
        "failedPreCachingCheckJobs": {
          "description": "Output only. The names of the previously failed CustomJob for the pre-caching-check container executions. This job will be available if the PipelineJob.pipeline_spec specifies the `pre_caching_check` hook in the lifecycle events. The list includes the all attempts in chronological order.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "failedMainJobs": {
          "type": "array",
          "description": "Output only. The names of the previously failed CustomJob for the main container executions. The list includes the all attempts in chronological order.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudAiplatformV1beta1PipelineTaskExecutorDetailContainerDetail",
      "type": "object",
      "description": "The detail of a container execution. It contains the job names of the lifecycle of a container execution."
    },
    "GoogleCloudAiplatformV1beta1SchemaModelevaluationMetricsBoundingBoxMetricsConfidenceMetrics": {
      "id": "GoogleCloudAiplatformV1beta1SchemaModelevaluationMetricsBoundingBoxMetricsConfidenceMetrics",
      "description": "Metrics for a single confidence threshold.",
      "properties": {
        "recall": {
          "description": "Recall under the given confidence threshold.",
          "format": "float",
          "type": "number"
        },
        "confidenceThreshold": {
          "type": "number",
          "format": "float",
          "description": "The confidence threshold value used to compute the metrics."
        },
        "precision": {
          "format": "float",
          "type": "number",
          "description": "Precision under the given confidence threshold."
        },
        "f1Score": {
          "type": "number",
          "description": "The harmonic mean of recall and precision.",
          "format": "float"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1LargeModelReference": {
      "description": "Contains information about the Large Model.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1LargeModelReference",
      "properties": {
        "name": {
          "description": "Required. The unique name of the large Foundation or pre-built model. Like \"chat-bison\", \"text-bison\". Or model name with version ID, like \"chat-bison@001\", \"text-bison@005\", etc.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1UpdateDeploymentResourcePoolOperationMetadata": {
      "type": "object",
      "description": "Runtime operation information for UpdateDeploymentResourcePool method.",
      "id": "GoogleCloudAiplatformV1beta1UpdateDeploymentResourcePoolOperationMetadata",
      "properties": {
        "genericMetadata": {
          "$ref": "GoogleCloudAiplatformV1beta1GenericOperationMetadata",
          "description": "The operation generic information."
        }
      }
    },
    "GoogleCloudAiplatformV1beta1SchemaModelevaluationMetricsClassificationEvaluationMetricsConfidenceMetrics": {
      "id": "GoogleCloudAiplatformV1beta1SchemaModelevaluationMetricsClassificationEvaluationMetricsConfidenceMetrics",
      "type": "object",
      "properties": {
        "falsePositiveRateAt1": {
          "description": "The False Positive Rate when only considering the label that has the highest prediction score and not below the confidence threshold for each DataItem.",
          "type": "number",
          "format": "float"
        },
        "f1ScoreMacro": {
          "format": "float",
          "type": "number",
          "description": "Macro-averaged F1 Score."
        },
        "maxPredictions": {
          "type": "integer",
          "format": "int32",
          "description": "Metrics are computed with an assumption that the Model always returns at most this many predictions (ordered by their score, descendingly), but they all still need to meet the `confidenceThreshold`."
        },
        "confidenceThreshold": {
          "format": "float",
          "type": "number",
          "description": "Metrics are computed with an assumption that the Model never returns predictions with score lower than this value."
        },
        "f1ScoreMicro": {
          "type": "number",
          "format": "float",
          "description": "Micro-averaged F1 Score."
        },
        "recallAt1": {
          "format": "float",
          "type": "number",
          "description": "The Recall (True Positive Rate) when only considering the label that has the highest prediction score and not below the confidence threshold for each DataItem."
        },
        "precisionAt1": {
          "description": "The precision when only considering the label that has the highest prediction score and not below the confidence threshold for each DataItem.",
          "format": "float",
          "type": "number"
        },
        "falseNegativeCount": {
          "description": "The number of ground truth labels that are not matched by a Model created label.",
          "format": "int64",
          "type": "string"
        },
        "truePositiveCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of Model created labels that match a ground truth label."
        },
        "trueNegativeCount": {
          "description": "The number of labels that were not created by the Model, but if they would, they would not match a ground truth label.",
          "type": "string",
          "format": "int64"
        },
        "confusionMatrix": {
          "$ref": "GoogleCloudAiplatformV1beta1SchemaModelevaluationMetricsConfusionMatrix",
          "description": "Confusion matrix of the evaluation for this confidence_threshold."
        },
        "f1Score": {
          "type": "number",
          "format": "float",
          "description": "The harmonic mean of recall and precision. For summary metrics, it computes the micro-averaged F1 score."
        },
        "precision": {
          "description": "Precision for the given confidence threshold.",
          "format": "float",
          "type": "number"
        },
        "f1ScoreAt1": {
          "type": "number",
          "description": "The harmonic mean of recallAt1 and precisionAt1.",
          "format": "float"
        },
        "falsePositiveRate": {
          "description": "False Positive Rate for the given confidence threshold.",
          "format": "float",
          "type": "number"
        },
        "recall": {
          "format": "float",
          "description": "Recall (True Positive Rate) for the given confidence threshold.",
          "type": "number"
        },
        "falsePositiveCount": {
          "description": "The number of Model created labels that do not match a ground truth label.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1ModelDeploymentMonitoringScheduleConfig": {
      "id": "GoogleCloudAiplatformV1beta1ModelDeploymentMonitoringScheduleConfig",
      "type": "object",
      "properties": {
        "monitorWindow": {
          "format": "google-duration",
          "description": "The time window of the prediction data being included in each prediction dataset. This window specifies how long the data should be collected from historical model results for each run. If not set, ModelDeploymentMonitoringScheduleConfig.monitor_interval will be used. e.g. If currently the cutoff time is 2022-01-08 14:30:00 and the monitor_window is set to be 3600, then data from 2022-01-08 13:30:00 to 2022-01-08 14:30:00 will be retrieved and aggregated to calculate the monitoring statistics.",
          "type": "string"
        },
        "monitorInterval": {
          "type": "string",
          "description": "Required. The model monitoring job scheduling interval. It will be rounded up to next full hour. This defines how often the monitoring jobs are triggered.",
          "format": "google-duration"
        }
      },
      "description": "The config for scheduling monitoring job."
    },
    "GoogleCloudAiplatformV1beta1ModelEvaluation": {
      "description": "A collection of metrics calculated by comparing Model's predictions on all of the test data against annotations from the test data.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1ModelEvaluation",
      "properties": {
        "biasConfigs": {
          "$ref": "GoogleCloudAiplatformV1beta1ModelEvaluationBiasConfig",
          "description": "Specify the configuration for bias detection."
        },
        "modelExplanation": {
          "$ref": "GoogleCloudAiplatformV1beta1ModelExplanation",
          "description": "Aggregated explanation metrics for the Model's prediction output over the data this ModelEvaluation uses. This field is populated only if the Model is evaluated with explanations, and only for AutoML tabular Models. "
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the ModelEvaluation."
        },
        "sliceDimensions": {
          "type": "array",
          "description": "All possible dimensions of ModelEvaluationSlices. The dimensions can be used as the filter of the ModelService.ListModelEvaluationSlices request, in the form of `slice.dimension = `.",
          "items": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. Timestamp when this ModelEvaluation was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "explanationSpecs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1ModelEvaluationModelEvaluationExplanationSpec"
          },
          "description": "Describes the values of ExplanationSpec that are used for explaining the predicted values on the evaluated data."
        },
        "metadata": {
          "type": "any",
          "description": "The metadata of the ModelEvaluation. For the ModelEvaluation uploaded from Managed Pipeline, metadata contains a structured value with keys of \"pipeline_job_id\", \"evaluation_dataset_type\", \"evaluation_dataset_path\"."
        },
        "metricsSchemaUri": {
          "description": "Points to a YAML file stored on Google Cloud Storage describing the metrics of this ModelEvaluation. The schema is defined as an OpenAPI 3.0.2 [Schema Object](https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.0.2.md#schemaObject).",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the ModelEvaluation."
        },
        "metrics": {
          "type": "any",
          "description": "Evaluation metrics of the Model. The schema of the metrics is stored in metrics_schema_uri"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1ModelMonitoringStatsAnomaliesFeatureHistoricStatsAnomalies": {
      "properties": {
        "featureDisplayName": {
          "description": "Display Name of the Feature.",
          "type": "string"
        },
        "predictionStats": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1FeatureStatsAnomaly"
          },
          "description": "A list of historical stats generated by different time window's Prediction Dataset.",
          "type": "array"
        },
        "threshold": {
          "description": "Threshold for anomaly detection.",
          "$ref": "GoogleCloudAiplatformV1beta1ThresholdConfig"
        },
        "trainingStats": {
          "description": "Stats calculated for the Training Dataset.",
          "$ref": "GoogleCloudAiplatformV1beta1FeatureStatsAnomaly"
        }
      },
      "description": "Historical Stats (and Anomalies) for a specific Feature.",
      "id": "GoogleCloudAiplatformV1beta1ModelMonitoringStatsAnomaliesFeatureHistoricStatsAnomalies",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1IdMatcher": {
      "type": "object",
      "description": "Matcher for Features of an EntityType by Feature ID.",
      "properties": {
        "ids": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The following are accepted as `ids`: * A single-element list containing only `*`, which selects all Features in the target EntityType, or * A list containing only Feature IDs, which selects only Features with those IDs in the target EntityType."
        }
      },
      "id": "GoogleCloudAiplatformV1beta1IdMatcher"
    },
    "GoogleCloudAiplatformV1beta1ExplainRequest": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1ExplainRequest",
      "description": "Request message for PredictionService.Explain.",
      "properties": {
        "deployedModelId": {
          "description": "If specified, this ExplainRequest will be served by the chosen DeployedModel, overriding Endpoint.traffic_split.",
          "type": "string"
        },
        "parameters": {
          "type": "any",
          "description": "The parameters that govern the prediction. The schema of the parameters may be specified via Endpoint's DeployedModels' Model's PredictSchemata's parameters_schema_uri."
        },
        "instances": {
          "description": "Required. The instances that are the input to the explanation call. A DeployedModel may have an upper limit on the number of instances it supports per request, and when it is exceeded the explanation call errors in case of AutoML Models, or, in case of customer created Models, the behaviour is as documented by that Model. The schema of any single instance may be specified via Endpoint's DeployedModels' Model's PredictSchemata's instance_schema_uri.",
          "items": {
            "type": "any"
          },
          "type": "array"
        },
        "concurrentExplanationSpecOverride": {
          "type": "object",
          "description": "Optional. This field is the same as the one above, but supports multiple explanations to occur in parallel. The key can be any string. Each override will be run against the model, then its explanations will be grouped together. Note - these explanations are run **In Addition** to the default Explanation in the deployed model.",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1beta1ExplanationSpecOverride"
          }
        },
        "explanationSpecOverride": {
          "description": "If specified, overrides the explanation_spec of the DeployedModel. Can be used for explaining prediction results with different configurations, such as: - Explaining top-5 predictions results as opposed to top-1; - Increasing path count or step count of the attribution methods to reduce approximate errors; - Using different baselines for explaining the prediction results.",
          "$ref": "GoogleCloudAiplatformV1beta1ExplanationSpecOverride"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1SchemaPredictPredictionVideoObjectTrackingPredictionResult": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1SchemaPredictPredictionVideoObjectTrackingPredictionResult",
      "properties": {
        "id": {
          "type": "string",
          "description": "The resource ID of the AnnotationSpec that had been identified."
        },
        "confidence": {
          "description": "The Model's confidence in correction of this prediction, higher value means higher confidence.",
          "format": "float",
          "type": "number"
        },
        "frames": {
          "description": "All of the frames of the video in which a single object instance has been detected. The bounding boxes in the frames identify the same object.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1SchemaPredictPredictionVideoObjectTrackingPredictionResultFrame"
          },
          "type": "array"
        },
        "timeSegmentEnd": {
          "format": "google-duration",
          "type": "string",
          "description": "The end, inclusive, of the video's time segment in which the object instance has been detected. Expressed as a number of seconds as measured from the start of the video, with fractions up to a microsecond precision, and with \"s\" appended at the end."
        },
        "displayName": {
          "description": "The display name of the AnnotationSpec that had been identified.",
          "type": "string"
        },
        "timeSegmentStart": {
          "format": "google-duration",
          "type": "string",
          "description": "The beginning, inclusive, of the video's time segment in which the object instance has been detected. Expressed as a number of seconds as measured from the start of the video, with fractions up to a microsecond precision, and with \"s\" appended at the end."
        }
      },
      "description": "Prediction output format for Video Object Tracking."
    },
    "GoogleCloudAiplatformV1beta1GenericOperationMetadata": {
      "id": "GoogleCloudAiplatformV1beta1GenericOperationMetadata",
      "properties": {
        "createTime": {
          "description": "Output only. Time when the operation was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Time when the operation was updated for the last time. If the operation has finished (successfully or not), this is the finish time.",
          "format": "google-datetime",
          "type": "string"
        },
        "partialFailures": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Output only. Partial failures encountered. E.g. single files that couldn't be read. This field should never exceed 20 entries. Status details field will contain standard Google Cloud error details.",
          "type": "array",
          "readOnly": true
        }
      },
      "description": "Generic Metadata shared by all operations.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1Context": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1Context",
      "description": "Instance of a general context.",
      "properties": {
        "parentContexts": {
          "description": "Output only. A list of resource names of Contexts that are parents of this Context. A Context may have at most 10 parent_contexts.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "schemaVersion": {
          "type": "string",
          "description": "The version of the schema in schema_name to use. Schema title and version is expected to be registered in earlier Create Schema calls. And both are used together as unique identifiers to identify schemas within the local metadata store."
        },
        "metadata": {
          "description": "Properties of the Context. Top level metadata keys' heading and trailing spaces will be trimmed. The size of this field should not exceed 200KB.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when this Context was last updated."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The labels with user-defined metadata to organize your Contexts. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. No more than 64 user labels can be associated with one Context (System labels are excluded)."
        },
        "name": {
          "description": "Immutable. The resource name of the Context.",
          "type": "string"
        },
        "etag": {
          "description": "An eTag used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "User provided display name of the Context. May be up to 128 Unicode characters."
        },
        "createTime": {
          "description": "Output only. Timestamp when this Context was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "description": "Description of the Context",
          "type": "string"
        },
        "schemaTitle": {
          "description": "The title of the schema describing the metadata. Schema title and version is expected to be registered in earlier Create Schema calls. And both are used together as unique identifiers to identify schemas within the local metadata store.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1StartNotebookRuntimeRequest": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1StartNotebookRuntimeRequest",
      "description": "Request message for NotebookService.StartNotebookRuntime.",
      "properties": {}
    },
    "GoogleCloudAiplatformV1beta1StudySpecParameterSpecDiscreteValueSpec": {
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          },
          "description": "Required. A list of possible values. The list should be in increasing order and at least 1e-10 apart. For instance, this parameter might have possible settings of 1.5, 2.5, and 4.0. This list should not contain more than 1,000 values."
        },
        "defaultValue": {
          "description": "A default value for a `DISCRETE` parameter that is assumed to be a relatively good starting point. Unset value signals that there is no offered starting point. It automatically rounds to the nearest feasible discrete point. Currently only supported by the Vertex AI Vizier service. Not supported by HyperparameterTuningJob or TrainingPipeline.",
          "type": "number",
          "format": "double"
        }
      },
      "description": "Value specification for a parameter in `DISCRETE` type.",
      "id": "GoogleCloudAiplatformV1beta1StudySpecParameterSpecDiscreteValueSpec",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1DeployIndexRequest": {
      "description": "Request message for IndexEndpointService.DeployIndex.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1DeployIndexRequest",
      "properties": {
        "deployedIndex": {
          "description": "Required. The DeployedIndex to be created within the IndexEndpoint.",
          "$ref": "GoogleCloudAiplatformV1beta1DeployedIndex"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1Annotation": {
      "description": "Used to assign specific AnnotationSpec to a particular area of a DataItem or the whole part of the DataItem.",
      "id": "GoogleCloudAiplatformV1beta1Annotation",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the Annotation.",
          "readOnly": true,
          "type": "string"
        },
        "payloadSchemaUri": {
          "type": "string",
          "description": "Required. Google Cloud Storage URI points to a YAML file describing payload. The schema is defined as an [OpenAPI 3.0.2 Schema Object](https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.0.2.md#schemaObject). The schema files that can be used here are found in gs://google-cloud-aiplatform/schema/dataset/annotation/, note that the chosen schema must be consistent with the parent Dataset's metadata."
        },
        "etag": {
          "description": "Optional. Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when this Annotation was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "annotationSource": {
          "readOnly": true,
          "description": "Output only. The source of the Annotation.",
          "$ref": "GoogleCloudAiplatformV1beta1UserActionReference"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when this Annotation was last updated."
        },
        "payload": {
          "type": "any",
          "description": "Required. The schema of the payload can be found in payload_schema."
        },
        "labels": {
          "description": "Optional. The labels with user-defined metadata to organize your Annotations. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. No more than 64 user labels can be associated with one Annotation(System labels are excluded). See https://goo.gl/xmQnxf for more information and examples of labels. System reserved label keys are prefixed with \"aiplatform.googleapis.com/\" and are immutable. Following system labels exist for each Annotation: * \"aiplatform.googleapis.com/annotation_set_name\": optional, name of the UI's annotation set this Annotation belongs to. If not set, the Annotation is not visible in the UI. * \"aiplatform.googleapis.com/payload_schema\": output only, its value is the payload_schema's title.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1beta1MigrateResourceRequestMigrateAutomlModelConfig": {
      "description": "Config for migrating Model in automl.googleapis.com to Vertex AI's Model.",
      "type": "object",
      "properties": {
        "modelDisplayName": {
          "description": "Optional. Display name of the model in Vertex AI. System will pick a display name if unspecified.",
          "type": "string"
        },
        "model": {
          "description": "Required. Full resource name of automl Model. Format: `projects/{project}/locations/{location}/models/{model}`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1MigrateResourceRequestMigrateAutomlModelConfig"
    },
    "GoogleCloudAiplatformV1beta1ListModelDeploymentMonitoringJobsResponse": {
      "properties": {
        "modelDeploymentMonitoringJobs": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1ModelDeploymentMonitoringJob"
          },
          "type": "array",
          "description": "A list of ModelDeploymentMonitoringJobs that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "description": "Response message for JobService.ListModelDeploymentMonitoringJobs.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1ListModelDeploymentMonitoringJobsResponse"
    },
    "GoogleCloudAiplatformV1beta1BatchDedicatedResources": {
      "description": "A description of resources that are used for performing batch operations, are dedicated to a Model, and need manual configuration.",
      "id": "GoogleCloudAiplatformV1beta1BatchDedicatedResources",
      "properties": {
        "maxReplicaCount": {
          "format": "int32",
          "type": "integer",
          "description": "Immutable. The maximum number of machine replicas the batch operation may be scaled to. The default value is 10."
        },
        "machineSpec": {
          "description": "Required. Immutable. The specification of a single machine.",
          "$ref": "GoogleCloudAiplatformV1beta1MachineSpec"
        },
        "startingReplicaCount": {
          "type": "integer",
          "format": "int32",
          "description": "Immutable. The number of machine replicas used at the start of the batch operation. If not set, Vertex AI decides starting number, not greater than max_replica_count"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionSeq2SeqPlusForecastingMetadata": {
      "id": "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionSeq2SeqPlusForecastingMetadata",
      "type": "object",
      "properties": {
        "evaluatedDataItemsBigqueryUri": {
          "type": "string",
          "description": "BigQuery destination uri for exported evaluated examples."
        },
        "trainCostMilliNodeHours": {
          "description": "Output only. The actual training cost of the model, expressed in milli node hours, i.e. 1,000 value in this field means 1 node hour. Guaranteed to not exceed the train budget.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Model metadata specific to Seq2Seq Plus Forecasting."
    },
    "GoogleCloudAiplatformV1beta1CsvDestination": {
      "properties": {
        "gcsDestination": {
          "description": "Required. Google Cloud Storage location.",
          "$ref": "GoogleCloudAiplatformV1beta1GcsDestination"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1CsvDestination",
      "description": "The storage details for CSV output content."
    },
    "GoogleCloudAiplatformV1beta1PipelineTaskDetailPipelineTaskStatus": {
      "properties": {
        "error": {
          "$ref": "GoogleRpcStatus",
          "readOnly": true,
          "description": "Output only. The error that occurred during the state. May be set when the state is any of the non-final state (PENDING/RUNNING/CANCELLING) or FAILED state. If the state is FAILED, the error here is final and not going to be retried. If the state is a non-final state, the error indicates a system-error being retried."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "CANCEL_PENDING",
            "CANCELLING",
            "CANCELLED",
            "FAILED",
            "SKIPPED",
            "NOT_TRIGGERED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "Specifies pending state for the task.",
            "Specifies task is being executed.",
            "Specifies task completed successfully.",
            "Specifies Task cancel is in pending state.",
            "Specifies task is being cancelled.",
            "Specifies task was cancelled.",
            "Specifies task failed.",
            "Specifies task was skipped due to cache hit.",
            "Specifies that the task was not triggered because the task's trigger policy is not satisfied. The trigger policy is specified in the `condition` field of PipelineJob.pipeline_spec."
          ],
          "description": "Output only. The state of the task."
        },
        "updateTime": {
          "description": "Output only. Update time of this status.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "A single record of the task status.",
      "id": "GoogleCloudAiplatformV1beta1PipelineTaskDetailPipelineTaskStatus",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1ModelMonitoringConfig": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1ModelMonitoringConfig",
      "description": "The model monitoring configuration used for Batch Prediction Job.",
      "properties": {
        "analysisInstanceSchemaUri": {
          "description": "YAML schema file uri in Cloud Storage describing the format of a single instance that you want Tensorflow Data Validation (TFDV) to analyze. If there are any data type differences between predict instance and TFDV instance, this field can be used to override the schema. For models trained with Vertex AI, this field must be set as all the fields in predict instance formatted as string.",
          "type": "string"
        },
        "statsAnomaliesBaseDirectory": {
          "description": "A Google Cloud Storage location for batch prediction model monitoring to dump statistics and anomalies. If not provided, a folder will be created in customer project to hold statistics and anomalies.",
          "$ref": "GoogleCloudAiplatformV1beta1GcsDestination"
        },
        "objectiveConfigs": {
          "description": "Model monitoring objective config.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1ModelMonitoringObjectiveConfig"
          }
        },
        "alertConfig": {
          "description": "Model monitoring alert config.",
          "$ref": "GoogleCloudAiplatformV1beta1ModelMonitoringAlertConfig"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1ModelDeploymentMonitoringJobLatestMonitoringPipelineMetadata": {
      "properties": {
        "status": {
          "description": "The status of the most recent monitoring pipeline.",
          "$ref": "GoogleRpcStatus"
        },
        "runTime": {
          "description": "The time that most recent monitoring pipelines that is related to this run.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1ModelDeploymentMonitoringJobLatestMonitoringPipelineMetadata",
      "type": "object",
      "description": "All metadata of most recent monitoring pipelines."
    },
    "GoogleCloudAiplatformV1beta1DeployedModelRef": {
      "properties": {
        "endpoint": {
          "type": "string",
          "description": "Immutable. A resource name of an Endpoint."
        },
        "deployedModelId": {
          "type": "string",
          "description": "Immutable. An ID of a DeployedModel in the above Endpoint."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1DeployedModelRef",
      "description": "Points to a DeployedModel."
    },
    "GoogleCloudAiplatformV1beta1PauseModelDeploymentMonitoringJobRequest": {
      "description": "Request message for JobService.PauseModelDeploymentMonitoringJob.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1PauseModelDeploymentMonitoringJobRequest",
      "properties": {}
    },
    "GoogleCloudAiplatformV1beta1MergeVersionAliasesRequest": {
      "properties": {
        "versionAliases": {
          "items": {
            "type": "string"
          },
          "description": "Required. The set of version aliases to merge. The alias should be at most 128 characters, and match `a-z{0,126}[a-z-0-9]`. Add the `-` prefix to an alias means removing that alias from the version. `-` is NOT counted in the 128 characters. Example: `-golden` means removing the `golden` alias from the version. There is NO ordering in aliases, which means 1) The aliases returned from GetModel API might not have the exactly same order from this MergeVersionAliases API. 2) Adding and deleting the same alias in the request is not recommended, and the 2 operations will be cancelled out.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1MergeVersionAliasesRequest",
      "description": "Request message for ModelService.MergeVersionAliases."
    },
    "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionAutoMlTextClassification": {
      "properties": {
        "inputs": {
          "$ref": "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionAutoMlTextClassificationInputs",
          "description": "The input parameters of this TrainingJob."
        }
      },
      "description": "A TrainingJob that trains and uploads an AutoML Text Classification Model.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionAutoMlTextClassification"
    },
    "GoogleCloudAiplatformV1beta1UndeployModelOperationMetadata": {
      "description": "Runtime operation information for EndpointService.UndeployModel.",
      "id": "GoogleCloudAiplatformV1beta1UndeployModelOperationMetadata",
      "properties": {
        "genericMetadata": {
          "description": "The operation generic information.",
          "$ref": "GoogleCloudAiplatformV1beta1GenericOperationMetadata"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1DeployModelRequest": {
      "id": "GoogleCloudAiplatformV1beta1DeployModelRequest",
      "properties": {
        "deployedModel": {
          "$ref": "GoogleCloudAiplatformV1beta1DeployedModel",
          "description": "Required. The DeployedModel to be created within the Endpoint. Note that Endpoint.traffic_split must be updated for the DeployedModel to start receiving traffic, either as part of this call, or via EndpointService.UpdateEndpoint."
        },
        "trafficSplit": {
          "additionalProperties": {
            "type": "integer",
            "format": "int32"
          },
          "type": "object",
          "description": "A map from a DeployedModel's ID to the percentage of this Endpoint's traffic that should be forwarded to that DeployedModel. If this field is non-empty, then the Endpoint's traffic_split will be overwritten with it. To refer to the ID of the just being deployed Model, a \"0\" should be used, and the actual ID of the new DeployedModel will be filled in its place by this method. The traffic percentage values must add up to 100. If this field is empty, then the Endpoint's traffic_split is not updated."
        }
      },
      "description": "Request message for EndpointService.DeployModel.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1GcsSource": {
      "id": "GoogleCloudAiplatformV1beta1GcsSource",
      "type": "object",
      "description": "The Google Cloud Storage location for the input content.",
      "properties": {
        "uris": {
          "type": "array",
          "description": "Required. Google Cloud Storage URI(-s) to the input file(s). May contain wildcards. For more information on wildcards, see https://cloud.google.com/storage/docs/gsutil/addlhelp/WildcardNames.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1beta1ActiveLearningConfig": {
      "properties": {
        "maxDataItemCount": {
          "format": "int64",
          "type": "string",
          "description": "Max number of human labeled DataItems."
        },
        "sampleConfig": {
          "description": "Active learning data sampling config. For every active learning labeling iteration, it will select a batch of data based on the sampling strategy.",
          "$ref": "GoogleCloudAiplatformV1beta1SampleConfig"
        },
        "maxDataItemPercentage": {
          "description": "Max percent of total DataItems for human labeling.",
          "type": "integer",
          "format": "int32"
        },
        "trainingConfig": {
          "$ref": "GoogleCloudAiplatformV1beta1TrainingConfig",
          "description": "CMLE training config. For every active learning labeling iteration, system will train a machine learning model on CMLE. The trained model will be used by data sampling algorithm to select DataItems."
        }
      },
      "description": "Parameters that configure the active learning pipeline. Active learning will label the data incrementally by several iterations. For every iteration, it will select a batch of data based on the sampling strategy.",
      "id": "GoogleCloudAiplatformV1beta1ActiveLearningConfig",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1ReadFeatureValuesResponseHeader": {
      "description": "Response header with metadata for the requested ReadFeatureValuesRequest.entity_type and Features.",
      "properties": {
        "entityType": {
          "type": "string",
          "description": "The resource name of the EntityType from the ReadFeatureValuesRequest. Value format: `projects/{project}/locations/{location}/featurestores/{featurestore}/entityTypes/{entityType}`."
        },
        "featureDescriptors": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1ReadFeatureValuesResponseFeatureDescriptor"
          },
          "type": "array",
          "description": "List of Feature metadata corresponding to each piece of ReadFeatureValuesResponse.EntityView.data."
        }
      },
      "id": "GoogleCloudAiplatformV1beta1ReadFeatureValuesResponseHeader",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1Artifact": {
      "description": "Instance of a general artifact.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1Artifact",
      "properties": {
        "uri": {
          "type": "string",
          "description": "The uniform resource identifier of the artifact file. May be empty if there is no actual artifact file."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the Artifact."
        },
        "displayName": {
          "description": "User provided display name of the Artifact. May be up to 128 Unicode characters.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when this Artifact was created."
        },
        "etag": {
          "type": "string",
          "description": "An eTag used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens."
        },
        "description": {
          "description": "Description of the Artifact",
          "type": "string"
        },
        "labels": {
          "description": "The labels with user-defined metadata to organize your Artifacts. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. No more than 64 user labels can be associated with one Artifact (System labels are excluded).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "schemaTitle": {
          "type": "string",
          "description": "The title of the schema describing the metadata. Schema title and version is expected to be registered in earlier Create Schema calls. And both are used together as unique identifiers to identify schemas within the local metadata store."
        },
        "metadata": {
          "description": "Properties of the Artifact. Top level metadata keys' heading and trailing spaces will be trimmed. The size of this field should not exceed 200KB.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state for the Artifact.",
            "A state used by systems like Vertex AI Pipelines to indicate that the underlying data item represented by this Artifact is being created.",
            "A state indicating that the Artifact should exist, unless something external to the system deletes it."
          ],
          "type": "string",
          "description": "The state of this Artifact. This is a property of the Artifact, and does not imply or capture any ongoing process. This property is managed by clients (such as Vertex AI Pipelines), and the system does not prescribe or check the validity of state transitions.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "LIVE"
          ]
        },
        "updateTime": {
          "description": "Output only. Timestamp when this Artifact was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "schemaVersion": {
          "type": "string",
          "description": "The version of the schema in schema_name to use. Schema title and version is expected to be registered in earlier Create Schema calls. And both are used together as unique identifiers to identify schemas within the local metadata store."
        }
      }
    },
    "GoogleCloudAiplatformV1beta1NearestNeighborSearchOperationMetadataRecordError": {
      "id": "GoogleCloudAiplatformV1beta1NearestNeighborSearchOperationMetadataRecordError",
      "type": "object",
      "properties": {
        "errorMessage": {
          "description": "A human-readable message that is shown to the user to help them fix the error. Note that this message may change from time to time, your code should check against error_type as the source of truth.",
          "type": "string"
        },
        "sourceGcsUri": {
          "type": "string",
          "description": "Cloud Storage URI pointing to the original file in user's bucket."
        },
        "rawRecord": {
          "type": "string",
          "description": "The original content of this record."
        },
        "embeddingId": {
          "type": "string",
          "description": "Empty if the embedding id is failed to parse."
        },
        "errorType": {
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "EMPTY_LINE",
            "INVALID_JSON_SYNTAX",
            "INVALID_CSV_SYNTAX",
            "INVALID_AVRO_SYNTAX",
            "INVALID_EMBEDDING_ID",
            "EMBEDDING_SIZE_MISMATCH",
            "NAMESPACE_MISSING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default, shall not be used.",
            "The record is empty.",
            "Invalid json format.",
            "Invalid csv format.",
            "Invalid avro format.",
            "The embedding id is not valid.",
            "The size of the embedding vectors does not match with the specified dimension.",
            "The `namespace` field is missing."
          ],
          "description": "The error type of this record."
        }
      }
    },
    "GoogleCloudAiplatformV1beta1UploadModelOperationMetadata": {
      "description": "Details of ModelService.UploadModel operation.",
      "properties": {
        "genericMetadata": {
          "$ref": "GoogleCloudAiplatformV1beta1GenericOperationMetadata",
          "description": "The common part of the operation metadata."
        }
      },
      "id": "GoogleCloudAiplatformV1beta1UploadModelOperationMetadata",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1MigrateResourceRequest": {
      "description": "Config of migrating one resource from automl.googleapis.com, datalabeling.googleapis.com and ml.googleapis.com to Vertex AI.",
      "id": "GoogleCloudAiplatformV1beta1MigrateResourceRequest",
      "type": "object",
      "properties": {
        "migrateAutomlDatasetConfig": {
          "description": "Config for migrating Dataset in automl.googleapis.com to Vertex AI's Dataset.",
          "$ref": "GoogleCloudAiplatformV1beta1MigrateResourceRequestMigrateAutomlDatasetConfig"
        },
        "migrateAutomlModelConfig": {
          "description": "Config for migrating Model in automl.googleapis.com to Vertex AI's Model.",
          "$ref": "GoogleCloudAiplatformV1beta1MigrateResourceRequestMigrateAutomlModelConfig"
        },
        "migrateMlEngineModelVersionConfig": {
          "$ref": "GoogleCloudAiplatformV1beta1MigrateResourceRequestMigrateMlEngineModelVersionConfig",
          "description": "Config for migrating Version in ml.googleapis.com to Vertex AI's Model."
        },
        "migrateDataLabelingDatasetConfig": {
          "description": "Config for migrating Dataset in datalabeling.googleapis.com to Vertex AI's Dataset.",
          "$ref": "GoogleCloudAiplatformV1beta1MigrateResourceRequestMigrateDataLabelingDatasetConfig"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1ScheduleRunResponse": {
      "properties": {
        "scheduledRunTime": {
          "format": "google-datetime",
          "description": "The scheduled run time based on the user-specified schedule.",
          "type": "string"
        },
        "runResponse": {
          "description": "The response of the scheduled run.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1ScheduleRunResponse",
      "description": "Status of a scheduled run."
    },
    "GoogleCloudAiplatformV1beta1NasJobSpecMultiTrialAlgorithmSpec": {
      "description": "The spec of multi-trial Neural Architecture Search (NAS).",
      "properties": {
        "multiTrialAlgorithm": {
          "description": "The multi-trial Neural Architecture Search (NAS) algorithm type. Defaults to `REINFORCEMENT_LEARNING`.",
          "enumDescriptions": [
            "Defaults to `REINFORCEMENT_LEARNING`.",
            "The Reinforcement Learning Algorithm for Multi-trial Neural Architecture Search (NAS).",
            "The Grid Search Algorithm for Multi-trial Neural Architecture Search (NAS)."
          ],
          "type": "string",
          "enum": [
            "MULTI_TRIAL_ALGORITHM_UNSPECIFIED",
            "REINFORCEMENT_LEARNING",
            "GRID_SEARCH"
          ]
        },
        "metric": {
          "$ref": "GoogleCloudAiplatformV1beta1NasJobSpecMultiTrialAlgorithmSpecMetricSpec",
          "description": "Metric specs for the NAS job. Validation for this field is done at `multi_trial_algorithm_spec` field."
        },
        "trainTrialSpec": {
          "$ref": "GoogleCloudAiplatformV1beta1NasJobSpecMultiTrialAlgorithmSpecTrainTrialSpec",
          "description": "Spec for train trials. Top N [TrainTrialSpec.max_parallel_trial_count] search trials will be trained for every M [TrainTrialSpec.frequency] trials searched."
        },
        "searchTrialSpec": {
          "description": "Required. Spec for search trials.",
          "$ref": "GoogleCloudAiplatformV1beta1NasJobSpecMultiTrialAlgorithmSpecSearchTrialSpec"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1NasJobSpecMultiTrialAlgorithmSpec",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1SchemaModelevaluationMetricsForecastingEvaluationMetricsQuantileMetricsEntry": {
      "properties": {
        "quantile": {
          "format": "double",
          "type": "number",
          "description": "The quantile for this entry."
        },
        "observedQuantile": {
          "type": "number",
          "format": "double",
          "description": "This is a custom metric that calculates the percentage of true values that were less than the predicted value for that quantile. Only populated when optimization_objective is minimize-quantile-loss and each entry corresponds to an entry in quantiles The percent value can be used to compare with the quantile value, which is the target value."
        },
        "scaledPinballLoss": {
          "format": "float",
          "type": "number",
          "description": "The scaled pinball loss of this quantile."
        }
      },
      "id": "GoogleCloudAiplatformV1beta1SchemaModelevaluationMetricsForecastingEvaluationMetricsQuantileMetricsEntry",
      "description": "Entry for the Quantiles loss type optimization objective.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1UpdateSpecialistPoolOperationMetadata": {
      "id": "GoogleCloudAiplatformV1beta1UpdateSpecialistPoolOperationMetadata",
      "properties": {
        "genericMetadata": {
          "$ref": "GoogleCloudAiplatformV1beta1GenericOperationMetadata",
          "description": "The operation generic information."
        },
        "specialistPool": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the SpecialistPool to which the specialists are being added. Format: `projects/{project_id}/locations/{location_id}/specialistPools/{specialist_pool}`"
        }
      },
      "description": "Runtime operation metadata for SpecialistPoolService.UpdateSpecialistPool.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1NearestNeighborQueryEmbedding": {
      "id": "GoogleCloudAiplatformV1beta1NearestNeighborQueryEmbedding",
      "description": "The embedding vector.",
      "properties": {
        "value": {
          "items": {
            "format": "float",
            "type": "number"
          },
          "type": "array",
          "description": "Optional. Individual value in the embedding."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1SchemaPredictParamsVideoObjectTrackingPredictionParams": {
      "description": "Prediction model parameters for Video Object Tracking.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1SchemaPredictParamsVideoObjectTrackingPredictionParams",
      "properties": {
        "minBoundingBoxSize": {
          "format": "float",
          "type": "number",
          "description": "Only bounding boxes with shortest edge at least that long as a relative value of video frame size are returned. Default value is 0.0."
        },
        "confidenceThreshold": {
          "format": "float",
          "type": "number",
          "description": "The Model only returns predictions with at least this confidence score. Default value is 0.0"
        },
        "maxPredictions": {
          "format": "int32",
          "type": "integer",
          "description": "The model only returns up to that many top, by confidence score, predictions per frame of the video. If this number is very high, the Model may return fewer predictions per frame. Default value is 50."
        }
      }
    },
    "GoogleCloudAiplatformV1beta1SchemaModelevaluationMetricsTextSentimentEvaluationMetrics": {
      "properties": {
        "quadraticKappa": {
          "description": "Quadratic weighted kappa. Only set for ModelEvaluations, not for ModelEvaluationSlices.",
          "type": "number",
          "format": "float"
        },
        "confusionMatrix": {
          "$ref": "GoogleCloudAiplatformV1beta1SchemaModelevaluationMetricsConfusionMatrix",
          "description": "Confusion matrix of the evaluation. Only set for ModelEvaluations, not for ModelEvaluationSlices."
        },
        "recall": {
          "description": "Recall.",
          "type": "number",
          "format": "float"
        },
        "precision": {
          "format": "float",
          "description": "Precision.",
          "type": "number"
        },
        "meanSquaredError": {
          "description": "Mean squared error. Only set for ModelEvaluations, not for ModelEvaluationSlices.",
          "type": "number",
          "format": "float"
        },
        "linearKappa": {
          "type": "number",
          "format": "float",
          "description": "Linear weighted kappa. Only set for ModelEvaluations, not for ModelEvaluationSlices."
        },
        "meanAbsoluteError": {
          "description": "Mean absolute error. Only set for ModelEvaluations, not for ModelEvaluationSlices.",
          "format": "float",
          "type": "number"
        },
        "f1Score": {
          "description": "The harmonic mean of recall and precision.",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1SchemaModelevaluationMetricsTextSentimentEvaluationMetrics",
      "description": "Model evaluation metrics for text sentiment problems."
    },
    "GoogleCloudAiplatformV1beta1ListContextsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as ListContextsRequest.page_token to retrieve the next page. If this field is not populated, there are no subsequent pages.",
          "type": "string"
        },
        "contexts": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1Context"
          },
          "description": "The Contexts retrieved from the MetadataStore.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1ListContextsResponse",
      "description": "Response message for MetadataService.ListContexts."
    },
    "GoogleCloudAiplatformV1beta1ListIndexesResponse": {
      "id": "GoogleCloudAiplatformV1beta1ListIndexesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results. Pass to ListIndexesRequest.page_token to obtain that page."
        },
        "indexes": {
          "description": "List of indexes in the requested page.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1Index"
          }
        }
      },
      "description": "Response message for IndexService.ListIndexes.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionTftForecastingInputsTransformationNumericTransformation": {
      "type": "object",
      "description": "Training pipeline will perform following transformation functions. * The value converted to float32. * The z_score of the value. * log(value+1) when the value is greater than or equal to 0. Otherwise, this transformation is not applied and the value is considered a missing value. * z_score of log(value+1) when the value is greater than or equal to 0. Otherwise, this transformation is not applied and the value is considered a missing value.",
      "id": "GoogleCloudAiplatformV1beta1SchemaTrainingjobDefinitionTftForecastingInputsTransformationNumericTransformation",
      "properties": {
        "columnName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1beta1ModelEvaluationSliceSliceSliceSpecRange": {
      "properties": {
        "high": {
          "format": "float",
          "description": "Exclusive high value for the range.",
          "type": "number"
        },
        "low": {
          "description": "Inclusive low value for the range.",
          "type": "number",
          "format": "float"
        }
      },
      "description": "A range of values for slice(s). `low` is inclusive, `high` is exclusive.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1beta1ModelEvaluationSliceSliceSliceSpecRange"
    },
    "GoogleCloudAiplatformV1beta1StudySpecParameterSpecConditionalParameterSpec": {
      "id": "GoogleCloudAiplatformV1beta1StudySpecParameterSpecConditionalParameterSpec",
      "type": "object",
      "description": "Represents a parameter spec with condition from its parent parameter.",
      "properties": {
        "parameterSpec": {
          "description": "Required. The spec for a conditional parameter.",
          "$ref": "GoogleCloudAiplatformV1beta1StudySpecParameterSpec"
        },
        "parentCategoricalValues": {
          "$ref": "GoogleCloudAiplatformV1beta1StudySpecParameterSpecConditionalParameterSpecCategoricalValueCondition",
          "description": "The spec for matching values from a parent parameter of `CATEGORICAL` type."
        },
        "parentDiscreteValues": {
          "$ref": "GoogleCloudAiplatformV1beta1StudySpecParameterSpecConditionalParameterSpecDiscreteValueCondition",
          "description": "The spec for matching values from a parent parameter of `DISCRETE` type."
        },
        "parentIntValues": {
          "$ref": "GoogleCloudAiplatformV1beta1StudySpecParameterSpecConditionalParameterSpecIntValueCondition",
          "description": "The spec for matching values from a parent parameter of `INTEGER` type."
        }
      }
    },
    "GoogleCloudAiplatformV1beta1NotebookRuntimeTemplateRef": {
      "properties": {
        "notebookRuntimeTemplate": {
          "type": "string",
          "description": "Immutable. A resource name of the NotebookRuntimeTemplate."
        }
      },
      "id": "GoogleCloudAiplatformV1beta1NotebookRuntimeTemplateRef",
      "description": "Points to a NotebookRuntimeTemplateRef.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1BatchReadTensorboardTimeSeriesDataResponse": {
      "type": "object",
      "properties": {
        "timeSeriesData": {
          "description": "The returned time series data.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1TimeSeriesData"
          },
          "type": "array"
        }
      },
      "description": "Response message for TensorboardService.BatchReadTensorboardTimeSeriesData.",
      "id": "GoogleCloudAiplatformV1beta1BatchReadTensorboardTimeSeriesDataResponse"
    },
    "GoogleIamV1Binding": {
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "GoogleIamV1Binding",
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        },
        "condition": {
          "$ref": "GoogleTypeExpr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "members": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding."
        }
      }
    },
    "GoogleCloudAiplatformV1beta1Endpoint": {
      "type": "object",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when this Endpoint was last updated."
        },
        "trafficSplit": {
          "additionalProperties": {
            "format": "int32",
            "type": "integer"
          },
          "description": "A map from a DeployedModel's ID to the percentage of this Endpoint's traffic that should be forwarded to that DeployedModel. If a DeployedModel's ID is not listed in this map, then it receives no traffic. The traffic percentage values must add up to 100, or map must be empty if the Endpoint is to not accept any traffic at a moment.",
          "type": "object"
        },
        "predictRequestResponseLoggingConfig": {
          "description": "Configures the request-response logging for online prediction.",
          "$ref": "GoogleCloudAiplatformV1beta1PredictRequestResponseLoggingConfig"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when this Endpoint was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the Endpoint. The name can be up to 128 characters long and can consist of any UTF-8 characters.",
          "type": "string"
        },
        "modelDeploymentMonitoringJob": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of the Model Monitoring job associated with this Endpoint if monitoring is enabled by JobService.CreateModelDeploymentMonitoringJob. Format: `projects/{project}/locations/{location}/modelDeploymentMonitoringJobs/{model_deployment_monitoring_job}`"
        },
        "encryptionSpec": {
          "description": "Customer-managed encryption key spec for an Endpoint. If set, this Endpoint and all sub-resources of this Endpoint will be secured by this key.",
          "$ref": "GoogleCloudAiplatformV1beta1EncryptionSpec"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the Endpoint."
        },
        "description": {
          "description": "The description of the Endpoint.",
          "type": "string"
        },
        "network": {
          "description": "Optional. The full name of the Google Compute Engine [network](https://cloud.google.com//compute/docs/networks-and-firewalls#networks) to which the Endpoint should be peered. Private services access must already be configured for the network. If left unspecified, the Endpoint is not peered with any network. Only one of the fields, network or enable_private_service_connect, can be set. [Format](https://cloud.google.com/compute/docs/reference/rest/v1/networks/insert): `projects/{project}/global/networks/{network}`. Where `{project}` is a project number, as in `12345`, and `{network}` is network name.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "The labels with user-defined metadata to organize your Endpoints. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https://goo.gl/xmQnxf for more information and examples of labels.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "enablePrivateServiceConnect": {
          "description": "Deprecated: If true, expose the Endpoint via private service connect. Only one of the fields, network or enable_private_service_connect, can be set.",
          "deprecated": true,
          "type": "boolean"
        },
        "deployedModels": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1DeployedModel"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The models deployed in this Endpoint. To add or remove DeployedModels use EndpointService.DeployModel and EndpointService.UndeployModel respectively."
        },
        "etag": {
          "type": "string",
          "description": "Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens."
        }
      },
      "id": "GoogleCloudAiplatformV1beta1Endpoint",
      "description": "Models are deployed into it, and afterwards Endpoint is called to obtain predictions and explanations."
    },
    "GoogleCloudAiplatformV1beta1ListTrainingPipelinesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass to ListTrainingPipelinesRequest.page_token to obtain that page."
        },
        "trainingPipelines": {
          "description": "List of TrainingPipelines in the requested page.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1beta1TrainingPipeline"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1ListTrainingPipelinesResponse",
      "description": "Response message for PipelineService.ListTrainingPipelines",
      "type": "object"
    },
    "GoogleCloudAiplatformV1beta1TensorboardBlob": {
      "properties": {
        "id": {
          "description": "Output only. A URI safe key uniquely identifying a blob. Can be used to locate the blob stored in the Cloud Storage bucket of the consumer project.",
          "type": "string",
          "readOnly": true
        },
        "data": {
          "type": "string",
          "description": "Optional. The bytes of the blob is not present unless it's returned by the ReadTensorboardBlobData endpoint.",
          "format": "byte"
        }
      },
      "type": "object",
      "description": "One blob (e.g, image, graph) viewable on a blob metric plot.",
      "id": "GoogleCloudAiplatformV1beta1TensorboardBlob"
    },
    "GoogleCloudAiplatformV1beta1StudySpecParameterSpecConditionalParameterSpecDiscreteValueCondition": {
      "properties": {
        "values": {
          "description": "Required. Matches values of the parent parameter of 'DISCRETE' type. All values must exist in `discrete_value_spec` of parent parameter. The Epsilon of the value matching is 1e-10.",
          "items": {
            "type": "number",
            "format": "double"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudAiplatformV1beta1StudySpecParameterSpecConditionalParameterSpecDiscreteValueCondition",
      "type": "object",
      "description": "Represents the spec to match discrete values from parent parameter."
    },
    "GoogleCloudAiplatformV1beta1ImportDataResponse": {
      "type": "object",
      "description": "Response message for DatasetService.ImportData.",
      "properties": {},
      "id": "GoogleCloudAiplatformV1beta1ImportDataResponse"
    },
    "GoogleCloudAiplatformV1beta1PredictRequest": {
      "description": "Request message for PredictionService.Predict.",
      "id": "GoogleCloudAiplatformV1beta1PredictRequest",
      "type": "object",
      "properties": {
        "parameters": {
          "description": "The parameters that govern the prediction. The schema of the parameters may be specified via Endpoint's DeployedModels' Model's PredictSchemata's parameters_schema_uri.",
          "type": "any"
        },
        "instances": {
          "description": "Required. The instances that are the input to the prediction call. A DeployedModel may have an upper limit on the number of instances it supports per request, and when it is exceeded the prediction call errors in case of AutoML Models, or, in case of customer created Models, the behaviour is as documented by that Model. The schema of any single instance may be specified via Endpoint's DeployedModels' Model's PredictSchemata's instance_schema_uri.",
          "type": "array",
          "items": {
            "type": "any"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1beta1ModelMonitoringObjectiveConfigTrainingPredictionSkewDetectionConfig": {
      "description": "The config for Training & Prediction data skew detection. It specifies the training dataset sources and the skew detection parameters.",
      "id": "GoogleCloudAiplatformV1beta1ModelMonitoringObjectiveConfigTrainingPredictionSkewDetectionConfig",
      "properties": {
        "attributionScoreSkewThresholds": {
          "description": "Key is the feature name and value is the threshold. The threshold here is against attribution score distance between the training and prediction feature.",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1beta1ThresholdConfig"
          },
          "type": "object"
        },
        "skewThresholds": {
[...]
