{
  "documentationLink": "https://developers.google.com/admin-sdk/alertcenter/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "kind": "discovery#restDescription",
  "name": "alertcenter",
  "batchPath": "batch",
  "mtlsRootUrl": "https://alertcenter.mtls.googleapis.com/",
  "revision": "20210519",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "basePath": "",
  "servicePath": "",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    }
  },
  "id": "alertcenter:v1beta1",
  "ownerDomain": "google.com",
  "title": "Google Workspace Alert Center API",
  "description": "Manages alerts on issues affecting your domain.",
  "resources": {
    "v1beta1": {
      "methods": {
        "updateSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "request": {
            "$ref": "Settings"
          },
          "path": "v1beta1/settings",
          "description": "Updates the customer-level settings.",
          "id": "alertcenter.updateSettings",
          "flatPath": "v1beta1/settings",
          "parameterOrder": [],
          "parameters": {
            "customerId": {
              "type": "string",
              "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alert settings are associated with. Inferred from the caller identity if not provided.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Settings"
          },
          "httpMethod": "PATCH"
        },
        "getSettings": {
          "httpMethod": "GET",
          "description": "Returns customer-level settings.",
          "parameters": {
            "customerId": {
              "location": "query",
              "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alert settings are associated with. Inferred from the caller identity if not provided.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "flatPath": "v1beta1/settings",
          "parameterOrder": [],
          "path": "v1beta1/settings",
          "response": {
            "$ref": "Settings"
          },
          "id": "alertcenter.getSettings"
        }
      }
    },
    "alerts": {
      "resources": {
        "feedback": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "ListAlertFeedbackResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/apps.alerts"
              ],
              "parameterOrder": [
                "alertId"
              ],
              "description": "Lists all the feedback for an alert. Attempting to list feedbacks for a non-existent alert returns `NOT_FOUND` error.",
              "id": "alertcenter.alerts.feedback.list",
              "path": "v1beta1/alerts/{alertId}/feedback",
              "flatPath": "v1beta1/alerts/{alertId}/feedback",
              "parameters": {
                "customerId": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alert feedback are associated with. Inferred from the caller identity if not provided."
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. A query string for filtering alert feedback results. For more details, see [Query filters](https://developers.google.com/admin-sdk/alertcenter/guides/query-filters) and [Supported query filter fields](https://developers.google.com/admin-sdk/alertcenter/reference/filter-fields#alerts.feedback.list).",
                  "location": "query"
                },
                "alertId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The alert identifier. The \"-\" wildcard could be used to represent all alerts."
                }
              }
            },
            "create": {
              "description": "Creates new feedback for an alert. Attempting to create a feedback for a non-existent alert returns `NOT_FOUND` error. Attempting to create a feedback for an alert that is marked for deletion returns `FAILED_PRECONDITION' error.",
              "parameters": {
                "alertId": {
                  "description": "Required. The identifier of the alert this feedback belongs to.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "customerId": {
                  "type": "string",
                  "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alert is associated with. Inferred from the caller identity if not provided.",
                  "location": "query"
                }
              },
              "httpMethod": "POST",
              "flatPath": "v1beta1/alerts/{alertId}/feedback",
              "request": {
                "$ref": "AlertFeedback"
              },
              "scopes": [
                "https://www.googleapis.com/auth/apps.alerts"
              ],
              "id": "alertcenter.alerts.feedback.create",
              "path": "v1beta1/alerts/{alertId}/feedback",
              "response": {
                "$ref": "AlertFeedback"
              },
              "parameterOrder": [
                "alertId"
              ]
            }
          }
        }
      },
      "methods": {
        "delete": {
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "v1beta1/alerts/{alertId}",
          "id": "alertcenter.alerts.delete",
          "parameterOrder": [
            "alertId"
          ],
          "path": "v1beta1/alerts/{alertId}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "description": "Marks the specified alert for deletion. An alert that has been marked for deletion is removed from Alert Center after 30 days. Marking an alert for deletion has no effect on an alert which has already been marked for deletion. Attempting to mark a nonexistent alert for deletion results in a `NOT_FOUND` error.",
          "parameters": {
            "customerId": {
              "location": "query",
              "type": "string",
              "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alert is associated with. Inferred from the caller identity if not provided."
            },
            "alertId": {
              "description": "Required. The identifier of the alert to delete.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          }
        },
        "undelete": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "path": "v1beta1/alerts/{alertId}:undelete",
          "response": {
            "$ref": "Alert"
          },
          "flatPath": "v1beta1/alerts/{alertId}:undelete",
          "parameters": {
            "alertId": {
              "description": "Required. The identifier of the alert to undelete.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "request": {
            "$ref": "UndeleteAlertRequest"
          },
          "parameterOrder": [
            "alertId"
          ],
          "id": "alertcenter.alerts.undelete",
          "description": "Restores, or \"undeletes\", an alert that was marked for deletion within the past 30 days. Attempting to undelete an alert which was marked for deletion over 30 days ago (which has been removed from the Alert Center database) or a nonexistent alert returns a `NOT_FOUND` error. Attempting to undelete an alert which has not been marked for deletion has no effect."
        },
        "batchUndelete": {
          "parameterOrder": [],
          "path": "v1beta1/alerts:batchUndelete",
          "flatPath": "v1beta1/alerts:batchUndelete",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "id": "alertcenter.alerts.batchUndelete",
          "description": "Performs batch undelete operation on alerts.",
          "response": {
            "$ref": "BatchUndeleteAlertsResponse"
          },
          "request": {
            "$ref": "BatchUndeleteAlertsRequest"
          },
          "parameters": {},
          "httpMethod": "POST"
        },
        "batchDelete": {
          "request": {
            "$ref": "BatchDeleteAlertsRequest"
          },
          "path": "v1beta1/alerts:batchDelete",
          "id": "alertcenter.alerts.batchDelete",
          "parameterOrder": [],
          "response": {
            "$ref": "BatchDeleteAlertsResponse"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "flatPath": "v1beta1/alerts:batchDelete",
          "description": "Performs batch delete operation on alerts.",
          "httpMethod": "POST"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "id": "alertcenter.alerts.get",
          "flatPath": "v1beta1/alerts/{alertId}",
          "path": "v1beta1/alerts/{alertId}",
          "parameterOrder": [
            "alertId"
          ],
          "parameters": {
            "alertId": {
              "required": true,
              "description": "Required. The identifier of the alert to retrieve.",
              "location": "path",
              "type": "string"
            },
            "customerId": {
              "type": "string",
              "location": "query",
              "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alert is associated with. Inferred from the caller identity if not provided."
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "Alert"
          },
          "description": "Gets the specified alert. Attempting to get a nonexistent alert returns `NOT_FOUND` error."
        },
        "list": {
          "path": "v1beta1/alerts",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "parameterOrder": [],
          "description": "Lists the alerts.",
          "flatPath": "v1beta1/alerts",
          "response": {
            "$ref": "ListAlertsResponse"
          },
          "id": "alertcenter.alerts.list",
          "parameters": {
            "pageSize": {
              "description": "Optional. The requested page size. Server may return fewer items than requested. If unspecified, server picks an appropriate default.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "customerId": {
              "location": "query",
              "type": "string",
              "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alerts are associated with. Inferred from the caller identity if not provided."
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Optional. A query string for filtering alert results. For more details, see [Query filters](https://developers.google.com/admin-sdk/alertcenter/guides/query-filters) and [Supported query filter fields](https://developers.google.com/admin-sdk/alertcenter/reference/filter-fields#alerts.list)."
            },
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "Optional. The sort order of the list results. If not specified results may be returned in arbitrary order. You can sort the results in descending order based on the creation timestamp using `order_by=\"create_time desc\"`. Currently, supported sorting are `create_time asc`, `create_time desc`, `update_time desc`"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A token identifying a page of results the server should return. If empty, a new iteration is started. To continue an iteration, pass in the value from the previous ListAlertsResponse's next_page_token field."
            }
          }
        },
        "getMetadata": {
          "parameters": {
            "alertId": {
              "description": "Required. The identifier of the alert this metadata belongs to.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "customerId": {
              "location": "query",
              "type": "string",
              "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alert metadata is associated with. Inferred from the caller identity if not provided."
            }
          },
          "response": {
            "$ref": "AlertMetadata"
          },
          "flatPath": "v1beta1/alerts/{alertId}/metadata",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "description": "Returns the metadata of an alert. Attempting to get metadata for a non-existent alert returns `NOT_FOUND` error.",
          "path": "v1beta1/alerts/{alertId}/metadata",
          "parameterOrder": [
            "alertId"
          ],
          "httpMethod": "GET",
          "id": "alertcenter.alerts.getMetadata"
        }
      }
    }
  },
  "version": "v1beta1",
  "version_module": true,
  "baseUrl": "https://alertcenter.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/apps.alerts": {
          "description": "See and delete your domain's G Suite alerts, and send alert feedback"
        }
      }
    }
  },
  "schemas": {
    "ListAlertsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The token for the next page. If not empty, indicates that there may be more alerts that match the listing request; this value can be used in a subsequent ListAlertsRequest to get alerts continuing from last result of the current list call.",
          "type": "string"
        },
        "alerts": {
          "type": "array",
          "items": {
            "$ref": "Alert"
          },
          "description": "The list of alerts."
        }
      },
      "id": "ListAlertsResponse",
      "description": "Response message for an alert listing request."
    },
    "StateSponsoredAttack": {
      "description": "A state-sponsored attack alert. Derived from audit logs.",
      "id": "StateSponsoredAttack",
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email of the user this incident was created for."
        }
      }
    },
    "AccountWarning": {
      "description": "Alerts for user account warning events.",
      "id": "AccountWarning",
      "type": "object",
      "properties": {
        "loginDetails": {
          "description": "Optional. Details of the login action associated with the warning event. This is only available for: * Suspicious login * Suspicious login (less secure app) * Suspicious programmatic login * User suspended (suspicious activity)",
          "$ref": "LoginDetails"
        },
        "email": {
          "type": "string",
          "description": "Required. The email of the user that this event belongs to."
        }
      }
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object"
    },
    "ActivityRule": {
      "description": "Alerts from Google Workspace Security Center rules service configured by an admin.",
      "type": "object",
      "id": "ActivityRule",
      "properties": {
        "supersededAlerts": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of alert IDs superseded by this alert. It is used to indicate that this alert is essentially extension of superseded alerts and we found the relationship after creating these alerts."
        },
        "windowSize": {
          "format": "google-duration",
          "type": "string",
          "description": "Rule window size. Possible values are 1 hour or 24 hours."
        },
        "displayName": {
          "description": "Alert display name.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "The timestamp of the last update to the rule.",
          "format": "google-datetime"
        },
        "supersedingAlert": {
          "type": "string",
          "description": "Alert ID superseding this alert. It is used to indicate that superseding alert is essentially extension of this alert and we found the relationship after creating both alerts."
        },
        "threshold": {
          "type": "string",
          "description": "Alert threshold is for example “COUNT \u003e 5”."
        },
        "name": {
          "description": "Rule name.",
          "type": "string"
        },
        "triggerSource": {
          "description": "The trigger sources for this rule. * GMAIL_EVENTS * DEVICE_EVENTS * USER_EVENTS",
          "type": "string"
        },
        "actionNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of action names associated with the rule threshold."
        },
        "description": {
          "description": "Description of the rule.",
          "type": "string"
        },
        "query": {
          "description": "Query that is used to get the data from the associated source.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Rule create timestamp."
        }
      }
    },
    "BadWhitelist": {
      "description": "Alert for setting the domain or IP that malicious email comes from as whitelisted domain or IP in Gmail advanced settings.",
      "properties": {
        "domainId": {
          "$ref": "DomainId",
          "description": "The domain ID."
        },
        "sourceIp": {
          "type": "string",
          "description": "The source IP address of the malicious email, for example, `127.0.0.1`."
        },
        "messages": {
          "items": {
            "$ref": "GmailMessageInfo"
          },
          "description": "The list of messages contained by this alert.",
          "type": "array"
        },
        "maliciousEntity": {
          "$ref": "MaliciousEntity",
          "description": "The entity whose actions triggered a Gmail phishing alert."
        }
      },
      "id": "BadWhitelist",
      "type": "object"
    },
    "DeviceCompromisedSecurityDetail": {
      "type": "object",
      "properties": {
        "resourceId": {
          "description": "The device resource ID.",
          "type": "string"
        },
        "serialNumber": {
          "type": "string",
          "description": "The serial number of the device."
        },
        "deviceType": {
          "type": "string",
          "description": "The type of the device."
        },
        "deviceCompromisedState": {
          "description": "The device compromised state. Possible values are \"`Compromised`\" or \"`Not Compromised`\".",
          "type": "string"
        },
        "iosVendorId": {
          "description": "Required for iOS, empty for others.",
          "type": "string"
        },
        "deviceModel": {
          "type": "string",
          "description": "The model of the device."
        },
        "deviceId": {
          "description": "Required. The device ID.",
          "type": "string"
        }
      },
      "id": "DeviceCompromisedSecurityDetail",
      "description": "Detailed information of a single MDM device compromised event."
    },
    "Notification": {
      "properties": {
        "cloudPubsubTopic": {
          "description": "A Google Cloud Pub/sub topic destination.",
          "$ref": "CloudPubsubTopic"
        }
      },
      "description": "Settings for callback notifications. For more details see [Google Workspace Alert Notification](https://developers.google.com/admin-sdk/alertcenter/guides/notifications).",
      "id": "Notification",
      "type": "object"
    },
    "User": {
      "properties": {
        "displayName": {
          "description": "Display name of the user.",
          "type": "string"
        },
        "emailAddress": {
          "description": "Email address of the user.",
          "type": "string"
        }
      },
      "description": "A user.",
      "type": "object",
      "id": "User"
    },
    "RuleInfo": {
      "description": "Proto that contains rule information.",
      "id": "RuleInfo",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "User provided name of the rule."
        },
        "resourceName": {
          "type": "string",
          "description": "Resource name that uniquely identifies the rule."
        }
      }
    },
    "SuspiciousActivity": {
      "id": "SuspiciousActivity",
      "properties": {
        "events": {
          "type": "array",
          "items": {
            "$ref": "SuspiciousActivitySecurityDetail"
          },
          "description": "Required. The list of security events."
        },
        "email": {
          "type": "string",
          "description": "The email of the user this alert was created for."
        }
      },
      "type": "object",
      "description": "A mobile suspicious activity alert. Derived from audit logs."
    },
    "AlertFeedback": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "The feedback type is not specified.",
            "The alert report is not useful.",
            "The alert report is somewhat useful.",
            "The alert report is very useful."
          ],
          "enum": [
            "ALERT_FEEDBACK_TYPE_UNSPECIFIED",
            "NOT_USEFUL",
            "SOMEWHAT_USEFUL",
            "VERY_USEFUL"
          ],
          "type": "string",
          "description": "Required. The type of the feedback."
        },
        "feedbackId": {
          "type": "string",
          "description": "Output only. The unique identifier for the feedback."
        },
        "email": {
          "description": "Output only. The email of the user that provided the feedback.",
          "type": "string"
        },
        "customerId": {
          "description": "Output only. The unique identifier of the Google account of the customer.",
          "type": "string"
        },
        "alertId": {
          "description": "Output only. The alert identifier.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time this feedback was created.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A customer feedback about an alert.",
      "id": "AlertFeedback"
    },
    "Settings": {
      "description": "Customer-level settings.",
      "type": "object",
      "id": "Settings",
      "properties": {
        "notifications": {
          "items": {
            "$ref": "Notification"
          },
          "description": "The list of notifications.",
          "type": "array"
        }
      }
    },
    "MaliciousEntity": {
      "id": "MaliciousEntity",
      "description": "Entity whose actions triggered a Gmail phishing alert.",
      "properties": {
        "entity": {
          "description": "The actor who triggered a gmail phishing alert.",
          "$ref": "User"
        },
        "displayName": {
          "type": "string",
          "description": "The header from display name."
        },
        "fromHeader": {
          "type": "string",
          "description": "The sender email address."
        }
      },
      "type": "object"
    },
    "BatchDeleteAlertsResponse": {
      "properties": {
        "successAlertIds": {
          "description": "The successful list of alert IDs.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "failedAlertStatus": {
          "description": "The status details for each failed alert_id.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Status"
          }
        }
      },
      "id": "BatchDeleteAlertsResponse",
      "type": "object",
      "description": "Response to batch delete operation on alerts."
    },
    "MailPhishing": {
      "description": "Proto for all phishing alerts with common payload. Supported types are any of the following: * User reported phishing * User reported spam spike * Suspicious message reported * Phishing reclassification * Malware reclassification * Gmail potential employee spoofing",
      "properties": {
        "maliciousEntity": {
          "$ref": "MaliciousEntity",
          "description": "The entity whose actions triggered a Gmail phishing alert."
        },
        "systemActionType": {
          "enum": [
            "SYSTEM_ACTION_TYPE_UNSPECIFIED",
            "NO_OPERATION",
            "REMOVED_FROM_INBOX"
          ],
          "description": "System actions on the messages.",
          "enumDescriptions": [
            "System action is unspecified.",
            "No operation.",
            "Messages were removed from the inbox."
          ],
          "type": "string"
        },
        "domainId": {
          "$ref": "DomainId",
          "description": "The domain ID."
        },
        "isInternal": {
          "type": "boolean",
          "description": "If `true`, the email originated from within the organization."
        },
        "messages": {
          "description": "The list of messages contained by this alert.",
          "items": {
            "$ref": "GmailMessageInfo"
          },
          "type": "array"
        }
      },
      "id": "MailPhishing",
      "type": "object"
    },
    "RequestInfo": {
      "properties": {
        "numberOfRequests": {
          "description": "Required. Number of requests sent for this application to set up default SQL instance.",
          "type": "string",
          "format": "int64"
        },
        "appDeveloperEmail": {
          "items": {
            "type": "string"
          },
          "description": "List of app developers who triggered notifications for above application.",
          "type": "array"
        },
        "appKey": {
          "type": "string",
          "description": "Required. The application that requires the SQL setup."
        }
      },
      "description": "Requests for one application that needs default SQL setup.",
      "id": "RequestInfo",
      "type": "object"
    },
    "BatchUndeleteAlertsRequest": {
      "description": "A request to perform batch undelete on alerts.",
      "type": "object",
      "properties": {
        "customerId": {
          "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alerts are associated with.",
          "type": "string"
        },
        "alertId": {
          "description": "Required. list of alert IDs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "BatchUndeleteAlertsRequest"
    },
    "CsvRow": {
      "type": "object",
      "properties": {
        "entries": {
          "description": "The data entries in a CSV file row, as a string array rather than a single comma-separated string.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "CsvRow",
      "description": "A representation of a single data row in a CSV file."
    },
    "PhishingSpike": {
      "description": "Alert for a spike in user reported phishing. *Warning*: This type has been deprecated. Use [MailPhishing](/admin-sdk/alertcenter/reference/rest/v1beta1/MailPhishing) instead.",
      "type": "object",
      "properties": {
        "isInternal": {
          "description": "If `true`, the email originated from within the organization.",
          "type": "boolean"
        },
        "domainId": {
          "description": "The domain ID.",
          "$ref": "DomainId"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GmailMessageInfo"
          },
          "description": "The list of messages contained by this alert."
        },
        "maliciousEntity": {
          "$ref": "MaliciousEntity",
          "description": "The entity whose actions triggered a Gmail phishing alert."
        }
      },
      "id": "PhishingSpike"
    },
    "DeviceCompromised": {
      "id": "DeviceCompromised",
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email of the user this alert was created for."
        },
        "events": {
          "items": {
            "$ref": "DeviceCompromisedSecurityDetail"
          },
          "description": "Required. The list of security events.",
          "type": "array"
        }
      },
      "description": "A mobile device compromised alert. Derived from audit logs."
    },
    "ListAlertFeedbackResponse": {
      "properties": {
        "feedback": {
          "items": {
            "$ref": "AlertFeedback"
          },
          "type": "array",
          "description": "The list of alert feedback. Feedback entries for each alert are ordered by creation time descending."
        }
      },
      "id": "ListAlertFeedbackResponse",
      "type": "object",
      "description": "Response message for an alert feedback listing request."
    },
    "DomainWideTakeoutInitiated": {
      "description": "A takeout operation for the entire domain was initiated by an admin. Derived from audit logs.",
      "properties": {
        "email": {
          "description": "The email of the admin who initiated the takeout.",
          "type": "string"
        },
        "takeoutRequestId": {
          "description": "The takeout request ID.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DomainWideTakeoutInitiated"
    },
    "AppMakerSqlSetupNotification": {
      "id": "AppMakerSqlSetupNotification",
      "type": "object",
      "properties": {
        "requestInfo": {
          "type": "array",
          "description": "List of applications with requests for default SQL set up.",
          "items": {
            "$ref": "RequestInfo"
          }
        }
      },
      "description": "Alerts from App Maker to notify admins to set up default SQL instance."
    },
    "DlpRuleViolation": {
      "type": "object",
      "description": "Alerts that get triggered on violations of Data Loss Prevention (DLP) rules.",
      "properties": {
        "ruleViolationInfo": {
          "$ref": "RuleViolationInfo",
          "description": "Details about the violated DLP rule. Admins can use the predefined detectors provided by Google Cloud DLP https://cloud.google.com/dlp/ when setting up a DLP rule. Matched Cloud DLP detectors in this violation if any will be captured in the MatchInfo.predefined_detector."
        }
      },
      "id": "DlpRuleViolation"
    },
    "UserDefinedDetectorInfo": {
      "type": "object",
      "id": "UserDefinedDetectorInfo",
      "description": "Detector defined by administrators.",
      "properties": {
        "displayName": {
          "description": "Display name of the detector.",
          "type": "string"
        },
        "resourceName": {
          "description": "Resource name that uniquely identifies the detector.",
          "type": "string"
        }
      }
    },
    "MatchInfo": {
      "description": "Proto that contains match information from the condition part of the rule.",
      "id": "MatchInfo",
      "type": "object",
      "properties": {
        "userDefinedDetector": {
          "description": "For matched detector defined by administrators.",
          "$ref": "UserDefinedDetectorInfo"
        },
        "predefinedDetector": {
          "$ref": "PredefinedDetectorInfo",
          "description": "For matched detector predefined by Google."
        }
      }
    },
    "Csv": {
      "id": "Csv",
      "type": "object",
      "description": "A representation of a CSV file attachment, as a list of column headers and a list of data rows.",
      "properties": {
        "dataRows": {
          "description": "The list of data rows in a CSV file, as string arrays rather than as a single comma-separated string.",
          "items": {
            "$ref": "CsvRow"
          },
          "type": "array"
        },
        "headers": {
          "items": {
            "type": "string"
          },
          "description": "The list of headers for data columns in a CSV file.",
          "type": "array"
        }
      }
    },
    "GoogleOperations": {
      "description": "An incident reported by Google Operations for a Google Workspace application.",
      "properties": {
        "attachmentData": {
          "description": "Optional. Application-specific data for an incident, provided when the Google Workspace application which reported the incident cannot be completely restored to a valid state.",
          "$ref": "Attachment"
        },
        "header": {
          "description": "A header to display above the incident message. Typically used to attach a localized notice on the timeline for followup comms translations.",
          "type": "string"
        },
        "affectedUserEmails": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of emails which correspond to the users directly affected by the incident."
        },
        "title": {
          "type": "string",
          "description": "A one-line incident description."
        },
        "description": {
          "type": "string",
          "description": "A detailed, freeform incident description."
        }
      },
      "type": "object",
      "id": "GoogleOperations"
    },
    "AlertMetadata": {
      "properties": {
        "assignee": {
          "type": "string",
          "description": "The email address of the user assigned to the alert."
        },
        "alertId": {
          "type": "string",
          "description": "Output only. The alert identifier."
        },
        "status": {
          "type": "string",
          "description": "The current status of the alert. The supported values are the following: * NOT_STARTED * IN_PROGRESS * CLOSED"
        },
        "severity": {
          "description": "The severity value of the alert. Alert Center will set this field at alert creation time, default's to an empty string when it could not be determined. The supported values for update actions on this field are the following: * HIGH * MEDIUM * LOW",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time this metadata was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Optional. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of an alert metadata from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform metatdata updates in order to avoid race conditions: An `etag` is returned in the response which contains alert metadata, and systems are expected to put that etag in the request to update alert metadata to ensure that their change will be applied to the same version of the alert metadata. If no `etag` is provided in the call to update alert metadata, then the existing alert metadata is overwritten blindly."
        },
        "customerId": {
          "description": "Output only. The unique identifier of the Google account of the customer.",
          "type": "string"
        }
      },
      "description": "An alert metadata.",
      "type": "object",
      "id": "AlertMetadata"
    },
    "RuleViolationInfo": {
      "properties": {
        "suppressedActionTypes": {
          "description": "Actions suppressed due to other actions with higher priority.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "DRIVE_BLOCK_EXTERNAL_SHARING",
              "DRIVE_WARN_ON_EXTERNAL_SHARING",
              "ALERT",
              "RULE_ACTIVATE",
              "RULE_DEACTIVATE"
            ],
            "enumDescriptions": [
              "Action type is unspecified.",
              "Block sharing a file externally.",
              "Show a warning message when sharing a file externally.",
              "Send alert.",
              "Activate Rule Action",
              "Deactivate Rule Action"
            ]
          }
        },
        "triggeredActionTypes": {
          "items": {
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "DRIVE_BLOCK_EXTERNAL_SHARING",
              "DRIVE_WARN_ON_EXTERNAL_SHARING",
              "ALERT",
              "RULE_ACTIVATE",
              "RULE_DEACTIVATE"
            ],
            "type": "string",
            "enumDescriptions": [
              "Action type is unspecified.",
              "Block sharing a file externally.",
              "Show a warning message when sharing a file externally.",
              "Send alert.",
              "Activate Rule Action",
              "Deactivate Rule Action"
            ]
          },
          "description": "Actions applied as a consequence of the rule being triggered.",
          "type": "array"
        },
        "recipients": {
          "items": {
            "type": "string"
          },
          "description": "Resource recipients. For Drive, they are grantees that the Drive file was shared with at the time of rule triggering. Valid values include user emails, group emails, domains, or 'anyone' if the file was publicly accessible. If the file was private the recipients list will be empty. For Gmail, they are emails of the users or groups that the Gmail message was sent to.",
          "type": "array"
        },
        "ruleInfo": {
          "$ref": "RuleInfo",
          "description": "Details of the violated rule."
        },
        "triggeringUserEmail": {
          "description": "Email of the user who caused the violation. Value could be empty if not applicable, for example, a violation found by drive continuous scan.",
          "type": "string"
        },
        "matchInfo": {
          "items": {
            "$ref": "MatchInfo"
          },
          "type": "array",
          "description": "List of matches that were found in the resource content."
        },
        "dataSource": {
          "type": "string",
          "description": "Source of the data.",
          "enumDescriptions": [
            "Data source is unspecified.",
            "Drive data source."
          ],
          "enum": [
            "DATA_SOURCE_UNSPECIFIED",
            "DRIVE"
          ]
        },
        "triggeredActionInfo": {
          "description": "Metadata related to the triggered actions.",
          "items": {
            "$ref": "ActionInfo"
          },
          "type": "array"
        },
        "trigger": {
          "enumDescriptions": [
            "Trigger is unspecified.",
            "A Drive file is shared."
          ],
          "type": "string",
          "description": "Trigger of the rule.",
          "enum": [
            "TRIGGER_UNSPECIFIED",
            "DRIVE_SHARE"
          ]
        },
        "resourceInfo": {
          "description": "Details of the resource which violated the rule.",
          "$ref": "ResourceInfo"
        }
      },
      "id": "RuleViolationInfo",
      "type": "object",
      "description": "Common alert information about violated rules that are configured by Google Workspace administrators."
    },
    "CloudPubsubTopic": {
      "id": "CloudPubsubTopic",
      "type": "object",
      "properties": {
        "topicName": {
          "description": "The `name` field of a Cloud Pubsub [Topic] (https://cloud.google.com/pubsub/docs/reference/rest/v1/projects.topics#Topic).",
          "type": "string"
        },
        "payloadFormat": {
          "enum": [
            "PAYLOAD_FORMAT_UNSPECIFIED",
            "JSON"
          ],
          "enumDescriptions": [
            "Payload format is not specified (will use JSON as default).",
            "Use JSON."
          ],
          "type": "string",
          "description": "Optional. The format of the payload that would be sent. If not specified the format will be JSON."
        }
      },
      "description": "A reference to a Cloud Pubsub topic. To register for notifications, the owner of the topic must grant `alerts-api-push-notifications@system.gserviceaccount.com` the `projects.topics.publish` permission."
    },
    "BatchUndeleteAlertsResponse": {
      "description": "Response to batch undelete operation on alerts.",
      "id": "BatchUndeleteAlertsResponse",
      "type": "object",
      "properties": {
        "successAlertIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The successful list of alert IDs."
        },
        "failedAlertStatus": {
          "description": "The status details for each failed alert_id.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Status"
          }
        }
      }
    },
    "ActionInfo": {
      "id": "ActionInfo",
      "properties": {},
      "description": "Metadata related to the action.",
      "type": "object"
    },
    "GmailMessageInfo": {
      "properties": {
        "messageId": {
          "description": "The message ID.",
          "type": "string"
        },
        "messageBodySnippet": {
          "type": "string",
          "description": "The snippet of the message body text (only available for reported emails)."
        },
        "attachmentsSha256Hash": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The `SHA256` hash of email's attachment and all MIME parts."
        },
        "date": {
          "type": "string",
          "format": "google-datetime",
          "description": "The date the malicious email was sent."
        },
        "md5HashMessageBody": {
          "description": "The hash of the message body text.",
          "type": "string"
        },
        "md5HashSubject": {
          "description": "The MD5 Hash of email's subject (only available for reported emails).",
          "type": "string"
        },
        "subjectText": {
          "type": "string",
          "description": "The email subject text (only available for reported emails)."
        },
        "recipient": {
          "type": "string",
          "description": "The recipient of this email."
        }
      },
      "description": "Details of a message in phishing spike alert.",
      "id": "GmailMessageInfo",
      "type": "object"
    },
    "AppSettingsChanged": {
      "id": "AppSettingsChanged",
      "properties": {
        "alertDetails": {
          "format": "byte",
          "description": "Any other associated alert details, for example, AlertConfiguration.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Rule name"
        }
      },
      "description": "Alerts from AppSettingsChanged bucket Rules configured by Admin which contain the below rules. Calendar settings changed Drive settings changed Email settings changed Mobile settings changed",
      "type": "object"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Status",
      "type": "object"
    },
    "PredefinedDetectorInfo": {
      "id": "PredefinedDetectorInfo",
      "description": "Detector provided by Google.",
      "type": "object",
      "properties": {
        "detectorName": {
          "description": "Name that uniquely identifies the detector.",
          "type": "string"
        }
      }
    },
    "ResourceInfo": {
      "type": "object",
      "description": "Proto that contains resource information.",
      "id": "ResourceInfo",
      "properties": {
        "resourceTitle": {
          "type": "string",
          "description": "Title of the resource, for example email subject, or document title."
        },
        "documentId": {
          "description": "Drive file ID.",
          "type": "string"
        }
      }
    },
    "BatchDeleteAlertsRequest": {
      "description": "A request to perform batch delete on alerts.",
      "type": "object",
      "id": "BatchDeleteAlertsRequest",
      "properties": {
        "customerId": {
          "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alerts are associated with.",
          "type": "string"
        },
        "alertId": {
          "items": {
            "type": "string"
          },
          "description": "Required. list of alert IDs.",
          "type": "array"
        }
      }
    },
    "LoginDetails": {
      "type": "object",
      "properties": {
        "ipAddress": {
          "type": "string",
          "description": "Optional. The human-readable IP address (for example, `11.22.33.44`) that is associated with the warning event."
        },
        "loginTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The successful login time that is associated with the warning event. This isn't present for blocked login attempts."
        }
      },
      "description": "The details of the login action.",
      "id": "LoginDetails"
    },
    "UndeleteAlertRequest": {
      "description": "A request to undelete a specific alert that was marked for deletion.",
      "type": "object",
      "id": "UndeleteAlertRequest",
      "properties": {
        "customerId": {
          "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alert is associated with. Inferred from the caller identity if not provided.",
          "type": "string"
        }
      }
    },
    "ReportingRule": {
      "description": "Alerts from Reporting Rules configured by Admin.",
      "id": "ReportingRule",
      "type": "object",
      "properties": {
        "name": {
          "description": "Rule name",
          "type": "string"
        },
        "alertDetails": {
          "type": "string",
          "format": "byte",
          "description": "Any other associated alert details, for example, AlertConfiguration."
        },
        "query": {
          "description": "Alert Rule query Sample Query query { condition { filter { expected_application_id: 777491262838 expected_event_name: \"indexable_content_change\" filter_op: IN } } conjunction_operator: OR }",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "Attachment": {
      "type": "object",
      "description": "Attachment with application-specific information about an alert.",
      "properties": {
        "csv": {
          "description": "A CSV file attachment.",
          "$ref": "Csv"
        }
      },
      "id": "Attachment"
    },
    "UserChanges": {
      "id": "UserChanges",
      "description": "Alerts from UserChanges bucket Rules for predefined rules which contain the below rules. Suspended user made active New user Added User suspended (by admin) User granted admin privileges User admin privileges revoked User deleted Users password changed",
      "properties": {
        "name": {
          "description": "Rule name",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DomainId": {
      "description": "Domain ID of Gmail phishing alerts.",
      "type": "object",
      "properties": {
        "customerPrimaryDomain": {
          "type": "string",
          "description": "The primary domain for the customer."
        }
      },
      "id": "DomainId"
    },
    "Alert": {
      "id": "Alert",
      "type": "object",
      "description": "An alert affecting a customer.",
      "properties": {
        "source": {
          "description": "Required. A unique identifier for the system that reported the alert. This is output only after alert is created. Supported sources are any of the following: * Google Operations * Mobile device management * Gmail phishing * Domain wide takeout * State sponsored attack * Google identity",
          "type": "string"
        },
        "securityInvestigationToolLink": {
          "description": "Output only. An optional [Security Investigation Tool](https://support.google.com/a/answer/7575955) query for this alert.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time this alert was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "customerId": {
          "description": "Output only. The unique identifier of the Google account of the customer.",
          "type": "string"
        },
        "metadata": {
          "$ref": "AlertMetadata",
          "description": "Output only. The metadata associated with this alert."
        },
        "type": {
          "description": "Required. The type of the alert. This is output only after alert is created. For a list of available alert types see [Google Workspace Alert types](https://developers.google.com/admin-sdk/alertcenter/reference/alert-types).",
          "type": "string"
        },
        "endTime": {
          "description": "Optional. The time the event that caused this alert ceased being active. If provided, the end time must not be earlier than the start time. If not provided, it indicates an ongoing alert.",
          "format": "google-datetime",
          "type": "string"
        },
        "etag": {
          "description": "Optional. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of an alert from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform alert updates in order to avoid race conditions: An `etag` is returned in the response which contains alerts, and systems are expected to put that etag in the request to update alert to ensure that their change will be applied to the same version of the alert. If no `etag` is provided in the call to update alert, then the existing alert is overwritten blindly.",
          "type": "string"
        },
        "deleted": {
          "description": "Output only. `True` if this alert is marked for deletion.",
          "type": "boolean"
        },
        "alertId": {
          "type": "string",
          "description": "Output only. The unique identifier for the alert."
        },
        "data": {
          "description": "Optional. The data associated with this alert, for example google.apps.alertcenter.type.DeviceCompromised.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "startTime": {
          "description": "Required. The time the event that caused this alert was started or detected.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time this alert was created.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "SuspiciousActivitySecurityDetail": {
      "description": "Detailed information of a single MDM suspicious activity event.",
      "id": "SuspiciousActivitySecurityDetail",
      "properties": {
        "iosVendorId": {
          "description": "Required for iOS, empty for others.",
          "type": "string"
        },
        "newValue": {
          "type": "string",
          "description": "The new value of the device property after the change."
        },
        "oldValue": {
          "type": "string",
          "description": "The old value of the device property before the change."
        },
        "deviceModel": {
          "description": "The model of the device.",
          "type": "string"
        },
        "resourceId": {
          "type": "string",
          "description": "The device resource ID."
        },
        "deviceId": {
          "description": "Required. The device ID.",
          "type": "string"
        },
        "deviceType": {
          "type": "string",
          "description": "The type of the device."
        },
        "serialNumber": {
          "description": "The serial number of the device.",
          "type": "string"
        },
        "deviceProperty": {
          "type": "string",
          "description": "The device property which was changed."
        }
      },
      "type": "object"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://alertcenter.googleapis.com/",
  "canonicalName": "AlertCenter",
  "protocol": "rest"
}
