{
  "canonicalName": "AlertCenter",
  "version": "v1beta1",
  "ownerDomain": "google.com",
  "id": "alertcenter:v1beta1",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "revision": "20220221",
  "title": "Google Workspace Alert Center API",
  "baseUrl": "https://alertcenter.googleapis.com/",
  "description": "Manages alerts on issues affecting your domain.",
  "protocol": "rest",
  "resources": {
    "alerts": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Alert"
          },
          "parameterOrder": [
            "alertId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "id": "alertcenter.alerts.get",
          "flatPath": "v1beta1/alerts/{alertId}",
          "path": "v1beta1/alerts/{alertId}",
          "httpMethod": "GET",
          "description": "Gets the specified alert. Attempting to get a nonexistent alert returns `NOT_FOUND` error.",
          "parameters": {
            "alertId": {
              "description": "Required. The identifier of the alert to retrieve.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "customerId": {
              "location": "query",
              "type": "string",
              "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alert is associated with. Inferred from the caller identity if not provided."
            }
          }
        },
        "batchDelete": {
          "id": "alertcenter.alerts.batchDelete",
          "path": "v1beta1/alerts:batchDelete",
          "parameterOrder": [],
          "flatPath": "v1beta1/alerts:batchDelete",
          "response": {
            "$ref": "BatchDeleteAlertsResponse"
          },
          "description": "Performs batch delete operation on alerts.",
          "parameters": {},
          "request": {
            "$ref": "BatchDeleteAlertsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "httpMethod": "POST"
        },
        "getMetadata": {
          "flatPath": "v1beta1/alerts/{alertId}/metadata",
          "parameterOrder": [
            "alertId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "response": {
            "$ref": "AlertMetadata"
          },
          "parameters": {
            "alertId": {
              "type": "string",
              "location": "path",
              "description": "Required. The identifier of the alert this metadata belongs to.",
              "required": true
            },
            "customerId": {
              "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alert metadata is associated with. Inferred from the caller identity if not provided.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "description": "Returns the metadata of an alert. Attempting to get metadata for a non-existent alert returns `NOT_FOUND` error.",
          "id": "alertcenter.alerts.getMetadata",
          "path": "v1beta1/alerts/{alertId}/metadata"
        },
        "batchUndelete": {
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "request": {
            "$ref": "BatchUndeleteAlertsRequest"
          },
          "parameterOrder": [],
          "id": "alertcenter.alerts.batchUndelete",
          "description": "Performs batch undelete operation on alerts.",
          "flatPath": "v1beta1/alerts:batchUndelete",
          "httpMethod": "POST",
          "parameters": {},
          "response": {
            "$ref": "BatchUndeleteAlertsResponse"
          },
          "path": "v1beta1/alerts:batchUndelete"
        },
        "list": {
          "path": "v1beta1/alerts",
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "location": "query",
              "description": "Optional. The requested page size. Server may return fewer items than requested. If unspecified, server picks an appropriate default.",
              "type": "integer"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Optional. A query string for filtering alert results. For more details, see [Query filters](https://developers.google.com/admin-sdk/alertcenter/guides/query-filters) and [Supported query filter fields](https://developers.google.com/admin-sdk/alertcenter/reference/filter-fields#alerts.list)."
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A token identifying a page of results the server should return. If empty, a new iteration is started. To continue an iteration, pass in the value from the previous ListAlertsResponse's next_page_token field.",
              "location": "query"
            },
            "customerId": {
              "type": "string",
              "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alerts are associated with. Inferred from the caller identity if not provided.",
              "location": "query"
            },
            "orderBy": {
              "description": "Optional. The sort order of the list results. If not specified results may be returned in arbitrary order. You can sort the results in descending order based on the creation timestamp using `order_by=\"create_time desc\"`. Currently, supported sorting are `create_time asc`, `create_time desc`, `update_time desc`",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "ListAlertsResponse"
          },
          "flatPath": "v1beta1/alerts",
          "id": "alertcenter.alerts.list",
          "description": "Lists the alerts.",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ]
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "response": {
            "$ref": "Empty"
          },
          "id": "alertcenter.alerts.delete",
          "flatPath": "v1beta1/alerts/{alertId}",
          "path": "v1beta1/alerts/{alertId}",
          "httpMethod": "DELETE",
          "description": "Marks the specified alert for deletion. An alert that has been marked for deletion is removed from Alert Center after 30 days. Marking an alert for deletion has no effect on an alert which has already been marked for deletion. Attempting to mark a nonexistent alert for deletion results in a `NOT_FOUND` error.",
          "parameterOrder": [
            "alertId"
          ],
          "parameters": {
            "customerId": {
              "type": "string",
              "location": "query",
              "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alert is associated with. Inferred from the caller identity if not provided."
            },
            "alertId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The identifier of the alert to delete."
            }
          }
        },
        "undelete": {
          "httpMethod": "POST",
          "path": "v1beta1/alerts/{alertId}:undelete",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "parameters": {
            "alertId": {
              "type": "string",
              "description": "Required. The identifier of the alert to undelete.",
              "location": "path",
              "required": true
            }
          },
          "request": {
            "$ref": "UndeleteAlertRequest"
          },
          "response": {
            "$ref": "Alert"
          },
          "id": "alertcenter.alerts.undelete",
          "description": "Restores, or \"undeletes\", an alert that was marked for deletion within the past 30 days. Attempting to undelete an alert which was marked for deletion over 30 days ago (which has been removed from the Alert Center database) or a nonexistent alert returns a `NOT_FOUND` error. Attempting to undelete an alert which has not been marked for deletion has no effect.",
          "flatPath": "v1beta1/alerts/{alertId}:undelete",
          "parameterOrder": [
            "alertId"
          ]
        }
      },
      "resources": {
        "feedback": {
          "methods": {
            "create": {
              "description": "Creates new feedback for an alert. Attempting to create a feedback for a non-existent alert returns `NOT_FOUND` error. Attempting to create a feedback for an alert that is marked for deletion returns `FAILED_PRECONDITION' error.",
              "request": {
                "$ref": "AlertFeedback"
              },
              "parameters": {
                "alertId": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The identifier of the alert this feedback belongs to.",
                  "location": "path"
                },
                "customerId": {
                  "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alert is associated with. Inferred from the caller identity if not provided.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/apps.alerts"
              ],
              "response": {
                "$ref": "AlertFeedback"
              },
              "id": "alertcenter.alerts.feedback.create",
              "httpMethod": "POST",
              "flatPath": "v1beta1/alerts/{alertId}/feedback",
              "path": "v1beta1/alerts/{alertId}/feedback",
              "parameterOrder": [
                "alertId"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/apps.alerts"
              ],
              "path": "v1beta1/alerts/{alertId}/feedback",
              "parameters": {
                "customerId": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alert feedback are associated with. Inferred from the caller identity if not provided."
                },
                "alertId": {
                  "description": "Required. The alert identifier. The \"-\" wildcard could be used to represent all alerts.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. A query string for filtering alert feedback results. For more details, see [Query filters](https://developers.google.com/admin-sdk/alertcenter/guides/query-filters) and [Supported query filter fields](https://developers.google.com/admin-sdk/alertcenter/reference/filter-fields#alerts.feedback.list).",
                  "type": "string"
                }
              },
              "description": "Lists all the feedback for an alert. Attempting to list feedbacks for a non-existent alert returns `NOT_FOUND` error.",
              "httpMethod": "GET",
              "id": "alertcenter.alerts.feedback.list",
              "parameterOrder": [
                "alertId"
              ],
              "flatPath": "v1beta1/alerts/{alertId}/feedback",
              "response": {
                "$ref": "ListAlertFeedbackResponse"
              }
            }
          }
        }
      }
    },
    "v1beta1": {
      "methods": {
        "getSettings": {
          "flatPath": "v1beta1/settings",
          "parameterOrder": [],
          "path": "v1beta1/settings",
          "description": "Returns customer-level settings.",
          "id": "alertcenter.getSettings",
          "response": {
            "$ref": "Settings"
          },
          "parameters": {
            "customerId": {
              "type": "string",
              "location": "query",
              "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alert settings are associated with. Inferred from the caller identity if not provided."
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ]
        },
        "updateSettings": {
          "description": "Updates the customer-level settings.",
          "response": {
            "$ref": "Settings"
          },
          "flatPath": "v1beta1/settings",
          "request": {
            "$ref": "Settings"
          },
          "parameterOrder": [],
          "httpMethod": "PATCH",
          "parameters": {
            "customerId": {
              "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alert settings are associated with. Inferred from the caller identity if not provided.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1beta1/settings",
          "id": "alertcenter.updateSettings",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ]
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://alertcenter.mtls.googleapis.com/",
  "version_module": true,
  "batchPath": "batch",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    }
  },
  "servicePath": "",
  "schemas": {
    "DomainId": {
      "description": "Domain ID of Gmail phishing alerts.",
      "properties": {
        "customerPrimaryDomain": {
          "description": "The primary domain for the customer.",
          "type": "string"
        }
      },
      "id": "DomainId",
      "type": "object"
    },
    "AccountSuspensionDetails": {
      "description": "Details about why an account is receiving an account suspension warning.",
      "id": "AccountSuspensionDetails",
      "properties": {
        "abuseReason": {
          "type": "string",
          "enumDescriptions": [
            "Abuse reason is unspecified.",
            "This account is being suspended for a Terms of Service violation.",
            "This account is being suspended for spam.",
            "This account is being suspended for phishing.",
            "This account is being suspended for artificially boosting traffic to a website.",
            "This account is being suspended for fraud.",
            "This account is being suspended for number harvesting.",
            "This account is being suspended for payments fraud.",
            "This account is being suspended for unwanted content."
          ],
          "enum": [
            "ACCOUNT_SUSPENSION_ABUSE_REASON_UNSPECIFIED",
            "TOS_VIOLATION",
            "SPAM",
            "PHISHING",
            "TRAFFIC_PUMPING",
            "FRAUD",
            "NUMBER_HARVESTING",
            "PAYMENTS_FRAUD",
            "UNWANTED_CONTENT"
          ],
          "description": "The reason why this account is receiving an account suspension warning."
        },
        "productName": {
          "description": "The name of the product being abused. This is restricted to only the following values: \"Gmail\" \"Google Workspace\" \"Payments\" \"Voice\" \"YouTube\" \"Other\"",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BadWhitelist": {
      "type": "object",
      "description": "Alert for setting the domain or IP that malicious email comes from as whitelisted domain or IP in Gmail advanced settings.",
      "properties": {
        "domainId": {
          "description": "The domain ID.",
          "$ref": "DomainId"
        },
        "maliciousEntity": {
          "$ref": "MaliciousEntity",
          "description": "The entity whose actions triggered a Gmail phishing alert."
        },
        "messages": {
          "description": "The list of messages contained by this alert.",
          "type": "array",
          "items": {
            "$ref": "GmailMessageInfo"
          }
        },
        "sourceIp": {
          "type": "string",
          "description": "The source IP address of the malicious email, for example, `127.0.0.1`."
        }
      },
      "id": "BadWhitelist"
    },
    "AppsOutage": {
      "type": "object",
      "description": "An outage incident reported for a Google Workspace service.",
      "id": "AppsOutage",
      "properties": {
        "incidentTrackingId": {
          "description": "Incident tracking ID.",
          "type": "string"
        },
        "resolutionTime": {
          "type": "string",
          "description": "Timestamp when the outage is expected to be resolved, or has confirmed resolution. Provided only when known.",
          "format": "google-datetime"
        },
        "dashboardUri": {
          "description": "Link to the outage event in Google Workspace Status Dashboard",
          "type": "string"
        },
        "mergeInfo": {
          "description": "Indicates new alert details under which the outage is communicated. Only populated when Status is MERGED.",
          "$ref": "MergeInfo"
        },
        "products": {
          "items": {
            "type": "string"
          },
          "description": "List of products impacted by the outage.",
          "type": "array"
        },
        "status": {
          "enumDescriptions": [
            "Status is unspecified.",
            "The incident has just been reported.",
            "The incident is ongoing.",
            "The incident has been resolved.",
            "Further assessment indicated no customer impact.",
            "The incident has been partially resolved.",
            "The incident was merged into a parent.",
            "The incident has lower impact than initially anticipated."
          ],
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NEW",
            "ONGOING",
            "RESOLVED",
            "FALSE_POSITIVE",
            "PARTIALLY_RESOLVED",
            "MERGED",
            "DOWNGRADED"
          ],
          "description": "Current outage status."
        },
        "nextUpdateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp by which the next update is expected to arrive."
        }
      }
    },
    "CsvRow": {
      "type": "object",
      "id": "CsvRow",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The data entries in a CSV file row, as a string array rather than a single comma-separated string."
        }
      },
      "description": "A representation of a single data row in a CSV file."
    },
    "User": {
      "type": "object",
      "id": "User",
      "description": "A user.",
      "properties": {
        "emailAddress": {
          "description": "Email address of the user.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the user."
        }
      }
    },
    "Attachment": {
      "description": "Attachment with application-specific information about an alert.",
      "id": "Attachment",
      "properties": {
        "csv": {
          "description": "A CSV file attachment.",
          "$ref": "Csv"
        }
      },
      "type": "object"
    },
    "Settings": {
      "type": "object",
      "id": "Settings",
      "properties": {
        "notifications": {
          "items": {
            "$ref": "Notification"
          },
          "type": "array",
          "description": "The list of notifications."
        }
      },
      "description": "Customer-level settings."
    },
    "PhishingSpike": {
      "type": "object",
      "description": "Alert for a spike in user reported phishing. *Warning*: This type has been deprecated. Use [MailPhishing](/admin-sdk/alertcenter/reference/rest/v1beta1/MailPhishing) instead.",
      "properties": {
        "maliciousEntity": {
          "$ref": "MaliciousEntity",
          "description": "The entity whose actions triggered a Gmail phishing alert."
        },
        "isInternal": {
          "type": "boolean",
          "description": "If `true`, the email originated from within the organization."
        },
        "messages": {
          "description": "The list of messages contained by this alert.",
          "items": {
            "$ref": "GmailMessageInfo"
          },
          "type": "array"
        },
        "domainId": {
          "$ref": "DomainId",
          "description": "The domain ID."
        }
      },
      "id": "PhishingSpike"
    },
    "RequestInfo": {
      "type": "object",
      "id": "RequestInfo",
      "properties": {
        "numberOfRequests": {
          "type": "string",
          "description": "Required. Number of requests sent for this application to set up default SQL instance.",
          "format": "int64"
        },
        "appDeveloperEmail": {
          "items": {
            "type": "string"
          },
          "description": "List of app developers who triggered notifications for above application.",
          "type": "array"
        },
        "appKey": {
          "description": "Required. The application that requires the SQL setup.",
          "type": "string"
        }
      },
      "description": "Requests for one application that needs default SQL setup."
    },
    "MailPhishing": {
      "id": "MailPhishing",
      "type": "object",
      "description": "Proto for all phishing alerts with common payload. Supported types are any of the following: * User reported phishing * User reported spam spike * Suspicious message reported * Phishing reclassification * Malware reclassification * Gmail potential employee spoofing",
      "properties": {
        "domainId": {
          "$ref": "DomainId",
          "description": "The domain ID."
        },
        "messages": {
          "description": "The list of messages contained by this alert.",
          "items": {
            "$ref": "GmailMessageInfo"
          },
          "type": "array"
        },
        "systemActionType": {
          "enumDescriptions": [
            "System action is unspecified.",
            "No operation.",
            "Messages were removed from the inbox."
          ],
          "description": "System actions on the messages.",
          "enum": [
            "SYSTEM_ACTION_TYPE_UNSPECIFIED",
            "NO_OPERATION",
            "REMOVED_FROM_INBOX"
          ],
          "type": "string"
        },
        "isInternal": {
          "type": "boolean",
          "description": "If `true`, the email originated from within the organization."
        },
        "maliciousEntity": {
          "description": "The entity whose actions triggered a Gmail phishing alert.",
          "$ref": "MaliciousEntity"
        }
      }
    },
    "AccountSuspensionWarning": {
      "id": "AccountSuspensionWarning",
      "description": "A warning that the customer's account is about to be suspended.",
      "properties": {
        "state": {
          "enum": [
            "ACCOUNT_SUSPENSION_WARNING_STATE_UNSPECIFIED",
            "WARNING",
            "SUSPENDED",
            "APPEAL_APPROVED",
            "APPEAL_SUBMITTED"
          ],
          "type": "string",
          "description": "Account suspension warning state.",
          "enumDescriptions": [
            "State is unspecified.",
            "Customer is receiving a warning about imminent suspension.",
            "Customer is being notified that their account has been suspended.",
            "Customer is being notified that their suspension appeal was approved.",
            "Customer has submitted their appeal, which is pending review."
          ]
        },
        "appealWindow": {
          "format": "google-duration",
          "type": "string",
          "description": "The amount of time remaining to appeal an imminent suspension. After this window has elapsed, the account will be suspended. Only populated if the account suspension is in WARNING state."
        },
        "suspensionDetails": {
          "items": {
            "$ref": "AccountSuspensionDetails"
          },
          "description": "Details about why an account is being suspended.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "DeviceCompromised": {
      "description": "A mobile device compromised alert. Derived from audit logs.",
      "type": "object",
      "properties": {
        "events": {
          "items": {
            "$ref": "DeviceCompromisedSecurityDetail"
          },
          "type": "array",
          "description": "Required. The list of security events."
        },
        "email": {
          "type": "string",
          "description": "The email of the user this alert was created for."
        }
      },
      "id": "DeviceCompromised"
    },
    "Alert": {
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. The time this alert was created.",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "description": "Optional. The time the event that caused this alert ceased being active. If provided, the end time must not be earlier than the start time. If not provided, it indicates an ongoing alert.",
          "format": "google-datetime"
        },
        "data": {
          "description": "Optional. The data associated with this alert, for example google.apps.alertcenter.type.DeviceCompromised.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "alertId": {
          "type": "string",
          "description": "Output only. The unique identifier for the alert."
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. The time the event that caused this alert was started or detected."
        },
        "etag": {
          "type": "string",
          "description": "Optional. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of an alert from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform alert updates in order to avoid race conditions: An `etag` is returned in the response which contains alerts, and systems are expected to put that etag in the request to update alert to ensure that their change will be applied to the same version of the alert. If no `etag` is provided in the call to update alert, then the existing alert is overwritten blindly."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time this alert was last updated.",
          "format": "google-datetime"
        },
        "securityInvestigationToolLink": {
          "type": "string",
          "description": "Output only. An optional [Security Investigation Tool](https://support.google.com/a/answer/7575955) query for this alert."
        },
        "metadata": {
          "description": "Output only. The metadata associated with this alert.",
          "$ref": "AlertMetadata"
        },
        "source": {
          "type": "string",
          "description": "Required. A unique identifier for the system that reported the alert. This is output only after alert is created. Supported sources are any of the following: * Google Operations * Mobile device management * Gmail phishing * Data Loss Prevention * Domain wide takeout * State sponsored attack * Google identity * Apps outage"
        },
        "deleted": {
          "type": "boolean",
          "description": "Output only. `True` if this alert is marked for deletion."
        },
        "customerId": {
          "description": "Output only. The unique identifier of the Google account of the customer.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Required. The type of the alert. This is output only after alert is created. For a list of available alert types see [Google Workspace Alert types](https://developers.google.com/admin-sdk/alertcenter/reference/alert-types)."
        }
      },
      "id": "Alert",
      "type": "object",
      "description": "An alert affecting a customer."
    },
    "AlertMetadata": {
      "type": "object",
      "description": "An alert metadata.",
      "id": "AlertMetadata",
      "properties": {
        "etag": {
          "description": "Optional. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of an alert metadata from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform metadata updates in order to avoid race conditions: An `etag` is returned in the response which contains alert metadata, and systems are expected to put that etag in the request to update alert metadata to ensure that their change will be applied to the same version of the alert metadata. If no `etag` is provided in the call to update alert metadata, then the existing alert metadata is overwritten blindly.",
          "type": "string"
        },
        "assignee": {
          "description": "The email address of the user assigned to the alert.",
          "type": "string"
        },
        "alertId": {
          "type": "string",
          "description": "Output only. The alert identifier."
        },
        "customerId": {
          "type": "string",
          "description": "Output only. The unique identifier of the Google account of the customer."
        },
        "severity": {
          "type": "string",
          "description": "The severity value of the alert. Alert Center will set this field at alert creation time, default's to an empty string when it could not be determined. The supported values for update actions on this field are the following: * HIGH * MEDIUM * LOW"
        },
        "status": {
          "description": "The current status of the alert. The supported values are the following: * NOT_STARTED * IN_PROGRESS * CLOSED",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time this metadata was last updated.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "RuleInfo": {
      "id": "RuleInfo",
      "properties": {
        "resourceName": {
          "description": "Resource name that uniquely identifies the rule.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "User provided name of the rule."
        }
      },
      "type": "object",
      "description": "Proto that contains rule information."
    },
    "ResourceInfo": {
      "properties": {
        "resourceTitle": {
          "description": "Title of the resource, for example email subject, or document title.",
          "type": "string"
        },
        "documentId": {
          "type": "string",
          "description": "Drive file ID."
        }
      },
      "type": "object",
      "id": "ResourceInfo",
      "description": "Proto that contains resource information."
    },
    "AppSettingsChanged": {
      "description": "Alerts from AppSettingsChanged bucket Rules configured by Admin which contain the below rules. Calendar settings changed Drive settings changed Email settings changed Mobile settings changed",
      "properties": {
        "name": {
          "type": "string",
          "description": "Rule name"
        },
        "alertDetails": {
          "format": "byte",
          "type": "string",
          "description": "Any other associated alert details, for example, AlertConfiguration."
        }
      },
      "id": "AppSettingsChanged",
      "type": "object"
    },
    "ReportingRule": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Rule name"
        },
        "alertDetails": {
          "description": "Any other associated alert details, for example, AlertConfiguration.",
          "type": "string",
          "format": "byte"
        },
        "query": {
          "description": "Alert Rule query Sample Query query { condition { filter { expected_application_id: 777491262838 expected_event_name: \"indexable_content_change\" filter_op: IN } } conjunction_operator: OR }",
          "type": "string",
          "format": "byte"
        }
      },
      "id": "ReportingRule",
      "description": "Alerts from Reporting Rules configured by Admin.",
      "type": "object"
    },
    "ActivityRule": {
      "id": "ActivityRule",
      "type": "object",
      "description": "Alerts from Google Workspace Security Center rules service configured by an admin.",
      "properties": {
        "description": {
          "description": "Description of the rule.",
          "type": "string"
        },
        "triggerSource": {
          "description": "The trigger sources for this rule. * GMAIL_EVENTS * DEVICE_EVENTS * USER_EVENTS",
          "type": "string"
        },
        "createTime": {
          "description": "Rule create timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp of the last update to the rule."
        },
        "windowSize": {
          "format": "google-duration",
          "type": "string",
          "description": "Rule window size. Possible values are 1 hour or 24 hours."
        },
        "threshold": {
          "type": "string",
          "description": "Alert threshold is for example “COUNT \u003e 5”."
        },
        "supersedingAlert": {
          "description": "Alert ID superseding this alert. It is used to indicate that superseding alert is essentially extension of this alert and we found the relationship after creating both alerts.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Alert display name."
        },
        "query": {
          "type": "string",
          "description": "Query that is used to get the data from the associated source."
        },
        "supersededAlerts": {
          "description": "List of alert IDs superseded by this alert. It is used to indicate that this alert is essentially extension of superseded alerts and we found the relationship after creating these alerts.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "actionNames": {
          "type": "array",
          "description": "List of action names associated with the rule threshold.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Rule name.",
          "type": "string"
        }
      }
    },
    "DomainWideTakeoutInitiated": {
      "id": "DomainWideTakeoutInitiated",
      "description": "A takeout operation for the entire domain was initiated by an admin. Derived from audit logs.",
      "properties": {
        "email": {
          "description": "The email of the admin who initiated the takeout.",
          "type": "string"
        },
        "takeoutRequestId": {
          "description": "The takeout request ID.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MaliciousEntity": {
      "properties": {
        "entity": {
          "description": "The actor who triggered a gmail phishing alert.",
          "$ref": "User"
        },
        "displayName": {
          "description": "The header from display name.",
          "type": "string"
        },
        "fromHeader": {
          "description": "The sender email address.",
          "type": "string"
        }
      },
      "description": "Entity whose actions triggered a Gmail phishing alert.",
      "id": "MaliciousEntity",
      "type": "object"
    },
    "BatchUndeleteAlertsRequest": {
      "properties": {
        "alertId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. list of alert IDs."
        },
        "customerId": {
          "type": "string",
          "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alerts are associated with."
        }
      },
      "type": "object",
      "description": "A request to perform batch undelete on alerts.",
      "id": "BatchUndeleteAlertsRequest"
    },
    "UserDefinedDetectorInfo": {
      "properties": {
        "resourceName": {
          "description": "Resource name that uniquely identifies the detector.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the detector."
        }
      },
      "description": "Detector defined by administrators.",
      "id": "UserDefinedDetectorInfo",
      "type": "object"
    },
    "BatchUndeleteAlertsResponse": {
      "description": "Response to batch undelete operation on alerts.",
      "properties": {
        "successAlertIds": {
          "type": "array",
          "description": "The successful list of alert IDs.",
          "items": {
            "type": "string"
          }
        },
        "failedAlertStatus": {
          "description": "The status details for each failed alert_id.",
          "additionalProperties": {
            "$ref": "Status"
          },
          "type": "object"
        }
      },
      "id": "BatchUndeleteAlertsResponse",
      "type": "object"
    },
    "MatchInfo": {
      "id": "MatchInfo",
      "description": "Proto that contains match information from the condition part of the rule.",
      "type": "object",
      "properties": {
        "userDefinedDetector": {
          "description": "For matched detector defined by administrators.",
          "$ref": "UserDefinedDetectorInfo"
        },
        "predefinedDetector": {
          "$ref": "PredefinedDetectorInfo",
          "description": "For matched detector predefined by Google."
        }
      }
    },
    "BatchDeleteAlertsResponse": {
      "type": "object",
      "description": "Response to batch delete operation on alerts.",
      "properties": {
        "successAlertIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The successful list of alert IDs."
        },
        "failedAlertStatus": {
          "type": "object",
          "description": "The status details for each failed alert_id.",
          "additionalProperties": {
            "$ref": "Status"
          }
        }
      },
      "id": "BatchDeleteAlertsResponse"
    },
    "AccountWarning": {
      "properties": {
        "email": {
          "type": "string",
          "description": "Required. The email of the user that this event belongs to."
        },
        "loginDetails": {
          "$ref": "LoginDetails",
          "description": "Optional. Details of the login action associated with the warning event. This is only available for: * Suspicious login * Suspicious login (less secure app) * Suspicious programmatic login * User suspended (suspicious activity)"
        }
      },
      "type": "object",
      "description": "Alerts for user account warning events.",
      "id": "AccountWarning"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      }
    },
    "GmailMessageInfo": {
      "description": "Details of a message in phishing spike alert.",
      "id": "GmailMessageInfo",
      "properties": {
        "messageId": {
          "description": "The message ID.",
          "type": "string"
        },
        "messageBodySnippet": {
          "description": "The snippet of the message body text (only available for reported emails).",
          "type": "string"
        },
        "subjectText": {
          "type": "string",
          "description": "The email subject text (only available for reported emails)."
        },
        "date": {
          "format": "google-datetime",
          "type": "string",
          "description": "The date of the event related to this email."
        },
        "attachmentsSha256Hash": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The `SHA256` hash of email's attachment and all MIME parts."
        },
        "md5HashSubject": {
          "description": "The MD5 Hash of email's subject (only available for reported emails).",
          "type": "string"
        },
        "recipient": {
          "description": "The recipient of this email.",
          "type": "string"
        },
        "md5HashMessageBody": {
          "description": "The hash of the message body text.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UndeleteAlertRequest": {
      "type": "object",
      "description": "A request to undelete a specific alert that was marked for deletion.",
      "properties": {
        "customerId": {
          "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alert is associated with. Inferred from the caller identity if not provided.",
          "type": "string"
        }
      },
      "id": "UndeleteAlertRequest"
    },
    "UserChanges": {
      "description": "Alerts from UserChanges bucket Rules for predefined rules which contain the below rules. Suspended user made active New user Added User suspended (by admin) User granted admin privileges User admin privileges revoked User deleted Users password changed",
      "id": "UserChanges",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Rule name"
        }
      }
    },
    "MergeInfo": {
      "properties": {
        "newAlertId": {
          "type": "string",
          "description": "Optional. New alert ID. Reference the [google.apps.alertcenter.Alert] with this ID for the current state."
        },
        "newIncidentTrackingId": {
          "type": "string",
          "description": "The new tracking ID from the parent incident."
        }
      },
      "description": "New alert tracking numbers.",
      "id": "MergeInfo",
      "type": "object"
    },
    "RuleViolationInfo": {
      "properties": {
        "recipients": {
          "type": "array",
          "description": "Resource recipients. For Drive, they are grantees that the Drive file was shared with at the time of rule triggering. Valid values include user emails, group emails, domains, or 'anyone' if the file was publicly accessible. If the file was private the recipients list will be empty. For Gmail, they are emails of the users or groups that the Gmail message was sent to.",
          "items": {
            "type": "string"
          }
        },
        "trigger": {
          "description": "Trigger of the rule.",
          "type": "string",
          "enum": [
            "TRIGGER_UNSPECIFIED",
            "DRIVE_SHARE"
          ],
          "enumDescriptions": [
            "Trigger is unspecified.",
            "A Drive file is shared."
          ]
        },
        "dataSource": {
          "enumDescriptions": [
            "Data source is unspecified.",
            "Drive data source."
          ],
          "type": "string",
          "enum": [
            "DATA_SOURCE_UNSPECIFIED",
            "DRIVE"
          ],
          "description": "Source of the data."
        },
        "triggeredActionTypes": {
          "items": {
            "enumDescriptions": [
              "Action type is unspecified.",
              "Block sharing a file externally.",
              "Show a warning message when sharing a file externally.",
              "Send alert.",
              "Activate Rule Action",
              "Deactivate Rule Action"
            ],
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "DRIVE_BLOCK_EXTERNAL_SHARING",
              "DRIVE_WARN_ON_EXTERNAL_SHARING",
              "ALERT",
              "RULE_ACTIVATE",
              "RULE_DEACTIVATE"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Actions applied as a consequence of the rule being triggered."
        },
        "resourceInfo": {
          "$ref": "ResourceInfo",
          "description": "Details of the resource which violated the rule."
        },
        "matchInfo": {
          "description": "List of matches that were found in the resource content.",
          "items": {
            "$ref": "MatchInfo"
          },
          "type": "array"
        },
        "triggeringUserEmail": {
          "description": "Email of the user who caused the violation. Value could be empty if not applicable, for example, a violation found by drive continuous scan.",
          "type": "string"
        },
        "suppressedActionTypes": {
          "type": "array",
          "description": "Actions suppressed due to other actions with higher priority.",
          "items": {
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "DRIVE_BLOCK_EXTERNAL_SHARING",
              "DRIVE_WARN_ON_EXTERNAL_SHARING",
              "ALERT",
              "RULE_ACTIVATE",
              "RULE_DEACTIVATE"
            ],
            "enumDescriptions": [
              "Action type is unspecified.",
              "Block sharing a file externally.",
              "Show a warning message when sharing a file externally.",
              "Send alert.",
              "Activate Rule Action",
              "Deactivate Rule Action"
            ],
            "type": "string"
          }
        },
        "triggeredActionInfo": {
          "items": {
            "$ref": "ActionInfo"
          },
          "description": "Metadata related to the triggered actions.",
          "type": "array"
        },
        "ruleInfo": {
          "description": "Details of the violated rule.",
          "$ref": "RuleInfo"
        }
      },
      "id": "RuleViolationInfo",
      "description": "Common alert information about violated rules that are configured by Google Workspace administrators.",
      "type": "object"
    },
    "BatchDeleteAlertsRequest": {
      "description": "A request to perform batch delete on alerts.",
      "type": "object",
      "id": "BatchDeleteAlertsRequest",
      "properties": {
        "customerId": {
          "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alerts are associated with.",
          "type": "string"
        },
        "alertId": {
          "description": "Required. list of alert IDs.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object"
    },
    "Notification": {
      "description": "Settings for callback notifications. For more details see [Google Workspace Alert Notification](https://developers.google.com/admin-sdk/alertcenter/guides/notifications).",
      "properties": {
        "cloudPubsubTopic": {
          "$ref": "CloudPubsubTopic",
          "description": "A Google Cloud Pub/sub topic destination."
        }
      },
      "type": "object",
      "id": "Notification"
    },
    "PredefinedDetectorInfo": {
      "description": "Detector provided by Google.",
      "type": "object",
      "properties": {
        "detectorName": {
          "type": "string",
          "description": "Name that uniquely identifies the detector."
        }
      },
      "id": "PredefinedDetectorInfo"
    },
    "SuspiciousActivitySecurityDetail": {
      "type": "object",
      "id": "SuspiciousActivitySecurityDetail",
      "description": "Detailed information of a single MDM suspicious activity event.",
      "properties": {
        "resourceId": {
          "description": "The device resource ID.",
          "type": "string"
        },
        "newValue": {
          "type": "string",
          "description": "The new value of the device property after the change."
        },
        "deviceId": {
          "description": "Required. The device ID.",
          "type": "string"
        },
        "deviceProperty": {
          "description": "The device property which was changed.",
          "type": "string"
        },
        "deviceModel": {
          "type": "string",
          "description": "The model of the device."
        },
        "serialNumber": {
          "description": "The serial number of the device.",
          "type": "string"
        },
        "deviceType": {
          "type": "string",
          "description": "The type of the device."
        },
        "oldValue": {
          "type": "string",
          "description": "The old value of the device property before the change."
        },
        "iosVendorId": {
          "description": "Required for iOS, empty for others.",
          "type": "string"
        }
      }
    },
    "ActionInfo": {
      "properties": {},
      "id": "ActionInfo",
      "type": "object",
      "description": "Metadata related to the action."
    },
    "DeviceCompromisedSecurityDetail": {
      "description": "Detailed information of a single MDM device compromised event.",
      "properties": {
        "deviceCompromisedState": {
          "type": "string",
          "description": "The device compromised state. Possible values are \"`Compromised`\" or \"`Not Compromised`\"."
        },
        "deviceId": {
          "description": "Required. The device ID.",
          "type": "string"
        },
        "iosVendorId": {
          "type": "string",
          "description": "Required for iOS, empty for others."
        },
        "serialNumber": {
          "type": "string",
          "description": "The serial number of the device."
        },
        "deviceType": {
          "type": "string",
          "description": "The type of the device."
        },
        "resourceId": {
          "type": "string",
          "description": "The device resource ID."
        },
        "deviceModel": {
          "type": "string",
          "description": "The model of the device."
        }
      },
      "id": "DeviceCompromisedSecurityDetail",
      "type": "object"
    },
    "ListAlertsResponse": {
      "id": "ListAlertsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The token for the next page. If not empty, indicates that there may be more alerts that match the listing request; this value can be used in a subsequent ListAlertsRequest to get alerts continuing from last result of the current list call.",
          "type": "string"
        },
        "alerts": {
          "type": "array",
          "description": "The list of alerts.",
          "items": {
            "$ref": "Alert"
          }
        }
      },
      "description": "Response message for an alert listing request.",
      "type": "object"
    },
    "StateSponsoredAttack": {
      "properties": {
        "email": {
          "type": "string",
          "description": "The email of the user this incident was created for."
        }
      },
      "type": "object",
      "id": "StateSponsoredAttack",
      "description": "A state-sponsored attack alert. Derived from audit logs."
    },
    "ListAlertFeedbackResponse": {
      "id": "ListAlertFeedbackResponse",
      "description": "Response message for an alert feedback listing request.",
      "type": "object",
      "properties": {
        "feedback": {
          "description": "The list of alert feedback. Feedback entries for each alert are ordered by creation time descending.",
          "type": "array",
          "items": {
            "$ref": "AlertFeedback"
          }
        }
      }
    },
    "SuspiciousActivity": {
      "properties": {
        "email": {
          "description": "The email of the user this alert was created for.",
          "type": "string"
        },
        "events": {
          "items": {
            "$ref": "SuspiciousActivitySecurityDetail"
          },
          "type": "array",
          "description": "Required. The list of security events."
        }
      },
      "description": "A mobile suspicious activity alert. Derived from audit logs.",
      "type": "object",
      "id": "SuspiciousActivity"
    },
    "CloudPubsubTopic": {
      "type": "object",
      "description": "A reference to a Cloud Pubsub topic. To register for notifications, the owner of the topic must grant `alerts-api-push-notifications@system.gserviceaccount.com` the `projects.topics.publish` permission.",
      "properties": {
        "topicName": {
          "description": "The `name` field of a Cloud Pubsub [Topic] (https://cloud.google.com/pubsub/docs/reference/rest/v1/projects.topics#Topic).",
          "type": "string"
        },
        "payloadFormat": {
          "enumDescriptions": [
            "Payload format is not specified (will use JSON as default).",
            "Use JSON."
          ],
          "description": "Optional. The format of the payload that would be sent. If not specified the format will be JSON.",
          "enum": [
            "PAYLOAD_FORMAT_UNSPECIFIED",
            "JSON"
          ],
          "type": "string"
        }
      },
      "id": "CloudPubsubTopic"
    },
    "DlpRuleViolation": {
      "properties": {
        "ruleViolationInfo": {
          "description": "Details about the violated DLP rule. Admins can use the predefined detectors provided by Google Cloud DLP https://cloud.google.com/dlp/ when setting up a DLP rule. Matched Cloud DLP detectors in this violation if any will be captured in the MatchInfo.predefined_detector.",
          "$ref": "RuleViolationInfo"
        }
      },
      "id": "DlpRuleViolation",
      "type": "object",
      "description": "Alerts that get triggered on violations of Data Loss Prevention (DLP) rules."
    },
    "GoogleOperations": {
      "id": "GoogleOperations",
      "properties": {
        "affectedUserEmails": {
          "type": "array",
          "description": "The list of emails which correspond to the users directly affected by the incident.",
          "items": {
            "type": "string"
          }
        },
        "domain": {
          "description": "Customer domain for email template personalization.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "A one-line incident description."
        },
        "header": {
          "type": "string",
          "description": "A header to display above the incident message. Typically used to attach a localized notice on the timeline for followup comms translations."
        },
        "description": {
          "type": "string",
          "description": "A detailed, freeform incident description."
        },
        "attachmentData": {
          "description": "Optional. Application-specific data for an incident, provided when the Google Workspace application which reported the incident cannot be completely restored to a valid state.",
          "$ref": "Attachment"
        }
      },
      "type": "object",
      "description": "An incident reported by Google Operations for a Google Workspace application."
    },
    "LoginDetails": {
      "properties": {
        "ipAddress": {
          "type": "string",
          "description": "Optional. The human-readable IP address (for example, `11.22.33.44`) that is associated with the warning event."
        },
        "loginTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The successful login time that is associated with the warning event. This isn't present for blocked login attempts."
        }
      },
      "type": "object",
      "description": "The details of the login action.",
      "id": "LoginDetails"
    },
    "AlertFeedback": {
      "type": "object",
      "description": "A customer feedback about an alert.",
      "id": "AlertFeedback",
      "properties": {
        "customerId": {
          "type": "string",
          "description": "Output only. The unique identifier of the Google account of the customer."
        },
        "feedbackId": {
          "description": "Output only. The unique identifier for the feedback.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "The feedback type is not specified.",
            "The alert report is not useful.",
            "The alert report is somewhat useful.",
            "The alert report is very useful."
          ],
          "type": "string",
          "enum": [
            "ALERT_FEEDBACK_TYPE_UNSPECIFIED",
            "NOT_USEFUL",
            "SOMEWHAT_USEFUL",
            "VERY_USEFUL"
          ],
          "description": "Required. The type of the feedback."
        },
        "alertId": {
          "type": "string",
          "description": "Output only. The alert identifier."
        },
        "email": {
          "description": "Output only. The email of the user that provided the feedback.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time this feedback was created.",
          "type": "string"
        }
      }
    },
    "AppMakerSqlSetupNotification": {
      "id": "AppMakerSqlSetupNotification",
      "type": "object",
      "description": "Alerts from App Maker to notify admins to set up default SQL instance.",
      "properties": {
        "requestInfo": {
          "type": "array",
          "items": {
            "$ref": "RequestInfo"
          },
          "description": "List of applications with requests for default SQL set up."
        }
      }
    },
    "Csv": {
      "properties": {
        "headers": {
          "description": "The list of headers for data columns in a CSV file.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "dataRows": {
          "items": {
            "$ref": "CsvRow"
          },
          "description": "The list of data rows in a CSV file, as string arrays rather than as a single comma-separated string.",
          "type": "array"
        }
      },
      "id": "Csv",
      "type": "object",
      "description": "A representation of a CSV file attachment, as a list of column headers and a list of data rows."
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "basePath": "",
  "rootUrl": "https://alertcenter.googleapis.com/",
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/admin-sdk/alertcenter/",
  "name": "alertcenter",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/apps.alerts": {
          "description": "See and delete your domain's G Suite alerts, and send alert feedback"
        }
      }
    }
  }
}
