{
  "basePath": "",
  "id": "alertcenter:v1beta1",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "discoveryVersion": "v1",
  "version_module": true,
  "revision": "20210406",
  "description": "Manages alerts on issues affecting your domain.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/apps.alerts": {
          "description": "See and delete your domain's G Suite alerts, and send alert feedback"
        }
      }
    }
  },
  "title": "Google Workspace Alert Center API",
  "schemas": {
    "GoogleAppsAlertcenterTypeDomainWideTakeoutInitiated": {
      "id": "GoogleAppsAlertcenterTypeDomainWideTakeoutInitiated",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email of the admin who initiated the takeout."
        },
        "takeoutRequestId": {
          "type": "string",
          "description": "The takeout request ID."
        }
      },
      "description": "A takeout operation for the entire domain was initiated by an admin. Derived from audit logs.",
      "type": "object"
    },
    "GoogleAppsAlertcenterTypePhishingSpike": {
      "description": "Alert for a spike in user reported phishing. *Warning*: This type has been deprecated. Use [MailPhishing](/admin-sdk/alertcenter/reference/rest/v1beta1/MailPhishing) instead.",
      "type": "object",
      "id": "GoogleAppsAlertcenterTypePhishingSpike",
      "properties": {
        "isInternal": {
          "description": "If `true`, the email originated from within the organization.",
          "type": "boolean"
        },
        "domainId": {
          "$ref": "GoogleAppsAlertcenterTypeDomainId",
          "description": "The domain ID."
        },
        "maliciousEntity": {
          "$ref": "GoogleAppsAlertcenterTypeMaliciousEntity",
          "description": "The entity whose actions triggered a Gmail phishing alert."
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsAlertcenterTypeGmailMessageInfo"
          },
          "description": "The list of messages contained by this alert."
        }
      }
    },
    "GoogleAppsAlertcenterV1beta1BatchUndeleteAlertsRequest": {
      "type": "object",
      "description": "A request to perform batch undelete on alerts.",
      "id": "GoogleAppsAlertcenterV1beta1BatchUndeleteAlertsRequest",
      "properties": {
        "alertId": {
          "type": "array",
          "description": "Required. list of alert IDs.",
          "items": {
            "type": "string"
          }
        },
        "customerId": {
          "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alerts are associated with.",
          "type": "string"
        }
      }
    },
    "GoogleAppsAlertcenterTypeDomainId": {
      "properties": {
        "customerPrimaryDomain": {
          "description": "The primary domain for the customer.",
          "type": "string"
        }
      },
      "id": "GoogleAppsAlertcenterTypeDomainId",
      "type": "object",
      "description": "Domain ID of Gmail phishing alerts."
    },
    "GoogleAppsAlertcenterTypeUser": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Display name of the user.",
          "type": "string"
        },
        "emailAddress": {
          "description": "Email address of the user.",
          "type": "string"
        }
      },
      "description": "A user.",
      "id": "GoogleAppsAlertcenterTypeUser"
    },
    "GoogleAppsAlertcenterTypeMaliciousEntity": {
      "type": "object",
      "properties": {
        "entity": {
          "$ref": "GoogleAppsAlertcenterTypeUser",
          "description": "The actor who triggered a gmail phishing alert."
        },
        "displayName": {
          "description": "The header from display name.",
          "type": "string"
        },
        "fromHeader": {
          "type": "string",
          "description": "The sender email address."
        }
      },
      "description": "Entity whose actions triggered a Gmail phishing alert.",
      "id": "GoogleAppsAlertcenterTypeMaliciousEntity"
    },
    "GoogleAppsAlertcenterV1beta1SettingsNotificationCloudPubsubTopic": {
      "id": "GoogleAppsAlertcenterV1beta1SettingsNotificationCloudPubsubTopic",
      "description": "A reference to a Cloud Pubsub topic. To register for notifications, the owner of the topic must grant `alerts-api-push-notifications@system.gserviceaccount.com` the `projects.topics.publish` permission.",
      "type": "object",
      "properties": {
        "payloadFormat": {
          "type": "string",
          "enum": [
            "PAYLOAD_FORMAT_UNSPECIFIED",
            "JSON"
          ],
          "enumDescriptions": [
            "Payload format is not specified (will use JSON as default).",
            "Use JSON."
          ],
          "description": "Optional. The format of the payload that would be sent. If not specified the format will be JSON."
        },
        "topicName": {
          "type": "string",
          "description": "The `name` field of a Cloud Pubsub [Topic] (https://cloud.google.com/pubsub/docs/reference/rest/v1/projects.topics#Topic)."
        }
      }
    },
    "GoogleAppsAlertcenterTypeAccountWarning": {
      "properties": {
        "loginDetails": {
          "$ref": "GoogleAppsAlertcenterTypeAccountWarningLoginDetails",
          "description": "Optional. Details of the login action associated with the warning event. This is only available for: * Suspicious login * Suspicious login (less secure app) * Suspicious programmatic login * User suspended (suspicious activity)"
        },
        "email": {
          "type": "string",
          "description": "Required. The email of the user that this event belongs to."
        }
      },
      "type": "object",
      "id": "GoogleAppsAlertcenterTypeAccountWarning",
      "description": "Alerts for user account warning events."
    },
    "GoogleAppsAlertcenterTypeRuleViolationInfoResourceInfo": {
      "type": "object",
      "properties": {
        "resourceTitle": {
          "description": "Title of the resource, for example email subject, or document title.",
          "type": "string"
        },
        "documentId": {
          "type": "string",
          "description": "Drive file ID."
        }
      },
      "description": "Proto that contains resource information.",
      "id": "GoogleAppsAlertcenterTypeRuleViolationInfoResourceInfo"
    },
    "GoogleAppsAlertcenterV1beta1BatchDeleteAlertsResponse": {
      "id": "GoogleAppsAlertcenterV1beta1BatchDeleteAlertsResponse",
      "description": "Response to batch delete operation on alerts.",
      "properties": {
        "successAlertIds": {
          "type": "array",
          "description": "The successful list of alert IDs.",
          "items": {
            "type": "string"
          }
        },
        "failedAlertStatus": {
          "additionalProperties": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "The status details for each failed alert_id.",
          "type": "object"
        }
      },
      "type": "object"
    },
    "GoogleAppsAlertcenterV1beta1Settings": {
      "id": "GoogleAppsAlertcenterV1beta1Settings",
      "type": "object",
      "properties": {
        "notifications": {
          "description": "The list of notifications.",
          "items": {
            "$ref": "GoogleAppsAlertcenterV1beta1SettingsNotification"
          },
          "type": "array"
        }
      },
      "description": "Customer-level settings."
    },
    "GoogleAppsAlertcenterV1beta1BatchDeleteAlertsRequest": {
      "properties": {
        "customerId": {
          "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alerts are associated with.",
          "type": "string"
        },
        "alertId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. list of alert IDs."
        }
      },
      "type": "object",
      "id": "GoogleAppsAlertcenterV1beta1BatchDeleteAlertsRequest",
      "description": "A request to perform batch delete on alerts."
    },
    "GoogleAppsAlertcenterTypeMailPhishing": {
      "description": "Proto for all phishing alerts with common payload. Supported types are any of the following: * User reported phishing * User reported spam spike * Suspicious message reported * Phishing reclassification * Malware reclassification * Gmail potential employee spoofing",
      "properties": {
        "maliciousEntity": {
          "description": "The entity whose actions triggered a Gmail phishing alert.",
          "$ref": "GoogleAppsAlertcenterTypeMaliciousEntity"
        },
        "isInternal": {
          "description": "If `true`, the email originated from within the organization.",
          "type": "boolean"
        },
        "systemActionType": {
          "enum": [
            "SYSTEM_ACTION_TYPE_UNSPECIFIED",
            "NO_OPERATION",
            "REMOVED_FROM_INBOX"
          ],
          "type": "string",
          "description": "System actions on the messages.",
          "enumDescriptions": [
            "System action is unspecified.",
            "No operation.",
            "Messages were removed from the inbox."
          ]
        },
        "domainId": {
          "description": "The domain ID.",
          "$ref": "GoogleAppsAlertcenterTypeDomainId"
        },
        "messages": {
          "items": {
            "$ref": "GoogleAppsAlertcenterTypeGmailMessageInfo"
          },
          "type": "array",
          "description": "The list of messages contained by this alert."
        }
      },
      "type": "object",
      "id": "GoogleAppsAlertcenterTypeMailPhishing"
    },
    "GoogleAppsAlertcenterTypeAppMakerSqlSetupNotificationRequestInfo": {
      "properties": {
        "appKey": {
          "description": "Required. The application that requires the SQL setup.",
          "type": "string"
        },
        "appDeveloperEmail": {
          "type": "array",
          "description": "List of app developers who triggered notifications for above application.",
          "items": {
            "type": "string"
          }
        },
        "numberOfRequests": {
          "format": "int64",
          "type": "string",
          "description": "Required. Number of requests sent for this application to set up default SQL instance."
        }
      },
      "description": "Requests for one application that needs default SQL setup.",
      "id": "GoogleAppsAlertcenterTypeAppMakerSqlSetupNotificationRequestInfo",
      "type": "object"
    },
    "GoogleAppsAlertcenterTypeGmailMessageInfo": {
      "id": "GoogleAppsAlertcenterTypeGmailMessageInfo",
      "type": "object",
      "properties": {
        "attachmentsSha256Hash": {
          "description": "The `SHA256` hash of email's attachment and all MIME parts.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "messageBodySnippet": {
          "description": "The snippet of the message body text (only available for reported emails).",
          "type": "string"
        },
        "md5HashSubject": {
          "type": "string",
          "description": "The MD5 Hash of email's subject (only available for reported emails)."
        },
        "date": {
          "type": "string",
          "format": "google-datetime",
          "description": "The date the malicious email was sent."
        },
        "subjectText": {
          "type": "string",
          "description": "The email subject text (only available for reported emails)."
        },
        "recipient": {
          "type": "string",
          "description": "The recipient of this email."
        },
        "messageId": {
          "description": "The message ID.",
          "type": "string"
        },
        "md5HashMessageBody": {
          "type": "string",
          "description": "The hash of the message body text."
        }
      },
      "description": "Details of a message in phishing spike alert."
    },
    "GoogleAppsAlertcenterTypeAccountWarningLoginDetails": {
      "type": "object",
      "properties": {
        "ipAddress": {
          "type": "string",
          "description": "Optional. The human-readable IP address (for example, `11.22.33.44`) that is associated with the warning event."
        },
        "loginTime": {
          "type": "string",
          "description": "Optional. The successful login time that is associated with the warning event. This isn't present for blocked login attempts.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleAppsAlertcenterTypeAccountWarningLoginDetails",
      "description": "The details of the login action."
    },
    "GoogleAppsAlertcenterTypeBadWhitelist": {
      "properties": {
        "sourceIp": {
          "type": "string",
          "description": "The source IP address of the malicious email, for example, `127.0.0.1`."
        },
        "domainId": {
          "description": "The domain ID.",
          "$ref": "GoogleAppsAlertcenterTypeDomainId"
        },
        "maliciousEntity": {
          "description": "The entity whose actions triggered a Gmail phishing alert.",
          "$ref": "GoogleAppsAlertcenterTypeMaliciousEntity"
        },
        "messages": {
          "description": "The list of messages contained by this alert.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsAlertcenterTypeGmailMessageInfo"
          }
        }
      },
      "type": "object",
      "description": "Alert for setting the domain or IP that malicious email comes from as whitelisted domain or IP in Gmail advanced settings.",
      "id": "GoogleAppsAlertcenterTypeBadWhitelist"
    },
    "GoogleAppsAlertcenterTypeRuleViolationInfoMatchInfoUserDefinedDetectorInfo": {
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "Resource name that uniquely identifies the detector."
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the detector."
        }
      },
      "id": "GoogleAppsAlertcenterTypeRuleViolationInfoMatchInfoUserDefinedDetectorInfo",
      "description": "Detector defined by administrators.",
      "type": "object"
    },
    "GoogleAppsAlertcenterV1beta1BatchUndeleteAlertsResponse": {
      "id": "GoogleAppsAlertcenterV1beta1BatchUndeleteAlertsResponse",
      "description": "Response to batch undelete operation on alerts.",
      "properties": {
        "failedAlertStatus": {
          "additionalProperties": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "The status details for each failed alert_id.",
          "type": "object"
        },
        "successAlertIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The successful list of alert IDs."
        }
      },
      "type": "object"
    },
    "GoogleAppsAlertcenterTypeSuspiciousActivitySuspiciousActivitySecurityDetail": {
      "type": "object",
      "properties": {
        "deviceModel": {
          "description": "The model of the device.",
          "type": "string"
        },
        "oldValue": {
          "description": "The old value of the device property before the change.",
          "type": "string"
        },
        "deviceId": {
          "type": "string",
          "description": "Required. The device ID."
        },
        "resourceId": {
          "type": "string",
          "description": "The device resource ID."
        },
        "newValue": {
          "type": "string",
          "description": "The new value of the device property after the change."
        },
        "serialNumber": {
          "description": "The serial number of the device.",
          "type": "string"
        },
        "deviceProperty": {
          "description": "The device property which was changed.",
          "type": "string"
        },
        "iosVendorId": {
          "type": "string",
          "description": "Required for iOS, empty for others."
        },
        "deviceType": {
          "description": "The type of the device.",
          "type": "string"
        }
      },
      "id": "GoogleAppsAlertcenterTypeSuspiciousActivitySuspiciousActivitySecurityDetail",
      "description": "Detailed information of a single MDM suspicious activity event."
    },
    "GoogleAppsAlertcenterTypeActivityRule": {
      "description": "Alerts from Google Workspace Security Center rules service configured by an admin.",
      "id": "GoogleAppsAlertcenterTypeActivityRule",
      "type": "object",
      "properties": {
        "actionNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of action names associated with the rule threshold."
        },
        "displayName": {
          "type": "string",
          "description": "Alert display name."
        },
        "supersedingAlert": {
          "type": "string",
          "description": "Alert ID superseding this alert. It is used to indicate that superseding alert is essentially extension of this alert and we found the relationship after creating both alerts."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Rule create timestamp."
        },
        "threshold": {
          "description": "Alert threshold is for example “COUNT \u003e 5”.",
          "type": "string"
        },
        "triggerSource": {
          "type": "string",
          "description": "The trigger sources for this rule. * GMAIL_EVENTS * DEVICE_EVENTS * USER_EVENTS"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "The timestamp of the last update to the rule.",
          "type": "string"
        },
        "description": {
          "description": "Description of the rule.",
          "type": "string"
        },
        "query": {
          "type": "string",
          "description": "Query that is used to get the data from the associated source."
        },
        "name": {
          "type": "string",
          "description": "Rule name."
        },
        "windowSize": {
          "format": "google-duration",
          "description": "Rule window size. Possible values are 1 hour or 24 hours.",
          "type": "string"
        },
        "supersededAlerts": {
          "type": "array",
          "description": "List of alert IDs superseded by this alert. It is used to indicate that this alert is essentially extension of superseded alerts and we found the relationship after creating these alerts.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleAppsAlertcenterTypeDeviceCompromised": {
      "description": "A mobile device compromised alert. Derived from audit logs.",
      "id": "GoogleAppsAlertcenterTypeDeviceCompromised",
      "properties": {
        "events": {
          "type": "array",
          "description": "Required. The list of security events.",
          "items": {
            "$ref": "GoogleAppsAlertcenterTypeDeviceCompromisedDeviceCompromisedSecurityDetail"
          }
        },
        "email": {
          "description": "The email of the user this alert was created for.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAppsAlertcenterV1beta1AlertMetadata": {
      "description": "An alert metadata.",
      "properties": {
        "customerId": {
          "description": "Output only. The unique identifier of the Google account of the customer.",
          "type": "string"
        },
        "assignee": {
          "description": "The email address of the user assigned to the alert.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time this metadata was last updated."
        },
        "etag": {
          "type": "string",
          "description": "Optional. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of an alert metadata from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform metatdata updates in order to avoid race conditions: An `etag` is returned in the response which contains alert metadata, and systems are expected to put that etag in the request to update alert metadata to ensure that their change will be applied to the same version of the alert metadata. If no `etag` is provided in the call to update alert metadata, then the existing alert metadata is overwritten blindly."
        },
        "severity": {
          "type": "string",
          "description": "The severity value of the alert. Alert Center will set this field at alert creation time, default's to an empty string when it could not be determined. The supported values for update actions on this field are the following: * HIGH * MEDIUM * LOW"
        },
        "status": {
          "description": "The current status of the alert. The supported values are the following: * NOT_STARTED * IN_PROGRESS * CLOSED",
          "type": "string"
        },
        "alertId": {
          "type": "string",
          "description": "Output only. The alert identifier."
        }
      },
      "id": "GoogleAppsAlertcenterV1beta1AlertMetadata",
      "type": "object"
    },
    "GoogleAppsAlertcenterTypeRuleViolationInfoActionInfo": {
      "description": "Metadata related to the action.",
      "id": "GoogleAppsAlertcenterTypeRuleViolationInfoActionInfo",
      "type": "object",
      "properties": {}
    },
    "GoogleAppsAlertcenterTypeGoogleOperations": {
      "description": "An incident reported by Google Operations for a Google Workspace application.",
      "properties": {
        "description": {
          "description": "A detailed, freeform incident description.",
          "type": "string"
        },
        "affectedUserEmails": {
          "items": {
            "type": "string"
          },
          "description": "The list of emails which correspond to the users directly affected by the incident.",
          "type": "array"
        },
        "header": {
          "type": "string",
          "description": "A header to display above the incident message. Typically used to attach a localized notice on the timeline for followup comms translations."
        },
        "attachmentData": {
          "$ref": "GoogleAppsAlertcenterTypeAttachment",
          "description": "Optional. Application-specific data for an incident, provided when the Google Workspace application which reported the incident cannot be completely restored to a valid state."
        },
        "title": {
          "type": "string",
          "description": "A one-line incident description."
        }
      },
      "type": "object",
      "id": "GoogleAppsAlertcenterTypeGoogleOperations"
    },
    "GoogleAppsAlertcenterTypeAppMakerSqlSetupNotification": {
      "properties": {
        "requestInfo": {
          "type": "array",
          "description": "List of applications with requests for default SQL set up.",
          "items": {
            "$ref": "GoogleAppsAlertcenterTypeAppMakerSqlSetupNotificationRequestInfo"
          }
        }
      },
      "description": "Alerts from App Maker to notify admins to set up default SQL instance.",
      "id": "GoogleAppsAlertcenterTypeAppMakerSqlSetupNotification",
      "type": "object"
    },
    "GoogleAppsAlertcenterTypeRuleViolationInfoRuleInfo": {
      "type": "object",
      "description": "Proto that contains rule information.",
      "properties": {
        "resourceName": {
          "description": "Resource name that uniquely identifies the rule.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "User provided name of the rule."
        }
      },
      "id": "GoogleAppsAlertcenterTypeRuleViolationInfoRuleInfo"
    },
    "GoogleAppsAlertcenterTypeDlpRuleViolation": {
      "id": "GoogleAppsAlertcenterTypeDlpRuleViolation",
      "properties": {
        "ruleViolationInfo": {
          "description": "Details about the violated DLP rule. Admins can use the predefined detectors provided by Google Cloud DLP https://cloud.google.com/dlp/ when setting up a DLP rule. Matched Cloud DLP detectors in this violation if any will be captured in the MatchInfo.predefined_detector.",
          "$ref": "GoogleAppsAlertcenterTypeRuleViolationInfo"
        }
      },
      "description": "Alerts that get triggered on violations of Data Loss Prevention (DLP) rules.",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "id": "GoogleProtobufEmpty",
      "properties": {}
    },
    "GoogleAppsAlertcenterTypeDeviceCompromisedDeviceCompromisedSecurityDetail": {
      "type": "object",
      "description": "Detailed information of a single MDM device compromised event.",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "The device resource ID."
        },
        "serialNumber": {
          "description": "The serial number of the device.",
          "type": "string"
        },
        "deviceId": {
          "description": "Required. The device ID.",
          "type": "string"
        },
        "iosVendorId": {
          "type": "string",
          "description": "Required for iOS, empty for others."
        },
        "deviceType": {
          "type": "string",
          "description": "The type of the device."
        },
        "deviceModel": {
          "type": "string",
          "description": "The model of the device."
        },
        "deviceCompromisedState": {
          "type": "string",
          "description": "The device compromised state. Possible values are \"`Compromised`\" or \"`Not Compromised`\"."
        }
      },
      "id": "GoogleAppsAlertcenterTypeDeviceCompromisedDeviceCompromisedSecurityDetail"
    },
    "GoogleAppsAlertcenterTypeRuleViolationInfoMatchInfoPredefinedDetectorInfo": {
      "description": "Detector provided by Google.",
      "id": "GoogleAppsAlertcenterTypeRuleViolationInfoMatchInfoPredefinedDetectorInfo",
      "properties": {
        "detectorName": {
          "description": "Name that uniquely identifies the detector.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAppsAlertcenterTypeSuspiciousActivity": {
      "description": "A mobile suspicious activity alert. Derived from audit logs.",
      "id": "GoogleAppsAlertcenterTypeSuspiciousActivity",
      "type": "object",
      "properties": {
        "events": {
          "description": "Required. The list of security events.",
          "items": {
            "$ref": "GoogleAppsAlertcenterTypeSuspiciousActivitySuspiciousActivitySecurityDetail"
          },
          "type": "array"
        },
        "email": {
          "description": "The email of the user this alert was created for.",
          "type": "string"
        }
      }
    },
    "GoogleAppsAlertcenterV1beta1SettingsNotification": {
      "properties": {
        "cloudPubsubTopic": {
          "description": "A Google Cloud Pub/sub topic destination.",
          "$ref": "GoogleAppsAlertcenterV1beta1SettingsNotificationCloudPubsubTopic"
        }
      },
      "type": "object",
      "id": "GoogleAppsAlertcenterV1beta1SettingsNotification",
      "description": "Settings for callback notifications. For more details see [Google Workspace Alert Notification](/admin-sdk/alertcenter/guides/notifications)."
    },
    "GoogleAppsAlertcenterV1beta1Alert": {
      "description": "An alert affecting a customer.",
      "properties": {
        "data": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Optional. The data associated with this alert, for example google.apps.alertcenter.type.DeviceCompromised.",
          "type": "object"
        },
        "deleted": {
          "type": "boolean",
          "description": "Output only. `True` if this alert is marked for deletion."
        },
        "source": {
          "description": "Required. A unique identifier for the system that reported the alert. This is output only after alert is created. Supported sources are any of the following: * Google Operations * Mobile device management * Gmail phishing * Domain wide takeout * State sponsored attack * Google identity",
          "type": "string"
        },
        "metadata": {
          "$ref": "GoogleAppsAlertcenterV1beta1AlertMetadata",
          "description": "Output only. The metadata associated with this alert."
        },
        "createTime": {
          "description": "Output only. The time this alert was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Optional. The time the event that caused this alert ceased being active. If provided, the end time must not be earlier than the start time. If not provided, it indicates an ongoing alert.",
          "format": "google-datetime",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Optional. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of an alert from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform alert updates in order to avoid race conditions: An `etag` is returned in the response which contains alerts, and systems are expected to put that etag in the request to update alert to ensure that their change will be applied to the same version of the alert. If no `etag` is provided in the call to update alert, then the existing alert is overwritten blindly."
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. The time the event that caused this alert was started or detected."
        },
        "customerId": {
          "type": "string",
          "description": "Output only. The unique identifier of the Google account of the customer."
        },
        "alertId": {
          "type": "string",
          "description": "Output only. The unique identifier for the alert."
        },
        "securityInvestigationToolLink": {
          "type": "string",
          "description": "Output only. An optional [Security Investigation Tool](https://support.google.com/a/answer/7575955) query for this alert."
        },
        "type": {
          "description": "Required. The type of the alert. This is output only after alert is created. For a list of available alert types see [Google Workspace Alert types](/admin-sdk/alertcenter/reference/alert-types).",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time this alert was last updated."
        }
      },
      "id": "GoogleAppsAlertcenterV1beta1Alert",
      "type": "object"
    },
    "GoogleAppsAlertcenterTypeRuleViolationInfoMatchInfo": {
      "properties": {
        "predefinedDetector": {
          "$ref": "GoogleAppsAlertcenterTypeRuleViolationInfoMatchInfoPredefinedDetectorInfo",
          "description": "For matched detector predefined by Google."
        },
        "userDefinedDetector": {
          "description": "For matched detector defined by administrators.",
          "$ref": "GoogleAppsAlertcenterTypeRuleViolationInfoMatchInfoUserDefinedDetectorInfo"
        }
      },
      "type": "object",
      "description": "Proto that contains match information from the condition part of the rule.",
      "id": "GoogleAppsAlertcenterTypeRuleViolationInfoMatchInfo"
    },
    "GoogleAppsAlertcenterTypeAttachmentCsv": {
      "type": "object",
      "id": "GoogleAppsAlertcenterTypeAttachmentCsv",
      "description": "A representation of a CSV file attachment, as a list of column headers and a list of data rows.",
      "properties": {
        "dataRows": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsAlertcenterTypeAttachmentCsvCsvRow"
          },
          "description": "The list of data rows in a CSV file, as string arrays rather than as a single comma-separated string."
        },
        "headers": {
          "description": "The list of headers for data columns in a CSV file.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleAppsAlertcenterV1beta1ListAlertsResponse": {
      "description": "Response message for an alert listing request.",
      "id": "GoogleAppsAlertcenterV1beta1ListAlertsResponse",
      "type": "object",
      "properties": {
        "alerts": {
          "description": "The list of alerts.",
          "items": {
            "$ref": "GoogleAppsAlertcenterV1beta1Alert"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token for the next page. If not empty, indicates that there may be more alerts that match the listing request; this value can be used in a subsequent ListAlertsRequest to get alerts continuing from last result of the current list call.",
          "type": "string"
        }
      }
    },
    "GoogleAppsAlertcenterTypeRuleViolationInfo": {
      "description": "Common alert information about violated rules that are configured by Google Workspace administrators.",
      "properties": {
        "suppressedActionTypes": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "DRIVE_BLOCK_EXTERNAL_SHARING",
              "DRIVE_WARN_ON_EXTERNAL_SHARING",
              "ALERT",
              "RULE_ACTIVATE",
              "RULE_DEACTIVATE"
            ],
            "enumDescriptions": [
              "Action type is unspecified.",
              "Block sharing a file externally.",
              "Show a warning message when sharing a file externally.",
              "Send alert.",
              "Activate Rule Action",
              "Deactivate Rule Action"
            ]
          },
          "description": "Actions suppressed due to other actions with higher priority."
        },
        "trigger": {
          "type": "string",
          "enum": [
            "TRIGGER_UNSPECIFIED",
            "DRIVE_SHARE"
          ],
          "enumDescriptions": [
            "Trigger is unspecified.",
            "A Drive file is shared."
          ],
          "description": "Trigger of the rule."
        },
        "dataSource": {
          "description": "Source of the data.",
          "type": "string",
          "enum": [
            "DATA_SOURCE_UNSPECIFIED",
            "DRIVE"
          ],
          "enumDescriptions": [
            "Data source is unspecified.",
            "Drive data source."
          ]
        },
        "triggeredActionInfo": {
          "description": "Metadata related to the triggered actions.",
          "items": {
            "$ref": "GoogleAppsAlertcenterTypeRuleViolationInfoActionInfo"
          },
          "type": "array"
        },
        "recipients": {
          "items": {
            "type": "string"
          },
          "description": "Resource recipients. For Drive, they are grantees that the Drive file was shared with at the time of rule triggering. Valid values include user emails, group emails, domains, or 'anyone' if the file was publicly accessible. If the file was private the recipients list will be empty. For Gmail, they are emails of the users or groups that the Gmail message was sent to.",
          "type": "array"
        },
        "matchInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsAlertcenterTypeRuleViolationInfoMatchInfo"
          },
          "description": "List of matches that were found in the resource content."
        },
        "triggeredActionTypes": {
          "description": "Actions applied as a consequence of the rule being triggered.",
          "items": {
            "enumDescriptions": [
              "Action type is unspecified.",
              "Block sharing a file externally.",
              "Show a warning message when sharing a file externally.",
              "Send alert.",
              "Activate Rule Action",
              "Deactivate Rule Action"
            ],
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "DRIVE_BLOCK_EXTERNAL_SHARING",
              "DRIVE_WARN_ON_EXTERNAL_SHARING",
              "ALERT",
              "RULE_ACTIVATE",
              "RULE_DEACTIVATE"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "ruleInfo": {
          "$ref": "GoogleAppsAlertcenterTypeRuleViolationInfoRuleInfo",
          "description": "Details of the violated rule."
        },
        "resourceInfo": {
          "$ref": "GoogleAppsAlertcenterTypeRuleViolationInfoResourceInfo",
          "description": "Details of the resource which violated the rule."
        },
        "triggeringUserEmail": {
          "type": "string",
          "description": "Email of the user who caused the violation. Value could be empty if not applicable, for example, a violation found by drive continuous scan."
        }
      },
      "type": "object",
      "id": "GoogleAppsAlertcenterTypeRuleViolationInfo"
    },
    "GoogleAppsAlertcenterTypeAttachmentCsvCsvRow": {
      "description": "A representation of a single data row in a CSV file.",
      "type": "object",
      "id": "GoogleAppsAlertcenterTypeAttachmentCsvCsvRow",
      "properties": {
        "entries": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The data entries in a CSV file row, as a string array rather than a single comma-separated string."
        }
      }
    },
    "GoogleAppsAlertcenterTypeStateSponsoredAttack": {
      "description": "A state-sponsored attack alert. Derived from audit logs.",
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email of the user this incident was created for."
        }
      },
      "id": "GoogleAppsAlertcenterTypeStateSponsoredAttack"
    },
    "GoogleAppsAlertcenterV1beta1UndeleteAlertRequest": {
      "properties": {
        "customerId": {
          "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alert is associated with. Inferred from the caller identity if not provided.",
          "type": "string"
        }
      },
      "description": "A request to undelete a specific alert that was marked for deletion.",
      "type": "object",
      "id": "GoogleAppsAlertcenterV1beta1UndeleteAlertRequest"
    },
    "GoogleAppsAlertcenterV1beta1AlertFeedback": {
      "type": "object",
      "description": "A customer feedback about an alert.",
      "properties": {
        "alertId": {
          "description": "Output only. The alert identifier.",
          "type": "string"
        },
        "email": {
          "description": "Output only. The email of the user that provided the feedback.",
          "type": "string"
        },
        "feedbackId": {
          "type": "string",
          "description": "Output only. The unique identifier for the feedback."
        },
        "customerId": {
          "type": "string",
          "description": "Output only. The unique identifier of the Google account of the customer."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "The feedback type is not specified.",
            "The alert report is not useful.",
            "The alert report is somewhat useful.",
            "The alert report is very useful."
          ],
          "description": "Required. The type of the feedback.",
          "enum": [
            "ALERT_FEEDBACK_TYPE_UNSPECIFIED",
            "NOT_USEFUL",
            "SOMEWHAT_USEFUL",
            "VERY_USEFUL"
          ]
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time this feedback was created.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleAppsAlertcenterV1beta1AlertFeedback"
    },
    "GoogleAppsAlertcenterTypeAttachment": {
      "properties": {
        "csv": {
          "$ref": "GoogleAppsAlertcenterTypeAttachmentCsv",
          "description": "A CSV file attachment."
        }
      },
      "description": "Attachment with application-specific information about an alert.",
      "id": "GoogleAppsAlertcenterTypeAttachment",
      "type": "object"
    },
    "GoogleAppsAlertcenterV1beta1ListAlertFeedbackResponse": {
      "description": "Response message for an alert feedback listing request.",
      "type": "object",
      "id": "GoogleAppsAlertcenterV1beta1ListAlertFeedbackResponse",
      "properties": {
        "feedback": {
          "items": {
            "$ref": "GoogleAppsAlertcenterV1beta1AlertFeedback"
          },
          "description": "The list of alert feedback. Feedback entries for each alert are ordered by creation time descending.",
          "type": "array"
        }
      }
    },
    "GoogleRpcStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpcStatus",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "type": "object"
    }
  },
  "ownerDomain": "google.com",
  "canonicalName": "AlertCenter",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "protocol": "rest",
  "batchPath": "batch",
  "resources": {
    "v1beta1": {
      "methods": {
        "updateSettings": {
          "parameters": {
            "customerId": {
              "type": "string",
              "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alert settings are associated with. Inferred from the caller identity if not provided.",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "flatPath": "v1beta1/settings",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "path": "v1beta1/settings",
          "request": {
            "$ref": "GoogleAppsAlertcenterV1beta1Settings"
          },
          "response": {
            "$ref": "GoogleAppsAlertcenterV1beta1Settings"
          },
          "id": "alertcenter.updateSettings",
          "description": "Updates the customer-level settings.",
          "httpMethod": "PATCH"
        },
        "getSettings": {
          "description": "Returns customer-level settings.",
          "id": "alertcenter.getSettings",
          "path": "v1beta1/settings",
          "response": {
            "$ref": "GoogleAppsAlertcenterV1beta1Settings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "parameters": {
            "customerId": {
              "type": "string",
              "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alert settings are associated with. Inferred from the caller identity if not provided.",
              "location": "query"
            }
          },
          "flatPath": "v1beta1/settings",
          "parameterOrder": [],
          "httpMethod": "GET"
        }
      }
    },
    "alerts": {
      "resources": {
        "feedback": {
          "methods": {
            "list": {
              "flatPath": "v1beta1/alerts/{alertId}/feedback",
              "response": {
                "$ref": "GoogleAppsAlertcenterV1beta1ListAlertFeedbackResponse"
              },
              "description": "Lists all the feedback for an alert. Attempting to list feedbacks for a non-existent alert returns `NOT_FOUND` error.",
              "scopes": [
                "https://www.googleapis.com/auth/apps.alerts"
              ],
              "parameters": {
                "alertId": {
                  "description": "Required. The alert identifier. The \"-\" wildcard could be used to represent all alerts.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "customerId": {
                  "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alert feedback are associated with. Inferred from the caller identity if not provided.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A query string for filtering alert feedback results. For more details, see [Query filters](/admin-sdk/alertcenter/guides/query-filters) and [Supported query filter fields](/admin-sdk/alertcenter/reference/filter-fields#alerts.feedback.list)."
                }
              },
              "parameterOrder": [
                "alertId"
              ],
              "id": "alertcenter.alerts.feedback.list",
              "path": "v1beta1/alerts/{alertId}/feedback",
              "httpMethod": "GET"
            },
            "create": {
              "flatPath": "v1beta1/alerts/{alertId}/feedback",
              "request": {
                "$ref": "GoogleAppsAlertcenterV1beta1AlertFeedback"
              },
              "parameters": {
                "alertId": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The identifier of the alert this feedback belongs to.",
                  "type": "string"
                },
                "customerId": {
                  "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alert is associated with. Inferred from the caller identity if not provided.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleAppsAlertcenterV1beta1AlertFeedback"
              },
              "path": "v1beta1/alerts/{alertId}/feedback",
              "httpMethod": "POST",
              "parameterOrder": [
                "alertId"
              ],
              "id": "alertcenter.alerts.feedback.create",
              "description": "Creates new feedback for an alert. Attempting to create a feedback for a non-existent alert returns `NOT_FOUND` error. Attempting to create a feedback for an alert that is marked for deletion returns `FAILED_PRECONDITION' error.",
              "scopes": [
                "https://www.googleapis.com/auth/apps.alerts"
              ]
            }
          }
        }
      },
      "methods": {
        "batchUndelete": {
          "parameterOrder": [],
          "id": "alertcenter.alerts.batchUndelete",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleAppsAlertcenterV1beta1BatchUndeleteAlertsResponse"
          },
          "flatPath": "v1beta1/alerts:batchUndelete",
          "parameters": {},
          "description": "Performs batch undelete operation on alerts.",
          "request": {
            "$ref": "GoogleAppsAlertcenterV1beta1BatchUndeleteAlertsRequest"
          },
          "path": "v1beta1/alerts:batchUndelete"
        },
        "undelete": {
          "path": "v1beta1/alerts/{alertId}:undelete",
          "flatPath": "v1beta1/alerts/{alertId}:undelete",
          "id": "alertcenter.alerts.undelete",
          "response": {
            "$ref": "GoogleAppsAlertcenterV1beta1Alert"
          },
          "description": "Restores, or \"undeletes\", an alert that was marked for deletion within the past 30 days. Attempting to undelete an alert which was marked for deletion over 30 days ago (which has been removed from the Alert Center database) or a nonexistent alert returns a `NOT_FOUND` error. Attempting to undelete an alert which has not been marked for deletion has no effect.",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "parameterOrder": [
            "alertId"
          ],
          "request": {
            "$ref": "GoogleAppsAlertcenterV1beta1UndeleteAlertRequest"
          },
          "parameters": {
            "alertId": {
              "description": "Required. The identifier of the alert to undelete.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "POST"
        },
        "batchDelete": {
          "request": {
            "$ref": "GoogleAppsAlertcenterV1beta1BatchDeleteAlertsRequest"
          },
          "description": "Performs batch delete operation on alerts.",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "response": {
            "$ref": "GoogleAppsAlertcenterV1beta1BatchDeleteAlertsResponse"
          },
          "parameterOrder": [],
          "id": "alertcenter.alerts.batchDelete",
          "httpMethod": "POST",
          "path": "v1beta1/alerts:batchDelete",
          "parameters": {},
          "flatPath": "v1beta1/alerts:batchDelete"
        },
        "getMetadata": {
          "httpMethod": "GET",
          "parameters": {
            "customerId": {
              "type": "string",
              "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alert metadata is associated with. Inferred from the caller identity if not provided.",
              "location": "query"
            },
            "alertId": {
              "required": true,
              "type": "string",
              "description": "Required. The identifier of the alert this metadata belongs to.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "alertId"
          ],
          "id": "alertcenter.alerts.getMetadata",
          "response": {
            "$ref": "GoogleAppsAlertcenterV1beta1AlertMetadata"
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "description": "Returns the metadata of an alert. Attempting to get metadata for a non-existent alert returns `NOT_FOUND` error.",
          "path": "v1beta1/alerts/{alertId}/metadata",
          "flatPath": "v1beta1/alerts/{alertId}/metadata"
        },
        "list": {
          "parameters": {
            "filter": {
              "type": "string",
              "location": "query",
              "description": "Optional. A query string for filtering alert results. For more details, see [Query filters](/admin-sdk/alertcenter/guides/query-filters) and [Supported query filter fields](/admin-sdk/alertcenter/reference/filter-fields#alerts.list)."
            },
            "orderBy": {
              "description": "Optional. The sort order of the list results. If not specified results may be returned in arbitrary order. You can sort the results in descending order based on the creation timestamp using `order_by=\"create_time desc\"`. Currently, supported sorting are `create_time asc`, `create_time desc`, `update_time desc`",
              "type": "string",
              "location": "query"
            },
            "customerId": {
              "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alerts are associated with. Inferred from the caller identity if not provided.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "description": "Optional. The requested page size. Server may return fewer items than requested. If unspecified, server picks an appropriate default.",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A token identifying a page of results the server should return. If empty, a new iteration is started. To continue an iteration, pass in the value from the previous ListAlertsResponse's next_page_token field.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "description": "Lists the alerts.",
          "path": "v1beta1/alerts",
          "flatPath": "v1beta1/alerts",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleAppsAlertcenterV1beta1ListAlertsResponse"
          },
          "id": "alertcenter.alerts.list",
          "httpMethod": "GET"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "httpMethod": "DELETE",
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "parameterOrder": [
            "alertId"
          ],
          "path": "v1beta1/alerts/{alertId}",
          "id": "alertcenter.alerts.delete",
          "description": "Marks the specified alert for deletion. An alert that has been marked for deletion is removed from Alert Center after 30 days. Marking an alert for deletion has no effect on an alert which has already been marked for deletion. Attempting to mark a nonexistent alert for deletion results in a `NOT_FOUND` error.",
          "flatPath": "v1beta1/alerts/{alertId}",
          "parameters": {
            "alertId": {
              "description": "Required. The identifier of the alert to delete.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "customerId": {
              "type": "string",
              "location": "query",
              "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alert is associated with. Inferred from the caller identity if not provided."
            }
          }
        },
        "get": {
          "flatPath": "v1beta1/alerts/{alertId}",
          "parameterOrder": [
            "alertId"
          ],
          "path": "v1beta1/alerts/{alertId}",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "response": {
            "$ref": "GoogleAppsAlertcenterV1beta1Alert"
          },
          "id": "alertcenter.alerts.get",
          "parameters": {
            "customerId": {
              "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alert is associated with. Inferred from the caller identity if not provided.",
              "type": "string",
              "location": "query"
            },
            "alertId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The identifier of the alert to retrieve."
            }
          },
          "httpMethod": "GET",
          "description": "Gets the specified alert. Attempting to get a nonexistent alert returns `NOT_FOUND` error."
        }
      }
    }
  },
  "baseUrl": "https://alertcenter.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/admin-sdk/alertcenter/",
  "name": "alertcenter",
  "rootUrl": "https://alertcenter.googleapis.com/",
  "version": "v1beta1",
  "mtlsRootUrl": "https://alertcenter.mtls.googleapis.com/"
}
