{
  "version_module": true,
  "rootUrl": "https://alertcenter.googleapis.com/",
  "revision": "20220321",
  "version": "v1beta1",
  "id": "alertcenter:v1beta1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/apps.alerts": {
          "description": "See and delete your domain's G Suite alerts, and send alert feedback"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "name": "alertcenter",
  "ownerName": "Google",
  "description": "Manages alerts on issues affecting your domain.",
  "basePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "baseUrl": "https://alertcenter.googleapis.com/",
  "schemas": {
    "CsvRow": {
      "properties": {
        "entries": {
          "description": "The data entries in a CSV file row, as a string array rather than a single comma-separated string.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "CsvRow",
      "type": "object",
      "description": "A representation of a single data row in a CSV file."
    },
    "UserChanges": {
      "type": "object",
      "description": "Alerts from UserChanges bucket Rules for predefined rules which contain the below rules. Suspended user made active New user Added User suspended (by admin) User granted admin privileges User admin privileges revoked User deleted Users password changed",
      "id": "UserChanges",
      "properties": {
        "name": {
          "description": "Rule name",
          "type": "string"
        }
      }
    },
    "Attachment": {
      "id": "Attachment",
      "description": "Attachment with application-specific information about an alert.",
      "properties": {
        "csv": {
          "$ref": "Csv",
          "description": "A CSV file attachment."
        }
      },
      "type": "object"
    },
    "MaliciousEntity": {
      "id": "MaliciousEntity",
      "description": "Entity whose actions triggered a Gmail phishing alert.",
      "type": "object",
      "properties": {
        "entity": {
          "$ref": "User",
          "description": "The actor who triggered a gmail phishing alert."
        },
        "fromHeader": {
          "description": "The sender email address.",
          "type": "string"
        },
        "displayName": {
          "description": "The header from display name.",
          "type": "string"
        }
      }
    },
    "MandatoryServiceAnnouncement": {
      "type": "object",
      "description": "Alert Created by the MSA team for communications necessary for continued use of Google Workspace Products.",
      "properties": {
        "title": {
          "description": "One line summary of the announcement",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Detailed, freeform text describing the announcement"
        }
      },
      "id": "MandatoryServiceAnnouncement"
    },
    "Notification": {
      "type": "object",
      "id": "Notification",
      "properties": {
        "cloudPubsubTopic": {
          "$ref": "CloudPubsubTopic",
          "description": "A Google Cloud Pub/sub topic destination."
        }
      },
      "description": "Settings for callback notifications. For more details see [Google Workspace Alert Notification](https://developers.google.com/admin-sdk/alertcenter/guides/notifications)."
    },
    "UndeleteAlertRequest": {
      "type": "object",
      "properties": {
        "customerId": {
          "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alert is associated with. Inferred from the caller identity if not provided.",
          "type": "string"
        }
      },
      "description": "A request to undelete a specific alert that was marked for deletion.",
      "id": "UndeleteAlertRequest"
    },
    "RequestInfo": {
      "id": "RequestInfo",
      "type": "object",
      "description": "Requests for one application that needs default SQL setup.",
      "properties": {
        "appDeveloperEmail": {
          "description": "List of app developers who triggered notifications for above application.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "appKey": {
          "type": "string",
          "description": "Required. The application that requires the SQL setup."
        },
        "numberOfRequests": {
          "description": "Required. Number of requests sent for this application to set up default SQL instance.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleOperations": {
      "properties": {
        "affectedUserEmails": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of emails which correspond to the users directly affected by the incident."
        },
        "description": {
          "description": "A detailed, freeform incident description.",
          "type": "string"
        },
        "domain": {
          "type": "string",
          "description": "Customer domain for email template personalization."
        },
        "header": {
          "description": "A header to display above the incident message. Typically used to attach a localized notice on the timeline for followup comms translations.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "A one-line incident description."
        },
        "attachmentData": {
          "$ref": "Attachment",
          "description": "Optional. Application-specific data for an incident, provided when the Google Workspace application which reported the incident cannot be completely restored to a valid state."
        }
      },
      "type": "object",
      "id": "GoogleOperations",
      "description": "An incident reported by Google Operations for a Google Workspace application."
    },
    "PredefinedDetectorInfo": {
      "id": "PredefinedDetectorInfo",
      "description": "Detector provided by Google.",
      "properties": {
        "detectorName": {
          "description": "Name that uniquely identifies the detector.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SuspiciousActivity": {
      "type": "object",
      "properties": {
        "events": {
          "type": "array",
          "description": "Required. The list of security events.",
          "items": {
            "$ref": "SuspiciousActivitySecurityDetail"
          }
        },
        "email": {
          "description": "The email of the user this alert was created for.",
          "type": "string"
        }
      },
      "description": "A mobile suspicious activity alert. Derived from audit logs.",
      "id": "SuspiciousActivity"
    },
    "AccountSuspensionWarning": {
      "properties": {
        "appealWindow": {
          "type": "string",
          "format": "google-duration",
          "description": "The amount of time remaining to appeal an imminent suspension. After this window has elapsed, the account will be suspended. Only populated if the account suspension is in WARNING state."
        },
        "suspensionDetails": {
          "items": {
            "$ref": "AccountSuspensionDetails"
          },
          "type": "array",
          "description": "Details about why an account is being suspended."
        },
        "state": {
          "enumDescriptions": [
            "State is unspecified.",
            "Customer is receiving a warning about imminent suspension.",
            "Customer is being notified that their account has been suspended.",
            "Customer is being notified that their suspension appeal was approved.",
            "Customer has submitted their appeal, which is pending review."
          ],
          "description": "Account suspension warning state.",
          "type": "string",
          "enum": [
            "ACCOUNT_SUSPENSION_WARNING_STATE_UNSPECIFIED",
            "WARNING",
            "SUSPENDED",
            "APPEAL_APPROVED",
            "APPEAL_SUBMITTED"
          ]
        }
      },
      "type": "object",
      "description": "A warning that the customer's account is about to be suspended.",
      "id": "AccountSuspensionWarning"
    },
    "CloudPubsubTopic": {
      "type": "object",
      "properties": {
        "topicName": {
          "type": "string",
          "description": "The `name` field of a Cloud Pubsub [Topic] (https://cloud.google.com/pubsub/docs/reference/rest/v1/projects.topics#Topic)."
        },
        "payloadFormat": {
          "type": "string",
          "description": "Optional. The format of the payload that would be sent. If not specified the format will be JSON.",
          "enum": [
            "PAYLOAD_FORMAT_UNSPECIFIED",
            "JSON"
          ],
          "enumDescriptions": [
            "Payload format is not specified (will use JSON as default).",
            "Use JSON."
          ]
        }
      },
      "id": "CloudPubsubTopic",
      "description": "A reference to a Cloud Pubsub topic. To register for notifications, the owner of the topic must grant `alerts-api-push-notifications@system.gserviceaccount.com` the `projects.topics.publish` permission."
    },
    "PhishingSpike": {
      "description": "Alert for a spike in user reported phishing. *Warning*: This type has been deprecated. Use [MailPhishing](/admin-sdk/alertcenter/reference/rest/v1beta1/MailPhishing) instead.",
      "type": "object",
      "properties": {
        "messages": {
          "type": "array",
          "description": "The list of messages contained by this alert.",
          "items": {
            "$ref": "GmailMessageInfo"
          }
        },
        "domainId": {
          "description": "The domain ID.",
          "$ref": "DomainId"
        },
        "isInternal": {
          "description": "If `true`, the email originated from within the organization.",
          "type": "boolean"
        },
        "maliciousEntity": {
          "description": "The entity whose actions triggered a Gmail phishing alert.",
          "$ref": "MaliciousEntity"
        }
      },
      "id": "PhishingSpike"
    },
    "RuleViolationInfo": {
      "description": "Common alert information about violated rules that are configured by Google Workspace administrators.",
      "properties": {
        "triggeredActionInfo": {
          "description": "Metadata related to the triggered actions.",
          "items": {
            "$ref": "ActionInfo"
          },
          "type": "array"
        },
        "dataSource": {
          "enumDescriptions": [
            "Data source is unspecified.",
            "Drive data source."
          ],
          "type": "string",
          "description": "Source of the data.",
          "enum": [
            "DATA_SOURCE_UNSPECIFIED",
            "DRIVE"
          ]
        },
        "ruleInfo": {
          "$ref": "RuleInfo",
          "description": "Details of the violated rule."
        },
        "suppressedActionTypes": {
          "description": "Actions suppressed due to other actions with higher priority.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Action type is unspecified.",
              "Block sharing a file externally.",
              "Show a warning message when sharing a file externally.",
              "Send alert.",
              "Activate Rule Action",
              "Deactivate Rule Action"
            ],
            "type": "string",
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "DRIVE_BLOCK_EXTERNAL_SHARING",
              "DRIVE_WARN_ON_EXTERNAL_SHARING",
              "ALERT",
              "RULE_ACTIVATE",
              "RULE_DEACTIVATE"
            ]
          }
        },
        "triggeringUserEmail": {
          "description": "Email of the user who caused the violation. Value could be empty if not applicable, for example, a violation found by drive continuous scan.",
          "type": "string"
        },
        "triggeredActionTypes": {
          "items": {
            "enumDescriptions": [
              "Action type is unspecified.",
              "Block sharing a file externally.",
              "Show a warning message when sharing a file externally.",
              "Send alert.",
              "Activate Rule Action",
              "Deactivate Rule Action"
            ],
            "type": "string",
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "DRIVE_BLOCK_EXTERNAL_SHARING",
              "DRIVE_WARN_ON_EXTERNAL_SHARING",
              "ALERT",
              "RULE_ACTIVATE",
              "RULE_DEACTIVATE"
            ]
          },
          "type": "array",
          "description": "Actions applied as a consequence of the rule being triggered."
        },
        "matchInfo": {
          "description": "List of matches that were found in the resource content.",
          "items": {
            "$ref": "MatchInfo"
          },
          "type": "array"
        },
        "trigger": {
          "enum": [
            "TRIGGER_UNSPECIFIED",
            "DRIVE_SHARE"
          ],
          "enumDescriptions": [
            "Trigger is unspecified.",
            "A Drive file is shared."
          ],
          "type": "string",
          "description": "Trigger of the rule."
        },
        "recipients": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Resource recipients. For Drive, they are grantees that the Drive file was shared with at the time of rule triggering. Valid values include user emails, group emails, domains, or 'anyone' if the file was publicly accessible. If the file was private the recipients list will be empty. For Gmail, they are emails of the users or groups that the Gmail message was sent to."
        },
        "resourceInfo": {
          "description": "Details of the resource which violated the rule.",
          "$ref": "ResourceInfo"
        }
      },
      "type": "object",
      "id": "RuleViolationInfo"
    },
    "Status": {
      "properties": {
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object"
    },
    "Settings": {
      "properties": {
        "notifications": {
          "description": "The list of notifications.",
          "items": {
            "$ref": "Notification"
          },
          "type": "array"
        }
      },
      "id": "Settings",
      "description": "Customer-level settings.",
      "type": "object"
    },
    "BatchUndeleteAlertsRequest": {
      "type": "object",
      "properties": {
        "customerId": {
          "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alerts are associated with.",
          "type": "string"
        },
        "alertId": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. list of alert IDs."
        }
      },
      "id": "BatchUndeleteAlertsRequest",
      "description": "A request to perform batch undelete on alerts."
    },
    "ActionInfo": {
      "id": "ActionInfo",
      "type": "object",
      "properties": {},
      "description": "Metadata related to the action."
    },
    "DeviceCompromised": {
      "type": "object",
      "id": "DeviceCompromised",
      "properties": {
        "events": {
          "type": "array",
          "description": "Required. The list of security events.",
          "items": {
            "$ref": "DeviceCompromisedSecurityDetail"
          }
        },
        "email": {
          "type": "string",
          "description": "The email of the user this alert was created for."
        }
      },
      "description": "A mobile device compromised alert. Derived from audit logs."
    },
    "AppSettingsChanged": {
      "type": "object",
      "description": "Alerts from AppSettingsChanged bucket Rules configured by Admin which contain the below rules. Calendar settings changed Drive settings changed Email settings changed Mobile settings changed",
      "properties": {
        "alertDetails": {
          "type": "string",
          "format": "byte",
          "description": "Any other associated alert details, for example, AlertConfiguration."
        },
        "name": {
          "type": "string",
          "description": "Rule name"
        }
      },
      "id": "AppSettingsChanged"
    },
    "AlertMetadata": {
      "properties": {
        "assignee": {
          "type": "string",
          "description": "The email address of the user assigned to the alert."
        },
        "customerId": {
          "type": "string",
          "description": "Output only. The unique identifier of the Google account of the customer."
        },
        "updateTime": {
          "description": "Output only. The time this metadata was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "status": {
          "description": "The current status of the alert. The supported values are the following: * NOT_STARTED * IN_PROGRESS * CLOSED",
          "type": "string"
        },
        "severity": {
          "type": "string",
          "description": "The severity value of the alert. Alert Center will set this field at alert creation time, default's to an empty string when it could not be determined. The supported values for update actions on this field are the following: * HIGH * MEDIUM * LOW"
        },
        "etag": {
          "description": "Optional. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of an alert metadata from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform metadata updates in order to avoid race conditions: An `etag` is returned in the response which contains alert metadata, and systems are expected to put that etag in the request to update alert metadata to ensure that their change will be applied to the same version of the alert metadata. If no `etag` is provided in the call to update alert metadata, then the existing alert metadata is overwritten blindly.",
          "type": "string"
        },
        "alertId": {
          "type": "string",
          "description": "Output only. The alert identifier."
        }
      },
      "description": "An alert metadata.",
      "id": "AlertMetadata",
      "type": "object"
    },
    "User": {
      "properties": {
        "emailAddress": {
          "type": "string",
          "description": "Email address of the user."
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the user."
        }
      },
      "type": "object",
      "id": "User",
      "description": "A user."
    },
    "StateSponsoredAttack": {
      "description": "A state-sponsored attack alert. Derived from audit logs.",
      "id": "StateSponsoredAttack",
      "properties": {
        "email": {
          "description": "The email of the user this incident was created for.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "UserDefinedDetectorInfo": {
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "Resource name that uniquely identifies the detector."
        },
        "displayName": {
          "description": "Display name of the detector.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "UserDefinedDetectorInfo",
      "description": "Detector defined by administrators."
    },
    "GmailMessageInfo": {
      "id": "GmailMessageInfo",
      "properties": {
        "md5HashSubject": {
          "description": "The MD5 Hash of email's subject (only available for reported emails).",
          "type": "string"
        },
        "attachmentsSha256Hash": {
          "description": "The `SHA256` hash of email's attachment and all MIME parts.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "messageId": {
          "type": "string",
          "description": "The message ID."
        },
        "recipient": {
          "type": "string",
          "description": "The recipient of this email."
        },
        "date": {
          "type": "string",
          "format": "google-datetime",
          "description": "The date of the event related to this email."
        },
        "md5HashMessageBody": {
          "type": "string",
          "description": "The hash of the message body text."
        },
        "messageBodySnippet": {
          "description": "The snippet of the message body text (only available for reported emails).",
          "type": "string"
        },
        "subjectText": {
          "description": "The email subject text (only available for reported emails).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Details of a message in phishing spike alert."
    },
    "ListAlertsResponse": {
      "type": "object",
      "description": "Response message for an alert listing request.",
      "properties": {
        "alerts": {
          "description": "The list of alerts.",
          "items": {
            "$ref": "Alert"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token for the next page. If not empty, indicates that there may be more alerts that match the listing request; this value can be used in a subsequent ListAlertsRequest to get alerts continuing from last result of the current list call.",
          "type": "string"
        }
      },
      "id": "ListAlertsResponse"
    },
    "DomainWideTakeoutInitiated": {
      "description": "A takeout operation for the entire domain was initiated by an admin. Derived from audit logs.",
      "type": "object",
      "id": "DomainWideTakeoutInitiated",
      "properties": {
        "takeoutRequestId": {
          "type": "string",
          "description": "The takeout request ID."
        },
        "email": {
          "description": "The email of the admin who initiated the takeout.",
          "type": "string"
        }
      }
    },
    "ReportingRule": {
      "description": "Alerts from Reporting Rules configured by Admin.",
      "id": "ReportingRule",
      "type": "object",
      "properties": {
        "alertDetails": {
          "format": "byte",
          "description": "Any other associated alert details, for example, AlertConfiguration.",
          "type": "string"
        },
        "name": {
          "description": "Rule name",
          "type": "string"
        },
        "query": {
          "type": "string",
          "format": "byte",
          "description": "Alert Rule query Sample Query query { condition { filter { expected_application_id: 777491262838 expected_event_name: \"indexable_content_change\" filter_op: IN } } conjunction_operator: OR }"
        }
      }
    },
    "AccountSuspensionDetails": {
      "type": "object",
      "id": "AccountSuspensionDetails",
      "description": "Details about why an account is receiving an account suspension warning.",
      "properties": {
        "productName": {
          "type": "string",
          "description": "The name of the product being abused. This is restricted to only the following values: \"Gmail\" \"Google Workspace\" \"Payments\" \"Voice\" \"YouTube\" \"Other\""
        },
        "abuseReason": {
          "enumDescriptions": [
            "Abuse reason is unspecified.",
            "This account is being suspended for a Terms of Service violation.",
            "This account is being suspended for spam.",
            "This account is being suspended for phishing.",
            "This account is being suspended for artificially boosting traffic to a website.",
            "This account is being suspended for fraud.",
            "This account is being suspended for number harvesting.",
            "This account is being suspended for payments fraud.",
            "This account is being suspended for unwanted content."
          ],
          "enum": [
            "ACCOUNT_SUSPENSION_ABUSE_REASON_UNSPECIFIED",
            "TOS_VIOLATION",
            "SPAM",
            "PHISHING",
            "TRAFFIC_PUMPING",
            "FRAUD",
            "NUMBER_HARVESTING",
            "PAYMENTS_FRAUD",
            "UNWANTED_CONTENT"
          ],
          "type": "string",
          "description": "The reason why this account is receiving an account suspension warning."
        }
      }
    },
    "MailPhishing": {
      "properties": {
        "systemActionType": {
          "description": "System actions on the messages.",
          "enumDescriptions": [
            "System action is unspecified.",
            "No operation.",
            "Messages were removed from the inbox."
          ],
          "enum": [
            "SYSTEM_ACTION_TYPE_UNSPECIFIED",
            "NO_OPERATION",
            "REMOVED_FROM_INBOX"
          ],
          "type": "string"
        },
        "domainId": {
          "$ref": "DomainId",
          "description": "The domain ID."
        },
        "maliciousEntity": {
          "description": "The entity whose actions triggered a Gmail phishing alert.",
          "$ref": "MaliciousEntity"
        },
        "messages": {
          "description": "The list of messages contained by this alert.",
          "type": "array",
          "items": {
            "$ref": "GmailMessageInfo"
          }
        },
        "isInternal": {
          "description": "If `true`, the email originated from within the organization.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "MailPhishing",
      "description": "Proto for all phishing alerts with common payload. Supported types are any of the following: * User reported phishing * User reported spam spike * Suspicious message reported * Phishing reclassification * Malware reclassification * Gmail potential employee spoofing"
    },
    "Alert": {
      "description": "An alert affecting a customer.",
      "id": "Alert",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. The time this alert was created.",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Required. The time the event that caused this alert was started or detected.",
          "type": "string",
          "format": "google-datetime"
        },
        "deleted": {
          "type": "boolean",
          "description": "Output only. `True` if this alert is marked for deletion."
        },
        "customerId": {
          "description": "Output only. The unique identifier of the Google account of the customer.",
          "type": "string"
        },
        "endTime": {
          "description": "Optional. The time the event that caused this alert ceased being active. If provided, the end time must not be earlier than the start time. If not provided, it indicates an ongoing alert.",
          "format": "google-datetime",
          "type": "string"
        },
        "source": {
          "type": "string",
          "description": "Required. A unique identifier for the system that reported the alert. This is output only after alert is created. Supported sources are any of the following: * Google Operations * Mobile device management * Gmail phishing * Data Loss Prevention * Domain wide takeout * State sponsored attack * Google identity * Apps outage"
        },
        "etag": {
          "description": "Optional. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of an alert from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform alert updates in order to avoid race conditions: An `etag` is returned in the response which contains alerts, and systems are expected to put that etag in the request to update alert to ensure that their change will be applied to the same version of the alert. If no `etag` is provided in the call to update alert, then the existing alert is overwritten blindly.",
          "type": "string"
        },
        "securityInvestigationToolLink": {
          "type": "string",
          "description": "Output only. An optional [Security Investigation Tool](https://support.google.com/a/answer/7575955) query for this alert."
        },
        "data": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Optional. The data associated with this alert, for example google.apps.alertcenter.type.DeviceCompromised."
        },
        "alertId": {
          "description": "Output only. The unique identifier for the alert.",
          "type": "string"
        },
        "metadata": {
          "$ref": "AlertMetadata",
          "description": "Output only. The metadata associated with this alert."
        },
        "type": {
          "description": "Required. The type of the alert. This is output only after alert is created. For a list of available alert types see [Google Workspace Alert types](https://developers.google.com/admin-sdk/alertcenter/reference/alert-types).",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this alert was last updated."
        }
      },
      "type": "object"
    },
    "DeviceCompromisedSecurityDetail": {
      "type": "object",
      "properties": {
        "deviceModel": {
          "description": "The model of the device.",
          "type": "string"
        },
        "iosVendorId": {
          "type": "string",
          "description": "Required for iOS, empty for others."
        },
        "resourceId": {
          "type": "string",
          "description": "The device resource ID."
        },
        "deviceType": {
          "description": "The type of the device.",
          "type": "string"
        },
        "deviceId": {
          "type": "string",
          "description": "Required. The device ID."
        },
        "serialNumber": {
          "type": "string",
          "description": "The serial number of the device."
        },
        "deviceCompromisedState": {
          "type": "string",
          "description": "The device compromised state. Possible values are \"`Compromised`\" or \"`Not Compromised`\"."
        }
      },
      "description": "Detailed information of a single MDM device compromised event.",
      "id": "DeviceCompromisedSecurityDetail"
    },
    "MatchInfo": {
      "properties": {
        "userDefinedDetector": {
          "description": "For matched detector defined by administrators.",
          "$ref": "UserDefinedDetectorInfo"
        },
        "predefinedDetector": {
          "$ref": "PredefinedDetectorInfo",
          "description": "For matched detector predefined by Google."
        }
      },
      "type": "object",
      "id": "MatchInfo",
      "description": "Proto that contains match information from the condition part of the rule."
    },
    "ListAlertFeedbackResponse": {
      "id": "ListAlertFeedbackResponse",
      "type": "object",
      "description": "Response message for an alert feedback listing request.",
      "properties": {
        "feedback": {
          "type": "array",
          "items": {
            "$ref": "AlertFeedback"
          },
          "description": "The list of alert feedback. Feedback entries for each alert are ordered by creation time descending."
        }
      }
    },
    "DlpRuleViolation": {
      "description": "Alerts that get triggered on violations of Data Loss Prevention (DLP) rules.",
      "properties": {
        "ruleViolationInfo": {
          "$ref": "RuleViolationInfo",
          "description": "Details about the violated DLP rule. Admins can use the predefined detectors provided by Google Cloud DLP https://cloud.google.com/dlp/ when setting up a DLP rule. Matched Cloud DLP detectors in this violation if any will be captured in the MatchInfo.predefined_detector."
        }
      },
      "id": "DlpRuleViolation",
      "type": "object"
    },
    "BatchDeleteAlertsResponse": {
      "properties": {
        "failedAlertStatus": {
          "additionalProperties": {
            "$ref": "Status"
          },
          "description": "The status details for each failed alert_id.",
          "type": "object"
        },
        "successAlertIds": {
          "type": "array",
          "description": "The successful list of alert IDs.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response to batch delete operation on alerts.",
      "type": "object",
      "id": "BatchDeleteAlertsResponse"
    },
    "AppMakerSqlSetupNotification": {
      "description": "Alerts from App Maker to notify admins to set up default SQL instance.",
      "type": "object",
      "id": "AppMakerSqlSetupNotification",
      "properties": {
        "requestInfo": {
          "description": "List of applications with requests for default SQL set up.",
          "type": "array",
          "items": {
            "$ref": "RequestInfo"
          }
        }
      }
    },
    "SuspiciousActivitySecurityDetail": {
      "type": "object",
      "id": "SuspiciousActivitySecurityDetail",
      "properties": {
        "deviceProperty": {
          "description": "The device property which was changed.",
          "type": "string"
        },
        "iosVendorId": {
          "description": "Required for iOS, empty for others.",
          "type": "string"
        },
        "resourceId": {
          "type": "string",
          "description": "The device resource ID."
        },
        "newValue": {
          "type": "string",
          "description": "The new value of the device property after the change."
        },
        "oldValue": {
          "type": "string",
          "description": "The old value of the device property before the change."
        },
        "deviceModel": {
          "description": "The model of the device.",
          "type": "string"
        },
        "serialNumber": {
          "type": "string",
          "description": "The serial number of the device."
        },
        "deviceType": {
          "description": "The type of the device.",
          "type": "string"
        },
        "deviceId": {
          "type": "string",
          "description": "Required. The device ID."
        }
      },
      "description": "Detailed information of a single MDM suspicious activity event."
    },
    "AlertFeedback": {
      "id": "AlertFeedback",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "The feedback type is not specified.",
            "The alert report is not useful.",
            "The alert report is somewhat useful.",
            "The alert report is very useful."
          ],
          "enum": [
            "ALERT_FEEDBACK_TYPE_UNSPECIFIED",
            "NOT_USEFUL",
            "SOMEWHAT_USEFUL",
            "VERY_USEFUL"
          ],
          "description": "Required. The type of the feedback."
        },
        "alertId": {
          "description": "Output only. The alert identifier.",
          "type": "string"
        },
        "customerId": {
          "description": "Output only. The unique identifier of the Google account of the customer.",
          "type": "string"
        },
        "email": {
          "description": "Output only. The email of the user that provided the feedback.",
          "type": "string"
        },
        "feedbackId": {
          "type": "string",
          "description": "Output only. The unique identifier for the feedback."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time this feedback was created."
        }
      },
      "description": "A customer feedback about an alert."
    },
    "AccountWarning": {
      "id": "AccountWarning",
      "description": "Alerts for user account warning events.",
      "properties": {
        "loginDetails": {
          "$ref": "LoginDetails",
          "description": "Optional. Details of the login action associated with the warning event. This is only available for: * Suspicious login * Suspicious login (less secure app) * Suspicious programmatic login * User suspended (suspicious activity)"
        },
        "email": {
          "type": "string",
          "description": "Required. The email of the user that this event belongs to."
        }
      },
      "type": "object"
    },
    "BatchUndeleteAlertsResponse": {
      "id": "BatchUndeleteAlertsResponse",
      "description": "Response to batch undelete operation on alerts.",
      "type": "object",
      "properties": {
        "successAlertIds": {
          "type": "array",
          "description": "The successful list of alert IDs.",
          "items": {
            "type": "string"
          }
        },
        "failedAlertStatus": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Status"
          },
          "description": "The status details for each failed alert_id."
        }
      }
    },
    "BadWhitelist": {
      "description": "Alert for setting the domain or IP that malicious email comes from as whitelisted domain or IP in Gmail advanced settings.",
      "properties": {
        "domainId": {
          "description": "The domain ID.",
          "$ref": "DomainId"
        },
        "messages": {
          "type": "array",
          "description": "The list of messages contained by this alert.",
          "items": {
            "$ref": "GmailMessageInfo"
          }
        },
        "sourceIp": {
          "type": "string",
          "description": "The source IP address of the malicious email, for example, `127.0.0.1`."
        },
        "maliciousEntity": {
          "description": "The entity whose actions triggered a Gmail phishing alert.",
          "$ref": "MaliciousEntity"
        }
      },
      "type": "object",
      "id": "BadWhitelist"
    },
    "Csv": {
      "type": "object",
      "description": "A representation of a CSV file attachment, as a list of column headers and a list of data rows.",
      "id": "Csv",
      "properties": {
        "headers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of headers for data columns in a CSV file."
        },
        "dataRows": {
          "type": "array",
          "description": "The list of data rows in a CSV file, as string arrays rather than as a single comma-separated string.",
          "items": {
            "$ref": "CsvRow"
          }
        }
      }
    },
    "LoginDetails": {
      "type": "object",
      "description": "The details of the login action.",
      "id": "LoginDetails",
      "properties": {
        "loginTime": {
          "type": "string",
          "description": "Optional. The successful login time that is associated with the warning event. This isn't present for blocked login attempts.",
          "format": "google-datetime"
        },
        "ipAddress": {
          "description": "Optional. The human-readable IP address (for example, `11.22.33.44`) that is associated with the warning event.",
          "type": "string"
        }
      }
    },
    "RuleInfo": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "User provided name of the rule."
        },
        "resourceName": {
          "type": "string",
          "description": "Resource name that uniquely identifies the rule."
        }
      },
      "id": "RuleInfo",
      "description": "Proto that contains rule information."
    },
    "MergeInfo": {
      "type": "object",
      "description": "New alert tracking numbers.",
      "id": "MergeInfo",
      "properties": {
        "newIncidentTrackingId": {
          "description": "The new tracking ID from the parent incident.",
          "type": "string"
        },
        "newAlertId": {
          "type": "string",
          "description": "Optional. New alert ID. Reference the [google.apps.alertcenter.Alert] with this ID for the current state."
        }
      }
    },
    "ResourceInfo": {
      "type": "object",
      "properties": {
        "resourceTitle": {
          "description": "Title of the resource, for example email subject, or document title.",
          "type": "string"
        },
        "documentId": {
          "type": "string",
          "description": "Drive file ID."
        }
      },
      "id": "ResourceInfo",
      "description": "Proto that contains resource information."
    },
    "ActivityRule": {
      "properties": {
        "actionNames": {
          "description": "List of action names associated with the rule threshold.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Rule create timestamp."
        },
        "query": {
          "description": "Query that is used to get the data from the associated source.",
          "type": "string"
        },
        "windowSize": {
          "format": "google-duration",
          "description": "Rule window size. Possible values are 1 hour or 24 hours.",
          "type": "string"
        },
        "displayName": {
          "description": "Alert display name.",
          "type": "string"
        },
        "threshold": {
          "description": "Alert threshold is for example “COUNT \u003e 5”.",
          "type": "string"
        },
        "triggerSource": {
          "type": "string",
          "description": "The trigger sources for this rule. * GMAIL_EVENTS * DEVICE_EVENTS * USER_EVENTS"
        },
        "updateTime": {
          "description": "The timestamp of the last update to the rule.",
          "type": "string",
          "format": "google-datetime"
        },
        "supersedingAlert": {
          "description": "Alert ID superseding this alert. It is used to indicate that superseding alert is essentially extension of this alert and we found the relationship after creating both alerts.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Rule name."
        },
        "description": {
          "description": "Description of the rule.",
          "type": "string"
        },
        "supersededAlerts": {
          "items": {
            "type": "string"
          },
          "description": "List of alert IDs superseded by this alert. It is used to indicate that this alert is essentially extension of superseded alerts and we found the relationship after creating these alerts.",
          "type": "array"
        }
      },
      "description": "Alerts from Google Workspace Security Center rules service configured by an admin.",
      "type": "object",
      "id": "ActivityRule"
    },
    "DomainId": {
      "id": "DomainId",
      "type": "object",
      "properties": {
        "customerPrimaryDomain": {
          "type": "string",
          "description": "The primary domain for the customer."
        }
      },
      "description": "Domain ID of Gmail phishing alerts."
    },
    "BatchDeleteAlertsRequest": {
      "properties": {
        "customerId": {
          "type": "string",
          "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alerts are associated with."
        },
        "alertId": {
          "type": "array",
          "description": "Required. list of alert IDs.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "BatchDeleteAlertsRequest",
      "type": "object",
      "description": "A request to perform batch delete on alerts."
    },
    "AppsOutage": {
      "properties": {
        "status": {
          "enumDescriptions": [
            "Status is unspecified.",
            "The incident has just been reported.",
            "The incident is ongoing.",
            "The incident has been resolved.",
            "Further assessment indicated no customer impact.",
            "The incident has been partially resolved.",
            "The incident was merged into a parent.",
            "The incident has lower impact than initially anticipated."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "NEW",
            "ONGOING",
            "RESOLVED",
            "FALSE_POSITIVE",
            "PARTIALLY_RESOLVED",
            "MERGED",
            "DOWNGRADED"
          ],
          "type": "string",
          "description": "Current outage status."
        },
        "dashboardUri": {
          "type": "string",
          "description": "Link to the outage event in Google Workspace Status Dashboard"
        },
        "nextUpdateTime": {
          "type": "string",
          "description": "Timestamp by which the next update is expected to arrive.",
          "format": "google-datetime"
        },
        "mergeInfo": {
          "description": "Indicates new alert details under which the outage is communicated. Only populated when Status is MERGED.",
          "$ref": "MergeInfo"
        },
        "products": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of products impacted by the outage."
        },
        "incidentTrackingId": {
          "description": "Incident tracking ID.",
          "type": "string"
        },
        "resolutionTime": {
          "type": "string",
          "description": "Timestamp when the outage is expected to be resolved, or has confirmed resolution. Provided only when known.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "An outage incident reported for a Google Workspace service.",
      "id": "AppsOutage"
    }
  },
  "kind": "discovery#restDescription",
  "resources": {
    "v1beta1": {
      "methods": {
        "updateSettings": {
          "request": {
            "$ref": "Settings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "flatPath": "v1beta1/settings",
          "description": "Updates the customer-level settings.",
          "httpMethod": "PATCH",
          "parameterOrder": [],
          "parameters": {
            "customerId": {
              "location": "query",
              "type": "string",
              "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alert settings are associated with. Inferred from the caller identity if not provided."
            }
          },
          "response": {
            "$ref": "Settings"
          },
          "id": "alertcenter.updateSettings",
          "path": "v1beta1/settings"
        },
        "getSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "flatPath": "v1beta1/settings",
          "description": "Returns customer-level settings.",
          "parameters": {
            "customerId": {
              "location": "query",
              "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alert settings are associated with. Inferred from the caller identity if not provided.",
              "type": "string"
            }
          },
          "path": "v1beta1/settings",
          "parameterOrder": [],
          "id": "alertcenter.getSettings",
          "httpMethod": "GET",
          "response": {
            "$ref": "Settings"
          }
        }
      }
    },
    "alerts": {
      "methods": {
        "batchUndelete": {
          "request": {
            "$ref": "BatchUndeleteAlertsRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "description": "Performs batch undelete operation on alerts.",
          "path": "v1beta1/alerts:batchUndelete",
          "parameterOrder": [],
          "response": {
            "$ref": "BatchUndeleteAlertsResponse"
          },
          "flatPath": "v1beta1/alerts:batchUndelete",
          "id": "alertcenter.alerts.batchUndelete",
          "parameters": {}
        },
        "list": {
          "parameters": {
            "filter": {
              "description": "Optional. A query string for filtering alert results. For more details, see [Query filters](https://developers.google.com/admin-sdk/alertcenter/guides/query-filters) and [Supported query filter fields](https://developers.google.com/admin-sdk/alertcenter/reference/filter-fields#alerts.list).",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. The requested page size. Server may return fewer items than requested. If unspecified, server picks an appropriate default.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A token identifying a page of results the server should return. If empty, a new iteration is started. To continue an iteration, pass in the value from the previous ListAlertsResponse's next_page_token field.",
              "location": "query"
            },
            "customerId": {
              "type": "string",
              "location": "query",
              "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alerts are associated with. Inferred from the caller identity if not provided."
            },
            "orderBy": {
              "location": "query",
              "description": "Optional. The sort order of the list results. If not specified results may be returned in arbitrary order. You can sort the results in descending order based on the creation timestamp using `order_by=\"create_time desc\"`. Currently, supported sorting are `create_time asc`, `create_time desc`, `update_time desc`",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "httpMethod": "GET",
          "description": "Lists the alerts.",
          "response": {
            "$ref": "ListAlertsResponse"
          },
          "path": "v1beta1/alerts",
          "flatPath": "v1beta1/alerts",
          "parameterOrder": [],
          "id": "alertcenter.alerts.list"
        },
        "batchDelete": {
          "response": {
            "$ref": "BatchDeleteAlertsResponse"
          },
          "flatPath": "v1beta1/alerts:batchDelete",
          "httpMethod": "POST",
          "request": {
            "$ref": "BatchDeleteAlertsRequest"
          },
          "id": "alertcenter.alerts.batchDelete",
          "path": "v1beta1/alerts:batchDelete",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "description": "Performs batch delete operation on alerts.",
          "parameterOrder": []
        },
        "getMetadata": {
          "id": "alertcenter.alerts.getMetadata",
          "httpMethod": "GET",
          "description": "Returns the metadata of an alert. Attempting to get metadata for a non-existent alert returns `NOT_FOUND` error.",
          "parameterOrder": [
            "alertId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "path": "v1beta1/alerts/{alertId}/metadata",
          "parameters": {
            "customerId": {
              "type": "string",
              "location": "query",
              "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alert metadata is associated with. Inferred from the caller identity if not provided."
            },
            "alertId": {
              "location": "path",
              "required": true,
              "description": "Required. The identifier of the alert this metadata belongs to.",
              "type": "string"
            }
          },
          "flatPath": "v1beta1/alerts/{alertId}/metadata",
          "response": {
            "$ref": "AlertMetadata"
          }
        },
        "undelete": {
          "response": {
            "$ref": "Alert"
          },
          "description": "Restores, or \"undeletes\", an alert that was marked for deletion within the past 30 days. Attempting to undelete an alert which was marked for deletion over 30 days ago (which has been removed from the Alert Center database) or a nonexistent alert returns a `NOT_FOUND` error. Attempting to undelete an alert which has not been marked for deletion has no effect.",
          "request": {
            "$ref": "UndeleteAlertRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "flatPath": "v1beta1/alerts/{alertId}:undelete",
          "httpMethod": "POST",
          "id": "alertcenter.alerts.undelete",
          "parameters": {
            "alertId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The identifier of the alert to undelete."
            }
          },
          "path": "v1beta1/alerts/{alertId}:undelete",
          "parameterOrder": [
            "alertId"
          ]
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "response": {
            "$ref": "Alert"
          },
          "httpMethod": "GET",
          "description": "Gets the specified alert. Attempting to get a nonexistent alert returns `NOT_FOUND` error.",
          "path": "v1beta1/alerts/{alertId}",
          "parameterOrder": [
            "alertId"
          ],
          "flatPath": "v1beta1/alerts/{alertId}",
          "id": "alertcenter.alerts.get",
          "parameters": {
            "alertId": {
              "required": true,
              "description": "Required. The identifier of the alert to retrieve.",
              "type": "string",
              "location": "path"
            },
            "customerId": {
              "location": "query",
              "type": "string",
              "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alert is associated with. Inferred from the caller identity if not provided."
            }
          }
        },
        "delete": {
          "description": "Marks the specified alert for deletion. An alert that has been marked for deletion is removed from Alert Center after 30 days. Marking an alert for deletion has no effect on an alert which has already been marked for deletion. Attempting to mark a nonexistent alert for deletion results in a `NOT_FOUND` error.",
          "id": "alertcenter.alerts.delete",
          "flatPath": "v1beta1/alerts/{alertId}",
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "parameterOrder": [
            "alertId"
          ],
          "path": "v1beta1/alerts/{alertId}",
          "parameters": {
            "customerId": {
              "location": "query",
              "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alert is associated with. Inferred from the caller identity if not provided.",
              "type": "string"
            },
            "alertId": {
              "required": true,
              "description": "Required. The identifier of the alert to delete.",
              "type": "string",
              "location": "path"
            }
          }
        }
      },
      "resources": {
        "feedback": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListAlertFeedbackResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "alertId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The alert identifier. The \"-\" wildcard could be used to represent all alerts."
                },
                "customerId": {
                  "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alert feedback are associated with. Inferred from the caller identity if not provided.",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "description": "Optional. A query string for filtering alert feedback results. For more details, see [Query filters](https://developers.google.com/admin-sdk/alertcenter/guides/query-filters) and [Supported query filter fields](https://developers.google.com/admin-sdk/alertcenter/reference/filter-fields#alerts.feedback.list).",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/apps.alerts"
              ],
              "path": "v1beta1/alerts/{alertId}/feedback",
              "flatPath": "v1beta1/alerts/{alertId}/feedback",
              "description": "Lists all the feedback for an alert. Attempting to list feedbacks for a non-existent alert returns `NOT_FOUND` error.",
              "parameterOrder": [
                "alertId"
              ],
              "id": "alertcenter.alerts.feedback.list"
            },
            "create": {
              "id": "alertcenter.alerts.feedback.create",
              "path": "v1beta1/alerts/{alertId}/feedback",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/apps.alerts"
              ],
              "parameterOrder": [
                "alertId"
              ],
              "response": {
                "$ref": "AlertFeedback"
              },
              "flatPath": "v1beta1/alerts/{alertId}/feedback",
              "request": {
                "$ref": "AlertFeedback"
              },
              "description": "Creates new feedback for an alert. Attempting to create a feedback for a non-existent alert returns `NOT_FOUND` error. Attempting to create a feedback for an alert that is marked for deletion returns `FAILED_PRECONDITION' error.",
              "parameters": {
                "customerId": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The unique identifier of the Google Workspace organization account of the customer the alert is associated with. Inferred from the caller identity if not provided."
                },
                "alertId": {
                  "description": "Required. The identifier of the alert this feedback belongs to.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/admin-sdk/alertcenter/",
  "protocol": "rest",
  "title": "Google Workspace Alert Center API",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://alertcenter.mtls.googleapis.com/",
  "servicePath": "",
  "parameters": {
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "type": "string",
      "description": "Data format for response."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    }
  },
  "batchPath": "batch",
  "canonicalName": "AlertCenter"
}
