{
  "basePath": "",
  "canonicalName": "Google Analytics Admin",
  "batchPath": "batch",
  "servicePath": "",
  "documentationLink": "http://code.google.com/apis/analytics/docs/mgmt/home.html",
  "description": "Manage properties in Google Analytics. Warning: Creating multiple Customer Applications, Accounts, or Projects to simulate or act as a single Customer Application, Account, or Project (respectively) or to circumvent Service-specific usage limits or quotas is a direct violation of Google Cloud Platform Terms of Service as well as Google APIs Terms of Service. These actions can result in immediate termination of your GCP project(s) without any warning.",
  "name": "analyticsadmin",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://analyticsadmin.mtls.googleapis.com/",
  "revision": "20230704",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "title": "Google Analytics Admin API",
  "baseUrl": "https://analyticsadmin.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/analytics.edit": {
          "description": "Edit Google Analytics management entities"
        },
        "https://www.googleapis.com/auth/analytics.readonly": {
          "description": "See and download your Google Analytics data"
        }
      }
    }
  },
  "id": "analyticsadmin:v1beta",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "resources": {
    "accounts": {
      "methods": {
        "delete": {
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta/{+name}",
          "description": "Marks target Account as soft-deleted (ie: \"trashed\") and returns it. This API does not have a method to restore soft-deleted accounts. However, they can be restored using the Trash Can UI. If the accounts are not restored before the expiration time, the account and all child resources (eg: Properties, GoogleAdsLinks, Streams, UserLinks) will be permanently purged. https://support.google.com/analytics/answer/6154772 Returns an error if the target is not found.",
          "id": "analyticsadmin.accounts.delete",
          "flatPath": "v1beta/accounts/{accountsId}",
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "parameters": {
            "name": {
              "description": "Required. The name of the Account to soft-delete. Format: accounts/{account} Example: \"accounts/100\"",
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "httpMethod": "DELETE"
        },
        "patch": {
          "description": "Updates an account.",
          "flatPath": "v1beta/accounts/{accountsId}",
          "id": "analyticsadmin.accounts.patch",
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta/{+name}",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaAccount"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^accounts/[^/]+$",
              "required": true,
              "description": "Output only. Resource name of this account. Format: accounts/{account} Example: \"accounts/100\"",
              "location": "path"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string",
              "description": "Required. The list of fields to be updated. Field names must be in snake case (for example, \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields."
            }
          },
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaAccount"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ]
        },
        "get": {
          "path": "v1beta/{+name}",
          "parameterOrder": [
            "name"
          ],
          "description": "Lookup for a single Account.",
          "id": "analyticsadmin.accounts.get",
          "httpMethod": "GET",
          "flatPath": "v1beta/accounts/{accountsId}",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaAccount"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "description": "Required. The name of the account to lookup. Format: accounts/{account} Example: \"accounts/100\"",
              "type": "string",
              "pattern": "^accounts/[^/]+$"
            }
          }
        },
        "getDataSharingSettings": {
          "path": "v1beta/{+name}",
          "flatPath": "v1beta/accounts/{accountsId}/dataSharingSettings",
          "parameterOrder": [
            "name"
          ],
          "description": "Get data sharing settings on an account. Data sharing settings are singletons.",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaDataSharingSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "pattern": "^accounts/[^/]+/dataSharingSettings$",
              "type": "string",
              "description": "Required. The name of the settings to lookup. Format: accounts/{account}/dataSharingSettings Example: \"accounts/1000/dataSharingSettings\"",
              "location": "path",
              "required": true
            }
          },
          "id": "analyticsadmin.accounts.getDataSharingSettings"
        },
        "provisionAccountTicket": {
          "path": "v1beta/accounts:provisionAccountTicket",
          "flatPath": "v1beta/accounts:provisionAccountTicket",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "description": "Requests a ticket for creating an account.",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaProvisionAccountTicketRequest"
          },
          "parameters": {},
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaProvisionAccountTicketResponse"
          },
          "parameterOrder": [],
          "id": "analyticsadmin.accounts.provisionAccountTicket"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "id": "analyticsadmin.accounts.list",
          "parameterOrder": [],
          "parameters": {
            "pageSize": {
              "description": "The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "description": "A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccounts` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            },
            "showDeleted": {
              "type": "boolean",
              "description": "Whether to include soft-deleted (ie: \"trashed\") Accounts in the results. Accounts can be inspected to determine whether they are deleted or not.",
              "location": "query"
            }
          },
          "description": "Returns all accounts accessible by the caller. Note that these accounts might not currently have GA4 properties. Soft-deleted (ie: \"trashed\") accounts are excluded by default. Returns an empty list if no relevant accounts are found.",
          "path": "v1beta/accounts",
          "flatPath": "v1beta/accounts",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaListAccountsResponse"
          },
          "httpMethod": "GET"
        },
        "runAccessReport": {
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaRunAccessReportResponse"
          },
          "id": "analyticsadmin.accounts.runAccessReport",
          "parameters": {
            "entity": {
              "pattern": "^accounts/[^/]+$",
              "type": "string",
              "description": "The Data Access Report supports requesting at the property level or account level. If requested at the account level, Data Access Reports include all access for all properties under that account. To request at the property level, entity should be for example 'properties/123' if \"123\" is your GA4 property ID. To request at the account level, entity should be for example 'accounts/1234' if \"1234\" is your GA4 Account ID.",
              "location": "path",
              "required": true
            }
          },
          "path": "v1beta/{+entity}:runAccessReport",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaRunAccessReportRequest"
          },
          "parameterOrder": [
            "entity"
          ],
          "description": "Returns a customized report of data access records. The report provides records of each time a user reads Google Analytics reporting data. Access records are retained for up to 2 years. Data Access Reports can be requested for a property. The property must be in Google Analytics 360. This method is only available to Administrators. These data access records include GA4 UI Reporting, GA4 UI Explorations, GA4 Data API, and other products like Firebase & Admob that can retrieve data from Google Analytics through a linkage. These records don't include property configuration changes like adding a stream or changing a property's time zone. For configuration change history, see [searchChangeHistoryEvents](https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts/searchChangeHistoryEvents).",
          "flatPath": "v1beta/accounts/{accountsId}:runAccessReport",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ]
        },
        "searchChangeHistoryEvents": {
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "httpMethod": "POST",
          "id": "analyticsadmin.accounts.searchChangeHistoryEvents",
          "path": "v1beta/{+account}:searchChangeHistoryEvents",
          "flatPath": "v1beta/accounts/{accountsId}:searchChangeHistoryEvents",
          "parameterOrder": [
            "account"
          ],
          "description": "Searches through all changes to an account or its children given the specified set of filters.",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsRequest"
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsResponse"
          },
          "parameters": {
            "account": {
              "location": "path",
              "type": "string",
              "description": "Required. The account resource for which to return change history resources.",
              "pattern": "^accounts/[^/]+$",
              "required": true
            }
          }
        }
      }
    },
    "properties": {
      "resources": {
        "firebaseLinks": {
          "methods": {
            "list": {
              "path": "v1beta/{+parent}/firebaseLinks",
              "id": "analyticsadmin.properties.firebaseLinks.list",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "pageToken": {
                  "description": "A page token, received from a previous `ListFirebaseLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListFirebaseLinks` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. Format: properties/{property_id} Example: properties/1234",
                  "type": "string",
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
                  "format": "int32"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaListFirebaseLinksResponse"
              },
              "flatPath": "v1beta/properties/{propertiesId}/firebaseLinks",
              "description": "Lists FirebaseLinks on a property. Properties can have at most one FirebaseLink."
            },
            "delete": {
              "id": "analyticsadmin.properties.firebaseLinks.delete",
              "httpMethod": "DELETE",
              "flatPath": "v1beta/properties/{propertiesId}/firebaseLinks/{firebaseLinksId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/firebaseLinks/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Format: properties/{property_id}/firebaseLinks/{firebase_link_id} Example: properties/1234/firebaseLinks/5678"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes a FirebaseLink on a property"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "v1beta/{+parent}/firebaseLinks",
              "flatPath": "v1beta/properties/{propertiesId}/firebaseLinks",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. Format: properties/{property_id} Example: properties/1234",
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "type": "string"
                }
              },
              "id": "analyticsadmin.properties.firebaseLinks.create",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaFirebaseLink"
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaFirebaseLink"
              },
              "description": "Creates a FirebaseLink. Properties can have at most one FirebaseLink."
            }
          }
        },
        "conversionEvents": {
          "methods": {
            "delete": {
              "id": "analyticsadmin.properties.conversionEvents.delete",
              "flatPath": "v1beta/properties/{propertiesId}/conversionEvents/{conversionEventsId}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/conversionEvents/[^/]+$",
                  "description": "Required. The resource name of the conversion event to delete. Format: properties/{property}/conversionEvents/{conversion_event} Example: \"properties/123/conversionEvents/456\"",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Deletes a conversion event in a property.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1beta/{+name}"
            },
            "create": {
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. The resource name of the parent property where this conversion event will be created. Format: properties/123",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Creates a conversion event with the specified attributes.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaConversionEvent"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta/properties/{propertiesId}/conversionEvents",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "v1beta/{+parent}/conversionEvents",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaConversionEvent"
              },
              "id": "analyticsadmin.properties.conversionEvents.create"
            },
            "list": {
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A page token, received from a previous `ListConversionEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListConversionEvents` must match the call that provided the page token.",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The resource name of the parent property. Example: 'properties/123'",
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                }
              },
              "description": "Returns a list of conversion events in the specified parent property. Returns an empty list if no conversion events are found.",
              "path": "v1beta/{+parent}/conversionEvents",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaListConversionEventsResponse"
              },
              "id": "analyticsadmin.properties.conversionEvents.list",
              "flatPath": "v1beta/properties/{propertiesId}/conversionEvents",
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaConversionEvent"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The resource name of the conversion event to retrieve. Format: properties/{property}/conversionEvents/{conversion_event} Example: \"properties/123/conversionEvents/456\"",
                  "pattern": "^properties/[^/]+/conversionEvents/[^/]+$"
                }
              },
              "flatPath": "v1beta/properties/{propertiesId}/conversionEvents/{conversionEventsId}",
              "description": "Retrieve a single conversion event.",
              "id": "analyticsadmin.properties.conversionEvents.get",
              "httpMethod": "GET"
            }
          }
        },
        "dataStreams": {
          "methods": {
            "patch": {
              "path": "v1beta/{+name}",
              "id": "analyticsadmin.properties.dataStreams.patch",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaDataStream"
              },
              "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "name": {
                  "description": "Output only. Resource name of this Data Stream. Format: properties/{property_id}/dataStreams/{stream_id} Example: \"properties/1000/dataStreams/2000\"",
                  "pattern": "^properties/[^/]+/dataStreams/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaDataStream"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "PATCH",
              "description": "Updates a DataStream on a property."
            },
            "create": {
              "flatPath": "v1beta/properties/{propertiesId}/dataStreams",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaDataStream"
              },
              "path": "v1beta/{+parent}/dataStreams",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaDataStream"
              },
              "id": "analyticsadmin.properties.dataStreams.create",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. Example format: properties/1234",
                  "required": true,
                  "location": "path",
                  "pattern": "^properties/[^/]+$"
                }
              },
              "description": "Creates a DataStream."
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "v1beta/{+name}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaDataStream"
              },
              "httpMethod": "GET",
              "description": "Lookup for a single DataStream.",
              "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}",
              "id": "analyticsadmin.properties.dataStreams.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the DataStream to get. Example format: properties/1234/dataStreams/5678",
                  "required": true,
                  "pattern": "^properties/[^/]+/dataStreams/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "description": "Deletes a DataStream on a property.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the DataStream to delete. Example format: properties/1234/dataStreams/5678",
                  "type": "string",
                  "pattern": "^properties/[^/]+/dataStreams/[^/]+$"
                }
              },
              "id": "analyticsadmin.properties.dataStreams.delete",
              "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}"
            },
            "list": {
              "flatPath": "v1beta/properties/{propertiesId}/dataStreams",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A page token, received from a previous `ListDataStreams` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDataStreams` must match the call that provided the page token.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "type": "integer"
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "type": "string",
                  "description": "Required. Example format: properties/1234"
                }
              },
              "path": "v1beta/{+parent}/dataStreams",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaListDataStreamsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Lists DataStreams on a property.",
              "id": "analyticsadmin.properties.dataStreams.list"
            }
          },
          "resources": {
            "measurementProtocolSecrets": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a measurement protocol secret.",
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
                  },
                  "path": "v1beta/{+parent}/measurementProtocolSecrets",
                  "request": {
                    "$ref": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource where this secret will be created. Format: properties/{property}/dataStreams/{dataStream}",
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.create",
                  "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets",
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit"
                  ]
                },
                "delete": {
                  "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets/{measurementProtocolSecretsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit"
                  ],
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.delete",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Deletes target MeasurementProtocolSecret.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+/measurementProtocolSecrets/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the MeasurementProtocolSecret to delete. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}"
                    }
                  },
                  "path": "v1beta/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "patch": {
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.patch",
                  "description": "Updates a measurement protocol secret.",
                  "request": {
                    "$ref": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
                  },
                  "path": "v1beta/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+/measurementProtocolSecrets/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Output only. Resource name of this secret. This secret may be a child of any type of stream. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "The list of fields to be updated. Omitted fields will not be updated.",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  },
                  "httpMethod": "PATCH",
                  "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets/{measurementProtocolSecretsId}",
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit"
                  ]
                },
                "list": {
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of resources to return. If unspecified, at most 10 resources will be returned. The maximum value is 10. Higher values will be coerced to the maximum.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListMeasurementProtocolSecrets` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListMeasurementProtocolSecrets` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name of the parent stream. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1betaListMeasurementProtocolSecretsResponse"
                  },
                  "path": "v1beta/{+parent}/measurementProtocolSecrets",
                  "httpMethod": "GET",
                  "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit",
                    "https://www.googleapis.com/auth/analytics.readonly"
                  ],
                  "description": "Returns child MeasurementProtocolSecrets under the specified parent Property."
                },
                "get": {
                  "httpMethod": "GET",
                  "description": "Lookup for a single \"GA4\" MeasurementProtocolSecret.",
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.get",
                  "path": "v1beta/{+name}",
                  "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets/{measurementProtocolSecretsId}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the measurement protocol secret to lookup. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}",
                      "type": "string",
                      "location": "path",
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+/measurementProtocolSecrets/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit",
                    "https://www.googleapis.com/auth/analytics.readonly"
                  ]
                }
              }
            }
          }
        },
        "googleAdsLinks": {
          "methods": {
            "delete": {
              "id": "analyticsadmin.properties.googleAdsLinks.delete",
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/googleAdsLinks/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Example format: properties/1234/googleAdsLinks/5678"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Deletes a GoogleAdsLink on a property",
              "path": "v1beta/{+name}",
              "httpMethod": "DELETE",
              "flatPath": "v1beta/properties/{propertiesId}/googleAdsLinks/{googleAdsLinksId}"
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "flatPath": "v1beta/properties/{propertiesId}/googleAdsLinks/{googleAdsLinksId}",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaGoogleAdsLink"
              },
              "description": "Updates a GoogleAdsLink on a property",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaGoogleAdsLink"
              },
              "parameters": {
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                },
                "name": {
                  "description": "Output only. Format: properties/{propertyId}/googleAdsLinks/{googleAdsLinkId} Note: googleAdsLinkId is not the Google Ads customer ID.",
                  "pattern": "^properties/[^/]+/googleAdsLinks/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}",
              "id": "analyticsadmin.properties.googleAdsLinks.patch"
            },
            "create": {
              "flatPath": "v1beta/properties/{propertiesId}/googleAdsLinks",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Example format: properties/1234",
                  "pattern": "^properties/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/googleAdsLinks",
              "httpMethod": "POST",
              "id": "analyticsadmin.properties.googleAdsLinks.create",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaGoogleAdsLink"
              },
              "description": "Creates a GoogleAdsLink.",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaGoogleAdsLink"
              }
            },
            "list": {
              "path": "v1beta/{+parent}/googleAdsLinks",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token, received from a previous `ListGoogleAdsLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListGoogleAdsLinks` must match the call that provided the page token."
                },
                "parent": {
                  "description": "Required. Example format: properties/1234",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+$"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum)."
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaListGoogleAdsLinksResponse"
              },
              "flatPath": "v1beta/properties/{propertiesId}/googleAdsLinks",
              "description": "Lists GoogleAdsLinks on a property.",
              "httpMethod": "GET",
              "id": "analyticsadmin.properties.googleAdsLinks.list",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "customDimensions": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "flatPath": "v1beta/properties/{propertiesId}/customDimensions",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum)."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token, received from a previous `ListCustomDimensions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCustomDimensions` must match the call that provided the page token."
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^properties/[^/]+$",
                  "type": "string",
                  "description": "Required. Example format: properties/1234"
                }
              },
              "id": "analyticsadmin.properties.customDimensions.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaListCustomDimensionsResponse"
              },
              "path": "v1beta/{+parent}/customDimensions",
              "description": "Lists CustomDimensions on a property.",
              "parameterOrder": [
                "parent"
              ]
            },
            "archive": {
              "httpMethod": "POST",
              "path": "v1beta/{+name}:archive",
              "flatPath": "v1beta/properties/{propertiesId}/customDimensions/{customDimensionsId}:archive",
              "parameterOrder": [
                "name"
              ],
              "description": "Archives a CustomDimension on a property.",
              "id": "analyticsadmin.properties.customDimensions.archive",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaArchiveCustomDimensionRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "description": "Required. The name of the CustomDimension to archive. Example format: properties/1234/customDimensions/5678",
                  "type": "string",
                  "pattern": "^properties/[^/]+/customDimensions/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "patch": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomDimension"
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomDimension"
              },
              "description": "Updates a CustomDimension on a property.",
              "path": "v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^properties/[^/]+/customDimensions/[^/]+$",
                  "description": "Output only. Resource name for this CustomDimension resource. Format: properties/{property}/customDimensions/{customDimension}"
                },
                "updateMask": {
                  "type": "string",
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "flatPath": "v1beta/properties/{propertiesId}/customDimensions/{customDimensionsId}",
              "id": "analyticsadmin.properties.customDimensions.patch",
              "httpMethod": "PATCH"
            },
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the CustomDimension to get. Example format: properties/1234/customDimensions/5678",
                  "pattern": "^properties/[^/]+/customDimensions/[^/]+$"
                }
              },
              "path": "v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "flatPath": "v1beta/properties/{propertiesId}/customDimensions/{customDimensionsId}",
              "id": "analyticsadmin.properties.customDimensions.get",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomDimension"
              },
              "description": "Lookup for a single CustomDimension.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "path": "v1beta/{+parent}/customDimensions",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "flatPath": "v1beta/properties/{propertiesId}/customDimensions",
              "id": "analyticsadmin.properties.customDimensions.create",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomDimension"
              },
              "parameters": {
                "parent": {
                  "description": "Required. Example format: properties/1234",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^properties/[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomDimension"
              },
              "description": "Creates a CustomDimension."
            }
          }
        },
        "customMetrics": {
          "methods": {
            "patch": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomMetric"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomMetric"
              },
              "httpMethod": "PATCH",
              "flatPath": "v1beta/properties/{propertiesId}/customMetrics/{customMetricsId}",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "name": {
                  "description": "Output only. Resource name for this CustomMetric resource. Format: properties/{property}/customMetrics/{customMetric}",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^properties/[^/]+/customMetrics/[^/]+$"
                }
              },
              "id": "analyticsadmin.properties.customMetrics.patch",
              "description": "Updates a CustomMetric on a property.",
              "path": "v1beta/{+name}"
            },
            "get": {
              "flatPath": "v1beta/properties/{propertiesId}/customMetrics/{customMetricsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the CustomMetric to get. Example format: properties/1234/customMetrics/5678",
                  "pattern": "^properties/[^/]+/customMetrics/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Lookup for a single CustomMetric.",
              "id": "analyticsadmin.properties.customMetrics.get",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomMetric"
              }
            },
            "archive": {
              "path": "v1beta/{+name}:archive",
              "id": "analyticsadmin.properties.customMetrics.archive",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the CustomMetric to archive. Example format: properties/1234/customMetrics/5678",
                  "required": true,
                  "pattern": "^properties/[^/]+/customMetrics/[^/]+$",
                  "type": "string"
                }
              },
              "description": "Archives a CustomMetric on a property.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaArchiveCustomMetricRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "flatPath": "v1beta/properties/{propertiesId}/customMetrics/{customMetricsId}:archive",
              "httpMethod": "POST"
            },
            "list": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaListCustomMetricsResponse"
              },
              "id": "analyticsadmin.properties.customMetrics.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "flatPath": "v1beta/properties/{propertiesId}/customMetrics",
              "description": "Lists CustomMetrics on a property.",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A page token, received from a previous `ListCustomMetrics` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCustomMetrics` must match the call that provided the page token.",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Example format: properties/1234"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "format": "int32",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/customMetrics"
            },
            "create": {
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomMetric"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a CustomMetric.",
              "flatPath": "v1beta/properties/{propertiesId}/customMetrics",
              "path": "v1beta/{+parent}/customMetrics",
              "id": "analyticsadmin.properties.customMetrics.create",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^properties/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. Example format: properties/1234"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomMetric"
              },
              "httpMethod": "POST"
            }
          }
        }
      },
      "methods": {
        "acknowledgeUserDataCollection": {
          "id": "analyticsadmin.properties.acknowledgeUserDataCollection",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionRequest"
          },
          "flatPath": "v1beta/properties/{propertiesId}:acknowledgeUserDataCollection",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "httpMethod": "POST",
          "path": "v1beta/{+property}:acknowledgeUserDataCollection",
          "parameterOrder": [
            "property"
          ],
          "parameters": {
            "property": {
              "required": true,
              "type": "string",
              "pattern": "^properties/[^/]+$",
              "location": "path",
              "description": "Required. The property for which to acknowledge user data collection."
            }
          },
          "description": "Acknowledges the terms of user data collection for the specified property. This acknowledgement must be completed (either in the Google Analytics UI or through this API) before MeasurementProtocolSecret resources may be created.",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionResponse"
          }
        },
        "updateDataRetentionSettings": {
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "updateMask": {
              "type": "string",
              "location": "query",
              "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "format": "google-fieldmask"
            },
            "name": {
              "location": "path",
              "description": "Output only. Resource name for this DataRetentionSetting resource. Format: properties/{property}/dataRetentionSettings",
              "type": "string",
              "required": true,
              "pattern": "^properties/[^/]+/dataRetentionSettings$"
            }
          },
          "description": "Updates the singleton data retention settings for this property.",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaDataRetentionSettings"
          },
          "flatPath": "v1beta/properties/{propertiesId}/dataRetentionSettings",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaDataRetentionSettings"
          },
          "path": "v1beta/{+name}",
          "id": "analyticsadmin.properties.updateDataRetentionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "id": "analyticsadmin.properties.get",
          "flatPath": "v1beta/properties/{propertiesId}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^properties/[^/]+$",
              "description": "Required. The name of the property to lookup. Format: properties/{property_id} Example: \"properties/1000\"",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "path": "v1beta/{+name}",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "description": "Lookup for a single \"GA4\" Property."
        },
        "patch": {
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "path": "v1beta/{+name}",
          "id": "analyticsadmin.properties.patch",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "flatPath": "v1beta/properties/{propertiesId}",
          "parameters": {
            "updateMask": {
              "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            },
            "name": {
              "description": "Output only. Resource name of this property. Format: properties/{property_id} Example: \"properties/1000\"",
              "location": "path",
              "pattern": "^properties/[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "description": "Updates a property.",
          "parameterOrder": [
            "name"
          ]
        },
        "delete": {
          "id": "analyticsadmin.properties.delete",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the Property to soft-delete. Format: properties/{property_id} Example: \"properties/1000\"",
              "pattern": "^properties/[^/]+$",
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "v1beta/properties/{propertiesId}",
          "parameterOrder": [
            "name"
          ],
          "description": "Marks target Property as soft-deleted (ie: \"trashed\") and returns it. This API does not have a method to restore soft-deleted properties. However, they can be restored using the Trash Can UI. If the properties are not restored before the expiration time, the Property and all child resources (eg: GoogleAdsLinks, Streams, UserLinks) will be permanently purged. https://support.google.com/analytics/answer/6154772 Returns an error if the target is not found, or is not a GA4 Property.",
          "httpMethod": "DELETE",
          "path": "v1beta/{+name}"
        },
        "getDataRetentionSettings": {
          "flatPath": "v1beta/properties/{propertiesId}/dataRetentionSettings",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaDataRetentionSettings"
          },
          "description": "Returns the singleton data retention settings for this property.",
          "httpMethod": "GET",
          "path": "v1beta/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the settings to lookup. Format: properties/{property}/dataRetentionSettings Example: \"properties/1000/dataRetentionSettings\"",
              "location": "path",
              "type": "string",
              "pattern": "^properties/[^/]+/dataRetentionSettings$"
            }
          },
          "id": "analyticsadmin.properties.getDataRetentionSettings"
        },
        "list": {
          "flatPath": "v1beta/properties",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaListPropertiesResponse"
          },
          "id": "analyticsadmin.properties.list",
          "httpMethod": "GET",
          "description": "Returns child Properties under the specified parent Account. Only \"GA4\" properties will be returned. Properties will be excluded if the caller does not have access. Soft-deleted (ie: \"trashed\") properties are excluded by default. Returns an empty list if no relevant properties are found.",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "path": "v1beta/properties",
          "parameters": {
            "showDeleted": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to include soft-deleted (ie: \"trashed\") Properties in the results. Properties can be inspected to determine whether they are deleted or not."
            },
            "pageSize": {
              "description": "The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "filter": {
              "location": "query",
              "description": "Required. An expression for filtering the results of the request. Fields eligible for filtering are: `parent:`(The resource name of the parent account/property) or `ancestor:`(The resource name of the parent account) or `firebase_project:`(The id or number of the linked firebase project). Some examples of filters: ``` | Filter | Description | |-----------------------------|-------------------------------------------| | parent:accounts/123 | The account with account id: 123. | | parent:properties/123 | The property with property id: 123. | | ancestor:accounts/123 | The account with account id: 123. | | firebase_project:project-id | The firebase project with id: project-id. | | firebase_project:123 | The firebase project with number: 123. | ```",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A page token, received from a previous `ListProperties` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProperties` must match the call that provided the page token."
            }
          }
        },
        "create": {
          "flatPath": "v1beta/properties",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "description": "Creates an \"GA4\" property with the specified location and attributes.",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "id": "analyticsadmin.properties.create",
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "path": "v1beta/properties",
          "parameters": {}
        },
        "runAccessReport": {
          "parameters": {
            "entity": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The Data Access Report supports requesting at the property level or account level. If requested at the account level, Data Access Reports include all access for all properties under that account. To request at the property level, entity should be for example 'properties/123' if \"123\" is your GA4 property ID. To request at the account level, entity should be for example 'accounts/1234' if \"1234\" is your GA4 Account ID.",
              "pattern": "^properties/[^/]+$"
            }
          },
          "httpMethod": "POST",
          "flatPath": "v1beta/properties/{propertiesId}:runAccessReport",
          "parameterOrder": [
            "entity"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaRunAccessReportResponse"
          },
          "description": "Returns a customized report of data access records. The report provides records of each time a user reads Google Analytics reporting data. Access records are retained for up to 2 years. Data Access Reports can be requested for a property. The property must be in Google Analytics 360. This method is only available to Administrators. These data access records include GA4 UI Reporting, GA4 UI Explorations, GA4 Data API, and other products like Firebase & Admob that can retrieve data from Google Analytics through a linkage. These records don't include property configuration changes like adding a stream or changing a property's time zone. For configuration change history, see [searchChangeHistoryEvents](https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts/searchChangeHistoryEvents).",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "path": "v1beta/{+entity}:runAccessReport",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaRunAccessReportRequest"
          },
          "id": "analyticsadmin.properties.runAccessReport"
        }
      }
    },
    "accountSummaries": {
      "methods": {
        "list": {
          "description": "Returns summaries of all accounts accessible by the caller.",
          "path": "v1beta/accountSummaries",
          "id": "analyticsadmin.accountSummaries.list",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaListAccountSummariesResponse"
          },
          "flatPath": "v1beta/accountSummaries",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "description": "The maximum number of AccountSummary resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "description": "A page token, received from a previous `ListAccountSummaries` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountSummaries` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": []
        }
      }
    }
  },
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "schemas": {
    "GoogleAnalyticsAdminV1betaArchiveCustomMetricRequest": {
      "properties": {},
      "id": "GoogleAnalyticsAdminV1betaArchiveCustomMetricRequest",
      "description": "Request message for ArchiveCustomMetric RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaAccessMetric": {
      "properties": {
        "metricName": {
          "type": "string",
          "description": "The API name of the metric. See [Data Access Schema](https://developers.google.com/analytics/devguides/config/admin/v1/access-api-schema) for the list of metrics supported in this API. Metrics are referenced by name in `metricFilter` & `orderBys`."
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAccessMetric",
      "description": "The quantitative measurements of a report. For example, the metric `accessCount` is the total number of data access records.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaListAccountsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "accounts": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccount"
          },
          "description": "Results that were accessible to the caller.",
          "type": "array"
        }
      },
      "description": "Request message for ListAccounts RPC.",
      "id": "GoogleAnalyticsAdminV1betaListAccountsResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaListFirebaseLinksResponse": {
      "type": "object",
      "description": "Response message for ListFirebaseLinks RPC",
      "id": "GoogleAnalyticsAdminV1betaListFirebaseLinksResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. Currently, Google Analytics supports only one FirebaseLink per property, so this will never be populated."
        },
        "firebaseLinks": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaFirebaseLink"
          },
          "type": "array",
          "description": "List of FirebaseLinks. This will have at most one value."
        }
      }
    },
    "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret": {
      "type": "object",
      "properties": {
        "secretValue": {
          "description": "Output only. The measurement protocol secret value. Pass this value to the api_secret field of the Measurement Protocol API when sending hits to this secret's parent property.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Human-readable display name for this secret."
        },
        "name": {
          "description": "Output only. Resource name of this secret. This secret may be a child of any type of stream. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A secret value used for sending hits to Measurement Protocol.",
      "id": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
    },
    "GoogleAnalyticsAdminV1betaProperty": {
      "description": "A resource message representing a Google Analytics GA4 property.",
      "id": "GoogleAnalyticsAdminV1betaProperty",
      "properties": {
        "currencyCode": {
          "description": "The currency type used in reports involving monetary values. Format: https://en.wikipedia.org/wiki/ISO_4217 Examples: \"USD\", \"EUR\", \"JPY\"",
          "type": "string"
        },
        "industryCategory": {
          "enumDescriptions": [
            "Industry category unspecified",
            "Automotive",
            "Business and industrial markets",
            "Finance",
            "Healthcare",
            "Technology",
            "Travel",
            "Other",
            "Arts and entertainment",
            "Beauty and fitness",
            "Books and literature",
            "Food and drink",
            "Games",
            "Hobbies and leisure",
            "Home and garden",
            "Internet and telecom",
            "Law and government",
            "News",
            "Online communities",
            "People and society",
            "Pets and animals",
            "Real estate",
            "Reference",
            "Science",
            "Sports",
            "Jobs and education",
            "Shopping"
          ],
          "enum": [
            "INDUSTRY_CATEGORY_UNSPECIFIED",
            "AUTOMOTIVE",
            "BUSINESS_AND_INDUSTRIAL_MARKETS",
            "FINANCE",
            "HEALTHCARE",
            "TECHNOLOGY",
            "TRAVEL",
            "OTHER",
            "ARTS_AND_ENTERTAINMENT",
            "BEAUTY_AND_FITNESS",
            "BOOKS_AND_LITERATURE",
            "FOOD_AND_DRINK",
            "GAMES",
            "HOBBIES_AND_LEISURE",
            "HOME_AND_GARDEN",
            "INTERNET_AND_TELECOM",
            "LAW_AND_GOVERNMENT",
            "NEWS",
            "ONLINE_COMMUNITIES",
            "PEOPLE_AND_SOCIETY",
            "PETS_AND_ANIMALS",
            "REAL_ESTATE",
            "REFERENCE",
            "SCIENCE",
            "SPORTS",
            "JOBS_AND_EDUCATION",
            "SHOPPING"
          ],
          "description": "Industry associated with this property Example: AUTOMOTIVE, FOOD_AND_DRINK",
          "type": "string"
        },
        "deleteTime": {
          "format": "google-datetime",
          "description": "Output only. If set, the time at which this property was trashed. If not set, then this property is not currently in the trash can.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Time when the entity was originally created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "expireTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. If set, the time at which this trashed property will be permanently deleted. If not set, then this property is not currently in the trash can and is not slated to be deleted.",
          "format": "google-datetime"
        },
        "timeZone": {
          "description": "Required. Reporting Time Zone, used as the day boundary for reports, regardless of where the data originates. If the time zone honors DST, Analytics will automatically adjust for the changes. NOTE: Changing the time zone only affects data going forward, and is not applied retroactively. Format: https://www.iana.org/time-zones Example: \"America/Los_Angeles\"",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Human-readable display name for this property. The max allowed display name length is 100 UTF-16 code units."
        },
        "propertyType": {
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary GA4 property",
            "GA4 subproperty",
            "GA4 rollup property"
          ],
          "description": "Immutable. The property type for this Property resource. When creating a property, if the type is \"PROPERTY_TYPE_UNSPECIFIED\", then \"ORDINARY_PROPERTY\" will be implied. \"SUBPROPERTY\" and \"ROLLUP_PROPERTY\" types cannot yet be created with the Google Analytics Admin API.",
          "enum": [
            "PROPERTY_TYPE_UNSPECIFIED",
            "PROPERTY_TYPE_ORDINARY",
            "PROPERTY_TYPE_SUBPROPERTY",
            "PROPERTY_TYPE_ROLLUP"
          ],
          "type": "string"
        },
        "serviceLevel": {
          "enumDescriptions": [
            "Service level not specified or invalid.",
            "The standard version of Google Analytics.",
            "The paid, premium version of Google Analytics."
          ],
          "readOnly": true,
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "GOOGLE_ANALYTICS_STANDARD",
            "GOOGLE_ANALYTICS_360"
          ],
          "description": "Output only. The Google Analytics service level that applies to this property.",
          "type": "string"
        },
        "account": {
          "type": "string",
          "description": "Immutable. The resource name of the parent account Format: accounts/{account_id} Example: \"accounts/123\""
        },
        "parent": {
          "type": "string",
          "description": "Immutable. Resource name of this property's logical parent. Note: The Property-Moving UI can be used to change the parent. Format: accounts/{account}, properties/{property} Example: \"accounts/100\", \"properties/101\""
        },
        "updateTime": {
          "description": "Output only. Time when entity payload fields were last updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Resource name of this property. Format: properties/{property_id} Example: \"properties/1000\"",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaListMeasurementProtocolSecretsResponse": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaListMeasurementProtocolSecretsResponse",
      "properties": {
        "measurementProtocolSecrets": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
          },
          "description": "A list of secrets for the parent stream specified in the request."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListMeasurementProtocolSecret RPC"
    },
    "GoogleAnalyticsAdminV1betaListAccountSummariesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "accountSummaries": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccountSummary"
          },
          "description": "Account summaries of all accounts the caller has access to.",
          "type": "array"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaListAccountSummariesResponse",
      "type": "object",
      "description": "Response message for ListAccountSummaries RPC."
    },
    "GoogleAnalyticsAdminV1betaAccessFilter": {
      "properties": {
        "fieldName": {
          "description": "The dimension name or metric name.",
          "type": "string"
        },
        "inListFilter": {
          "description": "A filter for in list values.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessInListFilter"
        },
        "stringFilter": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessStringFilter",
          "description": "Strings related filter."
        },
        "numericFilter": {
          "description": "A filter for numeric or date values.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessNumericFilter"
        },
        "betweenFilter": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessBetweenFilter",
          "description": "A filter for two values."
        }
      },
      "type": "object",
      "description": "An expression to filter dimension or metric values.",
      "id": "GoogleAnalyticsAdminV1betaAccessFilter"
    },
    "GoogleAnalyticsAdminV1betaAccessDimensionHeader": {
      "id": "GoogleAnalyticsAdminV1betaAccessDimensionHeader",
      "description": "Describes a dimension column in the report. Dimensions requested in a report produce column entries within rows and DimensionHeaders. However, dimensions used exclusively within filters or expressions do not produce columns in a report; correspondingly, those dimensions do not produce headers.",
      "properties": {
        "dimensionName": {
          "description": "The dimension's name; for example 'userEmail'.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaNumericValue": {
      "properties": {
        "doubleValue": {
          "type": "number",
          "format": "double",
          "description": "Double value"
        },
        "int64Value": {
          "format": "int64",
          "type": "string",
          "description": "Integer value"
        }
      },
      "type": "object",
      "description": "To represent a number.",
      "id": "GoogleAnalyticsAdminV1betaNumericValue"
    },
    "GoogleAnalyticsAdminV1betaListDataStreamsResponse": {
      "type": "object",
      "description": "Response message for ListDataStreams RPC.",
      "id": "GoogleAnalyticsAdminV1betaListDataStreamsResponse",
      "properties": {
        "dataStreams": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaDataStream"
          },
          "type": "array",
          "description": "List of DataStreams."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessNumericFilter": {
      "description": "Filters for numeric or date values.",
      "id": "GoogleAnalyticsAdminV1betaAccessNumericFilter",
      "type": "object",
      "properties": {
        "operation": {
          "description": "The operation type for this filter.",
          "enumDescriptions": [
            "Unspecified.",
            "Equal",
            "Less than",
            "Less than or equal",
            "Greater than",
            "Greater than or equal"
          ],
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "EQUAL",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL"
          ]
        },
        "value": {
          "$ref": "GoogleAnalyticsAdminV1betaNumericValue",
          "description": "A numeric value or a date value."
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessOrderBy": {
      "properties": {
        "desc": {
          "description": "If true, sorts by descending order. If false or unspecified, sorts in ascending order.",
          "type": "boolean"
        },
        "dimension": {
          "description": "Sorts results by a dimension's values.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessOrderByDimensionOrderBy"
        },
        "metric": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessOrderByMetricOrderBy",
          "description": "Sorts results by a metric's values."
        }
      },
      "description": "Order bys define how rows will be sorted in the response. For example, ordering rows by descending access count is one ordering, and ordering rows by the country string is a different ordering.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaAccessOrderBy"
    },
    "GoogleAnalyticsAdminV1betaAccessInListFilter": {
      "properties": {
        "caseSensitive": {
          "type": "boolean",
          "description": "If true, the string value is case sensitive."
        },
        "values": {
          "description": "The list of string values. Must be non-empty.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAccessInListFilter",
      "type": "object",
      "description": "The result needs to be in a list of string values."
    },
    "GoogleAnalyticsAdminV1betaProvisionAccountTicketRequest": {
      "id": "GoogleAnalyticsAdminV1betaProvisionAccountTicketRequest",
      "properties": {
        "account": {
          "description": "The account to create.",
          "$ref": "GoogleAnalyticsAdminV1betaAccount"
        },
        "redirectUri": {
          "description": "Redirect URI where the user will be sent after accepting Terms of Service. Must be configured in Cloud Console as a Redirect URI.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for ProvisionAccountTicket RPC."
    },
    "GoogleAnalyticsAdminV1betaArchiveCustomDimensionRequest": {
      "id": "GoogleAnalyticsAdminV1betaArchiveCustomDimensionRequest",
      "properties": {},
      "description": "Request message for ArchiveCustomDimension RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaListGoogleAdsLinksResponse": {
      "properties": {
        "googleAdsLinks": {
          "description": "List of GoogleAdsLinks.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaGoogleAdsLink"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for ListGoogleAdsLinks RPC.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaListGoogleAdsLinksResponse"
    },
    "GoogleAnalyticsAdminV1betaAccessRow": {
      "properties": {
        "metricValues": {
          "type": "array",
          "description": "List of metric values. These values are in the same order as specified in the request.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessMetricValue"
          }
        },
        "dimensionValues": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessDimensionValue"
          },
          "description": "List of dimension values. These values are in the same order as specified in the request."
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAccessRow",
      "type": "object",
      "description": "Access report data for each row."
    },
    "GoogleAnalyticsAdminV1betaChangeHistoryEvent": {
      "description": "A set of changes within a Google Analytics account or its child properties that resulted from the same cause. Common causes would be updates made in the Google Analytics UI, changes from customer support, or automatic Google Analytics system changes.",
      "type": "object",
      "properties": {
        "actorType": {
          "enum": [
            "ACTOR_TYPE_UNSPECIFIED",
            "USER",
            "SYSTEM",
            "SUPPORT"
          ],
          "type": "string",
          "description": "The type of actor that made this change.",
          "enumDescriptions": [
            "Unknown or unspecified actor type.",
            "Changes made by the user specified in actor_email.",
            "Changes made by the Google Analytics system.",
            "Changes made by Google Analytics support team staff."
          ]
        },
        "changesFiltered": {
          "type": "boolean",
          "description": "If true, then the list of changes returned was filtered, and does not represent all changes that occurred in this event."
        },
        "userActorEmail": {
          "description": "Email address of the Google account that made the change. This will be a valid email address if the actor field is set to USER, and empty otherwise. Google accounts that have been deleted will cause an error.",
          "type": "string"
        },
        "changes": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaChangeHistoryChange"
          },
          "description": "A list of changes made in this change history event that fit the filters specified in SearchChangeHistoryEventsRequest."
        },
        "id": {
          "type": "string",
          "description": "ID of this change history event. This ID is unique across Google Analytics."
        },
        "changeTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when change was made."
        }
      },
      "id": "GoogleAnalyticsAdminV1betaChangeHistoryEvent"
    },
    "GoogleAnalyticsAdminV1betaGoogleAdsLink": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaGoogleAdsLink",
      "properties": {
        "creatorEmailAddress": {
          "readOnly": true,
          "description": "Output only. Email address of the user that created the link. An empty string will be returned if the email address can't be retrieved.",
          "type": "string"
        },
        "customerId": {
          "type": "string",
          "description": "Immutable. Google Ads customer ID."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Format: properties/{propertyId}/googleAdsLinks/{googleAdsLinkId} Note: googleAdsLinkId is not the Google Ads customer ID."
        },
        "canManageClients": {
          "type": "boolean",
          "description": "Output only. If true, this link is for a Google Ads manager account.",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Time when this link was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when this link was originally created."
        },
        "adsPersonalizationEnabled": {
          "description": "Enable personalized advertising features with this integration. Automatically publish my Google Analytics audience lists and Google Analytics remarketing events/parameters to the linked Google Ads account. If this field is not set on create/update, it will be defaulted to true.",
          "type": "boolean"
        }
      },
      "description": "A link between a GA4 property and a Google Ads account."
    },
    "GoogleAnalyticsAdminV1betaListPropertiesResponse": {
      "description": "Response message for ListProperties RPC.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "properties": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "type": "array",
          "description": "Results that matched the filter criteria and were accessible to the caller."
        }
      },
      "id": "GoogleAnalyticsAdminV1betaListPropertiesResponse"
    },
    "GoogleAnalyticsAdminV1betaConversionEvent": {
      "description": "A conversion event in a Google Analytics property.",
      "id": "GoogleAnalyticsAdminV1betaConversionEvent",
      "type": "object",
      "properties": {
        "custom": {
          "description": "Output only. If set to true, this conversion event refers to a custom event. If set to false, this conversion event refers to a default event in GA. Default events typically have special meaning in GA. Default events are usually created for you by the GA system, but in some cases can be created by property admins. Custom events count towards the maximum number of custom conversion events that may be created per property.",
          "type": "boolean",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of this conversion event. Format: properties/{property}/conversionEvents/{conversion_event}",
          "readOnly": true
        },
        "deletable": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. If set, this event can currently be deleted with DeleteConversionEvent."
        },
        "eventName": {
          "type": "string",
          "description": "Immutable. The event name for this conversion event. Examples: 'click', 'purchase'"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when this conversion event was created in the property."
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccountSummary": {
      "properties": {
        "account": {
          "description": "Resource name of account referred to by this account summary Format: accounts/{account_id} Example: \"accounts/1000\"",
          "type": "string"
        },
        "name": {
          "description": "Resource name for this account summary. Format: accountSummaries/{account_id} Example: \"accountSummaries/1000\"",
          "type": "string"
        },
        "propertySummaries": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaPropertySummary"
          },
          "description": "List of summaries for child accounts of this account.",
          "type": "array"
        },
        "displayName": {
          "type": "string",
          "description": "Display name for the account referred to in this account summary."
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAccountSummary",
      "type": "object",
      "description": "A virtual resource representing an overview of an account and all its child GA4 properties."
    },
    "GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsResponse": {
      "id": "GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsResponse",
      "type": "object",
      "properties": {
        "changeHistoryEvents": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaChangeHistoryEvent"
          },
          "type": "array",
          "description": "Results that were accessible to the caller."
        },
        "nextPageToken": {
[...]
