{
  "ownerName": "Google",
  "mtlsRootUrl": "https://analyticsadmin.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "revision": "20240105",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/analytics.manage.users": {
          "description": "Manage Google Analytics Account users by email address"
        },
        "https://www.googleapis.com/auth/analytics.edit": {
          "description": "Edit Google Analytics management entities"
        },
        "https://www.googleapis.com/auth/analytics.manage.users.readonly": {
          "description": "View Google Analytics user permissions"
        },
        "https://www.googleapis.com/auth/analytics.readonly": {
          "description": "See and download your Google Analytics data"
        }
      }
    }
  },
  "baseUrl": "https://analyticsadmin.googleapis.com/",
  "schemas": {
    "GoogleAnalyticsAdminV1alphaCustomDimension": {
      "type": "object",
      "description": "A definition for a CustomDimension.",
      "id": "GoogleAnalyticsAdminV1alphaCustomDimension",
      "properties": {
        "description": {
          "description": "Optional. Description for this custom dimension. Max length of 150 characters.",
          "type": "string"
        },
        "disallowAdsPersonalization": {
          "description": "Optional. If set to true, sets this dimension as NPA and excludes it from ads personalization. This is currently only supported by user-scoped custom dimensions.",
          "type": "boolean"
        },
        "displayName": {
          "description": "Required. Display name for this custom dimension as shown in the Analytics UI. Max length of 82 characters, alphanumeric plus space and underscore starting with a letter. Legacy system-generated display names may contain square brackets, but updates to this field will never permit square brackets.",
          "type": "string"
        },
        "scope": {
          "enumDescriptions": [
            "Scope unknown or not specified.",
            "Dimension scoped to an event.",
            "Dimension scoped to a user.",
            "Dimension scoped to eCommerce items"
          ],
          "description": "Required. Immutable. The scope of this dimension.",
          "type": "string",
          "enum": [
            "DIMENSION_SCOPE_UNSPECIFIED",
            "EVENT",
            "USER",
            "ITEM"
          ]
        },
        "parameterName": {
          "description": "Required. Immutable. Tagging parameter name for this custom dimension. If this is a user-scoped dimension, then this is the user property name. If this is an event-scoped dimension, then this is the event parameter name. If this is an item-scoped dimension, then this is the parameter name found in the eCommerce items array. May only contain alphanumeric and underscore characters, starting with a letter. Max length of 24 characters for user-scoped dimensions, 40 characters for event-scoped dimensions.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name for this CustomDimension resource. Format: properties/{property}/customDimensions/{customDimension}",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource": {
      "description": "A snapshot of a resource as before or after the result of a change in change history.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource",
      "properties": {
        "dataRetentionSettings": {
          "$ref": "GoogleAnalyticsAdminV1alphaDataRetentionSettings",
          "description": "A snapshot of a data retention settings resource in change history."
        },
        "conversionEvent": {
          "$ref": "GoogleAnalyticsAdminV1alphaConversionEvent",
          "description": "A snapshot of a ConversionEvent resource in change history."
        },
        "customMetric": {
          "description": "A snapshot of a CustomMetric resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric"
        },
        "dataStream": {
          "description": "A snapshot of a DataStream resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaDataStream"
        },
        "property": {
          "$ref": "GoogleAnalyticsAdminV1alphaProperty",
          "description": "A snapshot of a Property resource in change history."
        },
        "firebaseLink": {
          "$ref": "GoogleAnalyticsAdminV1alphaFirebaseLink",
          "description": "A snapshot of a FirebaseLink resource in change history."
        },
        "skadnetworkConversionValueSchema": {
          "$ref": "GoogleAnalyticsAdminV1alphaSKAdNetworkConversionValueSchema",
          "description": "A snapshot of SKAdNetworkConversionValueSchema resource in change history."
        },
        "expandedDataSet": {
          "description": "A snapshot of an ExpandedDataSet resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSet"
        },
        "account": {
          "description": "A snapshot of an Account resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccount"
        },
        "bigqueryLink": {
          "$ref": "GoogleAnalyticsAdminV1alphaBigQueryLink",
          "description": "A snapshot of a BigQuery link resource in change history."
        },
        "adsenseLink": {
          "description": "A snapshot of an AdSenseLink resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaAdSenseLink"
        },
        "attributionSettings": {
          "$ref": "GoogleAnalyticsAdminV1alphaAttributionSettings",
          "description": "A snapshot of AttributionSettings resource in change history."
        },
        "displayVideo360AdvertiserLink": {
          "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink",
          "description": "A snapshot of a DisplayVideo360AdvertiserLink resource in change history."
        },
        "measurementProtocolSecret": {
          "$ref": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret",
          "description": "A snapshot of a MeasurementProtocolSecret resource in change history."
        },
        "googleSignalsSettings": {
          "$ref": "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings",
          "description": "A snapshot of a GoogleSignalsSettings resource in change history."
        },
        "searchAds360Link": {
          "$ref": "GoogleAnalyticsAdminV1alphaSearchAds360Link",
          "description": "A snapshot of a SearchAds360Link resource in change history."
        },
        "googleAdsLink": {
          "description": "A snapshot of a GoogleAdsLink resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink"
        },
        "dataRedactionSettings": {
          "$ref": "GoogleAnalyticsAdminV1alphaDataRedactionSettings",
          "description": "A snapshot of DataRedactionSettings resource in change history."
        },
        "enhancedMeasurementSettings": {
          "description": "A snapshot of EnhancedMeasurementSettings resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings"
        },
        "eventCreateRule": {
          "description": "A snapshot of an EventCreateRule resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaEventCreateRule"
        },
        "customDimension": {
          "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension",
          "description": "A snapshot of a CustomDimension resource in change history."
        },
        "displayVideo360AdvertiserLinkProposal": {
          "description": "A snapshot of a DisplayVideo360AdvertiserLinkProposal resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLinkProposal"
        },
        "channelGroup": {
          "$ref": "GoogleAnalyticsAdminV1alphaChannelGroup",
          "description": "A snapshot of a ChannelGroup resource in change history."
        },
        "audience": {
          "description": "A snapshot of an Audience resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudience"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaCancelDisplayVideo360AdvertiserLinkProposalRequest": {
      "id": "GoogleAnalyticsAdminV1alphaCancelDisplayVideo360AdvertiserLinkProposalRequest",
      "properties": {},
      "type": "object",
      "description": "Request message for CancelDisplayVideo360AdvertiserLinkProposal RPC."
    },
    "GoogleAnalyticsAdminV1alphaAccessOrderByMetricOrderBy": {
      "properties": {
        "metricName": {
          "description": "A metric name in the request to order by.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Sorts by metric values.",
      "id": "GoogleAnalyticsAdminV1alphaAccessOrderByMetricOrderBy"
    },
    "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequest": {
      "description": "Request message for SearchChangeHistoryEvents RPC.",
      "type": "object",
      "properties": {
        "action": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "CREATED",
              "UPDATED",
              "DELETED"
            ],
            "enumDescriptions": [
              "Action type unknown or not specified.",
              "Resource was created in this change.",
              "Resource was updated in this change.",
              "Resource was deleted in this change."
            ]
          },
          "description": "Optional. If set, only return changes that match one or more of these types of actions."
        },
        "pageSize": {
          "description": "Optional. The maximum number of ChangeHistoryEvent items to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 items will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
          "format": "int32",
          "type": "integer"
        },
        "latestChangeTime": {
          "type": "string",
          "description": "Optional. If set, only return changes made before this time (inclusive).",
          "format": "google-datetime"
        },
        "actorEmail": {
          "items": {
            "type": "string"
          },
          "description": "Optional. If set, only return changes if they are made by a user in this list.",
          "type": "array"
        },
        "pageToken": {
          "description": "Optional. A page token, received from a previous `SearchChangeHistoryEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchChangeHistoryEvents` must match the call that provided the page token.",
          "type": "string"
        },
        "earliestChangeTime": {
          "type": "string",
          "description": "Optional. If set, only return changes made after this time (inclusive).",
          "format": "google-datetime"
        },
        "property": {
          "description": "Optional. Resource name for a child property. If set, only return changes made to this property or its child resources. Format: properties/{propertyId} Example: \"properties/100\"",
          "type": "string"
        },
        "resourceType": {
          "items": {
            "enumDescriptions": [
              "Resource type unknown or not specified.",
              "Account resource",
              "Property resource",
              "FirebaseLink resource",
              "GoogleAdsLink resource",
              "GoogleSignalsSettings resource",
              "ConversionEvent resource",
              "MeasurementProtocolSecret resource",
              "CustomDimension resource",
              "CustomMetric resource",
              "DataRetentionSettings resource",
              "DisplayVideo360AdvertiserLink resource",
              "DisplayVideo360AdvertiserLinkProposal resource",
              "SearchAds360Link resource",
              "DataStream resource",
              "AttributionSettings resource",
              "ExpandedDataSet resource",
              "ChannelGroup resource",
              "EnhancedMeasurementSettings resource",
              "DataRedactionSettings resource",
              "SKAdNetworkConversionValueSchema resource",
              "AdSenseLink resource",
              "Audience resource",
              "EventCreateRule resource"
            ],
            "type": "string",
            "enum": [
              "CHANGE_HISTORY_RESOURCE_TYPE_UNSPECIFIED",
              "ACCOUNT",
              "PROPERTY",
              "FIREBASE_LINK",
              "GOOGLE_ADS_LINK",
              "GOOGLE_SIGNALS_SETTINGS",
              "CONVERSION_EVENT",
              "MEASUREMENT_PROTOCOL_SECRET",
              "CUSTOM_DIMENSION",
              "CUSTOM_METRIC",
              "DATA_RETENTION_SETTINGS",
              "DISPLAY_VIDEO_360_ADVERTISER_LINK",
              "DISPLAY_VIDEO_360_ADVERTISER_LINK_PROPOSAL",
              "SEARCH_ADS_360_LINK",
              "DATA_STREAM",
              "ATTRIBUTION_SETTINGS",
              "EXPANDED_DATA_SET",
              "CHANNEL_GROUP",
              "ENHANCED_MEASUREMENT_SETTINGS",
              "DATA_REDACTION_SETTINGS",
              "SKADNETWORK_CONVERSION_VALUE_SCHEMA",
              "ADSENSE_LINK",
              "AUDIENCE",
              "EVENT_CREATE_RULE"
            ]
          },
          "type": "array",
          "description": "Optional. If set, only return changes if they are for a resource that matches at least one of these types."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequest"
    },
    "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret": {
      "properties": {
        "secretValue": {
          "description": "Output only. The measurement protocol secret value. Pass this value to the api_secret field of the Measurement Protocol API when sending hits to this secret's parent property.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Required. Human-readable display name for this secret.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name of this secret. This secret may be a child of any type of stream. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A secret value used for sending hits to Measurement Protocol.",
      "id": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAudienceFilterExpressionList": {
      "type": "object",
      "description": "A list of Audience filter expressions.",
      "properties": {
        "filterExpressions": {
          "description": "A list of Audience filter expressions.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpression"
          },
          "type": "array"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAudienceFilterExpressionList"
    },
    "GoogleAnalyticsAdminV1alphaListConnectedSiteTagsRequest": {
      "description": "Request message for ListConnectedSiteTags RPC.",
      "properties": {
        "property": {
          "description": "The Universal Analytics property to fetch connected site tags for. This does not work on GA4 properties. A maximum of 20 connected site tags will be returned. Example Format: `properties/1234`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListConnectedSiteTagsRequest"
    },
    "GoogleAnalyticsAdminV1alphaEventMapping": {
      "description": "Event setting conditions to match an event.",
      "properties": {
        "minEventCount": {
          "description": "At least one of the following four min/max values must be set. The values set will be ANDed together to qualify an event. The minimum number of times the event occurred. If not set, minimum event count won't be checked.",
          "format": "int64",
          "type": "string"
        },
        "maxEventCount": {
          "description": "The maximum number of times the event occurred. If not set, maximum event count won't be checked.",
          "type": "string",
          "format": "int64"
        },
        "maxEventValue": {
          "format": "double",
          "type": "number",
          "description": "The maximum revenue generated due to the event. Revenue currency will be defined at the property level. If not set, maximum event value won't be checked."
        },
        "eventName": {
          "description": "Required. Name of the GA4 event. It must always be set. The max allowed display name length is 40 UTF-16 code units.",
          "type": "string"
        },
        "minEventValue": {
          "type": "number",
          "description": "The minimum revenue generated due to the event. Revenue currency will be defined at the property level. If not set, minimum event value won't be checked.",
          "format": "double"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaEventMapping"
    },
    "GoogleAnalyticsAdminV1alphaAccessStringFilter": {
      "id": "GoogleAnalyticsAdminV1alphaAccessStringFilter",
      "type": "object",
      "description": "The filter for strings.",
      "properties": {
        "value": {
          "type": "string",
          "description": "The string value used for the matching."
        },
        "caseSensitive": {
          "description": "If true, the string value is case sensitive.",
          "type": "boolean"
        },
        "matchType": {
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "BEGINS_WITH",
            "ENDS_WITH",
            "CONTAINS",
            "FULL_REGEXP",
            "PARTIAL_REGEXP"
          ],
          "description": "The match type for this filter.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Exact match of the string value.",
            "Begins with the string value.",
            "Ends with the string value.",
            "Contains the string value.",
            "Full match for the regular expression with the string value.",
            "Partial match for the regular expression with the string value."
          ]
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsRequest": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsRequest",
      "properties": {
        "requests": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaUpdateAccessBindingRequest"
          },
          "description": "Required. The requests specifying the access bindings to update. A maximum of 1000 access bindings can be updated in a batch.",
          "type": "array"
        }
      },
      "description": "Request message for BatchUpdateAccessBindings RPC."
    },
    "GoogleAnalyticsAdminV1alphaListMeasurementProtocolSecretsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListMeasurementProtocolSecretsResponse",
      "type": "object",
      "description": "Response message for ListMeasurementProtocolSecret RPC",
      "properties": {
        "measurementProtocolSecrets": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret"
          },
          "type": "array",
          "description": "A list of secrets for the parent stream specified in the request."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaRunAccessReportResponse": {
      "properties": {
        "metricHeaders": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessMetricHeader"
          },
          "description": "The header for a column in the report that corresponds to a specific metric. The number of MetricHeaders and ordering of MetricHeaders matches the metrics present in rows.",
          "type": "array"
        },
        "quota": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuota",
          "description": "The quota state for this Analytics property including this request. This field doesn't work with account-level requests."
        },
        "rowCount": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of rows in the query result. `rowCount` is independent of the number of rows returned in the response, the `limit` request parameter, and the `offset` request parameter. For example if a query returns 175 rows and includes `limit` of 50 in the API request, the response will contain `rowCount` of 175 but only 50 rows. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination)."
        },
        "dimensionHeaders": {
          "description": "The header for a column in the report that corresponds to a specific dimension. The number of DimensionHeaders and ordering of DimensionHeaders matches the dimensions present in rows.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessDimensionHeader"
          },
          "type": "array"
        },
        "rows": {
          "type": "array",
          "description": "Rows of dimension value combinations and metric values in the report.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessRow"
          }
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaRunAccessReportResponse",
      "description": "The customized Data Access Record Report response.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaSetAutomatedGa4ConfigurationOptOutResponse": {
      "properties": {},
      "description": "Response message for setting the opt out status for the automated GA4 setup process.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaSetAutomatedGa4ConfigurationOptOutResponse"
    },
    "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings": {
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "GOOGLE_SIGNALS_STATE_UNSPECIFIED",
            "GOOGLE_SIGNALS_ENABLED",
            "GOOGLE_SIGNALS_DISABLED"
          ],
          "description": "Status of this setting.",
          "enumDescriptions": [
            "Google Signals status defaults to GOOGLE_SIGNALS_STATE_UNSPECIFIED to represent that the user has not made an explicit choice.",
            "Google Signals is enabled.",
            "Google Signals is disabled."
          ]
        },
        "consent": {
          "type": "string",
          "enum": [
            "GOOGLE_SIGNALS_CONSENT_UNSPECIFIED",
            "GOOGLE_SIGNALS_CONSENT_CONSENTED",
            "GOOGLE_SIGNALS_CONSENT_NOT_CONSENTED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Google Signals consent value defaults to GOOGLE_SIGNALS_CONSENT_UNSPECIFIED. This will be treated as GOOGLE_SIGNALS_CONSENT_NOT_CONSENTED.",
            "Terms of service have been accepted",
            "Terms of service have not been accepted"
          ],
          "description": "Output only. Terms of Service acceptance."
        },
        "name": {
          "description": "Output only. Resource name of this setting. Format: properties/{property_id}/googleSignalsSettings Example: \"properties/1000/googleSignalsSettings\"",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Settings values for Google Signals. This is a singleton resource.",
      "id": "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings"
    },
    "GoogleAnalyticsAdminV1alphaAudienceFilterExpression": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAudienceFilterExpression",
      "properties": {
        "notExpression": {
          "description": "A filter expression to be NOT'ed (For example, inverted, complemented). It can only include a dimension_or_metric_filter. This cannot be set on the top level AudienceFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpression"
        },
        "orGroup": {
          "description": "A list of expressions to OR’ed together. It cannot contain AudienceFilterExpressions with and_group or or_group.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpressionList"
        },
        "eventFilter": {
          "description": "Creates a filter that matches a specific event. This cannot be set on the top level AudienceFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceEventFilter"
        },
        "dimensionOrMetricFilter": {
          "description": "A filter on a single dimension or metric. This cannot be set on the top level AudienceFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilter"
        },
        "andGroup": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpressionList",
          "description": "A list of expressions to be AND’ed together. It can only contain AudienceFilterExpressions with or_group. This must be set for the top level AudienceFilterExpression."
        }
      },
      "description": "A logical expression of Audience dimension, metric, or event filters."
    },
    "GoogleAnalyticsAdminV1alphaListSKAdNetworkConversionValueSchemasResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListSKAdNetworkConversionValueSchemasResponse",
      "description": "Response message for ListSKAdNetworkConversionValueSchemas RPC",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. Currently, Google Analytics supports only one SKAdNetworkConversionValueSchema per dataStream, so this will never be populated."
        },
        "skadnetworkConversionValueSchemas": {
          "type": "array",
          "description": "List of SKAdNetworkConversionValueSchemas. This will have at most one value.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaSKAdNetworkConversionValueSchema"
          }
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilter": {
      "type": "object",
      "properties": {
        "betweenFilter": {
          "description": "A filter for numeric or date values between certain values on a dimension or metric.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterBetweenFilter"
        },
        "numericFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericFilter",
          "description": "A filter for numeric or date values on a dimension or metric."
        },
        "fieldName": {
          "type": "string",
          "description": "Required. Immutable. The dimension name or metric name to filter. If the field name refers to a custom dimension or metric, a scope prefix will be added to the front of the custom dimensions or metric name. For more on scope prefixes or custom dimensions/metrics, reference the [Google Analytics Data API documentation] (https://developers.google.com/analytics/devguides/reporting/data/v1/api-schema#custom_dimensions)."
        },
        "inListFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterInListFilter",
          "description": "A filter for a string dimension that matches a particular list of options."
        },
        "atAnyPointInTime": {
          "description": "Optional. Indicates whether this filter needs dynamic evaluation or not. If set to true, users join the Audience if they ever met the condition (static evaluation). If unset or set to false, user evaluation for an Audience is dynamic; users are added to an Audience when they meet the conditions and then removed when they no longer meet them. This can only be set when Audience scope is ACROSS_ALL_SESSIONS.",
          "type": "boolean"
        },
        "stringFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterStringFilter",
          "description": "A filter for a string-type dimension that matches a particular pattern."
        },
        "inAnyNDayPeriod": {
          "format": "int32",
          "description": "Optional. If set, specifies the time window for which to evaluate data in number of days. If not set, then audience data is evaluated against lifetime data (For example, infinite time window). For example, if set to 1 day, only the current day's data is evaluated. The reference point is the current day when at_any_point_in_time is unset or false. It can only be set when Audience scope is ACROSS_ALL_SESSIONS and cannot be greater than 60 days.",
          "type": "integer"
        }
      },
      "description": "A specific filter for a single dimension or metric.",
      "id": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilter"
    },
    "GoogleAnalyticsAdminV1alphaListAccessBindingsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "accessBindings": {
          "description": "List of AccessBindings. These will be ordered stably, but in an arbitrary order.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
          },
          "type": "array"
        }
      },
      "description": "Response message for ListAccessBindings RPC.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListAccessBindingsResponse"
    },
    "GoogleAnalyticsAdminV1alphaConnectedSiteTag": {
      "type": "object",
      "description": "Configuration for a specific Connected Site Tag.",
      "properties": {
        "displayName": {
          "description": "Required. User-provided display name for the connected site tag. Must be less than 256 characters.",
          "type": "string"
        },
        "tagId": {
          "description": "Required. \"Tag ID to forward events to. Also known as the Measurement ID, or the \"G-ID\" (For example: G-12345).",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaConnectedSiteTag"
    },
    "GoogleAnalyticsAdminV1alphaAccessDimensionValue": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The dimension value. For example, this value may be 'France' for the 'country' dimension."
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAccessDimensionValue",
      "description": "The value of a dimension."
    },
    "GoogleAnalyticsAdminV1alphaAccount": {
      "description": "A resource message representing a Google Analytics account.",
      "properties": {
        "deleted": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates whether this Account is soft-deleted or not. Deleted accounts are excluded from List results unless specifically requested."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Time when account payload fields were last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when this account was originally created."
        },
        "regionCode": {
          "description": "Country of business. Must be a Unicode CLDR region code.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of this account. Format: accounts/{account} Example: \"accounts/100\"",
          "readOnly": true
        },
        "displayName": {
          "description": "Required. Human-readable display name for this account.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccount",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaProperty": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaProperty",
      "description": "A resource message representing a Google Analytics GA4 property.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Resource name of this property. Format: properties/{property_id} Example: \"properties/1000\"",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when the entity was originally created.",
          "format": "google-datetime"
        },
        "timeZone": {
          "type": "string",
          "description": "Required. Reporting Time Zone, used as the day boundary for reports, regardless of where the data originates. If the time zone honors DST, Analytics will automatically adjust for the changes. NOTE: Changing the time zone only affects data going forward, and is not applied retroactively. Format: https://www.iana.org/time-zones Example: \"America/Los_Angeles\""
        },
        "displayName": {
          "type": "string",
          "description": "Required. Human-readable display name for this property. The max allowed display name length is 100 UTF-16 code units."
        },
        "currencyCode": {
          "type": "string",
          "description": "The currency type used in reports involving monetary values. Format: https://en.wikipedia.org/wiki/ISO_4217 Examples: \"USD\", \"EUR\", \"JPY\""
        },
        "account": {
          "description": "Immutable. The resource name of the parent account Format: accounts/{account_id} Example: \"accounts/123\"",
          "type": "string"
        },
        "deleteTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. If set, the time at which this property was trashed. If not set, then this property is not currently in the trash can.",
          "format": "google-datetime"
        },
        "serviceLevel": {
          "readOnly": true,
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "GOOGLE_ANALYTICS_STANDARD",
            "GOOGLE_ANALYTICS_360"
          ],
          "enumDescriptions": [
            "Service level not specified or invalid.",
            "The standard version of Google Analytics.",
            "The paid, premium version of Google Analytics."
          ],
          "description": "Output only. The Google Analytics service level that applies to this property.",
          "type": "string"
        },
        "propertyType": {
          "type": "string",
          "enum": [
            "PROPERTY_TYPE_UNSPECIFIED",
            "PROPERTY_TYPE_ORDINARY",
            "PROPERTY_TYPE_SUBPROPERTY",
            "PROPERTY_TYPE_ROLLUP"
          ],
          "description": "Immutable. The property type for this Property resource. When creating a property, if the type is \"PROPERTY_TYPE_UNSPECIFIED\", then \"ORDINARY_PROPERTY\" will be implied.",
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary GA4 property",
            "GA4 subproperty",
            "GA4 rollup property"
          ]
        },
        "updateTime": {
          "description": "Output only. Time when entity payload fields were last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "industryCategory": {
          "enum": [
            "INDUSTRY_CATEGORY_UNSPECIFIED",
            "AUTOMOTIVE",
            "BUSINESS_AND_INDUSTRIAL_MARKETS",
            "FINANCE",
            "HEALTHCARE",
            "TECHNOLOGY",
            "TRAVEL",
            "OTHER",
            "ARTS_AND_ENTERTAINMENT",
            "BEAUTY_AND_FITNESS",
            "BOOKS_AND_LITERATURE",
            "FOOD_AND_DRINK",
            "GAMES",
            "HOBBIES_AND_LEISURE",
            "HOME_AND_GARDEN",
            "INTERNET_AND_TELECOM",
            "LAW_AND_GOVERNMENT",
            "NEWS",
            "ONLINE_COMMUNITIES",
            "PEOPLE_AND_SOCIETY",
            "PETS_AND_ANIMALS",
            "REAL_ESTATE",
            "REFERENCE",
            "SCIENCE",
            "SPORTS",
            "JOBS_AND_EDUCATION",
            "SHOPPING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Industry category unspecified",
            "Automotive",
            "Business and industrial markets",
            "Finance",
            "Healthcare",
            "Technology",
            "Travel",
            "Other",
            "Arts and entertainment",
            "Beauty and fitness",
            "Books and literature",
            "Food and drink",
            "Games",
            "Hobbies and leisure",
            "Home and garden",
            "Internet and telecom",
            "Law and government",
            "News",
            "Online communities",
            "People and society",
            "Pets and animals",
            "Real estate",
            "Reference",
            "Science",
            "Sports",
            "Jobs and education",
            "Shopping"
          ],
          "description": "Industry associated with this property Example: AUTOMOTIVE, FOOD_AND_DRINK"
        },
        "expireTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. If set, the time at which this trashed property will be permanently deleted. If not set, then this property is not currently in the trash can and is not slated to be deleted.",
          "format": "google-datetime"
        },
        "parent": {
          "description": "Immutable. Resource name of this property's logical parent. Note: The Property-Moving UI can be used to change the parent. Format: accounts/{account}, properties/{property} Example: \"accounts/100\", \"properties/101\"",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessQuota": {
      "description": "Current state of all quotas for this Analytics property. If any quota for a property is exhausted, all requests to that property will return Resource Exhausted errors.",
      "type": "object",
      "properties": {
        "tokensPerProjectPerHour": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus",
          "description": "Properties can use up to 25% of their tokens per project per hour. This amounts to Analytics 360 Properties can use 12,500 tokens per project per hour. An API request consumes a single number of tokens, and that number is deducted from all of the hourly, daily, and per project hourly quotas."
        },
        "tokensPerDay": {
          "description": "Properties can use 250,000 tokens per day. Most requests consume fewer than 10 tokens.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus"
        },
        "serverErrorsPerProjectPerHour": {
          "description": "Properties and cloud project pairs can have up to 50 server errors per hour.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus"
        },
        "tokensPerHour": {
          "description": "Properties can use 50,000 tokens per hour. An API request consumes a single number of tokens, and that number is deducted from all of the hourly, daily, and per project hourly quotas.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus"
        },
        "concurrentRequests": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus",
          "description": "Properties can use up to 50 concurrent requests."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessQuota"
    },
    "GoogleAnalyticsAdminV1alphaBigQueryLink": {
      "properties": {
        "streamingExportEnabled": {
          "type": "boolean",
          "description": "If set true, enables streaming export to the linked Google Cloud project."
        },
        "name": {
          "description": "Output only. Resource name of this BigQuery link. Format: 'properties/{property_id}/bigQueryLinks/{bigquery_link_id}' Format: 'properties/1234/bigQueryLinks/abc567'",
          "readOnly": true,
          "type": "string"
        },
        "dailyExportEnabled": {
          "type": "boolean",
          "description": "If set true, enables daily data export to the linked Google Cloud project."
        },
        "freshDailyExportEnabled": {
          "type": "boolean",
          "description": "If set true, enables fresh daily export to the linked Google Cloud project."
        },
        "excludedEvents": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of event names that will be excluded from exports."
        },
        "createTime": {
          "description": "Output only. Time when the link was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "includeAdvertisingId": {
          "type": "boolean",
          "description": "If set true, exported data will include advertising identifiers for mobile app streams."
        },
        "project": {
          "type": "string",
          "description": "Immutable. The linked Google Cloud project. When creating a BigQueryLink, you may provide this resource name using either a project number or project ID. Once this resource has been created, the returned project will always have a project that contains a project number. Format: 'projects/{project number}' Example: 'projects/1234'"
        },
        "exportStreams": {
          "type": "array",
          "description": "The list of streams under the parent property for which data will be exported. Format: properties/{property_id}/dataStreams/{stream_id} Example: ['properties/1000/dataStreams/2000']",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaBigQueryLink",
      "type": "object",
      "description": "A link between a GA4 Property and BigQuery project."
    },
    "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings": {
      "id": "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings",
      "properties": {
        "videoEngagementEnabled": {
          "type": "boolean",
          "description": "If enabled, capture video play, progress, and complete events as visitors view embedded videos on your site."
        },
        "scrollsEnabled": {
          "description": "If enabled, capture scroll events each time a visitor gets to the bottom of a page.",
          "type": "boolean"
        },
        "formInteractionsEnabled": {
          "description": "If enabled, capture a form interaction event each time a visitor interacts with a form on your website. False by default.",
          "type": "boolean"
        },
        "fileDownloadsEnabled": {
          "description": "If enabled, capture a file download event each time a link is clicked with a common document, compressed file, application, video, or audio extension.",
          "type": "boolean"
        },
        "pageChangesEnabled": {
          "description": "If enabled, capture a page view event each time the website changes the browser history state.",
          "type": "boolean"
        },
        "outboundClicksEnabled": {
          "description": "If enabled, capture an outbound click event each time a visitor clicks a link that leads them away from your domain.",
          "type": "boolean"
        },
        "uriQueryParameter": {
          "type": "string",
          "description": "Additional URL query parameters. Max length is 1024 characters."
        },
        "searchQueryParameter": {
          "type": "string",
          "description": "Required. URL query parameters to interpret as site search parameters. Max length is 1024 characters. Must not be empty."
        },
        "streamEnabled": {
          "type": "boolean",
          "description": "Indicates whether Enhanced Measurement Settings will be used to automatically measure interactions and content on this web stream. Changing this value does not affect the settings themselves, but determines whether they are respected."
        },
        "name": {
          "description": "Output only. Resource name of the Enhanced Measurement Settings. Format: properties/{property_id}/dataStreams/{data_stream}/enhancedMeasurementSettings Example: \"properties/1000/dataStreams/2000/enhancedMeasurementSettings\"",
          "readOnly": true,
          "type": "string"
        },
        "siteSearchEnabled": {
          "type": "boolean",
          "description": "If enabled, capture a view search results event each time a visitor performs a search on your site (based on a query parameter)."
        }
      },
      "description": "Singleton resource under a web DataStream, configuring measurement of additional site interactions and content.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaFetchAutomatedGa4ConfigurationOptOutRequest": {
      "description": "Request for fetching the opt out status for the automated GA4 setup process.",
      "properties": {
        "property": {
          "description": "Required. The UA property to get the opt out status. Note this request uses the internal property ID, not the tracking ID of the form UA-XXXXXX-YY. Format: properties/{internalWebPropertyId} Example: properties/1234",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaFetchAutomatedGa4ConfigurationOptOutRequest"
    },
    "GoogleAnalyticsAdminV1alphaDataStreamWebStreamData": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaDataStreamWebStreamData",
      "properties": {
        "firebaseAppId": {
          "readOnly": true,
          "description": "Output only. ID of the corresponding web app in Firebase, if any. This ID can change if the web app is deleted and recreated.",
          "type": "string"
        },
        "defaultUri": {
          "description": "Domain name of the web app being measured, or empty. Example: \"http://www.google.com\", \"https://www.google.com\"",
          "type": "string"
        },
        "measurementId": {
          "description": "Output only. Analytics Measurement ID. Example: \"G-1A2BCD345E\"",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Data specific to web streams."
    },
    "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterConditionStringFilter": {
      "id": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterConditionStringFilter",
      "properties": {
        "value": {
          "type": "string",
          "description": "Required. The string value used for the matching."
        },
        "caseSensitive": {
          "type": "boolean",
          "description": "Optional. If true, the string value is case sensitive. If false, the match is case-insensitive."
        },
        "matchType": {
          "enumDescriptions": [
            "Match type unknown or not specified.",
            "Exact match of the string value.",
            "Begins with the string value.",
            "Ends with the string value.",
            "Contains the string value.",
            "Full regular expression matches with the string value.",
            "Partial regular expression matches with the string value."
          ],
          "type": "string",
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "BEGINS_WITH",
            "ENDS_WITH",
            "CONTAINS",
            "FULL_REGEXP",
            "PARTIAL_REGEXP"
          ],
          "description": "Required. The match type for the string filter."
        }
      },
      "type": "object",
      "description": "A filter for a string-type dimension that matches a particular pattern."
    },
    "GoogleAnalyticsAdminV1alphaMatchingCondition": {
      "id": "GoogleAnalyticsAdminV1alphaMatchingCondition",
      "description": "Defines a condition for when an Event Edit or Event Creation rule applies to an event.",
      "properties": {
        "field": {
          "type": "string",
          "description": "Required. The name of the field that is compared against for the condition. If 'event_name' is specified this condition will apply to the name of the event. Otherwise the condition will apply to a parameter with the specified name. This value cannot contain spaces."
        },
        "value": {
          "type": "string",
          "description": "Required. The value being compared against for this condition. The runtime implementation may perform type coercion of this value to evaluate this condition based on the type of the parameter value."
        },
        "negated": {
          "type": "boolean",
          "description": "Whether or not the result of the comparison should be negated. For example, if `negated` is true, then 'equals' comparisons would function as 'not equals'."
        },
        "comparisonType": {
          "type": "string",
          "description": "Required. The type of comparison to be applied to the value.",
          "enumDescriptions": [
            "Unknown",
            "Equals, case sensitive",
            "Equals, case insensitive",
            "Contains, case sensitive",
            "Contains, case insensitive",
            "Starts with, case sensitive",
            "Starts with, case insensitive",
            "Ends with, case sensitive",
            "Ends with, case insensitive",
            "Greater than",
            "Greater than or equal",
            "Less than",
            "Less than or equal",
            "regular expression. Only supported for web streams.",
            "regular expression, case insensitive. Only supported for web streams."
          ],
          "enum": [
            "COMPARISON_TYPE_UNSPECIFIED",
            "EQUALS",
            "EQUALS_CASE_INSENSITIVE",
            "CONTAINS",
            "CONTAINS_CASE_INSENSITIVE",
            "STARTS_WITH",
            "STARTS_WITH_CASE_INSENSITIVE",
            "ENDS_WITH",
            "ENDS_WITH_CASE_INSENSITIVE",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "REGULAR_EXPRESSION",
            "REGULAR_EXPRESSION_CASE_INSENSITIVE"
          ]
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsResponse": {
      "description": "Response message for BatchCreateAccessBindings RPC.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsResponse",
      "properties": {
        "accessBindings": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
          },
          "description": "The access bindings created.",
          "type": "array"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaDeleteConnectedSiteTagRequest": {
      "description": "Request message for DeleteConnectedSiteTag RPC.",
      "type": "object",
      "properties": {
        "property": {
          "description": "The Universal Analytics property to delete connected site tags for. This API does not support GA4 properties. Format: properties/{universalAnalyticsPropertyId} Example: properties/1234",
          "type": "string"
        },
        "tagId": {
          "description": "Tag ID to forward events to. Also known as the Measurement ID, or the \"G-ID\" (For example: G-12345).",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaDeleteConnectedSiteTagRequest"
    },
    "GoogleAnalyticsAdminV1alphaListBigQueryLinksResponse": {
      "description": "Response message for ListBigQueryLinks RPC",
      "id": "GoogleAnalyticsAdminV1alphaListBigQueryLinksResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "bigqueryLinks": {
          "description": "List of BigQueryLinks.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaBigQueryLink"
          },
          "type": "array"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaArchiveCustomMetricRequest": {
      "properties": {},
      "id": "GoogleAnalyticsAdminV1alphaArchiveCustomMetricRequest",
      "description": "Request message for ArchiveCustomMetric RPC.",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty",
      "properties": {}
    },
    "GoogleAnalyticsAdminV1alphaDataSharingSettings": {
      "id": "GoogleAnalyticsAdminV1alphaDataSharingSettings",
      "description": "A resource message representing data sharing settings of a Google Analytics account.",
      "type": "object",
      "properties": {
        "sharingWithOthersEnabled": {
          "description": "Allows Google to share the data anonymously in aggregate form with others.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name. Format: accounts/{account}/dataSharingSettings Example: \"accounts/1000/dataSharingSettings\"",
          "readOnly": true
        },
        "sharingWithGoogleProductsEnabled": {
          "description": "Allows Google to use the data to improve other Google products or services.",
          "type": "boolean"
        },
        "sharingWithGoogleAssignedSalesEnabled": {
          "description": "Allows Google sales teams that are assigned to the customer to access the data in order to suggest configuration changes to improve results. Sales team restrictions still apply when enabled.",
          "type": "boolean"
        },
        "sharingWithGoogleSupportEnabled": {
          "description": "Allows Google support to access the data in order to help troubleshoot issues.",
          "type": "boolean"
        },
        "sharingWithGoogleAnySalesEnabled": {
          "description": "Allows any of Google sales to access the data in order to suggest configuration changes to improve results.",
          "type": "boolean"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression": {
      "id": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression",
      "properties": {
        "filterCondition": {
          "description": "Creates a filter that matches a specific event. This cannot be set on the top level SubpropertyEventFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterCondition"
        },
        "notExpression": {
          "description": "A filter expression to be NOT'ed (inverted, complemented). It can only include a filter. This cannot be set on the top level SubpropertyEventFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression"
        },
        "orGroup": {
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpressionList",
          "description": "A list of expressions to OR’ed together. Must only contain not_expression or filter_condition expressions."
        }
      },
      "type": "object",
      "description": "A logical expression of Subproperty event filters."
    },
    "GoogleAnalyticsAdminV1alphaUpdateAccessBindingRequest": {
      "id": "GoogleAnalyticsAdminV1alphaUpdateAccessBindingRequest",
      "properties": {
        "accessBinding": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding",
          "description": "Required. The access binding to update."
        }
      },
      "description": "Request message for UpdateAccessBinding RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaProvisionAccountTicketRequest": {
      "properties": {
        "account": {
          "description": "The account to create.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccount"
        },
        "redirectUri": {
          "type": "string",
          "description": "Redirect URI where the user will be sent after accepting Terms of Service. Must be configured in Cloud Console as a Redirect URI."
        }
      },
      "type": "object",
      "description": "Request message for ProvisionAccountTicket RPC.",
      "id": "GoogleAnalyticsAdminV1alphaProvisionAccountTicketRequest"
    },
    "GoogleAnalyticsAdminV1alphaDataStreamIosAppStreamData": {
      "description": "Data specific to iOS app streams.",
      "properties": {
        "bundleId": {
          "type": "string",
          "description": "Required. Immutable. The Apple App Store Bundle ID for the app Example: \"com.example.myiosapp\""
        },
        "firebaseAppId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. ID of the corresponding iOS app in Firebase, if any. This ID can change if the iOS app is deleted and recreated."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaDataStreamIosAppStreamData",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListCustomMetricsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListCustomMetricsResponse",
      "type": "object",
      "description": "Response message for ListCustomMetrics RPC.",
      "properties": {
        "customMetrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric"
          },
          "description": "List of CustomMetrics."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListFirebaseLinksResponse": {
      "properties": {
        "firebaseLinks": {
          "description": "List of FirebaseLinks. This will have at most one value.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaFirebaseLink"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. Currently, Google Analytics supports only one FirebaseLink per property, so this will never be populated."
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListFirebaseLinksResponse",
      "description": "Response message for ListFirebaseLinks RPC"
    },
    "GoogleAnalyticsAdminV1alphaDataRetentionSettings": {
      "id": "GoogleAnalyticsAdminV1alphaDataRetentionSettings",
      "description": "Settings values for data retention. This is a singleton resource.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name for this DataRetentionSetting resource. Format: properties/{property}/dataRetentionSettings",
          "readOnly": true,
          "type": "string"
        },
        "eventDataRetention": {
          "description": "The length of time that event-level data is retained.",
          "enum": [
            "RETENTION_DURATION_UNSPECIFIED",
            "TWO_MONTHS",
            "FOURTEEN_MONTHS",
            "TWENTY_SIX_MONTHS",
            "THIRTY_EIGHT_MONTHS",
            "FIFTY_MONTHS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Data retention time duration is not specified.",
            "The data retention time duration is 2 months.",
            "The data retention time duration is 14 months.",
            "The data retention time duration is 26 months. Available to 360 properties only.",
            "The data retention time duration is 38 months. Available to 360 properties only.",
            "The data retention time duration is 50 months. Available to 360 properties only."
          ]
        },
        "resetUserDataOnNewActivity": {
          "type": "boolean",
          "description": "If true, reset the retention period for the user identifier with every event from that user."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterBetweenFilter": {
      "description": "A filter for numeric or date values between certain values on a dimension or metric.",
      "id": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterBetweenFilter",
      "properties": {
        "toValue": {
          "description": "Required. Ends with this number, inclusive.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue"
        },
        "fromValue": {
          "description": "Required. Begins with this number, inclusive.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue"
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsRequest": {
      "properties": {
        "requests": {
          "description": "Required. The requests specifying the access bindings to create. A maximum of 1000 access bindings can be created in a batch.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCreateAccessBindingRequest"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Request message for BatchCreateAccessBindings RPC.",
      "id": "GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsRequest"
    },
    "GoogleAnalyticsAdminV1alphaGoogleAdsLink": {
      "type": "object",
      "properties": {
        "creatorEmailAddress": {
          "type": "string",
          "description": "Output only. Email address of the user that created the link. An empty string will be returned if the email address can't be retrieved.",
          "readOnly": true
        },
        "adsPersonalizationEnabled": {
          "description": "Enable personalized advertising features with this integration. Automatically publish my Google Analytics audience lists and Google Analytics remarketing events/parameters to the linked Google Ads account. If this field is not set on create/update, it will be defaulted to true.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Output only. Format: properties/{propertyId}/googleAdsLinks/{googleAdsLinkId} Note: googleAdsLinkId is not the Google Ads customer ID.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Time when this link was originally created.",
          "type": "string",
          "format": "google-datetime"
        },
        "canManageClients": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If true, this link is for a Google Ads manager account."
        },
        "customerId": {
          "type": "string",
          "description": "Immutable. Google Ads customer ID."
        },
        "updateTime": {
          "description": "Output only. Time when this link was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "A link between a GA4 property and a Google Ads account.",
      "id": "GoogleAnalyticsAdminV1alphaGoogleAdsLink"
    },
    "GoogleAnalyticsAdminV1alphaBatchDeleteAccessBindingsRequest": {
      "description": "Request message for BatchDeleteAccessBindings RPC.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaBatchDeleteAccessBindingsRequest",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaDeleteAccessBindingRequest"
          },
          "description": "Required. The requests specifying the access bindings to delete. A maximum of 1000 access bindings can be deleted in a batch."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListSubpropertyEventFiltersResponse": {
      "description": "Response message for ListSubpropertyEventFilter RPC.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "subpropertyEventFilters": {
          "description": "List of subproperty event filters.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter"
          },
          "type": "array"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListSubpropertyEventFiltersResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessFilterExpression": {
      "type": "object",
      "description": "Expresses dimension or metric filters. The fields in the same expression need to be either all dimensions or all metrics.",
      "id": "GoogleAnalyticsAdminV1alphaAccessFilterExpression",
      "properties": {
        "accessFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessFilter",
          "description": "A primitive filter. In the same FilterExpression, all of the filter's field names need to be either all dimensions or all metrics."
        },
        "orGroup": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessFilterExpressionList",
          "description": "Each of the FilterExpressions in the or_group has an OR relationship."
        },
        "andGroup": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessFilterExpressionList",
          "description": "Each of the FilterExpressions in the and_group has an AND relationship."
        },
        "notExpression": {
          "description": "The FilterExpression is NOT of not_expression.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessFilterExpression"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaSKAdNetworkConversionValueSchema": {
      "description": "SKAdNetwork conversion value schema of an iOS stream.",
      "id": "GoogleAnalyticsAdminV1alphaSKAdNetworkConversionValueSchema",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of the schema. This will be child of ONLY an iOS stream, and there can be at most one such child under an iOS stream. Format: properties/{property}/dataStreams/{dataStream}/sKAdNetworkConversionValueSchema"
        },
        "postbackWindowOne": {
          "description": "Required. The conversion value settings for the first postback window. These differ from values for postback window two and three in that they contain a \"Fine\" grained conversion value (a numeric value). Conversion values for this postback window must be set. The other windows are optional and may inherit this window's settings if unset or disabled.",
          "$ref": "GoogleAnalyticsAdminV1alphaPostbackWindow"
        },
        "postbackWindowThree": {
          "$ref": "GoogleAnalyticsAdminV1alphaPostbackWindow",
          "description": "The conversion value settings for the third postback window. This field should only be set if the user chose to define different conversion values for this postback window. It is allowed to configure window 3 without setting window 2. In case window 1 & 2 settings are set and enable_postback_window_settings for this postback window is set to false, the schema will inherit settings from postback_window_two."
        },
        "applyConversionValues": {
          "type": "boolean",
          "description": "If enabled, the GA SDK will set conversion values using this schema definition, and schema will be exported to any Google Ads accounts linked to this property. If disabled, the GA SDK will not automatically set conversion values, and also the schema will not be exported to Ads."
        },
        "postbackWindowTwo": {
          "description": "The conversion value settings for the second postback window. This field should only be configured if there is a need to define different conversion values for this postback window. If enable_postback_window_settings is set to false for this postback window, the values from postback_window_one will be used.",
          "$ref": "GoogleAnalyticsAdminV1alphaPostbackWindow"
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterInListFilter": {
      "id": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterInListFilter",
      "properties": {
        "values": {
          "description": "Required. The list of possible string values to match against. Must be non-empty.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "caseSensitive": {
          "type": "boolean",
          "description": "Optional. If true, the match is case-sensitive. If false, the match is case-insensitive."
        }
      },
      "description": "A filter for a string dimension that matches a particular list of options.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListChannelGroupsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "channelGroups": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaChannelGroup"
          },
          "description": "List of ChannelGroup. These will be ordered stably, but in an arbitrary order.",
          "type": "array"
        }
      },
      "description": "Response message for ListChannelGroups RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListChannelGroupsResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListExpandedDataSetsResponse": {
      "description": "Response message for ListExpandedDataSets RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListExpandedDataSetsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "expandedDataSets": {
          "description": "List of ExpandedDataSet. These will be ordered stably, but in an arbitrary order.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSet"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaDataStreamAndroidAppStreamData": {
      "description": "Data specific to Android app streams.",
      "properties": {
        "packageName": {
          "type": "string",
          "description": "Immutable. The package name for the app being measured. Example: \"com.example.myandroidapp\""
        },
        "firebaseAppId": {
          "description": "Output only. ID of the corresponding Android app in Firebase, if any. This ID can change if the Android app is deleted and recreated.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaDataStreamAndroidAppStreamData"
    },
    "GoogleAnalyticsAdminV1alphaPostbackWindow": {
      "properties": {
        "postbackWindowSettingsEnabled": {
          "type": "boolean",
          "description": "If enable_postback_window_settings is true, conversion_values must be populated and will be used for determining when and how to set the Conversion Value on a client device and exporting schema to linked Ads accounts. If false, the settings are not used, but are retained in case they may be used in the future. This must always be true for postback_window_one."
        },
        "conversionValues": {
          "description": "Ordering of the repeated field will be used to prioritize the conversion value settings. Lower indexed entries are prioritized higher. The first conversion value setting that evaluates to true will be selected. It must have at least one entry if enable_postback_window_settings is set to true. It can have maximum of 128 entries.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaConversionValues"
          }
        }
      },
      "description": "Settings for a SKAdNetwork conversion postback window.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaPostbackWindow"
    },
    "GoogleAnalyticsAdminV1alphaApproveDisplayVideo360AdvertiserLinkProposalResponse": {
      "properties": {
        "displayVideo360AdvertiserLink": {
          "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink",
          "description": "The DisplayVideo360AdvertiserLink created as a result of approving the proposal."
        }
      },
      "description": "Response message for ApproveDisplayVideo360AdvertiserLinkProposal RPC.",
      "id": "GoogleAnalyticsAdminV1alphaApproveDisplayVideo360AdvertiserLinkProposalResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter": {
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Format: properties/{ordinary_property_id}/subpropertyEventFilters/{sub_property_event_filter} Example: properties/1234/subpropertyEventFilters/5678",
          "type": "string"
        },
        "filterClauses": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterClause"
          },
          "type": "array",
          "description": "Required. Unordered list. Filter clauses that define the SubpropertyEventFilter. All clauses are AND'ed together to determine what data is sent to the subproperty."
        },
        "applyToProperty": {
          "description": "Immutable. Resource name of the Subproperty that uses this filter.",
          "type": "string"
        }
      },
      "description": "A resource message representing a GA4 Subproperty event filter.",
      "id": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter"
    },
    "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterClause": {
      "id": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterClause",
      "type": "object",
      "properties": {
        "filterExpression": {
          "description": "Required. The logical expression for what events are sent to the subproperty.",
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression"
        },
        "filterClauseType": {
          "description": "Required. The type for the filter clause.",
          "type": "string",
          "enumDescriptions": [
            "Filter clause type unknown or not specified.",
            "Events will be included in the Sub property if the filter clause is met.",
            "Events will be excluded from the Sub property if the filter clause is met."
          ],
          "enum": [
            "FILTER_CLAUSE_TYPE_UNSPECIFIED",
            "INCLUDE",
            "EXCLUDE"
          ]
        }
      },
      "description": "A clause for defining a filter. A filter may be inclusive (events satisfying the filter clause are included in the subproperty's data) or exclusive (events satisfying the filter clause are excluded from the subproperty's data)."
    },
    "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterInListFilter": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterInListFilter",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "description": "Required. The list of possible string values to match against. Must be non-empty.",
          "type": "array"
        },
        "caseSensitive": {
          "type": "boolean",
          "description": "Optional. If true, the match is case-sensitive. If false, the match is case-insensitive. Must be true."
        }
      },
      "description": "A filter for a string dimension that matches a particular list of options."
    },
    "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsResponse",
      "type": "object",
      "description": "Response message for BatchUpdateAccessBindings RPC.",
      "properties": {
        "accessBindings": {
          "description": "The access bindings updated.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
          },
          "type": "array"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListAccountsResponse": {
      "type": "object",
      "properties": {
        "accounts": {
          "type": "array",
          "description": "Results that were accessible to the caller.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccount"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Request message for ListAccounts RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListAccountsResponse"
    },
    "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterStringFilter": {
      "description": "A filter for a string-type dimension that matches a particular pattern.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterStringFilter",
      "properties": {
        "value": {
          "type": "string",
          "description": "Required. The string value to be matched against."
        },
        "caseSensitive": {
          "type": "boolean",
          "description": "Optional. If true, the match is case-sensitive. If false, the match is case-insensitive. Must be true when match_type is EXACT. Must be false when match_type is CONTAINS."
        },
        "matchType": {
          "type": "string",
          "description": "Required. The match type for the string filter.",
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "CONTAINS"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Exact match of the string value.",
            "Contains the string value."
          ]
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaChangeHistoryEvent": {
      "id": "GoogleAnalyticsAdminV1alphaChangeHistoryEvent",
      "type": "object",
      "description": "A set of changes within a Google Analytics account or its child properties that resulted from the same cause. Common causes would be updates made in the Google Analytics UI, changes from customer support, or automatic Google Analytics system changes.",
      "properties": {
        "id": {
          "description": "ID of this change history event. This ID is unique across Google Analytics.",
          "type": "string"
        },
        "changes": {
          "type": "array",
          "description": "A list of changes made in this change history event that fit the filters specified in SearchChangeHistoryEventsRequest.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryChange"
          }
        },
        "changeTime": {
          "description": "Time when change was made.",
          "format": "google-datetime",
          "type": "string"
        },
        "userActorEmail": {
          "type": "string",
          "description": "Email address of the Google account that made the change. This will be a valid email address if the actor field is set to USER, and empty otherwise. Google accounts that have been deleted will cause an error."
        },
        "actorType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown or unspecified actor type.",
            "Changes made by the user specified in actor_email.",
            "Changes made by the Google Analytics system.",
            "Changes made by Google Analytics support team staff."
          ],
          "enum": [
            "ACTOR_TYPE_UNSPECIFIED",
            "USER",
            "SYSTEM",
            "SUPPORT"
          ],
          "description": "The type of actor that made this change."
        },
        "changesFiltered": {
          "description": "If true, then the list of changes returned was filtered, and does not represent all changes that occurred in this event.",
          "type": "boolean"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccountSummary": {
      "properties": {
        "account": {
          "description": "Resource name of account referred to by this account summary Format: accounts/{account_id} Example: \"accounts/1000\"",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Display name for the account referred to in this account summary."
        },
        "name": {
          "type": "string",
          "description": "Resource name for this account summary. Format: accountSummaries/{account_id} Example: \"accountSummaries/1000\""
        },
        "propertySummaries": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaPropertySummary"
          },
          "type": "array",
          "description": "List of summaries for child accounts of this account."
        }
      },
      "type": "object",
      "description": "A virtual resource representing an overview of an account and all its child GA4 properties.",
      "id": "GoogleAnalyticsAdminV1alphaAccountSummary"
    },
    "GoogleAnalyticsAdminV1alphaCustomMetric": {
      "description": "A definition for a custom metric.",
      "properties": {
        "scope": {
          "type": "string",
          "enum": [
            "METRIC_SCOPE_UNSPECIFIED",
            "EVENT"
          ],
          "enumDescriptions": [
            "Scope unknown or not specified.",
            "Metric scoped to an event."
          ],
          "description": "Required. Immutable. The scope of this custom metric."
        },
        "description": {
          "description": "Optional. Description for this custom dimension. Max length of 150 characters.",
          "type": "string"
        },
        "measurementUnit": {
          "type": "string",
          "description": "Required. The type for the custom metric's value.",
          "enumDescriptions": [
            "MeasurementUnit unspecified or missing.",
            "This metric uses default units.",
            "This metric measures a currency.",
            "This metric measures feet.",
            "This metric measures meters.",
            "This metric measures kilometers.",
            "This metric measures miles.",
            "This metric measures milliseconds.",
            "This metric measures seconds.",
            "This metric measures minutes.",
            "This metric measures hours."
          ],
          "enum": [
            "MEASUREMENT_UNIT_UNSPECIFIED",
            "STANDARD",
            "CURRENCY",
            "FEET",
            "METERS",
            "KILOMETERS",
            "MILES",
            "MILLISECONDS",
            "SECONDS",
            "MINUTES",
            "HOURS"
          ]
        },
        "displayName": {
          "description": "Required. Display name for this custom metric as shown in the Analytics UI. Max length of 82 characters, alphanumeric plus space and underscore starting with a letter. Legacy system-generated display names may contain square brackets, but updates to this field will never permit square brackets.",
          "type": "string"
        },
        "parameterName": {
          "type": "string",
          "description": "Required. Immutable. Tagging name for this custom metric. If this is an event-scoped metric, then this is the event parameter name. May only contain alphanumeric and underscore charactes, starting with a letter. Max length of 40 characters for event-scoped metrics."
        },
        "restrictedMetricType": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Type unknown or unspecified.",
              "Metric reports cost data.",
              "Metric reports revenue data."
            ],
            "enum": [
              "RESTRICTED_METRIC_TYPE_UNSPECIFIED",
              "COST_DATA",
              "REVENUE_DATA"
            ]
          },
          "description": "Optional. Types of restricted data that this metric may contain. Required for metrics with CURRENCY measurement unit. Must be empty for metrics with a non-CURRENCY measurement unit.",
          "type": "array"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name for this CustomMetric resource. Format: properties/{property}/customMetrics/{customMetric}"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaCustomMetric"
    },
    "GoogleAnalyticsAdminV1alphaGroupingRule": {
      "type": "object",
      "description": "The rules that govern how traffic is grouped into one channel.",
      "id": "GoogleAnalyticsAdminV1alphaGroupingRule",
      "properties": {
        "displayName": {
          "description": "Required. Customer defined display name for the channel.",
          "type": "string"
        },
        "expression": {
          "$ref": "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpression",
          "description": "Required. The Filter Expression that defines the Grouping Rule."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAudienceEventFilter": {
      "type": "object",
      "properties": {
        "eventParameterFilterExpression": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpression",
          "description": "Optional. If specified, this filter matches events that match both the single event name and the parameter filter expressions. AudienceEventFilter inside the parameter filter expression cannot be set (For example, nested event filters are not supported). This should be a single and_group of dimension_or_metric_filter or not_expression; ANDs of ORs are not supported. Also, if it includes a filter for \"eventCount\", only that one will be considered; all the other filters will be ignored."
        },
        "eventName": {
          "description": "Required. Immutable. The name of the event to match against.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAudienceEventFilter",
      "description": "A filter that matches events of a single event name. If an event parameter is specified, only the subset of events that match both the single event name and the parameter filter expressions match this event filter."
    },
    "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericFilter": {
      "type": "object",
      "properties": {
        "value": {
          "description": "Required. The numeric or date value to match against.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue"
        },
        "operation": {
          "description": "Required. The operation applied to a numeric filter.",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "EQUAL",
            "LESS_THAN",
            "GREATER_THAN"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Equal.",
            "Less than.",
            "Greater than."
          ],
          "type": "string"
        }
      },
      "description": "A filter for numeric or date values on a dimension or metric.",
      "id": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericFilter"
    },
    "GoogleAnalyticsAdminV1alphaDataStream": {
      "description": "A resource message representing a data stream.",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Type unknown or not specified.",
            "Web data stream.",
            "Android app data stream.",
            "iOS app data stream."
          ],
          "description": "Required. Immutable. The type of this DataStream resource.",
          "enum": [
            "DATA_STREAM_TYPE_UNSPECIFIED",
            "WEB_DATA_STREAM",
            "ANDROID_APP_DATA_STREAM",
            "IOS_APP_DATA_STREAM"
          ]
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of this Data Stream. Format: properties/{property_id}/dataStreams/{stream_id} Example: \"properties/1000/dataStreams/2000\"",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when stream payload fields were last updated.",
          "readOnly": true
        },
        "iosAppStreamData": {
          "description": "Data specific to iOS app streams. Must be populated if type is IOS_APP_DATA_STREAM.",
          "$ref": "GoogleAnalyticsAdminV1alphaDataStreamIosAppStreamData"
        },
        "androidAppStreamData": {
          "$ref": "GoogleAnalyticsAdminV1alphaDataStreamAndroidAppStreamData",
          "description": "Data specific to Android app streams. Must be populated if type is ANDROID_APP_DATA_STREAM."
        },
        "webStreamData": {
          "$ref": "GoogleAnalyticsAdminV1alphaDataStreamWebStreamData",
          "description": "Data specific to web streams. Must be populated if type is WEB_DATA_STREAM."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Time when this stream was originally created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Human-readable display name for the Data Stream. Required for web data streams. The max allowed display name length is 255 UTF-16 code units."
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaDataStream"
    },
    "GoogleAnalyticsAdminV1alphaAccessFilterExpressionList": {
      "properties": {
        "expressions": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessFilterExpression"
          },
          "description": "A list of filter expressions.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAccessFilterExpressionList",
      "description": "A list of filter expressions."
    },
    "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpression": {
      "id": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpression",
      "properties": {
        "filter": {
          "description": "A filter on a single dimension. This cannot be set on the top level ExpandedDataSetFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilter"
        },
        "andGroup": {
          "description": "A list of expressions to be AND’ed together. It must contain a ExpandedDataSetFilterExpression with either not_expression or dimension_filter. This must be set for the top level ExpandedDataSetFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpressionList"
        },
        "notExpression": {
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpression",
          "description": "A filter expression to be NOT'ed (that is, inverted, complemented). It must include a dimension_filter. This cannot be set on the top level ExpandedDataSetFilterExpression."
        }
      },
      "type": "object",
      "description": "A logical expression of EnhancedDataSet dimension filters."
    },
    "GoogleAnalyticsAdminV1alphaChannelGroupFilterStringFilter": {
      "description": "Filter where the field value is a String. The match is case insensitive.",
      "id": "GoogleAnalyticsAdminV1alphaChannelGroupFilterStringFilter",
      "type": "object",
      "properties": {
        "matchType": {
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "BEGINS_WITH",
            "ENDS_WITH",
            "CONTAINS",
            "FULL_REGEXP",
            "PARTIAL_REGEXP"
          ],
          "description": "Required. The match type for the string filter.",
          "enumDescriptions": [
            "Default match type.",
            "Exact match of the string value.",
            "Begins with the string value.",
            "Ends with the string value.",
            "Contains the string value.",
            "Full regular expression match with the string value.",
            "Partial regular expression match with the string value."
          ],
          "type": "string"
        },
        "value": {
          "description": "Required. The string value to be matched against.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessDimension": {
      "description": "Dimensions are attributes of your data. For example, the dimension `userEmail` indicates the email of the user that accessed reporting data. Dimension values in report responses are strings.",
      "properties": {
        "dimensionName": {
          "description": "The API name of the dimension. See [Data Access Schema](https://developers.google.com/analytics/devguides/config/admin/v1/access-api-schema) for the list of dimensions supported in this API. Dimensions are referenced by name in `dimensionFilter` and `orderBys`.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessDimension",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpressionList": {
      "properties": {
        "filterExpressions": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpression"
          },
          "description": "A list of Channel Group filter expressions."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpressionList",
      "type": "object",
      "description": "A list of Channel Group filter expressions."
    },
    "GoogleAnalyticsAdminV1alphaListDisplayVideo360AdvertiserLinkProposalsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "displayVideo360AdvertiserLinkProposals": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLinkProposal"
          },
          "description": "List of DisplayVideo360AdvertiserLinkProposals.",
          "type": "array"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListDisplayVideo360AdvertiserLinkProposalsResponse",
      "description": "Response message for ListDisplayVideo360AdvertiserLinkProposals RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaConversionEventDefaultConversionValue": {
      "properties": {
        "value": {
          "description": "This value will be used to populate the value for all conversions of the specified event_name where the event \"value\" parameter is unset.",
          "type": "number",
          "format": "double"
        },
        "currencyCode": {
          "type": "string",
          "description": "When a conversion event for this event_name has no set currency, this currency will be applied as the default. Must be in ISO 4217 currency code format. See https://en.wikipedia.org/wiki/ISO_4217 for more information."
        }
      },
      "type": "object",
      "description": "Defines a default value/currency for a conversion event. Both value and currency must be provided.",
      "id": "GoogleAnalyticsAdminV1alphaConversionEventDefaultConversionValue"
    },
    "GoogleAnalyticsAdminV1alphaListGoogleAdsLinksResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "googleAdsLinks": {
          "description": "List of GoogleAdsLinks.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink"
          }
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListGoogleAdsLinksResponse",
      "type": "object",
      "description": "Response message for ListGoogleAdsLinks RPC."
    },
    "GoogleAnalyticsAdminV1alphaChannelGroupFilter": {
      "description": "A specific filter for a single dimension.",
      "type": "object",
      "properties": {
        "inListFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaChannelGroupFilterInListFilter",
          "description": "A filter for a string dimension that matches a particular list of options."
        },
        "stringFilter": {
          "description": "A filter for a string-type dimension that matches a particular pattern.",
          "$ref": "GoogleAnalyticsAdminV1alphaChannelGroupFilterStringFilter"
        },
        "fieldName": {
          "type": "string",
          "description": "Required. Immutable. The dimension name to filter."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaChannelGroupFilter"
    },
    "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink": {
      "properties": {
        "campaignDataSharingEnabled": {
          "description": "Immutable. Enables the import of campaign data from Display & Video 360 into the GA4 property. After link creation, this can only be updated from the Display & Video 360 product. If this field is not set on create, it will be defaulted to true.",
          "type": "boolean"
        },
        "costDataSharingEnabled": {
          "type": "boolean",
[...]
