{
  "rootUrl": "https://analyticsadmin.googleapis.com/",
  "parameters": {
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "resources": {
    "properties": {
      "resources": {
        "expandedDataSets": {
          "methods": {
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "id": "analyticsadmin.properties.expandedDataSets.create",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "type": "string",
                  "description": "Required. Example format: properties/1234",
                  "required": true
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/expandedDataSets",
              "description": "Creates a ExpandedDataSet.",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSet"
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSet"
              },
              "path": "v1alpha/{+parent}/expandedDataSets"
            },
            "list": {
              "parameters": {
                "pageToken": {
                  "description": "A page token, received from a previous `ListExpandedDataSets` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListExpandedDataSet` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. Example format: properties/1234",
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "type": "integer"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListExpandedDataSetsResponse"
              },
              "description": "Lists ExpandedDataSets on a property.",
              "id": "analyticsadmin.properties.expandedDataSets.list",
              "flatPath": "v1alpha/properties/{propertiesId}/expandedDataSets",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET",
              "path": "v1alpha/{+parent}/expandedDataSets",
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "id": "analyticsadmin.properties.expandedDataSets.get",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSet"
              },
              "description": "Lookup for a single ExpandedDataSet.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/expandedDataSets/{expandedDataSetsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/expandedDataSets/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the ExpandedDataSet to get. Example format: properties/1234/expandedDataSets/5678",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "analyticsadmin.properties.expandedDataSets.delete",
              "flatPath": "v1alpha/properties/{propertiesId}/expandedDataSets/{expandedDataSetsId}",
              "httpMethod": "DELETE",
              "path": "v1alpha/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^properties/[^/]+/expandedDataSets/[^/]+$",
                  "type": "string",
                  "description": "Required. Example format: properties/1234/expandedDataSets/5678",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Deletes a ExpandedDataSet on a property.",
              "parameterOrder": [
                "name"
              ]
            },
            "patch": {
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "v1alpha/{+name}",
              "id": "analyticsadmin.properties.expandedDataSets.patch",
              "description": "Updates a ExpandedDataSet on a property.",
              "flatPath": "v1alpha/properties/{propertiesId}/expandedDataSets/{expandedDataSetsId}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSet"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Output only. The resource name for this ExpandedDataSet resource. Format: properties/{property_id}/expandedDataSets/{expanded_data_set}",
                  "required": true,
                  "pattern": "^properties/[^/]+/expandedDataSets/[^/]+$"
                },
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSet"
              }
            }
          }
        },
        "audiences": {
          "methods": {
            "get": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAudience"
              },
              "path": "v1alpha/{+name}",
              "httpMethod": "GET",
              "description": "Lookup for a single Audience. Audiences created before 2020 may not be supported. Default audiences will not show filter definitions.",
              "flatPath": "v1alpha/properties/{propertiesId}/audiences/{audiencesId}",
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/audiences/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the Audience to get. Example format: properties/1234/audiences/5678",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analyticsadmin.properties.audiences.get",
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "httpMethod": "POST",
              "flatPath": "v1alpha/properties/{propertiesId}/audiences",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAudience"
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaAudience"
              },
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. Example format: properties/1234",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Creates an Audience.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "analyticsadmin.properties.audiences.create",
              "path": "v1alpha/{+parent}/audiences"
            },
            "list": {
              "httpMethod": "GET",
              "description": "Lists Audiences on a property. Audiences created before 2020 may not be supported. Default audiences will not show filter definitions.",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/audiences",
              "path": "v1alpha/{+parent}/audiences",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A page token, received from a previous `ListAudiences` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAudiences` must match the call that provided the page token.",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. Example format: properties/1234",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum)."
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListAudiencesResponse"
              },
              "id": "analyticsadmin.properties.audiences.list",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "patch": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAudience"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "v1alpha/{+name}",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaAudience"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/audiences/{audiencesId}",
              "description": "Updates an Audience on a property.",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "pattern": "^properties/[^/]+/audiences/[^/]+$",
                  "required": true,
                  "description": "Output only. The resource name for this Audience resource. Format: properties/{propertyId}/audiences/{audienceId}",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "analyticsadmin.properties.audiences.patch",
              "httpMethod": "PATCH"
            },
            "archive": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/audiences/{audiencesId}:archive",
              "id": "analyticsadmin.properties.audiences.archive",
              "description": "Archives an Audience on a property.",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaArchiveAudienceRequest"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Example format: properties/1234/audiences/5678",
                  "type": "string",
                  "pattern": "^properties/[^/]+/audiences/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "v1alpha/{+name}:archive"
            }
          }
        },
        "adSenseLinks": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analyticsadmin.properties.adSenseLinks.get",
              "description": "Looks up a single AdSenseLink.",
              "flatPath": "v1alpha/properties/{propertiesId}/adSenseLinks/{adSenseLinksId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAdSenseLink"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^properties/[^/]+/adSenseLinks/[^/]+$",
                  "description": "Required. Unique identifier for the AdSense Link requested. Format: properties/{propertyId}/adSenseLinks/{linkId} Example: properties/1234/adSenseLinks/5678",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes an AdSenseLink.",
              "flatPath": "v1alpha/properties/{propertiesId}/adSenseLinks/{adSenseLinksId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.adSenseLinks.delete",
              "path": "v1alpha/{+name}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^properties/[^/]+/adSenseLinks/[^/]+$",
                  "description": "Required. Unique identifier for the AdSense Link to be deleted. Format: properties/{propertyId}/adSenseLinks/{linkId} Example: properties/1234/adSenseLinks/5678",
                  "type": "string"
                }
              }
            },
            "create": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAdSenseLink"
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaAdSenseLink"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. The property for which to create an AdSense Link. Format: properties/{propertyId} Example: properties/1234",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/adSenseLinks",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/adSenseLinks",
              "id": "analyticsadmin.properties.adSenseLinks.create",
              "description": "Creates an AdSenseLink."
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. Resource name of the parent property. Format: properties/{propertyId} Example: properties/1234",
                  "type": "string",
                  "pattern": "^properties/[^/]+$"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from a previous `ListAdSenseLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAdSenseLinks` must match the call that provided the page token."
                }
              },
              "path": "v1alpha/{+parent}/adSenseLinks",
              "flatPath": "v1alpha/properties/{propertiesId}/adSenseLinks",
              "description": "Lists AdSenseLinks on a property.",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListAdSenseLinksResponse"
              },
              "id": "analyticsadmin.properties.adSenseLinks.list"
            }
          }
        },
        "bigQueryLinks": {
          "methods": {
            "list": {
              "path": "v1alpha/{+parent}/bigQueryLinks",
              "description": "Lists BigQuery Links on a property.",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token, received from a previous `ListBigQueryLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBigQueryLinks` must match the call that provided the page token."
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the property to list BigQuery links under. Format: properties/{property_id} Example: properties/1234",
                  "pattern": "^properties/[^/]+$",
                  "required": true
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/bigQueryLinks",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListBigQueryLinksResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analyticsadmin.properties.bigQueryLinks.list"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+/bigQueryLinks/[^/]+$",
                  "description": "Required. The name of the BigQuery link to lookup. Format: properties/{property_id}/bigQueryLinks/{bigquery_link_id} Example: properties/123/bigQueryLinks/456"
                }
              },
              "description": "Lookup for a single BigQuery Link.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analyticsadmin.properties.bigQueryLinks.get",
              "flatPath": "v1alpha/properties/{propertiesId}/bigQueryLinks/{bigQueryLinksId}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBigQueryLink"
              },
              "path": "v1alpha/{+name}"
            }
          }
        },
        "searchAds360Links": {
          "methods": {
            "get": {
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Look up a single SearchAds360Link",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^properties/[^/]+/searchAds360Links/[^/]+$",
                  "description": "Required. The name of the SearchAds360Link to get. Example format: properties/1234/SearchAds360Link/5678",
                  "location": "path"
                }
              },
              "id": "analyticsadmin.properties.searchAds360Links.get",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaSearchAds360Link"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/searchAds360Links/{searchAds360LinksId}"
            },
            "create": {
              "description": "Creates a SearchAds360Link.",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaSearchAds360Link"
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaSearchAds360Link"
              },
              "id": "analyticsadmin.properties.searchAds360Links.create",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. Example format: properties/1234",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "v1alpha/{+parent}/searchAds360Links",
              "flatPath": "v1alpha/properties/{propertiesId}/searchAds360Links"
            },
            "delete": {
              "path": "v1alpha/{+name}",
              "id": "analyticsadmin.properties.searchAds360Links.delete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/searchAds360Links/{searchAds360LinksId}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the SearchAds360Link to delete. Example format: properties/1234/SearchAds360Links/5678",
                  "pattern": "^properties/[^/]+/searchAds360Links/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Deletes a SearchAds360Link on a property.",
              "httpMethod": "DELETE"
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "name": {
                  "required": true,
                  "pattern": "^properties/[^/]+/searchAds360Links/[^/]+$",
                  "type": "string",
                  "description": "Output only. The resource name for this SearchAds360Link resource. Format: properties/{propertyId}/searchAds360Links/{linkId} Note: linkId is not the Search Ads 360 advertiser ID",
                  "location": "path"
                }
              },
              "description": "Updates a SearchAds360Link on a property.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaSearchAds360Link"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/searchAds360Links/{searchAds360LinksId}",
              "id": "analyticsadmin.properties.searchAds360Links.patch",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaSearchAds360Link"
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists all SearchAds360Links on a property.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListSearchAds360LinksResponse"
              },
              "path": "v1alpha/{+parent}/searchAds360Links",
              "id": "analyticsadmin.properties.searchAds360Links.list",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "description": "A page token, received from a previous `ListSearchAds360Links` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSearchAds360Links` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "format": "int32"
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Example format: properties/1234",
                  "pattern": "^properties/[^/]+$"
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/searchAds360Links"
            }
          }
        },
        "firebaseLinks": {
          "methods": {
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^properties/[^/]+/firebaseLinks/[^/]+$",
                  "type": "string",
                  "description": "Required. Format: properties/{property_id}/firebaseLinks/{firebase_link_id} Example: properties/1234/firebaseLinks/5678",
                  "location": "path"
                }
              },
              "httpMethod": "DELETE",
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/properties/{propertiesId}/firebaseLinks/{firebaseLinksId}",
              "id": "analyticsadmin.properties.firebaseLinks.delete",
              "description": "Deletes a FirebaseLink on a property",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "list": {
              "id": "analyticsadmin.properties.firebaseLinks.list",
              "flatPath": "v1alpha/properties/{propertiesId}/firebaseLinks",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. Format: properties/{property_id} Example: properties/1234",
                  "type": "string",
                  "required": true
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListFirebaseLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListFirebaseLinks` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/firebaseLinks",
              "description": "Lists FirebaseLinks on a property. Properties can have at most one FirebaseLink.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListFirebaseLinksResponse"
              },
              "httpMethod": "GET"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/firebaseLinks",
              "flatPath": "v1alpha/properties/{propertiesId}/firebaseLinks",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaFirebaseLink"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaFirebaseLink"
              },
              "description": "Creates a FirebaseLink. Properties can have at most one FirebaseLink.",
              "id": "analyticsadmin.properties.firebaseLinks.create",
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "description": "Required. Format: properties/{property_id} Example: properties/1234",
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        },
        "displayVideo360AdvertiserLinks": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/displayVideo360AdvertiserLinks/{displayVideo360AdvertiserLinksId}",
              "id": "analyticsadmin.properties.displayVideo360AdvertiserLinks.get",
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Look up a single DisplayVideo360AdvertiserLink",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/displayVideo360AdvertiserLinks/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the DisplayVideo360AdvertiserLink to get. Example format: properties/1234/displayVideo360AdvertiserLink/5678",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "create": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/displayVideo360AdvertiserLinks",
              "description": "Creates a DisplayVideo360AdvertiserLink. This can only be utilized by users who have proper authorization both on the Google Analytics property and on the Display & Video 360 advertiser. Users who do not have access to the Display & Video 360 advertiser should instead seek to create a DisplayVideo360LinkProposal.",
              "parameterOrder": [
                "parent"
              ],
              "id": "analyticsadmin.properties.displayVideo360AdvertiserLinks.create",
              "path": "v1alpha/{+parent}/displayVideo360AdvertiserLinks",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "type": "string",
                  "description": "Required. Example format: properties/1234",
                  "required": true,
                  "location": "path"
                }
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink"
              }
            },
            "patch": {
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "pattern": "^properties/[^/]+/displayVideo360AdvertiserLinks/[^/]+$",
                  "description": "Output only. The resource name for this DisplayVideo360AdvertiserLink resource. Format: properties/{propertyId}/displayVideo360AdvertiserLinks/{linkId} Note: linkId is not the Display & Video 360 Advertiser ID",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "analyticsadmin.properties.displayVideo360AdvertiserLinks.patch",
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/properties/{propertiesId}/displayVideo360AdvertiserLinks/{displayVideo360AdvertiserLinksId}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a DisplayVideo360AdvertiserLink on a property."
            },
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/displayVideo360AdvertiserLinks",
              "path": "v1alpha/{+parent}/displayVideo360AdvertiserLinks",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListDisplayVideo360AdvertiserLinksResponse"
              },
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum)."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token, received from a previous `ListDisplayVideo360AdvertiserLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDisplayVideo360AdvertiserLinks` must match the call that provided the page token."
                },
                "parent": {
                  "description": "Required. Example format: properties/1234",
                  "location": "path",
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "required": true
                }
              },
              "description": "Lists all DisplayVideo360AdvertiserLinks on a property.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analyticsadmin.properties.displayVideo360AdvertiserLinks.list"
            },
            "delete": {
              "description": "Deletes a DisplayVideo360AdvertiserLink on a property.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^properties/[^/]+/displayVideo360AdvertiserLinks/[^/]+$",
                  "description": "Required. The name of the DisplayVideo360AdvertiserLink to delete. Example format: properties/1234/displayVideo360AdvertiserLinks/5678",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/displayVideo360AdvertiserLinks/{displayVideo360AdvertiserLinksId}",
              "id": "analyticsadmin.properties.displayVideo360AdvertiserLinks.delete",
              "httpMethod": "DELETE"
            }
          }
        },
        "conversionEvents": {
          "deprecated": true,
          "methods": {
            "create": {
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaConversionEvent"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Creates a conversion event with the specified attributes.",
              "flatPath": "v1alpha/properties/{propertiesId}/conversionEvents",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name of the parent property where this conversion event will be created. Format: properties/123",
                  "location": "path",
                  "pattern": "^properties/[^/]+$"
                }
              },
              "id": "analyticsadmin.properties.conversionEvents.create",
              "deprecated": true,
              "path": "v1alpha/{+parent}/conversionEvents",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaConversionEvent"
              }
            },
            "delete": {
              "httpMethod": "DELETE",
              "flatPath": "v1alpha/properties/{propertiesId}/conversionEvents/{conversionEventsId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^properties/[^/]+/conversionEvents/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The resource name of the conversion event to delete. Format: properties/{property}/conversionEvents/{conversion_event} Example: \"properties/123/conversionEvents/456\""
                }
              },
              "deprecated": true,
              "path": "v1alpha/{+name}",
              "description": "Deletes a conversion event in a property.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.conversionEvents.delete"
            },
            "list": {
              "path": "v1alpha/{+parent}/conversionEvents",
              "flatPath": "v1alpha/properties/{propertiesId}/conversionEvents",
              "parameterOrder": [
                "parent"
              ],
              "description": "Returns a list of conversion events in the specified parent property. Returns an empty list if no conversion events are found.",
              "httpMethod": "GET",
              "deprecated": true,
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListConversionEventsResponse"
              },
              "id": "analyticsadmin.properties.conversionEvents.list",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
                  "location": "query"
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListConversionEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListConversionEvents` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The resource name of the parent property. Example: 'properties/123'",
                  "pattern": "^properties/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The resource name of the conversion event to retrieve. Format: properties/{property}/conversionEvents/{conversion_event} Example: \"properties/123/conversionEvents/456\"",
                  "type": "string",
                  "required": true,
                  "pattern": "^properties/[^/]+/conversionEvents/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaConversionEvent"
              },
              "httpMethod": "GET",
              "id": "analyticsadmin.properties.conversionEvents.get",
              "deprecated": true,
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Retrieve a single conversion event.",
              "flatPath": "v1alpha/properties/{propertiesId}/conversionEvents/{conversionEventsId}"
            },
            "patch": {
              "parameters": {
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+/conversionEvents/[^/]+$",
                  "location": "path",
                  "description": "Output only. Resource name of this conversion event. Format: properties/{property}/conversionEvents/{conversion_event}"
                }
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaConversionEvent"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/conversionEvents/{conversionEventsId}",
              "httpMethod": "PATCH",
              "id": "analyticsadmin.properties.conversionEvents.patch",
              "description": "Updates a conversion event with the specified attributes.",
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "deprecated": true,
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaConversionEvent"
              }
            }
          }
        },
        "calculatedMetrics": {
          "methods": {
            "delete": {
              "description": "Deletes a CalculatedMetric on a property.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/calculatedMetrics/{calculatedMetricsId}",
              "id": "analyticsadmin.properties.calculatedMetrics.delete",
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/calculatedMetrics/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the CalculatedMetric to delete. Format: properties/{property_id}/calculatedMetrics/{calculated_metric_id} Example: properties/1234/calculatedMetrics/Metric01",
                  "type": "string"
                }
              }
            },
            "create": {
              "path": "v1alpha/{+parent}/calculatedMetrics",
              "id": "analyticsadmin.properties.calculatedMetrics.create",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaCalculatedMetric"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/calculatedMetrics",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaCalculatedMetric"
              },
              "parameters": {
                "calculatedMetricId": {
                  "description": "Required. The ID to use for the calculated metric which will become the final component of the calculated metric's resource name. This value should be 1-80 characters and valid characters are /[a-zA-Z0-9_]/, no spaces allowed. calculated_metric_id must be unique between all calculated metrics under a property. The calculated_metric_id is used when referencing this calculated metric from external APIs, for example, \"calcMetric:{calculated_metric_id}\".",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. Format: properties/{property_id} Example: properties/1234",
                  "type": "string",
                  "required": true,
                  "pattern": "^properties/[^/]+$"
                }
              },
              "description": "Creates a CalculatedMetric.",
              "httpMethod": "POST"
            },
            "list": {
              "description": "Lists CalculatedMetrics on a property.",
              "flatPath": "v1alpha/properties/{propertiesId}/calculatedMetrics",
              "parameterOrder": [
                "parent"
              ],
              "id": "analyticsadmin.properties.calculatedMetrics.list",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. Example format: properties/1234",
                  "pattern": "^properties/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListCalculatedMetrics` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCalculatedMetrics` must match the call that provided the page token.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListCalculatedMetricsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET",
              "path": "v1alpha/{+parent}/calculatedMetrics"
            },
            "get": {
              "flatPath": "v1alpha/properties/{propertiesId}/calculatedMetrics/{calculatedMetricsId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Lookup for a single CalculatedMetric.",
              "id": "analyticsadmin.properties.calculatedMetrics.get",
              "path": "v1alpha/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaCalculatedMetric"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the CalculatedMetric to get. Format: properties/{property_id}/calculatedMetrics/{calculated_metric_id} Example: properties/1234/calculatedMetrics/Metric01",
                  "pattern": "^properties/[^/]+/calculatedMetrics/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "patch": {
              "httpMethod": "PATCH",
              "flatPath": "v1alpha/properties/{propertiesId}/calculatedMetrics/{calculatedMetricsId}",
              "description": "Updates a CalculatedMetric on a property.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaCalculatedMetric"
              },
              "id": "analyticsadmin.properties.calculatedMetrics.patch",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaCalculatedMetric"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Output only. Resource name for this CalculatedMetric. Format: 'properties/{property_id}/calculatedMetrics/{calculated_metric_id}'",
                  "pattern": "^properties/[^/]+/calculatedMetrics/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query",
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            }
          }
        },
        "channelGroups": {
          "methods": {
            "list": {
              "id": "analyticsadmin.properties.channelGroups.list",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListChannelGroupsResponse"
              },
              "description": "Lists ChannelGroups on a property.",
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token, received from a previous `ListChannelGroups` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListChannelGroups` must match the call that provided the page token."
                },
                "parent": {
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. The property for which to list ChannelGroups. Example format: properties/1234",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/channelGroups",
              "path": "v1alpha/{+parent}/channelGroups"
            },
            "get": {
              "id": "analyticsadmin.properties.channelGroups.get",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaChannelGroup"
              },
              "parameters": {
                "name": {
                  "description": "Required. The ChannelGroup to get. Example format: properties/1234/channelGroups/5678",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^properties/[^/]+/channelGroups/[^/]+$"
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/channelGroups/{channelGroupsId}",
              "httpMethod": "GET",
              "description": "Lookup for a single ChannelGroup.",
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/channelGroups/[^/]+$",
                  "description": "Required. The ChannelGroup to delete. Example format: properties/1234/channelGroups/5678",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/channelGroups/{channelGroupsId}",
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "analyticsadmin.properties.channelGroups.delete",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes a ChannelGroup on a property.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "create": {
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaChannelGroup"
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaChannelGroup"
              },
              "description": "Creates a ChannelGroup.",
              "id": "analyticsadmin.properties.channelGroups.create",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "v1alpha/{+parent}/channelGroups",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. The property for which to create a ChannelGroup. Example format: properties/1234",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "flatPath": "v1alpha/properties/{propertiesId}/channelGroups"
            },
            "patch": {
              "flatPath": "v1alpha/properties/{propertiesId}/channelGroups/{channelGroupsId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a ChannelGroup.",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaChannelGroup"
              },
              "id": "analyticsadmin.properties.channelGroups.patch",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "v1alpha/{+name}",
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "format": "google-fieldmask"
                },
                "name": {
                  "description": "Output only. The resource name for this Channel Group resource. Format: properties/{property}/channelGroups/{channel_group}",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^properties/[^/]+/channelGroups/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaChannelGroup"
              }
            }
          }
        },
        "rollupPropertySourceLinks": {
          "methods": {
            "get": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaRollupPropertySourceLink"
              },
              "description": "Lookup for a single roll-up property source Link. Only roll-up properties can have source links, so this method will throw an error if used on other types of properties.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The name of the roll-up property source link to lookup. Format: properties/{property_id}/rollupPropertySourceLinks/{rollup_property_source_link_id} Example: properties/123/rollupPropertySourceLinks/456",
                  "required": true,
                  "location": "path",
                  "pattern": "^properties/[^/]+/rollupPropertySourceLinks/[^/]+$",
                  "type": "string"
                }
              },
              "id": "analyticsadmin.properties.rollupPropertySourceLinks.get",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/rollupPropertySourceLinks/{rollupPropertySourceLinksId}"
            },
            "list": {
              "description": "Lists roll-up property source Links on a property. Only roll-up properties can have source links, so this method will throw an error if used on other types of properties.",
              "flatPath": "v1alpha/properties/{propertiesId}/rollupPropertySourceLinks",
              "id": "analyticsadmin.properties.rollupPropertySourceLinks.list",
              "path": "v1alpha/{+parent}/rollupPropertySourceLinks",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListRollupPropertySourceLinksResponse"
              },
              "parameters": {
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListRollupPropertySourceLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRollupPropertySourceLinks` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The name of the roll-up property to list roll-up property source links under. Format: properties/{property_id} Example: properties/1234",
                  "location": "path",
                  "required": true,
                  "pattern": "^properties/[^/]+$",
                  "type": "string"
                }
              }
            },
            "create": {
              "id": "analyticsadmin.properties.rollupPropertySourceLinks.create",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaRollupPropertySourceLink"
              },
              "description": "Creates a roll-up property source link. Only roll-up properties can have source links, so this method will throw an error if used on other types of properties.",
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Format: properties/{property_id} Example: properties/1234"
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/rollupPropertySourceLinks",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaRollupPropertySourceLink"
              },
              "path": "v1alpha/{+parent}/rollupPropertySourceLinks",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/rollupPropertySourceLinks/{rollupPropertySourceLinksId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.rollupPropertySourceLinks.delete",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Format: properties/{property_id}/rollupPropertySourceLinks/{rollup_property_source_link_id} Example: properties/1234/rollupPropertySourceLinks/5678",
                  "pattern": "^properties/[^/]+/rollupPropertySourceLinks/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Deletes a roll-up property source link. Only roll-up properties can have source links, so this method will throw an error if used on other types of properties."
            }
          }
        },
        "displayVideo360AdvertiserLinkProposals": {
          "methods": {
            "cancel": {
              "description": "Cancels a DisplayVideo360AdvertiserLinkProposal. Cancelling can mean either: - Declining a proposal initiated from Display & Video 360 - Withdrawing a proposal initiated from Google Analytics After being cancelled, a proposal will eventually be deleted automatically.",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaCancelDisplayVideo360AdvertiserLinkProposalRequest"
              },
              "id": "analyticsadmin.properties.displayVideo360AdvertiserLinkProposals.cancel",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/displayVideo360AdvertiserLinkProposals/{displayVideo360AdvertiserLinkProposalsId}:cancel",
              "httpMethod": "POST",
              "path": "v1alpha/{+name}:cancel",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLinkProposal"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the DisplayVideo360AdvertiserLinkProposal to cancel. Example format: properties/1234/displayVideo360AdvertiserLinkProposals/5678",
                  "pattern": "^properties/[^/]+/displayVideo360AdvertiserLinkProposals/[^/]+$",
                  "type": "string"
                }
              }
            },
            "delete": {
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the DisplayVideo360AdvertiserLinkProposal to delete. Example format: properties/1234/displayVideo360AdvertiserLinkProposals/5678",
                  "pattern": "^properties/[^/]+/displayVideo360AdvertiserLinkProposals/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a DisplayVideo360AdvertiserLinkProposal on a property. This can only be used on cancelled proposals.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "analyticsadmin.properties.displayVideo360AdvertiserLinkProposals.delete",
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/displayVideo360AdvertiserLinkProposals/{displayVideo360AdvertiserLinkProposalsId}"
            },
            "get": {
              "httpMethod": "GET",
              "description": "Lookup for a single DisplayVideo360AdvertiserLinkProposal.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLinkProposal"
              },
              "id": "analyticsadmin.properties.displayVideo360AdvertiserLinkProposals.get",
              "flatPath": "v1alpha/properties/{propertiesId}/displayVideo360AdvertiserLinkProposals/{displayVideo360AdvertiserLinkProposalsId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/displayVideo360AdvertiserLinkProposals/[^/]+$",
                  "description": "Required. The name of the DisplayVideo360AdvertiserLinkProposal to get. Example format: properties/1234/displayVideo360AdvertiserLinkProposals/5678",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1alpha/{+name}"
            },
            "create": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLinkProposal"
              },
              "id": "analyticsadmin.properties.displayVideo360AdvertiserLinkProposals.create",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLinkProposal"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. Example format: properties/1234",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/displayVideo360AdvertiserLinkProposals",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a DisplayVideo360AdvertiserLinkProposal.",
              "path": "v1alpha/{+parent}/displayVideo360AdvertiserLinkProposals",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "flatPath": "v1alpha/properties/{propertiesId}/displayVideo360AdvertiserLinkProposals",
              "path": "v1alpha/{+parent}/displayVideo360AdvertiserLinkProposals",
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Example format: properties/1234"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token, received from a previous `ListDisplayVideo360AdvertiserLinkProposals` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDisplayVideo360AdvertiserLinkProposals` must match the call that provided the page token.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum)."
                }
              },
              "id": "analyticsadmin.properties.displayVideo360AdvertiserLinkProposals.list",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists DisplayVideo360AdvertiserLinkProposals on a property.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListDisplayVideo360AdvertiserLinkProposalsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "approve": {
              "description": "Approves a DisplayVideo360AdvertiserLinkProposal. The DisplayVideo360AdvertiserLinkProposal will be deleted and a new DisplayVideo360AdvertiserLink will be created.",
              "path": "v1alpha/{+name}:approve",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaApproveDisplayVideo360AdvertiserLinkProposalResponse"
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaApproveDisplayVideo360AdvertiserLinkProposalRequest"
              },
              "id": "analyticsadmin.properties.displayVideo360AdvertiserLinkProposals.approve",
              "flatPath": "v1alpha/properties/{propertiesId}/displayVideo360AdvertiserLinkProposals/{displayVideo360AdvertiserLinkProposalsId}:approve",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the DisplayVideo360AdvertiserLinkProposal to approve. Example format: properties/1234/displayVideo360AdvertiserLinkProposals/5678",
                  "pattern": "^properties/[^/]+/displayVideo360AdvertiserLinkProposals/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              }
            }
          }
        },
        "customMetrics": {
          "methods": {
            "list": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListCustomMetricsResponse"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/customMetrics",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET",
              "id": "analyticsadmin.properties.customMetrics.list",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token, received from a previous `ListCustomMetrics` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCustomMetrics` must match the call that provided the page token."
                },
                "pageSize": {
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Example format: properties/1234"
                }
              },
              "description": "Lists CustomMetrics on a property.",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/customMetrics"
            },
            "archive": {
              "parameters": {
                "name": {
                  "description": "Required. The name of the CustomMetric to archive. Example format: properties/1234/customMetrics/5678",
                  "location": "path",
                  "pattern": "^properties/[^/]+/customMetrics/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/customMetrics/{customMetricsId}:archive",
              "description": "Archives a CustomMetric on a property.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}:archive",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "analyticsadmin.properties.customMetrics.archive",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaArchiveCustomMetricRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "POST"
            },
            "create": {
              "path": "v1alpha/{+parent}/customMetrics",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Creates a CustomMetric.",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/customMetrics",
              "parameterOrder": [
                "parent"
              ],
              "id": "analyticsadmin.properties.customMetrics.create",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Example format: properties/1234",
                  "pattern": "^properties/[^/]+$"
                }
              }
            },
            "patch": {
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric"
              },
              "path": "v1alpha/{+name}",
              "id": "analyticsadmin.properties.customMetrics.patch",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Updates a CustomMetric on a property.",
              "flatPath": "v1alpha/properties/{propertiesId}/customMetrics/{customMetricsId}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric"
              },
              "parameters": {
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                },
                "name": {
                  "pattern": "^properties/[^/]+/customMetrics/[^/]+$",
                  "required": true,
                  "description": "Output only. Resource name for this CustomMetric resource. Format: properties/{property}/customMetrics/{customMetric}",
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric"
              },
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/customMetrics/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the CustomMetric to get. Example format: properties/1234/customMetrics/5678"
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/customMetrics/{customMetricsId}",
              "description": "Lookup for a single CustomMetric.",
              "id": "analyticsadmin.properties.customMetrics.get",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "v1alpha/{+name}"
            }
          }
        },
        "googleAdsLinks": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "description": "Lists GoogleAdsLinks on a property.",
              "flatPath": "v1alpha/properties/{propertiesId}/googleAdsLinks",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListGoogleAdsLinksResponse"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. Example format: properties/1234"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token, received from a previous `ListGoogleAdsLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListGoogleAdsLinks` must match the call that provided the page token.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum)."
                }
              },
              "id": "analyticsadmin.properties.googleAdsLinks.list",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/googleAdsLinks",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "delete": {
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Example format: properties/1234/googleAdsLinks/5678",
                  "pattern": "^properties/[^/]+/googleAdsLinks/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/googleAdsLinks/{googleAdsLinksId}",
              "path": "v1alpha/{+name}",
              "description": "Deletes a GoogleAdsLink on a property",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.googleAdsLinks.delete"
            },
            "create": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink"
              },
              "httpMethod": "POST",
              "flatPath": "v1alpha/properties/{propertiesId}/googleAdsLinks",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.googleAdsLinks.create",
              "description": "Creates a GoogleAdsLink.",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/googleAdsLinks",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. Example format: properties/1234"
                }
              }
            },
            "patch": {
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink"
              },
              "parameters": {
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Output only. Format: properties/{propertyId}/googleAdsLinks/{googleAdsLinkId} Note: googleAdsLinkId is not the Google Ads customer ID.",
                  "location": "path",
                  "pattern": "^properties/[^/]+/googleAdsLinks/[^/]+$"
                }
              },
              "description": "Updates a GoogleAdsLink on a property",
              "flatPath": "v1alpha/properties/{propertiesId}/googleAdsLinks/{googleAdsLinksId}",
              "id": "analyticsadmin.properties.googleAdsLinks.patch",
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink"
              },
              "httpMethod": "PATCH"
            }
          }
        },
        "customDimensions": {
          "methods": {
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "POST",
              "path": "v1alpha/{+parent}/customDimensions",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/customDimensions",
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "description": "Required. Example format: properties/1234",
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Creates a CustomDimension.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "analyticsadmin.properties.customDimensions.create"
            },
            "archive": {
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaArchiveCustomDimensionRequest"
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1alpha/{+name}:archive",
              "flatPath": "v1alpha/properties/{propertiesId}/customDimensions/{customDimensionsId}:archive",
              "description": "Archives a CustomDimension on a property.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Required. The name of the CustomDimension to archive. Example format: properties/1234/customDimensions/5678",
                  "pattern": "^properties/[^/]+/customDimensions/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "analyticsadmin.properties.customDimensions.archive",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "flatPath": "v1alpha/properties/{propertiesId}/customDimensions",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A page token, received from a previous `ListCustomDimensions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCustomDimensions` must match the call that provided the page token.",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. Example format: properties/1234",
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Lists CustomDimensions on a property.",
              "path": "v1alpha/{+parent}/customDimensions",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListCustomDimensionsResponse"
              },
              "httpMethod": "GET",
              "id": "analyticsadmin.properties.customDimensions.list"
            },
            "get": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the CustomDimension to get. Example format: properties/1234/customDimensions/5678",
                  "pattern": "^properties/[^/]+/customDimensions/[^/]+$"
                }
              },
              "id": "analyticsadmin.properties.customDimensions.get",
              "description": "Lookup for a single CustomDimension.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
              },
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/properties/{propertiesId}/customDimensions/{customDimensionsId}",
              "parameterOrder": [
                "name"
              ]
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Updates a CustomDimension on a property.",
              "flatPath": "v1alpha/properties/{propertiesId}/customDimensions/{customDimensionsId}",
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "pattern": "^properties/[^/]+/customDimensions/[^/]+$",
                  "description": "Output only. Resource name for this CustomDimension resource. Format: properties/{property}/customDimensions/{customDimension}",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v1alpha/{+name}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
              },
              "id": "analyticsadmin.properties.customDimensions.patch",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "accessBindings": {
          "methods": {
            "batchDelete": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/accessBindings:batchDelete",
              "response": {
[...]
