{
  "name": "analyticsadmin",
  "documentationLink": "http://code.google.com/apis/analytics/docs/mgmt/home.html",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://analyticsadmin.googleapis.com/",
  "discoveryVersion": "v1",
  "servicePath": "",
  "baseUrl": "https://analyticsadmin.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/analytics.edit": {
          "description": "Edit Google Analytics management entities"
        },
        "https://www.googleapis.com/auth/analytics.readonly": {
          "description": "See and download your Google Analytics data"
        },
        "https://www.googleapis.com/auth/analytics.manage.users": {
          "description": "Manage Google Analytics Account users by email address"
        },
        "https://www.googleapis.com/auth/analytics.manage.users.readonly": {
          "description": "View Google Analytics user permissions"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "alt": {
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "version": "v1alpha",
  "id": "analyticsadmin:v1alpha",
  "mtlsRootUrl": "https://analyticsadmin.mtls.googleapis.com/",
  "batchPath": "batch",
  "description": "",
  "basePath": "",
  "ownerDomain": "google.com",
  "revision": "20221010",
  "title": "Google Analytics Admin API",
  "version_module": true,
  "schemas": {
    "GoogleAnalyticsAdminV1alphaListPropertiesResponse": {
      "description": "Response message for ListProperties RPC.",
      "properties": {
        "properties": {
          "description": "Results that matched the filter criteria and were accessible to the caller.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListPropertiesResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaDataSharingSettings": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaDataSharingSettings",
      "description": "A resource message representing data sharing settings of a Google Analytics account.",
      "properties": {
        "sharingWithGoogleAnySalesEnabled": {
          "description": "Allows any of Google sales to access the data in order to suggest configuration changes to improve results.",
          "type": "boolean"
        },
        "sharingWithGoogleProductsEnabled": {
          "type": "boolean",
          "description": "Allows Google to use the data to improve other Google products or services."
        },
        "sharingWithGoogleAssignedSalesEnabled": {
          "type": "boolean",
          "description": "Allows Google sales teams that are assigned to the customer to access the data in order to suggest configuration changes to improve results. Sales team restrictions still apply when enabled."
        },
        "sharingWithGoogleSupportEnabled": {
          "type": "boolean",
          "description": "Allows Google support to access the data in order to help troubleshoot issues."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name. Format: accounts/{account}/dataSharingSettings Example: \"accounts/1000/dataSharingSettings\"",
          "type": "string"
        },
        "sharingWithOthersEnabled": {
          "type": "boolean",
          "description": "Allows Google to share the data anonymously in aggregate form with others."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaPropertySummary": {
      "type": "object",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Resource name of this property's logical parent. Note: The Property-Moving UI can be used to change the parent. Format: accounts/{account}, properties/{property} Example: \"accounts/100\", \"properties/200\""
        },
        "property": {
          "description": "Resource name of property referred to by this property summary Format: properties/{property_id} Example: \"properties/1000\"",
          "type": "string"
        },
        "displayName": {
          "description": "Display name for the property referred to in this property summary.",
          "type": "string"
        },
        "propertyType": {
          "description": "The property's property type.",
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary GA4 property",
            "GA4 subproperty",
            "GA4 rollup property"
          ],
          "type": "string",
          "enum": [
            "PROPERTY_TYPE_UNSPECIFIED",
            "PROPERTY_TYPE_ORDINARY",
            "PROPERTY_TYPE_SUBPROPERTY",
            "PROPERTY_TYPE_ROLLUP"
          ]
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaPropertySummary",
      "description": "A virtual resource representing metadata for a GA4 property."
    },
    "GoogleAnalyticsAdminV1alphaListDisplayVideo360AdvertiserLinksResponse": {
      "type": "object",
      "properties": {
        "displayVideo360AdvertiserLinks": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink"
          },
          "type": "array",
          "description": "List of DisplayVideo360AdvertiserLinks."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListDisplayVideo360AdvertiserLinks RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListDisplayVideo360AdvertiserLinksResponse"
    },
    "GoogleAnalyticsAdminV1alphaAudienceSimpleFilter": {
      "id": "GoogleAnalyticsAdminV1alphaAudienceSimpleFilter",
      "description": "Defines a simple filter that a user must satisfy to be a member of the Audience.",
      "properties": {
        "scope": {
          "type": "string",
          "enumDescriptions": [
            "Scope is not specified.",
            "User joins the Audience if the filter condition is met within one event.",
            "User joins the Audience if the filter condition is met within one session.",
            "User joins the Audience if the filter condition is met by any event across any session."
          ],
          "description": "Required. Immutable. Specifies the scope for this filter.",
          "enum": [
            "AUDIENCE_FILTER_SCOPE_UNSPECIFIED",
            "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_EVENT",
            "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_SESSION",
            "AUDIENCE_FILTER_SCOPE_ACROSS_ALL_SESSIONS"
          ]
        },
        "filterExpression": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpression",
          "description": "Required. Immutable. A logical expression of Audience dimension, metric, or event filters."
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListMeasurementProtocolSecretsResponse": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListMeasurementProtocolSecretsResponse",
      "description": "Response message for ListMeasurementProtocolSecret RPC",
      "properties": {
        "measurementProtocolSecrets": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret"
          },
          "description": "A list of secrets for the parent stream specified in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaProvisionAccountTicketRequest": {
      "properties": {
        "account": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccount",
          "description": "The account to create."
        },
        "redirectUri": {
          "type": "string",
          "description": "Redirect URI where the user will be sent after accepting Terms of Service. Must be configured in Developers Console as a Redirect URI"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaProvisionAccountTicketRequest",
      "description": "Request message for ProvisionAccountTicket RPC."
    },
    "GoogleAnalyticsAdminV1alphaAccessRow": {
      "id": "GoogleAnalyticsAdminV1alphaAccessRow",
      "type": "object",
      "properties": {
        "metricValues": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessMetricValue"
          },
          "type": "array",
          "description": "List of metric values. These values are in the same order as specified in the request."
        },
        "dimensionValues": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessDimensionValue"
          },
          "type": "array",
          "description": "List of dimension values. These values are in the same order as specified in the request."
        }
      },
      "description": "Access report data for each row."
    },
    "GoogleAnalyticsAdminV1alphaAudienceSequenceFilter": {
      "type": "object",
      "description": "Defines filters that must occur in a specific order for the user to be a member of the Audience.",
      "id": "GoogleAnalyticsAdminV1alphaAudienceSequenceFilter",
      "properties": {
        "sequenceSteps": {
          "description": "Required. An ordered sequence of steps. A user must complete each step in order to join the sequence filter.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAudienceSequenceFilterAudienceSequenceStep"
          }
        },
        "scope": {
          "enumDescriptions": [
            "Scope is not specified.",
            "User joins the Audience if the filter condition is met within one event.",
            "User joins the Audience if the filter condition is met within one session.",
            "User joins the Audience if the filter condition is met by any event across any session."
          ],
          "description": "Required. Immutable. Specifies the scope for this filter.",
          "type": "string",
          "enum": [
            "AUDIENCE_FILTER_SCOPE_UNSPECIFIED",
            "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_EVENT",
            "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_SESSION",
            "AUDIENCE_FILTER_SCOPE_ACROSS_ALL_SESSIONS"
          ]
        },
        "sequenceMaximumDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. Defines the time period in which the whole sequence must occur."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaDataRetentionSettings": {
      "id": "GoogleAnalyticsAdminV1alphaDataRetentionSettings",
      "properties": {
        "resetUserDataOnNewActivity": {
          "description": "If true, reset the retention period for the user identifier with every event from that user.",
          "type": "boolean"
        },
        "eventDataRetention": {
          "description": "The length of time that event-level data is retained.",
          "enum": [
            "RETENTION_DURATION_UNSPECIFIED",
            "TWO_MONTHS",
            "FOURTEEN_MONTHS",
            "TWENTY_SIX_MONTHS",
            "THIRTY_EIGHT_MONTHS",
            "FIFTY_MONTHS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Data retention time duration is not specified.",
            "The data retention time duration is 2 months.",
            "The data retention time duration is 14 months.",
            "The data retention time duration is 26 months. Available to 360 properties only.",
            "The data retention time duration is 38 months. Available to 360 properties only.",
            "The data retention time duration is 50 months. Available to 360 properties only."
          ]
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name for this DataRetentionSetting resource. Format: properties/{property}/dataRetentionSettings",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Settings values for data retention. This is a singleton resource."
    },
    "GoogleAnalyticsAdminV1alphaApproveDisplayVideo360AdvertiserLinkProposalRequest": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaApproveDisplayVideo360AdvertiserLinkProposalRequest",
      "properties": {},
      "description": "Request message for ApproveDisplayVideo360AdvertiserLinkProposal RPC."
    },
    "GoogleAnalyticsAdminV1alphaAudienceEventTrigger": {
      "properties": {
        "logCondition": {
          "description": "Required. When to log the event.",
          "enum": [
            "LOG_CONDITION_UNSPECIFIED",
            "AUDIENCE_JOINED",
            "AUDIENCE_MEMBERSHIP_RENEWED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Log condition is not specified.",
            "The event should be logged only when a user is joined.",
            "The event should be logged whenever the Audience condition is met, even if the user is already a member of the Audience."
          ]
        },
        "eventName": {
          "type": "string",
          "description": "Required. The event name that will be logged."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAudienceEventTrigger",
      "description": "Specifies an event to log when a user joins the Audience.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings": {
      "type": "object",
      "properties": {
        "consent": {
          "enum": [
            "GOOGLE_SIGNALS_CONSENT_UNSPECIFIED",
            "GOOGLE_SIGNALS_CONSENT_CONSENTED",
            "GOOGLE_SIGNALS_CONSENT_NOT_CONSENTED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Google Signals consent value defaults to GOOGLE_SIGNALS_CONSENT_UNSPECIFIED. This will be treated as GOOGLE_SIGNALS_CONSENT_NOT_CONSENTED.",
            "Terms of service have been accepted",
            "Terms of service have not been accepted"
          ],
          "description": "Output only. Terms of Service acceptance.",
          "type": "string"
        },
        "state": {
          "description": "Status of this setting.",
          "enum": [
            "GOOGLE_SIGNALS_STATE_UNSPECIFIED",
            "GOOGLE_SIGNALS_ENABLED",
            "GOOGLE_SIGNALS_DISABLED"
          ],
          "enumDescriptions": [
            "Google Signals status defaults to GOOGLE_SIGNALS_STATE_UNSPECIFIED to represent that the user has not made an explicit choice.",
            "Google Signals is enabled.",
            "Google Signals is disabled."
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of this setting. Format: properties/{property_id}/googleSignalsSettings Example: \"properties/1000/googleSignalsSettings\"",
          "readOnly": true
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings",
      "description": "Settings values for Google Signals. This is a singleton resource."
    },
    "GoogleAnalyticsAdminV1alphaAuditUserLinksRequest": {
      "properties": {
        "pageSize": {
          "format": "int32",
          "description": "The maximum number of user links to return. The service may return fewer than this value. If unspecified, at most 1000 user links will be returned. The maximum value is 5000; values above 5000 will be coerced to 5000.",
          "type": "integer"
        },
        "pageToken": {
          "description": "A page token, received from a previous `AuditUserLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `AuditUserLinks` must match the call that provided the page token.",
          "type": "string"
        }
      },
      "description": "Request message for AuditUserLinks RPC.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAuditUserLinksRequest"
    },
    "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink": {
      "description": "A link between a GA4 property and a Display & Video 360 advertiser.",
      "id": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink",
      "type": "object",
      "properties": {
        "campaignDataSharingEnabled": {
          "type": "boolean",
          "description": "Immutable. Enables the import of campaign data from Display & Video 360 into the GA4 property. After link creation, this can only be updated from the Display & Video 360 product. If this field is not set on create, it will be defaulted to true."
        },
        "advertiserId": {
          "description": "Immutable. The Display & Video 360 Advertiser's advertiser ID.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name for this DisplayVideo360AdvertiserLink resource. Format: properties/{propertyId}/displayVideo360AdvertiserLinks/{linkId} Note: linkId is not the Display & Video 360 Advertiser ID"
        },
        "adsPersonalizationEnabled": {
          "type": "boolean",
          "description": "Enables personalized advertising features with this integration. If this field is not set on create/update, it will be defaulted to true."
        },
        "costDataSharingEnabled": {
          "description": "Immutable. Enables the import of cost data from Display & Video 360 into the GA4 property. This can only be enabled if campaign_data_sharing_enabled is enabled. After link creation, this can only be updated from the Display & Video 360 product. If this field is not set on create, it will be defaulted to true.",
          "type": "boolean"
        },
        "advertiserDisplayName": {
          "type": "string",
          "description": "Output only. The display name of the Display & Video 360 Advertiser.",
          "readOnly": true
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccount": {
      "type": "object",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "Country of business. Must be a Unicode CLDR region code."
        },
        "deleted": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether this Account is soft-deleted or not. Deleted accounts are excluded from List results unless specifically requested."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of this account. Format: accounts/{account} Example: \"accounts/100\""
        },
        "displayName": {
          "type": "string",
          "description": "Required. Human-readable display name for this account."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when this account was originally created."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when account payload fields were last updated."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccount",
      "description": "A resource message representing a Google Analytics account."
    },
    "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret": {
      "type": "object",
      "properties": {
        "secretValue": {
          "type": "string",
          "description": "Output only. The measurement protocol secret value. Pass this value to the api_secret field of the Measurement Protocol API when sending hits to this secret's parent property.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Resource name of this secret. This secret may be a child of any type of stream. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Human-readable display name for this secret."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret",
      "description": "A secret value used for sending hits to Measurement Protocol."
    },
    "GoogleAnalyticsAdminV1alphaArchiveCustomDimensionRequest": {
      "properties": {},
      "type": "object",
      "description": "Request message for ArchiveCustomDimension RPC.",
      "id": "GoogleAnalyticsAdminV1alphaArchiveCustomDimensionRequest"
    },
    "GoogleAnalyticsAdminV1alphaAccessBetweenFilter": {
      "properties": {
        "fromValue": {
          "$ref": "GoogleAnalyticsAdminV1alphaNumericValue",
          "description": "Begins with this number."
        },
        "toValue": {
          "$ref": "GoogleAnalyticsAdminV1alphaNumericValue",
          "description": "Ends with this number."
        }
      },
      "type": "object",
      "description": "To express that the result needs to be between two numbers (inclusive).",
      "id": "GoogleAnalyticsAdminV1alphaAccessBetweenFilter"
    },
    "GoogleAnalyticsAdminV1alphaListAccountSummariesResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListAccountSummariesResponse",
      "properties": {
        "accountSummaries": {
          "description": "Account summaries of all accounts the caller has access to.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccountSummary"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "description": "Response message for ListAccountSummaries RPC."
    },
    "GoogleAnalyticsAdminV1alphaDataStreamIosAppStreamData": {
      "type": "object",
      "properties": {
        "bundleId": {
          "description": "Required. Immutable. The Apple App Store Bundle ID for the app Example: \"com.example.myiosapp\"",
          "type": "string"
        },
        "firebaseAppId": {
          "type": "string",
          "description": "Output only. ID of the corresponding iOS app in Firebase, if any. This ID can change if the iOS app is deleted and recreated.",
          "readOnly": true
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaDataStreamIosAppStreamData",
      "description": "Data specific to iOS app streams."
    },
    "GoogleAnalyticsAdminV1alphaUserLink": {
      "properties": {
        "emailAddress": {
          "type": "string",
          "description": "Immutable. Email address of the user to link"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Example format: properties/1234/userLinks/5678"
        },
        "directRoles": {
          "description": "Roles directly assigned to this user for this account or property. Valid values: predefinedRoles/viewer predefinedRoles/analyst predefinedRoles/editor predefinedRoles/admin predefinedRoles/no-cost-data predefinedRoles/no-revenue-data Excludes roles that are inherited from a higher-level entity, group, or organization admin role. A UserLink that is updated to have an empty list of direct_roles will be deleted.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaUserLink",
      "type": "object",
      "description": "A resource message representing a user's permissions on an Account or Property resource."
    },
    "GoogleAnalyticsAdminV1alphaAccessDimensionHeader": {
      "description": "Describes a dimension column in the report. Dimensions requested in a report produce column entries within rows and DimensionHeaders. However, dimensions used exclusively within filters or expressions do not produce columns in a report; correspondingly, those dimensions do not produce headers.",
      "properties": {
        "dimensionName": {
          "description": "The dimension's name; for example 'userEmail'.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAccessDimensionHeader"
    },
    "GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksResponse": {
      "properties": {
        "userLinks": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
          },
          "description": "The user links updated."
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksResponse",
      "description": "Response message for BatchUpdateUserLinks RPC."
    },
    "GoogleAnalyticsAdminV1alphaAccessFilter": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAccessFilter",
      "properties": {
        "fieldName": {
          "type": "string",
          "description": "The dimension name or metric name."
        },
        "stringFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessStringFilter",
          "description": "Strings related filter."
        },
        "numericFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessNumericFilter",
          "description": "A filter for numeric or date values."
        },
        "betweenFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessBetweenFilter",
          "description": "A filter for two values."
        },
        "inListFilter": {
          "description": "A filter for in list values.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessInListFilter"
        }
      },
      "description": "An expression to filter dimension or metric values."
    },
    "GoogleAnalyticsAdminV1alphaChangeHistoryChange": {
      "type": "object",
      "description": "A description of a change to a single Google Analytics resource.",
      "id": "GoogleAnalyticsAdminV1alphaChangeHistoryChange",
      "properties": {
        "resourceAfterChange": {
          "description": "Resource contents from after the change was made. If this resource was deleted in this change, this field will be missing.",
          "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource"
        },
        "resource": {
          "type": "string",
          "description": "Resource name of the resource whose changes are described by this entry."
        },
        "action": {
          "type": "string",
          "description": "The type of action that changed this resource.",
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "CREATED",
            "UPDATED",
            "DELETED"
          ],
          "enumDescriptions": [
            "Action type unknown or not specified.",
            "Resource was created in this change.",
            "Resource was updated in this change.",
            "Resource was deleted in this change."
          ]
        },
        "resourceBeforeChange": {
          "description": "Resource contents from before the change was made. If this resource was created in this change, this field will be missing.",
          "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaRunAccessReportRequest": {
      "description": "The request for a Data Access Record Report.",
      "properties": {
        "orderBys": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessOrderBy"
          },
          "type": "array",
          "description": "Specifies how rows are ordered in the response."
        },
        "timeZone": {
          "type": "string",
          "description": "This request's time zone if specified. If unspecified, the property's time zone is used. The request's time zone is used to interpret the start & end dates of the report. Formatted as strings from the IANA Time Zone database (https://www.iana.org/time-zones); for example \"America/New_York\" or \"Asia/Tokyo\"."
        },
        "offset": {
          "description": "The row count of the start row. The first row is counted as row 0. If offset is unspecified, it is treated as 0. If offset is zero, then this method will return the first page of results with `limit` entries. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination).",
          "format": "int64",
          "type": "string"
        },
        "limit": {
          "description": "The number of rows to return. If unspecified, 10,000 rows are returned. The API returns a maximum of 100,000 rows per request, no matter how many you ask for. `limit` must be positive. The API may return fewer rows than the requested `limit`, if there aren't as many remaining rows as the `limit`. For instance, there are fewer than 300 possible values for the dimension `country`, so when reporting on only `country`, you can't get more than 300 rows, even if you set `limit` to a higher value. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination).",
          "format": "int64",
          "type": "string"
        },
        "metricFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessFilterExpression",
          "description": "Metric filters allow you to restrict report response to specific metric values which match the filter. Metric filters are applied after aggregating the report's rows, similar to SQL having-clause. Dimensions cannot be used in this filter."
        },
        "dimensions": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessDimension"
          },
          "description": "The dimensions requested and displayed in the response. Requests are allowed up to 9 dimensions."
        },
        "dateRanges": {
          "type": "array",
          "description": "Date ranges of access records to read. If multiple date ranges are requested, each response row will contain a zero based date range index. If two date ranges overlap, the access records for the overlapping days is included in the response rows for both date ranges. Requests are allowed up to 2 date ranges.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessDateRange"
          }
        },
        "dimensionFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessFilterExpression",
          "description": "Dimension filters allow you to restrict report response to specific dimension values which match the filter. For example, filtering on access records of a single user. To learn more, see [Fundamentals of Dimension Filters](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#dimension_filters) for examples. Metrics cannot be used in this filter."
        },
        "returnEntityQuota": {
          "type": "boolean",
          "description": "Toggles whether to return the current state of this Analytics Property's quota. Quota is returned in [AccessQuota](#AccessQuota)."
        },
        "metrics": {
          "type": "array",
          "description": "The metrics requested and displayed in the response. Requests are allowed up to 10 metrics.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessMetric"
          }
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaRunAccessReportRequest",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAudience": {
      "description": "A resource message representing a GA4 Audience.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAudience",
      "properties": {
        "membershipDurationDays": {
          "description": "Required. Immutable. The duration a user should stay in an Audience. It cannot be set to more than 540 days.",
          "format": "int32",
          "type": "integer"
        },
        "exclusionDurationMode": {
          "enum": [
            "AUDIENCE_EXCLUSION_DURATION_MODE_UNSPECIFIED",
            "EXCLUDE_TEMPORARILY",
            "EXCLUDE_PERMANENTLY"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Exclude users from the Audience during periods when they meet the filter clause.",
            "Exclude users from the Audience if they've ever met the filter clause."
          ],
          "type": "string",
          "description": "Immutable. Specifies how long an exclusion lasts for users that meet the exclusion filter. It is applied to all EXCLUDE filter clauses and is ignored when there is no EXCLUDE filter clause in the Audience."
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name for this Audience resource. Format: properties/{propertyId}/audiences/{audienceId}",
          "readOnly": true
        },
        "filterClauses": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterClause"
          },
          "description": "Required. Immutable. null Filter clauses that define the Audience. All clauses will be AND’ed together."
        },
        "description": {
          "type": "string",
          "description": "Required. The description of the Audience."
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the Audience."
        },
        "adsPersonalizationEnabled": {
          "type": "boolean",
          "description": "Output only. It is automatically set by GA to false if this is an NPA Audience and is excluded from ads personalization.",
          "readOnly": true
        },
        "eventTrigger": {
          "description": "Optional. Specifies an event to log when a user joins the Audience. If not set, no event is logged when a user joins the Audience.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceEventTrigger"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaDataStreamAndroidAppStreamData": {
      "properties": {
        "packageName": {
          "description": "Immutable. The package name for the app being measured. Example: \"com.example.myandroidapp\"",
          "type": "string"
        },
        "firebaseAppId": {
          "description": "Output only. ID of the corresponding Android app in Firebase, if any. This ID can change if the Android app is deleted and recreated.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Data specific to Android app streams.",
      "id": "GoogleAnalyticsAdminV1alphaDataStreamAndroidAppStreamData"
    },
    "GoogleAnalyticsAdminV1alphaListFirebaseLinksResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. Currently, Google Analytics supports only one FirebaseLink per property, so this will never be populated.",
          "type": "string"
        },
        "firebaseLinks": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaFirebaseLink"
          },
          "type": "array",
          "description": "List of FirebaseLinks. This will have at most one value."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListFirebaseLinksResponse",
      "description": "Response message for ListFirebaseLinks RPC",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessDimension": {
      "description": "Dimensions are attributes of your data. For example, the dimension `userEmail` indicates the email of the user that accessed reporting data. Dimension values in report responses are strings.",
      "id": "GoogleAnalyticsAdminV1alphaAccessDimension",
      "properties": {
        "dimensionName": {
          "description": "The API name of the dimension. See [Data Access Schema](https://developers.google.com/analytics/devguides/config/admin/v1/access-api-schema) for the list of dimensions supported in this API. Dimensions are referenced by name in `dimensionFilter` and `orderBys`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessQuotaStatus": {
      "description": "Current state for a particular quota group.",
      "type": "object",
      "properties": {
        "consumed": {
          "description": "Quota consumed by this request.",
          "type": "integer",
          "format": "int32"
        },
        "remaining": {
          "type": "integer",
          "description": "Quota remaining after this request.",
          "format": "int32"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus"
    },
    "GoogleAnalyticsAdminV1alphaArchiveAudienceRequest": {
      "type": "object",
      "properties": {},
      "description": "Request message for ArchiveAudience RPC.",
      "id": "GoogleAnalyticsAdminV1alphaArchiveAudienceRequest"
    },
    "GoogleAnalyticsAdminV1alphaCancelDisplayVideo360AdvertiserLinkProposalRequest": {
      "properties": {},
      "description": "Request message for CancelDisplayVideo360AdvertiserLinkProposal RPC.",
      "id": "GoogleAnalyticsAdminV1alphaCancelDisplayVideo360AdvertiserLinkProposalRequest",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaDataStreamWebStreamData": {
      "properties": {
        "defaultUri": {
          "description": "Immutable. Domain name of the web app being measured, or empty. Example: \"http://www.google.com\", \"https://www.google.com\"",
          "type": "string"
        },
        "measurementId": {
          "description": "Output only. Analytics \"Measurement ID\", without the \"G-\" prefix. Example: \"G-1A2BCD345E\" would just be \"1A2BCD345E\"",
          "readOnly": true,
          "type": "string"
        },
        "firebaseAppId": {
          "description": "Output only. ID of the corresponding web app in Firebase, if any. This ID can change if the web app is deleted and recreated.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaDataStreamWebStreamData",
      "description": "Data specific to web streams."
    },
    "GoogleAnalyticsAdminV1alphaCustomDimension": {
      "description": "A definition for a CustomDimension.",
      "id": "GoogleAnalyticsAdminV1alphaCustomDimension",
      "properties": {
        "scope": {
          "type": "string",
          "enum": [
            "DIMENSION_SCOPE_UNSPECIFIED",
            "EVENT",
            "USER"
          ],
          "enumDescriptions": [
            "Scope unknown or not specified.",
            "Dimension scoped to an event.",
            "Dimension scoped to a user."
          ],
          "description": "Required. Immutable. The scope of this dimension."
        },
        "parameterName": {
          "type": "string",
          "description": "Required. Immutable. Tagging parameter name for this custom dimension. If this is a user-scoped dimension, then this is the user property name. If this is an event-scoped dimension, then this is the event parameter name. May only contain alphanumeric and underscore characters, starting with a letter. Max length of 24 characters for user-scoped dimensions, 40 characters for event-scoped dimensions."
        },
        "description": {
          "description": "Optional. Description for this custom dimension. Max length of 150 characters.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name for this CustomDimension resource. Format: properties/{property}/customDimensions/{customDimension}"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name for this custom dimension as shown in the Analytics UI. Max length of 82 characters, alphanumeric plus space and underscore starting with a letter. Legacy system-generated display names may contain square brackets, but updates to this field will never permit square brackets."
        },
        "disallowAdsPersonalization": {
          "type": "boolean",
          "description": "Optional. If set to true, sets this dimension as NPA and excludes it from ads personalization. This is currently only supported by user-scoped custom dimensions."
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaGoogleAdsLink": {
      "description": "A link between a GA4 property and a Google Ads account.",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Format: properties/{propertyId}/googleAdsLinks/{googleAdsLinkId} Note: googleAdsLinkId is not the Google Ads customer ID."
        },
        "adsPersonalizationEnabled": {
          "description": "Enable personalized advertising features with this integration. Automatically publish my Google Analytics audience lists and Google Analytics remarketing events/parameters to the linked Google Ads account. If this field is not set on create/update, it will be defaulted to true.",
          "type": "boolean"
        },
        "creatorEmailAddress": {
          "description": "Output only. Email address of the user that created the link. An empty string will be returned if the email address can't be retrieved.",
          "readOnly": true,
          "type": "string"
        },
        "canManageClients": {
          "readOnly": true,
          "description": "Output only. If true, this link is for a Google Ads manager account.",
          "type": "boolean"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time when this link was originally created.",
          "type": "string",
          "readOnly": true
        },
        "customerId": {
          "description": "Immutable. Google Ads customer ID.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when this link was last updated."
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaGoogleAdsLink"
    },
    "GoogleAnalyticsAdminV1alphaBatchGetUserLinksResponse": {
      "description": "Response message for BatchGetUserLinks RPC.",
      "properties": {
        "userLinks": {
          "description": "The requested user links.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaBatchGetUserLinksResponse"
    },
    "GoogleAnalyticsAdminV1alphaChangeHistoryEvent": {
      "description": "A set of changes within a Google Analytics account or its child properties that resulted from the same cause. Common causes would be updates made in the Google Analytics UI, changes from customer support, or automatic Google Analytics system changes.",
      "id": "GoogleAnalyticsAdminV1alphaChangeHistoryEvent",
      "type": "object",
      "properties": {
        "changesFiltered": {
          "description": "If true, then the list of changes returned was filtered, and does not represent all changes that occurred in this event.",
          "type": "boolean"
        },
        "userActorEmail": {
          "type": "string",
          "description": "Email address of the Google account that made the change. This will be a valid email address if the actor field is set to USER, and empty otherwise. Google accounts that have been deleted will cause an error."
        },
        "changeTime": {
          "format": "google-datetime",
          "description": "Time when change was made.",
          "type": "string"
        },
        "actorType": {
          "type": "string",
          "enum": [
            "ACTOR_TYPE_UNSPECIFIED",
            "USER",
            "SYSTEM",
            "SUPPORT"
          ],
          "enumDescriptions": [
            "Unknown or unspecified actor type.",
            "Changes made by the user specified in actor_email.",
            "Changes made by the Google Analytics system.",
            "Changes made by Google Analytics support team staff."
          ],
          "description": "The type of actor that made this change."
        },
        "id": {
          "type": "string",
          "description": "ID of this change history event. This ID is unique across Google Analytics."
        },
        "changes": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryChange"
          },
          "description": "A list of changes made in this change history event that fit the filters specified in SearchChangeHistoryEventsRequest.",
          "type": "array"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccountSummary": {
      "description": "A virtual resource representing an overview of an account and all its child GA4 properties.",
      "id": "GoogleAnalyticsAdminV1alphaAccountSummary",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for this account summary. Format: accountSummaries/{account_id} Example: \"accountSummaries/1000\"",
          "type": "string"
        },
        "propertySummaries": {
          "description": "List of summaries for child accounts of this account.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaPropertySummary"
          }
        },
        "account": {
          "description": "Resource name of account referred to by this account summary Format: accounts/{account_id} Example: \"accounts/1000\"",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Display name for the account referred to in this account summary."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAudienceSequenceFilterAudienceSequenceStep": {
      "description": "A condition that must occur in the specified step order for this user to match the sequence.",
      "properties": {
        "constraintDuration": {
          "type": "string",
          "description": "Optional. When set, this step must be satisfied within the constraint_duration of the previous step (i.e., t[i] - t[i-1] \u003c= constraint_duration). If not set, there is no duration requirement (the duration is effectively unlimited). It is ignored for the first step.",
          "format": "google-duration"
        },
        "filterExpression": {
          "description": "Required. Immutable. A logical expression of Audience dimension, metric, or event filters in each step.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpression"
        },
        "immediatelyFollows": {
          "type": "boolean",
          "description": "Optional. If true, the event satisfying this step must be the very next event after the event satisfying the last step. If unset or false, this step indirectly follows the prior step; for example, there may be events between the prior step and this step. It is ignored for the first step."
        },
        "scope": {
          "type": "string",
          "description": "Required. Immutable. Specifies the scope for this step.",
          "enumDescriptions": [
            "Scope is not specified.",
            "User joins the Audience if the filter condition is met within one event.",
            "User joins the Audience if the filter condition is met within one session.",
            "User joins the Audience if the filter condition is met by any event across any session."
          ],
          "enum": [
            "AUDIENCE_FILTER_SCOPE_UNSPECIFIED",
            "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_EVENT",
            "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_SESSION",
            "AUDIENCE_FILTER_SCOPE_ACROSS_ALL_SESSIONS"
          ]
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAudienceSequenceFilterAudienceSequenceStep"
    },
    "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLinkProposal": {
      "properties": {
        "campaignDataSharingEnabled": {
          "description": "Immutable. Enables the import of campaign data from Display & Video 360. If this field is not set on create, it will be defaulted to true.",
          "type": "boolean"
        },
        "advertiserId": {
          "description": "Immutable. The Display & Video 360 Advertiser's advertiser ID.",
          "type": "string"
        },
        "advertiserDisplayName": {
          "type": "string",
          "description": "Output only. The display name of the Display & Video Advertiser. Only populated for proposals that originated from Display & Video 360.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The resource name for this DisplayVideo360AdvertiserLinkProposal resource. Format: properties/{propertyId}/displayVideo360AdvertiserLinkProposals/{proposalId} Note: proposalId is not the Display & Video 360 Advertiser ID",
          "type": "string",
          "readOnly": true
        },
        "validationEmail": {
          "type": "string",
          "description": "Input only. On a proposal being sent to Display & Video 360, this field must be set to the email address of an admin on the target advertiser. This is used to verify that the Google Analytics admin is aware of at least one admin on the Display & Video 360 Advertiser. This does not restrict approval of the proposal to a single user. Any admin on the Display & Video 360 Advertiser may approve the proposal."
        },
        "linkProposalStatusDetails": {
          "readOnly": true,
          "$ref": "GoogleAnalyticsAdminV1alphaLinkProposalStatusDetails",
          "description": "Output only. The status information for this link proposal."
        },
        "costDataSharingEnabled": {
          "type": "boolean",
          "description": "Immutable. Enables the import of cost data from Display & Video 360. This can only be enabled if campaign_data_sharing_enabled is enabled. If this field is not set on create, it will be defaulted to true."
        },
        "adsPersonalizationEnabled": {
          "description": "Immutable. Enables personalized advertising features with this integration. If this field is not set on create, it will be defaulted to true.",
          "type": "boolean"
        }
      },
      "description": "A proposal for a link between a GA4 property and a Display & Video 360 advertiser. A proposal is converted to a DisplayVideo360AdvertiserLink once approved. Google Analytics admins approve inbound proposals while Display & Video 360 admins approve outbound proposals.",
      "id": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLinkProposal",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessMetricHeader": {
      "description": "Describes a metric column in the report. Visible metrics requested in a report produce column entries within rows and MetricHeaders. However, metrics used exclusively within filters or expressions do not produce columns in a report; correspondingly, those metrics do not produce headers.",
      "id": "GoogleAnalyticsAdminV1alphaAccessMetricHeader",
      "properties": {
        "metricName": {
          "description": "The metric's name; for example 'accessCount'.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessFilterExpression": {
      "type": "object",
      "properties": {
        "orGroup": {
          "description": "Each of the FilterExpressions in the or_group has an OR relationship.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessFilterExpressionList"
        },
        "notExpression": {
          "description": "The FilterExpression is NOT of not_expression.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessFilterExpression"
        },
        "accessFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessFilter",
          "description": "A primitive filter. In the same FilterExpression, all of the filter's field names need to be either all dimensions or all metrics."
        },
        "andGroup": {
          "description": "Each of the FilterExpressions in the and_group has an AND relationship.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessFilterExpressionList"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessFilterExpression",
      "description": "Expresses dimension or metric filters. The fields in the same expression need to be either all dimensions or all metrics."
    },
    "GoogleAnalyticsAdminV1alphaRunAccessReportResponse": {
      "description": "The customized Data Access Record Report response.",
      "id": "GoogleAnalyticsAdminV1alphaRunAccessReportResponse",
      "type": "object",
      "properties": {
        "metricHeaders": {
          "description": "The header for a column in the report that corresponds to a specific metric. The number of MetricHeaders and ordering of MetricHeaders matches the metrics present in rows.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessMetricHeader"
          }
        },
        "rows": {
          "description": "Rows of dimension value combinations and metric values in the report.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessRow"
          }
        },
        "rowCount": {
          "description": "The total number of rows in the query result. `rowCount` is independent of the number of rows returned in the response, the `limit` request parameter, and the `offset` request parameter. For example if a query returns 175 rows and includes `limit` of 50 in the API request, the response will contain `rowCount` of 175 but only 50 rows. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination).",
          "type": "integer",
          "format": "int32"
        },
        "quota": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuota",
          "description": "The quota state for this Analytics property including this request."
        },
        "dimensionHeaders": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessDimensionHeader"
          },
          "description": "The header for a column in the report that corresponds to a specific dimension. The number of DimensionHeaders and ordering of DimensionHeaders matches the dimensions present in rows."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListSearchAds360LinksResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListSearchAds360LinksResponse",
      "description": "Response message for ListSearchAds360Links RPC.",
      "type": "object",
      "properties": {
        "searchAds360Links": {
          "description": "List of SearchAds360Links.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaSearchAds360Link"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAcknowledgeUserDataCollectionResponse": {
      "description": "Response message for AcknowledgeUserDataCollection RPC.",
      "type": "object",
      "properties": {},
      "id": "GoogleAnalyticsAdminV1alphaAcknowledgeUserDataCollectionResponse"
    },
    "GoogleAnalyticsAdminV1alphaAccessMetric": {
      "type": "object",
      "description": "The quantitative measurements of a report. For example, the metric `accessCount` is the total number of data access records.",
      "properties": {
        "metricName": {
          "description": "The API name of the metric. See [Data Access Schema](https://developers.google.com/analytics/devguides/config/admin/v1/access-api-schema) for the list of metrics supported in this API. Metrics are referenced by name in `metricFilter` & `orderBys`.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessMetric"
    },
    "GoogleAnalyticsAdminV1alphaNumericValue": {
      "properties": {
        "doubleValue": {
          "format": "double",
          "type": "number",
          "description": "Double value"
        },
        "int64Value": {
          "description": "Integer value",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaNumericValue",
      "description": "To represent a number.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaSearchAds360Link": {
      "properties": {
        "campaignDataSharingEnabled": {
          "description": "Immutable. Enables the import of campaign data from Search Ads 360 into the GA4 property. After link creation, this can only be updated from the Search Ads 360 product. If this field is not set on create, it will be defaulted to true.",
          "type": "boolean"
        },
        "advertiserDisplayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The display name of the Search Ads 360 Advertiser. Allows users to easily identify the linked resource."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name for this SearchAds360Link resource. Format: properties/{propertyId}/searchAds360Links/{linkId} Note: linkId is not the Search Ads 360 advertiser ID"
        },
        "siteStatsSharingEnabled": {
          "type": "boolean",
          "description": "Enables export of site stats with this integration. If this field is not set on create, it will be defaulted to true."
        },
        "costDataSharingEnabled": {
          "type": "boolean",
          "description": "Immutable. Enables the import of cost data from Search Ads 360 to the GA4 property. This can only be enabled if campaign_data_sharing_enabled is enabled. After link creation, this can only be updated from the Search Ads 360 product. If this field is not set on create, it will be defaulted to true."
        },
        "adsPersonalizationEnabled": {
          "description": "Enables personalized advertising features with this integration. If this field is not set on create, it will be defaulted to true.",
          "type": "boolean"
        },
        "advertiserId": {
          "type": "string",
          "description": "Immutable. This field represents the Advertiser ID of the Search Ads 360 Advertiser. that has been linked."
        }
      },
      "description": "A link between a GA4 property and a Search Ads 360 entity.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaSearchAds360Link"
    },
    "GoogleAnalyticsAdminV1alphaListAccountsResponse": {
      "properties": {
        "accounts": {
          "description": "Results that were accessible to the caller.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccount"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListAccountsResponse",
      "description": "Request message for ListAccounts RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "changeHistoryEvents": {
          "description": "Results that were accessible to the caller.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryEvent"
          }
        }
      },
      "description": "Response message for SearchAccounts RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaBatchDeleteUserLinksRequest": {
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. The requests specifying the user links to update. A maximum of 1000 user links can be updated in a batch.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaDeleteUserLinkRequest"
          }
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaBatchDeleteUserLinksRequest",
      "type": "object",
      "description": "Request message for BatchDeleteUserLinks RPC."
    },
    "GoogleAnalyticsAdminV1alphaArchiveCustomMetricRequest": {
      "properties": {},
      "description": "Request message for ArchiveCustomMetric RPC.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaArchiveCustomMetricRequest"
    },
    "GoogleAnalyticsAdminV1alphaAuditUserLinksResponse": {
      "description": "Response message for AuditUserLinks RPC.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "userLinks": {
          "description": "List of AuditUserLinks. These will be ordered stably, but in an arbitrary order.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAuditUserLink"
          },
          "type": "array"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAuditUserLinksResponse"
    },
    "GoogleAnalyticsAdminV1alphaAccessInListFilter": {
      "properties": {
        "values": {
          "description": "The list of string values. Must be non-empty.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "caseSensitive": {
          "description": "If true, the string value is case sensitive.",
          "type": "boolean"
        }
      },
      "description": "The result needs to be in a list of string values.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAccessInListFilter"
    },
    "GoogleAnalyticsAdminV1alphaBatchCreateUserLinksResponse": {
      "description": "Response message for BatchCreateUserLinks RPC.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaBatchCreateUserLinksResponse",
      "properties": {
        "userLinks": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
          },
          "description": "The user links created."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaDataStream": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaDataStream",
      "description": "A resource message representing a data stream.",
      "properties": {
        "createTime": {
          "description": "Output only. Time when this stream was originally created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of this Data Stream. Format: properties/{property_id}/dataStreams/{stream_id} Example: \"properties/1000/dataStreams/2000\"",
          "type": "string"
        },
        "androidAppStreamData": {
          "$ref": "GoogleAnalyticsAdminV1alphaDataStreamAndroidAppStreamData",
          "description": "Data specific to Android app streams. Must be populated if type is ANDROID_APP_DATA_STREAM."
        },
        "type": {
          "enumDescriptions": [
            "Type unknown or not specified.",
            "Web data stream.",
            "Android app data stream.",
            "iOS app data stream."
          ],
          "description": "Required. Immutable. The type of this DataStream resource.",
          "type": "string",
          "enum": [
            "DATA_STREAM_TYPE_UNSPECIFIED",
            "WEB_DATA_STREAM",
            "ANDROID_APP_DATA_STREAM",
            "IOS_APP_DATA_STREAM"
          ]
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when stream payload fields were last updated.",
          "format": "google-datetime"
        },
        "iosAppStreamData": {
          "description": "Data specific to iOS app streams. Must be populated if type is IOS_APP_DATA_STREAM.",
          "$ref": "GoogleAnalyticsAdminV1alphaDataStreamIosAppStreamData"
        },
        "displayName": {
          "description": "Human-readable display name for the Data Stream. Required for web data streams. The max allowed display name length is 255 UTF-16 code units.",
          "type": "string"
        },
        "webStreamData": {
          "$ref": "GoogleAnalyticsAdminV1alphaDataStreamWebStreamData",
          "description": "Data specific to web streams. Must be populated if type is WEB_DATA_STREAM."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource": {
      "type": "object",
      "properties": {
        "attributionSettings": {
          "description": "A snapshot of AttributionSettings resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaAttributionSettings"
        },
        "dataRetentionSettings": {
          "description": "A snapshot of a data retention settings resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaDataRetentionSettings"
        },
        "dataStream": {
          "description": "A snapshot of a DataStream resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaDataStream"
        },
        "searchAds360Link": {
          "$ref": "GoogleAnalyticsAdminV1alphaSearchAds360Link",
          "description": "A snapshot of a SearchAds360Link resource in change history."
        },
        "customMetric": {
          "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric",
          "description": "A snapshot of a CustomMetric resource in change history."
        },
        "account": {
          "description": "A snapshot of an Account resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccount"
        },
        "measurementProtocolSecret": {
          "$ref": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret",
          "description": "A snapshot of a MeasurementProtocolSecret resource in change history."
        },
        "customDimension": {
          "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension",
          "description": "A snapshot of a CustomDimension resource in change history."
        },
        "googleAdsLink": {
          "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink",
          "description": "A snapshot of a GoogleAdsLink resource in change history."
        },
        "firebaseLink": {
          "description": "A snapshot of a FirebaseLink resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaFirebaseLink"
        },
        "displayVideo360AdvertiserLink": {
          "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink",
          "description": "A snapshot of a DisplayVideo360AdvertiserLink resource in change history."
        },
        "property": {
          "$ref": "GoogleAnalyticsAdminV1alphaProperty",
          "description": "A snapshot of a Property resource in change history."
        },
        "displayVideo360AdvertiserLinkProposal": {
          "description": "A snapshot of a DisplayVideo360AdvertiserLinkProposal resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLinkProposal"
        },
        "googleSignalsSettings": {
          "$ref": "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings",
          "description": "A snapshot of a GoogleSignalsSettings resource in change history."
        },
        "conversionEvent": {
          "$ref": "GoogleAnalyticsAdminV1alphaConversionEvent",
          "description": "A snapshot of a ConversionEvent resource in change history."
        }
      },
      "description": "A snapshot of a resource as before or after the result of a change in change history.",
      "id": "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource"
    },
    "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue": {
      "description": "To represent a number.",
      "id": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue",
      "properties": {
        "int64Value": {
          "format": "int64",
          "type": "string",
          "description": "Integer value."
        },
        "doubleValue": {
          "description": "Double value.",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAcknowledgeUserDataCollectionRequest": {
      "id": "GoogleAnalyticsAdminV1alphaAcknowledgeUserDataCollectionRequest",
      "type": "object",
      "description": "Request message for AcknowledgeUserDataCollection RPC.",
      "properties": {
        "acknowledgement": {
          "type": "string",
          "description": "Required. An acknowledgement that the caller of this method understands the terms of user data collection. This field must contain the exact value: \"I acknowledge that I have the necessary privacy disclosures and rights from my end users for the collection and processing of their data, including the association of such data with the visitation information Google Analytics collects from my site and/or app property.\""
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaProvisionAccountTicketResponse": {
      "description": "Response message for ProvisionAccountTicket RPC.",
      "properties": {
        "accountTicketId": {
          "type": "string",
          "description": "The param to be passed in the ToS link."
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaProvisionAccountTicketResponse"
    },
    "GoogleAnalyticsAdminV1alphaListCustomMetricsResponse": {
      "type": "object",
      "description": "Response message for ListCustomMetrics RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListCustomMetricsResponse",
      "properties": {
        "customMetrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric"
          },
          "description": "List of CustomMetrics."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaDeleteUserLinkRequest": {
      "id": "GoogleAnalyticsAdminV1alphaDeleteUserLinkRequest",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Example format: accounts/1234/userLinks/5678"
        }
      },
      "description": "Request message for DeleteUserLink RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksRequest": {
      "type": "object",
      "description": "Request message for BatchUpdateUserLinks RPC.",
      "id": "GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksRequest",
      "properties": {
        "requests": {
          "description": "Required. The requests specifying the user links to update. A maximum of 1000 user links can be updated in a batch.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaUpdateUserLinkRequest"
          }
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericFilter": {
      "description": "A filter for numeric or date values on a dimension or metric.",
      "type": "object",
      "properties": {
        "value": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue",
          "description": "Required. The numeric or date value to match against."
        },
        "operation": {
          "enum": [
            "OPERATION_UNSPECIFIED",
            "EQUAL",
            "LESS_THAN",
            "GREATER_THAN"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Equal.",
            "Less than.",
            "Greater than."
          ],
          "type": "string",
          "description": "Required. The operation applied to a numeric filter."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericFilter"
    },
    "GoogleAnalyticsAdminV1alphaApproveDisplayVideo360AdvertiserLinkProposalResponse": {
      "properties": {
        "displayVideo360AdvertiserLink": {
          "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink",
          "description": "The DisplayVideo360AdvertiserLink created as a result of approving the proposal."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaApproveDisplayVideo360AdvertiserLinkProposalResponse",
      "description": "Response message for ApproveDisplayVideo360AdvertiserLinkProposal RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListConversionEventsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListConversionEventsResponse",
      "description": "Response message for ListConversionEvents RPC.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "conversionEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaConversionEvent"
          },
          "description": "The requested conversion events"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessFilterExpressionList": {
      "id": "GoogleAnalyticsAdminV1alphaAccessFilterExpressionList",
      "type": "object",
      "description": "A list of filter expressions.",
      "properties": {
        "expressions": {
          "description": "A list of filter expressions.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessFilterExpression"
          }
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListCustomDimensionsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListCustomDimensionsResponse",
      "properties": {
        "customDimensions": {
          "type": "array",
          "description": "List of CustomDimensions.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "description": "Response message for ListCustomDimensions RPC."
    },
    "GoogleAnalyticsAdminV1alphaFirebaseLink": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Example format: properties/1234/firebaseLinks/5678"
        },
        "project": {
          "description": "Immutable. Firebase project resource name. When creating a FirebaseLink, you may provide this resource name using either a project number or project ID. Once this resource has been created, returned FirebaseLinks will always have a project_name that contains a project number. Format: 'projects/{project number}' Example: 'projects/1234'",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time when this FirebaseLink was originally created.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaFirebaseLink",
      "description": "A link between a GA4 property and a Firebase project."
    },
    "GoogleAnalyticsAdminV1alphaLinkProposalStatusDetails": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaLinkProposalStatusDetails",
      "properties": {
        "linkProposalState": {
          "enum": [
            "LINK_PROPOSAL_STATE_UNSPECIFIED",
            "AWAITING_REVIEW_FROM_GOOGLE_ANALYTICS",
            "AWAITING_REVIEW_FROM_LINKED_PRODUCT",
            "WITHDRAWN",
            "DECLINED",
            "EXPIRED",
            "OBSOLETE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state",
            "This proposal is awaiting review from a Google Analytics user. This proposal will automatically expire after some time.",
            "This proposal is awaiting review from a user of a linked product. This proposal will automatically expire after some time.",
            "This proposal has been withdrawn by an admin on the initiating product. This proposal will be automatically deleted after some time.",
            "This proposal has been declined by an admin on the receiving product. This proposal will be automatically deleted after some time.",
            "This proposal expired due to lack of response from an admin on the receiving product. This proposal will be automatically deleted after some time.",
            "This proposal has become obsolete because a link was directly created to the same external product resource that this proposal specifies. This proposal will be automatically deleted after some time."
          ],
          "description": "Output only. The state of this proposal.",
          "type": "string"
        },
        "requestorEmail": {
          "readOnly": true,
          "description": "Output only. The email address of the user that proposed this linkage.",
          "type": "string"
        },
        "linkProposalInitiatingProduct": {
          "enum": [
            "LINK_PROPOSAL_INITIATING_PRODUCT_UNSPECIFIED",
            "GOOGLE_ANALYTICS",
            "LINKED_PRODUCT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified product.",
            "This proposal was created by a user from Google Analytics.",
            "This proposal was created by a user from a linked product (not Google Analytics)."
          ],
          "description": "Output only. The source of this proposal.",
          "readOnly": true
        }
      },
      "description": "Status information for a link proposal."
    },
    "GoogleAnalyticsAdminV1alphaConversionEvent": {
      "description": "A conversion event in a Google Analytics property.",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of this conversion event. Format: properties/{property}/conversionEvents/{conversion_event}",
          "type": "string"
        },
        "deletable": {
          "readOnly": true,
          "description": "Output only. If set, this event can currently be deleted via DeleteConversionEvent.",
          "type": "boolean"
        },
        "custom": {
          "readOnly": true,
          "description": "Output only. If set to true, this conversion event refers to a custom event. If set to false, this conversion event refers to a default event in GA. Default events typically have special meaning in GA. Default events are usually created for you by the GA system, but in some cases can be created by property admins. Custom events count towards the maximum number of custom conversion events that may be created per property.",
          "type": "boolean"
        },
        "eventName": {
          "type": "string",
          "description": "Immutable. The event name for this conversion event. Examples: 'click', 'purchase'"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time when this conversion event was created in the property.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaConversionEvent",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAudienceEventFilter": {
      "description": "A filter that matches events of a single event name. If an event parameter is specified, only the subset of events that match both the single event name and the parameter filter expressions match this event filter.",
      "id": "GoogleAnalyticsAdminV1alphaAudienceEventFilter",
      "type": "object",
      "properties": {
        "eventParameterFilterExpression": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpression",
          "description": "Optional. If specified, this filter matches events that match both the single event name and the parameter filter expressions. AudienceEventFilter inside the parameter filter expression cannot be set (i.e., nested event filters are not supported). This should be a single and_group of dimension_or_metric_filter or not_expression; ANDs of ORs are not supported. Also, if it includes a filter for \"eventCount\", only that one will be considered; all the other filters will be ignored."
        },
        "eventName": {
          "type": "string",
          "description": "Required. Immutable. The name of the event to match against."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAttributionSettings": {
      "id": "GoogleAnalyticsAdminV1alphaAttributionSettings",
      "description": "The attribution settings used for a given property. This is a singleton resource.",
      "type": "object",
      "properties": {
        "reportingAttributionModel": {
          "enumDescriptions": [
            "Reporting attribution model unspecified.",
            "Data-driven attribution distributes credit for the conversion based on data for each conversion event. Each Data-driven model is specific to each advertiser and each conversion event.",
            "Ignores direct traffic and attributes 100% of the conversion value to the last channel that the customer clicked through (or engaged view through for YouTube) before converting.",
            "Gives all credit for the conversion to the first channel that a customer clicked (or engaged view through for YouTube) before converting.",
            "Distributes the credit for the conversion equally across all the channels a customer clicked (or engaged view through for YouTube) before converting.",
            "Attributes 40% credit to the first and last interaction, and the remaining 20% credit is distributed evenly to the middle interactions.",
            "Gives more credit to the touchpoints that happened closer in time to the conversion.",
            "Attributes 100% of the conversion value to the last Google Ads channel that the customer clicked through before converting."
          ],
          "type": "string",
          "enum": [
            "REPORTING_ATTRIBUTION_MODEL_UNSPECIFIED",
            "CROSS_CHANNEL_DATA_DRIVEN",
            "CROSS_CHANNEL_LAST_CLICK",
            "CROSS_CHANNEL_FIRST_CLICK",
            "CROSS_CHANNEL_LINEAR",
            "CROSS_CHANNEL_POSITION_BASED",
            "CROSS_CHANNEL_TIME_DECAY",
            "ADS_PREFERRED_LAST_CLICK"
          ],
          "description": "Required. The reporting attribution model used to calculate conversion credit in this property's reports. Changing the attribution model will apply to both historical and future data. These changes will be reflected in reports with conversion and revenue data. User and session data will be unaffected."
        },
        "acquisitionConversionEventLookbackWindow": {
          "enum": [
            "ACQUISITION_CONVERSION_EVENT_LOOKBACK_WINDOW_UNSPECIFIED",
            "ACQUISITION_CONVERSION_EVENT_LOOKBACK_WINDOW_7_DAYS",
            "ACQUISITION_CONVERSION_EVENT_LOOKBACK_WINDOW_30_DAYS"
          ],
          "type": "string",
          "description": "Required. The lookback window configuration for acquisition conversion events. The default window size is 30 days.",
          "enumDescriptions": [
            "Lookback window size unspecified.",
            "7-day lookback window.",
            "30-day lookback window."
          ]
        },
        "name": {
          "description": "Output only. Resource name of this attribution settings resource. Format: properties/{property_id}/attributionSettings Example: \"properties/1000/attributionSettings\"",
          "readOnly": true,
          "type": "string"
        },
        "otherConversionEventLookbackWindow": {
          "enumDescriptions": [
            "Lookback window size unspecified.",
            "30-day lookback window.",
            "60-day lookback window.",
            "90-day lookback window."
          ],
          "enum": [
            "OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_UNSPECIFIED",
            "OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_30_DAYS",
            "OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_60_DAYS",
            "OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_90_DAYS"
          ],
          "type": "string",
          "description": "Required. The lookback window for all other, non-acquisition conversion events. The default window size is 90 days."
        }
      }
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "GoogleProtobufEmpty",
      "properties": {}
    },
    "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterBetweenFilter": {
      "description": "A filter for numeric or date values between certain values on a dimension or metric.",
      "properties": {
        "toValue": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue",
          "description": "Required. Ends with this number, inclusive."
        },
        "fromValue": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue",
          "description": "Required. Begins with this number, inclusive."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterBetweenFilter",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListAudiencesResponse": {
      "description": "Response message for ListAudiences RPC.",
      "properties": {
        "audiences": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAudience"
          },
          "type": "array",
          "description": "List of Audiences."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListAudiencesResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaUpdateUserLinkRequest": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaUpdateUserLinkRequest",
      "description": "Request message for UpdateUserLink RPC.",
      "properties": {
        "userLink": {
          "description": "Required. The user link to update.",
          "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAudienceFilterClause": {
      "properties": {
        "clauseType": {
          "type": "string",
          "enum": [
            "AUDIENCE_CLAUSE_TYPE_UNSPECIFIED",
            "INCLUDE",
            "EXCLUDE"
          ],
          "description": "Required. Specifies whether this is an include or exclude filter clause.",
          "enumDescriptions": [
            "Unspecified clause type.",
            "Users will be included in the Audience if the filter clause is met.",
            "Users will be excluded from the Audience if the filter clause is met."
          ]
        },
        "sequenceFilter": {
          "description": "Filters that must occur in a specific order for the user to be a member of the Audience.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceSequenceFilter"
        },
        "simpleFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceSimpleFilter",
          "description": "A simple filter that a user must satisfy to be a member of the Audience."
        }
      },
      "description": "A clause for defining either a simple or sequence filter. A filter can be inclusive (i.e., users satisfying the filter clause are included in the Audience) or exclusive (i.e., users satisfying the filter clause are excluded from the Audience).",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAudienceFilterClause"
    },
    "GoogleAnalyticsAdminV1alphaAccessDateRange": {
      "id": "GoogleAnalyticsAdminV1alphaAccessDateRange",
      "description": "A contiguous range of days: startDate, startDate + 1, ..., endDate.",
      "type": "object",
      "properties": {
        "startDate": {
          "type": "string",
          "description": "The inclusive start date for the query in the format `YYYY-MM-DD`. Cannot be after `endDate`. The format `NdaysAgo`, `yesterday`, or `today` is also accepted, and in that case, the date is inferred based on the current time in the request's time zone."
        },
        "endDate": {
          "type": "string",
          "description": "The inclusive end date for the query in the format `YYYY-MM-DD`. Cannot be before `startDate`. The format `NdaysAgo`, `yesterday`, or `today` is also accepted, and in that case, the date is inferred based on the current time in the request's time zone."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessStringFilter": {
      "type": "object",
      "description": "The filter for strings.",
      "id": "GoogleAnalyticsAdminV1alphaAccessStringFilter",
      "properties": {
        "caseSensitive": {
          "type": "boolean",
          "description": "If true, the string value is case sensitive."
        },
        "value": {
          "description": "The string value used for the matching.",
          "type": "string"
        },
        "matchType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Exact match of the string value.",
            "Begins with the string value.",
            "Ends with the string value.",
            "Contains the string value.",
            "Full match for the regular expression with the string value.",
            "Partial match for the regular expression with the string value."
          ],
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "BEGINS_WITH",
            "ENDS_WITH",
            "CONTAINS",
            "FULL_REGEXP",
            "PARTIAL_REGEXP"
          ],
          "description": "The match type for this filter."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessMetricValue": {
      "type": "object",
      "description": "The value of a metric.",
      "properties": {
        "value": {
          "type": "string",
          "description": "The measurement value. For example, this value may be '13'."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessMetricValue"
    },
    "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilter": {
      "properties": {
        "betweenFilter": {
          "description": "A filter for numeric or date values between certain values on a dimension or metric.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterBetweenFilter"
        },
        "atAnyPointInTime": {
          "description": "Optional. Indicates whether this filter needs dynamic evaluation or not. If set to true, users join the Audience if they ever met the condition (static evaluation). If unset or set to false, user evaluation for an Audience is dynamic; users are added to an Audience when they meet the conditions and then removed when they no longer meet them. This can only be set when Audience scope is ACROSS_ALL_SESSIONS.",
          "type": "boolean"
        },
        "numericFilter": {
          "description": "A filter for numeric or date values on a dimension or metric.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericFilter"
        },
        "stringFilter": {
          "description": "A filter for a string-type dimension that matches a particular pattern.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterStringFilter"
        },
        "fieldName": {
          "type": "string",
          "description": "Required. Immutable. The dimension name or metric name to filter."
        },
        "inAnyNDayPeriod": {
          "type": "integer",
          "description": "Optional. If set, specifies the time window for which to evaluate data in number of days. If not set, then audience data is evaluated against lifetime data (i.e., infinite time window). For example, if set to 1 day, only the current day's data is evaluated. The reference point is the current day when at_any_point_in_time is unset or false. It can only be set when Audience scope is ACROSS_ALL_SESSIONS and cannot be greater than 60 days.",
          "format": "int32"
        },
        "inListFilter": {
          "description": "A filter for a string dimension that matches a particular list of options.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterInListFilter"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilter",
      "description": "A specific filter for a single dimension or metric."
    },
    "GoogleAnalyticsAdminV1alphaListDataStreamsResponse": {
      "type": "object",
      "properties": {
        "dataStreams": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaDataStream"
          },
          "type": "array",
          "description": "List of DataStreams."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListDataStreams RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListDataStreamsResponse"
    },
    "GoogleAnalyticsAdminV1alphaCreateUserLinkRequest": {
      "id": "GoogleAnalyticsAdminV1alphaCreateUserLinkRequest",
      "description": "Request message for CreateUserLink RPC. Users can have multiple email addresses associated with their Google account, and one of these email addresses is the \"primary\" email address. Any of the email addresses associated with a Google account may be used for a new UserLink, but the returned UserLink will always contain the \"primary\" email address. As a result, the input and output email address for this request may differ.",
      "type": "object",
      "properties": {
        "parent": {
          "description": "Required. Example format: accounts/1234",
          "type": "string"
        },
        "notifyNewUser": {
          "description": "Optional. If set, then email the new user notifying them that they've been granted permissions to the resource.",
          "type": "boolean"
        },
        "userLink": {
          "$ref": "GoogleAnalyticsAdminV1alphaUserLink",
          "description": "Required. The user link to create."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessOrderBy": {
      "properties": {
        "dimension": {
          "description": "Sorts results by a dimension's values.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessOrderByDimensionOrderBy"
        },
        "metric": {
          "description": "Sorts results by a metric's values.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessOrderByMetricOrderBy"
        },
[...]
