{
  "ownerName": "Google",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "version_module": true,
  "batchPath": "batch",
  "description": "Accesses report data in Google Analytics.",
  "version": "v1alpha",
  "canonicalName": "AnalyticsData",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/analytics.readonly": {
          "description": "View your Google Analytics data"
        },
        "https://www.googleapis.com/auth/analytics": {
          "description": "View and manage your Google Analytics data"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/analytics/trusted-testing/analytics-data/",
  "baseUrl": "https://analyticsdata.googleapis.com/",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "name": "analyticsdata",
  "title": "Google Analytics Data API",
  "id": "analyticsdata:v1alpha",
  "resources": {
    "v1alpha": {
      "methods": {
        "getUniversalMetadata": {
          "scopes": [
            "https://www.googleapis.com/auth/analytics",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "description": "Returns metadata for dimensions and metrics available in reporting methods. Used to explore the dimensions and metrics. Dimensions and metrics will be mostly added over time, but renames and deletions may occur. This method returns Universal Metadata. Universal Metadata are dimensions and metrics applicable to any property such as `country` and `totalUsers`.",
          "parameters": {},
          "id": "analyticsdata.getUniversalMetadata",
          "parameterOrder": [],
          "response": {
            "$ref": "UniversalMetadata"
          },
          "flatPath": "v1alpha/universalMetadata",
          "httpMethod": "GET",
          "path": "v1alpha/universalMetadata"
        },
        "batchRunReports": {
          "flatPath": "v1alpha:batchRunReports",
          "httpMethod": "POST",
          "parameterOrder": [],
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/analytics",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "response": {
            "$ref": "BatchRunReportsResponse"
          },
          "request": {
            "$ref": "BatchRunReportsRequest"
          },
          "path": "v1alpha:batchRunReports",
          "id": "analyticsdata.batchRunReports",
          "description": "Returns multiple reports in a batch. All reports must be for the same Entity."
        },
        "batchRunPivotReports": {
          "parameterOrder": [],
          "request": {
            "$ref": "BatchRunPivotReportsRequest"
          },
          "id": "analyticsdata.batchRunPivotReports",
          "httpMethod": "POST",
          "path": "v1alpha:batchRunPivotReports",
          "flatPath": "v1alpha:batchRunPivotReports",
          "scopes": [
            "https://www.googleapis.com/auth/analytics",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "description": "Returns multiple pivot reports in a batch. All reports must be for the same Entity.",
          "parameters": {},
          "response": {
            "$ref": "BatchRunPivotReportsResponse"
          }
        },
        "runReport": {
          "scopes": [
            "https://www.googleapis.com/auth/analytics",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "parameters": {},
          "description": "Returns a customized report of your Google Analytics event data. Reports contain statistics derived from data collected by the Google Analytics tracking code. The data returned from the API is as a table with columns for the requested dimensions and metrics. Metrics are individual measurements of user activity on your property, such as active users or event count. Dimensions break down metrics across some common criteria, such as country or event name.",
          "id": "analyticsdata.runReport",
          "path": "v1alpha:runReport",
          "response": {
            "$ref": "RunReportResponse"
          },
          "flatPath": "v1alpha:runReport",
          "parameterOrder": [],
          "request": {
            "$ref": "RunReportRequest"
          },
          "httpMethod": "POST"
        },
        "runPivotReport": {
          "response": {
            "$ref": "RunPivotReportResponse"
          },
          "request": {
            "$ref": "RunPivotReportRequest"
          },
          "path": "v1alpha:runPivotReport",
          "httpMethod": "POST",
          "description": "Returns a customized pivot report of your Google Analytics event data. Pivot reports are more advanced and expressive formats than regular reports. In a pivot report, dimensions are only visible if they are included in a pivot. Multiple pivots can be specified to further dissect your data.",
          "scopes": [
            "https://www.googleapis.com/auth/analytics",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "parameterOrder": [],
          "flatPath": "v1alpha:runPivotReport",
          "parameters": {},
          "id": "analyticsdata.runPivotReport"
        }
      }
    },
    "properties": {
      "methods": {
        "getMetadata": {
          "response": {
            "$ref": "Metadata"
          },
          "httpMethod": "GET",
          "path": "v1alpha/{+name}",
          "parameterOrder": [
            "name"
          ],
          "description": "Returns metadata for dimensions and metrics available in reporting methods. Used to explore the dimensions and metrics. In this method, a Google Analytics App + Web Property Identifier is specified in the request, and the metadata response includes Custom dimensions and metrics as well as Universal metadata. For example if a custom metric with parameter name `levels_unlocked` is registered to a property, the Metadata response will contain `customEvent:levels_unlocked`. Universal metadata are dimensions and metrics applicable to any property such as `country` and `totalUsers`.",
          "id": "analyticsdata.properties.getMetadata",
          "flatPath": "v1alpha/properties/{propertiesId}/metadata",
          "scopes": [
            "https://www.googleapis.com/auth/analytics",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "parameters": {
            "name": {
              "description": "Required. The resource name of the metadata to retrieve. This name field is specified in the URL path and not URL parameters. Property is a numeric Google Analytics App + Web Property identifier. Example: properties/1234/metadata",
              "pattern": "^properties/[^/]+/metadata$",
              "location": "path",
              "type": "string",
              "required": true
            }
          }
        }
      }
    }
  },
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    }
  },
  "schemas": {
    "CohortSpec": {
      "description": "Specification for a cohort report.",
      "properties": {
        "cohortReportSettings": {
          "$ref": "CohortReportSettings",
          "description": "Settings of a cohort report."
        },
        "cohortsRange": {
          "$ref": "CohortsRange",
          "description": "The data ranges of cohorts."
        },
        "cohorts": {
          "type": "array",
          "description": "The definition for the cohorts.",
          "items": {
            "$ref": "Cohort"
          }
        }
      },
      "id": "CohortSpec",
      "type": "object"
    },
    "BatchRunReportsResponse": {
      "type": "object",
      "id": "BatchRunReportsResponse",
      "properties": {
        "reports": {
          "type": "array",
          "description": "Individual responses. Each response has a separate report request.",
          "items": {
            "$ref": "RunReportResponse"
          }
        }
      },
      "description": "The batch response containing multiple reports."
    },
    "UniversalMetadata": {
      "type": "object",
      "properties": {
        "metrics": {
          "description": "The metric descriptions.",
          "items": {
            "$ref": "MetricMetadata"
          },
          "type": "array"
        },
        "dimensions": {
          "items": {
            "$ref": "DimensionMetadata"
          },
          "type": "array",
          "description": "The dimensions descriptions."
        }
      },
      "id": "UniversalMetadata",
      "description": "The dimensions and metrics currently accepted in reporting methods."
    },
    "FilterExpression": {
      "type": "object",
      "description": "To express dimension or metric filters. The fields in the same FilterExpression need to be either all dimensions or all metrics.",
      "id": "FilterExpression",
      "properties": {
        "filter": {
          "$ref": "Filter",
          "description": "A primitive filter. All fields in filter in same FilterExpression needs to be either all dimensions or metrics."
        },
        "andGroup": {
          "description": "The FilterExpressions in and_group have an AND relationship.",
          "$ref": "FilterExpressionList"
        },
        "orGroup": {
          "description": "The FilterExpressions in or_group have an OR relationship.",
          "$ref": "FilterExpressionList"
        },
        "notExpression": {
          "$ref": "FilterExpression",
          "description": "The FilterExpression is NOT of not_expression."
        }
      }
    },
    "RunPivotReportResponse": {
      "id": "RunPivotReportResponse",
      "type": "object",
      "description": "The response pivot report table corresponding to a pivot request.",
      "properties": {
        "rows": {
          "items": {
            "$ref": "Row"
          },
          "description": "Rows of dimension value combinations and metric values in the report.",
          "type": "array"
        },
        "dimensionHeaders": {
          "type": "array",
          "description": "Describes dimension columns. The number of DimensionHeaders and ordering of DimensionHeaders matches the dimensions present in rows.",
          "items": {
            "$ref": "DimensionHeader"
          }
        },
        "metadata": {
          "$ref": "ResponseMetaData",
          "description": "Metadata for the report."
        },
        "propertyQuota": {
          "$ref": "PropertyQuota",
          "description": "This Analytics Property's quota state including this request."
        },
        "aggregates": {
          "description": "Aggregation of metric values. Can be totals, minimums, or maximums. The returned aggregations are controlled by the metric_aggregations in the pivot. The type of aggregation returned in each row is shown by the dimension_values which are set to \"RESERVED_\".",
          "items": {
            "$ref": "Row"
          },
          "type": "array"
        },
        "metricHeaders": {
          "description": "Describes metric columns. The number of MetricHeaders and ordering of MetricHeaders matches the metrics present in rows.",
          "items": {
            "$ref": "MetricHeader"
          },
          "type": "array"
        },
        "pivotHeaders": {
          "items": {
            "$ref": "PivotHeader"
          },
          "description": "Summarizes the columns and rows created by a pivot. Each pivot in the request produces one header in the response. If we have a request like this: \"pivots\": [{ \"fieldNames\": [\"country\", \"city\"] }, { \"fieldNames\": \"eventName\" }] We will have the following `pivotHeaders` in the response: \"pivotHeaders\" : [{ \"dimensionHeaders\": [{ \"dimensionValues\": [ { \"value\": \"United Kingdom\" }, { \"value\": \"London\" } ] }, { \"dimensionValues\": [ { \"value\": \"Japan\" }, { \"value\": \"Osaka\" } ] }] }, { \"dimensionHeaders\": [{ \"dimensionValues\": [{ \"value\": \"session_start\" }] }, { \"dimensionValues\": [{ \"value\": \"scroll\" }] }] }]",
          "type": "array"
        }
      }
    },
    "QuotaStatus": {
      "id": "QuotaStatus",
      "description": "Current state for a particular quota group.",
      "properties": {
        "remaining": {
          "type": "integer",
          "format": "int32",
          "description": "Quota remaining after this request."
        },
        "consumed": {
          "format": "int32",
          "type": "integer",
          "description": "Quota consumed by this request."
        }
      },
      "type": "object"
    },
    "CohortsRange": {
      "properties": {
        "granularity": {
          "enumDescriptions": [
            "Unspecified.",
            "Daily",
            "Weekly",
            "Monthly"
          ],
          "description": "Reporting date range for each cohort is calculated based on these three fields.",
          "type": "string",
          "enum": [
            "GRANULARITY_UNSPECIFIED",
            "DAILY",
            "WEEKLY",
            "MONTHLY"
          ]
        },
        "startOffset": {
          "format": "int32",
          "type": "integer",
          "description": "For daily cohorts, this will be the start day offset. For weekly cohorts, this will be the week offset."
        },
        "endOffset": {
          "type": "integer",
          "format": "int32",
          "description": "For daily cohorts, this will be the end day offset. For weekly cohorts, this will be the week offset."
        }
      },
      "type": "object",
      "description": "Describes date range for a cohort report.",
      "id": "CohortsRange"
    },
    "DimensionValue": {
      "id": "DimensionValue",
      "properties": {
        "value": {
          "description": "Value as a string if the dimension type is a string.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The value of a dimension."
    },
    "PivotHeader": {
      "id": "PivotHeader",
      "description": "Dimensions' values in a single pivot.",
      "properties": {
        "rowCount": {
          "format": "int32",
          "description": "The cardinality of the pivot as if offset = 0 and limit = -1. The total number of rows for this pivot's fields regardless of how the parameters offset and limit are specified in the request.",
          "type": "integer"
        },
        "pivotDimensionHeaders": {
          "type": "array",
          "description": "The size is the same as the cardinality of the corresponding dimension combinations.",
          "items": {
            "$ref": "PivotDimensionHeader"
          }
        }
      },
      "type": "object"
    },
    "PivotSelection": {
      "id": "PivotSelection",
      "type": "object",
      "properties": {
        "dimensionValue": {
          "description": "Order by only when the named dimension is this value.",
          "type": "string"
        },
        "dimensionName": {
          "description": "Must be a dimension name from the request.",
          "type": "string"
        }
      },
      "description": "A pair of dimension names and values. Rows with this dimension pivot pair are ordered by the metric's value. For example if pivots = {{\"browser\", \"Chrome\"}} and metric_name = \"Sessions\", then the rows will be sorted based on Sessions in Chrome. ---------|----------|----------------|----------|---------------- | Chrome | Chrome | Safari | Safari ---------|----------|----------------|----------|---------------- Country | Sessions | Pages/Sessions | Sessions | Pages/Sessions ---------|----------|----------------|----------|---------------- US | 2 | 2 | 3 | 1 ---------|----------|----------------|----------|---------------- Canada | 3 | 1 | 4 | 1 ---------|----------|----------------|----------|----------------"
    },
    "BatchRunReportsRequest": {
      "description": "The batch request containing multiple report requests.",
      "type": "object",
      "id": "BatchRunReportsRequest",
      "properties": {
        "entity": {
          "description": "A property whose events are tracked. This entity must be specified for the batch. The entity within RunReportRequest may either be unspecified or consistent with this entity.",
          "$ref": "Entity"
        },
        "requests": {
          "items": {
            "$ref": "RunReportRequest"
          },
          "description": "Individual requests. Each request has a separate report response. Each batch request is allowed up to 5 requests.",
          "type": "array"
        }
      }
    },
    "PivotOrderBy": {
      "properties": {
        "metricName": {
          "type": "string",
          "description": "In the response to order by, order rows by this column. Must be a metric name from the request."
        },
        "pivotSelections": {
          "type": "array",
          "description": "Used to select a dimension name and value pivot. If multiple pivot selections are given, the sort occurs on rows where all pivot selection dimension name and value pairs match the row's dimension name and value pair.",
          "items": {
            "$ref": "PivotSelection"
          }
        }
      },
      "type": "object",
      "id": "PivotOrderBy",
      "description": "Sorts by a pivot column group."
    },
    "Row": {
      "id": "Row",
      "description": "Report data for each row. For example if RunReportRequest contains: ```none dimensions { name: \"eventName\" } dimensions { name: \"countryId\" } metrics { name: \"eventCount\" } ``` One row with 'in_app_purchase' as the eventName, 'us' as the countryId, and 15 as the eventCount, would be: ```none dimension_values { name: 'in_app_purchase' name: 'us' } metric_values { int64_value: 15 } ```",
      "type": "object",
      "properties": {
        "metricValues": {
          "type": "array",
          "description": "List of requested visible metric values.",
          "items": {
            "$ref": "MetricValue"
          }
        },
        "dimensionValues": {
          "items": {
            "$ref": "DimensionValue"
          },
          "description": "List of requested dimension values. In a PivotReport, dimension_values are only listed for dimensions included in a pivot.",
          "type": "array"
        }
      }
    },
    "DimensionOrderBy": {
      "description": "Sorts by dimension values.",
      "properties": {
        "dimensionName": {
          "type": "string",
          "description": "A dimension name in the request to order by."
        },
        "orderType": {
          "description": "Controls the rule for dimension value ordering.",
          "enumDescriptions": [
            "Unspecified.",
            "Alphanumeric sort by Unicode code point. For example, \"2\" \u003c \"A\" \u003c \"X\" \u003c \"b\" \u003c \"z\".",
            "Case insensitive alphanumeric sort by lower case Unicode code point. For example, \"2\" \u003c \"A\" \u003c \"b\" \u003c \"X\" \u003c \"z\".",
            "Dimension values are converted to numbers before sorting. For example in NUMERIC sort, \"25\" \u003c \"100\", and in `ALPHANUMERIC` sort, \"100\" \u003c \"25\". Non-numeric dimension values all have equal ordering value below all numeric values."
          ],
          "enum": [
            "ORDER_TYPE_UNSPECIFIED",
            "ALPHANUMERIC",
            "CASE_INSENSITIVE_ALPHANUMERIC",
            "NUMERIC"
          ],
          "type": "string"
        }
      },
      "id": "DimensionOrderBy",
      "type": "object"
    },
    "RunReportResponse": {
      "id": "RunReportResponse",
      "properties": {
        "metadata": {
          "$ref": "ResponseMetaData",
          "description": "Metadata for the report."
        },
        "minimums": {
          "items": {
            "$ref": "Row"
          },
          "description": "If requested, the minimum values of metrics.",
          "type": "array"
        },
        "rows": {
          "type": "array",
          "items": {
            "$ref": "Row"
          },
          "description": "Rows of dimension value combinations and metric values in the report."
        },
        "maximums": {
          "description": "If requested, the maximum values of metrics.",
          "items": {
            "$ref": "Row"
          },
          "type": "array"
        },
        "propertyQuota": {
          "description": "This Analytics Property's quota state including this request.",
          "$ref": "PropertyQuota"
        },
        "rowCount": {
          "format": "int32",
          "description": "The total number of rows in the query result, regardless of the number of rows returned in the response. For example if a query returns 175 rows and includes limit = 50 in the API request, the response will contain row_count = 175 but only 50 rows.",
          "type": "integer"
        },
        "metricHeaders": {
          "type": "array",
          "description": "Describes metric columns. The number of MetricHeaders and ordering of MetricHeaders matches the metrics present in rows.",
          "items": {
            "$ref": "MetricHeader"
          }
        },
        "totals": {
          "description": "If requested, the totaled values of metrics.",
          "items": {
            "$ref": "Row"
          },
          "type": "array"
        },
        "dimensionHeaders": {
          "items": {
            "$ref": "DimensionHeader"
          },
          "type": "array",
          "description": "Describes dimension columns. The number of DimensionHeaders and ordering of DimensionHeaders matches the dimensions present in rows."
        }
      },
      "type": "object",
      "description": "The response report table corresponding to a request."
    },
    "NumericValue": {
      "properties": {
        "int64Value": {
          "description": "Integer value",
          "type": "string",
          "format": "int64"
        },
        "doubleValue": {
          "type": "number",
          "format": "double",
          "description": "Double value"
        }
      },
      "id": "NumericValue",
      "type": "object",
      "description": "To represent a number."
    },
    "Cohort": {
      "description": "Defines a cohort. A cohort is a group of users who share a common characteristic. For example, all users with the same acquisition date belong to the same cohort.",
      "type": "object",
      "id": "Cohort",
      "properties": {
        "dateRange": {
          "description": "The cohort selects users whose first visit date is between start date and end date defined in the `dateRange`. In a cohort request, this `dateRange` is required and the `dateRanges` in the `RunReportRequest` or `RunPivotReportRequest` must be unspecified. The date range should be aligned with the cohort's granularity. If CohortsRange uses daily granularity, the date range can be aligned to any day. If CohortsRange uses weekly granularity, the date range should be aligned to the week boundary, starting at Sunday and ending Saturday. If CohortsRange uses monthly granularity, the date range should be aligned to the month, starting at the first and ending on the last day of the month.",
          "$ref": "DateRange"
        },
        "name": {
          "description": "Assigns a name to this cohort. The dimension `cohort` is valued to this name in a report response. If set, cannot begin with `cohort_` or `RESERVED_`. If not set, cohorts are named by their zero based index `cohort_0`, `cohort_1`, etc.",
          "type": "string"
        },
        "dimension": {
          "type": "string",
          "description": "The dimension used by cohort. Only supports `firstTouchDate` for retention report."
        }
      }
    },
    "RunPivotReportRequest": {
      "id": "RunPivotReportRequest",
      "description": "The request to generate a pivot report.",
      "properties": {
        "pivots": {
          "items": {
            "$ref": "Pivot"
          },
          "description": "Describes the visual format of the report's dimensions in columns or rows. The union of the fieldNames (dimension names) in all pivots must be a subset of dimension names defined in Dimensions. No two pivots can share a dimension. A dimension is only visible if it appears in a pivot.",
          "type": "array"
        },
        "entity": {
          "$ref": "Entity",
          "description": "A property whose events are tracked. Within a batch request, this entity should either be unspecified or consistent with the batch-level entity."
        },
        "cohortSpec": {
          "$ref": "CohortSpec",
          "description": "Cohort group associated with this request. If there is a cohort group in the request the 'cohort' dimension must be present."
        },
        "dateRanges": {
          "items": {
            "$ref": "DateRange"
          },
          "description": "The date range to retrieve event data for the report. If multiple date ranges are specified, event data from each date range is used in the report. A special dimension with field name \"dateRange\" can be included in a Pivot's field names; if included, the report compares between date ranges. In a cohort request, this `dateRanges` must be unspecified.",
          "type": "array"
        },
        "dimensionFilter": {
          "description": "The filter clause of dimensions. Dimensions must be requested to be used in this filter. Metrics cannot be used in this filter.",
          "$ref": "FilterExpression"
        },
        "metricFilter": {
          "description": "The filter clause of metrics. Applied at post aggregation phase, similar to SQL having-clause. Metrics must be requested to be used in this filter. Dimensions cannot be used in this filter.",
          "$ref": "FilterExpression"
        },
        "keepEmptyRows": {
          "description": "If false or unspecified, each row with all metrics equal to 0 will not be returned. If true, these rows will be returned if they are not separately removed by a filter.",
          "type": "boolean"
        },
        "currencyCode": {
          "description": "A currency code in ISO4217 format, such as \"AED\", \"USD\", \"JPY\". If the field is empty, the report uses the entity's default currency.",
          "type": "string"
        },
        "metrics": {
          "items": {
            "$ref": "Metric"
          },
          "type": "array",
          "description": "The metrics requested, at least one metric needs to be specified. All defined metrics must be used by one of the following: metric_expression, metric_filter, order_bys."
        },
        "dimensions": {
          "items": {
            "$ref": "Dimension"
          },
          "description": "The dimensions requested. All defined dimensions must be used by one of the following: dimension_expression, dimension_filter, pivots, order_bys.",
          "type": "array"
        },
        "returnPropertyQuota": {
          "description": "Toggles whether to return the current state of this Analytics Property's quota. Quota is returned in [PropertyQuota](#PropertyQuota).",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "CohortReportSettings": {
      "description": "Settings of a cohort report.",
      "properties": {
        "accumulate": {
          "description": "If true, accumulates the result from first visit day to the end day. Not supported in `RunReportRequest`.",
          "type": "boolean"
        }
      },
      "id": "CohortReportSettings",
      "type": "object"
    },
    "BatchRunPivotReportsResponse": {
      "description": "The batch response containing multiple pivot reports.",
      "properties": {
        "pivotReports": {
          "items": {
            "$ref": "RunPivotReportResponse"
          },
          "type": "array",
          "description": "Individual responses. Each response has a separate pivot report request."
        }
      },
      "id": "BatchRunPivotReportsResponse",
      "type": "object"
    },
    "ResponseMetaData": {
      "properties": {
        "dataLossFromOtherRow": {
          "type": "boolean",
          "description": "If true, indicates some buckets of dimension combinations are rolled into \"(other)\" row. This can happen for high cardinality reports."
        }
      },
      "id": "ResponseMetaData",
      "type": "object",
      "description": "Response's metadata carrying additional information about the report content."
    },
    "BetweenFilter": {
      "id": "BetweenFilter",
      "description": "To express that the result needs to be between two numbers (inclusive).",
      "properties": {
        "toValue": {
          "description": "Ends with this number.",
          "$ref": "NumericValue"
        },
        "fromValue": {
          "description": "Begins with this number.",
          "$ref": "NumericValue"
        }
      },
      "type": "object"
    },
    "ConcatenateExpression": {
      "description": "Used to combine dimension values to a single dimension.",
      "id": "ConcatenateExpression",
      "type": "object",
      "properties": {
        "dimensionNames": {
          "type": "array",
          "description": "Names of dimensions. The names must refer back to names in the dimensions field of the request.",
          "items": {
            "type": "string"
          }
        },
        "delimiter": {
          "description": "The delimiter placed between dimension names. Delimiters are often single characters such as \"|\" or \",\" but can be longer strings. If a dimension value contains the delimiter, both will be present in response with no distinction. For example if dimension 1 value = \"US,FR\", dimension 2 value = \"JP\", and delimiter = \",\", then the response will contain \"US,FR,JP\".",
          "type": "string"
        }
      }
    },
    "DimensionHeader": {
      "description": "Describes a dimension column in the report. Dimensions requested in a report produce column entries within rows and DimensionHeaders. However, dimensions used exclusively within filters or expressions do not produce columns in a report; correspondingly, those dimensions do not produce headers.",
      "type": "object",
      "id": "DimensionHeader",
      "properties": {
        "name": {
          "description": "The dimension's name.",
          "type": "string"
        }
      }
    },
    "Metric": {
      "id": "Metric",
      "properties": {
        "expression": {
          "description": "A mathematical expression for derived metrics. For example, the metric Event count per user is eventCount/totalUsers.",
          "type": "string"
        },
        "invisible": {
          "description": "Indicates if a metric is invisible. If a metric is invisible, the metric is not in the response, but can be used in filters, order_bys or being referred to in a metric expression.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The name of the metric."
        }
      },
      "type": "object",
      "description": "The quantitative measurements of a report. For example, the metric eventCount is the total number of events. Requests are allowed up to 10 metrics."
    },
    "RunReportRequest": {
      "type": "object",
      "id": "RunReportRequest",
      "properties": {
        "cohortSpec": {
          "description": "Cohort group associated with this request. If there is a cohort group in the request the 'cohort' dimension must be present.",
          "$ref": "CohortSpec"
        },
        "dateRanges": {
          "type": "array",
          "items": {
            "$ref": "DateRange"
          },
          "description": "Date ranges of data to read. If multiple date ranges are requested, each response row will contain a zero based date range index. If two date ranges overlap, the event data for the overlapping days is included in the response rows for both date ranges. In a cohort request, this `dateRanges` must be unspecified."
        },
        "orderBys": {
          "description": "Specifies how rows are ordered in the response.",
          "items": {
            "$ref": "OrderBy"
          },
          "type": "array"
        },
        "entity": {
          "description": "A property whose events are tracked. Within a batch request, this entity should either be unspecified or consistent with the batch-level entity.",
          "$ref": "Entity"
        },
        "metricFilter": {
          "$ref": "FilterExpression",
          "description": "The filter clause of metrics. Applied at post aggregation phase, similar to SQL having-clause. Metrics must be requested to be used in this filter. Dimensions cannot be used in this filter."
        },
        "dimensions": {
          "type": "array",
          "items": {
            "$ref": "Dimension"
          },
          "description": "The dimensions requested and displayed."
        },
        "metricAggregations": {
          "type": "array",
          "description": "Aggregation of metrics. Aggregated metric values will be shown in rows where the dimension_values are set to \"RESERVED_(MetricAggregation)\".",
          "items": {
            "enum": [
              "METRIC_AGGREGATION_UNSPECIFIED",
              "TOTAL",
              "MINIMUM",
              "MAXIMUM",
              "COUNT"
            ],
            "enumDescriptions": [
              "Unspecified operator.",
              "SUM operator.",
              "Minimum operator.",
              "Maximum operator.",
              "Count operator."
            ],
            "type": "string"
          }
        },
        "offset": {
          "format": "int64",
          "type": "string",
          "description": "The row count of the start row. The first row is counted as row 0."
        },
        "currencyCode": {
          "type": "string",
          "description": "A currency code in ISO4217 format, such as \"AED\", \"USD\", \"JPY\". If the field is empty, the report uses the entity's default currency."
        },
        "dimensionFilter": {
          "$ref": "FilterExpression",
          "description": "The filter clause of dimensions. Dimensions must be requested to be used in this filter. Metrics cannot be used in this filter."
        },
        "metrics": {
          "items": {
            "$ref": "Metric"
          },
          "description": "The metrics requested and displayed.",
          "type": "array"
        },
        "keepEmptyRows": {
          "description": "If false or unspecified, each row with all metrics equal to 0 will not be returned. If true, these rows will be returned if they are not separately removed by a filter.",
          "type": "boolean"
        },
        "limit": {
          "description": "The number of rows to return. If unspecified, 10 rows are returned. If -1, all rows are returned.",
          "format": "int64",
          "type": "string"
        },
        "returnPropertyQuota": {
          "type": "boolean",
          "description": "Toggles whether to return the current state of this Analytics Property's quota. Quota is returned in [PropertyQuota](#PropertyQuota)."
        }
      },
      "description": "The request to generate a report."
    },
    "Metadata": {
      "properties": {
        "name": {
          "description": "Resource name of this metadata.",
          "type": "string"
        },
        "dimensions": {
          "description": "The dimensions descriptions.",
          "items": {
            "$ref": "DimensionMetadata"
          },
          "type": "array"
        },
        "metrics": {
          "type": "array",
          "description": "The metric descriptions.",
          "items": {
            "$ref": "MetricMetadata"
          }
        }
      },
      "description": "The dimensions and metrics currently accepted in reporting methods.",
      "type": "object",
      "id": "Metadata"
    },
    "PivotDimensionHeader": {
      "properties": {
        "dimensionValues": {
          "type": "array",
          "items": {
            "$ref": "DimensionValue"
          },
          "description": "Values of multiple dimensions in a pivot."
        }
      },
      "description": "Summarizes dimension values from a row for this pivot.",
      "id": "PivotDimensionHeader",
      "type": "object"
    },
    "DimensionMetadata": {
      "properties": {
        "uiName": {
          "description": "This dimension's name within the Google Analytics user interface. For example, `Event name`.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of how this dimension is used and calculated."
        },
        "apiName": {
          "type": "string",
          "description": "This dimension's name. Useable in [Dimension](#Dimension)'s `name`. For example, `eventName`."
        },
        "deprecatedApiNames": {
          "description": "Still usable but deprecated names for this dimension. If populated, this dimension is available by either `apiName` or one of `deprecatedApiNames` for a period of time. After the deprecation period, the dimension will be available only by `apiName`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Explains a dimension.",
      "type": "object",
      "id": "DimensionMetadata"
    },
    "CaseExpression": {
      "description": "Used to convert a dimension value to a single case.",
      "id": "CaseExpression",
      "type": "object",
      "properties": {
        "dimensionName": {
          "type": "string",
          "description": "Name of a dimension. The name must refer back to a name in dimensions field of the request."
        }
      }
    },
    "InListFilter": {
      "id": "InListFilter",
      "description": "The result needs to be in a list of string values.",
      "properties": {
        "values": {
          "description": "The list of string values. Must be non-empty.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "caseSensitive": {
          "description": "If true, the string value is case sensitive.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "Dimension": {
      "properties": {
        "dimensionExpression": {
          "$ref": "DimensionExpression",
          "description": "One dimension can be the result of an expression of multiple dimensions. For example, dimension \"country, city\": concatenate(country, \", \", city)."
        },
        "name": {
          "description": "The name of the dimension.",
          "type": "string"
        }
      },
      "description": "Dimensions are attributes of your data. For example, the dimension City indicates the city, for example, \"Paris\" or \"New York\", from which an event originates. Requests are allowed up to 8 dimensions.",
      "id": "Dimension",
      "type": "object"
    },
    "MetricOrderBy": {
      "description": "Sorts by metric values.",
      "properties": {
        "metricName": {
          "type": "string",
          "description": "A metric name in the request to order by."
        }
      },
      "type": "object",
      "id": "MetricOrderBy"
    },
    "PropertyQuota": {
      "description": "Current state of all quotas for this Analytics Property. If any quota for a property is exhausted, all requests to that property will return Resource Exhausted errors.",
      "type": "object",
      "properties": {
        "tokensPerDay": {
          "$ref": "QuotaStatus",
          "description": "Analytics Properties can use up to 25,000 tokens per day. Most requests consume fewer than 10 tokens."
        },
        "tokensPerHour": {
          "$ref": "QuotaStatus",
          "description": "Analytics Properties can use up to 5,000 tokens per day. An API request consumes a single number of tokens, and that number is deducted from both the hourly and daily quotas."
        },
        "concurrentRequests": {
          "$ref": "QuotaStatus",
          "description": "Analytics Properties can send up to 10 concurrent requests."
        },
        "serverErrorsPerProjectPerHour": {
          "$ref": "QuotaStatus",
          "description": "Analytics Properties and cloud project pairs can have up to 10 server errors per hour."
        }
      },
      "id": "PropertyQuota"
    },
    "FilterExpressionList": {
      "description": "A list of filter expressions.",
      "properties": {
        "expressions": {
          "type": "array",
          "items": {
            "$ref": "FilterExpression"
          },
          "description": "A list of filter expressions."
        }
      },
      "id": "FilterExpressionList",
      "type": "object"
    },
    "OrderBy": {
      "description": "The sort options.",
      "type": "object",
      "id": "OrderBy",
      "properties": {
        "dimension": {
          "$ref": "DimensionOrderBy",
          "description": "Sorts results by a dimension's values."
        },
        "pivot": {
          "description": "Sorts results by a metric's values within a pivot column group.",
          "$ref": "PivotOrderBy"
        },
        "desc": {
          "description": "If true, sorts by descending order.",
          "type": "boolean"
        },
        "metric": {
          "description": "Sorts results by a metric's values.",
          "$ref": "MetricOrderBy"
        }
      }
    },
    "MetricValue": {
      "description": "The value of a metric.",
      "id": "MetricValue",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Measurement value. See MetricHeader for type."
        }
      }
    },
    "BatchRunPivotReportsRequest": {
      "description": "The batch request containing multiple pivot report requests.",
      "properties": {
        "requests": {
          "items": {
            "$ref": "RunPivotReportRequest"
          },
          "description": "Individual requests. Each request has a separate pivot report response. Each batch request is allowed up to 5 requests.",
          "type": "array"
        },
        "entity": {
          "$ref": "Entity",
          "description": "A property whose events are tracked. This entity must be specified for the batch. The entity within RunPivotReportRequest may either be unspecified or consistent with this entity."
        }
      },
      "type": "object",
      "id": "BatchRunPivotReportsRequest"
    },
    "NumericFilter": {
      "description": "Filters for numeric or date values.",
      "type": "object",
      "properties": {
        "value": {
          "description": "A numeric value or a date value.",
          "$ref": "NumericValue"
        },
        "operation": {
          "type": "string",
          "description": "The operation type for this filter.",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "EQUAL",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Equal",
            "Less than",
            "Less than or equal",
            "Greater than",
            "Greater than or equal"
          ]
        }
      },
      "id": "NumericFilter"
    },
    "DateRange": {
      "type": "object",
      "id": "DateRange",
      "properties": {
        "startDate": {
          "description": "The inclusive start date for the query in the format `YYYY-MM-DD`. Cannot be after `end_date`. The format `NdaysAgo`, `yesterday`, or `today` is also accepted, and in that case, the date is inferred based on the property's reporting time zone.",
          "type": "string"
        },
        "name": {
          "description": "Assigns a name to this date range. The dimension `dateRange` is valued to this name in a report response. If set, cannot begin with `date_range_` or `RESERVED_`. If not set, date ranges are named by their zero based index in the request: `date_range_0`, `date_range_1`, etc.",
          "type": "string"
        },
        "endDate": {
          "description": "The inclusive end date for the query in the format `YYYY-MM-DD`. Cannot be before `start_date`. The format `NdaysAgo`, `yesterday`, or `today` is also accepted, and in that case, the date is inferred based on the property's reporting time zone.",
          "type": "string"
        }
      },
      "description": "A contiguous set of days: startDate, startDate + 1, ..., endDate. Requests are allowed up to 4 date ranges, and the union of the ranges can cover up to 1 year."
    },
    "Entity": {
      "id": "Entity",
      "type": "object",
      "properties": {
        "propertyId": {
          "type": "string",
          "description": "A Google Analytics App + Web property id."
        }
      },
      "description": "The unique identifier of the property whose events are tracked."
    },
    "StringFilter": {
      "id": "StringFilter",
      "description": "The filter for string",
      "properties": {
        "value": {
          "type": "string",
          "description": "The string value used for the matching."
        },
        "matchType": {
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "BEGINS_WITH",
            "ENDS_WITH",
            "CONTAINS",
            "FULL_REGEXP",
            "PARTIAL_REGEXP"
          ],
          "description": "The match type for this filter.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Exact match of the string value.",
            "Begins with the string value.",
            "Ends with the string value.",
            "Contains the string value.",
            "Full regular expression match with the string value.",
            "Partial regular expression match with the string value."
          ]
        },
        "caseSensitive": {
          "description": "If true, the string value is case sensitive.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "DimensionExpression": {
      "properties": {
        "upperCase": {
          "description": "Used to convert a dimension value to upper case.",
          "$ref": "CaseExpression"
        },
        "lowerCase": {
          "$ref": "CaseExpression",
          "description": "Used to convert a dimension value to lower case."
        },
        "concatenate": {
          "$ref": "ConcatenateExpression",
          "description": "Used to combine dimension values to a single dimension. For example, dimension \"country, city\": concatenate(country, \", \", city)."
        }
      },
      "description": "Used to express a dimension which is the result of a formula of multiple dimensions. Example usages: 1) lower_case(dimension) 2) concatenate(dimension1, symbol, dimension2).",
      "id": "DimensionExpression",
      "type": "object"
    },
    "Filter": {
      "type": "object",
      "id": "Filter",
      "properties": {
        "inListFilter": {
          "description": "A filter for in list values.",
          "$ref": "InListFilter"
        },
        "stringFilter": {
          "$ref": "StringFilter",
          "description": "Strings related filter."
        },
        "nullFilter": {
          "description": "A filter for null values.",
          "type": "boolean"
        },
        "numericFilter": {
          "$ref": "NumericFilter",
          "description": "A filter for numeric or date values."
        },
        "fieldName": {
          "description": "The dimension name or metric name. Must be a name defined in dimensions or metrics.",
          "type": "string"
        },
        "betweenFilter": {
          "$ref": "BetweenFilter",
          "description": "A filter for two values."
        }
      },
      "description": "An expression to filter dimension or metric values."
    },
    "MetricHeader": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The metric's name."
        },
        "type": {
          "type": "string",
          "description": "The metric's data type.",
          "enum": [
            "METRIC_TYPE_UNSPECIFIED",
            "TYPE_INTEGER",
            "TYPE_FLOAT",
            "TYPE_SECONDS",
            "TYPE_MILLISECONDS",
            "TYPE_MINUTES",
            "TYPE_HOURS",
            "TYPE_STANDARD",
            "TYPE_CURRENCY",
            "TYPE_FEET",
            "TYPE_MILES",
            "TYPE_METERS",
            "TYPE_KILOMETERS"
          ],
          "enumDescriptions": [
            "Unspecified type.",
            "Integer type.",
            "Floating point type.",
            "A duration of seconds; a special floating point type.",
            "A duration in milliseconds; a special floating point type.",
            "A duration in minutes; a special floating point type.",
            "A duration in hours; a special floating point type.",
            "A custom metric of standard type; a special floating point type.",
            "An amount of money; a special floating point type.",
            "A length in feet; a special floating point type.",
            "A length in miles; a special floating point type.",
            "A length in meters; a special floating point type.",
            "A length in kilometers; a special floating point type."
          ]
        }
      },
      "description": "Describes a metric column in the report. Visible metrics requested in a report produce column entries within rows and MetricHeaders. However, metrics used exclusively within filters or expressions do not produce columns in a report; correspondingly, those metrics do not produce headers.",
      "id": "MetricHeader"
    },
    "MetricMetadata": {
      "id": "MetricMetadata",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of how this metric is used and calculated."
        },
        "apiName": {
          "description": "A metric name. Useable in [Metric](#Metric)'s `name`. For example, `eventCount`.",
          "type": "string"
        },
        "uiName": {
          "type": "string",
          "description": "This metric's name within the Google Analytics user interface. For example, `Event count`."
        },
        "type": {
          "enumDescriptions": [
            "Unspecified type.",
            "Integer type.",
            "Floating point type.",
            "A duration of seconds; a special floating point type.",
            "A duration in milliseconds; a special floating point type.",
            "A duration in minutes; a special floating point type.",
            "A duration in hours; a special floating point type.",
            "A custom metric of standard type; a special floating point type.",
            "An amount of money; a special floating point type.",
            "A length in feet; a special floating point type.",
            "A length in miles; a special floating point type.",
            "A length in meters; a special floating point type.",
            "A length in kilometers; a special floating point type."
          ],
          "description": "The type of this metric.",
          "type": "string",
          "enum": [
            "METRIC_TYPE_UNSPECIFIED",
            "TYPE_INTEGER",
            "TYPE_FLOAT",
            "TYPE_SECONDS",
            "TYPE_MILLISECONDS",
            "TYPE_MINUTES",
            "TYPE_HOURS",
            "TYPE_STANDARD",
            "TYPE_CURRENCY",
            "TYPE_FEET",
            "TYPE_MILES",
            "TYPE_METERS",
            "TYPE_KILOMETERS"
          ]
        },
        "expression": {
          "description": "The mathematical expression for this derived metric. Can be used in [Metric](#Metric)'s `expression` field for equivalent reports. Most metrics are not expressions, and for non-expressions, this field is empty.",
          "type": "string"
        },
        "deprecatedApiNames": {
          "type": "array",
          "description": "Still usable but deprecated names for this metric. If populated, this metric is available by either `apiName` or one of `deprecatedApiNames` for a period of time. After the deprecation period, the metric will be available only by `apiName`.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Explains a metric."
    },
    "Pivot": {
      "description": "Describes the visible dimension columns and rows in the report response.",
      "type": "object",
      "properties": {
        "limit": {
          "description": "The number of rows to return in this pivot. If unspecified, 10 rows are returned. If -1, all rows are returned.",
          "type": "string",
          "format": "int64"
        },
        "fieldNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Dimension names for visible columns in the report response. Including \"dateRange\" produces a date range column; for each row in the response, dimension values in the date range column will indicate the corresponding date range from the request."
        },
        "metricAggregations": {
          "items": {
            "enum": [
              "METRIC_AGGREGATION_UNSPECIFIED",
              "TOTAL",
              "MINIMUM",
              "MAXIMUM",
              "COUNT"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified operator.",
              "SUM operator.",
              "Minimum operator.",
              "Maximum operator.",
              "Count operator."
            ]
          },
          "description": "Aggregate the metrics by dimensions in this pivot using the specified metric_aggregations.",
          "type": "array"
        },
        "orderBys": {
          "type": "array",
          "items": {
            "$ref": "OrderBy"
          },
          "description": "Specifies how dimensions are ordered in the pivot. In the first Pivot, the OrderBys determine Row and PivotDimensionHeader ordering; in subsequent Pivots, the OrderBys determine only PivotDimensionHeader ordering. Dimensions specified in these OrderBys must be a subset of Pivot.field_names."
        },
        "offset": {
          "type": "string",
          "description": "The row count of the start row. The first row is counted as row 0.",
          "format": "int64"
        }
      },
      "id": "Pivot"
    }
  },
  "mtlsRootUrl": "https://analyticsdata.mtls.googleapis.com/",
  "protocol": "rest",
  "revision": "20201006",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "rootUrl": "https://analyticsdata.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  }
}
