{
  "discoveryVersion": "v1",
  "servicePath": "",
  "title": "Google Analytics Admin API",
  "ownerDomain": "google.com",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "canonicalName": "Google Analytics Admin",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "batchPath": "batch",
  "basePath": "",
  "documentationLink": "http://code.google.com/apis/analytics/docs/mgmt/home.html",
  "revision": "20210916",
  "schemas": {
    "GoogleAnalyticsAdminV1alphaChangeHistoryEvent": {
      "id": "GoogleAnalyticsAdminV1alphaChangeHistoryEvent",
      "description": "A set of changes within a Google Analytics account or its child properties that resulted from the same cause. Common causes would be updates made in the Google Analytics UI, changes from customer support, or automatic Google Analytics system changes.",
      "properties": {
        "id": {
          "description": "ID of this change history event. This ID is unique across Google Analytics.",
          "type": "string"
        },
        "changes": {
          "description": "A list of changes made in this change history event that fit the filters specified in SearchChangeHistoryEventsRequest.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryChange"
          }
        },
        "changesFiltered": {
          "type": "boolean",
          "description": "If true, then the list of changes returned was filtered, and does not represent all changes that occurred in this event."
        },
        "actorType": {
          "enum": [
            "ACTOR_TYPE_UNSPECIFIED",
            "USER",
            "SYSTEM",
            "SUPPORT"
          ],
          "description": "The type of actor that made this change.",
          "type": "string",
          "enumDescriptions": [
            "Unknown or unspecified actor type.",
            "Changes made by the user specified in actor_email.",
            "Changes made by the Google Analytics system.",
            "Changes made by Google Analytics support team staff."
          ]
        },
        "userActorEmail": {
          "description": "Email address of the Google account that made the change. This will be a valid email address if the actor field is set to USER, and empty otherwise. Google accounts that have been deleted will cause an error.",
          "type": "string"
        },
        "changeTime": {
          "type": "string",
          "description": "Time when change was made.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource": {
      "properties": {
        "firebaseLink": {
          "$ref": "GoogleAnalyticsAdminV1alphaFirebaseLink",
          "description": "A snapshot of a FirebaseLink resource in change history."
        },
        "conversionEvent": {
          "$ref": "GoogleAnalyticsAdminV1alphaConversionEvent",
          "description": "A snapshot of a ConversionEvent resource in change history."
        },
        "googleAdsLink": {
          "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink",
          "description": "A snapshot of a GoogleAdsLink resource in change history."
        },
        "iosAppDataStream": {
          "description": "A snapshot of an IosAppDataStream resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaIosAppDataStream"
        },
        "measurementProtocolSecret": {
          "$ref": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret",
          "description": "A snapshot of a MeasurementProtocolSecret resource in change history."
        },
        "customMetric": {
          "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric",
          "description": "A snapshot of a CustomMetric resource in change history."
        },
        "googleSignalsSettings": {
          "$ref": "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings",
          "description": "A snapshot of a GoogleSignalsSettings resource in change history."
        },
        "customDimension": {
          "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension",
          "description": "A snapshot of a CustomDimension resource in change history."
        },
        "androidAppDataStream": {
          "description": "A snapshot of an AndroidAppDataStream resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaAndroidAppDataStream"
        },
        "dataRetentionSettings": {
          "description": "A snapshot of a data retention settings resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaDataRetentionSettings"
        },
        "property": {
          "$ref": "GoogleAnalyticsAdminV1alphaProperty",
          "description": "A snapshot of a Property resource in change history."
        },
        "webDataStream": {
          "description": "A snapshot of a WebDataStream resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaWebDataStream"
        },
        "displayVideo360AdvertiserLink": {
          "description": "A snapshot of a DisplayVideo360AdvertiserLink resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink"
        },
        "displayVideo360AdvertiserLinkProposal": {
          "description": "A snapshot of a DisplayVideo360AdvertiserLinkProposal resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLinkProposal"
        },
        "account": {
          "description": "A snapshot of an Account resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccount"
        }
      },
      "description": "A snapshot of a resource as before or after the result of a change in change history.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource"
    },
    "GoogleAnalyticsAdminV1alphaListFirebaseLinksResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListFirebaseLinksResponse",
      "type": "object",
      "properties": {
        "firebaseLinks": {
          "type": "array",
          "description": "List of FirebaseLinks. This will have at most one value.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaFirebaseLink"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. Currently, Google Analytics supports only one FirebaseLink per property, so this will never be populated."
        }
      },
      "description": "Response message for ListFirebaseLinks RPC"
    },
    "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings": {
      "type": "object",
      "description": "Settings values for Google Signals. This is a singleton resource.",
      "id": "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings",
      "properties": {
        "state": {
          "description": "Status of this setting.",
          "enumDescriptions": [
            "Google Signals status defaults to GOOGLE_SIGNALS_STATE_UNSPECIFIED to represent that the user has not made an explicit choice.",
            "Google Signals is enabled.",
            "Google Signals is disabled."
          ],
          "type": "string",
          "enum": [
            "GOOGLE_SIGNALS_STATE_UNSPECIFIED",
            "GOOGLE_SIGNALS_ENABLED",
            "GOOGLE_SIGNALS_DISABLED"
          ]
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of this setting. Format: properties/{property_id}/googleSignalsSettings Example: \"properties/1000/googleSignalsSettings\""
        },
        "consent": {
          "description": "Output only. Terms of Service acceptance.",
          "enumDescriptions": [
            "Google Signals consent value defaults to GOOGLE_SIGNALS_CONSENT_UNSPECIFIED. This will be treated as GOOGLE_SIGNALS_CONSENT_NOT_CONSENTED.",
            "Terms of service have been accepted",
            "Terms of service have not been accepted"
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "GOOGLE_SIGNALS_CONSENT_UNSPECIFIED",
            "GOOGLE_SIGNALS_CONSENT_CONSENTED",
            "GOOGLE_SIGNALS_CONSENT_NOT_CONSENTED"
          ]
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksRequest": {
      "id": "GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksRequest",
      "description": "Request message for BatchUpdateUserLinks RPC.",
      "properties": {
        "requests": {
          "description": "Required. The requests specifying the user links to update. A maximum of 1000 user links can be updated in a batch.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaUpdateUserLinkRequest"
          }
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaLinkProposalStatusDetails": {
      "description": "Status information for a link proposal.",
      "id": "GoogleAnalyticsAdminV1alphaLinkProposalStatusDetails",
      "properties": {
        "linkProposalInitiatingProduct": {
          "enumDescriptions": [
            "Unspecified product.",
            "This proposal was created by a user from Google Analytics.",
            "This proposal was created by a user from a linked product (not Google Analytics)."
          ],
          "readOnly": true,
          "description": "Output only. The source of this proposal.",
          "type": "string",
          "enum": [
            "LINK_PROPOSAL_INITIATING_PRODUCT_UNSPECIFIED",
            "GOOGLE_ANALYTICS",
            "LINKED_PRODUCT"
          ]
        },
        "requestorEmail": {
          "type": "string",
          "description": "Output only. The email address of the user that proposed this linkage.",
          "readOnly": true
        },
        "linkProposalState": {
          "enumDescriptions": [
            "Unspecified state",
            "This proposal is awaiting review from a Google Analytics user. This proposal will automatically expire after some time.",
            "This proposal is awaiting review from a user of a linked product. This proposal will automatically expire after some time.",
            "This proposal has been withdrawn by an admin on the initiating product. This proposal will be automatically deleted after some time.",
            "This proposal has been declined by an admin on the receiving product. This proposal will be automatically deleted after some time.",
            "This proposal expired due to lack of response from an admin on the receiving product. This proposal will be automatically deleted after some time.",
            "This proposal has become obsolete because a link was directly created to the same external product resource that this proposal specifies. This proposal will be automatically deleted after some time."
          ],
          "type": "string",
          "description": "Output only. The state of this proposal.",
          "readOnly": true,
          "enum": [
            "LINK_PROPOSAL_STATE_UNSPECIFIED",
            "AWAITING_REVIEW_FROM_GOOGLE_ANALYTICS",
            "AWAITING_REVIEW_FROM_LINKED_PRODUCT",
            "WITHDRAWN",
            "DECLINED",
            "EXPIRED",
            "OBSOLETE"
          ]
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaBatchCreateUserLinksResponse": {
      "properties": {
        "userLinks": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
          },
          "description": "The user links created.",
          "type": "array"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaBatchCreateUserLinksResponse",
      "type": "object",
      "description": "Response message for BatchCreateUserLinks RPC."
    },
    "GoogleAnalyticsAdminV1alphaCustomDimension": {
      "id": "GoogleAnalyticsAdminV1alphaCustomDimension",
      "properties": {
        "description": {
          "description": "Optional. Description for this custom dimension. Max length of 150 characters.",
          "type": "string"
        },
        "scope": {
          "enumDescriptions": [
            "Scope unknown or not specified.",
            "Dimension scoped to an event.",
            "Dimension scoped to a user."
          ],
          "description": "Required. Immutable. The scope of this dimension.",
          "enum": [
            "DIMENSION_SCOPE_UNSPECIFIED",
            "EVENT",
            "USER"
          ],
          "type": "string"
        },
        "parameterName": {
          "description": "Required. Immutable. Tagging parameter name for this custom dimension. If this is a user-scoped dimension, then this is the user property name. If this is an event-scoped dimension, then this is the event parameter name. May only contain alphanumeric and underscore characters, starting with a letter. Max length of 24 characters for user-scoped dimensions, 40 characters for event-scoped dimensions.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name for this CustomDimension resource. Format: properties/{property}/customDimensions/{customDimension}"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name for this custom dimension as shown in the Analytics UI. Max length of 82 characters, alphanumeric plus space and underscore starting with a letter. Legacy system-generated display names may contain square brackets, but updates to this field will never permit square brackets."
        },
        "disallowAdsPersonalization": {
          "type": "boolean",
          "description": "Optional. If set to true, sets this dimension as NPA and excludes it from ads personalization. This is currently only supported by user-scoped custom dimensions."
        }
      },
      "type": "object",
      "description": "A definition for a CustomDimension."
    },
    "GoogleAnalyticsAdminV1alphaDataSharingSettings": {
      "id": "GoogleAnalyticsAdminV1alphaDataSharingSettings",
      "type": "object",
      "properties": {
        "sharingWithGoogleAnySalesEnabled": {
          "description": "Allows any of Google sales to access the data in order to suggest configuration changes to improve results.",
          "type": "boolean"
        },
        "sharingWithGoogleSupportEnabled": {
          "description": "Allows Google support to access the data in order to help troubleshoot issues.",
          "type": "boolean"
        },
        "sharingWithOthersEnabled": {
          "type": "boolean",
          "description": "Allows Google to share the data anonymously in aggregate form with others."
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name. Format: accounts/{account}/dataSharingSettings Example: \"accounts/1000/dataSharingSettings\"",
          "readOnly": true
        },
        "sharingWithGoogleAssignedSalesEnabled": {
          "description": "Allows Google sales teams that are assigned to the customer to access the data in order to suggest configuration changes to improve results. Sales team restrictions still apply when enabled.",
          "type": "boolean"
        },
        "sharingWithGoogleProductsEnabled": {
          "description": "Allows Google to use the data to improve other Google products or services.",
          "type": "boolean"
        }
      },
      "description": "A resource message representing data sharing settings of a Google Analytics account."
    },
    "GoogleAnalyticsAdminV1alphaProperty": {
      "description": "A resource message representing a Google Analytics GA4 property.",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. Time when the entity was originally created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "serviceLevel": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "GOOGLE_ANALYTICS_STANDARD",
            "GOOGLE_ANALYTICS_360"
          ],
          "description": "Output only. The Google Analytics service level that applies to this property.",
          "enumDescriptions": [
            "Service level not specified or invalid.",
            "The standard version of Google Analytics.",
            "The paid, premium version of Google Analytics."
          ]
        },
        "industryCategory": {
          "description": "Industry associated with this property Example: AUTOMOTIVE, FOOD_AND_DRINK",
          "enum": [
            "INDUSTRY_CATEGORY_UNSPECIFIED",
            "AUTOMOTIVE",
            "BUSINESS_AND_INDUSTRIAL_MARKETS",
            "FINANCE",
            "HEALTHCARE",
            "TECHNOLOGY",
            "TRAVEL",
            "OTHER",
            "ARTS_AND_ENTERTAINMENT",
            "BEAUTY_AND_FITNESS",
            "BOOKS_AND_LITERATURE",
            "FOOD_AND_DRINK",
            "GAMES",
            "HOBBIES_AND_LEISURE",
            "HOME_AND_GARDEN",
            "INTERNET_AND_TELECOM",
            "LAW_AND_GOVERNMENT",
            "NEWS",
            "ONLINE_COMMUNITIES",
            "PEOPLE_AND_SOCIETY",
            "PETS_AND_ANIMALS",
            "REAL_ESTATE",
            "REFERENCE",
            "SCIENCE",
            "SPORTS",
            "JOBS_AND_EDUCATION",
            "SHOPPING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Industry category unspecified",
            "Automotive",
            "Business and industrial markets",
            "Finance",
            "Healthcare",
            "Technology",
            "Travel",
            "Other",
            "Arts and entertainment",
            "Beauty and fitness",
            "Books and literature",
            "Food and drink",
            "Games",
            "Hobbies and leisure",
            "Home and garden",
            "Internet and telecom",
            "Law and government",
            "News",
            "Online communities",
            "People and society",
            "Pets and animals",
            "Real estate",
            "Reference",
            "Science",
            "Sports",
            "Jobs and education",
            "Shopping"
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when entity payload fields were last updated.",
          "readOnly": true
        },
        "timeZone": {
          "type": "string",
          "description": "Required. Reporting Time Zone, used as the day boundary for reports, regardless of where the data originates. If the time zone honors DST, Analytics will automatically adjust for the changes. NOTE: Changing the time zone only affects data going forward, and is not applied retroactively. Format: https://www.iana.org/time-zones Example: \"America/Los_Angeles\""
        },
        "displayName": {
          "type": "string",
          "description": "Required. Human-readable display name for this property. The max allowed display name length is 100 UTF-16 code units."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of this property. Format: properties/{property_id} Example: \"properties/1000\""
        },
        "currencyCode": {
          "type": "string",
          "description": "The currency type used in reports involving monetary values. Format: https://en.wikipedia.org/wiki/ISO_4217 Examples: \"USD\", \"EUR\", \"JPY\""
        },
        "expireTime": {
          "description": "Output only. If set, the time at which this trashed property will be permanently deleted. If not set, then this property is not currently in the trash can and is not slated to be deleted.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "parent": {
          "description": "Immutable. Resource name of this property's logical parent. Note: The Property-Moving UI can be used to change the parent. Format: accounts/{account} Example: \"accounts/100\"",
          "type": "string"
        },
        "deleteTime": {
          "readOnly": true,
          "description": "Output only. If set, the time at which this property was trashed. If not set, then this property is not currently in the trash can.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaProperty"
    },
    "GoogleAnalyticsAdminV1alphaListGoogleAdsLinksResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListGoogleAdsLinksResponse",
      "description": "Response message for ListGoogleAdsLinks RPC.",
      "properties": {
        "googleAdsLinks": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink"
          },
          "description": "List of GoogleAdsLinks.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksResponse": {
      "properties": {
        "userLinks": {
          "description": "The user links updated.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
          },
          "type": "array"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksResponse",
      "type": "object",
      "description": "Response message for BatchUpdateUserLinks RPC."
    },
    "GoogleAnalyticsAdminV1alphaListAccountsResponse": {
      "properties": {
        "accounts": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccount"
          },
          "description": "Results that were accessible to the caller.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListAccountsResponse",
      "description": "Request message for ListAccounts RPC."
    },
    "GoogleAnalyticsAdminV1alphaUpdateUserLinkRequest": {
      "type": "object",
      "description": "Request message for UpdateUserLink RPC.",
      "properties": {
        "userLink": {
          "description": "Required. The user link to update.",
          "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaUpdateUserLinkRequest"
    },
    "GoogleAnalyticsAdminV1alphaAuditUserLinksRequest": {
      "description": "Request message for AuditUserLinks RPC.",
      "properties": {
        "pageToken": {
          "description": "A page token, received from a previous `AuditUserLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `AuditUserLinks` must match the call that provided the page token.",
          "type": "string"
        },
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of user links to return. The service may return fewer than this value. If unspecified, at most 1000 user links will be returned. The maximum value is 5000; values above 5000 will be coerced to 5000."
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAuditUserLinksRequest"
    },
    "GoogleAnalyticsAdminV1alphaGlobalSiteTag": {
      "type": "object",
      "description": "Read-only resource with the tag for sending data from a website to a WebDataStream.",
      "properties": {
        "snippet": {
          "description": "Immutable. JavaScript code snippet to be pasted as the first item into the head tag of every webpage to measure.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name for this GlobalSiteTag resource. Format: properties/{propertyId}/globalSiteTag"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaGlobalSiteTag"
    },
    "GoogleAnalyticsAdminV1alphaListWebDataStreamsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListWebDataStreamsResponse",
      "type": "object",
      "properties": {
        "webDataStreams": {
          "type": "array",
          "description": "Results that matched the filter criteria and were accessible to the caller.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaWebDataStream"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Request message for ListWebDataStreams RPC."
    },
    "GoogleAnalyticsAdminV1alphaBatchDeleteUserLinksRequest": {
      "properties": {
        "requests": {
          "description": "Required. The requests specifying the user links to update. A maximum of 1000 user links can be updated in a batch.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaDeleteUserLinkRequest"
          },
          "type": "array"
        }
      },
      "description": "Request message for BatchDeleteUserLinks RPC.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaBatchDeleteUserLinksRequest"
    },
    "GoogleAnalyticsAdminV1alphaListConversionEventsResponse": {
      "properties": {
        "conversionEvents": {
          "description": "The requested conversion events",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaConversionEvent"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListConversionEventsResponse",
      "type": "object",
      "description": "Response message for ListConversionEvents RPC."
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "properties": {}
    },
    "GoogleAnalyticsAdminV1alphaArchiveCustomMetricRequest": {
      "properties": {},
      "type": "object",
      "description": "Request message for ArchiveCustomMetric RPC.",
      "id": "GoogleAnalyticsAdminV1alphaArchiveCustomMetricRequest"
    },
    "GoogleAnalyticsAdminV1alphaApproveDisplayVideo360AdvertiserLinkProposalResponse": {
      "description": "Response message for ApproveDisplayVideo360AdvertiserLinkProposal RPC.",
      "id": "GoogleAnalyticsAdminV1alphaApproveDisplayVideo360AdvertiserLinkProposalResponse",
      "properties": {
        "displayVideo360AdvertiserLink": {
          "description": "The DisplayVideo360AdvertiserLink created as a result of approving the proposal.",
          "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink"
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaChangeHistoryChange": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaChangeHistoryChange",
      "description": "A description of a change to a single Google Analytics resource.",
      "properties": {
        "action": {
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "CREATED",
            "UPDATED",
            "DELETED"
          ],
          "enumDescriptions": [
            "Action type unknown or not specified.",
            "Resource was created in this change.",
            "Resource was updated in this change.",
            "Resource was deleted in this change."
          ],
          "type": "string",
          "description": "The type of action that changed this resource."
        },
        "resourceBeforeChange": {
          "description": "Resource contents from before the change was made. If this resource was created in this change, this field will be missing.",
          "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource"
        },
        "resourceAfterChange": {
          "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource",
          "description": "Resource contents from after the change was made. If this resource was deleted in this change, this field will be missing."
        },
        "resource": {
          "description": "Resource name of the resource whose changes are described by this entry.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequest": {
      "properties": {
        "earliestChangeTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. If set, only return changes made after this time (inclusive)."
        },
        "latestChangeTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. If set, only return changes made before this time (inclusive)."
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. A page token, received from a previous `SearchChangeHistoryEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchChangeHistoryEvents` must match the call that provided the page token."
        },
        "action": {
          "items": {
            "enumDescriptions": [
              "Action type unknown or not specified.",
              "Resource was created in this change.",
              "Resource was updated in this change.",
              "Resource was deleted in this change."
            ],
            "type": "string",
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "CREATED",
              "UPDATED",
              "DELETED"
            ]
          },
          "type": "array",
          "description": "Optional. If set, only return changes that match one or more of these types of actions."
        },
        "resourceType": {
          "items": {
            "type": "string",
            "enum": [
              "CHANGE_HISTORY_RESOURCE_TYPE_UNSPECIFIED",
              "ACCOUNT",
              "PROPERTY",
              "WEB_DATA_STREAM",
              "ANDROID_APP_DATA_STREAM",
              "IOS_APP_DATA_STREAM",
              "FIREBASE_LINK",
              "GOOGLE_ADS_LINK",
              "GOOGLE_SIGNALS_SETTINGS",
              "CONVERSION_EVENT",
              "MEASUREMENT_PROTOCOL_SECRET",
              "CUSTOM_DIMENSION",
              "CUSTOM_METRIC",
              "DATA_RETENTION_SETTINGS"
            ],
            "enumDescriptions": [
              "Resource type unknown or not specified.",
              "Account resource",
              "Property resource",
              "WebDataStream resource",
              "AndroidAppDataStream resource",
              "IosAppDataStream resource",
              "FirebaseLink resource",
              "GoogleAdsLink resource",
              "GoogleSignalsSettings resource",
              "ConversionEvent resource",
              "MeasurementProtocolSecret resource",
              "CustomDimension resource",
              "CustomMetric resource",
              "DataRetentionSettings resource"
            ]
          },
          "type": "array",
          "description": "Optional. If set, only return changes if they are for a resource that matches at least one of these types."
        },
        "property": {
          "description": "Optional. Resource name for a child property. If set, only return changes made to this property or its child resources.",
          "type": "string"
        },
        "pageSize": {
          "format": "int32",
          "description": "Optional. The maximum number of ChangeHistoryEvent items to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 items will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
          "type": "integer"
        },
        "actorEmail": {
          "type": "array",
          "description": "Optional. If set, only return changes if they are made by a user in this list.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequest",
      "description": "Request message for SearchChangeHistoryEvents RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaDeleteUserLinkRequest": {
      "description": "Request message for DeleteUserLink RPC.",
      "id": "GoogleAnalyticsAdminV1alphaDeleteUserLinkRequest",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Example format: accounts/1234/userLinks/5678"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret": {
      "id": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret",
      "type": "object",
      "description": "A secret value used for sending hits to Measurement Protocol.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. Human-readable display name for this secret."
        },
        "name": {
          "description": "Output only. Resource name of this secret. This secret may be a child of any type of stream. Format: properties/{property}/webDataStreams/{webDataStream}/measurementProtocolSecrets/{measurementProtocolSecret}",
          "readOnly": true,
          "type": "string"
        },
        "secretValue": {
          "description": "Output only. The measurement protocol secret value. Pass this value to the api_secret field of the Measurement Protocol API when sending hits to this secret's parent property.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaBatchGetUserLinksResponse": {
      "description": "Response message for BatchGetUserLinks RPC.",
      "id": "GoogleAnalyticsAdminV1alphaBatchGetUserLinksResponse",
      "type": "object",
      "properties": {
        "userLinks": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
          },
          "description": "The requested user links."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLinkProposal": {
      "type": "object",
      "description": "A proposal for a link between an GA4 property and a Display & Video 360 advertiser. A proposal is converted to a DisplayVideo360AdvertiserLink once approved. Google Analytics admins approve inbound proposals while Display & Video 360 admins approve outbound proposals.",
      "properties": {
        "linkProposalStatusDetails": {
          "$ref": "GoogleAnalyticsAdminV1alphaLinkProposalStatusDetails",
          "readOnly": true,
          "description": "Output only. The status information for this link proposal."
        },
        "validationEmail": {
          "type": "string",
          "description": "Input only. On a proposal being sent to Display & Video 360, this field must be set to the email address of an admin on the target advertiser. This is used to verify that the Google Analytics admin is aware of at least one admin on the Display & Video 360 Advertiser. This does not restrict approval of the proposal to a single user. Any admin on the Display & Video 360 Advertiser may approve the proposal."
        },
        "advertiserId": {
          "type": "string",
          "description": "Immutable. The Display & Video 360 Advertiser's advertiser ID."
        },
        "costDataSharingEnabled": {
          "type": "boolean",
          "description": "Immutable. Enables the import of cost data from Display & Video 360. This can only be enabled if campaign_data_import_enabled is enabled. If this field is not set on create, it will be defaulted to true."
        },
        "campaignDataSharingEnabled": {
          "type": "boolean",
          "description": "Immutable. Enables the import of campaign data from Display & Video 360. If this field is not set on create, it will be defaulted to true."
        },
        "adsPersonalizationEnabled": {
          "type": "boolean",
          "description": "Immutable. Enables personalized advertising features with this integration. If this field is not set on create, it will be defaulted to true."
        },
        "advertiserDisplayName": {
          "type": "string",
          "description": "Output only. The display name of the Display & Video Advertiser. Only populated for proposals that originated from Display & Video 360.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The resource name for this DisplayVideo360AdvertiserLinkProposal resource. Format: properties/{propertyId}/displayVideo360AdvertiserLinkProposals/{proposalId} Note: proposalId is not the Display & Video 360 Advertiser ID",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLinkProposal"
    },
    "GoogleAnalyticsAdminV1alphaAccountSummary": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name for the account referred to in this account summary."
        },
        "propertySummaries": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaPropertySummary"
          },
          "description": "List of summaries for child accounts of this account.",
          "type": "array"
        },
        "account": {
          "description": "Resource name of account referred to by this account summary Format: accounts/{account_id} Example: \"accounts/1000\"",
          "type": "string"
        },
        "name": {
          "description": "Resource name for this account summary. Format: accountSummaries/{account_id} Example: \"accountSummaries/1000\"",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccountSummary",
      "type": "object",
      "description": "A virtual resource representing an overview of an account and all its child GA4 properties."
    },
    "GoogleAnalyticsAdminV1alphaArchiveCustomDimensionRequest": {
      "id": "GoogleAnalyticsAdminV1alphaArchiveCustomDimensionRequest",
      "description": "Request message for ArchiveCustomDimension RPC.",
      "type": "object",
      "properties": {}
    },
    "GoogleAnalyticsAdminV1alphaCreateUserLinkRequest": {
      "properties": {
        "userLink": {
          "$ref": "GoogleAnalyticsAdminV1alphaUserLink",
          "description": "Required. The user link to create."
        },
        "parent": {
          "description": "Required. Example format: accounts/1234",
          "type": "string"
        },
        "notifyNewUser": {
          "description": "Optional. If set, then email the new user notifying them that they've been granted permissions to the resource.",
          "type": "boolean"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaCreateUserLinkRequest",
      "description": "Request message for CreateUserLink RPC. Users can have multiple email addresses associated with their Google account, and one of these email addresses is the \"primary\" email address. Any of the email addresses associated with a Google account may be used for a new UserLink, but the returned UserLink will always contain the \"primary\" email address. As a result, the input and output email address for this request may differ.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaConversionEvent": {
      "description": "A conversion event in a Google Analytics property.",
      "id": "GoogleAnalyticsAdminV1alphaConversionEvent",
      "properties": {
        "eventName": {
          "type": "string",
          "description": "Immutable. The event name for this conversion event. Examples: 'click', 'purchase'"
        },
        "createTime": {
          "description": "Output only. Time when this conversion event was created in the property.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name of this conversion event. Format: properties/{property}/conversionEvents/{conversion_event}",
          "type": "string",
          "readOnly": true
        },
        "custom": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If set to true, this conversion event refers to a custom event. If set to false, this conversion event refers to a default event in GA. Default events typically have special meaning in GA. Default events are usually created for you by the GA system, but in some cases can be created by property admins. Custom events count towards the maximum number of custom conversion events that may be created per property."
        },
        "deletable": {
          "description": "Output only. If set, this event can currently be deleted via DeleteConversionEvent.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaProvisionAccountTicketRequest": {
      "properties": {
        "account": {
          "description": "The account to create.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccount"
        },
        "redirectUri": {
          "description": "Redirect URI where the user will be sent after accepting Terms of Service. Must be configured in Developers Console as a Redirect URI",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaProvisionAccountTicketRequest",
      "description": "Request message for ProvisionAccountTicket RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListDisplayVideo360AdvertiserLinkProposalsResponse": {
      "type": "object",
      "description": "Response message for ListDisplayVideo360AdvertiserLinkProposals RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListDisplayVideo360AdvertiserLinkProposalsResponse",
      "properties": {
        "displayVideo360AdvertiserLinkProposals": {
          "description": "List of DisplayVideo360AdvertiserLinkProposals.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLinkProposal"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaFirebaseLink": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaFirebaseLink",
      "description": "A link between an GA4 property and a Firebase project.",
      "properties": {
        "project": {
          "description": "Immutable. Firebase project resource name. When creating a FirebaseLink, you may provide this resource name using either a project number or project ID. Once this resource has been created, returned FirebaseLinks will always have a project_name that contains a project number. Format: 'projects/{project number}' Example: 'projects/1234'",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time when this FirebaseLink was originally created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Example format: properties/1234/firebaseLinks/5678"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink": {
      "description": "A link between a GA4 property and a Display & Video 360 advertiser.",
      "id": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink",
      "type": "object",
      "properties": {
        "costDataSharingEnabled": {
          "description": "Immutable. Enables the import of cost data from Display & Video 360 into the GA4 property. This can only be enabled if campaign_data_import_enabled is enabled. After link creation, this can only be updated from the Display & Video 360 product. If this field is not set on create, it will be defaulted to true.",
          "type": "boolean"
        },
        "advertiserDisplayName": {
          "description": "Output only. The display name of the Display & Video 360 Advertiser.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name for this DisplayVideo360AdvertiserLink resource. Format: properties/{propertyId}/displayVideo360AdvertiserLinks/{linkId} Note: linkId is not the Display & Video 360 Advertiser ID"
        },
        "campaignDataSharingEnabled": {
          "description": "Immutable. Enables the import of campaign data from Display & Video 360 into the GA4 property. After link creation, this can only be updated from the Display & Video 360 product. If this field is not set on create, it will be defaulted to true.",
          "type": "boolean"
        },
        "advertiserId": {
          "description": "Immutable. The Display & Video 360 Advertiser's advertiser ID.",
          "type": "string"
        },
        "adsPersonalizationEnabled": {
          "description": "Enables personalized advertising features with this integration. If this field is not set on create/update, it will be defaulted to true.",
          "type": "boolean"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccount": {
      "properties": {
        "updateTime": {
          "description": "Output only. Time when account payload fields were last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when this account was originally created."
        },
        "displayName": {
          "description": "Required. Human-readable display name for this account.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name of this account. Format: accounts/{account} Example: \"accounts/100\"",
          "readOnly": true,
          "type": "string"
        },
        "regionCode": {
          "description": "Country of business. Must be a Unicode CLDR region code.",
          "type": "string"
        },
        "deleted": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates whether this Account is soft-deleted or not. Deleted accounts are excluded from List results unless specifically requested."
        }
      },
      "type": "object",
      "description": "A resource message representing a Google Analytics account.",
      "id": "GoogleAnalyticsAdminV1alphaAccount"
    },
    "GoogleAnalyticsAdminV1alphaUserLink": {
      "description": "A resource message representing a user's permissions on an Account or Property resource.",
      "id": "GoogleAnalyticsAdminV1alphaUserLink",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Example format: properties/1234/userLinks/5678"
        },
        "directRoles": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Roles directly assigned to this user for this account or property. Valid values: predefinedRoles/read predefinedRoles/collaborate predefinedRoles/edit predefinedRoles/admin Excludes roles that are inherited from a higher-level entity, group, or organization admin role. A UserLink that is updated to have an empty list of direct_roles will be deleted."
        },
        "emailAddress": {
          "description": "Immutable. Email address of the user to link",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAuditUserLinksResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "userLinks": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAuditUserLink"
          },
          "description": "List of AuditUserLinks. These will be ordered stably, but in an arbitrary order."
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAuditUserLinksResponse",
      "description": "Response message for AuditUserLinks RPC."
    },
    "GoogleAnalyticsAdminV1alphaCustomMetric": {
      "description": "A definition for a custom metric.",
      "properties": {
        "measurementUnit": {
          "enumDescriptions": [
            "MeasurementUnit unspecified or missing.",
            "This metric uses default units.",
            "This metric measures a currency.",
            "This metric measures feet.",
            "This metric measures meters.",
            "This metric measures kilometers.",
            "This metric measures miles.",
            "This metric measures milliseconds.",
            "This metric measures seconds.",
            "This metric measures minutes.",
            "This metric measures hours."
          ],
          "description": "Required. The type for the custom metric's value.",
          "type": "string",
          "enum": [
            "MEASUREMENT_UNIT_UNSPECIFIED",
            "STANDARD",
            "CURRENCY",
            "FEET",
            "METERS",
            "KILOMETERS",
            "MILES",
            "MILLISECONDS",
            "SECONDS",
            "MINUTES",
            "HOURS"
          ]
        },
        "scope": {
          "enumDescriptions": [
            "Scope unknown or not specified.",
            "Metric scoped to an event."
          ],
          "type": "string",
          "description": "Required. Immutable. The scope of this custom metric.",
          "enum": [
            "METRIC_SCOPE_UNSPECIFIED",
            "EVENT"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name for this custom metric as shown in the Analytics UI. Max length of 82 characters, alphanumeric plus space and underscore starting with a letter. Legacy system-generated display names may contain square brackets, but updates to this field will never permit square brackets."
        },
        "parameterName": {
          "description": "Required. Immutable. Tagging name for this custom metric. If this is an event-scoped metric, then this is the event parameter name. May only contain alphanumeric and underscore charactes, starting with a letter. Max length of 40 characters for event-scoped metrics.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description for this custom dimension. Max length of 150 characters.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name for this CustomMetric resource. Format: properties/{property}/customMetrics/{customMetric}",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaCustomMetric",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaGoogleAdsLink": {
      "properties": {
        "customerId": {
          "type": "string",
          "description": "Immutable. Google Ads customer ID."
        },
        "creatorEmailAddress": {
          "description": "Output only. Email address of the user that created the link. An empty string will be returned if the email address can't be retrieved.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when this link was last updated."
        },
        "createTime": {
          "description": "Output only. Time when this link was originally created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Format: properties/{propertyId}/googleAdsLinks/{googleAdsLinkId} Note: googleAdsLinkId is not the Google Ads customer ID.",
          "type": "string"
        },
        "canManageClients": {
          "description": "Output only. If true, this link is for a Google Ads manager account.",
          "type": "boolean",
          "readOnly": true
        },
        "adsPersonalizationEnabled": {
          "type": "boolean",
          "description": "Enable personalized advertising features with this integration. Automatically publish my Google Analytics audience lists and Google Analytics remarketing events/parameters to the linked Google Ads account. If this field is not set on create/update, it will be defaulted to true."
        }
      },
      "description": "A link between an GA4 property and a Google Ads account.",
      "id": "GoogleAnalyticsAdminV1alphaGoogleAdsLink",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListAccountSummariesResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListAccountSummariesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "accountSummaries": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccountSummary"
          },
          "description": "Account summaries of all accounts the caller has access to."
        }
      },
      "description": "Response message for ListAccountSummaries RPC."
    },
    "GoogleAnalyticsAdminV1alphaListIosAppDataStreamsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListIosAppDataStreamsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "iosAppDataStreams": {
          "description": "Results that matched the filter criteria and were accessible to the caller.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaIosAppDataStream"
          },
          "type": "array"
        }
      },
      "description": "Request message for ListIosAppDataStreams RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListAndroidAppDataStreamsResponse": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListAndroidAppDataStreamsResponse",
      "properties": {
        "androidAppDataStreams": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAndroidAppDataStream"
          },
          "type": "array",
          "description": "Results that matched the filter criteria and were accessible to the caller."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Request message for ListAndroidDataStreams RPC."
    },
    "GoogleAnalyticsAdminV1alphaIosAppDataStream": {
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when stream payload fields were last updated.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time when this stream was originally created.",
          "readOnly": true,
          "type": "string"
        },
        "firebaseAppId": {
          "description": "Output only. ID of the corresponding iOS app in Firebase, if any. This ID can change if the iOS app is deleted and recreated.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of this Data Stream. Format: properties/{property_id}/iosAppDataStreams/{stream_id} Example: \"properties/1000/iosAppDataStreams/2000\""
        },
        "displayName": {
          "type": "string",
          "description": "Human-readable display name for the Data Stream. The max allowed display name length is 255 UTF-16 code units."
        },
        "bundleId": {
          "description": "Required. Immutable. The Apple App Store Bundle ID for the app Example: \"com.example.myiosapp\"",
          "type": "string"
        }
      },
      "description": "A resource message representing a Google Analytics IOS app stream.",
      "id": "GoogleAnalyticsAdminV1alphaIosAppDataStream",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListPropertiesResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListPropertiesResponse",
      "type": "object",
      "description": "Response message for ListProperties RPC.",
      "properties": {
        "properties": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "type": "array",
          "description": "Results that matched the filter criteria and were accessible to the caller."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings": {
      "type": "object",
      "properties": {
        "videoEngagementEnabled": {
          "description": "If enabled, capture video play, progress, and complete events as visitors view embedded videos on your site.",
          "type": "boolean"
        },
        "pageLoadsEnabled": {
          "description": "Output only. If enabled, capture a page view event each time a page loads.",
          "type": "boolean",
          "readOnly": true
        },
        "pageViewsEnabled": {
          "readOnly": true,
          "description": "Output only. If enabled, capture a page view event each time a page loads or the website changes the browser history state.",
          "type": "boolean"
        },
        "pageChangesEnabled": {
          "type": "boolean",
          "description": "If enabled, capture a page view event each time the website changes the browser history state."
        },
        "streamEnabled": {
          "type": "boolean",
          "description": "Indicates whether Enhanced Measurement Settings will be used to automatically measure interactions and content on this web stream. Changing this value does not affect the settings themselves, but determines whether they are respected."
        },
        "searchQueryParameter": {
          "description": "Required. URL query parameters to interpret as site search parameters. Max length is 1024 characters. Must not be empty.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name of this Data Stream. Format: properties/{property_id}/webDataStreams/{stream_id}/enhancedMeasurementSettings Example: \"properties/1000/webDataStreams/2000/enhancedMeasurementSettings\"",
          "readOnly": true,
          "type": "string"
        },
        "uriQueryParameter": {
          "type": "string",
          "description": "Additional URL query parameters. Max length is 1024 characters."
        },
        "fileDownloadsEnabled": {
          "description": "If enabled, capture a file download event each time a link is clicked with a common document, compressed file, application, video, or audio extension.",
          "type": "boolean"
        },
        "scrollsEnabled": {
          "type": "boolean",
          "description": "If enabled, capture scroll events each time a visitor gets to the bottom of a page."
        },
        "siteSearchEnabled": {
          "type": "boolean",
          "description": "If enabled, capture a view search results event each time a visitor performs a search on your site (based on a query parameter)."
        },
        "outboundClicksEnabled": {
          "description": "If enabled, capture an outbound click event each time a visitor clicks a link that leads them away from your domain.",
          "type": "boolean"
        }
      },
      "description": "Singleton resource under a WebDataStream, configuring measurement of additional site interactions and content.",
      "id": "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings"
    },
    "GoogleAnalyticsAdminV1alphaProvisionAccountTicketResponse": {
      "description": "Response message for ProvisionAccountTicket RPC.",
      "properties": {
        "accountTicketId": {
          "type": "string",
          "description": "The param to be passed in the ToS link."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaProvisionAccountTicketResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaCancelDisplayVideo360AdvertiserLinkProposalRequest": {
      "properties": {},
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaCancelDisplayVideo360AdvertiserLinkProposalRequest",
      "description": "Request message for CancelDisplayVideo360AdvertiserLinkProposal RPC."
    },
    "GoogleAnalyticsAdminV1alphaListMeasurementProtocolSecretsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListMeasurementProtocolSecretsResponse",
      "description": "Response message for ListMeasurementProtocolSecret RPC",
      "type": "object",
      "properties": {
        "measurementProtocolSecrets": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret"
          },
          "description": "A list of secrets for the parent stream specified in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaDataRetentionSettings": {
      "id": "GoogleAnalyticsAdminV1alphaDataRetentionSettings",
      "type": "object",
      "properties": {
        "eventDataRetention": {
          "enumDescriptions": [
            "Data retention time duration is not specified.",
            "The data retention time duration is 2 months.",
            "The data retention time duration is 14 months.",
            "The data retention time duration is 26 months. Available to 360 properties only.",
            "The data retention time duration is 38 months. Available to 360 properties only.",
            "The data retention time duration is 50 months. Available to 360 properties only."
          ],
          "type": "string",
          "enum": [
            "RETENTION_DURATION_UNSPECIFIED",
            "TWO_MONTHS",
            "FOURTEEN_MONTHS",
            "TWENTY_SIX_MONTHS",
            "THIRTY_EIGHT_MONTHS",
            "FIFTY_MONTHS"
          ],
          "description": "The length of time that event-level data is retained."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name for this DataRetentionSetting resource. Format: properties/{property}/dataRetentionSettings"
        },
        "resetUserDataOnNewActivity": {
          "type": "boolean",
          "description": "If true, reset the retention period for the user identifier with every event from that user."
        }
      },
      "description": "Settings values for data retention. This is a singleton resource."
    },
    "GoogleAnalyticsAdminV1alphaAndroidAppDataStream": {
      "properties": {
        "firebaseAppId": {
          "description": "Output only. ID of the corresponding Android app in Firebase, if any. This ID can change if the Android app is deleted and recreated.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Human-readable display name for the Data Stream. The max allowed display name length is 255 UTF-16 code units.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of this Data Stream. Format: properties/{property_id}/androidAppDataStreams/{stream_id} Example: \"properties/1000/androidAppDataStreams/2000\"",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time when this stream was originally created.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when stream payload fields were last updated."
        },
        "packageName": {
          "type": "string",
          "description": "Immutable. The package name for the app being measured. Example: \"com.example.myandroidapp\""
        }
      },
      "description": "A resource message representing a Google Analytics Android app stream.",
      "id": "GoogleAnalyticsAdminV1alphaAndroidAppDataStream",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListCustomMetricsResponse": {
      "description": "Response message for ListCustomMetrics RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListCustomMetricsResponse",
      "type": "object",
      "properties": {
        "customMetrics": {
          "type": "array",
          "description": "List of CustomMetrics.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAuditUserLink": {
      "properties": {
        "effectiveRoles": {
          "description": "Union of all permissions a user has at this account or property (includes direct permissions, group-inherited permissions, etc.). Format: predefinedRoles/read",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "directRoles": {
          "description": "Roles directly assigned to this user for this entity. Format: predefinedRoles/read Excludes roles that are inherited from an account (if this is for a property), group, or organization admin role.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "Example format: properties/1234/userLinks/5678",
          "type": "string"
        },
        "emailAddress": {
          "type": "string",
          "description": "Email address of the linked user"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAuditUserLink",
      "type": "object",
      "description": "Read-only resource used to summarize a principal's effective roles."
    },
    "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsResponse",
      "description": "Response message for SearchAccounts RPC.",
      "properties": {
        "changeHistoryEvents": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryEvent"
          },
          "description": "Results that were accessible to the caller.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaPropertySummary": {
      "description": "A virtual resource representing metadata for an GA4 property.",
      "id": "GoogleAnalyticsAdminV1alphaPropertySummary",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Display name for the property referred to in this account summary.",
          "type": "string"
        },
        "property": {
          "type": "string",
          "description": "Resource name of property referred to by this property summary Format: properties/{property_id} Example: \"properties/1000\""
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListUserLinksResponse": {
      "type": "object",
      "properties": {
        "userLinks": {
          "description": "List of UserLinks. These will be ordered stably, but in an arbitrary order.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for ListUserLinks RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListUserLinksResponse"
    },
    "GoogleAnalyticsAdminV1alphaListCustomDimensionsResponse": {
      "type": "object",
      "description": "Response message for ListCustomDimensions RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListCustomDimensionsResponse",
      "properties": {
        "customDimensions": {
          "type": "array",
          "description": "List of CustomDimensions.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListDisplayVideo360AdvertiserLinksResponse": {
      "description": "Response message for ListDisplayVideo360AdvertiserLinks RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListDisplayVideo360AdvertiserLinksResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "displayVideo360AdvertiserLinks": {
          "description": "List of DisplayVideo360AdvertiserLinks.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink"
          },
          "type": "array"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaApproveDisplayVideo360AdvertiserLinkProposalRequest": {
      "type": "object",
      "properties": {},
      "id": "GoogleAnalyticsAdminV1alphaApproveDisplayVideo360AdvertiserLinkProposalRequest",
      "description": "Request message for ApproveDisplayVideo360AdvertiserLinkProposal RPC."
    },
    "GoogleAnalyticsAdminV1alphaBatchCreateUserLinksRequest": {
      "description": "Request message for BatchCreateUserLinks RPC.",
      "properties": {
        "requests": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCreateUserLinkRequest"
          },
          "description": "Required. The requests specifying the user links to create. A maximum of 1000 user links can be created in a batch.",
          "type": "array"
        },
        "notifyNewUsers": {
          "type": "boolean",
          "description": "Optional. If set, then email the new users notifying them that they've been granted permissions to the resource. Regardless of whether this is set or not, notify_new_user field inside each individual request is ignored."
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaBatchCreateUserLinksRequest"
    },
    "GoogleAnalyticsAdminV1alphaWebDataStream": {
      "type": "object",
      "description": "A resource message representing a Google Analytics web stream.",
      "id": "GoogleAnalyticsAdminV1alphaWebDataStream",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time when this stream was originally created.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Resource name of this Data Stream. Format: properties/{property_id}/webDataStreams/{stream_id} Example: \"properties/1000/webDataStreams/2000\"",
          "readOnly": true,
          "type": "string"
        },
        "defaultUri": {
          "description": "Immutable. Domain name of the web app being measured, or empty. Example: \"http://www.google.com\", \"https://www.google.com\"",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Human-readable display name for the Data Stream. The max allowed display name length is 100 UTF-16 code units."
        },
        "firebaseAppId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. ID of the corresponding web app in Firebase, if any. This ID can change if the web app is deleted and recreated."
        },
        "updateTime": {
          "description": "Output only. Time when stream payload fields were last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "measurementId": {
          "description": "Output only. Analytics \"Measurement ID\", without the \"G-\" prefix. Example: \"G-1A2BCD345E\" would just be \"1A2BCD345E\"",
          "readOnly": true,
          "type": "string"
        }
      }
    }
  },
  "resources": {
    "accountSummaries": {
      "methods": {
        "list": {
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A page token, received from a previous `ListAccountSummaries` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountSummaries` must match the call that provided the page token."
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of AccountSummary resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)"
            }
          },
          "flatPath": "v1alpha/accountSummaries",
          "id": "analyticsadmin.accountSummaries.list",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaListAccountSummariesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "description": "Returns summaries of all accounts accessible by the caller.",
          "parameterOrder": [],
          "httpMethod": "GET",
          "path": "v1alpha/accountSummaries"
        }
      }
    },
    "properties": {
      "methods": {
        "get": {
          "path": "v1alpha/{+name}",
          "id": "analyticsadmin.properties.get",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The name of the property to lookup. Format: properties/{property_id} Example: \"properties/1000\"",
              "pattern": "^properties/[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "description": "Lookup for a single \"GA4\" Property.",
          "httpMethod": "GET",
          "flatPath": "v1alpha/properties/{propertiesId}",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "parameterOrder": [
            "name"
          ]
        },
        "updateDataRetentionSettings": {
          "parameters": {
            "name": {
              "description": "Output only. Resource name for this DataRetentionSetting resource. Format: properties/{property}/dataRetentionSettings",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^properties/[^/]+/dataRetentionSettings$"
            },
            "updateMask": {
              "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "v1alpha/properties/{propertiesId}/dataRetentionSettings",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaDataRetentionSettings"
          },
          "path": "v1alpha/{+name}",
          "description": "Updates the singleton data retention settings for this property.",
          "id": "analyticsadmin.properties.updateDataRetentionSettings",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaDataRetentionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "httpMethod": "PATCH"
        },
        "patch": {
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "httpMethod": "PATCH",
          "path": "v1alpha/{+name}",
          "description": "Updates a property.",
          "id": "analyticsadmin.properties.patch",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "pattern": "^properties/[^/]+$",
              "required": true,
              "description": "Output only. Resource name of this property. Format: properties/{property_id} Example: \"properties/1000\""
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "format": "google-fieldmask"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1alpha/properties/{propertiesId}"
        },
        "list": {
          "description": "Returns child Properties under the specified parent Account. Only \"GA4\" properties will be returned. Properties will be excluded if the caller does not have access. Soft-deleted (ie: \"trashed\") properties are excluded by default. Returns an empty list if no relevant properties are found.",
          "parameters": {
            "filter": {
              "type": "string",
              "location": "query",
              "description": "Required. An expression for filtering the results of the request. Fields eligible for filtering are: `parent:`(The resource name of the parent account) or `firebase_project:`(The id or number of the linked firebase project). Some examples of filters: ``` | Filter | Description | |-----------------------------|-------------------------------------------| | parent:accounts/123 | The account with account id: 123. | | firebase_project:project-id | The firebase project with id: project-id. | | firebase_project:123 | The firebase project with number: 123. | ```"
            },
            "showDeleted": {
              "type": "boolean",
              "description": "Whether to include soft-deleted (ie: \"trashed\") Properties in the results. Properties can be inspected to determine whether they are deleted or not.",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "A page token, received from a previous `ListProperties` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProperties` must match the call that provided the page token.",
              "type": "string"
            },
            "pageSize": {
              "format": "int32",
              "description": "The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
              "location": "query",
              "type": "integer"
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaListPropertiesResponse"
          },
          "id": "analyticsadmin.properties.list",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "parameterOrder": [],
          "flatPath": "v1alpha/properties",
          "httpMethod": "GET",
          "path": "v1alpha/properties"
        },
        "getGoogleSignalsSettings": {
          "path": "v1alpha/{+name}",
          "flatPath": "v1alpha/properties/{propertiesId}/googleSignalsSettings",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Lookup for Google Signals settings for a property.",
          "parameters": {
            "name": {
              "description": "Required. The name of the google signals settings to retrieve. Format: properties/{property}/googleSignalsSettings",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^properties/[^/]+/googleSignalsSettings$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "id": "analyticsadmin.properties.getGoogleSignalsSettings",
          "httpMethod": "GET"
        },
        "getDataRetentionSettings": {
          "parameters": {
            "name": {
              "description": "Required. The name of the settings to lookup. Format: properties/{property}/dataRetentionSettings Example: \"properties/1000/dataRetentionSettings\"",
              "type": "string",
              "location": "path",
              "pattern": "^properties/[^/]+/dataRetentionSettings$",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "flatPath": "v1alpha/properties/{propertiesId}/dataRetentionSettings",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaDataRetentionSettings"
          },
          "httpMethod": "GET",
          "id": "analyticsadmin.properties.getDataRetentionSettings",
          "description": "Returns the singleton data retention settings for this property.",
          "path": "v1alpha/{+name}",
          "parameterOrder": [
            "name"
          ]
        },
        "create": {
          "parameters": {},
          "parameterOrder": [],
          "flatPath": "v1alpha/properties",
          "httpMethod": "POST",
          "path": "v1alpha/properties",
          "id": "analyticsadmin.properties.create",
          "description": "Creates an \"GA4\" property with the specified location and attributes.",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          }
        },
        "delete": {
          "httpMethod": "DELETE",
          "description": "Marks target Property as soft-deleted (ie: \"trashed\") and returns it. This API does not have a method to restore soft-deleted properties. However, they can be restored using the Trash Can UI. If the properties are not restored before the expiration time, the Property and all child resources (eg: GoogleAdsLinks, Streams, UserLinks) will be permanently purged. https://support.google.com/analytics/answer/6154772 Returns an error if the target is not found, or is not an GA4 Property.",
          "parameters": {
            "name": {
              "pattern": "^properties/[^/]+$",
              "location": "path",
              "description": "Required. The name of the Property to soft-delete. Format: properties/{property_id} Example: \"properties/1000\"",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "v1alpha/properties/{propertiesId}",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "id": "analyticsadmin.properties.delete",
          "path": "v1alpha/{+name}"
        },
        "updateGoogleSignalsSettings": {
          "description": "Updates Google Signals settings for a property.",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings"
          },
          "flatPath": "v1alpha/properties/{propertiesId}/googleSignalsSettings",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^properties/[^/]+/googleSignalsSettings$",
              "description": "Output only. Resource name of this setting. Format: properties/{property_id}/googleSignalsSettings Example: \"properties/1000/googleSignalsSettings\"",
              "type": "string",
              "location": "path"
            },
            "updateMask": {
              "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "id": "analyticsadmin.properties.updateGoogleSignalsSettings",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1alpha/{+name}",
          "httpMethod": "PATCH"
        }
      },
      "resources": {
        "customDimensions": {
          "methods": {
            "get": {
              "path": "v1alpha/{+name}",
              "description": "Lookup for a single CustomDimension.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "id": "analyticsadmin.properties.customDimensions.get",
              "flatPath": "v1alpha/properties/{propertiesId}/customDimensions/{customDimensionsId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the CustomDimension to get. Example format: properties/1234/customDimensions/5678",
                  "required": true,
                  "location": "path",
                  "pattern": "^properties/[^/]+/customDimensions/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListCustomDimensionsResponse"
              },
              "id": "analyticsadmin.properties.customDimensions.list",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "type": "integer",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. Example format: properties/1234"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token, received from a previous `ListCustomDimensions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCustomDimensions` must match the call that provided the page token.",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "description": "Lists CustomDimensions on a property.",
              "flatPath": "v1alpha/properties/{propertiesId}/customDimensions",
              "path": "v1alpha/{+parent}/customDimensions"
            },
            "archive": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Archives a CustomDimension on a property.",
              "path": "v1alpha/{+name}:archive",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the CustomDimension to archive. Example format: properties/1234/customDimensions/5678",
                  "pattern": "^properties/[^/]+/customDimensions/[^/]+$"
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaArchiveCustomDimensionRequest"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/customDimensions/{customDimensionsId}:archive",
              "id": "analyticsadmin.properties.customDimensions.archive",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "description": "Creates a CustomDimension.",
              "path": "v1alpha/{+parent}/customDimensions",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/customDimensions",
              "id": "analyticsadmin.properties.customDimensions.create",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
              },
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. Example format: properties/1234",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "POST"
            },
            "patch": {
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Updates a CustomDimension on a property.",
              "id": "analyticsadmin.properties.customDimensions.patch",
              "httpMethod": "PATCH",
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/properties/{propertiesId}/customDimensions/{customDimensionsId}",
              "parameters": {
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "name": {
                  "description": "Output only. Resource name for this CustomDimension resource. Format: properties/{property}/customDimensions/{customDimension}",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^properties/[^/]+/customDimensions/[^/]+$"
                }
              }
            }
          }
        },
        "displayVideo360AdvertiserLinks": {
          "methods": {
            "create": {
              "id": "analyticsadmin.properties.displayVideo360AdvertiserLinks.create",
              "flatPath": "v1alpha/properties/{propertiesId}/displayVideo360AdvertiserLinks",
              "description": "Creates a DisplayVideo360AdvertiserLink. This can only be utilized by users who have proper authorization both on the Google Analytics property and on the Display & Video 360 advertiser. Users who do not have access to the Display & Video 360 advertiser should instead seek to create a DisplayVideo360LinkProposal.",
              "path": "v1alpha/{+parent}/displayVideo360AdvertiserLinks",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Example format: properties/1234"
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink"
              }
            },
            "patch": {
              "id": "analyticsadmin.properties.displayVideo360AdvertiserLinks.patch",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/displayVideo360AdvertiserLinks/{displayVideo360AdvertiserLinksId}",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Output only. The resource name for this DisplayVideo360AdvertiserLink resource. Format: properties/{propertyId}/displayVideo360AdvertiserLinks/{linkId} Note: linkId is not the Display & Video 360 Advertiser ID",
                  "type": "string",
                  "location": "path",
                  "pattern": "^properties/[^/]+/displayVideo360AdvertiserLinks/[^/]+$"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "type": "string",
                  "location": "query"
                }
              },
              "path": "v1alpha/{+name}",
              "description": "Updates a DisplayVideo360AdvertiserLink on a property.",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink"
              }
[...]
