{
  "version": "v3",
  "revision": "20190807",
  "baseUrl": "https://www.googleapis.com/analytics/v3/",
  "description": "Views and manages your Google Analytics data.",
  "protocol": "rest",
  "servicePath": "analytics/v3/",
  "etag": "\"9eZ1uxVRThTDhLJCZHhqs3eQWz4/o_TVyaWurnALX6ZIQ952-U5m22Y\"",
  "kind": "discovery#restDescription",
  "name": "analytics",
  "documentationLink": "https://developers.google.com/analytics/",
  "batchPath": "batch/analytics/v3",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "resources": {
    "provisioning": {
      "methods": {
        "createAccountTicket": {
          "request": {
            "$ref": "AccountTicket"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "AccountTicket"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.provision"
          ],
          "description": "Creates an account ticket.",
          "path": "provisioning/createAccountTicket",
          "id": "analytics.provisioning.createAccountTicket"
        },
        "createAccountTree": {
          "id": "analytics.provisioning.createAccountTree",
          "request": {
            "$ref": "AccountTreeRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.provision"
          ],
          "path": "provisioning/createAccountTree",
          "description": "Provision account.",
          "response": {
            "$ref": "AccountTreeResponse"
          }
        }
      }
    },
    "data": {
      "resources": {
        "mcf": {
          "methods": {
            "get": {
              "parameterOrder": [
                "ids",
                "start-date",
                "end-date",
                "metrics"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "response": {
                "$ref": "McfData"
              },
              "description": "Returns Analytics Multi-Channel Funnels data for a view (profile).",
              "httpMethod": "GET",
              "parameters": {
                "start-date": {
                  "required": true,
                  "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)",
                  "type": "string",
                  "location": "query",
                  "description": "Start date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo."
                },
                "start-index": {
                  "minimum": "1",
                  "location": "query",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "type": "integer",
                  "format": "int32"
                },
                "filters": {
                  "description": "A comma-separated list of dimension or metric filters to be applied to the Analytics data.",
                  "type": "string",
                  "location": "query",
                  "pattern": "mcf:.+"
                },
                "max-results": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of entries to include in this feed."
                },
                "samplingLevel": {
                  "description": "The desired sampling level.",
                  "type": "string",
                  "enum": [
                    "DEFAULT",
                    "FASTER",
                    "HIGHER_PRECISION"
                  ],
                  "enumDescriptions": [
                    "Returns response with a sample size that balances speed and accuracy.",
                    "Returns a fast response with a smaller sample size.",
                    "Returns a more accurate response using a large sample size, but this may result in the response being slower."
                  ],
                  "location": "query"
                },
                "metrics": {
                  "required": true,
                  "description": "A comma-separated list of Multi-Channel Funnels metrics. E.g., 'mcf:totalConversions,mcf:totalConversionValue'. At least one metric must be specified.",
                  "type": "string",
                  "location": "query",
                  "pattern": "mcf:.+"
                },
                "dimensions": {
                  "location": "query",
                  "pattern": "(mcf:.+)?",
                  "description": "A comma-separated list of Multi-Channel Funnels dimensions. E.g., 'mcf:source,mcf:medium'.",
                  "type": "string"
                },
                "ids": {
                  "description": "Unique table ID for retrieving Analytics data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID.",
                  "pattern": "ga:[0-9]+",
                  "location": "query",
                  "required": true,
                  "type": "string"
                },
                "end-date": {
                  "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)",
                  "location": "query",
                  "description": "End date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo.",
                  "required": true,
                  "type": "string"
                },
                "sort": {
                  "location": "query",
                  "pattern": "(-)?mcf:.+",
                  "description": "A comma-separated list of dimensions or metrics that determine the sort order for the Analytics data.",
                  "type": "string"
                }
              },
              "path": "data/mcf",
              "id": "analytics.data.mcf.get"
            }
          }
        },
        "realtime": {
          "methods": {
            "get": {
              "parameters": {
                "sort": {
                  "pattern": "(-)?((ga:.+)|(rt:.+))",
                  "location": "query",
                  "type": "string",
                  "description": "A comma-separated list of dimensions or metrics that determine the sort order for real time data."
                },
                "metrics": {
                  "location": "query",
                  "required": true,
                  "pattern": "(ga:.+)|(rt:.+)",
                  "description": "A comma-separated list of real time metrics. E.g., 'rt:activeUsers'. At least one metric must be specified.",
                  "type": "string"
                },
                "filters": {
                  "pattern": "(ga:.+)|(rt:.+)",
                  "location": "query",
                  "type": "string",
                  "description": "A comma-separated list of dimension or metric filters to be applied to real time data."
                },
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of entries to include in this feed.",
                  "format": "int32",
                  "location": "query"
                },
                "ids": {
                  "type": "string",
                  "required": true,
                  "pattern": "ga:[0-9]+",
                  "description": "Unique table ID for retrieving real time data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID.",
                  "location": "query"
                },
                "dimensions": {
                  "description": "A comma-separated list of real time dimensions. E.g., 'rt:medium,rt:city'.",
                  "pattern": "(ga:.+)|(rt:.+)",
                  "type": "string",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "description": "Returns real time data for a view (profile).",
              "id": "analytics.data.realtime.get",
              "parameterOrder": [
                "ids",
                "metrics"
              ],
              "response": {
                "$ref": "RealtimeData"
              },
              "path": "data/realtime",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            }
          }
        },
        "ga": {
          "methods": {
            "get": {
              "description": "Returns Analytics data for a view (profile).",
              "path": "data/ga",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "response": {
                "$ref": "GaData"
              },
              "httpMethod": "GET",
              "parameters": {
                "output": {
                  "description": "The selected format for the response. Default format is JSON.",
                  "type": "string",
                  "enum": [
                    "dataTable",
                    "json"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "Returns the response in Google Charts Data Table format. This is useful in creating visualization using Google Charts.",
                    "Returns the response in standard JSON format."
                  ]
                },
                "dimensions": {
                  "location": "query",
                  "description": "A comma-separated list of Analytics dimensions. E.g., 'ga:browser,ga:city'.",
                  "type": "string",
                  "pattern": "(ga:.+)?"
                },
                "sort": {
                  "description": "A comma-separated list of dimensions or metrics that determine the sort order for Analytics data.",
                  "pattern": "(-)?ga:.+",
                  "type": "string",
                  "location": "query"
                },
                "ids": {
                  "description": "Unique table ID for retrieving Analytics data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID.",
                  "required": true,
                  "pattern": "ga:[0-9]+",
                  "type": "string",
                  "location": "query"
                },
                "filters": {
                  "description": "A comma-separated list of dimension or metric filters to be applied to Analytics data.",
                  "pattern": "ga:.+",
                  "type": "string",
                  "location": "query"
                },
                "end-date": {
                  "description": "End date for fetching Analytics data. Request can should specify an end date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is yesterday.",
                  "required": true,
                  "location": "query",
                  "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)",
                  "type": "string"
                },
                "metrics": {
                  "description": "A comma-separated list of Analytics metrics. E.g., 'ga:sessions,ga:pageviews'. At least one metric must be specified.",
                  "location": "query",
                  "required": true,
                  "pattern": "ga:.+",
                  "type": "string"
                },
                "samplingLevel": {
                  "enum": [
                    "DEFAULT",
                    "FASTER",
                    "HIGHER_PRECISION"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "Returns response with a sample size that balances speed and accuracy.",
                    "Returns a fast response with a smaller sample size.",
                    "Returns a more accurate response using a large sample size, but this may result in the response being slower."
                  ],
                  "description": "The desired sampling level.",
                  "type": "string"
                },
                "start-date": {
                  "type": "string",
                  "description": "Start date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo.",
                  "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)",
                  "location": "query",
                  "required": true
                },
                "max-results": {
                  "format": "int32",
                  "description": "The maximum number of entries to include in this feed.",
                  "type": "integer",
                  "location": "query"
                },
                "start-index": {
                  "location": "query",
                  "minimum": "1",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "type": "integer",
                  "format": "int32"
                },
                "segment": {
                  "location": "query",
                  "description": "An Analytics segment to be applied to data.",
                  "type": "string"
                },
                "include-empty-rows": {
                  "type": "boolean",
                  "location": "query",
                  "description": "The response will include empty rows if this parameter is set to true, the default is true"
                }
              },
              "parameterOrder": [
                "ids",
                "start-date",
                "end-date",
                "metrics"
              ],
              "id": "analytics.data.ga.get"
            }
          }
        }
      }
    },
    "userDeletion": {
      "resources": {
        "userDeletionRequest": {
          "methods": {
            "upsert": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.user.deletion"
              ],
              "description": "Insert or update a user deletion requests.",
              "request": {
                "$ref": "UserDeletionRequest"
              },
              "id": "analytics.userDeletion.userDeletionRequest.upsert",
              "path": "userDeletion/userDeletionRequests:upsert",
              "httpMethod": "POST",
              "response": {
                "$ref": "UserDeletionRequest"
              }
            }
          }
        }
      }
    },
    "management": {
      "resources": {
        "unsampledReports": {
          "methods": {
            "insert": {
              "parameters": {
                "profileId": {
                  "type": "string",
                  "required": true,
                  "description": "View (Profile) ID to create the unsampled report for.",
                  "location": "path"
                },
                "accountId": {
                  "description": "Account ID to create the unsampled report for.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "location": "path",
                  "type": "string",
                  "description": "Web property ID to create the unsampled report for.",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "id": "analytics.management.unsampledReports.insert",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports",
              "description": "Create a new unsampled report.",
              "response": {
                "$ref": "UnsampledReport"
              },
              "request": {
                "$ref": "UnsampledReport"
              }
            },
            "get": {
              "id": "analytics.management.unsampledReports.get",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports/{unsampledReportId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Returns a single unsampled report.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "unsampledReportId"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "UnsampledReport"
              },
              "parameters": {
                "unsampledReportId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "ID of the unsampled report to retrieve."
                },
                "webPropertyId": {
                  "required": true,
                  "description": "Web property ID to retrieve unsampled reports for.",
                  "type": "string",
                  "location": "path"
                },
                "profileId": {
                  "type": "string",
                  "description": "View (Profile) ID to retrieve unsampled report for.",
                  "required": true,
                  "location": "path"
                },
                "accountId": {
                  "description": "Account ID to retrieve unsampled report for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "list": {
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "response": {
                "$ref": "UnsampledReports"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports",
              "id": "analytics.management.unsampledReports.list",
              "description": "Lists unsampled reports to which the user has access.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Account ID to retrieve unsampled reports for. Must be a specific account ID, ~all is not supported."
                },
                "start-index": {
                  "minimum": "1",
                  "description": "An index of the first unsampled report to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "max-results": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of unsampled reports to include in this response.",
                  "type": "integer"
                },
                "webPropertyId": {
                  "description": "Web property ID to retrieve unsampled reports for. Must be a specific web property ID, ~all is not supported.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "profileId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "View (Profile) ID to retrieve unsampled reports for. Must be a specific view (profile) ID, ~all is not supported."
                }
              }
            },
            "delete": {
              "description": "Deletes an unsampled report.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "unsampledReportId"
              ],
              "id": "analytics.management.unsampledReports.delete",
              "httpMethod": "DELETE",
              "parameters": {
                "unsampledReportId": {
                  "description": "ID of the unsampled report to be deleted.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "profileId": {
                  "description": "View (Profile) ID to delete the unsampled report for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "webPropertyId": {
                  "description": "Web property ID to delete the unsampled reports for.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Account ID to delete the unsampled report for."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports/{unsampledReportId}"
            }
          }
        },
        "profiles": {
          "methods": {
            "list": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles",
              "response": {
                "$ref": "Profiles"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "description": "Lists views (profiles) to which the user has access.",
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Account ID for the view (profiles) to retrieve. Can either be a specific account ID or '~all', which refers to all the accounts to which the user has access."
                },
                "max-results": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of views (profiles) to include in this response.",
                  "location": "query"
                },
                "start-index": {
                  "minimum": "1",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Web property ID for the views (profiles) to retrieve. Can either be a specific web property ID or '~all', which refers to all the web properties to which the user has access."
                }
              },
              "httpMethod": "GET",
              "id": "analytics.management.profiles.list",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "get": {
              "id": "analytics.management.profiles.get",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "httpMethod": "GET",
              "description": "Gets a view (profile) to which the user has access.",
              "parameters": {
                "profileId": {
                  "required": true,
                  "description": "View (Profile) ID to retrieve the view (profile) for.",
                  "location": "path",
                  "type": "string",
                  "pattern": "[0-9]+"
                },
                "accountId": {
                  "pattern": "[0-9]+",
                  "description": "Account ID to retrieve the view (profile) for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "webPropertyId": {
                  "location": "path",
                  "pattern": "UA-[0-9]+-[0-9]+",
                  "type": "string",
                  "required": true,
                  "description": "Web property ID to retrieve the view (profile) for."
                }
              },
              "response": {
                "$ref": "Profile"
              }
            },
            "delete": {
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "description": "Deletes a view (profile).",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account ID to delete the view (profile) for.",
                  "location": "path",
                  "required": true
                },
                "webPropertyId": {
                  "location": "path",
                  "required": true,
                  "description": "Web property ID to delete the view (profile) for.",
                  "type": "string"
                },
                "profileId": {
                  "description": "ID of the view (profile) to be deleted.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "DELETE",
              "id": "analytics.management.profiles.delete"
            },
            "update": {
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "Profile"
              },
              "id": "analytics.management.profiles.update",
              "description": "Updates an existing view (profile).",
              "response": {
                "$ref": "Profile"
              },
              "parameters": {
                "webPropertyId": {
                  "type": "string",
                  "location": "path",
                  "description": "Web property ID to which the view (profile) belongs",
                  "required": true
                },
                "profileId": {
                  "description": "ID of the view (profile) to be updated.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "accountId": {
                  "description": "Account ID to which the view (profile) belongs",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "httpMethod": "PUT"
            },
            "insert": {
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "response": {
                "$ref": "Profile"
              },
              "request": {
                "$ref": "Profile"
              },
              "id": "analytics.management.profiles.insert",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles",
              "parameters": {
                "webPropertyId": {
                  "description": "Web property ID to create the view (profile) for.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to create the view (profile) for.",
                  "location": "path"
                }
              },
              "description": "Create a new view (profile).",
              "httpMethod": "POST"
            },
            "patch": {
              "request": {
                "$ref": "Profile"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "parameters": {
                "profileId": {
                  "required": true,
                  "description": "ID of the view (profile) to be updated.",
                  "type": "string",
                  "location": "path"
                },
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Account ID to which the view (profile) belongs"
                },
                "webPropertyId": {
                  "description": "Web property ID to which the view (profile) belongs",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "PATCH",
              "description": "Updates an existing view (profile). This method supports patch semantics.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.profiles.patch",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "response": {
                "$ref": "Profile"
              }
            }
          }
        },
        "accountUserLinks": {
          "methods": {
            "insert": {
              "httpMethod": "POST",
              "response": {
                "$ref": "EntityUserLink"
              },
              "parameters": {
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Account ID to create the user link for."
                }
              },
              "request": {
                "$ref": "EntityUserLink"
              },
              "id": "analytics.management.accountUserLinks.insert",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "parameterOrder": [
                "accountId"
              ],
              "path": "management/accounts/{accountId}/entityUserLinks",
              "description": "Adds a new user to the given account."
            },
            "list": {
              "response": {
                "$ref": "EntityUserLinks"
              },
              "parameters": {
                "max-results": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of account-user links to include in this response.",
                  "location": "query"
                },
                "start-index": {
                  "description": "An index of the first account-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "minimum": "1"
                },
                "accountId": {
                  "required": true,
                  "description": "Account ID to retrieve the user links for.",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "analytics.management.accountUserLinks.list",
              "parameterOrder": [
                "accountId"
              ],
              "path": "management/accounts/{accountId}/entityUserLinks",
              "description": "Lists account-user links for a given account.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ]
            },
            "update": {
              "id": "analytics.management.accountUserLinks.update",
              "parameterOrder": [
                "accountId",
                "linkId"
              ],
              "path": "management/accounts/{accountId}/entityUserLinks/{linkId}",
              "request": {
                "$ref": "EntityUserLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "response": {
                "$ref": "EntityUserLink"
              },
              "httpMethod": "PUT",
              "description": "Updates permissions for an existing user on the given account.",
              "parameters": {
                "accountId": {
                  "description": "Account ID to update the account-user link for.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "linkId": {
                  "description": "Link ID to update the account-user link for.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "description": "Removes a user from the given account.",
              "parameterOrder": [
                "accountId",
                "linkId"
              ],
              "path": "management/accounts/{accountId}/entityUserLinks/{linkId}",
              "id": "analytics.management.accountUserLinks.delete",
              "httpMethod": "DELETE",
              "parameters": {
                "linkId": {
                  "type": "string",
                  "description": "Link ID to delete the user link for.",
                  "location": "path",
                  "required": true
                },
                "accountId": {
                  "description": "Account ID to delete the user link for.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              }
            }
          }
        },
        "customDimensions": {
          "methods": {
            "update": {
              "parameters": {
                "ignoreCustomDataSourceLinks": {
                  "type": "boolean",
                  "description": "Force the update and ignore any warnings related to the custom dimension being linked to a custom data source / data set.",
                  "location": "query",
                  "default": "false"
                },
                "webPropertyId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Web property ID for the custom dimension to update."
                },
                "customDimensionId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Custom dimension ID for the custom dimension to update."
                },
                "accountId": {
                  "description": "Account ID for the custom dimension to update.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Updates an existing custom dimension.",
              "request": {
                "$ref": "CustomDimension"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDimensionId"
              ],
              "response": {
                "$ref": "CustomDimension"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "PUT",
              "id": "analytics.management.customDimensions.update",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions/{customDimensionId}"
            },
            "patch": {
              "httpMethod": "PATCH",
              "request": {
                "$ref": "CustomDimension"
              },
              "description": "Updates an existing custom dimension. This method supports patch semantics.",
              "parameters": {
                "ignoreCustomDataSourceLinks": {
                  "default": "false",
                  "location": "query",
                  "description": "Force the update and ignore any warnings related to the custom dimension being linked to a custom data source / data set.",
                  "type": "boolean"
                },
                "customDimensionId": {
                  "location": "path",
                  "description": "Custom dimension ID for the custom dimension to update.",
                  "required": true,
                  "type": "string"
                },
                "webPropertyId": {
                  "description": "Web property ID for the custom dimension to update.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "accountId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Account ID for the custom dimension to update."
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions/{customDimensionId}",
              "response": {
                "$ref": "CustomDimension"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDimensionId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.customDimensions.patch"
            },
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "CustomDimensions"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "parameters": {
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID for the custom dimensions to retrieve.",
                  "location": "path",
                  "required": true
                },
                "max-results": {
                  "location": "query",
                  "description": "The maximum number of custom dimensions to include in this response.",
                  "format": "int32",
                  "type": "integer"
                },
                "accountId": {
                  "location": "path",
                  "description": "Account ID for the custom dimensions to retrieve.",
                  "type": "string",
                  "required": true
                },
                "start-index": {
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "type": "integer",
                  "minimum": "1",
                  "format": "int32",
                  "location": "query"
                }
              },
              "id": "analytics.management.customDimensions.list",
              "description": "Lists custom dimensions to which the user has access.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "insert": {
              "response": {
                "$ref": "CustomDimension"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions",
              "description": "Create a new custom dimension.",
              "id": "analytics.management.customDimensions.insert",
              "request": {
                "$ref": "CustomDimension"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "parameters": {
                "accountId": {
                  "location": "path",
                  "required": true,
                  "description": "Account ID for the custom dimension to create.",
                  "type": "string"
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Web property ID for the custom dimension to create."
                }
              },
              "httpMethod": "POST"
            },
            "get": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions/{customDimensionId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDimensionId"
              ],
              "response": {
                "$ref": "CustomDimension"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.customDimensions.get",
              "parameters": {
                "accountId": {
                  "description": "Account ID for the custom dimension to retrieve.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "customDimensionId": {
                  "type": "string",
                  "description": "The ID of the custom dimension to retrieve.",
                  "required": true,
                  "location": "path"
                },
                "webPropertyId": {
                  "description": "Web property ID for the custom dimension to retrieve.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Get a custom dimension to which the user has access.",
              "httpMethod": "GET"
            }
          }
        },
        "profileUserLinks": {
          "methods": {
            "insert": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks",
              "parameters": {
                "accountId": {
                  "description": "Account ID to create the user link for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "profileId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "View (Profile) ID to create the user link for."
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web Property ID to create the user link for.",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "description": "Adds a new user to the given view (profile).",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "id": "analytics.management.profileUserLinks.insert",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "response": {
                "$ref": "EntityUserLink"
              },
              "request": {
                "$ref": "EntityUserLink"
              }
            },
            "update": {
              "parameters": {
                "webPropertyId": {
                  "description": "Web Property ID to update the user link for.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "linkId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Link ID to update the user link for."
                },
                "profileId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "View (Profile ID) to update the user link for."
                },
                "accountId": {
                  "required": true,
                  "description": "Account ID to update the user link for.",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "PUT",
              "response": {
                "$ref": "EntityUserLink"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks/{linkId}",
              "description": "Updates permissions for an existing user on the given view (profile).",
              "request": {
                "$ref": "EntityUserLink"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "id": "analytics.management.profileUserLinks.update",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ]
            },
            "delete": {
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "description": "Removes a user from the given view (profile).",
              "id": "analytics.management.profileUserLinks.delete",
              "httpMethod": "DELETE",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks/{linkId}",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account ID to delete the user link for.",
                  "required": true,
                  "location": "path"
                },
                "linkId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Link ID to delete the user link for."
                },
                "profileId": {
                  "required": true,
                  "type": "string",
                  "description": "View (Profile) ID to delete the user link for.",
                  "location": "path"
                },
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Web Property ID to delete the user link for."
                }
              }
            },
            "list": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks",
              "parameters": {
                "max-results": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of profile-user links to include in this response.",
                  "type": "integer"
                },
                "start-index": {
                  "format": "int32",
                  "minimum": "1",
                  "type": "integer",
                  "location": "query",
                  "description": "An index of the first profile-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
                },
                "webPropertyId": {
                  "location": "path",
                  "type": "string",
                  "description": "Web Property ID which the given view (profile) belongs to. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to.",
                  "required": true
                },
                "profileId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "View (Profile) ID to retrieve the profile-user links for. Can either be a specific profile ID or '~all', which refers to all the profiles that user has access to."
                },
                "accountId": {
                  "description": "Account ID which the given view (profile) belongs to.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "description": "Lists profile-user links for a given view (profile).",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "EntityUserLinks"
              },
              "id": "analytics.management.profileUserLinks.list"
            }
          }
        },
        "accountSummaries": {
          "methods": {
            "list": {
              "description": "Lists account summaries (lightweight tree comprised of accounts/properties/profiles) to which the user has access.",
              "parameters": {
                "start-index": {
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "location": "query",
                  "minimum": "1",
                  "type": "integer",
                  "format": "int32"
                },
                "max-results": {
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of account summaries to include in this response, where the largest acceptable value is 1000.",
                  "type": "integer"
                }
              },
              "path": "management/accountSummaries",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "response": {
                "$ref": "AccountSummaries"
              },
              "id": "analytics.management.accountSummaries.list"
            }
          }
        },
        "experiments": {
          "methods": {
            "delete": {
              "parameters": {
                "experimentId": {
                  "description": "ID of the experiment to delete",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "accountId": {
                  "description": "Account ID to which the experiment belongs",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "profileId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "View (Profile) ID to which the experiment belongs"
                },
                "webPropertyId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Web property ID to which the experiment belongs"
                }
              },
              "description": "Delete an experiment.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "experimentId"
              ],
              "httpMethod": "DELETE",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.experiments.delete"
            },
            "update": {
              "response": {
                "$ref": "Experiment"
              },
              "id": "analytics.management.experiments.update",
              "parameters": {
                "experimentId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Experiment ID of the experiment to update."
                },
                "accountId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Account ID of the experiment to update."
                },
                "profileId": {
                  "description": "View (Profile) ID of the experiment to update.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "webPropertyId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Web property ID of the experiment to update."
                }
              },
              "description": "Update an existing experiment.",
              "httpMethod": "PUT",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "experimentId"
              ],
              "request": {
                "$ref": "Experiment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}"
            },
            "list": {
              "id": "analytics.management.experiments.list",
              "httpMethod": "GET",
              "parameters": {
                "start-index": {
                  "minimum": "1",
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "An index of the first experiment to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID to retrieve experiments for.",
                  "required": true,
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "location": "path"
                },
                "max-results": {
                  "location": "query",
                  "description": "The maximum number of experiments to include in this response.",
                  "format": "int32",
                  "type": "integer"
                },
                "accountId": {
                  "location": "path",
                  "description": "Account ID to retrieve experiments for.",
                  "required": true,
                  "type": "string",
                  "pattern": "\\d+"
                },
                "profileId": {
                  "required": true,
                  "type": "string",
                  "pattern": "\\d+",
                  "location": "path",
                  "description": "View (Profile) ID to retrieve experiments for."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Lists experiments to which the user has access.",
              "response": {
                "$ref": "Experiments"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments"
            },
            "patch": {
              "description": "Update an existing experiment. This method supports patch semantics.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "experimentId"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "experimentId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Experiment ID of the experiment to update."
                },
                "profileId": {
                  "required": true,
                  "location": "path",
                  "description": "View (Profile) ID of the experiment to update.",
                  "type": "string"
                },
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Web property ID of the experiment to update."
                },
                "accountId": {
                  "description": "Account ID of the experiment to update.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Experiment"
              },
              "request": {
                "$ref": "Experiment"
              },
              "id": "analytics.management.experiments.patch",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}"
            },
            "insert": {
              "httpMethod": "POST",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "id": "analytics.management.experiments.insert",
              "description": "Create a new experiment.",
              "response": {
                "$ref": "Experiment"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "Experiment"
              },
              "parameters": {
                "profileId": {
                  "description": "View (Profile) ID to create the experiment for.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Web property ID to create the experiment for."
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Account ID to create the experiment for.",
                  "location": "path"
                }
              }
            },
            "get": {
              "response": {
                "$ref": "Experiment"
              },
              "parameters": {
                "accountId": {
                  "location": "path",
                  "description": "Account ID to retrieve the experiment for.",
                  "required": true,
                  "type": "string"
                },
                "profileId": {
                  "required": true,
                  "type": "string",
                  "description": "View (Profile) ID to retrieve the experiment for.",
                  "location": "path"
                },
                "experimentId": {
                  "description": "Experiment ID to retrieve the experiment for.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "webPropertyId": {
                  "required": true,
                  "description": "Web property ID to retrieve the experiment for.",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "experimentId"
              ],
              "httpMethod": "GET",
              "description": "Returns an experiment to which the user has access.",
              "id": "analytics.management.experiments.get"
            }
          }
        },
        "customMetrics": {
          "methods": {
            "insert": {
              "response": {
                "$ref": "CustomMetric"
              },
              "description": "Create a new custom metric.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.customMetrics.insert",
              "request": {
                "$ref": "CustomMetric"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics",
              "httpMethod": "POST",
              "parameters": {
                "webPropertyId": {
                  "location": "path",
                  "required": true,
                  "description": "Web property ID for the custom dimension to create.",
                  "type": "string"
                },
                "accountId": {
                  "location": "path",
                  "required": true,
                  "description": "Account ID for the custom metric to create.",
                  "type": "string"
                }
              }
            },
            "list": {
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "description": "Lists custom metrics to which the user has access.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "response": {
                "$ref": "CustomMetrics"
              },
              "id": "analytics.management.customMetrics.list",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics",
              "parameters": {
                "max-results": {
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of custom metrics to include in this response.",
                  "type": "integer"
                },
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Account ID for the custom metrics to retrieve."
                },
                "start-index": {
                  "minimum": "1",
                  "location": "query",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32",
                  "type": "integer"
                },
                "webPropertyId": {
                  "description": "Web property ID for the custom metrics to retrieve.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "update": {
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customMetricId"
              ],
              "response": {
                "$ref": "CustomMetric"
              },
              "httpMethod": "PUT",
              "request": {
                "$ref": "CustomMetric"
              },
              "parameters": {
                "accountId": {
                  "description": "Account ID for the custom metric to update.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "ignoreCustomDataSourceLinks": {
                  "type": "boolean",
                  "description": "Force the update and ignore any warnings related to the custom metric being linked to a custom data source / data set.",
                  "default": "false",
                  "location": "query"
                },
                "customMetricId": {
                  "required": true,
                  "location": "path",
                  "description": "Custom metric ID for the custom metric to update.",
                  "type": "string"
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Web property ID for the custom metric to update."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Updates an existing custom metric.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics/{customMetricId}",
              "id": "analytics.management.customMetrics.update"
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "customMetricId": {
                  "location": "path",
                  "description": "Custom metric ID for the custom metric to update.",
                  "required": true,
                  "type": "string"
                },
                "ignoreCustomDataSourceLinks": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Force the update and ignore any warnings related to the custom metric being linked to a custom data source / data set.",
                  "default": "false"
                },
                "webPropertyId": {
                  "description": "Web property ID for the custom metric to update.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "accountId": {
                  "description": "Account ID for the custom metric to update.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customMetricId"
              ],
              "request": {
                "$ref": "CustomMetric"
              },
              "httpMethod": "PATCH",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics/{customMetricId}",
              "description": "Updates an existing custom metric. This method supports patch semantics.",
              "id": "analytics.management.customMetrics.patch",
              "response": {
                "$ref": "CustomMetric"
              }
            },
            "get": {
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customMetricId"
              ],
              "id": "analytics.management.customMetrics.get",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Get a custom metric to which the user has access.",
              "response": {
                "$ref": "CustomMetric"
              },
              "httpMethod": "GET",
              "parameters": {
                "webPropertyId": {
                  "description": "Web property ID for the custom metric to retrieve.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "accountId": {
                  "description": "Account ID for the custom metric to retrieve.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "customMetricId": {
                  "required": true,
                  "location": "path",
                  "description": "The ID of the custom metric to retrieve.",
                  "type": "string"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics/{customMetricId}"
            }
          }
        },
        "remarketingAudience": {
          "methods": {
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to which the remarketing audience belongs.",
                  "location": "path"
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "Web property ID to which the remarketing audience belongs.",
                  "required": true,
                  "type": "string"
                },
                "remarketingAudienceId": {
                  "location": "path",
                  "description": "The ID of the remarketing audience to delete.",
                  "type": "string",
                  "required": true
                }
              },
              "id": "analytics.management.remarketingAudience.delete",
              "description": "Delete a remarketing audience.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "remarketingAudienceId"
              ],
              "httpMethod": "DELETE",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences/{remarketingAudienceId}"
            },
            "list": {
              "parameters": {
                "max-results": {
                  "description": "The maximum number of remarketing audiences to include in this response.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "start-index": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": "1",
                  "location": "query",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
                },
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The web property ID of the remarketing audiences to retrieve."
                },
                "accountId": {
                  "description": "The account ID of the remarketing audiences to retrieve.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "type": {
                  "location": "query",
                  "type": "string",
                  "default": "all"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Lists remarketing audiences to which the user has access.",
              "response": {
                "$ref": "RemarketingAudiences"
              },
              "id": "analytics.management.remarketingAudience.list",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences",
              "httpMethod": "GET"
            },
            "update": {
              "response": {
                "$ref": "RemarketingAudience"
              },
              "parameters": {
                "accountId": {
                  "description": "The account ID of the remarketing audience to update.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "webPropertyId": {
                  "description": "The web property ID of the remarketing audience to update.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "remarketingAudienceId": {
                  "description": "The ID of the remarketing audience to update.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Updates an existing remarketing audience.",
              "request": {
                "$ref": "RemarketingAudience"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "remarketingAudienceId"
              ],
              "id": "analytics.management.remarketingAudience.update",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences/{remarketingAudienceId}",
              "httpMethod": "PUT"
            },
            "get": {
              "response": {
                "$ref": "RemarketingAudience"
              },
              "id": "analytics.management.remarketingAudience.get",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "remarketingAudienceId"
              ],
              "httpMethod": "GET",
              "description": "Gets a remarketing audience to which the user has access.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The account ID of the remarketing audience to retrieve."
                },
                "webPropertyId": {
                  "type": "string",
                  "location": "path",
                  "description": "The web property ID of the remarketing audience to retrieve.",
                  "required": true
                },
                "remarketingAudienceId": {
                  "description": "The ID of the remarketing audience to retrieve.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences/{remarketingAudienceId}"
            },
            "insert": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences",
              "request": {
                "$ref": "RemarketingAudience"
              },
              "response": {
                "$ref": "RemarketingAudience"
              },
              "httpMethod": "POST",
              "parameters": {
                "webPropertyId": {
                  "description": "Web property ID for which to create the remarketing audience.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The account ID for which to create the remarketing audience."
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "id": "analytics.management.remarketingAudience.insert",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Creates a new remarketing audience."
            },
            "patch": {
              "parameters": {
                "webPropertyId": {
                  "location": "path",
                  "required": true,
                  "description": "The web property ID of the remarketing audience to update.",
                  "type": "string"
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "The account ID of the remarketing audience to update.",
                  "location": "path"
                },
                "remarketingAudienceId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The ID of the remarketing audience to update."
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "remarketingAudienceId"
              ],
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.remarketingAudience.patch",
              "response": {
                "$ref": "RemarketingAudience"
              },
              "description": "Updates an existing remarketing audience. This method supports patch semantics.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences/{remarketingAudienceId}",
              "request": {
                "$ref": "RemarketingAudience"
              }
            }
          }
        },
        "webpropertyUserLinks": {
          "methods": {
            "update": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "id": "analytics.management.webpropertyUserLinks.update",
              "response": {
                "$ref": "EntityUserLink"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "linkId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks/{linkId}",
              "description": "Updates permissions for an existing user on the given web property.",
              "parameters": {
                "linkId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Link ID to update the account-user link for."
                },
                "webPropertyId": {
                  "description": "Web property ID to update the account-user link for.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "accountId": {
                  "type": "string",
                  "description": "Account ID to update the account-user link for.",
                  "location": "path",
                  "required": true
                }
              },
              "request": {
                "$ref": "EntityUserLink"
              },
              "httpMethod": "PUT"
            },
            "delete": {
              "parameters": {
                "linkId": {
                  "required": true,
                  "location": "path",
                  "description": "Link ID to delete the user link for.",
                  "type": "string"
                },
                "accountId": {
                  "location": "path",
                  "description": "Account ID to delete the user link for.",
                  "required": true,
                  "type": "string"
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web Property ID to delete the user link for.",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "DELETE",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks/{linkId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "id": "analytics.management.webpropertyUserLinks.delete",
              "description": "Removes a user from the given web property.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "linkId"
              ]
            },
            "list": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks",
              "id": "analytics.management.webpropertyUserLinks.list",
              "parameters": {
                "max-results": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of webProperty-user Links to include in this response.",
                  "type": "integer"
                },
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Account ID which the given web property belongs to."
                },
                "start-index": {
                  "minimum": "1",
                  "type": "integer",
                  "description": "An index of the first webProperty-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "location": "query",
                  "format": "int32"
                },
                "webPropertyId": {
                  "description": "Web Property ID for the webProperty-user links to retrieve. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "description": "Lists webProperty-user links for a given web property.",
              "httpMethod": "GET",
              "response": {
                "$ref": "EntityUserLinks"
              }
            },
            "insert": {
              "response": {
                "$ref": "EntityUserLink"
              },
              "id": "analytics.management.webpropertyUserLinks.insert",
              "parameters": {
                "webPropertyId": {
                  "description": "Web Property ID to create the user link for.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "accountId": {
                  "type": "string",
                  "description": "Account ID to create the user link for.",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Adds a new user to the given web property.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "request": {
                "$ref": "EntityUserLink"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ]
            }
          }
        },
        "clientId": {
          "methods": {
            "hashClientId": {
              "id": "analytics.management.clientId.hashClientId",
              "httpMethod": "POST",
              "request": {
                "$ref": "HashClientIdRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "management/clientId:hashClientId",
              "response": {
                "$ref": "HashClientIdResponse"
              },
              "description": "Hashes the given Client ID."
            }
          }
        },
        "goals": {
          "methods": {
            "get": {
              "id": "analytics.management.goals.get",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "goalId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals/{goalId}",
              "httpMethod": "GET",
              "description": "Gets a goal to which the user has access.",
              "parameters": {
                "profileId": {
                  "required": true,
                  "type": "string",
                  "description": "View (Profile) ID to retrieve the goal for.",
                  "location": "path"
                },
                "goalId": {
                  "required": true,
                  "description": "Goal ID to retrieve the goal for.",
                  "location": "path",
                  "type": "string"
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Web property ID to retrieve the goal for."
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Account ID to retrieve the goal for.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Goal"
              }
            },
            "patch": {
              "response": {
                "$ref": "Goal"
              },
              "description": "Updates an existing goal. This method supports patch semantics.",
              "id": "analytics.management.goals.patch",
              "parameters": {
                "webPropertyId": {
                  "description": "Web property ID to update the goal.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "goalId": {
                  "required": true,
                  "type": "string",
                  "description": "Index of the goal to be updated.",
                  "location": "path"
                },
                "accountId": {
                  "location": "path",
                  "description": "Account ID to update the goal.",
                  "type": "string",
                  "required": true
                },
                "profileId": {
                  "description": "View (Profile) ID to update the goal.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "PATCH",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals/{goalId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "goalId"
              ],
              "request": {
                "$ref": "Goal"
              }
            },
            "list": {
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "httpMethod": "GET",
              "id": "analytics.management.goals.list",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals",
              "description": "Lists goals to which the user has access.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "profileId": {
                  "description": "View (Profile) ID to retrieve goals for. Can either be a specific view (profile) ID or '~all', which refers to all the views (profiles) that user has access to.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "accountId": {
                  "type": "string",
                  "description": "Account ID to retrieve goals for. Can either be a specific account ID or '~all', which refers to all the accounts that user has access to.",
                  "location": "path",
                  "required": true
                },
                "start-index": {
                  "minimum": "1",
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "An index of the first goal to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
                },
                "max-results": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of goals to include in this response."
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Web property ID to retrieve goals for. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to."
                }
              },
              "response": {
                "$ref": "Goals"
              }
            },
            "update": {
              "response": {
                "$ref": "Goal"
              },
              "parameters": {
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "description": "Account ID to update the goal.",
                  "required": true
                },
                "webPropertyId": {
                  "required": true,
                  "description": "Web property ID to update the goal.",
                  "type": "string",
                  "location": "path"
                },
                "goalId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Index of the goal to be updated."
                },
                "profileId": {
                  "type": "string",
                  "location": "path",
                  "description": "View (Profile) ID to update the goal.",
                  "required": true
                }
              },
              "request": {
                "$ref": "Goal"
              },
              "httpMethod": "PUT",
              "description": "Updates an existing goal.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.goals.update",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "goalId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals/{goalId}"
            },
            "insert": {
              "id": "analytics.management.goals.insert",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals",
              "httpMethod": "POST",
              "response": {
                "$ref": "Goal"
              },
              "description": "Create a new goal.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "profileId": {
                  "location": "path",
                  "type": "string",
                  "description": "View (Profile) ID to create the goal for.",
                  "required": true
                },
                "webPropertyId": {
                  "description": "Web property ID to create the goal for.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "accountId": {
                  "description": "Account ID to create the goal for.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "Goal"
              }
            }
[...]
