{
  "rootUrl": "https://analyticsadmin.googleapis.com/",
  "protocol": "rest",
  "revision": "20220604",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    }
  },
  "baseUrl": "https://analyticsadmin.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version_module": true,
  "title": "Google Analytics Admin API",
  "basePath": "",
  "version": "v1alpha",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "canonicalName": "Google Analytics Admin",
  "ownerDomain": "google.com",
  "documentationLink": "http://code.google.com/apis/analytics/docs/mgmt/home.html",
  "description": "",
  "schemas": {
    "GoogleAnalyticsAdminV1alphaArchiveCustomDimensionRequest": {
      "id": "GoogleAnalyticsAdminV1alphaArchiveCustomDimensionRequest",
      "properties": {},
      "description": "Request message for ArchiveCustomDimension RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaChangeHistoryEvent": {
      "description": "A set of changes within a Google Analytics account or its child properties that resulted from the same cause. Common causes would be updates made in the Google Analytics UI, changes from customer support, or automatic Google Analytics system changes.",
      "type": "object",
      "properties": {
        "changeTime": {
          "format": "google-datetime",
          "description": "Time when change was made.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "ID of this change history event. This ID is unique across Google Analytics."
        },
        "actorType": {
          "description": "The type of actor that made this change.",
          "type": "string",
          "enum": [
            "ACTOR_TYPE_UNSPECIFIED",
            "USER",
            "SYSTEM",
            "SUPPORT"
          ],
          "enumDescriptions": [
            "Unknown or unspecified actor type.",
            "Changes made by the user specified in actor_email.",
            "Changes made by the Google Analytics system.",
            "Changes made by Google Analytics support team staff."
          ]
        },
        "changesFiltered": {
          "description": "If true, then the list of changes returned was filtered, and does not represent all changes that occurred in this event.",
          "type": "boolean"
        },
        "changes": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryChange"
          },
          "description": "A list of changes made in this change history event that fit the filters specified in SearchChangeHistoryEventsRequest.",
          "type": "array"
        },
        "userActorEmail": {
          "description": "Email address of the Google account that made the change. This will be a valid email address if the actor field is set to USER, and empty otherwise. Google accounts that have been deleted will cause an error.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaChangeHistoryEvent"
    },
    "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink": {
      "description": "A link between a GA4 property and a Display & Video 360 advertiser.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink",
      "properties": {
        "campaignDataSharingEnabled": {
          "description": "Immutable. Enables the import of campaign data from Display & Video 360 into the GA4 property. After link creation, this can only be updated from the Display & Video 360 product. If this field is not set on create, it will be defaulted to true.",
          "type": "boolean"
        },
        "advertiserId": {
          "description": "Immutable. The Display & Video 360 Advertiser's advertiser ID.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The resource name for this DisplayVideo360AdvertiserLink resource. Format: properties/{propertyId}/displayVideo360AdvertiserLinks/{linkId} Note: linkId is not the Display & Video 360 Advertiser ID",
          "type": "string",
          "readOnly": true
        },
        "adsPersonalizationEnabled": {
          "type": "boolean",
          "description": "Enables personalized advertising features with this integration. If this field is not set on create/update, it will be defaulted to true."
        },
        "costDataSharingEnabled": {
          "type": "boolean",
          "description": "Immutable. Enables the import of cost data from Display & Video 360 into the GA4 property. This can only be enabled if campaign_data_sharing_enabled is enabled. After link creation, this can only be updated from the Display & Video 360 product. If this field is not set on create, it will be defaulted to true."
        },
        "advertiserDisplayName": {
          "readOnly": true,
          "description": "Output only. The display name of the Display & Video 360 Advertiser.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaCancelDisplayVideo360AdvertiserLinkProposalRequest": {
      "properties": {},
      "id": "GoogleAnalyticsAdminV1alphaCancelDisplayVideo360AdvertiserLinkProposalRequest",
      "type": "object",
      "description": "Request message for CancelDisplayVideo360AdvertiserLinkProposal RPC."
    },
    "GoogleAnalyticsAdminV1alphaBatchCreateUserLinksResponse": {
      "id": "GoogleAnalyticsAdminV1alphaBatchCreateUserLinksResponse",
      "description": "Response message for BatchCreateUserLinks RPC.",
      "type": "object",
      "properties": {
        "userLinks": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
          },
          "type": "array",
          "description": "The user links created."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaBatchDeleteUserLinksRequest": {
      "type": "object",
      "description": "Request message for BatchDeleteUserLinks RPC.",
      "id": "GoogleAnalyticsAdminV1alphaBatchDeleteUserLinksRequest",
      "properties": {
        "requests": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaDeleteUserLinkRequest"
          },
          "type": "array",
          "description": "Required. The requests specifying the user links to update. A maximum of 1000 user links can be updated in a batch."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaDataStreamAndroidAppStreamData": {
      "type": "object",
      "description": "Data specific to Android app streams.",
      "id": "GoogleAnalyticsAdminV1alphaDataStreamAndroidAppStreamData",
      "properties": {
        "firebaseAppId": {
          "readOnly": true,
          "description": "Output only. ID of the corresponding Android app in Firebase, if any. This ID can change if the Android app is deleted and recreated.",
          "type": "string"
        },
        "packageName": {
          "description": "Immutable. The package name for the app being measured. Example: \"com.example.myandroidapp\"",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaDataStreamIosAppStreamData": {
      "properties": {
        "firebaseAppId": {
          "description": "Output only. ID of the corresponding iOS app in Firebase, if any. This ID can change if the iOS app is deleted and recreated.",
          "type": "string",
          "readOnly": true
        },
        "bundleId": {
          "description": "Required. Immutable. The Apple App Store Bundle ID for the app Example: \"com.example.myiosapp\"",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaDataStreamIosAppStreamData",
      "description": "Data specific to iOS app streams."
    },
    "GoogleAnalyticsAdminV1alphaGoogleAdsLink": {
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. Time when this link was originally created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Format: properties/{propertyId}/googleAdsLinks/{googleAdsLinkId} Note: googleAdsLinkId is not the Google Ads customer ID.",
          "readOnly": true
        },
        "canManageClients": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If true, this link is for a Google Ads manager account."
        },
        "adsPersonalizationEnabled": {
          "type": "boolean",
          "description": "Enable personalized advertising features with this integration. Automatically publish my Google Analytics audience lists and Google Analytics remarketing events/parameters to the linked Google Ads account. If this field is not set on create/update, it will be defaulted to true."
        },
        "creatorEmailAddress": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Email address of the user that created the link. An empty string will be returned if the email address can't be retrieved."
        },
        "customerId": {
          "type": "string",
          "description": "Immutable. Google Ads customer ID."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when this link was last updated."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaGoogleAdsLink",
      "description": "A link between a GA4 property and a Google Ads account."
    },
    "GoogleAnalyticsAdminV1alphaBatchGetUserLinksResponse": {
      "properties": {
        "userLinks": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
          },
          "description": "The requested user links.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaBatchGetUserLinksResponse",
      "description": "Response message for BatchGetUserLinks RPC."
    },
    "GoogleAnalyticsAdminV1alphaProvisionAccountTicketResponse": {
      "description": "Response message for ProvisionAccountTicket RPC.",
      "id": "GoogleAnalyticsAdminV1alphaProvisionAccountTicketResponse",
      "type": "object",
      "properties": {
        "accountTicketId": {
          "type": "string",
          "description": "The param to be passed in the ToS link."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaDataStreamWebStreamData": {
      "description": "Data specific to web streams.",
      "type": "object",
      "properties": {
        "measurementId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Analytics \"Measurement ID\", without the \"G-\" prefix. Example: \"G-1A2BCD345E\" would just be \"1A2BCD345E\""
        },
        "firebaseAppId": {
          "description": "Output only. ID of the corresponding web app in Firebase, if any. This ID can change if the web app is deleted and recreated.",
          "type": "string",
          "readOnly": true
        },
        "defaultUri": {
          "type": "string",
          "description": "Immutable. Domain name of the web app being measured, or empty. Example: \"http://www.google.com\", \"https://www.google.com\""
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaDataStreamWebStreamData"
    },
    "GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksRequest": {
      "description": "Request message for BatchUpdateUserLinks RPC.",
      "id": "GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksRequest",
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. The requests specifying the user links to update. A maximum of 1000 user links can be updated in a batch.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaUpdateUserLinkRequest"
          }
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaChangeHistoryChange": {
      "properties": {
        "resource": {
          "type": "string",
          "description": "Resource name of the resource whose changes are described by this entry."
        },
        "resourceAfterChange": {
          "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource",
          "description": "Resource contents from after the change was made. If this resource was deleted in this change, this field will be missing."
        },
        "resourceBeforeChange": {
          "description": "Resource contents from before the change was made. If this resource was created in this change, this field will be missing.",
          "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource"
        },
        "action": {
          "type": "string",
          "description": "The type of action that changed this resource.",
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "CREATED",
            "UPDATED",
            "DELETED"
          ],
          "enumDescriptions": [
            "Action type unknown or not specified.",
            "Resource was created in this change.",
            "Resource was updated in this change.",
            "Resource was deleted in this change."
          ]
        }
      },
      "description": "A description of a change to a single Google Analytics resource.",
      "id": "GoogleAnalyticsAdminV1alphaChangeHistoryChange",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListCustomMetricsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListCustomMetricsResponse",
      "type": "object",
      "description": "Response message for ListCustomMetrics RPC.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "customMetrics": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric"
          },
          "description": "List of CustomMetrics.",
          "type": "array"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListGoogleAdsLinksResponse": {
      "properties": {
        "googleAdsLinks": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink"
          },
          "description": "List of GoogleAdsLinks.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "description": "Response message for ListGoogleAdsLinks RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListGoogleAdsLinksResponse"
    },
    "GoogleAnalyticsAdminV1alphaUserLink": {
      "id": "GoogleAnalyticsAdminV1alphaUserLink",
      "type": "object",
      "properties": {
        "emailAddress": {
          "type": "string",
          "description": "Immutable. Email address of the user to link"
        },
        "directRoles": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Roles directly assigned to this user for this account or property. Valid values: predefinedRoles/viewer predefinedRoles/analyst predefinedRoles/editor predefinedRoles/admin predefinedRoles/no-cost-data predefinedRoles/no-revenue-data Excludes roles that are inherited from a higher-level entity, group, or organization admin role. A UserLink that is updated to have an empty list of direct_roles will be deleted."
        },
        "name": {
          "type": "string",
          "description": "Output only. Example format: properties/1234/userLinks/5678",
          "readOnly": true
        }
      },
      "description": "A resource message representing a user's permissions on an Account or Property resource."
    },
    "GoogleAnalyticsAdminV1alphaCreateUserLinkRequest": {
      "type": "object",
      "description": "Request message for CreateUserLink RPC. Users can have multiple email addresses associated with their Google account, and one of these email addresses is the \"primary\" email address. Any of the email addresses associated with a Google account may be used for a new UserLink, but the returned UserLink will always contain the \"primary\" email address. As a result, the input and output email address for this request may differ.",
      "properties": {
        "notifyNewUser": {
          "description": "Optional. If set, then email the new user notifying them that they've been granted permissions to the resource.",
          "type": "boolean"
        },
        "userLink": {
          "$ref": "GoogleAnalyticsAdminV1alphaUserLink",
          "description": "Required. The user link to create."
        },
        "parent": {
          "type": "string",
          "description": "Required. Example format: accounts/1234"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaCreateUserLinkRequest"
    },
    "GoogleAnalyticsAdminV1alphaAuditUserLink": {
      "properties": {
        "emailAddress": {
          "description": "Email address of the linked user",
          "type": "string"
        },
        "effectiveRoles": {
          "description": "Union of all permissions a user has at this account or property (includes direct permissions, group-inherited permissions, etc.). Format: predefinedRoles/viewer",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "directRoles": {
          "description": "Roles directly assigned to this user for this entity. Format: predefinedRoles/viewer Excludes roles that are inherited from an account (if this is for a property), group, or organization admin role.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "Example format: properties/1234/userLinks/5678",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAuditUserLink",
      "description": "Read-only resource used to summarize a principal's effective roles.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaDataRetentionSettings": {
      "type": "object",
      "description": "Settings values for data retention. This is a singleton resource.",
      "properties": {
        "name": {
          "description": "Output only. Resource name for this DataRetentionSetting resource. Format: properties/{property}/dataRetentionSettings",
          "readOnly": true,
          "type": "string"
        },
        "resetUserDataOnNewActivity": {
          "description": "If true, reset the retention period for the user identifier with every event from that user.",
          "type": "boolean"
        },
        "eventDataRetention": {
          "type": "string",
          "enum": [
            "RETENTION_DURATION_UNSPECIFIED",
            "TWO_MONTHS",
            "FOURTEEN_MONTHS",
            "TWENTY_SIX_MONTHS",
            "THIRTY_EIGHT_MONTHS",
            "FIFTY_MONTHS"
          ],
          "enumDescriptions": [
            "Data retention time duration is not specified.",
            "The data retention time duration is 2 months.",
            "The data retention time duration is 14 months.",
            "The data retention time duration is 26 months. Available to 360 properties only.",
            "The data retention time duration is 38 months. Available to 360 properties only.",
            "The data retention time duration is 50 months. Available to 360 properties only."
          ],
          "description": "The length of time that event-level data is retained."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaDataRetentionSettings"
    },
    "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLinkProposal": {
      "description": "A proposal for a link between a GA4 property and a Display & Video 360 advertiser. A proposal is converted to a DisplayVideo360AdvertiserLink once approved. Google Analytics admins approve inbound proposals while Display & Video 360 admins approve outbound proposals.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLinkProposal",
      "properties": {
        "advertiserDisplayName": {
          "description": "Output only. The display name of the Display & Video Advertiser. Only populated for proposals that originated from Display & Video 360.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name for this DisplayVideo360AdvertiserLinkProposal resource. Format: properties/{propertyId}/displayVideo360AdvertiserLinkProposals/{proposalId} Note: proposalId is not the Display & Video 360 Advertiser ID"
        },
        "validationEmail": {
          "type": "string",
          "description": "Input only. On a proposal being sent to Display & Video 360, this field must be set to the email address of an admin on the target advertiser. This is used to verify that the Google Analytics admin is aware of at least one admin on the Display & Video 360 Advertiser. This does not restrict approval of the proposal to a single user. Any admin on the Display & Video 360 Advertiser may approve the proposal."
        },
        "advertiserId": {
          "description": "Immutable. The Display & Video 360 Advertiser's advertiser ID.",
          "type": "string"
        },
        "linkProposalStatusDetails": {
          "readOnly": true,
          "description": "Output only. The status information for this link proposal.",
          "$ref": "GoogleAnalyticsAdminV1alphaLinkProposalStatusDetails"
        },
        "costDataSharingEnabled": {
          "type": "boolean",
          "description": "Immutable. Enables the import of cost data from Display & Video 360. This can only be enabled if campaign_data_sharing_enabled is enabled. If this field is not set on create, it will be defaulted to true."
        },
        "adsPersonalizationEnabled": {
          "type": "boolean",
          "description": "Immutable. Enables personalized advertising features with this integration. If this field is not set on create, it will be defaulted to true."
        },
        "campaignDataSharingEnabled": {
          "description": "Immutable. Enables the import of campaign data from Display & Video 360. If this field is not set on create, it will be defaulted to true.",
          "type": "boolean"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaFirebaseLink": {
      "description": "A link between a GA4 property and a Firebase project.",
      "id": "GoogleAnalyticsAdminV1alphaFirebaseLink",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Example format: properties/1234/firebaseLinks/5678"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when this FirebaseLink was originally created.",
          "format": "google-datetime"
        },
        "project": {
          "type": "string",
          "description": "Immutable. Firebase project resource name. When creating a FirebaseLink, you may provide this resource name using either a project number or project ID. Once this resource has been created, returned FirebaseLinks will always have a project_name that contains a project number. Format: 'projects/{project number}' Example: 'projects/1234'"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaGlobalSiteTag": {
      "id": "GoogleAnalyticsAdminV1alphaGlobalSiteTag",
      "description": "Read-only resource with the tag for sending data from a website to a DataStream. Only present for web DataStream resources.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name for this GlobalSiteTag resource. Format: properties/{property_id}/dataStreams/{stream_id}/globalSiteTag Example: \"properties/123/dataStreams/456/globalSiteTag\""
        },
        "snippet": {
          "description": "Immutable. JavaScript code snippet to be pasted as the first item into the head tag of every webpage to measure.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAcknowledgeUserDataCollectionResponse": {
      "type": "object",
      "description": "Response message for AcknowledgeUserDataCollection RPC.",
      "id": "GoogleAnalyticsAdminV1alphaAcknowledgeUserDataCollectionResponse",
      "properties": {}
    },
    "GoogleAnalyticsAdminV1alphaApproveDisplayVideo360AdvertiserLinkProposalResponse": {
      "properties": {
        "displayVideo360AdvertiserLink": {
          "description": "The DisplayVideo360AdvertiserLink created as a result of approving the proposal.",
          "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink"
        }
      },
      "type": "object",
      "description": "Response message for ApproveDisplayVideo360AdvertiserLinkProposal RPC.",
      "id": "GoogleAnalyticsAdminV1alphaApproveDisplayVideo360AdvertiserLinkProposalResponse"
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty"
    },
    "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret": {
      "properties": {
        "name": {
          "description": "Output only. Resource name of this secret. This secret may be a child of any type of stream. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Required. Human-readable display name for this secret.",
          "type": "string"
        },
        "secretValue": {
          "readOnly": true,
          "description": "Output only. The measurement protocol secret value. Pass this value to the api_secret field of the Measurement Protocol API when sending hits to this secret's parent property.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret",
      "type": "object",
      "description": "A secret value used for sending hits to Measurement Protocol."
    },
    "GoogleAnalyticsAdminV1alphaListPropertiesResponse": {
      "properties": {
        "properties": {
          "description": "Results that matched the filter criteria and were accessible to the caller.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListProperties RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListPropertiesResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaDataSharingSettings": {
      "description": "A resource message representing data sharing settings of a Google Analytics account.",
      "id": "GoogleAnalyticsAdminV1alphaDataSharingSettings",
      "properties": {
        "sharingWithGoogleSupportEnabled": {
          "description": "Allows Google support to access the data in order to help troubleshoot issues.",
          "type": "boolean"
        },
        "sharingWithGoogleAnySalesEnabled": {
          "type": "boolean",
          "description": "Allows any of Google sales to access the data in order to suggest configuration changes to improve results."
        },
        "sharingWithGoogleProductsEnabled": {
          "description": "Allows Google to use the data to improve other Google products or services.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name. Format: accounts/{account}/dataSharingSettings Example: \"accounts/1000/dataSharingSettings\""
        },
        "sharingWithOthersEnabled": {
          "type": "boolean",
          "description": "Allows Google to share the data anonymously in aggregate form with others."
        },
        "sharingWithGoogleAssignedSalesEnabled": {
          "type": "boolean",
          "description": "Allows Google sales teams that are assigned to the customer to access the data in order to suggest configuration changes to improve results. Sales team restrictions still apply when enabled."
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource": {
      "properties": {
        "displayVideo360AdvertiserLink": {
          "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink",
          "description": "A snapshot of a DisplayVideo360AdvertiserLink resource in change history."
        },
        "account": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccount",
          "description": "A snapshot of an Account resource in change history."
        },
        "measurementProtocolSecret": {
          "description": "A snapshot of a MeasurementProtocolSecret resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret"
        },
        "customDimension": {
          "description": "A snapshot of a CustomDimension resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
        },
        "conversionEvent": {
          "$ref": "GoogleAnalyticsAdminV1alphaConversionEvent",
          "description": "A snapshot of a ConversionEvent resource in change history."
        },
        "dataStream": {
          "description": "A snapshot of a DataStream resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaDataStream"
        },
        "googleSignalsSettings": {
          "description": "A snapshot of a GoogleSignalsSettings resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings"
        },
        "displayVideo360AdvertiserLinkProposal": {
          "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLinkProposal",
          "description": "A snapshot of a DisplayVideo360AdvertiserLinkProposal resource in change history."
        },
        "property": {
          "description": "A snapshot of a Property resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaProperty"
        },
        "customMetric": {
          "description": "A snapshot of a CustomMetric resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric"
        },
        "dataRetentionSettings": {
          "description": "A snapshot of a data retention settings resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaDataRetentionSettings"
        },
        "firebaseLink": {
          "$ref": "GoogleAnalyticsAdminV1alphaFirebaseLink",
          "description": "A snapshot of a FirebaseLink resource in change history."
        },
        "attributionSettings": {
          "$ref": "GoogleAnalyticsAdminV1alphaAttributionSettings",
          "description": "A snapshot of AttributionSettings resource in change history."
        },
        "googleAdsLink": {
          "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink",
          "description": "A snapshot of a GoogleAdsLink resource in change history."
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource",
      "description": "A snapshot of a resource as before or after the result of a change in change history."
    },
    "GoogleAnalyticsAdminV1alphaListFirebaseLinksResponse": {
      "description": "Response message for ListFirebaseLinks RPC",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. Currently, Google Analytics supports only one FirebaseLink per property, so this will never be populated.",
          "type": "string"
        },
        "firebaseLinks": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaFirebaseLink"
          },
          "description": "List of FirebaseLinks. This will have at most one value."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListFirebaseLinksResponse"
    },
    "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsResponse",
      "description": "Response message for SearchAccounts RPC.",
      "properties": {
        "changeHistoryEvents": {
          "description": "Results that were accessible to the caller.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryEvent"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaUpdateUserLinkRequest": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaUpdateUserLinkRequest",
      "description": "Request message for UpdateUserLink RPC.",
      "properties": {
        "userLink": {
          "description": "Required. The user link to update.",
          "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListDataStreamsResponse": {
      "description": "Response message for ListDataStreams RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListDataStreamsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "dataStreams": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaDataStream"
          },
          "description": "List of DataStreams.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksResponse": {
      "properties": {
        "userLinks": {
          "description": "The user links updated.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
          }
        }
      },
      "description": "Response message for BatchUpdateUserLinks RPC.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksResponse"
    },
    "GoogleAnalyticsAdminV1alphaProperty": {
      "description": "A resource message representing a Google Analytics GA4 property.",
      "properties": {
        "serviceLevel": {
          "enumDescriptions": [
            "Service level not specified or invalid.",
            "The standard version of Google Analytics.",
            "The paid, premium version of Google Analytics."
          ],
          "readOnly": true,
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "GOOGLE_ANALYTICS_STANDARD",
            "GOOGLE_ANALYTICS_360"
          ],
          "description": "Output only. The Google Analytics service level that applies to this property.",
          "type": "string"
        },
        "propertyType": {
          "description": "Immutable. The property type for this Property resource. When creating a property, if the type is \"PROPERTY_TYPE_UNSPECIFIED\", then \"ORDINARY_PROPERTY\" will be implied. \"SUBPROPERTY\" and \"ROLLUP_PROPERTY\" types cannot yet be created via Google Analytics Admin API.",
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary GA4 property",
            "GA4 subproperty",
            "GA4 rollup property"
          ],
          "enum": [
            "PROPERTY_TYPE_UNSPECIFIED",
            "PROPERTY_TYPE_ORDINARY",
            "PROPERTY_TYPE_SUBPROPERTY",
            "PROPERTY_TYPE_ROLLUP"
          ],
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when the entity was originally created.",
          "readOnly": true
        },
        "timeZone": {
          "type": "string",
          "description": "Required. Reporting Time Zone, used as the day boundary for reports, regardless of where the data originates. If the time zone honors DST, Analytics will automatically adjust for the changes. NOTE: Changing the time zone only affects data going forward, and is not applied retroactively. Format: https://www.iana.org/time-zones Example: \"America/Los_Angeles\""
        },
        "industryCategory": {
          "enum": [
            "INDUSTRY_CATEGORY_UNSPECIFIED",
            "AUTOMOTIVE",
            "BUSINESS_AND_INDUSTRIAL_MARKETS",
            "FINANCE",
            "HEALTHCARE",
            "TECHNOLOGY",
            "TRAVEL",
            "OTHER",
            "ARTS_AND_ENTERTAINMENT",
            "BEAUTY_AND_FITNESS",
            "BOOKS_AND_LITERATURE",
            "FOOD_AND_DRINK",
            "GAMES",
            "HOBBIES_AND_LEISURE",
            "HOME_AND_GARDEN",
            "INTERNET_AND_TELECOM",
            "LAW_AND_GOVERNMENT",
            "NEWS",
            "ONLINE_COMMUNITIES",
            "PEOPLE_AND_SOCIETY",
            "PETS_AND_ANIMALS",
            "REAL_ESTATE",
            "REFERENCE",
            "SCIENCE",
            "SPORTS",
            "JOBS_AND_EDUCATION",
            "SHOPPING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Industry category unspecified",
            "Automotive",
            "Business and industrial markets",
            "Finance",
            "Healthcare",
            "Technology",
            "Travel",
            "Other",
            "Arts and entertainment",
            "Beauty and fitness",
            "Books and literature",
            "Food and drink",
            "Games",
            "Hobbies and leisure",
            "Home and garden",
            "Internet and telecom",
            "Law and government",
            "News",
            "Online communities",
            "People and society",
            "Pets and animals",
            "Real estate",
            "Reference",
            "Science",
            "Sports",
            "Jobs and education",
            "Shopping"
          ],
          "description": "Industry associated with this property Example: AUTOMOTIVE, FOOD_AND_DRINK"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of this property. Format: properties/{property_id} Example: \"properties/1000\"",
          "readOnly": true
        },
        "account": {
          "description": "Immutable. The resource name of the parent account Format: accounts/{account_id} Example: \"accounts/123\"",
          "type": "string"
        },
        "currencyCode": {
          "type": "string",
          "description": "The currency type used in reports involving monetary values. Format: https://en.wikipedia.org/wiki/ISO_4217 Examples: \"USD\", \"EUR\", \"JPY\""
        },
        "deleteTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. If set, the time at which this property was trashed. If not set, then this property is not currently in the trash can."
        },
        "parent": {
          "type": "string",
          "description": "Immutable. Resource name of this property's logical parent. Note: The Property-Moving UI can be used to change the parent. Format: accounts/{account}, properties/{property} Example: \"accounts/100\", \"properties/101\""
        },
        "displayName": {
          "type": "string",
          "description": "Required. Human-readable display name for this property. The max allowed display name length is 100 UTF-16 code units."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Time when entity payload fields were last updated.",
          "readOnly": true,
          "type": "string"
        },
        "expireTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. If set, the time at which this trashed property will be permanently deleted. If not set, then this property is not currently in the trash can and is not slated to be deleted.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaProperty"
    },
    "GoogleAnalyticsAdminV1alphaListMeasurementProtocolSecretsResponse": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListMeasurementProtocolSecretsResponse",
      "description": "Response message for ListMeasurementProtocolSecret RPC",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "measurementProtocolSecrets": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret"
          },
          "description": "A list of secrets for the parent stream specified in the request."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaDataStream": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaDataStream",
      "description": "A resource message representing a data stream.",
      "properties": {
        "name": {
          "description": "Output only. Resource name of this Data Stream. Format: properties/{property_id}/dataStreams/{stream_id} Example: \"properties/1000/dataStreams/2000\"",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "enum": [
            "DATA_STREAM_TYPE_UNSPECIFIED",
            "WEB_DATA_STREAM",
            "ANDROID_APP_DATA_STREAM",
            "IOS_APP_DATA_STREAM"
          ],
          "description": "Required. Immutable. The type of this DataStream resource.",
          "type": "string",
          "enumDescriptions": [
            "Type unknown or not specified.",
            "Web data stream.",
            "Android app data stream.",
            "iOS app data stream."
          ]
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when stream payload fields were last updated.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Human-readable display name for the Data Stream. Required for web data streams. The max allowed display name length is 255 UTF-16 code units."
        },
        "androidAppStreamData": {
          "description": "Data specific to Android app streams. Must be populated if type is ANDROID_APP_DATA_STREAM.",
          "$ref": "GoogleAnalyticsAdminV1alphaDataStreamAndroidAppStreamData"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Time when this stream was originally created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "webStreamData": {
          "$ref": "GoogleAnalyticsAdminV1alphaDataStreamWebStreamData",
          "description": "Data specific to web streams. Must be populated if type is WEB_DATA_STREAM."
        },
        "iosAppStreamData": {
          "description": "Data specific to iOS app streams. Must be populated if type is IOS_APP_DATA_STREAM.",
          "$ref": "GoogleAnalyticsAdminV1alphaDataStreamIosAppStreamData"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAuditUserLinksResponse": {
      "id": "GoogleAnalyticsAdminV1alphaAuditUserLinksResponse",
      "properties": {
        "userLinks": {
          "description": "List of AuditUserLinks. These will be ordered stably, but in an arbitrary order.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAuditUserLink"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "description": "Response message for AuditUserLinks RPC."
    },
    "GoogleAnalyticsAdminV1alphaLinkProposalStatusDetails": {
      "description": "Status information for a link proposal.",
      "type": "object",
      "properties": {
        "requestorEmail": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The email address of the user that proposed this linkage."
        },
        "linkProposalState": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state",
            "This proposal is awaiting review from a Google Analytics user. This proposal will automatically expire after some time.",
            "This proposal is awaiting review from a user of a linked product. This proposal will automatically expire after some time.",
            "This proposal has been withdrawn by an admin on the initiating product. This proposal will be automatically deleted after some time.",
            "This proposal has been declined by an admin on the receiving product. This proposal will be automatically deleted after some time.",
            "This proposal expired due to lack of response from an admin on the receiving product. This proposal will be automatically deleted after some time.",
            "This proposal has become obsolete because a link was directly created to the same external product resource that this proposal specifies. This proposal will be automatically deleted after some time."
          ],
          "description": "Output only. The state of this proposal.",
          "enum": [
            "LINK_PROPOSAL_STATE_UNSPECIFIED",
            "AWAITING_REVIEW_FROM_GOOGLE_ANALYTICS",
            "AWAITING_REVIEW_FROM_LINKED_PRODUCT",
            "WITHDRAWN",
            "DECLINED",
            "EXPIRED",
            "OBSOLETE"
          ],
          "type": "string"
        },
        "linkProposalInitiatingProduct": {
          "enum": [
            "LINK_PROPOSAL_INITIATING_PRODUCT_UNSPECIFIED",
            "GOOGLE_ANALYTICS",
            "LINKED_PRODUCT"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified product.",
            "This proposal was created by a user from Google Analytics.",
            "This proposal was created by a user from a linked product (not Google Analytics)."
          ],
          "type": "string",
          "description": "Output only. The source of this proposal."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaLinkProposalStatusDetails"
    },
    "GoogleAnalyticsAdminV1alphaListUserLinksResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "userLinks": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
          },
          "description": "List of UserLinks. These will be ordered stably, but in an arbitrary order.",
          "type": "array"
        }
      },
      "description": "Response message for ListUserLinks RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListUserLinksResponse"
    },
    "GoogleAnalyticsAdminV1alphaAuditUserLinksRequest": {
      "description": "Request message for AuditUserLinks RPC.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAuditUserLinksRequest",
      "properties": {
        "pageToken": {
          "description": "A page token, received from a previous `AuditUserLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `AuditUserLinks` must match the call that provided the page token.",
          "type": "string"
        },
        "pageSize": {
          "description": "The maximum number of user links to return. The service may return fewer than this value. If unspecified, at most 1000 user links will be returned. The maximum value is 5000; values above 5000 will be coerced to 5000.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccount": {
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of this account. Format: accounts/{account} Example: \"accounts/100\"",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Human-readable display name for this account."
        },
        "regionCode": {
          "description": "Country of business. Must be a Unicode CLDR region code.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when this account was originally created."
        },
        "deleted": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates whether this Account is soft-deleted or not. Deleted accounts are excluded from List results unless specifically requested."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Time when account payload fields were last updated.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccount",
      "description": "A resource message representing a Google Analytics account."
    },
    "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequest": {
      "description": "Request message for SearchChangeHistoryEvents RPC.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequest",
      "properties": {
        "action": {
          "type": "array",
          "items": {
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "CREATED",
              "UPDATED",
              "DELETED"
            ],
            "type": "string",
            "enumDescriptions": [
              "Action type unknown or not specified.",
              "Resource was created in this change.",
              "Resource was updated in this change.",
              "Resource was deleted in this change."
            ]
          },
          "description": "Optional. If set, only return changes that match one or more of these types of actions."
        },
        "resourceType": {
          "type": "array",
          "description": "Optional. If set, only return changes if they are for a resource that matches at least one of these types.",
          "items": {
            "enum": [
              "CHANGE_HISTORY_RESOURCE_TYPE_UNSPECIFIED",
              "ACCOUNT",
              "PROPERTY",
              "FIREBASE_LINK",
              "GOOGLE_ADS_LINK",
              "GOOGLE_SIGNALS_SETTINGS",
              "CONVERSION_EVENT",
              "MEASUREMENT_PROTOCOL_SECRET",
              "CUSTOM_DIMENSION",
              "CUSTOM_METRIC",
              "DATA_RETENTION_SETTINGS",
              "DISPLAY_VIDEO_360_ADVERTISER_LINK",
              "DISPLAY_VIDEO_360_ADVERTISER_LINK_PROPOSAL",
              "DATA_STREAM",
              "ATTRIBUTION_SETTINGS"
            ],
            "type": "string",
            "enumDescriptions": [
              "Resource type unknown or not specified.",
              "Account resource",
              "Property resource",
              "FirebaseLink resource",
              "GoogleAdsLink resource",
              "GoogleSignalsSettings resource",
              "ConversionEvent resource",
              "MeasurementProtocolSecret resource",
              "CustomDimension resource",
              "CustomMetric resource",
              "DataRetentionSettings resource",
              "DisplayVideo360AdvertiserLink resource",
              "DisplayVideo360AdvertiserLinkProposal resource",
              "DataStream resource",
              "AttributionSettings resource"
            ]
          }
        },
        "actorEmail": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. If set, only return changes if they are made by a user in this list."
        },
        "latestChangeTime": {
          "format": "google-datetime",
          "description": "Optional. If set, only return changes made before this time (inclusive).",
          "type": "string"
        },
        "earliestChangeTime": {
          "description": "Optional. If set, only return changes made after this time (inclusive).",
          "format": "google-datetime",
          "type": "string"
        },
        "pageSize": {
          "type": "integer",
          "description": "Optional. The maximum number of ChangeHistoryEvent items to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 items will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
          "format": "int32"
        },
        "property": {
          "type": "string",
          "description": "Optional. Resource name for a child property. If set, only return changes made to this property or its child resources."
        },
        "pageToken": {
          "description": "Optional. A page token, received from a previous `SearchChangeHistoryEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchChangeHistoryEvents` must match the call that provided the page token.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaCustomDimension": {
      "id": "GoogleAnalyticsAdminV1alphaCustomDimension",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Required. Display name for this custom dimension as shown in the Analytics UI. Max length of 82 characters, alphanumeric plus space and underscore starting with a letter. Legacy system-generated display names may contain square brackets, but updates to this field will never permit square brackets.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description for this custom dimension. Max length of 150 characters.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name for this CustomDimension resource. Format: properties/{property}/customDimensions/{customDimension}",
          "readOnly": true
        },
        "disallowAdsPersonalization": {
          "type": "boolean",
          "description": "Optional. If set to true, sets this dimension as NPA and excludes it from ads personalization. This is currently only supported by user-scoped custom dimensions."
        },
        "scope": {
          "enumDescriptions": [
            "Scope unknown or not specified.",
            "Dimension scoped to an event.",
            "Dimension scoped to a user."
          ],
          "type": "string",
          "description": "Required. Immutable. The scope of this dimension.",
          "enum": [
            "DIMENSION_SCOPE_UNSPECIFIED",
            "EVENT",
            "USER"
          ]
        },
        "parameterName": {
          "description": "Required. Immutable. Tagging parameter name for this custom dimension. If this is a user-scoped dimension, then this is the user property name. If this is an event-scoped dimension, then this is the event parameter name. May only contain alphanumeric and underscore characters, starting with a letter. Max length of 24 characters for user-scoped dimensions, 40 characters for event-scoped dimensions.",
          "type": "string"
        }
      },
      "description": "A definition for a CustomDimension."
    },
    "GoogleAnalyticsAdminV1alphaPropertySummary": {
      "id": "GoogleAnalyticsAdminV1alphaPropertySummary",
      "properties": {
        "displayName": {
          "description": "Display name for the property referred to in this property summary.",
          "type": "string"
        },
        "propertyType": {
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary GA4 property",
            "GA4 subproperty",
            "GA4 rollup property"
          ],
          "description": "The property's property type.",
          "enum": [
            "PROPERTY_TYPE_UNSPECIFIED",
            "PROPERTY_TYPE_ORDINARY",
            "PROPERTY_TYPE_SUBPROPERTY",
            "PROPERTY_TYPE_ROLLUP"
          ],
          "type": "string"
        },
        "property": {
          "description": "Resource name of property referred to by this property summary Format: properties/{property_id} Example: \"properties/1000\"",
          "type": "string"
        },
        "parent": {
          "description": "Resource name of this property's logical parent. Note: The Property-Moving UI can be used to change the parent. Format: accounts/{account}, properties/{property} Example: \"accounts/100\", \"properties/200\"",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A virtual resource representing metadata for a GA4 property."
    },
    "GoogleAnalyticsAdminV1alphaAcknowledgeUserDataCollectionRequest": {
      "properties": {
        "acknowledgement": {
          "type": "string",
          "description": "Required. An acknowledgement that the caller of this method understands the terms of user data collection. This field must contain the exact value: \"I acknowledge that I have the necessary privacy disclosures and rights from my end users for the collection and processing of their data, including the association of such data with the visitation information Google Analytics collects from my site and/or app property.\""
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAcknowledgeUserDataCollectionRequest",
      "description": "Request message for AcknowledgeUserDataCollection RPC."
    },
    "GoogleAnalyticsAdminV1alphaListDisplayVideo360AdvertiserLinksResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "displayVideo360AdvertiserLinks": {
          "description": "List of DisplayVideo360AdvertiserLinks.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for ListDisplayVideo360AdvertiserLinks RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListDisplayVideo360AdvertiserLinksResponse"
    },
    "GoogleAnalyticsAdminV1alphaListCustomDimensionsResponse": {
      "type": "object",
      "description": "Response message for ListCustomDimensions RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListCustomDimensionsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "customDimensions": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
          },
          "type": "array",
          "description": "List of CustomDimensions."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaDeleteUserLinkRequest": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Example format: accounts/1234/userLinks/5678"
        }
      },
      "type": "object",
      "description": "Request message for DeleteUserLink RPC.",
      "id": "GoogleAnalyticsAdminV1alphaDeleteUserLinkRequest"
    },
    "GoogleAnalyticsAdminV1alphaListDisplayVideo360AdvertiserLinkProposalsResponse": {
      "description": "Response message for ListDisplayVideo360AdvertiserLinkProposals RPC.",
      "type": "object",
      "properties": {
        "displayVideo360AdvertiserLinkProposals": {
          "type": "array",
          "description": "List of DisplayVideo360AdvertiserLinkProposals.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLinkProposal"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListDisplayVideo360AdvertiserLinkProposalsResponse"
    },
    "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings": {
      "description": "Settings values for Google Signals. This is a singleton resource.",
      "id": "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings",
      "properties": {
        "consent": {
          "enum": [
            "GOOGLE_SIGNALS_CONSENT_UNSPECIFIED",
            "GOOGLE_SIGNALS_CONSENT_CONSENTED",
            "GOOGLE_SIGNALS_CONSENT_NOT_CONSENTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Google Signals consent value defaults to GOOGLE_SIGNALS_CONSENT_UNSPECIFIED. This will be treated as GOOGLE_SIGNALS_CONSENT_NOT_CONSENTED.",
            "Terms of service have been accepted",
            "Terms of service have not been accepted"
          ],
          "description": "Output only. Terms of Service acceptance.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of this setting. Format: properties/{property_id}/googleSignalsSettings Example: \"properties/1000/googleSignalsSettings\""
        },
        "state": {
          "enum": [
            "GOOGLE_SIGNALS_STATE_UNSPECIFIED",
            "GOOGLE_SIGNALS_ENABLED",
            "GOOGLE_SIGNALS_DISABLED"
          ],
          "enumDescriptions": [
            "Google Signals status defaults to GOOGLE_SIGNALS_STATE_UNSPECIFIED to represent that the user has not made an explicit choice.",
            "Google Signals is enabled.",
            "Google Signals is disabled."
          ],
          "description": "Status of this setting.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaConversionEvent": {
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of this conversion event. Format: properties/{property}/conversionEvents/{conversion_event}"
        },
        "eventName": {
          "type": "string",
          "description": "Immutable. The event name for this conversion event. Examples: 'click', 'purchase'"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Time when this conversion event was created in the property.",
          "format": "google-datetime",
          "type": "string"
        },
        "custom": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. If set to true, this conversion event refers to a custom event. If set to false, this conversion event refers to a default event in GA. Default events typically have special meaning in GA. Default events are usually created for you by the GA system, but in some cases can be created by property admins. Custom events count towards the maximum number of custom conversion events that may be created per property."
        },
        "deletable": {
          "type": "boolean",
          "description": "Output only. If set, this event can currently be deleted via DeleteConversionEvent.",
          "readOnly": true
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaConversionEvent",
      "type": "object",
      "description": "A conversion event in a Google Analytics property."
    },
    "GoogleAnalyticsAdminV1alphaApproveDisplayVideo360AdvertiserLinkProposalRequest": {
      "description": "Request message for ApproveDisplayVideo360AdvertiserLinkProposal RPC.",
      "id": "GoogleAnalyticsAdminV1alphaApproveDisplayVideo360AdvertiserLinkProposalRequest",
      "type": "object",
      "properties": {}
    },
    "GoogleAnalyticsAdminV1alphaArchiveCustomMetricRequest": {
      "description": "Request message for ArchiveCustomMetric RPC.",
      "properties": {},
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaArchiveCustomMetricRequest"
    },
    "GoogleAnalyticsAdminV1alphaListConversionEventsResponse": {
      "type": "object",
      "description": "Response message for ListConversionEvents RPC.",
      "properties": {
        "conversionEvents": {
          "type": "array",
          "description": "The requested conversion events",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaConversionEvent"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListConversionEventsResponse"
    },
    "GoogleAnalyticsAdminV1alphaListAccountsResponse": {
      "type": "object",
      "description": "Request message for ListAccounts RPC.",
      "properties": {
        "accounts": {
          "type": "array",
          "description": "Results that were accessible to the caller.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccount"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListAccountsResponse"
    },
    "GoogleAnalyticsAdminV1alphaListAccountSummariesResponse": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListAccountSummariesResponse",
      "properties": {
        "accountSummaries": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccountSummary"
          },
          "type": "array",
          "description": "Account summaries of all accounts the caller has access to."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListAccountSummaries RPC."
    },
    "GoogleAnalyticsAdminV1alphaBatchCreateUserLinksRequest": {
      "type": "object",
      "properties": {
        "requests": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCreateUserLinkRequest"
          },
          "description": "Required. The requests specifying the user links to create. A maximum of 1000 user links can be created in a batch.",
          "type": "array"
        },
        "notifyNewUsers": {
          "type": "boolean",
          "description": "Optional. If set, then email the new users notifying them that they've been granted permissions to the resource. Regardless of whether this is set or not, notify_new_user field inside each individual request is ignored."
        }
      },
      "description": "Request message for BatchCreateUserLinks RPC.",
      "id": "GoogleAnalyticsAdminV1alphaBatchCreateUserLinksRequest"
    },
    "GoogleAnalyticsAdminV1alphaAttributionSettings": {
      "description": "The attribution settings used for a given property. This is a singleton resource.",
      "properties": {
        "otherConversionEventLookbackWindow": {
          "description": "Required. The lookback window for all other, non-acquisition conversion events. The default window size is 90 days.",
          "enum": [
            "OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_UNSPECIFIED",
            "OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_30_DAYS",
            "OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_60_DAYS",
            "OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_90_DAYS"
          ],
          "enumDescriptions": [
            "Lookback window size unspecified.",
            "30-day lookback window.",
            "60-day lookback window.",
            "90-day lookback window."
          ],
          "type": "string"
        },
        "acquisitionConversionEventLookbackWindow": {
          "enum": [
            "ACQUISITION_CONVERSION_EVENT_LOOKBACK_WINDOW_UNSPECIFIED",
            "ACQUISITION_CONVERSION_EVENT_LOOKBACK_WINDOW_7_DAYS",
            "ACQUISITION_CONVERSION_EVENT_LOOKBACK_WINDOW_30_DAYS"
          ],
          "type": "string",
          "description": "Required. The lookback window configuration for acquisition conversion events. The default window size is 30 days.",
          "enumDescriptions": [
            "Lookback window size unspecified.",
            "7-day lookback window.",
            "30-day lookback window."
          ]
        },
        "reportingAttributionModel": {
          "enum": [
            "REPORTING_ATTRIBUTION_MODEL_UNSPECIFIED",
            "CROSS_CHANNEL_DATA_DRIVEN",
            "CROSS_CHANNEL_LAST_CLICK",
            "CROSS_CHANNEL_FIRST_CLICK",
            "CROSS_CHANNEL_LINEAR",
            "CROSS_CHANNEL_POSITION_BASED",
            "CROSS_CHANNEL_TIME_DECAY",
            "ADS_PREFERRED_LAST_CLICK"
          ],
          "description": "Required. The reporting attribution model used to calculate conversion credit in this property's reports. Changing the attribution model will apply to both historical and future data. These changes will be reflected in reports with conversion and revenue data. User and session data will be unaffected.",
          "enumDescriptions": [
            "Reporting attribution model unspecified.",
            "Data-driven attribution distributes credit for the conversion based on data for each conversion event. Each Data-driven model is specific to each advertiser and each conversion event.",
            "Ignores direct traffic and attributes 100% of the conversion value to the last channel that the customer clicked through (or engaged view through for YouTube) before converting.",
            "Gives all credit for the conversion to the first channel that a customer clicked (or engaged view through for YouTube) before converting.",
            "Distributes the credit for the conversion equally across all the channels a customer clicked (or engaged view through for YouTube) before converting.",
            "Attributes 40% credit to the first and last interaction, and the remaining 20% credit is distributed evenly to the middle interactions.",
            "Gives more credit to the touchpoints that happened closer in time to the conversion.",
            "Attributes 100% of the conversion value to the last Google Ads channel that the customer clicked through before converting."
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of this attribution settings resource. Format: properties/{property_id}/attributionSettings Example: \"properties/1000/attributionSettings\""
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAttributionSettings",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaCustomMetric": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description for this custom dimension. Max length of 150 characters."
        },
        "displayName": {
          "description": "Required. Display name for this custom metric as shown in the Analytics UI. Max length of 82 characters, alphanumeric plus space and underscore starting with a letter. Legacy system-generated display names may contain square brackets, but updates to this field will never permit square brackets.",
          "type": "string"
        },
        "restrictedMetricType": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Type unknown or unspecified.",
              "Metric reports cost data.",
              "Metric reports revenue data."
            ],
            "enum": [
              "RESTRICTED_METRIC_TYPE_UNSPECIFIED",
              "COST_DATA",
              "REVENUE_DATA"
            ]
          },
          "description": "Optional. Types of restricted data that this metric may contain. Required for metrics with CURRENCY measurement unit. Must be empty for metrics with a non-CURRENCY measurement unit.",
          "type": "array"
        },
        "measurementUnit": {
          "type": "string",
          "description": "Required. The type for the custom metric's value.",
          "enumDescriptions": [
            "MeasurementUnit unspecified or missing.",
            "This metric uses default units.",
            "This metric measures a currency.",
            "This metric measures feet.",
            "This metric measures meters.",
            "This metric measures kilometers.",
            "This metric measures miles.",
            "This metric measures milliseconds.",
            "This metric measures seconds.",
            "This metric measures minutes.",
            "This metric measures hours."
          ],
          "enum": [
            "MEASUREMENT_UNIT_UNSPECIFIED",
            "STANDARD",
            "CURRENCY",
            "FEET",
            "METERS",
            "KILOMETERS",
            "MILES",
            "MILLISECONDS",
            "SECONDS",
            "MINUTES",
            "HOURS"
          ]
        },
        "name": {
          "description": "Output only. Resource name for this CustomMetric resource. Format: properties/{property}/customMetrics/{customMetric}",
          "type": "string",
          "readOnly": true
        },
        "scope": {
          "enum": [
            "METRIC_SCOPE_UNSPECIFIED",
            "EVENT"
          ],
          "description": "Required. Immutable. The scope of this custom metric.",
          "type": "string",
          "enumDescriptions": [
            "Scope unknown or not specified.",
            "Metric scoped to an event."
          ]
        },
        "parameterName": {
          "description": "Required. Immutable. Tagging name for this custom metric. If this is an event-scoped metric, then this is the event parameter name. May only contain alphanumeric and underscore charactes, starting with a letter. Max length of 40 characters for event-scoped metrics.",
          "type": "string"
        }
      },
      "description": "A definition for a custom metric.",
      "id": "GoogleAnalyticsAdminV1alphaCustomMetric",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccountSummary": {
      "description": "A virtual resource representing an overview of an account and all its child GA4 properties.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAccountSummary",
      "properties": {
        "displayName": {
          "description": "Display name for the account referred to in this account summary.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for this account summary. Format: accountSummaries/{account_id} Example: \"accountSummaries/1000\""
        },
        "propertySummaries": {
          "type": "array",
          "description": "List of summaries for child accounts of this account.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaPropertySummary"
          }
        },
        "account": {
          "description": "Resource name of account referred to by this account summary Format: accounts/{account_id} Example: \"accounts/1000\"",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaProvisionAccountTicketRequest": {
      "description": "Request message for ProvisionAccountTicket RPC.",
      "id": "GoogleAnalyticsAdminV1alphaProvisionAccountTicketRequest",
      "properties": {
        "account": {
          "description": "The account to create.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccount"
        },
        "redirectUri": {
          "description": "Redirect URI where the user will be sent after accepting Terms of Service. Must be configured in Developers Console as a Redirect URI",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "ownerName": "Google",
  "id": "analyticsadmin:v1alpha",
  "mtlsRootUrl": "https://analyticsadmin.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/analytics.manage.users": {
          "description": "Manage Google Analytics Account users by email address"
        },
        "https://www.googleapis.com/auth/analytics.readonly": {
          "description": "See and download your Google Analytics data"
        },
        "https://www.googleapis.com/auth/analytics.edit": {
          "description": "Edit Google Analytics management entities"
        },
        "https://www.googleapis.com/auth/analytics.manage.users.readonly": {
          "description": "View Google Analytics user permissions"
        }
      }
    }
  },
  "servicePath": "",
  "batchPath": "batch",
  "name": "analyticsadmin",
  "resources": {
    "accountSummaries": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaListAccountSummariesResponse"
          },
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A page token, received from a previous `ListAccountSummaries` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountSummaries` must match the call that provided the page token."
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "The maximum number of AccountSummary resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
              "type": "integer"
            }
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "id": "analyticsadmin.accountSummaries.list",
          "description": "Returns summaries of all accounts accessible by the caller.",
          "path": "v1alpha/accountSummaries",
          "flatPath": "v1alpha/accountSummaries"
        }
      }
    },
    "accounts": {
      "methods": {
        "provisionAccountTicket": {
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaProvisionAccountTicketRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "description": "Requests a ticket for creating an account.",
          "parameterOrder": [],
          "id": "analyticsadmin.accounts.provisionAccountTicket",
          "flatPath": "v1alpha/accounts:provisionAccountTicket",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaProvisionAccountTicketResponse"
          },
          "path": "v1alpha/accounts:provisionAccountTicket",
          "httpMethod": "POST",
          "parameters": {}
        },
        "delete": {
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^accounts/[^/]+$",
              "description": "Required. The name of the Account to soft-delete. Format: accounts/{account} Example: \"accounts/100\"",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "DELETE",
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "path": "v1alpha/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "parameterOrder": [
            "name"
          ],
          "description": "Marks target Account as soft-deleted (ie: \"trashed\") and returns it. This API does not have a method to restore soft-deleted accounts. However, they can be restored using the Trash Can UI. If the accounts are not restored before the expiration time, the account and all child resources (eg: Properties, GoogleAdsLinks, Streams, UserLinks) will be permanently purged. https://support.google.com/analytics/answer/6154772 Returns an error if the target is not found.",
          "id": "analyticsadmin.accounts.delete",
          "flatPath": "v1alpha/accounts/{accountsId}"
        },
        "patch": {
          "flatPath": "v1alpha/accounts/{accountsId}",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "parameterOrder": [
            "name"
          ],
          "path": "v1alpha/{+name}",
          "id": "analyticsadmin.accounts.patch",
          "parameters": {
            "updateMask": {
              "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            },
            "name": {
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^accounts/[^/]+$",
              "description": "Output only. Resource name of this account. Format: accounts/{account} Example: \"accounts/100\""
            }
          },
          "description": "Updates an account.",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccount"
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccount"
          }
        },
        "getDataSharingSettings": {
          "id": "analyticsadmin.accounts.getDataSharingSettings",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaDataSharingSettings"
          },
          "path": "v1alpha/{+name}",
          "flatPath": "v1alpha/accounts/{accountsId}/dataSharingSettings",
          "httpMethod": "GET",
          "description": "Get data sharing settings on an account. Data sharing settings are singletons.",
          "parameters": {
            "name": {
              "description": "Required. The name of the settings to lookup. Format: accounts/{account}/dataSharingSettings Example: \"accounts/1000/dataSharingSettings\"",
              "required": true,
              "location": "path",
              "pattern": "^accounts/[^/]+/dataSharingSettings$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ]
        },
        "searchChangeHistoryEvents": {
          "description": "Searches through all changes to an account or its children given the specified set of filters.",
          "path": "v1alpha/{+account}:searchChangeHistoryEvents",
          "id": "analyticsadmin.accounts.searchChangeHistoryEvents",
          "flatPath": "v1alpha/accounts/{accountsId}:searchChangeHistoryEvents",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "parameters": {
            "account": {
              "pattern": "^accounts/[^/]+$",
              "type": "string",
              "required": true,
              "description": "Required. The account resource for which to return change history resources.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequest"
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsResponse"
          },
          "parameterOrder": [
            "account"
          ]
        },
        "get": {
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccount"
          },
          "flatPath": "v1alpha/accounts/{accountsId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "description": "Lookup for a single Account.",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "description": "Required. The name of the account to lookup. Format: accounts/{account} Example: \"accounts/100\"",
              "required": true,
              "pattern": "^accounts/[^/]+$"
            }
          },
          "path": "v1alpha/{+name}",
          "id": "analyticsadmin.accounts.get",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ]
        },
        "list": {
          "description": "Returns all accounts accessible by the caller. Note that these accounts might not currently have GA4 properties. Soft-deleted (ie: \"trashed\") accounts are excluded by default. Returns an empty list if no relevant accounts are found.",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "location": "query",
              "description": "The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
              "format": "int32"
            },
            "pageToken": {
              "description": "A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccounts` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            },
            "showDeleted": {
              "type": "boolean",
              "description": "Whether to include soft-deleted (ie: \"trashed\") Accounts in the results. Accounts can be inspected to determine whether they are deleted or not.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaListAccountsResponse"
          },
          "parameterOrder": [],
          "path": "v1alpha/accounts",
          "flatPath": "v1alpha/accounts",
          "id": "analyticsadmin.accounts.list",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ]
        }
      },
      "resources": {
        "userLinks": {
          "methods": {
            "batchUpdate": {
              "path": "v1alpha/{+parent}/userLinks:batchUpdate",
              "description": "Updates information about multiple users' links to an account or property.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "analyticsadmin.accounts.userLinks.batchUpdate",
              "flatPath": "v1alpha/accounts/{accountsId}/userLinks:batchUpdate",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The account or property that all user links in the request are for. The parent field in the UpdateUserLinkRequest messages must either be empty or match this field. Example format: accounts/1234",
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksRequest"
              },
              "httpMethod": "POST"
            },
            "batchGet": {
              "parameters": {
                "parent": {
                  "description": "Required. The account or property that all user links in the request are for. The parent of all provided values for the 'names' field must match this field. Example format: accounts/1234",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "names": {
                  "repeated": true,
                  "location": "query",
                  "description": "Required. The names of the user links to retrieve. A maximum of 1000 user links can be retrieved in a batch. Format: accounts/{accountId}/userLinks/{userLinkId}",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1alpha/accounts/{accountsId}/userLinks:batchGet",
              "description": "Gets information about multiple users' links to an account or property.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "analyticsadmin.accounts.userLinks.batchGet",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchGetUserLinksResponse"
              },
              "path": "v1alpha/{+parent}/userLinks:batchGet"
            },
            "patch": {
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Output only. Example format: properties/1234/userLinks/5678",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/userLinks/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
              },
              "httpMethod": "PATCH",
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/accounts/{accountsId}/userLinks/{userLinksId}",
              "id": "analyticsadmin.accounts.userLinks.patch",
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a user link on an account or property.",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
              }
            },
            "batchDelete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The account or property that all user links in the request are for. The parent of all values for user link names to delete must match this field. Example format: accounts/1234"
                }
              },
              "path": "v1alpha/{+parent}/userLinks:batchDelete",
              "flatPath": "v1alpha/accounts/{accountsId}/userLinks:batchDelete",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchDeleteUserLinksRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "description": "Deletes information about multiple users' links to an account or property.",
              "id": "analyticsadmin.accounts.userLinks.batchDelete"
            },
            "get": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "id": "analyticsadmin.accounts.userLinks.get",
              "description": "Gets information about a user's link to an account or property.",
              "parameters": {
                "name": {
                  "description": "Required. Example format: accounts/1234/userLinks/5678",
                  "required": true,
                  "pattern": "^accounts/[^/]+/userLinks/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1alpha/accounts/{accountsId}/userLinks/{userLinksId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}"
            },
            "audit": {
              "parameterOrder": [
                "parent"
              ],
              "id": "analyticsadmin.accounts.userLinks.audit",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. Example format: accounts/1234",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "path": "v1alpha/{+parent}/userLinks:audit",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaAuditUserLinksRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAuditUserLinksResponse"
              },
              "description": "Lists all user links on an account or property, including implicit ones that come from effective permissions granted by groups or organization admin roles. If a returned user link does not have direct permissions, they cannot be removed from the account or property directly with the DeleteUserLink command. They have to be removed from the group/etc that gives them permissions, which is currently only usable/discoverable in the GA or GMP UIs.",
              "flatPath": "v1alpha/accounts/{accountsId}/userLinks:audit"
            },
            "batchCreate": {
              "httpMethod": "POST",
              "flatPath": "v1alpha/accounts/{accountsId}/userLinks:batchCreate",
              "id": "analyticsadmin.accounts.userLinks.batchCreate",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
[...]
