{
  "name": "analyticsadmin",
  "description": "",
  "servicePath": "",
  "version_module": true,
  "discoveryVersion": "v1",
  "title": "Google Analytics Admin API",
  "batchPath": "batch",
  "ownerName": "Google",
  "basePath": "",
  "ownerDomain": "google.com",
  "baseUrl": "https://analyticsadmin.googleapis.com/",
  "schemas": {
    "GoogleAnalyticsAdminV1alphaListGoogleAdsLinksResponse": {
      "description": "Response message for ListGoogleAdsLinks RPC.",
      "properties": {
        "googleAdsLinks": {
          "description": "List of GoogleAdsLinks.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListGoogleAdsLinksResponse"
    },
    "GoogleAnalyticsAdminV1alphaAccountSummary": {
      "properties": {
        "propertySummaries": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaPropertySummary"
          },
          "type": "array",
          "description": "List of summaries for child accounts of this account."
        },
        "displayName": {
          "type": "string",
          "description": "Display name for the account referred to in this account summary."
        },
        "account": {
          "type": "string",
          "description": "Resource name of account referred to by this account summary Format: accounts/{account_id} Example: \"accounts/1000\""
        },
        "name": {
          "type": "string",
          "description": "Resource name for this account summary. Format: accountSummaries/{account_id} Example: \"accountSummaries/1000\""
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccountSummary",
      "description": "A virtual resource representing an overview of an account and all its child GA4 properties.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsResponse": {
      "type": "object",
      "description": "Response message for SearchAccounts RPC.",
      "id": "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "changeHistoryEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryEvent"
          },
          "description": "Results that were accessible to the caller."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListPropertiesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "properties": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "description": "Results that matched the filter criteria and were accessible to the caller.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListPropertiesResponse",
      "description": "Response message for ListProperties RPC."
    },
    "GoogleAnalyticsAdminV1alphaWebDataStream": {
      "description": "A resource message representing a Google Analytics web stream.",
      "properties": {
        "measurementId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Analytics \"Measurement ID\", without the \"G-\" prefix. Example: \"G-1A2BCD345E\" would just be \"1A2BCD345E\""
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when stream payload fields were last updated.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Time when this stream was originally created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Required. Human-readable display name for the Data Stream. The max allowed display name length is 100 UTF-16 code units.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name of this Data Stream. Format: properties/{property_id}/webDataStreams/{stream_id} Example: \"properties/1000/webDataStreams/2000\"",
          "readOnly": true,
          "type": "string"
        },
        "firebaseAppId": {
          "readOnly": true,
          "description": "Output only. ID of the corresponding web app in Firebase, if any. This ID can change if the web app is deleted and recreated.",
          "type": "string"
        },
        "defaultUri": {
          "description": "Immutable. Domain name of the web app being measured, or empty. Example: \"http://www.google.com\", \"https://www.google.com\"",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaWebDataStream"
    },
    "GoogleAnalyticsAdminV1alphaListAndroidAppDataStreamsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListAndroidAppDataStreamsResponse",
      "description": "Request message for ListAndroidDataStreams RPC.",
      "properties": {
        "androidAppDataStreams": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAndroidAppDataStream"
          },
          "description": "Results that matched the filter criteria and were accessible to the caller.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListWebDataStreamsResponse": {
      "type": "object",
      "description": "Request message for ListWebDataStreams RPC.",
      "properties": {
        "webDataStreams": {
          "description": "Results that matched the filter criteria and were accessible to the caller.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaWebDataStream"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListWebDataStreamsResponse"
    },
    "GoogleAnalyticsAdminV1alphaChangeHistoryChange": {
      "type": "object",
      "description": "A description of a change to a single Google Analytics resource.",
      "id": "GoogleAnalyticsAdminV1alphaChangeHistoryChange",
      "properties": {
        "resourceAfterChange": {
          "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource",
          "description": "Resource contents from after the change was made. If this resource was deleted in this change, this field will be missing."
        },
        "resource": {
          "description": "Resource name of the resource whose changes are described by this entry.",
          "type": "string"
        },
        "resourceBeforeChange": {
          "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource",
          "description": "Resource contents from before the change was made. If this resource was created in this change, this field will be missing."
        },
        "action": {
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "CREATED",
            "UPDATED",
            "DELETED"
          ],
          "type": "string",
          "description": "The type of action that changed this resource.",
          "enumDescriptions": [
            "Action type unknown or not specified.",
            "Resource was created in this change.",
            "Resource was updated in this change.",
            "Resource was deleted in this change."
          ]
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaProvisionAccountTicketRequest": {
      "id": "GoogleAnalyticsAdminV1alphaProvisionAccountTicketRequest",
      "properties": {
        "redirectUri": {
          "description": "Redirect URI where the user will be sent after accepting Terms of Service. Must be configured in Developers Console as a Redirect URI",
          "type": "string"
        },
        "account": {
          "description": "The account to create.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccount"
        }
      },
      "type": "object",
      "description": "Request message for ProvisionAccountTicket RPC."
    },
    "GoogleAnalyticsAdminV1alphaBatchCreateUserLinksResponse": {
      "id": "GoogleAnalyticsAdminV1alphaBatchCreateUserLinksResponse",
      "type": "object",
      "properties": {
        "userLinks": {
          "type": "array",
          "description": "The user links created.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
          }
        }
      },
      "description": "Response message for BatchCreateUserLinks RPC."
    },
    "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource",
      "description": "A snapshot of a resource as before or after the result of a change in change history.",
      "properties": {
        "androidAppDataStream": {
          "description": "A snapshot of an AndroidAppDataStream resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaAndroidAppDataStream"
        },
        "iosAppDataStream": {
          "description": "A snapshot of an IosAppDataStream resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaIosAppDataStream"
        },
        "webDataStream": {
          "$ref": "GoogleAnalyticsAdminV1alphaWebDataStream",
          "description": "A snapshot of a WebDataStream resource in change history."
        },
        "googleAdsLink": {
          "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink",
          "description": "A snapshot of a GoogleAdsLink resource in change history."
        },
        "property": {
          "$ref": "GoogleAnalyticsAdminV1alphaProperty",
          "description": "A snapshot of a Property resource in change history."
        },
        "firebaseLink": {
          "description": "A snapshot of a FirebaseLink resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaFirebaseLink"
        },
        "account": {
          "description": "A snapshot of an Account resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccount"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaBatchCreateUserLinksRequest": {
      "id": "GoogleAnalyticsAdminV1alphaBatchCreateUserLinksRequest",
      "properties": {
        "requests": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCreateUserLinkRequest"
          },
          "description": "Required. The requests specifying the user links to create. A maximum of 1000 user links can be created in a batch.",
          "type": "array"
        },
        "notifyNewUsers": {
          "description": "Optional. If set, then email the new users notifying them that they've been granted permissions to the resource. Regardless of whether this is set or not, notify_new_user field inside each individual request is ignored.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Request message for BatchCreateUserLinks RPC."
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "id": "GoogleProtobufEmpty",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListUserLinksResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "userLinks": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
          },
          "description": "List of UserLinks. These will be ordered stably, but in an arbitrary order."
        }
      },
      "description": "Response message for ListUserLinks RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListUserLinksResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListIosAppDataStreamsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListIosAppDataStreamsResponse",
      "description": "Request message for ListIosAppDataStreams RPC.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "iosAppDataStreams": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaIosAppDataStream"
          },
          "description": "Results that matched the filter criteria and were accessible to the caller."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAuditUserLinksResponse": {
      "id": "GoogleAnalyticsAdminV1alphaAuditUserLinksResponse",
      "type": "object",
      "properties": {
        "userLinks": {
          "description": "List of AuditUserLinks. These will be ordered stably, but in an arbitrary order.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAuditUserLink"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for AuditUserLinks RPC."
    },
    "GoogleAnalyticsAdminV1alphaAndroidAppDataStream": {
      "id": "GoogleAnalyticsAdminV1alphaAndroidAppDataStream",
      "description": "A resource message representing a Google Analytics Android app stream.",
      "properties": {
        "updateTime": {
          "description": "Output only. Time when stream payload fields were last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Time when this stream was originally created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "firebaseAppId": {
          "type": "string",
          "description": "Output only. ID of the corresponding Android app in Firebase, if any. This ID can change if the Android app is deleted and recreated.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of this Data Stream. Format: properties/{property_id}/androidAppDataStreams/{stream_id} Example: \"properties/1000/androidAppDataStreams/2000\"",
          "readOnly": true
        },
        "packageName": {
          "description": "Immutable. The package name for the app being measured. Example: \"com.example.myandroidapp\"",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Human-readable display name for the Data Stream. The max allowed display name length is 255 UTF-16 code units."
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaProvisionAccountTicketResponse": {
      "properties": {
        "accountTicketId": {
          "description": "The param to be passed in the ToS link.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for ProvisionAccountTicket RPC.",
      "id": "GoogleAnalyticsAdminV1alphaProvisionAccountTicketResponse"
    },
    "GoogleAnalyticsAdminV1alphaPropertySummary": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Display name for the property referred to in this account summary.",
          "type": "string"
        },
        "property": {
          "description": "Resource name of property referred to by this property summary Format: properties/{property_id} Example: \"properties/1000\"",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaPropertySummary",
      "description": "A virtual resource representing metadata for an GA4 property."
    },
    "GoogleAnalyticsAdminV1alphaListAccountsResponse": {
      "description": "Request message for ListAccounts RPC.",
      "properties": {
        "accounts": {
          "description": "Results that were accessible to the caller.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccount"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListAccountsResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAuditUserLinksRequest": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAuditUserLinksRequest",
      "properties": {
        "pageSize": {
          "type": "integer",
          "description": "The maximum number of user links to return. The service may return fewer than this value. If unspecified, at most 1000 user links will be returned. The maximum value is 5000; values above 5000 will be coerced to 5000.",
          "format": "int32"
        },
        "pageToken": {
          "description": "A page token, received from a previous `AuditUserLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `AuditUserLinks` must match the call that provided the page token.",
          "type": "string"
        }
      },
      "description": "Request message for AuditUserLinks RPC."
    },
    "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequest": {
      "type": "object",
      "description": "Request message for SearchChangeHistoryEvents RPC.",
      "id": "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequest",
      "properties": {
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum number of ChangeHistoryEvent items to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 items will be returned. The maximum value is 200 (higher values will be coerced to the maximum)."
        },
        "action": {
          "items": {
            "type": "string",
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "CREATED",
              "UPDATED",
              "DELETED"
            ],
            "enumDescriptions": [
              "Action type unknown or not specified.",
              "Resource was created in this change.",
              "Resource was updated in this change.",
              "Resource was deleted in this change."
            ]
          },
          "type": "array",
          "description": "Optional. If set, only return changes that match one or more of these types of actions."
        },
        "resourceType": {
          "type": "array",
          "description": "Optional. If set, only return changes if they are for a resource that matches at least one of these types.",
          "items": {
            "enumDescriptions": [
              "Resource type unknown or not specified.",
              "Account resource",
              "Property resource",
              "WebDataStream resource",
              "AndroidAppDataStream resource",
              "IosAppDataStream resource",
              "FirebaseLink resource",
              "GoogleAdsLink resource"
            ],
            "enum": [
              "CHANGE_HISTORY_RESOURCE_TYPE_UNSPECIFIED",
              "ACCOUNT",
              "PROPERTY",
              "WEB_DATA_STREAM",
              "ANDROID_APP_DATA_STREAM",
              "IOS_APP_DATA_STREAM",
              "FIREBASE_LINK",
              "GOOGLE_ADS_LINK"
            ],
            "type": "string"
          }
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. A page token, received from a previous `SearchChangeHistoryEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchChangeHistoryEvents` must match the call that provided the page token."
        },
        "property": {
          "description": "Optional. Resource name for a child property. If set, only return changes made to this property or its child resources.",
          "type": "string"
        },
        "earliestChangeTime": {
          "description": "Optional. If set, only return changes made after this time (inclusive).",
          "type": "string",
          "format": "google-datetime"
        },
        "actorEmail": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. If set, only return changes if they are made by a user in this list."
        },
        "latestChangeTime": {
          "format": "google-datetime",
          "description": "Optional. If set, only return changes made before this time (inclusive).",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaBatchDeleteUserLinksRequest": {
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. The requests specifying the user links to update. A maximum of 1000 user links can be updated in a batch.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaDeleteUserLinkRequest"
          }
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaBatchDeleteUserLinksRequest",
      "description": "Request message for BatchDeleteUserLinks RPC."
    },
    "GoogleAnalyticsAdminV1alphaListAccountSummariesResponse": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListAccountSummariesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "accountSummaries": {
          "description": "Account summaries of all accounts the caller has access to.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccountSummary"
          }
        }
      },
      "description": "Response message for ListAccountSummaries RPC."
    },
    "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings": {
      "properties": {
        "uriQueryParameter": {
          "type": "string",
          "description": "Additional URL query parameters. Max length is 1024 characters."
        },
        "fileDownloadsEnabled": {
          "description": "If enabled, capture a file download event each time a link is clicked with a common document, compressed file, application, video, or audio extension.",
          "type": "boolean"
        },
        "pageLoadsEnabled": {
          "type": "boolean",
          "description": "Output only. If enabled, capture a page view event each time a page loads.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of this Data Stream. Format: properties/{property_id}/webDataStreams/{stream_id}/enhancedMeasurementSettings Example: \"properties/1000/webDataStreams/2000/enhancedMeasurementSettings\"",
          "type": "string"
        },
        "videoEngagementEnabled": {
          "description": "If enabled, capture video play, progress, and complete events as visitors view embedded videos on your site.",
          "type": "boolean"
        },
        "streamEnabled": {
          "description": "Indicates whether Enhanced Measurement Settings will be used to automatically measure interactions and content on this web stream. Changing this value does not affect the settings themselves, but determines whether they are respected.",
          "type": "boolean"
        },
        "outboundClicksEnabled": {
          "type": "boolean",
          "description": "If enabled, capture an outbound click event each time a visitor clicks a link that leads them away from your domain."
        },
        "siteSearchEnabled": {
          "description": "If enabled, capture a view search results event each time a visitor performs a search on your site (based on a query parameter).",
          "type": "boolean"
        },
        "searchQueryParameter": {
          "type": "string",
          "description": "Required. URL query parameters to interpret as site search parameters. Max length is 1024 characters. Must not be empty."
        },
        "scrollsEnabled": {
          "type": "boolean",
          "description": "If enabled, capture scroll events each time a visitor gets to the bottom of a page."
        },
        "pageChangesEnabled": {
          "description": "If enabled, capture a page view event each time the website changes the browser history state.",
          "type": "boolean"
        },
        "pageViewsEnabled": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. If enabled, capture a page view event each time a page loads or the website changes the browser history state."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings",
      "description": "Singleton resource under a WebDataStream, configuring measurement of additional site interactions and content.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksResponse": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksResponse",
      "description": "Response message for BatchUpdateUserLinks RPC.",
      "properties": {
        "userLinks": {
          "description": "The user links updated.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
          }
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaProperty": {
      "description": "A resource message representing a Google Analytics GA4 property.",
      "id": "GoogleAnalyticsAdminV1alphaProperty",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of this property. Format: properties/{property_id} Example: \"properties/1000\""
        },
        "deleteTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. If set, the time at which this property was trashed. If not set, then this property is not currently in the trash can.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when the entity was originally created."
        },
        "currencyCode": {
          "type": "string",
          "description": "The currency type used in reports involving monetary values. Format: https://en.wikipedia.org/wiki/ISO_4217 Examples: \"USD\", \"EUR\", \"JPY\""
        },
        "industryCategory": {
          "enum": [
            "INDUSTRY_CATEGORY_UNSPECIFIED",
            "AUTOMOTIVE",
            "BUSINESS_AND_INDUSTRIAL_MARKETS",
            "FINANCE",
            "HEALTHCARE",
            "TECHNOLOGY",
            "TRAVEL",
            "OTHER",
            "ARTS_AND_ENTERTAINMENT",
            "BEAUTY_AND_FITNESS",
            "BOOKS_AND_LITERATURE",
            "FOOD_AND_DRINK",
            "GAMES",
            "HOBBIES_AND_LEISURE",
            "HOME_AND_GARDEN",
            "INTERNET_AND_TELECOM",
            "LAW_AND_GOVERNMENT",
            "NEWS",
            "ONLINE_COMMUNITIES",
            "PEOPLE_AND_SOCIETY",
            "PETS_AND_ANIMALS",
            "REAL_ESTATE",
            "REFERENCE",
            "SCIENCE",
            "SPORTS",
            "JOBS_AND_EDUCATION",
            "SHOPPING"
          ],
          "type": "string",
          "description": "Industry associated with this property Example: AUTOMOTIVE, FOOD_AND_DRINK",
          "enumDescriptions": [
            "Industry category unspecified",
            "Automotive",
            "Business and industrial markets",
            "Finance",
            "Healthcare",
            "Technology",
            "Travel",
            "Other",
            "Arts and entertainment",
            "Beauty and fitness",
            "Books and literature",
            "Food and drink",
            "Games",
            "Hobbies and leisure",
            "Home and garden",
            "Internet and telecom",
            "Law and government",
            "News",
            "Online communities",
            "People and society",
            "Pets and animals",
            "Real estate",
            "Reference",
            "Science",
            "Sports",
            "Jobs and education",
            "Shopping"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "Required. Human-readable display name for this property. The max allowed display name length is 100 UTF-16 code units."
        },
        "timeZone": {
          "description": "Required. Reporting Time Zone, used as the day boundary for reports, regardless of where the data originates. If the time zone honors DST, Analytics will automatically adjust for the changes. NOTE: Changing the time zone only affects data going forward, and is not applied retroactively. Format: https://www.iana.org/time-zones Example: \"America/Los_Angeles\"",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Time when entity payload fields were last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "parent": {
          "type": "string",
          "description": "Immutable. Resource name of this property's logical parent. Note: The Property-Moving UI can be used to change the parent. Format: accounts/{account} Example: \"accounts/100\""
        },
        "expireTime": {
          "readOnly": true,
          "description": "Output only. If set, the time at which this trashed property will be permanently deleted. If not set, then this property is not currently in the trash can and is not slated to be deleted.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksRequest": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksRequest",
      "description": "Request message for BatchUpdateUserLinks RPC.",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaUpdateUserLinkRequest"
          },
          "description": "Required. The requests specifying the user links to update. A maximum of 1000 user links can be updated in a batch."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaBatchGetUserLinksResponse": {
      "description": "Response message for BatchGetUserLinks RPC.",
      "type": "object",
      "properties": {
        "userLinks": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
          },
          "description": "The requested user links.",
          "type": "array"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaBatchGetUserLinksResponse"
    },
    "GoogleAnalyticsAdminV1alphaAccount": {
      "id": "GoogleAnalyticsAdminV1alphaAccount",
      "description": "A resource message representing a Google Analytics account.",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time when account payload fields were last updated."
        },
        "createTime": {
          "description": "Output only. Time when this account was originally created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "deleted": {
          "type": "boolean",
          "description": "Output only. Indicates whether this Account is soft-deleted or not. Deleted accounts are excluded from List results unless specifically requested.",
          "readOnly": true
        },
        "regionCode": {
          "description": "Country of business. Must be a Unicode CLDR region code.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of this account. Format: accounts/{account} Example: \"accounts/100\"",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Human-readable display name for this account.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaCreateUserLinkRequest": {
      "id": "GoogleAnalyticsAdminV1alphaCreateUserLinkRequest",
      "description": "Request message for CreateUserLink RPC. Users can have multiple email addresses associated with their Google account, and one of these email addresses is the \"primary\" email address. Any of the email addresses associated with a Google account may be used for a new UserLink, but the returned UserLink will always contain the \"primary\" email address. As a result, the input and output email address for this request may differ.",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. Example format: accounts/1234"
        },
        "notifyNewUser": {
          "description": "Optional. If set, then email the new user notifying them that they've been granted permissions to the resource.",
          "type": "boolean"
        },
        "userLink": {
          "description": "Required. The user link to create.",
          "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaDataSharingSettings": {
      "description": "A resource message representing data sharing settings of a Google Analytics account.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaDataSharingSettings",
      "properties": {
        "sharingWithGoogleSupportEnabled": {
          "description": "Allows Google support to access the data in order to help troubleshoot issues.",
          "type": "boolean"
        },
        "sharingWithGoogleAssignedSalesEnabled": {
          "description": "Allows Google sales teams that are assigned to the customer to access the data in order to suggest configuration changes to improve results. Sales team restrictions still apply when enabled.",
          "type": "boolean"
        },
        "sharingWithOthersEnabled": {
          "description": "Allows Google to share the data anonymously in aggregate form with others.",
          "type": "boolean"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name. Format: accounts/{account}/dataSharingSettings Example: \"accounts/1000/dataSharingSettings\"",
          "type": "string"
        },
        "sharingWithGoogleProductsEnabled": {
          "description": "Allows Google to use the data to improve other Google products or services.",
          "type": "boolean"
        },
        "sharingWithGoogleAnySalesEnabled": {
          "type": "boolean",
          "description": "Allows any of Google sales to access the data in order to suggest configuration changes to improve results."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListFirebaseLinksResponse": {
      "properties": {
        "firebaseLinks": {
          "description": "List of FirebaseLinks. This will have at most one value.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaFirebaseLink"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. Currently, Google Analytics supports only one FirebaseLink per property, so this will never be populated."
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListFirebaseLinksResponse",
      "description": "Response message for ListFirebaseLinks RPC"
    },
    "GoogleAnalyticsAdminV1alphaChangeHistoryEvent": {
      "properties": {
        "actorType": {
          "type": "string",
          "description": "The type of actor that made this change.",
          "enumDescriptions": [
            "Unknown or unspecified actor type.",
            "Changes made by the user specified in actor_email.",
            "Changes made by the Google Analytics system.",
            "Changes made by Google Analytics support team staff."
          ],
          "enum": [
            "ACTOR_TYPE_UNSPECIFIED",
            "USER",
            "SYSTEM",
            "SUPPORT"
          ]
        },
        "id": {
          "type": "string",
          "description": "ID of this change history event. This ID is unique across Google Analytics."
        },
        "changeTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when change was made."
        },
        "changesFiltered": {
          "description": "If true, then the list of changes returned was filtered, and does not represent all changes that occurred in this event.",
          "type": "boolean"
        },
        "changes": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryChange"
          },
          "description": "A list of changes made in this change history event that fit the filters specified in SearchChangeHistoryEventsRequest.",
          "type": "array"
        },
        "userActorEmail": {
          "type": "string",
          "description": "Email address of the Google account that made the change. This will be a valid email address if the actor field is set to USER, and empty otherwise. Google accounts that have been deleted will cause an error."
        }
      },
      "description": "A set of changes within a Google Analytics account or its child properties that resulted from the same cause. Common causes would be updates made in the Google Analytics UI, changes from customer support, or automatic Google Analytics system changes.",
      "id": "GoogleAnalyticsAdminV1alphaChangeHistoryEvent",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaGoogleAdsLink": {
      "description": "A link between an GA4 property and a Google Ads account.",
      "id": "GoogleAnalyticsAdminV1alphaGoogleAdsLink",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Format: properties/{propertyId}/googleAdsLinks/{googleAdsLinkId} Note: googleAdsLinkId is not the Google Ads customer ID."
        },
        "emailAddress": {
          "description": "Output only. Email address of the user that created the link. An empty string will be returned if the email address can't be retrieved.",
          "type": "string",
          "readOnly": true
        },
        "canManageClients": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If true, this link is for a Google Ads manager account."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time when this link was last updated.",
          "type": "string"
        },
        "customerId": {
          "type": "string",
          "description": "Immutable. Google Ads customer ID."
        },
        "adsPersonalizationEnabled": {
          "type": "boolean",
          "description": "Enable personalized advertising features with this integration. Automatically publish my Google Analytics audience lists and Google Analytics remarketing events/parameters to the linked Google Ads account. If this field is not set on create/update it will be defaulted to true."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time when this link was originally created.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAuditUserLink": {
      "description": "Read-only resource used to summarize a principal's effective roles.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Example format: properties/1234/userLinks/5678"
        },
        "effectiveRoles": {
          "items": {
            "type": "string"
          },
          "description": "Union of all permissions a user has at this account or property (includes direct permissions, group-inherited permissions, etc.). Format: predefinedRoles/read",
          "type": "array"
        },
        "emailAddress": {
          "description": "Email address of the linked user",
          "type": "string"
        },
        "directRoles": {
          "items": {
            "type": "string"
          },
          "description": "Roles directly assigned to this user for this entity. Format: predefinedRoles/read Excludes roles that are inherited from an account (if this is for a property), group, or organization admin role.",
          "type": "array"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAuditUserLink"
    },
    "GoogleAnalyticsAdminV1alphaGlobalSiteTag": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Resource name for this GlobalSiteTag resource. Format: properties/{propertyId}/globalSiteTag",
          "readOnly": true
        },
        "snippet": {
          "description": "Immutable. JavaScript code snippet to be pasted as the first item into the head tag of every webpage to measure.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaGlobalSiteTag",
      "description": "Read-only resource with the tag for sending data from a website to a WebDataStream."
    },
    "GoogleAnalyticsAdminV1alphaUserLink": {
      "description": "A resource message representing a user's permissions on an Account or Property resource.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Example format: properties/1234/userLinks/5678"
        },
        "emailAddress": {
          "description": "Email address of the user to link",
          "type": "string"
        },
        "directRoles": {
          "items": {
            "type": "string"
          },
          "description": "Roles directly assigned to this user for this account or property. Valid values: predefinedRoles/read predefinedRoles/collaborate predefinedRoles/edit predefinedRoles/manage-users Excludes roles that are inherited from a higher-level entity, group, or organization admin role. A UserLink that is updated to have an empty list of direct_roles will be deleted.",
          "type": "array"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaUserLink"
    },
    "GoogleAnalyticsAdminV1alphaUpdateUserLinkRequest": {
      "description": "Request message for UpdateUserLink RPC.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaUpdateUserLinkRequest",
      "properties": {
        "userLink": {
          "description": "Required. The user link to update.",
          "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaDeleteUserLinkRequest": {
      "type": "object",
      "description": "Request message for DeleteUserLink RPC.",
      "properties": {
        "name": {
          "description": "Required. Example format: accounts/1234/userLinks/5678",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaDeleteUserLinkRequest"
    },
    "GoogleAnalyticsAdminV1alphaIosAppDataStream": {
      "id": "GoogleAnalyticsAdminV1alphaIosAppDataStream",
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when stream payload fields were last updated.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Human-readable display name for the Data Stream. The max allowed display name length is 255 UTF-16 code units."
        },
        "firebaseAppId": {
          "type": "string",
          "description": "Output only. ID of the corresponding iOS app in Firebase, if any. This ID can change if the iOS app is deleted and recreated.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when this stream was originally created.",
          "format": "google-datetime"
        },
        "bundleId": {
          "description": "Required. Immutable. The Apple App Store Bundle ID for the app Example: \"com.example.myiosapp\"",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of this Data Stream. Format: properties/{property_id}/iosAppDataStreams/{stream_id} Example: \"properties/1000/iosAppDataStreams/2000\"",
          "readOnly": true
        }
      },
      "description": "A resource message representing a Google Analytics IOS app stream."
    },
    "GoogleAnalyticsAdminV1alphaFirebaseLink": {
      "id": "GoogleAnalyticsAdminV1alphaFirebaseLink",
      "description": "A link between an GA4 property and a Firebase project.",
      "type": "object",
      "properties": {
        "project": {
          "description": "Immutable. Firebase project resource name. When creating a FirebaseLink, you may provide this resource name using either a project number or project ID. Once this resource has been created, returned FirebaseLinks will always have a project_name that contains a project number. Format: 'projects/{project number}' Example: 'projects/1234'",
          "type": "string"
        },
        "maximumUserAccess": {
          "type": "string",
          "description": "Maximum user access to the GA4 property allowed to admins of the linked Firebase project.",
          "enumDescriptions": [
            "Unspecified maximum user access.",
            "Firebase users have no access to the Analytics property.",
            "Firebase users have Read & Analyze access to the Analytics property.",
            "Firebase users have edit access to the Analytics property, but may not manage the Firebase link.",
            "Firebase users have edit access to the Analytics property and may manage the Firebase link."
          ],
          "enum": [
            "MAXIMUM_USER_ACCESS_UNSPECIFIED",
            "NO_ACCESS",
            "READ_AND_ANALYZE",
            "EDITOR_WITHOUT_LINK_MANAGEMENT",
            "EDITOR_INCLUDING_LINK_MANAGEMENT"
          ]
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when this FirebaseLink was originally created.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Example format: properties/1234/firebaseLinks/5678",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1alpha",
  "resources": {
    "properties": {
      "methods": {
        "create": {
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "parameters": {},
          "id": "analyticsadmin.properties.create",
          "description": "Creates an \"GA4\" property with the specified location and attributes.",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "path": "v1alpha/properties",
          "flatPath": "v1alpha/properties",
          "parameterOrder": [],
          "httpMethod": "POST"
        },
        "patch": {
          "path": "v1alpha/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "flatPath": "v1alpha/properties/{propertiesId}",
          "parameterOrder": [
            "name"
          ],
          "id": "analyticsadmin.properties.patch",
          "parameters": {
            "updateMask": {
              "type": "string",
              "location": "query",
              "format": "google-fieldmask",
              "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields."
            },
            "name": {
              "location": "path",
              "description": "Output only. Resource name of this property. Format: properties/{property_id} Example: \"properties/1000\"",
              "pattern": "^properties/[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "description": "Updates a property.",
          "httpMethod": "PATCH"
        },
        "list": {
          "httpMethod": "GET",
          "path": "v1alpha/properties",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "A page token, received from a previous `ListProperties` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProperties` must match the call that provided the page token.",
              "location": "query"
            },
            "filter": {
              "type": "string",
              "description": "Required. An expression for filtering the results of the request. Fields eligible for filtering are: `parent:`(The resource name of the parent account) or `firebase_project:`(The id or number of the linked firebase project). Some examples of filters: ``` | Filter | Description | |-----------------------------|-------------------------------------------| | parent:accounts/123 | The account with account id: 123. | | firebase_project:project-id | The firebase project with id: project-id. | | firebase_project:123 | The firebase project with number: 123. | ```",
              "location": "query"
            },
            "showDeleted": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to include soft-deleted (ie: \"trashed\") Properties in the results. Properties can be inspected to determine whether they are deleted or not."
            },
            "pageSize": {
              "description": "The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "flatPath": "v1alpha/properties",
          "parameterOrder": [],
          "id": "analyticsadmin.properties.list",
          "description": "Returns child Properties under the specified parent Account. Only \"GA4\" properties will be returned. Properties will be excluded if the caller does not have access. Soft-deleted (ie: \"trashed\") properties are excluded by default. Returns an empty list if no relevant properties are found.",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaListPropertiesResponse"
          }
        },
        "delete": {
          "path": "v1alpha/{+name}",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1alpha/properties/{propertiesId}",
          "description": "Marks target Property as soft-deleted (ie: \"trashed\") and returns it. This API does not have a method to restore soft-deleted properties. However, they can be restored using the Trash Can UI. If the properties are not restored before the expiration time, the Property and all child resources (eg: GoogleAdsLinks, Streams, UserLinks) will be permanently purged. https://support.google.com/analytics/answer/6154772 Returns an error if the target is not found, or is not an GA4 Property.",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "description": "Required. The name of the Property to soft-delete. Format: properties/{property_id} Example: \"properties/1000\"",
              "pattern": "^properties/[^/]+$",
              "type": "string"
            }
          },
          "id": "analyticsadmin.properties.delete"
        },
        "get": {
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the property to lookup. Format: properties/{property_id} Example: \"properties/1000\"",
              "location": "path",
              "type": "string",
              "pattern": "^properties/[^/]+$"
            }
          },
          "flatPath": "v1alpha/properties/{propertiesId}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "path": "v1alpha/{+name}",
          "description": "Lookup for a single \"GA4\" Property.",
          "id": "analyticsadmin.properties.get"
        }
      },
      "resources": {
        "androidAppDataStreams": {
          "methods": {
            "list": {
              "path": "v1alpha/{+parent}/androidAppDataStreams",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListAndroidAppDataStreamsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/androidAppDataStreams",
              "description": "Returns child android app streams under the specified parent property. Android app streams will be excluded if the caller does not have access. Returns an empty list if no relevant android app streams are found.",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAndroidAppDataStreams` must match the call that provided the page token.",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the parent property. For example, to limit results to app streams under the property with Id 123: \"properties/123\""
                }
              },
              "id": "analyticsadmin.properties.androidAppDataStreams.list"
            },
            "create": {
              "path": "v1alpha/{+parent}/androidAppDataStreams",
              "id": "analyticsadmin.properties.androidAppDataStreams.create",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAndroidAppDataStream"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The parent resource where this android app data stream will be created. Format: properties/123",
                  "pattern": "^properties/[^/]+$"
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/androidAppDataStreams",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaAndroidAppDataStream"
              },
              "description": "Creates an Android app stream with the specified location and attributes. Note that an Android app stream must be linked to a Firebase app to receive traffic. To create a working app stream, make sure your property is linked to a Firebase project. Then, use the Firebase API to create a Firebase app, which will also create an appropriate data stream in Analytics (may take up to 24 hours)."
            },
            "patch": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAndroidAppDataStream"
              },
              "id": "analyticsadmin.properties.androidAppDataStreams.patch",
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/androidAppDataStreams/{androidAppDataStreamsId}",
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/androidAppDataStreams/[^/]+$",
                  "description": "Output only. Resource name of this Data Stream. Format: properties/{property_id}/androidAppDataStreams/{stream_id} Example: \"properties/1000/androidAppDataStreams/2000\"",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaAndroidAppDataStream"
              },
              "description": "Updates an android app stream on a property.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "PATCH"
            },
            "get": {
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAndroidAppDataStream"
              },
              "description": "Lookup for a single AndroidAppDataStream",
              "flatPath": "v1alpha/properties/{propertiesId}/androidAppDataStreams/{androidAppDataStreamsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the android app data stream to lookup. Format: properties/{property_id}/androidAppDataStreams/{stream_id} Example: \"properties/123/androidAppDataStreams/456\"",
                  "pattern": "^properties/[^/]+/androidAppDataStreams/[^/]+$"
                }
              },
              "id": "analyticsadmin.properties.androidAppDataStreams.get"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes an android app stream on a property.",
              "id": "analyticsadmin.properties.androidAppDataStreams.delete",
              "flatPath": "v1alpha/properties/{propertiesId}/androidAppDataStreams/{androidAppDataStreamsId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "v1alpha/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^properties/[^/]+/androidAppDataStreams/[^/]+$",
                  "description": "Required. The name of the android app data stream to delete. Format: properties/{property_id}/androidAppDataStreams/{stream_id} Example: \"properties/123/androidAppDataStreams/456\""
                }
              },
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            }
          }
        },
        "iosAppDataStreams": {
          "methods": {
            "delete": {
              "path": "v1alpha/{+name}",
              "description": "Deletes an iOS app stream on a property.",
              "flatPath": "v1alpha/properties/{propertiesId}/iosAppDataStreams/{iosAppDataStreamsId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.iosAppDataStreams.delete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the iOS app data stream to delete. Format: properties/{property_id}/iosAppDataStreams/{stream_id} Example: \"properties/123/iosAppDataStreams/456\"",
                  "pattern": "^properties/[^/]+/iosAppDataStreams/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "DELETE"
            },
            "get": {
              "httpMethod": "GET",
              "flatPath": "v1alpha/properties/{propertiesId}/iosAppDataStreams/{iosAppDataStreamsId}",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the iOS app data stream to lookup. Format: properties/{property_id}/iosAppDataStreams/{stream_id} Example: \"properties/123/iosAppDataStreams/456\"",
                  "type": "string",
                  "location": "path",
                  "pattern": "^properties/[^/]+/iosAppDataStreams/[^/]+$"
                }
              },
              "id": "analyticsadmin.properties.iosAppDataStreams.get",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "v1alpha/{+name}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaIosAppDataStream"
              },
              "description": "Lookup for a single IosAppDataStream",
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/iosAppDataStreams",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaIosAppDataStream"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource where this ios app data stream will be created. Format: properties/123",
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaIosAppDataStream"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/iosAppDataStreams",
              "description": "Creates an iOS app stream with the specified location and attributes. Note that an iOS app stream must be linked to a Firebase app to receive traffic. To create a working app stream, make sure your property is linked to a Firebase project. Then, use the Firebase API to create a Firebase app, which will also create an appropriate data stream in Analytics (may take up to 24 hours).",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.iosAppDataStreams.create",
              "httpMethod": "POST"
            },
            "patch": {
              "flatPath": "v1alpha/properties/{propertiesId}/iosAppDataStreams/{iosAppDataStreamsId}",
              "id": "analyticsadmin.properties.iosAppDataStreams.patch",
              "httpMethod": "PATCH",
              "description": "Updates an iOS app stream on a property.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaIosAppDataStream"
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaIosAppDataStream"
              },
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Output only. Resource name of this Data Stream. Format: properties/{property_id}/iosAppDataStreams/{stream_id} Example: \"properties/1000/iosAppDataStreams/2000\"",
                  "type": "string",
                  "pattern": "^properties/[^/]+/iosAppDataStreams/[^/]+$",
                  "location": "path"
                },
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "id": "analyticsadmin.properties.iosAppDataStreams.list",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListIosAppDataStreamsResponse"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/iosAppDataStreams",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A page token, received from a previous `ListIosAppDataStreams` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListIosAppDataStreams` must match the call that provided the page token.",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The name of the parent property. For example, to list results of app streams under the property with Id 123: \"properties/123\"",
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1alpha/{+parent}/iosAppDataStreams",
              "httpMethod": "GET",
              "description": "Returns child iOS app data streams under the specified parent property. iOS app data streams will be excluded if the caller does not have access. Returns an empty list if no relevant iOS app data streams are found."
            }
          }
        },
        "webDataStreams": {
          "methods": {
            "get": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaWebDataStream"
              },
              "id": "analyticsadmin.properties.webDataStreams.get",
              "flatPath": "v1alpha/properties/{propertiesId}/webDataStreams/{webDataStreamsId}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the web data stream to lookup. Format: properties/{property_id}/webDataStreams/{stream_id} Example: \"properties/123/webDataStreams/456\"",
                  "pattern": "^properties/[^/]+/webDataStreams/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Lookup for a single WebDataStream"
            },
            "delete": {
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/webDataStreams/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the web data stream to delete. Format: properties/{property_id}/webDataStreams/{stream_id} Example: \"properties/123/webDataStreams/456\""
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}",
              "id": "analyticsadmin.properties.webDataStreams.delete",
              "flatPath": "v1alpha/properties/{propertiesId}/webDataStreams/{webDataStreamsId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "DELETE",
              "description": "Deletes a web stream on a property.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "description": "Output only. Resource name of this Data Stream. Format: properties/{property_id}/webDataStreams/{stream_id} Example: \"properties/1000/webDataStreams/2000\"",
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+/webDataStreams/[^/]+$"
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/webDataStreams/{webDataStreamsId}",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaWebDataStream"
              },
              "path": "v1alpha/{+name}",
              "id": "analyticsadmin.properties.webDataStreams.patch",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaWebDataStream"
              },
              "description": "Updates a web stream on a property."
            },
            "create": {
              "path": "v1alpha/{+parent}/webDataStreams",
              "id": "analyticsadmin.properties.webDataStreams.create",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The parent resource where this web data stream will be created. Format: properties/123"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaWebDataStream"
              },
              "description": "Creates a web stream with the specified location and attributes.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaWebDataStream"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/webDataStreams"
            },
            "getGlobalSiteTag": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^properties/[^/]+/webDataStreams/[^/]+/globalSiteTag$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the site tag to lookup. Note that site tags are singletons and do not have unique IDs. Format: properties/{property_id}/webDataStreams/{stream_id}/globalSiteTag Example: \"properties/123/webDataStreams/456/globalSiteTag\""
                }
              },
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/webDataStreams/{webDataStreamsId}/globalSiteTag",
              "id": "analyticsadmin.properties.webDataStreams.getGlobalSiteTag",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaGlobalSiteTag"
              },
              "description": "Returns the Site Tag for the specified web stream. Site Tags are immutable singletons.",
              "httpMethod": "GET"
            },
            "updateEnhancedMeasurementSettings": {
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings"
              },
              "id": "analyticsadmin.properties.webDataStreams.updateEnhancedMeasurementSettings",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/webDataStreams/{webDataStreamsId}/enhancedMeasurementSettings",
              "path": "v1alpha/{+name}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Updates the singleton enhanced measurement settings for this web stream. Note that the stream must enable enhanced measurement for these settings to take effect.",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "location": "query",
                  "format": "google-fieldmask"
                },
                "name": {
                  "pattern": "^properties/[^/]+/webDataStreams/[^/]+/enhancedMeasurementSettings$",
                  "location": "path",
                  "description": "Output only. Resource name of this Data Stream. Format: properties/{property_id}/webDataStreams/{stream_id}/enhancedMeasurementSettings Example: \"properties/1000/webDataStreams/2000/enhancedMeasurementSettings\"",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "getEnhancedMeasurementSettings": {
              "description": "Returns the singleton enhanced measurement settings for this web stream. Note that the stream must enable enhanced measurement for these settings to take effect.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET",
              "id": "analyticsadmin.properties.webDataStreams.getEnhancedMeasurementSettings",
              "flatPath": "v1alpha/properties/{propertiesId}/webDataStreams/{webDataStreamsId}/enhancedMeasurementSettings",
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^properties/[^/]+/webDataStreams/[^/]+/enhancedMeasurementSettings$",
                  "description": "Required. The name of the settings to lookup. Format: properties/{property_id}/webDataStreams/{stream_id}/enhancedMeasurementSettings Example: \"properties/1000/webDataStreams/2000/enhancedMeasurementSettings\"",
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "list": {
              "description": "Returns child web data streams under the specified parent property. Web data streams will be excluded if the caller does not have access. Returns an empty list if no relevant web data streams are found.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListWebDataStreamsResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "id": "analyticsadmin.properties.webDataStreams.list",
              "path": "v1alpha/{+parent}/webDataStreams",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A page token, received from a previous `ListWebDataStreams` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListWebDataStreams` must match the call that provided the page token.",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. The name of the parent property. For example, to list results of web streams under the property with Id 123: \"properties/123\""
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)"
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/webDataStreams",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            }
          }
        },
        "userLinks": {
          "methods": {
            "batchGet": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The account or property that all user links in the request are for. The parent of all provided values for the 'names' field must match this field. Example format: accounts/1234",
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "location": "path"
                },
                "names": {
                  "repeated": true,
                  "type": "string",
                  "description": "Required. The names of the user links to retrieve. A maximum of 1000 user links can be retrieved in a batch. Format: accounts/{accountId}/userLinks/{userLinkId}",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Gets information about multiple users' links to an account or property.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchGetUserLinksResponse"
              },
              "id": "analyticsadmin.properties.userLinks.batchGet",
              "path": "v1alpha/{+parent}/userLinks:batchGet",
              "flatPath": "v1alpha/properties/{propertiesId}/userLinks:batchGet"
            },
            "batchDelete": {
              "path": "v1alpha/{+parent}/userLinks:batchDelete",
              "flatPath": "v1alpha/properties/{propertiesId}/userLinks:batchDelete",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchDeleteUserLinksRequest"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "description": "Deletes information about multiple users' links to an account or property.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "analyticsadmin.properties.userLinks.batchDelete",
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The account or property that all user links in the request are for. The parent of all values for user link names to delete must match this field. Example format: accounts/1234",
                  "type": "string"
                }
              }
            },
            "batchUpdate": {
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksRequest"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/userLinks:batchUpdate",
              "description": "Updates information about multiple users' links to an account or property.",
              "path": "v1alpha/{+parent}/userLinks:batchUpdate",
              "id": "analyticsadmin.properties.userLinks.batchUpdate",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. The account or property that all user links in the request are for. The parent field in the UpdateUserLinkRequest messages must either be empty or match this field. Example format: accounts/1234",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ]
            },
            "batchCreate": {
              "path": "v1alpha/{+parent}/userLinks:batchCreate",
              "description": "Creates information about multiple users' links to an account or property. This method is transactional. If any UserLink cannot be created, none of the UserLinks will be created.",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "description": "Required. The account or property that all user links in the request are for. This field is required. The parent field in the CreateUserLinkRequest messages must either be empty or match this field. Example format: accounts/1234"
                }
              },
              "httpMethod": "POST",
              "flatPath": "v1alpha/properties/{propertiesId}/userLinks:batchCreate",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchCreateUserLinksResponse"
              },
              "id": "analyticsadmin.properties.userLinks.batchCreate",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchCreateUserLinksRequest"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
              },
              "httpMethod": "PATCH",
              "flatPath": "v1alpha/properties/{propertiesId}/userLinks/{userLinksId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/userLinks/[^/]+$",
                  "location": "path",
                  "description": "Example format: properties/1234/userLinks/5678",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
              },
              "path": "v1alpha/{+name}",
              "description": "Updates a user link on an account or property.",
              "id": "analyticsadmin.properties.userLinks.patch"
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/userLinks",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "id": "analyticsadmin.properties.userLinks.create",
              "description": "Creates a user link on an account or property. If the user with the specified email already has permissions on the account or property, then the user's existing permissions will be unioned with the permissions specified in the new UserLink.",
              "parameters": {
                "parent": {
                  "description": "Required. Example format: accounts/1234",
                  "pattern": "^properties/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "notifyNewUser": {
                  "type": "boolean",
                  "description": "Optional. If set, then email the new user notifying them that they've been granted permissions to the resource.",
                  "location": "query"
                }
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/userLinks",
              "httpMethod": "POST"
            },
            "audit": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAuditUserLinksResponse"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Example format: accounts/1234",
                  "pattern": "^properties/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists all user links on an account or property, including implicit ones that come from effective permissions granted by groups or organization admin roles. If a returned user link does not have direct permissions, they cannot be removed from the account or property directly with the DeleteUserLink command. They have to be removed from the group/etc that gives them permissions, which is currently only usable/discoverable in the GA or GMP UIs.",
              "flatPath": "v1alpha/properties/{propertiesId}/userLinks:audit",
              "path": "v1alpha/{+parent}/userLinks:audit",
              "id": "analyticsadmin.properties.userLinks.audit",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaAuditUserLinksRequest"
              }
            },
            "get": {
              "path": "v1alpha/{+name}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/userLinks/{userLinksId}",
              "httpMethod": "GET",
              "description": "Gets information about a user's link to an account or property.",
              "id": "analyticsadmin.properties.userLinks.get",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/userLinks/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. Example format: accounts/1234/userLinks/5678"
                }
              }
            },
            "delete": {
              "flatPath": "v1alpha/properties/{propertiesId}/userLinks/{userLinksId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "path": "v1alpha/{+name}",
              "description": "Deletes a user link on an account or property.",
              "id": "analyticsadmin.properties.userLinks.delete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^properties/[^/]+/userLinks/[^/]+$",
                  "type": "string",
                  "description": "Required. Example format: accounts/1234/userLinks/5678",
                  "location": "path"
                }
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. Example format: accounts/1234",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of user links to return. The service may return fewer than this value. If unspecified, at most 200 user links will be returned. The maximum value is 500; values above 500 will be coerced to 500."
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListUserLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserLinks` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "Lists all user links on an account or property.",
              "parameterOrder": [
                "parent"
              ],
[...]
