{
  "description": "Views and manages your Google Analytics data.",
  "discoveryVersion": "v1",
  "schemas": {
    "UnsampledReports": {
      "description": "An unsampled report collection lists Analytics unsampled reports to which the user has access. Each view (profile) can have a set of unsampled reports. Each resource in the unsampled report collection corresponds to a single Analytics unsampled report.",
      "properties": {
        "items": {
          "description": "A list of unsampled reports.",
          "type": "array",
          "items": {
            "$ref": "UnsampledReport"
          }
        },
        "startIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter."
        },
        "nextLink": {
          "description": "Link to next page for this unsampled report collection.",
          "type": "string"
        },
        "itemsPerPage": {
          "format": "int32",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "type": "integer"
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#unsampledReports"
        },
        "previousLink": {
          "description": "Link to previous page for this unsampled report collection.",
          "type": "string"
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of resources in the result.",
          "format": "int32"
        },
        "username": {
          "description": "Email ID of the authenticated user",
          "type": "string"
        }
      },
      "id": "UnsampledReports",
      "type": "object"
    },
    "WebPropertyRef": {
      "description": "JSON template for a web property reference.",
      "id": "WebPropertyRef",
      "type": "object",
      "properties": {
        "kind": {
          "default": "analytics#webPropertyRef",
          "description": "Analytics web property reference.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this web property belongs."
        },
        "id": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY."
        },
        "name": {
          "type": "string",
          "description": "Name of this web property."
        },
        "href": {
          "description": "Link for this web property.",
          "type": "string"
        },
        "internalWebPropertyId": {
          "description": "Internal ID for this web property.",
          "type": "string"
        }
      }
    },
    "AccountSummary": {
      "description": "JSON template for an Analytics AccountSummary. An AccountSummary is a lightweight tree comprised of properties/profiles.",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Resource type for Analytics AccountSummary.",
          "default": "analytics#accountSummary"
        },
        "name": {
          "description": "Account name.",
          "type": "string"
        },
        "webProperties": {
          "items": {
            "$ref": "WebPropertySummary"
          },
          "type": "array",
          "description": "List of web properties under this account."
        },
        "id": {
          "type": "string",
          "description": "Account ID."
        },
        "starred": {
          "type": "boolean",
          "description": "Indicates whether this account is starred or not."
        }
      },
      "id": "AccountSummary"
    },
    "EntityAdWordsLinks": {
      "properties": {
        "startIndex": {
          "format": "int32",
          "description": "The starting index of the entries, which is 1 by default or otherwise specified by the start-index query parameter.",
          "type": "integer"
        },
        "nextLink": {
          "type": "string",
          "description": "Next link for this Google Ads link collection."
        },
        "itemsPerPage": {
          "format": "int32",
          "description": "The maximum number of entries the response can contain, regardless of the actual number of entries returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "type": "integer"
        },
        "previousLink": {
          "type": "string",
          "description": "Previous link for this Google Ads link collection."
        },
        "items": {
          "type": "array",
          "description": "A list of entity Google Ads links.",
          "items": {
            "$ref": "EntityAdWordsLink"
          }
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#entityAdWordsLinks"
        },
        "totalResults": {
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "An entity Google Ads link collection provides a list of GA-Google Ads links Each resource in this collection corresponds to a single link.",
      "type": "object",
      "id": "EntityAdWordsLinks"
    },
    "Webproperties": {
      "description": "A web property collection lists Analytics web properties to which the user has access. Each resource in the collection corresponds to a single Analytics web property.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Collection type.",
          "default": "analytics#webproperties",
          "type": "string"
        },
        "startIndex": {
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32",
          "type": "integer"
        },
        "totalResults": {
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "type": "integer",
          "format": "int32"
        },
        "username": {
          "description": "Email ID of the authenticated user",
          "type": "string"
        },
        "itemsPerPage": {
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32",
          "type": "integer"
        },
        "items": {
          "type": "array",
          "description": "A list of web properties.",
          "items": {
            "$ref": "Webproperty"
          }
        },
        "nextLink": {
          "description": "Link to next page for this web property collection.",
          "type": "string"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this web property collection."
        }
      },
      "id": "Webproperties"
    },
    "FilterRef": {
      "description": "JSON template for a profile filter link.",
      "type": "object",
      "properties": {
        "kind": {
          "default": "analytics#filterRef",
          "type": "string",
          "description": "Kind value for filter reference."
        },
        "href": {
          "description": "Link for this filter.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.management.profileFilterLinks.insert"
            ]
          },
          "description": "Filter ID."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this filter belongs.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Name of this filter.",
          "type": "string"
        }
      },
      "id": "FilterRef"
    },
    "RealtimeData": {
      "id": "RealtimeData",
      "properties": {
        "totalResults": {
          "format": "int32",
          "description": "The total number of rows for the query, regardless of the number of rows in the response.",
          "type": "integer"
        },
        "totalsForAllResults": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "description": "Key-value pair for the total value of a metric. Key is the metric name and the value is the total value for that metric."
          },
          "description": "Total values for the requested metrics over all the results, not just the results returned in this response. The order of the metric totals is same as the metric order specified in the request."
        },
        "profileInfo": {
          "type": "object",
          "description": "Information for the view (profile), for which the real time data was requested.",
          "properties": {
            "accountId": {
              "description": "Account ID to which this view (profile) belongs.",
              "type": "string"
            },
            "webPropertyId": {
              "description": "Web Property ID to which this view (profile) belongs.",
              "type": "string"
            },
            "tableId": {
              "type": "string",
              "description": "Table ID for view (profile)."
            },
            "internalWebPropertyId": {
              "type": "string",
              "description": "Internal ID for the web property to which this view (profile) belongs."
            },
            "profileId": {
              "description": "View (Profile) ID.",
              "type": "string"
            },
            "profileName": {
              "description": "View (Profile) name.",
              "type": "string"
            }
          }
        },
        "kind": {
          "type": "string",
          "description": "Resource type.",
          "default": "analytics#realtimeData"
        },
        "id": {
          "type": "string",
          "description": "Unique ID for this data response."
        },
        "selfLink": {
          "description": "Link to this page.",
          "type": "string"
        },
        "rows": {
          "items": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "description": "Real time data rows, where each row contains a list of dimension values followed by the metric values. The order of dimensions and metrics is same as specified in the request.",
          "type": "array"
        },
        "query": {
          "type": "object",
          "properties": {
            "max-results": {
              "type": "integer",
              "description": "Maximum results per page.",
              "format": "int32"
            },
            "dimensions": {
              "type": "string",
              "description": "List of real time dimensions."
            },
            "metrics": {
              "type": "array",
              "description": "List of real time metrics.",
              "items": {
                "type": "string"
              }
            },
            "sort": {
              "items": {
                "type": "string"
              },
              "description": "List of dimensions or metrics based on which real time data is sorted.",
              "type": "array"
            },
            "ids": {
              "description": "Unique table ID.",
              "type": "string"
            },
            "filters": {
              "type": "string",
              "description": "Comma-separated list of dimension or metric filters."
            }
          },
          "description": "Real time data request query parameters."
        },
        "columnHeaders": {
          "items": {
            "properties": {
              "dataType": {
                "description": "Data type. Dimension column headers have only STRING as the data type. Metric column headers have data types for metric values such as INTEGER, DOUBLE, CURRENCY etc.",
                "type": "string"
              },
              "columnType": {
                "description": "Column Type. Either DIMENSION or METRIC.",
                "type": "string"
              },
              "name": {
                "description": "Column name.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "type": "array",
          "description": "Column headers that list dimension names followed by the metric names. The order of dimensions and metrics is same as specified in the request."
        }
      },
      "type": "object",
      "description": "Real time data for a given view (profile)."
    },
    "Column": {
      "properties": {
        "id": {
          "description": "Column id.",
          "type": "string"
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "description": "The name of the attribute."
          },
          "description": "Map of attribute name and value for this column."
        },
        "kind": {
          "default": "analytics#column",
          "description": "Resource type for Analytics column.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Column",
      "description": "JSON template for a metadata column."
    },
    "CustomDataSource": {
      "properties": {
        "type": {
          "description": "Type of the custom data source.",
          "type": "string"
        },
        "description": {
          "description": "Description of custom data source.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Custom data source ID."
        },
        "updated": {
          "description": "Time this custom data source was last modified.",
          "type": "string",
          "format": "date-time"
        },
        "uploadType": {
          "description": "Upload type of the custom data source.",
          "type": "string"
        },
        "created": {
          "description": "Time this custom data source was created.",
          "format": "date-time",
          "type": "string"
        },
        "schema": {
          "description": "Collection of schema headers of the custom data source.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY to which this custom data source belongs."
        },
        "name": {
          "type": "string",
          "description": "Name of this custom data source."
        },
        "profilesLinked": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "IDs of views (profiles) linked to the custom data source."
        },
        "parentLink": {
          "description": "Parent link for this custom data source. Points to the web property to which this custom data source belongs.",
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "default": "analytics#webproperty",
              "description": "Value is \"analytics#webproperty\"."
            },
            "href": {
              "type": "string",
              "description": "Link to the web property to which this custom data source belongs."
            }
          }
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this Analytics custom data source."
        },
        "accountId": {
          "description": "Account ID to which this custom data source belongs.",
          "type": "string"
        },
        "importBehavior": {
          "type": "string"
        },
        "kind": {
          "description": "Resource type for Analytics custom data source.",
          "default": "analytics#customDataSource",
          "type": "string"
        },
        "childLink": {
          "properties": {
            "href": {
              "description": "Link to the list of daily uploads for this custom data source. Link to the list of uploads for this custom data source.",
              "type": "string"
            },
            "type": {
              "type": "string",
              "description": "Value is \"analytics#dailyUploads\". Value is \"analytics#uploads\"."
            }
          },
          "type": "object"
        }
      },
      "description": "JSON template for an Analytics custom data source.",
      "type": "object",
      "id": "CustomDataSource"
    },
    "Accounts": {
      "type": "object",
      "description": "An account collection provides a list of Analytics accounts to which a user has access. The account collection is the entry point to all management information. Each resource in the collection corresponds to a single Analytics account.",
      "id": "Accounts",
      "properties": {
        "items": {
          "description": "A list of accounts.",
          "items": {
            "$ref": "Account"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#accounts"
        },
        "startIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The starting index of the entries, which is 1 by default or otherwise specified by the start-index query parameter."
        },
        "previousLink": {
          "type": "string",
          "description": "Previous link for this account collection."
        },
        "totalResults": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of results for the query, regardless of the number of results in the response."
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of entries the response can contain, regardless of the actual number of entries returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "nextLink": {
          "type": "string",
          "description": "Next link for this account collection."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        }
      }
    },
    "AccountRef": {
      "id": "AccountRef",
      "type": "object",
      "properties": {
        "kind": {
          "default": "analytics#accountRef",
          "description": "Analytics account reference.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Account ID."
        },
        "name": {
          "description": "Account name.",
          "type": "string"
        },
        "href": {
          "type": "string",
          "description": "Link for this account."
        }
      },
      "description": "JSON template for a linked account."
    },
    "CustomDataSources": {
      "type": "object",
      "properties": {
        "items": {
          "description": "Collection of custom data sources.",
          "type": "array",
          "items": {
            "$ref": "CustomDataSource"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this custom data source collection."
        },
        "totalResults": {
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32",
          "type": "integer"
        },
        "username": {
          "description": "Email ID of the authenticated user",
          "type": "string"
        },
        "startIndex": {
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "type": "integer",
          "format": "int32"
        },
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "kind": {
          "default": "analytics#customDataSources",
          "description": "Collection type.",
          "type": "string"
        },
        "previousLink": {
          "description": "Link to previous page for this custom data source collection.",
          "type": "string"
        }
      },
      "description": "Lists Analytics custom data sources to which the user has access. Each resource in the collection corresponds to a single Analytics custom data source.",
      "id": "CustomDataSources"
    },
    "HashClientIdRequest": {
      "type": "object",
      "id": "HashClientIdRequest",
      "properties": {
        "webPropertyId": {
          "type": "string"
        },
        "clientId": {
          "type": "string"
        },
        "kind": {
          "default": "analytics#hashClientIdRequest",
          "type": "string"
        }
      },
      "description": "JSON template for a hash Client Id request resource."
    },
    "FilterExpression": {
      "id": "FilterExpression",
      "type": "object",
      "properties": {
        "fieldIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The Index of the custom dimension. Set only if the field is a is CUSTOM_DIMENSION."
        },
        "matchType": {
          "description": "Match type for this filter. Possible values are BEGINS_WITH, EQUAL, ENDS_WITH, CONTAINS, or MATCHES. GEO_DOMAIN, GEO_IP_ADDRESS, PAGE_REQUEST_URI, or PAGE_HOSTNAME filters can use any match type; all other filters must use MATCHES.",
          "type": "string"
        },
        "expressionValue": {
          "type": "string",
          "description": "Filter expression value"
        },
        "caseSensitive": {
          "type": "boolean",
          "description": "Determines if the filter is case sensitive."
        },
        "field": {
          "type": "string",
          "description": "Field to filter. Possible values:  \n- Content and Traffic  \n- PAGE_REQUEST_URI, \n- PAGE_HOSTNAME, \n- PAGE_TITLE, \n- REFERRAL, \n- COST_DATA_URI (Campaign target URL), \n- HIT_TYPE, \n- INTERNAL_SEARCH_TERM, \n- INTERNAL_SEARCH_TYPE, \n- SOURCE_PROPERTY_TRACKING_ID,   \n- Campaign or AdGroup  \n- CAMPAIGN_SOURCE, \n- CAMPAIGN_MEDIUM, \n- CAMPAIGN_NAME, \n- CAMPAIGN_AD_GROUP, \n- CAMPAIGN_TERM, \n- CAMPAIGN_CONTENT, \n- CAMPAIGN_CODE, \n- CAMPAIGN_REFERRAL_PATH,   \n- E-Commerce  \n- TRANSACTION_COUNTRY, \n- TRANSACTION_REGION, \n- TRANSACTION_CITY, \n- TRANSACTION_AFFILIATION (Store or order location), \n- ITEM_NAME, \n- ITEM_CODE, \n- ITEM_VARIATION, \n- TRANSACTION_ID, \n- TRANSACTION_CURRENCY_CODE, \n- PRODUCT_ACTION_TYPE,   \n- Audience/Users  \n- BROWSER, \n- BROWSER_VERSION, \n- BROWSER_SIZE, \n- PLATFORM, \n- PLATFORM_VERSION, \n- LANGUAGE, \n- SCREEN_RESOLUTION, \n- SCREEN_COLORS, \n- JAVA_ENABLED (Boolean Field), \n- FLASH_VERSION, \n- GEO_SPEED (Connection speed), \n- VISITOR_TYPE, \n- GEO_ORGANIZATION (ISP organization), \n- GEO_DOMAIN, \n- GEO_IP_ADDRESS, \n- GEO_IP_VERSION,   \n- Location  \n- GEO_COUNTRY, \n- GEO_REGION, \n- GEO_CITY,   \n- Event  \n- EVENT_CATEGORY, \n- EVENT_ACTION, \n- EVENT_LABEL,   \n- Other  \n- CUSTOM_FIELD_1, \n- CUSTOM_FIELD_2, \n- USER_DEFINED_VALUE,   \n- Application  \n- APP_ID, \n- APP_INSTALLER_ID, \n- APP_NAME, \n- APP_VERSION, \n- SCREEN, \n- IS_APP (Boolean Field), \n- IS_FATAL_EXCEPTION (Boolean Field), \n- EXCEPTION_DESCRIPTION,   \n- Mobile device  \n- IS_MOBILE (Boolean Field, Deprecated. Use DEVICE_CATEGORY=mobile), \n- IS_TABLET (Boolean Field, Deprecated. Use DEVICE_CATEGORY=tablet), \n- DEVICE_CATEGORY, \n- MOBILE_HAS_QWERTY_KEYBOARD (Boolean Field), \n- MOBILE_HAS_NFC_SUPPORT (Boolean Field), \n- MOBILE_HAS_CELLULAR_RADIO (Boolean Field), \n- MOBILE_HAS_WIFI_SUPPORT (Boolean Field), \n- MOBILE_BRAND_NAME, \n- MOBILE_MODEL_NAME, \n- MOBILE_MARKETING_NAME, \n- MOBILE_POINTING_METHOD,   \n- Social  \n- SOCIAL_NETWORK, \n- SOCIAL_ACTION, \n- SOCIAL_ACTION_TARGET,   \n- Custom dimension  \n- CUSTOM_DIMENSION (See accompanying field index),"
        },
        "kind": {
          "default": "analytics#filterExpression",
          "description": "Kind value for filter expression",
          "type": "string"
        }
      },
      "description": "JSON template for an Analytics filter expression."
    },
    "EntityUserLinks": {
      "properties": {
        "startIndex": {
          "description": "The starting index of the entries, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32",
          "type": "integer"
        },
        "nextLink": {
          "description": "Next link for this account collection.",
          "type": "string"
        },
        "kind": {
          "default": "analytics#entityUserLinks",
          "description": "Collection type.",
          "type": "string"
        },
        "previousLink": {
          "type": "string",
          "description": "Previous link for this account collection."
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32"
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of entries the response can contain, regardless of the actual number of entries returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "items": {
          "items": {
            "$ref": "EntityUserLink"
          },
          "type": "array",
          "description": "A list of entity user links."
        }
      },
      "type": "object",
      "description": "An entity user link collection provides a list of Analytics ACL links Each resource in this collection corresponds to a single link.",
      "id": "EntityUserLinks"
    },
    "ProfileFilterLinks": {
      "description": "A profile filter link collection lists profile filter links between profiles and filters. Each resource in the collection corresponds to a profile filter link.",
      "type": "object",
      "id": "ProfileFilterLinks",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this profile filter link collection."
        },
        "kind": {
          "type": "string",
          "default": "analytics#profileFilterLinks",
          "description": "Collection type."
        },
        "items": {
          "items": {
            "$ref": "ProfileFilterLink"
          },
          "description": "A list of profile filter links.",
          "type": "array"
        },
        "itemsPerPage": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1,000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "totalResults": {
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "type": "integer",
          "format": "int32"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this profile filter link collection."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "startIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter."
        }
      }
    },
    "Filters": {
      "properties": {
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32"
        },
        "username": {
          "description": "Email ID of the authenticated user",
          "type": "string"
        },
        "kind": {
          "default": "analytics#filters",
          "description": "Collection type.",
          "type": "string"
        },
        "itemsPerPage": {
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1,000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "type": "integer",
          "format": "int32"
        },
        "startIndex": {
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "type": "integer",
          "format": "int32"
        },
        "items": {
          "items": {
            "$ref": "Filter"
          },
          "description": "A list of filters.",
          "type": "array"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this filter collection."
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this filter collection."
        }
      },
      "description": "A filter collection lists filters created by users in an Analytics account. Each resource in the collection corresponds to a filter.",
      "type": "object",
      "id": "Filters"
    },
    "CustomDimension": {
      "description": "JSON template for Analytics Custom Dimension.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the custom dimension."
        },
        "parentLink": {
          "description": "Parent link for the custom dimension. Points to the property to which the custom dimension belongs.",
          "properties": {
            "type": {
              "description": "Type of the parent link. Set to \"analytics#webproperty\".",
              "default": "analytics#webproperty",
              "type": "string"
            },
            "href": {
              "type": "string",
              "description": "Link to the property to which the custom dimension belongs."
            }
          },
          "type": "object"
        },
        "active": {
          "description": "Boolean indicating whether the custom dimension is active.",
          "type": "boolean"
        },
        "selfLink": {
          "description": "Link for the custom dimension",
          "readOnly": true,
          "type": "string"
        },
        "created": {
          "description": "Time the custom dimension was created.",
          "format": "date-time",
          "type": "string",
          "readOnly": true
        },
        "id": {
          "description": "Custom dimension ID.",
          "type": "string"
        },
        "scope": {
          "type": "string",
          "description": "Scope of the custom dimension: HIT, SESSION, USER or PRODUCT."
        },
        "accountId": {
          "description": "Account ID.",
          "type": "string"
        },
        "kind": {
          "default": "analytics#customDimension",
          "type": "string",
          "description": "Kind value for a custom dimension. Set to \"analytics#customDimension\". It is a read-only field.",
          "readOnly": true
        },
        "webPropertyId": {
          "type": "string",
          "description": "Property ID."
        },
        "updated": {
          "description": "Time the custom dimension was last modified.",
          "readOnly": true,
          "format": "date-time",
          "type": "string"
        },
        "index": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Index of the custom dimension."
        }
      },
      "id": "CustomDimension"
    },
    "Goal": {
      "type": "object",
      "description": "JSON template for Analytics goal resource.",
      "properties": {
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID to which this goal belongs. The web property ID is of the form UA-XXXXX-YY."
        },
        "name": {
          "type": "string",
          "description": "Goal name."
        },
        "internalWebPropertyId": {
          "description": "Internal ID for the web property to which this goal belongs.",
          "type": "string"
        },
        "updated": {
          "type": "string",
          "format": "date-time",
          "description": "Time this goal was last modified."
        },
        "type": {
          "description": "Goal type. Possible values are URL_DESTINATION, VISIT_TIME_ON_SITE, VISIT_NUM_PAGES, AND EVENT.",
          "type": "string"
        },
        "parentLink": {
          "description": "Parent link for a goal. Points to the view (profile) to which this goal belongs.",
          "type": "object",
          "properties": {
            "type": {
              "description": "Value is \"analytics#profile\".",
              "type": "string",
              "default": "analytics#profile"
            },
            "href": {
              "description": "Link to the view (profile) to which this goal belongs.",
              "type": "string"
            }
          }
        },
        "kind": {
          "type": "string",
          "description": "Resource type for an Analytics goal.",
          "default": "analytics#goal"
        },
        "profileId": {
          "description": "View (Profile) ID to which this goal belongs.",
          "type": "string"
        },
        "eventDetails": {
          "properties": {
            "useEventValue": {
              "description": "Determines if the event value should be used as the value for this goal.",
              "type": "boolean"
            },
            "eventConditions": {
              "items": {
                "properties": {
                  "comparisonValue": {
                    "format": "int64",
                    "type": "string",
                    "description": "Value used for this comparison."
                  },
                  "type": {
                    "type": "string",
                    "description": "Type of this event condition. Possible values are CATEGORY, ACTION, LABEL, or VALUE."
                  },
                  "matchType": {
                    "description": "Type of the match to be performed. Possible values are REGEXP, BEGINS_WITH, or EXACT.",
                    "type": "string"
                  },
                  "expression": {
                    "description": "Expression used for this match.",
                    "type": "string"
                  },
                  "comparisonType": {
                    "description": "Type of comparison. Possible values are LESS_THAN, GREATER_THAN or EQUAL.",
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "type": "array",
              "description": "List of event conditions."
            }
          },
          "description": "Details for the goal of the type EVENT.",
          "type": "object"
        },
        "active": {
          "description": "Determines whether this goal is active.",
          "type": "boolean"
        },
        "visitTimeOnSiteDetails": {
          "type": "object",
          "properties": {
            "comparisonType": {
              "description": "Type of comparison. Possible values are LESS_THAN or GREATER_THAN.",
              "type": "string"
            },
            "comparisonValue": {
              "format": "int64",
              "description": "Value used for this comparison.",
              "type": "string"
            }
          },
          "description": "Details for the goal of the type VISIT_TIME_ON_SITE."
        },
        "selfLink": {
          "description": "Link for this goal.",
          "type": "string"
        },
        "urlDestinationDetails": {
          "type": "object",
          "properties": {
            "caseSensitive": {
              "type": "boolean",
              "description": "Determines if the goal URL must exactly match the capitalization of visited URLs."
            },
            "matchType": {
              "description": "Match type for the goal URL. Possible values are HEAD, EXACT, or REGEX.",
              "type": "string"
            },
            "steps": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "url": {
                    "description": "URL for this step.",
                    "type": "string"
                  },
                  "number": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Step number."
                  },
                  "name": {
                    "type": "string",
                    "description": "Step name."
                  }
                }
              },
              "description": "List of steps configured for this goal funnel."
            },
            "url": {
              "description": "URL for this goal.",
              "type": "string"
            },
            "firstStepRequired": {
              "description": "Determines if the first step in this goal is required.",
              "type": "boolean"
            }
          },
          "description": "Details for the goal of the type URL_DESTINATION."
        },
        "created": {
          "description": "Time this goal was created.",
          "type": "string",
          "format": "date-time"
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this goal belongs."
        },
        "visitNumPagesDetails": {
          "type": "object",
          "description": "Details for the goal of the type VISIT_NUM_PAGES.",
          "properties": {
            "comparisonValue": {
              "type": "string",
              "description": "Value used for this comparison.",
              "format": "int64"
            },
            "comparisonType": {
              "description": "Type of comparison. Possible values are LESS_THAN, GREATER_THAN, or EQUAL.",
              "type": "string"
            }
          }
        },
        "id": {
          "description": "Goal ID.",
          "type": "string"
        },
        "value": {
          "description": "Goal value.",
          "format": "float",
          "type": "number"
        }
      },
      "id": "Goal"
    },
    "LinkedForeignAccount": {
      "type": "object",
      "properties": {
        "webPropertyId": {
          "description": "Web property ID of the form UA-XXXXX-YY to which this linked foreign account belongs.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of the foreign account. For example, `ADWORDS_LINKS`, `DBM_LINKS`, `MCC_LINKS` or `OPTIMIZE`."
        },
        "remarketingAudienceId": {
          "type": "string",
          "description": "Remarketing audience ID to which this linked foreign account belongs."
        },
        "linkedAccountId": {
          "description": "The foreign account ID. For example the an Google Ads `linkedAccountId` has the following format XXX-XXX-XXXX.",
          "type": "string"
        },
        "eligibleForSearch": {
          "description": "Boolean indicating whether this is eligible for search.",
          "readOnly": true,
          "type": "boolean"
        },
        "status": {
          "type": "string",
          "description": "The status of this foreign account link."
        },
        "kind": {
          "description": "Resource type for linked foreign account.",
          "type": "string",
          "default": "analytics#linkedForeignAccount"
        },
        "id": {
          "description": "Entity ad account link ID.",
          "type": "string"
        },
        "accountId": {
          "description": "Account ID to which this linked foreign account belongs.",
          "type": "string"
        },
        "internalWebPropertyId": {
          "description": "Internal ID for the web property to which this linked foreign account belongs.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "JSON template for an Analytics Remarketing Audience Foreign Link.",
      "id": "LinkedForeignAccount"
    },
    "Profile": {
      "id": "Profile",
      "type": "object",
      "properties": {
        "siteSearchCategoryParameters": {
          "description": "Site search category parameters for this view (profile).",
          "type": "string"
        },
        "currency": {
          "description": "The currency type associated with this view (profile), defaults to USD. The supported values are:\nUSD, JPY, EUR, GBP, AUD, KRW, BRL, CNY, DKK, RUB, SEK, NOK, PLN, TRY, TWD, HKD, THB, IDR, ARS, MXN, VND, PHP, INR, CHF, CAD, CZK, NZD, HUF, BGN, LTL, ZAR, UAH, AED, BOB, CLP, COP, EGP, HRK, ILS, MAD, MYR, PEN, PKR, RON, RSD, SAR, SGD, VEF, LVL",
          "type": "string"
        },
        "created": {
          "description": "Time this view (profile) was created.",
          "format": "date-time",
          "readOnly": true,
          "type": "string"
        },
        "enhancedECommerceTracking": {
          "description": "Indicates whether enhanced ecommerce tracking is enabled for this view (profile). This property can only be enabled if ecommerce tracking is enabled.",
          "type": "boolean"
        },
        "websiteUrl": {
          "description": "Website URL for this view (profile).",
          "type": "string"
        },
        "eCommerceTracking": {
          "description": "Indicates whether ecommerce tracking is enabled for this view (profile).",
          "type": "boolean"
        },
        "id": {
          "type": "string",
          "description": "View (Profile) ID."
        },
        "defaultPage": {
          "type": "string",
          "description": "Default page for this view (profile)."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for Analytics view (profile).",
          "default": "analytics#profile",
          "readOnly": true
        },
        "botFilteringEnabled": {
          "description": "Indicates whether bot filtering is enabled for this view (profile).",
          "type": "boolean"
        },
        "selfLink": {
          "type": "string",
          "readOnly": true,
          "description": "Link for this view (profile)."
        },
        "stripSiteSearchQueryParameters": {
          "type": "boolean",
          "description": "Whether or not Analytics will strip search query parameters from the URLs in your reports."
        },
        "internalWebPropertyId": {
          "type": "string",
          "readOnly": true,
          "description": "Internal ID for the web property to which this view (profile) belongs."
        },
        "type": {
          "description": "View (Profile) type. Supported types: WEB or APP.",
          "type": "string"
        },
        "updated": {
          "type": "string",
          "description": "Time this view (profile) was last modified.",
          "readOnly": true,
          "format": "date-time"
        },
        "siteSearchQueryParameters": {
          "type": "string",
          "description": "The site search query parameters for this view (profile)."
        },
        "excludeQueryParameters": {
          "description": "The query parameters that are excluded from this view (profile).",
          "type": "string"
        },
        "webPropertyId": {
          "readOnly": true,
          "description": "Web property ID of the form UA-XXXXX-YY to which this view (profile) belongs.",
          "type": "string"
        },
        "childLink": {
          "description": "Child link for this view (profile). Points to the list of goals for this view (profile).",
          "properties": {
            "type": {
              "type": "string",
              "description": "Value is \"analytics#goals\".",
              "default": "analytics#goals"
            },
            "href": {
              "type": "string",
              "description": "Link to the list of goals for this view (profile)."
            }
          },
          "type": "object"
        },
        "permissions": {
          "properties": {
            "effective": {
              "description": "All the permissions that the user has for this view (profile). These include any implied permissions (e.g., EDIT implies VIEW) or inherited permissions from the parent web property.",
              "type": "array",
              "readOnly": true,
              "items": {
                "type": "string"
              }
            }
          },
          "description": "Permissions the user has for this view (profile).",
          "type": "object"
        },
        "stripSiteSearchCategoryParameters": {
          "type": "boolean",
          "description": "Whether or not Analytics will strip search category parameters from the URLs in your reports."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this view (profile) belongs."
        },
        "timezone": {
          "description": "Time zone for which this view (profile) has been configured. Time zones are identified by strings from the TZ database.",
          "type": "string"
        },
        "starred": {
          "description": "Indicates whether this view (profile) is starred or not.",
          "type": "boolean"
        },
        "parentLink": {
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the web property to which this view (profile) belongs."
            },
            "type": {
              "default": "analytics#webproperty",
              "description": "Value is \"analytics#webproperty\".",
              "type": "string"
            }
          },
          "description": "Parent link for this view (profile). Points to the web property to which this view (profile) belongs.",
          "type": "object"
        },
        "name": {
          "description": "Name of this view (profile).",
          "type": "string"
        }
      },
      "description": "JSON template for an Analytics view (profile)."
    },
    "CustomMetric": {
      "description": "JSON template for Analytics Custom Metric.",
      "properties": {
        "min_value": {
          "type": "string",
          "description": "Min value of custom metric."
        },
        "updated": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "Time the custom metric was last modified."
        },
        "index": {
          "format": "int32",
          "type": "integer",
          "description": "Index of the custom metric.",
          "readOnly": true
        },
        "selfLink": {
          "readOnly": true,
          "type": "string",
          "description": "Link for the custom metric"
        },
        "webPropertyId": {
          "description": "Property ID.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Custom metric ID."
        },
        "name": {
          "description": "Name of the custom metric.",
          "type": "string"
        },
        "created": {
          "type": "string",
          "description": "Time the custom metric was created.",
          "format": "date-time",
          "readOnly": true
        },
        "active": {
          "description": "Boolean indicating whether the custom metric is active.",
          "type": "boolean"
        },
        "kind": {
          "readOnly": true,
          "default": "analytics#customMetric",
          "description": "Kind value for a custom metric. Set to \"analytics#customMetric\". It is a read-only field.",
          "type": "string"
        },
        "max_value": {
          "description": "Max value of custom metric.",
          "type": "string"
        },
        "scope": {
          "description": "Scope of the custom metric: HIT or PRODUCT.",
          "type": "string"
        },
        "type": {
          "description": "Data type of custom metric.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "Account ID."
        },
        "parentLink": {
          "properties": {
            "type": {
              "type": "string",
              "description": "Type of the parent link. Set to \"analytics#webproperty\".",
              "default": "analytics#webproperty"
            },
            "href": {
              "type": "string",
              "description": "Link to the property to which the custom metric belongs."
            }
          },
          "description": "Parent link for the custom metric. Points to the property to which the custom metric belongs.",
          "type": "object"
        }
      },
      "id": "CustomMetric",
      "type": "object"
    },
    "AccountTicket": {
      "id": "AccountTicket",
      "type": "object",
      "properties": {
        "kind": {
          "default": "analytics#accountTicket",
          "description": "Resource type for account ticket.",
          "type": "string"
        },
        "redirectUri": {
          "description": "Redirect URI where the user will be sent after accepting Terms of Service. Must be configured in APIs console as a callback URL.",
          "type": "string"
        },
        "webproperty": {
          "description": "Web property for the account.",
          "$ref": "Webproperty"
        },
        "profile": {
          "$ref": "Profile",
          "description": "View (Profile) for the account."
        },
        "account": {
          "description": "Account for this ticket.",
          "$ref": "Account"
        },
        "id": {
          "type": "string",
          "description": "Account ticket ID used to access the account ticket."
        }
      },
      "description": "JSON template for an Analytics account ticket. The account ticket consists of the ticket ID and the basic information for the account, property and profile."
    },
    "ProfileFilterLink": {
      "description": "JSON template for an Analytics profile filter link.",
      "type": "object",
      "properties": {
        "filterRef": {
          "description": "Filter for this link.",
          "$ref": "FilterRef"
        },
        "kind": {
          "default": "analytics#profileFilterLink",
          "readOnly": true,
          "type": "string",
          "description": "Resource type for Analytics filter."
        },
        "profileRef": {
          "description": "View (Profile) for this link.",
          "$ref": "ProfileRef"
        },
        "id": {
          "type": "string",
          "description": "Profile filter link ID."
        },
        "selfLink": {
          "readOnly": true,
          "type": "string",
          "description": "Link for this profile filter link."
        },
        "rank": {
          "format": "int32",
          "type": "integer",
          "description": "The rank of this profile filter link relative to the other filters linked to the same profile.\nFor readonly (i.e., list and get) operations, the rank always starts at 1.\nFor write (i.e., create, update, or delete) operations, you may specify a value between 0 and 255 inclusively, [0, 255]. In order to insert a link at the end of the list, either don't specify a rank or set a rank to a number greater than the largest rank in the list. In order to insert a link to the beginning of the list specify a rank that is less than or equal to 1. The new link will move all existing filters with the same or lower rank down the list. After the link is inserted/updated/deleted all profile filter links will be renumbered starting at 1."
        }
      },
      "id": "ProfileFilterLink"
    },
    "AccountTreeResponse": {
      "description": "JSON template for an Analytics account tree response. The account tree response is used in the provisioning api to return the result of creating an account, property, and view (profile).",
      "id": "AccountTreeResponse",
      "properties": {
        "account": {
          "description": "The account created.",
          "$ref": "Account"
        },
        "webproperty": {
          "$ref": "Webproperty",
          "description": "Web property for the account."
        },
        "profile": {
          "$ref": "Profile",
          "description": "View (Profile) for the account."
        },
        "kind": {
          "default": "analytics#accountTreeResponse",
          "description": "Resource type for account ticket.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Account": {
      "properties": {
        "permissions": {
          "properties": {
            "effective": {
              "description": "All the permissions that the user has for this account. These include any implied permissions (e.g., EDIT implies VIEW).",
              "type": "array",
              "items": {
                "type": "string"
              },
              "readOnly": true
            }
          },
          "type": "object",
          "description": "Permissions the user has for this account."
        },
        "updated": {
          "type": "string",
          "description": "Time the account was last modified.",
          "format": "date-time"
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this account."
        },
        "childLink": {
          "type": "object",
          "description": "Child link for an account entry. Points to the list of web properties for this account.",
          "properties": {
            "href": {
              "description": "Link to the list of web properties for this account.",
              "type": "string"
            },
            "type": {
              "type": "string",
              "default": "analytics#webproperties",
              "description": "Type of the child link. Its value is \"analytics#webproperties\"."
            }
          }
        },
        "kind": {
          "description": "Resource type for Analytics account.",
          "default": "analytics#account",
          "type": "string"
        },
        "id": {
          "description": "Account ID.",
          "type": "string"
        },
        "created": {
          "description": "Time the account was created.",
          "format": "date-time",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Account name."
        },
        "starred": {
          "type": "boolean",
          "description": "Indicates whether this account is starred or not."
        }
      },
      "type": "object",
      "description": "JSON template for Analytics account entry.",
      "id": "Account"
    },
    "UserRef": {
      "id": "UserRef",
      "description": "JSON template for a user reference.",
      "properties": {
        "kind": {
          "type": "string",
          "default": "analytics#userRef"
        },
        "email": {
          "description": "Email ID of this user.",
          "type": "string"
        },
        "id": {
          "description": "User ID.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Uploads": {
      "type": "object",
      "id": "Uploads",
      "description": "Upload collection lists Analytics uploads to which the user has access. Each custom data source can have a set of uploads. Each resource in the upload collection corresponds to a single Analytics data upload.",
      "properties": {
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        },
        "kind": {
          "default": "analytics#uploads",
          "description": "Collection type.",
          "type": "string"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this upload collection."
        },
        "nextLink": {
          "description": "Link to next page for this upload collection.",
          "type": "string"
        },
        "itemsPerPage": {
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "type": "integer",
          "format": "int32"
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of resources in the result.",
          "format": "int32"
        },
        "items": {
          "description": "A list of uploads.",
          "type": "array",
          "items": {
            "$ref": "Upload"
          }
        }
      }
    },
    "Webproperty": {
      "properties": {
        "level": {
          "description": "Level for this web property. Possible values are STANDARD or PREMIUM.",
          "readOnly": true,
          "type": "string"
        },
        "created": {
          "format": "date-time",
          "type": "string",
          "readOnly": true,
          "description": "Time this web property was created."
        },
        "websiteUrl": {
          "type": "string",
          "description": "Website url for this web property."
        },
        "profileCount": {
          "format": "int32",
          "description": "View (Profile) count for this web property.",
          "type": "integer",
          "readOnly": true
        },
        "childLink": {
          "description": "Child link for this web property. Points to the list of views (profiles) for this web property.",
          "type": "object",
          "properties": {
            "type": {
              "description": "Type of the parent link. Its value is \"analytics#profiles\".",
              "default": "analytics#profiles",
              "type": "string"
            },
            "href": {
              "description": "Link to the list of views (profiles) for this web property.",
              "type": "string"
            }
          }
        },
        "defaultProfileId": {
          "format": "int64",
          "description": "Default view (profile) ID.",
          "type": "string"
        },
        "starred": {
          "type": "boolean",
          "description": "Indicates whether this web property is starred or not."
        },
        "updated": {
          "description": "Time this web property was last modified.",
          "format": "date-time",
          "type": "string",
          "readOnly": true
        },
        "permissions": {
          "description": "Permissions the user has for this web property.",
          "properties": {
            "effective": {
              "readOnly": true,
              "description": "All the permissions that the user has for this web property. These include any implied permissions (e.g., EDIT implies VIEW) or inherited permissions from the parent account.",
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "type": "object"
        },
        "dataRetentionTtl": {
          "type": "string",
          "description": "The length of time for which user and event data is retained.\nThis property cannot be set on insert."
        },
        "internalWebPropertyId": {
          "type": "string",
          "readOnly": true,
          "description": "Internal ID for this web property."
        },
        "selfLink": {
          "description": "Link for this web property.",
          "readOnly": true,
          "type": "string"
        },
        "accountId": {
          "description": "Account ID to which this web property belongs.",
          "type": "string"
        },
        "kind": {
          "default": "analytics#webproperty",
          "readOnly": true,
          "description": "Resource type for Analytics WebProperty.",
          "type": "string"
        },
        "parentLink": {
          "properties": {
            "type": {
              "description": "Type of the parent link. Its value is \"analytics#account\".",
              "default": "analytics#account",
              "type": "string"
            },
            "href": {
              "description": "Link to the account for this web property.",
              "type": "string"
            }
          },
          "type": "object",
          "description": "Parent link for this web property. Points to the account to which this web property belongs."
        },
        "name": {
          "type": "string",
          "description": "Name of this web property."
        },
        "dataRetentionResetOnNewActivity": {
          "description": "Set to true to reset the retention period of the user identifier with each new event from that user (thus setting the expiration date to current time plus retention period).\nSet to false to delete data associated with the user identifier automatically after the rentention period.\nThis property cannot be set on insert.",
          "type": "boolean"
        },
        "industryVertical": {
          "type": "string",
          "description": "The industry vertical/category selected for this web property."
        },
        "id": {
          "description": "Web property ID of the form UA-XXXXX-YY.",
          "type": "string"
        }
      },
      "description": "JSON template for an Analytics web property.",
      "id": "Webproperty",
      "type": "object"
    },
    "IncludeConditions": {
      "id": "IncludeConditions",
      "description": "JSON template for an Analytics Remarketing Include Conditions.",
      "properties": {
        "segment": {
          "type": "string",
          "description": "The segment condition that will cause a user to be added to an audience."
        },
        "membershipDurationDays": {
          "description": "Number of days (in the range 1 to 540) a user remains in the audience.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "description": "Resource type for include conditions.",
          "type": "string",
          "default": "analytics#includeConditions"
        },
        "daysToLookBack": {
          "description": "The look-back window lets you specify a time frame for evaluating the behavior that qualifies users for your audience. For example, if your filters include users from Central Asia, and Transactions Greater than 2, and you set the look-back window to 14 days, then any user from Central Asia whose cumulative transactions exceed 2 during the last 14 days is added to the audience.",
          "format": "int32",
          "type": "integer"
        },
        "isSmartList": {
          "type": "boolean",
          "description": "Boolean indicating whether this segment is a smart list. https://support.google.com/analytics/answer/4628577"
        }
      },
      "type": "object"
    },
    "ProfileSummary": {
      "type": "object",
      "description": "JSON template for an Analytics ProfileSummary. ProfileSummary returns basic information (i.e., summary) for a profile.",
      "properties": {
        "kind": {
          "description": "Resource type for Analytics ProfileSummary.",
          "type": "string",
          "default": "analytics#profileSummary"
        },
        "id": {
          "description": "View (profile) ID.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "View (profile) name."
        },
        "starred": {
          "type": "boolean",
          "description": "Indicates whether this view (profile) is starred or not."
        },
        "type": {
          "description": "View (Profile) type. Supported types: WEB or APP.",
          "type": "string"
        }
      },
      "id": "ProfileSummary"
    },
    "GaData": {
      "description": "Analytics data for a given view (profile).",
      "id": "GaData",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique ID for this data response."
        },
        "rows": {
          "description": "Analytics data rows, where each row contains a list of dimension values followed by the metric values. The order of dimensions and metrics is same as specified in the request.",
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "type": "array"
        },
        "itemsPerPage": {
          "format": "int32",
          "description": "The maximum number of rows the response can contain, regardless of the actual number of rows returned. Its value ranges from 1 to 10,000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "type": "integer"
        },
        "containsSampledData": {
          "type": "boolean",
          "description": "Determines if Analytics data contains samples."
        },
        "kind": {
          "description": "Resource type.",
          "default": "analytics#gaData",
          "type": "string"
        },
        "selfLink": {
          "description": "Link to this page.",
          "type": "string"
        },
        "query": {
          "type": "object",
          "properties": {
            "sort": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "List of dimensions or metrics based on which Analytics data is sorted."
            },
            "samplingLevel": {
              "description": "Desired sampling level",
              "type": "string"
            },
            "filters": {
              "description": "Comma-separated list of dimension or metric filters.",
              "type": "string"
            },
            "start-index": {
              "description": "Start index.",
              "format": "int32",
              "type": "integer"
            },
            "ids": {
              "description": "Unique table ID.",
              "type": "string"
            },
            "end-date": {
              "type": "string",
              "description": "End date."
            },
            "dimensions": {
              "type": "string",
              "description": "List of analytics dimensions."
            },
            "segment": {
              "description": "Analytics advanced segment.",
              "type": "string"
            },
            "start-date": {
              "description": "Start date.",
              "type": "string"
            },
            "metrics": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "description": "List of analytics metrics."
            },
            "max-results": {
              "format": "int32",
              "description": "Maximum results per page.",
              "type": "integer"
            }
          },
          "description": "Analytics data request query parameters."
        },
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of rows for the query, regardless of the number of rows in the response."
        },
        "columnHeaders": {
          "description": "Column headers that list dimension names followed by the metric names. The order of dimensions and metrics is same as specified in the request.",
          "items": {
            "type": "object",
            "properties": {
              "dataType": {
                "type": "string",
                "description": "Data type. Dimension column headers have only STRING as the data type. Metric column headers have data types for metric values such as INTEGER, DOUBLE, CURRENCY etc."
              },
              "columnType": {
                "description": "Column Type. Either DIMENSION or METRIC.",
                "type": "string"
              },
              "name": {
                "description": "Column name.",
                "type": "string"
              }
            }
          },
          "type": "array"
        },
        "previousLink": {
          "description": "Link to previous page for this Analytics data query.",
          "type": "string"
        },
        "sampleSize": {
          "format": "int64",
          "type": "string",
          "description": "The number of samples used to calculate the result."
        },
        "dataTable": {
          "type": "object",
          "properties": {
            "rows": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "c": {
                    "items": {
                      "properties": {
                        "v": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array"
                  }
                }
              }
            },
            "cols": {
              "items": {
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "label": {
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "type": "array"
            }
          }
        },
        "profileInfo": {
          "description": "Information for the view (profile), for which the Analytics data was requested.",
          "properties": {
            "profileName": {
              "description": "View (Profile) name.",
              "type": "string"
            },
            "webPropertyId": {
              "type": "string",
              "description": "Web Property ID to which this view (profile) belongs."
            },
            "internalWebPropertyId": {
              "type": "string",
              "description": "Internal ID for the web property to which this view (profile) belongs."
            },
            "profileId": {
              "description": "View (Profile) ID.",
              "type": "string"
            },
            "tableId": {
              "description": "Table ID for view (profile).",
              "type": "string"
            },
            "accountId": {
              "type": "string",
              "description": "Account ID to which this view (profile) belongs."
            }
          },
          "type": "object"
        },
        "sampleSpace": {
          "format": "int64",
          "type": "string",
          "description": "Total size of the sample space from which the samples were selected."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this Analytics data query."
        },
        "totalsForAllResults": {
          "type": "object",
          "additionalProperties": {
            "description": "Key-value pair for the total value of a metric. Key is the metric name and the value is the total value for that metric.",
            "type": "string"
          },
          "description": "Total values for the requested metrics over all the results, not just the results returned in this response. The order of the metric totals is same as the metric order specified in the request."
        },
        "dataLastRefreshed": {
          "format": "int64",
          "description": "The last refreshed time in seconds for Analytics data.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Experiment": {
      "description": "JSON template for Analytics experiment resource.",
      "properties": {
        "winnerConfidenceLevel": {
          "description": "A floating-point number in (0, 1). Specifies the necessary confidence level to choose a winner. This field may not be changed for an experiments whose status is ENDED.",
          "format": "double",
          "type": "number"
        },
        "objectiveMetric": {
          "description": "The metric that the experiment is optimizing. Valid values: \"ga:goal(n)Completions\", \"ga:adsenseAdsClicks\", \"ga:adsenseAdsViewed\", \"ga:adsenseRevenue\", \"ga:bounces\", \"ga:pageviews\", \"ga:sessionDuration\", \"ga:transactions\", \"ga:transactionRevenue\". This field is required if status is \"RUNNING\" and servingFramework is one of \"REDIRECT\" or \"API\".",
          "type": "string"
        },
        "optimizationType": {
          "type": "string",
          "description": "Whether the objectiveMetric should be minimized or maximized. Possible values: \"MAXIMUM\", \"MINIMUM\". Optional--defaults to \"MAXIMUM\". Cannot be specified without objectiveMetric. Cannot be modified when status is \"RUNNING\" or \"ENDED\"."
        },
        "updated": {
          "format": "date-time",
          "description": "Time the experiment was last modified. This field is read-only.",
          "type": "string"
        },
        "editableInGaUi": {
          "type": "boolean",
          "description": "If true, the end user will be able to edit the experiment via the Google Analytics user interface."
        },
        "equalWeighting": {
          "description": "Boolean specifying whether to distribute traffic evenly across all variations. If the value is False, content experiments follows the default behavior of adjusting traffic dynamically based on variation performance. Optional -- defaults to False. This field may not be changed for an experiment whose status is ENDED.",
          "type": "boolean"
        },
        "endTime": {
          "description": "The ending time of the experiment (the time the status changed from RUNNING to ENDED). This field is present only if the experiment has ended. This field is read-only.",
          "format": "date-time",
          "type": "string"
        },
        "trafficCoverage": {
          "description": "A floating-point number in (0, 1]. Specifies the fraction of the traffic that participates in the experiment. Can be changed for a running experiment. This field may not be changed for an experiments whose status is ENDED.",
          "type": "number",
          "format": "double"
        },
        "winnerFound": {
          "type": "boolean",
          "description": "Boolean specifying whether a winner has been found for this experiment. This field is read-only."
        },
        "variations": {
          "type": "array",
          "items": {
            "properties": {
              "won": {
                "type": "boolean",
                "description": "True if the experiment has ended and this variation performed (statistically) significantly better than the original. This field is read-only."
              },
              "name": {
                "annotations": {
                  "required": [
                    "analytics.management.experiments.insert",
                    "analytics.management.experiments.update"
                  ]
                },
                "type": "string",
                "description": "The name of the variation. This field is required when creating an experiment. This field may not be changed for an experiment whose status is ENDED."
              },
              "weight": {
                "description": "Weight that this variation should receive. Only present if the experiment is running. This field is read-only.",
                "type": "number",
                "format": "double"
              },
              "url": {
                "type": "string",
                "description": "The URL of the variation. This field may not be changed for an experiment whose status is RUNNING or ENDED."
              },
              "status": {
                "type": "string",
                "description": "Status of the variation. Possible values: \"ACTIVE\", \"INACTIVE\". INACTIVE variations are not served. This field may not be changed for an experiment whose status is ENDED."
              }
            },
            "type": "object"
          },
          "description": "Array of variations. The first variation in the array is the original. The number of variations may not change once an experiment is in the RUNNING state. At least two variations are required before status can be set to RUNNING."
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID to which this experiment belongs. The web property ID is of the form UA-XXXXX-YY. This field is read-only."
        },
        "id": {
          "description": "Experiment ID. Required for patch and update. Disallowed for create.",
          "annotations": {
            "required": [
              "analytics.management.experiments.patch",
              "analytics.management.experiments.update"
            ]
          },
          "type": "string"
        },
        "name": {
          "description": "Experiment name. This field may not be changed for an experiment whose status is ENDED. This field is required when creating an experiment.",
          "type": "string",
          "annotations": {
            "required": [
              "analytics.management.experiments.insert",
              "analytics.management.experiments.update"
            ]
          }
        },
        "parentLink": {
          "properties": {
            "href": {
              "description": "Link to the view (profile) to which this experiment belongs. This field is read-only.",
              "type": "string"
            },
            "type": {
              "description": "Value is \"analytics#profile\". This field is read-only.",
              "type": "string",
              "default": "analytics#profile"
            }
          },
          "type": "object",
          "description": "Parent link for an experiment. Points to the view (profile) to which this experiment belongs."
        },
        "created": {
          "format": "date-time",
          "description": "Time the experiment was created. This field is read-only.",
          "type": "string"
        },
        "reasonExperimentEnded": {
          "type": "string",
          "description": "Why the experiment ended. Possible values: \"STOPPED_BY_USER\", \"WINNER_FOUND\", \"EXPERIMENT_EXPIRED\", \"ENDED_WITH_NO_WINNER\", \"GOAL_OBJECTIVE_CHANGED\". \"ENDED_WITH_NO_WINNER\" means that the experiment didn't expire but no winner was projected to be found. If the experiment status is changed via the API to ENDED this field is set to STOPPED_BY_USER. This field is read-only."
        },
        "accountId": {
          "description": "Account ID to which this experiment belongs. This field is read-only.",
          "type": "string"
        },
        "snippet": {
          "type": "string",
          "description": "The snippet of code to include on the control page(s). This field is read-only."
        },
        "startTime": {
          "format": "date-time",
          "description": "The starting time of the experiment (the time the status changed from READY_TO_RUN to RUNNING). This field is present only if the experiment has started. This field is read-only.",
          "type": "string"
        },
        "servingFramework": {
          "type": "string",
          "description": "The framework used to serve the experiment variations and evaluate the results. One of:  \n- REDIRECT: Google Analytics redirects traffic to different variation pages, reports the chosen variation and evaluates the results.\n- API: Google Analytics chooses and reports the variation to serve and evaluates the results; the caller is responsible for serving the selected variation.\n- EXTERNAL: The variations will be served externally and the chosen variation reported to Google Analytics. The caller is responsible for serving the selected variation and evaluating the results."
        },
        "selfLink": {
          "description": "Link for this experiment. This field is read-only.",
          "type": "string"
        },
        "minimumExperimentLengthInDays": {
          "format": "int32",
          "description": "An integer number in [3, 90]. Specifies the minimum length of the experiment. Can be changed for a running experiment. This field may not be changed for an experiments whose status is ENDED.",
          "type": "integer"
        },
        "rewriteVariationUrlsAsOriginal": {
          "description": "Boolean specifying whether variations URLS are rewritten to match those of the original. This field may not be changed for an experiments whose status is ENDED.",
          "type": "boolean"
        },
        "internalWebPropertyId": {
          "description": "Internal ID for the web property to which this experiment belongs. This field is read-only.",
          "type": "string"
        },
        "description": {
          "description": "Notes about this experiment.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "Experiment status. Possible values: \"DRAFT\", \"READY_TO_RUN\", \"RUNNING\", \"ENDED\". Experiments can be created in the \"DRAFT\", \"READY_TO_RUN\" or \"RUNNING\" state. This field is required when creating an experiment.",
          "annotations": {
            "required": [
              "analytics.management.experiments.insert",
              "analytics.management.experiments.update"
            ]
          }
        },
        "profileId": {
          "description": "View (Profile) ID to which this experiment belongs. This field is read-only.",
          "type": "string"
        },
        "kind": {
          "default": "analytics#experiment",
          "description": "Resource type for an Analytics experiment. This field is read-only.",
          "type": "string"
        }
      },
      "id": "Experiment",
      "type": "object"
    },
    "Goals": {
      "id": "Goals",
      "type": "object",
      "description": "A goal collection lists Analytics goals to which the user has access. Each view (profile) can have a set of goals. Each resource in the Goal collection corresponds to a single Analytics goal.",
      "properties": {
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter."
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this goal collection."
        },
        "totalResults": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of results for the query, regardless of the number of resources in the result."
        },
        "items": {
          "description": "A list of goals.",
          "type": "array",
          "items": {
            "$ref": "Goal"
          }
        },
        "itemsPerPage": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "username": {
          "description": "Email ID of the authenticated user",
          "type": "string"
        },
        "kind": {
          "description": "Collection type.",
          "default": "analytics#goals",
          "type": "string"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this goal collection."
        }
      }
    },
    "CustomMetrics": {
      "type": "object",
      "properties": {
        "previousLink": {
          "description": "Link to previous page for this custom metric collection.",
          "type": "string"
        },
        "username": {
          "description": "Email ID of the authenticated user",
          "type": "string"
        },
        "itemsPerPage": {
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "type": "integer",
          "format": "int32"
        },
        "items": {
          "items": {
            "$ref": "CustomMetric"
          },
          "type": "array",
          "description": "Collection of custom metrics."
        },
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this custom metric collection."
        },
        "kind": {
          "description": "Collection type.",
          "default": "analytics#customMetrics",
          "type": "string"
        },
        "startIndex": {
          "format": "int32",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "type": "integer"
        }
      },
      "id": "CustomMetrics",
      "description": "A custom metric collection lists Analytics custom metrics to which the user has access. Each resource in the collection corresponds to a single Analytics custom metric."
    },
    "CustomDimensions": {
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "CustomDimension"
          },
          "description": "Collection of custom dimensions."
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32"
        },
        "startIndex": {
          "format": "int32",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "type": "integer"
        },
        "username": {
          "description": "Email ID of the authenticated user",
          "type": "string"
        },
        "nextLink": {
          "description": "Link to next page for this custom dimension collection.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#customDimensions"
        },
        "itemsPerPage": {
          "format": "int32",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "type": "integer"
        },
        "previousLink": {
          "description": "Link to previous page for this custom dimension collection.",
          "type": "string"
        }
      },
      "description": "A custom dimension collection lists Analytics custom dimensions to which the user has access. Each resource in the collection corresponds to a single Analytics custom dimension.",
      "type": "object",
      "id": "CustomDimensions"
    },
    "Segments": {
      "description": "An segment collection lists Analytics segments that the user has access to. Each resource in the collection corresponds to a single Analytics segment.",
      "id": "Segments",
      "type": "object",
      "properties": {
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this segment collection."
        },
        "items": {
          "description": "A list of segments.",
          "items": {
            "$ref": "Segment"
          },
          "type": "array"
        },
        "startIndex": {
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32",
          "type": "integer"
        },
        "username": {
          "description": "Email ID of the authenticated user",
          "type": "string"
        },
        "totalResults": {
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "type": "integer",
          "format": "int32"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this segment collection."
        },
        "kind": {
          "description": "Collection type for segments.",
          "default": "analytics#segments",
          "type": "string"
        }
      }
    },
    "Columns": {
      "description": "Lists columns (dimensions and metrics) for a particular report type.",
      "id": "Columns",
      "type": "object",
      "properties": {
        "totalResults": {
          "description": "Total number of columns returned in the response.",
          "format": "int32",
          "type": "integer"
        },
        "attributeNames": {
          "type": "array",
          "description": "List of attributes names returned by columns.",
          "items": {
            "type": "string"
          }
        },
        "items": {
          "description": "List of columns for a report type.",
          "items": {
            "$ref": "Column"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#columns"
        },
        "etag": {
          "type": "string",
          "description": "Etag of collection. This etag can be compared with the last response etag to check if response has changed."
        }
      }
    },
    "UserDeletionRequest": {
      "properties": {
        "firebaseProjectId": {
          "description": "Firebase Project Id",
          "type": "string"
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY."
        },
        "deletionRequestTime": {
          "readOnly": true,
          "type": "string",
          "description": "This marks the point in time for which all user data before should be deleted",
          "format": "date-time"
        },
        "kind": {
          "type": "string",
          "description": "Value is \"analytics#userDeletionRequest\".",
          "default": "analytics#userDeletionRequest"
        },
        "propertyId": {
          "description": "Property ID",
          "type": "string"
        },
        "id": {
          "description": "User ID.",
          "type": "object",
          "properties": {
            "type": {
              "description": "Type of user",
              "type": "string"
            },
            "userId": {
              "type": "string",
              "description": "The User's id"
            }
          }
        }
      },
      "id": "UserDeletionRequest",
      "type": "object",
      "description": "JSON template for a user deletion request resource."
    },
    "RemarketingAudience": {
      "type": "object",
      "description": "JSON template for an Analytics remarketing audience.",
      "id": "RemarketingAudience",
      "properties": {
        "linkedViews": {
          "description": "The views (profiles) that this remarketing audience is linked to.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "linkedAdAccounts": {
          "description": "The linked ad accounts associated with this remarketing audience. A remarketing audience can have only one linkedAdAccount currently.",
          "items": {
            "$ref": "LinkedForeignAccount"
          },
          "type": "array"
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this remarketing audience belongs."
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#remarketingAudience"
        },
        "name": {
          "description": "The name of this remarketing audience.",
          "type": "string"
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY to which this remarketing audience belongs."
        },
        "description": {
          "description": "The description of this remarketing audience.",
          "type": "string",
          "readOnly": true
        },
        "audienceType": {
          "type": "string",
          "description": "The type of audience, either SIMPLE or STATE_BASED."
        },
        "updated": {
          "description": "Time this remarketing audience was last modified.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "internalWebPropertyId": {
          "description": "Internal ID for the web property to which this remarketing audience belongs.",
          "type": "string",
          "readOnly": true
        },
        "stateBasedAudienceDefinition": {
          "type": "object",
          "properties": {
            "includeConditions": {
              "description": "Defines the conditions to include users to the audience.",
              "$ref": "IncludeConditions"
            },
            "excludeConditions": {
              "type": "object",
              "properties": {
                "exclusionDuration": {
                  "type": "string",
                  "description": "Whether to make the exclusion TEMPORARY or PERMANENT."
                },
                "segment": {
                  "description": "The segment condition that will cause a user to be removed from an audience.",
                  "type": "string"
                }
              },
              "description": "Defines the conditions to exclude users from the audience."
            }
          },
          "description": "A state based audience definition that will cause a user to be added or removed from an audience."
        },
        "audienceDefinition": {
          "description": "The simple audience definition that will cause a user to be added to an audience.",
          "properties": {
            "includeConditions": {
              "$ref": "IncludeConditions",
              "description": "Defines the conditions to include users to the audience."
            }
          },
          "type": "object"
        },
        "created": {
          "readOnly": true,
          "format": "date-time",
          "description": "Time this remarketing audience was created.",
          "type": "string"
        },
        "id": {
          "description": "Remarketing Audience ID.",
          "type": "string"
        }
      }
    },
    "AnalyticsDataimportDeleteUploadDataRequest": {
      "type": "object",
      "description": "Request template for the delete upload data request.",
      "properties": {
        "customDataImportUids": {
          "type": "array",
          "description": "A list of upload UIDs.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AnalyticsDataimportDeleteUploadDataRequest"
    },
    "ProfileRef": {
      "properties": {
        "kind": {
          "default": "analytics#profileRef",
          "description": "Analytics view (profile) reference.",
          "type": "string"
        },
        "webPropertyId": {
          "description": "Web property ID of the form UA-XXXXX-YY to which this view (profile) belongs.",
          "type": "string"
        },
        "internalWebPropertyId": {
          "description": "Internal ID for the web property to which this view (profile) belongs.",
          "type": "string"
        },
        "href": {
          "description": "Link for this view (profile).",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this view (profile) belongs."
        },
        "name": {
          "type": "string",
          "description": "Name of this view (profile)."
        },
        "id": {
          "type": "string",
          "description": "View (Profile) ID."
        }
      },
      "type": "object",
      "description": "JSON template for a linked view (profile).",
      "id": "ProfileRef"
    },
    "AccountTreeRequest": {
      "properties": {
        "profileName": {
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          },
          "type": "string"
        },
        "timezone": {
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          },
          "type": "string"
        },
        "kind": {
          "description": "Resource type for account ticket.",
          "type": "string",
[...]
