{
  "baseUrl": "https://analyticsadmin.googleapis.com/",
  "mtlsRootUrl": "https://analyticsadmin.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/analytics.readonly": {
          "description": "See and download your Google Analytics data"
        },
        "https://www.googleapis.com/auth/analytics.edit": {
          "description": "Edit Google Analytics management entities"
        }
      }
    }
  },
  "servicePath": "",
  "basePath": "",
  "parameters": {
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    }
  },
  "name": "analyticsadmin",
  "rootUrl": "https://analyticsadmin.googleapis.com/",
  "version_module": true,
  "documentationLink": "http://code.google.com/apis/analytics/docs/mgmt/home.html",
  "ownerName": "Google",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "GoogleAnalyticsAdminV1betaChangeHistoryEvent": {
      "id": "GoogleAnalyticsAdminV1betaChangeHistoryEvent",
      "properties": {
        "changes": {
          "type": "array",
          "description": "A list of changes made in this change history event that fit the filters specified in SearchChangeHistoryEventsRequest.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaChangeHistoryChange"
          }
        },
        "changesFiltered": {
          "description": "If true, then the list of changes returned was filtered, and does not represent all changes that occurred in this event.",
          "type": "boolean"
        },
        "id": {
          "type": "string",
          "description": "ID of this change history event. This ID is unique across Google Analytics."
        },
        "userActorEmail": {
          "description": "Email address of the Google account that made the change. This will be a valid email address if the actor field is set to USER, and empty otherwise. Google accounts that have been deleted will cause an error.",
          "type": "string"
        },
        "changeTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when change was made."
        },
        "actorType": {
          "enumDescriptions": [
            "Unknown or unspecified actor type.",
            "Changes made by the user specified in actor_email.",
            "Changes made by the Google Analytics system.",
            "Changes made by Google Analytics support team staff."
          ],
          "enum": [
            "ACTOR_TYPE_UNSPECIFIED",
            "USER",
            "SYSTEM",
            "SUPPORT"
          ],
          "description": "The type of actor that made this change.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A set of changes within a Google Analytics account or its child properties that resulted from the same cause. Common causes would be updates made in the Google Analytics UI, changes from customer support, or automatic Google Analytics system changes."
    },
    "GoogleAnalyticsAdminV1betaNumericValue": {
      "properties": {
        "int64Value": {
          "description": "Integer value",
          "format": "int64",
          "type": "string"
        },
        "doubleValue": {
          "description": "Double value",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "description": "To represent a number.",
      "id": "GoogleAnalyticsAdminV1betaNumericValue"
    },
    "GoogleAnalyticsAdminV1betaAccessStringFilter": {
      "properties": {
        "caseSensitive": {
          "description": "If true, the string value is case sensitive.",
          "type": "boolean"
        },
        "matchType": {
          "description": "The match type for this filter.",
          "enumDescriptions": [
            "Unspecified",
            "Exact match of the string value.",
            "Begins with the string value.",
            "Ends with the string value.",
            "Contains the string value.",
            "Full match for the regular expression with the string value.",
            "Partial match for the regular expression with the string value."
          ],
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "BEGINS_WITH",
            "ENDS_WITH",
            "CONTAINS",
            "FULL_REGEXP",
            "PARTIAL_REGEXP"
          ],
          "type": "string"
        },
        "value": {
          "description": "The string value used for the matching.",
          "type": "string"
        }
      },
      "description": "The filter for strings.",
      "id": "GoogleAnalyticsAdminV1betaAccessStringFilter",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsResponse": {
      "description": "Response message for SearchAccounts RPC.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "changeHistoryEvents": {
          "description": "Results that were accessible to the caller.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaChangeHistoryEvent"
          },
          "type": "array"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsResponse"
    },
    "GoogleAnalyticsAdminV1betaAccessOrderByMetricOrderBy": {
      "id": "GoogleAnalyticsAdminV1betaAccessOrderByMetricOrderBy",
      "properties": {
        "metricName": {
          "description": "A metric name in the request to order by.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Sorts by metric values."
    },
    "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionRequest": {
      "description": "Request message for AcknowledgeUserDataCollection RPC.",
      "properties": {
        "acknowledgement": {
          "description": "Required. An acknowledgement that the caller of this method understands the terms of user data collection. This field must contain the exact value: \"I acknowledge that I have the necessary privacy disclosures and rights from my end users for the collection and processing of their data, including the association of such data with the visitation information Google Analytics collects from my site and/or app property.\"",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionRequest",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaRunAccessReportResponse": {
      "type": "object",
      "properties": {
        "rows": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessRow"
          },
          "description": "Rows of dimension value combinations and metric values in the report."
        },
        "dimensionHeaders": {
          "description": "The header for a column in the report that corresponds to a specific dimension. The number of DimensionHeaders and ordering of DimensionHeaders matches the dimensions present in rows.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessDimensionHeader"
          },
          "type": "array"
        },
        "rowCount": {
          "format": "int32",
          "description": "The total number of rows in the query result. `rowCount` is independent of the number of rows returned in the response, the `limit` request parameter, and the `offset` request parameter. For example if a query returns 175 rows and includes `limit` of 50 in the API request, the response will contain `rowCount` of 175 but only 50 rows. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination).",
          "type": "integer"
        },
        "quota": {
          "description": "The quota state for this Analytics property including this request. This field doesn't work with account-level requests.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessQuota"
        },
        "metricHeaders": {
          "description": "The header for a column in the report that corresponds to a specific metric. The number of MetricHeaders and ordering of MetricHeaders matches the metrics present in rows.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessMetricHeader"
          },
          "type": "array"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaRunAccessReportResponse",
      "description": "The customized Data Access Record Report response."
    },
    "GoogleAnalyticsAdminV1betaDataStreamIosAppStreamData": {
      "type": "object",
      "description": "Data specific to iOS app streams.",
      "properties": {
        "firebaseAppId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ID of the corresponding iOS app in Firebase, if any. This ID can change if the iOS app is deleted and recreated."
        },
        "bundleId": {
          "description": "Required. Immutable. The Apple App Store Bundle ID for the app Example: \"com.example.myiosapp\"",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaDataStreamIosAppStreamData"
    },
    "GoogleAnalyticsAdminV1betaDataStream": {
      "description": "A resource message representing a data stream.",
      "id": "GoogleAnalyticsAdminV1betaDataStream",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Time when stream payload fields were last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "webStreamData": {
          "description": "Data specific to web streams. Must be populated if type is WEB_DATA_STREAM.",
          "$ref": "GoogleAnalyticsAdminV1betaDataStreamWebStreamData"
        },
        "type": {
          "enumDescriptions": [
            "Type unknown or not specified.",
            "Web data stream.",
            "Android app data stream.",
            "iOS app data stream."
          ],
          "enum": [
            "DATA_STREAM_TYPE_UNSPECIFIED",
            "WEB_DATA_STREAM",
            "ANDROID_APP_DATA_STREAM",
            "IOS_APP_DATA_STREAM"
          ],
          "description": "Required. Immutable. The type of this DataStream resource.",
          "type": "string"
        },
        "displayName": {
          "description": "Human-readable display name for the Data Stream. Required for web data streams. The max allowed display name length is 255 UTF-16 code units.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of this Data Stream. Format: properties/{property_id}/dataStreams/{stream_id} Example: \"properties/1000/dataStreams/2000\"",
          "readOnly": true
        },
        "androidAppStreamData": {
          "$ref": "GoogleAnalyticsAdminV1betaDataStreamAndroidAppStreamData",
          "description": "Data specific to Android app streams. Must be populated if type is ANDROID_APP_DATA_STREAM."
        },
        "createTime": {
          "description": "Output only. Time when this stream was originally created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "iosAppStreamData": {
          "description": "Data specific to iOS app streams. Must be populated if type is IOS_APP_DATA_STREAM.",
          "$ref": "GoogleAnalyticsAdminV1betaDataStreamIosAppStreamData"
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaListFirebaseLinksResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. Currently, Google Analytics supports only one FirebaseLink per property, so this will never be populated.",
          "type": "string"
        },
        "firebaseLinks": {
          "description": "List of FirebaseLinks. This will have at most one value.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaFirebaseLink"
          }
        }
      },
      "description": "Response message for ListFirebaseLinks RPC",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaListFirebaseLinksResponse"
    },
    "GoogleAnalyticsAdminV1betaListPropertiesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "properties": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "description": "Results that matched the filter criteria and were accessible to the caller."
        }
      },
      "description": "Response message for ListProperties RPC.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaListPropertiesResponse"
    },
    "GoogleAnalyticsAdminV1betaDataRetentionSettings": {
      "description": "Settings values for data retention. This is a singleton resource.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaDataRetentionSettings",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Resource name for this DataRetentionSetting resource. Format: properties/{property}/dataRetentionSettings",
          "readOnly": true
        },
        "eventDataRetention": {
          "enum": [
            "RETENTION_DURATION_UNSPECIFIED",
            "TWO_MONTHS",
            "FOURTEEN_MONTHS",
            "TWENTY_SIX_MONTHS",
            "THIRTY_EIGHT_MONTHS",
            "FIFTY_MONTHS"
          ],
          "enumDescriptions": [
            "Data retention time duration is not specified.",
            "The data retention time duration is 2 months.",
            "The data retention time duration is 14 months.",
            "The data retention time duration is 26 months. Available to 360 properties only.",
            "The data retention time duration is 38 months. Available to 360 properties only.",
            "The data retention time duration is 50 months. Available to 360 properties only."
          ],
          "type": "string",
          "description": "The length of time that event-level data is retained."
        },
        "resetUserDataOnNewActivity": {
          "description": "If true, reset the retention period for the user identifier with every event from that user.",
          "type": "boolean"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaArchiveCustomMetricRequest": {
      "properties": {},
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaArchiveCustomMetricRequest",
      "description": "Request message for ArchiveCustomMetric RPC."
    },
    "GoogleAnalyticsAdminV1betaChangeHistoryChangeChangeHistoryResource": {
      "properties": {
        "account": {
          "description": "A snapshot of an Account resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1betaAccount"
        },
        "conversionEvent": {
          "$ref": "GoogleAnalyticsAdminV1betaConversionEvent",
          "description": "A snapshot of a ConversionEvent resource in change history."
        },
        "firebaseLink": {
          "$ref": "GoogleAnalyticsAdminV1betaFirebaseLink",
          "description": "A snapshot of a FirebaseLink resource in change history."
        },
        "dataStream": {
          "description": "A snapshot of a DataStream resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1betaDataStream"
        },
        "dataRetentionSettings": {
          "$ref": "GoogleAnalyticsAdminV1betaDataRetentionSettings",
          "description": "A snapshot of a data retention settings resource in change history."
        },
        "property": {
          "$ref": "GoogleAnalyticsAdminV1betaProperty",
          "description": "A snapshot of a Property resource in change history."
        },
        "googleAdsLink": {
          "$ref": "GoogleAnalyticsAdminV1betaGoogleAdsLink",
          "description": "A snapshot of a GoogleAdsLink resource in change history."
        },
        "measurementProtocolSecret": {
          "description": "A snapshot of a MeasurementProtocolSecret resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
        }
      },
      "type": "object",
      "description": "A snapshot of a resource as before or after the result of a change in change history.",
      "id": "GoogleAnalyticsAdminV1betaChangeHistoryChangeChangeHistoryResource"
    },
    "GoogleAnalyticsAdminV1betaAccount": {
      "type": "object",
      "description": "A resource message representing a Google Analytics account.",
      "id": "GoogleAnalyticsAdminV1betaAccount",
      "properties": {
        "deleted": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether this Account is soft-deleted or not. Deleted accounts are excluded from List results unless specifically requested."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Time when account payload fields were last updated.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time when this account was originally created.",
          "readOnly": true,
          "type": "string"
        },
        "regionCode": {
          "description": "Country of business. Must be a Unicode CLDR region code.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Human-readable display name for this account."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of this account. Format: accounts/{account} Example: \"accounts/100\"",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessMetricHeader": {
      "type": "object",
      "properties": {
        "metricName": {
          "type": "string",
          "description": "The metric's name; for example 'accessCount'."
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAccessMetricHeader",
      "description": "Describes a metric column in the report. Visible metrics requested in a report produce column entries within rows and MetricHeaders. However, metrics used exclusively within filters or expressions do not produce columns in a report; correspondingly, those metrics do not produce headers."
    },
    "GoogleAnalyticsAdminV1betaAccessRow": {
      "properties": {
        "dimensionValues": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessDimensionValue"
          },
          "description": "List of dimension values. These values are in the same order as specified in the request.",
          "type": "array"
        },
        "metricValues": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessMetricValue"
          },
          "description": "List of metric values. These values are in the same order as specified in the request.",
          "type": "array"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAccessRow",
      "description": "Access report data for each row.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaAccessBetweenFilter": {
      "properties": {
        "fromValue": {
          "description": "Begins with this number.",
          "$ref": "GoogleAnalyticsAdminV1betaNumericValue"
        },
        "toValue": {
          "description": "Ends with this number.",
          "$ref": "GoogleAnalyticsAdminV1betaNumericValue"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaAccessBetweenFilter",
      "description": "To express that the result needs to be between two numbers (inclusive)."
    },
    "GoogleAnalyticsAdminV1betaGoogleAdsLink": {
      "description": "A link between a GA4 property and a Google Ads account.",
      "id": "GoogleAnalyticsAdminV1betaGoogleAdsLink",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Format: properties/{propertyId}/googleAdsLinks/{googleAdsLinkId} Note: googleAdsLinkId is not the Google Ads customer ID.",
          "type": "string"
        },
        "adsPersonalizationEnabled": {
          "type": "boolean",
          "description": "Enable personalized advertising features with this integration. Automatically publish my Google Analytics audience lists and Google Analytics remarketing events/parameters to the linked Google Ads account. If this field is not set on create/update, it will be defaulted to true."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Time when this link was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. Time when this link was originally created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "creatorEmailAddress": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Email address of the user that created the link. An empty string will be returned if the email address can't be retrieved."
        },
        "canManageClients": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If true, this link is for a Google Ads manager account."
        },
        "customerId": {
          "type": "string",
          "description": "Immutable. Google Ads customer ID."
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaAccessOrderBy": {
      "description": "Order bys define how rows will be sorted in the response. For example, ordering rows by descending access count is one ordering, and ordering rows by the country string is a different ordering.",
      "type": "object",
      "properties": {
        "dimension": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessOrderByDimensionOrderBy",
          "description": "Sorts results by a dimension's values."
        },
        "metric": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessOrderByMetricOrderBy",
          "description": "Sorts results by a metric's values."
        },
        "desc": {
          "type": "boolean",
          "description": "If true, sorts by descending order. If false or unspecified, sorts in ascending order."
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAccessOrderBy"
    },
    "GoogleAnalyticsAdminV1betaArchiveCustomDimensionRequest": {
      "id": "GoogleAnalyticsAdminV1betaArchiveCustomDimensionRequest",
      "type": "object",
      "description": "Request message for ArchiveCustomDimension RPC.",
      "properties": {}
    },
    "GoogleAnalyticsAdminV1betaProvisionAccountTicketResponse": {
      "properties": {
        "accountTicketId": {
          "description": "The param to be passed in the ToS link.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaProvisionAccountTicketResponse",
      "description": "Response message for ProvisionAccountTicket RPC."
    },
    "GoogleAnalyticsAdminV1betaAccessQuota": {
      "description": "Current state of all quotas for this Analytics property. If any quota for a property is exhausted, all requests to that property will return Resource Exhausted errors.",
      "id": "GoogleAnalyticsAdminV1betaAccessQuota",
      "properties": {
        "serverErrorsPerProjectPerHour": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessQuotaStatus",
          "description": "Properties and cloud project pairs can have up to 50 server errors per hour."
        },
        "tokensPerDay": {
          "description": "Properties can use 250,000 tokens per day. Most requests consume fewer than 10 tokens.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessQuotaStatus"
        },
        "tokensPerHour": {
          "description": "Properties can use 50,000 tokens per hour. An API request consumes a single number of tokens, and that number is deducted from all of the hourly, daily, and per project hourly quotas.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessQuotaStatus"
        },
        "concurrentRequests": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessQuotaStatus",
          "description": "Properties can use up to 50 concurrent requests."
        },
        "tokensPerProjectPerHour": {
          "description": "Properties can use up to 25% of their tokens per project per hour. This amounts to Analytics 360 Properties can use 12,500 tokens per project per hour. An API request consumes a single number of tokens, and that number is deducted from all of the hourly, daily, and per project hourly quotas.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessQuotaStatus"
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaAccessFilterExpression": {
      "id": "GoogleAnalyticsAdminV1betaAccessFilterExpression",
      "type": "object",
      "description": "Expresses dimension or metric filters. The fields in the same expression need to be either all dimensions or all metrics.",
      "properties": {
        "andGroup": {
          "description": "Each of the FilterExpressions in the and_group has an AND relationship.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilterExpressionList"
        },
        "orGroup": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilterExpressionList",
          "description": "Each of the FilterExpressions in the or_group has an OR relationship."
        },
        "notExpression": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilterExpression",
          "description": "The FilterExpression is NOT of not_expression."
        },
        "accessFilter": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilter",
          "description": "A primitive filter. In the same FilterExpression, all of the filter's field names need to be either all dimensions or all metrics."
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessFilterExpressionList": {
      "type": "object",
      "properties": {
        "expressions": {
          "description": "A list of filter expressions.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessFilterExpression"
          }
        }
      },
      "description": "A list of filter expressions.",
      "id": "GoogleAnalyticsAdminV1betaAccessFilterExpressionList"
    },
    "GoogleAnalyticsAdminV1betaListDataStreamsResponse": {
      "description": "Response message for ListDataStreams RPC.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaListDataStreamsResponse",
      "properties": {
        "dataStreams": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaDataStream"
          },
          "type": "array",
          "description": "List of DataStreams."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaCustomMetric": {
      "id": "GoogleAnalyticsAdminV1betaCustomMetric",
      "type": "object",
      "description": "A definition for a custom metric.",
      "properties": {
        "scope": {
          "type": "string",
          "enum": [
            "METRIC_SCOPE_UNSPECIFIED",
            "EVENT"
          ],
          "enumDescriptions": [
            "Scope unknown or not specified.",
            "Metric scoped to an event."
          ],
          "description": "Required. Immutable. The scope of this custom metric."
        },
        "displayName": {
          "description": "Required. Display name for this custom metric as shown in the Analytics UI. Max length of 82 characters, alphanumeric plus space and underscore starting with a letter. Legacy system-generated display names may contain square brackets, but updates to this field will never permit square brackets.",
          "type": "string"
        },
        "measurementUnit": {
          "enumDescriptions": [
            "MeasurementUnit unspecified or missing.",
            "This metric uses default units.",
            "This metric measures a currency.",
            "This metric measures feet.",
            "This metric measures meters.",
            "This metric measures kilometers.",
            "This metric measures miles.",
            "This metric measures milliseconds.",
            "This metric measures seconds.",
            "This metric measures minutes.",
            "This metric measures hours."
          ],
          "type": "string",
          "enum": [
            "MEASUREMENT_UNIT_UNSPECIFIED",
            "STANDARD",
            "CURRENCY",
            "FEET",
            "METERS",
            "KILOMETERS",
            "MILES",
            "MILLISECONDS",
            "SECONDS",
            "MINUTES",
            "HOURS"
          ],
          "description": "Required. The type for the custom metric's value."
        },
        "name": {
          "description": "Output only. Resource name for this CustomMetric resource. Format: properties/{property}/customMetrics/{customMetric}",
          "readOnly": true,
          "type": "string"
        },
        "parameterName": {
          "type": "string",
          "description": "Required. Immutable. Tagging name for this custom metric. If this is an event-scoped metric, then this is the event parameter name. May only contain alphanumeric and underscore charactes, starting with a letter. Max length of 40 characters for event-scoped metrics."
        },
        "restrictedMetricType": {
          "type": "array",
          "items": {
            "enum": [
              "RESTRICTED_METRIC_TYPE_UNSPECIFIED",
              "COST_DATA",
              "REVENUE_DATA"
            ],
            "type": "string",
            "enumDescriptions": [
              "Type unknown or unspecified.",
              "Metric reports cost data.",
              "Metric reports revenue data."
            ]
          },
          "description": "Optional. Types of restricted data that this metric may contain. Required for metrics with CURRENCY measurement unit. Must be empty for metrics with a non-CURRENCY measurement unit."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description for this custom dimension. Max length of 150 characters."
        }
      }
    },
    "GoogleAnalyticsAdminV1betaRunAccessReportRequest": {
      "id": "GoogleAnalyticsAdminV1betaRunAccessReportRequest",
      "type": "object",
      "description": "The request for a Data Access Record Report.",
      "properties": {
        "metricFilter": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilterExpression",
          "description": "Metric filters allow you to restrict report response to specific metric values which match the filter. Metric filters are applied after aggregating the report's rows, similar to SQL having-clause. Dimensions cannot be used in this filter."
        },
        "timeZone": {
          "type": "string",
          "description": "This request's time zone if specified. If unspecified, the property's time zone is used. The request's time zone is used to interpret the start & end dates of the report. Formatted as strings from the IANA Time Zone database (https://www.iana.org/time-zones); for example \"America/New_York\" or \"Asia/Tokyo\"."
        },
        "orderBys": {
          "description": "Specifies how rows are ordered in the response.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessOrderBy"
          }
        },
        "returnEntityQuota": {
          "type": "boolean",
          "description": "Toggles whether to return the current state of this Analytics Property's quota. Quota is returned in [AccessQuota](#AccessQuota). For account-level requests, this field must be false."
        },
        "dateRanges": {
          "description": "Date ranges of access records to read. If multiple date ranges are requested, each response row will contain a zero based date range index. If two date ranges overlap, the access records for the overlapping days is included in the response rows for both date ranges. Requests are allowed up to 2 date ranges.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessDateRange"
          },
          "type": "array"
        },
        "offset": {
          "format": "int64",
          "type": "string",
          "description": "The row count of the start row. The first row is counted as row 0. If offset is unspecified, it is treated as 0. If offset is zero, then this method will return the first page of results with `limit` entries. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination)."
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessMetric"
          },
          "description": "The metrics requested and displayed in the response. Requests are allowed up to 10 metrics."
        },
        "dimensionFilter": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilterExpression",
          "description": "Dimension filters let you restrict report response to specific dimension values which match the filter. For example, filtering on access records of a single user. To learn more, see [Fundamentals of Dimension Filters](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#dimension_filters) for examples. Metrics cannot be used in this filter."
        },
        "dimensions": {
          "type": "array",
          "description": "The dimensions requested and displayed in the response. Requests are allowed up to 9 dimensions.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessDimension"
          }
        },
        "limit": {
          "format": "int64",
          "description": "The number of rows to return. If unspecified, 10,000 rows are returned. The API returns a maximum of 100,000 rows per request, no matter how many you ask for. `limit` must be positive. The API may return fewer rows than the requested `limit`, if there aren't as many remaining rows as the `limit`. For instance, there are fewer than 300 possible values for the dimension `country`, so when reporting on only `country`, you can't get more than 300 rows, even if you set `limit` to a higher value. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination).",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaProperty": {
      "description": "A resource message representing a Google Analytics GA4 property.",
      "id": "GoogleAnalyticsAdminV1betaProperty",
      "type": "object",
      "properties": {
        "parent": {
          "description": "Immutable. Resource name of this property's logical parent. Note: The Property-Moving UI can be used to change the parent. Format: accounts/{account}, properties/{property} Example: \"accounts/100\", \"properties/101\"",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Time when the entity was originally created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "propertyType": {
          "type": "string",
          "description": "Immutable. The property type for this Property resource. When creating a property, if the type is \"PROPERTY_TYPE_UNSPECIFIED\", then \"ORDINARY_PROPERTY\" will be implied.",
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary GA4 property",
            "GA4 subproperty",
            "GA4 rollup property"
          ],
          "enum": [
            "PROPERTY_TYPE_UNSPECIFIED",
            "PROPERTY_TYPE_ORDINARY",
            "PROPERTY_TYPE_SUBPROPERTY",
            "PROPERTY_TYPE_ROLLUP"
          ]
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Output only. If set, the time at which this trashed property will be permanently deleted. If not set, then this property is not currently in the trash can and is not slated to be deleted.",
          "type": "string",
          "readOnly": true
        },
        "serviceLevel": {
          "description": "Output only. The Google Analytics service level that applies to this property.",
          "enumDescriptions": [
            "Service level not specified or invalid.",
            "The standard version of Google Analytics.",
            "The paid, premium version of Google Analytics."
          ],
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "GOOGLE_ANALYTICS_STANDARD",
            "GOOGLE_ANALYTICS_360"
          ],
          "readOnly": true,
          "type": "string"
        },
        "timeZone": {
          "type": "string",
          "description": "Required. Reporting Time Zone, used as the day boundary for reports, regardless of where the data originates. If the time zone honors DST, Analytics will automatically adjust for the changes. NOTE: Changing the time zone only affects data going forward, and is not applied retroactively. Format: https://www.iana.org/time-zones Example: \"America/Los_Angeles\""
        },
        "industryCategory": {
          "description": "Industry associated with this property Example: AUTOMOTIVE, FOOD_AND_DRINK",
          "enum": [
            "INDUSTRY_CATEGORY_UNSPECIFIED",
            "AUTOMOTIVE",
            "BUSINESS_AND_INDUSTRIAL_MARKETS",
            "FINANCE",
            "HEALTHCARE",
            "TECHNOLOGY",
            "TRAVEL",
            "OTHER",
            "ARTS_AND_ENTERTAINMENT",
            "BEAUTY_AND_FITNESS",
            "BOOKS_AND_LITERATURE",
            "FOOD_AND_DRINK",
            "GAMES",
            "HOBBIES_AND_LEISURE",
            "HOME_AND_GARDEN",
            "INTERNET_AND_TELECOM",
            "LAW_AND_GOVERNMENT",
            "NEWS",
            "ONLINE_COMMUNITIES",
            "PEOPLE_AND_SOCIETY",
            "PETS_AND_ANIMALS",
            "REAL_ESTATE",
            "REFERENCE",
            "SCIENCE",
            "SPORTS",
            "JOBS_AND_EDUCATION",
            "SHOPPING"
          ],
          "enumDescriptions": [
            "Industry category unspecified",
            "Automotive",
            "Business and industrial markets",
            "Finance",
            "Healthcare",
            "Technology",
            "Travel",
            "Other",
            "Arts and entertainment",
            "Beauty and fitness",
            "Books and literature",
            "Food and drink",
            "Games",
            "Hobbies and leisure",
            "Home and garden",
            "Internet and telecom",
            "Law and government",
            "News",
            "Online communities",
            "People and society",
            "Pets and animals",
            "Real estate",
            "Reference",
            "Science",
            "Sports",
            "Jobs and education",
            "Shopping"
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of this property. Format: properties/{property_id} Example: \"properties/1000\""
        },
        "account": {
          "description": "Immutable. The resource name of the parent account Format: accounts/{account_id} Example: \"accounts/123\"",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Human-readable display name for this property. The max allowed display name length is 100 UTF-16 code units."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when entity payload fields were last updated."
        },
        "deleteTime": {
          "description": "Output only. If set, the time at which this property was trashed. If not set, then this property is not currently in the trash can.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "currencyCode": {
          "description": "The currency type used in reports involving monetary values. Format: https://en.wikipedia.org/wiki/ISO_4217 Examples: \"USD\", \"EUR\", \"JPY\"",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessInListFilter": {
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "description": "The list of string values. Must be non-empty.",
          "type": "array"
        },
        "caseSensitive": {
          "description": "If true, the string value is case sensitive.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "The result needs to be in a list of string values.",
      "id": "GoogleAnalyticsAdminV1betaAccessInListFilter"
    },
    "GoogleAnalyticsAdminV1betaChangeHistoryChange": {
      "description": "A description of a change to a single Google Analytics resource.",
      "properties": {
        "resourceAfterChange": {
          "$ref": "GoogleAnalyticsAdminV1betaChangeHistoryChangeChangeHistoryResource",
          "description": "Resource contents from after the change was made. If this resource was deleted in this change, this field will be missing."
        },
        "action": {
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "CREATED",
            "UPDATED",
            "DELETED"
          ],
          "enumDescriptions": [
            "Action type unknown or not specified.",
            "Resource was created in this change.",
            "Resource was updated in this change.",
            "Resource was deleted in this change."
          ],
          "description": "The type of action that changed this resource.",
          "type": "string"
        },
        "resource": {
          "description": "Resource name of the resource whose changes are described by this entry.",
          "type": "string"
        },
        "resourceBeforeChange": {
          "$ref": "GoogleAnalyticsAdminV1betaChangeHistoryChangeChangeHistoryResource",
          "description": "Resource contents from before the change was made. If this resource was created in this change, this field will be missing."
        }
      },
      "id": "GoogleAnalyticsAdminV1betaChangeHistoryChange",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaAccessOrderByDimensionOrderBy": {
      "properties": {
        "orderType": {
          "enum": [
            "ORDER_TYPE_UNSPECIFIED",
            "ALPHANUMERIC",
            "CASE_INSENSITIVE_ALPHANUMERIC",
            "NUMERIC"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Alphanumeric sort by Unicode code point. For example, \"2\" \u003c \"A\" \u003c \"X\" \u003c \"b\" \u003c \"z\".",
            "Case insensitive alphanumeric sort by lower case Unicode code point. For example, \"2\" \u003c \"A\" \u003c \"b\" \u003c \"X\" \u003c \"z\".",
            "Dimension values are converted to numbers before sorting. For example in NUMERIC sort, \"25\" \u003c \"100\", and in `ALPHANUMERIC` sort, \"100\" \u003c \"25\". Non-numeric dimension values all have equal ordering value below all numeric values."
          ],
          "description": "Controls the rule for dimension value ordering."
        },
        "dimensionName": {
          "type": "string",
          "description": "A dimension name in the request to order by."
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaAccessOrderByDimensionOrderBy",
      "description": "Sorts by dimension values."
    },
    "GoogleAnalyticsAdminV1betaDataStreamAndroidAppStreamData": {
      "properties": {
        "firebaseAppId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ID of the corresponding Android app in Firebase, if any. This ID can change if the Android app is deleted and recreated."
        },
        "packageName": {
          "type": "string",
          "description": "Immutable. The package name for the app being measured. Example: \"com.example.myandroidapp\""
        }
      },
      "id": "GoogleAnalyticsAdminV1betaDataStreamAndroidAppStreamData",
      "description": "Data specific to Android app streams.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaConversionEvent": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaConversionEvent",
      "properties": {
        "custom": {
          "readOnly": true,
          "description": "Output only. If set to true, this conversion event refers to a custom event. If set to false, this conversion event refers to a default event in GA. Default events typically have special meaning in GA. Default events are usually created for you by the GA system, but in some cases can be created by property admins. Custom events count towards the maximum number of custom conversion events that may be created per property.",
          "type": "boolean"
        },
        "countingMethod": {
          "enumDescriptions": [
            "Counting method not specified.",
            "Each Event instance is considered a Conversion.",
            "An Event instance is considered a Conversion at most once per session per user."
          ],
          "description": "Optional. The method by which conversions will be counted across multiple events within a session. If this value is not provided, it will be set to `ONCE_PER_EVENT`.",
          "type": "string",
          "enum": [
            "CONVERSION_COUNTING_METHOD_UNSPECIFIED",
            "ONCE_PER_EVENT",
            "ONCE_PER_SESSION"
          ]
        },
        "deletable": {
          "description": "Output only. If set, this event can currently be deleted with DeleteConversionEvent.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time when this conversion event was created in the property.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of this conversion event. Format: properties/{property}/conversionEvents/{conversion_event}"
        },
        "eventName": {
          "type": "string",
          "description": "Immutable. The event name for this conversion event. Examples: 'click', 'purchase'"
        }
      },
      "description": "A conversion event in a Google Analytics property."
    },
    "GoogleAnalyticsAdminV1betaAccessQuotaStatus": {
      "properties": {
        "remaining": {
          "type": "integer",
          "format": "int32",
          "description": "Quota remaining after this request."
        },
        "consumed": {
          "description": "Quota consumed by this request.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAccessQuotaStatus",
      "type": "object",
      "description": "Current state for a particular quota group."
    },
    "GoogleAnalyticsAdminV1betaCustomDimension": {
      "properties": {
        "description": {
          "description": "Optional. Description for this custom dimension. Max length of 150 characters.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Display name for this custom dimension as shown in the Analytics UI. Max length of 82 characters, alphanumeric plus space and underscore starting with a letter. Legacy system-generated display names may contain square brackets, but updates to this field will never permit square brackets.",
          "type": "string"
        },
        "scope": {
          "description": "Required. Immutable. The scope of this dimension.",
          "type": "string",
          "enum": [
            "DIMENSION_SCOPE_UNSPECIFIED",
            "EVENT",
            "USER",
            "ITEM"
          ],
          "enumDescriptions": [
            "Scope unknown or not specified.",
            "Dimension scoped to an event.",
            "Dimension scoped to a user.",
            "Dimension scoped to eCommerce items"
          ]
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name for this CustomDimension resource. Format: properties/{property}/customDimensions/{customDimension}",
          "readOnly": true
        },
        "parameterName": {
          "type": "string",
          "description": "Required. Immutable. Tagging parameter name for this custom dimension. If this is a user-scoped dimension, then this is the user property name. If this is an event-scoped dimension, then this is the event parameter name. If this is an item-scoped dimension, then this is the parameter name found in the eCommerce items array. May only contain alphanumeric and underscore characters, starting with a letter. Max length of 24 characters for user-scoped dimensions, 40 characters for event-scoped dimensions."
        },
        "disallowAdsPersonalization": {
          "description": "Optional. If set to true, sets this dimension as NPA and excludes it from ads personalization. This is currently only supported by user-scoped custom dimensions.",
          "type": "boolean"
        }
      },
      "description": "A definition for a CustomDimension.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaCustomDimension"
    },
    "GoogleAnalyticsAdminV1betaFirebaseLink": {
      "description": "A link between a GA4 property and a Firebase project.",
      "properties": {
        "project": {
          "description": "Immutable. Firebase project resource name. When creating a FirebaseLink, you may provide this resource name using either a project number or project ID. Once this resource has been created, returned FirebaseLinks will always have a project_name that contains a project number. Format: 'projects/{project number}' Example: 'projects/1234'",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Example format: properties/1234/firebaseLinks/5678"
        },
        "createTime": {
          "description": "Output only. Time when this FirebaseLink was originally created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaFirebaseLink",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaListAccountsResponse": {
      "properties": {
        "accounts": {
          "description": "Results that were accessible to the caller.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccount"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaListAccountsResponse",
      "description": "Request message for ListAccounts RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaListMeasurementProtocolSecretsResponse": {
      "properties": {
        "measurementProtocolSecrets": {
          "description": "A list of secrets for the parent stream specified in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for ListMeasurementProtocolSecret RPC",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaListMeasurementProtocolSecretsResponse"
    },
    "GoogleAnalyticsAdminV1betaListConversionEventsResponse": {
      "id": "GoogleAnalyticsAdminV1betaListConversionEventsResponse",
      "description": "Response message for ListConversionEvents RPC.",
      "properties": {
        "conversionEvents": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaConversionEvent"
          },
          "type": "array",
          "description": "The requested conversion events"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaListCustomMetricsResponse": {
      "properties": {
        "customMetrics": {
          "description": "List of CustomMetrics.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaCustomMetric"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for ListCustomMetrics RPC.",
      "id": "GoogleAnalyticsAdminV1betaListCustomMetricsResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaAccessMetric": {
      "type": "object",
      "properties": {
        "metricName": {
          "type": "string",
          "description": "The API name of the metric. See [Data Access Schema](https://developers.google.com/analytics/devguides/config/admin/v1/access-api-schema) for the list of metrics supported in this API. Metrics are referenced by name in `metricFilter` & `orderBys`."
        }
      },
      "description": "The quantitative measurements of a report. For example, the metric `accessCount` is the total number of data access records.",
      "id": "GoogleAnalyticsAdminV1betaAccessMetric"
    },
    "GoogleAnalyticsAdminV1betaAccessDateRange": {
      "type": "object",
      "properties": {
        "startDate": {
          "description": "The inclusive start date for the query in the format `YYYY-MM-DD`. Cannot be after `endDate`. The format `NdaysAgo`, `yesterday`, or `today` is also accepted, and in that case, the date is inferred based on the current time in the request's time zone.",
          "type": "string"
        },
        "endDate": {
          "description": "The inclusive end date for the query in the format `YYYY-MM-DD`. Cannot be before `startDate`. The format `NdaysAgo`, `yesterday`, or `today` is also accepted, and in that case, the date is inferred based on the current time in the request's time zone.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAccessDateRange",
      "description": "A contiguous range of days: startDate, startDate + 1, ..., endDate."
    },
    "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret": {
      "type": "object",
      "properties": {
        "secretValue": {
          "description": "Output only. The measurement protocol secret value. Pass this value to the api_secret field of the Measurement Protocol API when sending hits to this secret's parent property.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Human-readable display name for this secret."
        },
        "name": {
          "description": "Output only. Resource name of this secret. This secret may be a child of any type of stream. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A secret value used for sending hits to Measurement Protocol.",
      "id": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
    },
    "GoogleAnalyticsAdminV1betaDataStreamWebStreamData": {
      "type": "object",
      "description": "Data specific to web streams.",
      "properties": {
        "firebaseAppId": {
          "description": "Output only. ID of the corresponding web app in Firebase, if any. This ID can change if the web app is deleted and recreated.",
          "type": "string",
          "readOnly": true
        },
        "measurementId": {
          "description": "Output only. Analytics Measurement ID. Example: \"G-1A2BCD345E\"",
          "type": "string",
          "readOnly": true
        },
        "defaultUri": {
          "description": "Domain name of the web app being measured, or empty. Example: \"http://www.google.com\", \"https://www.google.com\"",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaDataStreamWebStreamData"
    },
    "GoogleAnalyticsAdminV1betaProvisionAccountTicketRequest": {
      "properties": {
        "redirectUri": {
          "description": "Redirect URI where the user will be sent after accepting Terms of Service. Must be configured in Cloud Console as a Redirect URI.",
          "type": "string"
        },
        "account": {
          "$ref": "GoogleAnalyticsAdminV1betaAccount",
          "description": "The account to create."
        }
      },
      "description": "Request message for ProvisionAccountTicket RPC.",
      "id": "GoogleAnalyticsAdminV1betaProvisionAccountTicketRequest",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaAccountSummary": {
      "properties": {
        "account": {
          "description": "Resource name of account referred to by this account summary Format: accounts/{account_id} Example: \"accounts/1000\"",
          "type": "string"
        },
        "propertySummaries": {
          "type": "array",
          "description": "List of summaries for child accounts of this account.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaPropertySummary"
          }
        },
        "name": {
          "description": "Resource name for this account summary. Format: accountSummaries/{account_id} Example: \"accountSummaries/1000\"",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Display name for the account referred to in this account summary."
        }
      },
      "type": "object",
      "description": "A virtual resource representing an overview of an account and all its child GA4 properties.",
      "id": "GoogleAnalyticsAdminV1betaAccountSummary"
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaListGoogleAdsLinksResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "googleAdsLinks": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaGoogleAdsLink"
          },
          "description": "List of GoogleAdsLinks.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaListGoogleAdsLinksResponse",
      "description": "Response message for ListGoogleAdsLinks RPC."
    },
    "GoogleAnalyticsAdminV1betaListCustomDimensionsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "customDimensions": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaCustomDimension"
          },
          "type": "array",
          "description": "List of CustomDimensions."
        }
      },
      "id": "GoogleAnalyticsAdminV1betaListCustomDimensionsResponse",
      "type": "object",
      "description": "Response message for ListCustomDimensions RPC."
    },
    "GoogleAnalyticsAdminV1betaPropertySummary": {
      "id": "GoogleAnalyticsAdminV1betaPropertySummary",
      "properties": {
        "parent": {
          "description": "Resource name of this property's logical parent. Note: The Property-Moving UI can be used to change the parent. Format: accounts/{account}, properties/{property} Example: \"accounts/100\", \"properties/200\"",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Display name for the property referred to in this property summary."
        },
        "propertyType": {
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary GA4 property",
            "GA4 subproperty",
            "GA4 rollup property"
          ],
          "description": "The property's property type.",
          "enum": [
            "PROPERTY_TYPE_UNSPECIFIED",
            "PROPERTY_TYPE_ORDINARY",
            "PROPERTY_TYPE_SUBPROPERTY",
            "PROPERTY_TYPE_ROLLUP"
          ],
          "type": "string"
        },
        "property": {
          "type": "string",
          "description": "Resource name of property referred to by this property summary Format: properties/{property_id} Example: \"properties/1000\""
        }
      },
      "description": "A virtual resource representing metadata for a GA4 property.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaDataSharingSettings": {
      "id": "GoogleAnalyticsAdminV1betaDataSharingSettings",
      "type": "object",
      "description": "A resource message representing data sharing settings of a Google Analytics account.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Resource name. Format: accounts/{account}/dataSharingSettings Example: \"accounts/1000/dataSharingSettings\"",
          "readOnly": true
        },
        "sharingWithGoogleSupportEnabled": {
          "description": "Allows Google support to access the data in order to help troubleshoot issues.",
          "type": "boolean"
        },
        "sharingWithGoogleProductsEnabled": {
          "type": "boolean",
          "description": "Allows Google to use the data to improve other Google products or services."
        },
        "sharingWithGoogleAssignedSalesEnabled": {
          "type": "boolean",
          "description": "Allows Google sales teams that are assigned to the customer to access the data in order to suggest configuration changes to improve results. Sales team restrictions still apply when enabled."
        },
        "sharingWithOthersEnabled": {
          "type": "boolean",
          "description": "Allows Google to share the data anonymously in aggregate form with others."
        },
        "sharingWithGoogleAnySalesEnabled": {
          "type": "boolean",
          "description": "Allows any of Google sales to access the data in order to suggest configuration changes to improve results."
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionResponse": {
      "type": "object",
      "description": "Response message for AcknowledgeUserDataCollection RPC.",
      "id": "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionResponse",
      "properties": {}
    },
    "GoogleAnalyticsAdminV1betaListAccountSummariesResponse": {
      "id": "GoogleAnalyticsAdminV1betaListAccountSummariesResponse",
      "type": "object",
      "description": "Response message for ListAccountSummaries RPC.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "accountSummaries": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccountSummary"
          },
          "type": "array",
          "description": "Account summaries of all accounts the caller has access to."
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessFilter": {
      "properties": {
        "stringFilter": {
          "description": "Strings related filter.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessStringFilter"
        },
        "numericFilter": {
          "description": "A filter for numeric or date values.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessNumericFilter"
        },
        "fieldName": {
          "type": "string",
          "description": "The dimension name or metric name."
        },
        "betweenFilter": {
          "description": "A filter for two values.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessBetweenFilter"
        },
        "inListFilter": {
          "description": "A filter for in list values.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessInListFilter"
        }
      },
      "type": "object",
      "description": "An expression to filter dimension or metric values.",
      "id": "GoogleAnalyticsAdminV1betaAccessFilter"
    },
    "GoogleAnalyticsAdminV1betaAccessDimension": {
      "properties": {
        "dimensionName": {
          "type": "string",
          "description": "The API name of the dimension. See [Data Access Schema](https://developers.google.com/analytics/devguides/config/admin/v1/access-api-schema) for the list of dimensions supported in this API. Dimensions are referenced by name in `dimensionFilter` and `orderBys`."
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAccessDimension",
      "type": "object",
      "description": "Dimensions are attributes of your data. For example, the dimension `userEmail` indicates the email of the user that accessed reporting data. Dimension values in report responses are strings."
    },
    "GoogleAnalyticsAdminV1betaAccessMetricValue": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaAccessMetricValue",
      "description": "The value of a metric.",
      "properties": {
        "value": {
          "type": "string",
          "description": "The measurement value. For example, this value may be '13'."
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessNumericFilter": {
      "properties": {
        "value": {
          "$ref": "GoogleAnalyticsAdminV1betaNumericValue",
          "description": "A numeric value or a date value."
        },
        "operation": {
          "description": "The operation type for this filter.",
          "enumDescriptions": [
            "Unspecified.",
            "Equal",
            "Less than",
            "Less than or equal",
            "Greater than",
            "Greater than or equal"
          ],
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "EQUAL",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL"
          ]
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaAccessNumericFilter",
      "description": "Filters for numeric or date values."
    },
    "GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsRequest": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsRequest",
      "description": "Request message for SearchChangeHistoryEvents RPC.",
      "properties": {
        "earliestChangeTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. If set, only return changes made after this time (inclusive)."
        },
        "actorEmail": {
          "type": "array",
          "description": "Optional. If set, only return changes if they are made by a user in this list.",
          "items": {
            "type": "string"
          }
        },
        "property": {
          "type": "string",
          "description": "Optional. Resource name for a child property. If set, only return changes made to this property or its child resources."
        },
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The maximum number of ChangeHistoryEvent items to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 items will be returned. The maximum value is 200 (higher values will be coerced to the maximum)."
        },
        "action": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Action type unknown or not specified.",
              "Resource was created in this change.",
              "Resource was updated in this change.",
              "Resource was deleted in this change."
            ],
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "CREATED",
              "UPDATED",
              "DELETED"
            ],
            "type": "string"
          },
          "description": "Optional. If set, only return changes that match one or more of these types of actions."
        },
        "latestChangeTime": {
          "type": "string",
          "description": "Optional. If set, only return changes made before this time (inclusive).",
          "format": "google-datetime"
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. A page token, received from a previous `SearchChangeHistoryEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchChangeHistoryEvents` must match the call that provided the page token."
        },
        "resourceType": {
          "description": "Optional. If set, only return changes if they are for a resource that matches at least one of these types.",
          "items": {
            "enumDescriptions": [
              "Resource type unknown or not specified.",
              "Account resource",
              "Property resource",
              "FirebaseLink resource",
              "GoogleAdsLink resource",
              "GoogleSignalsSettings resource",
              "ConversionEvent resource",
              "MeasurementProtocolSecret resource",
              "DataRetentionSettings resource",
              "DisplayVideo360AdvertiserLink resource",
              "DisplayVideo360AdvertiserLinkProposal resource",
              "DataStream resource",
              "AttributionSettings resource"
            ],
            "type": "string",
            "enum": [
              "CHANGE_HISTORY_RESOURCE_TYPE_UNSPECIFIED",
              "ACCOUNT",
              "PROPERTY",
              "FIREBASE_LINK",
              "GOOGLE_ADS_LINK",
              "GOOGLE_SIGNALS_SETTINGS",
              "CONVERSION_EVENT",
              "MEASUREMENT_PROTOCOL_SECRET",
              "DATA_RETENTION_SETTINGS",
              "DISPLAY_VIDEO_360_ADVERTISER_LINK",
              "DISPLAY_VIDEO_360_ADVERTISER_LINK_PROPOSAL",
              "DATA_STREAM",
              "ATTRIBUTION_SETTINGS"
            ]
          },
          "type": "array"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessDimensionHeader": {
      "type": "object",
      "description": "Describes a dimension column in the report. Dimensions requested in a report produce column entries within rows and DimensionHeaders. However, dimensions used exclusively within filters or expressions do not produce columns in a report; correspondingly, those dimensions do not produce headers.",
      "id": "GoogleAnalyticsAdminV1betaAccessDimensionHeader",
      "properties": {
        "dimensionName": {
          "type": "string",
          "description": "The dimension's name; for example 'userEmail'."
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessDimensionValue": {
      "id": "GoogleAnalyticsAdminV1betaAccessDimensionValue",
      "properties": {
        "value": {
          "description": "The dimension value. For example, this value may be 'France' for the 'country' dimension.",
          "type": "string"
        }
      },
      "description": "The value of a dimension.",
      "type": "object"
    }
  },
  "canonicalName": "Google Analytics Admin",
  "fullyEncodeReservedExpansion": true,
  "version": "v1beta",
  "resources": {
    "accounts": {
      "methods": {
        "get": {
          "flatPath": "v1beta/accounts/{accountsId}",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaAccount"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "path": "v1beta/{+name}",
          "id": "analyticsadmin.accounts.get",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^accounts/[^/]+$",
              "description": "Required. The name of the account to lookup. Format: accounts/{account} Example: \"accounts/100\"",
              "required": true,
              "location": "path"
            }
          },
          "description": "Lookup for a single Account."
        },
        "getDataSharingSettings": {
          "flatPath": "v1beta/accounts/{accountsId}/dataSharingSettings",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaDataSharingSettings"
          },
          "id": "analyticsadmin.accounts.getDataSharingSettings",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. The name of the settings to lookup. Format: accounts/{account}/dataSharingSettings Example: \"accounts/1000/dataSharingSettings\"",
              "pattern": "^accounts/[^/]+/dataSharingSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "description": "Get data sharing settings on an account. Data sharing settings are singletons.",
          "path": "v1beta/{+name}"
        },
        "searchChangeHistoryEvents": {
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsRequest"
          },
          "parameterOrder": [
            "account"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "httpMethod": "POST",
          "flatPath": "v1beta/accounts/{accountsId}:searchChangeHistoryEvents",
          "path": "v1beta/{+account}:searchChangeHistoryEvents",
          "parameters": {
            "account": {
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The account resource for which to return change history resources."
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsResponse"
          },
          "id": "analyticsadmin.accounts.searchChangeHistoryEvents",
          "description": "Searches through all changes to an account or its children given the specified set of filters."
        },
        "provisionAccountTicket": {
          "parameters": {},
          "parameterOrder": [],
          "description": "Requests a ticket for creating an account.",
          "id": "analyticsadmin.accounts.provisionAccountTicket",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaProvisionAccountTicketResponse"
          },
          "flatPath": "v1beta/accounts:provisionAccountTicket",
          "path": "v1beta/accounts:provisionAccountTicket",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaProvisionAccountTicketRequest"
          }
        },
        "list": {
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaListAccountsResponse"
          },
          "flatPath": "v1beta/accounts",
          "parameterOrder": [],
          "httpMethod": "GET",
          "path": "v1beta/accounts",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "description": "Returns all accounts accessible by the caller. Note that these accounts might not currently have GA4 properties. Soft-deleted (ie: \"trashed\") accounts are excluded by default. Returns an empty list if no relevant accounts are found.",
          "id": "analyticsadmin.accounts.list",
          "parameters": {
            "pageToken": {
              "description": "A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccounts` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            },
            "showDeleted": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to include soft-deleted (ie: \"trashed\") Accounts in the results. Accounts can be inspected to determine whether they are deleted or not."
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)"
            }
          }
        },
        "delete": {
          "description": "Marks target Account as soft-deleted (ie: \"trashed\") and returns it. This API does not have a method to restore soft-deleted accounts. However, they can be restored using the Trash Can UI. If the accounts are not restored before the expiration time, the account and all child resources (eg: Properties, GoogleAdsLinks, Streams, UserLinks) will be permanently purged. https://support.google.com/analytics/answer/6154772 Returns an error if the target is not found.",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "DELETE",
          "flatPath": "v1beta/accounts/{accountsId}",
          "id": "analyticsadmin.accounts.delete",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^accounts/[^/]+$",
              "description": "Required. The name of the Account to soft-delete. Format: accounts/{account} Example: \"accounts/100\"",
              "type": "string",
              "location": "path"
            }
          },
          "path": "v1beta/{+name}"
        },
        "runAccessReport": {
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "parameters": {
            "entity": {
              "type": "string",
              "description": "The Data Access Report supports requesting at the property level or account level. If requested at the account level, Data Access Reports include all access for all properties under that account. To request at the property level, entity should be for example 'properties/123' if \"123\" is your GA4 property ID. To request at the account level, entity should be for example 'accounts/1234' if \"1234\" is your GA4 Account ID.",
              "location": "path",
              "pattern": "^accounts/[^/]+$",
              "required": true
            }
          },
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaRunAccessReportRequest"
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaRunAccessReportResponse"
          },
          "flatPath": "v1beta/accounts/{accountsId}:runAccessReport",
          "path": "v1beta/{+entity}:runAccessReport",
          "httpMethod": "POST",
          "description": "Returns a customized report of data access records. The report provides records of each time a user reads Google Analytics reporting data. Access records are retained for up to 2 years. Data Access Reports can be requested for a property. The property must be in Google Analytics 360. This method is only available to Administrators. These data access records include GA4 UI Reporting, GA4 UI Explorations, GA4 Data API, and other products like Firebase & Admob that can retrieve data from Google Analytics through a linkage. These records don't include property configuration changes like adding a stream or changing a property's time zone. For configuration change history, see [searchChangeHistoryEvents](https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts/searchChangeHistoryEvents).",
          "parameterOrder": [
            "entity"
          ],
          "id": "analyticsadmin.accounts.runAccessReport"
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaAccount"
          },
          "id": "analyticsadmin.accounts.patch",
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "description": "Output only. Resource name of this account. Format: accounts/{account} Example: \"accounts/100\"",
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^accounts/[^/]+$"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "description": "Required. The list of fields to be updated. Field names must be in snake case (for example, \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "type": "string",
              "location": "query"
            }
          },
          "path": "v1beta/{+name}",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta/accounts/{accountsId}",
          "description": "Updates an account.",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaAccount"
          }
        }
      }
    },
    "properties": {
      "methods": {
        "getDataRetentionSettings": {
          "description": "Returns the singleton data retention settings for this property.",
          "flatPath": "v1beta/properties/{propertiesId}/dataRetentionSettings",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaDataRetentionSettings"
          },
          "httpMethod": "GET",
          "path": "v1beta/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "id": "analyticsadmin.properties.getDataRetentionSettings",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^properties/[^/]+/dataRetentionSettings$",
              "location": "path",
              "required": true,
              "description": "Required. The name of the settings to lookup. Format: properties/{property}/dataRetentionSettings Example: \"properties/1000/dataRetentionSettings\""
            }
          }
        },
        "list": {
          "description": "Returns child Properties under the specified parent Account. Only \"GA4\" properties will be returned. Properties will be excluded if the caller does not have access. Soft-deleted (ie: \"trashed\") properties are excluded by default. Returns an empty list if no relevant properties are found.",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaListPropertiesResponse"
          },
          "parameterOrder": [],
          "path": "v1beta/properties",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "parameters": {
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
              "location": "query"
            },
            "showDeleted": {
              "description": "Whether to include soft-deleted (ie: \"trashed\") Properties in the results. Properties can be inspected to determine whether they are deleted or not.",
              "location": "query",
              "type": "boolean"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Required. An expression for filtering the results of the request. Fields eligible for filtering are: `parent:`(The resource name of the parent account/property) or `ancestor:`(The resource name of the parent account) or `firebase_project:`(The id or number of the linked firebase project). Some examples of filters: ``` | Filter | Description | |-----------------------------|-------------------------------------------| | parent:accounts/123 | The account with account id: 123. | | parent:properties/123 | The property with property id: 123. | | ancestor:accounts/123 | The account with account id: 123. | | firebase_project:project-id | The firebase project with id: project-id. | | firebase_project:123 | The firebase project with number: 123. | ```"
            },
            "pageToken": {
              "description": "A page token, received from a previous `ListProperties` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProperties` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "v1beta/properties",
          "id": "analyticsadmin.properties.list",
          "httpMethod": "GET"
        },
        "runAccessReport": {
          "flatPath": "v1beta/properties/{propertiesId}:runAccessReport",
          "description": "Returns a customized report of data access records. The report provides records of each time a user reads Google Analytics reporting data. Access records are retained for up to 2 years. Data Access Reports can be requested for a property. The property must be in Google Analytics 360. This method is only available to Administrators. These data access records include GA4 UI Reporting, GA4 UI Explorations, GA4 Data API, and other products like Firebase & Admob that can retrieve data from Google Analytics through a linkage. These records don't include property configuration changes like adding a stream or changing a property's time zone. For configuration change history, see [searchChangeHistoryEvents](https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts/searchChangeHistoryEvents).",
          "parameterOrder": [
            "entity"
          ],
          "path": "v1beta/{+entity}:runAccessReport",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "id": "analyticsadmin.properties.runAccessReport",
          "parameters": {
            "entity": {
              "pattern": "^properties/[^/]+$",
              "location": "path",
              "description": "The Data Access Report supports requesting at the property level or account level. If requested at the account level, Data Access Reports include all access for all properties under that account. To request at the property level, entity should be for example 'properties/123' if \"123\" is your GA4 property ID. To request at the account level, entity should be for example 'accounts/1234' if \"1234\" is your GA4 Account ID.",
              "type": "string",
              "required": true
            }
          },
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaRunAccessReportRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaRunAccessReportResponse"
          }
        },
        "acknowledgeUserDataCollection": {
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "path": "v1beta/{+property}:acknowledgeUserDataCollection",
          "description": "Acknowledges the terms of user data collection for the specified property. This acknowledgement must be completed (either in the Google Analytics UI or through this API) before MeasurementProtocolSecret resources may be created.",
          "flatPath": "v1beta/properties/{propertiesId}:acknowledgeUserDataCollection",
          "httpMethod": "POST",
          "id": "analyticsadmin.properties.acknowledgeUserDataCollection",
          "parameterOrder": [
            "property"
          ],
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionRequest"
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionResponse"
          },
          "parameters": {
            "property": {
              "type": "string",
              "location": "path",
              "pattern": "^properties/[^/]+$",
              "required": true,
              "description": "Required. The property for which to acknowledge user data collection."
            }
          }
        },
        "get": {
          "parameters": {
            "name": {
              "pattern": "^properties/[^/]+$",
              "required": true,
              "description": "Required. The name of the property to lookup. Format: properties/{property_id} Example: \"properties/1000\"",
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "httpMethod": "GET",
          "path": "v1beta/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "id": "analyticsadmin.properties.get",
          "flatPath": "v1beta/properties/{propertiesId}",
          "description": "Lookup for a single \"GA4\" Property.",
          "parameterOrder": [
            "name"
          ]
        },
        "create": {
          "httpMethod": "POST",
          "flatPath": "v1beta/properties",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "id": "analyticsadmin.properties.create",
          "description": "Creates an \"GA4\" property with the specified location and attributes.",
          "parameterOrder": [],
          "path": "v1beta/properties",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "parameters": {},
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          }
        },
        "delete": {
          "httpMethod": "DELETE",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "description": "Marks target Property as soft-deleted (ie: \"trashed\") and returns it. This API does not have a method to restore soft-deleted properties. However, they can be restored using the Trash Can UI. If the properties are not restored before the expiration time, the Property and all child resources (eg: GoogleAdsLinks, Streams, UserLinks) will be permanently purged. https://support.google.com/analytics/answer/6154772 Returns an error if the target is not found, or is not a GA4 Property.",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta/{+name}",
          "parameters": {
            "name": {
              "pattern": "^properties/[^/]+$",
              "required": true,
              "description": "Required. The name of the Property to soft-delete. Format: properties/{property_id} Example: \"properties/1000\"",
              "location": "path",
              "type": "string"
            }
          },
          "id": "analyticsadmin.properties.delete",
          "flatPath": "v1beta/properties/{propertiesId}"
        },
        "updateDataRetentionSettings": {
          "description": "Updates the singleton data retention settings for this property.",
          "id": "analyticsadmin.properties.updateDataRetentionSettings",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaDataRetentionSettings"
          },
          "flatPath": "v1beta/properties/{propertiesId}/dataRetentionSettings",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaDataRetentionSettings"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "location": "query",
              "type": "string"
            },
            "name": {
              "type": "string",
              "pattern": "^properties/[^/]+/dataRetentionSettings$",
              "required": true,
              "description": "Output only. Resource name for this DataRetentionSetting resource. Format: properties/{property}/dataRetentionSettings",
              "location": "path"
            }
          },
          "path": "v1beta/{+name}"
        },
        "patch": {
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH",
          "id": "analyticsadmin.properties.patch",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "flatPath": "v1beta/properties/{propertiesId}",
          "path": "v1beta/{+name}",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "description": "Updates a property.",
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "type": "string",
[...]
