{
  "documentationLink": "http://code.google.com/apis/analytics/docs/mgmt/home.html",
  "version_module": true,
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "baseUrl": "https://analyticsadmin.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/analytics.readonly": {
          "description": "See and download your Google Analytics data"
        },
        "https://www.googleapis.com/auth/analytics.edit": {
          "description": "Edit Google Analytics management entities"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Google Analytics Admin API",
  "basePath": "",
  "mtlsRootUrl": "https://analyticsadmin.mtls.googleapis.com/",
  "resources": {
    "accountSummaries": {
      "methods": {
        "list": {
          "description": "Returns summaries of all accounts accessible by the caller.",
          "httpMethod": "GET",
          "flatPath": "v1beta/accountSummaries",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "path": "v1beta/accountSummaries",
          "id": "analyticsadmin.accountSummaries.list",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaListAccountSummariesResponse"
          },
          "parameters": {
            "pageSize": {
              "format": "int32",
              "description": "The maximum number of AccountSummary resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "A page token, received from a previous `ListAccountSummaries` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountSummaries` must match the call that provided the page token.",
              "location": "query"
            }
          }
        }
      }
    },
    "properties": {
      "resources": {
        "customDimensions": {
          "methods": {
            "patch": {
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/properties/{propertiesId}/customDimensions/{customDimensionsId}",
              "parameters": {
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "description": "Output only. Resource name for this CustomDimension resource. Format: properties/{property}/customDimensions/{customDimension}",
                  "required": true,
                  "location": "path",
                  "pattern": "^properties/[^/]+/customDimensions/[^/]+$"
                }
              },
              "id": "analyticsadmin.properties.customDimensions.patch",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomDimension"
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomDimension"
              },
              "description": "Updates a CustomDimension on a property."
            },
            "create": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomDimension"
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomDimension"
              },
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Example format: properties/1234"
                }
              },
              "id": "analyticsadmin.properties.customDimensions.create",
              "description": "Creates a CustomDimension.",
              "flatPath": "v1beta/properties/{propertiesId}/customDimensions",
              "path": "v1beta/{+parent}/customDimensions",
              "parameterOrder": [
                "parent"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "id": "analyticsadmin.properties.customDimensions.list",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaListCustomDimensionsResponse"
              },
              "description": "Lists CustomDimensions on a property.",
              "path": "v1beta/{+parent}/customDimensions",
              "flatPath": "v1beta/properties/{propertiesId}/customDimensions",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum)."
                },
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "type": "string",
                  "description": "Required. Example format: properties/1234",
                  "location": "path",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token, received from a previous `ListCustomDimensions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCustomDimensions` must match the call that provided the page token.",
                  "type": "string"
                }
              }
            },
            "archive": {
              "description": "Archives a CustomDimension on a property.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/properties/{propertiesId}/customDimensions/{customDimensionsId}:archive",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaArchiveCustomDimensionRequest"
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1beta/{+name}:archive",
              "httpMethod": "POST",
              "id": "analyticsadmin.properties.customDimensions.archive",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the CustomDimension to archive. Example format: properties/1234/customDimensions/5678",
                  "location": "path",
                  "type": "string",
                  "pattern": "^properties/[^/]+/customDimensions/[^/]+$",
                  "required": true
                }
              }
            },
            "get": {
              "description": "Lookup for a single CustomDimension.",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomDimension"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "flatPath": "v1beta/properties/{propertiesId}/customDimensions/{customDimensionsId}",
              "id": "analyticsadmin.properties.customDimensions.get",
              "path": "v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the CustomDimension to get. Example format: properties/1234/customDimensions/5678",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^properties/[^/]+/customDimensions/[^/]+$"
                }
              }
            }
          }
        },
        "customMetrics": {
          "methods": {
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomMetric"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. Example format: properties/1234",
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "type": "string"
                }
              },
              "id": "analyticsadmin.properties.customMetrics.create",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomMetric"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a CustomMetric.",
              "path": "v1beta/{+parent}/customMetrics",
              "flatPath": "v1beta/properties/{propertiesId}/customMetrics"
            },
            "patch": {
              "description": "Updates a CustomMetric on a property.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomMetric"
              },
              "id": "analyticsadmin.properties.customMetrics.patch",
              "path": "v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomMetric"
              },
              "parameters": {
                "name": {
                  "description": "Output only. Resource name for this CustomMetric resource. Format: properties/{property}/customMetrics/{customMetric}",
                  "pattern": "^properties/[^/]+/customMetrics/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/properties/{propertiesId}/customMetrics/{customMetricsId}",
              "httpMethod": "PATCH"
            },
            "get": {
              "parameters": {
                "name": {
                  "description": "Required. The name of the CustomMetric to get. Example format: properties/1234/customMetrics/5678",
                  "location": "path",
                  "pattern": "^properties/[^/]+/customMetrics/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/properties/{propertiesId}/customMetrics/{customMetricsId}",
              "id": "analyticsadmin.properties.customMetrics.get",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomMetric"
              },
              "path": "v1beta/{+name}",
              "httpMethod": "GET",
              "description": "Lookup for a single CustomMetric."
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta/properties/{propertiesId}/customMetrics",
              "parameters": {
                "parent": {
                  "description": "Required. Example format: properties/1234",
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token, received from a previous `ListCustomMetrics` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCustomMetrics` must match the call that provided the page token.",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaListCustomMetricsResponse"
              },
              "httpMethod": "GET",
              "description": "Lists CustomMetrics on a property.",
              "id": "analyticsadmin.properties.customMetrics.list",
              "path": "v1beta/{+parent}/customMetrics",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "archive": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}:archive",
              "id": "analyticsadmin.properties.customMetrics.archive",
              "httpMethod": "POST",
              "flatPath": "v1beta/properties/{propertiesId}/customMetrics/{customMetricsId}:archive",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Archives a CustomMetric on a property.",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaArchiveCustomMetricRequest"
              },
              "parameters": {
                "name": {
                  "description": "Required. The name of the CustomMetric to archive. Example format: properties/1234/customMetrics/5678",
                  "pattern": "^properties/[^/]+/customMetrics/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              }
            }
          }
        },
        "conversionEvents": {
          "methods": {
            "delete": {
              "id": "analyticsadmin.properties.conversionEvents.delete",
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/properties/{propertiesId}/conversionEvents/{conversionEventsId}",
              "description": "Deletes a conversion event in a property.",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name of the conversion event to delete. Format: properties/{property}/conversionEvents/{conversion_event} Example: \"properties/123/conversionEvents/456\"",
                  "pattern": "^properties/[^/]+/conversionEvents/[^/]+$",
                  "required": true
                }
              }
            },
            "create": {
              "id": "analyticsadmin.properties.conversionEvents.create",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The resource name of the parent property where this conversion event will be created. Format: properties/123",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^properties/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaConversionEvent"
              },
              "path": "v1beta/{+parent}/conversionEvents",
              "flatPath": "v1beta/properties/{propertiesId}/conversionEvents",
              "description": "Creates a conversion event with the specified attributes.",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaConversionEvent"
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The resource name of the conversion event to retrieve. Format: properties/{property}/conversionEvents/{conversion_event} Example: \"properties/123/conversionEvents/456\"",
                  "pattern": "^properties/[^/]+/conversionEvents/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaConversionEvent"
              },
              "id": "analyticsadmin.properties.conversionEvents.get",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/properties/{propertiesId}/conversionEvents/{conversionEventsId}",
              "httpMethod": "GET",
              "description": "Retrieve a single conversion event.",
              "path": "v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token, received from a previous `ListConversionEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListConversionEvents` must match the call that provided the page token."
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
                  "type": "integer"
                },
                "parent": {
                  "description": "Required. The resource name of the parent property. Example: 'properties/123'",
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v1beta/properties/{propertiesId}/conversionEvents",
              "id": "analyticsadmin.properties.conversionEvents.list",
              "description": "Returns a list of conversion events in the specified parent property. Returns an empty list if no conversion events are found.",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/conversionEvents",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaListConversionEventsResponse"
              }
            }
          }
        },
        "googleAdsLinks": {
          "methods": {
            "create": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^properties/[^/]+$",
                  "type": "string",
                  "description": "Required. Example format: properties/1234"
                }
              },
              "id": "analyticsadmin.properties.googleAdsLinks.create",
              "flatPath": "v1beta/properties/{propertiesId}/googleAdsLinks",
              "httpMethod": "POST",
              "path": "v1beta/{+parent}/googleAdsLinks",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaGoogleAdsLink"
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaGoogleAdsLink"
              },
              "description": "Creates a GoogleAdsLink.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "list": {
              "description": "Lists GoogleAdsLinks on a property.",
              "id": "analyticsadmin.properties.googleAdsLinks.list",
              "flatPath": "v1beta/properties/{propertiesId}/googleAdsLinks",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaListGoogleAdsLinksResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum)."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token, received from a previous `ListGoogleAdsLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListGoogleAdsLinks` must match the call that provided the page token."
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^properties/[^/]+$",
                  "type": "string",
                  "description": "Required. Example format: properties/1234"
                }
              },
              "path": "v1beta/{+parent}/googleAdsLinks",
              "httpMethod": "GET"
            },
            "patch": {
              "path": "v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.googleAdsLinks.patch",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "description": "Updates a GoogleAdsLink on a property",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaGoogleAdsLink"
              },
              "flatPath": "v1beta/properties/{propertiesId}/googleAdsLinks/{googleAdsLinksId}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaGoogleAdsLink"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^properties/[^/]+/googleAdsLinks/[^/]+$",
                  "description": "Output only. Format: properties/{propertyId}/googleAdsLinks/{googleAdsLinkId} Note: googleAdsLinkId is not the Google Ads customer ID.",
                  "type": "string",
                  "location": "path"
                },
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              }
            },
            "delete": {
              "path": "v1beta/{+name}",
              "id": "analyticsadmin.properties.googleAdsLinks.delete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes a GoogleAdsLink on a property",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/properties/{propertiesId}/googleAdsLinks/{googleAdsLinksId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/googleAdsLinks/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Example format: properties/1234/googleAdsLinks/5678"
                }
              },
              "httpMethod": "DELETE"
            }
          }
        },
        "dataStreams": {
          "methods": {
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. Example format: properties/1234",
                  "required": true,
                  "location": "path",
                  "pattern": "^properties/[^/]+$"
                }
              },
              "flatPath": "v1beta/properties/{propertiesId}/dataStreams",
              "path": "v1beta/{+parent}/dataStreams",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaDataStream"
              },
              "description": "Creates a DataStream.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaDataStream"
              },
              "id": "analyticsadmin.properties.dataStreams.create"
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.dataStreams.patch",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaDataStream"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Output only. Resource name of this Data Stream. Format: properties/{property_id}/dataStreams/{stream_id} Example: \"properties/1000/dataStreams/2000\"",
                  "pattern": "^properties/[^/]+/dataStreams/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "httpMethod": "PATCH",
              "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}",
              "description": "Updates a DataStream on a property.",
              "path": "v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaDataStream"
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "description": "Required. The name of the DataStream to get. Example format: properties/1234/dataStreams/5678",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^properties/[^/]+/dataStreams/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaDataStream"
              },
              "httpMethod": "GET",
              "path": "v1beta/{+name}",
              "description": "Lookup for a single DataStream.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}",
              "id": "analyticsadmin.properties.dataStreams.get",
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "path": "v1beta/{+name}",
              "id": "analyticsadmin.properties.dataStreams.delete",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the DataStream to delete. Example format: properties/1234/dataStreams/5678",
                  "type": "string",
                  "pattern": "^properties/[^/]+/dataStreams/[^/]+$",
                  "required": true
                }
              },
              "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a DataStream on a property."
            },
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token, received from a previous `ListDataStreams` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDataStreams` must match the call that provided the page token."
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Example format: properties/1234",
                  "type": "string",
                  "pattern": "^properties/[^/]+$"
                }
              },
              "flatPath": "v1beta/properties/{propertiesId}/dataStreams",
              "path": "v1beta/{+parent}/dataStreams",
              "description": "Lists DataStreams on a property.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaListDataStreamsResponse"
              },
              "id": "analyticsadmin.properties.dataStreams.list"
            }
          },
          "resources": {
            "measurementProtocolSecrets": {
              "methods": {
                "patch": {
                  "path": "v1beta/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates a measurement protocol secret.",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Output only. Resource name of this secret. This secret may be a child of any type of stream. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}",
                      "type": "string",
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+/measurementProtocolSecrets/[^/]+$",
                      "required": true
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "The list of fields to be updated. Omitted fields will not be updated."
                    }
                  },
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit"
                  ],
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
                  },
                  "request": {
                    "$ref": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
                  },
                  "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets/{measurementProtocolSecretsId}"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit",
                    "https://www.googleapis.com/auth/analytics.readonly"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the measurement protocol secret to lookup. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}",
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+/measurementProtocolSecrets/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets/{measurementProtocolSecretsId}",
                  "description": "Lookup for a single \"GA4\" MeasurementProtocolSecret.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
                  },
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.get",
                  "path": "v1beta/{+name}"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets/{measurementProtocolSecretsId}",
                  "path": "v1beta/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+/measurementProtocolSecrets/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the MeasurementProtocolSecret to delete. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.delete",
                  "description": "Deletes target MeasurementProtocolSecret."
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent resource where this secret will be created. Format: properties/{property}/dataStreams/{dataStream}"
                    }
                  },
                  "httpMethod": "POST",
                  "path": "v1beta/{+parent}/measurementProtocolSecrets",
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
                  },
                  "request": {
                    "$ref": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
                  },
                  "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets",
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.create",
                  "description": "Creates a measurement protocol secret."
                },
                "list": {
                  "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets",
                  "description": "Returns child MeasurementProtocolSecrets under the specified parent Property.",
                  "path": "v1beta/{+parent}/measurementProtocolSecrets",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1betaListMeasurementProtocolSecretsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit",
                    "https://www.googleapis.com/auth/analytics.readonly"
                  ],
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.list",
                  "parameters": {
                    "parent": {
                      "description": "Required. The resource name of the parent stream. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets",
                      "type": "string",
                      "location": "path",
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+$",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A page token, received from a previous `ListMeasurementProtocolSecrets` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListMeasurementProtocolSecrets` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of resources to return. If unspecified, at most 10 resources will be returned. The maximum value is 10. Higher values will be coerced to the maximum.",
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "firebaseLinks": {
          "methods": {
            "create": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaFirebaseLink"
              },
              "description": "Creates a FirebaseLink. Properties can have at most one FirebaseLink.",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. Format: properties/{property_id} Example: properties/1234",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaFirebaseLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "v1beta/{+parent}/firebaseLinks",
              "id": "analyticsadmin.properties.firebaseLinks.create",
              "flatPath": "v1beta/properties/{propertiesId}/firebaseLinks"
            },
            "list": {
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^properties/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. Format: properties/{property_id} Example: properties/1234"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token, received from a previous `ListFirebaseLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListFirebaseLinks` must match the call that provided the page token.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists FirebaseLinks on a property. Properties can have at most one FirebaseLink.",
              "id": "analyticsadmin.properties.firebaseLinks.list",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaListFirebaseLinksResponse"
              },
              "path": "v1beta/{+parent}/firebaseLinks",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "flatPath": "v1beta/properties/{propertiesId}/firebaseLinks",
              "httpMethod": "GET"
            },
            "delete": {
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.firebaseLinks.delete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a FirebaseLink on a property",
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/firebaseLinks/[^/]+$",
                  "required": true,
                  "description": "Required. Format: properties/{property_id}/firebaseLinks/{firebase_link_id} Example: properties/1234/firebaseLinks/5678",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1beta/properties/{propertiesId}/firebaseLinks/{firebaseLinksId}",
              "path": "v1beta/{+name}"
            }
          }
        }
      },
      "methods": {
        "acknowledgeUserDataCollection": {
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "path": "v1beta/{+property}:acknowledgeUserDataCollection",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionResponse"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "property"
          ],
          "flatPath": "v1beta/properties/{propertiesId}:acknowledgeUserDataCollection",
          "id": "analyticsadmin.properties.acknowledgeUserDataCollection",
          "description": "Acknowledges the terms of user data collection for the specified property. This acknowledgement must be completed (either in the Google Analytics UI or through this API) before MeasurementProtocolSecret resources may be created.",
          "parameters": {
            "property": {
              "pattern": "^properties/[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. The property for which to acknowledge user data collection."
            }
          }
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)"
            },
            "filter": {
              "description": "Required. An expression for filtering the results of the request. Fields eligible for filtering are: `parent:`(The resource name of the parent account/property) or `ancestor:`(The resource name of the parent account) or `firebase_project:`(The id or number of the linked firebase project). Some examples of filters: ``` | Filter | Description | |-----------------------------|-------------------------------------------| | parent:accounts/123 | The account with account id: 123. | | parent:properties/123 | The property with property id: 123. | | ancestor:accounts/123 | The account with account id: 123. | | firebase_project:project-id | The firebase project with id: project-id. | | firebase_project:123 | The firebase project with number: 123. | ```",
              "location": "query",
              "type": "string"
            },
            "showDeleted": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to include soft-deleted (ie: \"trashed\") Properties in the results. Properties can be inspected to determine whether they are deleted or not."
            },
            "pageToken": {
              "location": "query",
              "description": "A page token, received from a previous `ListProperties` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProperties` must match the call that provided the page token.",
              "type": "string"
            }
          },
          "flatPath": "v1beta/properties",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaListPropertiesResponse"
          },
          "description": "Returns child Properties under the specified parent Account. Only \"GA4\" properties will be returned. Properties will be excluded if the caller does not have access. Soft-deleted (ie: \"trashed\") properties are excluded by default. Returns an empty list if no relevant properties are found.",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "path": "v1beta/properties",
          "parameterOrder": [],
          "id": "analyticsadmin.properties.list"
        },
        "runAccessReport": {
          "parameterOrder": [
            "entity"
          ],
          "id": "analyticsadmin.properties.runAccessReport",
          "parameters": {
            "entity": {
              "description": "The Data Access Report supports requesting at the property level or account level. If requested at the account level, Data Access Reports include all access for all properties under that account. To request at the property level, entity should be for example 'properties/123' if \"123\" is your GA4 property ID. To request at the account level, entity should be for example 'accounts/1234' if \"1234\" is your GA4 Account ID.",
              "required": true,
              "type": "string",
              "pattern": "^properties/[^/]+$",
              "location": "path"
            }
          },
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaRunAccessReportRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaRunAccessReportResponse"
          },
          "flatPath": "v1beta/properties/{propertiesId}:runAccessReport",
          "httpMethod": "POST",
          "description": "Returns a customized report of data access records. The report provides records of each time a user reads Google Analytics reporting data. Access records are retained for up to 2 years. Data Access Reports can be requested for a property. The property must be in Google Analytics 360. This method is only available to Administrators. These data access records include GA4 UI Reporting, GA4 UI Explorations, GA4 Data API, and other products like Firebase & Admob that can retrieve data from Google Analytics through a linkage. These records don't include property configuration changes like adding a stream or changing a property's time zone. For configuration change history, see [searchChangeHistoryEvents](https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts/searchChangeHistoryEvents).",
          "path": "v1beta/{+entity}:runAccessReport"
        },
        "create": {
          "description": "Creates an \"GA4\" property with the specified location and attributes.",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "httpMethod": "POST",
          "flatPath": "v1beta/properties",
          "id": "analyticsadmin.properties.create",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "parameters": {},
          "path": "v1beta/properties",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "parameterOrder": []
        },
        "patch": {
          "httpMethod": "PATCH",
          "id": "analyticsadmin.properties.patch",
          "flatPath": "v1beta/properties/{propertiesId}",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "path": "v1beta/{+name}",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "description": "Updates a property.",
          "parameters": {
            "name": {
              "description": "Output only. Resource name of this property. Format: properties/{property_id} Example: \"properties/1000\"",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^properties/[^/]+$"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "type": "string",
              "location": "query",
              "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields."
            }
          },
          "parameterOrder": [
            "name"
          ]
        },
        "getDataRetentionSettings": {
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaDataRetentionSettings"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "description": "Required. The name of the settings to lookup. Format: properties/{property}/dataRetentionSettings Example: \"properties/1000/dataRetentionSettings\"",
              "pattern": "^properties/[^/]+/dataRetentionSettings$",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "description": "Returns the singleton data retention settings for this property.",
          "flatPath": "v1beta/properties/{propertiesId}/dataRetentionSettings",
          "path": "v1beta/{+name}",
          "id": "analyticsadmin.properties.getDataRetentionSettings"
        },
        "updateDataRetentionSettings": {
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaDataRetentionSettings"
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaDataRetentionSettings"
          },
          "parameters": {
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "type": "string"
            },
            "name": {
              "description": "Output only. Resource name for this DataRetentionSetting resource. Format: properties/{property}/dataRetentionSettings",
              "location": "path",
              "pattern": "^properties/[^/]+/dataRetentionSettings$",
              "required": true,
              "type": "string"
            }
          },
          "description": "Updates the singleton data retention settings for this property.",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "path": "v1beta/{+name}",
          "id": "analyticsadmin.properties.updateDataRetentionSettings",
          "flatPath": "v1beta/properties/{propertiesId}/dataRetentionSettings",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ]
        },
        "delete": {
          "description": "Marks target Property as soft-deleted (ie: \"trashed\") and returns it. This API does not have a method to restore soft-deleted properties. However, they can be restored using the Trash Can UI. If the properties are not restored before the expiration time, the Property and all child resources (eg: GoogleAdsLinks, Streams, UserLinks) will be permanently purged. https://support.google.com/analytics/answer/6154772 Returns an error if the target is not found, or is not a GA4 Property.",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "id": "analyticsadmin.properties.delete",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "path": "v1beta/{+name}",
          "flatPath": "v1beta/properties/{propertiesId}",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^properties/[^/]+$",
              "description": "Required. The name of the Property to soft-delete. Format: properties/{property_id} Example: \"properties/1000\""
            }
          },
          "parameterOrder": [
            "name"
          ]
        },
        "get": {
          "parameters": {
            "name": {
              "description": "Required. The name of the property to lookup. Format: properties/{property_id} Example: \"properties/1000\"",
              "location": "path",
              "type": "string",
              "pattern": "^properties/[^/]+$",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "description": "Lookup for a single \"GA4\" Property.",
          "id": "analyticsadmin.properties.get",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta/properties/{propertiesId}",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "httpMethod": "GET",
          "path": "v1beta/{+name}"
        }
      }
    },
    "accounts": {
      "methods": {
        "get": {
          "description": "Lookup for a single Account.",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "path": "v1beta/{+name}",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaAccount"
          },
          "id": "analyticsadmin.accounts.get",
          "flatPath": "v1beta/accounts/{accountsId}",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "description": "Required. The name of the account to lookup. Format: accounts/{account} Example: \"accounts/100\"",
              "pattern": "^accounts/[^/]+$",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ]
        },
        "runAccessReport": {
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaRunAccessReportResponse"
          },
          "parameterOrder": [
            "entity"
          ],
          "path": "v1beta/{+entity}:runAccessReport",
          "id": "analyticsadmin.accounts.runAccessReport",
          "flatPath": "v1beta/accounts/{accountsId}:runAccessReport",
          "description": "Returns a customized report of data access records. The report provides records of each time a user reads Google Analytics reporting data. Access records are retained for up to 2 years. Data Access Reports can be requested for a property. The property must be in Google Analytics 360. This method is only available to Administrators. These data access records include GA4 UI Reporting, GA4 UI Explorations, GA4 Data API, and other products like Firebase & Admob that can retrieve data from Google Analytics through a linkage. These records don't include property configuration changes like adding a stream or changing a property's time zone. For configuration change history, see [searchChangeHistoryEvents](https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts/searchChangeHistoryEvents).",
          "parameters": {
            "entity": {
              "location": "path",
              "description": "The Data Access Report supports requesting at the property level or account level. If requested at the account level, Data Access Reports include all access for all properties under that account. To request at the property level, entity should be for example 'properties/123' if \"123\" is your GA4 property ID. To request at the account level, entity should be for example 'accounts/1234' if \"1234\" is your GA4 Account ID.",
              "type": "string",
              "pattern": "^accounts/[^/]+$",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaRunAccessReportRequest"
          }
        },
        "searchChangeHistoryEvents": {
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsResponse"
          },
          "parameters": {
            "account": {
              "required": true,
              "location": "path",
              "pattern": "^accounts/[^/]+$",
              "type": "string",
              "description": "Required. The account resource for which to return change history resources."
            }
          },
          "description": "Searches through all changes to an account or its children given the specified set of filters.",
          "path": "v1beta/{+account}:searchChangeHistoryEvents",
          "flatPath": "v1beta/accounts/{accountsId}:searchChangeHistoryEvents",
          "id": "analyticsadmin.accounts.searchChangeHistoryEvents",
          "parameterOrder": [
            "account"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsRequest"
          }
        },
        "delete": {
          "parameters": {
            "name": {
              "pattern": "^accounts/[^/]+$",
              "description": "Required. The name of the Account to soft-delete. Format: accounts/{account} Example: \"accounts/100\"",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "httpMethod": "DELETE",
          "path": "v1beta/{+name}",
          "description": "Marks target Account as soft-deleted (ie: \"trashed\") and returns it. This API does not have a method to restore soft-deleted accounts. However, they can be restored using the Trash Can UI. If the accounts are not restored before the expiration time, the account and all child resources (eg: Properties, GoogleAdsLinks, Streams, UserLinks) will be permanently purged. https://support.google.com/analytics/answer/6154772 Returns an error if the target is not found.",
          "flatPath": "v1beta/accounts/{accountsId}",
          "id": "analyticsadmin.accounts.delete",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ]
        },
        "provisionAccountTicket": {
          "flatPath": "v1beta/accounts:provisionAccountTicket",
          "parameterOrder": [],
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaProvisionAccountTicketRequest"
          },
          "id": "analyticsadmin.accounts.provisionAccountTicket",
          "path": "v1beta/accounts:provisionAccountTicket",
          "description": "Requests a ticket for creating an account.",
          "parameters": {},
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaProvisionAccountTicketResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ]
        },
        "getDataSharingSettings": {
          "flatPath": "v1beta/accounts/{accountsId}/dataSharingSettings",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "id": "analyticsadmin.accounts.getDataSharingSettings",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaDataSharingSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta/{+name}",
          "parameters": {
            "name": {
              "description": "Required. The name of the settings to lookup. Format: accounts/{account}/dataSharingSettings Example: \"accounts/1000/dataSharingSettings\"",
              "pattern": "^accounts/[^/]+/dataSharingSettings$",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "description": "Get data sharing settings on an account. Data sharing settings are singletons."
        },
        "list": {
          "description": "Returns all accounts accessible by the caller. Note that these accounts might not currently have GA4 properties. Soft-deleted (ie: \"trashed\") accounts are excluded by default. Returns an empty list if no relevant accounts are found.",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "parameters": {
            "pageToken": {
              "description": "A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccounts` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            },
            "showDeleted": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to include soft-deleted (ie: \"trashed\") Accounts in the results. Accounts can be inspected to determine whether they are deleted or not."
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
              "location": "query"
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaListAccountsResponse"
          },
          "path": "v1beta/accounts",
          "flatPath": "v1beta/accounts",
          "id": "analyticsadmin.accounts.list",
          "parameterOrder": [],
          "httpMethod": "GET"
        },
        "patch": {
          "parameters": {
            "updateMask": {
              "location": "query",
              "type": "string",
              "description": "Required. The list of fields to be updated. Field names must be in snake case (for example, \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "format": "google-fieldmask"
            },
            "name": {
              "location": "path",
              "pattern": "^accounts/[^/]+$",
              "type": "string",
              "required": true,
              "description": "Output only. Resource name of this account. Format: accounts/{account} Example: \"accounts/100\""
            }
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "flatPath": "v1beta/accounts/{accountsId}",
          "id": "analyticsadmin.accounts.patch",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaAccount"
          },
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaAccount"
          },
          "path": "v1beta/{+name}",
          "parameterOrder": [
            "name"
          ],
          "description": "Updates an account."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Google Analytics Admin",
  "name": "analyticsadmin",
  "id": "analyticsadmin:v1beta",
  "version": "v1beta",
  "protocol": "rest",
  "revision": "20230322",
  "batchPath": "batch",
  "schemas": {
    "GoogleAnalyticsAdminV1betaAccessNumericFilter": {
      "type": "object",
      "description": "Filters for numeric or date values.",
      "id": "GoogleAnalyticsAdminV1betaAccessNumericFilter",
      "properties": {
        "value": {
          "$ref": "GoogleAnalyticsAdminV1betaNumericValue",
          "description": "A numeric value or a date value."
        },
        "operation": {
          "type": "string",
          "description": "The operation type for this filter.",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "EQUAL",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Equal",
            "Less than",
            "Less than or equal",
            "Greater than",
            "Greater than or equal"
          ]
        }
      }
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaDataStream": {
      "description": "A resource message representing a data stream.",
      "properties": {
        "displayName": {
          "description": "Human-readable display name for the Data Stream. Required for web data streams. The max allowed display name length is 255 UTF-16 code units.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time when this stream was originally created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Type unknown or not specified.",
            "Web data stream.",
            "Android app data stream.",
            "iOS app data stream."
          ],
          "enum": [
            "DATA_STREAM_TYPE_UNSPECIFIED",
            "WEB_DATA_STREAM",
            "ANDROID_APP_DATA_STREAM",
            "IOS_APP_DATA_STREAM"
          ],
          "description": "Required. Immutable. The type of this DataStream resource."
        },
        "iosAppStreamData": {
          "description": "Data specific to iOS app streams. Must be populated if type is IOS_APP_DATA_STREAM.",
          "$ref": "GoogleAnalyticsAdminV1betaDataStreamIosAppStreamData"
        },
        "webStreamData": {
          "description": "Data specific to web streams. Must be populated if type is WEB_DATA_STREAM.",
          "$ref": "GoogleAnalyticsAdminV1betaDataStreamWebStreamData"
        },
        "name": {
          "description": "Output only. Resource name of this Data Stream. Format: properties/{property_id}/dataStreams/{stream_id} Example: \"properties/1000/dataStreams/2000\"",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time when stream payload fields were last updated.",
          "type": "string"
        },
        "androidAppStreamData": {
          "description": "Data specific to Android app streams. Must be populated if type is ANDROID_APP_DATA_STREAM.",
          "$ref": "GoogleAnalyticsAdminV1betaDataStreamAndroidAppStreamData"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaDataStream",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaListGoogleAdsLinksResponse": {
      "properties": {
        "googleAdsLinks": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaGoogleAdsLink"
          },
          "description": "List of GoogleAdsLinks.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaListGoogleAdsLinksResponse",
      "type": "object",
      "description": "Response message for ListGoogleAdsLinks RPC."
    },
    "GoogleAnalyticsAdminV1betaDataStreamAndroidAppStreamData": {
      "description": "Data specific to Android app streams.",
      "properties": {
        "packageName": {
          "description": "Immutable. The package name for the app being measured. Example: \"com.example.myandroidapp\"",
          "type": "string"
        },
        "firebaseAppId": {
          "type": "string",
          "description": "Output only. ID of the corresponding Android app in Firebase, if any. This ID can change if the Android app is deleted and recreated.",
          "readOnly": true
        }
      },
      "id": "GoogleAnalyticsAdminV1betaDataStreamAndroidAppStreamData",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaAccessOrderBy": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaAccessOrderBy",
      "description": "Order bys define how rows will be sorted in the response. For example, ordering rows by descending access count is one ordering, and ordering rows by the country string is a different ordering.",
      "properties": {
        "desc": {
          "type": "boolean",
          "description": "If true, sorts by descending order. If false or unspecified, sorts in ascending order."
        },
        "metric": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessOrderByMetricOrderBy",
          "description": "Sorts results by a metric's values."
        },
        "dimension": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessOrderByDimensionOrderBy",
          "description": "Sorts results by a dimension's values."
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessFilterExpression": {
      "properties": {
        "accessFilter": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilter",
          "description": "A primitive filter. In the same FilterExpression, all of the filter's field names need to be either all dimensions or all metrics."
        },
        "orGroup": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilterExpressionList",
          "description": "Each of the FilterExpressions in the or_group has an OR relationship."
        },
        "notExpression": {
          "description": "The FilterExpression is NOT of not_expression.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilterExpression"
        },
        "andGroup": {
          "description": "Each of the FilterExpressions in the and_group has an AND relationship.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilterExpressionList"
        }
      },
      "description": "Expresses dimension or metric filters. The fields in the same expression need to be either all dimensions or all metrics.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaAccessFilterExpression"
    },
    "GoogleAnalyticsAdminV1betaConversionEvent": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name of this conversion event. Format: properties/{property}/conversionEvents/{conversion_event}",
          "type": "string",
          "readOnly": true
        },
        "deletable": {
          "type": "boolean",
          "description": "Output only. If set, this event can currently be deleted with DeleteConversionEvent.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when this conversion event was created in the property.",
          "format": "google-datetime"
        },
        "custom": {
          "readOnly": true,
          "description": "Output only. If set to true, this conversion event refers to a custom event. If set to false, this conversion event refers to a default event in GA. Default events typically have special meaning in GA. Default events are usually created for you by the GA system, but in some cases can be created by property admins. Custom events count towards the maximum number of custom conversion events that may be created per property.",
          "type": "boolean"
        },
        "eventName": {
          "description": "Immutable. The event name for this conversion event. Examples: 'click', 'purchase'",
          "type": "string"
        }
      },
      "description": "A conversion event in a Google Analytics property.",
      "id": "GoogleAnalyticsAdminV1betaConversionEvent"
    },
    "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionResponse": {
      "id": "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionResponse",
      "properties": {},
      "type": "object",
      "description": "Response message for AcknowledgeUserDataCollection RPC."
    },
    "GoogleAnalyticsAdminV1betaAccessBetweenFilter": {
      "description": "To express that the result needs to be between two numbers (inclusive).",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaAccessBetweenFilter",
      "properties": {
        "toValue": {
          "description": "Ends with this number.",
          "$ref": "GoogleAnalyticsAdminV1betaNumericValue"
        },
        "fromValue": {
          "description": "Begins with this number.",
          "$ref": "GoogleAnalyticsAdminV1betaNumericValue"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaChangeHistoryChangeChangeHistoryResource": {
      "id": "GoogleAnalyticsAdminV1betaChangeHistoryChangeChangeHistoryResource",
      "description": "A snapshot of a resource as before or after the result of a change in change history.",
      "type": "object",
      "properties": {
        "firebaseLink": {
          "$ref": "GoogleAnalyticsAdminV1betaFirebaseLink",
          "description": "A snapshot of a FirebaseLink resource in change history."
        },
        "property": {
          "$ref": "GoogleAnalyticsAdminV1betaProperty",
          "description": "A snapshot of a Property resource in change history."
        },
        "dataRetentionSettings": {
          "description": "A snapshot of a data retention settings resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1betaDataRetentionSettings"
        },
        "account": {
          "description": "A snapshot of an Account resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1betaAccount"
        },
        "measurementProtocolSecret": {
          "$ref": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret",
          "description": "A snapshot of a MeasurementProtocolSecret resource in change history."
        },
        "conversionEvent": {
          "description": "A snapshot of a ConversionEvent resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1betaConversionEvent"
        },
        "dataStream": {
          "$ref": "GoogleAnalyticsAdminV1betaDataStream",
          "description": "A snapshot of a DataStream resource in change history."
        },
        "googleAdsLink": {
          "$ref": "GoogleAnalyticsAdminV1betaGoogleAdsLink",
          "description": "A snapshot of a GoogleAdsLink resource in change history."
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessFilter": {
      "description": "An expression to filter dimension or metric values.",
      "id": "GoogleAnalyticsAdminV1betaAccessFilter",
      "properties": {
        "inListFilter": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessInListFilter",
          "description": "A filter for in list values."
        },
        "numericFilter": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessNumericFilter",
          "description": "A filter for numeric or date values."
        },
        "betweenFilter": {
          "description": "A filter for two values.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessBetweenFilter"
        },
        "fieldName": {
          "type": "string",
          "description": "The dimension name or metric name."
        },
        "stringFilter": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessStringFilter",
          "description": "Strings related filter."
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaAccessMetricValue": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaAccessMetricValue",
      "properties": {
        "value": {
          "description": "The measurement value. For example, this value may be '13'.",
          "type": "string"
        }
      },
      "description": "The value of a metric."
    },
    "GoogleAnalyticsAdminV1betaListMeasurementProtocolSecretsResponse": {
      "description": "Response message for ListMeasurementProtocolSecret RPC",
      "id": "GoogleAnalyticsAdminV1betaListMeasurementProtocolSecretsResponse",
      "type": "object",
      "properties": {
        "measurementProtocolSecrets": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
          },
          "description": "A list of secrets for the parent stream specified in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaChangeHistoryChange": {
      "description": "A description of a change to a single Google Analytics resource.",
      "properties": {
        "resource": {
          "description": "Resource name of the resource whose changes are described by this entry.",
          "type": "string"
        },
        "resourceAfterChange": {
          "$ref": "GoogleAnalyticsAdminV1betaChangeHistoryChangeChangeHistoryResource",
          "description": "Resource contents from after the change was made. If this resource was deleted in this change, this field will be missing."
        },
        "action": {
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "CREATED",
            "UPDATED",
            "DELETED"
          ],
          "type": "string",
          "description": "The type of action that changed this resource.",
          "enumDescriptions": [
            "Action type unknown or not specified.",
            "Resource was created in this change.",
            "Resource was updated in this change.",
            "Resource was deleted in this change."
          ]
        },
        "resourceBeforeChange": {
          "$ref": "GoogleAnalyticsAdminV1betaChangeHistoryChangeChangeHistoryResource",
          "description": "Resource contents from before the change was made. If this resource was created in this change, this field will be missing."
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaChangeHistoryChange"
    },
    "GoogleAnalyticsAdminV1betaListCustomDimensionsResponse": {
      "description": "Response message for ListCustomDimensions RPC.",
      "id": "GoogleAnalyticsAdminV1betaListCustomDimensionsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "customDimensions": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaCustomDimension"
          },
          "description": "List of CustomDimensions.",
          "type": "array"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessMetricHeader": {
      "description": "Describes a metric column in the report. Visible metrics requested in a report produce column entries within rows and MetricHeaders. However, metrics used exclusively within filters or expressions do not produce columns in a report; correspondingly, those metrics do not produce headers.",
      "type": "object",
      "properties": {
        "metricName": {
          "type": "string",
          "description": "The metric's name; for example 'accessCount'."
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAccessMetricHeader"
    },
    "GoogleAnalyticsAdminV1betaListCustomMetricsResponse": {
      "description": "Response message for ListCustomMetrics RPC.",
      "id": "GoogleAnalyticsAdminV1betaListCustomMetricsResponse",
      "properties": {
        "customMetrics": {
          "description": "List of CustomMetrics.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaCustomMetric"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaArchiveCustomMetricRequest": {
      "description": "Request message for ArchiveCustomMetric RPC.",
      "id": "GoogleAnalyticsAdminV1betaArchiveCustomMetricRequest",
      "type": "object",
      "properties": {}
    },
    "GoogleAnalyticsAdminV1betaDataRetentionSettings": {
      "type": "object",
      "description": "Settings values for data retention. This is a singleton resource.",
      "id": "GoogleAnalyticsAdminV1betaDataRetentionSettings",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name for this DataRetentionSetting resource. Format: properties/{property}/dataRetentionSettings"
        },
        "eventDataRetention": {
          "enumDescriptions": [
            "Data retention time duration is not specified.",
            "The data retention time duration is 2 months.",
            "The data retention time duration is 14 months.",
            "The data retention time duration is 26 months. Available to 360 properties only.",
            "The data retention time duration is 38 months. Available to 360 properties only.",
            "The data retention time duration is 50 months. Available to 360 properties only."
          ],
          "enum": [
            "RETENTION_DURATION_UNSPECIFIED",
            "TWO_MONTHS",
            "FOURTEEN_MONTHS",
            "TWENTY_SIX_MONTHS",
            "THIRTY_EIGHT_MONTHS",
            "FIFTY_MONTHS"
          ],
          "description": "The length of time that event-level data is retained.",
          "type": "string"
        },
        "resetUserDataOnNewActivity": {
          "description": "If true, reset the retention period for the user identifier with every event from that user.",
          "type": "boolean"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessDimensionValue": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The dimension value. For example, this value may be 'France' for the 'country' dimension."
        }
      },
      "type": "object",
      "description": "The value of a dimension.",
      "id": "GoogleAnalyticsAdminV1betaAccessDimensionValue"
    },
    "GoogleAnalyticsAdminV1betaRunAccessReportRequest": {
      "properties": {
        "returnEntityQuota": {
          "description": "Toggles whether to return the current state of this Analytics Property's quota. Quota is returned in [AccessQuota](#AccessQuota). For account-level requests, this field must be false.",
          "type": "boolean"
        },
        "dimensionFilter": {
          "description": "Dimension filters let you restrict report response to specific dimension values which match the filter. For example, filtering on access records of a single user. To learn more, see [Fundamentals of Dimension Filters](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#dimension_filters) for examples. Metrics cannot be used in this filter.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilterExpression"
        },
        "dimensions": {
          "description": "The dimensions requested and displayed in the response. Requests are allowed up to 9 dimensions.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessDimension"
          },
          "type": "array"
        },
        "limit": {
          "format": "int64",
          "type": "string",
          "description": "The number of rows to return. If unspecified, 10,000 rows are returned. The API returns a maximum of 100,000 rows per request, no matter how many you ask for. `limit` must be positive. The API may return fewer rows than the requested `limit`, if there aren't as many remaining rows as the `limit`. For instance, there are fewer than 300 possible values for the dimension `country`, so when reporting on only `country`, you can't get more than 300 rows, even if you set `limit` to a higher value. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination)."
        },
        "orderBys": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessOrderBy"
          },
          "description": "Specifies how rows are ordered in the response."
        },
        "metrics": {
          "description": "The metrics requested and displayed in the response. Requests are allowed up to 10 metrics.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessMetric"
          }
        },
        "offset": {
          "format": "int64",
          "type": "string",
          "description": "The row count of the start row. The first row is counted as row 0. If offset is unspecified, it is treated as 0. If offset is zero, then this method will return the first page of results with `limit` entries. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination)."
        },
        "dateRanges": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessDateRange"
          },
          "type": "array",
          "description": "Date ranges of access records to read. If multiple date ranges are requested, each response row will contain a zero based date range index. If two date ranges overlap, the access records for the overlapping days is included in the response rows for both date ranges. Requests are allowed up to 2 date ranges."
        },
        "metricFilter": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilterExpression",
          "description": "Metric filters allow you to restrict report response to specific metric values which match the filter. Metric filters are applied after aggregating the report's rows, similar to SQL having-clause. Dimensions cannot be used in this filter."
        },
        "timeZone": {
          "description": "This request's time zone if specified. If unspecified, the property's time zone is used. The request's time zone is used to interpret the start & end dates of the report. Formatted as strings from the IANA Time Zone database (https://www.iana.org/time-zones); for example \"America/New_York\" or \"Asia/Tokyo\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaRunAccessReportRequest",
      "description": "The request for a Data Access Record Report."
    },
    "GoogleAnalyticsAdminV1betaProvisionAccountTicketRequest": {
      "properties": {
        "redirectUri": {
          "type": "string",
          "description": "Redirect URI where the user will be sent after accepting Terms of Service. Must be configured in Cloud Console as a Redirect URI."
        },
        "account": {
          "description": "The account to create.",
          "$ref": "GoogleAnalyticsAdminV1betaAccount"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaProvisionAccountTicketRequest",
      "description": "Request message for ProvisionAccountTicket RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaListPropertiesResponse": {
      "type": "object",
      "description": "Response message for ListProperties RPC.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "properties": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "description": "Results that matched the filter criteria and were accessible to the caller."
        }
      },
      "id": "GoogleAnalyticsAdminV1betaListPropertiesResponse"
    },
    "GoogleAnalyticsAdminV1betaAccessQuota": {
      "description": "Current state of all quotas for this Analytics property. If any quota for a property is exhausted, all requests to that property will return Resource Exhausted errors.",
      "id": "GoogleAnalyticsAdminV1betaAccessQuota",
      "type": "object",
      "properties": {
        "tokensPerHour": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessQuotaStatus",
          "description": "Properties can use 50,000 tokens per hour. An API request consumes a single number of tokens, and that number is deducted from all of the hourly, daily, and per project hourly quotas."
        },
        "serverErrorsPerProjectPerHour": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessQuotaStatus",
          "description": "Properties and cloud project pairs can have up to 50 server errors per hour."
        },
        "tokensPerDay": {
          "description": "Properties can use 250,000 tokens per day. Most requests consume fewer than 10 tokens.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessQuotaStatus"
        },
        "concurrentRequests": {
          "description": "Properties can use up to 50 concurrent requests.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessQuotaStatus"
        },
        "tokensPerProjectPerHour": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessQuotaStatus",
          "description": "Properties can use up to 25% of their tokens per project per hour. This amounts to Analytics 360 Properties can use 12,500 tokens per project per hour. An API request consumes a single number of tokens, and that number is deducted from all of the hourly, daily, and per project hourly quotas."
        }
      }
    },
    "GoogleAnalyticsAdminV1betaCustomMetric": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. Display name for this custom metric as shown in the Analytics UI. Max length of 82 characters, alphanumeric plus space and underscore starting with a letter. Legacy system-generated display names may contain square brackets, but updates to this field will never permit square brackets."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description for this custom dimension. Max length of 150 characters."
        },
        "parameterName": {
          "description": "Required. Immutable. Tagging name for this custom metric. If this is an event-scoped metric, then this is the event parameter name. May only contain alphanumeric and underscore charactes, starting with a letter. Max length of 40 characters for event-scoped metrics.",
          "type": "string"
        },
        "restrictedMetricType": {
          "type": "array",
          "description": "Optional. Types of restricted data that this metric may contain. Required for metrics with CURRENCY measurement unit. Must be empty for metrics with a non-CURRENCY measurement unit.",
          "items": {
            "enum": [
              "RESTRICTED_METRIC_TYPE_UNSPECIFIED",
              "COST_DATA",
              "REVENUE_DATA"
            ],
            "enumDescriptions": [
              "Type unknown or unspecified.",
              "Metric reports cost data.",
              "Metric reports revenue data."
            ],
            "type": "string"
          }
        },
        "measurementUnit": {
          "type": "string",
          "enum": [
            "MEASUREMENT_UNIT_UNSPECIFIED",
            "STANDARD",
            "CURRENCY",
            "FEET",
            "METERS",
            "KILOMETERS",
            "MILES",
            "MILLISECONDS",
            "SECONDS",
            "MINUTES",
            "HOURS"
          ],
          "enumDescriptions": [
            "MeasurementUnit unspecified or missing.",
            "This metric uses default units.",
            "This metric measures a currency.",
            "This metric measures feet.",
            "This metric measures meters.",
            "This metric measures kilometers.",
            "This metric measures miles.",
            "This metric measures milliseconds.",
            "This metric measures seconds.",
[...]
