{
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "canonicalName": "Google Analytics Admin",
  "revision": "20240115",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/analytics.readonly": {
          "description": "See and download your Google Analytics data"
        },
        "https://www.googleapis.com/auth/analytics.manage.users.readonly": {
          "description": "View Google Analytics user permissions"
        },
        "https://www.googleapis.com/auth/analytics.edit": {
          "description": "Edit Google Analytics management entities"
        },
        "https://www.googleapis.com/auth/analytics.manage.users": {
          "description": "Manage Google Analytics Account users by email address"
        }
      }
    }
  },
  "id": "analyticsadmin:v1alpha",
  "servicePath": "",
  "version": "v1alpha",
  "name": "analyticsadmin",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "version_module": true,
  "batchPath": "batch",
  "description": "Manage properties in Google Analytics. Warning: Creating multiple Customer Applications, Accounts, or Projects to simulate or act as a single Customer Application, Account, or Project (respectively) or to circumvent Service-specific usage limits or quotas is a direct violation of Google Cloud Platform Terms of Service as well as Google APIs Terms of Service. These actions can result in immediate termination of your GCP project(s) without any warning.",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "documentationLink": "http://code.google.com/apis/analytics/docs/mgmt/home.html",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "GoogleAnalyticsAdminV1alphaExpandedDataSetFilter": {
      "id": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilter",
      "properties": {
        "stringFilter": {
          "description": "A filter for a string-type dimension that matches a particular pattern.",
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterStringFilter"
        },
        "inListFilter": {
          "description": "A filter for a string dimension that matches a particular list of options.",
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterInListFilter"
        },
        "fieldName": {
          "description": "Required. The dimension name to filter.",
          "type": "string"
        }
      },
      "description": "A specific filter for a single dimension",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequest": {
      "id": "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequest",
      "properties": {
        "pageToken": {
          "type": "string",
          "description": "Optional. A page token, received from a previous `SearchChangeHistoryEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchChangeHistoryEvents` must match the call that provided the page token."
        },
        "property": {
          "type": "string",
          "description": "Optional. Resource name for a child property. If set, only return changes made to this property or its child resources. Format: properties/{propertyId} Example: \"properties/100\""
        },
        "actorEmail": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. If set, only return changes if they are made by a user in this list."
        },
        "earliestChangeTime": {
          "description": "Optional. If set, only return changes made after this time (inclusive).",
          "type": "string",
          "format": "google-datetime"
        },
        "latestChangeTime": {
          "type": "string",
          "description": "Optional. If set, only return changes made before this time (inclusive).",
          "format": "google-datetime"
        },
        "pageSize": {
          "description": "Optional. The maximum number of ChangeHistoryEvent items to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 items will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
          "format": "int32",
          "type": "integer"
        },
        "resourceType": {
          "items": {
            "enumDescriptions": [
              "Resource type unknown or not specified.",
              "Account resource",
              "Property resource",
              "FirebaseLink resource",
              "GoogleAdsLink resource",
              "GoogleSignalsSettings resource",
              "ConversionEvent resource",
              "MeasurementProtocolSecret resource",
              "CustomDimension resource",
              "CustomMetric resource",
              "DataRetentionSettings resource",
              "DisplayVideo360AdvertiserLink resource",
              "DisplayVideo360AdvertiserLinkProposal resource",
              "SearchAds360Link resource",
              "DataStream resource",
              "AttributionSettings resource",
              "ExpandedDataSet resource",
              "ChannelGroup resource",
              "EnhancedMeasurementSettings resource",
              "DataRedactionSettings resource",
              "SKAdNetworkConversionValueSchema resource",
              "AdSenseLink resource",
              "Audience resource",
              "EventCreateRule resource",
              "CalculatedMetric resource"
            ],
            "type": "string",
            "enum": [
              "CHANGE_HISTORY_RESOURCE_TYPE_UNSPECIFIED",
              "ACCOUNT",
              "PROPERTY",
              "FIREBASE_LINK",
              "GOOGLE_ADS_LINK",
              "GOOGLE_SIGNALS_SETTINGS",
              "CONVERSION_EVENT",
              "MEASUREMENT_PROTOCOL_SECRET",
              "CUSTOM_DIMENSION",
              "CUSTOM_METRIC",
              "DATA_RETENTION_SETTINGS",
              "DISPLAY_VIDEO_360_ADVERTISER_LINK",
              "DISPLAY_VIDEO_360_ADVERTISER_LINK_PROPOSAL",
              "SEARCH_ADS_360_LINK",
              "DATA_STREAM",
              "ATTRIBUTION_SETTINGS",
              "EXPANDED_DATA_SET",
              "CHANNEL_GROUP",
              "ENHANCED_MEASUREMENT_SETTINGS",
              "DATA_REDACTION_SETTINGS",
              "SKADNETWORK_CONVERSION_VALUE_SCHEMA",
              "ADSENSE_LINK",
              "AUDIENCE",
              "EVENT_CREATE_RULE",
              "CALCULATED_METRIC"
            ]
          },
          "description": "Optional. If set, only return changes if they are for a resource that matches at least one of these types.",
          "type": "array"
        },
        "action": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Action type unknown or not specified.",
              "Resource was created in this change.",
              "Resource was updated in this change.",
              "Resource was deleted in this change."
            ],
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "CREATED",
              "UPDATED",
              "DELETED"
            ]
          },
          "description": "Optional. If set, only return changes that match one or more of these types of actions.",
          "type": "array"
        }
      },
      "description": "Request message for SearchChangeHistoryEvents RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpressionList": {
      "type": "object",
      "description": "A list of Channel Group filter expressions.",
      "properties": {
        "filterExpressions": {
          "description": "A list of Channel Group filter expressions.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpression"
          }
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpressionList"
    },
    "GoogleAnalyticsAdminV1alphaCreateRollupPropertyRequest": {
      "properties": {
        "sourceProperties": {
          "description": "Optional. The resource names of properties that will be sources to the created roll-up property.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "rollupProperty": {
          "$ref": "GoogleAnalyticsAdminV1alphaProperty",
          "description": "Required. The roll-up property to create."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaCreateRollupPropertyRequest",
      "type": "object",
      "description": "Request message for CreateRollupProperty RPC."
    },
    "GoogleAnalyticsAdminV1alphaDataStream": {
      "description": "A resource message representing a data stream.",
      "id": "GoogleAnalyticsAdminV1alphaDataStream",
      "properties": {
        "androidAppStreamData": {
          "$ref": "GoogleAnalyticsAdminV1alphaDataStreamAndroidAppStreamData",
          "description": "Data specific to Android app streams. Must be populated if type is ANDROID_APP_DATA_STREAM."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time when this stream was originally created.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of this Data Stream. Format: properties/{property_id}/dataStreams/{stream_id} Example: \"properties/1000/dataStreams/2000\"",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when stream payload fields were last updated.",
          "readOnly": true
        },
        "iosAppStreamData": {
          "$ref": "GoogleAnalyticsAdminV1alphaDataStreamIosAppStreamData",
          "description": "Data specific to iOS app streams. Must be populated if type is IOS_APP_DATA_STREAM."
        },
        "displayName": {
          "description": "Human-readable display name for the Data Stream. Required for web data streams. The max allowed display name length is 255 UTF-16 code units.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Type unknown or not specified.",
            "Web data stream.",
            "Android app data stream.",
            "iOS app data stream."
          ],
          "enum": [
            "DATA_STREAM_TYPE_UNSPECIFIED",
            "WEB_DATA_STREAM",
            "ANDROID_APP_DATA_STREAM",
            "IOS_APP_DATA_STREAM"
          ],
          "type": "string",
          "description": "Required. Immutable. The type of this DataStream resource."
        },
        "webStreamData": {
          "description": "Data specific to web streams. Must be populated if type is WEB_DATA_STREAM.",
          "$ref": "GoogleAnalyticsAdminV1alphaDataStreamWebStreamData"
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaCreateConnectedSiteTagResponse": {
      "description": "Response message for CreateConnectedSiteTag RPC.",
      "type": "object",
      "properties": {},
      "id": "GoogleAnalyticsAdminV1alphaCreateConnectedSiteTagResponse"
    },
    "GoogleAnalyticsAdminV1alphaListCustomDimensionsResponse": {
      "description": "Response message for ListCustomDimensions RPC.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "customDimensions": {
          "description": "List of CustomDimensions.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
          }
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListCustomDimensionsResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaConversionValues": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaConversionValues",
      "properties": {
        "fineValue": {
          "format": "int32",
          "description": "The fine-grained conversion value. This is applicable only to the first postback window. Its valid values are [0,63], both inclusive. It must be set for postback window 1, and must not be set for postback window 2 & 3. This value is not guaranteed to be unique. If the configuration for the first postback window is re-used for second or third postback windows this field has no effect.",
          "type": "integer"
        },
        "lockEnabled": {
          "description": "If true, the SDK should lock to this conversion value for the current postback window.",
          "type": "boolean"
        },
        "coarseValue": {
          "enumDescriptions": [
            "Coarse value not specified.",
            "Coarse value of low.",
            "Coarse value of medium.",
            "Coarse value of high."
          ],
          "type": "string",
          "description": "Required. A coarse grained conversion value. This value is not guaranteed to be unique.",
          "enum": [
            "COARSE_VALUE_UNSPECIFIED",
            "COARSE_VALUE_LOW",
            "COARSE_VALUE_MEDIUM",
            "COARSE_VALUE_HIGH"
          ]
        },
        "eventMappings": {
          "description": "Event conditions that must be met for this Conversion Value to be achieved. The conditions in this list are ANDed together. It must have minimum of 1 entry and maximum of 3 entries, if the postback window is enabled.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaEventMapping"
          }
        },
        "displayName": {
          "description": "Display name of the SKAdNetwork conversion value. The max allowed display name length is 50 UTF-16 code units.",
          "type": "string"
        }
      },
      "description": "Conversion value settings for a postback window for SKAdNetwork conversion value schema."
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object",
      "id": "GoogleProtobufEmpty"
    },
    "GoogleAnalyticsAdminV1alphaAccessNumericFilter": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAccessNumericFilter",
      "properties": {
        "operation": {
          "type": "string",
          "description": "The operation type for this filter.",
          "enumDescriptions": [
            "Unspecified.",
            "Equal",
            "Less than",
            "Less than or equal",
            "Greater than",
            "Greater than or equal"
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "EQUAL",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL"
          ]
        },
        "value": {
          "description": "A numeric value or a date value.",
          "$ref": "GoogleAnalyticsAdminV1alphaNumericValue"
        }
      },
      "description": "Filters for numeric or date values."
    },
    "GoogleAnalyticsAdminV1alphaAcknowledgeUserDataCollectionResponse": {
      "properties": {},
      "type": "object",
      "description": "Response message for AcknowledgeUserDataCollection RPC.",
      "id": "GoogleAnalyticsAdminV1alphaAcknowledgeUserDataCollectionResponse"
    },
    "GoogleAnalyticsAdminV1alphaArchiveAudienceRequest": {
      "id": "GoogleAnalyticsAdminV1alphaArchiveAudienceRequest",
      "properties": {},
      "description": "Request message for ArchiveAudience RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaConnectedSiteTag": {
      "properties": {
        "tagId": {
          "type": "string",
          "description": "Required. \"Tag ID to forward events to. Also known as the Measurement ID, or the \"G-ID\" (For example: G-12345)."
        },
        "displayName": {
          "type": "string",
          "description": "Required. User-provided display name for the connected site tag. Must be less than 256 characters."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaConnectedSiteTag",
      "description": "Configuration for a specific Connected Site Tag.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaCreateConnectedSiteTagRequest": {
      "properties": {
        "property": {
          "type": "string",
          "description": "The Universal Analytics property to create connected site tags for. This API does not support GA4 properties. Format: properties/{universalAnalyticsPropertyId} Example: properties/1234"
        },
        "connectedSiteTag": {
          "description": "Required. The tag to add to the Universal Analytics property",
          "$ref": "GoogleAnalyticsAdminV1alphaConnectedSiteTag"
        }
      },
      "description": "Request message for CreateConnectedSiteTag RPC.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaCreateConnectedSiteTagRequest"
    },
    "GoogleAnalyticsAdminV1alphaApproveDisplayVideo360AdvertiserLinkProposalResponse": {
      "properties": {
        "displayVideo360AdvertiserLink": {
          "description": "The DisplayVideo360AdvertiserLink created as a result of approving the proposal.",
          "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink"
        }
      },
      "description": "Response message for ApproveDisplayVideo360AdvertiserLinkProposal RPC.",
      "id": "GoogleAnalyticsAdminV1alphaApproveDisplayVideo360AdvertiserLinkProposalResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAudienceEventFilter": {
      "id": "GoogleAnalyticsAdminV1alphaAudienceEventFilter",
      "type": "object",
      "description": "A filter that matches events of a single event name. If an event parameter is specified, only the subset of events that match both the single event name and the parameter filter expressions match this event filter.",
      "properties": {
        "eventName": {
          "type": "string",
          "description": "Required. Immutable. The name of the event to match against."
        },
        "eventParameterFilterExpression": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpression",
          "description": "Optional. If specified, this filter matches events that match both the single event name and the parameter filter expressions. AudienceEventFilter inside the parameter filter expression cannot be set (For example, nested event filters are not supported). This should be a single and_group of dimension_or_metric_filter or not_expression; ANDs of ORs are not supported. Also, if it includes a filter for \"eventCount\", only that one will be considered; all the other filters will be ignored."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessOrderByMetricOrderBy": {
      "type": "object",
      "properties": {
        "metricName": {
          "type": "string",
          "description": "A metric name in the request to order by."
        }
      },
      "description": "Sorts by metric values.",
      "id": "GoogleAnalyticsAdminV1alphaAccessOrderByMetricOrderBy"
    },
    "GoogleAnalyticsAdminV1alphaListCustomMetricsResponse": {
      "description": "Response message for ListCustomMetrics RPC.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "customMetrics": {
          "description": "List of CustomMetrics.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListCustomMetricsResponse"
    },
    "GoogleAnalyticsAdminV1alphaEventMapping": {
      "description": "Event setting conditions to match an event.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaEventMapping",
      "properties": {
        "minEventValue": {
          "type": "number",
          "format": "double",
          "description": "The minimum revenue generated due to the event. Revenue currency will be defined at the property level. If not set, minimum event value won't be checked."
        },
        "eventName": {
          "description": "Required. Name of the GA4 event. It must always be set. The max allowed display name length is 40 UTF-16 code units.",
          "type": "string"
        },
        "maxEventCount": {
          "type": "string",
          "format": "int64",
          "description": "The maximum number of times the event occurred. If not set, maximum event count won't be checked."
        },
        "minEventCount": {
          "format": "int64",
          "description": "At least one of the following four min/max values must be set. The values set will be ANDed together to qualify an event. The minimum number of times the event occurred. If not set, minimum event count won't be checked.",
          "type": "string"
        },
        "maxEventValue": {
          "description": "The maximum revenue generated due to the event. Revenue currency will be defined at the property level. If not set, maximum event value won't be checked.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAudienceFilterClause": {
      "id": "GoogleAnalyticsAdminV1alphaAudienceFilterClause",
      "description": "A clause for defining either a simple or sequence filter. A filter can be inclusive (For example, users satisfying the filter clause are included in the Audience) or exclusive (For example, users satisfying the filter clause are excluded from the Audience).",
      "properties": {
        "clauseType": {
          "description": "Required. Specifies whether this is an include or exclude filter clause.",
          "enumDescriptions": [
            "Unspecified clause type.",
            "Users will be included in the Audience if the filter clause is met.",
            "Users will be excluded from the Audience if the filter clause is met."
          ],
          "enum": [
            "AUDIENCE_CLAUSE_TYPE_UNSPECIFIED",
            "INCLUDE",
            "EXCLUDE"
          ],
          "type": "string"
        },
        "sequenceFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceSequenceFilter",
          "description": "Filters that must occur in a specific order for the user to be a member of the Audience."
        },
        "simpleFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceSimpleFilter",
          "description": "A simple filter that a user must satisfy to be a member of the Audience."
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListDisplayVideo360AdvertiserLinksResponse": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListDisplayVideo360AdvertiserLinksResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "displayVideo360AdvertiserLinks": {
          "description": "List of DisplayVideo360AdvertiserLinks.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink"
          }
        }
      },
      "description": "Response message for ListDisplayVideo360AdvertiserLinks RPC."
    },
    "GoogleAnalyticsAdminV1alphaGlobalSiteTag": {
      "description": "Read-only resource with the tag for sending data from a website to a DataStream. Only present for web DataStream resources.",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name for this GlobalSiteTag resource. Format: properties/{property_id}/dataStreams/{stream_id}/globalSiteTag Example: \"properties/123/dataStreams/456/globalSiteTag\""
        },
        "snippet": {
          "description": "Immutable. JavaScript code snippet to be pasted as the first item into the head tag of every webpage to measure.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaGlobalSiteTag"
    },
    "GoogleAnalyticsAdminV1alphaListCalculatedMetricsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListCalculatedMetricsResponse",
      "type": "object",
      "description": "Response message for ListCalculatedMetrics RPC.",
      "properties": {
        "calculatedMetrics": {
          "description": "List of CalculatedMetrics.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCalculatedMetric"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression": {
      "id": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression",
      "properties": {
        "filterCondition": {
          "description": "Creates a filter that matches a specific event. This cannot be set on the top level SubpropertyEventFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterCondition"
        },
        "notExpression": {
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression",
          "description": "A filter expression to be NOT'ed (inverted, complemented). It can only include a filter. This cannot be set on the top level SubpropertyEventFilterExpression."
        },
        "orGroup": {
          "description": "A list of expressions to OR’ed together. Must only contain not_expression or filter_condition expressions.",
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpressionList"
        }
      },
      "description": "A logical expression of Subproperty event filters.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaDataSharingSettings": {
      "description": "A resource message representing data sharing settings of a Google Analytics account.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaDataSharingSettings",
      "properties": {
        "sharingWithGoogleSupportEnabled": {
          "description": "Allows Google support to access the data in order to help troubleshoot issues.",
          "type": "boolean"
        },
        "name": {
          "description": "Output only. Resource name. Format: accounts/{account}/dataSharingSettings Example: \"accounts/1000/dataSharingSettings\"",
          "type": "string",
          "readOnly": true
        },
        "sharingWithGoogleAnySalesEnabled": {
          "type": "boolean",
          "description": "Allows any of Google sales to access the data in order to suggest configuration changes to improve results."
        },
        "sharingWithGoogleAssignedSalesEnabled": {
          "description": "Allows Google sales teams that are assigned to the customer to access the data in order to suggest configuration changes to improve results. Sales team restrictions still apply when enabled.",
          "type": "boolean"
        },
        "sharingWithOthersEnabled": {
          "description": "Allows Google to share the data anonymously in aggregate form with others.",
          "type": "boolean"
        },
        "sharingWithGoogleProductsEnabled": {
          "type": "boolean",
          "description": "Allows Google to use the data to improve other Google products or services."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaBatchDeleteAccessBindingsRequest": {
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. The requests specifying the access bindings to delete. A maximum of 1000 access bindings can be deleted in a batch.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaDeleteAccessBindingRequest"
          }
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaBatchDeleteAccessBindingsRequest",
      "description": "Request message for BatchDeleteAccessBindings RPC."
    },
    "GoogleAnalyticsAdminV1alphaFetchAutomatedGa4ConfigurationOptOutRequest": {
      "description": "Request for fetching the opt out status for the automated GA4 setup process.",
      "properties": {
        "property": {
          "description": "Required. The UA property to get the opt out status. Note this request uses the internal property ID, not the tracking ID of the form UA-XXXXXX-YY. Format: properties/{internalWebPropertyId} Example: properties/1234",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaFetchAutomatedGa4ConfigurationOptOutRequest"
    },
    "GoogleAnalyticsAdminV1alphaCreateAccessBindingRequest": {
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. Formats: - accounts/{account} - properties/{property}"
        },
        "accessBinding": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding",
          "description": "Required. The access binding to create."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaCreateAccessBindingRequest",
      "description": "Request message for CreateAccessBinding RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccountSummary": {
      "properties": {
        "account": {
          "type": "string",
          "description": "Resource name of account referred to by this account summary Format: accounts/{account_id} Example: \"accounts/1000\""
        },
        "propertySummaries": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaPropertySummary"
          },
          "description": "List of summaries for child accounts of this account."
        },
        "displayName": {
          "description": "Display name for the account referred to in this account summary.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for this account summary. Format: accountSummaries/{account_id} Example: \"accountSummaries/1000\""
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccountSummary",
      "type": "object",
      "description": "A virtual resource representing an overview of an account and all its child GA4 properties."
    },
    "GoogleAnalyticsAdminV1alphaAccessOrderByDimensionOrderBy": {
      "description": "Sorts by dimension values.",
      "properties": {
        "dimensionName": {
          "description": "A dimension name in the request to order by.",
          "type": "string"
        },
        "orderType": {
          "enum": [
            "ORDER_TYPE_UNSPECIFIED",
            "ALPHANUMERIC",
            "CASE_INSENSITIVE_ALPHANUMERIC",
            "NUMERIC"
          ],
          "type": "string",
          "description": "Controls the rule for dimension value ordering.",
          "enumDescriptions": [
            "Unspecified.",
            "Alphanumeric sort by Unicode code point. For example, \"2\" \u003c \"A\" \u003c \"X\" \u003c \"b\" \u003c \"z\".",
            "Case insensitive alphanumeric sort by lower case Unicode code point. For example, \"2\" \u003c \"A\" \u003c \"b\" \u003c \"X\" \u003c \"z\".",
            "Dimension values are converted to numbers before sorting. For example in NUMERIC sort, \"25\" \u003c \"100\", and in `ALPHANUMERIC` sort, \"100\" \u003c \"25\". Non-numeric dimension values all have equal ordering value below all numeric values."
          ]
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAccessOrderByDimensionOrderBy"
    },
    "GoogleAnalyticsAdminV1alphaBatchGetAccessBindingsResponse": {
      "description": "Response message for BatchGetAccessBindings RPC.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaBatchGetAccessBindingsResponse",
      "properties": {
        "accessBindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
          },
          "description": "The requested access bindings."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessRow": {
      "properties": {
        "dimensionValues": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessDimensionValue"
          },
          "type": "array",
          "description": "List of dimension values. These values are in the same order as specified in the request."
        },
        "metricValues": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessMetricValue"
          },
          "description": "List of metric values. These values are in the same order as specified in the request."
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAccessRow",
      "description": "Access report data for each row."
    },
    "GoogleAnalyticsAdminV1alphaGroupingRule": {
      "properties": {
        "expression": {
          "description": "Required. The Filter Expression that defines the Grouping Rule.",
          "$ref": "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpression"
        },
        "displayName": {
          "description": "Required. Customer defined display name for the channel.",
          "type": "string"
        }
      },
      "description": "The rules that govern how traffic is grouped into one channel.",
      "id": "GoogleAnalyticsAdminV1alphaGroupingRule",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaCustomDimension": {
      "description": "A definition for a CustomDimension.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description for this custom dimension. Max length of 150 characters."
        },
        "parameterName": {
          "type": "string",
          "description": "Required. Immutable. Tagging parameter name for this custom dimension. If this is a user-scoped dimension, then this is the user property name. If this is an event-scoped dimension, then this is the event parameter name. If this is an item-scoped dimension, then this is the parameter name found in the eCommerce items array. May only contain alphanumeric and underscore characters, starting with a letter. Max length of 24 characters for user-scoped dimensions, 40 characters for event-scoped dimensions."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name for this custom dimension as shown in the Analytics UI. Max length of 82 characters, alphanumeric plus space and underscore starting with a letter. Legacy system-generated display names may contain square brackets, but updates to this field will never permit square brackets."
        },
        "disallowAdsPersonalization": {
          "description": "Optional. If set to true, sets this dimension as NPA and excludes it from ads personalization. This is currently only supported by user-scoped custom dimensions.",
          "type": "boolean"
        },
        "name": {
          "description": "Output only. Resource name for this CustomDimension resource. Format: properties/{property}/customDimensions/{customDimension}",
          "type": "string",
          "readOnly": true
        },
        "scope": {
          "enum": [
            "DIMENSION_SCOPE_UNSPECIFIED",
            "EVENT",
            "USER",
            "ITEM"
          ],
          "type": "string",
          "description": "Required. Immutable. The scope of this dimension.",
          "enumDescriptions": [
            "Scope unknown or not specified.",
            "Dimension scoped to an event.",
            "Dimension scoped to a user.",
            "Dimension scoped to eCommerce items"
          ]
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaCustomDimension"
    },
    "GoogleAnalyticsAdminV1alphaDataStreamWebStreamData": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaDataStreamWebStreamData",
      "description": "Data specific to web streams.",
      "properties": {
        "firebaseAppId": {
          "description": "Output only. ID of the corresponding web app in Firebase, if any. This ID can change if the web app is deleted and recreated.",
          "readOnly": true,
          "type": "string"
        },
        "defaultUri": {
          "type": "string",
          "description": "Domain name of the web app being measured, or empty. Example: \"http://www.google.com\", \"https://www.google.com\""
        },
        "measurementId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Analytics Measurement ID. Example: \"G-1A2BCD345E\""
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaCalculatedMetric": {
      "description": "A definition for a calculated metric.",
      "type": "object",
      "properties": {
        "invalidMetricReference": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. If true, this calculated metric has a invalid metric reference. Anything using a calculated metric with invalid_metric_reference set to true may fail, produce warnings, or produce unexpected results."
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name for this CalculatedMetric. Format: 'properties/{property_id}/calculatedMetrics/{calculated_metric_id}'",
          "readOnly": true
        },
        "metricUnit": {
          "enum": [
            "METRIC_UNIT_UNSPECIFIED",
            "STANDARD",
            "CURRENCY",
            "FEET",
            "MILES",
            "METERS",
            "KILOMETERS",
            "MILLISECONDS",
            "SECONDS",
            "MINUTES",
            "HOURS"
          ],
          "enumDescriptions": [
            "MetricUnit unspecified or missing.",
            "This metric uses default units.",
            "This metric measures a currency.",
            "This metric measures feet.",
            "This metric measures miles.",
            "This metric measures meters.",
            "This metric measures kilometers.",
            "This metric measures milliseconds.",
            "This metric measures seconds.",
            "This metric measures minutes.",
            "This metric measures hours."
          ],
          "type": "string",
          "description": "Required. The type for the calculated metric's value."
        },
        "restrictedMetricType": {
          "description": "Output only. Types of restricted data that this metric contains.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "RESTRICTED_METRIC_TYPE_UNSPECIFIED",
              "COST_DATA",
              "REVENUE_DATA"
            ],
            "enumDescriptions": [
              "Type unknown or unspecified.",
              "Metric reports cost data.",
              "Metric reports revenue data."
            ]
          }
        },
        "description": {
          "type": "string",
          "description": "Optional. Description for this calculated metric. Max length of 4096 characters."
        },
        "formula": {
          "description": "Required. The calculated metric's definition. Maximum number of unique referenced custom metrics is 5. Formulas supports the following operations: + (addition), - (subtraction), - (negative), * (multiplication), / (division), () (parenthesis). Any valid real numbers are acceptable that fit in a Long (64bit integer) or a Double (64 bit floating point number). Example formula: \"( customEvent:parameter_name + cartPurchaseQuantity ) / 2.0\"",
          "type": "string"
        },
        "calculatedMetricId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID to use for the calculated metric. In the UI, this is referred to as the \"API name.\" The calculated_metric_id is used when referencing this calculated metric from external APIs. For example, \"calcMetric:{calculated_metric_id}\"."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name for this calculated metric as shown in the Google Analytics UI. Max length 82 characters."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaCalculatedMetric"
    },
    "GoogleAnalyticsAdminV1alphaListAudiencesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "audiences": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAudience"
          },
          "description": "List of Audiences.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for ListAudiences RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListAudiencesResponse"
    },
    "GoogleAnalyticsAdminV1alphaAccessFilter": {
      "type": "object",
      "description": "An expression to filter dimension or metric values.",
      "id": "GoogleAnalyticsAdminV1alphaAccessFilter",
      "properties": {
        "inListFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessInListFilter",
          "description": "A filter for in list values."
        },
        "numericFilter": {
          "description": "A filter for numeric or date values.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessNumericFilter"
        },
        "betweenFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessBetweenFilter",
          "description": "A filter for two values."
        },
        "fieldName": {
          "type": "string",
          "description": "The dimension name or metric name."
        },
        "stringFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessStringFilter",
          "description": "Strings related filter."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaBigQueryLink": {
      "id": "GoogleAnalyticsAdminV1alphaBigQueryLink",
      "type": "object",
      "properties": {
        "excludedEvents": {
          "description": "The list of event names that will be excluded from exports.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "dailyExportEnabled": {
          "type": "boolean",
          "description": "If set true, enables daily data export to the linked Google Cloud project."
        },
        "project": {
          "type": "string",
          "description": "Immutable. The linked Google Cloud project. When creating a BigQueryLink, you may provide this resource name using either a project number or project ID. Once this resource has been created, the returned project will always have a project that contains a project number. Format: 'projects/{project number}' Example: 'projects/1234'"
        },
        "streamingExportEnabled": {
          "description": "If set true, enables streaming export to the linked Google Cloud project.",
          "type": "boolean"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of this BigQuery link. Format: 'properties/{property_id}/bigQueryLinks/{bigquery_link_id}' Format: 'properties/1234/bigQueryLinks/abc567'"
        },
        "includeAdvertisingId": {
          "type": "boolean",
          "description": "If set true, exported data will include advertising identifiers for mobile app streams."
        },
        "freshDailyExportEnabled": {
          "type": "boolean",
          "description": "If set true, enables fresh daily export to the linked Google Cloud project."
        },
        "createTime": {
          "description": "Output only. Time when the link was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "exportStreams": {
          "items": {
            "type": "string"
          },
          "description": "The list of streams under the parent property for which data will be exported. Format: properties/{property_id}/dataStreams/{stream_id} Example: ['properties/1000/dataStreams/2000']",
          "type": "array"
        }
      },
      "description": "A link between a GA4 Property and BigQuery project."
    },
    "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterInListFilter": {
      "id": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterInListFilter",
      "type": "object",
      "properties": {
        "caseSensitive": {
          "description": "Optional. If true, the match is case-sensitive. If false, the match is case-insensitive.",
          "type": "boolean"
        },
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The list of possible string values to match against. Must be non-empty."
        }
      },
      "description": "A filter for a string dimension that matches a particular list of options."
    },
    "GoogleAnalyticsAdminV1alphaChannelGroupFilter": {
      "type": "object",
      "description": "A specific filter for a single dimension.",
      "properties": {
        "stringFilter": {
          "description": "A filter for a string-type dimension that matches a particular pattern.",
          "$ref": "GoogleAnalyticsAdminV1alphaChannelGroupFilterStringFilter"
        },
        "fieldName": {
          "type": "string",
          "description": "Required. Immutable. The dimension name to filter."
        },
        "inListFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaChannelGroupFilterInListFilter",
          "description": "A filter for a string dimension that matches a particular list of options."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaChannelGroupFilter"
    },
    "GoogleAnalyticsAdminV1alphaEventCreateRule": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaEventCreateRule",
      "properties": {
        "destinationEvent": {
          "description": "Required. The name of the new event to be created. This value must: * be less than 40 characters * consist only of letters, digits or _ (underscores) * start with a letter",
          "type": "string"
        },
        "sourceCopyParameters": {
          "type": "boolean",
          "description": "If true, the source parameters are copied to the new event. If false, or unset, all non-internal parameters are not copied from the source event. Parameter mutations are applied after the parameters have been copied."
        },
        "eventConditions": {
          "description": "Required. Must have at least one condition, and can have up to 10 max. Conditions on the source event must match for this rule to be applied.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaMatchingCondition"
          },
          "type": "array"
        },
        "parameterMutations": {
          "type": "array",
          "description": "Parameter mutations define parameter behavior on the new event, and are applied in order. A maximum of 20 mutations can be applied.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaParameterMutation"
          }
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name for this EventCreateRule resource. Format: properties/{property}/dataStreams/{data_stream}/eventCreateRules/{event_create_rule}",
          "type": "string"
        }
      },
      "description": "An Event Create Rule defines conditions that will trigger the creation of an entirely new event based upon matched criteria of a source event. Additional mutations of the parameters from the source event can be defined. Unlike Event Edit rules, Event Creation Rules have no defined order. They will all be run independently. Event Edit and Event Create rules can't be used to modify an event created from an Event Create rule."
    },
    "GoogleAnalyticsAdminV1alphaAccessQuotaStatus": {
      "properties": {
        "consumed": {
          "type": "integer",
          "format": "int32",
          "description": "Quota consumed by this request."
        },
        "remaining": {
          "description": "Quota remaining after this request.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Current state for a particular quota group.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus"
    },
    "GoogleAnalyticsAdminV1alphaListAccessBindingsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListAccessBindingsResponse",
      "type": "object",
      "description": "Response message for ListAccessBindings RPC.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "accessBindings": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
          },
          "type": "array",
          "description": "List of AccessBindings. These will be ordered stably, but in an arbitrary order."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaUpdateAccessBindingRequest": {
      "type": "object",
      "description": "Request message for UpdateAccessBinding RPC.",
      "id": "GoogleAnalyticsAdminV1alphaUpdateAccessBindingRequest",
      "properties": {
        "accessBinding": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding",
          "description": "Required. The access binding to update."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaRunAccessReportResponse": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaRunAccessReportResponse",
      "description": "The customized Data Access Record Report response.",
      "properties": {
        "rowCount": {
          "type": "integer",
          "description": "The total number of rows in the query result. `rowCount` is independent of the number of rows returned in the response, the `limit` request parameter, and the `offset` request parameter. For example if a query returns 175 rows and includes `limit` of 50 in the API request, the response will contain `rowCount` of 175 but only 50 rows. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination).",
          "format": "int32"
        },
        "dimensionHeaders": {
          "type": "array",
          "description": "The header for a column in the report that corresponds to a specific dimension. The number of DimensionHeaders and ordering of DimensionHeaders matches the dimensions present in rows.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessDimensionHeader"
          }
        },
        "rows": {
          "type": "array",
          "description": "Rows of dimension value combinations and metric values in the report.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessRow"
          }
        },
        "quota": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuota",
          "description": "The quota state for this Analytics property including this request. This field doesn't work with account-level requests."
        },
        "metricHeaders": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessMetricHeader"
          },
          "description": "The header for a column in the report that corresponds to a specific metric. The number of MetricHeaders and ordering of MetricHeaders matches the metrics present in rows.",
          "type": "array"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaDataRedactionSettings": {
      "id": "GoogleAnalyticsAdminV1alphaDataRedactionSettings",
      "type": "object",
      "properties": {
        "queryParameterRedactionEnabled": {
          "description": "Query Parameter redaction removes the key and value portions of a query parameter if it is in the configured set of query parameters. If enabled, URL query replacement logic will be run for the Stream. Any query parameters defined in query_parameter_keys will be redacted.",
          "type": "boolean"
        },
        "queryParameterKeys": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The query parameter keys to apply redaction logic to if present in the URL. Query parameter matching is case-insensitive. Must contain at least one element if query_parameter_replacement_enabled is true. Keys cannot contain commas."
        },
        "name": {
          "description": "Output only. Name of this Data Redaction Settings resource. Format: properties/{property_id}/dataStreams/{data_stream}/dataRedactionSettings Example: \"properties/1000/dataStreams/2000/dataRedactionSettings\"",
          "readOnly": true,
          "type": "string"
        },
        "emailRedactionEnabled": {
          "type": "boolean",
          "description": "If enabled, any event parameter or user property values that look like an email will be redacted."
        }
      },
      "description": "Settings for client-side data redaction. Singleton resource under a Web Stream."
    },
    "GoogleAnalyticsAdminV1alphaChannelGroupFilterStringFilter": {
      "description": "Filter where the field value is a String. The match is case insensitive.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Required. The string value to be matched against.",
          "type": "string"
        },
        "matchType": {
          "description": "Required. The match type for the string filter.",
          "type": "string",
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "BEGINS_WITH",
            "ENDS_WITH",
            "CONTAINS",
            "FULL_REGEXP",
            "PARTIAL_REGEXP"
          ],
          "enumDescriptions": [
            "Default match type.",
            "Exact match of the string value.",
            "Begins with the string value.",
            "Ends with the string value.",
            "Contains the string value.",
            "Full regular expression match with the string value.",
            "Partial regular expression match with the string value."
          ]
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaChannelGroupFilterStringFilter"
    },
    "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource": {
      "properties": {
        "attributionSettings": {
          "$ref": "GoogleAnalyticsAdminV1alphaAttributionSettings",
          "description": "A snapshot of AttributionSettings resource in change history."
        },
        "property": {
          "description": "A snapshot of a Property resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaProperty"
        },
        "googleSignalsSettings": {
          "$ref": "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings",
          "description": "A snapshot of a GoogleSignalsSettings resource in change history."
        },
        "bigqueryLink": {
          "$ref": "GoogleAnalyticsAdminV1alphaBigQueryLink",
          "description": "A snapshot of a BigQuery link resource in change history."
        },
        "dataRetentionSettings": {
          "$ref": "GoogleAnalyticsAdminV1alphaDataRetentionSettings",
          "description": "A snapshot of a data retention settings resource in change history."
        },
        "displayVideo360AdvertiserLink": {
          "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink",
          "description": "A snapshot of a DisplayVideo360AdvertiserLink resource in change history."
        },
        "firebaseLink": {
          "$ref": "GoogleAnalyticsAdminV1alphaFirebaseLink",
          "description": "A snapshot of a FirebaseLink resource in change history."
        },
        "googleAdsLink": {
          "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink",
          "description": "A snapshot of a GoogleAdsLink resource in change history."
        },
        "customDimension": {
          "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension",
          "description": "A snapshot of a CustomDimension resource in change history."
        },
        "displayVideo360AdvertiserLinkProposal": {
          "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLinkProposal",
          "description": "A snapshot of a DisplayVideo360AdvertiserLinkProposal resource in change history."
        },
        "enhancedMeasurementSettings": {
          "description": "A snapshot of EnhancedMeasurementSettings resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings"
        },
        "customMetric": {
          "description": "A snapshot of a CustomMetric resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric"
        },
        "searchAds360Link": {
          "$ref": "GoogleAnalyticsAdminV1alphaSearchAds360Link",
          "description": "A snapshot of a SearchAds360Link resource in change history."
        },
        "adsenseLink": {
          "$ref": "GoogleAnalyticsAdminV1alphaAdSenseLink",
          "description": "A snapshot of an AdSenseLink resource in change history."
        },
        "measurementProtocolSecret": {
          "description": "A snapshot of a MeasurementProtocolSecret resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret"
        },
        "dataRedactionSettings": {
          "$ref": "GoogleAnalyticsAdminV1alphaDataRedactionSettings",
          "description": "A snapshot of DataRedactionSettings resource in change history."
        },
        "dataStream": {
          "description": "A snapshot of a DataStream resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaDataStream"
        },
        "account": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccount",
          "description": "A snapshot of an Account resource in change history."
        },
        "skadnetworkConversionValueSchema": {
          "$ref": "GoogleAnalyticsAdminV1alphaSKAdNetworkConversionValueSchema",
          "description": "A snapshot of SKAdNetworkConversionValueSchema resource in change history."
        },
        "calculatedMetric": {
          "$ref": "GoogleAnalyticsAdminV1alphaCalculatedMetric",
          "description": "A snapshot of a CalculatedMetric resource in change history."
        },
        "conversionEvent": {
          "description": "A snapshot of a ConversionEvent resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaConversionEvent"
        },
        "expandedDataSet": {
          "description": "A snapshot of an ExpandedDataSet resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSet"
        },
        "audience": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudience",
          "description": "A snapshot of an Audience resource in change history."
        },
        "eventCreateRule": {
          "description": "A snapshot of an EventCreateRule resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaEventCreateRule"
        },
        "channelGroup": {
          "description": "A snapshot of a ChannelGroup resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaChannelGroup"
        }
      },
      "type": "object",
      "description": "A snapshot of a resource as before or after the result of a change in change history.",
      "id": "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource"
    },
    "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterBetweenFilter": {
      "description": "A filter for numeric or date values between certain values on a dimension or metric.",
      "id": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterBetweenFilter",
      "properties": {
        "toValue": {
          "description": "Required. Ends with this number, inclusive.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue"
        },
        "fromValue": {
          "description": "Required. Begins with this number, inclusive.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue"
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterClause": {
      "description": "A clause for defining a filter. A filter may be inclusive (events satisfying the filter clause are included in the subproperty's data) or exclusive (events satisfying the filter clause are excluded from the subproperty's data).",
      "id": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterClause",
      "properties": {
        "filterExpression": {
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression",
          "description": "Required. The logical expression for what events are sent to the subproperty."
        },
        "filterClauseType": {
          "enumDescriptions": [
            "Filter clause type unknown or not specified.",
            "Events will be included in the Sub property if the filter clause is met.",
            "Events will be excluded from the Sub property if the filter clause is met."
          ],
          "enum": [
            "FILTER_CLAUSE_TYPE_UNSPECIFIED",
            "INCLUDE",
            "EXCLUDE"
          ],
          "description": "Required. The type for the filter clause.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListAccountsResponse": {
      "type": "object",
      "properties": {
        "accounts": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccount"
          },
          "type": "array",
          "description": "Results that were accessible to the caller."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Request message for ListAccounts RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListAccountsResponse"
    },
    "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericFilter": {
      "properties": {
        "value": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue",
          "description": "Required. The numeric or date value to match against."
        },
        "operation": {
          "description": "Required. The operation applied to a numeric filter.",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "EQUAL",
            "LESS_THAN",
            "GREATER_THAN"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Equal.",
            "Less than.",
            "Greater than."
          ]
        }
      },
      "description": "A filter for numeric or date values on a dimension or metric.",
      "id": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericFilter",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpressionList": {
      "properties": {
        "filterExpressions": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpression"
          },
          "description": "A list of ExpandedDataSet filter expressions.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "A list of ExpandedDataSet filter expressions.",
      "id": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpressionList"
    },
    "GoogleAnalyticsAdminV1alphaParameterMutation": {
      "id": "GoogleAnalyticsAdminV1alphaParameterMutation",
      "properties": {
        "parameterValue": {
          "type": "string",
          "description": "Required. The value mutation to perform. * Must be less than 100 characters. * To specify a constant value for the param, use the value's string. * To copy value from another parameter, use syntax like \"[[other_parameter]]\" For more details, see this [help center article](https://support.google.com/analytics/answer/10085872#modify-an-event&zippy=%2Cin-this-article%2Cmodify-parameters)."
        },
        "parameter": {
          "type": "string",
          "description": "Required. The name of the parameter to mutate. This value must: * be less than 40 characters. * be unique across across all mutations within the rule * consist only of letters, digits or _ (underscores) For event edit rules, the name may also be set to 'event_name' to modify the event_name in place."
        }
      },
      "description": "Defines an event parameter to mutate.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings": {
      "properties": {
        "streamEnabled": {
          "description": "Indicates whether Enhanced Measurement Settings will be used to automatically measure interactions and content on this web stream. Changing this value does not affect the settings themselves, but determines whether they are respected.",
          "type": "boolean"
        },
        "uriQueryParameter": {
          "type": "string",
          "description": "Additional URL query parameters. Max length is 1024 characters."
        },
        "siteSearchEnabled": {
          "type": "boolean",
          "description": "If enabled, capture a view search results event each time a visitor performs a search on your site (based on a query parameter)."
        },
        "pageChangesEnabled": {
          "description": "If enabled, capture a page view event each time the website changes the browser history state.",
          "type": "boolean"
        },
        "name": {
          "description": "Output only. Resource name of the Enhanced Measurement Settings. Format: properties/{property_id}/dataStreams/{data_stream}/enhancedMeasurementSettings Example: \"properties/1000/dataStreams/2000/enhancedMeasurementSettings\"",
          "readOnly": true,
          "type": "string"
        },
        "searchQueryParameter": {
          "description": "Required. URL query parameters to interpret as site search parameters. Max length is 1024 characters. Must not be empty.",
          "type": "string"
        },
        "outboundClicksEnabled": {
          "type": "boolean",
          "description": "If enabled, capture an outbound click event each time a visitor clicks a link that leads them away from your domain."
        },
        "formInteractionsEnabled": {
          "type": "boolean",
          "description": "If enabled, capture a form interaction event each time a visitor interacts with a form on your website. False by default."
        },
        "videoEngagementEnabled": {
          "description": "If enabled, capture video play, progress, and complete events as visitors view embedded videos on your site.",
          "type": "boolean"
        },
        "fileDownloadsEnabled": {
          "type": "boolean",
          "description": "If enabled, capture a file download event each time a link is clicked with a common document, compressed file, application, video, or audio extension."
        },
        "scrollsEnabled": {
          "description": "If enabled, capture scroll events each time a visitor gets to the bottom of a page.",
          "type": "boolean"
        }
      },
      "description": "Singleton resource under a web DataStream, configuring measurement of additional site interactions and content.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings"
    },
    "GoogleAnalyticsAdminV1alphaCreateSubpropertyRequest": {
      "description": "Request message for CreateSubproperty RPC.",
      "properties": {
        "subpropertyEventFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter",
          "description": "Optional. The subproperty event filter to create on an ordinary property."
        },
        "parent": {
          "type": "string",
          "description": "Required. The ordinary property for which to create a subproperty. Format: properties/property_id Example: properties/123"
        },
        "subproperty": {
          "description": "Required. The subproperty to create.",
          "$ref": "GoogleAnalyticsAdminV1alphaProperty"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaCreateSubpropertyRequest"
    },
    "GoogleAnalyticsAdminV1alphaAttributionSettings": {
      "type": "object",
      "properties": {
        "reportingAttributionModel": {
          "enumDescriptions": [
            "Reporting attribution model unspecified.",
            "Data-driven attribution distributes credit for the conversion based on data for each conversion event. Each Data-driven model is specific to each advertiser and each conversion event. Previously CROSS_CHANNEL_DATA_DRIVEN",
            "Ignores direct traffic and attributes 100% of the conversion value to the last channel that the customer clicked through (or engaged view through for YouTube) before converting. Previously CROSS_CHANNEL_LAST_CLICK",
            "Attributes 100% of the conversion value to the last Google Paid channel that the customer clicked through before converting. Previously ADS_PREFERRED_LAST_CLICK"
          ],
          "description": "Required. The reporting attribution model used to calculate conversion credit in this property's reports. Changing the attribution model will apply to both historical and future data. These changes will be reflected in reports with conversion and revenue data. User and session data will be unaffected.",
          "enum": [
            "REPORTING_ATTRIBUTION_MODEL_UNSPECIFIED",
            "PAID_AND_ORGANIC_CHANNELS_DATA_DRIVEN",
            "PAID_AND_ORGANIC_CHANNELS_LAST_CLICK",
            "GOOGLE_PAID_CHANNELS_LAST_CLICK"
          ],
          "type": "string"
        },
        "acquisitionConversionEventLookbackWindow": {
          "enumDescriptions": [
            "Lookback window size unspecified.",
            "7-day lookback window.",
            "30-day lookback window."
          ],
          "enum": [
            "ACQUISITION_CONVERSION_EVENT_LOOKBACK_WINDOW_UNSPECIFIED",
            "ACQUISITION_CONVERSION_EVENT_LOOKBACK_WINDOW_7_DAYS",
            "ACQUISITION_CONVERSION_EVENT_LOOKBACK_WINDOW_30_DAYS"
          ],
          "description": "Required. The lookback window configuration for acquisition conversion events. The default window size is 30 days.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name of this attribution settings resource. Format: properties/{property_id}/attributionSettings Example: \"properties/1000/attributionSettings\"",
          "type": "string",
          "readOnly": true
        },
        "otherConversionEventLookbackWindow": {
          "enumDescriptions": [
            "Lookback window size unspecified.",
            "30-day lookback window.",
            "60-day lookback window.",
            "90-day lookback window."
          ],
          "type": "string",
          "enum": [
            "OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_UNSPECIFIED",
            "OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_30_DAYS",
            "OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_60_DAYS",
            "OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_90_DAYS"
          ],
          "description": "Required. The lookback window for all other, non-acquisition conversion events. The default window size is 90 days."
        },
        "adsWebConversionDataExportScope": {
          "enum": [
            "ADS_WEB_CONVERSION_DATA_EXPORT_SCOPE_UNSPECIFIED",
            "NOT_SELECTED_YET",
            "PAID_AND_ORGANIC_CHANNELS",
            "GOOGLE_PAID_CHANNELS"
          ],
          "description": "Required. The Conversion Export Scope for data exported to linked Ads Accounts.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "No data export scope selected yet. Export scope can never be changed back to this value.",
            "Paid and organic channels are eligible to receive conversion credit, but only credit assigned to Google Ads channels will appear in your Ads accounts. To learn more, see [Paid and Organic channels](https://support.google.com/analytics/answer/10632359).",
            "Only Google Ads paid channels are eligible to receive conversion credit. To learn more, see [Google Paid channels](https://support.google.com/analytics/answer/10632359)."
          ],
          "type": "string"
        }
      },
      "description": "The attribution settings used for a given property. This is a singleton resource.",
      "id": "GoogleAnalyticsAdminV1alphaAttributionSettings"
    },
    "GoogleAnalyticsAdminV1alphaListSubpropertyEventFiltersResponse": {
      "properties": {
        "subpropertyEventFilters": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter"
          },
          "type": "array",
          "description": "List of subproperty event filters."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for ListSubpropertyEventFilter RPC.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListSubpropertyEventFiltersResponse"
    },
    "GoogleAnalyticsAdminV1alphaAudience": {
      "properties": {
        "description": {
          "description": "Required. The description of the Audience.",
          "type": "string"
        },
        "exclusionDurationMode": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Exclude users from the Audience during periods when they meet the filter clause.",
            "Exclude users from the Audience if they've ever met the filter clause."
          ],
          "description": "Immutable. Specifies how long an exclusion lasts for users that meet the exclusion filter. It is applied to all EXCLUDE filter clauses and is ignored when there is no EXCLUDE filter clause in the Audience.",
          "enum": [
            "AUDIENCE_EXCLUSION_DURATION_MODE_UNSPECIFIED",
            "EXCLUDE_TEMPORARILY",
            "EXCLUDE_PERMANENTLY"
          ]
        },
        "membershipDurationDays": {
          "format": "int32",
          "description": "Required. Immutable. The duration a user should stay in an Audience. It cannot be set to more than 540 days.",
          "type": "integer"
        },
        "filterClauses": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterClause"
          },
          "type": "array",
          "description": "Required. Immutable. Unordered list. Filter clauses that define the Audience. All clauses will be AND’ed together."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name for this Audience resource. Format: properties/{propertyId}/audiences/{audienceId}"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the Audience."
        },
        "eventTrigger": {
          "description": "Optional. Specifies an event to log when a user joins the Audience. If not set, no event is logged when a user joins the Audience.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceEventTrigger"
        },
        "adsPersonalizationEnabled": {
          "description": "Output only. It is automatically set by GA to false if this is an NPA Audience and is excluded from ads personalization.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAudience",
      "description": "A resource message representing a GA4 Audience."
    },
    "GoogleAnalyticsAdminV1alphaDeleteAccessBindingRequest": {
      "description": "Request message for DeleteAccessBinding RPC.",
      "properties": {
        "name": {
          "description": "Required. Formats: - accounts/{account}/accessBindings/{accessBinding} - properties/{property}/accessBindings/{accessBinding}",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaDeleteAccessBindingRequest",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaChangeHistoryChange": {
      "id": "GoogleAnalyticsAdminV1alphaChangeHistoryChange",
      "description": "A description of a change to a single Google Analytics resource.",
      "properties": {
        "resourceAfterChange": {
          "description": "Resource contents from after the change was made. If this resource was deleted in this change, this field will be missing.",
          "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource"
        },
        "action": {
          "description": "The type of action that changed this resource.",
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "CREATED",
            "UPDATED",
            "DELETED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Action type unknown or not specified.",
            "Resource was created in this change.",
            "Resource was updated in this change.",
            "Resource was deleted in this change."
          ]
        },
        "resourceBeforeChange": {
          "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource",
          "description": "Resource contents from before the change was made. If this resource was created in this change, this field will be missing."
        },
        "resource": {
          "type": "string",
          "description": "Resource name of the resource whose changes are described by this entry."
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaSetAutomatedGa4ConfigurationOptOutResponse": {
      "properties": {},
      "description": "Response message for setting the opt out status for the automated GA4 setup process.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaSetAutomatedGa4ConfigurationOptOutResponse"
    },
    "GoogleAnalyticsAdminV1alphaLinkProposalStatusDetails": {
      "description": "Status information for a link proposal.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaLinkProposalStatusDetails",
      "properties": {
        "linkProposalState": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified state",
            "This proposal is awaiting review from a Google Analytics user. This proposal will automatically expire after some time.",
            "This proposal is awaiting review from a user of a linked product. This proposal will automatically expire after some time.",
            "This proposal has been withdrawn by an admin on the initiating product. This proposal will be automatically deleted after some time.",
            "This proposal has been declined by an admin on the receiving product. This proposal will be automatically deleted after some time.",
            "This proposal expired due to lack of response from an admin on the receiving product. This proposal will be automatically deleted after some time.",
            "This proposal has become obsolete because a link was directly created to the same external product resource that this proposal specifies. This proposal will be automatically deleted after some time."
          ],
          "description": "Output only. The state of this proposal.",
          "enum": [
            "LINK_PROPOSAL_STATE_UNSPECIFIED",
            "AWAITING_REVIEW_FROM_GOOGLE_ANALYTICS",
            "AWAITING_REVIEW_FROM_LINKED_PRODUCT",
            "WITHDRAWN",
            "DECLINED",
            "EXPIRED",
            "OBSOLETE"
          ],
          "readOnly": true
        },
        "requestorEmail": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The email address of the user that proposed this linkage."
        },
        "linkProposalInitiatingProduct": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified product.",
            "This proposal was created by a user from Google Analytics.",
            "This proposal was created by a user from a linked product (not Google Analytics)."
          ],
          "enum": [
            "LINK_PROPOSAL_INITIATING_PRODUCT_UNSPECIFIED",
            "GOOGLE_ANALYTICS",
            "LINKED_PRODUCT"
          ],
          "description": "Output only. The source of this proposal."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterStringFilter": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterStringFilter",
      "properties": {
        "matchType": {
          "description": "Required. The match type for the string filter.",
          "enumDescriptions": [
            "Unspecified",
            "Exact match of the string value.",
            "Contains the string value."
          ],
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "CONTAINS"
          ],
          "type": "string"
        },
        "caseSensitive": {
          "type": "boolean",
          "description": "Optional. If true, the match is case-sensitive. If false, the match is case-insensitive. Must be true when match_type is EXACT. Must be false when match_type is CONTAINS."
        },
        "value": {
          "description": "Required. The string value to be matched against.",
          "type": "string"
        }
      },
      "description": "A filter for a string-type dimension that matches a particular pattern."
    },
    "GoogleAnalyticsAdminV1alphaListMeasurementProtocolSecretsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListMeasurementProtocolSecretsResponse",
      "type": "object",
      "description": "Response message for ListMeasurementProtocolSecret RPC",
      "properties": {
        "measurementProtocolSecrets": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret"
          },
          "description": "A list of secrets for the parent stream specified in the request."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessFilterExpressionList": {
      "id": "GoogleAnalyticsAdminV1alphaAccessFilterExpressionList",
      "properties": {
        "expressions": {
          "type": "array",
          "description": "A list of filter expressions.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessFilterExpression"
          }
        }
      },
      "type": "object",
      "description": "A list of filter expressions."
    },
    "GoogleAnalyticsAdminV1alphaListSearchAds360LinksResponse": {
      "description": "Response message for ListSearchAds360Links RPC.",
      "properties": {
        "searchAds360Links": {
          "type": "array",
          "description": "List of SearchAds360Links.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaSearchAds360Link"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListSearchAds360LinksResponse"
    },
    "GoogleAnalyticsAdminV1alphaAudienceFilterExpressionList": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAudienceFilterExpressionList",
      "description": "A list of Audience filter expressions.",
      "properties": {
        "filterExpressions": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpression"
          },
          "type": "array",
          "description": "A list of Audience filter expressions."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaProvisionAccountTicketResponse": {
      "description": "Response message for ProvisionAccountTicket RPC.",
      "properties": {
        "accountTicketId": {
          "type": "string",
          "description": "The param to be passed in the ToS link."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaProvisionAccountTicketResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaFetchAutomatedGa4ConfigurationOptOutResponse": {
      "description": "Response message for fetching the opt out status for the automated GA4 setup process.",
      "type": "object",
      "properties": {
        "optOut": {
          "type": "boolean",
          "description": "The opt out status for the UA property."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaFetchAutomatedGa4ConfigurationOptOutResponse"
    },
    "GoogleAnalyticsAdminV1alphaListConnectedSiteTagsRequest": {
      "type": "object",
      "properties": {
        "property": {
          "description": "The Universal Analytics property to fetch connected site tags for. This does not work on GA4 properties. A maximum of 20 connected site tags will be returned. Example Format: `properties/1234`",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListConnectedSiteTagsRequest",
      "description": "Request message for ListConnectedSiteTags RPC."
    },
    "GoogleAnalyticsAdminV1alphaDataStreamAndroidAppStreamData": {
      "description": "Data specific to Android app streams.",
      "id": "GoogleAnalyticsAdminV1alphaDataStreamAndroidAppStreamData",
      "properties": {
        "firebaseAppId": {
          "description": "Output only. ID of the corresponding Android app in Firebase, if any. This ID can change if the Android app is deleted and recreated.",
          "readOnly": true,
          "type": "string"
        },
        "packageName": {
          "type": "string",
          "description": "Immutable. The package name for the app being measured. Example: \"com.example.myandroidapp\""
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAdSenseLink": {
      "description": "A link between a GA4 Property and an AdSense for Content ad client.",
      "id": "GoogleAnalyticsAdminV1alphaAdSenseLink",
      "type": "object",
      "properties": {
        "adClientCode": {
          "description": "Immutable. The AdSense ad client code that the GA4 property is linked to. Example format: \"ca-pub-1234567890\"",
          "type": "string"
        },
        "name": {
          "description": "Output only. The resource name for this AdSense Link resource. Format: properties/{propertyId}/adSenseLinks/{linkId} Example: properties/1234/adSenseLinks/6789",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsRequest": {
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCreateAccessBindingRequest"
          },
          "description": "Required. The requests specifying the access bindings to create. A maximum of 1000 access bindings can be created in a batch."
        }
      },
      "description": "Request message for BatchCreateAccessBindings RPC.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsRequest"
    },
    "GoogleAnalyticsAdminV1alphaListGoogleAdsLinksResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListGoogleAdsLinksResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "googleAdsLinks": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink"
          },
          "description": "List of GoogleAdsLinks.",
          "type": "array"
        }
      },
      "description": "Response message for ListGoogleAdsLinks RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLinkProposal": {
      "type": "object",
      "description": "A proposal for a link between a GA4 property and a Display & Video 360 advertiser. A proposal is converted to a DisplayVideo360AdvertiserLink once approved. Google Analytics admins approve inbound proposals while Display & Video 360 admins approve outbound proposals.",
      "properties": {
        "name": {
          "description": "Output only. The resource name for this DisplayVideo360AdvertiserLinkProposal resource. Format: properties/{propertyId}/displayVideo360AdvertiserLinkProposals/{proposalId} Note: proposalId is not the Display & Video 360 Advertiser ID",
          "readOnly": true,
          "type": "string"
        },
        "advertiserDisplayName": {
          "type": "string",
          "description": "Output only. The display name of the Display & Video Advertiser. Only populated for proposals that originated from Display & Video 360.",
          "readOnly": true
        },
        "advertiserId": {
          "type": "string",
          "description": "Immutable. The Display & Video 360 Advertiser's advertiser ID."
        },
        "campaignDataSharingEnabled": {
          "type": "boolean",
          "description": "Immutable. Enables the import of campaign data from Display & Video 360. If this field is not set on create, it will be defaulted to true."
        },
        "adsPersonalizationEnabled": {
          "type": "boolean",
          "description": "Immutable. Enables personalized advertising features with this integration. If this field is not set on create, it will be defaulted to true."
        },
        "linkProposalStatusDetails": {
          "readOnly": true,
          "description": "Output only. The status information for this link proposal.",
          "$ref": "GoogleAnalyticsAdminV1alphaLinkProposalStatusDetails"
        },
        "costDataSharingEnabled": {
          "type": "boolean",
          "description": "Immutable. Enables the import of cost data from Display & Video 360. This can only be enabled if campaign_data_sharing_enabled is enabled. If this field is not set on create, it will be defaulted to true."
        },
        "validationEmail": {
          "type": "string",
          "description": "Input only. On a proposal being sent to Display & Video 360, this field must be set to the email address of an admin on the target advertiser. This is used to verify that the Google Analytics admin is aware of at least one admin on the Display & Video 360 Advertiser. This does not restrict approval of the proposal to a single user. Any admin on the Display & Video 360 Advertiser may approve the proposal."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLinkProposal"
    },
    "GoogleAnalyticsAdminV1alphaConversionEventDefaultConversionValue": {
      "description": "Defines a default value/currency for a conversion event. Both value and currency must be provided.",
      "properties": {
        "value": {
          "type": "number",
          "format": "double",
          "description": "This value will be used to populate the value for all conversions of the specified event_name where the event \"value\" parameter is unset."
        },
        "currencyCode": {
          "description": "When a conversion event for this event_name has no set currency, this currency will be applied as the default. Must be in ISO 4217 currency code format. See https://en.wikipedia.org/wiki/ISO_4217 for more information.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaConversionEventDefaultConversionValue",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaChannelGroupFilterInListFilter": {
      "description": "A filter for a string dimension that matches a particular list of options. The match is case insensitive.",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "description": "Required. The list of possible string values to match against. Must be non-empty.",
          "type": "array"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaChannelGroupFilterInListFilter",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessBinding": {
      "id": "GoogleAnalyticsAdminV1alphaAccessBinding",
      "type": "object",
      "description": "A binding of a user to a set of roles.",
      "properties": {
        "name": {
          "description": "Output only. Resource name of this binding. Format: accounts/{account}/accessBindings/{access_binding} or properties/{property}/accessBindings/{access_binding} Example: \"accounts/100/accessBindings/200\"",
          "readOnly": true,
          "type": "string"
        },
        "roles": {
          "type": "array",
          "description": "A list of roles for to grant to the parent resource. Valid values: predefinedRoles/viewer predefinedRoles/analyst predefinedRoles/editor predefinedRoles/admin predefinedRoles/no-cost-data predefinedRoles/no-revenue-data For users, if an empty list of roles is set, this AccessBinding will be deleted.",
          "items": {
            "type": "string"
          }
        },
        "user": {
          "type": "string",
          "description": "If set, the email address of the user to set roles for. Format: \"someuser@gmail.com\""
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListConversionEventsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "conversionEvents": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaConversionEvent"
          },
          "type": "array",
          "description": "The requested conversion events"
        }
      },
      "type": "object",
      "description": "Response message for ListConversionEvents RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListConversionEventsResponse"
    },
    "GoogleAnalyticsAdminV1alphaRunAccessReportRequest": {
      "description": "The request for a Data Access Record Report.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaRunAccessReportRequest",
      "properties": {
        "metricFilter": {
          "description": "Metric filters allow you to restrict report response to specific metric values which match the filter. Metric filters are applied after aggregating the report's rows, similar to SQL having-clause. Dimensions cannot be used in this filter.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessFilterExpression"
        },
        "limit": {
          "format": "int64",
          "type": "string",
          "description": "The number of rows to return. If unspecified, 10,000 rows are returned. The API returns a maximum of 100,000 rows per request, no matter how many you ask for. `limit` must be positive. The API may return fewer rows than the requested `limit`, if there aren't as many remaining rows as the `limit`. For instance, there are fewer than 300 possible values for the dimension `country`, so when reporting on only `country`, you can't get more than 300 rows, even if you set `limit` to a higher value. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination)."
[...]
