{
  "description": "",
  "canonicalName": "Google Analytics Admin",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "discoveryVersion": "v1",
  "basePath": "",
  "schemas": {
    "GoogleAnalyticsAdminV1betaDataStreamAndroidAppStreamData": {
      "properties": {
        "packageName": {
          "type": "string",
          "description": "Immutable. The package name for the app being measured. Example: \"com.example.myandroidapp\""
        },
        "firebaseAppId": {
          "description": "Output only. ID of the corresponding Android app in Firebase, if any. This ID can change if the Android app is deleted and recreated.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Data specific to Android app streams.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaDataStreamAndroidAppStreamData"
    },
    "GoogleAnalyticsAdminV1betaAccessBetweenFilter": {
      "type": "object",
      "description": "To express that the result needs to be between two numbers (inclusive).",
      "id": "GoogleAnalyticsAdminV1betaAccessBetweenFilter",
      "properties": {
        "fromValue": {
          "$ref": "GoogleAnalyticsAdminV1betaNumericValue",
          "description": "Begins with this number."
        },
        "toValue": {
          "$ref": "GoogleAnalyticsAdminV1betaNumericValue",
          "description": "Ends with this number."
        }
      }
    },
    "GoogleAnalyticsAdminV1betaProvisionAccountTicketRequest": {
      "description": "Request message for ProvisionAccountTicket RPC.",
      "properties": {
        "redirectUri": {
          "type": "string",
          "description": "Redirect URI where the user will be sent after accepting Terms of Service. Must be configured in Cloud Console as a Redirect URI."
        },
        "account": {
          "$ref": "GoogleAnalyticsAdminV1betaAccount",
          "description": "The account to create."
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaProvisionAccountTicketRequest"
    },
    "GoogleAnalyticsAdminV1betaDataStream": {
      "properties": {
        "type": {
          "description": "Required. Immutable. The type of this DataStream resource.",
          "enumDescriptions": [
            "Type unknown or not specified.",
            "Web data stream.",
            "Android app data stream.",
            "iOS app data stream."
          ],
          "type": "string",
          "enum": [
            "DATA_STREAM_TYPE_UNSPECIFIED",
            "WEB_DATA_STREAM",
            "ANDROID_APP_DATA_STREAM",
            "IOS_APP_DATA_STREAM"
          ]
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of this Data Stream. Format: properties/{property_id}/dataStreams/{stream_id} Example: \"properties/1000/dataStreams/2000\"",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when stream payload fields were last updated."
        },
        "webStreamData": {
          "description": "Data specific to web streams. Must be populated if type is WEB_DATA_STREAM.",
          "$ref": "GoogleAnalyticsAdminV1betaDataStreamWebStreamData"
        },
        "iosAppStreamData": {
          "description": "Data specific to iOS app streams. Must be populated if type is IOS_APP_DATA_STREAM.",
          "$ref": "GoogleAnalyticsAdminV1betaDataStreamIosAppStreamData"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when this stream was originally created.",
          "readOnly": true
        },
        "androidAppStreamData": {
          "$ref": "GoogleAnalyticsAdminV1betaDataStreamAndroidAppStreamData",
          "description": "Data specific to Android app streams. Must be populated if type is ANDROID_APP_DATA_STREAM."
        },
        "displayName": {
          "type": "string",
          "description": "Human-readable display name for the Data Stream. Required for web data streams. The max allowed display name length is 255 UTF-16 code units."
        }
      },
      "type": "object",
      "description": "A resource message representing a data stream.",
      "id": "GoogleAnalyticsAdminV1betaDataStream"
    },
    "GoogleAnalyticsAdminV1betaProvisionAccountTicketResponse": {
      "description": "Response message for ProvisionAccountTicket RPC.",
      "id": "GoogleAnalyticsAdminV1betaProvisionAccountTicketResponse",
      "type": "object",
      "properties": {
        "accountTicketId": {
          "description": "The param to be passed in the ToS link.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessOrderByDimensionOrderBy": {
      "id": "GoogleAnalyticsAdminV1betaAccessOrderByDimensionOrderBy",
      "description": "Sorts by dimension values.",
      "properties": {
        "dimensionName": {
          "description": "A dimension name in the request to order by.",
          "type": "string"
        },
        "orderType": {
          "enum": [
            "ORDER_TYPE_UNSPECIFIED",
            "ALPHANUMERIC",
            "CASE_INSENSITIVE_ALPHANUMERIC",
            "NUMERIC"
          ],
          "type": "string",
          "description": "Controls the rule for dimension value ordering.",
          "enumDescriptions": [
            "Unspecified.",
            "Alphanumeric sort by Unicode code point. For example, \"2\" \u003c \"A\" \u003c \"X\" \u003c \"b\" \u003c \"z\".",
            "Case insensitive alphanumeric sort by lower case Unicode code point. For example, \"2\" \u003c \"A\" \u003c \"b\" \u003c \"X\" \u003c \"z\".",
            "Dimension values are converted to numbers before sorting. For example in NUMERIC sort, \"25\" \u003c \"100\", and in `ALPHANUMERIC` sort, \"100\" \u003c \"25\". Non-numeric dimension values all have equal ordering value below all numeric values."
          ]
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaListGoogleAdsLinksResponse": {
      "description": "Response message for ListGoogleAdsLinks RPC.",
      "type": "object",
      "properties": {
        "googleAdsLinks": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaGoogleAdsLink"
          },
          "description": "List of GoogleAdsLinks."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleAnalyticsAdminV1betaListGoogleAdsLinksResponse"
    },
    "GoogleAnalyticsAdminV1betaAccessRow": {
      "id": "GoogleAnalyticsAdminV1betaAccessRow",
      "type": "object",
      "properties": {
        "metricValues": {
          "type": "array",
          "description": "List of metric values. These values are in the same order as specified in the request.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessMetricValue"
          }
        },
        "dimensionValues": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessDimensionValue"
          },
          "description": "List of dimension values. These values are in the same order as specified in the request."
        }
      },
      "description": "Access report data for each row."
    },
    "GoogleAnalyticsAdminV1betaAccessMetricHeader": {
      "properties": {
        "metricName": {
          "description": "The metric's name; for example 'accessCount'.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Describes a metric column in the report. Visible metrics requested in a report produce column entries within rows and MetricHeaders. However, metrics used exclusively within filters or expressions do not produce columns in a report; correspondingly, those metrics do not produce headers.",
      "id": "GoogleAnalyticsAdminV1betaAccessMetricHeader"
    },
    "GoogleAnalyticsAdminV1betaRunAccessReportRequest": {
      "description": "The request for a Data Access Record Report.",
      "id": "GoogleAnalyticsAdminV1betaRunAccessReportRequest",
      "properties": {
        "offset": {
          "description": "The row count of the start row. The first row is counted as row 0. If offset is unspecified, it is treated as 0. If offset is zero, then this method will return the first page of results with `limit` entries. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination).",
          "type": "string",
          "format": "int64"
        },
        "returnEntityQuota": {
          "description": "Toggles whether to return the current state of this Analytics Property's quota. Quota is returned in [AccessQuota](#AccessQuota). For account-level requests, this field must be false.",
          "type": "boolean"
        },
        "timeZone": {
          "description": "This request's time zone if specified. If unspecified, the property's time zone is used. The request's time zone is used to interpret the start & end dates of the report. Formatted as strings from the IANA Time Zone database (https://www.iana.org/time-zones); for example \"America/New_York\" or \"Asia/Tokyo\".",
          "type": "string"
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessMetric"
          },
          "description": "The metrics requested and displayed in the response. Requests are allowed up to 10 metrics."
        },
        "dateRanges": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessDateRange"
          },
          "description": "Date ranges of access records to read. If multiple date ranges are requested, each response row will contain a zero based date range index. If two date ranges overlap, the access records for the overlapping days is included in the response rows for both date ranges. Requests are allowed up to 2 date ranges.",
          "type": "array"
        },
        "orderBys": {
          "description": "Specifies how rows are ordered in the response.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessOrderBy"
          },
          "type": "array"
        },
        "dimensionFilter": {
          "description": "Dimension filters let you restrict report response to specific dimension values which match the filter. For example, filtering on access records of a single user. To learn more, see [Fundamentals of Dimension Filters](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#dimension_filters) for examples. Metrics cannot be used in this filter.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilterExpression"
        },
        "dimensions": {
          "type": "array",
          "description": "The dimensions requested and displayed in the response. Requests are allowed up to 9 dimensions.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessDimension"
          }
        },
        "limit": {
          "format": "int64",
          "type": "string",
          "description": "The number of rows to return. If unspecified, 10,000 rows are returned. The API returns a maximum of 100,000 rows per request, no matter how many you ask for. `limit` must be positive. The API may return fewer rows than the requested `limit`, if there aren't as many remaining rows as the `limit`. For instance, there are fewer than 300 possible values for the dimension `country`, so when reporting on only `country`, you can't get more than 300 rows, even if you set `limit` to a higher value. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination)."
        },
        "metricFilter": {
          "description": "Metric filters allow you to restrict report response to specific metric values which match the filter. Metric filters are applied after aggregating the report's rows, similar to SQL having-clause. Dimensions cannot be used in this filter.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilterExpression"
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaNumericValue": {
      "properties": {
        "int64Value": {
          "format": "int64",
          "type": "string",
          "description": "Integer value"
        },
        "doubleValue": {
          "format": "double",
          "type": "number",
          "description": "Double value"
        }
      },
      "description": "To represent a number.",
      "id": "GoogleAnalyticsAdminV1betaNumericValue",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaListConversionEventsResponse": {
      "description": "Response message for ListConversionEvents RPC.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "conversionEvents": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaConversionEvent"
          },
          "type": "array",
          "description": "The requested conversion events"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaListConversionEventsResponse"
    },
    "GoogleAnalyticsAdminV1betaProperty": {
      "properties": {
        "expireTime": {
          "description": "Output only. If set, the time at which this trashed property will be permanently deleted. If not set, then this property is not currently in the trash can and is not slated to be deleted.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Human-readable display name for this property. The max allowed display name length is 100 UTF-16 code units.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time when the entity was originally created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when entity payload fields were last updated.",
          "type": "string"
        },
        "propertyType": {
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary GA4 property",
            "GA4 subproperty",
            "GA4 rollup property"
          ],
          "type": "string",
          "description": "Immutable. The property type for this Property resource. When creating a property, if the type is \"PROPERTY_TYPE_UNSPECIFIED\", then \"ORDINARY_PROPERTY\" will be implied. \"SUBPROPERTY\" and \"ROLLUP_PROPERTY\" types cannot yet be created with the Google Analytics Admin API.",
          "enum": [
            "PROPERTY_TYPE_UNSPECIFIED",
            "PROPERTY_TYPE_ORDINARY",
            "PROPERTY_TYPE_SUBPROPERTY",
            "PROPERTY_TYPE_ROLLUP"
          ]
        },
        "serviceLevel": {
          "readOnly": true,
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "GOOGLE_ANALYTICS_STANDARD",
            "GOOGLE_ANALYTICS_360"
          ],
          "enumDescriptions": [
            "Service level not specified or invalid.",
            "The standard version of Google Analytics.",
            "The paid, premium version of Google Analytics."
          ],
          "description": "Output only. The Google Analytics service level that applies to this property.",
          "type": "string"
        },
        "currencyCode": {
          "type": "string",
          "description": "The currency type used in reports involving monetary values. Format: https://en.wikipedia.org/wiki/ISO_4217 Examples: \"USD\", \"EUR\", \"JPY\""
        },
        "deleteTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. If set, the time at which this property was trashed. If not set, then this property is not currently in the trash can."
        },
        "industryCategory": {
          "enum": [
            "INDUSTRY_CATEGORY_UNSPECIFIED",
            "AUTOMOTIVE",
            "BUSINESS_AND_INDUSTRIAL_MARKETS",
            "FINANCE",
            "HEALTHCARE",
            "TECHNOLOGY",
            "TRAVEL",
            "OTHER",
            "ARTS_AND_ENTERTAINMENT",
            "BEAUTY_AND_FITNESS",
            "BOOKS_AND_LITERATURE",
            "FOOD_AND_DRINK",
            "GAMES",
            "HOBBIES_AND_LEISURE",
            "HOME_AND_GARDEN",
            "INTERNET_AND_TELECOM",
            "LAW_AND_GOVERNMENT",
            "NEWS",
            "ONLINE_COMMUNITIES",
            "PEOPLE_AND_SOCIETY",
            "PETS_AND_ANIMALS",
            "REAL_ESTATE",
            "REFERENCE",
            "SCIENCE",
            "SPORTS",
            "JOBS_AND_EDUCATION",
            "SHOPPING"
          ],
          "enumDescriptions": [
            "Industry category unspecified",
            "Automotive",
            "Business and industrial markets",
            "Finance",
            "Healthcare",
            "Technology",
            "Travel",
            "Other",
            "Arts and entertainment",
            "Beauty and fitness",
            "Books and literature",
            "Food and drink",
            "Games",
            "Hobbies and leisure",
            "Home and garden",
            "Internet and telecom",
            "Law and government",
            "News",
            "Online communities",
            "People and society",
            "Pets and animals",
            "Real estate",
            "Reference",
            "Science",
            "Sports",
            "Jobs and education",
            "Shopping"
          ],
          "type": "string",
          "description": "Industry associated with this property Example: AUTOMOTIVE, FOOD_AND_DRINK"
        },
        "account": {
          "description": "Immutable. The resource name of the parent account Format: accounts/{account_id} Example: \"accounts/123\"",
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name of this property. Format: properties/{property_id} Example: \"properties/1000\"",
          "readOnly": true,
          "type": "string"
        },
        "timeZone": {
          "type": "string",
          "description": "Required. Reporting Time Zone, used as the day boundary for reports, regardless of where the data originates. If the time zone honors DST, Analytics will automatically adjust for the changes. NOTE: Changing the time zone only affects data going forward, and is not applied retroactively. Format: https://www.iana.org/time-zones Example: \"America/Los_Angeles\""
        },
        "parent": {
          "description": "Immutable. Resource name of this property's logical parent. Note: The Property-Moving UI can be used to change the parent. Format: accounts/{account}, properties/{property} Example: \"accounts/100\", \"properties/101\"",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaProperty",
      "description": "A resource message representing a Google Analytics GA4 property.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaArchiveCustomMetricRequest": {
      "description": "Request message for ArchiveCustomMetric RPC.",
      "id": "GoogleAnalyticsAdminV1betaArchiveCustomMetricRequest",
      "properties": {},
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaListAccountSummariesResponse": {
      "description": "Response message for ListAccountSummaries RPC.",
      "type": "object",
      "properties": {
        "accountSummaries": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccountSummary"
          },
          "description": "Account summaries of all accounts the caller has access to.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaListAccountSummariesResponse"
    },
    "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionResponse": {
      "description": "Response message for AcknowledgeUserDataCollection RPC.",
      "id": "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionResponse",
      "properties": {},
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaAccessFilterExpression": {
      "id": "GoogleAnalyticsAdminV1betaAccessFilterExpression",
      "description": "Expresses dimension or metric filters. The fields in the same expression need to be either all dimensions or all metrics.",
      "properties": {
        "notExpression": {
          "description": "The FilterExpression is NOT of not_expression.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilterExpression"
        },
        "orGroup": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilterExpressionList",
          "description": "Each of the FilterExpressions in the or_group has an OR relationship."
        },
        "andGroup": {
          "description": "Each of the FilterExpressions in the and_group has an AND relationship.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilterExpressionList"
        },
        "accessFilter": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilter",
          "description": "A primitive filter. In the same FilterExpression, all of the filter's field names need to be either all dimensions or all metrics."
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaListPropertiesResponse": {
      "type": "object",
      "description": "Response message for ListProperties RPC.",
      "id": "GoogleAnalyticsAdminV1betaListPropertiesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "properties": {
          "description": "Results that matched the filter criteria and were accessible to the caller.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "type": "array"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccount": {
      "type": "object",
      "description": "A resource message representing a Google Analytics account.",
      "id": "GoogleAnalyticsAdminV1betaAccount",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "Country of business. Must be a Unicode CLDR region code."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Time when account payload fields were last updated.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Required. Human-readable display name for this account."
        },
        "createTime": {
          "description": "Output only. Time when this account was originally created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of this account. Format: accounts/{account} Example: \"accounts/100\""
        },
        "deleted": {
          "description": "Output only. Indicates whether this Account is soft-deleted or not. Deleted accounts are excluded from List results unless specifically requested.",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "GoogleAnalyticsAdminV1betaChangeHistoryEvent": {
      "description": "A set of changes within a Google Analytics account or its child properties that resulted from the same cause. Common causes would be updates made in the Google Analytics UI, changes from customer support, or automatic Google Analytics system changes.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaChangeHistoryEvent",
      "properties": {
        "changes": {
          "type": "array",
          "description": "A list of changes made in this change history event that fit the filters specified in SearchChangeHistoryEventsRequest.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaChangeHistoryChange"
          }
        },
        "actorType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown or unspecified actor type.",
            "Changes made by the user specified in actor_email.",
            "Changes made by the Google Analytics system.",
            "Changes made by Google Analytics support team staff."
          ],
          "description": "The type of actor that made this change.",
          "enum": [
            "ACTOR_TYPE_UNSPECIFIED",
            "USER",
            "SYSTEM",
            "SUPPORT"
          ]
        },
        "changesFiltered": {
          "type": "boolean",
          "description": "If true, then the list of changes returned was filtered, and does not represent all changes that occurred in this event."
        },
        "changeTime": {
          "type": "string",
          "description": "Time when change was made.",
          "format": "google-datetime"
        },
        "id": {
          "type": "string",
          "description": "ID of this change history event. This ID is unique across Google Analytics."
        },
        "userActorEmail": {
          "type": "string",
          "description": "Email address of the Google account that made the change. This will be a valid email address if the actor field is set to USER, and empty otherwise. Google accounts that have been deleted will cause an error."
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessDateRange": {
      "properties": {
        "startDate": {
          "type": "string",
          "description": "The inclusive start date for the query in the format `YYYY-MM-DD`. Cannot be after `endDate`. The format `NdaysAgo`, `yesterday`, or `today` is also accepted, and in that case, the date is inferred based on the current time in the request's time zone."
        },
        "endDate": {
          "description": "The inclusive end date for the query in the format `YYYY-MM-DD`. Cannot be before `startDate`. The format `NdaysAgo`, `yesterday`, or `today` is also accepted, and in that case, the date is inferred based on the current time in the request's time zone.",
          "type": "string"
        }
      },
      "description": "A contiguous range of days: startDate, startDate + 1, ..., endDate.",
      "id": "GoogleAnalyticsAdminV1betaAccessDateRange",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaArchiveCustomDimensionRequest": {
      "type": "object",
      "description": "Request message for ArchiveCustomDimension RPC.",
      "id": "GoogleAnalyticsAdminV1betaArchiveCustomDimensionRequest",
      "properties": {}
    },
    "GoogleAnalyticsAdminV1betaChangeHistoryChange": {
      "type": "object",
      "properties": {
        "resource": {
          "type": "string",
          "description": "Resource name of the resource whose changes are described by this entry."
        },
        "resourceBeforeChange": {
          "$ref": "GoogleAnalyticsAdminV1betaChangeHistoryChangeChangeHistoryResource",
          "description": "Resource contents from before the change was made. If this resource was created in this change, this field will be missing."
        },
        "action": {
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "CREATED",
            "UPDATED",
            "DELETED"
          ],
          "enumDescriptions": [
            "Action type unknown or not specified.",
            "Resource was created in this change.",
            "Resource was updated in this change.",
            "Resource was deleted in this change."
          ],
          "description": "The type of action that changed this resource.",
          "type": "string"
        },
        "resourceAfterChange": {
          "description": "Resource contents from after the change was made. If this resource was deleted in this change, this field will be missing.",
          "$ref": "GoogleAnalyticsAdminV1betaChangeHistoryChangeChangeHistoryResource"
        }
      },
      "description": "A description of a change to a single Google Analytics resource.",
      "id": "GoogleAnalyticsAdminV1betaChangeHistoryChange"
    },
    "GoogleAnalyticsAdminV1betaAccessNumericFilter": {
      "id": "GoogleAnalyticsAdminV1betaAccessNumericFilter",
      "type": "object",
      "description": "Filters for numeric or date values.",
      "properties": {
        "value": {
          "description": "A numeric value or a date value.",
          "$ref": "GoogleAnalyticsAdminV1betaNumericValue"
        },
        "operation": {
          "enumDescriptions": [
            "Unspecified.",
            "Equal",
            "Less than",
            "Less than or equal",
            "Greater than",
            "Greater than or equal"
          ],
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "EQUAL",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL"
          ],
          "description": "The operation type for this filter."
        }
      }
    },
    "GoogleAnalyticsAdminV1betaCustomDimension": {
      "description": "A definition for a CustomDimension.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. Display name for this custom dimension as shown in the Analytics UI. Max length of 82 characters, alphanumeric plus space and underscore starting with a letter. Legacy system-generated display names may contain square brackets, but updates to this field will never permit square brackets."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description for this custom dimension. Max length of 150 characters."
        },
        "disallowAdsPersonalization": {
          "type": "boolean",
          "description": "Optional. If set to true, sets this dimension as NPA and excludes it from ads personalization. This is currently only supported by user-scoped custom dimensions."
        },
        "name": {
          "description": "Output only. Resource name for this CustomDimension resource. Format: properties/{property}/customDimensions/{customDimension}",
          "readOnly": true,
          "type": "string"
        },
        "scope": {
          "type": "string",
          "description": "Required. Immutable. The scope of this dimension.",
          "enum": [
            "DIMENSION_SCOPE_UNSPECIFIED",
            "EVENT",
            "USER"
          ],
          "enumDescriptions": [
            "Scope unknown or not specified.",
            "Dimension scoped to an event.",
            "Dimension scoped to a user."
          ]
        },
        "parameterName": {
          "type": "string",
          "description": "Required. Immutable. Tagging parameter name for this custom dimension. If this is a user-scoped dimension, then this is the user property name. If this is an event-scoped dimension, then this is the event parameter name. May only contain alphanumeric and underscore characters, starting with a letter. Max length of 24 characters for user-scoped dimensions, 40 characters for event-scoped dimensions."
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaCustomDimension"
    },
    "GoogleAnalyticsAdminV1betaGoogleAdsLink": {
      "id": "GoogleAnalyticsAdminV1betaGoogleAdsLink",
      "properties": {
        "name": {
          "description": "Output only. Format: properties/{propertyId}/googleAdsLinks/{googleAdsLinkId} Note: googleAdsLinkId is not the Google Ads customer ID.",
          "type": "string",
          "readOnly": true
        },
        "customerId": {
          "description": "Immutable. Google Ads customer ID.",
          "type": "string"
        },
        "adsPersonalizationEnabled": {
          "type": "boolean",
          "description": "Enable personalized advertising features with this integration. Automatically publish my Google Analytics audience lists and Google Analytics remarketing events/parameters to the linked Google Ads account. If this field is not set on create/update, it will be defaulted to true."
        },
        "canManageClients": {
          "description": "Output only. If true, this link is for a Google Ads manager account.",
          "type": "boolean",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. Time when this link was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when this link was originally created."
        },
        "creatorEmailAddress": {
          "type": "string",
          "description": "Output only. Email address of the user that created the link. An empty string will be returned if the email address can't be retrieved.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "A link between a GA4 property and a Google Ads account."
    },
    "GoogleAnalyticsAdminV1betaAccessMetric": {
      "type": "object",
      "properties": {
        "metricName": {
          "description": "The API name of the metric. See [Data Access Schema](https://developers.google.com/analytics/devguides/config/admin/v1/access-api-schema) for the list of metrics supported in this API. Metrics are referenced by name in `metricFilter` & `orderBys`.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAccessMetric",
      "description": "The quantitative measurements of a report. For example, the metric `accessCount` is the total number of data access records."
    },
    "GoogleAnalyticsAdminV1betaAccessOrderBy": {
      "type": "object",
      "description": "Order bys define how rows will be sorted in the response. For example, ordering rows by descending access count is one ordering, and ordering rows by the country string is a different ordering.",
      "id": "GoogleAnalyticsAdminV1betaAccessOrderBy",
      "properties": {
        "metric": {
          "description": "Sorts results by a metric's values.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessOrderByMetricOrderBy"
        },
        "desc": {
          "type": "boolean",
          "description": "If true, sorts by descending order. If false or unspecified, sorts in ascending order."
        },
        "dimension": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessOrderByDimensionOrderBy",
          "description": "Sorts results by a dimension's values."
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessQuota": {
      "properties": {
        "serverErrorsPerProjectPerHour": {
          "description": "Properties and cloud project pairs can have up to 50 server errors per hour.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessQuotaStatus"
        },
        "tokensPerHour": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessQuotaStatus",
          "description": "Properties can use 50,000 tokens per hour. An API request consumes a single number of tokens, and that number is deducted from all of the hourly, daily, and per project hourly quotas."
        },
        "concurrentRequests": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessQuotaStatus",
          "description": "Properties can use up to 50 concurrent requests."
        },
        "tokensPerDay": {
          "description": "Properties can use 250,000 tokens per day. Most requests consume fewer than 10 tokens.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessQuotaStatus"
        },
        "tokensPerProjectPerHour": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessQuotaStatus",
          "description": "Properties can use up to 25% of their tokens per project per hour. This amounts to Analytics 360 Properties can use 12,500 tokens per project per hour. An API request consumes a single number of tokens, and that number is deducted from all of the hourly, daily, and per project hourly quotas."
        }
      },
      "type": "object",
      "description": "Current state of all quotas for this Analytics property. If any quota for a property is exhausted, all requests to that property will return Resource Exhausted errors.",
      "id": "GoogleAnalyticsAdminV1betaAccessQuota"
    },
    "GoogleAnalyticsAdminV1betaDataStreamIosAppStreamData": {
      "properties": {
        "firebaseAppId": {
          "type": "string",
          "description": "Output only. ID of the corresponding iOS app in Firebase, if any. This ID can change if the iOS app is deleted and recreated.",
          "readOnly": true
        },
        "bundleId": {
          "description": "Required. Immutable. The Apple App Store Bundle ID for the app Example: \"com.example.myiosapp\"",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaDataStreamIosAppStreamData",
      "description": "Data specific to iOS app streams.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaAccessInListFilter": {
      "properties": {
        "caseSensitive": {
          "description": "If true, the string value is case sensitive.",
          "type": "boolean"
        },
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of string values. Must be non-empty."
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaAccessInListFilter",
      "description": "The result needs to be in a list of string values."
    },
    "GoogleAnalyticsAdminV1betaDataSharingSettings": {
      "id": "GoogleAnalyticsAdminV1betaDataSharingSettings",
      "properties": {
        "sharingWithOthersEnabled": {
          "description": "Allows Google to share the data anonymously in aggregate form with others.",
          "type": "boolean"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name. Format: accounts/{account}/dataSharingSettings Example: \"accounts/1000/dataSharingSettings\"",
          "type": "string"
        },
        "sharingWithGoogleSupportEnabled": {
          "type": "boolean",
          "description": "Allows Google support to access the data in order to help troubleshoot issues."
        },
        "sharingWithGoogleAnySalesEnabled": {
          "type": "boolean",
          "description": "Allows any of Google sales to access the data in order to suggest configuration changes to improve results."
        },
        "sharingWithGoogleAssignedSalesEnabled": {
          "type": "boolean",
          "description": "Allows Google sales teams that are assigned to the customer to access the data in order to suggest configuration changes to improve results. Sales team restrictions still apply when enabled."
        },
        "sharingWithGoogleProductsEnabled": {
          "description": "Allows Google to use the data to improve other Google products or services.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "A resource message representing data sharing settings of a Google Analytics account."
    },
    "GoogleAnalyticsAdminV1betaAccessOrderByMetricOrderBy": {
      "type": "object",
      "description": "Sorts by metric values.",
      "properties": {
        "metricName": {
          "description": "A metric name in the request to order by.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAccessOrderByMetricOrderBy"
    },
    "GoogleAnalyticsAdminV1betaListFirebaseLinksResponse": {
      "properties": {
        "firebaseLinks": {
          "description": "List of FirebaseLinks. This will have at most one value.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaFirebaseLink"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. Currently, Google Analytics supports only one FirebaseLink per property, so this will never be populated."
        }
      },
      "id": "GoogleAnalyticsAdminV1betaListFirebaseLinksResponse",
      "type": "object",
      "description": "Response message for ListFirebaseLinks RPC"
    },
    "GoogleAnalyticsAdminV1betaDataRetentionSettings": {
      "id": "GoogleAnalyticsAdminV1betaDataRetentionSettings",
      "properties": {
        "eventDataRetention": {
          "description": "The length of time that event-level data is retained.",
          "enum": [
            "RETENTION_DURATION_UNSPECIFIED",
            "TWO_MONTHS",
            "FOURTEEN_MONTHS",
            "TWENTY_SIX_MONTHS",
            "THIRTY_EIGHT_MONTHS",
            "FIFTY_MONTHS"
          ],
          "enumDescriptions": [
            "Data retention time duration is not specified.",
            "The data retention time duration is 2 months.",
            "The data retention time duration is 14 months.",
            "The data retention time duration is 26 months. Available to 360 properties only.",
            "The data retention time duration is 38 months. Available to 360 properties only.",
            "The data retention time duration is 50 months. Available to 360 properties only."
          ],
          "type": "string"
        },
        "resetUserDataOnNewActivity": {
          "description": "If true, reset the retention period for the user identifier with every event from that user.",
          "type": "boolean"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name for this DataRetentionSetting resource. Format: properties/{property}/dataRetentionSettings"
        }
      },
      "type": "object",
      "description": "Settings values for data retention. This is a singleton resource."
    },
    "GoogleAnalyticsAdminV1betaAccessDimension": {
      "id": "GoogleAnalyticsAdminV1betaAccessDimension",
      "properties": {
        "dimensionName": {
          "type": "string",
          "description": "The API name of the dimension. See [Data Access Schema](https://developers.google.com/analytics/devguides/config/admin/v1/access-api-schema) for the list of dimensions supported in this API. Dimensions are referenced by name in `dimensionFilter` and `orderBys`."
        }
      },
      "type": "object",
      "description": "Dimensions are attributes of your data. For example, the dimension `userEmail` indicates the email of the user that accessed reporting data. Dimension values in report responses are strings."
    },
    "GoogleAnalyticsAdminV1betaConversionEvent": {
      "properties": {
        "deletable": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. If set, this event can currently be deleted with DeleteConversionEvent."
        },
        "custom": {
          "readOnly": true,
          "description": "Output only. If set to true, this conversion event refers to a custom event. If set to false, this conversion event refers to a default event in GA. Default events typically have special meaning in GA. Default events are usually created for you by the GA system, but in some cases can be created by property admins. Custom events count towards the maximum number of custom conversion events that may be created per property.",
          "type": "boolean"
        },
        "eventName": {
          "description": "Immutable. The event name for this conversion event. Examples: 'click', 'purchase'",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time when this conversion event was created in the property.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name of this conversion event. Format: properties/{property}/conversionEvents/{conversion_event}",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaConversionEvent",
      "description": "A conversion event in a Google Analytics property.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsRequest": {
      "properties": {
        "earliestChangeTime": {
          "description": "Optional. If set, only return changes made after this time (inclusive).",
          "type": "string",
          "format": "google-datetime"
        },
        "actorEmail": {
          "type": "array",
          "description": "Optional. If set, only return changes if they are made by a user in this list.",
          "items": {
            "type": "string"
          }
        },
        "resourceType": {
          "description": "Optional. If set, only return changes if they are for a resource that matches at least one of these types.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "CHANGE_HISTORY_RESOURCE_TYPE_UNSPECIFIED",
              "ACCOUNT",
              "PROPERTY",
              "FIREBASE_LINK",
              "GOOGLE_ADS_LINK",
              "GOOGLE_SIGNALS_SETTINGS",
              "CONVERSION_EVENT",
              "MEASUREMENT_PROTOCOL_SECRET",
              "DATA_RETENTION_SETTINGS",
              "DISPLAY_VIDEO_360_ADVERTISER_LINK",
              "DISPLAY_VIDEO_360_ADVERTISER_LINK_PROPOSAL",
              "SEARCH_ADS_360_LINK",
              "DATA_STREAM",
              "ATTRIBUTION_SETTINGS",
              "EXPANDED_DATA_SET",
              "CHANNEL_GROUP"
            ],
            "enumDescriptions": [
              "Resource type unknown or not specified.",
              "Account resource",
              "Property resource",
              "FirebaseLink resource",
              "GoogleAdsLink resource",
              "GoogleSignalsSettings resource",
              "ConversionEvent resource",
              "MeasurementProtocolSecret resource",
              "DataRetentionSettings resource",
              "DisplayVideo360AdvertiserLink resource",
              "DisplayVideo360AdvertiserLinkProposal resource",
              "SearchAds360Link resource",
              "DataStream resource",
              "AttributionSettings resource",
              "ExpandedDataSet resource",
              "ChannelGroup resource"
            ]
          }
        },
        "latestChangeTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. If set, only return changes made before this time (inclusive)."
        },
        "pageSize": {
          "description": "Optional. The maximum number of ChangeHistoryEvent items to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 items will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
          "format": "int32",
          "type": "integer"
        },
        "pageToken": {
          "description": "Optional. A page token, received from a previous `SearchChangeHistoryEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchChangeHistoryEvents` must match the call that provided the page token.",
          "type": "string"
        },
        "action": {
          "items": {
            "type": "string",
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "CREATED",
              "UPDATED",
              "DELETED"
            ],
            "enumDescriptions": [
              "Action type unknown or not specified.",
              "Resource was created in this change.",
              "Resource was updated in this change.",
              "Resource was deleted in this change."
            ]
          },
          "description": "Optional. If set, only return changes that match one or more of these types of actions.",
          "type": "array"
        },
        "property": {
          "description": "Optional. Resource name for a child property. If set, only return changes made to this property or its child resources.",
          "type": "string"
        }
      },
      "description": "Request message for SearchChangeHistoryEvents RPC.",
      "id": "GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsRequest",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaAccessFilter": {
      "id": "GoogleAnalyticsAdminV1betaAccessFilter",
      "description": "An expression to filter dimension or metric values.",
      "properties": {
        "betweenFilter": {
          "description": "A filter for two values.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessBetweenFilter"
        },
        "numericFilter": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessNumericFilter",
          "description": "A filter for numeric or date values."
        },
        "stringFilter": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessStringFilter",
          "description": "Strings related filter."
        },
        "fieldName": {
          "description": "The dimension name or metric name.",
          "type": "string"
        },
        "inListFilter": {
          "description": "A filter for in list values.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessInListFilter"
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaAccessQuotaStatus": {
      "id": "GoogleAnalyticsAdminV1betaAccessQuotaStatus",
      "type": "object",
      "description": "Current state for a particular quota group.",
      "properties": {
        "remaining": {
          "type": "integer",
          "description": "Quota remaining after this request.",
          "format": "int32"
        },
        "consumed": {
          "format": "int32",
          "type": "integer",
          "description": "Quota consumed by this request."
        }
      }
    },
    "GoogleAnalyticsAdminV1betaDataStreamWebStreamData": {
      "type": "object",
      "description": "Data specific to web streams.",
      "id": "GoogleAnalyticsAdminV1betaDataStreamWebStreamData",
      "properties": {
        "measurementId": {
          "description": "Output only. Analytics \"Measurement ID\", without the \"G-\" prefix. Example: \"G-1A2BCD345E\" would just be \"1A2BCD345E\"",
          "type": "string",
          "readOnly": true
        },
        "firebaseAppId": {
          "description": "Output only. ID of the corresponding web app in Firebase, if any. This ID can change if the web app is deleted and recreated.",
          "readOnly": true,
          "type": "string"
        },
        "defaultUri": {
          "description": "Immutable. Domain name of the web app being measured, or empty. Example: \"http://www.google.com\", \"https://www.google.com\"",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaChangeHistoryChangeChangeHistoryResource": {
      "type": "object",
      "properties": {
        "googleAdsLink": {
          "$ref": "GoogleAnalyticsAdminV1betaGoogleAdsLink",
          "description": "A snapshot of a GoogleAdsLink resource in change history."
        },
        "dataStream": {
          "description": "A snapshot of a DataStream resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1betaDataStream"
        },
        "measurementProtocolSecret": {
          "$ref": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret",
          "description": "A snapshot of a MeasurementProtocolSecret resource in change history."
        },
        "firebaseLink": {
          "$ref": "GoogleAnalyticsAdminV1betaFirebaseLink",
          "description": "A snapshot of a FirebaseLink resource in change history."
        },
        "dataRetentionSettings": {
          "$ref": "GoogleAnalyticsAdminV1betaDataRetentionSettings",
          "description": "A snapshot of a data retention settings resource in change history."
        },
        "account": {
          "description": "A snapshot of an Account resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1betaAccount"
        },
        "property": {
          "$ref": "GoogleAnalyticsAdminV1betaProperty",
          "description": "A snapshot of a Property resource in change history."
        },
        "conversionEvent": {
          "description": "A snapshot of a ConversionEvent resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1betaConversionEvent"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaChangeHistoryChangeChangeHistoryResource",
      "description": "A snapshot of a resource as before or after the result of a change in change history."
    },
    "GoogleAnalyticsAdminV1betaListAccountsResponse": {
      "id": "GoogleAnalyticsAdminV1betaListAccountsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "accounts": {
          "description": "Results that were accessible to the caller.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccount"
          }
        }
      },
      "type": "object",
      "description": "Request message for ListAccounts RPC."
    },
    "GoogleAnalyticsAdminV1betaCustomMetric": {
      "id": "GoogleAnalyticsAdminV1betaCustomMetric",
      "description": "A definition for a custom metric.",
      "properties": {
        "displayName": {
          "description": "Required. Display name for this custom metric as shown in the Analytics UI. Max length of 82 characters, alphanumeric plus space and underscore starting with a letter. Legacy system-generated display names may contain square brackets, but updates to this field will never permit square brackets.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description for this custom dimension. Max length of 150 characters.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name for this CustomMetric resource. Format: properties/{property}/customMetrics/{customMetric}",
          "readOnly": true
        },
        "parameterName": {
          "description": "Required. Immutable. Tagging name for this custom metric. If this is an event-scoped metric, then this is the event parameter name. May only contain alphanumeric and underscore charactes, starting with a letter. Max length of 40 characters for event-scoped metrics.",
          "type": "string"
        },
        "measurementUnit": {
          "description": "Required. The type for the custom metric's value.",
          "type": "string",
          "enumDescriptions": [
            "MeasurementUnit unspecified or missing.",
            "This metric uses default units.",
            "This metric measures a currency.",
            "This metric measures feet.",
            "This metric measures meters.",
            "This metric measures kilometers.",
            "This metric measures miles.",
            "This metric measures milliseconds.",
            "This metric measures seconds.",
            "This metric measures minutes.",
            "This metric measures hours."
          ],
          "enum": [
            "MEASUREMENT_UNIT_UNSPECIFIED",
            "STANDARD",
            "CURRENCY",
            "FEET",
            "METERS",
            "KILOMETERS",
            "MILES",
            "MILLISECONDS",
            "SECONDS",
            "MINUTES",
            "HOURS"
          ]
        },
        "restrictedMetricType": {
          "description": "Optional. Types of restricted data that this metric may contain. Required for metrics with CURRENCY measurement unit. Must be empty for metrics with a non-CURRENCY measurement unit.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "RESTRICTED_METRIC_TYPE_UNSPECIFIED",
              "COST_DATA",
              "REVENUE_DATA"
            ],
            "enumDescriptions": [
              "Type unknown or unspecified.",
              "Metric reports cost data.",
              "Metric reports revenue data."
            ]
          }
        },
        "scope": {
          "type": "string",
          "enum": [
            "METRIC_SCOPE_UNSPECIFIED",
            "EVENT"
          ],
          "description": "Required. Immutable. The scope of this custom metric.",
          "enumDescriptions": [
            "Scope unknown or not specified.",
            "Metric scoped to an event."
          ]
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaAccessFilterExpressionList": {
      "description": "A list of filter expressions.",
      "properties": {
        "expressions": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessFilterExpression"
          },
          "description": "A list of filter expressions."
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaAccessFilterExpressionList"
    },
    "GoogleAnalyticsAdminV1betaRunAccessReportResponse": {
      "id": "GoogleAnalyticsAdminV1betaRunAccessReportResponse",
      "description": "The customized Data Access Record Report response.",
      "type": "object",
      "properties": {
        "dimensionHeaders": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessDimensionHeader"
          },
          "type": "array",
          "description": "The header for a column in the report that corresponds to a specific dimension. The number of DimensionHeaders and ordering of DimensionHeaders matches the dimensions present in rows."
        },
        "metricHeaders": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessMetricHeader"
          },
          "description": "The header for a column in the report that corresponds to a specific metric. The number of MetricHeaders and ordering of MetricHeaders matches the metrics present in rows."
        },
        "rowCount": {
          "description": "The total number of rows in the query result. `rowCount` is independent of the number of rows returned in the response, the `limit` request parameter, and the `offset` request parameter. For example if a query returns 175 rows and includes `limit` of 50 in the API request, the response will contain `rowCount` of 175 but only 50 rows. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination).",
          "type": "integer",
          "format": "int32"
        },
        "rows": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessRow"
          },
          "type": "array",
          "description": "Rows of dimension value combinations and metric values in the report."
        },
        "quota": {
          "description": "The quota state for this Analytics property including this request. This field doesn't work with account-level requests.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessQuota"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaPropertySummary": {
      "properties": {
        "propertyType": {
          "enum": [
            "PROPERTY_TYPE_UNSPECIFIED",
            "PROPERTY_TYPE_ORDINARY",
            "PROPERTY_TYPE_SUBPROPERTY",
            "PROPERTY_TYPE_ROLLUP"
          ],
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary GA4 property",
            "GA4 subproperty",
            "GA4 rollup property"
          ],
          "type": "string",
          "description": "The property's property type."
        },
        "displayName": {
          "description": "Display name for the property referred to in this property summary.",
          "type": "string"
        },
        "property": {
          "description": "Resource name of property referred to by this property summary Format: properties/{property_id} Example: \"properties/1000\"",
          "type": "string"
        },
        "parent": {
          "type": "string",
          "description": "Resource name of this property's logical parent. Note: The Property-Moving UI can be used to change the parent. Format: accounts/{account}, properties/{property} Example: \"accounts/100\", \"properties/200\""
        }
      },
      "type": "object",
      "description": "A virtual resource representing metadata for a GA4 property.",
      "id": "GoogleAnalyticsAdminV1betaPropertySummary"
    },
    "GoogleAnalyticsAdminV1betaAccountSummary": {
      "type": "object",
      "description": "A virtual resource representing an overview of an account and all its child GA4 properties.",
      "id": "GoogleAnalyticsAdminV1betaAccountSummary",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for this account summary. Format: accountSummaries/{account_id} Example: \"accountSummaries/1000\""
        },
        "propertySummaries": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaPropertySummary"
          },
          "type": "array",
          "description": "List of summaries for child accounts of this account."
        },
        "displayName": {
          "type": "string",
          "description": "Display name for the account referred to in this account summary."
        },
        "account": {
          "type": "string",
          "description": "Resource name of account referred to by this account summary Format: accounts/{account_id} Example: \"accounts/1000\""
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessStringFilter": {
      "properties": {
        "matchType": {
          "description": "The match type for this filter.",
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "BEGINS_WITH",
            "ENDS_WITH",
            "CONTAINS",
            "FULL_REGEXP",
            "PARTIAL_REGEXP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Exact match of the string value.",
            "Begins with the string value.",
            "Ends with the string value.",
            "Contains the string value.",
            "Full match for the regular expression with the string value.",
            "Partial match for the regular expression with the string value."
          ]
        },
        "caseSensitive": {
          "type": "boolean",
          "description": "If true, the string value is case sensitive."
        },
        "value": {
          "type": "string",
          "description": "The string value used for the matching."
        }
      },
      "type": "object",
      "description": "The filter for strings.",
      "id": "GoogleAnalyticsAdminV1betaAccessStringFilter"
    },
    "GoogleAnalyticsAdminV1betaFirebaseLink": {
      "id": "GoogleAnalyticsAdminV1betaFirebaseLink",
      "description": "A link between a GA4 property and a Firebase project.",
      "properties": {
        "createTime": {
          "description": "Output only. Time when this FirebaseLink was originally created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. Example format: properties/1234/firebaseLinks/5678",
          "readOnly": true,
          "type": "string"
        },
        "project": {
          "description": "Immutable. Firebase project resource name. When creating a FirebaseLink, you may provide this resource name using either a project number or project ID. Once this resource has been created, returned FirebaseLinks will always have a project_name that contains a project number. Format: 'projects/{project number}' Example: 'projects/1234'",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaAccessDimensionValue": {
      "id": "GoogleAnalyticsAdminV1betaAccessDimensionValue",
      "properties": {
        "value": {
          "type": "string",
          "description": "The dimension value. For example, this value may be 'France' for the 'country' dimension."
        }
      },
      "type": "object",
      "description": "The value of a dimension."
    },
    "GoogleAnalyticsAdminV1betaListMeasurementProtocolSecretsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "measurementProtocolSecrets": {
          "description": "A list of secrets for the parent stream specified in the request.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
          },
          "type": "array"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaListMeasurementProtocolSecretsResponse",
      "description": "Response message for ListMeasurementProtocolSecret RPC",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionRequest": {
      "properties": {
        "acknowledgement": {
          "type": "string",
          "description": "Required. An acknowledgement that the caller of this method understands the terms of user data collection. This field must contain the exact value: \"I acknowledge that I have the necessary privacy disclosures and rights from my end users for the collection and processing of their data, including the association of such data with the visitation information Google Analytics collects from my site and/or app property.\""
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionRequest",
      "description": "Request message for AcknowledgeUserDataCollection RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaAccessMetricValue": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The measurement value. For example, this value may be '13'."
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAccessMetricValue",
      "type": "object",
      "description": "The value of a metric."
    },
    "GoogleAnalyticsAdminV1betaListCustomDimensionsResponse": {
      "properties": {
        "customDimensions": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaCustomDimension"
          },
          "description": "List of CustomDimensions."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleAnalyticsAdminV1betaListCustomDimensionsResponse",
      "type": "object",
      "description": "Response message for ListCustomDimensions RPC."
    },
    "GoogleAnalyticsAdminV1betaListCustomMetricsResponse": {
      "type": "object",
      "description": "Response message for ListCustomMetrics RPC.",
      "properties": {
        "customMetrics": {
          "description": "List of CustomMetrics.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaCustomMetric"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleAnalyticsAdminV1betaListCustomMetricsResponse"
    },
    "GoogleAnalyticsAdminV1betaAccessDimensionHeader": {
      "properties": {
        "dimensionName": {
          "description": "The dimension's name; for example 'userEmail'.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAccessDimensionHeader",
      "type": "object",
      "description": "Describes a dimension column in the report. Dimensions requested in a report produce column entries within rows and DimensionHeaders. However, dimensions used exclusively within filters or expressions do not produce columns in a report; correspondingly, those dimensions do not produce headers."
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "type": "object",
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. Human-readable display name for this secret."
        },
        "secretValue": {
          "type": "string",
          "description": "Output only. The measurement protocol secret value. Pass this value to the api_secret field of the Measurement Protocol API when sending hits to this secret's parent property.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of this secret. This secret may be a child of any type of stream. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}",
          "readOnly": true
        }
      },
      "description": "A secret value used for sending hits to Measurement Protocol.",
      "id": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaListDataStreamsResponse": {
      "id": "GoogleAnalyticsAdminV1betaListDataStreamsResponse",
      "description": "Response message for ListDataStreams RPC.",
      "type": "object",
      "properties": {
        "dataStreams": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaDataStream"
          },
          "description": "List of DataStreams.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "changeHistoryEvents": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaChangeHistoryEvent"
          },
          "description": "Results that were accessible to the caller.",
          "type": "array"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsResponse",
      "type": "object",
      "description": "Response message for SearchAccounts RPC."
    }
  },
  "rootUrl": "https://analyticsadmin.googleapis.com/",
  "baseUrl": "https://analyticsadmin.googleapis.com/",
  "version": "v1beta",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/analytics.edit": {
          "description": "Edit Google Analytics management entities"
        },
        "https://www.googleapis.com/auth/analytics.readonly": {
          "description": "See and download your Google Analytics data"
        }
      }
    }
  },
  "name": "analyticsadmin",
  "title": "Google Analytics Admin API",
  "documentationLink": "http://code.google.com/apis/analytics/docs/mgmt/home.html",
  "id": "analyticsadmin:v1beta",
  "protocol": "rest",
  "servicePath": "",
  "ownerName": "Google",
  "mtlsRootUrl": "https://analyticsadmin.mtls.googleapis.com/",
  "revision": "20230308",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "resources": {
    "accountSummaries": {
      "methods": {
        "list": {
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaListAccountSummariesResponse"
          },
          "path": "v1beta/accountSummaries",
          "id": "analyticsadmin.accountSummaries.list",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "flatPath": "v1beta/accountSummaries",
          "parameterOrder": [],
          "parameters": {
            "pageSize": {
              "format": "int32",
              "description": "The maximum number of AccountSummary resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "A page token, received from a previous `ListAccountSummaries` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountSummaries` must match the call that provided the page token.",
              "location": "query"
            }
          },
          "description": "Returns summaries of all accounts accessible by the caller."
        }
      }
    },
    "accounts": {
      "methods": {
        "provisionAccountTicket": {
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaProvisionAccountTicketRequest"
          },
          "path": "v1beta/accounts:provisionAccountTicket",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaProvisionAccountTicketResponse"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "flatPath": "v1beta/accounts:provisionAccountTicket",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "parameters": {},
          "description": "Requests a ticket for creating an account.",
          "id": "analyticsadmin.accounts.provisionAccountTicket"
        },
        "delete": {
          "path": "v1beta/{+name}",
          "flatPath": "v1beta/accounts/{accountsId}",
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the Account to soft-delete. Format: accounts/{account} Example: \"accounts/100\"",
              "pattern": "^accounts/[^/]+$",
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "httpMethod": "DELETE",
          "description": "Marks target Account as soft-deleted (ie: \"trashed\") and returns it. This API does not have a method to restore soft-deleted accounts. However, they can be restored using the Trash Can UI. If the accounts are not restored before the expiration time, the account and all child resources (eg: Properties, GoogleAdsLinks, Streams, UserLinks) will be permanently purged. https://support.google.com/analytics/answer/6154772 Returns an error if the target is not found.",
          "id": "analyticsadmin.accounts.delete",
          "parameterOrder": [
            "name"
          ]
        },
        "getDataSharingSettings": {
          "description": "Get data sharing settings on an account. Data sharing settings are singletons.",
          "path": "v1beta/{+name}",
          "flatPath": "v1beta/accounts/{accountsId}/dataSharingSettings",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. The name of the settings to lookup. Format: accounts/{account}/dataSharingSettings Example: \"accounts/1000/dataSharingSettings\"",
              "pattern": "^accounts/[^/]+/dataSharingSettings$",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaDataSharingSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "id": "analyticsadmin.accounts.getDataSharingSettings",
          "httpMethod": "GET"
        },
        "patch": {
          "id": "analyticsadmin.accounts.patch",
          "path": "v1beta/{+name}",
          "httpMethod": "PATCH",
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "description": "Required. The list of fields to be updated. Field names must be in snake case (for example, \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "location": "query",
              "type": "string"
            },
            "name": {
              "type": "string",
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Output only. Resource name of this account. Format: accounts/{account} Example: \"accounts/100\""
            }
          },
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaAccount"
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaAccount"
          },
          "description": "Updates an account.",
          "flatPath": "v1beta/accounts/{accountsId}",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ]
        },
        "list": {
          "flatPath": "v1beta/accounts",
          "description": "Returns all accounts accessible by the caller. Note that these accounts might not currently have GA4 properties. Soft-deleted (ie: \"trashed\") accounts are excluded by default. Returns an empty list if no relevant accounts are found.",
          "parameters": {
            "pageToken": {
              "description": "A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccounts` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            },
            "showDeleted": {
              "description": "Whether to include soft-deleted (ie: \"trashed\") Accounts in the results. Accounts can be inspected to determine whether they are deleted or not.",
              "type": "boolean",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "description": "The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
              "location": "query",
              "format": "int32"
            }
          },
          "parameterOrder": [],
          "id": "analyticsadmin.accounts.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaListAccountsResponse"
          },
          "path": "v1beta/accounts",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ]
        },
        "get": {
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaAccount"
          },
          "id": "analyticsadmin.accounts.get",
          "path": "v1beta/{+name}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "flatPath": "v1beta/accounts/{accountsId}",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "description": "Lookup for a single Account.",
          "parameters": {
            "name": {
              "description": "Required. The name of the account to lookup. Format: accounts/{account} Example: \"accounts/100\"",
              "location": "path",
              "pattern": "^accounts/[^/]+$",
              "type": "string",
              "required": true
            }
          }
        },
        "searchChangeHistoryEvents": {
          "description": "Searches through all changes to an account or its children given the specified set of filters.",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsRequest"
          },
          "parameterOrder": [
            "account"
          ],
          "httpMethod": "POST",
          "parameters": {
            "account": {
              "description": "Required. The account resource for which to return change history resources.",
              "pattern": "^accounts/[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "path": "v1beta/{+account}:searchChangeHistoryEvents",
          "id": "analyticsadmin.accounts.searchChangeHistoryEvents",
          "flatPath": "v1beta/accounts/{accountsId}:searchChangeHistoryEvents"
        },
        "runAccessReport": {
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaRunAccessReportRequest"
          },
          "parameterOrder": [
            "entity"
          ],
          "id": "analyticsadmin.accounts.runAccessReport",
          "httpMethod": "POST",
          "description": "Returns a customized report of data access records. The report provides records of each time a user reads Google Analytics reporting data. Access records are retained for up to 2 years. Data Access Reports can be requested for a property. The property must be in Google Analytics 360. This method is only available to Administrators. These data access records include GA4 UI Reporting, GA4 UI Explorations, GA4 Data API, and other products like Firebase & Admob that can retrieve data from Google Analytics through a linkage. These records don't include property configuration changes like adding a stream or changing a property's time zone. For configuration change history, see [searchChangeHistoryEvents](https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts/searchChangeHistoryEvents).",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaRunAccessReportResponse"
          },
          "parameters": {
            "entity": {
              "type": "string",
              "location": "path",
              "pattern": "^accounts/[^/]+$",
              "description": "The Data Access Report supports requesting at the property level or account level. If requested at the account level, Data Access Reports include all access for all properties under that account. To request at the property level, entity should be for example 'properties/123' if \"123\" is your GA4 property ID. To request at the account level, entity should be for example 'accounts/1234' if \"1234\" is your GA4 Account ID.",
              "required": true
            }
          },
          "flatPath": "v1beta/accounts/{accountsId}:runAccessReport",
          "path": "v1beta/{+entity}:runAccessReport",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ]
        }
      }
    },
    "properties": {
      "methods": {
        "delete": {
          "description": "Marks target Property as soft-deleted (ie: \"trashed\") and returns it. This API does not have a method to restore soft-deleted properties. However, they can be restored using the Trash Can UI. If the properties are not restored before the expiration time, the Property and all child resources (eg: GoogleAdsLinks, Streams, UserLinks) will be permanently purged. https://support.google.com/analytics/answer/6154772 Returns an error if the target is not found, or is not a GA4 Property.",
          "flatPath": "v1beta/properties/{propertiesId}",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "id": "analyticsadmin.properties.delete",
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta/{+name}",
          "parameters": {
            "name": {
              "pattern": "^properties/[^/]+$",
              "description": "Required. The name of the Property to soft-delete. Format: properties/{property_id} Example: \"properties/1000\"",
              "required": true,
              "type": "string",
              "location": "path"
            }
          }
        },
        "runAccessReport": {
          "parameterOrder": [
            "entity"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaRunAccessReportRequest"
          },
          "path": "v1beta/{+entity}:runAccessReport",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaRunAccessReportResponse"
          },
          "flatPath": "v1beta/properties/{propertiesId}:runAccessReport",
          "description": "Returns a customized report of data access records. The report provides records of each time a user reads Google Analytics reporting data. Access records are retained for up to 2 years. Data Access Reports can be requested for a property. The property must be in Google Analytics 360. This method is only available to Administrators. These data access records include GA4 UI Reporting, GA4 UI Explorations, GA4 Data API, and other products like Firebase & Admob that can retrieve data from Google Analytics through a linkage. These records don't include property configuration changes like adding a stream or changing a property's time zone. For configuration change history, see [searchChangeHistoryEvents](https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts/searchChangeHistoryEvents).",
          "id": "analyticsadmin.properties.runAccessReport",
          "parameters": {
            "entity": {
              "pattern": "^properties/[^/]+$",
              "location": "path",
              "description": "The Data Access Report supports requesting at the property level or account level. If requested at the account level, Data Access Reports include all access for all properties under that account. To request at the property level, entity should be for example 'properties/123' if \"123\" is your GA4 property ID. To request at the account level, entity should be for example 'accounts/1234' if \"1234\" is your GA4 Account ID.",
              "type": "string",
              "required": true
            }
          }
        },
        "getDataRetentionSettings": {
          "description": "Returns the singleton data retention settings for this property.",
          "flatPath": "v1beta/properties/{propertiesId}/dataRetentionSettings",
          "httpMethod": "GET",
          "id": "analyticsadmin.properties.getDataRetentionSettings",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaDataRetentionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "parameters": {
            "name": {
              "description": "Required. The name of the settings to lookup. Format: properties/{property}/dataRetentionSettings Example: \"properties/1000/dataRetentionSettings\"",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^properties/[^/]+/dataRetentionSettings$"
            }
          }
        },
        "create": {
          "parameters": {},
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "parameterOrder": [],
          "description": "Creates an \"GA4\" property with the specified location and attributes.",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "id": "analyticsadmin.properties.create",
          "flatPath": "v1beta/properties",
          "path": "v1beta/properties",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "httpMethod": "POST"
        },
        "patch": {
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "path": "v1beta/{+name}",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "id": "analyticsadmin.properties.patch",
          "description": "Updates a property.",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "flatPath": "v1beta/properties/{propertiesId}",
          "parameters": {
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "location": "query"
            },
            "name": {
              "pattern": "^properties/[^/]+$",
              "required": true,
              "location": "path",
              "description": "Output only. Resource name of this property. Format: properties/{property_id} Example: \"properties/1000\"",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH"
        },
        "updateDataRetentionSettings": {
          "flatPath": "v1beta/properties/{propertiesId}/dataRetentionSettings",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaDataRetentionSettings"
          },
          "path": "v1beta/{+name}",
          "description": "Updates the singleton data retention settings for this property.",
          "parameterOrder": [
            "name"
          ],
          "id": "analyticsadmin.properties.updateDataRetentionSettings",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaDataRetentionSettings"
          },
          "parameters": {
            "updateMask": {
              "location": "query",
              "type": "string",
              "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "format": "google-fieldmask"
            },
            "name": {
              "description": "Output only. Resource name for this DataRetentionSetting resource. Format: properties/{property}/dataRetentionSettings",
              "type": "string",
              "location": "path",
              "pattern": "^properties/[^/]+/dataRetentionSettings$",
              "required": true
            }
          }
        },
        "acknowledgeUserDataCollection": {
          "flatPath": "v1beta/properties/{propertiesId}:acknowledgeUserDataCollection",
          "parameterOrder": [
            "property"
          ],
          "parameters": {
            "property": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The property for which to acknowledge user data collection.",
              "pattern": "^properties/[^/]+$"
            }
          },
          "path": "v1beta/{+property}:acknowledgeUserDataCollection",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "id": "analyticsadmin.properties.acknowledgeUserDataCollection",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionRequest"
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionResponse"
          },
          "httpMethod": "POST",
          "description": "Acknowledges the terms of user data collection for the specified property. This acknowledgement must be completed (either in the Google Analytics UI or through this API) before MeasurementProtocolSecret resources may be created."
        },
        "get": {
          "path": "v1beta/{+name}",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "description": "Required. The name of the property to lookup. Format: properties/{property_id} Example: \"properties/1000\"",
              "pattern": "^properties/[^/]+$",
              "location": "path"
            }
          },
          "flatPath": "v1beta/properties/{propertiesId}",
          "id": "analyticsadmin.properties.get",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "httpMethod": "GET",
          "description": "Lookup for a single \"GA4\" Property."
        },
        "list": {
          "description": "Returns child Properties under the specified parent Account. Only \"GA4\" properties will be returned. Properties will be excluded if the caller does not have access. Soft-deleted (ie: \"trashed\") properties are excluded by default. Returns an empty list if no relevant properties are found.",
          "path": "v1beta/properties",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "flatPath": "v1beta/properties",
          "id": "analyticsadmin.properties.list",
          "parameters": {
            "pageToken": {
              "description": "A page token, received from a previous `ListProperties` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProperties` must match the call that provided the page token.",
              "location": "query",
[...]
