{
  "ownerDomain": "google.com",
  "title": "Google Analytics Admin API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "rootUrl": "https://analyticsadmin.googleapis.com/",
  "basePath": "",
  "documentationLink": "http://code.google.com/apis/analytics/docs/mgmt/home.html",
  "baseUrl": "https://analyticsadmin.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/analytics.readonly": {
          "description": "See and download your Google Analytics data"
        },
        "https://www.googleapis.com/auth/analytics.manage.users.readonly": {
          "description": "View Google Analytics user permissions"
        },
        "https://www.googleapis.com/auth/analytics.manage.users": {
          "description": "Manage Google Analytics Account users by email address"
        },
        "https://www.googleapis.com/auth/analytics.edit": {
          "description": "Edit Google Analytics management entities"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://analyticsadmin.mtls.googleapis.com/",
  "protocol": "rest",
  "parameters": {
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "default": "json"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    }
  },
  "revision": "20210622",
  "description": "",
  "schemas": {
    "GoogleAnalyticsAdminV1alphaArchiveCustomDimensionRequest": {
      "properties": {},
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaArchiveCustomDimensionRequest",
      "description": "Request message for ArchiveCustomDimension RPC."
    },
    "GoogleAnalyticsAdminV1alphaIosAppDataStream": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaIosAppDataStream",
      "description": "A resource message representing a Google Analytics IOS app stream.",
      "properties": {
        "displayName": {
          "description": "Human-readable display name for the Data Stream. The max allowed display name length is 255 UTF-16 code units.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time when this stream was originally created.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Time when stream payload fields were last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "firebaseAppId": {
          "description": "Output only. ID of the corresponding iOS app in Firebase, if any. This ID can change if the iOS app is deleted and recreated.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of this Data Stream. Format: properties/{property_id}/iosAppDataStreams/{stream_id} Example: \"properties/1000/iosAppDataStreams/2000\""
        },
        "bundleId": {
          "description": "Required. Immutable. The Apple App Store Bundle ID for the app Example: \"com.example.myiosapp\"",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListCustomMetricsResponse": {
      "properties": {
        "customMetrics": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric"
          },
          "type": "array",
          "description": "List of CustomMetrics."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListCustomMetricsResponse",
      "type": "object",
      "description": "Response message for ListCustomMetrics RPC."
    },
    "GoogleAnalyticsAdminV1alphaUserLink": {
      "description": "A resource message representing a user's permissions on an Account or Property resource.",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Example format: properties/1234/userLinks/5678",
          "type": "string"
        },
        "emailAddress": {
          "type": "string",
          "description": "Immutable. Email address of the user to link"
        },
        "directRoles": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Roles directly assigned to this user for this account or property. Valid values: predefinedRoles/read predefinedRoles/collaborate predefinedRoles/edit predefinedRoles/manage-users Excludes roles that are inherited from a higher-level entity, group, or organization admin role. A UserLink that is updated to have an empty list of direct_roles will be deleted."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaUserLink",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaChangeHistoryEvent": {
      "description": "A set of changes within a Google Analytics account or its child properties that resulted from the same cause. Common causes would be updates made in the Google Analytics UI, changes from customer support, or automatic Google Analytics system changes.",
      "type": "object",
      "properties": {
        "changes": {
          "description": "A list of changes made in this change history event that fit the filters specified in SearchChangeHistoryEventsRequest.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryChange"
          }
        },
        "changesFiltered": {
          "type": "boolean",
          "description": "If true, then the list of changes returned was filtered, and does not represent all changes that occurred in this event."
        },
        "actorType": {
          "enumDescriptions": [
            "Unknown or unspecified actor type.",
            "Changes made by the user specified in actor_email.",
            "Changes made by the Google Analytics system.",
            "Changes made by Google Analytics support team staff."
          ],
          "type": "string",
          "description": "The type of actor that made this change.",
          "enum": [
            "ACTOR_TYPE_UNSPECIFIED",
            "USER",
            "SYSTEM",
            "SUPPORT"
          ]
        },
        "id": {
          "type": "string",
          "description": "ID of this change history event. This ID is unique across Google Analytics."
        },
        "changeTime": {
          "description": "Time when change was made.",
          "type": "string",
          "format": "google-datetime"
        },
        "userActorEmail": {
          "type": "string",
          "description": "Email address of the Google account that made the change. This will be a valid email address if the actor field is set to USER, and empty otherwise. Google accounts that have been deleted will cause an error."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaChangeHistoryEvent"
    },
    "GoogleAnalyticsAdminV1alphaDataSharingSettings": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaDataSharingSettings",
      "description": "A resource message representing data sharing settings of a Google Analytics account.",
      "properties": {
        "sharingWithGoogleProductsEnabled": {
          "description": "Allows Google to use the data to improve other Google products or services.",
          "type": "boolean"
        },
        "sharingWithGoogleSupportEnabled": {
          "description": "Allows Google support to access the data in order to help troubleshoot issues.",
          "type": "boolean"
        },
        "sharingWithGoogleAssignedSalesEnabled": {
          "type": "boolean",
          "description": "Allows Google sales teams that are assigned to the customer to access the data in order to suggest configuration changes to improve results. Sales team restrictions still apply when enabled."
        },
        "sharingWithGoogleAnySalesEnabled": {
          "description": "Allows any of Google sales to access the data in order to suggest configuration changes to improve results.",
          "type": "boolean"
        },
        "sharingWithOthersEnabled": {
          "type": "boolean",
          "description": "Allows Google to share the data anonymously in aggregate form with others."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name. Format: accounts/{account}/dataSharingSettings Example: \"accounts/1000/dataSharingSettings\""
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksResponse": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksResponse",
      "description": "Response message for BatchUpdateUserLinks RPC.",
      "properties": {
        "userLinks": {
          "description": "The user links updated.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
          }
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret": {
      "id": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of this secret. This secret may be a child of any type of stream. Format: properties/{property}/webDataStreams/{webDataStream}/measurementProtocolSecrets/{measurementProtocolSecret}"
        },
        "secretValue": {
          "readOnly": true,
          "description": "Output only. The measurement protocol secret value. Pass this value to the api_secret field of the Measurement Protocol API when sending hits to this secret's parent property.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Human-readable display name for this secret."
        }
      },
      "description": "A secret value used for sending hits to Measurement Protocol."
    },
    "GoogleAnalyticsAdminV1alphaProperty": {
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. Time when the entity was originally created.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of this property. Format: properties/{property_id} Example: \"properties/1000\""
        },
        "timeZone": {
          "description": "Required. Reporting Time Zone, used as the day boundary for reports, regardless of where the data originates. If the time zone honors DST, Analytics will automatically adjust for the changes. NOTE: Changing the time zone only affects data going forward, and is not applied retroactively. Format: https://www.iana.org/time-zones Example: \"America/Los_Angeles\"",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Human-readable display name for this property. The max allowed display name length is 100 UTF-16 code units."
        },
        "industryCategory": {
          "type": "string",
          "enumDescriptions": [
            "Industry category unspecified",
            "Automotive",
            "Business and industrial markets",
            "Finance",
            "Healthcare",
            "Technology",
            "Travel",
            "Other",
            "Arts and entertainment",
            "Beauty and fitness",
            "Books and literature",
            "Food and drink",
            "Games",
            "Hobbies and leisure",
            "Home and garden",
            "Internet and telecom",
            "Law and government",
            "News",
            "Online communities",
            "People and society",
            "Pets and animals",
            "Real estate",
            "Reference",
            "Science",
            "Sports",
            "Jobs and education",
            "Shopping"
          ],
          "enum": [
            "INDUSTRY_CATEGORY_UNSPECIFIED",
            "AUTOMOTIVE",
            "BUSINESS_AND_INDUSTRIAL_MARKETS",
            "FINANCE",
            "HEALTHCARE",
            "TECHNOLOGY",
            "TRAVEL",
            "OTHER",
            "ARTS_AND_ENTERTAINMENT",
            "BEAUTY_AND_FITNESS",
            "BOOKS_AND_LITERATURE",
            "FOOD_AND_DRINK",
            "GAMES",
            "HOBBIES_AND_LEISURE",
            "HOME_AND_GARDEN",
            "INTERNET_AND_TELECOM",
            "LAW_AND_GOVERNMENT",
            "NEWS",
            "ONLINE_COMMUNITIES",
            "PEOPLE_AND_SOCIETY",
            "PETS_AND_ANIMALS",
            "REAL_ESTATE",
            "REFERENCE",
            "SCIENCE",
            "SPORTS",
            "JOBS_AND_EDUCATION",
            "SHOPPING"
          ],
          "description": "Industry associated with this property Example: AUTOMOTIVE, FOOD_AND_DRINK"
        },
        "expireTime": {
          "type": "string",
          "description": "Output only. If set, the time at which this trashed property will be permanently deleted. If not set, then this property is not currently in the trash can and is not slated to be deleted.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "currencyCode": {
          "description": "The currency type used in reports involving monetary values. Format: https://en.wikipedia.org/wiki/ISO_4217 Examples: \"USD\", \"EUR\", \"JPY\"",
          "type": "string"
        },
        "parent": {
          "type": "string",
          "description": "Immutable. Resource name of this property's logical parent. Note: The Property-Moving UI can be used to change the parent. Format: accounts/{account} Example: \"accounts/100\""
        },
        "deleteTime": {
          "description": "Output only. If set, the time at which this property was trashed. If not set, then this property is not currently in the trash can.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Time when entity payload fields were last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaProperty",
      "type": "object",
      "description": "A resource message representing a Google Analytics GA4 property."
    },
    "GoogleAnalyticsAdminV1alphaListAndroidAppDataStreamsResponse": {
      "type": "object",
      "description": "Request message for ListAndroidDataStreams RPC.",
      "properties": {
        "androidAppDataStreams": {
          "type": "array",
          "description": "Results that matched the filter criteria and were accessible to the caller.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAndroidAppDataStream"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListAndroidAppDataStreamsResponse"
    },
    "GoogleAnalyticsAdminV1alphaListCustomDimensionsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListCustomDimensionsResponse",
      "type": "object",
      "description": "Response message for ListCustomDimensions RPC.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "customDimensions": {
          "description": "List of CustomDimensions.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
          },
          "type": "array"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAuditUserLink": {
      "properties": {
        "directRoles": {
          "type": "array",
          "description": "Roles directly assigned to this user for this entity. Format: predefinedRoles/read Excludes roles that are inherited from an account (if this is for a property), group, or organization admin role.",
          "items": {
            "type": "string"
          }
        },
        "effectiveRoles": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Union of all permissions a user has at this account or property (includes direct permissions, group-inherited permissions, etc.). Format: predefinedRoles/read"
        },
        "name": {
          "type": "string",
          "description": "Example format: properties/1234/userLinks/5678"
        },
        "emailAddress": {
          "type": "string",
          "description": "Email address of the linked user"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAuditUserLink",
      "type": "object",
      "description": "Read-only resource used to summarize a principal's effective roles."
    },
    "GoogleAnalyticsAdminV1alphaDeleteUserLinkRequest": {
      "id": "GoogleAnalyticsAdminV1alphaDeleteUserLinkRequest",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Example format: accounts/1234/userLinks/5678"
        }
      },
      "description": "Request message for DeleteUserLink RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaArchiveCustomMetricRequest": {
      "type": "object",
      "description": "Request message for ArchiveCustomMetric RPC.",
      "properties": {},
      "id": "GoogleAnalyticsAdminV1alphaArchiveCustomMetricRequest"
    },
    "GoogleAnalyticsAdminV1alphaCustomDimension": {
      "properties": {
        "description": {
          "description": "Optional. Description for this custom dimension. Max length of 150 characters.",
          "type": "string"
        },
        "disallowAdsPersonalization": {
          "type": "boolean",
          "description": "Optional. If set to true, sets this dimension as NPA and excludes it from ads personalization. This is currently only supported by user-scoped custom dimensions."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name for this custom dimension as shown in the Analytics UI. Max length of 82 characters, alphanumeric plus space and underscore starting with a letter. Legacy system-generated display names may contain square brackets, but updates to this field will never permit square brackets."
        },
        "parameterName": {
          "description": "Required. Immutable. Tagging parameter name for this custom dimension. If this is a user-scoped dimension, then this is the user property name. If this is an event-scoped dimension, then this is the event parameter name. May only contain alphanumeric and underscore characters, starting with a letter. Max length of 24 characters for user-scoped dimensions, 40 characters for event-scoped dimensions.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name for this CustomDimension resource. Format: properties/{property}/customDimensions/{customDimension}",
          "type": "string"
        },
        "scope": {
          "description": "Required. Immutable. The scope of this dimension.",
          "enumDescriptions": [
            "Scope unknown or not specified.",
            "Dimension scoped to an event.",
            "Dimension scoped to a user."
          ],
          "type": "string",
          "enum": [
            "DIMENSION_SCOPE_UNSPECIFIED",
            "EVENT",
            "USER"
          ]
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaCustomDimension",
      "type": "object",
      "description": "A definition for a CustomDimension."
    },
    "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings": {
      "type": "object",
      "description": "Settings values for Google Signals. This is a singleton resource.",
      "id": "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings",
      "properties": {
        "consent": {
          "enumDescriptions": [
            "Google Signals consent value defaults to GOOGLE_SIGNALS_CONSENT_UNSPECIFIED. This will be treated as GOOGLE_SIGNALS_CONSENT_NOT_CONSENTED.",
            "Terms of service have been accepted",
            "Terms of service have not been accepted"
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "GOOGLE_SIGNALS_CONSENT_UNSPECIFIED",
            "GOOGLE_SIGNALS_CONSENT_CONSENTED",
            "GOOGLE_SIGNALS_CONSENT_NOT_CONSENTED"
          ],
          "description": "Output only. Terms of Service acceptance."
        },
        "state": {
          "enumDescriptions": [
            "Google Signals status defaults to GOOGLE_SIGNALS_STATE_UNSPECIFIED to represent that the user has not made an explicit choice.",
            "Google Signals is enabled.",
            "Google Signals is disabled."
          ],
          "description": "Status of this setting.",
          "enum": [
            "GOOGLE_SIGNALS_STATE_UNSPECIFIED",
            "GOOGLE_SIGNALS_ENABLED",
            "GOOGLE_SIGNALS_DISABLED"
          ],
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name of this setting. Format: properties/{property_id}/googleSignalsSettings Example: \"properties/1000/googleSignalsSettings\"",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaConversionEvent": {
      "description": "A conversion event in a Google Analytics property.",
      "id": "GoogleAnalyticsAdminV1alphaConversionEvent",
      "properties": {
        "custom": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. If set to true, this conversion event refers to a custom event. If set to false, this conversion event refers to a default event in GA. Default events typically have special meaning in GA. Default events are usually created for you by the GA system, but in some cases can be created by property admins. Custom events count towards the maximum number of custom conversion events that may be created per property."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when this conversion event was created in the property."
        },
        "deletable": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If set, this event can currently be deleted via DeleteConversionEvent."
        },
        "eventName": {
          "description": "Immutable. The event name for this conversion event. Examples: 'click', 'purchase'",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of this conversion event. Format: properties/{property}/conversionEvents/{conversion_event}"
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAuditUserLinksResponse": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAuditUserLinksResponse",
      "description": "Response message for AuditUserLinks RPC.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "userLinks": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAuditUserLink"
          },
          "type": "array",
          "description": "List of AuditUserLinks. These will be ordered stably, but in an arbitrary order."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListFirebaseLinksResponse": {
      "type": "object",
      "properties": {
        "firebaseLinks": {
          "type": "array",
          "description": "List of FirebaseLinks. This will have at most one value.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaFirebaseLink"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. Currently, Google Analytics supports only one FirebaseLink per property, so this will never be populated."
        }
      },
      "description": "Response message for ListFirebaseLinks RPC",
      "id": "GoogleAnalyticsAdminV1alphaListFirebaseLinksResponse"
    },
    "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequest": {
      "description": "Request message for SearchChangeHistoryEvents RPC.",
      "properties": {
        "actorEmail": {
          "description": "Optional. If set, only return changes if they are made by a user in this list.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. A page token, received from a previous `SearchChangeHistoryEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchChangeHistoryEvents` must match the call that provided the page token."
        },
        "latestChangeTime": {
          "description": "Optional. If set, only return changes made before this time (inclusive).",
          "type": "string",
          "format": "google-datetime"
        },
        "earliestChangeTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. If set, only return changes made after this time (inclusive)."
        },
        "property": {
          "description": "Optional. Resource name for a child property. If set, only return changes made to this property or its child resources.",
          "type": "string"
        },
        "pageSize": {
          "description": "Optional. The maximum number of ChangeHistoryEvent items to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 items will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
          "format": "int32",
          "type": "integer"
        },
        "resourceType": {
          "type": "array",
          "description": "Optional. If set, only return changes if they are for a resource that matches at least one of these types.",
          "items": {
            "enumDescriptions": [
              "Resource type unknown or not specified.",
              "Account resource",
              "Property resource",
              "WebDataStream resource",
              "AndroidAppDataStream resource",
              "IosAppDataStream resource",
              "FirebaseLink resource",
              "GoogleAdsLink resource",
              "GoogleSignalsSettings resource",
              "ConversionEvent resource",
              "MeasurementProtocolSecret resource",
              "CustomDimension resource",
              "CustomMetric resource"
            ],
            "enum": [
              "CHANGE_HISTORY_RESOURCE_TYPE_UNSPECIFIED",
              "ACCOUNT",
              "PROPERTY",
              "WEB_DATA_STREAM",
              "ANDROID_APP_DATA_STREAM",
              "IOS_APP_DATA_STREAM",
              "FIREBASE_LINK",
              "GOOGLE_ADS_LINK",
              "GOOGLE_SIGNALS_SETTINGS",
              "CONVERSION_EVENT",
              "MEASUREMENT_PROTOCOL_SECRET",
              "CUSTOM_DIMENSION",
              "CUSTOM_METRIC"
            ],
            "type": "string"
          }
        },
        "action": {
          "description": "Optional. If set, only return changes that match one or more of these types of actions.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Action type unknown or not specified.",
              "Resource was created in this change.",
              "Resource was updated in this change.",
              "Resource was deleted in this change."
            ],
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "CREATED",
              "UPDATED",
              "DELETED"
            ]
          },
          "type": "array"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequest",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaProvisionAccountTicketRequest": {
      "properties": {
        "redirectUri": {
          "type": "string",
          "description": "Redirect URI where the user will be sent after accepting Terms of Service. Must be configured in Developers Console as a Redirect URI"
        },
        "account": {
          "description": "The account to create.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccount"
        }
      },
      "type": "object",
      "description": "Request message for ProvisionAccountTicket RPC.",
      "id": "GoogleAnalyticsAdminV1alphaProvisionAccountTicketRequest"
    },
    "GoogleAnalyticsAdminV1alphaBatchDeleteUserLinksRequest": {
      "id": "GoogleAnalyticsAdminV1alphaBatchDeleteUserLinksRequest",
      "type": "object",
      "description": "Request message for BatchDeleteUserLinks RPC.",
      "properties": {
        "requests": {
          "description": "Required. The requests specifying the user links to update. A maximum of 1000 user links can be updated in a batch.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaDeleteUserLinkRequest"
          },
          "type": "array"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "id": "GoogleProtobufEmpty"
    },
    "GoogleAnalyticsAdminV1alphaAuditUserLinksRequest": {
      "id": "GoogleAnalyticsAdminV1alphaAuditUserLinksRequest",
      "type": "object",
      "description": "Request message for AuditUserLinks RPC.",
      "properties": {
        "pageSize": {
          "type": "integer",
          "description": "The maximum number of user links to return. The service may return fewer than this value. If unspecified, at most 1000 user links will be returned. The maximum value is 5000; values above 5000 will be coerced to 5000.",
          "format": "int32"
        },
        "pageToken": {
          "type": "string",
          "description": "A page token, received from a previous `AuditUserLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `AuditUserLinks` must match the call that provided the page token."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaProvisionAccountTicketResponse": {
      "description": "Response message for ProvisionAccountTicket RPC.",
      "id": "GoogleAnalyticsAdminV1alphaProvisionAccountTicketResponse",
      "properties": {
        "accountTicketId": {
          "type": "string",
          "description": "The param to be passed in the ToS link."
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccount": {
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "Country of business. Must be a Unicode CLDR region code."
        },
        "updateTime": {
          "description": "Output only. Time when account payload fields were last updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Required. Human-readable display name for this account."
        },
        "deleted": {
          "description": "Output only. Indicates whether this Account is soft-deleted or not. Deleted accounts are excluded from List results unless specifically requested.",
          "type": "boolean",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Resource name of this account. Format: accounts/{account} Example: \"accounts/100\"",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when this account was originally created."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccount",
      "description": "A resource message representing a Google Analytics account.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListIosAppDataStreamsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListIosAppDataStreamsResponse",
      "type": "object",
      "description": "Request message for ListIosAppDataStreams RPC.",
      "properties": {
        "iosAppDataStreams": {
          "description": "Results that matched the filter criteria and were accessible to the caller.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaIosAppDataStream"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaPropertySummary": {
      "description": "A virtual resource representing metadata for an GA4 property.",
      "properties": {
        "displayName": {
          "description": "Display name for the property referred to in this account summary.",
          "type": "string"
        },
        "property": {
          "description": "Resource name of property referred to by this property summary Format: properties/{property_id} Example: \"properties/1000\"",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaPropertySummary"
    },
    "GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksRequest": {
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. The requests specifying the user links to update. A maximum of 1000 user links can be updated in a batch.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaUpdateUserLinkRequest"
          }
        }
      },
      "description": "Request message for BatchUpdateUserLinks RPC.",
      "id": "GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksRequest",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaCreateUserLinkRequest": {
      "type": "object",
      "description": "Request message for CreateUserLink RPC. Users can have multiple email addresses associated with their Google account, and one of these email addresses is the \"primary\" email address. Any of the email addresses associated with a Google account may be used for a new UserLink, but the returned UserLink will always contain the \"primary\" email address. As a result, the input and output email address for this request may differ.",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. Example format: accounts/1234"
        },
        "notifyNewUser": {
          "description": "Optional. If set, then email the new user notifying them that they've been granted permissions to the resource.",
          "type": "boolean"
        },
        "userLink": {
          "$ref": "GoogleAnalyticsAdminV1alphaUserLink",
          "description": "Required. The user link to create."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaCreateUserLinkRequest"
    },
    "GoogleAnalyticsAdminV1alphaChangeHistoryChange": {
      "id": "GoogleAnalyticsAdminV1alphaChangeHistoryChange",
      "properties": {
        "resource": {
          "type": "string",
          "description": "Resource name of the resource whose changes are described by this entry."
        },
        "resourceBeforeChange": {
          "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource",
          "description": "Resource contents from before the change was made. If this resource was created in this change, this field will be missing."
        },
        "action": {
          "enumDescriptions": [
            "Action type unknown or not specified.",
            "Resource was created in this change.",
            "Resource was updated in this change.",
            "Resource was deleted in this change."
          ],
          "description": "The type of action that changed this resource.",
          "type": "string",
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "CREATED",
            "UPDATED",
            "DELETED"
          ]
        },
        "resourceAfterChange": {
          "description": "Resource contents from after the change was made. If this resource was deleted in this change, this field will be missing.",
          "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource"
        }
      },
      "type": "object",
      "description": "A description of a change to a single Google Analytics resource."
    },
    "GoogleAnalyticsAdminV1alphaAndroidAppDataStream": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Human-readable display name for the Data Stream. The max allowed display name length is 255 UTF-16 code units."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when this stream was originally created.",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Time when stream payload fields were last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "packageName": {
          "type": "string",
          "description": "Immutable. The package name for the app being measured. Example: \"com.example.myandroidapp\""
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of this Data Stream. Format: properties/{property_id}/androidAppDataStreams/{stream_id} Example: \"properties/1000/androidAppDataStreams/2000\"",
          "readOnly": true
        },
        "firebaseAppId": {
          "type": "string",
          "description": "Output only. ID of the corresponding Android app in Firebase, if any. This ID can change if the Android app is deleted and recreated.",
          "readOnly": true
        }
      },
      "description": "A resource message representing a Google Analytics Android app stream.",
      "id": "GoogleAnalyticsAdminV1alphaAndroidAppDataStream",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListAccountSummariesResponse": {
      "properties": {
        "accountSummaries": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccountSummary"
          },
          "description": "Account summaries of all accounts the caller has access to.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for ListAccountSummaries RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListAccountSummariesResponse"
    },
    "GoogleAnalyticsAdminV1alphaListPropertiesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "properties": {
          "description": "Results that matched the filter criteria and were accessible to the caller.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "type": "array"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListPropertiesResponse",
      "description": "Response message for ListProperties RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaBatchCreateUserLinksResponse": {
      "properties": {
        "userLinks": {
          "description": "The user links created.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
          }
        }
      },
      "type": "object",
      "description": "Response message for BatchCreateUserLinks RPC.",
      "id": "GoogleAnalyticsAdminV1alphaBatchCreateUserLinksResponse"
    },
    "GoogleAnalyticsAdminV1alphaUpdateUserLinkRequest": {
      "description": "Request message for UpdateUserLink RPC.",
      "id": "GoogleAnalyticsAdminV1alphaUpdateUserLinkRequest",
      "type": "object",
      "properties": {
        "userLink": {
          "$ref": "GoogleAnalyticsAdminV1alphaUserLink",
          "description": "Required. The user link to update."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListWebDataStreamsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListWebDataStreamsResponse",
      "type": "object",
      "description": "Request message for ListWebDataStreams RPC.",
      "properties": {
        "webDataStreams": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaWebDataStream"
          },
          "description": "Results that matched the filter criteria and were accessible to the caller."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaGoogleAdsLink": {
      "properties": {
        "adsPersonalizationEnabled": {
          "type": "boolean",
          "description": "Enable personalized advertising features with this integration. Automatically publish my Google Analytics audience lists and Google Analytics remarketing events/parameters to the linked Google Ads account. If this field is not set on create/update, it will be defaulted to true."
        },
        "customerId": {
          "type": "string",
          "description": "Immutable. Google Ads customer ID."
        },
        "creatorEmailAddress": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Email address of the user that created the link. An empty string will be returned if the email address can't be retrieved."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Time when this link was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "canManageClients": {
          "description": "Output only. If true, this link is for a Google Ads manager account.",
          "type": "boolean",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Time when this link was originally created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Format: properties/{propertyId}/googleAdsLinks/{googleAdsLinkId} Note: googleAdsLinkId is not the Google Ads customer ID.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaGoogleAdsLink",
      "description": "A link between an GA4 property and a Google Ads account."
    },
    "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource": {
      "type": "object",
      "properties": {
        "iosAppDataStream": {
          "$ref": "GoogleAnalyticsAdminV1alphaIosAppDataStream",
          "description": "A snapshot of an IosAppDataStream resource in change history."
        },
        "customMetric": {
          "description": "A snapshot of a CustomMetric resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric"
        },
        "conversionEvent": {
          "$ref": "GoogleAnalyticsAdminV1alphaConversionEvent",
          "description": "A snapshot of a ConversionEvent resource in change history."
        },
        "webDataStream": {
          "description": "A snapshot of a WebDataStream resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaWebDataStream"
        },
        "customDimension": {
          "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension",
          "description": "A snapshot of a CustomDimension resource in change history."
        },
        "account": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccount",
          "description": "A snapshot of an Account resource in change history."
        },
        "measurementProtocolSecret": {
          "description": "A snapshot of a MeasurementProtocolSecret resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret"
        },
        "androidAppDataStream": {
          "$ref": "GoogleAnalyticsAdminV1alphaAndroidAppDataStream",
          "description": "A snapshot of an AndroidAppDataStream resource in change history."
        },
        "googleSignalsSettings": {
          "description": "A snapshot of a GoogleSignalsSettings resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings"
        },
        "firebaseLink": {
          "description": "A snapshot of a FirebaseLink resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaFirebaseLink"
        },
        "googleAdsLink": {
          "description": "A snapshot of a GoogleAdsLink resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink"
        },
        "property": {
          "$ref": "GoogleAnalyticsAdminV1alphaProperty",
          "description": "A snapshot of a Property resource in change history."
        }
      },
      "description": "A snapshot of a resource as before or after the result of a change in change history.",
      "id": "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource"
    },
    "GoogleAnalyticsAdminV1alphaBatchGetUserLinksResponse": {
      "id": "GoogleAnalyticsAdminV1alphaBatchGetUserLinksResponse",
      "description": "Response message for BatchGetUserLinks RPC.",
      "properties": {
        "userLinks": {
          "description": "The requested user links.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
          }
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaWebDataStream": {
      "description": "A resource message representing a Google Analytics web stream.",
      "id": "GoogleAnalyticsAdminV1alphaWebDataStream",
      "type": "object",
      "properties": {
        "firebaseAppId": {
          "description": "Output only. ID of the corresponding web app in Firebase, if any. This ID can change if the web app is deleted and recreated.",
          "readOnly": true,
          "type": "string"
        },
        "defaultUri": {
          "description": "Immutable. Domain name of the web app being measured, or empty. Example: \"http://www.google.com\", \"https://www.google.com\"",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Human-readable display name for the Data Stream. The max allowed display name length is 100 UTF-16 code units.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Time when this stream was originally created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "measurementId": {
          "description": "Output only. Analytics \"Measurement ID\", without the \"G-\" prefix. Example: \"G-1A2BCD345E\" would just be \"1A2BCD345E\"",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of this Data Stream. Format: properties/{property_id}/webDataStreams/{stream_id} Example: \"properties/1000/webDataStreams/2000\""
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Time when stream payload fields were last updated.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccountSummary": {
      "properties": {
        "propertySummaries": {
          "type": "array",
          "description": "List of summaries for child accounts of this account.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaPropertySummary"
          }
        },
        "displayName": {
          "description": "Display name for the account referred to in this account summary.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for this account summary. Format: accountSummaries/{account_id} Example: \"accountSummaries/1000\""
        },
        "account": {
          "description": "Resource name of account referred to by this account summary Format: accounts/{account_id} Example: \"accounts/1000\"",
          "type": "string"
        }
      },
      "description": "A virtual resource representing an overview of an account and all its child GA4 properties.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAccountSummary"
    },
    "GoogleAnalyticsAdminV1alphaListMeasurementProtocolSecretsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListMeasurementProtocolSecretsResponse",
      "type": "object",
      "description": "Response message for ListMeasurementProtocolSecret RPC",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "measurementProtocolSecrets": {
          "type": "array",
          "description": "A list of secrets for the parent stream specified in the request.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret"
          }
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsResponse": {
      "type": "object",
      "description": "Response message for SearchAccounts RPC.",
      "id": "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsResponse",
      "properties": {
        "changeHistoryEvents": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryEvent"
          },
          "description": "Results that were accessible to the caller.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListGoogleAdsLinksResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListGoogleAdsLinksResponse",
      "type": "object",
      "properties": {
        "googleAdsLinks": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink"
          },
          "type": "array",
          "description": "List of GoogleAdsLinks."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListGoogleAdsLinks RPC."
    },
    "GoogleAnalyticsAdminV1alphaListUserLinksResponse": {
      "type": "object",
      "properties": {
        "userLinks": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
          },
          "description": "List of UserLinks. These will be ordered stably, but in an arbitrary order.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListUserLinksResponse",
      "description": "Response message for ListUserLinks RPC."
    },
    "GoogleAnalyticsAdminV1alphaFirebaseLink": {
      "id": "GoogleAnalyticsAdminV1alphaFirebaseLink",
      "description": "A link between an GA4 property and a Firebase project.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Example format: properties/1234/firebaseLinks/5678",
          "readOnly": true
        },
        "project": {
          "type": "string",
          "description": "Immutable. Firebase project resource name. When creating a FirebaseLink, you may provide this resource name using either a project number or project ID. Once this resource has been created, returned FirebaseLinks will always have a project_name that contains a project number. Format: 'projects/{project number}' Example: 'projects/1234'"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when this FirebaseLink was originally created."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaBatchCreateUserLinksRequest": {
      "id": "GoogleAnalyticsAdminV1alphaBatchCreateUserLinksRequest",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCreateUserLinkRequest"
          },
          "description": "Required. The requests specifying the user links to create. A maximum of 1000 user links can be created in a batch."
        },
        "notifyNewUsers": {
          "type": "boolean",
          "description": "Optional. If set, then email the new users notifying them that they've been granted permissions to the resource. Regardless of whether this is set or not, notify_new_user field inside each individual request is ignored."
        }
      },
      "description": "Request message for BatchCreateUserLinks RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListAccountsResponse": {
      "type": "object",
      "description": "Request message for ListAccounts RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListAccountsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "accounts": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccount"
          },
          "description": "Results that were accessible to the caller."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings": {
      "type": "object",
      "properties": {
        "scrollsEnabled": {
          "type": "boolean",
          "description": "If enabled, capture scroll events each time a visitor gets to the bottom of a page."
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of this Data Stream. Format: properties/{property_id}/webDataStreams/{stream_id}/enhancedMeasurementSettings Example: \"properties/1000/webDataStreams/2000/enhancedMeasurementSettings\"",
          "readOnly": true
        },
        "searchQueryParameter": {
          "description": "Required. URL query parameters to interpret as site search parameters. Max length is 1024 characters. Must not be empty.",
          "type": "string"
        },
        "streamEnabled": {
          "description": "Indicates whether Enhanced Measurement Settings will be used to automatically measure interactions and content on this web stream. Changing this value does not affect the settings themselves, but determines whether they are respected.",
          "type": "boolean"
        },
        "fileDownloadsEnabled": {
          "description": "If enabled, capture a file download event each time a link is clicked with a common document, compressed file, application, video, or audio extension.",
          "type": "boolean"
        },
        "pageChangesEnabled": {
          "description": "If enabled, capture a page view event each time the website changes the browser history state.",
          "type": "boolean"
        },
        "siteSearchEnabled": {
          "type": "boolean",
          "description": "If enabled, capture a view search results event each time a visitor performs a search on your site (based on a query parameter)."
        },
        "videoEngagementEnabled": {
          "type": "boolean",
          "description": "If enabled, capture video play, progress, and complete events as visitors view embedded videos on your site."
        },
        "outboundClicksEnabled": {
          "type": "boolean",
          "description": "If enabled, capture an outbound click event each time a visitor clicks a link that leads them away from your domain."
        },
        "pageLoadsEnabled": {
          "readOnly": true,
          "description": "Output only. If enabled, capture a page view event each time a page loads.",
          "type": "boolean"
        },
        "pageViewsEnabled": {
          "readOnly": true,
          "description": "Output only. If enabled, capture a page view event each time a page loads or the website changes the browser history state.",
          "type": "boolean"
        },
        "uriQueryParameter": {
          "type": "string",
          "description": "Additional URL query parameters. Max length is 1024 characters."
        }
      },
      "description": "Singleton resource under a WebDataStream, configuring measurement of additional site interactions and content.",
      "id": "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings"
    },
    "GoogleAnalyticsAdminV1alphaListConversionEventsResponse": {
      "properties": {
        "conversionEvents": {
          "description": "The requested conversion events",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaConversionEvent"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListConversionEventsResponse",
      "description": "Response message for ListConversionEvents RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaCustomMetric": {
      "description": "A definition for a custom metric.",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name for this CustomMetric resource. Format: properties/{property}/customMetrics/{customMetric}"
        },
        "measurementUnit": {
          "description": "Required. Immutable. The type for the custom metric's value.",
          "enum": [
            "MEASUREMENT_UNIT_UNSPECIFIED",
            "STANDARD",
            "CURRENCY",
            "FEET",
            "METERS",
            "KILOMETERS",
            "MILES",
            "MILLISECONDS",
            "SECONDS",
            "MINUTES",
            "HOURS"
          ],
          "enumDescriptions": [
            "MeasurementUnit unspecified or missing.",
            "This metric uses default units.",
            "This metric measures a currency.",
            "This metric measures feet.",
            "This metric measures meters.",
            "This metric measures kilometers.",
            "This metric measures miles.",
            "This metric measures milliseconds.",
            "This metric measures seconds.",
            "This metric measures minutes.",
            "This metric measures hours."
          ],
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name for this custom metric as shown in the Analytics UI. Max length of 82 characters, alphanumeric plus space and underscore starting with a letter. Legacy system-generated display names may contain square brackets, but updates to this field will never permit square brackets."
        },
        "scope": {
          "enumDescriptions": [
            "Scope unknown or not specified.",
            "Metric scoped to an event."
          ],
          "description": "Required. Immutable. The scope of this custom metric.",
          "enum": [
            "METRIC_SCOPE_UNSPECIFIED",
            "EVENT"
          ],
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description for this custom dimension. Max length of 150 characters."
        },
        "parameterName": {
          "type": "string",
          "description": "Required. Immutable. Tagging name for this custom metric. If this is an event-scoped metric, then this is the event parameter name. May only contain alphanumeric and underscore charactes, starting with a letter. Max length of 40 characters for event-scoped metrics."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaCustomMetric",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaGlobalSiteTag": {
      "description": "Read-only resource with the tag for sending data from a website to a WebDataStream.",
      "id": "GoogleAnalyticsAdminV1alphaGlobalSiteTag",
      "type": "object",
      "properties": {
        "snippet": {
          "description": "Immutable. JavaScript code snippet to be pasted as the first item into the head tag of every webpage to measure.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name for this GlobalSiteTag resource. Format: properties/{propertyId}/globalSiteTag",
          "readOnly": true
        }
      }
    }
  },
  "canonicalName": "Google Analytics Admin",
  "name": "analyticsadmin",
  "servicePath": "",
  "version_module": true,
  "id": "analyticsadmin:v1alpha",
  "version": "v1alpha",
  "ownerName": "Google",
  "resources": {
    "properties": {
      "methods": {
        "updateGoogleSignalsSettings": {
          "httpMethod": "PATCH",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings"
          },
          "parameters": {
            "name": {
              "type": "string",
              "description": "Output only. Resource name of this setting. Format: properties/{property_id}/googleSignalsSettings Example: \"properties/1000/googleSignalsSettings\"",
              "location": "path",
              "required": true,
              "pattern": "^properties/[^/]+/googleSignalsSettings$"
            },
            "updateMask": {
              "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "parameterOrder": [
            "name"
          ],
          "description": "Updates Google Signals settings for a property.",
          "path": "v1alpha/{+name}",
          "id": "analyticsadmin.properties.updateGoogleSignalsSettings",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings"
          },
          "flatPath": "v1alpha/properties/{propertiesId}/googleSignalsSettings"
        },
        "getGoogleSignalsSettings": {
          "description": "Lookup for Google Signals settings for a property.",
          "id": "analyticsadmin.properties.getGoogleSignalsSettings",
          "path": "v1alpha/{+name}",
          "parameters": {
            "name": {
              "description": "Required. The name of the google signals settings to retrieve. Format: properties/{property}/googleSignalsSettings",
              "required": true,
              "type": "string",
              "pattern": "^properties/[^/]+/googleSignalsSettings$",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1alpha/properties/{propertiesId}/googleSignalsSettings",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ]
        },
        "delete": {
          "path": "v1alpha/{+name}",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^properties/[^/]+$",
              "required": true,
              "description": "Required. The name of the Property to soft-delete. Format: properties/{property_id} Example: \"properties/1000\"",
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Marks target Property as soft-deleted (ie: \"trashed\") and returns it. This API does not have a method to restore soft-deleted properties. However, they can be restored using the Trash Can UI. If the properties are not restored before the expiration time, the Property and all child resources (eg: GoogleAdsLinks, Streams, UserLinks) will be permanently purged. https://support.google.com/analytics/answer/6154772 Returns an error if the target is not found, or is not an GA4 Property.",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "id": "analyticsadmin.properties.delete",
          "httpMethod": "DELETE",
          "flatPath": "v1alpha/properties/{propertiesId}"
        },
        "list": {
          "parameters": {
            "showDeleted": {
              "description": "Whether to include soft-deleted (ie: \"trashed\") Properties in the results. Properties can be inspected to determine whether they are deleted or not.",
              "location": "query",
              "type": "boolean"
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)"
            },
            "filter": {
              "location": "query",
              "description": "Required. An expression for filtering the results of the request. Fields eligible for filtering are: `parent:`(The resource name of the parent account) or `firebase_project:`(The id or number of the linked firebase project). Some examples of filters: ``` | Filter | Description | |-----------------------------|-------------------------------------------| | parent:accounts/123 | The account with account id: 123. | | firebase_project:project-id | The firebase project with id: project-id. | | firebase_project:123 | The firebase project with number: 123. | ```",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "A page token, received from a previous `ListProperties` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProperties` must match the call that provided the page token.",
              "location": "query"
            }
          },
          "flatPath": "v1alpha/properties",
          "id": "analyticsadmin.properties.list",
          "path": "v1alpha/properties",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "description": "Returns child Properties under the specified parent Account. Only \"GA4\" properties will be returned. Properties will be excluded if the caller does not have access. Soft-deleted (ie: \"trashed\") properties are excluded by default. Returns an empty list if no relevant properties are found.",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaListPropertiesResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": []
        },
        "get": {
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "description": "Required. The name of the property to lookup. Format: properties/{property_id} Example: \"properties/1000\"",
              "location": "path",
              "pattern": "^properties/[^/]+$"
            }
          },
          "description": "Lookup for a single \"GA4\" Property.",
          "id": "analyticsadmin.properties.get",
          "flatPath": "v1alpha/properties/{propertiesId}",
          "httpMethod": "GET",
          "path": "v1alpha/{+name}",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ]
        },
        "create": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "path": "v1alpha/properties",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "id": "analyticsadmin.properties.create",
          "parameters": {},
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "flatPath": "v1alpha/properties",
          "description": "Creates an \"GA4\" property with the specified location and attributes.",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          }
        },
        "patch": {
          "httpMethod": "PATCH",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "description": "Updates a property.",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "id": "analyticsadmin.properties.patch",
          "path": "v1alpha/{+name}",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1alpha/properties/{propertiesId}",
          "parameters": {
            "name": {
              "pattern": "^properties/[^/]+$",
              "type": "string",
              "description": "Output only. Resource name of this property. Format: properties/{property_id} Example: \"properties/1000\"",
              "required": true,
              "location": "path"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "type": "string",
              "location": "query"
            }
          }
        }
      },
      "resources": {
        "webDataStreams": {
          "methods": {
            "getEnhancedMeasurementSettings": {
              "description": "Returns the singleton enhanced measurement settings for this web stream. Note that the stream must enable enhanced measurement for these settings to take effect.",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the settings to lookup. Format: properties/{property_id}/webDataStreams/{stream_id}/enhancedMeasurementSettings Example: \"properties/1000/webDataStreams/2000/enhancedMeasurementSettings\"",
                  "pattern": "^properties/[^/]+/webDataStreams/[^/]+/enhancedMeasurementSettings$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/properties/{propertiesId}/webDataStreams/{webDataStreamsId}/enhancedMeasurementSettings",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings"
              },
              "id": "analyticsadmin.properties.webDataStreams.getEnhancedMeasurementSettings",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "get": {
              "parameters": {
                "name": {
                  "description": "Required. The name of the web data stream to lookup. Format: properties/{property_id}/webDataStreams/{stream_id} Example: \"properties/123/webDataStreams/456\"",
                  "location": "path",
                  "required": true,
                  "pattern": "^properties/[^/]+/webDataStreams/[^/]+$",
                  "type": "string"
                }
              },
              "id": "analyticsadmin.properties.webDataStreams.get",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaWebDataStream"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Lookup for a single WebDataStream",
              "flatPath": "v1alpha/properties/{propertiesId}/webDataStreams/{webDataStreamsId}",
              "httpMethod": "GET",
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "updateEnhancedMeasurementSettings": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "path": "v1alpha/{+name}",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings"
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^properties/[^/]+/webDataStreams/[^/]+/enhancedMeasurementSettings$",
                  "location": "path",
                  "description": "Output only. Resource name of this Data Stream. Format: properties/{property_id}/webDataStreams/{stream_id}/enhancedMeasurementSettings Example: \"properties/1000/webDataStreams/2000/enhancedMeasurementSettings\"",
                  "required": true
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "analyticsadmin.properties.webDataStreams.updateEnhancedMeasurementSettings",
              "flatPath": "v1alpha/properties/{propertiesId}/webDataStreams/{webDataStreamsId}/enhancedMeasurementSettings",
              "description": "Updates the singleton enhanced measurement settings for this web stream. Note that the stream must enable enhanced measurement for these settings to take effect.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListWebDataStreamsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analyticsadmin.properties.webDataStreams.list",
              "description": "Returns child web data streams under the specified parent property. Web data streams will be excluded if the caller does not have access. Returns an empty list if no relevant web data streams are found.",
              "flatPath": "v1alpha/properties/{propertiesId}/webDataStreams",
              "httpMethod": "GET",
              "path": "v1alpha/{+parent}/webDataStreams",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token, received from a previous `ListWebDataStreams` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListWebDataStreams` must match the call that provided the page token."
                },
                "parent": {
                  "required": true,
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the parent property. For example, to list results of web streams under the property with Id 123: \"properties/123\""
                }
              }
            },
            "create": {
              "flatPath": "v1alpha/properties/{propertiesId}/webDataStreams",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaWebDataStream"
              },
              "id": "analyticsadmin.properties.webDataStreams.create",
              "path": "v1alpha/{+parent}/webDataStreams",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaWebDataStream"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource where this web data stream will be created. Format: properties/123",
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a web stream with the specified location and attributes."
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Deletes a web stream on a property.",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the web data stream to delete. Format: properties/{property_id}/webDataStreams/{stream_id} Example: \"properties/123/webDataStreams/456\"",
                  "type": "string",
                  "required": true,
                  "pattern": "^properties/[^/]+/webDataStreams/[^/]+$"
                }
              },
              "id": "analyticsadmin.properties.webDataStreams.delete",
              "flatPath": "v1alpha/properties/{propertiesId}/webDataStreams/{webDataStreamsId}",
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "DELETE"
            },
            "getGlobalSiteTag": {
              "parameters": {
                "name": {
                  "description": "Required. The name of the site tag to lookup. Note that site tags are singletons and do not have unique IDs. Format: properties/{property_id}/webDataStreams/{stream_id}/globalSiteTag Example: \"properties/123/webDataStreams/456/globalSiteTag\"",
                  "type": "string",
                  "pattern": "^properties/[^/]+/webDataStreams/[^/]+/globalSiteTag$",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaGlobalSiteTag"
              },
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Returns the Site Tag for the specified web stream. Site Tags are immutable singletons.",
              "flatPath": "v1alpha/properties/{propertiesId}/webDataStreams/{webDataStreamsId}/globalSiteTag",
              "id": "analyticsadmin.properties.webDataStreams.getGlobalSiteTag"
            },
            "patch": {
              "path": "v1alpha/{+name}",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaWebDataStream"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "analyticsadmin.properties.webDataStreams.patch",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaWebDataStream"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "description": "Output only. Resource name of this Data Stream. Format: properties/{property_id}/webDataStreams/{stream_id} Example: \"properties/1000/webDataStreams/2000\"",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^properties/[^/]+/webDataStreams/[^/]+$"
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/webDataStreams/{webDataStreamsId}",
              "description": "Updates a web stream on a property."
            }
          },
          "resources": {
            "measurementProtocolSecrets": {
              "methods": {
                "list": {
                  "path": "v1alpha/{+parent}/measurementProtocolSecrets",
                  "description": "Returns child MeasurementProtocolSecrets under the specified parent Property.",
                  "httpMethod": "GET",
                  "id": "analyticsadmin.properties.webDataStreams.measurementProtocolSecrets.list",
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1alphaListMeasurementProtocolSecretsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit",
                    "https://www.googleapis.com/auth/analytics.readonly"
                  ],
                  "flatPath": "v1alpha/properties/{propertiesId}/webDataStreams/{webDataStreamsId}/measurementProtocolSecrets",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A page token, received from a previous `ListMeasurementProtocolSecrets` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListMeasurementProtocolSecrets` must match the call that provided the page token."
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^properties/[^/]+/webDataStreams/[^/]+$",
                      "description": "Required. The resource name of the parent stream. Any type of stream (WebDataStream, IosAppDataStream, AndroidAppDataStream) may be a parent. Format: properties/{property}/webDataStreams/{webDataStream}/measurementProtocolSecrets"
                    },
                    "pageSize": {
                      "description": "The maximum number of resources to return. If unspecified, at most 10 resources will be returned. The maximum value is 10. Higher values will be coerced to the maximum.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                },
                "get": {
                  "flatPath": "v1alpha/properties/{propertiesId}/webDataStreams/{webDataStreamsId}/measurementProtocolSecrets/{measurementProtocolSecretsId}",
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret"
                  },
                  "id": "analyticsadmin.properties.webDataStreams.measurementProtocolSecrets.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the measurement protocol secret to lookup. Format: properties/{property}/webDataStreams/{webDataStream}/measurementProtocolSecrets/{measurementProtocolSecret} Note: Any type of stream (WebDataStream, IosAppDataStream, AndroidAppDataStream) may be a parent.",
                      "pattern": "^properties/[^/]+/webDataStreams/[^/]+/measurementProtocolSecrets/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Lookup for a single \"GA4\" MeasurementProtocolSecret.",
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit",
                    "https://www.googleapis.com/auth/analytics.readonly"
                  ]
                },
                "create": {
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret"
                  },
                  "flatPath": "v1alpha/properties/{propertiesId}/webDataStreams/{webDataStreamsId}/measurementProtocolSecrets",
                  "path": "v1alpha/{+parent}/measurementProtocolSecrets",
                  "id": "analyticsadmin.properties.webDataStreams.measurementProtocolSecrets.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret"
                  },
                  "description": "Creates a measurement protocol secret.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource where this secret will be created. Any type of stream (WebDataStream, IosAppDataStream, AndroidAppDataStream) may be a parent. Format: properties/{property}/webDataStreams/{webDataStream}",
                      "pattern": "^properties/[^/]+/webDataStreams/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit"
                  ],
                  "httpMethod": "POST"
                },
                "patch": {
                  "id": "analyticsadmin.properties.webDataStreams.measurementProtocolSecrets.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit"
                  ],
                  "request": {
                    "$ref": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/properties/{propertiesId}/webDataStreams/{webDataStreamsId}/measurementProtocolSecrets/{measurementProtocolSecretsId}",
                  "parameters": {
                    "updateMask": {
                      "description": "The list of fields to be updated. Omitted fields will not be updated.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "description": "Output only. Resource name of this secret. This secret may be a child of any type of stream. Format: properties/{property}/webDataStreams/{webDataStream}/measurementProtocolSecrets/{measurementProtocolSecret}",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^properties/[^/]+/webDataStreams/[^/]+/measurementProtocolSecrets/[^/]+$"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "description": "Updates a measurement protocol secret.",
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret"
                  },
                  "httpMethod": "PATCH"
                },
                "delete": {
                  "id": "analyticsadmin.properties.webDataStreams.measurementProtocolSecrets.delete",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/properties/{propertiesId}/webDataStreams/{webDataStreamsId}/measurementProtocolSecrets/{measurementProtocolSecretsId}",
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the MeasurementProtocolSecret to delete. Format: properties/{property}/webDataStreams/{webDataStream}/measurementProtocolSecrets/{measurementProtocolSecret} Note: Any type of stream (WebDataStream, IosAppDataStream, AndroidAppDataStream) may be a parent.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^properties/[^/]+/webDataStreams/[^/]+/measurementProtocolSecrets/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit"
                  ],
                  "description": "Deletes target MeasurementProtocolSecret.",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                }
              }
            }
          }
        },
        "conversionEvents": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/conversionEvents/[^/]+$",
                  "required": true,
                  "description": "Required. The resource name of the conversion event to retrieve. Format: properties/{property}/conversionEvents/{conversion_event} Example: \"properties/123/conversionEvents/456\"",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analyticsadmin.properties.conversionEvents.get",
              "httpMethod": "GET",
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/properties/{propertiesId}/conversionEvents/{conversionEventsId}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaConversionEvent"
              },
              "description": "Retrieve a single conversion event."
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes a conversion event in a property.",
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/conversionEvents/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name of the conversion event to delete. Format: properties/{property}/conversionEvents/{conversion_event} Example: \"properties/123/conversionEvents/456\""
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/conversionEvents/{conversionEventsId}",
              "httpMethod": "DELETE",
              "id": "analyticsadmin.properties.conversionEvents.delete",
              "path": "v1alpha/{+name}"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Returns a list of conversion events in the specified parent property. Returns an empty list if no conversion events are found.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListConversionEventsResponse"
              },
              "id": "analyticsadmin.properties.conversionEvents.list",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A page token, received from a previous `ListConversionEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListConversionEvents` must match the call that provided the page token.",
                  "type": "string"
                },
[...]
