{
  "revision": "20220127",
  "protocol": "rest",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/analytics.manage.users": {
          "description": "Manage Google Analytics Account users by email address"
        },
        "https://www.googleapis.com/auth/analytics.manage.users.readonly": {
          "description": "View Google Analytics user permissions"
        },
        "https://www.googleapis.com/auth/analytics.edit": {
          "description": "Edit Google Analytics management entities"
        },
        "https://www.googleapis.com/auth/analytics.readonly": {
          "description": "See and download your Google Analytics data"
        }
      }
    }
  },
  "version": "v1alpha",
  "batchPath": "batch",
  "documentationLink": "http://code.google.com/apis/analytics/docs/mgmt/home.html",
  "ownerDomain": "google.com",
  "baseUrl": "https://analyticsadmin.googleapis.com/",
  "rootUrl": "https://analyticsadmin.googleapis.com/",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "resources": {
    "accountSummaries": {
      "methods": {
        "list": {
          "parameterOrder": [],
          "flatPath": "v1alpha/accountSummaries",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "description": "The maximum number of AccountSummary resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A page token, received from a previous `ListAccountSummaries` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountSummaries` must match the call that provided the page token."
            }
          },
          "httpMethod": "GET",
          "path": "v1alpha/accountSummaries",
          "description": "Returns summaries of all accounts accessible by the caller.",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaListAccountSummariesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "id": "analyticsadmin.accountSummaries.list"
        }
      }
    },
    "accounts": {
      "methods": {
        "searchChangeHistoryEvents": {
          "parameters": {
            "account": {
              "pattern": "^accounts/[^/]+$",
              "description": "Required. The account resource for which to return change history resources.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "account"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequest"
          },
          "path": "v1alpha/{+account}:searchChangeHistoryEvents",
          "httpMethod": "POST",
          "description": "Searches through all changes to an account or its children given the specified set of filters.",
          "id": "analyticsadmin.accounts.searchChangeHistoryEvents",
          "flatPath": "v1alpha/accounts/{accountsId}:searchChangeHistoryEvents",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsResponse"
          }
        },
        "patch": {
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccount"
          },
          "description": "Updates an account.",
          "parameters": {
            "updateMask": {
              "location": "query",
              "type": "string",
              "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "format": "google-fieldmask"
            },
            "name": {
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Output only. Resource name of this account. Format: accounts/{account} Example: \"accounts/100\""
            }
          },
          "id": "analyticsadmin.accounts.patch",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccount"
          },
          "path": "v1alpha/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "flatPath": "v1alpha/accounts/{accountsId}",
          "httpMethod": "PATCH"
        },
        "list": {
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaListAccountsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "description": "Returns all accounts accessible by the caller. Note that these accounts might not currently have GA4 properties. Soft-deleted (ie: \"trashed\") accounts are excluded by default. Returns an empty list if no relevant accounts are found.",
          "id": "analyticsadmin.accounts.list",
          "parameters": {
            "pageSize": {
              "location": "query",
              "description": "The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "description": "A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccounts` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            },
            "showDeleted": {
              "description": "Whether to include soft-deleted (ie: \"trashed\") Accounts in the results. Accounts can be inspected to determine whether they are deleted or not.",
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "v1alpha/accounts",
          "httpMethod": "GET",
          "flatPath": "v1alpha/accounts",
          "parameterOrder": []
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Required. The name of the Account to soft-delete. Format: accounts/{account} Example: \"accounts/100\""
            }
          },
          "id": "analyticsadmin.accounts.delete",
          "description": "Marks target Account as soft-deleted (ie: \"trashed\") and returns it. This API does not have a method to restore soft-deleted accounts. However, they can be restored using the Trash Can UI. If the accounts are not restored before the expiration time, the account and all child resources (eg: Properties, GoogleAdsLinks, Streams, UserLinks) will be permanently purged. https://support.google.com/analytics/answer/6154772 Returns an error if the target is not found.",
          "parameterOrder": [
            "name"
          ],
          "path": "v1alpha/{+name}",
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "flatPath": "v1alpha/accounts/{accountsId}",
          "httpMethod": "DELETE"
        },
        "get": {
          "httpMethod": "GET",
          "path": "v1alpha/{+name}",
          "flatPath": "v1alpha/accounts/{accountsId}",
          "id": "analyticsadmin.accounts.get",
          "description": "Lookup for a single Account.",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "parameters": {
            "name": {
              "pattern": "^accounts/[^/]+$",
              "description": "Required. The name of the account to lookup. Format: accounts/{account} Example: \"accounts/100\"",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccount"
          }
        },
        "getDataSharingSettings": {
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaDataSharingSettings"
          },
          "description": "Get data sharing settings on an account. Data sharing settings are singletons.",
          "id": "analyticsadmin.accounts.getDataSharingSettings",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^accounts/[^/]+/dataSharingSettings$",
              "description": "Required. The name of the settings to lookup. Format: accounts/{account}/dataSharingSettings Example: \"accounts/1000/dataSharingSettings\"",
              "required": true
            }
          },
          "flatPath": "v1alpha/accounts/{accountsId}/dataSharingSettings",
          "parameterOrder": [
            "name"
          ],
          "path": "v1alpha/{+name}",
          "httpMethod": "GET"
        },
        "provisionAccountTicket": {
          "httpMethod": "POST",
          "flatPath": "v1alpha/accounts:provisionAccountTicket",
          "parameterOrder": [],
          "parameters": {},
          "id": "analyticsadmin.accounts.provisionAccountTicket",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaProvisionAccountTicketRequest"
          },
          "description": "Requests a ticket for creating an account.",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaProvisionAccountTicketResponse"
          },
          "path": "v1alpha/accounts:provisionAccountTicket",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ]
        }
      },
      "resources": {
        "userLinks": {
          "methods": {
            "delete": {
              "parameters": {
                "name": {
                  "description": "Required. Example format: accounts/1234/userLinks/5678",
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+/userLinks/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "DELETE",
              "flatPath": "v1alpha/accounts/{accountsId}/userLinks/{userLinksId}",
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "analyticsadmin.accounts.userLinks.delete",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "description": "Deletes a user link on an account or property."
            },
            "batchCreate": {
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchCreateUserLinksRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The account or property that all user links in the request are for. This field is required. The parent field in the CreateUserLinkRequest messages must either be empty or match this field. Example format: accounts/1234",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1alpha/accounts/{accountsId}/userLinks:batchCreate",
              "id": "analyticsadmin.accounts.userLinks.batchCreate",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchCreateUserLinksResponse"
              },
              "description": "Creates information about multiple users' links to an account or property. This method is transactional. If any UserLink cannot be created, none of the UserLinks will be created.",
              "path": "v1alpha/{+parent}/userLinks:batchCreate",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ]
            },
            "get": {
              "id": "analyticsadmin.accounts.userLinks.get",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
              },
              "description": "Gets information about a user's link to an account or property.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "httpMethod": "GET",
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Example format: accounts/1234/userLinks/5678",
                  "pattern": "^accounts/[^/]+/userLinks/[^/]+$"
                }
              },
              "flatPath": "v1alpha/accounts/{accountsId}/userLinks/{userLinksId}"
            },
            "create": {
              "httpMethod": "POST",
              "id": "analyticsadmin.accounts.userLinks.create",
              "flatPath": "v1alpha/accounts/{accountsId}/userLinks",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "path": "v1alpha/{+parent}/userLinks",
              "description": "Creates a user link on an account or property. If the user with the specified email already has permissions on the account or property, then the user's existing permissions will be unioned with the permissions specified in the new UserLink.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. Example format: accounts/1234",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "notifyNewUser": {
                  "location": "query",
                  "description": "Optional. If set, then email the new user notifying them that they've been granted permissions to the resource.",
                  "type": "boolean"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
              }
            },
            "batchGet": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchGetUserLinksResponse"
              },
              "path": "v1alpha/{+parent}/userLinks:batchGet",
              "id": "analyticsadmin.accounts.userLinks.batchGet",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha/accounts/{accountsId}/userLinks:batchGet",
              "parameters": {
                "parent": {
                  "description": "Required. The account or property that all user links in the request are for. The parent of all provided values for the 'names' field must match this field. Example format: accounts/1234",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path"
                },
                "names": {
                  "description": "Required. The names of the user links to retrieve. A maximum of 1000 user links can be retrieved in a batch. Format: accounts/{accountId}/userLinks/{userLinkId}",
                  "repeated": true,
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Gets information about multiple users' links to an account or property."
            },
            "batchDelete": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The account or property that all user links in the request are for. The parent of all values for user link names to delete must match this field. Example format: accounts/1234",
                  "pattern": "^accounts/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "path": "v1alpha/{+parent}/userLinks:batchDelete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchDeleteUserLinksRequest"
              },
              "httpMethod": "POST",
              "description": "Deletes information about multiple users' links to an account or property.",
              "id": "analyticsadmin.accounts.userLinks.batchDelete",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha/accounts/{accountsId}/userLinks:batchDelete"
            },
            "list": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListUserLinksResponse"
              },
              "httpMethod": "GET",
              "id": "analyticsadmin.accounts.userLinks.list",
              "description": "Lists all user links on an account or property.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. Example format: accounts/1234",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^accounts/[^/]+$"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token, received from a previous `ListUserLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserLinks` must match the call that provided the page token.",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of user links to return. The service may return fewer than this value. If unspecified, at most 200 user links will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "path": "v1alpha/{+parent}/userLinks",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha/accounts/{accountsId}/userLinks"
            },
            "patch": {
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
              },
              "httpMethod": "PATCH",
              "flatPath": "v1alpha/accounts/{accountsId}/userLinks/{userLinksId}",
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "description": "Updates a user link on an account or property.",
              "parameterOrder": [
                "name"
              ],
              "id": "analyticsadmin.accounts.userLinks.patch",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/userLinks/[^/]+$",
                  "location": "path",
                  "description": "Output only. Example format: properties/1234/userLinks/5678",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
              }
            },
            "batchUpdate": {
              "path": "v1alpha/{+parent}/userLinks:batchUpdate",
              "id": "analyticsadmin.accounts.userLinks.batchUpdate",
              "description": "Updates information about multiple users' links to an account or property.",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksRequest"
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. The account or property that all user links in the request are for. The parent field in the UpdateUserLinkRequest messages must either be empty or match this field. Example format: accounts/1234",
                  "location": "path",
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "required": true
                }
              },
              "flatPath": "v1alpha/accounts/{accountsId}/userLinks:batchUpdate"
            },
            "audit": {
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaAuditUserLinksRequest"
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAuditUserLinksResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "flatPath": "v1alpha/accounts/{accountsId}/userLinks:audit",
              "description": "Lists all user links on an account or property, including implicit ones that come from effective permissions granted by groups or organization admin roles. If a returned user link does not have direct permissions, they cannot be removed from the account or property directly with the DeleteUserLink command. They have to be removed from the group/etc that gives them permissions, which is currently only usable/discoverable in the GA or GMP UIs.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. Example format: accounts/1234",
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "id": "analyticsadmin.accounts.userLinks.audit",
              "path": "v1alpha/{+parent}/userLinks:audit"
            }
          }
        }
      }
    },
    "properties": {
      "resources": {
        "customMetrics": {
          "methods": {
            "archive": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/customMetrics/{customMetricsId}:archive",
              "description": "Archives a CustomMetric on a property.",
              "path": "v1alpha/{+name}:archive",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^properties/[^/]+/customMetrics/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the CustomMetric to archive. Example format: properties/1234/customMetrics/5678",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "id": "analyticsadmin.properties.customMetrics.archive",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaArchiveCustomMetricRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "list": {
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A page token, received from a previous `ListCustomMetrics` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCustomMetrics` must match the call that provided the page token.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "location": "query",
                  "format": "int32"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Example format: properties/1234",
                  "type": "string",
                  "pattern": "^properties/[^/]+$"
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/customMetrics",
              "id": "analyticsadmin.properties.customMetrics.list",
              "httpMethod": "GET",
              "path": "v1alpha/{+parent}/customMetrics",
              "description": "Lists CustomMetrics on a property.",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListCustomMetricsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "create": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Example format: properties/1234",
                  "pattern": "^properties/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/customMetrics",
              "flatPath": "v1alpha/properties/{propertiesId}/customMetrics",
              "description": "Creates a CustomMetric.",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric"
              },
              "id": "analyticsadmin.properties.customMetrics.create",
              "httpMethod": "POST"
            },
            "patch": {
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric"
              },
              "description": "Updates a CustomMetric on a property.",
              "id": "analyticsadmin.properties.customMetrics.patch",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "v1alpha/{+name}",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric"
              },
              "parameters": {
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "description": "Output only. Resource name for this CustomMetric resource. Format: properties/{property}/customMetrics/{customMetric}",
                  "required": true,
                  "pattern": "^properties/[^/]+/customMetrics/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/customMetrics/{customMetricsId}",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "id": "analyticsadmin.properties.customMetrics.get",
              "description": "Lookup for a single CustomMetric.",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the CustomMetric to get. Example format: properties/1234/customMetrics/5678",
                  "type": "string",
                  "pattern": "^properties/[^/]+/customMetrics/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET",
              "path": "v1alpha/{+name}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/customMetrics/{customMetricsId}",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "iosAppDataStreams": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analyticsadmin.properties.iosAppDataStreams.get",
              "description": "Lookup for a single IosAppDataStream",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaIosAppDataStream"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the iOS app data stream to lookup. Format: properties/{property_id}/iosAppDataStreams/{stream_id} Example: \"properties/123/iosAppDataStreams/456\"",
                  "type": "string",
                  "pattern": "^properties/[^/]+/iosAppDataStreams/[^/]+$",
                  "required": true
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/iosAppDataStreams/{iosAppDataStreamsId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}"
            },
            "patch": {
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaIosAppDataStream"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/iosAppDataStreams/{iosAppDataStreamsId}",
              "description": "Updates an iOS app stream on a property.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaIosAppDataStream"
              },
              "httpMethod": "PATCH",
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "name": {
                  "description": "Output only. Resource name of this Data Stream. Format: properties/{property_id}/iosAppDataStreams/{stream_id} Example: \"properties/1000/iosAppDataStreams/2000\"",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^properties/[^/]+/iosAppDataStreams/[^/]+$"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "type": "string"
                }
              },
              "id": "analyticsadmin.properties.iosAppDataStreams.patch"
            },
            "delete": {
              "id": "analyticsadmin.properties.iosAppDataStreams.delete",
              "flatPath": "v1alpha/properties/{propertiesId}/iosAppDataStreams/{iosAppDataStreamsId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "DELETE",
              "path": "v1alpha/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/iosAppDataStreams/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the iOS app data stream to delete. Format: properties/{property_id}/iosAppDataStreams/{stream_id} Example: \"properties/123/iosAppDataStreams/456\"",
                  "location": "path"
                }
              },
              "description": "Deletes an iOS app stream on a property.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "list": {
              "id": "analyticsadmin.properties.iosAppDataStreams.list",
              "flatPath": "v1alpha/properties/{propertiesId}/iosAppDataStreams",
              "description": "Returns child iOS app data streams under the specified parent property. iOS app data streams will be excluded if the caller does not have access. Returns an empty list if no relevant iOS app data streams are found.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token, received from a previous `ListIosAppDataStreams` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListIosAppDataStreams` must match the call that provided the page token."
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
                  "type": "integer"
                },
                "parent": {
                  "description": "Required. The name of the parent property. For example, to list results of app streams under the property with Id 123: \"properties/123\"",
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1alpha/{+parent}/iosAppDataStreams",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListIosAppDataStreamsResponse"
              }
            }
          }
        },
        "customDimensions": {
          "methods": {
            "patch": {
              "flatPath": "v1alpha/properties/{propertiesId}/customDimensions/{customDimensionsId}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Output only. Resource name for this CustomDimension resource. Format: properties/{property}/customDimensions/{customDimension}",
                  "required": true,
                  "location": "path",
                  "pattern": "^properties/[^/]+/customDimensions/[^/]+$",
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields."
                }
              },
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "v1alpha/{+name}",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
              },
              "id": "analyticsadmin.properties.customDimensions.patch",
              "description": "Updates a CustomDimension on a property."
            },
            "archive": {
              "id": "analyticsadmin.properties.customDimensions.archive",
              "description": "Archives a CustomDimension on a property.",
              "path": "v1alpha/{+name}:archive",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/customDimensions/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the CustomDimension to archive. Example format: properties/1234/customDimensions/5678",
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaArchiveCustomDimensionRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/customDimensions/{customDimensionsId}:archive"
            },
            "list": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListCustomDimensionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Example format: properties/1234"
                },
                "pageSize": {
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListCustomDimensions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCustomDimensions` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Lists CustomDimensions on a property.",
              "path": "v1alpha/{+parent}/customDimensions",
              "httpMethod": "GET",
              "flatPath": "v1alpha/properties/{propertiesId}/customDimensions",
              "id": "analyticsadmin.properties.customDimensions.list"
            },
            "create": {
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. Example format: properties/1234",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^properties/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "analyticsadmin.properties.customDimensions.create",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/customDimensions",
              "path": "v1alpha/{+parent}/customDimensions",
              "description": "Creates a CustomDimension."
            },
            "get": {
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the CustomDimension to get. Example format: properties/1234/customDimensions/5678",
                  "pattern": "^properties/[^/]+/customDimensions/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/customDimensions/{customDimensionsId}",
              "parameterOrder": [
                "name"
              ],
              "id": "analyticsadmin.properties.customDimensions.get",
              "description": "Lookup for a single CustomDimension.",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
              }
            }
          }
        },
        "userLinks": {
          "methods": {
            "delete": {
              "flatPath": "v1alpha/properties/{propertiesId}/userLinks/{userLinksId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^properties/[^/]+/userLinks/[^/]+$",
                  "type": "string",
                  "description": "Required. Example format: accounts/1234/userLinks/5678"
                }
              },
              "description": "Deletes a user link on an account or property.",
              "id": "analyticsadmin.properties.userLinks.delete"
            },
            "batchGet": {
              "path": "v1alpha/{+parent}/userLinks:batchGet",
              "parameters": {
                "names": {
                  "description": "Required. The names of the user links to retrieve. A maximum of 1000 user links can be retrieved in a batch. Format: accounts/{accountId}/userLinks/{userLinkId}",
                  "location": "query",
                  "type": "string",
                  "repeated": true
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. The account or property that all user links in the request are for. The parent of all provided values for the 'names' field must match this field. Example format: accounts/1234",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchGetUserLinksResponse"
              },
              "httpMethod": "GET",
              "id": "analyticsadmin.properties.userLinks.batchGet",
              "description": "Gets information about multiple users' links to an account or property.",
              "flatPath": "v1alpha/properties/{propertiesId}/userLinks:batchGet",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ]
            },
            "audit": {
              "id": "analyticsadmin.properties.userLinks.audit",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAuditUserLinksResponse"
              },
              "path": "v1alpha/{+parent}/userLinks:audit",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Example format: accounts/1234",
                  "pattern": "^properties/[^/]+$",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "description": "Lists all user links on an account or property, including implicit ones that come from effective permissions granted by groups or organization admin roles. If a returned user link does not have direct permissions, they cannot be removed from the account or property directly with the DeleteUserLink command. They have to be removed from the group/etc that gives them permissions, which is currently only usable/discoverable in the GA or GMP UIs.",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaAuditUserLinksRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/userLinks:audit"
            },
            "batchUpdate": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksResponse"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksRequest"
              },
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The account or property that all user links in the request are for. The parent field in the UpdateUserLinkRequest messages must either be empty or match this field. Example format: accounts/1234"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/userLinks:batchUpdate",
              "path": "v1alpha/{+parent}/userLinks:batchUpdate",
              "id": "analyticsadmin.properties.userLinks.batchUpdate",
              "description": "Updates information about multiple users' links to an account or property."
            },
            "patch": {
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
              },
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/userLinks/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Output only. Example format: properties/1234/userLinks/5678",
                  "type": "string"
                }
              },
              "httpMethod": "PATCH",
              "path": "v1alpha/{+name}",
              "id": "analyticsadmin.properties.userLinks.patch",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
              },
              "description": "Updates a user link on an account or property.",
              "flatPath": "v1alpha/properties/{propertiesId}/userLinks/{userLinksId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ]
            },
            "create": {
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "id": "analyticsadmin.properties.userLinks.create",
              "description": "Creates a user link on an account or property. If the user with the specified email already has permissions on the account or property, then the user's existing permissions will be unioned with the permissions specified in the new UserLink.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/userLinks",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
              },
              "path": "v1alpha/{+parent}/userLinks",
              "parameters": {
                "parent": {
                  "description": "Required. Example format: accounts/1234",
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "location": "path"
                },
                "notifyNewUser": {
                  "description": "Optional. If set, then email the new user notifying them that they've been granted permissions to the resource.",
                  "location": "query",
                  "type": "boolean"
                }
              }
            },
            "batchDelete": {
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchDeleteUserLinksRequest"
              },
              "id": "analyticsadmin.properties.userLinks.batchDelete",
              "flatPath": "v1alpha/properties/{propertiesId}/userLinks:batchDelete",
              "path": "v1alpha/{+parent}/userLinks:batchDelete",
              "description": "Deletes information about multiple users' links to an account or property.",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. The account or property that all user links in the request are for. The parent of all values for user link names to delete must match this field. Example format: accounts/1234",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST"
            },
            "batchCreate": {
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchCreateUserLinksRequest"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/userLinks:batchCreate",
              "id": "analyticsadmin.properties.userLinks.batchCreate",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. The account or property that all user links in the request are for. This field is required. The parent field in the CreateUserLinkRequest messages must either be empty or match this field. Example format: accounts/1234",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1alpha/{+parent}/userLinks:batchCreate",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchCreateUserLinksResponse"
              },
              "httpMethod": "POST",
              "description": "Creates information about multiple users' links to an account or property. This method is transactional. If any UserLink cannot be created, none of the UserLinks will be created."
            },
            "list": {
              "flatPath": "v1alpha/properties/{propertiesId}/userLinks",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "id": "analyticsadmin.properties.userLinks.list",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "path": "v1alpha/{+parent}/userLinks",
              "parameters": {
                "parent": {
                  "description": "Required. Example format: accounts/1234",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^properties/[^/]+$"
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListUserLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserLinks` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of user links to return. The service may return fewer than this value. If unspecified, at most 200 user links will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListUserLinksResponse"
              },
              "description": "Lists all user links on an account or property."
            },
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaUserLink"
              },
              "id": "analyticsadmin.properties.userLinks.get",
              "path": "v1alpha/{+name}",
              "description": "Gets information about a user's link to an account or property.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/userLinks/{userLinksId}",
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/userLinks/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Example format: accounts/1234/userLinks/5678",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "webDataStreams": {
          "methods": {
            "delete": {
              "id": "analyticsadmin.properties.webDataStreams.delete",
              "path": "v1alpha/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/webDataStreams/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the web data stream to delete. Format: properties/{property_id}/webDataStreams/{stream_id} Example: \"properties/123/webDataStreams/456\"",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/webDataStreams/{webDataStreamsId}",
              "httpMethod": "DELETE",
              "description": "Deletes a web stream on a property."
            },
            "getGlobalSiteTag": {
              "httpMethod": "GET",
              "description": "Returns the Site Tag for the specified web stream. Site Tags are immutable singletons.",
              "flatPath": "v1alpha/properties/{propertiesId}/webDataStreams/{webDataStreamsId}/globalSiteTag",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "analyticsadmin.properties.webDataStreams.getGlobalSiteTag",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaGlobalSiteTag"
              },
              "path": "v1alpha/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/webDataStreams/[^/]+/globalSiteTag$",
                  "location": "path",
                  "description": "Required. The name of the site tag to lookup. Note that site tags are singletons and do not have unique IDs. Format: properties/{property_id}/webDataStreams/{stream_id}/globalSiteTag Example: \"properties/123/webDataStreams/456/globalSiteTag\"",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "get": {
              "id": "analyticsadmin.properties.webDataStreams.get",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaWebDataStream"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/webDataStreams/{webDataStreamsId}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the web data stream to lookup. Format: properties/{property_id}/webDataStreams/{stream_id} Example: \"properties/123/webDataStreams/456\"",
                  "type": "string",
                  "pattern": "^properties/[^/]+/webDataStreams/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "Lookup for a single WebDataStream",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListWebDataStreamsResponse"
              },
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token, received from a previous `ListWebDataStreams` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListWebDataStreams` must match the call that provided the page token."
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the parent property. For example, to list results of web streams under the property with Id 123: \"properties/123\"",
                  "pattern": "^properties/[^/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/webDataStreams",
              "flatPath": "v1alpha/properties/{propertiesId}/webDataStreams",
              "description": "Returns child web data streams under the specified parent property. Web data streams will be excluded if the caller does not have access. Returns an empty list if no relevant web data streams are found.",
              "id": "analyticsadmin.properties.webDataStreams.list"
            },
            "patch": {
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Output only. Resource name of this Data Stream. Format: properties/{property_id}/webDataStreams/{stream_id} Example: \"properties/1000/webDataStreams/2000\"",
                  "required": true,
                  "pattern": "^properties/[^/]+/webDataStreams/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/webDataStreams/{webDataStreamsId}",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaWebDataStream"
              },
              "id": "analyticsadmin.properties.webDataStreams.patch",
              "description": "Updates a web stream on a property.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaWebDataStream"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}"
            },
            "create": {
              "path": "v1alpha/{+parent}/webDataStreams",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaWebDataStream"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Creates a web stream with the specified location and attributes.",
              "id": "analyticsadmin.properties.webDataStreams.create",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaWebDataStream"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource where this web data stream will be created. Format: properties/123",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^properties/[^/]+$"
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/webDataStreams"
            }
          }
        },
        "googleAdsLinks": {
          "methods": {
            "patch": {
              "httpMethod": "PATCH",
              "path": "v1alpha/{+name}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink"
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink"
              },
              "parameters": {
                "name": {
                  "description": "Output only. Format: properties/{propertyId}/googleAdsLinks/{googleAdsLinkId} Note: googleAdsLinkId is not the Google Ads customer ID.",
                  "type": "string",
                  "required": true,
                  "pattern": "^properties/[^/]+/googleAdsLinks/[^/]+$",
                  "location": "path"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "Updates a GoogleAdsLink on a property",
              "id": "analyticsadmin.properties.googleAdsLinks.patch",
              "flatPath": "v1alpha/properties/{propertiesId}/googleAdsLinks/{googleAdsLinksId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "flatPath": "v1alpha/properties/{propertiesId}/googleAdsLinks",
              "path": "v1alpha/{+parent}/googleAdsLinks",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a GoogleAdsLink.",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. Example format: properties/1234",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.googleAdsLinks.create",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink"
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink"
              }
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token, received from a previous `ListGoogleAdsLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListGoogleAdsLinks` must match the call that provided the page token."
                },
                "parent": {
                  "description": "Required. Example format: properties/1234",
                  "type": "string",
                  "required": true,
                  "pattern": "^properties/[^/]+$",
                  "location": "path"
                }
              },
              "description": "Lists GoogleAdsLinks on a property.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListGoogleAdsLinksResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "analyticsadmin.properties.googleAdsLinks.list",
              "flatPath": "v1alpha/properties/{propertiesId}/googleAdsLinks",
              "path": "v1alpha/{+parent}/googleAdsLinks"
            },
            "delete": {
              "parameters": {
                "name": {
                  "description": "Required. Example format: properties/1234/googleAdsLinks/5678",
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+/googleAdsLinks/[^/]+$",
                  "location": "path"
                }
              },
              "id": "analyticsadmin.properties.googleAdsLinks.delete",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a GoogleAdsLink on a property",
              "flatPath": "v1alpha/properties/{propertiesId}/googleAdsLinks/{googleAdsLinksId}",
              "path": "v1alpha/{+name}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "DELETE"
            }
          }
        },
        "dataStreams": {
          "methods": {
            "delete": {
              "httpMethod": "DELETE",
              "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}",
              "id": "analyticsadmin.properties.dataStreams.delete",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the DataStream to delete. Example format: properties/1234/dataStreams/5678",
                  "pattern": "^properties/[^/]+/dataStreams/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a DataStream on a property.",
              "path": "v1alpha/{+name}"
            },
            "list": {
              "flatPath": "v1alpha/properties/{propertiesId}/dataStreams",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A page token, received from a previous `ListDataStreams` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDataStreams` must match the call that provided the page token.",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. Example format: properties/1234",
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+$"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "location": "query",
                  "type": "integer"
                }
              },
              "httpMethod": "GET",
              "id": "analyticsadmin.properties.dataStreams.list",
              "path": "v1alpha/{+parent}/dataStreams",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListDataStreamsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists DataStreams on a property."
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Lookup for a single DataStream.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the DataStream to get. Example format: properties/1234/dataStreams/5678",
                  "pattern": "^properties/[^/]+/dataStreams/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "path": "v1alpha/{+name}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaDataStream"
              },
              "id": "analyticsadmin.properties.dataStreams.get",
              "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}"
            },
            "patch": {
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaDataStream"
              },
              "id": "analyticsadmin.properties.dataStreams.patch",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^properties/[^/]+/dataStreams/[^/]+$",
                  "description": "Output only. Resource name of this Data Stream. Format: properties/{property_id}/dataStreams/{stream_id} Example: \"properties/1000/dataStreams/2000\"",
                  "required": true,
                  "location": "path"
                },
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "PATCH",
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Updates a DataStream on a property.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaDataStream"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}"
            },
            "create": {
              "id": "analyticsadmin.properties.dataStreams.create",
              "parameters": {
                "parent": {
                  "description": "Required. Example format: properties/1234",
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "location": "path"
                }
              },
              "path": "v1alpha/{+parent}/dataStreams",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaDataStream"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaDataStream"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/dataStreams",
              "description": "Creates a DataStream."
            }
          },
          "resources": {
            "measurementProtocolSecrets": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+/measurementProtocolSecrets/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the measurement protocol secret to lookup. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}"
                    }
                  },
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit",
                    "https://www.googleapis.com/auth/analytics.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lookup for a single \"GA4\" MeasurementProtocolSecret.",
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets/{measurementProtocolSecretsId}",
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret"
                  },
                  "httpMethod": "GET"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit"
                  ],
                  "path": "v1alpha/{+parent}/measurementProtocolSecrets",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource where this secret will be created. Format: properties/{property}/dataStreams/{dataStream}",
                      "location": "path",
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret"
                  },
                  "httpMethod": "POST",
                  "description": "Creates a measurement protocol secret.",
                  "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets",
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.create",
                  "request": {
                    "$ref": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret"
                  }
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+/measurementProtocolSecrets/[^/]+$",
                      "required": true,
                      "description": "Output only. Resource name of this secret. This secret may be a child of any type of stream. Format: properties/{property}/webDataStreams/{webDataStream}/measurementProtocolSecrets/{measurementProtocolSecret}",
                      "type": "string",
                      "location": "path"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "The list of fields to be updated. Omitted fields will not be updated."
                    }
                  },
                  "request": {
                    "$ref": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret"
                  },
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit"
                  ],
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret"
                  },
                  "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets/{measurementProtocolSecretsId}",
                  "httpMethod": "PATCH",
                  "description": "Updates a measurement protocol secret."
                },
                "list": {
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of resources to return. If unspecified, at most 10 resources will be returned. The maximum value is 10. Higher values will be coerced to the maximum.",
                      "format": "int32",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The resource name of the parent stream. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets",
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListMeasurementProtocolSecrets` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListMeasurementProtocolSecrets` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets",
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit",
                    "https://www.googleapis.com/auth/analytics.readonly"
                  ],
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.list",
                  "path": "v1alpha/{+parent}/measurementProtocolSecrets",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Returns child MeasurementProtocolSecrets under the specified parent Property.",
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1alphaListMeasurementProtocolSecretsResponse"
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.delete",
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets/{measurementProtocolSecretsId}",
                  "description": "Deletes target MeasurementProtocolSecret.",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the MeasurementProtocolSecret to delete. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}",
                      "type": "string",
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+/measurementProtocolSecrets/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit"
                  ]
                }
              }
            }
          }
        },
        "displayVideo360AdvertiserLinks": {
          "methods": {
            "list": {
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. Example format: properties/1234",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum)."
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListDisplayVideo360AdvertiserLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDisplayVideo360AdvertiserLinks` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1alpha/{+parent}/displayVideo360AdvertiserLinks",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/displayVideo360AdvertiserLinks",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analyticsadmin.properties.displayVideo360AdvertiserLinks.list",
              "description": "Lists all DisplayVideo360AdvertiserLinks on a property.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListDisplayVideo360AdvertiserLinksResponse"
              }
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Deletes a DisplayVideo360AdvertiserLink on a property.",
              "httpMethod": "DELETE",
              "flatPath": "v1alpha/properties/{propertiesId}/displayVideo360AdvertiserLinks/{displayVideo360AdvertiserLinksId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "analyticsadmin.properties.displayVideo360AdvertiserLinks.delete",
              "path": "v1alpha/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^properties/[^/]+/displayVideo360AdvertiserLinks/[^/]+$",
                  "description": "Required. The name of the DisplayVideo360AdvertiserLink to delete. Example format: properties/1234/displayVideo360AdvertiserLinks/5678",
                  "required": true
                }
              }
            },
            "patch": {
              "id": "analyticsadmin.properties.displayVideo360AdvertiserLinks.patch",
              "flatPath": "v1alpha/properties/{propertiesId}/displayVideo360AdvertiserLinks/{displayVideo360AdvertiserLinksId}",
              "description": "Updates a DisplayVideo360AdvertiserLink on a property.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink"
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink"
              },
              "path": "v1alpha/{+name}",
              "parameters": {
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                },
                "name": {
                  "type": "string",
                  "pattern": "^properties/[^/]+/displayVideo360AdvertiserLinks/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Output only. The resource name for this DisplayVideo360AdvertiserLink resource. Format: properties/{propertyId}/displayVideo360AdvertiserLinks/{linkId} Note: linkId is not the Display & Video 360 Advertiser ID"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "PATCH"
            },
            "get": {
              "flatPath": "v1alpha/properties/{propertiesId}/displayVideo360AdvertiserLinks/{displayVideo360AdvertiserLinksId}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink"
              },
              "id": "analyticsadmin.properties.displayVideo360AdvertiserLinks.get",
              "path": "v1alpha/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Look up a single DisplayVideo360AdvertiserLink",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^properties/[^/]+/displayVideo360AdvertiserLinks/[^/]+$",
                  "description": "Required. The name of the DisplayVideo360AdvertiserLink to get. Example format: properties/1234/displayVideo360AdvertiserLink/5678",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "create": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink"
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. Example format: properties/1234",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "id": "analyticsadmin.properties.displayVideo360AdvertiserLinks.create",
              "description": "Creates a DisplayVideo360AdvertiserLink. This can only be utilized by users who have proper authorization both on the Google Analytics property and on the Display & Video 360 advertiser. Users who do not have access to the Display & Video 360 advertiser should instead seek to create a DisplayVideo360LinkProposal.",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/displayVideo360AdvertiserLinks",
              "path": "v1alpha/{+parent}/displayVideo360AdvertiserLinks",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            }
          }
        },
        "conversionEvents": {
          "methods": {
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "v1alpha/{+parent}/conversionEvents",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaConversionEvent"
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaConversionEvent"
              },
              "description": "Creates a conversion event with the specified attributes.",
              "flatPath": "v1alpha/properties/{propertiesId}/conversionEvents",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name of the parent property where this conversion event will be created. Format: properties/123",
                  "required": true
                }
              },
              "id": "analyticsadmin.properties.conversionEvents.create"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "id": "analyticsadmin.properties.conversionEvents.list",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. The resource name of the parent property. Example: 'properties/123'",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token, received from a previous `ListConversionEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListConversionEvents` must match the call that provided the page token."
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)"
                }
              },
              "path": "v1alpha/{+parent}/conversionEvents",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListConversionEventsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Returns a list of conversion events in the specified parent property. Returns an empty list if no conversion events are found.",
              "flatPath": "v1alpha/properties/{propertiesId}/conversionEvents"
            },
            "delete": {
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^properties/[^/]+/conversionEvents/[^/]+$",
                  "type": "string",
                  "description": "Required. The resource name of the conversion event to delete. Format: properties/{property}/conversionEvents/{conversion_event} Example: \"properties/123/conversionEvents/456\""
                }
              },
              "httpMethod": "DELETE",
              "flatPath": "v1alpha/properties/{propertiesId}/conversionEvents/{conversionEventsId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "analyticsadmin.properties.conversionEvents.delete",
              "path": "v1alpha/{+name}",
              "description": "Deletes a conversion event in a property.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
[...]
