{
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "analyticsadmin",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Google Analytics Admin",
  "discoveryVersion": "v1",
  "basePath": "",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://analyticsadmin.mtls.googleapis.com/",
  "ownerName": "Google",
  "version": "v1alpha",
  "revision": "20240312",
  "kind": "discovery#restDescription",
  "baseUrl": "https://analyticsadmin.googleapis.com/",
  "version_module": true,
  "schemas": {
    "GoogleAnalyticsAdminV1alphaAttributionSettings": {
      "id": "GoogleAnalyticsAdminV1alphaAttributionSettings",
      "type": "object",
      "properties": {
        "adsWebConversionDataExportScope": {
          "description": "Required. The Conversion Export Scope for data exported to linked Ads Accounts.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "No data export scope selected yet. Export scope can never be changed back to this value.",
            "Paid and organic channels are eligible to receive conversion credit, but only credit assigned to Google Ads channels will appear in your Ads accounts. To learn more, see [Paid and Organic channels](https://support.google.com/analytics/answer/10632359).",
            "Only Google Ads paid channels are eligible to receive conversion credit. To learn more, see [Google Paid channels](https://support.google.com/analytics/answer/10632359)."
          ],
          "enum": [
            "ADS_WEB_CONVERSION_DATA_EXPORT_SCOPE_UNSPECIFIED",
            "NOT_SELECTED_YET",
            "PAID_AND_ORGANIC_CHANNELS",
            "GOOGLE_PAID_CHANNELS"
          ]
        },
        "reportingAttributionModel": {
          "enumDescriptions": [
            "Reporting attribution model unspecified.",
            "Data-driven attribution distributes credit for the conversion based on data for each conversion event. Each Data-driven model is specific to each advertiser and each conversion event. Previously CROSS_CHANNEL_DATA_DRIVEN",
            "Ignores direct traffic and attributes 100% of the conversion value to the last channel that the customer clicked through (or engaged view through for YouTube) before converting. Previously CROSS_CHANNEL_LAST_CLICK",
            "Attributes 100% of the conversion value to the last Google Paid channel that the customer clicked through before converting. Previously ADS_PREFERRED_LAST_CLICK"
          ],
          "description": "Required. The reporting attribution model used to calculate conversion credit in this property's reports. Changing the attribution model will apply to both historical and future data. These changes will be reflected in reports with conversion and revenue data. User and session data will be unaffected.",
          "enum": [
            "REPORTING_ATTRIBUTION_MODEL_UNSPECIFIED",
            "PAID_AND_ORGANIC_CHANNELS_DATA_DRIVEN",
            "PAID_AND_ORGANIC_CHANNELS_LAST_CLICK",
            "GOOGLE_PAID_CHANNELS_LAST_CLICK"
          ],
          "type": "string"
        },
        "otherConversionEventLookbackWindow": {
          "enumDescriptions": [
            "Lookback window size unspecified.",
            "30-day lookback window.",
            "60-day lookback window.",
            "90-day lookback window."
          ],
          "enum": [
            "OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_UNSPECIFIED",
            "OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_30_DAYS",
            "OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_60_DAYS",
            "OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_90_DAYS"
          ],
          "description": "Required. The lookback window for all other, non-acquisition conversion events. The default window size is 90 days.",
          "type": "string"
        },
        "acquisitionConversionEventLookbackWindow": {
          "enumDescriptions": [
            "Lookback window size unspecified.",
            "7-day lookback window.",
            "30-day lookback window."
          ],
          "type": "string",
          "description": "Required. The lookback window configuration for acquisition conversion events. The default window size is 30 days.",
          "enum": [
            "ACQUISITION_CONVERSION_EVENT_LOOKBACK_WINDOW_UNSPECIFIED",
            "ACQUISITION_CONVERSION_EVENT_LOOKBACK_WINDOW_7_DAYS",
            "ACQUISITION_CONVERSION_EVENT_LOOKBACK_WINDOW_30_DAYS"
          ]
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of this attribution settings resource. Format: properties/{property_id}/attributionSettings Example: \"properties/1000/attributionSettings\"",
          "readOnly": true
        }
      },
      "description": "The attribution settings used for a given property. This is a singleton resource."
    },
    "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpressionList": {
      "properties": {
        "filterExpressions": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression"
          },
          "description": "Required. Unordered list. A list of Subproperty event filter expressions"
        }
      },
      "type": "object",
      "description": "A list of Subproperty event filter expressions.",
      "id": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpressionList"
    },
    "GoogleAnalyticsAdminV1alphaSKAdNetworkConversionValueSchema": {
      "properties": {
        "name": {
          "description": "Output only. Resource name of the schema. This will be child of ONLY an iOS stream, and there can be at most one such child under an iOS stream. Format: properties/{property}/dataStreams/{dataStream}/sKAdNetworkConversionValueSchema",
          "readOnly": true,
          "type": "string"
        },
        "postbackWindowTwo": {
          "$ref": "GoogleAnalyticsAdminV1alphaPostbackWindow",
          "description": "The conversion value settings for the second postback window. This field should only be configured if there is a need to define different conversion values for this postback window. If enable_postback_window_settings is set to false for this postback window, the values from postback_window_one will be used."
        },
        "postbackWindowThree": {
          "description": "The conversion value settings for the third postback window. This field should only be set if the user chose to define different conversion values for this postback window. It is allowed to configure window 3 without setting window 2. In case window 1 & 2 settings are set and enable_postback_window_settings for this postback window is set to false, the schema will inherit settings from postback_window_two.",
          "$ref": "GoogleAnalyticsAdminV1alphaPostbackWindow"
        },
        "applyConversionValues": {
          "description": "If enabled, the GA SDK will set conversion values using this schema definition, and schema will be exported to any Google Ads accounts linked to this property. If disabled, the GA SDK will not automatically set conversion values, and also the schema will not be exported to Ads.",
          "type": "boolean"
        },
        "postbackWindowOne": {
          "description": "Required. The conversion value settings for the first postback window. These differ from values for postback window two and three in that they contain a \"Fine\" grained conversion value (a numeric value). Conversion values for this postback window must be set. The other windows are optional and may inherit this window's settings if unset or disabled.",
          "$ref": "GoogleAnalyticsAdminV1alphaPostbackWindow"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaSKAdNetworkConversionValueSchema",
      "description": "SKAdNetwork conversion value schema of an iOS stream."
    },
    "GoogleAnalyticsAdminV1alphaAcknowledgeUserDataCollectionRequest": {
      "properties": {
        "acknowledgement": {
          "description": "Required. An acknowledgement that the caller of this method understands the terms of user data collection. This field must contain the exact value: \"I acknowledge that I have the necessary privacy disclosures and rights from my end users for the collection and processing of their data, including the association of such data with the visitation information Google Analytics collects from my site and/or app property.\"",
          "type": "string"
        }
      },
      "description": "Request message for AcknowledgeUserDataCollection RPC.",
      "id": "GoogleAnalyticsAdminV1alphaAcknowledgeUserDataCollectionRequest",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequest": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequest",
      "properties": {
        "actorEmail": {
          "description": "Optional. If set, only return changes if they are made by a user in this list.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "earliestChangeTime": {
          "description": "Optional. If set, only return changes made after this time (inclusive).",
          "type": "string",
          "format": "google-datetime"
        },
        "pageSize": {
          "type": "integer",
          "description": "Optional. The maximum number of ChangeHistoryEvent items to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 items will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
          "format": "int32"
        },
        "latestChangeTime": {
          "description": "Optional. If set, only return changes made before this time (inclusive).",
          "format": "google-datetime",
          "type": "string"
        },
        "pageToken": {
          "description": "Optional. A page token, received from a previous `SearchChangeHistoryEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchChangeHistoryEvents` must match the call that provided the page token.",
          "type": "string"
        },
        "resourceType": {
          "items": {
            "enumDescriptions": [
              "Resource type unknown or not specified.",
              "Account resource",
              "Property resource",
              "FirebaseLink resource",
              "GoogleAdsLink resource",
              "GoogleSignalsSettings resource",
              "ConversionEvent resource",
              "MeasurementProtocolSecret resource",
              "CustomDimension resource",
              "CustomMetric resource",
              "DataRetentionSettings resource",
              "DisplayVideo360AdvertiserLink resource",
              "DisplayVideo360AdvertiserLinkProposal resource",
              "SearchAds360Link resource",
              "DataStream resource",
              "AttributionSettings resource",
              "ExpandedDataSet resource",
              "ChannelGroup resource",
              "EnhancedMeasurementSettings resource",
              "DataRedactionSettings resource",
              "SKAdNetworkConversionValueSchema resource",
              "AdSenseLink resource",
              "Audience resource",
              "EventCreateRule resource",
              "CalculatedMetric resource"
            ],
            "type": "string",
            "enum": [
              "CHANGE_HISTORY_RESOURCE_TYPE_UNSPECIFIED",
              "ACCOUNT",
              "PROPERTY",
              "FIREBASE_LINK",
              "GOOGLE_ADS_LINK",
              "GOOGLE_SIGNALS_SETTINGS",
              "CONVERSION_EVENT",
              "MEASUREMENT_PROTOCOL_SECRET",
              "CUSTOM_DIMENSION",
              "CUSTOM_METRIC",
              "DATA_RETENTION_SETTINGS",
              "DISPLAY_VIDEO_360_ADVERTISER_LINK",
              "DISPLAY_VIDEO_360_ADVERTISER_LINK_PROPOSAL",
              "SEARCH_ADS_360_LINK",
              "DATA_STREAM",
              "ATTRIBUTION_SETTINGS",
              "EXPANDED_DATA_SET",
              "CHANNEL_GROUP",
              "ENHANCED_MEASUREMENT_SETTINGS",
              "DATA_REDACTION_SETTINGS",
              "SKADNETWORK_CONVERSION_VALUE_SCHEMA",
              "ADSENSE_LINK",
              "AUDIENCE",
              "EVENT_CREATE_RULE",
              "CALCULATED_METRIC"
            ]
          },
          "type": "array",
          "description": "Optional. If set, only return changes if they are for a resource that matches at least one of these types."
        },
        "action": {
          "items": {
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "CREATED",
              "UPDATED",
              "DELETED"
            ],
            "enumDescriptions": [
              "Action type unknown or not specified.",
              "Resource was created in this change.",
              "Resource was updated in this change.",
              "Resource was deleted in this change."
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Optional. If set, only return changes that match one or more of these types of actions."
        },
        "property": {
          "description": "Optional. Resource name for a child property. If set, only return changes made to this property or its child resources. Format: properties/{propertyId} Example: \"properties/100\"",
          "type": "string"
        }
      },
      "description": "Request message for SearchChangeHistoryEvents RPC."
    },
    "GoogleAnalyticsAdminV1alphaProperty": {
      "id": "GoogleAnalyticsAdminV1alphaProperty",
      "type": "object",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Time when entity payload fields were last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Output only. If set, the time at which this trashed property will be permanently deleted. If not set, then this property is not currently in the trash can and is not slated to be deleted.",
          "readOnly": true,
          "type": "string"
        },
        "propertyType": {
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary GA4 property",
            "GA4 subproperty",
            "GA4 rollup property"
          ],
          "description": "Immutable. The property type for this Property resource. When creating a property, if the type is \"PROPERTY_TYPE_UNSPECIFIED\", then \"ORDINARY_PROPERTY\" will be implied.",
          "enum": [
            "PROPERTY_TYPE_UNSPECIFIED",
            "PROPERTY_TYPE_ORDINARY",
            "PROPERTY_TYPE_SUBPROPERTY",
            "PROPERTY_TYPE_ROLLUP"
          ],
          "type": "string"
        },
        "industryCategory": {
          "description": "Industry associated with this property Example: AUTOMOTIVE, FOOD_AND_DRINK",
          "type": "string",
          "enum": [
            "INDUSTRY_CATEGORY_UNSPECIFIED",
            "AUTOMOTIVE",
            "BUSINESS_AND_INDUSTRIAL_MARKETS",
            "FINANCE",
            "HEALTHCARE",
            "TECHNOLOGY",
            "TRAVEL",
            "OTHER",
            "ARTS_AND_ENTERTAINMENT",
            "BEAUTY_AND_FITNESS",
            "BOOKS_AND_LITERATURE",
            "FOOD_AND_DRINK",
            "GAMES",
            "HOBBIES_AND_LEISURE",
            "HOME_AND_GARDEN",
            "INTERNET_AND_TELECOM",
            "LAW_AND_GOVERNMENT",
            "NEWS",
            "ONLINE_COMMUNITIES",
            "PEOPLE_AND_SOCIETY",
            "PETS_AND_ANIMALS",
            "REAL_ESTATE",
            "REFERENCE",
            "SCIENCE",
            "SPORTS",
            "JOBS_AND_EDUCATION",
            "SHOPPING"
          ],
          "enumDescriptions": [
            "Industry category unspecified",
            "Automotive",
            "Business and industrial markets",
            "Finance",
            "Healthcare",
            "Technology",
            "Travel",
            "Other",
            "Arts and entertainment",
            "Beauty and fitness",
            "Books and literature",
            "Food and drink",
            "Games",
            "Hobbies and leisure",
            "Home and garden",
            "Internet and telecom",
            "Law and government",
            "News",
            "Online communities",
            "People and society",
            "Pets and animals",
            "Real estate",
            "Reference",
            "Science",
            "Sports",
            "Jobs and education",
            "Shopping"
          ]
        },
        "serviceLevel": {
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "GOOGLE_ANALYTICS_STANDARD",
            "GOOGLE_ANALYTICS_360"
          ],
          "enumDescriptions": [
            "Service level not specified or invalid.",
            "The standard version of Google Analytics.",
            "The paid, premium version of Google Analytics."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Google Analytics service level that applies to this property."
        },
        "currencyCode": {
          "description": "The currency type used in reports involving monetary values. Format: https://en.wikipedia.org/wiki/ISO_4217 Examples: \"USD\", \"EUR\", \"JPY\"",
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name of this property. Format: properties/{property_id} Example: \"properties/1000\"",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Time when the entity was originally created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "deleteTime": {
          "description": "Output only. If set, the time at which this property was trashed. If not set, then this property is not currently in the trash can.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "account": {
          "type": "string",
          "description": "Immutable. The resource name of the parent account Format: accounts/{account_id} Example: \"accounts/123\""
        },
        "displayName": {
          "description": "Required. Human-readable display name for this property. The max allowed display name length is 100 UTF-16 code units.",
          "type": "string"
        },
        "parent": {
          "description": "Immutable. Resource name of this property's logical parent. Note: The Property-Moving UI can be used to change the parent. Format: accounts/{account}, properties/{property} Example: \"accounts/100\", \"properties/101\"",
          "type": "string"
        },
        "timeZone": {
          "type": "string",
          "description": "Required. Reporting Time Zone, used as the day boundary for reports, regardless of where the data originates. If the time zone honors DST, Analytics will automatically adjust for the changes. NOTE: Changing the time zone only affects data going forward, and is not applied retroactively. Format: https://www.iana.org/time-zones Example: \"America/Los_Angeles\""
        }
      },
      "description": "A resource message representing a Google Analytics GA4 property."
    },
    "GoogleAnalyticsAdminV1alphaAccount": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAccount",
      "description": "A resource message representing a Google Analytics account.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. Human-readable display name for this account."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when this account was originally created.",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of this account. Format: accounts/{account} Example: \"accounts/100\""
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Time when account payload fields were last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "deleted": {
          "readOnly": true,
          "description": "Output only. Indicates whether this Account is soft-deleted or not. Deleted accounts are excluded from List results unless specifically requested.",
          "type": "boolean"
        },
        "regionCode": {
          "description": "Country of business. Must be a Unicode CLDR region code.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsResponse": {
      "type": "object",
      "properties": {
        "accessBindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
          },
          "description": "The access bindings created."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsResponse",
      "description": "Response message for BatchCreateAccessBindings RPC."
    },
    "GoogleAnalyticsAdminV1alphaChannelGroupFilterStringFilter": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Required. The string value to be matched against."
        },
        "matchType": {
          "type": "string",
          "description": "Required. The match type for the string filter.",
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "BEGINS_WITH",
            "ENDS_WITH",
            "CONTAINS",
            "FULL_REGEXP",
            "PARTIAL_REGEXP"
          ],
          "enumDescriptions": [
            "Default match type.",
            "Exact match of the string value.",
            "Begins with the string value.",
            "Ends with the string value.",
            "Contains the string value.",
            "Full regular expression match with the string value.",
            "Partial regular expression match with the string value."
          ]
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaChannelGroupFilterStringFilter",
      "description": "Filter where the field value is a String. The match is case insensitive."
    },
    "GoogleAnalyticsAdminV1alphaCreateSubpropertyResponse": {
      "properties": {
        "subproperty": {
          "$ref": "GoogleAnalyticsAdminV1alphaProperty",
          "description": "The created subproperty."
        },
        "subpropertyEventFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter",
          "description": "The created subproperty event filter."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaCreateSubpropertyResponse",
      "description": "Response message for CreateSubproperty RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaChangeHistoryEvent": {
      "type": "object",
      "description": "A set of changes within a Google Analytics account or its child properties that resulted from the same cause. Common causes would be updates made in the Google Analytics UI, changes from customer support, or automatic Google Analytics system changes.",
      "properties": {
        "id": {
          "type": "string",
          "description": "ID of this change history event. This ID is unique across Google Analytics."
        },
        "changeTime": {
          "type": "string",
          "description": "Time when change was made.",
          "format": "google-datetime"
        },
        "actorType": {
          "type": "string",
          "description": "The type of actor that made this change.",
          "enum": [
            "ACTOR_TYPE_UNSPECIFIED",
            "USER",
            "SYSTEM",
            "SUPPORT"
          ],
          "enumDescriptions": [
            "Unknown or unspecified actor type.",
            "Changes made by the user specified in actor_email.",
            "Changes made by the Google Analytics system.",
            "Changes made by Google Analytics support team staff."
          ]
        },
        "userActorEmail": {
          "description": "Email address of the Google account that made the change. This will be a valid email address if the actor field is set to USER, and empty otherwise. Google accounts that have been deleted will cause an error.",
          "type": "string"
        },
        "changesFiltered": {
          "description": "If true, then the list of changes returned was filtered, and does not represent all changes that occurred in this event.",
          "type": "boolean"
        },
        "changes": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryChange"
          },
          "description": "A list of changes made in this change history event that fit the filters specified in SearchChangeHistoryEventsRequest."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaChangeHistoryEvent"
    },
    "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericFilter": {
      "properties": {
        "value": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue",
          "description": "Required. The numeric or date value to match against."
        },
        "operation": {
          "enum": [
            "OPERATION_UNSPECIFIED",
            "EQUAL",
            "LESS_THAN",
            "GREATER_THAN"
          ],
          "description": "Required. The operation applied to a numeric filter.",
          "enumDescriptions": [
            "Unspecified.",
            "Equal.",
            "Less than.",
            "Greater than."
          ],
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericFilter",
      "description": "A filter for numeric or date values on a dimension or metric.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaExpandedDataSet": {
      "id": "GoogleAnalyticsAdminV1alphaExpandedDataSet",
      "type": "object",
      "description": "A resource message representing a GA4 ExpandedDataSet.",
      "properties": {
        "dataCollectionStartTime": {
          "description": "Output only. Time when expanded data set began (or will begin) collecing data.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the ExpandedDataSet. Max 50 chars."
        },
        "dimensionFilterExpression": {
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpression",
          "description": "Immutable. A logical expression of ExpandedDataSet filters applied to dimension included in the ExpandedDataSet. This filter is used to reduce the number of rows and thus the chance of encountering `other` row."
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the ExpandedDataSet. Max 200 chars."
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name for this ExpandedDataSet resource. Format: properties/{property_id}/expandedDataSets/{expanded_data_set}",
          "readOnly": true
        },
        "dimensionNames": {
          "description": "Immutable. The list of dimensions included in the ExpandedDataSet. See the [API Dimensions](https://developers.google.com/analytics/devguides/reporting/data/v1/api-schema#dimensions) for the list of dimension names.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "metricNames": {
          "type": "array",
          "description": "Immutable. The list of metrics included in the ExpandedDataSet. See the [API Metrics](https://developers.google.com/analytics/devguides/reporting/data/v1/api-schema#metrics) for the list of dimension names.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListGoogleAdsLinksResponse": {
      "description": "Response message for ListGoogleAdsLinks RPC.",
      "properties": {
        "googleAdsLinks": {
          "description": "List of GoogleAdsLinks.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListGoogleAdsLinksResponse"
    },
    "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsRequest": {
      "id": "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsRequest",
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. The requests specifying the access bindings to update. A maximum of 1000 access bindings can be updated in a batch.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaUpdateAccessBindingRequest"
          }
        }
      },
      "description": "Request message for BatchUpdateAccessBindings RPC."
    },
    "GoogleAnalyticsAdminV1alphaAccessFilter": {
      "properties": {
        "stringFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessStringFilter",
          "description": "Strings related filter."
        },
        "inListFilter": {
          "description": "A filter for in list values.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessInListFilter"
        },
        "betweenFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessBetweenFilter",
          "description": "A filter for two values."
        },
        "fieldName": {
          "type": "string",
          "description": "The dimension name or metric name."
        },
        "numericFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessNumericFilter",
          "description": "A filter for numeric or date values."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessFilter",
      "type": "object",
      "description": "An expression to filter dimension or metric values."
    },
    "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterConditionStringFilter": {
      "description": "A filter for a string-type dimension that matches a particular pattern.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterConditionStringFilter",
      "properties": {
        "value": {
          "type": "string",
          "description": "Required. The string value used for the matching."
        },
        "caseSensitive": {
          "type": "boolean",
          "description": "Optional. If true, the string value is case sensitive. If false, the match is case-insensitive."
        },
        "matchType": {
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "BEGINS_WITH",
            "ENDS_WITH",
            "CONTAINS",
            "FULL_REGEXP",
            "PARTIAL_REGEXP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Match type unknown or not specified.",
            "Exact match of the string value.",
            "Begins with the string value.",
            "Ends with the string value.",
            "Contains the string value.",
            "Full regular expression matches with the string value.",
            "Partial regular expression matches with the string value."
          ],
          "description": "Required. The match type for the string filter."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListCustomMetricsResponse": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListCustomMetricsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "customMetrics": {
          "type": "array",
          "description": "List of CustomMetrics.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric"
          }
        }
      },
      "description": "Response message for ListCustomMetrics RPC."
    },
    "GoogleAnalyticsAdminV1alphaAudienceFilterExpressionList": {
      "description": "A list of Audience filter expressions.",
      "id": "GoogleAnalyticsAdminV1alphaAudienceFilterExpressionList",
      "type": "object",
      "properties": {
        "filterExpressions": {
          "type": "array",
          "description": "A list of Audience filter expressions.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpression"
          }
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListCalculatedMetricsResponse": {
      "description": "Response message for ListCalculatedMetrics RPC.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "calculatedMetrics": {
          "type": "array",
          "description": "List of CalculatedMetrics.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCalculatedMetric"
          }
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListCalculatedMetricsResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAudienceEventTrigger": {
      "type": "object",
      "description": "Specifies an event to log when a user joins the Audience.",
      "properties": {
        "logCondition": {
          "type": "string",
          "enumDescriptions": [
            "Log condition is not specified.",
            "The event should be logged only when a user is joined.",
            "The event should be logged whenever the Audience condition is met, even if the user is already a member of the Audience."
          ],
          "description": "Required. When to log the event.",
          "enum": [
            "LOG_CONDITION_UNSPECIFIED",
            "AUDIENCE_JOINED",
            "AUDIENCE_MEMBERSHIP_RENEWED"
          ]
        },
        "eventName": {
          "description": "Required. The event name that will be logged.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAudienceEventTrigger"
    },
    "GoogleAnalyticsAdminV1alphaAdSenseLink": {
      "id": "GoogleAnalyticsAdminV1alphaAdSenseLink",
      "description": "A link between a GA4 Property and an AdSense for Content ad client.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name for this AdSense Link resource. Format: properties/{propertyId}/adSenseLinks/{linkId} Example: properties/1234/adSenseLinks/6789",
          "readOnly": true,
          "type": "string"
        },
        "adClientCode": {
          "description": "Immutable. The AdSense ad client code that the GA4 property is linked to. Example format: \"ca-pub-1234567890\"",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaFetchAutomatedGa4ConfigurationOptOutResponse": {
      "description": "Response message for fetching the opt out status for the automated GA4 setup process.",
      "properties": {
        "optOut": {
          "description": "The opt out status for the UA property.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaFetchAutomatedGa4ConfigurationOptOutResponse"
    },
    "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter": {
      "description": "A resource message representing a GA4 Subproperty event filter.",
      "properties": {
        "name": {
          "description": "Output only. Format: properties/{ordinary_property_id}/subpropertyEventFilters/{sub_property_event_filter} Example: properties/1234/subpropertyEventFilters/5678",
          "type": "string",
          "readOnly": true
        },
        "applyToProperty": {
          "type": "string",
          "description": "Immutable. Resource name of the Subproperty that uses this filter."
        },
        "filterClauses": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterClause"
          },
          "type": "array",
          "description": "Required. Unordered list. Filter clauses that define the SubpropertyEventFilter. All clauses are AND'ed together to determine what data is sent to the subproperty."
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter"
    },
    "GoogleAnalyticsAdminV1alphaSetAutomatedGa4ConfigurationOptOutRequest": {
      "properties": {
        "property": {
          "type": "string",
          "description": "Required. The UA property to set the opt out status. Note this request uses the internal property ID, not the tracking ID of the form UA-XXXXXX-YY. Format: properties/{internalWebPropertyId} Example: properties/1234"
        },
        "optOut": {
          "type": "boolean",
          "description": "The status to set."
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaSetAutomatedGa4ConfigurationOptOutRequest",
      "description": "Request for setting the opt out status for the automated GA4 setup process."
    },
    "GoogleAnalyticsAdminV1alphaBatchGetAccessBindingsResponse": {
      "description": "Response message for BatchGetAccessBindings RPC.",
      "id": "GoogleAnalyticsAdminV1alphaBatchGetAccessBindingsResponse",
      "properties": {
        "accessBindings": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
          },
          "description": "The requested access bindings.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource": {
      "id": "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource",
      "description": "A snapshot of a resource as before or after the result of a change in change history.",
      "properties": {
        "firebaseLink": {
          "description": "A snapshot of a FirebaseLink resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaFirebaseLink"
        },
        "dataRedactionSettings": {
          "description": "A snapshot of DataRedactionSettings resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaDataRedactionSettings"
        },
        "displayVideo360AdvertiserLinkProposal": {
          "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLinkProposal",
          "description": "A snapshot of a DisplayVideo360AdvertiserLinkProposal resource in change history."
        },
        "eventCreateRule": {
          "description": "A snapshot of an EventCreateRule resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaEventCreateRule"
        },
        "conversionEvent": {
          "$ref": "GoogleAnalyticsAdminV1alphaConversionEvent",
          "description": "A snapshot of a ConversionEvent resource in change history."
        },
        "skadnetworkConversionValueSchema": {
          "$ref": "GoogleAnalyticsAdminV1alphaSKAdNetworkConversionValueSchema",
          "description": "A snapshot of SKAdNetworkConversionValueSchema resource in change history."
        },
        "measurementProtocolSecret": {
          "$ref": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret",
          "description": "A snapshot of a MeasurementProtocolSecret resource in change history."
        },
        "expandedDataSet": {
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSet",
          "description": "A snapshot of an ExpandedDataSet resource in change history."
        },
        "dataStream": {
          "$ref": "GoogleAnalyticsAdminV1alphaDataStream",
          "description": "A snapshot of a DataStream resource in change history."
        },
        "enhancedMeasurementSettings": {
          "description": "A snapshot of EnhancedMeasurementSettings resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings"
        },
        "dataRetentionSettings": {
          "$ref": "GoogleAnalyticsAdminV1alphaDataRetentionSettings",
          "description": "A snapshot of a data retention settings resource in change history."
        },
        "calculatedMetric": {
          "description": "A snapshot of a CalculatedMetric resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaCalculatedMetric"
        },
        "bigqueryLink": {
          "description": "A snapshot of a BigQuery link resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaBigQueryLink"
        },
        "googleAdsLink": {
          "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink",
          "description": "A snapshot of a GoogleAdsLink resource in change history."
        },
        "customDimension": {
          "description": "A snapshot of a CustomDimension resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
        },
        "adsenseLink": {
          "$ref": "GoogleAnalyticsAdminV1alphaAdSenseLink",
          "description": "A snapshot of an AdSenseLink resource in change history."
        },
        "audience": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudience",
          "description": "A snapshot of an Audience resource in change history."
        },
        "channelGroup": {
          "$ref": "GoogleAnalyticsAdminV1alphaChannelGroup",
          "description": "A snapshot of a ChannelGroup resource in change history."
        },
        "attributionSettings": {
          "description": "A snapshot of AttributionSettings resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaAttributionSettings"
        },
        "account": {
          "description": "A snapshot of an Account resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccount"
        },
        "searchAds360Link": {
          "$ref": "GoogleAnalyticsAdminV1alphaSearchAds360Link",
          "description": "A snapshot of a SearchAds360Link resource in change history."
        },
        "displayVideo360AdvertiserLink": {
          "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink",
          "description": "A snapshot of a DisplayVideo360AdvertiserLink resource in change history."
        },
        "googleSignalsSettings": {
          "$ref": "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings",
          "description": "A snapshot of a GoogleSignalsSettings resource in change history."
        },
        "property": {
          "$ref": "GoogleAnalyticsAdminV1alphaProperty",
          "description": "A snapshot of a Property resource in change history."
        },
        "customMetric": {
          "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric",
          "description": "A snapshot of a CustomMetric resource in change history."
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessDimensionHeader": {
      "description": "Describes a dimension column in the report. Dimensions requested in a report produce column entries within rows and DimensionHeaders. However, dimensions used exclusively within filters or expressions do not produce columns in a report; correspondingly, those dimensions do not produce headers.",
      "properties": {
        "dimensionName": {
          "description": "The dimension's name; for example 'userEmail'.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAccessDimensionHeader"
    },
    "GoogleAnalyticsAdminV1alphaCreateSubpropertyRequest": {
      "id": "GoogleAnalyticsAdminV1alphaCreateSubpropertyRequest",
      "type": "object",
      "properties": {
        "subpropertyEventFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter",
          "description": "Optional. The subproperty event filter to create on an ordinary property."
        },
        "parent": {
          "type": "string",
          "description": "Required. The ordinary property for which to create a subproperty. Format: properties/property_id Example: properties/123"
        },
        "subproperty": {
          "$ref": "GoogleAnalyticsAdminV1alphaProperty",
          "description": "Required. The subproperty to create."
        }
      },
      "description": "Request message for CreateSubproperty RPC."
    },
    "GoogleAnalyticsAdminV1alphaListConnectedSiteTagsRequest": {
      "properties": {
        "property": {
          "type": "string",
          "description": "The Universal Analytics property to fetch connected site tags for. This does not work on GA4 properties. A maximum of 20 connected site tags will be returned. Example Format: `properties/1234`"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListConnectedSiteTagsRequest",
      "description": "Request message for ListConnectedSiteTags RPC."
    },
    "GoogleAnalyticsAdminV1alphaChangeHistoryChange": {
      "id": "GoogleAnalyticsAdminV1alphaChangeHistoryChange",
      "type": "object",
      "description": "A description of a change to a single Google Analytics resource.",
      "properties": {
        "resource": {
          "type": "string",
          "description": "Resource name of the resource whose changes are described by this entry."
        },
        "action": {
          "enumDescriptions": [
            "Action type unknown or not specified.",
            "Resource was created in this change.",
            "Resource was updated in this change.",
            "Resource was deleted in this change."
          ],
          "description": "The type of action that changed this resource.",
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "CREATED",
            "UPDATED",
            "DELETED"
          ],
          "type": "string"
        },
        "resourceAfterChange": {
          "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource",
          "description": "Resource contents from after the change was made. If this resource was deleted in this change, this field will be missing."
        },
        "resourceBeforeChange": {
          "description": "Resource contents from before the change was made. If this resource was created in this change, this field will be missing.",
          "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessQuota": {
      "properties": {
        "tokensPerHour": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus",
          "description": "Properties can use 50,000 tokens per hour. An API request consumes a single number of tokens, and that number is deducted from all of the hourly, daily, and per project hourly quotas."
        },
        "concurrentRequests": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus",
          "description": "Properties can use up to 50 concurrent requests."
        },
        "tokensPerProjectPerHour": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus",
          "description": "Properties can use up to 25% of their tokens per project per hour. This amounts to Analytics 360 Properties can use 12,500 tokens per project per hour. An API request consumes a single number of tokens, and that number is deducted from all of the hourly, daily, and per project hourly quotas."
        },
        "tokensPerDay": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus",
          "description": "Properties can use 250,000 tokens per day. Most requests consume fewer than 10 tokens."
        },
        "serverErrorsPerProjectPerHour": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus",
          "description": "Properties and cloud project pairs can have up to 50 server errors per hour."
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAccessQuota",
      "description": "Current state of all quotas for this Analytics property. If any quota for a property is exhausted, all requests to that property will return Resource Exhausted errors."
    },
    "GoogleAnalyticsAdminV1alphaListSearchAds360LinksResponse": {
      "description": "Response message for ListSearchAds360Links RPC.",
      "properties": {
        "searchAds360Links": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaSearchAds360Link"
          },
          "description": "List of SearchAds360Links."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListSearchAds360LinksResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaCustomDimension": {
      "properties": {
        "description": {
          "description": "Optional. Description for this custom dimension. Max length of 150 characters.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name for this CustomDimension resource. Format: properties/{property}/customDimensions/{customDimension}",
          "type": "string",
          "readOnly": true
        },
        "parameterName": {
          "type": "string",
          "description": "Required. Immutable. Tagging parameter name for this custom dimension. If this is a user-scoped dimension, then this is the user property name. If this is an event-scoped dimension, then this is the event parameter name. If this is an item-scoped dimension, then this is the parameter name found in the eCommerce items array. May only contain alphanumeric and underscore characters, starting with a letter. Max length of 24 characters for user-scoped dimensions, 40 characters for event-scoped dimensions."
        },
        "disallowAdsPersonalization": {
          "type": "boolean",
          "description": "Optional. If set to true, sets this dimension as NPA and excludes it from ads personalization. This is currently only supported by user-scoped custom dimensions."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name for this custom dimension as shown in the Analytics UI. Max length of 82 characters, alphanumeric plus space and underscore starting with a letter. Legacy system-generated display names may contain square brackets, but updates to this field will never permit square brackets."
        },
        "scope": {
          "type": "string",
          "enumDescriptions": [
            "Scope unknown or not specified.",
            "Dimension scoped to an event.",
            "Dimension scoped to a user.",
            "Dimension scoped to eCommerce items"
          ],
          "description": "Required. Immutable. The scope of this dimension.",
          "enum": [
            "DIMENSION_SCOPE_UNSPECIFIED",
            "EVENT",
            "USER",
            "ITEM"
          ]
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaCustomDimension",
      "type": "object",
      "description": "A definition for a CustomDimension."
    },
    "GoogleAnalyticsAdminV1alphaListAudiencesResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListAudiencesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "audiences": {
          "description": "List of Audiences.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAudience"
          }
        }
      },
      "description": "Response message for ListAudiences RPC."
    },
    "GoogleAnalyticsAdminV1alphaAccountSummary": {
      "description": "A virtual resource representing an overview of an account and all its child GA4 properties.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for this account summary. Format: accountSummaries/{account_id} Example: \"accountSummaries/1000\""
        },
        "propertySummaries": {
          "description": "List of summaries for child accounts of this account.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaPropertySummary"
          },
          "type": "array"
        },
        "displayName": {
          "description": "Display name for the account referred to in this account summary.",
          "type": "string"
        },
        "account": {
          "type": "string",
          "description": "Resource name of account referred to by this account summary Format: accounts/{account_id} Example: \"accounts/1000\""
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccountSummary"
    },
    "GoogleAnalyticsAdminV1alphaAccessFilterExpressionList": {
      "properties": {
        "expressions": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessFilterExpression"
          },
          "description": "A list of filter expressions.",
          "type": "array"
        }
      },
      "description": "A list of filter expressions.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAccessFilterExpressionList"
    },
    "GoogleAnalyticsAdminV1alphaFetchAutomatedGa4ConfigurationOptOutRequest": {
      "properties": {
        "property": {
          "type": "string",
          "description": "Required. The UA property to get the opt out status. Note this request uses the internal property ID, not the tracking ID of the form UA-XXXXXX-YY. Format: properties/{internalWebPropertyId} Example: properties/1234"
        }
      },
      "type": "object",
      "description": "Request for fetching the opt out status for the automated GA4 setup process.",
      "id": "GoogleAnalyticsAdminV1alphaFetchAutomatedGa4ConfigurationOptOutRequest"
    },
    "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterStringFilter": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Required. The string value to be matched against."
        },
        "caseSensitive": {
          "type": "boolean",
          "description": "Optional. If true, the match is case-sensitive. If false, the match is case-insensitive. Must be true when match_type is EXACT. Must be false when match_type is CONTAINS."
        },
        "matchType": {
          "enumDescriptions": [
            "Unspecified",
            "Exact match of the string value.",
            "Contains the string value."
          ],
          "description": "Required. The match type for the string filter.",
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "CONTAINS"
          ],
          "type": "string"
        }
      },
      "description": "A filter for a string-type dimension that matches a particular pattern.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterStringFilter"
    },
    "GoogleAnalyticsAdminV1alphaArchiveCustomDimensionRequest": {
      "properties": {},
      "id": "GoogleAnalyticsAdminV1alphaArchiveCustomDimensionRequest",
      "description": "Request message for ArchiveCustomDimension RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListDisplayVideo360AdvertiserLinksResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "displayVideo360AdvertiserLinks": {
          "description": "List of DisplayVideo360AdvertiserLinks.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink"
          }
        }
      },
      "description": "Response message for ListDisplayVideo360AdvertiserLinks RPC.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListDisplayVideo360AdvertiserLinksResponse"
    },
    "GoogleAnalyticsAdminV1alphaAccessQuotaStatus": {
      "id": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus",
      "type": "object",
      "description": "Current state for a particular quota group.",
      "properties": {
        "remaining": {
          "type": "integer",
          "description": "Quota remaining after this request.",
          "format": "int32"
        },
        "consumed": {
          "type": "integer",
          "description": "Quota consumed by this request.",
          "format": "int32"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaChannelGroup": {
      "description": "A resource message representing a Channel Group.",
      "properties": {
        "systemDefined": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. If true, then this channel group is the Default Channel Group predefined by Google Analytics. Display name and grouping rules cannot be updated for this channel group."
        },
        "displayName": {
          "description": "Required. The display name of the Channel Group. Max length of 80 characters.",
          "type": "string"
        },
        "primary": {
          "description": "Optional. If true, this channel group will be used as the default channel group for reports. Only one channel group can be set as `primary` at any time. If the `primary` field gets set on a channel group, it will get unset on the previous primary channel group. The Google Analytics predefined channel group is the primary by default.",
          "type": "boolean"
        },
        "name": {
          "description": "Output only. The resource name for this Channel Group resource. Format: properties/{property}/channelGroups/{channel_group}",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "The description of the Channel Group. Max length of 256 characters."
        },
        "groupingRule": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaGroupingRule"
          },
          "type": "array",
          "description": "Required. The grouping rules of channels. Maximum number of rules is 50."
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaChannelGroup"
    },
    "GoogleAnalyticsAdminV1alphaPostbackWindow": {
      "id": "GoogleAnalyticsAdminV1alphaPostbackWindow",
      "description": "Settings for a SKAdNetwork conversion postback window.",
      "type": "object",
      "properties": {
        "conversionValues": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaConversionValues"
          },
          "description": "Ordering of the repeated field will be used to prioritize the conversion value settings. Lower indexed entries are prioritized higher. The first conversion value setting that evaluates to true will be selected. It must have at least one entry if enable_postback_window_settings is set to true. It can have maximum of 128 entries."
        },
        "postbackWindowSettingsEnabled": {
          "type": "boolean",
          "description": "If enable_postback_window_settings is true, conversion_values must be populated and will be used for determining when and how to set the Conversion Value on a client device and exporting schema to linked Ads accounts. If false, the settings are not used, but are retained in case they may be used in the future. This must always be true for postback_window_one."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaDataStreamWebStreamData": {
      "id": "GoogleAnalyticsAdminV1alphaDataStreamWebStreamData",
      "description": "Data specific to web streams.",
      "properties": {
        "defaultUri": {
          "type": "string",
          "description": "Domain name of the web app being measured, or empty. Example: \"http://www.google.com\", \"https://www.google.com\""
        },
        "firebaseAppId": {
          "type": "string",
          "description": "Output only. ID of the corresponding web app in Firebase, if any. This ID can change if the web app is deleted and recreated.",
          "readOnly": true
        },
        "measurementId": {
          "description": "Output only. Analytics Measurement ID. Example: \"G-1A2BCD345E\"",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListAccessBindingsResponse": {
      "properties": {
        "accessBindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
          },
          "description": "List of AccessBindings. These will be ordered stably, but in an arbitrary order."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for ListAccessBindings RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListAccessBindingsResponse"
    },
    "GoogleAnalyticsAdminV1alphaListChannelGroupsResponse": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListChannelGroupsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "channelGroups": {
          "description": "List of ChannelGroup. These will be ordered stably, but in an arbitrary order.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaChannelGroup"
          },
          "type": "array"
        }
      },
      "description": "Response message for ListChannelGroups RPC."
    },
    "GoogleAnalyticsAdminV1alphaGlobalSiteTag": {
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name for this GlobalSiteTag resource. Format: properties/{property_id}/dataStreams/{stream_id}/globalSiteTag Example: \"properties/123/dataStreams/456/globalSiteTag\"",
          "type": "string"
        },
        "snippet": {
          "description": "Immutable. JavaScript code snippet to be pasted as the first item into the head tag of every webpage to measure.",
          "type": "string"
        }
      },
      "description": "Read-only resource with the tag for sending data from a website to a DataStream. Only present for web DataStream resources.",
      "id": "GoogleAnalyticsAdminV1alphaGlobalSiteTag"
    },
    "GoogleAnalyticsAdminV1alphaCancelDisplayVideo360AdvertiserLinkProposalRequest": {
      "type": "object",
      "description": "Request message for CancelDisplayVideo360AdvertiserLinkProposal RPC.",
      "properties": {},
      "id": "GoogleAnalyticsAdminV1alphaCancelDisplayVideo360AdvertiserLinkProposalRequest"
    },
    "GoogleAnalyticsAdminV1alphaEventCreateRule": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name for this EventCreateRule resource. Format: properties/{property}/dataStreams/{data_stream}/eventCreateRules/{event_create_rule}",
          "type": "string",
          "readOnly": true
        },
        "destinationEvent": {
          "description": "Required. The name of the new event to be created. This value must: * be less than 40 characters * consist only of letters, digits or _ (underscores) * start with a letter",
          "type": "string"
        },
        "eventConditions": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaMatchingCondition"
          },
          "type": "array",
          "description": "Required. Must have at least one condition, and can have up to 10 max. Conditions on the source event must match for this rule to be applied."
        },
        "sourceCopyParameters": {
          "description": "If true, the source parameters are copied to the new event. If false, or unset, all non-internal parameters are not copied from the source event. Parameter mutations are applied after the parameters have been copied.",
          "type": "boolean"
        },
        "parameterMutations": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaParameterMutation"
          },
          "type": "array",
          "description": "Parameter mutations define parameter behavior on the new event, and are applied in order. A maximum of 20 mutations can be applied."
        }
      },
      "description": "An Event Create Rule defines conditions that will trigger the creation of an entirely new event based upon matched criteria of a source event. Additional mutations of the parameters from the source event can be defined. Unlike Event Edit rules, Event Creation Rules have no defined order. They will all be run independently. Event Edit and Event Create rules can't be used to modify an event created from an Event Create rule.",
      "id": "GoogleAnalyticsAdminV1alphaEventCreateRule"
    },
    "GoogleAnalyticsAdminV1alphaAudienceSimpleFilter": {
      "description": "Defines a simple filter that a user must satisfy to be a member of the Audience.",
      "properties": {
        "scope": {
          "enumDescriptions": [
            "Scope is not specified.",
            "User joins the Audience if the filter condition is met within one event.",
            "User joins the Audience if the filter condition is met within one session.",
            "User joins the Audience if the filter condition is met by any event across any session."
          ],
          "description": "Required. Immutable. Specifies the scope for this filter.",
          "enum": [
            "AUDIENCE_FILTER_SCOPE_UNSPECIFIED",
            "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_EVENT",
            "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_SESSION",
            "AUDIENCE_FILTER_SCOPE_ACROSS_ALL_SESSIONS"
          ],
          "type": "string"
        },
        "filterExpression": {
          "description": "Required. Immutable. A logical expression of Audience dimension, metric, or event filters.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpression"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAudienceSimpleFilter",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessBetweenFilter": {
      "description": "To express that the result needs to be between two numbers (inclusive).",
      "id": "GoogleAnalyticsAdminV1alphaAccessBetweenFilter",
      "type": "object",
      "properties": {
        "fromValue": {
          "description": "Begins with this number.",
          "$ref": "GoogleAnalyticsAdminV1alphaNumericValue"
        },
        "toValue": {
          "$ref": "GoogleAnalyticsAdminV1alphaNumericValue",
          "description": "Ends with this number."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaApproveDisplayVideo360AdvertiserLinkProposalRequest": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaApproveDisplayVideo360AdvertiserLinkProposalRequest",
      "description": "Request message for ApproveDisplayVideo360AdvertiserLinkProposal RPC.",
      "properties": {}
    },
    "GoogleAnalyticsAdminV1alphaSetAutomatedGa4ConfigurationOptOutResponse": {
      "description": "Response message for setting the opt out status for the automated GA4 setup process.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaSetAutomatedGa4ConfigurationOptOutResponse",
      "properties": {}
    },
    "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterInListFilter": {
      "description": "A filter for a string dimension that matches a particular list of options.",
      "id": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterInListFilter",
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "description": "Required. The list of possible string values to match against. Must be non-empty.",
          "items": {
            "type": "string"
          }
        },
        "caseSensitive": {
          "description": "Optional. If true, the match is case-sensitive. If false, the match is case-insensitive.",
          "type": "boolean"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListAccountsResponse": {
      "description": "Request message for ListAccounts RPC.",
      "properties": {
        "accounts": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccount"
          },
          "description": "Results that were accessible to the caller.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListAccountsResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaRollupPropertySourceLink": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Resource name of this RollupPropertySourceLink. Format: 'properties/{property_id}/rollupPropertySourceLinks/{rollup_property_source_link}' Format: 'properties/123/rollupPropertySourceLinks/456'",
          "readOnly": true
        },
        "sourceProperty": {
          "type": "string",
          "description": "Immutable. Resource name of the source property. Format: properties/{property_id} Example: \"properties/789\""
        }
      },
      "description": "A link that references a source property under the parent rollup property.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaRollupPropertySourceLink"
    },
    "GoogleAnalyticsAdminV1alphaAccessBinding": {
      "properties": {
        "user": {
          "type": "string",
          "description": "If set, the email address of the user to set roles for. Format: \"someuser@gmail.com\""
        },
        "name": {
          "description": "Output only. Resource name of this binding. Format: accounts/{account}/accessBindings/{access_binding} or properties/{property}/accessBindings/{access_binding} Example: \"accounts/100/accessBindings/200\"",
          "type": "string",
          "readOnly": true
        },
        "roles": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of roles for to grant to the parent resource. Valid values: predefinedRoles/viewer predefinedRoles/analyst predefinedRoles/editor predefinedRoles/admin predefinedRoles/no-cost-data predefinedRoles/no-revenue-data For users, if an empty list of roles is set, this AccessBinding will be deleted."
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAccessBinding",
      "description": "A binding of a user to a set of roles."
    },
    "GoogleAnalyticsAdminV1alphaFetchConnectedGa4PropertyResponse": {
      "description": "Response for looking up GA4 property connected to a UA property.",
      "id": "GoogleAnalyticsAdminV1alphaFetchConnectedGa4PropertyResponse",
      "type": "object",
      "properties": {
        "property": {
          "description": "The GA4 property connected to the UA property. An empty string is returned when there is no connected GA4 property. Format: properties/{property_id} Example: properties/1234",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret": {
      "id": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of this secret. This secret may be a child of any type of stream. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}"
        },
        "displayName": {
          "description": "Required. Human-readable display name for this secret.",
          "type": "string"
        },
        "secretValue": {
          "description": "Output only. The measurement protocol secret value. Pass this value to the api_secret field of the Measurement Protocol API when sending hits to this secret's parent property.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A secret value used for sending hits to Measurement Protocol."
    },
    "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLinkProposal": {
      "properties": {
        "advertiserId": {
          "type": "string",
          "description": "Immutable. The Display & Video 360 Advertiser's advertiser ID."
        },
        "adsPersonalizationEnabled": {
          "description": "Immutable. Enables personalized advertising features with this integration. If this field is not set on create, it will be defaulted to true.",
          "type": "boolean"
        },
        "campaignDataSharingEnabled": {
          "type": "boolean",
          "description": "Immutable. Enables the import of campaign data from Display & Video 360. If this field is not set on create, it will be defaulted to true."
        },
        "advertiserDisplayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The display name of the Display & Video Advertiser. Only populated for proposals that originated from Display & Video 360."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name for this DisplayVideo360AdvertiserLinkProposal resource. Format: properties/{propertyId}/displayVideo360AdvertiserLinkProposals/{proposalId} Note: proposalId is not the Display & Video 360 Advertiser ID"
        },
        "costDataSharingEnabled": {
          "description": "Immutable. Enables the import of cost data from Display & Video 360. This can only be enabled if campaign_data_sharing_enabled is enabled. If this field is not set on create, it will be defaulted to true.",
          "type": "boolean"
        },
        "validationEmail": {
          "type": "string",
          "description": "Input only. On a proposal being sent to Display & Video 360, this field must be set to the email address of an admin on the target advertiser. This is used to verify that the Google Analytics admin is aware of at least one admin on the Display & Video 360 Advertiser. This does not restrict approval of the proposal to a single user. Any admin on the Display & Video 360 Advertiser may approve the proposal."
        },
        "linkProposalStatusDetails": {
          "description": "Output only. The status information for this link proposal.",
          "$ref": "GoogleAnalyticsAdminV1alphaLinkProposalStatusDetails",
          "readOnly": true
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLinkProposal",
      "description": "A proposal for a link between a GA4 property and a Display & Video 360 advertiser. A proposal is converted to a DisplayVideo360AdvertiserLink once approved. Google Analytics admins approve inbound proposals while Display & Video 360 admins approve outbound proposals.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings": {
      "properties": {
        "consent": {
          "readOnly": true,
          "enumDescriptions": [
            "Google Signals consent value defaults to GOOGLE_SIGNALS_CONSENT_UNSPECIFIED. This will be treated as GOOGLE_SIGNALS_CONSENT_NOT_CONSENTED.",
            "Terms of service have been accepted",
            "Terms of service have not been accepted"
          ],
          "description": "Output only. Terms of Service acceptance.",
          "type": "string",
          "enum": [
            "GOOGLE_SIGNALS_CONSENT_UNSPECIFIED",
            "GOOGLE_SIGNALS_CONSENT_CONSENTED",
            "GOOGLE_SIGNALS_CONSENT_NOT_CONSENTED"
          ]
        },
        "name": {
          "description": "Output only. Resource name of this setting. Format: properties/{property_id}/googleSignalsSettings Example: \"properties/1000/googleSignalsSettings\"",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Google Signals status defaults to GOOGLE_SIGNALS_STATE_UNSPECIFIED to represent that the user has not made an explicit choice.",
            "Google Signals is enabled.",
            "Google Signals is disabled."
          ],
          "enum": [
            "GOOGLE_SIGNALS_STATE_UNSPECIFIED",
            "GOOGLE_SIGNALS_ENABLED",
            "GOOGLE_SIGNALS_DISABLED"
          ],
          "description": "Status of this setting.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings",
      "type": "object",
      "description": "Settings values for Google Signals. This is a singleton resource."
    },
    "GoogleAnalyticsAdminV1alphaAccessMetricHeader": {
      "type": "object",
      "description": "Describes a metric column in the report. Visible metrics requested in a report produce column entries within rows and MetricHeaders. However, metrics used exclusively within filters or expressions do not produce columns in a report; correspondingly, those metrics do not produce headers.",
      "id": "GoogleAnalyticsAdminV1alphaAccessMetricHeader",
      "properties": {
        "metricName": {
          "description": "The metric's name; for example 'accessCount'.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaDeleteAccessBindingRequest": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaDeleteAccessBindingRequest",
      "description": "Request message for DeleteAccessBinding RPC.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Formats: - accounts/{account}/accessBindings/{accessBinding} - properties/{property}/accessBindings/{accessBinding}"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListPropertiesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "properties": {
          "description": "Results that matched the filter criteria and were accessible to the caller.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          }
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListPropertiesResponse",
      "description": "Response message for ListProperties RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaProvisionAccountTicketResponse": {
      "properties": {
        "accountTicketId": {
          "type": "string",
          "description": "The param to be passed in the ToS link."
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaProvisionAccountTicketResponse",
      "description": "Response message for ProvisionAccountTicket RPC."
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterBetweenFilter": {
      "description": "A filter for numeric or date values between certain values on a dimension or metric.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterBetweenFilter",
      "properties": {
        "fromValue": {
          "description": "Required. Begins with this number, inclusive.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue"
        },
        "toValue": {
          "description": "Required. Ends with this number, inclusive.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaSearchAds360Link": {
      "type": "object",
      "description": "A link between a GA4 property and a Search Ads 360 entity.",
      "properties": {
        "adsPersonalizationEnabled": {
          "type": "boolean",
          "description": "Enables personalized advertising features with this integration. If this field is not set on create, it will be defaulted to true."
        },
        "campaignDataSharingEnabled": {
          "type": "boolean",
          "description": "Immutable. Enables the import of campaign data from Search Ads 360 into the GA4 property. After link creation, this can only be updated from the Search Ads 360 product. If this field is not set on create, it will be defaulted to true."
        },
        "siteStatsSharingEnabled": {
          "type": "boolean",
          "description": "Enables export of site stats with this integration. If this field is not set on create, it will be defaulted to true."
        },
        "costDataSharingEnabled": {
          "type": "boolean",
          "description": "Immutable. Enables the import of cost data from Search Ads 360 to the GA4 property. This can only be enabled if campaign_data_sharing_enabled is enabled. After link creation, this can only be updated from the Search Ads 360 product. If this field is not set on create, it will be defaulted to true."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name for this SearchAds360Link resource. Format: properties/{propertyId}/searchAds360Links/{linkId} Note: linkId is not the Search Ads 360 advertiser ID"
        },
        "advertiserId": {
          "type": "string",
          "description": "Immutable. This field represents the Advertiser ID of the Search Ads 360 Advertiser. that has been linked."
        },
        "advertiserDisplayName": {
          "type": "string",
          "description": "Output only. The display name of the Search Ads 360 Advertiser. Allows users to easily identify the linked resource.",
          "readOnly": true
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaSearchAds360Link"
    },
    "GoogleAnalyticsAdminV1alphaAccessDimensionValue": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The dimension value. For example, this value may be 'France' for the 'country' dimension."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessDimensionValue",
      "type": "object",
      "description": "The value of a dimension."
    },
    "GoogleAnalyticsAdminV1alphaBatchDeleteAccessBindingsRequest": {
      "id": "GoogleAnalyticsAdminV1alphaBatchDeleteAccessBindingsRequest",
      "description": "Request message for BatchDeleteAccessBindings RPC.",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaDeleteAccessBindingRequest"
          },
          "description": "Required. The requests specifying the access bindings to delete. A maximum of 1000 access bindings can be deleted in a batch."
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaDataStream": {
      "description": "A resource message representing a data stream.",
      "id": "GoogleAnalyticsAdminV1alphaDataStream",
      "type": "object",
      "properties": {
        "androidAppStreamData": {
          "description": "Data specific to Android app streams. Must be populated if type is ANDROID_APP_DATA_STREAM.",
          "$ref": "GoogleAnalyticsAdminV1alphaDataStreamAndroidAppStreamData"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of this Data Stream. Format: properties/{property_id}/dataStreams/{stream_id} Example: \"properties/1000/dataStreams/2000\"",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "DATA_STREAM_TYPE_UNSPECIFIED",
            "WEB_DATA_STREAM",
            "ANDROID_APP_DATA_STREAM",
            "IOS_APP_DATA_STREAM"
          ],
          "description": "Required. Immutable. The type of this DataStream resource.",
          "enumDescriptions": [
            "Type unknown or not specified.",
            "Web data stream.",
            "Android app data stream.",
            "iOS app data stream."
          ]
        },
        "displayName": {
          "type": "string",
          "description": "Human-readable display name for the Data Stream. Required for web data streams. The max allowed display name length is 255 UTF-16 code units."
        },
        "iosAppStreamData": {
          "description": "Data specific to iOS app streams. Must be populated if type is IOS_APP_DATA_STREAM.",
          "$ref": "GoogleAnalyticsAdminV1alphaDataStreamIosAppStreamData"
        },
        "webStreamData": {
          "$ref": "GoogleAnalyticsAdminV1alphaDataStreamWebStreamData",
          "description": "Data specific to web streams. Must be populated if type is WEB_DATA_STREAM."
        },
        "createTime": {
          "description": "Output only. Time when this stream was originally created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when stream payload fields were last updated."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAcknowledgeUserDataCollectionResponse": {
      "description": "Response message for AcknowledgeUserDataCollection RPC.",
      "properties": {},
      "id": "GoogleAnalyticsAdminV1alphaAcknowledgeUserDataCollectionResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAudienceFilterExpression": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAudienceFilterExpression",
      "description": "A logical expression of Audience dimension, metric, or event filters.",
      "properties": {
        "andGroup": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpressionList",
          "description": "A list of expressions to be AND’ed together. It can only contain AudienceFilterExpressions with or_group. This must be set for the top level AudienceFilterExpression."
        },
        "orGroup": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpressionList",
          "description": "A list of expressions to OR’ed together. It cannot contain AudienceFilterExpressions with and_group or or_group."
        },
        "eventFilter": {
          "description": "Creates a filter that matches a specific event. This cannot be set on the top level AudienceFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceEventFilter"
        },
        "notExpression": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpression",
          "description": "A filter expression to be NOT'ed (For example, inverted, complemented). It can only include a dimension_or_metric_filter. This cannot be set on the top level AudienceFilterExpression."
        },
        "dimensionOrMetricFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilter",
          "description": "A filter on a single dimension or metric. This cannot be set on the top level AudienceFilterExpression."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpressionList": {
      "id": "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpressionList",
      "properties": {
        "filterExpressions": {
          "description": "A list of Channel Group filter expressions.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpression"
          }
        }
      },
      "type": "object",
      "description": "A list of Channel Group filter expressions."
    },
    "GoogleAnalyticsAdminV1alphaAccessOrderByDimensionOrderBy": {
      "type": "object",
      "properties": {
        "orderType": {
          "type": "string",
          "enum": [
            "ORDER_TYPE_UNSPECIFIED",
            "ALPHANUMERIC",
            "CASE_INSENSITIVE_ALPHANUMERIC",
            "NUMERIC"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Alphanumeric sort by Unicode code point. For example, \"2\" \u003c \"A\" \u003c \"X\" \u003c \"b\" \u003c \"z\".",
            "Case insensitive alphanumeric sort by lower case Unicode code point. For example, \"2\" \u003c \"A\" \u003c \"b\" \u003c \"X\" \u003c \"z\".",
            "Dimension values are converted to numbers before sorting. For example in NUMERIC sort, \"25\" \u003c \"100\", and in `ALPHANUMERIC` sort, \"100\" \u003c \"25\". Non-numeric dimension values all have equal ordering value below all numeric values."
          ],
          "description": "Controls the rule for dimension value ordering."
        },
        "dimensionName": {
          "type": "string",
          "description": "A dimension name in the request to order by."
        }
      },
      "description": "Sorts by dimension values.",
      "id": "GoogleAnalyticsAdminV1alphaAccessOrderByDimensionOrderBy"
    },
    "GoogleAnalyticsAdminV1alphaRunAccessReportRequest": {
      "type": "object",
      "description": "The request for a Data Access Record Report.",
      "properties": {
        "dimensionFilter": {
          "description": "Dimension filters let you restrict report response to specific dimension values which match the filter. For example, filtering on access records of a single user. To learn more, see [Fundamentals of Dimension Filters](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#dimension_filters) for examples. Metrics cannot be used in this filter.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessFilterExpression"
        },
        "metricFilter": {
          "description": "Metric filters allow you to restrict report response to specific metric values which match the filter. Metric filters are applied after aggregating the report's rows, similar to SQL having-clause. Dimensions cannot be used in this filter.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessFilterExpression"
        },
        "orderBys": {
          "type": "array",
          "description": "Specifies how rows are ordered in the response.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessOrderBy"
          }
        },
        "limit": {
          "description": "The number of rows to return. If unspecified, 10,000 rows are returned. The API returns a maximum of 100,000 rows per request, no matter how many you ask for. `limit` must be positive. The API may return fewer rows than the requested `limit`, if there aren't as many remaining rows as the `limit`. For instance, there are fewer than 300 possible values for the dimension `country`, so when reporting on only `country`, you can't get more than 300 rows, even if you set `limit` to a higher value. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination).",
          "format": "int64",
          "type": "string"
        },
        "timeZone": {
          "type": "string",
          "description": "This request's time zone if specified. If unspecified, the property's time zone is used. The request's time zone is used to interpret the start & end dates of the report. Formatted as strings from the IANA Time Zone database (https://www.iana.org/time-zones); for example \"America/New_York\" or \"Asia/Tokyo\"."
        },
        "dimensions": {
          "description": "The dimensions requested and displayed in the response. Requests are allowed up to 9 dimensions.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessDimension"
          },
          "type": "array"
        },
        "metrics": {
          "description": "The metrics requested and displayed in the response. Requests are allowed up to 10 metrics.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessMetric"
          },
          "type": "array"
        },
        "expandGroups": {
          "type": "boolean",
          "description": "Optional. Decides whether to return the users within user groups. This field works only when include_all_users is set to true. If true, it will return all users with access to the specified property or account. If false, only the users with direct access will be returned."
        },
        "offset": {
          "type": "string",
          "format": "int64",
          "description": "The row count of the start row. The first row is counted as row 0. If offset is unspecified, it is treated as 0. If offset is zero, then this method will return the first page of results with `limit` entries. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination)."
        },
        "dateRanges": {
          "description": "Date ranges of access records to read. If multiple date ranges are requested, each response row will contain a zero based date range index. If two date ranges overlap, the access records for the overlapping days is included in the response rows for both date ranges. Requests are allowed up to 2 date ranges.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessDateRange"
          }
        },
        "returnEntityQuota": {
          "type": "boolean",
          "description": "Toggles whether to return the current state of this Analytics Property's quota. Quota is returned in [AccessQuota](#AccessQuota). For account-level requests, this field must be false."
        },
        "includeAllUsers": {
          "type": "boolean",
          "description": "Optional. Determines whether to include users who have never made an API call in the response. If true, all users with access to the specified property or account are included in the response, regardless of whether they have made an API call or not. If false, only the users who have made an API call will be included."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaRunAccessReportRequest"
    },
    "GoogleAnalyticsAdminV1alphaUpdateAccessBindingRequest": {
      "id": "GoogleAnalyticsAdminV1alphaUpdateAccessBindingRequest",
      "type": "object",
      "properties": {
        "accessBinding": {
          "description": "Required. The access binding to update.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
        }
      },
      "description": "Request message for UpdateAccessBinding RPC."
    },
    "GoogleAnalyticsAdminV1alphaListMeasurementProtocolSecretsResponse": {
      "description": "Response message for ListMeasurementProtocolSecret RPC",
      "id": "GoogleAnalyticsAdminV1alphaListMeasurementProtocolSecretsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "measurementProtocolSecrets": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret"
          },
          "type": "array",
          "description": "A list of secrets for the parent stream specified in the request."
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaPropertySummary": {
      "description": "A virtual resource representing metadata for a GA4 property.",
      "id": "GoogleAnalyticsAdminV1alphaPropertySummary",
      "type": "object",
      "properties": {
        "propertyType": {
          "enum": [
            "PROPERTY_TYPE_UNSPECIFIED",
            "PROPERTY_TYPE_ORDINARY",
            "PROPERTY_TYPE_SUBPROPERTY",
            "PROPERTY_TYPE_ROLLUP"
          ],
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary GA4 property",
            "GA4 subproperty",
            "GA4 rollup property"
          ],
          "description": "The property's property type.",
          "type": "string"
        },
        "displayName": {
          "description": "Display name for the property referred to in this property summary.",
          "type": "string"
        },
        "parent": {
          "type": "string",
          "description": "Resource name of this property's logical parent. Note: The Property-Moving UI can be used to change the parent. Format: accounts/{account}, properties/{property} Example: \"accounts/100\", \"properties/200\""
        },
        "property": {
          "type": "string",
          "description": "Resource name of property referred to by this property summary Format: properties/{property_id} Example: \"properties/1000\""
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilter": {
      "properties": {
        "betweenFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterBetweenFilter",
          "description": "A filter for numeric or date values between certain values on a dimension or metric."
        },
        "inListFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterInListFilter",
          "description": "A filter for a string dimension that matches a particular list of options."
        },
        "fieldName": {
          "type": "string",
[...]
