{
  "protocol": "rest",
  "ownerName": "Google",
  "description": "Views and manages your Google Analytics data.",
  "kind": "discovery#restDescription",
  "icons": {
    "x32": "https://www.google.com/images/icons/product/analytics-32.png",
    "x16": "https://www.google.com/images/icons/product/analytics-16.png"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/analytics.readonly": {
          "description": "View your Google Analytics data"
        },
        "https://www.googleapis.com/auth/analytics.edit": {
          "description": "Edit Google Analytics management entities"
        },
        "https://www.googleapis.com/auth/analytics.manage.users": {
          "description": "Manage Google Analytics Account users by email address"
        },
        "https://www.googleapis.com/auth/analytics.provision": {
          "description": "Create a new Google Analytics account along with its default property and view"
        },
        "https://www.googleapis.com/auth/analytics.user.deletion": {
          "description": "Manage Google Analytics user deletion requests"
        },
        "https://www.googleapis.com/auth/analytics.manage.users.readonly": {
          "description": "View Google Analytics user permissions"
        },
        "https://www.googleapis.com/auth/analytics": {
          "description": "View and manage your Google Analytics data"
        }
      }
    }
  },
  "baseUrl": "https://www.googleapis.com/analytics/v3/",
  "basePath": "/analytics/v3/",
  "name": "analytics",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "default": "false",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "enum": [
        "json"
      ],
      "default": "json",
      "type": "string",
      "description": "Data format for the response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ]
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "version": "v3",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "etag": "\"9eZ1uxVRThTDhLJCZHhqs3eQWz4/o_TVyaWurnALX6ZIQ952-U5m22Y\"",
  "revision": "20190807",
  "batchPath": "batch/analytics/v3",
  "schemas": {
    "UserRef": {
      "description": "JSON template for a user reference.",
      "type": "object",
      "id": "UserRef",
      "properties": {
        "kind": {
          "type": "string",
          "default": "analytics#userRef"
        },
        "id": {
          "description": "User ID.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "Email ID of this user."
        }
      }
    },
    "Webproperty": {
      "type": "object",
      "properties": {
        "profileCount": {
          "type": "integer",
          "description": "View (Profile) count for this web property.",
          "format": "int32",
          "readOnly": true
        },
        "parentLink": {
          "properties": {
            "href": {
              "description": "Link to the account for this web property.",
              "type": "string"
            },
            "type": {
              "type": "string",
              "description": "Type of the parent link. Its value is \"analytics#account\".",
              "default": "analytics#account"
            }
          },
          "type": "object",
          "description": "Parent link for this web property. Points to the account to which this web property belongs."
        },
        "starred": {
          "description": "Indicates whether this web property is starred or not.",
          "type": "boolean"
        },
        "defaultProfileId": {
          "description": "Default view (profile) ID.",
          "format": "int64",
          "type": "string"
        },
        "internalWebPropertyId": {
          "readOnly": true,
          "type": "string",
          "description": "Internal ID for this web property."
        },
        "name": {
          "type": "string",
          "description": "Name of this web property."
        },
        "created": {
          "format": "date-time",
          "description": "Time this web property was created.",
          "readOnly": true,
          "type": "string"
        },
        "selfLink": {
          "readOnly": true,
          "description": "Link for this web property.",
          "type": "string"
        },
        "childLink": {
          "properties": {
            "type": {
              "default": "analytics#profiles",
              "type": "string",
              "description": "Type of the parent link. Its value is \"analytics#profiles\"."
            },
            "href": {
              "type": "string",
              "description": "Link to the list of views (profiles) for this web property."
            }
          },
          "description": "Child link for this web property. Points to the list of views (profiles) for this web property.",
          "type": "object"
        },
        "dataRetentionTtl": {
          "description": "The length of time for which user and event data is retained.\nThis property cannot be set on insert.",
          "type": "string"
        },
        "updated": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Time this web property was last modified."
        },
        "websiteUrl": {
          "description": "Website url for this web property.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this web property belongs."
        },
        "industryVertical": {
          "type": "string",
          "description": "The industry vertical/category selected for this web property."
        },
        "kind": {
          "default": "analytics#webproperty",
          "description": "Resource type for Analytics WebProperty.",
          "type": "string",
          "readOnly": true
        },
        "dataRetentionResetOnNewActivity": {
          "description": "Set to true to reset the retention period of the user identifier with each new event from that user (thus setting the expiration date to current time plus retention period).\nSet to false to delete data associated with the user identifier automatically after the rentention period.\nThis property cannot be set on insert.",
          "type": "boolean"
        },
        "id": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY."
        },
        "permissions": {
          "properties": {
            "effective": {
              "readOnly": true,
              "description": "All the permissions that the user has for this web property. These include any implied permissions (e.g., EDIT implies VIEW) or inherited permissions from the parent account.",
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          "type": "object",
          "description": "Permissions the user has for this web property."
        },
        "level": {
          "readOnly": true,
          "description": "Level for this web property. Possible values are STANDARD or PREMIUM.",
          "type": "string"
        }
      },
      "description": "JSON template for an Analytics web property.",
      "id": "Webproperty"
    },
    "IncludeConditions": {
      "id": "IncludeConditions",
      "description": "JSON template for an Analytics Remarketing Include Conditions.",
      "properties": {
        "isSmartList": {
          "type": "boolean",
          "description": "Boolean indicating whether this segment is a smart list. https://support.google.com/analytics/answer/4628577"
        },
        "kind": {
          "description": "Resource type for include conditions.",
          "type": "string",
          "default": "analytics#includeConditions"
        },
        "membershipDurationDays": {
          "description": "Number of days (in the range 1 to 540) a user remains in the audience.",
          "format": "int32",
          "type": "integer"
        },
        "daysToLookBack": {
          "description": "The look-back window lets you specify a time frame for evaluating the behavior that qualifies users for your audience. For example, if your filters include users from Central Asia, and Transactions Greater than 2, and you set the look-back window to 14 days, then any user from Central Asia whose cumulative transactions exceed 2 during the last 14 days is added to the audience.",
          "type": "integer",
          "format": "int32"
        },
        "segment": {
          "type": "string",
          "description": "The segment condition that will cause a user to be added to an audience."
        }
      },
      "type": "object"
    },
    "ProfileSummary": {
      "id": "ProfileSummary",
      "description": "JSON template for an Analytics ProfileSummary. ProfileSummary returns basic information (i.e., summary) for a profile.",
      "type": "object",
      "properties": {
        "kind": {
          "default": "analytics#profileSummary",
          "type": "string",
          "description": "Resource type for Analytics ProfileSummary."
        },
        "name": {
          "type": "string",
          "description": "View (profile) name."
        },
        "id": {
          "type": "string",
          "description": "View (profile) ID."
        },
        "starred": {
          "type": "boolean",
          "description": "Indicates whether this view (profile) is starred or not."
        },
        "type": {
          "description": "View (Profile) type. Supported types: WEB or APP.",
          "type": "string"
        }
      }
    },
    "RemarketingAudiences": {
      "id": "RemarketingAudiences",
      "type": "object",
      "properties": {
        "previousLink": {
          "description": "Link to previous page for this view (profile) collection.",
          "type": "string"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this remarketing audience collection."
        },
        "items": {
          "description": "A list of remarketing audiences.",
          "items": {
            "$ref": "RemarketingAudience"
          },
          "type": "array"
        },
        "startIndex": {
          "format": "int32",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "type": "integer"
        },
        "kind": {
          "description": "Collection type.",
          "type": "string",
          "default": "analytics#remarketingAudiences"
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "totalResults": {
          "format": "int32",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "type": "integer"
        }
      },
      "description": "A remarketing audience collection lists Analytics remarketing audiences to which the user has access. Each resource in the collection corresponds to a single Analytics remarketing audience."
    },
    "Profiles": {
      "description": "A view (profile) collection lists Analytics views (profiles) to which the user has access. Each resource in the collection corresponds to a single Analytics view (profile).",
      "id": "Profiles",
      "type": "object",
      "properties": {
        "previousLink": {
          "description": "Link to previous page for this view (profile) collection.",
          "type": "string"
        },
        "totalResults": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of results for the query, regardless of the number of results in the response."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "nextLink": {
          "description": "Link to next page for this view (profile) collection.",
          "type": "string"
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "default": "analytics#profiles",
          "description": "Collection type."
        },
        "items": {
          "description": "A list of views (profiles).",
          "items": {
            "$ref": "Profile"
          },
          "type": "array"
        }
      }
    },
    "Webproperties": {
      "properties": {
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32"
        },
        "nextLink": {
          "description": "Link to next page for this web property collection.",
          "type": "string"
        },
        "kind": {
          "description": "Collection type.",
          "type": "string",
          "default": "analytics#webproperties"
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        },
        "previousLink": {
          "description": "Link to previous page for this web property collection.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Webproperty"
          },
          "description": "A list of web properties.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "A web property collection lists Analytics web properties to which the user has access. Each resource in the collection corresponds to a single Analytics web property.",
      "id": "Webproperties"
    },
    "GaData": {
      "type": "object",
      "description": "Analytics data for a given view (profile).",
      "id": "GaData",
      "properties": {
        "sampleSpace": {
          "type": "string",
          "format": "int64",
          "description": "Total size of the sample space from which the samples were selected."
        },
        "dataTable": {
          "type": "object",
          "properties": {
            "cols": {
              "type": "array",
              "items": {
                "properties": {
                  "label": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "id": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            },
            "rows": {
              "items": {
                "properties": {
                  "c": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "v": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  }
                },
                "type": "object"
              },
              "type": "array"
            }
          }
        },
        "itemsPerPage": {
          "description": "The maximum number of rows the response can contain, regardless of the actual number of rows returned. Its value ranges from 1 to 10,000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32",
          "type": "integer"
        },
        "query": {
          "properties": {
            "max-results": {
              "type": "integer",
              "description": "Maximum results per page.",
              "format": "int32"
            },
            "dimensions": {
              "type": "string",
              "description": "List of analytics dimensions."
            },
            "end-date": {
              "description": "End date.",
              "type": "string"
            },
            "start-index": {
              "type": "integer",
              "description": "Start index.",
              "format": "int32"
            },
            "samplingLevel": {
              "description": "Desired sampling level",
              "type": "string"
            },
            "sort": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "description": "List of dimensions or metrics based on which Analytics data is sorted."
            },
            "start-date": {
              "description": "Start date.",
              "type": "string"
            },
            "segment": {
              "type": "string",
              "description": "Analytics advanced segment."
            },
            "metrics": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "description": "List of analytics metrics."
            },
            "filters": {
              "type": "string",
              "description": "Comma-separated list of dimension or metric filters."
            },
            "ids": {
              "type": "string",
              "description": "Unique table ID."
            }
          },
          "type": "object",
          "description": "Analytics data request query parameters."
        },
        "columnHeaders": {
          "description": "Column headers that list dimension names followed by the metric names. The order of dimensions and metrics is same as specified in the request.",
          "type": "array",
          "items": {
            "properties": {
              "name": {
                "description": "Column name.",
                "type": "string"
              },
              "dataType": {
                "description": "Data type. Dimension column headers have only STRING as the data type. Metric column headers have data types for metric values such as INTEGER, DOUBLE, CURRENCY etc.",
                "type": "string"
              },
              "columnType": {
                "description": "Column Type. Either DIMENSION or METRIC.",
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "totalsForAllResults": {
          "description": "Total values for the requested metrics over all the results, not just the results returned in this response. The order of the metric totals is same as the metric order specified in the request.",
          "type": "object",
          "additionalProperties": {
            "description": "Key-value pair for the total value of a metric. Key is the metric name and the value is the total value for that metric.",
            "type": "string"
          }
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this Analytics data query."
        },
        "selfLink": {
          "type": "string",
          "description": "Link to this page."
        },
        "rows": {
          "type": "array",
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "description": "Analytics data rows, where each row contains a list of dimension values followed by the metric values. The order of dimensions and metrics is same as specified in the request."
        },
        "kind": {
          "description": "Resource type.",
          "default": "analytics#gaData",
          "type": "string"
        },
        "dataLastRefreshed": {
          "format": "int64",
          "description": "The last refreshed time in seconds for Analytics data.",
          "type": "string"
        },
        "containsSampledData": {
          "description": "Determines if Analytics data contains samples.",
          "type": "boolean"
        },
        "profileInfo": {
          "type": "object",
          "properties": {
            "profileName": {
              "description": "View (Profile) name.",
              "type": "string"
            },
            "tableId": {
              "description": "Table ID for view (profile).",
              "type": "string"
            },
            "webPropertyId": {
              "description": "Web Property ID to which this view (profile) belongs.",
              "type": "string"
            },
            "internalWebPropertyId": {
              "type": "string",
              "description": "Internal ID for the web property to which this view (profile) belongs."
            },
            "accountId": {
              "description": "Account ID to which this view (profile) belongs.",
              "type": "string"
            },
            "profileId": {
              "description": "View (Profile) ID.",
              "type": "string"
            }
          },
          "description": "Information for the view (profile), for which the Analytics data was requested."
        },
        "sampleSize": {
          "description": "The number of samples used to calculate the result.",
          "format": "int64",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Unique ID for this data response."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this Analytics data query."
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of rows for the query, regardless of the number of rows in the response.",
          "format": "int32"
        }
      }
    },
    "UserDeletionRequest": {
      "properties": {
        "kind": {
          "default": "analytics#userDeletionRequest",
          "type": "string",
          "description": "Value is \"analytics#userDeletionRequest\"."
        },
        "firebaseProjectId": {
          "type": "string",
          "description": "Firebase Project Id"
        },
        "deletionRequestTime": {
          "format": "date-time",
          "description": "This marks the point in time for which all user data before should be deleted",
          "type": "string",
          "readOnly": true
        },
        "id": {
          "properties": {
            "type": {
              "description": "Type of user",
              "type": "string"
            },
            "userId": {
              "type": "string",
              "description": "The User's id"
            }
          },
          "type": "object",
          "description": "User ID."
        },
        "webPropertyId": {
          "description": "Web property ID of the form UA-XXXXX-YY.",
          "type": "string"
        },
        "propertyId": {
          "type": "string",
          "description": "Property ID"
        }
      },
      "description": "JSON template for a user deletion request resource.",
      "type": "object",
      "id": "UserDeletionRequest"
    },
    "LinkedForeignAccount": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Entity ad account link ID."
        },
        "remarketingAudienceId": {
          "type": "string",
          "description": "Remarketing audience ID to which this linked foreign account belongs."
        },
        "eligibleForSearch": {
          "type": "boolean",
          "readOnly": true,
          "description": "Boolean indicating whether this is eligible for search."
        },
        "internalWebPropertyId": {
          "readOnly": true,
          "type": "string",
          "description": "Internal ID for the web property to which this linked foreign account belongs."
        },
        "linkedAccountId": {
          "description": "The foreign account ID. For example the an Google Ads `linkedAccountId` has the following format XXX-XXX-XXXX.",
          "type": "string"
        },
        "kind": {
          "description": "Resource type for linked foreign account.",
          "default": "analytics#linkedForeignAccount",
          "type": "string"
        },
        "type": {
          "description": "The type of the foreign account. For example, `ADWORDS_LINKS`, `DBM_LINKS`, `MCC_LINKS` or `OPTIMIZE`.",
          "type": "string"
        },
        "webPropertyId": {
          "description": "Web property ID of the form UA-XXXXX-YY to which this linked foreign account belongs.",
          "type": "string"
        },
        "status": {
          "description": "The status of this foreign account link.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this linked foreign account belongs."
        }
      },
      "id": "LinkedForeignAccount",
      "type": "object",
      "description": "JSON template for an Analytics Remarketing Audience Foreign Link."
    },
    "ProfileFilterLinks": {
      "type": "object",
      "description": "A profile filter link collection lists profile filter links between profiles and filters. Each resource in the collection corresponds to a profile filter link.",
      "properties": {
        "previousLink": {
          "description": "Link to previous page for this profile filter link collection.",
          "type": "string"
        },
        "kind": {
          "description": "Collection type.",
          "default": "analytics#profileFilterLinks",
          "type": "string"
        },
        "startIndex": {
          "format": "int32",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "type": "integer"
        },
        "username": {
          "description": "Email ID of the authenticated user",
          "type": "string"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this profile filter link collection."
        },
        "itemsPerPage": {
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1,000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32",
          "type": "integer"
        },
        "totalResults": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of results for the query, regardless of the number of results in the response."
        },
        "items": {
          "description": "A list of profile filter links.",
          "type": "array",
          "items": {
            "$ref": "ProfileFilterLink"
          }
        }
      },
      "id": "ProfileFilterLinks"
    },
    "AdWordsAccount": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Resource type for Google Ads account.",
          "default": "analytics#adWordsAccount"
        },
        "autoTaggingEnabled": {
          "type": "boolean",
          "description": "True if auto-tagging is enabled on the Google Ads account. Read-only after the insert operation."
        },
        "customerId": {
          "type": "string",
          "description": "Customer ID. This field is required when creating a Google Ads link.",
          "annotations": {
            "required": [
              "analytics.management.webPropertyAdWordsLinks.insert",
              "analytics.management.webPropertyAdWordsLinks.update"
            ]
          }
        }
      },
      "description": "JSON template for an Google Ads account.",
      "type": "object",
      "id": "AdWordsAccount"
    },
    "EntityUserLinks": {
      "description": "An entity user link collection provides a list of Analytics ACL links Each resource in this collection corresponds to a single link.",
      "id": "EntityUserLinks",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#entityUserLinks"
        },
        "items": {
          "description": "A list of entity user links.",
          "type": "array",
          "items": {
            "$ref": "EntityUserLink"
          }
        },
        "previousLink": {
          "description": "Previous link for this account collection.",
          "type": "string"
        },
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of entries the response can contain, regardless of the actual number of entries returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "nextLink": {
          "description": "Next link for this account collection.",
          "type": "string"
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the entries, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32"
        }
      }
    },
    "AccountSummary": {
      "properties": {
        "webProperties": {
          "type": "array",
          "items": {
            "$ref": "WebPropertySummary"
          },
          "description": "List of web properties under this account."
        },
        "id": {
          "type": "string",
          "description": "Account ID."
        },
        "starred": {
          "description": "Indicates whether this account is starred or not.",
          "type": "boolean"
        },
        "name": {
          "description": "Account name.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Resource type for Analytics AccountSummary.",
          "default": "analytics#accountSummary"
        }
      },
      "type": "object",
      "id": "AccountSummary",
      "description": "JSON template for an Analytics AccountSummary. An AccountSummary is a lightweight tree comprised of properties/profiles."
    },
    "RemarketingAudience": {
      "id": "RemarketingAudience",
      "description": "JSON template for an Analytics remarketing audience.",
      "properties": {
        "internalWebPropertyId": {
          "description": "Internal ID for the web property to which this remarketing audience belongs.",
          "type": "string",
          "readOnly": true
        },
        "audienceDefinition": {
          "properties": {
            "includeConditions": {
              "$ref": "IncludeConditions",
              "description": "Defines the conditions to include users to the audience."
            }
          },
          "description": "The simple audience definition that will cause a user to be added to an audience.",
          "type": "object"
        },
        "id": {
          "description": "Remarketing Audience ID.",
          "type": "string"
        },
        "stateBasedAudienceDefinition": {
          "type": "object",
          "properties": {
            "excludeConditions": {
              "type": "object",
              "description": "Defines the conditions to exclude users from the audience.",
              "properties": {
                "segment": {
                  "description": "The segment condition that will cause a user to be removed from an audience.",
                  "type": "string"
                },
                "exclusionDuration": {
                  "description": "Whether to make the exclusion TEMPORARY or PERMANENT.",
                  "type": "string"
                }
              }
            },
            "includeConditions": {
              "$ref": "IncludeConditions",
              "description": "Defines the conditions to include users to the audience."
            }
          },
          "description": "A state based audience definition that will cause a user to be added or removed from an audience."
        },
        "linkedViews": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The views (profiles) that this remarketing audience is linked to."
        },
        "name": {
          "description": "The name of this remarketing audience.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "analytics#remarketingAudience",
          "description": "Collection type."
        },
        "linkedAdAccounts": {
          "items": {
            "$ref": "LinkedForeignAccount"
          },
          "type": "array",
          "description": "The linked ad accounts associated with this remarketing audience. A remarketing audience can have only one linkedAdAccount currently."
        },
        "description": {
          "readOnly": true,
          "description": "The description of this remarketing audience.",
          "type": "string"
        },
        "created": {
          "readOnly": true,
          "format": "date-time",
          "description": "Time this remarketing audience was created.",
          "type": "string"
        },
        "audienceType": {
          "type": "string",
          "description": "The type of audience, either SIMPLE or STATE_BASED."
        },
        "updated": {
          "format": "date-time",
          "readOnly": true,
          "type": "string",
          "description": "Time this remarketing audience was last modified."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this remarketing audience belongs."
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY to which this remarketing audience belongs."
        }
      },
      "type": "object"
    },
    "WebPropertyRef": {
      "description": "JSON template for a web property reference.",
      "type": "object",
      "id": "WebPropertyRef",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "Account ID to which this web property belongs."
        },
        "kind": {
          "type": "string",
          "default": "analytics#webPropertyRef",
          "description": "Analytics web property reference."
        },
        "id": {
          "description": "Web property ID of the form UA-XXXXX-YY.",
          "type": "string"
        },
        "internalWebPropertyId": {
          "description": "Internal ID for this web property.",
          "type": "string"
        },
        "href": {
          "description": "Link for this web property.",
          "type": "string"
        },
        "name": {
          "description": "Name of this web property.",
          "type": "string"
        }
      }
    },
    "HashClientIdResponse": {
      "type": "object",
      "id": "HashClientIdResponse",
      "properties": {
        "clientId": {
          "type": "string"
        },
        "webPropertyId": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "analytics#hashClientIdResponse"
        },
        "hashedClientId": {
          "type": "string"
        }
      },
      "description": "JSON template for a hash Client Id response resource."
    },
    "Experiments": {
      "type": "object",
      "properties": {
        "totalResults": {
          "description": "The total number of results for the query, regardless of the number of resources in the result.",
          "format": "int32",
          "type": "integer"
        },
        "startIndex": {
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "type": "integer",
          "format": "int32"
        },
        "kind": {
          "default": "analytics#experiments",
          "type": "string",
          "description": "Collection type."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this experiment collection."
        },
        "items": {
          "items": {
            "$ref": "Experiment"
          },
          "type": "array",
          "description": "A list of experiments."
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this experiment collection."
        },
        "username": {
          "description": "Email ID of the authenticated user",
          "type": "string"
        },
        "itemsPerPage": {
          "format": "int32",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "type": "integer"
        }
      },
      "id": "Experiments",
      "description": "An experiment collection lists Analytics experiments to which the user has access. Each view (profile) can have a set of experiments. Each resource in the Experiment collection corresponds to a single Analytics experiment."
    },
    "CustomDataSource": {
      "id": "CustomDataSource",
      "properties": {
        "childLink": {
          "type": "object",
          "properties": {
            "href": {
              "description": "Link to the list of daily uploads for this custom data source. Link to the list of uploads for this custom data source.",
              "type": "string"
            },
            "type": {
              "description": "Value is \"analytics#dailyUploads\". Value is \"analytics#uploads\".",
              "type": "string"
            }
          }
        },
        "description": {
          "description": "Description of custom data source.",
          "type": "string"
        },
        "schema": {
          "type": "array",
          "description": "Collection of schema headers of the custom data source.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Name of this custom data source.",
          "type": "string"
        },
        "parentLink": {
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the web property to which this custom data source belongs."
            },
            "type": {
              "description": "Value is \"analytics#webproperty\".",
              "default": "analytics#webproperty",
              "type": "string"
            }
          },
          "type": "object",
          "description": "Parent link for this custom data source. Points to the web property to which this custom data source belongs."
        },
        "type": {
          "type": "string",
          "description": "Type of the custom data source."
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this Analytics custom data source."
        },
        "webPropertyId": {
          "description": "Web property ID of the form UA-XXXXX-YY to which this custom data source belongs.",
          "type": "string"
        },
        "created": {
          "type": "string",
          "description": "Time this custom data source was created.",
          "format": "date-time"
        },
        "importBehavior": {
          "type": "string"
        },
        "id": {
          "description": "Custom data source ID.",
          "type": "string"
        },
        "updated": {
          "format": "date-time",
          "type": "string",
          "description": "Time this custom data source was last modified."
        },
        "kind": {
          "type": "string",
          "default": "analytics#customDataSource",
          "description": "Resource type for Analytics custom data source."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this custom data source belongs."
        },
        "uploadType": {
          "type": "string",
          "description": "Upload type of the custom data source."
        },
        "profilesLinked": {
          "description": "IDs of views (profiles) linked to the custom data source.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "JSON template for an Analytics custom data source."
    },
    "WebPropertySummary": {
      "type": "object",
      "id": "WebPropertySummary",
      "description": "JSON template for an Analytics WebPropertySummary. WebPropertySummary returns basic information (i.e., summary) for a web property.",
      "properties": {
        "websiteUrl": {
          "type": "string",
          "description": "Website url for this web property."
        },
        "profiles": {
          "type": "array",
          "items": {
            "$ref": "ProfileSummary"
          },
          "description": "List of profiles under this web property."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for Analytics WebPropertySummary.",
          "default": "analytics#webPropertySummary"
        },
        "name": {
          "description": "Web property name.",
          "type": "string"
        },
        "id": {
          "description": "Web property ID of the form UA-XXXXX-YY.",
          "type": "string"
        },
        "level": {
          "type": "string",
          "description": "Level for this web property. Possible values are STANDARD or PREMIUM."
        },
        "internalWebPropertyId": {
          "description": "Internal ID for this web property.",
          "type": "string"
        },
        "starred": {
          "description": "Indicates whether this web property is starred or not.",
          "type": "boolean"
        }
      }
    },
    "Upload": {
      "id": "Upload",
      "type": "object",
      "description": "Metadata returned for an upload operation.",
      "properties": {
        "status": {
          "type": "string",
          "description": "Upload status. Possible values: PENDING, COMPLETED, FAILED, DELETING, DELETED."
        },
        "customDataSourceId": {
          "type": "string",
          "description": "Custom data source Id to which this data import belongs."
        },
        "errors": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Data import errors collection."
        },
        "accountId": {
          "description": "Account Id to which this upload belongs.",
          "format": "int64",
          "type": "string"
        },
        "uploadTime": {
          "description": "Time this file is uploaded.",
          "format": "date-time",
          "type": "string"
        },
        "id": {
          "description": "A unique ID for this upload.",
          "type": "string"
        },
        "kind": {
          "description": "Resource type for Analytics upload.",
          "type": "string",
          "default": "analytics#upload"
        }
      }
    },
    "Segments": {
      "id": "Segments",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Collection type for segments.",
          "default": "analytics#segments"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this segment collection."
        },
        "itemsPerPage": {
          "format": "int32",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "type": "integer"
        },
        "totalResults": {
          "format": "int32",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "type": "integer"
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter."
        },
        "items": {
          "items": {
            "$ref": "Segment"
          },
          "description": "A list of segments.",
          "type": "array"
        },
        "username": {
          "description": "Email ID of the authenticated user",
          "type": "string"
        },
        "previousLink": {
          "description": "Link to previous page for this segment collection.",
          "type": "string"
        }
      },
      "description": "An segment collection lists Analytics segments that the user has access to. Each resource in the collection corresponds to a single Analytics segment.",
      "type": "object"
    },
    "EntityAdWordsLink": {
      "properties": {
        "adWordsAccounts": {
          "items": {
            "$ref": "AdWordsAccount"
          },
          "type": "array",
          "annotations": {
            "required": [
              "analytics.management.webPropertyAdWordsLinks.insert",
              "analytics.management.webPropertyAdWordsLinks.update"
            ]
          },
          "description": "A list of Google Ads client accounts. These cannot be MCC accounts. This field is required when creating a Google Ads link. It cannot be empty."
        },
        "id": {
          "type": "string",
          "description": "Entity Google Ads link ID"
        },
        "profileIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "IDs of linked Views (Profiles) represented as strings."
        },
        "name": {
          "annotations": {
            "required": [
              "analytics.management.webPropertyAdWordsLinks.insert",
              "analytics.management.webPropertyAdWordsLinks.update"
            ]
          },
          "description": "Name of the link. This field is required when creating a Google Ads link.",
          "type": "string"
        },
        "entity": {
          "properties": {
            "webPropertyRef": {
              "$ref": "WebPropertyRef"
            }
          },
          "description": "Web property being linked.",
          "type": "object"
        },
        "selfLink": {
          "description": "URL link for this Google Analytics - Google Ads link.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Resource type for entity Google Ads link.",
          "default": "analytics#entityAdWordsLink"
        }
      },
      "type": "object",
      "id": "EntityAdWordsLink",
      "description": "JSON template for Analytics Entity Google Ads Link."
    },
    "RealtimeData": {
      "description": "Real time data for a given view (profile).",
      "id": "RealtimeData",
      "properties": {
        "columnHeaders": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "Column name."
              },
              "columnType": {
                "description": "Column Type. Either DIMENSION or METRIC.",
                "type": "string"
              },
              "dataType": {
                "description": "Data type. Dimension column headers have only STRING as the data type. Metric column headers have data types for metric values such as INTEGER, DOUBLE, CURRENCY etc.",
                "type": "string"
              }
            }
          },
          "description": "Column headers that list dimension names followed by the metric names. The order of dimensions and metrics is same as specified in the request."
        },
        "selfLink": {
          "description": "Link to this page.",
          "type": "string"
        },
        "totalResults": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of rows for the query, regardless of the number of rows in the response."
        },
        "id": {
          "description": "Unique ID for this data response.",
          "type": "string"
        },
        "query": {
          "type": "object",
          "description": "Real time data request query parameters.",
          "properties": {
            "sort": {
              "type": "array",
              "description": "List of dimensions or metrics based on which real time data is sorted.",
              "items": {
                "type": "string"
              }
            },
            "max-results": {
              "format": "int32",
              "type": "integer",
              "description": "Maximum results per page."
            },
            "ids": {
              "description": "Unique table ID.",
              "type": "string"
            },
            "filters": {
              "type": "string",
              "description": "Comma-separated list of dimension or metric filters."
            },
            "metrics": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "List of real time metrics."
            },
            "dimensions": {
              "type": "string",
              "description": "List of real time dimensions."
            }
          }
        },
        "kind": {
          "default": "analytics#realtimeData",
          "type": "string",
          "description": "Resource type."
        },
        "rows": {
          "items": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "type": "array",
          "description": "Real time data rows, where each row contains a list of dimension values followed by the metric values. The order of dimensions and metrics is same as specified in the request."
        },
        "profileInfo": {
          "properties": {
            "accountId": {
              "description": "Account ID to which this view (profile) belongs.",
              "type": "string"
            },
            "webPropertyId": {
              "type": "string",
              "description": "Web Property ID to which this view (profile) belongs."
            },
            "profileId": {
              "description": "View (Profile) ID.",
              "type": "string"
            },
            "tableId": {
              "description": "Table ID for view (profile).",
              "type": "string"
            },
            "internalWebPropertyId": {
              "description": "Internal ID for the web property to which this view (profile) belongs.",
              "type": "string"
            },
            "profileName": {
              "type": "string",
              "description": "View (Profile) name."
            }
          },
          "type": "object",
          "description": "Information for the view (profile), for which the real time data was requested."
        },
        "totalsForAllResults": {
          "description": "Total values for the requested metrics over all the results, not just the results returned in this response. The order of the metric totals is same as the metric order specified in the request.",
          "type": "object",
          "additionalProperties": {
            "description": "Key-value pair for the total value of a metric. Key is the metric name and the value is the total value for that metric.",
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "CustomMetric": {
      "id": "CustomMetric",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Custom metric ID."
        },
        "index": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Index of the custom metric."
        },
        "type": {
          "description": "Data type of custom metric.",
          "type": "string"
        },
        "created": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "Time the custom metric was created."
        },
        "scope": {
          "description": "Scope of the custom metric: HIT or PRODUCT.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "Account ID."
        },
        "name": {
          "description": "Name of the custom metric.",
          "type": "string"
        },
        "min_value": {
          "type": "string",
          "description": "Min value of custom metric."
        },
        "selfLink": {
          "type": "string",
          "readOnly": true,
          "description": "Link for the custom metric"
        },
        "kind": {
          "description": "Kind value for a custom metric. Set to \"analytics#customMetric\". It is a read-only field.",
          "readOnly": true,
          "default": "analytics#customMetric",
          "type": "string"
        },
        "updated": {
          "description": "Time the custom metric was last modified.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "webPropertyId": {
          "description": "Property ID.",
          "type": "string"
        },
        "max_value": {
          "type": "string",
          "description": "Max value of custom metric."
        },
        "active": {
          "type": "boolean",
          "description": "Boolean indicating whether the custom metric is active."
        },
        "parentLink": {
          "type": "object",
          "description": "Parent link for the custom metric. Points to the property to which the custom metric belongs.",
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the property to which the custom metric belongs."
            },
            "type": {
              "default": "analytics#webproperty",
              "description": "Type of the parent link. Set to \"analytics#webproperty\".",
              "type": "string"
            }
          }
        }
      },
      "description": "JSON template for Analytics Custom Metric."
    },
    "Filter": {
      "description": "JSON template for an Analytics account filter.",
      "properties": {
        "lowercaseDetails": {
          "type": "object",
          "description": "Details for the filter of the type LOWER.",
          "properties": {
            "fieldIndex": {
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION.",
              "type": "integer",
              "format": "int32"
            },
            "field": {
              "type": "string",
              "description": "Field to use in the filter."
            }
          }
        },
        "includeDetails": {
          "$ref": "FilterExpression",
          "description": "Details for the filter of the type INCLUDE."
        },
        "selfLink": {
          "description": "Link for this filter.",
          "type": "string",
          "readOnly": true
        },
        "excludeDetails": {
          "description": "Details for the filter of the type EXCLUDE.",
          "$ref": "FilterExpression"
        },
        "updated": {
          "readOnly": true,
          "format": "date-time",
          "type": "string",
          "description": "Time this filter was last modified."
        },
        "created": {
          "type": "string",
          "description": "Time this filter was created.",
          "format": "date-time",
          "readOnly": true
        },
        "uppercaseDetails": {
          "properties": {
            "field": {
              "description": "Field to use in the filter.",
              "type": "string"
            },
            "fieldIndex": {
              "format": "int32",
              "type": "integer",
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION."
            }
          },
          "description": "Details for the filter of the type UPPER.",
          "type": "object"
        },
        "kind": {
          "type": "string",
          "description": "Resource type for Analytics filter.",
          "readOnly": true,
          "default": "analytics#filter"
        },
        "parentLink": {
          "type": "object",
          "properties": {
            "href": {
              "description": "Link to the account to which this filter belongs.",
              "type": "string"
            },
            "type": {
              "type": "string",
              "default": "analytics#account",
              "description": "Value is \"analytics#account\"."
            }
          },
          "description": "Parent link for this filter. Points to the account to which this filter belongs."
        },
        "advancedDetails": {
          "description": "Details for the filter of the type ADVANCED.",
          "properties": {
            "fieldA": {
              "type": "string",
              "description": "Field A."
            },
            "fieldARequired": {
              "type": "boolean",
              "description": "Indicates if field A is required to match."
            },
            "extractA": {
              "description": "Expression to extract from field A.",
              "type": "string"
            },
            "fieldBRequired": {
              "type": "boolean",
              "description": "Indicates if field B is required to match."
            },
            "fieldB": {
              "description": "Field B.",
              "type": "string"
            },
            "fieldAIndex": {
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION.",
              "type": "integer",
              "format": "int32"
            },
            "extractB": {
              "description": "Expression to extract from field B.",
              "type": "string"
            },
            "outputToField": {
              "type": "string",
              "description": "Output field."
            },
            "caseSensitive": {
              "description": "Indicates if the filter expressions are case sensitive.",
              "type": "boolean"
            },
            "fieldBIndex": {
              "format": "int32",
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION.",
              "type": "integer"
            },
            "overrideOutputField": {
              "type": "boolean",
              "description": "Indicates if the existing value of the output field, if any, should be overridden by the output expression."
            },
            "outputToFieldIndex": {
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION.",
              "type": "integer",
              "format": "int32"
            },
            "outputConstructor": {
              "description": "Expression used to construct the output value.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "searchAndReplaceDetails": {
          "type": "object",
          "description": "Details for the filter of the type SEARCH_AND_REPLACE.",
          "properties": {
            "caseSensitive": {
              "type": "boolean",
              "description": "Determines if the filter is case sensitive."
            },
            "searchString": {
              "type": "string",
              "description": "Term to search."
            },
            "replaceString": {
              "type": "string",
              "description": "Term to replace the search term with."
            },
            "fieldIndex": {
              "type": "integer",
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION.",
              "format": "int32"
            },
            "field": {
              "type": "string",
              "description": "Field to use in the filter."
            }
          }
        },
        "name": {
          "description": "Name of this filter.",
          "type": "string",
          "annotations": {
            "required": [
              "analytics.management.filters.insert",
              "analytics.management.filters.update"
            ]
          }
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this filter belongs."
        },
        "type": {
          "annotations": {
            "required": [
              "analytics.management.filters.insert",
              "analytics.management.filters.update"
            ]
          },
          "type": "string",
          "description": "Type of this filter. Possible values are INCLUDE, EXCLUDE, LOWERCASE, UPPERCASE, SEARCH_AND_REPLACE and ADVANCED."
        },
        "id": {
          "type": "string",
          "description": "Filter ID."
        }
      },
      "id": "Filter",
      "type": "object"
    },
    "ProfileFilterLink": {
      "properties": {
        "profileRef": {
          "description": "View (Profile) for this link.",
          "$ref": "ProfileRef"
        },
        "filterRef": {
          "description": "Filter for this link.",
          "$ref": "FilterRef"
        },
        "id": {
          "description": "Profile filter link ID.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "readOnly": true,
          "description": "Resource type for Analytics filter.",
          "default": "analytics#profileFilterLink"
        },
        "selfLink": {
          "readOnly": true,
          "type": "string",
          "description": "Link for this profile filter link."
        },
        "rank": {
          "type": "integer",
          "description": "The rank of this profile filter link relative to the other filters linked to the same profile.\nFor readonly (i.e., list and get) operations, the rank always starts at 1.\nFor write (i.e., create, update, or delete) operations, you may specify a value between 0 and 255 inclusively, [0, 255]. In order to insert a link at the end of the list, either don't specify a rank or set a rank to a number greater than the largest rank in the list. In order to insert a link to the beginning of the list specify a rank that is less than or equal to 1. The new link will move all existing filters with the same or lower rank down the list. After the link is inserted/updated/deleted all profile filter links will be renumbered starting at 1.",
          "format": "int32"
        }
      },
      "description": "JSON template for an Analytics profile filter link.",
      "id": "ProfileFilterLink",
      "type": "object"
    },
    "ProfileRef": {
      "id": "ProfileRef",
      "properties": {
        "href": {
          "type": "string",
          "description": "Link for this view (profile)."
        },
        "kind": {
          "description": "Analytics view (profile) reference.",
          "default": "analytics#profileRef",
          "type": "string"
        },
        "internalWebPropertyId": {
          "description": "Internal ID for the web property to which this view (profile) belongs.",
          "type": "string"
        },
        "name": {
          "description": "Name of this view (profile).",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "View (Profile) ID."
        },
        "accountId": {
          "description": "Account ID to which this view (profile) belongs.",
          "type": "string"
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY to which this view (profile) belongs."
        }
      },
      "type": "object",
      "description": "JSON template for a linked view (profile)."
    },
    "Account": {
      "description": "JSON template for Analytics account entry.",
      "id": "Account",
      "type": "object",
      "properties": {
        "name": {
          "description": "Account name.",
          "type": "string"
        },
        "updated": {
          "format": "date-time",
          "description": "Time the account was last modified.",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this account."
        },
        "kind": {
          "description": "Resource type for Analytics account.",
          "default": "analytics#account",
          "type": "string"
        },
        "created": {
          "type": "string",
          "description": "Time the account was created.",
          "format": "date-time"
        },
        "childLink": {
          "description": "Child link for an account entry. Points to the list of web properties for this account.",
          "type": "object",
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the list of web properties for this account."
            },
            "type": {
              "type": "string",
              "default": "analytics#webproperties",
              "description": "Type of the child link. Its value is \"analytics#webproperties\"."
            }
          }
        },
        "permissions": {
          "type": "object",
          "description": "Permissions the user has for this account.",
          "properties": {
            "effective": {
              "description": "All the permissions that the user has for this account. These include any implied permissions (e.g., EDIT implies VIEW).",
              "items": {
                "type": "string"
              },
              "readOnly": true,
              "type": "array"
            }
          }
        },
        "id": {
          "type": "string",
          "description": "Account ID."
        },
        "starred": {
          "type": "boolean",
          "description": "Indicates whether this account is starred or not."
        }
      }
    },
    "AccountSummaries": {
      "id": "AccountSummaries",
      "description": "An AccountSummary collection lists a summary of accounts, properties and views (profiles) to which the user has access. Each resource in the collection corresponds to a single AccountSummary.",
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "description": "A list of AccountSummaries.",
          "items": {
            "$ref": "AccountSummary"
          }
        },
        "kind": {
          "default": "analytics#accountSummaries",
          "description": "Collection type.",
          "type": "string"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this AccountSummary collection."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "itemsPerPage": {
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "type": "integer",
          "format": "int32"
        },
        "totalResults": {
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "type": "integer",
          "format": "int32"
        },
        "startIndex": {
          "format": "int32",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "type": "integer"
        },
        "nextLink": {
          "description": "Link to next page for this AccountSummary collection.",
          "type": "string"
        }
      }
    },
    "CustomDimensions": {
      "properties": {
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#customDimensions"
        },
        "totalResults": {
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32",
          "type": "integer"
        },
        "items": {
          "items": {
            "$ref": "CustomDimension"
          },
          "description": "Collection of custom dimensions.",
          "type": "array"
        },
        "itemsPerPage": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this custom dimension collection."
        },
        "startIndex": {
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "type": "integer",
          "format": "int32"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this custom dimension collection."
        }
      },
      "description": "A custom dimension collection lists Analytics custom dimensions to which the user has access. Each resource in the collection corresponds to a single Analytics custom dimension.",
      "type": "object",
      "id": "CustomDimensions"
    },
    "AccountTreeRequest": {
      "description": "JSON template for an Analytics account tree requests. The account tree request is used in the provisioning api to create an account, property, and view (profile). It contains the basic information required to make these fields.",
      "properties": {
        "profileName": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          }
        },
        "websiteUrl": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          }
        },
        "timezone": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          }
        },
        "webpropertyName": {
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          },
          "type": "string"
        },
        "kind": {
          "description": "Resource type for account ticket.",
          "type": "string",
          "default": "analytics#accountTreeRequest"
        },
        "accountName": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          }
        }
      },
      "type": "object",
      "id": "AccountTreeRequest"
    },
    "McfData": {
      "properties": {
        "query": {
          "properties": {
            "sort": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "description": "List of dimensions or metrics based on which Analytics data is sorted."
            },
            "start-index": {
              "description": "Start index.",
              "type": "integer",
              "format": "int32"
            },
            "dimensions": {
              "type": "string",
              "description": "List of analytics dimensions."
            },
            "ids": {
              "type": "string",
              "description": "Unique table ID."
            },
            "samplingLevel": {
              "type": "string",
              "description": "Desired sampling level"
            },
            "start-date": {
              "description": "Start date.",
              "type": "string"
            },
            "metrics": {
              "items": {
                "type": "string"
              },
              "description": "List of analytics metrics.",
              "type": "array"
            },
            "filters": {
              "description": "Comma-separated list of dimension or metric filters.",
              "type": "string"
            },
            "segment": {
              "type": "string",
              "description": "Analytics advanced segment."
            },
            "max-results": {
              "type": "integer",
              "format": "int32",
              "description": "Maximum results per page."
            },
            "end-date": {
              "description": "End date.",
              "type": "string"
            }
          },
          "description": "Analytics data request query parameters.",
          "type": "object"
        },
        "selfLink": {
          "description": "Link to this page.",
          "type": "string"
        },
        "profileInfo": {
          "type": "object",
          "description": "Information for the view (profile), for which the Analytics data was requested.",
          "properties": {
            "tableId": {
              "type": "string",
              "description": "Table ID for view (profile)."
            },
            "accountId": {
              "description": "Account ID to which this view (profile) belongs.",
              "type": "string"
            },
            "profileId": {
              "description": "View (Profile) ID.",
              "type": "string"
            },
            "internalWebPropertyId": {
              "description": "Internal ID for the web property to which this view (profile) belongs.",
              "type": "string"
            },
            "profileName": {
              "type": "string",
              "description": "View (Profile) name."
            },
            "webPropertyId": {
              "description": "Web Property ID to which this view (profile) belongs.",
              "type": "string"
            }
          }
        },
        "id": {
          "type": "string",
          "description": "Unique ID for this data response."
        },
        "sampleSize": {
          "type": "string",
          "description": "The number of samples used to calculate the result.",
          "format": "int64"
        },
        "rows": {
          "description": "Analytics data rows, where each row contains a list of dimension values followed by the metric values. The order of dimensions and metrics is same as specified in the request.",
          "items": {
            "type": "array",
            "items": {
              "description": "A union object representing a dimension or metric value. Only one of \"primitiveValue\" or \"conversionPathValue\" attribute will be populated.",
              "properties": {
                "primitiveValue": {
                  "description": "A primitive dimension value. A primitive metric value.",
                  "type": "string"
                },
                "conversionPathValue": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "nodeValue": {
                        "description": "Node value of an interaction on conversion path. Such as source, medium etc.",
                        "type": "string"
                      },
                      "interactionType": {
                        "type": "string",
                        "description": "Type of an interaction on conversion path. Such as CLICK, IMPRESSION etc."
                      }
                    },
                    "type": "object"
                  },
                  "description": "A conversion path dimension value, containing a list of interactions with their attributes."
                }
              },
              "type": "object"
            }
          },
          "type": "array"
        },
        "kind": {
          "default": "analytics#mcfData",
          "description": "Resource type.",
          "type": "string"
        },
        "itemsPerPage": {
          "description": "The maximum number of rows the response can contain, regardless of the actual number of rows returned. Its value ranges from 1 to 10,000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "type": "integer",
          "format": "int32"
        },
        "previousLink": {
          "description": "Link to previous page for this Analytics data query.",
          "type": "string"
        },
        "sampleSpace": {
          "description": "Total size of the sample space from which the samples were selected.",
          "type": "string",
          "format": "int64"
        },
        "containsSampledData": {
          "description": "Determines if the Analytics data contains sampled data.",
          "type": "boolean"
        },
        "columnHeaders": {
          "type": "array",
          "items": {
            "properties": {
              "name": {
                "type": "string",
                "description": "Column name."
              },
              "dataType": {
                "type": "string",
                "description": "Data type. Dimension and metric values data types such as INTEGER, DOUBLE, CURRENCY, MCF_SEQUENCE etc."
              },
              "columnType": {
                "description": "Column Type. Either DIMENSION or METRIC.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "description": "Column headers that list dimension names followed by the metric names. The order of dimensions and metrics is same as specified in the request."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this Analytics data query."
        },
        "totalResults": {
          "description": "The total number of rows for the query, regardless of the number of rows in the response.",
          "format": "int32",
          "type": "integer"
        },
        "totalsForAllResults": {
          "additionalProperties": {
            "description": "Key-value pair for the total value of a metric. Key is the metric name and the value is the total value for that metric.",
            "type": "string"
          },
          "description": "Total values for the requested metrics over all the results, not just the results returned in this response. The order of the metric totals is same as the metric order specified in the request.",
          "type": "object"
        }
      },
      "description": "Multi-Channel Funnels data for a given view (profile).",
      "type": "object",
      "id": "McfData"
    },
    "AccountTreeResponse": {
      "id": "AccountTreeResponse",
      "type": "object",
      "properties": {
        "webproperty": {
          "description": "Web property for the account.",
          "$ref": "Webproperty"
        },
        "account": {
          "$ref": "Account",
          "description": "The account created."
        },
        "kind": {
          "description": "Resource type for account ticket.",
          "type": "string",
          "default": "analytics#accountTreeResponse"
        },
        "profile": {
          "$ref": "Profile",
          "description": "View (Profile) for the account."
        }
      },
      "description": "JSON template for an Analytics account tree response. The account tree response is used in the provisioning api to return the result of creating an account, property, and view (profile)."
    },
    "CustomDimension": {
      "id": "CustomDimension",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Custom dimension ID."
        },
        "webPropertyId": {
          "description": "Property ID.",
          "type": "string"
        },
        "created": {
          "format": "date-time",
          "readOnly": true,
          "type": "string",
          "description": "Time the custom dimension was created."
        },
        "kind": {
          "default": "analytics#customDimension",
          "readOnly": true,
          "type": "string",
          "description": "Kind value for a custom dimension. Set to \"analytics#customDimension\". It is a read-only field."
        },
        "accountId": {
          "description": "Account ID.",
          "type": "string"
        },
        "selfLink": {
          "description": "Link for the custom dimension",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the custom dimension."
        },
        "index": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Index of the custom dimension."
        },
        "active": {
          "description": "Boolean indicating whether the custom dimension is active.",
          "type": "boolean"
        },
        "parentLink": {
          "description": "Parent link for the custom dimension. Points to the property to which the custom dimension belongs.",
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "default": "analytics#webproperty",
              "description": "Type of the parent link. Set to \"analytics#webproperty\"."
            },
            "href": {
              "type": "string",
              "description": "Link to the property to which the custom dimension belongs."
            }
          }
        },
        "updated": {
          "readOnly": true,
          "type": "string",
          "description": "Time the custom dimension was last modified.",
          "format": "date-time"
        },
        "scope": {
          "type": "string",
          "description": "Scope of the custom dimension: HIT, SESSION, USER or PRODUCT."
        }
      },
      "description": "JSON template for Analytics Custom Dimension."
    },
    "Segment": {
      "properties": {
        "kind": {
          "type": "string",
          "default": "analytics#segment",
          "description": "Resource type for Analytics segment."
        },
        "created": {
          "format": "date-time",
          "type": "string",
          "description": "Time the segment was created."
        },
        "id": {
          "type": "string",
          "description": "Segment ID."
        },
        "definition": {
          "description": "Segment definition.",
          "type": "string"
        },
        "segmentId": {
          "type": "string",
          "description": "Segment ID. Can be used with the 'segment' parameter in Core Reporting API."
        },
        "name": {
          "description": "Segment name.",
          "type": "string"
        },
        "type": {
          "description": "Type for a segment. Possible values are \"BUILT_IN\" or \"CUSTOM\".",
          "type": "string"
        },
        "updated": {
          "format": "date-time",
          "type": "string",
          "description": "Time the segment was last modified."
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this segment."
        }
      },
      "type": "object",
      "id": "Segment",
      "description": "JSON template for an Analytics segment."
    },
    "Columns": {
      "description": "Lists columns (dimensions and metrics) for a particular report type.",
      "type": "object",
      "id": "Columns",
      "properties": {
        "totalResults": {
          "description": "Total number of columns returned in the response.",
          "format": "int32",
          "type": "integer"
        },
        "items": {
          "type": "array",
          "description": "List of columns for a report type.",
          "items": {
            "$ref": "Column"
          }
        },
        "etag": {
          "type": "string",
          "description": "Etag of collection. This etag can be compared with the last response etag to check if response has changed."
        },
        "attributeNames": {
          "type": "array",
          "description": "List of attributes names returned by columns.",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "default": "analytics#columns",
          "description": "Collection type.",
          "type": "string"
        }
      }
    },
    "Accounts": {
      "id": "Accounts",
      "properties": {
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32"
        },
        "itemsPerPage": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of entries the response can contain, regardless of the actual number of entries returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "nextLink": {
          "description": "Next link for this account collection.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "startIndex": {
          "description": "The starting index of the entries, which is 1 by default or otherwise specified by the start-index query parameter.",
          "type": "integer",
          "format": "int32"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Account"
          },
          "description": "A list of accounts."
        },
        "kind": {
          "default": "analytics#accounts",
          "type": "string",
          "description": "Collection type."
        },
        "previousLink": {
          "description": "Previous link for this account collection.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An account collection provides a list of Analytics accounts to which a user has access. The account collection is the entry point to all management information. Each resource in the collection corresponds to a single Analytics account."
    },
    "CustomDataSources": {
      "id": "CustomDataSources",
      "properties": {
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32"
        },
        "previousLink": {
          "description": "Link to previous page for this custom data source collection.",
          "type": "string"
        },
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "kind": {
          "default": "analytics#customDataSources",
          "type": "string",
          "description": "Collection type."
        },
        "items": {
          "description": "Collection of custom data sources.",
          "type": "array",
          "items": {
            "$ref": "CustomDataSource"
          }
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this custom data source collection."
        }
      },
      "type": "object",
      "description": "Lists Analytics custom data sources to which the user has access. Each resource in the collection corresponds to a single Analytics custom data source."
    },
    "Goals": {
      "id": "Goals",
      "type": "object",
      "description": "A goal collection lists Analytics goals to which the user has access. Each view (profile) can have a set of goals. Each resource in the Goal collection corresponds to a single Analytics goal.",
      "properties": {
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "totalResults": {
          "format": "int32",
          "description": "The total number of results for the query, regardless of the number of resources in the result.",
          "type": "integer"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this goal collection."
        },
        "kind": {
          "default": "analytics#goals",
          "type": "string",
          "description": "Collection type."
        },
        "itemsPerPage": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Goal"
          },
          "description": "A list of goals."
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this goal collection."
        },
        "startIndex": {
          "format": "int32",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "type": "integer"
        }
      }
    },
    "Profile": {
      "type": "object",
      "id": "Profile",
      "description": "JSON template for an Analytics view (profile).",
      "properties": {
        "permissions": {
          "description": "Permissions the user has for this view (profile).",
          "properties": {
            "effective": {
              "type": "array",
              "description": "All the permissions that the user has for this view (profile). These include any implied permissions (e.g., EDIT implies VIEW) or inherited permissions from the parent web property.",
              "items": {
                "type": "string"
              },
              "readOnly": true
            }
          },
          "type": "object"
        },
        "created": {
          "description": "Time this view (profile) was created.",
          "format": "date-time",
          "readOnly": true,
          "type": "string"
        },
        "enhancedECommerceTracking": {
          "type": "boolean",
          "description": "Indicates whether enhanced ecommerce tracking is enabled for this view (profile). This property can only be enabled if ecommerce tracking is enabled."
        },
        "updated": {
          "readOnly": true,
          "format": "date-time",
          "type": "string",
          "description": "Time this view (profile) was last modified."
        },
        "kind": {
          "readOnly": true,
          "type": "string",
          "default": "analytics#profile",
          "description": "Resource type for Analytics view (profile)."
        },
        "siteSearchQueryParameters": {
          "description": "The site search query parameters for this view (profile).",
          "type": "string"
        },
        "selfLink": {
          "description": "Link for this view (profile).",
          "type": "string",
          "readOnly": true
        },
        "excludeQueryParameters": {
          "description": "The query parameters that are excluded from this view (profile).",
          "type": "string"
        },
        "parentLink": {
          "type": "object",
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the web property to which this view (profile) belongs."
            },
            "type": {
              "default": "analytics#webproperty",
              "type": "string",
              "description": "Value is \"analytics#webproperty\"."
            }
          },
          "description": "Parent link for this view (profile). Points to the web property to which this view (profile) belongs."
        },
        "siteSearchCategoryParameters": {
          "description": "Site search category parameters for this view (profile).",
          "type": "string"
        },
        "name": {
          "description": "Name of this view (profile).",
          "type": "string"
        },
        "starred": {
          "type": "boolean",
          "description": "Indicates whether this view (profile) is starred or not."
        },
        "defaultPage": {
          "description": "Default page for this view (profile).",
          "type": "string"
        },
        "stripSiteSearchCategoryParameters": {
          "type": "boolean",
          "description": "Whether or not Analytics will strip search category parameters from the URLs in your reports."
        },
        "timezone": {
          "type": "string",
          "description": "Time zone for which this view (profile) has been configured. Time zones are identified by strings from the TZ database."
        },
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for the web property to which this view (profile) belongs.",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "View (Profile) ID."
        },
        "websiteUrl": {
          "description": "Website URL for this view (profile).",
          "type": "string"
        },
        "accountId": {
          "description": "Account ID to which this view (profile) belongs.",
          "type": "string"
        },
        "eCommerceTracking": {
          "description": "Indicates whether ecommerce tracking is enabled for this view (profile).",
          "type": "boolean"
        },
        "stripSiteSearchQueryParameters": {
          "type": "boolean",
          "description": "Whether or not Analytics will strip search query parameters from the URLs in your reports."
        },
        "childLink": {
          "description": "Child link for this view (profile). Points to the list of goals for this view (profile).",
          "properties": {
            "type": {
              "type": "string",
              "default": "analytics#goals",
              "description": "Value is \"analytics#goals\"."
            },
            "href": {
              "description": "Link to the list of goals for this view (profile).",
              "type": "string"
            }
          },
          "type": "object"
        },
        "type": {
          "type": "string",
          "description": "View (Profile) type. Supported types: WEB or APP."
        },
        "currency": {
          "description": "The currency type associated with this view (profile), defaults to USD. The supported values are:\nUSD, JPY, EUR, GBP, AUD, KRW, BRL, CNY, DKK, RUB, SEK, NOK, PLN, TRY, TWD, HKD, THB, IDR, ARS, MXN, VND, PHP, INR, CHF, CAD, CZK, NZD, HUF, BGN, LTL, ZAR, UAH, AED, BOB, CLP, COP, EGP, HRK, ILS, MAD, MYR, PEN, PKR, RON, RSD, SAR, SGD, VEF, LVL",
          "type": "string"
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY to which this view (profile) belongs.",
          "readOnly": true
        },
        "botFilteringEnabled": {
          "type": "boolean",
          "description": "Indicates whether bot filtering is enabled for this view (profile)."
        }
      }
    },
    "Goal": {
      "properties": {
        "eventDetails": {
          "type": "object",
[...]
