{
  "discoveryVersion": "v1",
  "servicePath": "",
  "version": "v3",
  "batchPath": "batch",
  "resources": {
    "edits": {
      "resources": {
        "deobfuscationfiles": {
          "methods": {
            "upload": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}",
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "deobfuscationFileType"
              ],
              "supportsMediaUpload": true,
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}",
              "response": {
                "$ref": "DeobfuscationFilesUploadResponse"
              },
              "id": "androidpublisher.edits.deobfuscationfiles.upload",
              "description": "Uploads a new deobfuscation file and attaches to the specified APK.",
              "mediaUpload": {
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}"
                  }
                },
                "accept": [
                  "application/octet-stream"
                ],
                "maxSize": "314572800"
              },
              "parameters": {
                "packageName": {
                  "location": "path",
                  "description": "Unique identifier for the Android app.",
                  "required": true,
                  "type": "string"
                },
                "apkVersionCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The version code of the APK whose Deobfuscation File is being uploaded.",
                  "location": "path",
                  "required": true
                },
                "editId": {
                  "description": "Unique identifier for this edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "deobfuscationFileType": {
                  "location": "path",
                  "required": true,
                  "description": "The type of the deobfuscation file.",
                  "type": "string",
                  "enumDescriptions": [
                    "Unspecified deobfuscation file type.",
                    "Proguard deobfuscation file type.",
                    "Native debugging symbols file type."
                  ],
                  "enum": [
                    "deobfuscationFileTypeUnspecified",
                    "proguard",
                    "nativeCode"
                  ]
                }
              }
            }
          }
        },
        "tracks": {
          "methods": {
            "update": {
              "parameters": {
                "track": {
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the track.",
                  "required": true
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "Package name of the app.",
                  "required": true
                }
              },
              "request": {
                "$ref": "Track"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "response": {
                "$ref": "Track"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "description": "Updates a track.",
              "id": "androidpublisher.edits.tracks.update",
              "httpMethod": "PUT"
            },
            "get": {
              "parameters": {
                "editId": {
                  "required": true,
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "location": "path"
                },
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "description": "Package name of the app.",
                  "required": true
                },
                "track": {
                  "location": "path",
                  "description": "Identifier of the track.",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Gets a track.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "response": {
                "$ref": "Track"
              },
              "id": "androidpublisher.edits.tracks.get",
              "httpMethod": "GET",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}"
            },
            "patch": {
              "id": "androidpublisher.edits.tracks.patch",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "request": {
                "$ref": "Track"
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Patches a track.",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "Track"
              },
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "track": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the track."
                },
                "editId": {
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the edit.",
                  "location": "path"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}"
            },
            "list": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks",
              "response": {
                "$ref": "TracksListResponse"
              },
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "packageName": {
                  "required": true,
                  "description": "Package name of the app.",
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Lists all tracks.",
              "id": "androidpublisher.edits.tracks.list",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks"
            }
          }
        },
        "expansionfiles": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "id": "androidpublisher.edits.expansionfiles.get",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "description": "Fetches the expansion file configuration for the specified APK.",
              "response": {
                "$ref": "ExpansionFile"
              },
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "expansionFileType": {
                  "type": "string",
                  "description": "The file type of the file configuration which is being read or modified.",
                  "location": "path",
                  "required": true,
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "enumDescriptions": [
                    "Unspecified expansion file type.",
                    "Main expansion file.",
                    "Patch expansion file."
                  ]
                },
                "apkVersionCode": {
                  "type": "integer",
                  "required": true,
                  "location": "path",
                  "format": "int32",
                  "description": "The version code of the APK whose expansion file configuration is being read or modified."
                },
                "editId": {
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the edit.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "update": {
              "parameters": {
                "expansionFileType": {
                  "enumDescriptions": [
                    "Unspecified expansion file type.",
                    "Main expansion file.",
                    "Patch expansion file."
                  ],
                  "location": "path",
                  "type": "string",
                  "description": "The file type of the file configuration which is being read or modified.",
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "required": true
                },
                "apkVersionCode": {
                  "type": "integer",
                  "required": true,
                  "location": "path",
                  "format": "int32",
                  "description": "The version code of the APK whose expansion file configuration is being read or modified."
                },
                "editId": {
                  "location": "path",
                  "description": "Identifier of the edit.",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "ExpansionFile"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "response": {
                "$ref": "ExpansionFile"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "httpMethod": "PUT",
              "description": "Updates the APK's expansion file configuration to reference another APK's expansion file. To add a new expansion file use the Upload method.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "id": "androidpublisher.edits.expansionfiles.update"
            },
            "patch": {
              "parameters": {
                "expansionFileType": {
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "type": "string",
                  "enumDescriptions": [
                    "Unspecified expansion file type.",
                    "Main expansion file.",
                    "Patch expansion file."
                  ],
                  "required": true,
                  "description": "The file type of the expansion file configuration which is being updated.",
                  "location": "path"
                },
                "apkVersionCode": {
                  "format": "int32",
                  "location": "path",
                  "type": "integer",
                  "required": true,
                  "description": "The version code of the APK whose expansion file configuration is being read or modified."
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "editId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Identifier of the edit."
                }
              },
              "response": {
                "$ref": "ExpansionFile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.edits.expansionfiles.patch",
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "httpMethod": "PATCH",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "request": {
                "$ref": "ExpansionFile"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "description": "Patches the APK's expansion file configuration to reference another APK's expansion file. To add a new expansion file use the Upload method."
            },
            "upload": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "supportsMediaUpload": true,
              "id": "androidpublisher.edits.expansionfiles.upload",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "mediaUpload": {
                "maxSize": "2147483648",
                "protocols": {
                  "resumable": {
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
                    "multipart": true
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}"
                  }
                },
                "accept": [
                  "application/octet-stream"
                ]
              },
              "response": {
                "$ref": "ExpansionFilesUploadResponse"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "httpMethod": "POST",
              "parameters": {
                "expansionFileType": {
                  "required": true,
                  "type": "string",
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "enumDescriptions": [
                    "Unspecified expansion file type.",
                    "Main expansion file.",
                    "Patch expansion file."
                  ],
                  "description": "The file type of the expansion file configuration which is being updated.",
                  "location": "path"
                },
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "required": true,
                  "location": "path"
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "apkVersionCode": {
                  "format": "int32",
                  "description": "The version code of the APK whose expansion file configuration is being read or modified.",
                  "location": "path",
                  "required": true,
                  "type": "integer"
                }
              },
              "description": "Uploads a new expansion file and attaches to the specified APK.",
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ]
            }
          }
        },
        "listings": {
          "methods": {
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "request": {
                "$ref": "Listing"
              },
              "httpMethod": "PATCH",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "id": "androidpublisher.edits.listings.patch",
              "description": "Patches a localized store listing.",
              "response": {
                "$ref": "Listing"
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "parameters": {
                "language": {
                  "type": "string",
                  "required": true,
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
                  "location": "path"
                },
                "editId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "description": "Package name of the app.",
                  "required": true
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}"
            },
            "update": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "httpMethod": "PUT",
              "response": {
                "$ref": "Listing"
              },
              "parameters": {
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true
                },
                "language": {
                  "required": true,
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
                  "location": "path",
                  "type": "string"
                },
                "editId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the edit."
                }
              },
              "id": "androidpublisher.edits.listings.update",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "request": {
                "$ref": "Listing"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "description": "Creates or updates a localized store listing.",
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ]
            },
            "list": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.edits.listings.list",
              "parameters": {
                "editId": {
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path"
                },
                "packageName": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Package name of the app."
                }
              },
              "description": "Lists all localized store listings.",
              "response": {
                "$ref": "ListingsListResponse"
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ]
            },
            "deleteall": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "parameters": {
                "packageName": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Package name of the app."
                },
                "editId": {
                  "required": true,
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Deletes all store listings.",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "id": "androidpublisher.edits.listings.deleteall",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "editId": {
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true
                },
                "language": {
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "DELETE",
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "id": "androidpublisher.edits.listings.delete",
              "description": "Deletes a localized store listing."
            },
            "get": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "response": {
                "$ref": "Listing"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "description": "Gets a localized store listing.",
              "id": "androidpublisher.edits.listings.get",
              "parameters": {
                "language": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German)."
                },
                "editId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "required": true,
                  "location": "path",
                  "description": "Package name of the app.",
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}"
            }
          }
        },
        "images": {
          "methods": {
            "list": {
              "parameters": {
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "Package name of the app.",
                  "required": true
                },
                "language": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German). There must be a store listing for the specified language."
                },
                "editId": {
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path"
                },
                "imageType": {
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "tvBanner"
                  ],
                  "location": "path",
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "TV banner."
                  ],
                  "required": true,
                  "description": "Type of the Image. Providing an image type that refers to no images will return an empty response.",
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ],
              "description": "Lists all images. The response may be empty.",
              "response": {
                "$ref": "ImagesListResponse"
              },
              "id": "androidpublisher.edits.images.list",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}"
            },
            "upload": {
              "id": "androidpublisher.edits.images.upload",
              "mediaUpload": {
                "protocols": {
                  "resumable": {
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
                    "multipart": true
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}"
                  }
                },
                "accept": [
                  "image/*"
                ],
                "maxSize": "15728640"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "parameters": {
                "imageType": {
                  "type": "string",
                  "location": "path",
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "tvBanner"
                  ],
                  "required": true,
                  "description": "Type of the Image.",
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "TV banner."
                  ]
                },
                "editId": {
                  "required": true,
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "location": "path"
                },
                "language": {
                  "type": "string",
                  "required": true,
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German). Providing a language that is not supported by the App is a no-op.",
                  "location": "path"
                },
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Package name of the app."
                }
              },
              "description": "Uploads an image of the specified language and image type, and adds to the edit.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ],
              "httpMethod": "POST",
              "supportsMediaUpload": true,
              "response": {
                "$ref": "ImagesUploadResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "delete": {
              "description": "Deletes the image (specified by id) from the edit.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}/{imageId}",
              "httpMethod": "DELETE",
              "parameters": {
                "imageId": {
                  "location": "path",
                  "required": true,
                  "description": "Unique identifier an image within the set of images attached to this edit.",
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "language": {
                  "required": true,
                  "type": "string",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
                  "location": "path"
                },
                "editId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the edit."
                },
                "imageType": {
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "TV banner."
                  ],
                  "location": "path",
                  "required": true,
                  "description": "Type of the Image.",
                  "type": "string",
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "tvBanner"
                  ]
                }
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType",
                "imageId"
              ],
              "id": "androidpublisher.edits.images.delete",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}/{imageId}"
            },
            "deleteall": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "editId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "language": {
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German). Providing a language that is not supported by the App is a no-op.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "imageType": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Type of the Image. Providing an image type that refers to no images is a no-op.",
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "TV banner."
                  ],
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "tvBanner"
                  ]
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "response": {
                "$ref": "ImagesDeleteAllResponse"
              },
              "id": "androidpublisher.edits.images.deleteall",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "description": "Deletes all images for the specified language and image type. Returns an empty response if no images are found."
            }
          }
        },
        "testers": {
          "methods": {
            "get": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "description": "Gets testers.",
              "parameters": {
                "track": {
                  "type": "string",
                  "location": "path",
                  "description": "The track to read from.",
                  "required": true
                },
                "editId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.edits.testers.get",
              "response": {
                "$ref": "Testers"
              },
              "httpMethod": "GET"
            },
            "update": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "editId": {
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the edit.",
                  "required": true
                },
                "track": {
                  "location": "path",
                  "required": true,
                  "description": "The track to update.",
                  "type": "string"
                },
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "Testers"
              },
              "description": "Updates testers.",
              "httpMethod": "PUT",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "request": {
                "$ref": "Testers"
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "id": "androidpublisher.edits.testers.update"
            },
            "patch": {
              "parameters": {
                "packageName": {
                  "location": "path",
                  "description": "Package name of the app.",
                  "required": true,
                  "type": "string"
                },
                "track": {
                  "description": "The track to update.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "editId": {
                  "required": true,
                  "location": "path",
                  "description": "Identifier of the edit.",
                  "type": "string"
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "description": "Patches testers.",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "Testers"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "httpMethod": "PATCH",
              "id": "androidpublisher.edits.testers.patch",
              "request": {
                "$ref": "Testers"
              }
            }
          }
        },
        "details": {
          "methods": {
            "patch": {
              "description": "Patches details of an app.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "id": "androidpublisher.edits.details.patch",
              "response": {
                "$ref": "AppDetails"
              },
              "request": {
                "$ref": "AppDetails"
              },
              "httpMethod": "PATCH",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "parameters": {
                "editId": {
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "required": true,
                  "location": "path"
                },
                "packageName": {
                  "location": "path",
                  "description": "Package name of the app.",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "update": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "request": {
                "$ref": "AppDetails"
              },
              "id": "androidpublisher.edits.details.update",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "response": {
                "$ref": "AppDetails"
              },
              "httpMethod": "PUT",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "description": "Updates details of an app.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "parameters": {
                "editId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "get": {
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "parameters": {
                "editId": {
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path"
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Package name of the app."
                }
              },
              "response": {
                "$ref": "AppDetails"
              },
              "id": "androidpublisher.edits.details.get",
              "description": "Gets details of an app.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            }
          }
        },
        "bundles": {
          "methods": {
            "list": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "id": "androidpublisher.edits.bundles.list",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "packageName": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Package name of the app."
                }
              },
              "response": {
                "$ref": "BundlesListResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "httpMethod": "GET",
              "description": "Lists all current Android App Bundles of the app and edit."
            },
            "upload": {
              "description": "Uploads a new Android App Bundle to this edit. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "response": {
                "$ref": "Bundle"
              },
              "httpMethod": "POST",
              "parameters": {
                "ackBundleInstallationWarning": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Must be set to true if the bundle installation may trigger a warning on user devices (for example, if installation size may be over a threshold, typically 100 MB)."
                },
                "editId": {
                  "required": true,
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "location": "path"
                },
                "packageName": {
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path"
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.edits.bundles.upload",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "mediaUpload": {
                "protocols": {
                  "resumable": {
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
                    "multipart": true
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles"
                  }
                },
                "accept": [
                  "application/octet-stream"
                ],
                "maxSize": "10737418240"
              },
              "supportsMediaUpload": true
            }
          }
        },
        "apks": {
          "methods": {
            "upload": {
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "description": "Uploads an APK and adds to the current edit.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "parameters": {
                "editId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "id": "androidpublisher.edits.apks.upload",
              "mediaUpload": {
                "accept": [
                  "application/octet-stream",
                  "application/vnd.android.package-archive"
                ],
                "maxSize": "10737418240",
                "protocols": {
                  "resumable": {
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
                    "multipart": true
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks"
                  }
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "Apk"
              },
              "httpMethod": "POST",
              "supportsMediaUpload": true
            },
            "addexternallyhosted": {
              "parameters": {
                "editId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Package name of the app."
                }
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/externallyHosted",
              "description": "Creates a new APK without uploading the APK itself to Google Play, instead hosting the APK at a specified URL. This function is only available to organizations using Managed Play whose application is configured to restrict distribution to the organizations.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/externallyHosted",
              "request": {
                "$ref": "ApksAddExternallyHostedRequest"
              },
              "response": {
                "$ref": "ApksAddExternallyHostedResponse"
              },
              "httpMethod": "POST",
              "id": "androidpublisher.edits.apks.addexternallyhosted"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.edits.apks.list",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "httpMethod": "GET",
              "description": "Lists all current APKs of the app and edit.",
              "response": {
                "$ref": "ApksListResponse"
              },
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app."
                }
              }
            }
          }
        }
      },
      "methods": {
        "insert": {
          "path": "androidpublisher/v3/applications/{packageName}/edits",
          "parameters": {
            "packageName": {
              "location": "path",
              "required": true,
              "description": "Package name of the app.",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "AppEdit"
          },
          "response": {
            "$ref": "AppEdit"
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits",
          "parameterOrder": [
            "packageName"
          ],
          "id": "androidpublisher.edits.insert",
          "description": "Creates a new edit for an app.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "get": {
          "id": "androidpublisher.edits.get",
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "response": {
            "$ref": "AppEdit"
          },
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "parameters": {
            "packageName": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Package name of the app."
            },
            "editId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Identifier of the edit."
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Gets an app edit."
        },
        "validate": {
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "id": "androidpublisher.edits.validate",
          "parameters": {
            "packageName": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Package name of the app."
            },
            "editId": {
              "type": "string",
              "required": true,
              "description": "Identifier of the edit.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Validates an app edit.",
          "response": {
            "$ref": "AppEdit"
          },
          "httpMethod": "POST",
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}:validate",
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}:validate"
        },
        "commit": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "editId": {
              "type": "string",
              "description": "Identifier of the edit.",
              "required": true,
              "location": "path"
            },
            "packageName": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Package name of the app."
            }
          },
          "id": "androidpublisher.edits.commit",
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}:commit",
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}:commit",
          "httpMethod": "POST",
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "description": "Commits an app edit.",
          "response": {
            "$ref": "AppEdit"
          }
        },
        "delete": {
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "description": "Deletes an app edit.",
          "id": "androidpublisher.edits.delete",
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "packageName": {
              "required": true,
              "type": "string",
              "description": "Package name of the app.",
              "location": "path"
            },
            "editId": {
              "description": "Identifier of the edit.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          }
        }
      }
    },
    "inappproducts": {
      "methods": {
        "insert": {
          "response": {
            "$ref": "InAppProduct"
          },
          "parameterOrder": [
            "packageName"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "request": {
            "$ref": "InAppProduct"
          },
          "description": "Creates an in-app product (i.e. a managed product or a subscriptions).",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "httpMethod": "POST",
          "id": "androidpublisher.inappproducts.insert",
          "parameters": {
            "autoConvertMissingPrices": {
              "type": "boolean",
              "location": "query",
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false."
            },
            "packageName": {
              "required": true,
              "description": "Package name of the app.",
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "update": {
          "response": {
            "$ref": "InAppProduct"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "request": {
            "$ref": "InAppProduct"
          },
          "parameters": {
            "sku": {
              "type": "string",
              "description": "Unique identifier for the in-app product.",
              "location": "path",
              "required": true
            },
            "autoConvertMissingPrices": {
              "location": "query",
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
              "type": "boolean"
            },
            "packageName": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Package name of the app."
            }
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "id": "androidpublisher.inappproducts.update",
          "description": "Updates an in-app product (i.e. a managed product or a subscriptions).",
          "httpMethod": "PUT",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}"
        },
        "get": {
          "id": "androidpublisher.inappproducts.get",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "response": {
            "$ref": "InAppProduct"
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "description": "Gets an in-app product, which can be a managed product or a subscription.",
          "httpMethod": "GET",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "sku": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Unique identifier for the in-app product."
            },
            "packageName": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Package name of the app."
            }
          }
        },
        "patch": {
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "InAppProduct"
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "autoConvertMissingPrices": {
              "type": "boolean",
              "location": "query",
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false."
            },
            "sku": {
              "required": true,
              "location": "path",
              "description": "Unique identifier for the in-app product.",
              "type": "string"
            }
          },
          "id": "androidpublisher.inappproducts.patch",
          "description": "Patches an in-app product (i.e. a managed product or a subscriptions).",
          "request": {
            "$ref": "InAppProduct"
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}"
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "InappproductsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "parameterOrder": [
            "packageName"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "parameters": {
            "token": {
              "description": "Pagination token. If empty, list starts at the first product.",
              "location": "query",
              "type": "string"
            },
            "packageName": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Package name of the app."
            },
            "startIndex": {
              "type": "integer",
              "location": "query",
              "format": "uint32",
              "description": "The index of the first element to return."
            },
            "maxResults": {
              "description": "How many results the list operation should return.",
              "location": "query",
              "format": "uint32",
              "type": "integer"
            }
          },
          "id": "androidpublisher.inappproducts.list",
          "description": "Lists all in-app products - both managed products and subscriptions."
        },
        "delete": {
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "parameters": {
            "sku": {
              "description": "Unique identifier for the in-app product.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "packageName": {
              "description": "Package name of the app.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "httpMethod": "DELETE",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.inappproducts.delete",
          "description": "Deletes an in-app product (i.e. a managed product or a subscriptions)."
        }
      }
    },
    "purchases": {
      "resources": {
        "products": {
          "methods": {
            "acknowledge": {
              "request": {
                "$ref": "ProductPurchasesAcknowledgeRequest"
              },
              "description": "Acknowledges a purchase of an inapp item.",
              "parameters": {
                "productId": {
                  "location": "path",
                  "type": "string",
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1').",
                  "required": true
                },
                "packageName": {
                  "type": "string",
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
                  "location": "path",
                  "required": true
                },
                "token": {
                  "required": true,
                  "description": "The token provided to the user's device when the inapp product was purchased.",
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:acknowledge",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "POST",
              "id": "androidpublisher.purchases.products.acknowledge",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:acknowledge",
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}",
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ],
              "parameters": {
                "packageName": {
                  "required": true,
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
                  "location": "path",
                  "type": "string"
                },
                "productId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1')."
                },
                "token": {
                  "required": true,
                  "description": "The token provided to the user's device when the inapp product was purchased.",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "androidpublisher.purchases.products.get",
              "response": {
                "$ref": "ProductPurchase"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Checks the purchase and consumption status of an inapp item."
            }
          }
        },
        "subscriptions": {
          "methods": {
            "revoke": {
              "httpMethod": "POST",
              "parameters": {
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing')."
                },
                "subscriptionId": {
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "token": {
                  "type": "string",
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:revoke",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:revoke",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "description": "Refunds and immediately revokes a user's subscription purchase. Access to the subscription will be terminated immediately and it will stop recurring.",
              "id": "androidpublisher.purchases.subscriptions.revoke",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "cancel": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/tokens/{token}:cancel",
              "parameterOrder": [
                "packageName",
                "token"
              ],
              "description": "Cancels a user's subscription purchase. The subscription remains valid until its expiration time.",
              "httpMethod": "POST",
              "id": "androidpublisher.purchases.subscriptions.cancel",
              "parameters": {
                "packageName": {
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "token": {
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/tokens/{token}:cancel",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "defer": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer",
              "response": {
                "$ref": "SubscriptionPurchasesDeferResponse"
              },
              "parameters": {
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "required": true
                },
                "token": {
                  "type": "string",
                  "location": "path",
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "required": true
                },
                "subscriptionId": {
                  "type": "string",
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "required": true,
                  "location": "path"
                }
              },
              "request": {
                "$ref": "SubscriptionPurchasesDeferRequest"
              },
              "id": "androidpublisher.purchases.subscriptions.defer",
              "description": "Defers a user's subscription purchase until a specified future expiration time.",
              "httpMethod": "POST",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "acknowledge": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Acknowledges a subscription purchase.",
              "id": "androidpublisher.purchases.subscriptions.acknowledge",
              "request": {
                "$ref": "SubscriptionPurchasesAcknowledgeRequest"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:acknowledge",
              "httpMethod": "POST",
              "parameters": {
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing')."
                },
                "token": {
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "subscriptionId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The purchased subscription ID (for example, 'monthly001')."
                }
              },
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:acknowledge"
            },
            "refund": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:refund",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "description": "Refunds a user's subscription purchase, but the subscription remains valid until its expiration time and it will continue to recur.",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:refund",
              "parameters": {
                "subscriptionId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "\"The purchased subscription ID (for example, 'monthly001')."
                },
                "token": {
                  "type": "string",
                  "required": true,
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "location": "path"
                },
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing')."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.purchases.subscriptions.refund",
              "httpMethod": "POST"
            },
            "get": {
              "description": "Checks whether a user's subscription purchase is valid and returns its expiry time.",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}",
              "httpMethod": "GET",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}",
              "response": {
                "$ref": "SubscriptionPurchase"
              },
              "parameters": {
                "token": {
                  "required": true,
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "type": "string",
                  "location": "path"
                },
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "required": true
                },
                "subscriptionId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The purchased subscription ID (for example, 'monthly001')."
                }
              },
              "id": "androidpublisher.purchases.subscriptions.get",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            }
          }
        },
        "voidedpurchases": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/purchases/voidedpurchases",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/voidedpurchases",
              "id": "androidpublisher.purchases.voidedpurchases.list",
              "parameters": {
                "endTime": {
                  "description": "The time, in milliseconds since the Epoch, of the newest voided purchase that you want to see in the response. The value of this parameter cannot be greater than the current time and is ignored if a pagination token is set. Default value is current time. Note: This filter is applied on the time at which the record is seen as voided by our systems and not the actual voided time returned in the response.",
                  "format": "int64",
                  "type": "string",
                  "location": "query"
                },
                "packageName": {
                  "description": "The package name of the application for which voided purchases need to be returned (for example, 'com.some.thing').",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "token": {
                  "description": "Defines the token of the page to return, usually taken from TokenPagination. This can only be used if token paging is enabled.",
                  "location": "query",
                  "type": "string"
                },
                "maxResults": {
                  "type": "integer",
                  "description": "Defines how many results the list operation should return. The default number depends on the resource collection.",
                  "location": "query",
                  "format": "uint32"
                },
                "type": {
                  "format": "int32",
                  "description": "The type of voided purchases that you want to see in the response. Possible values are: 0. Only voided in-app product purchases will be returned in the response. This is the default value. 1. Both voided in-app purchases and voided subscription purchases will be returned in the response. Note: Before requesting to receive voided subscription purchases, you must switch to use orderId in the response which uniquely identifies one-time purchases and subscriptions. Otherwise, you will receive multiple subscription orders with the same PurchaseToken, because subscription renewal orders share the same PurchaseToken.",
                  "location": "query",
                  "type": "integer"
                },
                "startIndex": {
                  "location": "query",
                  "format": "uint32",
                  "type": "integer",
                  "description": "Defines the index of the first element to return. This can only be used if indexed paging is enabled."
                },
                "startTime": {
                  "format": "int64",
                  "location": "query",
                  "type": "string",
                  "description": "The time, in milliseconds since the Epoch, of the oldest voided purchase that you want to see in the response. The value of this parameter cannot be older than 30 days and is ignored if a pagination token is set. Default value is current time minus 30 days. Note: This filter is applied on the time at which the record is seen as voided by our systems and not the actual voided time returned in the response."
                }
              },
              "description": "Lists the purchases that were canceled, refunded or charged-back.",
              "response": {
                "$ref": "VoidedPurchasesListResponse"
              },
              "parameterOrder": [
                "packageName"
              ],
              "httpMethod": "GET"
            }
          }
        }
      }
    },
    "internalappsharingartifacts": {
      "methods": {
        "uploadapk": {
          "flatPath": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
          "httpMethod": "POST",
          "supportsMediaUpload": true,
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "packageName"
          ],
          "mediaUpload": {
            "maxSize": "1073741824",
            "accept": [
              "application/octet-stream",
              "application/vnd.android.package-archive"
            ],
            "protocols": {
              "simple": {
                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
                "multipart": true
              },
              "resumable": {
                "path": "/resumable/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
                "multipart": true
              }
            }
          },
          "response": {
            "$ref": "InternalAppSharingArtifact"
          },
          "path": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
          "parameters": {
            "packageName": {
              "required": true,
              "type": "string",
              "description": "Package name of the app.",
              "location": "path"
            }
          },
          "description": "Uploads an APK to internal app sharing. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java.",
          "id": "androidpublisher.internalappsharingartifacts.uploadapk"
        },
        "uploadbundle": {
          "flatPath": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
          "parameters": {
            "packageName": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Package name of the app."
            }
          },
          "description": "Uploads an app bundle to internal app sharing. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "InternalAppSharingArtifact"
          },
          "parameterOrder": [
            "packageName"
          ],
          "path": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
          "httpMethod": "POST",
          "supportsMediaUpload": true,
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle"
              },
              "resumable": {
                "path": "/resumable/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
                "multipart": true
              }
            },
            "maxSize": "10737418240",
            "accept": [
              "application/octet-stream"
            ]
          },
          "id": "androidpublisher.internalappsharingartifacts.uploadbundle"
        }
      }
    },
    "systemapks": {
      "resources": {
        "variants": {
          "methods": {
            "list": {
              "parameters": {
                "versionCode": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "format": "int64",
                  "description": "The version code of the App Bundle."
                },
                "packageName": {
                  "location": "path",
                  "description": "Unique identifier of the Android app.",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "SystemApksListResponse"
              },
              "id": "androidpublisher.systemapks.variants.list",
              "description": "Returns the list of previously created system APK variants.",
              "parameterOrder": [
                "packageName",
                "versionCode"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants"
            },
            "download": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "supportsMediaDownload": true,
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}:download",
              "useMediaDownloadService": true,
              "parameterOrder": [
                "packageName",
                "versionCode",
                "variantId"
              ],
              "httpMethod": "GET",
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}:download",
              "parameters": {
                "packageName": {
                  "required": true,
                  "description": "Unique identifier of the Android app.",
                  "type": "string",
                  "location": "path"
                },
                "variantId": {
                  "description": "The ID of a previously created system APK variant.",
                  "format": "uint32",
                  "location": "path",
                  "type": "integer",
                  "required": true
                },
                "versionCode": {
                  "format": "int64",
                  "location": "path",
                  "required": true,
                  "description": "The version code of the App Bundle.",
                  "type": "string"
                }
              },
              "description": "Downloads a previously created system APK which is suitable for inclusion in a system image.",
              "id": "androidpublisher.systemapks.variants.download"
            },
            "create": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "id": "androidpublisher.systemapks.variants.create",
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "request": {
                "$ref": "Variant"
              },
              "parameters": {
                "versionCode": {
                  "required": true,
                  "format": "int64",
                  "location": "path",
                  "type": "string",
                  "description": "The version code of the App Bundle."
                },
                "packageName": {
                  "required": true,
                  "description": "Unique identifier of the Android app.",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "Variant"
              },
              "description": "Creates an APK which is suitable for inclusion in a system image from an already uploaded Android App Bundle.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "versionCode"
              ]
            },
            "get": {
              "parameterOrder": [
                "packageName",
                "versionCode",
                "variantId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}",
              "response": {
                "$ref": "Variant"
              },
              "description": "Returns a previously created system APK variant.",
              "httpMethod": "GET",
              "parameters": {
                "variantId": {
                  "description": "The ID of a previously created system APK variant.",
                  "format": "uint32",
                  "type": "integer",
                  "required": true,
                  "location": "path"
                },
                "versionCode": {
                  "description": "The version code of the App Bundle.",
                  "format": "int64",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "packageName": {
                  "type": "string",
                  "required": true,
                  "description": "Unique identifier of the Android app.",
                  "location": "path"
                }
              },
              "id": "androidpublisher.systemapks.variants.get",
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}"
            }
          }
        }
      }
    },
    "orders": {
      "methods": {
        "refund": {
          "httpMethod": "POST",
          "parameters": {
            "orderId": {
              "type": "string",
              "location": "path",
              "description": "The order ID provided to the user when the subscription or in-app order was purchased.",
              "required": true
            },
            "revoke": {
              "description": "Whether to revoke the purchased item. If set to true, access to the subscription or in-app item will be terminated immediately. If the item is a recurring subscription, all future payments will also be terminated. Consumed in-app items need to be handled by developer's app. (optional).",
              "location": "query",
              "type": "boolean"
            },
            "packageName": {
              "description": "The package name of the application for which this subscription or in-app item was purchased (for example, 'com.some.thing').",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:refund",
          "description": "Refund a user's subscription or in-app purchase order.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.orders.refund",
          "parameterOrder": [
            "packageName",
            "orderId"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:refund"
        }
      }
    },
    "reviews": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.reviews.get",
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}",
          "description": "Gets a single review.",
          "response": {
            "$ref": "Review"
          },
          "parameters": {
            "translationLanguage": {
              "description": "Language localization code.",
              "location": "query",
              "type": "string"
            },
            "reviewId": {
              "description": "Unique identifier for a review.",
              "location": "path",
              "required": true,
[...]
