{
  "revision": "20230815",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/android-publisher",
  "kind": "discovery#restDescription",
  "canonicalName": "Android Publisher",
  "rootUrl": "https://androidpublisher.googleapis.com/",
  "name": "androidpublisher",
  "description": "Lets Android application developers access their Google Play accounts. At a high level, the expected workflow is to \"insert\" an Edit, make changes as necessary, and then \"commit\" it. ",
  "discoveryVersion": "v1",
  "title": "Google Play Android Developer API",
  "servicePath": "",
  "baseUrl": "https://androidpublisher.googleapis.com/",
  "parameters": {
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    }
  },
  "ownerName": "Google",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "DeviceSpec": {
      "type": "object",
      "description": "The device spec used to generate a system APK.",
      "id": "DeviceSpec",
      "properties": {
        "supportedLocales": {
          "description": "All installed locales represented as BCP-47 strings, e.g. \"en-US\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "supportedAbis": {
          "items": {
            "type": "string"
          },
          "description": "Supported ABI architectures in the order of preference. The values should be the string as reported by the platform, e.g. \"armeabi-v7a\", \"x86_64\".",
          "type": "array"
        },
        "screenDensity": {
          "format": "uint32",
          "type": "integer",
          "description": "Screen dpi."
        }
      }
    },
    "ExternalSubscription": {
      "type": "object",
      "id": "ExternalSubscription",
      "description": "Details of an external subscription.",
      "properties": {
        "subscriptionType": {
          "type": "string",
          "enum": [
            "SUBSCRIPTION_TYPE_UNSPECIFIED",
            "RECURRING",
            "PREPAID"
          ],
          "enumDescriptions": [
            "Unspecified, do not use.",
            "This is a recurring subscription where the user is charged every billing cycle.",
            "This is a prepaid subscription where the user pays up front."
          ],
          "description": "Required. The type of the external subscription."
        }
      }
    },
    "ApksListResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of this response (\"androidpublisher#apksListResponse\")."
        },
        "apks": {
          "type": "array",
          "items": {
            "$ref": "Apk"
          },
          "description": "All APKs."
        }
      },
      "type": "object",
      "id": "ApksListResponse",
      "description": "Response listing all APKs."
    },
    "RegionalSubscriptionOfferConfig": {
      "properties": {
        "regionCode": {
          "description": "Required. Immutable. Region code this configuration applies to, as defined by ISO 3166-2, e.g. \"US\".",
          "type": "string"
        },
        "newSubscriberAvailability": {
          "type": "boolean",
          "description": "Whether the subscription offer in the specified region is available for new subscribers. Existing subscribers will not have their subscription cancelled if this value is set to false. If not specified, this will default to false."
        }
      },
      "type": "object",
      "description": "Configuration for a subscription offer in a single region.",
      "id": "RegionalSubscriptionOfferConfig"
    },
    "SubscriptionOfferTargeting": {
      "type": "object",
      "id": "SubscriptionOfferTargeting",
      "description": "Defines the rule a user needs to satisfy to receive this offer.",
      "properties": {
        "upgradeRule": {
          "description": "Offer targeting rule for upgrading users' existing plans.",
          "$ref": "UpgradeTargetingRule"
        },
        "acquisitionRule": {
          "$ref": "AcquisitionTargetingRule",
          "description": "Offer targeting rule for new user acquisition."
        }
      }
    },
    "SubscriptionPurchaseLineItem": {
      "id": "SubscriptionPurchaseLineItem",
      "properties": {
        "offerDetails": {
          "description": "The offer details for this item.",
          "$ref": "OfferDetails"
        },
        "expiryTime": {
          "format": "google-datetime",
          "description": "Time at which the subscription expired or will expire unless the access is extended (ex. renews).",
          "type": "string"
        },
        "deferredItemReplacement": {
          "$ref": "DeferredItemReplacement",
          "description": "Information for deferred item replacement."
        },
        "prepaidPlan": {
          "description": "The item is prepaid.",
          "$ref": "PrepaidPlan"
        },
        "productId": {
          "type": "string",
          "description": "The purchased product ID (for example, 'monthly001')."
        },
        "autoRenewingPlan": {
          "description": "The item is auto renewing.",
          "$ref": "AutoRenewingPlan"
        }
      },
      "type": "object",
      "description": "Item-level info for a subscription purchase."
    },
    "DeviceMetadata": {
      "description": "Characteristics of the user's device.",
      "type": "object",
      "id": "DeviceMetadata",
      "properties": {
        "screenWidthPx": {
          "format": "int32",
          "description": "Screen width in pixels",
          "type": "integer"
        },
        "manufacturer": {
          "description": "Device manufacturer (e.g. Motorola)",
          "type": "string"
        },
        "glEsVersion": {
          "description": "OpenGL version",
          "format": "int32",
          "type": "integer"
        },
        "screenHeightPx": {
          "description": "Screen height in pixels",
          "type": "integer",
          "format": "int32"
        },
        "cpuModel": {
          "description": "Device CPU model, e.g. \"MSM8974\"",
          "type": "string"
        },
        "nativePlatform": {
          "description": "Comma separated list of native platforms (e.g. \"arm\", \"arm7\")",
          "type": "string"
        },
        "productName": {
          "description": "Device model name (e.g. Droid)",
          "type": "string"
        },
        "screenDensityDpi": {
          "format": "int32",
          "description": "Screen density in DPI",
          "type": "integer"
        },
        "cpuMake": {
          "type": "string",
          "description": "Device CPU make, e.g. \"Qualcomm\""
        },
        "deviceClass": {
          "description": "Device class (e.g. tablet)",
          "type": "string"
        },
        "ramMb": {
          "format": "int32",
          "type": "integer",
          "description": "Device RAM in Megabytes, e.g. \"2048\""
        }
      }
    },
    "BasePlan": {
      "type": "object",
      "properties": {
        "otherRegionsConfig": {
          "description": "Pricing information for any new locations Play may launch in the future. If omitted, the BasePlan will not be automatically available any new locations Play may launch in the future.",
          "$ref": "OtherRegionsBasePlanConfig"
        },
        "regionalConfigs": {
          "type": "array",
          "items": {
            "$ref": "RegionalBasePlanConfig"
          },
          "description": "Region-specific information for this base plan."
        },
        "prepaidBasePlanType": {
          "description": "Set when the base plan does not automatically renew at the end of the billing period.",
          "$ref": "PrepaidBasePlanType"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The state of the base plan, i.e. whether it's active. Draft and inactive base plans can be activated or deleted. Active base plans can be made inactive. Inactive base plans can be canceled. This field cannot be changed by updating the resource. Use the dedicated endpoints instead.",
          "enumDescriptions": [
            "Unspecified state.",
            "The base plan is currently in a draft state, and hasn't been activated. It can be safely deleted at this point.",
            "The base plan is active and available for new subscribers.",
            "The base plan is inactive and only available for existing subscribers."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "offerTags": {
          "type": "array",
          "description": "List of up to 20 custom tags specified for this base plan, and returned to the app through the billing library. Subscription offers for this base plan will also receive these offer tags in the billing library.",
          "items": {
            "$ref": "OfferTag"
          }
        },
        "basePlanId": {
          "description": "Required. Immutable. The unique identifier of this base plan. Must be unique within the subscription, and conform with RFC-1034. That is, this ID can only contain lower-case letters (a-z), numbers (0-9), and hyphens (-), and be at most 63 characters.",
          "type": "string"
        },
        "autoRenewingBasePlanType": {
          "description": "Set when the base plan automatically renews at a regular interval.",
          "$ref": "AutoRenewingBasePlanType"
        }
      },
      "id": "BasePlan",
      "description": "A single base plan for a subscription."
    },
    "ConvertRegionPricesRequest": {
      "id": "ConvertRegionPricesRequest",
      "type": "object",
      "description": "Request message for ConvertRegionPrices.",
      "properties": {
        "price": {
          "$ref": "Money",
          "description": "The intital price to convert other regions from. Tax exclusive."
        }
      }
    },
    "ScreenDensity": {
      "type": "object",
      "description": "Represents a screen density.",
      "properties": {
        "densityDpi": {
          "type": "integer",
          "format": "int32",
          "description": "Value for density dpi."
        },
        "densityAlias": {
          "enum": [
            "DENSITY_UNSPECIFIED",
            "NODPI",
            "LDPI",
            "MDPI",
            "TVDPI",
            "HDPI",
            "XHDPI",
            "XXHDPI",
            "XXXHDPI"
          ],
          "description": "Alias for a screen density.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified screen density.",
            "NODPI screen density.",
            "LDPI screen density.",
            "MDPI screen density.",
            "TVDPI screen density.",
            "HDPI screen density.",
            "XHDPI screen density.",
            "XXHDPI screen density.",
            "XXXHDPI screen density."
          ]
        }
      },
      "id": "ScreenDensity"
    },
    "VoidedPurchase": {
      "type": "object",
      "description": "A VoidedPurchase resource indicates a purchase that was either canceled/refunded/charged-back.",
      "id": "VoidedPurchase",
      "properties": {
        "voidedSource": {
          "format": "int32",
          "description": "The initiator of voided purchase, possible values are: 0. User 1. Developer 2. Google",
          "type": "integer"
        },
        "kind": {
          "description": "This kind represents a voided purchase object in the androidpublisher service.",
          "type": "string"
        },
        "voidedTimeMillis": {
          "type": "string",
          "format": "int64",
          "description": "The time at which the purchase was canceled/refunded/charged-back, in milliseconds since the epoch (Jan 1, 1970)."
        },
        "voidedReason": {
          "type": "integer",
          "description": "The reason why the purchase was voided, possible values are: 0. Other 1. Remorse 2. Not_received 3. Defective 4. Accidental_purchase 5. Fraud 6. Friendly_fraud 7. Chargeback",
          "format": "int32"
        },
        "purchaseTimeMillis": {
          "format": "int64",
          "type": "string",
          "description": "The time at which the purchase was made, in milliseconds since the epoch (Jan 1, 1970)."
        },
        "orderId": {
          "description": "The order id which uniquely identifies a one-time purchase, subscription purchase, or subscription renewal.",
          "type": "string"
        },
        "purchaseToken": {
          "description": "The token which uniquely identifies a one-time purchase or subscription. To uniquely identify subscription renewals use order_id (available starting from version 3 of the API).",
          "type": "string"
        }
      }
    },
    "ReviewsReplyResponse": {
      "description": "Response on status of replying to a review.",
      "type": "object",
      "id": "ReviewsReplyResponse",
      "properties": {
        "result": {
          "$ref": "ReviewReplyResult",
          "description": "The result of replying/updating a reply to review."
        }
      }
    },
    "DeobfuscationFile": {
      "id": "DeobfuscationFile",
      "properties": {
        "symbolType": {
          "description": "The type of the deobfuscation file.",
          "enum": [
            "deobfuscationFileTypeUnspecified",
            "proguard",
            "nativeCode"
          ],
          "enumDescriptions": [
            "Unspecified deobfuscation file type.",
            "Proguard deobfuscation file type.",
            "Native debugging symbols file type."
          ],
          "type": "string"
        }
      },
      "description": "Represents a deobfuscation file.",
      "type": "object"
    },
    "SubscribeWithGoogleInfo": {
      "type": "object",
      "id": "SubscribeWithGoogleInfo",
      "description": "Information associated with purchases made with 'Subscribe with Google'.",
      "properties": {
        "profileName": {
          "type": "string",
          "description": "The profile name of the user when the subscription was purchased."
        },
        "familyName": {
          "description": "The family name of the user when the subscription was purchased.",
          "type": "string"
        },
        "profileId": {
          "description": "The Google profile id of the user when the subscription was purchased.",
          "type": "string"
        },
        "emailAddress": {
          "description": "The email address of the user when the subscription was purchased.",
          "type": "string"
        },
        "givenName": {
          "description": "The given name of the user when the subscription was purchased.",
          "type": "string"
        }
      }
    },
    "SystemFeature": {
      "description": "Representation of a system feature.",
      "properties": {
        "name": {
          "description": "The name of the feature.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SystemFeature"
    },
    "Image": {
      "type": "object",
      "description": "An uploaded image. The resource for ImagesService.",
      "id": "Image",
      "properties": {
        "sha256": {
          "type": "string",
          "description": "A sha256 hash of the image."
        },
        "id": {
          "description": "A unique id representing this image.",
          "type": "string"
        },
        "url": {
          "description": "A URL that will serve a preview of the image.",
          "type": "string"
        },
        "sha1": {
          "description": "A sha1 hash of the image.",
          "type": "string"
        }
      }
    },
    "UserCountrySet": {
      "id": "UserCountrySet",
      "properties": {
        "name": {
          "type": "string",
          "description": "Country set name."
        },
        "countryCodes": {
          "type": "array",
          "description": "List of country codes representing countries. A Country code is represented in ISO 3166 alpha-2 format. For Example:- \"IT\" for Italy, \"GE\" for Georgia.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A set of user countries. A country set determines what variation of app content gets served to a specific location.",
      "type": "object"
    },
    "ManagedProductTaxAndComplianceSettings": {
      "properties": {
        "eeaWithdrawalRightType": {
          "type": "string",
          "description": "Digital content or service classification for products distributed to users in the European Economic Area (EEA). The withdrawal regime under EEA consumer laws depends on this classification. Refer to the [Help Center article](https://support.google.com/googleplay/android-developer/answer/10463498) for more information.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "WITHDRAWAL_RIGHT_TYPE_UNSPECIFIED",
            "WITHDRAWAL_RIGHT_DIGITAL_CONTENT",
            "WITHDRAWAL_RIGHT_SERVICE"
          ]
        },
        "taxRateInfoByRegionCode": {
          "description": "A mapping from region code to tax rate details. The keys are region codes as defined by Unicode's \"CLDR\".",
          "type": "object",
          "additionalProperties": {
            "$ref": "RegionalTaxRateInfo"
          }
        },
        "isTokenizedDigitalAsset": {
          "description": "Whether this in-app product is declared as a product representing a tokenized digital asset.",
          "type": "boolean"
        }
      },
      "description": "Details about taxation and legal compliance for managed products.",
      "type": "object",
      "id": "ManagedProductTaxAndComplianceSettings"
    },
    "DeveloperComment": {
      "id": "DeveloperComment",
      "description": "Developer entry from conversation between user and developer.",
      "type": "object",
      "properties": {
        "text": {
          "description": "The content of the comment, i.e. reply body.",
          "type": "string"
        },
        "lastModified": {
          "description": "The last time at which this comment was updated.",
          "$ref": "Timestamp"
        }
      }
    },
    "SubscriptionTaxAndComplianceSettings": {
      "description": "Details about taxation, Google Play policy and legal compliance for subscription products.",
      "type": "object",
      "id": "SubscriptionTaxAndComplianceSettings",
      "properties": {
        "taxRateInfoByRegionCode": {
          "description": "A mapping from region code to tax rate details. The keys are region codes as defined by Unicode's \"CLDR\".",
          "additionalProperties": {
            "$ref": "RegionalTaxRateInfo"
          },
          "type": "object"
        },
        "isTokenizedDigitalAsset": {
          "description": "Whether this subscription is declared as a product representing a tokenized digital asset.",
          "type": "boolean"
        },
        "eeaWithdrawalRightType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Digital content or service classification for products distributed to users in the European Economic Area (EEA). The withdrawal regime under EEA consumer laws depends on this classification. Refer to the [Help Center article](https://support.google.com/googleplay/android-developer/answer/10463498) for more information.",
          "enum": [
            "WITHDRAWAL_RIGHT_TYPE_UNSPECIFIED",
            "WITHDRAWAL_RIGHT_DIGITAL_CONTENT",
            "WITHDRAWAL_RIGHT_SERVICE"
          ],
          "type": "string"
        }
      }
    },
    "ApkTargeting": {
      "id": "ApkTargeting",
      "properties": {
        "textureCompressionFormatTargeting": {
          "description": "Texture-compression-format-level targeting",
          "$ref": "TextureCompressionFormatTargeting"
        },
        "multiAbiTargeting": {
          "description": "Multi-api-level targeting.",
          "$ref": "MultiAbiTargeting"
        },
        "abiTargeting": {
          "description": "The abi that the apk targets",
          "$ref": "AbiTargeting"
        },
        "languageTargeting": {
          "$ref": "LanguageTargeting",
          "description": "The language that the apk targets"
        },
        "screenDensityTargeting": {
          "description": "The screen density that this apk supports.",
          "$ref": "ScreenDensityTargeting"
        },
        "sdkVersionTargeting": {
          "$ref": "SdkVersionTargeting",
          "description": "The sdk version that the apk targets"
        }
      },
      "type": "object",
      "description": "Represents a set of apk-level targetings."
    },
    "OfferTag": {
      "type": "object",
      "properties": {
        "tag": {
          "description": "Must conform with RFC-1034. That is, this string can only contain lower-case letters (a-z), numbers (0-9), and hyphens (-), and be at most 20 characters.",
          "type": "string"
        }
      },
      "description": "Represents a custom tag specified for base plans and subscription offers.",
      "id": "OfferTag"
    },
    "UserComment": {
      "description": "User entry from conversation between user and developer.",
      "type": "object",
      "id": "UserComment",
      "properties": {
        "appVersionName": {
          "description": "String version name of the app as installed at the time the review was written. May be absent.",
          "type": "string"
        },
        "text": {
          "description": "The content of the comment, i.e. review body. In some cases users have been able to write a review with separate title and body; in those cases the title and body are concatenated and separated by a tab character.",
          "type": "string"
        },
        "starRating": {
          "type": "integer",
          "format": "int32",
          "description": "The star rating associated with the review, from 1 to 5."
        },
        "deviceMetadata": {
          "$ref": "DeviceMetadata",
          "description": "Information about the characteristics of the user's device."
        },
        "thumbsUpCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of users who have given this review a thumbs up."
        },
        "reviewerLanguage": {
          "description": "Language code for the reviewer. This is taken from the device settings so is not guaranteed to match the language the review is written in. May be absent.",
          "type": "string"
        },
        "androidOsVersion": {
          "format": "int32",
          "type": "integer",
          "description": "Integer Android SDK version of the user's device at the time the review was written, e.g. 23 is Marshmallow. May be absent."
        },
        "lastModified": {
          "$ref": "Timestamp",
          "description": "The last time at which this comment was updated."
        },
        "device": {
          "type": "string",
          "description": "Codename for the reviewer's device, e.g. klte, flounder. May be absent."
        },
        "thumbsDownCount": {
          "type": "integer",
          "description": "Number of users who have given this review a thumbs down.",
          "format": "int32"
        },
        "appVersionCode": {
          "format": "int32",
          "description": "Integer version code of the app as installed at the time the review was written. May be absent.",
          "type": "integer"
        },
        "originalText": {
          "description": "Untranslated text of the review, where the review was translated. If the review was not translated this is left blank.",
          "type": "string"
        }
      }
    },
    "ConvertedRegionPrice": {
      "type": "object",
      "id": "ConvertedRegionPrice",
      "description": "A converted region price.",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "The region code of the region."
        },
        "taxAmount": {
          "description": "The tax amount of the converted price.",
          "$ref": "Money"
        },
        "price": {
          "description": "The converted price tax inclusive.",
          "$ref": "Money"
        }
      }
    },
    "DeviceTierConfig": {
      "type": "object",
      "id": "DeviceTierConfig",
      "description": "Configuration describing device targeting criteria for the content of an app.",
      "properties": {
        "deviceTierSet": {
          "description": "Definition of the set of device tiers for the app.",
          "$ref": "DeviceTierSet"
        },
        "userCountrySets": {
          "type": "array",
          "items": {
            "$ref": "UserCountrySet"
          },
          "description": "Definition of user country sets for the app."
        },
        "deviceTierConfigId": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The device tier config ID."
        },
        "deviceGroups": {
          "description": "Definition of device groups for the app.",
          "items": {
            "$ref": "DeviceGroup"
          },
          "type": "array"
        }
      }
    },
    "MigrateBasePlanPricesRequest": {
      "type": "object",
      "properties": {
        "regionsVersion": {
          "description": "Required. The version of the available regions being used for the regional_price_migrations.",
          "$ref": "RegionsVersion"
        },
        "regionalPriceMigrations": {
          "items": {
            "$ref": "RegionalPriceMigrationConfig"
          },
          "description": "Required. The regional prices to update.",
          "type": "array"
        }
      },
      "description": "Request message for MigrateBasePlanPrices.",
      "id": "MigrateBasePlanPricesRequest"
    },
    "TextureCompressionFormatTargeting": {
      "properties": {
        "alternatives": {
          "items": {
            "$ref": "TextureCompressionFormat"
          },
          "type": "array",
          "description": "List of alternative TCFs (TCFs targeted by the sibling splits)."
        },
        "value": {
          "description": "The list of targeted TCFs. Should not be empty.",
          "type": "array",
          "items": {
            "$ref": "TextureCompressionFormat"
          }
        }
      },
      "id": "TextureCompressionFormatTargeting",
      "type": "object",
      "description": "Targeting by a texture compression format."
    },
    "UsesPermission": {
      "description": "A permission used by this APK.",
      "properties": {
        "maxSdkVersion": {
          "format": "int32",
          "description": "Optionally, the maximum SDK version for which the permission is required.",
          "type": "integer"
        },
        "name": {
          "description": "The name of the permission requested.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "UsesPermission"
    },
    "TrackRelease": {
      "type": "object",
      "id": "TrackRelease",
      "properties": {
        "countryTargeting": {
          "description": "Restricts a release to a specific set of countries.",
          "$ref": "CountryTargeting"
        },
        "versionCodes": {
          "description": "Version codes of all APKs in the release. Must include version codes to retain from previous releases.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "releaseNotes": {
          "items": {
            "$ref": "LocalizedText"
          },
          "description": "A description of what is new in this release.",
          "type": "array"
        },
        "userFraction": {
          "description": "Fraction of users who are eligible for a staged release. 0 \u003c fraction \u003c 1. Can only be set when status is \"inProgress\" or \"halted\".",
          "type": "number",
          "format": "double"
        },
        "status": {
          "enum": [
            "statusUnspecified",
            "draft",
            "inProgress",
            "halted",
            "completed"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified status.",
            "The release's APKs are not being served to users.",
            "The release's APKs are being served to a fraction of users, determined by 'user_fraction'.",
            "The release's APKs will no longer be served to users. Users who already have these APKs are unaffected.",
            "The release will have no further changes. Its APKs are being served to all users, unless they are eligible to APKs of a more recent release."
          ],
          "description": "The status of the release."
        },
        "name": {
          "type": "string",
          "description": "The release name. Not required to be unique. If not set, the name is generated from the APK's version_name. If the release contains multiple APKs, the name is generated from the date."
        },
        "inAppUpdatePriority": {
          "format": "int32",
          "description": "In-app update priority of the release. All newly added APKs in the release will be considered at this priority. Can take values in the range [0, 5], with 5 the highest priority. Defaults to 0. in_app_update_priority can not be updated once the release is rolled out. See https://developer.android.com/guide/playcore/in-app-updates.",
          "type": "integer"
        }
      },
      "description": "A release within a track."
    },
    "ProductPurchase": {
      "description": "A ProductPurchase resource indicates the status of a user's inapp product purchase.",
      "properties": {
        "purchaseType": {
          "type": "integer",
          "description": "The type of purchase of the inapp product. This field is only set if this purchase was not made using the standard in-app billing flow. Possible values are: 0. Test (i.e. purchased from a license testing account) 1. Promo (i.e. purchased using a promo code) 2. Rewarded (i.e. from watching a video ad instead of paying)",
          "format": "int32"
        },
        "regionCode": {
          "description": "ISO 3166-1 alpha-2 billing region code of the user at the time the product was granted.",
          "type": "string"
        },
        "orderId": {
          "description": "The order id associated with the purchase of the inapp product.",
          "type": "string"
        },
        "purchaseToken": {
          "type": "string",
          "description": "The purchase token generated to identify this purchase. May not be present."
        },
        "kind": {
          "description": "This kind represents an inappPurchase object in the androidpublisher service.",
          "type": "string"
        },
        "consumptionState": {
          "description": "The consumption state of the inapp product. Possible values are: 0. Yet to be consumed 1. Consumed",
          "format": "int32",
          "type": "integer"
        },
        "acknowledgementState": {
          "description": "The acknowledgement state of the inapp product. Possible values are: 0. Yet to be acknowledged 1. Acknowledged",
          "format": "int32",
          "type": "integer"
        },
        "developerPayload": {
          "description": "A developer-specified string that contains supplemental information about an order.",
          "type": "string"
        },
        "purchaseTimeMillis": {
          "format": "int64",
          "description": "The time the product was purchased, in milliseconds since the epoch (Jan 1, 1970).",
          "type": "string"
        },
        "purchaseState": {
          "description": "The purchase state of the order. Possible values are: 0. Purchased 1. Canceled 2. Pending",
          "type": "integer",
          "format": "int32"
        },
        "productId": {
          "description": "The inapp product SKU. May not be present.",
          "type": "string"
        },
        "obfuscatedExternalAccountId": {
          "description": "An obfuscated version of the id that is uniquely associated with the user's account in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedaccountid when the purchase was made.",
          "type": "string"
        },
        "quantity": {
          "type": "integer",
          "description": "The quantity associated with the purchase of the inapp product. If not present, the quantity is 1.",
          "format": "int32"
        },
        "obfuscatedExternalProfileId": {
          "type": "string",
          "description": "An obfuscated version of the id that is uniquely associated with the user's profile in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedprofileid when the purchase was made."
        }
      },
      "type": "object",
      "id": "ProductPurchase"
    },
    "TextureCompressionFormat": {
      "id": "TextureCompressionFormat",
      "type": "object",
      "properties": {
        "alias": {
          "type": "string",
          "enum": [
            "UNSPECIFIED_TEXTURE_COMPRESSION_FORMAT",
            "ETC1_RGB8",
            "PALETTED",
            "THREE_DC",
            "ATC",
            "LATC",
            "DXT1",
            "S3TC",
            "PVRTC",
            "ASTC",
            "ETC2"
          ],
          "enumDescriptions": [
            "Unspecified format.",
            "ETC1_RGB8 format.",
            "PALETTED format.",
            "THREE_DC format.",
            "ATC format.",
            "LATC format.",
            "DXT1 format.",
            "S3TC format.",
            "PVRTC format.",
            "ASTC format.",
            "ETC2 format."
          ],
          "description": "Alias for texture compression format."
        }
      },
      "description": "Represents texture compression format."
    },
    "SubscriptionPurchasesAcknowledgeRequest": {
      "type": "object",
      "properties": {
        "developerPayload": {
          "type": "string",
          "description": "Payload to attach to the purchase."
        }
      },
      "description": "Request for the purchases.subscriptions.acknowledge API.",
      "id": "SubscriptionPurchasesAcknowledgeRequest"
    },
    "AssetModuleMetadata": {
      "id": "AssetModuleMetadata",
      "description": "Metadata of an asset module.",
      "properties": {
        "name": {
          "description": "Module name.",
          "type": "string"
        },
        "deliveryType": {
          "type": "string",
          "description": "Indicates the delivery type for persistent install.",
          "enum": [
            "UNKNOWN_DELIVERY_TYPE",
            "INSTALL_TIME",
            "ON_DEMAND",
            "FAST_FOLLOW"
          ],
          "enumDescriptions": [
            "Unspecified delivery type.",
            "This module will always be downloaded as part of the initial install of the app.",
            "This module is requested on-demand, which means it will not be part of the initial install, and will only be sent when requested by the client.",
            "This module will be downloaded immediately after initial install finishes. The app can be opened before these modules are downloaded."
          ]
        }
      },
      "type": "object"
    },
    "ExternalTransaction": {
      "description": "The details of an external transaction.",
      "properties": {
        "currentPreTaxAmount": {
          "readOnly": true,
          "$ref": "Price",
          "description": "Output only. The current transaction amount before tax. This represents the current pre-tax amount including any refunds that may have been applied to this transaction."
        },
        "currentTaxAmount": {
          "description": "Output only. The current tax amount. This represents the current tax amount including any refunds that may have been applied to this transaction.",
          "readOnly": true,
          "$ref": "Price"
        },
        "userTaxAddress": {
          "$ref": "ExternalTransactionAddress",
          "description": "Required. User address for tax computation."
        },
        "transactionTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The time when the transaction was completed."
        },
        "externalTransactionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The id of this transaction. All transaction ids under the same package name must be unique. Set when creating the external transaction."
        },
        "originalPreTaxAmount": {
          "description": "Required. The original transaction amount before taxes. This represents the pre-tax amount originally notified to Google before any refunds were applied.",
          "$ref": "Price"
        },
        "originalTaxAmount": {
          "$ref": "Price",
          "description": "Required. The original tax amount. This represents the tax amount originally notified to Google before any refunds were applied."
        },
        "oneTimeTransaction": {
          "$ref": "OneTimeExternalTransaction",
          "description": "This is a one-time transaction and not part of a subscription."
        },
        "testPurchase": {
          "$ref": "ExternalTransactionTestPurchase",
          "description": "Output only. If set, this transaction was a test purchase. Google will not charge for a test transaction.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time when this transaction was created. This is the time when Google was notified of the transaction.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "recurringTransaction": {
          "description": "This transaction is part of a recurring series of transactions.",
          "$ref": "RecurringExternalTransaction"
        },
        "packageName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the external transaction. The package name of the application the inapp products were sold (for example, 'com.some.app')."
        },
        "transactionState": {
          "type": "string",
          "description": "Output only. The current state of the transaction.",
          "enumDescriptions": [
            "Unspecified transaction state. Not used.",
            "The transaction has been successfully reported to Google.",
            "The transaction has been fully refunded."
          ],
          "readOnly": true,
          "enum": [
            "TRANSACTION_STATE_UNSPECIFIED",
            "TRANSACTION_REPORTED",
            "TRANSACTION_CANCELED"
          ]
        }
      },
      "id": "ExternalTransaction",
      "type": "object"
    },
    "ModuleMetadata": {
      "id": "ModuleMetadata",
      "type": "object",
      "properties": {
        "deliveryType": {
          "description": "Indicates the delivery type (e.g. on-demand) of the module.",
          "enumDescriptions": [
            "Unspecified delivery type.",
            "This module will always be downloaded as part of the initial install of the app.",
            "This module is requested on-demand, which means it will not be part of the initial install, and will only be sent when requested by the client.",
            "This module will be downloaded immediately after initial install finishes. The app can be opened before these modules are downloaded."
          ],
          "enum": [
            "UNKNOWN_DELIVERY_TYPE",
            "INSTALL_TIME",
            "ON_DEMAND",
            "FAST_FOLLOW"
          ],
          "type": "string"
        },
        "targeting": {
          "$ref": "ModuleTargeting",
          "description": "The targeting that makes a conditional module installed. Relevant only for Split APKs."
        },
        "name": {
          "type": "string",
          "description": "Module name."
        },
        "dependencies": {
          "description": "Names of the modules that this module directly depends on. Each module implicitly depends on the base module.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "moduleType": {
          "enum": [
            "UNKNOWN_MODULE_TYPE",
            "FEATURE_MODULE"
          ],
          "description": "Indicates the type of this feature module.",
          "type": "string",
          "enumDescriptions": [
            "Unknown feature module.",
            "Regular feature module."
          ]
        }
      },
      "description": "Metadata of a module."
    },
    "ExternalAccountIdentifiers": {
      "type": "object",
      "properties": {
        "obfuscatedExternalAccountId": {
          "description": "An obfuscated version of the id that is uniquely associated with the user's account in your app. Present for the following purchases: * If account linking happened as part of the subscription purchase flow. * It was specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedaccountid when the purchase was made.",
          "type": "string"
        },
        "obfuscatedExternalProfileId": {
          "type": "string",
          "description": "An obfuscated version of the id that is uniquely associated with the user's profile in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedprofileid when the purchase was made."
        },
        "externalAccountId": {
          "description": "User account identifier in the third-party service. Only present if account linking happened as part of the subscription purchase flow.",
          "type": "string"
        }
      },
      "id": "ExternalAccountIdentifiers",
      "description": "User account identifier in the third-party service."
    },
    "PartialRefund": {
      "id": "PartialRefund",
      "properties": {
        "refundPreTaxAmount": {
          "$ref": "Price",
          "description": "Required. The pre-tax amount of the partial refund. Should be less than the remaining pre-tax amount of the transaction."
        },
        "refundId": {
          "type": "string",
          "description": "Required. A unique id distinguishing this partial refund. If the refund is successful, subsequent refunds with the same id will fail. Must be unique across refunds for one individual transaction."
        }
      },
      "description": "A partial refund of a transaction.",
      "type": "object"
    },
    "ImagesDeleteAllResponse": {
      "properties": {
        "deleted": {
          "description": "The deleted images.",
          "items": {
            "$ref": "Image"
          },
          "type": "array"
        }
      },
      "id": "ImagesDeleteAllResponse",
      "type": "object",
      "description": "Response for deleting all images."
    },
    "SplitApkVariant": {
      "properties": {
        "targeting": {
          "$ref": "VariantTargeting",
          "description": "Variant-level targeting."
        },
        "apkSet": {
          "items": {
            "$ref": "ApkSet"
          },
          "type": "array",
          "description": "Set of APKs, one set per module."
        },
        "variantNumber": {
          "type": "integer",
          "format": "int32",
          "description": "Number of the variant, starting at 0 (unless overridden). A device will receive APKs from the first variant that matches the device configuration, with higher variant numbers having priority over lower variant numbers."
        }
      },
      "description": "Variant is a group of APKs that covers a part of the device configuration space. APKs from multiple variants are never combined on one device.",
      "type": "object",
      "id": "SplitApkVariant"
    },
    "AppEdit": {
      "id": "AppEdit",
      "description": "An app edit. The resource for EditsService.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Output only. Identifier of the edit. Can be used in subsequent API calls.",
          "readOnly": true
        },
        "expiryTimeSeconds": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time (as seconds since Epoch) at which the edit will expire and will be no longer valid for use."
        }
      }
    },
    "GeneratedApksPerSigningKey": {
      "id": "GeneratedApksPerSigningKey",
      "type": "object",
      "description": "Download metadata for split, standalone and universal APKs, as well as asset pack slices, signed with a given key.",
      "properties": {
        "generatedUniversalApk": {
          "$ref": "GeneratedUniversalApk",
          "description": "Generated universal APK, signed with a key corresponding to certificate_sha256_hash. This field is not set if no universal APK was generated for this signing key."
        },
        "generatedSplitApks": {
          "type": "array",
          "items": {
            "$ref": "GeneratedSplitApk"
          },
          "description": "List of generated split APKs, signed with a key corresponding to certificate_sha256_hash."
        },
        "certificateSha256Hash": {
          "description": "SHA256 hash of the APK signing public key certificate.",
          "type": "string"
        },
        "targetingInfo": {
          "$ref": "TargetingInfo",
          "description": "Contains targeting information about the generated apks."
        },
        "generatedAssetPackSlices": {
          "items": {
            "$ref": "GeneratedAssetPackSlice"
          },
          "type": "array",
          "description": "List of asset pack slices which will be served for this app bundle, signed with a key corresponding to certificate_sha256_hash."
        },
        "generatedStandaloneApks": {
          "type": "array",
          "items": {
            "$ref": "GeneratedStandaloneApk"
          },
          "description": "List of generated standalone APKs, signed with a key corresponding to certificate_sha256_hash."
        }
      }
    },
    "DeviceId": {
      "id": "DeviceId",
      "type": "object",
      "properties": {
        "buildBrand": {
          "description": "Value of Build.BRAND.",
          "type": "string"
        },
        "buildDevice": {
          "type": "string",
          "description": "Value of Build.DEVICE."
        }
      },
      "description": "Identifier of a device."
    },
    "RegionalTaxRateInfo": {
      "id": "RegionalTaxRateInfo",
      "description": "Specified details about taxation in a given geographical region.",
      "properties": {
        "taxTier": {
          "description": "Tax tier to specify reduced tax rate. Developers who sell digital news, magazines, newspapers, books, or audiobooks in various regions may be eligible for reduced tax rates. [Learn more](https://support.google.com/googleplay/android-developer/answer/10463498).",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TAX_TIER_UNSPECIFIED",
            "TAX_TIER_BOOKS_1",
            "TAX_TIER_NEWS_1",
            "TAX_TIER_NEWS_2",
            "TAX_TIER_MUSIC_OR_AUDIO_1",
            "TAX_TIER_LIVE_OR_BROADCAST_1"
          ]
        },
        "eligibleForStreamingServiceTaxRate": {
          "description": "You must tell us if your app contains streaming products to correctly charge US state and local sales tax. Field only supported in United States.",
          "type": "boolean"
        },
        "streamingTaxType": {
          "type": "string",
          "description": "To collect communications or amusement taxes in the United States, choose the appropriate tax category. [Learn more](https://support.google.com/googleplay/android-developer/answer/10463498#streaming_tax).",
          "enum": [
            "STREAMING_TAX_TYPE_UNSPECIFIED",
            "STREAMING_TAX_TYPE_TELCO_VIDEO_RENTAL",
            "STREAMING_TAX_TYPE_TELCO_VIDEO_SALES",
            "STREAMING_TAX_TYPE_TELCO_VIDEO_MULTI_CHANNEL",
            "STREAMING_TAX_TYPE_TELCO_AUDIO_RENTAL",
            "STREAMING_TAX_TYPE_TELCO_AUDIO_SALES",
            "STREAMING_TAX_TYPE_TELCO_AUDIO_MULTI_CHANNEL"
          ],
          "enumDescriptions": [
            "No telecommunications tax collected.",
            "US-specific telecommunications tax tier for video streaming, on demand, rentals / subscriptions / pay-per-view.",
            "US-specific telecommunications tax tier for video streaming of pre-recorded content like movies, tv shows.",
            "US-specific telecommunications tax tier for video streaming of multi-channel programming.",
            "US-specific telecommunications tax tier for audio streaming, rental / subscription.",
            "US-specific telecommunications tax tier for audio streaming, sale / permanent download.",
            "US-specific telecommunications tax tier for multi channel audio streaming like radio."
          ]
        }
      },
      "type": "object"
    },
    "OtherRegionsSubscriptionOfferPhasePrices": {
      "properties": {
        "usdPrice": {
          "$ref": "Money",
          "description": "Required. Price in USD to use for any new locations Play may launch in."
        },
        "eurPrice": {
          "description": "Required. Price in EUR to use for any new locations Play may launch in.",
          "$ref": "Money"
        }
      },
      "type": "object",
      "description": "Pricing information for any new locations Play may launch in.",
      "id": "OtherRegionsSubscriptionOfferPhasePrices"
    },
    "ImagesListResponse": {
      "type": "object",
      "id": "ImagesListResponse",
      "properties": {
        "images": {
          "description": "All listed Images.",
          "type": "array",
          "items": {
            "$ref": "Image"
          }
        }
      },
      "description": "Response listing all images."
    },
    "SystemInitiatedCancellation": {
      "id": "SystemInitiatedCancellation",
      "type": "object",
      "properties": {},
      "description": "Information specific to cancellations initiated by Google system."
    },
    "OtherRegionsSubscriptionOfferConfig": {
      "type": "object",
      "properties": {
        "otherRegionsNewSubscriberAvailability": {
          "type": "boolean",
          "description": "Whether the subscription offer in any new locations Play may launch in the future. If not specified, this will default to false."
        }
      },
      "id": "OtherRegionsSubscriptionOfferConfig",
      "description": "Configuration for any new locations Play may launch in specified on a subscription offer."
    },
    "ProductPurchasesAcknowledgeRequest": {
      "properties": {
        "developerPayload": {
          "description": "Payload to attach to the purchase.",
          "type": "string"
        }
      },
      "description": "Request for the product.purchases.acknowledge API.",
      "type": "object",
      "id": "ProductPurchasesAcknowledgeRequest"
    },
    "VoidedPurchasesListResponse": {
      "properties": {
        "voidedPurchases": {
          "type": "array",
          "items": {
            "$ref": "VoidedPurchase"
          }
        },
        "tokenPagination": {
          "$ref": "TokenPagination",
          "description": "Pagination information for token pagination."
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        }
      },
      "id": "VoidedPurchasesListResponse",
      "type": "object",
      "description": "Response for the voidedpurchases.list API."
    },
    "ConvertRegionPricesResponse": {
      "type": "object",
      "properties": {
        "convertedOtherRegionsPrice": {
          "$ref": "ConvertedOtherRegionsPrice",
          "description": "Converted other regions prices in USD and EUR, to use for countries where Play doesn't support a country's local currency."
        },
        "convertedRegionPrices": {
          "additionalProperties": {
            "$ref": "ConvertedRegionPrice"
          },
          "type": "object",
          "description": "Map from region code to converted region price."
        }
      },
      "id": "ConvertRegionPricesResponse",
      "description": "Response message for ConvertRegionPrices."
    },
    "SubscriptionPurchase": {
      "description": "A SubscriptionPurchase resource indicates the status of a user's subscription purchase.",
      "properties": {
        "acknowledgementState": {
          "description": "The acknowledgement state of the subscription product. Possible values are: 0. Yet to be acknowledged 1. Acknowledged",
          "format": "int32",
          "type": "integer"
        },
        "startTimeMillis": {
          "description": "Time at which the subscription was granted, in milliseconds since the Epoch.",
          "type": "string",
          "format": "int64"
        },
        "countryCode": {
          "type": "string",
          "description": "ISO 3166-1 alpha-2 billing country/region code of the user at the time the subscription was granted."
        },
        "introductoryPriceInfo": {
          "description": "Introductory price information of the subscription. This is only present when the subscription was purchased with an introductory price. This field does not indicate the subscription is currently in introductory price period.",
          "$ref": "IntroductoryPriceInfo"
        },
        "expiryTimeMillis": {
          "description": "Time at which the subscription will expire, in milliseconds since the Epoch.",
          "format": "int64",
          "type": "string"
        },
        "obfuscatedExternalAccountId": {
          "type": "string",
          "description": "An obfuscated version of the id that is uniquely associated with the user's account in your app. Present for the following purchases: * If account linking happened as part of the subscription purchase flow. * It was specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedaccountid when the purchase was made."
        },
        "developerPayload": {
          "description": "A developer-specified string that contains supplemental information about an order.",
          "type": "string"
        },
        "cancelReason": {
          "format": "int32",
          "type": "integer",
          "description": "The reason why a subscription was canceled or is not auto-renewing. Possible values are: 0. User canceled the subscription 1. Subscription was canceled by the system, for example because of a billing problem 2. Subscription was replaced with a new subscription 3. Subscription was canceled by the developer"
        },
        "userCancellationTimeMillis": {
          "format": "int64",
          "type": "string",
          "description": "The time at which the subscription was canceled by the user, in milliseconds since the epoch. Only present if cancelReason is 0."
        },
        "promotionCode": {
          "description": "The promotion code applied on this purchase. This field is only set if a vanity code promotion is applied when the subscription was purchased.",
          "type": "string"
        },
        "paymentState": {
          "description": "The payment state of the subscription. Possible values are: 0. Payment pending 1. Payment received 2. Free trial 3. Pending deferred upgrade/downgrade Not present for canceled, expired subscriptions.",
          "format": "int32",
          "type": "integer"
        },
        "priceChange": {
          "description": "The latest price change information available. This is present only when there is an upcoming price change for the subscription yet to be applied. Once the subscription renews with the new price or the subscription is canceled, no price change information will be returned.",
          "$ref": "SubscriptionPriceChange"
        },
        "purchaseType": {
          "type": "integer",
          "format": "int32",
          "description": "The type of purchase of the subscription. This field is only set if this purchase was not made using the standard in-app billing flow. Possible values are: 0. Test (i.e. purchased from a license testing account) 1. Promo (i.e. purchased using a promo code)"
        },
        "autoRenewing": {
          "type": "boolean",
          "description": "Whether the subscription will automatically be renewed when it reaches its current expiry time."
        },
        "givenName": {
          "type": "string",
          "description": "The given name of the user when the subscription was purchased. Only present for purchases made with 'Subscribe with Google'."
        },
        "familyName": {
          "description": "The family name of the user when the subscription was purchased. Only present for purchases made with 'Subscribe with Google'.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This kind represents a subscriptionPurchase object in the androidpublisher service."
        },
        "obfuscatedExternalProfileId": {
          "type": "string",
          "description": "An obfuscated version of the id that is uniquely associated with the user's profile in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedprofileid when the purchase was made."
        },
        "priceAmountMicros": {
          "format": "int64",
          "type": "string",
          "description": "Price of the subscription, For tax exclusive countries, the price doesn't include tax. For tax inclusive countries, the price includes tax. Price is expressed in micro-units, where 1,000,000 micro-units represents one unit of the currency. For example, if the subscription price is €1.99, price_amount_micros is 1990000."
        },
        "linkedPurchaseToken": {
          "type": "string",
          "description": "The purchase token of the originating purchase if this subscription is one of the following: 0. Re-signup of a canceled but non-lapsed subscription 1. Upgrade/downgrade from a previous subscription For example, suppose a user originally signs up and you receive purchase token X, then the user cancels and goes through the resignup flow (before their subscription lapses) and you receive purchase token Y, and finally the user upgrades their subscription and you receive purchase token Z. If you call this API with purchase token Z, this field will be set to Y. If you call this API with purchase token Y, this field will be set to X. If you call this API with purchase token X, this field will not be set."
        },
        "emailAddress": {
          "type": "string",
          "description": "The email address of the user when the subscription was purchased. Only present for purchases made with 'Subscribe with Google'."
        },
        "orderId": {
          "type": "string",
          "description": "The order id of the latest recurring order associated with the purchase of the subscription. If the subscription was canceled because payment was declined, this will be the order id from the payment declined order."
        },
        "profileName": {
          "description": "The profile name of the user when the subscription was purchased. Only present for purchases made with 'Subscribe with Google'.",
          "type": "string"
        },
        "externalAccountId": {
          "description": "User account identifier in the third-party service. Only present if account linking happened as part of the subscription purchase flow.",
          "type": "string"
        },
        "autoResumeTimeMillis": {
          "type": "string",
          "description": "Time at which the subscription will be automatically resumed, in milliseconds since the Epoch. Only present if the user has requested to pause the subscription.",
          "format": "int64"
        },
        "profileId": {
          "description": "The Google profile id of the user when the subscription was purchased. Only present for purchases made with 'Subscribe with Google'.",
          "type": "string"
        },
        "promotionType": {
          "format": "int32",
          "type": "integer",
          "description": "The type of promotion applied on this purchase. This field is only set if a promotion is applied when the subscription was purchased. Possible values are: 0. One time code 1. Vanity code"
        },
        "cancelSurveyResult": {
          "description": "Information provided by the user when they complete the subscription cancellation flow (cancellation reason survey).",
          "$ref": "SubscriptionCancelSurveyResult"
        },
        "priceCurrencyCode": {
          "description": "ISO 4217 currency code for the subscription price. For example, if the price is specified in British pounds sterling, price_currency_code is \"GBP\".",
          "type": "string"
        }
      },
      "id": "SubscriptionPurchase",
      "type": "object"
    },
    "TrackCountryAvailability": {
      "type": "object",
      "description": "Resource for per-track country availability information.",
      "id": "TrackCountryAvailability",
      "properties": {
        "restOfWorld": {
          "description": "Whether artifacts in this track are available to \"rest of the world\" countries.",
          "type": "boolean"
        },
        "syncWithProduction": {
          "type": "boolean",
          "description": "Whether this track's availability is synced with the default production track. See https://support.google.com/googleplay/android-developer/answer/7550024 for more information on syncing country availability with production. Note that if this is true, the returned \"countries\" and \"rest_of_world\" fields will reflect the values for the default production track."
        },
        "countries": {
          "items": {
            "$ref": "TrackTargetedCountry"
          },
          "description": "A list of one or more countries where artifacts in this track are available. This list includes all countries that are targeted by the track, even if only specific carriers are targeted in that country.",
          "type": "array"
        }
      }
    },
    "DeferredItemReplacement": {
      "type": "object",
      "id": "DeferredItemReplacement",
      "properties": {
        "productId": {
          "type": "string",
          "description": "The product_id going to replace the existing product_id."
        }
      },
      "description": "Information related to deferred item replacement."
    },
    "Track": {
      "properties": {
        "track": {
          "type": "string",
          "description": "Identifier of the track. Form factor tracks have a special prefix as an identifier, for example `wear:production`, `automotive:production`. [More on track name](https://developers.google.com/android-publisher/tracks#ff-track-name)"
        },
        "releases": {
          "type": "array",
          "items": {
            "$ref": "TrackRelease"
          },
          "description": "In a read request, represents all active releases in the track. In an update request, represents desired changes."
        }
      },
      "id": "Track",
      "type": "object",
      "description": "A track configuration. The resource for TracksService."
    },
    "CountryTargeting": {
      "id": "CountryTargeting",
      "type": "object",
      "properties": {
        "includeRestOfWorld": {
          "description": "Include \"rest of world\" as well as explicitly targeted countries.",
          "type": "boolean"
        },
        "countries": {
          "items": {
            "type": "string"
          },
          "description": "Countries to target, specified as two letter [CLDR codes](https://unicode.org/cldr/charts/latest/supplemental/territory_containment_un_m_49.html).",
          "type": "array"
        }
      },
      "description": "Country targeting specification."
    },
    "Bundle": {
      "id": "Bundle",
      "properties": {
        "sha1": {
          "type": "string",
          "description": "A sha1 hash of the upload payload, encoded as a hex string and matching the output of the sha1sum command."
        },
        "sha256": {
          "type": "string",
          "description": "A sha256 hash of the upload payload, encoded as a hex string and matching the output of the sha256sum command."
        },
        "versionCode": {
          "format": "int32",
          "type": "integer",
          "description": "The version code of the Android App Bundle, as specified in the Android App Bundle's base module APK manifest file."
        }
      },
      "description": "Information about an app bundle. The resource for BundlesService.",
      "type": "object"
    },
    "GeneratedUniversalApk": {
      "properties": {
        "downloadId": {
          "description": "Download ID, which uniquely identifies the APK to download. Should be supplied to `generatedapks.download` method.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Download metadata for a universal APK.",
      "id": "GeneratedUniversalApk"
    },
    "MigrateBasePlanPricesResponse": {
      "properties": {},
      "description": "Response message for MigrateBasePlanPrices.",
      "id": "MigrateBasePlanPricesResponse",
      "type": "object"
    },
    "ExternallyHostedApk": {
      "description": "Defines an APK available for this application that is hosted externally and not uploaded to Google Play. This function is only available to organizations using Managed Play whose application is configured to restrict distribution to the organizations.",
      "type": "object",
      "properties": {
        "versionCode": {
          "type": "integer",
          "description": "The version code of this APK.",
          "format": "int32"
        },
        "fileSize": {
          "description": "The file size in bytes of this APK.",
          "type": "string",
          "format": "int64"
        },
        "iconBase64": {
          "description": "The icon image from the APK, as a base64 encoded byte array.",
          "type": "string"
        },
        "versionName": {
          "type": "string",
          "description": "The version name of this APK."
        },
        "usesPermissions": {
          "items": {
            "$ref": "UsesPermission"
          },
          "description": "The permissions requested by this APK.",
          "type": "array"
        },
        "fileSha256Base64": {
          "type": "string",
          "description": "The sha256 checksum of this APK, represented as a base64 encoded byte array."
        },
        "usesFeatures": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The features required by this APK (optional)."
        },
        "maximumSdk": {
          "type": "integer",
          "description": "The maximum SDK supported by this APK (optional).",
          "format": "int32"
        },
        "packageName": {
          "description": "The package name.",
          "type": "string"
        },
        "minimumSdk": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum SDK targeted by this APK."
        },
        "applicationLabel": {
          "type": "string",
          "description": "The application label."
        },
        "fileSha1Base64": {
          "description": "The sha1 checksum of this APK, represented as a base64 encoded byte array.",
          "type": "string"
        },
        "externallyHostedUrl": {
          "type": "string",
          "description": "The URL at which the APK is hosted. This must be an https URL."
        },
        "nativeCodes": {
          "items": {
            "type": "string"
          },
          "description": "The native code environments supported by this APK (optional).",
          "type": "array"
        },
        "certificateBase64s": {
          "description": "A certificate (or array of certificates if a certificate-chain is used) used to sign this APK, represented as a base64 encoded byte array.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ExternallyHostedApk"
    },
    "InternalAppSharingArtifact": {
      "id": "InternalAppSharingArtifact",
      "properties": {
        "certificateFingerprint": {
          "description": "The sha256 fingerprint of the certificate used to sign the generated artifact.",
          "type": "string"
        },
        "downloadUrl": {
          "type": "string",
          "description": "The download URL generated for the uploaded artifact. Users that are authorized to download can follow the link to the Play Store app to install it."
        },
        "sha256": {
          "type": "string",
          "description": "The sha256 hash of the artifact represented as a lowercase hexadecimal number, matching the output of the sha256sum command."
        }
      },
      "description": "An artifact resource which gets created when uploading an APK or Android App Bundle through internal app sharing.",
      "type": "object"
    },
    "SubscriptionPurchasesDeferResponse": {
      "type": "object",
      "description": "Response for the purchases.subscriptions.defer API.",
      "properties": {
        "newExpiryTimeMillis": {
          "description": "The new expiry time for the subscription in milliseconds since the Epoch.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "SubscriptionPurchasesDeferResponse"
    },
    "MultiAbi": {
      "description": "Represents a list of apis.",
      "type": "object",
      "id": "MultiAbi",
      "properties": {
        "abi": {
          "description": "A list of targeted ABIs, as represented by the Android Platform",
          "type": "array",
          "items": {
            "$ref": "Abi"
          }
        }
      }
    },
    "SubscriptionPurchasesDeferRequest": {
      "id": "SubscriptionPurchasesDeferRequest",
      "type": "object",
      "description": "Request for the purchases.subscriptions.defer API.",
      "properties": {
        "deferralInfo": {
          "description": "The information about the new desired expiry time for the subscription.",
          "$ref": "SubscriptionDeferralInfo"
        }
      }
    },
    "MultiAbiTargeting": {
      "properties": {
        "value": {
          "items": {
            "$ref": "MultiAbi"
          },
          "description": "Value of a multi abi.",
          "type": "array"
        },
        "alternatives": {
          "description": "Targeting of other sibling directories that were in the Bundle. For main splits this is targeting of other main splits.",
          "type": "array",
          "items": {
            "$ref": "MultiAbi"
          }
        }
      },
      "description": "Targeting based on multiple abis.",
      "type": "object",
      "id": "MultiAbiTargeting"
    },
    "SystemApksListResponse": {
      "properties": {
        "variants": {
          "items": {
            "$ref": "Variant"
          },
          "description": "All system APK variants created.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "SystemApksListResponse",
      "description": "Response to list previously created system APK variants."
    },
    "PrepaidPlan": {
      "description": "Information related to a prepaid plan.",
      "type": "object",
      "id": "PrepaidPlan",
      "properties": {
        "allowExtendAfterTime": {
          "description": "If present, this is the time after which top up purchases are allowed for the prepaid plan. Will not be present for expired prepaid plans.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "Price": {
      "properties": {
        "priceMicros": {
          "type": "string",
          "description": "Price in 1/million of the currency base unit, represented as a string."
        },
        "currency": {
          "type": "string",
          "description": "3 letter Currency code, as defined by ISO 4217. See java/com/google/common/money/CurrencyCode.java"
        }
      },
      "id": "Price",
      "description": "Definition of a price, i.e. currency and units.",
      "type": "object"
    },
    "AssetSliceSet": {
      "type": "object",
      "description": "Set of asset slices belonging to a single asset module.",
      "id": "AssetSliceSet",
      "properties": {
        "assetModuleMetadata": {
          "$ref": "AssetModuleMetadata",
          "description": "Module level metadata."
        },
        "apkDescription": {
          "type": "array",
          "items": {
            "$ref": "ApkDescription"
          },
          "description": "Asset slices."
        }
      }
    },
    "SubscriptionDeferralInfo": {
      "type": "object",
      "id": "SubscriptionDeferralInfo",
      "description": "A SubscriptionDeferralInfo contains the data needed to defer a subscription purchase to a future expiry time.",
      "properties": {
        "desiredExpiryTimeMillis": {
          "type": "string",
          "format": "int64",
          "description": "The desired next expiry time to assign to the subscription, in milliseconds since the Epoch. The given time must be later/greater than the current expiry time for the subscription."
        },
        "expectedExpiryTimeMillis": {
          "description": "The expected expiry time for the subscription. If the current expiry time for the subscription is not the value specified here, the deferral will not occur.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "SdkVersion": {
      "id": "SdkVersion",
      "properties": {
        "min": {
          "type": "integer",
          "description": "Inclusive minimum value of an sdk version.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Represents an sdk version."
    },
    "Listing": {
      "properties": {
        "title": {
          "type": "string",
          "description": "Localized title of the app."
        },
        "shortDescription": {
          "description": "Short description of the app.",
          "type": "string"
        },
        "fullDescription": {
          "type": "string",
          "description": "Full description of the app."
        },
        "video": {
          "type": "string",
          "description": "URL of a promotional YouTube video for the app."
        },
        "language": {
          "type": "string",
          "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German)."
        }
      },
      "type": "object",
      "description": "A localized store listing. The resource for ListingsService.",
      "id": "Listing"
    },
    "ActivateBasePlanRequest": {
      "properties": {},
      "description": "Request message for ActivateBasePlan.",
      "type": "object",
      "id": "ActivateBasePlanRequest"
    },
    "StandaloneApkMetadata": {
      "properties": {
        "fusedModuleName": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Names of the modules fused in this standalone APK."
        }
      },
      "id": "StandaloneApkMetadata",
      "description": "Holds data specific to Standalone APKs.",
      "type": "object"
    },
    "SubscriptionItemPriceChangeDetails": {
      "description": "Price change related information of a subscription item.",
      "id": "SubscriptionItemPriceChangeDetails",
      "type": "object",
      "properties": {
        "priceChangeState": {
          "description": "State the price change is currently in.",
          "enum": [
            "PRICE_CHANGE_STATE_UNSPECIFIED",
            "OUTSTANDING",
            "CONFIRMED",
            "APPLIED"
          ],
          "enumDescriptions": [
            "Price change state unspecified. This value should not be used.",
            "Waiting for the user to agree for the price change.",
            "The price change is confirmed to happen for the user.",
            "The price change is applied, i.e. the user has started being charged the new price."
          ],
          "type": "string"
        },
        "expectedNewPriceChargeTime": {
          "type": "string",
          "description": "The renewal time at which the price change will become effective for the user. This is subject to change(to a future time) due to cases where the renewal time shifts like pause.",
          "format": "google-datetime"
        },
        "priceChangeMode": {
          "enum": [
            "PRICE_CHANGE_MODE_UNSPECIFIED",
            "PRICE_DECREASE",
            "PRICE_INCREASE"
          ],
          "enumDescriptions": [
            "Price change mode unspecified. This value should never be set.",
            "If the subscription price is decreasing.",
            "If the subscription price is increasing and the user needs to accept it."
          ],
          "type": "string",
          "description": "Price change mode specifies how the subscription item price is changing."
        },
        "newPrice": {
          "$ref": "Money",
          "description": "New recurring price for the subscription item."
        }
      }
    },
    "ReplacementCancellation": {
      "properties": {},
      "description": "Information specific to cancellations caused by subscription replacement.",
      "type": "object",
      "id": "ReplacementCancellation"
    },
    "ListUsersResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to pass to subsequent calls in order to retrieve subsequent results. This will not be set if there are no more results to return."
        },
        "users": {
          "type": "array",
          "description": "The resulting users.",
          "items": {
            "$ref": "User"
          }
        }
      },
      "type": "object",
      "description": "A response containing one or more users with access to an account.",
      "id": "ListUsersResponse"
    },
    "Review": {
      "type": "object",
      "description": "An Android app review.",
      "properties": {
        "reviewId": {
          "type": "string",
          "description": "Unique identifier for this review."
        },
        "authorName": {
          "description": "The name of the user who wrote the review.",
          "type": "string"
        },
        "comments": {
          "type": "array",
          "items": {
            "$ref": "Comment"
          },
          "description": "A repeated field containing comments for the review."
        }
      },
      "id": "Review"
    },
    "ExternalTransactionAddress": {
      "id": "ExternalTransactionAddress",
      "properties": {
        "regionCode": {
          "description": "Required. Two letter region code based on ISO-3166-1 Alpha-2 (UN region codes).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "User's address for the external transaction."
    },
    "DeviceGroup": {
      "description": "A group of devices. A group is defined by a set of device selectors. A device belongs to the group if it matches any selector (logical OR).",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the group."
        },
        "deviceSelectors": {
          "type": "array",
          "description": "Device selectors for this group. A device matching any of the selectors is included in this group.",
          "items": {
            "$ref": "DeviceSelector"
          }
        }
      },
      "id": "DeviceGroup"
    },
    "ApkSet": {
      "type": "object",
      "properties": {
        "apkDescription": {
          "description": "Description of the generated apks.",
          "type": "array",
          "items": {
            "$ref": "ApkDescription"
          }
        },
        "moduleMetadata": {
          "description": "Metadata about the module represented by this ApkSet",
          "$ref": "ModuleMetadata"
        }
      },
      "description": "A set of apks representing a module.",
      "id": "ApkSet"
    },
    "SplitApkMetadata": {
      "id": "SplitApkMetadata",
      "type": "object",
      "properties": {
        "isMasterSplit": {
          "type": "boolean",
          "description": "Indicates whether this APK is the main split of the module."
        },
        "splitId": {
          "description": "Id of the split.",
          "type": "string"
        }
      },
      "description": "Holds data specific to Split APKs."
    },
    "RegionalSubscriptionOfferPhaseConfig": {
      "properties": {
        "relativeDiscount": {
          "description": "The fraction of the base plan price prorated over the phase duration that the user pays for this offer phase. For example, if the base plan price for this region is $12 for a period of 1 year, then a 50% discount for a phase of a duration of 3 months would correspond to a price of $1.50. The discount must be specified as a fraction strictly larger than 0 and strictly smaller than 1. The resulting price will be rounded to the nearest billable unit (e.g. cents for USD). The relative discount is considered invalid if the discounted price ends up being smaller than the minimum price allowed in this region.",
          "type": "number",
          "format": "double"
        },
        "absoluteDiscount": {
          "$ref": "Money",
          "description": "The absolute amount of money subtracted from the base plan price prorated over the phase duration that the user pays for this offer phase. For example, if the base plan price for this region is $12 for a period of 1 year, then a $1 absolute discount for a phase of a duration of 3 months would correspond to a price of $2. The resulting price may not be smaller than the minimum price allowed for this region."
        },
        "regionCode": {
          "type": "string",
          "description": "Required. Immutable. The region to which this config applies."
        },
        "price": {
          "description": "The absolute price the user pays for this offer phase. The price must not be smaller than the minimum price allowed for this region.",
          "$ref": "Money"
        }
      },
      "type": "object",
      "id": "RegionalSubscriptionOfferPhaseConfig",
      "description": "Configuration for a single phase of a subscription offer in a single region."
    },
    "ListSubscriptionsResponse": {
      "id": "ListSubscriptionsResponse",
      "type": "object",
      "description": "Response message for ListSubscriptions.",
      "properties": {
        "subscriptions": {
          "type": "array",
          "description": "The subscriptions from the specified app.",
          "items": {
            "$ref": "Subscription"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "ListingsListResponse": {
      "id": "ListingsListResponse",
      "description": "Response listing all localized listings.",
      "properties": {
        "listings": {
          "items": {
            "$ref": "Listing"
          },
          "description": "All localized listings.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "The kind of this response (\"androidpublisher#listingsListResponse\")."
        }
      },
      "type": "object"
    },
    "CanceledStateContext": {
      "id": "CanceledStateContext",
      "properties": {
        "userInitiatedCancellation": {
          "$ref": "UserInitiatedCancellation",
          "description": "Subscription was canceled by user."
        },
        "systemInitiatedCancellation": {
          "description": "Subscription was canceled by the system, for example because of a billing problem.",
          "$ref": "SystemInitiatedCancellation"
        },
        "replacementCancellation": {
          "description": "Subscription was replaced by a new subscription.",
          "$ref": "ReplacementCancellation"
        },
        "developerInitiatedCancellation": {
          "description": "Subscription was canceled by the developer.",
          "$ref": "DeveloperInitiatedCancellation"
        }
      },
      "type": "object",
      "description": "Information specific to a subscription in canceled state."
    },
    "DeviceTierSet": {
      "type": "object",
      "description": "A set of device tiers. A tier set determines what variation of app content gets served to a specific device, for device-targeted content. You should assign a priority level to each tier, which determines the ordering by which they are evaluated by Play. See the documentation of DeviceTier.level for more details.",
      "id": "DeviceTierSet",
      "properties": {
        "deviceTiers": {
          "items": {
            "$ref": "DeviceTier"
          },
          "type": "array",
          "description": "Device tiers belonging to the set."
        }
      }
    },
    "Grant": {
      "description": "An access grant resource.",
      "type": "object",
      "id": "Grant",
      "properties": {
        "packageName": {
          "type": "string",
          "description": "Immutable. The package name of the app. This will be empty for draft apps."
        },
        "appLevelPermissions": {
          "description": "The permissions granted to the user for this app.",
          "type": "array",
          "items": {
            "enum": [
              "APP_LEVEL_PERMISSION_UNSPECIFIED",
              "CAN_ACCESS_APP",
              "CAN_VIEW_FINANCIAL_DATA",
              "CAN_MANAGE_PERMISSIONS",
              "CAN_REPLY_TO_REVIEWS",
              "CAN_MANAGE_PUBLIC_APKS",
              "CAN_MANAGE_TRACK_APKS",
              "CAN_MANAGE_TRACK_USERS",
              "CAN_MANAGE_PUBLIC_LISTING",
              "CAN_MANAGE_DRAFT_APPS",
              "CAN_MANAGE_ORDERS",
              "CAN_MANAGE_APP_CONTENT",
              "CAN_VIEW_NON_FINANCIAL_DATA",
              "CAN_VIEW_APP_QUALITY"
            ],
            "enumDescriptions": [
              "Unknown or unspecified permission.",
              "View app information (read-only). Deprecated: Try defining a more granular capability. Otherwise, check AppLevelPermission.CAN_VIEW_NON_FINANCIAL_DATA.",
              "View financial data.",
              "Admin (all permissions).",
              "Reply to reviews.",
              "Release to production, exclude devices, and use app signing by Google Play.",
              "Release to testing tracks.",
              "Manage testing tracks and edit tester lists.",
              "Manage store presence.",
              "Edit and delete draft apps.",
              "Manage orders and subscriptions.",
              "Manage policy related pages.",
              "View app information (read-only).",
              "View app quality data such as Vitals, Crashes etc."
            ],
            "type": "string",
            "enumDeprecated": [
              false,
              true,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false
            ]
          }
        },
        "name": {
          "type": "string",
          "description": "Required. Resource name for this grant, following the pattern \"developers/{developer}/users/{email}/grants/{package_name}\". If this grant is for a draft app, the app ID will be used in this resource name instead of the package name."
        }
      }
    },
    "BundlesListResponse": {
      "id": "BundlesListResponse",
      "properties": {
        "kind": {
          "description": "The kind of this response (\"androidpublisher#bundlesListResponse\").",
          "type": "string"
        },
        "bundles": {
          "description": "All app bundles.",
          "items": {
            "$ref": "Bundle"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response listing all app bundles."
    },
    "DeveloperInitiatedCancellation": {
      "description": "Information specific to cancellations initiated by developers.",
      "type": "object",
      "properties": {},
      "id": "DeveloperInitiatedCancellation"
    },
    "TestPurchase": {
      "description": "Whether this subscription purchase is a test purchase.",
      "properties": {},
      "type": "object",
      "id": "TestPurchase"
    },
    "OtherRegionsSubscriptionOfferPhaseConfig": {
      "properties": {
        "otherRegionsPrices": {
          "$ref": "OtherRegionsSubscriptionOfferPhasePrices",
          "description": "The absolute price the user pays for this offer phase. The price must not be smaller than the minimum price allowed for any new locations Play may launch in."
        },
        "relativeDiscount": {
          "description": "The fraction of the base plan price prorated over the phase duration that the user pays for this offer phase. For example, if the base plan price for this region is $12 for a period of 1 year, then a 50% discount for a phase of a duration of 3 months would correspond to a price of $1.50. The discount must be specified as a fraction strictly larger than 0 and strictly smaller than 1. The resulting price will be rounded to the nearest billable unit (e.g. cents for USD). The relative discount is considered invalid if the discounted price ends up being smaller than the minimum price allowed in any new locations Play may launch in.",
          "type": "number",
          "format": "double"
        },
        "absoluteDiscounts": {
          "$ref": "OtherRegionsSubscriptionOfferPhasePrices",
          "description": "The absolute amount of money subtracted from the base plan price prorated over the phase duration that the user pays for this offer phase. For example, if the base plan price for this region is $12 for a period of 1 year, then a $1 absolute discount for a phase of a duration of 3 months would correspond to a price of $2. The resulting price may not be smaller than the minimum price allowed for any new locations Play may launch in."
        }
      },
      "id": "OtherRegionsSubscriptionOfferPhaseConfig",
      "description": "Configuration for any new locations Play may launch in for a single offer phase.",
      "type": "object"
    },
    "FullRefund": {
      "id": "FullRefund",
      "type": "object",
      "description": "A full refund of the remaining amount of a transaction.",
      "properties": {}
    },
    "UserCountriesTargeting": {
      "type": "object",
      "id": "UserCountriesTargeting",
      "description": "Describes an inclusive/exclusive list of country codes that module targets.",
      "properties": {
        "exclude": {
          "type": "boolean",
          "description": "Indicates if the list above is exclusive."
        },
        "countryCodes": {
          "description": "List of country codes in the two-letter CLDR territory format.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ReviewsReplyRequest": {
      "type": "object",
      "id": "ReviewsReplyRequest",
      "description": "Request to reply to review or update existing reply.",
      "properties": {
        "replyText": {
          "description": "The text to set as the reply. Replies of more than approximately 350 characters will be rejected. HTML tags will be stripped.",
          "type": "string"
        }
      }
    },
    "ArchiveSubscriptionRequest": {
      "properties": {},
      "id": "ArchiveSubscriptionRequest",
      "type": "object",
      "description": "Request message for ArchiveSubscription."
    },
    "SubscriptionCancelSurveyResult": {
      "properties": {
        "cancelSurveyReason": {
          "description": "The cancellation reason the user chose in the survey. Possible values are: 0. Other 1. I don't use this service enough 2. Technical issues 3. Cost-related reasons 4. I found a better app",
          "format": "int32",
          "type": "integer"
        },
        "userInputCancelReason": {
          "description": "The customized input cancel reason from the user. Only present when cancelReason is 0.",
          "type": "string"
        }
      },
      "description": "Information provided by the user when they complete the subscription cancellation flow (cancellation reason survey).",
      "type": "object",
      "id": "SubscriptionCancelSurveyResult"
    },
    "LocalizedText": {
      "description": "Localized text in given language.",
      "properties": {
        "text": {
          "type": "string",
          "description": "The text in the given language."
        },
        "language": {
          "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LocalizedText"
    },
    "Variant": {
      "type": "object",
      "description": "APK that is suitable for inclusion in a system image. The resource of SystemApksService.",
      "id": "Variant",
      "properties": {
        "deviceSpec": {
          "description": "The device spec used to generate the APK.",
          "$ref": "DeviceSpec"
        },
        "variantId": {
          "type": "integer",
          "format": "uint32",
          "readOnly": true,
          "description": "Output only. The ID of a previously created system APK variant."
        }
      }
    },
    "DeviceSelector": {
      "properties": {
        "forbiddenSystemFeatures": {
          "type": "array",
          "items": {
            "$ref": "SystemFeature"
          },
          "description": "A device that has any of these system features is excluded by this selector, even if it matches all other conditions."
        },
        "requiredSystemFeatures": {
          "type": "array",
          "items": {
            "$ref": "SystemFeature"
          },
          "description": "A device needs to have all these system features to be included by the selector."
        },
        "deviceRam": {
          "$ref": "DeviceRam",
          "description": "Conditions on the device's RAM."
        },
        "excludedDeviceIds": {
          "type": "array",
          "items": {
            "$ref": "DeviceId"
          },
          "description": "Device models excluded by this selector, even if they match all other conditions."
        },
        "includedDeviceIds": {
          "type": "array",
          "description": "Device models included by this selector.",
          "items": {
            "$ref": "DeviceId"
          }
        }
      },
      "description": "Selector for a device group. A selector consists of a set of conditions on the device that should all match (logical AND) to determine a device group eligibility. For instance, if a selector specifies RAM conditions, device model inclusion and device model exclusion, a device is considered to match if: device matches RAM conditions AND device matches one of the included device models AND device doesn't match excluded device models",
      "id": "DeviceSelector",
      "type": "object"
    },
    "OtherRegionsBasePlanConfig": {
      "type": "object",
      "id": "OtherRegionsBasePlanConfig",
      "description": "Pricing information for any new locations Play may launch in.",
      "properties": {
        "eurPrice": {
          "$ref": "Money",
          "description": "Required. Price in EUR to use for any new locations Play may launch in."
        },
        "usdPrice": {
          "description": "Required. Price in USD to use for any new locations Play may launch in.",
          "$ref": "Money"
        },
        "newSubscriberAvailability": {
          "type": "boolean",
          "description": "Whether the base plan is available for new subscribers in any new locations Play may launch in. If not specified, this will default to false."
        }
      }
    },
    "AcquisitionTargetingRule": {
[...]
