{
  "canonicalName": "Android Provisioning Partner",
  "mtlsRootUrl": "https://androiddeviceprovisioning.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://androiddeviceprovisioning.googleapis.com/",
  "rootUrl": "https://androiddeviceprovisioning.googleapis.com/",
  "schemas": {
    "PartnerUnclaim": {
      "id": "PartnerUnclaim",
      "type": "object",
      "properties": {
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. Device identifier of the device."
        },
        "vacationModeExpireTime": {
          "description": "Optional. The expiration time of the vacation unlock.",
          "format": "google-datetime",
          "type": "string"
        },
        "vacationModeDays": {
          "description": "Optional. The duration of the vacation unlock starting from when the request is processed. (1 day is treated as 24 hours)",
          "format": "int32",
          "type": "integer"
        },
        "deviceId": {
          "description": "Required. Device ID of the device.",
          "format": "int64",
          "type": "string"
        },
        "sectionType": {
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "description": "Required. The section type of the device's provisioning record.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ]
        }
      },
      "description": "Identifies one unclaim request."
    },
    "UnclaimDevicesRequest": {
      "description": "Request to unclaim devices asynchronously in batch.",
      "properties": {
        "unclaims": {
          "items": {
            "$ref": "PartnerUnclaim"
          },
          "type": "array",
          "description": "Required. The list of devices to unclaim."
        }
      },
      "type": "object",
      "id": "UnclaimDevicesRequest"
    },
    "ListVendorCustomersResponse": {
      "type": "object",
      "properties": {
        "totalSize": {
          "type": "integer",
          "description": "The total count of items in the list irrespective of pagination.",
          "format": "int32"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Omitted if no further results are available.",
          "type": "string"
        },
        "customers": {
          "items": {
            "$ref": "Company"
          },
          "type": "array",
          "description": "List of customers of the vendor."
        }
      },
      "id": "ListVendorCustomersResponse",
      "description": "Response message to list customers of the vendor."
    },
    "DeviceReference": {
      "id": "DeviceReference",
      "description": "A `DeviceReference` is an API abstraction that lets you supply a _device_ argument to a method using one of the following identifier types: * A numeric API resource ID. * Real-world hardware IDs, such as IMEI number, belonging to the manufactured device. Methods that operate on devices take a `DeviceReference` as a parameter type because it's more flexible for the caller. To learn more about device identifiers, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers).",
      "type": "object",
      "properties": {
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "The hardware IDs of the device."
        },
        "deviceId": {
          "description": "The ID of the device.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "FindDevicesByDeviceIdentifierResponse": {
      "description": "Response containing found devices.",
      "type": "object",
      "properties": {
        "totalSize": {
          "format": "int32",
          "type": "integer",
          "description": "The total count of items in the list irrespective of pagination."
        },
        "devices": {
          "type": "array",
          "description": "Found devices.",
          "items": {
            "$ref": "Device"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token used to access the next page of results. Omitted if no further results are available."
        }
      },
      "id": "FindDevicesByDeviceIdentifierResponse"
    },
    "CustomerApplyConfigurationRequest": {
      "properties": {
        "device": {
          "$ref": "DeviceReference",
          "description": "Required. The device the configuration is applied to."
        },
        "configuration": {
          "description": "Required. The configuration applied to the device in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`.",
          "type": "string"
        }
      },
      "id": "CustomerApplyConfigurationRequest",
      "description": "Request message for customer to assign a configuration to device.",
      "type": "object"
    },
    "Configuration": {
      "type": "object",
      "description": "A configuration collects the provisioning options for Android devices. Each configuration combines the following: * The EMM device policy controller (DPC) installed on the devices. * EMM policies enforced on the devices. * Metadata displayed on the device to help users during setup. Customers can add as many configurations as they need. However, zero-touch enrollment works best when a customer sets a default configuration that's applied to any new devices the organization purchases.",
      "properties": {
        "dpcResourcePath": {
          "description": "Required. The resource name of the selected DPC (device policy controller) in the format `customers/[CUSTOMER_ID]/dpcs/*`. To list the supported DPCs, call `customers.dpcs.list`.",
          "type": "string"
        },
        "dpcExtras": {
          "description": "The JSON-formatted EMM provisioning extras that are passed to the DPC.",
          "type": "string"
        },
        "configurationName": {
          "type": "string",
          "description": "Required. A short name that describes the configuration's purpose. For example, _Sales team_ or _Temporary employees_. The zero-touch enrollment portal displays this name to IT admins."
        },
        "configurationId": {
          "description": "Output only. The ID of the configuration. Assigned by the server.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "isDefault": {
          "description": "Required. Whether this is the default configuration that zero-touch enrollment applies to any new devices the organization purchases in the future. Only one customer configuration can be the default. Setting this value to `true`, changes the previous default configuration's `isDefault` value to `false`.",
          "type": "boolean"
        },
        "companyName": {
          "type": "string",
          "description": "Required. The name of the organization. Zero-touch enrollment shows this organization name to device users during device provisioning."
        },
        "contactEmail": {
          "type": "string",
          "description": "Required. The email address that device users can contact to get help. Zero-touch enrollment shows this email address to device users before device provisioning. The value is validated on input."
        },
        "customMessage": {
          "description": "A message, containing one or two sentences, to help device users get help or give them more details about what’s happening to their device. Zero-touch enrollment shows this message before the device is provisioned.",
          "type": "string"
        },
        "contactPhone": {
          "type": "string",
          "description": "Required. The telephone number that device users can call, using another device, to get help. Zero-touch enrollment shows this number to device users before device provisioning. Accepts numerals, spaces, the plus sign, hyphens, and parentheses."
        },
        "name": {
          "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. Assigned by the server.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "Configuration"
    },
    "FindDevicesByDeviceIdentifierRequest": {
      "properties": {
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. Required. The device identifier to search for."
        },
        "pageToken": {
          "type": "string",
          "description": "A token specifying which result page to return."
        },
        "limit": {
          "type": "string",
          "description": "Required. The maximum number of devices to show in a page of results. Must be between 1 and 100 inclusive.",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "FindDevicesByDeviceIdentifierRequest",
      "description": "Request to find devices."
    },
    "ListVendorsResponse": {
      "id": "ListVendorsResponse",
      "properties": {
        "totalSize": {
          "format": "int32",
          "type": "integer",
          "description": "The total count of items in the list irrespective of pagination."
        },
        "vendors": {
          "items": {
            "$ref": "Company"
          },
          "type": "array",
          "description": "List of vendors of the reseller partner. Fields `name`, `companyId` and `companyName` are populated to the Company object."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Omitted if no further results are available."
        }
      },
      "type": "object",
      "description": "Response message to list vendors of the partner."
    },
    "Status": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array"
        }
      },
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "DeviceMetadata": {
      "properties": {
        "entries": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Metadata entries recorded as key-value pairs."
        }
      },
      "description": "Metadata entries that can be attached to a `Device`. To learn more, read [Device metadata](https://developers.google.com/zero-touch/guides/metadata).",
      "id": "DeviceMetadata",
      "type": "object"
    },
    "PerDeviceStatusInBatch": {
      "id": "PerDeviceStatusInBatch",
      "description": "Captures the processing status for each device in the operation.",
      "type": "object",
      "properties": {
        "errorMessage": {
          "description": "If processing fails, a developer message explaining what went wrong.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "Invalid code. Shouldn't be used.",
            "Unknown error. We don't expect this error to occur here.",
            "Other error. We know/expect this error, but there's no defined error code for the error.",
            "Success.",
            "Permission denied.",
            "Invalid device identifier.",
            "Invalid section type.",
            "This section is claimed by another company."
          ],
          "description": "The result status of the device after processing.",
          "enum": [
            "SINGLE_DEVICE_STATUS_UNSPECIFIED",
            "SINGLE_DEVICE_STATUS_UNKNOWN_ERROR",
            "SINGLE_DEVICE_STATUS_OTHER_ERROR",
            "SINGLE_DEVICE_STATUS_SUCCESS",
            "SINGLE_DEVICE_STATUS_PERMISSION_DENIED",
            "SINGLE_DEVICE_STATUS_INVALID_DEVICE_IDENTIFIER",
            "SINGLE_DEVICE_STATUS_INVALID_SECTION_TYPE",
            "SINGLE_DEVICE_STATUS_SECTION_NOT_YOURS"
          ]
        },
        "errorIdentifier": {
          "type": "string",
          "description": "If processing fails, the error type."
        },
        "deviceId": {
          "type": "string",
          "format": "int64",
          "description": "If processing succeeds, the device ID of the device."
        }
      }
    },
    "Device": {
      "id": "Device",
      "description": "An Android device registered for zero-touch enrollment.",
      "type": "object",
      "properties": {
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "The hardware IDs that identify a manufactured device. To learn more, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers)."
        },
        "claims": {
          "type": "array",
          "description": "Output only. The provisioning claims for a device. Devices claimed for zero-touch enrollment have a claim with the type `SECTION_TYPE_ZERO_TOUCH`. Call `partners.devices.unclaim` or `partners.devices.unclaimAsync` to remove the device from zero-touch enrollment.",
          "items": {
            "$ref": "DeviceClaim"
          },
          "readOnly": true
        },
        "deviceId": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The ID of the device. Assigned by the server."
        },
        "deviceMetadata": {
          "description": "The metadata attached to the device. Structured as key-value pairs. To learn more, read [Device metadata](https://developers.google.com/zero-touch/guides/metadata).",
          "$ref": "DeviceMetadata"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The API resource name in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`. Assigned by the server.",
          "type": "string"
        },
        "configuration": {
          "description": "Not available to resellers.",
          "type": "string"
        }
      }
    },
    "CreateCustomerRequest": {
      "id": "CreateCustomerRequest",
      "description": "Request message to create a customer.",
      "properties": {
        "customer": {
          "$ref": "Company",
          "description": "Required. The company data to populate the new customer. Must contain a value for `companyName` and at least one `owner_email` that's associated with a Google Account. The values for `companyId` and `name` must be empty."
        }
      },
      "type": "object"
    },
    "Dpc": {
      "type": "object",
      "id": "Dpc",
      "properties": {
        "name": {
          "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/dpcs/[DPC_ID]`. Assigned by the server. To maintain a reference to a DPC across customer accounts, persist and match the last path component (`DPC_ID`).",
          "type": "string",
          "readOnly": true
        },
        "packageName": {
          "readOnly": true,
          "description": "Output only. The DPC's Android application ID that looks like a Java package name. Zero-touch enrollment installs the DPC app onto a device using this identifier.",
          "type": "string"
        },
        "dpcName": {
          "description": "Output only. The title of the DPC app in Google Play. For example, _Google Apps Device Policy_. Useful in an application's user interface.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "An EMM's DPC ([device policy controller](http://developer.android.com/work/dpc/build-dpc.html)). Zero-touch enrollment installs a DPC (listed in the `Configuration`) on a device to maintain the customer's mobile policies. All the DPCs listed by the API support zero-touch enrollment and are available in Google Play."
    },
    "FindDevicesByOwnerRequest": {
      "description": "Request to find devices by customers.",
      "properties": {
        "sectionType": {
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "description": "Required. The section type of the device's provisioning record.",
          "type": "string",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ]
        },
        "limit": {
          "format": "int64",
          "type": "string",
          "description": "Required. The maximum number of devices to show in a page of results. Must be between 1 and 100 inclusive."
        },
        "pageToken": {
          "type": "string",
          "description": "A token specifying which result page to return."
        },
        "customerId": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array",
          "description": "Required. The list of customer IDs to search for."
        }
      },
      "id": "FindDevicesByOwnerRequest",
      "type": "object"
    },
    "ClaimDeviceRequest": {
      "id": "ClaimDeviceRequest",
      "properties": {
        "deviceMetadata": {
          "description": "Optional. The metadata to attach to the device.",
          "$ref": "DeviceMetadata"
        },
        "customerId": {
          "type": "string",
          "format": "int64",
          "description": "Required. The ID of the customer for whom the device is being claimed."
        },
        "sectionType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "description": "Required. The section type of the device's provisioning record."
        },
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. Required. The device identifier of the device to claim."
        }
      },
      "type": "object",
      "description": "Request message to claim a device on behalf of a customer."
    },
    "DevicesLongRunningOperationMetadata": {
      "id": "DevicesLongRunningOperationMetadata",
      "type": "object",
      "properties": {
        "processingStatus": {
          "enumDescriptions": [
            "Invalid code. Shouldn't be used.",
            "Pending.",
            "In progress.",
            "Processed. This doesn't mean all items were processed successfully, you should check the `response` field for the result of every item."
          ],
          "enum": [
            "BATCH_PROCESS_STATUS_UNSPECIFIED",
            "BATCH_PROCESS_PENDING",
            "BATCH_PROCESS_IN_PROGRESS",
            "BATCH_PROCESS_PROCESSED"
          ],
          "description": "The processing status of the operation.",
          "type": "string"
        },
        "progress": {
          "format": "int32",
          "type": "integer",
          "description": "The processing progress of the operation. Measured as a number from 0 to 100. A value of 10O doesnt always mean the operation completed—check for the inclusion of a `done` field."
        },
        "devicesCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of metadata updates in the operation. This might be different from the number of updates in the request if the API can't parse some of the updates."
        }
      },
      "description": "Tracks the status of a long-running operation to asynchronously update a batch of reseller metadata attached to devices. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations)."
    },
    "ClaimDevicesRequest": {
      "type": "object",
      "description": "Request to claim devices asynchronously in batch. Claiming a device adds the device to zero-touch enrollment and shows the device in the customer's view of the portal.",
      "properties": {
        "claims": {
          "items": {
            "$ref": "PartnerClaim"
          },
          "description": "Required. A list of device claims.",
          "type": "array"
        }
      },
      "id": "ClaimDevicesRequest"
    },
    "PartnerClaim": {
      "properties": {
        "sectionType": {
          "type": "string",
          "description": "Required. The section type of the device's provisioning record.",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ]
        },
        "deviceIdentifier": {
          "description": "Required. Required. Device identifier of the device.",
          "$ref": "DeviceIdentifier"
        },
        "deviceMetadata": {
          "description": "Required. The metadata to attach to the device at claim.",
          "$ref": "DeviceMetadata"
        },
        "customerId": {
          "type": "string",
          "format": "int64",
          "description": "Required. The ID of the customer for whom the device is being claimed."
        }
      },
      "type": "object",
      "id": "PartnerClaim",
      "description": "Identifies one claim request."
    },
    "CustomerListConfigurationsResponse": {
      "description": "Response message of customer's listing configuration.",
      "type": "object",
      "id": "CustomerListConfigurationsResponse",
      "properties": {
        "configurations": {
          "description": "The configurations.",
          "items": {
            "$ref": "Configuration"
          },
          "type": "array"
        }
      }
    },
    "FindDevicesByOwnerResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token used to access the next page of results. Omitted if no further results are available.",
          "type": "string"
        },
        "devices": {
          "type": "array",
          "description": "The customer's devices.",
          "items": {
            "$ref": "Device"
          }
        },
        "totalSize": {
          "description": "The total count of items in the list irrespective of pagination.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Response containing found devices.",
      "type": "object",
      "id": "FindDevicesByOwnerResponse"
    },
    "UnclaimDeviceRequest": {
      "properties": {
        "vacationModeExpireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The expiration time of the vacation unlock."
        },
        "vacationModeDays": {
          "format": "int32",
          "description": "The duration of the vacation unlock starting from when the request is processed. (1 day is treated as 24 hours)",
          "type": "integer"
        },
        "deviceIdentifier": {
          "description": "Required. The device identifier you used when you claimed this device.",
          "$ref": "DeviceIdentifier"
        },
        "deviceId": {
          "description": "Required. The device ID returned by `ClaimDevice`.",
          "type": "string",
          "format": "int64"
        },
        "sectionType": {
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "description": "Required. The section type of the device's provisioning record.",
          "type": "string"
        }
      },
      "id": "UnclaimDeviceRequest",
      "description": "Request message to unclaim a device.",
      "type": "object"
    },
    "UpdateMetadataArguments": {
      "type": "object",
      "properties": {
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. Device identifier."
        },
        "deviceId": {
          "format": "int64",
          "type": "string",
          "description": "Required. Device ID of the device."
        },
        "deviceMetadata": {
          "$ref": "DeviceMetadata",
          "description": "Required. The metadata to update."
        }
      },
      "id": "UpdateMetadataArguments",
      "description": "Identifies metadata updates to one device."
    },
    "CustomerListDpcsResponse": {
      "description": "Response message of customer's listing DPCs.",
      "type": "object",
      "properties": {
        "dpcs": {
          "description": "The list of DPCs available to the customer that support zero-touch enrollment.",
          "items": {
            "$ref": "Dpc"
          },
          "type": "array"
        }
      },
      "id": "CustomerListDpcsResponse"
    },
    "OperationPerDevice": {
      "id": "OperationPerDevice",
      "properties": {
        "updateMetadata": {
          "description": "A copy of the original metadata-update request received by the server.",
          "$ref": "UpdateMetadataArguments"
        },
        "claim": {
          "$ref": "PartnerClaim",
          "description": "A copy of the original device-claim request received by the server."
        },
        "result": {
          "$ref": "PerDeviceStatusInBatch",
          "description": "The processing result for each device."
        },
        "unclaim": {
          "description": "A copy of the original device-unclaim request received by the server.",
          "$ref": "PartnerUnclaim"
        }
      },
      "type": "object",
      "description": "A task for each device in the operation. Corresponds to each device change in the request."
    },
    "DevicesLongRunningOperationResponse": {
      "properties": {
        "successCount": {
          "type": "integer",
          "format": "int32",
          "description": "A summary of how many items in the operation the server processed successfully. Updated as the operation progresses."
        },
        "perDeviceStatus": {
          "items": {
            "$ref": "OperationPerDevice"
          },
          "type": "array",
          "description": "The processing status for each device in the operation. One `PerDeviceStatus` per device. The list order matches the items in the original request."
        }
      },
      "description": "Tracks the status of a long-running operation to claim, unclaim, or attach metadata to devices. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
      "id": "DevicesLongRunningOperationResponse",
      "type": "object"
    },
    "CustomerListCustomersResponse": {
      "id": "CustomerListCustomersResponse",
      "description": "Response message for listing my customers.",
      "type": "object",
      "properties": {
        "customers": {
          "description": "The customer accounts the calling user is a member of.",
          "type": "array",
          "items": {
            "$ref": "Company"
          }
        },
        "nextPageToken": {
          "description": "A token used to access the next page of results. Omitted if no further results are available.",
          "type": "string"
        }
      }
    },
    "CustomerRemoveConfigurationRequest": {
      "id": "CustomerRemoveConfigurationRequest",
      "description": "Request message for customer to remove the configuration from device.",
      "type": "object",
      "properties": {
        "device": {
          "$ref": "DeviceReference",
          "description": "Required. The device to remove the configuration from."
        }
      }
    },
    "CustomerUnclaimDeviceRequest": {
      "type": "object",
      "properties": {
        "device": {
          "$ref": "DeviceReference",
          "description": "Required. The device to unclaim."
        }
      },
      "id": "CustomerUnclaimDeviceRequest",
      "description": "Request message for customer to unclaim a device."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "description": "This field will contain a `DevicesLongRunningOperationMetadata` object if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "This field will contain a `DevicesLongRunningOperationResponse` object if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`."
        },
        "error": {
          "description": "This field will always be not set if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`. In this case, error information for each device is set in `response.perDeviceStatus.result.status`.",
          "$ref": "Status"
        }
      },
      "id": "Operation"
    },
    "DeviceIdentifier": {
      "description": "Encapsulates hardware and product IDs to identify a manufactured device. To understand requirements on identifier sets, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers).",
      "type": "object",
      "properties": {
        "serialNumber": {
          "description": "The manufacturer's serial number for the device. This value might not be unique across different device models.",
          "type": "string"
        },
        "manufacturer": {
          "type": "string",
          "description": "The device manufacturer’s name. Matches the device's built-in value returned from `android.os.Build.MANUFACTURER`. Allowed values are listed in [manufacturers](/zero-touch/resources/manufacturer-names#manufacturers-names)."
        },
        "imei": {
          "type": "string",
          "description": "The device’s IMEI number. Validated on input."
        },
        "model": {
          "type": "string",
          "description": "The device model's name. Matches the device's built-in value returned from `android.os.Build.MODEL`. Allowed values are listed in [models](/zero-touch/resources/manufacturer-names#model-names)."
        },
        "meid": {
          "type": "string",
          "description": "The device’s MEID number."
        }
      },
      "id": "DeviceIdentifier"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "properties": {},
      "type": "object"
    },
    "UpdateDeviceMetadataRequest": {
      "description": "Request to set metadata for a device.",
      "id": "UpdateDeviceMetadataRequest",
      "properties": {
        "deviceMetadata": {
          "$ref": "DeviceMetadata",
          "description": "Required. The metadata to attach to the device."
        }
      },
      "type": "object"
    },
    "DeviceClaim": {
      "type": "object",
      "description": "A record of a device claimed by a reseller for a customer. Devices claimed for zero-touch enrollment have a claim with the type `SECTION_TYPE_ZERO_TOUCH`. To learn more, read [Claim devices for customers](/zero-touch/guides/how-it-works#claim).",
      "properties": {
        "vacationModeExpireTime": {
          "description": "The timestamp when the device will exit ‘vacation mode’. This value is present iff the device is in 'vacation mode'.",
          "type": "string",
          "format": "google-datetime"
        },
        "additionalService": {
          "description": "The Additional service registered for the device.",
          "enumDescriptions": [
            "No additional service.",
            "Device protection service, as known as Android Enterprise Essentials. To claim a device with the device protection service you must enroll with the partnership team."
          ],
          "enum": [
            "ADDITIONAL_SERVICE_UNSPECIFIED",
            "DEVICE_PROTECTION"
          ],
          "type": "string"
        },
        "vacationModeStartTime": {
          "description": "The timestamp when the device was put into ‘vacation mode’. This value is present iff the device is in 'vacation mode'.",
          "format": "google-datetime",
          "type": "string"
        },
        "resellerId": {
          "type": "string",
          "format": "int64",
          "description": "The ID of the reseller that claimed the device."
        },
        "sectionType": {
          "type": "string",
          "description": "Output only. The type of claim made on the device.",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ]
        },
        "ownerCompanyId": {
          "type": "string",
          "description": "The ID of the Customer that purchased the device.",
          "format": "int64"
        }
      },
      "id": "DeviceClaim"
    },
    "CustomerListDevicesResponse": {
      "id": "CustomerListDevicesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token used to access the next page of results. Omitted if no further results are available."
        },
        "devices": {
          "items": {
            "$ref": "Device"
          },
          "type": "array",
          "description": "The customer's devices."
        }
      },
      "type": "object",
      "description": "Response message of customer's liting devices."
    },
    "ListCustomersResponse": {
      "type": "object",
      "description": "Response message of all customers related to this partner.",
      "properties": {
        "totalSize": {
          "format": "int32",
          "type": "integer",
          "description": "The total count of items in the list irrespective of pagination."
        },
        "customers": {
          "items": {
            "$ref": "Company"
          },
          "description": "List of customers related to this reseller partner.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Omitted if no further results are available.",
          "type": "string"
        }
      },
      "id": "ListCustomersResponse"
    },
    "UpdateDeviceMetadataInBatchRequest": {
      "type": "object",
      "properties": {
        "updates": {
          "description": "Required. The list of metadata updates.",
          "items": {
            "$ref": "UpdateMetadataArguments"
          },
          "type": "array"
        }
      },
      "id": "UpdateDeviceMetadataInBatchRequest",
      "description": "Request to update device metadata in batch."
    },
    "Company": {
      "type": "object",
      "description": "A reseller, vendor, or customer in the zero-touch reseller and customer APIs.",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The API resource name of the company. The resource name is one of the following formats: * `partners/[PARTNER_ID]/customers/[CUSTOMER_ID]` * `partners/[PARTNER_ID]/vendors/[VENDOR_ID]` * `partners/[PARTNER_ID]/vendors/[VENDOR_ID]/customers/[CUSTOMER_ID]` Assigned by the server."
        },
        "adminEmails": {
          "description": "Optional. Email address of customer's users in the admin role. Each email address must be associated with a Google Account.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "companyId": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The ID of the company. Assigned by the server.",
          "readOnly": true
        },
        "skipWelcomeEmail": {
          "type": "boolean",
          "description": "Input only. If set to true, welcome email will not be sent to the customer. It is recommended to skip the welcome email if devices will be claimed with additional DEVICE_PROTECTION service, as the customer will receive separate emails at device claim time. This field is ignored if this is not a Zero-touch customer."
        },
        "termsStatus": {
          "readOnly": true,
          "description": "Output only. Whether any user from the company has accepted the latest Terms of Service (ToS). See TermsStatus.",
          "type": "string",
          "enum": [
            "TERMS_STATUS_UNSPECIFIED",
            "TERMS_STATUS_NOT_ACCEPTED",
            "TERMS_STATUS_ACCEPTED",
            "TERMS_STATUS_STALE"
          ],
          "enumDescriptions": [
            "Default value. This value should never be set if the enum is present.",
            "None of the company's users have accepted the ToS.",
            "One (or more) of the company's users has accepted the ToS.",
            "None of the company's users has accepted the current ToS but at least one user accepted a previous ToS."
          ]
        },
        "companyName": {
          "description": "Required. The name of the company. For example _XYZ Corp_. Displayed to the company's employees in the zero-touch enrollment portal.",
          "type": "string"
        },
        "ownerEmails": {
          "description": "Required. Input only. Email address of customer's users in the owner role. At least one `owner_email` is required. Owners share the same access as admins but can also add, delete, and edit your organization's portal users.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "languageCode": {
          "description": "Input only. The preferred locale of the customer represented as a BCP47 language code. This field is validated on input and requests containing unsupported language codes will be rejected. Supported language codes: Arabic (ar) Chinese (Hong Kong) (zh-HK) Chinese (Simplified) (zh-CN) Chinese (Traditional) (zh-TW) Czech (cs) Danish (da) Dutch (nl) English (UK) (en-GB) English (US) (en-US) Filipino (fil) Finnish (fi) French (fr) German (de) Hebrew (iw) Hindi (hi) Hungarian (hu) Indonesian (id) Italian (it) Japanese (ja) Korean (ko) Norwegian (Bokmal) (no) Polish (pl) Portuguese (Brazil) (pt-BR) Portuguese (Portugal) (pt-PT) Russian (ru) Spanish (es) Spanish (Latin America) (es-419) Swedish (sv) Thai (th) Turkish (tr) Ukrainian (uk) Vietnamese (vi)",
          "type": "string"
        }
      },
      "id": "Company"
    },
    "ClaimDeviceResponse": {
      "type": "object",
      "description": "Response message containing device id of the claim.",
      "properties": {
        "deviceId": {
          "type": "string",
          "description": "The device ID of the claimed device.",
          "format": "int64"
        },
        "deviceName": {
          "type": "string",
          "description": "The resource name of the device in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`."
        }
      },
      "id": "ClaimDeviceResponse"
    }
  },
  "title": "Android Device Provisioning Partner API",
  "kind": "discovery#restDescription",
  "name": "androiddeviceprovisioning",
  "resources": {
    "operations": {
      "methods": {
        "get": {
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "pattern": "^operations/.*$",
              "location": "path",
              "description": "The name of the operation resource."
            }
          },
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "id": "androiddeviceprovisioning.operations.get",
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/{+name}",
          "flatPath": "v1/operations/{operationsId}",
          "httpMethod": "GET"
        }
      }
    },
    "customers": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [],
          "description": "Lists the user's customer accounts.",
          "flatPath": "v1/customers",
          "id": "androiddeviceprovisioning.customers.list",
          "path": "v1/customers",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "The maximum number of customers to show in a page of results. A number between 1 and 100 (inclusive)."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A token specifying which result page to return."
            }
          },
          "response": {
            "$ref": "CustomerListCustomersResponse"
          }
        }
      },
      "resources": {
        "configurations": {
          "methods": {
            "delete": {
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/configurations/[^/]+$",
                  "description": "Required. The configuration to delete. An API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. If the configuration is applied to any devices, the API call fails.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes an unused configuration. The API call fails if the customer has devices with the configuration applied.",
              "id": "androiddeviceprovisioning.customers.configurations.delete",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+/configurations/[^/]+$",
                  "description": "Required. The configuration to get. An API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`.",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
              "response": {
                "$ref": "Configuration"
              },
              "id": "androiddeviceprovisioning.customers.configurations.get",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the details of a configuration."
            },
            "list": {
              "httpMethod": "GET",
              "id": "androiddeviceprovisioning.customers.configurations.list",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The customer that manages the listed configurations. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "required": true
                }
              },
              "description": "Lists a customer's configurations.",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/customers/{customersId}/configurations",
              "response": {
                "$ref": "CustomerListConfigurationsResponse"
              },
              "path": "v1/{+parent}/configurations"
            },
            "patch": {
              "id": "androiddeviceprovisioning.customers.configurations.patch",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Configuration"
              },
              "path": "v1/{+name}",
              "description": "Updates a configuration's field values.",
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string",
                  "description": "Required. The field mask applied to the target `Configuration` before updating the fields. To learn more about using field masks, read [FieldMask](/protocol-buffers/docs/reference/google.protobuf#fieldmask) in the Protocol Buffers documentation."
                },
                "name": {
                  "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. Assigned by the server.",
                  "location": "path",
                  "required": true,
                  "pattern": "^customers/[^/]+/configurations/[^/]+$",
                  "type": "string"
                }
              },
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
              "request": {
                "$ref": "Configuration"
              }
            },
            "create": {
              "path": "v1/{+parent}/configurations",
              "httpMethod": "POST",
              "flatPath": "v1/customers/{customersId}/configurations",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "Configuration"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The customer that manages the configuration. An API resource name in the format `customers/[CUSTOMER_ID]`."
                }
              },
              "description": "Creates a new configuration. Once created, a customer can apply the configuration to devices.",
              "id": "androiddeviceprovisioning.customers.configurations.create",
              "response": {
                "$ref": "Configuration"
              }
            }
          }
        },
        "devices": {
          "methods": {
            "unclaim": {
              "request": {
                "$ref": "CustomerUnclaimDeviceRequest"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The customer managing the device. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "location": "path"
                }
              },
              "id": "androiddeviceprovisioning.customers.devices.unclaim",
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/customers/{customersId}/devices:unclaim",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "description": "Unclaims a device from a customer and removes it from zero-touch enrollment. After removing a device, a customer must contact their reseller to register the device into zero-touch enrollment again.",
              "path": "v1/{+parent}/devices:unclaim"
            },
            "list": {
              "path": "v1/{+parent}/devices",
              "response": {
                "$ref": "CustomerListDevicesResponse"
              },
              "description": "Lists a customer's devices.",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/customers/{customersId}/devices",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The customer managing the devices. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+$"
                },
                "pageSize": {
                  "type": "string",
                  "description": "The maximum number of devices to show in a page of results. Must be between 1 and 100 inclusive.",
                  "location": "query",
                  "format": "int64"
                },
                "pageToken": {
                  "description": "A token specifying which result page to return.",
                  "type": "string",
                  "location": "query"
                }
              },
              "id": "androiddeviceprovisioning.customers.devices.list"
            },
            "applyConfiguration": {
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/devices:applyConfiguration",
              "parameters": {
                "parent": {
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The customer managing the device. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Applies a Configuration to the device to register the device for zero-touch enrollment. After applying a configuration to a device, the device automatically provisions itself on first boot, or next factory reset.",
              "flatPath": "v1/customers/{customersId}/devices:applyConfiguration",
              "request": {
                "$ref": "CustomerApplyConfigurationRequest"
              },
              "response": {
                "$ref": "Empty"
              },
              "id": "androiddeviceprovisioning.customers.devices.applyConfiguration"
            },
            "removeConfiguration": {
              "response": {
                "$ref": "Empty"
              },
              "id": "androiddeviceprovisioning.customers.devices.removeConfiguration",
              "parameters": {
                "parent": {
                  "description": "Required. The customer managing the device in the format `customers/[CUSTOMER_ID]`.",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "path": "v1/{+parent}/devices:removeConfiguration",
              "description": "Removes a configuration from device.",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/customers/{customersId}/devices:removeConfiguration",
              "request": {
                "$ref": "CustomerRemoveConfigurationRequest"
              }
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/customers/{customersId}/devices/{devicesId}",
              "httpMethod": "GET",
              "description": "Gets the details of a device.",
              "response": {
                "$ref": "Device"
              },
              "parameters": {
                "name": {
                  "description": "Required. The device to get. An API resource name in the format `customers/[CUSTOMER_ID]/devices/[DEVICE_ID]`.",
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "id": "androiddeviceprovisioning.customers.devices.get"
            }
          }
        },
        "dpcs": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists the DPCs (device policy controllers) that support zero-touch enrollment.",
              "httpMethod": "GET",
              "path": "v1/{+parent}/dpcs",
              "id": "androiddeviceprovisioning.customers.dpcs.list",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The customer that can use the DPCs in configurations. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v1/customers/{customersId}/dpcs",
              "response": {
                "$ref": "CustomerListDpcsResponse"
              }
            }
          }
        }
      }
    },
    "partners": {
      "resources": {
        "vendors": {
          "resources": {
            "customers": {
              "methods": {
                "list": {
                  "id": "androiddeviceprovisioning.partners.vendors.customers.list",
                  "response": {
                    "$ref": "ListVendorCustomersResponse"
                  },
                  "path": "v1/{+parent}/customers",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/partners/{partnersId}/vendors/{vendorsId}/customers",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of results to be returned.",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A token identifying a page of results returned by the server.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^partners/[^/]+/vendors/[^/]+$",
                      "description": "Required. The resource name in the format `partners/[PARTNER_ID]/vendors/[VENDOR_ID]`."
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Lists the customers of the vendor."
                }
              }
            }
          },
          "methods": {
            "list": {
              "flatPath": "v1/partners/{partnersId}/vendors",
              "description": "Lists the vendors of the partner.",
              "id": "androiddeviceprovisioning.partners.vendors.list",
              "parameters": {
                "parent": {
                  "pattern": "^partners/[^/]+$",
                  "description": "Required. The resource name in the format `partners/[PARTNER_ID]`.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "pageToken": {
                  "description": "A token identifying a page of results returned by the server.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of results to be returned.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListVendorsResponse"
              },
              "path": "v1/{+parent}/vendors",
              "httpMethod": "GET"
            }
          }
        },
        "customers": {
          "methods": {
            "create": {
              "id": "androiddeviceprovisioning.partners.customers.create",
              "request": {
                "$ref": "CreateCustomerRequest"
              },
              "description": "Creates a customer for zero-touch enrollment. After the method returns successfully, admin and owner roles can manage devices and EMM configs by calling API methods or using their zero-touch enrollment portal. The customer receives an email that welcomes them to zero-touch enrollment and explains how to sign into the portal.",
              "response": {
                "$ref": "Company"
              },
              "flatPath": "v1/partners/{partnersId}/customers",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/customers",
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource ID in the format `partners/[PARTNER_ID]` that identifies the reseller.",
                  "required": true,
                  "location": "path",
                  "pattern": "^partners/[^/]+$",
                  "type": "string"
                }
              }
            },
            "list": {
              "id": "androiddeviceprovisioning.partners.customers.list",
              "httpMethod": "GET",
              "parameterOrder": [
                "partnerId"
              ],
              "response": {
                "$ref": "ListCustomersResponse"
              },
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of results to be returned. If not specified or 0, all the records are returned.",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A token identifying a page of results returned by the server.",
                  "type": "string",
                  "location": "query"
                },
                "partnerId": {
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "format": "int64",
                  "description": "Required. The ID of the reseller partner.",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v1/partners/{partnersId}/customers",
              "description": "Lists the customers that are enrolled to the reseller identified by the `partnerId` argument. This list includes customers that the reseller created and customers that enrolled themselves using the portal.",
              "path": "v1/partners/{+partnerId}/customers"
            }
          }
        },
        "devices": {
          "methods": {
            "findByIdentifier": {
              "description": "Finds devices by hardware identifiers, such as IMEI.",
              "request": {
                "$ref": "FindDevicesByDeviceIdentifierRequest"
              },
              "id": "androiddeviceprovisioning.partners.devices.findByIdentifier",
              "httpMethod": "POST",
              "response": {
                "$ref": "FindDevicesByDeviceIdentifierResponse"
              },
              "flatPath": "v1/partners/{partnersId}/devices:findByIdentifier",
              "path": "v1/partners/{+partnerId}/devices:findByIdentifier",
              "parameters": {
                "partnerId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the reseller partner."
                }
              },
              "parameterOrder": [
                "partnerId"
              ]
            },
            "unclaimAsync": {
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "partnerId": {
                  "type": "string",
                  "description": "Required. The reseller partner ID.",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "format": "int64"
                }
              },
              "httpMethod": "POST",
              "path": "v1/partners/{+partnerId}/devices:unclaimAsync",
              "parameterOrder": [
                "partnerId"
              ],
              "flatPath": "v1/partners/{partnersId}/devices:unclaimAsync",
              "request": {
                "$ref": "UnclaimDevicesRequest"
              },
              "id": "androiddeviceprovisioning.partners.devices.unclaimAsync",
              "description": "Unclaims a batch of devices for a customer asynchronously. Removes the devices from zero-touch enrollment. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations)."
            },
            "claim": {
              "parameterOrder": [
                "partnerId"
              ],
              "request": {
                "$ref": "ClaimDeviceRequest"
              },
              "httpMethod": "POST",
              "path": "v1/partners/{+partnerId}/devices:claim",
              "id": "androiddeviceprovisioning.partners.devices.claim",
              "response": {
                "$ref": "ClaimDeviceResponse"
              },
              "description": "Claims a device for a customer and adds it to zero-touch enrollment. If the device is already claimed by another customer, the call returns an error.",
              "parameters": {
                "partnerId": {
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The ID of the reseller partner.",
                  "required": true
                }
              },
              "flatPath": "v1/partners/{partnersId}/devices:claim"
            },
            "updateMetadataAsync": {
              "parameters": {
                "partnerId": {
                  "format": "int64",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "description": "Required. The reseller partner ID."
                }
              },
              "httpMethod": "POST",
              "description": "Updates the reseller metadata attached to a batch of devices. This method updates devices asynchronously and returns an `Operation` that can be used to track progress. Read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
              "parameterOrder": [
                "partnerId"
              ],
              "id": "androiddeviceprovisioning.partners.devices.updateMetadataAsync",
              "flatPath": "v1/partners/{partnersId}/devices:updateMetadataAsync",
              "response": {
                "$ref": "Operation"
              },
              "request": {
                "$ref": "UpdateDeviceMetadataInBatchRequest"
              },
              "path": "v1/partners/{+partnerId}/devices:updateMetadataAsync"
            },
            "get": {
              "response": {
                "$ref": "Device"
              },
              "description": "Gets a device.",
              "parameters": {
                "name": {
                  "pattern": "^partners/[^/]+/devices/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The device API resource name in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`."
                }
              },
              "httpMethod": "GET",
              "id": "androiddeviceprovisioning.partners.devices.get",
              "flatPath": "v1/partners/{partnersId}/devices/{devicesId}",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "claimAsync": {
              "parameterOrder": [
                "partnerId"
              ],
              "request": {
                "$ref": "ClaimDevicesRequest"
              },
              "parameters": {
                "partnerId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the reseller partner."
                }
              },
              "path": "v1/partners/{+partnerId}/devices:claimAsync",
              "httpMethod": "POST",
              "description": "Claims a batch of devices for a customer asynchronously. Adds the devices to zero-touch enrollment. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
              "response": {
                "$ref": "Operation"
              },
              "id": "androiddeviceprovisioning.partners.devices.claimAsync",
              "flatPath": "v1/partners/{partnersId}/devices:claimAsync"
            },
            "unclaim": {
              "request": {
                "$ref": "UnclaimDeviceRequest"
              },
              "description": "Unclaims a device from a customer and removes it from zero-touch enrollment.",
              "flatPath": "v1/partners/{partnersId}/devices:unclaim",
              "path": "v1/partners/{+partnerId}/devices:unclaim",
              "id": "androiddeviceprovisioning.partners.devices.unclaim",
              "httpMethod": "POST",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "partnerId": {
                  "description": "Required. The ID of the reseller partner.",
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "partnerId"
              ]
            },
            "metadata": {
              "description": "Updates reseller metadata associated with the device.",
              "parameters": {
                "metadataOwnerId": {
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "description": "Required. The owner of the newly set metadata. Set this to the partner ID.",
                  "location": "path",
                  "type": "string"
                },
                "deviceId": {
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "format": "int64",
                  "required": true,
                  "description": "Required. The ID of the device."
                }
              },
              "response": {
                "$ref": "DeviceMetadata"
              },
              "request": {
                "$ref": "UpdateDeviceMetadataRequest"
              },
              "path": "v1/partners/{+metadataOwnerId}/devices/{+deviceId}/metadata",
              "flatPath": "v1/partners/{partnersId}/devices/{devicesId}/metadata",
              "id": "androiddeviceprovisioning.partners.devices.metadata",
              "httpMethod": "POST",
              "parameterOrder": [
                "metadataOwnerId",
                "deviceId"
              ]
            },
            "findByOwner": {
              "parameterOrder": [
                "partnerId"
              ],
              "request": {
                "$ref": "FindDevicesByOwnerRequest"
              },
              "path": "v1/partners/{+partnerId}/devices:findByOwner",
              "response": {
                "$ref": "FindDevicesByOwnerResponse"
              },
              "parameters": {
                "partnerId": {
                  "required": true,
                  "location": "path",
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "description": "Required. The ID of the reseller partner."
                }
              },
              "id": "androiddeviceprovisioning.partners.devices.findByOwner",
              "flatPath": "v1/partners/{partnersId}/devices:findByOwner",
              "description": "Finds devices claimed for customers. The results only contain devices registered to the reseller that's identified by the `partnerId` argument. The customer's devices purchased from other resellers don't appear in the results.",
              "httpMethod": "POST"
            }
          }
        }
      }
    }
  },
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "batchPath": "batch",
  "id": "androiddeviceprovisioning:v1",
  "description": "Automates Android zero-touch enrollment for device resellers, customers, and EMMs.",
  "ownerDomain": "google.com",
  "documentationLink": "https://developers.google.com/zero-touch/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version_module": true,
  "basePath": "",
  "ownerName": "Google",
  "protocol": "rest",
  "version": "v1",
  "revision": "20210717"
}
