{
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "kind": "discovery#restDescription",
  "rootUrl": "https://androidpublisher.googleapis.com/",
  "version": "v3",
  "baseUrl": "https://androidpublisher.googleapis.com/",
  "protocol": "rest",
  "revision": "20201012",
  "documentationLink": "https://developers.google.com/android-publisher",
  "description": "Lets Android application developers access their Google Play accounts.",
  "canonicalName": "Android Publisher",
  "name": "androidpublisher",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://androidpublisher.mtls.googleapis.com/",
  "resources": {
    "internalappsharingartifacts": {
      "methods": {
        "uploadapk": {
          "response": {
            "$ref": "InternalAppSharingArtifact"
          },
          "supportsMediaUpload": true,
          "id": "androidpublisher.internalappsharingartifacts.uploadapk",
          "httpMethod": "POST",
          "flatPath": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "mediaUpload": {
            "protocols": {
              "simple": {
                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
                "multipart": true
              },
              "resumable": {
                "path": "/resumable/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
                "multipart": true
              }
            },
            "accept": [
              "application/octet-stream",
              "application/vnd.android.package-archive"
            ],
            "maxSize": "1073741824"
          },
          "path": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
          "parameterOrder": [
            "packageName"
          ],
          "description": "Uploads an APK to internal app sharing. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java.",
          "parameters": {
            "packageName": {
              "type": "string",
              "required": true,
              "description": "Package name of the app.",
              "location": "path"
            }
          }
        },
        "uploadbundle": {
          "httpMethod": "POST",
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "supportsMediaUpload": true,
          "flatPath": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
          "mediaUpload": {
            "maxSize": "10737418240",
            "accept": [
              "application/octet-stream"
            ],
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle"
              }
            }
          },
          "parameterOrder": [
            "packageName"
          ],
          "id": "androidpublisher.internalappsharingartifacts.uploadbundle",
          "response": {
            "$ref": "InternalAppSharingArtifact"
          },
          "description": "Uploads an app bundle to internal app sharing. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle"
        }
      }
    },
    "systemapks": {
      "resources": {
        "variants": {
          "methods": {
            "list": {
              "description": "Returns the list of previously created system APK variants.",
              "httpMethod": "GET",
              "parameters": {
                "packageName": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Unique identifier of the Android app."
                },
                "versionCode": {
                  "description": "The version code of the App Bundle.",
                  "location": "path",
                  "required": true,
                  "format": "int64",
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "parameterOrder": [
                "packageName",
                "versionCode"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "response": {
                "$ref": "SystemApksListResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.systemapks.variants.list"
            },
            "download": {
              "parameters": {
                "versionCode": {
                  "format": "int64",
                  "location": "path",
                  "description": "The version code of the App Bundle.",
                  "type": "string",
                  "required": true
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Unique identifier of the Android app."
                },
                "variantId": {
                  "type": "integer",
                  "location": "path",
                  "format": "uint32",
                  "description": "The ID of a previously created system APK variant.",
                  "required": true
                }
              },
              "useMediaDownloadService": true,
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}:download",
              "description": "Downloads a previously created system APK which is suitable for inclusion in a system image.",
              "supportsMediaDownload": true,
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}:download",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "versionCode",
                "variantId"
              ],
              "httpMethod": "GET",
              "id": "androidpublisher.systemapks.variants.download"
            },
            "get": {
              "description": "Returns a previously created system APK variant.",
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "Variant"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}",
              "parameterOrder": [
                "packageName",
                "versionCode",
                "variantId"
              ],
              "id": "androidpublisher.systemapks.variants.get",
              "parameters": {
                "packageName": {
                  "description": "Unique identifier of the Android app.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "variantId": {
                  "location": "path",
                  "format": "uint32",
                  "description": "The ID of a previously created system APK variant.",
                  "type": "integer",
                  "required": true
                },
                "versionCode": {
                  "type": "string",
                  "format": "int64",
                  "location": "path",
                  "required": true,
                  "description": "The version code of the App Bundle."
                }
              },
              "httpMethod": "GET"
            },
            "create": {
              "parameterOrder": [
                "packageName",
                "versionCode"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.systemapks.variants.create",
              "httpMethod": "POST",
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "response": {
                "$ref": "Variant"
              },
              "parameters": {
                "versionCode": {
                  "required": true,
                  "format": "int64",
                  "type": "string",
                  "description": "The version code of the App Bundle.",
                  "location": "path"
                },
                "packageName": {
                  "required": true,
                  "description": "Unique identifier of the Android app.",
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Creates an APK which is suitable for inclusion in a system image from an already uploaded Android App Bundle.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "request": {
                "$ref": "Variant"
              }
            }
          }
        }
      }
    },
    "orders": {
      "methods": {
        "refund": {
          "parameterOrder": [
            "packageName",
            "orderId"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:refund",
          "id": "androidpublisher.orders.refund",
          "description": "Refund a user's subscription or in-app purchase order.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "packageName": {
              "required": true,
              "type": "string",
              "description": "The package name of the application for which this subscription or in-app item was purchased (for example, 'com.some.thing').",
              "location": "path"
            },
            "orderId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The order ID provided to the user when the subscription or in-app order was purchased."
            },
            "revoke": {
              "type": "boolean",
              "description": "Whether to revoke the purchased item. If set to true, access to the subscription or in-app item will be terminated immediately. If the item is a recurring subscription, all future payments will also be terminated. Consumed in-app items need to be handled by developer's app. (optional).",
              "location": "query"
            }
          },
          "httpMethod": "POST",
          "flatPath": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:refund"
        }
      }
    },
    "reviews": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}",
          "id": "androidpublisher.reviews.get",
          "parameterOrder": [
            "packageName",
            "reviewId"
          ],
          "httpMethod": "GET",
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}",
          "description": "Gets a single review.",
          "response": {
            "$ref": "Review"
          },
          "parameters": {
            "packageName": {
              "required": true,
              "type": "string",
              "description": "Package name of the app.",
              "location": "path"
            },
            "translationLanguage": {
              "type": "string",
              "description": "Language localization code.",
              "location": "query"
            },
            "reviewId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Unique identifier for a review."
            }
          }
        },
        "list": {
          "parameterOrder": [
            "packageName"
          ],
          "httpMethod": "GET",
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews",
          "response": {
            "$ref": "ReviewsListResponse"
          },
          "parameters": {
            "token": {
              "type": "string",
              "location": "query",
              "description": "Pagination token. If empty, list starts at the first review."
            },
            "translationLanguage": {
              "location": "query",
              "type": "string",
              "description": "Language localization code."
            },
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "startIndex": {
              "format": "uint32",
              "type": "integer",
              "location": "query",
              "description": "The index of the first element to return."
            },
            "maxResults": {
              "format": "uint32",
              "description": "How many results the list operation should return.",
              "type": "integer",
              "location": "query"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/reviews",
          "description": "Lists all reviews.",
          "id": "androidpublisher.reviews.list",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "reply": {
          "id": "androidpublisher.reviews.reply",
          "response": {
            "$ref": "ReviewsReplyResponse"
          },
          "path": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}:reply",
          "parameters": {
            "reviewId": {
              "description": "Unique identifier for a review.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "packageName": {
              "location": "path",
              "description": "Package name of the app.",
              "type": "string",
              "required": true
            }
          },
          "description": "Replies to a single review, or updates an existing reply.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "request": {
            "$ref": "ReviewsReplyRequest"
          },
          "parameterOrder": [
            "packageName",
            "reviewId"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}:reply",
          "httpMethod": "POST"
        }
      }
    },
    "edits": {
      "resources": {
        "images": {
          "methods": {
            "deleteall": {
              "parameters": {
                "language": {
                  "required": true,
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German). Providing a language that is not supported by the App is a no-op.",
                  "type": "string",
                  "location": "path"
                },
                "packageName": {
                  "type": "string",
                  "required": true,
                  "description": "Package name of the app.",
                  "location": "path"
                },
                "editId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Identifier of the edit."
                },
                "imageType": {
                  "description": "Type of the Image. Providing an image type that refers to no images is a no-op.",
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "tvBanner"
                  ],
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "TV banner."
                  ]
                }
              },
              "httpMethod": "DELETE",
              "id": "androidpublisher.edits.images.deleteall",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "ImagesDeleteAllResponse"
              },
              "description": "Deletes all images for the specified language and image type. Returns an empty response if no images are found."
            },
            "delete": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}/{imageId}",
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType",
                "imageId"
              ],
              "httpMethod": "DELETE",
              "id": "androidpublisher.edits.images.delete",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Deletes the image (specified by id) from the edit.",
              "parameters": {
                "imageType": {
                  "description": "Type of the Image.",
                  "required": true,
                  "type": "string",
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "TV banner."
                  ],
                  "location": "path",
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "tvBanner"
                  ]
                },
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "description": "Package name of the app.",
                  "required": true
                },
                "language": {
                  "required": true,
                  "type": "string",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
                  "location": "path"
                },
                "imageId": {
                  "type": "string",
                  "description": "Unique identifier an image within the set of images attached to this edit.",
                  "location": "path",
                  "required": true
                },
                "editId": {
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}/{imageId}"
            },
            "list": {
              "description": "Lists all images. The response may be empty.",
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ],
              "id": "androidpublisher.edits.images.list",
              "httpMethod": "GET",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "response": {
                "$ref": "ImagesListResponse"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "parameters": {
                "imageType": {
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "tvBanner"
                  ],
                  "location": "path",
                  "required": true,
                  "description": "Type of the Image. Providing an image type that refers to no images will return an empty response.",
                  "type": "string",
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "TV banner."
                  ]
                },
                "language": {
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German). There must be a store listing for the specified language.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "upload": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "language": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German). Providing a language that is not supported by the App is a no-op."
                },
                "imageType": {
                  "location": "path",
                  "type": "string",
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "TV banner."
                  ],
                  "description": "Type of the Image.",
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "tvBanner"
                  ],
                  "required": true
                },
                "editId": {
                  "required": true,
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "location": "path"
                },
                "packageName": {
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path"
                }
              },
              "id": "androidpublisher.edits.images.upload",
              "supportsMediaUpload": true,
              "response": {
                "$ref": "ImagesUploadResponse"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ],
              "mediaUpload": {
                "protocols": {
                  "simple": {
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
                    "multipart": true
                  },
                  "resumable": {
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
                    "multipart": true
                  }
                },
                "accept": [
                  "image/*"
                ],
                "maxSize": "15728640"
              },
              "description": "Uploads an image of the specified language and image type, and adds to the edit.",
              "httpMethod": "POST"
            }
          }
        },
        "apks": {
          "methods": {
            "addexternallyhosted": {
              "request": {
                "$ref": "ApksAddExternallyHostedRequest"
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/externallyHosted",
              "description": "Creates a new APK without uploading the APK itself to Google Play, instead hosting the APK at a specified URL. This function is only available to organizations using Managed Play whose application is configured to restrict distribution to the organizations.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/externallyHosted",
              "parameters": {
                "packageName": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Package name of the app."
                },
                "editId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Identifier of the edit."
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "ApksAddExternallyHostedResponse"
              },
              "id": "androidpublisher.edits.apks.addexternallyhosted"
            },
            "upload": {
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "supportsMediaUpload": true,
              "description": "Uploads an APK and adds to the current edit.",
              "id": "androidpublisher.edits.apks.upload",
              "response": {
                "$ref": "Apk"
              },
              "mediaUpload": {
                "accept": [
                  "application/octet-stream",
                  "application/vnd.android.package-archive"
                ],
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks"
                  },
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks"
                  }
                },
                "maxSize": "10737418240"
              },
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app."
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks"
            },
            "list": {
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "httpMethod": "GET",
              "id": "androidpublisher.edits.apks.list",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "ApksListResponse"
              },
              "parameters": {
                "packageName": {
                  "required": true,
                  "description": "Package name of the app.",
                  "type": "string",
                  "location": "path"
                },
                "editId": {
                  "required": true,
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "description": "Lists all current APKs of the app and edit.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks"
            }
          }
        },
        "testers": {
          "methods": {
            "update": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "parameters": {
                "track": {
                  "required": true,
                  "description": "The track to update.",
                  "type": "string",
                  "location": "path"
                },
                "packageName": {
                  "required": true,
                  "description": "Package name of the app.",
                  "type": "string",
                  "location": "path"
                },
                "editId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit."
                }
              },
              "description": "Updates testers.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "request": {
                "$ref": "Testers"
              },
              "id": "androidpublisher.edits.testers.update",
              "response": {
                "$ref": "Testers"
              }
            },
            "patch": {
              "parameters": {
                "editId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the edit."
                },
                "track": {
                  "required": true,
                  "location": "path",
                  "description": "The track to update.",
                  "type": "string"
                },
                "packageName": {
                  "type": "string",
                  "required": true,
                  "description": "Package name of the app.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "PATCH",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "id": "androidpublisher.edits.testers.patch",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "description": "Patches testers.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "response": {
                "$ref": "Testers"
              },
              "request": {
                "$ref": "Testers"
              }
            },
            "get": {
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "description": "Gets testers.",
              "id": "androidpublisher.edits.testers.get",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "GET",
              "parameters": {
                "track": {
                  "location": "path",
                  "required": true,
                  "description": "The track to read from.",
                  "type": "string"
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "packageName": {
                  "required": true,
                  "description": "Package name of the app.",
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "response": {
                "$ref": "Testers"
              }
            }
          }
        },
        "listings": {
          "methods": {
            "get": {
              "description": "Gets a localized store listing.",
              "response": {
                "$ref": "Listing"
              },
              "parameters": {
                "language": {
                  "location": "path",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path"
                },
                "editId": {
                  "location": "path",
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "id": "androidpublisher.edits.listings.get",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}"
            },
            "deleteall": {
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "packageName": {
                  "required": true,
                  "description": "Package name of the app.",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "id": "androidpublisher.edits.listings.deleteall",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "httpMethod": "DELETE",
              "description": "Deletes all store listings."
            },
            "list": {
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "description": "Lists all localized store listings.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "androidpublisher.edits.listings.list",
              "httpMethod": "GET",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "response": {
                "$ref": "ListingsListResponse"
              }
            },
            "patch": {
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "id": "androidpublisher.edits.listings.patch",
              "response": {
                "$ref": "Listing"
              },
              "request": {
                "$ref": "Listing"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "description": "Patches a localized store listing.",
              "parameters": {
                "editId": {
                  "required": true,
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "type": "string"
                },
                "packageName": {
                  "required": true,
                  "description": "Package name of the app.",
                  "location": "path",
                  "type": "string"
                },
                "language": {
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "id": "androidpublisher.edits.listings.delete",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "httpMethod": "DELETE",
              "parameters": {
                "packageName": {
                  "type": "string",
                  "required": true,
                  "description": "Package name of the app.",
                  "location": "path"
                },
                "editId": {
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path"
                },
                "language": {
                  "type": "string",
                  "location": "path",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
                  "required": true
                }
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "description": "Deletes a localized store listing."
            },
            "update": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "request": {
                "$ref": "Listing"
              },
              "id": "androidpublisher.edits.listings.update",
              "parameters": {
                "editId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "required": true,
                  "location": "path",
                  "description": "Package name of the app.",
                  "type": "string"
                },
                "language": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German)."
                }
              },
              "description": "Creates or updates a localized store listing.",
              "response": {
                "$ref": "Listing"
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "httpMethod": "PUT",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}"
            }
          }
        },
        "details": {
          "methods": {
            "update": {
              "response": {
                "$ref": "AppDetails"
              },
              "httpMethod": "PUT",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "description": "Updates details of an app.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Package name of the app."
                }
              },
              "id": "androidpublisher.edits.details.update",
              "request": {
                "$ref": "AppDetails"
              }
            },
            "get": {
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "description": "Gets details of an app.",
              "id": "androidpublisher.edits.details.get",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "httpMethod": "GET",
              "response": {
                "$ref": "AppDetails"
              },
              "parameters": {
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Package name of the app."
                },
                "editId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit."
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details"
            },
            "patch": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "id": "androidpublisher.edits.details.patch",
              "response": {
                "$ref": "AppDetails"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "PATCH",
              "request": {
                "$ref": "AppDetails"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "description": "Patches details of an app.",
              "parameters": {
                "editId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              }
            }
          }
        },
        "expansionfiles": {
          "methods": {
            "upload": {
              "supportsMediaUpload": true,
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "response": {
                "$ref": "ExpansionFilesUploadResponse"
              },
              "parameters": {
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Package name of the app."
                },
                "apkVersionCode": {
                  "format": "int32",
                  "location": "path",
                  "type": "integer",
                  "description": "The version code of the APK whose expansion file configuration is being read or modified.",
                  "required": true
                },
                "editId": {
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "required": true,
                  "location": "path"
                },
                "expansionFileType": {
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "enumDescriptions": [
                    "Unspecified expansion file type.",
                    "Main expansion file.",
                    "Patch expansion file."
                  ],
                  "description": "The file type of the expansion file configuration which is being updated."
                }
              },
              "httpMethod": "POST",
              "id": "androidpublisher.edits.expansionfiles.upload",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "mediaUpload": {
                "accept": [
                  "application/octet-stream"
                ],
                "maxSize": "2147483648",
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}"
                  },
                  "simple": {
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
                    "multipart": true
                  }
                }
              },
              "description": "Uploads a new expansion file and attaches to the specified APK.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "get": {
              "id": "androidpublisher.edits.expansionfiles.get",
              "parameters": {
                "apkVersionCode": {
                  "format": "int32",
                  "required": true,
                  "description": "The version code of the APK whose expansion file configuration is being read or modified.",
                  "type": "integer",
                  "location": "path"
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "expansionFileType": {
                  "description": "The file type of the file configuration which is being read or modified.",
                  "type": "string",
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "enumDescriptions": [
                    "Unspecified expansion file type.",
                    "Main expansion file.",
                    "Patch expansion file."
                  ],
                  "required": true,
                  "location": "path"
                },
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ExpansionFile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Fetches the expansion file configuration for the specified APK."
            },
            "update": {
              "response": {
                "$ref": "ExpansionFile"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "parameters": {
                "apkVersionCode": {
                  "type": "integer",
                  "required": true,
                  "location": "path",
                  "format": "int32",
                  "description": "The version code of the APK whose expansion file configuration is being read or modified."
                },
                "packageName": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Package name of the app."
                },
                "editId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the edit."
                },
                "expansionFileType": {
                  "type": "string",
                  "description": "The file type of the file configuration which is being read or modified.",
                  "enumDescriptions": [
                    "Unspecified expansion file type.",
                    "Main expansion file.",
                    "Patch expansion file."
                  ],
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Updates the APK's expansion file configuration to reference another APK's expansion file. To add a new expansion file use the Upload method.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "request": {
                "$ref": "ExpansionFile"
              },
              "httpMethod": "PUT",
              "id": "androidpublisher.edits.expansionfiles.update",
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ]
            },
            "patch": {
              "response": {
                "$ref": "ExpansionFile"
              },
              "parameters": {
                "apkVersionCode": {
                  "required": true,
                  "type": "integer",
                  "location": "path",
                  "description": "The version code of the APK whose expansion file configuration is being read or modified.",
                  "format": "int32"
                },
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Package name of the app."
                },
                "editId": {
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "required": true,
                  "location": "path"
                },
                "expansionFileType": {
                  "type": "string",
                  "enumDescriptions": [
                    "Unspecified expansion file type.",
                    "Main expansion file.",
                    "Patch expansion file."
                  ],
                  "required": true,
                  "description": "The file type of the expansion file configuration which is being updated.",
                  "location": "path",
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ]
                }
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "httpMethod": "PATCH",
              "id": "androidpublisher.edits.expansionfiles.patch",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "request": {
                "$ref": "ExpansionFile"
              },
              "description": "Patches the APK's expansion file configuration to reference another APK's expansion file. To add a new expansion file use the Upload method.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}"
            }
          }
        },
        "deobfuscationfiles": {
          "methods": {
            "upload": {
              "mediaUpload": {
                "maxSize": "314572800",
                "accept": [
                  "application/octet-stream"
                ],
                "protocols": {
                  "resumable": {
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}",
                    "multipart": true
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}"
                  }
                }
              },
              "parameters": {
                "deobfuscationFileType": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "enumDescriptions": [
                    "Unspecified deobfuscation file type.",
                    "Proguard deobfuscation file type.",
                    "Native debugging symbols file type."
                  ],
                  "enum": [
                    "deobfuscationFileTypeUnspecified",
                    "proguard",
                    "nativeCode"
                  ],
                  "description": "The type of the deobfuscation file."
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "Unique identifier for the Android app.",
                  "required": true
                },
                "apkVersionCode": {
                  "required": true,
                  "description": "The version code of the APK whose Deobfuscation File is being uploaded.",
                  "format": "int32",
                  "location": "path",
                  "type": "integer"
                },
                "editId": {
                  "type": "string",
                  "description": "Unique identifier for this edit.",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}",
              "httpMethod": "POST",
              "description": "Uploads a new deobfuscation file and attaches to the specified APK.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "deobfuscationFileType"
              ],
              "id": "androidpublisher.edits.deobfuscationfiles.upload",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}",
              "response": {
                "$ref": "DeobfuscationFilesUploadResponse"
              },
              "supportsMediaUpload": true
            }
          }
        },
        "bundles": {
          "methods": {
            "upload": {
              "parameters": {
                "packageName": {
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path"
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "ackBundleInstallationWarning": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Must be set to true if the bundle installation may trigger a warning on user devices (for example, if installation size may be over a threshold, typically 100 MB)."
                }
              },
              "description": "Uploads a new Android App Bundle to this edit. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "supportsMediaUpload": true,
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Bundle"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "id": "androidpublisher.edits.bundles.upload",
              "mediaUpload": {
                "maxSize": "10737418240",
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles"
                  }
                },
                "accept": [
                  "application/octet-stream"
                ]
              }
            },
            "list": {
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "parameters": {
                "packageName": {
                  "location": "path",
                  "description": "Package name of the app.",
                  "type": "string",
                  "required": true
                },
                "editId": {
                  "required": true,
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "androidpublisher.edits.bundles.list",
              "description": "Lists all current Android App Bundles of the app and edit.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "response": {
                "$ref": "BundlesListResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "GET",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles"
            }
          }
        },
        "tracks": {
          "methods": {
            "list": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks",
              "description": "Lists all tracks.",
              "id": "androidpublisher.edits.tracks.list",
              "response": {
                "$ref": "TracksListResponse"
              },
              "parameters": {
                "editId": {
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "required": true,
                  "location": "path"
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "description": "Package name of the app.",
                  "type": "string"
                }
              }
            },
            "update": {
              "parameters": {
                "packageName": {
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path"
                },
                "editId": {
                  "required": true,
                  "location": "path",
                  "description": "Identifier of the edit.",
                  "type": "string"
                },
                "track": {
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the track.",
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "description": "Updates a track.",
              "response": {
                "$ref": "Track"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.edits.tracks.update",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "request": {
                "$ref": "Track"
              },
              "httpMethod": "PUT"
            },
            "get": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "response": {
                "$ref": "Track"
              },
              "httpMethod": "GET",
              "id": "androidpublisher.edits.tracks.get",
              "parameters": {
                "editId": {
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true
                },
                "packageName": {
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path"
                },
                "track": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the track."
                }
              },
              "description": "Gets a track.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "patch": {
              "response": {
                "$ref": "Track"
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "request": {
                "$ref": "Track"
              },
              "description": "Patches a track.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.edits.tracks.patch",
              "parameters": {
                "editId": {
                  "required": true,
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "location": "path"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "track": {
                  "description": "Identifier of the track.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "httpMethod": "PATCH"
            }
          }
        }
      },
      "methods": {
        "validate": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.edits.validate",
          "description": "Validates an app edit.",
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "response": {
            "$ref": "AppEdit"
          },
          "parameters": {
            "editId": {
              "type": "string",
              "description": "Identifier of the edit.",
              "required": true,
              "location": "path"
            },
            "packageName": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Package name of the app."
            }
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}:validate",
          "httpMethod": "POST",
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}:validate"
        },
        "delete": {
          "id": "androidpublisher.edits.delete",
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Deletes an app edit.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "parameters": {
            "editId": {
              "location": "path",
              "type": "string",
              "description": "Identifier of the edit.",
              "required": true
            },
            "packageName": {
              "required": true,
              "type": "string",
              "description": "Package name of the app.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "packageName",
            "editId"
          ]
        },
        "commit": {
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}:commit",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "AppEdit"
          },
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "id": "androidpublisher.edits.commit",
          "description": "Commits an app edit.",
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}:commit",
          "parameters": {
            "packageName": {
              "location": "path",
              "required": true,
              "description": "Package name of the app.",
              "type": "string"
            },
            "editId": {
              "location": "path",
              "required": true,
              "description": "Identifier of the edit.",
              "type": "string"
            }
          }
        },
        "insert": {
          "parameters": {
            "packageName": {
              "type": "string",
              "location": "path",
              "description": "Package name of the app.",
              "required": true
            }
          },
          "response": {
            "$ref": "AppEdit"
          },
          "request": {
            "$ref": "AppEdit"
          },
          "parameterOrder": [
            "packageName"
          ],
          "httpMethod": "POST",
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits",
          "path": "androidpublisher/v3/applications/{packageName}/edits",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Creates a new edit for an app.",
          "id": "androidpublisher.edits.insert"
        },
        "get": {
          "parameters": {
            "editId": {
              "description": "Identifier of the edit.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "packageName": {
              "description": "Package name of the app.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "androidpublisher.edits.get",
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "httpMethod": "GET",
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "response": {
            "$ref": "AppEdit"
          },
          "description": "Gets an app edit."
        }
      }
    },
    "inappproducts": {
      "methods": {
        "patch": {
          "response": {
            "$ref": "InAppProduct"
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "id": "androidpublisher.inappproducts.patch",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "PATCH",
          "description": "Patches an in-app product (i.e. a managed product or a subscriptions).",
          "request": {
            "$ref": "InAppProduct"
          },
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "sku": {
              "description": "Unique identifier for the in-app product.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "autoConvertMissingPrices": {
              "location": "query",
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
              "type": "boolean"
            }
          },
          "parameterOrder": [
            "packageName",
            "sku"
          ]
        },
        "insert": {
          "response": {
            "$ref": "InAppProduct"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "request": {
            "$ref": "InAppProduct"
          },
          "parameterOrder": [
            "packageName"
          ],
          "description": "Creates an in-app product (i.e. a managed product or a subscriptions).",
          "id": "androidpublisher.inappproducts.insert",
          "parameters": {
            "packageName": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Package name of the app."
            },
            "autoConvertMissingPrices": {
              "type": "boolean",
              "location": "query",
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false."
            }
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts"
        },
        "get": {
          "response": {
            "$ref": "InAppProduct"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "description": "Gets an in-app product, which can be a managed product or a subscription.",
          "httpMethod": "GET",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "id": "androidpublisher.inappproducts.get",
          "parameters": {
            "packageName": {
              "required": true,
              "description": "Package name of the app.",
              "location": "path",
              "type": "string"
            },
            "sku": {
              "type": "string",
              "description": "Unique identifier for the in-app product.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "packageName",
            "sku"
          ]
        },
        "list": {
          "parameterOrder": [
            "packageName"
          ],
          "response": {
            "$ref": "InappproductsListResponse"
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "httpMethod": "GET",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "description": "Lists all in-app products - both managed products and subscriptions.",
          "id": "androidpublisher.inappproducts.list",
          "parameters": {
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "uint32",
              "description": "How many results the list operation should return."
            },
            "startIndex": {
              "type": "integer",
              "description": "The index of the first element to return.",
              "format": "uint32",
              "location": "query"
            },
            "packageName": {
              "location": "path",
              "required": true,
              "description": "Package name of the app.",
              "type": "string"
            },
            "token": {
              "location": "query",
              "type": "string",
              "description": "Pagination token. If empty, list starts at the first product."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "update": {
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "request": {
            "$ref": "InAppProduct"
          },
          "parameters": {
            "sku": {
              "description": "Unique identifier for the in-app product.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "autoConvertMissingPrices": {
              "type": "boolean",
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
              "location": "query"
            }
          },
          "httpMethod": "PUT",
          "response": {
            "$ref": "InAppProduct"
          },
          "description": "Updates an in-app product (i.e. a managed product or a subscriptions).",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "id": "androidpublisher.inappproducts.update",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "delete": {
          "id": "androidpublisher.inappproducts.delete",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "parameters": {
            "sku": {
              "location": "path",
              "description": "Unique identifier for the in-app product.",
              "type": "string",
              "required": true
            },
            "packageName": {
              "required": true,
              "type": "string",
              "description": "Package name of the app.",
              "location": "path"
            }
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Deletes an in-app product (i.e. a managed product or a subscriptions)."
        }
      }
    },
    "purchases": {
      "resources": {
        "products": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "ProductPurchase"
              },
              "parameters": {
                "packageName": {
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "productId": {
                  "type": "string",
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1').",
                  "location": "path",
                  "required": true
                },
                "token": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The token provided to the user's device when the inapp product was purchased."
                }
              },
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ],
              "description": "Checks the purchase and consumption status of an inapp item.",
              "id": "androidpublisher.purchases.products.get",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}",
              "httpMethod": "GET"
            },
            "acknowledge": {
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.purchases.products.acknowledge",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:acknowledge",
              "parameters": {
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
                  "required": true
                },
                "productId": {
                  "type": "string",
                  "required": true,
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1').",
                  "location": "path"
                },
                "token": {
                  "location": "path",
                  "type": "string",
                  "description": "The token provided to the user's device when the inapp product was purchased.",
                  "required": true
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:acknowledge",
              "request": {
                "$ref": "ProductPurchasesAcknowledgeRequest"
              },
              "description": "Acknowledges a purchase of an inapp item."
            }
          }
        },
        "voidedpurchases": {
          "methods": {
            "list": {
              "response": {
                "$ref": "VoidedPurchasesListResponse"
              },
              "httpMethod": "GET",
              "description": "Lists the purchases that were canceled, refunded or charged-back.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/voidedpurchases",
              "id": "androidpublisher.purchases.voidedpurchases.list",
              "parameters": {
                "packageName": {
                  "location": "path",
                  "required": true,
                  "description": "The package name of the application for which voided purchases need to be returned (for example, 'com.some.thing').",
                  "type": "string"
                },
                "maxResults": {
                  "type": "integer",
                  "description": "Defines how many results the list operation should return. The default number depends on the resource collection.",
                  "location": "query",
                  "format": "uint32"
                },
                "type": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The type of voided purchases that you want to see in the response. Possible values are: 0. Only voided in-app product purchases will be returned in the response. This is the default value. 1. Both voided in-app purchases and voided subscription purchases will be returned in the response. Note: Before requesting to receive voided subscription purchases, you must switch to use orderId in the response which uniquely identifies one-time purchases and subscriptions. Otherwise, you will receive multiple subscription orders with the same PurchaseToken, because subscription renewal orders share the same PurchaseToken."
                },
                "startTime": {
                  "description": "The time, in milliseconds since the Epoch, of the oldest voided purchase that you want to see in the response. The value of this parameter cannot be older than 30 days and is ignored if a pagination token is set. Default value is current time minus 30 days. Note: This filter is applied on the time at which the record is seen as voided by our systems and not the actual voided time returned in the response.",
                  "location": "query",
                  "format": "int64",
                  "type": "string"
                },
                "endTime": {
                  "location": "query",
                  "description": "The time, in milliseconds since the Epoch, of the newest voided purchase that you want to see in the response. The value of this parameter cannot be greater than the current time and is ignored if a pagination token is set. Default value is current time. Note: This filter is applied on the time at which the record is seen as voided by our systems and not the actual voided time returned in the response.",
                  "type": "string",
                  "format": "int64"
                },
                "token": {
                  "location": "query",
                  "description": "Defines the token of the page to return, usually taken from TokenPagination. This can only be used if token paging is enabled.",
                  "type": "string"
                },
                "startIndex": {
                  "type": "integer",
                  "description": "Defines the index of the first element to return. This can only be used if indexed paging is enabled.",
                  "format": "uint32",
                  "location": "query"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/voidedpurchases",
              "parameterOrder": [
                "packageName"
              ]
            }
          }
        },
        "subscriptions": {
          "methods": {
            "revoke": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "id": "androidpublisher.purchases.subscriptions.revoke",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:revoke",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:revoke",
              "httpMethod": "POST",
              "parameters": {
                "token": {
                  "type": "string",
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "required": true,
                  "location": "path"
                },
                "subscriptionId": {
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "packageName": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing')."
                }
              },
              "description": "Refunds and immediately revokes a user's subscription purchase. Access to the subscription will be terminated immediately and it will stop recurring."
            },
            "defer": {
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "id": "androidpublisher.purchases.subscriptions.defer",
              "response": {
                "$ref": "SubscriptionPurchasesDeferResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Defers a user's subscription purchase until a specified future expiration time.",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer",
              "httpMethod": "POST",
              "parameters": {
                "subscriptionId": {
                  "location": "path",
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "type": "string",
                  "required": true
                },
                "token": {
                  "required": true,
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "location": "path",
                  "type": "string"
                },
                "packageName": {
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "SubscriptionPurchasesDeferRequest"
              }
            },
            "cancel": {
              "parameters": {
                "subscriptionId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The purchased subscription ID (for example, 'monthly001')."
                },
                "token": {
                  "type": "string",
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "location": "path",
                  "required": true
                },
                "packageName": {
[...]
