{
  "baseUrl": "https://androidmanagement.googleapis.com/",
  "name": "androidmanagement",
  "version_module": true,
  "basePath": "",
  "discoveryVersion": "v1",
  "version": "v1",
  "revision": "20230814",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "description": "The Android Management API provides remote enterprise management of Android devices and apps.",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidmanagement": {
          "description": "Manage Android devices and apps for your customers"
        }
      }
    }
  },
  "rootUrl": "https://androidmanagement.googleapis.com/",
  "mtlsRootUrl": "https://androidmanagement.mtls.googleapis.com/",
  "title": "Android Management API",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "canonicalName": "Android Management",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "documentationLink": "https://developers.google.com/android/management",
  "schemas": {
    "DeviceSettings": {
      "id": "DeviceSettings",
      "properties": {
        "verifyAppsEnabled": {
          "type": "boolean",
          "description": "Whether Google Play Protect verification (https://support.google.com/accounts/answer/2812853) is enforced on the device."
        },
        "isEncrypted": {
          "description": "Whether the storage encryption is enabled.",
          "type": "boolean"
        },
        "isDeviceSecure": {
          "description": "Whether the device is secured with PIN/password.",
          "type": "boolean"
        },
        "adbEnabled": {
          "description": "Whether ADB (https://developer.android.com/studio/command-line/adb.html) is enabled on the device.",
          "type": "boolean"
        },
        "encryptionStatus": {
          "description": "Encryption status from DevicePolicyManager.",
          "enumDescriptions": [
            "Unspecified. No device should have this type.",
            "Encryption is not supported by the device.",
            "Encryption is supported by the device, but is not currently active.",
            "Encryption is not currently active, but is currently being activated.",
            "Encryption is active.",
            "Encryption is active, but an encryption key is not set by the user.",
            "Encryption is active, and the encryption key is tied to the user profile."
          ],
          "type": "string",
          "enum": [
            "ENCRYPTION_STATUS_UNSPECIFIED",
            "UNSUPPORTED",
            "INACTIVE",
            "ACTIVATING",
            "ACTIVE",
            "ACTIVE_DEFAULT_KEY",
            "ACTIVE_PER_USER"
          ]
        },
        "unknownSourcesEnabled": {
          "type": "boolean",
          "description": "Whether installing apps from unknown sources is enabled."
        },
        "developmentSettingsEnabled": {
          "type": "boolean",
          "description": "Whether developer mode is enabled on the device."
        }
      },
      "description": "Information about security related device settings on device.",
      "type": "object"
    },
    "PermissionGrant": {
      "description": "Configuration for an Android permission and its grant state.",
      "properties": {
        "policy": {
          "type": "string",
          "enum": [
            "PERMISSION_POLICY_UNSPECIFIED",
            "PROMPT",
            "GRANT",
            "DENY"
          ],
          "description": "The policy for granting the permission.",
          "enumDescriptions": [
            "Policy not specified. If no policy is specified for a permission at any level, then the PROMPT behavior is used by default.",
            "Prompt the user to grant a permission.",
            "Automatically grant a permission.",
            "Automatically deny a permission."
          ]
        },
        "permission": {
          "description": "The Android permission or group, e.g. android.permission.READ_CALENDAR or android.permission_group.CALENDAR.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PermissionGrant"
    },
    "PolicyEnforcementRule": {
      "properties": {
        "settingName": {
          "type": "string",
          "description": "The top-level policy to enforce. For example, applications or passwordPolicies."
        },
        "blockAction": {
          "$ref": "BlockAction",
          "description": "An action to block access to apps and data on a company owned device or in a work profile. This action also triggers a user-facing notification with information (where possible) on how to correct the compliance issue. Note: wipeAction must also be specified."
        },
        "wipeAction": {
          "$ref": "WipeAction",
          "description": "An action to reset a company owned device or delete a work profile. Note: blockAction must also be specified."
        }
      },
      "type": "object",
      "description": "A rule that defines the actions to take if a device or work profile is not compliant with the policy specified in settingName. In the case of multiple matching or multiple triggered enforcement rules, a merge will occur with the most severe action being taken. However, all triggered rules are still kept track of: this includes initial trigger time and all associated non-compliance details. In the situation where the most severe enforcement rule is satisfied, the next most appropriate action is applied.",
      "id": "PolicyEnforcementRule"
    },
    "NonComplianceDetail": {
      "description": "Provides detail about non-compliance with a policy setting.",
      "properties": {
        "fieldPath": {
          "description": "For settings with nested fields, if a particular nested field is out of compliance, this specifies the full path to the offending field. The path is formatted in the same way the policy JSON field would be referenced in JavaScript, that is: 1) For object-typed fields, the field name is followed by a dot then by a subfield name. 2) For array-typed fields, the field name is followed by the array index enclosed in brackets. For example, to indicate a problem with the url field in the externalData field in the 3rd application, the path would be applications[2].externalData.url",
          "type": "string"
        },
        "specificNonComplianceReason": {
          "type": "string",
          "enumDescriptions": [
            "Specific non-compliance reason is not specified. Fields in specific_non_compliance_context are not set.",
            "User needs to confirm credentials by entering the screen lock. Fields in specific_non_compliance_context are not set. nonComplianceReason is set to USER_ACTION.",
            "The device or profile password has expired. passwordPoliciesContext is set. nonComplianceReason is set to USER_ACTION.",
            "The device password does not satisfy password requirements. passwordPoliciesContext is set. nonComplianceReason is set to USER_ACTION.",
            "There is an incorrect value in ONC Wi-Fi configuration. fieldPath specifies which field value is incorrect. oncWifiContext is set. nonComplianceReason is set to INVALID_VALUE.",
            "The ONC Wi-Fi setting is not supported in the API level of the Android version running on the device. fieldPath specifies which field value is not supported. oncWifiContext is set. nonComplianceReason is set to API_LEVEL.",
            "The enterprise Wi-Fi network is missing either the root CA or domain name. nonComplianceReason is set to INVALID_VALUE."
          ],
          "description": "The policy-specific reason the device is not in compliance with the setting.",
          "enum": [
            "SPECIFIC_NON_COMPLIANCE_REASON_UNSPECIFIED",
            "PASSWORD_POLICIES_USER_CREDENTIALS_CONFIRMATION_REQUIRED",
            "PASSWORD_POLICIES_PASSWORD_EXPIRED",
            "PASSWORD_POLICIES_PASSWORD_NOT_SUFFICIENT",
            "ONC_WIFI_INVALID_VALUE",
            "ONC_WIFI_API_LEVEL",
            "ONC_WIFI_INVALID_ENTERPRISE_CONFIG"
          ]
        },
        "packageName": {
          "type": "string",
          "description": "The package name indicating which app is out of compliance, if applicable."
        },
        "specificNonComplianceContext": {
          "$ref": "SpecificNonComplianceContext",
          "description": "Additional context for specific_non_compliance_reason."
        },
        "currentValue": {
          "description": "If the policy setting could not be applied, the current value of the setting on the device.",
          "type": "any"
        },
        "settingName": {
          "description": "The name of the policy setting. This is the JSON field name of a top-level Policy field.",
          "type": "string"
        },
        "nonComplianceReason": {
          "type": "string",
          "description": "The reason the device is not in compliance with the setting.",
          "enum": [
            "NON_COMPLIANCE_REASON_UNSPECIFIED",
            "API_LEVEL",
            "MANAGEMENT_MODE",
            "USER_ACTION",
            "INVALID_VALUE",
            "APP_NOT_INSTALLED",
            "UNSUPPORTED",
            "APP_INSTALLED",
            "PENDING",
            "APP_INCOMPATIBLE",
            "APP_NOT_UPDATED",
            "DEVICE_INCOMPATIBLE"
          ],
          "enumDescriptions": [
            "This value is disallowed.",
            "The setting is not supported in the API level of the Android version running on the device.",
            "The management mode (profile owner, device owner, etc.) doesn't support the setting.",
            "The user has not taken required action to comply with the setting.",
            "The setting has an invalid value.",
            "The app required to implement the policy is not installed.",
            "The policy is not supported by the version of Android Device Policy on the device.",
            "A blocked app is installed.",
            "The setting hasn't been applied at the time of the report, but is expected to be applied shortly.",
            "The setting can't be applied to the app because the app doesn't support it, for example because its target SDK version is not high enough.",
            "The app is installed, but it hasn't been updated to the minimum version code specified by policy.",
            "The device is incompatible with the policy requirements."
          ]
        },
        "installationFailureReason": {
          "type": "string",
          "description": "If package_name is set and the non-compliance reason is APP_NOT_INSTALLED or APP_NOT_UPDATED, the detailed reason the app can't be installed or updated.",
          "enumDescriptions": [
            "This value is disallowed.",
            "An unknown condition is preventing the app from being installed. Some potential reasons are that the device doesn't have enough storage, the device network connection is unreliable, or the installation is taking longer than expected. The installation will be retried automatically.",
            "The installation is still in progress.",
            "The app was not found in Play.",
            "The app is incompatible with the device.",
            "The app has not been approved by the admin.",
            "The app has new permissions that have not been accepted by the admin.",
            "The app is not available in the user's country.",
            "There are no licenses available to assign to the user.",
            "The enterprise is no longer enrolled with Managed Google Play or the admin has not accepted the latest Managed Google Play Terms of Service.",
            "The user is no longer valid. The user may have been deleted or disabled."
          ],
          "enum": [
            "INSTALLATION_FAILURE_REASON_UNSPECIFIED",
            "INSTALLATION_FAILURE_REASON_UNKNOWN",
            "IN_PROGRESS",
            "NOT_FOUND",
            "NOT_COMPATIBLE_WITH_DEVICE",
            "NOT_APPROVED",
            "PERMISSIONS_NOT_ACCEPTED",
            "NOT_AVAILABLE_IN_COUNTRY",
            "NO_LICENSES_REMAINING",
            "NOT_ENROLLED",
            "USER_INVALID"
          ]
        }
      },
      "id": "NonComplianceDetail",
      "type": "object"
    },
    "LaunchAppAction": {
      "description": "An action to launch an app.",
      "properties": {
        "packageName": {
          "description": "Package name of app to be launched",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LaunchAppAction"
    },
    "StopLostModeUserAttemptEvent": {
      "type": "object",
      "id": "StopLostModeUserAttemptEvent",
      "properties": {
        "status": {
          "type": "string",
          "enumDescriptions": [
            "This value is not used.",
            "Indicates that the user successfully stopped lost mode.",
            "Indicates that the user's attempt to stop lost mode failed."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "ATTEMPT_SUCCEEDED",
            "ATTEMPT_FAILED"
          ],
          "description": "The status of the attempt to stop lost mode."
        }
      },
      "description": "A lost mode event indicating the user has attempted to stop lost mode."
    },
    "RemoteLockEvent": {
      "id": "RemoteLockEvent",
      "properties": {
        "targetUserId": {
          "description": "User ID in which the change was requested in.",
          "format": "int32",
          "type": "integer"
        },
        "adminUserId": {
          "format": "int32",
          "type": "integer",
          "description": "User ID of the admin app from the which the change was requested."
        },
        "adminPackageName": {
          "description": "Package name of the admin app requesting the change.",
          "type": "string"
        }
      },
      "description": "The device or profile has been remotely locked via the LOCK command.",
      "type": "object"
    },
    "FilePushedEvent": {
      "properties": {
        "filePath": {
          "description": "The path of the file being pushed.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "FilePushedEvent",
      "description": "A file was uploaded onto the device."
    },
    "OsShutdownEvent": {
      "properties": {},
      "description": "Device was shutdown. Intentionally empty.",
      "type": "object",
      "id": "OsShutdownEvent"
    },
    "OncWifiContext": {
      "type": "object",
      "description": "Additional context for non-compliance related to Wi-Fi configuration.",
      "id": "OncWifiContext",
      "properties": {
        "wifiGuid": {
          "type": "string",
          "description": "The GUID of non-compliant Wi-Fi configuration."
        }
      }
    },
    "WebToken": {
      "properties": {
        "enabledFeatures": {
          "description": "The features to enable. Use this if you want to control exactly which feature(s) will be activated; leave empty to allow all features.Restrictions / things to note: - If no features are listed here, all features are enabled — this is the default behavior where you give access to all features to your admins. - This must not contain any FEATURE_UNSPECIFIED values. - Repeated values are ignored ",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified feature.",
              "The Managed Play search apps page (https://developers.google.com/android/management/apps#search-apps).",
              "The private apps page (https://developers.google.com/android/management/apps#private-apps).",
              "The Web Apps page (https://developers.google.com/android/management/apps#web-apps).",
              "The organize apps page (https://developers.google.com/android/management/apps#organize-apps).",
              "The managed configurations page (https://developers.google.com/android/management/managed-configurations-iframe).",
              "The zero-touch iframe (https://developers.google.com/android/management/zero-touch-iframe)."
            ],
            "enum": [
              "FEATURE_UNSPECIFIED",
              "PLAY_SEARCH",
              "PRIVATE_APPS",
              "WEB_APPS",
              "STORE_BUILDER",
              "MANAGED_CONFIGURATIONS",
              "ZERO_TOUCH_CUSTOMER_MANAGEMENT"
            ]
          }
        },
        "permissions": {
          "description": "Permissions available to an admin in the embedded UI. An admin must have all of these permissions in order to view the UI. This field is deprecated.",
          "deprecated": true,
          "type": "array",
          "items": {
            "enumDescriptions": [
              "This value is ignored.",
              "The permission to approve apps for the enterprise."
            ],
            "enum": [
              "WEB_TOKEN_PERMISSION_UNSPECIFIED",
              "APPROVE_APPS"
            ],
            "type": "string"
          }
        },
        "parentFrameUrl": {
          "description": "The URL of the parent frame hosting the iframe with the embedded UI. To prevent XSS, the iframe may not be hosted at other URLs. The URL must use the https scheme.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The token value which is used in the hosting page to generate the iframe with the embedded UI. This is a read-only field generated by the server."
        },
        "name": {
          "description": "The name of the web token, which is generated by the server during creation in the form enterprises/{enterpriseId}/webTokens/{webTokenId}.",
          "type": "string"
        }
      },
      "id": "WebToken",
      "type": "object",
      "description": "A web token used to access the managed Google Play iframe."
    },
    "AdbShellCommandEvent": {
      "properties": {
        "shellCmd": {
          "type": "string",
          "description": "Shell command that was issued over ADB via \"adb shell command\". Redacted to empty string on organization-owned managed profile devices."
        }
      },
      "id": "AdbShellCommandEvent",
      "description": "A shell command was issued over ADB via “adb shell command”.",
      "type": "object"
    },
    "PersonalUsagePolicies": {
      "id": "PersonalUsagePolicies",
      "type": "object",
      "description": "Policies controlling personal usage on a company-owned device with a work profile.",
      "properties": {
        "personalApplications": {
          "description": "Policy applied to applications in the personal profile.",
          "items": {
            "$ref": "PersonalApplicationPolicy"
          },
          "type": "array"
        },
        "maxDaysWithWorkOff": {
          "type": "integer",
          "format": "int32",
          "description": "Controls how long the work profile can stay off. The duration must be at least 3 days."
        },
        "screenCaptureDisabled": {
          "description": "If true, screen capture is disabled for all users.",
          "type": "boolean"
        },
        "personalPlayStoreMode": {
          "enumDeprecated": [
            false,
            true,
            false,
            false
          ],
          "enum": [
            "PLAY_STORE_MODE_UNSPECIFIED",
            "BLACKLIST",
            "BLOCKLIST",
            "ALLOWLIST"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Defaults to BLOCKLIST.",
            "All Play Store apps are available for installation in the personal profile, except those whose installType is BLOCKED in personalApplications.",
            "All Play Store apps are available for installation in the personal profile, except those whose installType is BLOCKED in personalApplications.",
            "Only apps explicitly specified in personalApplications with installType set to AVAILABLE are allowed to be installed in the personal profile."
          ],
          "description": "Used together with personalApplications to control how apps in the personal profile are allowed or blocked."
        },
        "cameraDisabled": {
          "description": "If true, the camera is disabled on the personal profile.",
          "type": "boolean"
        },
        "accountTypesWithManagementDisabled": {
          "items": {
            "type": "string"
          },
          "description": "Account types that can't be managed by the user.",
          "type": "array"
        }
      }
    },
    "Display": {
      "description": "Device display information.",
      "type": "object",
      "properties": {
        "density": {
          "type": "integer",
          "format": "int32",
          "description": "Display density expressed as dots-per-inch."
        },
        "state": {
          "description": "State of the display.",
          "enum": [
            "DISPLAY_STATE_UNSPECIFIED",
            "OFF",
            "ON",
            "DOZE",
            "SUSPENDED"
          ],
          "type": "string",
          "enumDescriptions": [
            "This value is disallowed.",
            "Display is off.",
            "Display is on.",
            "Display is dozing in a low power state",
            "Display is dozing in a suspended low power state."
          ]
        },
        "name": {
          "type": "string",
          "description": "Name of the display."
        },
        "refreshRate": {
          "description": "Refresh rate of the display in frames per second.",
          "type": "integer",
          "format": "int32"
        },
        "width": {
          "description": "Display width in pixels.",
          "type": "integer",
          "format": "int32"
        },
        "height": {
          "type": "integer",
          "description": "Display height in pixels.",
          "format": "int32"
        },
        "displayId": {
          "format": "int32",
          "type": "integer",
          "description": "Unique display id."
        }
      },
      "id": "Display"
    },
    "WebAppIcon": {
      "description": "An icon for a web app. Supported formats are: png, jpg and webp.",
      "type": "object",
      "properties": {
        "imageData": {
          "type": "string",
          "description": "The actual bytes of the image in a base64url encoded string (c.f. RFC4648, section 5 \"Base 64 Encoding with URL and Filename Safe Alphabet\"). - The image type can be png or jpg. - The image should ideally be square. - The image should ideally have a size of 512x512. "
        }
      },
      "id": "WebAppIcon"
    },
    "Date": {
      "properties": {
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        },
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        },
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        }
      },
      "id": "Date",
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: A full date, with non-zero year, month, and day values. A month and day, with a zero year (for example, an anniversary). A year on its own, with a zero month and a zero day. A year and month, with a zero day (for example, a credit card expiration date).Related types: google.type.TimeOfDay google.type.DateTime google.protobuf.Timestamp"
    },
    "KeyguardDismissedEvent": {
      "id": "KeyguardDismissedEvent",
      "properties": {},
      "type": "object",
      "description": "The keyguard was dismissed. Intentionally empty."
    },
    "ExternalData": {
      "description": "Data hosted at an external location. The data is to be downloaded by Android Device Policy and verified against the hash.",
      "type": "object",
      "properties": {
        "url": {
          "description": "The absolute URL to the data, which must use either the http or https scheme. Android Device Policy doesn't provide any credentials in the GET request, so the URL must be publicly accessible. Including a long, random component in the URL may be used to prevent attackers from discovering the URL.",
          "type": "string"
        },
        "sha256Hash": {
          "description": "The base-64 encoded SHA-256 hash of the content hosted at url. If the content doesn't match this hash, Android Device Policy won't use the data.",
          "type": "string"
        }
      },
      "id": "ExternalData"
    },
    "DnsEvent": {
      "properties": {
        "totalIpAddressesReturned": {
          "type": "string",
          "description": "The number of IP addresses returned from the DNS lookup event. May be higher than the amount of ip_addresses if there were too many addresses to log.",
          "format": "int64"
        },
        "hostname": {
          "type": "string",
          "description": "The hostname that was looked up."
        },
        "packageName": {
          "type": "string",
          "description": "The package name of the UID that performed the DNS lookup."
        },
        "ipAddresses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The (possibly truncated) list of the IP addresses returned for DNS lookup (max 10 IPv4 or IPv6 addresses)."
        }
      },
      "id": "DnsEvent",
      "description": "A DNS lookup event was initiated through the standard network stack.",
      "type": "object"
    },
    "LostModeLocationEvent": {
      "type": "object",
      "properties": {
        "location": {
          "description": "The device location",
          "$ref": "Location"
        },
        "batteryLevel": {
          "description": "The battery level as a number between 0 and 100 inclusive",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "A lost mode event containing the device location and battery level as a percentage.",
      "id": "LostModeLocationEvent"
    },
    "StatusReportingSettings": {
      "description": "Settings controlling the behavior of status reports.",
      "properties": {
        "applicationReportingSettings": {
          "$ref": "ApplicationReportingSettings",
          "description": "Application reporting settings. Only applicable if application_reports_enabled is true."
        },
        "hardwareStatusEnabled": {
          "type": "boolean",
          "description": "Whether hardware status reporting is enabled. Report data is not available for personally owned devices with work profiles."
        },
        "powerManagementEventsEnabled": {
          "type": "boolean",
          "description": "Whether power management event reporting is enabled. Report data is not available for personally owned devices with work profiles."
        },
        "softwareInfoEnabled": {
          "type": "boolean",
          "description": "Whether software info reporting is enabled."
        },
        "applicationReportsEnabled": {
          "type": "boolean",
          "description": "Whether app reports are enabled."
        },
        "deviceSettingsEnabled": {
          "type": "boolean",
          "description": "Whether device settings reporting is enabled."
        },
        "commonCriteriaModeEnabled": {
          "description": "Whether Common Criteria Mode reporting is enabled.",
          "type": "boolean"
        },
        "displayInfoEnabled": {
          "description": "Whether displays reporting is enabled. Report data is not available for personally owned devices with work profiles.",
          "type": "boolean"
        },
        "systemPropertiesEnabled": {
          "description": "Whether system properties reporting is enabled.",
          "type": "boolean"
        },
        "memoryInfoEnabled": {
          "type": "boolean",
          "description": "Whether memory event reporting is enabled."
        },
        "networkInfoEnabled": {
          "type": "boolean",
          "description": "Whether network info reporting is enabled."
        }
      },
      "type": "object",
      "id": "StatusReportingSettings"
    },
    "PersonalApplicationPolicy": {
      "id": "PersonalApplicationPolicy",
      "description": "Policies for apps in the personal profile of a company-owned device with a work profile.",
      "type": "object",
      "properties": {
        "packageName": {
          "description": "The package name of the application.",
          "type": "string"
        },
        "installType": {
          "description": "The type of installation to perform.",
          "enumDescriptions": [
            "Unspecified. Defaults to AVAILABLE.",
            "The app is blocked and can't be installed in the personal profile.",
            "The app is available to install in the personal profile."
          ],
          "type": "string",
          "enum": [
            "INSTALL_TYPE_UNSPECIFIED",
            "BLOCKED",
            "AVAILABLE"
          ]
        }
      }
    },
    "KeyGeneratedEvent": {
      "properties": {
        "keyAlias": {
          "description": "Alias of the key.",
          "type": "string"
        },
        "applicationUid": {
          "format": "int32",
          "type": "integer",
          "description": "UID of the application which generated the key."
        },
        "success": {
          "type": "boolean",
          "description": "Whether the operation was successful."
        }
      },
      "type": "object",
      "description": "A cryptographic key including user installed, admin installed and system maintained private key is installed on the device either by the user or management.This is available device-wide on fully managed devices and within the work profile on organization-owned devices with a work profile.",
      "id": "KeyGeneratedEvent"
    },
    "Status": {
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      }
    },
    "FilePulledEvent": {
      "description": "A file was downloaded from the device.",
      "properties": {
        "filePath": {
          "type": "string",
          "description": "The path of the file being pulled."
        }
      },
      "type": "object",
      "id": "FilePulledEvent"
    },
    "TermsAndConditions": {
      "properties": {
        "content": {
          "$ref": "UserFacingMessage",
          "description": "A well-formatted HTML string. It will be parsed on the client with android.text.Html#fromHtml."
        },
        "header": {
          "$ref": "UserFacingMessage",
          "description": "A short header which appears above the HTML content."
        }
      },
      "type": "object",
      "description": "A terms and conditions page to be accepted during provisioning.",
      "id": "TermsAndConditions"
    },
    "UsageLogEvent": {
      "id": "UsageLogEvent",
      "description": "An event logged on the device.",
      "type": "object",
      "properties": {
        "keyguardSecuredEvent": {
          "$ref": "KeyguardSecuredEvent",
          "description": "The device was locked either by user or timeout. Part of SECURITY_LOGS."
        },
        "keyguardDismissAuthAttemptEvent": {
          "$ref": "KeyguardDismissAuthAttemptEvent",
          "description": "An attempt was made to unlock the device. Part of SECURITY_LOGS."
        },
        "keyIntegrityViolationEvent": {
          "description": "A cryptographic key including user installed, admin installed and system maintained private key is determined to be corrupted due to storage corruption, hardware failure or some OS issue. Part of SECURITY_LOGS.",
          "$ref": "KeyIntegrityViolationEvent"
        },
        "certAuthorityInstalledEvent": {
          "$ref": "CertAuthorityInstalledEvent",
          "description": "A new root certificate was installed into the system's trusted credential storage. Part of SECURITY_LOGS."
        },
        "adbShellCommandEvent": {
          "$ref": "AdbShellCommandEvent",
          "description": "A shell command was issued over ADB via “adb shell command”. Part of SECURITY_LOGS."
        },
        "filePulledEvent": {
          "description": "A file was downloaded from the device. Part of SECURITY_LOGS.",
          "$ref": "FilePulledEvent"
        },
        "osStartupEvent": {
          "$ref": "OsStartupEvent",
          "description": "Device was started. Part of SECURITY_LOGS."
        },
        "stopLostModeUserAttemptEvent": {
          "$ref": "StopLostModeUserAttemptEvent",
          "description": "An attempt to take a device out of lost mode."
        },
        "connectEvent": {
          "$ref": "ConnectEvent",
          "description": "A TCP connect event was initiated through the standard network stack. Part of NETWORK_ACTIVITY_LOGS."
        },
        "dnsEvent": {
          "$ref": "DnsEvent",
          "description": "A DNS lookup event was initiated through the standard network stack. Part of NETWORK_ACTIVITY_LOGS."
        },
        "certValidationFailureEvent": {
          "$ref": "CertValidationFailureEvent",
          "description": "An X.509v3 certificate failed to validate, currently this validation is performed on the Wi-FI access point and failure may be due to a mismatch upon server certificate validation. However it may in the future include other validation events of an X.509v3 certificate. Part of SECURITY_LOGS."
        },
        "loggingStartedEvent": {
          "description": "usageLog policy has been enabled. Part of SECURITY_LOGS.",
          "$ref": "LoggingStartedEvent"
        },
        "loggingStoppedEvent": {
          "$ref": "LoggingStoppedEvent",
          "description": "usageLog policy has been disabled. Part of SECURITY_LOGS."
        },
        "eventId": {
          "description": "Unique id of the event.",
          "type": "string",
          "format": "int64"
        },
        "wipeFailureEvent": {
          "description": "The work profile or company-owned device failed to wipe when requested. This could be user initiated or admin initiated e.g. delete was received. Part of SECURITY_LOGS.",
          "$ref": "WipeFailureEvent"
        },
        "keyDestructionEvent": {
          "$ref": "KeyDestructionEvent",
          "description": "A cryptographic key including user installed, admin installed and system maintained private key is removed from the device either by the user or management. Part of SECURITY_LOGS."
        },
        "osShutdownEvent": {
          "description": "Device was shutdown. Part of SECURITY_LOGS.",
          "$ref": "OsShutdownEvent"
        },
        "adbShellInteractiveEvent": {
          "$ref": "AdbShellInteractiveEvent",
          "description": "An ADB interactive shell was opened via “adb shell”. Part of SECURITY_LOGS."
        },
        "lostModeOutgoingPhoneCallEvent": {
          "description": "An outgoing phone call has been made when a device in lost mode.",
          "$ref": "LostModeOutgoingPhoneCallEvent"
        },
        "cryptoSelfTestCompletedEvent": {
          "$ref": "CryptoSelfTestCompletedEvent",
          "description": "Validates whether Android’s built-in cryptographic library (BoringSSL) is valid. Should always succeed on device boot, if it fails, the device should be considered untrusted. Part of SECURITY_LOGS."
        },
        "enrollmentCompleteEvent": {
          "description": "Device has completed enrollment. Part of AMAPI_LOGS.",
          "$ref": "EnrollmentCompleteEvent"
        },
        "filePushedEvent": {
          "$ref": "FilePushedEvent",
          "description": "A file was uploaded onto the device. Part of SECURITY_LOGS."
        },
        "eventTime": {
          "type": "string",
          "description": "Device timestamp when the event was logged.",
          "format": "google-datetime"
        },
        "keyImportEvent": {
          "$ref": "KeyImportEvent",
          "description": "A cryptographic key including user installed, admin installed and system maintained private key is imported on the device either by the user or management. Part of SECURITY_LOGS."
        },
        "logBufferSizeCriticalEvent": {
          "description": "The audit log buffer has reached 90% of its capacity, therefore older events may be dropped. Part of SECURITY_LOGS.",
          "$ref": "LogBufferSizeCriticalEvent"
        },
        "appProcessStartEvent": {
          "description": "An app process was started. Part of SECURITY_LOGS.",
          "$ref": "AppProcessStartEvent"
        },
        "keyGeneratedEvent": {
          "$ref": "KeyGeneratedEvent",
          "description": "A cryptographic key including user installed, admin installed and system maintained private key is installed on the device either by the user or management. Part of SECURITY_LOGS."
        },
        "mediaUnmountEvent": {
          "description": "Removable media was unmounted. Part of SECURITY_LOGS.",
          "$ref": "MediaUnmountEvent"
        },
        "keyguardDismissedEvent": {
          "description": "The keyguard was dismissed. Part of SECURITY_LOGS.",
          "$ref": "KeyguardDismissedEvent"
        },
        "eventType": {
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "ADB_SHELL_COMMAND",
            "ADB_SHELL_INTERACTIVE",
            "APP_PROCESS_START",
            "KEYGUARD_DISMISSED",
            "KEYGUARD_DISMISS_AUTH_ATTEMPT",
            "KEYGUARD_SECURED",
            "FILE_PULLED",
            "FILE_PUSHED",
            "CERT_AUTHORITY_INSTALLED",
            "CERT_AUTHORITY_REMOVED",
            "CERT_VALIDATION_FAILURE",
            "CRYPTO_SELF_TEST_COMPLETED",
            "KEY_DESTRUCTION",
            "KEY_GENERATED",
            "KEY_IMPORT",
            "KEY_INTEGRITY_VIOLATION",
            "LOGGING_STARTED",
            "LOGGING_STOPPED",
            "LOG_BUFFER_SIZE_CRITICAL",
            "MEDIA_MOUNT",
            "MEDIA_UNMOUNT",
            "OS_SHUTDOWN",
            "OS_STARTUP",
            "REMOTE_LOCK",
            "WIPE_FAILURE",
            "CONNECT",
            "DNS",
            "STOP_LOST_MODE_USER_ATTEMPT",
            "LOST_MODE_OUTGOING_PHONE_CALL",
            "LOST_MODE_LOCATION",
            "ENROLLMENT_COMPLETE"
          ],
          "enumDescriptions": [
            "This value is not used",
            "Indicates adb_shell_command_event has been set.",
            "Indicates adb_shell_interactive_event has been set.",
            "Indicates app_process_start_event has been set.",
            "Indicates keyguard_dismissed_event has been set.",
            "Indicates keyguard_dismiss_auth_attempt_event has been set.",
            "Indicates keyguard_secured_event has been set.",
            "Indicates file_pulled_event has been set.",
            "Indicates file_pushed_event has been set.",
            "Indicates cert_authority_installed_event has been set.",
            "Indicates cert_authority_removed_event has been set.",
            "Indicates cert_validation_failure_event has been set.",
            "Indicates crypto_self_test_completed_event has been set.",
            "Indicates key_destruction_event has been set.",
            "Indicates key_generated_event has been set.",
            "Indicates key_import_event has been set.",
            "Indicates key_integrity_violation_event has been set.",
            "Indicates logging_started_event has been set.",
            "Indicates logging_stopped_event has been set.",
            "Indicates log_buffer_size_critical_event has been set.",
            "Indicates media_mount_event has been set.",
            "Indicates media_unmount_event has been set.",
            "Indicates os_shutdown_event has been set.",
            "Indicates os_startup_event has been set.",
            "Indicates remote_lock_event has been set.",
            "Indicates wipe_failure_event has been set.",
            "Indicates connect_event has been set.",
            "Indicates dns_event has been set.",
            "Indicates stopLostModeUserAttemptEvent has been set.",
            "Indicates lostModeOutgoingPhoneCallEvent has been set.",
            "Indicates lostModeLocationEvent has been set.",
            "Indicates enrollment_complete_event has been set."
          ],
          "type": "string",
          "description": "The particular usage log event type that was reported on the device. Use this to determine which event field to access."
        },
        "remoteLockEvent": {
          "description": "The device or profile has been remotely locked via the LOCK command. Part of SECURITY_LOGS.",
          "$ref": "RemoteLockEvent"
        },
        "mediaMountEvent": {
          "$ref": "MediaMountEvent",
          "description": "Removable media was mounted. Part of SECURITY_LOGS."
        },
        "certAuthorityRemovedEvent": {
          "description": "A root certificate was removed from the system's trusted credential storage. Part of SECURITY_LOGS.",
          "$ref": "CertAuthorityRemovedEvent"
        },
        "lostModeLocationEvent": {
          "$ref": "LostModeLocationEvent",
          "description": "A lost mode location update when a device in lost mode."
        }
      }
    },
    "Application": {
      "description": "Information about an app.",
      "type": "object",
      "id": "Application",
      "properties": {
        "distributionChannel": {
          "type": "string",
          "enum": [
            "DISTRIBUTION_CHANNEL_UNSPECIFIED",
            "PUBLIC_GOOGLE_HOSTED",
            "PRIVATE_GOOGLE_HOSTED",
            "PRIVATE_SELF_HOSTED"
          ],
          "description": "How and to whom the package is made available.",
          "enumDescriptions": [
            "Unspecified.",
            "Package is available through the Play store and not restricted to a specific enterprise.",
            "Package is a private app (restricted to an enterprise) but hosted by Google.",
            "Private app (restricted to an enterprise) and is privately hosted."
          ]
        },
        "smallIconUrl": {
          "description": "A link to a smaller image that can be used as an icon for the app. This image is suitable for use up to a pixel size of 128 x 128.",
          "type": "string"
        },
        "appVersions": {
          "items": {
            "$ref": "AppVersion"
          },
          "type": "array",
          "description": "Versions currently available for this app."
        },
        "recentChanges": {
          "description": "A localised description of the recent changes made to the app.",
          "type": "string"
        },
        "iconUrl": {
          "description": "A link to an image that can be used as an icon for the app. This image is suitable for use up to a pixel size of 512 x 512.",
          "type": "string"
        },
        "category": {
          "type": "string",
          "description": "The app category (e.g. RACING, SOCIAL, etc.)"
        },
        "updateTime": {
          "description": "Output only. The approximate time (within 7 days) the app was last published.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "title": {
          "type": "string",
          "description": "The title of the app. Localized."
        },
        "appPricing": {
          "enumDescriptions": [
            "Unknown pricing, used to denote an approved app that is not generally available.",
            "The app is free.",
            "The app is free, but offers in-app purchases.",
            "The app is paid."
          ],
          "type": "string",
          "description": "Whether this app is free, free with in-app purchases, or paid. If the pricing is unspecified, this means the app is not generally available anymore (even though it might still be available to people who own it).",
          "enum": [
            "APP_PRICING_UNSPECIFIED",
            "FREE",
            "FREE_WITH_IN_APP_PURCHASE",
            "PAID"
          ]
        },
        "minAndroidSdkVersion": {
          "type": "integer",
          "description": "The minimum Android SDK necessary to run the app.",
          "format": "int32"
        },
        "author": {
          "type": "string",
          "description": "The name of the author of the apps (for example, the app developer)."
        },
        "appTracks": {
          "description": "Application tracks visible to the enterprise.",
          "items": {
            "$ref": "AppTrackInfo"
          },
          "type": "array"
        },
        "availableCountries": {
          "description": "The countries which this app is available in as per ISO 3166-1 alpha-2.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "contentRating": {
          "enum": [
            "CONTENT_RATING_UNSPECIFIED",
            "THREE_YEARS",
            "SEVEN_YEARS",
            "TWELVE_YEARS",
            "SIXTEEN_YEARS",
            "EIGHTEEN_YEARS"
          ],
          "type": "string",
          "description": "The content rating for this app.",
          "enumDescriptions": [
            "Unspecified.",
            "Content suitable for ages 3 and above only.",
            "Content suitable for ages 7 and above only.",
            "Content suitable for ages 12 and above only.",
            "Content suitable for ages 16 and above only.",
            "Content suitable for ages 18 and above only."
          ]
        },
        "permissions": {
          "items": {
            "$ref": "ApplicationPermission"
          },
          "type": "array",
          "description": "The permissions required by the app."
        },
        "screenshotUrls": {
          "description": "A list of screenshot links representing the app.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "The localized promotional description, if available."
        },
        "name": {
          "description": "The name of the app in the form enterprises/{enterprise}/applications/{package_name}.",
          "type": "string"
        },
        "fullDescription": {
          "type": "string",
          "description": "Full app description, if available."
        },
        "features": {
          "description": "Noteworthy features (if any) of this app.",
          "items": {
            "enum": [
              "APP_FEATURE_UNSPECIFIED",
              "VPN_APP"
            ],
            "enumDescriptions": [
              "Unspecified.",
              "The app is a VPN."
            ],
            "type": "string"
          },
          "type": "array"
        },
        "managedProperties": {
          "description": "The set of managed properties available to be pre-configured for the app.",
          "items": {
            "$ref": "ManagedProperty"
          },
          "type": "array"
        },
        "playStoreUrl": {
          "type": "string",
          "description": "A link to the (consumer) Google Play details page for the app."
        }
      }
    },
    "CryptoSelfTestCompletedEvent": {
      "id": "CryptoSelfTestCompletedEvent",
      "description": "Validates whether Android’s built-in cryptographic library (BoringSSL) is valid. Should always succeed on device boot, if it fails, the device should be considered untrusted.",
      "type": "object",
      "properties": {
        "success": {
          "description": "Whether the test succeeded.",
          "type": "boolean"
        }
      }
    },
    "SecurityPosture": {
      "properties": {
        "postureDetails": {
          "type": "array",
          "description": "Additional details regarding the security posture of the device.",
          "items": {
            "$ref": "PostureDetail"
          }
        },
        "devicePosture": {
          "enum": [
            "POSTURE_UNSPECIFIED",
            "SECURE",
            "AT_RISK",
            "POTENTIALLY_COMPROMISED"
          ],
          "type": "string",
          "description": "Device's security posture value.",
          "enumDescriptions": [
            "Unspecified. There is no posture detail for this posture value.",
            "This device is secure.",
            "This device may be more vulnerable to malicious actors than is recommended for use with corporate data.",
            "This device may be compromised and corporate data may be accessible to unauthorized actors."
          ]
        }
      },
      "id": "SecurityPosture",
      "description": "The security posture of the device, as determined by the current device state and the policies applied.",
      "type": "object"
    },
    "ApplicationPolicy": {
      "type": "object",
      "properties": {
        "installType": {
          "enumDescriptions": [
            "Unspecified. Defaults to AVAILABLE.",
            "The app is automatically installed and can be removed by the user.",
            "The app is automatically installed and can't be removed by the user.",
            "The app is blocked and can't be installed. If the app was installed under a previous policy, it will be uninstalled. This also blocks its instant app functionality.",
            "The app is available to install.",
            "The app is automatically installed and can't be removed by the user and will prevent setup from completion until installation is complete.",
            "The app is automatically installed in kiosk mode: it's set as the preferred home intent and whitelisted for lock task mode. Device setup won't complete until the app is installed. After installation, users won't be able to remove the app. You can only set this installType for one app per policy. When this is present in the policy, status bar will be automatically disabled."
          ],
          "description": "The type of installation to perform.",
          "type": "string",
          "enum": [
            "INSTALL_TYPE_UNSPECIFIED",
            "PREINSTALLED",
            "FORCE_INSTALLED",
            "BLOCKED",
            "AVAILABLE",
            "REQUIRED_FOR_SETUP",
            "KIOSK"
          ]
        },
        "disabled": {
          "description": "Whether the app is disabled. When disabled, the app data is still preserved.",
          "type": "boolean"
        },
        "permissionGrants": {
          "type": "array",
          "items": {
            "$ref": "PermissionGrant"
          },
          "description": "Explicit permission grants or denials for the app. These values override the default_permission_policy and permission_grants which apply to all apps."
        },
        "autoUpdateMode": {
          "type": "string",
          "enum": [
            "AUTO_UPDATE_MODE_UNSPECIFIED",
            "AUTO_UPDATE_DEFAULT",
            "AUTO_UPDATE_POSTPONED",
            "AUTO_UPDATE_HIGH_PRIORITY"
          ],
          "enumDescriptions": [
            "Unspecified. Defaults to AUTO_UPDATE_DEFAULT.",
            "The app is automatically updated with low priority to minimize the impact on the user.The app is updated when all of the following constraints are met: The device is not actively used. The device is connected to an unmetered network. The device is charging.The device is notified about a new update within 24 hours after it is published by the developer, after which the app is updated the next time the constraints above are met.",
            "The app is not automatically updated for a maximum of 90 days after the app becomes out of date.90 days after the app becomes out of date, the latest available version is installed automatically with low priority (see AUTO_UPDATE_DEFAULT). After the app is updated it is not automatically updated again until 90 days after it becomes out of date again.The user can still manually update the app from the Play Store at any time.",
            "The app is updated as soon as possible. No constraints are applied.The device is notified immediately about a new update after it becomes available."
          ],
          "description": "Controls the auto-update mode for the app."
        },
        "managedConfigurationTemplate": {
          "description": "The managed configurations template for the app, saved from the managed configurations iframe. This field is ignored if managed_configuration is set.",
          "$ref": "ManagedConfigurationTemplate"
        },
        "lockTaskAllowed": {
          "deprecated": true,
          "type": "boolean",
          "description": "Whether the app is allowed to lock itself in full-screen mode. DEPRECATED. Use InstallType KIOSK or kioskCustomLauncherEnabled to configure a dedicated device."
        },
        "packageName": {
          "description": "The package name of the app. For example, com.google.android.youtube for the YouTube app.",
          "type": "string"
        },
        "accessibleTrackIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of the app’s track IDs that a device belonging to the enterprise can access. If the list contains multiple track IDs, devices receive the latest version among all accessible tracks. If the list contains no track IDs, devices only have access to the app’s production track. More details about each track are available in AppTrackInfo."
        },
        "defaultPermissionPolicy": {
          "enumDescriptions": [
            "Policy not specified. If no policy is specified for a permission at any level, then the PROMPT behavior is used by default.",
            "Prompt the user to grant a permission.",
            "Automatically grant a permission.",
            "Automatically deny a permission."
          ],
          "enum": [
            "PERMISSION_POLICY_UNSPECIFIED",
            "PROMPT",
            "GRANT",
            "DENY"
          ],
          "description": "The default policy for all permissions requested by the app. If specified, this overrides the policy-level default_permission_policy which applies to all apps. It does not override the permission_grants which applies to all apps.",
          "type": "string"
        },
        "managedConfiguration": {
          "type": "object",
          "description": "Managed configuration applied to the app. The format for the configuration is dictated by the ManagedProperty values supported by the app. Each field name in the managed configuration must match the key field of the ManagedProperty. The field value must be compatible with the type of the ManagedProperty: *type* *JSON value* BOOL true or false STRING string INTEGER number CHOICE string MULTISELECT array of strings HIDDEN string BUNDLE_ARRAY array of objects ",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "extensionConfig": {
          "$ref": "ExtensionConfig",
          "description": "Configuration to enable this app as an extension app, with the capability of interacting with Android Device Policy offline.This field can be set for at most one app."
        },
        "alwaysOnVpnLockdownExemption": {
          "enum": [
            "ALWAYS_ON_VPN_LOCKDOWN_EXEMPTION_UNSPECIFIED",
            "VPN_LOCKDOWN_ENFORCED",
            "VPN_LOCKDOWN_EXEMPTION"
          ],
          "type": "string",
          "description": "Specifies whether the app is allowed networking when the VPN is not connected and alwaysOnVpnPackage.lockdownEnabled is enabled. If set to VPN_LOCKDOWN_ENFORCED, the app is not allowed networking, and if set to VPN_LOCKDOWN_EXEMPTION, the app is allowed networking. Only supported on devices running Android 10 and above. If this is not supported by the device, the device will contain a NonComplianceDetail with non_compliance_reason set to API_LEVEL and a fieldPath. If this is not applicable to the app, the device will contain a NonComplianceDetail with non_compliance_reason set to UNSUPPORTED and a fieldPath. The fieldPath is set to applications[i].alwaysOnVpnLockdownExemption, where i is the index of the package in the applications policy.",
          "enumDescriptions": [
            "Unspecified. Defaults to VPN_LOCKDOWN_ENFORCED.",
            "The app respects the always-on VPN lockdown setting.",
            "The app is exempt from the always-on VPN lockdown setting."
          ]
        },
        "delegatedScopes": {
          "type": "array",
          "description": "The scopes delegated to the app from Android Device Policy. These provide additional privileges for the applications they are applied to.",
          "items": {
            "enumDescriptions": [
              "No delegation scope specified.",
              "Grants access to certificate installation and management.",
              "Grants access to managed configurations management.",
              "Grants access to blocking uninstallation.",
              "Grants access to permission policy and permission grant state.",
              "Grants access to package access state.",
              "Grants access for enabling system apps.",
              "Grants access to network activity logs. Allows the delegated application to call setNetworkLoggingEnabled (https://developer.android.com/reference/android/app/admin/DevicePolicyManager#setNetworkLoggingEnabled%28android.content.ComponentName,%20boolean%29), isNetworkLoggingEnabled (https://developer.android.com/reference/android/app/admin/DevicePolicyManager#isNetworkLoggingEnabled%28android.content.ComponentName%29) and retrieveNetworkLogs (https://developer.android.com/reference/android/app/admin/DevicePolicyManager#retrieveNetworkLogs%28android.content.ComponentName,%20long%29) methods. This scope can be delegated to at most one application. Supported for fully managed devices on Android 10 and above. Supported for a work profile on Android 12 and above. When delegation is supported and set, NETWORK_ACTIVITY_LOGS is ignored.",
              "Grants access to security logs. Allows the delegated application to call setSecurityLoggingEnabled (https://developer.android.com/reference/android/app/admin/DevicePolicyManager#setSecurityLoggingEnabled%28android.content.ComponentName,%20boolean%29), isSecurityLoggingEnabled (https://developer.android.com/reference/android/app/admin/DevicePolicyManager#isSecurityLoggingEnabled%28android.content.ComponentName%29), retrieveSecurityLogs (https://developer.android.com/reference/android/app/admin/DevicePolicyManager#retrieveSecurityLogs%28android.content.ComponentName%29) and retrievePreRebootSecurityLogs (https://developer.android.com/reference/android/app/admin/DevicePolicyManager#retrievePreRebootSecurityLogs%28android.content.ComponentName%29) methods. This scope can be delegated to at most one application. Supported for fully managed devices and company-owned devices with a work profile on Android 12 and above. When delegation is supported and set, SECURITY_LOGS is ignored.",
              "Grants access to selection of KeyChain certificates on behalf of requesting apps. Once granted, the delegated application will start receiving DelegatedAdminReceiver#onChoosePrivateKeyAlias(https://developer.android.com/reference/android/app/admin/DelegatedAdminReceiver#onChoosePrivateKeyAlias(android.content.Context,%20android.content.Intent,%20int,%20android.net.Uri,%20java.lang.String)). Allows the delegated application to call grantKeyPairToApp(https://developer.android.com/reference/android/app/admin/DevicePolicyManager#grantKeyPairToApp(android.content.ComponentName,%20java.lang.String,%20java.lang.String)) and revokeKeyPairFromApp(https://developer.android.com/reference/android/app/admin/DevicePolicyManager#revokeKeyPairFromApp(android.content.ComponentName,%20java.lang.String,%20java.lang.String)) methods. There can be at most one app that has this delegation. choosePrivateKeyRules must be empty and privateKeySelectionEnabled has no effect if certificate selection is delegated to an application."
            ],
            "enum": [
              "DELEGATED_SCOPE_UNSPECIFIED",
              "CERT_INSTALL",
              "MANAGED_CONFIGURATIONS",
              "BLOCK_UNINSTALL",
              "PERMISSION_GRANT",
              "PACKAGE_ACCESS",
              "ENABLE_SYSTEM_APP",
              "NETWORK_ACTIVITY_LOGS",
              "SECURITY_LOGS",
              "CERT_SELECTION"
            ],
            "type": "string"
          }
        },
        "connectedWorkAndPersonalApp": {
          "enumDescriptions": [
            "Unspecified. Defaults to CONNECTED_WORK_AND_PERSONAL_APPS_DISALLOWED.",
            "Default. Prevents the app from communicating cross-profile.",
            "Allows the app to communicate across profiles after receiving user consent."
          ],
          "description": "Controls whether the app can communicate with itself across a device’s work and personal profiles, subject to user consent.",
          "type": "string",
          "enum": [
            "CONNECTED_WORK_AND_PERSONAL_APP_UNSPECIFIED",
            "CONNECTED_WORK_AND_PERSONAL_APP_DISALLOWED",
            "CONNECTED_WORK_AND_PERSONAL_APP_ALLOWED"
          ]
        },
        "minimumVersionCode": {
          "description": "The minimum version of the app that runs on the device. If set, the device attempts to update the app to at least this version code. If the app is not up-to-date, the device will contain a NonComplianceDetail with non_compliance_reason set to APP_NOT_UPDATED. The app must already be published to Google Play with a version code greater than or equal to this value. At most 20 apps may specify a minimum version code per policy.",
          "type": "integer",
          "format": "int32"
        },
        "workProfileWidgets": {
          "enum": [
            "WORK_PROFILE_WIDGETS_UNSPECIFIED",
            "WORK_PROFILE_WIDGETS_ALLOWED",
            "WORK_PROFILE_WIDGETS_DISALLOWED"
          ],
          "description": "Specifies whether the app installed in the work profile is allowed to add widgets to the home screen.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Defaults to work_profile_widgets_default",
            "Work profile widgets are allowed. This means the application will be able to add widgets to the home screen.",
            "Work profile widgets are disallowed. This means the application will not be able to add widgets to the home screen."
          ]
        }
      },
      "description": "Policy for an individual app. Note: Application availability on a given device cannot be changed using this policy if installAppsDisabled is enabled. The maximum number of applications that you can specify per enterprise policy is 3,000.",
      "id": "ApplicationPolicy"
    },
    "ListOperationsResponse": {
      "type": "object",
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        }
      }
    },
    "OncCertificateProvider": {
      "type": "object",
      "description": "This feature is not generally available.",
      "id": "OncCertificateProvider",
      "properties": {
        "certificateReferences": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "This feature is not generally available."
        },
        "contentProviderEndpoint": {
          "$ref": "ContentProviderEndpoint",
          "description": "This feature is not generally available."
        }
      }
    },
    "AlwaysOnVpnPackage": {
      "type": "object",
      "id": "AlwaysOnVpnPackage",
      "description": "Configuration for an always-on VPN connection.",
      "properties": {
        "packageName": {
          "type": "string",
          "description": "The package name of the VPN app."
        },
        "lockdownEnabled": {
          "description": "Disallows networking when the VPN is not connected.",
          "type": "boolean"
        }
      }
    },
    "ExtensionConfig": {
      "type": "object",
      "id": "ExtensionConfig",
      "description": "Configuration to enable an app as an extension app, with the capability of interacting with Android Device Policy offline. For Android versions 13 and above, extension apps are exempt from battery restrictions so will not be placed into the restricted App Standby Bucket (https://developer.android.com/topic/performance/appstandby#restricted-bucket). Extensions apps are also protected against users clearing their data or force-closing the application, although admins can continue to use the clear app data command (https://developer.android.com/management/reference/rest/v1/enterprises.devices/issueCommand#CommandType) on extension apps if needed for Android 13 and above.",
      "properties": {
        "notificationReceiver": {
          "type": "string",
          "description": "Fully qualified class name of the receiver service class for Android Device Policy to notify the extension app of any local command status updates."
        },
        "signingKeyFingerprintsSha256": {
          "description": "Hex-encoded SHA-256 hash of the signing certificate of the extension app. Only hexadecimal string representations of 64 characters are valid.If not specified, the signature for the corresponding package name is obtained from the Play Store instead.If this list is empty, the signature of the extension app on the device must match the signature obtained from the Play Store for the app to be able to communicate with Android Device Policy.If this list is not empty, the signature of the extension app on the device must match one of the entries in this list for the app to be able to communicate with Android Device Policy.In production use cases, it is recommended to leave this empty.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "StopLostModeStatus": {
      "id": "StopLostModeStatus",
      "properties": {
        "status": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "SUCCESS",
            "NOT_IN_LOST_MODE"
          ],
          "enumDescriptions": [
            "Unspecified. This value is not used.",
            "The device was taken out of lost mode.",
            "The device is not in lost mode."
          ],
          "description": "The status. See StopLostModeStatus.",
          "type": "string"
        }
      },
      "description": "Status of the STOP_LOST_MODE command to take the device out of lost mode.",
      "type": "object"
    },
    "AppVersion": {
      "description": "This represents a single version of the app.",
      "type": "object",
      "id": "AppVersion",
      "properties": {
        "versionCode": {
          "format": "int32",
          "type": "integer",
          "description": "Unique increasing identifier for the app version."
        },
        "trackIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Track identifiers that the app version is published in. This does not include the production track (see production instead)."
        },
        "production": {
          "description": "If the value is True, it indicates that this version is a production track.",
          "type": "boolean"
        },
        "versionString": {
          "description": "The string used in the Play store by the app developer to identify the version. The string is not necessarily unique or localized (for example, the string could be \"1.4\").",
          "type": "string"
        }
      }
    },
    "ListEnterprisesResponse": {
      "description": "Response to a request to list enterprises.",
      "id": "ListEnterprisesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "If there are more results, a token to retrieve next page of results.",
          "type": "string"
        },
        "enterprises": {
          "description": "The list of enterprises.",
          "items": {
            "$ref": "Enterprise"
          },
          "type": "array"
        }
      }
    },
    "HardwareStatus": {
      "id": "HardwareStatus",
      "description": "Hardware status. Temperatures may be compared to the temperature thresholds available in hardwareInfo to determine hardware health.",
      "properties": {
        "skinTemperatures": {
          "items": {
            "format": "float",
            "type": "number"
          },
          "description": "Current device skin temperatures in Celsius.",
          "type": "array"
        },
        "fanSpeeds": {
          "type": "array",
          "items": {
            "format": "float",
            "type": "number"
          },
          "description": "Fan speeds in RPM for each fan on the device. Empty array means that there are no fans or fan speed is not supported on the system."
        },
        "createTime": {
          "type": "string",
          "description": "The time the measurements were taken.",
          "format": "google-datetime"
        },
        "batteryTemperatures": {
          "description": "Current battery temperatures in Celsius for each battery on the device.",
          "items": {
            "format": "float",
            "type": "number"
          },
          "type": "array"
        },
        "gpuTemperatures": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "float"
          },
          "description": "Current GPU temperatures in Celsius for each GPU on the device."
        },
        "cpuUsages": {
          "type": "array",
          "description": "CPU usages in percentage for each core available on the device. Usage is 0 for each unplugged core. Empty array implies that CPU usage is not supported in the system.",
          "items": {
            "format": "float",
            "type": "number"
          }
        },
        "cpuTemperatures": {
          "type": "array",
          "description": "Current CPU temperatures in Celsius for each CPU on the device.",
          "items": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "type": "object"
    },
    "WipeFailureEvent": {
      "properties": {},
      "id": "WipeFailureEvent",
      "description": "The work profile or company-owned device failed to wipe when requested. This could be user initiated or admin initiated e.g. delete was received. Intentionally empty.",
      "type": "object"
    },
    "ContactInfo": {
      "type": "object",
      "description": "Contact details for managed Google Play enterprises.",
      "properties": {
        "dataProtectionOfficerPhone": {
          "description": "The phone number of the data protection officer The phone number is validated but not verified.",
          "type": "string"
        },
        "euRepresentativePhone": {
          "type": "string",
          "description": "The phone number of the EU representative. The phone number is validated but not verified."
        },
        "euRepresentativeEmail": {
          "description": "The email of the EU representative. The email is validated but not verified.",
          "type": "string"
        },
        "euRepresentativeName": {
          "type": "string",
          "description": "The name of the EU representative."
        },
        "contactEmail": {
          "type": "string",
          "description": "Email address for a point of contact, which will be used to send important announcements related to managed Google Play."
        },
        "dataProtectionOfficerName": {
          "description": "The name of the data protection officer.",
          "type": "string"
        },
        "dataProtectionOfficerEmail": {
          "type": "string",
          "description": "The email of the data protection officer. The email is validated but not verified."
        }
      },
      "id": "ContactInfo"
    },
    "LoggingStartedEvent": {
      "type": "object",
      "description": "usageLog policy has been enabled. Intentionally empty.",
      "id": "LoggingStartedEvent",
      "properties": {}
    },
    "CrossProfilePolicies": {
      "id": "CrossProfilePolicies",
      "properties": {
        "workProfileWidgetsDefault": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Defaults to WORK_PROFILE_WIDGETS_DEFAULT_DISALLOWED.",
            "Work profile widgets are allowed by default. This means that if the policy does not specify work_profile_widgets as WORK_PROFILE_WIDGETS_DISALLOWED for the application, it will be able to add widgets to the home screen.",
            "Work profile widgets are disallowed by default. This means that if the policy does not specify work_profile_widgets as WORK_PROFILE_WIDGETS_ALLOWED for the application, it will be unable to add widgets to the home screen."
          ],
          "description": "Specifies the default behaviour for work profile widgets. If the policy does not specify work_profile_widgets for a specific application, it will behave according to the value specified here.",
          "enum": [
            "WORK_PROFILE_WIDGETS_DEFAULT_UNSPECIFIED",
            "WORK_PROFILE_WIDGETS_DEFAULT_ALLOWED",
            "WORK_PROFILE_WIDGETS_DEFAULT_DISALLOWED"
          ]
        },
        "crossProfileCopyPaste": {
          "description": "Whether text copied from one profile (personal or work) can be pasted in the other profile.",
          "enum": [
            "CROSS_PROFILE_COPY_PASTE_UNSPECIFIED",
            "COPY_FROM_WORK_TO_PERSONAL_DISALLOWED",
            "CROSS_PROFILE_COPY_PASTE_ALLOWED"
          ],
          "enumDescriptions": [
            "Unspecified. Defaults to COPY_FROM_WORK_TO_PERSONAL_DISALLOWED",
            "Default. Prevents users from pasting into the personal profile text copied from the work profile. Text copied from the personal profile can be pasted into the work profile, and text copied from the work profile can be pasted into the work profile.",
            "Text copied in either profile can be pasted in the other profile."
          ],
          "type": "string"
        },
        "showWorkContactsInPersonalProfile": {
          "type": "string",
          "description": "Whether contacts stored in the work profile can be shown in personal profile contact searches and incoming calls.",
          "enumDescriptions": [
            "Unspecified. Defaults to SHOW_WORK_CONTACTS_IN_PERSONAL_PROFILE_ALLOWED.",
            "Prevents work profile contacts from appearing in personal profile contact searches and incoming calls",
            "Default. Allows work profile contacts to appear in personal profile contact searches and incoming calls"
          ],
          "enum": [
            "SHOW_WORK_CONTACTS_IN_PERSONAL_PROFILE_UNSPECIFIED",
            "SHOW_WORK_CONTACTS_IN_PERSONAL_PROFILE_DISALLOWED",
            "SHOW_WORK_CONTACTS_IN_PERSONAL_PROFILE_ALLOWED"
          ]
        },
        "crossProfileDataSharing": {
          "type": "string",
          "description": "Whether data from one profile (personal or work) can be shared with apps in the other profile. Specifically controls simple data sharing via intents. Management of other cross-profile communication channels, such as contact search, copy/paste, or connected work & personal apps, are configured separately.",
          "enumDescriptions": [
            "Unspecified. Defaults to DATA_SHARING_FROM_WORK_TO_PERSONAL_DISALLOWED.",
            "Prevents data from being shared from both the personal profile to the work profile and the work profile to the personal profile.",
            "Default. Prevents users from sharing data from the work profile to apps in the personal profile. Personal data can be shared with work apps.",
            "Data from either profile can be shared with the other profile."
          ],
          "enum": [
            "CROSS_PROFILE_DATA_SHARING_UNSPECIFIED",
            "CROSS_PROFILE_DATA_SHARING_DISALLOWED",
            "DATA_SHARING_FROM_WORK_TO_PERSONAL_DISALLOWED",
            "CROSS_PROFILE_DATA_SHARING_ALLOWED"
          ]
        }
      },
      "description": "Controls the data from the work profile that can be accessed from the personal profile and vice versa. A nonComplianceDetail with MANAGEMENT_MODE is reported if the device does not have a work profile.",
      "type": "object"
    },
    "OsStartupEvent": {
      "id": "OsStartupEvent",
      "type": "object",
      "properties": {
        "verityMode": {
          "enumDescriptions": [
            "Unknown value.",
            "Indicates that the device will be restarted when corruption is detected.",
            "Indicates that an I/O error will be returned for an attempt to read corrupted data blocks (also known as eio boot state).",
            "Indicates that dm-verity is disabled on device."
          ],
          "description": "dm-verity mode.",
          "type": "string",
          "enum": [
            "DM_VERITY_MODE_UNSPECIFIED",
            "ENFORCING",
            "IO_ERROR",
            "DISABLED"
          ]
        },
        "verifiedBootState": {
          "type": "string",
          "description": "Verified Boot state.",
          "enumDescriptions": [
            "Unknown value.",
            "Indicates that there is a full chain of trust extending from the bootloader to verified partitions including the bootloader, boot partition, and all verified partitions.",
            "Indicates that the boot partition has been verified using the embedded certificate and the signature is valid.",
            "Indicates that the device may be freely modified. Device integrity is left to the user to verify out-of-band."
          ],
          "enum": [
            "VERIFIED_BOOT_STATE_UNSPECIFIED",
            "GREEN",
            "YELLOW",
            "ORANGE"
          ]
        }
      },
      "description": "Device was started."
    },
    "AppProcessStartEvent": {
      "description": "An app process was started. This is available device-wide on fully managed devices and within the work profile on organization-owned devices with a work profile.",
      "id": "AppProcessStartEvent",
      "type": "object",
      "properties": {
        "processInfo": {
          "$ref": "AppProcessInfo",
          "description": "Information about a process."
        }
      }
    },
    "DeviceConnectivityManagement": {
      "type": "object",
      "properties": {
        "wifiDirectSettings": {
          "enum": [
            "WIFI_DIRECT_SETTINGS_UNSPECIFIED",
            "ALLOW_WIFI_DIRECT",
            "DISALLOW_WIFI_DIRECT"
          ],
          "enumDescriptions": [
            "Unspecified. Defaults to ALLOW_WIFI_DIRECT",
            "The user is allowed to use Wi-Fi direct.",
            "The user is not allowed to use Wi-Fi direct. A nonComplianceDetail with API_LEVEL is reported if the Android version is less than 13."
          ],
          "description": "Controls configuring and using Wi-Fi direct settings. Supported on company-owned devices running Android 13 and above.",
          "type": "string"
        },
        "tetheringSettings": {
          "enumDescriptions": [
            "Unspecified. Defaults to ALLOW_ALL_TETHERING unless tetheringConfigDisabled is set to true. If tetheringConfigDisabled is set to true, this is equivalent to DISALLOW_ALL_TETHERING.",
            "Allows configuration and use of all forms of tethering. tetheringConfigDisabled is ignored.",
            "Disallows the user from using Wi-Fi tethering. Supported on company owned devices running Android 13 and above. If the setting is not supported, ALLOW_ALL_TETHERING will be set. A nonComplianceDetail with API_LEVEL is reported if the Android version is less than 13. tetheringConfigDisabled is ignored.",
            "Disallows all forms of tethering. Supported on fully managed devices and work profile on company-owned devices, on all supported android versions. The setting tetheringConfigDisabled is ignored."
          ],
          "enum": [
            "TETHERING_SETTINGS_UNSPECIFIED",
            "ALLOW_ALL_TETHERING",
            "DISALLOW_WIFI_TETHERING",
            "DISALLOW_ALL_TETHERING"
          ],
          "description": "Controls tethering settings. Based on the value set, the user is partially or fully disallowed from using different forms of tethering.",
          "type": "string"
        },
        "usbDataAccess": {
          "enumDescriptions": [
            "Unspecified. Defaults to ALLOW_USB_DATA_TRANSFER, unless usbFileTransferDisabled is set to true. If usbFileTransferDisabled is set to true, this is equivalent to DISALLOW_USB_FILE_TRANSFER.",
            "All types of USB data transfers are allowed. usbFileTransferDisabled is ignored.",
            "Transferring files over USB is disallowed. Other types of USB data connections, such as mouse and keyboard connection, are allowed. usbFileTransferDisabled is ignored.",
            "When set, all types of USB data transfers are prohibited. Supported for devices running Android 12 or above with USB HAL 1.3 or above. If the setting is not supported, DISALLOW_USB_FILE_TRANSFER will be set. A nonComplianceDetail with API_LEVEL is reported if the Android version is less than 12. A nonComplianceDetail with DEVICE_INCOMPATIBLE is reported if the device does not have USB HAL 1.3 or above. usbFileTransferDisabled is ignored."
          ],
          "type": "string",
          "enum": [
            "USB_DATA_ACCESS_UNSPECIFIED",
            "ALLOW_USB_DATA_TRANSFER",
            "DISALLOW_USB_FILE_TRANSFER",
            "DISALLOW_USB_DATA_TRANSFER"
          ],
          "description": "Controls what files and/or data can be transferred via USB. Supported only on company-owned devices."
        },
        "configureWifi": {
          "enumDescriptions": [
            "Unspecified. Defaults to ALLOW_CONFIGURING_WIFI unless wifiConfigDisabled is set to true. If wifiConfigDisabled is set to true, this is equivalent to DISALLOW_CONFIGURING_WIFI.",
            "The user is allowed to configure Wi-Fi. wifiConfigDisabled is ignored.",
            "Adding new Wi-Fi configurations is disallowed. The user is only able to switch between already configured networks. Supported on Android 13 and above, on fully managed devices and work profiles on company-owned devices. If the setting is not supported, ALLOW_CONFIGURING_WIFI is set. A nonComplianceDetail with API_LEVEL is reported if the Android version is less than 13. wifiConfigDisabled is ignored.",
            "Disallows configuring Wi-Fi networks. The setting wifiConfigDisabled is ignored when this value is set. Supported on fully managed devices and work profile on company-owned devices, on all supported API levels. For fully managed devices, setting this removes all configured networks and retains only the networks configured using openNetworkConfiguration policy. For work profiles on company-owned devices, existing configured networks are not affected and the user is not allowed to add, remove, or modify Wi-Fi networks. Note: If a network connection can't be made at boot time and configuring Wi-Fi is disabled then network escape hatch will be shown in order to refresh the device policy (see networkEscapeHatchEnabled)."
          ],
          "type": "string",
          "description": "Controls Wi-Fi configuring privileges. Based on the option set, user will have either full or limited or no control in configuring Wi-Fi networks.",
          "enum": [
            "CONFIGURE_WIFI_UNSPECIFIED",
            "ALLOW_CONFIGURING_WIFI",
            "DISALLOW_ADD_WIFI_CONFIG",
            "DISALLOW_CONFIGURING_WIFI"
          ]
        }
      },
      "id": "DeviceConnectivityManagement",
      "description": "Covers controls for device connectivity such as Wi-Fi, USB data access, keyboard/mouse connections, and more."
    },
    "ListEnrollmentTokensResponse": {
      "type": "object",
      "properties": {
        "enrollmentTokens": {
          "description": "The list of enrollment tokens.",
          "items": {
            "$ref": "EnrollmentToken"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there are more results, a token to retrieve next page of results."
        }
      },
      "description": "Response to a request to list enrollment tokens for a given enterprise.",
      "id": "ListEnrollmentTokensResponse"
    },
    "ApiLevelCondition": {
      "properties": {
        "minApiLevel": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum desired Android Framework API level. If the device doesn't meet the minimum requirement, this condition is satisfied. Must be greater than zero."
        }
      },
      "deprecated": true,
      "type": "object",
      "id": "ApiLevelCondition",
      "description": "A compliance rule condition which is satisfied if the Android Framework API level on the device doesn't meet a minimum requirement. There can only be one rule with this type of condition per policy."
    },
    "CertValidationFailureEvent": {
      "type": "object",
      "properties": {
        "failureReason": {
          "type": "string",
          "description": "The reason why certification validation failed."
        }
      },
      "description": "An X.509v3 certificate failed to validate, currently this validation is performed on the Wi-FI access point and failure may be due to a mismatch upon server certificate validation. However it may in the future include other validation events of an X.509v3 certificate.",
      "id": "CertValidationFailureEvent"
    },
    "PasswordPoliciesContext": {
      "description": "Additional context for non-compliance related to password policies.",
      "id": "PasswordPoliciesContext",
      "properties": {
        "passwordPolicyScope": {
          "description": "The scope of non-compliant password.",
          "enumDescriptions": [
            "The scope is unspecified. The password requirements are applied to the work profile for work profile devices and the whole device for fully managed or dedicated devices.",
            "The password requirements are only applied to the device.",
            "The password requirements are only applied to the work profile."
          ],
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_DEVICE",
            "SCOPE_PROFILE"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "NetworkInfo": {
      "properties": {
        "networkOperatorName": {
          "type": "string",
          "description": "Alphabetic name of current registered operator. For example, Vodafone.",
          "deprecated": true
        },
        "wifiMacAddress": {
          "type": "string",
          "description": "Wi-Fi MAC address of the device. For example, 7c:11:11:11:11:11."
        },
        "meid": {
          "description": "MEID number of the CDMA device. For example, A00000292788E1.",
          "type": "string"
        },
        "telephonyInfos": {
          "type": "array",
          "items": {
            "$ref": "TelephonyInfo"
          },
          "description": "Provides telephony information associated with each SIM card on the device. Only supported on fully managed devices starting from Android API level 23."
        },
        "imei": {
          "description": "IMEI number of the GSM device. For example, A1000031212.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Device network info.",
      "id": "NetworkInfo"
    },
    "ApplicationPermission": {
      "type": "object",
      "id": "ApplicationPermission",
      "description": "A permission required by the app.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the permission. Localized."
        },
        "description": {
          "description": "A longer description of the permission, providing more detail on what it affects. Localized.",
          "type": "string"
        },
        "permissionId": {
          "description": "An opaque string uniquely identifying the permission. Not localized.",
          "type": "string"
        }
      }
    },
    "UserFacingMessage": {
      "properties": {
        "localizedMessages": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map containing pairs, where locale is a well-formed BCP 47 language (https://www.w3.org/International/articles/language-tags/) code, such as en-US, es-ES, or fr."
        },
        "defaultMessage": {
          "type": "string",
          "description": "The default message displayed if no localized message is specified or the user's locale doesn't match with any of the localized messages. A default message must be provided if any localized messages are provided."
        }
      },
      "id": "UserFacingMessage",
      "description": "Provides a user-facing message with locale info. The maximum message length is 4096 characters.",
      "type": "object"
    },
    "SetupAction": {
      "description": "An action executed during setup.",
      "type": "object",
      "properties": {
        "description": {
          "$ref": "UserFacingMessage",
          "description": "Description of this action."
        },
        "launchApp": {
          "description": "An action to launch an app. The app will be launched with an intent containing an extra with key com.google.android.apps.work.clouddpc.EXTRA_LAUNCHED_AS_SETUP_ACTION set to the boolean value true to indicate that this is a setup action flow. If SetupAction references an app, the corresponding installType in the application policy must be set as REQUIRED_FOR_SETUP or said setup will fail.",
          "$ref": "LaunchAppAction"
        },
        "title": {
          "description": "Title of this action.",
          "$ref": "UserFacingMessage"
        }
      },
      "id": "SetupAction"
    },
    "Command": {
      "properties": {
        "clearAppsDataParams": {
          "$ref": "ClearAppsDataParams",
          "description": "Parameters for the CLEAR_APP_DATA command to clear the data of specified apps from the device. See ClearAppsDataParams. If this is set, then it is suggested that type should not be set. In this case, the server automatically sets it to CLEAR_APP_DATA. It is also acceptable to explicitly set type to CLEAR_APP_DATA."
        },
        "duration": {
          "type": "string",
          "format": "google-duration",
          "description": "The duration for which the command is valid. The command will expire if not executed by the device during this time. The default duration if unspecified is ten minutes. There is no maximum duration."
        },
        "startLostModeParams": {
          "$ref": "StartLostModeParams",
          "description": "Parameters for the START_LOST_MODE command to put the device into lost mode. See StartLostModeParams. If this is set, then it is suggested that type should not be set. In this case, the server automatically sets it to START_LOST_MODE. It is also acceptable to explicitly set type to START_LOST_MODE."
        },
        "startLostModeStatus": {
          "readOnly": true,
          "description": "Output only. Status of the START_LOST_MODE command to put the device into lost mode. See StartLostModeStatus.",
          "$ref": "StartLostModeStatus"
        },
        "userName": {
          "description": "The resource name of the user that owns the device in the form enterprises/{enterpriseId}/users/{userId}. This is automatically generated by the server based on the device the command is sent to.",
          "type": "string"
        },
        "newPassword": {
          "description": "For commands of type RESET_PASSWORD, optionally specifies the new password.",
          "type": "string"
        },
        "type": {
          "description": "The type of the command.",
          "enum": [
            "COMMAND_TYPE_UNSPECIFIED",
            "LOCK",
            "RESET_PASSWORD",
            "REBOOT",
            "RELINQUISH_OWNERSHIP",
            "CLEAR_APP_DATA",
            "START_LOST_MODE",
            "STOP_LOST_MODE"
          ],
          "type": "string",
          "enumDescriptions": [
            "This value is disallowed.",
            "Lock the device, as if the lock screen timeout had expired.",
            "Reset the user's password.",
            "Reboot the device. Only supported on fully managed devices running Android 7.0 (API level 24) or higher.",
            "Removes the work profile and all policies from a company-owned Android 8.0+ device, relinquishing the device for personal use. Apps and data associated with the personal profile(s) are preserved. The device will be deleted from the server after it acknowledges the command.",
            "Clears the application data of specified apps. This is supported on Android 9 and above. Note that an application can store data outside of its application data, for example in external storage or in a user dictionary. See also clear_apps_data_params.",
            "Puts the device into lost mode. Only supported on fully managed devices or organization-owned devices with a managed profile. See also start_lost_mode_params.",
            "Takes the device out of lost mode. Only supported on fully managed devices or organization-owned devices with a managed profile. See also stop_lost_mode_params."
          ]
        },
        "errorCode": {
          "description": "If the command failed, an error code explaining the failure. This is not set when the command is cancelled by the caller.",
          "type": "string",
          "enumDescriptions": [
            "There was no error.",
            "An unknown error occurred.",
            "The API level of the device does not support this command.",
            "The management mode (profile owner, device owner, etc.) does not support the command.",
            "The command has an invalid parameter value.",
            "The device doesn't support the command. Updating Android Device Policy to the latest version may resolve the issue."
          ],
          "enum": [
            "COMMAND_ERROR_CODE_UNSPECIFIED",
            "UNKNOWN",
            "API_LEVEL",
            "MANAGEMENT_MODE",
            "INVALID_VALUE",
            "UNSUPPORTED"
          ]
        },
        "resetPasswordFlags": {
          "type": "array",
          "description": "For commands of type RESET_PASSWORD, optionally specifies flags.",
          "items": {
            "type": "string",
            "enum": [
              "RESET_PASSWORD_FLAG_UNSPECIFIED",
              "REQUIRE_ENTRY",
              "DO_NOT_ASK_CREDENTIALS_ON_BOOT",
              "LOCK_NOW"
            ],
[...]
