{
  "rootUrl": "https://androidmanagement.googleapis.com/",
  "ownerDomain": "google.com",
  "documentationLink": "https://developers.google.com/android/management",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "title": "Android Management API",
  "basePath": "",
  "servicePath": "",
  "id": "androidmanagement:v1",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "version_module": true,
  "baseUrl": "https://androidmanagement.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "signupUrls": {
      "methods": {
        "create": {
          "id": "androidmanagement.signupUrls.create",
          "path": "v1/signupUrls",
          "flatPath": "v1/signupUrls",
          "httpMethod": "POST",
          "parameters": {
            "projectId": {
              "description": "The ID of the Google Cloud Platform project which will own the enterprise.",
              "location": "query",
              "type": "string"
            },
            "callbackUrl": {
              "description": "The callback URL that the admin will be redirected to after successfully creating an enterprise. Before redirecting there the system will add a query parameter to this URL named enterpriseToken which will contain an opaque token to be used for the create enterprise request. The URL will be parsed then reformatted in order to add the enterpriseToken parameter, so there may be some minor formatting changes.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "SignupUrl"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidmanagement"
          ],
          "description": "Creates an enterprise signup URL."
        }
      }
    },
    "enterprises": {
      "methods": {
        "create": {
          "id": "androidmanagement.enterprises.create",
          "path": "v1/enterprises",
          "flatPath": "v1/enterprises",
          "httpMethod": "POST",
          "parameters": {
            "projectId": {
              "description": "The ID of the Google Cloud Platform project which will own the enterprise.",
              "location": "query",
              "type": "string"
            },
            "signupUrlName": {
              "description": "The name of the SignupUrl used to sign up for the enterprise. Set this when creating a customer-managed enterprise (https://developers.google.com/android/management/create-enterprise#customer-managed_enterprises) and not when creating a deprecated EMM-managed enterprise (https://developers.google.com/android/management/create-enterprise#emm-managed_enterprises).",
              "location": "query",
              "type": "string"
            },
            "enterpriseToken": {
              "description": "The enterprise token appended to the callback URL. Set this when creating a customer-managed enterprise (https://developers.google.com/android/management/create-enterprise#customer-managed_enterprises) and not when creating a deprecated EMM-managed enterprise (https://developers.google.com/android/management/create-enterprise#emm-managed_enterprises).",
              "location": "query",
              "type": "string"
            },
            "agreementAccepted": {
              "description": "Whether the enterprise admin has seen and agreed to the managed Google Play Agreement (https://www.android.com/enterprise/terms/). Do not set this field for any customer-managed enterprise (https://developers.google.com/android/management/create-enterprise#customer-managed_enterprises). Set this to field to true for all EMM-managed enterprises (https://developers.google.com/android/management/create-enterprise#emm-managed_enterprises).",
              "location": "query",
              "deprecated": true,
              "type": "boolean"
            }
          },
          "parameterOrder": [],
          "request": {
            "$ref": "Enterprise"
          },
          "response": {
            "$ref": "Enterprise"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidmanagement"
          ],
          "description": "Creates an enterprise. This is the last step in the enterprise signup flow. See also: SigninDetail"
        },
        "delete": {
          "id": "androidmanagement.enterprises.delete",
          "path": "v1/{+name}",
          "flatPath": "v1/enterprises/{enterprisesId}",
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "description": "The name of the enterprise in the form enterprises/{enterpriseId}.",
              "pattern": "^enterprises/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidmanagement"
          ],
          "description": "Deletes an enterprise. Only available for EMM-managed enterprises."
        },
        "get": {
          "id": "androidmanagement.enterprises.get",
          "path": "v1/{+name}",
          "flatPath": "v1/enterprises/{enterprisesId}",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "The name of the enterprise in the form enterprises/{enterpriseId}.",
              "pattern": "^enterprises/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Enterprise"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidmanagement"
          ],
          "description": "Gets an enterprise."
        },
        "patch": {
          "id": "androidmanagement.enterprises.patch",
          "path": "v1/{+name}",
          "flatPath": "v1/enterprises/{enterprisesId}",
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "description": "The name of the enterprise in the form enterprises/{enterpriseId}.",
              "pattern": "^enterprises/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "description": "The field mask indicating the fields to update. If not set, all modifiable fields will be modified.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "Enterprise"
          },
          "response": {
            "$ref": "Enterprise"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidmanagement"
          ],
          "description": "Updates an enterprise. See also: SigninDetail"
        },
        "list": {
          "id": "androidmanagement.enterprises.list",
          "path": "v1/enterprises",
          "flatPath": "v1/enterprises",
          "httpMethod": "GET",
          "parameters": {
            "projectId": {
              "description": "Required. The Cloud project ID of the EMM managing the enterprises.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "The requested page size. The actual page size may be fixed to a min or max value.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "description": "A token identifying a page of results returned by the server.",
              "location": "query",
              "type": "string"
            },
            "view": {
              "description": "Specifies which Enterprise fields to return. This method only supports BASIC.",
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "The API will default to the BASIC view for the List method.",
                "Includes name and enterprise_display_name fields."
              ],
              "enum": [
                "ENTERPRISE_VIEW_UNSPECIFIED",
                "BASIC"
              ]
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "ListEnterprisesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidmanagement"
          ],
          "description": "Lists EMM-managed enterprises. Only BASIC fields are returned."
        }
      },
      "resources": {
        "enrollmentTokens": {
          "methods": {
            "create": {
              "id": "androidmanagement.enterprises.enrollmentTokens.create",
              "path": "v1/{+parent}/enrollmentTokens",
              "flatPath": "v1/enterprises/{enterprisesId}/enrollmentTokens",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "The name of the enterprise in the form enterprises/{enterpriseId}.",
                  "pattern": "^enterprises/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "EnrollmentToken"
              },
              "response": {
                "$ref": "EnrollmentToken"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "description": "Creates an enrollment token for a given enterprise. It's up to the caller's responsibility to manage the lifecycle of newly created tokens and deleting them when they're not intended to be used anymore. Once an enrollment token has been created, it's not possible to retrieve the token's content anymore using AM API. It is recommended for EMMs to securely store the token if it's intended to be reused."
            },
            "delete": {
              "id": "androidmanagement.enterprises.enrollmentTokens.delete",
              "path": "v1/{+name}",
              "flatPath": "v1/enterprises/{enterprisesId}/enrollmentTokens/{enrollmentTokensId}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "The name of the enrollment token in the form enterprises/{enterpriseId}/enrollmentTokens/{enrollmentTokenId}.",
                  "pattern": "^enterprises/[^/]+/enrollmentTokens/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "description": "Deletes an enrollment token. This operation invalidates the token, preventing its future use."
            },
            "get": {
              "id": "androidmanagement.enterprises.enrollmentTokens.get",
              "path": "v1/{+name}",
              "flatPath": "v1/enterprises/{enterprisesId}/enrollmentTokens/{enrollmentTokensId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The name of the enrollment token in the form enterprises/{enterpriseId}/enrollmentTokens/{enrollmentTokenId}.",
                  "pattern": "^enterprises/[^/]+/enrollmentTokens/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "EnrollmentToken"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "description": "Gets an active, unexpired enrollment token. Only a partial view of EnrollmentToken is returned: all the fields but name and expiration_timestamp are empty. This method is meant to help manage active enrollment tokens lifecycle. For security reasons, it's recommended to delete active enrollment tokens as soon as they're not intended to be used anymore."
            },
            "list": {
              "id": "androidmanagement.enterprises.enrollmentTokens.list",
              "path": "v1/{+parent}/enrollmentTokens",
              "flatPath": "v1/enterprises/{enterprisesId}/enrollmentTokens",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. The name of the enterprise in the form enterprises/{enterpriseId}.",
                  "pattern": "^enterprises/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "The requested page size. The service may return fewer than this value. If unspecified, at most 10 items will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A token identifying a page of results returned by the server.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListEnrollmentTokensResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "description": "Lists active, unexpired enrollment tokens for a given enterprise. The list items contain only a partial view of EnrollmentToken: all the fields but name and expiration_timestamp are empty. This method is meant to help manage active enrollment tokens lifecycle. For security reasons, it's recommended to delete active enrollment tokens as soon as they're not intended to be used anymore."
            }
          }
        },
        "webTokens": {
          "methods": {
            "create": {
              "id": "androidmanagement.enterprises.webTokens.create",
              "path": "v1/{+parent}/webTokens",
              "flatPath": "v1/enterprises/{enterprisesId}/webTokens",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "The name of the enterprise in the form enterprises/{enterpriseId}.",
                  "pattern": "^enterprises/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "WebToken"
              },
              "response": {
                "$ref": "WebToken"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "description": "Creates a web token to access an embeddable managed Google Play web UI for a given enterprise."
            }
          }
        },
        "devices": {
          "methods": {
            "get": {
              "id": "androidmanagement.enterprises.devices.get",
              "path": "v1/{+name}",
              "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "The name of the device in the form enterprises/{enterpriseId}/devices/{deviceId}.",
                  "pattern": "^enterprises/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Device"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "description": "Gets a device. Deleted devices will respond with a 404 error."
            },
            "list": {
              "id": "androidmanagement.enterprises.devices.list",
              "path": "v1/{+parent}/devices",
              "flatPath": "v1/enterprises/{enterprisesId}/devices",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "The name of the enterprise in the form enterprises/{enterpriseId}.",
                  "pattern": "^enterprises/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "The requested page size. The actual page size may be fixed to a min or max value.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A token identifying a page of results returned by the server.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListDevicesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "description": "Lists devices for a given enterprise. Deleted devices are not returned in the response."
            },
            "patch": {
              "id": "androidmanagement.enterprises.devices.patch",
              "path": "v1/{+name}",
              "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "description": "The name of the device in the form enterprises/{enterpriseId}/devices/{deviceId}.",
                  "pattern": "^enterprises/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "description": "The field mask indicating the fields to update. If not set, all modifiable fields will be modified.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Device"
              },
              "response": {
                "$ref": "Device"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "description": "Updates a device."
            },
            "delete": {
              "id": "androidmanagement.enterprises.devices.delete",
              "path": "v1/{+name}",
              "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "The name of the device in the form enterprises/{enterpriseId}/devices/{deviceId}.",
                  "pattern": "^enterprises/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "wipeDataFlags": {
                  "description": "Optional flags that control the device wiping behavior.",
                  "location": "query",
                  "repeated": true,
                  "type": "string",
                  "enumDescriptions": [
                    "This value is ignored.",
                    "Preserve the factory reset protection data on the device.",
                    "Additionally wipe the device's external storage (such as SD cards)."
                  ],
                  "enum": [
                    "WIPE_DATA_FLAG_UNSPECIFIED",
                    "PRESERVE_RESET_PROTECTION_DATA",
                    "WIPE_EXTERNAL_STORAGE"
                  ]
                },
                "wipeReasonMessage": {
                  "description": "Optional. A short message displayed to the user before wiping the work profile on personal devices. This has no effect on company owned devices. The maximum message length is 200 characters.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "description": "Deletes a device. This operation wipes the device. Deleted devices do not show up in enterprises.devices.list calls and a 404 is returned from enterprises.devices.get."
            },
            "issueCommand": {
              "id": "androidmanagement.enterprises.devices.issueCommand",
              "path": "v1/{+name}:issueCommand",
              "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}:issueCommand",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "The name of the device in the form enterprises/{enterpriseId}/devices/{deviceId}.",
                  "pattern": "^enterprises/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Command"
              },
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "description": "Issues a command to a device. The Operation resource returned contains a Command in its metadata field. Use the get operation method to get the status of the command."
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "id": "androidmanagement.enterprises.devices.operations.list",
                  "path": "v1/{+name}",
                  "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}/operations",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^enterprises/[^/]+/devices/[^/]+/operations$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/androidmanagement"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns UNIMPLEMENTED."
                },
                "get": {
                  "id": "androidmanagement.enterprises.devices.operations.get",
                  "path": "v1/{+name}",
                  "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "pattern": "^enterprises/[^/]+/devices/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/androidmanagement"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "delete": {
                  "id": "androidmanagement.enterprises.devices.operations.delete",
                  "path": "v1/{+name}",
                  "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^enterprises/[^/]+/devices/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/androidmanagement"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns google.rpc.Code.UNIMPLEMENTED."
                },
                "cancel": {
                  "id": "androidmanagement.enterprises.devices.operations.cancel",
                  "path": "v1/{+name}:cancel",
                  "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^enterprises/[^/]+/devices/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/androidmanagement"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns google.rpc.Code.UNIMPLEMENTED. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to Code.CANCELLED."
                }
              }
            }
          }
        },
        "policies": {
          "methods": {
            "get": {
              "id": "androidmanagement.enterprises.policies.get",
              "path": "v1/{+name}",
              "flatPath": "v1/enterprises/{enterprisesId}/policies/{policiesId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "The name of the policy in the form enterprises/{enterpriseId}/policies/{policyId}.",
                  "pattern": "^enterprises/[^/]+/policies/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "description": "Gets a policy."
            },
            "list": {
              "id": "androidmanagement.enterprises.policies.list",
              "path": "v1/{+parent}/policies",
              "flatPath": "v1/enterprises/{enterprisesId}/policies",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "The name of the enterprise in the form enterprises/{enterpriseId}.",
                  "pattern": "^enterprises/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "The requested page size. The actual page size may be fixed to a min or max value.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A token identifying a page of results returned by the server.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListPoliciesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "description": "Lists policies for a given enterprise."
            },
            "patch": {
              "id": "androidmanagement.enterprises.policies.patch",
              "path": "v1/{+name}",
              "flatPath": "v1/enterprises/{enterprisesId}/policies/{policiesId}",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "description": "The name of the policy in the form enterprises/{enterpriseId}/policies/{policyId}.",
                  "pattern": "^enterprises/[^/]+/policies/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "description": "The field mask indicating the fields to update. If not set, all modifiable fields will be modified.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Policy"
              },
              "response": {
                "$ref": "Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "description": "Updates or creates a policy."
            },
            "delete": {
              "id": "androidmanagement.enterprises.policies.delete",
              "path": "v1/{+name}",
              "flatPath": "v1/enterprises/{enterprisesId}/policies/{policiesId}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "The name of the policy in the form enterprises/{enterpriseId}/policies/{policyId}.",
                  "pattern": "^enterprises/[^/]+/policies/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "description": "Deletes a policy. This operation is only permitted if no devices are currently referencing the policy."
            }
          }
        },
        "applications": {
          "methods": {
            "get": {
              "id": "androidmanagement.enterprises.applications.get",
              "path": "v1/{+name}",
              "flatPath": "v1/enterprises/{enterprisesId}/applications/{applicationsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "The name of the application in the form enterprises/{enterpriseId}/applications/{package_name}.",
                  "pattern": "^enterprises/[^/]+/applications/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "languageCode": {
                  "description": "The preferred language for localized application info, as a BCP47 tag (e.g. \"en-US\", \"de\"). If not specified the default language of the application will be used.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Application"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "description": "Gets info about an application."
            }
          }
        },
        "webApps": {
          "methods": {
            "create": {
              "id": "androidmanagement.enterprises.webApps.create",
              "path": "v1/{+parent}/webApps",
              "flatPath": "v1/enterprises/{enterprisesId}/webApps",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "The name of the enterprise in the form enterprises/{enterpriseId}.",
                  "pattern": "^enterprises/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "WebApp"
              },
              "response": {
                "$ref": "WebApp"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "description": "Creates a web app."
            },
            "get": {
              "id": "androidmanagement.enterprises.webApps.get",
              "path": "v1/{+name}",
              "flatPath": "v1/enterprises/{enterprisesId}/webApps/{webAppsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "The name of the web app in the form enterprises/{enterpriseId}/webApp/{packageName}.",
                  "pattern": "^enterprises/[^/]+/webApps/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "WebApp"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "description": "Gets a web app."
            },
            "list": {
              "id": "androidmanagement.enterprises.webApps.list",
              "path": "v1/{+parent}/webApps",
              "flatPath": "v1/enterprises/{enterprisesId}/webApps",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "The name of the enterprise in the form enterprises/{enterpriseId}.",
                  "pattern": "^enterprises/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "The requested page size. This is a hint and the actual page size in the response may be different.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A token identifying a page of results returned by the server.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListWebAppsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "description": "Lists web apps for a given enterprise."
            },
            "patch": {
              "id": "androidmanagement.enterprises.webApps.patch",
              "path": "v1/{+name}",
              "flatPath": "v1/enterprises/{enterprisesId}/webApps/{webAppsId}",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "description": "The name of the web app in the form enterprises/{enterpriseId}/webApps/{packageName}.",
                  "pattern": "^enterprises/[^/]+/webApps/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "description": "The field mask indicating the fields to update. If not set, all modifiable fields will be modified.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "WebApp"
              },
              "response": {
                "$ref": "WebApp"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "description": "Updates a web app."
            },
            "delete": {
              "id": "androidmanagement.enterprises.webApps.delete",
              "path": "v1/{+name}",
              "flatPath": "v1/enterprises/{enterprisesId}/webApps/{webAppsId}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "The name of the web app in the form enterprises/{enterpriseId}/webApps/{packageName}.",
                  "pattern": "^enterprises/[^/]+/webApps/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "description": "Deletes a web app."
            }
          }
        }
      }
    },
    "provisioningInfo": {
      "methods": {
        "get": {
          "id": "androidmanagement.provisioningInfo.get",
          "path": "v1/{+name}",
          "flatPath": "v1/provisioningInfo/{provisioningInfoId}",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "Required. The identifier that Android Device Policy passes to the 3P sign-in page in the form of provisioningInfo/{provisioning_info}.",
              "pattern": "^provisioningInfo/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "ProvisioningInfo"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidmanagement"
          ],
          "description": "Get the device provisioning information by the identifier provided in the sign-in url."
        }
      }
    }
  },
  "schemas": {
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } ",
      "type": "object",
      "properties": {}
    },
    "SignupUrl": {
      "id": "SignupUrl",
      "description": "An enterprise signup URL.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the resource. Use this value in the signupUrl field when calling enterprises.create to complete the enterprise signup flow.",
          "type": "string"
        },
        "url": {
          "description": "A URL where an enterprise admin can register their enterprise. The page can't be rendered in an iframe.",
          "type": "string"
        }
      }
    },
    "Enterprise": {
      "id": "Enterprise",
      "description": "The configuration applied to an enterprise.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the enterprise which is generated by the server during creation, in the form enterprises/{enterpriseId}.",
          "type": "string"
        },
        "enabledNotificationTypes": {
          "description": "The types of Google Pub/Sub notifications enabled for the enterprise.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "This value is ignored.",
              "A notification sent when a device enrolls.",
              "Deprecated.",
              "A notification sent when a device issues a status report.",
              "A notification sent when a device command has completed.",
              "A notification sent when device sends BatchUsageLogEvents."
            ],
            "enumDeprecated": [
              false,
              false,
              true,
              false,
              false,
              false
            ],
            "enum": [
              "NOTIFICATION_TYPE_UNSPECIFIED",
              "ENROLLMENT",
              "COMPLIANCE_REPORT",
              "STATUS_REPORT",
              "COMMAND",
              "USAGE_LOGS"
            ]
          }
        },
        "pubsubTopic": {
          "description": "The topic which Pub/Sub notifications are published to, in the form projects/{project}/topics/{topic}. This field is only required if Pub/Sub notifications are enabled.",
          "type": "string"
        },
        "primaryColor": {
          "description": "A color in RGB format that indicates the predominant color to display in the device management app UI. The color components are stored as follows: (red \u003c\u003c 16) | (green \u003c\u003c 8) | blue, where the value of each component is between 0 and 255, inclusive.",
          "type": "integer",
          "format": "int32"
        },
        "logo": {
          "description": "An image displayed as a logo during device provisioning. Supported types are: image/bmp, image/gif, image/x-ico, image/jpeg, image/png, image/webp, image/vnd.wap.wbmp, image/x-adobe-dng.",
          "$ref": "ExternalData"
        },
        "enterpriseDisplayName": {
          "description": "The name of the enterprise displayed to users. This field has a maximum length of 100 characters.",
          "type": "string"
        },
        "termsAndConditions": {
          "description": "Terms and conditions that must be accepted when provisioning a device for this enterprise. A page of terms is generated for each value in this list.",
          "type": "array",
          "items": {
            "$ref": "TermsAndConditions"
          }
        },
        "appAutoApprovalEnabled": {
          "description": "Deprecated and unused.",
          "deprecated": true,
          "type": "boolean"
        },
        "signinDetails": {
          "description": "Sign-in details of the enterprise.",
          "type": "array",
          "items": {
            "$ref": "SigninDetail"
          }
        },
        "contactInfo": {
          "description": "The enterprise contact info of an EMM-managed enterprise.",
          "$ref": "ContactInfo"
        }
      }
    },
    "ExternalData": {
      "id": "ExternalData",
      "description": "Data hosted at an external location. The data is to be downloaded by Android Device Policy and verified against the hash.",
      "type": "object",
      "properties": {
        "url": {
          "description": "The absolute URL to the data, which must use either the http or https scheme. Android Device Policy doesn't provide any credentials in the GET request, so the URL must be publicly accessible. Including a long, random component in the URL may be used to prevent attackers from discovering the URL.",
          "type": "string"
        },
        "sha256Hash": {
          "description": "The base-64 encoded SHA-256 hash of the content hosted at url. If the content doesn't match this hash, Android Device Policy won't use the data.",
          "type": "string"
        }
      }
    },
    "TermsAndConditions": {
      "id": "TermsAndConditions",
      "description": "A terms and conditions page to be accepted during provisioning.",
      "type": "object",
      "properties": {
        "header": {
          "description": "A short header which appears above the HTML content.",
          "$ref": "UserFacingMessage"
        },
        "content": {
          "description": "A well-formatted HTML string. It will be parsed on the client with android.text.Html#fromHtml.",
          "$ref": "UserFacingMessage"
        }
      }
    },
    "UserFacingMessage": {
      "id": "UserFacingMessage",
      "description": "Provides a user-facing message with locale info. The maximum message length is 4096 characters.",
      "type": "object",
      "properties": {
        "localizedMessages": {
          "description": "A map containing pairs, where locale is a well-formed BCP 47 language (https://www.w3.org/International/articles/language-tags/) code, such as en-US, es-ES, or fr.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "defaultMessage": {
          "description": "The default message displayed if no localized message is specified or the user's locale doesn't match with any of the localized messages. A default message must be provided if any localized messages are provided.",
          "type": "string"
        }
      }
    },
    "SigninDetail": {
      "id": "SigninDetail",
      "description": "A resource containing sign in details for an enterprise. Use enterprises to manage SigninDetails for a given enterprise.For an enterprise, we can have any number of SigninDetails that is uniquely identified by combination of the following three fields (signin_url, allow_personal_usage, token_tag). One cannot create two SigninDetails with the same (signin_url, allow_personal_usage, token_tag). (token_tag is an optional field).Patch: The operation updates the current list of SigninDetails with the new list of SigninDetails. If the stored SigninDetail configuration is passed, it returns the same signin_enrollment_token and qr_code. If we pass multiple identical SigninDetail configurations that are not stored, it will store the first one amongst those SigninDetail configurations. if the configuration already exists we cannot request it more than once in a particular patch API call, otherwise it will give a duplicate key error and the whole operation will fail. If we remove certain SigninDetail configuration from the request then it will get removed from the storage. We can then request another signin_enrollment_token and qr_code for the same SigninDetail configuration.",
      "type": "object",
      "properties": {
        "signinUrl": {
          "description": "Sign-in URL for authentication when device is provisioned with a sign-in enrollment token. The sign-in endpoint should finish authentication flow with a URL in the form of https://enterprise.google.com/android/enroll?et= for a successful login, or https://enterprise.google.com/android/enroll/invalid for a failed login.",
          "type": "string"
        },
        "signinEnrollmentToken": {
          "description": "An enterprise wide enrollment token used to trigger custom sign-in flow. This is a read-only field generated by the server.",
          "type": "string"
        },
        "qrCode": {
          "description": "A JSON string whose UTF-8 representation can be used to generate a QR code to enroll a device with this enrollment token. To enroll a device using NFC, the NFC record must contain a serialized java.util.Properties representation of the properties in the JSON. This is a read-only field generated by the server.",
          "type": "string"
        },
        "allowPersonalUsage": {
          "description": "Controls whether personal usage is allowed on a device provisioned with this enrollment token.For company-owned devices: Enabling personal usage allows the user to set up a work profile on the device. Disabling personal usage requires the user provision the device as a fully managed device.For personally-owned devices: Enabling personal usage allows the user to set up a work profile on the device. Disabling personal usage will prevent the device from provisioning. Personal usage cannot be disabled on personally-owned device.",
          "type": "string",
          "enumDescriptions": [
            "Personal usage restriction is not specified",
            "Personal usage is allowed",
            "Personal usage is disallowed"
          ],
          "enum": [
            "ALLOW_PERSONAL_USAGE_UNSPECIFIED",
            "PERSONAL_USAGE_ALLOWED",
            "PERSONAL_USAGE_DISALLOWED"
          ]
        },
        "tokenTag": {
          "description": "An EMM-specified metadata to distinguish between instances of SigninDetail.",
          "type": "string"
        }
      }
    },
    "ContactInfo": {
      "id": "ContactInfo",
      "description": "Contact details for managed Google Play enterprises.",
      "type": "object",
      "properties": {
        "contactEmail": {
          "description": "Email address for a point of contact, which will be used to send important announcements related to managed Google Play.",
          "type": "string"
        },
        "dataProtectionOfficerName": {
          "description": "The name of the data protection officer.",
          "type": "string"
        },
        "dataProtectionOfficerEmail": {
          "description": "The email of the data protection officer. The email is validated but not verified.",
          "type": "string"
        },
        "dataProtectionOfficerPhone": {
          "description": "The phone number of the data protection officer The phone number is validated but not verified.",
          "type": "string"
        },
        "euRepresentativeName": {
          "description": "The name of the EU representative.",
          "type": "string"
        },
        "euRepresentativeEmail": {
          "description": "The email of the EU representative. The email is validated but not verified.",
          "type": "string"
        },
        "euRepresentativePhone": {
          "description": "The phone number of the EU representative. The phone number is validated but not verified.",
          "type": "string"
        }
      }
    },
    "ListEnterprisesResponse": {
      "id": "ListEnterprisesResponse",
      "description": "Response to a request to list enterprises.",
      "type": "object",
      "properties": {
        "enterprises": {
          "description": "The list of enterprises.",
          "type": "array",
          "items": {
            "$ref": "Enterprise"
          }
        },
        "nextPageToken": {
          "description": "If there are more results, a token to retrieve next page of results.",
          "type": "string"
        }
      }
    },
    "EnrollmentToken": {
      "id": "EnrollmentToken",
      "description": "An enrollment token.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the enrollment token, which is generated by the server during creation, in the form enterprises/{enterpriseId}/enrollmentTokens/{enrollmentTokenId}.",
          "type": "string"
        },
        "value": {
          "description": "The token value that's passed to the device and authorizes the device to enroll. This is a read-only field generated by the server.",
          "type": "string"
        },
        "duration": {
          "description": "The length of time the enrollment token is valid, ranging from 1 minute to Durations.MAX_VALUE (https://developers.google.com/protocol-buffers/docs/reference/java/com/google/protobuf/util/Durations.html#MAX_VALUE), approximately 10,000 years. If not specified, the default duration is 1 hour. Please note that if requested duration causes the resulting expiration_timestamp to exceed Timestamps.MAX_VALUE (https://developers.google.com/protocol-buffers/docs/reference/java/com/google/protobuf/util/Timestamps.html#MAX_VALUE), then expiration_timestamp is coerced to Timestamps.MAX_VALUE.",
          "type": "string",
          "format": "google-duration"
        },
        "expirationTimestamp": {
          "description": "The expiration time of the token. This is a read-only field generated by the server.",
          "type": "string",
          "format": "google-datetime"
        },
        "policyName": {
          "description": "The name of the policy initially applied to the enrolled device, in the form enterprises/{enterpriseId}/policies/{policyId}. If not specified, the policy_name for the device’s user is applied. If user_name is also not specified, enterprises/{enterpriseId}/policies/default is applied by default. When updating this field, you can specify only the policyId as long as the policyId doesn’t contain any slashes. The rest of the policy name will be inferred.",
          "type": "string"
        },
        "additionalData": {
          "description": "Optional, arbitrary data associated with the enrollment token. This could contain, for example, the ID of an org unit the device is assigned to after enrollment. After a device enrolls with the token, this data will be exposed in the enrollment_token_data field of the Device resource. The data must be 1024 characters or less; otherwise, the creation request will fail.",
          "type": "string"
        },
        "qrCode": {
          "description": "A JSON string whose UTF-8 representation can be used to generate a QR code to enroll a device with this enrollment token. To enroll a device using NFC, the NFC record must contain a serialized java.util.Properties representation of the properties in the JSON.",
          "type": "string"
        },
        "oneTimeOnly": {
          "description": "Whether the enrollment token is for one time use only. If the flag is set to true, only one device can use it for registration.",
          "type": "boolean"
        },
        "user": {
          "description": "The user associated with this enrollment token. If it's specified when the enrollment token is created and the user does not exist, the user will be created. This field must not contain personally identifiable information. Only the account_identifier field needs to be set.",
          "$ref": "User"
        },
        "allowPersonalUsage": {
          "description": "Controls whether personal usage is allowed on a device provisioned with this enrollment token.For company-owned devices: Enabling personal usage allows the user to set up a work profile on the device. Disabling personal usage requires the user provision the device as a fully managed device.For personally-owned devices: Enabling personal usage allows the user to set up a work profile on the device. Disabling personal usage will prevent the device from provisioning. Personal usage cannot be disabled on personally-owned device.",
          "type": "string",
          "enumDescriptions": [
            "Personal usage restriction is not specified",
            "Personal usage is allowed",
            "Personal usage is disallowed"
          ],
          "enum": [
            "ALLOW_PERSONAL_USAGE_UNSPECIFIED",
            "PERSONAL_USAGE_ALLOWED",
            "PERSONAL_USAGE_DISALLOWED"
          ]
        }
      }
    },
    "User": {
      "id": "User",
      "description": "A user belonging to an enterprise.",
      "type": "object",
      "properties": {
        "accountIdentifier": {
          "description": "A unique identifier you create for this user, such as user342 or asset#44418. This field must be set when the user is created and can't be updated. This field must not contain personally identifiable information (PII). This identifier must be 1024 characters or less; otherwise, the update policy request will fail.",
          "type": "string"
        }
      }
    },
    "ListEnrollmentTokensResponse": {
      "id": "ListEnrollmentTokensResponse",
      "description": "Response to a request to list enrollment tokens for a given enterprise.",
      "type": "object",
      "properties": {
        "enrollmentTokens": {
          "description": "The list of enrollment tokens.",
          "type": "array",
          "items": {
            "$ref": "EnrollmentToken"
          }
        },
        "nextPageToken": {
          "description": "If there are more results, a token to retrieve next page of results.",
          "type": "string"
        }
      }
    },
    "WebToken": {
      "id": "WebToken",
      "description": "A web token used to access the managed Google Play iframe.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the web token, which is generated by the server during creation in the form enterprises/{enterpriseId}/webTokens/{webTokenId}.",
          "type": "string"
        },
        "value": {
          "description": "The token value which is used in the hosting page to generate the iframe with the embedded UI. This is a read-only field generated by the server.",
          "type": "string"
        },
        "permissions": {
          "description": "Permissions available to an admin in the embedded UI. An admin must have all of these permissions in order to view the UI. This field is deprecated.",
          "deprecated": true,
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "This value is ignored.",
              "The permission to approve apps for the enterprise."
            ],
            "enum": [
              "WEB_TOKEN_PERMISSION_UNSPECIFIED",
              "APPROVE_APPS"
            ]
          }
        },
        "parentFrameUrl": {
          "description": "The URL of the parent frame hosting the iframe with the embedded UI. To prevent XSS, the iframe may not be hosted at other URLs. The URL must use the https scheme.",
          "type": "string"
        },
        "enabledFeatures": {
          "description": "The features to enable. Use this if you want to control exactly which feature(s) will be activated; leave empty to allow all features.Restrictions / things to note: - If no features are listed here, all features are enabled — this is the default behavior where you give access to all features to your admins. - This must not contain any FEATURE_UNSPECIFIED values. - Repeated values are ignored ",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified feature.",
              "The Managed Play search apps page (https://developers.google.com/android/management/apps#search-apps).",
              "The private apps page (https://developers.google.com/android/management/apps#private-apps).",
              "The Web Apps page (https://developers.google.com/android/management/apps#web-apps).",
              "The organize apps page (https://developers.google.com/android/management/apps#organize-apps).",
              "The managed configurations page (https://developers.google.com/android/management/managed-configurations-iframe).",
              "The zero-touch iframe (https://developers.google.com/android/management/zero-touch-iframe)."
            ],
            "enum": [
              "FEATURE_UNSPECIFIED",
              "PLAY_SEARCH",
              "PRIVATE_APPS",
              "WEB_APPS",
              "STORE_BUILDER",
              "MANAGED_CONFIGURATIONS",
              "ZERO_TOUCH_CUSTOMER_MANAGEMENT"
            ]
          }
        }
      }
    },
    "Device": {
      "id": "Device",
      "description": "A device owned by an enterprise. Unless otherwise noted, all fields are read-only and can't be modified by enterprises.devices.patch.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the device in the form enterprises/{enterpriseId}/devices/{deviceId}.",
          "type": "string"
        },
        "userName": {
          "description": "The resource name of the user that owns this device in the form enterprises/{enterpriseId}/users/{userId}.",
          "type": "string"
        },
        "managementMode": {
          "description": "The type of management mode Android Device Policy takes on the device. This influences which policy settings are supported.",
          "type": "string",
          "enumDescriptions": [
            "This value is disallowed.",
            "Device owner. Android Device Policy has full control over the device.",
            "Profile owner. Android Device Policy has control over a managed profile on the device."
          ],
          "enum": [
            "MANAGEMENT_MODE_UNSPECIFIED",
            "DEVICE_OWNER",
            "PROFILE_OWNER"
          ]
        },
        "state": {
          "description": "The state to be applied to the device. This field can be modified by a patch request. Note that when calling enterprises.devices.patch, ACTIVE and DISABLED are the only allowable values. To enter the device into a DELETED state, call enterprises.devices.delete.",
          "type": "string",
          "enumDescriptions": [
            "This value is disallowed.",
            "The device is active.",
            "The device is disabled.",
            "The device was deleted. This state is never returned by an API call, but is used in the final status report when the device acknowledges the deletion. If the device is deleted via the API call, this state is published to Pub/Sub. If the user deletes the work profile or resets the device, the device state will remain unknown to the server.",
            "The device is being provisioned. Newly enrolled devices are in this state until they have a policy applied.",
            "The device is lost. This state is only possible on organization-owned devices."
          ],
          "enum": [
            "DEVICE_STATE_UNSPECIFIED",
            "ACTIVE",
            "DISABLED",
            "DELETED",
            "PROVISIONING",
            "LOST"
          ]
        },
        "appliedState": {
          "description": "The state currently applied to the device.",
          "type": "string",
          "enumDescriptions": [
            "This value is disallowed.",
            "The device is active.",
            "The device is disabled.",
            "The device was deleted. This state is never returned by an API call, but is used in the final status report when the device acknowledges the deletion. If the device is deleted via the API call, this state is published to Pub/Sub. If the user deletes the work profile or resets the device, the device state will remain unknown to the server.",
            "The device is being provisioned. Newly enrolled devices are in this state until they have a policy applied.",
            "The device is lost. This state is only possible on organization-owned devices."
          ],
          "enum": [
            "DEVICE_STATE_UNSPECIFIED",
            "ACTIVE",
            "DISABLED",
            "DELETED",
            "PROVISIONING",
            "LOST"
          ]
        },
        "policyCompliant": {
          "description": "Whether the device is compliant with its policy.",
          "type": "boolean"
        },
        "nonComplianceDetails": {
          "description": "Details about policy settings that the device is not compliant with.",
          "type": "array",
          "items": {
            "$ref": "NonComplianceDetail"
          }
        },
        "enrollmentTime": {
          "description": "The time of device enrollment.",
          "type": "string",
          "format": "google-datetime"
        },
        "lastStatusReportTime": {
          "description": "The last time the device sent a status report.",
          "type": "string",
          "format": "google-datetime"
        },
        "lastPolicyComplianceReportTime": {
          "description": "Deprecated.",
          "deprecated": true,
          "type": "string",
          "format": "google-datetime"
        },
        "lastPolicySyncTime": {
          "description": "The last time the device fetched its policy.",
          "type": "string",
          "format": "google-datetime"
        },
        "policyName": {
          "description": "The name of the policy applied to the device, in the form enterprises/{enterpriseId}/policies/{policyId}. If not specified, the policy_name for the device's user is applied. This field can be modified by a patch request. You can specify only the policyId when calling enterprises.devices.patch, as long as the policyId doesn’t contain any slashes. The rest of the policy name is inferred.",
          "type": "string"
        },
        "appliedPolicyName": {
          "description": "The name of the policy currently applied to the device.",
          "type": "string"
        },
        "appliedPolicyVersion": {
          "description": "The version of the policy currently applied to the device.",
          "type": "string",
          "format": "int64"
        },
        "apiLevel": {
          "description": "The API level of the Android platform version running on the device.",
          "type": "integer",
          "format": "int32"
        },
        "enrollmentTokenData": {
          "description": "If the device was enrolled with an enrollment token with additional data provided, this field contains that data.",
          "type": "string"
        },
        "enrollmentTokenName": {
          "description": "If the device was enrolled with an enrollment token, this field contains the name of the token.",
          "type": "string"
        },
        "disabledReason": {
          "description": "If the device state is DISABLED, an optional message that is displayed on the device indicating the reason the device is disabled. This field can be modified by a patch request.",
          "$ref": "UserFacingMessage"
        },
        "softwareInfo": {
          "description": "Detailed information about the device software. This information is only available if softwareInfoEnabled is true in the device's policy.",
          "$ref": "SoftwareInfo"
        },
        "hardwareInfo": {
          "description": "Detailed information about the device hardware.",
          "$ref": "HardwareInfo"
        },
        "displays": {
          "description": "Detailed information about displays on the device. This information is only available if displayInfoEnabled is true in the device's policy.",
          "type": "array",
          "items": {
            "$ref": "Display"
          }
        },
        "applicationReports": {
          "description": "Reports for apps installed on the device. This information is only available when application_reports_enabled is true in the device's policy.",
          "type": "array",
          "items": {
            "$ref": "ApplicationReport"
          }
        },
        "previousDeviceNames": {
          "description": "If the same physical device has been enrolled multiple times, this field contains its previous device names. The serial number is used as the unique identifier to determine if the same physical device has enrolled previously. The names are in chronological order.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "networkInfo": {
          "description": "Device network information. This information is only available if networkInfoEnabled is true in the device's policy.",
          "$ref": "NetworkInfo"
        },
        "memoryInfo": {
          "description": "Memory information: contains information about device memory and storage.",
          "$ref": "MemoryInfo"
        },
        "memoryEvents": {
          "description": "Events related to memory and storage measurements in chronological order. This information is only available if memoryInfoEnabled is true in the device's policy.",
          "type": "array",
          "items": {
            "$ref": "MemoryEvent"
          }
        },
        "powerManagementEvents": {
          "description": "Power management events on the device in chronological order. This information is only available if powerManagementEventsEnabled is true in the device's policy.",
          "type": "array",
          "items": {
            "$ref": "PowerManagementEvent"
          }
        },
        "hardwareStatusSamples": {
          "description": "Hardware status samples in chronological order. This information is only available if hardwareStatusEnabled is true in the device's policy.",
          "type": "array",
          "items": {
            "$ref": "HardwareStatus"
          }
        },
        "deviceSettings": {
          "description": "Device settings information. This information is only available if deviceSettingsEnabled is true in the device's policy.",
          "$ref": "DeviceSettings"
        },
        "user": {
          "description": "The user who owns the device.",
          "$ref": "User"
        },
        "systemProperties": {
          "description": "Map of selected system properties name and value related to the device. This information is only available if systemPropertiesEnabled is true in the device's policy.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "securityPosture": {
          "description": "Device's security posture value that reflects how secure the device is.",
          "$ref": "SecurityPosture"
        },
        "ownership": {
          "description": "Ownership of the managed device.",
          "type": "string",
          "enumDescriptions": [
            "Ownership is unspecified.",
            "Device is company-owned.",
            "Device is personally-owned."
          ],
          "enum": [
            "OWNERSHIP_UNSPECIFIED",
            "COMPANY_OWNED",
            "PERSONALLY_OWNED"
          ]
        },
        "commonCriteriaModeInfo": {
          "description": "Information about Common Criteria Mode—security standards defined in the Common Criteria for Information Technology Security Evaluation (https://www.commoncriteriaportal.org/) (CC).This information is only available if statusReportingSettings.commonCriteriaModeEnabled is true in the device's policy.",
          "$ref": "CommonCriteriaModeInfo"
        },
        "appliedPasswordPolicies": {
          "description": "The password requirements currently applied to the device. The applied requirements may be slightly different from those specified in passwordPolicies in some cases. fieldPath is set based on passwordPolicies.",
          "type": "array",
          "items": {
            "$ref": "PasswordRequirements"
          }
        }
      }
    },
    "NonComplianceDetail": {
      "id": "NonComplianceDetail",
      "description": "Provides detail about non-compliance with a policy setting.",
      "type": "object",
      "properties": {
        "settingName": {
          "description": "The name of the policy setting. This is the JSON field name of a top-level Policy field.",
          "type": "string"
        },
        "nonComplianceReason": {
          "description": "The reason the device is not in compliance with the setting.",
          "type": "string",
          "enumDescriptions": [
            "This value is disallowed.",
            "The setting is not supported in the API level of the Android version running on the device.",
            "The management mode (profile owner, device owner, etc.) doesn't support the setting.",
            "The user has not taken required action to comply with the setting.",
            "The setting has an invalid value.",
            "The app required to implement the policy is not installed.",
            "The policy is not supported by the version of Android Device Policy on the device.",
            "A blocked app is installed.",
            "The setting hasn't been applied at the time of the report, but is expected to be applied shortly.",
            "The setting can't be applied to the app because the app doesn't support it, for example because its target SDK version is not high enough.",
            "The app is installed, but it hasn't been updated to the minimum version code specified by policy.",
            "The device is incompatible with the policy requirements."
          ],
          "enum": [
            "NON_COMPLIANCE_REASON_UNSPECIFIED",
            "API_LEVEL",
            "MANAGEMENT_MODE",
            "USER_ACTION",
            "INVALID_VALUE",
            "APP_NOT_INSTALLED",
            "UNSUPPORTED",
            "APP_INSTALLED",
            "PENDING",
            "APP_INCOMPATIBLE",
            "APP_NOT_UPDATED",
            "DEVICE_INCOMPATIBLE"
          ]
        },
        "packageName": {
          "description": "The package name indicating which app is out of compliance, if applicable.",
          "type": "string"
        },
        "fieldPath": {
          "description": "For settings with nested fields, if a particular nested field is out of compliance, this specifies the full path to the offending field. The path is formatted in the same way the policy JSON field would be referenced in JavaScript, that is: 1) For object-typed fields, the field name is followed by a dot then by a subfield name. 2) For array-typed fields, the field name is followed by the array index enclosed in brackets. For example, to indicate a problem with the url field in the externalData field in the 3rd application, the path would be applications[2].externalData.url",
          "type": "string"
        },
        "currentValue": {
          "description": "If the policy setting could not be applied, the current value of the setting on the device.",
          "type": "any"
        },
        "installationFailureReason": {
          "description": "If package_name is set and the non-compliance reason is APP_NOT_INSTALLED or APP_NOT_UPDATED, the detailed reason the app can't be installed or updated.",
          "type": "string",
          "enumDescriptions": [
            "This value is disallowed.",
            "An unknown condition is preventing the app from being installed. Some potential reasons are that the device doesn't have enough storage, the device network connection is unreliable, or the installation is taking longer than expected. The installation will be retried automatically.",
            "The installation is still in progress.",
            "The app was not found in Play.",
            "The app is incompatible with the device.",
            "The app has not been approved by the admin.",
            "The app has new permissions that have not been accepted by the admin.",
            "The app is not available in the user's country.",
            "There are no licenses available to assign to the user.",
            "The enterprise is no longer enrolled with Managed Google Play or the admin has not accepted the latest Managed Google Play Terms of Service.",
            "The user is no longer valid. The user may have been deleted or disabled.",
            "A network error on the user's device has prevented the install from succeeding. This usually happens when the device's internet connectivity is degraded, unavailable or there's a network configuration issue. Please ensure the device has access to full internet connectivity on a network that meets Android Enterprise Network Requirements (https://support.google.com/work/android/answer/10513641). App install or update will automatically resume once this is the case.",
            "The user's device does not have sufficient storage space to install the app. This can be resolved by clearing up storage space on the device. App install or update will automatically resume once the device has sufficient storage."
          ],
          "enum": [
            "INSTALLATION_FAILURE_REASON_UNSPECIFIED",
            "INSTALLATION_FAILURE_REASON_UNKNOWN",
            "IN_PROGRESS",
            "NOT_FOUND",
            "NOT_COMPATIBLE_WITH_DEVICE",
            "NOT_APPROVED",
            "PERMISSIONS_NOT_ACCEPTED",
            "NOT_AVAILABLE_IN_COUNTRY",
            "NO_LICENSES_REMAINING",
            "NOT_ENROLLED",
            "USER_INVALID",
            "NETWORK_ERROR_UNRELIABLE_CONNECTION",
            "INSUFFICIENT_STORAGE"
          ]
        },
        "specificNonComplianceReason": {
          "description": "The policy-specific reason the device is not in compliance with the setting.",
          "type": "string",
          "enumDescriptions": [
            "Specific non-compliance reason is not specified. Fields in specific_non_compliance_context are not set.",
            "User needs to confirm credentials by entering the screen lock. Fields in specific_non_compliance_context are not set. nonComplianceReason is set to USER_ACTION.",
            "The device or profile password has expired. passwordPoliciesContext is set. nonComplianceReason is set to USER_ACTION.",
            "The device password does not satisfy password requirements. passwordPoliciesContext is set. nonComplianceReason is set to USER_ACTION.",
            "There is an incorrect value in ONC Wi-Fi configuration. fieldPath specifies which field value is incorrect. oncWifiContext is set. nonComplianceReason is set to INVALID_VALUE.",
            "The ONC Wi-Fi setting is not supported in the API level of the Android version running on the device. fieldPath specifies which field value is not supported. oncWifiContext is set. nonComplianceReason is set to API_LEVEL.",
            "The enterprise Wi-Fi network is missing either the root CA or domain name. nonComplianceReason is set to INVALID_VALUE."
          ],
          "enum": [
            "SPECIFIC_NON_COMPLIANCE_REASON_UNSPECIFIED",
            "PASSWORD_POLICIES_USER_CREDENTIALS_CONFIRMATION_REQUIRED",
            "PASSWORD_POLICIES_PASSWORD_EXPIRED",
            "PASSWORD_POLICIES_PASSWORD_NOT_SUFFICIENT",
            "ONC_WIFI_INVALID_VALUE",
            "ONC_WIFI_API_LEVEL",
            "ONC_WIFI_INVALID_ENTERPRISE_CONFIG"
          ]
        },
        "specificNonComplianceContext": {
          "description": "Additional context for specific_non_compliance_reason.",
          "$ref": "SpecificNonComplianceContext"
        }
      }
    },
    "SpecificNonComplianceContext": {
      "id": "SpecificNonComplianceContext",
      "description": "Additional context for SpecificNonComplianceReason.",
      "type": "object",
      "properties": {
        "oncWifiContext": {
          "description": "Additional context for non-compliance related to Wi-Fi configuration. See ONC_WIFI_INVALID_VALUE and ONC_WIFI_API_LEVEL",
          "$ref": "OncWifiContext"
        },
        "passwordPoliciesContext": {
          "description": "Additional context for non-compliance related to password policies. See PASSWORD_POLICIES_PASSWORD_EXPIRED and PASSWORD_POLICIES_PASSWORD_NOT_SUFFICIENT.",
          "$ref": "PasswordPoliciesContext"
        }
      }
    },
    "OncWifiContext": {
      "id": "OncWifiContext",
      "description": "Additional context for non-compliance related to Wi-Fi configuration.",
      "type": "object",
      "properties": {
        "wifiGuid": {
          "description": "The GUID of non-compliant Wi-Fi configuration.",
          "type": "string"
        }
      }
    },
    "PasswordPoliciesContext": {
      "id": "PasswordPoliciesContext",
      "description": "Additional context for non-compliance related to password policies.",
      "type": "object",
      "properties": {
        "passwordPolicyScope": {
          "description": "The scope of non-compliant password.",
          "type": "string",
          "enumDescriptions": [
            "The scope is unspecified. The password requirements are applied to the work profile for work profile devices and the whole device for fully managed or dedicated devices.",
            "The password requirements are only applied to the device.",
            "The password requirements are only applied to the work profile."
          ],
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_DEVICE",
            "SCOPE_PROFILE"
          ]
        }
      }
    },
    "SoftwareInfo": {
      "id": "SoftwareInfo",
      "description": "Information about device software.",
      "type": "object",
      "properties": {
        "androidVersion": {
          "description": "The user-visible Android version string. For example, 6.0.1.",
          "type": "string"
        },
        "androidDevicePolicyVersionCode": {
          "description": "The Android Device Policy app version code.",
          "type": "integer",
          "format": "int32"
        },
        "androidDevicePolicyVersionName": {
          "description": "The Android Device Policy app version as displayed to the user.",
          "type": "string"
        },
        "androidBuildNumber": {
          "description": "Android build ID string meant for displaying to the user. For example, shamu-userdebug 6.0.1 MOB30I 2756745 dev-keys.",
          "type": "string"
        },
        "deviceKernelVersion": {
          "description": "Kernel version, for example, 2.6.32.9-g103d848.",
          "type": "string"
        },
        "bootloaderVersion": {
          "description": "The system bootloader version number, e.g. 0.6.7.",
          "type": "string"
        },
        "androidBuildTime": {
          "description": "Build time.",
          "type": "string",
          "format": "google-datetime"
        },
        "securityPatchLevel": {
          "description": "Security patch level, e.g. 2016-05-01.",
          "type": "string"
        },
        "primaryLanguageCode": {
          "description": "An IETF BCP 47 language code for the primary locale on the device.",
          "type": "string"
        },
        "deviceBuildSignature": {
          "description": "SHA-256 hash of android.content.pm.Signature (https://developer.android.com/reference/android/content/pm/Signature.html) associated with the system package, which can be used to verify that the system build hasn't been modified.",
          "type": "string"
        },
        "systemUpdateInfo": {
          "description": "Information about a potential pending system update.",
          "$ref": "SystemUpdateInfo"
        }
      }
    },
    "SystemUpdateInfo": {
      "id": "SystemUpdateInfo",
      "description": "Information about a potential pending system update.",
      "type": "object",
      "properties": {
        "updateStatus": {
          "description": "The status of an update: whether an update exists and what type it is.",
          "type": "string",
          "enumDescriptions": [
            "It is unknown whether there is a pending system update. This happens when, for example, the device API level is less than 26, or if the version of Android Device Policy is outdated.",
            "There is no pending system update available on the device.",
            "There is a pending system update available, but its type is not known.",
            "There is a pending security update available.",
            "There is a pending OS update available."
          ],
          "enum": [
            "UPDATE_STATUS_UNKNOWN",
            "UP_TO_DATE",
            "UNKNOWN_UPDATE_AVAILABLE",
            "SECURITY_UPDATE_AVAILABLE",
            "OS_UPDATE_AVAILABLE"
          ]
        },
        "updateReceivedTime": {
          "description": "The time when the update was first available. A zero value indicates that this field is not set. This field is set only if an update is available (that is, updateStatus is neither UPDATE_STATUS_UNKNOWN nor UP_TO_DATE).",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "HardwareInfo": {
      "id": "HardwareInfo",
      "description": "Information about device hardware. The fields related to temperature thresholds are only available if hardwareStatusEnabled is true in the device's policy.",
      "type": "object",
      "properties": {
        "brand": {
          "description": "Brand of the device. For example, Google.",
          "type": "string"
        },
        "hardware": {
          "description": "Name of the hardware. For example, Angler.",
          "type": "string"
        },
        "deviceBasebandVersion": {
          "description": "Baseband version. For example, MDM9625_104662.22.05.34p.",
          "type": "string"
        },
        "manufacturer": {
          "description": "Manufacturer. For example, Motorola.",
          "type": "string"
        },
        "serialNumber": {
          "description": "The device serial number.",
          "type": "string"
        },
        "model": {
          "description": "The model of the device. For example, Asus Nexus 7.",
          "type": "string"
        },
        "batteryShutdownTemperatures": {
          "description": "Battery shutdown temperature thresholds in Celsius for each battery on the device.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "batteryThrottlingTemperatures": {
          "description": "Battery throttling temperature thresholds in Celsius for each battery on the device.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "cpuShutdownTemperatures": {
          "description": "CPU shutdown temperature thresholds in Celsius for each CPU on the device.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "cpuThrottlingTemperatures": {
          "description": "CPU throttling temperature thresholds in Celsius for each CPU on the device.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "gpuShutdownTemperatures": {
          "description": "GPU shutdown temperature thresholds in Celsius for each GPU on the device.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "gpuThrottlingTemperatures": {
          "description": "GPU throttling temperature thresholds in Celsius for each GPU on the device.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "skinShutdownTemperatures": {
          "description": "Device skin shutdown temperature thresholds in Celsius.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "skinThrottlingTemperatures": {
          "description": "Device skin throttling temperature thresholds in Celsius.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "enterpriseSpecificId": {
          "description": "Output only. ID that uniquely identifies a personally-owned device in a particular organization. On the same physical device when enrolled with the same organization, this ID persists across setups and even factory resets. This ID is available on personally-owned devices with a work profile on devices running Android 12 and above.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Display": {
      "id": "Display",
      "description": "Device display information.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the display.",
          "type": "string"
        },
        "displayId": {
          "description": "Unique display id.",
          "type": "integer",
          "format": "int32"
        },
        "refreshRate": {
          "description": "Refresh rate of the display in frames per second.",
          "type": "integer",
          "format": "int32"
        },
        "state": {
          "description": "State of the display.",
          "type": "string",
          "enumDescriptions": [
            "This value is disallowed.",
            "Display is off.",
            "Display is on.",
            "Display is dozing in a low power state",
            "Display is dozing in a suspended low power state."
          ],
          "enum": [
            "DISPLAY_STATE_UNSPECIFIED",
            "OFF",
            "ON",
            "DOZE",
            "SUSPENDED"
          ]
        },
        "width": {
          "description": "Display width in pixels.",
          "type": "integer",
          "format": "int32"
        },
        "height": {
          "description": "Display height in pixels.",
          "type": "integer",
          "format": "int32"
        },
        "density": {
          "description": "Display density expressed as dots-per-inch.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ApplicationReport": {
      "id": "ApplicationReport",
      "description": "Information reported about an installed app.",
      "type": "object",
      "properties": {
        "packageName": {
          "description": "Package name of the app.",
          "type": "string"
        },
        "versionName": {
          "description": "The app version as displayed to the user.",
          "type": "string"
        },
        "versionCode": {
          "description": "The app version code, which can be used to determine whether one version is more recent than another.",
          "type": "integer",
          "format": "int32"
        },
[...]
