{
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "baseUrl": "https://androidmanagement.googleapis.com/",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidmanagement": {
          "description": "Manage Android devices and apps for your customers"
        }
      }
    }
  },
  "schemas": {
    "HardwareInfo": {
      "properties": {
        "cpuThrottlingTemperatures": {
          "items": {
            "type": "number",
            "format": "float"
          },
          "type": "array",
          "description": "CPU throttling temperature thresholds in Celsius for each CPU on the device."
        },
        "gpuShutdownTemperatures": {
          "type": "array",
          "description": "GPU shutdown temperature thresholds in Celsius for each GPU on the device.",
          "items": {
            "format": "float",
            "type": "number"
          }
        },
        "model": {
          "type": "string",
          "description": "The model of the device. For example, Asus Nexus 7."
        },
        "batteryShutdownTemperatures": {
          "description": "Battery shutdown temperature thresholds in Celsius for each battery on the device.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "serialNumber": {
          "description": "The device serial number.",
          "type": "string"
        },
        "enterpriseSpecificId": {
          "description": "Output only. ID that uniquely identifies a personally-owned device in a particular organization. On the same physical device when enrolled with the same organization, this ID persists across setups and even factory resets. This ID is available on personally-owned devices with a work profile on devices running Android 12 and above.",
          "readOnly": true,
          "type": "string"
        },
        "skinThrottlingTemperatures": {
          "items": {
            "type": "number",
            "format": "float"
          },
          "description": "Device skin throttling temperature thresholds in Celsius.",
          "type": "array"
        },
        "deviceBasebandVersion": {
          "description": "Baseband version. For example, MDM9625_104662.22.05.34p.",
          "type": "string"
        },
        "gpuThrottlingTemperatures": {
          "description": "GPU throttling temperature thresholds in Celsius for each GPU on the device.",
          "items": {
            "format": "float",
            "type": "number"
          },
          "type": "array"
        },
        "batteryThrottlingTemperatures": {
          "type": "array",
          "description": "Battery throttling temperature thresholds in Celsius for each battery on the device.",
          "items": {
            "format": "float",
            "type": "number"
          }
        },
        "manufacturer": {
          "type": "string",
          "description": "Manufacturer. For example, Motorola."
        },
        "skinShutdownTemperatures": {
          "description": "Device skin shutdown temperature thresholds in Celsius.",
          "type": "array",
          "items": {
            "format": "float",
            "type": "number"
          }
        },
        "brand": {
          "description": "Brand of the device. For example, Google.",
          "type": "string"
        },
        "hardware": {
          "description": "Name of the hardware. For example, Angler.",
          "type": "string"
        },
        "cpuShutdownTemperatures": {
          "description": "CPU shutdown temperature thresholds in Celsius for each CPU on the device.",
          "items": {
            "format": "float",
            "type": "number"
          },
          "type": "array"
        }
      },
      "id": "HardwareInfo",
      "type": "object",
      "description": "Information about device hardware. The fields related to temperature thresholds are only available if hardwareStatusEnabled is true in the device's policy."
    },
    "CertValidationFailureEvent": {
      "id": "CertValidationFailureEvent",
      "description": "An X.509v3 certificate failed to validate, currently this validation is performed on the Wi-FI access point and failure may be due to a mismatch upon server certificate validation. However it may in the future include other validation events of an X.509v3 certificate.",
      "properties": {
        "failureReason": {
          "description": "The reason why certification validation failed.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AdvancedSecurityOverrides": {
      "properties": {
        "personalAppsThatCanReadWorkNotifications": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Personal apps that can read work profile notifications using a NotificationListenerService (https://developer.android.com/reference/android/service/notification/NotificationListenerService). By default, no personal apps (aside from system apps) can read work notifications. Each value in the list must be a package name."
        },
        "commonCriteriaMode": {
          "description": "Controls Common Criteria Mode—security standards defined in the Common Criteria for Information Technology Security Evaluation (https://www.commoncriteriaportal.org/) (CC). Enabling Common Criteria Mode increases certain security components on a device, including AES-GCM encryption of Bluetooth Long Term Keys, and Wi-Fi configuration stores.Warning: Common Criteria Mode enforces a strict security model typically only required for IT products used in national security systems and other highly sensitive organizations. Standard device use may be affected. Only enabled if required.",
          "enumDescriptions": [
            "Unspecified. Defaults to COMMON_CRITERIA_MODE_DISABLED.",
            "Default. Disables Common Criteria Mode.",
            "Enables Common Criteria Mode."
          ],
          "enum": [
            "COMMON_CRITERIA_MODE_UNSPECIFIED",
            "COMMON_CRITERIA_MODE_DISABLED",
            "COMMON_CRITERIA_MODE_ENABLED"
          ],
          "type": "string"
        },
        "developerSettings": {
          "description": "Controls access to developer settings: developer options and safe boot. Replaces safeBootDisabled (deprecated) and debuggingFeaturesAllowed (deprecated).",
          "enumDescriptions": [
            "Unspecified. Defaults to DEVELOPER_SETTINGS_DISABLED.",
            "Default. Disables all developer settings and prevents the user from accessing them.",
            "Allows all developer settings. The user can access and optionally configure the settings."
          ],
          "enum": [
            "DEVELOPER_SETTINGS_UNSPECIFIED",
            "DEVELOPER_SETTINGS_DISABLED",
            "DEVELOPER_SETTINGS_ALLOWED"
          ],
          "type": "string"
        },
        "googlePlayProtectVerifyApps": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Defaults to VERIFY_APPS_ENFORCED.",
            "Default. Force-enables app verification.",
            "Allows the user to choose whether to enable app verification."
          ],
          "description": "Whether Google Play Protect verification (https://support.google.com/accounts/answer/2812853) is enforced. Replaces ensureVerifyAppsEnabled (deprecated).",
          "enum": [
            "GOOGLE_PLAY_PROTECT_VERIFY_APPS_UNSPECIFIED",
            "VERIFY_APPS_ENFORCED",
            "VERIFY_APPS_USER_CHOICE"
          ]
        },
        "untrustedAppsPolicy": {
          "enum": [
            "UNTRUSTED_APPS_POLICY_UNSPECIFIED",
            "DISALLOW_INSTALL",
            "ALLOW_INSTALL_IN_PERSONAL_PROFILE_ONLY",
            "ALLOW_INSTALL_DEVICE_WIDE"
          ],
          "enumDescriptions": [
            "Unspecified. Defaults to DISALLOW_INSTALL.",
            "Default. Disallow untrusted app installs on entire device.",
            "For devices with work profiles, allow untrusted app installs in the device's personal profile only.",
            "Allow untrusted app installs on entire device."
          ],
          "type": "string",
          "description": "The policy for untrusted apps (apps from unknown sources) enforced on the device. Replaces install_unknown_sources_allowed (deprecated)."
        }
      },
      "description": "Security policies set to secure values by default. To maintain the security posture of a device, we don't recommend overriding any of the default values.",
      "id": "AdvancedSecurityOverrides",
      "type": "object"
    },
    "DnsEvent": {
      "type": "object",
      "properties": {
        "totalIpAddressesReturned": {
          "format": "int64",
          "type": "string",
          "description": "The number of IP addresses returned from the DNS lookup event. May be higher than the amount of ip_addresses if there were too many addresses to log."
        },
        "ipAddresses": {
          "items": {
            "type": "string"
          },
          "description": "The (possibly truncated) list of the IP addresses returned for DNS lookup (max 10 IPv4 or IPv6 addresses).",
          "type": "array"
        },
        "packageName": {
          "type": "string",
          "description": "The package name of the UID that performed the DNS lookup."
        },
        "hostname": {
          "type": "string",
          "description": "The hostname that was looked up."
        }
      },
      "description": "A DNS lookup event was initiated through the standard network stack.",
      "id": "DnsEvent"
    },
    "FilePushedEvent": {
      "type": "object",
      "description": "A file was uploaded onto the device.",
      "id": "FilePushedEvent",
      "properties": {
        "filePath": {
          "type": "string",
          "description": "The path of the file being pushed."
        }
      }
    },
    "ExtensionConfig": {
      "properties": {
        "notificationReceiver": {
          "description": "Fully qualified class name of the receiver service class for Android Device Policy to notify the extension app of any local command status updates.",
          "type": "string"
        },
        "signingKeyFingerprintsSha256": {
          "type": "array",
          "description": "Hex-encoded SHA-256 hash of the signing certificate of the extension app. Only hexadecimal string representations of 64 characters are valid.If not specified, the signature for the corresponding package name is obtained from the Play Store instead.If this list is empty, the signature of the extension app on the device must match the signature obtained from the Play Store for the app to be able to communicate with Android Device Policy.If this list is not empty, the signature of the extension app on the device must match one of the entries in this list for the app to be able to communicate with Android Device Policy.In production use cases, it is recommended to leave this empty.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ExtensionConfig",
      "type": "object",
      "description": "Configuration to enable an app as an extension app, with the capability of interacting with Android Device Policy offline. For Android versions 13 and above, extension apps are exempt from battery restrictions so will not be placed into the restricted App Standby Bucket (https://developer.android.com/topic/performance/appstandby#restricted-bucket). Extensions apps are also protected against users clearing their data or force-closing the application, although admins can continue to use the clear app data command (https://developer.android.com/management/reference/rest/v1/enterprises.devices/issueCommand#CommandType) on extension apps if needed for Android 13 and above."
    },
    "AdbShellCommandEvent": {
      "description": "A shell command was issued over ADB via “adb shell command”.",
      "properties": {
        "shellCmd": {
          "type": "string",
          "description": "Shell command that was issued over ADB via \"adb shell command\". Redacted to empty string on organization-owned managed profile devices."
        }
      },
      "type": "object",
      "id": "AdbShellCommandEvent"
    },
    "Display": {
      "description": "Device display information.",
      "id": "Display",
      "properties": {
        "height": {
          "format": "int32",
          "description": "Display height in pixels.",
          "type": "integer"
        },
        "refreshRate": {
          "format": "int32",
          "type": "integer",
          "description": "Refresh rate of the display in frames per second."
        },
        "name": {
          "type": "string",
          "description": "Name of the display."
        },
        "displayId": {
          "format": "int32",
          "type": "integer",
          "description": "Unique display id."
        },
        "state": {
          "enumDescriptions": [
            "This value is disallowed.",
            "Display is off.",
            "Display is on.",
            "Display is dozing in a low power state",
            "Display is dozing in a suspended low power state."
          ],
          "description": "State of the display.",
          "enum": [
            "DISPLAY_STATE_UNSPECIFIED",
            "OFF",
            "ON",
            "DOZE",
            "SUSPENDED"
          ],
          "type": "string"
        },
        "density": {
          "format": "int32",
          "description": "Display density expressed as dots-per-inch.",
          "type": "integer"
        },
        "width": {
          "type": "integer",
          "description": "Display width in pixels.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "KeyImportEvent": {
      "description": "A cryptographic key including user installed, admin installed and system maintained private key is imported on the device either by the user or management. This is available device-wide on fully managed devices and within the work profile on organization-owned devices with a work profile.",
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "description": "Whether the operation was successful."
        },
        "applicationUid": {
          "description": "UID of the application which imported the key",
          "type": "integer",
          "format": "int32"
        },
        "keyAlias": {
          "type": "string",
          "description": "Alias of the key."
        }
      },
      "id": "KeyImportEvent"
    },
    "IssueCommandResponse": {
      "id": "IssueCommandResponse",
      "description": "Response on issuing a command. This is currently empty as a placeholder.",
      "type": "object",
      "properties": {}
    },
    "PermissionGrant": {
      "properties": {
        "policy": {
          "description": "The policy for granting the permission.",
          "type": "string",
          "enum": [
            "PERMISSION_POLICY_UNSPECIFIED",
            "PROMPT",
            "GRANT",
            "DENY"
          ],
          "enumDescriptions": [
            "Policy not specified. If no policy is specified for a permission at any level, then the PROMPT behavior is used by default.",
            "Prompt the user to grant a permission.",
            "Automatically grant a permission.",
            "Automatically deny a permission."
          ]
        },
        "permission": {
          "type": "string",
          "description": "The Android permission or group, e.g. android.permission.READ_CALENDAR or android.permission_group.CALENDAR."
        }
      },
      "description": "Configuration for an Android permission and its grant state.",
      "type": "object",
      "id": "PermissionGrant"
    },
    "UserFacingMessage": {
      "description": "Provides a user-facing message with locale info. The maximum message length is 4096 characters.",
      "type": "object",
      "id": "UserFacingMessage",
      "properties": {
        "defaultMessage": {
          "description": "The default message displayed if no localized message is specified or the user's locale doesn't match with any of the localized messages. A default message must be provided if any localized messages are provided.",
          "type": "string"
        },
        "localizedMessages": {
          "description": "A map containing pairs, where locale is a well-formed BCP 47 language (https://www.w3.org/International/articles/language-tags/) code, such as en-US, es-ES, or fr.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "SigninDetail": {
      "description": "A resource containing sign in details for an enterprise.",
      "properties": {
        "signinEnrollmentToken": {
          "type": "string",
          "description": "An enterprise wide enrollment token used to trigger custom sign-in flow. This is a read-only field generated by the server."
        },
        "signinUrl": {
          "description": "Sign-in URL for authentication when device is provisioned with a sign-in enrollment token. The sign-in endpoint should finish authentication flow with a URL in the form of https://enterprise.google.com/android/enroll?et= for a successful login, or https://enterprise.google.com/android/enroll/invalid for a failed login.",
          "type": "string"
        },
        "allowPersonalUsage": {
          "enum": [
            "ALLOW_PERSONAL_USAGE_UNSPECIFIED",
            "PERSONAL_USAGE_ALLOWED",
            "PERSONAL_USAGE_DISALLOWED"
          ],
          "enumDescriptions": [
            "Personal usage restriction is not specified",
            "Personal usage is allowed",
            "Personal usage is disallowed"
          ],
          "description": "Controls whether personal usage is allowed on a device provisioned with this enrollment token.For company-owned devices: Enabling personal usage allows the user to set up a work profile on the device. Disabling personal usage requires the user provision the device as a fully managed device.For personally-owned devices: Enabling personal usage allows the user to set up a work profile on the device. Disabling personal usage will prevent the device from provisioning. Personal usage cannot be disabled on personally-owned device.",
          "type": "string"
        },
        "qrCode": {
          "type": "string",
          "description": "A JSON string whose UTF-8 representation can be used to generate a QR code to enroll a device with this enrollment token. To enroll a device using NFC, the NFC record must contain a serialized java.util.Properties representation of the properties in the JSON. This is a read-only field generated by the server."
        }
      },
      "type": "object",
      "id": "SigninDetail"
    },
    "ApplicationPermission": {
      "properties": {
        "permissionId": {
          "description": "An opaque string uniquely identifying the permission. Not localized.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the permission. Localized."
        },
        "description": {
          "description": "A longer description of the permission, providing more detail on what it affects. Localized.",
          "type": "string"
        }
      },
      "id": "ApplicationPermission",
      "type": "object",
      "description": "A permission required by the app."
    },
    "HardwareStatus": {
      "id": "HardwareStatus",
      "description": "Hardware status. Temperatures may be compared to the temperature thresholds available in hardwareInfo to determine hardware health.",
      "properties": {
        "batteryTemperatures": {
          "type": "array",
          "description": "Current battery temperatures in Celsius for each battery on the device.",
          "items": {
            "format": "float",
            "type": "number"
          }
        },
        "fanSpeeds": {
          "items": {
            "format": "float",
            "type": "number"
          },
          "description": "Fan speeds in RPM for each fan on the device. Empty array means that there are no fans or fan speed is not supported on the system.",
          "type": "array"
        },
        "skinTemperatures": {
          "items": {
            "type": "number",
            "format": "float"
          },
          "description": "Current device skin temperatures in Celsius.",
          "type": "array"
        },
        "gpuTemperatures": {
          "description": "Current GPU temperatures in Celsius for each GPU on the device.",
          "items": {
            "type": "number",
            "format": "float"
          },
          "type": "array"
        },
        "cpuTemperatures": {
          "type": "array",
          "description": "Current CPU temperatures in Celsius for each CPU on the device.",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "cpuUsages": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "float"
          },
          "description": "CPU usages in percentage for each core available on the device. Usage is 0 for each unplugged core. Empty array implies that CPU usage is not supported in the system."
        },
        "createTime": {
          "description": "The time the measurements were taken.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ApplicationPolicy": {
      "id": "ApplicationPolicy",
      "description": "Policy for an individual app.",
      "type": "object",
      "properties": {
        "minimumVersionCode": {
          "description": "The minimum version of the app that runs on the device. If set, the device attempts to update the app to at least this version code. If the app is not up-to-date, the device will contain a NonComplianceDetail with non_compliance_reason set to APP_NOT_UPDATED. The app must already be published to Google Play with a version code greater than or equal to this value. At most 20 apps may specify a minimum version code per policy.",
          "type": "integer",
          "format": "int32"
        },
        "extensionConfig": {
          "$ref": "ExtensionConfig",
          "description": "Configuration to enable this app as an extension app, with the capability of interacting with Android Device Policy offline.This field can be set for at most one app."
        },
        "lockTaskAllowed": {
          "type": "boolean",
          "description": "Whether the app is allowed to lock itself in full-screen mode. DEPRECATED. Use InstallType KIOSK or kioskCustomLauncherEnabled to configure a dedicated device."
        },
        "packageName": {
          "description": "The package name of the app. For example, com.google.android.youtube for the YouTube app.",
          "type": "string"
        },
        "installType": {
          "enum": [
            "INSTALL_TYPE_UNSPECIFIED",
            "PREINSTALLED",
            "FORCE_INSTALLED",
            "BLOCKED",
            "AVAILABLE",
            "REQUIRED_FOR_SETUP",
            "KIOSK"
          ],
          "description": "The type of installation to perform.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Defaults to AVAILABLE.",
            "The app is automatically installed and can be removed by the user.",
            "The app is automatically installed and can't be removed by the user.",
            "The app is blocked and can't be installed. If the app was installed under a previous policy, it will be uninstalled.",
            "The app is available to install.",
            "The app is automatically installed and can't be removed by the user and will prevent setup from completion until installation is complete.",
            "The app is automatically installed in kiosk mode: it's set as the preferred home intent and whitelisted for lock task mode. Device setup won't complete until the app is installed. After installation, users won't be able to remove the app. You can only set this installType for one app per policy. When this is present in the policy, status bar will be automatically disabled."
          ]
        },
        "workProfileWidgets": {
          "enumDescriptions": [
            "Unspecified. Defaults to work_profile_widgets_default",
            "Work profile widgets are allowed. This means the application will be able to add widgets to the home screen.",
            "Work profile widgets are disallowed. This means the application will not be able to add widgets to the home screen."
          ],
          "description": "Specifies whether the app installed in the work profile is allowed to add widgets to the home screen.",
          "enum": [
            "WORK_PROFILE_WIDGETS_UNSPECIFIED",
            "WORK_PROFILE_WIDGETS_ALLOWED",
            "WORK_PROFILE_WIDGETS_DISALLOWED"
          ],
          "type": "string"
        },
        "autoUpdateMode": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Defaults to AUTO_UPDATE_DEFAULT.",
            "The app is automatically updated with low priority to minimize the impact on the user.The app is updated when all of the following constraints are met: The device is not actively used. The device is connected to an unmetered network. The device is charging.The device is notified about a new update within 24 hours after it is published by the developer, after which the app is updated the next time the constraints above are met.",
            "The app is not automatically updated for a maximum of 90 days after the app becomes out of date.90 days after the app becomes out of date, the latest available version is installed automatically with low priority (see AUTO_UPDATE_DEFAULT). After the app is updated it is not automatically updated again until 90 days after it becomes out of date again.The user can still manually update the app from the Play Store at any time.",
            "The app is updated as soon as possible. No constraints are applied.The device is notified immediately about a new update after it becomes available."
          ],
          "enum": [
            "AUTO_UPDATE_MODE_UNSPECIFIED",
            "AUTO_UPDATE_DEFAULT",
            "AUTO_UPDATE_POSTPONED",
            "AUTO_UPDATE_HIGH_PRIORITY"
          ],
          "description": "Controls the auto-update mode for the app."
        },
        "accessibleTrackIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of the app’s track IDs that a device belonging to the enterprise can access. If the list contains multiple track IDs, devices receive the latest version among all accessible tracks. If the list contains no track IDs, devices only have access to the app’s production track. More details about each track are available in AppTrackInfo."
        },
        "defaultPermissionPolicy": {
          "description": "The default policy for all permissions requested by the app. If specified, this overrides the policy-level default_permission_policy which applies to all apps. It does not override the permission_grants which applies to all apps.",
          "enum": [
            "PERMISSION_POLICY_UNSPECIFIED",
            "PROMPT",
            "GRANT",
            "DENY"
          ],
          "enumDescriptions": [
            "Policy not specified. If no policy is specified for a permission at any level, then the PROMPT behavior is used by default.",
            "Prompt the user to grant a permission.",
            "Automatically grant a permission.",
            "Automatically deny a permission."
          ],
          "type": "string"
        },
        "managedConfiguration": {
          "type": "object",
          "description": "Managed configuration applied to the app. The format for the configuration is dictated by the ManagedProperty values supported by the app. Each field name in the managed configuration must match the key field of the ManagedProperty. The field value must be compatible with the type of the ManagedProperty: *type* *JSON value* BOOL true or false STRING string INTEGER number CHOICE string MULTISELECT array of strings HIDDEN string BUNDLE_ARRAY array of objects ",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "disabled": {
          "description": "Whether the app is disabled. When disabled, the app data is still preserved.",
          "type": "boolean"
        },
        "delegatedScopes": {
          "type": "array",
          "items": {
            "enum": [
              "DELEGATED_SCOPE_UNSPECIFIED",
              "CERT_INSTALL",
              "MANAGED_CONFIGURATIONS",
              "BLOCK_UNINSTALL",
              "PERMISSION_GRANT",
              "PACKAGE_ACCESS",
              "ENABLE_SYSTEM_APP",
              "NETWORK_ACTIVITY_LOGS",
              "SECURITY_LOGS"
            ],
            "type": "string",
            "enumDescriptions": [
              "No delegation scope specified.",
              "Grants access to certificate installation and management.",
              "Grants access to managed configurations management.",
              "Grants access to blocking uninstallation.",
              "Grants access to permission policy and permission grant state.",
              "Grants access to package access state.",
              "Grants access for enabling system apps.",
              "Grants access to network activity logs. Allows the delegated application to call setNetworkLoggingEnabled (https://developer.android.com/reference/android/app/admin/DevicePolicyManager#setNetworkLoggingEnabled%28android.content.ComponentName,%20boolean%29), isNetworkLoggingEnabled (https://developer.android.com/reference/android/app/admin/DevicePolicyManager#isNetworkLoggingEnabled%28android.content.ComponentName%29) and retrieveNetworkLogs (https://developer.android.com/reference/android/app/admin/DevicePolicyManager#retrieveNetworkLogs%28android.content.ComponentName,%20long%29) methods. This scope can be delegated to at most one application. Supported for fully managed devices on Android 10 and above. Supported for a work profile on Android 12 and above. When delegation is supported and set, NETWORK_ACTIVITY_LOGS is ignored.",
              "Grants access to security logs. Allows the delegated application to call setSecurityLoggingEnabled (https://developer.android.com/reference/android/app/admin/DevicePolicyManager#setSecurityLoggingEnabled%28android.content.ComponentName,%20boolean%29), isSecurityLoggingEnabled (https://developer.android.com/reference/android/app/admin/DevicePolicyManager#isSecurityLoggingEnabled%28android.content.ComponentName%29), retrieveSecurityLogs (https://developer.android.com/reference/android/app/admin/DevicePolicyManager#retrieveSecurityLogs%28android.content.ComponentName%29) and retrievePreRebootSecurityLogs (https://developer.android.com/reference/android/app/admin/DevicePolicyManager#retrievePreRebootSecurityLogs%28android.content.ComponentName%29) methods. This scope can be delegated to at most one application. Supported for fully managed devices and company-owned devices with a work profile on Android 12 and above. When delegation is supported and set, SECURITY_LOGS is ignored."
            ]
          },
          "description": "The scopes delegated to the app from Android Device Policy."
        },
        "permissionGrants": {
          "description": "Explicit permission grants or denials for the app. These values override the default_permission_policy and permission_grants which apply to all apps.",
          "type": "array",
          "items": {
            "$ref": "PermissionGrant"
          }
        },
        "managedConfigurationTemplate": {
          "$ref": "ManagedConfigurationTemplate",
          "description": "The managed configurations template for the app, saved from the managed configurations iframe. This field is ignored if managed_configuration is set."
        },
        "connectedWorkAndPersonalApp": {
          "description": "Controls whether the app can communicate with itself across a device’s work and personal profiles, subject to user consent.",
          "enumDescriptions": [
            "Unspecified. Defaults to CONNECTED_WORK_AND_PERSONAL_APPS_DISALLOWED.",
            "Default. Prevents the app from communicating cross-profile.",
            "Allows the app to communicate across profiles after receiving user consent."
          ],
          "type": "string",
          "enum": [
            "CONNECTED_WORK_AND_PERSONAL_APP_UNSPECIFIED",
            "CONNECTED_WORK_AND_PERSONAL_APP_DISALLOWED",
            "CONNECTED_WORK_AND_PERSONAL_APP_ALLOWED"
          ]
        },
        "alwaysOnVpnLockdownExemption": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Defaults to VPN_LOCKDOWN_ENFORCED.",
            "The app respects the always-on VPN lockdown setting.",
            "The app is exempt from the always-on VPN lockdown setting."
          ],
          "description": "Specifies whether the app is allowed networking when the VPN is not connected and alwaysOnVpnPackage.lockdownEnabled is enabled. If set to VPN_LOCKDOWN_ENFORCED, the app is not allowed networking, and if set to VPN_LOCKDOWN_EXEMPTION, the app is allowed networking. Only supported on devices running Android 10 and above. If this is not supported by the device, the device will contain a NonComplianceDetail with non_compliance_reason set to API_LEVEL and a fieldPath. If this is not applicable to the app, the device will contain a NonComplianceDetail with non_compliance_reason set to UNSUPPORTED and a fieldPath. The fieldPath is set to applications[i].alwaysOnVpnLockdownExemption, where i is the index of the package in the applications policy.",
          "enum": [
            "ALWAYS_ON_VPN_LOCKDOWN_EXEMPTION_UNSPECIFIED",
            "VPN_LOCKDOWN_ENFORCED",
            "VPN_LOCKDOWN_EXEMPTION"
          ]
        }
      }
    },
    "MemoryEvent": {
      "type": "object",
      "id": "MemoryEvent",
      "description": "An event related to memory and storage measurements.",
      "properties": {
        "eventType": {
          "enumDescriptions": [
            "Unspecified. No events have this type.",
            "Free space in RAM was measured.",
            "Free space in internal storage was measured.",
            "A new external storage medium was detected. The reported byte count is the total capacity of the storage medium.",
            "An external storage medium was removed. The reported byte count is zero.",
            "Free space in an external storage medium was measured."
          ],
          "enum": [
            "MEMORY_EVENT_TYPE_UNSPECIFIED",
            "RAM_MEASURED",
            "INTERNAL_STORAGE_MEASURED",
            "EXTERNAL_STORAGE_DETECTED",
            "EXTERNAL_STORAGE_REMOVED",
            "EXTERNAL_STORAGE_MEASURED"
          ],
          "description": "Event type.",
          "type": "string"
        },
        "byteCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of free bytes in the medium, or for EXTERNAL_STORAGE_DETECTED, the total capacity in bytes of the storage medium."
        },
        "createTime": {
          "type": "string",
          "description": "The creation time of the event.",
          "format": "google-datetime"
        }
      }
    },
    "ContactInfo": {
      "description": "Contact details for managed Google Play enterprises.",
      "id": "ContactInfo",
      "type": "object",
      "properties": {
        "euRepresentativePhone": {
          "description": "The phone number of the EU representative. The phone number is validated but not verified.",
          "type": "string"
        },
        "contactEmail": {
          "description": "Email address for a point of contact, which will be used to send important announcements related to managed Google Play.",
          "type": "string"
        },
        "euRepresentativeEmail": {
          "description": "The email of the EU representative. The email is validated but not verified.",
          "type": "string"
        },
        "euRepresentativeName": {
          "description": "The name of the EU representative.",
          "type": "string"
        },
        "dataProtectionOfficerName": {
          "description": "The name of the data protection officer.",
          "type": "string"
        },
        "dataProtectionOfficerEmail": {
          "type": "string",
          "description": "The email of the data protection officer. The email is validated but not verified."
        },
        "dataProtectionOfficerPhone": {
          "type": "string",
          "description": "The phone number of the data protection officer The phone number is validated but not verified."
        }
      }
    },
    "ComplianceRule": {
      "description": "A rule declaring which mitigating actions to take when a device is not compliant with its policy. For every rule, there is always an implicit mitigating action to set policy_compliant to false for the Device resource, and display a message on the device indicating that the device is not compliant with its policy. Other mitigating actions may optionally be taken as well, depending on the field values in the rule.",
      "id": "ComplianceRule",
      "type": "object",
      "properties": {
        "packageNamesToDisable": {
          "description": "If set, the rule includes a mitigating action to disable apps specified in the list, but app data is preserved.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "disableApps": {
          "description": "If set to true, the rule includes a mitigating action to disable apps so that the device is effectively disabled, but app data is preserved. If the device is running an app in locked task mode, the app will be closed and a UI showing the reason for non-compliance will be displayed.",
          "type": "boolean"
        },
        "nonComplianceDetailCondition": {
          "$ref": "NonComplianceDetailCondition",
          "description": "A condition which is satisfied if there exists any matching NonComplianceDetail for the device."
        },
        "apiLevelCondition": {
          "description": "A condition which is satisfied if the Android Framework API level on the device doesn't meet a minimum requirement.",
          "$ref": "ApiLevelCondition"
        }
      }
    },
    "UsageLogEvent": {
      "id": "UsageLogEvent",
      "description": "An event logged on the device.",
      "type": "object",
      "properties": {
        "loggingStartedEvent": {
          "description": "usageLog policy has been enabled. Part of SECURITY_LOGS.",
          "$ref": "LoggingStartedEvent"
        },
        "filePushedEvent": {
          "description": "A file was uploaded onto the device. Part of SECURITY_LOGS.",
          "$ref": "FilePushedEvent"
        },
        "keyIntegrityViolationEvent": {
          "$ref": "KeyIntegrityViolationEvent",
          "description": "A cryptographic key including user installed, admin installed and system maintained private key is determined to be corrupted due to storage corruption, hardware failure or some OS issue. Part of SECURITY_LOGS."
        },
        "wipeFailureEvent": {
          "description": "The work profile or company-owned device failed to wipe when requested. This could be user initiated or admin initiated e.g. delete was received. Part of SECURITY_LOGS.",
          "$ref": "WipeFailureEvent"
        },
        "logBufferSizeCriticalEvent": {
          "$ref": "LogBufferSizeCriticalEvent",
          "description": "The audit log buffer has reached 90% of its capacity, therefore older events may be dropped. Part of SECURITY_LOGS."
        },
        "dnsEvent": {
          "$ref": "DnsEvent",
          "description": "A DNS lookup event was initiated through the standard network stack. Part of NETWORK_ACTIVITY_LOGS."
        },
        "appProcessStartEvent": {
          "description": "An app process was started. Part of SECURITY_LOGS.",
          "$ref": "AppProcessStartEvent"
        },
        "connectEvent": {
          "$ref": "ConnectEvent",
          "description": "A TCP connect event was initiated through the standard network stack. Part of NETWORK_ACTIVITY_LOGS."
        },
        "osShutdownEvent": {
          "description": "Device was shutdown. Part of SECURITY_LOGS.",
          "$ref": "OsShutdownEvent"
        },
        "certAuthorityRemovedEvent": {
          "$ref": "CertAuthorityRemovedEvent",
          "description": "A root certificate was removed from the system's trusted credential storage. Part of SECURITY_LOGS."
        },
        "cryptoSelfTestCompletedEvent": {
          "description": "Validates whether Android’s built-in cryptographic library (BoringSSL) is valid. Should always succeed on device boot, if it fails, the device should be considered untrusted. Part of SECURITY_LOGS.",
          "$ref": "CryptoSelfTestCompletedEvent"
        },
        "keyGeneratedEvent": {
          "description": "A cryptographic key including user installed, admin installed and system maintained private key is installed on the device either by the user or management. Part of SECURITY_LOGS.",
          "$ref": "KeyGeneratedEvent"
        },
        "mediaUnmountEvent": {
          "description": "Removable media was unmounted. Part of SECURITY_LOGS.",
          "$ref": "MediaUnmountEvent"
        },
        "remoteLockEvent": {
          "$ref": "RemoteLockEvent",
          "description": "The device or profile has been remotely locked via the LOCK command. Part of SECURITY_LOGS."
        },
        "certAuthorityInstalledEvent": {
          "$ref": "CertAuthorityInstalledEvent",
          "description": "A new root certificate was installed into the system's trusted credential storage. Part of SECURITY_LOGS."
        },
        "keyguardDismissAuthAttemptEvent": {
          "description": "An attempt was made to unlock the device. Part of SECURITY_LOGS.",
          "$ref": "KeyguardDismissAuthAttemptEvent"
        },
        "loggingStoppedEvent": {
          "$ref": "LoggingStoppedEvent",
          "description": "usageLog policy has been disabled. Part of SECURITY_LOGS."
        },
        "eventTime": {
          "description": "Device timestamp when the event was logged.",
          "type": "string",
          "format": "google-datetime"
        },
        "keyguardDismissedEvent": {
          "description": "The keyguard was dismissed. Part of SECURITY_LOGS.",
          "$ref": "KeyguardDismissedEvent"
        },
        "certValidationFailureEvent": {
          "$ref": "CertValidationFailureEvent",
          "description": "An X.509v3 certificate failed to validate, currently this validation is performed on the Wi-FI access point and failure may be due to a mismatch upon server certificate validation. However it may in the future include other validation events of an X.509v3 certificate. Part of SECURITY_LOGS."
        },
        "eventId": {
          "format": "int64",
          "type": "string",
          "description": "Unique id of the event."
        },
        "filePulledEvent": {
          "$ref": "FilePulledEvent",
          "description": "A file was downloaded from the device. Part of SECURITY_LOGS."
        },
        "adbShellInteractiveEvent": {
          "description": "An ADB interactive shell was opened via “adb shell”. Part of SECURITY_LOGS.",
          "$ref": "AdbShellInteractiveEvent"
        },
        "osStartupEvent": {
          "description": "Device was started. Part of SECURITY_LOGS.",
          "$ref": "OsStartupEvent"
        },
        "adbShellCommandEvent": {
          "description": "A shell command was issued over ADB via “adb shell command”. Part of SECURITY_LOGS.",
          "$ref": "AdbShellCommandEvent"
        },
        "keyguardSecuredEvent": {
          "$ref": "KeyguardSecuredEvent",
          "description": "The device was locked either by user or timeout. Part of SECURITY_LOGS."
        },
        "eventType": {
          "enumDescriptions": [
            "This value is not used",
            "Indicates adb_shell_command_event has been set.",
            "Indicates adb_shell_interactive_event has been set.",
            "Indicates app_process_start_event has been set.",
            "Indicates keyguard_dismissed_event has been set.",
            "Indicates keyguard_dismiss_auth_attempt_event has been set.",
            "Indicates keyguard_secured_event has been set.",
            "Indicates file_pulled_event has been set.",
            "Indicates file_pushed_event has been set.",
            "Indicates cert_authority_installed_event has been set.",
            "Indicates cert_authority_removed_event has been set.",
            "Indicates cert_validation_failure_event has been set.",
            "Indicates crypto_self_test_completed_event has been set.",
            "Indicates key_destruction_event has been set.",
            "Indicates key_generated_event has been set.",
            "Indicates key_import_event has been set.",
            "Indicates key_integrity_violation_event has been set.",
            "Indicates logging_started_event has been set.",
            "Indicates logging_stopped_event has been set.",
            "Indicates log_buffer_size_critical_event has been set.",
            "Indicates media_mount_event has been set.",
            "Indicates media_unmount_event has been set.",
            "Indicates os_shutdown_event has been set.",
            "Indicates os_startup_event has been set.",
            "Indicates remote_lock_event has been set.",
            "Indicates wipe_failure_event has been set.",
            "Indicates connect_event has been set.",
            "Indicates dns_event has been set."
          ],
          "description": "The particular usage log event type that was reported on the device. Use this to determine which event field to access.",
          "type": "string",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "ADB_SHELL_COMMAND",
            "ADB_SHELL_INTERACTIVE",
            "APP_PROCESS_START",
            "KEYGUARD_DISMISSED",
            "KEYGUARD_DISMISS_AUTH_ATTEMPT",
            "KEYGUARD_SECURED",
            "FILE_PULLED",
            "FILE_PUSHED",
            "CERT_AUTHORITY_INSTALLED",
            "CERT_AUTHORITY_REMOVED",
            "CERT_VALIDATION_FAILURE",
            "CRYPTO_SELF_TEST_COMPLETED",
            "KEY_DESTRUCTION",
            "KEY_GENERATED",
            "KEY_IMPORT",
            "KEY_INTEGRITY_VIOLATION",
            "LOGGING_STARTED",
            "LOGGING_STOPPED",
            "LOG_BUFFER_SIZE_CRITICAL",
            "MEDIA_MOUNT",
            "MEDIA_UNMOUNT",
            "OS_SHUTDOWN",
            "OS_STARTUP",
            "REMOTE_LOCK",
            "WIPE_FAILURE",
            "CONNECT",
            "DNS"
          ]
        },
        "keyDestructionEvent": {
          "$ref": "KeyDestructionEvent",
          "description": "A cryptographic key including user installed, admin installed and system maintained private key is removed from the device either by the user or management. Part of SECURITY_LOGS."
        },
        "mediaMountEvent": {
          "$ref": "MediaMountEvent",
          "description": "Removable media was mounted. Part of SECURITY_LOGS."
        },
        "keyImportEvent": {
          "$ref": "KeyImportEvent",
          "description": "A cryptographic key including user installed, admin installed and system maintained private key is imported on the device either by the user or management. Part of SECURITY_LOGS."
        }
      }
    },
    "LoggingStoppedEvent": {
      "properties": {},
      "id": "LoggingStoppedEvent",
      "type": "object",
      "description": "usageLog policy has been disabled. Intentionally empty."
    },
    "OncCertificateProvider": {
      "properties": {
        "contentProviderEndpoint": {
          "$ref": "ContentProviderEndpoint",
          "description": "This feature is not generally available."
        },
        "certificateReferences": {
          "items": {
            "type": "string"
          },
          "description": "This feature is not generally available.",
          "type": "array"
        }
      },
      "id": "OncCertificateProvider",
      "type": "object",
      "description": "This feature is not generally available."
    },
    "ApplicationReportingSettings": {
      "type": "object",
      "properties": {
        "includeRemovedApps": {
          "type": "boolean",
          "description": "Whether removed apps are included in application reports."
        }
      },
      "id": "ApplicationReportingSettings",
      "description": "Settings controlling the behavior of application reports."
    },
    "ContentProviderEndpoint": {
      "properties": {
        "signingCertsSha256": {
          "type": "array",
          "description": "Required. This feature is not generally available.",
          "items": {
            "type": "string"
          }
        },
        "packageName": {
          "description": "This feature is not generally available.",
          "type": "string"
        },
        "uri": {
          "description": "This feature is not generally available.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "This feature is not generally available.",
      "id": "ContentProviderEndpoint"
    },
    "SoftwareInfo": {
      "properties": {
        "primaryLanguageCode": {
          "type": "string",
          "description": "An IETF BCP 47 language code for the primary locale on the device."
        },
        "bootloaderVersion": {
          "description": "The system bootloader version number, e.g. 0.6.7.",
          "type": "string"
        },
        "securityPatchLevel": {
          "description": "Security patch level, e.g. 2016-05-01.",
          "type": "string"
        },
        "systemUpdateInfo": {
          "description": "Information about a potential pending system update.",
          "$ref": "SystemUpdateInfo"
        },
        "androidDevicePolicyVersionName": {
          "type": "string",
          "description": "The Android Device Policy app version as displayed to the user."
        },
        "androidDevicePolicyVersionCode": {
          "format": "int32",
          "description": "The Android Device Policy app version code.",
          "type": "integer"
        },
        "androidBuildTime": {
          "description": "Build time.",
          "type": "string",
          "format": "google-datetime"
        },
        "deviceBuildSignature": {
          "description": "SHA-256 hash of android.content.pm.Signature (https://developer.android.com/reference/android/content/pm/Signature.html) associated with the system package, which can be used to verify that the system build hasn't been modified.",
          "type": "string"
        },
        "androidBuildNumber": {
          "description": "Android build ID string meant for displaying to the user. For example, shamu-userdebug 6.0.1 MOB30I 2756745 dev-keys.",
          "type": "string"
        },
        "androidVersion": {
          "description": "The user-visible Android version string. For example, 6.0.1.",
          "type": "string"
        },
        "deviceKernelVersion": {
          "description": "Kernel version, for example, 2.6.32.9-g103d848.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Information about device software.",
      "id": "SoftwareInfo"
    },
    "AlwaysOnVpnPackage": {
      "description": "Configuration for an always-on VPN connection.",
      "type": "object",
      "properties": {
        "lockdownEnabled": {
          "description": "Disallows networking when the VPN is not connected.",
          "type": "boolean"
        },
        "packageName": {
          "description": "The package name of the VPN app.",
          "type": "string"
        }
      },
      "id": "AlwaysOnVpnPackage"
    },
    "ListEnrollmentTokensResponse": {
      "type": "object",
      "properties": {
        "enrollmentTokens": {
          "type": "array",
          "description": "The list of enrollment tokens.",
          "items": {
            "$ref": "EnrollmentToken"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there are more results, a token to retrieve next page of results."
        }
      },
      "description": "Response to a request to list enrollment tokens for a given enterprise.",
      "id": "ListEnrollmentTokensResponse"
    },
    "ManagedPropertyEntry": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The machine-readable value of the entry, which should be used in the configuration. Not localized."
        },
        "name": {
          "description": "The human-readable name of the value. Localized.",
          "type": "string"
        }
      },
      "description": "An entry of a managed property.",
      "id": "ManagedPropertyEntry"
    },
    "BatchUsageLogEvents": {
      "id": "BatchUsageLogEvents",
      "type": "object",
      "description": "Batched event logs of events from the device.",
      "properties": {
        "usageLogEvents": {
          "type": "array",
          "items": {
            "$ref": "UsageLogEvent"
          },
          "description": "The list of UsageLogEvent that were reported by the device, sorted chronologically by the event time."
        },
        "user": {
          "description": "The resource name of the user that owns this device in the form ‘enterprises/{enterpriseId}/users/{userId}’.",
          "type": "string"
        },
        "device": {
          "type": "string",
          "description": "The name of the device in the form ‘enterprises/{enterpriseId}/devices/{deviceId}’"
        },
        "retrievalTime": {
          "description": "The device timestamp when the batch of events were collected from the device.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "AppTrackInfo": {
      "id": "AppTrackInfo",
      "description": "Id to name association of a app track.",
      "type": "object",
      "properties": {
        "trackId": {
          "description": "The unmodifiable unique track identifier, taken from the releaseTrackId in the URL of the Play Console page that displays the app’s track information.",
          "type": "string"
        },
        "trackAlias": {
          "type": "string",
          "description": "The track name associated with the trackId, set in the Play Console. The name is modifiable from Play Console."
        }
      }
    },
    "User": {
      "description": "A user belonging to an enterprise.",
      "id": "User",
      "type": "object",
      "properties": {
        "accountIdentifier": {
          "type": "string",
          "description": "A unique identifier you create for this user, such as user342 or asset#44418. This field must be set when the user is created and can't be updated. This field must not contain personally identifiable information (PII). This identifier must be 1024 characters or less; otherwise, the update policy request will fail."
        }
      }
    },
    "StatusReportingSettings": {
      "type": "object",
      "id": "StatusReportingSettings",
      "properties": {
        "applicationReportingSettings": {
          "$ref": "ApplicationReportingSettings",
          "description": "Application reporting settings. Only applicable if application_reports_enabled is true."
        },
        "deviceSettingsEnabled": {
          "type": "boolean",
          "description": "Whether device settings reporting is enabled."
        },
        "hardwareStatusEnabled": {
          "type": "boolean",
          "description": "Whether hardware status reporting is enabled. Report data is not available for personally owned devices with work profiles."
        },
        "commonCriteriaModeEnabled": {
          "type": "boolean",
          "description": "Whether Common Criteria Mode reporting is enabled."
        },
        "applicationReportsEnabled": {
          "type": "boolean",
          "description": "Whether app reports are enabled."
        },
        "networkInfoEnabled": {
          "type": "boolean",
          "description": "Whether network info reporting is enabled."
        },
        "softwareInfoEnabled": {
          "description": "Whether software info reporting is enabled.",
          "type": "boolean"
        },
        "memoryInfoEnabled": {
          "description": "Whether memory event reporting is enabled.",
          "type": "boolean"
        },
        "powerManagementEventsEnabled": {
          "type": "boolean",
          "description": "Whether power management event reporting is enabled. Report data is not available for personally owned devices with work profiles."
        },
        "systemPropertiesEnabled": {
          "description": "Whether system properties reporting is enabled.",
          "type": "boolean"
        },
        "displayInfoEnabled": {
          "type": "boolean",
          "description": "Whether displays reporting is enabled. Report data is not available for personally owned devices with work profiles."
        }
      },
      "description": "Settings controlling the behavior of status reports."
    },
    "EnrollmentToken": {
      "id": "EnrollmentToken",
      "description": "An enrollment token.",
      "type": "object",
      "properties": {
        "expirationTimestamp": {
          "description": "The expiration time of the token. This is a read-only field generated by the server.",
          "format": "google-datetime",
          "type": "string"
        },
        "duration": {
          "format": "google-duration",
          "type": "string",
          "description": "The length of time the enrollment token is valid, ranging from 1 minute to Durations.MAX_VALUE (https://developers.google.com/protocol-buffers/docs/reference/java/com/google/protobuf/util/Durations.html#MAX_VALUE), approximately 10,000 years. If not specified, the default duration is 1 hour. Please note that if requested duration causes the resulting expiration_timestamp to exceed Timestamps.MAX_VALUE (https://developers.google.com/protocol-buffers/docs/reference/java/com/google/protobuf/util/Timestamps.html#MAX_VALUE), then expiration_timestamp is coerced to Timestamps.MAX_VALUE."
        },
        "policyName": {
          "type": "string",
          "description": "The name of the policy initially applied to the enrolled device, in the form enterprises/{enterpriseId}/policies/{policyId}. If not specified, the policy_name for the device’s user is applied. If user_name is also not specified, enterprises/{enterpriseId}/policies/default is applied by default. When updating this field, you can specify only the policyId as long as the policyId doesn’t contain any slashes. The rest of the policy name will be inferred."
        },
        "name": {
          "description": "The name of the enrollment token, which is generated by the server during creation, in the form enterprises/{enterpriseId}/enrollmentTokens/{enrollmentTokenId}.",
          "type": "string"
        },
        "allowPersonalUsage": {
          "enum": [
            "ALLOW_PERSONAL_USAGE_UNSPECIFIED",
            "PERSONAL_USAGE_ALLOWED",
            "PERSONAL_USAGE_DISALLOWED"
          ],
          "type": "string",
          "description": "Controls whether personal usage is allowed on a device provisioned with this enrollment token.For company-owned devices: Enabling personal usage allows the user to set up a work profile on the device. Disabling personal usage requires the user provision the device as a fully managed device.For personally-owned devices: Enabling personal usage allows the user to set up a work profile on the device. Disabling personal usage will prevent the device from provisioning. Personal usage cannot be disabled on personally-owned device.",
          "enumDescriptions": [
            "Personal usage restriction is not specified",
            "Personal usage is allowed",
            "Personal usage is disallowed"
          ]
        },
        "oneTimeOnly": {
          "type": "boolean",
          "description": "Whether the enrollment token is for one time use only. If the flag is set to true, only one device can use it for registration."
        },
        "user": {
          "description": "The user associated with this enrollment token. If it's specified when the enrollment token is created and the user does not exist, the user will be created. This field must not contain personally identifiable information. Only the account_identifier field needs to be set.",
          "$ref": "User"
        },
        "value": {
          "type": "string",
          "description": "The token value that's passed to the device and authorizes the device to enroll. This is a read-only field generated by the server."
        },
        "qrCode": {
          "type": "string",
          "description": "A JSON string whose UTF-8 representation can be used to generate a QR code to enroll a device with this enrollment token. To enroll a device using NFC, the NFC record must contain a serialized java.util.Properties representation of the properties in the JSON."
        },
        "additionalData": {
          "type": "string",
          "description": "Optional, arbitrary data associated with the enrollment token. This could contain, for example, the ID of an org unit the device is assigned to after enrollment. After a device enrolls with the token, this data will be exposed in the enrollment_token_data field of the Device resource. The data must be 1024 characters or less; otherwise, the creation request will fail."
        }
      }
    },
    "TermsAndConditions": {
      "type": "object",
      "id": "TermsAndConditions",
      "properties": {
        "header": {
          "description": "A short header which appears above the HTML content.",
          "$ref": "UserFacingMessage"
        },
        "content": {
          "$ref": "UserFacingMessage",
          "description": "A well-formatted HTML string. It will be parsed on the client with android.text.Html#fromHtml."
        }
      },
      "description": "A terms and conditions page to be accepted during provisioning."
    },
    "ExternalData": {
      "type": "object",
      "id": "ExternalData",
      "properties": {
        "sha256Hash": {
          "description": "The base-64 encoded SHA-256 hash of the content hosted at url. If the content doesn't match this hash, Android Device Policy won't use the data.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "The absolute URL to the data, which must use either the http or https scheme. Android Device Policy doesn't provide any credentials in the GET request, so the URL must be publicly accessible. Including a long, random component in the URL may be used to prevent attackers from discovering the URL."
        }
      },
      "description": "Data hosted at an external location. The data is to be downloaded by Android Device Policy and verified against the hash."
    },
    "ClearAppsDataParams": {
      "id": "ClearAppsDataParams",
      "properties": {
        "packageNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The package names of the apps whose data will be cleared when the command is executed."
        }
      },
      "description": "Parameters associated with the CLEAR_APP_DATA command to clear the data of specified apps from the device.",
      "type": "object"
    },
    "AppProcessStartEvent": {
      "type": "object",
      "properties": {
        "processInfo": {
          "description": "Information about a process.",
          "$ref": "AppProcessInfo"
        }
      },
      "description": "An app process was started. This is available device-wide on fully managed devices and within the work profile on organization-owned devices with a work profile.",
      "id": "AppProcessStartEvent"
    },
    "WipeFailureEvent": {
      "description": "The work profile or company-owned device failed to wipe when requested. This could be user initiated or admin initiated e.g. delete was received. Intentionally empty.",
      "properties": {},
      "type": "object",
      "id": "WipeFailureEvent"
    },
    "WipeAction": {
      "description": "An action to reset a company owned device or delete a work profile. Note: blockAction must also be specified.",
      "properties": {
        "wipeAfterDays": {
          "format": "int32",
          "description": "Number of days the policy is non-compliant before the device or work profile is wiped. wipeAfterDays must be greater than blockAfterDays.",
          "type": "integer"
        },
        "preserveFrp": {
          "type": "boolean",
          "description": "Whether the factory-reset protection data is preserved on the device. This setting doesn’t apply to work profiles."
        }
      },
      "id": "WipeAction",
      "type": "object"
    },
    "NonComplianceDetailCondition": {
      "id": "NonComplianceDetailCondition",
      "description": "A compliance rule condition which is satisfied if there exists any matching NonComplianceDetail for the device. A NonComplianceDetail matches a NonComplianceDetailCondition if all the fields which are set within the NonComplianceDetailCondition match the corresponding NonComplianceDetail fields.",
      "properties": {
        "settingName": {
          "description": "The name of the policy setting. This is the JSON field name of a top-level Policy field. If not set, then this condition matches any setting name.",
          "type": "string"
        },
        "nonComplianceReason": {
          "description": "The reason the device is not in compliance with the setting. If not set, then this condition matches any reason.",
          "enum": [
            "NON_COMPLIANCE_REASON_UNSPECIFIED",
            "API_LEVEL",
            "MANAGEMENT_MODE",
            "USER_ACTION",
            "INVALID_VALUE",
            "APP_NOT_INSTALLED",
            "UNSUPPORTED",
            "APP_INSTALLED",
            "PENDING",
            "APP_INCOMPATIBLE",
            "APP_NOT_UPDATED"
          ],
          "enumDescriptions": [
            "This value is disallowed.",
            "The setting is not supported in the API level of the Android version running on the device.",
            "The management mode (profile owner, device owner, etc.) doesn't support the setting.",
            "The user has not taken required action to comply with the setting.",
            "The setting has an invalid value.",
            "The app required to implement the policy is not installed.",
            "The policy is not supported by the version of Android Device Policy on the device.",
            "A blocked app is installed.",
            "The setting hasn't been applied at the time of the report, but is expected to be applied shortly.",
            "The setting can't be applied to the app because the app doesn't support it, for example because its target SDK version is not high enough.",
            "The app is installed, but it hasn't been updated to the minimum version code specified by policy."
          ],
          "type": "string"
        },
        "packageName": {
          "type": "string",
          "description": "The package name of the app that's out of compliance. If not set, then this condition matches any package name."
        }
      },
      "type": "object"
    },
    "ListDevicesResponse": {
      "id": "ListDevicesResponse",
      "properties": {
        "devices": {
          "type": "array",
          "items": {
            "$ref": "Device"
          },
          "description": "The list of devices."
        },
        "nextPageToken": {
          "description": "If there are more results, a token to retrieve next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response to a request to list devices for a given enterprise."
    },
    "PostureDetail": {
      "description": "Additional details regarding the security posture of the device.",
      "id": "PostureDetail",
      "type": "object",
      "properties": {
        "securityRisk": {
          "type": "string",
          "enum": [
            "SECURITY_RISK_UNSPECIFIED",
            "UNKNOWN_OS",
            "COMPROMISED_OS",
            "HARDWARE_BACKED_EVALUATION_FAILED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "SafetyNet detects that the device is running an unknown OS (basicIntegrity check succeeds but ctsProfileMatch fails).",
            "SafetyNet detects that the device is running a compromised OS (basicIntegrity check fails).",
            "SafetyNet detects that the device does not have a strong guarantee of system integrity, such as a hardware-backed keystore (https://developer.android.com/training/articles/security-key-attestation)."
          ],
          "description": "A specific security risk that negatively affects the security posture of the device."
        },
        "advice": {
          "type": "array",
          "items": {
            "$ref": "UserFacingMessage"
          },
          "description": "Corresponding admin-facing advice to mitigate this security risk and improve the security posture of the device."
        }
      }
    },
    "UsageLog": {
      "description": "Controls types of device activity logs collected from the device and reported via Pub/Sub notification (https://developers.google.com/android/management/notifications).",
      "id": "UsageLog",
      "properties": {
        "uploadOnCellularAllowed": {
          "items": {
            "type": "string",
            "enum": [
              "LOG_TYPE_UNSPECIFIED",
              "SECURITY_LOGS",
              "NETWORK_ACTIVITY_LOGS"
            ],
            "enumDescriptions": [
              "This value is not used.",
              "Enable logging of on-device security events, like when the device password is incorrectly entered or removable storage is mounted. See UsageLogEvent for a complete description of the logged security events. Supported for fully managed devices on Android 7 and above. Supported for company-owned devices with a work profile on Android 12 and above, on which only security events from the work profile are logged. Can be overridden by the application delegated scope SECURITY_LOGS",
              "Enable logging of on-device network events, like DNS lookups and TCP connections. See UsageLogEvent for a complete description of the logged network events. Supported for fully managed devices on Android 8 and above. Supported for company-owned devices with a work profile on Android 12 and above, on which only network events from the work profile are logged. Can be overridden by the application delegated scope NETWORK_ACTIVITY_LOGS"
            ]
          },
          "type": "array",
          "description": "Specifies which of the enabled log types can be uploaded over mobile data. By default logs are queued for upload when the device connects to WiFi."
        },
        "enabledLogTypes": {
          "type": "array",
          "description": "Specifies which log types are enabled. Note that users will receive on-device messaging when usage logging is enabled.",
          "items": {
            "enum": [
              "LOG_TYPE_UNSPECIFIED",
              "SECURITY_LOGS",
              "NETWORK_ACTIVITY_LOGS"
            ],
            "enumDescriptions": [
              "This value is not used.",
              "Enable logging of on-device security events, like when the device password is incorrectly entered or removable storage is mounted. See UsageLogEvent for a complete description of the logged security events. Supported for fully managed devices on Android 7 and above. Supported for company-owned devices with a work profile on Android 12 and above, on which only security events from the work profile are logged. Can be overridden by the application delegated scope SECURITY_LOGS",
              "Enable logging of on-device network events, like DNS lookups and TCP connections. See UsageLogEvent for a complete description of the logged network events. Supported for fully managed devices on Android 8 and above. Supported for company-owned devices with a work profile on Android 12 and above, on which only network events from the work profile are logged. Can be overridden by the application delegated scope NETWORK_ACTIVITY_LOGS"
            ],
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "WebApp": {
      "properties": {
        "versionCode": {
          "format": "int64",
          "description": "The current version of the app.Note that the version can automatically increase during the lifetime of the web app, while Google does internal housekeeping to keep the web app up-to-date.",
          "type": "string"
        },
        "title": {
          "description": "The title of the web app as displayed to the user (e.g., amongst a list of other applications, or as a label for an icon).",
          "type": "string"
        },
        "displayMode": {
          "enumDescriptions": [
            "Not used.",
            "Opens the web app with a minimal set of browser UI elements for controlling navigation and viewing the page URL.",
            "Opens the web app to look and feel like a standalone native application. The browser UI elements and page URL are not visible, however the system status bar and back button are visible.",
            "Opens the web app in full screen without any visible controls. The browser UI elements, page URL, system status bar and back button are not visible, and the web app takes up the entirety of the available display area."
          ],
          "description": "The display mode of the web app.",
          "enum": [
            "DISPLAY_MODE_UNSPECIFIED",
            "MINIMAL_UI",
            "STANDALONE",
            "FULL_SCREEN"
          ],
          "type": "string"
        },
        "startUrl": {
          "description": "The start URL, i.e. the URL that should load when the user opens the application.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the web app, which is generated by the server during creation in the form enterprises/{enterpriseId}/webApps/{packageName}."
        },
        "icons": {
          "items": {
            "$ref": "WebAppIcon"
          },
          "type": "array",
          "description": "A list of icons for the web app. Must have at least one element."
        }
      },
      "description": "A web app.",
      "type": "object",
      "id": "WebApp"
    },
    "ApiLevelCondition": {
      "properties": {
        "minApiLevel": {
          "description": "The minimum desired Android Framework API level. If the device doesn't meet the minimum requirement, this condition is satisfied. Must be greater than zero.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "A compliance rule condition which is satisfied if the Android Framework API level on the device doesn't meet a minimum requirement. There can only be one rule with this type of condition per policy.",
      "id": "ApiLevelCondition",
      "type": "object"
    },
    "SystemUpdate": {
      "properties": {
        "freezePeriods": {
          "items": {
            "$ref": "FreezePeriod"
          },
          "type": "array",
          "description": "An annually repeating time period in which over-the-air (OTA) system updates are postponed to freeze the OS version running on a device. To prevent freezing the device indefinitely, each freeze period must be separated by at least 60 days."
        },
        "endMinutes": {
          "format": "int32",
          "description": "If the type is WINDOWED, the end of the maintenance window, measured as the number of minutes after midnight in device's local time. This value must be between 0 and 1439, inclusive. If this value is less than start_minutes, then the maintenance window spans midnight. If the maintenance window specified is smaller than 30 minutes, the actual window is extended to 30 minutes beyond the start time.",
          "type": "integer"
        },
        "startMinutes": {
          "description": "If the type is WINDOWED, the start of the maintenance window, measured as the number of minutes after midnight in the device's local time. This value must be between 0 and 1439, inclusive.",
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "enum": [
            "SYSTEM_UPDATE_TYPE_UNSPECIFIED",
            "AUTOMATIC",
            "WINDOWED",
            "POSTPONE"
          ],
          "type": "string",
          "description": "The type of system update to configure.",
          "enumDescriptions": [
            "Follow the default update behavior for the device, which typically requires the user to accept system updates.",
            "Install automatically as soon as an update is available.",
            "Install automatically within a daily maintenance window. This also configures Play apps to be updated within the window. This is strongly recommended for kiosk devices because this is the only way apps persistently pinned to the foreground can be updated by Play.If autoUpdateMode is set to AUTO_UPDATE_HIGH_PRIORITY for an app, then the maintenance window is ignored for that app and it is updated as soon as possible even outside of the maintenance window.",
            "Postpone automatic install up to a maximum of 30 days."
          ]
        }
      },
      "id": "SystemUpdate",
      "description": "Configuration for managing system updates",
      "type": "object"
    },
    "ListOperationsResponse": {
      "type": "object",
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "BlockAction": {
      "id": "BlockAction",
      "description": "An action to block access to apps and data on a fully managed device or in a work profile. This action also triggers a device or work profile to displays a user-facing notification with information (where possible) on how to correct the compliance issue. Note: wipeAction must also be specified.",
      "properties": {
        "blockScope": {
          "enum": [
            "BLOCK_SCOPE_UNSPECIFIED",
            "BLOCK_SCOPE_WORK_PROFILE",
            "BLOCK_SCOPE_DEVICE"
          ],
          "enumDescriptions": [
            "Unspecified. Defaults to BLOCK_SCOPE_WORK_PROFILE.",
            "Block action is only applied to apps in the work profile. Apps in the personal profile are unaffected.",
            "Block action is applied to the entire device, including apps in the personal profile."
          ],
          "description": "Specifies the scope of this BlockAction. Only applicable to devices that are company-owned.",
          "type": "string"
        },
        "blockAfterDays": {
          "type": "integer",
          "description": "Number of days the policy is non-compliant before the device or work profile is blocked. To block access immediately, set to 0. blockAfterDays must be less than wipeAfterDays.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "LaunchAppAction": {
      "type": "object",
      "id": "LaunchAppAction",
      "description": "An action to launch an app.",
      "properties": {
        "packageName": {
          "type": "string",
          "description": "Package name of app to be launched"
        }
      }
    },
    "ListEnterprisesResponse": {
      "description": "Response to a request to list enterprises.",
      "type": "object",
      "properties": {
        "enterprises": {
          "description": "The list of enterprises.",
          "type": "array",
          "items": {
            "$ref": "Enterprise"
          }
        },
        "nextPageToken": {
          "description": "If there are more results, a token to retrieve next page of results.",
          "type": "string"
        }
      },
      "id": "ListEnterprisesResponse"
    },
    "MediaUnmountEvent": {
      "description": "Removable media was unmounted.",
      "properties": {
        "volumeLabel": {
          "description": "Volume label. Redacted to empty string on organization-owned managed profile devices.",
          "type": "string"
        },
        "mountPoint": {
          "description": "Mount point.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "MediaUnmountEvent"
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } "
    },
    "Policy": {
      "id": "Policy",
      "type": "object",
      "description": "A policy resource represents a group of settings that govern the behavior of a managed device and the apps installed on it.",
      "properties": {
        "smsDisabled": {
          "type": "boolean",
          "description": "Whether sending and receiving SMS messages is disabled."
        },
        "networkResetDisabled": {
          "description": "Whether resetting network settings is disabled.",
          "type": "boolean"
        },
        "cellBroadcastsConfigDisabled": {
          "type": "boolean",
          "description": "Whether configuring cell broadcast is disabled."
        },
        "minimumApiLevel": {
          "type": "integer",
          "description": "The minimum allowed Android API level.",
          "format": "int32"
        },
        "personalUsagePolicies": {
          "$ref": "PersonalUsagePolicies",
          "description": "Policies managing personal usage on a company-owned device."
        },
        "setupActions": {
          "items": {
            "$ref": "SetupAction"
          },
          "description": "Action to take during the setup process. At most one action may be specified.",
          "type": "array"
        },
        "setUserIconDisabled": {
          "description": "Whether changing the user icon is disabled.",
          "type": "boolean"
        },
        "shareLocationDisabled": {
          "type": "boolean",
          "description": "Whether location sharing is disabled. share_location_disabled is supported for both fully managed devices and personally owned work profiles."
        },
        "defaultPermissionPolicy": {
          "type": "string",
          "enum": [
            "PERMISSION_POLICY_UNSPECIFIED",
            "PROMPT",
            "GRANT",
            "DENY"
          ],
          "description": "The default permission policy for runtime permission requests.",
          "enumDescriptions": [
            "Policy not specified. If no policy is specified for a permission at any level, then the PROMPT behavior is used by default.",
            "Prompt the user to grant a permission.",
            "Automatically grant a permission.",
            "Automatically deny a permission."
          ]
        },
        "skipFirstUseHintsEnabled": {
          "description": "Flag to skip hints on the first use. Enterprise admin can enable the system recommendation for apps to skip their user tutorial and other introductory hints on first start-up.",
          "type": "boolean"
        },
        "factoryResetDisabled": {
          "type": "boolean",
          "description": "Whether factory resetting from settings is disabled."
        },
        "setWallpaperDisabled": {
          "type": "boolean",
          "description": "Whether changing the wallpaper is disabled."
        },
        "installUnknownSourcesAllowed": {
          "description": "This field has no effect.",
          "type": "boolean"
        },
        "safeBootDisabled": {
          "description": "Whether rebooting the device into safe boot is disabled.",
          "type": "boolean"
        },
        "statusReportingSettings": {
          "description": "Status reporting settings",
          "$ref": "StatusReportingSettings"
        },
        "oncCertificateProviders": {
          "items": {
            "$ref": "OncCertificateProvider"
          },
          "type": "array",
          "description": "This feature is not generally available."
        },
        "privateKeySelectionEnabled": {
          "description": "Allows showing UI on a device for a user to choose a private key alias if there are no matching rules in ChoosePrivateKeyRules. For devices below Android P, setting this may leave enterprise keys vulnerable.",
          "type": "boolean"
        },
        "version": {
          "description": "The version of the policy. This is a read-only field. The version is incremented each time the policy is updated.",
          "format": "int64",
          "type": "string"
        },
        "alwaysOnVpnPackage": {
          "description": "Configuration for an always-on VPN connection. Use with vpn_config_disabled to prevent modification of this setting.",
          "$ref": "AlwaysOnVpnPackage"
        },
        "passwordRequirements": {
          "description": "Password requirements. The field password_requirements.require_password_unlock must not be set. DEPRECATED - Use passwordPolicies.Note:Complexity-based values of PasswordQuality, that is, COMPLEXITY_LOW, COMPLEXITY_MEDIUM, and COMPLEXITY_HIGH, cannot be used here. unified_lock_settings cannot be used here.",
          "$ref": "PasswordRequirements"
        },
        "appAutoUpdatePolicy": {
          "enum": [
            "APP_AUTO_UPDATE_POLICY_UNSPECIFIED",
            "CHOICE_TO_THE_USER",
            "NEVER",
            "WIFI_ONLY",
            "ALWAYS"
          ],
          "description": "Recommended alternative: autoUpdateMode which is set per app, provides greater flexibility around update frequency.When autoUpdateMode is set to AUTO_UPDATE_POSTPONED or AUTO_UPDATE_HIGH_PRIORITY, this field has no effect.The app auto update policy, which controls when automatic app updates can be applied.",
          "type": "string",
          "enumDescriptions": [
            "The auto-update policy is not set. Equivalent to CHOICE_TO_THE_USER.",
            "The user can control auto-updates.",
            "Apps are never auto-updated.",
            "Apps are auto-updated over Wi-Fi only.",
            "Apps are auto-updated at any time. Data charges may apply."
          ]
        },
        "name": {
          "description": "The name of the policy in the form enterprises/{enterpriseId}/policies/{policyId}.",
          "type": "string"
        },
        "kioskCustomization": {
          "description": "Settings controlling the behavior of a device in kiosk mode. To enable kiosk mode, set kioskCustomLauncherEnabled to true or specify an app in the policy with installType KIOSK.",
          "$ref": "KioskCustomization"
        },
        "bluetoothContactSharingDisabled": {
          "type": "boolean",
          "description": "Whether bluetooth contact sharing is disabled."
        },
        "keyguardDisabledFeatures": {
          "type": "array",
          "description": "Disabled keyguard customizations, such as widgets.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "This value is ignored.",
              "Disable the camera on secure keyguard screens (e.g. PIN).",
              "Disable showing all notifications on secure keyguard screens.",
              "Disable unredacted notifications on secure keyguard screens.",
              "Ignore trust agent state on secure keyguard screens.",
              "Disable fingerprint sensor on secure keyguard screens.",
              "On devices running Android 6 and below, disables text entry into notifications on secure keyguard screens. Has no effect on Android 7 and above.",
              "Disable face authentication on secure keyguard screens.",
              "Disable iris authentication on secure keyguard screens.",
              "Disable all biometric authentication on secure keyguard screens.",
              "Disable all current and future keyguard customizations."
            ],
            "enum": [
              "KEYGUARD_DISABLED_FEATURE_UNSPECIFIED",
              "CAMERA",
              "NOTIFICATIONS",
              "UNREDACTED_NOTIFICATIONS",
              "TRUST_AGENTS",
              "DISABLE_FINGERPRINT",
              "DISABLE_REMOTE_INPUT",
              "FACE",
              "IRIS",
              "BIOMETRICS",
              "ALL_FEATURES"
            ]
          }
        },
        "uninstallAppsDisabled": {
          "type": "boolean",
          "description": "Whether user uninstallation of applications is disabled. This prevents apps from being uninstalled, even those removed using applications"
        },
        "keyguardDisabled": {
          "type": "boolean",
          "description": "If true, this disables the Lock Screen (https://source.android.com/docs/core/display/multi_display/lock-screen) for primary and/or secondary displays."
        },
        "policyEnforcementRules": {
          "items": {
            "$ref": "PolicyEnforcementRule"
          },
          "description": "Rules that define the behavior when a particular policy can not be applied on device",
          "type": "array"
        },
        "longSupportMessage": {
          "description": "A message displayed to the user in the device administators settings screen.",
          "$ref": "UserFacingMessage"
        },
        "addUserDisabled": {
          "description": "Whether adding new users and profiles is disabled.",
          "type": "boolean"
        },
        "usbMassStorageEnabled": {
          "type": "boolean",
          "description": "Whether USB storage is enabled. Deprecated."
        },
        "kioskCustomLauncherEnabled": {
          "description": "Whether the kiosk custom launcher is enabled. This replaces the home screen with a launcher that locks down the device to the apps installed via the applications setting. Apps appear on a single page in alphabetical order. Use kioskCustomization to further configure the kiosk device behavior.",
          "type": "boolean"
        },
        "usbFileTransferDisabled": {
          "type": "boolean",
          "description": "Whether transferring files over USB is disabled. This is supported only on company-owned devices."
        },
        "removeUserDisabled": {
          "description": "Whether removing other users is disabled.",
          "type": "boolean"
        },
        "mountPhysicalMediaDisabled": {
          "type": "boolean",
          "description": "Whether the user mounting physical external media is disabled."
        },
        "createWindowsDisabled": {
          "description": "Whether creating windows besides app windows is disabled.",
          "type": "boolean"
        },
        "choosePrivateKeyRules": {
          "description": "Rules for determining apps' access to private keys. See ChoosePrivateKeyRule for details.",
          "type": "array",
          "items": {
            "$ref": "ChoosePrivateKeyRule"
          }
        },
        "androidDevicePolicyTracks": {
          "description": "The app tracks for Android Device Policy the device can access. The device receives the latest version among all accessible tracks. If no tracks are specified, then the device only uses the production track.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "This value is ignored.",
              "The production track, which provides the latest stable release.",
              "The beta track, which provides the latest beta release."
            ],
            "enum": [
              "APP_TRACK_UNSPECIFIED",
              "PRODUCTION",
              "BETA"
            ]
          }
        },
        "debuggingFeaturesAllowed": {
          "description": "Whether the user is allowed to enable debugging features.",
          "type": "boolean"
        },
        "recommendedGlobalProxy": {
          "description": "The network-independent global HTTP proxy. Typically proxies should be configured per-network in open_network_configuration. However for unusual configurations like general internal filtering a global HTTP proxy may be useful. If the proxy is not accessible, network access may break. The global proxy is only a recommendation and some apps may ignore it.",
          "$ref": "ProxyInfo"
        },
        "tetheringConfigDisabled": {
          "type": "boolean",
          "description": "Whether configuring tethering and portable hotspots is disabled."
        },
        "cameraAccess": {
          "description": "Controls the use of the camera and whether the user has access to the camera access toggle.",
          "enum": [
            "CAMERA_ACCESS_UNSPECIFIED",
            "CAMERA_ACCESS_USER_CHOICE",
            "CAMERA_ACCESS_DISABLED",
            "CAMERA_ACCESS_ENFORCED"
          ],
          "enumDescriptions": [
            "If camera_disabled is true, this is equivalent to CAMERA_ACCESS_DISABLED. Otherwise, this is equivalent to CAMERA_ACCESS_USER_CHOICE.",
            "The field camera_disabled is ignored. This is the default device behaviour: all cameras on the device are available. On Android 12 and above, the user can use the camera access toggle.",
            "The field camera_disabled is ignored. All cameras on the device are disabled (for fully managed devices, this applies device-wide and for work profiles this applies only to the work profile).There are no explicit restrictions placed on the camera access toggle on Android 12 and above: on fully managed devices, the camera access toggle has no effect as all cameras are disabled. On devices with a work profile, this toggle has no effect on apps in the work profile, but it affects apps outside the work profile.",
            "The field camera_disabled is ignored. All cameras on the device are available. On fully managed devices running Android 12 and above, the user is unable to use the camera access toggle. On devices which are not fully managed or which run Android 11 or below, this is equivalent to CAMERA_ACCESS_USER_CHOICE."
          ],
          "type": "string"
        },
        "cameraDisabled": {
          "type": "boolean",
          "description": "If camera_access is set to any value other than CAMERA_ACCESS_UNSPECIFIED, this has no effect. Otherwise this field controls whether cameras are disabled: If true, all cameras are disabled, otherwise they are available. For fully managed devices this field applies for all apps on the device. For work profiles, this field applies only to apps in the work profile, and the camera access of apps outside the work profile is unaffected."
        },
        "applications": {
          "type": "array",
          "description": "Policy applied to apps.",
          "items": {
            "$ref": "ApplicationPolicy"
          }
        },
        "ensureVerifyAppsEnabled": {
          "description": "Whether app verification is force-enabled.",
          "type": "boolean"
        },
        "shortSupportMessage": {
          "$ref": "UserFacingMessage",
          "description": "A message displayed to the user in the settings screen wherever functionality has been disabled by the admin. If the message is longer than 200 characters it may be truncated."
        },
        "screenCaptureDisabled": {
          "description": "Whether screen capture is disabled.",
          "type": "boolean"
        },
        "persistentPreferredActivities": {
          "description": "Default intent handler activities.",
          "type": "array",
          "items": {
            "$ref": "PersistentPreferredActivity"
          }
        },
        "autoTimeRequired": {
          "type": "boolean",
          "description": "Whether auto time is required, which prevents the user from manually setting the date and time. If autoDateAndTimeZone is set, this field is ignored."
        },
        "permittedAccessibilityServices": {
          "$ref": "PackageNameList",
          "description": "Specifies permitted accessibility services. If the field is not set, any accessibility service can be used. If the field is set, only the accessibility services in this list and the system's built-in accessibility service can be used. In particular, if the field is set to empty, only the system's built-in accessibility servicess can be used. This can be set on fully managed devices and on work profiles. When applied to a work profile, this affects both the personal profile and the work profile."
        },
        "bluetoothConfigDisabled": {
          "description": "Whether configuring bluetooth is disabled.",
          "type": "boolean"
        },
        "stayOnPluggedModes": {
          "items": {
            "enumDescriptions": [
              "This value is ignored.",
              "Power source is an AC charger.",
              "Power source is a USB port.",
              "Power source is wireless."
            ],
            "type": "string",
            "enum": [
              "BATTERY_PLUGGED_MODE_UNSPECIFIED",
              "AC",
              "USB",
              "WIRELESS"
            ]
          },
          "type": "array",
          "description": "The battery plugged in modes for which the device stays on. When using this setting, it is recommended to clear maximum_time_to_lock so that the device doesn't lock itself while it stays on."
        },
        "systemUpdate": {
          "description": "The system update policy, which controls how OS updates are applied. If the update type is WINDOWED, the update window will automatically apply to Play app updates as well.",
          "$ref": "SystemUpdate"
        },
        "modifyAccountsDisabled": {
          "description": "Whether adding or removing accounts is disabled.",
          "type": "boolean"
        },
        "bluetoothDisabled": {
[...]
