{
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "parameters": {
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "discoveryVersion": "v1",
  "version": "v3",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "canonicalName": "Android Publisher",
  "resources": {
    "orders": {
      "methods": {
        "refund": {
          "id": "androidpublisher.orders.refund",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:refund",
          "parameters": {
            "revoke": {
              "location": "query",
              "description": "Whether to revoke the purchased item. If set to true, access to the\nsubscription or in-app item will be terminated immediately. If the item is\na recurring subscription, all future payments will also be terminated.\nConsumed in-app items need to be handled by developer's app. (optional).",
              "type": "boolean"
            },
            "packageName": {
              "description": "The package name of the application for which this subscription or in-app\nitem was purchased (for example, 'com.some.thing').",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "orderId": {
              "type": "string",
              "required": true,
              "description": "The order ID provided to the user when the subscription or in-app order was\npurchased.",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "flatPath": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:refund",
          "parameterOrder": [
            "packageName",
            "orderId"
          ],
          "description": "Refund a user's subscription or in-app purchase order."
        }
      }
    },
    "edits": {
      "methods": {
        "validate": {
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}:validate",
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}:validate",
          "parameters": {
            "packageName": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Package name of the app."
            },
            "editId": {
              "description": "Identifier of the edit.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "AppEdit"
          },
          "description": "Validates an app edit.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.edits.validate",
          "httpMethod": "POST",
          "parameterOrder": [
            "packageName",
            "editId"
          ]
        },
        "insert": {
          "parameterOrder": [
            "packageName"
          ],
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/edits",
          "response": {
            "$ref": "AppEdit"
          },
          "id": "androidpublisher.edits.insert",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Creates a new edit for an app.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits",
          "httpMethod": "POST",
          "request": {
            "$ref": "AppEdit"
          }
        },
        "commit": {
          "response": {
            "$ref": "AppEdit"
          },
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}:commit",
          "id": "androidpublisher.edits.commit",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}:commit",
          "httpMethod": "POST",
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "parameters": {
            "packageName": {
              "location": "path",
              "description": "Package name of the app.",
              "type": "string",
              "required": true
            },
            "editId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifier of the edit."
            }
          },
          "description": "Commits an app edit."
        },
        "get": {
          "response": {
            "$ref": "AppEdit"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "editId": {
              "type": "string",
              "description": "Identifier of the edit.",
              "required": true,
              "location": "path"
            },
            "packageName": {
              "description": "Package name of the app.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "description": "Gets an app edit.",
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "id": "androidpublisher.edits.get",
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "parameterOrder": [
            "packageName",
            "editId"
          ]
        },
        "delete": {
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "description": "Deletes an app edit.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "editId": {
              "type": "string",
              "required": true,
              "description": "Identifier of the edit.",
              "location": "path"
            },
            "packageName": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Package name of the app."
            }
          },
          "id": "androidpublisher.edits.delete",
          "parameterOrder": [
            "packageName",
            "editId"
          ]
        }
      },
      "resources": {
        "tracks": {
          "methods": {
            "get": {
              "parameters": {
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "description": "Package name of the app.",
                  "required": true
                },
                "editId": {
                  "required": true,
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "type": "string"
                },
                "track": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the track."
                }
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "description": "Gets a track.",
              "id": "androidpublisher.edits.tracks.get",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "response": {
                "$ref": "Track"
              },
              "httpMethod": "GET"
            },
            "list": {
              "httpMethod": "GET",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "id": "androidpublisher.edits.tracks.list",
              "response": {
                "$ref": "TracksListResponse"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks",
              "parameters": {
                "packageName": {
                  "location": "path",
                  "description": "Package name of the app.",
                  "type": "string",
                  "required": true
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Lists all tracks.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "update": {
              "id": "androidpublisher.edits.tracks.update",
              "description": "Updates a track.",
              "request": {
                "$ref": "Track"
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "parameters": {
                "packageName": {
                  "location": "path",
                  "description": "Package name of the app.",
                  "required": true,
                  "type": "string"
                },
                "editId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the edit."
                },
                "track": {
                  "location": "path",
                  "description": "Identifier of the track.",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Track"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "httpMethod": "PUT"
            },
            "patch": {
              "id": "androidpublisher.edits.tracks.patch",
              "response": {
                "$ref": "Track"
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "parameters": {
                "editId": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "required": true
                },
                "track": {
                  "type": "string",
                  "description": "Identifier of the track.",
                  "required": true,
                  "location": "path"
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "request": {
                "$ref": "Track"
              },
              "description": "Patches a track.",
              "httpMethod": "PATCH"
            }
          }
        },
        "testers": {
          "methods": {
            "update": {
              "description": "Updates testers.",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "parameters": {
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app."
                },
                "track": {
                  "required": true,
                  "description": "The track to update.",
                  "location": "path",
                  "type": "string"
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "PUT",
              "request": {
                "$ref": "Testers"
              },
              "response": {
                "$ref": "Testers"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.edits.testers.update",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}"
            },
            "patch": {
              "id": "androidpublisher.edits.testers.patch",
              "httpMethod": "PATCH",
              "parameters": {
                "editId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the edit."
                },
                "track": {
                  "type": "string",
                  "required": true,
                  "description": "The track to update.",
                  "location": "path"
                },
                "packageName": {
                  "location": "path",
                  "description": "Package name of the app.",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "description": "Patches testers.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "Testers"
              },
              "request": {
                "$ref": "Testers"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}"
            },
            "get": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "Testers"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "description": "Gets testers.",
              "parameters": {
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "Package name of the app.",
                  "required": true
                },
                "track": {
                  "location": "path",
                  "required": true,
                  "description": "The track to read from.",
                  "type": "string"
                },
                "editId": {
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the edit.",
                  "location": "path"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "id": "androidpublisher.edits.testers.get"
            }
          }
        },
        "expansionfiles": {
          "methods": {
            "update": {
              "description": "Updates the APK's expansion file configuration to reference another APK's\nexpansion file.\nTo add a new expansion file use the Upload method.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "httpMethod": "PUT",
              "request": {
                "$ref": "ExpansionFile"
              },
              "id": "androidpublisher.edits.expansionfiles.update",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "response": {
                "$ref": "ExpansionFile"
              },
              "parameters": {
                "editId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "apkVersionCode": {
                  "format": "int32",
                  "description": "The version code of the APK whose expansion file configuration is being\nread or modified.",
                  "type": "integer",
                  "location": "path",
                  "required": true
                },
                "expansionFileType": {
                  "description": "The file type of the file configuration which is being read or modified.",
                  "type": "string",
                  "location": "path",
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "required": true
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}"
            },
            "patch": {
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "id": "androidpublisher.edits.expansionfiles.patch",
              "response": {
                "$ref": "ExpansionFile"
              },
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "apkVersionCode": {
                  "type": "integer",
                  "description": "The version code of the APK whose expansion file configuration is being\nread or modified.",
                  "format": "int32",
                  "location": "path",
                  "required": true
                },
                "expansionFileType": {
                  "type": "string",
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "description": "The file type of the expansion file configuration which is being updated.",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Patches the APK's expansion file configuration to reference another APK's\nexpansion file.\nTo add a new expansion file use the Upload method.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "PATCH",
              "request": {
                "$ref": "ExpansionFile"
              }
            },
            "upload": {
              "response": {
                "$ref": "ExpansionFilesUploadResponse"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "parameters": {
                "editId": {
                  "required": true,
                  "location": "path",
                  "description": "Identifier of the edit.",
                  "type": "string"
                },
                "expansionFileType": {
                  "description": "The file type of the expansion file configuration which is being updated.",
                  "location": "path",
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "required": true,
                  "type": "string"
                },
                "apkVersionCode": {
                  "description": "The version code of the APK whose expansion file configuration is being\nread or modified.",
                  "format": "int32",
                  "type": "integer",
                  "location": "path",
                  "required": true
                },
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Package name of the app."
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "id": "androidpublisher.edits.expansionfiles.upload",
              "supportsMediaUpload": true,
              "mediaUpload": {
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}"
                  }
                },
                "maxSize": "2147483648",
                "accept": [
                  "application/octet-stream"
                ]
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "POST",
              "description": "Uploads a new expansion file and attaches to the specified APK."
            },
            "get": {
              "description": "Fetches the expansion file configuration for the specified APK.",
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "httpMethod": "GET",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "id": "androidpublisher.edits.expansionfiles.get",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "parameters": {
                "editId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the edit."
                },
                "apkVersionCode": {
                  "required": true,
                  "description": "The version code of the APK whose expansion file configuration is being\nread or modified.",
                  "type": "integer",
                  "format": "int32",
                  "location": "path"
                },
                "expansionFileType": {
                  "description": "The file type of the file configuration which is being read or modified.",
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "packageName": {
                  "required": true,
                  "description": "Package name of the app.",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ExpansionFile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            }
          }
        },
        "images": {
          "methods": {
            "upload": {
              "id": "androidpublisher.edits.images.upload",
              "supportsMediaUpload": true,
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "mediaUpload": {
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}"
                  }
                },
                "maxSize": "15728640",
                "accept": [
                  "image/*"
                ]
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ],
              "response": {
                "$ref": "ImagesUploadResponse"
              },
              "description": "Uploads an image of the specified language and image type, and adds to the\nedit.",
              "parameters": {
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "Package name of the app.",
                  "required": true
                },
                "language": {
                  "type": "string",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\"\nfor Austrian German).\nProviding a language that is not supported by the App is a no-op.",
                  "location": "path",
                  "required": true
                },
                "imageType": {
                  "required": true,
                  "description": "Type of the Image.",
                  "location": "path",
                  "type": "string",
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "promoGraphic",
                    "tvBanner"
                  ]
                },
                "editId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the edit."
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "delete": {
              "description": "Deletes the image (specified by id) from the edit.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}/{imageId}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}/{imageId}",
              "id": "androidpublisher.edits.images.delete",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType",
                "imageId"
              ],
              "parameters": {
                "language": {
                  "location": "path",
                  "type": "string",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\"\nfor Austrian German).",
                  "required": true
                },
                "imageId": {
                  "type": "string",
                  "description": "Unique identifier an image within the set of images attached to this edit.",
                  "required": true,
                  "location": "path"
                },
                "packageName": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Package name of the app."
                },
                "editId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the edit."
                },
                "imageType": {
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "promoGraphic",
                    "tvBanner"
                  ],
                  "location": "path",
                  "required": true,
                  "description": "Type of the Image.",
                  "type": "string"
                }
              }
            },
            "deleteall": {
              "httpMethod": "DELETE",
              "id": "androidpublisher.edits.images.deleteall",
              "parameters": {
                "imageType": {
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "promoGraphic",
                    "tvBanner"
                  ],
                  "location": "path",
                  "description": "Type of the Image.\nProviding an image type that refers to no images is a no-op.",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "description": "Package name of the app.",
                  "required": true
                },
                "editId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit."
                },
                "language": {
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\"\nfor Austrian German).\nProviding a language that is not supported by the App is a no-op.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "response": {
                "$ref": "ImagesDeleteAllResponse"
              },
              "description": "Deletes all images for the specified language and image type.\nReturns an empty response if no images are found.",
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ]
            },
            "list": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Lists all images. The response may be empty.",
              "response": {
                "$ref": "ImagesListResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "language": {
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\"\nfor Austrian German).\nThere must be a store listing for the specified language.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "editId": {
                  "required": true,
                  "location": "path",
                  "description": "Identifier of the edit.",
                  "type": "string"
                },
                "imageType": {
                  "required": true,
                  "description": "Type of the Image. Providing an image type that refers to no images will\nreturn an empty response.",
                  "location": "path",
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "promoGraphic",
                    "tvBanner"
                  ],
                  "type": "string"
                }
              },
              "id": "androidpublisher.edits.images.list",
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}"
            }
          }
        },
        "apks": {
          "methods": {
            "upload": {
              "supportsMediaUpload": true,
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "packageName": {
                  "location": "path",
                  "required": true,
                  "description": "Package name of the app.",
                  "type": "string"
                },
                "editId": {
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "mediaUpload": {
                "accept": [
                  "application/octet-stream",
                  "application/vnd.android.package-archive"
                ],
                "protocols": {
                  "simple": {
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
                    "multipart": true
                  }
                },
                "maxSize": "10737418240"
              },
              "response": {
                "$ref": "Apk"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "id": "androidpublisher.edits.apks.upload",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "description": "Uploads an APK and adds to the current edit."
            },
            "addexternallyhosted": {
              "id": "androidpublisher.edits.apks.addexternallyhosted",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/externallyHosted",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/externallyHosted",
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "editId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the edit."
                }
              },
              "description": "Creates a new APK without uploading the APK itself to Google Play, instead\nhosting the APK at a specified URL. This function is only available to\norganizations using Managed Play whose application is configured to\nrestrict distribution to the organizations.",
              "response": {
                "$ref": "ApksAddExternallyHostedResponse"
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "request": {
                "$ref": "ApksAddExternallyHostedRequest"
              },
              "httpMethod": "POST"
            },
            "list": {
              "id": "androidpublisher.edits.apks.list",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "httpMethod": "GET",
              "description": "Lists all current APKs of the app and edit.",
              "response": {
                "$ref": "ApksListResponse"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "editId": {
                  "required": true,
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "location": "path"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ]
            }
          }
        },
        "deobfuscationfiles": {
          "methods": {
            "upload": {
              "id": "androidpublisher.edits.deobfuscationfiles.upload",
              "parameters": {
                "apkVersionCode": {
                  "type": "integer",
                  "location": "path",
                  "description": "The version code of the APK whose Deobfuscation File is being\nuploaded.",
                  "required": true,
                  "format": "int32"
                },
                "editId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Unique identifier for this edit."
                },
                "packageName": {
                  "required": true,
                  "description": "Unique identifier for the Android app.",
                  "location": "path",
                  "type": "string"
                },
                "deobfuscationFileType": {
                  "required": true,
                  "description": "The type of the deobfuscation file.",
                  "location": "path",
                  "enum": [
                    "deobfuscationFileTypeUnspecified",
                    "proguard",
                    "nativeCode"
                  ],
                  "type": "string"
                }
              },
              "mediaUpload": {
                "accept": [
                  "application/octet-stream"
                ],
                "maxSize": "314572800",
                "protocols": {
                  "simple": {
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}",
                    "multipart": true
                  }
                }
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "deobfuscationFileType"
              ],
              "description": "Uploads a new deobfuscation file and attaches to the specified APK.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}",
              "response": {
                "$ref": "DeobfuscationFilesUploadResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "supportsMediaUpload": true,
              "httpMethod": "POST",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}"
            }
          }
        },
        "details": {
          "methods": {
            "get": {
              "description": "Gets details of an app.",
              "parameters": {
                "editId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "location": "path",
                  "description": "Package name of the app.",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.edits.details.get",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "AppDetails"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details"
            },
            "patch": {
              "id": "androidpublisher.edits.details.patch",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "editId": {
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the edit.",
                  "location": "path"
                },
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "AppDetails"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "httpMethod": "PATCH",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "description": "Patches details of an app.",
              "request": {
                "$ref": "AppDetails"
              }
            },
            "update": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "httpMethod": "PUT",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "description": "Updates details of an app.",
              "response": {
                "$ref": "AppDetails"
              },
              "request": {
                "$ref": "AppDetails"
              },
              "parameters": {
                "editId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "location": "path",
                  "description": "Package name of the app.",
                  "type": "string",
                  "required": true
                }
              },
              "id": "androidpublisher.edits.details.update",
              "parameterOrder": [
                "packageName",
                "editId"
              ]
            }
          }
        },
        "bundles": {
          "methods": {
            "upload": {
              "mediaUpload": {
                "protocols": {
                  "simple": {
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
                    "multipart": true
                  }
                },
                "maxSize": "10737418240",
                "accept": [
                  "application/octet-stream"
                ]
              },
              "parameters": {
                "ackBundleInstallationWarning": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Must be set to true if the bundle installation may trigger a warning on\nuser devices (for example, if installation size may be over a threshold,\ntypically 100 MB)."
                },
                "editId": {
                  "required": true,
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "location": "path"
                },
                "packageName": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Package name of the app."
                }
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "id": "androidpublisher.edits.bundles.upload",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "Bundle"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "supportsMediaUpload": true,
              "httpMethod": "POST",
              "description": "Uploads a new Android App Bundle to this edit.\nIf you are using the Google API client libraries, please increase the\ntimeout of the http request before calling this endpoint\n(a timeout of 2 minutes is recommended).\nSee [Timeouts and\nErrors](https://developers.google.com/api-client-library/java/google-api-java-client/errors)\nfor an example in java."
            },
            "list": {
              "id": "androidpublisher.edits.bundles.list",
              "description": "Lists all current Android App Bundles of the app and edit.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "parameters": {
                "packageName": {
                  "required": true,
                  "description": "Package name of the app.",
                  "location": "path",
                  "type": "string"
                },
                "editId": {
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit.",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "response": {
                "$ref": "BundlesListResponse"
              }
            }
          }
        },
        "listings": {
          "methods": {
            "update": {
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "language": {
                  "type": "string",
                  "location": "path",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\"\nfor Austrian German).",
                  "required": true
                }
              },
              "description": "Creates or updates a localized store listing.",
              "request": {
                "$ref": "Listing"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "response": {
                "$ref": "Listing"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "id": "androidpublisher.edits.listings.update",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "PUT"
            },
            "deleteall": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "parameters": {
                "editId": {
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the edit.",
                  "location": "path"
                },
                "packageName": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Package name of the app."
                }
              },
              "httpMethod": "DELETE",
              "description": "Deletes all store listings.",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.edits.listings.deleteall"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "packageName": {
                  "location": "path",
                  "required": true,
                  "description": "Package name of the app.",
                  "type": "string"
                },
                "editId": {
                  "required": true,
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "androidpublisher.edits.listings.list",
              "httpMethod": "GET",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "response": {
                "$ref": "ListingsListResponse"
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "description": "Lists all localized store listings.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Gets a localized store listing.",
              "id": "androidpublisher.edits.listings.get",
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "httpMethod": "GET",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "parameters": {
                "editId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "language": {
                  "location": "path",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\"\nfor Austrian German).",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Listing"
              }
            },
            "delete": {
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "editId": {
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path"
                },
                "language": {
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\"\nfor Austrian German).",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "id": "androidpublisher.edits.listings.delete",
              "httpMethod": "DELETE",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "description": "Deletes a localized store listing.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}"
            },
            "patch": {
              "response": {
                "$ref": "Listing"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "id": "androidpublisher.edits.listings.patch",
              "request": {
                "$ref": "Listing"
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "description": "Patches a localized store listing.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "parameters": {
                "language": {
                  "location": "path",
                  "required": true,
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\"\nfor Austrian German).",
                  "type": "string"
                },
                "packageName": {
                  "required": true,
                  "location": "path",
                  "description": "Package name of the app.",
                  "type": "string"
                },
                "editId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the edit."
                }
              }
            }
          }
        }
      }
    },
    "purchases": {
      "resources": {
        "voidedpurchases": {
          "methods": {
            "list": {
              "response": {
                "$ref": "VoidedPurchasesListResponse"
              },
              "parameters": {
                "packageName": {
                  "location": "path",
                  "required": true,
                  "description": "The package name of the application for which voided purchases need to be\nreturned (for example, 'com.some.thing').",
                  "type": "string"
                },
                "startIndex": {
                  "location": "query",
                  "format": "uint32",
                  "type": "integer",
                  "description": "Defines the index of the first element to return.\nThis can only be used if indexed paging is enabled."
                },
                "maxResults": {
                  "description": "Defines how many results the list operation should return.\nThe default number depends on the resource collection.",
                  "location": "query",
                  "type": "integer",
                  "format": "uint32"
                },
                "type": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The type of voided purchases that you want to see in the response.\nPossible values are:\n0. Only voided in-app product purchases will be returned in the\n   response. This is the default value.\n1. Both voided in-app purchases and voided subscription purchases\n   will be returned in the response.\n\nNote: Before requesting to receive voided subscription purchases, you\nmust switch to use orderId in the response which uniquely identifies\none-time purchases and subscriptions. Otherwise, you will receive multiple\nsubscription orders with the same PurchaseToken, because subscription\nrenewal orders share the same PurchaseToken."
                },
                "endTime": {
                  "format": "int64",
                  "type": "string",
                  "location": "query",
                  "description": "The time, in milliseconds since the Epoch, of the newest voided purchase\nthat you want to see in the response. The value of this parameter cannot\nbe greater than the current time and is ignored if a pagination token is\nset. Default value is current time.\nNote: This filter is applied on the time at which the record is seen as\nvoided by our systems and not the actual voided time returned in the\nresponse."
                },
                "token": {
                  "location": "query",
                  "type": "string",
                  "description": "Defines the token of the page to return, usually taken from\nTokenPagination.\nThis can only be used if token paging is enabled."
                },
                "startTime": {
                  "description": "The time, in milliseconds since the Epoch, of the oldest voided purchase\nthat you want to see in the response. The value of this parameter cannot\nbe older than 30 days and is ignored if a pagination token is set.\nDefault value is current time minus 30 days.\nNote: This filter is applied on the time at which the record is seen as\nvoided by our systems and not the actual voided time returned in the\nresponse.",
                  "type": "string",
                  "location": "query",
                  "format": "int64"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/voidedpurchases",
              "id": "androidpublisher.purchases.voidedpurchases.list",
              "description": "Lists the purchases that were canceled, refunded or charged-back.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "packageName"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/voidedpurchases"
            }
          }
        },
        "products": {
          "methods": {
            "get": {
              "description": "Checks the purchase and consumption status of an inapp item.",
              "httpMethod": "GET",
              "id": "androidpublisher.purchases.products.get",
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ],
              "parameters": {
                "productId": {
                  "location": "path",
                  "required": true,
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1').",
                  "type": "string"
                },
                "token": {
                  "required": true,
                  "location": "path",
                  "description": "The token provided to the user's device when the inapp product was\npurchased.",
                  "type": "string"
                },
                "packageName": {
                  "description": "The package name of the application the inapp product was sold in (for\nexample, 'com.some.thing').",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "ProductPurchase"
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}"
            },
            "acknowledge": {
              "id": "androidpublisher.purchases.products.acknowledge",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:acknowledge",
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:acknowledge",
              "description": "Acknowledges a purchase of an inapp item.",
              "httpMethod": "POST",
              "parameters": {
                "packageName": {
                  "type": "string",
                  "description": "The package name of the application the inapp product was sold in (for\nexample, 'com.some.thing').",
                  "location": "path",
                  "required": true
                },
                "token": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The token provided to the user's device when the inapp product was\npurchased."
                },
                "productId": {
                  "location": "path",
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1').",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "ProductPurchasesAcknowledgeRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            }
          }
        },
        "subscriptions": {
          "methods": {
            "defer": {
              "parameters": {
                "packageName": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The package name of the application for which this subscription was\npurchased (for example, 'com.some.thing')."
                },
                "token": {
                  "type": "string",
                  "description": "The token provided to the user's device when the subscription was\npurchased.",
                  "location": "path",
                  "required": true
                },
                "subscriptionId": {
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer",
              "response": {
                "$ref": "SubscriptionPurchasesDeferResponse"
              },
              "request": {
                "$ref": "SubscriptionPurchasesDeferRequest"
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "description": "Defers a user's subscription purchase until a specified future expiration\ntime.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.purchases.subscriptions.defer"
            },
            "cancel": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:cancel",
              "httpMethod": "POST",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "parameters": {
                "packageName": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The package name of the application for which this subscription was\npurchased (for example, 'com.some.thing')."
                },
                "token": {
                  "location": "path",
                  "type": "string",
                  "description": "The token provided to the user's device when the subscription was\npurchased.",
                  "required": true
                },
                "subscriptionId": {
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Cancels a user's subscription purchase. The subscription remains valid\nuntil its expiration time.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:cancel",
              "id": "androidpublisher.purchases.subscriptions.cancel"
            },
            "refund": {
              "id": "androidpublisher.purchases.subscriptions.refund",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:refund",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:refund",
              "description": "Refunds a user's subscription purchase, but the subscription remains valid\nuntil its expiration time and it will continue to recur.",
              "parameters": {
                "token": {
                  "type": "string",
                  "required": true,
                  "description": "The token provided to the user's device when the subscription was\npurchased.",
                  "location": "path"
                },
                "packageName": {
                  "required": true,
                  "description": "The package name of the application for which this subscription was\npurchased (for example, 'com.some.thing').",
                  "location": "path",
                  "type": "string"
                },
                "subscriptionId": {
                  "description": "\"The purchased subscription ID (for example, 'monthly001').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "POST"
            },
            "acknowledge": {
              "parameters": {
                "subscriptionId": {
                  "type": "string",
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "required": true,
                  "location": "path"
                },
                "packageName": {
                  "required": true,
                  "location": "path",
                  "description": "The package name of the application for which this subscription was\npurchased (for example, 'com.some.thing').",
                  "type": "string"
                },
                "token": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The token provided to the user's device when the subscription was\npurchased."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "httpMethod": "POST",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:acknowledge",
              "id": "androidpublisher.purchases.subscriptions.acknowledge",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:acknowledge",
              "request": {
                "$ref": "SubscriptionPurchasesAcknowledgeRequest"
              },
              "description": "Acknowledges a subscription purchase."
            },
            "get": {
              "response": {
                "$ref": "SubscriptionPurchase"
              },
              "httpMethod": "GET",
              "id": "androidpublisher.purchases.subscriptions.get",
              "parameters": {
                "subscriptionId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The purchased subscription ID (for example, 'monthly001')."
                },
                "token": {
                  "required": true,
                  "location": "path",
                  "description": "The token provided to the user's device when the subscription was\npurchased.",
                  "type": "string"
                },
                "packageName": {
                  "required": true,
                  "type": "string",
                  "description": "The package name of the application for which this subscription was\npurchased (for example, 'com.some.thing').",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Checks whether a user's subscription purchase is valid and returns its\nexpiry time."
            },
            "revoke": {
              "httpMethod": "POST",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:revoke",
              "parameters": {
                "token": {
                  "description": "The token provided to the user's device when the subscription was\npurchased.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "subscriptionId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The purchased subscription ID (for example, 'monthly001')."
                },
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "description": "The package name of the application for which this subscription was\npurchased (for example, 'com.some.thing').",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:revoke",
              "description": "Refunds and immediately revokes a user's subscription purchase. Access to\nthe subscription will be terminated immediately and it will stop recurring.",
              "id": "androidpublisher.purchases.subscriptions.revoke"
            }
          }
        }
      }
    },
    "internalappsharingartifacts": {
      "methods": {
        "uploadapk": {
          "mediaUpload": {
            "accept": [
              "application/octet-stream",
              "application/vnd.android.package-archive"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk"
              }
            },
            "maxSize": "1073741824"
          },
          "id": "androidpublisher.internalappsharingartifacts.uploadapk",
          "description": "Uploads an APK to internal app sharing.\nIf you are using the Google API client libraries, please increase the\ntimeout of the http request before calling this endpoint\n(a timeout of 2 minutes is recommended).\n\nSee [Timeouts and\nErrors](https://developers.google.com/api-client-library/java/google-api-java-client/errors)\nfor an example in java.",
          "supportsMediaUpload": true,
          "response": {
            "$ref": "InternalAppSharingArtifact"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "POST",
          "flatPath": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
          "path": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
          "parameters": {
            "packageName": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Package name of the app."
            }
          },
          "parameterOrder": [
            "packageName"
          ]
        },
        "uploadbundle": {
          "supportsMediaUpload": true,
          "mediaUpload": {
            "maxSize": "10737418240",
            "accept": [
              "application/octet-stream"
            ],
            "protocols": {
              "simple": {
                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
                "multipart": true
              }
            }
          },
          "parameters": {
            "packageName": {
              "required": true,
              "location": "path",
              "description": "Package name of the app.",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "path": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
          "description": "Uploads an app bundle to internal app sharing.\nIf you are using the Google API client libraries, please increase the\ntimeout of the http request before calling this endpoint\n(a timeout of 2 minutes is recommended).\n\nSee [Timeouts and\nErrors](https://developers.google.com/api-client-library/java/google-api-java-client/errors)\nfor an example in java.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "packageName"
          ],
          "response": {
            "$ref": "InternalAppSharingArtifact"
          },
          "flatPath": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
          "id": "androidpublisher.internalappsharingartifacts.uploadbundle"
        }
      }
    },
    "inappproducts": {
      "methods": {
        "patch": {
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "id": "androidpublisher.inappproducts.patch",
          "request": {
            "$ref": "InAppProduct"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "sku": {
              "description": "Unique identifier for the in-app product.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "packageName": {
              "type": "string",
              "required": true,
              "description": "Package name of the app.",
              "location": "path"
            },
            "autoConvertMissingPrices": {
              "description": "If true the prices for all regions targeted by the parent app that don't\nhave a price specified for this in-app product will be auto converted to\nthe target currency based on the default price. Defaults to false.",
              "type": "boolean",
              "location": "query"
            }
          },
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "response": {
            "$ref": "InAppProduct"
          },
          "httpMethod": "PATCH",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "description": "Patches an in-app product (i.e. a managed product or a subscriptions)."
        },
        "update": {
          "httpMethod": "PUT",
          "description": "Updates an in-app product (i.e. a managed product or a subscriptions).",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "parameters": {
            "packageName": {
              "type": "string",
              "required": true,
              "description": "Package name of the app.",
              "location": "path"
            },
            "sku": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Unique identifier for the in-app product."
            },
            "autoConvertMissingPrices": {
              "description": "If true the prices for all regions targeted by the parent app that don't\nhave a price specified for this in-app product will be auto converted to\nthe target currency based on the default price. Defaults to false.",
              "type": "boolean",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "request": {
            "$ref": "InAppProduct"
          },
          "id": "androidpublisher.inappproducts.update",
          "response": {
            "$ref": "InAppProduct"
          }
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "packageName": {
              "required": true,
              "location": "path",
              "description": "Package name of the app.",
              "type": "string"
            },
            "sku": {
              "description": "Unique identifier for the in-app product.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "id": "androidpublisher.inappproducts.delete",
          "httpMethod": "DELETE",
          "description": "Deletes an in-app product (i.e. a managed product or a subscriptions).",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}"
        },
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "InAppProduct"
          },
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "description": "Gets an in-app product, which can be a managed product or a subscription.",
          "parameters": {
            "packageName": {
              "required": true,
              "type": "string",
              "description": "Package name of the app.",
              "location": "path"
            },
            "sku": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Unique identifier for the in-app product."
            }
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "id": "androidpublisher.inappproducts.get",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "insert": {
          "httpMethod": "POST",
          "parameters": {
            "autoConvertMissingPrices": {
              "location": "query",
              "description": "If true the prices for all regions targeted by the parent app that don't\nhave a price specified for this in-app product will be auto converted to\nthe target currency based on the default price. Defaults to false.",
              "type": "boolean"
            },
            "packageName": {
              "description": "Package name of the app.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "androidpublisher.inappproducts.insert",
          "response": {
            "$ref": "InAppProduct"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "parameterOrder": [
            "packageName"
          ],
          "description": "Creates an in-app product (i.e. a managed product or a subscriptions).",
          "request": {
            "$ref": "InAppProduct"
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts"
        },
        "list": {
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "parameterOrder": [
            "packageName"
          ],
          "response": {
            "$ref": "InappproductsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.inappproducts.list",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "httpMethod": "GET",
          "description": "Lists all in-app products - both managed products and subscriptions.",
          "parameters": {
            "maxResults": {
              "format": "uint32",
              "description": "How many results the list operation should return.",
              "type": "integer",
              "location": "query"
            },
            "token": {
              "type": "string",
              "location": "query",
              "description": "Pagination token. If empty, list starts at the first product."
            },
            "packageName": {
              "required": true,
              "type": "string",
              "description": "Package name of the app.",
              "location": "path"
            },
            "startIndex": {
              "format": "uint32",
              "description": "The index of the first element to return.",
              "location": "query",
              "type": "integer"
            }
          }
        }
      }
    },
    "reviews": {
      "methods": {
        "list": {
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews",
          "response": {
            "$ref": "ReviewsListResponse"
          },
          "description": "Lists all reviews.",
          "id": "androidpublisher.reviews.list",
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "maxResults": {
              "description": "How many results the list operation should return.",
              "location": "query",
              "format": "uint32",
              "type": "integer"
            },
            "translationLanguage": {
              "type": "string",
              "description": "Language localization code.",
              "location": "query"
            },
            "startIndex": {
              "description": "The index of the first element to return.",
              "format": "uint32",
              "type": "integer",
              "location": "query"
            },
            "token": {
              "description": "Pagination token. If empty, list starts at the first review.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "path": "androidpublisher/v3/applications/{packageName}/reviews",
          "parameterOrder": [
            "packageName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "reply": {
          "httpMethod": "POST",
          "description": "Replies to a single review, or updates an existing reply.",
          "request": {
            "$ref": "ReviewsReplyRequest"
          },
          "parameterOrder": [
            "packageName",
            "reviewId"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}:reply",
          "response": {
            "$ref": "ReviewsReplyResponse"
          },
          "parameters": {
            "reviewId": {
              "description": "Unique identifier for a review.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "packageName": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Package name of the app."
            }
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}:reply",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.reviews.reply"
        },
        "get": {
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}",
          "id": "androidpublisher.reviews.get",
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "reviewId": {
              "required": true,
              "description": "Unique identifier for a review.",
              "location": "path",
              "type": "string"
            },
            "translationLanguage": {
              "type": "string",
              "description": "Language localization code.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "packageName",
            "reviewId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Gets a single review.",
          "path": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}",
          "response": {
            "$ref": "Review"
          },
          "httpMethod": "GET"
        }
      }
    }
  },
  "description": "Lets Android application developers access their Google Play accounts.",
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "rootUrl": "https://www.googleapis.com/",
  "title": "Google Play Android Developer API",
  "batchPath": "batch/androidpublisher",
  "baseUrl": "https://www.googleapis.com/",
  "schemas": {
    "ApksAddExternallyHostedResponse": {
      "type": "object",
      "description": "Response for creating a new externally hosted APK.",
      "properties": {
        "externallyHostedApk": {
          "$ref": "ExternallyHostedApk",
          "description": "The definition of the externally-hosted APK and where it is located."
        }
      },
      "id": "ApksAddExternallyHostedResponse"
    },
    "ApkBinary": {
      "properties": {
        "sha256": {
          "description": "A sha256 hash of the APK payload, encoded as a hex string and matching\nthe output of the sha256sum command.",
          "type": "string"
        },
        "sha1": {
          "description": "A sha1 hash of the APK payload, encoded as a hex string and matching the\noutput of the sha1sum command.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents the binary payload of an APK.",
      "id": "ApkBinary"
    },
    "ListingsListResponse": {
      "type": "object",
      "description": "Response listing all localized listings.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of this response (\"androidpublisher#listingsListResponse\")."
        },
        "listings": {
          "items": {
            "$ref": "Listing"
          },
          "type": "array",
          "description": "All localized listings."
        }
      },
      "id": "ListingsListResponse"
    },
    "ReviewsListResponse": {
      "properties": {
        "tokenPagination": {
          "description": "Pagination token, to handle a number of products that is over one page.",
          "$ref": "TokenPagination"
        },
        "pageInfo": {
          "description": "Information about the current page.",
          "$ref": "PageInfo"
        },
        "reviews": {
          "type": "array",
          "description": "List of reviews.",
          "items": {
            "$ref": "Review"
          }
        }
      },
      "id": "ReviewsListResponse",
      "description": "Response listing reviews.",
      "type": "object"
    },
    "Price": {
      "id": "Price",
      "properties": {
        "currency": {
          "description": "3 letter Currency code, as defined by ISO 4217.\nSee java/com/google/common/money/CurrencyCode.java",
          "type": "string"
        },
        "priceMicros": {
          "description": "Price in 1/million of the currency base unit, represented as a string.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Definition of a price, i.e. currency and units."
    },
    "SubscriptionDeferralInfo": {
      "properties": {
        "desiredExpiryTimeMillis": {
          "description": "The desired next expiry time to assign to the subscription, in\nmilliseconds since the Epoch. The given time must be later/greater\nthan the current expiry time for the subscription.",
          "type": "string",
          "format": "int64"
        },
        "expectedExpiryTimeMillis": {
          "format": "int64",
          "description": "The expected expiry time for the subscription.  If the current\nexpiry time for the subscription is not the value specified\nhere, the deferral will not occur.",
          "type": "string"
        }
      },
      "description": "A SubscriptionDeferralInfo contains the data needed to defer a\nsubscription purchase to a future expiry time.",
      "id": "SubscriptionDeferralInfo",
      "type": "object"
    },
    "Apk": {
      "id": "Apk",
      "description": "Information about an APK. The resource for ApksService.",
      "type": "object",
[...]
