{
  "title": "Google Play Android Developer API",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "servicePath": "",
  "mtlsRootUrl": "https://androidpublisher.mtls.googleapis.com/",
  "canonicalName": "Android Publisher",
  "rootUrl": "https://androidpublisher.googleapis.com/",
  "name": "androidpublisher",
  "version": "v3",
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "discoveryVersion": "v1",
  "baseUrl": "https://androidpublisher.googleapis.com/",
  "documentationLink": "https://developers.google.com/android-publisher",
  "schemas": {
    "DeviceSpec": {
      "type": "object",
      "id": "DeviceSpec",
      "properties": {
        "supportedLocales": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "All installed locales represented as BCP-47 strings, e.g. \"en-US\"."
        },
        "supportedAbis": {
          "type": "array",
          "description": "Supported ABI architectures in the order of preference. The values should be the string as reported by the platform, e.g. \"armeabi-v7a\", \"x86_64\".",
          "items": {
            "type": "string"
          }
        },
        "screenDensity": {
          "format": "uint32",
          "description": "Screen dpi.",
          "type": "integer"
        }
      },
      "description": "The device spec used to generate a system APK."
    },
    "TargetingRuleScope": {
      "type": "object",
      "properties": {
        "specificSubscriptionInApp": {
          "description": "The scope of the current targeting rule is the subscription with the specified subscription ID. Must be a subscription within the same parent app.",
          "type": "string"
        }
      },
      "id": "TargetingRuleScope",
      "description": "Defines the scope of subscriptions which a targeting rule can match to target offers to users based on past or current entitlement."
    },
    "GeneratedApksPerSigningKey": {
      "description": "Download metadata for split, standalone and universal APKs, as well as asset pack slices, signed with a given key.",
      "type": "object",
      "id": "GeneratedApksPerSigningKey",
      "properties": {
        "generatedStandaloneApks": {
          "items": {
            "$ref": "GeneratedStandaloneApk"
          },
          "type": "array",
          "description": "List of generated standalone APKs, signed with a key corresponding to certificate_sha256_hash."
        },
        "generatedSplitApks": {
          "type": "array",
          "description": "List of generated split APKs, signed with a key corresponding to certificate_sha256_hash.",
          "items": {
            "$ref": "GeneratedSplitApk"
          }
        },
        "generatedAssetPackSlices": {
          "type": "array",
          "description": "List of asset pack slices which will be served for this app bundle, signed with a key corresponding to certificate_sha256_hash.",
          "items": {
            "$ref": "GeneratedAssetPackSlice"
          }
        },
        "generatedUniversalApk": {
          "description": "Generated universal APK, signed with a key corresponding to certificate_sha256_hash. This field is not set if no universal APK was generated for this signing key.",
          "$ref": "GeneratedUniversalApk"
        },
        "targetingInfo": {
          "$ref": "TargetingInfo",
          "description": "Contains targeting information about the generated apks."
        },
        "certificateSha256Hash": {
          "description": "SHA256 hash of the APK signing public key certificate.",
          "type": "string"
        }
      }
    },
    "InternalAppSharingArtifact": {
      "id": "InternalAppSharingArtifact",
      "type": "object",
      "properties": {
        "certificateFingerprint": {
          "type": "string",
          "description": "The sha256 fingerprint of the certificate used to sign the generated artifact."
        },
        "sha256": {
          "type": "string",
          "description": "The sha256 hash of the artifact represented as a lowercase hexadecimal number, matching the output of the sha256sum command."
        },
        "downloadUrl": {
          "description": "The download URL generated for the uploaded artifact. Users that are authorized to download can follow the link to the Play Store app to install it.",
          "type": "string"
        }
      },
      "description": "An artifact resource which gets created when uploading an APK or Android App Bundle through internal app sharing."
    },
    "LocalizedText": {
      "description": "Localized text in given language.",
      "id": "LocalizedText",
      "properties": {
        "text": {
          "description": "The text in the given language.",
          "type": "string"
        },
        "language": {
          "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OtherRegionsSubscriptionOfferConfig": {
      "id": "OtherRegionsSubscriptionOfferConfig",
      "description": "Configuration for any new locations Play may launch in specified on a subscription offer.",
      "type": "object",
      "properties": {
        "otherRegionsNewSubscriberAvailability": {
          "description": "Whether the subscription offer in any new locations Play may launch in the future. If not specified, this will default to false.",
          "type": "boolean"
        }
      }
    },
    "DeviceTier": {
      "id": "DeviceTier",
      "properties": {
        "deviceGroupNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Groups of devices included in this tier. These groups must be defined explicitly under device_groups in this configuration."
        },
        "level": {
          "format": "int32",
          "description": "The priority level of the tier. Tiers are evaluated in descending order of level: the highest level tier has the highest priority. The highest tier matching a given device is selected for that device. You should use a contiguous range of levels for your tiers in a tier set; tier levels in a tier set must be unique. For instance, if your tier set has 4 tiers (including the global fallback), you should define tiers 1, 2 and 3 in this configuration. Note: tier 0 is implicitly defined as a global fallback and selected for devices that don't match any of the tiers explicitly defined here. You mustn't define level 0 explicitly in this configuration.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "A single device tier. Devices matching any of the device groups in device_group_names are considered to match the tier."
    },
    "MultiAbiTargeting": {
      "description": "Targeting based on multiple abis.",
      "id": "MultiAbiTargeting",
      "properties": {
        "alternatives": {
          "type": "array",
          "items": {
            "$ref": "MultiAbi"
          },
          "description": "Targeting of other sibling directories that were in the Bundle. For main splits this is targeting of other main splits."
        },
        "value": {
          "type": "array",
          "description": "Value of a multi abi.",
          "items": {
            "$ref": "MultiAbi"
          }
        }
      },
      "type": "object"
    },
    "Testers": {
      "description": "The testers of an app. The resource for TestersService. Note: while it is possible in the Play Console UI to add testers via email lists, email lists are not supported by this resource.",
      "id": "Testers",
      "properties": {
        "googleGroups": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "All testing Google Groups, as email addresses."
        }
      },
      "type": "object"
    },
    "Bundle": {
      "properties": {
        "sha1": {
          "type": "string",
          "description": "A sha1 hash of the upload payload, encoded as a hex string and matching the output of the sha1sum command."
        },
        "versionCode": {
          "description": "The version code of the Android App Bundle, as specified in the Android App Bundle's base module APK manifest file.",
          "type": "integer",
          "format": "int32"
        },
        "sha256": {
          "type": "string",
          "description": "A sha256 hash of the upload payload, encoded as a hex string and matching the output of the sha256sum command."
        }
      },
      "description": "Information about an app bundle. The resource for BundlesService.",
      "id": "Bundle",
      "type": "object"
    },
    "GeneratedUniversalApk": {
      "properties": {
        "downloadId": {
          "type": "string",
          "description": "Download ID, which uniquely identifies the APK to download. Should be supplied to `generatedapks.download` method."
        }
      },
      "id": "GeneratedUniversalApk",
      "description": "Download metadata for a universal APK.",
      "type": "object"
    },
    "DeveloperInitiatedCancellation": {
      "type": "object",
      "description": "Information specific to cancellations initiated by developers.",
      "properties": {},
      "id": "DeveloperInitiatedCancellation"
    },
    "ActivateBasePlanRequest": {
      "description": "Request message for ActivateBasePlan.",
      "type": "object",
      "id": "ActivateBasePlanRequest",
      "properties": {}
    },
    "ActivateSubscriptionOfferRequest": {
      "id": "ActivateSubscriptionOfferRequest",
      "properties": {},
      "description": "Request message for ActivateSubscriptionOffer.",
      "type": "object"
    },
    "SubscriptionPurchaseLineItem": {
      "properties": {
        "productId": {
          "type": "string",
          "description": "The purchased product ID (for example, 'monthly001')."
        },
        "autoRenewingPlan": {
          "description": "The item is auto renewing.",
          "$ref": "AutoRenewingPlan"
        },
        "prepaidPlan": {
          "$ref": "PrepaidPlan",
          "description": "The item is prepaid."
        },
        "expiryTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time at which the subscription expired or will expire unless the access is extended (ex. renews)."
        },
        "offerDetails": {
          "description": "The offer details for this item.",
          "$ref": "OfferDetails"
        },
        "deferredItemReplacement": {
          "$ref": "DeferredItemReplacement",
          "description": "Information for deferred item replacement."
        }
      },
      "type": "object",
      "id": "SubscriptionPurchaseLineItem",
      "description": "Item-level info for a subscription purchase."
    },
    "ExpansionFile": {
      "properties": {
        "fileSize": {
          "description": "If set, this field indicates that this APK has an expansion file uploaded to it: this APK does not reference another APK's expansion file. The field's value is the size of the uploaded expansion file in bytes.",
          "type": "string",
          "format": "int64"
        },
        "referencesVersion": {
          "type": "integer",
          "format": "int32",
          "description": "If set, this APK's expansion file references another APK's expansion file. The file_size field will not be set."
        }
      },
      "id": "ExpansionFile",
      "description": "An expansion file. The resource for ExpansionFilesService.",
      "type": "object"
    },
    "RegionalPriceMigrationConfig": {
      "properties": {
        "regionCode": {
          "description": "Required. Region code this configuration applies to, as defined by ISO 3166-2, e.g. \"US\".",
          "type": "string"
        },
        "oldestAllowedPriceVersionTime": {
          "format": "google-datetime",
          "description": "Required. The cutoff time for historical prices that subscribers can remain paying. Subscribers who are on a price that was created before this cutoff time will be migrated to the currently-offered price. These subscribers will receive a notification that they will be paying a different price. Subscribers who do not agree to the new price will have their subscription ended at the next renewal.",
          "type": "string"
        }
      },
      "description": "Configuration for a price migration.",
      "id": "RegionalPriceMigrationConfig",
      "type": "object"
    },
    "OfferTag": {
      "type": "object",
      "properties": {
        "tag": {
          "description": "Must conform with RFC-1034. That is, this string can only contain lower-case letters (a-z), numbers (0-9), and hyphens (-), and be at most 20 characters.",
          "type": "string"
        }
      },
      "id": "OfferTag",
      "description": "Represents a custom tag specified for base plans and subscription offers."
    },
    "SubscriptionCancelSurveyResult": {
      "description": "Information provided by the user when they complete the subscription cancellation flow (cancellation reason survey).",
      "properties": {
        "userInputCancelReason": {
          "description": "The customized input cancel reason from the user. Only present when cancelReason is 0.",
          "type": "string"
        },
        "cancelSurveyReason": {
          "description": "The cancellation reason the user chose in the survey. Possible values are: 0. Other 1. I don't use this service enough 2. Technical issues 3. Cost-related reasons 4. I found a better app",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "SubscriptionCancelSurveyResult",
      "type": "object"
    },
    "RefundExternalTransactionRequest": {
      "type": "object",
      "properties": {
        "refundTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. The time that the transaction was refunded."
        },
        "partialRefund": {
          "description": "A partial refund.",
          "$ref": "PartialRefund"
        },
        "fullRefund": {
          "description": "A full-amount refund.",
          "$ref": "FullRefund"
        }
      },
      "id": "RefundExternalTransactionRequest",
      "description": "A request to refund an existing external transaction."
    },
    "Variant": {
      "description": "APK that is suitable for inclusion in a system image. The resource of SystemApksService.",
      "id": "Variant",
      "properties": {
        "variantId": {
          "format": "uint32",
          "description": "Output only. The ID of a previously created system APK variant.",
          "readOnly": true,
          "type": "integer"
        },
        "deviceSpec": {
          "$ref": "DeviceSpec",
          "description": "The device spec used to generate the APK."
        }
      },
      "type": "object"
    },
    "TokenPagination": {
      "description": "Pagination information returned by a List operation when token pagination is enabled. List operations that supports paging return only one \"page\" of results. This protocol buffer message describes the page that has been returned. When using token pagination, clients should use the next/previous token to get another page of the result. The presence or absence of next/previous token indicates whether a next/previous page is available and provides a mean of accessing this page. ListRequest.page_token should be set to either next_page_token or previous_page_token to access another page.",
      "id": "TokenPagination",
      "properties": {
        "previousPageToken": {
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Tokens to pass to the standard list field 'page_token'. Whenever available, tokens are preferred over manipulating start_index."
        }
      },
      "type": "object"
    },
    "ExternalTransactionTestPurchase": {
      "description": "Represents a transaction performed using a test account. These transactions will not be charged by Google.",
      "id": "ExternalTransactionTestPurchase",
      "type": "object",
      "properties": {}
    },
    "TextureCompressionFormat": {
      "id": "TextureCompressionFormat",
      "properties": {
        "alias": {
          "description": "Alias for texture compression format.",
          "enum": [
            "UNSPECIFIED_TEXTURE_COMPRESSION_FORMAT",
            "ETC1_RGB8",
            "PALETTED",
            "THREE_DC",
            "ATC",
            "LATC",
            "DXT1",
            "S3TC",
            "PVRTC",
            "ASTC",
            "ETC2"
          ],
          "enumDescriptions": [
            "Unspecified format.",
            "ETC1_RGB8 format.",
            "PALETTED format.",
            "THREE_DC format.",
            "ATC format.",
            "LATC format.",
            "DXT1 format.",
            "S3TC format.",
            "PVRTC format.",
            "ASTC format.",
            "ETC2 format."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents texture compression format."
    },
    "VoidedPurchase": {
      "properties": {
        "kind": {
          "description": "This kind represents a voided purchase object in the androidpublisher service.",
          "type": "string"
        },
        "purchaseTimeMillis": {
          "format": "int64",
          "description": "The time at which the purchase was made, in milliseconds since the epoch (Jan 1, 1970).",
          "type": "string"
        },
        "purchaseToken": {
          "description": "The token which uniquely identifies a one-time purchase or subscription. To uniquely identify subscription renewals use order_id (available starting from version 3 of the API).",
          "type": "string"
        },
        "voidedReason": {
          "format": "int32",
          "description": "The reason why the purchase was voided, possible values are: 0. Other 1. Remorse 2. Not_received 3. Defective 4. Accidental_purchase 5. Fraud 6. Friendly_fraud 7. Chargeback",
          "type": "integer"
        },
        "orderId": {
          "description": "The order id which uniquely identifies a one-time purchase, subscription purchase, or subscription renewal.",
          "type": "string"
        },
        "voidedTimeMillis": {
          "format": "int64",
          "type": "string",
          "description": "The time at which the purchase was canceled/refunded/charged-back, in milliseconds since the epoch (Jan 1, 1970)."
        },
        "voidedSource": {
          "type": "integer",
          "format": "int32",
          "description": "The initiator of voided purchase, possible values are: 0. User 1. Developer 2. Google"
        }
      },
      "description": "A VoidedPurchase resource indicates a purchase that was either canceled/refunded/charged-back.",
      "id": "VoidedPurchase",
      "type": "object"
    },
    "DeviceRam": {
      "type": "object",
      "description": "Conditions about a device's RAM capabilities.",
      "id": "DeviceRam",
      "properties": {
        "minBytes": {
          "type": "string",
          "description": "Minimum RAM in bytes (bound included).",
          "format": "int64"
        },
        "maxBytes": {
          "description": "Maximum RAM in bytes (bound excluded).",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "UserInitiatedCancellation": {
      "properties": {
        "cancelTime": {
          "description": "The time at which the subscription was canceled by the user. The user might still have access to the subscription after this time. Use line_items.expiry_time to determine if a user still has access.",
          "type": "string",
          "format": "google-datetime"
        },
        "cancelSurveyResult": {
          "description": "Information provided by the user when they complete the subscription cancellation flow (cancellation reason survey).",
          "$ref": "CancelSurveyResult"
        }
      },
      "description": "Information specific to cancellations initiated by users.",
      "id": "UserInitiatedCancellation",
      "type": "object"
    },
    "PrepaidBasePlanType": {
      "description": "Represents a base plan that does not automatically renew at the end of the base plan, and must be manually renewed by the user.",
      "properties": {
        "billingPeriodDuration": {
          "type": "string",
          "description": "Required. Subscription period, specified in ISO 8601 format. For a list of acceptable billing periods, refer to the help center."
        },
        "timeExtension": {
          "enumDescriptions": [
            "Unspecified state.",
            "Time extension is active. Users are allowed to top-up or extend their prepaid plan.",
            "Time extension is inactive. Users cannot top-up or extend their prepaid plan."
          ],
          "description": "Whether users should be able to extend this prepaid base plan in Google Play surfaces. Defaults to TIME_EXTENSION_ACTIVE if not specified.",
          "enum": [
            "TIME_EXTENSION_UNSPECIFIED",
            "TIME_EXTENSION_ACTIVE",
            "TIME_EXTENSION_INACTIVE"
          ],
          "type": "string"
        }
      },
      "id": "PrepaidBasePlanType",
      "type": "object"
    },
    "GeneratedAssetPackSlice": {
      "properties": {
        "version": {
          "description": "Asset module version.",
          "type": "string",
          "format": "int64"
        },
        "downloadId": {
          "description": "Download ID, which uniquely identifies the APK to download. Should be supplied to `generatedapks.download` method.",
          "type": "string"
        },
        "moduleName": {
          "type": "string",
          "description": "Name of the module that this asset slice belongs to."
        },
        "sliceId": {
          "description": "Asset slice ID.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GeneratedAssetPackSlice",
      "description": "Download metadata for an asset pack slice."
    },
    "ScreenDensity": {
      "description": "Represents a screen density.",
      "properties": {
        "densityAlias": {
          "enumDescriptions": [
            "Unspecified screen density.",
            "NODPI screen density.",
            "LDPI screen density.",
            "MDPI screen density.",
            "TVDPI screen density.",
            "HDPI screen density.",
            "XHDPI screen density.",
            "XXHDPI screen density.",
            "XXXHDPI screen density."
          ],
          "type": "string",
          "enum": [
            "DENSITY_UNSPECIFIED",
            "NODPI",
            "LDPI",
            "MDPI",
            "TVDPI",
            "HDPI",
            "XHDPI",
            "XXHDPI",
            "XXXHDPI"
          ],
          "description": "Alias for a screen density."
        },
        "densityDpi": {
          "format": "int32",
          "description": "Value for density dpi.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "ScreenDensity"
    },
    "ArchiveSubscriptionRequest": {
      "description": "Request message for ArchiveSubscription.",
      "id": "ArchiveSubscriptionRequest",
      "properties": {},
      "type": "object"
    },
    "Review": {
      "id": "Review",
      "description": "An Android app review.",
      "properties": {
        "authorName": {
          "type": "string",
          "description": "The name of the user who wrote the review."
        },
        "comments": {
          "type": "array",
          "items": {
            "$ref": "Comment"
          },
          "description": "A repeated field containing comments for the review."
        },
        "reviewId": {
          "description": "Unique identifier for this review.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RegionalSubscriptionOfferPhaseConfig": {
      "properties": {
        "price": {
          "description": "The absolute price the user pays for this offer phase. The price must not be smaller than the minimum price allowed for this region.",
          "$ref": "Money"
        },
        "relativeDiscount": {
          "description": "The fraction of the base plan price prorated over the phase duration that the user pays for this offer phase. For example, if the base plan price for this region is $12 for a period of 1 year, then a 50% discount for a phase of a duration of 3 months would correspond to a price of $1.50. The discount must be specified as a fraction strictly larger than 0 and strictly smaller than 1. The resulting price will be rounded to the nearest billable unit (e.g. cents for USD). The relative discount is considered invalid if the discounted price ends up being smaller than the minimum price allowed in this region.",
          "format": "double",
          "type": "number"
        },
        "absoluteDiscount": {
          "description": "The absolute amount of money subtracted from the base plan price prorated over the phase duration that the user pays for this offer phase. For example, if the base plan price for this region is $12 for a period of 1 year, then a $1 absolute discount for a phase of a duration of 3 months would correspond to a price of $2. The resulting price may not be smaller than the minimum price allowed for this region.",
          "$ref": "Money"
        },
        "regionCode": {
          "description": "Required. Immutable. The region to which this config applies.",
          "type": "string"
        }
      },
      "id": "RegionalSubscriptionOfferPhaseConfig",
      "description": "Configuration for a single phase of a subscription offer in a single region.",
      "type": "object"
    },
    "DeferredItemReplacement": {
      "properties": {
        "productId": {
          "type": "string",
          "description": "The product_id going to replace the existing product_id."
        }
      },
      "type": "object",
      "description": "Information related to deferred item replacement.",
      "id": "DeferredItemReplacement"
    },
    "Subscription": {
      "properties": {
        "basePlans": {
          "type": "array",
          "description": "The set of base plans for this subscription. Represents the prices and duration of the subscription if no other offers apply.",
          "items": {
            "$ref": "BasePlan"
          }
        },
        "listings": {
          "items": {
            "$ref": "SubscriptionListing"
          },
          "description": "Required. List of localized listings for this subscription. Must contain at least an entry for the default language of the parent app.",
          "type": "array"
        },
        "productId": {
          "type": "string",
          "description": "Immutable. Unique product ID of the product. Unique within the parent app. Product IDs must be composed of lower-case letters (a-z), numbers (0-9), underscores (_) and dots (.). It must start with a lower-case letter or number, and be between 1 and 40 (inclusive) characters in length."
        },
        "packageName": {
          "type": "string",
          "description": "Immutable. Package name of the parent app."
        },
        "archived": {
          "description": "Output only. Whether this subscription is archived. Archived subscriptions are not available to any subscriber any longer, cannot be updated, and are not returned in list requests unless the show archived flag is passed in.",
          "readOnly": true,
          "type": "boolean"
        },
        "taxAndComplianceSettings": {
          "description": "Details about taxes and legal compliance.",
          "$ref": "SubscriptionTaxAndComplianceSettings"
        }
      },
      "type": "object",
      "description": "A single subscription for an app.",
      "id": "Subscription"
    },
    "RegionalSubscriptionOfferConfig": {
      "description": "Configuration for a subscription offer in a single region.",
      "id": "RegionalSubscriptionOfferConfig",
      "type": "object",
      "properties": {
        "regionCode": {
          "description": "Required. Immutable. Region code this configuration applies to, as defined by ISO 3166-2, e.g. \"US\".",
          "type": "string"
        },
        "newSubscriberAvailability": {
          "type": "boolean",
          "description": "Whether the subscription offer in the specified region is available for new subscribers. Existing subscribers will not have their subscription cancelled if this value is set to false. If not specified, this will default to false."
        }
      }
    },
    "InAppProduct": {
      "properties": {
        "defaultLanguage": {
          "description": "Default language of the localized data, as defined by BCP-47. e.g. \"en-US\".",
          "type": "string"
        },
        "packageName": {
          "type": "string",
          "description": "Package name of the parent app."
        },
        "subscriptionTaxesAndComplianceSettings": {
          "description": "Details about taxes and legal compliance. Only applicable to subscription products.",
          "$ref": "SubscriptionTaxAndComplianceSettings"
        },
        "gracePeriod": {
          "description": "Grace period of the subscription, specified in ISO 8601 format. Allows developers to give their subscribers a grace period when the payment for the new recurrence period is declined. Acceptable values are P0D (zero days), P3D (three days), P7D (seven days), P14D (14 days), and P30D (30 days).",
          "type": "string"
        },
        "subscriptionPeriod": {
          "description": "Subscription period, specified in ISO 8601 format. Acceptable values are P1W (one week), P1M (one month), P3M (three months), P6M (six months), and P1Y (one year).",
          "type": "string"
        },
        "status": {
          "enum": [
            "statusUnspecified",
            "active",
            "inactive"
          ],
          "description": "The status of the product, e.g. whether it's active.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified status.",
            "The product is published and active in the store.",
            "The product is not published and therefore inactive in the store."
          ]
        },
        "defaultPrice": {
          "$ref": "Price",
          "description": "Default price. Cannot be zero, as in-app products are never free. Always in the developer's Checkout merchant currency."
        },
        "prices": {
          "description": "Prices per buyer region. None of these can be zero, as in-app products are never free. Map key is region code, as defined by ISO 3166-2.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Price"
          }
        },
        "sku": {
          "description": "Stock-keeping-unit (SKU) of the product, unique within an app.",
          "type": "string"
        },
        "trialPeriod": {
          "description": "Trial period, specified in ISO 8601 format. Acceptable values are anything between P7D (seven days) and P999D (999 days).",
          "type": "string"
        },
        "purchaseType": {
          "enum": [
            "purchaseTypeUnspecified",
            "managedUser",
            "subscription"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified purchase type.",
            "The default product type - one time purchase.",
            "In-app product with a recurring period."
          ],
          "description": "The type of the product, e.g. a recurring subscription."
        },
        "managedProductTaxesAndComplianceSettings": {
          "description": "Details about taxes and legal compliance. Only applicable to managed products.",
          "$ref": "ManagedProductTaxAndComplianceSettings"
        },
        "listings": {
          "description": "List of localized title and description data. Map key is the language of the localized data, as defined by BCP-47, e.g. \"en-US\".",
          "additionalProperties": {
            "$ref": "InAppProductListing"
          },
          "type": "object"
        }
      },
      "type": "object",
      "description": "An in-app product. The resource for InappproductsService.",
      "id": "InAppProduct"
    },
    "OtherRegionsSubscriptionOfferPhasePrices": {
      "properties": {
        "eurPrice": {
          "description": "Required. Price in EUR to use for any new locations Play may launch in.",
          "$ref": "Money"
        },
        "usdPrice": {
          "$ref": "Money",
          "description": "Required. Price in USD to use for any new locations Play may launch in."
        }
      },
      "id": "OtherRegionsSubscriptionOfferPhasePrices",
      "type": "object",
      "description": "Pricing information for any new locations Play may launch in."
    },
    "OfferDetails": {
      "type": "object",
      "properties": {
        "offerId": {
          "type": "string",
          "description": "The offer ID. Only present for discounted offers."
        },
        "offerTags": {
          "items": {
            "type": "string"
          },
          "description": "The latest offer tags associated with the offer. It includes tags inherited from the base plan.",
          "type": "array"
        },
        "basePlanId": {
          "type": "string",
          "description": "The base plan ID. Present for all base plan and offers."
        }
      },
      "description": "Offer details information related to a purchase line item.",
      "id": "OfferDetails"
    },
    "ScreenDensityTargeting": {
      "description": "Targeting based on screen density.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "ScreenDensity"
          },
          "description": "Value of a screen density."
        },
        "alternatives": {
          "description": "Targeting of other sibling directories that were in the Bundle. For main splits this is targeting of other main splits.",
          "type": "array",
          "items": {
            "$ref": "ScreenDensity"
          }
        }
      },
      "id": "ScreenDensityTargeting",
      "type": "object"
    },
    "TrackTargetedCountry": {
      "properties": {
        "countryCode": {
          "type": "string",
          "description": "The country to target, as a two-letter CLDR code."
        }
      },
      "description": "Representation of a single country where the contents of a track are available.",
      "type": "object",
      "id": "TrackTargetedCountry"
    },
    "SubscriptionPurchaseV2": {
      "id": "SubscriptionPurchaseV2",
      "properties": {
        "latestOrderId": {
          "description": "The order id of the latest order associated with the purchase of the subscription. For autoRenewing subscription, this is the order id of signup order if it is not renewed yet, or the last recurring order id (success, pending, or declined order). For prepaid subscription, this is the order id associated with the queried purchase token.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This kind represents a SubscriptionPurchaseV2 object in the androidpublisher service."
        },
        "lineItems": {
          "description": "Item-level info for a subscription purchase. The items in the same purchase should be either all with AutoRenewingPlan or all with PrepaidPlan.",
          "items": {
            "$ref": "SubscriptionPurchaseLineItem"
          },
          "type": "array"
        },
        "testPurchase": {
          "$ref": "TestPurchase",
          "description": "Only present if this subscription purchase is a test purchase."
        },
        "regionCode": {
          "type": "string",
          "description": "ISO 3166-1 alpha-2 billing country/region code of the user at the time the subscription was granted."
        },
        "pausedStateContext": {
          "description": "Additional context around paused subscriptions. Only present if the subscription currently has subscription_state SUBSCRIPTION_STATE_PAUSED.",
          "$ref": "PausedStateContext"
        },
        "startTime": {
          "description": "Time at which the subscription was granted. Not set for pending subscriptions (subscription was created but awaiting payment during signup).",
          "format": "google-datetime",
          "type": "string"
        },
        "canceledStateContext": {
          "description": "Additional context around canceled subscriptions. Only present if the subscription currently has subscription_state SUBSCRIPTION_STATE_CANCELED.",
          "$ref": "CanceledStateContext"
        },
        "externalAccountIdentifiers": {
          "description": "User account identifier in the third-party service.",
          "$ref": "ExternalAccountIdentifiers"
        },
        "subscriptionState": {
          "enum": [
            "SUBSCRIPTION_STATE_UNSPECIFIED",
            "SUBSCRIPTION_STATE_PENDING",
            "SUBSCRIPTION_STATE_ACTIVE",
            "SUBSCRIPTION_STATE_PAUSED",
            "SUBSCRIPTION_STATE_IN_GRACE_PERIOD",
            "SUBSCRIPTION_STATE_ON_HOLD",
            "SUBSCRIPTION_STATE_CANCELED",
            "SUBSCRIPTION_STATE_EXPIRED"
          ],
          "type": "string",
          "description": "The current state of the subscription.",
          "enumDescriptions": [
            "Unspecified subscription state.",
            "Subscription was created but awaiting payment during signup. In this state, all items are awaiting payment.",
            "Subscription is active. - (1) If the subscription is an auto renewing plan, at least one item is auto_renew_enabled and not expired. - (2) If the subscription is a prepaid plan, at least one item is not expired.",
            "Subscription is paused. The state is only available when the subscription is an auto renewing plan. In this state, all items are in paused state.",
            "Subscription is in grace period. The state is only available when the subscription is an auto renewing plan. In this state, all items are in grace period.",
            "Subscription is on hold (suspended). The state is only available when the subscription is an auto renewing plan. In this state, all items are on hold.",
            "Subscription is canceled but not expired yet. The state is only available when the subscription is an auto renewing plan. All items have auto_renew_enabled set to false.",
            "Subscription is expired. All items have expiry_time in the past."
          ]
        },
        "linkedPurchaseToken": {
          "description": "The purchase token of the old subscription if this subscription is one of the following: * Re-signup of a canceled but non-lapsed subscription * Upgrade/downgrade from a previous subscription. * Convert from prepaid to auto renewing subscription. * Convert from an auto renewing subscription to prepaid. * Topup a prepaid subscription.",
          "type": "string"
        },
        "subscribeWithGoogleInfo": {
          "description": "User profile associated with purchases made with 'Subscribe with Google'.",
          "$ref": "SubscribeWithGoogleInfo"
        },
        "acknowledgementState": {
          "description": "The acknowledgement state of the subscription.",
          "enum": [
            "ACKNOWLEDGEMENT_STATE_UNSPECIFIED",
            "ACKNOWLEDGEMENT_STATE_PENDING",
            "ACKNOWLEDGEMENT_STATE_ACKNOWLEDGED"
          ],
          "enumDescriptions": [
            "Unspecified acknowledgement state.",
            "The subscription is not acknowledged yet.",
            "The subscription is acknowledged."
          ],
          "type": "string"
        }
      },
      "description": "Indicates the status of a user's subscription purchase.",
      "type": "object"
    },
    "ReviewsReplyRequest": {
      "properties": {
        "replyText": {
          "description": "The text to set as the reply. Replies of more than approximately 350 characters will be rejected. HTML tags will be stripped.",
          "type": "string"
        }
      },
      "description": "Request to reply to review or update existing reply.",
      "type": "object",
      "id": "ReviewsReplyRequest"
    },
    "TargetingInfo": {
      "properties": {
        "assetSliceSet": {
          "description": "List of created asset slices.",
          "type": "array",
          "items": {
            "$ref": "AssetSliceSet"
          }
        },
        "variant": {
          "description": "List of the created variants.",
          "items": {
            "$ref": "SplitApkVariant"
          },
          "type": "array"
        },
        "packageName": {
          "description": "The package name of this app.",
          "type": "string"
        }
      },
      "description": "Targeting information about the generated apks.",
      "id": "TargetingInfo",
      "type": "object"
    },
    "TestPurchase": {
      "description": "Whether this subscription purchase is a test purchase.",
      "id": "TestPurchase",
      "type": "object",
      "properties": {}
    },
    "Abi": {
      "description": "Represents an Abi.",
      "type": "object",
      "properties": {
        "alias": {
          "description": "Alias for an abi.",
          "enum": [
            "UNSPECIFIED_CPU_ARCHITECTURE",
            "ARMEABI",
            "ARMEABI_V7A",
            "ARM64_V8A",
            "X86",
            "X86_64"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified abi.",
            "ARMEABI abi.",
            "ARMEABI_V7A abi.",
            "ARM64_V8A abi.",
            "X86 abi.",
            "X86_64 abi."
          ]
        }
      },
      "id": "Abi"
    },
    "ApksAddExternallyHostedRequest": {
      "type": "object",
      "id": "ApksAddExternallyHostedRequest",
      "description": "Request to create a new externally hosted APK.",
      "properties": {
        "externallyHostedApk": {
          "$ref": "ExternallyHostedApk",
          "description": "The definition of the externally-hosted APK and where it is located."
        }
      }
    },
    "DeviceSelector": {
      "properties": {
        "includedDeviceIds": {
          "items": {
            "$ref": "DeviceId"
          },
          "type": "array",
          "description": "Device models included by this selector."
        },
        "forbiddenSystemFeatures": {
          "description": "A device that has any of these system features is excluded by this selector, even if it matches all other conditions.",
          "type": "array",
          "items": {
            "$ref": "SystemFeature"
          }
        },
        "excludedDeviceIds": {
          "items": {
            "$ref": "DeviceId"
          },
          "type": "array",
          "description": "Device models excluded by this selector, even if they match all other conditions."
        },
        "deviceRam": {
          "description": "Conditions on the device's RAM.",
          "$ref": "DeviceRam"
        },
        "requiredSystemFeatures": {
          "description": "A device needs to have all these system features to be included by the selector.",
          "type": "array",
          "items": {
            "$ref": "SystemFeature"
          }
        }
      },
      "id": "DeviceSelector",
      "description": "Selector for a device group. A selector consists of a set of conditions on the device that should all match (logical AND) to determine a device group eligibility. For instance, if a selector specifies RAM conditions, device model inclusion and device model exclusion, a device is considered to match if: device matches RAM conditions AND device matches one of the included device models AND device doesn't match excluded device models",
      "type": "object"
    },
    "ConvertedRegionPrice": {
      "description": "A converted region price.",
      "type": "object",
      "properties": {
        "taxAmount": {
          "$ref": "Money",
          "description": "The tax amount of the converted price."
        },
        "regionCode": {
          "description": "The region code of the region.",
          "type": "string"
        },
        "price": {
          "$ref": "Money",
          "description": "The converted price tax inclusive."
        }
      },
      "id": "ConvertedRegionPrice"
    },
    "TrackCountryAvailability": {
      "description": "Resource for per-track country availability information.",
      "type": "object",
      "properties": {
        "syncWithProduction": {
          "type": "boolean",
          "description": "Whether this track's availability is synced with the default production track. See https://support.google.com/googleplay/android-developer/answer/7550024 for more information on syncing country availability with production. Note that if this is true, the returned \"countries\" and \"rest_of_world\" fields will reflect the values for the default production track."
        },
        "restOfWorld": {
          "description": "Whether artifacts in this track are available to \"rest of the world\" countries.",
          "type": "boolean"
        },
        "countries": {
          "items": {
            "$ref": "TrackTargetedCountry"
          },
          "type": "array",
          "description": "A list of one or more countries where artifacts in this track are available. This list includes all countries that are targeted by the track, even if only specific carriers are targeted in that country."
        }
      },
      "id": "TrackCountryAvailability"
    },
    "OneTimeExternalTransaction": {
      "id": "OneTimeExternalTransaction",
      "description": "Represents a one-time transaction.",
      "type": "object",
      "properties": {
        "externalTransactionToken": {
          "type": "string",
          "description": "Input only. Provided during the call to Create. Retrieved from the client when the alternative billing flow is launched."
        }
      }
    },
    "ApkBinary": {
      "description": "Represents the binary payload of an APK.",
      "type": "object",
      "properties": {
        "sha256": {
          "description": "A sha256 hash of the APK payload, encoded as a hex string and matching the output of the sha256sum command.",
          "type": "string"
        },
        "sha1": {
          "description": "A sha1 hash of the APK payload, encoded as a hex string and matching the output of the sha1sum command.",
          "type": "string"
        }
      },
      "id": "ApkBinary"
    },
    "SubscribeWithGoogleInfo": {
      "properties": {
        "profileName": {
          "description": "The profile name of the user when the subscription was purchased.",
          "type": "string"
        },
        "profileId": {
          "description": "The Google profile id of the user when the subscription was purchased.",
          "type": "string"
        },
        "familyName": {
          "description": "The family name of the user when the subscription was purchased.",
          "type": "string"
        },
        "emailAddress": {
          "type": "string",
          "description": "The email address of the user when the subscription was purchased."
        },
        "givenName": {
          "description": "The given name of the user when the subscription was purchased.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Information associated with purchases made with 'Subscribe with Google'.",
      "id": "SubscribeWithGoogleInfo"
    },
    "AutoRenewingPlan": {
      "description": "Information related to an auto renewing plan.",
      "properties": {
        "priceChangeDetails": {
          "description": "The information of the last price change for the item since subscription signup.",
          "$ref": "SubscriptionItemPriceChangeDetails"
        },
        "autoRenewEnabled": {
          "description": "If the subscription is currently set to auto-renew, e.g. the user has not canceled the subscription",
          "type": "boolean"
        }
      },
      "id": "AutoRenewingPlan",
      "type": "object"
    },
    "CanceledStateContext": {
      "description": "Information specific to a subscription in canceled state.",
      "id": "CanceledStateContext",
      "type": "object",
      "properties": {
        "userInitiatedCancellation": {
          "$ref": "UserInitiatedCancellation",
          "description": "Subscription was canceled by user."
        },
        "developerInitiatedCancellation": {
          "description": "Subscription was canceled by the developer.",
          "$ref": "DeveloperInitiatedCancellation"
        },
        "systemInitiatedCancellation": {
          "$ref": "SystemInitiatedCancellation",
          "description": "Subscription was canceled by the system, for example because of a billing problem."
        },
        "replacementCancellation": {
          "description": "Subscription was replaced by a new subscription.",
          "$ref": "ReplacementCancellation"
        }
      }
    },
    "DeviceFeature": {
      "description": "Represents a device feature.",
      "type": "object",
      "properties": {
        "featureName": {
          "description": "Name of the feature.",
          "type": "string"
        },
        "featureVersion": {
          "description": "The feature version specified by android:glEsVersion or android:version in in the AndroidManifest.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "DeviceFeature"
    },
    "ListSubscriptionsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "subscriptions": {
          "items": {
            "$ref": "Subscription"
          },
          "description": "The subscriptions from the specified app.",
          "type": "array"
        }
      },
      "description": "Response message for ListSubscriptions.",
      "id": "ListSubscriptionsResponse",
      "type": "object"
    },
    "ConvertedOtherRegionsPrice": {
      "properties": {
        "eurPrice": {
          "description": "Price in EUR to use for the \"Other regions\" location exclusive of taxes.",
          "$ref": "Money"
        },
        "usdPrice": {
          "$ref": "Money",
          "description": "Price in USD to use for the \"Other regions\" location exclusive of taxes."
        }
      },
      "type": "object",
      "id": "ConvertedOtherRegionsPrice",
      "description": "Converted other regions prices."
    },
    "Timestamp": {
      "id": "Timestamp",
      "type": "object",
      "properties": {
        "seconds": {
          "description": "Represents seconds of UTC time since Unix epoch.",
          "format": "int64",
          "type": "string"
        },
        "nanos": {
          "format": "int32",
          "description": "Non-negative fractions of a second at nanosecond resolution. Must be from 0 to 999,999,999 inclusive.",
          "type": "integer"
        }
      },
      "description": "A Timestamp represents a point in time independent of any time zone or local calendar, encoded as a count of seconds and fractions of seconds at nanosecond resolution. The count is relative to an epoch at UTC midnight on January 1, 1970."
    },
    "SubscriptionTaxAndComplianceSettings": {
      "properties": {
        "taxRateInfoByRegionCode": {
          "additionalProperties": {
            "$ref": "RegionalTaxRateInfo"
          },
          "description": "A mapping from region code to tax rate details. The keys are region codes as defined by Unicode's \"CLDR\".",
          "type": "object"
        },
        "eeaWithdrawalRightType": {
          "type": "string",
          "enum": [
            "WITHDRAWAL_RIGHT_TYPE_UNSPECIFIED",
            "WITHDRAWAL_RIGHT_DIGITAL_CONTENT",
            "WITHDRAWAL_RIGHT_SERVICE"
          ],
          "description": "Digital content or service classification for products distributed to users in the European Economic Area (EEA). The withdrawal regime under EEA consumer laws depends on this classification. Refer to the [Help Center article](https://support.google.com/googleplay/android-developer/answer/10463498) for more information.",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "description": "Details about taxation, Google Play policy and legal compliance for subscription products.",
      "id": "SubscriptionTaxAndComplianceSettings",
      "type": "object"
    },
    "DeactivateSubscriptionOfferRequest": {
      "id": "DeactivateSubscriptionOfferRequest",
      "properties": {},
      "description": "Request message for DeactivateSubscriptionOffer.",
      "type": "object"
    },
    "PageInfo": {
      "type": "object",
      "description": "Information about the current page. List operations that supports paging return only one \"page\" of results. This protocol buffer message describes the page that has been returned.",
      "properties": {
        "resultPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of results returned in one page. ! The number of results included in the API response."
        },
        "startIndex": {
          "format": "int32",
          "description": "Index of the first result returned in the current page.",
          "type": "integer"
        },
        "totalResults": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of results available on the backend ! The total number of results in the result set."
        }
      },
      "id": "PageInfo"
    },
    "SubscriptionPurchase": {
      "description": "A SubscriptionPurchase resource indicates the status of a user's subscription purchase.",
      "properties": {
        "priceAmountMicros": {
          "type": "string",
          "description": "Price of the subscription, For tax exclusive countries, the price doesn't include tax. For tax inclusive countries, the price includes tax. Price is expressed in micro-units, where 1,000,000 micro-units represents one unit of the currency. For example, if the subscription price is €1.99, price_amount_micros is 1990000.",
          "format": "int64"
        },
        "introductoryPriceInfo": {
          "$ref": "IntroductoryPriceInfo",
          "description": "Introductory price information of the subscription. This is only present when the subscription was purchased with an introductory price. This field does not indicate the subscription is currently in introductory price period."
        },
        "obfuscatedExternalProfileId": {
          "type": "string",
          "description": "An obfuscated version of the id that is uniquely associated with the user's profile in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedprofileid when the purchase was made."
        },
        "promotionType": {
          "type": "integer",
          "format": "int32",
          "description": "The type of promotion applied on this purchase. This field is only set if a promotion is applied when the subscription was purchased. Possible values are: 0. One time code 1. Vanity code"
        },
        "paymentState": {
          "type": "integer",
          "format": "int32",
          "description": "The payment state of the subscription. Possible values are: 0. Payment pending 1. Payment received 2. Free trial 3. Pending deferred upgrade/downgrade Not present for canceled, expired subscriptions."
        },
        "priceChange": {
          "$ref": "SubscriptionPriceChange",
          "description": "The latest price change information available. This is present only when there is an upcoming price change for the subscription yet to be applied. Once the subscription renews with the new price or the subscription is canceled, no price change information will be returned."
        },
        "expiryTimeMillis": {
          "type": "string",
          "description": "Time at which the subscription will expire, in milliseconds since the Epoch.",
          "format": "int64"
        },
        "userCancellationTimeMillis": {
          "format": "int64",
          "description": "The time at which the subscription was canceled by the user, in milliseconds since the epoch. Only present if cancelReason is 0.",
          "type": "string"
        },
        "linkedPurchaseToken": {
          "type": "string",
          "description": "The purchase token of the originating purchase if this subscription is one of the following: 0. Re-signup of a canceled but non-lapsed subscription 1. Upgrade/downgrade from a previous subscription For example, suppose a user originally signs up and you receive purchase token X, then the user cancels and goes through the resignup flow (before their subscription lapses) and you receive purchase token Y, and finally the user upgrades their subscription and you receive purchase token Z. If you call this API with purchase token Z, this field will be set to Y. If you call this API with purchase token Y, this field will be set to X. If you call this API with purchase token X, this field will not be set."
        },
        "familyName": {
          "description": "The family name of the user when the subscription was purchased. Only present for purchases made with 'Subscribe with Google'.",
          "type": "string"
        },
        "profileId": {
          "type": "string",
          "description": "The Google profile id of the user when the subscription was purchased. Only present for purchases made with 'Subscribe with Google'."
        },
        "purchaseType": {
          "type": "integer",
          "format": "int32",
          "description": "The type of purchase of the subscription. This field is only set if this purchase was not made using the standard in-app billing flow. Possible values are: 0. Test (i.e. purchased from a license testing account) 1. Promo (i.e. purchased using a promo code)"
        },
        "promotionCode": {
          "type": "string",
          "description": "The promotion code applied on this purchase. This field is only set if a vanity code promotion is applied when the subscription was purchased."
        },
        "obfuscatedExternalAccountId": {
          "description": "An obfuscated version of the id that is uniquely associated with the user's account in your app. Present for the following purchases: * If account linking happened as part of the subscription purchase flow. * It was specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedaccountid when the purchase was made.",
          "type": "string"
        },
        "emailAddress": {
          "description": "The email address of the user when the subscription was purchased. Only present for purchases made with 'Subscribe with Google'.",
          "type": "string"
        },
        "countryCode": {
          "description": "ISO 3166-1 alpha-2 billing country/region code of the user at the time the subscription was granted.",
          "type": "string"
        },
        "orderId": {
          "type": "string",
          "description": "The order id of the latest recurring order associated with the purchase of the subscription. If the subscription was canceled because payment was declined, this will be the order id from the payment declined order."
        },
        "autoRenewing": {
          "description": "Whether the subscription will automatically be renewed when it reaches its current expiry time.",
          "type": "boolean"
        },
        "externalAccountId": {
          "type": "string",
          "description": "User account identifier in the third-party service. Only present if account linking happened as part of the subscription purchase flow."
        },
        "givenName": {
          "type": "string",
          "description": "The given name of the user when the subscription was purchased. Only present for purchases made with 'Subscribe with Google'."
        },
        "profileName": {
          "type": "string",
          "description": "The profile name of the user when the subscription was purchased. Only present for purchases made with 'Subscribe with Google'."
        },
        "kind": {
          "type": "string",
          "description": "This kind represents a subscriptionPurchase object in the androidpublisher service."
        },
        "cancelReason": {
          "format": "int32",
          "description": "The reason why a subscription was canceled or is not auto-renewing. Possible values are: 0. User canceled the subscription 1. Subscription was canceled by the system, for example because of a billing problem 2. Subscription was replaced with a new subscription 3. Subscription was canceled by the developer",
          "type": "integer"
        },
        "acknowledgementState": {
          "format": "int32",
          "type": "integer",
          "description": "The acknowledgement state of the subscription product. Possible values are: 0. Yet to be acknowledged 1. Acknowledged"
        },
        "priceCurrencyCode": {
          "type": "string",
          "description": "ISO 4217 currency code for the subscription price. For example, if the price is specified in British pounds sterling, price_currency_code is \"GBP\"."
        },
        "developerPayload": {
          "description": "A developer-specified string that contains supplemental information about an order.",
          "type": "string"
        },
        "cancelSurveyResult": {
          "$ref": "SubscriptionCancelSurveyResult",
          "description": "Information provided by the user when they complete the subscription cancellation flow (cancellation reason survey)."
        },
        "autoResumeTimeMillis": {
          "format": "int64",
          "type": "string",
          "description": "Time at which the subscription will be automatically resumed, in milliseconds since the Epoch. Only present if the user has requested to pause the subscription."
        },
        "startTimeMillis": {
          "type": "string",
          "format": "int64",
          "description": "Time at which the subscription was granted, in milliseconds since the Epoch."
        }
      },
      "type": "object",
      "id": "SubscriptionPurchase"
    },
    "RecurringExternalTransaction": {
      "type": "object",
      "properties": {
        "initialExternalTransactionId": {
          "description": "The external transaction id of the first transaction of this recurring series of transactions. For example, for a subscription this would be the transaction id of the first payment. Required when creating recurring external transactions.",
          "type": "string"
        },
        "externalTransactionToken": {
          "description": "Input only. Provided during the call to Create. Retrieved from the client when the alternative billing flow is launched. Required only for the initial purchase.",
          "type": "string"
        },
        "externalSubscription": {
          "description": "Details of an external subscription.",
          "$ref": "ExternalSubscription"
        }
      },
      "description": "Represents a transaction that is part of a recurring series of payments. This can be a subscription or a one-time product with multiple payments (such as preorder).",
      "id": "RecurringExternalTransaction"
    },
    "VoidedPurchasesListResponse": {
      "id": "VoidedPurchasesListResponse",
      "type": "object",
      "description": "Response for the voidedpurchases.list API.",
      "properties": {
        "tokenPagination": {
          "description": "Pagination information for token pagination.",
          "$ref": "TokenPagination"
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "voidedPurchases": {
          "type": "array",
          "items": {
            "$ref": "VoidedPurchase"
          }
        }
      }
    },
    "SubscriptionPurchasesDeferResponse": {
      "type": "object",
      "description": "Response for the purchases.subscriptions.defer API.",
      "properties": {
        "newExpiryTimeMillis": {
          "type": "string",
          "format": "int64",
          "description": "The new expiry time for the subscription in milliseconds since the Epoch."
        }
      },
      "id": "SubscriptionPurchasesDeferResponse"
    },
    "Price": {
      "type": "object",
      "description": "Definition of a price, i.e. currency and units.",
      "id": "Price",
      "properties": {
        "priceMicros": {
          "type": "string",
          "description": "Price in 1/million of the currency base unit, represented as a string."
        },
        "currency": {
          "type": "string",
          "description": "3 letter Currency code, as defined by ISO 4217. See java/com/google/common/money/CurrencyCode.java"
        }
      }
    },
    "DeactivateBasePlanRequest": {
      "type": "object",
      "id": "DeactivateBasePlanRequest",
      "description": "Request message for DeactivateBasePlan.",
      "properties": {}
    },
    "TrackRelease": {
      "properties": {
        "versionCodes": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "Version codes of all APKs in the release. Must include version codes to retain from previous releases."
        },
        "userFraction": {
          "description": "Fraction of users who are eligible for a staged release. 0 \u003c fraction \u003c 1. Can only be set when status is \"inProgress\" or \"halted\".",
          "type": "number",
          "format": "double"
        },
        "countryTargeting": {
          "$ref": "CountryTargeting",
          "description": "Restricts a release to a specific set of countries."
        },
        "inAppUpdatePriority": {
          "type": "integer",
          "description": "In-app update priority of the release. All newly added APKs in the release will be considered at this priority. Can take values in the range [0, 5], with 5 the highest priority. Defaults to 0. in_app_update_priority can not be updated once the release is rolled out. See https://developer.android.com/guide/playcore/in-app-updates.",
          "format": "int32"
        },
        "name": {
          "type": "string",
          "description": "The release name. Not required to be unique. If not set, the name is generated from the APK's version_name. If the release contains multiple APKs, the name is generated from the date."
        },
        "releaseNotes": {
          "items": {
            "$ref": "LocalizedText"
          },
          "type": "array",
          "description": "A description of what is new in this release."
        },
        "status": {
          "enum": [
            "statusUnspecified",
            "draft",
            "inProgress",
            "halted",
            "completed"
          ],
          "enumDescriptions": [
            "Unspecified status.",
            "The release's APKs are not being served to users.",
            "The release's APKs are being served to a fraction of users, determined by 'user_fraction'.",
            "The release's APKs will no longer be served to users. Users who already have these APKs are unaffected.",
            "The release will have no further changes. Its APKs are being served to all users, unless they are eligible to APKs of a more recent release."
          ],
          "type": "string",
          "description": "The status of the release."
        }
      },
      "type": "object",
      "description": "A release within a track.",
      "id": "TrackRelease"
    },
    "RegionalBasePlanConfig": {
      "description": "Configuration for a base plan specific to a region.",
      "properties": {
        "price": {
          "$ref": "Money",
          "description": "The price of the base plan in the specified region. Must be set if the base plan is available to new subscribers. Must be set in the currency that is linked to the specified region."
        },
        "regionCode": {
          "description": "Required. Region code this configuration applies to, as defined by ISO 3166-2, e.g. \"US\".",
          "type": "string"
        },
        "newSubscriberAvailability": {
          "type": "boolean",
          "description": "Whether the base plan in the specified region is available for new subscribers. Existing subscribers will not have their subscription canceled if this value is set to false. If not specified, this will default to false."
        }
      },
      "id": "RegionalBasePlanConfig",
      "type": "object"
    },
    "ApksListResponse": {
      "type": "object",
      "description": "Response listing all APKs.",
      "id": "ApksListResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of this response (\"androidpublisher#apksListResponse\")."
        },
        "apks": {
          "type": "array",
          "items": {
            "$ref": "Apk"
          },
          "description": "All APKs."
        }
      }
    },
    "SplitApkVariant": {
      "type": "object",
      "description": "Variant is a group of APKs that covers a part of the device configuration space. APKs from multiple variants are never combined on one device.",
      "id": "SplitApkVariant",
      "properties": {
        "variantNumber": {
          "description": "Number of the variant, starting at 0 (unless overridden). A device will receive APKs from the first variant that matches the device configuration, with higher variant numbers having priority over lower variant numbers.",
          "format": "int32",
          "type": "integer"
        },
        "apkSet": {
          "description": "Set of APKs, one set per module.",
          "type": "array",
          "items": {
            "$ref": "ApkSet"
          }
        },
        "targeting": {
          "$ref": "VariantTargeting",
          "description": "Variant-level targeting."
        }
      }
    },
    "GeneratedStandaloneApk": {
      "id": "GeneratedStandaloneApk",
      "type": "object",
      "properties": {
        "downloadId": {
          "description": "Download ID, which uniquely identifies the APK to download. Should be supplied to `generatedapks.download` method.",
          "type": "string"
        },
        "variantId": {
          "format": "int32",
          "type": "integer",
          "description": "ID of the generated variant."
        }
      },
      "description": "Download metadata for a standalone APK."
    },
    "SubscriptionOffer": {
      "description": "A single, temporary offer",
      "id": "SubscriptionOffer",
      "properties": {
        "productId": {
          "type": "string",
          "description": "Required. Immutable. The ID of the parent subscription this offer belongs to."
        },
        "phases": {
          "items": {
            "$ref": "SubscriptionOfferPhase"
          },
          "type": "array",
          "description": "Required. The phases of this subscription offer. Must contain at least one entry, and may contain at most five. Users will always receive all these phases in the specified order. Phases may not be added, removed, or reordered after initial creation."
        },
        "basePlanId": {
          "description": "Required. Immutable. The ID of the base plan to which this offer is an extension.",
          "type": "string"
        },
        "targeting": {
          "description": "The requirements that users need to fulfil to be eligible for this offer. Represents the requirements that Play will evaluate to decide whether an offer should be returned. Developers may further filter these offers themselves.",
          "$ref": "SubscriptionOfferTargeting"
        },
        "otherRegionsConfig": {
          "$ref": "OtherRegionsSubscriptionOfferConfig",
          "description": "The configuration for any new locations Play may launch in the future."
        },
        "packageName": {
          "type": "string",
          "description": "Required. Immutable. The package name of the app the parent subscription belongs to."
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "ACTIVE",
            "INACTIVE"
          ],
          "description": "Output only. The current state of this offer. Can be changed using Activate and Deactivate actions. NB: the base plan state supersedes this state, so an active offer may not be available if the base plan is not active.",
          "enumDescriptions": [
            "Default value, should never be used.",
            "The subscription offer is not and has never been available to users.",
            "The subscription offer is available to new and existing users.",
            "The subscription offer is not available to new users. Existing users retain access."
          ],
          "type": "string"
        },
        "offerId": {
          "type": "string",
          "description": "Required. Immutable. Unique ID of this subscription offer. Must be unique within the base plan."
        },
        "regionalConfigs": {
          "items": {
            "$ref": "RegionalSubscriptionOfferConfig"
          },
          "description": "Required. The region-specific configuration of this offer. Must contain at least one entry.",
          "type": "array"
        },
        "offerTags": {
          "items": {
            "$ref": "OfferTag"
          },
          "type": "array",
          "description": "List of up to 20 custom tags specified for this offer, and returned to the app through the billing library."
        }
      },
      "type": "object"
    },
    "DeobfuscationFilesUploadResponse": {
      "id": "DeobfuscationFilesUploadResponse",
      "type": "object",
      "properties": {
        "deobfuscationFile": {
          "description": "The uploaded Deobfuscation File configuration.",
          "$ref": "DeobfuscationFile"
        }
      },
      "description": "Responses for the upload."
    },
    "UpgradeTargetingRule": {
      "type": "object",
      "properties": {
        "oncePerUser": {
          "description": "Limit this offer to only once per user. If set to true, a user can never be eligible for this offer again if they ever subscribed to this offer.",
          "type": "boolean"
        },
        "scope": {
          "$ref": "TargetingRuleScope",
          "description": "Required. The scope of subscriptions this rule considers. Only allows \"this subscription\" and \"specific subscription in app\"."
        },
        "billingPeriodDuration": {
          "type": "string",
          "description": "The specific billing period duration, specified in ISO 8601 format, that a user must be currently subscribed to to be eligible for this rule. If not specified, users subscribed to any billing period are matched."
        }
      },
      "description": "Represents a targeting rule of the form: User currently has {scope} [with billing period {billing_period}].",
      "id": "UpgradeTargetingRule"
    },
    "ModuleTargeting": {
      "properties": {
        "userCountriesTargeting": {
          "$ref": "UserCountriesTargeting",
          "description": "Countries-level targeting"
        },
        "sdkVersionTargeting": {
          "description": "The sdk version that the variant targets",
          "$ref": "SdkVersionTargeting"
        },
        "deviceFeatureTargeting": {
          "description": "Targeting for device features.",
          "type": "array",
          "items": {
            "$ref": "DeviceFeatureTargeting"
          }
        }
      },
      "description": "Targeting on the module level.",
      "id": "ModuleTargeting",
      "type": "object"
    },
    "User": {
      "properties": {
        "email": {
          "type": "string",
          "description": "Immutable. The user's email address."
        },
        "name": {
          "description": "Required. Resource name for this user, following the pattern \"developers/{developer}/users/{email}\".",
          "type": "string"
        },
        "partial": {
          "readOnly": true,
          "description": "Output only. Whether there are more permissions for the user that are not represented here. This can happen if the caller does not have permission to manage all apps in the account. This is also `true` if this user is the account owner. If this field is `true`, it should be taken as a signal that this user cannot be fully managed via the API. That is, the API caller is not be able to manage all of the permissions this user holds, either because it doesn't know about them or because the user is the account owner.",
          "type": "boolean"
        },
        "developerAccountPermissions": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unknown or unspecified permission.",
              "View app information and download bulk reports (read-only).",
              "View financial data, orders, and cancellation survey responses.",
              "Admin (all permissions).",
              "Edit Play Games Services projects.",
              "Publish Play Games Services projects.",
              "Reply to reviews.",
              "Release to production, exclude devices, and use app signing by Google Play.",
              "Release to testing tracks.",
              "Manage testing tracks and edit tester lists.",
              "Manage store presence.",
              "Create, edit, and delete draft apps.",
              "Create and publish private apps to your organization.",
              "Choose whether apps are public, or only available to your organization.",
              "Manage orders and subscriptions.",
              "Manage policy related pages on all apps for the developer.",
              "View app information and download bulk reports (read-only).",
              "View app quality information for all apps for the developer."
            ],
            "enum": [
              "DEVELOPER_LEVEL_PERMISSION_UNSPECIFIED",
              "CAN_SEE_ALL_APPS",
              "CAN_VIEW_FINANCIAL_DATA_GLOBAL",
              "CAN_MANAGE_PERMISSIONS_GLOBAL",
              "CAN_EDIT_GAMES_GLOBAL",
              "CAN_PUBLISH_GAMES_GLOBAL",
              "CAN_REPLY_TO_REVIEWS_GLOBAL",
              "CAN_MANAGE_PUBLIC_APKS_GLOBAL",
              "CAN_MANAGE_TRACK_APKS_GLOBAL",
              "CAN_MANAGE_TRACK_USERS_GLOBAL",
              "CAN_MANAGE_PUBLIC_LISTING_GLOBAL",
              "CAN_MANAGE_DRAFT_APPS_GLOBAL",
              "CAN_CREATE_MANAGED_PLAY_APPS_GLOBAL",
              "CAN_CHANGE_MANAGED_PLAY_SETTING_GLOBAL",
              "CAN_MANAGE_ORDERS_GLOBAL",
              "CAN_MANAGE_APP_CONTENT_GLOBAL",
              "CAN_VIEW_NON_FINANCIAL_DATA_GLOBAL",
              "CAN_VIEW_APP_QUALITY_GLOBAL"
            ]
          },
          "description": "Permissions for the user which apply across the developer account.",
          "type": "array"
        },
        "accessState": {
          "enumDescriptions": [
            "Unknown or unspecified access state.",
            "User is invited but has not yet accepted the invitation.",
            "Invitation has expired.",
            "User has accepted an invitation and has access to the Play Console.",
            "Account access has expired."
          ],
          "readOnly": true,
          "enum": [
            "ACCESS_STATE_UNSPECIFIED",
            "INVITED",
            "INVITATION_EXPIRED",
            "ACCESS_GRANTED",
            "ACCESS_EXPIRED"
          ],
          "type": "string",
          "description": "Output only. The state of the user's access to the Play Console."
        },
        "expirationTime": {
          "description": "The time at which the user's access expires, if set. When setting this value, it must always be in the future.",
          "format": "google-datetime",
          "type": "string"
        },
        "grants": {
          "items": {
            "$ref": "Grant"
          },
          "description": "Output only. Per-app permissions for the user.",
          "type": "array",
          "readOnly": true
        }
      },
      "id": "User",
      "description": "A user resource.",
      "type": "object"
    },
    "AppEdit": {
      "id": "AppEdit",
      "description": "An app edit. The resource for EditsService.",
      "type": "object",
      "properties": {
        "expiryTimeSeconds": {
          "readOnly": true,
          "description": "Output only. The time (as seconds since Epoch) at which the edit will expire and will be no longer valid for use.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Output only. Identifier of the edit. Can be used in subsequent API calls.",
          "readOnly": true
        }
      }
    },
    "AppDetails": {
      "type": "object",
      "properties": {
        "contactPhone": {
          "description": "The user-visible support telephone number for this app.",
          "type": "string"
        },
        "contactEmail": {
          "type": "string",
          "description": "The user-visible support email for this app."
        },
        "defaultLanguage": {
          "type": "string",
          "description": "Default language code, in BCP 47 format (eg \"en-US\")."
        },
        "contactWebsite": {
          "description": "The user-visible website for this app.",
          "type": "string"
        }
      },
      "description": "The app details. The resource for DetailsService.",
      "id": "AppDetails"
    },
    "AssetSliceSet": {
      "id": "AssetSliceSet",
      "description": "Set of asset slices belonging to a single asset module.",
      "type": "object",
      "properties": {
        "apkDescription": {
          "description": "Asset slices.",
          "items": {
            "$ref": "ApkDescription"
          },
          "type": "array"
        },
        "assetModuleMetadata": {
          "$ref": "AssetModuleMetadata",
          "description": "Module level metadata."
        }
      }
    },
    "MultiAbi": {
      "id": "MultiAbi",
      "description": "Represents a list of apis.",
      "properties": {
        "abi": {
          "items": {
            "$ref": "Abi"
          },
          "description": "A list of targeted ABIs, as represented by the Android Platform",
          "type": "array"
        }
      },
      "type": "object"
    },
    "UserCountriesTargeting": {
      "properties": {
        "countryCodes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of country codes in the two-letter CLDR territory format."
        },
        "exclude": {
          "description": "Indicates if the list above is exclusive.",
          "type": "boolean"
        }
      },
      "description": "Describes an inclusive/exclusive list of country codes that module targets.",
      "id": "UserCountriesTargeting",
      "type": "object"
    },
    "AbiTargeting": {
      "description": "Targeting based on Abi.",
      "id": "AbiTargeting",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "description": "Value of an abi.",
          "items": {
            "$ref": "Abi"
          }
        },
        "alternatives": {
          "type": "array",
          "items": {
            "$ref": "Abi"
          },
          "description": "Targeting of other sibling directories that were in the Bundle. For main splits this is targeting of other main splits."
        }
      }
    },
    "ExternalTransactionAddress": {
      "id": "ExternalTransactionAddress",
      "type": "object",
      "description": "User's address for the external transaction.",
      "properties": {
        "regionCode": {
          "description": "Required. Two letter region code based on ISO-3166-1 Alpha-2 (UN region codes).",
          "type": "string"
        }
      }
    },
    "TracksListResponse": {
      "type": "object",
      "description": "Response listing all tracks.",
      "properties": {
        "tracks": {
          "type": "array",
          "items": {
            "$ref": "Track"
          },
          "description": "All tracks."
        },
        "kind": {
          "description": "The kind of this response (\"androidpublisher#tracksListResponse\").",
          "type": "string"
        }
      },
      "id": "TracksListResponse"
    },
    "CountryTargeting": {
      "type": "object",
      "description": "Country targeting specification.",
      "properties": {
        "includeRestOfWorld": {
          "type": "boolean",
          "description": "Include \"rest of world\" as well as explicitly targeted countries."
        },
        "countries": {
          "description": "Countries to target, specified as two letter [CLDR codes](https://unicode.org/cldr/charts/latest/supplemental/territory_containment_un_m_49.html).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "CountryTargeting"
    },
    "FullRefund": {
      "id": "FullRefund",
      "type": "object",
      "properties": {},
      "description": "A full refund of the remaining amount of a transaction."
    },
    "ReviewsReplyResponse": {
      "id": "ReviewsReplyResponse",
      "description": "Response on status of replying to a review.",
      "type": "object",
      "properties": {
        "result": {
          "$ref": "ReviewReplyResult",
          "description": "The result of replying/updating a reply to review."
        }
      }
    },
    "ImagesDeleteAllResponse": {
      "description": "Response for deleting all images.",
      "id": "ImagesDeleteAllResponse",
      "properties": {
        "deleted": {
          "description": "The deleted images.",
          "type": "array",
          "items": {
            "$ref": "Image"
          }
        }
      },
      "type": "object"
    },
    "SubscriptionPriceChange": {
      "type": "object",
      "id": "SubscriptionPriceChange",
      "properties": {
        "state": {
          "format": "int32",
          "description": "The current state of the price change. Possible values are: 0. Outstanding: State for a pending price change waiting for the user to agree. In this state, you can optionally seek confirmation from the user using the In-App API. 1. Accepted: State for an accepted price change that the subscription will renew with unless it's canceled. The price change takes effect on a future date when the subscription renews. Note that the change might not occur when the subscription is renewed next.",
          "type": "integer"
        },
        "newPrice": {
          "$ref": "Price",
          "description": "The new price the subscription will renew with if the price change is accepted by the user."
        }
      },
      "description": "Contains the price change information for a subscription that can be used to control the user journey for the price change in the app. This can be in the form of seeking confirmation from the user or tailoring the experience for a successful conversion."
    },
    "OtherRegionsSubscriptionOfferPhaseConfig": {
      "properties": {
        "relativeDiscount": {
          "description": "The fraction of the base plan price prorated over the phase duration that the user pays for this offer phase. For example, if the base plan price for this region is $12 for a period of 1 year, then a 50% discount for a phase of a duration of 3 months would correspond to a price of $1.50. The discount must be specified as a fraction strictly larger than 0 and strictly smaller than 1. The resulting price will be rounded to the nearest billable unit (e.g. cents for USD). The relative discount is considered invalid if the discounted price ends up being smaller than the minimum price allowed in any new locations Play may launch in.",
          "type": "number",
          "format": "double"
        },
        "absoluteDiscounts": {
          "$ref": "OtherRegionsSubscriptionOfferPhasePrices",
          "description": "The absolute amount of money subtracted from the base plan price prorated over the phase duration that the user pays for this offer phase. For example, if the base plan price for this region is $12 for a period of 1 year, then a $1 absolute discount for a phase of a duration of 3 months would correspond to a price of $2. The resulting price may not be smaller than the minimum price allowed for any new locations Play may launch in."
        },
        "otherRegionsPrices": {
          "description": "The absolute price the user pays for this offer phase. The price must not be smaller than the minimum price allowed for any new locations Play may launch in.",
          "$ref": "OtherRegionsSubscriptionOfferPhasePrices"
        }
      },
      "type": "object",
      "id": "OtherRegionsSubscriptionOfferPhaseConfig",
      "description": "Configuration for any new locations Play may launch in for a single offer phase."
    },
    "ApkDescription": {
      "properties": {
        "assetSliceMetadata": {
          "$ref": "SplitApkMetadata",
          "description": "Set only for asset slices."
        },
        "splitApkMetadata": {
          "$ref": "SplitApkMetadata",
          "description": "Set only for Split APKs."
        },
        "targeting": {
          "$ref": "ApkTargeting",
          "description": "Apk-level targeting."
        },
        "instantApkMetadata": {
          "description": "Set only for Instant split APKs.",
          "$ref": "SplitApkMetadata"
        },
        "path": {
          "description": "Path of the Apk, will be in the following format: .apk where DownloadId is the ID used to download the apk using GeneratedApks.Download API.",
          "type": "string"
        },
        "standaloneApkMetadata": {
          "$ref": "StandaloneApkMetadata",
          "description": "Set only for standalone APKs."
        }
      },
      "type": "object",
      "id": "ApkDescription",
      "description": "Description of the created apks."
    },
    "ReviewReplyResult": {
      "type": "object",
      "id": "ReviewReplyResult",
      "description": "The result of replying/updating a reply to review.",
      "properties": {
        "replyText": {
          "type": "string",
          "description": "The reply text that was applied."
        },
        "lastEdited": {
          "$ref": "Timestamp",
          "description": "The time at which the reply took effect."
        }
      }
    },
    "DeviceTierConfig": {
      "description": "Configuration describing device targeting criteria for the content of an app.",
      "id": "DeviceTierConfig",
      "type": "object",
      "properties": {
        "deviceGroups": {
          "description": "Definition of device groups for the app.",
          "type": "array",
          "items": {
            "$ref": "DeviceGroup"
          }
        },
        "userCountrySets": {
          "description": "Definition of user country sets for the app.",
          "items": {
            "$ref": "UserCountrySet"
          },
          "type": "array"
        },
        "deviceTierSet": {
          "$ref": "DeviceTierSet",
          "description": "Definition of the set of device tiers for the app."
        },
        "deviceTierConfigId": {
          "description": "Output only. The device tier config ID.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        }
      }
    },
    "DeveloperComment": {
      "properties": {
        "lastModified": {
          "$ref": "Timestamp",
          "description": "The last time at which this comment was updated."
        },
        "text": {
          "description": "The content of the comment, i.e. reply body.",
          "type": "string"
        }
      },
      "description": "Developer entry from conversation between user and developer.",
      "id": "DeveloperComment",
      "type": "object"
    },
    "SdkVersionTargeting": {
      "properties": {
        "value": {
          "type": "array",
          "description": "Value of an sdk version.",
          "items": {
            "$ref": "SdkVersion"
          }
        },
        "alternatives": {
          "description": "Targeting of other sibling directories that were in the Bundle. For main splits this is targeting of other main splits.",
          "type": "array",
          "items": {
            "$ref": "SdkVersion"
          }
        }
      },
      "description": "Targeting based on sdk version.",
      "type": "object",
      "id": "SdkVersionTargeting"
    },
    "UserCountrySet": {
      "type": "object",
      "properties": {
        "countryCodes": {
          "type": "array",
          "description": "List of country codes representing countries. A Country code is represented in ISO 3166 alpha-2 format. For Example:- \"IT\" for Italy, \"GE\" for Georgia.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Country set name.",
          "type": "string"
        }
      },
      "id": "UserCountrySet",
      "description": "A set of user countries. A country set determines what variation of app content gets served to a specific location."
    },
    "PausedStateContext": {
      "id": "PausedStateContext",
      "type": "object",
      "description": "Information specific to a subscription in paused state.",
      "properties": {
        "autoResumeTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time at which the subscription will be automatically resumed."
        }
      }
    },
    "Grant": {
      "id": "Grant",
      "type": "object",
      "description": "An access grant resource.",
      "properties": {
        "appLevelPermissions": {
          "type": "array",
          "items": {
            "enum": [
              "APP_LEVEL_PERMISSION_UNSPECIFIED",
              "CAN_ACCESS_APP",
              "CAN_VIEW_FINANCIAL_DATA",
              "CAN_MANAGE_PERMISSIONS",
              "CAN_REPLY_TO_REVIEWS",
              "CAN_MANAGE_PUBLIC_APKS",
              "CAN_MANAGE_TRACK_APKS",
              "CAN_MANAGE_TRACK_USERS",
              "CAN_MANAGE_PUBLIC_LISTING",
              "CAN_MANAGE_DRAFT_APPS",
              "CAN_MANAGE_ORDERS",
              "CAN_MANAGE_APP_CONTENT",
              "CAN_VIEW_NON_FINANCIAL_DATA",
              "CAN_VIEW_APP_QUALITY"
            ],
            "enumDeprecated": [
              false,
              true,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false
            ],
            "enumDescriptions": [
              "Unknown or unspecified permission.",
              "View app information (read-only). Deprecated: Try defining a more granular capability. Otherwise, check AppLevelPermission.CAN_VIEW_NON_FINANCIAL_DATA.",
              "View financial data.",
              "Admin (all permissions).",
              "Reply to reviews.",
              "Release to production, exclude devices, and use app signing by Google Play.",
              "Release to testing tracks.",
              "Manage testing tracks and edit tester lists.",
              "Manage store presence.",
              "Edit and delete draft apps.",
              "Manage orders and subscriptions.",
              "Manage policy related pages.",
              "View app information (read-only).",
              "View app quality data such as Vitals, Crashes etc."
            ],
            "type": "string"
          },
          "description": "The permissions granted to the user for this app."
        },
        "name": {
          "type": "string",
          "description": "Required. Resource name for this grant, following the pattern \"developers/{developer}/users/{email}/grants/{package_name}\". If this grant is for a draft app, the app ID will be used in this resource name instead of the package name."
        },
        "packageName": {
          "description": "Immutable. The package name of the app. This will be empty for draft apps.",
          "type": "string"
        }
      }
    },
    "Listing": {
      "properties": {
        "fullDescription": {
          "description": "Full description of the app.",
          "type": "string"
        },
        "title": {
          "type": "string",
[...]
