{
  "kind": "discovery#restDescription",
  "revision": "20220123",
  "version": "v3",
  "title": "Google Play Android Developer API",
  "description": "Lets Android application developers access their Google Play accounts.",
  "rootUrl": "https://androidpublisher.googleapis.com/",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "canonicalName": "Android Publisher",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "resources": {
    "generatedapks": {
      "methods": {
        "download": {
          "parameters": {
            "downloadId": {
              "type": "string",
              "description": "Download ID, which uniquely identifies the APK to download. Can be obtained from the response of `generatedapks.list` method.",
              "required": true,
              "location": "path"
            },
            "packageName": {
              "location": "path",
              "description": "Package name of the app.",
              "type": "string",
              "required": true
            },
            "versionCode": {
              "required": true,
              "type": "integer",
              "description": "Version code of the app bundle.",
              "format": "int32",
              "location": "path"
            }
          },
          "parameterOrder": [
            "packageName",
            "versionCode",
            "downloadId"
          ],
          "description": "Downloads a single signed APK generated from an app bundle.",
          "supportsMediaDownload": true,
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.generatedapks.download",
          "httpMethod": "GET",
          "path": "androidpublisher/v3/applications/{packageName}/generatedApks/{versionCode}/downloads/{downloadId}:download",
          "useMediaDownloadService": true,
          "flatPath": "androidpublisher/v3/applications/{packageName}/generatedApks/{versionCode}/downloads/{downloadId}:download"
        },
        "list": {
          "description": "Returns download metadata for all APKs that were generated from a given app bundle.",
          "response": {
            "$ref": "GeneratedApksListResponse"
          },
          "id": "androidpublisher.generatedapks.list",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "packageName",
            "versionCode"
          ],
          "parameters": {
            "versionCode": {
              "description": "Version code of the app bundle.",
              "location": "path",
              "type": "integer",
              "format": "int32",
              "required": true
            },
            "packageName": {
              "description": "Package name of the app.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/generatedApks/{versionCode}",
          "flatPath": "androidpublisher/v3/applications/{packageName}/generatedApks/{versionCode}",
          "httpMethod": "GET"
        }
      }
    },
    "users": {
      "methods": {
        "delete": {
          "description": "Removes all access for the user to the given developer account.",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^developers/[^/]+/users/[^/]+$",
              "description": "Required. The name of the user to delete. Format: developers/{developer}/users/{email}",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "path": "androidpublisher/v3/{+name}",
          "httpMethod": "DELETE",
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}",
          "id": "androidpublisher.users.delete",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "create": {
          "description": "Grant access for a user to the given developer account.",
          "id": "androidpublisher.users.create",
          "response": {
            "$ref": "User"
          },
          "parameterOrder": [
            "parent"
          ],
          "flatPath": "androidpublisher/v3/developers/{developersId}/users",
          "httpMethod": "POST",
          "request": {
            "$ref": "User"
          },
          "path": "androidpublisher/v3/{+parent}/users",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "parent": {
              "pattern": "^developers/[^/]+$",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The developer account to add the user to. Format: developers/{developer}"
            }
          }
        },
        "patch": {
          "request": {
            "$ref": "User"
          },
          "description": "Updates access for the user to the developer account.",
          "id": "androidpublisher.users.patch",
          "response": {
            "$ref": "User"
          },
          "path": "androidpublisher/v3/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "pattern": "^developers/[^/]+/users/[^/]+$",
              "description": "Required. Resource name for this user, following the pattern \"developers/{developer}/users/{email}\".",
              "type": "string"
            },
            "updateMask": {
              "location": "query",
              "description": "Optional. The list of fields to be updated.",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ]
        },
        "list": {
          "description": "Lists all users with access to a developer account.",
          "parameters": {
            "parent": {
              "description": "Required. The developer account to fetch users from. Format: developers/{developer}",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^developers/[^/]+$"
            },
            "pageToken": {
              "description": "A token received from a previous call to this method, in order to retrieve further results.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "The maximum number of results to return. This must be set to -1 to disable pagination."
            }
          },
          "flatPath": "androidpublisher/v3/developers/{developersId}/users",
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "ListUsersResponse"
          },
          "id": "androidpublisher.users.list",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/{+parent}/users",
          "httpMethod": "GET"
        }
      }
    },
    "systemapks": {
      "resources": {
        "variants": {
          "methods": {
            "create": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Creates an APK which is suitable for inclusion in a system image from an already uploaded Android App Bundle.",
              "request": {
                "$ref": "Variant"
              },
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "response": {
                "$ref": "Variant"
              },
              "parameterOrder": [
                "packageName",
                "versionCode"
              ],
              "id": "androidpublisher.systemapks.variants.create",
              "httpMethod": "POST",
              "parameters": {
                "versionCode": {
                  "type": "string",
                  "format": "int64",
                  "description": "The version code of the App Bundle.",
                  "required": true,
                  "location": "path"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "download": {
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}:download",
              "parameters": {
                "versionCode": {
                  "type": "string",
                  "format": "int64",
                  "location": "path",
                  "required": true,
                  "description": "The version code of the App Bundle."
                },
                "variantId": {
                  "description": "The ID of a previously created system APK variant.",
                  "location": "path",
                  "type": "integer",
                  "format": "uint32",
                  "required": true
                },
                "packageName": {
                  "type": "string",
                  "required": true,
                  "description": "Package name of the app.",
                  "location": "path"
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}:download",
              "id": "androidpublisher.systemapks.variants.download",
              "useMediaDownloadService": true,
              "supportsMediaDownload": true,
              "httpMethod": "GET",
              "description": "Downloads a previously created system APK which is suitable for inclusion in a system image.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "versionCode",
                "variantId"
              ]
            },
            "get": {
              "response": {
                "$ref": "Variant"
              },
              "parameterOrder": [
                "packageName",
                "versionCode",
                "variantId"
              ],
              "id": "androidpublisher.systemapks.variants.get",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}",
              "httpMethod": "GET",
              "parameters": {
                "variantId": {
                  "type": "integer",
                  "required": true,
                  "format": "uint32",
                  "description": "The ID of a previously created system APK variant.",
                  "location": "path"
                },
                "versionCode": {
                  "type": "string",
                  "required": true,
                  "format": "int64",
                  "description": "The version code of the App Bundle.",
                  "location": "path"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Returns a previously created system APK variant.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}"
            },
            "list": {
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "id": "androidpublisher.systemapks.variants.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Package name of the app."
                },
                "versionCode": {
                  "format": "int64",
                  "required": true,
                  "type": "string",
                  "description": "The version code of the App Bundle.",
                  "location": "path"
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "parameterOrder": [
                "packageName",
                "versionCode"
              ],
              "response": {
                "$ref": "SystemApksListResponse"
              },
              "description": "Returns the list of previously created system APK variants."
            }
          }
        }
      }
    },
    "reviews": {
      "methods": {
        "reply": {
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}:reply",
          "request": {
            "$ref": "ReviewsReplyRequest"
          },
          "description": "Replies to a single review, or updates an existing reply.",
          "parameterOrder": [
            "packageName",
            "reviewId"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}:reply",
          "parameters": {
            "reviewId": {
              "type": "string",
              "required": true,
              "description": "Unique identifier for a review.",
              "location": "path"
            },
            "packageName": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Package name of the app."
            }
          },
          "id": "androidpublisher.reviews.reply",
          "response": {
            "$ref": "ReviewsReplyResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "POST"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "packageName",
            "reviewId"
          ],
          "response": {
            "$ref": "Review"
          },
          "parameters": {
            "translationLanguage": {
              "description": "Language localization code.",
              "location": "query",
              "type": "string"
            },
            "reviewId": {
              "required": true,
              "description": "Unique identifier for a review.",
              "location": "path",
              "type": "string"
            },
            "packageName": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Package name of the app."
            }
          },
          "httpMethod": "GET",
          "description": "Gets a single review.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}",
          "id": "androidpublisher.reviews.get",
          "path": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}"
        },
        "list": {
          "parameters": {
            "token": {
              "location": "query",
              "type": "string",
              "description": "Pagination token. If empty, list starts at the first review."
            },
            "startIndex": {
              "location": "query",
              "type": "integer",
              "format": "uint32",
              "description": "The index of the first element to return."
            },
            "maxResults": {
              "format": "uint32",
              "type": "integer",
              "description": "How many results the list operation should return.",
              "location": "query"
            },
            "translationLanguage": {
              "description": "Language localization code.",
              "type": "string",
              "location": "query"
            },
            "packageName": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Package name of the app."
            }
          },
          "parameterOrder": [
            "packageName"
          ],
          "httpMethod": "GET",
          "id": "androidpublisher.reviews.list",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "ReviewsListResponse"
          },
          "description": "Lists all reviews.",
          "path": "androidpublisher/v3/applications/{packageName}/reviews",
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews"
        }
      }
    },
    "monetization": {
      "methods": {
        "convertRegionPrices": {
          "path": "androidpublisher/v3/applications/{packageName}/pricing:convertRegionPrices",
          "response": {
            "$ref": "ConvertRegionPricesResponse"
          },
          "parameters": {
            "packageName": {
              "description": "Required. The app package name.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "ConvertRegionPricesRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.monetization.convertRegionPrices",
          "parameterOrder": [
            "packageName"
          ],
          "description": "Calculates the region prices, using today's exchange rate and country-specific pricing patterns, based on the price in the request for a set of regions.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/pricing:convertRegionPrices"
        }
      }
    },
    "grants": {
      "methods": {
        "create": {
          "description": "Grant access for a user to the given package.",
          "httpMethod": "POST",
          "path": "androidpublisher/v3/{+parent}/grants",
          "id": "androidpublisher.grants.create",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "request": {
            "$ref": "Grant"
          },
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}/grants",
          "parameters": {
            "parent": {
              "type": "string",
              "location": "path",
              "pattern": "^developers/[^/]+/users/[^/]+$",
              "description": "Required. The user which needs permission. Format: developers/{developer}/users/{user}",
              "required": true
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "Grant"
          }
        },
        "patch": {
          "parameterOrder": [
            "name"
          ],
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}/grants/{grantsId}",
          "response": {
            "$ref": "Grant"
          },
          "path": "androidpublisher/v3/{+name}",
          "request": {
            "$ref": "Grant"
          },
          "description": "Updates access for the user to the given package.",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^developers/[^/]+/users/[^/]+/grants/[^/]+$",
              "location": "path",
              "description": "Required. Resource name for this grant, following the pattern \"developers/{developer}/users/{email}/grants/{package_name}\".",
              "type": "string"
            },
            "updateMask": {
              "type": "string",
              "description": "Optional. The list of fields to be updated.",
              "format": "google-fieldmask",
              "location": "query"
            }
          },
          "id": "androidpublisher.grants.patch",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "delete": {
          "parameterOrder": [
            "name"
          ],
          "id": "androidpublisher.grants.delete",
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}/grants/{grantsId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "pattern": "^developers/[^/]+/users/[^/]+/grants/[^/]+$",
              "location": "path",
              "description": "Required. The name of the grant to delete. Format: developers/{developer}/users/{email}/grants/{package_name}",
              "type": "string",
              "required": true
            }
          },
          "path": "androidpublisher/v3/{+name}",
          "description": "Removes all access for the user to the given package or developer account."
        }
      }
    },
    "edits": {
      "methods": {
        "validate": {
          "parameters": {
            "packageName": {
              "type": "string",
              "required": true,
              "description": "Package name of the app.",
              "location": "path"
            },
            "editId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifier of the edit."
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}:validate",
          "response": {
            "$ref": "AppEdit"
          },
          "id": "androidpublisher.edits.validate",
          "description": "Validates an app edit.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}:validate",
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "commit": {
          "response": {
            "$ref": "AppEdit"
          },
          "description": "Commits an app edit.",
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}:commit",
          "id": "androidpublisher.edits.commit",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}:commit",
          "httpMethod": "POST",
          "parameters": {
            "editId": {
              "description": "Identifier of the edit.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "changesNotSentForReview": {
              "description": "Indicates that the changes in this edit will not be reviewed until they are explicitly sent for review from the Google Play Console UI. These changes will be added to any other changes that are not yet sent for review.",
              "location": "query",
              "type": "boolean"
            },
            "packageName": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Package name of the app."
            }
          },
          "parameterOrder": [
            "packageName",
            "editId"
          ]
        },
        "insert": {
          "response": {
            "$ref": "AppEdit"
          },
          "request": {
            "$ref": "AppEdit"
          },
          "parameterOrder": [
            "packageName"
          ],
          "id": "androidpublisher.edits.insert",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/edits",
          "httpMethod": "POST",
          "description": "Creates a new edit for an app.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits",
          "parameters": {
            "packageName": {
              "required": true,
              "description": "Package name of the app.",
              "type": "string",
              "location": "path"
            }
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "AppEdit"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "description": "Gets an app edit.",
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "editId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Identifier of the edit."
            }
          },
          "id": "androidpublisher.edits.get",
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}"
        },
        "delete": {
          "parameters": {
            "editId": {
              "location": "path",
              "required": true,
              "description": "Identifier of the edit.",
              "type": "string"
            },
            "packageName": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Package name of the app."
            }
          },
          "description": "Deletes an app edit.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "httpMethod": "DELETE",
          "id": "androidpublisher.edits.delete"
        }
      },
      "resources": {
        "countryavailability": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "editId": {
                  "location": "path",
                  "description": "Identifier of the edit.",
                  "required": true,
                  "type": "string"
                },
                "track": {
                  "location": "path",
                  "type": "string",
                  "description": "The track to read from.",
                  "required": true
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Package name of the app."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Gets country availability.",
              "id": "androidpublisher.edits.countryavailability.get",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/countryAvailability/{track}",
              "response": {
                "$ref": "TrackCountryAvailability"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/countryAvailability/{track}"
            }
          }
        },
        "details": {
          "methods": {
            "patch": {
              "response": {
                "$ref": "AppDetails"
              },
              "id": "androidpublisher.edits.details.patch",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "description": "Patches details of an app.",
              "request": {
                "$ref": "AppDetails"
              },
              "parameters": {
                "editId": {
                  "required": true,
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "location": "path"
                },
                "packageName": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Package name of the app."
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details"
            },
            "update": {
              "httpMethod": "PUT",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "description": "Updates details of an app.",
              "request": {
                "$ref": "AppDetails"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "editId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the edit."
                }
              },
              "id": "androidpublisher.edits.details.update",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "response": {
                "$ref": "AppDetails"
              }
            },
            "get": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "response": {
                "$ref": "AppDetails"
              },
              "parameters": {
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "description": "Package name of the app.",
                  "required": true
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Gets details of an app.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "id": "androidpublisher.edits.details.get",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "packageName",
                "editId"
              ]
            }
          }
        },
        "expansionfiles": {
          "methods": {
            "patch": {
              "request": {
                "$ref": "ExpansionFile"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Patches the APK's expansion file configuration to reference another APK's expansion file. To add a new expansion file use the Upload method.",
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "id": "androidpublisher.edits.expansionfiles.patch",
              "parameters": {
                "expansionFileType": {
                  "enumDescriptions": [
                    "Unspecified expansion file type.",
                    "Main expansion file.",
                    "Patch expansion file."
                  ],
                  "required": true,
                  "description": "The file type of the expansion file configuration which is being updated.",
                  "type": "string",
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "location": "path"
                },
                "apkVersionCode": {
                  "format": "int32",
                  "required": true,
                  "type": "integer",
                  "location": "path",
                  "description": "The version code of the APK whose expansion file configuration is being read or modified."
                },
                "packageName": {
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path"
                },
                "editId": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "required": true
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "ExpansionFile"
              }
            },
            "update": {
              "request": {
                "$ref": "ExpansionFile"
              },
              "response": {
                "$ref": "ExpansionFile"
              },
              "description": "Updates the APK's expansion file configuration to reference another APK's expansion file. To add a new expansion file use the Upload method.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "id": "androidpublisher.edits.expansionfiles.update",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "httpMethod": "PUT",
              "parameters": {
                "packageName": {
                  "type": "string",
                  "required": true,
                  "description": "Package name of the app.",
                  "location": "path"
                },
                "expansionFileType": {
                  "required": true,
                  "description": "The file type of the file configuration which is being read or modified.",
                  "type": "string",
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "enumDescriptions": [
                    "Unspecified expansion file type.",
                    "Main expansion file.",
                    "Patch expansion file."
                  ],
                  "location": "path"
                },
                "apkVersionCode": {
                  "description": "The version code of the APK whose expansion file configuration is being read or modified.",
                  "format": "int32",
                  "type": "integer",
                  "location": "path",
                  "required": true
                },
                "editId": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "required": true
                }
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ]
            },
            "upload": {
              "response": {
                "$ref": "ExpansionFilesUploadResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "supportsMediaUpload": true,
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "mediaUpload": {
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}"
                  }
                },
                "maxSize": "2147483648",
                "accept": [
                  "application/octet-stream"
                ]
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "id": "androidpublisher.edits.expansionfiles.upload",
              "httpMethod": "POST",
              "description": "Uploads a new expansion file and attaches to the specified APK.",
              "parameters": {
                "apkVersionCode": {
                  "format": "int32",
                  "description": "The version code of the APK whose expansion file configuration is being read or modified.",
                  "required": true,
                  "location": "path",
                  "type": "integer"
                },
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "description": "Package name of the app.",
                  "required": true
                },
                "expansionFileType": {
                  "required": true,
                  "description": "The file type of the expansion file configuration which is being updated.",
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "type": "string",
                  "enumDescriptions": [
                    "Unspecified expansion file type.",
                    "Main expansion file.",
                    "Patch expansion file."
                  ],
                  "location": "path"
                },
                "editId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit."
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}"
            },
            "get": {
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "response": {
                "$ref": "ExpansionFile"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "description": "Fetches the expansion file configuration for the specified APK.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "parameters": {
                "apkVersionCode": {
                  "required": true,
                  "description": "The version code of the APK whose expansion file configuration is being read or modified.",
                  "type": "integer",
                  "format": "int32",
                  "location": "path"
                },
                "editId": {
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "required": true,
                  "location": "path"
                },
                "expansionFileType": {
                  "enumDescriptions": [
                    "Unspecified expansion file type.",
                    "Main expansion file.",
                    "Patch expansion file."
                  ],
                  "required": true,
                  "location": "path",
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "type": "string",
                  "description": "The file type of the file configuration which is being read or modified."
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "id": "androidpublisher.edits.expansionfiles.get"
            }
          }
        },
        "images": {
          "methods": {
            "upload": {
              "parameters": {
                "editId": {
                  "location": "path",
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "required": true
                },
                "imageType": {
                  "type": "string",
                  "description": "Type of the Image.",
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "tvBanner"
                  ],
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "TV banner."
                  ],
                  "required": true,
                  "location": "path"
                },
                "language": {
                  "type": "string",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German). Providing a language that is not supported by the App is a no-op.",
                  "required": true,
                  "location": "path"
                },
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "description": "Package name of the app.",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ],
              "response": {
                "$ref": "ImagesUploadResponse"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "description": "Uploads an image of the specified language and image type, and adds to the edit.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "supportsMediaUpload": true,
              "mediaUpload": {
                "maxSize": "15728640",
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}"
                  },
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}"
                  }
                },
                "accept": [
                  "image/*"
                ]
              },
              "id": "androidpublisher.edits.images.upload"
            },
            "list": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "parameters": {
                "imageType": {
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "TV banner."
                  ],
                  "location": "path",
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "tvBanner"
                  ],
                  "type": "string",
                  "description": "Type of the Image. Providing an image type that refers to no images will return an empty response.",
                  "required": true
                },
                "editId": {
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "required": true,
                  "location": "path"
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app."
                },
                "language": {
                  "required": true,
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German). There must be a store listing for the specified language.",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ],
              "id": "androidpublisher.edits.images.list",
              "httpMethod": "GET",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "description": "Lists all images. The response may be empty.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "ImagesListResponse"
              }
            },
            "delete": {
              "description": "Deletes the image (specified by id) from the edit.",
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType",
                "imageId"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}/{imageId}",
              "httpMethod": "DELETE",
              "parameters": {
                "language": {
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "imageType": {
                  "location": "path",
                  "description": "Type of the Image.",
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "tvBanner"
                  ],
                  "required": true,
                  "type": "string",
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "TV banner."
                  ]
                },
                "imageId": {
                  "description": "Unique identifier an image within the set of images attached to this edit.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true
                },
                "editId": {
                  "required": true,
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}/{imageId}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.edits.images.delete"
            },
            "deleteall": {
              "id": "androidpublisher.edits.images.deleteall",
              "httpMethod": "DELETE",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "parameters": {
                "language": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German). Providing a language that is not supported by the App is a no-op."
                },
                "editId": {
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit.",
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "imageType": {
                  "required": true,
                  "location": "path",
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "tvBanner"
                  ],
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "TV banner."
                  ],
                  "description": "Type of the Image. Providing an image type that refers to no images is a no-op.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ],
              "response": {
                "$ref": "ImagesDeleteAllResponse"
              },
              "description": "Deletes all images for the specified language and image type. Returns an empty response if no images are found."
            }
          }
        },
        "listings": {
          "methods": {
            "list": {
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "response": {
                "$ref": "ListingsListResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "description": "Lists all localized store listings.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "androidpublisher.edits.listings.list"
            },
            "patch": {
              "description": "Patches a localized store listing.",
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "id": "androidpublisher.edits.listings.patch",
              "response": {
                "$ref": "Listing"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "request": {
                "$ref": "Listing"
              },
              "httpMethod": "PATCH",
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "language": {
                  "type": "string",
                  "location": "path",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
                  "required": true
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "delete": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.edits.listings.delete",
              "parameters": {
                "language": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German)."
                },
                "editId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Package name of the app."
                }
              },
              "description": "Deletes a localized store listing.",
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}"
            },
            "deleteall": {
              "httpMethod": "DELETE",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "id": "androidpublisher.edits.listings.deleteall",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "parameters": {
                "editId": {
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Deletes all store listings."
            },
            "get": {
              "response": {
                "$ref": "Listing"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "description": "Gets a localized store listing.",
              "parameters": {
                "language": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German)."
                },
                "packageName": {
                  "type": "string",
                  "required": true,
                  "description": "Package name of the app.",
                  "location": "path"
                },
                "editId": {
                  "location": "path",
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.edits.listings.get"
            },
            "update": {
              "request": {
                "$ref": "Listing"
              },
              "description": "Creates or updates a localized store listing.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "response": {
                "$ref": "Listing"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "language": {
                  "type": "string",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
                  "location": "path",
                  "required": true
                },
                "packageName": {
                  "location": "path",
                  "description": "Package name of the app.",
                  "required": true,
                  "type": "string"
                },
                "editId": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "required": true
                }
              },
              "id": "androidpublisher.edits.listings.update",
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "httpMethod": "PUT"
            }
          }
        },
        "tracks": {
          "methods": {
            "update": {
              "parameters": {
                "track": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Identifier of the track."
                },
                "editId": {
                  "required": true,
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "location": "path"
                },
                "packageName": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Package name of the app."
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "response": {
                "$ref": "Track"
              },
              "description": "Updates a track.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "request": {
                "$ref": "Track"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.edits.tracks.update",
              "httpMethod": "PUT"
            },
            "patch": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Track"
              },
              "parameters": {
                "track": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the track.",
                  "required": true
                },
                "packageName": {
                  "required": true,
                  "location": "path",
                  "description": "Package name of the app.",
                  "type": "string"
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "description": "Patches a track.",
              "id": "androidpublisher.edits.tracks.patch",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "response": {
                "$ref": "Track"
              }
            },
            "list": {
              "id": "androidpublisher.edits.tracks.list",
              "httpMethod": "GET",
              "description": "Lists all tracks.",
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks",
              "response": {
                "$ref": "TracksListResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "get": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "httpMethod": "GET",
              "id": "androidpublisher.edits.tracks.get",
              "response": {
                "$ref": "Track"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "description": "Gets a track.",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "parameters": {
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "description": "Package name of the app.",
                  "required": true
                },
                "editId": {
                  "required": true,
                  "location": "path",
                  "description": "Identifier of the edit.",
                  "type": "string"
                },
                "track": {
                  "description": "Identifier of the track.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        },
        "apks": {
          "methods": {
            "upload": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "response": {
                "$ref": "Apk"
              },
              "description": "Uploads an APK and adds to the current edit.",
              "supportsMediaUpload": true,
              "id": "androidpublisher.edits.apks.upload",
              "httpMethod": "POST",
              "mediaUpload": {
                "maxSize": "10737418240",
                "accept": [
                  "application/octet-stream",
                  "application/vnd.android.package-archive"
                ],
                "protocols": {
                  "simple": {
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
                    "multipart": true
                  },
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks"
                  }
                }
              },
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "editId": {
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "list": {
              "id": "androidpublisher.edits.apks.list",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "Package name of the app.",
                  "required": true
                }
              },
              "description": "Lists all current APKs of the app and edit.",
              "httpMethod": "GET",
              "response": {
                "$ref": "ApksListResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks"
            },
            "addexternallyhosted": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/externallyHosted",
              "description": "Creates a new APK without uploading the APK itself to Google Play, instead hosting the APK at a specified URL. This function is only available to organizations using Managed Play whose application is configured to restrict distribution to the organizations.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/externallyHosted",
              "request": {
                "$ref": "ApksAddExternallyHostedRequest"
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "id": "androidpublisher.edits.apks.addexternallyhosted",
              "httpMethod": "POST",
              "response": {
                "$ref": "ApksAddExternallyHostedResponse"
              },
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "editId": {
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            }
          }
        },
        "deobfuscationfiles": {
          "methods": {
            "upload": {
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "deobfuscationFileType"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}",
              "mediaUpload": {
                "maxSize": "629145600",
                "accept": [
                  "application/octet-stream"
                ],
                "protocols": {
                  "simple": {
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}",
                    "multipart": true
                  },
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}"
                  }
                }
              },
              "description": "Uploads a new deobfuscation file and attaches to the specified APK.",
              "parameters": {
                "editId": {
                  "location": "path",
                  "type": "string",
                  "description": "Unique identifier for this edit.",
                  "required": true
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Unique identifier for the Android app."
                },
                "apkVersionCode": {
                  "description": "The version code of the APK whose Deobfuscation File is being uploaded.",
                  "required": true,
                  "location": "path",
                  "format": "int32",
                  "type": "integer"
                },
                "deobfuscationFileType": {
                  "description": "The type of the deobfuscation file.",
                  "enumDescriptions": [
                    "Unspecified deobfuscation file type.",
                    "Proguard deobfuscation file type.",
                    "Native debugging symbols file type."
                  ],
                  "enum": [
                    "deobfuscationFileTypeUnspecified",
                    "proguard",
                    "nativeCode"
                  ],
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "supportsMediaUpload": true,
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "DeobfuscationFilesUploadResponse"
              },
              "id": "androidpublisher.edits.deobfuscationfiles.upload",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}"
            }
          }
        },
        "testers": {
          "methods": {
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "editId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "required": true,
                  "location": "path",
                  "description": "Package name of the app.",
                  "type": "string"
                },
                "track": {
                  "type": "string",
                  "description": "The track to update.",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Testers"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "id": "androidpublisher.edits.testers.patch",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "description": "Patches testers.",
              "request": {
                "$ref": "Testers"
              },
              "httpMethod": "PATCH"
            },
            "update": {
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "request": {
                "$ref": "Testers"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "response": {
                "$ref": "Testers"
              },
              "id": "androidpublisher.edits.testers.update",
              "description": "Updates testers.",
              "parameters": {
                "packageName": {
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path"
                },
                "track": {
                  "required": true,
                  "location": "path",
                  "description": "The track to update.",
                  "type": "string"
                },
                "editId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit."
                }
              }
            },
            "get": {
              "parameters": {
                "track": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The track to read from."
                },
                "editId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "response": {
                "$ref": "Testers"
              },
              "id": "androidpublisher.edits.testers.get",
              "description": "Gets testers.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "httpMethod": "GET"
            }
          }
        },
        "bundles": {
          "methods": {
            "list": {
              "id": "androidpublisher.edits.bundles.list",
              "httpMethod": "GET",
              "description": "Lists all current Android App Bundles of the app and edit.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "response": {
                "$ref": "BundlesListResponse"
              },
              "parameters": {
                "editId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "location": "path",
                  "description": "Package name of the app.",
                  "type": "string",
                  "required": true
                }
              }
            },
            "upload": {
              "httpMethod": "POST",
              "supportsMediaUpload": true,
              "id": "androidpublisher.edits.bundles.upload",
              "response": {
                "$ref": "Bundle"
              },
              "mediaUpload": {
                "protocols": {
                  "simple": {
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
                    "multipart": true
                  },
                  "resumable": {
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
                    "multipart": true
                  }
                },
                "maxSize": "10737418240",
                "accept": [
                  "application/octet-stream"
                ]
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Uploads a new Android App Bundle to this edit. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java.",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "parameters": {
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "description": "Package name of the app.",
                  "required": true
                },
                "ackBundleInstallationWarning": {
                  "location": "query",
                  "description": "Must be set to true if the app bundle installation may trigger a warning on user devices (for example, if installation size may be over a threshold, typically 100 MB).",
                  "type": "boolean"
                },
                "editId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Identifier of the edit."
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles"
            }
          }
        }
      }
    },
    "inappproducts": {
      "methods": {
        "list": {
          "response": {
            "$ref": "InappproductsListResponse"
          },
          "id": "androidpublisher.inappproducts.list",
          "description": "Lists all in-app products - both managed products and subscriptions. If an app has a large number of in-app products, the response may be paginated. In this case the response field `tokenPagination.nextPageToken` will be set and the caller should provide its value as a `token` request parameter to retrieve the next page.",
          "parameterOrder": [
            "packageName"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "packageName": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Package name of the app."
            },
            "token": {
              "location": "query",
              "type": "string",
              "description": "Pagination token. If empty, list starts at the first product."
            },
            "startIndex": {
              "location": "query",
              "type": "integer",
              "description": "Deprecated and ignored. Set the `token` parameter to rertieve the next page.",
              "format": "uint32"
            },
            "maxResults": {
              "description": "Deprecated and ignored. The page size is determined by the server.",
              "type": "integer",
              "location": "query",
              "format": "uint32"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "httpMethod": "GET"
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "packageName"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "id": "androidpublisher.inappproducts.insert",
          "request": {
            "$ref": "InAppProduct"
          },
          "parameters": {
            "packageName": {
              "location": "path",
              "description": "Package name of the app.",
              "required": true,
              "type": "string"
            },
            "autoConvertMissingPrices": {
              "type": "boolean",
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "InAppProduct"
          },
          "httpMethod": "POST",
          "description": "Creates an in-app product (i.e. a managed product or a subscriptions)."
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "DELETE",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "description": "Deletes an in-app product (i.e. a managed product or a subscriptions).",
          "id": "androidpublisher.inappproducts.delete",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "parameters": {
            "sku": {
              "description": "Unique identifier for the in-app product.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "packageName": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Package name of the app."
            }
          }
        },
        "update": {
          "parameters": {
            "autoConvertMissingPrices": {
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
              "location": "query",
              "type": "boolean"
            },
            "sku": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Unique identifier for the in-app product."
            },
            "packageName": {
              "required": true,
              "description": "Package name of the app.",
              "location": "path",
              "type": "string"
            },
            "allowMissing": {
              "location": "query",
              "description": "If set to true, and the in-app product with the given package_name and sku doesn't exist, the in-app product will be created.",
              "type": "boolean"
            }
          },
          "httpMethod": "PUT",
          "description": "Updates an in-app product (i.e. a managed product or a subscriptions).",
          "request": {
            "$ref": "InAppProduct"
          },
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "InAppProduct"
          },
          "id": "androidpublisher.inappproducts.update"
        },
        "patch": {
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "parameters": {
            "packageName": {
              "type": "string",
              "location": "path",
              "description": "Package name of the app.",
              "required": true
            },
            "autoConvertMissingPrices": {
              "type": "boolean",
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
              "location": "query"
            },
            "sku": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Unique identifier for the in-app product."
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "id": "androidpublisher.inappproducts.patch",
          "response": {
            "$ref": "InAppProduct"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "PATCH",
          "request": {
            "$ref": "InAppProduct"
          },
          "description": "Patches an in-app product (i.e. a managed product or a subscriptions)."
        },
        "get": {
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "id": "androidpublisher.inappproducts.get",
          "httpMethod": "GET",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "response": {
            "$ref": "InAppProduct"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "description": "Gets an in-app product, which can be a managed product or a subscription.",
          "parameters": {
            "sku": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Unique identifier for the in-app product."
            },
            "packageName": {
              "description": "Package name of the app.",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        }
      }
    },
    "orders": {
      "methods": {
        "refund": {
          "path": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:refund",
          "parameterOrder": [
            "packageName",
            "orderId"
          ],
          "parameters": {
            "orderId": {
              "required": true,
              "description": "The order ID provided to the user when the subscription or in-app order was purchased.",
              "type": "string",
              "location": "path"
            },
            "packageName": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The package name of the application for which this subscription or in-app item was purchased (for example, 'com.some.thing')."
            },
            "revoke": {
              "description": "Whether to revoke the purchased item. If set to true, access to the subscription or in-app item will be terminated immediately. If the item is a recurring subscription, all future payments will also be terminated. Consumed in-app items need to be handled by developer's app. (optional).",
              "type": "boolean",
              "location": "query"
            }
          },
          "id": "androidpublisher.orders.refund",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:refund",
          "httpMethod": "POST",
          "description": "Refunds a user's subscription or in-app purchase order. Orders older than 1 year cannot be refunded."
        }
      }
    },
    "purchases": {
      "resources": {
        "voidedpurchases": {
          "methods": {
            "list": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/voidedpurchases",
              "httpMethod": "GET",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/voidedpurchases",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "VoidedPurchasesListResponse"
              },
              "description": "Lists the purchases that were canceled, refunded or charged-back.",
              "id": "androidpublisher.purchases.voidedpurchases.list",
              "parameters": {
                "packageName": {
                  "description": "The package name of the application for which voided purchases need to be returned (for example, 'com.some.thing').",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "startIndex": {
                  "format": "uint32",
                  "description": "Defines the index of the first element to return. This can only be used if indexed paging is enabled.",
                  "type": "integer",
                  "location": "query"
                },
                "type": {
[...]
