{
  "servicePath": "",
  "version_module": true,
  "title": "Android Management API",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "revision": "20220207",
  "canonicalName": "Android Management",
  "mtlsRootUrl": "https://androidmanagement.mtls.googleapis.com/",
  "version": "v1",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidmanagement": {
          "description": "Manage Android devices and apps for your customers"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "description": "The Android Management API provides remote enterprise management of Android devices and apps.",
  "ownerName": "Google",
  "id": "androidmanagement:v1",
  "rootUrl": "https://androidmanagement.googleapis.com/",
  "basePath": "",
  "resources": {
    "enterprises": {
      "methods": {
        "list": {
          "path": "v1/enterprises",
          "id": "androidmanagement.enterprises.list",
          "flatPath": "v1/enterprises",
          "scopes": [
            "https://www.googleapis.com/auth/androidmanagement"
          ],
          "response": {
            "$ref": "ListEnterprisesResponse"
          },
          "httpMethod": "GET",
          "description": "Lists EMM-managed enterprises. Only BASIC fields are returned.",
          "parameters": {
            "view": {
              "enumDescriptions": [
                "The API will default to the BASIC view for the List method.",
                "Includes name and enterprise_display_name fields."
              ],
              "type": "string",
              "description": "Specifies which Enterprise fields to return. This method only supports BASIC.",
              "location": "query",
              "enum": [
                "ENTERPRISE_VIEW_UNSPECIFIED",
                "BASIC"
              ]
            },
            "projectId": {
              "type": "string",
              "location": "query",
              "description": "Required. The Cloud project ID of the EMM managing the enterprises."
            },
            "pageSize": {
              "format": "int32",
              "location": "query",
              "description": "The requested page size. The actual page size may be fixed to a min or max value.",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "A token identifying a page of results returned by the server.",
              "location": "query"
            }
          },
          "parameterOrder": []
        },
        "get": {
          "httpMethod": "GET",
          "id": "androidmanagement.enterprises.get",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^enterprises/[^/]+$",
              "location": "path",
              "type": "string",
              "description": "The name of the enterprise in the form enterprises/{enterpriseId}.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidmanagement"
          ],
          "description": "Gets an enterprise.",
          "flatPath": "v1/enterprises/{enterprisesId}",
          "path": "v1/{+name}",
          "response": {
            "$ref": "Enterprise"
          }
        },
        "create": {
          "description": "Creates an enterprise. This is the last step in the enterprise signup flow.",
          "id": "androidmanagement.enterprises.create",
          "httpMethod": "POST",
          "response": {
            "$ref": "Enterprise"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/androidmanagement"
          ],
          "parameters": {
            "enterpriseToken": {
              "type": "string",
              "description": "The enterprise token appended to the callback URL. Only set this when creating a customer-managed enterprise.",
              "location": "query"
            },
            "projectId": {
              "description": "The ID of the Google Cloud Platform project which will own the enterprise.",
              "type": "string",
              "location": "query"
            },
            "agreementAccepted": {
              "description": "Whether the enterprise admin has seen and agreed to the managed Google Play Agreement (https://www.android.com/enterprise/terms/). Always set this to true when creating an EMM-managed enterprise. Do not create the enterprise until the admin has viewed and accepted the agreement.",
              "type": "boolean",
              "location": "query"
            },
            "signupUrlName": {
              "description": "The name of the SignupUrl used to sign up for the enterprise. Only set this when creating a customer-managed enterprise.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1/enterprises",
          "request": {
            "$ref": "Enterprise"
          },
          "flatPath": "v1/enterprises"
        },
        "delete": {
          "response": {
            "$ref": "Empty"
          },
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "description": "Deletes an enterprise. Only available for EMM-managed enterprises.",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/androidmanagement"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^enterprises/[^/]+$",
              "type": "string",
              "required": true,
              "description": "The name of the enterprise in the form enterprises/{enterpriseId}."
            }
          },
          "id": "androidmanagement.enterprises.delete",
          "flatPath": "v1/enterprises/{enterprisesId}"
        },
        "patch": {
          "response": {
            "$ref": "Enterprise"
          },
          "id": "androidmanagement.enterprises.patch",
          "request": {
            "$ref": "Enterprise"
          },
          "parameters": {
            "name": {
              "pattern": "^enterprises/[^/]+$",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The name of the enterprise in the form enterprises/{enterpriseId}."
            },
            "updateMask": {
              "location": "query",
              "description": "The field mask indicating the fields to update. If not set, all modifiable fields will be modified.",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "flatPath": "v1/enterprises/{enterprisesId}",
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "description": "Updates an enterprise.",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/androidmanagement"
          ]
        }
      },
      "resources": {
        "devices": {
          "methods": {
            "delete": {
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^enterprises/[^/]+/devices/[^/]+$",
                  "description": "The name of the device in the form enterprises/{enterpriseId}/devices/{deviceId}.",
                  "location": "path"
                },
                "wipeDataFlags": {
                  "description": "Optional flags that control the device wiping behavior.",
                  "repeated": true,
                  "enumDescriptions": [
                    "This value is ignored.",
                    "Preserve the factory reset protection data on the device.",
                    "Additionally wipe the device's external storage (such as SD cards)."
                  ],
                  "enum": [
                    "WIPE_DATA_FLAG_UNSPECIFIED",
                    "PRESERVE_RESET_PROTECTION_DATA",
                    "WIPE_EXTERNAL_STORAGE"
                  ],
                  "type": "string",
                  "location": "query"
                },
                "wipeReasonMessage": {
                  "description": "Optional. A short message displayed to the user before wiping the work profile on personal devices. This has no effect on company owned devices. The maximum message length is 200 characters.",
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}",
              "description": "Deletes a device. This operation wipes the device.",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "id": "androidmanagement.enterprises.devices.delete",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListDevicesResponse"
              },
              "description": "Lists devices for a given enterprise.",
              "id": "androidmanagement.enterprises.devices.list",
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "flatPath": "v1/enterprises/{enterprisesId}/devices",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A token identifying a page of results returned by the server.",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "description": "The name of the enterprise in the form enterprises/{enterpriseId}.",
                  "location": "path",
                  "pattern": "^enterprises/[^/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "The requested page size. The actual page size may be fixed to a min or max value."
                }
              },
              "path": "v1/{+parent}/devices",
              "httpMethod": "GET"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}",
              "response": {
                "$ref": "Device"
              },
              "path": "v1/{+name}",
              "description": "Gets a device.",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "id": "androidmanagement.enterprises.devices.get",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^enterprises/[^/]+/devices/[^/]+$",
                  "type": "string",
                  "description": "The name of the device in the form enterprises/{enterpriseId}/devices/{deviceId}.",
                  "location": "path"
                }
              }
            },
            "patch": {
              "id": "androidmanagement.enterprises.devices.patch",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Device"
              },
              "response": {
                "$ref": "Device"
              },
              "httpMethod": "PATCH",
              "description": "Updates a device.",
              "path": "v1/{+name}",
              "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "The name of the device in the form enterprises/{enterpriseId}/devices/{deviceId}.",
                  "required": true,
                  "pattern": "^enterprises/[^/]+/devices/[^/]+$"
                },
                "updateMask": {
                  "description": "The field mask indicating the fields to update. If not set, all modifiable fields will be modified.",
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ]
            },
            "issueCommand": {
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Command"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The name of the device in the form enterprises/{enterpriseId}/devices/{deviceId}.",
                  "pattern": "^enterprises/[^/]+/devices/[^/]+$"
                }
              },
              "path": "v1/{+name}:issueCommand",
              "id": "androidmanagement.enterprises.devices.issueCommand",
              "httpMethod": "POST",
              "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}:issueCommand",
              "response": {
                "$ref": "Operation"
              },
              "description": "Issues a command to a device. The Operation resource returned contains a Command in its metadata field. Use the get operation method to get the status of the command."
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "cancel": {
                  "id": "androidmanagement.enterprises.devices.operations.cancel",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:cancel",
                  "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}/operations/{operationsId}:cancel",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^enterprises/[^/]+/devices/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/androidmanagement"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns google.rpc.Code.UNIMPLEMENTED. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to Code.CANCELLED."
                },
                "get": {
                  "httpMethod": "GET",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/androidmanagement"
                  ],
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "androidmanagement.enterprises.devices.operations.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "required": true,
                      "pattern": "^enterprises/[^/]+/devices/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns google.rpc.Code.UNIMPLEMENTED.",
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^enterprises/[^/]+/devices/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/androidmanagement"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "androidmanagement.enterprises.devices.operations.delete",
                  "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "id": "androidmanagement.enterprises.devices.operations.list",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^enterprises/[^/]+/devices/[^/]+/operations$",
                      "description": "The name of the operation's parent resource.",
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The standard list page size."
                    },
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/androidmanagement"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns UNIMPLEMENTED.NOTE: the name binding allows API services to override the binding to use different resource name schemes, such as users/*/operations. To override the binding, API services can add a binding such as \"/v1/{name=users/*}/operations\" to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}/operations",
                  "httpMethod": "GET"
                }
              }
            }
          }
        },
        "enrollmentTokens": {
          "methods": {
            "create": {
              "flatPath": "v1/enterprises/{enterprisesId}/enrollmentTokens",
              "request": {
                "$ref": "EnrollmentToken"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "id": "androidmanagement.enterprises.enrollmentTokens.create",
              "path": "v1/{+parent}/enrollmentTokens",
              "description": "Creates an enrollment token for a given enterprise.",
              "response": {
                "$ref": "EnrollmentToken"
              },
              "parameters": {
                "parent": {
                  "pattern": "^enterprises/[^/]+$",
                  "description": "The name of the enterprise in the form enterprises/{enterpriseId}.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The name of the enrollment token in the form enterprises/{enterpriseId}/enrollmentTokens/{enrollmentTokenId}.",
                  "required": true,
                  "type": "string",
                  "pattern": "^enterprises/[^/]+/enrollmentTokens/[^/]+$"
                }
              },
              "flatPath": "v1/enterprises/{enterprisesId}/enrollmentTokens/{enrollmentTokensId}",
              "id": "androidmanagement.enterprises.enrollmentTokens.delete",
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes an enrollment token. This operation invalidates the token, preventing its future use.",
              "httpMethod": "DELETE"
            }
          }
        },
        "policies": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "response": {
                "$ref": "Policy"
              },
              "flatPath": "v1/enterprises/{enterprisesId}/policies/{policiesId}",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "id": "androidmanagement.enterprises.policies.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The name of the policy in the form enterprises/{enterpriseId}/policies/{policyId}.",
                  "pattern": "^enterprises/[^/]+/policies/[^/]+$"
                }
              },
              "description": "Gets a policy."
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/enterprises/{enterprisesId}/policies/{policiesId}",
              "description": "Deletes a policy. This operation is only permitted if no devices are currently referencing the policy.",
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "id": "androidmanagement.enterprises.policies.delete",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^enterprises/[^/]+/policies/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "The name of the policy in the form enterprises/{enterpriseId}/policies/{policyId}."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ]
            },
            "list": {
              "description": "Lists policies for a given enterprise.",
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A token identifying a page of results returned by the server.",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The requested page size. The actual page size may be fixed to a min or max value.",
                  "type": "integer",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "The name of the enterprise in the form enterprises/{enterpriseId}.",
                  "type": "string",
                  "pattern": "^enterprises/[^/]+$"
                }
              },
              "id": "androidmanagement.enterprises.policies.list",
              "response": {
                "$ref": "ListPoliciesResponse"
              },
              "path": "v1/{+parent}/policies",
              "flatPath": "v1/enterprises/{enterprisesId}/policies",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET"
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "flatPath": "v1/enterprises/{enterprisesId}/policies/{policiesId}",
              "description": "Updates or creates a policy.",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "id": "androidmanagement.enterprises.policies.patch",
              "request": {
                "$ref": "Policy"
              },
              "response": {
                "$ref": "Policy"
              },
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "The field mask indicating the fields to update. If not set, all modifiable fields will be modified."
                },
                "name": {
                  "required": true,
                  "description": "The name of the policy in the form enterprises/{enterpriseId}/policies/{policyId}.",
                  "type": "string",
                  "pattern": "^enterprises/[^/]+/policies/[^/]+$",
                  "location": "path"
                }
              }
            }
          }
        },
        "webTokens": {
          "methods": {
            "create": {
              "response": {
                "$ref": "WebToken"
              },
              "request": {
                "$ref": "WebToken"
              },
              "description": "Creates a web token to access an embeddable managed Google Play web UI for a given enterprise.",
              "id": "androidmanagement.enterprises.webTokens.create",
              "flatPath": "v1/enterprises/{enterprisesId}/webTokens",
              "parameters": {
                "parent": {
                  "pattern": "^enterprises/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "The name of the enterprise in the form enterprises/{enterpriseId}.",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "path": "v1/{+parent}/webTokens"
            }
          }
        },
        "applications": {
          "methods": {
            "get": {
              "parameters": {
                "languageCode": {
                  "location": "query",
                  "type": "string",
                  "description": "The preferred language for localized application info, as a BCP47 tag (e.g. \"en-US\", \"de\"). If not specified the default language of the application will be used."
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^enterprises/[^/]+/applications/[^/]+$",
                  "description": "The name of the application in the form enterprises/{enterpriseId}/applications/{package_name}.",
                  "type": "string"
                }
              },
              "id": "androidmanagement.enterprises.applications.get",
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "description": "Gets info about an application.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/enterprises/{enterprisesId}/applications/{applicationsId}",
              "path": "v1/{+name}",
              "response": {
                "$ref": "Application"
              }
            }
          }
        },
        "webApps": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a web app.",
              "response": {
                "$ref": "WebApp"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The name of the web app in the form enterprises/{enterpriseId}/webApp/{packageName}.",
                  "pattern": "^enterprises/[^/]+/webApps/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "id": "androidmanagement.enterprises.webApps.get",
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "flatPath": "v1/enterprises/{enterprisesId}/webApps/{webAppsId}",
              "httpMethod": "GET"
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "The name of the web app in the form enterprises/{enterpriseId}/webApps/{packageName}.",
                  "pattern": "^enterprises/[^/]+/webApps/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/enterprises/{enterprisesId}/webApps/{webAppsId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "id": "androidmanagement.enterprises.webApps.delete",
              "description": "Deletes a web app."
            },
            "create": {
              "request": {
                "$ref": "WebApp"
              },
              "flatPath": "v1/enterprises/{enterprisesId}/webApps",
              "id": "androidmanagement.enterprises.webApps.create",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/webApps",
              "description": "Creates a web app.",
              "parameters": {
                "parent": {
                  "pattern": "^enterprises/[^/]+$",
                  "location": "path",
                  "description": "The name of the enterprise in the form enterprises/{enterpriseId}.",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "response": {
                "$ref": "WebApp"
              },
              "httpMethod": "POST"
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "The requested page size. This is a hint and the actual page size in the response may be different."
                },
                "parent": {
                  "description": "The name of the enterprise in the form enterprises/{enterpriseId}.",
                  "type": "string",
                  "pattern": "^enterprises/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying a page of results returned by the server."
                }
              },
              "flatPath": "v1/enterprises/{enterprisesId}/webApps",
              "response": {
                "$ref": "ListWebAppsResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "id": "androidmanagement.enterprises.webApps.list",
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "path": "v1/{+parent}/webApps",
              "description": "Lists web apps for a given enterprise."
            },
            "patch": {
              "httpMethod": "PATCH",
              "request": {
                "$ref": "WebApp"
              },
              "response": {
                "$ref": "WebApp"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "description": "Updates a web app.",
              "parameters": {
                "name": {
                  "pattern": "^enterprises/[^/]+/webApps/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The name of the web app in the form enterprises/{enterpriseId}/webApps/{packageName}."
                },
                "updateMask": {
                  "type": "string",
                  "description": "The field mask indicating the fields to update. If not set, all modifiable fields will be modified.",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "id": "androidmanagement.enterprises.webApps.patch",
              "flatPath": "v1/enterprises/{enterprisesId}/webApps/{webAppsId}"
            }
          }
        }
      }
    },
    "signupUrls": {
      "methods": {
        "create": {
          "path": "v1/signupUrls",
          "scopes": [
            "https://www.googleapis.com/auth/androidmanagement"
          ],
          "parameters": {
            "callbackUrl": {
              "description": "The callback URL that the admin will be redirected to after successfully creating an enterprise. Before redirecting there the system will add a query parameter to this URL named enterpriseToken which will contain an opaque token to be used for the create enterprise request. The URL will be parsed then reformatted in order to add the enterpriseToken parameter, so there may be some minor formatting changes.",
              "type": "string",
              "location": "query"
            },
            "projectId": {
              "location": "query",
              "description": "The ID of the Google Cloud Platform project which will own the enterprise.",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "flatPath": "v1/signupUrls",
          "response": {
            "$ref": "SignupUrl"
          },
          "description": "Creates an enterprise signup URL.",
          "id": "androidmanagement.signupUrls.create",
          "parameterOrder": []
        }
      }
    }
  },
  "batchPath": "batch",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    }
  },
  "name": "androidmanagement",
  "schemas": {
    "Device": {
      "id": "Device",
      "properties": {
        "hardwareStatusSamples": {
          "items": {
            "$ref": "HardwareStatus"
          },
          "type": "array",
          "description": "Hardware status samples in chronological order. This information is only available if hardwareStatusEnabled is true in the device's policy."
        },
        "systemProperties": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map of selected system properties name and value related to the device. This information is only available if systemPropertiesEnabled is true in the device's policy.",
          "type": "object"
        },
        "userName": {
          "description": "The resource name of the user that owns this device in the form enterprises/{enterpriseId}/users/{userId}.",
          "type": "string"
        },
        "managementMode": {
          "type": "string",
          "description": "The type of management mode Android Device Policy takes on the device. This influences which policy settings are supported.",
          "enum": [
            "MANAGEMENT_MODE_UNSPECIFIED",
            "DEVICE_OWNER",
            "PROFILE_OWNER"
          ],
          "enumDescriptions": [
            "This value is disallowed.",
            "Device owner. Android Device Policy has full control over the device.",
            "Profile owner. Android Device Policy has control over a managed profile on the device."
          ]
        },
        "ownership": {
          "enum": [
            "OWNERSHIP_UNSPECIFIED",
            "COMPANY_OWNED",
            "PERSONALLY_OWNED"
          ],
          "description": "Ownership of the managed device.",
          "type": "string",
          "enumDescriptions": [
            "Ownership is unspecified.",
            "Device is company-owned.",
            "Device is personally-owned."
          ]
        },
        "apiLevel": {
          "description": "The API level of the Android platform version running on the device.",
          "type": "integer",
          "format": "int32"
        },
        "softwareInfo": {
          "$ref": "SoftwareInfo",
          "description": "Detailed information about the device software. This information is only available if softwareInfoEnabled is true in the device's policy."
        },
        "securityPosture": {
          "description": "Device's security posture value that reflects how secure the device is.",
          "$ref": "SecurityPosture"
        },
        "appliedState": {
          "description": "The state currently applied to the device.",
          "type": "string",
          "enum": [
            "DEVICE_STATE_UNSPECIFIED",
            "ACTIVE",
            "DISABLED",
            "DELETED",
            "PROVISIONING"
          ],
          "enumDescriptions": [
            "This value is disallowed.",
            "The device is active.",
            "The device is disabled.",
            "The device was deleted. This state is never returned by an API call, but is used in the final status report when the device acknowledges the deletion. If the device is deleted via the API call, this state is published to Pub/Sub. If the user deletes the work profile or resets the device, the device state will remain unknown to the server.",
            "The device is being provisioned. Newly enrolled devices are in this state until they have a policy applied."
          ]
        },
        "displays": {
          "items": {
            "$ref": "Display"
          },
          "description": "Detailed information about displays on the device. This information is only available if displayInfoEnabled is true in the device's policy.",
          "type": "array"
        },
        "hardwareInfo": {
          "description": "Detailed information about the device hardware.",
          "$ref": "HardwareInfo"
        },
        "lastPolicySyncTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The last time the device fetched its policy."
        },
        "deviceSettings": {
          "$ref": "DeviceSettings",
          "description": "Device settings information. This information is only available if deviceSettingsEnabled is true in the device's policy."
        },
        "user": {
          "description": "The user who owns the device.",
          "$ref": "User"
        },
        "previousDeviceNames": {
          "type": "array",
          "description": "If the same physical device has been enrolled multiple times, this field contains its previous device names. The serial number is used as the unique identifier to determine if the same physical device has enrolled previously. The names are in chronological order.",
          "items": {
            "type": "string"
          }
        },
        "enrollmentTokenData": {
          "type": "string",
          "description": "If the device was enrolled with an enrollment token with additional data provided, this field contains that data."
        },
        "commonCriteriaModeInfo": {
          "$ref": "CommonCriteriaModeInfo",
          "description": "Information about Common Criteria Mode—security standards defined in the Common Criteria for Information Technology Security Evaluation (https://www.commoncriteriaportal.org/) (CC).This information is only available if statusReportingSettings.commonCriteriaModeEnabled is true in the device's policy."
        },
        "state": {
          "enum": [
            "DEVICE_STATE_UNSPECIFIED",
            "ACTIVE",
            "DISABLED",
            "DELETED",
            "PROVISIONING"
          ],
          "description": "The state to be applied to the device. This field can be modified by a patch request. Note that when calling enterprises.devices.patch, ACTIVE and DISABLED are the only allowable values. To enter the device into a DELETED state, call enterprises.devices.delete.",
          "type": "string",
          "enumDescriptions": [
            "This value is disallowed.",
            "The device is active.",
            "The device is disabled.",
            "The device was deleted. This state is never returned by an API call, but is used in the final status report when the device acknowledges the deletion. If the device is deleted via the API call, this state is published to Pub/Sub. If the user deletes the work profile or resets the device, the device state will remain unknown to the server.",
            "The device is being provisioned. Newly enrolled devices are in this state until they have a policy applied."
          ]
        },
        "name": {
          "type": "string",
          "description": "The name of the device in the form enterprises/{enterpriseId}/devices/{deviceId}."
        },
        "memoryEvents": {
          "items": {
            "$ref": "MemoryEvent"
          },
          "description": "Events related to memory and storage measurements in chronological order. This information is only available if memoryInfoEnabled is true in the device's policy.",
          "type": "array"
        },
        "nonComplianceDetails": {
          "type": "array",
          "description": "Details about policy settings that the device is not compliant with.",
          "items": {
            "$ref": "NonComplianceDetail"
          }
        },
        "policyCompliant": {
          "type": "boolean",
          "description": "Whether the device is compliant with its policy."
        },
        "powerManagementEvents": {
          "description": "Power management events on the device in chronological order. This information is only available if powerManagementEventsEnabled is true in the device's policy.",
          "items": {
            "$ref": "PowerManagementEvent"
          },
          "type": "array"
        },
        "networkInfo": {
          "description": "Device network information. This information is only available if networkInfoEnabled is true in the device's policy.",
          "$ref": "NetworkInfo"
        },
        "lastStatusReportTime": {
          "type": "string",
          "description": "The last time the device sent a status report.",
          "format": "google-datetime"
        },
        "appliedPolicyVersion": {
          "format": "int64",
          "description": "The version of the policy currently applied to the device.",
          "type": "string"
        },
        "enrollmentTokenName": {
          "type": "string",
          "description": "If the device was enrolled with an enrollment token, this field contains the name of the token."
        },
        "appliedPolicyName": {
          "description": "The name of the policy currently applied to the device.",
          "type": "string"
        },
        "appliedPasswordPolicies": {
          "type": "array",
          "description": "The password requirements currently applied to the device. The applied requirements may be slightly different from those specified in passwordPolicies in some cases. fieldPath is set based on passwordPolicies.",
          "items": {
            "$ref": "PasswordRequirements"
          }
        },
        "enrollmentTime": {
          "type": "string",
          "description": "The time of device enrollment.",
          "format": "google-datetime"
        },
        "lastPolicyComplianceReportTime": {
          "description": "Deprecated.",
          "format": "google-datetime",
          "type": "string"
        },
        "policyName": {
          "description": "The name of the policy applied to the device, in the form enterprises/{enterpriseId}/policies/{policyId}. If not specified, the policy_name for the device's user is applied. This field can be modified by a patch request. You can specify only the policyId when calling enterprises.devices.patch, as long as the policyId doesn’t contain any slashes. The rest of the policy name is inferred.",
          "type": "string"
        },
        "memoryInfo": {
          "$ref": "MemoryInfo",
          "description": "Memory information: contains information about device memory and storage."
        },
        "applicationReports": {
          "description": "Reports for apps installed on the device. This information is only available when application_reports_enabled is true in the device's policy.",
          "items": {
            "$ref": "ApplicationReport"
          },
          "type": "array"
        },
        "disabledReason": {
          "description": "If the device state is DISABLED, an optional message that is displayed on the device indicating the reason the device is disabled. This field can be modified by a patch request.",
          "$ref": "UserFacingMessage"
        }
      },
      "description": "A device owned by an enterprise. Unless otherwise noted, all fields are read-only and can't be modified by enterprises.devices.patch.",
      "type": "object"
    },
    "Display": {
      "description": "Device display information.",
      "type": "object",
      "properties": {
        "width": {
          "description": "Display width in pixels.",
          "type": "integer",
          "format": "int32"
        },
        "state": {
          "description": "State of the display.",
          "enum": [
            "DISPLAY_STATE_UNSPECIFIED",
            "OFF",
            "ON",
            "DOZE",
            "SUSPENDED"
          ],
          "enumDescriptions": [
            "This value is disallowed.",
            "Display is off.",
            "Display is on.",
            "Display is dozing in a low power state",
            "Display is dozing in a suspended low power state."
          ],
          "type": "string"
        },
        "displayId": {
          "type": "integer",
          "format": "int32",
          "description": "Unique display id."
        },
        "name": {
          "type": "string",
          "description": "Name of the display."
        },
        "refreshRate": {
          "description": "Refresh rate of the display in frames per second.",
          "format": "int32",
          "type": "integer"
        },
        "density": {
          "format": "int32",
          "type": "integer",
          "description": "Display density expressed as dots-per-inch."
        },
        "height": {
          "format": "int32",
          "description": "Display height in pixels.",
          "type": "integer"
        }
      },
      "id": "Display"
    },
    "MemoryInfo": {
      "id": "MemoryInfo",
      "type": "object",
      "properties": {
        "totalRam": {
          "type": "string",
          "format": "int64",
          "description": "Total RAM on device in bytes."
        },
        "totalInternalStorage": {
          "format": "int64",
          "description": "Total internal storage on device in bytes.",
          "type": "string"
        }
      },
      "description": "Information about device memory and storage."
    },
    "ExternalData": {
      "description": "Data hosted at an external location. The data is to be downloaded by Android Device Policy and verified against the hash.",
      "type": "object",
      "properties": {
        "sha256Hash": {
          "type": "string",
          "description": "The base-64 encoded SHA-256 hash of the content hosted at url. If the content doesn't match this hash, Android Device Policy won't use the data."
        },
        "url": {
          "type": "string",
          "description": "The absolute URL to the data, which must use either the http or https scheme. Android Device Policy doesn't provide any credentials in the GET request, so the URL must be publicly accessible. Including a long, random component in the URL may be used to prevent attackers from discovering the URL."
        }
      },
      "id": "ExternalData"
    },
    "StatusReportingSettings": {
      "description": "Settings controlling the behavior of status reports.",
      "properties": {
        "deviceSettingsEnabled": {
          "type": "boolean",
          "description": "Whether device settings reporting is enabled."
        },
        "systemPropertiesEnabled": {
          "description": "Whether system properties reporting is enabled.",
          "type": "boolean"
        },
        "applicationReportingSettings": {
          "$ref": "ApplicationReportingSettings",
          "description": "Application reporting settings. Only applicable if application_reports_enabled is true."
        },
        "displayInfoEnabled": {
          "type": "boolean",
          "description": "Whether displays reporting is enabled. Report data is not available for personally owned devices with work profiles."
        },
        "hardwareStatusEnabled": {
          "type": "boolean",
          "description": "Whether hardware status reporting is enabled. Report data is not available for personally owned devices with work profiles."
        },
        "applicationReportsEnabled": {
          "description": "Whether app reports are enabled.",
          "type": "boolean"
        },
        "commonCriteriaModeEnabled": {
          "description": "Whether Common Criteria Mode reporting is enabled.",
          "type": "boolean"
        },
        "powerManagementEventsEnabled": {
          "description": "Whether power management event reporting is enabled. Report data is not available for personally owned devices with work profiles.",
          "type": "boolean"
        },
        "memoryInfoEnabled": {
          "description": "Whether memory event reporting is enabled.",
          "type": "boolean"
        },
        "networkInfoEnabled": {
          "description": "Whether network info reporting is enabled.",
          "type": "boolean"
        },
        "softwareInfoEnabled": {
          "type": "boolean",
          "description": "Whether software info reporting is enabled."
        }
      },
      "id": "StatusReportingSettings",
      "type": "object"
    },
    "ApplicationPolicy": {
      "id": "ApplicationPolicy",
      "type": "object",
      "description": "Policy for an individual app.",
      "properties": {
        "connectedWorkAndPersonalApp": {
          "description": "Controls whether the app can communicate with itself across a device’s work and personal profiles, subject to user consent.",
          "enumDescriptions": [
            "Unspecified. Defaults to CONNECTED_WORK_AND_PERSONAL_APPS_DISALLOWED.",
            "Default. Prevents the app from communicating cross-profile.",
            "Allows the app to communicate across profiles after receiving user consent."
          ],
          "type": "string",
          "enum": [
            "CONNECTED_WORK_AND_PERSONAL_APP_UNSPECIFIED",
            "CONNECTED_WORK_AND_PERSONAL_APP_DISALLOWED",
            "CONNECTED_WORK_AND_PERSONAL_APP_ALLOWED"
          ]
        },
        "accessibleTrackIds": {
          "description": "List of the app’s track IDs that a device belonging to the enterprise can access. If the list contains multiple track IDs, devices receive the latest version among all accessible tracks. If the list contains no track IDs, devices only have access to the app’s production track. More details about each track are available in AppTrackInfo.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "lockTaskAllowed": {
          "type": "boolean",
          "description": "Whether the app is allowed to lock itself in full-screen mode. DEPRECATED. Use InstallType KIOSK or kioskCustomLauncherEnabled to to configure a dedicated device."
        },
        "managedConfiguration": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Managed configuration applied to the app. The format for the configuration is dictated by the ManagedProperty values supported by the app. Each field name in the managed configuration must match the key field of the ManagedProperty. The field value must be compatible with the type of the ManagedProperty: *type* *JSON value* BOOL true or false STRING string INTEGER number CHOICE string MULTISELECT array of strings HIDDEN string BUNDLE_ARRAY array of objects ",
          "type": "object"
        },
        "managedConfigurationTemplate": {
          "description": "The managed configurations template for the app, saved from the managed configurations iframe. This field is ignored if managed_configuration is set.",
          "$ref": "ManagedConfigurationTemplate"
        },
        "permissionGrants": {
          "type": "array",
          "description": "Explicit permission grants or denials for the app. These values override the default_permission_policy and permission_grants which apply to all apps.",
          "items": {
            "$ref": "PermissionGrant"
          }
        },
        "delegatedScopes": {
          "description": "The scopes delegated to the app from Android Device Policy.",
          "items": {
            "enum": [
              "DELEGATED_SCOPE_UNSPECIFIED",
              "CERT_INSTALL",
              "MANAGED_CONFIGURATIONS",
              "BLOCK_UNINSTALL",
              "PERMISSION_GRANT",
              "PACKAGE_ACCESS",
              "ENABLE_SYSTEM_APP"
            ],
            "type": "string",
            "enumDescriptions": [
              "No delegation scope specified.",
              "Grants access to certificate installation and management.",
              "Grants access to managed configurations management.",
              "Grants access to blocking uninstallation.",
              "Grants access to permission policy and permission grant state.",
              "Grants access to package access state.",
              "Grants access for enabling system apps."
            ]
          },
          "type": "array"
        },
        "packageName": {
          "type": "string",
          "description": "The package name of the app. For example, com.google.android.youtube for the YouTube app."
        },
        "defaultPermissionPolicy": {
          "type": "string",
          "enumDescriptions": [
            "Policy not specified. If no policy is specified for a permission at any level, then the PROMPT behavior is used by default.",
            "Prompt the user to grant a permission.",
            "Automatically grant a permission.",
            "Automatically deny a permission."
          ],
          "enum": [
            "PERMISSION_POLICY_UNSPECIFIED",
            "PROMPT",
            "GRANT",
            "DENY"
          ],
          "description": "The default policy for all permissions requested by the app. If specified, this overrides the policy-level default_permission_policy which applies to all apps. It does not override the permission_grants which applies to all apps."
        },
        "disabled": {
          "description": "Whether the app is disabled. When disabled, the app data is still preserved.",
          "type": "boolean"
        },
        "minimumVersionCode": {
          "type": "integer",
          "description": "The minimum version of the app that runs on the device. If set, the device attempts to update the app to at least this version code. If the app is not up-to-date, the device will contain a NonComplianceDetail with non_compliance_reason set to APP_NOT_UPDATED. The app must already be published to Google Play with a version code greater than or equal to this value. At most 20 apps may specify a minimum version code per policy.",
          "format": "int32"
        },
        "autoUpdateMode": {
          "enumDescriptions": [
            "Unspecified. Defaults to AUTO_UPDATE_DEFAULT.",
            "The app is automatically updated with low priority to minimize the impact on the user.The app is updated when all of the following constraints are met: The device is not actively used. The device is connected to an unmetered network. The device is charging.The device is notified about a new update within 24 hours after it is published by the developer, after which the app is updated the next time the constraints above are met.",
            "The app is not automatically updated for a maximum of 90 days after the app becomes out of date.90 days after the app becomes out of date, the latest available version is installed automatically with low priority (see AUTO_UPDATE_DEFAULT). After the app is updated it is not automatically updated again until 90 days after it becomes out of date again.The user can still manually update the app from the Play Store at any time.",
            "The app is updated as soon as possible. No constraints are applied.The device is notified immediately about a new update after it becomes available."
          ],
          "enum": [
            "AUTO_UPDATE_MODE_UNSPECIFIED",
            "AUTO_UPDATE_DEFAULT",
            "AUTO_UPDATE_POSTPONED",
            "AUTO_UPDATE_HIGH_PRIORITY"
          ],
          "description": "Controls the auto-update mode for the app.",
          "type": "string"
        },
        "extensionConfig": {
          "$ref": "ExtensionConfig",
          "description": "Configuration to enable this app as an extension app, with the capability of interacting with Android Device Policy offline.This field can be set for at most one app."
        },
        "installType": {
          "description": "The type of installation to perform.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Defaults to AVAILABLE.",
            "The app is automatically installed and can be removed by the user.",
            "The app is automatically installed and can't be removed by the user.",
            "The app is blocked and can't be installed. If the app was installed under a previous policy, it will be uninstalled.",
            "The app is available to install.",
            "The app is automatically installed and can't be removed by the user and will prevent setup from completion until installation is complete.",
            "The app is automatically installed in kiosk mode: it's set as the preferred home intent and whitelisted for lock task mode. Device setup won't complete until the app is installed. After installation, users won't be able to remove the app. You can only set this installType for one app per policy. When this is present in the policy, status bar will be automatically disabled."
          ],
          "enum": [
            "INSTALL_TYPE_UNSPECIFIED",
            "PREINSTALLED",
            "FORCE_INSTALLED",
            "BLOCKED",
            "AVAILABLE",
            "REQUIRED_FOR_SETUP",
            "KIOSK"
          ]
        }
      }
    },
    "Operation": {
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}."
        },
        "response": {
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation"
    },
    "SignupUrl": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the resource. Use this value in the signupUrl field when calling enterprises.create to complete the enterprise signup flow."
        },
        "url": {
          "description": "A URL where an enterprise admin can register their enterprise. The page can't be rendered in an iframe.",
          "type": "string"
        }
      },
      "id": "SignupUrl",
      "description": "An enterprise signup URL."
    },
    "KioskCustomization": {
      "properties": {
        "deviceSettings": {
          "type": "string",
          "description": "Specifies whether the Settings app is allowed in kiosk mode.",
          "enumDescriptions": [
            "Unspecified, defaults to SETTINGS_ACCESS_ALLOWED.",
            "Access to the Settings app is allowed in kiosk mode.",
            "Access to the Settings app is not allowed in kiosk mode."
          ],
          "enum": [
            "DEVICE_SETTINGS_UNSPECIFIED",
            "SETTINGS_ACCESS_ALLOWED",
            "SETTINGS_ACCESS_BLOCKED"
          ]
        },
        "powerButtonActions": {
          "type": "string",
          "enum": [
            "POWER_BUTTON_ACTIONS_UNSPECIFIED",
            "POWER_BUTTON_AVAILABLE",
            "POWER_BUTTON_BLOCKED"
          ],
          "enumDescriptions": [
            "Unspecified, defaults to POWER_BUTTON_AVAILABLE.",
            "The power menu (e.g. Power off, Restart) is shown when a user long-presses the Power button of a device in kiosk mode.",
            "The power menu (e.g. Power off, Restart) is not shown when a user long-presses the Power button of a device in kiosk mode. Note: this may prevent users from turning off the device."
          ],
          "description": "Sets the behavior of a device in kiosk mode when a user presses and holds (long-presses) the Power button."
        },
        "statusBar": {
          "description": "Specifies whether system info and notifications are disabled in kiosk mode.",
          "enum": [
            "STATUS_BAR_UNSPECIFIED",
            "NOTIFICATIONS_AND_SYSTEM_INFO_ENABLED",
            "NOTIFICATIONS_AND_SYSTEM_INFO_DISABLED",
            "SYSTEM_INFO_ONLY"
          ],
          "enumDescriptions": [
            "Unspecified, defaults to INFO_AND_NOTIFICATIONS_DISABLED.",
            "System info and notifications are shown on the status bar in kiosk mode.Note: For this policy to take effect, the device's home button must be enabled using kioskCustomization.systemNavigation.",
            "System info and notifications are disabled in kiosk mode.",
            "Only system info is shown on the status bar."
          ],
          "type": "string"
        },
        "systemNavigation": {
          "enum": [
            "SYSTEM_NAVIGATION_UNSPECIFIED",
            "NAVIGATION_ENABLED",
            "NAVIGATION_DISABLED",
            "HOME_BUTTON_ONLY"
          ],
          "description": "Specifies which navigation features are enabled (e.g. Home, Overview buttons) in kiosk mode.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified, defaults to NAVIGATION_DISABLED.",
            "Home and overview buttons are enabled.",
            "The home and Overview buttons are not accessible.",
            "Only the home button is enabled."
          ]
        },
        "systemErrorWarnings": {
          "enum": [
            "SYSTEM_ERROR_WARNINGS_UNSPECIFIED",
            "ERROR_AND_WARNINGS_ENABLED",
            "ERROR_AND_WARNINGS_MUTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified, defaults to ERROR_AND_WARNINGS_MUTED.",
            "All system error dialogs such as crash and app not responding (ANR) are displayed.",
            "All system error dialogs, such as crash and app not responding (ANR) are blocked. When blocked, the system force-stops the app as if the user closes the app from the UI."
          ],
          "description": "Specifies whether system error dialogs for crashed or unresponsive apps are blocked in kiosk mode. When blocked, the system will force-stop the app as if the user chooses the \"close app\" option on the UI."
        }
      },
      "id": "KioskCustomization",
      "description": "Settings controlling the behavior of a device in kiosk mode. To enable kiosk mode, set kioskCustomLauncherEnabled to true or specify an app in the policy with installType KIOSK.",
      "type": "object"
    },
    "SigninDetail": {
      "description": "A resource containing sign in details for an enterprise.",
      "id": "SigninDetail",
      "properties": {
        "qrCode": {
          "description": "A JSON string whose UTF-8 representation can be used to generate a QR code to enroll a device with this enrollment token. To enroll a device using NFC, the NFC record must contain a serialized java.util.Properties representation of the properties in the JSON. This is a read-only field generated by the server.",
          "type": "string"
        },
        "allowPersonalUsage": {
          "description": "Controls whether personal usage is allowed on a device provisioned with this enrollment token.For company-owned devices: Enabling personal usage allows the user to set up a work profile on the device. Disabling personal usage requires the user provision the device as a fully managed device.For personally-owned devices: Enabling personal usage allows the user to set up a work profile on the device. Disabling personal usage will prevent the device from provisioning. Personal usage cannot be disabled on personally-owned device.",
          "enum": [
            "ALLOW_PERSONAL_USAGE_UNSPECIFIED",
            "PERSONAL_USAGE_ALLOWED",
            "PERSONAL_USAGE_DISALLOWED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Personal usage restriction is not specified",
            "Personal usage is allowed",
            "Personal usage is disallowed"
          ]
        },
        "signinUrl": {
          "description": "Sign-in URL for authentication when device is provisioned with a sign-in enrollment token. The sign-in endpoint should finish authentication flow with a URL in the form of https://enterprise.google.com/android/enroll?et= for a successful login, or https://enterprise.google.com/android/enroll/invalid for a failed login.",
          "type": "string"
        },
        "signinEnrollmentToken": {
          "description": "An enterprise wide enrollment token used to trigger custom sign-in flow. This is a read-only field generated by the server.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ComplianceRule": {
      "properties": {
        "nonComplianceDetailCondition": {
          "$ref": "NonComplianceDetailCondition",
          "description": "A condition which is satisfied if there exists any matching NonComplianceDetail for the device."
        },
        "apiLevelCondition": {
          "$ref": "ApiLevelCondition",
          "description": "A condition which is satisfied if the Android Framework API level on the device doesn't meet a minimum requirement."
        },
        "packageNamesToDisable": {
          "type": "array",
          "description": "If set, the rule includes a mitigating action to disable apps specified in the list, but app data is preserved.",
          "items": {
            "type": "string"
          }
        },
        "disableApps": {
          "description": "If set to true, the rule includes a mitigating action to disable apps so that the device is effectively disabled, but app data is preserved. If the device is running an app in locked task mode, the app will be closed and a UI showing the reason for non-compliance will be displayed.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "ComplianceRule",
      "description": "A rule declaring which mitigating actions to take when a device is not compliant with its policy. For every rule, there is always an implicit mitigating action to set policy_compliant to false for the Device resource, and display a message on the device indicating that the device is not compliant with its policy. Other mitigating actions may optionally be taken as well, depending on the field values in the rule."
    },
    "Date": {
      "properties": {
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: A full date, with non-zero year, month, and day values A month and day, with a zero year (e.g., an anniversary) A year on its own, with a zero month and a zero day A year and month, with a zero day (e.g., a credit card expiration date)Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date",
      "type": "object"
    },
    "ContentProviderEndpoint": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "This feature is not generally available."
        },
        "signingCertsSha256": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. This feature is not generally available."
        },
        "packageName": {
          "description": "This feature is not generally available.",
          "type": "string"
        }
      },
      "id": "ContentProviderEndpoint",
      "description": "This feature is not generally available.",
      "type": "object"
    },
    "PersonalApplicationPolicy": {
      "description": "Policies for apps in the personal profile of a company-owned device with a work profile.",
      "id": "PersonalApplicationPolicy",
      "type": "object",
      "properties": {
        "packageName": {
          "type": "string",
          "description": "The package name of the application."
        },
        "installType": {
          "description": "The type of installation to perform.",
          "enum": [
            "INSTALL_TYPE_UNSPECIFIED",
            "BLOCKED",
            "AVAILABLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Defaults to AVAILABLE.",
            "The app is blocked and can't be installed in the personal profile.",
            "The app is available to install in the personal profile."
          ]
        }
      }
    },
    "WebToken": {
      "type": "object",
      "description": "A web token used to access the managed Google Play iframe.",
      "id": "WebToken",
      "properties": {
        "permissions": {
          "items": {
            "enumDescriptions": [
              "This value is ignored.",
              "The permission to approve apps for the enterprise."
            ],
            "type": "string",
            "enum": [
              "WEB_TOKEN_PERMISSION_UNSPECIFIED",
              "APPROVE_APPS"
            ]
          },
          "type": "array",
          "description": "Permissions available to an admin in the embedded UI. An admin must have all of these permissions in order to view the UI. This field is deprecated."
        },
        "name": {
          "description": "The name of the web token, which is generated by the server during creation in the form enterprises/{enterpriseId}/webTokens/{webTokenId}.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The token value which is used in the hosting page to generate the iframe with the embedded UI. This is a read-only field generated by the server."
        },
        "parentFrameUrl": {
          "description": "The URL of the parent frame hosting the iframe with the embedded UI. To prevent XSS, the iframe may not be hosted at other URLs. The URL must use the https scheme.",
          "type": "string"
        },
        "enabledFeatures": {
          "type": "array",
          "description": "The features to enable. Use this if you want to control exactly which feature(s) will be activated; leave empty to allow all features.Restrictions / things to note: - If no features are listed here, all features are enabled — this is the default behavior where you give access to all features to your admins. - This must not contain any FEATURE_UNSPECIFIED values. - Repeated values are ignored ",
          "items": {
            "enumDescriptions": [
              "Unspecified feature.",
              "The Managed Play search apps page (https://developers.google.com/android/management/apps#search-apps).",
              "The private apps page (https://developers.google.com/android/management/apps#private-apps).",
              "The Web Apps page (https://developers.google.com/android/management/apps#web-apps).",
              "The organize apps page (https://developers.google.com/android/management/apps#organize-apps).",
              "The managed configurations page (https://developers.google.com/android/management/managed-configurations-iframe).",
              "The zero-touch iframe (https://developers.google.com/android/management/zero-touch-iframe)."
            ],
            "type": "string",
            "enum": [
              "FEATURE_UNSPECIFIED",
              "PLAY_SEARCH",
              "PRIVATE_APPS",
              "WEB_APPS",
              "STORE_BUILDER",
              "MANAGED_CONFIGURATIONS",
              "ZERO_TOUCH_CUSTOMER_MANAGEMENT"
            ]
          }
        }
      }
    },
    "ListDevicesResponse": {
      "id": "ListDevicesResponse",
      "properties": {
        "devices": {
          "items": {
            "$ref": "Device"
          },
          "description": "The list of devices.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "If there are more results, a token to retrieve next page of results.",
          "type": "string"
        }
      },
      "description": "Response to a request to list devices for a given enterprise.",
      "type": "object"
    },
    "PackageNameList": {
      "id": "PackageNameList",
      "description": "A list of package names.",
      "properties": {
        "packageNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of package names."
        }
      },
      "type": "object"
    },
    "AlwaysOnVpnPackage": {
      "properties": {
        "lockdownEnabled": {
          "type": "boolean",
          "description": "Disallows networking when the VPN is not connected."
        },
        "packageName": {
          "type": "string",
          "description": "The package name of the VPN app."
        }
      },
      "type": "object",
      "id": "AlwaysOnVpnPackage",
      "description": "Configuration for an always-on VPN connection."
    },
    "ApplicationPermission": {
      "description": "A permission required by the app.",
      "properties": {
        "permissionId": {
          "description": "An opaque string uniquely identifying the permission. Not localized.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A longer description of the permission, providing more detail on what it affects. Localized."
        },
        "name": {
          "type": "string",
          "description": "The name of the permission. Localized."
        }
      },
      "id": "ApplicationPermission",
      "type": "object"
    },
    "PowerManagementEvent": {
      "description": "A power management event.",
      "id": "PowerManagementEvent",
      "type": "object",
      "properties": {
        "batteryLevel": {
          "type": "number",
          "description": "For BATTERY_LEVEL_COLLECTED events, the battery level as a percentage.",
          "format": "float"
        },
        "eventType": {
          "enumDescriptions": [
            "Unspecified. No events have this type.",
            "Battery level was measured.",
            "The device started charging.",
            "The device stopped charging.",
            "The device entered low-power mode.",
            "The device exited low-power mode.",
            "The device booted.",
            "The device shut down."
          ],
          "enum": [
            "POWER_MANAGEMENT_EVENT_TYPE_UNSPECIFIED",
            "BATTERY_LEVEL_COLLECTED",
            "POWER_CONNECTED",
            "POWER_DISCONNECTED",
            "BATTERY_LOW",
            "BATTERY_OKAY",
            "BOOT_COMPLETED",
            "SHUTDOWN"
          ],
          "type": "string",
          "description": "Event type."
        },
        "createTime": {
          "description": "The creation time of the event.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "SystemUpdate": {
      "id": "SystemUpdate",
      "properties": {
        "startMinutes": {
          "description": "If the type is WINDOWED, the start of the maintenance window, measured as the number of minutes after midnight in the device's local time. This value must be between 0 and 1439, inclusive.",
          "format": "int32",
          "type": "integer"
        },
        "freezePeriods": {
          "description": "An annually repeating time period in which over-the-air (OTA) system updates are postponed to freeze the OS version running on a device. To prevent freezing the device indefinitely, each freeze period must be separated by at least 60 days.",
          "items": {
            "$ref": "FreezePeriod"
          },
          "type": "array"
        },
        "type": {
          "type": "string",
          "description": "The type of system update to configure.",
          "enumDescriptions": [
            "Follow the default update behavior for the device, which typically requires the user to accept system updates.",
            "Install automatically as soon as an update is available.",
            "Install automatically within a daily maintenance window. This also configures Play apps to be updated within the window. This is strongly recommended for kiosk devices because this is the only way apps persistently pinned to the foreground can be updated by Play.If autoUpdateMode is set to AUTO_UPDATE_HIGH_PRIORITY for an app, then the maintenance window is ignored for that app and it is updated as soon as possible even outside of the maintenance window.",
            "Postpone automatic install up to a maximum of 30 days."
          ],
          "enum": [
            "SYSTEM_UPDATE_TYPE_UNSPECIFIED",
            "AUTOMATIC",
            "WINDOWED",
            "POSTPONE"
          ]
        },
        "endMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "If the type is WINDOWED, the end of the maintenance window, measured as the number of minutes after midnight in device's local time. This value must be between 0 and 1439, inclusive. If this value is less than start_minutes, then the maintenance window spans midnight. If the maintenance window specified is smaller than 30 minutes, the actual window is extended to 30 minutes beyond the start time."
        }
      },
      "description": "Configuration for managing system updates",
      "type": "object"
    },
    "DeviceSettings": {
      "properties": {
        "isDeviceSecure": {
          "type": "boolean",
          "description": "Whether the device is secured with PIN/password."
        },
        "unknownSourcesEnabled": {
          "description": "Whether installing apps from unknown sources is enabled.",
          "type": "boolean"
        },
        "developmentSettingsEnabled": {
          "type": "boolean",
          "description": "Whether developer mode is enabled on the device."
        },
        "encryptionStatus": {
          "enum": [
            "ENCRYPTION_STATUS_UNSPECIFIED",
            "UNSUPPORTED",
            "INACTIVE",
            "ACTIVATING",
            "ACTIVE",
            "ACTIVE_DEFAULT_KEY",
            "ACTIVE_PER_USER"
          ],
          "enumDescriptions": [
            "Unspecified. No device should have this type.",
            "Encryption is not supported by the device.",
            "Encryption is supported by the device, but is not currently active.",
            "Encryption is not currently active, but is currently being activated.",
            "Encryption is active.",
            "Encryption is active, but an encryption key is not set by the user.",
            "Encryption is active, and the encryption key is tied to the user profile."
          ],
          "description": "Encryption status from DevicePolicyManager.",
          "type": "string"
        },
        "isEncrypted": {
          "type": "boolean",
          "description": "Whether the storage encryption is enabled."
        },
        "adbEnabled": {
          "type": "boolean",
          "description": "Whether ADB (https://developer.android.com/studio/command-line/adb.html) is enabled on the device."
        },
        "verifyAppsEnabled": {
          "type": "boolean",
          "description": "Whether Google Play Protect verification (https://support.google.com/accounts/answer/2812853) is enforced on the device."
        }
      },
      "description": "Information about security related device settings on device.",
      "type": "object",
      "id": "DeviceSettings"
    },
    "FreezePeriod": {
      "id": "FreezePeriod",
      "type": "object",
      "properties": {
        "endDate": {
          "description": "The end date (inclusive) of the freeze period. Must be no later than 90 days from the start date. If the end date is earlier than the start date, the freeze period is considered wrapping year-end. Note: year must not be set. For example, {\"month\": 1,\"date\": 30}.",
          "$ref": "Date"
        },
        "startDate": {
          "description": "The start date (inclusive) of the freeze period. Note: year must not be set. For example, {\"month\": 1,\"date\": 30}.",
          "$ref": "Date"
        }
      },
      "description": "A system freeze period. When a device’s clock is within the freeze period, all incoming system updates (including security patches) are blocked and won’t be installed. When a device is outside the freeze period, normal update behavior applies. Leap years are ignored in freeze period calculations, in particular: * If Feb. 29th is set as the start or end date of a freeze period, the freeze period will start or end on Feb. 28th instead. * When a device’s system clock reads Feb. 29th, it’s treated as Feb. 28th. * When calculating the number of days in a freeze period or the time between two freeze periods, Feb. 29th is ignored and not counted as a day."
    },
    "CrossProfilePolicies": {
      "description": "Cross-profile policies applied on the device.",
      "type": "object",
      "id": "CrossProfilePolicies",
      "properties": {
        "showWorkContactsInPersonalProfile": {
          "enum": [
            "SHOW_WORK_CONTACTS_IN_PERSONAL_PROFILE_UNSPECIFIED",
            "SHOW_WORK_CONTACTS_IN_PERSONAL_PROFILE_DISALLOWED",
            "SHOW_WORK_CONTACTS_IN_PERSONAL_PROFILE_ALLOWED"
          ],
          "enumDescriptions": [
            "Unspecified. Defaults to SHOW_WORK_CONTACTS_IN_PERSONAL_PROFILE_ALLOWED.",
            "Prevents work profile contacts from appearing in personal profile contact searches and incoming calls",
            "Default. Allows work profile contacts to appear in personal profile contact searches and incoming calls"
          ],
          "description": "Whether contacts stored in the work profile can be shown in personal profile contact searches and incoming calls.",
          "type": "string"
        },
        "crossProfileCopyPaste": {
          "enumDescriptions": [
            "Unspecified. Defaults to COPY_FROM_WORK_TO_PERSONAL_DISALLOWED",
            "Default. Prevents users from pasting into the personal profile text copied from the work profile. Text copied from the personal profile can be pasted into the work profile, and text copied from the work profile can be pasted into the work profile.",
            "Text copied in either profile can be pasted in the other profile."
          ],
          "type": "string",
          "enum": [
            "CROSS_PROFILE_COPY_PASTE_UNSPECIFIED",
            "COPY_FROM_WORK_TO_PERSONAL_DISALLOWED",
            "CROSS_PROFILE_COPY_PASTE_ALLOWED"
          ],
          "description": "Whether text copied from one profile (personal or work) can be pasted in the other profile."
        },
        "crossProfileDataSharing": {
          "description": "Whether data from one profile (personal or work) can be shared with apps in the other profile. Specifically controls simple data sharing via intents. Management of other cross-profile communication channels, such as contact search, copy/paste, or connected work & personal apps, are configured separately.",
          "type": "string",
          "enum": [
            "CROSS_PROFILE_DATA_SHARING_UNSPECIFIED",
            "CROSS_PROFILE_DATA_SHARING_DISALLOWED",
            "DATA_SHARING_FROM_WORK_TO_PERSONAL_DISALLOWED",
            "CROSS_PROFILE_DATA_SHARING_ALLOWED"
          ],
          "enumDescriptions": [
            "Unspecified. Defaults to DATA_SHARING_FROM_WORK_TO_PERSONAL_DISALLOWED.",
            "Prevents data from being shared from both the personal profile to the work profile and the work profile to the personal profile.",
            "Default. Prevents users from sharing data from the work profile to apps in the personal profile. Personal data can be shared with work apps.",
            "Data from either profile can be shared with the other profile."
          ]
        }
      }
    },
    "ListWebAppsResponse": {
      "description": "Response to a request to list web apps for a given enterprise.",
      "id": "ListWebAppsResponse",
      "type": "object",
      "properties": {
        "webApps": {
          "description": "The list of web apps.",
          "type": "array",
          "items": {
            "$ref": "WebApp"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there are more results, a token to retrieve next page of results."
        }
      }
    },
    "ProxyInfo": {
      "properties": {
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "The port of the direct proxy."
        },
        "host": {
          "description": "The host of the direct proxy.",
          "type": "string"
        },
        "excludedHosts": {
          "type": "array",
          "description": "For a direct proxy, the hosts for which the proxy is bypassed. The host names may contain wildcards such as *.example.com.",
          "items": {
            "type": "string"
          }
        },
        "pacUri": {
          "type": "string",
          "description": "The URI of the PAC script used to configure the proxy."
        }
      },
      "description": "Configuration info for an HTTP proxy. For a direct proxy, set the host, port, and excluded_hosts fields. For a PAC script proxy, set the pac_uri field.",
      "id": "ProxyInfo",
      "type": "object"
    },
    "KeyedAppState": {
      "description": "Keyed app state reported by the app.",
      "id": "KeyedAppState",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "The creation time of the app state on the device.",
          "format": "google-datetime"
        },
        "message": {
          "description": "Optionally, a free-form message string to explain the app state. If the state was triggered by a particular value (e.g. a managed configuration value), it should be included in the message.",
          "type": "string"
        },
        "severity": {
          "description": "The severity of the app state.",
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFO",
            "ERROR"
          ],
          "enumDescriptions": [
            "Unspecified severity level.",
            "Information severity level.",
            "Error severity level. This should only be set for genuine error conditions that a management organization needs to take action to fix."
          ]
        },
        "lastUpdateTime": {
          "description": "The time the app state was most recently updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "data": {
          "type": "string",
          "description": "Optionally, a machine-readable value to be read by the EMM. For example, setting values that the admin can choose to query against in the EMM console (e.g. “notify me if the battery_warning data \u003c 10”)."
        },
        "key": {
          "type": "string",
          "description": "The key for the app state. Acts as a point of reference for what the app is providing state for. For example, when providing managed configuration feedback, this key could be the managed configuration key."
        }
      },
      "type": "object"
    },
    "Command": {
      "type": "object",
      "properties": {
        "duration": {
          "type": "string",
          "description": "The duration for which the command is valid. The command will expire if not executed by the device during this time. The default duration if unspecified is ten minutes. There is no maximum duration.",
          "format": "google-duration"
        },
        "newPassword": {
          "type": "string",
          "description": "For commands of type RESET_PASSWORD, optionally specifies the new password."
        },
        "errorCode": {
          "enum": [
            "COMMAND_ERROR_CODE_UNSPECIFIED",
            "UNKNOWN",
            "API_LEVEL",
            "MANAGEMENT_MODE",
            "INVALID_VALUE",
            "UNSUPPORTED"
          ],
          "type": "string",
          "description": "If the command failed, an error code explaining the failure. This is not set when the command is cancelled by the caller.",
          "enumDescriptions": [
            "There was no error.",
            "An unknown error occurred.",
            "The API level of the device does not support this command.",
            "The management mode (profile owner, device owner, etc.) does not support the command.",
            "The command has an invalid parameter value.",
            "The device doesn't support the command. Updating Android Device Policy to the latest version may resolve the issue."
          ]
        },
        "resetPasswordFlags": {
          "description": "For commands of type RESET_PASSWORD, optionally specifies flags.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "This value is ignored.",
              "Don't allow other admins to change the password again until the user has entered it.",
              "Don't ask for user credentials on device boot.",
              "Lock the device after password reset."
            ],
            "enum": [
              "RESET_PASSWORD_FLAG_UNSPECIFIED",
              "REQUIRE_ENTRY",
              "DO_NOT_ASK_CREDENTIALS_ON_BOOT",
              "LOCK_NOW"
            ]
          }
        },
        "userName": {
          "description": "The resource name of the user that owns the device in the form enterprises/{enterpriseId}/users/{userId}. This is automatically generated by the server based on the device the command is sent to.",
          "type": "string"
        },
        "type": {
          "enum": [
            "COMMAND_TYPE_UNSPECIFIED",
            "LOCK",
            "RESET_PASSWORD",
            "REBOOT",
            "RELINQUISH_OWNERSHIP"
          ],
          "description": "The type of the command.",
          "type": "string",
          "enumDescriptions": [
[...]
