{
  "discoveryVersion": "v1",
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/android-publisher",
  "version": "v3",
  "revision": "20201012",
  "id": "androidpublisher:v3",
  "schemas": {
    "Review": {
      "id": "Review",
      "type": "object",
      "description": "An Android app review.",
      "properties": {
        "reviewId": {
          "type": "string",
          "description": "Unique identifier for this review."
        },
        "authorName": {
          "description": "The name of the user who wrote the review.",
          "type": "string"
        },
        "comments": {
          "items": {
            "$ref": "Comment"
          },
          "type": "array",
          "description": "A repeated field containing comments for the review."
        }
      }
    },
    "ReviewsReplyResponse": {
      "id": "ReviewsReplyResponse",
      "properties": {
        "result": {
          "$ref": "ReviewReplyResult",
          "description": "The result of replying/updating a reply to review."
        }
      },
      "description": "Response on status of replying to a review.",
      "type": "object"
    },
    "ReviewReplyResult": {
      "properties": {
        "lastEdited": {
          "description": "The time at which the reply took effect.",
          "$ref": "Timestamp"
        },
        "replyText": {
          "type": "string",
          "description": "The reply text that was applied."
        }
      },
      "description": "The result of replying/updating a reply to review.",
      "type": "object",
      "id": "ReviewReplyResult"
    },
    "SubscriptionPurchasesDeferRequest": {
      "type": "object",
      "properties": {
        "deferralInfo": {
          "description": "The information about the new desired expiry time for the subscription.",
          "$ref": "SubscriptionDeferralInfo"
        }
      },
      "description": "Request for the purchases.subscriptions.defer API.",
      "id": "SubscriptionPurchasesDeferRequest"
    },
    "Track": {
      "type": "object",
      "description": "A track configuration. The resource for TracksService.",
      "properties": {
        "releases": {
          "type": "array",
          "description": "In a read request, represents all active releases in the track. In an update request, represents desired changes.",
          "items": {
            "$ref": "TrackRelease"
          }
        },
        "track": {
          "type": "string",
          "description": "Identifier of the track."
        }
      },
      "id": "Track"
    },
    "DeviceSpec": {
      "description": "The device spec used to generate a system APK.",
      "properties": {
        "supportedAbis": {
          "description": "Supported ABI architectures in the order of preference. The values should be the string as reported by the platform, e.g. \"armeabi-v7a\", \"x86_64\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "screenDensity": {
          "type": "integer",
          "description": "Screen dpi.",
          "format": "uint32"
        },
        "supportedLocales": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "All installed locales represented as BCP-47 strings, e.g. \"en-US\"."
        }
      },
      "type": "object",
      "id": "DeviceSpec"
    },
    "AppDetails": {
      "type": "object",
      "id": "AppDetails",
      "properties": {
        "defaultLanguage": {
          "type": "string",
          "description": "Default language code, in BCP 47 format (eg \"en-US\")."
        },
        "contactPhone": {
          "type": "string",
          "description": "The user-visible support telephone number for this app."
        },
        "contactWebsite": {
          "type": "string",
          "description": "The user-visible website for this app."
        },
        "contactEmail": {
          "type": "string",
          "description": "The user-visible support email for this app."
        }
      },
      "description": "The app details. The resource for DetailsService."
    },
    "ListingsListResponse": {
      "description": "Response listing all localized listings.",
      "type": "object",
      "properties": {
        "listings": {
          "items": {
            "$ref": "Listing"
          },
          "description": "All localized listings.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "The kind of this response (\"androidpublisher#listingsListResponse\")."
        }
      },
      "id": "ListingsListResponse"
    },
    "InappproductsListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "The kind of this response (\"androidpublisher#inappproductsListResponse\").",
          "type": "string"
        },
        "inappproduct": {
          "description": "All in-app products.",
          "items": {
            "$ref": "InAppProduct"
          },
          "type": "array"
        },
        "tokenPagination": {
          "$ref": "TokenPagination",
          "description": "Pagination token, to handle a number of products that is over one page."
        },
        "pageInfo": {
          "description": "Information about the current page.",
          "$ref": "PageInfo"
        }
      },
      "id": "InappproductsListResponse",
      "description": "Response listing all in-app products."
    },
    "CountryTargeting": {
      "id": "CountryTargeting",
      "type": "object",
      "description": "Country targeting specification.",
      "properties": {
        "countries": {
          "description": "Countries to target, specified as two letter [CLDR codes](https://unicode.org/cldr/charts/latest/supplemental/territory_containment_un_m_49.html).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "includeRestOfWorld": {
          "type": "boolean",
          "description": "Include \"rest of world\" as well as explicitly targeted countries."
        }
      }
    },
    "Variant": {
      "properties": {
        "deviceSpec": {
          "$ref": "DeviceSpec",
          "description": "The device spec used to generate the APK."
        },
        "variantId": {
          "description": "Output only. The ID of a previously created system APK variant.",
          "readOnly": true,
          "format": "uint32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "APK that is suitable for inclusion in a system image. The resource of SystemApksService.",
      "id": "Variant"
    },
    "ExpansionFilesUploadResponse": {
      "description": "Response for uploading an expansion file.",
      "id": "ExpansionFilesUploadResponse",
      "type": "object",
      "properties": {
        "expansionFile": {
          "description": "The uploaded expansion file configuration.",
          "$ref": "ExpansionFile"
        }
      }
    },
    "Comment": {
      "properties": {
        "userComment": {
          "description": "A comment from a user.",
          "$ref": "UserComment"
        },
        "developerComment": {
          "description": "A comment from a developer.",
          "$ref": "DeveloperComment"
        }
      },
      "type": "object",
      "description": "An entry of conversation between user and developer.",
      "id": "Comment"
    },
    "TrackRelease": {
      "type": "object",
      "description": "A release within a track.",
      "properties": {
        "versionCodes": {
          "description": "Version codes of all APKs in the release. Must include version codes to retain from previous releases.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        },
        "releaseNotes": {
          "type": "array",
          "items": {
            "$ref": "LocalizedText"
          },
          "description": "A description of what is new in this release."
        },
        "countryTargeting": {
          "description": "Restricts a release to a specific set of countries.",
          "$ref": "CountryTargeting"
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified status.",
            "The release's APKs are not being served to users.",
            "The release's APKs are being served to a fraction of users, determined by 'user_fraction'.",
            "The release's APKs will no longer be served to users. Users who already have these APKs are unaffected.",
            "The release will have no further changes. Its APKs are being served to all users, unless they are eligible to APKs of a more recent release."
          ],
          "enum": [
            "statusUnspecified",
            "draft",
            "inProgress",
            "halted",
            "completed"
          ],
          "description": "The status of the release."
        },
        "userFraction": {
          "description": "Fraction of users who are eligible for a staged release. 0 \u003c fraction \u003c 1. Can only be set when status is \"inProgress\" or \"halted\".",
          "format": "double",
          "type": "number"
        },
        "inAppUpdatePriority": {
          "description": "In-app update priority of the release. All newly added APKs in the release will be considered at this priority. Can take values in the range [0, 5], with 5 the highest priority. Defaults to 0. in_app_update_priority can not be updated once the release is rolled out. See https://developer.android.com/guide/playcore/in-app-updates.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "The release name. Not required to be unique. If not set, the name is generated from the APK's version_name. If the release contains multiple APKs, the name is generated from the date.",
          "type": "string"
        }
      },
      "id": "TrackRelease"
    },
    "TokenPagination": {
      "id": "TokenPagination",
      "type": "object",
      "properties": {
        "previousPageToken": {
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Tokens to pass to the standard list field 'page_token'. Whenever available, tokens are preferred over manipulating start_index."
        }
      },
      "description": "Pagination information returned by a List operation when token pagination is enabled. List operations that supports paging return only one \"page\" of results. This protocol buffer message describes the page that has been returned. When using token pagination, clients should use the next/previous token to get another page of the result. The presence or absence of next/previous token indicates whether a next/previous page is available and provides a mean of accessing this page. ListRequest.page_token should be set to either next_page_token or previous_page_token to access another page."
    },
    "Listing": {
      "id": "Listing",
      "properties": {
        "fullDescription": {
          "type": "string",
          "description": "Full description of the app."
        },
        "language": {
          "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
          "type": "string"
        },
        "title": {
          "description": "Localized title of the app.",
          "type": "string"
        },
        "video": {
          "type": "string",
          "description": "URL of a promotional YouTube video for the app."
        },
        "shortDescription": {
          "type": "string",
          "description": "Short description of the app."
        }
      },
      "description": "A localized store listing. The resource for ListingsService.",
      "type": "object"
    },
    "SubscriptionPriceChange": {
      "type": "object",
      "description": "Contains the price change information for a subscription that can be used to control the user journey for the price change in the app. This can be in the form of seeking confirmation from the user or tailoring the experience for a successful conversion.",
      "id": "SubscriptionPriceChange",
      "properties": {
        "state": {
          "format": "int32",
          "type": "integer",
          "description": "The current state of the price change. Possible values are: 0. Outstanding: State for a pending price change waiting for the user to agree. In this state, you can optionally seek confirmation from the user using the In-App API. 1. Accepted: State for an accepted price change that the subscription will renew with unless it's canceled. The price change takes effect on a future date when the subscription renews. Note that the change might not occur when the subscription is renewed next."
        },
        "newPrice": {
          "$ref": "Price",
          "description": "The new price the subscription will renew with if the price change is accepted by the user."
        }
      }
    },
    "ImagesListResponse": {
      "type": "object",
      "properties": {
        "images": {
          "items": {
            "$ref": "Image"
          },
          "type": "array",
          "description": "All listed Images."
        }
      },
      "id": "ImagesListResponse",
      "description": "Response listing all images."
    },
    "Apk": {
      "type": "object",
      "id": "Apk",
      "description": "Information about an APK. The resource for ApksService.",
      "properties": {
        "binary": {
          "description": "Information about the binary payload of this APK.",
          "$ref": "ApkBinary"
        },
        "versionCode": {
          "type": "integer",
          "description": "The version code of the APK, as specified in the manifest file.",
          "format": "int32"
        }
      }
    },
    "SubscriptionPurchasesAcknowledgeRequest": {
      "properties": {
        "developerPayload": {
          "type": "string",
          "description": "Payload to attach to the purchase."
        }
      },
      "description": "Request for the purchases.subscriptions.acknowledge API.",
      "type": "object",
      "id": "SubscriptionPurchasesAcknowledgeRequest"
    },
    "AppEdit": {
      "type": "object",
      "id": "AppEdit",
      "description": "An app edit. The resource for EditsService.",
      "properties": {
        "expiryTimeSeconds": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time (as seconds since Epoch) at which the edit will expire and will be no longer valid for use."
        },
        "id": {
          "description": "Output only. Identifier of the edit. Can be used in subsequent API calls.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Price": {
      "id": "Price",
      "description": "Definition of a price, i.e. currency and units.",
      "type": "object",
      "properties": {
        "currency": {
          "description": "3 letter Currency code, as defined by ISO 4217. See java/com/google/common/money/CurrencyCode.java",
          "type": "string"
        },
        "priceMicros": {
          "type": "string",
          "description": "Price in 1/million of the currency base unit, represented as a string."
        }
      }
    },
    "VoidedPurchase": {
      "description": "A VoidedPurchase resource indicates a purchase that was either canceled/refunded/charged-back.",
      "type": "object",
      "id": "VoidedPurchase",
      "properties": {
        "purchaseToken": {
          "type": "string",
          "description": "The token which uniquely identifies a one-time purchase or subscription. To uniquely identify subscription renewals use order_id (available starting from version 3 of the API)."
        },
        "orderId": {
          "type": "string",
          "description": "The order id which uniquely identifies a one-time purchase, subscription purchase, or subscription renewal."
        },
        "voidedReason": {
          "format": "int32",
          "description": "The reason why the purchase was voided, possible values are: 0. Other 1. Remorse 2. Not_received 3. Defective 4. Accidental_purchase 5. Fraud 6. Friendly_fraud 7. Chargeback",
          "type": "integer"
        },
        "kind": {
          "type": "string",
          "description": "This kind represents a voided purchase object in the androidpublisher service."
        },
        "voidedSource": {
          "type": "integer",
          "description": "The initiator of voided purchase, possible values are: 0. User 1. Developer 2. Google",
          "format": "int32"
        },
        "purchaseTimeMillis": {
          "description": "The time at which the purchase was made, in milliseconds since the epoch (Jan 1, 1970).",
          "format": "int64",
          "type": "string"
        },
        "voidedTimeMillis": {
          "type": "string",
          "description": "The time at which the purchase was canceled/refunded/charged-back, in milliseconds since the epoch (Jan 1, 1970).",
          "format": "int64"
        }
      }
    },
    "DeveloperComment": {
      "description": "Developer entry from conversation between user and developer.",
      "properties": {
        "text": {
          "type": "string",
          "description": "The content of the comment, i.e. reply body."
        },
        "lastModified": {
          "description": "The last time at which this comment was updated.",
          "$ref": "Timestamp"
        }
      },
      "id": "DeveloperComment",
      "type": "object"
    },
    "ApksAddExternallyHostedRequest": {
      "description": "Request to create a new externally hosted APK.",
      "type": "object",
      "properties": {
        "externallyHostedApk": {
          "$ref": "ExternallyHostedApk",
          "description": "The definition of the externally-hosted APK and where it is located."
        }
      },
      "id": "ApksAddExternallyHostedRequest"
    },
    "SystemApksListResponse": {
      "type": "object",
      "properties": {
        "variants": {
          "type": "array",
          "description": "All system APK variants created.",
          "items": {
            "$ref": "Variant"
          }
        }
      },
      "description": "Response to list previously created system APK variants.",
      "id": "SystemApksListResponse"
    },
    "VoidedPurchasesListResponse": {
      "type": "object",
      "description": "Response for the voidedpurchases.list API.",
      "id": "VoidedPurchasesListResponse",
      "properties": {
        "tokenPagination": {
          "description": "Pagination information for token pagination.",
          "$ref": "TokenPagination"
        },
        "voidedPurchases": {
          "type": "array",
          "items": {
            "$ref": "VoidedPurchase"
          }
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        }
      }
    },
    "UserComment": {
      "id": "UserComment",
      "properties": {
        "androidOsVersion": {
          "type": "integer",
          "description": "Integer Android SDK version of the user's device at the time the review was written, e.g. 23 is Marshmallow. May be absent.",
          "format": "int32"
        },
        "deviceMetadata": {
          "description": "Information about the characteristics of the user's device.",
          "$ref": "DeviceMetadata"
        },
        "reviewerLanguage": {
          "type": "string",
          "description": "Language code for the reviewer. This is taken from the device settings so is not guaranteed to match the language the review is written in. May be absent."
        },
        "lastModified": {
          "$ref": "Timestamp",
          "description": "The last time at which this comment was updated."
        },
        "starRating": {
          "description": "The star rating associated with the review, from 1 to 5.",
          "type": "integer",
          "format": "int32"
        },
        "thumbsDownCount": {
          "type": "integer",
          "description": "Number of users who have given this review a thumbs down.",
          "format": "int32"
        },
        "device": {
          "type": "string",
          "description": "Codename for the reviewer's device, e.g. klte, flounder. May be absent."
        },
        "text": {
          "type": "string",
          "description": "The content of the comment, i.e. review body. In some cases users have been able to write a review with separate title and body; in those cases the title and body are concatenated and separated by a tab character."
        },
        "thumbsUpCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of users who have given this review a thumbs up."
        },
        "appVersionName": {
          "type": "string",
          "description": "String version name of the app as installed at the time the review was written. May be absent."
        },
        "appVersionCode": {
          "type": "integer",
          "description": "Integer version code of the app as installed at the time the review was written. May be absent.",
          "format": "int32"
        },
        "originalText": {
          "description": "Untranslated text of the review, where the review was translated. If the review was not translated this is left blank.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "User entry from conversation between user and developer."
    },
    "ExpansionFile": {
      "description": "An expansion file. The resource for ExpansionFilesService.",
      "type": "object",
      "id": "ExpansionFile",
      "properties": {
        "fileSize": {
          "description": "If set, this field indicates that this APK has an expansion file uploaded to it: this APK does not reference another APK's expansion file. The field's value is the size of the uploaded expansion file in bytes.",
          "format": "int64",
          "type": "string"
        },
        "referencesVersion": {
          "type": "integer",
          "format": "int32",
          "description": "If set, this APK's expansion file references another APK's expansion file. The file_size field will not be set."
        }
      }
    },
    "ProductPurchasesAcknowledgeRequest": {
      "properties": {
        "developerPayload": {
          "type": "string",
          "description": "Payload to attach to the purchase."
        }
      },
      "type": "object",
      "id": "ProductPurchasesAcknowledgeRequest",
      "description": "Request for the product.purchases.acknowledge API."
    },
    "ReviewsReplyRequest": {
      "id": "ReviewsReplyRequest",
      "type": "object",
      "description": "Request to reply to review or update existing reply.",
      "properties": {
        "replyText": {
          "type": "string",
          "description": "The text to set as the reply. Replies of more than approximately 350 characters will be rejected. HTML tags will be stripped."
        }
      }
    },
    "ApksAddExternallyHostedResponse": {
      "properties": {
        "externallyHostedApk": {
          "$ref": "ExternallyHostedApk",
          "description": "The definition of the externally-hosted APK and where it is located."
        }
      },
      "description": "Response for creating a new externally hosted APK.",
      "id": "ApksAddExternallyHostedResponse",
      "type": "object"
    },
    "DeobfuscationFilesUploadResponse": {
      "type": "object",
      "id": "DeobfuscationFilesUploadResponse",
      "description": "Responses for the upload.",
      "properties": {
        "deobfuscationFile": {
          "$ref": "DeobfuscationFile",
          "description": "The uploaded Deobfuscation File configuration."
        }
      }
    },
    "LocalizedText": {
      "id": "LocalizedText",
      "description": "Release notes specification, i.e. language and text.",
      "type": "object",
      "properties": {
        "language": {
          "type": "string",
          "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German)."
        },
        "text": {
          "type": "string",
          "description": "The text in the given language."
        }
      }
    },
    "Timestamp": {
      "type": "object",
      "description": "A Timestamp represents a point in time independent of any time zone or local calendar, encoded as a count of seconds and fractions of seconds at nanosecond resolution. The count is relative to an epoch at UTC midnight on January 1, 1970.",
      "properties": {
        "nanos": {
          "type": "integer",
          "description": "Non-negative fractions of a second at nanosecond resolution. Must be from 0 to 999,999,999 inclusive.",
          "format": "int32"
        },
        "seconds": {
          "description": "Represents seconds of UTC time since Unix epoch.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "Timestamp"
    },
    "DeviceMetadata": {
      "type": "object",
      "description": "Characteristics of the user's device.",
      "id": "DeviceMetadata",
      "properties": {
        "glEsVersion": {
          "type": "integer",
          "format": "int32",
          "description": "OpenGL version"
        },
        "screenWidthPx": {
          "description": "Screen width in pixels",
          "type": "integer",
          "format": "int32"
        },
        "productName": {
          "description": "Device model name (e.g. Droid)",
          "type": "string"
        },
        "manufacturer": {
          "description": "Device manufacturer (e.g. Motorola)",
          "type": "string"
        },
        "nativePlatform": {
          "description": "Comma separated list of native platforms (e.g. \"arm\", \"arm7\")",
          "type": "string"
        },
        "cpuMake": {
          "type": "string",
          "description": "Device CPU make, e.g. \"Qualcomm\""
        },
        "deviceClass": {
          "type": "string",
          "description": "Device class (e.g. tablet)"
        },
        "cpuModel": {
          "type": "string",
          "description": "Device CPU model, e.g. \"MSM8974\""
        },
        "ramMb": {
          "format": "int32",
          "type": "integer",
          "description": "Device RAM in Megabytes, e.g. \"2048\""
        },
        "screenHeightPx": {
          "description": "Screen height in pixels",
          "type": "integer",
          "format": "int32"
        },
        "screenDensityDpi": {
          "description": "Screen density in DPI",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Bundle": {
      "properties": {
        "sha256": {
          "type": "string",
          "description": "A sha256 hash of the upload payload, encoded as a hex string and matching the output of the sha256sum command."
        },
        "sha1": {
          "type": "string",
          "description": "A sha1 hash of the upload payload, encoded as a hex string and matching the output of the sha1sum command."
        },
        "versionCode": {
          "format": "int32",
          "type": "integer",
          "description": "The version code of the Android App Bundle, as specified in the Android App Bundle's base module APK manifest file."
        }
      },
      "id": "Bundle",
      "description": "Information about a bundle. The resource for BundlesService.",
      "type": "object"
    },
    "SubscriptionPurchase": {
      "type": "object",
      "properties": {
        "acknowledgementState": {
          "format": "int32",
          "type": "integer",
          "description": "The acknowledgement state of the subscription product. Possible values are: 0. Yet to be acknowledged 1. Acknowledged"
        },
        "priceCurrencyCode": {
          "description": "ISO 4217 currency code for the subscription price. For example, if the price is specified in British pounds sterling, price_currency_code is \"GBP\".",
          "type": "string"
        },
        "linkedPurchaseToken": {
          "type": "string",
          "description": "The purchase token of the originating purchase if this subscription is one of the following: 0. Re-signup of a canceled but non-lapsed subscription 1. Upgrade/downgrade from a previous subscription For example, suppose a user originally signs up and you receive purchase token X, then the user cancels and goes through the resignup flow (before their subscription lapses) and you receive purchase token Y, and finally the user upgrades their subscription and you receive purchase token Z. If you call this API with purchase token Z, this field will be set to Y. If you call this API with purchase token Y, this field will be set to X. If you call this API with purchase token X, this field will not be set."
        },
        "startTimeMillis": {
          "type": "string",
          "description": "Time at which the subscription was granted, in milliseconds since the Epoch.",
          "format": "int64"
        },
        "promotionCode": {
          "type": "string",
          "description": "The promotion code applied on this purchase. This field is only set if a vanity code promotion is applied when the subscription was purchased."
        },
        "introductoryPriceInfo": {
          "$ref": "IntroductoryPriceInfo",
          "description": "Introductory price information of the subscription. This is only present when the subscription was purchased with an introductory price. This field does not indicate the subscription is currently in introductory price period."
        },
        "userCancellationTimeMillis": {
          "format": "int64",
          "type": "string",
          "description": "The time at which the subscription was canceled by the user, in milliseconds since the epoch. Only present if cancelReason is 0."
        },
        "kind": {
          "type": "string",
          "description": "This kind represents a subscriptionPurchase object in the androidpublisher service."
        },
        "promotionType": {
          "description": "The type of promotion applied on this purchase. This field is only set if a promotion is applied when the subscription was purchased. Possible values are: 0. One time code 1. Vanity code",
          "type": "integer",
          "format": "int32"
        },
        "purchaseType": {
          "format": "int32",
          "description": "The type of purchase of the subscription. This field is only set if this purchase was not made using the standard in-app billing flow. Possible values are: 0. Test (i.e. purchased from a license testing account) 1. Promo (i.e. purchased using a promo code)",
          "type": "integer"
        },
        "countryCode": {
          "type": "string",
          "description": "ISO 3166-1 alpha-2 billing country/region code of the user at the time the subscription was granted."
        },
        "priceAmountMicros": {
          "type": "string",
          "description": "Price of the subscription, not including tax. Price is expressed in micro-units, where 1,000,000 micro-units represents one unit of the currency. For example, if the subscription price is €1.99, price_amount_micros is 1990000.",
          "format": "int64"
        },
        "autoRenewing": {
          "description": "Whether the subscription will automatically be renewed when it reaches its current expiry time.",
          "type": "boolean"
        },
        "orderId": {
          "description": "The order id of the latest recurring order associated with the purchase of the subscription.",
          "type": "string"
        },
        "cancelSurveyResult": {
          "$ref": "SubscriptionCancelSurveyResult",
          "description": "Information provided by the user when they complete the subscription cancellation flow (cancellation reason survey)."
        },
        "priceChange": {
          "$ref": "SubscriptionPriceChange",
          "description": "The latest price change information available. This is present only when there is an upcoming price change for the subscription yet to be applied. Once the subscription renews with the new price or the subscription is canceled, no price change information will be returned."
        },
        "givenName": {
          "description": "The given name of the user when the subscription was purchased. Only present for purchases made with 'Subscribe with Google'.",
          "type": "string"
        },
        "expiryTimeMillis": {
          "description": "Time at which the subscription will expire, in milliseconds since the Epoch.",
          "format": "int64",
          "type": "string"
        },
        "obfuscatedExternalProfileId": {
          "description": "An obfuscated version of the id that is uniquely associated with the user's profile in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedprofileid when the purchase was made.",
          "type": "string"
        },
        "obfuscatedExternalAccountId": {
          "type": "string",
          "description": "An obfuscated version of the id that is uniquely associated with the user's account in your app. Present for the following purchases: * If account linking happened as part of the subscription purchase flow. * It was specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedaccountid when the purchase was made."
        },
        "profileName": {
          "type": "string",
          "description": "The profile name of the user when the subscription was purchased. Only present for purchases made with 'Subscribe with Google'."
        },
        "developerPayload": {
          "type": "string",
          "description": "A developer-specified string that contains supplemental information about an order."
        },
        "cancelReason": {
          "description": "The reason why a subscription was canceled or is not auto-renewing. Possible values are: 0. User canceled the subscription 1. Subscription was canceled by the system, for example because of a billing problem 2. Subscription was replaced with a new subscription 3. Subscription was canceled by the developer",
          "type": "integer",
          "format": "int32"
        },
        "profileId": {
          "description": "The Google profile id of the user when the subscription was purchased. Only present for purchases made with 'Subscribe with Google'.",
          "type": "string"
        },
        "emailAddress": {
          "description": "The email address of the user when the subscription was purchased. Only present for purchases made with 'Subscribe with Google'.",
          "type": "string"
        },
        "familyName": {
          "description": "The family name of the user when the subscription was purchased. Only present for purchases made with 'Subscribe with Google'.",
          "type": "string"
        },
        "autoResumeTimeMillis": {
          "format": "int64",
          "type": "string",
          "description": "Time at which the subscription will be automatically resumed, in milliseconds since the Epoch. Only present if the user has requested to pause the subscription."
        },
        "paymentState": {
          "description": "The payment state of the subscription. Possible values are: 0. Payment pending 1. Payment received 2. Free trial 3. Pending deferred upgrade/downgrade",
          "type": "integer",
          "format": "int32"
        },
        "externalAccountId": {
          "type": "string",
          "description": "User account identifier in the third-party service. Only present if account linking happened as part of the subscription purchase flow."
        }
      },
      "description": "A SubscriptionPurchase resource indicates the status of a user's subscription purchase.",
      "id": "SubscriptionPurchase"
    },
    "ImagesDeleteAllResponse": {
      "id": "ImagesDeleteAllResponse",
      "description": "Response for deleting all images.",
      "type": "object",
      "properties": {
        "deleted": {
          "items": {
            "$ref": "Image"
          },
          "description": "The deleted images.",
          "type": "array"
        }
      }
    },
    "ApkBinary": {
      "properties": {
        "sha1": {
          "description": "A sha1 hash of the APK payload, encoded as a hex string and matching the output of the sha1sum command.",
          "type": "string"
        },
        "sha256": {
          "description": "A sha256 hash of the APK payload, encoded as a hex string and matching the output of the sha256sum command.",
          "type": "string"
        }
      },
      "description": "Represents the binary payload of an APK.",
      "id": "ApkBinary",
      "type": "object"
    },
    "Testers": {
      "properties": {
        "googleGroups": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "All testing Google Groups, as email addresses."
        }
      },
      "description": "The testers of an app. The resource for TestersService.",
      "id": "Testers",
      "type": "object"
    },
    "IntroductoryPriceInfo": {
      "type": "object",
      "description": "Contains the introductory price information for a subscription.",
      "id": "IntroductoryPriceInfo",
      "properties": {
        "introductoryPriceCurrencyCode": {
          "description": "ISO 4217 currency code for the introductory subscription price. For example, if the price is specified in British pounds sterling, price_currency_code is \"GBP\".",
          "type": "string"
        },
        "introductoryPriceCycles": {
          "type": "integer",
          "description": "The number of billing period to offer introductory pricing.",
          "format": "int32"
        },
        "introductoryPriceAmountMicros": {
          "description": "Introductory price of the subscription, not including tax. The currency is the same as price_currency_code. Price is expressed in micro-units, where 1,000,000 micro-units represents one unit of the currency. For example, if the subscription price is €1.99, price_amount_micros is 1990000.",
          "type": "string",
          "format": "int64"
        },
        "introductoryPricePeriod": {
          "type": "string",
          "description": "Introductory price period, specified in ISO 8601 format. Common values are (but not limited to) \"P1W\" (one week), \"P1M\" (one month), \"P3M\" (three months), \"P6M\" (six months), and \"P1Y\" (one year)."
        }
      }
    },
    "SubscriptionCancelSurveyResult": {
      "properties": {
        "userInputCancelReason": {
          "type": "string",
          "description": "The customized input cancel reason from the user. Only present when cancelReason is 0."
        },
        "cancelSurveyReason": {
          "description": "The cancellation reason the user chose in the survey. Possible values are: 0. Other 1. I don't use this service enough 2. Technical issues 3. Cost-related reasons 4. I found a better app",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "SubscriptionCancelSurveyResult",
      "type": "object",
      "description": "Information provided by the user when they complete the subscription cancellation flow (cancellation reason survey)."
    },
    "ReviewsListResponse": {
      "id": "ReviewsListResponse",
      "description": "Response listing reviews.",
      "properties": {
        "tokenPagination": {
          "description": "Pagination token, to handle a number of products that is over one page.",
          "$ref": "TokenPagination"
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "Information about the current page."
        },
        "reviews": {
          "type": "array",
          "description": "List of reviews.",
          "items": {
            "$ref": "Review"
          }
        }
      },
      "type": "object"
    },
    "SubscriptionPurchasesDeferResponse": {
      "description": "Response for the purchases.subscriptions.defer API.",
      "id": "SubscriptionPurchasesDeferResponse",
      "properties": {
        "newExpiryTimeMillis": {
          "type": "string",
          "format": "int64",
          "description": "The new expiry time for the subscription in milliseconds since the Epoch."
        }
      },
      "type": "object"
    },
    "BundlesListResponse": {
      "type": "object",
      "id": "BundlesListResponse",
      "description": "Response listing all bundles.",
      "properties": {
        "bundles": {
          "items": {
            "$ref": "Bundle"
          },
          "type": "array",
          "description": "All bundles."
        },
        "kind": {
          "description": "The kind of this response (\"androidpublisher#bundlesListResponse\").",
          "type": "string"
        }
      }
    },
    "InAppProduct": {
      "type": "object",
      "properties": {
        "defaultPrice": {
          "$ref": "Price",
          "description": "Default price. Cannot be zero, as in-app products are never free. Always in the developer's Checkout merchant currency."
        },
        "sku": {
          "description": "Stock-keeping-unit (SKU) of the product, unique within an app.",
          "type": "string"
        },
        "packageName": {
          "description": "Package name of the parent app.",
          "type": "string"
        },
        "trialPeriod": {
          "type": "string",
          "description": "Trial period, specified in ISO 8601 format. Acceptable values are anything between P7D (seven days) and P999D (999 days)."
        },
        "purchaseType": {
          "enumDescriptions": [
            "Unspecified purchase type.",
            "The default product type - one time purchase.",
            "In-app product with a recurring period."
          ],
          "description": "The type of the product, e.g. a recurring subscription.",
          "type": "string",
          "enum": [
            "purchaseTypeUnspecified",
            "managedUser",
            "subscription"
          ]
        },
        "gracePeriod": {
          "description": "Grace period of the subscription, specified in ISO 8601 format. Allows developers to give their subscribers a grace period when the payment for the new recurrence period is declined. Acceptable values are P0D (zero days), P3D (three days), P7D (seven days), P14D (14 days), and P30D (30 days).",
          "type": "string"
        },
        "defaultLanguage": {
          "description": "Default language of the localized data, as defined by BCP-47. e.g. \"en-US\".",
          "type": "string"
        },
        "status": {
          "description": "The status of the product, e.g. whether it's active.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified status.",
            "The product is published and active in the store.",
            "The product is not published and therefore inactive in the store."
          ],
          "enum": [
            "statusUnspecified",
            "active",
            "inactive"
          ]
        },
        "prices": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Price"
          },
          "description": "Prices per buyer region. None of these can be zero, as in-app products are never free. Map key is region code, as defined by ISO 3166-2."
        },
        "listings": {
          "description": "List of localized title and description data. Map key is the language of the localized data, as defined by BCP-47, e.g. \"en-US\".",
          "type": "object",
          "additionalProperties": {
            "$ref": "InAppProductListing"
          }
        },
        "subscriptionPeriod": {
          "description": "Subscription period, specified in ISO 8601 format. Acceptable values are P1W (one week), P1M (one month), P3M (three months), P6M (six months), and P1Y (one year).",
          "type": "string"
        }
      },
      "description": "An in-app product. The resource for InappproductsService.",
      "id": "InAppProduct"
    },
    "ExternallyHostedApk": {
      "id": "ExternallyHostedApk",
      "properties": {
        "usesFeatures": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The features required by this APK (optional)."
        },
        "versionName": {
          "type": "string",
          "description": "The version name of this APK."
        },
        "maximumSdk": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum SDK supported by this APK (optional)."
        },
        "fileSize": {
          "description": "The file size in bytes of this APK.",
          "type": "string",
          "format": "int64"
        },
        "externallyHostedUrl": {
          "type": "string",
          "description": "The URL at which the APK is hosted. This must be an https URL."
        },
        "certificateBase64s": {
          "type": "array",
          "description": "A certificate (or array of certificates if a certificate-chain is used) used to sign this APK, represented as a base64 encoded byte array.",
          "items": {
            "type": "string"
          }
        },
        "versionCode": {
          "format": "int32",
          "type": "integer",
          "description": "The version code of this APK."
        },
        "applicationLabel": {
          "description": "The application label.",
          "type": "string"
        },
        "fileSha256Base64": {
          "type": "string",
          "description": "The sha256 checksum of this APK, represented as a base64 encoded byte array."
        },
        "minimumSdk": {
          "format": "int32",
          "type": "integer",
          "description": "The minimum SDK targeted by this APK."
        },
        "fileSha1Base64": {
          "type": "string",
          "description": "The sha1 checksum of this APK, represented as a base64 encoded byte array."
        },
        "usesPermissions": {
          "description": "The permissions requested by this APK.",
          "type": "array",
          "items": {
            "$ref": "UsesPermission"
          }
        },
        "nativeCodes": {
          "description": "The native code environments supported by this APK (optional).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "packageName": {
          "type": "string",
          "description": "The package name."
        },
        "iconBase64": {
          "type": "string",
          "description": "The icon image from the APK, as a base64 encoded byte array."
        }
      },
      "description": "Defines an APK available for this application that is hosted externally and not uploaded to Google Play. This function is only available to organizations using Managed Play whose application is configured to restrict distribution to the organizations.",
      "type": "object"
    },
    "DeobfuscationFile": {
      "type": "object",
      "properties": {
        "symbolType": {
          "enumDescriptions": [
            "Unspecified deobfuscation file type.",
            "Proguard deobfuscation file type.",
            "Native debugging symbols file type."
          ],
          "enum": [
            "deobfuscationFileTypeUnspecified",
            "proguard",
            "nativeCode"
          ],
          "description": "The type of the deobfuscation file.",
          "type": "string"
        }
      },
      "id": "DeobfuscationFile",
      "description": "Represents a deobfuscation file."
    },
    "InternalAppSharingArtifact": {
      "type": "object",
      "id": "InternalAppSharingArtifact",
      "properties": {
        "sha256": {
          "type": "string",
          "description": "The sha256 hash of the artifact represented as a lowercase hexadecimal number, matching the output of the sha256sum command."
        },
        "downloadUrl": {
          "type": "string",
          "description": "The download URL generated for the uploaded artifact. Users that are authorized to download can follow the link to the Play Store app to install it."
        },
        "certificateFingerprint": {
          "type": "string",
          "description": "The sha256 fingerprint of the certificate used to sign the generated artifact."
        }
      },
      "description": "An artifact resource which gets created when uploading an APK or Android App Bundle through internal app sharing."
    },
    "ApksListResponse": {
      "id": "ApksListResponse",
      "type": "object",
      "description": "Response listing all APKs.",
      "properties": {
        "apks": {
          "type": "array",
          "items": {
            "$ref": "Apk"
          },
          "description": "All APKs."
        },
        "kind": {
          "type": "string",
          "description": "The kind of this response (\"androidpublisher#apksListResponse\")."
        }
      }
    },
    "SubscriptionDeferralInfo": {
      "description": "A SubscriptionDeferralInfo contains the data needed to defer a subscription purchase to a future expiry time.",
      "type": "object",
      "id": "SubscriptionDeferralInfo",
      "properties": {
        "expectedExpiryTimeMillis": {
          "description": "The expected expiry time for the subscription. If the current expiry time for the subscription is not the value specified here, the deferral will not occur.",
          "type": "string",
          "format": "int64"
        },
        "desiredExpiryTimeMillis": {
          "description": "The desired next expiry time to assign to the subscription, in milliseconds since the Epoch. The given time must be later/greater than the current expiry time for the subscription.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "Image": {
      "properties": {
        "sha256": {
          "type": "string",
          "description": "A sha256 hash of the image."
        },
        "id": {
          "type": "string",
          "description": "A unique id representing this image."
        },
        "sha1": {
          "type": "string",
          "description": "A sha1 hash of the image."
        },
        "url": {
          "type": "string",
          "description": "A URL that will serve a preview of the image."
        }
      },
      "type": "object",
      "description": "An uploaded image. The resource for ImagesService.",
      "id": "Image"
    },
    "ImagesUploadResponse": {
      "id": "ImagesUploadResponse",
      "description": "Response for uploading an image.",
      "type": "object",
      "properties": {
        "image": {
          "description": "The uploaded image.",
          "$ref": "Image"
        }
      }
    },
    "PageInfo": {
      "type": "object",
      "id": "PageInfo",
      "properties": {
        "totalResults": {
          "type": "integer",
          "description": "Total number of results available on the backend ! The total number of results in the result set.",
          "format": "int32"
        },
        "resultPerPage": {
          "format": "int32",
          "description": "Maximum number of results returned in one page. ! The number of results included in the API response.",
          "type": "integer"
        },
        "startIndex": {
          "type": "integer",
          "format": "int32",
          "description": "Index of the first result returned in the current page."
        }
      },
      "description": "Information about the current page. List operations that supports paging return only one \"page\" of results. This protocol buffer message describes the page that has been returned."
    },
    "TracksListResponse": {
      "type": "object",
      "id": "TracksListResponse",
      "properties": {
        "tracks": {
          "description": "All tracks.",
          "items": {
            "$ref": "Track"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "The kind of this response (\"androidpublisher#tracksListResponse\")."
        }
      },
      "description": "Response listing all tracks."
    },
    "ProductPurchase": {
      "properties": {
        "purchaseToken": {
          "description": "The purchase token generated to identify this purchase.",
          "type": "string"
        },
        "consumptionState": {
          "description": "The consumption state of the inapp product. Possible values are: 0. Yet to be consumed 1. Consumed",
          "type": "integer",
          "format": "int32"
        },
        "acknowledgementState": {
          "description": "The acknowledgement state of the inapp product. Possible values are: 0. Yet to be acknowledged 1. Acknowledged",
          "format": "int32",
          "type": "integer"
        },
        "quantity": {
          "type": "integer",
          "format": "int32",
          "description": "The quantity associated with the purchase of the inapp product."
        },
        "purchaseTimeMillis": {
          "type": "string",
          "description": "The time the product was purchased, in milliseconds since the epoch (Jan 1, 1970).",
          "format": "int64"
        },
        "orderId": {
          "description": "The order id associated with the purchase of the inapp product.",
          "type": "string"
        },
        "productId": {
          "type": "string",
          "description": "The inapp product SKU."
        },
        "developerPayload": {
          "description": "A developer-specified string that contains supplemental information about an order.",
          "type": "string"
        },
        "obfuscatedExternalAccountId": {
          "type": "string",
          "description": "An obfuscated version of the id that is uniquely associated with the user's account in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedaccountid when the purchase was made."
        },
        "obfuscatedExternalProfileId": {
          "type": "string",
          "description": "An obfuscated version of the id that is uniquely associated with the user's profile in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedprofileid when the purchase was made."
        },
        "purchaseState": {
          "description": "The purchase state of the order. Possible values are: 0. Purchased 1. Canceled 2. Pending",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "description": "This kind represents an inappPurchase object in the androidpublisher service.",
          "type": "string"
        },
        "purchaseType": {
          "type": "integer",
          "description": "The type of purchase of the inapp product. This field is only set if this purchase was not made using the standard in-app billing flow. Possible values are: 0. Test (i.e. purchased from a license testing account) 1. Promo (i.e. purchased using a promo code) 2. Rewarded (i.e. from watching a video ad instead of paying)",
          "format": "int32"
        },
        "regionCode": {
          "type": "string",
          "description": "ISO 3166-1 alpha-2 billing region code of the user at the time the product was granted."
        }
      },
      "id": "ProductPurchase",
      "description": "A ProductPurchase resource indicates the status of a user's inapp product purchase.",
      "type": "object"
    },
    "InAppProductListing": {
      "id": "InAppProductListing",
      "properties": {
        "description": {
          "description": "Description for the store listing.",
          "type": "string"
        },
        "benefits": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Localized entitlement benefits for a subscription."
        },
        "title": {
          "type": "string",
          "description": "Title for the store listing."
        }
      },
      "description": "Store listing of a single in-app product.",
      "type": "object"
    },
    "UsesPermission": {
      "properties": {
        "name": {
          "description": "The name of the permission requested.",
          "type": "string"
        },
        "maxSdkVersion": {
          "format": "int32",
          "description": "Optionally, the maximum SDK version for which the permission is required.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "UsesPermission",
      "description": "A permission used by this APK."
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "rootUrl": "https://androidpublisher.googleapis.com/",
  "title": "Google Play Android Developer API",
  "baseUrl": "https://androidpublisher.googleapis.com/",
  "ownerDomain": "google.com",
  "canonicalName": "Android Publisher",
  "ownerName": "Google",
  "name": "androidpublisher",
  "description": "Lets Android application developers access their Google Play accounts.",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "basePath": "",
  "resources": {
    "purchases": {
      "resources": {
        "subscriptions": {
          "methods": {
            "defer": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "packageName": {
                  "location": "path",
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "required": true,
                  "type": "string"
                },
                "subscriptionId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The purchased subscription ID (for example, 'monthly001')."
                },
                "token": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The token provided to the user's device when the subscription was purchased."
                }
              },
              "id": "androidpublisher.purchases.subscriptions.defer",
              "response": {
                "$ref": "SubscriptionPurchasesDeferResponse"
              },
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer",
              "description": "Defers a user's subscription purchase until a specified future expiration time.",
              "httpMethod": "POST",
              "request": {
                "$ref": "SubscriptionPurchasesDeferRequest"
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer"
            },
            "acknowledge": {
              "id": "androidpublisher.purchases.subscriptions.acknowledge",
              "description": "Acknowledges a subscription purchase.",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:acknowledge",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:acknowledge",
              "parameters": {
                "subscriptionId": {
                  "location": "path",
                  "type": "string",
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "required": true
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing')."
                },
                "token": {
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "SubscriptionPurchasesAcknowledgeRequest"
              }
            },
            "cancel": {
              "httpMethod": "POST",
              "description": "Cancels a user's subscription purchase. The subscription remains valid until its expiration time.",
              "parameters": {
                "subscriptionId": {
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "required": true
                },
                "token": {
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:cancel",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:cancel",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.purchases.subscriptions.cancel"
            },
            "revoke": {
              "httpMethod": "POST",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:revoke",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:revoke",
              "parameters": {
                "packageName": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing')."
                },
                "token": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The token provided to the user's device when the subscription was purchased."
                },
                "subscriptionId": {
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.purchases.subscriptions.revoke",
              "description": "Refunds and immediately revokes a user's subscription purchase. Access to the subscription will be terminated immediately and it will stop recurring."
            },
            "refund": {
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:refund",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Refunds a user's subscription purchase, but the subscription remains valid until its expiration time and it will continue to recur.",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:refund",
              "httpMethod": "POST",
              "parameters": {
                "subscriptionId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "\"The purchased subscription ID (for example, 'monthly001')."
                },
                "token": {
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing')."
                }
              },
              "id": "androidpublisher.purchases.subscriptions.refund"
            },
            "get": {
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}",
              "response": {
                "$ref": "SubscriptionPurchase"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "GET",
              "parameters": {
                "packageName": {
                  "type": "string",
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "required": true,
                  "location": "path"
                },
                "subscriptionId": {
                  "location": "path",
                  "required": true,
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "type": "string"
                },
                "token": {
                  "type": "string",
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}",
              "id": "androidpublisher.purchases.subscriptions.get",
              "description": "Checks whether a user's subscription purchase is valid and returns its expiry time."
            }
          }
        },
        "products": {
          "methods": {
            "acknowledge": {
              "parameters": {
                "token": {
                  "description": "The token provided to the user's device when the inapp product was purchased.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "productId": {
                  "location": "path",
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1').",
                  "type": "string",
                  "required": true
                },
                "packageName": {
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "request": {
                "$ref": "ProductPurchasesAcknowledgeRequest"
              },
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ],
              "description": "Acknowledges a purchase of an inapp item.",
              "id": "androidpublisher.purchases.products.acknowledge",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "POST",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:acknowledge",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:acknowledge"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}",
              "description": "Checks the purchase and consumption status of an inapp item.",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}",
              "id": "androidpublisher.purchases.products.get",
              "httpMethod": "GET",
              "parameters": {
                "packageName": {
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "token": {
                  "type": "string",
                  "location": "path",
                  "description": "The token provided to the user's device when the inapp product was purchased.",
                  "required": true
                },
                "productId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1')."
                }
              },
              "response": {
                "$ref": "ProductPurchase"
              }
            }
          }
        },
        "voidedpurchases": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "GET",
              "description": "Lists the purchases that were canceled, refunded or charged-back.",
              "id": "androidpublisher.purchases.voidedpurchases.list",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/voidedpurchases",
              "parameterOrder": [
                "packageName"
              ],
              "response": {
                "$ref": "VoidedPurchasesListResponse"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/voidedpurchases",
              "parameters": {
                "endTime": {
                  "format": "int64",
                  "location": "query",
                  "description": "The time, in milliseconds since the Epoch, of the newest voided purchase that you want to see in the response. The value of this parameter cannot be greater than the current time and is ignored if a pagination token is set. Default value is current time. Note: This filter is applied on the time at which the record is seen as voided by our systems and not the actual voided time returned in the response.",
                  "type": "string"
                },
                "token": {
                  "description": "Defines the token of the page to return, usually taken from TokenPagination. This can only be used if token paging is enabled.",
                  "location": "query",
                  "type": "string"
                },
                "packageName": {
                  "description": "The package name of the application for which voided purchases need to be returned (for example, 'com.some.thing').",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "startTime": {
                  "type": "string",
                  "location": "query",
                  "format": "int64",
                  "description": "The time, in milliseconds since the Epoch, of the oldest voided purchase that you want to see in the response. The value of this parameter cannot be older than 30 days and is ignored if a pagination token is set. Default value is current time minus 30 days. Note: This filter is applied on the time at which the record is seen as voided by our systems and not the actual voided time returned in the response."
                },
                "startIndex": {
                  "type": "integer",
                  "description": "Defines the index of the first element to return. This can only be used if indexed paging is enabled.",
                  "location": "query",
                  "format": "uint32"
                },
                "type": {
                  "location": "query",
                  "description": "The type of voided purchases that you want to see in the response. Possible values are: 0. Only voided in-app product purchases will be returned in the response. This is the default value. 1. Both voided in-app purchases and voided subscription purchases will be returned in the response. Note: Before requesting to receive voided subscription purchases, you must switch to use orderId in the response which uniquely identifies one-time purchases and subscriptions. Otherwise, you will receive multiple subscription orders with the same PurchaseToken, because subscription renewal orders share the same PurchaseToken.",
                  "type": "integer",
                  "format": "int32"
                },
                "maxResults": {
                  "description": "Defines how many results the list operation should return. The default number depends on the resource collection.",
                  "type": "integer",
                  "location": "query",
                  "format": "uint32"
                }
              }
            }
          }
        }
      }
    },
    "systemapks": {
      "resources": {
        "variants": {
          "methods": {
            "list": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "description": "Returns the list of previously created system APK variants.",
              "id": "androidpublisher.systemapks.variants.list",
              "parameterOrder": [
                "packageName",
                "versionCode"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "SystemApksListResponse"
              },
              "parameters": {
                "versionCode": {
                  "format": "int64",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The version code of the App Bundle."
                },
                "packageName": {
                  "location": "path",
                  "description": "Unique identifier of the Android app.",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "get": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}",
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.systemapks.variants.get",
              "httpMethod": "GET",
              "parameterOrder": [
                "packageName",
                "versionCode",
                "variantId"
              ],
              "parameters": {
                "packageName": {
                  "location": "path",
                  "description": "Unique identifier of the Android app.",
                  "required": true,
                  "type": "string"
                },
                "variantId": {
                  "location": "path",
                  "description": "The ID of a previously created system APK variant.",
                  "required": true,
                  "type": "integer",
                  "format": "uint32"
                },
                "versionCode": {
                  "format": "int64",
                  "description": "The version code of the App Bundle.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Variant"
              },
              "description": "Returns a previously created system APK variant."
            },
            "download": {
              "parameterOrder": [
                "packageName",
                "versionCode",
                "variantId"
              ],
              "parameters": {
                "variantId": {
                  "format": "uint32",
                  "required": true,
                  "type": "integer",
                  "location": "path",
                  "description": "The ID of a previously created system APK variant."
                },
                "versionCode": {
                  "format": "int64",
                  "description": "The version code of the App Bundle.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "packageName": {
                  "type": "string",
                  "description": "Unique identifier of the Android app.",
                  "required": true,
                  "location": "path"
                }
              },
              "useMediaDownloadService": true,
              "supportsMediaDownload": true,
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}:download",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Downloads a previously created system APK which is suitable for inclusion in a system image.",
              "id": "androidpublisher.systemapks.variants.download",
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}:download"
            },
            "create": {
              "parameters": {
                "packageName": {
                  "required": true,
                  "type": "string",
                  "description": "Unique identifier of the Android app.",
                  "location": "path"
                },
                "versionCode": {
                  "type": "string",
                  "description": "The version code of the App Bundle.",
                  "required": true,
                  "location": "path",
                  "format": "int64"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "packageName",
                "versionCode"
              ],
              "description": "Creates an APK which is suitable for inclusion in a system image from an already uploaded Android App Bundle.",
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "response": {
                "$ref": "Variant"
              },
              "id": "androidpublisher.systemapks.variants.create",
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "request": {
                "$ref": "Variant"
              }
            }
          }
        }
      }
    },
    "reviews": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [
            "packageName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews",
          "id": "androidpublisher.reviews.list",
          "response": {
            "$ref": "ReviewsListResponse"
          },
          "path": "androidpublisher/v3/applications/{packageName}/reviews",
          "parameters": {
            "maxResults": {
              "location": "query",
              "format": "uint32",
              "type": "integer",
              "description": "How many results the list operation should return."
            },
            "startIndex": {
              "format": "uint32",
              "description": "The index of the first element to return.",
              "type": "integer",
              "location": "query"
            },
            "token": {
              "description": "Pagination token. If empty, list starts at the first review.",
              "type": "string",
              "location": "query"
            },
            "translationLanguage": {
              "location": "query",
              "description": "Language localization code.",
              "type": "string"
            },
            "packageName": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Package name of the app."
            }
          },
          "description": "Lists all reviews."
        },
        "get": {
          "parameterOrder": [
            "packageName",
            "reviewId"
          ],
          "httpMethod": "GET",
          "description": "Gets a single review.",
          "parameters": {
            "translationLanguage": {
              "description": "Language localization code.",
              "type": "string",
              "location": "query"
            },
            "packageName": {
              "description": "Package name of the app.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "reviewId": {
              "location": "path",
              "required": true,
              "description": "Unique identifier for a review.",
              "type": "string"
            }
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.reviews.get",
          "response": {
            "$ref": "Review"
          },
          "path": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}"
        },
        "reply": {
          "parameters": {
            "reviewId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Unique identifier for a review."
            },
            "packageName": {
              "type": "string",
              "description": "Package name of the app.",
              "required": true,
              "location": "path"
            }
          },
          "description": "Replies to a single review, or updates an existing reply.",
          "path": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}:reply",
          "request": {
            "$ref": "ReviewsReplyRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "packageName",
            "reviewId"
          ],
          "id": "androidpublisher.reviews.reply",
          "response": {
            "$ref": "ReviewsReplyResponse"
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}:reply"
        }
      }
    },
    "inappproducts": {
      "methods": {
        "list": {
          "parameters": {
            "packageName": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Package name of the app."
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "uint32",
              "description": "How many results the list operation should return."
            },
            "token": {
              "type": "string",
              "description": "Pagination token. If empty, list starts at the first product.",
              "location": "query"
            },
            "startIndex": {
              "type": "integer",
              "format": "uint32",
              "description": "The index of the first element to return.",
              "location": "query"
            }
          },
          "description": "Lists all in-app products - both managed products and subscriptions.",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "parameterOrder": [
            "packageName"
          ],
          "id": "androidpublisher.inappproducts.list",
          "response": {
            "$ref": "InappproductsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "GET",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts"
        },
        "insert": {
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "response": {
            "$ref": "InAppProduct"
          },
          "request": {
            "$ref": "InAppProduct"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.inappproducts.insert",
          "parameterOrder": [
            "packageName"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "description": "Creates an in-app product (i.e. a managed product or a subscriptions).",
          "httpMethod": "POST",
          "parameters": {
            "autoConvertMissingPrices": {
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
              "type": "boolean",
              "location": "query"
            },
            "packageName": {
              "required": true,
              "description": "Package name of the app.",
              "location": "path",
              "type": "string"
            }
          }
        },
        "update": {
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "request": {
            "$ref": "InAppProduct"
          },
          "description": "Updates an in-app product (i.e. a managed product or a subscriptions).",
          "id": "androidpublisher.inappproducts.update",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "InAppProduct"
          },
          "parameters": {
            "autoConvertMissingPrices": {
              "type": "boolean",
              "location": "query",
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false."
            },
            "sku": {
              "location": "path",
              "description": "Unique identifier for the in-app product.",
              "type": "string",
              "required": true
            },
            "packageName": {
              "location": "path",
              "required": true,
              "description": "Package name of the app.",
              "type": "string"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}"
        },
        "patch": {
          "request": {
            "$ref": "InAppProduct"
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "description": "Patches an in-app product (i.e. a managed product or a subscriptions).",
          "id": "androidpublisher.inappproducts.patch",
          "parameters": {
            "sku": {
              "location": "path",
              "required": true,
              "description": "Unique identifier for the in-app product.",
              "type": "string"
            },
            "autoConvertMissingPrices": {
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
              "location": "query",
              "type": "boolean"
            },
            "packageName": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Package name of the app."
            }
          },
          "response": {
            "$ref": "InAppProduct"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "packageName",
            "sku"
          ]
        },
        "get": {
          "id": "androidpublisher.inappproducts.get",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "response": {
            "$ref": "InAppProduct"
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Gets an in-app product, which can be a managed product or a subscription.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "parameters": {
            "sku": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Unique identifier for the in-app product."
            },
            "packageName": {
              "required": true,
              "location": "path",
              "description": "Package name of the app.",
              "type": "string"
            }
          },
          "httpMethod": "GET"
        },
        "delete": {
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "sku": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Unique identifier for the in-app product."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "description": "Deletes an in-app product (i.e. a managed product or a subscriptions).",
          "httpMethod": "DELETE",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "id": "androidpublisher.inappproducts.delete",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}"
        }
      }
    },
    "orders": {
      "methods": {
        "refund": {
          "id": "androidpublisher.orders.refund",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:refund",
          "parameters": {
            "packageName": {
              "description": "The package name of the application for which this subscription or in-app item was purchased (for example, 'com.some.thing').",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "revoke": {
              "description": "Whether to revoke the purchased item. If set to true, access to the subscription or in-app item will be terminated immediately. If the item is a recurring subscription, all future payments will also be terminated. Consumed in-app items need to be handled by developer's app. (optional).",
              "location": "query",
              "type": "boolean"
            },
            "orderId": {
              "description": "The order ID provided to the user when the subscription or in-app order was purchased.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:refund",
          "httpMethod": "POST",
          "description": "Refund a user's subscription or in-app purchase order.",
          "parameterOrder": [
            "packageName",
            "orderId"
          ]
        }
      }
    },
    "internalappsharingartifacts": {
      "methods": {
        "uploadapk": {
          "response": {
            "$ref": "InternalAppSharingArtifact"
          },
          "supportsMediaUpload": true,
          "mediaUpload": {
            "protocols": {
              "simple": {
                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
                "multipart": true
              },
              "resumable": {
                "path": "/resumable/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
                "multipart": true
              }
            },
            "maxSize": "1073741824",
            "accept": [
              "application/octet-stream",
              "application/vnd.android.package-archive"
            ]
          },
          "path": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
          "parameterOrder": [
            "packageName"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
          "description": "Uploads an APK to internal app sharing. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java.",
          "id": "androidpublisher.internalappsharingartifacts.uploadapk"
        },
        "uploadbundle": {
          "parameters": {
            "packageName": {
              "location": "path",
              "description": "Package name of the app.",
              "type": "string",
              "required": true
            }
          },
          "path": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
          "supportsMediaUpload": true,
          "flatPath": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
          "id": "androidpublisher.internalappsharingartifacts.uploadbundle",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "InternalAppSharingArtifact"
          },
          "parameterOrder": [
            "packageName"
          ],
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle"
              },
              "resumable": {
                "path": "/resumable/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
                "multipart": true
              }
            },
            "accept": [
              "application/octet-stream"
            ],
            "maxSize": "10737418240"
          },
[...]
