{
  "canonicalName": "Android Publisher",
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "mtlsRootUrl": "https://androidpublisher.mtls.googleapis.com/",
  "ownerName": "Google",
  "title": "Google Play Android Developer API",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/android-publisher",
  "description": "Lets Android application developers access their Google Play accounts.",
  "id": "androidpublisher:v3",
  "rootUrl": "https://androidpublisher.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "baseUrl": "https://androidpublisher.googleapis.com/",
  "revision": "20210728",
  "name": "androidpublisher",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "resources": {
    "internalappsharingartifacts": {
      "methods": {
        "uploadbundle": {
          "httpMethod": "POST",
          "mediaUpload": {
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle"
              }
            },
            "accept": [
              "application/octet-stream"
            ],
            "maxSize": "10737418240"
          },
          "response": {
            "$ref": "InternalAppSharingArtifact"
          },
          "parameterOrder": [
            "packageName"
          ],
          "id": "androidpublisher.internalappsharingartifacts.uploadbundle",
          "path": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "supportsMediaUpload": true,
          "parameters": {
            "packageName": {
              "type": "string",
              "required": true,
              "description": "Package name of the app.",
              "location": "path"
            }
          },
          "description": "Uploads an app bundle to internal app sharing. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java.",
          "flatPath": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle"
        },
        "uploadapk": {
          "flatPath": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
          "parameters": {
            "packageName": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Package name of the app."
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "InternalAppSharingArtifact"
          },
          "id": "androidpublisher.internalappsharingartifacts.uploadapk",
          "mediaUpload": {
            "accept": [
              "application/octet-stream",
              "application/vnd.android.package-archive"
            ],
            "maxSize": "1073741824",
            "protocols": {
              "simple": {
                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
                "multipart": true
              },
              "resumable": {
                "path": "/resumable/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
                "multipart": true
              }
            }
          },
          "description": "Uploads an APK to internal app sharing. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java.",
          "parameterOrder": [
            "packageName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
          "supportsMediaUpload": true
        }
      }
    },
    "purchases": {
      "resources": {
        "products": {
          "methods": {
            "acknowledge": {
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:acknowledge",
              "description": "Acknowledges a purchase of an inapp item.",
              "request": {
                "$ref": "ProductPurchasesAcknowledgeRequest"
              },
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ],
              "httpMethod": "POST",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:acknowledge",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
                  "required": true
                },
                "token": {
                  "description": "The token provided to the user's device when the inapp product was purchased.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "productId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1')."
                }
              },
              "id": "androidpublisher.purchases.products.acknowledge"
            },
            "get": {
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ],
              "id": "androidpublisher.purchases.products.get",
              "description": "Checks the purchase and consumption status of an inapp item.",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "productId": {
                  "type": "string",
                  "location": "path",
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1').",
                  "required": true
                },
                "packageName": {
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "token": {
                  "location": "path",
                  "description": "The token provided to the user's device when the inapp product was purchased.",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "ProductPurchase"
              },
              "httpMethod": "GET",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}"
            }
          }
        },
        "voidedpurchases": {
          "methods": {
            "list": {
              "parameterOrder": [
                "packageName"
              ],
              "id": "androidpublisher.purchases.voidedpurchases.list",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/voidedpurchases",
              "description": "Lists the purchases that were canceled, refunded or charged-back.",
              "parameters": {
                "maxResults": {
                  "format": "uint32",
                  "type": "integer",
                  "description": "Defines how many results the list operation should return. The default number depends on the resource collection.",
                  "location": "query"
                },
                "type": {
                  "format": "int32",
                  "location": "query",
                  "description": "The type of voided purchases that you want to see in the response. Possible values are: 0. Only voided in-app product purchases will be returned in the response. This is the default value. 1. Both voided in-app purchases and voided subscription purchases will be returned in the response. Note: Before requesting to receive voided subscription purchases, you must switch to use orderId in the response which uniquely identifies one-time purchases and subscriptions. Otherwise, you will receive multiple subscription orders with the same PurchaseToken, because subscription renewal orders share the same PurchaseToken.",
                  "type": "integer"
                },
                "startTime": {
                  "format": "int64",
                  "description": "The time, in milliseconds since the Epoch, of the oldest voided purchase that you want to see in the response. The value of this parameter cannot be older than 30 days and is ignored if a pagination token is set. Default value is current time minus 30 days. Note: This filter is applied on the time at which the record is seen as voided by our systems and not the actual voided time returned in the response.",
                  "type": "string",
                  "location": "query"
                },
                "packageName": {
                  "location": "path",
                  "description": "The package name of the application for which voided purchases need to be returned (for example, 'com.some.thing').",
                  "type": "string",
                  "required": true
                },
                "startIndex": {
                  "format": "uint32",
                  "location": "query",
                  "description": "Defines the index of the first element to return. This can only be used if indexed paging is enabled.",
                  "type": "integer"
                },
                "token": {
                  "location": "query",
                  "type": "string",
                  "description": "Defines the token of the page to return, usually taken from TokenPagination. This can only be used if token paging is enabled."
                },
                "endTime": {
                  "location": "query",
                  "format": "int64",
                  "type": "string",
                  "description": "The time, in milliseconds since the Epoch, of the newest voided purchase that you want to see in the response. The value of this parameter cannot be greater than the current time and is ignored if a pagination token is set. Default value is current time. Note: This filter is applied on the time at which the record is seen as voided by our systems and not the actual voided time returned in the response."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "VoidedPurchasesListResponse"
              },
              "httpMethod": "GET",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/voidedpurchases"
            }
          }
        },
        "subscriptions": {
          "methods": {
            "acknowledge": {
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:acknowledge",
              "parameters": {
                "packageName": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing')."
                },
                "subscriptionId": {
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "token": {
                  "location": "path",
                  "type": "string",
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "required": true
                }
              },
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "SubscriptionPurchasesAcknowledgeRequest"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:acknowledge",
              "id": "androidpublisher.purchases.subscriptions.acknowledge",
              "description": "Acknowledges a subscription purchase."
            },
            "defer": {
              "httpMethod": "POST",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "description": "Defers a user's subscription purchase until a specified future expiration time.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer",
              "parameters": {
                "packageName": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing')."
                },
                "subscriptionId": {
                  "type": "string",
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "required": true,
                  "location": "path"
                },
                "token": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The token provided to the user's device when the subscription was purchased."
                }
              },
              "id": "androidpublisher.purchases.subscriptions.defer",
              "request": {
                "$ref": "SubscriptionPurchasesDeferRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "SubscriptionPurchasesDeferResponse"
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer"
            },
            "cancel": {
              "id": "androidpublisher.purchases.subscriptions.cancel",
              "description": "Cancels a user's subscription purchase. The subscription remains valid until its expiration time.",
              "httpMethod": "POST",
              "parameters": {
                "subscriptionId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The purchased subscription ID (for example, 'monthly001')."
                },
                "token": {
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "required": true
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:cancel",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:cancel",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ]
            },
            "revoke": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:revoke",
              "description": "Refunds and immediately revokes a user's subscription purchase. Access to the subscription will be terminated immediately and it will stop recurring.",
              "id": "androidpublisher.purchases.subscriptions.revoke",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:revoke",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "parameters": {
                "token": {
                  "location": "path",
                  "type": "string",
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "required": true
                },
                "packageName": {
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "subscriptionId": {
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "POST"
            },
            "refund": {
              "httpMethod": "POST",
              "description": "Refunds a user's subscription purchase, but the subscription remains valid until its expiration time and it will continue to recur.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:refund",
              "parameters": {
                "token": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The token provided to the user's device when the subscription was purchased."
                },
                "subscriptionId": {
                  "description": "\"The purchased subscription ID (for example, 'monthly001').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:refund",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.purchases.subscriptions.refund",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ]
            },
            "get": {
              "parameters": {
                "packageName": {
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "token": {
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "subscriptionId": {
                  "type": "string",
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "response": {
                "$ref": "SubscriptionPurchase"
              },
              "id": "androidpublisher.purchases.subscriptions.get",
              "description": "Checks whether a user's subscription purchase is valid and returns its expiry time.",
              "httpMethod": "GET",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            }
          }
        }
      }
    },
    "orders": {
      "methods": {
        "refund": {
          "id": "androidpublisher.orders.refund",
          "parameters": {
            "orderId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The order ID provided to the user when the subscription or in-app order was purchased."
            },
            "revoke": {
              "description": "Whether to revoke the purchased item. If set to true, access to the subscription or in-app item will be terminated immediately. If the item is a recurring subscription, all future payments will also be terminated. Consumed in-app items need to be handled by developer's app. (optional).",
              "location": "query",
              "type": "boolean"
            },
            "packageName": {
              "description": "The package name of the application for which this subscription or in-app item was purchased (for example, 'com.some.thing').",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:refund",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:refund",
          "description": "Refund a user's subscription or in-app purchase order.",
          "parameterOrder": [
            "packageName",
            "orderId"
          ]
        }
      }
    },
    "edits": {
      "resources": {
        "bundles": {
          "methods": {
            "upload": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "editId": {
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path"
                },
                "ackBundleInstallationWarning": {
                  "location": "query",
                  "description": "Must be set to true if the app bundle installation may trigger a warning on user devices (for example, if installation size may be over a threshold, typically 100 MB).",
                  "type": "boolean"
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "Package name of the app.",
                  "required": true
                }
              },
              "response": {
                "$ref": "Bundle"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "httpMethod": "POST",
              "id": "androidpublisher.edits.bundles.upload",
              "supportsMediaUpload": true,
              "description": "Uploads a new Android App Bundle to this edit. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java.",
              "mediaUpload": {
                "accept": [
                  "application/octet-stream"
                ],
                "maxSize": "10737418240",
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles"
                  },
                  "simple": {
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
                    "multipart": true
                  }
                }
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ]
            },
            "list": {
              "parameters": {
                "editId": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "required": true
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "BundlesListResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "description": "Lists all current Android App Bundles of the app and edit.",
              "httpMethod": "GET",
              "id": "androidpublisher.edits.bundles.list",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles"
            }
          }
        },
        "deobfuscationfiles": {
          "methods": {
            "upload": {
              "httpMethod": "POST",
              "parameters": {
                "deobfuscationFileType": {
                  "enum": [
                    "deobfuscationFileTypeUnspecified",
                    "proguard",
                    "nativeCode"
                  ],
                  "type": "string",
                  "required": true,
                  "enumDescriptions": [
                    "Unspecified deobfuscation file type.",
                    "Proguard deobfuscation file type.",
                    "Native debugging symbols file type."
                  ],
                  "description": "The type of the deobfuscation file.",
                  "location": "path"
                },
                "editId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Unique identifier for this edit."
                },
                "apkVersionCode": {
                  "type": "integer",
                  "location": "path",
                  "description": "The version code of the APK whose Deobfuscation File is being uploaded.",
                  "required": true,
                  "format": "int32"
                },
                "packageName": {
                  "required": true,
                  "description": "Unique identifier for the Android app.",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}",
              "mediaUpload": {
                "accept": [
                  "application/octet-stream"
                ],
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}"
                  },
                  "resumable": {
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}",
                    "multipart": true
                  }
                },
                "maxSize": "314572800"
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "deobfuscationFileType"
              ],
              "id": "androidpublisher.edits.deobfuscationfiles.upload",
              "supportsMediaUpload": true,
              "response": {
                "$ref": "DeobfuscationFilesUploadResponse"
              },
              "description": "Uploads a new deobfuscation file and attaches to the specified APK.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}"
            }
          }
        },
        "expansionfiles": {
          "methods": {
            "patch": {
              "parameters": {
                "apkVersionCode": {
                  "location": "path",
                  "format": "int32",
                  "required": true,
                  "type": "integer",
                  "description": "The version code of the APK whose expansion file configuration is being read or modified."
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "expansionFileType": {
                  "enumDescriptions": [
                    "Unspecified expansion file type.",
                    "Main expansion file.",
                    "Patch expansion file."
                  ],
                  "type": "string",
                  "location": "path",
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "description": "The file type of the expansion file configuration which is being updated.",
                  "required": true
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "description": "Package name of the app.",
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "response": {
                "$ref": "ExpansionFile"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "description": "Patches the APK's expansion file configuration to reference another APK's expansion file. To add a new expansion file use the Upload method.",
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "request": {
                "$ref": "ExpansionFile"
              },
              "httpMethod": "PATCH",
              "id": "androidpublisher.edits.expansionfiles.patch",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "upload": {
              "description": "Uploads a new expansion file and attaches to the specified APK.",
              "mediaUpload": {
                "accept": [
                  "application/octet-stream"
                ],
                "maxSize": "2147483648",
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}"
                  },
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}"
                  }
                }
              },
              "supportsMediaUpload": true,
              "parameters": {
                "expansionFileType": {
                  "description": "The file type of the expansion file configuration which is being updated.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "enumDescriptions": [
                    "Unspecified expansion file type.",
                    "Main expansion file.",
                    "Patch expansion file."
                  ]
                },
                "apkVersionCode": {
                  "type": "integer",
                  "required": true,
                  "location": "path",
                  "description": "The version code of the APK whose expansion file configuration is being read or modified.",
                  "format": "int32"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "editId": {
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "response": {
                "$ref": "ExpansionFilesUploadResponse"
              },
              "httpMethod": "POST",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "id": "androidpublisher.edits.expansionfiles.upload",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}"
            },
            "get": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "description": "Fetches the expansion file configuration for the specified APK.",
              "response": {
                "$ref": "ExpansionFile"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "id": "androidpublisher.edits.expansionfiles.get",
              "parameters": {
                "expansionFileType": {
                  "location": "path",
                  "type": "string",
                  "description": "The file type of the file configuration which is being read or modified.",
                  "required": true,
                  "enumDescriptions": [
                    "Unspecified expansion file type.",
                    "Main expansion file.",
                    "Patch expansion file."
                  ],
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ]
                },
                "editId": {
                  "required": true,
                  "location": "path",
                  "description": "Identifier of the edit.",
                  "type": "string"
                },
                "apkVersionCode": {
                  "type": "integer",
                  "location": "path",
                  "description": "The version code of the APK whose expansion file configuration is being read or modified.",
                  "format": "int32",
                  "required": true
                },
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "description": "Package name of the app.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "update": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "id": "androidpublisher.edits.expansionfiles.update",
              "httpMethod": "PUT",
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "apkVersionCode": {
                  "required": true,
                  "location": "path",
                  "format": "int32",
                  "type": "integer",
                  "description": "The version code of the APK whose expansion file configuration is being read or modified."
                },
                "expansionFileType": {
                  "description": "The file type of the file configuration which is being read or modified.",
                  "enumDescriptions": [
                    "Unspecified expansion file type.",
                    "Main expansion file.",
                    "Patch expansion file."
                  ],
                  "type": "string",
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "ExpansionFile"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "description": "Updates the APK's expansion file configuration to reference another APK's expansion file. To add a new expansion file use the Upload method.",
              "request": {
                "$ref": "ExpansionFile"
              }
            }
          }
        },
        "apks": {
          "methods": {
            "list": {
              "parameters": {
                "editId": {
                  "location": "path",
                  "description": "Identifier of the edit.",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "Package name of the app.",
                  "required": true
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "response": {
                "$ref": "ApksListResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Lists all current APKs of the app and edit.",
              "httpMethod": "GET",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "id": "androidpublisher.edits.apks.list"
            },
            "addexternallyhosted": {
              "request": {
                "$ref": "ApksAddExternallyHostedRequest"
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "httpMethod": "POST",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/externallyHosted",
              "id": "androidpublisher.edits.apks.addexternallyhosted",
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "editId": {
                  "location": "path",
                  "description": "Identifier of the edit.",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Creates a new APK without uploading the APK itself to Google Play, instead hosting the APK at a specified URL. This function is only available to organizations using Managed Play whose application is configured to restrict distribution to the organizations.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/externallyHosted",
              "response": {
                "$ref": "ApksAddExternallyHostedResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "upload": {
              "httpMethod": "POST",
              "id": "androidpublisher.edits.apks.upload",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "Apk"
              },
              "description": "Uploads an APK and adds to the current edit.",
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "packageName": {
                  "required": true,
                  "location": "path",
                  "description": "Package name of the app.",
                  "type": "string"
                }
              },
              "mediaUpload": {
                "accept": [
                  "application/octet-stream",
                  "application/vnd.android.package-archive"
                ],
                "protocols": {
                  "simple": {
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
                    "multipart": true
                  },
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks"
                  }
                },
                "maxSize": "10737418240"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "supportsMediaUpload": true
            }
          }
        },
        "details": {
          "methods": {
            "patch": {
              "request": {
                "$ref": "AppDetails"
              },
              "id": "androidpublisher.edits.details.patch",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "httpMethod": "PATCH",
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "editId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the edit."
                }
              },
              "description": "Patches details of an app.",
              "response": {
                "$ref": "AppDetails"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "update": {
              "description": "Updates details of an app.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "request": {
                "$ref": "AppDetails"
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "id": "androidpublisher.edits.details.update",
              "parameters": {
                "editId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "AppDetails"
              },
              "httpMethod": "PUT"
            },
            "get": {
              "parameters": {
                "editId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Package name of the app."
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "AppDetails"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "description": "Gets details of an app.",
              "httpMethod": "GET",
              "id": "androidpublisher.edits.details.get"
            }
          }
        },
        "listings": {
          "methods": {
            "get": {
              "id": "androidpublisher.edits.listings.get",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "httpMethod": "GET",
              "description": "Gets a localized store listing.",
              "response": {
                "$ref": "Listing"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "parameters": {
                "packageName": {
                  "location": "path",
                  "description": "Package name of the app.",
                  "type": "string",
                  "required": true
                },
                "language": {
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "editId": {
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ]
            },
            "list": {
              "id": "androidpublisher.edits.listings.list",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "response": {
                "$ref": "ListingsListResponse"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "description": "Lists all localized store listings.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "httpMethod": "GET"
            },
            "deleteall": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "editId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit."
                }
              },
              "httpMethod": "DELETE",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "description": "Deletes all store listings.",
              "id": "androidpublisher.edits.listings.deleteall",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "editId"
              ]
            },
            "delete": {
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "language": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German)."
                },
                "editId": {
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the edit.",
                  "location": "path"
                }
              },
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "description": "Deletes a localized store listing.",
              "id": "androidpublisher.edits.listings.delete"
            },
            "update": {
              "response": {
                "$ref": "Listing"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "parameters": {
                "language": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German)."
                },
                "packageName": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Package name of the app."
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "id": "androidpublisher.edits.listings.update",
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "request": {
                "$ref": "Listing"
              },
              "description": "Creates or updates a localized store listing.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}"
            },
            "patch": {
              "request": {
                "$ref": "Listing"
              },
              "id": "androidpublisher.edits.listings.patch",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "response": {
                "$ref": "Listing"
              },
              "parameters": {
                "language": {
                  "location": "path",
                  "type": "string",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
                  "required": true
                },
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "description": "Package name of the app.",
                  "required": true
                },
                "editId": {
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the edit.",
                  "location": "path"
                }
              },
              "description": "Patches a localized store listing.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "PATCH",
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ]
            }
          }
        },
        "testers": {
          "methods": {
            "get": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "response": {
                "$ref": "Testers"
              },
              "parameters": {
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app."
                },
                "editId": {
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true
                },
                "track": {
                  "type": "string",
                  "description": "The track to read from.",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "androidpublisher.edits.testers.get",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Gets testers.",
              "httpMethod": "GET"
            },
            "update": {
              "id": "androidpublisher.edits.testers.update",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "description": "Updates testers.",
              "response": {
                "$ref": "Testers"
              },
              "parameters": {
                "track": {
                  "description": "The track to update.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "editId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "Package name of the app.",
                  "required": true
                }
              },
              "request": {
                "$ref": "Testers"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}"
            },
            "patch": {
              "response": {
                "$ref": "Testers"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "description": "Patches testers.",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "parameters": {
                "track": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The track to update."
                },
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true
                },
                "editId": {
                  "location": "path",
                  "description": "Identifier of the edit.",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "Testers"
              },
              "id": "androidpublisher.edits.testers.patch"
            }
          }
        },
        "tracks": {
          "methods": {
            "patch": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "description": "Patches a track.",
              "parameters": {
                "track": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Identifier of the track."
                },
                "editId": {
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "required": true,
                  "location": "path"
                },
                "packageName": {
                  "required": true,
                  "description": "Package name of the app.",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "Track"
              },
              "id": "androidpublisher.edits.tracks.patch",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "httpMethod": "PATCH",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "request": {
                "$ref": "Track"
              }
            },
            "get": {
              "id": "androidpublisher.edits.tracks.get",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Gets a track.",
              "response": {
                "$ref": "Track"
              },
              "parameters": {
                "track": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Identifier of the track."
                },
                "editId": {
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path"
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "Package name of the app.",
                  "required": true
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}"
            },
            "update": {
              "request": {
                "$ref": "Track"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "track": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the track."
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "androidpublisher.edits.tracks.update",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "response": {
                "$ref": "Track"
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "httpMethod": "PUT",
              "description": "Updates a track.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}"
            },
            "list": {
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "id": "androidpublisher.edits.tracks.list",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks",
              "parameters": {
                "editId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Package name of the app."
                }
              },
              "response": {
                "$ref": "TracksListResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Lists all tracks.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks",
              "httpMethod": "GET"
            }
          }
        },
        "images": {
          "methods": {
            "deleteall": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "ImagesDeleteAllResponse"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ],
              "parameters": {
                "language": {
                  "required": true,
                  "type": "string",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German). Providing a language that is not supported by the App is a no-op.",
                  "location": "path"
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "imageType": {
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "TV banner."
                  ],
                  "location": "path",
                  "description": "Type of the Image. Providing an image type that refers to no images is a no-op.",
                  "required": true,
                  "type": "string",
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "tvBanner"
                  ]
                }
              },
              "id": "androidpublisher.edits.images.deleteall",
              "description": "Deletes all images for the specified language and image type. Returns an empty response if no images are found.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}"
            },
            "upload": {
              "parameters": {
                "imageType": {
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "TV banner."
                  ],
                  "required": true,
                  "type": "string",
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "tvBanner"
                  ],
                  "description": "Type of the Image.",
                  "location": "path"
                },
                "language": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German). Providing a language that is not supported by the App is a no-op."
                },
                "packageName": {
                  "location": "path",
                  "description": "Package name of the app.",
                  "type": "string",
                  "required": true
                },
                "editId": {
                  "location": "path",
                  "description": "Identifier of the edit.",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "supportsMediaUpload": true,
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Uploads an image of the specified language and image type, and adds to the edit.",
              "response": {
                "$ref": "ImagesUploadResponse"
              },
              "mediaUpload": {
                "maxSize": "15728640",
                "accept": [
                  "image/*"
                ],
                "protocols": {
                  "resumable": {
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
                    "multipart": true
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}"
                  }
                }
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ],
              "id": "androidpublisher.edits.images.upload",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}"
            },
            "delete": {
              "description": "Deletes the image (specified by id) from the edit.",
              "httpMethod": "DELETE",
              "id": "androidpublisher.edits.images.delete",
              "parameters": {
                "imageId": {
                  "description": "Unique identifier an image within the set of images attached to this edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "editId": {
                  "location": "path",
                  "description": "Identifier of the edit.",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "language": {
                  "required": true,
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
                  "type": "string",
                  "location": "path"
                },
                "imageType": {
                  "location": "path",
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "TV banner."
                  ],
                  "type": "string",
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "tvBanner"
                  ],
                  "required": true,
                  "description": "Type of the Image."
                }
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType",
                "imageId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}/{imageId}",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}/{imageId}"
            },
            "list": {
              "parameters": {
                "language": {
                  "required": true,
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German). There must be a store listing for the specified language.",
                  "location": "path",
                  "type": "string"
                },
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Package name of the app."
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "imageType": {
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "TV banner."
                  ],
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "tvBanner"
                  ],
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Type of the Image. Providing an image type that refers to no images will return an empty response."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "GET",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "description": "Lists all images. The response may be empty.",
              "response": {
                "$ref": "ImagesListResponse"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ],
              "id": "androidpublisher.edits.images.list"
            }
          }
        }
      },
      "methods": {
        "get": {
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "httpMethod": "GET",
          "id": "androidpublisher.edits.get",
          "response": {
            "$ref": "AppEdit"
          },
          "description": "Gets an app edit.",
          "parameters": {
            "editId": {
              "location": "path",
              "required": true,
              "description": "Identifier of the edit.",
              "type": "string"
            },
            "packageName": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Package name of the app."
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}"
        },
        "validate": {
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "AppEdit"
          },
          "description": "Validates an app edit.",
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "editId": {
              "location": "path",
              "type": "string",
              "description": "Identifier of the edit.",
              "required": true
            }
          },
          "id": "androidpublisher.edits.validate",
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}:validate",
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}:validate",
          "httpMethod": "POST"
        },
        "insert": {
          "parameterOrder": [
            "packageName"
          ],
          "request": {
            "$ref": "AppEdit"
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/edits",
          "httpMethod": "POST",
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "description": "Creates a new edit for an app.",
          "response": {
            "$ref": "AppEdit"
          },
          "id": "androidpublisher.edits.insert"
        },
        "delete": {
          "httpMethod": "DELETE",
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "description": "Deletes an app edit.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.edits.delete",
          "parameters": {
            "packageName": {
              "location": "path",
              "description": "Package name of the app.",
              "type": "string",
              "required": true
            },
            "editId": {
              "location": "path",
              "required": true,
              "description": "Identifier of the edit.",
              "type": "string"
            }
          }
        },
        "commit": {
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "description": "Commits an app edit.",
          "httpMethod": "POST",
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}:commit",
          "id": "androidpublisher.edits.commit",
          "response": {
            "$ref": "AppEdit"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}:commit",
          "parameters": {
            "editId": {
              "location": "path",
              "required": true,
              "description": "Identifier of the edit.",
              "type": "string"
            },
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "changesNotSentForReview": {
              "type": "boolean",
              "location": "query",
              "description": "Indicates that the changes in this edit will not be reviewed until they are explicitly sent for review from the Google Play Console UI. These changes will be added to any other changes that are not yet sent for review."
            }
          }
        }
      }
    },
    "systemapks": {
      "resources": {
        "variants": {
          "methods": {
            "create": {
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "versionCode": {
                  "required": true,
                  "format": "int64",
                  "location": "path",
                  "description": "The version code of the App Bundle.",
                  "type": "string"
                }
              },
              "id": "androidpublisher.systemapks.variants.create",
              "description": "Creates an APK which is suitable for inclusion in a system image from an already uploaded Android App Bundle.",
              "response": {
                "$ref": "Variant"
              },
              "parameterOrder": [
                "packageName",
                "versionCode"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "request": {
                "$ref": "Variant"
              },
              "httpMethod": "POST"
            },
            "list": {
              "response": {
                "$ref": "SystemApksListResponse"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "parameters": {
                "versionCode": {
                  "format": "int64",
                  "description": "The version code of the App Bundle.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "packageName",
                "versionCode"
              ],
              "id": "androidpublisher.systemapks.variants.list",
              "description": "Returns the list of previously created system APK variants."
            },
            "get": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}",
              "description": "Returns a previously created system APK variant.",
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "variantId": {
                  "required": true,
                  "description": "The ID of a previously created system APK variant.",
                  "location": "path",
                  "type": "integer",
                  "format": "uint32"
                },
                "versionCode": {
                  "type": "string",
                  "required": true,
                  "format": "int64",
                  "location": "path",
                  "description": "The version code of the App Bundle."
                }
              },
              "id": "androidpublisher.systemapks.variants.get",
              "parameterOrder": [
                "packageName",
                "versionCode",
                "variantId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "Variant"
              },
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}",
              "httpMethod": "GET"
            },
            "download": {
              "id": "androidpublisher.systemapks.variants.download",
              "useMediaDownloadService": true,
              "parameters": {
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "required": true,
                  "location": "path"
                },
                "variantId": {
                  "required": true,
                  "description": "The ID of a previously created system APK variant.",
                  "format": "uint32",
                  "location": "path",
                  "type": "integer"
                },
                "versionCode": {
                  "format": "int64",
                  "required": true,
                  "type": "string",
                  "description": "The version code of the App Bundle.",
                  "location": "path"
                }
              },
              "description": "Downloads a previously created system APK which is suitable for inclusion in a system image.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}:download",
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}:download",
              "supportsMediaDownload": true,
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "versionCode",
                "variantId"
              ],
              "httpMethod": "GET"
            }
          }
        }
      }
    },
    "reviews": {
      "methods": {
        "reply": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "request": {
            "$ref": "ReviewsReplyRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "packageName",
            "reviewId"
          ],
          "id": "androidpublisher.reviews.reply",
          "response": {
            "$ref": "ReviewsReplyResponse"
          },
          "path": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}:reply",
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}:reply",
          "description": "Replies to a single review, or updates an existing reply.",
          "parameters": {
            "packageName": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Package name of the app."
            },
            "reviewId": {
              "required": true,
              "type": "string",
              "description": "Unique identifier for a review.",
              "location": "path"
            }
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}",
          "response": {
            "$ref": "Review"
          },
          "parameterOrder": [
            "packageName",
            "reviewId"
          ],
          "description": "Gets a single review.",
          "httpMethod": "GET",
          "id": "androidpublisher.reviews.get",
          "path": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}",
          "parameters": {
            "translationLanguage": {
              "type": "string",
              "description": "Language localization code.",
              "location": "query"
            },
            "packageName": {
              "type": "string",
              "location": "path",
              "description": "Package name of the app.",
              "required": true
            },
            "reviewId": {
              "location": "path",
              "required": true,
              "description": "Unique identifier for a review.",
              "type": "string"
            }
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.reviews.list",
          "parameters": {
            "translationLanguage": {
              "type": "string",
              "location": "query",
              "description": "Language localization code."
            },
            "packageName": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Package name of the app."
            },
            "startIndex": {
              "format": "uint32",
              "location": "query",
              "type": "integer",
              "description": "The index of the first element to return."
            },
            "maxResults": {
              "type": "integer",
              "format": "uint32",
              "description": "How many results the list operation should return.",
              "location": "query"
            },
            "token": {
              "location": "query",
              "description": "Pagination token. If empty, list starts at the first review.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "ReviewsListResponse"
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews",
          "description": "Lists all reviews.",
          "parameterOrder": [
            "packageName"
          ],
          "httpMethod": "GET",
          "path": "androidpublisher/v3/applications/{packageName}/reviews"
        }
      }
    },
    "inappproducts": {
      "methods": {
        "patch": {
          "parameters": {
            "sku": {
              "type": "string",
              "location": "path",
              "description": "Unique identifier for the in-app product.",
              "required": true
            },
            "autoConvertMissingPrices": {
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
              "location": "query",
              "type": "boolean"
            },
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
[...]
