{
  "batchPath": "batch",
  "documentationLink": "https://developers.google.com/android/management",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidmanagement": {
          "description": "Manage Android devices and apps for your customers"
        }
      }
    }
  },
  "title": "Android Management API",
  "mtlsRootUrl": "https://androidmanagement.mtls.googleapis.com/",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "default": "json"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    }
  },
  "ownerName": "Google",
  "revision": "20220823",
  "servicePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "protocol": "rest",
  "baseUrl": "https://androidmanagement.googleapis.com/",
  "schemas": {
    "AppProcessInfo": {
      "type": "object",
      "properties": {
        "processName": {
          "type": "string",
          "description": "Process name."
        },
        "pid": {
          "description": "Process ID.",
          "format": "int32",
          "type": "integer"
        },
        "uid": {
          "format": "int32",
          "description": "UID of the package.",
          "type": "integer"
        },
        "apkSha256Hash": {
          "description": "SHA-256 hash of the base APK, in hexadecimal format.",
          "type": "string"
        },
        "seinfo": {
          "description": "SELinux policy info.",
          "type": "string"
        },
        "startTime": {
          "description": "Process start time.",
          "format": "google-datetime",
          "type": "string"
        },
        "packageNames": {
          "items": {
            "type": "string"
          },
          "description": "Package names of all packages that are associated with the particular user ID. In most cases, this will be a single package name, the package that has been assigned that user ID. If multiple application share a UID then all packages sharing UID will be included.",
          "type": "array"
        }
      },
      "id": "AppProcessInfo",
      "description": "Information about a process. It contains process name, start time, app Uid, app Pid, seinfo tag, hash of the base APK."
    },
    "BlockAction": {
      "type": "object",
      "properties": {
        "blockScope": {
          "description": "Specifies the scope of this BlockAction. Only applicable to devices that are company-owned.",
          "enum": [
            "BLOCK_SCOPE_UNSPECIFIED",
            "BLOCK_SCOPE_WORK_PROFILE",
            "BLOCK_SCOPE_DEVICE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Defaults to BLOCK_SCOPE_WORK_PROFILE.",
            "Block action is only applied to apps in the work profile. Apps in the personal profile are unaffected.",
            "Block action is applied to the entire device, including apps in the personal profile."
          ]
        },
        "blockAfterDays": {
          "type": "integer",
          "description": "Number of days the policy is non-compliant before the device or work profile is blocked. To block access immediately, set to 0. blockAfterDays must be less than wipeAfterDays.",
          "format": "int32"
        }
      },
      "description": "An action to block access to apps and data on a fully managed device or in a work profile. This action also triggers a device or work profile to displays a user-facing notification with information (where possible) on how to correct the compliance issue. Note: wipeAction must also be specified.",
      "id": "BlockAction"
    },
    "PackageNameList": {
      "id": "PackageNameList",
      "properties": {
        "packageNames": {
          "items": {
            "type": "string"
          },
          "description": "A list of package names.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "A list of package names."
    },
    "DeviceSettings": {
      "properties": {
        "unknownSourcesEnabled": {
          "description": "Whether installing apps from unknown sources is enabled.",
          "type": "boolean"
        },
        "isEncrypted": {
          "description": "Whether the storage encryption is enabled.",
          "type": "boolean"
        },
        "verifyAppsEnabled": {
          "description": "Whether Google Play Protect verification (https://support.google.com/accounts/answer/2812853) is enforced on the device.",
          "type": "boolean"
        },
        "developmentSettingsEnabled": {
          "description": "Whether developer mode is enabled on the device.",
          "type": "boolean"
        },
        "adbEnabled": {
          "type": "boolean",
          "description": "Whether ADB (https://developer.android.com/studio/command-line/adb.html) is enabled on the device."
        },
        "isDeviceSecure": {
          "description": "Whether the device is secured with PIN/password.",
          "type": "boolean"
        },
        "encryptionStatus": {
          "description": "Encryption status from DevicePolicyManager.",
          "enum": [
            "ENCRYPTION_STATUS_UNSPECIFIED",
            "UNSUPPORTED",
            "INACTIVE",
            "ACTIVATING",
            "ACTIVE",
            "ACTIVE_DEFAULT_KEY",
            "ACTIVE_PER_USER"
          ],
          "enumDescriptions": [
            "Unspecified. No device should have this type.",
            "Encryption is not supported by the device.",
            "Encryption is supported by the device, but is not currently active.",
            "Encryption is not currently active, but is currently being activated.",
            "Encryption is active.",
            "Encryption is active, but an encryption key is not set by the user.",
            "Encryption is active, and the encryption key is tied to the user profile."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Information about security related device settings on device.",
      "id": "DeviceSettings"
    },
    "DnsEvent": {
      "description": "A DNS lookup event was initiated through the standard network stack.",
      "type": "object",
      "id": "DnsEvent",
      "properties": {
        "hostname": {
          "description": "The hostname that was looked up.",
          "type": "string"
        },
        "totalIpAddressesReturned": {
          "description": "The number of IP addresses returned from the DNS lookup event. May be higher than the amount of ip_addresses if there were too many addresses to log.",
          "type": "string",
          "format": "int64"
        },
        "ipAddresses": {
          "description": "The (possibly truncated) list of the IP addresses returned for DNS lookup (max 10 IPv4 or IPv6 addresses).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "packageName": {
          "description": "The package name of the UID that performed the DNS lookup.",
          "type": "string"
        }
      }
    },
    "MediaUnmountEvent": {
      "type": "object",
      "properties": {
        "volumeLabel": {
          "description": "Volume label. Redacted to empty string on organization-owned managed profile devices.",
          "type": "string"
        },
        "mountPoint": {
          "description": "Mount point.",
          "type": "string"
        }
      },
      "id": "MediaUnmountEvent",
      "description": "Removable media was unmounted."
    },
    "AppTrackInfo": {
      "description": "Id to name association of a app track.",
      "properties": {
        "trackId": {
          "description": "The unmodifiable unique track identifier, taken from the releaseTrackId in the URL of the Play Console page that displays the app’s track information.",
          "type": "string"
        },
        "trackAlias": {
          "type": "string",
          "description": "The track name associated with the trackId, set in the Play Console. The name is modifiable from Play Console."
        }
      },
      "id": "AppTrackInfo",
      "type": "object"
    },
    "ApplicationPolicy": {
      "type": "object",
      "description": "Policy for an individual app.",
      "id": "ApplicationPolicy",
      "properties": {
        "minimumVersionCode": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum version of the app that runs on the device. If set, the device attempts to update the app to at least this version code. If the app is not up-to-date, the device will contain a NonComplianceDetail with non_compliance_reason set to APP_NOT_UPDATED. The app must already be published to Google Play with a version code greater than or equal to this value. At most 20 apps may specify a minimum version code per policy."
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether the app is disabled. When disabled, the app data is still preserved."
        },
        "extensionConfig": {
          "$ref": "ExtensionConfig",
          "description": "Configuration to enable this app as an extension app, with the capability of interacting with Android Device Policy offline.This field can be set for at most one app."
        },
        "managedConfigurationTemplate": {
          "description": "The managed configurations template for the app, saved from the managed configurations iframe. This field is ignored if managed_configuration is set.",
          "$ref": "ManagedConfigurationTemplate"
        },
        "permissionGrants": {
          "items": {
            "$ref": "PermissionGrant"
          },
          "type": "array",
          "description": "Explicit permission grants or denials for the app. These values override the default_permission_policy and permission_grants which apply to all apps."
        },
        "alwaysOnVpnLockdownExemption": {
          "type": "string",
          "enum": [
            "ALWAYS_ON_VPN_LOCKDOWN_EXEMPTION_UNSPECIFIED",
            "VPN_LOCKDOWN_ENFORCED",
            "VPN_LOCKDOWN_EXEMPTION"
          ],
          "enumDescriptions": [
            "Unspecified. Defaults to VPN_LOCKDOWN_ENFORCED.",
            "The app respects the always-on VPN lockdown setting.",
            "The app is exempt from the always-on VPN lockdown setting."
          ],
          "description": "Specifies whether the app is allowed networking when the VPN is not connected and alwaysOnVpnPackage.lockdownEnabled is enabled. If set to VPN_LOCKDOWN_ENFORCED, the app is not allowed networking, and if set to VPN_LOCKDOWN_EXEMPTION, the app is allowed networking. Only supported on devices running Android 10 and above. If this is not supported by the device, the device will contain a NonComplianceDetail with non_compliance_reason set to API_LEVEL and a fieldPath. If this is not applicable to the app, the device will contain a NonComplianceDetail with non_compliance_reason set to UNSUPPORTED and a fieldPath. The fieldPath is set to applications[i].alwaysOnVpnLockdownExemption, where i is the index of the package in the applications policy."
        },
        "accessibleTrackIds": {
          "description": "List of the app’s track IDs that a device belonging to the enterprise can access. If the list contains multiple track IDs, devices receive the latest version among all accessible tracks. If the list contains no track IDs, devices only have access to the app’s production track. More details about each track are available in AppTrackInfo.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "installType": {
          "enumDescriptions": [
            "Unspecified. Defaults to AVAILABLE.",
            "The app is automatically installed and can be removed by the user.",
            "The app is automatically installed and can't be removed by the user.",
            "The app is blocked and can't be installed. If the app was installed under a previous policy, it will be uninstalled.",
            "The app is available to install.",
            "The app is automatically installed and can't be removed by the user and will prevent setup from completion until installation is complete.",
            "The app is automatically installed in kiosk mode: it's set as the preferred home intent and whitelisted for lock task mode. Device setup won't complete until the app is installed. After installation, users won't be able to remove the app. You can only set this installType for one app per policy. When this is present in the policy, status bar will be automatically disabled."
          ],
          "enum": [
            "INSTALL_TYPE_UNSPECIFIED",
            "PREINSTALLED",
            "FORCE_INSTALLED",
            "BLOCKED",
            "AVAILABLE",
            "REQUIRED_FOR_SETUP",
            "KIOSK"
          ],
          "description": "The type of installation to perform.",
          "type": "string"
        },
        "autoUpdateMode": {
          "description": "Controls the auto-update mode for the app.",
          "enum": [
            "AUTO_UPDATE_MODE_UNSPECIFIED",
            "AUTO_UPDATE_DEFAULT",
            "AUTO_UPDATE_POSTPONED",
            "AUTO_UPDATE_HIGH_PRIORITY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Defaults to AUTO_UPDATE_DEFAULT.",
            "The app is automatically updated with low priority to minimize the impact on the user.The app is updated when all of the following constraints are met: The device is not actively used. The device is connected to an unmetered network. The device is charging.The device is notified about a new update within 24 hours after it is published by the developer, after which the app is updated the next time the constraints above are met.",
            "The app is not automatically updated for a maximum of 90 days after the app becomes out of date.90 days after the app becomes out of date, the latest available version is installed automatically with low priority (see AUTO_UPDATE_DEFAULT). After the app is updated it is not automatically updated again until 90 days after it becomes out of date again.The user can still manually update the app from the Play Store at any time.",
            "The app is updated as soon as possible. No constraints are applied.The device is notified immediately about a new update after it becomes available."
          ]
        },
        "delegatedScopes": {
          "description": "The scopes delegated to the app from Android Device Policy.",
          "items": {
            "enumDescriptions": [
              "No delegation scope specified.",
              "Grants access to certificate installation and management.",
              "Grants access to managed configurations management.",
              "Grants access to blocking uninstallation.",
              "Grants access to permission policy and permission grant state.",
              "Grants access to package access state.",
              "Grants access for enabling system apps.",
              "Grants access to network activity logs. Allows the delegated application to call setNetworkLoggingEnabled (https://developer.android.com/reference/android/app/admin/DevicePolicyManager#setNetworkLoggingEnabled%28android.content.ComponentName,%20boolean%29), isNetworkLoggingEnabled (https://developer.android.com/reference/android/app/admin/DevicePolicyManager#isNetworkLoggingEnabled%28android.content.ComponentName%29) and retrieveNetworkLogs (https://developer.android.com/reference/android/app/admin/DevicePolicyManager#retrieveNetworkLogs%28android.content.ComponentName,%20long%29) methods. This scope can be delegated to at most one application. Supported for fully managed devices on Android 10 and above. Supported for a work profile on Android 12 and above. When delegation is supported and set, NETWORK_ACTIVITY_LOGS is ignored.",
              "Grants access to security logs. Allows the delegated application to call setSecurityLoggingEnabled (https://developer.android.com/reference/android/app/admin/DevicePolicyManager#setSecurityLoggingEnabled%28android.content.ComponentName,%20boolean%29), isSecurityLoggingEnabled (https://developer.android.com/reference/android/app/admin/DevicePolicyManager#isSecurityLoggingEnabled%28android.content.ComponentName%29), retrieveSecurityLogs (https://developer.android.com/reference/android/app/admin/DevicePolicyManager#retrieveSecurityLogs%28android.content.ComponentName%29) and retrievePreRebootSecurityLogs (https://developer.android.com/reference/android/app/admin/DevicePolicyManager#retrievePreRebootSecurityLogs%28android.content.ComponentName%29) methods. This scope can be delegated to at most one application. Supported for fully managed devices and company-owned devices with a work profile on Android 12 and above. When delegation is supported and set, SECURITY_LOGS is ignored."
            ],
            "type": "string",
            "enum": [
              "DELEGATED_SCOPE_UNSPECIFIED",
              "CERT_INSTALL",
              "MANAGED_CONFIGURATIONS",
              "BLOCK_UNINSTALL",
              "PERMISSION_GRANT",
              "PACKAGE_ACCESS",
              "ENABLE_SYSTEM_APP",
              "NETWORK_ACTIVITY_LOGS",
              "SECURITY_LOGS"
            ]
          },
          "type": "array"
        },
        "packageName": {
          "type": "string",
          "description": "The package name of the app. For example, com.google.android.youtube for the YouTube app."
        },
        "lockTaskAllowed": {
          "description": "Whether the app is allowed to lock itself in full-screen mode. DEPRECATED. Use InstallType KIOSK or kioskCustomLauncherEnabled to to configure a dedicated device.",
          "type": "boolean"
        },
        "managedConfiguration": {
          "description": "Managed configuration applied to the app. The format for the configuration is dictated by the ManagedProperty values supported by the app. Each field name in the managed configuration must match the key field of the ManagedProperty. The field value must be compatible with the type of the ManagedProperty: *type* *JSON value* BOOL true or false STRING string INTEGER number CHOICE string MULTISELECT array of strings HIDDEN string BUNDLE_ARRAY array of objects ",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "defaultPermissionPolicy": {
          "enumDescriptions": [
            "Policy not specified. If no policy is specified for a permission at any level, then the PROMPT behavior is used by default.",
            "Prompt the user to grant a permission.",
            "Automatically grant a permission.",
            "Automatically deny a permission."
          ],
          "enum": [
            "PERMISSION_POLICY_UNSPECIFIED",
            "PROMPT",
            "GRANT",
            "DENY"
          ],
          "type": "string",
          "description": "The default policy for all permissions requested by the app. If specified, this overrides the policy-level default_permission_policy which applies to all apps. It does not override the permission_grants which applies to all apps."
        },
        "connectedWorkAndPersonalApp": {
          "enum": [
            "CONNECTED_WORK_AND_PERSONAL_APP_UNSPECIFIED",
            "CONNECTED_WORK_AND_PERSONAL_APP_DISALLOWED",
            "CONNECTED_WORK_AND_PERSONAL_APP_ALLOWED"
          ],
          "enumDescriptions": [
            "Unspecified. Defaults to CONNECTED_WORK_AND_PERSONAL_APPS_DISALLOWED.",
            "Default. Prevents the app from communicating cross-profile.",
            "Allows the app to communicate across profiles after receiving user consent."
          ],
          "type": "string",
          "description": "Controls whether the app can communicate with itself across a device’s work and personal profiles, subject to user consent."
        }
      }
    },
    "AdbShellCommandEvent": {
      "properties": {
        "shellCmd": {
          "type": "string",
          "description": "Shell command that was issued over ADB via \"adb shell command\". Redacted to empty string on organization-owned managed profile devices."
        }
      },
      "type": "object",
      "description": "A shell command was issued over ADB via “adb shell command”.",
      "id": "AdbShellCommandEvent"
    },
    "PersistentPreferredActivity": {
      "properties": {
        "categories": {
          "type": "array",
          "description": "The intent categories to match in the filter. An intent includes the categories that it requires, all of which must be included in the filter in order to match. In other words, adding a category to the filter has no impact on matching unless that category is specified in the intent.",
          "items": {
            "type": "string"
          }
        },
        "receiverActivity": {
          "type": "string",
          "description": "The activity that should be the default intent handler. This should be an Android component name, e.g. com.android.enterprise.app/.MainActivity. Alternatively, the value may be the package name of an app, which causes Android Device Policy to choose an appropriate activity from the app to handle the intent."
        },
        "actions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The intent actions to match in the filter. If any actions are included in the filter, then an intent's action must be one of those values for it to match. If no actions are included, the intent action is ignored."
        }
      },
      "type": "object",
      "id": "PersistentPreferredActivity",
      "description": "A default activity for handling intents that match a particular intent filter. Note: To set up a kiosk, use InstallType to KIOSK rather than use persistent preferred activities."
    },
    "OsStartupEvent": {
      "id": "OsStartupEvent",
      "type": "object",
      "description": "Device was started.",
      "properties": {
        "verifiedBootState": {
          "description": "Verified Boot state.",
          "enumDescriptions": [
            "Unknown value.",
            "Indicates that there is a full chain of trust extending from the bootloader to verified partitions including the bootloader, boot partition, and all verified partitions.",
            "Indicates that the boot partition has been verified using the embedded certificate and the signature is valid.",
            "Indicates that the device may be freely modified. Device integrity is left to the user to verify out-of-band."
          ],
          "type": "string",
          "enum": [
            "VERIFIED_BOOT_STATE_UNSPECIFIED",
            "GREEN",
            "YELLOW",
            "ORANGE"
          ]
        },
        "verityMode": {
          "enum": [
            "DM_VERITY_MODE_UNSPECIFIED",
            "ENFORCING",
            "IO_ERROR",
            "DISABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown value.",
            "Indicates that the device will be restarted when corruption is detected.",
            "Indicates that an I/O error will be returned for an attempt to read corrupted data blocks (also known as eio boot state).",
            "Indicates that dm-verity is disabled on device."
          ],
          "description": "dm-verity mode."
        }
      }
    },
    "ExtensionConfig": {
      "properties": {
        "signingKeyFingerprintsSha256": {
          "items": {
            "type": "string"
          },
          "description": "Hex-encoded SHA-256 hash of the signing certificate of the extension app. Only hexadecimal string representations of 64 characters are valid.If not specified, the signature for the corresponding package name is obtained from the Play Store instead.If this list is empty, the signature of the extension app on the device must match the signature obtained from the Play Store for the app to be able to communicate with Android Device Policy.If this list is not empty, the signature of the extension app on the device must match one of the entries in this list for the app to be able to communicate with Android Device Policy.In production use cases, it is recommended to leave this empty.",
          "type": "array"
        },
        "notificationReceiver": {
          "type": "string",
          "description": "Fully qualified class name of the receiver service class for Android Device Policy to notify the extension app of any local command status updates."
        }
      },
      "id": "ExtensionConfig",
      "type": "object",
      "description": "Configuration to enable an app as an extension app, with the capability of interacting with Android Device Policy offline."
    },
    "ApplicationReport": {
      "description": "Information reported about an installed app.",
      "type": "object",
      "id": "ApplicationReport",
      "properties": {
        "keyedAppStates": {
          "type": "array",
          "description": "List of keyed app states reported by the app.",
          "items": {
            "$ref": "KeyedAppState"
          }
        },
        "versionName": {
          "description": "The app version as displayed to the user.",
          "type": "string"
        },
        "packageName": {
          "type": "string",
          "description": "Package name of the app."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "App state is unspecified",
            "App was removed from the device",
            "App is installed on the device"
          ],
          "enum": [
            "APPLICATION_STATE_UNSPECIFIED",
            "REMOVED",
            "INSTALLED"
          ],
          "description": "Application state."
        },
        "applicationSource": {
          "enumDescriptions": [
            "The app was sideloaded from an unspecified source.",
            "This is a system app from the device's factory image.",
            "This is an updated system app.",
            "The app was installed from the Google Play Store."
          ],
          "type": "string",
          "description": "The source of the package.",
          "enum": [
            "APPLICATION_SOURCE_UNSPECIFIED",
            "SYSTEM_APP_FACTORY_VERSION",
            "SYSTEM_APP_UPDATED_VERSION",
            "INSTALLED_FROM_PLAY_STORE"
          ]
        },
        "installerPackageName": {
          "type": "string",
          "description": "The package name of the app that installed this app."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the app."
        },
        "packageSha256Hash": {
          "description": "The SHA-256 hash of the app's APK file, which can be used to verify the app hasn't been modified. Each byte of the hash value is represented as a two-digit hexadecimal number.",
          "type": "string"
        },
        "events": {
          "items": {
            "$ref": "ApplicationEvent"
          },
          "type": "array",
          "description": "List of app events. The most recent 20 events are stored in the list."
        },
        "signingKeyCertFingerprints": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The SHA-1 hash of each android.content.pm.Signature (https://developer.android.com/reference/android/content/pm/Signature.html) associated with the app package. Each byte of each hash value is represented as a two-digit hexadecimal number."
        },
        "versionCode": {
          "type": "integer",
          "description": "The app version code, which can be used to determine whether one version is more recent than another.",
          "format": "int32"
        }
      }
    },
    "ManagedPropertyEntry": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The human-readable name of the value. Localized."
        },
        "value": {
          "type": "string",
          "description": "The machine-readable value of the entry, which should be used in the configuration. Not localized."
        }
      },
      "id": "ManagedPropertyEntry",
      "description": "An entry of a managed property."
    },
    "UsageLogEvent": {
      "type": "object",
      "id": "UsageLogEvent",
      "description": "An event logged on the device.",
      "properties": {
        "adbShellCommandEvent": {
          "description": "A shell command was issued over ADB via “adb shell command”. Part of SECURITY_LOGS.",
          "$ref": "AdbShellCommandEvent"
        },
        "adbShellInteractiveEvent": {
          "description": "An ADB interactive shell was opened via “adb shell”. Part of SECURITY_LOGS.",
          "$ref": "AdbShellInteractiveEvent"
        },
        "keyDestructionEvent": {
          "description": "A cryptographic key including user installed, admin installed and system maintained private key is removed from the device either by the user or management. Part of SECURITY_LOGS.",
          "$ref": "KeyDestructionEvent"
        },
        "osShutdownEvent": {
          "$ref": "OsShutdownEvent",
          "description": "Device was shutdown. Part of SECURITY_LOGS."
        },
        "wipeFailureEvent": {
          "$ref": "WipeFailureEvent",
          "description": "The work profile or company-owned device failed to wipe when requested. This could be user initiated or admin initiated e.g. delete was received. Part of SECURITY_LOGS."
        },
        "keyGeneratedEvent": {
          "$ref": "KeyGeneratedEvent",
          "description": "A cryptographic key including user installed, admin installed and system maintained private key is installed on the device either by the user or management. Part of SECURITY_LOGS."
        },
        "eventType": {
          "type": "string",
          "description": "The particular usage log event type that was reported on the device. Use this to determine which event field to access.",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "ADB_SHELL_COMMAND",
            "ADB_SHELL_INTERACTIVE",
            "APP_PROCESS_START",
            "KEYGUARD_DISMISSED",
            "KEYGUARD_DISMISS_AUTH_ATTEMPT",
            "KEYGUARD_SECURED",
            "FILE_PULLED",
            "FILE_PUSHED",
            "CERT_AUTHORITY_INSTALLED",
            "CERT_AUTHORITY_REMOVED",
            "CERT_VALIDATION_FAILURE",
            "CRYPTO_SELF_TEST_COMPLETED",
            "KEY_DESTRUCTION",
            "KEY_GENERATED",
            "KEY_IMPORT",
            "KEY_INTEGRITY_VIOLATION",
            "LOGGING_STARTED",
            "LOGGING_STOPPED",
            "LOG_BUFFER_SIZE_CRITICAL",
            "MEDIA_MOUNT",
            "MEDIA_UNMOUNT",
            "OS_SHUTDOWN",
            "OS_STARTUP",
            "REMOTE_LOCK",
            "WIPE_FAILURE",
            "CONNECT",
            "DNS"
          ],
          "enumDescriptions": [
            "This value is not used",
            "Indicates adb_shell_command_event has been set.",
            "Indicates adb_shell_interactive_event has been set.",
            "Indicates app_process_start_event has been set.",
            "Indicates keyguard_dismissed_event has been set.",
            "Indicates keyguard_dismiss_auth_attempt_event has been set.",
            "Indicates keyguard_secured_event has been set.",
            "Indicates file_pulled_event has been set.",
            "Indicates file_pushed_event has been set.",
            "Indicates cert_authority_installed_event has been set.",
            "Indicates cert_authority_removed_event has been set.",
            "Indicates cert_validation_failure_event has been set.",
            "Indicates crypto_self_test_completed_event has been set.",
            "Indicates key_destruction_event has been set.",
            "Indicates key_generated_event has been set.",
            "Indicates key_import_event has been set.",
            "Indicates key_integrity_violation_event has been set.",
            "Indicates logging_started_event has been set.",
            "Indicates logging_stopped_event has been set.",
            "Indicates log_buffer_size_critical_event has been set.",
            "Indicates media_mount_event has been set.",
            "Indicates media_unmount_event has been set.",
            "Indicates os_shutdown_event has been set.",
            "Indicates os_startup_event has been set.",
            "Indicates remote_lock_event has been set.",
            "Indicates wipe_failure_event has been set.",
            "Indicates connect_event has been set.",
            "Indicates dns_event has been set."
          ]
        },
        "cryptoSelfTestCompletedEvent": {
          "description": "Validates whether Android’s built-in cryptographic library (BoringSSL) is valid. Should always succeed on device boot, if it fails, the device should be considered untrusted. Part of SECURITY_LOGS.",
          "$ref": "CryptoSelfTestCompletedEvent"
        },
        "mediaMountEvent": {
          "description": "Removable media was mounted. Part of SECURITY_LOGS.",
          "$ref": "MediaMountEvent"
        },
        "certAuthorityRemovedEvent": {
          "description": "A root certificate was removed from the system's trusted credential storage. Part of SECURITY_LOGS.",
          "$ref": "CertAuthorityRemovedEvent"
        },
        "appProcessStartEvent": {
          "description": "An app process was started. Part of SECURITY_LOGS.",
          "$ref": "AppProcessStartEvent"
        },
        "certValidationFailureEvent": {
          "$ref": "CertValidationFailureEvent",
          "description": "An X.509v3 certificate failed to validate, currently this validation is performed on the Wi-FI access point and failure may be due to a mismatch upon server certificate validation. However it may in the future include other validation events of an X.509v3 certificate. Part of SECURITY_LOGS."
        },
        "keyguardSecuredEvent": {
          "description": "The device was locked either by user or timeout. Part of SECURITY_LOGS.",
          "$ref": "KeyguardSecuredEvent"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Device timestamp when the event was logged."
        },
        "connectEvent": {
          "description": "A TCP connect event was initiated through the standard network stack. Part of NETWORK_ACTIVITY_LOGS.",
          "$ref": "ConnectEvent"
        },
        "keyImportEvent": {
          "$ref": "KeyImportEvent",
          "description": "A cryptographic key including user installed, admin installed and system maintained private key is imported on the device either by the user or management. Part of SECURITY_LOGS."
        },
        "certAuthorityInstalledEvent": {
          "description": "A new root certificate was installed into the system's trusted credential storage. Part of SECURITY_LOGS.",
          "$ref": "CertAuthorityInstalledEvent"
        },
        "loggingStartedEvent": {
          "description": "usageLog policy has been enabled. Part of SECURITY_LOGS.",
          "$ref": "LoggingStartedEvent"
        },
        "keyguardDismissAuthAttemptEvent": {
          "description": "An attempt was made to unlock the device. Part of SECURITY_LOGS.",
          "$ref": "KeyguardDismissAuthAttemptEvent"
        },
        "remoteLockEvent": {
          "description": "The device or profile has been remotely locked via the LOCK command. Part of SECURITY_LOGS.",
          "$ref": "RemoteLockEvent"
        },
        "keyIntegrityViolationEvent": {
          "$ref": "KeyIntegrityViolationEvent",
          "description": "A cryptographic key including user installed, admin installed and system maintained private key is determined to be corrupted due to storage corruption, hardware failure or some OS issue. Part of SECURITY_LOGS."
        },
        "osStartupEvent": {
          "description": "Device was started. Part of SECURITY_LOGS.",
          "$ref": "OsStartupEvent"
        },
        "filePulledEvent": {
          "description": "A file was downloaded from the device. Part of SECURITY_LOGS.",
          "$ref": "FilePulledEvent"
        },
        "mediaUnmountEvent": {
          "description": "Removable media was unmounted. Part of SECURITY_LOGS.",
          "$ref": "MediaUnmountEvent"
        },
        "eventId": {
          "format": "int64",
          "type": "string",
          "description": "Unique id of the event."
        },
        "keyguardDismissedEvent": {
          "$ref": "KeyguardDismissedEvent",
          "description": "The keyguard was dismissed. Part of SECURITY_LOGS."
        },
        "dnsEvent": {
          "description": "A DNS lookup event was initiated through the standard network stack. Part of NETWORK_ACTIVITY_LOGS.",
          "$ref": "DnsEvent"
        },
        "loggingStoppedEvent": {
          "description": "usageLog policy has been disabled. Part of SECURITY_LOGS.",
          "$ref": "LoggingStoppedEvent"
        },
        "filePushedEvent": {
          "description": "A file was uploaded onto the device. Part of SECURITY_LOGS.",
          "$ref": "FilePushedEvent"
        },
        "logBufferSizeCriticalEvent": {
          "description": "The audit log buffer has reached 90% of its capacity, therefore older events may be dropped. Part of SECURITY_LOGS.",
          "$ref": "LogBufferSizeCriticalEvent"
        }
      }
    },
    "Command": {
      "type": "object",
      "properties": {
        "clearAppsDataStatus": {
          "$ref": "ClearAppsDataStatus",
          "description": "Output only. Status of the CLEAR_APP_DATA command to clear the data of specified apps from the device. See ClearAppsDataStatus.",
          "readOnly": true
        },
        "errorCode": {
          "type": "string",
          "enumDescriptions": [
            "There was no error.",
            "An unknown error occurred.",
            "The API level of the device does not support this command.",
            "The management mode (profile owner, device owner, etc.) does not support the command.",
            "The command has an invalid parameter value.",
            "The device doesn't support the command. Updating Android Device Policy to the latest version may resolve the issue."
          ],
          "enum": [
            "COMMAND_ERROR_CODE_UNSPECIFIED",
            "UNKNOWN",
            "API_LEVEL",
            "MANAGEMENT_MODE",
            "INVALID_VALUE",
            "UNSUPPORTED"
          ],
          "description": "If the command failed, an error code explaining the failure. This is not set when the command is cancelled by the caller."
        },
        "clearAppsDataParams": {
          "description": "Parameters for the CLEAR_APP_DATA command to clear the data of specified apps from the device. See ClearAppsDataParams. If this is set, then it is suggested that type should not be set. In this case, the server automatically sets it to CLEAR_APP_DATA. It is also acceptable to explicitly set type to CLEAR_APP_DATA.",
          "$ref": "ClearAppsDataParams"
        },
        "type": {
          "description": "The type of the command.",
          "enumDescriptions": [
            "This value is disallowed.",
            "Lock the device, as if the lock screen timeout had expired.",
            "Reset the user's password.",
            "Reboot the device. Only supported on fully managed devices running Android 7.0 (API level 24) or higher.",
            "Removes the work profile and all policies from a company-owned Android 8.0+ device, relinquishing the device for personal use. Apps and data associated with the personal profile(s) are preserved. The device will be deleted from the server after it acknowledges the command.",
            "Clears the application data of specified apps. This is supported on Android 9 and above. Note that an application can store data outside of its application data, for example in external storage or in a user dictionary. See also clear_apps_data_params."
          ],
          "enum": [
            "COMMAND_TYPE_UNSPECIFIED",
            "LOCK",
            "RESET_PASSWORD",
            "REBOOT",
            "RELINQUISH_OWNERSHIP",
            "CLEAR_APP_DATA"
          ],
          "type": "string"
        },
        "newPassword": {
          "description": "For commands of type RESET_PASSWORD, optionally specifies the new password.",
          "type": "string"
        },
        "duration": {
          "format": "google-duration",
          "description": "The duration for which the command is valid. The command will expire if not executed by the device during this time. The default duration if unspecified is ten minutes. There is no maximum duration.",
          "type": "string"
        },
        "resetPasswordFlags": {
          "type": "array",
          "items": {
            "enum": [
              "RESET_PASSWORD_FLAG_UNSPECIFIED",
              "REQUIRE_ENTRY",
              "DO_NOT_ASK_CREDENTIALS_ON_BOOT",
              "LOCK_NOW"
            ],
            "enumDescriptions": [
              "This value is ignored.",
              "Don't allow other admins to change the password again until the user has entered it.",
              "Don't ask for user credentials on device boot.",
              "Lock the device after password reset."
            ],
            "type": "string"
          },
          "description": "For commands of type RESET_PASSWORD, optionally specifies flags."
        },
        "createTime": {
          "description": "The timestamp at which the command was created. The timestamp is automatically generated by the server.",
          "format": "google-datetime",
          "type": "string"
        },
        "userName": {
          "type": "string",
          "description": "The resource name of the user that owns the device in the form enterprises/{enterpriseId}/users/{userId}. This is automatically generated by the server based on the device the command is sent to."
        }
      },
      "id": "Command",
      "description": "A command."
    },
    "PerAppResult": {
      "description": "The result of an attempt to clear the data of a single app.",
      "id": "PerAppResult",
      "properties": {
        "clearingResult": {
          "type": "string",
          "enum": [
            "CLEARING_RESULT_UNSPECIFIED",
            "SUCCESS",
            "APP_NOT_FOUND",
            "APP_PROTECTED",
            "API_LEVEL"
          ],
          "description": "The result of an attempt to clear the data of a single app.",
          "enumDescriptions": [
            "Unspecified result.",
            "This app’s data was successfully cleared.",
            "This app’s data could not be cleared because the app was not found.",
            "This app’s data could not be cleared because the app is protected. For example, this may apply to apps critical to the functioning of the device, such as Google Play Store.",
            "This app’s data could not be cleared because the device API level does not support this command."
          ]
        }
      },
      "type": "object"
    },
    "HardwareStatus": {
      "description": "Hardware status. Temperatures may be compared to the temperature thresholds available in hardwareInfo to determine hardware health.",
      "properties": {
        "gpuTemperatures": {
          "description": "Current GPU temperatures in Celsius for each GPU on the device.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "batteryTemperatures": {
          "items": {
            "format": "float",
            "type": "number"
          },
          "description": "Current battery temperatures in Celsius for each battery on the device.",
          "type": "array"
        },
        "skinTemperatures": {
          "type": "array",
          "items": {
            "format": "float",
            "type": "number"
          },
          "description": "Current device skin temperatures in Celsius."
        },
        "cpuTemperatures": {
          "items": {
            "type": "number",
            "format": "float"
          },
          "description": "Current CPU temperatures in Celsius for each CPU on the device.",
          "type": "array"
        },
        "fanSpeeds": {
          "description": "Fan speeds in RPM for each fan on the device. Empty array means that there are no fans or fan speed is not supported on the system.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "cpuUsages": {
          "items": {
            "format": "float",
            "type": "number"
          },
          "description": "CPU usages in percentage for each core available on the device. Usage is 0 for each unplugged core. Empty array implies that CPU usage is not supported in the system.",
          "type": "array"
        },
        "createTime": {
          "description": "The time the measurements were taken.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "HardwareStatus",
      "type": "object"
    },
    "PersonalApplicationPolicy": {
      "type": "object",
      "properties": {
        "packageName": {
          "type": "string",
          "description": "The package name of the application."
        },
        "installType": {
          "enumDescriptions": [
            "Unspecified. Defaults to AVAILABLE.",
            "The app is blocked and can't be installed in the personal profile.",
            "The app is available to install in the personal profile."
          ],
          "enum": [
            "INSTALL_TYPE_UNSPECIFIED",
            "BLOCKED",
            "AVAILABLE"
          ],
          "description": "The type of installation to perform.",
          "type": "string"
        }
      },
      "id": "PersonalApplicationPolicy",
      "description": "Policies for apps in the personal profile of a company-owned device with a work profile."
    },
    "CrossProfilePolicies": {
      "properties": {
        "showWorkContactsInPersonalProfile": {
          "enum": [
            "SHOW_WORK_CONTACTS_IN_PERSONAL_PROFILE_UNSPECIFIED",
            "SHOW_WORK_CONTACTS_IN_PERSONAL_PROFILE_DISALLOWED",
            "SHOW_WORK_CONTACTS_IN_PERSONAL_PROFILE_ALLOWED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Defaults to SHOW_WORK_CONTACTS_IN_PERSONAL_PROFILE_ALLOWED.",
            "Prevents work profile contacts from appearing in personal profile contact searches and incoming calls",
            "Default. Allows work profile contacts to appear in personal profile contact searches and incoming calls"
          ],
          "description": "Whether contacts stored in the work profile can be shown in personal profile contact searches and incoming calls."
        },
        "crossProfileDataSharing": {
          "enumDescriptions": [
            "Unspecified. Defaults to DATA_SHARING_FROM_WORK_TO_PERSONAL_DISALLOWED.",
            "Prevents data from being shared from both the personal profile to the work profile and the work profile to the personal profile.",
            "Default. Prevents users from sharing data from the work profile to apps in the personal profile. Personal data can be shared with work apps.",
            "Data from either profile can be shared with the other profile."
          ],
          "type": "string",
          "enum": [
            "CROSS_PROFILE_DATA_SHARING_UNSPECIFIED",
            "CROSS_PROFILE_DATA_SHARING_DISALLOWED",
            "DATA_SHARING_FROM_WORK_TO_PERSONAL_DISALLOWED",
            "CROSS_PROFILE_DATA_SHARING_ALLOWED"
          ],
          "description": "Whether data from one profile (personal or work) can be shared with apps in the other profile. Specifically controls simple data sharing via intents. Management of other cross-profile communication channels, such as contact search, copy/paste, or connected work & personal apps, are configured separately."
        },
        "crossProfileCopyPaste": {
          "enum": [
            "CROSS_PROFILE_COPY_PASTE_UNSPECIFIED",
            "COPY_FROM_WORK_TO_PERSONAL_DISALLOWED",
            "CROSS_PROFILE_COPY_PASTE_ALLOWED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Defaults to COPY_FROM_WORK_TO_PERSONAL_DISALLOWED",
            "Default. Prevents users from pasting into the personal profile text copied from the work profile. Text copied from the personal profile can be pasted into the work profile, and text copied from the work profile can be pasted into the work profile.",
            "Text copied in either profile can be pasted in the other profile."
          ],
          "description": "Whether text copied from one profile (personal or work) can be pasted in the other profile."
        }
      },
      "description": "Cross-profile policies applied on the device.",
      "id": "CrossProfilePolicies",
      "type": "object"
    },
    "KeyDestructionEvent": {
      "properties": {
        "keyAlias": {
          "type": "string",
          "description": "Alias of the key."
        },
        "applicationUid": {
          "description": "UID of the application which owns the key.",
          "format": "int32",
          "type": "integer"
        },
        "success": {
          "type": "boolean",
          "description": "Whether the operation was successful."
        }
      },
      "id": "KeyDestructionEvent",
      "description": "A cryptographic key including user installed, admin installed and system maintained private key is removed from the device either by the user or management. This is available device-wide on fully managed devices and within the work profile on organization-owned devices with a work profile.",
      "type": "object"
    },
    "ManagedProperty": {
      "properties": {
        "defaultValue": {
          "description": "The default value of the property. BUNDLE_ARRAY properties don't have a default value.",
          "type": "any"
        },
        "description": {
          "description": "A longer description of the property, providing more detail of what it affects. Localized.",
          "type": "string"
        },
        "entries": {
          "type": "array",
          "items": {
            "$ref": "ManagedPropertyEntry"
          },
          "description": "For CHOICE or MULTISELECT properties, the list of possible entries."
        },
        "title": {
          "description": "The name of the property. Localized.",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "The unique key that the app uses to identify the property, e.g. \"com.google.android.gm.fieldname\"."
        },
        "type": {
          "type": "string",
          "description": "The type of the property.",
          "enumDescriptions": [
            "Not used.",
            "A property of boolean type.",
            "A property of string type.",
            "A property of integer type.",
            "A choice of one item from a set.",
            "A choice of multiple items from a set.",
            "A hidden restriction of string type (the default value can be used to pass along information that can't be modified, such as a version code).",
            "A bundle of properties",
            "An array of property bundles."
          ],
          "enum": [
            "MANAGED_PROPERTY_TYPE_UNSPECIFIED",
            "BOOL",
            "STRING",
            "INTEGER",
            "CHOICE",
            "MULTISELECT",
            "HIDDEN",
            "BUNDLE",
            "BUNDLE_ARRAY"
          ]
        },
        "nestedProperties": {
          "description": "For BUNDLE_ARRAY properties, the list of nested properties. A BUNDLE_ARRAY property is at most two levels deep.",
          "items": {
            "$ref": "ManagedProperty"
          },
          "type": "array"
        }
      },
      "id": "ManagedProperty",
      "description": "Managed property.",
      "type": "object"
    },
    "TermsAndConditions": {
      "description": "A terms and conditions page to be accepted during provisioning.",
      "properties": {
        "content": {
          "$ref": "UserFacingMessage",
          "description": "A well-formatted HTML string. It will be parsed on the client with android.text.Html#fromHtml."
        },
        "header": {
          "$ref": "UserFacingMessage",
          "description": "A short header which appears above the HTML content."
        }
      },
      "type": "object",
      "id": "TermsAndConditions"
    },
    "FilePulledEvent": {
      "id": "FilePulledEvent",
      "type": "object",
      "properties": {
        "filePath": {
          "type": "string",
          "description": "The path of the file being pulled."
        }
      },
      "description": "A file was downloaded from the device."
    },
    "ListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "id": "ListOperationsResponse"
    },
    "KeyguardDismissAuthAttemptEvent": {
      "description": "An attempt was made to unlock the device.",
      "id": "KeyguardDismissAuthAttemptEvent",
      "properties": {
        "success": {
          "description": "Whether the unlock attempt was successful.",
          "type": "boolean"
        },
        "strongAuthMethodUsed": {
          "type": "boolean",
          "description": "Whether a strong form of authentication (password, PIN, or pattern) was used to unlock device."
        }
      },
      "type": "object"
    },
    "OncWifiContext": {
      "properties": {
        "wifiGuid": {
          "description": "The GUID of non-compliant Wi-Fi configuration.",
          "type": "string"
        }
      },
      "id": "OncWifiContext",
      "type": "object",
      "description": "Additional context for non-compliance related to Wi-Fi configuration."
    },
    "IssueCommandResponse": {
      "properties": {},
      "id": "IssueCommandResponse",
      "description": "Response on issuing a command. This is currently empty as a placeholder.",
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse.",
          "type": "object"
        },
        "done": {
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "Operation"
    },
    "WipeAction": {
      "type": "object",
      "description": "An action to reset a fully managed device or delete a work profile. Note: blockAction must also be specified.",
      "id": "WipeAction",
      "properties": {
        "preserveFrp": {
          "description": "Whether the factory-reset protection data is preserved on the device. This setting doesn’t apply to work profiles.",
          "type": "boolean"
        },
        "wipeAfterDays": {
          "type": "integer",
          "format": "int32",
          "description": "Number of days the policy is non-compliant before the device or work profile is wiped. wipeAfterDays must be greater than blockAfterDays."
        }
      }
    },
    "ApplicationReportingSettings": {
      "id": "ApplicationReportingSettings",
      "description": "Settings controlling the behavior of application reports.",
      "properties": {
        "includeRemovedApps": {
          "description": "Whether removed apps are included in application reports.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "WebToken": {
      "properties": {
        "permissions": {
          "type": "array",
          "description": "Permissions available to an admin in the embedded UI. An admin must have all of these permissions in order to view the UI. This field is deprecated.",
          "items": {
            "enum": [
              "WEB_TOKEN_PERMISSION_UNSPECIFIED",
              "APPROVE_APPS"
            ],
            "enumDescriptions": [
              "This value is ignored.",
              "The permission to approve apps for the enterprise."
            ],
            "type": "string"
          }
        },
        "parentFrameUrl": {
          "type": "string",
          "description": "The URL of the parent frame hosting the iframe with the embedded UI. To prevent XSS, the iframe may not be hosted at other URLs. The URL must use the https scheme."
        },
        "name": {
          "type": "string",
          "description": "The name of the web token, which is generated by the server during creation in the form enterprises/{enterpriseId}/webTokens/{webTokenId}."
        },
        "enabledFeatures": {
          "items": {
            "enumDescriptions": [
              "Unspecified feature.",
              "The Managed Play search apps page (https://developers.google.com/android/management/apps#search-apps).",
              "The private apps page (https://developers.google.com/android/management/apps#private-apps).",
              "The Web Apps page (https://developers.google.com/android/management/apps#web-apps).",
              "The organize apps page (https://developers.google.com/android/management/apps#organize-apps).",
              "The managed configurations page (https://developers.google.com/android/management/managed-configurations-iframe).",
              "The zero-touch iframe (https://developers.google.com/android/management/zero-touch-iframe)."
            ],
            "type": "string",
            "enum": [
              "FEATURE_UNSPECIFIED",
              "PLAY_SEARCH",
              "PRIVATE_APPS",
              "WEB_APPS",
              "STORE_BUILDER",
              "MANAGED_CONFIGURATIONS",
              "ZERO_TOUCH_CUSTOMER_MANAGEMENT"
            ]
          },
          "type": "array",
          "description": "The features to enable. Use this if you want to control exactly which feature(s) will be activated; leave empty to allow all features.Restrictions / things to note: - If no features are listed here, all features are enabled — this is the default behavior where you give access to all features to your admins. - This must not contain any FEATURE_UNSPECIFIED values. - Repeated values are ignored "
        },
        "value": {
          "description": "The token value which is used in the hosting page to generate the iframe with the embedded UI. This is a read-only field generated by the server.",
          "type": "string"
        }
      },
      "description": "A web token used to access the managed Google Play iframe.",
      "id": "WebToken",
      "type": "object"
    },
    "ContactInfo": {
      "type": "object",
      "id": "ContactInfo",
      "description": "Contact details for managed Google Play enterprises.",
      "properties": {
        "dataProtectionOfficerName": {
          "description": "The name of the data protection officer.",
          "type": "string"
        },
        "euRepresentativeName": {
          "description": "The name of the EU representative.",
          "type": "string"
        },
        "euRepresentativeEmail": {
          "type": "string",
          "description": "The email of the EU representative. The email is validated but not verified."
        },
        "dataProtectionOfficerPhone": {
          "type": "string",
          "description": "The phone number of the data protection officer The phone number is validated but not verified."
        },
        "dataProtectionOfficerEmail": {
          "type": "string",
          "description": "The email of the data protection officer. The email is validated but not verified."
        },
        "contactEmail": {
          "description": "Email address for a point of contact, which will be used to send important announcements related to managed Google Play.",
          "type": "string"
        },
        "euRepresentativePhone": {
          "type": "string",
          "description": "The phone number of the EU representative. The phone number is validated but not verified."
        }
      }
    },
    "KeyedAppState": {
      "type": "object",
      "properties": {
        "severity": {
          "enumDescriptions": [
            "Unspecified severity level.",
            "Information severity level.",
            "Error severity level. This should only be set for genuine error conditions that a management organization needs to take action to fix."
          ],
          "description": "The severity of the app state.",
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFO",
            "ERROR"
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The creation time of the app state on the device.",
          "type": "string"
        },
        "lastUpdateTime": {
          "description": "The time the app state was most recently updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "key": {
          "description": "The key for the app state. Acts as a point of reference for what the app is providing state for. For example, when providing managed configuration feedback, this key could be the managed configuration key.",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "Optionally, a free-form message string to explain the app state. If the state was triggered by a particular value (e.g. a managed configuration value), it should be included in the message."
        },
        "data": {
          "description": "Optionally, a machine-readable value to be read by the EMM. For example, setting values that the admin can choose to query against in the EMM console (e.g. “notify me if the battery_warning data \u003c 10”).",
          "type": "string"
        }
      },
      "id": "KeyedAppState",
      "description": "Keyed app state reported by the app."
    },
    "ApplicationPermission": {
      "type": "object",
      "id": "ApplicationPermission",
      "properties": {
        "description": {
          "type": "string",
          "description": "A longer description of the permission, providing more detail on what it affects. Localized."
        },
        "name": {
          "description": "The name of the permission. Localized.",
          "type": "string"
        },
        "permissionId": {
          "description": "An opaque string uniquely identifying the permission. Not localized.",
          "type": "string"
        }
      },
      "description": "A permission required by the app."
    },
    "MemoryInfo": {
      "description": "Information about device memory and storage.",
      "properties": {
        "totalRam": {
          "format": "int64",
          "description": "Total RAM on device in bytes.",
          "type": "string"
        },
        "totalInternalStorage": {
          "type": "string",
          "format": "int64",
          "description": "Total internal storage on device in bytes."
        }
      },
      "id": "MemoryInfo",
      "type": "object"
    },
    "KeyguardSecuredEvent": {
      "id": "KeyguardSecuredEvent",
      "type": "object",
      "properties": {},
      "description": "The device was locked either by user or timeout. Intentionally empty."
    },
    "ExternalData": {
      "description": "Data hosted at an external location. The data is to be downloaded by Android Device Policy and verified against the hash.",
      "properties": {
        "url": {
          "type": "string",
          "description": "The absolute URL to the data, which must use either the http or https scheme. Android Device Policy doesn't provide any credentials in the GET request, so the URL must be publicly accessible. Including a long, random component in the URL may be used to prevent attackers from discovering the URL."
        },
        "sha256Hash": {
          "description": "The base-64 encoded SHA-256 hash of the content hosted at url. If the content doesn't match this hash, Android Device Policy won't use the data.",
          "type": "string"
        }
      },
      "id": "ExternalData",
      "type": "object"
    },
    "LoggingStoppedEvent": {
      "description": "usageLog policy has been disabled. Intentionally empty.",
      "type": "object",
      "id": "LoggingStoppedEvent",
      "properties": {}
    },
    "KeyImportEvent": {
      "description": "A cryptographic key including user installed, admin installed and system maintained private key is imported on the device either by the user or management. This is available device-wide on fully managed devices and within the work profile on organization-owned devices with a work profile.",
      "properties": {
        "applicationUid": {
          "description": "UID of the application which imported the key",
          "type": "integer",
          "format": "int32"
        },
        "success": {
          "description": "Whether the operation was successful.",
          "type": "boolean"
        },
        "keyAlias": {
          "type": "string",
          "description": "Alias of the key."
        }
      },
      "type": "object",
      "id": "KeyImportEvent"
    },
    "AlwaysOnVpnPackage": {
      "id": "AlwaysOnVpnPackage",
      "type": "object",
      "properties": {
        "packageName": {
          "type": "string",
          "description": "The package name of the VPN app."
        },
        "lockdownEnabled": {
          "type": "boolean",
          "description": "Disallows networking when the VPN is not connected."
        }
      },
      "description": "Configuration for an always-on VPN connection."
    },
    "SignupUrl": {
      "description": "An enterprise signup URL.",
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "description": "A URL where an enterprise admin can register their enterprise. The page can't be rendered in an iframe."
        },
        "name": {
          "description": "The name of the resource. Use this value in the signupUrl field when calling enterprises.create to complete the enterprise signup flow.",
          "type": "string"
        }
      },
      "id": "SignupUrl"
    },
    "CertAuthorityRemovedEvent": {
      "properties": {
        "success": {
          "description": "Whether the removal succeeded.",
          "type": "boolean"
        },
        "certificate": {
          "type": "string",
          "description": "Subject of the certificate."
        },
        "userId": {
          "format": "int32",
          "description": "The user in which the certificate removal event occurred. Only available for devices running Android 11 and above.",
          "type": "integer"
        }
      },
      "id": "CertAuthorityRemovedEvent",
      "type": "object",
      "description": "A root certificate was removed from the system's trusted credential storage. This is available device-wide on fully managed devices and within the work profile on organization-owned devices with a work profile."
    },
    "KioskCustomization": {
      "description": "Settings controlling the behavior of a device in kiosk mode. To enable kiosk mode, set kioskCustomLauncherEnabled to true or specify an app in the policy with installType KIOSK.",
      "id": "KioskCustomization",
      "type": "object",
      "properties": {
        "systemErrorWarnings": {
          "enumDescriptions": [
            "Unspecified, defaults to ERROR_AND_WARNINGS_MUTED.",
            "All system error dialogs such as crash and app not responding (ANR) are displayed.",
            "All system error dialogs, such as crash and app not responding (ANR) are blocked. When blocked, the system force-stops the app as if the user closes the app from the UI."
          ],
          "description": "Specifies whether system error dialogs for crashed or unresponsive apps are blocked in kiosk mode. When blocked, the system will force-stop the app as if the user chooses the \"close app\" option on the UI.",
          "enum": [
            "SYSTEM_ERROR_WARNINGS_UNSPECIFIED",
            "ERROR_AND_WARNINGS_ENABLED",
            "ERROR_AND_WARNINGS_MUTED"
          ],
          "type": "string"
        },
        "systemNavigation": {
          "description": "Specifies which navigation features are enabled (e.g. Home, Overview buttons) in kiosk mode.",
          "enumDescriptions": [
            "Unspecified, defaults to NAVIGATION_DISABLED.",
            "Home and overview buttons are enabled.",
            "The home and Overview buttons are not accessible.",
            "Only the home button is enabled."
          ],
          "type": "string",
          "enum": [
            "SYSTEM_NAVIGATION_UNSPECIFIED",
            "NAVIGATION_ENABLED",
            "NAVIGATION_DISABLED",
            "HOME_BUTTON_ONLY"
          ]
        },
        "deviceSettings": {
          "enumDescriptions": [
            "Unspecified, defaults to SETTINGS_ACCESS_ALLOWED.",
            "Access to the Settings app is allowed in kiosk mode.",
            "Access to the Settings app is not allowed in kiosk mode."
          ],
          "description": "Specifies whether the Settings app is allowed in kiosk mode.",
          "type": "string",
          "enum": [
            "DEVICE_SETTINGS_UNSPECIFIED",
            "SETTINGS_ACCESS_ALLOWED",
            "SETTINGS_ACCESS_BLOCKED"
          ]
        },
        "powerButtonActions": {
          "enum": [
            "POWER_BUTTON_ACTIONS_UNSPECIFIED",
            "POWER_BUTTON_AVAILABLE",
            "POWER_BUTTON_BLOCKED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified, defaults to POWER_BUTTON_AVAILABLE.",
            "The power menu (e.g. Power off, Restart) is shown when a user long-presses the Power button of a device in kiosk mode.",
            "The power menu (e.g. Power off, Restart) is not shown when a user long-presses the Power button of a device in kiosk mode. Note: this may prevent users from turning off the device."
          ],
          "description": "Sets the behavior of a device in kiosk mode when a user presses and holds (long-presses) the Power button."
        },
        "statusBar": {
          "enum": [
            "STATUS_BAR_UNSPECIFIED",
            "NOTIFICATIONS_AND_SYSTEM_INFO_ENABLED",
            "NOTIFICATIONS_AND_SYSTEM_INFO_DISABLED",
            "SYSTEM_INFO_ONLY"
          ],
          "enumDescriptions": [
            "Unspecified, defaults to INFO_AND_NOTIFICATIONS_DISABLED.",
            "System info and notifications are shown on the status bar in kiosk mode.Note: For this policy to take effect, the device's home button must be enabled using kioskCustomization.systemNavigation.",
            "System info and notifications are disabled in kiosk mode.",
            "Only system info is shown on the status bar."
          ],
          "type": "string",
          "description": "Specifies whether system info and notifications are disabled in kiosk mode."
        }
      }
    },
    "PasswordPoliciesContext": {
      "id": "PasswordPoliciesContext",
      "properties": {
        "passwordPolicyScope": {
          "type": "string",
          "description": "The scope of non-compliant password.",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_DEVICE",
            "SCOPE_PROFILE"
          ],
          "enumDescriptions": [
            "The scope is unspecified. The password requirements are applied to the work profile for work profile devices and the whole device for fully managed or dedicated devices.",
            "The password requirements are only applied to the device.",
            "The password requirements are only applied to the work profile."
          ]
        }
      },
      "description": "Additional context for non-compliance related to password policies.",
      "type": "object"
    },
    "LogBufferSizeCriticalEvent": {
      "properties": {},
      "id": "LogBufferSizeCriticalEvent",
      "type": "object",
      "description": "The usageLog buffer on the device has reached 90% of its capacity, therefore older events may be dropped. Intentionally empty."
    },
    "UsageLog": {
      "description": "Controls types of device activity logs collected from the device and reported via Pub/Sub notification (https://developers.google.com/android/management/notifications).",
      "id": "UsageLog",
      "type": "object",
      "properties": {
        "enabledLogTypes": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "This value is not used.",
              "Enable logging of on-device security events, like when the device password is incorrectly entered or removable storage is mounted. See UsageLogEvent for a complete description of the logged security events. Supported for fully managed devices on Android 7 and above. Supported for company-owned devices with a work profile on Android 12 and above, on which only security events from the work profile are logged. Can be overridden by the application delegated scope SECURITY_LOGS",
              "Enable logging of on-device network events, like DNS lookups and TCP connections. See UsageLogEvent for a complete description of the logged network events. Supported for fully managed devices on Android 8 and above. Supported for company-owned devices with a work profile on Android 12 and above, on which only network events from the work profile are logged. Can be overridden by the application delegated scope NETWORK_ACTIVITY_LOGS"
            ],
            "enum": [
              "LOG_TYPE_UNSPECIFIED",
              "SECURITY_LOGS",
              "NETWORK_ACTIVITY_LOGS"
            ]
          },
          "type": "array",
          "description": "Specifies which log types are enabled. Note that users will receive on-device messaging when usage logging is enabled."
        },
        "uploadOnCellularAllowed": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "This value is not used.",
              "Enable logging of on-device security events, like when the device password is incorrectly entered or removable storage is mounted. See UsageLogEvent for a complete description of the logged security events. Supported for fully managed devices on Android 7 and above. Supported for company-owned devices with a work profile on Android 12 and above, on which only security events from the work profile are logged. Can be overridden by the application delegated scope SECURITY_LOGS",
              "Enable logging of on-device network events, like DNS lookups and TCP connections. See UsageLogEvent for a complete description of the logged network events. Supported for fully managed devices on Android 8 and above. Supported for company-owned devices with a work profile on Android 12 and above, on which only network events from the work profile are logged. Can be overridden by the application delegated scope NETWORK_ACTIVITY_LOGS"
            ],
            "enum": [
              "LOG_TYPE_UNSPECIFIED",
              "SECURITY_LOGS",
              "NETWORK_ACTIVITY_LOGS"
            ]
          },
          "type": "array",
          "description": "Specifies which of the enabled log types can be uploaded over mobile data. By default logs are queued for upload when the device connects to WiFi."
        }
      }
    },
    "ClearAppsDataParams": {
      "properties": {
        "packageNames": {
          "type": "array",
          "description": "The package names of the apps whose data will be cleared when the command is executed.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ClearAppsDataParams",
      "description": "Parameters associated with the CLEAR_APP_DATA command to clear the data of specified apps from the device.",
      "type": "object"
    },
    "PersonalUsagePolicies": {
      "type": "object",
      "description": "Policies controlling personal usage on a company-owned device with a work profile.",
      "id": "PersonalUsagePolicies",
      "properties": {
        "personalApplications": {
          "items": {
            "$ref": "PersonalApplicationPolicy"
          },
          "description": "Policy applied to applications in the personal profile.",
          "type": "array"
        },
        "cameraDisabled": {
          "description": "Whether camera is disabled.",
          "type": "boolean"
        },
        "maxDaysWithWorkOff": {
          "type": "integer",
          "format": "int32",
          "description": "Controls how long the work profile can stay off. The duration must be at least 3 days."
        },
        "screenCaptureDisabled": {
          "description": "Whether screen capture is disabled.",
          "type": "boolean"
        },
        "personalPlayStoreMode": {
          "description": "Used together with personalApplications to control how apps in the personal profile are allowed or blocked.",
          "enum": [
            "PLAY_STORE_MODE_UNSPECIFIED",
            "BLACKLIST",
            "BLOCKLIST",
            "ALLOWLIST"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Defaults to BLOCKLIST.",
            "All Play Store apps are available for installation in the personal profile, except those whose installType is BLOCKED in personalApplications.",
            "All Play Store apps are available for installation in the personal profile, except those whose installType is BLOCKED in personalApplications.",
            "Only apps explicitly specified in personalApplications with installType set to AVAILABLE are allowed to be installed in the personal profile."
          ]
        },
        "accountTypesWithManagementDisabled": {
          "description": "Account types that can't be managed by the user.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "NetworkInfo": {
      "id": "NetworkInfo",
      "type": "object",
      "description": "Device network info.",
      "properties": {
        "telephonyInfos": {
          "description": "Provides telephony information associated with each SIM card on the device. Only supported on fully managed devices starting from Android API level 23.",
          "type": "array",
          "items": {
            "$ref": "TelephonyInfo"
          }
        },
        "imei": {
          "type": "string",
          "description": "IMEI number of the GSM device. For example, A1000031212."
        },
        "networkOperatorName": {
          "description": "Alphabetic name of current registered operator. For example, Vodafone.",
          "type": "string"
        },
        "meid": {
          "type": "string",
          "description": "MEID number of the CDMA device. For example, A00000292788E1."
        },
        "wifiMacAddress": {
          "description": "Wi-Fi MAC address of the device. For example, 7c:11:11:11:11:11.",
          "type": "string"
        }
      }
    },
    "User": {
      "description": "A user belonging to an enterprise.",
      "id": "User",
      "properties": {
        "accountIdentifier": {
          "description": "A unique identifier you create for this user, such as user342 or asset#44418. This field must be set when the user is created and can't be updated. This field must not contain personally identifiable information (PII). This identifier must be 1024 characters or less; otherwise, the update policy request will fail.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AdvancedSecurityOverrides": {
      "id": "AdvancedSecurityOverrides",
      "description": "Security policies set to secure values by default. To maintain the security posture of a device, we don't recommend overriding any of the default values.",
      "properties": {
        "developerSettings": {
          "enumDescriptions": [
            "Unspecified. Defaults to DEVELOPER_SETTINGS_DISABLED.",
            "Default. Disables all developer settings and prevents the user from accessing them.",
            "Allows all developer settings. The user can access and optionally configure the settings."
          ],
          "type": "string",
          "description": "Controls access to developer settings: developer options and safe boot. Replaces safeBootDisabled (deprecated) and debuggingFeaturesAllowed (deprecated).",
          "enum": [
            "DEVELOPER_SETTINGS_UNSPECIFIED",
            "DEVELOPER_SETTINGS_DISABLED",
            "DEVELOPER_SETTINGS_ALLOWED"
          ]
        },
        "commonCriteriaMode": {
          "description": "Controls Common Criteria Mode—security standards defined in the Common Criteria for Information Technology Security Evaluation (https://www.commoncriteriaportal.org/) (CC). Enabling Common Criteria Mode increases certain security components on a device, including AES-GCM encryption of Bluetooth Long Term Keys, and Wi-Fi configuration stores.Warning: Common Criteria Mode enforces a strict security model typically only required for IT products used in national security systems and other highly sensitive organizations. Standard device use may be affected. Only enabled if required.",
          "enum": [
            "COMMON_CRITERIA_MODE_UNSPECIFIED",
            "COMMON_CRITERIA_MODE_DISABLED",
            "COMMON_CRITERIA_MODE_ENABLED"
          ],
          "enumDescriptions": [
            "Unspecified. Defaults to COMMON_CRITERIA_MODE_DISABLED.",
            "Default. Disables Common Criteria Mode.",
            "Enables Common Criteria Mode."
          ],
          "type": "string"
        },
        "googlePlayProtectVerifyApps": {
          "description": "Whether Google Play Protect verification (https://support.google.com/accounts/answer/2812853) is enforced. Replaces ensureVerifyAppsEnabled (deprecated).",
          "enum": [
            "GOOGLE_PLAY_PROTECT_VERIFY_APPS_UNSPECIFIED",
            "VERIFY_APPS_ENFORCED",
            "VERIFY_APPS_USER_CHOICE"
          ],
          "enumDescriptions": [
            "Unspecified. Defaults to VERIFY_APPS_ENFORCED.",
            "Default. Force-enables app verification.",
            "Allows the user to choose whether to enable app verification."
          ],
          "type": "string"
        },
        "untrustedAppsPolicy": {
          "enumDescriptions": [
            "Unspecified. Defaults to DISALLOW_INSTALL.",
            "Default. Disallow untrusted app installs on entire device.",
            "For devices with work profiles, allow untrusted app installs in the device's personal profile only.",
            "Allow untrusted app installs on entire device."
          ],
          "description": "The policy for untrusted apps (apps from unknown sources) enforced on the device. Replaces install_unknown_sources_allowed (deprecated).",
          "type": "string",
          "enum": [
            "UNTRUSTED_APPS_POLICY_UNSPECIFIED",
            "DISALLOW_INSTALL",
            "ALLOW_INSTALL_IN_PERSONAL_PROFILE_ONLY",
            "ALLOW_INSTALL_DEVICE_WIDE"
          ]
        },
        "personalAppsThatCanReadWorkNotifications": {
          "items": {
            "type": "string"
          },
          "description": "Personal apps that can read work profile notifications using a NotificationListenerService (https://developer.android.com/reference/android/service/notification/NotificationListenerService). By default, no personal apps (aside from system apps) can read work notifications. Each value in the list must be a package name.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "AppVersion": {
      "id": "AppVersion",
      "description": "This represents a single version of the app.",
      "type": "object",
      "properties": {
        "versionCode": {
          "type": "integer",
          "format": "int32",
          "description": "Unique increasing identifier for the app version."
        },
        "production": {
          "description": "If the value is True, it indicates that this version is a production track.",
          "type": "boolean"
        },
        "versionString": {
          "type": "string",
          "description": "The string used in the Play store by the app developer to identify the version. The string is not necessarily unique or localized (for example, the string could be \"1.4\")."
        },
        "trackIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Track identifiers that the app version is published in. This does not include the production track (see production instead)."
        }
      }
    },
    "FreezePeriod": {
      "properties": {
        "endDate": {
          "$ref": "Date",
          "description": "The end date (inclusive) of the freeze period. Must be no later than 90 days from the start date. If the end date is earlier than the start date, the freeze period is considered wrapping year-end. Note: year must not be set. For example, {\"month\": 1,\"date\": 30}."
        },
        "startDate": {
          "description": "The start date (inclusive) of the freeze period. Note: year must not be set. For example, {\"month\": 1,\"date\": 30}.",
          "$ref": "Date"
        }
      },
      "id": "FreezePeriod",
      "type": "object",
      "description": "A system freeze period. When a device’s clock is within the freeze period, all incoming system updates (including security patches) are blocked and won’t be installed. When a device is outside the freeze period, normal update behavior applies. Leap years are ignored in freeze period calculations, in particular: * If Feb. 29th is set as the start or end date of a freeze period, the freeze period will start or end on Feb. 28th instead. * When a device’s system clock reads Feb. 29th, it’s treated as Feb. 28th. * When calculating the number of days in a freeze period or the time between two freeze periods, Feb. 29th is ignored and not counted as a day.Note: For Freeze Periods to take effect, SystemUpdateType cannot be specified as SYSTEM_UPDATE_TYPE_UNSPECIFIED, because freeze periods require a defined policy to be specified."
    },
    "WebAppIcon": {
      "description": "An icon for a web app. Supported formats are: png, jpg and webp.",
      "properties": {
        "imageData": {
          "type": "string",
          "description": "The actual bytes of the image in a base64url encoded string (c.f. RFC4648, section 5 \"Base 64 Encoding with URL and Filename Safe Alphabet\"). - The image type can be png or jpg. - The image should ideally be square. - The image should ideally have a size of 512x512. "
        }
      },
      "id": "WebAppIcon",
      "type": "object"
    },
    "UserFacingMessage": {
      "id": "UserFacingMessage",
      "properties": {
        "localizedMessages": {
          "description": "A map containing pairs, where locale is a well-formed BCP 47 language (https://www.w3.org/International/articles/language-tags/) code, such as en-US, es-ES, or fr.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "defaultMessage": {
          "description": "The default message displayed if no localized message is specified or the user's locale doesn't match with any of the localized messages. A default message must be provided if any localized messages are provided.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Provides a user-facing message with locale info. The maximum message length is 4096 characters."
    },
    "ClearAppsDataStatus": {
      "description": "Status of the CLEAR_APP_DATA command to clear the data of specified apps from the device.",
      "type": "object",
      "id": "ClearAppsDataStatus",
      "properties": {
        "results": {
          "additionalProperties": {
            "$ref": "PerAppResult"
          },
          "type": "object",
          "description": "The per-app results, a mapping from package names to the respective clearing result."
        }
      }
    },
    "NonComplianceDetail": {
      "type": "object",
      "description": "Provides detail about non-compliance with a policy setting.",
      "id": "NonComplianceDetail",
      "properties": {
        "currentValue": {
          "type": "any",
          "description": "If the policy setting could not be applied, the current value of the setting on the device."
        },
        "packageName": {
          "type": "string",
          "description": "The package name indicating which app is out of compliance, if applicable."
        },
        "settingName": {
          "type": "string",
          "description": "The name of the policy setting. This is the JSON field name of a top-level Policy field."
        },
        "fieldPath": {
          "type": "string",
          "description": "For settings with nested fields, if a particular nested field is out of compliance, this specifies the full path to the offending field. The path is formatted in the same way the policy JSON field would be referenced in JavaScript, that is: 1) For object-typed fields, the field name is followed by a dot then by a subfield name. 2) For array-typed fields, the field name is followed by the array index enclosed in brackets. For example, to indicate a problem with the url field in the externalData field in the 3rd application, the path would be applications[2].externalData.url"
        },
        "nonComplianceReason": {
          "description": "The reason the device is not in compliance with the setting.",
          "enumDescriptions": [
            "This value is disallowed.",
            "The setting is not supported in the API level of the Android version running on the device.",
            "The management mode (profile owner, device owner, etc.) doesn't support the setting.",
            "The user has not taken required action to comply with the setting.",
            "The setting has an invalid value.",
            "The app required to implement the policy is not installed.",
            "The policy is not supported by the version of Android Device Policy on the device.",
            "A blocked app is installed.",
            "The setting hasn't been applied at the time of the report, but is expected to be applied shortly.",
            "The setting can't be applied to the app because the app doesn't support it, for example because its target SDK version is not high enough.",
            "The app is installed, but it hasn't been updated to the minimum version code specified by policy."
          ],
          "type": "string",
          "enum": [
            "NON_COMPLIANCE_REASON_UNSPECIFIED",
            "API_LEVEL",
            "MANAGEMENT_MODE",
            "USER_ACTION",
            "INVALID_VALUE",
            "APP_NOT_INSTALLED",
            "UNSUPPORTED",
            "APP_INSTALLED",
            "PENDING",
            "APP_INCOMPATIBLE",
            "APP_NOT_UPDATED"
          ]
        },
        "specificNonComplianceContext": {
          "$ref": "SpecificNonComplianceContext",
          "description": "Additional context for specific_non_compliance_reason."
        },
        "installationFailureReason": {
          "enum": [
            "INSTALLATION_FAILURE_REASON_UNSPECIFIED",
            "INSTALLATION_FAILURE_REASON_UNKNOWN",
            "IN_PROGRESS",
            "NOT_FOUND",
            "NOT_COMPATIBLE_WITH_DEVICE",
            "NOT_APPROVED",
            "PERMISSIONS_NOT_ACCEPTED",
            "NOT_AVAILABLE_IN_COUNTRY",
            "NO_LICENSES_REMAINING",
            "NOT_ENROLLED",
            "USER_INVALID"
          ],
          "type": "string",
          "description": "If package_name is set and the non-compliance reason is APP_NOT_INSTALLED or APP_NOT_UPDATED, the detailed reason the app can't be installed or updated.",
          "enumDescriptions": [
            "This value is disallowed.",
            "An unknown condition is preventing the app from being installed. Some potential reasons are that the device doesn't have enough storage, the device network connection is unreliable, or the installation is taking longer than expected. The installation will be retried automatically.",
            "The installation is still in progress.",
            "The app was not found in Play.",
            "The app is incompatible with the device.",
            "The app has not been approved by the admin.",
            "The app has new permissions that have not been accepted by the admin.",
            "The app is not available in the user's country.",
            "There are no licenses available to assign to the user.",
            "The enterprise is no longer enrolled with Managed Google Play or the admin has not accepted the latest Managed Google Play Terms of Service.",
            "The user is no longer valid. The user may have been deleted or disabled."
          ]
        },
        "specificNonComplianceReason": {
          "enumDescriptions": [
            "Specific non-compliance reason is not specified. Fields in specific_non_compliance_context are not set.",
            "User needs to confirm credentials by entering the screen lock. Fields in specific_non_compliance_context are not set. nonComplianceReason is set to USER_ACTION.",
            "The device or profile password has expired. passwordPoliciesContext is set. nonComplianceReason is set to USER_ACTION.",
            "The device password does not satisfy password requirements. passwordPoliciesContext is set. nonComplianceReason is set to USER_ACTION.",
            "There is an incorrect value in ONC Wi-Fi configuration. fieldPath specifies which field value is incorrect. oncWifiContext is set. nonComplianceReason is set to INVALID_VALUE.",
            "The ONC Wi-Fi setting is not supported in the API level of the Android version running on the device. fieldPath specifies which field value is not supported. oncWifiContext is set. nonComplianceReason is set to API_LEVEL."
          ],
          "description": "The policy-specific reason the device is not in compliance with the setting.",
          "type": "string",
          "enum": [
            "SPECIFIC_NON_COMPLIANCE_REASON_UNSPECIFIED",
            "PASSWORD_POLICIES_USER_CREDENTIALS_CONFIRMATION_REQUIRED",
            "PASSWORD_POLICIES_PASSWORD_EXPIRED",
            "PASSWORD_POLICIES_PASSWORD_NOT_SUFFICIENT",
            "ONC_WIFI_INVALID_VALUE",
            "ONC_WIFI_API_LEVEL"
          ]
        }
      }
    },
    "ContentProviderEndpoint": {
      "properties": {
        "uri": {
[...]
