{
  "baseUrl": "https://www.googleapis.com/",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "description": "Lets Android application developers access their Google Play accounts.",
  "servicePath": "",
  "canonicalName": "Android Publisher",
  "id": "androidpublisher:v3",
  "protocol": "rest",
  "version": "v3",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    }
  },
  "resources": {
    "internalappsharingartifacts": {
      "methods": {
        "uploadbundle": {
          "httpMethod": "POST",
          "response": {
            "$ref": "InternalAppSharingArtifact"
          },
          "parameterOrder": [
            "packageName"
          ],
          "id": "androidpublisher.internalappsharingartifacts.uploadbundle",
          "path": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "supportsMediaUpload": true,
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
          "mediaUpload": {
            "maxSize": "10737418240",
            "accept": [
              "application/octet-stream"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle"
              }
            }
          },
          "description": "Uploads an app bundle to internal app sharing.\nIf you are using the Google API client libraries, please increase the\ntimeout of the http request before calling this endpoint\n(a timeout of 2 minutes is recommended).\n\nSee [Timeouts and\nErrors](https://developers.google.com/api-client-library/java/google-api-java-client/errors)\nfor an example in java."
        },
        "uploadapk": {
          "supportsMediaUpload": true,
          "path": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
          "mediaUpload": {
            "protocols": {
              "simple": {
                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
                "multipart": true
              }
            },
            "accept": [
              "application/octet-stream",
              "application/vnd.android.package-archive"
            ],
            "maxSize": "1073741824"
          },
          "flatPath": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
          "description": "Uploads an APK to internal app sharing.\nIf you are using the Google API client libraries, please increase the\ntimeout of the http request before calling this endpoint\n(a timeout of 2 minutes is recommended).\n\nSee [Timeouts and\nErrors](https://developers.google.com/api-client-library/java/google-api-java-client/errors)\nfor an example in java.",
          "id": "androidpublisher.internalappsharingartifacts.uploadapk",
          "parameterOrder": [
            "packageName"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "InternalAppSharingArtifact"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "packageName": {
              "location": "path",
              "type": "string",
              "description": "Package name of the app.",
              "required": true
            }
          }
        }
      }
    },
    "reviews": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}",
          "id": "androidpublisher.reviews.get",
          "parameters": {
            "translationLanguage": {
              "description": "Language localization code.",
              "type": "string",
              "location": "query"
            },
            "reviewId": {
              "required": true,
              "type": "string",
              "description": "Unique identifier for a review.",
              "location": "path"
            },
            "packageName": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Package name of the app."
            }
          },
          "response": {
            "$ref": "Review"
          },
          "parameterOrder": [
            "packageName",
            "reviewId"
          ],
          "httpMethod": "GET",
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}",
          "description": "Gets a single review."
        },
        "list": {
          "description": "Lists all reviews.",
          "path": "androidpublisher/v3/applications/{packageName}/reviews",
          "id": "androidpublisher.reviews.list",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews",
          "response": {
            "$ref": "ReviewsListResponse"
          },
          "parameters": {
            "translationLanguage": {
              "type": "string",
              "location": "query",
              "description": "Language localization code."
            },
            "token": {
              "location": "query",
              "type": "string",
              "description": "Pagination token. If empty, list starts at the first review."
            },
            "packageName": {
              "description": "Package name of the app.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "uint32",
              "description": "How many results the list operation should return."
            },
            "startIndex": {
              "type": "integer",
              "description": "The index of the first element to return.",
              "location": "query",
              "format": "uint32"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "packageName"
          ]
        },
        "reply": {
          "id": "androidpublisher.reviews.reply",
          "parameters": {
            "reviewId": {
              "location": "path",
              "description": "Unique identifier for a review.",
              "type": "string",
              "required": true
            },
            "packageName": {
              "description": "Package name of the app.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Replies to a single review, or updates an existing reply.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}:reply",
          "response": {
            "$ref": "ReviewsReplyResponse"
          },
          "parameterOrder": [
            "packageName",
            "reviewId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "POST",
          "path": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}:reply",
          "request": {
            "$ref": "ReviewsReplyRequest"
          }
        }
      }
    },
    "edits": {
      "resources": {
        "bundles": {
          "methods": {
            "upload": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Uploads a new Android App Bundle to this edit.\nIf you are using the Google API client libraries, please increase the\ntimeout of the http request before calling this endpoint\n(a timeout of 2 minutes is recommended).\nSee [Timeouts and\nErrors](https://developers.google.com/api-client-library/java/google-api-java-client/errors)\nfor an example in java.",
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "ackBundleInstallationWarning": {
                  "description": "Must be set to true if the bundle installation may trigger a warning on\nuser devices (for example, if installation size may be over a threshold,\ntypically 100 MB).",
                  "location": "query",
                  "type": "boolean"
                },
                "editId": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "required": true
                }
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "response": {
                "$ref": "Bundle"
              },
              "httpMethod": "POST",
              "mediaUpload": {
                "accept": [
                  "application/octet-stream"
                ],
                "maxSize": "10737418240",
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles"
                  }
                }
              },
              "id": "androidpublisher.edits.bundles.upload",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "supportsMediaUpload": true
            },
            "list": {
              "response": {
                "$ref": "BundlesListResponse"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "description": "Lists all current Android App Bundles of the app and edit.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "id": "androidpublisher.edits.bundles.list",
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "packageName": {
                  "type": "string",
                  "required": true,
                  "description": "Package name of the app.",
                  "location": "path"
                }
              }
            }
          }
        },
        "listings": {
          "methods": {
            "update": {
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "parameters": {
                "editId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit."
                },
                "language": {
                  "type": "string",
                  "required": true,
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\"\nfor Austrian German).",
                  "location": "path"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "PUT",
              "request": {
                "$ref": "Listing"
              },
              "response": {
                "$ref": "Listing"
              },
              "id": "androidpublisher.edits.listings.update",
              "description": "Creates or updates a localized store listing.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "patch": {
              "description": "Patches a localized store listing.",
              "response": {
                "$ref": "Listing"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "id": "androidpublisher.edits.listings.patch",
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "request": {
                "$ref": "Listing"
              },
              "httpMethod": "PATCH",
              "parameters": {
                "language": {
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\"\nfor Austrian German).",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "editId": {
                  "required": true,
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "location": "path"
                },
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "description": "Package name of the app.",
                  "required": true
                }
              }
            },
            "deleteall": {
              "parameters": {
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Package name of the app."
                },
                "editId": {
                  "required": true,
                  "location": "path",
                  "description": "Identifier of the edit.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "httpMethod": "DELETE",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "description": "Deletes all store listings.",
              "id": "androidpublisher.edits.listings.deleteall"
            },
            "list": {
              "response": {
                "$ref": "ListingsListResponse"
              },
              "id": "androidpublisher.edits.listings.list",
              "httpMethod": "GET",
              "description": "Lists all localized store listings.",
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings"
            },
            "get": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "description": "Gets a localized store listing.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "id": "androidpublisher.edits.listings.get",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "Listing"
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "parameters": {
                "editId": {
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the edit.",
                  "required": true
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "language": {
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\"\nfor Austrian German).",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Deletes a localized store listing.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "id": "androidpublisher.edits.listings.delete",
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "required": true,
                  "location": "path"
                },
                "language": {
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\"\nfor Austrian German).",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}"
            }
          }
        },
        "images": {
          "methods": {
            "upload": {
              "description": "Uploads an image of the specified language and image type, and adds to the\nedit.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "parameters": {
                "packageName": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Package name of the app."
                },
                "editId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the edit."
                },
                "imageType": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Type of the Image.",
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "promoGraphic",
                    "tvBanner"
                  ]
                },
                "language": {
                  "type": "string",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\"\nfor Austrian German).\nProviding a language that is not supported by the App is a no-op.",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "httpMethod": "POST",
              "supportsMediaUpload": true,
              "mediaUpload": {
                "accept": [
                  "image/*"
                ],
                "maxSize": "15728640",
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}"
                  }
                }
              },
              "response": {
                "$ref": "ImagesUploadResponse"
              },
              "id": "androidpublisher.edits.images.upload",
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ]
            },
            "list": {
              "description": "Lists all images. The response may be empty.",
              "parameters": {
                "editId": {
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true
                },
                "language": {
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\"\nfor Austrian German).\nThere must be a store listing for the specified language.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "packageName": {
                  "required": true,
                  "description": "Package name of the app.",
                  "type": "string",
                  "location": "path"
                },
                "imageType": {
                  "type": "string",
                  "description": "Type of the Image. Providing an image type that refers to no images will\nreturn an empty response.",
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "promoGraphic",
                    "tvBanner"
                  ],
                  "location": "path",
                  "required": true
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "response": {
                "$ref": "ImagesListResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "GET",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ],
              "id": "androidpublisher.edits.images.list"
            },
            "delete": {
              "id": "androidpublisher.edits.images.delete",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}/{imageId}",
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType",
                "imageId"
              ],
              "httpMethod": "DELETE",
              "description": "Deletes the image (specified by id) from the edit.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}/{imageId}",
              "parameters": {
                "editId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the edit."
                },
                "imageType": {
                  "required": true,
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "promoGraphic",
                    "tvBanner"
                  ],
                  "type": "string",
                  "description": "Type of the Image.",
                  "location": "path"
                },
                "imageId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Unique identifier an image within the set of images attached to this edit."
                },
                "language": {
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\"\nfor Austrian German).",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "packageName": {
                  "required": true,
                  "location": "path",
                  "description": "Package name of the app.",
                  "type": "string"
                }
              }
            },
            "deleteall": {
              "httpMethod": "DELETE",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "description": "Deletes all images for the specified language and image type.\nReturns an empty response if no images are found.",
              "parameters": {
                "imageType": {
                  "location": "path",
                  "type": "string",
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "promoGraphic",
                    "tvBanner"
                  ],
                  "description": "Type of the Image.\nProviding an image type that refers to no images is a no-op.",
                  "required": true
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "Package name of the app.",
                  "required": true
                },
                "editId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the edit."
                },
                "language": {
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\"\nfor Austrian German).\nProviding a language that is not supported by the App is a no-op.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "ImagesDeleteAllResponse"
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "id": "androidpublisher.edits.images.deleteall"
            }
          }
        },
        "details": {
          "methods": {
            "patch": {
              "httpMethod": "PATCH",
              "response": {
                "$ref": "AppDetails"
              },
              "request": {
                "$ref": "AppDetails"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "id": "androidpublisher.edits.details.patch",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "description": "Patches details of an app.",
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "editId": {
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path"
                }
              }
            },
            "get": {
              "id": "androidpublisher.edits.details.get",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "response": {
                "$ref": "AppDetails"
              },
              "httpMethod": "GET",
              "description": "Gets details of an app.",
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "editId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the edit."
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details"
            },
            "update": {
              "response": {
                "$ref": "AppDetails"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "httpMethod": "PUT",
              "description": "Updates details of an app.",
              "id": "androidpublisher.edits.details.update",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "request": {
                "$ref": "AppDetails"
              },
              "parameters": {
                "editId": {
                  "required": true,
                  "location": "path",
                  "description": "Identifier of the edit.",
                  "type": "string"
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app."
                }
              }
            }
          }
        },
        "testers": {
          "methods": {
            "patch": {
              "response": {
                "$ref": "Testers"
              },
              "request": {
                "$ref": "Testers"
              },
              "id": "androidpublisher.edits.testers.patch",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "description": "Patches testers.",
              "httpMethod": "PATCH",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "track": {
                  "type": "string",
                  "required": true,
                  "description": "The track to update.",
                  "location": "path"
                },
                "editId": {
                  "location": "path",
                  "description": "Identifier of the edit.",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "get": {
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "id": "androidpublisher.edits.testers.get",
              "response": {
                "$ref": "Testers"
              },
              "httpMethod": "GET",
              "parameters": {
                "track": {
                  "location": "path",
                  "required": true,
                  "description": "The track to read from.",
                  "type": "string"
                },
                "editId": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "required": true
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Gets testers."
            },
            "update": {
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "track": {
                  "type": "string",
                  "location": "path",
                  "description": "The track to update.",
                  "required": true
                },
                "editId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the edit."
                }
              },
              "description": "Updates testers.",
              "id": "androidpublisher.edits.testers.update",
              "httpMethod": "PUT",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "request": {
                "$ref": "Testers"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "response": {
                "$ref": "Testers"
              }
            }
          }
        },
        "deobfuscationfiles": {
          "methods": {
            "upload": {
              "id": "androidpublisher.edits.deobfuscationfiles.upload",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}",
              "supportsMediaUpload": true,
              "mediaUpload": {
                "accept": [
                  "application/octet-stream"
                ],
                "maxSize": "31457280",
                "protocols": {
                  "simple": {
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}",
                    "multipart": true
                  }
                }
              },
              "response": {
                "$ref": "DeobfuscationFilesUploadResponse"
              },
              "description": "Uploads a new deobfuscation file and attaches to the specified APK.",
              "httpMethod": "POST",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}",
              "parameters": {
                "editId": {
                  "description": "Unique identifier for this edit.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "deobfuscationFileType": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The type of the deobfuscation file.",
                  "enum": [
                    "deobfuscationFileTypeUnspecified",
                    "proguard",
                    "nativeCode"
                  ]
                },
                "apkVersionCode": {
                  "required": true,
                  "type": "integer",
                  "description": "The version code of the APK whose Deobfuscation File is being\nuploaded.",
                  "format": "int32",
                  "location": "path"
                },
                "packageName": {
                  "required": true,
                  "description": "Unique identifier for the Android app.",
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "deobfuscationFileType"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            }
          }
        },
        "expansionfiles": {
          "methods": {
            "upload": {
              "id": "androidpublisher.edits.expansionfiles.upload",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "mediaUpload": {
                "accept": [
                  "application/octet-stream"
                ],
                "maxSize": "2147483648",
                "protocols": {
                  "simple": {
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
                    "multipart": true
                  }
                }
              },
              "parameters": {
                "expansionFileType": {
                  "location": "path",
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "description": "The file type of the expansion file configuration which is being updated.",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "Package name of the app.",
                  "required": true
                },
                "editId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the edit."
                },
                "apkVersionCode": {
                  "location": "path",
                  "required": true,
                  "format": "int32",
                  "type": "integer",
                  "description": "The version code of the APK whose expansion file configuration is being\nread or modified."
                }
              },
              "response": {
                "$ref": "ExpansionFilesUploadResponse"
              },
              "description": "Uploads a new expansion file and attaches to the specified APK.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "supportsMediaUpload": true,
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "POST"
            },
            "update": {
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "request": {
                "$ref": "ExpansionFile"
              },
              "httpMethod": "PUT",
              "parameters": {
                "apkVersionCode": {
                  "description": "The version code of the APK whose expansion file configuration is being\nread or modified.",
                  "format": "int32",
                  "location": "path",
                  "type": "integer",
                  "required": true
                },
                "editId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the edit."
                },
                "expansionFileType": {
                  "description": "The file type of the file configuration which is being read or modified.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ]
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "androidpublisher.edits.expansionfiles.update",
              "response": {
                "$ref": "ExpansionFile"
              },
              "description": "Updates the APK's expansion file configuration to reference another APK's\nexpansion file.\nTo add a new expansion file use the Upload method."
            },
            "patch": {
              "id": "androidpublisher.edits.expansionfiles.patch",
              "request": {
                "$ref": "ExpansionFile"
              },
              "parameters": {
                "apkVersionCode": {
                  "required": true,
                  "description": "The version code of the APK whose expansion file configuration is being\nread or modified.",
                  "location": "path",
                  "format": "int32",
                  "type": "integer"
                },
                "packageName": {
                  "required": true,
                  "description": "Package name of the app.",
                  "location": "path",
                  "type": "string"
                },
                "expansionFileType": {
                  "description": "The file type of the expansion file configuration which is being updated.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ]
                },
                "editId": {
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "ExpansionFile"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Patches the APK's expansion file configuration to reference another APK's\nexpansion file.\nTo add a new expansion file use the Upload method.",
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ]
            },
            "get": {
              "description": "Fetches the expansion file configuration for the specified APK.",
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "response": {
                "$ref": "ExpansionFile"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "httpMethod": "GET",
              "id": "androidpublisher.edits.expansionfiles.get",
              "parameters": {
                "packageName": {
                  "required": true,
                  "location": "path",
                  "description": "Package name of the app.",
                  "type": "string"
                },
                "expansionFileType": {
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "location": "path",
                  "description": "The file type of the file configuration which is being read or modified.",
                  "required": true,
                  "type": "string"
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "apkVersionCode": {
                  "description": "The version code of the APK whose expansion file configuration is being\nread or modified.",
                  "required": true,
                  "type": "integer",
                  "format": "int32",
                  "location": "path"
                }
              }
            }
          }
        },
        "apks": {
          "methods": {
            "list": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "httpMethod": "GET",
              "description": "Lists all current APKs of the app and edit.",
              "id": "androidpublisher.edits.apks.list",
              "parameters": {
                "editId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "type": "string",
                  "required": true,
                  "description": "Package name of the app.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "response": {
                "$ref": "ApksListResponse"
              }
            },
            "upload": {
              "response": {
                "$ref": "Apk"
              },
              "description": "Uploads an APK and adds to the current edit.",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "httpMethod": "POST",
              "id": "androidpublisher.edits.apks.upload",
              "mediaUpload": {
                "accept": [
                  "application/octet-stream",
                  "application/vnd.android.package-archive"
                ],
                "maxSize": "10737418240",
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks"
                  }
                }
              },
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "editId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the edit."
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "supportsMediaUpload": true,
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "addexternallyhosted": {
              "description": "Creates a new APK without uploading the APK itself to Google Play, instead\nhosting the APK at a specified URL. This function is only available to\norganizations using Managed Play whose application is configured to\nrestrict distribution to the organizations.",
              "httpMethod": "POST",
              "request": {
                "$ref": "ApksAddExternallyHostedRequest"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/externallyHosted",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "packageName": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Package name of the app."
                },
                "editId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the edit."
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/externallyHosted",
              "response": {
                "$ref": "ApksAddExternallyHostedResponse"
              },
              "id": "androidpublisher.edits.apks.addexternallyhosted"
            }
          }
        },
        "tracks": {
          "methods": {
            "get": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Gets a track.",
              "httpMethod": "GET",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "response": {
                "$ref": "Track"
              },
              "id": "androidpublisher.edits.tracks.get",
              "parameters": {
                "editId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit."
                },
                "track": {
                  "description": "Identifier of the track.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "packageName": {
                  "type": "string",
                  "required": true,
                  "description": "Package name of the app.",
                  "location": "path"
                }
              }
            },
            "update": {
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "parameters": {
                "track": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the track.",
                  "required": true
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "id": "androidpublisher.edits.tracks.update",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "description": "Updates a track.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "request": {
                "$ref": "Track"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "Track"
              },
              "httpMethod": "PUT"
            },
            "list": {
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "response": {
                "$ref": "TracksListResponse"
              },
              "parameters": {
                "packageName": {
                  "location": "path",
                  "required": true,
                  "description": "Package name of the app.",
                  "type": "string"
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks",
              "description": "Lists all tracks.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks",
              "id": "androidpublisher.edits.tracks.list",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "patch": {
              "parameters": {
                "editId": {
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the edit.",
                  "location": "path"
                },
                "packageName": {
                  "location": "path",
                  "description": "Package name of the app.",
                  "required": true,
                  "type": "string"
                },
                "track": {
                  "description": "Identifier of the track.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Track"
              },
              "description": "Patches a track.",
              "httpMethod": "PATCH",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "id": "androidpublisher.edits.tracks.patch",
              "request": {
                "$ref": "Track"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ]
            }
          }
        }
      },
      "methods": {
        "validate": {
          "description": "Validates an app edit.",
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}:validate",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "editId": {
              "location": "path",
              "description": "Identifier of the edit.",
              "required": true,
              "type": "string"
            },
            "packageName": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Package name of the app."
            }
          },
          "id": "androidpublisher.edits.validate",
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}:validate",
          "response": {
            "$ref": "AppEdit"
          }
        },
        "insert": {
          "path": "androidpublisher/v3/applications/{packageName}/edits",
          "response": {
            "$ref": "AppEdit"
          },
          "request": {
            "$ref": "AppEdit"
          },
          "id": "androidpublisher.edits.insert",
          "description": "Creates a new edit for an app.",
          "parameterOrder": [
            "packageName"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "POST"
        },
        "commit": {
          "httpMethod": "POST",
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}:commit",
          "response": {
            "$ref": "AppEdit"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}:commit",
          "description": "Commits an app edit.",
          "id": "androidpublisher.edits.commit",
          "parameters": {
            "editId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Identifier of the edit."
            },
            "packageName": {
              "description": "Package name of the app.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          }
        },
        "get": {
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "response": {
            "$ref": "AppEdit"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "packageName": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Package name of the app."
            },
            "editId": {
              "description": "Identifier of the edit.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "description": "Gets an app edit.",
          "httpMethod": "GET",
          "id": "androidpublisher.edits.get",
          "parameterOrder": [
            "packageName",
            "editId"
          ]
        },
        "delete": {
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "editId": {
              "type": "string",
              "description": "Identifier of the edit.",
              "location": "path",
              "required": true
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.edits.delete",
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "description": "Deletes an app edit.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}"
        }
      }
    },
    "purchases": {
      "resources": {
        "voidedpurchases": {
          "methods": {
            "list": {
              "description": "Lists the purchases that were canceled, refunded or charged-back.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/voidedpurchases",
              "parameterOrder": [
                "packageName"
              ],
              "id": "androidpublisher.purchases.voidedpurchases.list",
              "parameters": {
                "startIndex": {
                  "location": "query",
                  "format": "uint32",
                  "type": "integer",
                  "description": "Defines the index of the first element to return.\nThis can only be used if indexed paging is enabled."
                },
                "endTime": {
                  "format": "int64",
                  "location": "query",
                  "type": "string",
                  "description": "The time, in milliseconds since the Epoch, of the newest voided purchase\nthat you want to see in the response. The value of this parameter cannot\nbe greater than the current time and is ignored if a pagination token is\nset. Default value is current time.\nNote: This filter is applied on the time at which the record is seen as\nvoided by our systems and not the actual voided time returned in the\nresponse."
                },
                "maxResults": {
                  "type": "integer",
                  "location": "query",
                  "format": "uint32",
                  "description": "Defines how many results the list operation should return.\nThe default number depends on the resource collection."
                },
                "startTime": {
                  "format": "int64",
                  "description": "The time, in milliseconds since the Epoch, of the oldest voided purchase\nthat you want to see in the response. The value of this parameter cannot\nbe older than 30 days and is ignored if a pagination token is set.\nDefault value is current time minus 30 days.\nNote: This filter is applied on the time at which the record is seen as\nvoided by our systems and not the actual voided time returned in the\nresponse.",
                  "location": "query",
                  "type": "string"
                },
                "token": {
                  "location": "query",
                  "type": "string",
                  "description": "Defines the token of the page to return, usually taken from\nTokenPagination.\nThis can only be used if token paging is enabled."
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The package name of the application for which voided purchases need to be\nreturned (for example, 'com.some.thing')."
                },
                "type": {
                  "format": "int32",
                  "description": "The type of voided purchases that you want to see in the response.\nPossible values are:\n0. Only voided in-app product purchases will be returned in the\n   response. This is the default value.\n1. Both voided in-app purchases and voided subscription purchases\n   will be returned in the response.\n\nNote: Before requesting to receive voided subscription purchases, you\nmust switch to use orderId in the response which uniquely identifies\none-time purchases and subscriptions. Otherwise, you will receive multiple\nsubscription orders with the same PurchaseToken, because subscription\nrenewal orders share the same PurchaseToken.",
                  "location": "query",
                  "type": "integer"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "VoidedPurchasesListResponse"
              },
              "httpMethod": "GET",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/voidedpurchases"
            }
          }
        },
        "subscriptions": {
          "methods": {
            "get": {
              "response": {
                "$ref": "SubscriptionPurchase"
              },
              "description": "Checks whether a user's subscription purchase is valid and returns its\nexpiry time.",
              "parameters": {
                "subscriptionId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The purchased subscription ID (for example, 'monthly001')."
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "The package name of the application for which this subscription was\npurchased (for example, 'com.some.thing').",
                  "required": true
                },
                "token": {
                  "required": true,
                  "location": "path",
                  "description": "The token provided to the user's device when the subscription was\npurchased.",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}",
              "id": "androidpublisher.purchases.subscriptions.get",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ]
            },
            "defer": {
              "httpMethod": "POST",
              "parameters": {
                "subscriptionId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The purchased subscription ID (for example, 'monthly001')."
                },
                "packageName": {
                  "location": "path",
                  "description": "The package name of the application for which this subscription was\npurchased (for example, 'com.some.thing').",
                  "type": "string",
                  "required": true
                },
                "token": {
                  "location": "path",
                  "required": true,
                  "description": "The token provided to the user's device when the subscription was\npurchased.",
                  "type": "string"
                }
              },
              "id": "androidpublisher.purchases.subscriptions.defer",
              "response": {
                "$ref": "SubscriptionPurchasesDeferResponse"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "request": {
                "$ref": "SubscriptionPurchasesDeferRequest"
              },
              "description": "Defers a user's subscription purchase until a specified future expiration\ntime.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "refund": {
              "id": "androidpublisher.purchases.subscriptions.refund",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "httpMethod": "POST",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:refund",
              "parameters": {
                "token": {
                  "location": "path",
                  "required": true,
                  "description": "The token provided to the user's device when the subscription was\npurchased.",
                  "type": "string"
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The package name of the application for which this subscription was\npurchased (for example, 'com.some.thing')."
                },
                "subscriptionId": {
                  "location": "path",
                  "description": "\"The purchased subscription ID (for example, 'monthly001').",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:refund",
              "description": "Refunds a user's subscription purchase, but the subscription remains valid\nuntil its expiration time and it will continue to recur."
            },
            "cancel": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:cancel",
              "parameters": {
                "packageName": {
                  "type": "string",
                  "required": true,
                  "description": "The package name of the application for which this subscription was\npurchased (for example, 'com.some.thing').",
                  "location": "path"
                },
                "subscriptionId": {
                  "location": "path",
                  "type": "string",
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "required": true
                },
                "token": {
                  "required": true,
                  "type": "string",
                  "description": "The token provided to the user's device when the subscription was\npurchased.",
                  "location": "path"
                }
              },
              "description": "Cancels a user's subscription purchase. The subscription remains valid\nuntil its expiration time.",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:cancel",
              "id": "androidpublisher.purchases.subscriptions.cancel",
              "httpMethod": "POST",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "acknowledge": {
              "httpMethod": "POST",
              "id": "androidpublisher.purchases.subscriptions.acknowledge",
              "description": "Acknowledges a subscription purchase.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:acknowledge",
              "request": {
                "$ref": "SubscriptionPurchasesAcknowledgeRequest"
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:acknowledge",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "parameters": {
                "token": {
                  "description": "The token provided to the user's device when the subscription was\npurchased.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "subscriptionId": {
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "packageName": {
                  "required": true,
                  "description": "The package name of the application for which this subscription was\npurchased (for example, 'com.some.thing').",
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "revoke": {
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:revoke",
              "parameters": {
                "subscriptionId": {
                  "type": "string",
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "required": true,
                  "location": "path"
                },
                "token": {
                  "description": "The token provided to the user's device when the subscription was\npurchased.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "packageName": {
                  "required": true,
                  "type": "string",
                  "description": "The package name of the application for which this subscription was\npurchased (for example, 'com.some.thing').",
                  "location": "path"
                }
              },
              "id": "androidpublisher.purchases.subscriptions.revoke",
              "description": "Refunds and immediately revokes a user's subscription purchase. Access to\nthe subscription will be terminated immediately and it will stop recurring.",
              "httpMethod": "POST",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:revoke",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            }
          }
        },
        "products": {
          "methods": {
            "get": {
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ],
              "parameters": {
                "packageName": {
                  "description": "The package name of the application the inapp product was sold in (for\nexample, 'com.some.thing').",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "token": {
                  "required": true,
                  "location": "path",
                  "description": "The token provided to the user's device when the inapp product was\npurchased.",
                  "type": "string"
                },
                "productId": {
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1').",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Checks the purchase and consumption status of an inapp item.",
              "response": {
                "$ref": "ProductPurchase"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}",
              "id": "androidpublisher.purchases.products.get",
              "httpMethod": "GET"
            },
            "acknowledge": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "request": {
                "$ref": "ProductPurchasesAcknowledgeRequest"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:acknowledge",
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ],
              "parameters": {
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The package name of the application the inapp product was sold in (for\nexample, 'com.some.thing')."
                },
                "productId": {
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1').",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "token": {
                  "location": "path",
                  "description": "The token provided to the user's device when the inapp product was\npurchased.",
                  "type": "string",
                  "required": true
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:acknowledge",
              "id": "androidpublisher.purchases.products.acknowledge",
              "description": "Acknowledges a purchase of an inapp item."
            }
          }
        }
      }
    },
    "orders": {
      "methods": {
        "refund": {
          "parameterOrder": [
            "packageName",
            "orderId"
          ],
          "id": "androidpublisher.orders.refund",
          "flatPath": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:refund",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "revoke": {
              "location": "query",
              "description": "Whether to revoke the purchased item. If set to true, access to the\nsubscription or in-app item will be terminated immediately. If the item is\na recurring subscription, all future payments will also be terminated.\nConsumed in-app items need to be handled by developer's app. (optional).",
              "type": "boolean"
            },
            "packageName": {
              "type": "string",
              "description": "The package name of the application for which this subscription or in-app\nitem was purchased (for example, 'com.some.thing').",
              "location": "path",
              "required": true
            },
            "orderId": {
              "description": "The order ID provided to the user when the subscription or in-app order was\npurchased.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "description": "Refund a user's subscription or in-app purchase order.",
          "httpMethod": "POST",
          "path": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:refund"
        }
      }
    },
    "inappproducts": {
      "methods": {
        "list": {
          "id": "androidpublisher.inappproducts.list",
          "parameterOrder": [
            "packageName"
          ],
          "response": {
            "$ref": "InappproductsListResponse"
          },
          "parameters": {
            "startIndex": {
              "description": "The index of the first element to return.",
              "location": "query",
              "format": "uint32",
              "type": "integer"
            },
            "token": {
              "description": "Pagination token. If empty, list starts at the first product.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "format": "uint32",
              "location": "query",
              "description": "How many results the list operation should return."
            },
            "packageName": {
              "required": true,
              "type": "string",
              "description": "Package name of the app.",
              "location": "path"
            }
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Lists all in-app products - both managed products and subscriptions.",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "httpMethod": "GET"
        },
        "delete": {
          "id": "androidpublisher.inappproducts.delete",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "parameters": {
            "packageName": {
              "required": true,
              "description": "Package name of the app.",
              "location": "path",
              "type": "string"
            },
            "sku": {
              "location": "path",
              "description": "Unique identifier for the in-app product.",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "description": "Deletes an in-app product (i.e. a managed product or a subscriptions).",
          "httpMethod": "DELETE",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}"
        },
        "get": {
          "response": {
            "$ref": "InAppProduct"
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "parameters": {
            "sku": {
              "description": "Unique identifier for the in-app product.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "packageName": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Package name of the app."
            }
          },
          "description": "Gets an in-app product, which can be a managed product or a subscription.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "id": "androidpublisher.inappproducts.get"
        },
        "update": {
          "description": "Updates an in-app product (i.e. a managed product or a subscriptions).",
          "httpMethod": "PUT",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "id": "androidpublisher.inappproducts.update",
          "request": {
            "$ref": "InAppProduct"
          },
          "parameters": {
            "autoConvertMissingPrices": {
              "type": "boolean",
              "location": "query",
              "description": "If true the prices for all regions targeted by the parent app that don't\nhave a price specified for this in-app product will be auto converted to\nthe target currency based on the default price. Defaults to false."
            },
            "packageName": {
              "required": true,
              "location": "path",
              "description": "Package name of the app.",
              "type": "string"
            },
            "sku": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Unique identifier for the in-app product."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "response": {
            "$ref": "InAppProduct"
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}"
        },
        "insert": {
          "response": {
            "$ref": "InAppProduct"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.inappproducts.insert",
          "parameterOrder": [
            "packageName"
          ],
          "description": "Creates an in-app product (i.e. a managed product or a subscriptions).",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "parameters": {
            "packageName": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Package name of the app."
            },
            "autoConvertMissingPrices": {
              "location": "query",
              "type": "boolean",
              "description": "If true the prices for all regions targeted by the parent app that don't\nhave a price specified for this in-app product will be auto converted to\nthe target currency based on the default price. Defaults to false."
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "request": {
            "$ref": "InAppProduct"
          },
          "httpMethod": "POST"
        },
        "patch": {
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "response": {
            "$ref": "InAppProduct"
          },
          "id": "androidpublisher.inappproducts.patch",
          "parameters": {
            "autoConvertMissingPrices": {
              "type": "boolean",
              "description": "If true the prices for all regions targeted by the parent app that don't\nhave a price specified for this in-app product will be auto converted to\nthe target currency based on the default price. Defaults to false.",
              "location": "query"
            },
            "packageName": {
              "type": "string",
              "required": true,
              "description": "Package name of the app.",
              "location": "path"
            },
            "sku": {
              "required": true,
              "type": "string",
              "description": "Unique identifier for the in-app product.",
              "location": "path"
            }
          },
          "httpMethod": "PATCH",
          "description": "Patches an in-app product (i.e. a managed product or a subscriptions).",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "request": {
            "$ref": "InAppProduct"
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/android-publisher",
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "ownerName": "Google",
  "rootUrl": "https://www.googleapis.com/",
  "revision": "20200615",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "basePath": "",
  "batchPath": "batch/androidpublisher",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "kind": "discovery#restDescription",
  "title": "Google Play Android Developer API",
  "name": "androidpublisher",
  "schemas": {
    "ApksListResponse": {
      "description": "Response listing all APKs.",
      "type": "object",
      "properties": {
        "apks": {
          "items": {
            "$ref": "Apk"
          },
          "type": "array",
          "description": "All APKs."
        },
        "kind": {
          "type": "string",
          "description": "The kind of this response (\"androidpublisher#apksListResponse\")."
        }
      },
      "id": "ApksListResponse"
    },
    "Track": {
      "properties": {
        "releases": {
          "items": {
            "$ref": "TrackRelease"
          },
          "description": "In a read request, represents all active releases in the track.\nIn an update request, represents desired changes.",
          "type": "array"
        },
        "track": {
          "description": "Identifier of the track.",
          "type": "string"
        }
      },
      "description": "A track configuration. The resource for TracksService.",
      "type": "object",
      "id": "Track"
    },
    "DeveloperComment": {
      "description": "Developer entry from conversation between user and developer.",
      "properties": {
        "text": {
          "description": "The content of the comment, i.e. reply body.",
          "type": "string"
        },
        "lastModified": {
          "description": "The last time at which this comment was updated.",
          "$ref": "Timestamp"
        }
      },
      "type": "object",
      "id": "DeveloperComment"
    },
    "PageInfo": {
      "description": "Information about the current page.\n\nList operations that supports paging return only one \"page\" of results. This\nprotocol buffer message describes the page that has been returned.",
      "type": "object",
      "properties": {
        "startIndex": {
          "format": "int32",
          "description": "Index of the first result returned in the current page.",
          "type": "integer"
        },
        "resultPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of results returned in one page.\n! The number of results included in the API response."
        },
        "totalResults": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of results available on the backend\n! The total number of results in the result set."
        }
      },
      "id": "PageInfo"
    },
    "ProductPurchase": {
      "type": "object",
      "description": "A ProductPurchase resource indicates the status of a user's inapp\nproduct purchase.",
      "properties": {
        "purchaseState": {
          "type": "integer",
          "format": "int32",
          "description": "The purchase state of the order. Possible values are:\n0. Purchased\n1. Canceled\n2. Pending"
        },
        "purchaseTimeMillis": {
          "description": "The time the product was purchased, in milliseconds since the\nepoch (Jan 1, 1970).",
          "format": "int64",
          "type": "string"
        },
        "consumptionState": {
          "description": "The consumption state of the inapp product. Possible values are:\n0. Yet to be consumed\n1. Consumed",
          "type": "integer",
          "format": "int32"
        },
        "productId": {
          "description": "The inapp product SKU.",
          "type": "string"
        },
[...]
