{
  "version": "v3",
  "kind": "discovery#restDescription",
  "parameters": {
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "default": "json"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "description": "Lets Android application developers access their Google Play accounts. At a high level, the expected workflow is to \"insert\" an Edit, make changes as necessary, and then \"commit\" it. ",
  "id": "androidpublisher:v3",
  "canonicalName": "Android Publisher",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "title": "Google Play Android Developer API",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "documentationLink": "https://developers.google.com/android-publisher",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "basePath": "",
  "revision": "20230628",
  "servicePath": "",
  "baseUrl": "https://androidpublisher.googleapis.com/",
  "schemas": {
    "GeneratedApksListResponse": {
      "type": "object",
      "properties": {
        "generatedApks": {
          "description": "All generated APKs, grouped by the APK signing key.",
          "items": {
            "$ref": "GeneratedApksPerSigningKey"
          },
          "type": "array"
        }
      },
      "description": "Response to list generated APKs.",
      "id": "GeneratedApksListResponse"
    },
    "ReplacementCancellation": {
      "type": "object",
      "description": "Information specific to cancellations caused by subscription replacement.",
      "properties": {},
      "id": "ReplacementCancellation"
    },
    "TracksListResponse": {
      "type": "object",
      "description": "Response listing all tracks.",
      "id": "TracksListResponse",
      "properties": {
        "kind": {
          "description": "The kind of this response (\"androidpublisher#tracksListResponse\").",
          "type": "string"
        },
        "tracks": {
          "items": {
            "$ref": "Track"
          },
          "type": "array",
          "description": "All tracks."
        }
      }
    },
    "ReviewReplyResult": {
      "type": "object",
      "description": "The result of replying/updating a reply to review.",
      "properties": {
        "lastEdited": {
          "$ref": "Timestamp",
          "description": "The time at which the reply took effect."
        },
        "replyText": {
          "type": "string",
          "description": "The reply text that was applied."
        }
      },
      "id": "ReviewReplyResult"
    },
    "TestPurchase": {
      "properties": {},
      "type": "object",
      "description": "Whether this subscription purchase is a test purchase.",
      "id": "TestPurchase"
    },
    "SubscriptionPurchase": {
      "properties": {
        "introductoryPriceInfo": {
          "description": "Introductory price information of the subscription. This is only present when the subscription was purchased with an introductory price. This field does not indicate the subscription is currently in introductory price period.",
          "$ref": "IntroductoryPriceInfo"
        },
        "obfuscatedExternalAccountId": {
          "description": "An obfuscated version of the id that is uniquely associated with the user's account in your app. Present for the following purchases: * If account linking happened as part of the subscription purchase flow. * It was specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedaccountid when the purchase was made.",
          "type": "string"
        },
        "priceAmountMicros": {
          "type": "string",
          "description": "Price of the subscription, For tax exclusive countries, the price doesn't include tax. For tax inclusive countries, the price includes tax. Price is expressed in micro-units, where 1,000,000 micro-units represents one unit of the currency. For example, if the subscription price is €1.99, price_amount_micros is 1990000.",
          "format": "int64"
        },
        "linkedPurchaseToken": {
          "type": "string",
          "description": "The purchase token of the originating purchase if this subscription is one of the following: 0. Re-signup of a canceled but non-lapsed subscription 1. Upgrade/downgrade from a previous subscription For example, suppose a user originally signs up and you receive purchase token X, then the user cancels and goes through the resignup flow (before their subscription lapses) and you receive purchase token Y, and finally the user upgrades their subscription and you receive purchase token Z. If you call this API with purchase token Z, this field will be set to Y. If you call this API with purchase token Y, this field will be set to X. If you call this API with purchase token X, this field will not be set."
        },
        "promotionType": {
          "format": "int32",
          "description": "The type of promotion applied on this purchase. This field is only set if a promotion is applied when the subscription was purchased. Possible values are: 0. One time code 1. Vanity code",
          "type": "integer"
        },
        "profileName": {
          "type": "string",
          "description": "The profile name of the user when the subscription was purchased. Only present for purchases made with 'Subscribe with Google'."
        },
        "autoResumeTimeMillis": {
          "description": "Time at which the subscription will be automatically resumed, in milliseconds since the Epoch. Only present if the user has requested to pause the subscription.",
          "format": "int64",
          "type": "string"
        },
        "expiryTimeMillis": {
          "format": "int64",
          "description": "Time at which the subscription will expire, in milliseconds since the Epoch.",
          "type": "string"
        },
        "purchaseType": {
          "format": "int32",
          "description": "The type of purchase of the subscription. This field is only set if this purchase was not made using the standard in-app billing flow. Possible values are: 0. Test (i.e. purchased from a license testing account) 1. Promo (i.e. purchased using a promo code)",
          "type": "integer"
        },
        "familyName": {
          "description": "The family name of the user when the subscription was purchased. Only present for purchases made with 'Subscribe with Google'.",
          "type": "string"
        },
        "autoRenewing": {
          "description": "Whether the subscription will automatically be renewed when it reaches its current expiry time.",
          "type": "boolean"
        },
        "givenName": {
          "type": "string",
          "description": "The given name of the user when the subscription was purchased. Only present for purchases made with 'Subscribe with Google'."
        },
        "developerPayload": {
          "description": "A developer-specified string that contains supplemental information about an order.",
          "type": "string"
        },
        "acknowledgementState": {
          "type": "integer",
          "description": "The acknowledgement state of the subscription product. Possible values are: 0. Yet to be acknowledged 1. Acknowledged",
          "format": "int32"
        },
        "countryCode": {
          "description": "ISO 3166-1 alpha-2 billing country/region code of the user at the time the subscription was granted.",
          "type": "string"
        },
        "priceCurrencyCode": {
          "type": "string",
          "description": "ISO 4217 currency code for the subscription price. For example, if the price is specified in British pounds sterling, price_currency_code is \"GBP\"."
        },
        "priceChange": {
          "$ref": "SubscriptionPriceChange",
          "description": "The latest price change information available. This is present only when there is an upcoming price change for the subscription yet to be applied. Once the subscription renews with the new price or the subscription is canceled, no price change information will be returned."
        },
        "cancelReason": {
          "format": "int32",
          "description": "The reason why a subscription was canceled or is not auto-renewing. Possible values are: 0. User canceled the subscription 1. Subscription was canceled by the system, for example because of a billing problem 2. Subscription was replaced with a new subscription 3. Subscription was canceled by the developer",
          "type": "integer"
        },
        "userCancellationTimeMillis": {
          "description": "The time at which the subscription was canceled by the user, in milliseconds since the epoch. Only present if cancelReason is 0.",
          "format": "int64",
          "type": "string"
        },
        "obfuscatedExternalProfileId": {
          "description": "An obfuscated version of the id that is uniquely associated with the user's profile in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedprofileid when the purchase was made.",
          "type": "string"
        },
        "kind": {
          "description": "This kind represents a subscriptionPurchase object in the androidpublisher service.",
          "type": "string"
        },
        "promotionCode": {
          "description": "The promotion code applied on this purchase. This field is only set if a vanity code promotion is applied when the subscription was purchased.",
          "type": "string"
        },
        "paymentState": {
          "type": "integer",
          "format": "int32",
          "description": "The payment state of the subscription. Possible values are: 0. Payment pending 1. Payment received 2. Free trial 3. Pending deferred upgrade/downgrade Not present for canceled, expired subscriptions."
        },
        "externalAccountId": {
          "description": "User account identifier in the third-party service. Only present if account linking happened as part of the subscription purchase flow.",
          "type": "string"
        },
        "emailAddress": {
          "description": "The email address of the user when the subscription was purchased. Only present for purchases made with 'Subscribe with Google'.",
          "type": "string"
        },
        "orderId": {
          "description": "The order id of the latest recurring order associated with the purchase of the subscription. If the subscription was canceled because payment was declined, this will be the order id from the payment declined order.",
          "type": "string"
        },
        "cancelSurveyResult": {
          "$ref": "SubscriptionCancelSurveyResult",
          "description": "Information provided by the user when they complete the subscription cancellation flow (cancellation reason survey)."
        },
        "profileId": {
          "type": "string",
          "description": "The Google profile id of the user when the subscription was purchased. Only present for purchases made with 'Subscribe with Google'."
        },
        "startTimeMillis": {
          "description": "Time at which the subscription was granted, in milliseconds since the Epoch.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A SubscriptionPurchase resource indicates the status of a user's subscription purchase.",
      "id": "SubscriptionPurchase"
    },
    "OfferTag": {
      "type": "object",
      "description": "Represents a custom tag specified for base plans and subscription offers.",
      "properties": {
        "tag": {
          "type": "string",
          "description": "Must conform with RFC-1034. That is, this string can only contain lower-case letters (a-z), numbers (0-9), and hyphens (-), and be at most 20 characters."
        }
      },
      "id": "OfferTag"
    },
    "LanguageTargeting": {
      "type": "object",
      "properties": {
        "alternatives": {
          "description": "Alternative languages.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "value": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "ISO-639: 2 or 3 letter language code."
        }
      },
      "description": "Targeting based on language.",
      "id": "LanguageTargeting"
    },
    "ListSubscriptionOffersResponse": {
      "description": "Response message for ListSubscriptionOffers.",
      "id": "ListSubscriptionOffersResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "subscriptionOffers": {
          "items": {
            "$ref": "SubscriptionOffer"
          },
          "type": "array",
          "description": "The subscription offers from the specified subscription."
        }
      },
      "type": "object"
    },
    "SystemInitiatedCancellation": {
      "id": "SystemInitiatedCancellation",
      "description": "Information specific to cancellations initiated by Google system.",
      "properties": {},
      "type": "object"
    },
    "Listing": {
      "id": "Listing",
      "type": "object",
      "properties": {
        "shortDescription": {
          "description": "Short description of the app.",
          "type": "string"
        },
        "fullDescription": {
          "description": "Full description of the app.",
          "type": "string"
        },
        "video": {
          "type": "string",
          "description": "URL of a promotional YouTube video for the app."
        },
        "language": {
          "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
          "type": "string"
        },
        "title": {
          "description": "Localized title of the app.",
          "type": "string"
        }
      },
      "description": "A localized store listing. The resource for ListingsService."
    },
    "GeneratedApksPerSigningKey": {
      "properties": {
        "certificateSha256Hash": {
          "description": "SHA256 hash of the APK signing public key certificate.",
          "type": "string"
        },
        "generatedStandaloneApks": {
          "items": {
            "$ref": "GeneratedStandaloneApk"
          },
          "type": "array",
          "description": "List of generated standalone APKs, signed with a key corresponding to certificate_sha256_hash."
        },
        "generatedSplitApks": {
          "items": {
            "$ref": "GeneratedSplitApk"
          },
          "type": "array",
          "description": "List of generated split APKs, signed with a key corresponding to certificate_sha256_hash."
        },
        "generatedAssetPackSlices": {
          "items": {
            "$ref": "GeneratedAssetPackSlice"
          },
          "description": "List of asset pack slices which will be served for this app bundle, signed with a key corresponding to certificate_sha256_hash.",
          "type": "array"
        },
        "generatedUniversalApk": {
          "$ref": "GeneratedUniversalApk",
          "description": "Generated universal APK, signed with a key corresponding to certificate_sha256_hash. This field is not set if no universal APK was generated for this signing key."
        },
        "targetingInfo": {
          "$ref": "TargetingInfo",
          "description": "Contains targeting information about the generated apks."
        }
      },
      "type": "object",
      "description": "Download metadata for split, standalone and universal APKs, as well as asset pack slices, signed with a given key.",
      "id": "GeneratedApksPerSigningKey"
    },
    "DeviceTierSet": {
      "type": "object",
      "properties": {
        "deviceTiers": {
          "type": "array",
          "description": "Device tiers belonging to the set.",
          "items": {
            "$ref": "DeviceTier"
          }
        }
      },
      "description": "A set of device tiers. A tier set determines what variation of app content gets served to a specific device, for device-targeted content. You should assign a priority level to each tier, which determines the ordering by which they are evaluated by Play. See the documentation of DeviceTier.level for more details.",
      "id": "DeviceTierSet"
    },
    "Grant": {
      "description": "An access grant resource.",
      "type": "object",
      "id": "Grant",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Resource name for this grant, following the pattern \"developers/{developer}/users/{email}/grants/{package_name}\". If this grant is for a draft app, the app ID will be used in this resource name instead of the package name."
        },
        "appLevelPermissions": {
          "type": "array",
          "items": {
            "enum": [
              "APP_LEVEL_PERMISSION_UNSPECIFIED",
              "CAN_ACCESS_APP",
              "CAN_VIEW_FINANCIAL_DATA",
              "CAN_MANAGE_PERMISSIONS",
              "CAN_REPLY_TO_REVIEWS",
              "CAN_MANAGE_PUBLIC_APKS",
              "CAN_MANAGE_TRACK_APKS",
              "CAN_MANAGE_TRACK_USERS",
              "CAN_MANAGE_PUBLIC_LISTING",
              "CAN_MANAGE_DRAFT_APPS",
              "CAN_MANAGE_ORDERS",
              "CAN_MANAGE_APP_CONTENT",
              "CAN_VIEW_NON_FINANCIAL_DATA",
              "CAN_VIEW_APP_QUALITY"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unknown or unspecified permission.",
              "View app information (read-only). Deprecated: Try defining a more granular capability. Otherwise, check AppLevelPermission.CAN_VIEW_NON_FINANCIAL_DATA.",
              "View financial data.",
              "Admin (all permissions).",
              "Reply to reviews.",
              "Release to production, exclude devices, and use app signing by Google Play.",
              "Release to testing tracks.",
              "Manage testing tracks and edit tester lists.",
              "Manage store presence.",
              "Edit and delete draft apps.",
              "Manage orders and subscriptions.",
              "Manage policy related pages.",
              "View app information (read-only).",
              "View app quality data such as Vitals, Crashes etc."
            ]
          },
          "description": "The permissions granted to the user for this app."
        },
        "packageName": {
          "type": "string",
          "description": "Immutable. The package name of the app. This will be empty for draft apps."
        }
      }
    },
    "PrepaidPlan": {
      "description": "Information related to a prepaid plan.",
      "properties": {
        "allowExtendAfterTime": {
          "type": "string",
          "description": "If present, this is the time after which top up purchases are allowed for the prepaid plan. Will not be present for expired prepaid plans.",
          "format": "google-datetime"
        }
      },
      "id": "PrepaidPlan",
      "type": "object"
    },
    "ApkTargeting": {
      "id": "ApkTargeting",
      "properties": {
        "languageTargeting": {
          "description": "The language that the apk targets",
          "$ref": "LanguageTargeting"
        },
        "screenDensityTargeting": {
          "$ref": "ScreenDensityTargeting",
          "description": "The screen density that this apk supports."
        },
        "sdkVersionTargeting": {
          "$ref": "SdkVersionTargeting",
          "description": "The sdk version that the apk targets"
        },
        "textureCompressionFormatTargeting": {
          "description": "Texture-compression-format-level targeting",
          "$ref": "TextureCompressionFormatTargeting"
        },
        "multiAbiTargeting": {
          "description": "Multi-api-level targeting.",
          "$ref": "MultiAbiTargeting"
        },
        "abiTargeting": {
          "description": "The abi that the apk targets",
          "$ref": "AbiTargeting"
        }
      },
      "type": "object",
      "description": "Represents a set of apk-level targetings."
    },
    "Abi": {
      "description": "Represents an Abi.",
      "properties": {
        "alias": {
          "enumDescriptions": [
            "Unspecified abi.",
            "ARMEABI abi.",
            "ARMEABI_V7A abi.",
            "ARM64_V8A abi.",
            "X86 abi.",
            "X86_64 abi."
          ],
          "enum": [
            "UNSPECIFIED_CPU_ARCHITECTURE",
            "ARMEABI",
            "ARMEABI_V7A",
            "ARM64_V8A",
            "X86",
            "X86_64"
          ],
          "description": "Alias for an abi.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Abi"
    },
    "TargetingInfo": {
      "properties": {
        "variant": {
          "type": "array",
          "description": "List of the created variants.",
          "items": {
            "$ref": "SplitApkVariant"
          }
        },
        "assetSliceSet": {
          "type": "array",
          "description": "List of created asset slices.",
          "items": {
            "$ref": "AssetSliceSet"
          }
        },
        "packageName": {
          "type": "string",
          "description": "The package name of this app."
        }
      },
      "description": "Targeting information about the generated apks.",
      "id": "TargetingInfo",
      "type": "object"
    },
    "ScreenDensity": {
      "type": "object",
      "id": "ScreenDensity",
      "description": "Represents a screen density.",
      "properties": {
        "densityDpi": {
          "format": "int32",
          "description": "Value for density dpi.",
          "type": "integer"
        },
        "densityAlias": {
          "type": "string",
          "description": "Alias for a screen density.",
          "enumDescriptions": [
            "Unspecified screen density.",
            "NODPI screen density.",
            "LDPI screen density.",
            "MDPI screen density.",
            "TVDPI screen density.",
            "HDPI screen density.",
            "XHDPI screen density.",
            "XXHDPI screen density.",
            "XXXHDPI screen density."
          ],
          "enum": [
            "DENSITY_UNSPECIFIED",
            "NODPI",
            "LDPI",
            "MDPI",
            "TVDPI",
            "HDPI",
            "XHDPI",
            "XXHDPI",
            "XXXHDPI"
          ]
        }
      }
    },
    "RegionalTaxRateInfo": {
      "id": "RegionalTaxRateInfo",
      "description": "Specified details about taxation in a given geographical region.",
      "type": "object",
      "properties": {
        "taxTier": {
          "enum": [
            "TAX_TIER_UNSPECIFIED",
            "TAX_TIER_BOOKS_1",
            "TAX_TIER_NEWS_1",
            "TAX_TIER_NEWS_2",
            "TAX_TIER_MUSIC_OR_AUDIO_1",
            "TAX_TIER_LIVE_OR_BROADCAST_1"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Tax tier to specify reduced tax rate. Developers who sell digital news, magazines, newspapers, books, or audiobooks in various regions may be eligible for reduced tax rates. [Learn more](https://support.google.com/googleplay/android-developer/answer/10463498).",
          "type": "string"
        },
        "eligibleForStreamingServiceTaxRate": {
          "description": "You must tell us if your app contains streaming products to correctly charge US state and local sales tax. Field only supported in United States.",
          "type": "boolean"
        },
        "streamingTaxType": {
          "description": "To collect communications or amusement taxes in the United States, choose the appropriate tax category. [Learn more](https://support.google.com/googleplay/android-developer/answer/10463498#streaming_tax).",
          "type": "string",
          "enumDescriptions": [
            "No telecommunications tax collected.",
            "US-specific telecommunications tax tier for video streaming, on demand, rentals / subscriptions / pay-per-view.",
            "US-specific telecommunications tax tier for video streaming of pre-recorded content like movies, tv shows.",
            "US-specific telecommunications tax tier for video streaming of multi-channel programming.",
            "US-specific telecommunications tax tier for audio streaming, rental / subscription.",
            "US-specific telecommunications tax tier for audio streaming, sale / permanent download.",
            "US-specific telecommunications tax tier for multi channel audio streaming like radio."
          ],
          "enum": [
            "STREAMING_TAX_TYPE_UNSPECIFIED",
            "STREAMING_TAX_TYPE_TELCO_VIDEO_RENTAL",
            "STREAMING_TAX_TYPE_TELCO_VIDEO_SALES",
            "STREAMING_TAX_TYPE_TELCO_VIDEO_MULTI_CHANNEL",
            "STREAMING_TAX_TYPE_TELCO_AUDIO_RENTAL",
            "STREAMING_TAX_TYPE_TELCO_AUDIO_SALES",
            "STREAMING_TAX_TYPE_TELCO_AUDIO_MULTI_CHANNEL"
          ]
        }
      }
    },
    "ApkSet": {
      "description": "A set of apks representing a module.",
      "properties": {
        "moduleMetadata": {
          "description": "Metadata about the module represented by this ApkSet",
          "$ref": "ModuleMetadata"
        },
        "apkDescription": {
          "items": {
            "$ref": "ApkDescription"
          },
          "description": "Description of the generated apks.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ApkSet"
    },
    "PrepaidBasePlanType": {
      "id": "PrepaidBasePlanType",
      "type": "object",
      "properties": {
        "timeExtension": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Time extension is active. Users are allowed to top-up or extend their prepaid plan.",
            "Time extension is inactive. Users cannot top-up or extend their prepaid plan."
          ],
          "enum": [
            "TIME_EXTENSION_UNSPECIFIED",
            "TIME_EXTENSION_ACTIVE",
            "TIME_EXTENSION_INACTIVE"
          ],
          "description": "Whether users should be able to extend this prepaid base plan in Google Play surfaces. Defaults to TIME_EXTENSION_ACTIVE if not specified."
        },
        "billingPeriodDuration": {
          "description": "Required. Subscription period, specified in ISO 8601 format. For a list of acceptable billing periods, refer to the help center.",
          "type": "string"
        }
      },
      "description": "Represents a base plan that does not automatically renew at the end of the base plan, and must be manually renewed by the user."
    },
    "ExternalTransactionTestPurchase": {
      "type": "object",
      "description": "Represents a transaction performed using a test account. These transactions will not be charged by Google.",
      "properties": {},
      "id": "ExternalTransactionTestPurchase"
    },
    "SystemApksListResponse": {
      "id": "SystemApksListResponse",
      "type": "object",
      "description": "Response to list previously created system APK variants.",
      "properties": {
        "variants": {
          "items": {
            "$ref": "Variant"
          },
          "description": "All system APK variants created.",
          "type": "array"
        }
      }
    },
    "ModuleMetadata": {
      "description": "Metadata of a module.",
      "id": "ModuleMetadata",
      "type": "object",
      "properties": {
        "dependencies": {
          "description": "Names of the modules that this module directly depends on. Each module implicitly depends on the base module.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Module name.",
          "type": "string"
        },
        "moduleType": {
          "type": "string",
          "enum": [
            "UNKNOWN_MODULE_TYPE",
            "FEATURE_MODULE"
          ],
          "description": "Indicates the type of this feature module.",
          "enumDescriptions": [
            "Unknown feature module.",
            "Regular feature module."
          ]
        },
        "targeting": {
          "description": "The targeting that makes a conditional module installed. Relevant only for Split APKs.",
          "$ref": "ModuleTargeting"
        },
        "deliveryType": {
          "enum": [
            "UNKNOWN_DELIVERY_TYPE",
            "INSTALL_TIME",
            "ON_DEMAND",
            "FAST_FOLLOW"
          ],
          "enumDescriptions": [
            "Unspecified delivery type.",
            "This module will always be downloaded as part of the initial install of the app.",
            "This module is requested on-demand, which means it will not be part of the initial install, and will only be sent when requested by the client.",
            "This module will be downloaded immediately after initial install finishes. The app can be opened before these modules are downloaded."
          ],
          "description": "Indicates the delivery type (e.g. on-demand) of the module.",
          "type": "string"
        }
      }
    },
    "ScreenDensityTargeting": {
      "properties": {
        "value": {
          "type": "array",
          "description": "Value of a screen density.",
          "items": {
            "$ref": "ScreenDensity"
          }
        },
        "alternatives": {
          "items": {
            "$ref": "ScreenDensity"
          },
          "type": "array",
          "description": "Targeting of other sibling directories that were in the Bundle. For main splits this is targeting of other main splits."
        }
      },
      "description": "Targeting based on screen density.",
      "id": "ScreenDensityTargeting",
      "type": "object"
    },
    "TokenPagination": {
      "properties": {
        "previousPageToken": {
          "type": "string"
        },
        "nextPageToken": {
          "description": "Tokens to pass to the standard list field 'page_token'. Whenever available, tokens are preferred over manipulating start_index.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "TokenPagination",
      "description": "Pagination information returned by a List operation when token pagination is enabled. List operations that supports paging return only one \"page\" of results. This protocol buffer message describes the page that has been returned. When using token pagination, clients should use the next/previous token to get another page of the result. The presence or absence of next/previous token indicates whether a next/previous page is available and provides a mean of accessing this page. ListRequest.page_token should be set to either next_page_token or previous_page_token to access another page."
    },
    "ActivateBasePlanRequest": {
      "properties": {},
      "id": "ActivateBasePlanRequest",
      "type": "object",
      "description": "Request message for ActivateBasePlan."
    },
    "ReviewsReplyRequest": {
      "type": "object",
      "description": "Request to reply to review or update existing reply.",
      "properties": {
        "replyText": {
          "description": "The text to set as the reply. Replies of more than approximately 350 characters will be rejected. HTML tags will be stripped.",
          "type": "string"
        }
      },
      "id": "ReviewsReplyRequest"
    },
    "Track": {
      "description": "A track configuration. The resource for TracksService.",
      "id": "Track",
      "type": "object",
      "properties": {
        "releases": {
          "type": "array",
          "description": "In a read request, represents all active releases in the track. In an update request, represents desired changes.",
          "items": {
            "$ref": "TrackRelease"
          }
        },
        "track": {
          "description": "Identifier of the track. Form factor tracks have a special prefix as an identifier, for example `wear:production`, `automotive:production`. [More on track name](https://developers.google.com/android-publisher/tracks#ff-track-name)",
          "type": "string"
        }
      }
    },
    "AbiTargeting": {
      "id": "AbiTargeting",
      "type": "object",
      "description": "Targeting based on Abi.",
      "properties": {
        "alternatives": {
          "description": "Targeting of other sibling directories that were in the Bundle. For main splits this is targeting of other main splits.",
          "type": "array",
          "items": {
            "$ref": "Abi"
          }
        },
        "value": {
          "type": "array",
          "items": {
            "$ref": "Abi"
          },
          "description": "Value of an abi."
        }
      }
    },
    "SystemFeature": {
      "type": "object",
      "id": "SystemFeature",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the feature."
        }
      },
      "description": "Representation of a system feature."
    },
    "SubscriptionPurchaseV2": {
      "properties": {
        "kind": {
          "description": "This kind represents a SubscriptionPurchaseV2 object in the androidpublisher service.",
          "type": "string"
        },
        "startTime": {
          "description": "Time at which the subscription was granted. Not set for pending subscriptions (subscription was created but awaiting payment during signup).",
          "format": "google-datetime",
          "type": "string"
        },
        "canceledStateContext": {
          "description": "Additional context around canceled subscriptions. Only present if the subscription currently has subscription_state SUBSCRIPTION_STATE_CANCELED.",
          "$ref": "CanceledStateContext"
        },
        "acknowledgementState": {
          "description": "The acknowledgement state of the subscription.",
          "type": "string",
          "enum": [
            "ACKNOWLEDGEMENT_STATE_UNSPECIFIED",
            "ACKNOWLEDGEMENT_STATE_PENDING",
            "ACKNOWLEDGEMENT_STATE_ACKNOWLEDGED"
          ],
          "enumDescriptions": [
            "Unspecified acknowledgement state.",
            "The subscription is not acknowledged yet.",
            "The subscription is acknowledged."
          ]
        },
        "regionCode": {
          "type": "string",
          "description": "ISO 3166-1 alpha-2 billing country/region code of the user at the time the subscription was granted."
        },
        "subscribeWithGoogleInfo": {
          "$ref": "SubscribeWithGoogleInfo",
          "description": "User profile associated with purchases made with 'Subscribe with Google'."
        },
        "subscriptionState": {
          "enumDescriptions": [
            "Unspecified subscription state.",
            "Subscription was created but awaiting payment during signup. In this state, all items are awaiting payment.",
            "Subscription is active. - (1) If the subscription is an auto renewing plan, at least one item is auto_renew_enabled and not expired. - (2) If the subscription is a prepaid plan, at least one item is not expired.",
            "Subscription is paused. The state is only available when the subscription is an auto renewing plan. In this state, all items are in paused state.",
            "Subscription is in grace period. The state is only available when the subscription is an auto renewing plan. In this state, all items are in grace period.",
            "Subscription is on hold (suspended). The state is only available when the subscription is an auto renewing plan. In this state, all items are on hold.",
            "Subscription is canceled but not expired yet. The state is only available when the subscription is an auto renewing plan. All items have auto_renew_enabled set to false.",
            "Subscription is expired. All items have expiry_time in the past."
          ],
          "type": "string",
          "description": "The current state of the subscription.",
          "enum": [
            "SUBSCRIPTION_STATE_UNSPECIFIED",
            "SUBSCRIPTION_STATE_PENDING",
            "SUBSCRIPTION_STATE_ACTIVE",
            "SUBSCRIPTION_STATE_PAUSED",
            "SUBSCRIPTION_STATE_IN_GRACE_PERIOD",
            "SUBSCRIPTION_STATE_ON_HOLD",
            "SUBSCRIPTION_STATE_CANCELED",
            "SUBSCRIPTION_STATE_EXPIRED"
          ]
        },
        "externalAccountIdentifiers": {
          "$ref": "ExternalAccountIdentifiers",
          "description": "User account identifier in the third-party service."
        },
        "pausedStateContext": {
          "description": "Additional context around paused subscriptions. Only present if the subscription currently has subscription_state SUBSCRIPTION_STATE_PAUSED.",
          "$ref": "PausedStateContext"
        },
        "lineItems": {
          "type": "array",
          "items": {
            "$ref": "SubscriptionPurchaseLineItem"
          },
          "description": "Item-level info for a subscription purchase. The items in the same purchase should be either all with AutoRenewingPlan or all with PrepaidPlan."
        },
        "latestOrderId": {
          "type": "string",
          "description": "The order id of the latest order associated with the purchase of the subscription. For autoRenewing subscription, this is the order id of signup order if it is not renewed yet, or the last recurring order id (success, pending, or declined order). For prepaid subscription, this is the order id associated with the queried purchase token."
        },
        "linkedPurchaseToken": {
          "description": "The purchase token of the old subscription if this subscription is one of the following: * Re-signup of a canceled but non-lapsed subscription * Upgrade/downgrade from a previous subscription. * Convert from prepaid to auto renewing subscription. * Convert from an auto renewing subscription to prepaid. * Topup a prepaid subscription.",
          "type": "string"
        },
        "testPurchase": {
          "description": "Only present if this subscription purchase is a test purchase.",
          "$ref": "TestPurchase"
        }
      },
      "type": "object",
      "id": "SubscriptionPurchaseV2",
      "description": "Indicates the status of a user's subscription purchase."
    },
    "DeferredItemReplacement": {
      "type": "object",
      "description": "Information related to deferred item replacement.",
      "id": "DeferredItemReplacement",
      "properties": {
        "productId": {
          "type": "string",
          "description": "The product_id going to replace the existing product_id."
        }
      }
    },
    "ConvertedRegionPrice": {
      "properties": {
        "taxAmount": {
          "description": "The tax amount of the converted price.",
          "$ref": "Money"
        },
        "price": {
          "description": "The converted price tax inclusive.",
          "$ref": "Money"
        },
        "regionCode": {
          "description": "The region code of the region.",
          "type": "string"
        }
      },
      "description": "A converted region price.",
      "type": "object",
      "id": "ConvertedRegionPrice"
    },
    "TextureCompressionFormatTargeting": {
      "properties": {
        "alternatives": {
          "description": "List of alternative TCFs (TCFs targeted by the sibling splits).",
          "items": {
            "$ref": "TextureCompressionFormat"
          },
          "type": "array"
        },
        "value": {
          "description": "The list of targeted TCFs. Should not be empty.",
          "items": {
            "$ref": "TextureCompressionFormat"
          },
          "type": "array"
        }
      },
      "description": "Targeting by a texture compression format.",
      "type": "object",
      "id": "TextureCompressionFormatTargeting"
    },
    "TrackCountryAvailability": {
      "id": "TrackCountryAvailability",
      "type": "object",
      "properties": {
        "restOfWorld": {
          "description": "Whether artifacts in this track are available to \"rest of the world\" countries.",
          "type": "boolean"
        },
        "countries": {
          "type": "array",
          "items": {
            "$ref": "TrackTargetedCountry"
          },
          "description": "A list of one or more countries where artifacts in this track are available. This list includes all countries that are targeted by the track, even if only specific carriers are targeted in that country."
        },
        "syncWithProduction": {
          "description": "Whether this track's availability is synced with the default production track. See https://support.google.com/googleplay/android-developer/answer/7550024 for more information on syncing country availability with production. Note that if this is true, the returned \"countries\" and \"rest_of_world\" fields will reflect the values for the default production track.",
          "type": "boolean"
        }
      },
      "description": "Resource for per-track country availability information."
    },
    "GeneratedAssetPackSlice": {
      "type": "object",
      "description": "Download metadata for an asset pack slice.",
      "id": "GeneratedAssetPackSlice",
      "properties": {
        "sliceId": {
          "type": "string",
          "description": "Asset slice ID."
        },
        "downloadId": {
          "description": "Download ID, which uniquely identifies the APK to download. Should be supplied to `generatedapks.download` method.",
          "type": "string"
        },
        "moduleName": {
          "type": "string",
          "description": "Name of the module that this asset slice belongs to."
        },
        "version": {
          "format": "int64",
          "description": "Asset module version.",
          "type": "string"
        }
      }
    },
    "SplitApkMetadata": {
      "properties": {
        "isMasterSplit": {
          "description": "Indicates whether this APK is the main split of the module.",
          "type": "boolean"
        },
        "splitId": {
          "description": "Id of the split.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Holds data specific to Split APKs.",
      "id": "SplitApkMetadata"
    },
    "GeneratedStandaloneApk": {
      "description": "Download metadata for a standalone APK.",
      "type": "object",
      "properties": {
        "variantId": {
          "format": "int32",
          "description": "ID of the generated variant.",
          "type": "integer"
        },
        "downloadId": {
          "description": "Download ID, which uniquely identifies the APK to download. Should be supplied to `generatedapks.download` method.",
          "type": "string"
        }
      },
      "id": "GeneratedStandaloneApk"
    },
    "SubscriptionListing": {
      "properties": {
        "title": {
          "type": "string",
          "description": "Required. The title of this subscription in the language of this listing. Plain text."
        },
        "languageCode": {
          "description": "Required. The language of this listing, as defined by BCP-47, e.g. \"en-US\".",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of this subscription in the language of this listing. Maximum length - 80 characters. Plain text."
        },
        "benefits": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of benefits shown to the user on platforms such as the Play Store and in restoration flows in the language of this listing. Plain text. Ordered list of at most four benefits."
        }
      },
      "type": "object",
      "id": "SubscriptionListing",
      "description": "The consumer-visible metadata of a subscription."
    },
    "UpgradeTargetingRule": {
      "type": "object",
      "properties": {
        "billingPeriodDuration": {
          "description": "The specific billing period duration, specified in ISO 8601 format, that a user must be currently subscribed to to be eligible for this rule. If not specified, users subscribed to any billing period are matched.",
          "type": "string"
        },
        "scope": {
          "$ref": "TargetingRuleScope",
          "description": "Required. The scope of subscriptions this rule considers. Only allows \"this subscription\" and \"specific subscription in app\"."
        },
        "oncePerUser": {
          "description": "Limit this offer to only once per user. If set to true, a user can never be eligible for this offer again if they ever subscribed to this offer.",
          "type": "boolean"
        }
      },
      "description": "Represents a targeting rule of the form: User currently has {scope} [with billing period {billing_period}].",
      "id": "UpgradeTargetingRule"
    },
    "ExpansionFilesUploadResponse": {
      "description": "Response for uploading an expansion file.",
      "properties": {
        "expansionFile": {
          "description": "The uploaded expansion file configuration.",
          "$ref": "ExpansionFile"
        }
      },
      "id": "ExpansionFilesUploadResponse",
      "type": "object"
    },
    "OneTimeExternalTransaction": {
      "id": "OneTimeExternalTransaction",
      "description": "Represents a one-time transaction.",
      "properties": {
        "externalTransactionToken": {
          "description": "Input only. Provided during the call to Create. Retrieved from the client when the alternative billing flow is launched.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ApkDescription": {
      "properties": {
        "path": {
          "type": "string",
          "description": "Path of the Apk, will be in the following format: .apk where DownloadId is the ID used to download the apk using GeneratedApks.Download API."
        },
        "assetSliceMetadata": {
          "description": "Set only for asset slices.",
          "$ref": "SplitApkMetadata"
        },
        "standaloneApkMetadata": {
          "$ref": "StandaloneApkMetadata",
          "description": "Set only for standalone APKs."
        },
        "targeting": {
          "description": "Apk-level targeting.",
          "$ref": "ApkTargeting"
        },
        "instantApkMetadata": {
          "$ref": "SplitApkMetadata",
          "description": "Set only for Instant split APKs."
        },
        "splitApkMetadata": {
          "description": "Set only for Split APKs.",
          "$ref": "SplitApkMetadata"
        }
      },
      "id": "ApkDescription",
      "description": "Description of the created apks.",
      "type": "object"
    },
    "SdkVersionTargeting": {
      "type": "object",
      "description": "Targeting based on sdk version.",
      "properties": {
        "alternatives": {
          "description": "Targeting of other sibling directories that were in the Bundle. For main splits this is targeting of other main splits.",
          "type": "array",
          "items": {
            "$ref": "SdkVersion"
          }
        },
        "value": {
          "items": {
            "$ref": "SdkVersion"
          },
          "type": "array",
          "description": "Value of an sdk version."
        }
      },
      "id": "SdkVersionTargeting"
    },
    "SdkVersion": {
      "type": "object",
      "properties": {
        "min": {
          "format": "int32",
          "description": "Inclusive minimum value of an sdk version.",
          "type": "integer"
        }
      },
      "id": "SdkVersion",
      "description": "Represents an sdk version."
    },
    "DeviceFeatureTargeting": {
      "description": "Targeting for a device feature.",
      "id": "DeviceFeatureTargeting",
      "properties": {
        "requiredFeature": {
          "$ref": "DeviceFeature",
          "description": "Feature of the device."
        }
      },
      "type": "object"
    },
    "SubscribeWithGoogleInfo": {
      "description": "Information associated with purchases made with 'Subscribe with Google'.",
      "id": "SubscribeWithGoogleInfo",
      "type": "object",
      "properties": {
        "profileName": {
          "description": "The profile name of the user when the subscription was purchased.",
          "type": "string"
        },
        "familyName": {
          "type": "string",
          "description": "The family name of the user when the subscription was purchased."
        },
        "givenName": {
          "description": "The given name of the user when the subscription was purchased.",
          "type": "string"
        },
        "profileId": {
          "type": "string",
          "description": "The Google profile id of the user when the subscription was purchased."
        },
        "emailAddress": {
          "type": "string",
          "description": "The email address of the user when the subscription was purchased."
        }
      }
    },
    "ApkBinary": {
      "description": "Represents the binary payload of an APK.",
      "type": "object",
      "properties": {
        "sha1": {
          "type": "string",
          "description": "A sha1 hash of the APK payload, encoded as a hex string and matching the output of the sha1sum command."
        },
        "sha256": {
          "description": "A sha256 hash of the APK payload, encoded as a hex string and matching the output of the sha256sum command.",
          "type": "string"
        }
      },
      "id": "ApkBinary"
    },
    "PartialRefund": {
      "description": "A partial refund of a transaction.",
      "properties": {
        "refundPreTaxAmount": {
          "$ref": "Price",
          "description": "Required. The pre-tax amount of the partial refund. Should be less than the remaining pre-tax amount of the transaction."
        },
        "refundId": {
          "description": "Required. A unique id distinguishing this partial refund. If the refund is successful, subsequent refunds with the same id will fail. Must be unique across refunds for one individual transaction.",
          "type": "string"
        }
      },
      "id": "PartialRefund",
      "type": "object"
    },
    "SubscriptionDeferralInfo": {
      "type": "object",
      "properties": {
        "expectedExpiryTimeMillis": {
          "description": "The expected expiry time for the subscription. If the current expiry time for the subscription is not the value specified here, the deferral will not occur.",
          "type": "string",
          "format": "int64"
        },
        "desiredExpiryTimeMillis": {
          "type": "string",
          "format": "int64",
          "description": "The desired next expiry time to assign to the subscription, in milliseconds since the Epoch. The given time must be later/greater than the current expiry time for the subscription."
        }
      },
      "id": "SubscriptionDeferralInfo",
      "description": "A SubscriptionDeferralInfo contains the data needed to defer a subscription purchase to a future expiry time."
    },
    "InAppProductListing": {
      "type": "object",
      "id": "InAppProductListing",
      "description": "Store listing of a single in-app product.",
      "properties": {
        "description": {
          "description": "Description for the store listing.",
          "type": "string"
        },
        "benefits": {
          "type": "array",
          "description": "Localized entitlement benefits for a subscription.",
          "items": {
            "type": "string"
          }
        },
        "title": {
          "description": "Title for the store listing.",
          "type": "string"
        }
      }
    },
    "UserComment": {
      "type": "object",
      "description": "User entry from conversation between user and developer.",
      "id": "UserComment",
      "properties": {
        "thumbsUpCount": {
          "format": "int32",
          "description": "Number of users who have given this review a thumbs up.",
          "type": "integer"
        },
        "originalText": {
          "type": "string",
          "description": "Untranslated text of the review, where the review was translated. If the review was not translated this is left blank."
        },
        "appVersionName": {
          "type": "string",
          "description": "String version name of the app as installed at the time the review was written. May be absent."
        },
        "appVersionCode": {
          "type": "integer",
          "format": "int32",
          "description": "Integer version code of the app as installed at the time the review was written. May be absent."
        },
        "lastModified": {
          "$ref": "Timestamp",
          "description": "The last time at which this comment was updated."
        },
        "androidOsVersion": {
          "type": "integer",
          "description": "Integer Android SDK version of the user's device at the time the review was written, e.g. 23 is Marshmallow. May be absent.",
          "format": "int32"
        },
        "starRating": {
          "type": "integer",
          "format": "int32",
          "description": "The star rating associated with the review, from 1 to 5."
        },
        "device": {
          "description": "Codename for the reviewer's device, e.g. klte, flounder. May be absent.",
          "type": "string"
        },
        "thumbsDownCount": {
          "type": "integer",
          "description": "Number of users who have given this review a thumbs down.",
          "format": "int32"
        },
        "text": {
          "type": "string",
          "description": "The content of the comment, i.e. review body. In some cases users have been able to write a review with separate title and body; in those cases the title and body are concatenated and separated by a tab character."
        },
        "deviceMetadata": {
          "description": "Information about the characteristics of the user's device.",
          "$ref": "DeviceMetadata"
        },
        "reviewerLanguage": {
          "description": "Language code for the reviewer. This is taken from the device settings so is not guaranteed to match the language the review is written in. May be absent.",
          "type": "string"
        }
      }
    },
    "DeviceGroup": {
      "type": "object",
      "description": "A group of devices. A group is defined by a set of device selectors. A device belongs to the group if it matches any selector (logical OR).",
      "id": "DeviceGroup",
      "properties": {
        "deviceSelectors": {
          "items": {
            "$ref": "DeviceSelector"
          },
          "description": "Device selectors for this group. A device matching any of the selectors is included in this group.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "The name of the group."
        }
      }
    },
    "ConvertedOtherRegionsPrice": {
      "type": "object",
      "description": "Converted other regions prices.",
      "id": "ConvertedOtherRegionsPrice",
      "properties": {
        "eurPrice": {
          "$ref": "Money",
          "description": "Price in EUR to use for the \"Other regions\" location exclusive of taxes."
        },
        "usdPrice": {
          "$ref": "Money",
          "description": "Price in USD to use for the \"Other regions\" location exclusive of taxes."
        }
      }
    },
    "ImagesDeleteAllResponse": {
      "properties": {
        "deleted": {
          "description": "The deleted images.",
          "type": "array",
          "items": {
            "$ref": "Image"
          }
        }
      },
      "id": "ImagesDeleteAllResponse",
      "description": "Response for deleting all images.",
      "type": "object"
    },
    "Review": {
      "properties": {
        "comments": {
          "type": "array",
          "items": {
            "$ref": "Comment"
          },
          "description": "A repeated field containing comments for the review."
        },
        "authorName": {
          "description": "The name of the user who wrote the review.",
          "type": "string"
        },
        "reviewId": {
          "description": "Unique identifier for this review.",
          "type": "string"
        }
      },
      "description": "An Android app review.",
      "type": "object",
      "id": "Review"
    },
    "ListingsListResponse": {
      "description": "Response listing all localized listings.",
      "id": "ListingsListResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of this response (\"androidpublisher#listingsListResponse\")."
        },
        "listings": {
          "description": "All localized listings.",
          "items": {
            "$ref": "Listing"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "DeviceFeature": {
      "description": "Represents a device feature.",
      "type": "object",
      "properties": {
        "featureVersion": {
          "format": "int32",
          "type": "integer",
          "description": "The feature version specified by android:glEsVersion or android:version in in the AndroidManifest."
        },
        "featureName": {
          "description": "Name of the feature.",
          "type": "string"
        }
      },
      "id": "DeviceFeature"
    },
    "ListSubscriptionsResponse": {
      "type": "object",
      "properties": {
        "subscriptions": {
          "description": "The subscriptions from the specified app.",
          "type": "array",
          "items": {
            "$ref": "Subscription"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListSubscriptions.",
      "id": "ListSubscriptionsResponse"
    },
    "DeviceId": {
      "id": "DeviceId",
      "type": "object",
      "description": "Identifier of a device.",
      "properties": {
        "buildBrand": {
          "description": "Value of Build.BRAND.",
          "type": "string"
        },
        "buildDevice": {
          "description": "Value of Build.DEVICE.",
          "type": "string"
        }
      }
    },
    "ApksAddExternallyHostedResponse": {
      "id": "ApksAddExternallyHostedResponse",
      "type": "object",
      "description": "Response for creating a new externally hosted APK.",
      "properties": {
        "externallyHostedApk": {
          "description": "The definition of the externally-hosted APK and where it is located.",
          "$ref": "ExternallyHostedApk"
        }
      }
    },
    "Comment": {
      "description": "An entry of conversation between user and developer.",
      "properties": {
        "userComment": {
          "description": "A comment from a user.",
          "$ref": "UserComment"
        },
        "developerComment": {
          "$ref": "DeveloperComment",
          "description": "A comment from a developer."
        }
      },
      "id": "Comment",
      "type": "object"
    },
    "BasePlan": {
      "description": "A single base plan for a subscription.",
      "type": "object",
      "id": "BasePlan",
      "properties": {
        "prepaidBasePlanType": {
          "description": "Set when the base plan does not automatically renew at the end of the billing period.",
          "$ref": "PrepaidBasePlanType"
        },
        "regionalConfigs": {
          "items": {
            "$ref": "RegionalBasePlanConfig"
          },
          "description": "Region-specific information for this base plan.",
          "type": "array"
        },
        "offerTags": {
          "type": "array",
          "description": "List of up to 20 custom tags specified for this base plan, and returned to the app through the billing library. Subscription offers for this base plan will also receive these offer tags in the billing library.",
          "items": {
            "$ref": "OfferTag"
          }
        },
        "otherRegionsConfig": {
          "$ref": "OtherRegionsBasePlanConfig",
          "description": "Pricing information for any new locations Play may launch in the future. If omitted, the BasePlan will not be automatically available any new locations Play may launch in the future."
        },
        "basePlanId": {
          "description": "Required. Immutable. The unique identifier of this base plan. Must be unique within the subscription, and conform with RFC-1034. That is, this ID can only contain lower-case letters (a-z), numbers (0-9), and hyphens (-), and be at most 63 characters.",
          "type": "string"
        },
        "autoRenewingBasePlanType": {
          "$ref": "AutoRenewingBasePlanType",
          "description": "Set when the base plan automatically renews at a regular interval."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of the base plan, i.e. whether it's active. Draft and inactive base plans can be activated or deleted. Active base plans can be made inactive. Inactive base plans can be canceled. This field cannot be changed by updating the resource. Use the dedicated endpoints instead.",
          "enumDescriptions": [
            "Unspecified state.",
            "The base plan is currently in a draft state, and hasn't been activated. It can be safely deleted at this point.",
            "The base plan is active and available for new subscribers.",
            "The base plan is inactive and only available for existing subscribers."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "ACTIVE",
            "INACTIVE"
          ]
        }
      }
    },
    "AssetModuleMetadata": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Module name."
        },
        "deliveryType": {
          "description": "Indicates the delivery type for persistent install.",
          "enumDescriptions": [
            "Unspecified delivery type.",
            "This module will always be downloaded as part of the initial install of the app.",
            "This module is requested on-demand, which means it will not be part of the initial install, and will only be sent when requested by the client.",
            "This module will be downloaded immediately after initial install finishes. The app can be opened before these modules are downloaded."
          ],
          "enum": [
            "UNKNOWN_DELIVERY_TYPE",
            "INSTALL_TIME",
            "ON_DEMAND",
            "FAST_FOLLOW"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "AssetModuleMetadata",
      "description": "Metadata of an asset module."
    },
    "Money": {
      "type": "object",
      "properties": {
        "units": {
          "type": "string",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "format": "int64"
        },
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Represents an amount of money with its currency type.",
      "id": "Money"
    },
    "ExternalTransaction": {
      "type": "object",
      "properties": {
        "originalPreTaxAmount": {
          "description": "Required. The original transaction amount before taxes. This represents the pre-tax amount originally notified to Google before any refunds were applied.",
          "$ref": "Price"
        },
        "packageName": {
          "readOnly": true,
          "description": "Output only. The resource name of the external transaction. The package name of the application the inapp products were sold (for example, 'com.some.app').",
          "type": "string"
        },
        "userTaxAddress": {
          "$ref": "ExternalTransactionAddress",
          "description": "Required. User address for tax computation."
        },
        "transactionState": {
          "enumDescriptions": [
            "Unspecified transaction state. Not used.",
            "The transaction has been successfully reported to Google.",
            "The transaction has been fully refunded."
          ],
          "readOnly": true,
          "enum": [
            "TRANSACTION_STATE_UNSPECIFIED",
            "TRANSACTION_REPORTED",
            "TRANSACTION_CANCELED"
          ],
          "description": "Output only. The current state of the transaction.",
          "type": "string"
        },
        "currentTaxAmount": {
          "readOnly": true,
          "$ref": "Price",
          "description": "Output only. The current tax amount. This represents the current tax amount including any refunds that may have been applied to this transaction."
        },
        "oneTimeTransaction": {
          "description": "This is a one-time transaction and not part of a subscription.",
          "$ref": "OneTimeExternalTransaction"
        },
        "recurringTransaction": {
          "description": "This transaction is part of a recurring series of transactions.",
          "$ref": "RecurringExternalTransaction"
        },
        "currentPreTaxAmount": {
          "description": "Output only. The current transaction amount before tax. This represents the current pre-tax amount including any refunds that may have been applied to this transaction.",
          "$ref": "Price",
          "readOnly": true
        },
        "transactionTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The time when the transaction was completed."
        },
        "externalTransactionId": {
          "type": "string",
          "description": "Output only. The id of this transaction. All transaction ids under the same package name must be unique. Set when creating the external transaction.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when this transaction was created. This is the time when Google was notified of the transaction."
        },
        "testPurchase": {
          "description": "Output only. If set, this transaction was a test purchase. Google will not charge for a test transaction.",
          "readOnly": true,
          "$ref": "ExternalTransactionTestPurchase"
        },
        "originalTaxAmount": {
          "description": "Required. The original tax amount. This represents the tax amount originally notified to Google before any refunds were applied.",
          "$ref": "Price"
        }
      },
      "description": "The details of an external transaction.",
      "id": "ExternalTransaction"
    },
    "ReviewsReplyResponse": {
      "type": "object",
      "description": "Response on status of replying to a review.",
      "id": "ReviewsReplyResponse",
      "properties": {
        "result": {
          "$ref": "ReviewReplyResult",
          "description": "The result of replying/updating a reply to review."
        }
      }
    },
    "OtherRegionsSubscriptionOfferConfig": {
      "properties": {
        "otherRegionsNewSubscriberAvailability": {
          "type": "boolean",
          "description": "Whether the subscription offer in any new locations Play may launch in the future. If not specified, this will default to false."
        }
      },
      "description": "Configuration for any new locations Play may launch in specified on a subscription offer.",
      "id": "OtherRegionsSubscriptionOfferConfig",
      "type": "object"
    },
    "DeobfuscationFilesUploadResponse": {
      "id": "DeobfuscationFilesUploadResponse",
      "description": "Responses for the upload.",
      "type": "object",
      "properties": {
        "deobfuscationFile": {
          "$ref": "DeobfuscationFile",
          "description": "The uploaded Deobfuscation File configuration."
        }
      }
    },
    "ExternalTransactionAddress": {
      "id": "ExternalTransactionAddress",
      "properties": {
        "regionCode": {
          "description": "Required. Two letter region code based on ISO-3166-1 Alpha-2 (UN region codes).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "User's address for the external transaction."
    },
    "SubscriptionOfferPhase": {
      "type": "object",
      "description": "A single phase of a subscription offer.",
      "properties": {
        "otherRegionsConfig": {
          "description": "Pricing information for any new locations Play may launch in.",
          "$ref": "OtherRegionsSubscriptionOfferPhaseConfig"
        },
        "duration": {
          "type": "string",
          "description": "Required. The duration of a single recurrence of this phase. Specified in ISO 8601 format."
        },
        "regionalConfigs": {
          "items": {
            "$ref": "RegionalSubscriptionOfferPhaseConfig"
          },
          "type": "array",
          "description": "Required. The region-specific configuration of this offer phase. This list must contain exactly one entry for each region for which the subscription offer has a regional config."
        },
        "recurrenceCount": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The number of times this phase repeats. If this offer phase is not free, each recurrence charges the user the price of this offer phase."
        }
      },
      "id": "SubscriptionOfferPhase"
    },
    "UserInitiatedCancellation": {
      "type": "object",
      "id": "UserInitiatedCancellation",
      "description": "Information specific to cancellations initiated by users.",
      "properties": {
        "cancelTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the subscription was canceled by the user. The user might still have access to the subscription after this time. Use line_items.expiry_time to determine if a user still has access."
        },
        "cancelSurveyResult": {
          "description": "Information provided by the user when they complete the subscription cancellation flow (cancellation reason survey).",
          "$ref": "CancelSurveyResult"
        }
      }
    },
    "AppDetails": {
      "properties": {
        "defaultLanguage": {
          "description": "Default language code, in BCP 47 format (eg \"en-US\").",
          "type": "string"
        },
        "contactPhone": {
          "description": "The user-visible support telephone number for this app.",
          "type": "string"
        },
        "contactWebsite": {
          "description": "The user-visible website for this app.",
          "type": "string"
        },
        "contactEmail": {
          "description": "The user-visible support email for this app.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The app details. The resource for DetailsService.",
      "id": "AppDetails"
    },
    "MigrateBasePlanPricesRequest": {
      "properties": {
        "regionsVersion": {
          "$ref": "RegionsVersion",
          "description": "Required. The version of the available regions being used for the regional_price_migrations."
        },
        "regionalPriceMigrations": {
          "description": "Required. The regional prices to update.",
          "items": {
            "$ref": "RegionalPriceMigrationConfig"
          },
          "type": "array"
        }
      },
      "description": "Request message for MigrateBasePlanPrices.",
      "id": "MigrateBasePlanPricesRequest",
      "type": "object"
    },
    "DeactivateSubscriptionOfferRequest": {
      "id": "DeactivateSubscriptionOfferRequest",
      "type": "object",
      "description": "Request message for DeactivateSubscriptionOffer.",
      "properties": {}
    },
    "RegionsVersion": {
      "properties": {
        "version": {
          "type": "string",
          "description": "Required. The latest version is 2022/02."
        }
      },
      "description": "The version of the available regions being used for the specified resource. A string representing the version of available regions being used for the specified resource. Regional prices for the resource have to be specified according to the information published in [this article](https://support.google.com/googleplay/android-developer/answer/10532353).",
      "id": "RegionsVersion",
      "type": "object"
    },
    "SubscriptionItemPriceChangeDetails": {
      "id": "SubscriptionItemPriceChangeDetails",
      "type": "object",
      "description": "Price change related information of a subscription item.",
      "properties": {
        "newPrice": {
          "description": "New recurring price for the subscription item.",
          "$ref": "Money"
        },
        "priceChangeMode": {
          "enum": [
            "PRICE_CHANGE_MODE_UNSPECIFIED",
            "PRICE_DECREASE",
            "PRICE_INCREASE"
          ],
          "enumDescriptions": [
            "Price change mode unspecified. This value should never be set.",
            "If the subscription price is decreasing.",
            "If the subscription price is increasing and the user needs to accept it."
          ],
          "description": "Price change mode specifies how the subscription item price is changing.",
          "type": "string"
        },
        "priceChangeState": {
          "enum": [
            "PRICE_CHANGE_STATE_UNSPECIFIED",
            "OUTSTANDING",
            "CONFIRMED",
            "APPLIED"
          ],
          "description": "State the price change is currently in.",
          "enumDescriptions": [
            "Price change state unspecified. This value should not be used.",
            "Waiting for the user to agree for the price change.",
            "The price change is confirmed to happen for the user.",
            "The price change is applied, i.e. the user has started being charged the new price."
          ],
          "type": "string"
        },
        "expectedNewPriceChargeTime": {
          "type": "string",
          "description": "The renewal time at which the price change will become effective for the user. This is subject to change(to a future time) due to cases where the renewal time shifts like pause.",
          "format": "google-datetime"
        }
      }
    },
    "GeneratedSplitApk": {
      "properties": {
        "splitId": {
          "type": "string",
          "description": "Split ID. Empty for the main split of the base module."
        },
        "variantId": {
          "description": "ID of the generated variant.",
          "type": "integer",
          "format": "int32"
        },
        "downloadId": {
          "description": "Download ID, which uniquely identifies the APK to download. Should be supplied to `generatedapks.download` method.",
          "type": "string"
        },
        "moduleName": {
          "description": "Name of the module that this APK belongs to.",
          "type": "string"
        }
      },
      "description": "Download metadata for a split APK.",
      "type": "object",
      "id": "GeneratedSplitApk"
    },
    "PausedStateContext": {
      "description": "Information specific to a subscription in paused state.",
      "type": "object",
      "properties": {
        "autoResumeTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time at which the subscription will be automatically resumed."
        }
      },
      "id": "PausedStateContext"
    },
    "ExternallyHostedApk": {
      "id": "ExternallyHostedApk",
      "properties": {
        "minimumSdk": {
          "format": "int32",
          "type": "integer",
          "description": "The minimum SDK targeted by this APK."
        },
        "externallyHostedUrl": {
          "type": "string",
          "description": "The URL at which the APK is hosted. This must be an https URL."
        },
        "fileSha1Base64": {
          "description": "The sha1 checksum of this APK, represented as a base64 encoded byte array.",
          "type": "string"
        },
        "packageName": {
          "description": "The package name.",
          "type": "string"
        },
        "maximumSdk": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum SDK supported by this APK (optional)."
        },
        "versionCode": {
          "type": "integer",
          "format": "int32",
          "description": "The version code of this APK."
        },
        "fileSha256Base64": {
          "type": "string",
          "description": "The sha256 checksum of this APK, represented as a base64 encoded byte array."
        },
        "versionName": {
          "description": "The version name of this APK.",
          "type": "string"
        },
        "certificateBase64s": {
          "description": "A certificate (or array of certificates if a certificate-chain is used) used to sign this APK, represented as a base64 encoded byte array.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "fileSize": {
          "description": "The file size in bytes of this APK.",
          "format": "int64",
          "type": "string"
        },
        "nativeCodes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The native code environments supported by this APK (optional)."
        },
        "iconBase64": {
          "type": "string",
          "description": "The icon image from the APK, as a base64 encoded byte array."
        },
        "usesPermissions": {
          "items": {
            "$ref": "UsesPermission"
          },
          "type": "array",
          "description": "The permissions requested by this APK."
        },
        "applicationLabel": {
          "description": "The application label.",
          "type": "string"
        },
        "usesFeatures": {
          "items": {
            "type": "string"
          },
          "description": "The features required by this APK (optional).",
          "type": "array"
        }
      },
      "description": "Defines an APK available for this application that is hosted externally and not uploaded to Google Play. This function is only available to organizations using Managed Play whose application is configured to restrict distribution to the organizations.",
      "type": "object"
    },
    "SubscriptionPriceChange": {
      "description": "Contains the price change information for a subscription that can be used to control the user journey for the price change in the app. This can be in the form of seeking confirmation from the user or tailoring the experience for a successful conversion.",
      "type": "object",
      "id": "SubscriptionPriceChange",
      "properties": {
        "newPrice": {
          "description": "The new price the subscription will renew with if the price change is accepted by the user.",
          "$ref": "Price"
        },
        "state": {
          "description": "The current state of the price change. Possible values are: 0. Outstanding: State for a pending price change waiting for the user to agree. In this state, you can optionally seek confirmation from the user using the In-App API. 1. Accepted: State for an accepted price change that the subscription will renew with unless it's canceled. The price change takes effect on a future date when the subscription renews. Note that the change might not occur when the subscription is renewed next.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Variant": {
      "id": "Variant",
      "type": "object",
      "properties": {
        "deviceSpec": {
          "description": "The device spec used to generate the APK.",
          "$ref": "DeviceSpec"
        },
        "variantId": {
          "description": "Output only. The ID of a previously created system APK variant.",
          "type": "integer",
          "readOnly": true,
          "format": "uint32"
        }
      },
      "description": "APK that is suitable for inclusion in a system image. The resource of SystemApksService."
    },
    "DeactivateBasePlanRequest": {
      "id": "DeactivateBasePlanRequest",
      "description": "Request message for DeactivateBasePlan.",
      "type": "object",
      "properties": {}
    },
    "TargetingRuleScope": {
      "properties": {
        "specificSubscriptionInApp": {
          "description": "The scope of the current targeting rule is the subscription with the specified subscription ID. Must be a subscription within the same parent app.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "TargetingRuleScope",
      "description": "Defines the scope of subscriptions which a targeting rule can match to target offers to users based on past or current entitlement."
    },
    "OtherRegionsSubscriptionOfferPhasePrices": {
      "id": "OtherRegionsSubscriptionOfferPhasePrices",
      "type": "object",
      "description": "Pricing information for any new locations Play may launch in.",
      "properties": {
        "usdPrice": {
          "$ref": "Money",
          "description": "Required. Price in USD to use for any new locations Play may launch in."
        },
        "eurPrice": {
          "$ref": "Money",
          "description": "Required. Price in EUR to use for any new locations Play may launch in."
        }
      }
    },
    "VariantTargeting": {
      "properties": {
        "screenDensityTargeting": {
          "description": "The screen densities that this variant supports",
          "$ref": "ScreenDensityTargeting"
        },
        "sdkVersionTargeting": {
          "description": "The sdk version that the variant targets",
          "$ref": "SdkVersionTargeting"
        },
        "textureCompressionFormatTargeting": {
          "description": "Texture-compression-format-level targeting",
          "$ref": "TextureCompressionFormatTargeting"
        },
        "multiAbiTargeting": {
          "description": "Multi-api-level targeting",
          "$ref": "MultiAbiTargeting"
        },
        "abiTargeting": {
          "description": "The abi that the variant targets",
          "$ref": "AbiTargeting"
        }
      },
      "type": "object",
      "description": "Targeting on the level of variants.",
      "id": "VariantTargeting"
    },
    "VoidedPurchasesListResponse": {
      "id": "VoidedPurchasesListResponse",
      "type": "object",
      "properties": {
        "voidedPurchases": {
          "type": "array",
          "items": {
            "$ref": "VoidedPurchase"
          }
        },
        "tokenPagination": {
          "description": "Pagination information for token pagination.",
          "$ref": "TokenPagination"
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        }
      },
      "description": "Response for the voidedpurchases.list API."
    },
    "ProductPurchase": {
      "description": "A ProductPurchase resource indicates the status of a user's inapp product purchase.",
      "properties": {
        "regionCode": {
          "description": "ISO 3166-1 alpha-2 billing region code of the user at the time the product was granted.",
          "type": "string"
        },
        "purchaseToken": {
          "type": "string",
          "description": "The purchase token generated to identify this purchase. May not be present."
        },
        "purchaseState": {
          "description": "The purchase state of the order. Possible values are: 0. Purchased 1. Canceled 2. Pending",
          "type": "integer",
          "format": "int32"
        },
        "acknowledgementState": {
          "description": "The acknowledgement state of the inapp product. Possible values are: 0. Yet to be acknowledged 1. Acknowledged",
          "type": "integer",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "This kind represents an inappPurchase object in the androidpublisher service."
        },
        "orderId": {
          "type": "string",
          "description": "The order id associated with the purchase of the inapp product."
        },
        "purchaseTimeMillis": {
          "type": "string",
          "description": "The time the product was purchased, in milliseconds since the epoch (Jan 1, 1970).",
          "format": "int64"
        },
        "productId": {
          "type": "string",
          "description": "The inapp product SKU. May not be present."
        },
        "consumptionState": {
          "format": "int32",
          "description": "The consumption state of the inapp product. Possible values are: 0. Yet to be consumed 1. Consumed",
          "type": "integer"
        },
        "quantity": {
          "format": "int32",
          "type": "integer",
          "description": "The quantity associated with the purchase of the inapp product. If not present, the quantity is 1."
        },
        "obfuscatedExternalAccountId": {
          "type": "string",
          "description": "An obfuscated version of the id that is uniquely associated with the user's account in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedaccountid when the purchase was made."
        },
        "developerPayload": {
          "type": "string",
          "description": "A developer-specified string that contains supplemental information about an order."
        },
        "purchaseType": {
          "description": "The type of purchase of the inapp product. This field is only set if this purchase was not made using the standard in-app billing flow. Possible values are: 0. Test (i.e. purchased from a license testing account) 1. Promo (i.e. purchased using a promo code) 2. Rewarded (i.e. from watching a video ad instead of paying)",
          "format": "int32",
          "type": "integer"
        },
        "obfuscatedExternalProfileId": {
          "description": "An obfuscated version of the id that is uniquely associated with the user's profile in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedprofileid when the purchase was made.",
          "type": "string"
        }
      },
      "id": "ProductPurchase",
      "type": "object"
    },
    "AutoRenewingBasePlanType": {
      "id": "AutoRenewingBasePlanType",
      "properties": {
        "gracePeriodDuration": {
          "type": "string",
          "description": "Grace period of the subscription, specified in ISO 8601 format. Acceptable values are P0D (zero days), P3D (3 days), P7D (7 days), P14D (14 days), and P30D (30 days). If not specified, a default value will be used based on the recurring period duration."
        },
        "legacyCompatibleSubscriptionOfferId": {
          "description": "Subscription offer id which is legacy compatible. The backward compatible subscription offer is returned by the Google Play Billing Library deprecated method querySkuDetailsAsync(). Only one subscription offer can be marked as legacy compatible for a given renewing base plan. To have no Subscription offer as legacy compatible set this field as empty string.",
          "type": "string"
        },
        "legacyCompatible": {
          "description": "Whether the renewing base plan is backward compatible. The backward compatible base plan is returned by the Google Play Billing Library deprecated method querySkuDetailsAsync(). Only one renewing base plan can be marked as legacy compatible for a given subscription.",
          "type": "boolean"
        },
        "billingPeriodDuration": {
          "type": "string",
          "description": "Required. Subscription period, specified in ISO 8601 format. For a list of acceptable billing periods, refer to the help center."
        },
        "prorationMode": {
          "type": "string",
          "description": "The proration mode for the base plan determines what happens when a user switches to this plan from another base plan. If unspecified, defaults to CHARGE_ON_NEXT_BILLING_DATE.",
          "enumDescriptions": [
            "Unspecified mode.",
            "Users will be charged for their new base plan at the end of their current billing period.",
            "Users will be charged for their new base plan immediately and in full. Any remaining period of their existing subscription will be used to extend the duration of the new billing plan."
          ],
          "enum": [
            "SUBSCRIPTION_PRORATION_MODE_UNSPECIFIED",
            "SUBSCRIPTION_PRORATION_MODE_CHARGE_ON_NEXT_BILLING_DATE",
            "SUBSCRIPTION_PRORATION_MODE_CHARGE_FULL_PRICE_IMMEDIATELY"
          ]
        },
        "resubscribeState": {
          "description": "Whether users should be able to resubscribe to this base plan in Google Play surfaces. Defaults to RESUBSCRIBE_STATE_ACTIVE if not specified.",
          "enumDescriptions": [
            "Unspecified state.",
            "Resubscribe is active.",
            "Resubscribe is inactive."
          ],
          "enum": [
            "RESUBSCRIBE_STATE_UNSPECIFIED",
            "RESUBSCRIBE_STATE_ACTIVE",
            "RESUBSCRIBE_STATE_INACTIVE"
          ],
          "type": "string"
        }
      },
      "description": "Represents a base plan that automatically renews at the end of its subscription period.",
      "type": "object"
    },
    "BundlesListResponse": {
      "type": "object",
      "description": "Response listing all app bundles.",
      "id": "BundlesListResponse",
      "properties": {
        "bundles": {
          "type": "array",
          "description": "All app bundles.",
          "items": {
            "$ref": "Bundle"
          }
        },
        "kind": {
          "type": "string",
          "description": "The kind of this response (\"androidpublisher#bundlesListResponse\")."
        }
      }
    },
    "Subscription": {
      "properties": {
        "taxAndComplianceSettings": {
          "description": "Details about taxes and legal compliance.",
          "$ref": "SubscriptionTaxAndComplianceSettings"
        },
        "packageName": {
          "type": "string",
          "description": "Immutable. Package name of the parent app."
        },
        "productId": {
          "type": "string",
          "description": "Immutable. Unique product ID of the product. Unique within the parent app. Product IDs must be composed of lower-case letters (a-z), numbers (0-9), underscores (_) and dots (.). It must start with a lower-case letter or number, and be between 1 and 40 (inclusive) characters in length."
        },
        "archived": {
          "type": "boolean",
          "description": "Output only. Whether this subscription is archived. Archived subscriptions are not available to any subscriber any longer, cannot be updated, and are not returned in list requests unless the show archived flag is passed in.",
          "readOnly": true
        },
        "listings": {
          "items": {
            "$ref": "SubscriptionListing"
          },
          "description": "Required. List of localized listings for this subscription. Must contain at least an entry for the default language of the parent app.",
          "type": "array"
        },
        "basePlans": {
          "type": "array",
          "description": "The set of base plans for this subscription. Represents the prices and duration of the subscription if no other offers apply.",
          "items": {
            "$ref": "BasePlan"
          }
        }
      },
      "id": "Subscription",
      "type": "object",
      "description": "A single subscription for an app."
    },
    "SubscriptionPurchasesDeferRequest": {
      "properties": {
        "deferralInfo": {
          "description": "The information about the new desired expiry time for the subscription.",
          "$ref": "SubscriptionDeferralInfo"
        }
      },
      "description": "Request for the purchases.subscriptions.defer API.",
      "id": "SubscriptionPurchasesDeferRequest",
      "type": "object"
    },
    "CanceledStateContext": {
      "id": "CanceledStateContext",
      "description": "Information specific to a subscription in canceled state.",
      "type": "object",
      "properties": {
        "systemInitiatedCancellation": {
          "description": "Subscription was canceled by the system, for example because of a billing problem.",
          "$ref": "SystemInitiatedCancellation"
        },
        "developerInitiatedCancellation": {
          "$ref": "DeveloperInitiatedCancellation",
          "description": "Subscription was canceled by the developer."
        },
        "userInitiatedCancellation": {
          "description": "Subscription was canceled by user.",
          "$ref": "UserInitiatedCancellation"
        },
        "replacementCancellation": {
          "description": "Subscription was replaced by a new subscription.",
          "$ref": "ReplacementCancellation"
        }
      }
    },
    "DeobfuscationFile": {
      "description": "Represents a deobfuscation file.",
      "id": "DeobfuscationFile",
      "type": "object",
      "properties": {
        "symbolType": {
          "enum": [
            "deobfuscationFileTypeUnspecified",
            "proguard",
            "nativeCode"
          ],
          "enumDescriptions": [
            "Unspecified deobfuscation file type.",
            "Proguard deobfuscation file type.",
            "Native debugging symbols file type."
          ],
          "type": "string",
          "description": "The type of the deobfuscation file."
        }
      }
    },
    "RegionalSubscriptionOfferPhaseConfig": {
      "type": "object",
      "id": "RegionalSubscriptionOfferPhaseConfig",
      "description": "Configuration for a single phase of a subscription offer in a single region.",
      "properties": {
        "price": {
          "$ref": "Money",
          "description": "The absolute price the user pays for this offer phase. The price must not be smaller than the minimum price allowed for this region."
        },
        "relativeDiscount": {
          "format": "double",
          "description": "The fraction of the base plan price prorated over the phase duration that the user pays for this offer phase. For example, if the base plan price for this region is $12 for a period of 1 year, then a 50% discount for a phase of a duration of 3 months would correspond to a price of $1.50. The discount must be specified as a fraction strictly larger than 0 and strictly smaller than 1. The resulting price will be rounded to the nearest billable unit (e.g. cents for USD). The relative discount is considered invalid if the discounted price ends up being smaller than the minimum price allowed in this region.",
          "type": "number"
        },
        "absoluteDiscount": {
          "$ref": "Money",
          "description": "The absolute amount of money subtracted from the base plan price prorated over the phase duration that the user pays for this offer phase. For example, if the base plan price for this region is $12 for a period of 1 year, then a $1 absolute discount for a phase of a duration of 3 months would correspond to a price of $2. The resulting price may not be smaller than the minimum price allowed for this region."
        },
        "regionCode": {
          "description": "Required. Immutable. The region to which this config applies.",
          "type": "string"
        }
      }
    },
    "ExternalSubscription": {
      "properties": {
        "subscriptionType": {
[...]
