{
  "revision": "20210329",
  "id": "androidmanagement:v1",
  "name": "androidmanagement",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://developers.google.com/android/management",
  "mtlsRootUrl": "https://androidmanagement.mtls.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "servicePath": "",
  "version": "v1",
  "ownerName": "Google",
  "canonicalName": "Android Management",
  "baseUrl": "https://androidmanagement.googleapis.com/",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "description": "The Android Management API provides remote enterprise management of Android devices and apps.",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "basePath": "",
  "rootUrl": "https://androidmanagement.googleapis.com/",
  "schemas": {
    "PersonalUsagePolicies": {
      "type": "object",
      "description": "Policies controlling personal usage on a company-owned device with a work profile.",
      "properties": {
        "personalApplications": {
          "items": {
            "$ref": "PersonalApplicationPolicy"
          },
          "description": "Policy applied to applications in the personal profile.",
          "type": "array"
        },
        "cameraDisabled": {
          "type": "boolean",
          "description": "Whether camera is disabled."
        },
        "screenCaptureDisabled": {
          "type": "boolean",
          "description": "Whether screen capture is disabled."
        },
        "maxDaysWithWorkOff": {
          "format": "int32",
          "type": "integer",
          "description": "Controls how long the work profile can stay off. The duration must be at least 3 days."
        },
        "personalPlayStoreMode": {
          "enum": [
            "PLAY_STORE_MODE_UNSPECIFIED",
            "BLACKLIST",
            "BLOCKLIST",
            "ALLOWLIST"
          ],
          "enumDescriptions": [
            "Unspecified. Defaults to BLOCKLIST.",
            "All Play Store apps are available for installation in the personal profile, except those whose installType is BLOCKED in personalApplications.",
            "All Play Store apps are available for installation in the personal profile, except those whose installType is BLOCKED in personalApplications.",
            "Only apps explicitly specified in personalApplications with installType set to AVAILABLE are allowed to be installed in the personal profile."
          ],
          "type": "string",
          "description": "Used together with personalApplications to control how apps in the personal profile are allowed or blocked."
        },
        "accountTypesWithManagementDisabled": {
          "description": "Account types that can't be managed by the user.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "PersonalUsagePolicies"
    },
    "WebAppIcon": {
      "id": "WebAppIcon",
      "properties": {
        "imageData": {
          "description": "The actual bytes of the image in a base64url encoded string (c.f. RFC4648, section 5 \"Base 64 Encoding with URL and Filename Safe Alphabet\"). - The image type can be png or jpg. - The image should ideally be square. - The image should ideally have a size of 512x512. ",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An icon for a web app. Supported formats are: png, jpg and webp."
    },
    "BlockAction": {
      "type": "object",
      "properties": {
        "blockAfterDays": {
          "description": "Number of days the policy is non-compliant before the device or work profile is blocked. To block access immediately, set to 0. blockAfterDays must be less than wipeAfterDays.",
          "format": "int32",
          "type": "integer"
        },
        "blockScope": {
          "type": "string",
          "description": "Specifies the scope of this BlockAction. Only applicable to devices that are company-owned.",
          "enumDescriptions": [
            "Unspecified. Defaults to BLOCK_SCOPE_WORK_PROFILE.",
            "Block action is only applied to apps in the work profile. Apps in the personal profile are unaffected.",
            "Block action is applied to the entire device, including apps in the personal profile."
          ],
          "enum": [
            "BLOCK_SCOPE_UNSPECIFIED",
            "BLOCK_SCOPE_WORK_PROFILE",
            "BLOCK_SCOPE_DEVICE"
          ]
        }
      },
      "description": "An action to block access to apps and data on a fully managed device or in a work profile. This action also triggers a device or work profile to displays a user-facing notification with information (where possible) on how to correct the compliance issue. Note: wipeAction must also be specified.",
      "id": "BlockAction"
    },
    "NonComplianceDetailCondition": {
      "properties": {
        "settingName": {
          "description": "The name of the policy setting. This is the JSON field name of a top-level Policy field. If not set, then this condition matches any setting name.",
          "type": "string"
        },
        "packageName": {
          "description": "The package name of the app that's out of compliance. If not set, then this condition matches any package name.",
          "type": "string"
        },
        "nonComplianceReason": {
          "enum": [
            "NON_COMPLIANCE_REASON_UNSPECIFIED",
            "API_LEVEL",
            "MANAGEMENT_MODE",
            "USER_ACTION",
            "INVALID_VALUE",
            "APP_NOT_INSTALLED",
            "UNSUPPORTED",
            "APP_INSTALLED",
            "PENDING",
            "APP_INCOMPATIBLE",
            "APP_NOT_UPDATED"
          ],
          "description": "The reason the device is not in compliance with the setting. If not set, then this condition matches any reason.",
          "enumDescriptions": [
            "This value is disallowed.",
            "The setting is not supported in the API level of the Android version running on the device.",
            "The management mode (profile owner, device owner, etc.) doesn't support the setting.",
            "The user has not taken required action to comply with the setting.",
            "The setting has an invalid value.",
            "The app required to implement the policy is not installed.",
            "The policy is not supported by the version of Android Device Policy on the device.",
            "A blocked app is installed.",
            "The setting hasn't been applied at the time of the report, but is expected to be applied shortly.",
            "The setting can't be applied to the app because the app doesn't support it, for example because its target SDK version is not high enough.",
            "The app is installed, but it hasn't been updated to the minimum version code specified by policy."
          ],
          "type": "string"
        }
      },
      "id": "NonComplianceDetailCondition",
      "type": "object",
      "description": "A compliance rule condition which is satisfied if there exists any matching NonComplianceDetail for the device. A NonComplianceDetail matches a NonComplianceDetailCondition if all the fields which are set within the NonComplianceDetailCondition match the corresponding NonComplianceDetail fields."
    },
    "PersonalApplicationPolicy": {
      "id": "PersonalApplicationPolicy",
      "type": "object",
      "properties": {
        "installType": {
          "description": "The type of installation to perform.",
          "enum": [
            "INSTALL_TYPE_UNSPECIFIED",
            "BLOCKED",
            "AVAILABLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Defaults to AVAILABLE.",
            "The app is blocked and can't be installed in the personal profile.",
            "The app is available to install in the personal profile."
          ]
        },
        "packageName": {
          "description": "The package name of the application.",
          "type": "string"
        }
      },
      "description": "Policies for apps in the personal profile of a company-owned device with a work profile."
    },
    "WebApp": {
      "properties": {
        "title": {
          "description": "The title of the web app as displayed to the user (e.g., amongst a list of other applications, or as a label for an icon).",
          "type": "string"
        },
        "icons": {
          "items": {
            "$ref": "WebAppIcon"
          },
          "description": "A list of icons for the web app. Must have at least one element.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "The name of the web app, which is generated by the server during creation in the form enterprises/{enterpriseId}/webApps/{packageName}."
        },
        "startUrl": {
          "description": "The start URL, i.e. the URL that should load when the user opens the application.",
          "type": "string"
        },
        "versionCode": {
          "format": "int64",
          "type": "string",
          "description": "The current version of the app.Note that the version can automatically increase during the lifetime of the web app, while Google does internal housekeeping to keep the web app up-to-date."
        },
        "displayMode": {
          "enum": [
            "DISPLAY_MODE_UNSPECIFIED",
            "MINIMAL_UI",
            "STANDALONE",
            "FULL_SCREEN"
          ],
          "type": "string",
          "description": "The display mode of the web app.",
          "enumDescriptions": [
            "Not used.",
            "Opens the web app with a minimal set of browser UI elements for controlling navigation and viewing the page URL.",
            "Opens the web app to look and feel like a standalone native application. The browser UI elements and page URL are not visible, however the system status bar and back button are visible.",
            "Opens the web app in full screen without any visible controls. The browser UI elements, page URL, system status bar and back button are not visible, and the web app takes up the entirety of the available display area."
          ]
        }
      },
      "id": "WebApp",
      "type": "object",
      "description": "A web app."
    },
    "UserFacingMessage": {
      "type": "object",
      "properties": {
        "localizedMessages": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map containing pairs, where locale is a well-formed BCP 47 language (https://www.w3.org/International/articles/language-tags/) code, such as en-US, es-ES, or fr."
        },
        "defaultMessage": {
          "description": "The default message displayed if no localized message is specified or the user's locale doesn't match with any of the localized messages. A default message must be provided if any localized messages are provided.",
          "type": "string"
        }
      },
      "description": "Provides a user-facing message with locale info. The maximum message length is 4096 characters.",
      "id": "UserFacingMessage"
    },
    "AppTrackInfo": {
      "description": "Id to name association of a app track.",
      "type": "object",
      "id": "AppTrackInfo",
      "properties": {
        "trackId": {
          "description": "The unmodifiable unique track identifier, taken from the releaseTrackId in the URL of the Play Console page that displays the app’s track information.",
          "type": "string"
        },
        "trackAlias": {
          "type": "string",
          "description": "The track name associated with the trackId, set in the Play Console. The name is modifiable from Play Console."
        }
      }
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: A full date, with non-zero year, month, and day values A month and day value, with a zero year, such as an anniversary A year on its own, with zero month and day values A year and month value, with a zero day, such as a credit card expiration dateRelated types are google.type.TimeOfDay and google.protobuf.Timestamp.",
      "id": "Date",
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "WebToken": {
      "id": "WebToken",
      "type": "object",
      "description": "A web token used to access the managed Google Play iframe.",
      "properties": {
        "name": {
          "description": "The name of the web token, which is generated by the server during creation in the form enterprises/{enterpriseId}/webTokens/{webTokenId}.",
          "type": "string"
        },
        "enabledFeatures": {
          "items": {
            "enum": [
              "FEATURE_UNSPECIFIED",
              "PLAY_SEARCH",
              "PRIVATE_APPS",
              "WEB_APPS",
              "STORE_BUILDER",
              "MANAGED_CONFIGURATIONS"
            ],
            "enumDescriptions": [
              "Unspecified feature.",
              "The Managed Play search apps page (https://developers.google.com/android/management/apps#search-apps).",
              "The private apps page (https://developers.google.com/android/management/apps#private-apps).",
              "The Web Apps page (https://developers.google.com/android/management/apps#web-apps).",
              "The organize apps page (https://developers.google.com/android/management/apps#organize-apps).",
              "The managed configurations page (https://developers.google.com/android/management/managed-configurations-iframe)."
            ],
            "type": "string"
          },
          "type": "array",
          "description": "The features to enable. Use this if you want to control exactly which feature(s) will be activated; leave empty to allow all features.Restrictions / things to note: - If no features are listed here, all features are enabled — this is the default behavior where you give access to all features to your admins. - This must not contain any FEATURE_UNSPECIFIED values. - Repeated values are ignored "
        },
        "value": {
          "description": "The token value which is used in the hosting page to generate the iframe with the embedded UI. This is a read-only field generated by the server.",
          "type": "string"
        },
        "permissions": {
          "description": "Permissions available to an admin in the embedded UI. An admin must have all of these permissions in order to view the UI. This field is deprecated.",
          "type": "array",
          "items": {
            "enum": [
              "WEB_TOKEN_PERMISSION_UNSPECIFIED",
              "APPROVE_APPS"
            ],
            "type": "string",
            "enumDescriptions": [
              "This value is ignored.",
              "The permission to approve apps for the enterprise."
            ]
          }
        },
        "parentFrameUrl": {
          "type": "string",
          "description": "The URL of the parent frame hosting the iframe with the embedded UI. To prevent XSS, the iframe may not be hosted at other URLs. The URL must use the https scheme."
        }
      }
    },
    "AdvancedSecurityOverrides": {
      "properties": {
        "googlePlayProtectVerifyApps": {
          "enumDescriptions": [
            "Unspecified. Defaults to VERIFY_APPS_ENFORCED.",
            "Default. Force-enables app verification.",
            "Allows the user to choose whether to enable app verification."
          ],
          "enum": [
            "GOOGLE_PLAY_PROTECT_VERIFY_APPS_UNSPECIFIED",
            "VERIFY_APPS_ENFORCED",
            "VERIFY_APPS_USER_CHOICE"
          ],
          "description": "Whether Google Play Protect verification (https://support.google.com/accounts/answer/2812853) is enforced. Replaces ensureVerifyAppsEnabled (deprecated).",
          "type": "string"
        },
        "untrustedAppsPolicy": {
          "description": "The policy for untrusted apps (apps from unknown sources) enforced on the device. Replaces install_unknown_sources_allowed (deprecated).",
          "type": "string",
          "enum": [
            "UNTRUSTED_APPS_POLICY_UNSPECIFIED",
            "DISALLOW_INSTALL",
            "ALLOW_INSTALL_IN_PERSONAL_PROFILE_ONLY",
            "ALLOW_INSTALL_DEVICE_WIDE"
          ],
          "enumDescriptions": [
            "Unspecified. Defaults to DISALLOW_INSTALL.",
            "Default. Disallow untrusted app installs on entire device.",
            "For devices with work profiles, allow untrusted app installs in the device's personal profile only.",
            "Allow untrusted app installs on entire device."
          ]
        },
        "developerSettings": {
          "description": "Controls access to developer settings: developer options and safe boot. Replaces safeBootDisabled (deprecated) and debuggingFeaturesAllowed (deprecated).",
          "enum": [
            "DEVELOPER_SETTINGS_UNSPECIFIED",
            "DEVELOPER_SETTINGS_DISABLED",
            "DEVELOPER_SETTINGS_ALLOWED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Defaults to DEVELOPER_SETTINGS_DISABLED.",
            "Default. Disables all developer settings and prevents the user from accessing them.",
            "Allows all developer settings. The user can access and optionally configure the settings."
          ]
        },
        "commonCriteriaMode": {
          "description": "Controls Common Criteria Mode—security standards defined in the Common Criteria for Information Technology Security Evaluation (https://www.commoncriteriaportal.org/) (CC). Enabling Common Criteria Mode increases certain security components on a device, including AES-GCM encryption of Bluetooth Long Term Keys, and Wi-Fi configuration stores.Warning: Common Criteria Mode enforces a strict security model typically only required for IT products used in national security systems and other highly sensitive organizations. Standard device use may be affected. Only enabled if required.",
          "enum": [
            "COMMON_CRITERIA_MODE_UNSPECIFIED",
            "COMMON_CRITERIA_MODE_DISABLED",
            "COMMON_CRITERIA_MODE_ENABLED"
          ],
          "enumDescriptions": [
            "Unspecified. Defaults to COMMON_CRITERIA_MODE_DISABLED.",
            "Default. Disables Common Criteria Mode.",
            "Enables Common Criteria Mode."
          ],
          "type": "string"
        }
      },
      "id": "AdvancedSecurityOverrides",
      "type": "object",
      "description": "Security policies set to the most secure values by default. To maintain the security posture of a device, we don't recommend overriding any of the default values."
    },
    "PermissionGrant": {
      "id": "PermissionGrant",
      "type": "object",
      "properties": {
        "policy": {
          "enumDescriptions": [
            "Policy not specified. If no policy is specified for a permission at any level, then the PROMPT behavior is used by default.",
            "Prompt the user to grant a permission.",
            "Automatically grant a permission.",
            "Automatically deny a permission."
          ],
          "enum": [
            "PERMISSION_POLICY_UNSPECIFIED",
            "PROMPT",
            "GRANT",
            "DENY"
          ],
          "type": "string",
          "description": "The policy for granting the permission."
        },
        "permission": {
          "type": "string",
          "description": "The Android permission or group, e.g. android.permission.READ_CALENDAR or android.permission_group.CALENDAR."
        }
      },
      "description": "Configuration for an Android permission and its grant state."
    },
    "Display": {
      "id": "Display",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "This value is disallowed.",
            "Display is off.",
            "Display is on.",
            "Display is dozing in a low power state",
            "Display is dozing in a suspended low power state."
          ],
          "description": "State of the display.",
          "enum": [
            "DISPLAY_STATE_UNSPECIFIED",
            "OFF",
            "ON",
            "DOZE",
            "SUSPENDED"
          ]
        },
        "refreshRate": {
          "format": "int32",
          "description": "Refresh rate of the display in frames per second.",
          "type": "integer"
        },
        "density": {
          "type": "integer",
          "format": "int32",
          "description": "Display density expressed as dots-per-inch."
        },
        "name": {
          "description": "Name of the display.",
          "type": "string"
        },
        "displayId": {
          "type": "integer",
          "format": "int32",
          "description": "Unique display id."
        },
        "height": {
          "format": "int32",
          "type": "integer",
          "description": "Display height in pixels."
        },
        "width": {
          "format": "int32",
          "description": "Display width in pixels.",
          "type": "integer"
        }
      },
      "description": "Device display information."
    },
    "SoftwareInfo": {
      "type": "object",
      "properties": {
        "androidDevicePolicyVersionName": {
          "description": "The Android Device Policy app version as displayed to the user.",
          "type": "string"
        },
        "primaryLanguageCode": {
          "description": "An IETF BCP 47 language code for the primary locale on the device.",
          "type": "string"
        },
        "systemUpdateInfo": {
          "$ref": "SystemUpdateInfo",
          "description": "Information about a potential pending system update."
        },
        "androidVersion": {
          "description": "The user-visible Android version string. For example, 6.0.1.",
          "type": "string"
        },
        "bootloaderVersion": {
          "type": "string",
          "description": "The system bootloader version number, e.g. 0.6.7."
        },
        "deviceBuildSignature": {
          "description": "SHA-256 hash of android.content.pm.Signature (https://developer.android.com/reference/android/content/pm/Signature.html) associated with the system package, which can be used to verify that the system build hasn't been modified.",
          "type": "string"
        },
        "deviceKernelVersion": {
          "description": "Kernel version, for example, 2.6.32.9-g103d848.",
          "type": "string"
        },
        "securityPatchLevel": {
          "type": "string",
          "description": "Security patch level, e.g. 2016-05-01."
        },
        "androidBuildTime": {
          "format": "google-datetime",
          "description": "Build time.",
          "type": "string"
        },
        "androidBuildNumber": {
          "description": "Android build ID string meant for displaying to the user. For example, shamu-userdebug 6.0.1 MOB30I 2756745 dev-keys.",
          "type": "string"
        },
        "androidDevicePolicyVersionCode": {
          "type": "integer",
          "description": "The Android Device Policy app version code.",
          "format": "int32"
        }
      },
      "id": "SoftwareInfo",
      "description": "Information about device software."
    },
    "Application": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the app in the form enterprises/{enterpriseId}/applications/{package_name}."
        },
        "managedProperties": {
          "items": {
            "$ref": "ManagedProperty"
          },
          "type": "array",
          "description": "The set of managed properties available to be pre-configured for the app."
        },
        "appTracks": {
          "type": "array",
          "items": {
            "$ref": "AppTrackInfo"
          },
          "description": "Application tracks visible to the enterprise."
        },
        "title": {
          "description": "The title of the app. Localized.",
          "type": "string"
        },
        "permissions": {
          "description": "The permissions required by the app.",
          "type": "array",
          "items": {
            "$ref": "ApplicationPermission"
          }
        }
      },
      "id": "Application",
      "description": "Information about an app."
    },
    "ExternalData": {
      "properties": {
        "sha256Hash": {
          "type": "string",
          "description": "The base-64 encoded SHA-256 hash of the content hosted at url. If the content doesn't match this hash, Android Device Policy won't use the data."
        },
        "url": {
          "type": "string",
          "description": "The absolute URL to the data, which must use either the http or https scheme. Android Device Policy doesn't provide any credentials in the GET request, so the URL must be publicly accessible. Including a long, random component in the URL may be used to prevent attackers from discovering the URL."
        }
      },
      "id": "ExternalData",
      "description": "Data hosted at an external location. The data is to be downloaded by Android Device Policy and verified against the hash.",
      "type": "object"
    },
    "SignupUrl": {
      "id": "SignupUrl",
      "type": "object",
      "properties": {
        "url": {
          "description": "A URL where an enterprise admin can register their enterprise. The page can't be rendered in an iframe.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the resource. Use this value in the signupUrl field when calling enterprises.create to complete the enterprise signup flow."
        }
      },
      "description": "An enterprise signup URL."
    },
    "PolicyEnforcementRule": {
      "properties": {
        "wipeAction": {
          "$ref": "WipeAction",
          "description": "An action to reset a fully managed device or delete a work profile. Note: blockAction must also be specified."
        },
        "settingName": {
          "description": "The top-level policy to enforce. For example, applications or passwordPolicies.",
          "type": "string"
        },
        "blockAction": {
          "$ref": "BlockAction",
          "description": "An action to block access to apps and data on a fully managed device or in a work profile. This action also triggers a user-facing notification with information (where possible) on how to correct the compliance issue. Note: wipeAction must also be specified."
        }
      },
      "id": "PolicyEnforcementRule",
      "description": "A rule that defines the actions to take if a device or work profile is not compliant with the policy specified in settingName.",
      "type": "object"
    },
    "HardwareStatus": {
      "id": "HardwareStatus",
      "type": "object",
      "description": "Hardware status. Temperatures may be compared to the temperature thresholds available in hardwareInfo to determine hardware health.",
      "properties": {
        "cpuUsages": {
          "description": "CPU usages in percentage for each core available on the device. Usage is 0 for each unplugged core. Empty array implies that CPU usage is not supported in the system.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "batteryTemperatures": {
          "items": {
            "type": "number",
            "format": "float"
          },
          "type": "array",
          "description": "Current battery temperatures in Celsius for each battery on the device."
        },
        "skinTemperatures": {
          "description": "Current device skin temperatures in Celsius.",
          "items": {
            "type": "number",
            "format": "float"
          },
          "type": "array"
        },
        "createTime": {
          "description": "The time the measurements were taken.",
          "format": "google-datetime",
          "type": "string"
        },
        "cpuTemperatures": {
          "description": "Current CPU temperatures in Celsius for each CPU on the device.",
          "items": {
            "type": "number",
            "format": "float"
          },
          "type": "array"
        },
        "gpuTemperatures": {
          "items": {
            "type": "number",
            "format": "float"
          },
          "description": "Current GPU temperatures in Celsius for each GPU on the device.",
          "type": "array"
        },
        "fanSpeeds": {
          "description": "Fan speeds in RPM for each fan on the device. Empty array means that there are no fans or fan speed is not supported on the system.",
          "items": {
            "format": "float",
            "type": "number"
          },
          "type": "array"
        }
      }
    },
    "SystemUpdateInfo": {
      "id": "SystemUpdateInfo",
      "properties": {
        "updateStatus": {
          "enumDescriptions": [
            "It is unknown whether there is a pending system update. This happens when, for example, the device API level is less than 26, or if the version of Android Device Policy is outdated.",
            "There is no pending system update available on the device.",
            "There is a pending system update available, but its type is not known.",
            "There is a pending security update available.",
            "There is a pending OS update available."
          ],
          "enum": [
            "UPDATE_STATUS_UNKNOWN",
            "UP_TO_DATE",
            "UNKNOWN_UPDATE_AVAILABLE",
            "SECURITY_UPDATE_AVAILABLE",
            "OS_UPDATE_AVAILABLE"
          ],
          "type": "string",
          "description": "The status of an update: whether an update exists and what type it is."
        },
        "updateReceivedTime": {
          "description": "The time when the update was first available. A zero value indicates that this field is not set. This field is set only if an update is available (that is, updateStatus is neither UPDATE_STATUS_UNKNOWN nor UP_TO_DATE).",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Information about a potential pending system update."
    },
    "SecurityPosture": {
      "id": "SecurityPosture",
      "properties": {
        "devicePosture": {
          "description": "Device's security posture value.",
          "enumDescriptions": [
            "Unspecified. There is no posture detail for this posture value.",
            "This device is secure.",
            "This device may be more vulnerable to malicious actors than is recommended for use with corporate data.",
            "This device may be compromised and corporate data may be accessible to unauthorized actors."
          ],
          "enum": [
            "POSTURE_UNSPECIFIED",
            "SECURE",
            "AT_RISK",
            "POTENTIALLY_COMPROMISED"
          ],
          "type": "string"
        },
        "postureDetails": {
          "type": "array",
          "description": "Additional details regarding the security posture of the device.",
          "items": {
            "$ref": "PostureDetail"
          }
        }
      },
      "type": "object",
      "description": "The security posture of the device, as determined by the current device state and the policies applied."
    },
    "ManagedPropertyEntry": {
      "type": "object",
      "id": "ManagedPropertyEntry",
      "properties": {
        "value": {
          "type": "string",
          "description": "The machine-readable value of the entry, which should be used in the configuration. Not localized."
        },
        "name": {
          "description": "The human-readable name of the value. Localized.",
          "type": "string"
        }
      },
      "description": "An entry of a managed property."
    },
    "LaunchAppAction": {
      "properties": {
        "packageName": {
          "description": "Package name of app to be launched",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An action to launch an app.",
      "id": "LaunchAppAction"
    },
    "EnrollmentToken": {
      "description": "An enrollment token.",
      "id": "EnrollmentToken",
      "properties": {
        "name": {
          "description": "The name of the enrollment token, which is generated by the server during creation, in the form enterprises/{enterpriseId}/enrollmentTokens/{enrollmentTokenId}.",
          "type": "string"
        },
        "oneTimeOnly": {
          "type": "boolean",
          "description": "Whether the enrollment token is for one time use only. If the flag is set to true, only one device can use it for registration."
        },
        "duration": {
          "description": "The length of time the enrollment token is valid, ranging from 1 minute to 90 days. If not specified, the default duration is 1 hour.",
          "type": "string",
          "format": "google-duration"
        },
        "expirationTimestamp": {
          "type": "string",
          "description": "The expiration time of the token. This is a read-only field generated by the server.",
          "format": "google-datetime"
        },
        "policyName": {
          "type": "string",
          "description": "The name of the policy initially applied to the enrolled device, in the form enterprises/{enterpriseId}/policies/{policyId}. If not specified, the policy_name for the device’s user is applied. If user_name is also not specified, enterprises/{enterpriseId}/policies/default is applied by default. When updating this field, you can specify only the policyId as long as the policyId doesn’t contain any slashes. The rest of the policy name will be inferred."
        },
        "user": {
          "description": "The user associated with this enrollment token. If it's specified when the enrollment token is created and the user does not exist, the user will be created. This field must not contain personally identifiable information. Only the account_identifier field needs to be set.",
          "$ref": "User"
        },
        "value": {
          "type": "string",
          "description": "The token value that's passed to the device and authorizes the device to enroll. This is a read-only field generated by the server."
        },
        "allowPersonalUsage": {
          "description": "Controls whether personal usage is allowed on a device provisioned with this enrollment token.For company-owned devices: Enabling personal usage allows the user to set up a work profile on the device. Disabling personal usage requires the user provision the device as a fully managed device.For personally-owned devices: Enabling personal usage allows the user to set up a work profile on the device. Disabling personal usage will prevent the device from provisioning. Personal usage cannot be disabled on personally-owned device.",
          "type": "string",
          "enumDescriptions": [
            "Personal usage restriction is not specified",
            "Personal usage is allowed",
            "Personal usage is disallowed"
          ],
          "enum": [
            "ALLOW_PERSONAL_USAGE_UNSPECIFIED",
            "PERSONAL_USAGE_ALLOWED",
            "PERSONAL_USAGE_DISALLOWED"
          ]
        },
        "qrCode": {
          "description": "A JSON string whose UTF-8 representation can be used to generate a QR code to enroll a device with this enrollment token. To enroll a device using NFC, the NFC record must contain a serialized java.util.Properties representation of the properties in the JSON.",
          "type": "string"
        },
        "additionalData": {
          "type": "string",
          "description": "Optional, arbitrary data associated with the enrollment token. This could contain, for example, the ID of an org unit the device is assigned to after enrollment. After a device enrolls with the token, this data will be exposed in the enrollment_token_data field of the Device resource. The data must be 1024 characters or less; otherwise, the creation request will fail."
        }
      },
      "type": "object"
    },
    "MemoryInfo": {
      "description": "Information about device memory and storage.",
      "id": "MemoryInfo",
      "properties": {
        "totalRam": {
          "description": "Total RAM on device in bytes.",
          "format": "int64",
          "type": "string"
        },
        "totalInternalStorage": {
          "format": "int64",
          "type": "string",
          "description": "Total internal storage on device in bytes."
        }
      },
      "type": "object"
    },
    "ListOperationsResponse": {
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "id": "ListOperationsResponse"
    },
    "ProxyInfo": {
      "properties": {
        "port": {
          "description": "The port of the direct proxy.",
          "format": "int32",
          "type": "integer"
        },
        "host": {
          "description": "The host of the direct proxy.",
          "type": "string"
        },
        "excludedHosts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "For a direct proxy, the hosts for which the proxy is bypassed. The host names may contain wildcards such as *.example.com."
        },
        "pacUri": {
          "description": "The URI of the PAC script used to configure the proxy.",
          "type": "string"
        }
      },
      "description": "Configuration info for an HTTP proxy. For a direct proxy, set the host, port, and excluded_hosts fields. For a PAC script proxy, set the pac_uri field.",
      "id": "ProxyInfo",
      "type": "object"
    },
    "User": {
      "type": "object",
      "id": "User",
      "properties": {
        "accountIdentifier": {
          "description": "A unique identifier you create for this user, such as user342 or asset#44418. This field must be set when the user is created and can't be updated. This field must not contain personally identifiable information (PII). This identifier must be 1024 characters or less; otherwise, the update policy request will fail.",
          "type": "string"
        }
      },
      "description": "A user belonging to an enterprise."
    },
    "PersistentPreferredActivity": {
      "id": "PersistentPreferredActivity",
      "properties": {
        "receiverActivity": {
          "description": "The activity that should be the default intent handler. This should be an Android component name, e.g. com.android.enterprise.app/.MainActivity. Alternatively, the value may be the package name of an app, which causes Android Device Policy to choose an appropriate activity from the app to handle the intent.",
          "type": "string"
        },
        "categories": {
          "items": {
            "type": "string"
          },
          "description": "The intent categories to match in the filter. An intent includes the categories that it requires, all of which must be included in the filter in order to match. In other words, adding a category to the filter has no impact on matching unless that category is specified in the intent.",
          "type": "array"
        },
        "actions": {
          "description": "The intent actions to match in the filter. If any actions are included in the filter, then an intent's action must be one of those values for it to match. If no actions are included, the intent action is ignored.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "A default activity for handling intents that match a particular intent filter. Note: To set up a kiosk, use InstallType to KIOSK rather than use persistent preferred activities.",
      "type": "object"
    },
    "PasswordRequirements": {
      "properties": {
        "maximumFailedPasswordsForWipe": {
          "format": "int32",
          "description": "Number of incorrect device-unlock passwords that can be entered before a device is wiped. A value of 0 means there is no restriction.",
          "type": "integer"
        },
        "passwordMinimumLetters": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum number of letters required in the password. Only enforced when password_quality is COMPLEX."
        },
        "passwordMinimumLength": {
          "description": "The minimum allowed password length. A value of 0 means there is no restriction. Only enforced when password_quality is NUMERIC, NUMERIC_COMPLEX, ALPHABETIC, ALPHANUMERIC, or COMPLEX.",
          "type": "integer",
          "format": "int32"
        },
        "passwordExpirationTimeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Password expiration timeout."
        },
        "passwordMinimumLowerCase": {
          "description": "Minimum number of lower case letters required in the password. Only enforced when password_quality is COMPLEX.",
          "type": "integer",
          "format": "int32"
        },
        "requirePasswordUnlock": {
          "description": "The length of time after a device or work profile is unlocked using a strong form of authentication (password, PIN, pattern) that it can be unlocked using any other authentication method (e.g. fingerprint, trust agents, face). After the specified time period elapses, only strong forms of authentication can be used to unlock the device or work profile.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Defaults to USE_DEFAULT_DEVICE_TIMEOUT.",
            "The timeout period is set to the device’s default.",
            "The timeout period is set to 24 hours."
          ],
          "enum": [
            "REQUIRE_PASSWORD_UNLOCK_UNSPECIFIED",
            "USE_DEFAULT_DEVICE_TIMEOUT",
            "REQUIRE_EVERY_DAY"
          ]
        },
        "passwordMinimumNumeric": {
          "format": "int32",
          "description": "Minimum number of numerical digits required in the password. Only enforced when password_quality is COMPLEX.",
          "type": "integer"
        },
        "passwordHistoryLength": {
          "format": "int32",
          "type": "integer",
          "description": "The length of the password history. After setting this field, the user won't be able to enter a new password that is the same as any password in the history. A value of 0 means there is no restriction."
        },
        "passwordMinimumUpperCase": {
          "format": "int32",
          "type": "integer",
          "description": "Minimum number of upper case letters required in the password. Only enforced when password_quality is COMPLEX."
        },
        "passwordMinimumNonLetter": {
          "type": "integer",
          "description": "Minimum number of non-letter characters (numerical digits or symbols) required in the password. Only enforced when password_quality is COMPLEX.",
          "format": "int32"
        },
        "passwordQuality": {
          "description": "The required password quality.",
          "type": "string",
          "enumDescriptions": [
            "There are no password requirements.",
            "The device must be secured with a low-security biometric recognition technology, at minimum. This includes technologies that can recognize the identity of an individual that are roughly equivalent to a 3-digit PIN (false detection is less than 1 in 1,000).",
            "A password is required, but there are no restrictions on what the password must contain.",
            "The password must contain numeric characters.",
            "The password must contain numeric characters with no repeating (4444) or ordered (1234, 4321, 2468) sequences.",
            "The password must contain alphabetic (or symbol) characters.",
            "The password must contain both numeric and alphabetic (or symbol) characters.",
            "The password must meet the minimum requirements specified in passwordMinimumLength, passwordMinimumLetters, passwordMinimumSymbols, etc. For example, if passwordMinimumSymbols is 2, the password must contain at least two symbols."
          ],
          "enum": [
            "PASSWORD_QUALITY_UNSPECIFIED",
            "BIOMETRIC_WEAK",
            "SOMETHING",
            "NUMERIC",
            "NUMERIC_COMPLEX",
            "ALPHABETIC",
            "ALPHANUMERIC",
            "COMPLEX"
          ]
        },
        "passwordScope": {
          "description": "The scope that the password requirement applies to.",
          "type": "string",
          "enumDescriptions": [
            "The scope is unspecified. The password requirements are applied to the work profile for work profile devices and the whole device for fully managed or dedicated devices.",
            "The password requirements are only applied to the device.",
            "The password requirements are only applied to the work profile."
          ],
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_DEVICE",
            "SCOPE_PROFILE"
          ]
        },
        "passwordMinimumSymbols": {
          "description": "Minimum number of symbols required in the password. Only enforced when password_quality is COMPLEX.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Requirements for the password used to unlock a device.",
      "id": "PasswordRequirements",
      "type": "object"
    },
    "TermsAndConditions": {
      "type": "object",
      "description": "A terms and conditions page to be accepted during provisioning.",
      "id": "TermsAndConditions",
      "properties": {
        "content": {
          "$ref": "UserFacingMessage",
          "description": "A well-formatted HTML string. It will be parsed on the client with android.text.Html#fromHtml."
        },
        "header": {
          "description": "A short header which appears above the HTML content.",
          "$ref": "UserFacingMessage"
        }
      }
    },
    "ApplicationReportingSettings": {
      "properties": {
        "includeRemovedApps": {
          "type": "boolean",
          "description": "Whether removed apps are included in application reports."
        }
      },
      "id": "ApplicationReportingSettings",
      "type": "object",
      "description": "Settings controlling the behavior of application reports."
    },
    "PackageNameList": {
      "properties": {
        "packageNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of package names."
        }
      },
      "id": "PackageNameList",
      "type": "object",
      "description": "A list of package names."
    },
    "OncCertificateProvider": {
      "type": "object",
      "properties": {
        "contentProviderEndpoint": {
          "description": "This feature is not generally available.",
          "$ref": "ContentProviderEndpoint"
        },
        "certificateReferences": {
          "description": "This feature is not generally available.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "This feature is not generally available.",
      "id": "OncCertificateProvider"
    },
    "DeviceSettings": {
      "type": "object",
      "properties": {
        "encryptionStatus": {
          "enum": [
            "ENCRYPTION_STATUS_UNSPECIFIED",
            "UNSUPPORTED",
            "INACTIVE",
            "ACTIVATING",
            "ACTIVE",
            "ACTIVE_DEFAULT_KEY",
            "ACTIVE_PER_USER"
          ],
          "enumDescriptions": [
            "Unspecified. No device should have this type.",
            "Encryption is not supported by the device.",
            "Encryption is supported by the device, but is not currently active.",
            "Encryption is not currently active, but is currently being activated.",
            "Encryption is active.",
            "Encryption is active, but an encryption key is not set by the user.",
            "Encryption is active, and the encryption key is tied to the user profile."
          ],
          "description": "Encryption status from DevicePolicyManager.",
          "type": "string"
        },
        "adbEnabled": {
          "description": "Whether ADB (https://developer.android.com/studio/command-line/adb.html) is enabled on the device.",
          "type": "boolean"
        },
        "isEncrypted": {
          "type": "boolean",
          "description": "Whether the storage encryption is enabled."
        },
        "developmentSettingsEnabled": {
          "description": "Whether developer mode is enabled on the device.",
          "type": "boolean"
        },
        "unknownSourcesEnabled": {
          "type": "boolean",
          "description": "Whether installing apps from unknown sources is enabled."
        },
        "verifyAppsEnabled": {
          "description": "Whether Google Play Protect verification (https://support.google.com/accounts/answer/2812853) is enforced on the device.",
          "type": "boolean"
        },
        "isDeviceSecure": {
          "description": "Whether the device is secured with PIN/password.",
          "type": "boolean"
        }
      },
      "id": "DeviceSettings",
      "description": "Information about security related device settings on device."
    },
    "ManagedConfigurationTemplate": {
      "properties": {
        "templateId": {
          "description": "The ID of the managed configurations template.",
          "type": "string"
        },
        "configurationVariables": {
          "description": "Optional, a map containing configuration variables defined for the configuration.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "ManagedConfigurationTemplate",
      "type": "object",
      "description": "The managed configurations template for the app, saved from the managed configurations iframe."
    },
    "ComplianceRule": {
      "properties": {
        "disableApps": {
          "type": "boolean",
          "description": "If set to true, the rule includes a mitigating action to disable apps so that the device is effectively disabled, but app data is preserved. If the device is running an app in locked task mode, the app will be closed and a UI showing the reason for non-compliance will be displayed."
        },
        "nonComplianceDetailCondition": {
          "description": "A condition which is satisfied if there exists any matching NonComplianceDetail for the device.",
          "$ref": "NonComplianceDetailCondition"
        },
        "apiLevelCondition": {
          "description": "A condition which is satisfied if the Android Framework API level on the device doesn't meet a minimum requirement.",
          "$ref": "ApiLevelCondition"
        },
        "packageNamesToDisable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "If set, the rule includes a mitigating action to disable apps specified in the list, but app data is preserved."
        }
      },
      "description": "A rule declaring which mitigating actions to take when a device is not compliant with its policy. For every rule, there is always an implicit mitigating action to set policy_compliant to false for the Device resource, and display a message on the device indicating that the device is not compliant with its policy. Other mitigating actions may optionally be taken as well, depending on the field values in the rule.",
      "id": "ComplianceRule",
      "type": "object"
    },
    "MemoryEvent": {
      "properties": {
        "eventType": {
          "enum": [
            "MEMORY_EVENT_TYPE_UNSPECIFIED",
            "RAM_MEASURED",
            "INTERNAL_STORAGE_MEASURED",
            "EXTERNAL_STORAGE_DETECTED",
            "EXTERNAL_STORAGE_REMOVED",
            "EXTERNAL_STORAGE_MEASURED"
          ],
          "description": "Event type.",
          "enumDescriptions": [
            "Unspecified. No events have this type.",
            "Free space in RAM was measured.",
            "Free space in internal storage was measured.",
            "A new external storage medium was detected. The reported byte count is the total capacity of the storage medium.",
            "An external storage medium was removed. The reported byte count is zero.",
            "Free space in an external storage medium was measured."
          ],
          "type": "string"
        },
        "createTime": {
          "description": "The creation time of the event.",
          "format": "google-datetime",
          "type": "string"
        },
        "byteCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of free bytes in the medium, or for EXTERNAL_STORAGE_DETECTED, the total capacity in bytes of the storage medium."
        }
      },
      "id": "MemoryEvent",
      "description": "An event related to memory and storage measurements.",
      "type": "object"
    },
    "ContactInfo": {
      "properties": {
        "dataProtectionOfficerName": {
          "description": "The name of the data protection officer.",
          "type": "string"
        },
        "euRepresentativePhone": {
          "description": "The phone number of the EU representative. The phone number is validated but not verified.",
          "type": "string"
        },
        "euRepresentativeName": {
          "type": "string",
          "description": "The name of the EU representative."
        },
        "euRepresentativeEmail": {
          "type": "string",
          "description": "The email of the EU representative. The email is validated but not verified."
        },
        "dataProtectionOfficerEmail": {
          "type": "string",
          "description": "The email of the data protection officer. The email is validated but not verified."
        },
        "dataProtectionOfficerPhone": {
          "type": "string",
          "description": "The phone number of the data protection officer The phone number is validated but not verified."
        },
        "contactEmail": {
          "description": "Email address for a point of contact, which will be used to send important announcements related to managed Google Play.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ContactInfo",
      "description": "Contact details for LaForge enterprises."
    },
    "ListPoliciesResponse": {
      "description": "Response to a request to list policies for a given enterprise.",
      "properties": {
        "policies": {
          "type": "array",
          "items": {
            "$ref": "Policy"
          },
          "description": "The list of policies."
        },
        "nextPageToken": {
          "description": "If there are more results, a token to retrieve next page of results.",
          "type": "string"
        }
      },
      "id": "ListPoliciesResponse",
      "type": "object"
    },
    "SetupAction": {
      "description": "An action executed during setup.",
      "type": "object",
      "properties": {
        "launchApp": {
          "description": "An action to launch an app.",
          "$ref": "LaunchAppAction"
        },
        "description": {
          "description": "Description of this action.",
          "$ref": "UserFacingMessage"
        },
        "title": {
          "description": "Title of this action.",
          "$ref": "UserFacingMessage"
        }
      },
      "id": "SetupAction"
    },
    "SigninDetail": {
      "description": "A resource containing sign in details for an enterprise.",
      "properties": {
        "qrCode": {
          "description": "A JSON string whose UTF-8 representation can be used to generate a QR code to enroll a device with this enrollment token. To enroll a device using NFC, the NFC record must contain a serialized java.util.Properties representation of the properties in the JSON. This is a read-only field generated by the server.",
          "type": "string"
        },
        "allowPersonalUsage": {
          "description": "Controls whether personal usage is allowed on a device provisioned with this enrollment token.For company-owned devices: Enabling personal usage allows the user to set up a work profile on the device. Disabling personal usage requires the user provision the device as a fully managed device.For personally-owned devices: Enabling personal usage allows the user to set up a work profile on the device. Disabling personal usage will prevent the device from provisioning. Personal usage cannot be disabled on personally-owned device.",
          "enumDescriptions": [
            "Personal usage restriction is not specified",
            "Personal usage is allowed",
            "Personal usage is disallowed"
          ],
          "type": "string",
          "enum": [
            "ALLOW_PERSONAL_USAGE_UNSPECIFIED",
            "PERSONAL_USAGE_ALLOWED",
            "PERSONAL_USAGE_DISALLOWED"
          ]
        },
        "signinEnrollmentToken": {
          "description": "An enterprise wide enrollment token used to trigger custom sign-in flow. This is a read-only field generated by the server.",
          "type": "string"
        },
        "signinUrl": {
          "description": "Sign-in URL for authentication when device is provisioned with a sign-in enrollment token. The sign-in endpoint should finish authentication flow with a URL in the form of https://enterprise.google.com/android/enroll?et= for a successful login, or https://enterprise.google.com/android/enroll/invalid for a failed login.",
          "type": "string"
        }
      },
      "id": "SigninDetail",
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}."
        }
      }
    },
    "AlwaysOnVpnPackage": {
      "properties": {
        "lockdownEnabled": {
          "type": "boolean",
          "description": "Disallows networking when the VPN is not connected."
        },
        "packageName": {
          "description": "The package name of the VPN app.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Configuration for an always-on VPN connection.",
      "id": "AlwaysOnVpnPackage"
    },
    "NonComplianceDetail": {
      "description": "Provides detail about non-compliance with a policy setting.",
      "properties": {
        "installationFailureReason": {
          "type": "string",
          "enum": [
            "INSTALLATION_FAILURE_REASON_UNSPECIFIED",
            "INSTALLATION_FAILURE_REASON_UNKNOWN",
            "IN_PROGRESS",
            "NOT_FOUND",
            "NOT_COMPATIBLE_WITH_DEVICE",
            "NOT_APPROVED",
            "PERMISSIONS_NOT_ACCEPTED",
            "NOT_AVAILABLE_IN_COUNTRY",
            "NO_LICENSES_REMAINING",
            "NOT_ENROLLED",
            "USER_INVALID"
          ],
          "enumDescriptions": [
            "This value is disallowed.",
            "An unknown condition is preventing the app from being installed. Some potential reasons are that the device doesn't have enough storage, the device network connection is unreliable, or the installation is taking longer than expected. The installation will be retried automatically.",
            "The installation is still in progress.",
            "The app was not found in Play.",
            "The app is incompatible with the device.",
            "The app has not been approved by the admin.",
            "The app has new permissions that have not been accepted by the admin.",
            "The app is not available in the user's country.",
            "There are no licenses available to assign to the user.",
            "The enterprise is no longer enrolled with Managed Google Play or the admin has not accepted the latest Managed Google Play Terms of Service.",
            "The user is no longer valid. The user may have been deleted or disabled."
          ],
          "description": "If package_name is set and the non-compliance reason is APP_NOT_INSTALLED or APP_NOT_UPDATED, the detailed reason the app can't be installed or updated."
        },
        "nonComplianceReason": {
          "enumDescriptions": [
            "This value is disallowed.",
            "The setting is not supported in the API level of the Android version running on the device.",
            "The management mode (profile owner, device owner, etc.) doesn't support the setting.",
            "The user has not taken required action to comply with the setting.",
            "The setting has an invalid value.",
            "The app required to implement the policy is not installed.",
            "The policy is not supported by the version of Android Device Policy on the device.",
            "A blocked app is installed.",
            "The setting hasn't been applied at the time of the report, but is expected to be applied shortly.",
            "The setting can't be applied to the app because the app doesn't support it, for example because its target SDK version is not high enough.",
            "The app is installed, but it hasn't been updated to the minimum version code specified by policy."
          ],
          "type": "string",
          "enum": [
            "NON_COMPLIANCE_REASON_UNSPECIFIED",
            "API_LEVEL",
            "MANAGEMENT_MODE",
            "USER_ACTION",
            "INVALID_VALUE",
            "APP_NOT_INSTALLED",
            "UNSUPPORTED",
            "APP_INSTALLED",
            "PENDING",
            "APP_INCOMPATIBLE",
            "APP_NOT_UPDATED"
          ],
          "description": "The reason the device is not in compliance with the setting."
        },
        "settingName": {
          "description": "The name of the policy setting. This is the JSON field name of a top-level Policy field.",
          "type": "string"
        },
        "currentValue": {
          "type": "any",
          "description": "If the policy setting could not be applied, the current value of the setting on the device."
        },
        "packageName": {
          "type": "string",
          "description": "The package name indicating which app is out of compliance, if applicable."
        },
        "fieldPath": {
          "type": "string",
          "description": "For settings with nested fields, if a particular nested field is out of compliance, this specifies the full path to the offending field. The path is formatted in the same way the policy JSON field would be referenced in JavaScript, that is: 1) For object-typed fields, the field name is followed by a dot then by a subfield name. 2) For array-typed fields, the field name is followed by the array index enclosed in brackets. For example, to indicate a problem with the url field in the externalData field in the 3rd application, the path would be applications[2].externalData.url"
        }
      },
      "type": "object",
      "id": "NonComplianceDetail"
    },
    "Enterprise": {
      "description": "The configuration applied to an enterprise.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the enterprise which is generated by the server during creation, in the form enterprises/{enterpriseId}."
        },
        "termsAndConditions": {
          "items": {
            "$ref": "TermsAndConditions"
          },
          "description": "Terms and conditions that must be accepted when provisioning a device for this enterprise. A page of terms is generated for each value in this list.",
          "type": "array"
        },
        "appAutoApprovalEnabled": {
          "description": "Deprecated and unused.",
          "type": "boolean"
        },
        "pubsubTopic": {
          "type": "string",
          "description": "The topic that Cloud Pub/Sub notifications are published to, in the form projects/{project}/topics/{topic}. This field is only required if Pub/Sub notifications are enabled."
        },
        "contactInfo": {
          "description": "This feature is not generally available yet. The enterprise contact info of an EMM owned enterprise",
          "$ref": "ContactInfo"
        },
        "enabledNotificationTypes": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "This value is ignored.",
              "A notification sent when a device enrolls.",
              "Deprecated.",
              "A notification sent when a device issues a status report.",
              "A notification sent when a device command has completed."
            ],
            "enum": [
              "NOTIFICATION_TYPE_UNSPECIFIED",
              "ENROLLMENT",
              "COMPLIANCE_REPORT",
              "STATUS_REPORT",
              "COMMAND"
            ]
          },
          "description": "The types of Google Pub/Sub notifications enabled for the enterprise.",
          "type": "array"
        },
        "logo": {
          "description": "An image displayed as a logo during device provisioning. Supported types are: image/bmp, image/gif, image/x-ico, image/jpeg, image/png, image/webp, image/vnd.wap.wbmp, image/x-adobe-dng.",
          "$ref": "ExternalData"
        },
        "signinDetails": {
          "type": "array",
          "description": "Sign-in details of the enterprise.",
          "items": {
            "$ref": "SigninDetail"
          }
        },
        "enterpriseDisplayName": {
          "description": "The name of the enterprise displayed to users.",
          "type": "string"
        },
        "primaryColor": {
          "format": "int32",
          "type": "integer",
          "description": "A color in RGB format that indicates the predominant color to display in the device management app UI. The color components are stored as follows: (red \u003c\u003c 16) | (green \u003c\u003c 8) | blue, where the value of each component is between 0 and 255, inclusive."
        }
      },
      "id": "Enterprise",
      "type": "object"
    },
    "ListWebAppsResponse": {
      "description": "Response to a request to list web apps for a given enterprise.",
      "id": "ListWebAppsResponse",
      "properties": {
        "webApps": {
          "items": {
            "$ref": "WebApp"
          },
          "type": "array",
          "description": "The list of web apps."
        },
        "nextPageToken": {
          "description": "If there are more results, a token to retrieve next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ApplicationPolicy": {
      "id": "ApplicationPolicy",
      "properties": {
        "permissionGrants": {
          "type": "array",
          "items": {
            "$ref": "PermissionGrant"
          },
          "description": "Explicit permission grants or denials for the app. These values override the default_permission_policy and permission_grants which apply to all apps."
        },
        "autoUpdateMode": {
          "type": "string",
          "description": "This feature is not generally available yet.",
          "enumDescriptions": [
            "This feature is not generally available yet.",
            "This feature is not generally available yet.",
            "This feature is not generally available yet.",
            "This feature is not generally available yet."
          ],
          "enum": [
            "AUTO_UPDATE_MODE_UNSPECIFIED",
            "AUTO_UPDATE_DEFAULT",
            "AUTO_UPDATE_POSTPONED",
            "AUTO_UPDATE_HIGH_PRIORITY"
          ]
        },
        "managedConfiguration": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Managed configuration applied to the app. The format for the configuration is dictated by the ManagedProperty values supported by the app. Each field name in the managed configuration must match the key field of the ManagedProperty. The field value must be compatible with the type of the ManagedProperty: *type* *JSON value* BOOL true or false STRING string INTEGER number CHOICE string MULTISELECT array of strings HIDDEN string BUNDLE_ARRAY array of objects "
        },
        "installType": {
          "description": "The type of installation to perform.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Defaults to AVAILABLE.",
            "The app is automatically installed and can be removed by the user.",
            "The app is automatically installed and can't be removed by the user.",
            "The app is blocked and can't be installed. If the app was installed under a previous policy, it will be uninstalled.",
            "The app is available to install.",
            "The app is automatically installed and can't be removed by the user and will prevent setup from completion until installation is complete.",
            "The app is automatically installed in kiosk mode: it's set as the preferred home intent and whitelisted for lock task mode. Device setup won't complete until the app is installed. After installation, users won't be able to remove the app. You can only set this installType for one app per policy. When this is present in the policy, status bar will be automatically disabled."
          ],
          "enum": [
            "INSTALL_TYPE_UNSPECIFIED",
            "PREINSTALLED",
            "FORCE_INSTALLED",
            "BLOCKED",
            "AVAILABLE",
            "REQUIRED_FOR_SETUP",
            "KIOSK"
          ]
        },
        "defaultPermissionPolicy": {
          "enumDescriptions": [
            "Policy not specified. If no policy is specified for a permission at any level, then the PROMPT behavior is used by default.",
            "Prompt the user to grant a permission.",
            "Automatically grant a permission.",
            "Automatically deny a permission."
          ],
          "type": "string",
          "enum": [
            "PERMISSION_POLICY_UNSPECIFIED",
            "PROMPT",
            "GRANT",
            "DENY"
          ],
          "description": "The default policy for all permissions requested by the app. If specified, this overrides the policy-level default_permission_policy which applies to all apps. It does not override the permission_grants which applies to all apps."
        },
        "managedConfigurationTemplate": {
          "description": "The managed configurations template for the app, saved from the managed configurations iframe. This field is ignored if managed_configuration is set.",
          "$ref": "ManagedConfigurationTemplate"
        },
        "packageName": {
          "description": "The package name of the app. For example, com.google.android.youtube for the YouTube app.",
          "type": "string"
        },
        "disabled": {
          "description": "Whether the app is disabled. When disabled, the app data is still preserved.",
          "type": "boolean"
        },
        "delegatedScopes": {
          "type": "array",
          "description": "The scopes delegated to the app from Android Device Policy.",
          "items": {
            "enum": [
              "DELEGATED_SCOPE_UNSPECIFIED",
              "CERT_INSTALL",
              "MANAGED_CONFIGURATIONS",
              "BLOCK_UNINSTALL",
              "PERMISSION_GRANT",
              "PACKAGE_ACCESS",
              "ENABLE_SYSTEM_APP"
            ],
            "type": "string",
            "enumDescriptions": [
              "No delegation scope specified.",
              "Grants access to certificate installation and management.",
              "Grants access to managed configurations management.",
              "Grants access to blocking uninstallation.",
              "Grants access to permission policy and permission grant state.",
              "Grants access to package access state.",
              "Grants access for enabling system apps."
            ]
          }
        },
        "accessibleTrackIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of the app’s track IDs that a device belonging to the enterprise can access. If the list contains multiple track IDs, devices receive the latest version among all accessible tracks. If the list contains no track IDs, devices only have access to the app’s production track. More details about each track are available in AppTrackInfo."
        },
        "lockTaskAllowed": {
          "type": "boolean",
          "description": "Whether the app is allowed to lock itself in full-screen mode. DEPRECATED. Use InstallType KIOSK or kioskCustomLauncherEnabled to to configure a dedicated device."
        },
        "connectedWorkAndPersonalApp": {
          "enum": [
            "CONNECTED_WORK_AND_PERSONAL_APP_UNSPECIFIED",
            "CONNECTED_WORK_AND_PERSONAL_APP_DISALLOWED",
            "CONNECTED_WORK_AND_PERSONAL_APP_ALLOWED"
          ],
          "description": "Controls whether the app can communicate with itself across a device’s work and personal profiles, subject to user consent.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Defaults to CONNECTED_WORK_AND_PERSONAL_APPS_DISALLOWED.",
            "Default. Prevents the app from communicating cross-profile.",
            "Allows the app to communicate across profiles after receiving user consent."
          ]
        },
        "minimumVersionCode": {
          "format": "int32",
          "description": "The minimum version of the app that runs on the device. If set, the device attempts to update the app to at least this version code. If the app is not up-to-date, the device will contain a NonComplianceDetail with non_compliance_reason set to APP_NOT_UPDATED. The app must already be published to Google Play with a version code greater than or equal to this value. At most 20 apps may specify a minimum version code per policy.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Policy for an individual app."
    },
    "ApiLevelCondition": {
      "type": "object",
      "properties": {
        "minApiLevel": {
          "format": "int32",
          "description": "The minimum desired Android Framework API level. If the device doesn't meet the minimum requirement, this condition is satisfied. Must be greater than zero.",
          "type": "integer"
        }
      },
      "description": "A compliance rule condition which is satisfied if the Android Framework API level on the device doesn't meet a minimum requirement. There can only be one rule with this type of condition per policy.",
      "id": "ApiLevelCondition"
    },
    "Policy": {
      "type": "object",
      "description": "A policy resource represents a group of settings that govern the behavior of a managed device and the apps installed on it.",
      "id": "Policy",
      "properties": {
        "networkResetDisabled": {
          "type": "boolean",
          "description": "Whether resetting network settings is disabled."
        },
        "personalUsagePolicies": {
          "$ref": "PersonalUsagePolicies",
          "description": "Policies managing personal usage on a company-owned device."
        },
        "blockApplicationsEnabled": {
          "description": "Whether applications other than the ones configured in applications are blocked from being installed. When set, applications that were installed under a previous policy but no longer appear in the policy are automatically uninstalled.",
          "type": "boolean"
        },
        "wifiConfigDisabled": {
          "type": "boolean",
          "description": "Whether configuring Wi-Fi access points is disabled."
        },
        "frpAdminEmails": {
          "type": "array",
          "description": "Email addresses of device administrators for factory reset protection. When the device is factory reset, it will require one of these admins to log in with the Google account email and password to unlock the device. If no admins are specified, the device won't provide factory reset protection.",
          "items": {
            "type": "string"
          }
        },
        "credentialsConfigDisabled": {
          "type": "boolean",
          "description": "Whether configuring user credentials is disabled."
        },
        "installUnknownSourcesAllowed": {
          "description": "This field has no effect.",
          "type": "boolean"
        },
        "version": {
          "description": "The version of the policy. This is a read-only field. The version is incremented each time the policy is updated.",
          "type": "string",
          "format": "int64"
        },
        "ensureVerifyAppsEnabled": {
          "type": "boolean",
          "description": "Whether app verification is force-enabled."
        },
        "dataRoamingDisabled": {
          "type": "boolean",
          "description": "Whether roaming data services are disabled."
        },
        "passwordPolicies": {
          "type": "array",
          "items": {
            "$ref": "PasswordRequirements"
          },
          "description": "Password requirement policies. Different policies can be set for work profile or fully managed devices by setting the password_scope field in the policy."
        },
        "skipFirstUseHintsEnabled": {
          "type": "boolean",
          "description": "Flag to skip hints on the first use. Enterprise admin can enable the system recommendation for apps to skip their user tutorial and other introductory hints on first start-up."
        },
        "installAppsDisabled": {
          "type": "boolean",
          "description": "Whether user installation of apps is disabled."
        },
        "shortSupportMessage": {
          "$ref": "UserFacingMessage",
          "description": "A message displayed to the user in the settings screen wherever functionality has been disabled by the admin. If the message is longer than 200 characters it may be truncated."
        },
        "kioskCustomization": {
          "$ref": "KioskCustomization",
          "description": "Settings controlling the behavior of a device in kiosk mode. To enable kiosk mode, set kioskCustomLauncherEnabled to true or specify an app in the policy with installType KIOSK."
        },
        "systemUpdate": {
          "$ref": "SystemUpdate",
          "description": "The system update policy, which controls how OS updates are applied. If the update type is WINDOWED, the update window will automatically apply to Play app updates as well."
        },
        "outgoingBeamDisabled": {
          "type": "boolean",
          "description": "Whether using NFC to beam data from apps is disabled."
        },
        "accountTypesWithManagementDisabled": {
          "items": {
            "type": "string"
          },
          "description": "Account types that can't be managed by the user.",
          "type": "array"
        },
        "recommendedGlobalProxy": {
          "description": "The network-independent global HTTP proxy. Typically proxies should be configured per-network in open_network_configuration. However for unusual configurations like general internal filtering a global HTTP proxy may be useful. If the proxy is not accessible, network access may break. The global proxy is only a recommendation and some apps may ignore it.",
          "$ref": "ProxyInfo"
        },
        "funDisabled": {
          "description": "Whether the user is allowed to have fun. Controls whether the Easter egg game in Settings is disabled.",
          "type": "boolean"
        },
        "choosePrivateKeyRules": {
          "items": {
            "$ref": "ChoosePrivateKeyRule"
          },
          "type": "array",
          "description": "Rules for determining apps' access to private keys. See ChoosePrivateKeyRule for details."
        },
        "policyEnforcementRules": {
          "type": "array",
          "items": {
            "$ref": "PolicyEnforcementRule"
          },
          "description": "Rules that define the behavior when a particular policy can not be applied on device"
        },
        "playStoreMode": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Defaults to WHITELIST.",
            "Only apps that are in the policy are available and any app not in the policy will be automatically uninstalled from the device.",
            "All apps are available and any app that should not be on the device should be explicitly marked as 'BLOCKED' in the applications policy."
          ],
          "enum": [
            "PLAY_STORE_MODE_UNSPECIFIED",
            "WHITELIST",
            "BLACKLIST"
          ],
          "description": "This mode controls which apps are available to the user in the Play Store and the behavior on the device when apps are removed from the policy."
        },
        "kioskCustomLauncherEnabled": {
          "description": "Whether the kiosk custom launcher is enabled. This replaces the home screen with a launcher that locks down the device to the apps installed via the applications setting. Apps appear on a single page in alphabetical order. Use kioskCustomization to further configure the kiosk device behavior.",
          "type": "boolean"
        },
        "advancedSecurityOverrides": {
          "$ref": "AdvancedSecurityOverrides",
          "description": "Security policies set to the most secure values by default. To maintain the security posture of a device, we don't recommend overriding any of the default values."
        },
        "statusBarDisabled": {
          "type": "boolean",
          "description": "Whether the status bar is disabled. This disables notifications, quick settings, and other screen overlays that allow escape from full-screen mode. DEPRECATED. To disable the status bar on a kiosk device, use InstallType KIOSK or kioskCustomLauncherEnabled."
        },
        "openNetworkConfiguration": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Network configuration for the device. See configure networks for more information.",
          "type": "object"
        },
        "cameraDisabled": {
          "description": "Whether all cameras on the device are disabled.",
          "type": "boolean"
        },
        "permittedAccessibilityServices": {
          "$ref": "PackageNameList",
          "description": "Specifies permitted accessibility services. If the field is not set, any accessibility service can be used. If the field is set, only the accessibility services in this list and the system's built-in accessibility service can be used. In particular, if the field is set to empty, only the system's built-in accessibility servicess can be used."
        },
        "unmuteMicrophoneDisabled": {
          "type": "boolean",
          "description": "Whether the microphone is muted and adjusting microphone volume is disabled."
        },
        "vpnConfigDisabled": {
          "description": "Whether configuring VPN is disabled.",
          "type": "boolean"
        },
        "wifiConfigsLockdownEnabled": {
          "type": "boolean",
          "description": "DEPRECATED - Use wifi_config_disabled."
        },
        "complianceRules": {
          "items": {
            "$ref": "ComplianceRule"
          },
          "type": "array",
          "description": "Rules declaring which mitigating actions to take when a device is not compliant with its policy. When the conditions for multiple rules are satisfied, all of the mitigating actions for the rules are taken. There is a maximum limit of 100 rules. Use policy enforcement rules instead."
        },
        "tetheringConfigDisabled": {
          "description": "Whether configuring tethering and portable hotspots is disabled.",
          "type": "boolean"
        },
        "setupActions": {
          "description": "Actions to take during the setup process.",
          "items": {
            "$ref": "SetupAction"
          },
          "type": "array"
        },
        "stayOnPluggedModes": {
          "description": "The battery plugged in modes for which the device stays on. When using this setting, it is recommended to clear maximum_time_to_lock so that the device doesn't lock itself while it stays on.",
          "items": {
            "enumDescriptions": [
              "This value is ignored.",
              "Power source is an AC charger.",
              "Power source is a USB port.",
              "Power source is wireless."
            ],
            "type": "string",
            "enum": [
              "BATTERY_PLUGGED_MODE_UNSPECIFIED",
              "AC",
              "USB",
              "WIRELESS"
            ]
          },
          "type": "array"
        },
        "modifyAccountsDisabled": {
          "type": "boolean",
          "description": "Whether adding or removing accounts is disabled."
        },
        "autoDateAndTimeZone": {
          "enumDescriptions": [
            "Unspecified. Defaults to AUTO_DATE_AND_TIME_ZONE_USER_CHOICE.",
            "Auto date, time, and time zone are left to user's choice.",
            "Enforce auto date, time, and time zone on the device."
          ],
          "description": "Whether auto date, time, and time zone are enabled on a company-owned device. If this is set, then autoTimeRequired is ignored.",
          "enum": [
            "AUTO_DATE_AND_TIME_ZONE_UNSPECIFIED",
            "AUTO_DATE_AND_TIME_ZONE_USER_CHOICE",
            "AUTO_DATE_AND_TIME_ZONE_ENFORCED"
          ],
          "type": "string"
        },
        "maximumTimeToLock": {
          "format": "int64",
          "type": "string",
          "description": "Maximum time in milliseconds for user activity until the device locks. A value of 0 means there is no restriction."
        },
        "setWallpaperDisabled": {
          "description": "Whether changing the wallpaper is disabled.",
          "type": "boolean"
        },
        "androidDevicePolicyTracks": {
          "description": "The app tracks for Android Device Policy the device can access. The device receives the latest version among all accessible tracks. If no tracks are specified, then the device only uses the production track.",
          "items": {
            "enum": [
              "APP_TRACK_UNSPECIFIED",
              "PRODUCTION",
              "BETA"
            ],
            "enumDescriptions": [
              "This value is ignored.",
              "The production track, which provides the latest stable release.",
              "The beta track, which provides the latest beta release."
            ],
            "type": "string"
          },
          "type": "array"
        },
        "bluetoothDisabled": {
          "type": "boolean",
          "description": "Whether bluetooth is disabled. Prefer this setting over bluetooth_config_disabled because bluetooth_config_disabled can be bypassed by the user."
        },
        "adjustVolumeDisabled": {
          "type": "boolean",
          "description": "Whether adjusting the master volume is disabled. Also mutes the device."
        },
        "persistentPreferredActivities": {
          "items": {
            "$ref": "PersistentPreferredActivity"
          },
          "type": "array",
          "description": "Default intent handler activities."
        },
        "privateKeySelectionEnabled": {
          "type": "boolean",
          "description": "Allows showing UI on a device for a user to choose a private key alias if there are no matching rules in ChoosePrivateKeyRules. For devices below Android P, setting this may leave enterprise keys vulnerable."
        },
        "removeUserDisabled": {
          "type": "boolean",
          "description": "Whether removing other users is disabled."
        },
        "shareLocationDisabled": {
          "type": "boolean",
          "description": "Whether location sharing is disabled."
        },
        "statusReportingSettings": {
          "description": "Status reporting settings",
          "$ref": "StatusReportingSettings"
        },
        "applications": {
          "items": {
            "$ref": "ApplicationPolicy"
          },
          "type": "array",
          "description": "Policy applied to apps."
        },
        "defaultPermissionPolicy": {
          "type": "string",
          "description": "The default permission policy for runtime permission requests.",
          "enum": [
            "PERMISSION_POLICY_UNSPECIFIED",
            "PROMPT",
            "GRANT",
            "DENY"
          ],
          "enumDescriptions": [
            "Policy not specified. If no policy is specified for a permission at any level, then the PROMPT behavior is used by default.",
            "Prompt the user to grant a permission.",
            "Automatically grant a permission.",
            "Automatically deny a permission."
          ]
        },
        "name": {
          "description": "The name of the policy in the form enterprises/{enterpriseId}/policies/{policyId}.",
          "type": "string"
        },
        "setUserIconDisabled": {
          "description": "Whether changing the user icon is disabled.",
          "type": "boolean"
        },
        "deviceOwnerLockScreenInfo": {
          "description": "The device owner information to be shown on the lock screen.",
          "$ref": "UserFacingMessage"
        },
        "keyguardDisabled": {
          "type": "boolean",
          "description": "Whether the keyguard is disabled."
        },
        "locationMode": {
          "description": "The degree of location detection enabled.",
          "enumDescriptions": [
            "Defaults to LOCATION_USER_CHOICE.",
            "On Android 8 and below, all location detection methods are enabled, including GPS, networks, and other sensors. On Android 9 and above, this is equivalent to LOCATION_ENFORCED.",
            "On Android 8 and below, only GPS and other sensors are enabled. On Android 9 and above, this is equivalent to LOCATION_ENFORCED.",
            "On Android 8 and below, only the network location provider is enabled. On Android 9 and above, this is equivalent to LOCATION_ENFORCED.",
            "On Android 8 and below, location setting and accuracy are disabled. On Android 9 and above, this is equivalent to LOCATION_DISABLED.",
            "Location setting is not restricted on the device. No specific behavior is set or enforced.",
            "Enable location setting on the device.",
            "Disable location setting on the device."
          ],
          "type": "string",
          "enum": [
            "LOCATION_MODE_UNSPECIFIED",
            "HIGH_ACCURACY",
            "SENSORS_ONLY",
            "BATTERY_SAVING",
            "OFF",
            "LOCATION_USER_CHOICE",
            "LOCATION_ENFORCED",
            "LOCATION_DISABLED"
          ]
        },
        "keyguardDisabledFeatures": {
          "description": "Disabled keyguard customizations, such as widgets.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "This value is ignored.",
              "Disable the camera on secure keyguard screens (e.g. PIN).",
              "Disable showing all notifications on secure keyguard screens.",
              "Disable unredacted notifications on secure keyguard screens.",
              "Ignore trust agent state on secure keyguard screens.",
              "Disable fingerprint sensor on secure keyguard screens.",
              "Disable text entry into notifications on secure keyguard screens.",
              "Disable face authentication on secure keyguard screens.",
              "Disable iris authentication on secure keyguard screens.",
              "Disable all biometric authentication on secure keyguard screens.",
              "Disable all current and future keyguard customizations."
            ],
            "enum": [
              "KEYGUARD_DISABLED_FEATURE_UNSPECIFIED",
              "CAMERA",
              "NOTIFICATIONS",
              "UNREDACTED_NOTIFICATIONS",
              "TRUST_AGENTS",
              "DISABLE_FINGERPRINT",
              "DISABLE_REMOTE_INPUT",
              "FACE",
              "IRIS",
              "BIOMETRICS",
              "ALL_FEATURES"
            ]
          }
        },
        "oncCertificateProviders": {
          "description": "This feature is not generally available.",
          "type": "array",
          "items": {
            "$ref": "OncCertificateProvider"
          }
        },
        "mountPhysicalMediaDisabled": {
          "type": "boolean",
          "description": "Whether the user mounting physical external media is disabled."
        },
        "uninstallAppsDisabled": {
          "description": "Whether user uninstallation of applications is disabled.",
          "type": "boolean"
        },
        "cellBroadcastsConfigDisabled": {
          "type": "boolean",
          "description": "Whether configuring cell broadcast is disabled."
        },
        "alwaysOnVpnPackage": {
          "$ref": "AlwaysOnVpnPackage",
          "description": "Configuration for an always-on VPN connection. Use with vpn_config_disabled to prevent modification of this setting."
        },
        "mobileNetworksConfigDisabled": {
[...]
