{
  "revision": "20210510",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1",
  "resources": {
    "enterprises": {
      "resources": {
        "devices": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Device"
              },
              "parameters": {
                "name": {
                  "pattern": "^enterprises/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The name of the device in the form enterprises/{enterpriseId}/devices/{deviceId}."
                }
              },
              "id": "androidmanagement.enterprises.devices.get",
              "description": "Gets a device.",
              "httpMethod": "GET"
            },
            "delete": {
              "id": "androidmanagement.enterprises.devices.delete",
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}",
              "parameters": {
                "wipeDataFlags": {
                  "enum": [
                    "WIPE_DATA_FLAG_UNSPECIFIED",
                    "PRESERVE_RESET_PROTECTION_DATA",
                    "WIPE_EXTERNAL_STORAGE"
                  ],
                  "repeated": true,
                  "description": "Optional flags that control the device wiping behavior.",
                  "enumDescriptions": [
                    "This value is ignored.",
                    "Preserve the factory reset protection data on the device.",
                    "Additionally wipe the device's external storage (such as SD cards)."
                  ],
                  "type": "string",
                  "location": "query"
                },
                "wipeReasonMessage": {
                  "description": "Optional. A short message displayed to the user before wiping the work profile on personal devices. This has no effect on company owned devices. The maximum message length is 200 characters.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "pattern": "^enterprises/[^/]+/devices/[^/]+$",
                  "description": "The name of the device in the form enterprises/{enterpriseId}/devices/{deviceId}.",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "description": "Deletes a device. This operation wipes the device."
            },
            "list": {
              "response": {
                "$ref": "ListDevicesResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "The requested page size. The actual page size may be fixed to a min or max value.",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A token identifying a page of results returned by the server.",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^enterprises/[^/]+$",
                  "required": true,
                  "description": "The name of the enterprise in the form enterprises/{enterpriseId}.",
                  "location": "path"
                }
              },
              "path": "v1/{+parent}/devices",
              "flatPath": "v1/enterprises/{enterprisesId}/devices",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists devices for a given enterprise.",
              "id": "androidmanagement.enterprises.devices.list",
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ]
            },
            "issueCommand": {
              "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}:issueCommand",
              "path": "v1/{+name}:issueCommand",
              "parameterOrder": [
                "name"
              ],
              "id": "androidmanagement.enterprises.devices.issueCommand",
              "description": "Issues a command to a device. The Operation resource returned contains a Command in its metadata field. Use the get operation method to get the status of the command.",
              "request": {
                "$ref": "Command"
              },
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "name": {
                  "description": "The name of the device in the form enterprises/{enterpriseId}/devices/{deviceId}.",
                  "location": "path",
                  "required": true,
                  "pattern": "^enterprises/[^/]+/devices/[^/]+$",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "httpMethod": "POST"
            },
            "patch": {
              "id": "androidmanagement.enterprises.devices.patch",
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}",
              "description": "Updates a device.",
              "response": {
                "$ref": "Device"
              },
              "path": "v1/{+name}",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "The field mask indicating the fields to update. If not set, all modifiable fields will be modified.",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "The name of the device in the form enterprises/{enterpriseId}/devices/{deviceId}.",
                  "pattern": "^enterprises/[^/]+/devices/[^/]+$",
                  "type": "string"
                }
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Device"
              }
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "parameters": {
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^enterprises/[^/]+/devices/[^/]+/operations$",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The standard list page size.",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "id": "androidmanagement.enterprises.devices.operations.list",
                  "path": "v1/{+name}",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns UNIMPLEMENTED.NOTE: the name binding allows API services to override the binding to use different resource name schemes, such as users/*/operations. To override the binding, API services can add a binding such as \"/v1/{name=users/*}/operations\" to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}/operations",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/androidmanagement"
                  ]
                },
                "cancel": {
                  "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}/operations/{operationsId}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "androidmanagement.enterprises.devices.operations.cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/androidmanagement"
                  ],
                  "path": "v1/{+name}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^enterprises/[^/]+/devices/[^/]+/operations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns google.rpc.Code.UNIMPLEMENTED. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to Code.CANCELLED."
                },
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^enterprises/[^/]+/devices/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource."
                    }
                  },
                  "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/androidmanagement"
                  ],
                  "id": "androidmanagement.enterprises.devices.operations.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "delete": {
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns google.rpc.Code.UNIMPLEMENTED.",
                  "scopes": [
                    "https://www.googleapis.com/auth/androidmanagement"
                  ],
                  "flatPath": "v1/enterprises/{enterprisesId}/devices/{devicesId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^enterprises/[^/]+/devices/[^/]+/operations/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "id": "androidmanagement.enterprises.devices.operations.delete",
                  "path": "v1/{+name}"
                }
              }
            }
          }
        },
        "webApps": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "description": "The name of the web app in the form enterprises/{enterpriseId}/webApp/{packageName}.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^enterprises/[^/]+/webApps/[^/]+$"
                }
              },
              "description": "Gets a web app.",
              "id": "androidmanagement.enterprises.webApps.get",
              "flatPath": "v1/enterprises/{enterprisesId}/webApps/{webAppsId}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "response": {
                "$ref": "WebApp"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}"
            },
            "patch": {
              "httpMethod": "PATCH",
              "request": {
                "$ref": "WebApp"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "androidmanagement.enterprises.webApps.patch",
              "description": "Updates a web app.",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "response": {
                "$ref": "WebApp"
              },
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "The field mask indicating the fields to update. If not set, all modifiable fields will be modified.",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "The name of the web app in the form enterprises/{enterpriseId}/webApps/{packageName}.",
                  "pattern": "^enterprises/[^/]+/webApps/[^/]+$",
                  "type": "string"
                }
              },
              "flatPath": "v1/enterprises/{enterprisesId}/webApps/{webAppsId}"
            },
            "delete": {
              "description": "Deletes a web app.",
              "response": {
                "$ref": "Empty"
              },
              "id": "androidmanagement.enterprises.webApps.delete",
              "flatPath": "v1/enterprises/{enterprisesId}/webApps/{webAppsId}",
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "pattern": "^enterprises/[^/]+/webApps/[^/]+$",
                  "location": "path",
                  "description": "The name of the web app in the form enterprises/{enterpriseId}/webApps/{packageName}.",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}"
            },
            "create": {
              "response": {
                "$ref": "WebApp"
              },
              "path": "v1/{+parent}/webApps",
              "request": {
                "$ref": "WebApp"
              },
              "id": "androidmanagement.enterprises.webApps.create",
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^enterprises/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The name of the enterprise in the form enterprises/{enterpriseId}."
                }
              },
              "flatPath": "v1/enterprises/{enterprisesId}/webApps",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a web app."
            },
            "list": {
              "httpMethod": "GET",
              "id": "androidmanagement.enterprises.webApps.list",
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "parameters": {
                "pageToken": {
                  "description": "A token identifying a page of results returned by the server.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "The name of the enterprise in the form enterprises/{enterpriseId}.",
                  "pattern": "^enterprises/[^/]+$",
                  "location": "path"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "The requested page size. The actual page size may be fixed to a min or max value.",
                  "type": "integer"
                }
              },
              "response": {
                "$ref": "ListWebAppsResponse"
              },
              "description": "Lists web apps for a given enterprise.",
              "flatPath": "v1/enterprises/{enterprisesId}/webApps",
              "path": "v1/{+parent}/webApps",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "applications": {
          "methods": {
            "get": {
              "response": {
                "$ref": "Application"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^enterprises/[^/]+/applications/[^/]+$",
                  "description": "The name of the application in the form enterprises/{enterpriseId}/applications/{package_name}.",
                  "required": true
                },
                "languageCode": {
                  "location": "query",
                  "type": "string",
                  "description": "The preferred language for localized application info, as a BCP47 tag (e.g. \"en-US\", \"de\"). If not specified the default language of the application will be used."
                }
              },
              "path": "v1/{+name}",
              "description": "Gets info about an application.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "flatPath": "v1/enterprises/{enterprisesId}/applications/{applicationsId}",
              "id": "androidmanagement.enterprises.applications.get",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "policies": {
          "methods": {
            "list": {
              "id": "androidmanagement.enterprises.policies.list",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^enterprises/[^/]+$",
                  "required": true,
                  "description": "The name of the enterprise in the form enterprises/{enterpriseId}."
                },
                "pageSize": {
                  "location": "query",
                  "description": "The requested page size. The actual page size may be fixed to a min or max value.",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying a page of results returned by the server."
                }
              },
              "description": "Lists policies for a given enterprise.",
              "path": "v1/{+parent}/policies",
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "response": {
                "$ref": "ListPoliciesResponse"
              },
              "flatPath": "v1/enterprises/{enterprisesId}/policies"
            },
            "delete": {
              "flatPath": "v1/enterprises/{enterprisesId}/policies/{policiesId}",
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "id": "androidmanagement.enterprises.policies.delete",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a policy. This operation is only permitted if no devices are currently referencing the policy.",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^enterprises/[^/]+/policies/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "The name of the policy in the form enterprises/{enterpriseId}/policies/{policyId}."
                }
              },
              "response": {
                "$ref": "Empty"
              }
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^enterprises/[^/]+/policies/[^/]+$",
                  "type": "string",
                  "description": "The name of the policy in the form enterprises/{enterpriseId}/policies/{policyId}.",
                  "location": "path"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "The field mask indicating the fields to update. If not set, all modifiable fields will be modified.",
                  "format": "google-fieldmask"
                }
              },
              "response": {
                "$ref": "Policy"
              },
              "httpMethod": "PATCH",
              "path": "v1/{+name}",
              "id": "androidmanagement.enterprises.policies.patch",
              "description": "Updates or creates a policy.",
              "request": {
                "$ref": "Policy"
              },
              "flatPath": "v1/enterprises/{enterprisesId}/policies/{policiesId}"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/enterprises/{enterprisesId}/policies/{policiesId}",
              "description": "Gets a policy.",
              "response": {
                "$ref": "Policy"
              },
              "id": "androidmanagement.enterprises.policies.get",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "The name of the policy in the form enterprises/{enterpriseId}/policies/{policyId}.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^enterprises/[^/]+/policies/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ]
            }
          }
        },
        "enrollmentTokens": {
          "methods": {
            "create": {
              "flatPath": "v1/enterprises/{enterprisesId}/enrollmentTokens",
              "httpMethod": "POST",
              "request": {
                "$ref": "EnrollmentToken"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^enterprises/[^/]+$",
                  "description": "The name of the enterprise in the form enterprises/{enterpriseId}.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/enrollmentTokens",
              "response": {
                "$ref": "EnrollmentToken"
              },
              "description": "Creates an enrollment token for a given enterprise.",
              "id": "androidmanagement.enterprises.enrollmentTokens.create"
            },
            "delete": {
              "id": "androidmanagement.enterprises.enrollmentTokens.delete",
              "flatPath": "v1/enterprises/{enterprisesId}/enrollmentTokens/{enrollmentTokensId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The name of the enrollment token in the form enterprises/{enterpriseId}/enrollmentTokens/{enrollmentTokenId}.",
                  "pattern": "^enterprises/[^/]+/enrollmentTokens/[^/]+$"
                }
              },
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes an enrollment token. This operation invalidates the token, preventing its future use."
            }
          }
        },
        "webTokens": {
          "methods": {
            "create": {
              "description": "Creates a web token to access an embeddable managed Google Play web UI for a given enterprise.",
              "flatPath": "v1/enterprises/{enterprisesId}/webTokens",
              "request": {
                "$ref": "WebToken"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^enterprises/[^/]+$",
                  "type": "string",
                  "description": "The name of the enterprise in the form enterprises/{enterpriseId}."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/androidmanagement"
              ],
              "response": {
                "$ref": "WebToken"
              },
              "id": "androidmanagement.enterprises.webTokens.create",
              "path": "v1/{+parent}/webTokens"
            }
          }
        }
      },
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/androidmanagement"
          ],
          "id": "androidmanagement.enterprises.get",
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^enterprises/[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The name of the enterprise in the form enterprises/{enterpriseId}."
            }
          },
          "httpMethod": "GET",
          "flatPath": "v1/enterprises/{enterprisesId}",
          "response": {
            "$ref": "Enterprise"
          },
          "description": "Gets an enterprise."
        },
        "patch": {
          "path": "v1/{+name}",
          "flatPath": "v1/enterprises/{enterprisesId}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string",
              "description": "The field mask indicating the fields to update. If not set, all modifiable fields will be modified."
            },
            "name": {
              "pattern": "^enterprises/[^/]+$",
              "type": "string",
              "description": "The name of the enterprise in the form enterprises/{enterpriseId}.",
              "required": true,
              "location": "path"
            }
          },
          "id": "androidmanagement.enterprises.patch",
          "description": "Updates an enterprise.",
          "request": {
            "$ref": "Enterprise"
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Enterprise"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidmanagement"
          ]
        },
        "delete": {
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^enterprises/[^/]+$",
              "description": "This feature is not generally available yet. The name of the enterprise in the form enterprises/{enterpriseId}."
            }
          },
          "path": "v1/{+name}",
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidmanagement"
          ],
          "id": "androidmanagement.enterprises.delete",
          "description": "This feature is not generally available yet. Deletes an enterprise.",
          "flatPath": "v1/enterprises/{enterprisesId}",
          "httpMethod": "DELETE"
        },
        "create": {
          "httpMethod": "POST",
          "parameters": {
            "signupUrlName": {
              "type": "string",
              "location": "query",
              "description": "The name of the SignupUrl used to sign up for the enterprise."
            },
            "enterpriseToken": {
              "type": "string",
              "description": "The enterprise token appended to the callback URL.",
              "location": "query"
            },
            "agreementAccepted": {
              "description": "This feature is not generally available yet. Whether the managed Google Play Agreement is presented and agreed.",
              "type": "boolean",
              "location": "query"
            },
            "projectId": {
              "description": "The ID of the Google Cloud Platform project which will own the enterprise.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "v1/enterprises",
          "id": "androidmanagement.enterprises.create",
          "scopes": [
            "https://www.googleapis.com/auth/androidmanagement"
          ],
          "parameterOrder": [],
          "path": "v1/enterprises",
          "request": {
            "$ref": "Enterprise"
          },
          "description": "Creates an enterprise. This is the last step in the enterprise signup flow.",
          "response": {
            "$ref": "Enterprise"
          }
        },
        "list": {
          "flatPath": "v1/enterprises",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/androidmanagement"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "ListEnterprisesResponse"
          },
          "path": "v1/enterprises",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "This feature is not generally available yet. A token identifying a page of results returned by the server."
            },
            "view": {
              "location": "query",
              "enum": [
                "ENTERPRISE_VIEW_UNSPECIFIED",
                "BASIC"
              ],
              "description": "This feature is not generally available yet. View that specify that partial response should be returned.",
              "type": "string",
              "enumDescriptions": [
                "This feature is not generally available yet. The API will default to the BASIC view for the List method.",
                "This feature is not generally available yet. Includes name and enterprise_display_name fields."
              ]
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "description": "This feature is not generally available yet. The requested page size. The actual page size may be fixed to a min or max value.",
              "location": "query"
            },
            "projectId": {
              "location": "query",
              "description": "Required. This feature is not generally available yet. The ID of the Cloud project of the EMM the enterprises belongs to.",
              "type": "string"
            }
          },
          "description": "This feature is not generally available yet. Lists enterprises that are managed by an EMM. Only partial views are returned.",
          "id": "androidmanagement.enterprises.list"
        }
      }
    },
    "signupUrls": {
      "methods": {
        "create": {
          "description": "Creates an enterprise signup URL.",
          "response": {
            "$ref": "SignupUrl"
          },
          "flatPath": "v1/signupUrls",
          "httpMethod": "POST",
          "parameterOrder": [],
          "parameters": {
            "projectId": {
              "description": "The ID of the Google Cloud Platform project which will own the enterprise.",
              "location": "query",
              "type": "string"
            },
            "callbackUrl": {
              "location": "query",
              "description": "The callback URL that the admin will be redirected to after successfully creating an enterprise. Before redirecting there the system will add a query parameter to this URL named enterpriseToken which will contain an opaque token to be used for the create enterprise request. The URL will be parsed then reformatted in order to add the enterpriseToken parameter, so there may be some minor formatting changes.",
              "type": "string"
            }
          },
          "id": "androidmanagement.signupUrls.create",
          "path": "v1/signupUrls",
          "scopes": [
            "https://www.googleapis.com/auth/androidmanagement"
          ]
        }
      }
    }
  },
  "batchPath": "batch",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format."
    }
  },
  "title": "Android Management API",
  "basePath": "",
  "documentationLink": "https://developers.google.com/android/management",
  "mtlsRootUrl": "https://androidmanagement.mtls.googleapis.com/",
  "name": "androidmanagement",
  "schemas": {
    "OncCertificateProvider": {
      "description": "This feature is not generally available.",
      "id": "OncCertificateProvider",
      "type": "object",
      "properties": {
        "contentProviderEndpoint": {
          "$ref": "ContentProviderEndpoint",
          "description": "This feature is not generally available."
        },
        "certificateReferences": {
          "type": "array",
          "description": "This feature is not generally available.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "FreezePeriod": {
      "description": "A system freeze period. When a device’s clock is within the freeze period, all incoming system updates (including security patches) are blocked and won’t be installed. When a device is outside the freeze period, normal update behavior applies. Leap years are ignored in freeze period calculations, in particular: * If Feb. 29th is set as the start or end date of a freeze period, the freeze period will start or end on Feb. 28th instead. * When a device’s system clock reads Feb. 29th, it’s treated as Feb. 28th. * When calculating the number of days in a freeze period or the time between two freeze periods, Feb. 29th is ignored and not counted as a day.",
      "properties": {
        "startDate": {
          "$ref": "Date",
          "description": "The start date (inclusive) of the freeze period. Note: year must not be set. For example, {\"month\": 1,\"date\": 30}."
        },
        "endDate": {
          "$ref": "Date",
          "description": "The end date (inclusive) of the freeze period. Must be no later than 90 days from the start date. If the end date is earlier than the start date, the freeze period is considered wrapping year-end. Note: year must not be set. For example, {\"month\": 1,\"date\": 30}."
        }
      },
      "type": "object",
      "id": "FreezePeriod"
    },
    "PersonalUsagePolicies": {
      "type": "object",
      "description": "Policies controlling personal usage on a company-owned device with a work profile.",
      "properties": {
        "personalApplications": {
          "type": "array",
          "description": "Policy applied to applications in the personal profile.",
          "items": {
            "$ref": "PersonalApplicationPolicy"
          }
        },
        "personalPlayStoreMode": {
          "description": "Used together with personalApplications to control how apps in the personal profile are allowed or blocked.",
          "enum": [
            "PLAY_STORE_MODE_UNSPECIFIED",
            "BLACKLIST",
            "BLOCKLIST",
            "ALLOWLIST"
          ],
          "enumDescriptions": [
            "Unspecified. Defaults to BLOCKLIST.",
            "All Play Store apps are available for installation in the personal profile, except those whose installType is BLOCKED in personalApplications.",
            "All Play Store apps are available for installation in the personal profile, except those whose installType is BLOCKED in personalApplications.",
            "Only apps explicitly specified in personalApplications with installType set to AVAILABLE are allowed to be installed in the personal profile."
          ],
          "type": "string"
        },
        "screenCaptureDisabled": {
          "type": "boolean",
          "description": "Whether screen capture is disabled."
        },
        "accountTypesWithManagementDisabled": {
          "description": "Account types that can't be managed by the user.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "maxDaysWithWorkOff": {
          "format": "int32",
          "type": "integer",
          "description": "Controls how long the work profile can stay off. The duration must be at least 3 days."
        },
        "cameraDisabled": {
          "type": "boolean",
          "description": "Whether camera is disabled."
        }
      },
      "id": "PersonalUsagePolicies"
    },
    "Application": {
      "properties": {
        "appTracks": {
          "type": "array",
          "items": {
            "$ref": "AppTrackInfo"
          },
          "description": "Application tracks visible to the enterprise."
        },
        "managedProperties": {
          "items": {
            "$ref": "ManagedProperty"
          },
          "type": "array",
          "description": "The set of managed properties available to be pre-configured for the app."
        },
        "title": {
          "type": "string",
          "description": "The title of the app. Localized."
        },
        "name": {
          "description": "The name of the app in the form enterprises/{enterpriseId}/applications/{package_name}.",
          "type": "string"
        },
        "permissions": {
          "items": {
            "$ref": "ApplicationPermission"
          },
          "type": "array",
          "description": "The permissions required by the app."
        }
      },
      "type": "object",
      "description": "Information about an app.",
      "id": "Application"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for Empty is empty JSON object {}."
    },
    "ApplicationReportingSettings": {
      "type": "object",
      "id": "ApplicationReportingSettings",
      "description": "Settings controlling the behavior of application reports.",
      "properties": {
        "includeRemovedApps": {
          "description": "Whether removed apps are included in application reports.",
          "type": "boolean"
        }
      }
    },
    "WebAppIcon": {
      "properties": {
        "imageData": {
          "description": "The actual bytes of the image in a base64url encoded string (c.f. RFC4648, section 5 \"Base 64 Encoding with URL and Filename Safe Alphabet\"). - The image type can be png or jpg. - The image should ideally be square. - The image should ideally have a size of 512x512. ",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An icon for a web app. Supported formats are: png, jpg and webp.",
      "id": "WebAppIcon"
    },
    "PermissionGrant": {
      "type": "object",
      "id": "PermissionGrant",
      "description": "Configuration for an Android permission and its grant state.",
      "properties": {
        "policy": {
          "enum": [
            "PERMISSION_POLICY_UNSPECIFIED",
            "PROMPT",
            "GRANT",
            "DENY"
          ],
          "description": "The policy for granting the permission.",
          "enumDescriptions": [
            "Policy not specified. If no policy is specified for a permission at any level, then the PROMPT behavior is used by default.",
            "Prompt the user to grant a permission.",
            "Automatically grant a permission.",
            "Automatically deny a permission."
          ],
          "type": "string"
        },
        "permission": {
          "type": "string",
          "description": "The Android permission or group, e.g. android.permission.READ_CALENDAR or android.permission_group.CALENDAR."
        }
      }
    },
    "HardwareInfo": {
      "properties": {
        "skinThrottlingTemperatures": {
          "type": "array",
          "description": "Device skin throttling temperature thresholds in Celsius.",
          "items": {
            "format": "float",
            "type": "number"
          }
        },
        "batteryThrottlingTemperatures": {
          "type": "array",
          "description": "Battery throttling temperature thresholds in Celsius for each battery on the device.",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "gpuThrottlingTemperatures": {
          "description": "GPU throttling temperature thresholds in Celsius for each GPU on the device.",
          "items": {
            "type": "number",
            "format": "float"
          },
          "type": "array"
        },
        "hardware": {
          "type": "string",
          "description": "Name of the hardware. For example, Angler."
        },
        "gpuShutdownTemperatures": {
          "type": "array",
          "description": "GPU shutdown temperature thresholds in Celsius for each GPU on the device.",
          "items": {
            "format": "float",
            "type": "number"
          }
        },
        "brand": {
          "type": "string",
          "description": "Brand of the device. For example, Google."
        },
        "batteryShutdownTemperatures": {
          "type": "array",
          "description": "Battery shutdown temperature thresholds in Celsius for each battery on the device.",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "cpuThrottlingTemperatures": {
          "description": "CPU throttling temperature thresholds in Celsius for each CPU on the device.",
          "items": {
            "format": "float",
            "type": "number"
          },
          "type": "array"
        },
        "deviceBasebandVersion": {
          "type": "string",
          "description": "Baseband version. For example, MDM9625_104662.22.05.34p."
        },
        "manufacturer": {
          "description": "Manufacturer. For example, Motorola.",
          "type": "string"
        },
        "cpuShutdownTemperatures": {
          "description": "CPU shutdown temperature thresholds in Celsius for each CPU on the device.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "model": {
          "type": "string",
          "description": "The model of the device. For example, Asus Nexus 7."
        },
        "serialNumber": {
          "description": "The device serial number.",
          "type": "string"
        },
        "skinShutdownTemperatures": {
          "description": "Device skin shutdown temperature thresholds in Celsius.",
          "type": "array",
          "items": {
            "format": "float",
            "type": "number"
          }
        }
      },
      "id": "HardwareInfo",
      "type": "object",
      "description": "Information about device hardware. The fields related to temperature thresholds are only available if hardwareStatusEnabled is true in the device's policy."
    },
    "DeviceSettings": {
      "type": "object",
      "id": "DeviceSettings",
      "properties": {
        "encryptionStatus": {
          "enum": [
            "ENCRYPTION_STATUS_UNSPECIFIED",
            "UNSUPPORTED",
            "INACTIVE",
            "ACTIVATING",
            "ACTIVE",
            "ACTIVE_DEFAULT_KEY",
            "ACTIVE_PER_USER"
          ],
          "enumDescriptions": [
            "Unspecified. No device should have this type.",
            "Encryption is not supported by the device.",
            "Encryption is supported by the device, but is not currently active.",
            "Encryption is not currently active, but is currently being activated.",
            "Encryption is active.",
            "Encryption is active, but an encryption key is not set by the user.",
            "Encryption is active, and the encryption key is tied to the user profile."
          ],
          "type": "string",
          "description": "Encryption status from DevicePolicyManager."
        },
        "isDeviceSecure": {
          "description": "Whether the device is secured with PIN/password.",
          "type": "boolean"
        },
        "unknownSourcesEnabled": {
          "type": "boolean",
          "description": "Whether installing apps from unknown sources is enabled."
        },
        "verifyAppsEnabled": {
          "type": "boolean",
          "description": "Whether Google Play Protect verification (https://support.google.com/accounts/answer/2812853) is enforced on the device."
        },
        "developmentSettingsEnabled": {
          "description": "Whether developer mode is enabled on the device.",
          "type": "boolean"
        },
        "adbEnabled": {
          "type": "boolean",
          "description": "Whether ADB (https://developer.android.com/studio/command-line/adb.html) is enabled on the device."
        },
        "isEncrypted": {
          "description": "Whether the storage encryption is enabled.",
          "type": "boolean"
        }
      },
      "description": "Information about security related device settings on device."
    },
    "AdvancedSecurityOverrides": {
      "properties": {
        "googlePlayProtectVerifyApps": {
          "description": "Whether Google Play Protect verification (https://support.google.com/accounts/answer/2812853) is enforced. Replaces ensureVerifyAppsEnabled (deprecated).",
          "enumDescriptions": [
            "Unspecified. Defaults to VERIFY_APPS_ENFORCED.",
            "Default. Force-enables app verification.",
            "Allows the user to choose whether to enable app verification."
          ],
          "type": "string",
          "enum": [
            "GOOGLE_PLAY_PROTECT_VERIFY_APPS_UNSPECIFIED",
            "VERIFY_APPS_ENFORCED",
            "VERIFY_APPS_USER_CHOICE"
          ]
        },
        "commonCriteriaMode": {
          "enum": [
            "COMMON_CRITERIA_MODE_UNSPECIFIED",
            "COMMON_CRITERIA_MODE_DISABLED",
            "COMMON_CRITERIA_MODE_ENABLED"
          ],
          "description": "Controls Common Criteria Mode—security standards defined in the Common Criteria for Information Technology Security Evaluation (https://www.commoncriteriaportal.org/) (CC). Enabling Common Criteria Mode increases certain security components on a device, including AES-GCM encryption of Bluetooth Long Term Keys, and Wi-Fi configuration stores.Warning: Common Criteria Mode enforces a strict security model typically only required for IT products used in national security systems and other highly sensitive organizations. Standard device use may be affected. Only enabled if required.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Defaults to COMMON_CRITERIA_MODE_DISABLED.",
            "Default. Disables Common Criteria Mode.",
            "Enables Common Criteria Mode."
          ]
        },
        "untrustedAppsPolicy": {
          "enumDescriptions": [
            "Unspecified. Defaults to DISALLOW_INSTALL.",
            "Default. Disallow untrusted app installs on entire device.",
            "For devices with work profiles, allow untrusted app installs in the device's personal profile only.",
            "Allow untrusted app installs on entire device."
          ],
          "enum": [
            "UNTRUSTED_APPS_POLICY_UNSPECIFIED",
            "DISALLOW_INSTALL",
            "ALLOW_INSTALL_IN_PERSONAL_PROFILE_ONLY",
            "ALLOW_INSTALL_DEVICE_WIDE"
          ],
          "type": "string",
          "description": "The policy for untrusted apps (apps from unknown sources) enforced on the device. Replaces install_unknown_sources_allowed (deprecated)."
        },
        "developerSettings": {
          "type": "string",
          "enum": [
            "DEVELOPER_SETTINGS_UNSPECIFIED",
            "DEVELOPER_SETTINGS_DISABLED",
            "DEVELOPER_SETTINGS_ALLOWED"
          ],
          "description": "Controls access to developer settings: developer options and safe boot. Replaces safeBootDisabled (deprecated) and debuggingFeaturesAllowed (deprecated).",
          "enumDescriptions": [
            "Unspecified. Defaults to DEVELOPER_SETTINGS_DISABLED.",
            "Default. Disables all developer settings and prevents the user from accessing them.",
            "Allows all developer settings. The user can access and optionally configure the settings."
          ]
        }
      },
      "type": "object",
      "description": "Security policies set to the most secure values by default. To maintain the security posture of a device, we don't recommend overriding any of the default values.",
      "id": "AdvancedSecurityOverrides"
    },
    "AppTrackInfo": {
      "properties": {
        "trackId": {
          "description": "The unmodifiable unique track identifier, taken from the releaseTrackId in the URL of the Play Console page that displays the app’s track information.",
          "type": "string"
        },
        "trackAlias": {
          "type": "string",
          "description": "The track name associated with the trackId, set in the Play Console. The name is modifiable from Play Console."
        }
      },
      "type": "object",
      "id": "AppTrackInfo",
      "description": "Id to name association of a app track."
    },
    "SecurityPosture": {
      "description": "The security posture of the device, as determined by the current device state and the policies applied.",
      "properties": {
        "postureDetails": {
          "items": {
            "$ref": "PostureDetail"
          },
          "type": "array",
          "description": "Additional details regarding the security posture of the device."
        },
        "devicePosture": {
          "enum": [
            "POSTURE_UNSPECIFIED",
            "SECURE",
            "AT_RISK",
            "POTENTIALLY_COMPROMISED"
          ],
          "description": "Device's security posture value.",
          "enumDescriptions": [
            "Unspecified. There is no posture detail for this posture value.",
            "This device is secure.",
            "This device may be more vulnerable to malicious actors than is recommended for use with corporate data.",
            "This device may be compromised and corporate data may be accessible to unauthorized actors."
          ],
          "type": "string"
        }
      },
      "id": "SecurityPosture",
      "type": "object"
    },
    "ListEnterprisesResponse": {
      "id": "ListEnterprisesResponse",
      "description": "This feature is not generally available yet. Response to a request to list enterprises.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "This feature is not generally available yet. If there are more results, a token to retrieve next page of results."
        },
        "enterprises": {
          "items": {
            "$ref": "Enterprise"
          },
          "description": "This feature is not generally available yet. The list of enterprises.",
          "type": "array"
        }
      }
    },
    "WebToken": {
      "type": "object",
      "description": "A web token used to access the managed Google Play iframe.",
      "id": "WebToken",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the web token, which is generated by the server during creation in the form enterprises/{enterpriseId}/webTokens/{webTokenId}."
        },
        "enabledFeatures": {
          "description": "The features to enable. Use this if you want to control exactly which feature(s) will be activated; leave empty to allow all features.Restrictions / things to note: - If no features are listed here, all features are enabled — this is the default behavior where you give access to all features to your admins. - This must not contain any FEATURE_UNSPECIFIED values. - Repeated values are ignored ",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified feature.",
              "The Managed Play search apps page (https://developers.google.com/android/management/apps#search-apps).",
              "The private apps page (https://developers.google.com/android/management/apps#private-apps).",
              "The Web Apps page (https://developers.google.com/android/management/apps#web-apps).",
              "The organize apps page (https://developers.google.com/android/management/apps#organize-apps).",
              "The managed configurations page (https://developers.google.com/android/management/managed-configurations-iframe).",
              "The zero-touch iframe (https://developers.google.com/android/management/zero-touch-iframe)."
            ],
            "type": "string",
            "enum": [
              "FEATURE_UNSPECIFIED",
              "PLAY_SEARCH",
              "PRIVATE_APPS",
              "WEB_APPS",
              "STORE_BUILDER",
              "MANAGED_CONFIGURATIONS",
              "ZERO_TOUCH_CUSTOMER_MANAGEMENT"
            ]
          }
        },
        "parentFrameUrl": {
          "description": "The URL of the parent frame hosting the iframe with the embedded UI. To prevent XSS, the iframe may not be hosted at other URLs. The URL must use the https scheme.",
          "type": "string"
        },
        "value": {
          "description": "The token value which is used in the hosting page to generate the iframe with the embedded UI. This is a read-only field generated by the server.",
          "type": "string"
        },
        "permissions": {
          "items": {
            "enum": [
              "WEB_TOKEN_PERMISSION_UNSPECIFIED",
              "APPROVE_APPS"
            ],
            "enumDescriptions": [
              "This value is ignored.",
              "The permission to approve apps for the enterprise."
            ],
            "type": "string"
          },
          "description": "Permissions available to an admin in the embedded UI. An admin must have all of these permissions in order to view the UI. This field is deprecated.",
          "type": "array"
        }
      }
    },
    "ListWebAppsResponse": {
      "description": "Response to a request to list web apps for a given enterprise.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If there are more results, a token to retrieve next page of results."
        },
        "webApps": {
          "items": {
            "$ref": "WebApp"
          },
          "type": "array",
          "description": "The list of web apps."
        }
      },
      "type": "object",
      "id": "ListWebAppsResponse"
    },
    "NonComplianceDetail": {
      "id": "NonComplianceDetail",
      "type": "object",
      "properties": {
        "packageName": {
          "type": "string",
          "description": "The package name indicating which app is out of compliance, if applicable."
        },
        "installationFailureReason": {
          "enum": [
            "INSTALLATION_FAILURE_REASON_UNSPECIFIED",
            "INSTALLATION_FAILURE_REASON_UNKNOWN",
            "IN_PROGRESS",
            "NOT_FOUND",
            "NOT_COMPATIBLE_WITH_DEVICE",
            "NOT_APPROVED",
            "PERMISSIONS_NOT_ACCEPTED",
            "NOT_AVAILABLE_IN_COUNTRY",
            "NO_LICENSES_REMAINING",
            "NOT_ENROLLED",
            "USER_INVALID"
          ],
          "enumDescriptions": [
            "This value is disallowed.",
            "An unknown condition is preventing the app from being installed. Some potential reasons are that the device doesn't have enough storage, the device network connection is unreliable, or the installation is taking longer than expected. The installation will be retried automatically.",
            "The installation is still in progress.",
            "The app was not found in Play.",
            "The app is incompatible with the device.",
            "The app has not been approved by the admin.",
            "The app has new permissions that have not been accepted by the admin.",
            "The app is not available in the user's country.",
            "There are no licenses available to assign to the user.",
            "The enterprise is no longer enrolled with Managed Google Play or the admin has not accepted the latest Managed Google Play Terms of Service.",
            "The user is no longer valid. The user may have been deleted or disabled."
          ],
          "type": "string",
          "description": "If package_name is set and the non-compliance reason is APP_NOT_INSTALLED or APP_NOT_UPDATED, the detailed reason the app can't be installed or updated."
        },
        "fieldPath": {
          "type": "string",
          "description": "For settings with nested fields, if a particular nested field is out of compliance, this specifies the full path to the offending field. The path is formatted in the same way the policy JSON field would be referenced in JavaScript, that is: 1) For object-typed fields, the field name is followed by a dot then by a subfield name. 2) For array-typed fields, the field name is followed by the array index enclosed in brackets. For example, to indicate a problem with the url field in the externalData field in the 3rd application, the path would be applications[2].externalData.url"
        },
        "settingName": {
          "type": "string",
          "description": "The name of the policy setting. This is the JSON field name of a top-level Policy field."
        },
        "nonComplianceReason": {
          "enumDescriptions": [
            "This value is disallowed.",
            "The setting is not supported in the API level of the Android version running on the device.",
            "The management mode (profile owner, device owner, etc.) doesn't support the setting.",
            "The user has not taken required action to comply with the setting.",
            "The setting has an invalid value.",
            "The app required to implement the policy is not installed.",
            "The policy is not supported by the version of Android Device Policy on the device.",
            "A blocked app is installed.",
            "The setting hasn't been applied at the time of the report, but is expected to be applied shortly.",
            "The setting can't be applied to the app because the app doesn't support it, for example because its target SDK version is not high enough.",
            "The app is installed, but it hasn't been updated to the minimum version code specified by policy."
          ],
          "description": "The reason the device is not in compliance with the setting.",
          "enum": [
            "NON_COMPLIANCE_REASON_UNSPECIFIED",
            "API_LEVEL",
            "MANAGEMENT_MODE",
            "USER_ACTION",
            "INVALID_VALUE",
            "APP_NOT_INSTALLED",
            "UNSUPPORTED",
            "APP_INSTALLED",
            "PENDING",
            "APP_INCOMPATIBLE",
            "APP_NOT_UPDATED"
          ],
          "type": "string"
        },
        "currentValue": {
          "type": "any",
          "description": "If the policy setting could not be applied, the current value of the setting on the device."
        }
      },
      "description": "Provides detail about non-compliance with a policy setting."
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "type": "object",
      "description": "The response message for Operations.ListOperations."
    },
    "NonComplianceDetailCondition": {
      "properties": {
        "settingName": {
          "type": "string",
          "description": "The name of the policy setting. This is the JSON field name of a top-level Policy field. If not set, then this condition matches any setting name."
        },
        "packageName": {
          "type": "string",
          "description": "The package name of the app that's out of compliance. If not set, then this condition matches any package name."
        },
        "nonComplianceReason": {
          "description": "The reason the device is not in compliance with the setting. If not set, then this condition matches any reason.",
          "enum": [
            "NON_COMPLIANCE_REASON_UNSPECIFIED",
            "API_LEVEL",
            "MANAGEMENT_MODE",
            "USER_ACTION",
            "INVALID_VALUE",
            "APP_NOT_INSTALLED",
            "UNSUPPORTED",
            "APP_INSTALLED",
            "PENDING",
            "APP_INCOMPATIBLE",
            "APP_NOT_UPDATED"
          ],
          "type": "string",
          "enumDescriptions": [
            "This value is disallowed.",
            "The setting is not supported in the API level of the Android version running on the device.",
            "The management mode (profile owner, device owner, etc.) doesn't support the setting.",
            "The user has not taken required action to comply with the setting.",
            "The setting has an invalid value.",
            "The app required to implement the policy is not installed.",
            "The policy is not supported by the version of Android Device Policy on the device.",
            "A blocked app is installed.",
            "The setting hasn't been applied at the time of the report, but is expected to be applied shortly.",
            "The setting can't be applied to the app because the app doesn't support it, for example because its target SDK version is not high enough.",
            "The app is installed, but it hasn't been updated to the minimum version code specified by policy."
          ]
        }
      },
      "id": "NonComplianceDetailCondition",
      "description": "A compliance rule condition which is satisfied if there exists any matching NonComplianceDetail for the device. A NonComplianceDetail matches a NonComplianceDetailCondition if all the fields which are set within the NonComplianceDetailCondition match the corresponding NonComplianceDetail fields.",
      "type": "object"
    },
    "ApplicationPermission": {
      "id": "ApplicationPermission",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the permission. Localized.",
          "type": "string"
        },
        "permissionId": {
          "type": "string",
          "description": "An opaque string uniquely identifying the permission. Not localized."
        },
        "description": {
          "description": "A longer description of the permission, providing more detail on what it affects. Localized.",
          "type": "string"
        }
      },
      "description": "A permission required by the app."
    },
    "ManagedProperty": {
      "description": "Managed property.",
      "type": "object",
      "properties": {
        "description": {
          "description": "A longer description of the property, providing more detail of what it affects. Localized.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The name of the property. Localized."
        },
        "key": {
          "description": "The unique key that the app uses to identify the property, e.g. \"com.google.android.gm.fieldname\".",
          "type": "string"
        },
        "entries": {
          "type": "array",
          "items": {
            "$ref": "ManagedPropertyEntry"
          },
          "description": "For CHOICE or MULTISELECT properties, the list of possible entries."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "A property of boolean type.",
            "A property of string type.",
            "A property of integer type.",
            "A choice of one item from a set.",
            "A choice of multiple items from a set.",
            "A hidden restriction of string type (the default value can be used to pass along information that can't be modified, such as a version code).",
            "A bundle of properties",
            "An array of property bundles."
          ],
          "enum": [
            "MANAGED_PROPERTY_TYPE_UNSPECIFIED",
            "BOOL",
            "STRING",
            "INTEGER",
            "CHOICE",
            "MULTISELECT",
            "HIDDEN",
            "BUNDLE",
            "BUNDLE_ARRAY"
          ],
          "description": "The type of the property."
        },
        "nestedProperties": {
          "type": "array",
          "description": "For BUNDLE_ARRAY properties, the list of nested properties. A BUNDLE_ARRAY property is at most two levels deep.",
          "items": {
            "$ref": "ManagedProperty"
          }
        },
        "defaultValue": {
          "description": "The default value of the property. BUNDLE_ARRAY properties don't have a default value.",
          "type": "any"
        }
      },
      "id": "ManagedProperty"
    },
    "ExternalData": {
      "description": "Data hosted at an external location. The data is to be downloaded by Android Device Policy and verified against the hash.",
      "id": "ExternalData",
      "type": "object",
      "properties": {
        "sha256Hash": {
          "type": "string",
          "description": "The base-64 encoded SHA-256 hash of the content hosted at url. If the content doesn't match this hash, Android Device Policy won't use the data."
        },
        "url": {
          "type": "string",
          "description": "The absolute URL to the data, which must use either the http or https scheme. Android Device Policy doesn't provide any credentials in the GET request, so the URL must be publicly accessible. Including a long, random component in the URL may be used to prevent attackers from discovering the URL."
        }
      }
    },
    "ApplicationEvent": {
      "description": "An app-related event.",
      "properties": {
        "eventType": {
          "type": "string",
          "enumDescriptions": [
            "This value is disallowed.",
            "The app was installed.",
            "The app was changed, for example, a component was enabled or disabled.",
            "The app data was cleared.",
            "The app was removed.",
            "A new version of the app has been installed, replacing the old version.",
            "The app was restarted.",
            "The app was pinned to the foreground.",
            "The app was unpinned."
          ],
          "description": "App event type.",
          "enum": [
            "APPLICATION_EVENT_TYPE_UNSPECIFIED",
            "INSTALLED",
            "CHANGED",
            "DATA_CLEARED",
            "REMOVED",
            "REPLACED",
            "RESTARTED",
            "PINNED",
            "UNPINNED"
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The creation time of the event."
        }
      },
      "type": "object",
      "id": "ApplicationEvent"
    },
    "CommonCriteriaModeInfo": {
      "id": "CommonCriteriaModeInfo",
      "description": "Information about Common Criteria Mode—security standards defined in the Common Criteria for Information Technology Security Evaluation (https://www.commoncriteriaportal.org/) (CC).This information is only available if statusReportingSettings.commonCriteriaModeEnabled is true in the device's policy.",
      "properties": {
        "commonCriteriaModeStatus": {
          "enum": [
            "COMMON_CRITERIA_MODE_STATUS_UNKNOWN",
            "COMMON_CRITERIA_MODE_DISABLED",
            "COMMON_CRITERIA_MODE_ENABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown status.",
            "Common Criteria Mode is currently disabled.",
            "Common Criteria Mode is currently enabled."
          ],
          "description": "Whether Common Criteria Mode is enabled."
        }
      },
      "type": "object"
    },
    "PasswordRequirements": {
      "properties": {
        "passwordHistoryLength": {
          "format": "int32",
          "description": "The length of the password history. After setting this field, the user won't be able to enter a new password that is the same as any password in the history. A value of 0 means there is no restriction.",
          "type": "integer"
        },
        "passwordMinimumSymbols": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum number of symbols required in the password. Only enforced when password_quality is COMPLEX."
        },
        "passwordMinimumNonLetter": {
          "type": "integer",
          "description": "Minimum number of non-letter characters (numerical digits or symbols) required in the password. Only enforced when password_quality is COMPLEX.",
          "format": "int32"
        },
        "passwordMinimumLength": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum allowed password length. A value of 0 means there is no restriction. Only enforced when password_quality is NUMERIC, NUMERIC_COMPLEX, ALPHABETIC, ALPHANUMERIC, or COMPLEX."
        },
        "passwordMinimumLowerCase": {
          "type": "integer",
          "description": "Minimum number of lower case letters required in the password. Only enforced when password_quality is COMPLEX.",
          "format": "int32"
        },
        "passwordMinimumNumeric": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum number of numerical digits required in the password. Only enforced when password_quality is COMPLEX."
        },
        "passwordQuality": {
          "type": "string",
          "enumDescriptions": [
            "There are no password requirements.",
            "The device must be secured with a low-security biometric recognition technology, at minimum. This includes technologies that can recognize the identity of an individual that are roughly equivalent to a 3-digit PIN (false detection is less than 1 in 1,000).",
            "A password is required, but there are no restrictions on what the password must contain.",
            "The password must contain numeric characters.",
            "The password must contain numeric characters with no repeating (4444) or ordered (1234, 4321, 2468) sequences.",
            "The password must contain alphabetic (or symbol) characters.",
            "The password must contain both numeric and alphabetic (or symbol) characters.",
            "The password must meet the minimum requirements specified in passwordMinimumLength, passwordMinimumLetters, passwordMinimumSymbols, etc. For example, if passwordMinimumSymbols is 2, the password must contain at least two symbols."
          ],
          "description": "The required password quality.",
          "enum": [
            "PASSWORD_QUALITY_UNSPECIFIED",
            "BIOMETRIC_WEAK",
            "SOMETHING",
            "NUMERIC",
            "NUMERIC_COMPLEX",
            "ALPHABETIC",
            "ALPHANUMERIC",
            "COMPLEX"
          ]
        },
        "passwordMinimumUpperCase": {
          "format": "int32",
          "description": "Minimum number of upper case letters required in the password. Only enforced when password_quality is COMPLEX.",
          "type": "integer"
        },
        "requirePasswordUnlock": {
          "enumDescriptions": [
            "Unspecified. Defaults to USE_DEFAULT_DEVICE_TIMEOUT.",
            "The timeout period is set to the device’s default.",
            "The timeout period is set to 24 hours."
          ],
          "type": "string",
          "description": "The length of time after a device or work profile is unlocked using a strong form of authentication (password, PIN, pattern) that it can be unlocked using any other authentication method (e.g. fingerprint, trust agents, face). After the specified time period elapses, only strong forms of authentication can be used to unlock the device or work profile.",
          "enum": [
            "REQUIRE_PASSWORD_UNLOCK_UNSPECIFIED",
            "USE_DEFAULT_DEVICE_TIMEOUT",
            "REQUIRE_EVERY_DAY"
          ]
        },
        "passwordScope": {
          "description": "The scope that the password requirement applies to.",
          "type": "string",
          "enumDescriptions": [
            "The scope is unspecified. The password requirements are applied to the work profile for work profile devices and the whole device for fully managed or dedicated devices.",
            "The password requirements are only applied to the device.",
            "The password requirements are only applied to the work profile."
          ],
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_DEVICE",
            "SCOPE_PROFILE"
          ]
        },
        "maximumFailedPasswordsForWipe": {
          "format": "int32",
          "description": "Number of incorrect device-unlock passwords that can be entered before a device is wiped. A value of 0 means there is no restriction.",
          "type": "integer"
        },
        "passwordExpirationTimeout": {
          "format": "google-duration",
          "type": "string",
          "description": "Password expiration timeout."
        },
        "passwordMinimumLetters": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum number of letters required in the password. Only enforced when password_quality is COMPLEX."
        }
      },
      "id": "PasswordRequirements",
      "description": "Requirements for the password used to unlock a device.",
      "type": "object"
    },
    "SignupUrl": {
      "type": "object",
      "description": "An enterprise signup URL.",
      "id": "SignupUrl",
      "properties": {
        "name": {
          "description": "The name of the resource. Use this value in the signupUrl field when calling enterprises.create to complete the enterprise signup flow.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "A URL where an enterprise admin can register their enterprise. The page can't be rendered in an iframe."
        }
      }
    },
    "SigninDetail": {
      "type": "object",
      "id": "SigninDetail",
      "description": "A resource containing sign in details for an enterprise.",
      "properties": {
        "signinUrl": {
          "type": "string",
          "description": "Sign-in URL for authentication when device is provisioned with a sign-in enrollment token. The sign-in endpoint should finish authentication flow with a URL in the form of https://enterprise.google.com/android/enroll?et= for a successful login, or https://enterprise.google.com/android/enroll/invalid for a failed login."
        },
        "allowPersonalUsage": {
          "enumDescriptions": [
            "Personal usage restriction is not specified",
            "Personal usage is allowed",
            "Personal usage is disallowed"
          ],
          "type": "string",
          "enum": [
            "ALLOW_PERSONAL_USAGE_UNSPECIFIED",
            "PERSONAL_USAGE_ALLOWED",
            "PERSONAL_USAGE_DISALLOWED"
          ],
          "description": "Controls whether personal usage is allowed on a device provisioned with this enrollment token.For company-owned devices: Enabling personal usage allows the user to set up a work profile on the device. Disabling personal usage requires the user provision the device as a fully managed device.For personally-owned devices: Enabling personal usage allows the user to set up a work profile on the device. Disabling personal usage will prevent the device from provisioning. Personal usage cannot be disabled on personally-owned device."
        },
        "qrCode": {
          "description": "A JSON string whose UTF-8 representation can be used to generate a QR code to enroll a device with this enrollment token. To enroll a device using NFC, the NFC record must contain a serialized java.util.Properties representation of the properties in the JSON. This is a read-only field generated by the server.",
          "type": "string"
        },
        "signinEnrollmentToken": {
          "description": "An enterprise wide enrollment token used to trigger custom sign-in flow. This is a read-only field generated by the server.",
          "type": "string"
        }
      }
    },
    "PowerManagementEvent": {
      "type": "object",
      "description": "A power management event.",
      "properties": {
        "batteryLevel": {
          "type": "number",
          "format": "float",
          "description": "For BATTERY_LEVEL_COLLECTED events, the battery level as a percentage."
        },
        "eventType": {
          "enumDescriptions": [
            "Unspecified. No events have this type.",
            "Battery level was measured.",
            "The device started charging.",
            "The device stopped charging.",
            "The device entered low-power mode.",
            "The device exited low-power mode.",
            "The device booted.",
            "The device shut down."
          ],
          "type": "string",
          "description": "Event type.",
          "enum": [
            "POWER_MANAGEMENT_EVENT_TYPE_UNSPECIFIED",
            "BATTERY_LEVEL_COLLECTED",
            "POWER_CONNECTED",
            "POWER_DISCONNECTED",
            "BATTERY_LOW",
            "BATTERY_OKAY",
            "BOOT_COMPLETED",
            "SHUTDOWN"
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The creation time of the event."
        }
      },
      "id": "PowerManagementEvent"
    },
    "PostureDetail": {
      "type": "object",
      "id": "PostureDetail",
      "description": "Additional details regarding the security posture of the device.",
      "properties": {
        "advice": {
          "items": {
            "$ref": "UserFacingMessage"
          },
          "description": "Corresponding admin-facing advice to mitigate this security risk and improve the security posture of the device.",
          "type": "array"
        },
        "securityRisk": {
          "enum": [
            "SECURITY_RISK_UNSPECIFIED",
            "UNKNOWN_OS",
            "COMPROMISED_OS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "SafetyNet detects that the device is running an unknown OS (basicIntegrity check succeeds but ctsProfileMatch fails).",
            "SafetyNet detects that the device is running a compromised OS (basicIntegrity check fails)."
          ],
          "description": "A specific security risk that negatively affects the security posture of the device."
        }
      }
    },
    "TelephonyInfo": {
      "type": "object",
      "id": "TelephonyInfo",
      "description": "Telephony information associated with a given SIM card on the device. Only supported on fully managed devices starting from Android API level 23.",
      "properties": {
        "phoneNumber": {
          "type": "string",
          "description": "The phone number associated with this SIM card."
        },
        "carrierName": {
          "type": "string",
          "description": "The carrier name associated with this SIM card."
        }
      }
    },
    "ProxyInfo": {
      "properties": {
        "pacUri": {
          "description": "The URI of the PAC script used to configure the proxy.",
          "type": "string"
        },
        "port": {
          "format": "int32",
          "type": "integer",
          "description": "The port of the direct proxy."
        },
        "excludedHosts": {
          "type": "array",
          "description": "For a direct proxy, the hosts for which the proxy is bypassed. The host names may contain wildcards such as *.example.com.",
          "items": {
            "type": "string"
          }
        },
        "host": {
          "type": "string",
          "description": "The host of the direct proxy."
        }
      },
      "id": "ProxyInfo",
      "description": "Configuration info for an HTTP proxy. For a direct proxy, set the host, port, and excluded_hosts fields. For a PAC script proxy, set the pac_uri field.",
      "type": "object"
    },
    "ManagedConfigurationTemplate": {
      "id": "ManagedConfigurationTemplate",
      "description": "The managed configurations template for the app, saved from the managed configurations iframe.",
      "properties": {
        "templateId": {
          "description": "The ID of the managed configurations template.",
          "type": "string"
        },
        "configurationVariables": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional, a map containing configuration variables defined for the configuration."
        }
      },
      "type": "object"
    },
    "KioskCustomization": {
      "properties": {
        "systemErrorWarnings": {
          "enumDescriptions": [
            "Unspecified, defaults to ERROR_AND_WARNINGS_MUTED.",
            "All system error dialogs such as crash and app not responding (ANR) are displayed.",
            "All system error dialogs, such as crash and app not responding (ANR) are blocked. When blocked, the system force-stops the app as if the user closes the app from the UI."
          ],
          "description": "Specifies whether system error dialogs for crashed or unresponsive apps are blocked in kiosk mode. When blocked, the system will force-stop the app as if the user chooses the \"close app\" option on the UI.",
          "enum": [
            "SYSTEM_ERROR_WARNINGS_UNSPECIFIED",
            "ERROR_AND_WARNINGS_ENABLED",
            "ERROR_AND_WARNINGS_MUTED"
          ],
          "type": "string"
        },
        "statusBar": {
          "enumDescriptions": [
            "Unspecified, defaults to INFO_AND_NOTIFICATIONS_DISABLED.",
            "System info and notifications are shown on the status bar in kiosk mode.Note: For this policy to take effect, the device's home button must be enabled using kioskCustomization.systemNavigation.",
            "System info and notifications are disabled in kiosk mode.",
            "Only system info is shown on the status bar."
          ],
          "enum": [
            "STATUS_BAR_UNSPECIFIED",
            "NOTIFICATIONS_AND_SYSTEM_INFO_ENABLED",
            "NOTIFICATIONS_AND_SYSTEM_INFO_DISABLED",
            "SYSTEM_INFO_ONLY"
          ],
          "description": "Specifies whether system info and notifications are disabled in kiosk mode.",
          "type": "string"
        },
        "deviceSettings": {
          "enumDescriptions": [
            "Unspecified, defaults to SETTINGS_ACCESS_ALLOWED.",
            "Access to the Settings app is allowed in kiosk mode.",
            "Access to the Settings app is not allowed in kiosk mode."
          ],
          "type": "string",
          "description": "Specifies whether the Settings app is allowed in kiosk mode.",
          "enum": [
            "DEVICE_SETTINGS_UNSPECIFIED",
            "SETTINGS_ACCESS_ALLOWED",
            "SETTINGS_ACCESS_BLOCKED"
          ]
        },
        "powerButtonActions": {
          "enumDescriptions": [
            "Unspecified, defaults to POWER_BUTTON_AVAILABLE.",
            "The power menu (e.g. Power off, Restart) is shown when a user long-presses the Power button of a device in kiosk mode.",
            "The power menu (e.g. Power off, Restart) is not shown when a user long-presses the Power button of a device in kiosk mode. Note: this may prevent users from turning off the device."
          ],
          "type": "string",
          "enum": [
            "POWER_BUTTON_ACTIONS_UNSPECIFIED",
            "POWER_BUTTON_AVAILABLE",
            "POWER_BUTTON_BLOCKED"
          ],
          "description": "Sets the behavior of a device in kiosk mode when a user presses and holds (long-presses) the Power button."
        },
        "systemNavigation": {
          "description": "Specifies which navigation features are enabled (e.g. Home, Overview buttons) in kiosk mode.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified, defaults to NAVIGATION_DISABLED.",
            "Home and overview buttons are enabled.",
            "The home and Overview buttons are not accessible.",
            "Only the home button is enabled."
          ],
          "enum": [
            "SYSTEM_NAVIGATION_UNSPECIFIED",
            "NAVIGATION_ENABLED",
            "NAVIGATION_DISABLED",
            "HOME_BUTTON_ONLY"
          ]
        }
      },
      "type": "object",
      "description": "Settings controlling the behavior of a device in kiosk mode. To enable kiosk mode, set kioskCustomLauncherEnabled to true or specify an app in the policy with installType KIOSK.",
      "id": "KioskCustomization"
    },
    "WipeAction": {
      "type": "object",
      "id": "WipeAction",
      "properties": {
        "preserveFrp": {
          "description": "Whether the factory-reset protection data is preserved on the device. This setting doesn’t apply to work profiles.",
          "type": "boolean"
        },
        "wipeAfterDays": {
          "type": "integer",
          "description": "Number of days the policy is non-compliant before the device or work profile is wiped. wipeAfterDays must be greater than blockAfterDays.",
          "format": "int32"
        }
      },
      "description": "An action to reset a fully managed device or delete a work profile. Note: blockAction must also be specified."
    },
    "ContactInfo": {
      "description": "Contact details for LaForge enterprises.",
      "id": "ContactInfo",
      "properties": {
        "euRepresentativeName": {
          "type": "string",
          "description": "The name of the EU representative."
        },
        "contactEmail": {
          "type": "string",
          "description": "Email address for a point of contact, which will be used to send important announcements related to managed Google Play."
        },
        "euRepresentativePhone": {
          "type": "string",
          "description": "The phone number of the EU representative. The phone number is validated but not verified."
        },
        "dataProtectionOfficerPhone": {
          "type": "string",
          "description": "The phone number of the data protection officer The phone number is validated but not verified."
        },
        "dataProtectionOfficerEmail": {
          "type": "string",
          "description": "The email of the data protection officer. The email is validated but not verified."
        },
        "euRepresentativeEmail": {
          "type": "string",
          "description": "The email of the EU representative. The email is validated but not verified."
        },
        "dataProtectionOfficerName": {
          "type": "string",
          "description": "The name of the data protection officer."
        }
      },
      "type": "object"
    },
    "HardwareStatus": {
      "type": "object",
      "description": "Hardware status. Temperatures may be compared to the temperature thresholds available in hardwareInfo to determine hardware health.",
      "properties": {
        "cpuUsages": {
          "items": {
            "format": "float",
            "type": "number"
          },
          "description": "CPU usages in percentage for each core available on the device. Usage is 0 for each unplugged core. Empty array implies that CPU usage is not supported in the system.",
          "type": "array"
        },
        "fanSpeeds": {
          "type": "array",
          "description": "Fan speeds in RPM for each fan on the device. Empty array means that there are no fans or fan speed is not supported on the system.",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "createTime": {
          "description": "The time the measurements were taken.",
          "type": "string",
          "format": "google-datetime"
        },
        "skinTemperatures": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "float"
          },
          "description": "Current device skin temperatures in Celsius."
        },
        "gpuTemperatures": {
          "type": "array",
          "description": "Current GPU temperatures in Celsius for each GPU on the device.",
          "items": {
            "format": "float",
            "type": "number"
          }
        },
        "batteryTemperatures": {
          "items": {
            "format": "float",
            "type": "number"
          },
          "type": "array",
          "description": "Current battery temperatures in Celsius for each battery on the device."
        },
        "cpuTemperatures": {
          "items": {
            "type": "number",
            "format": "float"
          },
          "type": "array",
          "description": "Current CPU temperatures in Celsius for each CPU on the device."
        }
      },
      "id": "HardwareStatus"
    },
    "ChoosePrivateKeyRule": {
      "type": "object",
      "description": "Controls apps' access to private keys. The rule determines which private key, if any, Android Device Policy grants to the specified app. Access is granted either when the app calls KeyChain.choosePrivateKeyAlias (https://developer.android.com/reference/android/security/KeyChain#choosePrivateKeyAlias%28android.app.Activity,%20android.security.KeyChainAliasCallback,%20java.lang.String[],%20java.security.Principal[],%20java.lang.String,%20int,%20java.lang.String%29) (or any overloads) to request a private key alias for a given URL, or for rules that are not URL-specific (that is, if urlPattern is not set, or set to the empty string or .*) on Android 11 and above, directly so that the app can call KeyChain.getPrivateKey (https://developer.android.com/reference/android/security/KeyChain#getPrivateKey%28android.content.Context,%20java.lang.String%29), without first having to call KeyChain.choosePrivateKeyAlias.When an app calls KeyChain.choosePrivateKeyAlias if more than one choosePrivateKeyRules matches, the last matching rule defines which key alias to return.",
      "id": "ChoosePrivateKeyRule",
      "properties": {
        "urlPattern": {
          "description": "The URL pattern to match against the URL of the request. If not set or empty, it matches all URLs. This uses the regular expression syntax of java.util.regex.Pattern.",
          "type": "string"
        },
        "privateKeyAlias": {
          "type": "string",
          "description": "The alias of the private key to be used."
        },
        "packageNames": {
          "description": "The package names to which this rule applies. The hash of the signing certificate for each app is verified against the hash provided by Play. If no package names are specified, then the alias is provided to all apps that call KeyChain.choosePrivateKeyAlias (https://developer.android.com/reference/android/security/KeyChain#choosePrivateKeyAlias%28android.app.Activity,%20android.security.KeyChainAliasCallback,%20java.lang.String[],%20java.security.Principal[],%20java.lang.String,%20int,%20java.lang.String%29) or any overloads (but not without calling KeyChain.choosePrivateKeyAlias, even on Android 11 and above). Any app with the same Android UID as a package specified here will have access when they call KeyChain.choosePrivateKeyAlias.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "SystemUpdateInfo": {
      "description": "Information about a potential pending system update.",
      "properties": {
        "updateStatus": {
[...]
