{
  "version_module": true,
  "revision": "20221019",
  "id": "androiddeviceprovisioning:v1",
  "documentationLink": "https://developers.google.com/zero-touch/",
  "servicePath": "",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "baseUrl": "https://androiddeviceprovisioning.googleapis.com/",
  "mtlsRootUrl": "https://androiddeviceprovisioning.mtls.googleapis.com/",
  "schemas": {
    "Device": {
      "description": "An Android or Chrome OS device registered for zero-touch enrollment.",
      "properties": {
        "claims": {
          "type": "array",
          "description": "Output only. The provisioning claims for a device. Devices claimed for zero-touch enrollment have a claim with the type `SECTION_TYPE_ZERO_TOUCH`. Call `partners.devices.unclaim` or `partners.devices.unclaimAsync` to remove the device from zero-touch enrollment.",
          "items": {
            "$ref": "DeviceClaim"
          },
          "readOnly": true
        },
        "configuration": {
          "type": "string",
          "description": "Not available to resellers."
        },
        "name": {
          "type": "string",
          "description": "Output only. The API resource name in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`. Assigned by the server.",
          "readOnly": true
        },
        "deviceId": {
          "readOnly": true,
          "description": "Output only. The ID of the device. Assigned by the server.",
          "type": "string",
          "format": "int64"
        },
        "deviceMetadata": {
          "description": "The metadata attached to the device. Structured as key-value pairs. To learn more, read [Device metadata](https://developers.google.com/zero-touch/guides/metadata).",
          "$ref": "DeviceMetadata"
        },
        "deviceIdentifier": {
          "description": "The hardware IDs that identify a manufactured device. To learn more, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers).",
          "$ref": "DeviceIdentifier"
        }
      },
      "id": "Device",
      "type": "object"
    },
    "Configuration": {
      "id": "Configuration",
      "properties": {
        "contactPhone": {
          "type": "string",
          "description": "Required. The telephone number that device users can call, using another device, to get help. Zero-touch enrollment shows this number to device users before device provisioning. Accepts numerals, spaces, the plus sign, hyphens, and parentheses."
        },
        "contactEmail": {
          "type": "string",
          "description": "Required. The email address that device users can contact to get help. Zero-touch enrollment shows this email address to device users before device provisioning. The value is validated on input."
        },
        "configurationId": {
          "format": "int64",
          "description": "Output only. The ID of the configuration. Assigned by the server.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. Assigned by the server."
        },
        "isDefault": {
          "description": "Required. Whether this is the default configuration that zero-touch enrollment applies to any new devices the organization purchases in the future. Only one customer configuration can be the default. Setting this value to `true`, changes the previous default configuration's `isDefault` value to `false`.",
          "type": "boolean"
        },
        "companyName": {
          "description": "Required. The name of the organization. Zero-touch enrollment shows this organization name to device users during device provisioning.",
          "type": "string"
        },
        "customMessage": {
          "type": "string",
          "description": "A message, containing one or two sentences, to help device users get help or give them more details about what’s happening to their device. Zero-touch enrollment shows this message before the device is provisioned."
        },
        "dpcExtras": {
          "description": "The JSON-formatted EMM provisioning extras that are passed to the DPC.",
          "type": "string"
        },
        "configurationName": {
          "type": "string",
          "description": "Required. A short name that describes the configuration's purpose. For example, _Sales team_ or _Temporary employees_. The zero-touch enrollment portal displays this name to IT admins."
        },
        "dpcResourcePath": {
          "type": "string",
          "description": "Required. The resource name of the selected DPC (device policy controller) in the format `customers/[CUSTOMER_ID]/dpcs/*`. To list the supported DPCs, call `customers.dpcs.list`."
        }
      },
      "description": "A configuration collects the provisioning options for Android devices. Each configuration combines the following: * The EMM device policy controller (DPC) installed on the devices. * EMM policies enforced on the devices. * Metadata displayed on the device to help users during setup. Customers can add as many configurations as they need. However, zero-touch enrollment works best when a customer sets a default configuration that's applied to any new devices the organization purchases.",
      "type": "object"
    },
    "DeviceClaim": {
      "type": "object",
      "properties": {
        "ownerCompanyId": {
          "format": "int64",
          "type": "string",
          "description": "The ID of the Customer that purchased the Android device."
        },
        "vacationModeExpireTime": {
          "description": "The timestamp when the device will exit ‘vacation mode’. This value is present iff the device is in 'vacation mode'.",
          "format": "google-datetime",
          "type": "string"
        },
        "sectionType": {
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "type": "string",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "readOnly": true,
          "description": "Output only. The type of claim made on the device."
        },
        "additionalService": {
          "description": "The Additional service registered for the device.",
          "enum": [
            "ADDITIONAL_SERVICE_UNSPECIFIED",
            "DEVICE_PROTECTION"
          ],
          "type": "string",
          "enumDescriptions": [
            "No additional service.",
            "Device protection service, also known as Android Enterprise Essentials. To claim a device with the device protection service you must enroll with the partnership team."
          ]
        },
        "googleWorkspaceCustomerId": {
          "description": "The ID of the Google Workspace account that owns the Chrome OS device.",
          "type": "string"
        },
        "vacationModeStartTime": {
          "description": "The timestamp when the device was put into ‘vacation mode’. This value is present iff the device is in 'vacation mode'.",
          "type": "string",
          "format": "google-datetime"
        },
        "resellerId": {
          "type": "string",
          "format": "int64",
          "description": "The ID of the reseller that claimed the device."
        }
      },
      "description": "A record of a device claimed by a reseller for a customer. Devices claimed for zero-touch enrollment have a claim with the type `SECTION_TYPE_ZERO_TOUCH`. To learn more, read [Claim devices for customers](/zero-touch/guides/how-it-works#claim).",
      "id": "DeviceClaim"
    },
    "OperationPerDevice": {
      "properties": {
        "unclaim": {
          "$ref": "PartnerUnclaim",
          "description": "A copy of the original device-unclaim request received by the server."
        },
        "updateMetadata": {
          "$ref": "UpdateMetadataArguments",
          "description": "A copy of the original metadata-update request received by the server."
        },
        "result": {
          "$ref": "PerDeviceStatusInBatch",
          "description": "The processing result for each device."
        },
        "claim": {
          "$ref": "PartnerClaim",
          "description": "A copy of the original device-claim request received by the server."
        }
      },
      "id": "OperationPerDevice",
      "type": "object",
      "description": "A task for each device in the operation. Corresponds to each device change in the request."
    },
    "CustomerListCustomersResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token used to access the next page of results. Omitted if no further results are available."
        },
        "customers": {
          "type": "array",
          "items": {
            "$ref": "Company"
          },
          "description": "The customer accounts the calling user is a member of."
        }
      },
      "description": "Response message for listing my customers.",
      "id": "CustomerListCustomersResponse",
      "type": "object"
    },
    "DeviceMetadata": {
      "properties": {
        "entries": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Metadata entries recorded as key-value pairs.",
          "type": "object"
        }
      },
      "id": "DeviceMetadata",
      "description": "Metadata entries that can be attached to a `Device`. To learn more, read [Device metadata](https://developers.google.com/zero-touch/guides/metadata).",
      "type": "object"
    },
    "ClaimDeviceRequest": {
      "description": "Request message to claim a device on behalf of a customer.",
      "id": "ClaimDeviceRequest",
      "type": "object",
      "properties": {
        "deviceMetadata": {
          "description": "Optional. The metadata to attach to the device.",
          "$ref": "DeviceMetadata"
        },
        "preProvisioningToken": {
          "type": "string",
          "description": "Optional. Must and can only be set for Chrome OS devices."
        },
        "googleWorkspaceCustomerId": {
          "description": "The Google Workspace customer ID.",
          "type": "string"
        },
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. Required. The device identifier of the device to claim."
        },
        "sectionType": {
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "description": "Required. The section type of the device's provisioning record.",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "type": "string"
        },
        "customerId": {
          "format": "int64",
          "description": "The ID of the customer for whom the device is being claimed.",
          "type": "string"
        }
      }
    },
    "CustomerUnclaimDeviceRequest": {
      "id": "CustomerUnclaimDeviceRequest",
      "description": "Request message for customer to unclaim a device.",
      "properties": {
        "device": {
          "description": "Required. The device to unclaim. There are custom validations in UnclaimDeviceRequestValidator.",
          "$ref": "DeviceReference"
        }
      },
      "type": "object"
    },
    "ListCustomersResponse": {
      "id": "ListCustomersResponse",
      "properties": {
        "customers": {
          "description": "List of customers related to this reseller partner.",
          "type": "array",
          "items": {
            "$ref": "Company"
          }
        },
        "totalSize": {
          "type": "integer",
          "description": "The total count of items in the list irrespective of pagination.",
          "format": "int32"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Omitted if no further results are available."
        }
      },
      "description": "Response message of all customers related to this partner.",
      "type": "object"
    },
    "ListVendorsResponse": {
      "id": "ListVendorsResponse",
      "properties": {
        "totalSize": {
          "format": "int32",
          "description": "The total count of items in the list irrespective of pagination.",
          "type": "integer"
        },
        "vendors": {
          "type": "array",
          "description": "List of vendors of the reseller partner. Fields `name`, `companyId` and `companyName` are populated to the Company object.",
          "items": {
            "$ref": "Company"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Omitted if no further results are available.",
          "type": "string"
        }
      },
      "description": "Response message to list vendors of the partner.",
      "type": "object"
    },
    "ClaimDevicesRequest": {
      "id": "ClaimDevicesRequest",
      "description": "Request to claim devices asynchronously in batch. Claiming a device adds the device to zero-touch enrollment and shows the device in the customer's view of the portal.",
      "type": "object",
      "properties": {
        "claims": {
          "items": {
            "$ref": "PartnerClaim"
          },
          "type": "array",
          "description": "Required. A list of device claims."
        }
      }
    },
    "PartnerUnclaim": {
      "description": "Identifies one unclaim request.",
      "id": "PartnerUnclaim",
      "properties": {
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. Device identifier of the device."
        },
        "deviceId": {
          "format": "int64",
          "type": "string",
          "description": "Required. Device ID of the device."
        },
        "sectionType": {
          "type": "string",
          "description": "Required. The section type of the device's provisioning record.",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ]
        },
        "vacationModeDays": {
          "type": "integer",
          "description": "Optional. The duration of the vacation unlock starting from when the request is processed. (1 day is treated as 24 hours)",
          "format": "int32"
        },
        "vacationModeExpireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. The expiration time of the vacation unlock."
        }
      },
      "type": "object"
    },
    "FindDevicesByDeviceIdentifierResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token used to access the next page of results. Omitted if no further results are available.",
          "type": "string"
        },
        "totalSize": {
          "type": "integer",
          "description": "The total count of items in the list irrespective of pagination.",
          "format": "int32"
        },
        "devices": {
          "type": "array",
          "items": {
            "$ref": "Device"
          },
          "description": "Found devices."
        }
      },
      "description": "Response containing found devices.",
      "type": "object",
      "id": "FindDevicesByDeviceIdentifierResponse"
    },
    "CreateCustomerRequest": {
      "type": "object",
      "description": "Request message to create a customer.",
      "id": "CreateCustomerRequest",
      "properties": {
        "customer": {
          "description": "Required. The company data to populate the new customer. Must contain a value for `companyName` and at least one `owner_email` that's associated with a Google Account. The values for `companyId` and `name` must be empty.",
          "$ref": "Company"
        }
      }
    },
    "UnclaimDevicesRequest": {
      "id": "UnclaimDevicesRequest",
      "description": "Request to unclaim devices asynchronously in batch.",
      "type": "object",
      "properties": {
        "unclaims": {
          "type": "array",
          "items": {
            "$ref": "PartnerUnclaim"
          },
          "description": "Required. The list of devices to unclaim."
        }
      }
    },
    "ListVendorCustomersResponse": {
      "id": "ListVendorCustomersResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Omitted if no further results are available.",
          "type": "string"
        },
        "totalSize": {
          "format": "int32",
          "description": "The total count of items in the list irrespective of pagination.",
          "type": "integer"
        },
        "customers": {
          "description": "List of customers of the vendor.",
          "items": {
            "$ref": "Company"
          },
          "type": "array"
        }
      },
      "description": "Response message to list customers of the vendor.",
      "type": "object"
    },
    "FindDevicesByOwnerRequest": {
      "description": "Request to find devices by customers.",
      "properties": {
        "limit": {
          "type": "string",
          "format": "int64",
          "description": "Required. The maximum number of devices to show in a page of results. Must be between 1 and 100 inclusive."
        },
        "customerId": {
          "description": "The list of customer IDs to search for.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "sectionType": {
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "description": "Required. The section type of the device's provisioning record.",
          "type": "string",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ]
        },
        "googleWorkspaceCustomerId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of IDs of Google Workspace accounts to search for."
        },
        "pageToken": {
          "description": "A token specifying which result page to return.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "FindDevicesByOwnerRequest"
    },
    "CustomerListDevicesResponse": {
      "id": "CustomerListDevicesResponse",
      "properties": {
        "devices": {
          "description": "The customer's devices.",
          "items": {
            "$ref": "Device"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token used to access the next page of results. Omitted if no further results are available.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message of customer's liting devices."
    },
    "DeviceIdentifier": {
      "type": "object",
      "description": "Encapsulates hardware and product IDs to identify a manufactured device. To understand requirements on identifier sets, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers).",
      "properties": {
        "chromeOsAttestedDeviceId": {
          "type": "string",
          "description": "An identifier provided by OEMs, carried through the production and sales process. Only applicable to Chrome OS devices."
        },
        "model": {
          "description": "The device model's name. Allowed values are listed in [Android models](/zero-touch/resources/manufacturer-names#model-names) and [Chrome OS models](https://support.google.com/chrome/a/answer/10130175?hl=en#identify_compatible).",
          "type": "string"
        },
        "manufacturer": {
          "type": "string",
          "description": "The device manufacturer’s name. Matches the device's built-in value returned from `android.os.Build.MANUFACTURER`. Allowed values are listed in [Android manufacturers](/zero-touch/resources/manufacturer-names#manufacturers-names)."
        },
        "meid": {
          "description": "The device’s MEID number.",
          "type": "string"
        },
        "serialNumber": {
          "description": "The manufacturer's serial number for the device. This value might not be unique across different device models.",
          "type": "string"
        },
        "imei": {
          "type": "string",
          "description": "The device’s IMEI number. Validated on input."
        },
        "deviceType": {
          "enumDescriptions": [
            "Device type is not specified.",
            "Android device",
            "Chrome OS device"
          ],
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "DEVICE_TYPE_ANDROID",
            "DEVICE_TYPE_CHROME_OS"
          ],
          "type": "string",
          "description": "The type of the device"
        }
      },
      "id": "DeviceIdentifier"
    },
    "UpdateDeviceMetadataRequest": {
      "properties": {
        "deviceMetadata": {
          "$ref": "DeviceMetadata",
          "description": "Required. The metadata to attach to the device."
        }
      },
      "description": "Request to set metadata for a device.",
      "type": "object",
      "id": "UpdateDeviceMetadataRequest"
    },
    "FindDevicesByDeviceIdentifierRequest": {
      "properties": {
        "pageToken": {
          "type": "string",
          "description": "A token specifying which result page to return."
        },
        "limit": {
          "format": "int64",
          "description": "Required. The maximum number of devices to show in a page of results. Must be between 1 and 100 inclusive.",
          "type": "string"
        },
        "deviceIdentifier": {
          "description": "Required. Required. The device identifier to search for.",
          "$ref": "DeviceIdentifier"
        }
      },
      "type": "object",
      "id": "FindDevicesByDeviceIdentifierRequest",
      "description": "Request to find devices."
    },
    "CustomerApplyConfigurationRequest": {
      "properties": {
        "configuration": {
          "type": "string",
          "description": "Required. The configuration applied to the device in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`."
        },
        "device": {
          "$ref": "DeviceReference",
          "description": "Required. The device the configuration is applied to. There are custom validations in ApplyConfigurationRequestValidator"
        }
      },
      "type": "object",
      "id": "CustomerApplyConfigurationRequest",
      "description": "Request message for customer to assign a configuration to device."
    },
    "CustomerRemoveConfigurationRequest": {
      "id": "CustomerRemoveConfigurationRequest",
      "properties": {
        "device": {
          "description": "Required. The device to remove the configuration from. There are custom validations in RemoveConfigurationRequestValidator",
          "$ref": "DeviceReference"
        }
      },
      "type": "object",
      "description": "Request message for customer to remove the configuration from device."
    },
    "DevicesLongRunningOperationMetadata": {
      "type": "object",
      "id": "DevicesLongRunningOperationMetadata",
      "description": "Tracks the status of a long-running operation to asynchronously update a batch of reseller metadata attached to devices. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
      "properties": {
        "devicesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of metadata updates in the operation. This might be different from the number of updates in the request if the API can't parse some of the updates."
        },
        "processingStatus": {
          "type": "string",
          "enumDescriptions": [
            "Invalid code. Shouldn't be used.",
            "Pending.",
            "In progress.",
            "Processed. This doesn't mean all items were processed successfully, you should check the `response` field for the result of every item."
          ],
          "description": "The processing status of the operation.",
          "enum": [
            "BATCH_PROCESS_STATUS_UNSPECIFIED",
            "BATCH_PROCESS_PENDING",
            "BATCH_PROCESS_IN_PROGRESS",
            "BATCH_PROCESS_PROCESSED"
          ]
        },
        "progress": {
          "description": "The processing progress of the operation. Measured as a number from 0 to 100. A value of 10O doesn't always mean the operation completed—check for the inclusion of a `done` field.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "PartnerClaim": {
      "type": "object",
      "id": "PartnerClaim",
      "properties": {
        "deviceMetadata": {
          "$ref": "DeviceMetadata",
          "description": "Required. The metadata to attach to the device at claim."
        },
        "preProvisioningToken": {
          "description": "Optional. Must and can only be set for Chrome OS devices.",
          "type": "string"
        },
        "customerId": {
          "description": "The ID of the customer for whom the device is being claimed.",
          "type": "string",
          "format": "int64"
        },
        "deviceIdentifier": {
          "description": "Required. Required. Device identifier of the device.",
          "$ref": "DeviceIdentifier"
        },
        "sectionType": {
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "description": "Required. The section type of the device's provisioning record."
        },
        "googleWorkspaceCustomerId": {
          "description": "The Google Workspace customer ID.",
          "type": "string"
        }
      },
      "description": "Identifies one claim request."
    },
    "CustomerListConfigurationsResponse": {
      "properties": {
        "configurations": {
          "description": "The configurations.",
          "type": "array",
          "items": {
            "$ref": "Configuration"
          }
        }
      },
      "type": "object",
      "id": "CustomerListConfigurationsResponse",
      "description": "Response message of customer's listing configuration."
    },
    "DevicesLongRunningOperationResponse": {
      "properties": {
        "perDeviceStatus": {
          "items": {
            "$ref": "OperationPerDevice"
          },
          "type": "array",
          "description": "The processing status for each device in the operation. One `PerDeviceStatus` per device. The list order matches the items in the original request."
        },
        "successCount": {
          "description": "A summary of how many items in the operation the server processed successfully. Updated as the operation progresses.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "DevicesLongRunningOperationResponse",
      "type": "object",
      "description": "Tracks the status of a long-running operation to claim, unclaim, or attach metadata to devices. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations)."
    },
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "DeviceReference": {
      "properties": {
        "deviceId": {
          "format": "int64",
          "description": "The ID of the device.",
          "type": "string"
        },
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "The hardware IDs of the device."
        }
      },
      "id": "DeviceReference",
      "description": "A `DeviceReference` is an API abstraction that lets you supply a _device_ argument to a method using one of the following identifier types: * A numeric API resource ID. * Real-world hardware IDs, such as IMEI number, belonging to the manufactured device. Methods that operate on devices take a `DeviceReference` as a parameter type because it's more flexible for the caller. To learn more about device identifiers, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers).",
      "type": "object"
    },
    "ClaimDeviceResponse": {
      "properties": {
        "deviceName": {
          "type": "string",
          "description": "The resource name of the device in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`."
        },
        "deviceId": {
          "type": "string",
          "description": "The device ID of the claimed device.",
          "format": "int64"
        }
      },
      "id": "ClaimDeviceResponse",
      "description": "Response message containing device id of the claim.",
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "type": "object",
          "description": "This field will contain a `DevicesLongRunningOperationResponse` object if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "This field will contain a `DevicesLongRunningOperationMetadata` object if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "This field will always be not set if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`. In this case, error information for each device is set in `response.perDeviceStatus.result.status`.",
          "$ref": "Status"
        }
      }
    },
    "CustomerListDpcsResponse": {
      "description": "Response message of customer's listing DPCs.",
      "id": "CustomerListDpcsResponse",
      "properties": {
        "dpcs": {
          "items": {
            "$ref": "Dpc"
          },
          "description": "The list of DPCs available to the customer that support zero-touch enrollment.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "UpdateDeviceMetadataInBatchRequest": {
      "description": "Request to update device metadata in batch.",
      "properties": {
        "updates": {
          "type": "array",
          "items": {
            "$ref": "UpdateMetadataArguments"
          },
          "description": "Required. The list of metadata updates."
        }
      },
      "id": "UpdateDeviceMetadataInBatchRequest",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "UnclaimDeviceRequest": {
      "id": "UnclaimDeviceRequest",
      "type": "object",
      "properties": {
        "deviceId": {
          "description": "Required. The device ID returned by `ClaimDevice`.",
          "format": "int64",
          "type": "string"
        },
        "sectionType": {
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "description": "Required. The section type of the device's provisioning record.",
          "type": "string",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ]
        },
        "vacationModeDays": {
          "description": "The duration of the vacation unlock starting from when the request is processed. (1 day is treated as 24 hours)",
          "type": "integer",
          "format": "int32"
        },
        "vacationModeExpireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The expiration time of the vacation unlock."
        },
        "deviceIdentifier": {
          "description": "Required. The device identifier you used when you claimed this device.",
          "$ref": "DeviceIdentifier"
        }
      },
      "description": "Request message to unclaim a device."
    },
    "UpdateMetadataArguments": {
      "type": "object",
      "description": "Identifies metadata updates to one device.",
      "id": "UpdateMetadataArguments",
      "properties": {
        "deviceMetadata": {
          "$ref": "DeviceMetadata",
          "description": "Required. The metadata to update."
        },
        "deviceId": {
          "type": "string",
          "description": "Required. Device ID of the device.",
          "format": "int64"
        },
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. Device identifier."
        }
      }
    },
    "PerDeviceStatusInBatch": {
      "type": "object",
      "id": "PerDeviceStatusInBatch",
      "description": "Captures the processing status for each device in the operation.",
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "If processing fails, a developer message explaining what went wrong."
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "Invalid code. Shouldn't be used.",
            "Unknown error. We don't expect this error to occur here.",
            "Other error. We know/expect this error, but there's no defined error code for the error.",
            "Success.",
            "Permission denied.",
            "Invalid device identifier.",
            "Invalid section type.",
            "This section is claimed by another company.",
            "Invalid pre-provisioning token.",
            "Revoked pre-provisioning token."
          ],
          "enum": [
            "SINGLE_DEVICE_STATUS_UNSPECIFIED",
            "SINGLE_DEVICE_STATUS_UNKNOWN_ERROR",
            "SINGLE_DEVICE_STATUS_OTHER_ERROR",
            "SINGLE_DEVICE_STATUS_SUCCESS",
            "SINGLE_DEVICE_STATUS_PERMISSION_DENIED",
            "SINGLE_DEVICE_STATUS_INVALID_DEVICE_IDENTIFIER",
            "SINGLE_DEVICE_STATUS_INVALID_SECTION_TYPE",
            "SINGLE_DEVICE_STATUS_SECTION_NOT_YOURS",
            "SINGLE_DEVICE_STATUS_INVALID_TOKEN",
            "SINGLE_DEVICE_STATUS_REVOKED_TOKEN"
          ],
          "description": "The result status of the device after processing."
        },
        "errorIdentifier": {
          "description": "If processing fails, the error type.",
          "type": "string"
        },
        "deviceId": {
          "description": "If processing succeeds, the device ID of the Android device.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "Company": {
      "properties": {
        "googleWorkspaceAccount": {
          "description": "Output only. The Google Workspace account associated with this customer. Only used for customer Companies.",
          "$ref": "GoogleWorkspaceAccount",
          "readOnly": true
        },
        "skipWelcomeEmail": {
          "type": "boolean",
          "description": "Input only. If set to true, welcome email will not be sent to the customer. It is recommended to skip the welcome email if devices will be claimed with additional DEVICE_PROTECTION service, as the customer will receive separate emails at device claim time. This field is ignored if this is not a Zero-touch customer."
        },
        "languageCode": {
          "description": "Input only. The preferred locale of the customer represented as a BCP47 language code. This field is validated on input and requests containing unsupported language codes will be rejected. Supported language codes: Arabic (ar) Chinese (Hong Kong) (zh-HK) Chinese (Simplified) (zh-CN) Chinese (Traditional) (zh-TW) Czech (cs) Danish (da) Dutch (nl) English (UK) (en-GB) English (US) (en-US) Filipino (fil) Finnish (fi) French (fr) German (de) Hebrew (iw) Hindi (hi) Hungarian (hu) Indonesian (id) Italian (it) Japanese (ja) Korean (ko) Norwegian (Bokmal) (no) Polish (pl) Portuguese (Brazil) (pt-BR) Portuguese (Portugal) (pt-PT) Russian (ru) Spanish (es) Spanish (Latin America) (es-419) Swedish (sv) Thai (th) Turkish (tr) Ukrainian (uk) Vietnamese (vi)",
          "type": "string"
        },
        "ownerEmails": {
          "type": "array",
          "description": "Required. Input only. Email address of customer's users in the owner role. At least one `owner_email` is required. Owners share the same access as admins but can also add, delete, and edit your organization's portal users.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The API resource name of the company. The resource name is one of the following formats: * `partners/[PARTNER_ID]/customers/[CUSTOMER_ID]` * `partners/[PARTNER_ID]/vendors/[VENDOR_ID]` * `partners/[PARTNER_ID]/vendors/[VENDOR_ID]/customers/[CUSTOMER_ID]` Assigned by the server."
        },
        "companyId": {
          "description": "Output only. The ID of the company. Assigned by the server.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "termsStatus": {
          "description": "Output only. Whether any user from the company has accepted the latest Terms of Service (ToS). See TermsStatus.",
          "enumDescriptions": [
            "Default value. This value should never be set if the enum is present.",
            "None of the company's users have accepted the ToS.",
            "One (or more) of the company's users has accepted the ToS.",
            "None of the company's users has accepted the current ToS but at least one user accepted a previous ToS."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "TERMS_STATUS_UNSPECIFIED",
            "TERMS_STATUS_NOT_ACCEPTED",
            "TERMS_STATUS_ACCEPTED",
            "TERMS_STATUS_STALE"
          ]
        },
        "adminEmails": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Email address of customer's users in the admin role. Each email address must be associated with a Google Account."
        },
        "companyName": {
          "type": "string",
          "description": "Required. The name of the company. For example _XYZ Corp_. Displayed to the company's employees in the zero-touch enrollment portal."
        }
      },
      "type": "object",
      "description": "A reseller, vendor, or customer in the zero-touch reseller and customer APIs.",
      "id": "Company"
    },
    "Dpc": {
      "id": "Dpc",
      "description": "An EMM's DPC ([device policy controller](http://developer.android.com/work/dpc/build-dpc.html)). Zero-touch enrollment installs a DPC (listed in the `Configuration`) on a device to maintain the customer's mobile policies. All the DPCs listed by the API support zero-touch enrollment and are available in Google Play.",
      "type": "object",
      "properties": {
        "packageName": {
          "description": "Output only. The DPC's Android application ID that looks like a Java package name. Zero-touch enrollment installs the DPC app onto a device using this identifier.",
          "readOnly": true,
          "type": "string"
        },
        "dpcName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The title of the DPC app in Google Play. For example, _Google Apps Device Policy_. Useful in an application's user interface."
        },
        "name": {
          "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/dpcs/[DPC_ID]`. Assigned by the server. To maintain a reference to a DPC across customer accounts, persist and match the last path component (`DPC_ID`).",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "FindDevicesByOwnerResponse": {
      "id": "FindDevicesByOwnerResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token used to access the next page of results. Omitted if no further results are available.",
          "type": "string"
        },
        "devices": {
          "type": "array",
          "items": {
            "$ref": "Device"
          },
          "description": "The customer's devices."
        },
        "totalSize": {
          "description": "The total count of items in the list irrespective of pagination.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Response containing found devices."
    },
    "GoogleWorkspaceAccount": {
      "type": "object",
      "description": "A Google Workspace customer.",
      "id": "GoogleWorkspaceAccount",
      "properties": {
        "customerId": {
          "type": "string",
          "description": "Required. The customer ID."
        },
        "preProvisioningTokens": {
          "description": "Output only. The pre-provisioning tokens previously used to claim devices.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    }
  },
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    }
  },
  "description": "Automates Android zero-touch enrollment for device resellers, customers, and EMMs.",
  "resources": {
    "operations": {
      "methods": {
        "get": {
          "id": "androiddeviceprovisioning.operations.get",
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "description": "The name of the operation resource.",
              "pattern": "^operations/.*$",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "Operation"
          },
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/operations/{operationsId}"
        }
      }
    },
    "customers": {
      "methods": {
        "list": {
          "path": "v1/customers",
          "description": "Lists the user's customer accounts.",
          "httpMethod": "GET",
          "parameterOrder": [],
          "id": "androiddeviceprovisioning.customers.list",
          "parameters": {
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "The maximum number of customers to show in a page of results. A number between 1 and 100 (inclusive).",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A token specifying which result page to return. This field has custom validations in ListCustomersRequestValidator"
            }
          },
          "response": {
            "$ref": "CustomerListCustomersResponse"
          },
          "flatPath": "v1/customers"
        }
      },
      "resources": {
        "dpcs": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "path": "v1/{+parent}/dpcs",
              "parameters": {
                "parent": {
                  "description": "Required. The customer that can use the DPCs in configurations. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "CustomerListDpcsResponse"
              },
              "description": "Lists the DPCs (device policy controllers) that support zero-touch enrollment.",
              "id": "androiddeviceprovisioning.customers.dpcs.list",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/customers/{customersId}/dpcs"
            }
          }
        },
        "configurations": {
          "methods": {
            "delete": {
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
              "description": "Deletes an unused configuration. The API call fails if the customer has devices with the configuration applied.",
              "id": "androiddeviceprovisioning.customers.configurations.delete",
              "path": "v1/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The configuration to delete. An API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. If the configuration is applied to any devices, the API call fails.",
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+/configurations/[^/]+$"
                }
              }
            },
            "list": {
              "httpMethod": "GET",
              "path": "v1/{+parent}/configurations",
              "response": {
                "$ref": "CustomerListConfigurationsResponse"
              },
              "flatPath": "v1/customers/{customersId}/configurations",
              "id": "androiddeviceprovisioning.customers.configurations.list",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists a customer's configurations.",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "description": "Required. The customer that manages the listed configurations. An API resource name in the format `customers/[CUSTOMER_ID]`."
                }
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^customers/[^/]+/configurations/[^/]+$",
                  "location": "path",
                  "description": "Required. The configuration to get. An API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`."
                }
              },
              "response": {
                "$ref": "Configuration"
              },
              "httpMethod": "GET",
              "description": "Gets the details of a configuration.",
              "path": "v1/{+name}",
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
              "id": "androiddeviceprovisioning.customers.configurations.get",
              "parameterOrder": [
                "name"
              ]
            },
            "patch": {
              "request": {
                "$ref": "Configuration"
              },
              "response": {
                "$ref": "Configuration"
              },
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/configurations/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. Assigned by the server.",
                  "location": "path"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Required. The field mask applied to the target `Configuration` before updating the fields. To learn more about using field masks, read [FieldMask](/protocol-buffers/docs/reference/google.protobuf#fieldmask) in the Protocol Buffers documentation."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "httpMethod": "PATCH",
              "description": "Updates a configuration's field values.",
              "id": "androiddeviceprovisioning.customers.configurations.patch"
            },
            "create": {
              "parameters": {
                "parent": {
                  "description": "Required. The customer that manages the configuration. An API resource name in the format `customers/[CUSTOMER_ID]`. This field has custom validation in CreateConfigurationRequestValidator",
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v1/customers/{customersId}/configurations",
              "id": "androiddeviceprovisioning.customers.configurations.create",
              "httpMethod": "POST",
              "description": "Creates a new configuration. Once created, a customer can apply the configuration to devices.",
              "request": {
                "$ref": "Configuration"
              },
              "path": "v1/{+parent}/configurations",
              "response": {
                "$ref": "Configuration"
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "devices": {
          "methods": {
            "unclaim": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The customer managing the device. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "type": "string",
                  "pattern": "^customers/[^/]+$"
                }
              },
              "description": "Unclaims a device from a customer and removes it from zero-touch enrollment. After removing a device, a customer must contact their reseller to register the device into zero-touch enrollment again.",
              "request": {
                "$ref": "CustomerUnclaimDeviceRequest"
              },
              "flatPath": "v1/customers/{customersId}/devices:unclaim",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "path": "v1/{+parent}/devices:unclaim",
              "id": "androiddeviceprovisioning.customers.devices.unclaim",
              "response": {
                "$ref": "Empty"
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "type": "string",
                  "description": "Required. The device to get. An API resource name in the format `customers/[CUSTOMER_ID]/devices/[DEVICE_ID]`."
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1/customers/{customersId}/devices/{devicesId}",
              "response": {
                "$ref": "Device"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "androiddeviceprovisioning.customers.devices.get",
              "description": "Gets the details of a device.",
              "path": "v1/{+name}"
            },
            "list": {
              "description": "Lists a customer's devices.",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "id": "androiddeviceprovisioning.customers.devices.list",
              "parameters": {
                "pageSize": {
                  "type": "string",
                  "location": "query",
                  "format": "int64",
                  "description": "The maximum number of devices to show in a page of results. Must be between 1 and 100 inclusive."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A token specifying which result page to return."
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The customer managing the devices. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "required": true,
                  "pattern": "^customers/[^/]+$"
                }
              },
              "response": {
                "$ref": "CustomerListDevicesResponse"
              },
              "path": "v1/{+parent}/devices",
              "flatPath": "v1/customers/{customersId}/devices"
            },
            "removeConfiguration": {
              "response": {
                "$ref": "Empty"
              },
              "id": "androiddeviceprovisioning.customers.devices.removeConfiguration",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The customer managing the device in the format `customers/[CUSTOMER_ID]`.",
                  "type": "string"
                }
              },
              "description": "Removes a configuration from device.",
              "request": {
                "$ref": "CustomerRemoveConfigurationRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/devices:removeConfiguration",
              "flatPath": "v1/customers/{customersId}/devices:removeConfiguration"
            },
            "applyConfiguration": {
              "request": {
                "$ref": "CustomerApplyConfigurationRequest"
              },
              "path": "v1/{+parent}/devices:applyConfiguration",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "description": "Applies a Configuration to the device to register the device for zero-touch enrollment. After applying a configuration to a device, the device automatically provisions itself on first boot, or next factory reset.",
              "flatPath": "v1/customers/{customersId}/devices:applyConfiguration",
              "id": "androiddeviceprovisioning.customers.devices.applyConfiguration",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "description": "Required. The customer managing the device. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "required": true
                }
              }
            }
          }
        }
      }
    },
    "partners": {
      "resources": {
        "customers": {
          "methods": {
            "list": {
              "id": "androiddeviceprovisioning.partners.customers.list",
              "flatPath": "v1/partners/{partnersId}/customers",
              "response": {
                "$ref": "ListCustomersResponse"
              },
              "path": "v1/partners/{+partnerId}/customers",
              "description": "Lists the customers that are enrolled to the reseller identified by the `partnerId` argument. This list includes customers that the reseller created and customers that enrolled themselves using the portal.",
              "httpMethod": "GET",
              "parameterOrder": [
                "partnerId"
              ],
              "parameters": {
                "partnerId": {
                  "required": true,
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "description": "Required. The ID of the reseller partner.",
                  "format": "int64"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A token identifying a page of results returned by the server.",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of results to be returned. If not specified or 0, all the records are returned.",
                  "format": "int32",
                  "type": "integer"
                }
              }
            },
            "create": {
              "flatPath": "v1/partners/{partnersId}/customers",
              "request": {
                "$ref": "CreateCustomerRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "path": "v1/{+parent}/customers",
              "response": {
                "$ref": "Company"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent resource ID in the format `partners/[PARTNER_ID]` that identifies the reseller.",
                  "pattern": "^partners/[^/]+$",
                  "type": "string"
                }
              },
              "description": "Creates a customer for zero-touch enrollment. After the method returns successfully, admin and owner roles can manage devices and EMM configs by calling API methods or using their zero-touch enrollment portal. The customer receives an email that welcomes them to zero-touch enrollment and explains how to sign into the portal.",
              "id": "androiddeviceprovisioning.partners.customers.create"
            }
          }
        },
        "vendors": {
          "resources": {
            "customers": {
              "methods": {
                "list": {
                  "description": "Lists the customers of the vendor.",
                  "flatPath": "v1/partners/{partnersId}/vendors/{vendorsId}/customers",
                  "parameters": {
                    "parent": {
                      "description": "Required. The resource name in the format `partners/[PARTNER_ID]/vendors/[VENDOR_ID]`.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^partners/[^/]+/vendors/[^/]+$",
                      "required": true
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A token identifying a page of results returned by the server.",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of results to be returned."
                    }
                  },
                  "response": {
                    "$ref": "ListVendorCustomersResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "id": "androiddeviceprovisioning.partners.vendors.customers.list",
                  "path": "v1/{+parent}/customers"
                }
              }
            }
          },
          "methods": {
            "list": {
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of results to be returned.",
                  "format": "int32"
                },
                "parent": {
                  "pattern": "^partners/[^/]+$",
                  "required": true,
                  "description": "Required. The resource name in the format `partners/[PARTNER_ID]`.",
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "description": "A token identifying a page of results returned by the server.",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Lists the vendors of the partner.",
              "flatPath": "v1/partners/{partnersId}/vendors",
              "parameterOrder": [
                "parent"
              ],
              "id": "androiddeviceprovisioning.partners.vendors.list",
              "response": {
                "$ref": "ListVendorsResponse"
              },
              "path": "v1/{+parent}/vendors",
              "httpMethod": "GET"
            }
          }
        },
        "devices": {
          "methods": {
            "get": {
              "description": "Gets a device.",
              "response": {
                "$ref": "Device"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "androiddeviceprovisioning.partners.devices.get",
              "path": "v1/{+name}",
              "flatPath": "v1/partners/{partnersId}/devices/{devicesId}",
              "parameters": {
                "name": {
                  "pattern": "^partners/[^/]+/devices/[^/]+$",
                  "description": "Required. The device API resource name in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "GET"
            },
            "findByOwner": {
              "flatPath": "v1/partners/{partnersId}/devices:findByOwner",
              "response": {
                "$ref": "FindDevicesByOwnerResponse"
              },
              "request": {
                "$ref": "FindDevicesByOwnerRequest"
              },
              "parameters": {
                "partnerId": {
                  "location": "path",
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The ID of the reseller partner."
                }
              },
              "parameterOrder": [
                "partnerId"
              ],
              "httpMethod": "POST",
              "description": "Finds devices claimed for customers. The results only contain devices registered to the reseller that's identified by the `partnerId` argument. The customer's devices purchased from other resellers don't appear in the results.",
              "id": "androiddeviceprovisioning.partners.devices.findByOwner",
              "path": "v1/partners/{+partnerId}/devices:findByOwner"
            },
            "claim": {
              "flatPath": "v1/partners/{partnersId}/devices:claim",
              "description": "Claims a device for a customer and adds it to zero-touch enrollment. If the device is already claimed by another customer, the call returns an error.",
              "httpMethod": "POST",
              "id": "androiddeviceprovisioning.partners.devices.claim",
              "path": "v1/partners/{+partnerId}/devices:claim",
              "request": {
                "$ref": "ClaimDeviceRequest"
              },
              "response": {
                "$ref": "ClaimDeviceResponse"
              },
              "parameterOrder": [
                "partnerId"
              ],
              "parameters": {
                "partnerId": {
                  "type": "string",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "format": "int64",
                  "description": "Required. The ID of the reseller partner."
                }
              }
            },
            "unclaim": {
              "parameters": {
                "partnerId": {
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the reseller partner.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "partnerId"
              ],
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/partners/{partnersId}/devices:unclaim",
              "id": "androiddeviceprovisioning.partners.devices.unclaim",
              "path": "v1/partners/{+partnerId}/devices:unclaim",
              "description": "Unclaims a device from a customer and removes it from zero-touch enrollment.",
              "request": {
                "$ref": "UnclaimDeviceRequest"
              },
              "httpMethod": "POST"
            },
            "unclaimAsync": {
              "path": "v1/partners/{+partnerId}/devices:unclaimAsync",
              "id": "androiddeviceprovisioning.partners.devices.unclaimAsync",
              "httpMethod": "POST",
              "parameters": {
                "partnerId": {
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The reseller partner ID.",
                  "format": "int64"
                }
              },
              "parameterOrder": [
                "partnerId"
              ],
              "description": "Unclaims a batch of devices for a customer asynchronously. Removes the devices from zero-touch enrollment. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1/partners/{partnersId}/devices:unclaimAsync",
              "request": {
                "$ref": "UnclaimDevicesRequest"
              }
            },
            "metadata": {
              "httpMethod": "POST",
              "flatPath": "v1/partners/{partnersId}/devices/{devicesId}/metadata",
              "path": "v1/partners/{+metadataOwnerId}/devices/{+deviceId}/metadata",
              "description": "Updates reseller metadata associated with the device. Android devices only.",
              "parameterOrder": [
                "metadataOwnerId",
                "deviceId"
              ],
              "parameters": {
                "deviceId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "format": "int64",
                  "description": "Required. The ID of the device.",
                  "pattern": "^[^/]+$"
                },
                "metadataOwnerId": {
                  "format": "int64",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The owner of the newly set metadata. Set this to the partner ID.",
                  "pattern": "^[^/]+$"
                }
              },
              "response": {
                "$ref": "DeviceMetadata"
              },
              "request": {
                "$ref": "UpdateDeviceMetadataRequest"
              },
              "id": "androiddeviceprovisioning.partners.devices.metadata"
            },
            "claimAsync": {
              "parameterOrder": [
                "partnerId"
              ],
              "httpMethod": "POST",
              "description": "Claims a batch of devices for a customer asynchronously. Adds the devices to zero-touch enrollment. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
              "flatPath": "v1/partners/{partnersId}/devices:claimAsync",
              "parameters": {
                "partnerId": {
                  "location": "path",
                  "required": true,
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "description": "Required. The ID of the reseller partner."
                }
              },
              "request": {
                "$ref": "ClaimDevicesRequest"
              },
              "id": "androiddeviceprovisioning.partners.devices.claimAsync",
              "response": {
                "$ref": "Operation"
              },
              "path": "v1/partners/{+partnerId}/devices:claimAsync"
            },
            "findByIdentifier": {
              "id": "androiddeviceprovisioning.partners.devices.findByIdentifier",
              "parameterOrder": [
                "partnerId"
              ],
              "path": "v1/partners/{+partnerId}/devices:findByIdentifier",
              "response": {
                "$ref": "FindDevicesByDeviceIdentifierResponse"
              },
              "flatPath": "v1/partners/{partnersId}/devices:findByIdentifier",
              "parameters": {
                "partnerId": {
                  "location": "path",
                  "format": "int64",
                  "description": "Required. The ID of the reseller partner.",
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$"
                }
              },
              "description": "Finds devices by hardware identifiers, such as IMEI.",
              "request": {
                "$ref": "FindDevicesByDeviceIdentifierRequest"
              },
              "httpMethod": "POST"
            },
            "updateMetadataAsync": {
              "parameterOrder": [
                "partnerId"
              ],
              "parameters": {
                "partnerId": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The reseller partner ID.",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "format": "int64"
                }
              },
              "path": "v1/partners/{+partnerId}/devices:updateMetadataAsync",
              "description": "Updates the reseller metadata attached to a batch of devices. This method updates devices asynchronously and returns an `Operation` that can be used to track progress. Read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations). Android Devices only.",
              "id": "androiddeviceprovisioning.partners.devices.updateMetadataAsync",
              "request": {
                "$ref": "UpdateDeviceMetadataInBatchRequest"
              },
              "httpMethod": "POST",
              "flatPath": "v1/partners/{partnersId}/devices:updateMetadataAsync",
              "response": {
                "$ref": "Operation"
              }
            }
          }
        }
      }
    }
  },
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://androiddeviceprovisioning.googleapis.com/",
  "title": "Android Device Provisioning Partner API",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "basePath": "",
  "version": "v1",
  "name": "androiddeviceprovisioning",
  "canonicalName": "Android Provisioning Partner"
}
