{
  "ownerDomain": "google.com",
  "canonicalName": "Android Management",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidmanagement": {
          "description": "Manage Android devices and apps for your customers"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "schemas": {
    "ContentProviderEndpoint": {
      "id": "ContentProviderEndpoint",
      "properties": {
        "uri": {
          "type": "string",
          "description": "This feature is not generally available."
        },
        "packageName": {
          "type": "string",
          "description": "This feature is not generally available."
        },
        "signingCertsSha256": {
          "items": {
            "type": "string"
          },
          "description": "Required. This feature is not generally available.",
          "type": "array"
        }
      },
      "description": "This feature is not generally available.",
      "type": "object"
    },
    "ComplianceRule": {
      "id": "ComplianceRule",
      "type": "object",
      "properties": {
        "disableApps": {
          "type": "boolean",
          "description": "If set to true, the rule includes a mitigating action to disable apps so that the device is effectively disabled, but app data is preserved. If the device is running an app in locked task mode, the app will be closed and a UI showing the reason for non-compliance will be displayed."
        },
        "apiLevelCondition": {
          "$ref": "ApiLevelCondition",
          "description": "A condition which is satisfied if the Android Framework API level on the device doesn't meet a minimum requirement."
        },
        "nonComplianceDetailCondition": {
          "$ref": "NonComplianceDetailCondition",
          "description": "A condition which is satisfied if there exists any matching NonComplianceDetail for the device."
        },
        "packageNamesToDisable": {
          "type": "array",
          "description": "If set, the rule includes a mitigating action to disable apps specified in the list, but app data is preserved.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A rule declaring which mitigating actions to take when a device is not compliant with its policy. For every rule, there is always an implicit mitigating action to set policy_compliant to false for the Device resource, and display a message on the device indicating that the device is not compliant with its policy. Other mitigating actions may optionally be taken as well, depending on the field values in the rule."
    },
    "Application": {
      "properties": {
        "playStoreUrl": {
          "description": "A link to the (consumer) Google Play details page for the app.",
          "type": "string"
        },
        "category": {
          "type": "string",
          "description": "The app category (e.g. RACING, SOCIAL, etc.)"
        },
        "author": {
          "description": "The name of the author of the apps (for example, the app developer).",
          "type": "string"
        },
        "appTracks": {
          "items": {
            "$ref": "AppTrackInfo"
          },
          "description": "Application tracks visible to the enterprise.",
          "type": "array"
        },
        "iconUrl": {
          "description": "A link to an image that can be used as an icon for the app. This image is suitable for use up to a pixel size of 512 x 512.",
          "type": "string"
        },
        "title": {
          "description": "The title of the app. Localized.",
          "type": "string"
        },
        "distributionChannel": {
          "enum": [
            "DISTRIBUTION_CHANNEL_UNSPECIFIED",
            "PUBLIC_GOOGLE_HOSTED",
            "PRIVATE_GOOGLE_HOSTED",
            "PRIVATE_SELF_HOSTED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Package is available through the Play store and not restricted to a specific enterprise.",
            "Package is a private app (restricted to an enterprise) but hosted by Google.",
            "Private app (restricted to an enterprise) and is privately hosted."
          ],
          "type": "string",
          "description": "How and to whom the package is made available."
        },
        "managedProperties": {
          "type": "array",
          "description": "The set of managed properties available to be pre-configured for the app.",
          "items": {
            "$ref": "ManagedProperty"
          }
        },
        "screenshotUrls": {
          "type": "array",
          "description": "A list of screenshot links representing the app.",
          "items": {
            "type": "string"
          }
        },
        "fullDescription": {
          "type": "string",
          "description": "Full app description, if available."
        },
        "description": {
          "type": "string",
          "description": "The localized promotional description, if available."
        },
        "appPricing": {
          "type": "string",
          "enumDescriptions": [
            "Unknown pricing, used to denote an approved app that is not generally available.",
            "The app is free.",
            "The app is free, but offers in-app purchases.",
            "The app is paid."
          ],
          "description": "Whether this app is free, free with in-app purchases, or paid. If the pricing is unspecified, this means the app is not generally available anymore (even though it might still be available to people who own it).",
          "enum": [
            "APP_PRICING_UNSPECIFIED",
            "FREE",
            "FREE_WITH_IN_APP_PURCHASE",
            "PAID"
          ]
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The approximate time (within 7 days) the app was last published.",
          "type": "string",
          "format": "google-datetime"
        },
        "recentChanges": {
          "type": "string",
          "description": "A localised description of the recent changes made to the app."
        },
        "availableCountries": {
          "description": "The countries which this app is available in as per ISO 3166-1 alpha-2.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "appVersions": {
          "description": "Versions currently available for this app.",
          "type": "array",
          "items": {
            "$ref": "AppVersion"
          }
        },
        "smallIconUrl": {
          "type": "string",
          "description": "A link to a smaller image that can be used as an icon for the app. This image is suitable for use up to a pixel size of 128 x 128."
        },
        "contentRating": {
          "enumDescriptions": [
            "Unspecified.",
            "Content suitable for ages 3 and above only.",
            "Content suitable for ages 7 and above only.",
            "Content suitable for ages 12 and above only.",
            "Content suitable for ages 16 and above only.",
            "Content suitable for ages 18 and above only."
          ],
          "enum": [
            "CONTENT_RATING_UNSPECIFIED",
            "THREE_YEARS",
            "SEVEN_YEARS",
            "TWELVE_YEARS",
            "SIXTEEN_YEARS",
            "EIGHTEEN_YEARS"
          ],
          "description": "The content rating for this app.",
          "type": "string"
        },
        "features": {
          "description": "Noteworthy features (if any) of this app.",
          "items": {
            "enum": [
              "APP_FEATURE_UNSPECIFIED",
              "VPN_APP"
            ],
            "enumDescriptions": [
              "Unspecified.",
              "The app is a VPN."
            ],
            "type": "string"
          },
          "type": "array"
        },
        "minAndroidSdkVersion": {
          "format": "int32",
          "type": "integer",
          "description": "The minimum Android SDK necessary to run the app."
        },
        "permissions": {
          "type": "array",
          "description": "The permissions required by the app.",
          "items": {
            "$ref": "ApplicationPermission"
          }
        },
        "name": {
          "type": "string",
          "description": "The name of the app in the form enterprises/{enterprise}/applications/{package_name}."
        }
      },
      "id": "Application",
      "type": "object",
      "description": "Information about an app."
    },
    "ChoosePrivateKeyRule": {
      "id": "ChoosePrivateKeyRule",
      "type": "object",
      "description": "Controls apps' access to private keys. The rule determines which private key, if any, Android Device Policy grants to the specified app. Access is granted either when the app calls KeyChain.choosePrivateKeyAlias (https://developer.android.com/reference/android/security/KeyChain#choosePrivateKeyAlias%28android.app.Activity,%20android.security.KeyChainAliasCallback,%20java.lang.String[],%20java.security.Principal[],%20java.lang.String,%20int,%20java.lang.String%29) (or any overloads) to request a private key alias for a given URL, or for rules that are not URL-specific (that is, if urlPattern is not set, or set to the empty string or .*) on Android 11 and above, directly so that the app can call KeyChain.getPrivateKey (https://developer.android.com/reference/android/security/KeyChain#getPrivateKey%28android.content.Context,%20java.lang.String%29), without first having to call KeyChain.choosePrivateKeyAlias.When an app calls KeyChain.choosePrivateKeyAlias if more than one choosePrivateKeyRules matches, the last matching rule defines which key alias to return.",
      "properties": {
        "packageNames": {
          "items": {
            "type": "string"
          },
          "description": "The package names to which this rule applies. The hash of the signing certificate for each app is verified against the hash provided by Play. If no package names are specified, then the alias is provided to all apps that call KeyChain.choosePrivateKeyAlias (https://developer.android.com/reference/android/security/KeyChain#choosePrivateKeyAlias%28android.app.Activity,%20android.security.KeyChainAliasCallback,%20java.lang.String[],%20java.security.Principal[],%20java.lang.String,%20int,%20java.lang.String%29) or any overloads (but not without calling KeyChain.choosePrivateKeyAlias, even on Android 11 and above). Any app with the same Android UID as a package specified here will have access when they call KeyChain.choosePrivateKeyAlias.",
          "type": "array"
        },
        "urlPattern": {
          "description": "The URL pattern to match against the URL of the request. If not set or empty, it matches all URLs. This uses the regular expression syntax of java.util.regex.Pattern.",
          "type": "string"
        },
        "privateKeyAlias": {
          "type": "string",
          "description": "The alias of the private key to be used."
        }
      }
    },
    "ApiLevelCondition": {
      "description": "A compliance rule condition which is satisfied if the Android Framework API level on the device doesn't meet a minimum requirement. There can only be one rule with this type of condition per policy.",
      "type": "object",
      "id": "ApiLevelCondition",
      "properties": {
        "minApiLevel": {
          "description": "The minimum desired Android Framework API level. If the device doesn't meet the minimum requirement, this condition is satisfied. Must be greater than zero.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "IssueCommandResponse": {
      "properties": {},
      "description": "Response on issuing a command. This is currently empty as a placeholder.",
      "id": "IssueCommandResponse",
      "type": "object"
    },
    "ApplicationPermission": {
      "description": "A permission required by the app.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the permission. Localized."
        },
        "description": {
          "type": "string",
          "description": "A longer description of the permission, providing more detail on what it affects. Localized."
        },
        "permissionId": {
          "description": "An opaque string uniquely identifying the permission. Not localized.",
          "type": "string"
        }
      },
      "id": "ApplicationPermission",
      "type": "object"
    },
    "PersistentPreferredActivity": {
      "id": "PersistentPreferredActivity",
      "description": "A default activity for handling intents that match a particular intent filter. Note: To set up a kiosk, use InstallType to KIOSK rather than use persistent preferred activities.",
      "type": "object",
      "properties": {
        "categories": {
          "description": "The intent categories to match in the filter. An intent includes the categories that it requires, all of which must be included in the filter in order to match. In other words, adding a category to the filter has no impact on matching unless that category is specified in the intent.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "actions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The intent actions to match in the filter. If any actions are included in the filter, then an intent's action must be one of those values for it to match. If no actions are included, the intent action is ignored."
        },
        "receiverActivity": {
          "type": "string",
          "description": "The activity that should be the default intent handler. This should be an Android component name, e.g. com.android.enterprise.app/.MainActivity. Alternatively, the value may be the package name of an app, which causes Android Device Policy to choose an appropriate activity from the app to handle the intent."
        }
      }
    },
    "Enterprise": {
      "description": "The configuration applied to an enterprise.",
      "id": "Enterprise",
      "properties": {
        "termsAndConditions": {
          "type": "array",
          "items": {
            "$ref": "TermsAndConditions"
          },
          "description": "Terms and conditions that must be accepted when provisioning a device for this enterprise. A page of terms is generated for each value in this list."
        },
        "primaryColor": {
          "description": "A color in RGB format that indicates the predominant color to display in the device management app UI. The color components are stored as follows: (red \u003c\u003c 16) | (green \u003c\u003c 8) | blue, where the value of each component is between 0 and 255, inclusive.",
          "format": "int32",
          "type": "integer"
        },
        "signinDetails": {
          "description": "Sign-in details of the enterprise.",
          "items": {
            "$ref": "SigninDetail"
          },
          "type": "array"
        },
        "enterpriseDisplayName": {
          "description": "The name of the enterprise displayed to users.",
          "type": "string"
        },
        "pubsubTopic": {
          "type": "string",
          "description": "The topic which Pub/Sub notifications are published to, in the form projects/{project}/topics/{topic}. This field is only required if Pub/Sub notifications are enabled."
        },
        "appAutoApprovalEnabled": {
          "description": "Deprecated and unused.",
          "type": "boolean"
        },
        "contactInfo": {
          "$ref": "ContactInfo",
          "description": "The enterprise contact info of an EMM-managed enterprise."
        },
        "logo": {
          "description": "An image displayed as a logo during device provisioning. Supported types are: image/bmp, image/gif, image/x-ico, image/jpeg, image/png, image/webp, image/vnd.wap.wbmp, image/x-adobe-dng.",
          "$ref": "ExternalData"
        },
        "name": {
          "type": "string",
          "description": "The name of the enterprise which is generated by the server during creation, in the form enterprises/{enterpriseId}."
        },
        "enabledNotificationTypes": {
          "items": {
            "enumDescriptions": [
              "This value is ignored.",
              "A notification sent when a device enrolls.",
              "Deprecated.",
              "A notification sent when a device issues a status report.",
              "A notification sent when a device command has completed.",
              "A notification sent when device sends BatchUsageLogEvents."
            ],
            "enum": [
              "NOTIFICATION_TYPE_UNSPECIFIED",
              "ENROLLMENT",
              "COMPLIANCE_REPORT",
              "STATUS_REPORT",
              "COMMAND",
              "USAGE_LOGS"
            ],
            "type": "string"
          },
          "description": "The types of Google Pub/Sub notifications enabled for the enterprise.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "PermissionGrant": {
      "description": "Configuration for an Android permission and its grant state.",
      "id": "PermissionGrant",
      "type": "object",
      "properties": {
        "permission": {
          "type": "string",
          "description": "The Android permission or group, e.g. android.permission.READ_CALENDAR or android.permission_group.CALENDAR."
        },
        "policy": {
          "enum": [
            "PERMISSION_POLICY_UNSPECIFIED",
            "PROMPT",
            "GRANT",
            "DENY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Policy not specified. If no policy is specified for a permission at any level, then the PROMPT behavior is used by default.",
            "Prompt the user to grant a permission.",
            "Automatically grant a permission.",
            "Automatically deny a permission."
          ],
          "description": "The policy for granting the permission."
        }
      }
    },
    "PersonalApplicationPolicy": {
      "properties": {
        "packageName": {
          "type": "string",
          "description": "The package name of the application."
        },
        "installType": {
          "description": "The type of installation to perform.",
          "enum": [
            "INSTALL_TYPE_UNSPECIFIED",
            "BLOCKED",
            "AVAILABLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Defaults to AVAILABLE.",
            "The app is blocked and can't be installed in the personal profile.",
            "The app is available to install in the personal profile."
          ]
        }
      },
      "description": "Policies for apps in the personal profile of a company-owned device with a work profile.",
      "type": "object",
      "id": "PersonalApplicationPolicy"
    },
    "ApplicationReport": {
      "description": "Information reported about an installed app.",
      "type": "object",
      "id": "ApplicationReport",
      "properties": {
        "packageSha256Hash": {
          "type": "string",
          "description": "The SHA-256 hash of the app's APK file, which can be used to verify the app hasn't been modified. Each byte of the hash value is represented as a two-digit hexadecimal number."
        },
        "applicationSource": {
          "enum": [
            "APPLICATION_SOURCE_UNSPECIFIED",
            "SYSTEM_APP_FACTORY_VERSION",
            "SYSTEM_APP_UPDATED_VERSION",
            "INSTALLED_FROM_PLAY_STORE"
          ],
          "description": "The source of the package.",
          "type": "string",
          "enumDescriptions": [
            "The app was sideloaded from an unspecified source.",
            "This is a system app from the device's factory image.",
            "This is an updated system app.",
            "The app was installed from the Google Play Store."
          ]
        },
        "events": {
          "description": "List of app events. The most recent 20 events are stored in the list.",
          "items": {
            "$ref": "ApplicationEvent"
          },
          "type": "array"
        },
        "versionCode": {
          "type": "integer",
          "description": "The app version code, which can be used to determine whether one version is more recent than another.",
          "format": "int32"
        },
        "state": {
          "type": "string",
          "description": "Application state.",
          "enum": [
            "APPLICATION_STATE_UNSPECIFIED",
            "REMOVED",
            "INSTALLED"
          ],
          "enumDescriptions": [
            "App state is unspecified",
            "App was removed from the device",
            "App is installed on the device"
          ]
        },
        "versionName": {
          "description": "The app version as displayed to the user.",
          "type": "string"
        },
        "keyedAppStates": {
          "description": "List of keyed app states reported by the app.",
          "items": {
            "$ref": "KeyedAppState"
          },
          "type": "array"
        },
        "installerPackageName": {
          "description": "The package name of the app that installed this app.",
          "type": "string"
        },
        "packageName": {
          "type": "string",
          "description": "Package name of the app."
        },
        "signingKeyCertFingerprints": {
          "items": {
            "type": "string"
          },
          "description": "The SHA-1 hash of each android.content.pm.Signature (https://developer.android.com/reference/android/content/pm/Signature.html) associated with the app package. Each byte of each hash value is represented as a two-digit hexadecimal number.",
          "type": "array"
        },
        "displayName": {
          "description": "The display name of the app.",
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        }
      }
    },
    "ListPoliciesResponse": {
      "id": "ListPoliciesResponse",
      "type": "object",
      "description": "Response to a request to list policies for a given enterprise.",
      "properties": {
        "nextPageToken": {
          "description": "If there are more results, a token to retrieve next page of results.",
          "type": "string"
        },
        "policies": {
          "type": "array",
          "description": "The list of policies.",
          "items": {
            "$ref": "Policy"
          }
        }
      }
    },
    "HardwareStatus": {
      "id": "HardwareStatus",
      "type": "object",
      "properties": {
        "batteryTemperatures": {
          "type": "array",
          "description": "Current battery temperatures in Celsius for each battery on the device.",
          "items": {
            "format": "float",
            "type": "number"
          }
        },
        "cpuTemperatures": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "float"
          },
          "description": "Current CPU temperatures in Celsius for each CPU on the device."
        },
        "gpuTemperatures": {
          "description": "Current GPU temperatures in Celsius for each GPU on the device.",
          "items": {
            "format": "float",
            "type": "number"
          },
          "type": "array"
        },
        "createTime": {
          "type": "string",
          "description": "The time the measurements were taken.",
          "format": "google-datetime"
        },
        "skinTemperatures": {
          "description": "Current device skin temperatures in Celsius.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "fanSpeeds": {
          "type": "array",
          "description": "Fan speeds in RPM for each fan on the device. Empty array means that there are no fans or fan speed is not supported on the system.",
          "items": {
            "format": "float",
            "type": "number"
          }
        },
        "cpuUsages": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "float"
          },
          "description": "CPU usages in percentage for each core available on the device. Usage is 0 for each unplugged core. Empty array implies that CPU usage is not supported in the system."
        }
      },
      "description": "Hardware status. Temperatures may be compared to the temperature thresholds available in hardwareInfo to determine hardware health."
    },
    "PostureDetail": {
      "properties": {
        "securityRisk": {
          "description": "A specific security risk that negatively affects the security posture of the device.",
          "enumDescriptions": [
            "Unspecified.",
            "SafetyNet detects that the device is running an unknown OS (basicIntegrity check succeeds but ctsProfileMatch fails).",
            "SafetyNet detects that the device is running a compromised OS (basicIntegrity check fails).",
            "SafetyNet detects that the device does not have a strong guarantee of system integrity, such as a hardware-backed keystore (https://developer.android.com/training/articles/security-key-attestation)."
          ],
          "type": "string",
          "enum": [
            "SECURITY_RISK_UNSPECIFIED",
            "UNKNOWN_OS",
            "COMPROMISED_OS",
            "HARDWARE_BACKED_EVALUATION_FAILED"
          ]
        },
        "advice": {
          "type": "array",
          "items": {
            "$ref": "UserFacingMessage"
          },
          "description": "Corresponding admin-facing advice to mitigate this security risk and improve the security posture of the device."
        }
      },
      "description": "Additional details regarding the security posture of the device.",
      "id": "PostureDetail",
      "type": "object"
    },
    "Policy": {
      "id": "Policy",
      "type": "object",
      "description": "A policy resource represents a group of settings that govern the behavior of a managed device and the apps installed on it.",
      "properties": {
        "statusReportingSettings": {
          "$ref": "StatusReportingSettings",
          "description": "Status reporting settings"
        },
        "uninstallAppsDisabled": {
          "type": "boolean",
          "description": "Whether user uninstallation of applications is disabled."
        },
        "bluetoothDisabled": {
          "description": "Whether bluetooth is disabled. Prefer this setting over bluetooth_config_disabled because bluetooth_config_disabled can be bypassed by the user.",
          "type": "boolean"
        },
        "alwaysOnVpnPackage": {
          "description": "Configuration for an always-on VPN connection. Use with vpn_config_disabled to prevent modification of this setting.",
          "$ref": "AlwaysOnVpnPackage"
        },
        "mountPhysicalMediaDisabled": {
          "type": "boolean",
          "description": "Whether the user mounting physical external media is disabled."
        },
        "recommendedGlobalProxy": {
          "description": "The network-independent global HTTP proxy. Typically proxies should be configured per-network in open_network_configuration. However for unusual configurations like general internal filtering a global HTTP proxy may be useful. If the proxy is not accessible, network access may break. The global proxy is only a recommendation and some apps may ignore it.",
          "$ref": "ProxyInfo"
        },
        "wifiConfigDisabled": {
          "description": "Whether configuring Wi-Fi access points is disabled.Note: If a network connection can't be made at boot time and configuring Wi-Fi is disabled then network escape hatch will be shown in order to refresh the device policy (see networkEscapeHatchEnabled).",
          "type": "boolean"
        },
        "usageLog": {
          "description": "Configuration of device activity logging.",
          "$ref": "UsageLog"
        },
        "maximumTimeToLock": {
          "description": "Maximum time in milliseconds for user activity until the device locks. A value of 0 means there is no restriction.",
          "type": "string",
          "format": "int64"
        },
        "funDisabled": {
          "type": "boolean",
          "description": "Whether the user is allowed to have fun. Controls whether the Easter egg game in Settings is disabled."
        },
        "setupActions": {
          "items": {
            "$ref": "SetupAction"
          },
          "type": "array",
          "description": "Action to take during the setup process. At most one action may be specified."
        },
        "setUserIconDisabled": {
          "description": "Whether changing the user icon is disabled.",
          "type": "boolean"
        },
        "modifyAccountsDisabled": {
          "type": "boolean",
          "description": "Whether adding or removing accounts is disabled."
        },
        "playStoreMode": {
          "enumDescriptions": [
            "Unspecified. Defaults to WHITELIST.",
            "Only apps that are in the policy are available and any app not in the policy will be automatically uninstalled from the device.",
            "All apps are available and any app that should not be on the device should be explicitly marked as 'BLOCKED' in the applications policy."
          ],
          "description": "This mode controls which apps are available to the user in the Play Store and the behavior on the device when apps are removed from the policy.",
          "enum": [
            "PLAY_STORE_MODE_UNSPECIFIED",
            "WHITELIST",
            "BLACKLIST"
          ],
          "type": "string"
        },
        "minimumApiLevel": {
          "format": "int32",
          "description": "The minimum allowed Android API level.",
          "type": "integer"
        },
        "deviceOwnerLockScreenInfo": {
          "description": "The device owner information to be shown on the lock screen.",
          "$ref": "UserFacingMessage"
        },
        "longSupportMessage": {
          "description": "A message displayed to the user in the device administators settings screen.",
          "$ref": "UserFacingMessage"
        },
        "statusBarDisabled": {
          "type": "boolean",
          "description": "Whether the status bar is disabled. This disables notifications, quick settings, and other screen overlays that allow escape from full-screen mode. DEPRECATED. To disable the status bar on a kiosk device, use InstallType KIOSK or kioskCustomLauncherEnabled."
        },
        "removeUserDisabled": {
          "type": "boolean",
          "description": "Whether removing other users is disabled."
        },
        "keyguardDisabledFeatures": {
          "items": {
            "enumDescriptions": [
              "This value is ignored.",
              "Disable the camera on secure keyguard screens (e.g. PIN).",
              "Disable showing all notifications on secure keyguard screens.",
              "Disable unredacted notifications on secure keyguard screens.",
              "Ignore trust agent state on secure keyguard screens.",
              "Disable fingerprint sensor on secure keyguard screens.",
              "On devices running Android 6 and below, disables text entry into notifications on secure keyguard screens. Has no effect on Android 7 and above.",
              "Disable face authentication on secure keyguard screens.",
              "Disable iris authentication on secure keyguard screens.",
              "Disable all biometric authentication on secure keyguard screens.",
              "Disable all current and future keyguard customizations."
            ],
            "enum": [
              "KEYGUARD_DISABLED_FEATURE_UNSPECIFIED",
              "CAMERA",
              "NOTIFICATIONS",
              "UNREDACTED_NOTIFICATIONS",
              "TRUST_AGENTS",
              "DISABLE_FINGERPRINT",
              "DISABLE_REMOTE_INPUT",
              "FACE",
              "IRIS",
              "BIOMETRICS",
              "ALL_FEATURES"
            ],
            "type": "string"
          },
          "description": "Disabled keyguard customizations, such as widgets.",
          "type": "array"
        },
        "oncCertificateProviders": {
          "description": "This feature is not generally available.",
          "items": {
            "$ref": "OncCertificateProvider"
          },
          "type": "array"
        },
        "networkResetDisabled": {
          "description": "Whether resetting network settings is disabled.",
          "type": "boolean"
        },
        "shortSupportMessage": {
          "description": "A message displayed to the user in the settings screen wherever functionality has been disabled by the admin. If the message is longer than 200 characters it may be truncated.",
          "$ref": "UserFacingMessage"
        },
        "personalUsagePolicies": {
          "$ref": "PersonalUsagePolicies",
          "description": "Policies managing personal usage on a company-owned device."
        },
        "keyguardDisabled": {
          "type": "boolean",
          "description": "Whether the keyguard is disabled."
        },
        "persistentPreferredActivities": {
          "type": "array",
          "description": "Default intent handler activities.",
          "items": {
            "$ref": "PersistentPreferredActivity"
          }
        },
        "passwordPolicies": {
          "items": {
            "$ref": "PasswordRequirements"
          },
          "type": "array",
          "description": "Password requirement policies. Different policies can be set for work profile or fully managed devices by setting the password_scope field in the policy."
        },
        "tetheringConfigDisabled": {
          "type": "boolean",
          "description": "Whether configuring tethering and portable hotspots is disabled."
        },
        "cameraDisabled": {
          "type": "boolean",
          "description": "If camera_access is set to any value other than CAMERA_ACCESS_UNSPECIFIED, this has no effect. Otherwise this field controls whether cameras are disabled: If true, all cameras are disabled, otherwise they are available. For fully managed devices this field applies for all apps on the device. For work profiles, this field applies only to apps in the work profile, and the camera access of apps outside the work profile is unaffected."
        },
        "usbFileTransferDisabled": {
          "type": "boolean",
          "description": "Whether transferring files over USB is disabled."
        },
        "kioskCustomLauncherEnabled": {
          "type": "boolean",
          "description": "Whether the kiosk custom launcher is enabled. This replaces the home screen with a launcher that locks down the device to the apps installed via the applications setting. Apps appear on a single page in alphabetical order. Use kioskCustomization to further configure the kiosk device behavior."
        },
        "frpAdminEmails": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Email addresses of device administrators for factory reset protection. When the device is factory reset, it will require one of these admins to log in with the Google account email and password to unlock the device. If no admins are specified, the device won't provide factory reset protection."
        },
        "smsDisabled": {
          "type": "boolean",
          "description": "Whether sending and receiving SMS messages is disabled."
        },
        "appAutoUpdatePolicy": {
          "enumDescriptions": [
            "The auto-update policy is not set. Equivalent to CHOICE_TO_THE_USER.",
            "The user can control auto-updates.",
            "Apps are never auto-updated.",
            "Apps are auto-updated over Wi-Fi only.",
            "Apps are auto-updated at any time. Data charges may apply."
          ],
          "type": "string",
          "description": "Deprecated. Use autoUpdateMode instead.When autoUpdateMode is set to AUTO_UPDATE_POSTPONED or AUTO_UPDATE_HIGH_PRIORITY, this field has no effect.The app auto update policy, which controls when automatic app updates can be applied.",
          "enum": [
            "APP_AUTO_UPDATE_POLICY_UNSPECIFIED",
            "CHOICE_TO_THE_USER",
            "NEVER",
            "WIFI_ONLY",
            "ALWAYS"
          ]
        },
        "cellBroadcastsConfigDisabled": {
          "type": "boolean",
          "description": "Whether configuring cell broadcast is disabled."
        },
        "systemUpdate": {
          "$ref": "SystemUpdate",
          "description": "The system update policy, which controls how OS updates are applied. If the update type is WINDOWED, the update window will automatically apply to Play app updates as well."
        },
        "dataRoamingDisabled": {
          "type": "boolean",
          "description": "Whether roaming data services are disabled."
        },
        "blockApplicationsEnabled": {
          "type": "boolean",
          "description": "Whether applications other than the ones configured in applications are blocked from being installed. When set, applications that were installed under a previous policy but no longer appear in the policy are automatically uninstalled."
        },
        "accountTypesWithManagementDisabled": {
          "description": "Account types that can't be managed by the user.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "kioskCustomization": {
          "$ref": "KioskCustomization",
          "description": "Settings controlling the behavior of a device in kiosk mode. To enable kiosk mode, set kioskCustomLauncherEnabled to true or specify an app in the policy with installType KIOSK."
        },
        "setWallpaperDisabled": {
          "type": "boolean",
          "description": "Whether changing the wallpaper is disabled."
        },
        "permittedInputMethods": {
          "$ref": "PackageNameList",
          "description": "If present, only the input methods provided by packages in this list are permitted. If this field is present, but the list is empty, then only system input methods are permitted."
        },
        "passwordRequirements": {
          "$ref": "PasswordRequirements",
          "description": "Password requirements. The field password_requirements.require_password_unlock must not be set. DEPRECATED - Use passwordPolicies.Note:Complexity-based values of PasswordQuality, that is, COMPLEXITY_LOW, COMPLEXITY_MEDIUM, and COMPLEXITY_HIGH, cannot be used here. unified_lock_settings cannot be used here."
        },
        "usbMassStorageEnabled": {
          "type": "boolean",
          "description": "Whether USB storage is enabled. Deprecated."
        },
        "preferentialNetworkService": {
          "enum": [
            "PREFERENTIAL_NETWORK_SERVICE_UNSPECIFIED",
            "PREFERENTIAL_NETWORK_SERVICE_DISABLED",
            "PREFERENTIAL_NETWORK_SERVICE_ENABLED"
          ],
          "enumDescriptions": [
            "Unspecified. Defaults to PREFERENTIAL_NETWORK_SERVICES_DISABLED.",
            "Preferential network service is disabled on the work profile.",
            "Preferential network service is enabled on the work profile."
          ],
          "type": "string",
          "description": "Controls whether preferential network service is enabled on the work profile. For example, an organization may have an agreement with a carrier that all of the work data from its employees' devices will be sent via a network service dedicated for enterprise use. An example of a supported preferential network service is the enterprise slice on 5G networks. This has no effect on fully managed devices."
        },
        "vpnConfigDisabled": {
          "type": "boolean",
          "description": "Whether configuring VPN is disabled."
        },
        "name": {
          "description": "The name of the policy in the form enterprises/{enterpriseId}/policies/{policyId}.",
          "type": "string"
        },
        "policyEnforcementRules": {
          "type": "array",
          "description": "Rules that define the behavior when a particular policy can not be applied on device",
          "items": {
            "$ref": "PolicyEnforcementRule"
          }
        },
        "autoDateAndTimeZone": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Defaults to AUTO_DATE_AND_TIME_ZONE_USER_CHOICE.",
            "Auto date, time, and time zone are left to user's choice.",
            "Enforce auto date, time, and time zone on the device."
          ],
          "description": "Whether auto date, time, and time zone are enabled on a company-owned device. If this is set, then autoTimeRequired is ignored.",
          "enum": [
            "AUTO_DATE_AND_TIME_ZONE_UNSPECIFIED",
            "AUTO_DATE_AND_TIME_ZONE_USER_CHOICE",
            "AUTO_DATE_AND_TIME_ZONE_ENFORCED"
          ]
        },
        "bluetoothConfigDisabled": {
          "description": "Whether configuring bluetooth is disabled.",
          "type": "boolean"
        },
        "privateKeySelectionEnabled": {
          "type": "boolean",
          "description": "Allows showing UI on a device for a user to choose a private key alias if there are no matching rules in ChoosePrivateKeyRules. For devices below Android P, setting this may leave enterprise keys vulnerable."
        },
        "bluetoothContactSharingDisabled": {
          "type": "boolean",
          "description": "Whether bluetooth contact sharing is disabled."
        },
        "crossProfilePolicies": {
          "$ref": "CrossProfilePolicies",
          "description": "Cross-profile policies applied on the device."
        },
        "outgoingBeamDisabled": {
          "type": "boolean",
          "description": "Whether using NFC to beam data from apps is disabled."
        },
        "microphoneAccess": {
          "enum": [
            "MICROPHONE_ACCESS_UNSPECIFIED",
            "MICROPHONE_ACCESS_USER_CHOICE",
            "MICROPHONE_ACCESS_DISABLED",
            "MICROPHONE_ACCESS_ENFORCED"
          ],
          "type": "string",
          "description": "Controls the use of the microphone and whether the user has access to the microphone access toggle. This applies only on fully managed devices.",
          "enumDescriptions": [
            "If unmute_microphone_disabled is true, this is equivalent to MICROPHONE_ACCESS_DISABLED. Otherwise, this is equivalent to MICROPHONE_ACCESS_USER_CHOICE.",
            "The field unmute_microphone_disabled is ignored. This is the default device behaviour: the microphone on the device is available. On Android 12 and above, the user can use the microphone access toggle.",
            "The field unmute_microphone_disabled is ignored. The microphone on the device is disabled (for fully managed devices, this applies device-wide).The microphone access toggle has no effect as the microphone is disabled.",
            "The field unmute_microphone_disabled is ignored. The microphone on the device is available. On devices running Android 12 and above, the user is unable to use the microphone access toggle. On devices which run Android 11 or below, this is equivalent to MICROPHONE_ACCESS_USER_CHOICE."
          ]
        },
        "addUserDisabled": {
          "description": "Whether adding new users and profiles is disabled.",
          "type": "boolean"
        },
        "createWindowsDisabled": {
          "description": "Whether creating windows besides app windows is disabled.",
          "type": "boolean"
        },
        "autoTimeRequired": {
          "type": "boolean",
          "description": "Whether auto time is required, which prevents the user from manually setting the date and time. If autoDateAndTimeZone is set, this field is ignored."
        },
        "outgoingCallsDisabled": {
          "type": "boolean",
          "description": "Whether outgoing calls are disabled."
        },
        "encryptionPolicy": {
          "type": "string",
          "enumDescriptions": [
            "This value is ignored, i.e. no encryption required",
            "Encryption required but no password required to boot",
            "Encryption required with password required to boot"
          ],
          "enum": [
            "ENCRYPTION_POLICY_UNSPECIFIED",
            "ENABLED_WITHOUT_PASSWORD",
            "ENABLED_WITH_PASSWORD"
          ],
          "description": "Whether encryption is enabled"
        },
        "networkEscapeHatchEnabled": {
          "description": "Whether the network escape hatch is enabled. If a network connection can't be made at boot time, the escape hatch prompts the user to temporarily connect to a network in order to refresh the device policy. After applying policy, the temporary network will be forgotten and the device will continue booting. This prevents being unable to connect to a network if there is no suitable network in the last policy and the device boots into an app in lock task mode, or the user is otherwise unable to reach device settings.Note: Setting wifiConfigDisabled to true will override this setting under specific circumstances. Please see wifiConfigDisabled for further details.",
          "type": "boolean"
        },
        "cameraAccess": {
          "description": "Controls the use of the camera and whether the user has access to the camera access toggle.",
          "enum": [
            "CAMERA_ACCESS_UNSPECIFIED",
            "CAMERA_ACCESS_USER_CHOICE",
            "CAMERA_ACCESS_DISABLED",
            "CAMERA_ACCESS_ENFORCED"
          ],
          "enumDescriptions": [
            "If camera_disabled is true, this is equivalent to CAMERA_ACCESS_DISABLED. Otherwise, this is equivalent to CAMERA_ACCESS_USER_CHOICE.",
            "The field camera_disabled is ignored. This is the default device behaviour: all cameras on the device are available. On Android 12 and above, the user can use the camera access toggle.",
            "The field camera_disabled is ignored. All cameras on the device are disabled (for fully managed devices, this applies device-wide and for work profiles this applies only to the work profile).There are no explicit restrictions placed on the camera access toggle on Android 12 and above: on fully managed devices, the camera access toggle has no effect as all cameras are disabled. On devices with a work profile, this toggle has no effect on apps in the work profile, but it affects apps outside the work profile.",
            "The field camera_disabled is ignored. All cameras on the device are available. On fully managed devices running Android 12 and above, the user is unable to use the camera access toggle. On devices which are not fully managed or which run Android 11 or below, this is equivalent to CAMERA_ACCESS_USER_CHOICE."
          ],
          "type": "string"
        },
        "mobileNetworksConfigDisabled": {
          "type": "boolean",
          "description": "Whether configuring mobile networks is disabled."
        },
        "advancedSecurityOverrides": {
          "$ref": "AdvancedSecurityOverrides",
          "description": "Security policies set to secure values by default. To maintain the security posture of a device, we don't recommend overriding any of the default values."
        },
        "installAppsDisabled": {
          "description": "Whether user installation of apps is disabled.",
          "type": "boolean"
        },
        "skipFirstUseHintsEnabled": {
          "description": "Flag to skip hints on the first use. Enterprise admin can enable the system recommendation for apps to skip their user tutorial and other introductory hints on first start-up.",
          "type": "boolean"
        },
        "screenCaptureDisabled": {
          "description": "Whether screen capture is disabled.",
          "type": "boolean"
        },
        "applications": {
          "type": "array",
          "items": {
            "$ref": "ApplicationPolicy"
          },
          "description": "Policy applied to apps."
        },
        "shareLocationDisabled": {
          "description": "Whether location sharing is disabled.",
          "type": "boolean"
        },
        "adjustVolumeDisabled": {
          "description": "Whether adjusting the master volume is disabled. Also mutes the device.",
          "type": "boolean"
        },
        "openNetworkConfiguration": {
          "type": "object",
          "description": "Network configuration for the device. See configure networks for more information.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "credentialsConfigDisabled": {
          "type": "boolean",
          "description": "Whether configuring user credentials is disabled."
        },
        "defaultPermissionPolicy": {
          "enum": [
            "PERMISSION_POLICY_UNSPECIFIED",
            "PROMPT",
            "GRANT",
            "DENY"
          ],
          "description": "The default permission policy for runtime permission requests.",
          "enumDescriptions": [
            "Policy not specified. If no policy is specified for a permission at any level, then the PROMPT behavior is used by default.",
            "Prompt the user to grant a permission.",
            "Automatically grant a permission.",
            "Automatically deny a permission."
          ],
          "type": "string"
        },
        "safeBootDisabled": {
          "type": "boolean",
          "description": "Whether rebooting the device into safe boot is disabled."
        },
        "androidDevicePolicyTracks": {
          "type": "array",
          "description": "The app tracks for Android Device Policy the device can access. The device receives the latest version among all accessible tracks. If no tracks are specified, then the device only uses the production track.",
          "items": {
            "enum": [
              "APP_TRACK_UNSPECIFIED",
              "PRODUCTION",
              "BETA"
            ],
            "type": "string",
            "enumDescriptions": [
              "This value is ignored.",
              "The production track, which provides the latest stable release.",
              "The beta track, which provides the latest beta release."
            ]
          }
        },
        "stayOnPluggedModes": {
          "type": "array",
          "description": "The battery plugged in modes for which the device stays on. When using this setting, it is recommended to clear maximum_time_to_lock so that the device doesn't lock itself while it stays on.",
          "items": {
            "enumDescriptions": [
              "This value is ignored.",
              "Power source is an AC charger.",
              "Power source is a USB port.",
              "Power source is wireless."
            ],
            "type": "string",
            "enum": [
              "BATTERY_PLUGGED_MODE_UNSPECIFIED",
              "AC",
              "USB",
              "WIRELESS"
            ]
          }
        },
        "unmuteMicrophoneDisabled": {
          "type": "boolean",
          "description": "If microphone_access is set to any value other than MICROPHONE_ACCESS_UNSPECIFIED, this has no effect. Otherwise this field controls whether microphones are disabled: If true, all microphones are disabled, otherwise they are available. This is available only on fully managed devices."
        },
        "version": {
          "type": "string",
          "format": "int64",
          "description": "The version of the policy. This is a read-only field. The version is incremented each time the policy is updated."
        },
        "ensureVerifyAppsEnabled": {
          "description": "Whether app verification is force-enabled.",
          "type": "boolean"
        },
        "permissionGrants": {
          "items": {
            "$ref": "PermissionGrant"
          },
          "description": "Explicit permission or group grants or denials for all apps. These values override the default_permission_policy.",
          "type": "array"
        },
        "wifiConfigsLockdownEnabled": {
          "description": "DEPRECATED - Use wifi_config_disabled.",
          "type": "boolean"
        },
        "installUnknownSourcesAllowed": {
          "description": "This field has no effect.",
          "type": "boolean"
        },
        "locationMode": {
          "enum": [
            "LOCATION_MODE_UNSPECIFIED",
            "HIGH_ACCURACY",
            "SENSORS_ONLY",
            "BATTERY_SAVING",
            "OFF",
            "LOCATION_USER_CHOICE",
            "LOCATION_ENFORCED",
            "LOCATION_DISABLED"
          ],
          "description": "The degree of location detection enabled.",
          "enumDescriptions": [
            "Defaults to LOCATION_USER_CHOICE.",
            "On Android 8 and below, all location detection methods are enabled, including GPS, networks, and other sensors. On Android 9 and above, this is equivalent to LOCATION_ENFORCED.",
            "On Android 8 and below, only GPS and other sensors are enabled. On Android 9 and above, this is equivalent to LOCATION_ENFORCED.",
            "On Android 8 and below, only the network location provider is enabled. On Android 9 and above, this is equivalent to LOCATION_ENFORCED.",
            "On Android 8 and below, location setting and accuracy are disabled. On Android 9 and above, this is equivalent to LOCATION_DISABLED.",
            "Location setting is not restricted on the device. No specific behavior is set or enforced.",
            "Enable location setting on the device.",
            "Disable location setting on the device."
          ],
          "type": "string"
        },
        "debuggingFeaturesAllowed": {
          "description": "Whether the user is allowed to enable debugging features.",
          "type": "boolean"
        },
        "permittedAccessibilityServices": {
          "$ref": "PackageNameList",
          "description": "Specifies permitted accessibility services. If the field is not set, any accessibility service can be used. If the field is set, only the accessibility services in this list and the system's built-in accessibility service can be used. In particular, if the field is set to empty, only the system's built-in accessibility servicess can be used. This can be set on fully managed devices and on work profiles. When applied to a work profile, this affects both the personal profile and the work profile."
        },
        "complianceRules": {
          "type": "array",
          "description": "Rules declaring which mitigating actions to take when a device is not compliant with its policy. When the conditions for multiple rules are satisfied, all of the mitigating actions for the rules are taken. There is a maximum limit of 100 rules. Use policy enforcement rules instead.",
          "items": {
            "$ref": "ComplianceRule"
          }
        },
        "choosePrivateKeyRules": {
          "type": "array",
          "items": {
            "$ref": "ChoosePrivateKeyRule"
          },
          "description": "Rules for determining apps' access to private keys. See ChoosePrivateKeyRule for details."
        },
        "factoryResetDisabled": {
          "description": "Whether factory resetting from settings is disabled.",
          "type": "boolean"
        }
      }
    },
    "ContactInfo": {
      "properties": {
        "euRepresentativeEmail": {
          "description": "The email of the EU representative. The email is validated but not verified.",
          "type": "string"
        },
        "dataProtectionOfficerName": {
          "type": "string",
          "description": "The name of the data protection officer."
        },
        "euRepresentativeName": {
          "type": "string",
          "description": "The name of the EU representative."
        },
        "contactEmail": {
          "description": "Email address for a point of contact, which will be used to send important announcements related to managed Google Play.",
          "type": "string"
        },
        "euRepresentativePhone": {
          "description": "The phone number of the EU representative. The phone number is validated but not verified.",
          "type": "string"
        },
        "dataProtectionOfficerPhone": {
          "type": "string",
          "description": "The phone number of the data protection officer The phone number is validated but not verified."
        },
        "dataProtectionOfficerEmail": {
          "type": "string",
          "description": "The email of the data protection officer. The email is validated but not verified."
        }
      },
      "description": "Contact details for managed Google Play enterprises.",
      "id": "ContactInfo",
      "type": "object"
    },
    "EnrollmentToken": {
      "id": "EnrollmentToken",
      "properties": {
        "user": {
          "description": "The user associated with this enrollment token. If it's specified when the enrollment token is created and the user does not exist, the user will be created. This field must not contain personally identifiable information. Only the account_identifier field needs to be set.",
          "$ref": "User"
        },
        "oneTimeOnly": {
          "type": "boolean",
          "description": "Whether the enrollment token is for one time use only. If the flag is set to true, only one device can use it for registration."
        },
        "additionalData": {
          "description": "Optional, arbitrary data associated with the enrollment token. This could contain, for example, the ID of an org unit the device is assigned to after enrollment. After a device enrolls with the token, this data will be exposed in the enrollment_token_data field of the Device resource. The data must be 1024 characters or less; otherwise, the creation request will fail.",
          "type": "string"
        },
        "qrCode": {
          "type": "string",
          "description": "A JSON string whose UTF-8 representation can be used to generate a QR code to enroll a device with this enrollment token. To enroll a device using NFC, the NFC record must contain a serialized java.util.Properties representation of the properties in the JSON."
        },
        "value": {
          "description": "The token value that's passed to the device and authorizes the device to enroll. This is a read-only field generated by the server.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the enrollment token, which is generated by the server during creation, in the form enterprises/{enterpriseId}/enrollmentTokens/{enrollmentTokenId}."
        },
        "allowPersonalUsage": {
          "enum": [
            "ALLOW_PERSONAL_USAGE_UNSPECIFIED",
            "PERSONAL_USAGE_ALLOWED",
            "PERSONAL_USAGE_DISALLOWED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Personal usage restriction is not specified",
            "Personal usage is allowed",
            "Personal usage is disallowed"
          ],
          "description": "Controls whether personal usage is allowed on a device provisioned with this enrollment token.For company-owned devices: Enabling personal usage allows the user to set up a work profile on the device. Disabling personal usage requires the user provision the device as a fully managed device.For personally-owned devices: Enabling personal usage allows the user to set up a work profile on the device. Disabling personal usage will prevent the device from provisioning. Personal usage cannot be disabled on personally-owned device."
        },
        "expirationTimestamp": {
          "description": "The expiration time of the token. This is a read-only field generated by the server.",
          "format": "google-datetime",
          "type": "string"
        },
        "duration": {
          "description": "The length of time the enrollment token is valid, ranging from 1 minute to 90 days. If not specified, the default duration is 1 hour.",
          "format": "google-duration",
          "type": "string"
        },
        "policyName": {
          "description": "The name of the policy initially applied to the enrolled device, in the form enterprises/{enterpriseId}/policies/{policyId}. If not specified, the policy_name for the device’s user is applied. If user_name is also not specified, enterprises/{enterpriseId}/policies/default is applied by default. When updating this field, you can specify only the policyId as long as the policyId doesn’t contain any slashes. The rest of the policy name will be inferred.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An enrollment token."
    },
    "Display": {
      "properties": {
        "width": {
          "type": "integer",
          "description": "Display width in pixels.",
          "format": "int32"
        },
        "displayId": {
          "type": "integer",
          "description": "Unique display id.",
          "format": "int32"
        },
        "height": {
          "format": "int32",
          "type": "integer",
          "description": "Display height in pixels."
        },
        "density": {
          "format": "int32",
          "description": "Display density expressed as dots-per-inch.",
          "type": "integer"
        },
        "state": {
          "type": "string",
          "description": "State of the display.",
          "enum": [
            "DISPLAY_STATE_UNSPECIFIED",
            "OFF",
            "ON",
            "DOZE",
            "SUSPENDED"
          ],
          "enumDescriptions": [
            "This value is disallowed.",
            "Display is off.",
            "Display is on.",
            "Display is dozing in a low power state",
            "Display is dozing in a suspended low power state."
          ]
        },
        "name": {
          "description": "Name of the display.",
          "type": "string"
        },
        "refreshRate": {
          "description": "Refresh rate of the display in frames per second.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Display",
      "description": "Device display information.",
      "type": "object"
    },
    "TermsAndConditions": {
      "description": "A terms and conditions page to be accepted during provisioning.",
      "id": "TermsAndConditions",
      "properties": {
        "header": {
          "$ref": "UserFacingMessage",
          "description": "A short header which appears above the HTML content."
        },
        "content": {
          "$ref": "UserFacingMessage",
          "description": "A well-formatted HTML string. It will be parsed on the client with android.text.Html#fromHtml."
        }
      },
      "type": "object"
    },
    "AdvancedSecurityOverrides": {
      "properties": {
        "commonCriteriaMode": {
          "description": "Controls Common Criteria Mode—security standards defined in the Common Criteria for Information Technology Security Evaluation (https://www.commoncriteriaportal.org/) (CC). Enabling Common Criteria Mode increases certain security components on a device, including AES-GCM encryption of Bluetooth Long Term Keys, and Wi-Fi configuration stores.Warning: Common Criteria Mode enforces a strict security model typically only required for IT products used in national security systems and other highly sensitive organizations. Standard device use may be affected. Only enabled if required.",
          "type": "string",
          "enum": [
            "COMMON_CRITERIA_MODE_UNSPECIFIED",
            "COMMON_CRITERIA_MODE_DISABLED",
            "COMMON_CRITERIA_MODE_ENABLED"
          ],
          "enumDescriptions": [
            "Unspecified. Defaults to COMMON_CRITERIA_MODE_DISABLED.",
            "Default. Disables Common Criteria Mode.",
            "Enables Common Criteria Mode."
          ]
        },
        "developerSettings": {
          "enumDescriptions": [
            "Unspecified. Defaults to DEVELOPER_SETTINGS_DISABLED.",
            "Default. Disables all developer settings and prevents the user from accessing them.",
            "Allows all developer settings. The user can access and optionally configure the settings."
          ],
          "type": "string",
          "description": "Controls access to developer settings: developer options and safe boot. Replaces safeBootDisabled (deprecated) and debuggingFeaturesAllowed (deprecated).",
          "enum": [
            "DEVELOPER_SETTINGS_UNSPECIFIED",
            "DEVELOPER_SETTINGS_DISABLED",
            "DEVELOPER_SETTINGS_ALLOWED"
          ]
        },
        "googlePlayProtectVerifyApps": {
          "enum": [
            "GOOGLE_PLAY_PROTECT_VERIFY_APPS_UNSPECIFIED",
            "VERIFY_APPS_ENFORCED",
            "VERIFY_APPS_USER_CHOICE"
          ],
          "enumDescriptions": [
            "Unspecified. Defaults to VERIFY_APPS_ENFORCED.",
            "Default. Force-enables app verification.",
            "Allows the user to choose whether to enable app verification."
          ],
          "description": "Whether Google Play Protect verification (https://support.google.com/accounts/answer/2812853) is enforced. Replaces ensureVerifyAppsEnabled (deprecated).",
          "type": "string"
        },
        "untrustedAppsPolicy": {
          "description": "The policy for untrusted apps (apps from unknown sources) enforced on the device. Replaces install_unknown_sources_allowed (deprecated).",
          "enum": [
            "UNTRUSTED_APPS_POLICY_UNSPECIFIED",
            "DISALLOW_INSTALL",
            "ALLOW_INSTALL_IN_PERSONAL_PROFILE_ONLY",
            "ALLOW_INSTALL_DEVICE_WIDE"
          ],
          "enumDescriptions": [
            "Unspecified. Defaults to DISALLOW_INSTALL.",
            "Default. Disallow untrusted app installs on entire device.",
            "For devices with work profiles, allow untrusted app installs in the device's personal profile only.",
            "Allow untrusted app installs on entire device."
          ],
          "type": "string"
        },
        "personalAppsThatCanReadWorkNotifications": {
          "description": "Personal apps that can read work profile notifications using a NotificationListenerService (https://developer.android.com/reference/android/service/notification/NotificationListenerService). By default, no personal apps (aside from system apps) can read work notifications. Each value in the list must be a package name.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AdvancedSecurityOverrides",
      "type": "object",
      "description": "Security policies set to secure values by default. To maintain the security posture of a device, we don't recommend overriding any of the default values."
    },
    "CrossProfilePolicies": {
      "id": "CrossProfilePolicies",
      "properties": {
        "showWorkContactsInPersonalProfile": {
          "type": "string",
          "description": "Whether contacts stored in the work profile can be shown in personal profile contact searches and incoming calls.",
          "enumDescriptions": [
            "Unspecified. Defaults to SHOW_WORK_CONTACTS_IN_PERSONAL_PROFILE_ALLOWED.",
            "Prevents work profile contacts from appearing in personal profile contact searches and incoming calls",
            "Default. Allows work profile contacts to appear in personal profile contact searches and incoming calls"
          ],
          "enum": [
            "SHOW_WORK_CONTACTS_IN_PERSONAL_PROFILE_UNSPECIFIED",
            "SHOW_WORK_CONTACTS_IN_PERSONAL_PROFILE_DISALLOWED",
            "SHOW_WORK_CONTACTS_IN_PERSONAL_PROFILE_ALLOWED"
          ]
        },
        "crossProfileCopyPaste": {
          "enum": [
            "CROSS_PROFILE_COPY_PASTE_UNSPECIFIED",
            "COPY_FROM_WORK_TO_PERSONAL_DISALLOWED",
            "CROSS_PROFILE_COPY_PASTE_ALLOWED"
          ],
          "enumDescriptions": [
            "Unspecified. Defaults to COPY_FROM_WORK_TO_PERSONAL_DISALLOWED",
            "Default. Prevents users from pasting into the personal profile text copied from the work profile. Text copied from the personal profile can be pasted into the work profile, and text copied from the work profile can be pasted into the work profile.",
            "Text copied in either profile can be pasted in the other profile."
          ],
          "description": "Whether text copied from one profile (personal or work) can be pasted in the other profile.",
          "type": "string"
        },
        "crossProfileDataSharing": {
          "type": "string",
          "enum": [
            "CROSS_PROFILE_DATA_SHARING_UNSPECIFIED",
            "CROSS_PROFILE_DATA_SHARING_DISALLOWED",
            "DATA_SHARING_FROM_WORK_TO_PERSONAL_DISALLOWED",
            "CROSS_PROFILE_DATA_SHARING_ALLOWED"
          ],
          "description": "Whether data from one profile (personal or work) can be shared with apps in the other profile. Specifically controls simple data sharing via intents. Management of other cross-profile communication channels, such as contact search, copy/paste, or connected work & personal apps, are configured separately.",
          "enumDescriptions": [
            "Unspecified. Defaults to DATA_SHARING_FROM_WORK_TO_PERSONAL_DISALLOWED.",
            "Prevents data from being shared from both the personal profile to the work profile and the work profile to the personal profile.",
            "Default. Prevents users from sharing data from the work profile to apps in the personal profile. Personal data can be shared with work apps.",
            "Data from either profile can be shared with the other profile."
          ]
        }
      },
      "description": "Cross-profile policies applied on the device.",
      "type": "object"
    },
    "PowerManagementEvent": {
      "type": "object",
      "id": "PowerManagementEvent",
      "description": "A power management event.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "The creation time of the event.",
          "type": "string"
        },
        "batteryLevel": {
          "type": "number",
          "format": "float",
          "description": "For BATTERY_LEVEL_COLLECTED events, the battery level as a percentage."
        },
        "eventType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified. No events have this type.",
            "Battery level was measured.",
            "The device started charging.",
            "The device stopped charging.",
            "The device entered low-power mode.",
            "The device exited low-power mode.",
            "The device booted.",
            "The device shut down."
          ],
          "enum": [
            "POWER_MANAGEMENT_EVENT_TYPE_UNSPECIFIED",
            "BATTERY_LEVEL_COLLECTED",
            "POWER_CONNECTED",
            "POWER_DISCONNECTED",
            "BATTERY_LOW",
            "BATTERY_OKAY",
            "BOOT_COMPLETED",
            "SHUTDOWN"
          ],
          "description": "Event type."
        }
      }
    },
    "AppVersion": {
      "id": "AppVersion",
      "type": "object",
      "description": "This represents a single version of the app.",
      "properties": {
        "versionCode": {
          "type": "integer",
          "description": "Unique increasing identifier for the app version.",
          "format": "int32"
        },
        "trackIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Track identifiers that the app version is published in. This does not include the production track (see production instead)."
        },
        "production": {
          "type": "boolean",
          "description": "If the value is True, it indicates that this version is a production track."
        },
        "versionString": {
          "type": "string",
          "description": "The string used in the Play store by the app developer to identify the version. The string is not necessarily unique or localized (for example, the string could be \"1.4\")."
        }
      }
    },
    "NonComplianceDetailCondition": {
      "id": "NonComplianceDetailCondition",
      "type": "object",
      "properties": {
        "nonComplianceReason": {
          "type": "string",
          "enumDescriptions": [
            "This value is disallowed.",
            "The setting is not supported in the API level of the Android version running on the device.",
            "The management mode (profile owner, device owner, etc.) doesn't support the setting.",
            "The user has not taken required action to comply with the setting.",
            "The setting has an invalid value.",
            "The app required to implement the policy is not installed.",
            "The policy is not supported by the version of Android Device Policy on the device.",
            "A blocked app is installed.",
            "The setting hasn't been applied at the time of the report, but is expected to be applied shortly.",
            "The setting can't be applied to the app because the app doesn't support it, for example because its target SDK version is not high enough.",
            "The app is installed, but it hasn't been updated to the minimum version code specified by policy."
          ],
          "enum": [
            "NON_COMPLIANCE_REASON_UNSPECIFIED",
            "API_LEVEL",
            "MANAGEMENT_MODE",
            "USER_ACTION",
            "INVALID_VALUE",
            "APP_NOT_INSTALLED",
            "UNSUPPORTED",
            "APP_INSTALLED",
            "PENDING",
            "APP_INCOMPATIBLE",
            "APP_NOT_UPDATED"
          ],
          "description": "The reason the device is not in compliance with the setting. If not set, then this condition matches any reason."
        },
        "settingName": {
          "description": "The name of the policy setting. This is the JSON field name of a top-level Policy field. If not set, then this condition matches any setting name.",
          "type": "string"
        },
        "packageName": {
          "description": "The package name of the app that's out of compliance. If not set, then this condition matches any package name.",
          "type": "string"
        }
      },
      "description": "A compliance rule condition which is satisfied if there exists any matching NonComplianceDetail for the device. A NonComplianceDetail matches a NonComplianceDetailCondition if all the fields which are set within the NonComplianceDetailCondition match the corresponding NonComplianceDetail fields."
    },
    "User": {
      "type": "object",
      "id": "User",
      "properties": {
        "accountIdentifier": {
          "type": "string",
          "description": "A unique identifier you create for this user, such as user342 or asset#44418. This field must be set when the user is created and can't be updated. This field must not contain personally identifiable information (PII). This identifier must be 1024 characters or less; otherwise, the update policy request will fail."
        }
      },
      "description": "A user belonging to an enterprise."
    },
    "AlwaysOnVpnPackage": {
      "id": "AlwaysOnVpnPackage",
      "properties": {
        "lockdownEnabled": {
          "description": "Disallows networking when the VPN is not connected.",
          "type": "boolean"
        },
        "packageName": {
          "type": "string",
          "description": "The package name of the VPN app."
        }
      },
      "type": "object",
      "description": "Configuration for an always-on VPN connection."
    },
    "KioskCustomization": {
      "type": "object",
      "id": "KioskCustomization",
      "description": "Settings controlling the behavior of a device in kiosk mode. To enable kiosk mode, set kioskCustomLauncherEnabled to true or specify an app in the policy with installType KIOSK.",
      "properties": {
        "powerButtonActions": {
          "enumDescriptions": [
            "Unspecified, defaults to POWER_BUTTON_AVAILABLE.",
            "The power menu (e.g. Power off, Restart) is shown when a user long-presses the Power button of a device in kiosk mode.",
            "The power menu (e.g. Power off, Restart) is not shown when a user long-presses the Power button of a device in kiosk mode. Note: this may prevent users from turning off the device."
          ],
          "enum": [
            "POWER_BUTTON_ACTIONS_UNSPECIFIED",
            "POWER_BUTTON_AVAILABLE",
            "POWER_BUTTON_BLOCKED"
          ],
          "description": "Sets the behavior of a device in kiosk mode when a user presses and holds (long-presses) the Power button.",
          "type": "string"
        },
        "systemNavigation": {
          "description": "Specifies which navigation features are enabled (e.g. Home, Overview buttons) in kiosk mode.",
          "type": "string",
          "enum": [
            "SYSTEM_NAVIGATION_UNSPECIFIED",
            "NAVIGATION_ENABLED",
            "NAVIGATION_DISABLED",
            "HOME_BUTTON_ONLY"
          ],
          "enumDescriptions": [
            "Unspecified, defaults to NAVIGATION_DISABLED.",
            "Home and overview buttons are enabled.",
            "The home and Overview buttons are not accessible.",
            "Only the home button is enabled."
          ]
        },
        "statusBar": {
          "enumDescriptions": [
            "Unspecified, defaults to INFO_AND_NOTIFICATIONS_DISABLED.",
            "System info and notifications are shown on the status bar in kiosk mode.Note: For this policy to take effect, the device's home button must be enabled using kioskCustomization.systemNavigation.",
            "System info and notifications are disabled in kiosk mode.",
            "Only system info is shown on the status bar."
          ],
          "type": "string",
          "enum": [
            "STATUS_BAR_UNSPECIFIED",
            "NOTIFICATIONS_AND_SYSTEM_INFO_ENABLED",
            "NOTIFICATIONS_AND_SYSTEM_INFO_DISABLED",
            "SYSTEM_INFO_ONLY"
          ],
          "description": "Specifies whether system info and notifications are disabled in kiosk mode."
        },
        "deviceSettings": {
          "enumDescriptions": [
            "Unspecified, defaults to SETTINGS_ACCESS_ALLOWED.",
            "Access to the Settings app is allowed in kiosk mode.",
            "Access to the Settings app is not allowed in kiosk mode."
          ],
          "type": "string",
          "description": "Specifies whether the Settings app is allowed in kiosk mode.",
          "enum": [
            "DEVICE_SETTINGS_UNSPECIFIED",
            "SETTINGS_ACCESS_ALLOWED",
            "SETTINGS_ACCESS_BLOCKED"
          ]
        },
        "systemErrorWarnings": {
          "enumDescriptions": [
            "Unspecified, defaults to ERROR_AND_WARNINGS_MUTED.",
            "All system error dialogs such as crash and app not responding (ANR) are displayed.",
            "All system error dialogs, such as crash and app not responding (ANR) are blocked. When blocked, the system force-stops the app as if the user closes the app from the UI."
          ],
          "enum": [
            "SYSTEM_ERROR_WARNINGS_UNSPECIFIED",
            "ERROR_AND_WARNINGS_ENABLED",
            "ERROR_AND_WARNINGS_MUTED"
          ],
          "type": "string",
          "description": "Specifies whether system error dialogs for crashed or unresponsive apps are blocked in kiosk mode. When blocked, the system will force-stop the app as if the user chooses the \"close app\" option on the UI."
        }
      }
    },
    "ApplicationPolicy": {
      "type": "object",
      "description": "Policy for an individual app.",
      "properties": {
        "autoUpdateMode": {
          "description": "Controls the auto-update mode for the app.",
          "enum": [
            "AUTO_UPDATE_MODE_UNSPECIFIED",
            "AUTO_UPDATE_DEFAULT",
            "AUTO_UPDATE_POSTPONED",
            "AUTO_UPDATE_HIGH_PRIORITY"
          ],
          "enumDescriptions": [
            "Unspecified. Defaults to AUTO_UPDATE_DEFAULT.",
            "The app is automatically updated with low priority to minimize the impact on the user.The app is updated when all of the following constraints are met: The device is not actively used. The device is connected to an unmetered network. The device is charging.The device is notified about a new update within 24 hours after it is published by the developer, after which the app is updated the next time the constraints above are met.",
            "The app is not automatically updated for a maximum of 90 days after the app becomes out of date.90 days after the app becomes out of date, the latest available version is installed automatically with low priority (see AUTO_UPDATE_DEFAULT). After the app is updated it is not automatically updated again until 90 days after it becomes out of date again.The user can still manually update the app from the Play Store at any time.",
            "The app is updated as soon as possible. No constraints are applied.The device is notified immediately about a new update after it becomes available."
          ],
          "type": "string"
        },
        "installType": {
          "description": "The type of installation to perform.",
          "enum": [
            "INSTALL_TYPE_UNSPECIFIED",
            "PREINSTALLED",
            "FORCE_INSTALLED",
            "BLOCKED",
            "AVAILABLE",
            "REQUIRED_FOR_SETUP",
            "KIOSK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Defaults to AVAILABLE.",
            "The app is automatically installed and can be removed by the user.",
            "The app is automatically installed and can't be removed by the user.",
            "The app is blocked and can't be installed. If the app was installed under a previous policy, it will be uninstalled.",
            "The app is available to install.",
            "The app is automatically installed and can't be removed by the user and will prevent setup from completion until installation is complete.",
            "The app is automatically installed in kiosk mode: it's set as the preferred home intent and whitelisted for lock task mode. Device setup won't complete until the app is installed. After installation, users won't be able to remove the app. You can only set this installType for one app per policy. When this is present in the policy, status bar will be automatically disabled."
          ]
        },
        "delegatedScopes": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "No delegation scope specified.",
              "Grants access to certificate installation and management.",
              "Grants access to managed configurations management.",
              "Grants access to blocking uninstallation.",
              "Grants access to permission policy and permission grant state.",
              "Grants access to package access state.",
              "Grants access for enabling system apps."
            ],
            "type": "string",
            "enum": [
              "DELEGATED_SCOPE_UNSPECIFIED",
              "CERT_INSTALL",
              "MANAGED_CONFIGURATIONS",
              "BLOCK_UNINSTALL",
              "PERMISSION_GRANT",
              "PACKAGE_ACCESS",
              "ENABLE_SYSTEM_APP"
            ]
          },
          "description": "The scopes delegated to the app from Android Device Policy."
        },
        "accessibleTrackIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of the app’s track IDs that a device belonging to the enterprise can access. If the list contains multiple track IDs, devices receive the latest version among all accessible tracks. If the list contains no track IDs, devices only have access to the app’s production track. More details about each track are available in AppTrackInfo."
        },
        "permissionGrants": {
          "items": {
            "$ref": "PermissionGrant"
          },
          "type": "array",
          "description": "Explicit permission grants or denials for the app. These values override the default_permission_policy and permission_grants which apply to all apps."
        },
        "managedConfiguration": {
          "description": "Managed configuration applied to the app. The format for the configuration is dictated by the ManagedProperty values supported by the app. Each field name in the managed configuration must match the key field of the ManagedProperty. The field value must be compatible with the type of the ManagedProperty: *type* *JSON value* BOOL true or false STRING string INTEGER number CHOICE string MULTISELECT array of strings HIDDEN string BUNDLE_ARRAY array of objects ",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "packageName": {
          "description": "The package name of the app. For example, com.google.android.youtube for the YouTube app.",
          "type": "string"
        },
        "extensionConfig": {
          "$ref": "ExtensionConfig",
          "description": "Configuration to enable this app as an extension app, with the capability of interacting with Android Device Policy offline.This field can be set for at most one app."
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether the app is disabled. When disabled, the app data is still preserved."
        },
        "lockTaskAllowed": {
          "type": "boolean",
          "description": "Whether the app is allowed to lock itself in full-screen mode. DEPRECATED. Use InstallType KIOSK or kioskCustomLauncherEnabled to to configure a dedicated device."
        },
        "defaultPermissionPolicy": {
          "description": "The default policy for all permissions requested by the app. If specified, this overrides the policy-level default_permission_policy which applies to all apps. It does not override the permission_grants which applies to all apps.",
          "enum": [
            "PERMISSION_POLICY_UNSPECIFIED",
            "PROMPT",
            "GRANT",
            "DENY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Policy not specified. If no policy is specified for a permission at any level, then the PROMPT behavior is used by default.",
            "Prompt the user to grant a permission.",
            "Automatically grant a permission.",
            "Automatically deny a permission."
          ]
        },
        "managedConfigurationTemplate": {
          "description": "The managed configurations template for the app, saved from the managed configurations iframe. This field is ignored if managed_configuration is set.",
          "$ref": "ManagedConfigurationTemplate"
        },
        "minimumVersionCode": {
          "description": "The minimum version of the app that runs on the device. If set, the device attempts to update the app to at least this version code. If the app is not up-to-date, the device will contain a NonComplianceDetail with non_compliance_reason set to APP_NOT_UPDATED. The app must already be published to Google Play with a version code greater than or equal to this value. At most 20 apps may specify a minimum version code per policy.",
          "format": "int32",
          "type": "integer"
        },
        "alwaysOnVpnLockdownExemption": {
          "description": "Specifies whether the app is allowed networking when the VPN is not connected and alwaysOnVpnPackage.lockdownEnabled is enabled. If set to VPN_LOCKDOWN_ENFORCED, the app is not allowed networking, and if set to VPN_LOCKDOWN_EXEMPTION, the app is allowed networking. Only supported on devices running Android 10 and above. If this is not supported by the device, the device will contain a NonComplianceDetail with non_compliance_reason set to API_LEVEL and a fieldPath. If this is not applicable to the app, the device will contain a NonComplianceDetail with non_compliance_reason set to UNSUPPORTED and a fieldPath. The fieldPath is set to applications[i].alwaysOnVpnLockdownExemption, where i is the index of the package in the applications policy.",
          "enum": [
            "ALWAYS_ON_VPN_LOCKDOWN_EXEMPTION_UNSPECIFIED",
            "VPN_LOCKDOWN_ENFORCED",
            "VPN_LOCKDOWN_EXEMPTION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Defaults to VPN_LOCKDOWN_ENFORCED.",
            "The app respects the always-on VPN lockdown setting.",
            "The app is exempt from the always-on VPN lockdown setting."
          ]
        },
        "connectedWorkAndPersonalApp": {
          "enumDescriptions": [
            "Unspecified. Defaults to CONNECTED_WORK_AND_PERSONAL_APPS_DISALLOWED.",
            "Default. Prevents the app from communicating cross-profile.",
            "Allows the app to communicate across profiles after receiving user consent."
          ],
          "enum": [
            "CONNECTED_WORK_AND_PERSONAL_APP_UNSPECIFIED",
            "CONNECTED_WORK_AND_PERSONAL_APP_DISALLOWED",
            "CONNECTED_WORK_AND_PERSONAL_APP_ALLOWED"
          ],
          "description": "Controls whether the app can communicate with itself across a device’s work and personal profiles, subject to user consent.",
          "type": "string"
        }
      },
      "id": "ApplicationPolicy"
    },
    "PolicyEnforcementRule": {
      "id": "PolicyEnforcementRule",
      "description": "A rule that defines the actions to take if a device or work profile is not compliant with the policy specified in settingName.",
      "properties": {
        "settingName": {
          "description": "The top-level policy to enforce. For example, applications or passwordPolicies.",
          "type": "string"
        },
        "blockAction": {
          "$ref": "BlockAction",
          "description": "An action to block access to apps and data on a fully managed device or in a work profile. This action also triggers a user-facing notification with information (where possible) on how to correct the compliance issue. Note: wipeAction must also be specified."
        },
        "wipeAction": {
          "$ref": "WipeAction",
          "description": "An action to reset a fully managed device or delete a work profile. Note: blockAction must also be specified."
        }
      },
      "type": "object"
    },
    "Device": {
      "type": "object",
      "description": "A device owned by an enterprise. Unless otherwise noted, all fields are read-only and can't be modified by enterprises.devices.patch.",
      "id": "Device",
      "properties": {
        "user": {
          "$ref": "User",
          "description": "The user who owns the device."
        },
        "powerManagementEvents": {
          "description": "Power management events on the device in chronological order. This information is only available if powerManagementEventsEnabled is true in the device's policy.",
          "items": {
            "$ref": "PowerManagementEvent"
          },
          "type": "array"
        },
        "applicationReports": {
          "type": "array",
          "items": {
            "$ref": "ApplicationReport"
          },
          "description": "Reports for apps installed on the device. This information is only available when application_reports_enabled is true in the device's policy."
        },
        "appliedPolicyVersion": {
          "format": "int64",
          "description": "The version of the policy currently applied to the device.",
          "type": "string"
        },
        "disabledReason": {
          "$ref": "UserFacingMessage",
          "description": "If the device state is DISABLED, an optional message that is displayed on the device indicating the reason the device is disabled. This field can be modified by a patch request."
        },
        "softwareInfo": {
          "$ref": "SoftwareInfo",
          "description": "Detailed information about the device software. This information is only available if softwareInfoEnabled is true in the device's policy."
        },
        "previousDeviceNames": {
          "description": "If the same physical device has been enrolled multiple times, this field contains its previous device names. The serial number is used as the unique identifier to determine if the same physical device has enrolled previously. The names are in chronological order.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "appliedPasswordPolicies": {
          "items": {
            "$ref": "PasswordRequirements"
          },
          "type": "array",
          "description": "The password requirements currently applied to the device. The applied requirements may be slightly different from those specified in passwordPolicies in some cases. fieldPath is set based on passwordPolicies."
        },
        "lastStatusReportTime": {
          "type": "string",
          "description": "The last time the device sent a status report.",
          "format": "google-datetime"
        },
        "hardwareInfo": {
          "description": "Detailed information about the device hardware.",
          "$ref": "HardwareInfo"
        },
        "securityPosture": {
          "$ref": "SecurityPosture",
          "description": "Device's security posture value that reflects how secure the device is."
        },
        "appliedPolicyName": {
          "description": "The name of the policy currently applied to the device.",
          "type": "string"
        },
        "managementMode": {
          "enum": [
            "MANAGEMENT_MODE_UNSPECIFIED",
            "DEVICE_OWNER",
            "PROFILE_OWNER"
          ],
          "type": "string",
          "description": "The type of management mode Android Device Policy takes on the device. This influences which policy settings are supported.",
          "enumDescriptions": [
            "This value is disallowed.",
            "Device owner. Android Device Policy has full control over the device.",
            "Profile owner. Android Device Policy has control over a managed profile on the device."
          ]
        },
        "apiLevel": {
          "format": "int32",
          "type": "integer",
          "description": "The API level of the Android platform version running on the device."
        },
        "name": {
          "description": "The name of the device in the form enterprises/{enterpriseId}/devices/{deviceId}.",
          "type": "string"
        },
        "userName": {
          "type": "string",
          "description": "The resource name of the user that owns this device in the form enterprises/{enterpriseId}/users/{userId}."
        },
        "memoryEvents": {
          "description": "Events related to memory and storage measurements in chronological order. This information is only available if memoryInfoEnabled is true in the device's policy.",
          "type": "array",
          "items": {
            "$ref": "MemoryEvent"
          }
        },
        "appliedState": {
          "type": "string",
          "enumDescriptions": [
            "This value is disallowed.",
            "The device is active.",
            "The device is disabled.",
            "The device was deleted. This state is never returned by an API call, but is used in the final status report when the device acknowledges the deletion. If the device is deleted via the API call, this state is published to Pub/Sub. If the user deletes the work profile or resets the device, the device state will remain unknown to the server.",
            "The device is being provisioned. Newly enrolled devices are in this state until they have a policy applied."
          ],
          "description": "The state currently applied to the device.",
          "enum": [
            "DEVICE_STATE_UNSPECIFIED",
            "ACTIVE",
            "DISABLED",
            "DELETED",
            "PROVISIONING"
          ]
        },
        "memoryInfo": {
          "$ref": "MemoryInfo",
          "description": "Memory information: contains information about device memory and storage."
        },
        "state": {
          "enum": [
            "DEVICE_STATE_UNSPECIFIED",
            "ACTIVE",
            "DISABLED",
            "DELETED",
            "PROVISIONING"
          ],
          "type": "string",
          "description": "The state to be applied to the device. This field can be modified by a patch request. Note that when calling enterprises.devices.patch, ACTIVE and DISABLED are the only allowable values. To enter the device into a DELETED state, call enterprises.devices.delete.",
          "enumDescriptions": [
            "This value is disallowed.",
            "The device is active.",
            "The device is disabled.",
            "The device was deleted. This state is never returned by an API call, but is used in the final status report when the device acknowledges the deletion. If the device is deleted via the API call, this state is published to Pub/Sub. If the user deletes the work profile or resets the device, the device state will remain unknown to the server.",
            "The device is being provisioned. Newly enrolled devices are in this state until they have a policy applied."
          ]
        },
        "deviceSettings": {
          "description": "Device settings information. This information is only available if deviceSettingsEnabled is true in the device's policy.",
          "$ref": "DeviceSettings"
        },
        "lastPolicySyncTime": {
          "format": "google-datetime",
          "description": "The last time the device fetched its policy.",
          "type": "string"
        },
        "ownership": {
          "type": "string",
          "description": "Ownership of the managed device.",
          "enum": [
            "OWNERSHIP_UNSPECIFIED",
            "COMPANY_OWNED",
            "PERSONALLY_OWNED"
          ],
          "enumDescriptions": [
            "Ownership is unspecified.",
            "Device is company-owned.",
[...]
