{
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "basePath": "",
  "protocol": "rest",
  "title": "Google Play Android Developer API",
  "version": "v3",
  "canonicalName": "Android Publisher",
  "schemas": {
    "DeviceGroup": {
      "description": "A group of devices. A group is defined by a set of device selectors. A device belongs to the group if it matches any selector (logical OR).",
      "properties": {
        "deviceSelectors": {
          "items": {
            "$ref": "DeviceSelector"
          },
          "description": "Device selectors for this group. A device matching any of the selectors is included in this group.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "The name of the group."
        }
      },
      "type": "object",
      "id": "DeviceGroup"
    },
    "DeviceFeatureTargeting": {
      "properties": {
        "requiredFeature": {
          "description": "Feature of the device.",
          "$ref": "DeviceFeature"
        }
      },
      "id": "DeviceFeatureTargeting",
      "description": "Targeting for a device feature.",
      "type": "object"
    },
    "VoidedPurchase": {
      "id": "VoidedPurchase",
      "type": "object",
      "properties": {
        "voidedSource": {
          "description": "The initiator of voided purchase, possible values are: 0. User 1. Developer 2. Google",
          "format": "int32",
          "type": "integer"
        },
        "purchaseToken": {
          "description": "The token which uniquely identifies a one-time purchase or subscription. To uniquely identify subscription renewals use order_id (available starting from version 3 of the API).",
          "type": "string"
        },
        "kind": {
          "description": "This kind represents a voided purchase object in the androidpublisher service.",
          "type": "string"
        },
        "orderId": {
          "type": "string",
          "description": "The order id which uniquely identifies a one-time purchase, subscription purchase, or subscription renewal."
        },
        "purchaseTimeMillis": {
          "type": "string",
          "format": "int64",
          "description": "The time at which the purchase was made, in milliseconds since the epoch (Jan 1, 1970)."
        },
        "voidedReason": {
          "description": "The reason why the purchase was voided, possible values are: 0. Other 1. Remorse 2. Not_received 3. Defective 4. Accidental_purchase 5. Fraud 6. Friendly_fraud 7. Chargeback",
          "format": "int32",
          "type": "integer"
        },
        "voidedTimeMillis": {
          "format": "int64",
          "type": "string",
          "description": "The time at which the purchase was canceled/refunded/charged-back, in milliseconds since the epoch (Jan 1, 1970)."
        }
      },
      "description": "A VoidedPurchase resource indicates a purchase that was either canceled/refunded/charged-back."
    },
    "ActivateSubscriptionOfferRequest": {
      "properties": {},
      "id": "ActivateSubscriptionOfferRequest",
      "type": "object",
      "description": "Request message for ActivateSubscriptionOffer."
    },
    "DeveloperInitiatedCancellation": {
      "id": "DeveloperInitiatedCancellation",
      "description": "Information specific to cancellations initiated by developers.",
      "type": "object",
      "properties": {}
    },
    "DeviceTierConfig": {
      "id": "DeviceTierConfig",
      "properties": {
        "deviceGroups": {
          "items": {
            "$ref": "DeviceGroup"
          },
          "description": "Definition of device groups for the app.",
          "type": "array"
        },
        "deviceTierSet": {
          "$ref": "DeviceTierSet",
          "description": "Definition of the set of device tiers for the app."
        },
        "deviceTierConfigId": {
          "description": "Output only. The device tier config ID.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "userCountrySets": {
          "type": "array",
          "description": "Definition of user country sets for the app.",
          "items": {
            "$ref": "UserCountrySet"
          }
        }
      },
      "description": "Configuration describing device targeting criteria for the content of an app.",
      "type": "object"
    },
    "FullRefund": {
      "type": "object",
      "properties": {},
      "id": "FullRefund",
      "description": "A full refund of the remaining amount of a transaction."
    },
    "ManagedProductTaxAndComplianceSettings": {
      "properties": {
        "eeaWithdrawalRightType": {
          "enum": [
            "WITHDRAWAL_RIGHT_TYPE_UNSPECIFIED",
            "WITHDRAWAL_RIGHT_DIGITAL_CONTENT",
            "WITHDRAWAL_RIGHT_SERVICE"
          ],
          "description": "Digital content or service classification for products distributed to users in the European Economic Area (EEA). The withdrawal regime under EEA consumer laws depends on this classification. Refer to the [Help Center article](https://support.google.com/googleplay/android-developer/answer/10463498) for more information.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "isTokenizedDigitalAsset": {
          "description": "Whether this in-app product is declared as a product representing a tokenized digital asset.",
          "type": "boolean"
        },
        "taxRateInfoByRegionCode": {
          "type": "object",
          "additionalProperties": {
            "$ref": "RegionalTaxRateInfo"
          },
          "description": "A mapping from region code to tax rate details. The keys are region codes as defined by Unicode's \"CLDR\"."
        }
      },
      "type": "object",
      "id": "ManagedProductTaxAndComplianceSettings",
      "description": "Details about taxation and legal compliance for managed products."
    },
    "ScreenDensityTargeting": {
      "type": "object",
      "description": "Targeting based on screen density.",
      "id": "ScreenDensityTargeting",
      "properties": {
        "alternatives": {
          "type": "array",
          "description": "Targeting of other sibling directories that were in the Bundle. For main splits this is targeting of other main splits.",
          "items": {
            "$ref": "ScreenDensity"
          }
        },
        "value": {
          "type": "array",
          "description": "Value of a screen density.",
          "items": {
            "$ref": "ScreenDensity"
          }
        }
      }
    },
    "SystemInitiatedCancellation": {
      "type": "object",
      "description": "Information specific to cancellations initiated by Google system.",
      "properties": {},
      "id": "SystemInitiatedCancellation"
    },
    "SdkVersion": {
      "id": "SdkVersion",
      "description": "Represents an sdk version.",
      "type": "object",
      "properties": {
        "min": {
          "description": "Inclusive minimum value of an sdk version.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "AppDetails": {
      "description": "The app details. The resource for DetailsService.",
      "properties": {
        "contactPhone": {
          "description": "The user-visible support telephone number for this app.",
          "type": "string"
        },
        "contactEmail": {
          "type": "string",
          "description": "The user-visible support email for this app."
        },
        "defaultLanguage": {
          "description": "Default language code, in BCP 47 format (eg \"en-US\").",
          "type": "string"
        },
        "contactWebsite": {
          "type": "string",
          "description": "The user-visible website for this app."
        }
      },
      "id": "AppDetails",
      "type": "object"
    },
    "ListUsersResponse": {
      "description": "A response containing one or more users with access to an account.",
      "properties": {
        "users": {
          "description": "The resulting users.",
          "type": "array",
          "items": {
            "$ref": "User"
          }
        },
        "nextPageToken": {
          "description": "A token to pass to subsequent calls in order to retrieve subsequent results. This will not be set if there are no more results to return.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListUsersResponse"
    },
    "ExternallyHostedApk": {
      "type": "object",
      "id": "ExternallyHostedApk",
      "properties": {
        "iconBase64": {
          "type": "string",
          "description": "The icon image from the APK, as a base64 encoded byte array."
        },
        "minimumSdk": {
          "description": "The minimum SDK targeted by this APK.",
          "format": "int32",
          "type": "integer"
        },
        "nativeCodes": {
          "type": "array",
          "description": "The native code environments supported by this APK (optional).",
          "items": {
            "type": "string"
          }
        },
        "packageName": {
          "description": "The package name.",
          "type": "string"
        },
        "fileSha1Base64": {
          "type": "string",
          "description": "The sha1 checksum of this APK, represented as a base64 encoded byte array."
        },
        "fileSize": {
          "description": "The file size in bytes of this APK.",
          "format": "int64",
          "type": "string"
        },
        "usesFeatures": {
          "items": {
            "type": "string"
          },
          "description": "The features required by this APK (optional).",
          "type": "array"
        },
        "versionCode": {
          "description": "The version code of this APK.",
          "type": "integer",
          "format": "int32"
        },
        "certificateBase64s": {
          "description": "A certificate (or array of certificates if a certificate-chain is used) used to sign this APK, represented as a base64 encoded byte array.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "maximumSdk": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum SDK supported by this APK (optional)."
        },
        "fileSha256Base64": {
          "description": "The sha256 checksum of this APK, represented as a base64 encoded byte array.",
          "type": "string"
        },
        "applicationLabel": {
          "description": "The application label.",
          "type": "string"
        },
        "usesPermissions": {
          "description": "The permissions requested by this APK.",
          "type": "array",
          "items": {
            "$ref": "UsesPermission"
          }
        },
        "externallyHostedUrl": {
          "description": "The URL at which the APK is hosted. This must be an https URL.",
          "type": "string"
        },
        "versionName": {
          "type": "string",
          "description": "The version name of this APK."
        }
      },
      "description": "Defines an APK available for this application that is hosted externally and not uploaded to Google Play. This function is only available to organizations using Managed Play whose application is configured to restrict distribution to the organizations."
    },
    "ExternalAccountIdentifiers": {
      "properties": {
        "externalAccountId": {
          "description": "User account identifier in the third-party service. Only present if account linking happened as part of the subscription purchase flow.",
          "type": "string"
        },
        "obfuscatedExternalProfileId": {
          "type": "string",
          "description": "An obfuscated version of the id that is uniquely associated with the user's profile in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedprofileid when the purchase was made."
        },
        "obfuscatedExternalAccountId": {
          "type": "string",
          "description": "An obfuscated version of the id that is uniquely associated with the user's account in your app. Present for the following purchases: * If account linking happened as part of the subscription purchase flow. * It was specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedaccountid when the purchase was made."
        }
      },
      "type": "object",
      "id": "ExternalAccountIdentifiers",
      "description": "User account identifier in the third-party service."
    },
    "RegionalBasePlanConfig": {
      "properties": {
        "regionCode": {
          "description": "Required. Region code this configuration applies to, as defined by ISO 3166-2, e.g. \"US\".",
          "type": "string"
        },
        "newSubscriberAvailability": {
          "description": "Whether the base plan in the specified region is available for new subscribers. Existing subscribers will not have their subscription canceled if this value is set to false. If not specified, this will default to false.",
          "type": "boolean"
        },
        "price": {
          "$ref": "Money",
          "description": "The price of the base plan in the specified region. Must be set if the base plan is available to new subscribers. Must be set in the currency that is linked to the specified region."
        }
      },
      "id": "RegionalBasePlanConfig",
      "description": "Configuration for a base plan specific to a region.",
      "type": "object"
    },
    "ApkSet": {
      "type": "object",
      "id": "ApkSet",
      "properties": {
        "apkDescription": {
          "items": {
            "$ref": "ApkDescription"
          },
          "type": "array",
          "description": "Description of the generated apks."
        },
        "moduleMetadata": {
          "description": "Metadata about the module represented by this ApkSet",
          "$ref": "ModuleMetadata"
        }
      },
      "description": "A set of apks representing a module."
    },
    "ModuleTargeting": {
      "type": "object",
      "properties": {
        "sdkVersionTargeting": {
          "description": "The sdk version that the variant targets",
          "$ref": "SdkVersionTargeting"
        },
        "userCountriesTargeting": {
          "description": "Countries-level targeting",
          "$ref": "UserCountriesTargeting"
        },
        "deviceFeatureTargeting": {
          "description": "Targeting for device features.",
          "items": {
            "$ref": "DeviceFeatureTargeting"
          },
          "type": "array"
        }
      },
      "id": "ModuleTargeting",
      "description": "Targeting on the module level."
    },
    "ExternalTransactionAddress": {
      "properties": {
        "regionCode": {
          "description": "Required. Two letter region code based on ISO-3166-1 Alpha-2 (UN region codes).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ExternalTransactionAddress",
      "description": "User's address for the external transaction."
    },
    "UserComment": {
      "description": "User entry from conversation between user and developer.",
      "id": "UserComment",
      "properties": {
        "reviewerLanguage": {
          "type": "string",
          "description": "Language code for the reviewer. This is taken from the device settings so is not guaranteed to match the language the review is written in. May be absent."
        },
        "originalText": {
          "description": "Untranslated text of the review, where the review was translated. If the review was not translated this is left blank.",
          "type": "string"
        },
        "appVersionName": {
          "description": "String version name of the app as installed at the time the review was written. May be absent.",
          "type": "string"
        },
        "starRating": {
          "format": "int32",
          "description": "The star rating associated with the review, from 1 to 5.",
          "type": "integer"
        },
        "text": {
          "description": "The content of the comment, i.e. review body. In some cases users have been able to write a review with separate title and body; in those cases the title and body are concatenated and separated by a tab character.",
          "type": "string"
        },
        "thumbsDownCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of users who have given this review a thumbs down."
        },
        "appVersionCode": {
          "description": "Integer version code of the app as installed at the time the review was written. May be absent.",
          "format": "int32",
          "type": "integer"
        },
        "androidOsVersion": {
          "description": "Integer Android SDK version of the user's device at the time the review was written, e.g. 23 is Marshmallow. May be absent.",
          "type": "integer",
          "format": "int32"
        },
        "deviceMetadata": {
          "$ref": "DeviceMetadata",
          "description": "Information about the characteristics of the user's device."
        },
        "device": {
          "type": "string",
          "description": "Codename for the reviewer's device, e.g. klte, flounder. May be absent."
        },
        "lastModified": {
          "$ref": "Timestamp",
          "description": "The last time at which this comment was updated."
        },
        "thumbsUpCount": {
          "description": "Number of users who have given this review a thumbs up.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "SubscriptionPurchasesDeferResponse": {
      "properties": {
        "newExpiryTimeMillis": {
          "description": "The new expiry time for the subscription in milliseconds since the Epoch.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Response for the purchases.subscriptions.defer API.",
      "id": "SubscriptionPurchasesDeferResponse"
    },
    "MigrateBasePlanPricesRequest": {
      "id": "MigrateBasePlanPricesRequest",
      "type": "object",
      "properties": {
        "regionalPriceMigrations": {
          "type": "array",
          "items": {
            "$ref": "RegionalPriceMigrationConfig"
          },
          "description": "Required. The regional prices to update."
        },
        "regionsVersion": {
          "$ref": "RegionsVersion",
          "description": "Required. The version of the available regions being used for the regional_price_migrations."
        }
      },
      "description": "Request message for MigrateBasePlanPrices."
    },
    "ImagesDeleteAllResponse": {
      "id": "ImagesDeleteAllResponse",
      "type": "object",
      "properties": {
        "deleted": {
          "type": "array",
          "items": {
            "$ref": "Image"
          },
          "description": "The deleted images."
        }
      },
      "description": "Response for deleting all images."
    },
    "ApksListResponse": {
      "properties": {
        "kind": {
          "description": "The kind of this response (\"androidpublisher#apksListResponse\").",
          "type": "string"
        },
        "apks": {
          "description": "All APKs.",
          "type": "array",
          "items": {
            "$ref": "Apk"
          }
        }
      },
      "type": "object",
      "description": "Response listing all APKs.",
      "id": "ApksListResponse"
    },
    "PartialRefund": {
      "id": "PartialRefund",
      "properties": {
        "refundId": {
          "type": "string",
          "description": "Required. A unique id distinguishing this partial refund. If the refund is successful, subsequent refunds with the same id will fail. Must be unique across refunds for one individual transaction."
        },
        "refundPreTaxAmount": {
          "description": "Required. The pre-tax amount of the partial refund. Should be less than the remaining pre-tax amount of the transaction.",
          "$ref": "Price"
        }
      },
      "description": "A partial refund of a transaction.",
      "type": "object"
    },
    "TracksListResponse": {
      "description": "Response listing all tracks.",
      "type": "object",
      "id": "TracksListResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of this response (\"androidpublisher#tracksListResponse\")."
        },
        "tracks": {
          "items": {
            "$ref": "Track"
          },
          "description": "All tracks.",
          "type": "array"
        }
      }
    },
    "CanceledStateContext": {
      "properties": {
        "replacementCancellation": {
          "$ref": "ReplacementCancellation",
          "description": "Subscription was replaced by a new subscription."
        },
        "systemInitiatedCancellation": {
          "description": "Subscription was canceled by the system, for example because of a billing problem.",
          "$ref": "SystemInitiatedCancellation"
        },
        "developerInitiatedCancellation": {
          "description": "Subscription was canceled by the developer.",
          "$ref": "DeveloperInitiatedCancellation"
        },
        "userInitiatedCancellation": {
          "description": "Subscription was canceled by user.",
          "$ref": "UserInitiatedCancellation"
        }
      },
      "type": "object",
      "id": "CanceledStateContext",
      "description": "Information specific to a subscription in canceled state."
    },
    "OneTimeExternalTransaction": {
      "description": "Represents a one-time transaction.",
      "id": "OneTimeExternalTransaction",
      "type": "object",
      "properties": {
        "externalTransactionToken": {
          "description": "Input only. Provided during the call to Create. Retrieved from the client when the alternative billing flow is launched.",
          "type": "string"
        }
      }
    },
    "GeneratedUniversalApk": {
      "id": "GeneratedUniversalApk",
      "description": "Download metadata for a universal APK.",
      "type": "object",
      "properties": {
        "downloadId": {
          "description": "Download ID, which uniquely identifies the APK to download. Should be supplied to `generatedapks.download` method.",
          "type": "string"
        }
      }
    },
    "BasePlan": {
      "id": "BasePlan",
      "description": "A single base plan for a subscription.",
      "properties": {
        "otherRegionsConfig": {
          "$ref": "OtherRegionsBasePlanConfig",
          "description": "Pricing information for any new locations Play may launch in the future. If omitted, the BasePlan will not be automatically available any new locations Play may launch in the future."
        },
        "prepaidBasePlanType": {
          "$ref": "PrepaidBasePlanType",
          "description": "Set when the base plan does not automatically renew at the end of the billing period."
        },
        "basePlanId": {
          "description": "Required. Immutable. The unique identifier of this base plan. Must be unique within the subscription, and conform with RFC-1034. That is, this ID can only contain lower-case letters (a-z), numbers (0-9), and hyphens (-), and be at most 63 characters.",
          "type": "string"
        },
        "offerTags": {
          "type": "array",
          "description": "List of up to 20 custom tags specified for this base plan, and returned to the app through the billing library. Subscription offers for this base plan will also receive these offer tags in the billing library.",
          "items": {
            "$ref": "OfferTag"
          }
        },
        "state": {
          "description": "Output only. The state of the base plan, i.e. whether it's active. Draft and inactive base plans can be activated or deleted. Active base plans can be made inactive. Inactive base plans can be canceled. This field cannot be changed by updating the resource. Use the dedicated endpoints instead.",
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "ACTIVE",
            "INACTIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "The base plan is currently in a draft state, and hasn't been activated. It can be safely deleted at this point.",
            "The base plan is active and available for new subscribers.",
            "The base plan is inactive and only available for existing subscribers."
          ],
          "readOnly": true
        },
        "regionalConfigs": {
          "type": "array",
          "description": "Region-specific information for this base plan.",
          "items": {
            "$ref": "RegionalBasePlanConfig"
          }
        },
        "autoRenewingBasePlanType": {
          "$ref": "AutoRenewingBasePlanType",
          "description": "Set when the base plan automatically renews at a regular interval."
        }
      },
      "type": "object"
    },
    "ProductPurchase": {
      "type": "object",
      "description": "A ProductPurchase resource indicates the status of a user's inapp product purchase.",
      "id": "ProductPurchase",
      "properties": {
        "obfuscatedExternalAccountId": {
          "description": "An obfuscated version of the id that is uniquely associated with the user's account in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedaccountid when the purchase was made.",
          "type": "string"
        },
        "regionCode": {
          "description": "ISO 3166-1 alpha-2 billing region code of the user at the time the product was granted.",
          "type": "string"
        },
        "purchaseToken": {
          "type": "string",
          "description": "The purchase token generated to identify this purchase. May not be present."
        },
        "developerPayload": {
          "description": "A developer-specified string that contains supplemental information about an order.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This kind represents an inappPurchase object in the androidpublisher service."
        },
        "acknowledgementState": {
          "type": "integer",
          "format": "int32",
          "description": "The acknowledgement state of the inapp product. Possible values are: 0. Yet to be acknowledged 1. Acknowledged"
        },
        "orderId": {
          "type": "string",
          "description": "The order id associated with the purchase of the inapp product."
        },
        "productId": {
          "description": "The inapp product SKU. May not be present.",
          "type": "string"
        },
        "purchaseType": {
          "type": "integer",
          "format": "int32",
          "description": "The type of purchase of the inapp product. This field is only set if this purchase was not made using the standard in-app billing flow. Possible values are: 0. Test (i.e. purchased from a license testing account) 1. Promo (i.e. purchased using a promo code) 2. Rewarded (i.e. from watching a video ad instead of paying)"
        },
        "quantity": {
          "format": "int32",
          "description": "The quantity associated with the purchase of the inapp product. If not present, the quantity is 1.",
          "type": "integer"
        },
        "consumptionState": {
          "type": "integer",
          "description": "The consumption state of the inapp product. Possible values are: 0. Yet to be consumed 1. Consumed",
          "format": "int32"
        },
        "obfuscatedExternalProfileId": {
          "type": "string",
          "description": "An obfuscated version of the id that is uniquely associated with the user's profile in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedprofileid when the purchase was made."
        },
        "purchaseState": {
          "format": "int32",
          "description": "The purchase state of the order. Possible values are: 0. Purchased 1. Canceled 2. Pending",
          "type": "integer"
        },
        "purchaseTimeMillis": {
          "format": "int64",
          "description": "The time the product was purchased, in milliseconds since the epoch (Jan 1, 1970).",
          "type": "string"
        }
      }
    },
    "ExternalTransactionTestPurchase": {
      "id": "ExternalTransactionTestPurchase",
      "description": "Represents a transaction performed using a test account. These transactions will not be charged by Google.",
      "type": "object",
      "properties": {}
    },
    "SubscriptionItemPriceChangeDetails": {
      "description": "Price change related information of a subscription item.",
      "type": "object",
      "properties": {
        "priceChangeState": {
          "description": "State the price change is currently in.",
          "type": "string",
          "enum": [
            "PRICE_CHANGE_STATE_UNSPECIFIED",
            "OUTSTANDING",
            "CONFIRMED",
            "APPLIED"
          ],
          "enumDescriptions": [
            "Price change state unspecified. This value should not be used.",
            "Waiting for the user to agree for the price change.",
            "The price change is confirmed to happen for the user.",
            "The price change is applied, i.e. the user has started being charged the new price."
          ]
        },
        "expectedNewPriceChargeTime": {
          "format": "google-datetime",
          "description": "The renewal time at which the price change will become effective for the user. This is subject to change(to a future time) due to cases where the renewal time shifts like pause.",
          "type": "string"
        },
        "priceChangeMode": {
          "enum": [
            "PRICE_CHANGE_MODE_UNSPECIFIED",
            "PRICE_DECREASE",
            "PRICE_INCREASE"
          ],
          "description": "Price change mode specifies how the subscription item price is changing.",
          "type": "string",
          "enumDescriptions": [
            "Price change mode unspecified. This value should never be set.",
            "If the subscription price is decreasing.",
            "If the subscription price is increasing and the user needs to accept it."
          ]
        },
        "newPrice": {
          "description": "New recurring price for the subscription item.",
          "$ref": "Money"
        }
      },
      "id": "SubscriptionItemPriceChangeDetails"
    },
    "OtherRegionsSubscriptionOfferPhasePrices": {
      "id": "OtherRegionsSubscriptionOfferPhasePrices",
      "properties": {
        "eurPrice": {
          "$ref": "Money",
          "description": "Required. Price in EUR to use for any new locations Play may launch in."
        },
        "usdPrice": {
          "description": "Required. Price in USD to use for any new locations Play may launch in.",
          "$ref": "Money"
        }
      },
      "type": "object",
      "description": "Pricing information for any new locations Play may launch in."
    },
    "Image": {
      "type": "object",
      "id": "Image",
      "properties": {
        "sha1": {
          "type": "string",
          "description": "A sha1 hash of the image."
        },
        "url": {
          "type": "string",
          "description": "A URL that will serve a preview of the image."
        },
        "id": {
          "type": "string",
          "description": "A unique id representing this image."
        },
        "sha256": {
          "type": "string",
          "description": "A sha256 hash of the image."
        }
      },
      "description": "An uploaded image. The resource for ImagesService."
    },
    "InAppProduct": {
      "description": "An in-app product. The resource for InappproductsService.",
      "id": "InAppProduct",
      "properties": {
        "subscriptionPeriod": {
          "type": "string",
          "description": "Subscription period, specified in ISO 8601 format. Acceptable values are P1W (one week), P1M (one month), P3M (three months), P6M (six months), and P1Y (one year)."
        },
        "trialPeriod": {
          "description": "Trial period, specified in ISO 8601 format. Acceptable values are anything between P7D (seven days) and P999D (999 days).",
          "type": "string"
        },
        "defaultPrice": {
          "description": "Default price. Cannot be zero, as in-app products are never free. Always in the developer's Checkout merchant currency.",
          "$ref": "Price"
        },
        "managedProductTaxesAndComplianceSettings": {
          "description": "Details about taxes and legal compliance. Only applicable to managed products.",
          "$ref": "ManagedProductTaxAndComplianceSettings"
        },
        "gracePeriod": {
          "type": "string",
          "description": "Grace period of the subscription, specified in ISO 8601 format. Allows developers to give their subscribers a grace period when the payment for the new recurrence period is declined. Acceptable values are P0D (zero days), P3D (three days), P7D (seven days), P14D (14 days), and P30D (30 days)."
        },
        "status": {
          "enum": [
            "statusUnspecified",
            "active",
            "inactive"
          ],
          "enumDescriptions": [
            "Unspecified status.",
            "The product is published and active in the store.",
            "The product is not published and therefore inactive in the store."
          ],
          "type": "string",
          "description": "The status of the product, e.g. whether it's active."
        },
        "listings": {
          "description": "List of localized title and description data. Map key is the language of the localized data, as defined by BCP-47, e.g. \"en-US\".",
          "additionalProperties": {
            "$ref": "InAppProductListing"
          },
          "type": "object"
        },
        "subscriptionTaxesAndComplianceSettings": {
          "description": "Details about taxes and legal compliance. Only applicable to subscription products.",
          "$ref": "SubscriptionTaxAndComplianceSettings"
        },
        "packageName": {
          "type": "string",
          "description": "Package name of the parent app."
        },
        "sku": {
          "description": "Stock-keeping-unit (SKU) of the product, unique within an app.",
          "type": "string"
        },
        "prices": {
          "additionalProperties": {
            "$ref": "Price"
          },
          "type": "object",
          "description": "Prices per buyer region. None of these can be zero, as in-app products are never free. Map key is region code, as defined by ISO 3166-2."
        },
        "purchaseType": {
          "description": "The type of the product, e.g. a recurring subscription.",
          "enumDescriptions": [
            "Unspecified purchase type.",
            "The default product type - one time purchase.",
            "In-app product with a recurring period."
          ],
          "type": "string",
          "enum": [
            "purchaseTypeUnspecified",
            "managedUser",
            "subscription"
          ]
        },
        "defaultLanguage": {
          "type": "string",
          "description": "Default language of the localized data, as defined by BCP-47. e.g. \"en-US\"."
        }
      },
      "type": "object"
    },
    "OtherRegionsBasePlanConfig": {
      "id": "OtherRegionsBasePlanConfig",
      "properties": {
        "usdPrice": {
          "$ref": "Money",
          "description": "Required. Price in USD to use for any new locations Play may launch in."
        },
        "eurPrice": {
          "description": "Required. Price in EUR to use for any new locations Play may launch in.",
          "$ref": "Money"
        },
        "newSubscriberAvailability": {
          "type": "boolean",
          "description": "Whether the base plan is available for new subscribers in any new locations Play may launch in. If not specified, this will default to false."
        }
      },
      "type": "object",
      "description": "Pricing information for any new locations Play may launch in."
    },
    "SplitApkMetadata": {
      "description": "Holds data specific to Split APKs.",
      "properties": {
        "isMasterSplit": {
          "description": "Indicates whether this APK is the main split of the module.",
          "type": "boolean"
        },
        "splitId": {
          "type": "string",
          "description": "Id of the split."
        }
      },
      "id": "SplitApkMetadata",
      "type": "object"
    },
    "DeviceSpec": {
      "description": "The device spec used to generate a system APK.",
      "properties": {
        "screenDensity": {
          "description": "Screen dpi.",
          "format": "uint32",
          "type": "integer"
        },
        "supportedLocales": {
          "items": {
            "type": "string"
          },
          "description": "All installed locales represented as BCP-47 strings, e.g. \"en-US\".",
          "type": "array"
        },
        "supportedAbis": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Supported ABI architectures in the order of preference. The values should be the string as reported by the platform, e.g. \"armeabi-v7a\", \"x86_64\"."
        }
      },
      "id": "DeviceSpec",
      "type": "object"
    },
    "TextureCompressionFormatTargeting": {
      "description": "Targeting by a texture compression format.",
      "properties": {
        "alternatives": {
          "items": {
            "$ref": "TextureCompressionFormat"
          },
          "type": "array",
          "description": "List of alternative TCFs (TCFs targeted by the sibling splits)."
        },
        "value": {
          "description": "The list of targeted TCFs. Should not be empty.",
          "type": "array",
          "items": {
            "$ref": "TextureCompressionFormat"
          }
        }
      },
      "type": "object",
      "id": "TextureCompressionFormatTargeting"
    },
    "ExpansionFilesUploadResponse": {
      "type": "object",
      "properties": {
        "expansionFile": {
          "description": "The uploaded expansion file configuration.",
          "$ref": "ExpansionFile"
        }
      },
      "description": "Response for uploading an expansion file.",
      "id": "ExpansionFilesUploadResponse"
    },
    "SubscriptionPurchaseV2": {
      "id": "SubscriptionPurchaseV2",
      "properties": {
        "lineItems": {
          "items": {
            "$ref": "SubscriptionPurchaseLineItem"
          },
          "type": "array",
          "description": "Item-level info for a subscription purchase. The items in the same purchase should be either all with AutoRenewingPlan or all with PrepaidPlan."
        },
        "regionCode": {
          "type": "string",
          "description": "ISO 3166-1 alpha-2 billing country/region code of the user at the time the subscription was granted."
        },
        "testPurchase": {
          "$ref": "TestPurchase",
          "description": "Only present if this subscription purchase is a test purchase."
        },
        "externalAccountIdentifiers": {
          "$ref": "ExternalAccountIdentifiers",
          "description": "User account identifier in the third-party service."
        },
        "linkedPurchaseToken": {
          "description": "The purchase token of the old subscription if this subscription is one of the following: * Re-signup of a canceled but non-lapsed subscription * Upgrade/downgrade from a previous subscription. * Convert from prepaid to auto renewing subscription. * Convert from an auto renewing subscription to prepaid. * Topup a prepaid subscription.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time at which the subscription was granted. Not set for pending subscriptions (subscription was created but awaiting payment during signup)."
        },
        "kind": {
          "description": "This kind represents a SubscriptionPurchaseV2 object in the androidpublisher service.",
          "type": "string"
        },
        "canceledStateContext": {
          "$ref": "CanceledStateContext",
          "description": "Additional context around canceled subscriptions. Only present if the subscription currently has subscription_state SUBSCRIPTION_STATE_CANCELED."
        },
        "subscriptionState": {
          "enum": [
            "SUBSCRIPTION_STATE_UNSPECIFIED",
            "SUBSCRIPTION_STATE_PENDING",
            "SUBSCRIPTION_STATE_ACTIVE",
            "SUBSCRIPTION_STATE_PAUSED",
            "SUBSCRIPTION_STATE_IN_GRACE_PERIOD",
            "SUBSCRIPTION_STATE_ON_HOLD",
            "SUBSCRIPTION_STATE_CANCELED",
            "SUBSCRIPTION_STATE_EXPIRED"
          ],
          "description": "The current state of the subscription.",
          "enumDescriptions": [
            "Unspecified subscription state.",
            "Subscription was created but awaiting payment during signup. In this state, all items are awaiting payment.",
            "Subscription is active. - (1) If the subscription is an auto renewing plan, at least one item is auto_renew_enabled and not expired. - (2) If the subscription is a prepaid plan, at least one item is not expired.",
            "Subscription is paused. The state is only available when the subscription is an auto renewing plan. In this state, all items are in paused state.",
            "Subscription is in grace period. The state is only available when the subscription is an auto renewing plan. In this state, all items are in grace period.",
            "Subscription is on hold (suspended). The state is only available when the subscription is an auto renewing plan. In this state, all items are on hold.",
            "Subscription is canceled but not expired yet. The state is only available when the subscription is an auto renewing plan. All items have auto_renew_enabled set to false.",
            "Subscription is expired. All items have expiry_time in the past."
          ],
          "type": "string"
        },
        "acknowledgementState": {
          "description": "The acknowledgement state of the subscription.",
          "type": "string",
          "enum": [
            "ACKNOWLEDGEMENT_STATE_UNSPECIFIED",
            "ACKNOWLEDGEMENT_STATE_PENDING",
            "ACKNOWLEDGEMENT_STATE_ACKNOWLEDGED"
          ],
          "enumDescriptions": [
            "Unspecified acknowledgement state.",
            "The subscription is not acknowledged yet.",
            "The subscription is acknowledged."
          ]
        },
        "pausedStateContext": {
          "description": "Additional context around paused subscriptions. Only present if the subscription currently has subscription_state SUBSCRIPTION_STATE_PAUSED.",
          "$ref": "PausedStateContext"
        },
        "latestOrderId": {
          "type": "string",
          "description": "The order id of the latest order associated with the purchase of the subscription. For autoRenewing subscription, this is the order id of signup order if it is not renewed yet, or the last recurring order id (success, pending, or declined order). For prepaid subscription, this is the order id associated with the queried purchase token."
        },
        "subscribeWithGoogleInfo": {
          "$ref": "SubscribeWithGoogleInfo",
          "description": "User profile associated with purchases made with 'Subscribe with Google'."
        }
      },
      "description": "Indicates the status of a user's subscription purchase.",
      "type": "object"
    },
    "RegionsVersion": {
      "type": "object",
      "id": "RegionsVersion",
      "properties": {
        "version": {
          "description": "Required. The latest version is 2022/02.",
          "type": "string"
        }
      },
      "description": "The version of the available regions being used for the specified resource. A string representing the version of available regions being used for the specified resource. Regional prices for the resource have to be specified according to the information published in [this article](https://support.google.com/googleplay/android-developer/answer/10532353)."
    },
    "TrackRelease": {
      "properties": {
        "inAppUpdatePriority": {
          "description": "In-app update priority of the release. All newly added APKs in the release will be considered at this priority. Can take values in the range [0, 5], with 5 the highest priority. Defaults to 0. in_app_update_priority can not be updated once the release is rolled out. See https://developer.android.com/guide/playcore/in-app-updates.",
          "format": "int32",
          "type": "integer"
        },
        "status": {
          "description": "The status of the release.",
          "enum": [
            "statusUnspecified",
            "draft",
            "inProgress",
            "halted",
            "completed"
          ],
          "enumDescriptions": [
            "Unspecified status.",
            "The release's APKs are not being served to users.",
            "The release's APKs are being served to a fraction of users, determined by 'user_fraction'.",
            "The release's APKs will no longer be served to users. Users who already have these APKs are unaffected.",
            "The release will have no further changes. Its APKs are being served to all users, unless they are eligible to APKs of a more recent release."
          ],
          "type": "string"
        },
        "versionCodes": {
          "type": "array",
          "description": "Version codes of all APKs in the release. Must include version codes to retain from previous releases.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "The release name. Not required to be unique. If not set, the name is generated from the APK's version_name. If the release contains multiple APKs, the name is generated from the date."
        },
        "userFraction": {
          "description": "Fraction of users who are eligible for a staged release. 0 \u003c fraction \u003c 1. Can only be set when status is \"inProgress\" or \"halted\".",
          "type": "number",
          "format": "double"
        },
        "releaseNotes": {
          "type": "array",
          "items": {
            "$ref": "LocalizedText"
          },
          "description": "A description of what is new in this release."
        },
        "countryTargeting": {
          "description": "Restricts a release to a specific set of countries.",
          "$ref": "CountryTargeting"
        }
      },
      "type": "object",
      "id": "TrackRelease",
      "description": "A release within a track."
    },
    "DeviceTier": {
      "description": "A single device tier. Devices matching any of the device groups in device_group_names are considered to match the tier.",
      "id": "DeviceTier",
      "properties": {
        "level": {
          "description": "The priority level of the tier. Tiers are evaluated in descending order of level: the highest level tier has the highest priority. The highest tier matching a given device is selected for that device. You should use a contiguous range of levels for your tiers in a tier set; tier levels in a tier set must be unique. For instance, if your tier set has 4 tiers (including the global fallback), you should define tiers 1, 2 and 3 in this configuration. Note: tier 0 is implicitly defined as a global fallback and selected for devices that don't match any of the tiers explicitly defined here. You mustn't define level 0 explicitly in this configuration.",
          "format": "int32",
          "type": "integer"
        },
        "deviceGroupNames": {
          "description": "Groups of devices included in this tier. These groups must be defined explicitly under device_groups in this configuration.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "ImagesUploadResponse": {
      "properties": {
        "image": {
          "description": "The uploaded image.",
          "$ref": "Image"
        }
      },
      "description": "Response for uploading an image.",
      "id": "ImagesUploadResponse",
      "type": "object"
    },
    "UpgradeTargetingRule": {
      "description": "Represents a targeting rule of the form: User currently has {scope} [with billing period {billing_period}].",
      "id": "UpgradeTargetingRule",
      "type": "object",
      "properties": {
        "oncePerUser": {
          "type": "boolean",
          "description": "Limit this offer to only once per user. If set to true, a user can never be eligible for this offer again if they ever subscribed to this offer."
        },
        "billingPeriodDuration": {
          "type": "string",
          "description": "The specific billing period duration, specified in ISO 8601 format, that a user must be currently subscribed to to be eligible for this rule. If not specified, users subscribed to any billing period are matched."
        },
        "scope": {
          "$ref": "TargetingRuleScope",
          "description": "Required. The scope of subscriptions this rule considers. Only allows \"this subscription\" and \"specific subscription in app\"."
        }
      }
    },
    "SubscriptionCancelSurveyResult": {
      "description": "Information provided by the user when they complete the subscription cancellation flow (cancellation reason survey).",
      "properties": {
        "userInputCancelReason": {
          "type": "string",
          "description": "The customized input cancel reason from the user. Only present when cancelReason is 0."
        },
        "cancelSurveyReason": {
          "format": "int32",
          "type": "integer",
          "description": "The cancellation reason the user chose in the survey. Possible values are: 0. Other 1. I don't use this service enough 2. Technical issues 3. Cost-related reasons 4. I found a better app"
        }
      },
      "type": "object",
      "id": "SubscriptionCancelSurveyResult"
    },
    "ArchiveSubscriptionRequest": {
      "id": "ArchiveSubscriptionRequest",
      "description": "Request message for ArchiveSubscription.",
      "type": "object",
      "properties": {}
    },
    "ReviewsListResponse": {
      "description": "Response listing reviews.",
      "id": "ReviewsListResponse",
      "properties": {
        "tokenPagination": {
          "description": "Pagination token, to handle a number of products that is over one page.",
          "$ref": "TokenPagination"
        },
        "pageInfo": {
          "description": "Information about the current page.",
          "$ref": "PageInfo"
        },
        "reviews": {
          "items": {
            "$ref": "Review"
          },
          "description": "List of reviews.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "DeveloperComment": {
      "properties": {
        "text": {
          "type": "string",
          "description": "The content of the comment, i.e. reply body."
        },
        "lastModified": {
          "description": "The last time at which this comment was updated.",
          "$ref": "Timestamp"
        }
      },
      "type": "object",
      "description": "Developer entry from conversation between user and developer.",
      "id": "DeveloperComment"
    },
    "AcquisitionTargetingRule": {
      "id": "AcquisitionTargetingRule",
      "description": "Represents a targeting rule of the form: User never had {scope} before.",
      "type": "object",
      "properties": {
        "scope": {
          "$ref": "TargetingRuleScope",
          "description": "Required. The scope of subscriptions this rule considers. Only allows \"this subscription\" and \"any subscription in app\"."
        }
      }
    },
    "OfferDetails": {
      "type": "object",
      "id": "OfferDetails",
      "description": "Offer details information related to a purchase line item.",
      "properties": {
        "basePlanId": {
          "type": "string",
          "description": "The base plan ID. Present for all base plan and offers."
        },
        "offerTags": {
          "items": {
            "type": "string"
          },
          "description": "The latest offer tags associated with the offer. It includes tags inherited from the base plan.",
          "type": "array"
        },
        "offerId": {
          "type": "string",
          "description": "The offer ID. Only present for discounted offers."
        }
      }
    },
    "Listing": {
      "type": "object",
      "properties": {
        "video": {
          "description": "URL of a promotional YouTube video for the app.",
          "type": "string"
        },
        "language": {
          "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
          "type": "string"
        },
        "title": {
          "description": "Localized title of the app.",
          "type": "string"
        },
        "shortDescription": {
          "type": "string",
          "description": "Short description of the app."
        },
        "fullDescription": {
          "type": "string",
          "description": "Full description of the app."
        }
      },
      "description": "A localized store listing. The resource for ListingsService.",
      "id": "Listing"
    },
    "SubscriptionOfferTargeting": {
      "properties": {
        "upgradeRule": {
          "$ref": "UpgradeTargetingRule",
          "description": "Offer targeting rule for upgrading users' existing plans."
        },
        "acquisitionRule": {
          "description": "Offer targeting rule for new user acquisition.",
          "$ref": "AcquisitionTargetingRule"
        }
      },
      "description": "Defines the rule a user needs to satisfy to receive this offer.",
      "type": "object",
      "id": "SubscriptionOfferTargeting"
    },
    "ReviewsReplyRequest": {
      "description": "Request to reply to review or update existing reply.",
      "properties": {
        "replyText": {
          "type": "string",
          "description": "The text to set as the reply. Replies of more than approximately 350 characters will be rejected. HTML tags will be stripped."
        }
      },
      "id": "ReviewsReplyRequest",
      "type": "object"
    },
    "ApksAddExternallyHostedRequest": {
      "properties": {
        "externallyHostedApk": {
          "description": "The definition of the externally-hosted APK and where it is located.",
          "$ref": "ExternallyHostedApk"
        }
      },
      "id": "ApksAddExternallyHostedRequest",
      "description": "Request to create a new externally hosted APK.",
      "type": "object"
    },
    "ApkBinary": {
      "description": "Represents the binary payload of an APK.",
      "properties": {
        "sha256": {
          "description": "A sha256 hash of the APK payload, encoded as a hex string and matching the output of the sha256sum command.",
          "type": "string"
        },
        "sha1": {
          "description": "A sha1 hash of the APK payload, encoded as a hex string and matching the output of the sha1sum command.",
          "type": "string"
        }
      },
      "id": "ApkBinary",
      "type": "object"
    },
    "SubscriptionPurchaseLineItem": {
      "type": "object",
      "id": "SubscriptionPurchaseLineItem",
      "properties": {
        "deferredItemReplacement": {
          "$ref": "DeferredItemReplacement",
          "description": "Information for deferred item replacement."
        },
        "productId": {
          "type": "string",
          "description": "The purchased product ID (for example, 'monthly001')."
        },
        "autoRenewingPlan": {
          "$ref": "AutoRenewingPlan",
          "description": "The item is auto renewing."
        },
        "offerDetails": {
          "description": "The offer details for this item.",
          "$ref": "OfferDetails"
        },
        "expiryTime": {
          "description": "Time at which the subscription expired or will expire unless the access is extended (ex. renews).",
          "type": "string",
          "format": "google-datetime"
        },
        "prepaidPlan": {
          "$ref": "PrepaidPlan",
          "description": "The item is prepaid."
        }
      },
      "description": "Item-level info for a subscription purchase."
    },
    "MultiAbiTargeting": {
      "id": "MultiAbiTargeting",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "MultiAbi"
          },
          "description": "Value of a multi abi."
        },
        "alternatives": {
          "type": "array",
          "description": "Targeting of other sibling directories that were in the Bundle. For main splits this is targeting of other main splits.",
          "items": {
            "$ref": "MultiAbi"
          }
        }
      },
      "type": "object",
      "description": "Targeting based on multiple abis."
    },
    "Testers": {
      "type": "object",
      "description": "The testers of an app. The resource for TestersService. Note: while it is possible in the Play Console UI to add testers via email lists, email lists are not supported by this resource.",
      "id": "Testers",
      "properties": {
        "googleGroups": {
          "description": "All testing Google Groups, as email addresses.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SubscriptionPurchase": {
      "description": "A SubscriptionPurchase resource indicates the status of a user's subscription purchase.",
      "properties": {
        "introductoryPriceInfo": {
          "$ref": "IntroductoryPriceInfo",
          "description": "Introductory price information of the subscription. This is only present when the subscription was purchased with an introductory price. This field does not indicate the subscription is currently in introductory price period."
        },
        "cancelSurveyResult": {
          "description": "Information provided by the user when they complete the subscription cancellation flow (cancellation reason survey).",
          "$ref": "SubscriptionCancelSurveyResult"
        },
        "linkedPurchaseToken": {
          "description": "The purchase token of the originating purchase if this subscription is one of the following: 0. Re-signup of a canceled but non-lapsed subscription 1. Upgrade/downgrade from a previous subscription For example, suppose a user originally signs up and you receive purchase token X, then the user cancels and goes through the resignup flow (before their subscription lapses) and you receive purchase token Y, and finally the user upgrades their subscription and you receive purchase token Z. If you call this API with purchase token Z, this field will be set to Y. If you call this API with purchase token Y, this field will be set to X. If you call this API with purchase token X, this field will not be set.",
          "type": "string"
        },
        "acknowledgementState": {
          "format": "int32",
          "type": "integer",
          "description": "The acknowledgement state of the subscription product. Possible values are: 0. Yet to be acknowledged 1. Acknowledged"
        },
        "autoRenewing": {
          "type": "boolean",
          "description": "Whether the subscription will automatically be renewed when it reaches its current expiry time."
        },
        "startTimeMillis": {
          "format": "int64",
          "type": "string",
          "description": "Time at which the subscription was granted, in milliseconds since the Epoch."
        },
        "countryCode": {
          "description": "ISO 3166-1 alpha-2 billing country/region code of the user at the time the subscription was granted.",
          "type": "string"
        },
        "profileId": {
          "description": "The Google profile id of the user when the subscription was purchased. Only present for purchases made with 'Subscribe with Google'.",
          "type": "string"
        },
        "purchaseType": {
          "format": "int32",
          "description": "The type of purchase of the subscription. This field is only set if this purchase was not made using the standard in-app billing flow. Possible values are: 0. Test (i.e. purchased from a license testing account) 1. Promo (i.e. purchased using a promo code)",
          "type": "integer"
        },
        "priceAmountMicros": {
          "description": "Price of the subscription, For tax exclusive countries, the price doesn't include tax. For tax inclusive countries, the price includes tax. Price is expressed in micro-units, where 1,000,000 micro-units represents one unit of the currency. For example, if the subscription price is €1.99, price_amount_micros is 1990000.",
          "format": "int64",
          "type": "string"
        },
        "developerPayload": {
          "description": "A developer-specified string that contains supplemental information about an order.",
          "type": "string"
        },
        "expiryTimeMillis": {
          "type": "string",
          "description": "Time at which the subscription will expire, in milliseconds since the Epoch.",
          "format": "int64"
        },
        "emailAddress": {
          "description": "The email address of the user when the subscription was purchased. Only present for purchases made with 'Subscribe with Google'.",
          "type": "string"
        },
        "cancelReason": {
          "description": "The reason why a subscription was canceled or is not auto-renewing. Possible values are: 0. User canceled the subscription 1. Subscription was canceled by the system, for example because of a billing problem 2. Subscription was replaced with a new subscription 3. Subscription was canceled by the developer",
          "format": "int32",
          "type": "integer"
        },
        "priceChange": {
          "$ref": "SubscriptionPriceChange",
          "description": "The latest price change information available. This is present only when there is an upcoming price change for the subscription yet to be applied. Once the subscription renews with the new price or the subscription is canceled, no price change information will be returned."
        },
        "promotionType": {
          "description": "The type of promotion applied on this purchase. This field is only set if a promotion is applied when the subscription was purchased. Possible values are: 0. One time code 1. Vanity code",
          "type": "integer",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "This kind represents a subscriptionPurchase object in the androidpublisher service."
        },
        "externalAccountId": {
          "description": "User account identifier in the third-party service. Only present if account linking happened as part of the subscription purchase flow.",
          "type": "string"
        },
        "obfuscatedExternalProfileId": {
          "type": "string",
          "description": "An obfuscated version of the id that is uniquely associated with the user's profile in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedprofileid when the purchase was made."
        },
        "familyName": {
          "description": "The family name of the user when the subscription was purchased. Only present for purchases made with 'Subscribe with Google'.",
          "type": "string"
        },
        "obfuscatedExternalAccountId": {
          "type": "string",
          "description": "An obfuscated version of the id that is uniquely associated with the user's account in your app. Present for the following purchases: * If account linking happened as part of the subscription purchase flow. * It was specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedaccountid when the purchase was made."
        },
        "paymentState": {
          "type": "integer",
          "description": "The payment state of the subscription. Possible values are: 0. Payment pending 1. Payment received 2. Free trial 3. Pending deferred upgrade/downgrade Not present for canceled, expired subscriptions.",
          "format": "int32"
        },
        "autoResumeTimeMillis": {
          "format": "int64",
          "description": "Time at which the subscription will be automatically resumed, in milliseconds since the Epoch. Only present if the user has requested to pause the subscription.",
          "type": "string"
        },
        "orderId": {
          "type": "string",
          "description": "The order id of the latest recurring order associated with the purchase of the subscription. If the subscription was canceled because payment was declined, this will be the order id from the payment declined order."
        },
        "givenName": {
          "type": "string",
          "description": "The given name of the user when the subscription was purchased. Only present for purchases made with 'Subscribe with Google'."
        },
        "promotionCode": {
          "type": "string",
          "description": "The promotion code applied on this purchase. This field is only set if a vanity code promotion is applied when the subscription was purchased."
        },
        "userCancellationTimeMillis": {
          "description": "The time at which the subscription was canceled by the user, in milliseconds since the epoch. Only present if cancelReason is 0.",
          "format": "int64",
          "type": "string"
        },
        "profileName": {
          "description": "The profile name of the user when the subscription was purchased. Only present for purchases made with 'Subscribe with Google'.",
          "type": "string"
        },
        "priceCurrencyCode": {
          "description": "ISO 4217 currency code for the subscription price. For example, if the price is specified in British pounds sterling, price_currency_code is \"GBP\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SubscriptionPurchase"
    },
    "GeneratedAssetPackSlice": {
      "properties": {
        "version": {
          "format": "int64",
          "description": "Asset module version.",
          "type": "string"
        },
        "moduleName": {
          "description": "Name of the module that this asset slice belongs to.",
          "type": "string"
        },
        "downloadId": {
          "type": "string",
          "description": "Download ID, which uniquely identifies the APK to download. Should be supplied to `generatedapks.download` method."
        },
        "sliceId": {
          "description": "Asset slice ID.",
          "type": "string"
        }
      },
      "description": "Download metadata for an asset pack slice.",
      "type": "object",
      "id": "GeneratedAssetPackSlice"
    },
    "ListingsListResponse": {
      "description": "Response listing all localized listings.",
      "id": "ListingsListResponse",
      "type": "object",
      "properties": {
        "listings": {
          "items": {
            "$ref": "Listing"
          },
          "type": "array",
          "description": "All localized listings."
        },
        "kind": {
          "description": "The kind of this response (\"androidpublisher#listingsListResponse\").",
          "type": "string"
        }
      }
    },
    "GeneratedApksPerSigningKey": {
      "description": "Download metadata for split, standalone and universal APKs, as well as asset pack slices, signed with a given key.",
      "type": "object",
      "properties": {
        "generatedAssetPackSlices": {
          "items": {
            "$ref": "GeneratedAssetPackSlice"
          },
          "description": "List of asset pack slices which will be served for this app bundle, signed with a key corresponding to certificate_sha256_hash.",
          "type": "array"
        },
        "generatedUniversalApk": {
          "$ref": "GeneratedUniversalApk",
          "description": "Generated universal APK, signed with a key corresponding to certificate_sha256_hash. This field is not set if no universal APK was generated for this signing key."
        },
        "certificateSha256Hash": {
          "description": "SHA256 hash of the APK signing public key certificate.",
          "type": "string"
        },
        "generatedSplitApks": {
          "description": "List of generated split APKs, signed with a key corresponding to certificate_sha256_hash.",
          "type": "array",
          "items": {
            "$ref": "GeneratedSplitApk"
          }
        },
        "targetingInfo": {
          "$ref": "TargetingInfo",
          "description": "Contains targeting information about the generated apks."
        },
        "generatedStandaloneApks": {
          "description": "List of generated standalone APKs, signed with a key corresponding to certificate_sha256_hash.",
          "items": {
            "$ref": "GeneratedStandaloneApk"
          },
          "type": "array"
        }
      },
      "id": "GeneratedApksPerSigningKey"
    },
    "SubscriptionOfferPhase": {
      "properties": {
        "recurrenceCount": {
          "description": "Required. The number of times this phase repeats. If this offer phase is not free, each recurrence charges the user the price of this offer phase.",
          "type": "integer",
          "format": "int32"
        },
        "regionalConfigs": {
          "type": "array",
          "items": {
            "$ref": "RegionalSubscriptionOfferPhaseConfig"
          },
          "description": "Required. The region-specific configuration of this offer phase. This list must contain exactly one entry for each region for which the subscription offer has a regional config."
        },
        "duration": {
          "description": "Required. The duration of a single recurrence of this phase. Specified in ISO 8601 format.",
          "type": "string"
        },
        "otherRegionsConfig": {
          "description": "Pricing information for any new locations Play may launch in.",
          "$ref": "OtherRegionsSubscriptionOfferPhaseConfig"
        }
      },
      "type": "object",
      "description": "A single phase of a subscription offer.",
      "id": "SubscriptionOfferPhase"
    },
    "BundlesListResponse": {
      "type": "object",
      "description": "Response listing all app bundles.",
      "properties": {
        "kind": {
          "description": "The kind of this response (\"androidpublisher#bundlesListResponse\").",
          "type": "string"
        },
        "bundles": {
          "type": "array",
          "items": {
            "$ref": "Bundle"
          },
          "description": "All app bundles."
        }
      },
      "id": "BundlesListResponse"
    },
    "OfferTag": {
      "type": "object",
      "id": "OfferTag",
      "properties": {
        "tag": {
          "type": "string",
          "description": "Must conform with RFC-1034. That is, this string can only contain lower-case letters (a-z), numbers (0-9), and hyphens (-), and be at most 20 characters."
        }
      },
      "description": "Represents a custom tag specified for base plans and subscription offers."
    },
    "DeviceRam": {
      "id": "DeviceRam",
      "description": "Conditions about a device's RAM capabilities.",
      "properties": {
        "minBytes": {
          "description": "Minimum RAM in bytes (bound included).",
          "format": "int64",
          "type": "string"
        },
        "maxBytes": {
          "type": "string",
          "format": "int64",
          "description": "Maximum RAM in bytes (bound excluded)."
        }
      },
      "type": "object"
    },
    "ReviewsReplyResponse": {
      "description": "Response on status of replying to a review.",
      "properties": {
        "result": {
          "$ref": "ReviewReplyResult",
          "description": "The result of replying/updating a reply to review."
        }
      },
      "id": "ReviewsReplyResponse",
      "type": "object"
    },
    "TrackTargetedCountry": {
      "type": "object",
      "description": "Representation of a single country where the contents of a track are available.",
      "properties": {
        "countryCode": {
          "type": "string",
          "description": "The country to target, as a two-letter CLDR code."
        }
      },
      "id": "TrackTargetedCountry"
    },
    "PrepaidBasePlanType": {
      "properties": {
        "timeExtension": {
          "description": "Whether users should be able to extend this prepaid base plan in Google Play surfaces. Defaults to TIME_EXTENSION_ACTIVE if not specified.",
          "enum": [
            "TIME_EXTENSION_UNSPECIFIED",
            "TIME_EXTENSION_ACTIVE",
            "TIME_EXTENSION_INACTIVE"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Time extension is active. Users are allowed to top-up or extend their prepaid plan.",
            "Time extension is inactive. Users cannot top-up or extend their prepaid plan."
          ],
          "type": "string"
        },
        "billingPeriodDuration": {
          "description": "Required. Subscription period, specified in ISO 8601 format. For a list of acceptable billing periods, refer to the help center.",
          "type": "string"
        }
      },
      "description": "Represents a base plan that does not automatically renew at the end of the base plan, and must be manually renewed by the user.",
      "id": "PrepaidBasePlanType",
      "type": "object"
    },
    "LocalizedText": {
      "properties": {
        "language": {
          "type": "string",
          "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German)."
        },
        "text": {
          "description": "The text in the given language.",
          "type": "string"
        }
      },
      "id": "LocalizedText",
      "type": "object",
      "description": "Localized text in given language."
    },
    "Comment": {
      "id": "Comment",
      "properties": {
        "userComment": {
          "$ref": "UserComment",
          "description": "A comment from a user."
        },
        "developerComment": {
          "$ref": "DeveloperComment",
          "description": "A comment from a developer."
        }
      },
      "description": "An entry of conversation between user and developer.",
      "type": "object"
    },
    "AppEdit": {
      "id": "AppEdit",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Output only. Identifier of the edit. Can be used in subsequent API calls.",
          "readOnly": true
        },
        "expiryTimeSeconds": {
          "description": "Output only. The time (as seconds since Epoch) at which the edit will expire and will be no longer valid for use.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "An app edit. The resource for EditsService."
    },
    "RefundExternalTransactionRequest": {
      "description": "A request to refund an existing external transaction.",
      "id": "RefundExternalTransactionRequest",
      "properties": {
        "refundTime": {
          "description": "Required. The time that the transaction was refunded.",
          "format": "google-datetime",
          "type": "string"
        },
        "partialRefund": {
          "description": "A partial refund.",
          "$ref": "PartialRefund"
        },
        "fullRefund": {
          "description": "A full-amount refund.",
          "$ref": "FullRefund"
        }
      },
      "type": "object"
    },
    "ConvertedRegionPrice": {
      "type": "object",
      "id": "ConvertedRegionPrice",
      "description": "A converted region price.",
      "properties": {
        "taxAmount": {
          "description": "The tax amount of the converted price.",
          "$ref": "Money"
        },
        "regionCode": {
          "type": "string",
          "description": "The region code of the region."
        },
        "price": {
          "$ref": "Money",
          "description": "The converted price tax inclusive."
        }
      }
    },
    "ConvertRegionPricesRequest": {
      "type": "object",
      "id": "ConvertRegionPricesRequest",
      "description": "Request message for ConvertRegionPrices.",
      "properties": {
        "price": {
          "description": "The intital price to convert other regions from. Tax exclusive.",
          "$ref": "Money"
        }
      }
    },
    "SplitApkVariant": {
      "description": "Variant is a group of APKs that covers a part of the device configuration space. APKs from multiple variants are never combined on one device.",
      "type": "object",
      "id": "SplitApkVariant",
      "properties": {
        "apkSet": {
          "description": "Set of APKs, one set per module.",
          "items": {
            "$ref": "ApkSet"
          },
          "type": "array"
        },
        "targeting": {
          "$ref": "VariantTargeting",
          "description": "Variant-level targeting."
        },
        "variantNumber": {
          "format": "int32",
          "description": "Number of the variant, starting at 0 (unless overridden). A device will receive APKs from the first variant that matches the device configuration, with higher variant numbers having priority over lower variant numbers.",
          "type": "integer"
        }
      }
    },
    "SubscriptionTaxAndComplianceSettings": {
      "type": "object",
      "description": "Details about taxation, Google Play policy and legal compliance for subscription products.",
      "id": "SubscriptionTaxAndComplianceSettings",
      "properties": {
        "taxRateInfoByRegionCode": {
          "additionalProperties": {
            "$ref": "RegionalTaxRateInfo"
          },
          "description": "A mapping from region code to tax rate details. The keys are region codes as defined by Unicode's \"CLDR\".",
          "type": "object"
        },
        "isTokenizedDigitalAsset": {
          "description": "Whether this subscription is declared as a product representing a tokenized digital asset.",
          "type": "boolean"
        },
        "eeaWithdrawalRightType": {
          "enum": [
            "WITHDRAWAL_RIGHT_TYPE_UNSPECIFIED",
            "WITHDRAWAL_RIGHT_DIGITAL_CONTENT",
            "WITHDRAWAL_RIGHT_SERVICE"
          ],
          "type": "string",
          "description": "Digital content or service classification for products distributed to users in the European Economic Area (EEA). The withdrawal regime under EEA consumer laws depends on this classification. Refer to the [Help Center article](https://support.google.com/googleplay/android-developer/answer/10463498) for more information.",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      }
    },
    "IntroductoryPriceInfo": {
      "description": "Contains the introductory price information for a subscription.",
      "type": "object",
      "id": "IntroductoryPriceInfo",
      "properties": {
        "introductoryPriceCycles": {
          "description": "The number of billing period to offer introductory pricing.",
          "type": "integer",
          "format": "int32"
        },
        "introductoryPricePeriod": {
          "type": "string",
          "description": "Introductory price period, specified in ISO 8601 format. Common values are (but not limited to) \"P1W\" (one week), \"P1M\" (one month), \"P3M\" (three months), \"P6M\" (six months), and \"P1Y\" (one year)."
        },
        "introductoryPriceCurrencyCode": {
          "description": "ISO 4217 currency code for the introductory subscription price. For example, if the price is specified in British pounds sterling, price_currency_code is \"GBP\".",
          "type": "string"
        },
        "introductoryPriceAmountMicros": {
          "format": "int64",
          "description": "Introductory price of the subscription, not including tax. The currency is the same as price_currency_code. Price is expressed in micro-units, where 1,000,000 micro-units represents one unit of the currency. For example, if the subscription price is €1.99, price_amount_micros is 1990000.",
          "type": "string"
        }
      }
    },
    "Money": {
      "description": "Represents an amount of money with its currency type.",
      "id": "Money",
      "type": "object",
      "properties": {
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "nanos": {
          "type": "integer",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32"
        },
        "units": {
          "type": "string",
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
        }
      }
    },
    "ApkDescription": {
      "type": "object",
      "description": "Description of the created apks.",
      "id": "ApkDescription",
      "properties": {
        "instantApkMetadata": {
          "description": "Set only for Instant split APKs.",
          "$ref": "SplitApkMetadata"
        },
        "path": {
          "type": "string",
          "description": "Path of the Apk, will be in the following format: .apk where DownloadId is the ID used to download the apk using GeneratedApks.Download API."
        },
        "assetSliceMetadata": {
          "description": "Set only for asset slices.",
          "$ref": "SplitApkMetadata"
        },
        "targeting": {
          "$ref": "ApkTargeting",
          "description": "Apk-level targeting."
        },
        "standaloneApkMetadata": {
          "description": "Set only for standalone APKs.",
          "$ref": "StandaloneApkMetadata"
        },
        "splitApkMetadata": {
          "$ref": "SplitApkMetadata",
          "description": "Set only for Split APKs."
        }
      }
    },
    "ScreenDensity": {
      "id": "ScreenDensity",
      "description": "Represents a screen density.",
      "properties": {
        "densityDpi": {
          "description": "Value for density dpi.",
          "type": "integer",
          "format": "int32"
        },
        "densityAlias": {
          "enumDescriptions": [
            "Unspecified screen density.",
            "NODPI screen density.",
            "LDPI screen density.",
            "MDPI screen density.",
            "TVDPI screen density.",
            "HDPI screen density.",
            "XHDPI screen density.",
            "XXHDPI screen density.",
            "XXXHDPI screen density."
          ],
          "enum": [
            "DENSITY_UNSPECIFIED",
            "NODPI",
            "LDPI",
            "MDPI",
            "TVDPI",
            "HDPI",
            "XHDPI",
            "XXHDPI",
            "XXXHDPI"
          ],
          "description": "Alias for a screen density.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Review": {
      "type": "object",
      "properties": {
        "comments": {
          "items": {
            "$ref": "Comment"
          },
          "type": "array",
          "description": "A repeated field containing comments for the review."
        },
        "reviewId": {
          "description": "Unique identifier for this review.",
          "type": "string"
        },
        "authorName": {
          "type": "string",
          "description": "The name of the user who wrote the review."
        }
      },
      "description": "An Android app review.",
      "id": "Review"
    },
    "ExpansionFile": {
      "type": "object",
      "properties": {
        "fileSize": {
          "format": "int64",
          "description": "If set, this field indicates that this APK has an expansion file uploaded to it: this APK does not reference another APK's expansion file. The field's value is the size of the uploaded expansion file in bytes.",
          "type": "string"
        },
        "referencesVersion": {
          "description": "If set, this APK's expansion file references another APK's expansion file. The file_size field will not be set.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "ExpansionFile",
      "description": "An expansion file. The resource for ExpansionFilesService."
    },
    "VariantTargeting": {
      "properties": {
        "sdkVersionTargeting": {
          "$ref": "SdkVersionTargeting",
          "description": "The sdk version that the variant targets"
        },
        "screenDensityTargeting": {
          "$ref": "ScreenDensityTargeting",
          "description": "The screen densities that this variant supports"
        },
        "multiAbiTargeting": {
          "description": "Multi-api-level targeting",
          "$ref": "MultiAbiTargeting"
        },
        "textureCompressionFormatTargeting": {
          "description": "Texture-compression-format-level targeting",
          "$ref": "TextureCompressionFormatTargeting"
        },
        "abiTargeting": {
          "description": "The abi that the variant targets",
          "$ref": "AbiTargeting"
        }
      },
      "type": "object",
      "description": "Targeting on the level of variants.",
      "id": "VariantTargeting"
    },
    "SubscriptionOffer": {
      "properties": {
        "productId": {
          "description": "Required. Immutable. The ID of the parent subscription this offer belongs to.",
          "type": "string"
        },
        "regionalConfigs": {
          "description": "Required. The region-specific configuration of this offer. Must contain at least one entry.",
          "items": {
            "$ref": "RegionalSubscriptionOfferConfig"
          },
          "type": "array"
        },
        "packageName": {
          "type": "string",
          "description": "Required. Immutable. The package name of the app the parent subscription belongs to."
        },
        "phases": {
          "items": {
            "$ref": "SubscriptionOfferPhase"
          },
          "description": "Required. The phases of this subscription offer. Must contain at least one entry, and may contain at most five. Users will always receive all these phases in the specified order. Phases may not be added, removed, or reordered after initial creation.",
          "type": "array"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "ACTIVE",
            "INACTIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be used.",
            "The subscription offer is not and has never been available to users.",
            "The subscription offer is available to new and existing users.",
            "The subscription offer is not available to new users. Existing users retain access."
          ],
          "readOnly": true,
          "description": "Output only. The current state of this offer. Can be changed using Activate and Deactivate actions. NB: the base plan state supersedes this state, so an active offer may not be available if the base plan is not active."
        },
        "offerId": {
          "description": "Required. Immutable. Unique ID of this subscription offer. Must be unique within the base plan.",
          "type": "string"
        },
        "basePlanId": {
          "type": "string",
          "description": "Required. Immutable. The ID of the base plan to which this offer is an extension."
        },
        "otherRegionsConfig": {
          "description": "The configuration for any new locations Play may launch in the future.",
          "$ref": "OtherRegionsSubscriptionOfferConfig"
        },
        "targeting": {
          "$ref": "SubscriptionOfferTargeting",
          "description": "The requirements that users need to fulfil to be eligible for this offer. Represents the requirements that Play will evaluate to decide whether an offer should be returned. Developers may further filter these offers themselves."
        },
        "offerTags": {
          "items": {
            "$ref": "OfferTag"
          },
          "type": "array",
          "description": "List of up to 20 custom tags specified for this offer, and returned to the app through the billing library."
        }
      },
      "description": "A single, temporary offer",
      "id": "SubscriptionOffer",
      "type": "object"
    },
    "GeneratedSplitApk": {
      "type": "object",
      "properties": {
        "variantId": {
          "type": "integer",
          "format": "int32",
          "description": "ID of the generated variant."
        },
        "downloadId": {
          "description": "Download ID, which uniquely identifies the APK to download. Should be supplied to `generatedapks.download` method.",
          "type": "string"
        },
        "moduleName": {
          "type": "string",
          "description": "Name of the module that this APK belongs to."
        },
        "splitId": {
          "type": "string",
          "description": "Split ID. Empty for the main split of the base module."
        }
      },
      "id": "GeneratedSplitApk",
      "description": "Download metadata for a split APK."
    },
    "SubscriptionDeferralInfo": {
      "id": "SubscriptionDeferralInfo",
      "type": "object",
      "properties": {
        "desiredExpiryTimeMillis": {
          "type": "string",
          "description": "The desired next expiry time to assign to the subscription, in milliseconds since the Epoch. The given time must be later/greater than the current expiry time for the subscription.",
          "format": "int64"
        },
        "expectedExpiryTimeMillis": {
          "description": "The expected expiry time for the subscription. If the current expiry time for the subscription is not the value specified here, the deferral will not occur.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "A SubscriptionDeferralInfo contains the data needed to defer a subscription purchase to a future expiry time."
    },
    "GeneratedApksListResponse": {
      "description": "Response to list generated APKs.",
      "type": "object",
      "id": "GeneratedApksListResponse",
      "properties": {
        "generatedApks": {
          "items": {
            "$ref": "GeneratedApksPerSigningKey"
          },
          "description": "All generated APKs, grouped by the APK signing key.",
          "type": "array"
        }
      }
    },
    "TextureCompressionFormat": {
      "id": "TextureCompressionFormat",
      "description": "Represents texture compression format.",
      "type": "object",
      "properties": {
        "alias": {
          "description": "Alias for texture compression format.",
          "enumDescriptions": [
            "Unspecified format.",
            "ETC1_RGB8 format.",
            "PALETTED format.",
            "THREE_DC format.",
            "ATC format.",
            "LATC format.",
            "DXT1 format.",
            "S3TC format.",
            "PVRTC format.",
            "ASTC format.",
            "ETC2 format."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED_TEXTURE_COMPRESSION_FORMAT",
            "ETC1_RGB8",
            "PALETTED",
            "THREE_DC",
            "ATC",
            "LATC",
            "DXT1",
            "S3TC",
            "PVRTC",
            "ASTC",
            "ETC2"
          ]
        }
      }
    },
    "InternalAppSharingArtifact": {
      "type": "object",
      "id": "InternalAppSharingArtifact",
      "properties": {
        "downloadUrl": {
          "description": "The download URL generated for the uploaded artifact. Users that are authorized to download can follow the link to the Play Store app to install it.",
          "type": "string"
        },
        "certificateFingerprint": {
          "description": "The sha256 fingerprint of the certificate used to sign the generated artifact.",
          "type": "string"
        },
        "sha256": {
          "description": "The sha256 hash of the artifact represented as a lowercase hexadecimal number, matching the output of the sha256sum command.",
          "type": "string"
        }
      },
      "description": "An artifact resource which gets created when uploading an APK or Android App Bundle through internal app sharing."
    },
    "PrepaidPlan": {
      "properties": {
        "allowExtendAfterTime": {
          "type": "string",
          "description": "If present, this is the time after which top up purchases are allowed for the prepaid plan. Will not be present for expired prepaid plans.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Information related to a prepaid plan.",
      "id": "PrepaidPlan"
    },
    "SystemApksListResponse": {
      "description": "Response to list previously created system APK variants.",
      "type": "object",
      "id": "SystemApksListResponse",
      "properties": {
        "variants": {
          "description": "All system APK variants created.",
          "type": "array",
          "items": {
            "$ref": "Variant"
          }
        }
      }
    },
    "SdkVersionTargeting": {
      "id": "SdkVersionTargeting",
      "type": "object",
      "description": "Targeting based on sdk version.",
      "properties": {
        "alternatives": {
          "items": {
            "$ref": "SdkVersion"
          },
          "description": "Targeting of other sibling directories that were in the Bundle. For main splits this is targeting of other main splits.",
          "type": "array"
        },
        "value": {
          "description": "Value of an sdk version.",
          "type": "array",
          "items": {
            "$ref": "SdkVersion"
          }
        }
      }
    },
    "DeviceFeature": {
      "description": "Represents a device feature.",
      "properties": {
        "featureName": {
          "type": "string",
          "description": "Name of the feature."
        },
        "featureVersion": {
          "format": "int32",
          "description": "The feature version specified by android:glEsVersion or android:version in in the AndroidManifest.",
          "type": "integer"
        }
      },
      "id": "DeviceFeature",
      "type": "object"
    },
    "TargetingInfo": {
      "properties": {
        "assetSliceSet": {
          "items": {
            "$ref": "AssetSliceSet"
          },
          "type": "array",
          "description": "List of created asset slices."
        },
        "packageName": {
          "description": "The package name of this app.",
          "type": "string"
        },
        "variant": {
          "items": {
            "$ref": "SplitApkVariant"
          },
          "type": "array",
          "description": "List of the created variants."
        }
      },
      "description": "Targeting information about the generated apks.",
      "type": "object",
      "id": "TargetingInfo"
    },
    "Timestamp": {
      "description": "A Timestamp represents a point in time independent of any time zone or local calendar, encoded as a count of seconds and fractions of seconds at nanosecond resolution. The count is relative to an epoch at UTC midnight on January 1, 1970.",
      "properties": {
        "nanos": {
          "description": "Non-negative fractions of a second at nanosecond resolution. Must be from 0 to 999,999,999 inclusive.",
          "type": "integer",
          "format": "int32"
        },
        "seconds": {
          "type": "string",
          "format": "int64",
          "description": "Represents seconds of UTC time since Unix epoch."
        }
      },
      "type": "object",
      "id": "Timestamp"
    },
    "ApkTargeting": {
      "type": "object",
      "description": "Represents a set of apk-level targetings.",
      "properties": {
        "sdkVersionTargeting": {
          "$ref": "SdkVersionTargeting",
          "description": "The sdk version that the apk targets"
        },
        "textureCompressionFormatTargeting": {
          "$ref": "TextureCompressionFormatTargeting",
          "description": "Texture-compression-format-level targeting"
        },
        "multiAbiTargeting": {
          "$ref": "MultiAbiTargeting",
          "description": "Multi-api-level targeting."
        },
        "abiTargeting": {
          "$ref": "AbiTargeting",
          "description": "The abi that the apk targets"
        },
        "languageTargeting": {
          "description": "The language that the apk targets",
          "$ref": "LanguageTargeting"
        },
        "screenDensityTargeting": {
          "description": "The screen density that this apk supports.",
          "$ref": "ScreenDensityTargeting"
        }
      },
      "id": "ApkTargeting"
    },
    "DeviceId": {
      "type": "object",
      "properties": {
        "buildBrand": {
          "description": "Value of Build.BRAND.",
          "type": "string"
        },
        "buildDevice": {
          "description": "Value of Build.DEVICE.",
          "type": "string"
        }
      },
      "description": "Identifier of a device.",
      "id": "DeviceId"
    },
    "ModuleMetadata": {
      "properties": {
        "dependencies": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Names of the modules that this module directly depends on. Each module implicitly depends on the base module."
        },
        "moduleType": {
          "enum": [
            "UNKNOWN_MODULE_TYPE",
            "FEATURE_MODULE"
          ],
          "enumDescriptions": [
            "Unknown feature module.",
            "Regular feature module."
          ],
          "description": "Indicates the type of this feature module.",
[...]
