{
  "name": "androidpublisher",
  "description": "Lets Android application developers access their Google Play accounts. At a high level, the expected workflow is to \"insert\" an Edit, make changes as necessary, and then \"commit\" it. ",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "default": "json",
      "description": "Data format for response."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    }
  },
  "mtlsRootUrl": "https://androidpublisher.mtls.googleapis.com/",
  "title": "Google Play Android Developer API",
  "protocol": "rest",
  "rootUrl": "https://androidpublisher.googleapis.com/",
  "id": "androidpublisher:v3",
  "discoveryVersion": "v1",
  "servicePath": "",
  "ownerDomain": "google.com",
  "baseUrl": "https://androidpublisher.googleapis.com/",
  "resources": {
    "externaltransactions": {
      "methods": {
        "getexternaltransaction": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "ExternalTransaction"
          },
          "id": "androidpublisher.externaltransactions.getexternaltransaction",
          "description": "Gets an existing external transaction.",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^applications/[^/]+/externalTransactions/[^/]+$",
              "description": "Required. The name of the external transaction to retrieve. Format: applications/{package_name}/externalTransactions/{external_transaction}",
              "type": "string",
              "required": true
            }
          },
          "path": "androidpublisher/v3/{+name}",
          "flatPath": "androidpublisher/v3/applications/{applicationsId}/externalTransactions/{externalTransactionsId}",
          "parameterOrder": [
            "name"
          ]
        },
        "refundexternaltransaction": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.externaltransactions.refundexternaltransaction",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "description": "Required. The name of the external transaction that will be refunded. Format: applications/{package_name}/externalTransactions/{external_transaction}",
              "pattern": "^applications/[^/]+/externalTransactions/[^/]+$",
              "location": "path"
            }
          },
          "response": {
            "$ref": "ExternalTransaction"
          },
          "request": {
            "$ref": "RefundExternalTransactionRequest"
          },
          "description": "Refunds or partially refunds an existing external transaction.",
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ],
          "path": "androidpublisher/v3/{+name}:refund",
          "flatPath": "androidpublisher/v3/applications/{applicationsId}/externalTransactions/{externalTransactionsId}:refund"
        },
        "createexternaltransaction": {
          "request": {
            "$ref": "ExternalTransaction"
          },
          "flatPath": "androidpublisher/v3/applications/{applicationsId}/externalTransactions",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "ExternalTransaction"
          },
          "id": "androidpublisher.externaltransactions.createexternaltransaction",
          "description": "Creates a new external transaction.",
          "path": "androidpublisher/v3/{+parent}/externalTransactions",
          "parameters": {
            "externalTransactionId": {
              "location": "query",
              "type": "string",
              "description": "Required. The id to use for the external transaction. Must be unique across all other transactions for the app. This value should be 1-63 characters and valid characters are /a-z0-9_-/. Do not use this field to store any Personally Identifiable Information (PII) such as emails. Attempting to store PII in this field may result in requests being blocked."
            },
            "parent": {
              "required": true,
              "pattern": "^applications/[^/]+$",
              "description": "Required. The parent resource where this external transaction will be created. Format: applications/{package_name}",
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "POST"
        }
      }
    },
    "purchases": {
      "resources": {
        "products": {
          "methods": {
            "acknowledge": {
              "request": {
                "$ref": "ProductPurchasesAcknowledgeRequest"
              },
              "description": "Acknowledges a purchase of an inapp item.",
              "id": "androidpublisher.purchases.products.acknowledge",
              "parameters": {
                "packageName": {
                  "location": "path",
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
                  "required": true,
                  "type": "string"
                },
                "productId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1')."
                },
                "token": {
                  "required": true,
                  "type": "string",
                  "description": "The token provided to the user's device when the inapp product was purchased.",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:acknowledge",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:acknowledge",
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ]
            },
            "get": {
              "parameters": {
                "productId": {
                  "required": true,
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1').",
                  "location": "path",
                  "type": "string"
                },
                "token": {
                  "type": "string",
                  "description": "The token provided to the user's device when the inapp product was purchased.",
                  "required": true,
                  "location": "path"
                },
                "packageName": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing')."
                }
              },
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ],
              "description": "Checks the purchase and consumption status of an inapp item.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}",
              "id": "androidpublisher.purchases.products.get",
              "response": {
                "$ref": "ProductPurchase"
              },
              "httpMethod": "GET"
            },
            "consume": {
              "description": "Consumes a purchase for an inapp item.",
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:consume",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:consume",
              "id": "androidpublisher.purchases.products.consume",
              "parameters": {
                "token": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The token provided to the user's device when the inapp product was purchased."
                },
                "packageName": {
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "productId": {
                  "required": true,
                  "location": "path",
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1').",
                  "type": "string"
                }
              },
              "httpMethod": "POST"
            }
          }
        },
        "voidedpurchases": {
          "methods": {
            "list": {
              "parameterOrder": [
                "packageName"
              ],
              "response": {
                "$ref": "VoidedPurchasesListResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Lists the purchases that were canceled, refunded or charged-back.",
              "id": "androidpublisher.purchases.voidedpurchases.list",
              "httpMethod": "GET",
              "parameters": {
                "startIndex": {
                  "location": "query",
                  "type": "integer",
                  "format": "uint32",
                  "description": "Defines the index of the first element to return. This can only be used if indexed paging is enabled."
                },
                "endTime": {
                  "format": "int64",
                  "description": "The time, in milliseconds since the Epoch, of the newest voided purchase that you want to see in the response. The value of this parameter cannot be greater than the current time and is ignored if a pagination token is set. Default value is current time. Note: This filter is applied on the time at which the record is seen as voided by our systems and not the actual voided time returned in the response.",
                  "type": "string",
                  "location": "query"
                },
                "packageName": {
                  "required": true,
                  "description": "The package name of the application for which voided purchases need to be returned (for example, 'com.some.thing').",
                  "type": "string",
                  "location": "path"
                },
                "startTime": {
                  "location": "query",
                  "format": "int64",
                  "type": "string",
                  "description": "The time, in milliseconds since the Epoch, of the oldest voided purchase that you want to see in the response. The value of this parameter cannot be older than 30 days and is ignored if a pagination token is set. Default value is current time minus 30 days. Note: This filter is applied on the time at which the record is seen as voided by our systems and not the actual voided time returned in the response."
                },
                "maxResults": {
                  "type": "integer",
                  "description": "Defines how many results the list operation should return. The default number depends on the resource collection.",
                  "location": "query",
                  "format": "uint32"
                },
                "type": {
                  "description": "The type of voided purchases that you want to see in the response. Possible values are: 0. Only voided in-app product purchases will be returned in the response. This is the default value. 1. Both voided in-app purchases and voided subscription purchases will be returned in the response. Note: Before requesting to receive voided subscription purchases, you must switch to use orderId in the response which uniquely identifies one-time purchases and subscriptions. Otherwise, you will receive multiple subscription orders with the same PurchaseToken, because subscription renewal orders share the same PurchaseToken.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "token": {
                  "type": "string",
                  "location": "query",
                  "description": "Defines the token of the page to return, usually taken from TokenPagination. This can only be used if token paging is enabled."
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/voidedpurchases",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/voidedpurchases"
            }
          }
        },
        "subscriptions": {
          "methods": {
            "defer": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer",
              "request": {
                "$ref": "SubscriptionPurchasesDeferRequest"
              },
              "description": "Defers a user's subscription purchase until a specified future expiration time.",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer",
              "parameters": {
                "packageName": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing')."
                },
                "token": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The token provided to the user's device when the subscription was purchased."
                },
                "subscriptionId": {
                  "required": true,
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.purchases.subscriptions.defer",
              "response": {
                "$ref": "SubscriptionPurchasesDeferResponse"
              },
              "httpMethod": "POST"
            },
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "SubscriptionPurchase"
              },
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "parameters": {
                "token": {
                  "location": "path",
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "required": true,
                  "type": "string"
                },
                "subscriptionId": {
                  "type": "string",
                  "location": "path",
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "required": true
                },
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "required": true
                }
              },
              "description": "Checks whether a user's subscription purchase is valid and returns its expiry time.",
              "id": "androidpublisher.purchases.subscriptions.get",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}"
            },
            "revoke": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:revoke",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:revoke",
              "parameters": {
                "packageName": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing')."
                },
                "token": {
                  "location": "path",
                  "type": "string",
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "required": true
                },
                "subscriptionId": {
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "description": "Refunds and immediately revokes a user's subscription purchase. Access to the subscription will be terminated immediately and it will stop recurring.",
              "id": "androidpublisher.purchases.subscriptions.revoke"
            },
            "cancel": {
              "parameters": {
                "subscriptionId": {
                  "type": "string",
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "location": "path",
                  "required": true
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "required": true
                },
                "token": {
                  "type": "string",
                  "location": "path",
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "required": true
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:cancel",
              "description": "Cancels a user's subscription purchase. The subscription remains valid until its expiration time.",
              "httpMethod": "POST",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:cancel",
              "id": "androidpublisher.purchases.subscriptions.cancel"
            },
            "acknowledge": {
              "request": {
                "$ref": "SubscriptionPurchasesAcknowledgeRequest"
              },
              "id": "androidpublisher.purchases.subscriptions.acknowledge",
              "description": "Acknowledges a subscription purchase.",
              "httpMethod": "POST",
              "parameters": {
                "subscriptionId": {
                  "type": "string",
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "location": "path",
                  "required": true
                },
                "token": {
                  "required": true,
                  "location": "path",
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "type": "string"
                },
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing')."
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:acknowledge",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:acknowledge",
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "refund": {
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:refund",
              "parameters": {
                "packageName": {
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "token": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The token provided to the user's device when the subscription was purchased."
                },
                "subscriptionId": {
                  "location": "path",
                  "required": true,
                  "description": "\"The purchased subscription ID (for example, 'monthly001').",
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:refund",
              "httpMethod": "POST",
              "description": "Refunds a user's subscription purchase, but the subscription remains valid until its expiration time and it will continue to recur.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.purchases.subscriptions.refund"
            }
          }
        },
        "subscriptionsv2": {
          "methods": {
            "get": {
              "parameterOrder": [
                "packageName",
                "token"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Get metadata about a subscription",
              "parameters": {
                "token": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The token provided to the user's device when the subscription was purchased.",
                  "required": true
                },
                "packageName": {
                  "required": true,
                  "description": "The package of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}",
              "response": {
                "$ref": "SubscriptionPurchaseV2"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}",
              "id": "androidpublisher.purchases.subscriptionsv2.get"
            }
          }
        }
      }
    },
    "systemapks": {
      "resources": {
        "variants": {
          "methods": {
            "create": {
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "response": {
                "$ref": "Variant"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "request": {
                "$ref": "Variant"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Creates an APK which is suitable for inclusion in a system image from an already uploaded Android App Bundle.",
              "parameters": {
                "packageName": {
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path"
                },
                "versionCode": {
                  "location": "path",
                  "description": "The version code of the App Bundle.",
                  "required": true,
                  "type": "string",
                  "format": "int64"
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "packageName",
                "versionCode"
              ],
              "id": "androidpublisher.systemapks.variants.create"
            },
            "download": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}:download",
              "supportsMediaDownload": true,
              "parameters": {
                "versionCode": {
                  "description": "The version code of the App Bundle.",
                  "type": "string",
                  "format": "int64",
                  "location": "path",
                  "required": true
                },
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true
                },
                "variantId": {
                  "location": "path",
                  "description": "The ID of a previously created system APK variant.",
                  "type": "integer",
                  "format": "uint32",
                  "required": true
                }
              },
              "parameterOrder": [
                "packageName",
                "versionCode",
                "variantId"
              ],
              "httpMethod": "GET",
              "useMediaDownloadService": true,
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Downloads a previously created system APK which is suitable for inclusion in a system image.",
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}:download",
              "id": "androidpublisher.systemapks.variants.download"
            },
            "list": {
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "httpMethod": "GET",
              "parameters": {
                "versionCode": {
                  "required": true,
                  "type": "string",
                  "description": "The version code of the App Bundle.",
                  "location": "path",
                  "format": "int64"
                },
                "packageName": {
                  "location": "path",
                  "description": "Package name of the app.",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "SystemApksListResponse"
              },
              "description": "Returns the list of previously created system APK variants.",
              "parameterOrder": [
                "packageName",
                "versionCode"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "id": "androidpublisher.systemapks.variants.list"
            },
            "get": {
              "parameters": {
                "variantId": {
                  "format": "uint32",
                  "description": "The ID of a previously created system APK variant.",
                  "type": "integer",
                  "location": "path",
                  "required": true
                },
                "packageName": {
                  "required": true,
                  "description": "Package name of the app.",
                  "type": "string",
                  "location": "path"
                },
                "versionCode": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The version code of the App Bundle.",
                  "format": "int64"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.systemapks.variants.get",
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}",
              "response": {
                "$ref": "Variant"
              },
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}",
              "description": "Returns a previously created system APK variant.",
              "parameterOrder": [
                "packageName",
                "versionCode",
                "variantId"
              ],
              "httpMethod": "GET"
            }
          }
        }
      }
    },
    "reviews": {
      "methods": {
        "reply": {
          "httpMethod": "POST",
          "response": {
            "$ref": "ReviewsReplyResponse"
          },
          "parameterOrder": [
            "packageName",
            "reviewId"
          ],
          "request": {
            "$ref": "ReviewsReplyRequest"
          },
          "parameters": {
            "packageName": {
              "required": true,
              "description": "Package name of the app.",
              "type": "string",
              "location": "path"
            },
            "reviewId": {
              "location": "path",
              "type": "string",
              "description": "Unique identifier for a review.",
              "required": true
            }
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}:reply",
          "description": "Replies to a single review, or updates an existing reply.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.reviews.reply",
          "path": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}:reply"
        },
        "get": {
          "parameters": {
            "translationLanguage": {
              "type": "string",
              "description": "Language localization code.",
              "location": "query"
            },
            "reviewId": {
              "required": true,
              "type": "string",
              "description": "Unique identifier for a review.",
              "location": "path"
            },
            "packageName": {
              "location": "path",
              "description": "Package name of the app.",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}",
          "response": {
            "$ref": "Review"
          },
          "parameterOrder": [
            "packageName",
            "reviewId"
          ],
          "description": "Gets a single review.",
          "id": "androidpublisher.reviews.get",
          "path": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "list": {
          "parameters": {
            "startIndex": {
              "type": "integer",
              "format": "uint32",
              "description": "The index of the first element to return.",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "How many results the list operation should return.",
              "format": "uint32"
            },
            "token": {
              "location": "query",
              "description": "Pagination token. If empty, list starts at the first review.",
              "type": "string"
            },
            "packageName": {
              "required": true,
              "description": "Package name of the app.",
              "type": "string",
              "location": "path"
            },
            "translationLanguage": {
              "type": "string",
              "description": "Language localization code.",
              "location": "query"
            }
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews",
          "description": "Lists all reviews.",
          "path": "androidpublisher/v3/applications/{packageName}/reviews",
          "response": {
            "$ref": "ReviewsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "packageName"
          ],
          "id": "androidpublisher.reviews.list"
        }
      }
    },
    "generatedapks": {
      "methods": {
        "download": {
          "id": "androidpublisher.generatedapks.download",
          "flatPath": "androidpublisher/v3/applications/{packageName}/generatedApks/{versionCode}/downloads/{downloadId}:download",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/generatedApks/{versionCode}/downloads/{downloadId}:download",
          "parameterOrder": [
            "packageName",
            "versionCode",
            "downloadId"
          ],
          "useMediaDownloadService": true,
          "description": "Downloads a single signed APK generated from an app bundle.",
          "httpMethod": "GET",
          "supportsMediaDownload": true,
          "parameters": {
            "packageName": {
              "location": "path",
              "description": "Package name of the app.",
              "type": "string",
              "required": true
            },
            "downloadId": {
              "type": "string",
              "location": "path",
              "description": "Download ID, which uniquely identifies the APK to download. Can be obtained from the response of `generatedapks.list` method.",
              "required": true
            },
            "versionCode": {
              "location": "path",
              "required": true,
              "type": "integer",
              "description": "Version code of the app bundle.",
              "format": "int32"
            }
          }
        },
        "list": {
          "path": "androidpublisher/v3/applications/{packageName}/generatedApks/{versionCode}",
          "flatPath": "androidpublisher/v3/applications/{packageName}/generatedApks/{versionCode}",
          "response": {
            "$ref": "GeneratedApksListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.generatedapks.list",
          "parameters": {
            "versionCode": {
              "description": "Version code of the app bundle.",
              "required": true,
              "format": "int32",
              "type": "integer",
              "location": "path"
            },
            "packageName": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Package name of the app."
            }
          },
          "httpMethod": "GET",
          "description": "Returns download metadata for all APKs that were generated from a given app bundle.",
          "parameterOrder": [
            "packageName",
            "versionCode"
          ]
        }
      }
    },
    "internalappsharingartifacts": {
      "methods": {
        "uploadapk": {
          "httpMethod": "POST",
          "description": "Uploads an APK to internal app sharing. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java.",
          "parameterOrder": [
            "packageName"
          ],
          "id": "androidpublisher.internalappsharingartifacts.uploadapk",
          "parameters": {
            "packageName": {
              "location": "path",
              "required": true,
              "description": "Package name of the app.",
              "type": "string"
            }
          },
          "mediaUpload": {
            "accept": [
              "application/octet-stream",
              "application/vnd.android.package-archive"
            ],
            "protocols": {
              "simple": {
                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
                "multipart": true
              },
              "resumable": {
                "path": "/resumable/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
                "multipart": true
              }
            },
            "maxSize": "1073741824"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "supportsMediaUpload": true,
          "path": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
          "response": {
            "$ref": "InternalAppSharingArtifact"
          },
          "flatPath": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk"
        },
        "uploadbundle": {
          "path": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
          "mediaUpload": {
            "accept": [
              "application/octet-stream"
            ],
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
                "multipart": true
              },
              "simple": {
                "multipart": true,
                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle"
              }
            },
            "maxSize": "10737418240"
          },
          "supportsMediaUpload": true,
          "description": "Uploads an app bundle to internal app sharing. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java.",
          "httpMethod": "POST",
          "flatPath": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
          "response": {
            "$ref": "InternalAppSharingArtifact"
          },
          "parameterOrder": [
            "packageName"
          ],
          "id": "androidpublisher.internalappsharingartifacts.uploadbundle",
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        }
      }
    },
    "monetization": {
      "methods": {
        "convertRegionPrices": {
          "description": "Calculates the region prices, using today's exchange rate and country-specific pricing patterns, based on the price in the request for a set of regions.",
          "path": "androidpublisher/v3/applications/{packageName}/pricing:convertRegionPrices",
          "parameters": {
            "packageName": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The app package name."
            }
          },
          "parameterOrder": [
            "packageName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "request": {
            "$ref": "ConvertRegionPricesRequest"
          },
          "response": {
            "$ref": "ConvertRegionPricesResponse"
          },
          "id": "androidpublisher.monetization.convertRegionPrices",
          "flatPath": "androidpublisher/v3/applications/{packageName}/pricing:convertRegionPrices",
          "httpMethod": "POST"
        }
      },
      "resources": {
        "subscriptions": {
          "resources": {
            "basePlans": {
              "resources": {
                "offers": {
                  "methods": {
                    "activate": {
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "SubscriptionOffer"
                      },
                      "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers/{offerId}:activate",
                      "parameters": {
                        "productId": {
                          "description": "Required. The parent subscription (ID) of the offer to activate.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "packageName": {
                          "description": "Required. The parent app (package name) of the offer to activate.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "basePlanId": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent base plan (ID) of the offer to activate.",
                          "required": true
                        },
                        "offerId": {
                          "description": "Required. The unique offer ID of the offer to activate.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "id": "androidpublisher.monetization.subscriptions.basePlans.offers.activate",
                      "description": "Activates a subscription offer. Once activated, subscription offers will be available to new subscribers.",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "basePlanId",
                        "offerId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "request": {
                        "$ref": "ActivateSubscriptionOfferRequest"
                      },
                      "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers/{offerId}:activate"
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "parameters": {
                        "offerId": {
                          "description": "Required. The unique offer ID of the offer to delete.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "basePlanId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent base plan (ID) of the offer to delete."
                        },
                        "productId": {
                          "location": "path",
                          "description": "Required. The parent subscription (ID) of the offer to delete.",
                          "required": true,
                          "type": "string"
                        },
                        "packageName": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent app (package name) of the offer to delete."
                        }
                      },
                      "id": "androidpublisher.monetization.subscriptions.basePlans.offers.delete",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers/{offerId}",
                      "description": "Deletes a subscription offer. Can only be done for draft offers. This action is irreversible.",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "basePlanId",
                        "offerId"
                      ],
                      "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers/{offerId}"
                    },
                    "list": {
                      "id": "androidpublisher.monetization.subscriptions.basePlans.offers.list",
                      "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "basePlanId"
                      ],
                      "parameters": {
                        "basePlanId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent base plan (ID) for which the offers should be read. May be specified as '-' to read all offers under a subscription."
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer",
                          "description": "The maximum number of subscriptions to return. The service may return fewer than this value. If unspecified, at most 50 subscriptions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                        },
                        "packageName": {
                          "location": "path",
                          "description": "Required. The parent app (package name) for which the subscriptions should be read.",
                          "type": "string",
                          "required": true
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "A page token, received from a previous `ListSubscriptionsOffers` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSubscriptionOffers` must match the call that provided the page token.",
                          "type": "string"
                        },
                        "productId": {
                          "required": true,
                          "description": "Required. The parent subscription (ID) for which the offers should be read.",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListSubscriptionOffersResponse"
                      },
                      "description": "Lists all offers under a given subscription."
                    },
                    "deactivate": {
                      "httpMethod": "POST",
                      "id": "androidpublisher.monetization.subscriptions.basePlans.offers.deactivate",
                      "response": {
                        "$ref": "SubscriptionOffer"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "parameters": {
                        "offerId": {
                          "required": true,
                          "description": "Required. The unique offer ID of the offer to deactivate.",
                          "type": "string",
                          "location": "path"
                        },
                        "packageName": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent app (package name) of the offer to deactivate.",
                          "required": true
                        },
                        "basePlanId": {
                          "description": "Required. The parent base plan (ID) of the offer to deactivate.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "productId": {
                          "type": "string",
                          "description": "Required. The parent subscription (ID) of the offer to deactivate.",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "DeactivateSubscriptionOfferRequest"
                      },
                      "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers/{offerId}:deactivate",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "basePlanId",
                        "offerId"
                      ],
                      "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers/{offerId}:deactivate",
                      "description": "Deactivates a subscription offer. Once deactivated, existing subscribers will maintain their subscription, but the offer will become unavailable to new subscribers."
                    },
                    "patch": {
                      "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers/{offerId}",
                      "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers/{offerId}",
                      "parameters": {
                        "basePlanId": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. Immutable. The ID of the base plan to which this offer is an extension.",
                          "required": true
                        },
                        "updateMask": {
                          "description": "Required. The list of fields to be updated.",
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        },
                        "regionsVersion.version": {
                          "description": "Required. The latest version is 2022/02.",
                          "type": "string",
                          "location": "query"
                        },
                        "productId": {
                          "required": true,
                          "description": "Required. Immutable. The ID of the parent subscription this offer belongs to.",
                          "location": "path",
                          "type": "string"
                        },
                        "packageName": {
                          "type": "string",
                          "required": true,
                          "description": "Required. Immutable. The package name of the app the parent subscription belongs to.",
                          "location": "path"
                        },
                        "offerId": {
                          "type": "string",
                          "required": true,
                          "description": "Required. Immutable. Unique ID of this subscription offer. Must be unique within the base plan.",
                          "location": "path"
                        }
                      },
                      "id": "androidpublisher.monetization.subscriptions.basePlans.offers.patch",
                      "description": "Updates an existing subscription offer.",
                      "response": {
                        "$ref": "SubscriptionOffer"
                      },
                      "request": {
                        "$ref": "SubscriptionOffer"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "basePlanId",
                        "offerId"
                      ],
                      "httpMethod": "PATCH"
                    },
                    "create": {
                      "response": {
                        "$ref": "SubscriptionOffer"
                      },
                      "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers",
                      "parameters": {
                        "packageName": {
                          "type": "string",
                          "description": "Required. The parent app (package name) for which the offer should be created. Must be equal to the package_name field on the Subscription resource.",
                          "required": true,
                          "location": "path"
                        },
                        "regionsVersion.version": {
                          "location": "query",
                          "description": "Required. The latest version is 2022/02.",
                          "type": "string"
                        },
                        "offerId": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. The ID to use for the offer. For the requirements on this format, see the documentation of the offer_id field on the SubscriptionOffer resource."
                        },
                        "basePlanId": {
                          "type": "string",
                          "description": "Required. The parent base plan (ID) for which the offer should be created. Must be equal to the base_plan_id field on the SubscriptionOffer resource.",
                          "location": "path",
                          "required": true
                        },
                        "productId": {
                          "description": "Required. The parent subscription (ID) for which the offer should be created. Must be equal to the product_id field on the SubscriptionOffer resource.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "SubscriptionOffer"
                      },
                      "description": "Creates a new subscription offer. Only auto-renewing base plans can have subscription offers. The offer state will be DRAFT until it is activated.",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "basePlanId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "httpMethod": "POST",
                      "id": "androidpublisher.monetization.subscriptions.basePlans.offers.create",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers"
                    },
                    "get": {
                      "parameters": {
                        "offerId": {
                          "description": "Required. The unique offer ID of the offer to get.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "basePlanId": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. The parent base plan (ID) of the offer to get."
                        },
                        "productId": {
                          "description": "Required. The parent subscription (ID) of the offer to get.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "packageName": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent app (package name) of the offer to get."
                        }
                      },
                      "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers/{offerId}",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers/{offerId}",
                      "httpMethod": "GET",
                      "description": "Reads a single offer",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "response": {
                        "$ref": "SubscriptionOffer"
                      },
                      "id": "androidpublisher.monetization.subscriptions.basePlans.offers.get",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "basePlanId",
                        "offerId"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "migratePrices": {
                  "description": "Migrates subscribers who are receiving an historical subscription price to the currently-offered price for the specified region. Requests will cause price change notifications to be sent to users who are currently receiving an historical price older than the supplied timestamp. Subscribers who do not agree to the new price will have their subscription ended at the next renewal.",
                  "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}:migratePrices",
                  "httpMethod": "POST",
                  "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}:migratePrices",
                  "parameterOrder": [
                    "packageName",
                    "productId",
                    "basePlanId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "response": {
                    "$ref": "MigrateBasePlanPricesResponse"
                  },
                  "id": "androidpublisher.monetization.subscriptions.basePlans.migratePrices",
                  "parameters": {
                    "basePlanId": {
                      "required": true,
                      "description": "Required. The unique base plan ID of the base plan to update prices on.",
                      "location": "path",
                      "type": "string"
                    },
                    "productId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The ID of the subscription to update. Must be equal to the product_id field on the Subscription resource."
                    },
                    "packageName": {
                      "required": true,
                      "location": "path",
                      "description": "Required. Package name of the parent app. Must be equal to the package_name field on the Subscription resource.",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "MigrateBasePlanPricesRequest"
                  }
                },
                "activate": {
                  "response": {
                    "$ref": "Subscription"
                  },
                  "description": "Activates a base plan. Once activated, base plans will be available to new subscribers.",
                  "id": "androidpublisher.monetization.subscriptions.basePlans.activate",
                  "httpMethod": "POST",
                  "parameters": {
                    "productId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent subscription (ID) of the base plan to activate."
                    },
                    "basePlanId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The unique base plan ID of the base plan to activate."
                    },
                    "packageName": {
                      "required": true,
                      "description": "Required. The parent app (package name) of the base plan to activate.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "parameterOrder": [
                    "packageName",
                    "productId",
                    "basePlanId"
                  ],
                  "request": {
                    "$ref": "ActivateBasePlanRequest"
                  },
                  "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}:activate",
                  "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}:activate"
                },
                "deactivate": {
                  "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}:deactivate",
                  "parameters": {
                    "productId": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent subscription (ID) of the base plan to deactivate.",
                      "location": "path"
                    },
                    "packageName": {
                      "type": "string",
                      "description": "Required. The parent app (package name) of the base plan to deactivate.",
                      "required": true,
                      "location": "path"
                    },
                    "basePlanId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The unique base plan ID of the base plan to deactivate."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "request": {
                    "$ref": "DeactivateBasePlanRequest"
                  },
                  "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}:deactivate",
                  "id": "androidpublisher.monetization.subscriptions.basePlans.deactivate",
                  "response": {
                    "$ref": "Subscription"
                  },
                  "parameterOrder": [
                    "packageName",
                    "productId",
                    "basePlanId"
                  ],
                  "httpMethod": "POST",
                  "description": "Deactivates a base plan. Once deactivated, the base plan will become unavailable to new subscribers, but existing subscribers will maintain their subscription"
                },
                "delete": {
                  "parameterOrder": [
                    "packageName",
                    "productId",
                    "basePlanId"
                  ],
                  "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}",
                  "parameters": {
                    "packageName": {
                      "type": "string",
                      "description": "Required. The parent app (package name) of the base plan to delete.",
                      "location": "path",
                      "required": true
                    },
                    "basePlanId": {
                      "required": true,
                      "description": "Required. The unique offer ID of the base plan to delete.",
                      "location": "path",
                      "type": "string"
                    },
                    "productId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent subscription (ID) of the base plan to delete."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "httpMethod": "DELETE",
                  "id": "androidpublisher.monetization.subscriptions.basePlans.delete",
                  "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}",
                  "description": "Deletes a base plan. Can only be done for draft base plans. This action is irreversible."
                }
              }
            }
          },
          "methods": {
            "create": {
              "id": "androidpublisher.monetization.subscriptions.create",
              "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions",
              "response": {
                "$ref": "Subscription"
              },
              "request": {
                "$ref": "Subscription"
              },
              "path": "androidpublisher/v3/applications/{packageName}/subscriptions",
              "description": "Creates a new subscription. Newly added base plans will remain in draft state until activated.",
              "httpMethod": "POST",
              "parameterOrder": [
                "packageName"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "regionsVersion.version": {
                  "type": "string",
                  "description": "Required. The latest version is 2022/02.",
                  "location": "query"
                },
                "productId": {
                  "type": "string",
                  "description": "Required. The ID to use for the subscription. For the requirements on this format, see the documentation of the product_id field on the Subscription resource.",
                  "location": "query"
                },
                "packageName": {
                  "required": true,
                  "description": "Required. The parent app (package name) for which the subscription should be created. Must be equal to the package_name field on the Subscription resource.",
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "archive": {
              "httpMethod": "POST",
              "description": "Archives a subscription. Can only be done if at least one base plan was active in the past, and no base plan is available for new or existing subscribers currently. This action is irreversible, and the subscription ID will remain reserved.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "productId"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}:archive",
              "parameters": {
                "packageName": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The parent app (package name) of the app of the subscription to delete.",
                  "location": "path"
                },
                "productId": {
                  "location": "path",
                  "description": "Required. The unique product ID of the subscription to delete.",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "androidpublisher.monetization.subscriptions.archive",
              "request": {
                "$ref": "ArchiveSubscriptionRequest"
              },
              "response": {
                "$ref": "Subscription"
              },
              "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}:archive"
            },
            "get": {
              "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}",
              "parameterOrder": [
                "packageName",
                "productId"
              ],
              "parameters": {
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The parent app (package name) of the subscription to get."
                },
                "productId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The unique product ID of the subscription to get."
                }
              },
              "response": {
                "$ref": "Subscription"
              },
              "id": "androidpublisher.monetization.subscriptions.get",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "GET",
              "description": "Reads a single subscription.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}"
            },
            "list": {
              "parameterOrder": [
                "packageName"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions",
              "response": {
                "$ref": "ListSubscriptionsResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Lists all subscriptions under a given app.",
              "id": "androidpublisher.monetization.subscriptions.list",
              "path": "androidpublisher/v3/applications/{packageName}/subscriptions",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A page token, received from a previous `ListSubscriptions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSubscriptions` must match the call that provided the page token.",
                  "type": "string"
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The parent app (package name) for which the subscriptions should be read."
                },
                "showArchived": {
                  "location": "query",
                  "description": "Whether archived subscriptions should be included in the response. Defaults to false.",
                  "type": "boolean"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of subscriptions to return. The service may return fewer than this value. If unspecified, at most 50 subscriptions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "format": "int32",
                  "type": "integer"
                }
              }
            },
            "patch": {
              "description": "Updates an existing subscription.",
              "id": "androidpublisher.monetization.subscriptions.patch",
              "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}",
              "request": {
                "$ref": "Subscription"
              },
              "parameters": {
                "packageName": {
                  "location": "path",
                  "required": true,
                  "description": "Immutable. Package name of the parent app.",
                  "type": "string"
                },
                "regionsVersion.version": {
                  "location": "query",
                  "description": "Required. The latest version is 2022/02.",
                  "type": "string"
                },
                "productId": {
                  "description": "Immutable. Unique product ID of the product. Unique within the parent app. Product IDs must be composed of lower-case letters (a-z), numbers (0-9), underscores (_) and dots (.). It must start with a lower-case letter or number, and be between 1 and 40 (inclusive) characters in length.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "updateMask": {
                  "description": "Required. The list of fields to be updated.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "parameterOrder": [
                "packageName",
                "productId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "Subscription"
              }
            },
            "delete": {
              "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}",
              "parameterOrder": [
                "packageName",
                "productId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "DELETE",
              "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}",
              "id": "androidpublisher.monetization.subscriptions.delete",
              "description": "Deletes a subscription. A subscription can only be deleted if it has never had a base plan published.",
              "parameters": {
                "productId": {
                  "description": "Required. The unique product ID of the subscription to delete.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "packageName": {
                  "description": "Required. The parent app (package name) of the app of the subscription to delete.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "applications": {
      "resources": {
        "deviceTierConfigs": {
          "methods": {
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/deviceTierConfigs",
              "parameterOrder": [
                "packageName"
              ],
              "description": "Creates a new device tier config for an app.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/deviceTierConfigs",
              "httpMethod": "POST",
              "parameters": {
                "allowUnknownDevices": {
                  "description": "Whether the service should accept device IDs that are unknown to Play's device catalog.",
                  "location": "query",
                  "type": "boolean"
                },
                "packageName": {
                  "required": true,
                  "description": "Package name of the app.",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "DeviceTierConfig"
              },
              "id": "androidpublisher.applications.deviceTierConfigs.create",
              "request": {
                "$ref": "DeviceTierConfig"
              }
            },
            "get": {
              "description": "Returns a particular device tier config.",
              "path": "androidpublisher/v3/applications/{packageName}/deviceTierConfigs/{deviceTierConfigId}",
              "parameters": {
                "packageName": {
                  "required": true,
                  "location": "path",
                  "description": "Package name of the app.",
                  "type": "string"
                },
                "deviceTierConfigId": {
                  "format": "int64",
                  "location": "path",
                  "description": "Required. Id of an existing device tier config.",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "DeviceTierConfig"
              },
              "id": "androidpublisher.applications.deviceTierConfigs.get",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "deviceTierConfigId"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/deviceTierConfigs/{deviceTierConfigId}"
            },
            "list": {
              "path": "androidpublisher/v3/applications/{packageName}/deviceTierConfigs",
              "id": "androidpublisher.applications.deviceTierConfigs.list",
              "flatPath": "androidpublisher/v3/applications/{packageName}/deviceTierConfigs",
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of device tier configs to return. The service may return fewer than this value. If unspecified, at most 10 device tier configs will be returned. The maximum value for this field is 100; values above 100 will be coerced to 100. Device tier configs will be ordered by descending creation time.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "description": "Package name of the app.",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token, received from a previous `ListDeviceTierConfigs` call. Provide this to retrieve the subsequent page."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "GET",
              "description": "Returns created device tier configs, ordered by descending creation time.",
              "parameterOrder": [
                "packageName"
              ],
              "response": {
                "$ref": "ListDeviceTierConfigsResponse"
              }
            }
          }
        }
      }
    },
    "grants": {
      "methods": {
        "create": {
          "path": "androidpublisher/v3/{+parent}/grants",
          "parameters": {
            "parent": {
              "pattern": "^developers/[^/]+/users/[^/]+$",
              "description": "Required. The user which needs permission. Format: developers/{developer}/users/{user}",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "parent"
          ],
          "id": "androidpublisher.grants.create",
          "description": "Grant access for a user to the given package.",
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}/grants",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "request": {
            "$ref": "Grant"
          },
          "response": {
            "$ref": "Grant"
          }
        },
        "patch": {
          "path": "androidpublisher/v3/{+name}",
          "description": "Updates access for the user to the given package.",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}/grants/{grantsId}",
          "request": {
            "$ref": "Grant"
          },
          "parameters": {
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query",
              "description": "Optional. The list of fields to be updated."
            },
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^developers/[^/]+/users/[^/]+/grants/[^/]+$",
              "description": "Required. Resource name for this grant, following the pattern \"developers/{developer}/users/{email}/grants/{package_name}\". If this grant is for a draft app, the app ID will be used in this resource name instead of the package name."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "Grant"
          },
          "httpMethod": "PATCH",
          "id": "androidpublisher.grants.patch"
        },
        "delete": {
          "path": "androidpublisher/v3/{+name}",
          "parameterOrder": [
            "name"
          ],
          "description": "Removes all access for the user to the given package or developer account.",
          "id": "androidpublisher.grants.delete",
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "description": "Required. The name of the grant to delete. Format: developers/{developer}/users/{email}/grants/{package_name}",
              "required": true,
              "type": "string",
              "pattern": "^developers/[^/]+/users/[^/]+/grants/[^/]+$",
              "location": "path"
            }
          },
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}/grants/{grantsId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        }
      }
    },
    "inappproducts": {
      "methods": {
        "get": {
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "parameters": {
            "packageName": {
              "type": "string",
              "required": true,
              "description": "Package name of the app.",
              "location": "path"
            },
            "sku": {
              "description": "Unique identifier for the in-app product.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "response": {
            "$ref": "InAppProduct"
          },
          "description": "Gets an in-app product, which can be a managed product or a subscription.",
          "httpMethod": "GET",
          "id": "androidpublisher.inappproducts.get",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "sku": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Unique identifier for the in-app product."
            },
            "autoConvertMissingPrices": {
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
              "type": "boolean",
              "location": "query"
            },
            "packageName": {
              "description": "Package name of the app.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "request": {
            "$ref": "InAppProduct"
          },
          "description": "Patches an in-app product (i.e. a managed product or a subscription).",
          "httpMethod": "PATCH",
          "id": "androidpublisher.inappproducts.patch",
          "response": {
            "$ref": "InAppProduct"
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "parameterOrder": [
            "packageName",
            "sku"
          ]
        },
        "insert": {
          "parameterOrder": [
            "packageName"
          ],
          "request": {
            "$ref": "InAppProduct"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Creates an in-app product (i.e. a managed product or a subscription).",
          "response": {
            "$ref": "InAppProduct"
          },
          "httpMethod": "POST",
          "parameters": {
            "packageName": {
              "location": "path",
              "required": true,
              "description": "Package name of the app.",
              "type": "string"
            },
            "autoConvertMissingPrices": {
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
              "type": "boolean",
              "location": "query"
            }
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "id": "androidpublisher.inappproducts.insert",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts"
        },
        "update": {
          "description": "Updates an in-app product (i.e. a managed product or a subscription).",
          "request": {
            "$ref": "InAppProduct"
          },
          "response": {
            "$ref": "InAppProduct"
          },
          "parameters": {
            "autoConvertMissingPrices": {
              "type": "boolean",
              "location": "query",
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false."
            },
            "packageName": {
              "type": "string",
              "required": true,
              "description": "Package name of the app.",
              "location": "path"
            },
            "sku": {
              "type": "string",
              "location": "path",
              "description": "Unique identifier for the in-app product.",
              "required": true
            },
            "allowMissing": {
              "location": "query",
              "description": "If set to true, and the in-app product with the given package_name and sku doesn't exist, the in-app product will be created.",
              "type": "boolean"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "PUT",
          "id": "androidpublisher.inappproducts.update",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "parameterOrder": [
            "packageName",
            "sku"
          ]
        },
        "delete": {
          "description": "Deletes an in-app product (i.e. a managed product or a subscription).",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "httpMethod": "DELETE",
          "parameters": {
            "packageName": {
              "location": "path",
              "description": "Package name of the app.",
              "type": "string",
              "required": true
            },
            "sku": {
              "description": "Unique identifier for the in-app product.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "id": "androidpublisher.inappproducts.delete",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "list": {
          "description": "Lists all in-app products - both managed products and subscriptions. If an app has a large number of in-app products, the response may be paginated. In this case the response field `tokenPagination.nextPageToken` will be set and the caller should provide its value as a `token` request parameter to retrieve the next page.",
          "parameterOrder": [
            "packageName"
          ],
          "id": "androidpublisher.inappproducts.list",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "GET",
          "parameters": {
            "packageName": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Package name of the app."
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "deprecated": true,
              "description": "Deprecated and ignored. The page size is determined by the server.",
              "format": "uint32"
            },
            "startIndex": {
              "deprecated": true,
              "description": "Deprecated and ignored. Set the `token` parameter to retrieve the next page.",
              "type": "integer",
              "location": "query",
              "format": "uint32"
            },
            "token": {
              "location": "query",
              "type": "string",
              "description": "Pagination token. If empty, list starts at the first product."
            }
          },
          "response": {
            "$ref": "InappproductsListResponse"
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts"
        }
      }
    },
    "orders": {
      "methods": {
        "refund": {
          "parameters": {
            "orderId": {
              "required": true,
              "type": "string",
[...]
