{
  "revision": "20211021",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/android-publisher",
  "protocol": "rest",
  "version": "v3",
  "servicePath": "",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "basePath": "",
  "canonicalName": "Android Publisher",
  "schemas": {
    "Review": {
      "properties": {
        "reviewId": {
          "type": "string",
          "description": "Unique identifier for this review."
        },
        "authorName": {
          "type": "string",
          "description": "The name of the user who wrote the review."
        },
        "comments": {
          "items": {
            "$ref": "Comment"
          },
          "type": "array",
          "description": "A repeated field containing comments for the review."
        }
      },
      "id": "Review",
      "description": "An Android app review.",
      "type": "object"
    },
    "InappproductsListResponse": {
      "description": "Response listing all in-app products.",
      "type": "object",
      "properties": {
        "pageInfo": {
          "description": "Deprecated and unset.",
          "$ref": "PageInfo"
        },
        "tokenPagination": {
          "description": "Pagination token, to handle a number of products that is over one page.",
          "$ref": "TokenPagination"
        },
        "inappproduct": {
          "type": "array",
          "description": "All in-app products.",
          "items": {
            "$ref": "InAppProduct"
          }
        },
        "kind": {
          "description": "The kind of this response (\"androidpublisher#inappproductsListResponse\").",
          "type": "string"
        }
      },
      "id": "InappproductsListResponse"
    },
    "DeobfuscationFilesUploadResponse": {
      "type": "object",
      "properties": {
        "deobfuscationFile": {
          "description": "The uploaded Deobfuscation File configuration.",
          "$ref": "DeobfuscationFile"
        }
      },
      "id": "DeobfuscationFilesUploadResponse",
      "description": "Responses for the upload."
    },
    "ReviewsReplyResponse": {
      "id": "ReviewsReplyResponse",
      "properties": {
        "result": {
          "description": "The result of replying/updating a reply to review.",
          "$ref": "ReviewReplyResult"
        }
      },
      "type": "object",
      "description": "Response on status of replying to a review."
    },
    "SubscriptionPurchasesAcknowledgeRequest": {
      "properties": {
        "developerPayload": {
          "type": "string",
          "description": "Payload to attach to the purchase."
        }
      },
      "description": "Request for the purchases.subscriptions.acknowledge API.",
      "type": "object",
      "id": "SubscriptionPurchasesAcknowledgeRequest"
    },
    "User": {
      "properties": {
        "expirationTime": {
          "description": "The time at which the user's access expires, if set.",
          "type": "string",
          "format": "google-datetime"
        },
        "developerAccountPermissions": {
          "description": "Permissions for the user which apply across the developer account.",
          "type": "array",
          "items": {
            "enum": [
              "DEVELOPER_LEVEL_PERMISSION_UNSPECIFIED",
              "CAN_SEE_ALL_APPS",
              "CAN_VIEW_FINANCIAL_DATA_GLOBAL",
              "CAN_MANAGE_PERMISSIONS_GLOBAL",
              "CAN_EDIT_GAMES_GLOBAL",
              "CAN_PUBLISH_GAMES_GLOBAL",
              "CAN_REPLY_TO_REVIEWS_GLOBAL",
              "CAN_MANAGE_PUBLIC_APKS_GLOBAL",
              "CAN_MANAGE_TRACK_APKS_GLOBAL",
              "CAN_MANAGE_TRACK_USERS_GLOBAL",
              "CAN_MANAGE_PUBLIC_LISTING_GLOBAL",
              "CAN_MANAGE_DRAFT_APPS_GLOBAL",
              "CAN_CREATE_MANAGED_PLAY_APPS_GLOBAL",
              "CAN_CHANGE_MANAGED_PLAY_SETTING_GLOBAL",
              "CAN_MANAGE_ORDERS_GLOBAL"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unknown or unspecified permission.",
              "View app information and download bulk reports (read-only).",
              "View financial data, orders, and cancellation survey responses.",
              "Admin (all permissions).",
              "Edit Play Games Services projects.",
              "Publish Play Games Services projects.",
              "Reply to reviews.",
              "Release to production, exclude devices, and use app signing by Google Play.",
              "Release to testing tracks.",
              "Manage testing tracks and edit tester lists.",
              "Manage store presence.",
              "Create, edit, and delete draft apps.",
              "Create and publish private apps to your organization.",
              "Choose whether apps are public, or only available to your organization.",
              "Manage orders and subscriptions."
            ]
          }
        },
        "accessState": {
          "type": "string",
          "enumDescriptions": [
            "Unknown or unspecified access state.",
            "User is invited but has not yet accepted the invitation.",
            "Invitation has expired.",
            "User has accepted an invitation and has access to the Play Console.",
            "Account access has expired."
          ],
          "enum": [
            "ACCESS_STATE_UNSPECIFIED",
            "INVITED",
            "INVITATION_EXPIRED",
            "ACCESS_GRANTED",
            "ACCESS_EXPIRED"
          ],
          "readOnly": true,
          "description": "Output only. The state of the user's access to the Play Console."
        },
        "grants": {
          "type": "array",
          "description": "Output only. Per-app permissions for the user.",
          "items": {
            "$ref": "Grant"
          },
          "readOnly": true
        },
        "email": {
          "description": "Immutable. The user's email address.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Resource name for this user, following the pattern \"developers/{developer}/users/{email}\"."
        },
        "partial": {
          "readOnly": true,
          "description": "Output only. Whether there are more permissions for the user that are not represented here.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "User",
      "description": "A user resource."
    },
    "ImagesUploadResponse": {
      "description": "Response for uploading an image.",
      "properties": {
        "image": {
          "$ref": "Image",
          "description": "The uploaded image."
        }
      },
      "type": "object",
      "id": "ImagesUploadResponse"
    },
    "ReviewReplyResult": {
      "properties": {
        "replyText": {
          "type": "string",
          "description": "The reply text that was applied."
        },
        "lastEdited": {
          "description": "The time at which the reply took effect.",
          "$ref": "Timestamp"
        }
      },
      "type": "object",
      "id": "ReviewReplyResult",
      "description": "The result of replying/updating a reply to review."
    },
    "TracksListResponse": {
      "type": "object",
      "id": "TracksListResponse",
      "description": "Response listing all tracks.",
      "properties": {
        "tracks": {
          "type": "array",
          "description": "All tracks.",
          "items": {
            "$ref": "Track"
          }
        },
        "kind": {
          "type": "string",
          "description": "The kind of this response (\"androidpublisher#tracksListResponse\")."
        }
      }
    },
    "ApksListResponse": {
      "description": "Response listing all APKs.",
      "id": "ApksListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of this response (\"androidpublisher#apksListResponse\")."
        },
        "apks": {
          "description": "All APKs.",
          "items": {
            "$ref": "Apk"
          },
          "type": "array"
        }
      }
    },
    "DeveloperComment": {
      "properties": {
        "lastModified": {
          "$ref": "Timestamp",
          "description": "The last time at which this comment was updated."
        },
        "text": {
          "description": "The content of the comment, i.e. reply body.",
          "type": "string"
        }
      },
      "id": "DeveloperComment",
      "description": "Developer entry from conversation between user and developer.",
      "type": "object"
    },
    "ConvertedOtherRegionsPrice": {
      "id": "ConvertedOtherRegionsPrice",
      "description": "Converted other regions prices.",
      "properties": {
        "eurPrice": {
          "$ref": "Money",
          "description": "Price in EUR to use for the \"Other regions\" location exclusive of taxes."
        },
        "usdPrice": {
          "description": "Price in USD to use for the \"Other regions\" location exclusive of taxes.",
          "$ref": "Money"
        }
      },
      "type": "object"
    },
    "SubscriptionCancelSurveyResult": {
      "id": "SubscriptionCancelSurveyResult",
      "description": "Information provided by the user when they complete the subscription cancellation flow (cancellation reason survey).",
      "properties": {
        "userInputCancelReason": {
          "type": "string",
          "description": "The customized input cancel reason from the user. Only present when cancelReason is 0."
        },
        "cancelSurveyReason": {
          "format": "int32",
          "type": "integer",
          "description": "The cancellation reason the user chose in the survey. Possible values are: 0. Other 1. I don't use this service enough 2. Technical issues 3. Cost-related reasons 4. I found a better app"
        }
      },
      "type": "object"
    },
    "RegionalTaxRateInfo": {
      "properties": {
        "eligibleForStreamingServiceTaxRate": {
          "type": "boolean",
          "description": "You must tell us if your app contains streaming products to correctly charge US state and local sales tax. Field only supported in United States."
        },
        "taxTier": {
          "type": "string",
          "enum": [
            "TAX_TIER_UNSPECIFIED",
            "TAX_TIER_BOOKS_1",
            "TAX_TIER_NEWS_1",
            "TAX_TIER_NEWS_2"
          ],
          "description": "Tax tier to specify reduced tax rate. Developers who sell digital news, magazines, newspapers, books, or audiobooks in various regions may be eligible for reduced tax rates. [Learn more](https://support.google.com/googleplay/android-developer/answer/10463498).",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "description": "Specified details about taxation in a given geographical region.",
      "id": "RegionalTaxRateInfo",
      "type": "object"
    },
    "ApksAddExternallyHostedRequest": {
      "description": "Request to create a new externally hosted APK.",
      "type": "object",
      "id": "ApksAddExternallyHostedRequest",
      "properties": {
        "externallyHostedApk": {
          "$ref": "ExternallyHostedApk",
          "description": "The definition of the externally-hosted APK and where it is located."
        }
      }
    },
    "UserComment": {
      "description": "User entry from conversation between user and developer.",
      "properties": {
        "originalText": {
          "description": "Untranslated text of the review, where the review was translated. If the review was not translated this is left blank.",
          "type": "string"
        },
        "reviewerLanguage": {
          "type": "string",
          "description": "Language code for the reviewer. This is taken from the device settings so is not guaranteed to match the language the review is written in. May be absent."
        },
        "text": {
          "type": "string",
          "description": "The content of the comment, i.e. review body. In some cases users have been able to write a review with separate title and body; in those cases the title and body are concatenated and separated by a tab character."
        },
        "appVersionCode": {
          "format": "int32",
          "description": "Integer version code of the app as installed at the time the review was written. May be absent.",
          "type": "integer"
        },
        "deviceMetadata": {
          "$ref": "DeviceMetadata",
          "description": "Information about the characteristics of the user's device."
        },
        "thumbsUpCount": {
          "description": "Number of users who have given this review a thumbs up.",
          "type": "integer",
          "format": "int32"
        },
        "lastModified": {
          "$ref": "Timestamp",
          "description": "The last time at which this comment was updated."
        },
        "appVersionName": {
          "type": "string",
          "description": "String version name of the app as installed at the time the review was written. May be absent."
        },
        "thumbsDownCount": {
          "description": "Number of users who have given this review a thumbs down.",
          "type": "integer",
          "format": "int32"
        },
        "starRating": {
          "format": "int32",
          "description": "The star rating associated with the review, from 1 to 5.",
          "type": "integer"
        },
        "device": {
          "type": "string",
          "description": "Codename for the reviewer's device, e.g. klte, flounder. May be absent."
        },
        "androidOsVersion": {
          "description": "Integer Android SDK version of the user's device at the time the review was written, e.g. 23 is Marshmallow. May be absent.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "UserComment",
      "type": "object"
    },
    "ImagesDeleteAllResponse": {
      "id": "ImagesDeleteAllResponse",
      "type": "object",
      "properties": {
        "deleted": {
          "description": "The deleted images.",
          "type": "array",
          "items": {
            "$ref": "Image"
          }
        }
      },
      "description": "Response for deleting all images."
    },
    "PageInfo": {
      "type": "object",
      "id": "PageInfo",
      "properties": {
        "totalResults": {
          "description": "Total number of results available on the backend ! The total number of results in the result set.",
          "format": "int32",
          "type": "integer"
        },
        "resultPerPage": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of results returned in one page. ! The number of results included in the API response."
        },
        "startIndex": {
          "format": "int32",
          "description": "Index of the first result returned in the current page.",
          "type": "integer"
        }
      },
      "description": "Information about the current page. List operations that supports paging return only one \"page\" of results. This protocol buffer message describes the page that has been returned."
    },
    "ExternallyHostedApk": {
      "id": "ExternallyHostedApk",
      "description": "Defines an APK available for this application that is hosted externally and not uploaded to Google Play. This function is only available to organizations using Managed Play whose application is configured to restrict distribution to the organizations.",
      "type": "object",
      "properties": {
        "maximumSdk": {
          "format": "int32",
          "description": "The maximum SDK supported by this APK (optional).",
          "type": "integer"
        },
        "usesFeatures": {
          "description": "The features required by this APK (optional).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "versionName": {
          "description": "The version name of this APK.",
          "type": "string"
        },
        "versionCode": {
          "description": "The version code of this APK.",
          "type": "integer",
          "format": "int32"
        },
        "iconBase64": {
          "description": "The icon image from the APK, as a base64 encoded byte array.",
          "type": "string"
        },
        "externallyHostedUrl": {
          "description": "The URL at which the APK is hosted. This must be an https URL.",
          "type": "string"
        },
        "fileSha1Base64": {
          "type": "string",
          "description": "The sha1 checksum of this APK, represented as a base64 encoded byte array."
        },
        "minimumSdk": {
          "type": "integer",
          "description": "The minimum SDK targeted by this APK.",
          "format": "int32"
        },
        "fileSha256Base64": {
          "type": "string",
          "description": "The sha256 checksum of this APK, represented as a base64 encoded byte array."
        },
        "packageName": {
          "type": "string",
          "description": "The package name."
        },
        "usesPermissions": {
          "description": "The permissions requested by this APK.",
          "type": "array",
          "items": {
            "$ref": "UsesPermission"
          }
        },
        "nativeCodes": {
          "description": "The native code environments supported by this APK (optional).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "fileSize": {
          "description": "The file size in bytes of this APK.",
          "format": "int64",
          "type": "string"
        },
        "applicationLabel": {
          "type": "string",
          "description": "The application label."
        },
        "certificateBase64s": {
          "description": "A certificate (or array of certificates if a certificate-chain is used) used to sign this APK, represented as a base64 encoded byte array.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ListUsersResponse": {
      "description": "A response containing one or more users with access to an account.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to pass to subsequent calls in order to retrieve subsequent results. This will not be set if there are no more results to return."
        },
        "users": {
          "items": {
            "$ref": "User"
          },
          "type": "array",
          "description": "The resulting users."
        }
      },
      "id": "ListUsersResponse",
      "type": "object"
    },
    "DeobfuscationFile": {
      "properties": {
        "symbolType": {
          "enum": [
            "deobfuscationFileTypeUnspecified",
            "proguard",
            "nativeCode"
          ],
          "type": "string",
          "description": "The type of the deobfuscation file.",
          "enumDescriptions": [
            "Unspecified deobfuscation file type.",
            "Proguard deobfuscation file type.",
            "Native debugging symbols file type."
          ]
        }
      },
      "description": "Represents a deobfuscation file.",
      "id": "DeobfuscationFile",
      "type": "object"
    },
    "Track": {
      "id": "Track",
      "properties": {
        "releases": {
          "type": "array",
          "items": {
            "$ref": "TrackRelease"
          },
          "description": "In a read request, represents all active releases in the track. In an update request, represents desired changes."
        },
        "track": {
          "type": "string",
          "description": "Identifier of the track."
        }
      },
      "type": "object",
      "description": "A track configuration. The resource for TracksService."
    },
    "AppDetails": {
      "properties": {
        "contactWebsite": {
          "type": "string",
          "description": "The user-visible website for this app."
        },
        "contactEmail": {
          "type": "string",
          "description": "The user-visible support email for this app."
        },
        "defaultLanguage": {
          "description": "Default language code, in BCP 47 format (eg \"en-US\").",
          "type": "string"
        },
        "contactPhone": {
          "description": "The user-visible support telephone number for this app.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AppDetails",
      "description": "The app details. The resource for DetailsService."
    },
    "ExpansionFilesUploadResponse": {
      "description": "Response for uploading an expansion file.",
      "type": "object",
      "properties": {
        "expansionFile": {
          "$ref": "ExpansionFile",
          "description": "The uploaded expansion file configuration."
        }
      },
      "id": "ExpansionFilesUploadResponse"
    },
    "Timestamp": {
      "properties": {
        "seconds": {
          "format": "int64",
          "description": "Represents seconds of UTC time since Unix epoch.",
          "type": "string"
        },
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Non-negative fractions of a second at nanosecond resolution. Must be from 0 to 999,999,999 inclusive."
        }
      },
      "type": "object",
      "description": "A Timestamp represents a point in time independent of any time zone or local calendar, encoded as a count of seconds and fractions of seconds at nanosecond resolution. The count is relative to an epoch at UTC midnight on January 1, 1970.",
      "id": "Timestamp"
    },
    "SubscriptionTaxAndComplianceSettings": {
      "id": "SubscriptionTaxAndComplianceSettings",
      "properties": {
        "eeaWithdrawalRightType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "WITHDRAWAL_RIGHT_TYPE_UNSPECIFIED",
            "WITHDRAWAL_RIGHT_DIGITAL_CONTENT",
            "WITHDRAWAL_RIGHT_SERVICE"
          ],
          "description": "Digital content or service classification for products distributed to users in the European Economic Area (EEA). The withdrawal regime under EEA consumer laws depends on this classification. Refer to the [Help Center article](https://support.google.com/googleplay/android-developer/answer/10463498) for more information.",
          "type": "string"
        },
        "taxRateInfoByRegionCode": {
          "description": "A mapping from region code to tax rate details. The keys are region codes as defined by Unicode's \"CLDR\".",
          "additionalProperties": {
            "$ref": "RegionalTaxRateInfo"
          },
          "type": "object"
        }
      },
      "description": "Details about taxation, Google Play policy and legal compliance for subscription products.",
      "type": "object"
    },
    "ConvertRegionPricesRequest": {
      "properties": {
        "price": {
          "$ref": "Money",
          "description": "The intital price to convert other regions from. Tax exclusive."
        }
      },
      "type": "object",
      "description": "Request message for ConvertRegionPrices.",
      "id": "ConvertRegionPricesRequest"
    },
    "SubscriptionPurchasesDeferRequest": {
      "description": "Request for the purchases.subscriptions.defer API.",
      "type": "object",
      "properties": {
        "deferralInfo": {
          "$ref": "SubscriptionDeferralInfo",
          "description": "The information about the new desired expiry time for the subscription."
        }
      },
      "id": "SubscriptionPurchasesDeferRequest"
    },
    "UsesPermission": {
      "description": "A permission used by this APK.",
      "id": "UsesPermission",
      "properties": {
        "maxSdkVersion": {
          "type": "integer",
          "description": "Optionally, the maximum SDK version for which the permission is required.",
          "format": "int32"
        },
        "name": {
          "description": "The name of the permission requested.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SubscriptionPurchase": {
      "properties": {
        "purchaseType": {
          "type": "integer",
          "format": "int32",
          "description": "The type of purchase of the subscription. This field is only set if this purchase was not made using the standard in-app billing flow. Possible values are: 0. Test (i.e. purchased from a license testing account) 1. Promo (i.e. purchased using a promo code)"
        },
        "expiryTimeMillis": {
          "format": "int64",
          "type": "string",
          "description": "Time at which the subscription will expire, in milliseconds since the Epoch."
        },
        "paymentState": {
          "description": "The payment state of the subscription. Possible values are: 0. Payment pending 1. Payment received 2. Free trial 3. Pending deferred upgrade/downgrade Not present for canceled, expired subscriptions.",
          "format": "int32",
          "type": "integer"
        },
        "obfuscatedExternalAccountId": {
          "description": "An obfuscated version of the id that is uniquely associated with the user's account in your app. Present for the following purchases: * If account linking happened as part of the subscription purchase flow. * It was specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedaccountid when the purchase was made.",
          "type": "string"
        },
        "priceAmountMicros": {
          "type": "string",
          "format": "int64",
          "description": "Price of the subscription, For tax exclusive countries, the price doesn't include tax. For tax inclusive countries, the price includes tax. Price is expressed in micro-units, where 1,000,000 micro-units represents one unit of the currency. For example, if the subscription price is €1.99, price_amount_micros is 1990000."
        },
        "promotionCode": {
          "type": "string",
          "description": "The promotion code applied on this purchase. This field is only set if a vanity code promotion is applied when the subscription was purchased."
        },
        "orderId": {
          "type": "string",
          "description": "The order id of the latest recurring order associated with the purchase of the subscription. If the subscription was canceled because payment was declined, this will be the order id from the payment declined order."
        },
        "linkedPurchaseToken": {
          "type": "string",
          "description": "The purchase token of the originating purchase if this subscription is one of the following: 0. Re-signup of a canceled but non-lapsed subscription 1. Upgrade/downgrade from a previous subscription For example, suppose a user originally signs up and you receive purchase token X, then the user cancels and goes through the resignup flow (before their subscription lapses) and you receive purchase token Y, and finally the user upgrades their subscription and you receive purchase token Z. If you call this API with purchase token Z, this field will be set to Y. If you call this API with purchase token Y, this field will be set to X. If you call this API with purchase token X, this field will not be set."
        },
        "externalAccountId": {
          "type": "string",
          "description": "User account identifier in the third-party service. Only present if account linking happened as part of the subscription purchase flow."
        },
        "kind": {
          "description": "This kind represents a subscriptionPurchase object in the androidpublisher service.",
          "type": "string"
        },
        "promotionType": {
          "type": "integer",
          "description": "The type of promotion applied on this purchase. This field is only set if a promotion is applied when the subscription was purchased. Possible values are: 0. One time code 1. Vanity code",
          "format": "int32"
        },
        "familyName": {
          "type": "string",
          "description": "The family name of the user when the subscription was purchased. Only present for purchases made with 'Subscribe with Google'."
        },
        "priceCurrencyCode": {
          "type": "string",
          "description": "ISO 4217 currency code for the subscription price. For example, if the price is specified in British pounds sterling, price_currency_code is \"GBP\"."
        },
        "autoRenewing": {
          "type": "boolean",
          "description": "Whether the subscription will automatically be renewed when it reaches its current expiry time."
        },
        "cancelReason": {
          "description": "The reason why a subscription was canceled or is not auto-renewing. Possible values are: 0. User canceled the subscription 1. Subscription was canceled by the system, for example because of a billing problem 2. Subscription was replaced with a new subscription 3. Subscription was canceled by the developer",
          "type": "integer",
          "format": "int32"
        },
        "priceChange": {
          "description": "The latest price change information available. This is present only when there is an upcoming price change for the subscription yet to be applied. Once the subscription renews with the new price or the subscription is canceled, no price change information will be returned.",
          "$ref": "SubscriptionPriceChange"
        },
        "emailAddress": {
          "type": "string",
          "description": "The email address of the user when the subscription was purchased. Only present for purchases made with 'Subscribe with Google'."
        },
        "cancelSurveyResult": {
          "$ref": "SubscriptionCancelSurveyResult",
          "description": "Information provided by the user when they complete the subscription cancellation flow (cancellation reason survey)."
        },
        "profileId": {
          "description": "The Google profile id of the user when the subscription was purchased. Only present for purchases made with 'Subscribe with Google'.",
          "type": "string"
        },
        "autoResumeTimeMillis": {
          "format": "int64",
          "description": "Time at which the subscription will be automatically resumed, in milliseconds since the Epoch. Only present if the user has requested to pause the subscription.",
          "type": "string"
        },
        "profileName": {
          "description": "The profile name of the user when the subscription was purchased. Only present for purchases made with 'Subscribe with Google'.",
          "type": "string"
        },
        "introductoryPriceInfo": {
          "$ref": "IntroductoryPriceInfo",
          "description": "Introductory price information of the subscription. This is only present when the subscription was purchased with an introductory price. This field does not indicate the subscription is currently in introductory price period."
        },
        "givenName": {
          "type": "string",
          "description": "The given name of the user when the subscription was purchased. Only present for purchases made with 'Subscribe with Google'."
        },
        "obfuscatedExternalProfileId": {
          "description": "An obfuscated version of the id that is uniquely associated with the user's profile in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedprofileid when the purchase was made.",
          "type": "string"
        },
        "acknowledgementState": {
          "description": "The acknowledgement state of the subscription product. Possible values are: 0. Yet to be acknowledged 1. Acknowledged",
          "format": "int32",
          "type": "integer"
        },
        "userCancellationTimeMillis": {
          "type": "string",
          "format": "int64",
          "description": "The time at which the subscription was canceled by the user, in milliseconds since the epoch. Only present if cancelReason is 0."
        },
        "startTimeMillis": {
          "description": "Time at which the subscription was granted, in milliseconds since the Epoch.",
          "format": "int64",
          "type": "string"
        },
        "countryCode": {
          "description": "ISO 3166-1 alpha-2 billing country/region code of the user at the time the subscription was granted.",
          "type": "string"
        },
        "developerPayload": {
          "description": "A developer-specified string that contains supplemental information about an order.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A SubscriptionPurchase resource indicates the status of a user's subscription purchase.",
      "id": "SubscriptionPurchase"
    },
    "ManagedProductTaxAndComplianceSettings": {
      "properties": {
        "eeaWithdrawalRightType": {
          "description": "Digital content or service classification for products distributed to users in the European Economic Area (EEA). The withdrawal regime under EEA consumer laws depends on this classification. Refer to the [Help Center article](https://support.google.com/googleplay/android-developer/answer/10463498) for more information.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "WITHDRAWAL_RIGHT_TYPE_UNSPECIFIED",
            "WITHDRAWAL_RIGHT_DIGITAL_CONTENT",
            "WITHDRAWAL_RIGHT_SERVICE"
          ]
        },
        "taxRateInfoByRegionCode": {
          "description": "A mapping from region code to tax rate details. The keys are region codes as defined by Unicode's \"CLDR\".",
          "additionalProperties": {
            "$ref": "RegionalTaxRateInfo"
          },
          "type": "object"
        }
      },
      "description": "Details about taxation and legal compliance for managed products.",
      "type": "object",
      "id": "ManagedProductTaxAndComplianceSettings"
    },
    "InternalAppSharingArtifact": {
      "id": "InternalAppSharingArtifact",
      "type": "object",
      "description": "An artifact resource which gets created when uploading an APK or Android App Bundle through internal app sharing.",
      "properties": {
        "certificateFingerprint": {
          "description": "The sha256 fingerprint of the certificate used to sign the generated artifact.",
          "type": "string"
        },
        "downloadUrl": {
          "description": "The download URL generated for the uploaded artifact. Users that are authorized to download can follow the link to the Play Store app to install it.",
          "type": "string"
        },
        "sha256": {
          "type": "string",
          "description": "The sha256 hash of the artifact represented as a lowercase hexadecimal number, matching the output of the sha256sum command."
        }
      }
    },
    "TokenPagination": {
      "id": "TokenPagination",
      "properties": {
        "previousPageToken": {
          "type": "string"
        },
        "nextPageToken": {
          "description": "Tokens to pass to the standard list field 'page_token'. Whenever available, tokens are preferred over manipulating start_index.",
          "type": "string"
        }
      },
      "description": "Pagination information returned by a List operation when token pagination is enabled. List operations that supports paging return only one \"page\" of results. This protocol buffer message describes the page that has been returned. When using token pagination, clients should use the next/previous token to get another page of the result. The presence or absence of next/previous token indicates whether a next/previous page is available and provides a mean of accessing this page. ListRequest.page_token should be set to either next_page_token or previous_page_token to access another page.",
      "type": "object"
    },
    "DeviceSpec": {
      "properties": {
        "screenDensity": {
          "type": "integer",
          "format": "uint32",
          "description": "Screen dpi."
        },
        "supportedLocales": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "All installed locales represented as BCP-47 strings, e.g. \"en-US\"."
        },
        "supportedAbis": {
          "items": {
            "type": "string"
          },
          "description": "Supported ABI architectures in the order of preference. The values should be the string as reported by the platform, e.g. \"armeabi-v7a\", \"x86_64\".",
          "type": "array"
        }
      },
      "description": "The device spec used to generate a system APK.",
      "id": "DeviceSpec",
      "type": "object"
    },
    "AppEdit": {
      "description": "An app edit. The resource for EditsService.",
      "properties": {
        "expiryTimeSeconds": {
          "type": "string",
          "description": "Output only. The time (as seconds since Epoch) at which the edit will expire and will be no longer valid for use.",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier of the edit. Can be used in subsequent API calls."
        }
      },
      "id": "AppEdit",
      "type": "object"
    },
    "Price": {
      "type": "object",
      "properties": {
        "currency": {
          "description": "3 letter Currency code, as defined by ISO 4217. See java/com/google/common/money/CurrencyCode.java",
          "type": "string"
        },
        "priceMicros": {
          "description": "Price in 1/million of the currency base unit, represented as a string.",
          "type": "string"
        }
      },
      "id": "Price",
      "description": "Definition of a price, i.e. currency and units."
    },
    "Comment": {
      "description": "An entry of conversation between user and developer.",
      "id": "Comment",
      "properties": {
        "developerComment": {
          "description": "A comment from a developer.",
          "$ref": "DeveloperComment"
        },
        "userComment": {
          "$ref": "UserComment",
          "description": "A comment from a user."
        }
      },
      "type": "object"
    },
    "Image": {
      "description": "An uploaded image. The resource for ImagesService.",
      "properties": {
        "sha256": {
          "description": "A sha256 hash of the image.",
          "type": "string"
        },
        "id": {
          "description": "A unique id representing this image.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "A URL that will serve a preview of the image."
        },
        "sha1": {
          "type": "string",
          "description": "A sha1 hash of the image."
        }
      },
      "id": "Image",
      "type": "object"
    },
    "VoidedPurchase": {
      "description": "A VoidedPurchase resource indicates a purchase that was either canceled/refunded/charged-back.",
      "id": "VoidedPurchase",
      "type": "object",
      "properties": {
        "purchaseTimeMillis": {
          "description": "The time at which the purchase was made, in milliseconds since the epoch (Jan 1, 1970).",
          "type": "string",
          "format": "int64"
        },
        "voidedReason": {
          "type": "integer",
          "description": "The reason why the purchase was voided, possible values are: 0. Other 1. Remorse 2. Not_received 3. Defective 4. Accidental_purchase 5. Fraud 6. Friendly_fraud 7. Chargeback",
          "format": "int32"
        },
        "orderId": {
          "description": "The order id which uniquely identifies a one-time purchase, subscription purchase, or subscription renewal.",
          "type": "string"
        },
        "voidedSource": {
          "description": "The initiator of voided purchase, possible values are: 0. User 1. Developer 2. Google",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "description": "This kind represents a voided purchase object in the androidpublisher service.",
          "type": "string"
        },
        "voidedTimeMillis": {
          "format": "int64",
          "type": "string",
          "description": "The time at which the purchase was canceled/refunded/charged-back, in milliseconds since the epoch (Jan 1, 1970)."
        },
        "purchaseToken": {
          "description": "The token which uniquely identifies a one-time purchase or subscription. To uniquely identify subscription renewals use order_id (available starting from version 3 of the API).",
          "type": "string"
        }
      }
    },
    "ListingsListResponse": {
      "type": "object",
      "id": "ListingsListResponse",
      "description": "Response listing all localized listings.",
      "properties": {
        "kind": {
          "description": "The kind of this response (\"androidpublisher#listingsListResponse\").",
          "type": "string"
        },
        "listings": {
          "type": "array",
          "items": {
            "$ref": "Listing"
          },
          "description": "All localized listings."
        }
      }
    },
    "Variant": {
      "properties": {
        "variantId": {
          "readOnly": true,
          "format": "uint32",
          "type": "integer",
          "description": "Output only. The ID of a previously created system APK variant."
        },
        "deviceSpec": {
          "description": "The device spec used to generate the APK.",
          "$ref": "DeviceSpec"
        }
      },
      "description": "APK that is suitable for inclusion in a system image. The resource of SystemApksService.",
      "id": "Variant",
      "type": "object"
    },
    "CountryTargeting": {
      "id": "CountryTargeting",
      "properties": {
        "countries": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Countries to target, specified as two letter [CLDR codes](https://unicode.org/cldr/charts/latest/supplemental/territory_containment_un_m_49.html)."
        },
        "includeRestOfWorld": {
          "type": "boolean",
          "description": "Include \"rest of world\" as well as explicitly targeted countries."
        }
      },
      "description": "Country targeting specification.",
      "type": "object"
    },
    "TrackRelease": {
      "id": "TrackRelease",
      "properties": {
        "versionCodes": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "Version codes of all APKs in the release. Must include version codes to retain from previous releases."
        },
        "releaseNotes": {
          "type": "array",
          "items": {
            "$ref": "LocalizedText"
          },
          "description": "A description of what is new in this release."
        },
        "name": {
          "type": "string",
          "description": "The release name. Not required to be unique. If not set, the name is generated from the APK's version_name. If the release contains multiple APKs, the name is generated from the date."
        },
        "userFraction": {
          "type": "number",
          "format": "double",
          "description": "Fraction of users who are eligible for a staged release. 0 \u003c fraction \u003c 1. Can only be set when status is \"inProgress\" or \"halted\"."
        },
        "status": {
          "enumDescriptions": [
            "Unspecified status.",
            "The release's APKs are not being served to users.",
            "The release's APKs are being served to a fraction of users, determined by 'user_fraction'.",
            "The release's APKs will no longer be served to users. Users who already have these APKs are unaffected.",
            "The release will have no further changes. Its APKs are being served to all users, unless they are eligible to APKs of a more recent release."
          ],
          "description": "The status of the release.",
          "type": "string",
          "enum": [
            "statusUnspecified",
            "draft",
            "inProgress",
            "halted",
            "completed"
          ]
        },
        "countryTargeting": {
          "description": "Restricts a release to a specific set of countries.",
          "$ref": "CountryTargeting"
        },
        "inAppUpdatePriority": {
          "format": "int32",
          "description": "In-app update priority of the release. All newly added APKs in the release will be considered at this priority. Can take values in the range [0, 5], with 5 the highest priority. Defaults to 0. in_app_update_priority can not be updated once the release is rolled out. See https://developer.android.com/guide/playcore/in-app-updates.",
          "type": "integer"
        }
      },
      "description": "A release within a track.",
      "type": "object"
    },
    "DeviceMetadata": {
      "properties": {
        "glEsVersion": {
          "description": "OpenGL version",
          "type": "integer",
          "format": "int32"
        },
        "manufacturer": {
          "type": "string",
          "description": "Device manufacturer (e.g. Motorola)"
        },
        "deviceClass": {
          "type": "string",
          "description": "Device class (e.g. tablet)"
        },
        "cpuMake": {
          "description": "Device CPU make, e.g. \"Qualcomm\"",
          "type": "string"
        },
        "screenWidthPx": {
          "format": "int32",
          "type": "integer",
          "description": "Screen width in pixels"
        },
        "cpuModel": {
          "description": "Device CPU model, e.g. \"MSM8974\"",
          "type": "string"
        },
        "screenDensityDpi": {
          "description": "Screen density in DPI",
          "format": "int32",
          "type": "integer"
        },
        "ramMb": {
          "type": "integer",
          "format": "int32",
          "description": "Device RAM in Megabytes, e.g. \"2048\""
        },
        "screenHeightPx": {
          "type": "integer",
          "format": "int32",
          "description": "Screen height in pixels"
        },
        "productName": {
          "description": "Device model name (e.g. Droid)",
          "type": "string"
        },
        "nativePlatform": {
          "type": "string",
          "description": "Comma separated list of native platforms (e.g. \"arm\", \"arm7\")"
        }
      },
      "description": "Characteristics of the user's device.",
      "type": "object",
      "id": "DeviceMetadata"
    },
    "IntroductoryPriceInfo": {
      "properties": {
        "introductoryPricePeriod": {
          "type": "string",
          "description": "Introductory price period, specified in ISO 8601 format. Common values are (but not limited to) \"P1W\" (one week), \"P1M\" (one month), \"P3M\" (three months), \"P6M\" (six months), and \"P1Y\" (one year)."
        },
        "introductoryPriceCycles": {
          "description": "The number of billing period to offer introductory pricing.",
          "format": "int32",
          "type": "integer"
        },
        "introductoryPriceCurrencyCode": {
          "description": "ISO 4217 currency code for the introductory subscription price. For example, if the price is specified in British pounds sterling, price_currency_code is \"GBP\".",
          "type": "string"
        },
        "introductoryPriceAmountMicros": {
          "format": "int64",
          "type": "string",
          "description": "Introductory price of the subscription, not including tax. The currency is the same as price_currency_code. Price is expressed in micro-units, where 1,000,000 micro-units represents one unit of the currency. For example, if the subscription price is €1.99, price_amount_micros is 1990000."
        }
      },
      "description": "Contains the introductory price information for a subscription.",
      "type": "object",
      "id": "IntroductoryPriceInfo"
    },
    "InAppProduct": {
      "description": "An in-app product. The resource for InappproductsService.",
      "type": "object",
      "properties": {
        "managedProductTaxesAndComplianceSettings": {
          "$ref": "ManagedProductTaxAndComplianceSettings",
          "description": "Details about taxes and legal compliance. Only applicable to managed products."
        },
        "gracePeriod": {
          "description": "Grace period of the subscription, specified in ISO 8601 format. Allows developers to give their subscribers a grace period when the payment for the new recurrence period is declined. Acceptable values are P0D (zero days), P3D (three days), P7D (seven days), P14D (14 days), and P30D (30 days).",
          "type": "string"
        },
        "prices": {
          "description": "Prices per buyer region. None of these can be zero, as in-app products are never free. Map key is region code, as defined by ISO 3166-2.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Price"
          }
        },
        "sku": {
          "type": "string",
          "description": "Stock-keeping-unit (SKU) of the product, unique within an app."
        },
        "packageName": {
          "type": "string",
          "description": "Package name of the parent app."
        },
        "subscriptionTaxesAndComplianceSettings": {
          "description": "Details about taxes and legal compliance. Only applicable to subscription products.",
          "$ref": "SubscriptionTaxAndComplianceSettings"
        },
        "defaultPrice": {
          "$ref": "Price",
          "description": "Default price. Cannot be zero, as in-app products are never free. Always in the developer's Checkout merchant currency."
        },
        "trialPeriod": {
          "type": "string",
          "description": "Trial period, specified in ISO 8601 format. Acceptable values are anything between P7D (seven days) and P999D (999 days)."
        },
        "listings": {
          "description": "List of localized title and description data. Map key is the language of the localized data, as defined by BCP-47, e.g. \"en-US\".",
          "type": "object",
          "additionalProperties": {
            "$ref": "InAppProductListing"
          }
        },
        "subscriptionPeriod": {
          "type": "string",
          "description": "Subscription period, specified in ISO 8601 format. Acceptable values are P1W (one week), P1M (one month), P3M (three months), P6M (six months), and P1Y (one year)."
        },
        "purchaseType": {
          "enum": [
            "purchaseTypeUnspecified",
            "managedUser",
            "subscription"
          ],
          "enumDescriptions": [
            "Unspecified purchase type.",
            "The default product type - one time purchase.",
            "In-app product with a recurring period."
          ],
          "description": "The type of the product, e.g. a recurring subscription.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "enum": [
            "statusUnspecified",
            "active",
            "inactive"
          ],
          "enumDescriptions": [
            "Unspecified status.",
            "The product is published and active in the store.",
            "The product is not published and therefore inactive in the store."
          ],
          "description": "The status of the product, e.g. whether it's active."
        },
        "defaultLanguage": {
          "type": "string",
          "description": "Default language of the localized data, as defined by BCP-47. e.g. \"en-US\"."
        }
      },
      "id": "InAppProduct"
    },
    "SystemApksListResponse": {
      "description": "Response to list previously created system APK variants.",
      "properties": {
        "variants": {
          "items": {
            "$ref": "Variant"
          },
          "type": "array",
          "description": "All system APK variants created."
        }
      },
      "id": "SystemApksListResponse",
      "type": "object"
    },
    "Grant": {
      "id": "Grant",
      "type": "object",
      "description": "An access grant resource.",
      "properties": {
        "packageName": {
          "description": "Immutable. The package name of the app.",
          "type": "string"
        },
        "appLevelPermissions": {
          "type": "array",
          "description": "The permissions granted to the user for this app.",
          "items": {
            "type": "string",
            "enum": [
              "APP_LEVEL_PERMISSION_UNSPECIFIED",
              "CAN_ACCESS_APP",
              "CAN_VIEW_FINANCIAL_DATA",
              "CAN_MANAGE_PERMISSIONS",
              "CAN_REPLY_TO_REVIEWS",
              "CAN_MANAGE_PUBLIC_APKS",
              "CAN_MANAGE_TRACK_APKS",
              "CAN_MANAGE_TRACK_USERS",
              "CAN_MANAGE_PUBLIC_LISTING",
              "CAN_MANAGE_DRAFT_APPS",
              "CAN_MANAGE_ORDERS"
            ],
            "enumDescriptions": [
              "Unknown or unspecified permission.",
              "View app information (read-only).",
              "View financial data.",
              "Admin (all permissions).",
              "Reply to reviews.",
              "Release to production, exclude devices, and use app signing by Google Play.",
              "Release to testing tracks.",
              "Manage testing tracks and edit tester lists.",
              "Manage store presence.",
              "Edit and delete draft apps.",
              "Manage orders and subscriptions."
            ]
          }
        },
        "name": {
          "description": "Required. Resource name for this grant, following the pattern \"developers/{developer}/users/{email}/grants/{package_name}\".",
          "type": "string"
        }
      }
    },
    "ConvertedRegionPrice": {
      "properties": {
        "regionCode": {
          "description": "The region code of the region.",
          "type": "string"
        },
        "taxAmount": {
          "description": "The tax amount of the converted price.",
          "$ref": "Money"
        },
        "price": {
          "$ref": "Money",
          "description": "The converted price tax inclusive."
        }
      },
      "type": "object",
      "id": "ConvertedRegionPrice",
      "description": "A converted region price."
    },
    "ApksAddExternallyHostedResponse": {
      "description": "Response for creating a new externally hosted APK.",
      "id": "ApksAddExternallyHostedResponse",
      "properties": {
        "externallyHostedApk": {
          "description": "The definition of the externally-hosted APK and where it is located.",
          "$ref": "ExternallyHostedApk"
        }
      },
      "type": "object"
    },
    "VoidedPurchasesListResponse": {
      "properties": {
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "voidedPurchases": {
          "type": "array",
          "items": {
            "$ref": "VoidedPurchase"
          }
        },
        "tokenPagination": {
          "$ref": "TokenPagination",
          "description": "Pagination information for token pagination."
        }
      },
      "description": "Response for the voidedpurchases.list API.",
      "type": "object",
      "id": "VoidedPurchasesListResponse"
    },
    "Money": {
      "id": "Money",
      "properties": {
        "units": {
          "type": "string",
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
        },
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32",
          "type": "integer"
        },
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        }
      },
      "description": "Represents an amount of money with its currency type.",
      "type": "object"
    },
    "SubscriptionDeferralInfo": {
      "description": "A SubscriptionDeferralInfo contains the data needed to defer a subscription purchase to a future expiry time.",
      "properties": {
        "desiredExpiryTimeMillis": {
          "type": "string",
          "format": "int64",
          "description": "The desired next expiry time to assign to the subscription, in milliseconds since the Epoch. The given time must be later/greater than the current expiry time for the subscription."
        },
        "expectedExpiryTimeMillis": {
          "type": "string",
          "description": "The expected expiry time for the subscription. If the current expiry time for the subscription is not the value specified here, the deferral will not occur.",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "SubscriptionDeferralInfo"
    },
    "Testers": {
      "properties": {
        "googleGroups": {
          "type": "array",
          "description": "All testing Google Groups, as email addresses.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The testers of an app. The resource for TestersService.",
      "id": "Testers",
      "type": "object"
    },
    "LocalizedText": {
      "type": "object",
      "properties": {
        "language": {
          "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
          "type": "string"
        },
        "text": {
          "description": "The text in the given language.",
          "type": "string"
        }
      },
      "id": "LocalizedText",
      "description": "Release notes specification, i.e. language and text."
    },
    "Apk": {
      "description": "Information about an APK. The resource for ApksService.",
      "properties": {
        "binary": {
          "description": "Information about the binary payload of this APK.",
          "$ref": "ApkBinary"
        },
        "versionCode": {
          "type": "integer",
          "description": "The version code of the APK, as specified in the manifest file.",
          "format": "int32"
        }
      },
      "id": "Apk",
      "type": "object"
    },
    "ApkBinary": {
      "description": "Represents the binary payload of an APK.",
      "id": "ApkBinary",
      "type": "object",
      "properties": {
        "sha1": {
          "description": "A sha1 hash of the APK payload, encoded as a hex string and matching the output of the sha1sum command.",
          "type": "string"
        },
        "sha256": {
          "description": "A sha256 hash of the APK payload, encoded as a hex string and matching the output of the sha256sum command.",
          "type": "string"
        }
      }
    },
    "ProductPurchasesAcknowledgeRequest": {
      "id": "ProductPurchasesAcknowledgeRequest",
      "properties": {
        "developerPayload": {
          "type": "string",
          "description": "Payload to attach to the purchase."
        }
      },
      "description": "Request for the product.purchases.acknowledge API.",
      "type": "object"
    },
    "ProductPurchase": {
      "description": "A ProductPurchase resource indicates the status of a user's inapp product purchase.",
      "type": "object",
      "id": "ProductPurchase",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This kind represents an inappPurchase object in the androidpublisher service."
        },
        "purchaseType": {
          "format": "int32",
          "description": "The type of purchase of the inapp product. This field is only set if this purchase was not made using the standard in-app billing flow. Possible values are: 0. Test (i.e. purchased from a license testing account) 1. Promo (i.e. purchased using a promo code) 2. Rewarded (i.e. from watching a video ad instead of paying)",
          "type": "integer"
        },
        "developerPayload": {
          "type": "string",
          "description": "A developer-specified string that contains supplemental information about an order."
        },
        "obfuscatedExternalProfileId": {
          "description": "An obfuscated version of the id that is uniquely associated with the user's profile in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedprofileid when the purchase was made.",
          "type": "string"
        },
        "obfuscatedExternalAccountId": {
          "type": "string",
          "description": "An obfuscated version of the id that is uniquely associated with the user's account in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedaccountid when the purchase was made."
        },
        "consumptionState": {
          "format": "int32",
          "type": "integer",
          "description": "The consumption state of the inapp product. Possible values are: 0. Yet to be consumed 1. Consumed"
        },
        "purchaseTimeMillis": {
          "description": "The time the product was purchased, in milliseconds since the epoch (Jan 1, 1970).",
          "type": "string",
          "format": "int64"
        },
        "productId": {
          "type": "string",
          "description": "The inapp product SKU."
        },
        "regionCode": {
          "description": "ISO 3166-1 alpha-2 billing region code of the user at the time the product was granted.",
          "type": "string"
        },
        "purchaseState": {
          "description": "The purchase state of the order. Possible values are: 0. Purchased 1. Canceled 2. Pending",
          "type": "integer",
          "format": "int32"
        },
        "acknowledgementState": {
          "format": "int32",
          "type": "integer",
          "description": "The acknowledgement state of the inapp product. Possible values are: 0. Yet to be acknowledged 1. Acknowledged"
        },
        "purchaseToken": {
          "description": "The purchase token generated to identify this purchase.",
          "type": "string"
        },
        "orderId": {
          "type": "string",
          "description": "The order id associated with the purchase of the inapp product."
        },
        "quantity": {
          "type": "integer",
          "description": "The quantity associated with the purchase of the inapp product.",
          "format": "int32"
        }
      }
    },
    "ReviewsListResponse": {
      "id": "ReviewsListResponse",
      "description": "Response listing reviews.",
      "properties": {
        "tokenPagination": {
          "$ref": "TokenPagination",
          "description": "Pagination token, to handle a number of products that is over one page."
        },
        "pageInfo": {
          "description": "Information about the current page.",
          "$ref": "PageInfo"
        },
        "reviews": {
          "type": "array",
          "items": {
            "$ref": "Review"
          },
          "description": "List of reviews."
        }
      },
      "type": "object"
    },
    "Bundle": {
      "properties": {
        "sha1": {
          "description": "A sha1 hash of the upload payload, encoded as a hex string and matching the output of the sha1sum command.",
          "type": "string"
        },
        "versionCode": {
          "description": "The version code of the Android App Bundle, as specified in the Android App Bundle's base module APK manifest file.",
          "type": "integer",
          "format": "int32"
        },
        "sha256": {
          "type": "string",
          "description": "A sha256 hash of the upload payload, encoded as a hex string and matching the output of the sha256sum command."
        }
      },
      "id": "Bundle",
      "description": "Information about an app bundle. The resource for BundlesService.",
      "type": "object"
    },
    "ReviewsReplyRequest": {
      "properties": {
        "replyText": {
          "description": "The text to set as the reply. Replies of more than approximately 350 characters will be rejected. HTML tags will be stripped.",
          "type": "string"
        }
      },
      "id": "ReviewsReplyRequest",
      "type": "object",
      "description": "Request to reply to review or update existing reply."
    },
    "ConvertRegionPricesResponse": {
      "properties": {
        "convertedOtherRegionsPrice": {
          "$ref": "ConvertedOtherRegionsPrice",
          "description": "Converted other regions prices in USD and EUR, to use for countries where Play doesn't support a country's local currency."
        },
        "convertedRegionPrices": {
          "type": "object",
          "description": "Map from region code to converted region price.",
          "additionalProperties": {
            "$ref": "ConvertedRegionPrice"
          }
        }
      },
      "id": "ConvertRegionPricesResponse",
      "description": "Response message for ConvertRegionPrices.",
      "type": "object"
    },
    "ImagesListResponse": {
      "type": "object",
      "description": "Response listing all images.",
      "id": "ImagesListResponse",
      "properties": {
        "images": {
          "items": {
            "$ref": "Image"
          },
          "description": "All listed Images.",
          "type": "array"
        }
      }
    },
    "Listing": {
      "type": "object",
      "properties": {
        "language": {
          "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
          "type": "string"
        },
        "fullDescription": {
          "type": "string",
          "description": "Full description of the app."
        },
        "shortDescription": {
          "type": "string",
          "description": "Short description of the app."
        },
        "title": {
          "description": "Localized title of the app.",
          "type": "string"
        },
        "video": {
          "type": "string",
          "description": "URL of a promotional YouTube video for the app."
        }
      },
      "description": "A localized store listing. The resource for ListingsService.",
      "id": "Listing"
    },
    "SubscriptionPurchasesDeferResponse": {
      "type": "object",
      "id": "SubscriptionPurchasesDeferResponse",
      "properties": {
        "newExpiryTimeMillis": {
          "type": "string",
          "description": "The new expiry time for the subscription in milliseconds since the Epoch.",
          "format": "int64"
        }
      },
      "description": "Response for the purchases.subscriptions.defer API."
    },
    "InAppProductListing": {
      "properties": {
        "description": {
          "description": "Description for the store listing.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Title for the store listing."
        },
        "benefits": {
          "items": {
            "type": "string"
          },
          "description": "Localized entitlement benefits for a subscription.",
          "type": "array"
        }
      },
      "description": "Store listing of a single in-app product.",
      "id": "InAppProductListing",
      "type": "object"
    },
    "BundlesListResponse": {
      "id": "BundlesListResponse",
      "description": "Response listing all app bundles.",
      "properties": {
        "kind": {
          "description": "The kind of this response (\"androidpublisher#bundlesListResponse\").",
          "type": "string"
        },
        "bundles": {
          "description": "All app bundles.",
          "items": {
            "$ref": "Bundle"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ExpansionFile": {
      "type": "object",
      "properties": {
        "referencesVersion": {
          "format": "int32",
          "description": "If set, this APK's expansion file references another APK's expansion file. The file_size field will not be set.",
          "type": "integer"
        },
        "fileSize": {
          "description": "If set, this field indicates that this APK has an expansion file uploaded to it: this APK does not reference another APK's expansion file. The field's value is the size of the uploaded expansion file in bytes.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "An expansion file. The resource for ExpansionFilesService.",
      "id": "ExpansionFile"
    },
    "SubscriptionPriceChange": {
      "properties": {
        "state": {
          "format": "int32",
          "type": "integer",
          "description": "The current state of the price change. Possible values are: 0. Outstanding: State for a pending price change waiting for the user to agree. In this state, you can optionally seek confirmation from the user using the In-App API. 1. Accepted: State for an accepted price change that the subscription will renew with unless it's canceled. The price change takes effect on a future date when the subscription renews. Note that the change might not occur when the subscription is renewed next."
        },
        "newPrice": {
          "description": "The new price the subscription will renew with if the price change is accepted by the user.",
          "$ref": "Price"
        }
      },
      "id": "SubscriptionPriceChange",
      "type": "object",
      "description": "Contains the price change information for a subscription that can be used to control the user journey for the price change in the app. This can be in the form of seeking confirmation from the user or tailoring the experience for a successful conversion."
    }
  },
  "batchPath": "batch",
  "mtlsRootUrl": "https://androidpublisher.mtls.googleapis.com/",
  "description": "Lets Android application developers access their Google Play accounts.",
  "resources": {
    "orders": {
      "methods": {
        "refund": {
          "path": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:refund",
          "parameters": {
            "revoke": {
              "description": "Whether to revoke the purchased item. If set to true, access to the subscription or in-app item will be terminated immediately. If the item is a recurring subscription, all future payments will also be terminated. Consumed in-app items need to be handled by developer's app. (optional).",
              "type": "boolean",
              "location": "query"
            },
            "orderId": {
              "required": true,
              "type": "string",
              "description": "The order ID provided to the user when the subscription or in-app order was purchased.",
              "location": "path"
            },
            "packageName": {
              "required": true,
              "type": "string",
              "description": "The package name of the application for which this subscription or in-app item was purchased (for example, 'com.some.thing').",
              "location": "path"
            }
          },
          "description": "Refunds a user's subscription or in-app purchase order. Orders older than 1 year cannot be refunded.",
          "id": "androidpublisher.orders.refund",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "packageName",
            "orderId"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:refund",
          "httpMethod": "POST"
        }
      }
    },
    "systemapks": {
      "resources": {
        "variants": {
          "methods": {
            "list": {
              "parameters": {
                "packageName": {
                  "required": true,
                  "location": "path",
                  "description": "Package name of the app.",
                  "type": "string"
                },
                "versionCode": {
                  "description": "The version code of the App Bundle.",
                  "type": "string",
                  "location": "path",
                  "format": "int64",
                  "required": true
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "id": "androidpublisher.systemapks.variants.list",
              "parameterOrder": [
                "packageName",
                "versionCode"
              ],
              "description": "Returns the list of previously created system APK variants.",
              "response": {
                "$ref": "SystemApksListResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "GET",
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants"
            },
            "download": {
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}:download",
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}:download",
              "description": "Downloads a previously created system APK which is suitable for inclusion in a system image.",
              "parameters": {
                "packageName": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Package name of the app."
                },
                "variantId": {
                  "description": "The ID of a previously created system APK variant.",
                  "location": "path",
                  "required": true,
                  "type": "integer",
                  "format": "uint32"
                },
                "versionCode": {
                  "format": "int64",
                  "type": "string",
                  "location": "path",
                  "description": "The version code of the App Bundle.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "versionCode",
                "variantId"
              ],
              "id": "androidpublisher.systemapks.variants.download",
              "useMediaDownloadService": true,
              "supportsMediaDownload": true,
              "httpMethod": "GET"
            },
            "get": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}",
              "parameterOrder": [
                "packageName",
                "versionCode",
                "variantId"
              ],
              "description": "Returns a previously created system APK variant.",
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "GET",
              "parameters": {
                "versionCode": {
                  "type": "string",
                  "description": "The version code of the App Bundle.",
                  "location": "path",
                  "format": "int64",
                  "required": true
                },
                "variantId": {
                  "required": true,
                  "description": "The ID of a previously created system APK variant.",
                  "type": "integer",
                  "format": "uint32",
                  "location": "path"
                },
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Package name of the app."
                }
              },
              "response": {
                "$ref": "Variant"
              },
              "id": "androidpublisher.systemapks.variants.get"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Creates an APK which is suitable for inclusion in a system image from an already uploaded Android App Bundle.",
              "parameters": {
                "packageName": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Package name of the app."
                },
                "versionCode": {
                  "description": "The version code of the App Bundle.",
                  "format": "int64",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "Variant"
              },
              "response": {
                "$ref": "Variant"
              },
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "parameterOrder": [
                "packageName",
                "versionCode"
              ],
              "id": "androidpublisher.systemapks.variants.create"
            }
          }
        }
      }
    },
    "inappproducts": {
      "methods": {
        "delete": {
          "parameters": {
            "sku": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Unique identifier for the in-app product."
            },
            "packageName": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Package name of the app."
            }
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "id": "androidpublisher.inappproducts.delete",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "httpMethod": "DELETE",
          "description": "Deletes an in-app product (i.e. a managed product or a subscriptions).",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "update": {
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "response": {
            "$ref": "InAppProduct"
          },
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "packageName": {
              "type": "string",
              "description": "Package name of the app.",
              "location": "path",
              "required": true
            },
            "sku": {
              "type": "string",
              "location": "path",
              "description": "Unique identifier for the in-app product.",
              "required": true
            },
            "allowMissing": {
              "type": "boolean",
              "description": "If set to true, and the in-app product with the given package_name and sku doesn't exist, the in-app product will be created.",
              "location": "query"
            },
            "autoConvertMissingPrices": {
              "location": "query",
              "type": "boolean",
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false."
            }
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "description": "Updates an in-app product (i.e. a managed product or a subscriptions).",
          "request": {
            "$ref": "InAppProduct"
          },
          "id": "androidpublisher.inappproducts.update"
        },
        "patch": {
          "httpMethod": "PATCH",
          "response": {
            "$ref": "InAppProduct"
          },
          "parameters": {
            "sku": {
              "description": "Unique identifier for the in-app product.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "autoConvertMissingPrices": {
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
              "type": "boolean",
              "location": "query"
            },
            "packageName": {
              "location": "path",
              "description": "Package name of the app.",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "InAppProduct"
          },
          "description": "Patches an in-app product (i.e. a managed product or a subscriptions).",
          "id": "androidpublisher.inappproducts.patch",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "parameterOrder": [
            "packageName",
            "sku"
          ]
        },
        "get": {
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "response": {
            "$ref": "InAppProduct"
          },
          "description": "Gets an in-app product, which can be a managed product or a subscription.",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "id": "androidpublisher.inappproducts.get",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "sku": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Unique identifier for the in-app product."
            },
            "packageName": {
              "required": true,
              "location": "path",
              "description": "Package name of the app.",
              "type": "string"
            }
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "httpMethod": "GET"
        },
        "list": {
          "httpMethod": "GET",
          "description": "Lists all in-app products - both managed products and subscriptions. If an app has a large number of in-app products, the response may be paginated. In this case the response field `tokenPagination.nextPageToken` will be set and the caller should provide its value as a `token` request parameter to retrieve the next page.",
          "id": "androidpublisher.inappproducts.list",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "response": {
            "$ref": "InappproductsListResponse"
          },
          "parameters": {
            "token": {
              "description": "Pagination token. If empty, list starts at the first product.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "description": "Deprecated and ignored. The page size is determined by the server.",
              "location": "query",
              "format": "uint32"
            },
            "packageName": {
              "description": "Package name of the app.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "startIndex": {
              "location": "query",
              "type": "integer",
              "description": "Deprecated and ignored. Set the `token` parameter to rertieve the next page.",
              "format": "uint32"
            }
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "parameterOrder": [
            "packageName"
          ]
        },
        "insert": {
          "request": {
            "$ref": "InAppProduct"
          },
          "response": {
            "$ref": "InAppProduct"
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "id": "androidpublisher.inappproducts.insert",
          "parameters": {
            "packageName": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Package name of the app."
            },
            "autoConvertMissingPrices": {
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
              "location": "query",
              "type": "boolean"
            }
          },
          "description": "Creates an in-app product (i.e. a managed product or a subscriptions).",
          "parameterOrder": [
            "packageName"
          ],
          "httpMethod": "POST",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        }
      }
    },
    "internalappsharingartifacts": {
      "methods": {
        "uploadapk": {
          "supportsMediaUpload": true,
          "id": "androidpublisher.internalappsharingartifacts.uploadapk",
          "path": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
          "parameters": {
            "packageName": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Package name of the app."
            }
          },
          "response": {
            "$ref": "InternalAppSharingArtifact"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Uploads an APK to internal app sharing. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java.",
          "parameterOrder": [
            "packageName"
          ],
          "flatPath": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
          "mediaUpload": {
            "protocols": {
              "simple": {
                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
                "multipart": true
              },
              "resumable": {
                "path": "/resumable/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
                "multipart": true
              }
            },
            "accept": [
              "application/octet-stream",
              "application/vnd.android.package-archive"
            ],
            "maxSize": "1073741824"
          },
          "httpMethod": "POST"
        },
        "uploadbundle": {
          "parameterOrder": [
            "packageName"
          ],
          "path": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
          "response": {
            "$ref": "InternalAppSharingArtifact"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
          "supportsMediaUpload": true,
          "id": "androidpublisher.internalappsharingartifacts.uploadbundle",
          "description": "Uploads an app bundle to internal app sharing. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java.",
          "httpMethod": "POST",
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "mediaUpload": {
            "maxSize": "10737418240",
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
                "multipart": true
              },
              "simple": {
                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
                "multipart": true
              }
            },
            "accept": [
              "application/octet-stream"
            ]
          }
        }
      }
    },
    "purchases": {
      "resources": {
        "voidedpurchases": {
          "methods": {
            "list": {
              "id": "androidpublisher.purchases.voidedpurchases.list",
              "response": {
                "$ref": "VoidedPurchasesListResponse"
              },
              "parameters": {
                "type": {
                  "location": "query",
                  "type": "integer",
                  "description": "The type of voided purchases that you want to see in the response. Possible values are: 0. Only voided in-app product purchases will be returned in the response. This is the default value. 1. Both voided in-app purchases and voided subscription purchases will be returned in the response. Note: Before requesting to receive voided subscription purchases, you must switch to use orderId in the response which uniquely identifies one-time purchases and subscriptions. Otherwise, you will receive multiple subscription orders with the same PurchaseToken, because subscription renewal orders share the same PurchaseToken.",
                  "format": "int32"
                },
                "startTime": {
                  "format": "int64",
                  "type": "string",
                  "location": "query",
                  "description": "The time, in milliseconds since the Epoch, of the oldest voided purchase that you want to see in the response. The value of this parameter cannot be older than 30 days and is ignored if a pagination token is set. Default value is current time minus 30 days. Note: This filter is applied on the time at which the record is seen as voided by our systems and not the actual voided time returned in the response."
                },
                "packageName": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The package name of the application for which voided purchases need to be returned (for example, 'com.some.thing')."
                },
                "maxResults": {
                  "format": "uint32",
                  "type": "integer",
                  "location": "query",
                  "description": "Defines how many results the list operation should return. The default number depends on the resource collection."
                },
                "token": {
                  "description": "Defines the token of the page to return, usually taken from TokenPagination. This can only be used if token paging is enabled.",
                  "location": "query",
                  "type": "string"
                },
                "startIndex": {
                  "type": "integer",
                  "format": "uint32",
                  "location": "query",
                  "description": "Defines the index of the first element to return. This can only be used if indexed paging is enabled."
                },
                "endTime": {
                  "format": "int64",
                  "description": "The time, in milliseconds since the Epoch, of the newest voided purchase that you want to see in the response. The value of this parameter cannot be greater than the current time and is ignored if a pagination token is set. Default value is current time. Note: This filter is applied on the time at which the record is seen as voided by our systems and not the actual voided time returned in the response.",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/voidedpurchases",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/purchases/voidedpurchases",
              "parameterOrder": [
                "packageName"
              ],
              "description": "Lists the purchases that were canceled, refunded or charged-back.",
              "httpMethod": "GET"
            }
          }
        },
        "subscriptions": {
          "methods": {
            "refund": {
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "description": "Refunds a user's subscription purchase, but the subscription remains valid until its expiration time and it will continue to recur.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "subscriptionId": {
                  "location": "path",
                  "type": "string",
                  "description": "\"The purchased subscription ID (for example, 'monthly001').",
                  "required": true
                },
                "packageName": {
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "token": {
                  "required": true,
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:refund",
              "id": "androidpublisher.purchases.subscriptions.refund",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:refund",
              "httpMethod": "POST"
            },
            "defer": {
[...]
