{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "title": "Google Play Android Developer API",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://androidpublisher.googleapis.com/",
  "baseUrl": "https://androidpublisher.googleapis.com/",
  "description": "Lets Android application developers access their Google Play accounts.",
  "name": "androidpublisher",
  "mtlsRootUrl": "https://androidpublisher.mtls.googleapis.com/",
  "basePath": "",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "version": "v3",
  "documentationLink": "https://developers.google.com/android-publisher",
  "id": "androidpublisher:v3",
  "resources": {
    "reviews": {
      "methods": {
        "list": {
          "path": "androidpublisher/v3/applications/{packageName}/reviews",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "format": "uint32",
              "location": "query",
              "description": "How many results the list operation should return."
            },
            "token": {
              "description": "Pagination token. If empty, list starts at the first review.",
              "location": "query",
              "type": "string"
            },
            "translationLanguage": {
              "type": "string",
              "description": "Language localization code.",
              "location": "query"
            },
            "startIndex": {
              "format": "uint32",
              "location": "query",
              "type": "integer",
              "description": "The index of the first element to return."
            },
            "packageName": {
              "required": true,
              "location": "path",
              "description": "Package name of the app.",
              "type": "string"
            }
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews",
          "id": "androidpublisher.reviews.list",
          "description": "Lists all reviews.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "packageName"
          ],
          "response": {
            "$ref": "ReviewsListResponse"
          }
        },
        "get": {
          "id": "androidpublisher.reviews.get",
          "parameterOrder": [
            "packageName",
            "reviewId"
          ],
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "reviewId": {
              "location": "path",
              "description": "Unique identifier for a review.",
              "type": "string",
              "required": true
            },
            "translationLanguage": {
              "description": "Language localization code.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Gets a single review.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "Review"
          },
          "httpMethod": "GET",
          "path": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}"
        },
        "reply": {
          "id": "androidpublisher.reviews.reply",
          "parameters": {
            "packageName": {
              "type": "string",
              "location": "path",
              "description": "Package name of the app.",
              "required": true
            },
            "reviewId": {
              "required": true,
              "location": "path",
              "description": "Unique identifier for a review.",
              "type": "string"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}:reply",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "POST",
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}:reply",
          "response": {
            "$ref": "ReviewsReplyResponse"
          },
          "request": {
            "$ref": "ReviewsReplyRequest"
          },
          "description": "Replies to a single review, or updates an existing reply.",
          "parameterOrder": [
            "packageName",
            "reviewId"
          ]
        }
      }
    },
    "edits": {
      "resources": {
        "bundles": {
          "methods": {
            "upload": {
              "description": "Uploads a new Android App Bundle to this edit. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java.",
              "supportsMediaUpload": true,
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app."
                },
                "ackBundleInstallationWarning": {
                  "location": "query",
                  "description": "Must be set to true if the app bundle installation may trigger a warning on user devices (for example, if installation size may be over a threshold, typically 100 MB).",
                  "type": "boolean"
                },
                "deviceTierConfigId": {
                  "type": "string",
                  "description": "Device tier config (DTC) to be used for generating deliverables (APKs). Contains id of the DTC or \"LATEST\" for last uploaded DTC.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "id": "androidpublisher.edits.bundles.upload",
              "httpMethod": "POST",
              "response": {
                "$ref": "Bundle"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "mediaUpload": {
                "protocols": {
                  "simple": {
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
                    "multipart": true
                  },
                  "resumable": {
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
                    "multipart": true
                  }
                },
                "accept": [
                  "application/octet-stream"
                ],
                "maxSize": "10737418240"
              }
            },
            "list": {
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "httpMethod": "GET",
              "id": "androidpublisher.edits.bundles.list",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "response": {
                "$ref": "BundlesListResponse"
              },
              "description": "Lists all current Android App Bundles of the app and edit.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "description": "Package name of the app.",
                  "type": "string"
                }
              }
            }
          }
        },
        "apks": {
          "methods": {
            "list": {
              "id": "androidpublisher.edits.apks.list",
              "parameters": {
                "editId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "description": "Lists all current APKs of the app and edit.",
              "response": {
                "$ref": "ApksListResponse"
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "httpMethod": "GET"
            },
            "addexternallyhosted": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "request": {
                "$ref": "ApksAddExternallyHostedRequest"
              },
              "httpMethod": "POST",
              "description": "Creates a new APK without uploading the APK itself to Google Play, instead hosting the APK at a specified URL. This function is only available to organizations using Managed Play whose application is configured to restrict distribution to the organizations.",
              "parameters": {
                "packageName": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Package name of the app."
                },
                "editId": {
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the edit.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "response": {
                "$ref": "ApksAddExternallyHostedResponse"
              },
              "id": "androidpublisher.edits.apks.addexternallyhosted",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/externallyHosted",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/externallyHosted"
            },
            "upload": {
              "httpMethod": "POST",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "id": "androidpublisher.edits.apks.upload",
              "response": {
                "$ref": "Apk"
              },
              "parameters": {
                "packageName": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Package name of the app."
                },
                "editId": {
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "mediaUpload": {
                "accept": [
                  "application/octet-stream",
                  "application/vnd.android.package-archive"
                ],
                "maxSize": "10737418240",
                "protocols": {
                  "simple": {
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
                    "multipart": true
                  },
                  "resumable": {
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
                    "multipart": true
                  }
                }
              },
              "supportsMediaUpload": true,
              "description": "Uploads an APK and adds to the current edit."
            }
          }
        },
        "testers": {
          "methods": {
            "patch": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "httpMethod": "PATCH",
              "id": "androidpublisher.edits.testers.patch",
              "parameters": {
                "editId": {
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true
                },
                "track": {
                  "description": "The track to update.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "packageName": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Package name of the app."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "description": "Patches testers. Note: Testers resource does not support email lists.",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "request": {
                "$ref": "Testers"
              },
              "response": {
                "$ref": "Testers"
              }
            },
            "update": {
              "response": {
                "$ref": "Testers"
              },
              "request": {
                "$ref": "Testers"
              },
              "parameters": {
                "editId": {
                  "required": true,
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "type": "string"
                },
                "track": {
                  "description": "The track to update.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Updates testers. Note: Testers resource does not support email lists.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.edits.testers.update",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "httpMethod": "PUT"
            },
            "get": {
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "response": {
                "$ref": "Testers"
              },
              "httpMethod": "GET",
              "description": "Gets testers. Note: Testers resource does not support email lists.",
              "parameters": {
                "editId": {
                  "required": true,
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "type": "string"
                },
                "packageName": {
                  "required": true,
                  "location": "path",
                  "description": "Package name of the app.",
                  "type": "string"
                },
                "track": {
                  "type": "string",
                  "description": "The track to read from.",
                  "location": "path",
                  "required": true
                }
              },
              "id": "androidpublisher.edits.testers.get",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}"
            }
          }
        },
        "expansionfiles": {
          "methods": {
            "upload": {
              "response": {
                "$ref": "ExpansionFilesUploadResponse"
              },
              "id": "androidpublisher.edits.expansionfiles.upload",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "expansionFileType": {
                  "required": true,
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "type": "string",
                  "enumDescriptions": [
                    "Unspecified expansion file type.",
                    "Main expansion file.",
                    "Patch expansion file."
                  ],
                  "description": "The file type of the expansion file configuration which is being updated.",
                  "location": "path"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "apkVersionCode": {
                  "location": "path",
                  "format": "int32",
                  "description": "The version code of the APK whose expansion file configuration is being read or modified.",
                  "required": true,
                  "type": "integer"
                },
                "editId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the edit."
                }
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "supportsMediaUpload": true,
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "description": "Uploads a new expansion file and attaches to the specified APK.",
              "mediaUpload": {
                "accept": [
                  "application/octet-stream"
                ],
                "protocols": {
                  "resumable": {
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
                    "multipart": true
                  },
                  "simple": {
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
                    "multipart": true
                  }
                },
                "maxSize": "2147483648"
              },
              "httpMethod": "POST"
            },
            "update": {
              "description": "Updates the APK's expansion file configuration to reference another APK's expansion file. To add a new expansion file use the Upload method.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "request": {
                "$ref": "ExpansionFile"
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "response": {
                "$ref": "ExpansionFile"
              },
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.edits.expansionfiles.update",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "parameters": {
                "expansionFileType": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "enumDescriptions": [
                    "Unspecified expansion file type.",
                    "Main expansion file.",
                    "Patch expansion file."
                  ],
                  "description": "The file type of the file configuration which is being read or modified."
                },
                "packageName": {
                  "location": "path",
                  "description": "Package name of the app.",
                  "required": true,
                  "type": "string"
                },
                "apkVersionCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The version code of the APK whose expansion file configuration is being read or modified.",
                  "location": "path",
                  "required": true
                },
                "editId": {
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the edit.",
                  "location": "path"
                }
              }
            },
            "patch": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "request": {
                "$ref": "ExpansionFile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "ExpansionFile"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "httpMethod": "PATCH",
              "description": "Patches the APK's expansion file configuration to reference another APK's expansion file. To add a new expansion file use the Upload method.",
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "id": "androidpublisher.edits.expansionfiles.patch",
              "parameters": {
                "apkVersionCode": {
                  "format": "int32",
                  "description": "The version code of the APK whose expansion file configuration is being read or modified.",
                  "required": true,
                  "location": "path",
                  "type": "integer"
                },
                "packageName": {
                  "required": true,
                  "description": "Package name of the app.",
                  "location": "path",
                  "type": "string"
                },
                "expansionFileType": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The file type of the expansion file configuration which is being updated.",
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "enumDescriptions": [
                    "Unspecified expansion file type.",
                    "Main expansion file.",
                    "Patch expansion file."
                  ]
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              }
            },
            "get": {
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "expansionFileType": {
                  "type": "string",
                  "description": "The file type of the file configuration which is being read or modified.",
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "location": "path",
                  "enumDescriptions": [
                    "Unspecified expansion file type.",
                    "Main expansion file.",
                    "Patch expansion file."
                  ],
                  "required": true
                },
                "apkVersionCode": {
                  "description": "The version code of the APK whose expansion file configuration is being read or modified.",
                  "type": "integer",
                  "location": "path",
                  "format": "int32",
                  "required": true
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "description": "Fetches the expansion file configuration for the specified APK.",
              "response": {
                "$ref": "ExpansionFile"
              },
              "httpMethod": "GET",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.edits.expansionfiles.get"
            }
          }
        },
        "tracks": {
          "methods": {
            "update": {
              "request": {
                "$ref": "Track"
              },
              "parameters": {
                "editId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true
                },
                "track": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the track."
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "id": "androidpublisher.edits.tracks.update",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "description": "Updates a track.",
              "httpMethod": "PUT",
              "response": {
                "$ref": "Track"
              }
            },
            "patch": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "response": {
                "$ref": "Track"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "request": {
                "$ref": "Track"
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "parameters": {
                "track": {
                  "description": "Identifier of the track.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "editId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Package name of the app."
                }
              },
              "description": "Patches a track.",
              "httpMethod": "PATCH",
              "id": "androidpublisher.edits.tracks.patch"
            },
            "list": {
              "response": {
                "$ref": "TracksListResponse"
              },
              "id": "androidpublisher.edits.tracks.list",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "GET",
              "description": "Lists all tracks.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks",
              "parameters": {
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "Package name of the app.",
                  "required": true
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "get": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "Track"
              },
              "parameters": {
                "track": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Identifier of the track."
                },
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "required": true,
                  "location": "path"
                },
                "editId": {
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit.",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "id": "androidpublisher.edits.tracks.get",
              "description": "Gets a track."
            }
          }
        },
        "images": {
          "methods": {
            "delete": {
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType",
                "imageId"
              ],
              "httpMethod": "DELETE",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}/{imageId}",
              "parameters": {
                "editId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the edit."
                },
                "imageId": {
                  "description": "Unique identifier an image within the set of images attached to this edit.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "packageName": {
                  "location": "path",
                  "description": "Package name of the app.",
                  "required": true,
                  "type": "string"
                },
                "imageType": {
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "tvBanner"
                  ],
                  "description": "Type of the Image.",
                  "required": true,
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "TV banner."
                  ],
                  "location": "path",
                  "type": "string"
                },
                "language": {
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "androidpublisher.edits.images.delete",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}/{imageId}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Deletes the image (specified by id) from the edit."
            },
            "upload": {
              "httpMethod": "POST",
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ],
              "mediaUpload": {
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}"
                  },
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}"
                  }
                },
                "accept": [
                  "image/*"
                ],
                "maxSize": "15728640"
              },
              "id": "androidpublisher.edits.images.upload",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "supportsMediaUpload": true,
              "parameters": {
                "packageName": {
                  "required": true,
                  "description": "Package name of the app.",
                  "type": "string",
                  "location": "path"
                },
                "imageType": {
                  "required": true,
                  "description": "Type of the Image.",
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "TV banner."
                  ],
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "tvBanner"
                  ],
                  "type": "string",
                  "location": "path"
                },
                "language": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German). Providing a language that is not supported by the App is a no-op."
                },
                "editId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit."
                }
              },
              "description": "Uploads an image of the specified language and image type, and adds to the edit.",
              "response": {
                "$ref": "ImagesUploadResponse"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}"
            },
            "deleteall": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ],
              "httpMethod": "DELETE",
              "id": "androidpublisher.edits.images.deleteall",
              "parameters": {
                "imageType": {
                  "type": "string",
                  "description": "Type of the Image. Providing an image type that refers to no images is a no-op.",
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "TV banner."
                  ],
                  "required": true,
                  "location": "path",
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "tvBanner"
                  ]
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "packageName": {
                  "type": "string",
                  "required": true,
                  "description": "Package name of the app.",
                  "location": "path"
                },
                "language": {
                  "type": "string",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German). Providing a language that is not supported by the App is a no-op.",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Deletes all images for the specified language and image type. Returns an empty response if no images are found.",
              "response": {
                "$ref": "ImagesDeleteAllResponse"
              }
            },
            "list": {
              "id": "androidpublisher.edits.images.list",
              "description": "Lists all images. The response may be empty.",
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ],
              "parameters": {
                "imageType": {
                  "description": "Type of the Image. Providing an image type that refers to no images will return an empty response.",
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "TV banner."
                  ],
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "tvBanner"
                  ]
                },
                "language": {
                  "required": true,
                  "location": "path",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German). There must be a store listing for the specified language.",
                  "type": "string"
                },
                "packageName": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Package name of the app."
                },
                "editId": {
                  "required": true,
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ImagesListResponse"
              },
              "httpMethod": "GET",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            }
          }
        },
        "countryavailability": {
          "methods": {
            "get": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/countryAvailability/{track}",
              "httpMethod": "GET",
              "id": "androidpublisher.edits.countryavailability.get",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/countryAvailability/{track}",
              "parameters": {
                "editId": {
                  "location": "path",
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "required": true
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Package name of the app."
                },
                "track": {
                  "location": "path",
                  "description": "The track to read from.",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "TrackCountryAvailability"
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "description": "Gets country availability."
            }
          }
        },
        "listings": {
          "methods": {
            "deleteall": {
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "Package name of the app.",
                  "required": true
                }
              },
              "description": "Deletes all store listings.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "id": "androidpublisher.edits.listings.deleteall",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings"
            },
            "patch": {
              "id": "androidpublisher.edits.listings.patch",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "PATCH",
              "response": {
                "$ref": "Listing"
              },
              "request": {
                "$ref": "Listing"
              },
              "parameters": {
                "language": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German)."
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "description": "Patches a localized store listing.",
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}"
            },
            "update": {
              "id": "androidpublisher.edits.listings.update",
              "httpMethod": "PUT",
              "parameters": {
                "language": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German)."
                },
                "editId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "request": {
                "$ref": "Listing"
              },
              "description": "Creates or updates a localized store listing.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "Listing"
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ]
            },
            "get": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "description": "Gets a localized store listing.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "id": "androidpublisher.edits.listings.get",
              "httpMethod": "GET",
              "parameters": {
                "editId": {
                  "location": "path",
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "required": true
                },
                "language": {
                  "required": true,
                  "type": "string",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
                  "location": "path"
                },
                "packageName": {
                  "required": true,
                  "location": "path",
                  "description": "Package name of the app.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Listing"
              }
            },
            "delete": {
              "description": "Deletes a localized store listing.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "parameters": {
                "language": {
                  "type": "string",
                  "required": true,
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
                  "location": "path"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "editId": {
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.edits.listings.delete",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "ListingsListResponse"
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "httpMethod": "GET",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "parameters": {
                "editId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Package name of the app."
                }
              },
              "description": "Lists all localized store listings.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "id": "androidpublisher.edits.listings.list"
            }
          }
        },
        "details": {
          "methods": {
            "get": {
              "id": "androidpublisher.edits.details.get",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "response": {
                "$ref": "AppDetails"
              },
              "httpMethod": "GET",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "description": "Gets details of an app.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "description": "Package name of the app.",
                  "required": true
                },
                "editId": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "required": true
                }
              }
            },
            "update": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "editId": {
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "request": {
                "$ref": "AppDetails"
              },
              "response": {
                "$ref": "AppDetails"
              },
              "id": "androidpublisher.edits.details.update",
              "description": "Updates details of an app.",
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "patch": {
              "response": {
                "$ref": "AppDetails"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "request": {
                "$ref": "AppDetails"
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "httpMethod": "PATCH",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "parameters": {
                "editId": {
                  "type": "string",
                  "required": true,
                  "description": "Identifier of the edit.",
                  "location": "path"
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Package name of the app."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Patches details of an app.",
              "id": "androidpublisher.edits.details.patch"
            }
          }
        },
        "deobfuscationfiles": {
          "methods": {
            "upload": {
              "mediaUpload": {
                "maxSize": "629145600",
                "accept": [
                  "application/octet-stream"
                ],
                "protocols": {
                  "resumable": {
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}",
                    "multipart": true
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}"
                  }
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}",
              "id": "androidpublisher.edits.deobfuscationfiles.upload",
              "parameters": {
                "editId": {
                  "description": "Unique identifier for this edit.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "packageName": {
                  "description": "Unique identifier for the Android app.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "apkVersionCode": {
                  "description": "The version code of the APK whose Deobfuscation File is being uploaded.",
                  "required": true,
                  "type": "integer",
                  "format": "int32",
                  "location": "path"
                },
                "deobfuscationFileType": {
                  "enumDescriptions": [
                    "Unspecified deobfuscation file type.",
                    "Proguard deobfuscation file type.",
                    "Native debugging symbols file type."
                  ],
                  "enum": [
                    "deobfuscationFileTypeUnspecified",
                    "proguard",
                    "nativeCode"
                  ],
                  "location": "path",
                  "type": "string",
                  "description": "The type of the deobfuscation file.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Uploads a new deobfuscation file and attaches to the specified APK.",
              "response": {
                "$ref": "DeobfuscationFilesUploadResponse"
              },
              "supportsMediaUpload": true,
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "deobfuscationFileType"
              ],
              "httpMethod": "POST"
            }
          }
        }
      },
      "methods": {
        "insert": {
          "response": {
            "$ref": "AppEdit"
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits",
          "description": "Creates a new edit for an app.",
          "path": "androidpublisher/v3/applications/{packageName}/edits",
          "parameters": {
            "packageName": {
              "location": "path",
              "type": "string",
              "description": "Package name of the app.",
              "required": true
            }
          },
          "id": "androidpublisher.edits.insert",
          "request": {
            "$ref": "AppEdit"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "packageName"
          ]
        },
        "commit": {
          "id": "androidpublisher.edits.commit",
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}:commit",
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "httpMethod": "POST",
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}:commit",
          "parameters": {
            "editId": {
              "required": true,
              "description": "Identifier of the edit.",
              "type": "string",
              "location": "path"
            },
            "packageName": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Package name of the app."
            },
            "changesNotSentForReview": {
              "location": "query",
              "description": "Indicates that the changes in this edit will not be reviewed until they are explicitly sent for review from the Google Play Console UI. These changes will be added to any other changes that are not yet sent for review.",
              "type": "boolean"
            }
          },
          "response": {
            "$ref": "AppEdit"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Commits an app edit."
        },
        "delete": {
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "parameters": {
            "editId": {
              "type": "string",
              "description": "Identifier of the edit.",
              "location": "path",
              "required": true
            },
            "packageName": {
              "description": "Package name of the app.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "id": "androidpublisher.edits.delete",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Deletes an app edit.",
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "httpMethod": "DELETE"
        },
        "get": {
          "id": "androidpublisher.edits.get",
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "response": {
            "$ref": "AppEdit"
          },
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "GET",
          "description": "Gets an app edit.",
          "parameters": {
            "editId": {
              "type": "string",
              "description": "Identifier of the edit.",
              "required": true,
              "location": "path"
            },
            "packageName": {
              "required": true,
              "location": "path",
              "description": "Package name of the app.",
              "type": "string"
            }
          }
        },
        "validate": {
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "editId": {
              "description": "Identifier of the edit.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "AppEdit"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}:validate",
          "description": "Validates an app edit.",
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}:validate",
          "id": "androidpublisher.edits.validate",
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "httpMethod": "POST"
        }
      }
    },
    "systemapks": {
      "resources": {
        "variants": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}",
              "description": "Returns a previously created system APK variant.",
              "parameters": {
                "variantId": {
                  "description": "The ID of a previously created system APK variant.",
                  "required": true,
                  "location": "path",
                  "type": "integer",
                  "format": "uint32"
                },
                "versionCode": {
                  "required": true,
                  "type": "string",
                  "format": "int64",
                  "location": "path",
                  "description": "The version code of the App Bundle."
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "androidpublisher.systemapks.variants.get",
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}",
              "parameterOrder": [
                "packageName",
                "versionCode",
                "variantId"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Variant"
              }
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.systemapks.variants.create",
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "request": {
                "$ref": "Variant"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "parameters": {
                "packageName": {
                  "location": "path",
                  "description": "Package name of the app.",
                  "type": "string",
                  "required": true
                },
                "versionCode": {
                  "type": "string",
                  "description": "The version code of the App Bundle.",
                  "required": true,
                  "location": "path",
                  "format": "int64"
                }
              },
              "response": {
                "$ref": "Variant"
              },
              "description": "Creates an APK which is suitable for inclusion in a system image from an already uploaded Android App Bundle.",
              "parameterOrder": [
                "packageName",
                "versionCode"
              ],
              "httpMethod": "POST"
            },
            "download": {
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}:download",
              "description": "Downloads a previously created system APK which is suitable for inclusion in a system image.",
              "httpMethod": "GET",
              "useMediaDownloadService": true,
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "supportsMediaDownload": true,
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}:download",
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "versionCode": {
                  "description": "The version code of the App Bundle.",
                  "type": "string",
                  "location": "path",
                  "format": "int64",
                  "required": true
                },
                "variantId": {
                  "description": "The ID of a previously created system APK variant.",
                  "location": "path",
                  "required": true,
                  "format": "uint32",
                  "type": "integer"
                }
              },
              "id": "androidpublisher.systemapks.variants.download",
              "parameterOrder": [
                "packageName",
                "versionCode",
                "variantId"
              ]
            },
            "list": {
              "id": "androidpublisher.systemapks.variants.list",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "httpMethod": "GET",
              "response": {
                "$ref": "SystemApksListResponse"
              },
              "description": "Returns the list of previously created system APK variants.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "parameters": {
                "packageName": {
                  "type": "string",
                  "required": true,
                  "description": "Package name of the app.",
                  "location": "path"
                },
                "versionCode": {
                  "type": "string",
                  "required": true,
                  "description": "The version code of the App Bundle.",
                  "format": "int64",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "packageName",
                "versionCode"
              ]
            }
          }
        }
      }
    },
    "grants": {
      "methods": {
        "patch": {
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "description": "Optional. The list of fields to be updated.",
              "location": "query",
              "type": "string"
            },
            "name": {
              "required": true,
              "pattern": "^developers/[^/]+/users/[^/]+/grants/[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Required. Resource name for this grant, following the pattern \"developers/{developer}/users/{email}/grants/{package_name}\". If this grant is for a draft app, the app ID will be used in this resource name instead of the package name."
            }
          },
          "httpMethod": "PATCH",
          "description": "Updates access for the user to the given package.",
          "id": "androidpublisher.grants.patch",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Grant"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/{+name}",
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}/grants/{grantsId}",
          "request": {
            "$ref": "Grant"
          }
        },
        "create": {
          "id": "androidpublisher.grants.create",
          "path": "androidpublisher/v3/{+parent}/grants",
          "description": "Grant access for a user to the given package.",
          "parameters": {
            "parent": {
              "description": "Required. The user which needs permission. Format: developers/{developer}/users/{user}",
              "pattern": "^developers/[^/]+/users/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}/grants",
          "request": {
            "$ref": "Grant"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "Grant"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "delete": {
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^developers/[^/]+/users/[^/]+/grants/[^/]+$",
              "location": "path",
              "description": "Required. The name of the grant to delete. Format: developers/{developer}/users/{email}/grants/{package_name}"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Removes all access for the user to the given package or developer account.",
          "id": "androidpublisher.grants.delete",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "DELETE",
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}/grants/{grantsId}",
          "path": "androidpublisher/v3/{+name}"
        }
      }
    },
    "inappproducts": {
      "methods": {
        "insert": {
          "response": {
            "$ref": "InAppProduct"
          },
          "parameters": {
            "packageName": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Package name of the app."
            },
            "autoConvertMissingPrices": {
              "type": "boolean",
              "location": "query",
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false."
            }
          },
          "request": {
            "$ref": "InAppProduct"
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "POST",
          "description": "Creates an in-app product (i.e. a managed product or a subscriptions).",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "id": "androidpublisher.inappproducts.insert",
          "parameterOrder": [
            "packageName"
          ]
        },
        "update": {
          "request": {
            "$ref": "InAppProduct"
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "parameters": {
            "allowMissing": {
              "location": "query",
              "type": "boolean",
              "description": "If set to true, and the in-app product with the given package_name and sku doesn't exist, the in-app product will be created."
            },
            "sku": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Unique identifier for the in-app product."
            },
            "autoConvertMissingPrices": {
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
              "location": "query",
              "type": "boolean"
            },
            "packageName": {
              "required": true,
              "description": "Package name of the app.",
              "type": "string",
              "location": "path"
            }
          },
          "id": "androidpublisher.inappproducts.update",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "InAppProduct"
          },
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "description": "Updates an in-app product (i.e. a managed product or a subscriptions).",
          "httpMethod": "PUT"
        },
        "get": {
          "httpMethod": "GET",
          "id": "androidpublisher.inappproducts.get",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "sku": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Unique identifier for the in-app product."
            },
            "packageName": {
              "required": true,
              "description": "Package name of the app.",
              "location": "path",
              "type": "string"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "response": {
            "$ref": "InAppProduct"
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "description": "Gets an in-app product, which can be a managed product or a subscription."
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameters": {
            "sku": {
              "type": "string",
              "description": "Unique identifier for the in-app product.",
              "required": true,
              "location": "path"
            },
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "id": "androidpublisher.inappproducts.delete",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "description": "Deletes an in-app product (i.e. a managed product or a subscriptions).",
          "parameterOrder": [
            "packageName",
            "sku"
          ]
        },
        "list": {
          "description": "Lists all in-app products - both managed products and subscriptions. If an app has a large number of in-app products, the response may be paginated. In this case the response field `tokenPagination.nextPageToken` will be set and the caller should provide its value as a `token` request parameter to retrieve the next page.",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "parameters": {
            "token": {
              "description": "Pagination token. If empty, list starts at the first product.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "description": "Deprecated and ignored. The page size is determined by the server.",
              "format": "uint32",
              "location": "query"
            },
            "startIndex": {
              "location": "query",
              "description": "Deprecated and ignored. Set the `token` parameter to rertieve the next page.",
              "type": "integer",
              "format": "uint32"
            },
            "packageName": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Package name of the app."
            }
          },
          "id": "androidpublisher.inappproducts.list",
          "parameterOrder": [
            "packageName"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "response": {
            "$ref": "InappproductsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "GET"
        },
        "patch": {
          "parameters": {
            "autoConvertMissingPrices": {
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
              "location": "query",
              "type": "boolean"
            },
            "packageName": {
              "type": "string",
              "description": "Package name of the app.",
              "required": true,
              "location": "path"
            },
            "sku": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Unique identifier for the in-app product."
            }
          },
          "request": {
            "$ref": "InAppProduct"
          },
          "httpMethod": "PATCH",
          "description": "Patches an in-app product (i.e. a managed product or a subscriptions).",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "InAppProduct"
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "id": "androidpublisher.inappproducts.patch",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}"
        }
      }
    },
    "purchases": {
      "resources": {
        "subscriptionsv2": {
          "methods": {
            "get": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}",
              "parameters": {
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "The package of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "required": true
                },
                "token": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The token provided to the user's device when the subscription was purchased.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Get metadata about a subscription",
              "parameterOrder": [
                "packageName",
                "token"
              ],
              "id": "androidpublisher.purchases.subscriptionsv2.get",
              "httpMethod": "GET",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}",
              "response": {
                "$ref": "SubscriptionPurchaseV2"
              }
            }
          }
        },
        "products": {
          "methods": {
            "get": {
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}",
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ],
              "response": {
                "$ref": "ProductPurchase"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}",
              "httpMethod": "GET",
              "description": "Checks the purchase and consumption status of an inapp item.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "token": {
                  "description": "The token provided to the user's device when the inapp product was purchased.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "productId": {
                  "required": true,
                  "type": "string",
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1').",
                  "location": "path"
                },
                "packageName": {
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "androidpublisher.purchases.products.get"
            },
            "acknowledge": {
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:acknowledge",
              "description": "Acknowledges a purchase of an inapp item.",
              "request": {
                "$ref": "ProductPurchasesAcknowledgeRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:acknowledge",
              "parameters": {
                "packageName": {
                  "required": true,
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
                  "type": "string",
                  "location": "path"
                },
                "token": {
                  "location": "path",
                  "description": "The token provided to the user's device when the inapp product was purchased.",
                  "required": true,
                  "type": "string"
                },
                "productId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1')."
                }
              },
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ],
              "id": "androidpublisher.purchases.products.acknowledge",
              "httpMethod": "POST"
            }
          }
        },
        "voidedpurchases": {
          "methods": {
            "list": {
              "path": "androidpublisher/v3/applications/{packageName}/purchases/voidedpurchases",
              "description": "Lists the purchases that were canceled, refunded or charged-back.",
              "httpMethod": "GET",
              "response": {
                "$ref": "VoidedPurchasesListResponse"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/voidedpurchases",
              "id": "androidpublisher.purchases.voidedpurchases.list",
              "parameters": {
                "type": {
                  "description": "The type of voided purchases that you want to see in the response. Possible values are: 0. Only voided in-app product purchases will be returned in the response. This is the default value. 1. Both voided in-app purchases and voided subscription purchases will be returned in the response. Note: Before requesting to receive voided subscription purchases, you must switch to use orderId in the response which uniquely identifies one-time purchases and subscriptions. Otherwise, you will receive multiple subscription orders with the same PurchaseToken, because subscription renewal orders share the same PurchaseToken.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "startIndex": {
                  "description": "Defines the index of the first element to return. This can only be used if indexed paging is enabled.",
                  "format": "uint32",
                  "location": "query",
                  "type": "integer"
                },
                "packageName": {
                  "description": "The package name of the application for which voided purchases need to be returned (for example, 'com.some.thing').",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "maxResults": {
                  "format": "uint32",
                  "type": "integer",
                  "description": "Defines how many results the list operation should return. The default number depends on the resource collection.",
                  "location": "query"
                },
                "endTime": {
                  "description": "The time, in milliseconds since the Epoch, of the newest voided purchase that you want to see in the response. The value of this parameter cannot be greater than the current time and is ignored if a pagination token is set. Default value is current time. Note: This filter is applied on the time at which the record is seen as voided by our systems and not the actual voided time returned in the response.",
                  "location": "query",
                  "type": "string",
                  "format": "int64"
                },
                "token": {
                  "location": "query",
                  "type": "string",
                  "description": "Defines the token of the page to return, usually taken from TokenPagination. This can only be used if token paging is enabled."
                },
                "startTime": {
                  "format": "int64",
                  "description": "The time, in milliseconds since the Epoch, of the oldest voided purchase that you want to see in the response. The value of this parameter cannot be older than 30 days and is ignored if a pagination token is set. Default value is current time minus 30 days. Note: This filter is applied on the time at which the record is seen as voided by our systems and not the actual voided time returned in the response.",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "packageName"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            }
          }
        },
        "subscriptions": {
          "methods": {
            "defer": {
              "description": "Defers a user's subscription purchase until a specified future expiration time.",
              "response": {
                "$ref": "SubscriptionPurchasesDeferResponse"
              },
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "POST",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer",
              "id": "androidpublisher.purchases.subscriptions.defer",
              "request": {
                "$ref": "SubscriptionPurchasesDeferRequest"
              },
              "parameters": {
                "token": {
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "subscriptionId": {
                  "required": true,
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "type": "string",
                  "location": "path"
                },
                "packageName": {
                  "location": "path",
[...]
