{
  "title": "Android Device Provisioning Partner API",
  "protocol": "rest",
  "revision": "20231029",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "description": "Automates Android zero-touch enrollment for device resellers, customers, and EMMs.",
  "discoveryVersion": "v1",
  "canonicalName": "Android Provisioning Partner",
  "id": "androiddeviceprovisioning:v1",
  "rootUrl": "https://androiddeviceprovisioning.googleapis.com/",
  "baseUrl": "https://androiddeviceprovisioning.googleapis.com/",
  "mtlsRootUrl": "https://androiddeviceprovisioning.mtls.googleapis.com/",
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "CustomerListDevicesResponse": {
      "id": "CustomerListDevicesResponse",
      "description": "Response message of customer's liting devices.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token used to access the next page of results. Omitted if no further results are available."
        },
        "devices": {
          "type": "array",
          "items": {
            "$ref": "Device"
          },
          "description": "The customer's devices."
        }
      },
      "type": "object"
    },
    "DeviceMetadata": {
      "id": "DeviceMetadata",
      "description": "Metadata entries that can be attached to a `Device`. To learn more, read [Device metadata](https://developers.google.com/zero-touch/guides/metadata).",
      "type": "object",
      "properties": {
        "entries": {
          "description": "Metadata entries recorded as key-value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "ClaimDeviceRequest": {
      "properties": {
        "configurationId": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The unique identifier of the configuration (internally known as profile) to set for the section."
        },
        "preProvisioningToken": {
          "type": "string",
          "description": "Optional. Must and can only be set for Chrome OS devices."
        },
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. Required. The device identifier of the device to claim."
        },
        "sectionType": {
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "description": "Required. The section type of the device's provisioning record."
        },
        "deviceMetadata": {
          "description": "Optional. The metadata to attach to the device.",
          "$ref": "DeviceMetadata"
        },
        "simlockProfileId": {
          "format": "int64",
          "type": "string",
          "description": "Optional. "
        },
        "customerId": {
          "format": "int64",
          "type": "string",
          "description": "The ID of the customer for whom the device is being claimed."
        },
        "googleWorkspaceCustomerId": {
          "type": "string",
          "description": "The Google Workspace customer ID."
        }
      },
      "id": "ClaimDeviceRequest",
      "description": "Request message to claim a device on behalf of a customer.",
      "type": "object"
    },
    "FindDevicesByDeviceIdentifierResponse": {
      "type": "object",
      "id": "FindDevicesByDeviceIdentifierResponse",
      "description": "Response containing found devices.",
      "properties": {
        "devices": {
          "items": {
            "$ref": "Device"
          },
          "type": "array",
          "description": "Found devices."
        },
        "nextPageToken": {
          "description": "A token used to access the next page of results. Omitted if no further results are available.",
          "type": "string"
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "The total count of items in the list irrespective of pagination."
        }
      }
    },
    "DeviceClaim": {
      "description": "A record of a device claimed by a reseller for a customer. Devices claimed for zero-touch enrollment have a claim with the type `SECTION_TYPE_ZERO_TOUCH`. To learn more, read [Claim devices for customers](/zero-touch/guides/how-it-works#claim).",
      "properties": {
        "additionalService": {
          "enumDescriptions": [
            "No additional service.",
            "Device protection service, also known as Android Enterprise Essentials. To claim a device with the device protection service you must enroll with the partnership team."
          ],
          "type": "string",
          "description": "The Additional service registered for the device.",
          "enum": [
            "ADDITIONAL_SERVICE_UNSPECIFIED",
            "DEVICE_PROTECTION"
          ]
        },
        "sectionType": {
          "type": "string",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "description": "Output only. The type of claim made on the device.",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "readOnly": true
        },
        "ownerCompanyId": {
          "format": "int64",
          "type": "string",
          "description": "The ID of the Customer that purchased the device."
        },
        "vacationModeExpireTime": {
          "description": "The timestamp when the device will exit ‘vacation mode’. This value is present iff the device is in 'vacation mode'.",
          "type": "string",
          "format": "google-datetime"
        },
        "googleWorkspaceCustomerId": {
          "description": "The ID of the Google Workspace account that owns the Chrome OS device.",
          "type": "string"
        },
        "vacationModeStartTime": {
          "description": "The timestamp when the device was put into ‘vacation mode’. This value is present iff the device is in 'vacation mode'.",
          "type": "string",
          "format": "google-datetime"
        },
        "resellerId": {
          "format": "int64",
          "description": "The ID of the reseller that claimed the device.",
          "type": "string"
        }
      },
      "id": "DeviceClaim",
      "type": "object"
    },
    "PartnerClaim": {
      "id": "PartnerClaim",
      "properties": {
        "deviceIdentifier": {
          "description": "Required. Required. Device identifier of the device.",
          "$ref": "DeviceIdentifier"
        },
        "sectionType": {
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "type": "string",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "description": "Required. The section type of the device's provisioning record."
        },
        "preProvisioningToken": {
          "description": "Optional. Must and can only be set for Chrome OS devices.",
          "type": "string"
        },
        "simlockProfileId": {
          "format": "int64",
          "type": "string",
          "description": "Optional. "
        },
        "googleWorkspaceCustomerId": {
          "description": "The Google Workspace customer ID.",
          "type": "string"
        },
        "customerId": {
          "description": "The ID of the customer for whom the device is being claimed.",
          "type": "string",
          "format": "int64"
        },
        "deviceMetadata": {
          "$ref": "DeviceMetadata",
          "description": "Required. The metadata to attach to the device at claim."
        },
        "configurationId": {
          "format": "int64",
          "description": "Optional. The unique identifier of the configuration (internally known as profile) to set for the section.",
          "type": "string"
        }
      },
      "description": "Identifies one claim request.",
      "type": "object"
    },
    "UnclaimDevicesRequest": {
      "description": "Request to unclaim devices asynchronously in batch.",
      "id": "UnclaimDevicesRequest",
      "type": "object",
      "properties": {
        "unclaims": {
          "description": "Required. The list of devices to unclaim.",
          "items": {
            "$ref": "PartnerUnclaim"
          },
          "type": "array"
        }
      }
    },
    "PerDeviceStatusInBatch": {
      "id": "PerDeviceStatusInBatch",
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "enum": [
            "SINGLE_DEVICE_STATUS_UNSPECIFIED",
            "SINGLE_DEVICE_STATUS_UNKNOWN_ERROR",
            "SINGLE_DEVICE_STATUS_OTHER_ERROR",
            "SINGLE_DEVICE_STATUS_SUCCESS",
            "SINGLE_DEVICE_STATUS_PERMISSION_DENIED",
            "SINGLE_DEVICE_STATUS_INVALID_DEVICE_IDENTIFIER",
            "SINGLE_DEVICE_STATUS_INVALID_SECTION_TYPE",
            "SINGLE_DEVICE_STATUS_SECTION_NOT_YOURS",
            "SINGLE_DEVICE_STATUS_INVALID_TOKEN",
            "SINGLE_DEVICE_STATUS_REVOKED_TOKEN",
            "SINGLE_DEVICE_STATUS_DEVICE_LIMIT_EXCEEDED"
          ],
          "enumDescriptions": [
            "Invalid code. Shouldn't be used.",
            "Unknown error. We don't expect this error to occur here.",
            "Other error. We know/expect this error, but there's no defined error code for the error.",
            "Success.",
            "Permission denied.",
            "Invalid device identifier.",
            "Invalid section type.",
            "This section is claimed by another company.",
            "Invalid pre-provisioning token.",
            "Revoked pre-provisioning token.",
            "Status used to indicate a failure due to a device limit being exceeded"
          ],
          "description": "The result status of the device after processing."
        },
        "deviceId": {
          "description": "If processing succeeds, the device ID of the device.",
          "type": "string",
          "format": "int64"
        },
        "errorMessage": {
          "description": "If processing fails, a developer message explaining what went wrong.",
          "type": "string"
        },
        "errorIdentifier": {
          "description": "If processing fails, the error type.",
          "type": "string"
        }
      },
      "description": "Captures the processing status for each device in the operation."
    },
    "ClaimDevicesRequest": {
      "id": "ClaimDevicesRequest",
      "description": "Request to claim devices asynchronously in batch. Claiming a device adds the device to zero-touch enrollment and shows the device in the customer's view of the portal.",
      "properties": {
        "claims": {
          "type": "array",
          "items": {
            "$ref": "PartnerClaim"
          },
          "description": "Required. A list of device claims."
        }
      },
      "type": "object"
    },
    "GetDeviceSimLockStateResponse": {
      "type": "object",
      "id": "GetDeviceSimLockStateResponse",
      "properties": {
        "simLockState": {
          "enumDescriptions": [
            "Invalid code. Shouldn't be used.",
            "Device is not SIM locked.",
            "Device is SIM locked to the partner querying SIM lock state.",
            "Device is SIM locked to a different partner."
          ],
          "enum": [
            "SIM_LOCK_STATE_UNSPECIFIED",
            "UNLOCKED",
            "LOCKED_TO_PARTNER",
            "LOCKED_TO_OTHER_PARTNER"
          ],
          "type": "string"
        }
      },
      "description": "Response containing a device's SimLock state."
    },
    "ClaimDeviceResponse": {
      "type": "object",
      "properties": {
        "deviceName": {
          "description": "The resource name of the device in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`.",
          "type": "string"
        },
        "deviceId": {
          "type": "string",
          "description": "The device ID of the claimed device.",
          "format": "int64"
        }
      },
      "description": "Response message containing device id of the claim.",
      "id": "ClaimDeviceResponse"
    },
    "CreateCustomerRequest": {
      "description": "Request message to create a customer.",
      "type": "object",
      "id": "CreateCustomerRequest",
      "properties": {
        "customer": {
          "$ref": "Company",
          "description": "Required. The company data to populate the new customer. Must contain a value for `companyName` and at least one `owner_email` that's associated with a Google Account. The values for `companyId` and `name` must be empty."
        }
      }
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "Configuration": {
      "type": "object",
      "description": "A configuration collects the provisioning options for Android devices. Each configuration combines the following: * The EMM device policy controller (DPC) installed on the devices. * EMM policies enforced on the devices. * Metadata displayed on the device to help users during setup. Customers can add as many configurations as they need. However, zero-touch enrollment works best when a customer sets a default configuration that's applied to any new devices the organization purchases.",
      "id": "Configuration",
      "properties": {
        "contactPhone": {
          "type": "string",
          "description": "Required. The telephone number that device users can call, using another device, to get help. Zero-touch enrollment shows this number to device users before device provisioning. Accepts numerals, spaces, the plus sign, hyphens, and parentheses."
        },
        "forcedResetTime": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The timeout before forcing factory reset the device if the device doesn't go through provisioning in the setup wizard, usually due to lack of network connectivity during setup wizard. Ranges from 0-6 hours, with 2 hours being the default if unset."
        },
        "customMessage": {
          "type": "string",
          "description": "A message, containing one or two sentences, to help device users get help or give them more details about what’s happening to their device. Zero-touch enrollment shows this message before the device is provisioned."
        },
        "isDefault": {
          "description": "Required. Whether this is the default configuration that zero-touch enrollment applies to any new devices the organization purchases in the future. Only one customer configuration can be the default. Setting this value to `true`, changes the previous default configuration's `isDefault` value to `false`.",
          "type": "boolean"
        },
        "contactEmail": {
          "description": "Required. The email address that device users can contact to get help. Zero-touch enrollment shows this email address to device users before device provisioning. The value is validated on input.",
          "type": "string"
        },
        "configurationName": {
          "description": "Required. A short name that describes the configuration's purpose. For example, _Sales team_ or _Temporary employees_. The zero-touch enrollment portal displays this name to IT admins.",
          "type": "string"
        },
        "configurationId": {
          "format": "int64",
          "description": "Output only. The ID of the configuration. Assigned by the server.",
          "readOnly": true,
          "type": "string"
        },
        "dpcResourcePath": {
          "type": "string",
          "description": "Required. The resource name of the selected DPC (device policy controller) in the format `customers/[CUSTOMER_ID]/dpcs/*`. To list the supported DPCs, call `customers.dpcs.list`."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. Assigned by the server."
        },
        "companyName": {
          "type": "string",
          "description": "Required. The name of the organization. Zero-touch enrollment shows this organization name to device users during device provisioning."
        },
        "dpcExtras": {
          "type": "string",
          "description": "The JSON-formatted EMM provisioning extras that are passed to the DPC."
        }
      }
    },
    "FindDevicesByOwnerRequest": {
      "description": "Request to find devices by customers.",
      "id": "FindDevicesByOwnerRequest",
      "properties": {
        "sectionType": {
          "description": "Required. The section type of the device's provisioning record.",
          "type": "string",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ]
        },
        "customerId": {
          "description": "The list of customer IDs to search for.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "limit": {
          "format": "int64",
          "type": "string",
          "description": "Required. The maximum number of devices to show in a page of results. Must be between 1 and 100 inclusive."
        },
        "googleWorkspaceCustomerId": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of IDs of Google Workspace accounts to search for."
        },
        "pageToken": {
          "type": "string",
          "description": "A token specifying which result page to return."
        }
      },
      "type": "object"
    },
    "UpdateMetadataArguments": {
      "type": "object",
      "properties": {
        "deviceIdentifier": {
          "description": "Required. Device identifier.",
          "$ref": "DeviceIdentifier"
        },
        "deviceId": {
          "description": "Required. Device ID of the device.",
          "type": "string",
          "format": "int64"
        },
        "deviceMetadata": {
          "description": "Required. The metadata to update.",
          "$ref": "DeviceMetadata"
        }
      },
      "description": "Identifies metadata updates to one device.",
      "id": "UpdateMetadataArguments"
    },
    "Device": {
      "properties": {
        "configuration": {
          "description": "Not available to resellers.",
          "type": "string"
        },
        "deviceMetadata": {
          "$ref": "DeviceMetadata",
          "description": "The metadata attached to the device. Structured as key-value pairs. To learn more, read [Device metadata](https://developers.google.com/zero-touch/guides/metadata)."
        },
        "deviceIdentifier": {
          "description": "The hardware IDs that identify a manufactured device. To learn more, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers).",
          "$ref": "DeviceIdentifier"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The API resource name in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`. Assigned by the server."
        },
        "deviceId": {
          "description": "Output only. The ID of the device. Assigned by the server.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "claims": {
          "description": "Output only. The provisioning claims for a device. Devices claimed for zero-touch enrollment have a claim with the type `SECTION_TYPE_ZERO_TOUCH`. Call `partners.devices.unclaim` or `partners.devices.unclaimAsync` to remove the device from zero-touch enrollment.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "DeviceClaim"
          }
        }
      },
      "id": "Device",
      "description": "An Android or Chrome OS device registered for zero-touch enrollment.",
      "type": "object"
    },
    "UpdateDeviceMetadataRequest": {
      "properties": {
        "deviceMetadata": {
          "description": "Required. The metadata to attach to the device.",
          "$ref": "DeviceMetadata"
        }
      },
      "description": "Request to set metadata for a device.",
      "id": "UpdateDeviceMetadataRequest",
      "type": "object"
    },
    "ListCustomersResponse": {
      "id": "ListCustomersResponse",
      "type": "object",
      "properties": {
        "customers": {
          "description": "List of customers related to this reseller partner.",
          "type": "array",
          "items": {
            "$ref": "Company"
          }
        },
        "totalSize": {
          "format": "int32",
          "type": "integer",
          "description": "The total count of items in the list irrespective of pagination."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Omitted if no further results are available."
        }
      },
      "description": "Response message of all customers related to this partner."
    },
    "DevicesLongRunningOperationMetadata": {
      "description": "Tracks the status of a long-running operation to asynchronously update a batch of reseller metadata attached to devices. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
      "id": "DevicesLongRunningOperationMetadata",
      "properties": {
        "processingStatus": {
          "enum": [
            "BATCH_PROCESS_STATUS_UNSPECIFIED",
            "BATCH_PROCESS_PENDING",
            "BATCH_PROCESS_IN_PROGRESS",
            "BATCH_PROCESS_PROCESSED"
          ],
          "enumDescriptions": [
            "Invalid code. Shouldn't be used.",
            "Pending.",
            "In progress.",
            "Processed. This doesn't mean all items were processed successfully, you should check the `response` field for the result of every item."
          ],
          "description": "The processing status of the operation.",
          "type": "string"
        },
        "devicesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of metadata updates in the operation. This might be different from the number of updates in the request if the API can't parse some of the updates."
        },
        "progress": {
          "description": "The processing progress of the operation. Measured as a number from 0 to 100. A value of 10O doesn't always mean the operation completed—check for the inclusion of a `done` field.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleWorkspaceAccount": {
      "description": "A Google Workspace customer.",
      "properties": {
        "customerId": {
          "type": "string",
          "description": "Required. The customer ID."
        },
        "preProvisioningTokens": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The pre-provisioning tokens previously used to claim devices."
        }
      },
      "id": "GoogleWorkspaceAccount",
      "type": "object"
    },
    "ListVendorsResponse": {
      "description": "Response message to list vendors of the partner.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Omitted if no further results are available."
        },
        "vendors": {
          "type": "array",
          "items": {
            "$ref": "Company"
          },
          "description": "List of vendors of the reseller partner. Fields `name`, `companyId` and `companyName` are populated to the Company object."
        },
        "totalSize": {
          "type": "integer",
          "description": "The total count of items in the list irrespective of pagination.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "ListVendorsResponse"
    },
    "UpdateDeviceMetadataInBatchRequest": {
      "properties": {
        "updates": {
          "description": "Required. The list of metadata updates.",
          "items": {
            "$ref": "UpdateMetadataArguments"
          },
          "type": "array"
        }
      },
      "id": "UpdateDeviceMetadataInBatchRequest",
      "type": "object",
      "description": "Request to update device metadata in batch."
    },
    "Company": {
      "description": "A reseller, vendor, or customer in the zero-touch reseller and customer APIs.",
      "id": "Company",
      "type": "object",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "Input only. The preferred locale of the customer represented as a BCP47 language code. This field is validated on input and requests containing unsupported language codes will be rejected. Supported language codes: Arabic (ar) Chinese (Hong Kong) (zh-HK) Chinese (Simplified) (zh-CN) Chinese (Traditional) (zh-TW) Czech (cs) Danish (da) Dutch (nl) English (UK) (en-GB) English (US) (en-US) Filipino (fil) Finnish (fi) French (fr) German (de) Hebrew (iw) Hindi (hi) Hungarian (hu) Indonesian (id) Italian (it) Japanese (ja) Korean (ko) Norwegian (Bokmal) (no) Polish (pl) Portuguese (Brazil) (pt-BR) Portuguese (Portugal) (pt-PT) Russian (ru) Spanish (es) Spanish (Latin America) (es-419) Swedish (sv) Thai (th) Turkish (tr) Ukrainian (uk) Vietnamese (vi)"
        },
        "companyId": {
          "readOnly": true,
          "description": "Output only. The ID of the company. Assigned by the server.",
          "format": "int64",
          "type": "string"
        },
        "ownerEmails": {
          "description": "Required. Input only. Email address of customer's users in the owner role. At least one `owner_email` is required. Owners share the same access as admins but can also add, delete, and edit your organization's portal users.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "skipWelcomeEmail": {
          "type": "boolean",
          "description": "Input only. If set to true, welcome email will not be sent to the customer. It is recommended to skip the welcome email if devices will be claimed with additional DEVICE_PROTECTION service, as the customer will receive separate emails at device claim time. This field is ignored if this is not a Zero-touch customer."
        },
        "adminEmails": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Email address of customer's users in the admin role. Each email address must be associated with a Google Account."
        },
        "companyName": {
          "description": "Required. The name of the company. For example _XYZ Corp_. Displayed to the company's employees in the zero-touch enrollment portal.",
          "type": "string"
        },
        "termsStatus": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Whether any user from the company has accepted the latest Terms of Service (ToS). See TermsStatus.",
          "enumDescriptions": [
            "Default value. This value should never be set if the enum is present.",
            "None of the company's users have accepted the ToS.",
            "One (or more) of the company's users has accepted the ToS.",
            "None of the company's users has accepted the current ToS but at least one user accepted a previous ToS."
          ],
          "enum": [
            "TERMS_STATUS_UNSPECIFIED",
            "TERMS_STATUS_NOT_ACCEPTED",
            "TERMS_STATUS_ACCEPTED",
            "TERMS_STATUS_STALE"
          ]
        },
        "name": {
          "description": "Output only. The API resource name of the company. The resource name is one of the following formats: * `partners/[PARTNER_ID]/customers/[CUSTOMER_ID]` * `partners/[PARTNER_ID]/vendors/[VENDOR_ID]` * `partners/[PARTNER_ID]/vendors/[VENDOR_ID]/customers/[CUSTOMER_ID]` Assigned by the server.",
          "type": "string",
          "readOnly": true
        },
        "googleWorkspaceAccount": {
          "$ref": "GoogleWorkspaceAccount",
          "description": "Output only. The Google Workspace account associated with this customer. Only used for customer Companies.",
          "readOnly": true
        }
      }
    },
    "CustomerRemoveConfigurationRequest": {
      "type": "object",
      "description": "Request message for customer to remove the configuration from device.",
      "id": "CustomerRemoveConfigurationRequest",
      "properties": {
        "device": {
          "description": "Required. The device to remove the configuration from. There are custom validations in RemoveConfigurationRequestValidator",
          "$ref": "DeviceReference"
        }
      }
    },
    "PartnerUnclaim": {
      "id": "PartnerUnclaim",
      "type": "object",
      "properties": {
        "sectionType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "description": "Required. The section type of the device's provisioning record.",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ]
        },
        "deviceId": {
          "description": "Required. Device ID of the device.",
          "type": "string",
          "format": "int64"
        },
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. Device identifier of the device."
        },
        "vacationModeExpireTime": {
          "description": "Optional. The expiration time of the vacation unlock.",
          "format": "google-datetime",
          "type": "string"
        },
        "vacationModeDays": {
          "description": "Optional. The duration of the vacation unlock starting from when the request is processed. (1 day is treated as 24 hours)",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Identifies one unclaim request."
    },
    "DeviceIdentifier": {
      "description": "Encapsulates hardware and product IDs to identify a manufactured device. To understand requirements on identifier sets, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers).",
      "properties": {
        "manufacturer": {
          "description": "The device manufacturer’s name. Matches the device's built-in value returned from `android.os.Build.MANUFACTURER`. Allowed values are listed in [Android manufacturers](/zero-touch/resources/manufacturer-names#manufacturers-names).",
          "type": "string"
        },
        "deviceType": {
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "DEVICE_TYPE_ANDROID",
            "DEVICE_TYPE_CHROME_OS"
          ],
          "enumDescriptions": [
            "Device type is not specified.",
            "Android device",
            "Chrome OS device"
          ],
          "description": "The type of the device",
          "type": "string"
        },
        "serialNumber": {
          "description": "The manufacturer's serial number for the device. This value might not be unique across different device models.",
          "type": "string"
        },
        "chromeOsAttestedDeviceId": {
          "type": "string",
          "description": "An identifier provided by OEMs, carried through the production and sales process. Only applicable to Chrome OS devices."
        },
        "meid": {
          "type": "string",
          "description": "The device’s MEID number."
        },
        "model": {
          "type": "string",
          "description": "The device model's name. Allowed values are listed in [Android models](/zero-touch/resources/manufacturer-names#model-names) and [Chrome OS models](https://support.google.com/chrome/a/answer/10130175#identify_compatible)."
        },
        "imei": {
          "type": "string",
          "description": "The device’s IMEI number. Validated on input."
        }
      },
      "type": "object",
      "id": "DeviceIdentifier"
    },
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        }
      }
    },
    "UnclaimDeviceRequest": {
      "description": "Request message to unclaim a device.",
      "type": "object",
      "id": "UnclaimDeviceRequest",
      "properties": {
        "deviceId": {
          "format": "int64",
          "description": "Required. The device ID returned by `ClaimDevice`.",
          "type": "string"
        },
        "sectionType": {
          "type": "string",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "description": "Required. The section type of the device's provisioning record.",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ]
        },
        "vacationModeExpireTime": {
          "description": "The expiration time of the vacation unlock.",
          "format": "google-datetime",
          "type": "string"
        },
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. The device identifier you used when you claimed this device."
        },
        "vacationModeDays": {
          "description": "The duration of the vacation unlock starting from when the request is processed. (1 day is treated as 24 hours)",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GetDeviceSimLockStateRequest": {
      "type": "object",
      "id": "GetDeviceSimLockStateRequest",
      "description": "Request to get a device's SIM lock status.",
      "properties": {
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. Required. The device identifier to search for."
        }
      }
    },
    "ListVendorCustomersResponse": {
      "description": "Response message to list customers of the vendor.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Omitted if no further results are available."
        },
        "totalSize": {
          "type": "integer",
          "description": "The total count of items in the list irrespective of pagination.",
          "format": "int32"
        },
        "customers": {
          "type": "array",
          "description": "List of customers of the vendor.",
          "items": {
            "$ref": "Company"
          }
        }
      },
      "id": "ListVendorCustomersResponse",
      "type": "object"
    },
    "OperationPerDevice": {
      "type": "object",
      "id": "OperationPerDevice",
      "properties": {
        "unclaim": {
          "$ref": "PartnerUnclaim",
          "description": "A copy of the original device-unclaim request received by the server."
        },
        "result": {
          "$ref": "PerDeviceStatusInBatch",
          "description": "The processing result for each device."
        },
        "updateMetadata": {
          "$ref": "UpdateMetadataArguments",
          "description": "A copy of the original metadata-update request received by the server."
        },
        "claim": {
          "$ref": "PartnerClaim",
          "description": "A copy of the original device-claim request received by the server."
        }
      },
      "description": "A task for each device in the operation. Corresponds to each device change in the request."
    },
    "Dpc": {
      "properties": {
        "dpcName": {
          "readOnly": true,
          "description": "Output only. The title of the DPC app in Google Play. For example, _Google Apps Device Policy_. Useful in an application's user interface.",
          "type": "string"
        },
        "packageName": {
          "description": "Output only. The DPC's Android application ID that looks like a Java package name. Zero-touch enrollment installs the DPC app onto a device using this identifier.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/dpcs/[DPC_ID]`. Assigned by the server. To maintain a reference to a DPC across customer accounts, persist and match the last path component (`DPC_ID`).",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "An EMM's DPC ([device policy controller](http://developer.android.com/work/dpc/build-dpc.html)). Zero-touch enrollment installs a DPC (listed in the `Configuration`) on a device to maintain the customer's mobile policies. All the DPCs listed by the API support zero-touch enrollment and are available in Google Play.",
      "id": "Dpc",
      "type": "object"
    },
    "CustomerListConfigurationsResponse": {
      "description": "Response message of customer's listing configuration.",
      "properties": {
        "configurations": {
          "items": {
            "$ref": "Configuration"
          },
          "description": "The configurations.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "CustomerListConfigurationsResponse"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "This field will contain a `DevicesLongRunningOperationMetadata` object if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "This field will contain a `DevicesLongRunningOperationResponse` object if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "$ref": "Status",
          "description": "This field will always be not set if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`. In this case, error information for each device is set in `response.perDeviceStatus.result.status`."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      },
      "type": "object"
    },
    "DeviceReference": {
      "type": "object",
      "properties": {
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "The hardware IDs of the device."
        },
        "deviceId": {
          "description": "The ID of the device.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "DeviceReference",
      "description": "A `DeviceReference` is an API abstraction that lets you supply a _device_ argument to a method using one of the following identifier types: * A numeric API resource ID. * Real-world hardware IDs, such as IMEI number, belonging to the manufactured device. Methods that operate on devices take a `DeviceReference` as a parameter type because it's more flexible for the caller. To learn more about device identifiers, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers)."
    },
    "DevicesLongRunningOperationResponse": {
      "description": "Tracks the status of a long-running operation to claim, unclaim, or attach metadata to devices. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
      "type": "object",
      "properties": {
        "perDeviceStatus": {
          "description": "The processing status for each device in the operation. One `PerDeviceStatus` per device. The list order matches the items in the original request.",
          "items": {
            "$ref": "OperationPerDevice"
          },
          "type": "array"
        },
        "successCount": {
          "format": "int32",
          "type": "integer",
          "description": "A summary of how many items in the operation the server processed successfully. Updated as the operation progresses."
        }
      },
      "id": "DevicesLongRunningOperationResponse"
    },
    "FindDevicesByOwnerResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token used to access the next page of results. Omitted if no further results are available.",
          "type": "string"
        },
        "totalSize": {
          "description": "The total count of items in the list irrespective of pagination.",
          "format": "int32",
          "type": "integer"
        },
        "devices": {
          "type": "array",
          "items": {
            "$ref": "Device"
          },
          "description": "The customer's devices."
        }
      },
      "id": "FindDevicesByOwnerResponse",
      "description": "Response containing found devices."
    },
    "CustomerApplyConfigurationRequest": {
      "type": "object",
      "description": "Request message for customer to assign a configuration to device.",
      "properties": {
        "device": {
          "description": "Required. The device the configuration is applied to. There are custom validations in ApplyConfigurationRequestValidator",
          "$ref": "DeviceReference"
        },
        "configuration": {
          "type": "string",
          "description": "Required. The configuration applied to the device in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`."
        }
      },
      "id": "CustomerApplyConfigurationRequest"
    },
    "CustomerUnclaimDeviceRequest": {
      "type": "object",
      "description": "Request message for customer to unclaim a device.",
      "properties": {
        "device": {
          "description": "Required. The device to unclaim. There are custom validations in UnclaimDeviceRequestValidator.",
          "$ref": "DeviceReference"
        }
      },
      "id": "CustomerUnclaimDeviceRequest"
    },
    "FindDevicesByDeviceIdentifierRequest": {
      "id": "FindDevicesByDeviceIdentifierRequest",
      "description": "Request to find devices.",
      "type": "object",
      "properties": {
        "pageToken": {
          "type": "string",
          "description": "A token specifying which result page to return."
        },
        "deviceIdentifier": {
          "description": "Required. Required. The device identifier to search for.",
          "$ref": "DeviceIdentifier"
        },
        "limit": {
          "format": "int64",
          "type": "string",
          "description": "Required. The maximum number of devices to show in a page of results. Must be between 1 and 100 inclusive."
        }
      }
    },
    "CustomerListDpcsResponse": {
      "id": "CustomerListDpcsResponse",
      "type": "object",
      "description": "Response message of customer's listing DPCs.",
      "properties": {
        "dpcs": {
          "description": "The list of DPCs available to the customer that support zero-touch enrollment.",
          "type": "array",
          "items": {
            "$ref": "Dpc"
          }
        }
      }
    },
    "CustomerListCustomersResponse": {
      "type": "object",
      "id": "CustomerListCustomersResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token used to access the next page of results. Omitted if no further results are available.",
          "type": "string"
        },
        "customers": {
          "description": "The customer accounts the calling user is a member of.",
          "items": {
            "$ref": "Company"
          },
          "type": "array"
        }
      },
      "description": "Response message for listing my customers."
    }
  },
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/zero-touch/",
  "kind": "discovery#restDescription",
  "basePath": "",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "resources": {
    "partners": {
      "resources": {
        "devices": {
          "methods": {
            "updateMetadataAsync": {
              "parameters": {
                "partnerId": {
                  "location": "path",
                  "required": true,
                  "format": "int64",
                  "description": "Required. The reseller partner ID.",
                  "type": "string",
                  "pattern": "^[^/]+$"
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "path": "v1/partners/{+partnerId}/devices:updateMetadataAsync",
              "request": {
                "$ref": "UpdateDeviceMetadataInBatchRequest"
              },
              "id": "androiddeviceprovisioning.partners.devices.updateMetadataAsync",
              "flatPath": "v1/partners/{partnersId}/devices:updateMetadataAsync",
              "parameterOrder": [
                "partnerId"
              ],
              "description": "Updates the reseller metadata attached to a batch of devices. This method updates devices asynchronously and returns an `Operation` that can be used to track progress. Read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations). Android Devices only.",
              "httpMethod": "POST"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "id": "androiddeviceprovisioning.partners.devices.get",
              "parameters": {
                "name": {
                  "pattern": "^partners/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "description": "Required. The device API resource name in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`.",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v1/partners/{partnersId}/devices/{devicesId}",
              "description": "Gets a device.",
              "response": {
                "$ref": "Device"
              }
            },
            "findByIdentifier": {
              "parameters": {
                "partnerId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The ID of the reseller partner.",
                  "format": "int64",
                  "pattern": "^[^/]+$"
                }
              },
              "description": "Finds devices by hardware identifiers, such as IMEI.",
              "parameterOrder": [
                "partnerId"
              ],
              "request": {
                "$ref": "FindDevicesByDeviceIdentifierRequest"
              },
              "path": "v1/partners/{+partnerId}/devices:findByIdentifier",
              "flatPath": "v1/partners/{partnersId}/devices:findByIdentifier",
              "response": {
                "$ref": "FindDevicesByDeviceIdentifierResponse"
              },
              "id": "androiddeviceprovisioning.partners.devices.findByIdentifier",
              "httpMethod": "POST"
            },
            "claimAsync": {
              "description": "Claims a batch of devices for a customer asynchronously. Adds the devices to zero-touch enrollment. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
              "request": {
                "$ref": "ClaimDevicesRequest"
              },
              "id": "androiddeviceprovisioning.partners.devices.claimAsync",
              "path": "v1/partners/{+partnerId}/devices:claimAsync",
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "partnerId"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/partners/{partnersId}/devices:claimAsync",
              "parameters": {
                "partnerId": {
                  "required": true,
                  "format": "int64",
                  "type": "string",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the reseller partner."
                }
              }
            },
            "unclaimAsync": {
              "path": "v1/partners/{+partnerId}/devices:unclaimAsync",
              "httpMethod": "POST",
              "flatPath": "v1/partners/{partnersId}/devices:unclaimAsync",
              "description": "Unclaims a batch of devices for a customer asynchronously. Removes the devices from zero-touch enrollment. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
              "parameters": {
                "partnerId": {
                  "description": "Required. The reseller partner ID.",
                  "type": "string",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "partnerId"
              ],
              "id": "androiddeviceprovisioning.partners.devices.unclaimAsync",
              "request": {
                "$ref": "UnclaimDevicesRequest"
              }
            },
            "getSimLockState": {
              "parameters": {
                "partnerId": {
                  "format": "int64",
                  "description": "Required. The ID of the partner.",
                  "type": "string",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "partnerId"
              ],
              "flatPath": "v1/partners/{partnersId}/devices:getSimLockState",
              "description": "Gets a device's SIM lock state.",
              "httpMethod": "POST",
              "response": {
                "$ref": "GetDeviceSimLockStateResponse"
              },
              "id": "androiddeviceprovisioning.partners.devices.getSimLockState",
              "path": "v1/partners/{+partnerId}/devices:getSimLockState",
              "request": {
                "$ref": "GetDeviceSimLockStateRequest"
              }
            },
            "findByOwner": {
              "parameters": {
                "partnerId": {
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the reseller partner.",
                  "format": "int64",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "FindDevicesByOwnerResponse"
              },
              "path": "v1/partners/{+partnerId}/devices:findByOwner",
              "description": "Finds devices claimed for customers. The results only contain devices registered to the reseller that's identified by the `partnerId` argument. The customer's devices purchased from other resellers don't appear in the results.",
              "flatPath": "v1/partners/{partnersId}/devices:findByOwner",
              "id": "androiddeviceprovisioning.partners.devices.findByOwner",
              "httpMethod": "POST",
              "request": {
                "$ref": "FindDevicesByOwnerRequest"
              },
              "parameterOrder": [
                "partnerId"
              ]
            },
            "unclaim": {
              "response": {
                "$ref": "Empty"
              },
              "description": "Unclaims a device from a customer and removes it from zero-touch enrollment.",
              "request": {
                "$ref": "UnclaimDeviceRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "partnerId": {
                  "required": true,
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the reseller partner.",
                  "type": "string",
                  "format": "int64",
                  "location": "path"
                }
              },
              "flatPath": "v1/partners/{partnersId}/devices:unclaim",
              "id": "androiddeviceprovisioning.partners.devices.unclaim",
              "path": "v1/partners/{+partnerId}/devices:unclaim",
              "parameterOrder": [
                "partnerId"
              ]
            },
            "metadata": {
              "description": "Updates reseller metadata associated with the device. Android devices only.",
              "id": "androiddeviceprovisioning.partners.devices.metadata",
              "httpMethod": "POST",
              "response": {
                "$ref": "DeviceMetadata"
              },
              "request": {
                "$ref": "UpdateDeviceMetadataRequest"
              },
              "flatPath": "v1/partners/{partnersId}/devices/{devicesId}/metadata",
              "parameterOrder": [
                "metadataOwnerId",
                "deviceId"
              ],
              "path": "v1/partners/{+metadataOwnerId}/devices/{+deviceId}/metadata",
              "parameters": {
                "deviceId": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the device.",
                  "format": "int64",
                  "required": true
                },
                "metadataOwnerId": {
                  "pattern": "^[^/]+$",
                  "description": "Required. The owner of the newly set metadata. Set this to the partner ID.",
                  "format": "int64",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "claim": {
              "httpMethod": "POST",
              "description": "Claims a device for a customer and adds it to zero-touch enrollment. If the device is already claimed by another customer, the call returns an error.",
              "parameterOrder": [
                "partnerId"
              ],
              "id": "androiddeviceprovisioning.partners.devices.claim",
              "flatPath": "v1/partners/{partnersId}/devices:claim",
              "request": {
                "$ref": "ClaimDeviceRequest"
              },
              "parameters": {
                "partnerId": {
                  "description": "Required. The ID of the reseller partner.",
                  "format": "int64",
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "ClaimDeviceResponse"
              },
              "path": "v1/partners/{+partnerId}/devices:claim"
            }
          }
        },
        "vendors": {
          "resources": {
            "customers": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/customers",
                  "description": "Lists the customers of the vendor.",
                  "response": {
                    "$ref": "ListVendorCustomersResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of results to be returned.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results returned by the server.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name in the format `partners/[PARTNER_ID]/vendors/[VENDOR_ID]`.",
                      "required": true,
                      "pattern": "^partners/[^/]+/vendors/[^/]+$"
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/partners/{partnersId}/vendors/{vendorsId}/customers",
                  "id": "androiddeviceprovisioning.partners.vendors.customers.list"
                }
              }
            }
          },
          "methods": {
            "list": {
              "response": {
                "$ref": "ListVendorsResponse"
              },
              "id": "androiddeviceprovisioning.partners.vendors.list",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists the vendors of the partner.",
              "path": "v1/{+parent}/vendors",
              "httpMethod": "GET",
              "flatPath": "v1/partners/{partnersId}/vendors",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^partners/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name in the format `partners/[PARTNER_ID]`."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A token identifying a page of results returned by the server."
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of results to be returned.",
                  "location": "query",
                  "format": "int32"
                }
              }
            }
          }
        },
        "customers": {
          "methods": {
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "id": "androiddeviceprovisioning.partners.customers.create",
              "description": "Creates a customer for zero-touch enrollment. After the method returns successfully, admin and owner roles can manage devices and EMM configs by calling API methods or using their zero-touch enrollment portal. The customer receives an email that welcomes them to zero-touch enrollment and explains how to sign into the portal.",
              "path": "v1/{+parent}/customers",
              "request": {
                "$ref": "CreateCustomerRequest"
              },
              "response": {
                "$ref": "Company"
              },
              "parameters": {
                "parent": {
                  "pattern": "^partners/[^/]+$",
                  "description": "Required. The parent resource ID in the format `partners/[PARTNER_ID]` that identifies the reseller.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/partners/{partnersId}/customers",
              "httpMethod": "POST"
            },
            "list": {
              "description": "Lists the customers that are enrolled to the reseller identified by the `partnerId` argument. This list includes customers that the reseller created and customers that enrolled themselves using the portal.",
              "id": "androiddeviceprovisioning.partners.customers.list",
              "parameters": {
                "partnerId": {
                  "format": "int64",
                  "description": "Required. The ID of the reseller partner.",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^[^/]+$"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to be returned. If not specified or 0, all the records are returned."
                },
                "pageToken": {
                  "description": "A token identifying a page of results returned by the server.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "partnerId"
              ],
              "flatPath": "v1/partners/{partnersId}/customers",
              "response": {
                "$ref": "ListCustomersResponse"
              },
              "httpMethod": "GET",
              "path": "v1/partners/{+partnerId}/customers"
            }
          }
        }
      }
    },
    "customers": {
      "resources": {
        "configurations": {
          "methods": {
            "list": {
              "response": {
                "$ref": "CustomerListConfigurationsResponse"
              },
              "flatPath": "v1/customers/{customersId}/configurations",
              "id": "androiddeviceprovisioning.customers.configurations.list",
              "parameters": {
                "parent": {
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The customer that manages the listed configurations. An API resource name in the format `customers/[CUSTOMER_ID]`."
                }
              },
              "httpMethod": "GET",
              "path": "v1/{+parent}/configurations",
              "description": "Lists a customer's configurations.",
              "parameterOrder": [
                "parent"
              ]
            },
            "patch": {
              "httpMethod": "PATCH",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. Assigned by the server.",
                  "location": "path",
                  "pattern": "^customers/[^/]+/configurations/[^/]+$",
                  "required": true
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Required. The field mask applied to the target `Configuration` before updating the fields. To learn more about using field masks, read [FieldMask](/protocol-buffers/docs/reference/google.protobuf#fieldmask) in the Protocol Buffers documentation.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "Configuration"
              },
              "request": {
                "$ref": "Configuration"
              },
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a configuration's field values.",
              "id": "androiddeviceprovisioning.customers.configurations.patch"
            },
            "create": {
              "httpMethod": "POST",
              "description": "Creates a new configuration. Once created, a customer can apply the configuration to devices.",
              "id": "androiddeviceprovisioning.customers.configurations.create",
              "request": {
                "$ref": "Configuration"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The customer that manages the configuration. An API resource name in the format `customers/[CUSTOMER_ID]`. This field has custom validation in CreateConfigurationRequestValidator",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/configurations",
              "response": {
                "$ref": "Configuration"
              },
              "flatPath": "v1/customers/{customersId}/configurations"
            },
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The configuration to get. An API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`.",
                  "pattern": "^customers/[^/]+/configurations/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
              "description": "Gets the details of a configuration.",
              "id": "androiddeviceprovisioning.customers.configurations.get",
              "path": "v1/{+name}",
              "response": {
                "$ref": "Configuration"
              }
            },
            "delete": {
              "description": "Deletes an unused configuration. The API call fails if the customer has devices with the configuration applied.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "id": "androiddeviceprovisioning.customers.configurations.delete",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The configuration to delete. An API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. If the configuration is applied to any devices, the API call fails.",
                  "pattern": "^customers/[^/]+/configurations/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}"
            }
          }
        },
        "devices": {
          "methods": {
            "removeConfiguration": {
              "flatPath": "v1/customers/{customersId}/devices:removeConfiguration",
              "request": {
                "$ref": "CustomerRemoveConfigurationRequest"
              },
              "description": "Removes a configuration from device.",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The customer managing the device in the format `customers/[CUSTOMER_ID]`.",
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "path": "v1/{+parent}/devices:removeConfiguration",
              "parameterOrder": [
                "parent"
              ],
              "id": "androiddeviceprovisioning.customers.devices.removeConfiguration",
              "response": {
                "$ref": "Empty"
              }
            },
            "applyConfiguration": {
              "httpMethod": "POST",
              "description": "Applies a Configuration to the device to register the device for zero-touch enrollment. After applying a configuration to a device, the device automatically provisions itself on first boot, or next factory reset.",
              "id": "androiddeviceprovisioning.customers.devices.applyConfiguration",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "CustomerApplyConfigurationRequest"
              },
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The customer managing the device. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1/{+parent}/devices:applyConfiguration",
              "flatPath": "v1/customers/{customersId}/devices:applyConfiguration"
            },
            "list": {
              "flatPath": "v1/customers/{customersId}/devices",
              "id": "androiddeviceprovisioning.customers.devices.list",
              "path": "v1/{+parent}/devices",
              "response": {
                "$ref": "CustomerListDevicesResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists a customer's devices.",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A token specifying which result page to return.",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int64",
                  "location": "query",
                  "description": "The maximum number of devices to show in a page of results. Must be between 1 and 100 inclusive.",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. The customer managing the devices. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "required": true
                }
              }
            },
            "unclaim": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "description": "Required. The customer managing the device. An API resource name in the format `customers/[CUSTOMER_ID]`."
                }
              },
              "description": "Unclaims a device from a customer and removes it from zero-touch enrollment. After removing a device, a customer must contact their reseller to register the device into zero-touch enrollment again.",
              "path": "v1/{+parent}/devices:unclaim",
              "response": {
                "$ref": "Empty"
              },
              "request": {
                "$ref": "CustomerUnclaimDeviceRequest"
              },
              "id": "androiddeviceprovisioning.customers.devices.unclaim",
              "flatPath": "v1/customers/{customersId}/devices:unclaim",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "id": "androiddeviceprovisioning.customers.devices.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "Device"
              },
              "description": "Gets the details of a device.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "description": "Required. The device to get. An API resource name in the format `customers/[CUSTOMER_ID]/devices/[DEVICE_ID]`.",
                  "location": "path"
                }
              },
              "path": "v1/{+name}",
              "flatPath": "v1/customers/{customersId}/devices/{devicesId}"
            }
          }
        },
        "dpcs": {
          "methods": {
            "list": {
              "description": "Lists the DPCs (device policy controllers) that support zero-touch enrollment.",
              "flatPath": "v1/customers/{customersId}/dpcs",
              "httpMethod": "GET",
              "path": "v1/{+parent}/dpcs",
              "parameters": {
                "parent": {
                  "description": "Required. The customer that can use the DPCs in configurations. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^customers/[^/]+$"
                }
              },
              "id": "androiddeviceprovisioning.customers.dpcs.list",
              "response": {
                "$ref": "CustomerListDpcsResponse"
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        }
      },
      "methods": {
        "list": {
          "response": {
            "$ref": "CustomerListCustomersResponse"
          },
          "parameters": {
            "pageToken": {
              "description": "A token specifying which result page to return. This field has custom validations in ListCustomersRequestValidator",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "description": "The maximum number of customers to show in a page of results. A number between 1 and 100 (inclusive).",
              "type": "integer",
              "format": "int32"
            }
          },
          "httpMethod": "GET",
          "flatPath": "v1/customers",
          "path": "v1/customers",
          "description": "Lists the user's customer accounts.",
          "parameterOrder": [],
          "id": "androiddeviceprovisioning.customers.list"
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^operations/.*$",
              "description": "The name of the operation resource.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "id": "androiddeviceprovisioning.operations.get",
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/{+name}",
          "flatPath": "v1/operations/{operationsId}"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "name": "androiddeviceprovisioning",
  "version": "v1"
}
