{
  "protocol": "rest",
  "mtlsRootUrl": "https://apigee.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "version_module": true,
  "revision": "20210604",
  "name": "apigee",
  "title": "Apigee API",
  "baseUrl": "https://apigee.googleapis.com/",
  "discoveryVersion": "v1",
  "rootUrl": "https://apigee.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "type": "string"
    }
  },
  "basePath": "",
  "schemas": {
    "GoogleCloudApigeeV1DeleteCustomReportResponse": {
      "type": "object",
      "id": "GoogleCloudApigeeV1DeleteCustomReportResponse",
      "properties": {
        "message": {
          "type": "string",
          "description": "The response contains only a message field."
        }
      }
    },
    "GoogleCloudApigeeV1EnvironmentGroupConfig": {
      "properties": {
        "revisionId": {
          "description": "Revision id that defines the ordering of the EnvironmentGroupConfig resource. The higher the revision, the more recently the configuration was deployed.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "Name of the environment group in the following format: `organizations/{org}/envgroups/{envgroup}`.",
          "type": "string"
        },
        "hostnames": {
          "description": "Host names for the environment group.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "routingRules": {
          "type": "array",
          "description": "Ordered list of routing rules defining how traffic to this environment group's hostnames should be routed to different environments.",
          "items": {
            "$ref": "GoogleCloudApigeeV1RoutingRule"
          }
        },
        "uid": {
          "type": "string",
          "description": "A unique id for the environment group config that will only change if the environment group is deleted and recreated."
        }
      },
      "id": "GoogleCloudApigeeV1EnvironmentGroupConfig",
      "type": "object",
      "description": "EnvironmentGroupConfig is a revisioned snapshot of an EnvironmentGroup and its associated routing rules."
    },
    "GoogleCloudApigeeV1DebugSessionTransaction": {
      "properties": {
        "point": {
          "description": "List of debug data collected by runtime plane at various defined points in the flow.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Point"
          },
          "type": "array"
        },
        "completed": {
          "type": "boolean",
          "description": "Flag indicating whether a transaction is completed or not"
        }
      },
      "id": "GoogleCloudApigeeV1DebugSessionTransaction",
      "description": "A transaction contains all of the debug information of the entire message flow of an API call processed by the runtime plane. The information is collected and recorded at critical points of the message flow in the runtime apiproxy.",
      "type": "object"
    },
    "GoogleCloudApigeeV1TargetServer": {
      "properties": {
        "host": {
          "type": "string",
          "description": "Required. The host name this target connects to. Value must be a valid hostname as described by RFC-1123."
        },
        "protocol": {
          "enumDescriptions": [
            "UNSPECIFIED defaults to HTTP for backwards compatibility.",
            "The TargetServer uses HTTP.",
            "The TargetServer uses GRPC."
          ],
          "type": "string",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "HTTP",
            "GRPC"
          ],
          "description": "Immutable. The protocol used by this TargetServer."
        },
        "description": {
          "description": "Optional. A human-readable description of this TargetServer.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The resource id of this target server. Values must match the regular expression "
        },
        "sSLInfo": {
          "description": "Optional. Specifies TLS configuration info for this TargetServer. The JSON name is `sSLInfo` for legacy/backwards compatibility reasons -- Edge originally supported SSL, and the name is still used for TLS configuration.",
          "$ref": "GoogleCloudApigeeV1TlsInfo"
        },
        "port": {
          "description": "Required. The port number this target connects to on the given host. Value must be between 1 and 65535, inclusive.",
          "type": "integer",
          "format": "int32"
        },
        "isEnabled": {
          "description": "Optional. Enabling/disabling a TargetServer is useful when TargetServers are used in load balancing configurations, and one or more TargetServers need to taken out of rotation periodically. Defaults to true.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudApigeeV1TargetServer",
      "type": "object",
      "description": "TargetServer configuration. TargetServers are used to decouple a proxy's TargetEndpoint HTTPTargetConnections from concrete URLs for backend services."
    },
    "GoogleCloudApigeeV1ReportProperty": {
      "properties": {
        "property": {
          "description": "name of the property",
          "type": "string"
        },
        "value": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "description": "property values"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1ReportProperty"
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "id": "GoogleProtobufEmpty",
      "properties": {}
    },
    "GoogleCloudApigeeV1FlowHookConfig": {
      "type": "object",
      "id": "GoogleCloudApigeeV1FlowHookConfig",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the flow hook in the following format: `organizations/{org}/environments/{env}/flowhooks/{point}`. Valid `point` values include: `PreProxyFlowHook`, `PostProxyFlowHook`, `PreTargetFlowHook`, and `PostTargetFlowHook`"
        },
        "sharedFlowName": {
          "type": "string",
          "description": "Name of the shared flow to invoke in the following format: `organizations/{org}/sharedflows/{sharedflow}`"
        },
        "continueOnError": {
          "type": "boolean",
          "description": "Flag that specifies whether the flow should abort after an error in the flow hook. Defaults to `true` (continue on error)."
        }
      }
    },
    "GoogleCloudApigeeV1Properties": {
      "properties": {
        "property": {
          "type": "array",
          "description": "List of all properties in the object",
          "items": {
            "$ref": "GoogleCloudApigeeV1Property"
          }
        }
      },
      "id": "GoogleCloudApigeeV1Properties",
      "type": "object",
      "description": "Message for compatibility with legacy Edge specification for Java Properties object in JSON."
    },
    "GoogleCloudApigeeV1ListEnvironmentGroupsResponse": {
      "type": "object",
      "id": "GoogleCloudApigeeV1ListEnvironmentGroupsResponse",
      "description": "Response for ListEnvironmentGroups.",
      "properties": {
        "environmentGroups": {
          "items": {
            "$ref": "GoogleCloudApigeeV1EnvironmentGroup"
          },
          "type": "array",
          "description": "EnvironmentGroups in the specified organization."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token that you can include in a ListEnvironmentGroups request to retrieve the next page. If omitted, no subsequent pages exist."
        }
      }
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "GoogleCloudApigeeV1OperationMetadata": {
      "type": "object",
      "properties": {
        "targetResourceName": {
          "description": "Name of the resource for which the operation is operating on.",
          "type": "string"
        },
        "progress": {
          "description": "Progress of the operation.",
          "$ref": "GoogleCloudApigeeV1OperationMetadataProgress"
        },
        "operationType": {
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "INSERT",
            "DELETE",
            "UPDATE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "FINISHED"
          ]
        }
      },
      "id": "GoogleCloudApigeeV1OperationMetadata",
      "description": "Metadata describing an Operation."
    },
    "GoogleCloudApigeeV1DataCollector": {
      "description": "Data collector configuration.",
      "type": "object",
      "properties": {
        "description": {
          "description": "A description of the data collector.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "ID of the data collector. Must begin with `dc_`."
        },
        "type": {
          "enumDescriptions": [
            "For future compatibility.",
            "For integer values.",
            "For float values.",
            "For string values.",
            "For boolean values.",
            "For datetime values."
          ],
          "type": "string",
          "description": "Immutable. The type of data this data collector will collect.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "INTEGER",
            "FLOAT",
            "STRING",
            "BOOLEAN",
            "DATETIME"
          ]
        },
        "createdAt": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which the data collector was created in milliseconds since the epoch.",
          "format": "int64"
        },
        "lastModifiedAt": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The time at which the Data Collector was last updated in milliseconds since the epoch.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudApigeeV1DataCollector"
    },
    "GoogleCloudApigeeV1IntegrationConfig": {
      "id": "GoogleCloudApigeeV1IntegrationConfig",
      "type": "object",
      "description": "Configuration for the Integration add-on.",
      "properties": {
        "enabled": {
          "description": "Flag that specifies whether the Integration add-on is enabled.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudApigeeV1ResourceConfig": {
      "properties": {
        "name": {
          "description": "Resource name in the following format: `organizations/{org}/environments/{env}/resourcefiles/{type}/{file}/revisions/{rev}` Only environment-scoped resource files are supported.",
          "type": "string"
        },
        "location": {
          "description": "Location of the resource as a URI.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1ResourceConfig"
    },
    "GoogleCloudApigeeV1TraceConfigOverride": {
      "description": "A representation of a configuration override.",
      "id": "GoogleCloudApigeeV1TraceConfigOverride",
      "type": "object",
      "properties": {
        "name": {
          "description": "ID of the trace configuration override specified as a system-generated UUID.",
          "type": "string"
        },
        "apiProxy": {
          "type": "string",
          "description": "ID of the API proxy that will have its trace configuration overridden."
        },
        "samplingConfig": {
          "$ref": "GoogleCloudApigeeV1TraceSamplingConfig",
          "description": "Trace configuration to override."
        }
      }
    },
    "GoogleCloudApigeeV1SchemaSchemaProperty": {
      "properties": {
        "createTime": {
          "description": "Time the field was created in RFC3339 string form. For example: `2016-02-26T10:23:09.592Z`.",
          "type": "string"
        },
        "type": {
          "description": "Data type of the field.",
          "type": "string"
        },
        "custom": {
          "type": "string",
          "description": "Flag that specifies whether the field is standard in the dataset or a custom field created by the customer. `true` indicates that it is a custom field."
        }
      },
      "id": "GoogleCloudApigeeV1SchemaSchemaProperty",
      "description": "Properties for the schema field.",
      "type": "object"
    },
    "GoogleCloudApigeeV1TlsInfoConfig": {
      "type": "object",
      "properties": {
        "trustStore": {
          "description": "Name of the keystore or keystore reference containing trusted certificates for the server in the following format: `organizations/{org}/environments/{env}/keystores/{keystore}` or `organizations/{org}/environments/{env}/references/{reference}`",
          "type": "string"
        },
        "commonName": {
          "description": "Common name to validate the target server against.",
          "$ref": "GoogleCloudApigeeV1CommonNameConfig"
        },
        "clientAuthEnabled": {
          "description": "Flag that specifies whether client-side authentication is enabled for the target server. Enables two-way TLS.",
          "type": "boolean"
        },
        "enabled": {
          "type": "boolean",
          "description": "Flag that specifies whether one-way TLS is enabled. Set to `true` to enable one-way TLS."
        },
        "ciphers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of ciphers that are granted access."
        },
        "ignoreValidationErrors": {
          "type": "boolean",
          "description": "Flag that specifies whether to ignore TLS certificate validation errors. Set to `true` to ignore errors."
        },
        "protocols": {
          "items": {
            "type": "string"
          },
          "description": "List of TLS protocols that are granted access.",
          "type": "array"
        },
        "keyAlias": {
          "type": "string",
          "description": "Name of the alias used for client-side authentication in the following format: `organizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}`"
        },
        "keyAliasReference": {
          "$ref": "GoogleCloudApigeeV1KeyAliasReference",
          "description": "Reference name and alias pair to use for client-side authentication."
        }
      },
      "id": "GoogleCloudApigeeV1TlsInfoConfig"
    },
    "GoogleRpcPreconditionFailure": {
      "type": "object",
      "id": "GoogleRpcPreconditionFailure",
      "properties": {
        "violations": {
          "description": "Describes all precondition violations.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcPreconditionFailureViolation"
          }
        }
      },
      "description": "Describes what preconditions have failed. For example, if an RPC failed because it required the Terms of Service to be acknowledged, it could list the terms of service violation in the PreconditionFailure message."
    },
    "GoogleCloudApigeeV1ReportInstanceStatusRequest": {
      "type": "object",
      "description": "Request for ReportInstanceStatus.",
      "properties": {
        "resources": {
          "description": "Status for config resources",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ResourceStatus"
          }
        },
        "reportTime": {
          "format": "google-datetime",
          "description": "The time the report was generated in the runtime. Used to prevent an old status from overwriting a newer one. An instance should space out it's status reports so that clock skew does not play a factor.",
          "type": "string"
        },
        "instanceUid": {
          "type": "string",
          "description": "A unique ID for the instance which is guaranteed to be unique in case the user installs multiple hybrid runtimes with the same instance ID."
        }
      },
      "id": "GoogleCloudApigeeV1ReportInstanceStatusRequest"
    },
    "GoogleCloudApigeeV1OperationMetadataProgress": {
      "properties": {
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "FINISHED"
          ],
          "description": "State of the operation."
        },
        "details": {
          "description": "The additional details of the progress.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "description": {
          "description": "Description of the operation's progress.",
          "type": "string"
        },
        "percentDone": {
          "type": "integer",
          "description": "The percentage of the operation progress.",
          "format": "int32"
        }
      },
      "description": "Information about operation progress.",
      "id": "GoogleCloudApigeeV1OperationMetadataProgress",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListNatAddressesResponse": {
      "type": "object",
      "description": "Response for ListNatAddresses.",
      "id": "GoogleCloudApigeeV1ListNatAddressesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Page token that you can include in a ListNatAddresses request to retrieve the next page of content. If omitted, no subsequent pages exist.",
          "type": "string"
        },
        "natAddresses": {
          "type": "array",
          "description": "List of NAT Addresses for the instance.",
          "items": {
            "$ref": "GoogleCloudApigeeV1NatAddress"
          }
        }
      }
    },
    "GoogleCloudApigeeV1Keystore": {
      "type": "object",
      "id": "GoogleCloudApigeeV1Keystore",
      "description": "Datastore for Certificates and Aliases.",
      "properties": {
        "aliases": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Aliases in this keystore.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Required. Resource ID for this keystore. Values must match the regular expression `[\\w[:space:]-.]{1,255}`."
        }
      }
    },
    "GoogleCloudApigeeV1AccessGet": {
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1AccessGet",
      "type": "object",
      "description": "Get action. For example, \"Get\" : { \"name\" : \"target.name\", \"value\" : \"default\" }"
    },
    "GoogleCloudApigeeV1CanaryEvaluation": {
      "id": "GoogleCloudApigeeV1CanaryEvaluation",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Create time of the canary evaluation."
        },
        "treatment": {
          "description": "Required. The newer version that is serving requests.",
          "type": "string"
        },
        "metricLabels": {
          "description": "Required. Labels used to filter the metrics used for a canary evaluation.",
          "$ref": "GoogleCloudApigeeV1CanaryEvaluationMetricLabels"
        },
        "state": {
          "enumDescriptions": [
            "No state has been specified.",
            "The canary evaluation is still in progress.",
            "The canary evaluation has finished."
          ],
          "description": "Output only. The current state of the canary evaluation.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED"
          ]
        },
        "verdict": {
          "readOnly": true,
          "description": "Output only. The resulting verdict of the canary evaluations: NONE, PASS, or FAIL.",
          "type": "string",
          "enumDescriptions": [
            "Verdict is not available yet.",
            "No verdict reached.",
            "Evaluation is not good.",
            "Evaluation is good."
          ],
          "enum": [
            "VERDICT_UNSPECIFIED",
            "NONE",
            "FAIL",
            "PASS"
          ]
        },
        "control": {
          "description": "Required. The stable version that is serving requests.",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Required. Start time for the canary evaluation's analysis.",
          "type": "string"
        },
        "endTime": {
          "description": "Required. End time for the evaluation's analysis.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. Name of the canary evalution.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "CanaryEvaluation represents the canary analysis between two versions of the runtime that is serving requests.",
      "type": "object"
    },
    "GoogleCloudApigeeV1DeveloperApp": {
      "type": "object",
      "properties": {
        "appId": {
          "description": "ID of the developer app.",
          "type": "string"
        },
        "appFamily": {
          "description": "Developer app family.",
          "type": "string"
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Scopes to apply to the developer app. The specified scopes must already exist for the API product that you associate with the developer app."
        },
        "createdAt": {
          "readOnly": true,
          "description": "Output only. Time the developer app was created in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "lastModifiedAt": {
          "description": "Output only. Time the developer app was modified in milliseconds since epoch.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "keyExpiresIn": {
          "format": "int64",
          "type": "string",
          "description": "Expiration time, in milliseconds, for the consumer key that is generated for the developer app. If not set or left to the default value of `-1`, the API key never expires. The expiration time can't be updated after it is set."
        },
        "credentials": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Credential"
          },
          "description": "Output only. Set of credentials for the developer app consisting of the consumer key/secret pairs associated with the API products.",
          "type": "array",
          "readOnly": true
        },
        "developerId": {
          "description": "ID of the developer.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "Status of the credential. Valid values include `approved` or `revoked`."
        },
        "attributes": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "description": "List of attributes for the developer app.",
          "type": "array"
        },
        "apiProducts": {
          "type": "array",
          "description": "List of API products associated with the developer app.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Name of the developer app.",
          "type": "string"
        },
        "callbackUrl": {
          "description": "Callback URL used by OAuth 2.0 authorization servers to communicate authorization codes back to developer apps.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1DeveloperApp"
    },
    "GoogleCloudApigeeV1RuntimeTraceConfig": {
      "type": "object",
      "description": "NEXT ID: 8 RuntimeTraceConfig defines the configurations for distributed trace in an environment.",
      "id": "GoogleCloudApigeeV1RuntimeTraceConfig",
      "properties": {
        "endpoint": {
          "type": "string",
          "description": "Endpoint of the exporter."
        },
        "exporter": {
          "enum": [
            "EXPORTER_UNSPECIFIED",
            "JAEGER",
            "CLOUD_TRACE"
          ],
          "description": "Exporter that is used to view the distributed trace captured using OpenCensus. An exporter sends traces to any backend that is capable of consuming them. Recorded spans can be exported by registered exporters.",
          "type": "string",
          "enumDescriptions": [
            "Exporter unspecified",
            "Jaeger exporter",
            "Cloudtrace exporter"
          ]
        },
        "overrides": {
          "type": "array",
          "description": "List of trace configuration overrides for spicific API proxies.",
          "items": {
            "$ref": "GoogleCloudApigeeV1RuntimeTraceConfigOverride"
          }
        },
        "revisionCreateTime": {
          "description": "The timestamp that the revision was created or updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Name of the trace config in the following format: `organizations/{org}/environment/{env}/traceConfig`"
        },
        "samplingConfig": {
          "$ref": "GoogleCloudApigeeV1RuntimeTraceSamplingConfig",
          "description": "Trace configuration for all API proxies in an environment."
        },
        "revisionId": {
          "type": "string",
          "description": "Revision number which can be used by the runtime to detect if the trace config has changed between two versions."
        }
      }
    },
    "GoogleCloudApigeeV1ListApiCategoriesResponse": {
      "properties": {
        "message": {
          "type": "string",
          "description": "Description of the operation."
        },
        "requestId": {
          "description": "ID that can be used to find request details in the log files.",
          "type": "string"
        },
        "data": {
          "description": "Details of categories.",
          "items": {
            "$ref": "GoogleCloudApigeeV1ApiCategoryData"
          },
          "type": "array"
        },
        "errorCode": {
          "type": "string",
          "description": "ID that can be used to find errors in the log files."
        },
        "status": {
          "type": "string",
          "description": "Status of the operation."
        }
      },
      "description": "the response for ListApiCategoriesRequest.",
      "type": "object",
      "id": "GoogleCloudApigeeV1ListApiCategoriesResponse"
    },
    "GoogleCloudApigeeV1Stats": {
      "id": "GoogleCloudApigeeV1Stats",
      "properties": {
        "environments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1StatsEnvironmentStats"
          },
          "description": "This field contains a list of query results on environment level."
        },
        "metaData": {
          "description": "This field contains the metadata information.",
          "$ref": "GoogleCloudApigeeV1Metadata"
        },
        "hosts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1StatsHostStats"
          },
          "description": "This field contains a list of query results grouped by host."
        }
      },
      "description": "This message type encapsulates a stats response.",
      "type": "object"
    },
    "GoogleCloudApigeeV1InstanceAttachment": {
      "type": "object",
      "id": "GoogleCloudApigeeV1InstanceAttachment",
      "properties": {
        "createdAt": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time the attachment was created in milliseconds since epoch."
        },
        "environment": {
          "description": "ID of the attached environment.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. ID of the attachment."
        }
      },
      "description": "InstanceAttachment represents the installation of an environment onto an instance."
    },
    "GoogleLongrunningListOperationsResponse": {
      "properties": {
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "id": "GoogleLongrunningListOperationsResponse"
    },
    "GoogleCloudApigeeV1OperationConfig": {
      "description": "Binds the resources in an API proxy or remote service with the allowed REST methods and associated quota enforcement.",
      "id": "GoogleCloudApigeeV1OperationConfig",
      "type": "object",
      "properties": {
        "attributes": {
          "description": "Custom attributes associated with the operation.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "type": "array"
        },
        "apiSource": {
          "type": "string",
          "description": "Required. Name of the API proxy or remote service with which the resources, methods, and quota are associated."
        },
        "quota": {
          "$ref": "GoogleCloudApigeeV1Quota",
          "description": "Quota parameters to be enforced for the resources, methods, and API source combination. If none are specified, quota enforcement will not be done."
        },
        "operations": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Operation"
          },
          "type": "array",
          "description": "List of resource/method pairs for the API proxy or remote service to which quota will applied. **Note**: Currently, you can specify only a single resource/method pair. The call will fail if more than one resource/method pair is provided."
        }
      }
    },
    "GoogleCloudApigeeV1Result": {
      "properties": {
        "reasonPhrase": {
          "type": "string",
          "description": "HTTP response phrase"
        },
        "statusCode": {
          "type": "string",
          "description": "HTTP response code"
        },
        "accessList": {
          "description": "A list of variable access actions agaist the api proxy. Supported values: Get, Set, Remove.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Access"
          }
        },
        "timestamp": {
          "description": "Timestamp of when the result is recorded. Its format is dd-mm-yy hh:mm:ss:xxx. For example, `\"timestamp\" : \"12-08-19 00:31:59:960\"`",
          "type": "string"
        },
        "content": {
          "type": "string",
          "description": "Error message content. for example, \"content\" : \"{\\\"fault\\\":{\\\"faultstring\\\":\\\"API timed out\\\",\\\"detail\\\":{\\\"errorcode\\\":\\\"flow.APITimedOut\\\"}}}\""
        },
        "headers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Property"
          },
          "description": "A list of HTTP headers. for example, '\"headers\" : [ { \"name\" : \"Content-Length\", \"value\" : \"83\" }, { \"name\" : \"Content-Type\", \"value\" : \"application/json\" } ]'"
        },
        "properties": {
          "description": "Name value pairs used for DebugInfo ActionResult.",
          "$ref": "GoogleCloudApigeeV1Properties"
        },
        "verb": {
          "description": "HTTP method verb",
          "type": "string"
        },
        "ActionResult": {
          "description": "Type of the action result. Can be one of the five: DebugInfo, RequestMessage, ResponseMessage, ErrorMessage, VariableAccess",
          "type": "string"
        },
        "uRI": {
          "description": "The relative path of the api proxy. for example, `\"uRI\" : \"/iloveapis\"`",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Result is short for \"action result\", could be different types identified by \"action_result\" field. Supported types: 1. DebugInfo : generic debug info collected by runtime recorded as a list of properties. For example, the contents could be virtual host info, state change result, or execution metadata. Required fields : properties, timestamp 2. RequestMessage: information of a http request. Contains headers, request URI and http methods type.Required fields : headers, uri, verb 3. ResponseMessage: information of a http response. Contains headers, reason phrase and http status code. Required fields : headers, reasonPhrase, statusCode 4. ErrorMessage: information of a http error message. Contains detail error message, reason phrase and status code. Required fields : content, headers, reasonPhrase, statusCode 5. VariableAccess: a list of variable access actions, can be Get, Set and Remove. Required fields : accessList",
      "id": "GoogleCloudApigeeV1Result"
    },
    "GoogleCloudApigeeV1Metadata": {
      "properties": {
        "notices": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of additional information such as data source, if result was truncated etc. E.g \"notices\": [ \"Source:Postgres\", \"PG Host:uappg0rw.e2e.apigeeks.net\", \"query served by:4b64601e-40de-4eb1-bfb9-eeee7ac929ed\", \"Table used: edge.api.uapgroup2.agg_api\" ]"
        },
        "errors": {
          "description": "List of error messages as strings.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "This message type encapsulates additional information about query execution.",
      "type": "object",
      "id": "GoogleCloudApigeeV1Metadata"
    },
    "GoogleCloudApigeeV1CanaryEvaluationMetricLabels": {
      "id": "GoogleCloudApigeeV1CanaryEvaluationMetricLabels",
      "properties": {
        "instance_id": {
          "type": "string",
          "description": "Required. The instance ID associated with the metrics. In Apigee Hybrid, the value is configured during installation."
        },
        "env": {
          "type": "string",
          "description": "The environment ID associated with the metrics."
        },
        "location": {
          "description": "Required. The location associated with the metrics.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Labels that can be used to filter Apigee metrics."
    },
    "GoogleApiHttpBody": {
      "properties": {
        "data": {
          "format": "byte",
          "description": "The HTTP request/response body as raw binary.",
          "type": "string"
        },
        "contentType": {
          "type": "string",
          "description": "The HTTP Content-Type header value specifying the content type of the body."
        },
        "extensions": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleApiHttpBody",
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged."
    },
    "GoogleCloudApigeeV1SetAddonsRequest": {
      "id": "GoogleCloudApigeeV1SetAddonsRequest",
      "description": "Request for SetAddons.",
      "type": "object",
      "properties": {
        "addonsConfig": {
          "$ref": "GoogleCloudApigeeV1AddonsConfig",
          "description": "Required. Add-on configurations."
        }
      }
    },
    "GoogleCloudApigeeV1ResourceFile": {
      "description": "Metadata about a resource file.",
      "type": "object",
      "id": "GoogleCloudApigeeV1ResourceFile",
      "properties": {
        "type": {
          "type": "string",
          "description": "Resource file type. {{ resource_file_type }}"
        },
        "name": {
          "description": "ID of the resource file.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1EnvironmentGroup": {
      "id": "GoogleCloudApigeeV1EnvironmentGroup",
      "description": "EnvironmentGroup configuration. An environment group is used to group one or more Apigee environments under a single host name.",
      "properties": {
        "hostnames": {
          "items": {
            "type": "string"
          },
          "description": "Required. Host names for this environment group.",
          "type": "array"
        },
        "state": {
          "enumDescriptions": [
            "Resource is in an unspecified state.",
            "Resource is being created.",
            "Resource is provisioned and ready to use.",
            "The resource is being deleted.",
            "The resource is being updated."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "UPDATING"
          ],
          "type": "string",
          "description": "Output only. State of the environment group. Values other than ACTIVE means the resource is not ready to use."
        },
        "name": {
          "description": "ID of the environment group.",
          "type": "string"
        },
        "createdAt": {
          "readOnly": true,
          "description": "Output only. The time at which the environment group was created as milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "lastModifiedAt": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The time at which the environment group was last updated as milliseconds since epoch."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1IngressConfig": {
      "properties": {
        "name": {
          "description": "Name of the resource in the following format: `organizations/{org}/deployedIngressConfig`.",
          "type": "string"
        },
        "environmentGroups": {
          "description": "List of environment groups in the organization.",
          "items": {
            "$ref": "GoogleCloudApigeeV1EnvironmentGroupConfig"
          },
          "type": "array"
        },
        "uid": {
          "type": "string",
          "description": "A unique id for the ingress config that will only change if the organization is deleted and recreated."
        },
        "revisionId": {
          "type": "string",
          "format": "int64",
          "description": "Revision id that defines the ordering on IngressConfig resources. The higher the revision, the more recently the configuration was deployed."
        },
        "revisionCreateTime": {
          "description": "Time at which the IngressConfig revision was created.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1IngressConfig"
    },
    "GoogleCloudApigeeV1Property": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The property key"
        },
        "value": {
          "description": "The property value",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1Property",
      "description": "A single property entry in the Properties message."
    },
    "GoogleCloudApigeeV1ProvisionOrganizationRequest": {
      "description": "Request for ProvisionOrganization.",
      "type": "object",
      "id": "GoogleCloudApigeeV1ProvisionOrganizationRequest",
      "properties": {
        "authorizedNetwork": {
          "type": "string",
          "description": "Name of the customer project's VPC network. If provided, the network needs to be peered through Service Networking. If none is provided, the organization will have access only to the public internet."
        },
        "runtimeLocation": {
          "description": "Cloud Platform location for the runtime instance. Defaults to zone `us-west1-a`. If a region is provided, `EVAL` organizations will use the region for automatically selecting a zone for the runtime instance.",
          "type": "string"
        },
        "analyticsRegion": {
          "type": "string",
          "description": "Primary Cloud Platform region for analytics data storage. For valid values, see [Create an organization](https://cloud.google.com/apigee/docs/hybrid/latest/precog-provision). Defaults to `us-west1`."
        }
      }
    },
    "GoogleCloudApigeeV1AccessRemove": {
      "properties": {
        "name": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        }
      },
      "description": "Remove action. For example, \"Remove\" : { \"name\" : \"target.name\", \"success\" : true }",
      "type": "object",
      "id": "GoogleCloudApigeeV1AccessRemove"
    },
    "GoogleCloudApigeeV1ListExportsResponse": {
      "type": "object",
      "description": "The response for ListExports",
      "properties": {
        "exports": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Export"
          },
          "description": "Details of the export jobs.",
          "type": "array"
        }
      },
      "id": "GoogleCloudApigeeV1ListExportsResponse"
    },
    "GoogleCloudApigeeV1Attributes": {
      "type": "object",
      "properties": {
        "attribute": {
          "type": "array",
          "description": "List of attributes.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          }
        }
      },
      "id": "GoogleCloudApigeeV1Attributes"
    },
    "GoogleCloudApigeeV1OperationGroup": {
      "type": "object",
      "description": "List of operation configuration details associated with Apigee API proxies or remote services. Remote services are non-Apigee proxies, such as Istio-Envoy.",
      "id": "GoogleCloudApigeeV1OperationGroup",
      "properties": {
        "operationConfigs": {
          "items": {
            "$ref": "GoogleCloudApigeeV1OperationConfig"
          },
          "type": "array",
          "description": "Required. List of operation configurations for either Apigee API proxies or other remote services that are associated with this API product."
        },
        "operationConfigType": {
          "type": "string",
          "description": "Flag that specifes whether the configuration is for Apigee API proxy or a remote service. Valid values include `proxy` or `remoteservice`. Defaults to `proxy`. Set to `proxy` when Apigee API proxies are associated with the API product. Set to `remoteservice` when non-Apigee proxies like Istio-Envoy are associated with the API product."
        }
      }
    },
    "GoogleCloudApigeeV1DataCollectorConfig": {
      "id": "GoogleCloudApigeeV1DataCollectorConfig",
      "description": "Data collector and its configuration.",
      "properties": {
        "name": {
          "description": "Name of the data collector in the following format: `organizations/{org}/datacollectors/{datacollector}`",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "For future compatibility.",
            "For integer values.",
            "For float values.",
            "For string values.",
            "For boolean values.",
            "For datetime values."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "INTEGER",
            "FLOAT",
            "STRING",
            "BOOLEAN",
            "DATETIME"
          ],
          "description": "Data type accepted by the data collector."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRoute": {
      "id": "GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRoute",
      "type": "object",
      "properties": {
        "envgroup": {
          "description": "Environment group where this route is installed.",
          "type": "string"
        },
        "percentage": {
          "type": "integer",
          "format": "int32",
          "description": "Percentage of ingress replicas reporting this route."
        },
        "environment": {
          "description": "Destination environment. This will be empty if the route is not yet reported.",
          "type": "string"
        },
        "basepath": {
          "type": "string",
          "description": "Base path in the routing table."
        }
      },
      "description": "Route deployed in the ingress routing table."
    },
    "GoogleCloudApigeeV1InstanceDeploymentStatus": {
      "id": "GoogleCloudApigeeV1InstanceDeploymentStatus",
      "type": "object",
      "properties": {
        "deployedRevisions": {
          "description": "Revisions currently deployed in MPs.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRevision"
          }
        },
        "instance": {
          "description": "ID of the instance reporting the status.",
          "type": "string"
        },
        "deployedRoutes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRoute"
          },
          "description": "Current routes deployed in the ingress routing table. A route which is missing will appear in `missing_routes`."
        }
      },
      "description": "The status of a deployment as reported by a single instance."
    },
    "GoogleCloudApigeeV1Certificate": {
      "properties": {
        "certInfo": {
          "type": "array",
          "description": "Chain of certificates under this name.",
          "items": {
            "$ref": "GoogleCloudApigeeV1CertInfo"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1Certificate"
    },
    "GoogleCloudApigeeV1Access": {
      "type": "object",
      "id": "GoogleCloudApigeeV1Access",
      "properties": {
        "Set": {
          "$ref": "GoogleCloudApigeeV1AccessSet"
        },
        "Get": {
          "$ref": "GoogleCloudApigeeV1AccessGet"
        },
        "Remove": {
          "$ref": "GoogleCloudApigeeV1AccessRemove"
        }
      }
    },
    "GoogleCloudApigeeV1SharedFlowRevision": {
      "id": "GoogleCloudApigeeV1SharedFlowRevision",
      "type": "object",
      "description": "The metadata describing a shared flow revision.",
      "properties": {
        "type": {
          "description": "The string \"Application\"",
          "type": "string"
        },
        "sharedFlows": {
          "description": "A list of the shared flow names included in this shared flow revision.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "resources": {
          "description": "A list of the resources included in this shared flow revision formatted as \"{type}://{name}\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "createdAt": {
          "type": "string",
          "format": "int64",
          "description": "Time at which this shared flow revision was created, in milliseconds since epoch."
        },
        "lastModifiedAt": {
          "type": "string",
          "format": "int64",
          "description": "Time at which this shared flow revision was most recently modified, in milliseconds since epoch."
        },
        "resourceFiles": {
          "$ref": "GoogleCloudApigeeV1ResourceFiles",
          "description": "The resource files included in this shared flow revision."
        },
        "entityMetaDataAsProperties": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A Key-Value map of metadata about this shared flow revision."
        },
        "configurationVersion": {
          "description": "The version of the configuration schema to which this shared flow conforms. The only supported value currently is majorVersion 4 and minorVersion 0. This setting may be used in the future to enable evolution of the shared flow format.",
          "$ref": "GoogleCloudApigeeV1ConfigVersion"
        },
        "contextInfo": {
          "description": "A textual description of the shared flow revision.",
          "type": "string"
        },
        "revision": {
          "description": "The resource ID of this revision.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource ID of the parent shared flow."
        },
        "displayName": {
          "description": "The human readable name of this shared flow.",
          "type": "string"
        },
        "policies": {
          "description": "A list of policy names included in this shared flow revision.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "description": {
          "description": "Description of the shared flow revision.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1Query": {
      "type": "object",
      "id": "GoogleCloudApigeeV1Query",
      "properties": {
        "timeRange": {
          "type": "any",
          "description": "Required. Time range for the query. Can use the following predefined strings to specify the time range: `last60minutes` `last24hours` `last7days` Or, specify the timeRange as a structure describing start and end timestamps in the ISO format: yyyy-mm-ddThh:mm:ssZ. Example: \"timeRange\": { \"start\": \"2018-07-29T00:13:00Z\", \"end\": \"2018-08-01T00:18:00Z\" }"
        },
        "metrics": {
          "description": "A list of Metrics.",
          "items": {
            "$ref": "GoogleCloudApigeeV1QueryMetric"
          },
          "type": "array"
        },
        "csvDelimiter": {
          "type": "string",
          "description": "Delimiter used in the CSV file, if `outputFormat` is set to `csv`. Defaults to the `,` (comma) character. Supported delimiter characters include comma (`,`), pipe (`|`), and tab (`\\t`)."
        },
        "name": {
          "description": "Asynchronous Query Name.",
          "type": "string"
        },
        "outputFormat": {
          "type": "string",
          "description": "Valid values include: `csv` or `json`. Defaults to `json`. Note: Configure the delimiter for CSV output using the csvDelimiter property."
        },
        "dimensions": {
          "items": {
            "type": "string"
          },
          "description": "A list of dimensions. https://docs.apigee.com/api-platform/analytics/analytics-reference#dimensions",
          "type": "array"
        },
        "limit": {
          "description": "Maximum number of rows that can be returned in the result.",
          "format": "int32",
          "type": "integer"
        },
        "reportDefinitionId": {
          "description": "Asynchronous Report ID.",
          "type": "string"
        },
        "groupByTimeUnit": {
          "type": "string",
          "description": "Time unit used to group the result set. Valid values include: second, minute, hour, day, week, or month. If a query includes groupByTimeUnit, then the result is an aggregation based on the specified time unit and the resultant timestamp does not include milliseconds precision. If a query omits groupByTimeUnit, then the resultant timestamp includes milliseconds precision."
        },
        "filter": {
          "description": "Boolean expression that can be used to filter data. Filter expressions can be combined using AND/OR terms and should be fully parenthesized to avoid ambiguity. See Analytics metrics, dimensions, and filters reference https://docs.apigee.com/api-platform/analytics/analytics-reference for more information on the fields available to filter on. For more information on the tokens that you use to build filter expressions, see Filter expression syntax. https://docs.apigee.com/api-platform/analytics/asynch-reports-api#filter-expression-syntax",
          "type": "string"
        },
        "envgroupHostname": {
          "type": "string",
          "description": "Hostname needs to be specified if query intends to run at host level. This field is only allowed when query is submitted by CreateHostAsyncQuery where analytics data will be grouped by organization and hostname."
        }
      }
    },
    "GoogleCloudApigeeV1ListAsyncQueriesResponse": {
      "id": "GoogleCloudApigeeV1ListAsyncQueriesResponse",
      "description": "The response for ListAsyncQueries.",
      "properties": {
        "queries": {
          "type": "array",
          "description": "The asynchronous queries belong to requested resource name.",
          "items": {
            "$ref": "GoogleCloudApigeeV1AsyncQuery"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1TlsInfo": {
      "description": "TLS configuration information for VirtualHosts and TargetServers.",
      "id": "GoogleCloudApigeeV1TlsInfo",
      "type": "object",
      "properties": {
        "keyAlias": {
          "type": "string",
          "description": "Required if `client_auth_enabled` is true. The resource ID for the alias containing the private key and cert."
        },
        "clientAuthEnabled": {
          "description": "Optional. Enables two-way TLS.",
          "type": "boolean"
        },
        "protocols": {
          "items": {
            "type": "string"
          },
          "description": "The TLS versioins to be used.",
          "type": "array"
        },
        "enabled": {
          "type": "boolean",
          "description": "Required. Enables TLS. If false, neither one-way nor two-way TLS will be enabled."
        },
        "ciphers": {
          "type": "array",
          "description": "The SSL/TLS cipher suites to be used. Must be one of the cipher suite names listed in: http://docs.oracle.com/javase/8/docs/technotes/guides/security/StandardNames.html#ciphersuites",
          "items": {
            "type": "string"
          }
        },
        "ignoreValidationErrors": {
          "type": "boolean",
          "description": "If true, Edge ignores TLS certificate errors. Valid when configuring TLS for target servers and target endpoints, and when configuring virtual hosts that use 2-way TLS. When used with a target endpoint/target server, if the backend system uses SNI and returns a cert with a subject Distinguished Name (DN) that does not match the hostname, there is no way to ignore the error and the connection fails."
        },
        "keyStore": {
          "type": "string",
          "description": "Required if `client_auth_enabled` is true. The resource ID of the keystore. References not yet supported."
        },
        "commonName": {
          "description": "The TLS Common Name of the certificate.",
          "$ref": "GoogleCloudApigeeV1TlsInfoCommonName"
        },
        "trustStore": {
          "type": "string",
          "description": "The resource ID of the truststore. References not yet supported."
        }
      }
    },
    "GoogleCloudApigeeV1ApiCategory": {
      "description": "the Api category resource wrapped with response status, error_code etc.",
      "properties": {
        "errorCode": {
          "type": "string",
          "description": "ID that can be used to find errors in the log files."
        },
        "data": {
          "$ref": "GoogleCloudApigeeV1ApiCategoryData",
          "description": "Details of category."
        },
        "status": {
          "description": "Status of the operation.",
          "type": "string"
        },
        "message": {
          "description": "Description of the operation.",
          "type": "string"
        },
        "requestId": {
          "description": "ID that can be used to find request details in the log files.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1ApiCategory",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListApiProxiesResponse": {
      "properties": {
        "proxies": {
          "items": {
            "$ref": "GoogleCloudApigeeV1ApiProxy"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudApigeeV1ListApiProxiesResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1CustomReportMetric": {
      "id": "GoogleCloudApigeeV1CustomReportMetric",
      "properties": {
        "function": {
          "type": "string",
          "description": "aggregate function"
        },
        "name": {
          "type": "string",
          "description": "name of the metric"
        }
      },
      "type": "object",
      "description": "This encapsulates a metric property of the form sum(message_count) where name is message_count and function is sum"
    },
    "GoogleCloudApigeeV1OptimizedStats": {
      "properties": {
        "Response": {
          "$ref": "GoogleCloudApigeeV1OptimizedStatsResponse",
          "description": "This field wraps the stats response for Js Optimized Scenario with a Response key. E.g. { \"Response\": { \"TimeUnit\": [], \"metaData\": { \"errors\": [], \"notices\": [ \"Source:Postgres\", \"Table used: edge.api.aaxgroup001.agg_api\", \"PG Host:ruappg08-ro.production.apigeeks.net\", \"query served by:80c4ebca-6a10-4a2e-8faf-c60c1ee306ca\" ] }, \"resultTruncated\": false, \"stats\": { \"data\": [ { \"identifier\": { \"names\": [ \"apiproxy\" ], \"values\": [ \"sirjee\" ] }, \"metric\": [ { \"env\": \"prod\", \"name\": \"sum(message_count)\", \"values\": [ 36.0 ] }, { \"env\": \"prod\", \"name\": \"sum(is_error)\", \"values\": [ 36.0 ] } ] } ] } } }"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1OptimizedStats"
    },
    "GoogleCloudApigeeV1ApiProduct": {
      "type": "object",
      "properties": {
        "quotaInterval": {
          "type": "string",
          "description": "Time interval over which the number of request messages is calculated."
        },
        "graphqlOperationGroup": {
          "$ref": "GoogleCloudApigeeV1GraphQLOperationGroup",
          "description": "Configuration used to group Apigee proxies or remote services with graphQL operation name, graphQL operation type and quotas. This grouping allows us to precisely set quota for a particular combination of graphQL name and operation type for a particular proxy request. If graphQL name is not set, this would imply quota will be applied on all graphQL requests matching the operation type."
        },
        "description": {
          "type": "string",
          "description": "Description of the API product. Include key information about the API product that is not captured by other fields. Comma-separated list of API resources to be bundled in the API product. By default, the resource paths are mapped from the `proxy.pathsuffix` variable. The proxy path suffix is defined as the URI fragment following the ProxyEndpoint base path. For example, if the `apiResources` element is defined to be `/forecastrss` and the base path defined for the API proxy is `/weather`, then only requests to `/weather/forecastrss` are permitted by the API product. You can select a specific path, or you can select all subpaths with the following wildcard: - `/**`: Indicates that all sub-URIs are included. - `/*` : Indicates that only URIs one level down are included. By default, / supports the same resources as /** as well as the base path defined by the API proxy. For example, if the base path of the API proxy is `/v1/weatherapikey`, then the API product supports requests to `/v1/weatherapikey` and to any sub-URIs, such as `/v1/weatherapikey/forecastrss`, `/v1/weatherapikey/region/CA`, and so on. For more information, see Managing API products."
        },
        "createdAt": {
          "description": "Response only. Creation time of this environment as milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "lastModifiedAt": {
          "type": "string",
          "format": "int64",
          "description": "Response only. Modified time of this environment as milliseconds since epoch."
        },
        "scopes": {
          "type": "array",
          "description": "Comma-separated list of OAuth scopes that are validated at runtime. Apigee validates that the scopes in any access token presented match the scopes defined in the OAuth policy associated with the API product.",
          "items": {
            "type": "string"
          }
        },
        "quota": {
          "type": "string",
          "description": "Number of request messages permitted per app by this API product for the specified `quotaInterval` and `quotaTimeUnit`. For example, a `quota` of 50, for a `quotaInterval` of 12 and a `quotaTimeUnit` of hours means 50 requests are allowed every 12 hours."
        },
        "displayName": {
          "type": "string",
          "description": "Name displayed in the UI or developer portal to developers registering for API access."
        },
        "attributes": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "description": "Array of attributes that may be used to extend the default API product profile with customer-specific metadata. You can specify a maximum of 18 attributes. Use this property to specify the access level of the API product as either `public`, `private`, or `internal`. Only products marked `public` are available to developers in the Apigee developer portal. For example, you can set a product to `internal` while it is in development and then change access to `public` when it is ready to release on the portal. API products marked as `private` do not appear on the portal, but can be accessed by external developers.",
          "type": "array"
        },
        "approvalType": {
          "type": "string",
          "description": "Flag that specifies how API keys are approved to access the APIs defined by the API product. If set to `manual`, the consumer key is generated and returned in \"pending\" state. In this case, the API keys won't work until they have been explicitly approved. If set to `auto`, the consumer key is generated and returned in \"approved\" state and can be used immediately. **Note:** Typically, `auto` is used to provide access to free or trial API products that provide limited quota or capabilities."
        },
        "name": {
          "description": "Internal name of the API product. Characters you can use in the name are restricted to: `A-Z0-9._\\-$ %`. **Note:** The internal name cannot be edited when updating the API product.",
          "type": "string"
        },
        "apiResources": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "operationGroup": {
          "$ref": "GoogleCloudApigeeV1OperationGroup",
          "description": "Configuration used to group Apigee proxies or remote services with resources, method types, and quotas. The resource refers to the resource URI (excluding the base path). With this grouping, the API product creator is able to fine-tune and give precise control over which REST methods have access to specific resources and how many calls can be made (using the `quota` setting). **Note:** The `api_resources` setting cannot be specified for both the API product and operation group; otherwise the call will fail."
        },
        "environments": {
          "type": "array",
          "description": "Comma-separated list of environment names to which the API product is bound. Requests to environments that are not listed are rejected. By specifying one or more environments, you can bind the resources listed in the API product to a specific environment, preventing developers from accessing those resources through API proxies deployed in another environment. This setting is used, for example, to prevent resources associated with API proxies in `prod` from being accessed by API proxies deployed in `test`.",
          "items": {
            "type": "string"
          }
        },
        "proxies": {
          "description": "Comma-separated list of API proxy names to which this API product is bound. By specifying API proxies, you can associate resources in the API product with specific API proxies, preventing developers from accessing those resources through other API proxies. Apigee rejects requests to API proxies that are not listed. **Note:** The API proxy names must already exist in the specified environment as they will be validated upon creation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "quotaTimeUnit": {
          "description": "Time unit defined for the `quotaInterval`. Valid values include `minute`, `hour`, `day`, or `month`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1ApiProduct"
    },
    "GoogleCloudApigeeV1OptimizedStatsNode": {
      "id": "GoogleCloudApigeeV1OptimizedStatsNode",
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "type": "any"
          }
        }
      },
      "description": "This message type encapsulates a data node as represented below: { \"identifier\": { \"names\": [ \"apiproxy\" ], \"values\": [ \"sirjee\" ] }, \"metric\": [ { \"env\": \"prod\", \"name\": \"sum(message_count)\", \"values\": [ 36.0 ] } ] } OR { \"env\": \"prod\", \"name\": \"sum(message_count)\", \"values\": [ 36.0 ] } Depending on whether a dimension is present in the query or not the data node type can be a simple metric value or dimension identifier with list of metrics."
    },
    "GoogleCloudApigeeV1ListInstanceAttachmentsResponse": {
      "description": "Response for ListInstanceAttachments.",
      "id": "GoogleCloudApigeeV1ListInstanceAttachmentsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Page token that you can include in a ListInstanceAttachments request to retrieve the next page of content. If omitted, no subsequent pages exist."
        },
        "attachments": {
          "description": "Attachments for the instance.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1InstanceAttachment"
          }
        }
      }
    },
    "GoogleCloudApigeeV1ListDebugSessionsResponse": {
      "id": "GoogleCloudApigeeV1ListDebugSessionsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Page token that you can include in a ListDebugSessionsRequest to retrieve the next page. If omitted, no subsequent pages exist.",
          "type": "string"
        },
        "sessions": {
          "type": "array",
          "description": "Session info that includes debug session ID and the first transaction creation timestamp.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Session"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1Instance": {
      "properties": {
        "description": {
          "description": "Optional. Description of the instance.",
          "type": "string"
        },
        "host": {
          "description": "Output only. Internal hostname or IP address of the Apigee endpoint used by clients to connect to the service.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Required. Resource ID of the instance. Values must match the regular expression `^a-z{0,30}[a-z\\d]$`.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. State of the instance. Values other than `ACTIVE` means the resource is not ready to use.",
          "enumDescriptions": [
            "Resource is in an unspecified state.",
            "Resource is being created.",
            "Resource is provisioned and ready to use.",
            "The resource is being deleted.",
            "The resource is being updated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "UPDATING"
          ]
        },
        "location": {
          "description": "Required. Compute Engine location where the instance resides.",
          "type": "string"
        },
        "diskEncryptionKeyName": {
          "type": "string",
          "description": "Customer Managed Encryption Key (CMEK) used for disk and volume encryption. Required for Apigee paid subscriptions only. Use the following format: `projects/([^/]+)/locations/([^/]+)/keyRings/([^/]+)/cryptoKeys/([^/]+)`"
        },
        "createdAt": {
          "description": "Output only. Time the instance was created in milliseconds since epoch.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Display name for the instance."
        },
        "peeringCidrRange": {
          "enum": [
            "CIDR_RANGE_UNSPECIFIED",
            "SLASH_16",
            "SLASH_17",
            "SLASH_18",
            "SLASH_19",
            "SLASH_20",
            "SLASH_23"
          ],
          "type": "string",
          "description": "Optional. Size of the CIDR block range that will be reserved by the instance. PAID organizations support `SLASH_16` to `SLASH_20` and defaults to `SLASH_16`. Evaluation organizations support only `SLASH_23`.",
          "enumDescriptions": [
            "Range not specified.",
            "`/16` CIDR range.",
            "`/17` CIDR range.",
            "`/18` CIDR range.",
            "`/19` CIDR range.",
            "`/20` CIDR range.",
            "`/23` CIDR range. Supported for evaluation only."
          ]
        },
        "port": {
          "type": "string",
          "description": "Output only. Port number of the exposed Apigee endpoint.",
          "readOnly": true
        },
        "lastModifiedAt": {
          "type": "string",
          "description": "Output only. Time the instance was last modified in milliseconds since epoch.",
          "readOnly": true,
          "format": "int64"
        }
      },
      "id": "GoogleCloudApigeeV1Instance",
      "type": "object",
      "description": "Apigee runtime instance."
    },
    "GoogleCloudApigeeV1EnvironmentConfig": {
      "type": "object",
      "id": "GoogleCloudApigeeV1EnvironmentConfig",
      "properties": {
        "sequenceNumber": {
          "format": "int64",
          "type": "string",
          "description": "DEPRECATED: Use revision_id."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time that the environment configuration was created."
        },
        "targets": {
          "items": {
            "$ref": "GoogleCloudApigeeV1TargetServerConfig"
          },
          "description": "List of target servers in the environment. Disabled target servers are not displayed.",
          "type": "array"
        },
        "name": {
          "description": "Name of the environment configuration in the following format: `organizations/{org}/environments/{env}/configs/{config}`",
          "type": "string"
        },
        "keystores": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1KeystoreConfig"
          },
          "description": "List of keystores in the environment."
        },
        "pubsubTopic": {
          "type": "string",
          "description": "Name of the PubSub topic for the environment."
        },
        "resourceReferences": {
          "description": "List of resource references in the environment.",
          "items": {
            "$ref": "GoogleCloudApigeeV1ReferenceConfig"
          },
          "type": "array"
        },
        "resources": {
          "description": "List of resource versions in the environment.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ResourceConfig"
          }
        },
        "debugMask": {
          "description": "Debug mask that applies to all deployments in the environment.",
          "$ref": "GoogleCloudApigeeV1DebugMask"
        },
        "uid": {
          "description": "Unique ID for the environment configuration. The ID will only change if the environment is deleted and recreated.",
          "type": "string"
        },
        "traceConfig": {
          "$ref": "GoogleCloudApigeeV1RuntimeTraceConfig",
          "description": "Trace configurations. Contains config for the environment and config overrides for specific API proxies."
        },
        "featureFlags": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Feature flags inherited from the organization and environment."
        },
        "deployments": {
          "items": {
            "$ref": "GoogleCloudApigeeV1DeploymentConfig"
          },
          "description": "List of deployments in the environment.",
          "type": "array"
        },
        "flowhooks": {
          "items": {
            "$ref": "GoogleCloudApigeeV1FlowHookConfig"
          },
          "type": "array",
          "description": "List of flow hooks in the environment."
        },
        "provider": {
          "type": "string",
          "description": "Used by the Control plane to add context information to help detect the source of the document during diagnostics and debugging."
        },
        "dataCollectors": {
          "items": {
            "$ref": "GoogleCloudApigeeV1DataCollectorConfig"
          },
          "description": "List of data collectors used by the deployments in the environment.",
          "type": "array"
        },
        "revisionId": {
          "format": "int64",
          "type": "string",
          "description": "Revision ID of the environment configuration. The higher the value, the more recently the configuration was deployed."
        }
      }
    },
    "GoogleCloudApigeeV1ListOfDevelopersResponse": {
      "id": "GoogleCloudApigeeV1ListOfDevelopersResponse",
      "properties": {
        "developer": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Developer"
          },
          "description": "List of developers."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1ListDeveloperSubscriptionsResponse": {
      "type": "object",
      "id": "GoogleCloudApigeeV1ListDeveloperSubscriptionsResponse",
      "description": "Response for ListDeveloperSubscriptions.",
      "properties": {
        "developerSubscriptions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1DeveloperSubscription"
          },
          "description": "List of all subscriptions."
        },
        "nextStartKey": {
          "type": "string",
          "description": "Value that can be sent as `startKey` to retrieve the next page of content. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleCloudApigeeV1ExportRequest": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. Description of the export job.",
          "type": "string"
        },
        "csvDelimiter": {
          "description": "Optional. Delimiter used in the CSV file, if `outputFormat` is set to `csv`. Defaults to the `,` (comma) character. Supported delimiter characters include comma (`,`), pipe (`|`), and tab (`\\t`).",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Display name of the export job."
        },
        "outputFormat": {
          "type": "string",
          "description": "Optional. Output format of the export. Valid values include: `csv` or `json`. Defaults to `json`. Note: Configure the delimiter for CSV output using the `csvDelimiter` property."
        },
        "datastoreName": {
          "type": "string",
          "description": "Required. Name of the preconfigured datastore."
        },
        "dateRange": {
          "description": "Required. Date range of the data to export.",
          "$ref": "GoogleCloudApigeeV1DateRange"
        }
      },
      "id": "GoogleCloudApigeeV1ExportRequest",
      "description": "Request body for [CreateExportRequest]"
    },
    "GoogleCloudApigeeV1GraphQLOperationConfig": {
      "id": "GoogleCloudApigeeV1GraphQLOperationConfig",
      "properties": {
        "attributes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "description": "Custom attributes associated with the operation."
        },
        "operations": {
          "description": "Required. List of GraphQL name/operation type pairs for the proxy or remote service to which quota will be applied. If only operation types are specified, the quota will be applied to all GraphQL requests irrespective of the GraphQL name. **Note**: Currently, you can specify only a single GraphQLOperation. Specifying more than one will cause the operation to fail.",
          "items": {
            "$ref": "GoogleCloudApigeeV1GraphQLOperation"
          },
          "type": "array"
        },
        "apiSource": {
          "type": "string",
          "description": "Required. Name of the API proxy endpoint or remote service with which the GraphQL operation and quota are associated."
        },
        "quota": {
          "description": "Quota parameters to be enforced for the resources, methods, and API source combination. If none are specified, quota enforcement will not be done.",
          "$ref": "GoogleCloudApigeeV1Quota"
        }
      },
      "type": "object",
      "description": "Binds the resources in a proxy or remote service with the GraphQL operation and its associated quota enforcement."
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "id": "GoogleIamV1TestIamPermissionsRequest",
      "type": "object",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as '*' or 'storage.*') are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      }
    },
    "GoogleCloudApigeeV1DeploymentChangeReport": {
      "id": "GoogleCloudApigeeV1DeploymentChangeReport",
      "properties": {
        "routingConflicts": {
          "type": "array",
          "description": "All base path conflicts detected for a deployment request.",
          "items": {
            "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingConflict"
          }
        },
        "validationErrors": {
          "description": "Validation errors that would cause the deployment change request to be rejected.",
          "$ref": "GoogleRpcPreconditionFailure"
        },
        "routingChanges": {
          "items": {
            "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingChange"
          },
          "type": "array",
          "description": "All routing changes that may result from a deployment request."
        }
      },
      "type": "object",
      "description": "Response for GenerateDeployChangeReport and GenerateUndeployChangeReport. This report contains any validation failures that would cause the deployment to be rejected, as well changes and conflicts in routing that may occur due to the new deployment. The existence of a routing warning does not necessarily imply that the deployment request is bad, if the desired state of the deployment request is to effect a routing change. The primary purposes of the routing messages are: 1) To inform users of routing changes that may have an effect on traffic currently being routed to other existing deployments. 2) To warn users if some base path in the proxy will not receive traffic due to an existing deployment having already claimed that base path. The presence of routing conflicts/changes will not cause non-dry-run DeployApiProxy/UndeployApiProxy requests to be rejected."
    },
    "GoogleCloudApigeeV1RevisionStatus": {
      "type": "object",
      "description": "The status of a specific resource revision.",
      "id": "GoogleCloudApigeeV1RevisionStatus",
      "properties": {
        "revisionId": {
          "type": "string",
          "description": "The revision of the resource."
        },
        "replicas": {
          "type": "integer",
          "description": "The number of replicas that have successfully loaded this revision.",
          "format": "int32"
        },
        "jsonSpec": {
          "type": "string",
          "description": "The json content of the resource revision. Large specs should be sent individually via the spec field to avoid hitting request size limits."
        },
        "errors": {
          "items": {
            "$ref": "GoogleCloudApigeeV1UpdateError"
          },
          "type": "array",
          "description": "Errors reported when attempting to load this revision."
        }
      }
    },
    "GoogleCloudApigeeV1ApiCategoryData": {
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "int64",
          "description": "Time the category was last modified in milliseconds since epoch."
        },
        "name": {
          "description": "Name of the category.",
          "type": "string"
        },
        "siteId": {
          "description": "Name of the portal.",
          "type": "string"
        },
        "id": {
          "description": "ID of the category (a UUID).",
          "type": "string"
        }
      },
      "description": "the Api category resource.",
      "id": "GoogleCloudApigeeV1ApiCategoryData"
    },
    "GoogleCloudApigeeV1DateRange": {
      "properties": {
        "end": {
          "type": "string",
          "description": "Required. End date (exclusive) of the data to export in the format `yyyy-mm-dd`. The date range ends at 00:00:00 UTC on the end date- which will not be in the output."
        },
        "start": {
          "description": "Required. Start date of the data to export in the format `yyyy-mm-dd`. The date range begins at 00:00:00 UTC on the start date.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1DateRange",
      "type": "object",
      "description": "Date range of the data to export."
    },
    "GoogleCloudApigeeV1KeyAliasReference": {
      "type": "object",
      "id": "GoogleCloudApigeeV1KeyAliasReference",
      "properties": {
        "reference": {
          "type": "string",
          "description": "Reference name in the following format: `organizations/{org}/environments/{env}/references/{reference}`"
        },
        "aliasId": {
          "description": "Alias ID. Must exist in the keystore referred to by the reference.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1ListHybridIssuersResponse": {
      "properties": {
        "issuers": {
          "type": "array",
          "description": "Lists of hybrid services and its trusted issuer email ids.",
          "items": {
            "$ref": "GoogleCloudApigeeV1ServiceIssuersMapping"
          }
        }
      },
      "id": "GoogleCloudApigeeV1ListHybridIssuersResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1StatsEnvironmentStats": {
      "type": "object",
      "id": "GoogleCloudApigeeV1StatsEnvironmentStats",
      "properties": {
        "metrics": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Metric"
          },
          "type": "array",
          "description": "In the final response, only one of the following fields will be present based on the dimensions provided. If no dimensions are provided, then only a top level metrics is provided. If dimensions are included, then there will be a top level dimensions field under environments which will contain metrics values and the dimension name. Example: \"environments\": [ { \"dimensions\": [ { \"metrics\": [ { \"name\": \"sum(message_count)\", \"values\": [ \"2.14049521E8\" ] } ], \"name\": \"nit_proxy\" } ], \"name\": \"prod\" } ] OR \"environments\": [ { \"metrics\": [ { \"name\": \"sum(message_count)\", \"values\": [ \"2.19026331E8\" ] } ], \"name\": \"prod\" } ] This field contains the list of metric values."
        },
        "dimensions": {
          "type": "array",
          "description": "This field contains the list of metrics grouped under dimensions.",
          "items": {
            "$ref": "GoogleCloudApigeeV1DimensionMetric"
          }
        },
        "name": {
          "type": "string"
        }
      },
      "description": "This message type encapsulates the environment wrapper: \"environments\": [ { \"metrics\": [ { \"name\": \"sum(message_count)\", \"values\": [ \"2.52056245E8\" ] } ], \"name\": \"prod\" } ]"
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "type": "object",
      "description": "Response message for `TestIamPermissions` method.",
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudApigeeV1DebugSession": {
      "id": "GoogleCloudApigeeV1DebugSession",
      "type": "object",
      "properties": {
        "name": {
          "description": "A unique ID for this DebugSession.",
          "type": "string"
        },
        "tracesize": {
          "type": "integer",
          "description": "Optional. The maximum number of bytes captured from the response payload. Min = 0, Max = 5120, Default = 5120.",
          "format": "int32"
        },
        "timeout": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The time in seconds after which this DebugSession should end. This value will override the value in query param, if both are provided."
        },
        "filter": {
          "type": "string",
          "description": "Optional. A conditional statement which is evaluated against the request message to determine if it should be traced. Syntax matches that of on API Proxy bundle flow Condition."
        },
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of request to be traced. Min = 1, Max = 15, Default = 10."
        },
        "validity": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The length of time, in seconds, that this debug session is valid, starting from when it's received in the control plane. Min = 1, Max = 15, Default = 10."
        }
      }
    },
    "GoogleCloudApigeeV1RoutingRule": {
      "id": "GoogleCloudApigeeV1RoutingRule",
      "type": "object",
      "properties": {
        "envGroupRevision": {
          "type": "string",
          "format": "int64",
          "description": "The env group config revision_id when this rule was added or last updated. This value is set when the rule is created and will only update if the the environment_id changes. It is used to determine if the runtime is up to date with respect to this rule. This field is omitted from the IngressConfig unless the GetDeployedIngressConfig API is called with view=FULL."
        },
        "receiver": {
          "description": "The resource name of the proxy revision that is receiving this basepath in the following format: `organizations/{org}/apis/{api}/revisions/{rev}`. This field is omitted from the IngressConfig unless the GetDeployedIngressConfig API is called with view=FULL.",
          "type": "string"
        },
        "environment": {
          "type": "string",
          "description": "Name of an environment bound to the environment group in the following format: `organizations/{org}/environments/{env}`."
        },
        "basepath": {
          "description": "URI path prefix used to route to the specified environment. May contain one or more wildcards. For example, path segments consisting of a single `*` character will match any string.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The unix timestamp when this rule was updated. This is updated whenever env_group_revision is updated. This field is omitted from the IngressConfig unless the GetDeployedIngressConfig API is called with view=FULL."
        }
      }
    },
    "GoogleCloudApigeeV1Schema": {
      "id": "GoogleCloudApigeeV1Schema",
      "type": "object",
      "description": "Response for Schema call",
      "properties": {
        "metrics": {
          "items": {
            "$ref": "GoogleCloudApigeeV1SchemaSchemaElement"
          },
          "type": "array",
          "description": "List of schema fields grouped as dimensions that can be used with an aggregate function such as `sum`, `avg`, `min`, and `max`."
        },
        "dimensions": {
          "type": "array",
          "description": "List of schema fields grouped as dimensions.",
          "items": {
            "$ref": "GoogleCloudApigeeV1SchemaSchemaElement"
          }
        },
        "meta": {
          "description": "Additional metadata associated with schema. This is a legacy field and usually consists of an empty array of strings.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudApigeeV1SchemaSchemaElement": {
      "type": "object",
      "description": "Message type for the schema element",
      "properties": {
        "name": {
          "description": "Name of the field.",
          "type": "string"
        },
        "properties": {
          "description": "Properties for the schema field. For example: { \"createTime\": \"2016-02-26T10:23:09.592Z\", \"custom\": \"false\", \"type\": \"string\" }",
          "$ref": "GoogleCloudApigeeV1SchemaSchemaProperty"
        }
      },
      "id": "GoogleCloudApigeeV1SchemaSchemaElement"
    },
    "GoogleCloudApigeeV1ActivateNatAddressRequest": {
      "description": "Request for ActivateNatAddressRequest. Activate the nat address request.",
      "id": "GoogleCloudApigeeV1ActivateNatAddressRequest",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudApigeeV1ListAppsResponse": {
      "type": "object",
      "id": "GoogleCloudApigeeV1ListAppsResponse",
      "properties": {
        "app": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1App"
          }
        }
      }
    },
    "GoogleCloudApigeeV1ExpireDeveloperSubscriptionRequest": {
      "id": "GoogleCloudApigeeV1ExpireDeveloperSubscriptionRequest",
      "properties": {},
      "description": "Request for ExpireDeveloperSubscription.",
      "type": "object"
    },
    "GoogleCloudApigeeV1Export": {
      "id": "GoogleCloudApigeeV1Export",
      "description": "Details of an export job.",
      "properties": {
        "name": {
          "description": "Display name of the export job.",
          "type": "string"
        },
        "error": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Error is set when export fails"
        },
        "created": {
          "type": "string",
          "description": "Output only. Time the export job was created.",
          "readOnly": true
        },
        "description": {
          "description": "Description of the export job.",
          "type": "string"
        },
        "updated": {
          "description": "Output only. Time the export job was last updated.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "description": "Output only. Status of the export job. Valid values include `enqueued`, `running`, `completed`, and `failed`.",
          "readOnly": true
        },
        "self": {
          "readOnly": true,
          "description": "Output only. Self link of the export job. A URI that can be used to retrieve the status of an export job. Example: `/organizations/myorg/environments/myenv/analytics/exports/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd`",
[...]
