{
  "discoveryVersion": "v1",
  "rootUrl": "https://apigee.googleapis.com/",
  "revision": "20201231",
  "schemas": {
    "GoogleIamV1Binding": {
      "id": "GoogleIamV1Binding",
      "type": "object",
      "description": "Associates `members` with a `role`.",
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to `members`. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the members in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "GoogleTypeExpr"
        },
        "members": {
          "description": "Specifies the identities requesting access for a Cloud Platform resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudApigeeV1Properties": {
      "id": "GoogleCloudApigeeV1Properties",
      "description": "Message for compatibility with legacy Edge specification for Java Properties object in JSON.",
      "type": "object",
      "properties": {
        "property": {
          "description": "List of all properties in the object",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Property"
          }
        }
      }
    },
    "GoogleCloudApigeeV1CustomReportMetric": {
      "id": "GoogleCloudApigeeV1CustomReportMetric",
      "properties": {
        "function": {
          "description": "aggregate function",
          "type": "string"
        },
        "name": {
          "description": "name of the metric",
          "type": "string"
        }
      },
      "type": "object",
      "description": "This encapsulates a metric property of the form sum(message_count) where name is message_count and function is sum"
    },
    "GoogleCloudApigeeV1AsyncQueryResultView": {
      "id": "GoogleCloudApigeeV1AsyncQueryResultView",
      "type": "object",
      "properties": {
        "rows": {
          "items": {
            "type": "any"
          },
          "description": "Rows of query result. Each row is a JSON object. Example: {sum(message_count): 1, developer_app: \"(not set)\",…}",
          "type": "array"
        },
        "error": {
          "type": "string",
          "description": "Error message when there is a failure."
        },
        "state": {
          "description": "State of retrieving ResultView.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata contains information like metrics, dimenstions etc of the AsyncQuery.",
          "$ref": "GoogleCloudApigeeV1QueryMetadata"
        },
        "code": {
          "description": "Error code when there is a failure.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudApigeeV1CommonNameConfig": {
      "properties": {
        "name": {
          "type": "string"
        },
        "matchWildCards": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1CommonNameConfig"
    },
    "GoogleCloudApigeeV1OptimizedStatsNode": {
      "description": "This message type encapsulates a data node as represented below: { \"identifier\": { \"names\": [ \"apiproxy\" ], \"values\": [ \"sirjee\" ] }, \"metric\": [ { \"env\": \"prod\", \"name\": \"sum(message_count)\", \"values\": [ 36.0 ] } ] } OR { \"env\": \"prod\", \"name\": \"sum(message_count)\", \"values\": [ 36.0 ] } Depending on whether a dimension is present in the query or not the data node type can be a simple metric value or dimension identifier with list of metrics.",
      "id": "GoogleCloudApigeeV1OptimizedStatsNode",
      "properties": {
        "data": {
          "items": {
            "type": "any"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1ReportProperty": {
      "type": "object",
      "properties": {
        "value": {
          "description": "property values",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "type": "array"
        },
        "property": {
          "type": "string",
          "description": "name of the property"
        }
      },
      "id": "GoogleCloudApigeeV1ReportProperty"
    },
    "GoogleCloudApigeeV1ListApiProductsResponse": {
      "properties": {
        "apiProduct": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ApiProduct"
          },
          "description": "Lists all API product names defined for an organization."
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1ListApiProductsResponse"
    },
    "GoogleCloudApigeeV1ActivateNatAddressRequest": {
      "description": "Request for ActivateNatAddressRequest. Activate the nat address request.",
      "id": "GoogleCloudApigeeV1ActivateNatAddressRequest",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudApigeeV1EnvironmentGroup": {
      "type": "object",
      "id": "GoogleCloudApigeeV1EnvironmentGroup",
      "description": "EnvironmentGroup configuration. An environment group is used to group one or more Apigee environments under a single host name.",
      "properties": {
        "createdAt": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The time at which the environment group was created as milliseconds since epoch.",
          "readOnly": true
        },
        "lastModifiedAt": {
          "type": "string",
          "description": "Output only. The time at which the environment group was last updated as milliseconds since epoch.",
          "format": "int64",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "ID of the environment group."
        },
        "hostnames": {
          "type": "array",
          "description": "Required. Host names for this environment group.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "properties": {}
    },
    "GoogleCloudApigeeV1FlowHookConfig": {
      "type": "object",
      "id": "GoogleCloudApigeeV1FlowHookConfig",
      "properties": {
        "name": {
          "description": "Name of the flow hook in the following format: `organizations/{org}/environments/{env}/flowhooks/{point}`. Valid `point` values include: `PreProxyFlowHook`, `PostProxyFlowHook`, `PreTargetFlowHook`, and `PostTargetFlowHook`",
          "type": "string"
        },
        "continueOnError": {
          "description": "Flag that specifies whether the flow should abort after an error in the flow hook. Defaults to `true` (continue on error).",
          "type": "boolean"
        },
        "sharedFlowName": {
          "type": "string",
          "description": "Name of the shared flow to invoke in the following format: `organizations/{org}/sharedflows/{sharedflow}`"
        }
      }
    },
    "GoogleCloudApigeeV1ReportInstanceStatusResponse": {
      "description": "Placeholder for future enhancements to status reporting protocol",
      "type": "object",
      "id": "GoogleCloudApigeeV1ReportInstanceStatusResponse",
      "properties": {}
    },
    "GoogleCloudApigeeV1ListOrganizationsResponse": {
      "properties": {
        "organizations": {
          "items": {
            "$ref": "GoogleCloudApigeeV1OrganizationProjectMapping"
          },
          "type": "array",
          "description": "List of Apigee organizations and associated GCP projects."
        }
      },
      "id": "GoogleCloudApigeeV1ListOrganizationsResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1App": {
      "properties": {
        "callbackUrl": {
          "description": "Callback URL used by OAuth 2.0 authorization servers to communicate authorization codes back to apps.",
          "type": "string"
        },
        "companyName": {
          "description": "Name of the company that owns the app.",
          "type": "string"
        },
        "appId": {
          "type": "string",
          "description": "ID of the app."
        },
        "credentials": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Credential"
          },
          "description": "Output only. Set of credentials for the app. Credentials are API key/secret pairs associated with API products.",
          "readOnly": true,
          "type": "array"
        },
        "attributes": {
          "description": "List of attributes.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "type": "array"
        },
        "status": {
          "type": "string",
          "description": "Status of the credential."
        },
        "name": {
          "type": "string",
          "description": "Name of the app."
        },
        "apiProducts": {
          "description": "List of API products associated with the app.",
          "items": {
            "$ref": "GoogleCloudApigeeV1ApiProductRef"
          },
          "type": "array"
        },
        "developerId": {
          "type": "string",
          "description": "ID of the developer."
        },
        "scopes": {
          "type": "array",
          "description": "Scopes to apply to the app. The specified scope names must already exist on the API product that you associate with the app.",
          "items": {
            "type": "string"
          }
        },
        "keyExpiresIn": {
          "description": "Duration, in milliseconds, of the consumer key that will be generated for the app. The default value, -1, indicates an infinite validity period. Once set, the expiration can't be updated. json key: keyExpiresIn",
          "type": "string",
          "format": "int64"
        },
        "createdAt": {
          "description": "Output only. Unix time when the app was created.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "lastModifiedAt": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Last modified time as milliseconds since epoch.",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1App"
    },
    "GoogleCloudApigeeV1ApiCategory": {
      "description": "the Api category resource wrapped with response status, error_code etc.",
      "id": "GoogleCloudApigeeV1ApiCategory",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "ID that can be used to find request details in the log files.",
          "type": "string"
        },
        "status": {
          "description": "Status of the operation.",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "Description of the operation."
        },
        "data": {
          "$ref": "GoogleCloudApigeeV1ApiCategoryData",
          "description": "Details of category."
        },
        "errorCode": {
          "type": "string",
          "description": "ID that can be used to find errors in the log files."
        }
      }
    },
    "GoogleCloudApigeeV1ListInstanceAttachmentsResponse": {
      "id": "GoogleCloudApigeeV1ListInstanceAttachmentsResponse",
      "description": "Response for ListInstanceAttachments.",
      "type": "object",
      "properties": {
        "attachments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1InstanceAttachment"
          },
          "description": "Attachments for the instance."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token that you can include in a ListInstanceAttachments request to retrieve the next page of content. If omitted, no subsequent pages exist."
        }
      }
    },
    "GoogleCloudApigeeV1ListNatAddressesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Page token that you can include in a ListNatAddresses request to retrieve the next page of content. If omitted, no subsequent pages exist.",
          "type": "string"
        },
        "natAddresses": {
          "description": "List of NAT Addresses for the instance.",
          "items": {
            "$ref": "GoogleCloudApigeeV1NatAddress"
          },
          "type": "array"
        }
      },
      "description": "Response for ListNatAddresses.",
      "id": "GoogleCloudApigeeV1ListNatAddressesResponse"
    },
    "GoogleCloudApigeeV1ListHybridIssuersResponse": {
      "id": "GoogleCloudApigeeV1ListHybridIssuersResponse",
      "type": "object",
      "properties": {
        "issuers": {
          "type": "array",
          "description": "Lists of hybrid services and its trusted issuer email ids.",
          "items": {
            "$ref": "GoogleCloudApigeeV1ServiceIssuersMapping"
          }
        }
      }
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1DatastoreConfig": {
      "description": "Configuration detail for datastore",
      "properties": {
        "tablePrefix": {
          "description": "Prefix of BigQuery table Required for `bigquery` target_type.",
          "type": "string"
        },
        "path": {
          "description": "Path of Cloud Storage bucket Required for `gcs` target_type.",
          "type": "string"
        },
        "projectId": {
          "description": "Required. GCP project in which the datastore exists",
          "type": "string"
        },
        "bucketName": {
          "type": "string",
          "description": "Name of the Cloud Storage bucket. Required for `gcs` target_type."
        },
        "datasetName": {
          "description": "BigQuery dataset name Required for `bigquery` target_type.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1DatastoreConfig"
    },
    "GoogleCloudApigeeV1Subscription": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Full name of the Pub/Sub subcription. Use the following structure in your request: `subscription \"projects/foo/subscription/bar\"`"
        }
      },
      "description": "Pub/Sub subscription of an environment.",
      "id": "GoogleCloudApigeeV1Subscription"
    },
    "GoogleCloudApigeeV1TargetServer": {
      "type": "object",
      "id": "GoogleCloudApigeeV1TargetServer",
      "description": "TargetServer configuration. TargetServers are used to decouple a proxy's TargetEndpoint HTTPTargetConnections from concrete URLs for backend services.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. A human-readable description of this TargetServer."
        },
        "port": {
          "format": "int32",
          "description": "Required. The port number this target connects to on the given host. Value must be between 1 and 65535, inclusive.",
          "type": "integer"
        },
        "host": {
          "description": "Required. The host name this target connects to. Value must be a valid hostname as described by RFC-1123.",
          "type": "string"
        },
        "name": {
          "description": "Required. The resource id of this target server. Values must match the regular expression ",
          "type": "string"
        },
        "isEnabled": {
          "description": "Optional. Enabling/disabling a TargetServer is useful when TargetServers are used in load balancing configurations, and one or more TargetServers need to taken out of rotation periodically. Defaults to true.",
          "type": "boolean"
        },
        "sSLInfo": {
          "$ref": "GoogleCloudApigeeV1TlsInfo",
          "description": "Optional. Specifies TLS configuration info for this TargetServer. The JSON name is `sSLInfo` for legacy/backwards compatibility reasons -- Edge originally supported SSL, and the name is still used for TLS configuration."
        }
      }
    },
    "GoogleCloudApigeeV1AliasRevisionConfig": {
      "id": "GoogleCloudApigeeV1AliasRevisionConfig",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Alias type is not specified.",
            "Certificate.",
            "Key/certificate pair."
          ],
          "type": "string",
          "enum": [
            "ALIAS_TYPE_UNSPECIFIED",
            "CERT",
            "KEY_CERT"
          ]
        },
        "location": {
          "description": "Location of the alias file. For example, a Google Cloud Storage URI.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the alias revision included in the keystore in the following format: `organizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}/revisions/{rev}`"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1Developer": {
      "type": "object",
      "id": "GoogleCloudApigeeV1Developer",
      "properties": {
        "lastModifiedAt": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time at which the developer was last modified in milliseconds since epoch.",
          "format": "int64"
        },
        "createdAt": {
          "format": "int64",
          "description": "Output only. Time at which the developer was created in milliseconds since epoch.",
          "readOnly": true,
          "type": "string"
        },
        "lastName": {
          "description": "Required. Last name of the developer.",
          "type": "string"
        },
        "accessType": {
          "description": "Access type.",
          "type": "string"
        },
        "apps": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of apps associated with the developer."
        },
        "appFamily": {
          "type": "string",
          "description": "Developer app family."
        },
        "attributes": {
          "description": "Optional. Developer attributes (name/value pairs). The custom attribute limit is 18.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "type": "array"
        },
        "email": {
          "type": "string",
          "description": "Required. Email address of the developer. This value is used to uniquely identify the developer in Apigee hybrid. Note that the email address has to be in lowercase only."
        },
        "organizationName": {
          "readOnly": true,
          "description": "Output only. Name of the Apigee organization in which the developer resides.",
          "type": "string"
        },
        "userName": {
          "type": "string",
          "description": "Required. User name of the developer. Not used by Apigee hybrid."
        },
        "companies": {
          "description": "List of companies associated with the developer.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "firstName": {
          "description": "Required. First name of the developer.",
          "type": "string"
        },
        "developerId": {
          "description": "ID of the developer. **Note**: IDs are generated internally by Apigee and are not guaranteed to stay the same over time.",
          "type": "string"
        },
        "status": {
          "description": "Output only. Status of the developer. Valid values are `active` and `inactive`.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1QueryMetadata": {
      "properties": {
        "metrics": {
          "items": {
            "type": "string"
          },
          "description": "Metrics of the AsyncQuery. Example: [\"name:message_count,func:sum,alias:sum_message_count\"]",
          "type": "array"
        },
        "timeUnit": {
          "type": "string",
          "description": "Query GroupBy time unit."
        },
        "endTimestamp": {
          "description": "End timestamp of the query range.",
          "type": "string"
        },
        "dimensions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Dimensions of the AsyncQuery."
        },
        "outputFormat": {
          "description": "Output format.",
          "type": "string"
        },
        "startTimestamp": {
          "type": "string",
          "description": "Start timestamp of the query range."
        }
      },
      "id": "GoogleCloudApigeeV1QueryMetadata",
      "type": "object"
    },
    "GoogleCloudApigeeV1Session": {
      "id": "GoogleCloudApigeeV1Session",
      "properties": {
        "timestampMs": {
          "description": "The first transaction creation timestamp in millisecond, recoreded by UAP.",
          "type": "string",
          "format": "int64"
        },
        "id": {
          "type": "string",
          "description": "The debug session ID."
        }
      },
      "description": "Session carries the debug session id and its creation time.",
      "type": "object"
    },
    "GoogleCloudApigeeV1Organization": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "runtimeType": {
          "enumDescriptions": [
            "Runtime type not specified.",
            "Google-managed Apigee runtime.",
            "User-managed Apigee hybrid runtime."
          ],
          "description": "Required. Runtime type of the Apigee organization based on the Apigee subscription purchased.",
          "enum": [
            "RUNTIME_TYPE_UNSPECIFIED",
            "CLOUD",
            "HYBRID"
          ],
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "The project ID associated with the Apigee organization."
        },
        "createdAt": {
          "readOnly": true,
          "description": "Output only. Time that the Apigee organization was created in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "properties": {
          "$ref": "GoogleCloudApigeeV1Properties",
          "description": "Properties defined in the Apigee organization profile."
        },
        "analyticsRegion": {
          "description": "Required. Primary GCP region for analytics data storage. For valid values, see [Create an Apigee organization](https://cloud.google.com/apigee/docs/api-platform/get-started/create-org).",
          "type": "string"
        },
        "subscriptionType": {
          "enum": [
            "SUBSCRIPTION_TYPE_UNSPECIFIED",
            "PAID",
            "TRIAL"
          ],
          "description": "Output only. Subscription type of the Apigee organization. Valid values include trial (free, limited, and for evaluation purposes only) or paid (full subscription has been purchased). See [Apigee pricing](https://cloud.google.com/apigee/pricing/).",
          "enumDescriptions": [
            "Subscription type not specified.",
            "Full subscription to Apigee has been purchased.",
            "Subscription to Apigee is free, limited, and used for evaluation purposes only."
          ],
          "type": "string",
          "readOnly": true
        },
        "runtimeDatabaseEncryptionKeyName": {
          "type": "string",
          "description": "Cloud KMS key name used for encrypting the data that is stored and replicated across runtime instances. Update is not allowed after the organization is created. If not specified, a Google-Managed encryption key will be used. Valid only when [RuntimeType] is CLOUD. For example: \"projects/foo/locations/us/keyRings/bar/cryptoKeys/baz\". **Note:** Not supported for Apigee hybrid."
        },
        "type": {
          "enumDescriptions": [
            "Subscription type not specified.",
            "Subscription to Apigee is free, limited, and used for evaluation purposes only.",
            "Full subscription to Apigee has been purchased. See [Apigee pricing](https://cloud.google.com/apigee/pricing/).",
            "For internal users only."
          ],
          "type": "string",
          "description": "Not used by Apigee.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_TRIAL",
            "TYPE_PAID",
            "TYPE_INTERNAL"
          ]
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the Apigee organization."
        },
        "caCertificate": {
          "description": "Output only. Base64-encoded public certificate for the root CA of the Apigee organization. Valid only when [RuntimeType] is CLOUD.",
          "type": "string",
          "readOnly": true,
          "format": "byte"
        },
        "description": {
          "description": "Description of the Apigee organization.",
          "type": "string"
        },
        "authorizedNetwork": {
          "type": "string",
          "description": "Compute Engine network used for Service Networking to be peered with Apigee runtime instances. See [Getting started with the Service Networking API](https://cloud.google.com/service-infrastructure/docs/service-networking/getting-started). Valid only when [RuntimeType] is set to CLOUD. The value can be updated only when there are no runtime instances. For example: \"default\". **Note:** Not supported for Apigee hybrid."
        },
        "environments": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. List of environments in the Apigee organization."
        },
        "lastModifiedAt": {
          "readOnly": true,
          "description": "Output only. Time that the Apigee organization was last modified in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        },
        "attributes": {
          "description": "Not used by Apigee.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "customerName": {
          "type": "string",
          "description": "Not used by Apigee."
        }
      },
      "id": "GoogleCloudApigeeV1Organization"
    },
    "GoogleCloudApigeeV1Credential": {
      "type": "object",
      "properties": {
        "status": {
          "description": "Status of the credential.",
          "type": "string"
        },
        "consumerKey": {
          "type": "string",
          "description": "Consumer key."
        },
        "apiProducts": {
          "items": {
            "$ref": "GoogleCloudApigeeV1ApiProductRef"
          },
          "type": "array",
          "description": "List of API products this credential can be used for."
        },
        "attributes": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "description": "List of attributes associated with this credential.",
          "type": "array"
        },
        "expiresAt": {
          "description": "Time the credential will expire in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        },
        "issuedAt": {
          "type": "string",
          "format": "int64",
          "description": "Time the credential was issued in milliseconds since epoch."
        },
        "consumerSecret": {
          "description": "Secret key.",
          "type": "string"
        },
        "scopes": {
          "description": "List of scopes to apply to the app. Specified scopes must already exist on the API product that you associate with the app.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudApigeeV1Credential"
    },
    "GoogleCloudApigeeV1ListSharedFlowsResponse": {
      "id": "GoogleCloudApigeeV1ListSharedFlowsResponse",
      "type": "object",
      "properties": {
        "sharedFlows": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1SharedFlow"
          }
        }
      }
    },
    "GoogleCloudApigeeV1ListEnvironmentResourcesResponse": {
      "type": "object",
      "description": "Response for ListEnvironmentResources",
      "id": "GoogleCloudApigeeV1ListEnvironmentResourcesResponse",
      "properties": {
        "resourceFile": {
          "type": "array",
          "description": "List of resources files.",
          "items": {
            "$ref": "GoogleCloudApigeeV1ResourceFile"
          }
        }
      }
    },
    "GoogleCloudApigeeV1Query": {
      "properties": {
        "reportDefinitionId": {
          "type": "string",
          "description": "Asynchronous Report ID."
        },
        "limit": {
          "type": "integer",
          "description": "Maximum number of rows that can be returned in the result.",
          "format": "int32"
        },
        "timeRange": {
          "type": "any",
          "description": "Required. Time range for the query. Can use the following predefined strings to specify the time range: `last60minutes` `last24hours` `last7days` Or, specify the timeRange as a structure describing start and end timestamps in the ISO format: yyyy-mm-ddThh:mm:ssZ. Example: \"timeRange\": { \"start\": \"2018-07-29T00:13:00Z\", \"end\": \"2018-08-01T00:18:00Z\" }"
        },
        "filter": {
          "description": "Boolean expression that can be used to filter data. Filter expressions can be combined using AND/OR terms and should be fully parenthesized to avoid ambiguity. See Analytics metrics, dimensions, and filters reference https://docs.apigee.com/api-platform/analytics/analytics-reference for more information on the fields available to filter on. For more information on the tokens that you use to build filter expressions, see Filter expression syntax. https://docs.apigee.com/api-platform/analytics/asynch-reports-api#filter-expression-syntax",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Asynchronous Query Name."
        },
        "outputFormat": {
          "type": "string",
          "description": "Valid values include: `csv` or `json`. Defaults to `json`. Note: Configure the delimiter for CSV output using the csvDelimiter property."
        },
        "dimensions": {
          "items": {
            "type": "string"
          },
          "description": "A list of dimensions. https://docs.apigee.com/api-platform/analytics/analytics-reference#dimensions",
          "type": "array"
        },
        "metrics": {
          "type": "array",
          "description": "A list of Metrics.",
          "items": {
            "$ref": "GoogleCloudApigeeV1QueryMetric"
          }
        },
        "envgroupHostname": {
          "description": "Hostname needs to be specified if query intends to run at host level. This field is only allowed when query is submitted by CreateHostAsyncQuery where analytics data will be grouped by organization and hostname.",
          "type": "string"
        },
        "csvDelimiter": {
          "description": "Delimiter used in the CSV file, if `outputFormat` is set to `csv`. Defaults to the `,` (comma) character. Supported delimiter characters include comma (`,`), pipe (`|`), and tab (`\\t`).",
          "type": "string"
        },
        "groupByTimeUnit": {
          "description": "Time unit used to group the result set. Valid values include: second, minute, hour, day, week, or month. If a query includes groupByTimeUnit, then the result is an aggregation based on the specified time unit and the resultant timestamp does not include milliseconds precision. If a query omits groupByTimeUnit, then the resultant timestamp includes milliseconds precision.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1Query"
    },
    "GoogleCloudApigeeV1Stats": {
      "id": "GoogleCloudApigeeV1Stats",
      "type": "object",
      "description": "This message type encapsulates a stats response.",
      "properties": {
        "hosts": {
          "description": "This field contains a list of query results grouped by host.",
          "items": {
            "$ref": "GoogleCloudApigeeV1StatsHostStats"
          },
          "type": "array"
        },
        "metaData": {
          "$ref": "GoogleCloudApigeeV1Metadata",
          "description": "This field contains the metadata information."
        },
        "environments": {
          "items": {
            "$ref": "GoogleCloudApigeeV1StatsEnvironmentStats"
          },
          "type": "array",
          "description": "This field contains a list of query results on environment level."
        }
      }
    },
    "GoogleCloudApigeeV1ListDeveloperAppsResponse": {
      "type": "object",
      "id": "GoogleCloudApigeeV1ListDeveloperAppsResponse",
      "properties": {
        "app": {
          "description": "List of developer apps and their credentials.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1DeveloperApp"
          }
        }
      }
    },
    "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment": {
      "id": "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment",
      "properties": {
        "apiProxy": {
          "type": "string",
          "description": "The name of the deployed proxy revision containing the basepath."
        },
        "revision": {
          "type": "string",
          "description": "The name of the deployed proxy revision containing the basepath."
        },
        "environment": {
          "description": "The name of the environment in which the proxy is deployed.",
          "type": "string"
        },
        "basepath": {
          "description": "The basepath receiving traffic.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A tuple representing a basepath and the deployment containing it."
    },
    "GoogleCloudApigeeV1TargetServerConfig": {
      "id": "GoogleCloudApigeeV1TargetServerConfig",
      "properties": {
        "host": {
          "type": "string",
          "description": "Host name of the target server."
        },
        "name": {
          "description": "Target server revision name in the following format: `organizations/{org}/environments/{env}/targetservers/{targetserver}/revisions/{rev}`",
          "type": "string"
        },
        "tlsInfo": {
          "description": "TLS settings for the target server.",
          "$ref": "GoogleCloudApigeeV1TlsInfoConfig"
        },
        "port": {
          "description": "Port number for the target server.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1ListDataCollectorsResponse": {
      "id": "GoogleCloudApigeeV1ListDataCollectorsResponse",
      "properties": {
        "dataCollectors": {
          "description": "Data collectors in the specified organization.",
          "items": {
            "$ref": "GoogleCloudApigeeV1DataCollector"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Page token that you can include in a ListDataCollectors request to retrieve the next page. If omitted, no subsequent pages exist.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response for ListDataCollectors."
    },
    "GoogleCloudApigeeV1KeyAliasReference": {
      "id": "GoogleCloudApigeeV1KeyAliasReference",
      "properties": {
        "reference": {
          "description": "Reference name in the following format: `organizations/{org}/environments/{env}/references/{reference}`",
          "type": "string"
        },
        "aliasId": {
          "description": "Alias ID. Must exist in the keystore referred to by the reference.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1ApiProxyRevision": {
      "description": "API proxy revision.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the API proxy revision."
        },
        "type": {
          "description": "Type. Set to `Application`. Maintained for compatibility with the Apigee Edge API.",
          "type": "string"
        },
        "configurationVersion": {
          "description": "Version of the API proxy configuration schema to which the API proxy conforms. Currently, the only supported value is 4.0 (`majorVersion.minorVersion`). This setting may be used in the future to track the evolution of the API proxy format.",
          "$ref": "GoogleCloudApigeeV1ConfigVersion"
        },
        "spec": {
          "description": "OpenAPI Specification that is associated with the API proxy. The value is set to a URL or to a path in the specification store.",
          "type": "string"
        },
        "proxyEndpoints": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of ProxyEndpoints in the `/proxies` directory of the API proxy. Typically, this element is included only when the API proxy was created using the Edge UI. This is a 'manifest' setting designed to provide visibility into the contents of the API proxy."
        },
        "contextInfo": {
          "description": "Revision number, app name, and organization for the API proxy.",
          "type": "string"
        },
        "resources": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of the resources included in the API proxy revision formatted as \"{type}://{name}\"."
        },
        "displayName": {
          "type": "string",
          "description": "Human-readable name of the API proxy."
        },
        "entityMetaDataAsProperties": {
          "description": "Metadata describing the API proxy revision as a key-value map.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "sharedFlows": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of the shared flows included in the API proxy revision."
        },
        "lastModifiedAt": {
          "format": "int64",
          "type": "string",
          "description": "Time that the API proxy revision was last modified in milliseconds since epoch."
        },
        "policies": {
          "type": "array",
          "description": "List of policy names included in the API proxy revision..",
          "items": {
            "type": "string"
          }
        },
        "teams": {
          "description": "List of the teams included in the API proxy revision.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "createdAt": {
          "format": "int64",
          "type": "string",
          "description": "Time that the API proxy revision was created in milliseconds since epoch."
        },
        "resourceFiles": {
          "$ref": "GoogleCloudApigeeV1ResourceFiles",
          "description": "List of resource files included in the API proxy revision."
        },
        "proxies": {
          "description": "List of proxy names included in the API proxy revision.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "basepaths": {
          "description": "Base URL of the API proxy.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "targets": {
          "description": "List of the targets included in the API proxy revision.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "targetServers": {
          "description": "List of TargetServers referenced in any TargetEndpoint in the API proxy. Typically, you will see this element only when the API proxy was created using the Edge UI. This is a 'manifest' setting designed to provide visibility into the contents of the API proxy.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "revision": {
          "type": "string",
          "description": "API proxy revision."
        },
        "name": {
          "description": "Name of the API proxy.",
          "type": "string"
        },
        "targetEndpoints": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of TargetEndpoints in the `/targets` directory of the API proxy. Typically, this element is included only when the API proxy was created using the Edge UI. This is a 'manifest' setting designed to provide visibility into the contents of the API proxy."
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1ApiProxyRevision"
    },
    "GoogleCloudApigeeV1Keystore": {
      "type": "object",
      "id": "GoogleCloudApigeeV1Keystore",
      "description": "Datastore for Certificates and Aliases.",
      "properties": {
        "aliases": {
          "description": "Output only. Aliases in this keystore.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Required. Resource ID for this keystore. Values must match the regular expression `[\\w[:space:]-.]{1,255}`."
        }
      }
    },
    "GoogleCloudApigeeV1Property": {
      "description": "A single property entry in the Properties message.",
      "type": "object",
      "id": "GoogleCloudApigeeV1Property",
      "properties": {
        "value": {
          "description": "The property value",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The property key"
        }
      }
    },
    "GoogleCloudApigeeV1OptimizedStats": {
      "type": "object",
      "properties": {
        "Response": {
          "description": "This field wraps the stats response for Js Optimized Scenario with a Response key. E.g. { \"Response\": { \"TimeUnit\": [], \"metaData\": { \"errors\": [], \"notices\": [ \"Source:Postgres\", \"Table used: edge.api.aaxgroup001.agg_api\", \"PG Host:ruappg08-ro.production.apigeeks.net\", \"query served by:80c4ebca-6a10-4a2e-8faf-c60c1ee306ca\" ] }, \"resultTruncated\": false, \"stats\": { \"data\": [ { \"identifier\": { \"names\": [ \"apiproxy\" ], \"values\": [ \"sirjee\" ] }, \"metric\": [ { \"env\": \"prod\", \"name\": \"sum(message_count)\", \"values\": [ 36.0 ] }, { \"env\": \"prod\", \"name\": \"sum(is_error)\", \"values\": [ 36.0 ] } ] } ] } } }",
          "$ref": "GoogleCloudApigeeV1OptimizedStatsResponse"
        }
      },
      "id": "GoogleCloudApigeeV1OptimizedStats"
    },
    "GoogleCloudApigeeV1Operation": {
      "type": "object",
      "description": "Operation represents the pairing of REST resource path and the actions (verbs) allowed on the resource path.",
      "properties": {
        "methods": {
          "items": {
            "type": "string"
          },
          "description": "methods refers to the REST verbs as in https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html. When none specified, all verb types are allowed.",
          "type": "array"
        },
        "resource": {
          "description": "Required. resource represents REST resource path associated with the proxy/remote service.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1Operation"
    },
    "GoogleCloudApigeeV1AccessGet": {
      "description": "Get action. For example, \"Get\" : { \"name\" : \"target.name\", \"value\" : \"default\" }",
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1AccessGet"
    },
    "GoogleCloudApigeeV1RevisionStatus": {
      "type": "object",
      "description": "The status of a specific resource revision.",
      "id": "GoogleCloudApigeeV1RevisionStatus",
      "properties": {
        "revisionId": {
          "description": "The revision of the resource.",
          "type": "string"
        },
        "replicas": {
          "format": "int32",
          "description": "The number of replicas that have successfully loaded this revision.",
          "type": "integer"
        },
        "jsonSpec": {
          "description": "The json content of the resource revision.",
          "type": "string"
        },
        "errors": {
          "description": "Errors reported when attempting to load this revision.",
          "items": {
            "$ref": "GoogleCloudApigeeV1UpdateError"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudApigeeV1Instance": {
      "id": "GoogleCloudApigeeV1Instance",
      "description": "Apigee runtime instance.",
      "type": "object",
      "properties": {
        "lastModifiedAt": {
          "description": "Output only. Time the instance was last modified in milliseconds since epoch.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Display name for the instance."
        },
        "createdAt": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Time the instance was created in milliseconds since epoch.",
          "type": "string"
        },
        "host": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Hostname or IP address of the exposed Apigee endpoint used by clients to connect to the service."
        },
        "port": {
          "description": "Output only. Port number of the exposed Apigee endpoint.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the instance. Values other than ACTIVE means the resource is not ready to use.",
          "enumDescriptions": [
            "Resource is in an unspecified state.",
            "Resource is being created.",
            "Resource is provisioned and ready to use.",
            "The resource is being deleted."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING"
          ]
        },
        "name": {
          "description": "Required. Resource ID of the instance. Values must match the regular expression `^a-z{0,30}[a-z\\d]$`.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the instance.",
          "type": "string"
        },
        "diskEncryptionKeyName": {
          "type": "string",
          "description": "Customer Managed Encryption Key (CMEK) used for disk and volume encryption. Required for Apigee paid subscriptions only. Use the following format: `projects/([^/]+)/locations/([^/]+)/keyRings/([^/]+)/cryptoKeys/([^/]+)`"
        },
        "location": {
          "type": "string",
          "description": "Required. Compute Engine location where the instance resides."
        }
      }
    },
    "GoogleCloudApigeeV1IngressConfig": {
      "type": "object",
      "properties": {
        "uid": {
          "type": "string",
          "description": "A unique id for the ingress config that will only change if the organization is deleted and recreated."
        },
        "name": {
          "description": "Name of the resource in the following format: `organizations/{org}/deployedIngressConfig`.",
          "type": "string"
        },
        "environmentGroups": {
          "type": "array",
          "description": "List of environment groups in the organization.",
          "items": {
            "$ref": "GoogleCloudApigeeV1EnvironmentGroupConfig"
          }
        },
        "revisionId": {
          "type": "string",
          "format": "int64",
          "description": "Revision id that defines the ordering on IngressConfig resources. The higher the revision, the more recently the configuration was deployed."
        },
        "revisionCreateTime": {
          "type": "string",
          "description": "Time at which the IngressConfig revision was created.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudApigeeV1IngressConfig"
    },
    "GoogleCloudApigeeV1Deployment": {
      "properties": {
        "routeConflicts": {
          "description": "Conflicts in the desired state routing configuration. The presence of conflicts does not cause the state to be ERROR, but it will mean that some of the deployments basepaths are not routed to its environment. If the conflicts change, the state will transition to PROGRESSING until the latest configuration is rolled out to all instances. This field is not populated in List APIs.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingConflict"
          }
        },
        "apiProxy": {
          "type": "string",
          "description": "API proxy."
        },
        "errors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "Errors reported for this deployment. Populated only when state == ERROR. This field is not populated in List APIs."
        },
        "instances": {
          "items": {
            "$ref": "GoogleCloudApigeeV1InstanceDeploymentStatus"
          },
          "description": "Status reported by each runtime instance. This field is not populated in List APIs.",
          "type": "array"
        },
        "revision": {
          "description": "API proxy revision.",
          "type": "string"
        },
        "environment": {
          "type": "string",
          "description": "Environment."
        },
        "pods": {
          "items": {
            "$ref": "GoogleCloudApigeeV1PodStatus"
          },
          "description": "Status reported by runtime pods. This field is not populated for List APIs.",
          "type": "array"
        },
        "state": {
          "description": "Current state of the deployment. This field is not populated in List APIs.",
          "enum": [
            "RUNTIME_STATE_UNSPECIFIED",
            "READY",
            "PROGRESSING",
            "ERROR"
          ],
          "enumDescriptions": [
            "This value should never be returned.",
            "The runtime has loaded the deployment.",
            "The deployment is not fully ready in the runtime.",
            "There is an error with the deployment that requires intervention."
          ],
          "type": "string"
        },
        "deployStartTime": {
          "description": "Time the API proxy was marked `deployed` in the control plane in millisconds since epoch.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1Deployment"
    },
    "GoogleCloudApigeeV1Attribute": {
      "properties": {
        "value": {
          "description": "Value of the attribute.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "API key of the attribute."
        }
      },
      "description": "Key-value pair to store extra metadata.",
      "id": "GoogleCloudApigeeV1Attribute",
      "type": "object"
    },
    "GoogleTypeExpr": {
      "id": "GoogleTypeExpr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1Datastore": {
      "type": "object",
      "description": "The data store defines the connection to export data repository (Cloud Storage, BigQuery), including the credentials used to access the data repository.",
      "id": "GoogleCloudApigeeV1Datastore",
      "properties": {
        "org": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Organization that the datastore belongs to"
        },
        "displayName": {
          "description": "Required. Display name in UI",
          "type": "string"
        },
        "self": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource link of Datastore. Example: `/organizations/{org}/analytics/datastores/{uuid}`"
        },
        "createTime": {
          "description": "Output only. Datastore create time, in milliseconds since the epoch of 1970-01-01T00:00:00Z",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "datastoreConfig": {
          "description": "Datastore Configurations.",
          "$ref": "GoogleCloudApigeeV1DatastoreConfig"
        },
        "lastUpdateTime": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Datastore last update time, in milliseconds since the epoch of 1970-01-01T00:00:00Z"
        },
        "targetType": {
          "description": "Destination storage type. Supported types `gcs` or `bigquery`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1OperationMetadata": {
      "type": "object",
      "description": "Metadata describing an Operation.",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "FINISHED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "targetResourceName": {
          "description": "Name of the resource for which the operation is operating on.",
          "type": "string"
        },
        "operationType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "INSERT",
            "DELETE",
            "UPDATE"
          ]
        }
      },
      "id": "GoogleCloudApigeeV1OperationMetadata"
    },
    "GoogleCloudApigeeV1ReportInstanceStatusRequest": {
      "properties": {
        "resources": {
          "items": {
            "$ref": "GoogleCloudApigeeV1ResourceStatus"
          },
          "type": "array",
          "description": "Status for config resources"
        },
        "reportTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the report was generated in the runtime. Used to prevent an old status from overwriting a newer one. An instance should space out it's status reports so that clock skew does not play a factor."
        },
        "instanceUid": {
          "description": "A unique ID for the instance which is guaranteed to be unique in case the user installs multiple hybrid runtimes with the same instance ID.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1ReportInstanceStatusRequest",
      "description": "Request for ReportInstanceStatus."
    },
    "GoogleCloudApigeeV1Export": {
      "type": "object",
      "properties": {
        "executionTime": {
          "readOnly": true,
          "description": "Output only. Execution time for this export job. If the job is still in progress, it will be set to the amount of time that has elapsed since`created`, in seconds. Else, it will set to (`updated` - `created`), in seconds.",
          "type": "string"
        },
        "created": {
          "type": "string",
          "description": "Output only. Time the export job was created.",
          "readOnly": true
        },
        "datastoreName": {
          "description": "Name of the datastore that is the destination of the export job [datastore]",
          "type": "string"
        },
        "updated": {
          "readOnly": true,
          "description": "Output only. Time the export job was last updated.",
          "type": "string"
        },
        "error": {
          "readOnly": true,
          "description": "Output only. Error is set when export fails",
          "type": "string"
        },
        "description": {
          "description": "Description of the export job.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Display name of the export job."
        },
        "self": {
          "description": "Output only. Self link of the export job. A URI that can be used to retrieve the status of an export job. Example: `/organizations/myorg/environments/myenv/analytics/exports/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd`",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "description": "Output only. Status of the export job. Valid values include `enqueued`, `running`, `completed`, and `failed`.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleCloudApigeeV1Export",
      "description": "Details of an export job."
    },
    "GoogleCloudApigeeV1QueryMetric": {
      "description": "More info about Metric: https://docs.apigee.com/api-platform/analytics/analytics-reference#metrics",
      "id": "GoogleCloudApigeeV1QueryMetric",
      "type": "object",
      "properties": {
        "operator": {
          "description": "One of `+`, `-`, `/`, `%`, `*`.",
          "type": "string"
        },
        "function": {
          "type": "string",
          "description": "Aggregation function: avg, min, max, or sum."
        },
        "name": {
          "description": "Required. Metric name.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Operand value should be provided when operator is set."
        },
        "alias": {
          "description": "Alias for the metric. Alias will be used to replace metric name in query results.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1ListAsyncQueriesResponse": {
      "properties": {
        "queries": {
          "type": "array",
          "description": "The asynchronous queries belong to requested resource name.",
          "items": {
            "$ref": "GoogleCloudApigeeV1AsyncQuery"
          }
        }
      },
      "description": "The response for ListAsyncQueries.",
      "id": "GoogleCloudApigeeV1ListAsyncQueriesResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1DeploymentConfig": {
      "type": "object",
      "id": "GoogleCloudApigeeV1DeploymentConfig",
      "properties": {
        "attributes": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Additional key-value metadata for the deployment."
        },
        "location": {
          "type": "string",
          "description": "Location of the API proxy bundle as a URI."
        },
        "basePath": {
          "type": "string",
          "description": "Base path where the application will be hosted. Defaults to \"/\"."
        },
        "name": {
          "type": "string",
          "description": "Name of the API or shared flow revision to be deployed in the following format: `organizations/{org}/apis/{api}/revisions/{rev}` or `organizations/{org}/sharedflows/{sharedflow}/revisions/{rev}`"
        },
        "uid": {
          "description": "Unique ID. The ID will only change if the deployment is deleted and recreated.",
          "type": "string"
        },
        "proxyUid": {
          "description": "Unique ID of the API proxy revision.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1RuntimeTraceSamplingConfig": {
      "type": "object",
      "id": "GoogleCloudApigeeV1RuntimeTraceSamplingConfig",
      "properties": {
        "samplingRate": {
          "format": "float",
          "type": "number",
          "description": "Field sampling rate. This value is only applicable when using the PROBABILITY sampler. The supported values are \u003e 0 and \u003c= 0.5."
        },
        "sampler": {
          "enum": [
            "SAMPLER_UNSPECIFIED",
            "OFF",
            "PROBABILITY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Sampler unspecified.",
            "OFF means distributed trace is disabled, or the sampling probability is 0.",
            "PROBABILITY means traces are captured on a probability that defined by sampling_rate. The sampling rate is limited to 0 to 0.5 when this is set."
          ],
          "description": "Sampler of distributed tracing. OFF is the default value."
        }
      },
      "description": "NEXT ID: 3 RuntimeTraceSamplingConfig represents the detail settings of distributed tracing. Only the fields that are defined in the distributed trace configuration can be overridden using the distribute trace configuration override APIs."
    },
    "GoogleCloudApigeeV1RuntimeTraceConfigOverride": {
      "description": "NEXT ID: 7 Trace configuration override for a specific API proxy in an environment.",
      "id": "GoogleCloudApigeeV1RuntimeTraceConfigOverride",
      "properties": {
        "name": {
          "description": "Name of the trace config override in the following format: `organizations/{org}/environment/{env}/traceConfig/overrides/{override}`",
          "type": "string"
        },
        "revisionCreateTime": {
          "format": "google-datetime",
          "description": "The timestamp that the revision was created or updated.",
          "type": "string"
        },
        "samplingConfig": {
          "$ref": "GoogleCloudApigeeV1RuntimeTraceSamplingConfig",
          "description": "Trace configuration override for a specific API proxy in an environment."
        },
        "uid": {
          "type": "string",
          "description": "Unique ID for the configuration override. The ID will only change if the override is deleted and recreated. Corresponds to name's \"override\" field."
        },
        "revisionId": {
          "description": "Revision number which can be used by the runtime to detect if the trace config override has changed between two versions.",
          "type": "string"
        },
        "apiProxy": {
          "description": "Name of the API proxy that will have its trace configuration overridden following format: `organizations/{org}/apis/{api}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1DebugMask": {
      "id": "GoogleCloudApigeeV1DebugMask",
      "type": "object",
      "properties": {
        "namespaces": {
          "description": "Map of namespaces to URIs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "faultJSONPaths": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of JSON paths that specify the JSON elements to be filtered from JSON payloads in error flows."
        },
        "requestJSONPaths": {
          "description": "List of JSON paths that specify the JSON elements to be filtered from JSON request message payloads.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "requestXPaths": {
          "description": "List of XPaths that specify the XML elements to be filtered from XML request message payloads.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "responseJSONPaths": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of JSON paths that specify the JSON elements to be filtered from JSON response message payloads."
        },
        "variables": {
          "description": "List of variables that should be masked from the debug output.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "Name of the debug mask.",
          "type": "string"
        },
        "responseXPaths": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of XPaths that specify the XML elements to be filtered from XML response message payloads."
        },
        "faultXPaths": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of XPaths that specify the XML elements to be filtered from XML payloads in error flows."
        }
      }
    },
    "GoogleIamV1Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members` to a single `role`. Members can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') - etag: BwWWja0YfJA= - version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "GoogleIamV1Policy",
      "type": "object",
      "properties": {
        "auditConfigs": {
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          },
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte",
          "type": "string"
        },
        "bindings": {
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "description": "Associates a list of `members` to a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one member.",
          "type": "array"
        }
      }
    },
    "GoogleCloudApigeeV1ResourceConfig": {
      "type": "object",
      "id": "GoogleCloudApigeeV1ResourceConfig",
      "properties": {
        "location": {
          "type": "string",
          "description": "Location of the resource as a URI."
        },
        "name": {
          "type": "string",
          "description": "Resource name in the following format: `organizations/{org}/environments/{env}/resourcefiles/{type}/{file}/revisions/{rev}` Only environment-scoped resource files are supported."
        }
      }
    },
    "GoogleCloudApigeeV1EnvironmentGroupConfig": {
      "description": "EnvironmentGroupConfig is a revisioned snapshot of an EnvironmentGroup and its associated routing rules.",
      "id": "GoogleCloudApigeeV1EnvironmentGroupConfig",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the environment group in the following format: `organizations/{org}/envgroups/{envgroup}`.",
          "type": "string"
        },
        "revisionId": {
          "format": "int64",
          "description": "Revision id that defines the ordering of the EnvironmentGroupConfig resource. The higher the revision, the more recently the configuration was deployed.",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "A unique id for the environment group config that will only change if the environment group is deleted and recreated."
        },
        "hostnames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Host names for the environment group."
        },
        "routingRules": {
          "items": {
            "$ref": "GoogleCloudApigeeV1RoutingRule"
          },
          "description": "Ordered list of routing rules defining how traffic to this environment group's hostnames should be routed to different environments.",
          "type": "array"
        }
      }
    },
    "GoogleCloudApigeeV1OptimizedStatsResponse": {
      "description": "This message type encapsulates a response format for Js Optimized Scenario.",
      "type": "object",
      "id": "GoogleCloudApigeeV1OptimizedStatsResponse",
      "properties": {
        "resultTruncated": {
          "type": "boolean",
          "description": "This ia a boolean field to indicate if the results were truncated based on the limit parameter."
        },
        "metaData": {
          "$ref": "GoogleCloudApigeeV1Metadata",
          "description": "This field contains metadata information about the query executed"
        },
        "stats": {
          "$ref": "GoogleCloudApigeeV1OptimizedStatsNode",
          "description": "This field contains a stats results."
        },
        "TimeUnit": {
          "description": "This field contains a list of time unit values. Time unit refers to an epoch timestamp value.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudApigeeV1ResourceFile": {
      "id": "GoogleCloudApigeeV1ResourceFile",
      "properties": {
        "type": {
          "description": "Resource file type. {{ resource_file_type }}",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "ID of the resource file."
        }
      },
      "type": "object",
      "description": "Metadata about a resource file."
    },
    "GoogleCloudApigeeV1TlsInfo": {
      "type": "object",
      "properties": {
        "keyStore": {
          "type": "string",
          "description": "Required if `client_auth_enabled` is true. The resource ID of the keystore. References not yet supported."
        },
        "ciphers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The SSL/TLS cipher suites to be used. Must be one of the cipher suite names listed in: http://docs.oracle.com/javase/8/docs/technotes/guides/security/StandardNames.html#ciphersuites"
        },
        "trustStore": {
          "type": "string",
          "description": "The resource ID of the truststore. References not yet supported."
        },
        "protocols": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The TLS versioins to be used."
        },
        "enabled": {
          "description": "Required. Enables TLS. If false, neither one-way nor two-way TLS will be enabled.",
          "type": "boolean"
        },
        "keyAlias": {
          "type": "string",
          "description": "Required if `client_auth_enabled` is true. The resource ID for the alias containing the private key and cert."
        },
        "commonName": {
          "$ref": "GoogleCloudApigeeV1TlsInfoCommonName",
          "description": "The TLS Common Name of the certificate."
        },
        "ignoreValidationErrors": {
          "type": "boolean",
          "description": "If true, Edge ignores TLS certificate errors. Valid when configuring TLS for target servers and target endpoints, and when configuring virtual hosts that use 2-way TLS. When used with a target endpoint/target server, if the backend system uses SNI and returns a cert with a subject Distinguished Name (DN) that does not match the hostname, there is no way to ignore the error and the connection fails."
        },
        "clientAuthEnabled": {
          "description": "Optional. Enables two-way TLS.",
          "type": "boolean"
        }
      },
      "description": "TLS configuration information for VirtualHosts and TargetServers.",
      "id": "GoogleCloudApigeeV1TlsInfo"
    },
    "GoogleCloudApigeeV1EntityMetadata": {
      "type": "object",
      "id": "GoogleCloudApigeeV1EntityMetadata",
      "properties": {
        "lastModifiedAt": {
          "description": "Time at which the API proxy was most recently modified, in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        },
        "createdAt": {
          "description": "Time at which the API proxy was created, in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "subType": {
          "type": "string",
          "description": "The type of entity described"
        }
      },
      "description": "Metadata common to many entities in this API."
    },
    "GoogleCloudApigeeV1DeveloperApp": {
      "properties": {
        "scopes": {
          "description": "Scopes to apply to the developer app. The specified scopes must already exist for the API product that you associate with the developer app.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "appId": {
          "description": "ID of the developer app.",
          "type": "string"
        },
        "credentials": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Credential"
          },
          "description": "Output only. Set of credentials for the developer app consisting of the consumer key/secret pairs associated with the API products.",
          "type": "array",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Status of the credential. Valid values include `approved` or `revoked`."
        },
        "lastModifiedAt": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Time the developer app was modified in milliseconds since epoch.",
          "type": "string"
        },
        "attributes": {
          "description": "List of attributes for the developer app.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          }
        },
        "apiProducts": {
          "description": "List of API products associated with the developer app.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "createdAt": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time the developer app was created in milliseconds since epoch.",
          "format": "int64"
        },
        "callbackUrl": {
          "type": "string",
          "description": "Callback URL used by OAuth 2.0 authorization servers to communicate authorization codes back to developer apps."
        },
        "keyExpiresIn": {
          "description": "Expiration time, in milliseconds, for the consumer key that is generated for the developer app. If not set or left to the default value of `-1`, the API key never expires. The expiration time can't be updated after it is set.",
          "format": "int64",
          "type": "string"
        },
        "appFamily": {
          "type": "string",
          "description": "Developer app family."
        },
        "name": {
          "description": "Name of the developer app.",
          "type": "string"
        },
        "developerId": {
          "description": "ID of the developer.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1DeveloperApp"
    },
    "GoogleCloudApigeeV1DebugSession": {
      "id": "GoogleCloudApigeeV1DebugSession",
      "properties": {
        "tracesize": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum number of bytes captured from the response payload. Min = 0, Max = 5120, Default = 5120."
        },
        "validity": {
          "description": "Optional. The length of time, in seconds, that this debug session is valid, starting from when it's received in the control plane. Min = 1, Max = 15, Default = 10.",
          "type": "integer",
          "format": "int32"
        },
        "timeout": {
          "description": "Optional. The time in seconds after which this DebugSession should end. This value will override the value in query param, if both are provided.",
          "type": "string",
          "format": "int64"
        },
        "filter": {
          "type": "string",
          "description": "Optional. A conditional statement which is evaluated against the request message to determine if it should be traced. Syntax matches that of on API Proxy bundle flow Condition."
        },
        "count": {
          "format": "int32",
          "description": "Optional. The number of request to be traced. Min = 1, Max = 15, Default = 10.",
          "type": "integer"
        },
        "name": {
          "description": "A unique ID for this DebugSession.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1RuntimeTraceConfig": {
      "id": "GoogleCloudApigeeV1RuntimeTraceConfig",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the trace config in the following format: `organizations/{org}/environment/{env}/traceConfig`"
        },
        "exporter": {
          "type": "string",
          "description": "Exporter that is used to view the distributed trace captured using OpenCensus. An exporter sends traces to any backend that is capable of consuming them. Recorded spans can be exported by registered exporters.",
          "enumDescriptions": [
            "Exporter unspecified",
            "Jaeger exporter",
            "Cloudtrace exporter"
          ],
          "enum": [
            "EXPORTER_UNSPECIFIED",
            "JAEGER",
            "CLOUD_TRACE"
          ]
        },
        "samplingConfig": {
          "$ref": "GoogleCloudApigeeV1RuntimeTraceSamplingConfig",
          "description": "Trace configuration for all API proxies in an environment."
        },
        "endpoint": {
          "description": "Endpoint of the exporter.",
          "type": "string"
        },
        "revisionCreateTime": {
          "format": "google-datetime",
          "description": "The timestamp that the revision was created or updated.",
          "type": "string"
        },
        "overrides": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1RuntimeTraceConfigOverride"
          },
          "description": "List of trace configuration overrides for spicific API proxies."
        },
        "revisionId": {
          "description": "Revision number which can be used by the runtime to detect if the trace config has changed between two versions.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "NEXT ID: 8 RuntimeTraceConfig defines the configurations for distributed trace in an environment."
    },
    "GoogleCloudApigeeV1ApiProxy": {
      "description": "Metadata describing the API proxy",
      "id": "GoogleCloudApigeeV1ApiProxy",
      "properties": {
        "revision": {
          "items": {
            "type": "string"
          },
          "description": "List of revisons defined for the API proxy.",
          "type": "array"
        },
        "name": {
          "description": "Name of the API proxy.",
          "type": "string"
        },
        "metaData": {
          "$ref": "GoogleCloudApigeeV1EntityMetadata",
          "description": "Metadata describing the API proxy."
        },
        "latestRevisionId": {
          "type": "string",
          "description": "The id of the most recently created revision for this api proxy."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1Attributes": {
      "properties": {
        "attribute": {
          "description": "List of attributes.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1Attributes"
    },
    "GoogleCloudApigeeV1DeveloperAppKey": {
      "properties": {
        "expiresAt": {
          "format": "int64",
          "type": "string",
          "description": "Time the developer app expires in milliseconds since epoch."
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "description": "Scopes to apply to the app. The specified scope names must already be defined for the API product that you associate with the app.",
          "type": "array"
        },
        "apiProducts": {
          "description": "List of API products for which the credential can be used. **Note**: Do not specify the list of API products when creating a consumer key and secret for a developer app. Instead, use the UpdateDeveloperAppKey API to make the association after the consumer key and secret are created.",
          "items": {
            "type": "any"
          },
          "type": "array"
        },
        "status": {
          "description": "Status of the credential. Valid values include `approved` or `revoked`.",
          "type": "string"
        },
        "consumerKey": {
          "description": "Consumer key.",
          "type": "string"
        },
        "attributes": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "type": "array",
          "description": "List of attributes associated with the credential."
        },
        "issuedAt": {
          "description": "Time the developer app was created in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "consumerSecret": {
          "description": "Secret key.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1DeveloperAppKey"
    },
    "GoogleCloudApigeeV1DimensionMetric": {
      "id": "GoogleCloudApigeeV1DimensionMetric",
      "description": "This message type encapsulates a metric grouped by dimension.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "This field contains the name of the dimension."
        },
        "metrics": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Metric"
          },
          "type": "array",
          "description": "This field contains a list of metrics."
        }
      }
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "id": "GoogleIamV1SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "policy": {
          "$ref": "GoogleIamV1Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them."
        },
        "updateMask": {
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1StatsHostStats": {
      "type": "object",
      "description": "This message type encapsulates the hostname wrapper: \"hosts\": [ { \"metrics\": [ { \"name\": \"sum(message_count)\", \"values\": [ \"2.52056245E8\" ] } ], \"name\": \"example.com\" } ]",
      "properties": {
        "name": {
          "type": "string",
          "description": "This field contains the hostname used in query."
        },
        "dimensions": {
          "description": "This field contains the list of metrics grouped under dimensions.",
          "items": {
            "$ref": "GoogleCloudApigeeV1DimensionMetric"
          },
          "type": "array"
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Metric"
          },
          "description": "In the final response, only one of the following fields will be present based on the dimensions provided. If no dimensions are provided, then only a top level metrics is provided. If dimensions are included, then there will be a top level dimensions field under hostnames which will contain metrics values and the dimension name. Example: \"hosts\": [ { \"dimensions\": [ { \"metrics\": [ { \"name\": \"sum(message_count)\", \"values\": [ \"2.14049521E8\" ] } ], \"name\": \"nit_proxy\" } ], \"name\": \"example.com\" } ] OR \"hosts\": [ { \"metrics\": [ { \"name\": \"sum(message_count)\", \"values\": [ \"2.19026331E8\" ] } ], \"name\": \"example.com\" } ] This field contains the list of metric values."
        }
      },
      "id": "GoogleCloudApigeeV1StatsHostStats"
    },
    "GoogleCloudApigeeV1Metric": {
      "description": "This message type encapsulates the metric data point. Example: { \"name\": \"sum(message_count)\", \"values\" : [ { \"timestamp\": 1549004400000, \"value\": \"39.0\" }, { \"timestamp\" : 1548997200000, \"value\" : \"0.0\" } ] } or { \"name\": \"sum(message_count)\", \"values\" : [\"39.0\"] }",
      "type": "object",
      "id": "GoogleCloudApigeeV1Metric",
      "properties": {
        "values": {
          "items": {
            "type": "any"
          },
          "type": "array",
          "description": "List of metric values. Possible value format: \"values\":[\"39.0\"] or \"values\":[ { \"value\": \"39.0\", \"timestamp\": 1232434354} ]"
        },
        "name": {
          "type": "string",
          "description": "This field contains the metric name."
        }
      }
    },
    "GoogleCloudApigeeV1GetSyncAuthorizationRequest": {
      "id": "GoogleCloudApigeeV1GetSyncAuthorizationRequest",
      "type": "object",
      "properties": {},
      "description": "Request for GetSyncAuthorization."
    },
    "GoogleCloudApigeeV1FlowHook": {
      "id": "GoogleCloudApigeeV1FlowHook",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the flow hook."
        },
        "sharedFlow": {
          "description": "Shared flow attached to this flow hook, or empty if there is none attached.",
          "type": "string"
        },
        "continueOnError": {
          "description": "Optional. Flag that specifies whether execution should continue if the flow hook throws an exception. Set to `true` to continue execution. Set to `false` to stop execution if the flow hook throws an exception.Defaults to `true`.",
          "type": "boolean"
        },
        "flowHookPoint": {
          "description": "Output only. Where in the API call flow the flow hook is invoked. Must be one of `PreProxyFlowHook`, `PostProxyFlowHook`, `PreTargetFlowHook`, or `PostTargetFlowHook`.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1DeploymentChangeReportRoutingChange": {
      "id": "GoogleCloudApigeeV1DeploymentChangeReportRoutingChange",
      "description": "Describes a potential routing change that may occur as a result of some deployment operation.",
      "properties": {
        "toDeployment": {
          "description": "The basepath/deployment that may start receiving that traffic. May be null if no deployment is able to receive the traffic.",
          "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment"
        },
        "description": {
          "type": "string",
          "description": "A human-readable description of this routing change."
        },
        "environmentGroup": {
          "type": "string",
          "description": "The name of the environment group affected by this routing change."
        },
        "fromDeployment": {
          "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment",
          "description": "The basepath/deployment that may stop receiving some traffic."
        },
        "shouldSequenceRollout": {
          "description": "True if using sequenced rollout would make this routing change safer. Note: this does not necessarily imply that automated sequenced rollout mode is supported for the operation.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleLongrunningListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "id": "GoogleLongrunningListOperationsResponse",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "GoogleCloudApigeeV1KeyValueMap": {
      "description": "A collection of key, value string pairs",
      "id": "GoogleCloudApigeeV1KeyValueMap",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The id of the key value map.",
          "type": "string"
        },
        "encrypted": {
          "description": "Optional. If `true` entry values will be encrypted.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudApigeeV1SchemaSchemaElement": {
      "properties": {
        "name": {
          "description": "Name of the field",
          "type": "string"
        },
        "properties": {
          "$ref": "GoogleCloudApigeeV1SchemaSchemaProperty",
          "description": "Property of the schema field E.g. { \"createTime\": \"2016-02-26T10:23:09.592Z\", \"custom\": \"false\", \"type\": \"string\" }"
        }
      },
      "description": "Message type for the schema element",
      "type": "object",
      "id": "GoogleCloudApigeeV1SchemaSchemaElement"
    },
    "GoogleCloudApigeeV1Point": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Name of a step in the transaction.",
          "type": "string"
        },
        "results": {
          "description": "List of results extracted from a given debug point.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Result"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudApigeeV1Point",
[...]
