{
  "baseUrl": "https://apigee.googleapis.com/",
  "version": "v1",
  "discoveryVersion": "v1",
  "basePath": "",
  "name": "apigee",
  "kind": "discovery#restDescription",
  "description": "Use the Apigee API to programmatically develop and manage APIs with a set of RESTful operations. Develop and secure API proxies, deploy and undeploy API proxy revisions, monitor APIs, configure environments, manage users, and more. Get started using the APIs. *Note:* This product is available as a free trial for a time period of 60 days.",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "protocol": "rest",
  "revision": "20201231",
  "title": "Apigee API",
  "mtlsRootUrl": "https://apigee.mtls.googleapis.com/",
  "resources": {
    "projects": {
      "methods": {
        "provisionOrganization": {
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudApigeeV1ProvisionOrganizationRequest"
          },
          "description": "Provisions a new Apigee organization with a functioning runtime. This is the standard way to create trial organizations for a free Apigee trial.",
          "id": "apigee.projects.provisionOrganization",
          "parameterOrder": [
            "project"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/{+project}:provisionOrganization",
          "flatPath": "v1/projects/{projectsId}:provisionOrganization",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "parameters": {
            "project": {
              "pattern": "^projects/[^/]+$",
              "description": "Required. Name of the GCP project with which to associate the Apigee organization.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          }
        }
      }
    },
    "organizations": {
      "methods": {
        "update": {
          "request": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^organizations/[^/]+$",
              "description": "Required. Apigee organization name in the following format: `organizations/{org}`"
            }
          },
          "description": "Updates the properties for an Apigee organization. No other fields in the organization profile will be updated.",
          "id": "apigee.organizations.update",
          "path": "v1/{+name}",
          "response": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/organizations/{organizationsId}"
        },
        "getSyncAuthorization": {
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ],
          "id": "apigee.organizations.getSyncAuthorization",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          },
          "description": "Lists the service accounts with the permissions required to allow the Synchronizer to download environment data from the control plane. An ETag is returned in the response to `getSyncAuthorization`. Pass that ETag when calling [setSyncAuthorization](setSyncAuthorization) to ensure that you are updating the correct version. If you don't pass the ETag in the call to `setSyncAuthorization`, then the existing authorization is overwritten indiscriminately. For more information, see [Configure the Synchronizer](https://cloud.google.com/apigee/docs/hybrid/latest/synchronizer-access). **Note**: Available to Apigee hybrid only.",
          "parameters": {
            "name": {
              "description": "Required. Name of the Apigee organization. Use the following structure in your request: `organizations/{org}`",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^organizations/[^/]+$"
            }
          },
          "path": "v1/{+name}:getSyncAuthorization",
          "request": {
            "$ref": "GoogleCloudApigeeV1GetSyncAuthorizationRequest"
          },
          "flatPath": "v1/organizations/{organizationsId}:getSyncAuthorization"
        },
        "delete": {
          "httpMethod": "DELETE",
          "flatPath": "v1/organizations/{organizationsId}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/{+name}",
          "id": "apigee.organizations.delete",
          "parameters": {
            "name": {
              "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}`",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^organizations/[^/]+$"
            }
          },
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "Delete an Apigee organization. Only supported for SubscriptionType TRIAL."
        },
        "create": {
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "path": "v1/organizations",
          "parameterOrder": [],
          "parameters": {
            "parent": {
              "description": "Required. Name of the GCP project in which to associate the Apigee organization. Pass the information as a query parameter using the following structure in your request: `projects/`",
              "location": "query",
              "type": "string"
            }
          },
          "id": "apigee.organizations.create",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/organizations",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "Creates an Apigee organization. See [Create an Apigee organization](https://cloud.google.com/apigee/docs/api-platform/get-started/create-org)."
        },
        "getDeployedIngressConfig": {
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleCloudApigeeV1IngressConfig"
          },
          "description": "Gets the deployed ingress configuration for an organization.",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/deployedIngressConfig$",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. Name of the deployed configuration for the organization in the following format: 'organizations/{org}/deployedIngressConfig'."
            },
            "view": {
              "enum": [
                "INGRESS_CONFIG_VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "description": "When set to FULL, additional details about the specific deployments receiving traffic will be included in the IngressConfig response's RoutingRules.",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "The default/unset value. The API will default to the BASIC view.",
                "Include all ingress config data necessary for the runtime to configure ingress, but no more. Routing rules will include only basepath and destination environment. This the default value.",
                "Include all ingress config data, including internal debug info for each routing rule such as the proxy claiming a particular basepath and when the routing rule first appeared in the env group."
              ]
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/organizations/{organizationsId}/deployedIngressConfig",
          "path": "v1/{+name}",
          "id": "apigee.organizations.getDeployedIngressConfig",
          "httpMethod": "GET"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/organizations",
          "id": "apigee.organizations.list",
          "parameters": {
            "parent": {
              "type": "string",
              "description": "Required. Use the following structure in your request: `organizations`",
              "pattern": "^organizations$",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "GoogleCloudApigeeV1ListOrganizationsResponse"
          },
          "description": "Lists the Apigee organizations and associated GCP projects that you have permission to access. See [Understanding organizations](https://cloud.google.com/apigee/docs/api-platform/fundamentals/organization-structure).",
          "path": "v1/{+parent}"
        },
        "get": {
          "flatPath": "v1/organizations/{organizationsId}",
          "httpMethod": "GET",
          "id": "apigee.organizations.get",
          "description": "Gets the profile for an Apigee organization. See [Understanding organizations](https://cloud.google.com/apigee/docs/api-platform/fundamentals/organization-structure).",
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^organizations/[^/]+$",
              "description": "Required. Apigee organization name in the following format: `organizations/{org}`",
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ]
        },
        "setSyncAuthorization": {
          "id": "apigee.organizations.setSyncAuthorization",
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}:setSyncAuthorization",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/organizations/{organizationsId}:setSyncAuthorization",
          "response": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          },
          "parameters": {
            "name": {
              "description": "Required. Name of the Apigee organization. Use the following structure in your request: `organizations/{org}`",
              "required": true,
              "pattern": "^organizations/[^/]+$",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Sets the permissions required to allow the Synchronizer to download environment data from the control plane. You must call this API to enable proper functioning of hybrid. Pass the ETag when calling `setSyncAuthorization` to ensure that you are updating the correct version. To get an ETag, call [getSyncAuthorization](getSyncAuthorization). If you don't pass the ETag in the call to `setSyncAuthorization`, then the existing authorization is overwritten indiscriminately. For more information, see [Configure the Synchronizer](https://cloud.google.com/apigee/docs/hybrid/latest/synchronizer-access). **Note**: Available to Apigee hybrid only.",
          "request": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          }
        }
      },
      "resources": {
        "keyvaluemaps": {
          "methods": {
            "create": {
              "description": "Creates a key value map in an organization.",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the organization in which to create the key value map file. Must be of the form `organizations/{organization}`.",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/keyvaluemaps",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1KeyValueMap"
              },
              "httpMethod": "POST",
              "id": "apigee.organizations.keyvaluemaps.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudApigeeV1KeyValueMap"
              },
              "path": "v1/{+parent}/keyvaluemaps"
            },
            "delete": {
              "flatPath": "v1/organizations/{organizationsId}/keyvaluemaps/{keyvaluemapsId}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the key value map. Must be of the form `organizations/{organization}/keyvaluemaps/{keyvaluemap}`.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+/keyvaluemaps/[^/]+$"
                }
              },
              "description": "Delete a key value map in an organization.",
              "id": "apigee.organizations.keyvaluemaps.delete",
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1KeyValueMap"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "apps": {
          "methods": {
            "get": {
              "id": "apigee.organizations.apps.get",
              "response": {
                "$ref": "GoogleCloudApigeeV1App"
              },
              "flatPath": "v1/organizations/{organizationsId}/apps/{appsId}",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets the app profile for the specified app ID.",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/apps/[^/]+$",
                  "type": "string",
                  "description": "Required. App ID in the following format: `organizations/{org}/apps/{app}`",
                  "required": true
                }
              }
            },
            "list": {
              "flatPath": "v1/organizations/{organizationsId}/apps",
              "id": "apigee.organizations.apps.list",
              "description": "Lists IDs of apps within an organization that have the specified app status (approved or revoked) or are of the specified app type (developer or company).",
              "parameters": {
                "status": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Filter by the status of the app. Valid values are `approved` or `revoked`. Defaults to `approved`."
                },
                "keyStatus": {
                  "location": "query",
                  "description": "Optional. Key status of the app. Valid values include `approved` or `revoked`. Defaults to `approved`.",
                  "type": "string"
                },
                "startKey": {
                  "type": "string",
                  "location": "query",
                  "description": "Returns the list of apps starting from the specified app ID."
                },
                "ids": {
                  "description": "Optional. Comma-separated list of app IDs on which to filter.",
                  "type": "string",
                  "location": "query"
                },
                "rows": {
                  "location": "query",
                  "description": "Optional. Maximum number of app IDs to return. Defaults to 10000.",
                  "type": "string",
                  "format": "int64"
                },
                "parent": {
                  "description": "Required. Resource path of the parent in the following format: `organizations/{org}`",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+$"
                },
                "includeCred": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Optional. Flag that specifies whether to include credentials in the response."
                },
                "apptype": {
                  "description": "Optional. Filter by the type of the app. Valid values are `company` or `developer`. Defaults to `developer`.",
                  "type": "string",
                  "location": "query"
                },
                "apiProduct": {
                  "description": "API product.",
                  "type": "string",
                  "location": "query"
                },
                "expand": {
                  "description": "Optional. Flag that specifies whether to return an expanded list of apps for the organization. Defaults to `false`.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "path": "v1/{+parent}/apps",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListAppsResponse"
              }
            }
          }
        },
        "envgroups": {
          "methods": {
            "delete": {
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/envgroups/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of the environment group in the following format: `organizations/{org}/envgroups/{envgroup}`."
                }
              },
              "httpMethod": "DELETE",
              "id": "apigee.organizations.envgroups.delete",
              "description": "Deletes an environment group.",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v1/organizations/{organizationsId}/envgroups/{envgroupsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "flatPath": "v1/organizations/{organizationsId}/envgroups",
              "parameters": {
                "name": {
                  "location": "query",
                  "type": "string",
                  "description": "ID of the environment group. Overrides any ID in the environment_group resource."
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Name of the organization in which to create the environment group in the following format: `organizations/{org}`.",
                  "pattern": "^organizations/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/envgroups",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudApigeeV1EnvironmentGroup"
              },
              "id": "apigee.organizations.envgroups.create",
              "description": "Creates a new environment group."
            },
            "get": {
              "id": "apigee.organizations.envgroups.get",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/envgroups/[^/]+$",
                  "description": "Required. Name of the environment group in the following format: `organizations/{org}/envgroups/{envgroup}`.",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets an environment group.",
              "flatPath": "v1/organizations/{organizationsId}/envgroups/{envgroupsId}",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudApigeeV1EnvironmentGroup"
              }
            },
            "patch": {
              "flatPath": "v1/organizations/{organizationsId}/envgroups/{envgroupsId}",
              "path": "v1/{+name}",
              "request": {
                "$ref": "GoogleCloudApigeeV1EnvironmentGroup"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "apigee.organizations.envgroups.patch",
              "description": "Updates an environment group.",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "updateMask": {
                  "description": "List of fields to be updated.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of the environment group to update in the format: `organizations/{org}/envgroups/{envgroup}.",
                  "pattern": "^organizations/[^/]+/envgroups/[^/]+$"
                }
              }
            },
            "list": {
              "path": "v1/{+parent}/envgroups",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.envgroups.list",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "description": "Page token, returned from a previous ListEnvironmentGroups call, that you can use to retrieve the next page.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Maximum number of environment groups to return. The page size defaults to 25.",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. Name of the organization for which to list environment groups in the following format: `organizations/{org}`.",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Lists all environment groups.",
              "flatPath": "v1/organizations/{organizationsId}/envgroups",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListEnvironmentGroupsResponse"
              },
              "parameterOrder": [
                "parent"
              ]
            }
          },
          "resources": {
            "attachments": {
              "methods": {
                "delete": {
                  "id": "apigee.organizations.envgroups.attachments.delete",
                  "flatPath": "v1/organizations/{organizationsId}/envgroups/{envgroupsId}/attachments/{attachmentsId}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/envgroups/[^/]+/attachments/[^/]+$",
                      "description": "Required. Name of the environment group attachment to delete in the following format: `organizations/{org}/envgroups/{envgroup}/attachments/{attachment}`.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes an environment group attachment.",
                  "httpMethod": "DELETE"
                },
                "create": {
                  "request": {
                    "$ref": "GoogleCloudApigeeV1EnvironmentGroupAttachment"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "description": "Creates a new attachment of an environment to an environment group.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "apigee.organizations.envgroups.attachments.create",
                  "parameters": {
                    "parent": {
                      "description": "Required. EnvironmentGroup under which to create the attachment in the following format: `organizations/{org}/envgroups/{envgroup}`.",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/envgroups/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "path": "v1/{+parent}/attachments",
                  "flatPath": "v1/organizations/{organizationsId}/envgroups/{envgroupsId}/attachments"
                },
                "list": {
                  "flatPath": "v1/organizations/{organizationsId}/envgroups/{envgroupsId}/attachments",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListEnvironmentGroupAttachmentsResponse"
                  },
                  "id": "apigee.organizations.envgroups.attachments.list",
                  "httpMethod": "GET",
                  "description": "Lists all attachments of an environment group.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Page token, returned by a previous ListEnvironmentGroupAttachments call, that you can use to retrieve the next page."
                    },
                    "pageSize": {
                      "description": "Maximum number of environment group attachments to return. The page size defaults to 25.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^organizations/[^/]+/envgroups/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the environment group in the following format: `organizations/{org}/envgroups/{envgroup}`.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1/{+parent}/attachments"
                },
                "get": {
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/envgroups/{envgroupsId}/attachments/{attachmentsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1EnvironmentGroupAttachment"
                  },
                  "id": "apigee.organizations.envgroups.attachments.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the environment group attachment in the following format: `organizations/{org}/envgroups/{envgroup}/attachments/{attachment}`",
                      "required": true,
                      "pattern": "^organizations/[^/]+/envgroups/[^/]+/attachments/[^/]+$"
                    }
                  },
                  "path": "v1/{+name}",
                  "description": "Gets an environment group attachment."
                }
              }
            }
          }
        },
        "analytics": {
          "resources": {
            "datastores": {
              "methods": {
                "create": {
                  "path": "v1/{+parent}/analytics/datastores",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Datastore"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Datastore"
                  },
                  "description": "Create a Datastore for an org",
                  "httpMethod": "POST",
                  "flatPath": "v1/organizations/{organizationsId}/analytics/datastores",
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent organization name. Must be of the form `organizations/{org}`."
                    }
                  },
                  "id": "apigee.organizations.analytics.datastores.create",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Datastore"
                  },
                  "httpMethod": "GET",
                  "id": "apigee.organizations.analytics.datastores.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Get a Datastore",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/analytics/datastores/[^/]+$",
                      "description": "Required. Resource name of the Datastore to be get. Must be of the form `organizations/{org}/analytics/datastores/{datastoreId}`"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/analytics/datastores/{datastoresId}"
                },
                "test": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent organization name Must be of the form `organizations/{org}`",
                      "pattern": "^organizations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "apigee.organizations.analytics.datastores.test",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1TestDatastoreResponse"
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Datastore"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/analytics/datastores:test",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/analytics/datastores:test",
                  "description": "Test if Datastore configuration is correct. This includes checking if credentials provided by customer have required permissions in target destination storage",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "list": {
                  "parameters": {
                    "targetType": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. TargetType is used to fetch all Datastores that match the type"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The parent organization name. Must be of the form `organizations/{org}`.",
                      "pattern": "^organizations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/analytics/datastores",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListDatastoresResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/analytics/datastores",
                  "id": "apigee.organizations.analytics.datastores.list",
                  "description": "List Datastores"
                },
                "update": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PUT",
                  "flatPath": "v1/organizations/{organizationsId}/analytics/datastores/{datastoresId}",
                  "id": "apigee.organizations.analytics.datastores.update",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Datastore"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/analytics/datastores/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource name of datastore to be updated. Must be of the form `organizations/{org}/analytics/datastores/{datastoreId}`",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Datastore"
                  },
                  "description": "Update a Datastore",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of the Datastore to be deleted. Must be of the form `organizations/{org}/analytics/datastores/{datastoreId}`",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/analytics/datastores/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apigee.organizations.analytics.datastores.delete",
                  "description": "Delete a Datastore from an org.",
                  "flatPath": "v1/organizations/{organizationsId}/analytics/datastores/{datastoresId}"
                }
              }
            }
          }
        },
        "instances": {
          "resources": {
            "canaryevaluations": {
              "methods": {
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.instances.canaryevaluations.create",
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/canaryevaluations",
                  "httpMethod": "POST",
                  "description": "Creates a new canary evaluation for an organization.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/instances/[^/]+$",
                      "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}/instances/{instance}`.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1CanaryEvaluation"
                  },
                  "path": "v1/{+parent}/canaryevaluations"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "apigee.organizations.instances.canaryevaluations.get",
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/canaryevaluations/{canaryevaluationsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/instances/[^/]+/canaryevaluations/[^/]+$",
                      "description": "Required. Name of the CanaryEvaluation. Use the following structure in your request: `organizations/{org}/instances/*/canaryevaluations/{evaluation}`",
                      "required": true
                    }
                  },
                  "description": "Gets a CanaryEvaluation for an organization.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1CanaryEvaluation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}"
                }
              }
            },
            "natAddresses": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/instances/[^/]+/natAddresses/[^/]+$",
                      "description": "Required. Name of the nat address. Use the following structure in your request: `organizations/{org}/instances/{instances}/natAddresses/{nataddress}`",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1NatAddress"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/natAddresses/{natAddressesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.instances.natAddresses.get",
                  "description": "Gets the details of a NAT address. **Note:** Not supported for Apigee hybrid.",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "activate": {
                  "request": {
                    "$ref": "GoogleCloudApigeeV1ActivateNatAddressRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/natAddresses/{natAddressesId}:activate",
                  "id": "apigee.organizations.instances.natAddresses.activate",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/instances/[^/]+/natAddresses/[^/]+$",
                      "required": true,
                      "description": "Required. Name of the nat address. Use the following structure in your request: `organizations/{org}/instances/{instances}/natAddresses/{nataddress}``",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:activate",
                  "description": "Activates the NAT address. The Apigee instance can now use this for Internet egress traffic. **Note:** Not supported for Apigee hybrid."
                },
                "create": {
                  "description": "Creates a NAT address. The address is created in the RESERVED state and a static external IP address will be provisioned. At this time, the instance will not use this IP address for Internet egress traffic. The address can be activated for use once any required firewall IP whitelisting has been completed. **Note:** Not supported for Apigee hybrid.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/natAddresses",
                  "id": "apigee.organizations.instances.natAddresses.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. Name of the instance. Use the following structure in your request: `organizations/{org}/instances/{instance}`",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^organizations/[^/]+/instances/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1NatAddress"
                  },
                  "path": "v1/{+parent}/natAddresses"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/instances/[^/]+/natAddresses/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. Name of the nat address. Use the following structure in your request: `organizations/{org}/instances/{instances}/natAddresses/{nataddress}``",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/natAddresses/{natAddressesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes the NAT address. Connections that are actively using the address are drained before it is removed. **Note:** Not supported for Apigee hybrid.",
                  "id": "apigee.organizations.instances.natAddresses.delete",
                  "path": "v1/{+name}"
                },
                "list": {
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/natAddresses",
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/natAddresses",
                  "id": "apigee.organizations.instances.natAddresses.list",
                  "description": "Lists the NAT addresses for an Apigee instance. **Note:** Not supported for Apigee hybrid.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/instances/[^/]+$",
                      "description": "Required. Name of the instance. Use the following structure in your request: `organizations/{org}/instances/{instance}`",
                      "required": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Maximum number of natAddresses to return. Defaults to 25.",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Page token, returned from a previous ListNatAddresses call, that you can use to retrieve the next page of content."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListNatAddressesResponse"
                  }
                }
              }
            },
            "attachments": {
              "methods": {
                "delete": {
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Name of the attachment. Use the following structure in your request: `organizations/{org}/instances/{instance}/attachments/{attachment}`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/instances/[^/]+/attachments/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Deletes an attachment. **Note:** Not supported for Apigee hybrid.",
                  "id": "apigee.organizations.instances.attachments.delete",
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/attachments/{attachmentsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}"
                },
                "list": {
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListInstanceAttachmentsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "Maximum number of instance attachments to return. Defaults to 25.",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Page token, returned by a previous ListInstanceAttachments call, that you can use to retrieve the next page of content."
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/instances/[^/]+$",
                      "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}/instances/{instance}`",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Lists all attachments to an instance. **Note:** Not supported for Apigee hybrid.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/attachments",
                  "id": "apigee.organizations.instances.attachments.list",
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/attachments"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "apigee.organizations.instances.attachments.create",
                  "path": "v1/{+parent}/attachments",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the instance. Use the following structure in your request: `organizations/{org}/instances/{instance}`.",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/instances/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new attachment of an environment to an instance. **Note:** Not supported for Apigee hybrid.",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1InstanceAttachment"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/attachments"
                },
                "get": {
                  "id": "apigee.organizations.instances.attachments.get",
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/attachments/{attachmentsId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets an attachment. **Note:** Not supported for Apigee hybrid.",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1InstanceAttachment"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/instances/[^/]+/attachments/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the attachment. Use the following structure in your request: `organizations/{org}/instances/{instance}/attachments/{attachment}`"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "reportStatus": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+instance}:reportStatus",
              "httpMethod": "POST",
              "parameters": {
                "instance": {
                  "required": true,
                  "description": "The name of the instance reporting this status. For SaaS the request will be rejected if no instance exists under this name. Format is organizations/{org}/instances/{instance}",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/instances/[^/]+$",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleCloudApigeeV1ReportInstanceStatusRequest"
              },
              "parameterOrder": [
                "instance"
              ],
              "id": "apigee.organizations.instances.reportStatus",
              "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}:reportStatus",
              "description": "Reports the latest status for a runtime instance.",
              "response": {
                "$ref": "GoogleCloudApigeeV1ReportInstanceStatusResponse"
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the details for an Apigee runtime instance. **Note:** Not supported for Apigee hybrid.",
              "id": "apigee.organizations.instances.get",
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/instances/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the instance. Use the following structure in your request: `organizations/{org}/instances/{instance}`.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1Instance"
              },
              "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}"
            },
            "delete": {
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/instances/[^/]+$",
                  "description": "Required. Name of the instance. Use the following structure in your request: `organizations/{org}/instances/{instance}`.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes an Apigee runtime instance. The instance stops serving requests and the runtime data is deleted. **Note:** Not supported for Apigee hybrid.",
              "id": "apigee.organizations.instances.delete",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "create": {
              "flatPath": "v1/organizations/{organizationsId}/instances",
              "httpMethod": "POST",
              "id": "apigee.organizations.instances.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}`.",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates an Apigee runtime instance. The instance is accessible from the authorized network configured on the organization. **Note:** Not supported for Apigee hybrid.",
              "path": "v1/{+parent}/instances",
              "request": {
                "$ref": "GoogleCloudApigeeV1Instance"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "list": {
              "httpMethod": "GET",
              "path": "v1/{+parent}/instances",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1ListInstancesResponse"
              },
              "id": "apigee.organizations.instances.list",
              "description": "Lists all Apigee runtime instances for the organization. **Note:** Not supported for Apigee hybrid.",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Page token, returned from a previous ListInstances call, that you can use to retrieve the next page of content.",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Maximum number of instances to return. Defaults to 25."
                },
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}`.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/instances"
            }
          }
        },
        "developers": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "path": "v1/{+parent}/developers",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/developers",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListOfDevelopersResponse"
              },
              "description": "Lists all developers in an organization by email address. By default, the response does not include company developers. Set the `includeCompany` query parameter to `true` to include company developers. **Note**: A maximum of 1000 developers are returned in the response. You paginate the list of developers returned using the `startKey` and `count` query parameters.",
              "parameters": {
                "startKey": {
                  "location": "query",
                  "type": "string",
                  "description": "**Note**: Must be used in conjunction with the `count` parameter. Email address of the developer from which to start displaying the list of developers. For example, if the an unfiltered list returns: ``` westley@example.com fezzik@example.com buttercup@example.com ``` and your `startKey` is `fezzik@example.com`, the list returned will be ``` fezzik@example.com buttercup@example.com ```"
                },
                "count": {
                  "location": "query",
                  "description": "Optional. Number of developers to return in the API call. Use with the `startKey` parameter to provide more targeted filtering. The limit is 1000.",
                  "format": "int64",
                  "type": "string"
                },
                "includeCompany": {
                  "type": "boolean",
                  "description": "Flag that specifies whether to include company details in the response.",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. Name of the Apigee organization. Use the following structure in your request: `organizations/{org}`."
                },
                "expand": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Specifies whether to expand the results. Set to `true` to expand the results. This query parameter is not valid if you use the `count` or `startKey` query parameters."
                },
                "ids": {
                  "description": "Optional. List of IDs to include, separated by commas.",
                  "location": "query",
                  "type": "string"
                },
                "app": {
                  "description": "Optional. List only Developers that are associated with the app. Note that start_key, count are not applicable for this filter criteria.",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "apigee.organizations.developers.list"
            },
            "setDeveloperStatus": {
              "id": "apigee.organizations.developers.setDeveloperStatus",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/developers/[^/]+$",
                  "type": "string",
                  "description": "Required. Email address of the developer. Use the following structure in your request: `organizations/{org}/developers/{developer_email}`",
                  "required": true,
                  "location": "path"
                },
                "action": {
                  "location": "query",
                  "description": "Status of the developer. Valid values are `active` and `inactive`.",
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Sets the status of a developer. Valid values are `active` or `inactive`. A developer is `active` by default. If you set a developer's status to `inactive`, the API keys assigned to the developer apps are no longer valid even though the API keys are set to `approved`. Inactive developers can still sign in to the developer portal and create apps; however, any new API keys generated during app creation won't work. If successful, the API call returns the following HTTP status code: `204 No Content`"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.developers.get",
              "description": "Returns the developer details, including the developer's name, email address, apps, and other information. **Note**: The response includes only the first 100 developer apps.",
              "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudApigeeV1Developer"
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/developers/[^/]+$",
                  "required": true,
                  "description": "Required. Email address of the developer. Use the following structure in your request: `organizations/{org}/developers/{developer_email}`"
                },
                "action": {
                  "location": "query",
                  "description": "Status of the developer. Valid values are `active` or `inactive`.",
                  "type": "string"
                }
              }
            },
            "update": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}",
              "request": {
                "$ref": "GoogleCloudApigeeV1Developer"
              },
              "httpMethod": "PUT",
              "path": "v1/{+name}",
              "description": "Updates a developer. This API replaces the existing developer details with those specified in the request. Include or exclude any existing details that you want to retain or delete, respectively. The custom attribute limit is 18. **Note**: OAuth access tokens and Key Management Service (KMS) entities (apps, developers, and API products) are cached for 180 seconds (current default). Any custom attributes associated with these entities are cached for at least 180 seconds after the entity is accessed at runtime. Therefore, an `ExpiresIn` element on the OAuthV2 policy won't be able to expire an access token in less than 180 seconds.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.developers.update",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Email address of the developer. Use the following structure in your request: `organizations/{org}/developers/{developer_email}`",
                  "required": true,
                  "pattern": "^organizations/[^/]+/developers/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1Developer"
              }
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a developer. Once created, the developer can register an app and obtain an API key. At creation time, a developer is set as `active`. To change the developer status, use the SetDeveloperStatus API.",
              "request": {
                "$ref": "GoogleCloudApigeeV1Developer"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudApigeeV1Developer"
              },
              "flatPath": "v1/organizations/{organizationsId}/developers",
              "path": "v1/{+parent}/developers",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. Name of the Apigee organization in which the developer is created. Use the following structure in your request: `organizations/{org}`.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$"
                }
              },
              "id": "apigee.organizations.developers.create"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}",
              "response": {
                "$ref": "GoogleCloudApigeeV1Developer"
              },
              "httpMethod": "DELETE",
              "description": "Deletes a developer. All apps and API keys associated with the developer are also removed. **Warning**: This API will permanently delete the developer and related artifacts. To avoid permanently deleting developers and their artifacts, set the developer status to `inactive` using the SetDeveloperStatus API. **Note**: The delete operation is asynchronous. The developer app is deleted immediately, but its associated resources, such as apps and API keys, may take anywhere from a few seconds to a few minutes to be deleted.",
              "path": "v1/{+name}",
              "id": "apigee.organizations.developers.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Email address of the developer. Use the following structure in your request: `organizations/{org}/developers/{developer_email}`",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/developers/[^/]+$",
                  "type": "string",
                  "required": true
                }
              }
            },
            "attributes": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/attributes",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.developers.attributes",
              "description": "Updates developer attributes. This API replaces the existing attributes with those specified in the request. Add new attributes, and include or exclude any existing attributes that you want to retain or remove, respectively. The custom attribute limit is 18. **Note**: OAuth access tokens and Key Management Service (KMS) entities (apps, developers, and API products) are cached for 180 seconds (default). Any custom attributes associated with these entities are cached for at least 180 seconds after the entity is accessed at runtime. Therefore, an `ExpiresIn` element on the OAuthV2 policy won't be able to expire an access token in less than 180 seconds.",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudApigeeV1Attributes"
              },
              "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/attributes",
              "response": {
                "$ref": "GoogleCloudApigeeV1Attributes"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. Email address of the developer for which attributes are being updated in the following format: `organizations/{org}/developers/{developer_email}`",
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+/developers/[^/]+$"
                }
              }
            }
          },
          "resources": {
            "attributes": {
              "methods": {
                "updateDeveloperAttribute": {
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/attributes/{attributesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.developers.attributes.updateDeveloperAttribute",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the developer attribute. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/attributes/{attribute}`",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/attributes/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Updates a developer attribute. **Note**: OAuth access tokens and Key Management Service (KMS) entities (apps, developers, and API products) are cached for 180 seconds (default). Any custom attributes associated with these entities are cached for at least 180 seconds after the entity is accessed at runtime. Therefore, an `ExpiresIn` element on the OAuthV2 policy won't be able to expire an access token in less than 180 seconds.",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "httpMethod": "POST"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/attributes",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attributes"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "apigee.organizations.developers.attributes.list",
                  "description": "Returns a list of all developer attributes.",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/attributes",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/developers/[^/]+$",
                      "description": "Required. Email address of the developer for which attributes are being listed in the following format: `organizations/{org}/developers/{developer_email}`"
                    }
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Returns the value of the specified developer attribute.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Name of the developer attribute. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/attributes/{attribute}`",
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/attributes/[^/]+$"
                    }
                  },
                  "id": "apigee.organizations.developers.attributes.get",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/attributes/{attributesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the developer attribute. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/attributes/{attribute}`",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/attributes/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a developer attribute.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/attributes/{attributesId}",
                  "id": "apigee.organizations.developers.attributes.delete"
                }
              }
            },
            "apps": {
              "methods": {
                "delete": {
                  "id": "apigee.organizations.developers.apps.delete",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}",
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                      "required": true,
                      "description": "Required. Name of the developer app. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}`",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a developer app. **Note**: The delete operation is asynchronous. The developer app is deleted immediately, but its associated resources, such as app keys or access tokens, may take anywhere from a few seconds to a few minutes to be deleted."
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Returns the details for a developer app.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}",
                  "id": "apigee.organizations.developers.apps.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the developer app. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}`"
                    },
                    "entity": {
                      "description": "**Note**: Must be used in conjunction with the `query` parameter. Set to `apiresources` to return the number of API resources that have been approved for access by a developer app in the specified Apigee organization.",
                      "location": "query",
                      "type": "string"
                    },
                    "query": {
                      "description": "**Note**: Must be used in conjunction with the `entity` parameter. Set to `count` to return the number of API resources that have been approved for access by a developer app in the specified Apigee organization.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  }
                },
                "attributes": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates attributes for a developer app. This API replaces the current attributes with those specified in the request.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Attributes"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/attributes",
                  "id": "apigee.organizations.developers.apps.attributes",
                  "path": "v1/{+name}/attributes",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Name of the developer app. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}`",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attributes"
                  }
                },
                "create": {
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/apps",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps",
                  "description": "Creates an app associated with a developer. This API associates the developer app with the specified API product and auto-generates an API key for the app to use in calls to API proxies inside that API product. The `name` is the unique ID of the app that you can use in API calls. The `DisplayName` (set as an attribute) appears in the UI. If you don't set the `DisplayName` attribute, the `name` appears in the UI.",
                  "id": "apigee.organizations.developers.apps.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/developers/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the developer. Use the following structure in your request: `organizations/{org}/developers/{developer_email}`",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  }
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/apps",
                  "description": "Lists all apps created by a developer in an Apigee organization. Optionally, you can request an expanded view of the developer apps. A maximum of 100 developer apps are returned per API call. You can paginate the list of deveoper apps returned using the `startKey` and `count` query parameters.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListDeveloperAppsResponse"
                  },
                  "parameters": {
                    "shallowExpand": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. Specifies whether to expand the results in shallow mode. Set to `true` to expand the results in shallow mode."
                    },
                    "startKey": {
                      "location": "query",
                      "description": "**Note**: Must be used in conjunction with the `count` parameter. Name of the developer app from which to start displaying the list of developer apps. For example, if you're returning 50 developer apps at a time (using the `count` query parameter), you can view developer apps 50-99 by entering the name of the 50th developer app. The developer app name is case sensitive.",
                      "type": "string"
                    },
                    "expand": {
                      "description": "Optional. Specifies whether to expand the results. Set to `true` to expand the results. This query parameter is not valid if you use the `count` or `startKey` query parameters.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "count": {
                      "format": "int64",
                      "location": "query",
                      "type": "string",
                      "description": "Number of developer apps to return in the API call. Use with the `startKey` parameter to provide more targeted filtering. The limit is 1000."
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/developers/[^/]+$",
                      "description": "Required. Name of the developer. Use the following structure in your request: `organizations/{org}/developers/{developer_email}`",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "apigee.organizations.developers.apps.list",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps"
                },
                "update": {
                  "httpMethod": "PUT",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the developer app. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}`",
                      "required": true,
                      "location": "path",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "apigee.organizations.developers.apps.update",
                  "path": "v1/{+name}",
                  "description": "Updates the details for a developer app. In addition, you can add an API product to a developer app and automatically generate an API key for the app to use when calling APIs in the API product. If you want to use an existing API key for the API product, add the API product to the API key using the UpdateDeveloperAppKey API. Using this API, you cannot update the following: * App name as it is the primary key used to identify the app and cannot be changed. * Scopes associated with the app. Instead, use the ReplaceDeveloperAppKey API. This API replaces the existing attributes with those specified in the request. Include or exclude any existing attributes that you want to retain or delete, respectively.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "generateKeyPairOrUpdateDeveloperAppStatus": {
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "description": "Manages access to a developer app by enabling you to: * Approve or revoke a developer app * Generate a new consumer key and secret for a developer app To approve or revoke a developer app, set the `action` query parameter to `approved` or `revoked`, respectively, and the `Content-Type` header to `application/octet-stream`. If a developer app is revoked, none of its API keys are valid for API calls even though the keys are still `approved`. If successful, the API call returns the following HTTP status code: `204 No Content` To generate a new consumer key and secret for a developer app, pass the new key/secret details. Rather than replace an existing key, this API generates a new key. In this case, multiple key pairs may be associated with a single developer app. Each key pair has an independent status (`approved` or `revoked`) and expiration time. Any approved, non-expired key can be used in an API call. For example, if you're using API key rotation, you can generate new keys with expiration times that overlap keys that are going to expire. You might also generate a new consumer key/secret if the security of the original key/secret is compromised. The `keyExpiresIn` property defines the expiration time for the API key in milliseconds. If you don't set this property or set it to `-1`, the API key never expires. **Notes**: * When generating a new key/secret, this API replaces the existing attributes, notes, and callback URLs with those specified in the request. Include or exclude any existing information that you want to retain or delete, respectively. * To migrate existing consumer keys and secrets to hybrid from another system, see the CreateDeveloperAppKey API.",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "action": {
                      "type": "string",
                      "description": "Action. Valid values are `approve` or `revoke`.",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the developer app. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}`",
                      "required": true
                    }
                  },
                  "id": "apigee.organizations.developers.apps.generateKeyPairOrUpdateDeveloperAppStatus",
                  "path": "v1/{+name}",
                  "httpMethod": "POST",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}",
                  "parameterOrder": [
                    "name"
                  ]
                }
              },
              "resources": {
                "keys": {
                  "methods": {
                    "create": {
                      "description": "Creates a custom consumer key and secret for a developer app. This is particularly useful if you want to migrate existing consumer keys and secrets to Apigee hybrid from another system. Consumer keys and secrets can contain letters, numbers, underscores, and hyphens. No other special characters are allowed. To avoid service disruptions, a consumer key and secret should not exceed 2 KBs each. **Note**: When creating the consumer key and secret, an association to API products will not be made. Therefore, you should not specify the associated API products in your request. Instead, use the UpdateDeveloperAppKey API to make the association after the consumer key and secret are created. If a consumer key and secret already exist, you can keep them or delete them using the DeleteDeveloperAppKey API.",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Parent of the developer app key. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps`",
                          "location": "path"
                        }
                      },
                      "id": "apigee.organizations.developers.apps.keys.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys",
                      "path": "v1/{+parent}/keys",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                      }
                    },
                    "get": {
                      "httpMethod": "GET",
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys/{keysId}",
                      "description": "Returns details for a consumer key for a developer app, including the key and secret value, associated API products, and other information.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "apigee.organizations.developers.apps.keys.get",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Name of the developer app key. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}/keys/{key}`",
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/keys/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                      }
                    },
                    "replaceDeveloperAppKey": {
                      "id": "apigee.organizations.developers.apps.keys.replaceDeveloperAppKey",
                      "parameters": {
                        "name": {
                          "description": "Name of the developer app key. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}/keys/{key}`",
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/keys/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "description": "Updates the scope of an app. This API replaces the existing scopes with those specified in the request. Include or exclude any existing scopes that you want to retain or delete, respectively. The specified scopes must already be defined for the API products associated with the app. This API sets the `scopes` element under the `apiProducts` element in the attributes of the app.",
                      "request": {
                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "PUT",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
[...]
