{
  "discoveryVersion": "v1",
  "description": "Use the Apigee API to programmatically develop and manage APIs with a set of RESTful operations. Develop and secure API proxies, deploy and undeploy API proxy revisions, monitor APIs, configure environments, manage users, and more. Note: This product is available as a free trial for a time period of 60 days.",
  "id": "apigee:v1",
  "parameters": {
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    }
  },
  "documentationLink": "https://cloud.google.com/apigee-api-management/",
  "basePath": "",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "baseUrl": "https://apigee.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "resources": {
    "organizations": {
      "methods": {
        "get": {
          "description": "Gets the profile for an Apigee organization. See [Understanding organizations](https://cloud.google.com/apigee/docs/api-platform/fundamentals/organization-structure).",
          "path": "v1/{+name}",
          "id": "apigee.organizations.get",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. Apigee organization name in the following format: `organizations/{org}`",
              "location": "path",
              "required": true,
              "pattern": "^organizations/[^/]+$"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/organizations/{organizationsId}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleCloudApigeeV1Organization"
          }
        },
        "setAddons": {
          "flatPath": "v1/organizations/{organizationsId}:setAddons",
          "path": "v1/{+org}:setAddons",
          "description": "Configures the add-ons for the Apigee organization. The existing add-on configuration will be fully replaced.",
          "request": {
            "$ref": "GoogleCloudApigeeV1SetAddonsRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "org"
          ],
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "id": "apigee.organizations.setAddons",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "org": {
              "pattern": "^organizations/[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}`",
              "required": true
            }
          }
        },
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "parameters": {
            "parent": {
              "type": "string",
              "description": "Required. Name of the Google Cloud project in which to associate the Apigee organization. Pass the information as a query parameter using the following structure in your request: `projects/`",
              "location": "query"
            }
          },
          "httpMethod": "POST",
          "id": "apigee.organizations.create",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "request": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "flatPath": "v1/organizations",
          "description": "Creates an Apigee organization. See [Create an Apigee organization](https://cloud.google.com/apigee/docs/api-platform/get-started/create-org).",
          "path": "v1/organizations"
        },
        "getDeployedIngressConfig": {
          "id": "apigee.organizations.getDeployedIngressConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleCloudApigeeV1IngressConfig"
          },
          "parameters": {
            "name": {
              "description": "Required. Name of the deployed configuration for the organization in the following format: 'organizations/{org}/deployedIngressConfig'.",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^organizations/[^/]+/deployedIngressConfig$"
            },
            "view": {
              "type": "string",
              "description": "When set to FULL, additional details about the specific deployments receiving traffic will be included in the IngressConfig response's RoutingRules.",
              "enum": [
                "INGRESS_CONFIG_VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "enumDescriptions": [
                "The default/unset value. The API will default to the BASIC view.",
                "Include all ingress config data necessary for the runtime to configure ingress, but no more. Routing rules will include only basepath and destination environment. This the default value.",
                "Include all ingress config data, including internal debug info for each routing rule such as the proxy claiming a particular basepath and when the routing rule first appeared in the env group."
              ],
              "location": "query"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "flatPath": "v1/organizations/{organizationsId}/deployedIngressConfig",
          "description": "Gets the deployed ingress configuration for an organization.",
          "path": "v1/{+name}"
        },
        "getProjectMapping": {
          "description": "Gets the project ID and region for an Apigee organization.",
          "id": "apigee.organizations.getProjectMapping",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "description": "Required. Apigee organization name in the following format: `organizations/{org}`",
              "location": "path",
              "pattern": "^organizations/[^/]+$"
            }
          },
          "path": "v1/{+name}:getProjectMapping",
          "flatPath": "v1/organizations/{organizationsId}:getProjectMapping",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleCloudApigeeV1OrganizationProjectMapping"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "setSyncAuthorization": {
          "httpMethod": "POST",
          "id": "apigee.organizations.setSyncAuthorization",
          "path": "v1/{+name}:setSyncAuthorization",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+$",
              "required": true,
              "description": "Required. Name of the Apigee organization. Use the following structure in your request: `organizations/{org}`",
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Sets the permissions required to allow the Synchronizer to download environment data from the control plane. You must call this API to enable proper functioning of hybrid. Pass the ETag when calling `setSyncAuthorization` to ensure that you are updating the correct version. To get an ETag, call [getSyncAuthorization](getSyncAuthorization). If you don't pass the ETag in the call to `setSyncAuthorization`, then the existing authorization is overwritten indiscriminately. For more information, see [Configure the Synchronizer](https://cloud.google.com/apigee/docs/hybrid/latest/synchronizer-access). **Note**: Available to Apigee hybrid only.",
          "flatPath": "v1/organizations/{organizationsId}:setSyncAuthorization",
          "response": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          },
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          }
        },
        "update": {
          "httpMethod": "PUT",
          "flatPath": "v1/organizations/{organizationsId}",
          "response": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "request": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "description": "Updates the properties for an Apigee organization. No other fields in the organization profile will be updated.",
          "id": "apigee.organizations.update",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "pattern": "^organizations/[^/]+$",
              "description": "Required. Apigee organization name in the following format: `organizations/{org}`",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ]
        },
        "getSyncAuthorization": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/{+name}:getSyncAuthorization",
          "id": "apigee.organizations.getSyncAuthorization",
          "request": {
            "$ref": "GoogleCloudApigeeV1GetSyncAuthorizationRequest"
          },
          "httpMethod": "POST",
          "flatPath": "v1/organizations/{organizationsId}:getSyncAuthorization",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          },
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^organizations/[^/]+$",
              "description": "Required. Name of the Apigee organization. Use the following structure in your request: `organizations/{org}`"
            }
          },
          "description": "Lists the service accounts with the permissions required to allow the Synchronizer to download environment data from the control plane. An ETag is returned in the response to `getSyncAuthorization`. Pass that ETag when calling [setSyncAuthorization](setSyncAuthorization) to ensure that you are updating the correct version. If you don't pass the ETag in the call to `setSyncAuthorization`, then the existing authorization is overwritten indiscriminately. For more information, see [Configure the Synchronizer](https://cloud.google.com/apigee/docs/hybrid/latest/synchronizer-access). **Note**: Available to Apigee hybrid only."
        },
        "getRuntimeConfig": {
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. Name of the runtime config for the organization in the following format: 'organizations/{org}/runtimeConfig'.",
              "location": "path",
              "pattern": "^organizations/[^/]+/runtimeConfig$",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "description": "Get runtime config for an organization.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/organizations/{organizationsId}/runtimeConfig",
          "path": "v1/{+name}",
          "id": "apigee.organizations.getRuntimeConfig",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleCloudApigeeV1RuntimeConfig"
          }
        },
        "delete": {
          "description": "Delete an Apigee organization. For organizations with BillingType EVALUATION, an immediate deletion is performed. For paid organizations, a soft-deletion is performed. The organization can be restored within the soft-deletion period which can be controlled using the retention field in the request.",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "path": "v1/{+name}",
          "flatPath": "v1/organizations/{organizationsId}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "DELETE",
          "id": "apigee.organizations.delete",
          "parameters": {
            "retention": {
              "location": "query",
              "type": "string",
              "description": "Optional. This setting is applicable only for organizations that are soft-deleted (i.e., BillingType is not EVALUATION). It controls how long Organization data will be retained after the initial delete operation completes. During this period, the Organization may be restored to its last known state. After this period, the Organization will no longer be able to be restored.",
              "enumDescriptions": [
                "Default data retention setting of seven days will be applied.",
                "Organization data will be retained for the minimum period of 24 hours."
              ],
              "enum": [
                "DELETION_RETENTION_UNSPECIFIED",
                "MINIMUM"
              ]
            },
            "name": {
              "type": "string",
              "required": true,
              "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}`",
              "pattern": "^organizations/[^/]+$",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "list": {
          "path": "v1/{+parent}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "parent"
          ],
          "id": "apigee.organizations.list",
          "response": {
            "$ref": "GoogleCloudApigeeV1ListOrganizationsResponse"
          },
          "flatPath": "v1/organizations",
          "description": "Lists the Apigee organizations and associated Google Cloud projects that you have permission to access. See [Understanding organizations](https://cloud.google.com/apigee/docs/api-platform/fundamentals/organization-structure).",
          "parameters": {
            "parent": {
              "pattern": "^organizations$",
              "description": "Required. Use the following structure in your request: `organizations`",
              "type": "string",
              "required": true,
              "location": "path"
            }
          }
        }
      },
      "resources": {
        "optimizedHostStats": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/optimizedHostStats/.*$",
                  "type": "string",
                  "description": "Required. Resource name for which the interactive query will be executed. Use the following format in your request: `organizations/{organization_id}/optimizedHostStats/{dimensions}` Dimensions let you view metrics in meaningful groupings, such as `apiproxy`, `target_host`. The value of dimensions should be a comma-separated list as shown below: `organizations/{org}/optimizedHostStats/apiproxy,request_verb`",
                  "required": true,
                  "location": "path"
                },
                "sort": {
                  "location": "query",
                  "description": "Flag that specifies whether the sort order should be ascending or descending. Valid values include `DESC` and `ASC`.",
                  "type": "string"
                },
                "select": {
                  "description": "Required. Comma-separated list of metrics. For example: `sum(message_count),sum(error_count)`",
                  "location": "query",
                  "type": "string"
                },
                "tsAscending": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Flag that specifies whether to list timestamps in ascending (`true`) or descending (`false`) order. Apigee recommends that you set this value to `true` if you are using `sortby` with `sort=DESC`."
                },
                "filter": {
                  "location": "query",
                  "description": "Filter that enables you to drill-down on specific dimension values.",
                  "type": "string"
                },
                "timeRange": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. Time interval for the interactive query. Time range is specified in GMT as `start~end`. For example: `04/15/2017 00:00~05/15/2017 23:59`."
                },
                "realtime": {
                  "location": "query",
                  "description": "No longer used by Apigee. Supported for backwards compatibility.",
                  "type": "boolean"
                },
                "envgroupHostname": {
                  "description": "Required. Hostname for which the interactive query will be executed.",
                  "location": "query",
                  "type": "string"
                },
                "timeUnit": {
                  "type": "string",
                  "description": "Granularity of metrics returned. Valid values include: `second`, `minute`, `hour`, `day`, `week`, or `month`.",
                  "location": "query"
                },
                "limit": {
                  "location": "query",
                  "description": "Maximum number of result items to return. The default and maximum value that can be returned is 14400.",
                  "type": "string"
                },
                "sortby": {
                  "type": "string",
                  "description": "Comma-separated list of columns used to sort the final result.",
                  "location": "query"
                },
                "offset": {
                  "type": "string",
                  "description": "Offset value. Use `offset` with `limit` to enable pagination of results. For example, to display results 11-20, set limit to `10` and offset to `10`.",
                  "location": "query"
                },
                "topk": {
                  "location": "query",
                  "type": "string",
                  "description": "Top number of results to return. For example, to return the top 5 results, set `topk=5`."
                },
                "accuracy": {
                  "type": "string",
                  "description": "No longer used by Apigee. Supported for backwards compatibility.",
                  "location": "query"
                },
                "tzo": {
                  "description": "Timezone offset value.",
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1OptimizedStats"
              },
              "id": "apigee.organizations.optimizedHostStats.get",
              "flatPath": "v1/organizations/{organizationsId}/optimizedHostStats/{optimizedHostStatsId}",
              "description": "Similar to GetHostStats except that the response is less verbose.",
              "path": "v1/{+name}"
            }
          }
        },
        "apiproducts": {
          "resources": {
            "attributes": {
              "methods": {
                "updateApiProductAttribute": {
                  "description": "Updates the value of an API product attribute. **Note**: OAuth access tokens and Key Management Service (KMS) entities (apps, developers, and API products) are cached for 180 seconds (current default). Any custom attributes associated with entities also get cached for at least 180 seconds after entity is accessed during runtime. In this case, the `ExpiresIn` element on the OAuthV2 policy won't be able to expire an access token in less than 180 seconds.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/attributes/{attributesId}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+/attributes/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the API product. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}`"
                    }
                  },
                  "httpMethod": "POST",
                  "id": "apigee.organizations.apiproducts.attributes.updateApiProductAttribute",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "description": "Deletes an API product attribute.",
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/attributes/{attributesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "id": "apigee.organizations.apiproducts.attributes.delete",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+/attributes/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the API product attribute. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}/attributes/{attribute}`"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE"
                },
                "get": {
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/attributes/{attributesId}",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "id": "apigee.organizations.apiproducts.attributes.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+/attributes/[^/]+$",
                      "required": true,
                      "description": "Required. Name of the API product attribute. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}/attributes/{attribute}`"
                    }
                  },
                  "description": "Gets the value of an API product attribute.",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attributes"
                  },
                  "path": "v1/{+parent}/attributes",
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/attributes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. Name of the API product. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}`",
                      "required": true,
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+$",
                      "location": "path"
                    }
                  },
                  "id": "apigee.organizations.apiproducts.attributes.list",
                  "description": "Lists all API product attributes."
                }
              }
            },
            "rateplans": {
              "methods": {
                "update": {
                  "description": "Updates an existing rate plan.",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.apiproducts.rateplans.update",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PUT",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1RatePlan"
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1RatePlan"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the rate plan. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}/rateplans/{rateplan}`",
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+/rateplans/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/rateplans/{rateplansId}"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a rate plan.",
                  "httpMethod": "DELETE",
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/rateplans/{rateplansId}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1RatePlan"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+/rateplans/[^/]+$",
                      "description": "Required. ID of the rate plan. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}/rateplans/{rateplan}`"
                    }
                  },
                  "id": "apigee.organizations.apiproducts.rateplans.delete",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1RatePlan"
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1RatePlan"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/rateplans",
                  "id": "apigee.organizations.apiproducts.rateplans.create",
                  "parameters": {
                    "parent": {
                      "description": "Required. Name of the API product that is associated with the rate plan. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}`",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+$"
                    }
                  },
                  "path": "v1/{+parent}/rateplans",
                  "description": "Create a rate plan that is associated with an API product in an organization. Using rate plans, API product owners can monetize their API products by configuring one or more of the following: - Billing frequency - Initial setup fees for using an API product - Payment funding model (postpaid only) - Fixed recurring or consumption-based charges for using an API product - Revenue sharing with developer partners An API product can have multiple rate plans associated with it but *only one* rate plan can be active at any point of time. **Note: From the developer's perspective, they purchase API products not rate plans."
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/rateplans/{rateplansId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "description": "Gets the details of a rate plan.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1RatePlan"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the rate plan. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}/rateplans/{rateplan}`",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+/rateplans/[^/]+$"
                    }
                  },
                  "id": "apigee.organizations.apiproducts.rateplans.get"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/rateplans",
                  "description": "Lists all the rate plans for an API product.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/rateplans",
                  "parameters": {
                    "parent": {
                      "description": "Required. Name of the API product. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}` Use `organizations/{org}/apiproducts/-` to return rate plans for all API products within the organization.",
                      "required": true,
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "expand": {
                      "type": "boolean",
                      "description": "Flag that specifies whether to expand the results. Set to `true` to get expanded details about each API. Defaults to `false`.",
                      "location": "query"
                    },
                    "count": {
                      "description": "Number of rate plans to return in the API call. Use with the `startKey` parameter to provide more targeted filtering. The maximum limit is 1000. Defaults to 100.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "orderBy": {
                      "description": "Name of the attribute used for sorting. Valid values include: * `name`: Name of the rate plan. * `state`: State of the rate plan (`DRAFT`, `PUBLISHED`). * `startTime`: Time when the rate plan becomes active. * `endTime`: Time when the rate plan expires. **Note**: Not supported by Apigee at this time.",
                      "location": "query",
                      "type": "string"
                    },
                    "startKey": {
                      "type": "string",
                      "description": "Name of the rate plan from which to start displaying the list of rate plans. If omitted, the list starts from the first item. For example, to view the rate plans from 51-150, set the value of `startKey` to the name of the 51st rate plan and set the value of `count` to 100.",
                      "location": "query"
                    },
                    "state": {
                      "description": "State of the rate plans (`DRAFT`, `PUBLISHED`) that you want to display.",
                      "location": "query",
                      "enumDescriptions": [
                        "State of the rate plan is not specified.",
                        "Rate plan is in draft mode and only visible to API providers.",
                        "Rate plan is published and will become visible to developers for the configured duration (between `startTime` and `endTime`)."
                      ],
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "DRAFT",
                        "PUBLISHED"
                      ],
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListRatePlansResponse"
                  },
                  "httpMethod": "GET",
                  "id": "apigee.organizations.apiproducts.rateplans.list"
                }
              }
            }
          },
          "methods": {
            "list": {
              "response": {
                "$ref": "GoogleCloudApigeeV1ListApiProductsResponse"
              },
              "httpMethod": "GET",
              "id": "apigee.organizations.apiproducts.list",
              "path": "v1/{+parent}/apiproducts",
              "parameters": {
                "attributevalue": {
                  "description": "Value of the attribute used to filter the search.",
                  "type": "string",
                  "location": "query"
                },
                "expand": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Flag that specifies whether to expand the results. Set to `true` to get expanded details about each API."
                },
                "count": {
                  "location": "query",
                  "format": "int64",
                  "type": "string",
                  "description": "Enter the number of API products you want returned in the API call. The limit is 1000."
                },
                "parent": {
                  "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}`",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "startKey": {
                  "location": "query",
                  "description": "Gets a list of API products starting with a specific API product in the list. For example, if you're returning 50 API products at a time (using the `count` query parameter), you can view products 50-99 by entering the name of the 50th API product in the first API (without using `startKey`). Product name is case sensitive.",
                  "type": "string"
                },
                "attributename": {
                  "description": "Name of the attribute used to filter the search.",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/apiproducts",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists all API product names for an organization. Filter the list by passing an `attributename` and `attibutevalue`. The maximum number of API products returned is 1000. You can paginate the list of API products returned using the `startKey` and `count` query parameters."
            },
            "get": {
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiProduct"
              },
              "id": "apigee.organizations.apiproducts.get",
              "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Gets configuration details for an API product. The API product name required in the request URL is the internal name of the product, not the display name. While they may be the same, it depends on whether the API product was created via the UI or the API. View the list of API products to verify the internal name.",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/apiproducts/[^/]+$",
                  "description": "Required. Name of the API product. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}`",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "path": "v1/{+name}"
            },
            "create": {
              "id": "apigee.organizations.apiproducts.create",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. Name of the organization in which the API product will be created. Use the following structure in your request: `organizations/{org}`",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Creates an API product in an organization. You create API products after you have proxied backend services using API proxies. An API product is a collection of API resources combined with quota settings and metadata that you can use to deliver customized and productized API bundles to your developer community. This metadata can include: - Scope - Environments - API proxies - Extensible profile API products enable you repackage APIs on the fly, without having to do any additional coding or configuration. Apigee recommends that you start with a simple API product including only required elements. You then provision credentials to apps to enable them to start testing your APIs. After you have authentication and authorization working against a simple API product, you can iterate to create finer-grained API products, defining different sets of API resources for each API product. **WARNING:** - If you don't specify an API proxy in the request body, *any* app associated with the product can make calls to *any* API in your entire organization. - If you don't specify an environment in the request body, the product allows access to all environments. For more information, see What is an API product?",
              "flatPath": "v1/organizations/{organizationsId}/apiproducts",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiProduct"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/apiproducts",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudApigeeV1ApiProduct"
              }
            },
            "attributes": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "apigee.organizations.apiproducts.attributes",
              "request": {
                "$ref": "GoogleCloudApigeeV1Attributes"
              },
              "httpMethod": "POST",
              "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/attributes",
              "path": "v1/{+name}/attributes",
              "response": {
                "$ref": "GoogleCloudApigeeV1Attributes"
              },
              "description": "Updates or creates API product attributes. This API **replaces** the current list of attributes with the attributes specified in the request body. In this way, you can update existing attributes, add new attributes, or delete existing attributes by omitting them from the request body. **Note**: OAuth access tokens and Key Management Service (KMS) entities (apps, developers, and API products) are cached for 180 seconds (current default). Any custom attributes associated with entities also get cached for at least 180 seconds after entity is accessed during runtime. In this case, the `ExpiresIn` element on the OAuthV2 policy won't be able to expire an access token in less than 180 seconds.",
              "parameters": {
                "name": {
                  "description": "Required. Name of the API product. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}`",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/apiproducts/[^/]+$",
                  "type": "string",
                  "required": true
                }
              }
            },
            "delete": {
              "description": "Deletes an API product from an organization. Deleting an API product causes app requests to the resource URIs defined in the API product to fail. Ensure that you create a new API product to serve existing apps, unless your intention is to disable access to the resources defined in the API product. The API product name required in the request URL is the internal name of the product, not the display name. While they may be the same, it depends on whether the API product was created via the UI or the API. View the list of API products to verify the internal name.",
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "apigee.organizations.apiproducts.delete",
              "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/apiproducts/[^/]+$",
                  "description": "Required. Name of the API product. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}`",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiProduct"
              }
            },
            "update": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/apiproducts/[^/]+$",
                  "description": "Required. Name of the API product. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}`",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleCloudApigeeV1ApiProduct"
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiProduct"
              },
              "description": "Updates an existing API product. You must include all required values, whether or not you are updating them, as well as any optional values that you are updating. The API product name required in the request URL is the internal name of the product, not the display name. While they may be the same, it depends on whether the API product was created via UI or API. View the list of API products to identify their internal names.",
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}",
              "id": "apigee.organizations.apiproducts.update"
            }
          }
        },
        "securityProfiles": {
          "methods": {
            "listRevisions": {
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of profile revisions to return. The service may return fewer than this value. If unspecified, at most 50 revisions will be returned.",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token, received from a previous `ListSecurityProfileRevisions` call. Provide this to retrieve the subsequent page."
                },
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. For a specific profile, list all the revisions. Format: `organizations/{org}/securityProfiles/{profile}`",
                  "pattern": "^organizations/[^/]+/securityProfiles/[^/]+$"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:listRevisions",
              "description": "ListSecurityProfileRevisions lists all the revisions of the security profile.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1ListSecurityProfileRevisionsResponse"
              },
              "flatPath": "v1/organizations/{organizationsId}/securityProfiles/{securityProfilesId}:listRevisions",
              "id": "apigee.organizations.securityProfiles.listRevisions"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "id": "apigee.organizations.securityProfiles.get",
              "flatPath": "v1/organizations/{organizationsId}/securityProfiles/{securityProfilesId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Security profile in the following format: `organizations/{org}/securityProfiles/{profile}'. Profile may optionally contain revision ID. If revision ID is not provided, the response will contain latest revision by default. Example: organizations/testOrg/securityProfiles/testProfile@5",
                  "pattern": "^organizations/[^/]+/securityProfiles/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "description": "GetSecurityProfile gets the specified security profile. Returns NOT_FOUND if security profile is not present for the specified organization.",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudApigeeV1SecurityProfile"
              }
            },
            "list": {
              "id": "apigee.organizations.securityProfiles.list",
              "path": "v1/{+parent}/securityProfiles",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/organizations/{organizationsId}/securityProfiles",
              "description": "ListSecurityProfiles lists all the security profiles associated with the org including attached and unattached profiles.",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListSecurityProfilesResponse"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "description": "Required. For a specific organization, list of all the security profiles. Format: `organizations/{org}`"
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListSecurityProfiles` call. Provide this to retrieve the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of profiles to return. The service may return fewer than this value. If unspecified, at most 50 profiles will be returned.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "environments": {
              "methods": {
                "computeEnvironmentScores": {
                  "flatPath": "v1/organizations/{organizationsId}/securityProfiles/{securityProfilesId}/environments/{environmentsId}:computeEnvironmentScores",
                  "parameterOrder": [
                    "profileEnvironment"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "profileEnvironment": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/securityProfiles/[^/]+/environments/[^/]+$",
                      "location": "path",
                      "description": "Required. Name of organization and environment and profile id for which score needs to be computed. Format: organizations/{org}/securityProfiles/{profile}/environments/{env}",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ComputeEnvironmentScoresResponse"
                  },
                  "id": "apigee.organizations.securityProfiles.environments.computeEnvironmentScores",
                  "httpMethod": "POST",
                  "description": "ComputeEnvironmentScores calculates scores for requested time range for the specified security profile and environment.",
                  "path": "v1/{+profileEnvironment}:computeEnvironmentScores",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1ComputeEnvironmentScoresRequest"
                  }
                },
                "create": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "apigee.organizations.securityProfiles.environments.create",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. Name of organization and security profile ID. Format: organizations/{org}/securityProfiles/{profile}",
                      "required": true,
                      "pattern": "^organizations/[^/]+/securityProfiles/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/securityProfiles/{securityProfilesId}/environments",
                  "description": "CreateSecurityProfileEnvironmentAssociation creates profile environment association i.e. attaches environment to security profile.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1SecurityProfileEnvironmentAssociation"
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1SecurityProfileEnvironmentAssociation"
                  },
                  "path": "v1/{+parent}/environments",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "id": "apigee.organizations.securityProfiles.environments.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the environment attachment to delete. Format: organizations/{org}/securityProfiles/{profile}/environments/{env}",
                      "required": true,
                      "location": "path",
                      "pattern": "^organizations/[^/]+/securityProfiles/[^/]+/environments/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "DeleteSecurityProfileEnvironmentAssociation removes profile environment association i.e. detaches environment from security profile.",
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "flatPath": "v1/organizations/{organizationsId}/securityProfiles/{securityProfilesId}/environments/{environmentsId}"
                }
              }
            }
          }
        },
        "reports": {
          "methods": {
            "update": {
              "id": "apigee.organizations.reports.update",
              "request": {
                "$ref": "GoogleCloudApigeeV1CustomReport"
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1CustomReport"
              },
              "path": "v1/{+name}",
              "httpMethod": "PUT",
              "description": "Update an existing custom report definition",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/reports/{reportsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/reports/[^/]+$",
                  "description": "Required. Custom Report name of the form: `organizations/{organization_id}/reports/{report_name}`",
                  "type": "string",
                  "required": true
                }
              }
            },
            "create": {
              "id": "apigee.organizations.reports.create",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudApigeeV1CustomReport"
              },
              "path": "v1/{+parent}/reports",
              "request": {
                "$ref": "GoogleCloudApigeeV1CustomReport"
              },
              "flatPath": "v1/organizations/{organizationsId}/reports",
              "description": "Creates a Custom Report for an Organization. A Custom Report provides Apigee Customers to create custom dashboards in addition to the standard dashboards which are provided. The Custom Report in its simplest form contains specifications about metrics, dimensions and filters. It is important to note that the custom report by itself does not provide an executable entity. The Edge UI converts the custom report definition into an analytics query and displays the result in a chart.",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. The parent organization name under which the Custom Report will be created. Must be of the form: `organizations/{organization_id}/reports`",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Custom Report name of the form: `organizations/{organization_id}/reports/{report_name}`",
                  "pattern": "^organizations/[^/]+/reports/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "DELETE",
              "id": "apigee.organizations.reports.delete",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/reports/{reportsId}",
              "description": "Deletes an existing custom report definition",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1DeleteCustomReportResponse"
              }
            },
            "list": {
              "path": "v1/{+parent}/reports",
              "description": "Return a list of Custom Reports",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "description": "Required. The parent organization name under which the API product will be listed `organizations/{organization_id}/reports`",
                  "type": "string",
                  "required": true
                },
                "expand": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Set to 'true' to get expanded details about each custom report."
                }
              },
              "id": "apigee.organizations.reports.list",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListCustomReportsResponse"
              },
              "flatPath": "v1/organizations/{organizationsId}/reports",
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "description": "Retrieve a custom report definition.",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Custom Report name of the form: `organizations/{organization_id}/reports/{report_name}`",
                  "pattern": "^organizations/[^/]+/reports/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/reports/{reportsId}",
              "id": "apigee.organizations.reports.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudApigeeV1CustomReport"
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "keyvaluemaps": {
          "resources": {
            "entries": {
              "methods": {
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates key value entries in a key value map scoped to an organization, environment, or API proxy. **Note**: Supported for Apigee hybrid 1.8.x and higher.",
                  "path": "v1/{+parent}/entries",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1KeyValueEntry"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1KeyValueEntry"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^organizations/[^/]+/keyvaluemaps/[^/]+$",
                      "description": "Required. Scope as indicated by the URI in which to create the key value map entry. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}`.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "id": "apigee.organizations.keyvaluemaps.entries.create",
                  "flatPath": "v1/organizations/{organizationsId}/keyvaluemaps/{keyvaluemapsId}/entries"
                },
                "delete": {
                  "id": "apigee.organizations.keyvaluemaps.entries.delete",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1KeyValueEntry"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/keyvaluemaps/{keyvaluemapsId}/entries/{entriesId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Scope as indicated by the URI in which to delete the key value map entry. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}/entries/{entry}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}/entries/{entry}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}/entries/{entry}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/keyvaluemaps/[^/]+/entries/[^/]+$"
                    }
                  },
                  "description": "Deletes a key value entry from a key value map scoped to an organization, environment, or API proxy. **Notes:** * After you delete the key value entry, the policy consuming the entry will continue to function with its cached values for a few minutes. This is expected behavior. * Supported for Apigee hybrid 1.8.x and higher.",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "id": "apigee.organizations.keyvaluemaps.entries.list",
                  "flatPath": "v1/organizations/{organizationsId}/keyvaluemaps/{keyvaluemapsId}/entries",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. Maximum number of key value entries to return. If unspecified, at most 100 entries will be returned.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "parent": {
                      "description": "Required. Scope as indicated by the URI in which to list key value maps. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}`.",
                      "pattern": "^organizations/[^/]+/keyvaluemaps/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "pageToken": {
                      "description": "Optional. Page token. If provides, must be a valid key value entry returned from a previous call that can be used to retrieve the next page.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists key value entries for key values maps scoped to an organization, environment, or API proxy. **Note**: Supported for Apigee hybrid 1.8.x and higher.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListKeyValueEntriesResponse"
                  },
                  "path": "v1/{+parent}/entries"
                },
                "get": {
                  "id": "apigee.organizations.keyvaluemaps.entries.get",
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/keyvaluemaps/{keyvaluemapsId}/entries/{entriesId}",
                  "parameters": {
                    "name": {
                      "description": "Required. Scope as indicated by the URI in which to fetch the key value map entry/value. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}/entries/{entry}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}/entries/{entry}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}/entries/{entry}`.",
                      "pattern": "^organizations/[^/]+/keyvaluemaps/[^/]+/entries/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Get the key value entry value for a key value map scoped to an organization, environment, or API proxy. **Note**: Supported for Apigee hybrid 1.8.x and higher.",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1KeyValueEntry"
                  }
                }
              }
            }
          },
          "methods": {
            "create": {
              "httpMethod": "POST",
              "id": "apigee.organizations.keyvaluemaps.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/keyvaluemaps",
              "description": "Creates a key value map in an organization.",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of the organization in which to create the key value map file. Use the following structure in your request: `organizations/{org}`",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1KeyValueMap"
              },
              "request": {
                "$ref": "GoogleCloudApigeeV1KeyValueMap"
              },
              "flatPath": "v1/organizations/{organizationsId}/keyvaluemaps",
              "parameterOrder": [
                "parent"
              ]
            },
            "delete": {
              "response": {
                "$ref": "GoogleCloudApigeeV1KeyValueMap"
              },
              "id": "apigee.organizations.keyvaluemaps.delete",
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "description": "Deletes a key value map from an organization.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/keyvaluemaps/{keyvaluemapsId}",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/keyvaluemaps/[^/]+$",
                  "description": "Required. Name of the key value map. Use the following structure in your request: `organizations/{org}/keyvaluemaps/{keyvaluemap}`",
                  "type": "string",
                  "location": "path"
                }
              }
            }
          }
        },
        "sites": {
          "resources": {
            "apicategories": {
              "methods": {
                "delete": {
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/sites/{sitesId}/apicategories/{apicategoriesId}",
                  "id": "apigee.organizations.sites.apicategories.delete",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ApiResponseWrapper"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a category from the portal.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Name of the category. Use the following structure in your request: `organizations/{org}/sites/{site}/apicategories/{apicategory}`",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/sites/[^/]+/apicategories/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "path": "v1/{+parent}/apicategories",
                  "flatPath": "v1/organizations/{organizationsId}/sites/{sitesId}/apicategories",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.sites.apicategories.list",
                  "httpMethod": "GET",
                  "description": "Lists the categories on the portal.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. Name of the portal. Use the following structure in your request: `organizations/{org}/sites/{site}`",
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/sites/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListApiCategoriesResponse"
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Name of the category. Use the following structure in your request: `organizations/{org}/sites/{site}/apicategories/{apicategory}`",
                      "pattern": "^organizations/[^/]+/sites/[^/]+/apicategories/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Gets a category on the portal.",
                  "flatPath": "v1/organizations/{organizationsId}/sites/{sitesId}/apicategories/{apicategoriesId}",
                  "id": "apigee.organizations.sites.apicategories.get",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ApiCategory"
                  },
                  "path": "v1/{+name}"
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ApiCategory"
                  },
                  "id": "apigee.organizations.sites.apicategories.patch",
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1ApiCategoryData"
                  },
                  "httpMethod": "PATCH",
                  "description": "Updates a category on the portal.",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the category. Use the following structure in your request: `organizations/{org}/sites/{site}/apicategories/{apicategory}`",
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/sites/[^/]+/apicategories/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/sites/{sitesId}/apicategories/{apicategoriesId}"
                },
                "create": {
                  "flatPath": "v1/organizations/{organizationsId}/sites/{sitesId}/apicategories",
                  "path": "v1/{+parent}/apicategories",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ApiCategory"
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1ApiCategoryData"
                  },
                  "description": "Creates a new category on the portal.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "id": "apigee.organizations.sites.apicategories.create",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the portal. Use the following structure in your request: `organizations/{org}/sites/{site}`",
                      "pattern": "^organizations/[^/]+/sites/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        },
        "apis": {
          "resources": {
            "deployments": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "Required. Name of the API proxy for which to return deployment information in the following format: `organizations/{org}/apis/{api}`",
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/apis/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/deployments",
                  "id": "apigee.organizations.apis.deployments.list",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListDeploymentsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/deployments",
                  "description": "Lists all deployments of an API proxy."
                }
              }
            },
            "keyvaluemaps": {
              "resources": {
                "entries": {
                  "methods": {
                    "get": {
                      "response": {
                        "$ref": "GoogleCloudApigeeV1KeyValueEntry"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "description": "Get the key value entry value for a key value map scoped to an organization, environment, or API proxy. **Note**: Supported for Apigee hybrid 1.8.x and higher.",
                      "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/keyvaluemaps/{keyvaluemapsId}/entries/{entriesId}",
                      "id": "apigee.organizations.apis.keyvaluemaps.entries.get",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^organizations/[^/]+/apis/[^/]+/keyvaluemaps/[^/]+/entries/[^/]+$",
                          "description": "Required. Scope as indicated by the URI in which to fetch the key value map entry/value. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}/entries/{entry}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}/entries/{entry}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}/entries/{entry}`.",
                          "required": true,
                          "type": "string"
                        }
                      }
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudApigeeV1ListKeyValueEntriesResponse"
                      },
                      "path": "v1/{+parent}/entries",
                      "parameters": {
                        "pageSize": {
                          "description": "Optional. Maximum number of key value entries to return. If unspecified, at most 100 entries will be returned.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Page token. If provides, must be a valid key value entry returned from a previous call that can be used to retrieve the next page."
                        },
                        "parent": {
                          "pattern": "^organizations/[^/]+/apis/[^/]+/keyvaluemaps/[^/]+$",
                          "location": "path",
                          "description": "Required. Scope as indicated by the URI in which to list key value maps. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}`.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "id": "apigee.organizations.apis.keyvaluemaps.entries.list",
                      "httpMethod": "GET",
                      "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/keyvaluemaps/{keyvaluemapsId}/entries",
                      "description": "Lists key value entries for key values maps scoped to an organization, environment, or API proxy. **Note**: Supported for Apigee hybrid 1.8.x and higher."
                    },
                    "create": {
                      "description": "Creates key value entries in a key value map scoped to an organization, environment, or API proxy. **Note**: Supported for Apigee hybrid 1.8.x and higher.",
                      "request": {
                        "$ref": "GoogleCloudApigeeV1KeyValueEntry"
                      },
                      "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/keyvaluemaps/{keyvaluemapsId}/entries",
                      "id": "apigee.organizations.apis.keyvaluemaps.entries.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "Required. Scope as indicated by the URI in which to create the key value map entry. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}`.",
                          "pattern": "^organizations/[^/]+/apis/[^/]+/keyvaluemaps/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudApigeeV1KeyValueEntry"
                      },
                      "path": "v1/{+parent}/entries"
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudApigeeV1KeyValueEntry"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^organizations/[^/]+/apis/[^/]+/keyvaluemaps/[^/]+/entries/[^/]+$",
                          "description": "Required. Scope as indicated by the URI in which to delete the key value map entry. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}/entries/{entry}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}/entries/{entry}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}/entries/{entry}`."
                        }
                      },
                      "id": "apigee.organizations.apis.keyvaluemaps.entries.delete",
                      "path": "v1/{+name}",
                      "description": "Deletes a key value entry from a key value map scoped to an organization, environment, or API proxy. **Notes:** * After you delete the key value entry, the policy consuming the entry will continue to function with its cached values for a few minutes. This is expected behavior. * Supported for Apigee hybrid 1.8.x and higher.",
                      "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/keyvaluemaps/{keyvaluemapsId}/entries/{entriesId}",
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "create": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/apis/[^/]+$",
                      "required": true,
                      "description": "Required. Name of the environment in which to create the key value map. Use the following structure in your request: `organizations/{org}/apis/{api}`",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1KeyValueMap"
                  },
                  "description": "Creates a key value map in an API proxy.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/keyvaluemaps",
                  "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/keyvaluemaps",
                  "id": "apigee.organizations.apis.keyvaluemaps.create",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1KeyValueMap"
                  }
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleCloudApigeeV1KeyValueMap"
                  },
                  "id": "apigee.organizations.apis.keyvaluemaps.delete",
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/keyvaluemaps/{keyvaluemapsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a key value map from an API proxy.",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the key value map. Use the following structure in your request: `organizations/{org}/apis/{api}/keyvaluemaps/{keyvaluemap}`",
                      "pattern": "^organizations/[^/]+/apis/[^/]+/keyvaluemaps/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "revisions": {
              "resources": {
                "deployments": {
                  "methods": {
                    "list": {
                      "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/revisions/{revisionsId}/deployments",
                      "parameters": {
                        "parent": {
                          "pattern": "^organizations/[^/]+/apis/[^/]+/revisions/[^/]+$",
                          "description": "Required. Name of the API proxy revision for which to return deployment information in the following format: `organizations/{org}/apis/{api}/revisions/{rev}`.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1ListDeploymentsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "apigee.organizations.apis.revisions.deployments.list",
                      "description": "Lists all deployments of an API proxy revision.",
                      "path": "v1/{+parent}/deployments"
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/revisions/{revisionsId}",
                  "parameters": {
                    "name": {
                      "description": "Required. API proxy revision in the following format: `organizations/{org}/apis/{api}/revisions/{rev}`",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/apis/[^/]+/revisions/[^/]+$"
                    },
                    "format": {
                      "type": "string",
                      "description": "Format used when downloading the API proxy configuration revision. Set to `bundle` to download the API proxy configuration revision as a zip file.",
                      "location": "query"
                    }
                  },
                  "description": "Gets an API proxy revision. To download the API proxy configuration bundle for the specified revision as a zip file, set the `format` query parameter to `bundle`. If you are using curl, specify `-o filename.zip` to save the output to a file; otherwise, it displays to `stdout`. Then, develop the API proxy configuration locally and upload the updated API proxy configuration revision, as described in [updateApiProxyRevision](updateApiProxyRevision).",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apigee.organizations.apis.revisions.get",
                  "response": {
                    "$ref": "GoogleApiHttpBody"
                  }
                },
                "updateApiProxyRevision": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/revisions/{revisionsId}",
                  "description": "Updates an existing API proxy revision by uploading the API proxy configuration bundle as a zip file from your local machine. You can update only API proxy revisions that have never been deployed. After deployment, an API proxy revision becomes immutable, even if it is undeployed. Set the `Content-Type` header to either `multipart/form-data` or `application/octet-stream`.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ApiProxyRevision"
                  },
                  "id": "apigee.organizations.apis.revisions.updateApiProxyRevision",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "validate": {
                      "description": "Ignored. All uploads are validated regardless of the value of this field. Maintained for compatibility with Apigee Edge API.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^organizations/[^/]+/apis/[^/]+/revisions/[^/]+$",
                      "description": "Required. API proxy revision to update in the following format: `organizations/{org}/apis/{api}/revisions/{rev}`",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "GoogleApiHttpBody"
                  }
                },
                "delete": {
                  "description": "Deletes an API proxy revision and all policies, resources, endpoints, and revisions associated with it. The API proxy revision must be undeployed before you can delete it.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/apis/[^/]+/revisions/[^/]+$",
                      "required": true,
                      "description": "Required. API proxy revision in the following format: `organizations/{org}/apis/{api}/revisions/{rev}`",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apigee.organizations.apis.revisions.delete",
                  "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/revisions/{revisionsId}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ApiProxyRevision"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE"
                }
              }
            }
          },
          "methods": {
            "get": {
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiProxy"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets an API proxy including a list of existing revisions.",
              "id": "apigee.organizations.apis.get",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+/apis/[^/]+$",
                  "location": "path",
                  "description": "Required. Name of the API proxy in the following format: `organizations/{org}/apis/{api}`"
                }
              }
            },
            "list": {
[...]
