{
  "title": "Apigee API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "ownerDomain": "google.com",
  "revision": "20201015",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "id": "apigee:v1",
  "basePath": "",
  "canonicalName": "Apigee",
  "documentationLink": "https://cloud.google.com/apigee-api-management/",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "mtlsRootUrl": "https://apigee.mtls.googleapis.com/",
  "baseUrl": "https://apigee.googleapis.com/",
  "schemas": {
    "GoogleCloudApigeeV1Metric": {
      "type": "object",
      "id": "GoogleCloudApigeeV1Metric",
      "properties": {
        "name": {
          "type": "string",
          "description": "This field contains the metric name."
        },
        "values": {
          "items": {
            "type": "any"
          },
          "type": "array",
          "description": "List of metric values. Possible value format: \"values\":[\"39.0\"] or \"values\":[ { \"value\": \"39.0\", \"timestamp\": 1232434354} ]"
        }
      },
      "description": "This message type encapsulates the metric data point. Example: { \"name\": \"sum(message_count)\", \"values\" : [ { \"timestamp\": 1549004400000, \"value\": \"39.0\" }, { \"timestamp\" : 1548997200000, \"value\" : \"0.0\" } ] } or { \"name\": \"sum(message_count)\", \"values\" : [\"39.0\"] }"
    },
    "GoogleCloudApigeeV1DeploymentChangeReportRoutingConflict": {
      "description": "Describes a routing conflict that may cause a deployment not to receive traffic at some basepath.",
      "properties": {
        "conflictingDeployment": {
          "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment",
          "description": "The existing basepath/deployment causing the conflict."
        },
        "description": {
          "description": "A human-readable description of this conflict.",
          "type": "string"
        },
        "environmentGroup": {
          "description": "The name of the environment group in which this conflict exists.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1DeploymentChangeReportRoutingConflict",
      "type": "object"
    },
    "GoogleCloudApigeeV1DeleteCustomReportResponse": {
      "id": "GoogleCloudApigeeV1DeleteCustomReportResponse",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "The response contains only a message field."
        }
      }
    },
    "GoogleTypeExpr": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "GoogleTypeExpr"
    },
    "GoogleCloudApigeeV1DeploymentChangeReportRoutingChange": {
      "properties": {
        "toDeployment": {
          "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment",
          "description": "The basepath/deployment that may start receiving that traffic. May be null if no deployment is able to receive the traffic."
        },
        "fromDeployment": {
          "description": "The basepath/deployment that may stop receiving some traffic.",
          "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment"
        },
        "shouldSequenceRollout": {
          "type": "boolean",
          "description": "True if using sequenced rollout would make this routing change safer. Note: this does not necessarily imply that automated sequenced rollout mode is supported for the operation."
        },
        "environmentGroup": {
          "type": "string",
          "description": "The name of the environment group affected by this routing change."
        },
        "description": {
          "type": "string",
          "description": "A human-readable description of this routing change."
        }
      },
      "id": "GoogleCloudApigeeV1DeploymentChangeReportRoutingChange",
      "type": "object",
      "description": "Describes a potential routing change that may occur as a result of some deployment operation."
    },
    "GoogleCloudApigeeV1UpdateError": {
      "properties": {
        "code": {
          "type": "string",
          "enumDescriptions": [
            "Not an error; returned on success HTTP Mapping: 200 OK",
            "The operation was cancelled, typically by the caller. HTTP Mapping: 499 Client Closed Request",
            "Unknown error. For example, this error may be returned when a `Status` value received from another address space belongs to an error space that is not known in this address space. Also errors raised by APIs that do not return enough error information may be converted to this error. HTTP Mapping: 500 Internal Server Error",
            "The client specified an invalid argument. Note that this differs from `FAILED_PRECONDITION`. `INVALID_ARGUMENT` indicates arguments that are problematic regardless of the state of the system (e.g., a malformed file name). HTTP Mapping: 400 Bad Request",
            "The deadline expired before the operation could complete. For operations that change the state of the system, this error may be returned even if the operation has completed successfully. For example, a successful response from a server could have been delayed long enough for the deadline to expire. HTTP Mapping: 504 Gateway Timeout",
            "Some requested entity (e.g., file or directory) was not found. Note to server developers: if a request is denied for an entire class of users, such as gradual feature rollout or undocumented allowlist, `NOT_FOUND` may be used. If a request is denied for some users within a class of users, such as user-based access control, `PERMISSION_DENIED` must be used. HTTP Mapping: 404 Not Found",
            "The entity that a client attempted to create (e.g., file or directory) already exists. HTTP Mapping: 409 Conflict",
            "The caller does not have permission to execute the specified operation. `PERMISSION_DENIED` must not be used for rejections caused by exhausting some resource (use `RESOURCE_EXHAUSTED` instead for those errors). `PERMISSION_DENIED` must not be used if the caller can not be identified (use `UNAUTHENTICATED` instead for those errors). This error code does not imply the request is valid or the requested entity exists or satisfies other pre-conditions. HTTP Mapping: 403 Forbidden",
            "The request does not have valid authentication credentials for the operation. HTTP Mapping: 401 Unauthorized",
            "Some resource has been exhausted, perhaps a per-user quota, or perhaps the entire file system is out of space. HTTP Mapping: 429 Too Many Requests",
            "The operation was rejected because the system is not in a state required for the operation's execution. For example, the directory to be deleted is non-empty, an rmdir operation is applied to a non-directory, etc. Service implementors can use the following guidelines to decide between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`: (a) Use `UNAVAILABLE` if the client can retry just the failing call. (b) Use `ABORTED` if the client should retry at a higher level (e.g., when a client-specified test-and-set fails, indicating the client should restart a read-modify-write sequence). (c) Use `FAILED_PRECONDITION` if the client should not retry until the system state has been explicitly fixed. E.g., if an \"rmdir\" fails because the directory is non-empty, `FAILED_PRECONDITION` should be returned since the client should not retry unless the files are deleted from the directory. HTTP Mapping: 400 Bad Request",
            "The operation was aborted, typically due to a concurrency issue such as a sequencer check failure or transaction abort. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 409 Conflict",
            "The operation was attempted past the valid range. E.g., seeking or reading past end-of-file. Unlike `INVALID_ARGUMENT`, this error indicates a problem that may be fixed if the system state changes. For example, a 32-bit file system will generate `INVALID_ARGUMENT` if asked to read at an offset that is not in the range [0,2^32-1], but it will generate `OUT_OF_RANGE` if asked to read from an offset past the current file size. There is a fair bit of overlap between `FAILED_PRECONDITION` and `OUT_OF_RANGE`. We recommend using `OUT_OF_RANGE` (the more specific error) when it applies so that callers who are iterating through a space can easily look for an `OUT_OF_RANGE` error to detect when they are done. HTTP Mapping: 400 Bad Request",
            "The operation is not implemented or is not supported/enabled in this service. HTTP Mapping: 501 Not Implemented",
            "Internal errors. This means that some invariants expected by the underlying system have been broken. This error code is reserved for serious errors. HTTP Mapping: 500 Internal Server Error",
            "The service is currently unavailable. This is most likely a transient condition, which can be corrected by retrying with a backoff. Note that it is not always safe to retry non-idempotent operations. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 503 Service Unavailable",
            "Unrecoverable data loss or corruption. HTTP Mapping: 500 Internal Server Error"
          ],
          "description": "Status code.",
          "enum": [
            "OK",
            "CANCELLED",
            "UNKNOWN",
            "INVALID_ARGUMENT",
            "DEADLINE_EXCEEDED",
            "NOT_FOUND",
            "ALREADY_EXISTS",
            "PERMISSION_DENIED",
            "UNAUTHENTICATED",
            "RESOURCE_EXHAUSTED",
            "FAILED_PRECONDITION",
            "ABORTED",
            "OUT_OF_RANGE",
            "UNIMPLEMENTED",
            "INTERNAL",
            "UNAVAILABLE",
            "DATA_LOSS"
          ]
        },
        "type": {
          "type": "string",
          "description": "A string that uniquely identifies the type of error. This provides a more reliable means to deduplicate errors across revisions and instances."
        },
        "resource": {
          "description": "The sub resource specific to this error (e.g. a proxy deployed within the EnvironmentConfig). If empty the error refers to the top level resource.",
          "type": "string"
        },
        "message": {
          "description": "User-friendly error message.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1UpdateError",
      "description": "Details on why a resource update failed in the runtime.",
      "type": "object"
    },
    "GoogleCloudApigeeV1DataCollectorConfig": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "For future compatibility.",
            "For integer values.",
            "For float values.",
            "For string values.",
            "For boolean values.",
            "For datetime values."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "INTEGER",
            "FLOAT",
            "STRING",
            "BOOLEAN",
            "DATETIME"
          ],
          "type": "string",
          "description": "Data type accepted by the data collector."
        },
        "name": {
          "type": "string",
          "description": "Name of the data collector in the following format: `organizations/{org}/datacollectors/{datacollector}`"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1DataCollectorConfig",
      "description": "Data collector and its configuration."
    },
    "GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRevision": {
      "description": "Revisions deployed in the MPs.",
      "id": "GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRevision",
      "type": "object",
      "properties": {
        "percentage": {
          "format": "int32",
          "description": "The percentage of MP replicas reporting this revision",
          "type": "integer"
        },
        "revision": {
          "description": "The proxy revision reported as deployed.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1ListApiCategoriesResponse": {
      "properties": {
        "message": {
          "description": "Description of the operation.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "Status of the operation."
        },
        "requestId": {
          "type": "string",
          "description": "ID that can be used to find request details in the log files."
        },
        "data": {
          "description": "Details of categories.",
          "items": {
            "$ref": "GoogleCloudApigeeV1ApiCategoryData"
          },
          "type": "array"
        },
        "errorCode": {
          "type": "string",
          "description": "ID that can be used to find errors in the log files."
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1ListApiCategoriesResponse",
      "description": "the response for ListApiCategoriesRequest."
    },
    "GoogleRpcPreconditionFailure": {
      "description": "Describes what preconditions have failed. For example, if an RPC failed because it required the Terms of Service to be acknowledged, it could list the terms of service violation in the PreconditionFailure message.",
      "id": "GoogleRpcPreconditionFailure",
      "type": "object",
      "properties": {
        "violations": {
          "description": "Describes all precondition violations.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcPreconditionFailureViolation"
          }
        }
      }
    },
    "GoogleCloudApigeeV1RoutingRule": {
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The unix timestamp when this rule was updated. This is updated whenever env_group_revision is updated. This field is omitted from the IngressConfig unless the GetDeployedIngressConfig API is called with debug=true."
        },
        "receiver": {
          "type": "string",
          "description": "The resource name of the proxy revision that is receiving this basepath in the following format: `organizations/{org}/apis/{api}/revisions/{rev}`. This field is omitted from the IngressConfig unless the GetDeployedIngressConfig API is called with debug=true."
        },
        "basepath": {
          "type": "string",
          "description": "URI path prefix used to route to the specified environment. May contain one or more wildcards. For example, path segments consisting of a single `*` character will match any string."
        },
        "envGroupRevision": {
          "description": "The env group config revision_id when this rule was added or last updated. This value is set when the rule is created and will only update if the the environment_id changes. It is used to determine if the runtime is up to date with respect to this rule. This field is omitted from the IngressConfig unless the GetDeployedIngressConfig API is called with debug=true.",
          "type": "string",
          "format": "int64"
        },
        "environment": {
          "type": "string",
          "description": "Name of an environment bound to the environment group in the following format: `organizations/{org}/environments/{env}`."
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1RoutingRule"
    },
    "GoogleCloudApigeeV1DimensionMetric": {
      "type": "object",
      "description": "This message type encapsulates a metric grouped by dimension.",
      "id": "GoogleCloudApigeeV1DimensionMetric",
      "properties": {
        "metrics": {
          "type": "array",
          "description": "This field contains a list of metrics.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Metric"
          }
        },
        "name": {
          "description": "This field contains the name of the dimension.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1TargetServer": {
      "type": "object",
      "description": "TargetServer configuration. TargetServers are used to decouple a proxy's TargetEndpoint HTTPTargetConnections from concrete URLs for backend services.",
      "properties": {
        "port": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The port number this target connects to on the given host. Value must be between 1 and 65535, inclusive."
        },
        "host": {
          "type": "string",
          "description": "Required. The host name this target connects to. Value must be a valid hostname as described by RFC-1123."
        },
        "sSLInfo": {
          "description": "Optional. Specifies TLS configuration info for this TargetServer. The JSON name is `sSLInfo` for legacy/backwards compatibility reasons -- Edge originally supported SSL, and the name is still used for TLS configuration.",
          "$ref": "GoogleCloudApigeeV1TlsInfo"
        },
        "isEnabled": {
          "type": "boolean",
          "description": "Optional. Enabling/disabling a TargetServer is useful when TargetServers are used in load balancing configurations, and one or more TargetServers need to taken out of rotation periodically. Defaults to true."
        },
        "description": {
          "description": "Optional. A human-readable description of this TargetServer.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The resource id of this target server. Values must match the regular expression "
        }
      },
      "id": "GoogleCloudApigeeV1TargetServer"
    },
    "GoogleCloudApigeeV1ListOfDevelopersResponse": {
      "type": "object",
      "id": "GoogleCloudApigeeV1ListOfDevelopersResponse",
      "properties": {
        "developer": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Developer"
          },
          "description": "List of developers.",
          "type": "array"
        }
      }
    },
    "GoogleCloudApigeeV1ProvisionOrganizationRequest": {
      "type": "object",
      "description": "Request for ProvisionOrganization.",
      "properties": {
        "authorizedNetwork": {
          "type": "string",
          "description": "Name of the customer project's VPC network. If provided, the network needs to be peered through Service Networking. If none is provided, the organization will have access only to the public internet."
        },
        "runtimeLocation": {
          "description": "Cloud Platform location for the runtime instance. Defaults to us-west1-a.",
          "type": "string"
        },
        "analyticsRegion": {
          "type": "string",
          "description": "Primary Cloud Platform region for analytics data storage. For valid values, see [Create an organization](https://docs.apigee.com/hybrid/latest/precog-provision). Defaults to us-west1."
        }
      },
      "id": "GoogleCloudApigeeV1ProvisionOrganizationRequest"
    },
    "GoogleCloudApigeeV1DebugSessionTransaction": {
      "id": "GoogleCloudApigeeV1DebugSessionTransaction",
      "type": "object",
      "description": "A transaction contains all of the debug information of the entire message flow of an API call processed by the runtime plane. The information is collected and recorded at critical points of the message flow in the runtime apiproxy.",
      "properties": {
        "completed": {
          "description": "Flag indicating whether a transaction is completed or not",
          "type": "boolean"
        },
        "point": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Point"
          },
          "type": "array",
          "description": "List of debug data collected by runtime plane at various defined points in the flow."
        }
      }
    },
    "GoogleCloudApigeeV1Organization": {
      "id": "GoogleCloudApigeeV1Organization",
      "properties": {
        "environments": {
          "description": "Output only. List of environments in the Apigee organization.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "projectId": {
          "type": "string",
          "description": "The project ID associated with the Apigee organization."
        },
        "lastModifiedAt": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time that the Apigee organization was last modified in milliseconds since epoch."
        },
        "properties": {
          "description": "Properties defined in the Apigee organization profile.",
          "$ref": "GoogleCloudApigeeV1Properties"
        },
        "createdAt": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. Time that the Apigee organization was created in milliseconds since epoch."
        },
        "description": {
          "type": "string",
          "description": "Description of the Apigee organization."
        },
        "runtimeType": {
          "type": "string",
          "description": "Required. Runtime type of the Apigee organization based on the Apigee subscription purchased.",
          "enum": [
            "RUNTIME_TYPE_UNSPECIFIED",
            "CLOUD",
            "HYBRID"
          ],
          "enumDescriptions": [
            "Runtime type not specified.",
            "Google-managed Apigee runtime.",
            "User-managed Apigee hybrid runtime."
          ]
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Name of the Apigee organization.",
          "type": "string"
        },
        "customerName": {
          "type": "string",
          "description": "Not used by Apigee."
        },
        "displayName": {
          "type": "string"
        },
        "caCertificate": {
          "readOnly": true,
          "description": "Output only. Base64-encoded public certificate for the root CA of the Apigee organization. Valid only when [RuntimeType] is CLOUD.",
          "type": "string",
          "format": "byte"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_TRIAL",
            "TYPE_PAID",
            "TYPE_INTERNAL"
          ],
          "description": "Not used by Apigee.",
          "enumDescriptions": [
            "Subscription type not specified.",
            "Subscription to Apigee is free, limited, and used for evaluation purposes only.",
            "Full subscription to Apigee has been purchased. See [Apigee pricing](https://cloud.google.com/apigee/pricing/).",
            "For internal users only."
          ],
          "type": "string"
        },
        "subscriptionType": {
          "enumDescriptions": [
            "Subscription type not specified.",
            "Full subscription to Apigee has been purchased.",
            "Subscription to Apigee is free, limited, and used for evaluation purposes only."
          ],
          "enum": [
            "SUBSCRIPTION_TYPE_UNSPECIFIED",
            "PAID",
            "TRIAL"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Subscription type of the Apigee organization. Valid values include trial (free, limited, and for evaluation purposes only) or paid (full subscription has been purchased). See [Apigee pricing](https://cloud.google.com/apigee/pricing/)."
        },
        "analyticsRegion": {
          "description": "Required. Primary GCP region for analytics data storage. For valid values, see [Create an Apigee organization](https://cloud.google.com/apigee/docs/api-platform/get-started/create-org).",
          "type": "string"
        },
        "attributes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Not used by Apigee."
        },
        "authorizedNetwork": {
          "description": "Compute Engine network used for Service Networking to be peered with Apigee runtime instances. See [Getting started with the Service Networking API](https://cloud.google.com/service-infrastructure/docs/service-networking/getting-started). Valid only when [RuntimeType] is set to CLOUD. The value can be updated only when there are no runtime instances. For example: \"default\". **Note:** Not supported for Apigee hybrid.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1DebugMask": {
      "id": "GoogleCloudApigeeV1DebugMask",
      "properties": {
        "faultJSONPaths": {
          "items": {
            "type": "string"
          },
          "description": "List of JSON paths that specify the JSON elements to be filtered from JSON payloads in error flows.",
          "type": "array"
        },
        "faultXPaths": {
          "description": "List of XPaths that specify the XML elements to be filtered from XML payloads in error flows.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "requestJSONPaths": {
          "description": "List of JSON paths that specify the JSON elements to be filtered from JSON request message payloads.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "requestXPaths": {
          "items": {
            "type": "string"
          },
          "description": "List of XPaths that specify the XML elements to be filtered from XML request message payloads.",
          "type": "array"
        },
        "responseJSONPaths": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of JSON paths that specify the JSON elements to be filtered from JSON response message payloads."
        },
        "name": {
          "description": "Name of the debug mask.",
          "type": "string"
        },
        "responseXPaths": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of XPaths that specify the XML elements to be filtered from XML response message payloads."
        },
        "namespaces": {
          "description": "Map of namespaces to URIs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "variables": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of variables that should be masked from the debug output."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1Result": {
      "type": "object",
      "properties": {
        "statusCode": {
          "description": "HTTP response code",
          "type": "string"
        },
        "uRI": {
          "type": "string",
          "description": "The relative path of the api proxy. for example, `\"uRI\" : \"/iloveapis\"`"
        },
        "timestamp": {
          "description": "Timestamp of when the result is recorded. Its format is dd-mm-yy hh:mm:ss:xxx. For example, `\"timestamp\" : \"12-08-19 00:31:59:960\"`",
          "type": "string"
        },
        "accessList": {
          "type": "array",
          "description": "A list of variable access actions agaist the api proxy. Supported values: Get, Set, Remove.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Access"
          }
        },
        "ActionResult": {
          "description": "Type of the action result. Can be one of the five: DebugInfo, RequestMessage, ResponseMessage, ErrorMessage, VariableAccess",
          "type": "string"
        },
        "reasonPhrase": {
          "description": "HTTP response phrase",
          "type": "string"
        },
        "headers": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Property"
          },
          "description": "A list of HTTP headers. for example, '\"headers\" : [ { \"name\" : \"Content-Length\", \"value\" : \"83\" }, { \"name\" : \"Content-Type\", \"value\" : \"application/json\" } ]'",
          "type": "array"
        },
        "content": {
          "description": "Error message content. for example, \"content\" : \"{\\\"fault\\\":{\\\"faultstring\\\":\\\"API timed out\\\",\\\"detail\\\":{\\\"errorcode\\\":\\\"flow.APITimedOut\\\"}}}\"",
          "type": "string"
        },
        "properties": {
          "description": "Name value pairs used for DebugInfo ActionResult.",
          "$ref": "GoogleCloudApigeeV1Properties"
        },
        "verb": {
          "type": "string",
          "description": "HTTP method verb"
        }
      },
      "description": "Result is short for \"action result\", could be different types identified by \"action_result\" field. Supported types: 1. DebugInfo : generic debug info collected by runtime recorded as a list of properties. For example, the contents could be virtual host info, state change result, or execution metadata. Required fields : properties, timestamp 2. RequestMessage: information of a http request. Contains headers, request URI and http methods type.Required fields : headers, uri, verb 3. ResponseMessage: information of a http response. Contains headers, reason phrase and http status code. Required fields : headers, reasonPhrase, statusCode 4. ErrorMessage: information of a http error message. Contains detail error message, reason phrase and status code. Required fields : content, headers, reasonPhrase, statusCode 5. VariableAccess: a list of variable access actions, can be Get, Set and Remove. Required fields : accessList",
      "id": "GoogleCloudApigeeV1Result"
    },
    "GoogleCloudApigeeV1ApiCategory": {
      "description": "the Api category resource wrapped with response status, error_code etc.",
      "id": "GoogleCloudApigeeV1ApiCategory",
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "ID that can be used to find request details in the log files."
        },
        "errorCode": {
          "description": "ID that can be used to find errors in the log files.",
          "type": "string"
        },
        "data": {
          "description": "Details of category.",
          "$ref": "GoogleCloudApigeeV1ApiCategoryData"
        },
        "status": {
          "type": "string",
          "description": "Status of the operation."
        },
        "message": {
          "type": "string",
          "description": "Description of the operation."
        }
      }
    },
    "GoogleCloudApigeeV1ReferenceConfig": {
      "id": "GoogleCloudApigeeV1ReferenceConfig",
      "type": "object",
      "properties": {
        "resourceName": {
          "description": "Name of the referenced resource in the following format: `organizations/{org}/environments/{env}/keystores/{keystore}` Only references to keystore resources are supported.",
          "type": "string"
        },
        "name": {
          "description": "Name of the reference in the following format: `organizations/{org}/environments/{env}/references/{reference}`",
          "type": "string"
        }
      }
    },
    "GoogleIamV1Policy": {
      "properties": {
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "auditConfigs": {
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          }
        },
        "bindings": {
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "type": "array",
          "description": "Associates a list of `members` to a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one member."
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        }
      },
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members` to a single `role`. Members can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') - etag: BwWWja0YfJA= - version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "GoogleIamV1Policy"
    },
    "GoogleCloudApigeeV1AccessRemove": {
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        }
      },
      "description": "Remove action. For example, \"Remove\" : { \"name\" : \"target.name\", \"success\" : true }",
      "id": "GoogleCloudApigeeV1AccessRemove"
    },
    "GoogleCloudApigeeV1CustomReport": {
      "id": "GoogleCloudApigeeV1CustomReport",
      "type": "object",
      "properties": {
        "chartType": {
          "type": "string",
          "description": "This field contains the chart type for the report"
        },
        "tags": {
          "type": "array",
          "description": "Legacy field: not used. This field contains a list of tags associated with custom report",
          "items": {
            "type": "string"
          }
        },
        "sortByCols": {
          "items": {
            "type": "string"
          },
          "description": "Legacy field: not used much. Contains the list of sort by columns",
          "type": "array"
        },
        "lastModifiedAt": {
          "description": "Output only. Modified time of this entity as milliseconds since epoch. json key: lastModifiedAt",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "properties": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ReportProperty"
          },
          "description": "This field contains report properties such as ui metadata etc."
        },
        "createdAt": {
          "description": "Output only. Unix time when the app was created json key: createdAt",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Required. Unique identifier for the report T his is a legacy field used to encode custom report unique id"
        },
        "organization": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Organization name"
        },
        "dimensions": {
          "type": "array",
          "description": "This contains the list of dimensions for the report",
          "items": {
            "type": "string"
          }
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1CustomReportMetric"
          },
          "description": "Required. This contains the list of metrics"
        },
        "fromTime": {
          "type": "string",
          "description": "Legacy field: not used. Contains the from time for the report"
        },
        "comments": {
          "items": {
            "type": "string"
          },
          "description": "Legacy field: not used. This field contains a list of comments associated with custom report",
          "type": "array"
        },
        "lastViewedAt": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Last viewed time of this entity as milliseconds since epoch"
        },
        "filter": {
          "type": "string",
          "description": "This field contains the filter expression"
        },
        "sortOrder": {
          "description": "Legacy field: not used much. Contains the sort order for the sort columns",
          "type": "string"
        },
        "limit": {
          "description": "Legacy field: not used This field contains the limit for the result retrieved",
          "type": "string"
        },
        "topk": {
          "type": "string",
          "description": "Legacy field: not used. This field contains the top k parameter value for restricting the result"
        },
        "displayName": {
          "description": "This is the display name for the report",
          "type": "string"
        },
        "environment": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Environment name"
        },
        "toTime": {
          "description": "Legacy field: not used. Contains the end time for the report",
          "type": "string"
        },
        "timeUnit": {
          "description": "This field contains the time unit of aggregation for the report",
          "type": "string"
        },
        "offset": {
          "description": "Legacy field: not used. This field contains the offset for the data",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1Export": {
      "type": "object",
      "id": "GoogleCloudApigeeV1Export",
      "properties": {
        "name": {
          "type": "string",
          "description": "Display name of the export job."
        },
        "self": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Self link of the export job. A URI that can be used to retrieve the status of an export job. Example: `/organizations/myorg/environments/myenv/analytics/exports/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd`"
        },
        "error": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Error is set when export fails"
        },
        "created": {
          "type": "string",
          "description": "Output only. Time the export job was created.",
          "readOnly": true
        },
        "state": {
          "description": "Output only. Status of the export job. Valid values include `enqueued`, `running`, `completed`, and `failed`.",
          "readOnly": true,
          "type": "string"
        },
        "updated": {
          "type": "string",
          "description": "Output only. Time the export job was last updated.",
          "readOnly": true
        },
        "executionTime": {
          "readOnly": true,
          "description": "Output only. Execution time for this export job. If the job is still in progress, it will be set to the amount of time that has elapsed since`created`, in seconds. Else, it will set to (`updated` - `created`), in seconds.",
          "type": "string"
        },
        "datastoreName": {
          "type": "string",
          "description": "Name of the datastore that is the destination of the export job [datastore]"
        },
        "description": {
          "description": "Description of the export job.",
          "type": "string"
        }
      },
      "description": "Details of an export job."
    },
    "GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRoute": {
      "properties": {
        "basepath": {
          "type": "string",
          "description": "The basepath in the routing table."
        },
        "envgroup": {
          "description": "The envgroup where this route is installed.",
          "type": "string"
        },
        "environment": {
          "type": "string",
          "description": "The destination environment. This will be empty if the route is not yet reported."
        },
        "percentage": {
          "description": "The percentage of ingress replicas reporting this route.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "A route deployed in the ingress routing table.",
      "id": "GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRoute"
    },
    "GoogleCloudApigeeV1DebugSession": {
      "properties": {
        "filter": {
          "description": "Optional. A conditional statement which is evaluated against the request message to determine if it should be traced. Syntax matches that of on API Proxy bundle flow Condition.",
          "type": "string"
        },
        "timeout": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The time in seconds after which this DebugSession should end. This value will override the value in query param, if both are provided."
        },
        "tracesize": {
          "type": "integer",
          "description": "Optional. The maximum number of bytes captured from the response payload. Min = 0, Max = 5120, Default = 5120.",
          "format": "int32"
        },
        "name": {
          "description": "A unique ID for this DebugSession.",
          "type": "string"
        },
        "count": {
          "description": "Optional. The number of request to be traced. Min = 1, Max = 15, Default = 10.",
          "format": "int32",
          "type": "integer"
        },
        "validity": {
          "format": "int32",
          "description": "Optional. The length of time, in seconds, that this debug session is valid, starting from when it's received in the control plane. Min = 1, Max = 15, Default = 10.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1DebugSession"
    },
    "GoogleCloudApigeeV1ApiProxyRevision": {
      "type": "object",
      "id": "GoogleCloudApigeeV1ApiProxyRevision",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the API proxy."
        },
        "targetEndpoints": {
          "description": "List of TargetEndpoints in the `/targets` directory of the API proxy. Typically, this element is included only when the API proxy was created using the Edge UI. This is a 'manifest' setting designed to provide visibility into the contents of the API proxy.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "contextInfo": {
          "description": "Revision number, app name, and organization for the API proxy.",
          "type": "string"
        },
        "proxyEndpoints": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of ProxyEndpoints in the `/proxies` directory of the API proxy. Typically, this element is included only when the API proxy was created using the Edge UI. This is a 'manifest' setting designed to provide visibility into the contents of the API proxy."
        },
        "targets": {
          "description": "List of the targets included in the API proxy revision.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "resourceFiles": {
          "description": "List of resource files included in the API proxy revision.",
          "$ref": "GoogleCloudApigeeV1ResourceFiles"
        },
        "lastModifiedAt": {
          "type": "string",
          "description": "Time that the API proxy revision was last modified in milliseconds since epoch.",
          "format": "int64"
        },
        "configurationVersion": {
          "description": "Version of the API proxy configuration schema to which the API proxy conforms. Currently, the only supported value is 4.0 (`majorVersion.minorVersion`). This setting may be used in the future to track the evolution of the API proxy format.",
          "$ref": "GoogleCloudApigeeV1ConfigVersion"
        },
        "description": {
          "description": "Description of the API proxy revision.",
          "type": "string"
        },
        "createdAt": {
          "description": "Time that the API proxy revision was created in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "proxies": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of proxy names included in the API proxy revision."
        },
        "revision": {
          "description": "API proxy revision.",
          "type": "string"
        },
        "displayName": {
          "description": "Human-readable name of the API proxy.",
          "type": "string"
        },
        "type": {
          "description": "Type. Set to `Application`. Maintained for compatibility with the Apigee Edge API.",
          "type": "string"
        },
        "basepaths": {
          "type": "array",
          "description": "Base URL of the API proxy.",
          "items": {
            "type": "string"
          }
        },
        "entityMetaDataAsProperties": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Metadata describing the API proxy revision as a key-value map."
        },
        "sharedFlows": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of the shared flows included in the API proxy revision."
        },
        "resources": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of the resources included in the API proxy revision formatted as \"{type}://{name}\"."
        },
        "targetServers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of TargetServers referenced in any TargetEndpoint in the API proxy. Typically, you will see this element only when the API proxy was created using the Edge UI. This is a 'manifest' setting designed to provide visibility into the contents of the API proxy."
        },
        "policies": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of policy names included in the API proxy revision.."
        },
        "teams": {
          "type": "array",
          "description": "List of the teams included in the API proxy revision.",
          "items": {
            "type": "string"
          }
        },
        "spec": {
          "type": "string",
          "description": "OpenAPI Specification that is associated with the API proxy. The value is set to a URL or to a path in the specification store."
        }
      },
      "description": "API proxy revision."
    },
    "GoogleCloudApigeeV1QueryMetadata": {
      "type": "object",
      "properties": {
        "endTimestamp": {
          "description": "End timestamp of the query range.",
          "type": "string"
        },
        "startTimestamp": {
          "description": "Start timestamp of the query range.",
          "type": "string"
        },
        "timeUnit": {
          "description": "Query GroupBy time unit.",
          "type": "string"
        },
        "metrics": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Metrics of the AsyncQuery. Example: [\"name:message_count,func:sum,alias:sum_message_count\"]"
        },
        "outputFormat": {
          "type": "string",
          "description": "Output format."
        },
        "dimensions": {
          "type": "array",
          "description": "Dimensions of the AsyncQuery.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudApigeeV1QueryMetadata"
    },
    "GoogleCloudApigeeV1AsyncQueryResult": {
      "properties": {
        "expires": {
          "type": "string",
          "description": "Query result will be unaccessable after this time."
        },
        "self": {
          "type": "string",
          "description": "Self link of the query results. Example: `/organizations/myorg/environments/myenv/queries/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd/result`"
        }
      },
      "id": "GoogleCloudApigeeV1AsyncQueryResult",
      "type": "object"
    },
    "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment": {
      "properties": {
        "basepath": {
          "type": "string",
          "description": "The basepath receiving traffic."
        },
        "environment": {
          "description": "The name of the environment in which the proxy is deployed.",
          "type": "string"
        },
        "apiProxy": {
          "type": "string",
          "description": "The name of the deployed proxy revision containing the basepath."
        },
        "revision": {
          "description": "The name of the deployed proxy revision containing the basepath.",
          "type": "string"
        }
      },
      "description": "A tuple representing a basepath and the deployment containing it.",
      "type": "object",
      "id": "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment"
    },
    "GoogleCloudApigeeV1DatastoreConfig": {
      "description": "Configuration detail for datastore",
      "type": "object",
      "id": "GoogleCloudApigeeV1DatastoreConfig",
      "properties": {
        "bucketName": {
          "type": "string",
          "description": "Name of the Cloud Storage bucket. Required for `gcs` target_type."
        },
        "projectId": {
          "type": "string",
          "description": "Required. GCP project in which the datastore exists"
        },
        "tablePrefix": {
          "description": "Prefix of BigQuery table Required for `bigquery` target_type.",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "Path of Cloud Storage bucket Required for `gcs` target_type."
        },
        "datasetName": {
          "type": "string",
          "description": "BigQuery dataset name Required for `bigquery` target_type."
        }
      }
    },
    "GoogleCloudApigeeV1CertInfo": {
      "description": "An X.509 certificate as defined in RFC 5280.",
      "id": "GoogleCloudApigeeV1CertInfo",
      "type": "object",
      "properties": {
        "validFrom": {
          "description": "The X.509 validity / notBefore in milliseconds since the epoch.",
          "type": "string",
          "format": "int64"
        },
        "publicKey": {
          "description": "The public key component of the X.509 subject public key info.",
          "type": "string"
        },
        "serialNumber": {
          "type": "string",
          "description": "The X.509 serial number."
        },
        "sigAlgName": {
          "type": "string",
          "description": "The X.509 signatureAlgorithm."
        },
        "issuer": {
          "type": "string",
          "description": "The X.509 issuer."
        },
        "basicConstraints": {
          "description": "The X.509 basic constraints extension.",
          "type": "string"
        },
        "expiryDate": {
          "type": "string",
          "description": "The X.509 validity / notAfter in milliseconds since the epoch.",
          "format": "int64"
        },
        "subjectAlternativeNames": {
          "description": "The X.509 subject alternative names (SANs) extension.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "version": {
          "description": "The X.509 version.",
          "format": "int32",
          "type": "integer"
        },
        "isValid": {
          "description": "\"Yes\" if certificate is valid, \"No\" if expired and \"Not yet\" if not yet valid.",
          "type": "string"
        },
        "subject": {
          "type": "string",
          "description": "The X.509 subject."
        }
      }
    },
    "GoogleCloudApigeeV1Schema": {
      "type": "object",
      "description": "Response for Schema call",
      "id": "GoogleCloudApigeeV1Schema",
      "properties": {
        "metrics": {
          "description": "List of schema fields grouped as dimensions. These are fields that can be used with an aggregate function such as sum, avg, min, max.",
          "items": {
            "$ref": "GoogleCloudApigeeV1SchemaSchemaElement"
          },
          "type": "array"
        },
        "meta": {
          "items": {
            "type": "string"
          },
          "description": "Additional metadata associated with schema. This is a legacy field and usually consists of an empty array of strings.",
          "type": "array"
        },
        "dimensions": {
          "items": {
            "$ref": "GoogleCloudApigeeV1SchemaSchemaElement"
          },
          "type": "array",
          "description": "List of schema fiels grouped as dimensions."
        }
      }
    },
    "GoogleCloudApigeeV1Reference": {
      "type": "object",
      "description": "A Reference configuration. References must refer to a keystore that also exists in the parent environment.",
      "properties": {
        "resourceType": {
          "description": "The type of resource referred to by this reference. Valid values are 'KeyStore' or 'TrustStore'.",
          "type": "string"
        },
        "name": {
          "description": "Required. The resource id of this reference. Values must match the regular expression [\\w\\s\\-.]+.",
          "type": "string"
        },
        "refers": {
          "type": "string",
          "description": "Required. The id of the resource to which this reference refers. Must be the id of a resource that exists in the parent environment and is of the given resource_type."
        },
        "description": {
          "description": "Optional. A human-readable description of this reference.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1Reference"
    },
    "GoogleCloudApigeeV1KeystoreConfig": {
      "properties": {
        "name": {
          "description": "Resource name in the following format: `organizations/{org}/environments/{env}/keystores/{keystore}`",
          "type": "string"
        },
        "aliases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1AliasRevisionConfig"
          },
          "description": "Aliases in the keystore."
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1KeystoreConfig"
    },
    "GoogleCloudApigeeV1OptimizedStats": {
      "id": "GoogleCloudApigeeV1OptimizedStats",
      "type": "object",
      "properties": {
        "Response": {
          "$ref": "GoogleCloudApigeeV1OptimizedStatsResponse",
          "description": "This field wraps the stats response for Js Optimized Scenario with a Response key. E.g. { \"Response\": { \"TimeUnit\": [], \"metaData\": { \"errors\": [], \"notices\": [ \"Source:Postgres\", \"Table used: edge.api.aaxgroup001.agg_api\", \"PG Host:ruappg08-ro.production.apigeeks.net\", \"query served by:80c4ebca-6a10-4a2e-8faf-c60c1ee306ca\" ] }, \"resultTruncated\": false, \"stats\": { \"data\": [ { \"identifier\": { \"names\": [ \"apiproxy\" ], \"values\": [ \"sirjee\" ] }, \"metric\": [ { \"env\": \"prod\", \"name\": \"sum(message_count)\", \"values\": [ 36.0 ] }, { \"env\": \"prod\", \"name\": \"sum(is_error)\", \"values\": [ 36.0 ] } ] } ] } } }"
        }
      }
    },
    "GoogleCloudApigeeV1Datastore": {
      "id": "GoogleCloudApigeeV1Datastore",
      "type": "object",
      "properties": {
        "targetType": {
          "type": "string",
          "description": "Destination storage type. Supported types `gcs` or `bigquery`."
        },
        "datastoreConfig": {
          "$ref": "GoogleCloudApigeeV1DatastoreConfig",
          "description": "Datastore Configurations."
        },
        "lastUpdateTime": {
          "description": "Output only. Datastore last update time, in milliseconds since the epoch of 1970-01-01T00:00:00Z",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Datastore create time, in milliseconds since the epoch of 1970-01-01T00:00:00Z"
        },
        "displayName": {
          "description": "Required. Display name in UI",
          "type": "string"
        },
        "org": {
          "description": "Output only. Organization that the datastore belongs to",
          "readOnly": true,
          "type": "string"
        },
        "self": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource link of Datastore. Example: `/organizations/{org}/analytics/datastores/{uuid}`"
        }
      },
      "description": "The data store defines the connection to export data repository (Cloud Storage, BigQuery), including the credentials used to access the data repository."
    },
    "GoogleCloudApigeeV1ListAppsResponse": {
      "id": "GoogleCloudApigeeV1ListAppsResponse",
      "type": "object",
      "properties": {
        "app": {
          "items": {
            "$ref": "GoogleCloudApigeeV1App"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudApigeeV1Properties": {
      "properties": {
        "property": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Property"
          },
          "description": "List of all properties in the object"
        }
      },
      "type": "object",
      "description": "Message for compatibility with legacy Edge specification for Java Properties object in JSON.",
      "id": "GoogleCloudApigeeV1Properties"
    },
    "GoogleCloudApigeeV1ListDatastoresResponse": {
      "id": "GoogleCloudApigeeV1ListDatastoresResponse",
      "description": "The response for ListDatastores",
      "properties": {
        "datastores": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Datastore"
          },
          "type": "array",
          "description": "A list of datastores"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1Property": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The property key"
        },
        "value": {
          "type": "string",
          "description": "The property value"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1Property",
      "description": "A single property entry in the Properties message."
    },
    "GoogleIamV1AuditLogConfig": {
      "type": "object",
      "id": "GoogleIamV1AuditLogConfig",
      "properties": {
        "logType": {
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables."
        },
        "exemptedMembers": {
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "GoogleCloudApigeeV1DeveloperAppKey": {
      "properties": {
        "apiProducts": {
          "description": "List of API products for which the credential can be used. **Note**: Do not specify the list of API products when creating a consumer key and secret for a developer app. Instead, use the UpdateDeveloperAppKey API to make the association after the consumer key and secret are created.",
          "type": "array",
          "items": {
            "type": "any"
          }
        },
        "consumerKey": {
          "type": "string",
          "description": "Consumer key."
        },
        "status": {
          "type": "string",
          "description": "Status of the credential. Valid values include `approved` or `revoked`."
        },
        "expiresAt": {
          "description": "Time the developer app expires in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        },
        "attributes": {
          "type": "array",
          "description": "List of attributes associated with the credential.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          }
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "description": "Scopes to apply to the app. The specified scope names must already be defined for the API product that you associate with the app.",
          "type": "array"
        },
        "consumerSecret": {
          "type": "string",
          "description": "Secret key."
        },
        "issuedAt": {
          "format": "int64",
          "type": "string",
          "description": "Time the developer app was created in milliseconds since epoch."
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1DeveloperAppKey"
    },
    "GoogleCloudApigeeV1OperationConfig": {
      "id": "GoogleCloudApigeeV1OperationConfig",
      "properties": {
        "apiSource": {
          "description": "Required. api_source represents either a proxy or remote service name for which the resources, methods and quota are associated with.",
          "type": "string"
        },
        "quota": {
          "$ref": "GoogleCloudApigeeV1Quota",
          "description": "Quota parameters to be enforced for the resources, methods, api_source combination. If none specified, quota enforcement will not be done."
        },
        "attributes": {
          "description": "custom attribute associated with the operation.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          }
        },
        "operations": {
          "description": "operations is the list of resource/methods pair, belonging to proxy/remote service, upon which quota will applied on. Note that currently we allow only a single operation. The call will fail if more than one is provided.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Operation"
          }
        }
      },
      "type": "object",
      "description": "OperationConfig binds the resources in a proxy or remote service with the allowed REST methods and its associated quota enforcement."
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "properties": {
        "policy": {
          "$ref": "GoogleIamV1Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them."
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "type": "object",
      "id": "GoogleIamV1SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method."
    },
    "GoogleCloudApigeeV1TargetServerConfig": {
      "id": "GoogleCloudApigeeV1TargetServerConfig",
      "type": "object",
      "properties": {
        "port": {
          "format": "int32",
          "description": "Port number for the target server.",
          "type": "integer"
        },
        "name": {
          "type": "string",
          "description": "Target server revision name in the following format: `organizations/{org}/environments/{env}/targetservers/{targetserver}/revisions/{rev}`"
        },
        "tlsInfo": {
          "$ref": "GoogleCloudApigeeV1TlsInfoConfig",
          "description": "TLS settings for the target server."
        },
        "host": {
          "description": "Host name of the target server.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1SharedFlowRevision": {
      "properties": {
        "resourceFiles": {
          "$ref": "GoogleCloudApigeeV1ResourceFiles",
          "description": "The resource files included in this shared flow revision."
        },
        "contextInfo": {
          "type": "string",
          "description": "A textual description of the shared flow revision."
        },
        "resources": {
          "description": "A list of the resources included in this shared flow revision formatted as \"{type}://{name}\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "configurationVersion": {
          "description": "The version of the configuration schema to which this shared flow conforms. The only supported value currently is majorVersion 4 and minorVersion 0. This setting may be used in the future to enable evolution of the shared flow format.",
          "$ref": "GoogleCloudApigeeV1ConfigVersion"
        },
        "displayName": {
          "description": "The human readable name of this shared flow.",
          "type": "string"
        },
        "description": {
          "description": "Description of the shared flow revision.",
          "type": "string"
        },
        "policies": {
          "description": "A list of policy names included in this shared flow revision.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "createdAt": {
          "description": "Time at which this shared flow revision was created, in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The string \"Application\""
        },
        "name": {
          "type": "string",
          "description": "The resource ID of the parent shared flow."
        },
        "lastModifiedAt": {
          "description": "Time at which this shared flow revision was most recently modified, in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        },
        "entityMetaDataAsProperties": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A Key-Value map of metadata about this shared flow revision."
        },
        "revision": {
          "description": "The resource ID of this revision.",
          "type": "string"
        },
        "sharedFlows": {
          "items": {
            "type": "string"
          },
          "description": "A list of the shared flow names included in this shared flow revision.",
          "type": "array"
        }
      },
      "description": "The metadata describing a shared flow revision.",
      "type": "object",
      "id": "GoogleCloudApigeeV1SharedFlowRevision"
    },
    "GoogleCloudApigeeV1ListDebugSessionsResponse": {
      "id": "GoogleCloudApigeeV1ListDebugSessionsResponse",
      "type": "object",
      "properties": {
        "sessions": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Session"
          },
          "description": "Session info that includes debug session ID and the first transaction creation timestamp.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token that you can include in a ListDebugSessionsRequest to retrieve the next page. If omitted, no subsequent pages exist."
        }
      }
    },
    "GoogleCloudApigeeV1ResourceStatus": {
      "description": "The status of a resource loaded in the runtime.",
      "properties": {
        "uid": {
          "type": "string",
          "description": "The uid of the resource. In the unexpected case that the instance has multiple uids for the same name, they should be reported under separate ResourceStatuses."
        },
        "totalReplicas": {
          "format": "int32",
          "description": "The total number of replicas that should have this resource.",
          "type": "integer"
        },
        "resource": {
          "description": "The resource name. Currently only two resources are supported: EnvironmentGroup - organizations/{org}/envgroups/{envgroup} EnvironmentConfig - organizations/{org}/environments/{environment}/deployedConfig",
          "type": "string"
        },
        "revisions": {
          "description": "Revisions of the resource currently deployed in the instance.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1RevisionStatus"
          }
        }
      },
      "id": "GoogleCloudApigeeV1ResourceStatus",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListHybridIssuersResponse": {
      "properties": {
        "issuers": {
          "description": "Lists of hybrid services and its trusted issuer email ids.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ServiceIssuersMapping"
          }
        }
      },
      "id": "GoogleCloudApigeeV1ListHybridIssuersResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1Environment": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Optional. Display name for this environment."
        },
        "name": {
          "description": "Required. Name of the environment. Values must match the regular expression `^[.\\\\p{Alnum}-_]{1,255}$`",
          "type": "string"
        },
        "lastModifiedAt": {
          "readOnly": true,
          "description": "Output only. Last modification time of this environment as milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the environment."
        },
        "properties": {
          "$ref": "GoogleCloudApigeeV1Properties",
          "description": "Optional. Key-value pairs that may be used for customizing the environment."
        },
        "createdAt": {
          "description": "Output only. Creation time of this environment as milliseconds since epoch.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        }
      },
      "id": "GoogleCloudApigeeV1Environment"
    },
    "GoogleCloudApigeeV1ListEnvironmentGroupAttachmentsResponse": {
      "type": "object",
      "id": "GoogleCloudApigeeV1ListEnvironmentGroupAttachmentsResponse",
      "description": "Response for ListEnvironmentGroupAttachments.",
      "properties": {
        "environmentGroupAttachments": {
          "items": {
            "$ref": "GoogleCloudApigeeV1EnvironmentGroupAttachment"
          },
          "description": "EnvironmentGroupAttachments for the specified environment group.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token that you can include in a ListEnvironmentGroupAttachments request to retrieve the next page. If omitted, no subsequent pages exist."
        }
      }
    },
    "GoogleCloudApigeeV1RuntimeTraceConfig": {
      "id": "GoogleCloudApigeeV1RuntimeTraceConfig",
      "description": "NEXT ID: 8 RuntimeTraceConfig defines the configurations for distributed trace in an environment.",
      "properties": {
        "revisionCreateTime": {
          "description": "The timestamp that the revision was created or updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "samplingConfig": {
          "description": "Trace configuration for all API proxies in an environment.",
          "$ref": "GoogleCloudApigeeV1RuntimeTraceSamplingConfig"
        },
        "endpoint": {
          "type": "string",
          "description": "Endpoint of the exporter."
        },
        "revisionId": {
          "description": "Revision number which can be used by the runtime to detect if the trace config has changed between two versions.",
          "type": "string"
        },
        "exporter": {
          "type": "string",
          "enumDescriptions": [
            "Exporter unspecified",
            "Jaeger exporter",
            "Cloudtrace exporter"
          ],
          "enum": [
            "EXPORTER_UNSPECIFIED",
            "JAEGER",
            "CLOUD_TRACE"
          ],
          "description": "Exporter that is used to view the distributed trace captured using OpenCensus. An exporter sends traces to any backend that is capable of consuming them. Recorded spans can be exported by registered exporters."
        },
        "overrides": {
          "description": "List of trace configuration overrides for spicific API proxies.",
          "items": {
            "$ref": "GoogleCloudApigeeV1RuntimeTraceConfigOverride"
          },
          "type": "array"
        },
        "name": {
          "description": "Name of the trace config in the following format: `organizations/{org}/environment/{env}/traceConfig`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1App": {
      "properties": {
        "status": {
          "description": "Status of the credential.",
          "type": "string"
        },
        "keyExpiresIn": {
          "description": "Duration, in milliseconds, of the consumer key that will be generated for the app. The default value, -1, indicates an infinite validity period. Once set, the expiration can't be updated. json key: keyExpiresIn",
          "type": "string",
          "format": "int64"
        },
        "appId": {
          "description": "ID of the app.",
          "type": "string"
        },
        "callbackUrl": {
          "description": "Callback URL used by OAuth 2.0 authorization servers to communicate authorization codes back to apps.",
          "type": "string"
        },
        "companyName": {
          "type": "string",
          "description": "Name of the company that owns the app."
        },
        "createdAt": {
          "type": "string",
          "description": "Output only. Unix time when the app was created.",
          "readOnly": true,
          "format": "int64"
        },
        "apiProducts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ApiProductRef"
          },
          "description": "List of API products associated with the app."
        },
        "name": {
          "description": "Name of the app.",
          "type": "string"
        },
        "scopes": {
          "description": "Scopes to apply to the app. The specified scope names must already exist on the API product that you associate with the app.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "lastModifiedAt": {
          "readOnly": true,
          "description": "Output only. Last modified time as milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        },
        "credentials": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Set of credentials for the app. Credentials are API key/secret pairs associated with API products.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Credential"
          }
        },
        "developerId": {
          "type": "string",
          "description": "ID of the developer."
        },
        "attributes": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "description": "List of attributes.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1App"
    },
    "GoogleCloudApigeeV1Point": {
      "description": "Point is a group of information collected by runtime plane at critical points of the message flow of the processed API request. This is a list of supported point IDs, categorized to three major buckets. For each category, debug points that we are currently supporting are listed below: - Flow status debug points: StateChange FlowInfo Condition Execution DebugMask Error - Flow control debug points: FlowCallout Paused Resumed FlowReturn BreakFlow Error - Runtime debug points: ScriptExecutor FlowCalloutStepDefinition CustomTarget StepDefinition Oauth2ServicePoint RaiseFault NodeJS The detail information of the given debug point is stored in a list of results.",
      "properties": {
        "results": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Result"
          },
          "type": "array",
          "description": "List of results extracted from a given debug point."
        },
        "id": {
          "type": "string",
          "description": "Name of a step in the transaction."
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1Point"
    },
    "GoogleCloudApigeeV1EntityMetadata": {
      "description": "Metadata common to many entities in this API.",
      "type": "object",
      "properties": {
        "createdAt": {
          "format": "int64",
          "type": "string",
          "description": "Time at which the API proxy was created, in milliseconds since epoch."
        },
        "subType": {
          "description": "The type of entity described",
          "type": "string"
        },
        "lastModifiedAt": {
          "description": "Time at which the API proxy was most recently modified, in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1EntityMetadata"
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for `TestIamPermissions` method.",
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1Session": {
      "description": "Session carries the debug session id and its creation time.",
      "id": "GoogleCloudApigeeV1Session",
      "properties": {
        "id": {
          "type": "string",
          "description": "The debug session ID."
        },
        "timestampMs": {
          "description": "The first transaction creation timestamp in millisecond, recoreded by UAP.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1Deployment": {
      "properties": {
        "pods": {
          "items": {
            "$ref": "GoogleCloudApigeeV1PodStatus"
          },
          "type": "array",
          "description": "Status reported by runtime pods. This field is not populated for List APIs."
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Errors reported for this deployment. Populated only when state == ERROR. This field is not populated in List APIs."
        },
        "apiProxy": {
          "description": "API proxy.",
          "type": "string"
        },
        "environment": {
          "description": "Environment.",
          "type": "string"
        },
        "state": {
          "enum": [
            "RUNTIME_STATE_UNSPECIFIED",
            "READY",
            "PROGRESSING",
            "ERROR"
          ],
          "enumDescriptions": [
            "This value should never be returned.",
            "The runtime has loaded the deployment.",
            "The deployment is not fully ready in the runtime.",
            "There is an error with the deployment that requires intervention."
          ],
          "type": "string",
          "description": "Current state of the deployment. This field is not populated in List APIs."
        },
        "instances": {
          "type": "array",
          "description": "Status reported by each runtime instance. This field is not populated in List APIs.",
          "items": {
            "$ref": "GoogleCloudApigeeV1InstanceDeploymentStatus"
          }
        },
        "deployStartTime": {
          "type": "string",
          "description": "Time the API proxy was marked `deployed` in the control plane in millisconds since epoch.",
          "format": "int64"
        },
        "routeConflicts": {
          "items": {
            "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingConflict"
          },
          "type": "array",
          "description": "Conflicts in the desired state routing configuration. The presence of conflicts does not cause the state to be ERROR, but it will mean that some of the deployments basepaths are not routed to its environment. If the conflicts change, the state will transition to PROGRESSING until the latest configuration is rolled out to all instances. This field is not populated in List APIs."
        },
        "revision": {
          "type": "string",
          "description": "API proxy revision."
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1Deployment"
    },
    "GoogleCloudApigeeV1ResourceFiles": {
      "id": "GoogleCloudApigeeV1ResourceFiles",
      "properties": {
        "resourceFile": {
          "items": {
            "$ref": "GoogleCloudApigeeV1ResourceFile"
          },
          "type": "array",
          "description": "List of resource files."
        }
      },
      "type": "object",
      "description": "List of resource files."
    },
    "GoogleCloudApigeeV1ApiResponseWrapper": {
      "id": "GoogleCloudApigeeV1ApiResponseWrapper",
      "properties": {
        "status": {
          "type": "string",
          "description": "Status of the operation."
        },
        "requestId": {
          "type": "string",
          "description": "ID that can be used to find request details in the log files."
        },
        "errorCode": {
          "description": "ID that can be used to find errors in the log files.",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "Description of the operation."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1QueryMetric": {
      "properties": {
        "value": {
          "description": "Operand value should be provided when operator is set.",
          "type": "string"
        },
        "operator": {
          "description": "One of `+`, `-`, `/`, `%`, `*`.",
          "type": "string"
        },
        "alias": {
          "description": "Alias for the metric. Alias will be used to replace metric name in query results.",
          "type": "string"
        },
        "function": {
          "type": "string",
          "description": "Aggregation function: avg, min, max, or sum."
        },
        "name": {
          "description": "Required. Metric name.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "More info about Metric: https://docs.apigee.com/api-platform/analytics/analytics-reference#metrics",
      "id": "GoogleCloudApigeeV1QueryMetric"
    },
    "GoogleCloudApigeeV1EnvironmentGroupConfig": {
      "id": "GoogleCloudApigeeV1EnvironmentGroupConfig",
      "description": "EnvironmentGroupConfig is a revisioned snapshot of an EnvironmentGroup and its associated routing rules.",
      "type": "object",
      "properties": {
        "hostnames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Host names for the environment group."
        },
        "revisionId": {
          "format": "int64",
          "description": "Revision id that defines the ordering of the EnvironmentGroupConfig resource. The higher the revision, the more recently the configuration was deployed.",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "A unique id for the environment group config that will only change if the environment group is deleted and recreated."
        },
        "routingRules": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1RoutingRule"
          },
          "description": "Ordered list of routing rules defining how traffic to this environment group's hostnames should be routed to different environments."
        },
        "name": {
          "type": "string",
          "description": "Name of the environment group in the following format: `organizations/{org}/envgroups/{envgroup}`."
        }
      }
    },
    "GoogleCloudApigeeV1Subscription": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Full name of the Pub/Sub subcription. Use the following structure in your request: `subscription \"projects/foo/subscription/bar\"`"
        }
      },
      "description": "Pub/Sub subscription of an environment.",
      "id": "GoogleCloudApigeeV1Subscription",
      "type": "object"
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "properties": {
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "GoogleCloudApigeeV1ServiceIssuersMapping": {
      "properties": {
        "service": {
          "description": "String indicating the Apigee service name.",
          "type": "string"
        },
        "emailIds": {
          "description": "List of trusted issuer email ids.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1ServiceIssuersMapping"
    },
    "GoogleCloudApigeeV1ReportProperty": {
      "type": "object",
      "properties": {
        "property": {
          "type": "string",
          "description": "name of the property"
        },
        "value": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "description": "property values",
          "type": "array"
        }
      },
      "id": "GoogleCloudApigeeV1ReportProperty"
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1ApiProductRef": {
      "id": "GoogleCloudApigeeV1ApiProductRef",
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "description": "Status of the API product."
        },
        "apiproduct": {
          "type": "string",
          "description": "Name of the API product."
        }
      }
    },
    "GoogleCloudApigeeV1Keystore": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The resource ID for this keystore. Values must match the regular expression `[\\w[:space:]-.]{1,255}`."
        },
        "aliases": {
          "description": "Output only. The aliases in this keystore.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudApigeeV1Keystore",
      "type": "object",
      "description": "A datastore for Certificates and Aliases"
    },
    "GoogleRpcPreconditionFailureViolation": {
      "id": "GoogleRpcPreconditionFailureViolation",
      "properties": {
        "type": {
          "description": "The type of PreconditionFailure. We recommend using a service-specific enum type to define the supported precondition violation subjects. For example, \"TOS\" for \"Terms of Service violation\".",
          "type": "string"
        },
        "subject": {
          "type": "string",
          "description": "The subject, relative to the type, that failed. For example, \"google.com/cloud\" relative to the \"TOS\" type would indicate which terms of service is being referenced."
        },
        "description": {
          "type": "string",
          "description": "A description of how the precondition failed. Developers can use this description to understand how to fix the failure. For example: \"Terms of service not accepted\"."
        }
      },
      "description": "A message type used to describe a single precondition failure.",
      "type": "object"
    },
    "GoogleCloudApigeeV1FlowHook": {
[...]
