{
  "version": "v1",
  "canonicalName": "Apigee",
  "baseUrl": "https://apigee.googleapis.com/",
  "revision": "20220303",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "batchPath": "batch",
  "documentationLink": "https://cloud.google.com/apigee-api-management/",
  "rootUrl": "https://apigee.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "resources": {
    "organizations": {
      "methods": {
        "getSyncAuthorization": {
          "response": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudApigeeV1GetSyncAuthorizationRequest"
          },
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Name of the Apigee organization. Use the following structure in your request: `organizations/{org}`"
            }
          },
          "path": "v1/{+name}:getSyncAuthorization",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "description": "Lists the service accounts with the permissions required to allow the Synchronizer to download environment data from the control plane. An ETag is returned in the response to `getSyncAuthorization`. Pass that ETag when calling [setSyncAuthorization](setSyncAuthorization) to ensure that you are updating the correct version. If you don't pass the ETag in the call to `setSyncAuthorization`, then the existing authorization is overwritten indiscriminately. For more information, see [Configure the Synchronizer](https://cloud.google.com/apigee/docs/hybrid/latest/synchronizer-access). **Note**: Available to Apigee hybrid only.",
          "flatPath": "v1/organizations/{organizationsId}:getSyncAuthorization",
          "id": "apigee.organizations.getSyncAuthorization"
        },
        "setSyncAuthorization": {
          "id": "apigee.organizations.setSyncAuthorization",
          "description": "Sets the permissions required to allow the Synchronizer to download environment data from the control plane. You must call this API to enable proper functioning of hybrid. Pass the ETag when calling `setSyncAuthorization` to ensure that you are updating the correct version. To get an ETag, call [getSyncAuthorization](getSyncAuthorization). If you don't pass the ETag in the call to `setSyncAuthorization`, then the existing authorization is overwritten indiscriminately. For more information, see [Configure the Synchronizer](https://cloud.google.com/apigee/docs/hybrid/latest/synchronizer-access). **Note**: Available to Apigee hybrid only.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          },
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+$",
              "description": "Required. Name of the Apigee organization. Use the following structure in your request: `organizations/{org}`",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          },
          "flatPath": "v1/organizations/{organizationsId}:setSyncAuthorization",
          "path": "v1/{+name}:setSyncAuthorization"
        },
        "setAddons": {
          "httpMethod": "POST",
          "path": "v1/{+org}:setAddons",
          "description": "Configures the add-ons for the Apigee organization. The existing add-on configuration will be fully replaced.",
          "parameterOrder": [
            "org"
          ],
          "request": {
            "$ref": "GoogleCloudApigeeV1SetAddonsRequest"
          },
          "flatPath": "v1/organizations/{organizationsId}:setAddons",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "parameters": {
            "org": {
              "type": "string",
              "pattern": "^organizations/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}`"
            }
          },
          "id": "apigee.organizations.setAddons",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "get": {
          "description": "Gets the profile for an Apigee organization. See [Understanding organizations](https://cloud.google.com/apigee/docs/api-platform/fundamentals/organization-structure).",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^organizations/[^/]+$",
              "description": "Required. Apigee organization name in the following format: `organizations/{org}`"
            }
          },
          "flatPath": "v1/organizations/{organizationsId}",
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "id": "apigee.organizations.get",
          "httpMethod": "GET"
        },
        "update": {
          "description": "Updates the properties for an Apigee organization. No other fields in the organization profile will be updated.",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^organizations/[^/]+$",
              "description": "Required. Apigee organization name in the following format: `organizations/{org}`",
              "required": true
            }
          },
          "path": "v1/{+name}",
          "flatPath": "v1/organizations/{organizationsId}",
          "request": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "parameterOrder": [
            "name"
          ],
          "id": "apigee.organizations.update",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "PUT",
          "response": {
            "$ref": "GoogleCloudApigeeV1Organization"
          }
        },
        "getRuntimeConfig": {
          "description": "Get runtime config for an organization.",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleCloudApigeeV1RuntimeConfig"
          },
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. Name of the runtime config for the organization in the following format: 'organizations/{org}/runtimeConfig'.",
              "type": "string",
              "pattern": "^organizations/[^/]+/runtimeConfig$",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/organizations/{organizationsId}/runtimeConfig",
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "id": "apigee.organizations.getRuntimeConfig"
        },
        "create": {
          "description": "Creates an Apigee organization. See [Create an Apigee organization](https://cloud.google.com/apigee/docs/api-platform/get-started/create-org).",
          "id": "apigee.organizations.create",
          "request": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/organizations",
          "flatPath": "v1/organizations",
          "parameters": {
            "parent": {
              "location": "query",
              "type": "string",
              "description": "Required. Name of the GCP project in which to associate the Apigee organization. Pass the information as a query parameter using the following structure in your request: `projects/`"
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "delete": {
          "flatPath": "v1/organizations/{organizationsId}",
          "httpMethod": "DELETE",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+$",
              "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}`",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "apigee.organizations.delete",
          "parameterOrder": [
            "name"
          ],
          "description": "Delete an Apigee organization. Only supported for SubscriptionType TRIAL.",
          "path": "v1/{+name}"
        },
        "list": {
          "id": "apigee.organizations.list",
          "parameters": {
            "parent": {
              "description": "Required. Use the following structure in your request: `organizations`",
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^organizations$"
            }
          },
          "response": {
            "$ref": "GoogleCloudApigeeV1ListOrganizationsResponse"
          },
          "parameterOrder": [
            "parent"
          ],
          "flatPath": "v1/organizations",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Lists the Apigee organizations and associated GCP projects that you have permission to access. See [Understanding organizations](https://cloud.google.com/apigee/docs/api-platform/fundamentals/organization-structure).",
          "path": "v1/{+parent}",
          "httpMethod": "GET"
        },
        "getDeployedIngressConfig": {
          "flatPath": "v1/organizations/{organizationsId}/deployedIngressConfig",
          "path": "v1/{+name}",
          "description": "Gets the deployed ingress configuration for an organization.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^organizations/[^/]+/deployedIngressConfig$",
              "description": "Required. Name of the deployed configuration for the organization in the following format: 'organizations/{org}/deployedIngressConfig'."
            },
            "view": {
              "location": "query",
              "enum": [
                "INGRESS_CONFIG_VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "enumDescriptions": [
                "The default/unset value. The API will default to the BASIC view.",
                "Include all ingress config data necessary for the runtime to configure ingress, but no more. Routing rules will include only basepath and destination environment. This the default value.",
                "Include all ingress config data, including internal debug info for each routing rule such as the proxy claiming a particular basepath and when the routing rule first appeared in the env group."
              ],
              "type": "string",
              "description": "When set to FULL, additional details about the specific deployments receiving traffic will be included in the IngressConfig response's RoutingRules."
            }
          },
          "response": {
            "$ref": "GoogleCloudApigeeV1IngressConfig"
          },
          "id": "apigee.organizations.getDeployedIngressConfig"
        }
      },
      "resources": {
        "optimizedHostStats": {
          "methods": {
            "get": {
              "path": "v1/{+name}",
              "description": "Similar to GetHostStats except that the response is less verbose.",
              "parameters": {
                "envgroupHostname": {
                  "description": "Required. Hostname for which the interactive query will be executed.",
                  "location": "query",
                  "type": "string"
                },
                "tzo": {
                  "location": "query",
                  "description": "Timezone offset value.",
                  "type": "string"
                },
                "realtime": {
                  "type": "boolean",
                  "location": "query",
                  "description": "No longer used by Apigee. Supported for backwards compatibility."
                },
                "topk": {
                  "description": "Top number of results to return. For example, to return the top 5 results, set `topk=5`.",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "description": "Filter that enables you to drill-down on specific dimension values.",
                  "type": "string"
                },
                "select": {
                  "location": "query",
                  "description": "Required. Comma-separated list of metrics. For example: `sum(message_count),sum(error_count)`",
                  "type": "string"
                },
                "tsAscending": {
                  "type": "boolean",
                  "description": "Flag that specifies whether to list timestamps in ascending (`true`) or descending (`false`) order. Apigee recommends that you set this value to `true` if you are using `sortby` with `sort=DESC`.",
                  "location": "query"
                },
                "limit": {
                  "location": "query",
                  "description": "Maximum number of result items to return. The default and maximum value that can be returned is 14400.",
                  "type": "string"
                },
                "sortby": {
                  "description": "Comma-separated list of columns used to sort the final result.",
                  "type": "string",
                  "location": "query"
                },
                "accuracy": {
                  "description": "No longer used by Apigee. Supported for backwards compatibility.",
                  "location": "query",
                  "type": "string"
                },
                "timeUnit": {
                  "location": "query",
                  "type": "string",
                  "description": "Granularity of metrics returned. Valid values include: `second`, `minute`, `hour`, `day`, `week`, or `month`."
                },
                "sort": {
                  "description": "Flag that specifies whether the sort order should be ascending or descending. Valid values include `DESC` and `ASC`.",
                  "location": "query",
                  "type": "string"
                },
                "timeRange": {
                  "type": "string",
                  "description": "Required. Time interval for the interactive query. Time range is specified in GMT as `start~end`. For example: `04/15/2017 00:00~05/15/2017 23:59`.",
                  "location": "query"
                },
                "offset": {
                  "location": "query",
                  "type": "string",
                  "description": "Offset value. Use `offset` with `limit` to enable pagination of results. For example, to display results 11-20, set limit to `10` and offset to `10`."
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/optimizedHostStats/.*$",
                  "location": "path",
                  "description": "Required. Resource name for which the interactive query will be executed. Use the following format in your request: `organizations/{organization_id}/optimizedHostStats/{dimensions}` Dimensions let you view metrics in meaningful groupings, such as `apiproxy`, `target_host`. The value of dimensions should be a comma-separated list as shown below: `organizations/{org}/optimizedHostStats/apiproxy,request_verb`"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/optimizedHostStats/{optimizedHostStatsId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1OptimizedStats"
              },
              "httpMethod": "GET",
              "id": "apigee.organizations.optimizedHostStats.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "keyvaluemaps": {
          "methods": {
            "delete": {
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "id": "apigee.organizations.keyvaluemaps.delete",
              "response": {
                "$ref": "GoogleCloudApigeeV1KeyValueMap"
              },
              "description": "Deletes a key value map from an organization.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the key value map. Use the following structure in your request: `organizations/{org}/keyvaluemaps/{keyvaluemap}`",
                  "pattern": "^organizations/[^/]+/keyvaluemaps/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/keyvaluemaps/{keyvaluemapsId}"
            },
            "create": {
              "response": {
                "$ref": "GoogleCloudApigeeV1KeyValueMap"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. Name of the organization in which to create the key value map file. Use the following structure in your request: `organizations/{org}`",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleCloudApigeeV1KeyValueMap"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a key value map in an organization.",
              "path": "v1/{+parent}/keyvaluemaps",
              "flatPath": "v1/organizations/{organizationsId}/keyvaluemaps",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "id": "apigee.organizations.keyvaluemaps.create"
            }
          }
        },
        "developers": {
          "methods": {
            "get": {
              "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}",
              "id": "apigee.organizations.developers.get",
              "httpMethod": "GET",
              "description": "Returns the developer details, including the developer's name, email address, apps, and other information. **Note**: The response includes only the first 100 developer apps.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudApigeeV1Developer"
              },
              "parameters": {
                "action": {
                  "description": "Status of the developer. Valid values are `active` or `inactive`.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "pattern": "^organizations/[^/]+/developers/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Email address of the developer. Use the following structure in your request: `organizations/{org}/developers/{developer_email}`"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "path": "v1/{+parent}/developers",
              "id": "apigee.organizations.developers.create",
              "description": "Creates a developer. Once created, the developer can register an app and obtain an API key. At creation time, a developer is set as `active`. To change the developer status, use the SetDeveloperStatus API.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of the Apigee organization in which the developer is created. Use the following structure in your request: `organizations/{org}`.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/organizations/{organizationsId}/developers",
              "request": {
                "$ref": "GoogleCloudApigeeV1Developer"
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1Developer"
              }
            },
            "updateMonetizationConfig": {
              "request": {
                "$ref": "GoogleCloudApigeeV1DeveloperMonetizationConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Updates the monetization configuration for the developer.",
              "path": "v1/{+name}",
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.developers.updateMonetizationConfig",
              "response": {
                "$ref": "GoogleCloudApigeeV1DeveloperMonetizationConfig"
              },
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/developers/[^/]+/monetizationConfig$",
                  "type": "string",
                  "description": "Required. Monetization configuration for the developer. Use the following structure in your request: `organizations/{org}/developers/{developer}/monetizationConfig`",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/monetizationConfig"
            },
            "getBalance": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Account balance for the developer. Use the following structure in your request: `organizations/{org}/developers/{developer}/balance`",
                  "pattern": "^organizations/[^/]+/developers/[^/]+/balance$",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/balance",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.developers.getBalance",
              "description": "Gets the account balance for the developer.",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudApigeeV1DeveloperBalance"
              }
            },
            "getMonetizationConfig": {
              "id": "apigee.organizations.developers.getMonetizationConfig",
              "response": {
                "$ref": "GoogleCloudApigeeV1DeveloperMonetizationConfig"
              },
              "httpMethod": "GET",
              "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/monetizationConfig",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Monetization configuration for the developer. Use the following structure in your request: `organizations/{org}/developers/{developer}/monetizationConfig`",
                  "pattern": "^organizations/[^/]+/developers/[^/]+/monetizationConfig$"
                }
              },
              "description": "Gets the monetization configuration for the developer.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}"
            },
            "delete": {
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/developers/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Email address of the developer. Use the following structure in your request: `organizations/{org}/developers/{developer_email}`",
                  "type": "string"
                }
              },
              "description": "Deletes a developer. All apps and API keys associated with the developer are also removed. **Warning**: This API will permanently delete the developer and related artifacts. To avoid permanently deleting developers and their artifacts, set the developer status to `inactive` using the SetDeveloperStatus API. **Note**: The delete operation is asynchronous. The developer app is deleted immediately, but its associated resources, such as apps and API keys, may take anywhere from a few seconds to a few minutes to be deleted.",
              "id": "apigee.organizations.developers.delete",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleCloudApigeeV1Developer"
              },
              "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}",
              "parameterOrder": [
                "name"
              ]
            },
            "update": {
              "id": "apigee.organizations.developers.update",
              "httpMethod": "PUT",
              "request": {
                "$ref": "GoogleCloudApigeeV1Developer"
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudApigeeV1Developer"
              },
              "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+/developers/[^/]+$",
                  "description": "Required. Email address of the developer. Use the following structure in your request: `organizations/{org}/developers/{developer_email}`",
                  "type": "string"
                }
              },
              "description": "Updates a developer. This API replaces the existing developer details with those specified in the request. Include or exclude any existing details that you want to retain or delete, respectively. The custom attribute limit is 18. **Note**: OAuth access tokens and Key Management Service (KMS) entities (apps, developers, and API products) are cached for 180 seconds (current default). Any custom attributes associated with these entities are cached for at least 180 seconds after the entity is accessed at runtime. Therefore, an `ExpiresIn` element on the OAuthV2 policy won't be able to expire an access token in less than 180 seconds."
            },
            "attributes": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudApigeeV1Attributes"
              },
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+/developers/[^/]+$",
                  "required": true,
                  "description": "Required. Email address of the developer for which attributes are being updated. Use the following structure in your request: `organizations/{org}/developers/{developer_email}`",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/attributes",
              "id": "apigee.organizations.developers.attributes",
              "description": "Updates developer attributes. This API replaces the existing attributes with those specified in the request. Add new attributes, and include or exclude any existing attributes that you want to retain or remove, respectively. The custom attribute limit is 18. **Note**: OAuth access tokens and Key Management Service (KMS) entities (apps, developers, and API products) are cached for 180 seconds (default). Any custom attributes associated with these entities are cached for at least 180 seconds after the entity is accessed at runtime. Therefore, an `ExpiresIn` element on the OAuthV2 policy won't be able to expire an access token in less than 180 seconds.",
              "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/attributes",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1Attributes"
              }
            },
            "setDeveloperStatus": {
              "description": "Sets the status of a developer. A developer is `active` by default. If you set a developer's status to `inactive`, the API keys assigned to the developer apps are no longer valid even though the API keys are set to `approved`. Inactive developers can still sign in to the developer portal and create apps; however, any new API keys generated during app creation won't work. To set the status of a developer, set the `action` query parameter to `active` or `inactive`, and the `Content-Type` header to `application/octet-stream`. If successful, the API call returns the following HTTP status code: `204 No Content`",
              "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.developers.setDeveloperStatus",
              "parameters": {
                "action": {
                  "description": "Status of the developer. Valid values are `active` and `inactive`.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/developers/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of the developer. Use the following structure in your request: `organizations/{org}/developers/{developer_id}`",
                  "location": "path"
                }
              },
              "httpMethod": "POST"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "id": "apigee.organizations.developers.list",
              "flatPath": "v1/organizations/{organizationsId}/developers",
              "parameters": {
                "includeCompany": {
                  "type": "boolean",
                  "description": "Flag that specifies whether to include company details in the response.",
                  "location": "query"
                },
                "expand": {
                  "location": "query",
                  "description": "Specifies whether to expand the results. Set to `true` to expand the results. This query parameter is not valid if you use the `count` or `startKey` query parameters.",
                  "type": "boolean"
                },
                "parent": {
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the Apigee organization. Use the following structure in your request: `organizations/{org}`."
                },
                "app": {
                  "type": "string",
                  "description": "Optional. List only Developers that are associated with the app. Note that start_key, count are not applicable for this filter criteria.",
                  "location": "query"
                },
                "count": {
                  "type": "string",
                  "description": "Optional. Number of developers to return in the API call. Use with the `startKey` parameter to provide more targeted filtering. The limit is 1000.",
                  "format": "int64",
                  "location": "query"
                },
                "ids": {
                  "location": "query",
                  "description": "Optional. List of IDs to include, separated by commas.",
                  "type": "string"
                },
                "startKey": {
                  "location": "query",
                  "type": "string",
                  "description": "**Note**: Must be used in conjunction with the `count` parameter. Email address of the developer from which to start displaying the list of developers. For example, if the an unfiltered list returns: ``` westley@example.com fezzik@example.com buttercup@example.com ``` and your `startKey` is `fezzik@example.com`, the list returned will be ``` fezzik@example.com buttercup@example.com ```"
                }
              },
              "path": "v1/{+parent}/developers",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListOfDevelopersResponse"
              },
              "description": "Lists all developers in an organization by email address. By default, the response does not include company developers. Set the `includeCompany` query parameter to `true` to include company developers. **Note**: A maximum of 1000 developers are returned in the response. You paginate the list of developers returned using the `startKey` and `count` query parameters."
            }
          },
          "resources": {
            "balance": {
              "methods": {
                "adjust": {
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperBalance"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Account balance for the developer. Use the following structure in your request: `organizations/{org}/developers/{developer}/balance`",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/balance$"
                    }
                  },
                  "httpMethod": "POST",
                  "description": "Adjust the prepaid balance for the developer. This API will be used in scenarios where the developer has been under-charged or over-charged.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudApigeeV1AdjustDeveloperBalanceRequest"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/balance:adjust",
                  "path": "v1/{+name}:adjust",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apigee.organizations.developers.balance.adjust"
                },
                "credit": {
                  "description": "Credits the account balance for the developer.",
                  "id": "apigee.organizations.developers.balance.credit",
                  "parameters": {
                    "name": {
                      "description": "Required. Account balance for the developer. Use the following structure in your request: `organizations/{org}/developers/{developer}/balance`",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/balance$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudApigeeV1CreditDeveloperBalanceRequest"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperBalance"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/balance:credit",
                  "path": "v1/{+name}:credit"
                }
              }
            },
            "attributes": {
              "methods": {
                "delete": {
                  "description": "Deletes a developer attribute.",
                  "id": "apigee.organizations.developers.attributes.delete",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/attributes/{attributesId}",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/developers/[^/]+/attributes/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the developer attribute. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/attributes/{attribute}`"
                    }
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "description": "Returns a list of all developer attributes.",
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/developers/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Email address of the developer for which attributes are being listed. Use the following structure in your request: `organizations/{org}/developers/{developer_email}`"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/attributes",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attributes"
                  },
                  "id": "apigee.organizations.developers.attributes.list",
                  "path": "v1/{+parent}/attributes"
                },
                "get": {
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/attributes/{attributesId}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the developer attribute. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/attributes/{attribute}`",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/attributes/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "apigee.organizations.developers.attributes.get",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Returns the value of the specified developer attribute.",
                  "path": "v1/{+name}"
                },
                "updateDeveloperAttribute": {
                  "id": "apigee.organizations.developers.attributes.updateDeveloperAttribute",
                  "description": "Updates a developer attribute. **Note**: OAuth access tokens and Key Management Service (KMS) entities (apps, developers, and API products) are cached for 180 seconds (default). Any custom attributes associated with these entities are cached for at least 180 seconds after the entity is accessed at runtime. Therefore, an `ExpiresIn` element on the OAuthV2 policy won't be able to expire an access token in less than 180 seconds.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/attributes/{attributesId}",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/developers/[^/]+/attributes/[^/]+$",
                      "description": "Required. Name of the developer attribute. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/attributes/{attribute}`",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  }
                }
              }
            },
            "subscriptions": {
              "methods": {
                "expire": {
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the API product subscription. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/subscriptions/{subscription}`",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/subscriptions/[^/]+$"
                    }
                  },
                  "description": "Expires an API product subscription immediately.",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudApigeeV1ExpireDeveloperSubscriptionRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperSubscription"
                  },
                  "path": "v1/{+name}:expire",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.developers.subscriptions.expire",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/subscriptions/{subscriptionsId}:expire"
                },
                "list": {
                  "path": "v1/{+parent}/subscriptions",
                  "description": "Lists all API product subscriptions for a developer.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListDeveloperSubscriptionsResponse"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/subscriptions",
                  "parameters": {
                    "count": {
                      "location": "query",
                      "description": "Number of API product subscriptions to return in the API call. Use with `startKey` to provide more targeted filtering. Defaults to 100. The maximum limit is 1000.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. Email address of the developer. Use the following structure in your request: `organizations/{org}/developers/{developer_email}`",
                      "pattern": "^organizations/[^/]+/developers/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "startKey": {
                      "type": "string",
                      "location": "query",
                      "description": "Name of the API product subscription from which to start displaying the list of subscriptions. If omitted, the list starts from the first item. For example, to view the API product subscriptions from 51-150, set the value of `startKey` to the name of the 51st subscription and set the value of `count` to 100."
                    }
                  },
                  "id": "apigee.organizations.developers.subscriptions.list"
                },
                "create": {
                  "id": "apigee.organizations.developers.subscriptions.create",
                  "description": "Creates a subscription to an API product. ",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1DeveloperSubscription"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/subscriptions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperSubscription"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/subscriptions",
                  "parameters": {
                    "parent": {
                      "description": "Required. Email address of the developer that is purchasing a subscription to the API product. Use the following structure in your request: `organizations/{org}/developers/{developer_email}`",
                      "pattern": "^organizations/[^/]+/developers/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets details for an API product subscription.",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/developers/[^/]+/subscriptions/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Name of the API product subscription. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/subscriptions/{subscription}`"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperSubscription"
                  },
                  "id": "apigee.organizations.developers.subscriptions.get",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/subscriptions/{subscriptionsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "apps": {
              "resources": {
                "keys": {
                  "resources": {
                    "apiproducts": {
                      "methods": {
                        "delete": {
                          "parameters": {
                            "name": {
                              "location": "path",
                              "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/keys/[^/]+/apiproducts/[^/]+$",
                              "required": true,
                              "type": "string",
                              "description": "Name of the API product in the developer app key in the following format: `organizations/{org}/developers/{developer_email}/apps/{app}/keys/{key}/apiproducts/{apiproduct}`"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                          },
                          "description": "Removes an API product from an app's consumer key. After the API product is removed, the app cannot access the API resources defined in that API product. **Note**: The consumer key is not removed, only its association with the API product.",
                          "id": "apigee.organizations.developers.apps.keys.apiproducts.delete",
                          "path": "v1/{+name}",
                          "httpMethod": "DELETE",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys/{keysId}/apiproducts/{apiproductsId}"
                        },
                        "updateDeveloperAppKeyApiProduct": {
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "name": {
                              "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/keys/[^/]+/apiproducts/[^/]+$",
                              "description": "Name of the API product in the developer app key in the following format: `organizations/{org}/developers/{developer_email}/apps/{app}/keys/{key}/apiproducts/{apiproduct}`",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            },
                            "action": {
                              "type": "string",
                              "description": "Approve or revoke the consumer key by setting this value to `approve` or `revoke`, respectively.",
                              "location": "query"
                            }
                          },
                          "httpMethod": "POST",
                          "description": "Approves or revokes the consumer key for an API product. After a consumer key is approved, the app can use it to access APIs. A consumer key that is revoked or pending cannot be used to access an API. Any access tokens associated with a revoked consumer key will remain active. However, Apigee checks the status of the consumer key and if set to `revoked` will not allow access to the API.",
                          "path": "v1/{+name}",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys/{keysId}/apiproducts/{apiproductsId}",
                          "id": "apigee.organizations.developers.apps.keys.apiproducts.updateDeveloperAppKeyApiProduct",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    },
                    "create": {
                      "methods": {
                        "create": {
                          "request": {
                            "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                          },
                          "description": "Creates a custom consumer key and secret for a developer app. This is particularly useful if you want to migrate existing consumer keys and secrets to Apigee from another system. Consumer keys and secrets can contain letters, numbers, underscores, and hyphens. No other special characters are allowed. To avoid service disruptions, a consumer key and secret should not exceed 2 KBs each. **Note**: When creating the consumer key and secret, an association to API products will not be made. Therefore, you should not specify the associated API products in your request. Instead, use the UpdateDeveloperAppKey API to make the association after the consumer key and secret are created. If a consumer key and secret already exist, you can keep them or delete them using the DeleteDeveloperAppKey API.",
                          "path": "v1/{+parent}/keys/create",
                          "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys/create",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "POST",
                          "parameters": {
                            "parent": {
                              "description": "Parent of the developer app key. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps`",
                              "type": "string",
                              "required": true,
                              "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                              "location": "path"
                            }
                          },
                          "id": "apigee.organizations.developers.apps.keys.create.create",
                          "response": {
                            "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                          }
                        }
                      }
                    }
                  },
                  "methods": {
                    "delete": {
                      "description": "Deletes an app's consumer key and removes all API products associated with the app. After the consumer key is deleted, it cannot be used to access any APIs. **Note**: After you delete a consumer key, you may want to: 1. Create a new consumer key and secret for the developer app using the CreateDeveloperAppKey API, and subsequently add an API product to the key using the UpdateDeveloperAppKey API. 2. Delete the developer app, if it is no longer required.",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/keys/[^/]+$",
                          "type": "string",
                          "description": "Name of the developer app key. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}/keys/{key}`"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                      },
                      "id": "apigee.organizations.developers.apps.keys.delete",
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys/{keysId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "replaceDeveloperAppKey": {
                      "httpMethod": "PUT",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Name of the developer app key. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}/keys/{key}`",
                          "type": "string",
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/keys/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Updates the scope of an app. This API replaces the existing scopes with those specified in the request. Include or exclude any existing scopes that you want to retain or delete, respectively. The specified scopes must already be defined for the API products associated with the app. This API sets the `scopes` element under the `apiProducts` element in the attributes of the app.",
                      "id": "apigee.organizations.developers.apps.keys.replaceDeveloperAppKey",
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys/{keysId}",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                      },
                      "path": "v1/{+name}"
                    },
                    "create": {
                      "id": "apigee.organizations.developers.apps.keys.create",
                      "parameters": {
                        "parent": {
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Parent of the developer app key. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps`"
                        }
                      },
                      "path": "v1/{+parent}/keys",
                      "request": {
                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                      },
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys",
                      "description": "Creates a custom consumer key and secret for a developer app. This is particularly useful if you want to migrate existing consumer keys and secrets to Apigee from another system. Consumer keys and secrets can contain letters, numbers, underscores, and hyphens. No other special characters are allowed. To avoid service disruptions, a consumer key and secret should not exceed 2 KBs each. **Note**: When creating the consumer key and secret, an association to API products will not be made. Therefore, you should not specify the associated API products in your request. Instead, use the UpdateDeveloperAppKey API to make the association after the consumer key and secret are created. If a consumer key and secret already exist, you can keep them or delete them using the DeleteDeveloperAppKey API.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                      }
                    },
                    "updateDeveloperAppKey": {
                      "parameters": {
                        "action": {
                          "type": "string",
                          "location": "query",
                          "description": "Approve or revoke the consumer key by setting this value to `approve` or `revoke`, respectively. The `Content-Type` header must be set to `application/octet-stream`."
                        },
                        "name": {
                          "type": "string",
                          "required": true,
                          "description": "Name of the developer app key. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}/keys/{key}`",
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/keys/[^/]+$",
                          "location": "path"
                        }
                      },
                      "httpMethod": "POST",
                      "path": "v1/{+name}",
                      "description": "Adds an API product to a developer app key, enabling the app that holds the key to access the API resources bundled in the API product. In addition, you can add attributes to a developer app key. This API replaces the existing attributes with those specified in the request. Include or exclude any existing attributes that you want to retain or delete, respectively. You can use the same key to access all API products associated with the app.",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                      },
                      "id": "apigee.organizations.developers.apps.keys.updateDeveloperAppKey",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys/{keysId}",
                      "request": {
                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                      }
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "description": "Name of the developer app key. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}/keys/{key}`",
                          "location": "path",
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/keys/[^/]+$"
                        }
                      },
                      "path": "v1/{+name}",
                      "id": "apigee.organizations.developers.apps.keys.get",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets details for a consumer key for a developer app, including the key and secret value, associated API products, and other information.",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys/{keysId}",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                      }
                    }
                  }
                },
                "attributes": {
                  "methods": {
                    "list": {
                      "description": "Returns a list of all developer app attributes.",
                      "path": "v1/{+parent}/attributes",
                      "id": "apigee.organizations.developers.apps.attributes.list",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Attributes"
                      },
                      "parameters": {
                        "parent": {
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                          "description": "Required. Name of the developer app. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}`",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/attributes",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "updateDeveloperAppAttribute": {
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/attributes/{attributesId}",
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/attributes/[^/]+$",
                          "description": "Required. Name of the developer app attribute. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}/attributes/{attribute}`",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "apigee.organizations.developers.apps.attributes.updateDeveloperAppAttribute",
                      "request": {
                        "$ref": "GoogleCloudApigeeV1Attribute"
                      },
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Attribute"
                      },
                      "description": "Updates a developer app attribute. **Note**: OAuth access tokens and Key Management Service (KMS) entities (apps, developers, and API products) are cached for 180 seconds (current default). Any custom attributes associated with these entities are cached for at least 180 seconds after the entity is accessed at runtime. Therefore, an `ExpiresIn` element on the OAuthV2 policy won't be able to expire an access token in less than 180 seconds."
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. Name of the developer app attribute. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}/attributes/{attribute}`",
                          "location": "path",
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/attributes/[^/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Attribute"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "DELETE",
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/attributes/{attributesId}",
                      "path": "v1/{+name}",
                      "id": "apigee.organizations.developers.apps.attributes.delete",
                      "description": "Deletes a developer app attribute."
                    },
                    "get": {
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Attribute"
                      },
                      "httpMethod": "GET",
                      "path": "v1/{+name}",
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/attributes/{attributesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/attributes/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Required. Name of the developer app attribute. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}/attributes/{attribute}`",
                          "type": "string"
                        }
                      },
                      "description": "Returns a developer app attribute.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "apigee.organizations.developers.apps.attributes.get"
                    }
                  }
                }
              },
              "methods": {
                "create": {
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. Name of the developer. Use the following structure in your request: `organizations/{org}/developers/{developer_email}`",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^organizations/[^/]+/developers/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/apps",
                  "id": "apigee.organizations.developers.apps.create",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates an app associated with a developer. This API associates the developer app with the specified API product and auto-generates an API key for the app to use in calls to API proxies inside that API product. The `name` is the unique ID of the app that you can use in API calls. The `DisplayName` (set as an attribute) appears in the UI. If you don't set the `DisplayName` attribute, the `name` appears in the UI."
                },
                "get": {
                  "description": "Returns the details for a developer app.",
                  "id": "apigee.organizations.developers.apps.get",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "parameters": {
                    "entity": {
                      "type": "string",
                      "description": "**Note**: Must be used in conjunction with the `query` parameter. Set to `apiresources` to return the number of API resources that have been approved for access by a developer app in the specified Apigee organization.",
                      "location": "query"
                    },
                    "query": {
                      "type": "string",
                      "location": "query",
                      "description": "**Note**: Must be used in conjunction with the `entity` parameter. Set to `count` to return the number of API resources that have been approved for access by a developer app in the specified Apigee organization."
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                      "location": "path",
                      "description": "Required. Name of the developer app. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}`"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "attributes": {
                  "description": "Updates attributes for a developer app. This API replaces the current attributes with those specified in the request.",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/attributes",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Name of the developer app. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}`",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Attributes"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attributes"
                  },
                  "path": "v1/{+name}/attributes",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apigee.organizations.developers.apps.attributes"
                },
                "update": {
                  "description": "Updates the details for a developer app. In addition, you can add an API product to a developer app and automatically generate an API key for the app to use when calling APIs in the API product. If you want to use an existing API key for the API product, add the API product to the API key using the UpdateDeveloperAppKey API. Using this API, you cannot update the following: * App name as it is the primary key used to identify the app and cannot be changed. * Scopes associated with the app. Instead, use the ReplaceDeveloperAppKey API. This API replaces the existing attributes with those specified in the request. Include or exclude any existing attributes that you want to retain or delete, respectively.",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}",
                  "id": "apigee.organizations.developers.apps.update",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PUT",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Name of the developer app. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}`",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  }
                },
                "list": {
                  "description": "Lists all apps created by a developer in an Apigee organization. Optionally, you can request an expanded view of the developer apps. A maximum of 100 developer apps are returned per API call. You can paginate the list of deveoper apps returned using the `startKey` and `count` query parameters.",
                  "id": "apigee.organizations.developers.apps.list",
                  "path": "v1/{+parent}/apps",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListDeveloperAppsResponse"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps",
                  "parameters": {
                    "expand": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. Specifies whether to expand the results. Set to `true` to expand the results. This query parameter is not valid if you use the `count` or `startKey` query parameters."
                    },
                    "count": {
                      "location": "query",
                      "description": "Number of developer apps to return in the API call. Use with the `startKey` parameter to provide more targeted filtering. The limit is 1000.",
                      "type": "string",
                      "format": "int64"
                    },
                    "startKey": {
                      "type": "string",
                      "location": "query",
                      "description": "**Note**: Must be used in conjunction with the `count` parameter. Name of the developer app from which to start displaying the list of developer apps. For example, if you're returning 50 developer apps at a time (using the `count` query parameter), you can view developer apps 50-99 by entering the name of the 50th developer app. The developer app name is case sensitive."
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. Name of the developer. Use the following structure in your request: `organizations/{org}/developers/{developer_email}`",
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/developers/[^/]+$"
                    },
                    "shallowExpand": {
                      "location": "query",
                      "description": "Optional. Specifies whether to expand the results in shallow mode. Set to `true` to expand the results in shallow mode.",
                      "type": "boolean"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "id": "apigee.organizations.developers.apps.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a developer app. **Note**: The delete operation is asynchronous. The developer app is deleted immediately, but its associated resources, such as app keys or access tokens, may take anywhere from a few seconds to a few minutes to be deleted.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the developer app. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}`",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "generateKeyPairOrUpdateDeveloperAppStatus": {
                  "description": "Manages access to a developer app by enabling you to: * Approve or revoke a developer app * Generate a new consumer key and secret for a developer app To approve or revoke a developer app, set the `action` query parameter to `approved` or `revoked`, respectively, and the `Content-Type` header to `application/octet-stream`. If a developer app is revoked, none of its API keys are valid for API calls even though the keys are still `approved`. If successful, the API call returns the following HTTP status code: `204 No Content` To generate a new consumer key and secret for a developer app, pass the new key/secret details. Rather than replace an existing key, this API generates a new key. In this case, multiple key pairs may be associated with a single developer app. Each key pair has an independent status (`approved` or `revoked`) and expiration time. Any approved, non-expired key can be used in an API call. For example, if you're using API key rotation, you can generate new keys with expiration times that overlap keys that are going to expire. You might also generate a new consumer key/secret if the security of the original key/secret is compromised. The `keyExpiresIn` property defines the expiration time for the API key in milliseconds. If you don't set this property or set it to `-1`, the API key never expires. **Notes**: * When generating a new key/secret, this API replaces the existing attributes, notes, and callback URLs with those specified in the request. Include or exclude any existing information that you want to retain or delete, respectively. * To migrate existing consumer keys and secrets to hybrid from another system, see the CreateDeveloperAppKey API.",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the developer app. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}`"
                    },
                    "action": {
                      "location": "query",
                      "type": "string",
                      "description": "Action. Valid values are `approve` or `revoke`."
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "httpMethod": "POST",
                  "id": "apigee.organizations.developers.apps.generateKeyPairOrUpdateDeveloperAppStatus",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        },
        "sites": {
          "resources": {
            "apicategories": {
              "methods": {
                "patch": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Name of the category. Use the following structure in your request: `organizations/{org}/sites/{site}/apicategories/{apicategory}`",
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/sites/[^/]+/apicategories/[^/]+$"
                    }
                  },
                  "httpMethod": "PATCH",
                  "id": "apigee.organizations.sites.apicategories.patch",
                  "description": "Updates a category on the portal.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ApiCategory"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/sites/{sitesId}/apicategories/{apicategoriesId}",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1ApiCategoryData"
                  }
                },
                "create": {
                  "path": "v1/{+parent}/apicategories",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudApigeeV1ApiCategoryData"
                  },
                  "description": "Creates a new category on the portal.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ApiCategory"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/sites/{sitesId}/apicategories",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/sites/[^/]+$",
                      "description": "Required. Name of the portal. Use the following structure in your request: `organizations/{org}/sites/{site}`",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.sites.apicategories.create"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/sites/{sitesId}/apicategories/{apicategoriesId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the category. Use the following structure in your request: `organizations/{org}/sites/{site}/apicategories/{apicategory}`",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/sites/[^/]+/apicategories/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ApiResponseWrapper"
                  },
                  "path": "v1/{+name}",
                  "description": "Deletes a category from the portal.",
                  "id": "apigee.organizations.sites.apicategories.delete",
                  "httpMethod": "DELETE"
                },
                "get": {
                  "id": "apigee.organizations.sites.apicategories.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/sites/[^/]+/apicategories/[^/]+$",
                      "description": "Required. Name of the category. Use the following structure in your request: `organizations/{org}/sites/{site}/apicategories/{apicategory}`",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/sites/{sitesId}/apicategories/{apicategoriesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ApiCategory"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "description": "Gets a category on the portal."
                },
                "list": {
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListApiCategoriesResponse"
                  },
                  "path": "v1/{+parent}/apicategories",
                  "description": "Lists the categories on the portal.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. Name of the portal. Use the following structure in your request: `organizations/{org}/sites/{site}`",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/sites/[^/]+$"
                    }
                  },
                  "id": "apigee.organizations.sites.apicategories.list",
                  "flatPath": "v1/organizations/{organizationsId}/sites/{sitesId}/apicategories"
                }
              }
            }
          }
        },
        "reports": {
          "methods": {
            "list": {
              "description": "Return a list of Custom Reports",
              "path": "v1/{+parent}/reports",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/organizations/{organizationsId}/reports",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListCustomReportsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. The parent organization name under which the API product will be listed `organizations/{organization_id}/reports`",
                  "required": true,
                  "location": "path"
                },
                "expand": {
                  "type": "boolean",
                  "description": "Set to 'true' to get expanded details about each custom report.",
                  "location": "query"
                }
              },
              "id": "apigee.organizations.reports.list"
            },
            "get": {
              "description": "Retrieve a custom report definition.",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Custom Report name of the form: `organizations/{organization_id}/reports/{report_name}`",
                  "pattern": "^organizations/[^/]+/reports/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "apigee.organizations.reports.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1CustomReport"
              },
              "httpMethod": "GET",
              "flatPath": "v1/organizations/{organizationsId}/reports/{reportsId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes an existing custom report definition",
              "flatPath": "v1/organizations/{organizationsId}/reports/{reportsId}",
              "httpMethod": "DELETE",
              "id": "apigee.organizations.reports.delete",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Custom Report name of the form: `organizations/{organization_id}/reports/{report_name}`",
                  "pattern": "^organizations/[^/]+/reports/[^/]+$",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1DeleteCustomReportResponse"
              }
            },
            "create": {
              "flatPath": "v1/organizations/{organizationsId}/reports",
              "response": {
                "$ref": "GoogleCloudApigeeV1CustomReport"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudApigeeV1CustomReport"
              },
              "httpMethod": "POST",
              "description": "Creates a Custom Report for an Organization. A Custom Report provides Apigee Customers to create custom dashboards in addition to the standard dashboards which are provided. The Custom Report in its simplest form contains specifications about metrics, dimensions and filters. It is important to note that the custom report by itself does not provide an executable entity. The Edge UI converts the custom report definition into an analytics query and displays the result in a chart.",
              "id": "apigee.organizations.reports.create",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
[...]
