{
  "discoveryVersion": "v1",
  "baseUrl": "https://apigee.googleapis.com/",
  "canonicalName": "Apigee",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "rootUrl": "https://apigee.googleapis.com/",
  "description": "Use the Apigee API to programmatically develop and manage APIs with a set of RESTful operations. Develop and secure API proxies, deploy and undeploy API proxy revisions, monitor APIs, configure environments, manage users, and more. Note: This product is available as a free trial for a time period of 60 days.",
  "schemas": {
    "GoogleCloudApigeeV1ListRatePlansResponse": {
      "id": "GoogleCloudApigeeV1ListRatePlansResponse",
      "properties": {
        "nextStartKey": {
          "type": "string",
          "description": "Value that can be sent as `startKey` to retrieve the next page of content. If this field is omitted, there are no subsequent pages."
        },
        "ratePlans": {
          "description": "List of rate plans in an organization.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1RatePlan"
          }
        }
      },
      "description": "Response for ListRatePlans.",
      "type": "object"
    },
    "GoogleCloudApigeeV1ResourceStatus": {
      "type": "object",
      "description": "The status of a resource loaded in the runtime.",
      "id": "GoogleCloudApigeeV1ResourceStatus",
      "properties": {
        "uid": {
          "type": "string",
          "description": "The uid of the resource. In the unexpected case that the instance has multiple uids for the same name, they should be reported under separate ResourceStatuses."
        },
        "totalReplicas": {
          "description": "The total number of replicas that should have this resource.",
          "format": "int32",
          "type": "integer"
        },
        "resource": {
          "type": "string",
          "description": "The resource name. Currently only two resources are supported: EnvironmentGroup - organizations/{org}/envgroups/{envgroup} EnvironmentConfig - organizations/{org}/environments/{environment}/deployedConfig"
        },
        "revisions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1RevisionStatus"
          },
          "description": "Revisions of the resource currently deployed in the instance."
        }
      }
    },
    "GoogleCloudApigeeV1Instance": {
      "description": "Apigee runtime instance.",
      "properties": {
        "lastModifiedAt": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time the instance was last modified in milliseconds since epoch.",
          "format": "int64"
        },
        "host": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Internal hostname or IP address of the Apigee endpoint used by clients to connect to the service."
        },
        "runtimeVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Version of the runtime system running in the instance. The runtime system is the set of components that serve the API Proxy traffic in your Environments."
        },
        "location": {
          "description": "Required. Compute Engine location where the instance resides.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Display name for the instance."
        },
        "createdAt": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Time the instance was created in milliseconds since epoch.",
          "type": "string"
        },
        "peeringCidrRange": {
          "type": "string",
          "enum": [
            "CIDR_RANGE_UNSPECIFIED",
            "SLASH_16",
            "SLASH_17",
            "SLASH_18",
            "SLASH_19",
            "SLASH_20",
            "SLASH_22",
            "SLASH_23"
          ],
          "enumDescriptions": [
            "Range not specified.",
            "`/16` CIDR range.",
            "`/17` CIDR range.",
            "`/18` CIDR range.",
            "`/19` CIDR range.",
            "`/20` CIDR range.",
            "`/22` CIDR range. Supported for evaluation only.",
            "`/23` CIDR range. Supported for evaluation only."
          ],
          "description": "Optional. Size of the CIDR block range that will be reserved by the instance. PAID organizations support `SLASH_16` to `SLASH_20` and defaults to `SLASH_16`. Evaluation organizations support only `SLASH_23`."
        },
        "description": {
          "description": "Optional. Description of the instance.",
          "type": "string"
        },
        "port": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Port number of the exposed Apigee endpoint."
        },
        "state": {
          "enumDescriptions": [
            "Resource is in an unspecified state.",
            "Resource is being created.",
            "Resource is provisioned and ready to use.",
            "The resource is being deleted.",
            "The resource is being updated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "UPDATING"
          ],
          "readOnly": true,
          "description": "Output only. State of the instance. Values other than `ACTIVE` means the resource is not ready to use.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Resource ID of the instance. Values must match the regular expression `^a-z{0,30}[a-z\\d]$`."
        },
        "diskEncryptionKeyName": {
          "type": "string",
          "description": "Customer Managed Encryption Key (CMEK) used for disk and volume encryption. Required for Apigee paid subscriptions only. Use the following format: `projects/([^/]+)/locations/([^/]+)/keyRings/([^/]+)/cryptoKeys/([^/]+)`"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1Instance"
    },
    "GoogleCloudApigeeV1DimensionMetric": {
      "description": "Encapsulates a metric grouped by dimension.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the dimension."
        },
        "metrics": {
          "description": "List of metrics.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Metric"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1DimensionMetric"
    },
    "GoogleCloudApigeeV1ServiceIssuersMapping": {
      "type": "object",
      "properties": {
        "service": {
          "description": "String indicating the Apigee service name.",
          "type": "string"
        },
        "emailIds": {
          "description": "List of trusted issuer email ids.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudApigeeV1ServiceIssuersMapping"
    },
    "GoogleCloudApigeeV1OptimizedStatsResponse": {
      "description": "Encapsulates a response format for JavaScript Optimized Scenario.",
      "id": "GoogleCloudApigeeV1OptimizedStatsResponse",
      "properties": {
        "metaData": {
          "$ref": "GoogleCloudApigeeV1Metadata",
          "description": "Metadata information about the query executed."
        },
        "stats": {
          "description": "`stats` results.",
          "$ref": "GoogleCloudApigeeV1OptimizedStatsNode"
        },
        "resultTruncated": {
          "type": "boolean",
          "description": "Boolean flag that indicates whether the results were truncated based on the limit parameter."
        },
        "TimeUnit": {
          "description": "List of time unit values. Time unit refers to an epoch timestamp value.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1OptimizedStatsNode": {
      "id": "GoogleCloudApigeeV1OptimizedStatsNode",
      "description": "Encapsulates a data node as represented below: ``` { \"identifier\": { \"names\": [ \"apiproxy\" ], \"values\": [ \"sirjee\" ] }, \"metric\": [ { \"env\": \"prod\", \"name\": \"sum(message_count)\", \"values\": [ 36.0 ] } ] }``` or ``` { \"env\": \"prod\", \"name\": \"sum(message_count)\", \"values\": [ 36.0 ] }``` Depending on whether a dimension is present in the query or not the data node type can be a simple metric value or dimension identifier with list of metrics.",
      "properties": {
        "data": {
          "items": {
            "type": "any"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1DebugSession": {
      "id": "GoogleCloudApigeeV1DebugSession",
      "type": "object",
      "properties": {
        "timeout": {
          "format": "int64",
          "description": "Optional. The time in seconds after which this DebugSession should end. This value will override the value in query param, if both are provided.",
          "type": "string"
        },
        "tracesize": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The maximum number of bytes captured from the response payload. Min = 0, Max = 5120, Default = 5120."
        },
        "filter": {
          "description": "Optional. A conditional statement which is evaluated against the request message to determine if it should be traced. Syntax matches that of on API Proxy bundle flow Condition.",
          "type": "string"
        },
        "validity": {
          "description": "Optional. The length of time, in seconds, that this debug session is valid, starting from when it's received in the control plane. Min = 1, Max = 15, Default = 10.",
          "format": "int32",
          "type": "integer"
        },
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of request to be traced. Min = 1, Max = 15, Default = 10."
        },
        "name": {
          "type": "string",
          "description": "A unique ID for this DebugSession."
        }
      }
    },
    "GoogleCloudApigeeV1EntityMetadata": {
      "type": "object",
      "description": "Metadata common to many entities in this API.",
      "id": "GoogleCloudApigeeV1EntityMetadata",
      "properties": {
        "createdAt": {
          "description": "Time at which the API proxy was created, in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "subType": {
          "type": "string",
          "description": "The type of entity described"
        },
        "lastModifiedAt": {
          "description": "Time at which the API proxy was most recently modified, in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudApigeeV1ListInstanceAttachmentsResponse": {
      "description": "Response for ListInstanceAttachments.",
      "id": "GoogleCloudApigeeV1ListInstanceAttachmentsResponse",
      "type": "object",
      "properties": {
        "attachments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1InstanceAttachment"
          },
          "description": "Attachments for the instance."
        },
        "nextPageToken": {
          "description": "Page token that you can include in a ListInstanceAttachments request to retrieve the next page of content. If omitted, no subsequent pages exist.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1AddonsConfig": {
      "type": "object",
      "properties": {
        "connectorsPlatformConfig": {
          "$ref": "GoogleCloudApigeeV1ConnectorsPlatformConfig",
          "description": "Configuration for the Connectors Platform add-on."
        },
        "advancedApiOpsConfig": {
          "$ref": "GoogleCloudApigeeV1AdvancedApiOpsConfig",
          "description": "Configuration for the Advanced API Ops add-on."
        },
        "integrationConfig": {
          "$ref": "GoogleCloudApigeeV1IntegrationConfig",
          "description": "Configuration for the Integration add-on."
        },
        "monetizationConfig": {
          "$ref": "GoogleCloudApigeeV1MonetizationConfig",
          "description": "Configuration for the Monetization add-on."
        }
      },
      "description": "Add-on configurations for the Apigee organization.",
      "id": "GoogleCloudApigeeV1AddonsConfig"
    },
    "GoogleCloudApigeeV1Organization": {
      "type": "object",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Output only. Project ID associated with the Apigee organization.",
          "readOnly": true
        },
        "customerName": {
          "type": "string",
          "description": "Not used by Apigee."
        },
        "runtimeDatabaseEncryptionKeyName": {
          "description": "Cloud KMS key name used for encrypting the data that is stored and replicated across runtime instances. Update is not allowed after the organization is created. Required when [RuntimeType](#RuntimeType) is `CLOUD`. If not specified when [RuntimeType](#RuntimeType) is `TRIAL`, a Google-Managed encryption key will be used. For example: \"projects/foo/locations/us/keyRings/bar/cryptoKeys/baz\". **Note:** Not supported for Apigee hybrid.",
          "type": "string"
        },
        "attributes": {
          "description": "Not used by Apigee.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "Display name for the Apigee organization. Unused, but reserved for future use.",
          "type": "string"
        },
        "properties": {
          "$ref": "GoogleCloudApigeeV1Properties",
          "description": "Properties defined in the Apigee organization profile."
        },
        "portalDisabled": {
          "description": "Configuration for the Portals settings.",
          "type": "boolean"
        },
        "caCertificate": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Base64-encoded public certificate for the root CA of the Apigee organization. Valid only when [RuntimeType](#RuntimeType) is `CLOUD`.",
          "format": "byte"
        },
        "description": {
          "type": "string",
          "description": "Description of the Apigee organization."
        },
        "runtimeType": {
          "type": "string",
          "enumDescriptions": [
            "Runtime type not specified.",
            "Google-managed Apigee runtime.",
            "User-managed Apigee hybrid runtime."
          ],
          "enum": [
            "RUNTIME_TYPE_UNSPECIFIED",
            "CLOUD",
            "HYBRID"
          ],
          "description": "Required. Runtime type of the Apigee organization based on the Apigee subscription purchased."
        },
        "type": {
          "description": "Not used by Apigee.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_TRIAL",
            "TYPE_PAID",
            "TYPE_INTERNAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Subscription type not specified.",
            "Subscription to Apigee is free, limited, and used for evaluation purposes only.",
            "Full subscription to Apigee has been purchased. See [Apigee pricing](https://cloud.google.com/apigee/pricing/).",
            "For internal users only."
          ]
        },
        "expiresAt": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Time that the Apigee organization is scheduled for deletion."
        },
        "state": {
          "enumDescriptions": [
            "Resource is in an unspecified state.",
            "Resource is being created.",
            "Resource is provisioned and ready to use.",
            "The resource is being deleted.",
            "The resource is being updated."
          ],
          "description": "Output only. State of the organization. Values other than ACTIVE means the resource is not ready to use.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "UPDATING"
          ]
        },
        "createdAt": {
          "description": "Output only. Time that the Apigee organization was created in milliseconds since epoch.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "lastModifiedAt": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Time that the Apigee organization was last modified in milliseconds since epoch.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Name of the Apigee organization.",
          "type": "string",
          "readOnly": true
        },
        "analyticsRegion": {
          "description": "Required. Primary GCP region for analytics data storage. For valid values, see [Create an Apigee organization](https://cloud.google.com/apigee/docs/api-platform/get-started/create-org).",
          "type": "string"
        },
        "addonsConfig": {
          "description": "Addon configurations of the Apigee organization.",
          "$ref": "GoogleCloudApigeeV1AddonsConfig"
        },
        "billingType": {
          "description": "Billing type of the Apigee organization. See [Apigee pricing](https://cloud.google.com/apigee/pricing).",
          "enumDescriptions": [
            "Billing type not specified.",
            "A pre-paid subscription to Apigee.",
            "Free and limited access to Apigee for evaluation purposes only. only."
          ],
          "type": "string",
          "enum": [
            "BILLING_TYPE_UNSPECIFIED",
            "SUBSCRIPTION",
            "EVALUATION"
          ]
        },
        "authorizedNetwork": {
          "type": "string",
          "description": "Compute Engine network used for Service Networking to be peered with Apigee runtime instances. See [Getting started with the Service Networking API](https://cloud.google.com/service-infrastructure/docs/service-networking/getting-started). Valid only when [RuntimeType](#RuntimeType) is set to `CLOUD`. The value must be set before the creation of a runtime instance and can be updated only when there are no runtime instances. For example: `default`. Apigee also supports shared VPC (that is, the host network project is not the same as the one that is peering with Apigee). See [Shared VPC overview](https://cloud.google.com/vpc/docs/shared-vpc). To use a shared VPC network, use the following format: `projects/{host-project-id}/{region}/networks/{network-name}`. For example: `projects/my-sharedvpc-host/global/networks/mynetwork` **Note:** Not supported for Apigee hybrid."
        },
        "subscriptionType": {
          "enum": [
            "SUBSCRIPTION_TYPE_UNSPECIFIED",
            "PAID",
            "TRIAL"
          ],
          "enumDescriptions": [
            "Subscription type not specified.",
            "Full subscription to Apigee has been purchased.",
            "Subscription to Apigee is free, limited, and used for evaluation purposes only."
          ],
          "readOnly": true,
          "description": "Output only. DEPRECATED: This will eventually be replaced by BillingType. Subscription type of the Apigee organization. Valid values include trial (free, limited, and for evaluation purposes only) or paid (full subscription has been purchased). See [Apigee pricing](https://cloud.google.com/apigee/pricing/).",
          "type": "string"
        },
        "environments": {
          "description": "Output only. List of environments in the Apigee organization.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudApigeeV1Organization"
    },
    "GoogleCloudApigeeV1AsyncQuery": {
      "id": "GoogleCloudApigeeV1AsyncQuery",
      "properties": {
        "executionTime": {
          "type": "string",
          "description": "ExecutionTime is available only after the query is completed."
        },
        "error": {
          "type": "string",
          "description": "Error is set when query fails."
        },
        "updated": {
          "description": "Last updated timestamp for the query.",
          "type": "string"
        },
        "envgroupHostname": {
          "type": "string",
          "description": "Hostname is available only when query is executed at host level."
        },
        "resultFileSize": {
          "description": "ResultFileSize is available only after the query is completed.",
          "type": "string"
        },
        "queryParams": {
          "description": "Contains information like metrics, dimenstions etc of the AsyncQuery.",
          "$ref": "GoogleCloudApigeeV1QueryMetadata"
        },
        "resultRows": {
          "type": "string",
          "description": "ResultRows is available only after the query is completed.",
          "format": "int64"
        },
        "self": {
          "description": "Self link of the query. Example: `/organizations/myorg/environments/myenv/queries/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd` or following format if query is running at host level: `/organizations/myorg/hostQueries/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd`",
          "type": "string"
        },
        "created": {
          "description": "Creation time of the query.",
          "type": "string"
        },
        "reportDefinitionId": {
          "description": "Asynchronous Report ID.",
          "type": "string"
        },
        "result": {
          "$ref": "GoogleCloudApigeeV1AsyncQueryResult",
          "description": "Result is available only after the query is completed."
        },
        "state": {
          "description": "Query state could be \"enqueued\", \"running\", \"completed\", \"failed\".",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Asynchronous Query Name."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1KeystoreConfig": {
      "properties": {
        "aliases": {
          "description": "Aliases in the keystore.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1AliasRevisionConfig"
          }
        },
        "name": {
          "type": "string",
          "description": "Resource name in the following format: `organizations/{org}/environments/{env}/keystores/{keystore}`"
        }
      },
      "id": "GoogleCloudApigeeV1KeystoreConfig",
      "type": "object"
    },
    "GoogleCloudApigeeV1EnvironmentConfig": {
      "id": "GoogleCloudApigeeV1EnvironmentConfig",
      "properties": {
        "dataCollectors": {
          "description": "List of data collectors used by the deployments in the environment.",
          "items": {
            "$ref": "GoogleCloudApigeeV1DataCollectorConfig"
          },
          "type": "array"
        },
        "provider": {
          "type": "string",
          "description": "Used by the Control plane to add context information to help detect the source of the document during diagnostics and debugging."
        },
        "revisionId": {
          "description": "Revision ID of the environment configuration. The higher the value, the more recently the configuration was deployed.",
          "type": "string",
          "format": "int64"
        },
        "traceConfig": {
          "description": "Trace configurations. Contains config for the environment and config overrides for specific API proxies.",
          "$ref": "GoogleCloudApigeeV1RuntimeTraceConfig"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time that the environment configuration was created."
        },
        "deployments": {
          "description": "List of deployments in the environment.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1DeploymentConfig"
          }
        },
        "name": {
          "type": "string",
          "description": "Name of the environment configuration in the following format: `organizations/{org}/environments/{env}/configs/{config}`"
        },
        "gatewayConfigLocation": {
          "type": "string",
          "description": "The location for the gateway config blob as a URI, e.g. a Cloud Storage URI. This is only used by Envoy-based gateways."
        },
        "pubsubTopic": {
          "description": "Name of the PubSub topic for the environment.",
          "type": "string"
        },
        "keystores": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1KeystoreConfig"
          },
          "description": "List of keystores in the environment."
        },
        "arcConfigLocation": {
          "description": "The location for the config blob of API Runtime Control, aka Envoy Adapter, for op-based authentication as a URI, e.g. a Cloud Storage URI. This is only used by Envoy-based gateways.",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "Unique ID for the environment configuration. The ID will only change if the environment is deleted and recreated."
        },
        "resourceReferences": {
          "description": "List of resource references in the environment.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ReferenceConfig"
          }
        },
        "resources": {
          "type": "array",
          "description": "List of resource versions in the environment.",
          "items": {
            "$ref": "GoogleCloudApigeeV1ResourceConfig"
          }
        },
        "featureFlags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Feature flags inherited from the organization and environment."
        },
        "targets": {
          "description": "List of target servers in the environment. Disabled target servers are not displayed.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1TargetServerConfig"
          }
        },
        "sequenceNumber": {
          "format": "int64",
          "description": "DEPRECATED: Use revision_id.",
          "type": "string"
        },
        "debugMask": {
          "description": "Debug mask that applies to all deployments in the environment.",
          "$ref": "GoogleCloudApigeeV1DebugMask"
        },
        "flowhooks": {
          "items": {
            "$ref": "GoogleCloudApigeeV1FlowHookConfig"
          },
          "type": "array",
          "description": "List of flow hooks in the environment."
        }
      },
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "properties": {},
      "type": "object",
      "id": "GoogleProtobufEmpty"
    },
    "GoogleCloudApigeeV1ListCustomReportsResponse": {
      "type": "object",
      "properties": {
        "qualifier": {
          "items": {
            "$ref": "GoogleCloudApigeeV1CustomReport"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudApigeeV1ListCustomReportsResponse",
      "description": "This message encapsulates a list of custom report definitions"
    },
    "GoogleCloudApigeeV1DeveloperAppKey": {
      "properties": {
        "attributes": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "type": "array",
          "description": "List of attributes associated with the credential."
        },
        "status": {
          "type": "string",
          "description": "Status of the credential. Valid values include `approved` or `revoked`."
        },
        "consumerSecret": {
          "description": "Secret key.",
          "type": "string"
        },
        "expiresInSeconds": {
          "description": "Input only. Expiration time, in seconds, for the consumer key. If not set or left to the default value of `-1`, the API key never expires. The expiration time can't be updated after it is set.",
          "type": "string",
          "format": "int64"
        },
        "issuedAt": {
          "type": "string",
          "format": "int64",
          "description": "Time the developer app was created in milliseconds since epoch."
        },
        "scopes": {
          "description": "Scopes to apply to the app. The specified scope names must already be defined for the API product that you associate with the app.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "apiProducts": {
          "type": "array",
          "description": "List of API products for which the credential can be used. **Note**: Do not specify the list of API products when creating a consumer key and secret for a developer app. Instead, use the UpdateDeveloperAppKey API to make the association after the consumer key and secret are created.",
          "items": {
            "type": "any"
          }
        },
        "expiresAt": {
          "type": "string",
          "description": "Time the developer app expires in milliseconds since epoch.",
          "format": "int64"
        },
        "consumerKey": {
          "type": "string",
          "description": "Consumer key."
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1DeveloperAppKey"
    },
    "GoogleCloudApigeeV1Query": {
      "id": "GoogleCloudApigeeV1Query",
      "properties": {
        "csvDelimiter": {
          "type": "string",
          "description": "Delimiter used in the CSV file, if `outputFormat` is set to `csv`. Defaults to the `,` (comma) character. Supported delimiter characters include comma (`,`), pipe (`|`), and tab (`\\t`)."
        },
        "timeRange": {
          "type": "any",
          "description": "Required. Time range for the query. Can use the following predefined strings to specify the time range: `last60minutes` `last24hours` `last7days` Or, specify the timeRange as a structure describing start and end timestamps in the ISO format: yyyy-mm-ddThh:mm:ssZ. Example: \"timeRange\": { \"start\": \"2018-07-29T00:13:00Z\", \"end\": \"2018-08-01T00:18:00Z\" }"
        },
        "filter": {
          "description": "Boolean expression that can be used to filter data. Filter expressions can be combined using AND/OR terms and should be fully parenthesized to avoid ambiguity. See Analytics metrics, dimensions, and filters reference https://docs.apigee.com/api-platform/analytics/analytics-reference for more information on the fields available to filter on. For more information on the tokens that you use to build filter expressions, see Filter expression syntax. https://docs.apigee.com/api-platform/analytics/asynch-reports-api#filter-expression-syntax",
          "type": "string"
        },
        "limit": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of rows that can be returned in the result."
        },
        "envgroupHostname": {
          "description": "Hostname needs to be specified if query intends to run at host level. This field is only allowed when query is submitted by CreateHostAsyncQuery where analytics data will be grouped by organization and hostname.",
          "type": "string"
        },
        "groupByTimeUnit": {
          "description": "Time unit used to group the result set. Valid values include: second, minute, hour, day, week, or month. If a query includes groupByTimeUnit, then the result is an aggregation based on the specified time unit and the resultant timestamp does not include milliseconds precision. If a query omits groupByTimeUnit, then the resultant timestamp includes milliseconds precision.",
          "type": "string"
        },
        "outputFormat": {
          "description": "Valid values include: `csv` or `json`. Defaults to `json`. Note: Configure the delimiter for CSV output using the csvDelimiter property.",
          "type": "string"
        },
        "dimensions": {
          "type": "array",
          "description": "A list of dimensions. https://docs.apigee.com/api-platform/analytics/analytics-reference#dimensions",
          "items": {
            "type": "string"
          }
        },
        "metrics": {
          "items": {
            "$ref": "GoogleCloudApigeeV1QueryMetric"
          },
          "description": "A list of Metrics.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Asynchronous Query Name."
        },
        "reportDefinitionId": {
          "type": "string",
          "description": "Asynchronous Report ID."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1CustomReportMetric": {
      "description": "This encapsulates a metric property of the form sum(message_count) where name is message_count and function is sum",
      "properties": {
        "name": {
          "type": "string",
          "description": "name of the metric"
        },
        "function": {
          "description": "aggregate function",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1CustomReportMetric"
    },
    "GoogleCloudApigeeV1MonetizationConfig": {
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Flag that specifies whether the Monetization add-on is enabled."
        }
      },
      "id": "GoogleCloudApigeeV1MonetizationConfig",
      "description": "Configuration for the Monetization add-on."
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "properties": {
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        },
        "policy": {
          "$ref": "GoogleIamV1Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them."
        }
      },
      "id": "GoogleIamV1SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object"
    },
    "GoogleCloudApigeeV1RevenueShareRange": {
      "properties": {
        "sharePercentage": {
          "description": "Percentage of the revenue to be shared with the developer. For example, to share 21 percent of the total revenue with the developer, set this value to 21. Specify a decimal number with a maximum of two digits following the decimal point.",
          "type": "number",
          "format": "double"
        },
        "end": {
          "format": "int64",
          "type": "string",
          "description": "Ending value of the range. Set to 0 or `null` for the last range of values."
        },
        "start": {
          "type": "string",
          "description": "Starting value of the range. Set to 0 or `null` for the initial range of values.",
          "format": "int64"
        }
      },
      "description": "API call volume range and the percentage of revenue to share with the developer when the total number of API calls is within the range.",
      "id": "GoogleCloudApigeeV1RevenueShareRange",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListTraceConfigOverridesResponse": {
      "type": "object",
      "description": "Response for ListTraceConfigOverrides.",
      "properties": {
        "traceConfigOverrides": {
          "items": {
            "$ref": "GoogleCloudApigeeV1TraceConfigOverride"
          },
          "type": "array",
          "description": "List all trace configuration overrides in an environment."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token value that can be passed as `page_token` to retrieve the next page of content."
        }
      },
      "id": "GoogleCloudApigeeV1ListTraceConfigOverridesResponse"
    },
    "GoogleCloudApigeeV1CommonNameConfig": {
      "id": "GoogleCloudApigeeV1CommonNameConfig",
      "properties": {
        "name": {
          "type": "string"
        },
        "matchWildCards": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1FlowHook": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the flow hook."
        },
        "sharedFlow": {
          "type": "string",
          "description": "Shared flow attached to this flow hook, or empty if there is none attached."
        },
        "continueOnError": {
          "type": "boolean",
          "description": "Optional. Flag that specifies whether execution should continue if the flow hook throws an exception. Set to `true` to continue execution. Set to `false` to stop execution if the flow hook throws an exception. Defaults to `true`."
        },
        "flowHookPoint": {
          "type": "string",
          "description": "Output only. Where in the API call flow the flow hook is invoked. Must be one of `PreProxyFlowHook`, `PostProxyFlowHook`, `PreTargetFlowHook`, or `PostTargetFlowHook`.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudApigeeV1FlowHook",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListDeploymentsResponse": {
      "type": "object",
      "properties": {
        "deployments": {
          "description": "List of deployments.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Deployment"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudApigeeV1ListDeploymentsResponse"
    },
    "GoogleRpcPreconditionFailure": {
      "id": "GoogleRpcPreconditionFailure",
      "description": "Describes what preconditions have failed. For example, if an RPC failed because it required the Terms of Service to be acknowledged, it could list the terms of service violation in the PreconditionFailure message.",
      "properties": {
        "violations": {
          "items": {
            "$ref": "GoogleRpcPreconditionFailureViolation"
          },
          "description": "Describes all precondition violations.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1GenerateDownloadUrlResponse": {
      "description": "Response for GenerateDownloadUrl method.",
      "id": "GoogleCloudApigeeV1GenerateDownloadUrlResponse",
      "type": "object",
      "properties": {
        "downloadUri": {
          "type": "string",
          "description": "The Google Cloud Storage signed URL that can be used to download the Archive zip file."
        }
      }
    },
    "GoogleCloudApigeeV1Point": {
      "description": "Point is a group of information collected by runtime plane at critical points of the message flow of the processed API request. This is a list of supported point IDs, categorized to three major buckets. For each category, debug points that we are currently supporting are listed below: - Flow status debug points: StateChange FlowInfo Condition Execution DebugMask Error - Flow control debug points: FlowCallout Paused Resumed FlowReturn BreakFlow Error - Runtime debug points: ScriptExecutor FlowCalloutStepDefinition CustomTarget StepDefinition Oauth2ServicePoint RaiseFault NodeJS The detail information of the given debug point is stored in a list of results.",
      "id": "GoogleCloudApigeeV1Point",
      "properties": {
        "results": {
          "description": "List of results extracted from a given debug point.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Result"
          }
        },
        "id": {
          "description": "Name of a step in the transaction.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1ApiCategory": {
      "properties": {
        "errorCode": {
          "type": "string",
          "description": "ID that can be used to find errors in the log files."
        },
        "requestId": {
          "description": "ID that can be used to find request details in the log files.",
          "type": "string"
        },
        "message": {
          "description": "Description of the operation.",
          "type": "string"
        },
        "data": {
          "description": "Details of category.",
          "$ref": "GoogleCloudApigeeV1ApiCategoryData"
        },
        "status": {
          "description": "Status of the operation.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1ApiCategory",
      "description": "the Api category resource wrapped with response status, error_code etc."
    },
    "GoogleCloudApigeeV1ExportRequest": {
      "id": "GoogleCloudApigeeV1ExportRequest",
      "type": "object",
      "properties": {
        "datastoreName": {
          "description": "Required. Name of the preconfigured datastore.",
          "type": "string"
        },
        "outputFormat": {
          "type": "string",
          "description": "Optional. Output format of the export. Valid values include: `csv` or `json`. Defaults to `json`. Note: Configure the delimiter for CSV output using the `csvDelimiter` property."
        },
        "description": {
          "description": "Optional. Description of the export job.",
          "type": "string"
        },
        "dateRange": {
          "$ref": "GoogleCloudApigeeV1DateRange",
          "description": "Required. Date range of the data to export."
        },
        "name": {
          "description": "Required. Display name of the export job.",
          "type": "string"
        },
        "csvDelimiter": {
          "description": "Optional. Delimiter used in the CSV file, if `outputFormat` is set to `csv`. Defaults to the `,` (comma) character. Supported delimiter characters include comma (`,`), pipe (`|`), and tab (`\\t`).",
          "type": "string"
        }
      },
      "description": "Request body for [CreateExportRequest]"
    },
    "GoogleCloudApigeeV1ResourceConfig": {
      "id": "GoogleCloudApigeeV1ResourceConfig",
      "type": "object",
      "properties": {
        "location": {
          "description": "Location of the resource as a URI.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name in the following format: `organizations/{org}/environments/{env}/resourcefiles/{type}/{file}/revisions/{rev}` Only environment-scoped resource files are supported."
        }
      }
    },
    "GoogleCloudApigeeV1DeveloperSubscription": {
      "type": "object",
      "id": "GoogleCloudApigeeV1DeveloperSubscription",
      "description": "Structure of a DeveloperSubscription.",
      "properties": {
        "createdAt": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when the API product subscription was created in milliseconds since epoch.",
          "format": "int64"
        },
        "lastModifiedAt": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Time when the API product subscription was last modified in milliseconds since epoch."
        },
        "endTime": {
          "description": "Time when the API product subscription ends in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "Output only. Name of the API product subscription.",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "format": "int64",
          "description": "Time when the API product subscription starts in milliseconds since epoch.",
          "type": "string"
        },
        "apiproduct": {
          "description": "Name of the API product for which the developer is purchasing a subscription.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1UpdateError": {
      "type": "object",
      "id": "GoogleCloudApigeeV1UpdateError",
      "description": "Details on why a resource update failed in the runtime.",
      "properties": {
        "code": {
          "description": "Status code.",
          "enum": [
            "OK",
            "CANCELLED",
            "UNKNOWN",
            "INVALID_ARGUMENT",
            "DEADLINE_EXCEEDED",
            "NOT_FOUND",
            "ALREADY_EXISTS",
            "PERMISSION_DENIED",
            "UNAUTHENTICATED",
            "RESOURCE_EXHAUSTED",
            "FAILED_PRECONDITION",
            "ABORTED",
            "OUT_OF_RANGE",
            "UNIMPLEMENTED",
            "INTERNAL",
            "UNAVAILABLE",
            "DATA_LOSS"
          ],
          "enumDescriptions": [
            "Not an error; returned on success HTTP Mapping: 200 OK",
            "The operation was cancelled, typically by the caller. HTTP Mapping: 499 Client Closed Request",
            "Unknown error. For example, this error may be returned when a `Status` value received from another address space belongs to an error space that is not known in this address space. Also errors raised by APIs that do not return enough error information may be converted to this error. HTTP Mapping: 500 Internal Server Error",
            "The client specified an invalid argument. Note that this differs from `FAILED_PRECONDITION`. `INVALID_ARGUMENT` indicates arguments that are problematic regardless of the state of the system (e.g., a malformed file name). HTTP Mapping: 400 Bad Request",
            "The deadline expired before the operation could complete. For operations that change the state of the system, this error may be returned even if the operation has completed successfully. For example, a successful response from a server could have been delayed long enough for the deadline to expire. HTTP Mapping: 504 Gateway Timeout",
            "Some requested entity (e.g., file or directory) was not found. Note to server developers: if a request is denied for an entire class of users, such as gradual feature rollout or undocumented allowlist, `NOT_FOUND` may be used. If a request is denied for some users within a class of users, such as user-based access control, `PERMISSION_DENIED` must be used. HTTP Mapping: 404 Not Found",
            "The entity that a client attempted to create (e.g., file or directory) already exists. HTTP Mapping: 409 Conflict",
            "The caller does not have permission to execute the specified operation. `PERMISSION_DENIED` must not be used for rejections caused by exhausting some resource (use `RESOURCE_EXHAUSTED` instead for those errors). `PERMISSION_DENIED` must not be used if the caller can not be identified (use `UNAUTHENTICATED` instead for those errors). This error code does not imply the request is valid or the requested entity exists or satisfies other pre-conditions. HTTP Mapping: 403 Forbidden",
            "The request does not have valid authentication credentials for the operation. HTTP Mapping: 401 Unauthorized",
            "Some resource has been exhausted, perhaps a per-user quota, or perhaps the entire file system is out of space. HTTP Mapping: 429 Too Many Requests",
            "The operation was rejected because the system is not in a state required for the operation's execution. For example, the directory to be deleted is non-empty, an rmdir operation is applied to a non-directory, etc. Service implementors can use the following guidelines to decide between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`: (a) Use `UNAVAILABLE` if the client can retry just the failing call. (b) Use `ABORTED` if the client should retry at a higher level. For example, when a client-specified test-and-set fails, indicating the client should restart a read-modify-write sequence. (c) Use `FAILED_PRECONDITION` if the client should not retry until the system state has been explicitly fixed. For example, if an \"rmdir\" fails because the directory is non-empty, `FAILED_PRECONDITION` should be returned since the client should not retry unless the files are deleted from the directory. HTTP Mapping: 400 Bad Request",
            "The operation was aborted, typically due to a concurrency issue such as a sequencer check failure or transaction abort. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 409 Conflict",
            "The operation was attempted past the valid range. E.g., seeking or reading past end-of-file. Unlike `INVALID_ARGUMENT`, this error indicates a problem that may be fixed if the system state changes. For example, a 32-bit file system will generate `INVALID_ARGUMENT` if asked to read at an offset that is not in the range [0,2^32-1], but it will generate `OUT_OF_RANGE` if asked to read from an offset past the current file size. There is a fair bit of overlap between `FAILED_PRECONDITION` and `OUT_OF_RANGE`. We recommend using `OUT_OF_RANGE` (the more specific error) when it applies so that callers who are iterating through a space can easily look for an `OUT_OF_RANGE` error to detect when they are done. HTTP Mapping: 400 Bad Request",
            "The operation is not implemented or is not supported/enabled in this service. HTTP Mapping: 501 Not Implemented",
            "Internal errors. This means that some invariants expected by the underlying system have been broken. This error code is reserved for serious errors. HTTP Mapping: 500 Internal Server Error",
            "The service is currently unavailable. This is most likely a transient condition, which can be corrected by retrying with a backoff. Note that it is not always safe to retry non-idempotent operations. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 503 Service Unavailable",
            "Unrecoverable data loss or corruption. HTTP Mapping: 500 Internal Server Error"
          ],
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "User-friendly error message."
        },
        "resource": {
          "type": "string",
          "description": "The sub resource specific to this error (e.g. a proxy deployed within the EnvironmentConfig). If empty the error refers to the top level resource."
        },
        "type": {
          "type": "string",
          "description": "A string that uniquely identifies the type of error. This provides a more reliable means to deduplicate errors across revisions and instances."
        }
      }
    },
    "GoogleCloudApigeeV1TraceConfigOverride": {
      "id": "GoogleCloudApigeeV1TraceConfigOverride",
      "properties": {
        "name": {
          "type": "string",
          "description": "ID of the trace configuration override specified as a system-generated UUID."
        },
        "samplingConfig": {
          "description": "Trace configuration to override.",
          "$ref": "GoogleCloudApigeeV1TraceSamplingConfig"
        },
        "apiProxy": {
          "description": "ID of the API proxy that will have its trace configuration overridden.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A representation of a configuration override."
    },
    "GoogleCloudApigeeV1DeploymentChangeReport": {
      "type": "object",
      "id": "GoogleCloudApigeeV1DeploymentChangeReport",
      "properties": {
        "routingConflicts": {
          "description": "All base path conflicts detected for a deployment request.",
          "items": {
            "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingConflict"
          },
          "type": "array"
        },
        "routingChanges": {
          "items": {
            "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingChange"
          },
          "description": "All routing changes that may result from a deployment request.",
          "type": "array"
        },
        "validationErrors": {
          "$ref": "GoogleRpcPreconditionFailure",
          "description": "Validation errors that would cause the deployment change request to be rejected."
        }
      },
      "description": "Response for GenerateDeployChangeReport and GenerateUndeployChangeReport. This report contains any validation failures that would cause the deployment to be rejected, as well changes and conflicts in routing that may occur due to the new deployment. The existence of a routing warning does not necessarily imply that the deployment request is bad, if the desired state of the deployment request is to effect a routing change. The primary purposes of the routing messages are: 1) To inform users of routing changes that may have an effect on traffic currently being routed to other existing deployments. 2) To warn users if some base path in the proxy will not receive traffic due to an existing deployment having already claimed that base path. The presence of routing conflicts/changes will not cause non-dry-run DeployApiProxy/UndeployApiProxy requests to be rejected."
    },
    "GoogleCloudApigeeV1Environment": {
      "properties": {
        "apiProxyType": {
          "description": "Optional. API Proxy type supported by the environment. The type can be set when creating the Environment and cannot be changed.",
          "enumDescriptions": [
            "API proxy type not specified.",
            "Programmable API Proxies enable you to develop APIs with highly flexible behavior using bundled policy configuration and one or more programming languages to describe complex sequential and/or conditional flows of logic.",
            "Configurable API Proxies enable you to develop efficient APIs using simple configuration while complex execution control flow logic is handled by Apigee. This type only works with the ARCHIVE deployment type and cannot be combined with the PROXY deployment type."
          ],
          "enum": [
            "API_PROXY_TYPE_UNSPECIFIED",
            "PROGRAMMABLE",
            "CONFIGURABLE"
          ],
          "type": "string"
        },
        "properties": {
          "description": "Optional. Key-value pairs that may be used for customizing the environment.",
          "$ref": "GoogleCloudApigeeV1Properties"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Display name for this environment."
        },
        "name": {
          "description": "Required. Name of the environment. Values must match the regular expression `^[.\\\\p{Alnum}-_]{1,255}$`",
          "type": "string"
        },
        "deploymentType": {
          "enum": [
            "DEPLOYMENT_TYPE_UNSPECIFIED",
            "PROXY",
            "ARCHIVE"
          ],
          "description": "Optional. Deployment type supported by the environment. The deployment type can be set when creating the environment and cannot be changed. When you enable archive deployment, you will be **prevented from performing** a [subset of actions](/apigee/docs/api-platform/local-development/overview#prevented-actions) within the environment, including: * Managing the deployment of API proxy or shared flow revisions * Creating, updating, or deleting resource files * Creating, updating, or deleting target servers",
          "type": "string",
          "enumDescriptions": [
            "Deployment type not specified.",
            "Proxy deployment enables you to develop and deploy API proxies using Apigee on Google Cloud. This cannot currently be combined with the CONFIGURABLE API proxy type.",
            "Archive deployment enables you to develop API proxies locally then deploy an archive of your API proxy configuration to an environment in Apigee on Google Cloud. You will be prevented from performing a [subset of actions](/apigee/docs/api-platform/local-development/overview#prevented-actions) within the environment."
          ]
        },
        "lastModifiedAt": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Last modification time of this environment as milliseconds since epoch.",
          "readOnly": true
        },
        "createdAt": {
          "type": "string",
          "description": "Output only. Creation time of this environment as milliseconds since epoch.",
          "readOnly": true,
          "format": "int64"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Resource is in an unspecified state.",
            "Resource is being created.",
            "Resource is provisioned and ready to use.",
            "The resource is being deleted.",
            "The resource is being updated."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "UPDATING"
          ],
          "description": "Output only. State of the environment. Values other than ACTIVE means the resource is not ready to use."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the environment."
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1Environment"
    },
    "GoogleCloudApigeeV1InstanceAttachment": {
      "description": "InstanceAttachment represents the installation of an environment onto an instance.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. ID of the attachment."
        },
        "createdAt": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time the attachment was created in milliseconds since epoch.",
          "format": "int64"
        },
        "environment": {
          "type": "string",
          "description": "ID of the attached environment."
        }
      },
      "id": "GoogleCloudApigeeV1InstanceAttachment"
    },
    "GoogleCloudApigeeV1NatAddress": {
      "description": "Apigee NAT(network address translation) address. A NAT address is a static external IP address used for Internet egress traffic.",
      "type": "object",
      "properties": {
        "ipAddress": {
          "description": "Output only. The static IPV4 address.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Required. Resource ID of the NAT address.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The resource is in an unspecified state.",
            "The NAT address is being created.",
            "The NAT address is reserved but not yet used for Internet egress.",
            "The NAT address is active and used for Internet egress.",
            "The NAT address is being deleted."
          ],
          "description": "Output only. State of the nat address.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "RESERVED",
            "ACTIVE",
            "DELETING"
          ],
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleCloudApigeeV1NatAddress"
    },
    "GoogleCloudApigeeV1EnvironmentGroupConfig": {
      "description": "EnvironmentGroupConfig is a revisioned snapshot of an EnvironmentGroup and its associated routing rules.",
      "id": "GoogleCloudApigeeV1EnvironmentGroupConfig",
      "type": "object",
      "properties": {
        "revisionId": {
          "format": "int64",
          "description": "Revision id that defines the ordering of the EnvironmentGroupConfig resource. The higher the revision, the more recently the configuration was deployed.",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "A unique id for the environment group config that will only change if the environment group is deleted and recreated."
        },
        "name": {
          "type": "string",
          "description": "Name of the environment group in the following format: `organizations/{org}/envgroups/{envgroup}`."
        },
        "hostnames": {
          "description": "Host names for the environment group.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "routingRules": {
          "items": {
            "$ref": "GoogleCloudApigeeV1RoutingRule"
          },
          "type": "array",
          "description": "Ordered list of routing rules defining how traffic to this environment group's hostnames should be routed to different environments."
        }
      }
    },
    "GoogleIamV1Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "members": {
          "description": "Specifies the principals requesting access for a Cloud Platform resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "$ref": "GoogleTypeExpr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        }
      },
      "type": "object",
      "id": "GoogleIamV1Binding"
    },
    "GoogleCloudApigeeV1SchemaSchemaProperty": {
      "properties": {
        "type": {
          "type": "string",
          "description": "Data type of the field."
        },
        "custom": {
          "type": "string",
          "description": "Flag that specifies whether the field is standard in the dataset or a custom field created by the customer. `true` indicates that it is a custom field."
        },
        "createTime": {
          "description": "Time the field was created in RFC3339 string form. For example: `2016-02-26T10:23:09.592Z`.",
          "type": "string"
        }
      },
      "description": "Properties for the schema field.",
      "type": "object",
      "id": "GoogleCloudApigeeV1SchemaSchemaProperty"
    },
    "GoogleCloudApigeeV1ApiProxyRevision": {
      "type": "object",
      "properties": {
        "sharedFlows": {
          "description": "List of the shared flows included in the API proxy revision.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "proxies": {
          "description": "List of proxy names included in the API proxy revision.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "proxyEndpoints": {
          "description": "List of ProxyEndpoints in the `/proxies` directory of the API proxy. Typically, this element is included only when the API proxy was created using the Edge UI. This is a 'manifest' setting designed to provide visibility into the contents of the API proxy.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "createdAt": {
          "format": "int64",
          "type": "string",
          "description": "Time that the API proxy revision was created in milliseconds since epoch."
        },
        "resourceFiles": {
          "description": "List of resource files included in the API proxy revision.",
          "$ref": "GoogleCloudApigeeV1ResourceFiles"
        },
        "spec": {
          "description": "OpenAPI Specification that is associated with the API proxy. The value is set to a URL or to a path in the specification store.",
          "type": "string"
        },
        "basepaths": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Base URL of the API proxy."
        },
        "lastModifiedAt": {
          "description": "Time that the API proxy revision was last modified in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Type. Set to `Application`. Maintained for compatibility with the Apigee Edge API."
        },
        "targets": {
          "type": "array",
          "description": "List of the targets included in the API proxy revision.",
          "items": {
            "type": "string"
          }
        },
        "teams": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of the teams included in the API proxy revision."
        },
        "name": {
          "description": "Name of the API proxy.",
          "type": "string"
        },
        "displayName": {
          "description": "Human-readable name of the API proxy.",
          "type": "string"
        },
        "revision": {
          "type": "string",
          "description": "API proxy revision."
        },
        "targetServers": {
          "items": {
            "type": "string"
          },
          "description": "List of TargetServers referenced in any TargetEndpoint in the API proxy. Typically, you will see this element only when the API proxy was created using the Edge UI. This is a 'manifest' setting designed to provide visibility into the contents of the API proxy.",
          "type": "array"
        },
        "policies": {
          "items": {
            "type": "string"
          },
          "description": "List of policy names included in the API proxy revision..",
          "type": "array"
        },
        "entityMetaDataAsProperties": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Metadata describing the API proxy revision as a key-value map."
        },
        "description": {
          "description": "Description of the API proxy revision.",
          "type": "string"
        },
        "targetEndpoints": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of TargetEndpoints in the `/targets` directory of the API proxy. Typically, this element is included only when the API proxy was created using the Edge UI. This is a 'manifest' setting designed to provide visibility into the contents of the API proxy."
        },
        "contextInfo": {
          "description": "Revision number, app name, and organization for the API proxy.",
          "type": "string"
        },
        "resources": {
          "description": "List of the resources included in the API proxy revision formatted as \"{type}://{name}\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "configurationVersion": {
          "description": "Version of the API proxy configuration schema to which the API proxy conforms. Currently, the only supported value is 4.0 (`majorVersion.minorVersion`). This setting may be used in the future to track the evolution of the API proxy format.",
          "$ref": "GoogleCloudApigeeV1ConfigVersion"
        },
        "integrationEndpoints": {
          "items": {
            "type": "string"
          },
          "description": "List of IntegrationEndpoints in the '/integration-endpoints' directory of the API proxy. This is a 'manifest' setting designed to provide visibility into the contents of the API proxy.",
          "type": "array"
        }
      },
      "description": "API proxy revision.",
      "id": "GoogleCloudApigeeV1ApiProxyRevision"
    },
    "GoogleCloudApigeeV1DeploymentConfig": {
      "description": "NEXT ID: 9",
      "properties": {
        "uid": {
          "description": "Unique ID. The ID will only change if the deployment is deleted and recreated.",
          "type": "string"
        },
        "basePath": {
          "description": "Base path where the application will be hosted. Defaults to \"/\".",
          "type": "string"
        },
        "proxyUid": {
          "type": "string",
          "description": "Unique ID of the API proxy revision."
        },
        "name": {
          "type": "string",
          "description": "Name of the API or shared flow revision to be deployed in the following format: `organizations/{org}/apis/{api}/revisions/{rev}` or `organizations/{org}/sharedflows/{sharedflow}/revisions/{rev}`"
        },
        "serviceAccount": {
          "description": "The service account identity associated with this deployment. If non-empty, will be in the following format: `projects/-/serviceAccounts/{account_email}`",
          "type": "string"
        },
        "attributes": {
          "type": "object",
          "description": "Additional key-value metadata for the deployment.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "location": {
          "description": "Location of the API proxy bundle as a URI.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1DeploymentConfig",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListArchiveDeploymentsResponse": {
      "id": "GoogleCloudApigeeV1ListArchiveDeploymentsResponse",
      "type": "object",
      "description": "Response for ListArchiveDeployments method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Page token that you can include in a ListArchiveDeployments request to retrieve the next page. If omitted, no subsequent pages exist."
        },
        "archiveDeployments": {
          "description": "Archive Deployments in the specified environment.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ArchiveDeployment"
          }
        }
      }
    },
    "GoogleCloudApigeeV1AdvancedApiOpsConfig": {
      "description": "Configuration for the Advanced API Ops add-on.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Flag that specifies whether the Advanced API Ops add-on is enabled."
        }
      },
      "id": "GoogleCloudApigeeV1AdvancedApiOpsConfig",
      "type": "object"
    },
    "GoogleCloudApigeeV1RuntimeTraceConfig": {
      "properties": {
        "samplingConfig": {
          "description": "Trace configuration for all API proxies in an environment.",
          "$ref": "GoogleCloudApigeeV1RuntimeTraceSamplingConfig"
        },
        "revisionId": {
          "description": "Revision number which can be used by the runtime to detect if the trace config has changed between two versions.",
          "type": "string"
        },
        "name": {
          "description": "Name of the trace config in the following format: `organizations/{org}/environment/{env}/traceConfig`",
          "type": "string"
        },
        "exporter": {
          "enum": [
            "EXPORTER_UNSPECIFIED",
            "JAEGER",
            "CLOUD_TRACE"
          ],
          "enumDescriptions": [
            "Exporter unspecified",
            "Jaeger exporter",
            "Cloudtrace exporter"
          ],
          "type": "string",
          "description": "Exporter that is used to view the distributed trace captured using OpenCensus. An exporter sends traces to any backend that is capable of consuming them. Recorded spans can be exported by registered exporters."
        },
        "revisionCreateTime": {
          "description": "The timestamp that the revision was created or updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "endpoint": {
          "description": "Endpoint of the exporter.",
          "type": "string"
        },
        "overrides": {
          "description": "List of trace configuration overrides for spicific API proxies.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1RuntimeTraceConfigOverride"
          }
        }
      },
      "description": "NEXT ID: 8 RuntimeTraceConfig defines the configurations for distributed trace in an environment.",
      "type": "object",
      "id": "GoogleCloudApigeeV1RuntimeTraceConfig"
    },
    "GoogleCloudApigeeV1QueryMetric": {
      "type": "object",
      "id": "GoogleCloudApigeeV1QueryMetric",
      "description": "More info about Metric: https://docs.apigee.com/api-platform/analytics/analytics-reference#metrics",
      "properties": {
        "alias": {
          "type": "string",
          "description": "Alias for the metric. Alias will be used to replace metric name in query results."
        },
        "function": {
          "description": "Aggregation function: avg, min, max, or sum.",
          "type": "string"
        },
        "operator": {
          "description": "One of `+`, `-`, `/`, `%`, `*`.",
          "type": "string"
        },
        "value": {
          "description": "Operand value should be provided when operator is set.",
          "type": "string"
        },
        "name": {
          "description": "Required. Metric name.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1DebugMask": {
      "id": "GoogleCloudApigeeV1DebugMask",
      "type": "object",
      "properties": {
        "responseXPaths": {
          "description": "List of XPaths that specify the XML elements to be filtered from XML response message payloads.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "namespaces": {
          "description": "Map of namespaces to URIs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "description": "Name of the debug mask.",
          "type": "string"
        },
        "faultXPaths": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of XPaths that specify the XML elements to be filtered from XML payloads in error flows."
        },
        "responseJSONPaths": {
          "description": "List of JSON paths that specify the JSON elements to be filtered from JSON response message payloads.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "requestXPaths": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of XPaths that specify the XML elements to be filtered from XML request message payloads."
        },
        "faultJSONPaths": {
          "type": "array",
          "description": "List of JSON paths that specify the JSON elements to be filtered from JSON payloads in error flows.",
          "items": {
            "type": "string"
          }
        },
        "requestJSONPaths": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of JSON paths that specify the JSON elements to be filtered from JSON request message payloads."
        },
        "variables": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of variables that should be masked from the debug output."
        }
      }
    },
    "GoogleCloudApigeeV1Datastore": {
      "description": "The data store defines the connection to export data repository (Cloud Storage, BigQuery), including the credentials used to access the data repository.",
      "type": "object",
      "properties": {
        "org": {
          "description": "Output only. Organization that the datastore belongs to",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name in UI"
        },
        "lastUpdateTime": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Datastore last update time, in milliseconds since the epoch of 1970-01-01T00:00:00Z",
          "readOnly": true
        },
        "targetType": {
          "type": "string",
          "description": "Destination storage type. Supported types `gcs` or `bigquery`."
        },
        "createTime": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Datastore create time, in milliseconds since the epoch of 1970-01-01T00:00:00Z",
          "type": "string"
        },
        "datastoreConfig": {
          "$ref": "GoogleCloudApigeeV1DatastoreConfig",
          "description": "Datastore Configurations."
        },
        "self": {
          "description": "Output only. Resource link of Datastore. Example: `/organizations/{org}/analytics/datastores/{uuid}`",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1Datastore"
    },
    "GoogleCloudApigeeV1Metric": {
      "type": "object",
      "id": "GoogleCloudApigeeV1Metric",
      "properties": {
        "name": {
          "description": "Metric name.",
          "type": "string"
        },
        "values": {
          "items": {
            "type": "any"
          },
          "type": "array",
          "description": "List of metric values. Possible value formats include: `\"values\":[\"39.0\"]` or `\"values\":[ { \"value\": \"39.0\", \"timestamp\": 1232434354} ]`"
        }
      },
      "description": "Encapsulates the metric data point. For example: ```{ \"name\": \"sum(message_count)\", \"values\" : [ { \"timestamp\": 1549004400000, \"value\": \"39.0\" }, { \"timestamp\" : 1548997200000, \"value\" : \"0.0\" } ] }``` or ```{ \"name\": \"sum(message_count)\", \"values\" : [\"39.0\"] }```"
    },
    "GoogleCloudApigeeV1ResourceFile": {
      "properties": {
        "name": {
          "description": "ID of the resource file.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Resource file type. {{ resource_file_type }}"
        }
      },
      "description": "Metadata about a resource file.",
      "id": "GoogleCloudApigeeV1ResourceFile",
      "type": "object"
    },
    "GoogleCloudApigeeV1RatePlan": {
      "properties": {
        "createdAt": {
          "format": "int64",
          "description": "Output only. Time that the rate plan was created in milliseconds since epoch.",
          "type": "string",
          "readOnly": true
        },
        "currencyCode": {
          "type": "string",
          "description": "Currency to be used for billing. Consists of a three-letter code as defined by the [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) standard."
        },
        "description": {
          "type": "string",
          "description": "Description of the rate plan."
        },
        "name": {
          "description": "Output only. Name of the rate plan.",
          "readOnly": true,
          "type": "string"
        },
        "apiproduct": {
          "description": "Name of the API product that the rate plan is associated with.",
          "type": "string"
        },
        "revenueShareType": {
          "description": "Method used to calculate the revenue that is shared with developers.",
          "enum": [
            "REVENUE_SHARE_TYPE_UNSPECIFIED",
            "FIXED",
            "VOLUME_BANDED"
          ],
          "enumDescriptions": [
            "Revenue share type is not specified.",
            "Fixed percentage of the total revenue will be shared. The percentage to be shared can be configured by the API provider.",
            "Amount of revenue shared depends on the number of API calls. The API call volume ranges and the revenue share percentage for each volume can be configured by the API provider. **Note**: Not supported by Apigee at this time."
          ],
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the rate plan."
        },
        "billingPeriod": {
          "type": "string",
          "enum": [
            "BILLING_PERIOD_UNSPECIFIED",
            "WEEKLY",
            "MONTHLY"
          ],
          "description": "Frequency at which the customer will be billed.",
          "enumDescriptions": [
            "Billing period not specified.",
            "Weekly billing period. **Note**: Not supported by Apigee at this time.",
            "Monthly billing period."
          ]
        },
        "fixedFeeFrequency": {
          "description": "Frequency at which the fixed fee is charged.",
          "type": "integer",
          "format": "int32"
        },
        "state": {
          "enumDescriptions": [
            "State of the rate plan is not specified.",
            "Rate plan is in draft mode and only visible to API providers.",
            "Rate plan is published and will become visible to developers for the configured duration (between `startTime` and `endTime`)."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "PUBLISHED"
          ],
          "type": "string",
          "description": "Current state of the rate plan (draft or published)."
        },
        "consumptionPricingType": {
          "type": "string",
          "enum": [
            "CONSUMPTION_PRICING_TYPE_UNSPECIFIED",
            "FIXED_PER_UNIT",
            "BANDED",
            "TIERED",
            "STAIRSTEP"
          ],
          "enumDescriptions": [
            "Pricing model not specified. This is the default.",
            "Fixed rate charged for each API call.",
            "Variable rate charged for each API call based on price tiers. Example: * 1-100 calls cost $2 per call * 101-200 calls cost $1.50 per call * 201-300 calls cost $1 per call * Total price for 50 calls: 50 x $2 = $100 * Total price for 150 calls: 100 x $2 + 50 x $1.5 = $275 * Total price for 250 calls: 100 x $2 + 100 x $1.5 + 50 x $1 = $400. **Note**: Not supported by Apigee at this time.",
            "**Note**: Not supported by Apigee at this time.",
            "**Note**: Not supported by Apigee at this time."
          ],
          "description": "Pricing model used for consumption-based charges."
        },
        "paymentFundingModel": {
          "type": "string",
          "description": "DEPRECATED: This field is no longer supported and will eventually be removed when Apigee Hybrid 1.5/1.6 is no longer supported. Instead, use the `billingType` field inside `DeveloperMonetizationConfig` resource. Flag that specifies the billing account type, prepaid or postpaid.",
          "enum": [
            "PAYMENT_FUNDING_MODEL_UNSPECIFIED",
            "PREPAID",
            "POSTPAID"
          ],
          "enumDescriptions": [
            "Billing account type not specified.",
            "Prepaid billing account type. Developer pays in advance for the use of your API products. Funds are deducted from their prepaid account balance. **Note**: Not supported by Apigee at this time.",
            "Postpaid billing account type. Developer is billed through an invoice after using your API products."
          ]
        },
        "lastModifiedAt": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Time the rate plan was last modified in milliseconds since epoch.",
          "type": "string"
        },
        "endTime": {
          "description": "Time when the rate plan will expire in milliseconds since epoch. Set to 0 or `null` to indicate that the rate plan should never expire.",
          "type": "string",
          "format": "int64"
        },
        "revenueShareRates": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1RevenueShareRange"
          },
          "description": "Details of the revenue sharing model."
        },
        "consumptionPricingRates": {
          "description": "API call volume ranges and the fees charged when the total number of API calls is within a given range. The method used to calculate the final fee depends on the selected pricing model. For example, if the pricing model is `STAIRSTEP` and the ranges are defined as follows: ``` { \"start\": 1, \"end\": 100, \"fee\": 75 }, { \"start\": 101, \"end\": 200, \"fee\": 100 }, } ``` Then the following fees would be charged based on the total number of API calls (assuming the currency selected is `USD`): * 1 call costs $75 * 50 calls cost $75 * 150 calls cost $100 The number of API calls cannot exceed 200.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1RateRange"
          }
        },
        "startTime": {
          "format": "int64",
          "type": "string",
          "description": "Time when the rate plan becomes active in milliseconds since epoch."
        },
        "setupFee": {
          "$ref": "GoogleTypeMoney",
          "description": "Initial, one-time fee paid when purchasing the API product."
        },
        "fixedRecurringFee": {
          "description": "Fixed amount that is charged at a defined interval and billed in advance of use of the API product. The fee will be prorated for the first billing period.",
          "$ref": "GoogleTypeMoney"
        }
      },
      "type": "object",
      "description": "Rate plan details.",
      "id": "GoogleCloudApigeeV1RatePlan"
    },
    "GoogleCloudApigeeV1ListDebugSessionsResponse": {
      "properties": {
        "sessions": {
          "description": "Session info that includes debug session ID and the first transaction creation timestamp.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Session"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token that you can include in a ListDebugSessionsRequest to retrieve the next page. If omitted, no subsequent pages exist."
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1ListDebugSessionsResponse"
    },
    "GoogleCloudApigeeV1QueryMetadata": {
      "properties": {
        "startTimestamp": {
          "type": "string",
          "description": "Start timestamp of the query range."
        },
        "metrics": {
          "description": "Metrics of the AsyncQuery. Example: [\"name:message_count,func:sum,alias:sum_message_count\"]",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "dimensions": {
          "type": "array",
          "description": "Dimensions of the AsyncQuery.",
          "items": {
            "type": "string"
          }
        },
        "endTimestamp": {
          "description": "End timestamp of the query range.",
          "type": "string"
        },
        "outputFormat": {
          "description": "Output format.",
          "type": "string"
        },
        "timeUnit": {
          "description": "Query GroupBy time unit.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1QueryMetadata",
      "type": "object"
    },
    "GoogleCloudApigeeV1ConnectorsPlatformConfig": {
      "description": "Configuration for the Connectors Platform add-on.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Flag that specifies whether the Connectors Platform add-on is enabled."
        },
        "expiresAt": {
          "readOnly": true,
          "description": "Output only. Time at which the Connectors Platform add-on expires in milliseconds since epoch. If unspecified, the add-on will never expire.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1ConnectorsPlatformConfig"
    },
    "GoogleCloudApigeeV1ListDeveloperAppsResponse": {
      "id": "GoogleCloudApigeeV1ListDeveloperAppsResponse",
      "type": "object",
      "properties": {
        "app": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1DeveloperApp"
          },
          "description": "List of developer apps and their credentials."
        }
      }
    },
    "GoogleCloudApigeeV1AccessSet": {
      "type": "object",
      "id": "GoogleCloudApigeeV1AccessSet",
      "description": "Set action. For example, \"Set\" : { \"name\" : \"target.name\", \"success\" : true, \"value\" : \"default\" }",
      "properties": {
        "name": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1Stats": {
      "type": "object",
      "properties": {
        "environments": {
          "items": {
            "$ref": "GoogleCloudApigeeV1StatsEnvironmentStats"
          },
          "description": "List of query results on the environment level.",
          "type": "array"
        },
        "metaData": {
          "$ref": "GoogleCloudApigeeV1Metadata",
          "description": "Metadata information."
        },
        "hosts": {
          "type": "array",
          "description": "List of query results grouped by host.",
          "items": {
            "$ref": "GoogleCloudApigeeV1StatsHostStats"
          }
        }
      },
      "description": "Encapsulates a `stats` response.",
      "id": "GoogleCloudApigeeV1Stats"
    },
    "GoogleCloudApigeeV1GenerateUploadUrlResponse": {
      "description": "Response for GenerateUploadUrl method.",
      "id": "GoogleCloudApigeeV1GenerateUploadUrlResponse",
      "type": "object",
      "properties": {
        "uploadUri": {
          "description": "The Google Cloud Storage signed URL that can be used to upload a new Archive zip file.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1Reference": {
      "properties": {
        "description": {
          "description": "Optional. A human-readable description of this reference.",
          "type": "string"
        },
        "name": {
          "description": "Required. The resource id of this reference. Values must match the regular expression [\\w\\s\\-.]+.",
          "type": "string"
        },
        "refers": {
          "description": "Required. The id of the resource to which this reference refers. Must be the id of a resource that exists in the parent environment and is of the given resource_type.",
          "type": "string"
        },
        "resourceType": {
          "type": "string",
          "description": "The type of resource referred to by this reference. Valid values are 'KeyStore' or 'TrustStore'."
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1Reference",
      "description": "A Reference configuration. References must refer to a keystore that also exists in the parent environment."
    },
    "GoogleCloudApigeeV1SharedFlow": {
      "properties": {
        "revision": {
          "description": "A list of revisions of this shared flow.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "metaData": {
          "description": "Metadata describing the shared flow.",
          "$ref": "GoogleCloudApigeeV1EntityMetadata"
        },
        "name": {
          "type": "string",
          "description": "The ID of the shared flow."
        },
        "latestRevisionId": {
          "description": "The id of the most recently created revision for this shared flow.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1SharedFlow",
      "description": "The metadata describing a shared flow",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListExportsResponse": {
      "properties": {
        "exports": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Export"
          },
          "description": "Details of the export jobs."
        }
      },
      "description": "The response for ListExports",
      "id": "GoogleCloudApigeeV1ListExportsResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1Alias": {
      "id": "GoogleCloudApigeeV1Alias",
      "properties": {
        "certsInfo": {
          "description": "Chain of certificates under this alias.",
          "$ref": "GoogleCloudApigeeV1Certificate"
        },
        "alias": {
          "description": "Resource ID for this alias. Values must match the regular expression `[^/]{1,255}`.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "ALIAS_TYPE_UNSPECIFIED",
            "CERT",
            "KEY_CERT"
          ],
          "description": "Type of alias.",
          "enumDescriptions": [
            "Alias type is not specified.",
            "Certificate.",
            "Key/certificate pair."
          ]
        }
      },
      "type": "object",
      "description": "Reference to a certificate or key/certificate pair."
    },
    "GoogleCloudApigeeV1GenerateUploadUrlRequest": {
      "type": "object",
      "description": "Request for GenerateUploadUrl method.",
      "id": "GoogleCloudApigeeV1GenerateUploadUrlRequest",
      "properties": {}
    },
    "GoogleCloudApigeeV1ReportInstanceStatusResponse": {
      "properties": {},
      "description": "Placeholder for future enhancements to status reporting protocol",
      "type": "object",
      "id": "GoogleCloudApigeeV1ReportInstanceStatusResponse"
    },
    "GoogleCloudApigeeV1AccessGet": {
      "id": "GoogleCloudApigeeV1AccessGet",
      "type": "object",
      "description": "Get action. For example, \"Get\" : { \"name\" : \"target.name\", \"value\" : \"default\" }",
      "properties": {
        "value": {
[...]
