{
  "protocol": "rest",
  "documentationLink": "https://cloud.google.com/apigee-api-management/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://apigee.mtls.googleapis.com/",
  "baseUrl": "https://apigee.googleapis.com/",
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format."
    }
  },
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "projects": {
      "methods": {
        "provisionOrganization": {
          "parameters": {
            "project": {
              "type": "string",
              "description": "Required. Name of the GCP project with which to associate the Apigee organization.",
              "location": "path",
              "pattern": "^projects/[^/]+$",
              "required": true
            }
          },
          "parameterOrder": [
            "project"
          ],
          "id": "apigee.projects.provisionOrganization",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "flatPath": "v1/projects/{projectsId}:provisionOrganization",
          "request": {
            "$ref": "GoogleCloudApigeeV1ProvisionOrganizationRequest"
          },
          "httpMethod": "POST",
          "path": "v1/{+project}:provisionOrganization",
          "description": "Provisions a new Apigee organization with a functioning runtime. This is the standard way to create trial organizations for a free Apigee trial."
        }
      }
    },
    "hybrid": {
      "resources": {
        "issuers": {
          "methods": {
            "list": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/hybrid/issuers",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists hybrid services and its trusted issuers service account ids. This api is authenticated and unauthorized(allow all the users) and used by runtime authn-authz service to query control plane's issuer service account ids.",
              "id": "apigee.hybrid.issuers.list",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Must be of the form `hybrid/issuers`.",
                  "required": true,
                  "pattern": "^hybrid/issuers$",
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListHybridIssuersResponse"
              }
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "hostQueries": {
          "methods": {
            "getResult": {
              "description": "After the query is completed, use this API to retrieve the results. If the request succeeds, and there is a non-zero result set, the result is downloaded to the client as a zipped JSON file. The name of the downloaded file will be: OfflineQueryResult-.zip Example: `OfflineQueryResult-9cfc0d85-0f30-46d6-ae6f-318d0cb961bd.zip`",
              "flatPath": "v1/organizations/{organizationsId}/hostQueries/{hostQueriesId}/result",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "id": "apigee.organizations.hostQueries.getResult",
              "response": {
                "$ref": "GoogleApiHttpBody"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the asynchronous query result to get. Must be of the form `organizations/{org}/queries/{queryId}/result`.",
                  "pattern": "^organizations/[^/]+/hostQueries/[^/]+/result$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/hostQueries",
              "description": "Return a list of Asynchronous Queries at host level.",
              "flatPath": "v1/organizations/{organizationsId}/hostQueries",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListAsyncQueriesResponse"
              },
              "id": "apigee.organizations.hostQueries.list",
              "httpMethod": "GET",
              "parameters": {
                "status": {
                  "location": "query",
                  "description": "Filter response list by asynchronous query status.",
                  "type": "string"
                },
                "inclQueriesWithoutReport": {
                  "type": "string",
                  "location": "query",
                  "description": "Flag to include asynchronous queries that don't have a report denifition."
                },
                "submittedBy": {
                  "description": "Filter response list by user who submitted queries.",
                  "type": "string",
                  "location": "query"
                },
                "from": {
                  "description": "Filter response list by returning asynchronous queries that created after this date time. Time must be in ISO date-time format like '2011-12-03T10:15:30Z'.",
                  "location": "query",
                  "type": "string"
                },
                "envgroupHostname": {
                  "type": "string",
                  "description": "Required. Filter response list by hostname.",
                  "location": "query"
                },
                "to": {
                  "description": "Filter response list by returning asynchronous queries that created before this date time. Time must be in ISO date-time format like '2011-12-03T10:16:30Z'.",
                  "location": "query",
                  "type": "string"
                },
                "dataset": {
                  "description": "Filter response list by dataset. Example: `api`, `mint`",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The parent resource name. Must be of the form `organizations/{org}`.",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path"
                }
              }
            },
            "getResultView": {
              "httpMethod": "GET",
              "description": "",
              "id": "apigee.organizations.hostQueries.getResultView",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/hostQueries/[^/]+/resultView$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. Name of the asynchronous query result view to get. Must be of the form `organizations/{org}/queries/{queryId}/resultView`."
                }
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1AsyncQueryResultView"
              },
              "flatPath": "v1/organizations/{organizationsId}/hostQueries/{hostQueriesId}/resultView"
            },
            "get": {
              "httpMethod": "GET",
              "flatPath": "v1/organizations/{organizationsId}/hostQueries/{hostQueriesId}",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/hostQueries/[^/]+$",
                  "description": "Required. Name of the asynchronous query to get. Must be of the form `organizations/{org}/queries/{queryId}`.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1AsyncQuery"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.hostQueries.get",
              "parameterOrder": [
                "name"
              ],
              "description": "Get status of a query submitted at host level. If the query is still in progress, the `state` is set to \"running\" After the query has completed successfully, `state` is set to \"completed\"",
              "path": "v1/{+name}"
            },
            "create": {
              "response": {
                "$ref": "GoogleCloudApigeeV1AsyncQuery"
              },
              "flatPath": "v1/organizations/{organizationsId}/hostQueries",
              "path": "v1/{+parent}/hostQueries",
              "id": "apigee.organizations.hostQueries.create",
              "request": {
                "$ref": "GoogleCloudApigeeV1Query"
              },
              "description": "Submit a query at host level to be processed in the background. If the submission of the query succeeds, the API returns a 201 status and an ID that refer to the query. In addition to the HTTP status 201, the `state` of \"enqueued\" means that the request succeeded.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The parent resource name. Must be of the form `organizations/{org}`.",
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        },
        "envgroups": {
          "resources": {
            "attachments": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "apigee.organizations.envgroups.attachments.create",
                  "flatPath": "v1/organizations/{organizationsId}/envgroups/{envgroupsId}/attachments",
                  "description": "Creates a new attachment of an environment to an environment group.",
                  "path": "v1/{+parent}/attachments",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/envgroups/[^/]+$",
                      "description": "Required. EnvironmentGroup under which to create the attachment in the following format: `organizations/{org}/envgroups/{envgroup}`."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudApigeeV1EnvironmentGroupAttachment"
                  },
                  "httpMethod": "POST"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes an environment group attachment.",
                  "id": "apigee.organizations.envgroups.attachments.delete",
                  "flatPath": "v1/organizations/{organizationsId}/envgroups/{envgroupsId}/attachments/{attachmentsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/envgroups/[^/]+/attachments/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the environment group attachment to delete in the following format: `organizations/{org}/envgroups/{envgroup}/attachments/{attachment}`.",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "id": "apigee.organizations.envgroups.attachments.list",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListEnvironmentGroupAttachmentsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. Name of the environment group in the following format: `organizations/{org}/envgroups/{envgroup}`.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/envgroups/[^/]+$"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Maximum number of environment group attachments to return. The page size defaults to 25."
                    },
                    "pageToken": {
                      "description": "Page token, returned by a previous ListEnvironmentGroupAttachments call, that you can use to retrieve the next page.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/attachments",
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/envgroups/{envgroupsId}/attachments",
                  "description": "Lists all attachments of an environment group.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/envgroups/{envgroupsId}/attachments/{attachmentsId}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1EnvironmentGroupAttachment"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Name of the environment group attachment in the following format: `organizations/{org}/envgroups/{envgroup}/attachments/{attachment}`",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/envgroups/[^/]+/attachments/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "apigee.organizations.envgroups.attachments.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "description": "Gets an environment group attachment."
                }
              }
            }
          },
          "methods": {
            "create": {
              "request": {
                "$ref": "GoogleCloudApigeeV1EnvironmentGroup"
              },
              "description": "Creates a new environment group.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "apigee.organizations.envgroups.create",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v1/organizations/{organizationsId}/envgroups",
              "path": "v1/{+parent}/envgroups",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the organization in which to create the environment group in the following format: `organizations/{org}`.",
                  "required": true
                },
                "name": {
                  "type": "string",
                  "location": "query",
                  "description": "ID of the environment group. Overrides any ID in the environment_group resource."
                }
              }
            },
            "list": {
              "id": "apigee.organizations.envgroups.list",
              "flatPath": "v1/organizations/{organizationsId}/envgroups",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1ListEnvironmentGroupsResponse"
              },
              "httpMethod": "GET",
              "path": "v1/{+parent}/envgroups",
              "description": "Lists all environment groups.",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "Maximum number of environment groups to return. The page size defaults to 25.",
                  "type": "integer",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the organization for which to list environment groups in the following format: `organizations/{org}`.",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Page token, returned from a previous ListEnvironmentGroups call, that you can use to retrieve the next page.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "getDeployedIngressConfig": {
              "httpMethod": "GET",
              "flatPath": "v1/organizations/{organizationsId}/envgroups/{envgroupsId}/deployedIngressConfig",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "apigee.organizations.envgroups.getDeployedIngressConfig",
              "parameters": {
                "view": {
                  "type": "string",
                  "enumDescriptions": [
                    "The default/unset value. The API will default to the BASIC view.",
                    "Include all ingress config data necessary for the runtime to configure ingress, but no more. Routing rules will include only basepath and destination environment. This the default value.",
                    "Include all ingress config data, including internal debug info for each routing rule such as the proxy claiming a particular basepath and when the routing rule first appeared in the env group."
                  ],
                  "description": "When set to FULL, additional details about the specific deployments receiving traffic will be included in the IngressConfig response's RoutingRules.",
                  "location": "query",
                  "enum": [
                    "INGRESS_CONFIG_VIEW_UNSPECIFIED",
                    "BASIC",
                    "FULL"
                  ]
                },
                "name": {
                  "pattern": "^organizations/[^/]+/envgroups/[^/]+/deployedIngressConfig$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the deployed configuration for the environment group in the following format: 'organizations/{org}/envgroups/{envgroup}/deployedIngressConfig'."
                }
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1EnvironmentGroupConfig"
              },
              "description": "Gets the deployed ingress configuration for an environment group."
            },
            "delete": {
              "id": "apigee.organizations.envgroups.delete",
              "description": "Deletes an environment group.",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Name of the environment group in the following format: `organizations/{org}/envgroups/{envgroup}`.",
                  "pattern": "^organizations/[^/]+/envgroups/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/envgroups/{envgroupsId}"
            },
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudApigeeV1EnvironmentGroup"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/envgroups/[^/]+$",
                  "description": "Required. Name of the environment group in the following format: `organizations/{org}/envgroups/{envgroup}`."
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/envgroups/{envgroupsId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets an environment group.",
              "path": "v1/{+name}",
              "id": "apigee.organizations.envgroups.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "patch": {
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/envgroups/{envgroupsId}",
              "request": {
                "$ref": "GoogleCloudApigeeV1EnvironmentGroup"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "List of fields to be updated.",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "description": "Required. Name of the environment group to update in the format: `organizations/{org}/envgroups/{envgroup}.",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/envgroups/[^/]+$"
                }
              },
              "id": "apigee.organizations.envgroups.patch",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Updates an environment group.",
              "httpMethod": "PATCH"
            }
          }
        },
        "apps": {
          "methods": {
            "list": {
              "flatPath": "v1/organizations/{organizationsId}/apps",
              "parameters": {
                "rows": {
                  "type": "string",
                  "location": "query",
                  "format": "int64",
                  "description": "Optional. Maximum number of app IDs to return. Defaults to 10000."
                },
                "keyStatus": {
                  "type": "string",
                  "description": "Optional. Key status of the app. Valid values include `approved` or `revoked`. Defaults to `approved`.",
                  "location": "query"
                },
                "startKey": {
                  "location": "query",
                  "description": "Returns the list of apps starting from the specified app ID.",
                  "type": "string"
                },
                "ids": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Comma-separated list of app IDs on which to filter."
                },
                "expand": {
                  "type": "boolean",
                  "description": "Optional. Flag that specifies whether to return an expanded list of apps for the organization. Defaults to `false`.",
                  "location": "query"
                },
                "apiProduct": {
                  "type": "string",
                  "location": "query",
                  "description": "API product."
                },
                "parent": {
                  "type": "string",
                  "description": "Required. Resource path of the parent in the following format: `organizations/{org}`",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "includeCred": {
                  "type": "boolean",
                  "description": "Optional. Flag that specifies whether to include credentials in the response.",
                  "location": "query"
                },
                "status": {
                  "location": "query",
                  "description": "Optional. Filter by the status of the app. Valid values are `approved` or `revoked`. Defaults to `approved`.",
                  "type": "string"
                },
                "apptype": {
                  "type": "string",
                  "description": "Optional. Filter by the type of the app. Valid values are `company` or `developer`. Defaults to `developer`.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1ListAppsResponse"
              },
              "description": "Lists IDs of apps within an organization that have the specified app status (approved or revoked) or are of the specified app type (developer or company).",
              "httpMethod": "GET",
              "path": "v1/{+parent}/apps",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "apigee.organizations.apps.list"
            },
            "get": {
              "path": "v1/{+name}",
              "description": "Gets the app profile for the specified app ID.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. App ID in the following format: `organizations/{org}/apps/{app}`",
                  "pattern": "^organizations/[^/]+/apps/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1App"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/apps/{appsId}",
              "id": "apigee.organizations.apps.get"
            }
          }
        },
        "environments": {
          "methods": {
            "testIamPermissions": {
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}:testIamPermissions",
              "description": "Tests the permissions of a user on an environment, and returns a subset of permissions that the user has on the environment. If the environment does not exist, an empty permission set is returned (a NOT_FOUND error is not returned).",
              "path": "v1/{+resource}:testIamPermissions",
              "response": {
                "$ref": "GoogleIamV1TestIamPermissionsResponse"
              },
              "parameters": {
                "resource": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+/environments/[^/]+$",
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "location": "path"
                }
              },
              "id": "apigee.organizations.environments.testIamPermissions",
              "request": {
                "$ref": "GoogleIamV1TestIamPermissionsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "resource"
              ],
              "httpMethod": "POST"
            },
            "unsubscribe": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/environments/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of the environment. Use the following structure in your request: `organizations/{org}/environments/{env}`",
                  "required": true
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}:unsubscribe",
              "description": "Deletes a subscription for the environment's Pub/Sub topic.",
              "httpMethod": "POST",
              "path": "v1/{+parent}:unsubscribe",
              "request": {
                "$ref": "GoogleCloudApigeeV1Subscription"
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.environments.unsubscribe",
              "parameterOrder": [
                "parent"
              ]
            },
            "delete": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "id": "apigee.organizations.environments.delete",
              "description": "Deletes an environment from an organization. **Warning: You must delete all key value maps and key value entries before you delete an environment.** Otherwise, if you re-create the environment the key value map entry operations will encounter encryption/decryption discrepancies.",
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/environments/[^/]+$",
                  "location": "path",
                  "description": "Required. Name of the environment. Use the following structure in your request: `organizations/{org}/environments/{env}`"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "updateEnvironment": {
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Updates an existing environment. When updating properties, you must pass all existing properties to the API, even if they are not being changed. If you omit properties from the payload, the properties are removed. To get the current list of properties for the environment, use the [Get Environment API](get). **Note**: Both `PUT` and `POST` methods are supported for updating an existing environment.",
              "id": "apigee.organizations.environments.updateEnvironment",
              "request": {
                "$ref": "GoogleCloudApigeeV1Environment"
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1Environment"
              },
              "httpMethod": "POST",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+/environments/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the environment. Use the following structure in your request: `organizations/{org}/environments/{env}`"
                }
              }
            },
            "getApiSecurityRuntimeConfig": {
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiSecurityRuntimeConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/apiSecurityRuntimeConfig",
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets the API Security runtime configuration for an environment. This named ApiSecurityRuntimeConfig to prevent conflicts with ApiSecurityConfig from addon config.",
              "id": "apigee.organizations.environments.getApiSecurityRuntimeConfig",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Name of the environment API Security Runtime configuration resource. Use the following structure in your request: `organizations/{org}/environments/{env}/apiSecurityRuntimeConfig`",
                  "pattern": "^organizations/[^/]+/environments/[^/]+/apiSecurityRuntimeConfig$",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "updateDebugmask": {
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/debugmask",
              "id": "apigee.organizations.environments.updateDebugmask",
              "httpMethod": "PATCH",
              "description": "Updates the debug mask singleton resource for an environment.",
              "parameters": {
                "replaceRepeatedFields": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Boolean flag that specifies whether to replace existing values in the debug mask when doing an update. Set to true to replace existing values. The default behavior is to append the values (false)."
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Field debug mask to support partial updates.",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "description": "Name of the debug mask.",
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+/environments/[^/]+/debugmask$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1DebugMask"
              },
              "request": {
                "$ref": "GoogleCloudApigeeV1DebugMask"
              }
            },
            "subscribe": {
              "response": {
                "$ref": "GoogleCloudApigeeV1Subscription"
              },
              "description": "Creates a subscription for the environment's Pub/Sub topic. The server will assign a random name for this subscription. The \"name\" and \"push_config\" must *not* be specified.",
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}:subscribe",
              "parameterOrder": [
                "parent"
              ],
              "id": "apigee.organizations.environments.subscribe",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. Name of the environment. Use the following structure in your request: `organizations/{org}/environments/{env}`",
                  "pattern": "^organizations/[^/]+/environments/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "path": "v1/{+parent}:subscribe"
            },
            "update": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of the environment. Use the following structure in your request: `organizations/{org}/environments/{env}`",
                  "pattern": "^organizations/[^/]+/environments/[^/]+$"
                }
              },
              "httpMethod": "PUT",
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}",
              "path": "v1/{+name}",
              "id": "apigee.organizations.environments.update",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudApigeeV1Environment"
              },
              "description": "Updates an existing environment. When updating properties, you must pass all existing properties to the API, even if they are not being changed. If you omit properties from the payload, the properties are removed. To get the current list of properties for the environment, use the [Get Environment API](get). **Note**: Both `PUT` and `POST` methods are supported for updating an existing environment.",
              "response": {
                "$ref": "GoogleCloudApigeeV1Environment"
              }
            },
            "modifyEnvironment": {
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/environments/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the environment. Use the following structure in your request: `organizations/{org}/environments/{environment}`."
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "List of fields to be updated. Fields that can be updated: node_config.",
                  "format": "google-fieldmask"
                }
              },
              "id": "apigee.organizations.environments.modifyEnvironment",
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "request": {
                "$ref": "GoogleCloudApigeeV1Environment"
              },
              "description": "Updates properties for an Apigee environment with patch semantics using a field mask. **Note:** Not supported for Apigee hybrid."
            },
            "updateTraceConfig": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.environments.updateTraceConfig",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/traceConfig",
              "parameters": {
                "name": {
                  "description": "Required. Name of the trace configuration. Use the following structure in your request: \"organizations/*/environments/*/traceConfig\".",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/environments/[^/]+/traceConfig$"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "List of fields to be updated.",
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "httpMethod": "PATCH",
              "description": "Updates the trace configurations in an environment. Note that the repeated fields have replace semantics when included in the field mask and that they will be overwritten by the value of the fields in the request body.",
              "response": {
                "$ref": "GoogleCloudApigeeV1TraceConfig"
              },
              "request": {
                "$ref": "GoogleCloudApigeeV1TraceConfig"
              }
            },
            "getIamPolicy": {
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}:getIamPolicy",
              "response": {
                "$ref": "GoogleIamV1Policy"
              },
              "parameters": {
                "options.requestedPolicyVersion": {
                  "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "resource": {
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/environments/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "v1/{+resource}:getIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "description": "Gets the IAM policy on an environment. For more information, see [Manage users, roles, and permissions using the API](https://cloud.google.com/apigee/docs/api-platform/system-administration/manage-users-roles). You must have the `apigee.environments.getIamPolicy` permission to call this API.",
              "parameterOrder": [
                "resource"
              ],
              "id": "apigee.organizations.environments.getIamPolicy"
            },
            "getDeployedConfig": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/deployedConfig",
              "httpMethod": "GET",
              "description": "Gets the deployed configuration for an environment.",
              "response": {
                "$ref": "GoogleCloudApigeeV1EnvironmentConfig"
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/environments/[^/]+/deployedConfig$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the environment deployed configuration resource. Use the following structure in your request: `organizations/{org}/environments/{env}/deployedConfig`"
                }
              },
              "id": "apigee.organizations.environments.getDeployedConfig"
            },
            "getDebugmask": {
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/debugmask",
              "id": "apigee.organizations.environments.getDebugmask",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Name of the debug mask. Use the following structure in your request: `organizations/{org}/environments/{env}/debugmask`.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/environments/[^/]+/debugmask$"
                }
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1DebugMask"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets the debug mask singleton resource for an environment."
            },
            "getTraceConfig": {
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/traceConfig",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1TraceConfig"
              },
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Get distributed trace configuration in an environment.",
              "parameters": {
                "name": {
                  "description": "Required. Name of the trace configuration. Use the following structure in your request: \"organizations/*/environments/*/traceConfig\".",
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+/environments/[^/]+/traceConfig$",
                  "type": "string"
                }
              },
              "id": "apigee.organizations.environments.getTraceConfig"
            },
            "setIamPolicy": {
              "request": {
                "$ref": "GoogleIamV1SetIamPolicyRequest"
              },
              "response": {
                "$ref": "GoogleIamV1Policy"
              },
              "parameterOrder": [
                "resource"
              ],
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}:setIamPolicy",
              "path": "v1/{+resource}:setIamPolicy",
              "id": "apigee.organizations.environments.setIamPolicy",
              "description": "Sets the IAM policy on an environment, if the policy already exists it will be replaced. For more information, see [Manage users, roles, and permissions using the API](https://cloud.google.com/apigee/docs/api-platform/system-administration/manage-users-roles). You must have the `apigee.environments.setIamPolicy` permission to call this API.",
              "parameters": {
                "resource": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/environments/[^/]+$",
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "create": {
              "id": "apigee.organizations.environments.create",
              "path": "v1/{+parent}/environments",
              "request": {
                "$ref": "GoogleCloudApigeeV1Environment"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. Name of the organization in which the environment will be created. Use the following structure in your request: `organizations/{org}`",
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "name": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Name of the environment. Alternatively, the name may be specified in the request body in the name field."
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/environments",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Creates an environment in an organization.",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "description": "Gets environment details.",
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+/environments/[^/]+$",
                  "description": "Required. Name of the environment. Use the following structure in your request: `organizations/{org}/environments/{env}`",
                  "location": "path"
                }
              },
              "id": "apigee.organizations.environments.get",
              "response": {
                "$ref": "GoogleCloudApigeeV1Environment"
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "flowhooks": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the flow hook in the following format: `organizations/{org}/environments/{env}/flowhooks/{flowhook}`",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/flowhooks/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.environments.flowhooks.get",
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/flowhooks/{flowhooksId}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1FlowHook"
                  },
                  "description": "Returns the name of the shared flow attached to the specified flow hook. If there's no shared flow attached to the flow hook, the API does not return an error; it simply does not return a name in the response.",
                  "httpMethod": "GET"
                },
                "detachSharedFlowFromFlowHook": {
                  "description": "Detaches a shared flow from a flow hook.",
                  "id": "apigee.organizations.environments.flowhooks.detachSharedFlowFromFlowHook",
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+/flowhooks/[^/]+$",
                      "description": "Required. Name of the flow hook to detach in the following format: `organizations/{org}/environments/{env}/flowhooks/{flowhook}`",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/flowhooks/{flowhooksId}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1FlowHook"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "attachSharedFlowToFlowHook": {
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/flowhooks/{flowhooksId}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1FlowHook"
                  },
                  "httpMethod": "PUT",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Attaches a shared flow to a flow hook.",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+/flowhooks/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the flow hook to which the shared flow should be attached in the following format: `organizations/{org}/environments/{env}/flowhooks/{flowhook}`"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apigee.organizations.environments.flowhooks.attachSharedFlowToFlowHook",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1FlowHook"
                  },
                  "path": "v1/{+name}"
                }
              }
            },
            "optimizedStats": {
              "methods": {
                "get": {
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/optimizedStats/{optimizedStatsId}",
                  "parameters": {
                    "timeUnit": {
                      "location": "query",
                      "type": "string",
                      "description": "Granularity of metrics returned. Valid values include: `second`, `minute`, `hour`, `day`, `week`, or `month`."
                    },
                    "realtime": {
                      "location": "query",
                      "description": "No longer used by Apigee. Supported for backwards compatibility.",
                      "type": "boolean"
                    },
                    "limit": {
                      "description": "Maximum number of result items to return. The default and maximum value that can be returned is 14400.",
                      "location": "query",
                      "type": "string"
                    },
                    "sortby": {
                      "type": "string",
                      "location": "query",
                      "description": "Comma-separated list of columns to sort the final result."
                    },
                    "filter": {
                      "type": "string",
                      "description": "Filter that enables you to drill-down on specific dimension values.",
                      "location": "query"
                    },
                    "accuracy": {
                      "location": "query",
                      "description": "No longer used by Apigee. Supported for backwards compatibility.",
                      "type": "string"
                    },
                    "select": {
                      "description": "Required. Comma-separated list of metrics. For example: `sum(message_count),sum(error_count)`",
                      "location": "query",
                      "type": "string"
                    },
                    "tzo": {
                      "location": "query",
                      "type": "string",
                      "description": "Timezone offset value."
                    },
                    "offset": {
                      "type": "string",
                      "description": "Offset value. Use `offset` with `limit` to enable pagination of results. For example, to display results 11-20, set limit to `10` and offset to `10`.",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/environments/[^/]+/optimizedStats/.*$",
                      "type": "string",
                      "description": "Required. Resource name for which the interactive query will be executed. Use the following format in your request: `organizations/{org}/environments/{env}/optimizedStats/{dimensions}` Dimensions let you view metrics in meaningful groupings, such as `apiproxy`, `target_host`. The value of `dimensions` should be a comma-separated list as shown below: `organizations/{org}/environments/{env}/optimizedStats/apiproxy,request_verb`"
                    },
                    "sort": {
                      "description": "Flag that specifies whether the sort order should be ascending or descending. Valid values include `DESC` and `ASC`.",
                      "location": "query",
                      "type": "string"
                    },
                    "tsAscending": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Flag that specifies whether to list timestamps in ascending (`true`) or descending (`false`) order. Apigee recommends setting this value to `true` if you are using `sortby` with `sort=DESC`."
                    },
                    "timeRange": {
                      "description": "Required. Time interval for the interactive query. Time range is specified in GMT as `start~end`. For example: `04/15/2017 00:00~05/15/2017 23:59`",
                      "location": "query",
                      "type": "string"
                    },
                    "topk": {
                      "type": "string",
                      "description": "Top number of results to return. For example, to return the top 5 results, set `topk=5`.",
                      "location": "query"
                    },
                    "aggTable": {
                      "type": "string",
                      "location": "query",
                      "description": "Table name used to query custom aggregate tables. If this parameter is skipped, then Apigee will try to retrieve the data from fact tables which will be expensive."
                    },
                    "sonar": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Routes the query to API Monitoring for the last hour."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apigee.organizations.environments.optimizedStats.get",
                  "httpMethod": "GET",
                  "description": "Similar to GetStats except that the response is less verbose.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1OptimizedStats"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "archiveDeployments": {
              "methods": {
                "generateUploadUrl": {
                  "path": "v1/{+parent}/archiveDeployments:generateUploadUrl",
                  "description": "Generates a signed URL for uploading an Archive zip file to Google Cloud Storage. Once the upload is complete, the signed URL should be passed to CreateArchiveDeployment. When uploading to the generated signed URL, please follow these restrictions: * Source file type should be a zip file. * Source file size should not exceed 1GB limit. * No credentials should be attached - the signed URLs provide access to the target bucket using internal service identity; if credentials were attached, the identity from the credentials would be used, but that identity does not have permissions to upload files to the URL. When making a HTTP PUT request, these two headers need to be specified: * `content-type: application/zip` * `x-goog-content-length-range: 0,1073741824` And this header SHOULD NOT be specified: * `Authorization: Bearer YOUR_TOKEN`",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1GenerateUploadUrlResponse"
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1GenerateUploadUrlRequest"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/archiveDeployments:generateUploadUrl",
                  "parameters": {
                    "parent": {
                      "description": "Required. The organization and environment to upload to.",
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "id": "apigee.organizations.environments.archiveDeployments.generateUploadUrl",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "generateDownloadUrl": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the Archive Deployment you want to download.",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/archiveDeployments/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/archiveDeployments/{archiveDeploymentsId}:generateDownloadUrl",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Generates a signed URL for downloading the original zip file used to create an Archive Deployment. The URL is only valid for a limited period and should be used within minutes after generation. Each call returns a new upload URL.",
                  "id": "apigee.organizations.environments.archiveDeployments.generateDownloadUrl",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1GenerateDownloadUrlResponse"
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1GenerateDownloadUrlRequest"
                  },
                  "path": "v1/{+name}:generateDownloadUrl"
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.environments.archiveDeployments.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudApigeeV1ArchiveDeployment"
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ArchiveDeployment"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/archiveDeployments/{archiveDeploymentsId}",
                  "description": "Updates an existing ArchiveDeployment. Labels can modified but most of the other fields are not modifiable.",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+/archiveDeployments/[^/]+$",
                      "location": "path",
                      "description": "Name of the Archive Deployment in the following format: `organizations/{org}/environments/{env}/archiveDeployments/{id}`.",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Required. The list of fields to be updated.",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}"
                },
                "create": {
                  "request": {
                    "$ref": "GoogleCloudApigeeV1ArchiveDeployment"
                  },
                  "description": "Creates a new ArchiveDeployment.",
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/archiveDeployments",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "description": "Required. The Environment this Archive Deployment will be created in.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/archiveDeployments",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "apigee.organizations.environments.archiveDeployments.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "id": "apigee.organizations.environments.archiveDeployments.get",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the Archive Deployment in the following format: `organizations/{org}/environments/{env}/archiveDeployments/{id}`.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/archiveDeployments/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "description": "Gets the specified ArchiveDeployment.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/archiveDeployments/{archiveDeploymentsId}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ArchiveDeployment"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the Archive Deployment in the following format: `organizations/{org}/environments/{env}/archiveDeployments/{id}`.",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/archiveDeployments/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "apigee.organizations.environments.archiveDeployments.delete",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes an archive deployment.",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/archiveDeployments/{archiveDeploymentsId}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. Page token, returned from a previous ListArchiveDeployments call, that you can use to retrieve the next page.",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional query used to return a subset of Archive Deployments using the semantics defined in https://google.aip.dev/160."
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the Environment for which to list Archive Deployments in the format: `organizations/{org}/environments/{env}`."
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Maximum number of Archive Deployments to return. If unspecified, at most 25 deployments will be returned."
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/archiveDeployments",
                  "path": "v1/{+parent}/archiveDeployments",
                  "description": "Lists the ArchiveDeployments in the specified Environment.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListArchiveDeploymentsResponse"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "apigee.organizations.environments.archiveDeployments.list"
                }
              }
            },
            "traceConfig": {
              "resources": {
                "overrides": {
                  "methods": {
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "PATCH",
                      "description": "Updates a distributed trace configuration override. Note that the repeated fields have replace semantics when included in the field mask and that they will be overwritten by the value of the fields in the request body.",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1TraceConfigOverride"
                      },
                      "request": {
                        "$ref": "GoogleCloudApigeeV1TraceConfigOverride"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/traceConfig/overrides/{overridesId}",
                      "id": "apigee.organizations.environments.traceConfig.overrides.patch",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^organizations/[^/]+/environments/[^/]+/traceConfig/overrides/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. Name of the trace configuration override. Use the following structure in your request: \"organizations/*/environments/*/traceConfig/overrides/*\"."
                        },
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string",
                          "description": "List of fields to be updated."
                        }
                      },
                      "path": "v1/{+name}"
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^organizations/[^/]+/environments/[^/]+/traceConfig/overrides/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. Name of the trace configuration override. Use the following structure in your request: \"organizations/*/environments/*/traceConfig/overrides/*\"."
                        }
                      },
                      "id": "apigee.organizations.environments.traceConfig.overrides.delete",
                      "description": "Deletes a distributed trace configuration override.",
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/traceConfig/overrides/{overridesId}",
                      "httpMethod": "DELETE",
                      "path": "v1/{+name}"
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/traceConfig/overrides/{overridesId}",
                      "id": "apigee.organizations.environments.traceConfig.overrides.get",
                      "description": "Gets a trace configuration override.",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "description": "Required. Name of the trace configuration override. Use the following structure in your request: \"organizations/*/environments/*/traceConfig/overrides/*\".",
                          "location": "path",
                          "pattern": "^organizations/[^/]+/environments/[^/]+/traceConfig/overrides/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1TraceConfigOverride"
                      }
                    },
                    "list": {
                      "response": {
                        "$ref": "GoogleCloudApigeeV1ListTraceConfigOverridesResponse"
                      },
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/overrides",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists all of the distributed trace configuration overrides in an environment.",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "description": "Maximum number of trace configuration overrides to return. If not specified, the maximum number returned is 25. The maximum number cannot exceed 100.",
                          "location": "query",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "A page token, returned from a previous `ListTraceConfigOverrides` call. Token value that can be used to retrieve the subsequent page. When paginating, all other parameters provided to `ListTraceConfigOverrides` must match those specified in the call to obtain the page token.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^organizations/[^/]+/environments/[^/]+/traceConfig$",
                          "required": true,
                          "description": "Required. Parent resource of the trace configuration override. Use the following structure in your request: \"organizations/*/environments/*/traceConfig\".",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/traceConfig/overrides",
                      "id": "apigee.organizations.environments.traceConfig.overrides.list"
                    },
                    "create": {
                      "request": {
                        "$ref": "GoogleCloudApigeeV1TraceConfigOverride"
                      },
                      "response": {
                        "$ref": "GoogleCloudApigeeV1TraceConfigOverride"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates a trace configuration override. The response contains a system-generated UUID, that can be used to view, update, or delete the configuration override. Use the List API to view the existing trace configuration overrides.",
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/traceConfig/overrides",
                      "id": "apigee.organizations.environments.traceConfig.overrides.create",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^organizations/[^/]+/environments/[^/]+/traceConfig$",
                          "description": "Required. Parent resource of the trace configuration override. Use the following structure in your request. \"organizations/*/environments/*/traceConfig\".",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/overrides"
                    }
                  }
                }
              }
            },
            "securityReports": {
              "methods": {
                "getResultView": {
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1SecurityReportResultView"
                  },
                  "description": "After the query is completed, use this API to view the query result when result size is small.",
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/securityReports/{securityReportsId}/resultView",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apigee.organizations.environments.securityReports.getResultView",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+/securityReports/[^/]+/resultView$",
                      "required": true,
                      "description": "Required. Name of the security report result view to get. Must be of the form `organizations/{org}/environments/{env}/securityReports/{reportId}/resultView`.",
                      "type": "string",
                      "location": "path"
                    }
                  }
                },
                "getResult": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apigee.organizations.environments.securityReports.getResult",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/securityReports/{securityReportsId}/result",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleApiHttpBody"
                  },
                  "httpMethod": "GET",
                  "description": "After the query is completed, use this API to retrieve the results as file. If the request succeeds, and there is a non-zero result set, the result is downloaded to the client as a zipped JSON file. The name of the downloaded file will be: OfflineQueryResult-.zip Example: `OfflineQueryResult-9cfc0d85-0f30-46d6-ae6f-318d0cb961bd.zip`",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the security report result to get. Must be of the form `organizations/{org}/environments/{env}/securityReports/{reportId}/result`.",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/securityReports/[^/]+/result$",
                      "location": "path"
                    }
                  }
                },
                "list": {
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/securityReports",
                  "description": "Return a list of Security Reports",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "apigee.organizations.environments.securityReports.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "description": "Token returned from the previous list response to fetch the next page.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent resource name. Must be of the form `organizations/{org}/environments/{env}`."
                    },
                    "status": {
                      "description": "Filter response list by security reports status.",
                      "type": "string",
                      "location": "query"
                    },
                    "submittedBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Filter response list by user who submitted queries."
                    },
                    "from": {
                      "type": "string",
                      "description": "Filter response list by returning security reports that created after this date time. Time must be in ISO date-time format like '2011-12-03T10:15:30Z'.",
                      "location": "query"
                    },
                    "to": {
                      "location": "query",
                      "description": "Filter response list by returning security reports that created before this date time. Time must be in ISO date-time format like '2011-12-03T10:16:30Z'.",
                      "type": "string"
                    },
                    "dataset": {
                      "location": "query",
                      "description": "Filter response list by dataset. Example: `api`, `mint`",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of security report to return in the list response."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListSecurityReportsResponse"
                  },
                  "path": "v1/{+parent}/securityReports"
                },
                "create": {
                  "httpMethod": "POST",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/securityReports",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1SecurityReportQuery"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/securityReports",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "description": "Required. The parent resource name. Must be of the form `organizations/{org}/environments/{env}`."
                    }
                  },
                  "description": "Submit a report request to be processed in the background. If the submission succeeds, the API returns a 200 status and an ID that refer to the report request. In addition to the HTTP status 200, the `state` of \"enqueued\" means that the request succeeded.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1SecurityReport"
                  },
                  "id": "apigee.organizations.environments.securityReports.create"
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudApigeeV1SecurityReport"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+/securityReports/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the security report to get. Must be of the form `organizations/{org}/environments/{env}/securityReports/{reportId}`.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/securityReports/{securityReportsId}",
                  "description": "Get security report status If the query is still in progress, the `state` is set to \"running\" After the query has completed successfully, `state` is set to \"completed\"",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apigee.organizations.environments.securityReports.get",
                  "path": "v1/{+name}"
                }
              }
            },
            "queries": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListAsyncQueriesResponse"
                  },
                  "id": "apigee.organizations.environments.queries.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/queries",
                  "description": "Return a list of Asynchronous Queries",
                  "path": "v1/{+parent}/queries",
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent resource name. Must be of the form `organizations/{org}/environments/{env}`.",
                      "type": "string"
                    },
                    "submittedBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Filter response list by user who submitted queries."
                    },
                    "status": {
                      "location": "query",
                      "type": "string",
                      "description": "Filter response list by asynchronous query status."
                    },
                    "to": {
                      "location": "query",
                      "description": "Filter response list by returning asynchronous queries that created before this date time. Time must be in ISO date-time format like '2011-12-03T10:16:30Z'.",
                      "type": "string"
                    },
                    "inclQueriesWithoutReport": {
                      "location": "query",
                      "description": "Flag to include asynchronous queries that don't have a report denifition.",
                      "type": "string"
                    },
                    "from": {
                      "location": "query",
                      "description": "Filter response list by returning asynchronous queries that created after this date time. Time must be in ISO date-time format like '2011-12-03T10:15:30Z'.",
                      "type": "string"
                    },
                    "dataset": {
                      "location": "query",
                      "description": "Filter response list by dataset. Example: `api`, `mint`",
                      "type": "string"
                    }
                  }
                },
                "getResult": {
                  "path": "v1/{+name}",
                  "id": "apigee.organizations.environments.queries.getResult",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/queries/{queriesId}/result",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "After the query is completed, use this API to retrieve the results. If the request succeeds, and there is a non-zero result set, the result is downloaded to the client as a zipped JSON file. The name of the downloaded file will be: OfflineQueryResult-.zip Example: `OfflineQueryResult-9cfc0d85-0f30-46d6-ae6f-318d0cb961bd.zip`",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. Name of the asynchronous query result to get. Must be of the form `organizations/{org}/environments/{env}/queries/{queryId}/result`.",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/queries/[^/]+/result$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleApiHttpBody"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudApigeeV1AsyncQuery"
                  },
[...]
