{
  "ownerName": "Google",
  "servicePath": "",
  "version_module": true,
  "title": "Apigee API",
  "revision": "20210826",
  "description": "Use the Apigee API to programmatically develop and manage APIs with a set of RESTful operations. Develop and secure API proxies, deploy and undeploy API proxy revisions, monitor APIs, configure environments, manage users, and more. Note: This product is available as a free trial for a time period of 60 days.",
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "protocol": "rest",
  "baseUrl": "https://apigee.googleapis.com/",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    }
  },
  "discoveryVersion": "v1",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "name": "apigee",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "mtlsRootUrl": "https://apigee.mtls.googleapis.com/",
  "resources": {
    "organizations": {
      "resources": {
        "apps": {
          "methods": {
            "list": {
              "id": "apigee.organizations.apps.list",
              "description": "Lists IDs of apps within an organization that have the specified app status (approved or revoked) or are of the specified app type (developer or company).",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/apps",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameters": {
                "rows": {
                  "format": "int64",
                  "description": "Optional. Maximum number of app IDs to return. Defaults to 10000.",
                  "type": "string",
                  "location": "query"
                },
                "status": {
                  "location": "query",
                  "description": "Optional. Filter by the status of the app. Valid values are `approved` or `revoked`. Defaults to `approved`.",
                  "type": "string"
                },
                "apiProduct": {
                  "type": "string",
                  "location": "query",
                  "description": "API product."
                },
                "expand": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Optional. Flag that specifies whether to return an expanded list of apps for the organization. Defaults to `false`."
                },
                "parent": {
                  "description": "Required. Resource path of the parent in the following format: `organizations/{org}`",
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "apptype": {
                  "location": "query",
                  "description": "Optional. Filter by the type of the app. Valid values are `company` or `developer`. Defaults to `developer`.",
                  "type": "string"
                },
                "includeCred": {
                  "description": "Optional. Flag that specifies whether to include credentials in the response.",
                  "type": "boolean",
                  "location": "query"
                },
                "keyStatus": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Key status of the app. Valid values include `approved` or `revoked`. Defaults to `approved`."
                },
                "ids": {
                  "location": "query",
                  "description": "Optional. Comma-separated list of app IDs on which to filter.",
                  "type": "string"
                },
                "startKey": {
                  "description": "Returns the list of apps starting from the specified app ID.",
                  "type": "string",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1ListAppsResponse"
              },
              "flatPath": "v1/organizations/{organizationsId}/apps"
            },
            "get": {
              "response": {
                "$ref": "GoogleCloudApigeeV1App"
              },
              "httpMethod": "GET",
              "flatPath": "v1/organizations/{organizationsId}/apps/{appsId}",
              "id": "apigee.organizations.apps.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets the app profile for the specified app ID.",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+/apps/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. App ID in the following format: `organizations/{org}/apps/{app}`"
                }
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "optimizedHostStats": {
          "methods": {
            "get": {
              "response": {
                "$ref": "GoogleCloudApigeeV1OptimizedStats"
              },
              "flatPath": "v1/organizations/{organizationsId}/optimizedHostStats/{optimizedHostStatsId}",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "apigee.organizations.optimizedHostStats.get",
              "description": "This api is similar to GetHostStats except that the response is less verbose.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "Enables drill-down on specific dimension values.",
                  "location": "query"
                },
                "timeRange": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. Time interval for the interactive query. Time range is specified as start~end. E.g 04/15/2017 00:00~05/15/2017 23:59."
                },
                "realtime": {
                  "type": "boolean",
                  "description": "Legacy field: not used anymore.",
                  "location": "query"
                },
                "accuracy": {
                  "description": "Legacy field: not used anymore.",
                  "location": "query",
                  "type": "string"
                },
                "tsAscending": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Lists timestamps in ascending order if set to true. Recommend setting this value to true if you are using sortby with sort=DESC."
                },
                "sortby": {
                  "description": "Comma separated list of columns to sort the final result.",
                  "location": "query",
                  "type": "string"
                },
                "timeUnit": {
                  "description": "A value of second, minute, hour, day, week, month. Time Unit specifies the granularity of metrics returned.",
                  "location": "query",
                  "type": "string"
                },
                "tzo": {
                  "location": "query",
                  "type": "string",
                  "description": "This parameters contains the timezone offset value."
                },
                "name": {
                  "pattern": "^organizations/[^/]+/optimizedHostStats/.*$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name for which the interactive query will be executed. Must be of the form `organizations/{organization_id}/optimizedHostStats/{dimensions}`. Dimensions let you view metrics in meaningful groupings. E.g. apiproxy, target_host. The value of dimensions should be comma separated list as shown below `organizations/{org}/optimizedHostStats/apiproxy,request_verb`",
                  "required": true
                },
                "limit": {
                  "type": "string",
                  "location": "query",
                  "description": "This parameter is used to limit the number of result items. Default and the max value is 14400."
                },
                "envgroupHostname": {
                  "description": "Required. The hostname for which the interactive query will be executed.",
                  "location": "query",
                  "type": "string"
                },
                "topk": {
                  "type": "string",
                  "location": "query",
                  "description": "Take 'top k' results from results, for example, to return the top 5 results 'topk=5'."
                },
                "offset": {
                  "location": "query",
                  "type": "string",
                  "description": "Use offset with limit to enable pagination of results. For example, to display results 11-20, set limit to '10' and offset to '10'."
                },
                "sort": {
                  "type": "string",
                  "location": "query",
                  "description": "This parameter specifies if the sort order should be ascending or descending Supported values are DESC and ASC."
                },
                "select": {
                  "description": "Required. The select parameter contains a comma separated list of metrics. E.g. sum(message_count),sum(error_count)",
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "GET"
            }
          }
        },
        "hostStats": {
          "methods": {
            "get": {
              "description": "Retrieve metrics grouped by dimensions in host level. The types of metrics you can retrieve include traffic, message counts, API call latency, response size, and cache hits and counts. Dimensions let you view metrics in meaningful groups. The stats api does accept dimensions as path params. The dimensions are optional in which case the metrics are computed on the entire data for the given timerange.",
              "flatPath": "v1/organizations/{organizationsId}/hostStats/{hostStatsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "id": "apigee.organizations.hostStats.get",
              "response": {
                "$ref": "GoogleCloudApigeeV1Stats"
              },
              "parameters": {
                "timeRange": {
                  "description": "Time interval for the interactive query. Time range is specified as start~end E.g. 04/15/2017 00:00~05/15/2017 23:59",
                  "type": "string",
                  "location": "query"
                },
                "accuracy": {
                  "description": "Legacy field: not used anymore.",
                  "type": "string",
                  "location": "query"
                },
                "sortby": {
                  "location": "query",
                  "type": "string",
                  "description": "Comma separated list of columns to sort the final result."
                },
                "offset": {
                  "description": "Use offset with limit to enable pagination of results. For example, to display results 11-20, set limit to '10' and offset to '10'.",
                  "type": "string",
                  "location": "query"
                },
                "tsAscending": {
                  "description": "Lists timestamps in ascending order if set to true. Recommend setting this value to true if you are using sortby with sort=DESC.",
                  "location": "query",
                  "type": "boolean"
                },
                "tzo": {
                  "type": "string",
                  "location": "query",
                  "description": "This parameters contains the timezone offset value."
                },
                "envgroupHostname": {
                  "location": "query",
                  "description": "Required. The hostname for which the interactive query will be executed.",
                  "type": "string"
                },
                "select": {
                  "location": "query",
                  "description": "The select parameter contains a comma separated list of metrics. E.g. sum(message_count),sum(error_count)",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Enables drill-down on specific dimension values."
                },
                "realtime": {
                  "description": "Legacy field: not used anymore.",
                  "location": "query",
                  "type": "boolean"
                },
                "timeUnit": {
                  "description": "A value of second, minute, hour, day, week, month. Time Unit specifies the granularity of metrics returned.",
                  "location": "query",
                  "type": "string"
                },
                "limit": {
                  "location": "query",
                  "type": "string",
                  "description": "This parameter is used to limit the number of result items. Default and the max value is 14400."
                },
                "sort": {
                  "location": "query",
                  "type": "string",
                  "description": "This parameter specifies if the sort order should be ascending or descending Supported values are DESC and ASC."
                },
                "name": {
                  "type": "string",
                  "description": "Required. The resource name for which the interactive query will be executed. Must be of the form `organizations/{organization_id}/hostStats/{dimensions}`. Dimensions let you view metrics in meaningful groupings. E.g. apiproxy, target_host. The value of dimensions should be comma separated list as shown below `organizations/{org}/hostStats/apiproxy,request_verb`",
                  "required": true,
                  "pattern": "^organizations/[^/]+/hostStats/.*$",
                  "location": "path"
                },
                "topk": {
                  "description": "Take 'top k' results from results, for example, to return the top 5 results 'topk=5'.",
                  "location": "query",
                  "type": "string"
                }
              }
            }
          }
        },
        "deployments": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListDeploymentsResponse"
              },
              "path": "v1/{+parent}/deployments",
              "description": "Lists all deployments of API proxies or shared flows.",
              "id": "apigee.organizations.deployments.list",
              "parameters": {
                "sharedFlows": {
                  "location": "query",
                  "description": "Optional. Flag that specifies whether to return shared flow or API proxy deployments. Set to `true` to return shared flow deployments; set to `false` to return API proxy deployments. Defaults to `false`.",
                  "type": "boolean"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. Name of the organization for which to return deployment information in the following format: `organizations/{org}`",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/deployments"
            }
          }
        },
        "analytics": {
          "resources": {
            "datastores": {
              "methods": {
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Resource name of the Datastore to be deleted. Must be of the form `organizations/{org}/analytics/datastores/{datastoreId}`",
                      "pattern": "^organizations/[^/]+/analytics/datastores/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Delete a Datastore from an org.",
                  "flatPath": "v1/organizations/{organizationsId}/analytics/datastores/{datastoresId}",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "DELETE",
                  "id": "apigee.organizations.analytics.datastores.delete"
                },
                "test": {
                  "flatPath": "v1/organizations/{organizationsId}/analytics/datastores:test",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Datastore"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/analytics/datastores:test",
                  "id": "apigee.organizations.analytics.datastores.test",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent organization name Must be of the form `organizations/{org}`",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1TestDatastoreResponse"
                  },
                  "description": "Test if Datastore configuration is correct. This includes checking if credentials provided by customer have required permissions in target destination storage"
                },
                "get": {
                  "id": "apigee.organizations.analytics.datastores.get",
                  "description": "Get a Datastore",
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/analytics/datastores/{datastoresId}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Datastore"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of the Datastore to be get. Must be of the form `organizations/{org}/analytics/datastores/{datastoreId}`",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/analytics/datastores/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}"
                },
                "list": {
                  "description": "List Datastores",
                  "path": "v1/{+parent}/analytics/datastores",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListDatastoresResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "targetType": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. TargetType is used to fetch all Datastores that match the type"
                    },
                    "parent": {
                      "description": "Required. The parent organization name. Must be of the form `organizations/{org}`.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/analytics/datastores",
                  "id": "apigee.organizations.analytics.datastores.list"
                },
                "create": {
                  "description": "Create a Datastore for an org",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent organization name. Must be of the form `organizations/{org}`.",
                      "pattern": "^organizations/[^/]+$"
                    }
                  },
                  "httpMethod": "POST",
                  "id": "apigee.organizations.analytics.datastores.create",
                  "path": "v1/{+parent}/analytics/datastores",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Datastore"
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Datastore"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/analytics/datastores",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "update": {
                  "description": "Update a Datastore",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/analytics/datastores/{datastoresId}",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of datastore to be updated. Must be of the form `organizations/{org}/analytics/datastores/{datastoreId}`",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/analytics/datastores/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Datastore"
                  },
                  "path": "v1/{+name}",
                  "id": "apigee.organizations.analytics.datastores.update",
                  "httpMethod": "PUT",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Datastore"
                  }
                }
              }
            }
          }
        },
        "hostQueries": {
          "methods": {
            "getResult": {
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. Name of the asynchronous query result to get. Must be of the form `organizations/{org}/queries/{queryId}/result`.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/hostQueries/[^/]+/result$"
                }
              },
              "description": "After the query is completed, use this API to retrieve the results. If the request succeeds, and there is a non-zero result set, the result is downloaded to the client as a zipped JSON file. The name of the downloaded file will be: OfflineQueryResult-.zip Example: `OfflineQueryResult-9cfc0d85-0f30-46d6-ae6f-318d0cb961bd.zip`",
              "flatPath": "v1/organizations/{organizationsId}/hostQueries/{hostQueriesId}/result",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleApiHttpBody"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.hostQueries.getResult",
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/hostQueries",
              "description": "Submit a query at host level to be processed in the background. If the submission of the query succeeds, the API returns a 201 status and an ID that refer to the query. In addition to the HTTP status 201, the `state` of \"enqueued\" means that the request succeeded.",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "id": "apigee.organizations.hostQueries.create",
              "path": "v1/{+parent}/hostQueries",
              "response": {
                "$ref": "GoogleCloudApigeeV1AsyncQuery"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The parent resource name. Must be of the form `organizations/{org}`.",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleCloudApigeeV1Query"
              }
            },
            "get": {
              "flatPath": "v1/organizations/{organizationsId}/hostQueries/{hostQueriesId}",
              "id": "apigee.organizations.hostQueries.get",
              "response": {
                "$ref": "GoogleCloudApigeeV1AsyncQuery"
              },
              "description": "Get status of a query submitted at host level. If the query is still in progress, the `state` is set to \"running\" After the query has completed successfully, `state` is set to \"completed\"",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Name of the asynchronous query to get. Must be of the form `organizations/{org}/queries/{queryId}`.",
                  "pattern": "^organizations/[^/]+/hostQueries/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "id": "apigee.organizations.hostQueries.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "inclQueriesWithoutReport": {
                  "location": "query",
                  "type": "string",
                  "description": "Flag to include asynchronous queries that don't have a report denifition."
                },
                "dataset": {
                  "description": "Filter response list by dataset. Example: `api`, `mint`",
                  "type": "string",
                  "location": "query"
                },
                "envgroupHostname": {
                  "type": "string",
                  "description": "Required. Filter response list by hostname.",
                  "location": "query"
                },
                "to": {
                  "type": "string",
                  "location": "query",
                  "description": "Filter response list by returning asynchronous queries that created before this date time. Time must be in ISO date-time format like '2011-12-03T10:16:30Z'."
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The parent resource name. Must be of the form `organizations/{org}`.",
                  "pattern": "^organizations/[^/]+$"
                },
                "submittedBy": {
                  "description": "Filter response list by user who submitted queries.",
                  "location": "query",
                  "type": "string"
                },
                "status": {
                  "type": "string",
                  "description": "Filter response list by asynchronous query status.",
                  "location": "query"
                },
                "from": {
                  "description": "Filter response list by returning asynchronous queries that created after this date time. Time must be in ISO date-time format like '2011-12-03T10:15:30Z'.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1ListAsyncQueriesResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Return a list of Asynchronous Queries at host level.",
              "flatPath": "v1/organizations/{organizationsId}/hostQueries",
              "path": "v1/{+parent}/hostQueries"
            },
            "getResultView": {
              "parameters": {
                "name": {
                  "description": "Required. Name of the asynchronous query result view to get. Must be of the form `organizations/{org}/queries/{queryId}/resultView`.",
                  "pattern": "^organizations/[^/]+/hostQueries/[^/]+/resultView$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudApigeeV1AsyncQueryResultView"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.hostQueries.getResultView",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/hostQueries/{hostQueriesId}/resultView"
            }
          }
        },
        "environments": {
          "resources": {
            "caches": {
              "methods": {
                "delete": {
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/caches/{cachesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. Cache resource name of the form: `organizations/{organization_id}/environments/{environment_id}/caches/{cache_id}`",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/caches/[^/]+$"
                    }
                  },
                  "description": "Deletes a cache.",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "apigee.organizations.environments.caches.delete",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "flowhooks": {
              "methods": {
                "attachSharedFlowToFlowHook": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/environments/[^/]+/flowhooks/[^/]+$",
                      "location": "path",
                      "description": "Required. Name of the flow hook to which the shared flow should be attached in the following format: `organizations/{org}/environments/{env}/flowhooks/{flowhook}`"
                    }
                  },
                  "id": "apigee.organizations.environments.flowhooks.attachSharedFlowToFlowHook",
                  "description": "Attaches a shared flow to a flow hook.",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1FlowHook"
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1FlowHook"
                  },
                  "httpMethod": "PUT",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/flowhooks/{flowhooksId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/flowhooks/{flowhooksId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/environments/[^/]+/flowhooks/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the flow hook in the following format: `organizations/{org}/environments/{env}/flowhooks/{flowhook}`"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Returns the name of the shared flow attached to the specified flow hook. If there's no shared flow attached to the flow hook, the API does not return an error; it simply does not return a name in the response.",
                  "id": "apigee.organizations.environments.flowhooks.get",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1FlowHook"
                  }
                },
                "detachSharedFlowFromFlowHook": {
                  "description": "Detaches a shared flow from a flow hook.",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the flow hook to detach in the following format: `organizations/{org}/environments/{env}/flowhooks/{flowhook}`",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/flowhooks/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/flowhooks/{flowhooksId}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1FlowHook"
                  },
                  "httpMethod": "DELETE",
                  "id": "apigee.organizations.environments.flowhooks.detachSharedFlowFromFlowHook",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "references": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the Reference to get. Must be of the form `organizations/{org}/environments/{env}/references/{ref}`.",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/references/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "apigee.organizations.environments.references.get",
                  "description": "Gets a Reference resource.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Reference"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/references/{referencesId}"
                },
                "delete": {
                  "path": "v1/{+name}",
                  "id": "apigee.organizations.environments.references.delete",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Reference"
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+/references/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the Reference to delete. Must be of the form `organizations/{org}/environments/{env}/references/{ref}`.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/references/{referencesId}",
                  "description": "Deletes a Reference from an environment. Returns the deleted Reference resource.",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/references",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/references",
                  "description": "Creates a Reference in the specified environment.",
                  "id": "apigee.organizations.environments.references.create",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Reference"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent environment name under which the Reference will be created. Must be of the form `organizations/{org}/environments/{env}`."
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Reference"
                  }
                },
                "update": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the Reference to update. Must be of the form `organizations/{org}/environments/{env}/references/{ref}`.",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/references/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/references/{referencesId}",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates an existing Reference. Note that this operation has PUT semantics; it will replace the entirety of the existing Reference with the resource in the request body.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Reference"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PUT",
                  "id": "apigee.organizations.environments.references.update",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Reference"
                  }
                }
              }
            },
            "traceConfig": {
              "resources": {
                "overrides": {
                  "methods": {
                    "get": {
                      "response": {
                        "$ref": "GoogleCloudApigeeV1TraceConfigOverride"
                      },
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^organizations/[^/]+/environments/[^/]+/traceConfig/overrides/[^/]+$",
                          "description": "Required. Name of the trace configuration override. Use the following structure in your request: \"organizations/*/environments/*/traceConfig/overrides/*\".",
                          "type": "string",
                          "required": true
                        }
                      },
                      "description": "Gets a trace configuration override.",
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/traceConfig/overrides/{overridesId}",
                      "id": "apigee.organizations.environments.traceConfig.overrides.get",
                      "httpMethod": "GET"
                    },
                    "list": {
                      "description": "Lists all of the distributed trace configuration overrides in an environment.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "apigee.organizations.environments.traceConfig.overrides.list",
                      "path": "v1/{+parent}/overrides",
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/traceConfig/overrides",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1ListTraceConfigOverridesResponse"
                      },
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "description": "Maximum number of trace configuration overrides to return. If not specified, the maximum number returned is 25. The maximum number cannot exceed 100.",
                          "format": "int32",
                          "type": "integer"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "A page token, returned from a previous `ListTraceConfigOverrides` call. Token value that can be used to retrieve the subsequent page. When paginating, all other parameters provided to `ListTraceConfigOverrides` must match those specified in the call to obtain the page token."
                        },
                        "parent": {
                          "required": true,
                          "location": "path",
                          "pattern": "^organizations/[^/]+/environments/[^/]+/traceConfig$",
                          "description": "Required. Parent resource of the trace configuration override. Use the following structure in your request: \"organizations/*/environments/*/traceConfig\".",
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "response": {
                        "$ref": "GoogleCloudApigeeV1TraceConfigOverride"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/traceConfig/overrides",
                      "description": "Creates a trace configuration override. The response contains a system-generated UUID, that can be used to view, update, or delete the configuration override. Use the List API to view the existing trace configuration overrides.",
                      "id": "apigee.organizations.environments.traceConfig.overrides.create",
                      "request": {
                        "$ref": "GoogleCloudApigeeV1TraceConfigOverride"
                      },
                      "path": "v1/{+parent}/overrides",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "Required. Parent resource of the trace configuration override. Use the following structure in your request. \"organizations/*/environments/*/traceConfig\".",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^organizations/[^/]+/environments/[^/]+/traceConfig$"
                        }
                      }
                    },
                    "patch": {
                      "request": {
                        "$ref": "GoogleCloudApigeeV1TraceConfigOverride"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/traceConfig/overrides/{overridesId}",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1TraceConfigOverride"
                      },
                      "parameters": {
                        "updateMask": {
                          "description": "List of fields to be updated.",
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "location": "path",
                          "pattern": "^organizations/[^/]+/environments/[^/]+/traceConfig/overrides/[^/]+$",
                          "type": "string",
                          "description": "Required. Name of the trace configuration override. Use the following structure in your request: \"organizations/*/environments/*/traceConfig/overrides/*\".",
                          "required": true
                        }
                      },
                      "httpMethod": "PATCH",
                      "id": "apigee.organizations.environments.traceConfig.overrides.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Updates a distributed trace configuration override. Note that the repeated fields have replace semantics when included in the field mask and that they will be overwritten by the value of the fields in the request body."
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/traceConfig/overrides/{overridesId}",
                      "id": "apigee.organizations.environments.traceConfig.overrides.delete",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "description": "Required. Name of the trace configuration override. Use the following structure in your request: \"organizations/*/environments/*/traceConfig/overrides/*\".",
                          "pattern": "^organizations/[^/]+/environments/[^/]+/traceConfig/overrides/[^/]+$",
                          "location": "path"
                        }
                      },
                      "description": "Deletes a distributed trace configuration override."
                    }
                  }
                }
              }
            },
            "targetservers": {
              "methods": {
                "get": {
                  "description": "Gets a TargetServer resource.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1TargetServer"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/targetservers/{targetserversId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the TargetServer to get. Must be of the form `organizations/{org}/environments/{env}/targetservers/{target_server_id}`.",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/targetservers/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "id": "apigee.organizations.environments.targetservers.get"
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/targetservers",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/targetservers",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent environment name under which the TargetServer will be created. Must be of the form `organizations/{org}/environments/{env}`.",
                      "required": true
                    },
                    "name": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The ID to give the TargetServer. This will overwrite the value in TargetServer."
                    }
                  },
                  "description": "Creates a TargetServer in the specified environment.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1TargetServer"
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1TargetServer"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "apigee.organizations.environments.targetservers.create"
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleCloudApigeeV1TargetServer"
                  },
                  "httpMethod": "DELETE",
                  "description": "Deletes a TargetServer from an environment. Returns the deleted TargetServer resource.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/targetservers/{targetserversId}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the TargetServer to delete. Must be of the form `organizations/{org}/environments/{env}/targetservers/{target_server_id}`.",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/targetservers/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "apigee.organizations.environments.targetservers.delete"
                },
                "update": {
                  "description": "Updates an existing TargetServer. Note that this operation has PUT semantics; it will replace the entirety of the existing TargetServer with the resource in the request body.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1TargetServer"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.environments.targetservers.update",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/targetservers/{targetserversId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the TargetServer to replace. Must be of the form `organizations/{org}/environments/{env}/targetservers/{target_server_id}`.",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/targetservers/[^/]+$",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "PUT",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1TargetServer"
                  }
                }
              }
            },
            "queries": {
              "methods": {
                "create": {
                  "description": "Submit a query to be processed in the background. If the submission of the query succeeds, the API returns a 201 status and an ID that refer to the query. In addition to the HTTP status 201, the `state` of \"enqueued\" means that the request succeeded.",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Query"
                  },
                  "id": "apigee.organizations.environments.queries.create",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/queries",
                  "path": "v1/{+parent}/queries",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1AsyncQuery"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent resource name. Must be of the form `organizations/{org}/environments/{env}`.",
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/environments/[^/]+$"
                    }
                  }
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "from": {
                      "location": "query",
                      "description": "Filter response list by returning asynchronous queries that created after this date time. Time must be in ISO date-time format like '2011-12-03T10:15:30Z'.",
                      "type": "string"
                    },
                    "dataset": {
                      "type": "string",
                      "description": "Filter response list by dataset. Example: `api`, `mint`",
                      "location": "query"
                    },
                    "to": {
                      "type": "string",
                      "location": "query",
                      "description": "Filter response list by returning asynchronous queries that created before this date time. Time must be in ISO date-time format like '2011-12-03T10:16:30Z'."
                    },
                    "inclQueriesWithoutReport": {
                      "description": "Flag to include asynchronous queries that don't have a report denifition.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource name. Must be of the form `organizations/{org}/environments/{env}`."
                    },
                    "status": {
                      "location": "query",
                      "description": "Filter response list by asynchronous query status.",
                      "type": "string"
                    },
                    "submittedBy": {
                      "location": "query",
                      "description": "Filter response list by user who submitted queries.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/queries",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/queries",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListAsyncQueriesResponse"
                  },
                  "description": "Return a list of Asynchronous Queries",
                  "id": "apigee.organizations.environments.queries.list"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.environments.queries.get",
                  "description": "Get query status If the query is still in progress, the `state` is set to \"running\" After the query has completed successfully, `state` is set to \"completed\"",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+/queries/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the asynchronous query to get. Must be of the form `organizations/{org}/environments/{env}/queries/{queryId}`.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/queries/{queriesId}",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1AsyncQuery"
                  }
                },
                "getResult": {
                  "path": "v1/{+name}",
                  "id": "apigee.organizations.environments.queries.getResult",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "After the query is completed, use this API to retrieve the results. If the request succeeds, and there is a non-zero result set, the result is downloaded to the client as a zipped JSON file. The name of the downloaded file will be: OfflineQueryResult-.zip Example: `OfflineQueryResult-9cfc0d85-0f30-46d6-ae6f-318d0cb961bd.zip`",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the asynchronous query result to get. Must be of the form `organizations/{org}/environments/{env}/queries/{queryId}/result`.",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/queries/[^/]+/result$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleApiHttpBody"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/queries/{queriesId}/result"
                }
              }
            },
            "sharedflows": {
              "resources": {
                "revisions": {
                  "methods": {
                    "undeploy": {
                      "id": "apigee.organizations.environments.sharedflows.revisions.undeploy",
                      "description": "Undeploys a shared flow revision from an environment. For a request path `organizations/{org}/environments/{env}/sharedflows/{sf}/revisions/{rev}/deployments`, two permissions are required: * `apigee.deployments.delete` on the resource `organizations/{org}/environments/{env}` * `apigee.sharedflowrevisions.undeploy` on the resource `organizations/{org}/sharedflows/{sf}/revisions/{rev}`",
                      "path": "v1/{+name}/deployments",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/sharedflows/{sharedflowsId}/revisions/{revisionsId}/deployments",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/environments/[^/]+/sharedflows/[^/]+/revisions/[^/]+$",
                          "required": true,
                          "description": "Required. Name of the shared flow revision to undeploy in the following format: `organizations/{org}/environments/{env}/sharedflows/{sharedflow}/revisions/{rev}`",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "httpMethod": "DELETE"
                    },
                    "getDeployments": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/environments/[^/]+/sharedflows/[^/]+/revisions/[^/]+$",
                          "location": "path",
                          "description": "Required. Name representing a shared flow in an environment in the following format: `organizations/{org}/environments/{env}/sharedflows/{sharedflow}/revisions/{rev}`",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/sharedflows/{sharedflowsId}/revisions/{revisionsId}/deployments",
                      "description": "Gets the deployment of a shared flow revision and actual state reported by runtime pods.",
                      "httpMethod": "GET",
                      "path": "v1/{+name}/deployments",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Deployment"
                      },
                      "id": "apigee.organizations.environments.sharedflows.revisions.getDeployments",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "deploy": {
                      "parameters": {
                        "override": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Flag that specifies whether the new deployment replaces other deployed revisions of the shared flow in the environment. Set `override` to `true` to replace other deployed revisions. By default, `override` is `false` and the deployment is rejected if other revisions of the shared flow are deployed in the environment."
                        },
                        "serviceAccount": {
                          "type": "string",
                          "location": "query",
                          "description": "Google Cloud IAM service account. The service account represents the identity of the deployed proxy, and determines what permissions it has. The format must be `{ACCOUNT_ID}@{PROJECT}.iam.gserviceaccount.com`."
                        },
                        "name": {
                          "description": "Required. Name of the shared flow revision to deploy in the following format: `organizations/{org}/environments/{env}/sharedflows/{sharedflow}/revisions/{rev}`",
                          "location": "path",
                          "type": "string",
                          "pattern": "^organizations/[^/]+/environments/[^/]+/sharedflows/[^/]+/revisions/[^/]+$",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Deployment"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/sharedflows/{sharedflowsId}/revisions/{revisionsId}/deployments",
                      "path": "v1/{+name}/deployments",
                      "id": "apigee.organizations.environments.sharedflows.revisions.deploy",
                      "httpMethod": "POST",
                      "description": "Deploys a revision of a shared flow. If another revision of the same shared flow is currently deployed, set the `override` parameter to `true` to have this revision replace the currently deployed revision. You cannot use a shared flow until it has been deployed to an environment. For a request path `organizations/{org}/environments/{env}/sharedflows/{sf}/revisions/{rev}/deployments`, two permissions are required: * `apigee.deployments.create` on the resource `organizations/{org}/environments/{env}` * `apigee.sharedflowrevisions.deploy` on the resource `organizations/{org}/sharedflows/{sf}/revisions/{rev}`"
                    }
                  }
                },
                "deployments": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "id": "apigee.organizations.environments.sharedflows.deployments.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists all deployments of a shared flow in an environment.",
                      "path": "v1/{+parent}/deployments",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1ListDeploymentsResponse"
                      },
                      "parameters": {
                        "parent": {
                          "description": "Required. Name representing a shared flow in an environment in the following format: `organizations/{org}/environments/{env}/sharedflows/{sharedflow}`",
                          "location": "path",
                          "type": "string",
                          "pattern": "^organizations/[^/]+/environments/[^/]+/sharedflows/[^/]+$",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/sharedflows/{sharedflowsId}/deployments"
                    }
                  }
                }
              }
            },
            "stats": {
              "methods": {
                "get": {
                  "id": "apigee.organizations.environments.stats.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Retrieve metrics grouped by dimensions. The types of metrics you can retrieve include traffic, message counts, API call latency, response size, and cache hits and counts. Dimensions let you view metrics in meaningful groups. The stats api does accept dimensions as path params. The dimensions are optional in which case the metrics are computed on the entire data for the given timerange.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "timeUnit": {
                      "description": "A value of second, minute, hour, day, week, month. Time Unit specifies the granularity of metrics returned.",
                      "location": "query",
                      "type": "string"
                    },
                    "aggTable": {
                      "location": "query",
                      "description": "If customers want to query custom aggregate tables, then this parameter can be used to specify the table name. If this parameter is skipped, then Edge Query will try to retrieve the data from fact tables which will be expensive.",
                      "type": "string"
                    },
                    "tzo": {
                      "description": "This parameters contains the timezone offset value.",
                      "type": "string",
                      "location": "query"
                    },
                    "sonar": {
                      "type": "boolean",
                      "description": "This parameter routes the query to api monitoring service for last hour.",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Enables drill-down on specific dimension values",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/stats/.*$",
                      "description": "Required. The resource name for which the interactive query will be executed. Must be of the form `organizations/{organization_id}/environments/{environment_id/stats/{dimensions}` Dimensions let you view metrics in meaningful groupings. E.g. apiproxy, target_host. The value of dimensions should be comma separated list as shown below `organizations/{org}/environments/{env}/stats/apiproxy,request_verb`"
                    },
                    "accuracy": {
                      "location": "query",
                      "description": "Legacy field: not used anymore. This field is present to support UI calls which still use this parameter.",
                      "type": "string"
                    },
                    "offset": {
                      "description": "Use offset with limit to enable pagination of results. For example, to display results 11-20, set limit to '10' and offset to '10'.",
                      "type": "string",
                      "location": "query"
                    },
                    "sort": {
                      "location": "query",
                      "type": "string",
                      "description": "This parameter specifies if the sort order should be ascending or descending Supported values are DESC and ASC."
                    },
                    "select": {
                      "type": "string",
                      "location": "query",
                      "description": "The select parameter contains a comma separated list of metrics. E.g. sum(message_count),sum(error_count)"
                    },
                    "sortby": {
                      "description": "Comma separated list of columns to sort the final result.",
                      "location": "query",
                      "type": "string"
                    },
                    "topk": {
                      "description": "Take 'top k' results from results, for example, to return the top 5 results 'topk=5'.",
                      "location": "query",
                      "type": "string"
                    },
                    "limit": {
                      "type": "string",
                      "location": "query",
                      "description": "This parameter is used to limit the number of result items. Default and the max value is 14400."
                    },
                    "realtime": {
                      "description": "Legacy field: not used anymore.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "timeRange": {
                      "description": "Time interval for the interactive query. Time range is specified as start~end E.g. 04/15/2017 00:00~05/15/2017 23:59",
                      "location": "query",
                      "type": "string"
                    },
                    "tsAscending": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Lists timestamps in ascending order if set to true. Recommend setting this value to true if you are using sortby with sort=DESC."
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Stats"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/stats/{statsId}",
                  "httpMethod": "GET"
                }
              }
            },
            "analytics": {
              "resources": {
                "admin": {
                  "methods": {
                    "getSchemav2": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "apigee.organizations.environments.analytics.admin.getSchemav2",
                      "httpMethod": "GET",
                      "description": "Gets a list of metrics and dimensions that can be used to create analytics queries and reports. Each schema element contains the name of the field, its associated type, and a flag indicating whether it is a standard or custom field.",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/analytics/admin/schemav2",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Schema"
                      },
                      "parameters": {
                        "type": {
                          "type": "string",
                          "description": "Required. Name of the dataset for which you want to retrieve the schema. For example: `fact` or `agg_cus1`",
                          "location": "query"
                        },
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. Path to the schema. Use the following structure in your request: `organizations/{org}/environments/{env}/analytics/admin/schemav2`.",
                          "pattern": "^organizations/[^/]+/environments/[^/]+/analytics/admin/schemav2$"
                        },
                        "disableCache": {
                          "type": "boolean",
                          "description": "Flag that specifies whether the schema is be read from the database or cache. Set to `true` to read the schema from the database. Defaults to cache.",
                          "location": "query"
                        }
                      }
                    }
                  }
                },
                "exports": {
                  "methods": {
                    "create": {
                      "httpMethod": "POST",
                      "path": "v1/{+parent}/analytics/exports",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/analytics/exports",
                      "request": {
                        "$ref": "GoogleCloudApigeeV1ExportRequest"
                      },
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Export"
                      },
                      "description": "Submit a data export job to be processed in the background. If the request is successful, the API returns a 201 status, a URI that can be used to retrieve the status of the export job, and the `state` value of \"enqueued\".",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^organizations/[^/]+/environments/[^/]+$",
                          "description": "Required. Names of the parent organization and environment. Must be of the form `organizations/{org}/environments/{env}`."
                        }
                      },
                      "id": "apigee.organizations.environments.analytics.exports.create"
                    },
                    "list": {
                      "path": "v1/{+parent}/analytics/exports",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudApigeeV1ListExportsResponse"
                      },
                      "id": "apigee.organizations.environments.analytics.exports.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/analytics/exports",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. Names of the parent organization and environment. Must be of the form `organizations/{org}/environments/{env}`.",
                          "pattern": "^organizations/[^/]+/environments/[^/]+$"
                        }
                      },
                      "description": "Lists the details and status of all analytics export jobs belonging to the parent organization and environment."
                    },
                    "get": {
                      "httpMethod": "GET",
                      "description": "Gets the details and status of an analytics export job. If the export job is still in progress, its `state` is set to \"running\". After the export job has completed successfully, its `state` is set to \"completed\". If the export job fails, its `state` is set to `failed`.",
                      "path": "v1/{+name}",
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/analytics/exports/{exportsId}",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Export"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "pattern": "^organizations/[^/]+/environments/[^/]+/analytics/exports/[^/]+$",
                          "description": "Required. Resource name of the export to get.",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "apigee.organizations.environments.analytics.exports.get"
                    }
                  }
                }
              }
            },
            "archiveDeployments": {
              "methods": {
                "create": {
                  "path": "v1/{+parent}/archiveDeployments",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "apigee.organizations.environments.archiveDeployments.create",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The Environment this Archive Deployment will be created in.",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/archiveDeployments",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1ArchiveDeployment"
                  },
                  "description": "Creates a new ArchiveDeployment."
                },
                "generateDownloadUrl": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1GenerateDownloadUrlResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Generates a signed URL for downloading the original zip file used to create an Archive Deployment. The URL is only valid for a limited period and should be used within minutes after generation. Each call returns a new upload URL.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the Archive Deployment you want to download.",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/archiveDeployments/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}:generateDownloadUrl",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1GenerateDownloadUrlRequest"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/archiveDeployments/{archiveDeploymentsId}:generateDownloadUrl",
                  "id": "apigee.organizations.environments.archiveDeployments.generateDownloadUrl",
                  "httpMethod": "POST"
                },
                "generateUploadUrl": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/archiveDeployments:generateUploadUrl",
                  "httpMethod": "POST",
                  "id": "apigee.organizations.environments.archiveDeployments.generateUploadUrl",
                  "description": "Generates a signed URL for uploading an Archive zip file to Google Cloud Storage. Once the upload is complete, the signed URL should be passed to CreateArchiveDeployment. When uploading to the generated signed URL, please follow these restrictions: * Source file type should be a zip file. * Source file size should not exceed 1GB limit. * No credentials should be attached - the signed URLs provide access to the target bucket using internal service identity; if credentials were attached, the identity from the credentials would be used, but that identity does not have permissions to upload files to the URL. When making a HTTP PUT request, these two headers need to be specified: * `content-type: application/zip` * `x-goog-content-length-range: 0,1073741824` And this header SHOULD NOT be specified: * `Authorization: Bearer YOUR_TOKEN`",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudApigeeV1GenerateUploadUrlRequest"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The organization and environment to upload to.",
                      "required": true,
                      "location": "path",
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1GenerateUploadUrlResponse"
                  },
                  "path": "v1/{+parent}/archiveDeployments:generateUploadUrl"
                },
                "get": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ArchiveDeployment"
                  },
                  "id": "apigee.organizations.environments.archiveDeployments.get",
                  "httpMethod": "GET",
                  "description": "Gets the specified ArchiveDeployment.",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+/archiveDeployments/[^/]+$",
                      "description": "Required. Name of the Archive Deployment in the following format: `organizations/{org}/environments/{env}/archiveDeployments/{id}`.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/archiveDeployments/{archiveDeploymentsId}"
                },
                "list": {
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListArchiveDeploymentsResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the Environment for which to list Archive Deployments in the format: `organizations/{org}/environments/{env}`.",
                      "required": true,
                      "location": "path"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. Maximum number of Archive Deployments to return. If unspecified, at most 25 deployments will be returned.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. Page token, returned from a previous ListArchiveDeployments call, that you can use to retrieve the next page.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. An optional query used to return a subset of Archive Deployments using the semantics defined in https://google.aip.dev/160.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.environments.archiveDeployments.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/archiveDeployments",
                  "description": "Lists the ArchiveDeployments in the specified Environment.",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/archiveDeployments"
                },
                "patch": {
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/archiveDeployments/{archiveDeploymentsId}",
                  "id": "apigee.organizations.environments.archiveDeployments.patch",
                  "description": "Updates an existing ArchiveDeployment. Labels can modified but most of the other fields are not modifiable.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ArchiveDeployment"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+/archiveDeployments/[^/]+$",
                      "description": "Name of the Archive Deployment in the following format: `organizations/{org}/environments/{env}/archiveDeployments/{id}`.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Required. The list of fields to be updated.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1ArchiveDeployment"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}"
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Deletes an archive deployment.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/archiveDeployments/{archiveDeploymentsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the Archive Deployment in the following format: `organizations/{org}/environments/{env}/archiveDeployments/{id}`.",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/archiveDeployments/[^/]+$"
                    }
                  },
                  "id": "apigee.organizations.environments.archiveDeployments.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "keystores": {
              "methods": {
                "create": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. Name of the environment in which to create the keystore. Use the following format in your request: `organizations/{org}/environments/{env}`",
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/environments/[^/]+$"
                    },
[...]
