{
  "description": "Use the Apigee API to programmatically develop and manage APIs with a set of RESTful operations. Develop and secure API proxies, deploy and undeploy API proxy revisions, monitor APIs, configure environments, manage users, and more. Note: This product is available as a free trial for a time period of 60 days.",
  "version_module": true,
  "parameters": {
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "canonicalName": "Apigee",
  "name": "apigee",
  "ownerDomain": "google.com",
  "basePath": "",
  "servicePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "revision": "20240318",
  "mtlsRootUrl": "https://apigee.mtls.googleapis.com/",
  "documentationLink": "https://cloud.google.com/apigee-api-management/",
  "discoveryVersion": "v1",
  "version": "v1",
  "schemas": {
    "GoogleCloudApigeeV1ListDeveloperAppsResponse": {
      "type": "object",
      "properties": {
        "app": {
          "description": "List of developer apps and their credentials.",
          "items": {
            "$ref": "GoogleCloudApigeeV1DeveloperApp"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudApigeeV1ListDeveloperAppsResponse"
    },
    "GoogleCloudApigeeV1StatsEnvironmentStats": {
      "description": "Encapsulates the environment wrapper: ``` \"environments\": [ { \"metrics\": [ { \"name\": \"sum(message_count)\", \"values\": [ \"2.52056245E8\" ] } ], \"name\": \"prod\" } ]```",
      "properties": {
        "name": {
          "description": "Name of the environment.",
          "type": "string"
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Metric"
          },
          "description": "In the final response, only one of the following fields will be present based on the dimensions provided. If no dimensions are provided, then only top-level metrics is provided. If dimensions are included, then there will be a top-level dimensions field under environments which will contain metrics values and the dimension name. Example: ``` \"environments\": [ { \"dimensions\": [ { \"metrics\": [ { \"name\": \"sum(message_count)\", \"values\": [ \"2.14049521E8\" ] } ], \"name\": \"nit_proxy\" } ], \"name\": \"prod\" } ]``` or ```\"environments\": [ { \"metrics\": [ { \"name\": \"sum(message_count)\", \"values\": [ \"2.19026331E8\" ] } ], \"name\": \"prod\" } ]``` List of metric values."
        },
        "dimensions": {
          "items": {
            "$ref": "GoogleCloudApigeeV1DimensionMetric"
          },
          "type": "array",
          "description": "List of metrics grouped under dimensions."
        }
      },
      "id": "GoogleCloudApigeeV1StatsEnvironmentStats",
      "type": "object"
    },
    "GoogleCloudApigeeV1Point": {
      "type": "object",
      "id": "GoogleCloudApigeeV1Point",
      "properties": {
        "results": {
          "description": "List of results extracted from a given debug point.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Result"
          }
        },
        "id": {
          "description": "Name of a step in the transaction.",
          "type": "string"
        }
      },
      "description": "Point is a group of information collected by runtime plane at critical points of the message flow of the processed API request. This is a list of supported point IDs, categorized to three major buckets. For each category, debug points that we are currently supporting are listed below: - Flow status debug points: StateChange FlowInfo Condition Execution DebugMask Error - Flow control debug points: FlowCallout Paused Resumed FlowReturn BreakFlow Error - Runtime debug points: ScriptExecutor FlowCalloutStepDefinition CustomTarget StepDefinition Oauth2ServicePoint RaiseFault NodeJS The detail information of the given debug point is stored in a list of results."
    },
    "GoogleCloudApigeeV1RoutingRule": {
      "id": "GoogleCloudApigeeV1RoutingRule",
      "type": "object",
      "properties": {
        "environment": {
          "description": "Name of an environment bound to the environment group in the following format: `organizations/{org}/environments/{env}`. Only one of environment or deployment_group will be set.",
          "type": "string"
        },
        "receiver": {
          "type": "string",
          "description": "The resource name of the proxy revision that is receiving this basepath in the following format: `organizations/{org}/apis/{api}/revisions/{rev}`. This field is omitted from the IngressConfig unless the GetDeployedIngressConfig API is called with view=FULL."
        },
        "updateTime": {
          "description": "The unix timestamp when this rule was updated. This is updated whenever env_group_revision is updated. This field is omitted from the IngressConfig unless the GetDeployedIngressConfig API is called with view=FULL.",
          "format": "google-datetime",
          "type": "string"
        },
        "deploymentGroup": {
          "type": "string",
          "description": "Name of a deployment group in an environment bound to the environment group in the following format: `organizations/{org}/environment/{env}/deploymentGroups/{group}` Only one of environment or deployment_group will be set."
        },
        "envGroupRevision": {
          "description": "The env group config revision_id when this rule was added or last updated. This value is set when the rule is created and will only update if the the environment_id changes. It is used to determine if the runtime is up to date with respect to this rule. This field is omitted from the IngressConfig unless the GetDeployedIngressConfig API is called with view=FULL.",
          "type": "string",
          "format": "int64"
        },
        "basepath": {
          "description": "URI path prefix used to route to the specified environment. May contain one or more wildcards. For example, path segments consisting of a single `*` character will match any string.",
          "type": "string"
        },
        "otherTargets": {
          "description": "Conflicting targets, which will be resource names specifying either deployment groups or environments.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudApigeeV1ListApiProxiesResponse": {
      "type": "object",
      "description": "To change this message, in the same CL add a change log in go/changing-api-proto-breaks-ui",
      "id": "GoogleCloudApigeeV1ListApiProxiesResponse",
      "properties": {
        "proxies": {
          "items": {
            "$ref": "GoogleCloudApigeeV1ApiProxy"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudApigeeV1ListDebugSessionsResponse": {
      "id": "GoogleCloudApigeeV1ListDebugSessionsResponse",
      "type": "object",
      "properties": {
        "sessions": {
          "description": "Session info that includes debug session ID and the first transaction creation timestamp.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Session"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token that you can include in a ListDebugSessionsRequest to retrieve the next page. If omitted, no subsequent pages exist."
        }
      }
    },
    "GoogleCloudApigeeV1ListSecurityActionsResponse": {
      "properties": {
        "securityActions": {
          "type": "array",
          "description": "The SecurityActions for the specified environment.",
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityAction"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleCloudApigeeV1ListSecurityActionsResponse",
      "description": "Contains a list of SecurityActions in response to a ListSecurityActionRequest.",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListCustomReportsResponse": {
      "id": "GoogleCloudApigeeV1ListCustomReportsResponse",
      "type": "object",
      "properties": {
        "qualifier": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1CustomReport"
          }
        }
      },
      "description": "This message encapsulates a list of custom report definitions"
    },
    "GoogleCloudApigeeV1ApiDocDocumentationResponse": {
      "properties": {
        "message": {
          "description": "Output only. Description of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestId": {
          "type": "string",
          "description": "Output only. Unique ID of the request.",
          "readOnly": true
        },
        "errorCode": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Unique error code for the request, if any."
        },
        "status": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Status of the operation."
        },
        "data": {
          "$ref": "GoogleCloudApigeeV1ApiDocDocumentation",
          "description": "Output only. The documentation resource.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "The catalog item documentation wrapped with response status, error_code, etc.",
      "id": "GoogleCloudApigeeV1ApiDocDocumentationResponse"
    },
    "GoogleCloudApigeeV1AccessLoggingConfig": {
      "properties": {
        "filter": {
          "type": "string",
          "description": "Optional. Ship the access log entries that match the status_code defined in the filter. The status_code is the only expected/supported filter field. (Ex: status_code) The filter will parse it to the Common Expression Language semantics for expression evaluation to build the filter condition. (Ex: \"filter\": status_code \u003e= 200 && status_code \u003c 300 )"
        },
        "enabled": {
          "type": "boolean",
          "description": "Optional. Boolean flag that specifies whether the customer access log feature is enabled."
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1AccessLoggingConfig",
      "description": "Access logging configuration enables customers to ship the access logs from the tenant projects to their own project's cloud logging. The feature is at the instance level ad disabled by default. It can be enabled during CreateInstance or UpdateInstance."
    },
    "GoogleCloudApigeeV1CommonNameConfig": {
      "id": "GoogleCloudApigeeV1CommonNameConfig",
      "type": "object",
      "properties": {
        "matchWildCards": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1ApiProxy": {
      "id": "GoogleCloudApigeeV1ApiProxy",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Name of the API proxy.",
          "type": "string"
        },
        "readOnly": {
          "readOnly": true,
          "description": "Output only. Whether this proxy is read-only. A read-only proxy cannot have new revisions created through calls to CreateApiProxyRevision. A proxy is read-only if it was generated by an archive.",
          "type": "boolean"
        },
        "metaData": {
          "description": "Output only. Metadata describing the API proxy.",
          "$ref": "GoogleCloudApigeeV1EntityMetadata",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "User labels applied to this API Proxy."
        },
        "revision": {
          "description": "Output only. List of revisions defined for the API proxy.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "apiProxyType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the API proxy.",
          "enumDescriptions": [
            "API proxy type not specified.",
            "Programmable API Proxies enable you to develop APIs with highly flexible behavior using bundled policy configuration and one or more programming languages to describe complex sequential and/or conditional flows of logic.",
            "Configurable API Proxies enable you to develop efficient APIs using simple configuration while complex execution control flow logic is handled by Apigee. This type only works with the ARCHIVE deployment type and cannot be combined with the PROXY deployment type."
          ],
          "enum": [
            "API_PROXY_TYPE_UNSPECIFIED",
            "PROGRAMMABLE",
            "CONFIGURABLE"
          ]
        },
        "latestRevisionId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The id of the most recently created revision for this api proxy."
        }
      },
      "description": "Metadata describing the API proxy",
      "type": "object"
    },
    "GoogleCloudApigeeV1DeploymentGroupConfig": {
      "type": "object",
      "id": "GoogleCloudApigeeV1DeploymentGroupConfig",
      "properties": {
        "name": {
          "description": "Name of the deployment group in the following format: `organizations/{org}/environments/{env}/deploymentGroups/{group}`.",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "Unique ID. The ID will only change if the deployment group is deleted and recreated."
        },
        "revisionId": {
          "format": "int64",
          "description": "Revision number which can be used by the runtime to detect if the deployment group has changed between two versions.",
          "type": "string"
        },
        "deploymentGroupType": {
          "enumDescriptions": [
            "Unspecified type",
            "Standard type",
            "Extensible Type"
          ],
          "type": "string",
          "description": "Type of the deployment group, which will be either Standard or Extensible.",
          "enum": [
            "DEPLOYMENT_GROUP_TYPE_UNSPECIFIED",
            "STANDARD",
            "EXTENSIBLE"
          ]
        }
      },
      "description": "DeploymentGroupConfig represents a deployment group that should be present in a particular environment."
    },
    "GoogleCloudApigeeV1ExportRequest": {
      "id": "GoogleCloudApigeeV1ExportRequest",
      "description": "Request body for [CreateExportRequest]",
      "type": "object",
      "properties": {
        "datastoreName": {
          "description": "Required. Name of the preconfigured datastore.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Display name of the export job."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the export job."
        },
        "outputFormat": {
          "type": "string",
          "description": "Optional. Output format of the export. Valid values include: `csv` or `json`. Defaults to `json`. Note: Configure the delimiter for CSV output using the `csvDelimiter` property."
        },
        "dateRange": {
          "$ref": "GoogleCloudApigeeV1DateRange",
          "description": "Required. Date range of the data to export."
        },
        "csvDelimiter": {
          "type": "string",
          "description": "Optional. Delimiter used in the CSV file, if `outputFormat` is set to `csv`. Defaults to the `,` (comma) character. Supported delimiter characters include comma (`,`), pipe (`|`), and tab (`\\t`)."
        }
      }
    },
    "GoogleCloudApigeeV1GrpcOperationConfig": {
      "description": "Binds the resources in a proxy or remote service with the gRPC operation and its associated quota enforcement.",
      "type": "object",
      "id": "GoogleCloudApigeeV1GrpcOperationConfig",
      "properties": {
        "methods": {
          "description": "List of unqualified gRPC method names for the proxy to which quota will be applied. If this field is empty, the Quota will apply to all operations on the gRPC service defined on the proxy. Example: Given a proxy that is configured to serve com.petstore.PetService, the methods com.petstore.PetService.ListPets and com.petstore.PetService.GetPet would be specified here as simply [\"ListPets\", \"GetPet\"].",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "attributes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "description": "Custom attributes associated with the operation."
        },
        "service": {
          "type": "string",
          "description": "Required. gRPC Service name associated to be associated with the API proxy, on which quota rules can be applied upon."
        },
        "apiSource": {
          "description": "Required. Name of the API proxy with which the gRPC operation and quota are associated.",
          "type": "string"
        },
        "quota": {
          "description": "Quota parameters to be enforced for the methods and API source combination. If none are specified, quota enforcement will not be done.",
          "$ref": "GoogleCloudApigeeV1Quota"
        }
      }
    },
    "GoogleCloudApigeeV1MonetizationConfig": {
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Flag that specifies whether the Monetization add-on is enabled.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudApigeeV1MonetizationConfig",
      "description": "Configuration for the Monetization add-on."
    },
    "GoogleCloudApigeeV1BatchUpdateSecurityIncidentsResponse": {
      "properties": {
        "securityIncidents": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityIncident"
          },
          "description": "Output only. Updated security incidents",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1BatchUpdateSecurityIncidentsResponse",
      "description": "Response for BatchUpdateSecurityIncident."
    },
    "GoogleCloudApigeeV1Score": {
      "type": "object",
      "id": "GoogleCloudApigeeV1Score",
      "description": "Represents Security Score.",
      "properties": {
        "timeRange": {
          "$ref": "GoogleTypeInterval",
          "description": "Start and end time for the score."
        },
        "component": {
          "$ref": "GoogleCloudApigeeV1ScoreComponent",
          "description": "Component containing score, recommendations and actions."
        },
        "subcomponents": {
          "type": "array",
          "description": "List of all the drilldown score components.",
          "items": {
            "$ref": "GoogleCloudApigeeV1ScoreComponent"
          }
        }
      }
    },
    "GoogleCloudApigeeV1ListInstanceAttachmentsResponse": {
      "description": "Response for ListInstanceAttachments.",
      "id": "GoogleCloudApigeeV1ListInstanceAttachmentsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Page token that you can include in a ListInstanceAttachments request to retrieve the next page of content. If omitted, no subsequent pages exist."
        },
        "attachments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1InstanceAttachment"
          },
          "description": "Attachments for the instance."
        }
      }
    },
    "GoogleCloudApigeeV1SyncAuthorization": {
      "properties": {
        "identities": {
          "type": "array",
          "description": "Required. Array of service accounts to grant access to control plane resources, each specified using the following format: `serviceAccount:` service-account-name. The service-account-name is formatted like an email address. For example: `my-synchronizer-manager-service_account@my_project_id.iam.gserviceaccount.com` You might specify multiple service accounts, for example, if you have multiple environments and wish to assign a unique service account to each one. The service accounts must have **Apigee Synchronizer Manager** role. See also [Create service accounts](https://cloud.google.com/apigee/docs/hybrid/latest/sa-about#create-the-service-accounts).",
          "items": {
            "type": "string"
          }
        },
        "etag": {
          "description": "Entity tag (ETag) used for optimistic concurrency control as a way to help prevent simultaneous updates from overwriting each other. For example, when you call [getSyncAuthorization](organizations/getSyncAuthorization) an ETag is returned in the response. Pass that ETag when calling the [setSyncAuthorization](organizations/setSyncAuthorization) to ensure that you are updating the correct version. If you don't pass the ETag in the call to `setSyncAuthorization`, then the existing authorization is overwritten indiscriminately. **Note**: We strongly recommend that you use the ETag in the read-modify-write cycle to avoid race conditions.",
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1SyncAuthorization"
    },
    "GoogleCloudApigeeV1NatAddress": {
      "description": "Apigee NAT(network address translation) address. A NAT address is a static external IP address used for Internet egress traffic.",
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "RESERVED",
            "ACTIVE",
            "DELETING"
          ],
          "description": "Output only. State of the nat address.",
          "enumDescriptions": [
            "The resource is in an unspecified state.",
            "The NAT address is being created.",
            "The NAT address is reserved but not yet used for Internet egress.",
            "The NAT address is active and used for Internet egress.",
            "The NAT address is being deleted."
          ],
          "type": "string",
          "readOnly": true
        },
        "ipAddress": {
          "description": "Output only. The static IPV4 address.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Resource ID of the NAT address."
        }
      },
      "id": "GoogleCloudApigeeV1NatAddress"
    },
    "GoogleCloudApigeeV1ResourceFile": {
      "type": "object",
      "id": "GoogleCloudApigeeV1ResourceFile",
      "description": "Metadata about a resource file.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Resource file type. {{ resource_file_type }}"
        },
        "name": {
          "type": "string",
          "description": "ID of the resource file."
        }
      }
    },
    "GoogleCloudApigeeV1SecurityActionDeny": {
      "id": "GoogleCloudApigeeV1SecurityActionDeny",
      "properties": {
        "responseCode": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The HTTP response code if the Action = DENY."
        }
      },
      "type": "object",
      "description": "Message that should be set in case of a Deny Action."
    },
    "GoogleCloudApigeeV1ListNatAddressesResponse": {
      "id": "GoogleCloudApigeeV1ListNatAddressesResponse",
      "description": "Response for ListNatAddresses.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Page token that you can include in a ListNatAddresses request to retrieve the next page of content. If omitted, no subsequent pages exist."
        },
        "natAddresses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1NatAddress"
          },
          "description": "List of NAT Addresses for the instance."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1DatastoreConfig": {
      "id": "GoogleCloudApigeeV1DatastoreConfig",
      "properties": {
        "bucketName": {
          "type": "string",
          "description": "Name of the Cloud Storage bucket. Required for `gcs` target_type."
        },
        "projectId": {
          "type": "string",
          "description": "Required. GCP project in which the datastore exists"
        },
        "tablePrefix": {
          "type": "string",
          "description": "Prefix of BigQuery table Required for `bigquery` target_type."
        },
        "path": {
          "type": "string",
          "description": "Path of Cloud Storage bucket Required for `gcs` target_type."
        },
        "datasetName": {
          "description": "BigQuery dataset name Required for `bigquery` target_type.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Configuration detail for datastore"
    },
    "GoogleCloudApigeeV1DebugSession": {
      "type": "object",
      "properties": {
        "timeout": {
          "format": "int64",
          "description": "Optional. The time in seconds after which this DebugSession should end. This value will override the value in query param, if both are provided.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The first transaction creation timestamp, recorded by UAP.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "count": {
          "description": "Optional. The number of request to be traced. Min = 1, Max = 15, Default = 10.",
          "format": "int32",
          "type": "integer"
        },
        "filter": {
          "type": "string",
          "description": "Optional. A conditional statement which is evaluated against the request message to determine if it should be traced. Syntax matches that of on API Proxy bundle flow Condition."
        },
        "validity": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The length of time, in seconds, that this debug session is valid, starting from when it's received in the control plane. Min = 1, Max = 15, Default = 10."
        },
        "tracesize": {
          "type": "integer",
          "description": "Optional. The maximum number of bytes captured from the response payload. Min = 0, Max = 5120, Default = 5120.",
          "format": "int32"
        },
        "name": {
          "description": "A unique ID for this DebugSession.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1DebugSession"
    },
    "GoogleCloudApigeeV1Environment": {
      "type": "object",
      "id": "GoogleCloudApigeeV1Environment",
      "properties": {
        "apiProxyType": {
          "type": "string",
          "description": "Optional. API Proxy type supported by the environment. The type can be set when creating the Environment and cannot be changed.",
          "enumDescriptions": [
            "API proxy type not specified.",
            "Programmable API Proxies enable you to develop APIs with highly flexible behavior using bundled policy configuration and one or more programming languages to describe complex sequential and/or conditional flows of logic.",
            "Configurable API Proxies enable you to develop efficient APIs using simple configuration while complex execution control flow logic is handled by Apigee. This type only works with the ARCHIVE deployment type and cannot be combined with the PROXY deployment type."
          ],
          "enum": [
            "API_PROXY_TYPE_UNSPECIFIED",
            "PROGRAMMABLE",
            "CONFIGURABLE"
          ]
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the environment. Values must match the regular expression `^[.\\\\p{Alnum}-_]{1,255}$`"
        },
        "deploymentType": {
          "type": "string",
          "enumDescriptions": [
            "Deployment type not specified.",
            "Proxy deployment enables you to develop and deploy API proxies using Apigee on Google Cloud. This cannot currently be combined with the CONFIGURABLE API proxy type.",
            "Archive deployment enables you to develop API proxies locally then deploy an archive of your API proxy configuration to an environment in Apigee on Google Cloud. You will be prevented from performing a [subset of actions](/apigee/docs/api-platform/local-development/overview#prevented-actions) within the environment."
          ],
          "enum": [
            "DEPLOYMENT_TYPE_UNSPECIFIED",
            "PROXY",
            "ARCHIVE"
          ],
          "description": "Optional. Deployment type supported by the environment. The deployment type can be set when creating the environment and cannot be changed. When you enable archive deployment, you will be **prevented from performing** a [subset of actions](/apigee/docs/api-platform/local-development/overview#prevented-actions) within the environment, including: * Managing the deployment of API proxy or shared flow revisions * Creating, updating, or deleting resource files * Creating, updating, or deleting target servers"
        },
        "properties": {
          "description": "Optional. Key-value pairs that may be used for customizing the environment.",
          "$ref": "GoogleCloudApigeeV1Properties"
        },
        "forwardProxyUri": {
          "type": "string",
          "description": "Optional. URI of the forward proxy to be applied to the runtime instances in this environment. Must be in the format of {scheme}://{hostname}:{port}. Note that the scheme must be one of \"http\" or \"https\", and the port must be supplied. To remove a forward proxy setting, update the field to an empty value. Note: At this time, PUT operations to add forwardProxyUri to an existing environment fail if the environment has nodeConfig set up. To successfully add the forwardProxyUri setting in this case, include the NodeConfig details with the request."
        },
        "hasAttachedFlowHooks": {
          "type": "boolean"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the environment."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Display name for this environment."
        },
        "createdAt": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Creation time of this environment as milliseconds since epoch."
        },
        "lastModifiedAt": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Last modification time of this environment as milliseconds since epoch.",
          "format": "int64"
        },
        "nodeConfig": {
          "description": "Optional. NodeConfig of the environment.",
          "$ref": "GoogleCloudApigeeV1NodeConfig"
        },
        "state": {
          "description": "Output only. State of the environment. Values other than ACTIVE means the resource is not ready to use.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "UPDATING"
          ],
          "enumDescriptions": [
            "Resource is in an unspecified state.",
            "Resource is being created.",
            "Resource is provisioned and ready to use.",
            "The resource is being deleted.",
            "The resource is being updated."
          ],
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "BASE",
            "INTERMEDIATE",
            "COMPREHENSIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Environment type not specified.",
            "This is the default type. Base environment has limited capacity and capabilities and are usually used when you are getting started with Apigee or while experimenting. Refer to Apigee's public documentation for more details.",
            "Intermediate environment supports API management features and higher capacity than Base environment. Refer to Apigee's public documentation for more details.",
            "Comprehensive environment supports advanced capabilites and even higher capacity than Intermediate environment. Refer to Apigee's public documentation for more details."
          ],
          "description": "Optional. EnvironmentType selected for the environment."
        }
      }
    },
    "GoogleCloudApigeeV1OASDocumentation": {
      "properties": {
        "format": {
          "readOnly": true,
          "enum": [
            "FORMAT_UNSPECIFIED",
            "YAML",
            "JSON"
          ],
          "type": "string",
          "description": "Output only. The format of the input specification file contents.",
          "enumDescriptions": [
            "The format is not available.",
            "YAML format.",
            "JSON format."
          ]
        },
        "spec": {
          "$ref": "GoogleCloudApigeeV1DocumentationFile",
          "description": "Required. The documentation file contents for the OpenAPI Specification. JSON and YAML file formats are supported."
        }
      },
      "description": "OpenAPI Specification documentation for a catalog item.",
      "id": "GoogleCloudApigeeV1OASDocumentation",
      "type": "object"
    },
    "GoogleCloudApigeeV1TestDatastoreResponse": {
      "id": "GoogleCloudApigeeV1TestDatastoreResponse",
      "description": "The response for TestDatastore",
      "properties": {
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. It could be `completed` or `failed`"
        },
        "error": {
          "description": "Output only. Error message of test connection failure",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1SecurityIncident": {
      "type": "object",
      "id": "GoogleCloudApigeeV1SecurityIncident",
      "properties": {
        "observability": {
          "enum": [
            "OBSERVABILITY_UNSPECIFIED",
            "ACTIVE",
            "ARCHIVED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The incident observability is unspecified.",
            "The incident is currently active. Can change to this status from archived.",
            "The incident is currently archived and was archived by the customer."
          ],
          "description": "Optional. Indicates if the user archived this incident."
        },
        "riskLevel": {
          "enum": [
            "RISK_LEVEL_UNSPECIFIED",
            "LOW",
            "MODERATE",
            "SEVERE"
          ],
          "type": "string",
          "description": "Output only. Risk level of the incident.",
          "enumDescriptions": [
            "Risk Level Unspecified.",
            "Risk level of the incident is low.",
            "Risk level of the incident is moderate.",
            "Risk level of the incident is severe."
          ],
          "readOnly": true
        },
        "name": {
          "description": "Immutable. Name of the security incident resource. Format: organizations/{org}/environments/{environment}/securityIncidents/{incident} Example: organizations/apigee-org/environments/dev/securityIncidents/1234-5678-9101-1111",
          "type": "string"
        },
        "lastDetectedTime": {
          "description": "Output only. The time when events associated with the incident were last detected.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "lastObservabilityChangeTime": {
          "description": "Output only. The time when the incident observability was last changed.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "detectionTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Detection types which are part of the incident. Examples: Flooder, OAuth Abuser, Static Content Scraper, Anomaly Detection."
        },
        "displayName": {
          "description": "Optional. Display name of the security incident.",
          "type": "string"
        },
        "firstDetectedTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when events associated with the incident were first detected.",
          "type": "string"
        },
        "trafficCount": {
          "type": "string",
          "description": "Total traffic detected as part of the incident.",
          "format": "int64"
        }
      },
      "description": "Represents an SecurityIncident resource."
    },
    "GoogleCloudApigeeV1SecurityReport": {
      "description": "SecurityReport saves all the information about the created security report.",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display Name specified by the user."
        },
        "executionTime": {
          "type": "string",
          "description": "ExecutionTime is available only after the query is completed."
        },
        "result": {
          "description": "Result is available only after the query is completed.",
          "$ref": "GoogleCloudApigeeV1SecurityReportResultMetadata"
        },
        "reportDefinitionId": {
          "type": "string",
          "description": "Report Definition ID."
        },
        "resultFileSize": {
          "type": "string",
          "description": "ResultFileSize is available only after the query is completed."
        },
        "queryParams": {
          "description": "Contains information like metrics, dimenstions etc of the Security Report.",
          "$ref": "GoogleCloudApigeeV1SecurityReportMetadata"
        },
        "state": {
          "type": "string",
          "description": "Query state could be \"enqueued\", \"running\", \"completed\", \"expired\" and \"failed\"."
        },
        "updated": {
          "description": "Output only. Last updated timestamp for the query.",
          "readOnly": true,
          "type": "string"
        },
        "error": {
          "type": "string",
          "description": "Error is set when query fails."
        },
        "resultRows": {
          "format": "int64",
          "description": "ResultRows is available only after the query is completed.",
          "type": "string"
        },
        "created": {
          "type": "string",
          "description": "Creation time of the query."
        },
        "envgroupHostname": {
          "type": "string",
          "description": "Hostname is available only when query is executed at host level."
        },
        "self": {
          "description": "Self link of the query. Example: `/organizations/myorg/environments/myenv/securityReports/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd` or following format if query is running at host level: `/organizations/myorg/hostSecurityReports/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd`",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1SecurityReport"
    },
    "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment": {
      "type": "object",
      "description": "Tuple representing a base path and the deployment containing it.",
      "id": "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment",
      "properties": {
        "revision": {
          "type": "string",
          "description": "Name of the deployed API proxy revision containing the base path."
        },
        "apiProxy": {
          "type": "string",
          "description": "Name of the deployed API proxy revision containing the base path."
        },
        "basepath": {
          "type": "string",
          "description": "Base path receiving traffic."
        },
        "environment": {
          "type": "string",
          "description": "Name of the environment in which the proxy is deployed."
        }
      }
    },
    "GoogleTypeInterval": {
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
        },
        "startTime": {
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "type": "object",
      "id": "GoogleTypeInterval"
    },
    "GoogleIamV1Policy": {
      "type": "object",
      "id": "GoogleIamV1Policy",
      "properties": {
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "auditConfigs": {
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array"
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "GoogleCloudApigeeV1DeveloperBalance": {
      "description": "Account balance for the developer.",
      "properties": {
        "wallets": {
          "items": {
            "$ref": "GoogleCloudApigeeV1DeveloperBalanceWallet"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. List of all wallets. Each individual wallet stores the account balance for a particular currency."
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1DeveloperBalance"
    },
    "GoogleCloudApigeeV1TargetServer": {
      "id": "GoogleCloudApigeeV1TargetServer",
      "properties": {
        "port": {
          "description": "Required. The port number this target connects to on the given host. Value must be between 1 and 65535, inclusive.",
          "type": "integer",
          "format": "int32"
        },
        "protocol": {
          "description": "Immutable. The protocol used by this TargetServer.",
          "enumDescriptions": [
            "UNSPECIFIED defaults to HTTP for backwards compatibility.",
            "The TargetServer uses HTTP.",
            "The TargetSever uses HTTP2.",
            "The TargetServer uses GRPC.",
            "GRPC TargetServer to be used in ExternalCallout Policy. Prefer to use EXTERNAL_CALLOUT instead. TODO(b/266125112) deprecate once EXTERNAL _CALLOUT generally available.",
            "The TargetServer is to be used in the ExternalCallout Policy"
          ],
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "HTTP",
            "HTTP2",
            "GRPC_TARGET",
            "GRPC",
            "EXTERNAL_CALLOUT"
          ],
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. A human-readable description of this TargetServer."
        },
        "name": {
          "description": "Required. The resource id of this target server. Values must match the regular expression ",
          "type": "string"
        },
        "host": {
          "description": "Required. The host name this target connects to. Value must be a valid hostname as described by RFC-1123.",
          "type": "string"
        },
        "sSLInfo": {
          "$ref": "GoogleCloudApigeeV1TlsInfo",
          "description": "Optional. Specifies TLS configuration info for this TargetServer. The JSON name is `sSLInfo` for legacy/backwards compatibility reasons -- Edge originally supported SSL, and the name is still used for TLS configuration."
        },
        "isEnabled": {
          "type": "boolean",
          "description": "Optional. Enabling/disabling a TargetServer is useful when TargetServers are used in load balancing configurations, and one or more TargetServers need to taken out of rotation periodically. Defaults to true."
        }
      },
      "type": "object",
      "description": "TargetServer configuration. TargetServers are used to decouple a proxy TargetEndpoint HTTPTargetConnections from concrete URLs for backend services."
    },
    "GoogleCloudApigeeV1SecurityProfileEnvironmentAssociation": {
      "properties": {
        "attachTime": {
          "readOnly": true,
          "description": "Output only. The time when environment was attached to the security profile.",
          "type": "string",
          "format": "google-datetime"
        },
        "securityProfileRevisionId": {
          "type": "string",
          "deprecated": true,
          "format": "int64",
          "description": "DEPRECATED: DO NOT USE Revision ID of the security profile."
        },
        "name": {
          "type": "string",
          "description": "Immutable. Name of the environment that the profile is attached to."
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1SecurityProfileEnvironmentAssociation",
      "description": "Represents a SecurityProfileEnvironmentAssociation resource."
    },
    "GoogleCloudApigeeV1CertInfo": {
      "properties": {
        "version": {
          "description": "X.509 version.",
          "type": "integer",
          "format": "int32"
        },
        "expiryDate": {
          "format": "int64",
          "description": "X.509 `notAfter` validity period in milliseconds since epoch.",
          "type": "string"
        },
        "sigAlgName": {
          "description": "X.509 signatureAlgorithm.",
          "type": "string"
        },
        "isValid": {
          "type": "string",
          "description": "Flag that specifies whether the certificate is valid. Flag is set to `Yes` if the certificate is valid, `No` if expired, or `Not yet` if not yet valid."
        },
        "serialNumber": {
          "description": "X.509 serial number.",
          "type": "string"
        },
        "subjectAlternativeNames": {
          "description": "X.509 subject alternative names (SANs) extension.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "issuer": {
          "type": "string",
          "description": "X.509 issuer."
        },
        "publicKey": {
          "description": "Public key component of the X.509 subject public key info.",
          "type": "string"
        },
        "subject": {
          "type": "string",
          "description": "X.509 subject."
        },
        "validFrom": {
          "format": "int64",
          "description": "X.509 `notBefore` validity period in milliseconds since epoch.",
          "type": "string"
        },
        "basicConstraints": {
          "type": "string",
          "description": "X.509 basic constraints extension."
        }
      },
      "id": "GoogleCloudApigeeV1CertInfo",
      "description": "X.509 certificate as defined in RFC 5280.",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListSecurityProfileRevisionsResponse": {
      "type": "object",
      "description": "Response for ListSecurityProfileRevisions.",
      "id": "GoogleCloudApigeeV1ListSecurityProfileRevisionsResponse",
      "properties": {
        "securityProfiles": {
          "description": "List of security profile revisions. The revisions may be attached or unattached to any environment.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityProfile"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleCloudApigeeV1ProfileConfigMTLS": {
      "properties": {},
      "description": "Checks to see if you have configured mTLS for the target server.",
      "type": "object",
      "id": "GoogleCloudApigeeV1ProfileConfigMTLS"
    },
    "GoogleCloudApigeeV1Credential": {
      "id": "GoogleCloudApigeeV1Credential",
      "type": "object",
      "properties": {
        "expiresAt": {
          "format": "int64",
          "description": "Time the credential will expire in milliseconds since epoch.",
          "type": "string"
        },
        "attributes": {
          "description": "List of attributes associated with this credential.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "type": "array"
        },
        "scopes": {
          "description": "List of scopes to apply to the app. Specified scopes must already exist on the API product that you associate with the app.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "consumerKey": {
          "type": "string",
          "description": "Consumer key."
        },
        "apiProducts": {
          "description": "List of API products this credential can be used for.",
          "items": {
            "$ref": "GoogleCloudApigeeV1ApiProductRef"
          },
          "type": "array"
        },
        "status": {
          "type": "string",
          "description": "Status of the credential. Valid values include `approved` or `revoked`."
        },
        "issuedAt": {
          "type": "string",
          "description": "Time the credential was issued in milliseconds since epoch.",
          "format": "int64"
        },
        "consumerSecret": {
          "description": "Secret key.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1ResourceConfig": {
      "id": "GoogleCloudApigeeV1ResourceConfig",
      "type": "object",
      "properties": {
        "location": {
          "description": "Location of the resource as a URI.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name in the following format: `organizations/{org}/environments/{env}/resourcefiles/{type}/{file}/revisions/{rev}` Only environment-scoped resource files are supported."
        }
      }
    },
    "GoogleCloudApigeeV1IntegrationConfig": {
      "type": "object",
      "description": "Configuration for the Integration add-on.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Flag that specifies whether the Integration add-on is enabled."
        }
      },
      "id": "GoogleCloudApigeeV1IntegrationConfig"
    },
    "GoogleCloudApigeeV1ApiDoc": {
      "type": "object",
      "properties": {
        "specId": {
          "type": "string",
          "description": "Optional. DEPRECATED: DO NOT USE",
          "deprecated": true
        },
        "graphqlSchema": {
          "type": "string",
          "description": "Optional. DEPRECATED: manage documentation through the `getDocumentation` and `updateDocumentation` methods",
          "deprecated": true
        },
        "imageUrl": {
          "description": "Optional. Location of the image used for the catalog item in the catalog. For portal files, this can have the format `/files/{filename}`. Max length is 2,083 characters.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the catalog item. Max length is 10,000 characters.",
          "type": "string"
        },
        "siteId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the parent portal."
        },
        "visibility": {
          "description": "Optional. DEPRECATED: use the `published` field instead",
          "type": "boolean"
        },
        "requireCallbackUrl": {
          "description": "Optional. Whether a callback URL is required when this catalog item's API product is enabled in a developer app. When true, a portal user will be required to input a URL when managing the app (this is typically used for the app's OAuth flow).",
          "type": "boolean"
        },
        "title": {
          "description": "Required. The user-facing name of the catalog item. `title` must be a non-empty string with a max length of 255 characters.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The ID of the catalog item.",
          "readOnly": true
        },
        "graphqlEndpointUrl": {
          "type": "string",
          "deprecated": true,
          "description": "Optional. DEPRECATED: manage documentation through the `getDocumentation` and `updateDocumentation` methods"
        },
        "anonAllowed": {
          "description": "Optional. Boolean flag that manages user access to the catalog item. When true, the catalog item has public visibility and can be viewed anonymously; otherwise, only registered users may view it. Note: when the parent portal is enrolled in the [audience management feature](https://cloud.google.com/apigee/docs/api-platform/publish/portal/portal-audience#enrolling_in_the_beta_release_of_the_audience_management_feature), and this flag is set to false, visibility is set to an indeterminate state and must be explicitly specified in the management UI (see [Manage the visibility of an API in your portal](https://cloud.google.com/apigee/docs/api-platform/publish/portal/publish-apis#visibility)). Additionally, when enrolled in the audience management feature, updates to this flag will be ignored as visibility permissions must be updated in the management UI.",
          "type": "boolean"
        },
        "graphqlSchemaDisplayName": {
          "type": "string",
          "deprecated": true,
          "description": "Optional. DEPRECATED: manage documentation through the `getDocumentation` and `updateDocumentation` methods"
        },
        "modified": {
          "format": "int64",
          "description": "Output only. Time the catalog item was last modified in milliseconds since epoch.",
          "readOnly": true,
          "type": "string"
        },
        "categoryIds": {
          "description": "Optional. The IDs of the API categories to which this catalog item belongs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "edgeAPIProductName": {
          "description": "Optional. Immutable. DEPRECATED: use the `apiProductName` field instead",
          "type": "string"
        },
        "published": {
          "description": "Optional. Denotes whether the catalog item is published to the portal or is in a draft state. When the parent portal is enrolled in the [audience management feature](https://cloud.google.com/apigee/docs/api-platform/publish/portal/portal-audience#enrolling_in_the_beta_release_of_the_audience_management_feature), the visibility can be set to public on creation by setting the anonAllowed flag to true or further managed in the management UI (see [Manage the visibility of an API in your portal](https://cloud.google.com/apigee/docs/api-platform/publish/portal/publish-apis#visibility)) before it can be visible to any users. If not enrolled in the audience management feature, the visibility is managed by the `anonAllowed` flag.",
          "type": "boolean"
        },
        "apiProductName": {
          "type": "string",
          "description": "Required. Immutable. The `name` field of the associated [API product](/apigee/docs/reference/apis/apigee/rest/v1/organizations.apiproducts). A portal may have only one catalog item associated with a given API product."
        }
      },
      "id": "GoogleCloudApigeeV1ApiDoc",
      "description": "`ApiDoc` represents an API catalog item. Catalog items are used in two ways in a portal: - Users can browse and interact with a visual representation of the API documentation - The `api_product_name` field provides a link to a backing [API product] (/apigee/docs/reference/apis/apigee/rest/v1/organizations.apiproducts). Through this link, portal users can create and manage developer apps linked to one or more API products."
    },
    "GoogleCloudApigeeV1GraphQLOperation": {
      "properties": {
        "operation": {
          "type": "string",
          "description": "GraphQL operation name. The name and operation type will be used to apply quotas. If no name is specified, the quota will be applied to all GraphQL operations irrespective of their operation names in the payload."
        },
        "operationTypes": {
          "description": "Required. GraphQL operation types. Valid values include `query` or `mutation`. **Note**: Apigee does not currently support `subscription` types.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Represents the pairing of GraphQL operation types and the GraphQL operation name.",
      "type": "object",
      "id": "GoogleCloudApigeeV1GraphQLOperation"
    },
    "GoogleCloudApigeeV1ListKeyValueEntriesResponse": {
      "description": "The request structure for listing key value map keys and its corresponding values.",
      "type": "object",
      "properties": {
        "keyValueEntries": {
          "items": {
            "$ref": "GoogleCloudApigeeV1KeyValueEntry"
          },
          "type": "array",
          "description": "One or more key value map keys and values."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `next_page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleCloudApigeeV1ListKeyValueEntriesResponse"
    },
    "GoogleCloudApigeeV1DebugSessionTransaction": {
      "id": "GoogleCloudApigeeV1DebugSessionTransaction",
      "description": "A transaction contains all of the debug information of the entire message flow of an API call processed by the runtime plane. The information is collected and recorded at critical points of the message flow in the runtime apiproxy.",
      "type": "object",
      "properties": {
        "completed": {
          "description": "Flag indicating whether a transaction is completed or not",
          "type": "boolean"
        },
        "point": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Point"
          },
          "description": "List of debug data collected by runtime plane at various defined points in the flow.",
          "type": "array"
        }
      }
    },
    "GoogleCloudApigeeV1DateRange": {
      "id": "GoogleCloudApigeeV1DateRange",
      "description": "Date range of the data to export.",
      "type": "object",
      "properties": {
        "end": {
          "type": "string",
          "description": "Required. End date (exclusive) of the data to export in the format `yyyy-mm-dd`. The date range ends at 00:00:00 UTC on the end date- which will not be in the output."
        },
        "start": {
          "type": "string",
          "description": "Required. Start date of the data to export in the format `yyyy-mm-dd`. The date range begins at 00:00:00 UTC on the start date."
        }
      }
    },
    "GoogleCloudApigeeV1DeveloperSubscription": {
      "type": "object",
      "id": "GoogleCloudApigeeV1DeveloperSubscription",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "Time when the API product subscription ends in milliseconds since epoch.",
          "format": "int64"
        },
        "name": {
          "description": "Output only. Name of the API product subscription.",
          "type": "string",
          "readOnly": true
        },
        "apiproduct": {
          "description": "Name of the API product for which the developer is purchasing a subscription.",
          "type": "string"
        },
        "lastModifiedAt": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when the API product subscription was last modified in milliseconds since epoch."
        },
        "createdAt": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Time when the API product subscription was created in milliseconds since epoch."
        },
        "startTime": {
          "type": "string",
          "description": "Time when the API product subscription starts in milliseconds since epoch.",
          "format": "int64"
        }
      },
      "description": "Structure of a DeveloperSubscription."
    },
    "GoogleCloudApigeeV1OperationMetadataProgress": {
      "id": "GoogleCloudApigeeV1OperationMetadataProgress",
      "type": "object",
      "description": "Information about operation progress.",
      "properties": {
        "percentDone": {
          "type": "integer",
          "format": "int32",
          "description": "The percentage of the operation progress."
        },
        "details": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The additional details of the progress.",
          "type": "object"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "FINISHED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "State of the operation."
        },
        "description": {
          "description": "Description of the operation's progress.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1Metric": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Metric name."
        },
        "values": {
          "description": "List of metric values. Possible value formats include: `\"values\":[\"39.0\"]` or `\"values\":[ { \"value\": \"39.0\", \"timestamp\": 1232434354} ]`",
          "type": "array",
          "items": {
            "type": "any"
          }
        }
      },
      "type": "object",
      "description": "Encapsulates the metric data point. For example: ```{ \"name\": \"sum(message_count)\", \"values\" : [ { \"timestamp\": 1549004400000, \"value\": \"39.0\" }, { \"timestamp\" : 1548997200000, \"value\" : \"0.0\" } ] }``` or ```{ \"name\": \"sum(message_count)\", \"values\" : [\"39.0\"] }```",
      "id": "GoogleCloudApigeeV1Metric"
    },
    "GoogleCloudApigeeV1App": {
      "type": "object",
      "id": "GoogleCloudApigeeV1App",
      "properties": {
        "developerId": {
          "type": "string",
          "description": "ID of the developer."
        },
        "companyName": {
          "type": "string",
          "description": "Name of the company that owns the app."
        },
        "keyExpiresIn": {
          "description": "Duration, in milliseconds, of the consumer key that will be generated for the app. The default value, -1, indicates an infinite validity period. Once set, the expiration can't be updated. json key: keyExpiresIn",
          "type": "string",
          "format": "int64"
        },
        "appId": {
          "description": "ID of the app.",
          "type": "string"
        },
        "createdAt": {
          "type": "string",
          "description": "Output only. Unix time when the app was created.",
          "readOnly": true,
          "format": "int64"
        },
        "apiProducts": {
          "description": "List of API products associated with the app.",
          "items": {
            "$ref": "GoogleCloudApigeeV1ApiProductRef"
          },
          "type": "array"
        },
        "callbackUrl": {
          "type": "string",
          "description": "Callback URL used by OAuth 2.0 authorization servers to communicate authorization codes back to apps."
        },
        "name": {
          "description": "Name of the app.",
          "type": "string"
        },
        "lastModifiedAt": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Last modified time as milliseconds since epoch.",
          "readOnly": true
        },
        "attributes": {
          "type": "array",
          "description": "List of attributes.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          }
        },
        "status": {
          "description": "Status of the credential.",
          "type": "string"
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Scopes to apply to the app. The specified scope names must already exist on the API product that you associate with the app."
        },
        "appGroup": {
          "description": "Name of the AppGroup",
          "type": "string"
        },
        "developerEmail": {
          "description": "Email of the developer.",
          "type": "string"
        },
        "credentials": {
          "type": "array",
          "description": "Output only. Set of credentials for the app. Credentials are API key/secret pairs associated with API products.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Credential"
          },
          "readOnly": true
        }
      }
    },
    "GoogleCloudApigeeV1SecurityActionHttpHeader": {
      "id": "GoogleCloudApigeeV1SecurityActionHttpHeader",
      "description": "An HTTP header.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The header name to be sent to the target.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The header value to be sent to the target."
        }
      }
    },
    "GoogleCloudApigeeV1RevenueShareRange": {
      "id": "GoogleCloudApigeeV1RevenueShareRange",
      "description": "API call volume range and the percentage of revenue to share with the developer when the total number of API calls is within the range.",
      "type": "object",
      "properties": {
        "start": {
          "type": "string",
          "description": "Starting value of the range. Set to 0 or `null` for the initial range of values.",
          "format": "int64"
        },
        "sharePercentage": {
          "description": "Percentage of the revenue to be shared with the developer. For example, to share 21 percent of the total revenue with the developer, set this value to 21. Specify a decimal number with a maximum of two digits following the decimal point.",
          "format": "double",
          "type": "number"
        },
        "end": {
          "format": "int64",
          "description": "Ending value of the range. Set to 0 or `null` for the last range of values.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1KeyValueMap": {
      "type": "object",
      "id": "GoogleCloudApigeeV1KeyValueMap",
      "properties": {
        "encrypted": {
          "type": "boolean",
          "description": "Required. Flag that specifies whether entry values will be encrypted. This field is retained for backward compatibility and the value of encrypted will always be `true`. Apigee X and hybrid do not support unencrypted key value maps."
        },
        "name": {
          "type": "string",
          "description": "Required. ID of the key value map."
        }
      },
      "description": "Collection of key/value string pairs."
    },
    "GoogleCloudApigeeV1AccessSet": {
      "type": "object",
      "id": "GoogleCloudApigeeV1AccessSet",
      "description": "Set action. For example, \"Set\" : { \"name\" : \"target.name\", \"success\" : true, \"value\" : \"default\" }",
      "properties": {
        "value": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudApigeeV1SecurityReportResultView": {
      "type": "object",
      "id": "GoogleCloudApigeeV1SecurityReportResultView",
      "description": "The response for security report result view APIs.",
      "properties": {
        "rows": {
          "items": {
            "type": "any"
          },
          "description": "Rows of security report result. Each row is a JSON object. Example: {sum(message_count): 1, developer_app: \"(not set)\",…}",
          "type": "array"
        },
        "state": {
          "type": "string",
          "description": "State of retrieving ResultView."
        },
        "error": {
          "type": "string",
          "description": "Error message when there is a failure."
        },
        "code": {
          "description": "Error code when there is a failure.",
          "format": "int32",
          "type": "integer"
        },
        "metadata": {
          "description": "Metadata contains information like metrics, dimenstions etc of the security report.",
          "$ref": "GoogleCloudApigeeV1SecurityReportMetadata"
        }
      }
    },
    "GoogleCloudApigeeV1SecurityActionAllow": {
      "description": "Message that should be set in case of an Allow Action. This does not have any fields.",
      "type": "object",
      "id": "GoogleCloudApigeeV1SecurityActionAllow",
      "properties": {}
    },
    "GoogleCloudApigeeV1GetAsyncQueryResultUrlResponse": {
      "properties": {
        "urls": {
          "description": "The list of Signed URLs generated by the CreateAsyncQuery request",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1GetAsyncQueryResultUrlResponseURLInfo"
          }
        }
      },
      "type": "object",
      "description": "The response for GetAsyncQueryResultUrl",
      "id": "GoogleCloudApigeeV1GetAsyncQueryResultUrlResponse"
    },
    "GoogleCloudApigeeV1DeleteCustomReportResponse": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "The response contains only a message field."
        }
      },
      "id": "GoogleCloudApigeeV1DeleteCustomReportResponse"
    },
    "GoogleCloudApigeeV1ApiSecurityRuntimeConfig": {
      "id": "GoogleCloudApigeeV1ApiSecurityRuntimeConfig",
      "type": "object",
      "description": "Response for GetApiSecurityRuntimeConfig[EnvironmentService.GetApiSecurityRuntimeConfig].",
      "properties": {
        "location": {
          "description": "A list of up to 5 Cloud Storage Blobs that contain SecurityActions.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "Name of the environment API Security Runtime configuration resource. Format: `organizations/{org}/environments/{env}/apiSecurityRuntimeConfig`",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "Unique ID for the API Security Runtime configuration. The ID will only change if the environment is deleted and recreated."
        },
        "revisionId": {
          "format": "int64",
          "description": "Revision ID of the API Security Runtime configuration. The higher the value, the more recently the configuration was deployed.",
          "type": "string"
        },
        "updateTime": {
          "description": "Time that the API Security Runtime configuration was updated.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudApigeeV1EntityMetadata": {
      "description": "Metadata common to many entities in this API.",
      "properties": {
        "lastModifiedAt": {
          "description": "Time at which the API proxy was most recently modified, in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        },
        "createdAt": {
          "format": "int64",
          "type": "string",
          "description": "Time at which the API proxy was created, in milliseconds since epoch."
        },
        "subType": {
          "description": "The type of entity described",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1EntityMetadata"
    },
    "GoogleIamV1AuditLogConfig": {
      "id": "GoogleIamV1AuditLogConfig",
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string",
          "description": "The log type that this config enables."
        },
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array"
        }
      }
    },
    "GoogleCloudApigeeV1CanaryEvaluation": {
      "id": "GoogleCloudApigeeV1CanaryEvaluation",
      "description": "CanaryEvaluation represents the canary analysis between two versions of the runtime that is serving requests.",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Required. Start time for the canary evaluation's analysis.",
          "format": "google-datetime"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Name of the canary evalution.",
          "type": "string"
        },
        "control": {
          "type": "string",
          "description": "Required. The stable version that is serving requests."
        },
        "treatment": {
          "type": "string",
          "description": "Required. The newer version that is serving requests."
        },
        "createTime": {
          "description": "Output only. Create time of the canary evaluation.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "description": "Required. End time for the evaluation's analysis.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED"
          ],
          "type": "string",
          "description": "Output only. The current state of the canary evaluation.",
          "readOnly": true,
          "enumDescriptions": [
            "No state has been specified.",
            "The canary evaluation is still in progress.",
            "The canary evaluation has finished."
          ]
        },
        "metricLabels": {
          "$ref": "GoogleCloudApigeeV1CanaryEvaluationMetricLabels",
          "description": "Required. Labels used to filter the metrics used for a canary evaluation."
        },
        "verdict": {
          "enumDescriptions": [
            "Verdict is not available yet.",
            "No verdict reached.",
            "Evaluation is not good.",
            "Evaluation is good."
          ],
          "readOnly": true,
          "description": "Output only. The resulting verdict of the canary evaluations: NONE, PASS, or FAIL.",
          "enum": [
            "VERDICT_UNSPECIFIED",
            "NONE",
            "FAIL",
            "PASS"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1ProfileConfigCategory": {
      "description": "Advanced API Security provides security profile that scores the following categories.",
      "properties": {
        "threat": {
          "$ref": "GoogleCloudApigeeV1ProfileConfigThreat",
          "description": "Checks to see if you have a threat protection policy in place."
        },
        "mtls": {
          "$ref": "GoogleCloudApigeeV1ProfileConfigMTLS",
          "description": "Checks to see if you have configured mTLS for the target server."
        },
        "mediation": {
          "description": "Checks to see if you have a mediation policy in place.",
          "$ref": "GoogleCloudApigeeV1ProfileConfigMediation"
        },
        "authorization": {
          "$ref": "GoogleCloudApigeeV1ProfileConfigAuthorization",
          "description": "Checks to see if you have an authorization policy in place."
        },
        "abuse": {
          "$ref": "GoogleCloudApigeeV1ProfileConfigAbuse",
          "description": "Checks for abuse, which includes any requests sent to the API for purposes other than what it is intended for, such as high volumes of requests, data scraping, and abuse related to authorization."
        },
        "cors": {
          "$ref": "GoogleCloudApigeeV1ProfileConfigCORS",
          "description": "Checks to see if you have CORS policy in place."
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1ProfileConfigCategory"
    },
    "GoogleCloudApigeeV1DataCollector": {
      "type": "object",
      "description": "Data collector configuration.",
      "id": "GoogleCloudApigeeV1DataCollector",
      "properties": {
        "createdAt": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The time at which the data collector was created in milliseconds since the epoch."
        },
        "name": {
          "description": "ID of the data collector. Must begin with `dc_`.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A description of the data collector."
        },
        "lastModifiedAt": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The time at which the Data Collector was last updated in milliseconds since the epoch.",
          "readOnly": true
        },
        "type": {
          "description": "Immutable. The type of data this data collector will collect.",
          "type": "string",
          "enumDescriptions": [
            "For future compatibility.",
            "For integer values.",
            "For float values.",
            "For string values.",
            "For boolean values.",
            "For datetime values."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "INTEGER",
            "FLOAT",
            "STRING",
            "BOOLEAN",
            "DATETIME"
          ]
        }
      }
    },
    "GoogleCloudApigeeV1Operation": {
      "properties": {
        "resource": {
          "type": "string",
          "description": "Required. REST resource path associated with the API proxy or remote service."
        },
        "methods": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "methods refers to the REST verbs as in https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html. When none specified, all verb types are allowed."
        }
      },
      "id": "GoogleCloudApigeeV1Operation",
      "type": "object",
      "description": "Represents the pairing of REST resource path and the actions (verbs) allowed on the resource path."
    },
    "GoogleCloudApigeeV1SetAddonEnablementRequest": {
      "id": "GoogleCloudApigeeV1SetAddonEnablementRequest",
      "type": "object",
      "description": "Request for SetAddonEnablement.",
      "properties": {
        "analyticsEnabled": {
          "type": "boolean",
          "description": "If the Analytics should be enabled in the environment."
        },
        "apiSecurityEnabled": {
          "type": "boolean",
          "description": "If the API Security should be enabled in the environment."
        }
      }
    },
    "GoogleCloudApigeeV1SecuritySettings": {
      "type": "object",
      "id": "GoogleCloudApigeeV1SecuritySettings",
      "description": "SecuritySettings reflects the current state of the SecuritySettings feature.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Full resource name is always `organizations/{org}/securitySettings`."
        },
        "mlRetrainingFeedbackEnabled": {
          "type": "boolean",
          "description": "Optional. If true the user consents to the use of ML models for Abuse detection."
        }
      }
    },
    "GoogleCloudApigeeV1PodStatus": {
      "id": "GoogleCloudApigeeV1PodStatus",
      "type": "object",
      "properties": {
        "statusCode": {
          "description": "Code associated with the deployment status.",
          "type": "string"
        },
        "deploymentTime": {
          "format": "int64",
          "type": "string",
          "description": "Time the proxy was deployed in milliseconds since epoch."
        },
        "statusCodeDetails": {
          "description": "Human-readable message associated with the status code.",
          "type": "string"
        },
        "deploymentStatus": {
          "type": "string",
          "description": "Status of the deployment. Valid values include: - `deployed`: Successful. - `error` : Failed. - `pending` : Pod has not yet reported on the deployment."
        },
        "podStatusTime": {
          "type": "string",
          "description": "Time the pod status was reported in milliseconds since epoch.",
          "format": "int64"
        },
        "podName": {
          "description": "Name of the pod which is reporting the status.",
          "type": "string"
        },
        "appVersion": {
          "description": "Version of the application running in the pod.",
          "type": "string"
        },
        "deploymentStatusTime": {
          "type": "string",
          "format": "int64",
          "description": "Time the deployment status was reported in milliseconds since epoch."
        },
        "podStatus": {
          "description": "Overall status of the pod (not this specific deployment). Valid values include: - `active`: Up to date. - `stale` : Recently out of date. Pods that have not reported status in a long time are excluded from the output.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1ProfileConfigMediation": {
      "type": "object",
      "description": "By default, following policies will be included: - OASValidation - SOAPMessageValidation",
      "properties": {},
      "id": "GoogleCloudApigeeV1ProfileConfigMediation"
    },
    "GoogleCloudApigeeV1CustomReportMetric": {
      "description": "This encapsulates a metric property of the form sum(message_count) where name is message_count and function is sum",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "name of the metric"
        },
        "function": {
          "description": "aggregate function",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1CustomReportMetric"
    },
    "GoogleCloudApigeeV1APIProductAssociation": {
      "properties": {
        "status": {
          "description": "The API product credential associated status. Valid values are `approved` or `revoked`.",
          "type": "string"
        },
        "apiproduct": {
          "type": "string",
          "description": "API product to be associated with the credential."
        }
      },
      "id": "GoogleCloudApigeeV1APIProductAssociation",
      "type": "object",
      "description": "APIProductAssociation has the API product and its administrative state association."
    },
    "GoogleCloudApigeeV1ListAppsResponse": {
      "type": "object",
      "id": "GoogleCloudApigeeV1ListAppsResponse",
      "properties": {
        "app": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1App"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `next_page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "totalSize": {
          "format": "int32",
          "description": "Total count of Apps.",
          "type": "integer"
        }
      }
    },
    "GoogleLongrunningOperation": {
      "properties": {
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "GoogleLongrunningOperation"
    },
    "GoogleCloudApigeeV1BatchUpdateSecurityIncidentsRequest": {
      "type": "object",
      "properties": {
        "requests": {
          "items": {
            "$ref": "GoogleCloudApigeeV1UpdateSecurityIncidentRequest"
          },
          "description": "Optional. Required. The request message specifying the resources to update. A maximum of 1000 can be modified in a batch.",
          "type": "array"
        }
      },
      "description": "Request for BatchUpdateSecurityIncident.",
      "id": "GoogleCloudApigeeV1BatchUpdateSecurityIncidentsRequest"
    },
    "GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRevision": {
      "id": "GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRevision",
      "description": "Revisions deployed in the MPs.",
      "type": "object",
      "properties": {
        "revision": {
          "type": "string",
          "description": "API proxy revision reported as deployed."
        },
        "percentage": {
          "type": "integer",
          "description": "Percentage of MP replicas reporting this revision.",
          "format": "int32"
        }
      }
    },
    "GoogleRpcPreconditionFailure": {
      "type": "object",
      "id": "GoogleRpcPreconditionFailure",
      "properties": {
        "violations": {
          "items": {
            "$ref": "GoogleRpcPreconditionFailureViolation"
          },
          "type": "array",
          "description": "Describes all precondition violations."
        }
      },
      "description": "Describes what preconditions have failed. For example, if an RPC failed because it required the Terms of Service to be acknowledged, it could list the terms of service violation in the PreconditionFailure message."
    },
    "GoogleCloudApigeeV1ServiceIssuersMapping": {
      "properties": {
        "service": {
          "type": "string",
          "description": "String indicating the Apigee service name."
        },
        "emailIds": {
          "items": {
            "type": "string"
          },
          "description": "List of trusted issuer email ids.",
          "type": "array"
        }
      },
      "id": "GoogleCloudApigeeV1ServiceIssuersMapping",
      "type": "object"
    },
    "GoogleCloudApigeeV1OptimizedStats": {
      "properties": {
        "Response": {
          "$ref": "GoogleCloudApigeeV1OptimizedStatsResponse",
          "description": "Wraps the `stats` response for JavaScript Optimized Scenario with a response key. For example: ```{ \"Response\": { \"TimeUnit\": [], \"metaData\": { \"errors\": [], \"notices\": [ \"Source:Postgres\", \"Table used: edge.api.aaxgroup001.agg_api\", \"PG Host:ruappg08-ro.production.apigeeks.net\", \"query served by:80c4ebca-6a10-4a2e-8faf-c60c1ee306ca\" ] }, \"resultTruncated\": false, \"stats\": { \"data\": [ { \"identifier\": { \"names\": [ \"apiproxy\" ], \"values\": [ \"sirjee\" ] }, \"metric\": [ { \"env\": \"prod\", \"name\": \"sum(message_count)\", \"values\": [ 36.0 ] }, { \"env\": \"prod\", \"name\": \"sum(is_error)\", \"values\": [ 36.0 ] } ] } ] } } }```"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1OptimizedStats"
    },
    "GoogleCloudApigeeV1AdjustDeveloperBalanceRequest": {
      "type": "object",
      "properties": {
        "adjustment": {
          "$ref": "GoogleTypeMoney",
          "description": "* A positive value of `adjustment` means that that the API provider wants to adjust the balance for an under-charged developer i.e. the balance of the developer will decrease. * A negative value of `adjustment` means that that the API provider wants to adjust the balance for an over-charged developer i.e. the balance of the developer will increase."
        }
      },
      "id": "GoogleCloudApigeeV1AdjustDeveloperBalanceRequest",
      "description": "Request for AdjustDeveloperBalance."
    },
    "GoogleCloudApigeeV1ListSecurityReportsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "If the number of security reports exceeded the page size requested, the token can be used to fetch the next page in a subsequent call. If the response is the last page and there are no more reports to return this field is left empty.",
          "type": "string"
        },
        "securityReports": {
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityReport"
[...]
