{
  "protocol": "rest",
  "version_module": true,
  "rootUrl": "https://apigee.googleapis.com/",
  "name": "apigee",
  "revision": "20200521",
  "baseUrl": "https://apigee.googleapis.com/",
  "version": "v1",
  "mtlsRootUrl": "https://apigee.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "id": "apigee:v1",
  "resources": {
    "hybrid": {
      "resources": {
        "issuers": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListHybridIssuersResponse"
              },
              "httpMethod": "GET",
              "id": "apigee.hybrid.issuers.list",
              "description": "Lists hybrid services and its trusted issuers service account ids.\nThis api is authenticated and unauthorized(allow all the users) and used by\nruntime authn-authz service to query control plane's issuer service account\nids.",
              "flatPath": "v1/hybrid/issuers",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^hybrid/issuers$",
                  "description": "Required. Must be of the form `hybrid/issuers`.",
                  "location": "path",
                  "required": true
                }
              }
            }
          }
        }
      }
    },
    "organizations": {
      "methods": {
        "setSyncAuthorization": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "description": "Required. Name of the Apigee organization. Use the following structure in your\nrequest:\n `organizations/{org}`",
              "pattern": "^organizations/[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "description": "Sets the permissions required to allow the Synchronizer to download\nenvironment data from the control plane. You must call this API to enable\nproper functioning of hybrid.\n\nPass the ETag when calling `setSyncAuthorization` to ensure that\nyou are updating the correct version. To get an ETag,\ncall [getSyncAuthorization](getSyncAuthorization).\nIf you don't pass the ETag in the call to `setSyncAuthorization`, then the\nexisting authorization is overwritten indiscriminately.\n\nFor more information, see\n[Enable Synchronizer\naccess](https://docs.apigee.com/hybrid/latest/synchronizer-access#enable-synchronizer-access).\n\n**Note**: Available to Apigee hybrid only.",
          "request": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          },
          "flatPath": "v1/organizations/{organizationsId}:setSyncAuthorization",
          "parameterOrder": [
            "name"
          ],
          "id": "apigee.organizations.setSyncAuthorization",
          "httpMethod": "POST",
          "path": "v1/{+name}:setSyncAuthorization",
          "response": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          }
        },
        "getSyncAuthorization": {
          "response": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          },
          "flatPath": "v1/organizations/{organizationsId}:getSyncAuthorization",
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. Name of the Apigee organization. Use the following structure in your\nrequest:\n `organizations/{org}`",
              "type": "string",
              "required": true,
              "pattern": "^organizations/[^/]+$"
            }
          },
          "httpMethod": "POST",
          "id": "apigee.organizations.getSyncAuthorization",
          "request": {
            "$ref": "GoogleCloudApigeeV1GetSyncAuthorizationRequest"
          },
          "path": "v1/{+name}:getSyncAuthorization",
          "description": "Lists the service accounts with the permissions required to allow\nthe Synchronizer to download environment data from the control plane.\n\nAn ETag is returned in the response to `getSyncAuthorization`.\nPass that ETag when calling [setSyncAuthorization](setSyncAuthorization)\nto ensure that you are updating the correct version. If you don't pass the\nETag in the call to `setSyncAuthorization`, then the existing authorization\nis overwritten indiscriminately.\n\nFor more information, see\n[Enable Synchronizer\naccess](https://docs.apigee.com/hybrid/latest/synchronizer-access#enable-synchronizer-access).\n\n**Note**: Available to Apigee hybrid only.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ]
        },
        "update": {
          "httpMethod": "PUT",
          "response": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "id": "apigee.organizations.update",
          "request": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Apigee organization name in the following format:\n  `organizations/{org}`",
              "pattern": "^organizations/[^/]+$"
            }
          },
          "description": "Updates the properties for an Apigee organization. No other fields in the\norganization profile will be updated.",
          "flatPath": "v1/organizations/{organizationsId}",
          "parameterOrder": [
            "name"
          ]
        },
        "create": {
          "path": "v1/organizations",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "parent": {
              "description": "Required. Name of the GCP project in which to associate the Apigee organization.\nPass the information as a query parameter using the following structure\nin your request:\n  `projects/\u003cproject\u003e`",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "flatPath": "v1/organizations",
          "id": "apigee.organizations.create",
          "description": "Creates an Apigee organization. See\n[Create an\norganization](https://docs.apigee.com/hybrid/latest/precog-provision).",
          "parameterOrder": [],
          "request": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "httpMethod": "POST"
        },
        "list": {
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "GoogleCloudApigeeV1ListOrganizationsResponse"
          },
          "id": "apigee.organizations.list",
          "parameters": {
            "parent": {
              "type": "string",
              "location": "path",
              "pattern": "^organizations$",
              "description": "Required. Use the following structure in your request:\n  `organizations`",
              "required": true
            }
          },
          "description": "Lists the Apigee organizations and associated GCP projects that you have\npermission to access. See\n[Organizations](https://docs.apigee.com/hybrid/latest/terminology#organizations).",
          "flatPath": "v1/organizations",
          "path": "v1/{+parent}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "get": {
          "description": "Gets the profile for an Apigee organization.\nSee\n[Organizations](https://docs.apigee.com/hybrid/latest/terminology#organizations).",
          "parameters": {
            "name": {
              "description": "Required. Apigee organization name in the following format:\n  `organizations/{org}`",
              "pattern": "^organizations/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "apigee.organizations.get",
          "flatPath": "v1/organizations/{organizationsId}",
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ]
        }
      },
      "resources": {
        "deployments": {
          "methods": {
            "list": {
              "description": "Lists all deployments of API proxies or shared flows.",
              "flatPath": "v1/organizations/{organizationsId}/deployments",
              "path": "v1/{+parent}/deployments",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of the organization for which to return deployment information in the\nfollowing format:\n `organizations/{org}`",
                  "location": "path",
                  "required": true
                },
                "sharedFlows": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Optional. Flag that specifies whether to return shared flow or API proxy deployments.\nSet to `true` to return shared flow deployments; set to `false`\nto return API proxy deployments. Defaults to `false`."
                }
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1ListDeploymentsResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "id": "apigee.organizations.deployments.list"
            }
          }
        },
        "sharedflows": {
          "resources": {
            "revisions": {
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "GoogleCloudApigeeV1SharedFlowRevision"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the shared flow revision to delete. Must be of the\nform:\n  `organizations/{organization_id}/sharedflows/{shared_flow_id}/revisions/{revision_id}`",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/sharedflows/[^/]+/revisions/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.sharedflows.revisions.delete",
                  "httpMethod": "DELETE",
                  "flatPath": "v1/organizations/{organizationsId}/sharedflows/{sharedflowsId}/revisions/{revisionsId}",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a shared flow and all associated policies, resources, and\nrevisions. You must undeploy the shared flow before deleting it."
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleApiHttpBody"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/sharedflows/{sharedflowsId}/revisions/{revisionsId}",
                  "path": "v1/{+name}",
                  "id": "apigee.organizations.sharedflows.revisions.get",
                  "httpMethod": "GET",
                  "description": "Gets a revision of a shared flow.\n\nIf `format=bundle` is passed, it instead outputs a shared flow revision as\na ZIP-formatted bundle of code and config files.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the shared flow revision to get. Must be of the\nform:\n  `organizations/{organization_id}/sharedflows/{shared_flow_id}/revisions/{revision_id}`",
                      "pattern": "^organizations/[^/]+/sharedflows/[^/]+/revisions/[^/]+$"
                    },
                    "format": {
                      "description": "Specify `bundle` to export the contents of the shared flow bundle.\nOtherwise, the bundle metadata is returned.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "updateSharedFlowRevision": {
                  "response": {
                    "$ref": "GoogleCloudApigeeV1SharedFlowRevision"
                  },
                  "httpMethod": "POST",
                  "description": "Updates a shared flow revision. This operation is only allowed on revisions\nwhich have never been deployed. After deployment a revision becomes\nimmutable, even if it becomes undeployed.\n\nThe payload is a ZIP-formatted shared flow.  Content type must be either\nmultipart/form-data or application/octet-stream.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.sharedflows.revisions.updateSharedFlowRevision",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "GoogleApiHttpBody"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^organizations/[^/]+/sharedflows/[^/]+/revisions/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the shared flow revision to update.\nMust be of the form:\n  `organizations/{organization_id}/sharedflows/{shared_flow_id}/revisions/{revision_id}`"
                    },
                    "validate": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Ignored. All uploads are validated regardless of the value of this field.\nIt is kept for compatibility with existing APIs. Must be `true` or `false`\nif provided."
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/sharedflows/{sharedflowsId}/revisions/{revisionsId}"
                }
              },
              "resources": {
                "deployments": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^organizations/[^/]+/sharedflows/[^/]+/revisions/[^/]+$",
                          "description": "Required. Name of the API proxy revision for which to return deployment information\nin the following format:\n  `organizations/{org}/sharedflows/{sharedflow}/revisions/{rev}`.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "id": "apigee.organizations.sharedflows.revisions.deployments.list",
                      "flatPath": "v1/organizations/{organizationsId}/sharedflows/{sharedflowsId}/revisions/{revisionsId}/deployments",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudApigeeV1ListDeploymentsResponse"
                      },
                      "description": "Lists all deployments of a shared flow revision.",
                      "path": "v1/{+parent}/deployments",
                      "httpMethod": "GET"
                    }
                  }
                }
              }
            },
            "deployments": {
              "methods": {
                "list": {
                  "flatPath": "v1/organizations/{organizationsId}/sharedflows/{sharedflowsId}/deployments",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^organizations/[^/]+/sharedflows/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the shared flow for which to return deployment information in the\nfollowing format:\n  `organizations/{org}/sharedflows/{sharedflow}`"
                    }
                  },
                  "id": "apigee.organizations.sharedflows.deployments.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListDeploymentsResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/deployments",
                  "description": "Lists all deployments of a shared flow."
                }
              }
            }
          },
          "methods": {
            "delete": {
              "flatPath": "v1/organizations/{organizationsId}/sharedflows/{sharedflowsId}",
              "id": "apigee.organizations.sharedflows.delete",
              "description": "Deletes a shared flow and all it's revisions. The shared flow must be\nundeployed before you can delete it.",
              "response": {
                "$ref": "GoogleCloudApigeeV1SharedFlow"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/sharedflows/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. shared flow name of the form:\n  `organizations/{organization_id}/sharedflows/{shared_flow_id}`"
                }
              },
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "create": {
              "httpMethod": "POST",
              "id": "apigee.organizations.sharedflows.create",
              "description": "Uploads a ZIP-formatted shared flow configuration bundle to an\norganization. If the shared flow already exists, this creates a new\nrevision of it. If the shared flow does not exist, this creates it.\n\nOnce imported, the shared flow revision must be deployed before it can be\naccessed at runtime.\n\nThe size limit of a shared flow bundle is 15 MB.",
              "path": "v1/{+parent}/sharedflows",
              "flatPath": "v1/organizations/{organizationsId}/sharedflows",
              "request": {
                "$ref": "GoogleApiHttpBody"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the parent organization under which to create the\nshared flow. Must be of the form:\n  `organizations/{organization_id}`",
                  "required": true
                },
                "action": {
                  "type": "string",
                  "description": "Required. Must be set to either `import` or `validate`.",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. The name to give the shared flow"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1SharedFlowRevision"
              }
            },
            "list": {
              "response": {
                "$ref": "GoogleCloudApigeeV1ListSharedFlowsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "apigee.organizations.sharedflows.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists all shared flows in the organization.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The name of the parent organization under which to get shared\nflows. Must be of the form:\n  `organizations/{organization_id}`",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "type": "string"
                },
                "includeMetaData": {
                  "description": "Indicates whether to include shared flow metadata in the response.",
                  "location": "query",
                  "type": "boolean"
                },
                "includeRevisions": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Indicates whether to include a list of revisions in the response."
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/sharedflows",
              "path": "v1/{+parent}/sharedflows"
            },
            "get": {
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/sharedflows/{sharedflowsId}",
              "description": "Gets a shared flow by name, including a list of its revisions.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.sharedflows.get",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/sharedflows/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the shared flow to get. Must be of the\nform:\n  `organizations/{organization_id}/sharedflows/{shared_flow_id}`",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1SharedFlow"
              }
            }
          }
        },
        "reports": {
          "methods": {
            "update": {
              "parameters": {
                "name": {
                  "description": "Required. Custom Report name of the form:\n  `organizations/{organization_id}/reports/{report_name}`",
                  "pattern": "^organizations/[^/]+/reports/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "id": "apigee.organizations.reports.update",
              "description": "Update an existing custom report definition",
              "request": {
                "$ref": "GoogleCloudApigeeV1CustomReport"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1CustomReport"
              },
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/reports/{reportsId}",
              "httpMethod": "PUT"
            },
            "list": {
              "description": "Return a list of Custom Reports",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "expand": {
                  "type": "boolean",
                  "description": "Set to 'true' to get expanded details about each custom report.",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. The parent organization name under which the API product will\nbe listed\n  `organizations/{organization_id}/reports`",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "id": "apigee.organizations.reports.list",
              "flatPath": "v1/organizations/{organizationsId}/reports",
              "path": "v1/{+parent}/reports",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListCustomReportsResponse"
              }
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes an existing custom report definition",
              "id": "apigee.organizations.reports.delete",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/reports/{reportsId}",
              "parameters": {
                "name": {
                  "description": "Required. Custom Report name of the form:\n  `organizations/{organization_id}/reports/{report_name}`",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/reports/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1DeleteCustomReportResponse"
              },
              "path": "v1/{+name}",
              "httpMethod": "DELETE"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudApigeeV1CustomReport"
              },
              "id": "apigee.organizations.reports.get",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/reports/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Custom Report name of the form:\n  `organizations/{organization_id}/reports/{report_name}`"
                }
              },
              "description": "Retrieve a custom report definition.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/reports/{reportsId}",
              "httpMethod": "GET"
            },
            "create": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "description": "Required. The parent organization name under which the Custom Report will\nbe created. Must be of the form:\n  `organizations/{organization_id}/reports`"
                }
              },
              "path": "v1/{+parent}/reports",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates a Custom Report for an Organization. A Custom Report\nprovides Apigee Customers to create custom dashboards in addition\nto the standard dashboards which are provided. The Custom Report in its\nsimplest form contains specifications about metrics, dimensions and\nfilters. It is important to note that the custom report by itself does not\nprovide an executable entity. The Edge UI converts the custom report\ndefinition into an analytics query and displays the result in a chart.",
              "flatPath": "v1/organizations/{organizationsId}/reports",
              "response": {
                "$ref": "GoogleCloudApigeeV1CustomReport"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "id": "apigee.organizations.reports.create",
              "request": {
                "$ref": "GoogleCloudApigeeV1CustomReport"
              }
            }
          }
        },
        "apps": {
          "methods": {
            "get": {
              "description": "Gets the app profile for the specified app ID.",
              "flatPath": "v1/organizations/{organizationsId}/apps/{appsId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "id": "apigee.organizations.apps.get",
              "response": {
                "$ref": "GoogleCloudApigeeV1App"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/apps/[^/]+$",
                  "type": "string",
                  "description": "Required. App ID in the following format:\n `organizations/{org}/apps/{app}`"
                }
              }
            },
            "list": {
              "httpMethod": "GET",
              "description": "Lists IDs of apps within an organization that have the specified app status\n(approved or revoked) or are of the specified app type\n(developer or company).",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListAppsResponse"
              },
              "id": "apigee.organizations.apps.list",
              "parameters": {
                "startKey": {
                  "location": "query",
                  "type": "string",
                  "description": "Returns the list of apps starting from the specified app ID."
                },
                "includeCred": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Optional. Flag that specifies whether to include credentials in the\nresponse."
                },
                "rows": {
                  "type": "string",
                  "description": "Optional. Maximum number of app IDs to return. Defaults to 10000.",
                  "format": "int64",
                  "location": "query"
                },
                "apptype": {
                  "type": "string",
                  "description": "Optional. Filter by the type of the app. Valid values are `company` or\n`developer`. Defaults to `developer`.",
                  "location": "query"
                },
                "status": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Filter by the status of the app. Valid values are `approved`\nor `revoked`. Defaults to `approved`."
                },
                "keyStatus": {
                  "description": "Optional. Key status of the app. Valid values include `approved` or\n`revoked`. Defaults to `approved`.",
                  "type": "string",
                  "location": "query"
                },
                "apiProduct": {
                  "location": "query",
                  "description": "API product.",
                  "type": "string"
                },
                "ids": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Comma-separated list of app IDs on which to filter."
                },
                "expand": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Optional. Flag that specifies whether to return an expanded list of\napps for the organization. Defaults to `false`."
                },
                "parent": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. Resource path of the parent in the following format:\n `organizations/{org}`",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/apps",
              "path": "v1/{+parent}/apps",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "keyvaluemaps": {
          "methods": {
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudApigeeV1KeyValueMap"
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1KeyValueMap"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The name of the organization in which to create the key value map\nfile. Must be of the form `organizations/{organization}`.",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "type": "string"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/keyvaluemaps",
              "path": "v1/{+parent}/keyvaluemaps",
              "httpMethod": "POST",
              "description": "Creates a key value map in an organization.",
              "id": "apigee.organizations.keyvaluemaps.create"
            },
            "delete": {
              "description": "Delete a key value map in an organization.",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/keyvaluemaps/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the key value map.\nMust be of the form\n`organizations/{organization}/keyvaluemaps/{keyvaluemap}`."
                }
              },
              "id": "apigee.organizations.keyvaluemaps.delete",
              "response": {
                "$ref": "GoogleCloudApigeeV1KeyValueMap"
              },
              "httpMethod": "DELETE",
              "flatPath": "v1/organizations/{organizationsId}/keyvaluemaps/{keyvaluemapsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "apis": {
          "resources": {
            "deployments": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListDeploymentsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "apigee.organizations.apis.deployments.list",
                  "path": "v1/{+parent}/deployments",
                  "description": "Lists all deployments of an API proxy.",
                  "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/deployments",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/apis/[^/]+$",
                      "description": "Required. Name of the API proxy for which to return deployment information in the\nfollowing format:\n `organizations/{org}/apis/{api}`",
                      "required": true
                    }
                  }
                }
              }
            },
            "keyvaluemaps": {
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "GoogleCloudApigeeV1KeyValueMap"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/keyvaluemaps/{keyvaluemapsId}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Delete a key value map in an api proxy.",
                  "id": "apigee.organizations.apis.keyvaluemaps.delete",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/apis/[^/]+/keyvaluemaps/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the key value map.\nMust be of the form\n`organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}`.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/keyvaluemaps",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1KeyValueMap"
                  },
                  "id": "apigee.organizations.apis.keyvaluemaps.create",
                  "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/keyvaluemaps",
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the environment in which to create the key value map.\nMust be of the form\n`organizations/{organization}/apis/{api}`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/apis/[^/]+$",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1KeyValueMap"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "description": "Creates a key value map in an api proxy."
                }
              }
            },
            "revisions": {
              "methods": {
                "get": {
                  "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/revisions/{revisionsId}",
                  "id": "apigee.organizations.apis.revisions.get",
                  "description": "Gets an API proxy revision.\n\nTo download the API proxy configuration bundle for the specified revision\nas a zip file, do the following:\n\n * Set the `format` query parameter to `bundle`.\n * Set the `Accept` header to `application/zip`.\n\nIf you are using curl, specify `-o filename.zip` to save the output to a\nfile; otherwise, it displays to `stdout`. Then, develop the API proxy\nconfiguration locally and upload the updated API proxy configuration\nrevision, as described in\n[updateApiProxyRevision](updateApiProxyRevision).",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleApiHttpBody"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/apis/[^/]+/revisions/[^/]+$",
                      "description": "Required. API proxy revision in the following format:\n  `organizations/{org}/apis/{api}/revisions/{rev}`",
                      "required": true,
                      "location": "path"
                    },
                    "format": {
                      "type": "string",
                      "location": "query",
                      "description": "Format used when downloading the API proxy configuration revision.\nSet to `bundle` to download the API proxy configuration revision as a zip\nfile."
                    }
                  }
                },
                "delete": {
                  "id": "apigee.organizations.apis.revisions.delete",
                  "description": "Deletes an API proxy revision and all policies, resources, endpoints,\nand revisions associated with it. The API proxy revision must be undeployed\nbefore you can delete it.",
                  "parameters": {
                    "name": {
                      "description": "Required. API proxy revision in the following format:\n  `organizations/{org}/apis/{api}/revisions/{rev}`",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/apis/[^/]+/revisions/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/revisions/{revisionsId}",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ApiProxyRevision"
                  }
                },
                "updateApiProxyRevision": {
                  "path": "v1/{+name}",
                  "description": "Updates an existing API proxy revision by uploading the API proxy\nconfiguration bundle as a zip file from your local machine.\n\nYou can update only API proxy revisions\nthat have never been deployed. After deployment, an API proxy revision\nbecomes immutable, even if it is undeployed.\n\nSet the `Content-Type` header to either\n`multipart/form-data` or `application/octet-stream`.",
                  "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/revisions/{revisionsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.apis.revisions.updateApiProxyRevision",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ApiProxyRevision"
                  },
                  "request": {
                    "$ref": "GoogleApiHttpBody"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/apis/[^/]+/revisions/[^/]+$",
                      "description": "Required. API proxy revision to update in the following format:\n  `organizations/{org}/apis/{api}/revisions/{rev}`",
                      "location": "path"
                    },
                    "validate": {
                      "description": "Ignored. All uploads are validated regardless of the value of this field.\nMaintained for compatibility with Apigee Edge API.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ]
                }
              },
              "resources": {
                "deployments": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "parent": {
                          "pattern": "^organizations/[^/]+/apis/[^/]+/revisions/[^/]+$",
                          "type": "string",
                          "description": "Required. Name of the API proxy revision for which to return deployment information\nin the following format:\n  `organizations/{org}/apis/{api}/revisions/{rev}`.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudApigeeV1ListDeploymentsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/revisions/{revisionsId}/deployments",
                      "path": "v1/{+parent}/deployments",
                      "id": "apigee.organizations.apis.revisions.deployments.list",
                      "description": "Lists all deployments of an API proxy revision."
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "create": {
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiProxyRevision"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "path": "v1/{+parent}/apis",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates an API proxy.\nThe API proxy created will not be accessible at runtime until it is\ndeployed to an environment.\n\nCreate a new API proxy by setting the `name` query parameter to the\nname of the API proxy.\n\nImport an API proxy configuration bundle stored in zip format\non your local machine to your organization by doing the following:\n\n* Set the `name` query parameter to the name of the API proxy.\n* Set the `action` query parameter to `import`.\n* Set the `Content-Type` header to `multipart/form-data`.\n* Pass as a file the name of API proxy\n  configuration bundle stored in zip format on your local machine using\n  the `file` form field.\n\n**Note**: To validate the API proxy configuration bundle only\n  without importing it, set the `action` query\n  parameter to `validate`.\n\nWhen importing an API proxy configuration bundle, if the API proxy\ndoes not exist, it will be created.\nIf the API proxy exists, then a new revision is created. Invalid API\nproxy configurations are rejected, and a list of validation errors is\nreturned to the client.",
              "parameters": {
                "name": {
                  "description": "Name of the API proxy. Restrict the characters used to: A-Za-z0-9._-",
                  "type": "string",
                  "location": "query"
                },
                "validate": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Ignored. All uploads are validated regardless of the value of this\nfield. Maintained for compatibility with Apigee Edge API."
                },
                "parent": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the organization in the following format:\n  `organizations/{org}`"
                },
                "action": {
                  "location": "query",
                  "description": "Action to perform when importing an API proxy configuration bundle. Set\nthis parameter to one of the following values:\n\n* `import` to import the API proxy configuration bundle.\n* `validate` to validate the API proxy configuration bundle without\n   importing it.",
                  "type": "string"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/apis",
              "request": {
                "$ref": "GoogleApiHttpBody"
              },
              "id": "apigee.organizations.apis.create"
            },
            "delete": {
              "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiProxy"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "apigee.organizations.apis.delete",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes an API proxy and all associated endpoints, policies, resources, and\nrevisions. The API proxy must be undeployed before you can delete it.",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/apis/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of the API proxy in the following format:\n  `organizations/{org}/apis/{api}`"
                }
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. Name of the API proxy in the following format:\n  `organizations/{org}/apis/{api}`",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/apis/[^/]+$"
                }
              },
              "id": "apigee.organizations.apis.get",
              "httpMethod": "GET",
              "description": "Gets an API proxy including a list of existing revisions.",
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiProxy"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "id": "apigee.organizations.apis.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/apis",
              "parameters": {
                "includeRevisions": {
                  "description": "Flag that specifies whether to include a list of revisions in the response.",
                  "type": "boolean",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "description": "Required. Name of the organization in the following format:\n  `organizations/{org}`"
                },
                "includeMetaData": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Flag that specifies whether to include API proxy metadata in the response."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists the names of all API proxies in an organization. The names returned\ncorrespond to the names defined in the configuration files for each API\nproxy.",
              "path": "v1/{+parent}/apis",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListApiProxiesResponse"
              }
            }
          }
        },
        "operations": {
          "methods": {
            "get": {
              "flatPath": "v1/organizations/{organizationsId}/operations/{operationsId}",
              "description": "Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.",
              "id": "apigee.organizations.operations.get",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "The name of the operation resource.",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/operations/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "list": {
              "flatPath": "v1/organizations/{organizationsId}/operations",
              "description": "Lists operations that match the specified filter in the request. If the\nserver doesn't support this method, it returns `UNIMPLEMENTED`.\n\nNOTE: the `name` binding allows API services to override the binding\nto use different resource name schemes, such as `users/*/operations`. To\noverride the binding, API services can add a binding such as\n`\"/v1/{name=users/*}/operations\"` to their service configuration.\nFor backwards compatibility, the default name includes the operations\ncollection id, however overriding users must ensure the name binding\nis the parent resource, without the operations collection id.",
              "id": "apigee.organizations.operations.list",
              "path": "v1/{+name}/operations",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "pageToken": {
                  "description": "The standard list page token.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "description": "The standard list filter.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "description": "The name of the operation's parent resource.",
                  "required": true,
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The standard list page size."
                }
              }
            }
          }
        },
        "developers": {
          "resources": {
            "attributes": {
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/attributes/{attributesId}",
                  "id": "apigee.organizations.developers.attributes.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "Deletes a developer attribute.",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the developer attribute. Use the following structure in your\nrequest:\n  `organizations/{org}/developers/{developer_email}/attributes/{attribute}`",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/attributes/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/attributes",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "description": "Returns a list of all developer attributes.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/developers/[^/]+$",
                      "description": "Required. Email address of the developer for which attributes are being listed in the\nfollowing format:\n  `organizations/{org}/developers/{developer_email}`"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attributes"
                  },
                  "id": "apigee.organizations.developers.attributes.list",
                  "path": "v1/{+parent}/attributes"
                },
                "get": {
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/attributes/{attributesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Returns the value of the specified developer attribute.",
                  "path": "v1/{+name}",
                  "id": "apigee.organizations.developers.attributes.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the developer attribute. Use the following structure in your\nrequest:\n  `organizations/{org}/developers/{developer_email}/attributes/{attribute}`",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/attributes/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "updateDeveloperAttribute": {
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the developer attribute. Use the following structure in your\nrequest:\n  `organizations/{org}/developers/{developer_email}/attributes/{attribute}`",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/attributes/[^/]+$"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/attributes/{attributesId}",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "httpMethod": "POST",
                  "id": "apigee.organizations.developers.attributes.updateDeveloperAttribute",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates a developer attribute.\n\n**Note**: OAuth access tokens and Key Management Service (KMS) entities\n(apps, developers, and API products) are cached for 180 seconds\n(default). Any custom attributes associated with these entities\nare cached for at least 180 seconds after the entity is accessed at\nruntime. Therefore, an `ExpiresIn` element on the OAuthV2 policy\nwon't be able to expire an access token in less than 180 seconds."
                }
              }
            },
            "apps": {
              "methods": {
                "generateKeyPairOrUpdateDeveloperAppStatus": {
                  "description": "Manages access to a developer app by enabling you to:\n\n* Approve or revoke a developer app\n* Generate a new consumer key and secret for a developer app\n\nTo approve or revoke a developer app, set the `action` query parameter to\n`approved` or `revoked`, respectively, and the\n`Content-Type` header to `application/octet-stream`. If a developer app is\nrevoked, none of its API keys are valid for API calls even though\nthe keys are still `approved`. If successful, the API call returns the\nfollowing HTTP status code: `204 No Content`\n\nTo generate a new consumer key and secret for a developer\napp, pass the new key/secret details. Rather than\nreplace an existing key, this API generates a new\nkey. In this case, multiple key\npairs may be associated with a single developer app. Each key pair has an\nindependent status (`approved` or `revoked`) and expiration time.\nAny approved, non-expired key can be used in an API call.\n\nFor example, if you're using API key rotation, you can generate new\nkeys with expiration times that overlap keys that are going to expire.\nYou might also generate a new consumer key/secret if the security of the\noriginal key/secret is compromised.\n\nThe `keyExpiresIn` property defines the\nexpiration time for the API key in milliseconds. If you don't set\nthis property or set it to `-1`, the API key never expires.\n\n**Notes**:\n\n* When generating a new key/secret, this API replaces the\nexisting attributes, notes, and callback URLs with those specified in the\nrequest. Include or exclude any existing information that you want to\nretain or delete, respectively.\n* To migrate existing consumer keys and secrets to hybrid from another\nsystem, see the\nCreateDeveloperAppKey API.",
                  "parameters": {
                    "action": {
                      "description": "Action. Valid values are `approve` or `revoke`.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                      "description": "Required. Name of the developer app. Use the following structure in your request:\n  `organizations/{org}/developers/{developer_email}/apps/{app}`"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}",
                  "id": "apigee.organizations.developers.apps.generateKeyPairOrUpdateDeveloperAppStatus",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "path": "v1/{+name}"
                },
                "attributes": {
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attributes"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.developers.apps.attributes",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Attributes"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/attributes",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the developer app. Use the following structure in your request:\n  `organizations/{org}/developers/{developer_email}/apps/{app}`",
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates attributes for a developer app. This API replaces the\ncurrent attributes with those specified in the request.",
                  "path": "v1/{+name}/attributes"
                },
                "create": {
                  "id": "apigee.organizations.developers.apps.create",
                  "path": "v1/{+parent}/apps",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/developers/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the developer. Use the following structure in your request:\n   `organizations/{org}/developers/{developer_email}`",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates an app associated with a developer. This API associates the\ndeveloper app with the specified API\nproduct and auto-generates an API key for the app to use in calls to API\nproxies inside that API product.\n\nThe `name` is the unique ID of the app\nthat you can use in API calls. The `DisplayName` (set as an\nattribute) appears in the UI. If you don't set the\n`DisplayName` attribute, the `name` appears in the UI.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps"
                },
                "list": {
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListDeveloperAppsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the developer. Use the following structure in your request:\n  `organizations/{org}/developers/{developer_email}`",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/developers/[^/]+$"
                    },
                    "shallowExpand": {
                      "description": "Optional. Specifies whether to expand the results in shallow mode.\nSet to `true` to expand the results in shallow mode.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "startKey": {
                      "type": "string",
                      "location": "query",
                      "description": "**Note**: Must be used in conjunction with the `count` parameter.\n\nName of the developer app from which to start displaying the list of\ndeveloper apps. For example, if you're returning 50 developer apps at\na time (using the `count` query parameter), you can view developer apps\n50-99 by entering the name of the 50th developer app.\nThe developer app name is case sensitive."
                    },
                    "count": {
                      "location": "query",
                      "description": "Number of developer apps to return in the API call. Use with the `startKey`\nparameter to provide more targeted filtering.\nThe limit is 1000.",
                      "type": "string",
                      "format": "int64"
                    },
                    "expand": {
                      "description": "Optional. Specifies whether to expand the results. Set to `true`\nto expand the results. This query parameter is not valid if you use\nthe `count` or `startKey` query parameters.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "path": "v1/{+parent}/apps",
                  "httpMethod": "GET",
                  "description": "Lists all apps created by a developer in an Apigee organization.\nOptionally, you can request an expanded view of the developer apps.\n\nA maximum of 100 developer apps are returned per API call. You can paginate\nthe list of deveoper apps returned using the `startKey` and `count` query\nparameters.",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps",
                  "id": "apigee.organizations.developers.apps.list"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a developer app.\n\n**Note**: The delete operation is asynchronous. The developer app is\ndeleted immediately,\nbut its associated resources, such as app\nkeys or access tokens, may take anywhere from a few seconds to a\nfew minutes to be deleted.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.developers.apps.delete",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the developer app. Use the following structure in your request:\n  `organizations/{org}/developers/{developer_email}/apps/{app}`",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$"
                    }
                  },
                  "httpMethod": "DELETE"
                },
                "get": {
                  "parameters": {
                    "entity": {
                      "type": "string",
                      "description": "**Note**: Must be used in conjunction with the `query` parameter.\n\nSet to `apiresources`\nto return the number of API resources\nthat have been approved for access by a developer app in the\nspecified Apigee organization.",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                      "description": "Required. Name of the developer app. Use the following structure in your request:\n  `organizations/{org}/developers/{developer_email}/apps/{app}`",
                      "location": "path"
                    },
                    "query": {
                      "type": "string",
                      "description": "**Note**: Must be used in conjunction with the `entity` parameter.\n\nSet to `count` to return the number of API resources\nthat have been approved for access by a developer app in the\nspecified Apigee organization.",
                      "location": "query"
                    }
                  },
                  "id": "apigee.organizations.developers.apps.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "Returns the details for a developer app.",
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  }
                },
                "update": {
                  "id": "apigee.organizations.developers.apps.update",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Name of the developer app. Use the following structure in your request:\n  `organizations/{org}/developers/{developer_email}/apps/{app}`",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$"
                    }
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "PUT",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates the details for a developer app. In addition, you can\nadd an API product to a developer app and automatically generate\nan API key for the app to use when calling APIs in the API product.\n\nIf you want to use an existing API key for the API product,\nadd the API product to the API key using the\nUpdateDeveloperAppKey\nAPI.\n\nUsing this API, you cannot update the following:\n\n* App name as it is the primary key used to identify the app and cannot\n  be changed.\n* Scopes associated with the app. Instead, use the\n  ReplaceDeveloperAppKey API.\n\nThis API replaces the\nexisting attributes with those specified in the request.\nInclude or exclude any existing attributes that you want to retain or\ndelete, respectively.",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}"
                }
              },
              "resources": {
                "attributes": {
                  "methods": {
                    "delete": {
                      "id": "apigee.organizations.developers.apps.attributes.delete",
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/attributes/{attributesId}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/attributes/[^/]+$",
                          "description": "Required. Name of the developer app attribute. Use the following structure in your\nrequest:\n  `organizations/{org}/developers/{developer_email}/apps/{app}/attributes/{attribute}`",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Attribute"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "description": "Deletes a developer app attribute."
                    },
                    "updateDeveloperAppAttribute": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/attributes/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. Name of the developer app attribute. Use the following structure in your\nrequest:\n  `organizations/{org}/developers/{developer_email}/apps/{app}/attributes/{attribute}`"
                        }
                      },
                      "httpMethod": "POST",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "apigee.organizations.developers.apps.attributes.updateDeveloperAppAttribute",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Attribute"
                      },
                      "description": "Updates a developer app attribute.\n\n**Note**: OAuth access tokens and Key Management Service (KMS) entities\n(apps, developers, and API products) are cached for 180 seconds\n(current default). Any custom attributes associated with these entities\nare cached for at least 180 seconds after the entity is accessed at\nruntime. Therefore, an `ExpiresIn` element on the OAuthV2 policy\nwon't be able to expire an access token in less than 180 seconds.",
                      "request": {
                        "$ref": "GoogleCloudApigeeV1Attribute"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/attributes/{attributesId}"
                    },
                    "get": {
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/attributes/{attributesId}",
                      "id": "apigee.organizations.developers.apps.attributes.get",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Attribute"
                      },
                      "description": "Returns a developer app attribute.",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the developer app attribute. Use the following structure in your\nrequest:\n  `organizations/{org}/developers/{developer_email}/apps/{app}/attributes/{attribute}`",
                          "location": "path",
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/attributes/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      }
                    },
                    "list": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Attributes"
                      },
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/attributes",
                      "path": "v1/{+parent}/attributes",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Returns a list of all developer app attributes.",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. Name of the developer app. Use the following structure in your request:\n  `organizations/{org}/developers/{developer_email}/apps/{app}`"
                        }
                      },
                      "id": "apigee.organizations.developers.apps.attributes.list"
                    }
                  }
                },
                "keys": {
                  "resources": {
                    "apiproducts": {
                      "methods": {
                        "updateDeveloperAppKeyApiProduct": {
                          "parameters": {
                            "name": {
                              "description": "Name of the API product in the developer app key in the following\nformat:\n  `organizations/{org}/developers/{developer_email}/apps/{app}/keys/{key}/apiproducts/{apiproduct}`",
                              "location": "path",
                              "type": "string",
                              "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/keys/[^/]+/apiproducts/[^/]+$",
                              "required": true
                            },
                            "action": {
                              "description": "Approve or revoke the consumer key by setting this value to\n`approve` or `revoke`, respectively.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "description": "Approve or revoke an app's consumer key. After a consumer key is approved,\nthe app can use it to access APIs.\n\nA consumer key that is revoked or pending cannot be used to access an API.\nAny access tokens associated with a revoked consumer key will remain\nactive. However, Apigee hybrid checks the status of the consumer key and\nif set to `revoked` will not allow access to the API.",
                          "path": "v1/{+name}",
                          "id": "apigee.organizations.developers.apps.keys.apiproducts.updateDeveloperAppKeyApiProduct",
                          "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys/{keysId}/apiproducts/{apiproductsId}",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "delete": {
                          "id": "apigee.organizations.developers.apps.keys.apiproducts.delete",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys/{keysId}/apiproducts/{apiproductsId}",
                          "path": "v1/{+name}",
                          "description": "Removes an API product from an app's consumer key. After the API product is\nremoved, the app cannot access the API resources defined in\nthat API product.\n\n**Note**: The consumer key is not removed, only its association with the\nAPI product.",
                          "response": {
                            "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                          },
                          "parameters": {
                            "name": {
                              "required": true,
                              "description": "Name of the API product in the developer app key in the following\nformat:\n  `organizations/{org}/developers/{developer_email}/apps/{app}/keys/{key}/apiproducts/{apiproduct}`",
                              "type": "string",
                              "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/keys/[^/]+/apiproducts/[^/]+$",
                              "location": "path"
                            }
                          },
                          "httpMethod": "DELETE",
                          "parameterOrder": [
                            "name"
                          ]
                        }
                      }
                    },
                    "create": {
                      "methods": {
                        "create": {
                          "request": {
                            "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "POST",
                          "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys/create",
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "type": "string",
                              "description": "Parent of the developer app key. Use the following structure in your\nrequest:\n  `organizations/{org}/developers/{developer_email}/apps`",
                              "required": true,
                              "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$"
                            }
                          },
                          "path": "v1/{+parent}/keys/create",
                          "response": {
                            "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                          },
                          "id": "apigee.organizations.developers.apps.keys.create.create",
                          "description": "Creates a custom consumer key and secret for a developer app. This is\nparticularly useful if you want to migrate existing consumer keys and\nsecrets to Apigee hybrid from another system.\n\nConsumer keys and secrets can contain letters, numbers, underscores, and\nhyphens. No other special characters are allowed. To avoid service\ndisruptions, a consumer key and secret should not exceed 2 KBs each.\n\n**Note**: When creating the consumer key and secret, an association to\nAPI products will not be made. Therefore, you should not specify the\nassociated API products in your request. Instead, use the\nUpdateDeveloperAppKey API to\nmake the association after the consumer key and secret are created.\n\nIf a consumer key and secret already exist, you can keep them or\ndelete them using the\nDeleteDeveloperAppKey API."
                        }
                      }
                    }
                  },
                  "methods": {
                    "replaceDeveloperAppKey": {
                      "id": "apigee.organizations.developers.apps.keys.replaceDeveloperAppKey",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Updates the scope of an app.\n\nThis API replaces the\nexisting scopes with those specified in the request.\nInclude or exclude any existing scopes that you want to retain or\ndelete, respectively. The specified scopes must already\nbe defined for the API products associated with the app.\n\nThis API sets the `scopes` element\nunder the `apiProducts` element in the attributes of the app.",
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/keys/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Name of the developer app key. Use the following structure in your request:\n  `organizations/{org}/developers/{developer_email}/apps/{app}/keys/{key}`"
                        }
                      },
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys/{keysId}",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                      },
                      "request": {
                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                      },
                      "httpMethod": "PUT"
                    },
                    "create": {
                      "id": "apigee.organizations.developers.apps.keys.create",
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys",
                      "path": "v1/{+parent}/keys",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates a custom consumer key and secret for a developer app. This is\nparticularly useful if you want to migrate existing consumer keys and\nsecrets to Apigee hybrid from another system.\n\nConsumer keys and secrets can contain letters, numbers, underscores, and\nhyphens. No other special characters are allowed. To avoid service\ndisruptions, a consumer key and secret should not exceed 2 KBs each.\n\n**Note**: When creating the consumer key and secret, an association to\nAPI products will not be made. Therefore, you should not specify the\nassociated API products in your request. Instead, use the\nUpdateDeveloperAppKey API to\nmake the association after the consumer key and secret are created.\n\nIf a consumer key and secret already exist, you can keep them or\ndelete them using the\nDeleteDeveloperAppKey API.",
                      "parameters": {
                        "parent": {
                          "description": "Parent of the developer app key. Use the following structure in your\nrequest:\n  `organizations/{org}/developers/{developer_email}/apps`",
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                      },
                      "httpMethod": "POST"
                    },
                    "updateDeveloperAppKey": {
                      "httpMethod": "POST",
                      "path": "v1/{+name}",
                      "description": "Adds an API product to a developer app key, enabling the app that holds\nthe key to access the API resources bundled in the API product.\n\nIn addition, you can add\nattributes to a developer app key. This API replaces the\nexisting attributes with those specified in the request.\nInclude or exclude any existing attributes that you want to retain or\ndelete, respectively.\n\nYou can use the same key to access all API products\nassociated with the app.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Name of the developer app key. Use the following structure in your request:\n  `organizations/{org}/developers/{developer_email}/apps/{app}/keys/{key}`",
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/keys/[^/]+$",
                          "type": "string",
                          "location": "path"
                        },
                        "action": {
                          "description": "Approve or revoke the consumer key by setting this value to\n`approve` or `revoke`, respectively.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                      },
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys/{keysId}",
                      "id": "apigee.organizations.developers.apps.keys.updateDeveloperAppKey",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                      }
                    },
                    "delete": {
                      "path": "v1/{+name}",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes an app's consumer key and removes all API products\nassociated with the app. After the consumer key is deleted,\nit cannot be used to access any APIs.\n\n**Note**: After you delete a consumer key, you may want to:\n1. Create a new consumer key and secret for the developer app using the\nCreateDeveloperAppKey API, and\nsubsequently add an API product to the key using the\nUpdateDeveloperAppKey API.\n2. Delete the developer app, if it is no longer required.",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                      },
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys/{keysId}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/keys/[^/]+$",
                          "description": "Name of the developer app key. Use the following structure in your request:\n  `organizations/{org}/developers/{developer_email}/apps/{app}/keys/{key}`",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "id": "apigee.organizations.developers.apps.keys.delete"
                    },
                    "get": {
                      "httpMethod": "GET",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "apigee.organizations.developers.apps.keys.get",
                      "description": "Returns details for a consumer key for a developer app, including the key\nand secret value, associated API products, and other information.",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                      },
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys/{keysId}",
                      "parameters": {
                        "name": {
[...]
