{
  "discoveryVersion": "v1",
  "name": "apigee",
  "batchPath": "batch",
  "title": "Apigee API",
  "protocol": "rest",
  "id": "apigee:v1",
  "schemas": {
    "GoogleCloudApigeeV1ExpireDeveloperSubscriptionRequest": {
      "description": "Request for ExpireDeveloperSubscription.",
      "type": "object",
      "id": "GoogleCloudApigeeV1ExpireDeveloperSubscriptionRequest",
      "properties": {}
    },
    "GoogleCloudApigeeV1ListTraceConfigOverridesResponse": {
      "type": "object",
      "properties": {
        "traceConfigOverrides": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1TraceConfigOverride"
          },
          "description": "List all trace configuration overrides in an environment."
        },
        "nextPageToken": {
          "description": "Token value that can be passed as `page_token` to retrieve the next page of content.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1ListTraceConfigOverridesResponse",
      "description": "Response for ListTraceConfigOverrides."
    },
    "GoogleCloudApigeeV1Deployment": {
      "type": "object",
      "id": "GoogleCloudApigeeV1Deployment",
      "properties": {
        "deployStartTime": {
          "description": "Time the API proxy was marked `deployed` in the control plane in millisconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "routeConflicts": {
          "description": "Conflicts in the desired state routing configuration. The presence of conflicts does not cause the state to be `ERROR`, but it will mean that some of the deployment's base paths are not routed to its environment. If the conflicts change, the state will transition to `PROGRESSING` until the latest configuration is rolled out to all instances. **Note**: This field is displayed only when viewing deployment status.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingConflict"
          }
        },
        "instances": {
          "type": "array",
          "description": "Status reported by each runtime instance. **Note**: This field is displayed only when viewing deployment status.",
          "items": {
            "$ref": "GoogleCloudApigeeV1InstanceDeploymentStatus"
          }
        },
        "revision": {
          "description": "API proxy revision.",
          "type": "string"
        },
        "errors": {
          "description": "Errors reported for this deployment. Populated only when state == ERROR. **Note**: This field is displayed only when viewing deployment status.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "serviceAccount": {
          "description": "The full resource name of Cloud IAM Service Account that this deployment is using, eg, `projects/-/serviceAccounts/{email}`.",
          "type": "string"
        },
        "environment": {
          "type": "string",
          "description": "Environment."
        },
        "apiProxy": {
          "description": "API proxy.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Current state of the deployment. **Note**: This field is displayed only when viewing deployment status.",
          "enumDescriptions": [
            "This value should never be returned.",
            "Runtime has loaded the deployment.",
            "Deployment is not fully ready in the runtime.",
            "Encountered an error with the deployment that requires intervention."
          ],
          "enum": [
            "RUNTIME_STATE_UNSPECIFIED",
            "READY",
            "PROGRESSING",
            "ERROR"
          ]
        },
        "pods": {
          "items": {
            "$ref": "GoogleCloudApigeeV1PodStatus"
          },
          "type": "array",
          "description": "Status reported by runtime pods. **Note**: **This field is deprecated**. Runtime versions 1.3 and above report instance level status rather than pod status."
        }
      }
    },
    "GoogleCloudApigeeV1SchemaSchemaElement": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the field."
        },
        "properties": {
          "description": "Properties for the schema field. For example: { \"createTime\": \"2016-02-26T10:23:09.592Z\", \"custom\": \"false\", \"type\": \"string\" }",
          "$ref": "GoogleCloudApigeeV1SchemaSchemaProperty"
        }
      },
      "description": "Message type for the schema element",
      "id": "GoogleCloudApigeeV1SchemaSchemaElement",
      "type": "object"
    },
    "GoogleCloudApigeeV1ProvisionOrganizationRequest": {
      "type": "object",
      "properties": {
        "analyticsRegion": {
          "description": "Primary Cloud Platform region for analytics data storage. For valid values, see [Create an organization](https://cloud.google.com/apigee/docs/hybrid/latest/precog-provision). Defaults to `us-west1`.",
          "type": "string"
        },
        "authorizedNetwork": {
          "type": "string",
          "description": "Name of the customer project's VPC network. If provided, the network needs to be peered through Service Networking. If none is provided, the organization will have access only to the public internet."
        },
        "runtimeLocation": {
          "description": "Cloud Platform location for the runtime instance. Defaults to zone `us-west1-a`. If a region is provided, `EVAL` organizations will use the region for automatically selecting a zone for the runtime instance.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1ProvisionOrganizationRequest",
      "description": "Request for ProvisionOrganization."
    },
    "GoogleLongrunningListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "id": "GoogleLongrunningListOperationsResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1KeystoreConfig": {
      "properties": {
        "name": {
          "description": "Resource name in the following format: `organizations/{org}/environments/{env}/keystores/{keystore}`",
          "type": "string"
        },
        "aliases": {
          "type": "array",
          "description": "Aliases in the keystore.",
          "items": {
            "$ref": "GoogleCloudApigeeV1AliasRevisionConfig"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1KeystoreConfig"
    },
    "GoogleCloudApigeeV1SchemaSchemaProperty": {
      "id": "GoogleCloudApigeeV1SchemaSchemaProperty",
      "type": "object",
      "properties": {
        "type": {
          "description": "Data type of the field.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Time the field was created in RFC3339 string form. For example: `2016-02-26T10:23:09.592Z`."
        },
        "custom": {
          "description": "Flag that specifies whether the field is standard in the dataset or a custom field created by the customer. `true` indicates that it is a custom field.",
          "type": "string"
        }
      },
      "description": "Properties for the schema field."
    },
    "GoogleCloudApigeeV1OptimizedStatsNode": {
      "properties": {
        "data": {
          "items": {
            "type": "any"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Encapsulates a data node as represented below: ``` { \"identifier\": { \"names\": [ \"apiproxy\" ], \"values\": [ \"sirjee\" ] }, \"metric\": [ { \"env\": \"prod\", \"name\": \"sum(message_count)\", \"values\": [ 36.0 ] } ] }``` or ``` { \"env\": \"prod\", \"name\": \"sum(message_count)\", \"values\": [ 36.0 ] }``` Depending on whether a dimension is present in the query or not the data node type can be a simple metric value or dimension identifier with list of metrics.",
      "id": "GoogleCloudApigeeV1OptimizedStatsNode"
    },
    "GoogleCloudApigeeV1Metric": {
      "description": "Encapsulates the metric data point. For example: ```{ \"name\": \"sum(message_count)\", \"values\" : [ { \"timestamp\": 1549004400000, \"value\": \"39.0\" }, { \"timestamp\" : 1548997200000, \"value\" : \"0.0\" } ] }``` or ```{ \"name\": \"sum(message_count)\", \"values\" : [\"39.0\"] }```",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "any"
          },
          "description": "List of metric values. Possible value formats include: `\"values\":[\"39.0\"]` or `\"values\":[ { \"value\": \"39.0\", \"timestamp\": 1232434354} ]`"
        },
        "name": {
          "description": "Metric name.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1Metric"
    },
    "GoogleCloudApigeeV1DeploymentChangeReportRoutingConflict": {
      "id": "GoogleCloudApigeeV1DeploymentChangeReportRoutingConflict",
      "properties": {
        "description": {
          "type": "string",
          "description": "Human-readable description of this conflict."
        },
        "conflictingDeployment": {
          "description": "Existing base path/deployment causing the conflict.",
          "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment"
        },
        "environmentGroup": {
          "type": "string",
          "description": "Name of the environment group in which this conflict exists."
        }
      },
      "description": "Describes a routing conflict that may cause a deployment not to receive traffic at some base path.",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListDeveloperSubscriptionsResponse": {
      "id": "GoogleCloudApigeeV1ListDeveloperSubscriptionsResponse",
      "type": "object",
      "properties": {
        "nextStartKey": {
          "type": "string",
          "description": "Value that can be sent as `startKey` to retrieve the next page of content. If this field is omitted, there are no subsequent pages."
        },
        "developerSubscriptions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1DeveloperSubscription"
          },
          "description": "List of all subscriptions."
        }
      },
      "description": "Response for ListDeveloperSubscriptions."
    },
    "GoogleCloudApigeeV1ResourceStatus": {
      "id": "GoogleCloudApigeeV1ResourceStatus",
      "properties": {
        "revisions": {
          "description": "Revisions of the resource currently deployed in the instance.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1RevisionStatus"
          }
        },
        "resource": {
          "type": "string",
          "description": "The resource name. Currently only two resources are supported: EnvironmentGroup - organizations/{org}/envgroups/{envgroup} EnvironmentConfig - organizations/{org}/environments/{environment}/deployedConfig"
        },
        "totalReplicas": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of replicas that should have this resource."
        },
        "uid": {
          "type": "string",
          "description": "The uid of the resource. In the unexpected case that the instance has multiple uids for the same name, they should be reported under separate ResourceStatuses."
        }
      },
      "type": "object",
      "description": "The status of a resource loaded in the runtime."
    },
    "GoogleCloudApigeeV1ResourceConfig": {
      "properties": {
        "location": {
          "type": "string",
          "description": "Location of the resource as a URI."
        },
        "name": {
          "type": "string",
          "description": "Resource name in the following format: `organizations/{org}/environments/{env}/resourcefiles/{type}/{file}/revisions/{rev}` Only environment-scoped resource files are supported."
        }
      },
      "id": "GoogleCloudApigeeV1ResourceConfig",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListApiProxiesResponse": {
      "description": "To change this message, in the same CL add a change log in go/changing-api-proto-breaks-ui",
      "properties": {
        "proxies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ApiProxy"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1ListApiProxiesResponse"
    },
    "GoogleCloudApigeeV1Properties": {
      "id": "GoogleCloudApigeeV1Properties",
      "description": "Message for compatibility with legacy Edge specification for Java Properties object in JSON.",
      "properties": {
        "property": {
          "description": "List of all properties in the object",
          "items": {
            "$ref": "GoogleCloudApigeeV1Property"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1GraphQLOperationGroup": {
      "id": "GoogleCloudApigeeV1GraphQLOperationGroup",
      "type": "object",
      "description": "List of graphQL operation configuration details associated with Apigee API proxies or remote services. Remote services are non-Apigee proxies, such as Istio-Envoy.",
      "properties": {
        "operationConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1GraphQLOperationConfig"
          },
          "description": "Required. List of operation configurations for either Apigee API proxies or other remote services that are associated with this API product."
        },
        "operationConfigType": {
          "description": "Flag that specifies whether the configuration is for Apigee API proxy or a remote service. Valid values include `proxy` or `remoteservice`. Defaults to `proxy`. Set to `proxy` when Apigee API proxies are associated with the API product. Set to `remoteservice` when non-Apigee proxies like Istio-Envoy are associated with the API product.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1RuntimeConfig": {
      "description": "Runtime configuration for the organization. Response for GetRuntimeConfig.",
      "properties": {
        "tenantProjectId": {
          "description": "Output only. Tenant project ID associated with the Apigee organization. The tenant project is used to host Google-managed resources that are dedicated to this Apigee organization. Clients have limited access to resources within the tenant project used to support Apigee runtime instances. Access to the tenant project is managed using SetSyncAuthorization. It can be empty if the tenant project hasn't been created yet.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Name of the resource in the following format: `organizations/{org}/runtimeConfig`.",
          "type": "string"
        },
        "analyticsBucket": {
          "description": "Cloud Storage bucket used for uploading Analytics records.",
          "type": "string"
        },
        "traceBucket": {
          "type": "string",
          "description": "Cloud Storage bucket used for uploading Trace records."
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1RuntimeConfig"
    },
    "GoogleCloudApigeeV1DateRange": {
      "properties": {
        "end": {
          "type": "string",
          "description": "Required. End date (exclusive) of the data to export in the format `yyyy-mm-dd`. The date range ends at 00:00:00 UTC on the end date- which will not be in the output."
        },
        "start": {
          "type": "string",
          "description": "Required. Start date of the data to export in the format `yyyy-mm-dd`. The date range begins at 00:00:00 UTC on the start date."
        }
      },
      "description": "Date range of the data to export.",
      "id": "GoogleCloudApigeeV1DateRange",
      "type": "object"
    },
    "GoogleCloudApigeeV1RevisionStatus": {
      "properties": {
        "errors": {
          "description": "Errors reported when attempting to load this revision.",
          "items": {
            "$ref": "GoogleCloudApigeeV1UpdateError"
          },
          "type": "array"
        },
        "jsonSpec": {
          "type": "string",
          "description": "The json content of the resource revision. Large specs should be sent individually via the spec field to avoid hitting request size limits."
        },
        "revisionId": {
          "type": "string",
          "description": "The revision of the resource."
        },
        "replicas": {
          "description": "The number of replicas that have successfully loaded this revision.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudApigeeV1RevisionStatus",
      "type": "object",
      "description": "The status of a specific resource revision."
    },
    "GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRevision": {
      "id": "GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRevision",
      "properties": {
        "percentage": {
          "type": "integer",
          "description": "Percentage of MP replicas reporting this revision.",
          "format": "int32"
        },
        "revision": {
          "description": "API proxy revision reported as deployed.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Revisions deployed in the MPs."
    },
    "GoogleCloudApigeeV1TraceSamplingConfig": {
      "description": "TraceSamplingConfig represents the detail settings of distributed tracing. Only the fields that are defined in the distributed trace configuration can be overridden using the distribute trace configuration override APIs.",
      "id": "GoogleCloudApigeeV1TraceSamplingConfig",
      "properties": {
        "sampler": {
          "type": "string",
          "description": "Sampler of distributed tracing. OFF is the default value.",
          "enum": [
            "SAMPLER_UNSPECIFIED",
            "OFF",
            "PROBABILITY"
          ],
          "enumDescriptions": [
            "Sampler unspecified.",
            "OFF means distributed trace is disabled, or the sampling probability is 0.",
            "PROBABILITY means traces are captured on a probability that defined by sampling_rate. The sampling rate is limited to 0 to 0.5 when this is set."
          ]
        },
        "samplingRate": {
          "format": "float",
          "description": "Field sampling rate. This value is only applicable when using the PROBABILITY sampler. The supported values are \u003e 0 and \u003c= 0.5.",
          "type": "number"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1PodStatus": {
      "type": "object",
      "properties": {
        "podName": {
          "description": "Name of the pod which is reporting the status.",
          "type": "string"
        },
        "statusCode": {
          "type": "string",
          "description": "Code associated with the deployment status."
        },
        "statusCodeDetails": {
          "description": "Human-readable message associated with the status code.",
          "type": "string"
        },
        "podStatusTime": {
          "format": "int64",
          "type": "string",
          "description": "Time the pod status was reported in milliseconds since epoch."
        },
        "deploymentStatusTime": {
          "description": "Time the deployment status was reported in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        },
        "appVersion": {
          "type": "string",
          "description": "Version of the application running in the pod."
        },
        "deploymentTime": {
          "description": "Time the proxy was deployed in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "podStatus": {
          "type": "string",
          "description": "Overall status of the pod (not this specific deployment). Valid values include: - `active`: Up to date. - `stale` : Recently out of date. Pods that have not reported status in a long time are excluded from the output."
        },
        "deploymentStatus": {
          "type": "string",
          "description": "Status of the deployment. Valid values include: - `deployed`: Successful. - `error` : Failed. - `pending` : Pod has not yet reported on the deployment."
        }
      },
      "id": "GoogleCloudApigeeV1PodStatus"
    },
    "GoogleCloudApigeeV1Session": {
      "type": "object",
      "properties": {
        "id": {
          "description": "The debug session ID.",
          "type": "string"
        },
        "timestampMs": {
          "type": "string",
          "description": "The first transaction creation timestamp in millisecond, recorded by UAP.",
          "format": "int64"
        }
      },
      "id": "GoogleCloudApigeeV1Session",
      "description": "Session carries the debug session id and its creation time."
    },
    "GoogleCloudApigeeV1ListAppsResponse": {
      "type": "object",
      "id": "GoogleCloudApigeeV1ListAppsResponse",
      "properties": {
        "app": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1App"
          }
        }
      }
    },
    "GoogleCloudApigeeV1DeveloperMonetizationConfig": {
      "properties": {
        "billingType": {
          "enum": [
            "BILLING_TYPE_UNSPECIFIED",
            "PREPAID",
            "POSTPAID"
          ],
          "description": "Billing type.",
          "enumDescriptions": [
            "The default/unset value.",
            "Developer pays in advance for the use of APIs and the charged amount is deducted from their account balance.",
            "Developer does not maintain an account balance. The API provider bills the developer for API usage."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Monetization configuration for the developer.",
      "id": "GoogleCloudApigeeV1DeveloperMonetizationConfig"
    },
    "GoogleCloudApigeeV1EntityMetadata": {
      "id": "GoogleCloudApigeeV1EntityMetadata",
      "type": "object",
      "properties": {
        "lastModifiedAt": {
          "format": "int64",
          "description": "Time at which the API proxy was most recently modified, in milliseconds since epoch.",
          "type": "string"
        },
        "subType": {
          "description": "The type of entity described",
          "type": "string"
        },
        "createdAt": {
          "format": "int64",
          "description": "Time at which the API proxy was created, in milliseconds since epoch.",
          "type": "string"
        }
      },
      "description": "Metadata common to many entities in this API."
    },
    "GoogleCloudApigeeV1Datastore": {
      "type": "object",
      "properties": {
        "lastUpdateTime": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Datastore last update time, in milliseconds since the epoch of 1970-01-01T00:00:00Z",
          "readOnly": true
        },
        "self": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource link of Datastore. Example: `/organizations/{org}/analytics/datastores/{uuid}`"
        },
        "displayName": {
          "description": "Required. Display name in UI",
          "type": "string"
        },
        "datastoreConfig": {
          "$ref": "GoogleCloudApigeeV1DatastoreConfig",
          "description": "Datastore Configurations."
        },
        "org": {
          "readOnly": true,
          "description": "Output only. Organization that the datastore belongs to",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Datastore create time, in milliseconds since the epoch of 1970-01-01T00:00:00Z",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "targetType": {
          "type": "string",
          "description": "Destination storage type. Supported types `gcs` or `bigquery`."
        }
      },
      "id": "GoogleCloudApigeeV1Datastore",
      "description": "The data store defines the connection to export data repository (Cloud Storage, BigQuery), including the credentials used to access the data repository."
    },
    "GoogleCloudApigeeV1SyncAuthorization": {
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "Entity tag (ETag) used for optimistic concurrency control as a way to help prevent simultaneous updates from overwriting each other. For example, when you call [getSyncAuthorization](organizations/getSyncAuthorization) an ETag is returned in the response. Pass that ETag when calling the [setSyncAuthorization](organizations/setSyncAuthorization) to ensure that you are updating the correct version. If you don't pass the ETag in the call to `setSyncAuthorization`, then the existing authorization is overwritten indiscriminately. **Note**: We strongly recommend that you use the ETag in the read-modify-write cycle to avoid race conditions."
        },
        "identities": {
          "description": "Required. Array of service accounts to grant access to control plane resources, each specified using the following format: `serviceAccount:` service-account-name. The service-account-name is formatted like an email address. For example: `my-synchronizer-manager-service_account@my_project_id.iam.gserviceaccount.com` You might specify multiple service accounts, for example, if you have multiple environments and wish to assign a unique service account to each one. The service accounts must have **Apigee Synchronizer Manager** role. See also [Create service accounts](https://cloud.google.com/apigee/docs/hybrid/latest/sa-about#create-the-service-accounts).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudApigeeV1SyncAuthorization"
    },
    "GoogleCloudApigeeV1GetAsyncQueryResultUrlResponse": {
      "id": "GoogleCloudApigeeV1GetAsyncQueryResultUrlResponse",
      "properties": {
        "urls": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1GetAsyncQueryResultUrlResponseURLInfo"
          },
          "description": "The list of Signed URLs generated by the CreateAsyncQuery request"
        }
      },
      "type": "object",
      "description": "The response for GetAsyncQueryResultUrl"
    },
    "GoogleCloudApigeeV1ApiResponseWrapper": {
      "id": "GoogleCloudApigeeV1ApiResponseWrapper",
      "type": "object",
      "properties": {
        "errorCode": {
          "description": "ID that can be used to find errors in the log files.",
          "type": "string"
        },
        "status": {
          "description": "Status of the operation.",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "Description of the operation."
        },
        "requestId": {
          "type": "string",
          "description": "ID that can be used to find request details in the log files."
        }
      }
    },
    "GoogleCloudApigeeV1ListEnvironmentGroupAttachmentsResponse": {
      "description": "Response for ListEnvironmentGroupAttachments.",
      "id": "GoogleCloudApigeeV1ListEnvironmentGroupAttachmentsResponse",
      "type": "object",
      "properties": {
        "environmentGroupAttachments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1EnvironmentGroupAttachment"
          },
          "description": "EnvironmentGroupAttachments for the specified environment group."
        },
        "nextPageToken": {
          "description": "Page token that you can include in a ListEnvironmentGroupAttachments request to retrieve the next page. If omitted, no subsequent pages exist.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1DeveloperSubscription": {
      "properties": {
        "apiproduct": {
          "type": "string",
          "description": "Name of the API product for which the developer is purchasing a subscription."
        },
        "lastModifiedAt": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Time when the API product subscription was last modified in milliseconds since epoch."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the API product subscription."
        },
        "createdAt": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Time when the API product subscription was created in milliseconds since epoch."
        },
        "startTime": {
          "type": "string",
          "description": "Time when the API product subscription starts in milliseconds since epoch.",
          "format": "int64"
        },
        "endTime": {
          "type": "string",
          "description": "Time when the API product subscription ends in milliseconds since epoch.",
          "format": "int64"
        }
      },
      "id": "GoogleCloudApigeeV1DeveloperSubscription",
      "description": "Structure of a DeveloperSubscription.",
      "type": "object"
    },
    "GoogleCloudApigeeV1Developer": {
      "properties": {
        "developerId": {
          "description": "ID of the developer. **Note**: IDs are generated internally by Apigee and are not guaranteed to stay the same over time.",
          "type": "string"
        },
        "createdAt": {
          "type": "string",
          "description": "Output only. Time at which the developer was created in milliseconds since epoch.",
          "format": "int64",
          "readOnly": true
        },
        "email": {
          "description": "Required. Email address of the developer. This value is used to uniquely identify the developer in Apigee hybrid. Note that the email address has to be in lowercase only.",
          "type": "string"
        },
        "firstName": {
          "type": "string",
          "description": "Required. First name of the developer."
        },
        "accessType": {
          "type": "string",
          "description": "Access type."
        },
        "companies": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of companies associated with the developer."
        },
        "lastName": {
          "type": "string",
          "description": "Required. Last name of the developer."
        },
        "attributes": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "type": "array",
          "description": "Optional. Developer attributes (name/value pairs). The custom attribute limit is 18."
        },
        "organizationName": {
          "description": "Output only. Name of the Apigee organization in which the developer resides.",
          "readOnly": true,
          "type": "string"
        },
        "status": {
          "description": "Output only. Status of the developer. Valid values are `active` and `inactive`.",
          "readOnly": true,
          "type": "string"
        },
        "userName": {
          "description": "Required. User name of the developer. Not used by Apigee hybrid.",
          "type": "string"
        },
        "lastModifiedAt": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Time at which the developer was last modified in milliseconds since epoch.",
          "readOnly": true
        },
        "apps": {
          "type": "array",
          "description": "List of apps associated with the developer.",
          "items": {
            "type": "string"
          }
        },
        "appFamily": {
          "type": "string",
          "description": "Developer app family."
        }
      },
      "id": "GoogleCloudApigeeV1Developer",
      "type": "object"
    },
    "GoogleCloudApigeeV1DeploymentConfig": {
      "properties": {
        "basePath": {
          "description": "Base path where the application will be hosted. Defaults to \"/\".",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Location of the API proxy bundle as a URI."
        },
        "attributes": {
          "description": "Additional key-value metadata for the deployment.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "proxyUid": {
          "description": "Unique ID of the API proxy revision.",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "Unique ID. The ID will only change if the deployment is deleted and recreated."
        },
        "serviceAccount": {
          "type": "string",
          "description": "The service account identity associated with this deployment. If non-empty, will be in the following format: `projects/-/serviceAccounts/{account_email}`"
        },
        "name": {
          "type": "string",
          "description": "Name of the API or shared flow revision to be deployed in the following format: `organizations/{org}/apis/{api}/revisions/{rev}` or `organizations/{org}/sharedflows/{sharedflow}/revisions/{rev}`"
        }
      },
      "type": "object",
      "description": "NEXT ID: 9",
      "id": "GoogleCloudApigeeV1DeploymentConfig"
    },
    "GoogleCloudApigeeV1EndpointAttachment": {
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "UPDATING"
          ],
          "description": "Output only. State of the endpoint attachment. Values other than `ACTIVE` mean the resource is not ready to use.",
          "type": "string",
          "enumDescriptions": [
            "Resource is in an unspecified state.",
            "Resource is being created.",
            "Resource is provisioned and ready to use.",
            "The resource is being deleted.",
            "The resource is being updated."
          ],
          "readOnly": true
        },
        "host": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Host that can be used in either the HTTP target endpoint directly or as the host in target server."
        },
        "location": {
          "description": "Required. Location of the endpoint attachment.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the endpoint attachment. Use the following structure in your request: `organizations/{org}/endpointAttachments/{endpoint_attachment}`"
        },
        "serviceAttachment": {
          "type": "string",
          "description": "Format: projects/*/regions/*/serviceAttachments/*"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1EndpointAttachment",
      "description": "Apigee endpoint attachment. For more information, see Southbound networking patterns."
    },
    "GoogleCloudApigeeV1Export": {
      "properties": {
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Status of the export job. Valid values include `enqueued`, `running`, `completed`, and `failed`."
        },
        "updated": {
          "description": "Output only. Time the export job was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "datastoreName": {
          "description": "Name of the datastore that is the destination of the export job [datastore]",
          "type": "string"
        },
        "created": {
          "description": "Output only. Time the export job was created.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Description of the export job.",
          "type": "string"
        },
        "self": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Self link of the export job. A URI that can be used to retrieve the status of an export job. Example: `/organizations/myorg/environments/myenv/analytics/exports/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd`"
        },
        "executionTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Execution time for this export job. If the job is still in progress, it will be set to the amount of time that has elapsed since`created`, in seconds. Else, it will set to (`updated` - `created`), in seconds."
        },
        "error": {
          "description": "Output only. Error is set when export fails",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Display name of the export job."
        }
      },
      "id": "GoogleCloudApigeeV1Export",
      "type": "object",
      "description": "Details of an export job."
    },
    "GoogleCloudApigeeV1InstanceDeploymentStatus": {
      "properties": {
        "deployedRoutes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRoute"
          },
          "description": "Current routes deployed in the ingress routing table. A route which is missing will appear in `missing_routes`."
        },
        "deployedRevisions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRevision"
          },
          "description": "Revisions currently deployed in MPs."
        },
        "instance": {
          "description": "ID of the instance reporting the status.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The status of a deployment as reported by a single instance.",
      "id": "GoogleCloudApigeeV1InstanceDeploymentStatus"
    },
    "GoogleCloudApigeeV1ExportRequest": {
      "id": "GoogleCloudApigeeV1ExportRequest",
      "properties": {
        "outputFormat": {
          "description": "Optional. Output format of the export. Valid values include: `csv` or `json`. Defaults to `json`. Note: Configure the delimiter for CSV output using the `csvDelimiter` property.",
          "type": "string"
        },
        "dateRange": {
          "$ref": "GoogleCloudApigeeV1DateRange",
          "description": "Required. Date range of the data to export."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the export job."
        },
        "name": {
          "type": "string",
          "description": "Required. Display name of the export job."
        },
        "datastoreName": {
          "description": "Required. Name of the preconfigured datastore.",
          "type": "string"
        },
        "csvDelimiter": {
          "description": "Optional. Delimiter used in the CSV file, if `outputFormat` is set to `csv`. Defaults to the `,` (comma) character. Supported delimiter characters include comma (`,`), pipe (`|`), and tab (`\\t`).",
          "type": "string"
        }
      },
      "description": "Request body for [CreateExportRequest]",
      "type": "object"
    },
    "GoogleCloudApigeeV1Query": {
      "id": "GoogleCloudApigeeV1Query",
      "properties": {
        "limit": {
          "format": "int32",
          "description": "Maximum number of rows that can be returned in the result.",
          "type": "integer"
        },
        "metrics": {
          "type": "array",
          "description": "A list of Metrics.",
          "items": {
            "$ref": "GoogleCloudApigeeV1QueryMetric"
          }
        },
        "csvDelimiter": {
          "type": "string",
          "description": "Delimiter used in the CSV file, if `outputFormat` is set to `csv`. Defaults to the `,` (comma) character. Supported delimiter characters include comma (`,`), pipe (`|`), and tab (`\\t`)."
        },
        "name": {
          "type": "string",
          "description": "Asynchronous Query Name."
        },
        "timeRange": {
          "type": "any",
          "description": "Required. Time range for the query. Can use the following predefined strings to specify the time range: `last60minutes` `last24hours` `last7days` Or, specify the timeRange as a structure describing start and end timestamps in the ISO format: yyyy-mm-ddThh:mm:ssZ. Example: \"timeRange\": { \"start\": \"2018-07-29T00:13:00Z\", \"end\": \"2018-08-01T00:18:00Z\" }"
        },
        "outputFormat": {
          "type": "string",
          "description": "Valid values include: `csv` or `json`. Defaults to `json`. Note: Configure the delimiter for CSV output using the csvDelimiter property."
        },
        "dimensions": {
          "description": "A list of dimensions. https://docs.apigee.com/api-platform/analytics/analytics-reference#dimensions",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "envgroupHostname": {
          "type": "string",
          "description": "Hostname needs to be specified if query intends to run at host level. This field is only allowed when query is submitted by CreateHostAsyncQuery where analytics data will be grouped by organization and hostname."
        },
        "groupByTimeUnit": {
          "description": "Time unit used to group the result set. Valid values include: second, minute, hour, day, week, or month. If a query includes groupByTimeUnit, then the result is an aggregation based on the specified time unit and the resultant timestamp does not include milliseconds precision. If a query omits groupByTimeUnit, then the resultant timestamp includes milliseconds precision.",
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "Boolean expression that can be used to filter data. Filter expressions can be combined using AND/OR terms and should be fully parenthesized to avoid ambiguity. See Analytics metrics, dimensions, and filters reference https://docs.apigee.com/api-platform/analytics/analytics-reference for more information on the fields available to filter on. For more information on the tokens that you use to build filter expressions, see Filter expression syntax. https://docs.apigee.com/api-platform/analytics/asynch-reports-api#filter-expression-syntax"
        },
        "reportDefinitionId": {
          "description": "Asynchronous Report ID.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1GetSyncAuthorizationRequest": {
      "description": "Request for GetSyncAuthorization.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudApigeeV1GetSyncAuthorizationRequest"
    },
    "GoogleCloudApigeeV1OperationGroup": {
      "id": "GoogleCloudApigeeV1OperationGroup",
      "description": "List of operation configuration details associated with Apigee API proxies or remote services. Remote services are non-Apigee proxies, such as Istio-Envoy.",
      "type": "object",
      "properties": {
        "operationConfigs": {
          "description": "Required. List of operation configurations for either Apigee API proxies or other remote services that are associated with this API product.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1OperationConfig"
          }
        },
        "operationConfigType": {
          "type": "string",
          "description": "Flag that specifes whether the configuration is for Apigee API proxy or a remote service. Valid values include `proxy` or `remoteservice`. Defaults to `proxy`. Set to `proxy` when Apigee API proxies are associated with the API product. Set to `remoteservice` when non-Apigee proxies like Istio-Envoy are associated with the API product."
        }
      }
    },
    "GoogleCloudApigeeV1EnvironmentGroupConfig": {
      "description": "EnvironmentGroupConfig is a revisioned snapshot of an EnvironmentGroup and its associated routing rules.",
      "type": "object",
      "id": "GoogleCloudApigeeV1EnvironmentGroupConfig",
      "properties": {
        "hostnames": {
          "type": "array",
          "description": "Host names for the environment group.",
          "items": {
            "type": "string"
          }
        },
        "revisionId": {
          "format": "int64",
          "description": "Revision id that defines the ordering of the EnvironmentGroupConfig resource. The higher the revision, the more recently the configuration was deployed.",
          "type": "string"
        },
        "uid": {
          "description": "A unique id for the environment group config that will only change if the environment group is deleted and recreated.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the environment group in the following format: `organizations/{org}/envgroups/{envgroup}`."
        },
        "routingRules": {
          "items": {
            "$ref": "GoogleCloudApigeeV1RoutingRule"
          },
          "description": "Ordered list of routing rules defining how traffic to this environment group's hostnames should be routed to different environments.",
          "type": "array"
        }
      }
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "type": "object",
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      }
    },
    "GoogleCloudApigeeV1ConnectorsPlatformConfig": {
      "type": "object",
      "properties": {
        "expiresAt": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Time at which the Connectors Platform add-on expires in milliseconds since epoch. If unspecified, the add-on will never expire.",
          "readOnly": true
        },
        "enabled": {
          "description": "Flag that specifies whether the Connectors Platform add-on is enabled.",
          "type": "boolean"
        }
      },
      "description": "Configuration for the Connectors Platform add-on.",
      "id": "GoogleCloudApigeeV1ConnectorsPlatformConfig"
    },
    "GoogleIamV1Binding": {
      "id": "GoogleIamV1Binding",
      "properties": {
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "GoogleTypeExpr"
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        }
      },
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`."
    },
    "GoogleCloudApigeeV1ListEnvironmentResourcesResponse": {
      "description": "Response for ListEnvironmentResources",
      "id": "GoogleCloudApigeeV1ListEnvironmentResourcesResponse",
      "properties": {
        "resourceFile": {
          "items": {
            "$ref": "GoogleCloudApigeeV1ResourceFile"
          },
          "description": "List of resources files.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1IntegrationConfig": {
      "id": "GoogleCloudApigeeV1IntegrationConfig",
      "description": "Configuration for the Integration add-on.",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Flag that specifies whether the Integration add-on is enabled."
        }
      }
    },
    "GoogleCloudApigeeV1Stats": {
      "properties": {
        "metaData": {
          "description": "Metadata information.",
          "$ref": "GoogleCloudApigeeV1Metadata"
        },
        "environments": {
          "description": "List of query results on the environment level.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1StatsEnvironmentStats"
          }
        },
        "hosts": {
          "description": "List of query results grouped by host.",
          "items": {
            "$ref": "GoogleCloudApigeeV1StatsHostStats"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudApigeeV1Stats",
      "type": "object",
      "description": "Encapsulates a `stats` response."
    },
    "GoogleCloudApigeeV1GraphQLOperation": {
      "properties": {
        "operation": {
          "description": "GraphQL operation name. The name and operation type will be used to apply quotas. If no name is specified, the quota will be applied to all GraphQL operations irrespective of their operation names in the payload.",
          "type": "string"
        },
        "operationTypes": {
          "type": "array",
          "description": "Required. GraphQL operation types. Valid values include `query` or `mutation`. **Note**: Apigee does not currently support `subscription` types.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudApigeeV1GraphQLOperation",
      "type": "object",
      "description": "Represents the pairing of GraphQL operation types and the GraphQL operation name."
    },
    "GoogleCloudApigeeV1TlsInfo": {
      "id": "GoogleCloudApigeeV1TlsInfo",
      "properties": {
        "keyAlias": {
          "description": "Required if `client_auth_enabled` is true. The resource ID for the alias containing the private key and cert.",
          "type": "string"
        },
        "ciphers": {
          "description": "The SSL/TLS cipher suites to be used. For programmable proxies, it must be one of the cipher suite names listed in: http://docs.oracle.com/javase/8/docs/technotes/guides/security/StandardNames.html#ciphersuites. For configurable proxies, it must follow the configuration specified in: https://commondatastorage.googleapis.com/chromium-boringssl-docs/ssl.h.html#Cipher-suite-configuration. This setting has no effect for configurable proxies when negotiating TLS 1.3.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "commonName": {
          "$ref": "GoogleCloudApigeeV1TlsInfoCommonName",
          "description": "The TLS Common Name of the certificate."
        },
        "trustStore": {
          "description": "The resource ID of the truststore.",
          "type": "string"
        },
        "keyStore": {
          "type": "string",
          "description": "Required if `client_auth_enabled` is true. The resource ID of the keystore."
        },
        "protocols": {
          "description": "The TLS versioins to be used.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "ignoreValidationErrors": {
          "type": "boolean",
          "description": "If true, Edge ignores TLS certificate errors. Valid when configuring TLS for target servers and target endpoints, and when configuring virtual hosts that use 2-way TLS. When used with a target endpoint/target server, if the backend system uses SNI and returns a cert with a subject Distinguished Name (DN) that does not match the hostname, there is no way to ignore the error and the connection fails."
        },
        "enabled": {
          "type": "boolean",
          "description": "Required. Enables TLS. If false, neither one-way nor two-way TLS will be enabled."
        },
        "clientAuthEnabled": {
          "description": "Optional. Enables two-way TLS.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "TLS configuration information for virtual hosts and TargetServers."
    },
    "GoogleCloudApigeeV1ReportInstanceStatusResponse": {
      "type": "object",
      "properties": {},
      "description": "Placeholder for future enhancements to status reporting protocol",
      "id": "GoogleCloudApigeeV1ReportInstanceStatusResponse"
    },
    "GoogleCloudApigeeV1OperationMetadata": {
      "type": "object",
      "id": "GoogleCloudApigeeV1OperationMetadata",
      "properties": {
        "operationType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "INSERT",
            "DELETE",
            "UPDATE"
          ]
        },
        "warnings": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Warnings encountered while executing the operation."
        },
        "progress": {
          "description": "Progress of the operation.",
          "$ref": "GoogleCloudApigeeV1OperationMetadataProgress"
        },
        "targetResourceName": {
          "description": "Name of the resource for which the operation is operating on.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "FINISHED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "description": "Metadata describing an Operation."
    },
    "GoogleCloudApigeeV1OperationMetadataProgress": {
      "description": "Information about operation progress.",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "FINISHED"
          ],
          "type": "string",
          "description": "State of the operation.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "details": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "The additional details of the progress."
        },
        "description": {
          "description": "Description of the operation's progress.",
          "type": "string"
        },
        "percentDone": {
          "type": "integer",
          "description": "The percentage of the operation progress.",
          "format": "int32"
        }
      },
      "id": "GoogleCloudApigeeV1OperationMetadataProgress",
      "type": "object"
    },
    "GoogleCloudApigeeV1ResourceFiles": {
      "id": "GoogleCloudApigeeV1ResourceFiles",
      "type": "object",
      "properties": {
        "resourceFile": {
          "type": "array",
          "description": "List of resource files.",
          "items": {
            "$ref": "GoogleCloudApigeeV1ResourceFile"
          }
        }
      },
      "description": "List of resource files."
    },
    "GoogleCloudApigeeV1DebugMask": {
      "id": "GoogleCloudApigeeV1DebugMask",
      "type": "object",
      "properties": {
        "variables": {
          "type": "array",
          "description": "List of variables that should be masked from the debug output.",
          "items": {
            "type": "string"
          }
        },
        "faultJSONPaths": {
          "description": "List of JSON paths that specify the JSON elements to be filtered from JSON payloads in error flows.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "Name of the debug mask.",
          "type": "string"
        },
        "responseXPaths": {
          "description": "List of XPaths that specify the XML elements to be filtered from XML response message payloads.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "requestXPaths": {
          "description": "List of XPaths that specify the XML elements to be filtered from XML request message payloads.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "namespaces": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Map of namespaces to URIs."
        },
        "responseJSONPaths": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of JSON paths that specify the JSON elements to be filtered from JSON response message payloads."
        },
        "faultXPaths": {
          "description": "List of XPaths that specify the XML elements to be filtered from XML payloads in error flows.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "requestJSONPaths": {
          "type": "array",
          "description": "List of JSON paths that specify the JSON elements to be filtered from JSON request message payloads.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudApigeeV1OptimizedStats": {
      "type": "object",
      "id": "GoogleCloudApigeeV1OptimizedStats",
      "properties": {
        "Response": {
          "$ref": "GoogleCloudApigeeV1OptimizedStatsResponse",
          "description": "Wraps the `stats` response for JavaScript Optimized Scenario with a response key. For example: ```{ \"Response\": { \"TimeUnit\": [], \"metaData\": { \"errors\": [], \"notices\": [ \"Source:Postgres\", \"Table used: edge.api.aaxgroup001.agg_api\", \"PG Host:ruappg08-ro.production.apigeeks.net\", \"query served by:80c4ebca-6a10-4a2e-8faf-c60c1ee306ca\" ] }, \"resultTruncated\": false, \"stats\": { \"data\": [ { \"identifier\": { \"names\": [ \"apiproxy\" ], \"values\": [ \"sirjee\" ] }, \"metric\": [ { \"env\": \"prod\", \"name\": \"sum(message_count)\", \"values\": [ 36.0 ] }, { \"env\": \"prod\", \"name\": \"sum(is_error)\", \"values\": [ 36.0 ] } ] } ] } } }```"
        }
      }
    },
    "GoogleCloudApigeeV1Alias": {
      "description": "Reference to a certificate or key/certificate pair.",
      "properties": {
        "type": {
          "description": "Type of alias.",
          "type": "string",
          "enumDescriptions": [
            "Alias type is not specified.",
            "Certificate.",
            "Key/certificate pair."
          ],
          "enum": [
            "ALIAS_TYPE_UNSPECIFIED",
            "CERT",
            "KEY_CERT"
          ]
        },
        "alias": {
          "description": "Resource ID for this alias. Values must match the regular expression `[^/]{1,255}`.",
          "type": "string"
        },
        "certsInfo": {
          "description": "Chain of certificates under this alias.",
          "$ref": "GoogleCloudApigeeV1Certificate"
        }
      },
      "id": "GoogleCloudApigeeV1Alias",
      "type": "object"
    },
    "GoogleTypeExpr": {
      "properties": {
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "GoogleTypeExpr"
    },
    "GoogleCloudApigeeV1OptimizedStatsResponse": {
      "properties": {
        "metaData": {
          "$ref": "GoogleCloudApigeeV1Metadata",
          "description": "Metadata information about the query executed."
        },
        "stats": {
          "description": "`stats` results.",
          "$ref": "GoogleCloudApigeeV1OptimizedStatsNode"
        },
        "TimeUnit": {
          "description": "List of time unit values. Time unit refers to an epoch timestamp value.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "resultTruncated": {
          "type": "boolean",
          "description": "Boolean flag that indicates whether the results were truncated based on the limit parameter."
        }
      },
      "id": "GoogleCloudApigeeV1OptimizedStatsResponse",
      "description": "Encapsulates a response format for JavaScript Optimized Scenario.",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListKeyValueEntriesResponse": {
      "description": "The request structure for listing Key value map keys and its corrresponding values.",
      "id": "GoogleCloudApigeeV1ListKeyValueEntriesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `next_page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "keyValueEntries": {
          "items": {
            "$ref": "GoogleCloudApigeeV1KeyValueEntry"
          },
          "description": "One or more key value map keys and values.",
          "type": "array"
        }
      }
    },
    "GoogleCloudApigeeV1AsyncQueryResultView": {
      "properties": {
        "metadata": {
          "$ref": "GoogleCloudApigeeV1QueryMetadata",
          "description": "Metadata contains information like metrics, dimenstions etc of the AsyncQuery."
        },
        "rows": {
          "type": "array",
          "items": {
            "type": "any"
          },
          "description": "Rows of query result. Each row is a JSON object. Example: {sum(message_count): 1, developer_app: \"(not set)\",…}"
        },
        "state": {
          "type": "string",
          "description": "State of retrieving ResultView."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "Error code when there is a failure."
        },
        "error": {
          "description": "Error message when there is a failure.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1AsyncQueryResultView",
      "type": "object"
    },
    "GoogleCloudApigeeV1CanaryEvaluation": {
      "id": "GoogleCloudApigeeV1CanaryEvaluation",
      "description": "CanaryEvaluation represents the canary analysis between two versions of the runtime that is serving requests.",
      "properties": {
        "treatment": {
          "type": "string",
          "description": "Required. The newer version that is serving requests."
        },
        "metricLabels": {
          "$ref": "GoogleCloudApigeeV1CanaryEvaluationMetricLabels",
          "description": "Required. Labels used to filter the metrics used for a canary evaluation."
        },
        "verdict": {
          "description": "Output only. The resulting verdict of the canary evaluations: NONE, PASS, or FAIL.",
          "type": "string",
          "enum": [
            "VERDICT_UNSPECIFIED",
            "NONE",
            "FAIL",
            "PASS"
          ],
          "enumDescriptions": [
            "Verdict is not available yet.",
            "No verdict reached.",
            "Evaluation is not good.",
            "Evaluation is good."
          ],
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "No state has been specified.",
            "The canary evaluation is still in progress.",
            "The canary evaluation has finished."
          ],
          "description": "Output only. The current state of the canary evaluation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED"
          ]
        },
        "control": {
          "description": "Required. The stable version that is serving requests.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the canary evalution."
        },
        "startTime": {
          "type": "string",
          "description": "Required. Start time for the canary evaluation's analysis.",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. Create time of the canary evaluation.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Required. End time for the evaluation's analysis.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1DataCollector": {
      "description": "Data collector configuration.",
      "id": "GoogleCloudApigeeV1DataCollector",
      "properties": {
        "name": {
          "description": "ID of the data collector. Must begin with `dc_`.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Immutable. The type of data this data collector will collect.",
          "enumDescriptions": [
            "For future compatibility.",
            "For integer values.",
            "For float values.",
            "For string values.",
            "For boolean values.",
            "For datetime values."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "INTEGER",
            "FLOAT",
            "STRING",
            "BOOLEAN",
            "DATETIME"
          ]
        },
        "createdAt": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which the data collector was created in milliseconds since the epoch.",
          "format": "int64"
        },
        "description": {
          "description": "A description of the data collector.",
          "type": "string"
        },
        "lastModifiedAt": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The time at which the Data Collector was last updated in milliseconds since the epoch.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1CommonNameConfig": {
      "properties": {
        "name": {
          "type": "string"
        },
        "matchWildCards": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudApigeeV1CommonNameConfig",
      "type": "object"
    },
    "GoogleCloudApigeeV1Quota": {
      "id": "GoogleCloudApigeeV1Quota",
      "properties": {
        "interval": {
          "description": "Required. Time interval over which the number of request messages is calculated.",
          "type": "string"
        },
        "limit": {
          "type": "string",
          "description": "Required. Upper limit allowed for the time interval and time unit specified. Requests exceeding this limit will be rejected."
        },
        "timeUnit": {
          "description": "Time unit defined for the `interval`. Valid values include `minute`, `hour`, `day`, or `month`. If `limit` and `interval` are valid, the default value is `hour`; otherwise, the default is null.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Quota contains the essential parameters needed that can be applied on the resources, methods, API source combination associated with this API product. While Quota is optional, setting it prevents requests from exceeding the provisioned parameters."
    },
    "GoogleCloudApigeeV1CustomReportMetric": {
      "type": "object",
      "description": "This encapsulates a metric property of the form sum(message_count) where name is message_count and function is sum",
      "id": "GoogleCloudApigeeV1CustomReportMetric",
      "properties": {
        "name": {
          "description": "name of the metric",
          "type": "string"
        },
        "function": {
          "description": "aggregate function",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1TraceConfigOverride": {
      "id": "GoogleCloudApigeeV1TraceConfigOverride",
      "description": "A representation of a configuration override.",
      "type": "object",
      "properties": {
        "samplingConfig": {
          "description": "Trace configuration to override.",
          "$ref": "GoogleCloudApigeeV1TraceSamplingConfig"
        },
        "name": {
          "description": "ID of the trace configuration override specified as a system-generated UUID.",
          "type": "string"
        },
        "apiProxy": {
          "type": "string",
          "description": "ID of the API proxy that will have its trace configuration overridden."
        }
      }
    },
    "GoogleRpcStatus": {
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListDatastoresResponse": {
      "type": "object",
      "properties": {
        "datastores": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Datastore"
          },
          "description": "A list of datastores"
        }
      },
      "id": "GoogleCloudApigeeV1ListDatastoresResponse",
      "description": "The response for ListDatastores"
    },
    "GoogleCloudApigeeV1ResourceFile": {
      "id": "GoogleCloudApigeeV1ResourceFile",
      "properties": {
        "name": {
          "type": "string",
          "description": "ID of the resource file."
        },
        "type": {
          "description": "Resource file type. {{ resource_file_type }}",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Metadata about a resource file."
    },
    "GoogleCloudApigeeV1Certificate": {
      "id": "GoogleCloudApigeeV1Certificate",
      "type": "object",
      "properties": {
        "certInfo": {
          "description": "Chain of certificates under this name.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1CertInfo"
          }
        }
      }
    },
    "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment": {
      "properties": {
        "revision": {
          "type": "string",
          "description": "Name of the deployed API proxy revision containing the base path."
        },
        "environment": {
          "type": "string",
          "description": "Name of the environment in which the proxy is deployed."
        },
        "apiProxy": {
          "type": "string",
          "description": "Name of the deployed API proxy revision containing the base path."
        },
        "basepath": {
          "description": "Base path receiving traffic.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment",
      "type": "object",
      "description": "Tuple representing a base path and the deployment containing it."
    },
    "GoogleCloudApigeeV1NatAddress": {
      "type": "object",
      "properties": {
        "ipAddress": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The static IPV4 address."
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "RESERVED",
            "ACTIVE",
            "DELETING"
          ],
          "type": "string",
          "enumDescriptions": [
            "The resource is in an unspecified state.",
            "The NAT address is being created.",
            "The NAT address is reserved but not yet used for Internet egress.",
            "The NAT address is active and used for Internet egress.",
            "The NAT address is being deleted."
          ],
          "description": "Output only. State of the nat address."
        },
        "name": {
          "type": "string",
          "description": "Required. Resource ID of the NAT address."
        }
      },
      "description": "Apigee NAT(network address translation) address. A NAT address is a static external IP address used for Internet egress traffic.",
      "id": "GoogleCloudApigeeV1NatAddress"
    },
    "GoogleCloudApigeeV1ReportProperty": {
      "type": "object",
      "properties": {
        "value": {
          "description": "property values",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          }
        },
        "property": {
          "description": "name of the property",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1ReportProperty"
    },
    "GoogleCloudApigeeV1Environment": {
      "id": "GoogleCloudApigeeV1Environment",
      "properties": {
        "lastModifiedAt": {
          "description": "Output only. Last modification time of this environment as milliseconds since epoch.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Resource is in an unspecified state.",
            "Resource is being created.",
            "Resource is provisioned and ready to use.",
            "The resource is being deleted.",
            "The resource is being updated."
          ],
          "description": "Output only. State of the environment. Values other than ACTIVE means the resource is not ready to use.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "UPDATING"
          ]
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the environment. Values must match the regular expression `^[.\\\\p{Alnum}-_]{1,255}$`"
        },
        "properties": {
          "$ref": "GoogleCloudApigeeV1Properties",
          "description": "Optional. Key-value pairs that may be used for customizing the environment."
        },
        "createdAt": {
          "readOnly": true,
          "description": "Output only. Creation time of this environment as milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Display name for this environment."
        },
        "deploymentType": {
          "enum": [
            "DEPLOYMENT_TYPE_UNSPECIFIED",
            "PROXY",
            "ARCHIVE"
          ],
          "description": "Optional. Deployment type supported by the environment. The deployment type can be set when creating the environment and cannot be changed. When you enable archive deployment, you will be **prevented from performing** a [subset of actions](/apigee/docs/api-platform/local-development/overview#prevented-actions) within the environment, including: * Managing the deployment of API proxy or shared flow revisions * Creating, updating, or deleting resource files * Creating, updating, or deleting target servers",
          "type": "string",
          "enumDescriptions": [
            "Deployment type not specified.",
            "Proxy deployment enables you to develop and deploy API proxies using Apigee on Google Cloud. This cannot currently be combined with the CONFIGURABLE API proxy type.",
            "Archive deployment enables you to develop API proxies locally then deploy an archive of your API proxy configuration to an environment in Apigee on Google Cloud. You will be prevented from performing a [subset of actions](/apigee/docs/api-platform/local-development/overview#prevented-actions) within the environment."
          ]
        },
        "apiProxyType": {
          "enumDescriptions": [
            "API proxy type not specified.",
            "Programmable API Proxies enable you to develop APIs with highly flexible behavior using bundled policy configuration and one or more programming languages to describe complex sequential and/or conditional flows of logic.",
            "Configurable API Proxies enable you to develop efficient APIs using simple configuration while complex execution control flow logic is handled by Apigee. This type only works with the ARCHIVE deployment type and cannot be combined with the PROXY deployment type."
          ],
          "type": "string",
          "enum": [
            "API_PROXY_TYPE_UNSPECIFIED",
            "PROGRAMMABLE",
            "CONFIGURABLE"
          ],
          "description": "Optional. API Proxy type supported by the environment. The type can be set when creating the Environment and cannot be changed."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the environment."
        }
      },
      "type": "object"
    },
    "EdgeConfigstoreBundleBadBundleViolation": {
      "properties": {
        "filename": {
          "type": "string",
          "description": "The filename (including relative path from the bundle root) in which the error occurred."
        },
        "description": {
          "type": "string",
          "description": "A description of why the bundle is invalid and how to fix it."
        }
      },
      "description": "A message type used to describe a single bundle validation error.",
      "type": "object",
      "id": "EdgeConfigstoreBundleBadBundleViolation"
    },
    "GoogleCloudApigeeV1ReportInstanceStatusRequest": {
      "type": "object",
      "properties": {
        "reportTime": {
          "format": "google-datetime",
          "description": "The time the report was generated in the runtime. Used to prevent an old status from overwriting a newer one. An instance should space out it's status reports so that clock skew does not play a factor.",
          "type": "string"
        },
        "resources": {
          "description": "Status for config resources",
          "items": {
            "$ref": "GoogleCloudApigeeV1ResourceStatus"
          },
          "type": "array"
        },
        "instanceUid": {
          "type": "string",
          "description": "A unique ID for the instance which is guaranteed to be unique in case the user installs multiple hybrid runtimes with the same instance ID."
        }
      },
      "description": "Request for ReportInstanceStatus.",
      "id": "GoogleCloudApigeeV1ReportInstanceStatusRequest"
    },
    "GoogleCloudApigeeV1CertInfo": {
      "type": "object",
      "description": "X.509 certificate as defined in RFC 5280.",
      "properties": {
        "serialNumber": {
          "description": "X.509 serial number.",
          "type": "string"
        },
        "validFrom": {
          "description": "X.509 `notBefore` validity period in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "X.509 version."
        },
        "isValid": {
          "type": "string",
          "description": "Flag that specifies whether the certificate is valid. Flag is set to `Yes` if the certificate is valid, `No` if expired, or `Not yet` if not yet valid."
        },
        "publicKey": {
          "type": "string",
          "description": "Public key component of the X.509 subject public key info."
        },
        "basicConstraints": {
          "description": "X.509 basic constraints extension.",
          "type": "string"
        },
        "subjectAlternativeNames": {
          "description": "X.509 subject alternative names (SANs) extension.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "issuer": {
          "description": "X.509 issuer.",
          "type": "string"
        },
        "subject": {
          "type": "string",
          "description": "X.509 subject."
        },
        "expiryDate": {
          "description": "X.509 `notAfter` validity period in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "sigAlgName": {
          "type": "string",
          "description": "X.509 signatureAlgorithm."
        }
      },
      "id": "GoogleCloudApigeeV1CertInfo"
    },
    "GoogleCloudApigeeV1CreditDeveloperBalanceRequest": {
      "id": "GoogleCloudApigeeV1CreditDeveloperBalanceRequest",
      "description": "Request for CreditDeveloperBalance.",
      "type": "object",
      "properties": {
        "transactionId": {
          "description": "Each transaction_id uniquely identifies a credit balance request. If multiple requests are received with the same transaction_id, only one of them will be considered.",
          "type": "string"
        },
        "transactionAmount": {
          "description": "The amount of money to be credited. The wallet corresponding to the currency specified within `transaction_amount` will be updated. For example, if you specified `currency_code` within `transaction_amount` as \"USD\", then the amount would be added to the wallet which has the \"USD\" currency or if no such wallet exists, a new wallet will be created with the \"USD\" currency.",
          "$ref": "GoogleTypeMoney"
        }
      }
    },
    "GoogleCloudApigeeV1DeveloperBalanceWallet": {
      "type": "object",
      "properties": {
        "lastCreditTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time at which the developer last added credit to the account in milliseconds since epoch.",
          "format": "int64"
        },
        "balance": {
          "$ref": "GoogleTypeMoney",
          "description": "Current remaining balance of the developer for a particular currency."
        }
      },
      "description": "Wallet used to manage an account balance for a particular currency.",
      "id": "GoogleCloudApigeeV1DeveloperBalanceWallet"
    },
    "GoogleCloudApigeeV1ListRatePlansResponse": {
      "id": "GoogleCloudApigeeV1ListRatePlansResponse",
      "description": "Response for ListRatePlans.",
      "type": "object",
      "properties": {
        "nextStartKey": {
          "type": "string",
          "description": "Value that can be sent as `startKey` to retrieve the next page of content. If this field is omitted, there are no subsequent pages."
        },
        "ratePlans": {
          "items": {
            "$ref": "GoogleCloudApigeeV1RatePlan"
          },
          "description": "List of rate plans in an organization.",
          "type": "array"
        }
      }
    },
    "GoogleCloudApigeeV1CustomReport": {
      "properties": {
        "organization": {
          "readOnly": true,
          "description": "Output only. Organization name",
          "type": "string"
        },
        "environment": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Environment name"
        },
        "sortOrder": {
          "type": "string",
          "description": "Legacy field: not used much. Contains the sort order for the sort columns"
        },
        "comments": {
          "description": "Legacy field: not used. This field contains a list of comments associated with custom report",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Required. Unique identifier for the report T his is a legacy field used to encode custom report unique id"
        },
        "filter": {
          "description": "This field contains the filter expression",
          "type": "string"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Legacy field: not used. This field contains a list of tags associated with custom report"
        },
        "topk": {
          "type": "string",
          "description": "Legacy field: not used. This field contains the top k parameter value for restricting the result"
        },
        "createdAt": {
          "description": "Output only. Unix time when the app was created json key: createdAt",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "type": "array",
          "description": "This field contains report properties such as ui metadata etc.",
          "items": {
            "$ref": "GoogleCloudApigeeV1ReportProperty"
          }
        },
        "dimensions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "This contains the list of dimensions for the report"
        },
        "fromTime": {
          "type": "string",
          "description": "Legacy field: not used. Contains the from time for the report"
        },
        "sortByCols": {
          "description": "Legacy field: not used much. Contains the list of sort by columns",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "timeUnit": {
          "description": "This field contains the time unit of aggregation for the report",
          "type": "string"
        },
        "offset": {
          "type": "string",
          "description": "Legacy field: not used. This field contains the offset for the data"
        },
        "lastViewedAt": {
          "type": "string",
          "description": "Output only. Last viewed time of this entity as milliseconds since epoch",
          "format": "int64",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "This is the display name for the report"
        },
        "metrics": {
          "items": {
            "$ref": "GoogleCloudApigeeV1CustomReportMetric"
          },
          "description": "Required. This contains the list of metrics",
          "type": "array"
        },
        "lastModifiedAt": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Modified time of this entity as milliseconds since epoch. json key: lastModifiedAt"
        },
        "toTime": {
          "description": "Legacy field: not used. Contains the end time for the report",
          "type": "string"
        },
        "chartType": {
          "type": "string",
          "description": "This field contains the chart type for the report"
        },
        "limit": {
          "type": "string",
          "description": "Legacy field: not used This field contains the limit for the result retrieved"
        }
      },
      "id": "GoogleCloudApigeeV1CustomReport",
      "type": "object"
    },
    "GoogleCloudApigeeV1TestDatastoreResponse": {
      "id": "GoogleCloudApigeeV1TestDatastoreResponse",
      "properties": {
        "state": {
          "description": "Output only. It could be `completed` or `failed`",
          "readOnly": true,
          "type": "string"
        },
        "error": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Error message of test connection failure"
        }
      },
      "type": "object",
      "description": "The response for TestDatastore"
    },
    "GoogleCloudApigeeV1AsyncQuery": {
      "type": "object",
      "id": "GoogleCloudApigeeV1AsyncQuery",
      "properties": {
        "self": {
          "type": "string",
          "description": "Self link of the query. Example: `/organizations/myorg/environments/myenv/queries/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd` or following format if query is running at host level: `/organizations/myorg/hostQueries/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd`"
        },
        "created": {
          "type": "string",
          "description": "Creation time of the query."
        },
        "reportDefinitionId": {
          "description": "Asynchronous Report ID.",
          "type": "string"
        },
        "error": {
          "description": "Error is set when query fails.",
          "type": "string"
        },
        "resultFileSize": {
          "description": "ResultFileSize is available only after the query is completed.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Asynchronous Query Name."
        },
        "queryParams": {
          "$ref": "GoogleCloudApigeeV1QueryMetadata",
          "description": "Contains information like metrics, dimenstions etc of the AsyncQuery."
        },
        "state": {
          "description": "Query state could be \"enqueued\", \"running\", \"completed\", \"failed\".",
          "type": "string"
        },
        "envgroupHostname": {
          "description": "Hostname is available only when query is executed at host level.",
          "type": "string"
        },
        "resultRows": {
          "format": "int64",
          "description": "ResultRows is available only after the query is completed.",
          "type": "string"
        },
        "executionTime": {
          "description": "ExecutionTime is available only after the query is completed.",
          "type": "string"
        },
        "updated": {
          "type": "string",
          "description": "Last updated timestamp for the query."
        },
        "result": {
          "description": "Result is available only after the query is completed.",
          "$ref": "GoogleCloudApigeeV1AsyncQueryResult"
        }
      }
    },
    "GoogleIamV1Policy": {
      "type": "object",
      "properties": {
        "auditConfigs": {
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          },
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1Binding"
          }
        }
      },
      "id": "GoogleIamV1Policy",
[...]
