{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "apigee",
  "description": "Use the Apigee API to programmatically develop and manage APIs with a set of RESTful operations. Develop and secure API proxies, deploy and undeploy API proxy revisions, monitor APIs, configure environments, manage users, and more. Get started using the APIs. *Note:* This product is available as a free trial for a time period of 60 days.",
  "revision": "20201002",
  "canonicalName": "Apigee",
  "id": "apigee:v1",
  "fullyEncodeReservedExpansion": true,
  "title": "Apigee API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "mtlsRootUrl": "https://apigee.mtls.googleapis.com/",
  "servicePath": "",
  "version_module": true,
  "baseUrl": "https://apigee.googleapis.com/",
  "kind": "discovery#restDescription",
  "rootUrl": "https://apigee.googleapis.com/",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/apigee-api-management/",
  "protocol": "rest",
  "batchPath": "batch",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "ownerName": "Google",
  "schemas": {
    "GoogleCloudApigeeV1ListDebugSessionsResponse": {
      "type": "object",
      "properties": {
        "sessions": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Session"
          },
          "description": "Session info that includes debug session ID and the first transaction creation timestamp.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token that you can include in a ListDebugSessionsRequest to retrieve the next page. If omitted, no subsequent pages exist."
        }
      },
      "id": "GoogleCloudApigeeV1ListDebugSessionsResponse"
    },
    "GoogleCloudApigeeV1ResourceStatus": {
      "type": "object",
      "description": "The status of a resource loaded in the runtime.",
      "properties": {
        "revisions": {
          "type": "array",
          "description": "Revisions of the resource currently deployed in the instance.",
          "items": {
            "$ref": "GoogleCloudApigeeV1RevisionStatus"
          }
        },
        "resource": {
          "description": "The resource name. Currently only two resources are supported: EnvironmentGroup - organizations/{org}/envgroups/{envgroup} EnvironmentConfig - organizations/{org}/environments/{environment}/deployedConfig",
          "type": "string"
        },
        "totalReplicas": {
          "description": "The total number of replicas that should have this resource.",
          "format": "int32",
          "type": "integer"
        },
        "uid": {
          "description": "The uid of the resource. In the unexpected case that the instance has multiple uids for the same name, they should be reported under separate ResourceStatuses.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1ResourceStatus"
    },
    "GoogleCloudApigeeV1ListDatastoresResponse": {
      "type": "object",
      "properties": {
        "datastores": {
          "description": "A list of datastores",
          "items": {
            "$ref": "GoogleCloudApigeeV1Datastore"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudApigeeV1ListDatastoresResponse",
      "description": "The response for ListDatastores"
    },
    "GoogleCloudApigeeV1TargetServerConfig": {
      "id": "GoogleCloudApigeeV1TargetServerConfig",
      "properties": {
        "host": {
          "type": "string",
          "description": "Host name of the target server."
        },
        "tlsInfo": {
          "$ref": "GoogleCloudApigeeV1TlsInfoConfig",
          "description": "TLS settings for the target server."
        },
        "port": {
          "format": "int32",
          "description": "Port number for the target server.",
          "type": "integer"
        },
        "name": {
          "description": "Target server revision name in the following format: `organizations/{org}/environments/{env}/targetservers/{targetserver}/revisions/{rev}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1SchemaSchemaElement": {
      "description": "Message type for the schema element",
      "id": "GoogleCloudApigeeV1SchemaSchemaElement",
      "properties": {
        "properties": {
          "$ref": "GoogleCloudApigeeV1SchemaSchemaProperty",
          "description": "Property of the schema field E.g. { \"createTime\": \"2016-02-26T10:23:09.592Z\", \"custom\": \"false\", \"type\": \"string\" }"
        },
        "name": {
          "type": "string",
          "description": "Name of the field"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1Reference": {
      "type": "object",
      "id": "GoogleCloudApigeeV1Reference",
      "properties": {
        "resourceType": {
          "description": "The type of resource referred to by this reference. Valid values are 'KeyStore' or 'TrustStore'.",
          "type": "string"
        },
        "refers": {
          "type": "string",
          "description": "Required. The id of the resource to which this reference refers. Must be the id of a resource that exists in the parent environment and is of the given resource_type."
        },
        "description": {
          "type": "string",
          "description": "Optional. A human-readable description of this reference."
        },
        "name": {
          "description": "Required. The resource id of this reference. Values must match the regular expression [\\w\\s\\-.]+.",
          "type": "string"
        }
      },
      "description": "A Reference configuration. References must refer to a keystore that also exists in the parent environment."
    },
    "GoogleCloudApigeeV1FlowHook": {
      "id": "GoogleCloudApigeeV1FlowHook",
      "properties": {
        "description": {
          "description": "Description of the flow hook.",
          "type": "string"
        },
        "sharedFlow": {
          "description": "Shared flow attached to this flow hook, or empty if there is none attached.",
          "type": "string"
        },
        "flowHookPoint": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Where in the API call flow the flow hook is invoked. Must be one of `PreProxyFlowHook`, `PostProxyFlowHook`, `PreTargetFlowHook`, or `PostTargetFlowHook`."
        },
        "continueOnError": {
          "description": "Optional. Flag that specifies whether execution should continue if the flow hook throws an exception. Set to `true` to continue execution. Set to `false` to stop execution if the flow hook throws an exception.Defaults to `true`.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1Operation": {
      "id": "GoogleCloudApigeeV1Operation",
      "type": "object",
      "properties": {
        "methods": {
          "type": "array",
          "description": "methods refers to the REST verbs as in https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html. When none specified, all verb types are allowed.",
          "items": {
            "type": "string"
          }
        },
        "resource": {
          "type": "string",
          "description": "Required. resource represents REST resource path associated with the proxy/remote service."
        }
      },
      "description": "Operation represents the pairing of REST resource path and the actions (verbs) allowed on the resource path."
    },
    "GoogleCloudApigeeV1OperationConfig": {
      "type": "object",
      "properties": {
        "apiSource": {
          "type": "string",
          "description": "Required. api_source represents either a proxy or remote service name for which the resources, methods and quota are associated with."
        },
        "operations": {
          "description": "operations is the list of resource/methods pair, belonging to proxy/remote service, upon which quota will applied on. Note that currently we allow only a single operation. The call will fail if more than one is provided.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Operation"
          },
          "type": "array"
        },
        "quota": {
          "$ref": "GoogleCloudApigeeV1Quota",
          "description": "Quota parameters to be enforced for the resources, methods, api_source combination. If none specified, quota enforcement will not be done."
        },
        "attributes": {
          "description": "custom attribute associated with the operation.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudApigeeV1OperationConfig",
      "description": "OperationConfig binds the resources in a proxy or remote service with the allowed REST methods and its associated quota enforcement."
    },
    "GoogleCloudApigeeV1CustomReportMetric": {
      "type": "object",
      "id": "GoogleCloudApigeeV1CustomReportMetric",
      "description": "This encapsulates a metric property of the form sum(message_count) where name is message_count and function is sum",
      "properties": {
        "name": {
          "description": "name of the metric",
          "type": "string"
        },
        "function": {
          "type": "string",
          "description": "aggregate function"
        }
      }
    },
    "GoogleCloudApigeeV1ListApiProxiesResponse": {
      "type": "object",
      "id": "GoogleCloudApigeeV1ListApiProxiesResponse",
      "properties": {
        "proxies": {
          "items": {
            "$ref": "GoogleCloudApigeeV1ApiProxy"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudApigeeV1ApiProduct": {
      "id": "GoogleCloudApigeeV1ApiProduct",
      "properties": {
        "displayName": {
          "description": "The name to be displayed in the UI or developer portal to developers registering for API access.",
          "type": "string"
        },
        "lastModifiedAt": {
          "type": "string",
          "format": "int64",
          "description": "Response only. Modified time of this environment as milliseconds since epoch."
        },
        "environments": {
          "items": {
            "type": "string"
          },
          "description": "A comma-separated list of environment names to which the API product is bound. Requests to environments that are not listed are rejected. By specifying one or more environments, you can bind the resources listed in the API product to a specific environment, preventing developers from accessing those resources through API proxies deployed in another environment. This setting is used, for example, to prevent resources associated with API proxies in 'prod' from being accessed by API proxies deployed in 'test'.",
          "type": "array"
        },
        "createdAt": {
          "format": "int64",
          "type": "string",
          "description": "Response only. Creation time of this environment as milliseconds since epoch."
        },
        "scopes": {
          "description": "A comma-separated list of OAuth scopes that are validated at runtime. Edge validates that the scopes in any access token presented match the scopes defined in the OAuth policy assoicated with the API product.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "quotaInterval": {
          "type": "string",
          "description": "The time interval over which the number of request messages is calculated."
        },
        "attributes": {
          "type": "array",
          "description": "Array of attributes that may be used to extend the default API product profile with customer-specific metadata. You can specify a maximum of 18 attributes. Use this property to specify the access level of the API product as either `public`, `private`, or `internal`. Only products marked `public` are available to developers in the Apigee developer portal. For example, you can set a product to `internal` while it is in development and then change access to `public` when it is ready to release on the portal. API products marked as `private` do not appear on the portal but can be accessed by external developers. For monetization, you can use the attributes field to: - Specify transaction success criteria - Specify custom attributes on which you base rate plan charges.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          }
        },
        "apiResources": {
          "type": "array",
          "description": "Comma-separated list of API resources to be bundled in the API Product. By default, the resource paths are mapped from the `proxy.pathsuffix` variable. The proxy path suffix is defined as the URI fragment following the ProxyEndpoint base path. For example, if the `apiResources` element is defined to be `/forecastrss` and the base path defined for the API proxy is `/weather`, then only requests to `/weather/forecastrss` are permitted by the API product. You can select a specific path, or you can select all subpaths with the following wildcard: - /**: Indicates that all sub-URIs are included. - /* : Indicates that only URIs one level down are included. By default, / supports the same resources as /** as well as the base path defined by the API proxy. For example, if the base path of the API proxy is `/v1/weatherapikey`, then the API product supports requests to `/v1/weatherapikey` and to any sub-URIs, such as `/v1/weatherapikey/forecastrss`, `/v1/weatherapikey/region/CA`, and so on. For more information, see: - Manage API products - Managing a transaction recording policy using the API",
          "items": {
            "type": "string"
          }
        },
        "proxies": {
          "items": {
            "type": "string"
          },
          "description": "A comma-separated list of API proxy names to which this API product is bound. By specifying API proxies, you can associate resources in the API product with specific API proxies, preventing developers from accessing those resources through other API proxies. Edge rejects requests to API proxies that are not listed. *NOTE:* The API proxy names must already exist in the specified environment as they will be validated upon creation.",
          "type": "array"
        },
        "description": {
          "description": "An overview of the API product. Include key information about the API product that is not captured by other fields.",
          "type": "string"
        },
        "operationGroup": {
          "$ref": "GoogleCloudApigeeV1OperationGroup",
          "description": "The operation_group enables api product creators to group Apigee proxies or remote services with resources, method types and quotas. The resource refers to the resource URI(excluding the base path). With this grouping, API product creator is able to finetune and give precise control over which REST methods have access to which resources, and how many such calls can be made (via Quota). Note that api_resources cannot be specified at both the API product level as well as within the operation_group. If configured that way, the call will fail. Please refer go/api-product-with-methods for additional details."
        },
        "name": {
          "type": "string",
          "description": "The internal name of the API Product. Characters you can use in the name are restricted to: A-Z0-9._\\-$ %. *NOTE:* The internal name cannot be edited when updating the API product."
        },
        "quota": {
          "description": "The number of request messages permitted per app by this API product for the specified `quotaInterval` and `quotaTimeUnit`. For example, a `quota` of 50, for a `quotaInterval` of 12 and a `quotaTimeUnit` of hours means 50 requests are allowed every 12 hours.",
          "type": "string"
        },
        "approvalType": {
          "description": "Specifies how API keys are approved to access the APIs defined by the API product. If set to `manual`, the consumer key is generated and returned in \"pending\" state. In this case, the API keys won't work until they have been explicitly approved. If set to `auto`, the consumer key is generated and returned in \"approved\" state and can be used immediately. *NOTE:* Typically, `auto` is used to provide access to free or trial API products that provide limited quota or capabilities.",
          "type": "string"
        },
        "quotaTimeUnit": {
          "description": "The time unit defined for the `quotaInterval`. Valid values include minute, hour, day, or month.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1QueryMetric": {
      "id": "GoogleCloudApigeeV1QueryMetric",
      "description": "More info about Metric: https://docs.apigee.com/api-platform/analytics/analytics-reference#metrics",
      "type": "object",
      "properties": {
        "operator": {
          "description": "One of `+`, `-`, `/`, `%`, `*`.",
          "type": "string"
        },
        "name": {
          "description": "Required. Metric name.",
          "type": "string"
        },
        "value": {
          "description": "Operand value should be provided when operator is set.",
          "type": "string"
        },
        "alias": {
          "type": "string",
          "description": "Alias for the metric. Alias will be used to replace metric name in query results."
        },
        "function": {
          "description": "Aggregation function: avg, min, max, or sum.",
          "type": "string"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "id": "GoogleProtobufEmpty"
    },
    "GoogleCloudApigeeV1DeploymentChangeReportRoutingChange": {
      "description": "Describes a potential routing change that may occur as a result of some deployment operation.",
      "properties": {
        "shouldSequenceRollout": {
          "description": "True if using sequenced rollout would make this routing change safer. Note: this does not necessarily imply that automated sequenced rollout mode is supported for the operation.",
          "type": "boolean"
        },
        "environmentGroup": {
          "description": "The name of the environment group affected by this routing change.",
          "type": "string"
        },
        "fromDeployment": {
          "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment",
          "description": "The basepath/deployment that may stop receiving some traffic."
        },
        "description": {
          "description": "A human-readable description of this routing change.",
          "type": "string"
        },
        "toDeployment": {
          "description": "The basepath/deployment that may start receiving that traffic. May be null if no deployment is able to receive the traffic.",
          "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment"
        }
      },
      "id": "GoogleCloudApigeeV1DeploymentChangeReportRoutingChange",
      "type": "object"
    },
    "GoogleCloudApigeeV1OptimizedStatsResponse": {
      "id": "GoogleCloudApigeeV1OptimizedStatsResponse",
      "properties": {
        "resultTruncated": {
          "description": "This ia a boolean field to indicate if the results were truncated based on the limit parameter.",
          "type": "boolean"
        },
        "stats": {
          "description": "This field contains a stats results.",
          "$ref": "GoogleCloudApigeeV1OptimizedStatsNode"
        },
        "TimeUnit": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "This field contains a list of time unit values. Time unit refers to an epoch timestamp value.",
          "type": "array"
        },
        "metaData": {
          "$ref": "GoogleCloudApigeeV1Metadata",
          "description": "This field contains metadata information about the query executed"
        }
      },
      "type": "object",
      "description": "This message type encapsulates a response format for Js Optimized Scenario."
    },
    "GoogleCloudApigeeV1DeleteCustomReportResponse": {
      "id": "GoogleCloudApigeeV1DeleteCustomReportResponse",
      "type": "object",
      "properties": {
        "message": {
          "description": "The response contains only a message field.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1Keystore": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The resource ID for this keystore. Values must match the regular expression `[\\w[:space:]-.]{1,255}`."
        },
        "aliases": {
          "type": "array",
          "description": "Output only. The aliases in this keystore.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1Keystore",
      "description": "A datastore for Certificates and Aliases"
    },
    "GoogleCloudApigeeV1Stats": {
      "type": "object",
      "description": "This message type encapsulates a stats response.",
      "properties": {
        "metaData": {
          "description": "This field contains the metadata information.",
          "$ref": "GoogleCloudApigeeV1Metadata"
        },
        "environments": {
          "items": {
            "$ref": "GoogleCloudApigeeV1StatsEnvironmentStats"
          },
          "description": "This field contains a list of query results on environment level.",
          "type": "array"
        }
      },
      "id": "GoogleCloudApigeeV1Stats"
    },
    "GoogleCloudApigeeV1DeveloperAppKey": {
      "type": "object",
      "properties": {
        "consumerSecret": {
          "description": "Secret key.",
          "type": "string"
        },
        "apiProducts": {
          "description": "List of API products for which the credential can be used. **Note**: Do not specify the list of API products when creating a consumer key and secret for a developer app. Instead, use the UpdateDeveloperAppKey API to make the association after the consumer key and secret are created.",
          "items": {
            "type": "any"
          },
          "type": "array"
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "description": "Scopes to apply to the app. The specified scope names must already be defined for the API product that you associate with the app.",
          "type": "array"
        },
        "attributes": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "type": "array",
          "description": "List of attributes associated with the credential."
        },
        "consumerKey": {
          "description": "Consumer key.",
          "type": "string"
        },
        "expiresAt": {
          "description": "Time the developer app expires in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "status": {
          "type": "string",
          "description": "Status of the credential. Valid values include `approved` or `revoked`."
        },
        "issuedAt": {
          "description": "Time the developer app was created in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1DeveloperAppKey"
    },
    "GoogleCloudApigeeV1Alias": {
      "properties": {
        "certsInfo": {
          "$ref": "GoogleCloudApigeeV1Certificate",
          "description": "The chain of certificates under this alias."
        },
        "alias": {
          "type": "string",
          "description": "The resource ID for this alias. Values must match regular expression `[^/]{1,255}`."
        },
        "type": {
          "type": "string",
          "description": "The type of alias.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ALIAS_TYPE_UNSPECIFIED",
            "CERT",
            "KEY_CERT"
          ]
        }
      },
      "id": "GoogleCloudApigeeV1Alias",
      "description": "A reference to a certificate or key, certificate pair.",
      "type": "object"
    },
    "GoogleCloudApigeeV1ApiProductRef": {
      "properties": {
        "status": {
          "description": "Status of the API product.",
          "type": "string"
        },
        "apiproduct": {
          "description": "Name of the API product.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1ApiProductRef",
      "type": "object"
    },
    "GoogleCloudApigeeV1CustomReport": {
      "type": "object",
      "id": "GoogleCloudApigeeV1CustomReport",
      "properties": {
        "createdAt": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Unix time when the app was created json key: createdAt",
          "type": "string"
        },
        "toTime": {
          "description": "Legacy field: not used. Contains the end time for the report",
          "type": "string"
        },
        "fromTime": {
          "type": "string",
          "description": "Legacy field: not used. Contains the from time for the report"
        },
        "environment": {
          "description": "Output only. Environment name",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Required. Unique identifier for the report T his is a legacy field used to encode custom report unique id",
          "type": "string"
        },
        "sortOrder": {
          "type": "string",
          "description": "Legacy field: not used much. Contains the sort order for the sort columns"
        },
        "lastModifiedAt": {
          "readOnly": true,
          "description": "Output only. Modified time of this entity as milliseconds since epoch. json key: lastModifiedAt",
          "type": "string",
          "format": "int64"
        },
        "sortByCols": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Legacy field: not used much. Contains the list of sort by columns"
        },
        "properties": {
          "type": "array",
          "description": "This field contains report properties such as ui metadata etc.",
          "items": {
            "$ref": "GoogleCloudApigeeV1ReportProperty"
          }
        },
        "chartType": {
          "description": "This field contains the chart type for the report",
          "type": "string"
        },
        "metrics": {
          "description": "Required. This contains the list of metrics",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1CustomReportMetric"
          }
        },
        "topk": {
          "description": "Legacy field: not used. This field contains the top k parameter value for restricting the result",
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "This field contains the filter expression"
        },
        "displayName": {
          "description": "This is the display name for the report",
          "type": "string"
        },
        "dimensions": {
          "items": {
            "type": "string"
          },
          "description": "This contains the list of dimensions for the report",
          "type": "array"
        },
        "timeUnit": {
          "type": "string",
          "description": "This field contains the time unit of aggregation for the report"
        },
        "lastViewedAt": {
          "type": "string",
          "description": "Output only. Last viewed time of this entity as milliseconds since epoch",
          "format": "int64",
          "readOnly": true
        },
        "offset": {
          "description": "Legacy field: not used. This field contains the offset for the data",
          "type": "string"
        },
        "limit": {
          "type": "string",
          "description": "Legacy field: not used This field contains the limit for the result retrieved"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Legacy field: not used. This field contains a list of tags associated with custom report"
        },
        "comments": {
          "description": "Legacy field: not used. This field contains a list of comments associated with custom report",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "organization": {
          "description": "Output only. Organization name",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1Quota": {
      "type": "object",
      "properties": {
        "timeUnit": {
          "type": "string",
          "description": "The time unit defined for the `interval`. Valid values include minute, hour, day, or month. The default value is empty. If limit and interval are valid, the default value is \"hour\"."
        },
        "limit": {
          "description": "Required. Limit represents the upper bound count allowed for the time interval and time unit specified. Requests exceeding this limit will get rejected.",
          "type": "string"
        },
        "interval": {
          "type": "string",
          "description": "Required. The time interval over which the number of request messages is calculated."
        }
      },
      "description": "Quota contains the essential parameters needed that can be applied on a proxy/remote service, resources and methods combination associated with this API product. While setting of Quota is optional, setting it prevents requests from exceeding the provisioned parameters.",
      "id": "GoogleCloudApigeeV1Quota"
    },
    "GoogleCloudApigeeV1Export": {
      "type": "object",
      "properties": {
        "state": {
          "description": "Output only. Status of the export job. Valid values include `enqueued`, `running`, `completed`, and `failed`.",
          "type": "string",
          "readOnly": true
        },
        "created": {
          "readOnly": true,
          "description": "Output only. Time the export job was created.",
          "type": "string"
        },
        "name": {
          "description": "Display name of the export job.",
          "type": "string"
        },
        "description": {
          "description": "Description of the export job.",
          "type": "string"
        },
        "error": {
          "type": "string",
          "description": "Output only. Error is set when export fails",
          "readOnly": true
        },
        "self": {
          "readOnly": true,
          "description": "Output only. Self link of the export job. A URI that can be used to retrieve the status of an export job. Example: `/organizations/myorg/environments/myenv/analytics/exports/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd`",
          "type": "string"
        },
        "updated": {
          "type": "string",
          "description": "Output only. Time the export job was last updated.",
          "readOnly": true
        },
        "datastoreName": {
          "type": "string",
          "description": "Name of the datastore that is the destination of the export job [datastore]"
        },
        "executionTime": {
          "readOnly": true,
          "description": "Output only. Execution time for this export job. If the job is still in progress, it will be set to the amount of time that has elapsed since`created`, in seconds. Else, it will set to (`updated` - `created`), in seconds.",
          "type": "string"
        }
      },
      "description": "Details of an export job.",
      "id": "GoogleCloudApigeeV1Export"
    },
    "GoogleCloudApigeeV1Metric": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "This field contains the metric name."
        },
        "values": {
          "description": "List of metric values. Possible value format: \"values\":[\"39.0\"] or \"values\":[ { \"value\": \"39.0\", \"timestamp\": 1232434354} ]",
          "type": "array",
          "items": {
            "type": "any"
          }
        }
      },
      "description": "This message type encapsulates the metric data point. Example: { \"name\": \"sum(message_count)\", \"values\" : [ { \"timestamp\": 1549004400000, \"value\": \"39.0\" }, { \"timestamp\" : 1548997200000, \"value\" : \"0.0\" } ] } or { \"name\": \"sum(message_count)\", \"values\" : [\"39.0\"] }",
      "id": "GoogleCloudApigeeV1Metric"
    },
    "GoogleCloudApigeeV1Schema": {
      "description": "Response for Schema call",
      "properties": {
        "metrics": {
          "items": {
            "$ref": "GoogleCloudApigeeV1SchemaSchemaElement"
          },
          "type": "array",
          "description": "List of schema fields grouped as dimensions. These are fields that can be used with an aggregate function such as sum, avg, min, max."
        },
        "dimensions": {
          "items": {
            "$ref": "GoogleCloudApigeeV1SchemaSchemaElement"
          },
          "description": "List of schema fiels grouped as dimensions.",
          "type": "array"
        },
        "meta": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Additional metadata associated with schema. This is a legacy field and usually consists of an empty array of strings."
        }
      },
      "id": "GoogleCloudApigeeV1Schema",
      "type": "object"
    },
    "GoogleCloudApigeeV1DatastoreConfig": {
      "properties": {
        "path": {
          "type": "string",
          "description": "Path of Cloud Storage bucket Required for `gcs` target_type."
        },
        "datasetName": {
          "description": "BigQuery dataset name Required for `bigquery` target_type.",
          "type": "string"
        },
        "bucketName": {
          "type": "string",
          "description": "Name of the Cloud Storage bucket. Required for `gcs` target_type."
        },
        "tablePrefix": {
          "type": "string",
          "description": "Prefix of BigQuery table Required for `bigquery` target_type."
        },
        "projectId": {
          "type": "string",
          "description": "Required. GCP project in which the datastore exists"
        }
      },
      "description": "Configuration detail for datastore",
      "id": "GoogleCloudApigeeV1DatastoreConfig",
      "type": "object"
    },
    "GoogleCloudApigeeV1OptimizedStatsNode": {
      "description": "This message type encapsulates a data node as represented below: { \"identifier\": { \"names\": [ \"apiproxy\" ], \"values\": [ \"sirjee\" ] }, \"metric\": [ { \"env\": \"prod\", \"name\": \"sum(message_count)\", \"values\": [ 36.0 ] } ] } OR { \"env\": \"prod\", \"name\": \"sum(message_count)\", \"values\": [ 36.0 ] } Depending on whether a dimension is present in the query or not the data node type can be a simple metric value or dimension identifier with list of metrics.",
      "type": "object",
      "id": "GoogleCloudApigeeV1OptimizedStatsNode",
      "properties": {
        "data": {
          "items": {
            "type": "any"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudApigeeV1DeploymentChangeReportRoutingConflict": {
      "properties": {
        "description": {
          "description": "A human-readable description of this conflict.",
          "type": "string"
        },
        "conflictingDeployment": {
          "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment",
          "description": "The existing basepath/deployment causing the conflict."
        },
        "environmentGroup": {
          "type": "string",
          "description": "The name of the environment group in which this conflict exists."
        }
      },
      "description": "Describes a routing conflict that may cause a deployment not to receive traffic at some basepath.",
      "type": "object",
      "id": "GoogleCloudApigeeV1DeploymentChangeReportRoutingConflict"
    },
    "GoogleCloudApigeeV1Metadata": {
      "id": "GoogleCloudApigeeV1Metadata",
      "type": "object",
      "description": "This message type encapsulates additional information about query execution.",
      "properties": {
        "notices": {
          "type": "array",
          "description": "List of additional information such as data source, if result was truncated etc. E.g \"notices\": [ \"Source:Postgres\", \"PG Host:uappg0rw.e2e.apigeeks.net\", \"query served by:4b64601e-40de-4eb1-bfb9-eeee7ac929ed\", \"Table used: edge.api.uapgroup2.agg_api\" ]",
          "items": {
            "type": "string"
          }
        },
        "errors": {
          "description": "List of error messages as strings.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudApigeeV1StatsEnvironmentStats": {
      "id": "GoogleCloudApigeeV1StatsEnvironmentStats",
      "properties": {
        "dimensions": {
          "type": "array",
          "description": "This field contains the list of metrics grouped under dimensions.",
          "items": {
            "$ref": "GoogleCloudApigeeV1DimensionMetric"
          }
        },
        "metrics": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Metric"
          },
          "description": "In the final response, only one of the following fields will be present based on the dimensions provided. If no dimensions are provided, then only a top level metrics is provided. If dimensions are included, then there will be a top level dimensions field under environments which will contain metrics values and the dimension name. Example: \"environments\": [ { \"dimensions\": [ { \"metrics\": [ { \"name\": \"sum(message_count)\", \"values\": [ \"2.14049521E8\" ] } ], \"name\": \"nit_proxy\" } ], \"name\": \"prod\" } ] OR \"environments\": [ { \"metrics\": [ { \"name\": \"sum(message_count)\", \"values\": [ \"2.19026331E8\" ] } ], \"name\": \"prod\" } ] This field contains the list of metric values.",
          "type": "array"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "description": "This message type encapsulates the environment wrapper: \"environments\": [ { \"metrics\": [ { \"name\": \"sum(message_count)\", \"values\": [ \"2.52056245E8\" ] } ], \"name\": \"prod\" } ]"
    },
    "GoogleCloudApigeeV1ResourceConfig": {
      "properties": {
        "location": {
          "description": "Location of the resource as a URI.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name in the following format: `organizations/{org}/environments/{env}/resourcefiles/{type}/{file}/revisions/{rev}` Only environment-scoped resource files are supported."
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1ResourceConfig"
    },
    "GoogleTypeExpr": {
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        }
      },
      "id": "GoogleTypeExpr"
    },
    "GoogleCloudApigeeV1ListAppsResponse": {
      "id": "GoogleCloudApigeeV1ListAppsResponse",
      "properties": {
        "app": {
          "items": {
            "$ref": "GoogleCloudApigeeV1App"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1InstanceDeploymentStatus": {
      "description": "The status of a deployment as reported by a single instance.",
      "type": "object",
      "id": "GoogleCloudApigeeV1InstanceDeploymentStatus",
      "properties": {
        "instance": {
          "description": "ID of the instance reporting the status.",
          "type": "string"
        },
        "deployedRevisions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRevision"
          },
          "description": "Revisions currently deployed in MPs."
        },
        "deployedRoutes": {
          "description": "The current routes deployed in the ingress routing table. A route which is missing will be shown with no destination environment.",
          "items": {
            "$ref": "GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRoute"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudApigeeV1Environment": {
      "properties": {
        "createdAt": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Creation time of this environment as milliseconds since epoch.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. Display name for this environment.",
          "type": "string"
        },
        "lastModifiedAt": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Last modification time of this environment as milliseconds since epoch."
        },
        "properties": {
          "description": "Optional. Key-value pairs that may be used for customizing the environment.",
          "$ref": "GoogleCloudApigeeV1Properties"
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the environment. Values must match the regular expression `^[.\\\\p{Alnum}-_]{1,255}$`"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the environment."
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1Environment"
    },
    "GoogleCloudApigeeV1Subscription": {
      "id": "GoogleCloudApigeeV1Subscription",
      "properties": {
        "name": {
          "type": "string",
          "description": "Full name of the Pub/Sub subcription. Use the following structure in your request: `subscription \"projects/foo/subscription/bar\"`"
        }
      },
      "description": "Pub/Sub subscription of an environment.",
      "type": "object"
    },
    "GoogleCloudApigeeV1KeystoreConfig": {
      "properties": {
        "name": {
          "description": "Resource name in the following format: `organizations/{org}/environments/{env}/keystores/{keystore}`",
          "type": "string"
        },
        "aliases": {
          "items": {
            "$ref": "GoogleCloudApigeeV1AliasRevisionConfig"
          },
          "type": "array",
          "description": "Aliases in the keystore."
        }
      },
      "id": "GoogleCloudApigeeV1KeystoreConfig",
      "type": "object"
    },
    "GoogleCloudApigeeV1ApiResponseWrapper": {
      "properties": {
        "errorCode": {
          "description": "ID that can be used to find errors in the log files.",
          "type": "string"
        },
        "status": {
          "description": "Status of the operation.",
          "type": "string"
        },
        "requestId": {
          "description": "ID that can be used to find request details in the log files.",
          "type": "string"
        },
        "message": {
          "description": "Description of the operation.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1ApiResponseWrapper",
      "type": "object"
    },
    "GoogleIamV1Policy": {
      "id": "GoogleIamV1Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members` to a single `role`. Members can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') - etag: BwWWja0YfJA= - version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          },
          "type": "array"
        },
        "bindings": {
          "description": "Associates a list of `members` to a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one member.",
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "type": "array"
        },
        "etag": {
          "format": "byte",
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        }
      },
      "type": "object"
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1ListHybridIssuersResponse": {
      "type": "object",
      "properties": {
        "issuers": {
          "items": {
            "$ref": "GoogleCloudApigeeV1ServiceIssuersMapping"
          },
          "description": "Lists of hybrid services and its trusted issuer email ids.",
          "type": "array"
        }
      },
      "id": "GoogleCloudApigeeV1ListHybridIssuersResponse"
    },
    "GoogleCloudApigeeV1App": {
      "properties": {
        "developerId": {
          "description": "ID of the developer.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "Status of the credential."
        },
        "name": {
          "type": "string",
          "description": "Name of the app."
        },
        "credentials": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Credential"
          },
          "description": "Output only. Set of credentials for the app. Credentials are API key/secret pairs associated with API products.",
          "type": "array",
          "readOnly": true
        },
        "apiProducts": {
          "type": "array",
          "description": "List of API products associated with the app.",
          "items": {
            "$ref": "GoogleCloudApigeeV1ApiProductRef"
          }
        },
        "attributes": {
          "type": "array",
          "description": "List of attributes.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          }
        },
        "scopes": {
          "description": "Scopes to apply to the app. The specified scope names must already exist on the API product that you associate with the app.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "keyExpiresIn": {
          "description": "Duration, in milliseconds, of the consumer key that will be generated for the app. The default value, -1, indicates an infinite validity period. Once set, the expiration can't be updated. json key: keyExpiresIn",
          "type": "string",
          "format": "int64"
        },
        "appId": {
          "type": "string",
          "description": "ID of the app."
        },
        "lastModifiedAt": {
          "description": "Output only. Last modified time as milliseconds since epoch.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "createdAt": {
          "description": "Output only. Unix time when the app was created.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "callbackUrl": {
          "type": "string",
          "description": "Callback URL used by OAuth 2.0 authorization servers to communicate authorization codes back to apps."
        },
        "companyName": {
          "description": "Name of the company that owns the app.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1App"
    },
    "GoogleCloudApigeeV1IngressConfig": {
      "type": "object",
      "properties": {
        "uid": {
          "type": "string",
          "description": "A unique id for the ingress config that will only change if the organization is deleted and recreated."
        },
        "revisionCreateTime": {
          "description": "Time at which the IngressConfig revision was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "revisionId": {
          "format": "int64",
          "description": "Revision id that defines the ordering on IngressConfig resources. The higher the revision, the more recently the configuration was deployed.",
          "type": "string"
        },
        "environmentGroups": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1EnvironmentGroupConfig"
          },
          "description": "List of environment groups in the organization."
        },
        "name": {
          "type": "string",
          "description": "Name of the resource in the following format: `organizations/{org}/deployedIngressConfig`."
        }
      },
      "id": "GoogleCloudApigeeV1IngressConfig"
    },
    "GoogleCloudApigeeV1RuntimeTraceConfigOverride": {
      "type": "object",
      "id": "GoogleCloudApigeeV1RuntimeTraceConfigOverride",
      "description": "NEXT ID: 7 Trace configuration override for a specific API proxy in an environment.",
      "properties": {
        "samplingConfig": {
          "$ref": "GoogleCloudApigeeV1RuntimeTraceSamplingConfig",
          "description": "Trace configuration override for a specific API proxy in an environment."
        },
        "revisionCreateTime": {
          "type": "string",
          "description": "The timestamp that the revision was created or updated.",
          "format": "google-datetime"
        },
        "uid": {
          "type": "string",
          "description": "Unique ID for the configuration override. The ID will only change if the override is deleted and recreated."
        },
        "name": {
          "description": "Name of the trace config override in the following format: `organizations/{org}/environment/{env}/traceConfig/overrides/{override}`",
          "type": "string"
        },
        "revisionId": {
          "description": "Revision number which can be used by the runtime to detect if the trace config override has changed between two versions.",
          "type": "string"
        },
        "apiProxy": {
          "description": "Name of the API proxy that will have its trace configuration overridden following format: `organizations/{org}/apis/{api}`",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1OperationGroup": {
      "id": "GoogleCloudApigeeV1OperationGroup",
      "properties": {
        "operationConfigType": {
          "description": "Identfies whether the configuration is for Apigee proxy or a remote service. Possible values are \"proxy\" and \"remoteservice\". If none specified, the default is \"proxy\". \"proxy\" is used when Apigee proxies are associated with the API product. \"remoteservice\" is used when non-Apigee proxy like Envoy is used, and is associated with the API product.",
          "type": "string"
        },
        "operationConfigs": {
          "description": "Required. A list of OperationConfig for either Apigee proxies or other other remote services, that are associated with this API product.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1OperationConfig"
          }
        }
      },
      "type": "object",
      "description": "The OperationGroup contains a list of configuration details associated with Apigee proxies or Remote services. Remote services are non-Apigee Edge proxies. eg, Istio-Envoy."
    },
    "GoogleCloudApigeeV1RuntimeTraceSamplingConfigResponseCodeRange": {
      "description": "ResponseCodeRange represents a group of response codes to capture, from the first response code to the last response code. Each range is a close interval. For example, if an interval is [400, 403], then that means 400, 401, 402, 403 will be all captured.",
      "properties": {
        "firstResponseCode": {
          "type": "integer",
          "description": "The first response code to capture.",
          "format": "int32"
        },
        "lastResponseCode": {
          "type": "integer",
          "description": "The last response code to capture.",
          "format": "int32"
        }
      },
      "id": "GoogleCloudApigeeV1RuntimeTraceSamplingConfigResponseCodeRange",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListDeveloperAppsResponse": {
      "id": "GoogleCloudApigeeV1ListDeveloperAppsResponse",
      "properties": {
        "app": {
          "items": {
            "$ref": "GoogleCloudApigeeV1DeveloperApp"
          },
          "type": "array",
          "description": "List of developer apps and their credentials."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1TestDatastoreResponse": {
      "type": "object",
      "description": "The response for TestDatastore",
      "id": "GoogleCloudApigeeV1TestDatastoreResponse",
      "properties": {
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. It could be `completed` or `failed`"
        },
        "error": {
          "readOnly": true,
          "description": "Output only. Error message of test connection failure",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1DebugSession": {
      "id": "GoogleCloudApigeeV1DebugSession",
      "type": "object",
      "properties": {
        "validity": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The length of time, in seconds, that this debug session is valid, starting from when it's received in the control plane. Min = 1, Max = 15, Default = 10."
        },
        "filter": {
          "type": "string",
          "description": "Optional. A conditional statement which is evaluated against the request message to determine if it should be traced. Syntax matches that of on API Proxy bundle flow Condition."
        },
        "tracesize": {
          "description": "Optional. The maximum number of bytes captured from the response payload. Min = 0, Max = 5120, Default = 5120.",
          "type": "integer",
          "format": "int32"
        },
        "count": {
          "type": "integer",
          "description": "Optional. The number of request to be traced. Min = 1, Max = 15, Default = 10.",
          "format": "int32"
        },
        "timeout": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The time in seconds after which this DebugSession should end. This value will override the value in query param, if both are provided."
        },
        "name": {
          "type": "string",
          "description": "A unique ID for this DebugSession."
        }
      }
    },
    "GoogleCloudApigeeV1ListOrganizationsResponse": {
      "id": "GoogleCloudApigeeV1ListOrganizationsResponse",
      "type": "object",
      "properties": {
        "organizations": {
          "items": {
            "$ref": "GoogleCloudApigeeV1OrganizationProjectMapping"
          },
          "description": "List of Apigee organizations and associated GCP projects.",
          "type": "array"
        }
      }
    },
    "GoogleCloudApigeeV1TargetServer": {
      "properties": {
        "sSLInfo": {
          "$ref": "GoogleCloudApigeeV1TlsInfo",
          "description": "Optional. Specifies TLS configuration info for this TargetServer. The JSON name is `sSLInfo` for legacy/backwards compatibility reasons -- Edge originally supported SSL, and the name is still used for TLS configuration."
        },
        "name": {
          "type": "string",
          "description": "Required. The resource id of this target server. Values must match the regular expression "
        },
        "host": {
          "description": "Required. The host name this target connects to. Value must be a valid hostname as described by RFC-1123.",
          "type": "string"
        },
        "isEnabled": {
          "type": "boolean",
          "description": "Optional. Enabling/disabling a TargetServer is useful when TargetServers are used in load balancing configurations, and one or more TargetServers need to taken out of rotation periodically. Defaults to true."
        },
        "port": {
          "format": "int32",
          "description": "Required. The port number this target connects to on the given host. Value must be between 1 and 65535, inclusive.",
          "type": "integer"
        },
        "description": {
          "description": "Optional. A human-readable description of this TargetServer.",
          "type": "string"
        }
      },
      "description": "TargetServer configuration. TargetServers are used to decouple a proxy's TargetEndpoint HTTPTargetConnections from concrete URLs for backend services.",
      "id": "GoogleCloudApigeeV1TargetServer",
      "type": "object"
    },
    "GoogleCloudApigeeV1Organization": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "subscriptionType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Subscription type of the Apigee organization. Valid values include trial (free, limited, and for evaluation purposes only) or paid (full subscription has been purchased). See [Apigee pricing](https://cloud.google.com/apigee/pricing/).",
          "enumDescriptions": [
            "Subscription type not specified.",
            "Full subscription to Apigee has been purchased.",
            "Subscription to Apigee is free, limited, and used for evaluation purposes only."
          ],
          "enum": [
            "SUBSCRIPTION_TYPE_UNSPECIFIED",
            "PAID",
            "TRIAL"
          ]
        },
        "lastModifiedAt": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time that the Apigee organization was last modified in milliseconds since epoch."
        },
        "customerName": {
          "description": "Not used by Apigee.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "The project ID associated with the Apigee organization."
        },
        "description": {
          "type": "string",
          "description": "Description of the Apigee organization."
        },
        "createdAt": {
          "description": "Output only. Time that the Apigee organization was created in milliseconds since epoch.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "environments": {
          "readOnly": true,
          "description": "Output only. List of environments in the Apigee organization.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "attributes": {
          "type": "array",
          "description": "Not used by Apigee.",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "description": "Not used by Apigee.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_TRIAL",
            "TYPE_PAID",
            "TYPE_INTERNAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Subscription type not specified.",
            "Subscription to Apigee is free, limited, and used for evaluation purposes only.",
            "Full subscription to Apigee has been purchased. See [Apigee pricing](https://cloud.google.com/apigee/pricing/).",
            "For internal users only."
          ]
        },
        "runtimeType": {
          "description": "Required. Runtime type of the Apigee organization based on the Apigee subscription purchased.",
          "enum": [
            "RUNTIME_TYPE_UNSPECIFIED",
            "CLOUD",
            "HYBRID"
          ],
          "type": "string",
          "enumDescriptions": [
            "Runtime type not specified.",
            "Google-managed Apigee runtime.",
            "User-managed Apigee hybrid runtime."
          ]
        },
        "analyticsRegion": {
          "type": "string",
          "description": "Required. Primary GCP region for analytics data storage. For valid values, see [Create an Apigee organization](https://cloud.google.com/apigee/docs/api-platform/get-started/create-org)."
        },
        "properties": {
          "description": "Properties defined in the Apigee organization profile.",
          "$ref": "GoogleCloudApigeeV1Properties"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Name of the Apigee organization.",
          "type": "string"
        },
        "caCertificate": {
          "format": "byte",
          "description": "Output only. Base64-encoded public certificate for the root CA of the Apigee organization. Valid only when [RuntimeType] is CLOUD.",
          "readOnly": true,
          "type": "string"
        },
        "authorizedNetwork": {
          "type": "string",
          "description": "Compute Engine network used for Service Networking to be peered with Apigee runtime instances. See [Getting started with the Service Networking API](https://cloud.google.com/service-infrastructure/docs/service-networking/getting-started). Valid only when [RuntimeType] is set to CLOUD. The value can be updated only when there are no runtime instances. For example: \"default\". **Note:** Not supported for Apigee hybrid."
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1Organization"
    },
    "GoogleCloudApigeeV1RuntimeTraceConfig": {
      "id": "GoogleCloudApigeeV1RuntimeTraceConfig",
      "properties": {
        "overrides": {
          "items": {
            "$ref": "GoogleCloudApigeeV1RuntimeTraceConfigOverride"
          },
          "type": "array",
          "description": "List of trace configuration overrides for spicific API proxies."
        },
        "name": {
          "description": "Name of the trace config in the following format: `organizations/{org}/environment/{env}/traceConfig`",
          "type": "string"
        },
        "exporter": {
          "description": "Exporter that is used to view the distributed trace captured using OpenCensus. An exporter sends traces to any backend that is capable of consuming them. Recorded spans can be exported by registered exporters.",
          "enumDescriptions": [
            "Exporter unspecified",
            "Jaeger exporter",
            "Cloudtrace exporter"
          ],
          "enum": [
            "EXPORTER_UNSPECIFIED",
            "JAEGER",
            "CLOUD_TRACE"
          ],
          "type": "string"
        },
        "revisionCreateTime": {
          "type": "string",
          "description": "The timestamp that the revision was created or updated.",
          "format": "google-datetime"
        },
        "samplingConfig": {
          "$ref": "GoogleCloudApigeeV1RuntimeTraceSamplingConfig",
          "description": "Trace configuration for all API proxies in an environment."
        },
        "revisionId": {
          "description": "Revision number which can be used by the runtime to detect if the trace config has changed between two versions.",
          "type": "string"
        },
        "endpoint": {
          "description": "Endpoint of the exporter.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "NEXT ID: 8 RuntimeTraceConfig defines the configurations for distributed trace in an environment."
    },
    "GoogleCloudApigeeV1TlsInfoConfig": {
      "id": "GoogleCloudApigeeV1TlsInfoConfig",
      "properties": {
        "commonName": {
          "$ref": "GoogleCloudApigeeV1CommonNameConfig",
          "description": "Common name to validate the target server against."
        },
        "protocols": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of TLS protocols that are granted access."
        },
        "enabled": {
          "type": "boolean",
          "description": "Flag that specifies whether one-way TLS is enabled. Set to `true` to enable one-way TLS."
        },
        "ciphers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of ciphers that are granted access."
        },
        "keyAliasReference": {
          "$ref": "GoogleCloudApigeeV1KeyAliasReference",
          "description": "Reference name and alias pair to use for client-side authentication."
        },
        "ignoreValidationErrors": {
          "type": "boolean",
          "description": "Flag that specifies whether to ignore TLS certificate validation errors. Set to `true` to ignore errors."
        },
        "keyAlias": {
          "description": "Name of the alias used for client-side authentication in the following format: `organizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}`",
          "type": "string"
        },
        "trustStore": {
          "type": "string",
          "description": "Name of the keystore or keystore reference containing trusted certificates for the server in the following format: `organizations/{org}/environments/{env}/keystores/{keystore}` or `organizations/{org}/environments/{env}/references/{reference}`"
        },
        "clientAuthEnabled": {
          "type": "boolean",
          "description": "Flag that specifies whether client-side authentication is enabled for the target server. Enables two-way TLS."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1ResourceFiles": {
      "description": "List of resource files.",
      "properties": {
        "resourceFile": {
          "items": {
            "$ref": "GoogleCloudApigeeV1ResourceFile"
          },
          "description": "List of resource files.",
          "type": "array"
        }
      },
      "id": "GoogleCloudApigeeV1ResourceFiles",
      "type": "object"
    },
    "GoogleCloudApigeeV1RuntimeTraceSamplingConfig": {
      "properties": {
        "errorSources": {
          "description": "Error sources from which to capture errors. If none are specified, error codes are captured from all sources.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Error source is unspecified.",
              "Only capture trace errors within the Apigee system.",
              "Only capture trace errors from target server."
            ],
            "enum": [
              "ERROR_SOURCE_UNSPECIFIED",
              "APIGEE",
              "TARGET"
            ]
          }
        },
        "responseCodeRanges": {
          "description": "List of response code ranges.",
          "items": {
            "$ref": "GoogleCloudApigeeV1RuntimeTraceSamplingConfigResponseCodeRange"
          },
          "type": "array"
        },
        "sampler": {
          "enum": [
            "SAMPLER_UNSPECIFIED",
            "OFF",
            "ON",
            "PROBABILITY"
          ],
          "type": "string",
          "description": "Sampler of distributed tracing. OFF is the default value.",
          "enumDescriptions": [
            "Sampler unspecified.",
            "OFF means distributed trace is disabled, or the sampling probability is 0.",
            "ON means distributed trace is enabled always for all api calls, and sampling probability is 0.5.",
            "PROBABILITY means traces are captured on a probability that defined by sampling_rate. The sampling rate is limited to 0 to 0.5 when this is set."
          ]
        },
        "responseCodes": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array",
          "description": "List of single response codes."
        },
        "samplingRate": {
          "description": "Field sampling rate. This value is only valid when is only applicable when sampling value is probabilistic(PROBABILITY). The supported values are \u003e 0 and \u003c= 0.5.",
          "format": "float",
          "type": "number"
        }
      },
      "description": "NEXT ID: 6 RuntimeTraceSamplingConfig represents the detail settings of distributed tracing. Only the fields that are defined in the distributed trace configuration can be overridden using the distribute trace configuration override APIs.",
      "id": "GoogleCloudApigeeV1RuntimeTraceSamplingConfig",
      "type": "object"
    },
    "GoogleCloudApigeeV1DateRange": {
      "description": "Date range of the data to export.",
      "id": "GoogleCloudApigeeV1DateRange",
      "properties": {
        "end": {
          "type": "string",
          "description": "Required. End date (exclusive) of the data to export in the format `yyyy-mm-dd`. The date range ends at 00:00:00 UTC on the end date- which will not be in the output."
        },
        "start": {
          "type": "string",
          "description": "Required. Start date of the data to export in the format `yyyy-mm-dd`. The date range begins at 00:00:00 UTC on the start date."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1SharedFlowRevision": {
      "type": "object",
      "properties": {
        "policies": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of policy names included in this shared flow revision."
        },
        "type": {
          "type": "string",
          "description": "The string \"Application\""
        },
        "displayName": {
          "type": "string",
          "description": "The human readable name of this shared flow."
        },
        "resources": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of the resources included in this shared flow revision formatted as \"{type}://{name}\"."
        },
        "createdAt": {
          "type": "string",
          "description": "Time at which this shared flow revision was created, in milliseconds since epoch.",
          "format": "int64"
        },
        "sharedFlows": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of the shared flow names included in this shared flow revision."
        },
        "entityMetaDataAsProperties": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A Key-Value map of metadata about this shared flow revision."
        },
        "contextInfo": {
          "type": "string",
          "description": "A textual description of the shared flow revision."
        },
        "configurationVersion": {
          "$ref": "GoogleCloudApigeeV1ConfigVersion",
          "description": "The version of the configuration schema to which this shared flow conforms. The only supported value currently is majorVersion 4 and minorVersion 0. This setting may be used in the future to enable evolution of the shared flow format."
        },
        "lastModifiedAt": {
          "description": "Time at which this shared flow revision was most recently modified, in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "description": {
          "type": "string",
          "description": "Description of the shared flow revision."
        },
        "name": {
          "description": "The resource ID of the parent shared flow.",
          "type": "string"
        },
        "resourceFiles": {
          "description": "The resource files included in this shared flow revision.",
          "$ref": "GoogleCloudApigeeV1ResourceFiles"
        },
        "revision": {
          "description": "The resource ID of this revision.",
          "type": "string"
        }
      },
      "description": "The metadata describing a shared flow revision.",
      "id": "GoogleCloudApigeeV1SharedFlowRevision"
    },
    "GoogleCloudApigeeV1AccessRemove": {
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        }
      },
      "description": "Remove action. For example, \"Remove\" : { \"name\" : \"target.name\", \"success\" : true }",
      "id": "GoogleCloudApigeeV1AccessRemove"
    },
    "GoogleCloudApigeeV1SharedFlow": {
      "properties": {
        "latestRevisionId": {
          "description": "The id of the most recently created revision for this shared flow.",
          "type": "string"
        },
        "revision": {
          "items": {
            "type": "string"
          },
          "description": "A list of revisions of this shared flow.",
          "type": "array"
        },
        "metaData": {
          "description": "Metadata describing the shared flow.",
          "$ref": "GoogleCloudApigeeV1EntityMetadata"
        },
        "name": {
          "type": "string",
          "description": "The ID of the shared flow."
        }
      },
      "description": "The metadata describing a shared flow",
      "type": "object",
      "id": "GoogleCloudApigeeV1SharedFlow"
    },
    "GoogleRpcStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpcStatus",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        }
      }
    },
    "GoogleCloudApigeeV1Result": {
      "id": "GoogleCloudApigeeV1Result",
      "properties": {
        "verb": {
          "type": "string",
          "description": "HTTP method verb"
        },
        "timestamp": {
          "type": "string",
          "description": "Timestamp of when the result is recorded. Its format is dd-mm-yy hh:mm:ss:xxx. For example, `\"timestamp\" : \"12-08-19 00:31:59:960\"`"
        },
        "uRI": {
          "description": "The relative path of the api proxy. for example, `\"uRI\" : \"/iloveapis\"`",
          "type": "string"
        },
        "headers": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Property"
          },
          "type": "array",
          "description": "A list of HTTP headers. for example, '\"headers\" : [ { \"name\" : \"Content-Length\", \"value\" : \"83\" }, { \"name\" : \"Content-Type\", \"value\" : \"application/json\" } ]'"
        },
        "reasonPhrase": {
          "description": "HTTP response phrase",
          "type": "string"
        },
        "content": {
          "description": "Error message content. for example, \"content\" : \"{\\\"fault\\\":{\\\"faultstring\\\":\\\"API timed out\\\",\\\"detail\\\":{\\\"errorcode\\\":\\\"flow.APITimedOut\\\"}}}\"",
          "type": "string"
        },
        "accessList": {
          "description": "A list of variable access actions agaist the api proxy. Supported values: Get, Set, Remove.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Access"
          }
        },
        "ActionResult": {
          "type": "string",
          "description": "Type of the action result. Can be one of the five: DebugInfo, RequestMessage, ResponseMessage, ErrorMessage, VariableAccess"
        },
        "statusCode": {
          "description": "HTTP response code",
          "type": "string"
        },
        "properties": {
          "$ref": "GoogleCloudApigeeV1Properties",
          "description": "Name value pairs used for DebugInfo ActionResult."
        }
      },
      "description": "Result is short for \"action result\", could be different types identified by \"action_result\" field. Supported types: 1. DebugInfo : generic debug info collected by runtime recorded as a list of properties. For example, the contents could be virtual host info, state change result, or execution metadata. Required fields : properties, timestamp 2. RequestMessage: information of a http request. Contains headers, request URI and http methods type.Required fields : headers, uri, verb 3. ResponseMessage: information of a http response. Contains headers, reason phrase and http status code. Required fields : headers, reasonPhrase, statusCode 4. ErrorMessage: information of a http error message. Contains detail error message, reason phrase and status code. Required fields : content, headers, reasonPhrase, statusCode 5. VariableAccess: a list of variable access actions, can be Get, Set and Remove. Required fields : accessList",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListOfDevelopersResponse": {
      "id": "GoogleCloudApigeeV1ListOfDevelopersResponse",
      "type": "object",
      "properties": {
        "developer": {
          "description": "List of developers.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Developer"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudApigeeV1ListApiProductsResponse": {
      "properties": {
        "apiProduct": {
          "items": {
            "$ref": "GoogleCloudApigeeV1ApiProduct"
          },
          "type": "array",
          "description": "Lists all API product names defined for an organization."
        }
      },
      "id": "GoogleCloudApigeeV1ListApiProductsResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1ConfigVersion": {
      "type": "object",
      "properties": {
        "minorVersion": {
          "type": "integer",
          "description": "Minor version of the API proxy configuration schema.",
          "format": "int32"
        },
        "majorVersion": {
          "description": "Major version of the API proxy configuration schema.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Version of the API proxy configuration schema. Currently, only 4.0 is supported.",
      "id": "GoogleCloudApigeeV1ConfigVersion"
    },
    "GoogleCloudApigeeV1EnvironmentGroup": {
      "type": "object",
      "description": "EnvironmentGroup configuration. An environment group is used to group one or more Apigee environments under a single host name.",
      "properties": {
        "name": {
          "type": "string",
          "description": "ID of the environment group."
        },
        "hostnames": {
          "items": {
            "type": "string"
          },
          "description": "Required. Host names for this environment group.",
          "type": "array"
        },
        "createdAt": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The time at which the environment group was created as milliseconds since epoch.",
          "type": "string"
        },
        "lastModifiedAt": {
          "description": "Output only. The time at which the environment group was last updated as milliseconds since epoch.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleCloudApigeeV1EnvironmentGroup"
    },
    "GoogleCloudApigeeV1Developer": {
      "id": "GoogleCloudApigeeV1Developer",
      "properties": {
        "apps": {
          "description": "List of apps associated with the developer.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "email": {
          "type": "string",
          "description": "Required. Email address of the developer. This value is used to uniquely identify the developer in Apigee hybrid."
        },
        "attributes": {
          "type": "array",
          "description": "Optional. Developer attributes (name/value pairs). The custom attribute limit is 18.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          }
        },
        "userName": {
          "type": "string",
          "description": "Required. User name of the developer. Not used by Apigee hybrid."
        },
        "lastModifiedAt": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Time at which the developer was last modified in milliseconds since epoch.",
          "type": "string"
        },
        "companies": {
          "description": "List of companies associated with the developer.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "developerId": {
          "type": "string",
          "description": "ID of the developer. **Note**: IDs are generated internally by Apigee and are not guaranteed to stay the same over time."
        },
        "status": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Status of the developer. Valid values are `active` and `inactive`."
        },
        "createdAt": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time at which the developer was created in milliseconds since epoch."
        },
        "accessType": {
          "description": "Access type.",
          "type": "string"
        },
        "appFamily": {
          "type": "string",
          "description": "Developer app family."
        },
        "firstName": {
          "type": "string",
          "description": "Required. First name of the developer."
        },
        "lastName": {
          "description": "Required. Last name of the developer.",
          "type": "string"
        },
        "organizationName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the Apigee organization in which the developer resides."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1EntityMetadata": {
      "type": "object",
      "id": "GoogleCloudApigeeV1EntityMetadata",
      "properties": {
        "createdAt": {
          "description": "Time at which the API proxy was created, in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "subType": {
          "description": "The type of entity described",
          "type": "string"
        },
        "lastModifiedAt": {
          "type": "string",
          "format": "int64",
          "description": "Time at which the API proxy was most recently modified, in milliseconds since epoch."
        }
      },
      "description": "Metadata common to many entities in this API."
    },
    "GoogleLongrunningListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "GoogleLongrunningListOperationsResponse",
      "type": "object",
      "properties": {
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GoogleIamV1AuditConfig": {
      "properties": {
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        },
        "auditLogConfigs": {
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission.",
          "type": "array"
        }
      },
      "id": "GoogleIamV1AuditConfig",
      "type": "object",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging."
    },
    "GoogleCloudApigeeV1ResourceFile": {
      "description": "Metadata about a resource file.",
      "type": "object",
      "id": "GoogleCloudApigeeV1ResourceFile",
      "properties": {
        "name": {
          "description": "ID of the resource file.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Resource file type. {{ resource_file_type }}"
        }
      }
    },
    "GoogleIamV1Binding": {
      "type": "object",
      "description": "Associates `members` with a `role`.",
      "id": "GoogleIamV1Binding",
      "properties": {
        "role": {
          "description": "Role that is assigned to `members`. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        },
        "members": {
          "description": "Specifies the identities requesting access for a Cloud Platform resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the members in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "GoogleTypeExpr"
        }
      }
    },
    "GoogleCloudApigeeV1TlsInfoCommonName": {
      "id": "GoogleCloudApigeeV1TlsInfoCommonName",
      "type": "object",
      "properties": {
        "value": {
          "description": "The TLS Common Name string of the certificate.",
          "type": "string"
        },
        "wildcardMatch": {
          "type": "boolean",
          "description": "Indicates whether the cert should be matched against as a wildcard cert."
        }
      }
    },
    "GoogleCloudApigeeV1ListAsyncQueriesResponse": {
      "type": "object",
      "description": "The response for ListAsyncQueries.",
      "id": "GoogleCloudApigeeV1ListAsyncQueriesResponse",
      "properties": {
        "queries": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1AsyncQuery"
          },
          "description": "The asynchronous queries belong to requested resource name."
        }
      }
    },
    "GoogleCloudApigeeV1SchemaSchemaProperty": {
      "id": "GoogleCloudApigeeV1SchemaSchemaProperty",
[...]
