{
  "version_module": true,
  "parameters": {
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    }
  },
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://apigee.googleapis.com/",
  "description": "Use the Apigee API to programmatically develop and manage APIs with a set of RESTful operations. Develop and secure API proxies, deploy and undeploy API proxy revisions, monitor APIs, configure environments, manage users, and more. Note: This product is available as a free trial for a time period of 60 days.",
  "revision": "20220421",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "GoogleCloudApigeeV1EnvironmentConfig": {
      "properties": {
        "gatewayConfigLocation": {
          "type": "string",
          "description": "The location for the gateway config blob as a URI, e.g. a Cloud Storage URI. This is only used by Envoy-based gateways."
        },
        "resources": {
          "description": "List of resource versions in the environment.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ResourceConfig"
          }
        },
        "flowhooks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1FlowHookConfig"
          },
          "description": "List of flow hooks in the environment."
        },
        "name": {
          "description": "Name of the environment configuration in the following format: `organizations/{org}/environments/{env}/configs/{config}`",
          "type": "string"
        },
        "dataCollectors": {
          "items": {
            "$ref": "GoogleCloudApigeeV1DataCollectorConfig"
          },
          "type": "array",
          "description": "List of data collectors used by the deployments in the environment."
        },
        "provider": {
          "description": "Used by the Control plane to add context information to help detect the source of the document during diagnostics and debugging.",
          "type": "string"
        },
        "createTime": {
          "description": "Time that the environment configuration was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "pubsubTopic": {
          "type": "string",
          "description": "Name of the PubSub topic for the environment."
        },
        "arcConfigLocation": {
          "description": "The location for the config blob of API Runtime Control, aka Envoy Adapter, for op-based authentication as a URI, e.g. a Cloud Storage URI. This is only used by Envoy-based gateways.",
          "type": "string"
        },
        "deployments": {
          "description": "List of deployments in the environment.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1DeploymentConfig"
          }
        },
        "uid": {
          "description": "Unique ID for the environment configuration. The ID will only change if the environment is deleted and recreated.",
          "type": "string"
        },
        "resourceReferences": {
          "items": {
            "$ref": "GoogleCloudApigeeV1ReferenceConfig"
          },
          "type": "array",
          "description": "List of resource references in the environment."
        },
        "sequenceNumber": {
          "format": "int64",
          "type": "string",
          "description": "DEPRECATED: Use revision_id."
        },
        "targets": {
          "items": {
            "$ref": "GoogleCloudApigeeV1TargetServerConfig"
          },
          "type": "array",
          "description": "List of target servers in the environment. Disabled target servers are not displayed."
        },
        "debugMask": {
          "$ref": "GoogleCloudApigeeV1DebugMask",
          "description": "Debug mask that applies to all deployments in the environment."
        },
        "traceConfig": {
          "$ref": "GoogleCloudApigeeV1RuntimeTraceConfig",
          "description": "Trace configurations. Contains config for the environment and config overrides for specific API proxies."
        },
        "keystores": {
          "items": {
            "$ref": "GoogleCloudApigeeV1KeystoreConfig"
          },
          "description": "List of keystores in the environment.",
          "type": "array"
        },
        "featureFlags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Feature flags inherited from the organization and environment."
        },
        "revisionId": {
          "format": "int64",
          "type": "string",
          "description": "Revision ID of the environment configuration. The higher the value, the more recently the configuration was deployed."
        }
      },
      "id": "GoogleCloudApigeeV1EnvironmentConfig",
      "type": "object"
    },
    "GoogleCloudApigeeV1ResourceStatus": {
      "type": "object",
      "description": "The status of a resource loaded in the runtime.",
      "id": "GoogleCloudApigeeV1ResourceStatus",
      "properties": {
        "totalReplicas": {
          "type": "integer",
          "description": "The total number of replicas that should have this resource.",
          "format": "int32"
        },
        "uid": {
          "description": "The uid of the resource. In the unexpected case that the instance has multiple uids for the same name, they should be reported under separate ResourceStatuses.",
          "type": "string"
        },
        "revisions": {
          "description": "Revisions of the resource currently deployed in the instance.",
          "items": {
            "$ref": "GoogleCloudApigeeV1RevisionStatus"
          },
          "type": "array"
        },
        "resource": {
          "description": "The resource name. Currently only two resources are supported: EnvironmentGroup - organizations/{org}/envgroups/{envgroup} EnvironmentConfig - organizations/{org}/environments/{environment}/deployedConfig",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1Developer": {
      "properties": {
        "lastModifiedAt": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time at which the developer was last modified in milliseconds since epoch.",
          "format": "int64"
        },
        "firstName": {
          "type": "string",
          "description": "Required. First name of the developer."
        },
        "lastName": {
          "type": "string",
          "description": "Required. Last name of the developer."
        },
        "accessType": {
          "description": "Access type.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "Required. Email address of the developer. This value is used to uniquely identify the developer in Apigee hybrid. Note that the email address has to be in lowercase only."
        },
        "companies": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of companies associated with the developer."
        },
        "status": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Status of the developer. Valid values are `active` and `inactive`."
        },
        "appFamily": {
          "description": "Developer app family.",
          "type": "string"
        },
        "createdAt": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Time at which the developer was created in milliseconds since epoch."
        },
        "apps": {
          "description": "List of apps associated with the developer.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "organizationName": {
          "description": "Output only. Name of the Apigee organization in which the developer resides.",
          "readOnly": true,
          "type": "string"
        },
        "attributes": {
          "description": "Optional. Developer attributes (name/value pairs). The custom attribute limit is 18.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "type": "array"
        },
        "developerId": {
          "description": "ID of the developer. **Note**: IDs are generated internally by Apigee and are not guaranteed to stay the same over time.",
          "type": "string"
        },
        "userName": {
          "type": "string",
          "description": "Required. User name of the developer. Not used by Apigee hybrid."
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1Developer"
    },
    "GoogleCloudApigeeV1Metric": {
      "properties": {
        "name": {
          "description": "Metric name.",
          "type": "string"
        },
        "values": {
          "description": "List of metric values. Possible value formats include: `\"values\":[\"39.0\"]` or `\"values\":[ { \"value\": \"39.0\", \"timestamp\": 1232434354} ]`",
          "type": "array",
          "items": {
            "type": "any"
          }
        }
      },
      "description": "Encapsulates the metric data point. For example: ```{ \"name\": \"sum(message_count)\", \"values\" : [ { \"timestamp\": 1549004400000, \"value\": \"39.0\" }, { \"timestamp\" : 1548997200000, \"value\" : \"0.0\" } ] }``` or ```{ \"name\": \"sum(message_count)\", \"values\" : [\"39.0\"] }```",
      "type": "object",
      "id": "GoogleCloudApigeeV1Metric"
    },
    "GoogleCloudApigeeV1RatePlan": {
      "id": "GoogleCloudApigeeV1RatePlan",
      "properties": {
        "setupFee": {
          "$ref": "GoogleTypeMoney",
          "description": "Initial, one-time fee paid when purchasing the API product."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the rate plan."
        },
        "state": {
          "description": "Current state of the rate plan (draft or published).",
          "type": "string",
          "enumDescriptions": [
            "State of the rate plan is not specified.",
            "Rate plan is in draft mode and only visible to API providers.",
            "Rate plan is published and will become visible to developers for the configured duration (between `startTime` and `endTime`)."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "PUBLISHED"
          ]
        },
        "billingPeriod": {
          "enum": [
            "BILLING_PERIOD_UNSPECIFIED",
            "WEEKLY",
            "MONTHLY"
          ],
          "enumDescriptions": [
            "Billing period not specified.",
            "Weekly billing period. **Note**: Not supported by Apigee at this time.",
            "Monthly billing period."
          ],
          "type": "string",
          "description": "Frequency at which the customer will be billed."
        },
        "displayName": {
          "description": "Display name of the rate plan.",
          "type": "string"
        },
        "createdAt": {
          "readOnly": true,
          "description": "Output only. Time that the rate plan was created in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "fixedFeeFrequency": {
          "description": "Frequency at which the fixed fee is charged.",
          "format": "int32",
          "type": "integer"
        },
        "currencyCode": {
          "description": "Currency to be used for billing. Consists of a three-letter code as defined by the [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) standard.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "int64",
          "description": "Time when the rate plan will expire in milliseconds since epoch. Set to 0 or `null` to indicate that the rate plan should never expire."
        },
        "lastModifiedAt": {
          "format": "int64",
          "description": "Output only. Time the rate plan was last modified in milliseconds since epoch.",
          "readOnly": true,
          "type": "string"
        },
        "consumptionPricingRates": {
          "type": "array",
          "description": "API call volume ranges and the fees charged when the total number of API calls is within a given range. The method used to calculate the final fee depends on the selected pricing model. For example, if the pricing model is `STAIRSTEP` and the ranges are defined as follows: ``` { \"start\": 1, \"end\": 100, \"fee\": 75 }, { \"start\": 101, \"end\": 200, \"fee\": 100 }, } ``` Then the following fees would be charged based on the total number of API calls (assuming the currency selected is `USD`): * 1 call costs $75 * 50 calls cost $75 * 150 calls cost $100 The number of API calls cannot exceed 200.",
          "items": {
            "$ref": "GoogleCloudApigeeV1RateRange"
          }
        },
        "revenueShareType": {
          "enum": [
            "REVENUE_SHARE_TYPE_UNSPECIFIED",
            "FIXED",
            "VOLUME_BANDED"
          ],
          "description": "Method used to calculate the revenue that is shared with developers.",
          "enumDescriptions": [
            "Revenue share type is not specified.",
            "Fixed percentage of the total revenue will be shared. The percentage to be shared can be configured by the API provider.",
            "Amount of revenue shared depends on the number of API calls. The API call volume ranges and the revenue share percentage for each volume can be configured by the API provider. **Note**: Not supported by Apigee at this time."
          ],
          "type": "string"
        },
        "apiproduct": {
          "type": "string",
          "description": "Name of the API product that the rate plan is associated with."
        },
        "fixedRecurringFee": {
          "description": "Fixed amount that is charged at a defined interval and billed in advance of use of the API product. The fee will be prorated for the first billing period.",
          "$ref": "GoogleTypeMoney"
        },
        "consumptionPricingType": {
          "enumDescriptions": [
            "Pricing model not specified. This is the default.",
            "Fixed rate charged for each API call.",
            "Variable rate charged for each API call based on price tiers. Example: * 1-100 calls cost $2 per call * 101-200 calls cost $1.50 per call * 201-300 calls cost $1 per call * Total price for 50 calls: 50 x $2 = $100 * Total price for 150 calls: 100 x $2 + 50 x $1.5 = $275 * Total price for 250 calls: 100 x $2 + 100 x $1.5 + 50 x $1 = $400. **Note**: Not supported by Apigee at this time.",
            "**Note**: Not supported by Apigee at this time.",
            "**Note**: Not supported by Apigee at this time."
          ],
          "type": "string",
          "enum": [
            "CONSUMPTION_PRICING_TYPE_UNSPECIFIED",
            "FIXED_PER_UNIT",
            "BANDED",
            "TIERED",
            "STAIRSTEP"
          ],
          "description": "Pricing model used for consumption-based charges."
        },
        "revenueShareRates": {
          "items": {
            "$ref": "GoogleCloudApigeeV1RevenueShareRange"
          },
          "type": "array",
          "description": "Details of the revenue sharing model."
        },
        "description": {
          "type": "string",
          "description": "Description of the rate plan."
        },
        "paymentFundingModel": {
          "type": "string",
          "enum": [
            "PAYMENT_FUNDING_MODEL_UNSPECIFIED",
            "PREPAID",
            "POSTPAID"
          ],
          "enumDescriptions": [
            "Billing account type not specified.",
            "Prepaid billing account type. Developer pays in advance for the use of your API products. Funds are deducted from their prepaid account balance. **Note**: Not supported by Apigee at this time.",
            "Postpaid billing account type. Developer is billed through an invoice after using your API products."
          ],
          "description": "DEPRECATED: This field is no longer supported and will eventually be removed when Apigee Hybrid 1.5/1.6 is no longer supported. Instead, use the `billingType` field inside `DeveloperMonetizationConfig` resource. Flag that specifies the billing account type, prepaid or postpaid."
        },
        "startTime": {
          "description": "Time when the rate plan becomes active in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Rate plan details.",
      "type": "object"
    },
    "GoogleCloudApigeeV1ApiCategory": {
      "id": "GoogleCloudApigeeV1ApiCategory",
      "type": "object",
      "description": "the Api category resource wrapped with response status, error_code etc.",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "ID that can be used to find request details in the log files."
        },
        "status": {
          "description": "Status of the operation.",
          "type": "string"
        },
        "errorCode": {
          "description": "ID that can be used to find errors in the log files.",
          "type": "string"
        },
        "message": {
          "description": "Description of the operation.",
          "type": "string"
        },
        "data": {
          "$ref": "GoogleCloudApigeeV1ApiCategoryData",
          "description": "Details of category."
        }
      }
    },
    "GoogleCloudApigeeV1ReferenceConfig": {
      "id": "GoogleCloudApigeeV1ReferenceConfig",
      "properties": {
        "resourceName": {
          "description": "Name of the referenced resource in the following format: `organizations/{org}/environments/{env}/keystores/{keystore}` Only references to keystore resources are supported.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the reference in the following format: `organizations/{org}/environments/{env}/references/{reference}`"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1OperationConfig": {
      "type": "object",
      "properties": {
        "operations": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Operation"
          },
          "type": "array",
          "description": "List of resource/method pairs for the API proxy or remote service to which quota will applied. **Note**: Currently, you can specify only a single resource/method pair. The call will fail if more than one resource/method pair is provided."
        },
        "quota": {
          "description": "Quota parameters to be enforced for the resources, methods, and API source combination. If none are specified, quota enforcement will not be done.",
          "$ref": "GoogleCloudApigeeV1Quota"
        },
        "attributes": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "type": "array",
          "description": "Custom attributes associated with the operation."
        },
        "apiSource": {
          "description": "Required. Name of the API proxy or remote service with which the resources, methods, and quota are associated.",
          "type": "string"
        }
      },
      "description": "Binds the resources in an API proxy or remote service with the allowed REST methods and associated quota enforcement.",
      "id": "GoogleCloudApigeeV1OperationConfig"
    },
    "GoogleCloudApigeeV1RuntimeConfig": {
      "description": "Runtime configuration for the organization. Response for GetRuntimeConfig.",
      "id": "GoogleCloudApigeeV1RuntimeConfig",
      "type": "object",
      "properties": {
        "traceBucket": {
          "description": "Cloud Storage bucket used for uploading Trace records.",
          "type": "string"
        },
        "tenantProjectId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Tenant project ID associated with the Apigee organization. The tenant project is used to host Google-managed resources that are dedicated to this Apigee organization. Clients have limited access to resources within the tenant project used to support Apigee runtime instances. Access to the tenant project is managed using SetSyncAuthorization. It can be empty if the tenant project hasn't been created yet."
        },
        "name": {
          "type": "string",
          "description": "Name of the resource in the following format: `organizations/{org}/runtimeConfig`."
        },
        "analyticsBucket": {
          "description": "Cloud Storage bucket used for uploading Analytics records.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1QueryMetric": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Metric name."
        },
        "function": {
          "description": "Aggregation function: avg, min, max, or sum.",
          "type": "string"
        },
        "operator": {
          "description": "One of `+`, `-`, `/`, `%`, `*`.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Operand value should be provided when operator is set."
        },
        "alias": {
          "description": "Alias for the metric. Alias will be used to replace metric name in query results.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "More info about Metric: https://docs.apigee.com/api-platform/analytics/analytics-reference#metrics",
      "id": "GoogleCloudApigeeV1QueryMetric"
    },
    "GoogleCloudApigeeV1PodStatus": {
      "type": "object",
      "properties": {
        "statusCode": {
          "type": "string",
          "description": "Code associated with the deployment status."
        },
        "appVersion": {
          "type": "string",
          "description": "Version of the application running in the pod."
        },
        "deploymentStatus": {
          "description": "Status of the deployment. Valid values include: - `deployed`: Successful. - `error` : Failed. - `pending` : Pod has not yet reported on the deployment.",
          "type": "string"
        },
        "statusCodeDetails": {
          "type": "string",
          "description": "Human-readable message associated with the status code."
        },
        "podStatus": {
          "description": "Overall status of the pod (not this specific deployment). Valid values include: - `active`: Up to date. - `stale` : Recently out of date. Pods that have not reported status in a long time are excluded from the output.",
          "type": "string"
        },
        "podName": {
          "description": "Name of the pod which is reporting the status.",
          "type": "string"
        },
        "deploymentStatusTime": {
          "format": "int64",
          "description": "Time the deployment status was reported in milliseconds since epoch.",
          "type": "string"
        },
        "deploymentTime": {
          "description": "Time the proxy was deployed in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "podStatusTime": {
          "type": "string",
          "format": "int64",
          "description": "Time the pod status was reported in milliseconds since epoch."
        }
      },
      "id": "GoogleCloudApigeeV1PodStatus"
    },
    "GoogleCloudApigeeV1ArchiveDeployment": {
      "type": "object",
      "description": "Archive Deployment information.",
      "id": "GoogleCloudApigeeV1ArchiveDeployment",
      "properties": {
        "operation": {
          "type": "string",
          "description": "Output only. A reference to the LRO that created this Archive Deployment in the following format: `organizations/{org}/operations/{id}`",
          "readOnly": true
        },
        "gcsUri": {
          "type": "string",
          "description": "Input only. The Google Cloud Storage signed URL returned from GenerateUploadUrl and used to upload the Archive zip file."
        },
        "name": {
          "type": "string",
          "description": "Name of the Archive Deployment in the following format: `organizations/{org}/environments/{env}/archiveDeployments/{id}`."
        },
        "updatedAt": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which the Archive Deployment was updated in milliseconds since the epoch."
        },
        "createdAt": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The time at which the Archive Deployment was created in milliseconds since the epoch."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "User-supplied key-value pairs used to organize ArchiveDeployments. Label keys must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}{0,62} Label values must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} No more than 64 labels can be associated with a given store."
        }
      }
    },
    "GoogleCloudApigeeV1AsyncQuery": {
      "properties": {
        "error": {
          "description": "Error is set when query fails.",
          "type": "string"
        },
        "envgroupHostname": {
          "description": "Hostname is available only when query is executed at host level.",
          "type": "string"
        },
        "result": {
          "$ref": "GoogleCloudApigeeV1AsyncQueryResult",
          "description": "Result is available only after the query is completed."
        },
        "created": {
          "description": "Creation time of the query.",
          "type": "string"
        },
        "queryParams": {
          "description": "Contains information like metrics, dimenstions etc of the AsyncQuery.",
          "$ref": "GoogleCloudApigeeV1QueryMetadata"
        },
        "state": {
          "description": "Query state could be \"enqueued\", \"running\", \"completed\", \"failed\".",
          "type": "string"
        },
        "reportDefinitionId": {
          "description": "Asynchronous Report ID.",
          "type": "string"
        },
        "self": {
          "description": "Self link of the query. Example: `/organizations/myorg/environments/myenv/queries/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd` or following format if query is running at host level: `/organizations/myorg/hostQueries/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd`",
          "type": "string"
        },
        "resultRows": {
          "format": "int64",
          "description": "ResultRows is available only after the query is completed.",
          "type": "string"
        },
        "executionTime": {
          "description": "ExecutionTime is available only after the query is completed.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Asynchronous Query Name."
        },
        "updated": {
          "description": "Last updated timestamp for the query.",
          "type": "string"
        },
        "resultFileSize": {
          "type": "string",
          "description": "ResultFileSize is available only after the query is completed."
        }
      },
      "id": "GoogleCloudApigeeV1AsyncQuery",
      "type": "object"
    },
    "GoogleCloudApigeeV1ProvisionOrganizationRequest": {
      "type": "object",
      "properties": {
        "runtimeLocation": {
          "type": "string",
          "description": "Cloud Platform location for the runtime instance. Defaults to zone `us-west1-a`. If a region is provided, `EVAL` organizations will use the region for automatically selecting a zone for the runtime instance."
        },
        "analyticsRegion": {
          "description": "Primary Cloud Platform region for analytics data storage. For valid values, see [Create an organization](https://cloud.google.com/apigee/docs/hybrid/latest/precog-provision). Defaults to `us-west1`.",
          "type": "string"
        },
        "authorizedNetwork": {
          "description": "Name of the customer project's VPC network. If provided, the network needs to be peered through Service Networking. If none is provided, the organization will have access only to the public internet.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1ProvisionOrganizationRequest",
      "description": "Request for ProvisionOrganization."
    },
    "GoogleCloudApigeeV1SchemaSchemaProperty": {
      "properties": {
        "type": {
          "description": "Data type of the field.",
          "type": "string"
        },
        "custom": {
          "type": "string",
          "description": "Flag that specifies whether the field is standard in the dataset or a custom field created by the customer. `true` indicates that it is a custom field."
        },
        "createTime": {
          "description": "Time the field was created in RFC3339 string form. For example: `2016-02-26T10:23:09.592Z`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1SchemaSchemaProperty",
      "description": "Properties for the schema field."
    },
    "GoogleCloudApigeeV1DeploymentChangeReportRoutingChange": {
      "properties": {
        "shouldSequenceRollout": {
          "type": "boolean",
          "description": "Set to `true` if using sequenced rollout would make this routing change safer. **Note**: This does not necessarily imply that automated sequenced rollout mode is supported for the operation."
        },
        "description": {
          "type": "string",
          "description": "Human-readable description of this routing change."
        },
        "environmentGroup": {
          "description": "Name of the environment group affected by this routing change.",
          "type": "string"
        },
        "toDeployment": {
          "description": "Base path/deployment that may start receiving that traffic. May be null if no deployment is able to receive the traffic.",
          "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment"
        },
        "fromDeployment": {
          "description": "Base path/deployment that may stop receiving some traffic.",
          "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment"
        }
      },
      "description": "Describes a potential routing change that may occur as a result of some deployment operation.",
      "id": "GoogleCloudApigeeV1DeploymentChangeReportRoutingChange",
      "type": "object"
    },
    "GoogleCloudApigeeV1AdvancedApiOpsConfig": {
      "id": "GoogleCloudApigeeV1AdvancedApiOpsConfig",
      "type": "object",
      "description": "Configuration for the Advanced API Ops add-on.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Flag that specifies whether the Advanced API Ops add-on is enabled."
        }
      }
    },
    "GoogleCloudApigeeV1Attributes": {
      "properties": {
        "attribute": {
          "type": "array",
          "description": "List of attributes.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1Attributes"
    },
    "GoogleCloudApigeeV1ResourceFile": {
      "id": "GoogleCloudApigeeV1ResourceFile",
      "properties": {
        "type": {
          "type": "string",
          "description": "Resource file type. {{ resource_file_type }}"
        },
        "name": {
          "description": "ID of the resource file.",
          "type": "string"
        }
      },
      "description": "Metadata about a resource file.",
      "type": "object"
    },
    "GoogleCloudApigeeV1Environment": {
      "id": "GoogleCloudApigeeV1Environment",
      "type": "object",
      "properties": {
        "lastModifiedAt": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Last modification time of this environment as milliseconds since epoch."
        },
        "displayName": {
          "description": "Optional. Display name for this environment.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Resource is in an unspecified state.",
            "Resource is being created.",
            "Resource is provisioned and ready to use.",
            "The resource is being deleted.",
            "The resource is being updated."
          ],
          "type": "string",
          "description": "Output only. State of the environment. Values other than ACTIVE means the resource is not ready to use.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "UPDATING"
          ]
        },
        "apiProxyType": {
          "enum": [
            "API_PROXY_TYPE_UNSPECIFIED",
            "PROGRAMMABLE",
            "CONFIGURABLE"
          ],
          "description": "Optional. API Proxy type supported by the environment. The type can be set when creating the Environment and cannot be changed.",
          "enumDescriptions": [
            "API proxy type not specified.",
            "Programmable API Proxies enable you to develop APIs with highly flexible behavior using bundled policy configuration and one or more programming languages to describe complex sequential and/or conditional flows of logic.",
            "Configurable API Proxies enable you to develop efficient APIs using simple configuration while complex execution control flow logic is handled by Apigee. This type only works with the ARCHIVE deployment type and cannot be combined with the PROXY deployment type."
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the environment. Values must match the regular expression `^[.\\\\p{Alnum}-_]{1,255}$`"
        },
        "deploymentType": {
          "type": "string",
          "enum": [
            "DEPLOYMENT_TYPE_UNSPECIFIED",
            "PROXY",
            "ARCHIVE"
          ],
          "enumDescriptions": [
            "Deployment type not specified.",
            "Proxy deployment enables you to develop and deploy API proxies using Apigee on Google Cloud. This cannot currently be combined with the CONFIGURABLE API proxy type.",
            "Archive deployment enables you to develop API proxies locally then deploy an archive of your API proxy configuration to an environment in Apigee on Google Cloud. You will be prevented from performing a [subset of actions](/apigee/docs/api-platform/local-development/overview#prevented-actions) within the environment."
          ],
          "description": "Optional. Deployment type supported by the environment. The deployment type can be set when creating the environment and cannot be changed. When you enable archive deployment, you will be **prevented from performing** a [subset of actions](/apigee/docs/api-platform/local-development/overview#prevented-actions) within the environment, including: * Managing the deployment of API proxy or shared flow revisions * Creating, updating, or deleting resource files * Creating, updating, or deleting target servers"
        },
        "properties": {
          "description": "Optional. Key-value pairs that may be used for customizing the environment.",
          "$ref": "GoogleCloudApigeeV1Properties"
        },
        "createdAt": {
          "type": "string",
          "description": "Output only. Creation time of this environment as milliseconds since epoch.",
          "readOnly": true,
          "format": "int64"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the environment."
        }
      }
    },
    "GoogleCloudApigeeV1DeploymentChangeReport": {
      "description": "Response for GenerateDeployChangeReport and GenerateUndeployChangeReport. This report contains any validation failures that would cause the deployment to be rejected, as well changes and conflicts in routing that may occur due to the new deployment. The existence of a routing warning does not necessarily imply that the deployment request is bad, if the desired state of the deployment request is to effect a routing change. The primary purposes of the routing messages are: 1) To inform users of routing changes that may have an effect on traffic currently being routed to other existing deployments. 2) To warn users if some base path in the proxy will not receive traffic due to an existing deployment having already claimed that base path. The presence of routing conflicts/changes will not cause non-dry-run DeployApiProxy/UndeployApiProxy requests to be rejected.",
      "id": "GoogleCloudApigeeV1DeploymentChangeReport",
      "type": "object",
      "properties": {
        "routingConflicts": {
          "items": {
            "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingConflict"
          },
          "description": "All base path conflicts detected for a deployment request.",
          "type": "array"
        },
        "validationErrors": {
          "$ref": "GoogleRpcPreconditionFailure",
          "description": "Validation errors that would cause the deployment change request to be rejected."
        },
        "routingChanges": {
          "description": "All routing changes that may result from a deployment request.",
          "items": {
            "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingChange"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudApigeeV1AliasRevisionConfig": {
      "id": "GoogleCloudApigeeV1AliasRevisionConfig",
      "properties": {
        "location": {
          "description": "Location of the alias file. For example, a Google Cloud Storage URI.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Alias type is not specified.",
            "Certificate.",
            "Key/certificate pair."
          ],
          "enum": [
            "ALIAS_TYPE_UNSPECIFIED",
            "CERT",
            "KEY_CERT"
          ]
        },
        "name": {
          "description": "Name of the alias revision included in the keystore in the following format: `organizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}/revisions/{rev}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1CanaryEvaluationMetricLabels": {
      "type": "object",
      "id": "GoogleCloudApigeeV1CanaryEvaluationMetricLabels",
      "properties": {
        "instance_id": {
          "description": "Required. The instance ID associated with the metrics. In Apigee Hybrid, the value is configured during installation.",
          "type": "string"
        },
        "env": {
          "description": "The environment ID associated with the metrics.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Required. The location associated with the metrics."
        }
      },
      "description": "Labels that can be used to filter Apigee metrics."
    },
    "GoogleCloudApigeeV1Certificate": {
      "properties": {
        "certInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1CertInfo"
          },
          "description": "Chain of certificates under this name."
        }
      },
      "id": "GoogleCloudApigeeV1Certificate",
      "type": "object"
    },
    "GoogleCloudApigeeV1EnvironmentGroup": {
      "type": "object",
      "id": "GoogleCloudApigeeV1EnvironmentGroup",
      "properties": {
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Resource is in an unspecified state.",
            "Resource is being created.",
            "Resource is provisioned and ready to use.",
            "The resource is being deleted.",
            "The resource is being updated."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "UPDATING"
          ],
          "description": "Output only. State of the environment group. Values other than ACTIVE means the resource is not ready to use."
        },
        "lastModifiedAt": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The time at which the environment group was last updated as milliseconds since epoch.",
          "readOnly": true
        },
        "createdAt": {
          "description": "Output only. The time at which the environment group was created as milliseconds since epoch.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "ID of the environment group."
        },
        "hostnames": {
          "items": {
            "type": "string"
          },
          "description": "Required. Host names for this environment group.",
          "type": "array"
        }
      },
      "description": "EnvironmentGroup configuration. An environment group is used to group one or more Apigee environments under a single host name."
    },
    "GoogleCloudApigeeV1TraceConfig": {
      "description": "TraceConfig defines the configurations in an environment of distributed trace.",
      "properties": {
        "samplingConfig": {
          "description": "Distributed trace configuration for all API proxies in an environment. You can also override the configuration for a specific API proxy using the distributed trace configuration overrides API.",
          "$ref": "GoogleCloudApigeeV1TraceSamplingConfig"
        },
        "exporter": {
          "enumDescriptions": [
            "Exporter unspecified",
            "Jaeger exporter",
            "Cloudtrace exporter"
          ],
          "type": "string",
          "description": "Required. Exporter that is used to view the distributed trace captured using OpenCensus. An exporter sends traces to any backend that is capable of consuming them. Recorded spans can be exported by registered exporters.",
          "enum": [
            "EXPORTER_UNSPECIFIED",
            "JAEGER",
            "CLOUD_TRACE"
          ]
        },
        "endpoint": {
          "description": "Required. Endpoint of the exporter.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1TraceConfig",
      "type": "object"
    },
    "GoogleCloudApigeeV1Access": {
      "properties": {
        "Get": {
          "$ref": "GoogleCloudApigeeV1AccessGet"
        },
        "Set": {
          "$ref": "GoogleCloudApigeeV1AccessSet"
        },
        "Remove": {
          "$ref": "GoogleCloudApigeeV1AccessRemove"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1Access"
    },
    "GoogleCloudApigeeV1UpdateError": {
      "description": "Details on why a resource update failed in the runtime.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "A string that uniquely identifies the type of error. This provides a more reliable means to deduplicate errors across revisions and instances."
        },
        "message": {
          "type": "string",
          "description": "User-friendly error message."
        },
        "resource": {
          "type": "string",
          "description": "The sub resource specific to this error (e.g. a proxy deployed within the EnvironmentConfig). If empty the error refers to the top level resource."
        },
        "code": {
          "enumDescriptions": [
            "Not an error; returned on success HTTP Mapping: 200 OK",
            "The operation was cancelled, typically by the caller. HTTP Mapping: 499 Client Closed Request",
            "Unknown error. For example, this error may be returned when a `Status` value received from another address space belongs to an error space that is not known in this address space. Also errors raised by APIs that do not return enough error information may be converted to this error. HTTP Mapping: 500 Internal Server Error",
            "The client specified an invalid argument. Note that this differs from `FAILED_PRECONDITION`. `INVALID_ARGUMENT` indicates arguments that are problematic regardless of the state of the system (e.g., a malformed file name). HTTP Mapping: 400 Bad Request",
            "The deadline expired before the operation could complete. For operations that change the state of the system, this error may be returned even if the operation has completed successfully. For example, a successful response from a server could have been delayed long enough for the deadline to expire. HTTP Mapping: 504 Gateway Timeout",
            "Some requested entity (e.g., file or directory) was not found. Note to server developers: if a request is denied for an entire class of users, such as gradual feature rollout or undocumented allowlist, `NOT_FOUND` may be used. If a request is denied for some users within a class of users, such as user-based access control, `PERMISSION_DENIED` must be used. HTTP Mapping: 404 Not Found",
            "The entity that a client attempted to create (e.g., file or directory) already exists. HTTP Mapping: 409 Conflict",
            "The caller does not have permission to execute the specified operation. `PERMISSION_DENIED` must not be used for rejections caused by exhausting some resource (use `RESOURCE_EXHAUSTED` instead for those errors). `PERMISSION_DENIED` must not be used if the caller can not be identified (use `UNAUTHENTICATED` instead for those errors). This error code does not imply the request is valid or the requested entity exists or satisfies other pre-conditions. HTTP Mapping: 403 Forbidden",
            "The request does not have valid authentication credentials for the operation. HTTP Mapping: 401 Unauthorized",
            "Some resource has been exhausted, perhaps a per-user quota, or perhaps the entire file system is out of space. HTTP Mapping: 429 Too Many Requests",
            "The operation was rejected because the system is not in a state required for the operation's execution. For example, the directory to be deleted is non-empty, an rmdir operation is applied to a non-directory, etc. Service implementors can use the following guidelines to decide between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`: (a) Use `UNAVAILABLE` if the client can retry just the failing call. (b) Use `ABORTED` if the client should retry at a higher level. For example, when a client-specified test-and-set fails, indicating the client should restart a read-modify-write sequence. (c) Use `FAILED_PRECONDITION` if the client should not retry until the system state has been explicitly fixed. For example, if an \"rmdir\" fails because the directory is non-empty, `FAILED_PRECONDITION` should be returned since the client should not retry unless the files are deleted from the directory. HTTP Mapping: 400 Bad Request",
            "The operation was aborted, typically due to a concurrency issue such as a sequencer check failure or transaction abort. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 409 Conflict",
            "The operation was attempted past the valid range. E.g., seeking or reading past end-of-file. Unlike `INVALID_ARGUMENT`, this error indicates a problem that may be fixed if the system state changes. For example, a 32-bit file system will generate `INVALID_ARGUMENT` if asked to read at an offset that is not in the range [0,2^32-1], but it will generate `OUT_OF_RANGE` if asked to read from an offset past the current file size. There is a fair bit of overlap between `FAILED_PRECONDITION` and `OUT_OF_RANGE`. We recommend using `OUT_OF_RANGE` (the more specific error) when it applies so that callers who are iterating through a space can easily look for an `OUT_OF_RANGE` error to detect when they are done. HTTP Mapping: 400 Bad Request",
            "The operation is not implemented or is not supported/enabled in this service. HTTP Mapping: 501 Not Implemented",
            "Internal errors. This means that some invariants expected by the underlying system have been broken. This error code is reserved for serious errors. HTTP Mapping: 500 Internal Server Error",
            "The service is currently unavailable. This is most likely a transient condition, which can be corrected by retrying with a backoff. Note that it is not always safe to retry non-idempotent operations. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 503 Service Unavailable",
            "Unrecoverable data loss or corruption. HTTP Mapping: 500 Internal Server Error"
          ],
          "description": "Status code.",
          "type": "string",
          "enum": [
            "OK",
            "CANCELLED",
            "UNKNOWN",
            "INVALID_ARGUMENT",
            "DEADLINE_EXCEEDED",
            "NOT_FOUND",
            "ALREADY_EXISTS",
            "PERMISSION_DENIED",
            "UNAUTHENTICATED",
            "RESOURCE_EXHAUSTED",
            "FAILED_PRECONDITION",
            "ABORTED",
            "OUT_OF_RANGE",
            "UNIMPLEMENTED",
            "INTERNAL",
            "UNAVAILABLE",
            "DATA_LOSS"
          ]
        }
      },
      "id": "GoogleCloudApigeeV1UpdateError"
    },
    "GoogleCloudApigeeV1ApiProxy": {
      "type": "object",
      "properties": {
        "metaData": {
          "readOnly": true,
          "$ref": "GoogleCloudApigeeV1EntityMetadata",
          "description": "Output only. Metadata describing the API proxy."
        },
        "apiProxyType": {
          "enumDescriptions": [
            "API proxy type not specified.",
            "Programmable API Proxies enable you to develop APIs with highly flexible behavior using bundled policy configuration and one or more programming languages to describe complex sequential and/or conditional flows of logic.",
            "Configurable API Proxies enable you to develop efficient APIs using simple configuration while complex execution control flow logic is handled by Apigee. This type only works with the ARCHIVE deployment type and cannot be combined with the PROXY deployment type."
          ],
          "enum": [
            "API_PROXY_TYPE_UNSPECIFIED",
            "PROGRAMMABLE",
            "CONFIGURABLE"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the API proxy."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "User labels applied to this API Proxy.",
          "type": "object"
        },
        "name": {
          "description": "Output only. Name of the API proxy.",
          "type": "string",
          "readOnly": true
        },
        "latestRevisionId": {
          "description": "Output only. The id of the most recently created revision for this api proxy.",
          "type": "string",
          "readOnly": true
        },
        "revision": {
          "description": "Output only. List of revisions defined for the API proxy.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "readOnly": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether this proxy is read-only. A read-only proxy cannot have new revisions created through calls to CreateApiProxyRevision. A proxy is read-only if it was generated by an archive."
        }
      },
      "description": "Metadata describing the API proxy",
      "id": "GoogleCloudApigeeV1ApiProxy"
    },
    "GoogleCloudApigeeV1ListApiProxiesResponse": {
      "description": "To change this message, in the same CL add a change log in go/changing-api-proto-breaks-ui",
      "properties": {
        "proxies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ApiProxy"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1ListApiProxiesResponse"
    },
    "GoogleCloudApigeeV1AddonsConfig": {
      "properties": {
        "integrationConfig": {
          "description": "Configuration for the Integration add-on.",
          "$ref": "GoogleCloudApigeeV1IntegrationConfig"
        },
        "advancedApiOpsConfig": {
          "description": "Configuration for the Advanced API Ops add-on.",
          "$ref": "GoogleCloudApigeeV1AdvancedApiOpsConfig"
        },
        "monetizationConfig": {
          "$ref": "GoogleCloudApigeeV1MonetizationConfig",
          "description": "Configuration for the Monetization add-on."
        },
        "connectorsPlatformConfig": {
          "$ref": "GoogleCloudApigeeV1ConnectorsPlatformConfig",
          "description": "Configuration for the Connectors Platform add-on."
        }
      },
      "type": "object",
      "description": "Add-on configurations for the Apigee organization.",
      "id": "GoogleCloudApigeeV1AddonsConfig"
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "properties": {
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        },
        "policy": {
          "$ref": "GoogleIamV1Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "type": "object",
      "description": "Request message for `SetIamPolicy` method.",
      "id": "GoogleIamV1SetIamPolicyRequest"
    },
    "GoogleCloudApigeeV1GetAsyncQueryResultUrlResponse": {
      "type": "object",
      "id": "GoogleCloudApigeeV1GetAsyncQueryResultUrlResponse",
      "properties": {
        "urls": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1GetAsyncQueryResultUrlResponseURLInfo"
          },
          "description": "The list of Signed URLs generated by the CreateAsyncQuery request"
        }
      },
      "description": "The response for GetAsyncQueryResultUrl"
    },
    "GoogleCloudApigeeV1GenerateUploadUrlRequest": {
      "properties": {},
      "id": "GoogleCloudApigeeV1GenerateUploadUrlRequest",
      "description": "Request for GenerateUploadUrl method.",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListRatePlansResponse": {
      "description": "Response for ListRatePlans.",
      "type": "object",
      "properties": {
        "ratePlans": {
          "description": "List of rate plans in an organization.",
          "items": {
            "$ref": "GoogleCloudApigeeV1RatePlan"
          },
          "type": "array"
        },
        "nextStartKey": {
          "type": "string",
          "description": "Value that can be sent as `startKey` to retrieve the next page of content. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleCloudApigeeV1ListRatePlansResponse"
    },
    "GoogleCloudApigeeV1ListDebugSessionsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Page token that you can include in a ListDebugSessionsRequest to retrieve the next page. If omitted, no subsequent pages exist.",
          "type": "string"
        },
        "sessions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Session"
          },
          "description": "Session info that includes debug session ID and the first transaction creation timestamp."
        }
      },
      "id": "GoogleCloudApigeeV1ListDebugSessionsResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1DeveloperBalance": {
      "id": "GoogleCloudApigeeV1DeveloperBalance",
      "type": "object",
      "properties": {
        "wallets": {
          "description": "Output only. List of all wallets. Each individual wallet stores the account balance for a particular currency.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudApigeeV1DeveloperBalanceWallet"
          }
        }
      },
      "description": "Account balance for the developer."
    },
    "GoogleCloudApigeeV1ListSharedFlowsResponse": {
      "id": "GoogleCloudApigeeV1ListSharedFlowsResponse",
      "description": "To change this message, in the same CL add a change log in go/changing-api-proto-breaks-ui",
      "properties": {
        "sharedFlows": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1SharedFlow"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1ActivateNatAddressRequest": {
      "properties": {},
      "id": "GoogleCloudApigeeV1ActivateNatAddressRequest",
      "type": "object",
      "description": "Request for ActivateNatAddressRequest. Activate the nat address request."
    },
    "GoogleCloudApigeeV1SchemaSchemaElement": {
      "id": "GoogleCloudApigeeV1SchemaSchemaElement",
      "properties": {
        "properties": {
          "$ref": "GoogleCloudApigeeV1SchemaSchemaProperty",
          "description": "Properties for the schema field. For example: { \"createTime\": \"2016-02-26T10:23:09.592Z\", \"custom\": \"false\", \"type\": \"string\" }"
        },
        "name": {
          "description": "Name of the field.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Message type for the schema element"
    },
    "GoogleCloudApigeeV1DataCollectorConfig": {
      "id": "GoogleCloudApigeeV1DataCollectorConfig",
      "properties": {
        "name": {
          "description": "Name of the data collector in the following format: `organizations/{org}/datacollectors/{datacollector}`",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "For future compatibility.",
            "For integer values.",
            "For float values.",
            "For string values.",
            "For boolean values.",
            "For datetime values."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "INTEGER",
            "FLOAT",
            "STRING",
            "BOOLEAN",
            "DATETIME"
          ],
          "description": "Data type accepted by the data collector."
        }
      },
      "type": "object",
      "description": "Data collector and its configuration."
    },
    "GoogleCloudApigeeV1DeploymentChangeReportRoutingConflict": {
      "description": "Describes a routing conflict that may cause a deployment not to receive traffic at some base path.",
      "id": "GoogleCloudApigeeV1DeploymentChangeReportRoutingConflict",
      "properties": {
        "conflictingDeployment": {
          "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment",
          "description": "Existing base path/deployment causing the conflict."
        },
        "description": {
          "type": "string",
          "description": "Human-readable description of this conflict."
        },
        "environmentGroup": {
          "type": "string",
          "description": "Name of the environment group in which this conflict exists."
        }
      },
      "type": "object"
    },
    "GoogleLongrunningListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "GoogleLongrunningListOperationsResponse",
      "type": "object",
      "properties": {
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "GoogleCloudApigeeV1GraphQLOperation": {
      "description": "Represents the pairing of GraphQL operation types and the GraphQL operation name.",
      "properties": {
        "operationTypes": {
          "description": "Required. GraphQL operation types. Valid values include `query` or `mutation`. **Note**: Apigee does not currently support `subscription` types.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "operation": {
          "type": "string",
          "description": "GraphQL operation name. The name and operation type will be used to apply quotas. If no name is specified, the quota will be applied to all GraphQL operations irrespective of their operation names in the payload."
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1GraphQLOperation"
    },
    "GoogleCloudApigeeV1ResourceFiles": {
      "type": "object",
      "description": "List of resource files.",
      "properties": {
        "resourceFile": {
          "type": "array",
          "description": "List of resource files.",
          "items": {
            "$ref": "GoogleCloudApigeeV1ResourceFile"
          }
        }
      },
      "id": "GoogleCloudApigeeV1ResourceFiles"
    },
    "GoogleCloudApigeeV1AdjustDeveloperBalanceRequest": {
      "description": "Request for AdjustDeveloperBalance.",
      "properties": {
        "adjustment": {
          "description": "* A positive value of `adjustment` means that that the API provider wants to adjust the balance for an under-charged developer i.e. the balance of the developer will decrease. * A negative value of `adjustment` means that that the API provider wants to adjust the balance for an over-charged developer i.e. the balance of the developer will increase.",
          "$ref": "GoogleTypeMoney"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1AdjustDeveloperBalanceRequest"
    },
    "GoogleCloudApigeeV1RateRange": {
      "properties": {
        "start": {
          "format": "int64",
          "description": "Starting value of the range. Set to 0 or `null` for the initial range of values.",
          "type": "string"
        },
        "fee": {
          "description": "Fee to charge when total number of API calls falls within this range.",
          "$ref": "GoogleTypeMoney"
        },
        "end": {
          "description": "Ending value of the range. Set to 0 or `null` for the last range of values.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "description": "API call volume range and the fees charged when the total number of API calls is within the range.",
      "id": "GoogleCloudApigeeV1RateRange"
    },
    "GoogleCloudApigeeV1CertInfo": {
      "id": "GoogleCloudApigeeV1CertInfo",
      "description": "X.509 certificate as defined in RFC 5280.",
      "type": "object",
      "properties": {
        "subject": {
          "description": "X.509 subject.",
          "type": "string"
        },
        "issuer": {
          "type": "string",
          "description": "X.509 issuer."
        },
        "publicKey": {
          "description": "Public key component of the X.509 subject public key info.",
          "type": "string"
        },
        "sigAlgName": {
          "description": "X.509 signatureAlgorithm.",
          "type": "string"
        },
        "version": {
          "format": "int32",
          "description": "X.509 version.",
          "type": "integer"
        },
        "basicConstraints": {
          "type": "string",
          "description": "X.509 basic constraints extension."
        },
        "serialNumber": {
          "description": "X.509 serial number.",
          "type": "string"
        },
        "validFrom": {
          "format": "int64",
          "description": "X.509 `notBefore` validity period in milliseconds since epoch.",
          "type": "string"
        },
        "isValid": {
          "description": "Flag that specifies whether the certificate is valid. Flag is set to `Yes` if the certificate is valid, `No` if expired, or `Not yet` if not yet valid.",
          "type": "string"
        },
        "subjectAlternativeNames": {
          "description": "X.509 subject alternative names (SANs) extension.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "expiryDate": {
          "type": "string",
          "format": "int64",
          "description": "X.509 `notAfter` validity period in milliseconds since epoch."
        }
      }
    },
    "GoogleCloudApigeeV1Stats": {
      "description": "Encapsulates a `stats` response.",
      "id": "GoogleCloudApigeeV1Stats",
      "type": "object",
      "properties": {
        "environments": {
          "description": "List of query results on the environment level.",
          "items": {
            "$ref": "GoogleCloudApigeeV1StatsEnvironmentStats"
          },
          "type": "array"
        },
        "hosts": {
          "description": "List of query results grouped by host.",
          "items": {
            "$ref": "GoogleCloudApigeeV1StatsHostStats"
          },
          "type": "array"
        },
        "metaData": {
          "description": "Metadata information.",
          "$ref": "GoogleCloudApigeeV1Metadata"
        }
      }
    },
    "GoogleCloudApigeeV1ConnectorsPlatformConfig": {
      "description": "Configuration for the Connectors Platform add-on.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Flag that specifies whether the Connectors Platform add-on is enabled.",
          "type": "boolean"
        },
        "expiresAt": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. Time at which the Connectors Platform add-on expires in milliseconds since epoch. If unspecified, the add-on will never expire."
        }
      },
      "id": "GoogleCloudApigeeV1ConnectorsPlatformConfig"
    },
    "GoogleCloudApigeeV1DebugSessionTransaction": {
      "id": "GoogleCloudApigeeV1DebugSessionTransaction",
      "type": "object",
      "properties": {
        "completed": {
          "type": "boolean",
          "description": "Flag indicating whether a transaction is completed or not"
        },
        "point": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Point"
          },
          "description": "List of debug data collected by runtime plane at various defined points in the flow."
        }
      },
      "description": "A transaction contains all of the debug information of the entire message flow of an API call processed by the runtime plane. The information is collected and recorded at critical points of the message flow in the runtime apiproxy."
    },
    "GoogleCloudApigeeV1ListTraceConfigOverridesResponse": {
      "description": "Response for ListTraceConfigOverrides.",
      "properties": {
        "traceConfigOverrides": {
          "description": "List all trace configuration overrides in an environment.",
          "items": {
            "$ref": "GoogleCloudApigeeV1TraceConfigOverride"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token value that can be passed as `page_token` to retrieve the next page of content.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1ListTraceConfigOverridesResponse"
    },
    "GoogleCloudApigeeV1QueryMetadata": {
      "id": "GoogleCloudApigeeV1QueryMetadata",
      "type": "object",
      "properties": {
        "endTimestamp": {
          "type": "string",
          "description": "End timestamp of the query range."
        },
        "dimensions": {
          "description": "Dimensions of the AsyncQuery.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "metrics": {
          "description": "Metrics of the AsyncQuery. Example: [\"name:message_count,func:sum,alias:sum_message_count\"]",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "timeUnit": {
          "type": "string",
          "description": "Query GroupBy time unit."
        },
        "outputFormat": {
          "description": "Output format.",
          "type": "string"
        },
        "startTimestamp": {
          "type": "string",
          "description": "Start timestamp of the query range."
        }
      }
    },
    "GoogleCloudApigeeV1DeveloperAppKey": {
      "type": "object",
      "id": "GoogleCloudApigeeV1DeveloperAppKey",
      "properties": {
        "expiresAt": {
          "description": "Time the developer app expires in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "apiProducts": {
          "items": {
            "type": "any"
          },
          "type": "array",
          "description": "List of API products for which the credential can be used. **Note**: Do not specify the list of API products when creating a consumer key and secret for a developer app. Instead, use the UpdateDeveloperAppKey API to make the association after the consumer key and secret are created."
        },
        "attributes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "description": "List of attributes associated with the credential."
        },
        "issuedAt": {
          "format": "int64",
          "type": "string",
          "description": "Time the developer app was created in milliseconds since epoch."
        },
        "status": {
          "type": "string",
          "description": "Status of the credential. Valid values include `approved` or `revoked`."
        },
        "expiresInSeconds": {
          "type": "string",
          "format": "int64",
          "description": "Input only. Expiration time, in seconds, for the consumer key. If not set or left to the default value of `-1`, the API key never expires. The expiration time can't be updated after it is set."
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Scopes to apply to the app. The specified scope names must already be defined for the API product that you associate with the app."
        },
        "consumerKey": {
          "type": "string",
          "description": "Consumer key."
        },
        "consumerSecret": {
          "type": "string",
          "description": "Secret key."
        }
      }
    },
    "GoogleCloudApigeeV1ListEnvironmentResourcesResponse": {
      "properties": {
        "resourceFile": {
          "description": "List of resources files.",
          "items": {
            "$ref": "GoogleCloudApigeeV1ResourceFile"
          },
          "type": "array"
        }
      },
      "description": "Response for ListEnvironmentResources",
      "id": "GoogleCloudApigeeV1ListEnvironmentResourcesResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1ResourceConfig": {
      "properties": {
        "location": {
          "type": "string",
          "description": "Location of the resource as a URI."
        },
        "name": {
          "type": "string",
          "description": "Resource name in the following format: `organizations/{org}/environments/{env}/resourcefiles/{type}/{file}/revisions/{rev}` Only environment-scoped resource files are supported."
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1ResourceConfig"
    },
    "GoogleCloudApigeeV1Alias": {
      "properties": {
        "type": {
          "type": "string",
          "description": "Type of alias.",
          "enum": [
            "ALIAS_TYPE_UNSPECIFIED",
            "CERT",
            "KEY_CERT"
          ],
          "enumDescriptions": [
            "Alias type is not specified.",
            "Certificate.",
            "Key/certificate pair."
          ]
        },
        "alias": {
          "description": "Resource ID for this alias. Values must match the regular expression `[^/]{1,255}`.",
          "type": "string"
        },
        "certsInfo": {
          "description": "Chain of certificates under this alias.",
          "$ref": "GoogleCloudApigeeV1Certificate"
        }
      },
      "type": "object",
      "description": "Reference to a certificate or key/certificate pair.",
      "id": "GoogleCloudApigeeV1Alias"
    },
    "GoogleCloudApigeeV1Properties": {
      "description": "Message for compatibility with legacy Edge specification for Java Properties object in JSON.",
      "id": "GoogleCloudApigeeV1Properties",
      "properties": {
        "property": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Property"
          },
          "description": "List of all properties in the object",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1Result": {
      "properties": {
        "ActionResult": {
          "type": "string",
          "description": "Type of the action result. Can be one of the five: DebugInfo, RequestMessage, ResponseMessage, ErrorMessage, VariableAccess"
        },
        "accessList": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Access"
          },
          "description": "A list of variable access actions agaist the api proxy. Supported values: Get, Set, Remove."
        },
        "timestamp": {
          "description": "Timestamp of when the result is recorded. Its format is dd-mm-yy hh:mm:ss:xxx. For example, `\"timestamp\" : \"12-08-19 00:31:59:960\"`",
          "type": "string"
        },
        "verb": {
          "type": "string",
          "description": "HTTP method verb"
        },
        "content": {
          "type": "string",
          "description": "Error message content. for example, \"content\" : \"{\\\"fault\\\":{\\\"faultstring\\\":\\\"API timed out\\\",\\\"detail\\\":{\\\"errorcode\\\":\\\"flow.APITimedOut\\\"}}}\""
        },
        "headers": {
          "description": "A list of HTTP headers. for example, '\"headers\" : [ { \"name\" : \"Content-Length\", \"value\" : \"83\" }, { \"name\" : \"Content-Type\", \"value\" : \"application/json\" } ]'",
          "items": {
            "$ref": "GoogleCloudApigeeV1Property"
          },
          "type": "array"
        },
        "reasonPhrase": {
          "type": "string",
          "description": "HTTP response phrase"
        },
        "properties": {
          "$ref": "GoogleCloudApigeeV1Properties",
          "description": "Name value pairs used for DebugInfo ActionResult."
        },
        "statusCode": {
          "description": "HTTP response code",
          "type": "string"
        },
        "uRI": {
          "description": "The relative path of the api proxy. for example, `\"uRI\" : \"/iloveapis\"`",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1Result",
      "type": "object",
      "description": "Result is short for \"action result\", could be different types identified by \"action_result\" field. Supported types: 1. DebugInfo : generic debug info collected by runtime recorded as a list of properties. For example, the contents could be virtual host info, state change result, or execution metadata. Required fields : properties, timestamp 2. RequestMessage: information of a http request. Contains headers, request URI and http methods type.Required fields : headers, uri, verb 3. ResponseMessage: information of a http response. Contains headers, reason phrase and http status code. Required fields : headers, reasonPhrase, statusCode 4. ErrorMessage: information of a http error message. Contains detail error message, reason phrase and status code. Required fields : content, headers, reasonPhrase, statusCode 5. VariableAccess: a list of variable access actions, can be Get, Set and Remove. Required fields : accessList"
    },
    "GoogleCloudApigeeV1ListOrganizationsResponse": {
      "properties": {
        "organizations": {
          "items": {
            "$ref": "GoogleCloudApigeeV1OrganizationProjectMapping"
          },
          "type": "array",
          "description": "List of Apigee organizations and associated GCP projects."
        }
      },
      "id": "GoogleCloudApigeeV1ListOrganizationsResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListEnvironmentGroupsResponse": {
      "type": "object",
      "properties": {
        "environmentGroups": {
          "items": {
            "$ref": "GoogleCloudApigeeV1EnvironmentGroup"
          },
          "type": "array",
          "description": "EnvironmentGroups in the specified organization."
        },
        "nextPageToken": {
          "description": "Page token that you can include in a ListEnvironmentGroups request to retrieve the next page. If omitted, no subsequent pages exist.",
          "type": "string"
        }
      },
      "description": "Response for ListEnvironmentGroups.",
      "id": "GoogleCloudApigeeV1ListEnvironmentGroupsResponse"
    },
    "GoogleCloudApigeeV1RevenueShareRange": {
      "id": "GoogleCloudApigeeV1RevenueShareRange",
      "properties": {
        "start": {
          "type": "string",
          "format": "int64",
          "description": "Starting value of the range. Set to 0 or `null` for the initial range of values."
        },
        "sharePercentage": {
          "description": "Percentage of the revenue to be shared with the developer. For example, to share 21 percent of the total revenue with the developer, set this value to 21. Specify a decimal number with a maximum of two digits following the decimal point.",
          "type": "number",
          "format": "double"
        },
        "end": {
          "type": "string",
          "description": "Ending value of the range. Set to 0 or `null` for the last range of values.",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "API call volume range and the percentage of revenue to share with the developer when the total number of API calls is within the range."
    },
    "GoogleCloudApigeeV1KeyAliasReference": {
      "type": "object",
      "properties": {
        "aliasId": {
          "description": "Alias ID. Must exist in the keystore referred to by the reference.",
          "type": "string"
        },
        "reference": {
          "description": "Reference name in the following format: `organizations/{org}/environments/{env}/references/{reference}`",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1KeyAliasReference"
    },
    "GoogleCloudApigeeV1ReportInstanceStatusRequest": {
      "type": "object",
      "properties": {
        "instanceUid": {
          "description": "A unique ID for the instance which is guaranteed to be unique in case the user installs multiple hybrid runtimes with the same instance ID.",
          "type": "string"
        },
        "resources": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ResourceStatus"
          },
          "description": "Status for config resources"
        },
        "reportTime": {
          "description": "The time the report was generated in the runtime. Used to prevent an old status from overwriting a newer one. An instance should space out it's status reports so that clock skew does not play a factor.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Request for ReportInstanceStatus.",
      "id": "GoogleCloudApigeeV1ReportInstanceStatusRequest"
    },
    "GoogleCloudApigeeV1FlowHook": {
      "type": "object",
      "id": "GoogleCloudApigeeV1FlowHook",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the flow hook."
        },
        "continueOnError": {
          "type": "boolean",
          "description": "Optional. Flag that specifies whether execution should continue if the flow hook throws an exception. Set to `true` to continue execution. Set to `false` to stop execution if the flow hook throws an exception. Defaults to `true`."
        },
        "sharedFlow": {
          "type": "string",
          "description": "Shared flow attached to this flow hook, or empty if there is none attached."
        },
        "flowHookPoint": {
          "description": "Output only. Where in the API call flow the flow hook is invoked. Must be one of `PreProxyFlowHook`, `PostProxyFlowHook`, `PreTargetFlowHook`, or `PostTargetFlowHook`.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudApigeeV1Organization": {
      "type": "object",
      "properties": {
        "analyticsRegion": {
          "type": "string",
          "description": "Required. DEPRECATED: This field will be deprecated once Apigee supports DRZ. Primary GCP region for analytics data storage. For valid values, see [Create an Apigee organization](https://cloud.google.com/apigee/docs/api-platform/get-started/create-org)."
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "UPDATING"
          ],
          "description": "Output only. State of the organization. Values other than ACTIVE means the resource is not ready to use.",
          "enumDescriptions": [
            "Resource is in an unspecified state.",
            "Resource is being created.",
            "Resource is provisioned and ready to use.",
            "The resource is being deleted.",
            "The resource is being updated."
          ],
          "type": "string"
        },
        "runtimeType": {
          "description": "Required. Runtime type of the Apigee organization based on the Apigee subscription purchased.",
          "type": "string",
          "enum": [
            "RUNTIME_TYPE_UNSPECIFIED",
            "CLOUD",
            "HYBRID"
          ],
          "enumDescriptions": [
            "Runtime type not specified.",
            "Google-managed Apigee runtime.",
            "User-managed Apigee hybrid runtime."
          ]
        },
        "properties": {
          "description": "Properties defined in the Apigee organization profile.",
          "$ref": "GoogleCloudApigeeV1Properties"
        },
        "displayName": {
          "description": "Display name for the Apigee organization. Unused, but reserved for future use.",
          "type": "string"
        },
        "addonsConfig": {
          "description": "Addon configurations of the Apigee organization.",
          "$ref": "GoogleCloudApigeeV1AddonsConfig"
        },
        "lastModifiedAt": {
          "description": "Output only. Time that the Apigee organization was last modified in milliseconds since epoch.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "type": {
          "description": "Not used by Apigee.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_TRIAL",
            "TYPE_PAID",
            "TYPE_INTERNAL"
          ],
          "enumDescriptions": [
            "Subscription type not specified.",
            "Subscription to Apigee is free, limited, and used for evaluation purposes only.",
            "Full subscription to Apigee has been purchased. See [Apigee pricing](https://cloud.google.com/apigee/pricing/).",
            "For internal users only."
          ]
        },
        "subscriptionType": {
          "enumDescriptions": [
            "Subscription type not specified.",
            "Full subscription to Apigee has been purchased.",
            "Subscription to Apigee is free, limited, and used for evaluation purposes only."
          ],
          "description": "Output only. DEPRECATED: This will eventually be replaced by BillingType. Subscription type of the Apigee organization. Valid values include trial (free, limited, and for evaluation purposes only) or paid (full subscription has been purchased). See [Apigee pricing](https://cloud.google.com/apigee/pricing/).",
          "readOnly": true,
          "type": "string",
          "enum": [
            "SUBSCRIPTION_TYPE_UNSPECIFIED",
            "PAID",
            "TRIAL"
          ]
        },
        "billingType": {
          "type": "string",
          "enumDescriptions": [
            "Billing type not specified.",
            "A pre-paid subscription to Apigee.",
            "Free and limited access to Apigee for evaluation purposes only. only."
          ],
          "enum": [
            "BILLING_TYPE_UNSPECIFIED",
            "SUBSCRIPTION",
            "EVALUATION"
          ],
          "description": "Billing type of the Apigee organization. See [Apigee pricing](https://cloud.google.com/apigee/pricing)."
        },
        "projectId": {
          "type": "string",
          "description": "Output only. Project ID associated with the Apigee organization.",
          "readOnly": true
        },
        "authorizedNetwork": {
          "type": "string",
          "description": "Compute Engine network used for Service Networking to be peered with Apigee runtime instances. See [Getting started with the Service Networking API](https://cloud.google.com/service-infrastructure/docs/service-networking/getting-started). Valid only when [RuntimeType](#RuntimeType) is set to `CLOUD`. The value must be set before the creation of a runtime instance and can be updated only when there are no runtime instances. For example: `default`. Apigee also supports shared VPC (that is, the host network project is not the same as the one that is peering with Apigee). See [Shared VPC overview](https://cloud.google.com/vpc/docs/shared-vpc). To use a shared VPC network, use the following format: `projects/{host-project-id}/{region}/networks/{network-name}`. For example: `projects/my-sharedvpc-host/global/networks/mynetwork` **Note:** Not supported for Apigee hybrid."
        },
        "environments": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. List of environments in the Apigee organization."
        },
        "runtimeDatabaseEncryptionKeyName": {
          "description": "Cloud KMS key name used for encrypting the data that is stored and replicated across runtime instances. Update is not allowed after the organization is created. Required when [RuntimeType](#RuntimeType) is `CLOUD`. If not specified when [RuntimeType](#RuntimeType) is `TRIAL`, a Google-Managed encryption key will be used. For example: \"projects/foo/locations/us/keyRings/bar/cryptoKeys/baz\". **Note:** Not supported for Apigee hybrid.",
          "type": "string"
        },
        "portalDisabled": {
          "description": "Configuration for the Portals settings.",
          "type": "boolean"
        },
        "createdAt": {
          "type": "string",
          "description": "Output only. Time that the Apigee organization was created in milliseconds since epoch.",
          "readOnly": true,
          "format": "int64"
        },
        "caCertificate": {
          "description": "Output only. Base64-encoded public certificate for the root CA of the Apigee organization. Valid only when [RuntimeType](#RuntimeType) is `CLOUD`.",
          "format": "byte",
          "readOnly": true,
          "type": "string"
        },
        "attributes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Not used by Apigee."
        },
        "customerName": {
          "type": "string",
          "description": "Not used by Apigee."
        },
        "expiresAt": {
          "description": "Output only. Time that the Apigee organization is scheduled for deletion.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "description": {
          "description": "Description of the Apigee organization.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the Apigee organization."
        }
      },
      "id": "GoogleCloudApigeeV1Organization"
    },
    "GoogleCloudApigeeV1ListDeveloperSubscriptionsResponse": {
      "type": "object",
      "description": "Response for ListDeveloperSubscriptions.",
      "properties": {
        "nextStartKey": {
          "description": "Value that can be sent as `startKey` to retrieve the next page of content. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "developerSubscriptions": {
          "items": {
            "$ref": "GoogleCloudApigeeV1DeveloperSubscription"
          },
          "type": "array",
          "description": "List of all subscriptions."
        }
      },
      "id": "GoogleCloudApigeeV1ListDeveloperSubscriptionsResponse"
    },
    "GoogleCloudApigeeV1Keystore": {
      "properties": {
        "aliases": {
          "description": "Output only. Aliases in this keystore.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "name": {
          "description": "Required. Resource ID for this keystore. Values must match the regular expression `[\\w[:space:]-.]{1,255}`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Datastore for Certificates and Aliases.",
      "id": "GoogleCloudApigeeV1Keystore"
    },
    "GoogleCloudApigeeV1EndpointAttachment": {
      "description": "Apigee endpoint attachment. For more information, see Southbound networking patterns.",
      "type": "object",
      "id": "GoogleCloudApigeeV1EndpointAttachment",
      "properties": {
        "serviceAttachment": {
          "description": "Format: projects/*/regions/*/serviceAttachments/*",
          "type": "string"
        },
        "location": {
          "description": "Required. Location of the endpoint attachment.",
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the endpoint attachment. Values other than `ACTIVE` mean the resource is not ready to use.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "UPDATING"
          ],
          "enumDescriptions": [
            "Resource is in an unspecified state.",
            "Resource is being created.",
            "Resource is provisioned and ready to use.",
            "The resource is being deleted.",
            "The resource is being updated."
          ],
          "type": "string"
        },
        "name": {
          "description": "Name of the endpoint attachment. Use the following structure in your request: `organizations/{org}/endpointAttachments/{endpoint_attachment}`",
          "type": "string"
        },
        "host": {
          "description": "Output only. Host that can be used in either the HTTP target endpoint directly or as the host in target server.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1CustomReportMetric": {
      "description": "This encapsulates a metric property of the form sum(message_count) where name is message_count and function is sum",
      "type": "object",
      "properties": {
        "name": {
          "description": "name of the metric",
          "type": "string"
        },
        "function": {
          "type": "string",
          "description": "aggregate function"
        }
      },
      "id": "GoogleCloudApigeeV1CustomReportMetric"
    },
    "GoogleCloudApigeeV1Reference": {
      "description": "A Reference configuration. References must refer to a keystore that also exists in the parent environment.",
      "type": "object",
      "id": "GoogleCloudApigeeV1Reference",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The resource id of this reference. Values must match the regular expression [\\w\\s\\-.]+."
        },
        "resourceType": {
          "description": "The type of resource referred to by this reference. Valid values are 'KeyStore' or 'TrustStore'.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. A human-readable description of this reference."
        },
        "refers": {
          "type": "string",
          "description": "Required. The id of the resource to which this reference refers. Must be the id of a resource that exists in the parent environment and is of the given resource_type."
        }
      }
    },
    "GoogleCloudApigeeV1AsyncQueryResultView": {
      "type": "object",
      "id": "GoogleCloudApigeeV1AsyncQueryResultView",
      "properties": {
        "rows": {
          "type": "array",
          "description": "Rows of query result. Each row is a JSON object. Example: {sum(message_count): 1, developer_app: \"(not set)\",…}",
          "items": {
            "type": "any"
          }
        },
        "code": {
          "description": "Error code when there is a failure.",
          "type": "integer",
          "format": "int32"
        },
        "metadata": {
          "$ref": "GoogleCloudApigeeV1QueryMetadata",
          "description": "Metadata contains information like metrics, dimenstions etc of the AsyncQuery."
        },
        "state": {
          "description": "State of retrieving ResultView.",
          "type": "string"
        },
        "error": {
          "type": "string",
          "description": "Error message when there is a failure."
        }
      }
    },
    "GoogleCloudApigeeV1DebugSession": {
      "properties": {
        "tracesize": {
          "type": "integer",
          "description": "Optional. The maximum number of bytes captured from the response payload. Min = 0, Max = 5120, Default = 5120.",
          "format": "int32"
        },
        "createTime": {
          "description": "Output only. The first transaction creation timestamp, recorded by UAP.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "timeout": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The time in seconds after which this DebugSession should end. This value will override the value in query param, if both are provided."
        },
        "name": {
          "description": "A unique ID for this DebugSession.",
          "type": "string"
        },
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of request to be traced. Min = 1, Max = 15, Default = 10."
        },
        "filter": {
          "type": "string",
          "description": "Optional. A conditional statement which is evaluated against the request message to determine if it should be traced. Syntax matches that of on API Proxy bundle flow Condition."
        },
        "validity": {
          "description": "Optional. The length of time, in seconds, that this debug session is valid, starting from when it's received in the control plane. Min = 1, Max = 15, Default = 10.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1DebugSession"
    },
    "GoogleCloudApigeeV1ListInstancesResponse": {
[...]
