{
  "revision": "20201231",
  "version_module": true,
  "title": "Apigee API",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Apigee",
  "version": "v1",
  "discoveryVersion": "v1",
  "baseUrl": "https://apigee.googleapis.com/",
  "documentationLink": "https://cloud.google.com/apigee-api-management/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://apigee.googleapis.com/",
  "name": "apigee",
  "protocol": "rest",
  "servicePath": "",
  "description": "Use the Apigee API to programmatically develop and manage APIs with a set of RESTful operations. Develop and secure API proxies, deploy and undeploy API proxy revisions, monitor APIs, configure environments, manage users, and more. Get started using the APIs. *Note:* This product is available as a free trial for a time period of 60 days.",
  "parameters": {
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string"
    }
  },
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "schemas": {
    "GoogleCloudApigeeV1AccessRemove": {
      "type": "object",
      "description": "Remove action. For example, \"Remove\" : { \"name\" : \"target.name\", \"success\" : true }",
      "properties": {
        "name": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudApigeeV1AccessRemove"
    },
    "GoogleCloudApigeeV1StatsEnvironmentStats": {
      "type": "object",
      "description": "This message type encapsulates the environment wrapper: \"environments\": [ { \"metrics\": [ { \"name\": \"sum(message_count)\", \"values\": [ \"2.52056245E8\" ] } ], \"name\": \"prod\" } ]",
      "id": "GoogleCloudApigeeV1StatsEnvironmentStats",
      "properties": {
        "metrics": {
          "description": "In the final response, only one of the following fields will be present based on the dimensions provided. If no dimensions are provided, then only a top level metrics is provided. If dimensions are included, then there will be a top level dimensions field under environments which will contain metrics values and the dimension name. Example: \"environments\": [ { \"dimensions\": [ { \"metrics\": [ { \"name\": \"sum(message_count)\", \"values\": [ \"2.14049521E8\" ] } ], \"name\": \"nit_proxy\" } ], \"name\": \"prod\" } ] OR \"environments\": [ { \"metrics\": [ { \"name\": \"sum(message_count)\", \"values\": [ \"2.19026331E8\" ] } ], \"name\": \"prod\" } ] This field contains the list of metric values.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Metric"
          },
          "type": "array"
        },
        "dimensions": {
          "items": {
            "$ref": "GoogleCloudApigeeV1DimensionMetric"
          },
          "type": "array",
          "description": "This field contains the list of metrics grouped under dimensions."
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1QueryMetric": {
      "description": "More info about Metric: https://docs.apigee.com/api-platform/analytics/analytics-reference#metrics",
      "properties": {
        "name": {
          "description": "Required. Metric name.",
          "type": "string"
        },
        "function": {
          "type": "string",
          "description": "Aggregation function: avg, min, max, or sum."
        },
        "operator": {
          "description": "One of `+`, `-`, `/`, `%`, `*`.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Operand value should be provided when operator is set."
        },
        "alias": {
          "type": "string",
          "description": "Alias for the metric. Alias will be used to replace metric name in query results."
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1QueryMetric"
    },
    "GoogleCloudApigeeV1OperationConfig": {
      "type": "object",
      "description": "OperationConfig binds the resources in a proxy or remote service with the allowed REST methods and its associated quota enforcement.",
      "properties": {
        "apiSource": {
          "description": "Required. API proxy or remote service name with which the resources, methods, and quota are associated.",
          "type": "string"
        },
        "quota": {
          "description": "Quota parameters to be enforced for the resources, methods, api_source combination. If none are specified, quota enforcement will not be done.",
          "$ref": "GoogleCloudApigeeV1Quota"
        },
        "operations": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Operation"
          },
          "description": "List of resource/method pairs for the proxy/remote service, upon which quota will applied. **Note**: Currently, you can specify only a single resource/method pair. The call will fail if more than one resource/method pair is provided.",
          "type": "array"
        },
        "attributes": {
          "description": "Custom attributes associated with the operation.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudApigeeV1OperationConfig"
    },
    "GoogleRpcStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleRpcStatus"
    },
    "GoogleIamV1Binding": {
      "description": "Associates `members` with a `role`.",
      "type": "object",
      "id": "GoogleIamV1Binding",
      "properties": {
        "condition": {
          "$ref": "GoogleTypeExpr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the members in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "role": {
          "description": "Role that is assigned to `members`. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        },
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities requesting access for a Cloud Platform resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "type": "array"
        }
      }
    },
    "GoogleCloudApigeeV1FlowHookConfig": {
      "id": "GoogleCloudApigeeV1FlowHookConfig",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the flow hook in the following format: `organizations/{org}/environments/{env}/flowhooks/{point}`. Valid `point` values include: `PreProxyFlowHook`, `PostProxyFlowHook`, `PreTargetFlowHook`, and `PostTargetFlowHook`"
        },
        "continueOnError": {
          "type": "boolean",
          "description": "Flag that specifies whether the flow should abort after an error in the flow hook. Defaults to `true` (continue on error)."
        },
        "sharedFlowName": {
          "type": "string",
          "description": "Name of the shared flow to invoke in the following format: `organizations/{org}/sharedflows/{sharedflow}`"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1CertInfo": {
      "description": "X.509 certificate as defined in RFC 5280.",
      "type": "object",
      "properties": {
        "basicConstraints": {
          "type": "string",
          "description": "X.509 basic constraints extension."
        },
        "serialNumber": {
          "description": "X.509 serial number.",
          "type": "string"
        },
        "expiryDate": {
          "type": "string",
          "description": "X.509 `notAfter` validity period in milliseconds since epoch.",
          "format": "int64"
        },
        "version": {
          "type": "integer",
          "description": "X.509 version.",
          "format": "int32"
        },
        "isValid": {
          "type": "string",
          "description": "Flag that specifies whether the certificate is valid. Flag is set to `Yes` if the certificate is valid, `No` if expired, or `Not yet` if not yet valid."
        },
        "validFrom": {
          "format": "int64",
          "type": "string",
          "description": "X.509 `notBefore` validity period in milliseconds since epoch."
        },
        "subject": {
          "type": "string",
          "description": "X.509 subject."
        },
        "sigAlgName": {
          "description": "X.509 signatureAlgorithm.",
          "type": "string"
        },
        "publicKey": {
          "description": "Public key component of the X.509 subject public key info.",
          "type": "string"
        },
        "issuer": {
          "type": "string",
          "description": "X.509 issuer."
        },
        "subjectAlternativeNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "X.509 subject alternative names (SANs) extension."
        }
      },
      "id": "GoogleCloudApigeeV1CertInfo"
    },
    "GoogleCloudApigeeV1ApiResponseWrapper": {
      "properties": {
        "status": {
          "type": "string",
          "description": "Status of the operation."
        },
        "errorCode": {
          "type": "string",
          "description": "ID that can be used to find errors in the log files."
        },
        "message": {
          "type": "string",
          "description": "Description of the operation."
        },
        "requestId": {
          "type": "string",
          "description": "ID that can be used to find request details in the log files."
        }
      },
      "id": "GoogleCloudApigeeV1ApiResponseWrapper",
      "type": "object"
    },
    "GoogleCloudApigeeV1ApiCategoryData": {
      "type": "object",
      "id": "GoogleCloudApigeeV1ApiCategoryData",
      "description": "the Api category resource.",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "int64",
          "description": "Time the category was last modified in milliseconds since epoch."
        },
        "siteId": {
          "type": "string",
          "description": "Name of the portal."
        },
        "id": {
          "description": "ID of the category (a UUID).",
          "type": "string"
        },
        "name": {
          "description": "Name of the category.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1IngressConfig": {
      "id": "GoogleCloudApigeeV1IngressConfig",
      "properties": {
        "revisionCreateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time at which the IngressConfig revision was created."
        },
        "name": {
          "description": "Name of the resource in the following format: `organizations/{org}/deployedIngressConfig`.",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "A unique id for the ingress config that will only change if the organization is deleted and recreated."
        },
        "revisionId": {
          "description": "Revision id that defines the ordering on IngressConfig resources. The higher the revision, the more recently the configuration was deployed.",
          "format": "int64",
          "type": "string"
        },
        "environmentGroups": {
          "items": {
            "$ref": "GoogleCloudApigeeV1EnvironmentGroupConfig"
          },
          "description": "List of environment groups in the organization.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1Metadata": {
      "type": "object",
      "id": "GoogleCloudApigeeV1Metadata",
      "description": "This message type encapsulates additional information about query execution.",
      "properties": {
        "errors": {
          "description": "List of error messages as strings.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "notices": {
          "description": "List of additional information such as data source, if result was truncated etc. E.g \"notices\": [ \"Source:Postgres\", \"PG Host:uappg0rw.e2e.apigeeks.net\", \"query served by:4b64601e-40de-4eb1-bfb9-eeee7ac929ed\", \"Table used: edge.api.uapgroup2.agg_api\" ]",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudApigeeV1ListAppsResponse": {
      "type": "object",
      "id": "GoogleCloudApigeeV1ListAppsResponse",
      "properties": {
        "app": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1App"
          }
        }
      }
    },
    "GoogleCloudApigeeV1DataCollectorConfig": {
      "type": "object",
      "description": "Data collector and its configuration.",
      "id": "GoogleCloudApigeeV1DataCollectorConfig",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the data collector in the following format: `organizations/{org}/datacollectors/{datacollector}`"
        },
        "type": {
          "description": "Data type accepted by the data collector.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "INTEGER",
            "FLOAT",
            "STRING",
            "BOOLEAN",
            "DATETIME"
          ],
          "type": "string",
          "enumDescriptions": [
            "For future compatibility.",
            "For integer values.",
            "For float values.",
            "For string values.",
            "For boolean values.",
            "For datetime values."
          ]
        }
      }
    },
    "GoogleCloudApigeeV1ListSharedFlowsResponse": {
      "properties": {
        "sharedFlows": {
          "items": {
            "$ref": "GoogleCloudApigeeV1SharedFlow"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1ListSharedFlowsResponse"
    },
    "GoogleCloudApigeeV1CanaryEvaluationMetricLabels": {
      "type": "object",
      "description": "Labels that can be used to filter Apigee metrics.",
      "properties": {
        "env": {
          "description": "The environment ID associated with the metrics.",
          "type": "string"
        },
        "instance_id": {
          "type": "string",
          "description": "Required. The instance ID associated with the metrics. In Apigee Hybrid, the value is configured during installation."
        },
        "location": {
          "type": "string",
          "description": "Required. The location associated with the metrics."
        }
      },
      "id": "GoogleCloudApigeeV1CanaryEvaluationMetricLabels"
    },
    "GoogleCloudApigeeV1SyncAuthorization": {
      "type": "object",
      "id": "GoogleCloudApigeeV1SyncAuthorization",
      "properties": {
        "identities": {
          "description": "Required. Array of service accounts to grant access to control plane resources, each specified using the following format: `serviceAccount:` service-account-name. The service-account-name is formatted like an email address. For example: `my-synchronizer-manager-service_account@my_project_id.iam.gserviceaccount.com` You might specify multiple service accounts, for example, if you have multiple environments and wish to assign a unique service account to each one. The service accounts must have **Apigee Synchronizer Manager** role. See also [Create service accounts](https://cloud.google.com/apigee/docs/hybrid/latest/sa-about#create-the-service-accounts).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "etag": {
          "type": "string",
          "description": "Entity tag (ETag) used for optimistic concurrency control as a way to help prevent simultaneous updates from overwriting each other. For example, when you call [getSyncAuthorization](organizations/getSyncAuthorization) an ETag is returned in the response. Pass that ETag when calling the [setSyncAuthorization](organizations/setSyncAuthorization) to ensure that you are updating the correct version. If you don't pass the ETag in the call to `setSyncAuthorization`, then the existing authorization is overwritten indiscriminately. **Note**: We strongly recommend that you use the ETag in the read-modify-write cycle to avoid race conditions.",
          "format": "byte"
        }
      }
    },
    "GoogleCloudApigeeV1ListApiCategoriesResponse": {
      "type": "object",
      "id": "GoogleCloudApigeeV1ListApiCategoriesResponse",
      "description": "the response for ListApiCategoriesRequest.",
      "properties": {
        "data": {
          "type": "array",
          "description": "Details of categories.",
          "items": {
            "$ref": "GoogleCloudApigeeV1ApiCategoryData"
          }
        },
        "requestId": {
          "description": "ID that can be used to find request details in the log files.",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "Description of the operation."
        },
        "errorCode": {
          "type": "string",
          "description": "ID that can be used to find errors in the log files."
        },
        "status": {
          "description": "Status of the operation.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1AsyncQueryResult": {
      "properties": {
        "expires": {
          "description": "Query result will be unaccessable after this time.",
          "type": "string"
        },
        "self": {
          "description": "Self link of the query results. Example: `/organizations/myorg/environments/myenv/queries/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd/result` or following format if query is running at host level: `/organizations/myorg/hostQueries/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd/result`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1AsyncQueryResult"
    },
    "GoogleCloudApigeeV1ApiProxyRevision": {
      "properties": {
        "name": {
          "description": "Name of the API proxy.",
          "type": "string"
        },
        "proxies": {
          "description": "List of proxy names included in the API proxy revision.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sharedFlows": {
          "items": {
            "type": "string"
          },
          "description": "List of the shared flows included in the API proxy revision.",
          "type": "array"
        },
        "targetEndpoints": {
          "description": "List of TargetEndpoints in the `/targets` directory of the API proxy. Typically, this element is included only when the API proxy was created using the Edge UI. This is a 'manifest' setting designed to provide visibility into the contents of the API proxy.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "policies": {
          "description": "List of policy names included in the API proxy revision..",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "revision": {
          "type": "string",
          "description": "API proxy revision."
        },
        "targetServers": {
          "type": "array",
          "description": "List of TargetServers referenced in any TargetEndpoint in the API proxy. Typically, you will see this element only when the API proxy was created using the Edge UI. This is a 'manifest' setting designed to provide visibility into the contents of the API proxy.",
          "items": {
            "type": "string"
          }
        },
        "basepaths": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Base URL of the API proxy."
        },
        "targets": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of the targets included in the API proxy revision."
        },
        "teams": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of the teams included in the API proxy revision."
        },
        "configurationVersion": {
          "description": "Version of the API proxy configuration schema to which the API proxy conforms. Currently, the only supported value is 4.0 (`majorVersion.minorVersion`). This setting may be used in the future to track the evolution of the API proxy format.",
          "$ref": "GoogleCloudApigeeV1ConfigVersion"
        },
        "proxyEndpoints": {
          "items": {
            "type": "string"
          },
          "description": "List of ProxyEndpoints in the `/proxies` directory of the API proxy. Typically, this element is included only when the API proxy was created using the Edge UI. This is a 'manifest' setting designed to provide visibility into the contents of the API proxy.",
          "type": "array"
        },
        "resources": {
          "type": "array",
          "description": "List of the resources included in the API proxy revision formatted as \"{type}://{name}\".",
          "items": {
            "type": "string"
          }
        },
        "resourceFiles": {
          "$ref": "GoogleCloudApigeeV1ResourceFiles",
          "description": "List of resource files included in the API proxy revision."
        },
        "createdAt": {
          "type": "string",
          "description": "Time that the API proxy revision was created in milliseconds since epoch.",
          "format": "int64"
        },
        "contextInfo": {
          "type": "string",
          "description": "Revision number, app name, and organization for the API proxy."
        },
        "lastModifiedAt": {
          "description": "Time that the API proxy revision was last modified in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "spec": {
          "type": "string",
          "description": "OpenAPI Specification that is associated with the API proxy. The value is set to a URL or to a path in the specification store."
        },
        "description": {
          "description": "Description of the API proxy revision.",
          "type": "string"
        },
        "type": {
          "description": "Type. Set to `Application`. Maintained for compatibility with the Apigee Edge API.",
          "type": "string"
        },
        "entityMetaDataAsProperties": {
          "description": "Metadata describing the API proxy revision as a key-value map.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "Human-readable name of the API proxy.",
          "type": "string"
        }
      },
      "description": "API proxy revision.",
      "type": "object",
      "id": "GoogleCloudApigeeV1ApiProxyRevision"
    },
    "GoogleCloudApigeeV1ApiProduct": {
      "properties": {
        "scopes": {
          "description": "Comma-separated list of OAuth scopes that are validated at runtime. Apigee validates that the scopes in any access token presented match the scopes defined in the OAuth policy associated with the API product.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "approvalType": {
          "description": "Flag that specifies how API keys are approved to access the APIs defined by the API product. If set to `manual`, the consumer key is generated and returned in \"pending\" state. In this case, the API keys won't work until they have been explicitly approved. If set to `auto`, the consumer key is generated and returned in \"approved\" state and can be used immediately. **Note:** Typically, `auto` is used to provide access to free or trial API products that provide limited quota or capabilities.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of the API product. Include key information about the API product that is not captured by other fields. Comma-separated list of API resources to be bundled in the API product. By default, the resource paths are mapped from the `proxy.pathsuffix` variable. The proxy path suffix is defined as the URI fragment following the ProxyEndpoint base path. For example, if the `apiResources` element is defined to be `/forecastrss` and the base path defined for the API proxy is `/weather`, then only requests to `/weather/forecastrss` are permitted by the API product. You can select a specific path, or you can select all subpaths with the following wildcard: - `/**`: Indicates that all sub-URIs are included. - `/*` : Indicates that only URIs one level down are included. By default, / supports the same resources as /** as well as the base path defined by the API proxy. For example, if the base path of the API proxy is `/v1/weatherapikey`, then the API product supports requests to `/v1/weatherapikey` and to any sub-URIs, such as `/v1/weatherapikey/forecastrss`, `/v1/weatherapikey/region/CA`, and so on. For more information, see Managing API products."
        },
        "name": {
          "type": "string",
          "description": "Internal name of the API product. Characters you can use in the name are restricted to: `A-Z0-9._\\-$ %`. **Note:** The internal name cannot be edited when updating the API product."
        },
        "proxies": {
          "description": "Comma-separated list of API proxy names to which this API product is bound. By specifying API proxies, you can associate resources in the API product with specific API proxies, preventing developers from accessing those resources through other API proxies. Apigee rejects requests to API proxies that are not listed. **Note:** The API proxy names must already exist in the specified environment as they will be validated upon creation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string",
          "description": "Name displayed in the UI or developer portal to developers registering for API access."
        },
        "lastModifiedAt": {
          "type": "string",
          "description": "Response only. Modified time of this environment as milliseconds since epoch.",
          "format": "int64"
        },
        "quotaInterval": {
          "description": "Time interval over which the number of request messages is calculated.",
          "type": "string"
        },
        "quota": {
          "type": "string",
          "description": "Number of request messages permitted per app by this API product for the specified `quotaInterval` and `quotaTimeUnit`. For example, a `quota` of 50, for a `quotaInterval` of 12 and a `quotaTimeUnit` of hours means 50 requests are allowed every 12 hours."
        },
        "environments": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Comma-separated list of environment names to which the API product is bound. Requests to environments that are not listed are rejected. By specifying one or more environments, you can bind the resources listed in the API product to a specific environment, preventing developers from accessing those resources through API proxies deployed in another environment. This setting is used, for example, to prevent resources associated with API proxies in `prod` from being accessed by API proxies deployed in `test`."
        },
        "createdAt": {
          "type": "string",
          "description": "Response only. Creation time of this environment as milliseconds since epoch.",
          "format": "int64"
        },
        "attributes": {
          "type": "array",
          "description": "Array of attributes that may be used to extend the default API product profile with customer-specific metadata. You can specify a maximum of 18 attributes. Use this property to specify the access level of the API product as either `public`, `private`, or `internal`. Only products marked `public` are available to developers in the Apigee developer portal. For example, you can set a product to `internal` while it is in development and then change access to `public` when it is ready to release on the portal. API products marked as `private` do not appear on the portal, but can be accessed by external developers.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          }
        },
        "apiResources": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "operationGroup": {
          "description": "Configuration used to group Apigee proxies or remote services with resources, method types, and quotas. The resource refers to the resource URI (excluding the base path). With this grouping, the API product creator is able to fine-tune and give precise control over which REST methods have access to specific resources and how many calls can be made (using the `quota` setting). **Note:** The `api_resources` setting cannot be specified for both the API product and operation group; otherwise the call will fail.",
          "$ref": "GoogleCloudApigeeV1OperationGroup"
        },
        "quotaTimeUnit": {
          "type": "string",
          "description": "Time unit defined for the `quotaInterval`. Valid values include `minute`, `hour`, `day`, or `month`."
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1ApiProduct"
    },
    "GoogleCloudApigeeV1TlsInfo": {
      "properties": {
        "keyStore": {
          "description": "Required if `client_auth_enabled` is true. The resource ID of the keystore. References not yet supported.",
          "type": "string"
        },
        "commonName": {
          "description": "The TLS Common Name of the certificate.",
          "$ref": "GoogleCloudApigeeV1TlsInfoCommonName"
        },
        "trustStore": {
          "description": "The resource ID of the truststore. References not yet supported.",
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "Required. Enables TLS. If false, neither one-way nor two-way TLS will be enabled."
        },
        "clientAuthEnabled": {
          "description": "Optional. Enables two-way TLS.",
          "type": "boolean"
        },
        "ignoreValidationErrors": {
          "type": "boolean",
          "description": "If true, Edge ignores TLS certificate errors. Valid when configuring TLS for target servers and target endpoints, and when configuring virtual hosts that use 2-way TLS. When used with a target endpoint/target server, if the backend system uses SNI and returns a cert with a subject Distinguished Name (DN) that does not match the hostname, there is no way to ignore the error and the connection fails."
        },
        "protocols": {
          "items": {
            "type": "string"
          },
          "description": "The TLS versioins to be used.",
          "type": "array"
        },
        "keyAlias": {
          "type": "string",
          "description": "Required if `client_auth_enabled` is true. The resource ID for the alias containing the private key and cert."
        },
        "ciphers": {
          "items": {
            "type": "string"
          },
          "description": "The SSL/TLS cipher suites to be used. Must be one of the cipher suite names listed in: http://docs.oracle.com/javase/8/docs/technotes/guides/security/StandardNames.html#ciphersuites",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1TlsInfo",
      "description": "TLS configuration information for VirtualHosts and TargetServers."
    },
    "GoogleCloudApigeeV1RevisionStatus": {
      "properties": {
        "replicas": {
          "description": "The number of replicas that have successfully loaded this revision.",
          "type": "integer",
          "format": "int32"
        },
        "errors": {
          "items": {
            "$ref": "GoogleCloudApigeeV1UpdateError"
          },
          "type": "array",
          "description": "Errors reported when attempting to load this revision."
        },
        "jsonSpec": {
          "description": "The json content of the resource revision.",
          "type": "string"
        },
        "revisionId": {
          "description": "The revision of the resource.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1RevisionStatus",
      "type": "object",
      "description": "The status of a specific resource revision."
    },
    "GoogleCloudApigeeV1KeyValueMap": {
      "id": "GoogleCloudApigeeV1KeyValueMap",
      "description": "A collection of key, value string pairs",
      "type": "object",
      "properties": {
        "encrypted": {
          "description": "Optional. If `true` entry values will be encrypted.",
          "type": "boolean"
        },
        "name": {
          "description": "Required. The id of the key value map.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1ResourceStatus": {
      "properties": {
        "resource": {
          "type": "string",
          "description": "The resource name. Currently only two resources are supported: EnvironmentGroup - organizations/{org}/envgroups/{envgroup} EnvironmentConfig - organizations/{org}/environments/{environment}/deployedConfig"
        },
        "totalReplicas": {
          "description": "The total number of replicas that should have this resource.",
          "format": "int32",
          "type": "integer"
        },
        "revisions": {
          "items": {
            "$ref": "GoogleCloudApigeeV1RevisionStatus"
          },
          "description": "Revisions of the resource currently deployed in the instance.",
          "type": "array"
        },
        "uid": {
          "type": "string",
          "description": "The uid of the resource. In the unexpected case that the instance has multiple uids for the same name, they should be reported under separate ResourceStatuses."
        }
      },
      "id": "GoogleCloudApigeeV1ResourceStatus",
      "description": "The status of a resource loaded in the runtime.",
      "type": "object"
    },
    "GoogleCloudApigeeV1Developer": {
      "properties": {
        "lastModifiedAt": {
          "type": "string",
          "description": "Output only. Time at which the developer was last modified in milliseconds since epoch.",
          "format": "int64",
          "readOnly": true
        },
        "lastName": {
          "description": "Required. Last name of the developer.",
          "type": "string"
        },
        "organizationName": {
          "readOnly": true,
          "description": "Output only. Name of the Apigee organization in which the developer resides.",
          "type": "string"
        },
        "developerId": {
          "type": "string",
          "description": "ID of the developer. **Note**: IDs are generated internally by Apigee and are not guaranteed to stay the same over time."
        },
        "accessType": {
          "description": "Access type.",
          "type": "string"
        },
        "companies": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of companies associated with the developer."
        },
        "appFamily": {
          "description": "Developer app family.",
          "type": "string"
        },
        "createdAt": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time at which the developer was created in milliseconds since epoch.",
          "format": "int64"
        },
        "status": {
          "description": "Output only. Status of the developer. Valid values are `active` and `inactive`.",
          "type": "string",
          "readOnly": true
        },
        "attributes": {
          "description": "Optional. Developer attributes (name/value pairs). The custom attribute limit is 18.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "type": "array"
        },
        "firstName": {
          "description": "Required. First name of the developer.",
          "type": "string"
        },
        "userName": {
          "description": "Required. User name of the developer. Not used by Apigee hybrid.",
          "type": "string"
        },
        "email": {
          "description": "Required. Email address of the developer. This value is used to uniquely identify the developer in Apigee hybrid. Note that the email address has to be in lowercase only.",
          "type": "string"
        },
        "apps": {
          "description": "List of apps associated with the developer.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1Developer"
    },
    "GoogleCloudApigeeV1ListApiProductsResponse": {
      "type": "object",
      "id": "GoogleCloudApigeeV1ListApiProductsResponse",
      "properties": {
        "apiProduct": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ApiProduct"
          },
          "description": "Lists all API product names defined for an organization."
        }
      }
    },
    "GoogleCloudApigeeV1Datastore": {
      "properties": {
        "org": {
          "readOnly": true,
          "description": "Output only. Organization that the datastore belongs to",
          "type": "string"
        },
        "lastUpdateTime": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. Datastore last update time, in milliseconds since the epoch of 1970-01-01T00:00:00Z"
        },
        "self": {
          "readOnly": true,
          "description": "Output only. Resource link of Datastore. Example: `/organizations/{org}/analytics/datastores/{uuid}`",
          "type": "string"
        },
        "datastoreConfig": {
          "description": "Datastore Configurations.",
          "$ref": "GoogleCloudApigeeV1DatastoreConfig"
        },
        "createTime": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Datastore create time, in milliseconds since the epoch of 1970-01-01T00:00:00Z",
          "readOnly": true
        },
        "targetType": {
          "description": "Destination storage type. Supported types `gcs` or `bigquery`.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Display name in UI",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The data store defines the connection to export data repository (Cloud Storage, BigQuery), including the credentials used to access the data repository.",
      "id": "GoogleCloudApigeeV1Datastore"
    },
    "GoogleCloudApigeeV1EnvironmentConfig": {
      "properties": {
        "resourceReferences": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ReferenceConfig"
          },
          "description": "List of resource references in the environment."
        },
        "debugMask": {
          "$ref": "GoogleCloudApigeeV1DebugMask",
          "description": "Debug mask that applies to all deployments in the environment."
        },
        "sequenceNumber": {
          "format": "int64",
          "type": "string",
          "description": "DEPRECATED: Use revision_id."
        },
        "targets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1TargetServerConfig"
          },
          "description": "List of target servers in the environment. Disabled target servers are not displayed."
        },
        "name": {
          "type": "string",
          "description": "Name of the environment configuration in the following format: `organizations/{org}/environments/{env}/configs/{config}`"
        },
        "dataCollectors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1DataCollectorConfig"
          },
          "description": "List of data collectors used by the deployments in the environment."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Time that the environment configuration was created.",
          "type": "string"
        },
        "uid": {
          "description": "Unique ID for the environment configuration. The ID will only change if the environment is deleted and recreated.",
          "type": "string"
        },
        "keystores": {
          "type": "array",
          "description": "List of keystores in the environment.",
          "items": {
            "$ref": "GoogleCloudApigeeV1KeystoreConfig"
          }
        },
        "resources": {
          "type": "array",
          "description": "List of resource versions in the environment.",
          "items": {
            "$ref": "GoogleCloudApigeeV1ResourceConfig"
          }
        },
        "traceConfig": {
          "description": "Trace configurations. Contains config for the environment and config overrides for specific API proxies.",
          "$ref": "GoogleCloudApigeeV1RuntimeTraceConfig"
        },
        "deployments": {
          "type": "array",
          "description": "List of deployments in the environment.",
          "items": {
            "$ref": "GoogleCloudApigeeV1DeploymentConfig"
          }
        },
        "revisionId": {
          "type": "string",
          "description": "Revision ID of the environment configuration. The higher the value, the more recently the configuration was deployed.",
          "format": "int64"
        },
        "pubsubTopic": {
          "type": "string",
          "description": "Name of the PubSub topic for the environment."
        },
        "provider": {
          "type": "string",
          "description": "Used by the Control plane to add context information to help detect the source of the document during diagnostics and debugging."
        },
        "featureFlags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Feature flags inherited from the organization and environment.",
          "type": "object"
        },
        "flowhooks": {
          "items": {
            "$ref": "GoogleCloudApigeeV1FlowHookConfig"
          },
          "type": "array",
          "description": "List of flow hooks in the environment."
        }
      },
      "id": "GoogleCloudApigeeV1EnvironmentConfig",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListHybridIssuersResponse": {
      "properties": {
        "issuers": {
          "description": "Lists of hybrid services and its trusted issuer email ids.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ServiceIssuersMapping"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1ListHybridIssuersResponse"
    },
    "GoogleCloudApigeeV1ListEnvironmentResourcesResponse": {
      "description": "Response for ListEnvironmentResources",
      "type": "object",
      "id": "GoogleCloudApigeeV1ListEnvironmentResourcesResponse",
      "properties": {
        "resourceFile": {
          "description": "List of resources files.",
          "items": {
            "$ref": "GoogleCloudApigeeV1ResourceFile"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudApigeeV1Deployment": {
      "id": "GoogleCloudApigeeV1Deployment",
      "properties": {
        "revision": {
          "type": "string",
          "description": "API proxy revision."
        },
        "pods": {
          "items": {
            "$ref": "GoogleCloudApigeeV1PodStatus"
          },
          "type": "array",
          "description": "Status reported by runtime pods. This field is not populated for List APIs."
        },
        "apiProxy": {
          "type": "string",
          "description": "API proxy."
        },
        "environment": {
          "description": "Environment.",
          "type": "string"
        },
        "instances": {
          "items": {
            "$ref": "GoogleCloudApigeeV1InstanceDeploymentStatus"
          },
          "description": "Status reported by each runtime instance. This field is not populated in List APIs.",
          "type": "array"
        },
        "state": {
          "enum": [
            "RUNTIME_STATE_UNSPECIFIED",
            "READY",
            "PROGRESSING",
            "ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "This value should never be returned.",
            "The runtime has loaded the deployment.",
            "The deployment is not fully ready in the runtime.",
            "There is an error with the deployment that requires intervention."
          ],
          "description": "Current state of the deployment. This field is not populated in List APIs."
        },
        "errors": {
          "type": "array",
          "description": "Errors reported for this deployment. Populated only when state == ERROR. This field is not populated in List APIs.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "deployStartTime": {
          "description": "Time the API proxy was marked `deployed` in the control plane in millisconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "routeConflicts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingConflict"
          },
          "description": "Conflicts in the desired state routing configuration. The presence of conflicts does not cause the state to be ERROR, but it will mean that some of the deployments basepaths are not routed to its environment. If the conflicts change, the state will transition to PROGRESSING until the latest configuration is rolled out to all instances. This field is not populated in List APIs."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1ListDeploymentsResponse": {
      "properties": {
        "deployments": {
          "type": "array",
          "description": "List of deployments.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Deployment"
          }
        }
      },
      "id": "GoogleCloudApigeeV1ListDeploymentsResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1Operation": {
      "id": "GoogleCloudApigeeV1Operation",
      "type": "object",
      "properties": {
        "methods": {
          "description": "methods refers to the REST verbs as in https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html. When none specified, all verb types are allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "resource": {
          "type": "string",
          "description": "Required. resource represents REST resource path associated with the proxy/remote service."
        }
      },
      "description": "Operation represents the pairing of REST resource path and the actions (verbs) allowed on the resource path."
    },
    "GoogleRpcPreconditionFailureViolation": {
      "description": "A message type used to describe a single precondition failure.",
      "id": "GoogleRpcPreconditionFailureViolation",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of PreconditionFailure. We recommend using a service-specific enum type to define the supported precondition violation subjects. For example, \"TOS\" for \"Terms of Service violation\".",
          "type": "string"
        },
        "subject": {
          "type": "string",
          "description": "The subject, relative to the type, that failed. For example, \"google.com/cloud\" relative to the \"TOS\" type would indicate which terms of service is being referenced."
        },
        "description": {
          "description": "A description of how the precondition failed. Developers can use this description to understand how to fix the failure. For example: \"Terms of service not accepted\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1RuntimeTraceConfig": {
      "description": "NEXT ID: 8 RuntimeTraceConfig defines the configurations for distributed trace in an environment.",
      "id": "GoogleCloudApigeeV1RuntimeTraceConfig",
      "properties": {
        "exporter": {
          "description": "Exporter that is used to view the distributed trace captured using OpenCensus. An exporter sends traces to any backend that is capable of consuming them. Recorded spans can be exported by registered exporters.",
          "type": "string",
          "enum": [
            "EXPORTER_UNSPECIFIED",
            "JAEGER",
            "CLOUD_TRACE"
          ],
          "enumDescriptions": [
            "Exporter unspecified",
            "Jaeger exporter",
            "Cloudtrace exporter"
          ]
        },
        "endpoint": {
          "type": "string",
          "description": "Endpoint of the exporter."
        },
        "samplingConfig": {
          "$ref": "GoogleCloudApigeeV1RuntimeTraceSamplingConfig",
          "description": "Trace configuration for all API proxies in an environment."
        },
        "overrides": {
          "description": "List of trace configuration overrides for spicific API proxies.",
          "items": {
            "$ref": "GoogleCloudApigeeV1RuntimeTraceConfigOverride"
          },
          "type": "array"
        },
        "revisionCreateTime": {
          "type": "string",
          "description": "The timestamp that the revision was created or updated.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Name of the trace config in the following format: `organizations/{org}/environment/{env}/traceConfig`",
          "type": "string"
        },
        "revisionId": {
          "type": "string",
          "description": "Revision number which can be used by the runtime to detect if the trace config has changed between two versions."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1OptimizedStats": {
      "properties": {
        "Response": {
          "$ref": "GoogleCloudApigeeV1OptimizedStatsResponse",
          "description": "This field wraps the stats response for Js Optimized Scenario with a Response key. E.g. { \"Response\": { \"TimeUnit\": [], \"metaData\": { \"errors\": [], \"notices\": [ \"Source:Postgres\", \"Table used: edge.api.aaxgroup001.agg_api\", \"PG Host:ruappg08-ro.production.apigeeks.net\", \"query served by:80c4ebca-6a10-4a2e-8faf-c60c1ee306ca\" ] }, \"resultTruncated\": false, \"stats\": { \"data\": [ { \"identifier\": { \"names\": [ \"apiproxy\" ], \"values\": [ \"sirjee\" ] }, \"metric\": [ { \"env\": \"prod\", \"name\": \"sum(message_count)\", \"values\": [ 36.0 ] }, { \"env\": \"prod\", \"name\": \"sum(is_error)\", \"values\": [ 36.0 ] } ] } ] } } }"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1OptimizedStats"
    },
    "GoogleCloudApigeeV1ReportInstanceStatusRequest": {
      "properties": {
        "resources": {
          "items": {
            "$ref": "GoogleCloudApigeeV1ResourceStatus"
          },
          "description": "Status for config resources",
          "type": "array"
        },
        "instanceUid": {
          "description": "A unique ID for the instance which is guaranteed to be unique in case the user installs multiple hybrid runtimes with the same instance ID.",
          "type": "string"
        },
        "reportTime": {
          "description": "The time the report was generated in the runtime. Used to prevent an old status from overwriting a newer one. An instance should space out it's status reports so that clock skew does not play a factor.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Request for ReportInstanceStatus.",
      "type": "object",
      "id": "GoogleCloudApigeeV1ReportInstanceStatusRequest"
    },
    "GoogleCloudApigeeV1Session": {
      "type": "object",
      "id": "GoogleCloudApigeeV1Session",
      "properties": {
        "id": {
          "type": "string",
          "description": "The debug session ID."
        },
        "timestampMs": {
          "format": "int64",
          "type": "string",
          "description": "The first transaction creation timestamp in millisecond, recoreded by UAP."
        }
      },
      "description": "Session carries the debug session id and its creation time."
    },
    "GoogleCloudApigeeV1ResourceFile": {
      "properties": {
        "type": {
          "type": "string",
          "description": "Resource file type. {{ resource_file_type }}"
        },
        "name": {
          "description": "ID of the resource file.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1ResourceFile",
      "type": "object",
      "description": "Metadata about a resource file."
    },
    "GoogleCloudApigeeV1DebugSession": {
      "id": "GoogleCloudApigeeV1DebugSession",
      "type": "object",
      "properties": {
        "count": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The number of request to be traced. Min = 1, Max = 15, Default = 10."
        },
        "tracesize": {
          "type": "integer",
          "description": "Optional. The maximum number of bytes captured from the response payload. Min = 0, Max = 5120, Default = 5120.",
          "format": "int32"
        },
        "filter": {
          "type": "string",
          "description": "Optional. A conditional statement which is evaluated against the request message to determine if it should be traced. Syntax matches that of on API Proxy bundle flow Condition."
        },
        "validity": {
          "type": "integer",
          "description": "Optional. The length of time, in seconds, that this debug session is valid, starting from when it's received in the control plane. Min = 1, Max = 15, Default = 10.",
          "format": "int32"
        },
        "timeout": {
          "description": "Optional. The time in seconds after which this DebugSession should end. This value will override the value in query param, if both are provided.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "A unique ID for this DebugSession."
        }
      }
    },
    "GoogleCloudApigeeV1TargetServer": {
      "type": "object",
      "description": "TargetServer configuration. TargetServers are used to decouple a proxy's TargetEndpoint HTTPTargetConnections from concrete URLs for backend services.",
      "id": "GoogleCloudApigeeV1TargetServer",
      "properties": {
        "sSLInfo": {
          "$ref": "GoogleCloudApigeeV1TlsInfo",
          "description": "Optional. Specifies TLS configuration info for this TargetServer. The JSON name is `sSLInfo` for legacy/backwards compatibility reasons -- Edge originally supported SSL, and the name is still used for TLS configuration."
        },
        "port": {
          "type": "integer",
          "description": "Required. The port number this target connects to on the given host. Value must be between 1 and 65535, inclusive.",
          "format": "int32"
        },
        "description": {
          "type": "string",
          "description": "Optional. A human-readable description of this TargetServer."
        },
        "isEnabled": {
          "description": "Optional. Enabling/disabling a TargetServer is useful when TargetServers are used in load balancing configurations, and one or more TargetServers need to taken out of rotation periodically. Defaults to true.",
          "type": "boolean"
        },
        "host": {
          "description": "Required. The host name this target connects to. Value must be a valid hostname as described by RFC-1123.",
          "type": "string"
        },
        "name": {
          "description": "Required. The resource id of this target server. Values must match the regular expression ",
          "type": "string"
        }
      }
    },
    "GoogleRpcPreconditionFailure": {
      "id": "GoogleRpcPreconditionFailure",
      "type": "object",
      "description": "Describes what preconditions have failed. For example, if an RPC failed because it required the Terms of Service to be acknowledged, it could list the terms of service violation in the PreconditionFailure message.",
      "properties": {
        "violations": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcPreconditionFailureViolation"
          },
          "description": "Describes all precondition violations."
        }
      }
    },
    "GoogleCloudApigeeV1ReportInstanceStatusResponse": {
      "type": "object",
      "description": "Placeholder for future enhancements to status reporting protocol",
      "id": "GoogleCloudApigeeV1ReportInstanceStatusResponse",
      "properties": {}
    },
    "GoogleCloudApigeeV1TlsInfoConfig": {
      "id": "GoogleCloudApigeeV1TlsInfoConfig",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Flag that specifies whether one-way TLS is enabled. Set to `true` to enable one-way TLS.",
          "type": "boolean"
        },
        "ignoreValidationErrors": {
          "description": "Flag that specifies whether to ignore TLS certificate validation errors. Set to `true` to ignore errors.",
          "type": "boolean"
        },
        "keyAliasReference": {
          "$ref": "GoogleCloudApigeeV1KeyAliasReference",
          "description": "Reference name and alias pair to use for client-side authentication."
        },
        "ciphers": {
          "description": "List of ciphers that are granted access.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "protocols": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of TLS protocols that are granted access."
        },
        "trustStore": {
          "type": "string",
          "description": "Name of the keystore or keystore reference containing trusted certificates for the server in the following format: `organizations/{org}/environments/{env}/keystores/{keystore}` or `organizations/{org}/environments/{env}/references/{reference}`"
        },
        "commonName": {
          "description": "Common name to validate the target server against.",
          "$ref": "GoogleCloudApigeeV1CommonNameConfig"
        },
        "keyAlias": {
          "description": "Name of the alias used for client-side authentication in the following format: `organizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}`",
          "type": "string"
        },
        "clientAuthEnabled": {
          "description": "Flag that specifies whether client-side authentication is enabled for the target server. Enables two-way TLS.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudApigeeV1TargetServerConfig": {
      "properties": {
        "name": {
          "description": "Target server revision name in the following format: `organizations/{org}/environments/{env}/targetservers/{targetserver}/revisions/{rev}`",
          "type": "string"
        },
        "host": {
          "description": "Host name of the target server.",
          "type": "string"
        },
        "port": {
          "format": "int32",
          "description": "Port number for the target server.",
          "type": "integer"
        },
        "tlsInfo": {
          "description": "TLS settings for the target server.",
          "$ref": "GoogleCloudApigeeV1TlsInfoConfig"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1TargetServerConfig"
    },
    "GoogleCloudApigeeV1FlowHook": {
      "type": "object",
      "id": "GoogleCloudApigeeV1FlowHook",
      "properties": {
        "flowHookPoint": {
          "type": "string",
          "description": "Output only. Where in the API call flow the flow hook is invoked. Must be one of `PreProxyFlowHook`, `PostProxyFlowHook`, `PreTargetFlowHook`, or `PostTargetFlowHook`.",
          "readOnly": true
        },
        "sharedFlow": {
          "description": "Shared flow attached to this flow hook, or empty if there is none attached.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of the flow hook."
        },
        "continueOnError": {
          "type": "boolean",
          "description": "Optional. Flag that specifies whether execution should continue if the flow hook throws an exception. Set to `true` to continue execution. Set to `false` to stop execution if the flow hook throws an exception.Defaults to `true`."
        }
      }
    },
    "GoogleCloudApigeeV1Export": {
      "description": "Details of an export job.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Display name of the export job.",
          "type": "string"
        },
        "executionTime": {
          "type": "string",
          "description": "Output only. Execution time for this export job. If the job is still in progress, it will be set to the amount of time that has elapsed since`created`, in seconds. Else, it will set to (`updated` - `created`), in seconds.",
          "readOnly": true
        },
        "error": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Error is set when export fails"
        },
        "datastoreName": {
          "type": "string",
          "description": "Name of the datastore that is the destination of the export job [datastore]"
        },
        "updated": {
          "description": "Output only. Time the export job was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Output only. Status of the export job. Valid values include `enqueued`, `running`, `completed`, and `failed`.",
          "readOnly": true
        },
        "created": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time the export job was created."
        },
        "description": {
          "type": "string",
          "description": "Description of the export job."
        },
        "self": {
          "description": "Output only. Self link of the export job. A URI that can be used to retrieve the status of an export job. Example: `/organizations/myorg/environments/myenv/analytics/exports/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd`",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleCloudApigeeV1Export"
    },
    "GoogleCloudApigeeV1DeveloperApp": {
      "id": "GoogleCloudApigeeV1DeveloperApp",
      "type": "object",
      "properties": {
        "developerId": {
          "type": "string",
          "description": "ID of the developer."
        },
        "lastModifiedAt": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time the developer app was modified in milliseconds since epoch."
        },
        "appFamily": {
          "description": "Developer app family.",
          "type": "string"
        },
        "createdAt": {
          "description": "Output only. Time the developer app was created in milliseconds since epoch.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "callbackUrl": {
          "type": "string",
          "description": "Callback URL used by OAuth 2.0 authorization servers to communicate authorization codes back to developer apps."
        },
        "name": {
          "type": "string",
          "description": "Name of the developer app."
        },
        "credentials": {
          "description": "Output only. Set of credentials for the developer app consisting of the consumer key/secret pairs associated with the API products.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Credential"
          },
          "type": "array",
          "readOnly": true
        },
        "attributes": {
          "description": "List of attributes for the developer app.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "type": "array"
        },
        "apiProducts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of API products associated with the developer app."
        },
        "appId": {
          "description": "ID of the developer app.",
          "type": "string"
        },
        "scopes": {
          "description": "Scopes to apply to the developer app. The specified scopes must already exist for the API product that you associate with the developer app.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "status": {
          "type": "string",
          "description": "Status of the credential. Valid values include `approved` or `revoked`."
        },
        "keyExpiresIn": {
          "format": "int64",
          "type": "string",
          "description": "Expiration time, in milliseconds, for the consumer key that is generated for the developer app. If not set or left to the default value of `-1`, the API key never expires. The expiration time can't be updated after it is set."
        }
      }
    },
    "GoogleIamV1AuditLogConfig": {
      "id": "GoogleIamV1AuditLogConfig",
      "properties": {
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array"
        },
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables.",
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        }
      },
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object"
    },
    "GoogleApiHttpBody": {
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "properties": {
        "extensions": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs."
        },
        "data": {
          "description": "The HTTP request/response body as raw binary.",
          "format": "byte",
          "type": "string"
        },
        "contentType": {
          "type": "string",
          "description": "The HTTP Content-Type header value specifying the content type of the body."
        }
      },
      "id": "GoogleApiHttpBody",
      "type": "object"
    },
    "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment": {
      "description": "A tuple representing a basepath and the deployment containing it.",
      "id": "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment",
      "type": "object",
      "properties": {
        "basepath": {
          "type": "string",
          "description": "The basepath receiving traffic."
        },
        "environment": {
          "description": "The name of the environment in which the proxy is deployed.",
          "type": "string"
        },
        "revision": {
          "type": "string",
          "description": "The name of the deployed proxy revision containing the basepath."
        },
        "apiProxy": {
          "type": "string",
          "description": "The name of the deployed proxy revision containing the basepath."
        }
      }
    },
    "GoogleCloudApigeeV1OperationGroup": {
      "description": "List of operation configuration details associated with Apigee API proxies or remote services. Remote services are non-Apigee proxies, such as Istio-Envoy.",
      "type": "object",
      "properties": {
        "operationConfigs": {
          "description": "Required. List of operation configurations for either Apigee API proxies or other remote services that are associated with this API product.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1OperationConfig"
          }
        },
        "operationConfigType": {
          "description": "Flag that specifes whether the configuration is for Apigee API proxy or a remote service. Valid values are `proxy` or `remoteservice`. Defaults to `proxy`. Set to `proxy` when Apigee API proxies are associated with the API product. Set to `remoteservice` when non-Apigee proxies like Istio-Envoy are associated with the API product.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1OperationGroup"
    },
    "GoogleCloudApigeeV1ConfigVersion": {
      "properties": {
        "minorVersion": {
          "description": "Minor version of the API proxy configuration schema.",
          "format": "int32",
          "type": "integer"
        },
        "majorVersion": {
          "type": "integer",
          "description": "Major version of the API proxy configuration schema.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1ConfigVersion",
      "description": "Version of the API proxy configuration schema. Currently, only 4.0 is supported."
    },
    "GoogleCloudApigeeV1InstanceDeploymentStatus": {
      "description": "The status of a deployment as reported by a single instance.",
      "type": "object",
      "id": "GoogleCloudApigeeV1InstanceDeploymentStatus",
      "properties": {
        "deployedRoutes": {
          "description": "The current routes deployed in the ingress routing table. A route which is missing will appear in missing_routes.",
          "items": {
            "$ref": "GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRoute"
          },
          "type": "array"
        },
        "instance": {
          "type": "string",
          "description": "ID of the instance reporting the status."
        },
        "deployedRevisions": {
          "items": {
            "$ref": "GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRevision"
          },
          "type": "array",
          "description": "Revisions currently deployed in MPs."
        }
      }
    },
    "GoogleCloudApigeeV1OrganizationProjectMapping": {
      "id": "GoogleCloudApigeeV1OrganizationProjectMapping",
      "properties": {
        "projectIds": {
          "description": "List of GCP projects associated with the Apigee organization.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "organization": {
          "description": "Name of the Apigee organization.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1AliasRevisionConfig": {
      "type": "object",
      "properties": {
        "location": {
          "description": "Location of the alias file. For example, a Google Cloud Storage URI.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Alias type is not specified.",
            "Certificate.",
            "Key/certificate pair."
          ],
          "type": "string",
          "enum": [
            "ALIAS_TYPE_UNSPECIFIED",
            "CERT",
            "KEY_CERT"
          ]
        },
        "name": {
          "type": "string",
          "description": "Name of the alias revision included in the keystore in the following format: `organizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}/revisions/{rev}`"
        }
      },
      "id": "GoogleCloudApigeeV1AliasRevisionConfig"
    },
    "GoogleCloudApigeeV1UpdateError": {
      "id": "GoogleCloudApigeeV1UpdateError",
      "properties": {
        "message": {
          "description": "User-friendly error message.",
          "type": "string"
        },
        "type": {
          "description": "A string that uniquely identifies the type of error. This provides a more reliable means to deduplicate errors across revisions and instances.",
          "type": "string"
        },
        "resource": {
          "type": "string",
          "description": "The sub resource specific to this error (e.g. a proxy deployed within the EnvironmentConfig). If empty the error refers to the top level resource."
        },
        "code": {
          "type": "string",
          "enumDescriptions": [
            "Not an error; returned on success HTTP Mapping: 200 OK",
            "The operation was cancelled, typically by the caller. HTTP Mapping: 499 Client Closed Request",
            "Unknown error. For example, this error may be returned when a `Status` value received from another address space belongs to an error space that is not known in this address space. Also errors raised by APIs that do not return enough error information may be converted to this error. HTTP Mapping: 500 Internal Server Error",
            "The client specified an invalid argument. Note that this differs from `FAILED_PRECONDITION`. `INVALID_ARGUMENT` indicates arguments that are problematic regardless of the state of the system (e.g., a malformed file name). HTTP Mapping: 400 Bad Request",
            "The deadline expired before the operation could complete. For operations that change the state of the system, this error may be returned even if the operation has completed successfully. For example, a successful response from a server could have been delayed long enough for the deadline to expire. HTTP Mapping: 504 Gateway Timeout",
            "Some requested entity (e.g., file or directory) was not found. Note to server developers: if a request is denied for an entire class of users, such as gradual feature rollout or undocumented allowlist, `NOT_FOUND` may be used. If a request is denied for some users within a class of users, such as user-based access control, `PERMISSION_DENIED` must be used. HTTP Mapping: 404 Not Found",
            "The entity that a client attempted to create (e.g., file or directory) already exists. HTTP Mapping: 409 Conflict",
            "The caller does not have permission to execute the specified operation. `PERMISSION_DENIED` must not be used for rejections caused by exhausting some resource (use `RESOURCE_EXHAUSTED` instead for those errors). `PERMISSION_DENIED` must not be used if the caller can not be identified (use `UNAUTHENTICATED` instead for those errors). This error code does not imply the request is valid or the requested entity exists or satisfies other pre-conditions. HTTP Mapping: 403 Forbidden",
            "The request does not have valid authentication credentials for the operation. HTTP Mapping: 401 Unauthorized",
            "Some resource has been exhausted, perhaps a per-user quota, or perhaps the entire file system is out of space. HTTP Mapping: 429 Too Many Requests",
            "The operation was rejected because the system is not in a state required for the operation's execution. For example, the directory to be deleted is non-empty, an rmdir operation is applied to a non-directory, etc. Service implementors can use the following guidelines to decide between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`: (a) Use `UNAVAILABLE` if the client can retry just the failing call. (b) Use `ABORTED` if the client should retry at a higher level (e.g., when a client-specified test-and-set fails, indicating the client should restart a read-modify-write sequence). (c) Use `FAILED_PRECONDITION` if the client should not retry until the system state has been explicitly fixed. E.g., if an \"rmdir\" fails because the directory is non-empty, `FAILED_PRECONDITION` should be returned since the client should not retry unless the files are deleted from the directory. HTTP Mapping: 400 Bad Request",
            "The operation was aborted, typically due to a concurrency issue such as a sequencer check failure or transaction abort. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 409 Conflict",
            "The operation was attempted past the valid range. E.g., seeking or reading past end-of-file. Unlike `INVALID_ARGUMENT`, this error indicates a problem that may be fixed if the system state changes. For example, a 32-bit file system will generate `INVALID_ARGUMENT` if asked to read at an offset that is not in the range [0,2^32-1], but it will generate `OUT_OF_RANGE` if asked to read from an offset past the current file size. There is a fair bit of overlap between `FAILED_PRECONDITION` and `OUT_OF_RANGE`. We recommend using `OUT_OF_RANGE` (the more specific error) when it applies so that callers who are iterating through a space can easily look for an `OUT_OF_RANGE` error to detect when they are done. HTTP Mapping: 400 Bad Request",
            "The operation is not implemented or is not supported/enabled in this service. HTTP Mapping: 501 Not Implemented",
            "Internal errors. This means that some invariants expected by the underlying system have been broken. This error code is reserved for serious errors. HTTP Mapping: 500 Internal Server Error",
            "The service is currently unavailable. This is most likely a transient condition, which can be corrected by retrying with a backoff. Note that it is not always safe to retry non-idempotent operations. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 503 Service Unavailable",
            "Unrecoverable data loss or corruption. HTTP Mapping: 500 Internal Server Error"
          ],
          "description": "Status code.",
          "enum": [
            "OK",
            "CANCELLED",
            "UNKNOWN",
            "INVALID_ARGUMENT",
            "DEADLINE_EXCEEDED",
            "NOT_FOUND",
            "ALREADY_EXISTS",
            "PERMISSION_DENIED",
            "UNAUTHENTICATED",
            "RESOURCE_EXHAUSTED",
            "FAILED_PRECONDITION",
            "ABORTED",
            "OUT_OF_RANGE",
            "UNIMPLEMENTED",
            "INTERNAL",
            "UNAVAILABLE",
            "DATA_LOSS"
          ]
        }
      },
      "description": "Details on why a resource update failed in the runtime.",
      "type": "object"
    },
    "GoogleCloudApigeeV1AccessGet": {
      "description": "Get action. For example, \"Get\" : { \"name\" : \"target.name\", \"value\" : \"default\" }",
      "id": "GoogleCloudApigeeV1AccessGet",
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleTypeExpr": {
      "id": "GoogleTypeExpr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1Environment": {
      "type": "object",
      "id": "GoogleCloudApigeeV1Environment",
      "properties": {
        "name": {
          "description": "Required. Name of the environment. Values must match the regular expression `^[.\\\\p{Alnum}-_]{1,255}$`",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. Display name for this environment.",
          "type": "string"
        },
        "lastModifiedAt": {
          "type": "string",
          "description": "Output only. Last modification time of this environment as milliseconds since epoch.",
          "format": "int64",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the environment."
        },
        "createdAt": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Creation time of this environment as milliseconds since epoch."
        },
        "properties": {
          "$ref": "GoogleCloudApigeeV1Properties",
          "description": "Optional. Key-value pairs that may be used for customizing the environment."
        }
      }
    },
    "GoogleCloudApigeeV1NatAddress": {
      "id": "GoogleCloudApigeeV1NatAddress",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "RESERVED",
            "ACTIVE",
            "DELETING"
          ],
          "enumDescriptions": [
            "The resource is in an unspecified state.",
            "The NAT address is being created.",
            "The NAT address is reserved but not yet used for Internet egress.",
            "The NAT address is active and used for Internet egress.",
            "The NAT address is being deleted."
          ],
          "description": "Required. State of the nat address."
        },
        "ipAddress": {
          "description": "Required. The static IPV4 address.",
          "type": "string"
        },
        "name": {
          "description": "Required. Resource ID of the NAT address.",
          "type": "string"
        }
      },
      "description": "Apigee NAT(network address translation) address. A NAT address is a static external IP address used for Internet egress traffic."
    },
    "GoogleCloudApigeeV1StatsHostStats": {
      "description": "This message type encapsulates the hostname wrapper: \"hosts\": [ { \"metrics\": [ { \"name\": \"sum(message_count)\", \"values\": [ \"2.52056245E8\" ] } ], \"name\": \"example.com\" } ]",
      "id": "GoogleCloudApigeeV1StatsHostStats",
      "properties": {
        "dimensions": {
          "type": "array",
          "description": "This field contains the list of metrics grouped under dimensions.",
          "items": {
            "$ref": "GoogleCloudApigeeV1DimensionMetric"
          }
        },
        "name": {
          "type": "string",
          "description": "This field contains the hostname used in query."
        },
        "metrics": {
          "type": "array",
          "description": "In the final response, only one of the following fields will be present based on the dimensions provided. If no dimensions are provided, then only a top level metrics is provided. If dimensions are included, then there will be a top level dimensions field under hostnames which will contain metrics values and the dimension name. Example: \"hosts\": [ { \"dimensions\": [ { \"metrics\": [ { \"name\": \"sum(message_count)\", \"values\": [ \"2.14049521E8\" ] } ], \"name\": \"nit_proxy\" } ], \"name\": \"example.com\" } ] OR \"hosts\": [ { \"metrics\": [ { \"name\": \"sum(message_count)\", \"values\": [ \"2.19026331E8\" ] } ], \"name\": \"example.com\" } ] This field contains the list of metric values.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Metric"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1ReportProperty": {
      "type": "object",
      "id": "GoogleCloudApigeeV1ReportProperty",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "description": "property values"
        },
        "property": {
          "type": "string",
          "description": "name of the property"
        }
      }
    },
    "GoogleCloudApigeeV1ProvisionOrganizationRequest": {
      "properties": {
        "analyticsRegion": {
          "description": "Primary Cloud Platform region for analytics data storage. For valid values, see [Create an organization](https://docs.apigee.com/hybrid/latest/precog-provision). Defaults to us-west1.",
          "type": "string"
        },
        "authorizedNetwork": {
          "description": "Name of the customer project's VPC network. If provided, the network needs to be peered through Service Networking. If none is provided, the organization will have access only to the public internet.",
          "type": "string"
        },
        "runtimeLocation": {
          "type": "string",
          "description": "Cloud Platform location for the runtime instance. Defaults to us-west1-a."
        }
      },
      "id": "GoogleCloudApigeeV1ProvisionOrganizationRequest",
      "type": "object",
      "description": "Request for ProvisionOrganization."
    },
    "GoogleCloudApigeeV1AsyncQuery": {
      "id": "GoogleCloudApigeeV1AsyncQuery",
      "type": "object",
      "properties": {
        "executionTime": {
          "type": "string",
          "description": "ExecutionTime is available only after the query is completed."
        },
        "resultFileSize": {
          "description": "ResultFileSize is available only after the query is completed.",
          "type": "string"
        },
        "result": {
          "description": "Result is available only after the query is completed.",
          "$ref": "GoogleCloudApigeeV1AsyncQueryResult"
        },
        "reportDefinitionId": {
          "type": "string",
          "description": "Asynchronous Report ID."
        },
        "envgroupHostname": {
          "type": "string",
          "description": "Hostname is available only when query is executed at host level."
        },
        "queryParams": {
          "description": "Contains information like metrics, dimenstions etc of the AsyncQuery.",
          "$ref": "GoogleCloudApigeeV1QueryMetadata"
        },
        "self": {
          "description": "Self link of the query. Example: `/organizations/myorg/environments/myenv/queries/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd` or following format if query is running at host level: `/organizations/myorg/hostQueries/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd`",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Query state could be \"enqueued\", \"running\", \"completed\", \"failed\"."
        },
        "name": {
          "description": "Asynchronous Query Name.",
          "type": "string"
        },
        "error": {
          "type": "string",
          "description": "Error is set when query fails."
        },
        "updated": {
          "description": "Last updated timestamp for the query.",
          "type": "string"
        },
        "created": {
          "type": "string",
          "description": "Creation time of the query."
        },
        "resultRows": {
          "format": "int64",
          "type": "string",
          "description": "ResultRows is available only after the query is completed."
        }
      }
    },
    "GoogleCloudApigeeV1DebugSessionTransaction": {
      "description": "A transaction contains all of the debug information of the entire message flow of an API call processed by the runtime plane. The information is collected and recorded at critical points of the message flow in the runtime apiproxy.",
      "properties": {
        "completed": {
          "type": "boolean",
          "description": "Flag indicating whether a transaction is completed or not"
        },
        "point": {
          "description": "List of debug data collected by runtime plane at various defined points in the flow.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Point"
          }
        }
      },
      "id": "GoogleCloudApigeeV1DebugSessionTransaction",
      "type": "object"
    },
    "GoogleCloudApigeeV1Organization": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Name of the Apigee organization.",
          "readOnly": true
        },
        "description": {
          "description": "Description of the Apigee organization.",
          "type": "string"
        },
        "runtimeType": {
          "enum": [
            "RUNTIME_TYPE_UNSPECIFIED",
            "CLOUD",
            "HYBRID"
          ],
          "description": "Required. Runtime type of the Apigee organization based on the Apigee subscription purchased.",
          "type": "string",
          "enumDescriptions": [
            "Runtime type not specified.",
            "Google-managed Apigee runtime.",
            "User-managed Apigee hybrid runtime."
          ]
        },
        "analyticsRegion": {
          "type": "string",
          "description": "Required. Primary GCP region for analytics data storage. For valid values, see [Create an Apigee organization](https://cloud.google.com/apigee/docs/api-platform/get-started/create-org)."
        },
        "subscriptionType": {
          "readOnly": true,
          "enumDescriptions": [
            "Subscription type not specified.",
            "Full subscription to Apigee has been purchased.",
            "Subscription to Apigee is free, limited, and used for evaluation purposes only."
          ],
          "description": "Output only. Subscription type of the Apigee organization. Valid values include trial (free, limited, and for evaluation purposes only) or paid (full subscription has been purchased). See [Apigee pricing](https://cloud.google.com/apigee/pricing/).",
[...]
