{
  "revision": "20230519",
  "title": "Apigee API",
  "description": "Use the Apigee API to programmatically develop and manage APIs with a set of RESTful operations. Develop and secure API proxies, deploy and undeploy API proxy revisions, monitor APIs, configure environments, manage users, and more. Note: This product is available as a free trial for a time period of 60 days.",
  "version_module": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "basePath": "",
  "batchPath": "batch",
  "baseUrl": "https://apigee.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "version": "v1",
  "name": "apigee",
  "canonicalName": "Apigee",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "apigee:v1",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "rootUrl": "https://apigee.googleapis.com/",
  "schemas": {
    "GoogleCloudApigeeV1DebugMask": {
      "id": "GoogleCloudApigeeV1DebugMask",
      "properties": {
        "responseXPaths": {
          "items": {
            "type": "string"
          },
          "description": "List of XPaths that specify the XML elements to be filtered from XML response message payloads.",
          "type": "array"
        },
        "responseJSONPaths": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of JSON paths that specify the JSON elements to be filtered from JSON response message payloads."
        },
        "faultXPaths": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of XPaths that specify the XML elements to be filtered from XML payloads in error flows."
        },
        "requestXPaths": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of XPaths that specify the XML elements to be filtered from XML request message payloads."
        },
        "variables": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of variables that should be masked from the debug output."
        },
        "faultJSONPaths": {
          "description": "List of JSON paths that specify the JSON elements to be filtered from JSON payloads in error flows.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "Name of the debug mask.",
          "type": "string"
        },
        "namespaces": {
          "type": "object",
          "description": "Map of namespaces to URIs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "requestJSONPaths": {
          "items": {
            "type": "string"
          },
          "description": "List of JSON paths that specify the JSON elements to be filtered from JSON request message payloads.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1TlsInfoCommonName": {
      "type": "object",
      "properties": {
        "wildcardMatch": {
          "type": "boolean",
          "description": "Indicates whether the cert should be matched against as a wildcard cert."
        },
        "value": {
          "description": "The TLS Common Name string of the certificate.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1TlsInfoCommonName"
    },
    "GoogleCloudApigeeV1KeyValueMap": {
      "type": "object",
      "description": "Collection of key/value string pairs.",
      "id": "GoogleCloudApigeeV1KeyValueMap",
      "properties": {
        "name": {
          "description": "Required. ID of the key value map.",
          "type": "string"
        },
        "encrypted": {
          "description": "Required. Flag that specifies whether entry values will be encrypted. This field is retained for backward compatibility and the value of encrypted will always be `true`. Apigee X and hybrid do not support unencrypted key value maps.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudApigeeV1SecurityReport": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display Name specified by the user."
        },
        "reportDefinitionId": {
          "type": "string",
          "description": "Report Definition ID."
        },
        "resultRows": {
          "type": "string",
          "description": "ResultRows is available only after the query is completed.",
          "format": "int64"
        },
        "error": {
          "type": "string",
          "description": "Error is set when query fails."
        },
        "envgroupHostname": {
          "description": "Hostname is available only when query is executed at host level.",
          "type": "string"
        },
        "resultFileSize": {
          "type": "string",
          "description": "ResultFileSize is available only after the query is completed."
        },
        "self": {
          "description": "Self link of the query. Example: `/organizations/myorg/environments/myenv/securityReports/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd` or following format if query is running at host level: `/organizations/myorg/hostSecurityReports/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd`",
          "type": "string"
        },
        "queryParams": {
          "description": "Contains information like metrics, dimenstions etc of the Security Report.",
          "$ref": "GoogleCloudApigeeV1SecurityReportMetadata"
        },
        "updated": {
          "readOnly": true,
          "description": "Output only. Last updated timestamp for the query.",
          "type": "string"
        },
        "created": {
          "description": "Creation time of the query.",
          "type": "string"
        },
        "state": {
          "description": "Query state could be \"enqueued\", \"running\", \"completed\", \"expired\" and \"failed\".",
          "type": "string"
        },
        "executionTime": {
          "type": "string",
          "description": "ExecutionTime is available only after the query is completed."
        },
        "result": {
          "$ref": "GoogleCloudApigeeV1SecurityReportResultMetadata",
          "description": "Result is available only after the query is completed."
        }
      },
      "description": "SecurityReport saves all the information about the created security report.",
      "id": "GoogleCloudApigeeV1SecurityReport",
      "type": "object"
    },
    "GoogleCloudApigeeV1OptimizedStatsResponse": {
      "id": "GoogleCloudApigeeV1OptimizedStatsResponse",
      "properties": {
        "TimeUnit": {
          "type": "array",
          "description": "List of time unit values. Time unit refers to an epoch timestamp value.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "stats": {
          "$ref": "GoogleCloudApigeeV1OptimizedStatsNode",
          "description": "`stats` results."
        },
        "resultTruncated": {
          "description": "Boolean flag that indicates whether the results were truncated based on the limit parameter.",
          "type": "boolean"
        },
        "metaData": {
          "description": "Metadata information about the query executed.",
          "$ref": "GoogleCloudApigeeV1Metadata"
        }
      },
      "description": "Encapsulates a response format for JavaScript Optimized Scenario.",
      "type": "object"
    },
    "GoogleCloudApigeeV1SecurityReportResultMetadata": {
      "type": "object",
      "id": "GoogleCloudApigeeV1SecurityReportResultMetadata",
      "properties": {
        "self": {
          "type": "string",
          "description": "Self link of the query results. Example: `/organizations/myorg/environments/myenv/securityReports/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd/result` or following format if query is running at host level: `/organizations/myorg/hostSecurityReports/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd/result`"
        },
        "expires": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Expire_time is set to 7 days after report creation. Query result will be unaccessable after this time. Example: \"2021-05-04T13:38:52-07:00\""
        }
      },
      "description": "Contains informations about the security report results."
    },
    "GoogleCloudApigeeV1InstanceAttachment": {
      "id": "GoogleCloudApigeeV1InstanceAttachment",
      "properties": {
        "environment": {
          "type": "string",
          "description": "ID of the attached environment."
        },
        "name": {
          "description": "Output only. ID of the attachment.",
          "type": "string",
          "readOnly": true
        },
        "createdAt": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time the attachment was created in milliseconds since epoch.",
          "format": "int64"
        }
      },
      "description": "InstanceAttachment represents the installation of an environment onto an instance.",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListInstancesResponse": {
      "id": "GoogleCloudApigeeV1ListInstancesResponse",
      "description": "Response for ListInstances.",
      "type": "object",
      "properties": {
        "instances": {
          "description": "Instances in the specified organization.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Instance"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token that you can include in a ListInstance request to retrieve the next page of content. If omitted, no subsequent pages exist."
        }
      }
    },
    "GoogleCloudApigeeV1MonetizationConfig": {
      "type": "object",
      "description": "Configuration for the Monetization add-on.",
      "id": "GoogleCloudApigeeV1MonetizationConfig",
      "properties": {
        "enabled": {
          "description": "Flag that specifies whether the Monetization add-on is enabled.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudApigeeV1ApiCategoryData": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the category."
        },
        "id": {
          "description": "ID of the category (a UUID).",
          "type": "string"
        },
        "siteId": {
          "description": "Name of the portal.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "int64",
          "description": "Time the category was last modified in milliseconds since epoch."
        },
        "gcpResource": {
          "description": "GCP name of api category resource.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1ApiCategoryData",
      "description": "the Api category resource."
    },
    "GoogleCloudApigeeV1ListKeyValueEntriesResponse": {
      "type": "object",
      "id": "GoogleCloudApigeeV1ListKeyValueEntriesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `next_page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "keyValueEntries": {
          "description": "One or more key value map keys and values.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1KeyValueEntry"
          }
        }
      },
      "description": "The request structure for listing key value map keys and its corresponding values."
    },
    "GoogleCloudApigeeV1DebugSessionTransaction": {
      "properties": {
        "completed": {
          "description": "Flag indicating whether a transaction is completed or not",
          "type": "boolean"
        },
        "point": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Point"
          },
          "description": "List of debug data collected by runtime plane at various defined points in the flow.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1DebugSessionTransaction",
      "description": "A transaction contains all of the debug information of the entire message flow of an API call processed by the runtime plane. The information is collected and recorded at critical points of the message flow in the runtime apiproxy."
    },
    "GoogleCloudApigeeV1ListArchiveDeploymentsResponse": {
      "type": "object",
      "description": "Response for ListArchiveDeployments method.",
      "id": "GoogleCloudApigeeV1ListArchiveDeploymentsResponse",
      "properties": {
        "archiveDeployments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ArchiveDeployment"
          },
          "description": "Archive Deployments in the specified environment."
        },
        "nextPageToken": {
          "description": "Page token that you can include in a ListArchiveDeployments request to retrieve the next page. If omitted, no subsequent pages exist.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1DateRange": {
      "description": "Date range of the data to export.",
      "id": "GoogleCloudApigeeV1DateRange",
      "properties": {
        "end": {
          "type": "string",
          "description": "Required. End date (exclusive) of the data to export in the format `yyyy-mm-dd`. The date range ends at 00:00:00 UTC on the end date- which will not be in the output."
        },
        "start": {
          "type": "string",
          "description": "Required. Start date of the data to export in the format `yyyy-mm-dd`. The date range begins at 00:00:00 UTC on the start date."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1OptimizedStats": {
      "id": "GoogleCloudApigeeV1OptimizedStats",
      "type": "object",
      "properties": {
        "Response": {
          "$ref": "GoogleCloudApigeeV1OptimizedStatsResponse",
          "description": "Wraps the `stats` response for JavaScript Optimized Scenario with a response key. For example: ```{ \"Response\": { \"TimeUnit\": [], \"metaData\": { \"errors\": [], \"notices\": [ \"Source:Postgres\", \"Table used: edge.api.aaxgroup001.agg_api\", \"PG Host:ruappg08-ro.production.apigeeks.net\", \"query served by:80c4ebca-6a10-4a2e-8faf-c60c1ee306ca\" ] }, \"resultTruncated\": false, \"stats\": { \"data\": [ { \"identifier\": { \"names\": [ \"apiproxy\" ], \"values\": [ \"sirjee\" ] }, \"metric\": [ { \"env\": \"prod\", \"name\": \"sum(message_count)\", \"values\": [ 36.0 ] }, { \"env\": \"prod\", \"name\": \"sum(is_error)\", \"values\": [ 36.0 ] } ] } ] } } }```"
        }
      }
    },
    "GoogleCloudApigeeV1DeploymentChangeReport": {
      "id": "GoogleCloudApigeeV1DeploymentChangeReport",
      "type": "object",
      "properties": {
        "routingConflicts": {
          "type": "array",
          "description": "All base path conflicts detected for a deployment request.",
          "items": {
            "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingConflict"
          }
        },
        "routingChanges": {
          "type": "array",
          "description": "All routing changes that may result from a deployment request.",
          "items": {
            "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingChange"
          }
        },
        "validationErrors": {
          "description": "Validation errors that would cause the deployment change request to be rejected.",
          "$ref": "GoogleRpcPreconditionFailure"
        }
      },
      "description": "Response for GenerateDeployChangeReport and GenerateUndeployChangeReport. This report contains any validation failures that would cause the deployment to be rejected, as well changes and conflicts in routing that may occur due to the new deployment. The existence of a routing warning does not necessarily imply that the deployment request is bad, if the desired state of the deployment request is to effect a routing change. The primary purposes of the routing messages are: 1) To inform users of routing changes that may have an effect on traffic currently being routed to other existing deployments. 2) To warn users if some base path in the proxy will not receive traffic due to an existing deployment having already claimed that base path. The presence of routing conflicts/changes will not cause non-dry-run DeployApiProxy/UndeployApiProxy requests to be rejected."
    },
    "GoogleCloudApigeeV1ListEnvironmentResourcesResponse": {
      "properties": {
        "resourceFile": {
          "description": "List of resources files.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ResourceFile"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1ListEnvironmentResourcesResponse",
      "description": "Response for ListEnvironmentResources"
    },
    "GoogleCloudApigeeV1TraceConfigOverride": {
      "description": "A representation of a configuration override.",
      "type": "object",
      "id": "GoogleCloudApigeeV1TraceConfigOverride",
      "properties": {
        "samplingConfig": {
          "$ref": "GoogleCloudApigeeV1TraceSamplingConfig",
          "description": "Trace configuration to override."
        },
        "name": {
          "description": "ID of the trace configuration override specified as a system-generated UUID.",
          "type": "string"
        },
        "apiProxy": {
          "description": "ID of the API proxy that will have its trace configuration overridden.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1GenerateDownloadUrlResponse": {
      "description": "Response for GenerateDownloadUrl method.",
      "properties": {
        "downloadUri": {
          "description": "The Google Cloud Storage signed URL that can be used to download the Archive zip file.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1GenerateDownloadUrlResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1ProvisionOrganizationRequest": {
      "description": "Request for ProvisionOrganization.",
      "id": "GoogleCloudApigeeV1ProvisionOrganizationRequest",
      "properties": {
        "runtimeLocation": {
          "description": "Cloud Platform location for the runtime instance. Defaults to zone `us-west1-a`. If a region is provided, `EVAL` organizations will use the region for automatically selecting a zone for the runtime instance.",
          "type": "string"
        },
        "analyticsRegion": {
          "description": "Primary Cloud Platform region for analytics data storage. For valid values, see [Create an organization](https://cloud.google.com/apigee/docs/hybrid/latest/precog-provision). Defaults to `us-west1`.",
          "type": "string"
        },
        "authorizedNetwork": {
          "type": "string",
          "description": "Compute Engine network used for Service Networking to be peered with Apigee runtime instances. See [Getting started with the Service Networking API](https://cloud.google.com/service-infrastructure/docs/service-networking/getting-started). Apigee also supports shared VPC (that is, the host network project is not the same as the one that is peering with Apigee). See [Shared VPC overview](https://cloud.google.com/vpc/docs/shared-vpc). To use a shared VPC network, use the following format: `projects/{host-project-id}/{region}/networks/{network-name}`. For example: `projects/my-sharedvpc-host/global/networks/mynetwork`"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1EnvironmentConfig": {
      "type": "object",
      "properties": {
        "traceConfig": {
          "description": "Trace configurations. Contains config for the environment and config overrides for specific API proxies.",
          "$ref": "GoogleCloudApigeeV1RuntimeTraceConfig"
        },
        "pubsubTopic": {
          "description": "Name of the PubSub topic for the environment.",
          "type": "string"
        },
        "targets": {
          "description": "List of target servers in the environment. Disabled target servers are not displayed.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1TargetServerConfig"
          }
        },
        "forwardProxyUri": {
          "description": "The forward proxy's url to be used by the runtime. When set, runtime will send requests to the target via the given forward proxy. This is only used by programmable gateways.",
          "type": "string"
        },
        "sequenceNumber": {
          "description": "DEPRECATED: Use revision_id.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the environment configuration in the following format: `organizations/{org}/environments/{env}/configs/{config}`"
        },
        "envScopedRevisionId": {
          "type": "string",
          "description": "Revision ID for environment-scoped resources (e.g. target servers, keystores) in this config. This ID will increment any time a resource not scoped to a deployment group changes.",
          "format": "int64"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time that the environment configuration was created."
        },
        "resourceReferences": {
          "type": "array",
          "description": "List of resource references in the environment.",
          "items": {
            "$ref": "GoogleCloudApigeeV1ReferenceConfig"
          }
        },
        "featureFlags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Feature flags inherited from the organization and environment.",
          "type": "object"
        },
        "debugMask": {
          "$ref": "GoogleCloudApigeeV1DebugMask",
          "description": "Debug mask that applies to all deployments in the environment."
        },
        "deploymentGroups": {
          "description": "List of deployment groups in the environment.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1DeploymentGroupConfig"
          }
        },
        "revisionId": {
          "type": "string",
          "format": "int64",
          "description": "Revision ID of the environment configuration. The higher the value, the more recently the configuration was deployed."
        },
        "provider": {
          "description": "Used by the Control plane to add context information to help detect the source of the document during diagnostics and debugging.",
          "type": "string"
        },
        "deployments": {
          "items": {
            "$ref": "GoogleCloudApigeeV1DeploymentConfig"
          },
          "type": "array",
          "description": "List of deployments in the environment."
        },
        "resources": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ResourceConfig"
          },
          "description": "List of resource versions in the environment."
        },
        "uid": {
          "type": "string",
          "description": "Unique ID for the environment configuration. The ID will only change if the environment is deleted and recreated."
        },
        "arcConfigLocation": {
          "type": "string",
          "description": "The location for the config blob of API Runtime Control, aka Envoy Adapter, for op-based authentication as a URI, e.g. a Cloud Storage URI. This is only used by Envoy-based gateways."
        },
        "gatewayConfigLocation": {
          "description": "The location for the gateway config blob as a URI, e.g. a Cloud Storage URI. This is only used by Envoy-based gateways.",
          "type": "string"
        },
        "dataCollectors": {
          "type": "array",
          "description": "List of data collectors used by the deployments in the environment.",
          "items": {
            "$ref": "GoogleCloudApigeeV1DataCollectorConfig"
          }
        },
        "flowhooks": {
          "description": "List of flow hooks in the environment.",
          "items": {
            "$ref": "GoogleCloudApigeeV1FlowHookConfig"
          },
          "type": "array"
        },
        "keystores": {
          "description": "List of keystores in the environment.",
          "items": {
            "$ref": "GoogleCloudApigeeV1KeystoreConfig"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudApigeeV1EnvironmentConfig"
    },
    "GoogleCloudApigeeV1DeveloperBalanceWallet": {
      "type": "object",
      "properties": {
        "balance": {
          "$ref": "GoogleTypeMoney",
          "description": "Current remaining balance of the developer for a particular currency."
        },
        "lastCreditTime": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Time at which the developer last added credit to the account in milliseconds since epoch."
        }
      },
      "id": "GoogleCloudApigeeV1DeveloperBalanceWallet",
      "description": "Wallet used to manage an account balance for a particular currency."
    },
    "GoogleCloudApigeeV1Attribute": {
      "description": "Key-value pair to store extra metadata.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "API key of the attribute."
        },
        "value": {
          "description": "Value of the attribute.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1Attribute"
    },
    "GoogleCloudApigeeV1SecurityReportResultView": {
      "id": "GoogleCloudApigeeV1SecurityReportResultView",
      "properties": {
        "code": {
          "description": "Error code when there is a failure.",
          "type": "integer",
          "format": "int32"
        },
        "rows": {
          "items": {
            "type": "any"
          },
          "description": "Rows of security report result. Each row is a JSON object. Example: {sum(message_count): 1, developer_app: \"(not set)\",…}",
          "type": "array"
        },
        "error": {
          "type": "string",
          "description": "Error message when there is a failure."
        },
        "metadata": {
          "$ref": "GoogleCloudApigeeV1SecurityReportMetadata",
          "description": "Metadata contains information like metrics, dimenstions etc of the security report."
        },
        "state": {
          "type": "string",
          "description": "State of retrieving ResultView."
        }
      },
      "description": "The response for security report result view APIs.",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListSharedFlowsResponse": {
      "properties": {
        "sharedFlows": {
          "items": {
            "$ref": "GoogleCloudApigeeV1SharedFlow"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "To change this message, in the same CL add a change log in go/changing-api-proto-breaks-ui",
      "id": "GoogleCloudApigeeV1ListSharedFlowsResponse"
    },
    "GoogleCloudApigeeV1Point": {
      "description": "Point is a group of information collected by runtime plane at critical points of the message flow of the processed API request. This is a list of supported point IDs, categorized to three major buckets. For each category, debug points that we are currently supporting are listed below: - Flow status debug points: StateChange FlowInfo Condition Execution DebugMask Error - Flow control debug points: FlowCallout Paused Resumed FlowReturn BreakFlow Error - Runtime debug points: ScriptExecutor FlowCalloutStepDefinition CustomTarget StepDefinition Oauth2ServicePoint RaiseFault NodeJS The detail information of the given debug point is stored in a list of results.",
      "properties": {
        "id": {
          "description": "Name of a step in the transaction.",
          "type": "string"
        },
        "results": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Result"
          },
          "description": "List of results extracted from a given debug point.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1Point"
    },
    "GoogleCloudApigeeV1Query": {
      "id": "GoogleCloudApigeeV1Query",
      "type": "object",
      "properties": {
        "timeRange": {
          "type": "any",
          "description": "Required. Time range for the query. Can use the following predefined strings to specify the time range: `last60minutes` `last24hours` `last7days` Or, specify the timeRange as a structure describing start and end timestamps in the ISO format: yyyy-mm-ddThh:mm:ssZ. Example: \"timeRange\": { \"start\": \"2018-07-29T00:13:00Z\", \"end\": \"2018-08-01T00:18:00Z\" }"
        },
        "envgroupHostname": {
          "description": "Hostname needs to be specified if query intends to run at host level. This field is only allowed when query is submitted by CreateHostAsyncQuery where analytics data will be grouped by organization and hostname.",
          "type": "string"
        },
        "metrics": {
          "items": {
            "$ref": "GoogleCloudApigeeV1QueryMetric"
          },
          "type": "array",
          "description": "A list of Metrics."
        },
        "groupByTimeUnit": {
          "description": "Time unit used to group the result set. Valid values include: second, minute, hour, day, week, or month. If a query includes groupByTimeUnit, then the result is an aggregation based on the specified time unit and the resultant timestamp does not include milliseconds precision. If a query omits groupByTimeUnit, then the resultant timestamp includes milliseconds precision.",
          "type": "string"
        },
        "limit": {
          "format": "int32",
          "description": "Maximum number of rows that can be returned in the result.",
          "type": "integer"
        },
        "filter": {
          "description": "Boolean expression that can be used to filter data. Filter expressions can be combined using AND/OR terms and should be fully parenthesized to avoid ambiguity. See Analytics metrics, dimensions, and filters reference https://docs.apigee.com/api-platform/analytics/analytics-reference for more information on the fields available to filter on. For more information on the tokens that you use to build filter expressions, see Filter expression syntax. https://docs.apigee.com/api-platform/analytics/asynch-reports-api#filter-expression-syntax",
          "type": "string"
        },
        "csvDelimiter": {
          "type": "string",
          "description": "Delimiter used in the CSV file, if `outputFormat` is set to `csv`. Defaults to the `,` (comma) character. Supported delimiter characters include comma (`,`), pipe (`|`), and tab (`\\t`)."
        },
        "dimensions": {
          "items": {
            "type": "string"
          },
          "description": "A list of dimensions. https://docs.apigee.com/api-platform/analytics/analytics-reference#dimensions",
          "type": "array"
        },
        "name": {
          "description": "Asynchronous Query Name.",
          "type": "string"
        },
        "reportDefinitionId": {
          "type": "string",
          "description": "Asynchronous Report ID."
        },
        "outputFormat": {
          "description": "Valid values include: `csv` or `json`. Defaults to `json`. Note: Configure the delimiter for CSV output using the csvDelimiter property.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1UpdateError": {
      "id": "GoogleCloudApigeeV1UpdateError",
      "properties": {
        "code": {
          "enumDescriptions": [
            "Not an error; returned on success. HTTP Mapping: 200 OK",
            "The operation was cancelled, typically by the caller. HTTP Mapping: 499 Client Closed Request",
            "Unknown error. For example, this error may be returned when a `Status` value received from another address space belongs to an error space that is not known in this address space. Also errors raised by APIs that do not return enough error information may be converted to this error. HTTP Mapping: 500 Internal Server Error",
            "The client specified an invalid argument. Note that this differs from `FAILED_PRECONDITION`. `INVALID_ARGUMENT` indicates arguments that are problematic regardless of the state of the system (e.g., a malformed file name). HTTP Mapping: 400 Bad Request",
            "The deadline expired before the operation could complete. For operations that change the state of the system, this error may be returned even if the operation has completed successfully. For example, a successful response from a server could have been delayed long enough for the deadline to expire. HTTP Mapping: 504 Gateway Timeout",
            "Some requested entity (e.g., file or directory) was not found. Note to server developers: if a request is denied for an entire class of users, such as gradual feature rollout or undocumented allowlist, `NOT_FOUND` may be used. If a request is denied for some users within a class of users, such as user-based access control, `PERMISSION_DENIED` must be used. HTTP Mapping: 404 Not Found",
            "The entity that a client attempted to create (e.g., file or directory) already exists. HTTP Mapping: 409 Conflict",
            "The caller does not have permission to execute the specified operation. `PERMISSION_DENIED` must not be used for rejections caused by exhausting some resource (use `RESOURCE_EXHAUSTED` instead for those errors). `PERMISSION_DENIED` must not be used if the caller can not be identified (use `UNAUTHENTICATED` instead for those errors). This error code does not imply the request is valid or the requested entity exists or satisfies other pre-conditions. HTTP Mapping: 403 Forbidden",
            "The request does not have valid authentication credentials for the operation. HTTP Mapping: 401 Unauthorized",
            "Some resource has been exhausted, perhaps a per-user quota, or perhaps the entire file system is out of space. HTTP Mapping: 429 Too Many Requests",
            "The operation was rejected because the system is not in a state required for the operation's execution. For example, the directory to be deleted is non-empty, an rmdir operation is applied to a non-directory, etc. Service implementors can use the following guidelines to decide between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`: (a) Use `UNAVAILABLE` if the client can retry just the failing call. (b) Use `ABORTED` if the client should retry at a higher level. For example, when a client-specified test-and-set fails, indicating the client should restart a read-modify-write sequence. (c) Use `FAILED_PRECONDITION` if the client should not retry until the system state has been explicitly fixed. For example, if an \"rmdir\" fails because the directory is non-empty, `FAILED_PRECONDITION` should be returned since the client should not retry unless the files are deleted from the directory. HTTP Mapping: 400 Bad Request",
            "The operation was aborted, typically due to a concurrency issue such as a sequencer check failure or transaction abort. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 409 Conflict",
            "The operation was attempted past the valid range. E.g., seeking or reading past end-of-file. Unlike `INVALID_ARGUMENT`, this error indicates a problem that may be fixed if the system state changes. For example, a 32-bit file system will generate `INVALID_ARGUMENT` if asked to read at an offset that is not in the range [0,2^32-1], but it will generate `OUT_OF_RANGE` if asked to read from an offset past the current file size. There is a fair bit of overlap between `FAILED_PRECONDITION` and `OUT_OF_RANGE`. We recommend using `OUT_OF_RANGE` (the more specific error) when it applies so that callers who are iterating through a space can easily look for an `OUT_OF_RANGE` error to detect when they are done. HTTP Mapping: 400 Bad Request",
            "The operation is not implemented or is not supported/enabled in this service. HTTP Mapping: 501 Not Implemented",
            "Internal errors. This means that some invariants expected by the underlying system have been broken. This error code is reserved for serious errors. HTTP Mapping: 500 Internal Server Error",
            "The service is currently unavailable. This is most likely a transient condition, which can be corrected by retrying with a backoff. Note that it is not always safe to retry non-idempotent operations. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 503 Service Unavailable",
            "Unrecoverable data loss or corruption. HTTP Mapping: 500 Internal Server Error"
          ],
          "description": "Status code.",
          "enum": [
            "OK",
            "CANCELLED",
            "UNKNOWN",
            "INVALID_ARGUMENT",
            "DEADLINE_EXCEEDED",
            "NOT_FOUND",
            "ALREADY_EXISTS",
            "PERMISSION_DENIED",
            "UNAUTHENTICATED",
            "RESOURCE_EXHAUSTED",
            "FAILED_PRECONDITION",
            "ABORTED",
            "OUT_OF_RANGE",
            "UNIMPLEMENTED",
            "INTERNAL",
            "UNAVAILABLE",
            "DATA_LOSS"
          ],
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "User-friendly error message."
        },
        "type": {
          "type": "string",
          "description": "A string that uniquely identifies the type of error. This provides a more reliable means to deduplicate errors across revisions and instances."
        },
        "resource": {
          "description": "The sub resource specific to this error (e.g. a proxy deployed within the EnvironmentConfig). If empty the error refers to the top level resource.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Details on why a resource update failed in the runtime."
    },
    "GoogleCloudApigeeV1OperationMetadataProgress": {
      "properties": {
        "state": {
          "description": "State of the operation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "FINISHED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "details": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The additional details of the progress."
        },
        "percentDone": {
          "format": "int32",
          "type": "integer",
          "description": "The percentage of the operation progress."
        },
        "description": {
          "type": "string",
          "description": "Description of the operation's progress."
        }
      },
      "id": "GoogleCloudApigeeV1OperationMetadataProgress",
      "type": "object",
      "description": "Information about operation progress."
    },
    "GoogleCloudApigeeV1QueryTabularStatsResponse": {
      "type": "object",
      "id": "GoogleCloudApigeeV1QueryTabularStatsResponse",
      "description": "Encapsulates two kinds of stats that are results of the dimensions and aggregations requested. - Tabular rows. - Time series data. Example of tabular rows, Represents security stats results as a row of flat values.",
      "properties": {
        "values": {
          "description": "Resultant rows from the executed query.",
          "items": {
            "items": {
              "type": "any"
            },
            "type": "array"
          },
          "type": "array"
        },
        "columns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Column names corresponding to the same order as the inner values in the stats field."
        },
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1SecurityProfileEnvironment": {
      "description": "Environment information of attached environments. Scoring an environment is enabled only if it is attached to a security profile.",
      "id": "GoogleCloudApigeeV1SecurityProfileEnvironment",
      "type": "object",
      "properties": {
        "environment": {
          "type": "string",
          "description": "Output only. Name of the environment.",
          "readOnly": true
        },
        "attachTime": {
          "description": "Output only. Time at which environment was attached to the security profile.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudApigeeV1DimensionMetric": {
      "description": "Encapsulates a metric grouped by dimension.",
      "id": "GoogleCloudApigeeV1DimensionMetric",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the dimension."
        },
        "metrics": {
          "description": "List of metrics.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Metric"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudApigeeV1ListDeveloperSubscriptionsResponse": {
      "id": "GoogleCloudApigeeV1ListDeveloperSubscriptionsResponse",
      "type": "object",
      "description": "Response for ListDeveloperSubscriptions.",
      "properties": {
        "nextStartKey": {
          "description": "Value that can be sent as `startKey` to retrieve the next page of content. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "developerSubscriptions": {
          "description": "List of all subscriptions.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1DeveloperSubscription"
          }
        }
      }
    },
    "EdgeConfigstoreBundleBadBundle": {
      "description": "Describes why a bundle is invalid. Intended for use in error details.",
      "properties": {
        "violations": {
          "items": {
            "$ref": "EdgeConfigstoreBundleBadBundleViolation"
          },
          "description": "Describes all precondition violations.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "EdgeConfigstoreBundleBadBundle"
    },
    "GoogleCloudApigeeV1ApiSecurityRuntimeConfig": {
      "description": "Response for GetApiSecurityRuntimeConfig[EnvironmentService.GetApiSecurityRuntimeConfig].",
      "properties": {
        "uid": {
          "description": "Unique ID for the API Security Runtime configuration. The ID will only change if the environment is deleted and recreated.",
          "type": "string"
        },
        "location": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of up to 5 Cloud Storage Blobs that contain SecurityActions."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Time that the API Security Runtime configuration was updated.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the environment API Security Runtime configuration resource. Format: `organizations/{org}/environments/{env}/apiSecurityRuntimeConfig`"
        },
        "revisionId": {
          "format": "int64",
          "description": "Revision ID of the API Security Runtime configuration. The higher the value, the more recently the configuration was deployed.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1ApiSecurityRuntimeConfig"
    },
    "GoogleCloudApigeeV1Export": {
      "properties": {
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Status of the export job. Valid values include `enqueued`, `running`, `completed`, and `failed`."
        },
        "created": {
          "type": "string",
          "description": "Output only. Time the export job was created.",
          "readOnly": true
        },
        "datastoreName": {
          "type": "string",
          "description": "Name of the datastore that is the destination of the export job [datastore]"
        },
        "description": {
          "type": "string",
          "description": "Description of the export job."
        },
        "updated": {
          "description": "Output only. Time the export job was last updated.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Display name of the export job."
        },
        "executionTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Execution time for this export job. If the job is still in progress, it will be set to the amount of time that has elapsed since`created`, in seconds. Else, it will set to (`updated` - `created`), in seconds."
        },
        "error": {
          "type": "string",
          "description": "Output only. Error is set when export fails",
          "readOnly": true
        },
        "self": {
          "description": "Output only. Self link of the export job. A URI that can be used to retrieve the status of an export job. Example: `/organizations/myorg/environments/myenv/analytics/exports/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd`",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Details of an export job.",
      "id": "GoogleCloudApigeeV1Export",
      "type": "object"
    },
    "GoogleCloudApigeeV1DeploymentChangeReportRoutingChange": {
      "properties": {
        "fromDeployment": {
          "description": "Base path/deployment that may stop receiving some traffic.",
          "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment"
        },
        "toDeployment": {
          "description": "Base path/deployment that may start receiving that traffic. May be null if no deployment is able to receive the traffic.",
          "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment"
        },
        "description": {
          "description": "Human-readable description of this routing change.",
          "type": "string"
        },
        "environmentGroup": {
          "type": "string",
          "description": "Name of the environment group affected by this routing change."
        },
        "shouldSequenceRollout": {
          "description": "Set to `true` if using sequenced rollout would make this routing change safer. **Note**: This does not necessarily imply that automated sequenced rollout mode is supported for the operation.",
          "type": "boolean"
        }
      },
      "description": "Describes a potential routing change that may occur as a result of some deployment operation.",
      "id": "GoogleCloudApigeeV1DeploymentChangeReportRoutingChange",
      "type": "object"
    },
    "GoogleCloudApigeeV1EntityMetadata": {
      "properties": {
        "createdAt": {
          "format": "int64",
          "type": "string",
          "description": "Time at which the API proxy was created, in milliseconds since epoch."
        },
        "lastModifiedAt": {
          "description": "Time at which the API proxy was most recently modified, in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "subType": {
          "type": "string",
          "description": "The type of entity described"
        }
      },
      "id": "GoogleCloudApigeeV1EntityMetadata",
      "description": "Metadata common to many entities in this API.",
      "type": "object"
    },
    "GoogleCloudApigeeV1TraceConfig": {
      "type": "object",
      "properties": {
        "samplingConfig": {
          "$ref": "GoogleCloudApigeeV1TraceSamplingConfig",
          "description": "Distributed trace configuration for all API proxies in an environment. You can also override the configuration for a specific API proxy using the distributed trace configuration overrides API."
        },
        "endpoint": {
          "description": "Required. Endpoint of the exporter.",
          "type": "string"
        },
        "exporter": {
          "enum": [
            "EXPORTER_UNSPECIFIED",
            "JAEGER",
            "CLOUD_TRACE"
          ],
          "description": "Required. Exporter that is used to view the distributed trace captured using OpenCensus. An exporter sends traces to any backend that is capable of consuming them. Recorded spans can be exported by registered exporters.",
          "type": "string",
          "enumDescriptions": [
            "Exporter unspecified",
            "Jaeger exporter",
            "Cloudtrace exporter"
          ]
        }
      },
      "id": "GoogleCloudApigeeV1TraceConfig",
      "description": "TraceConfig defines the configurations in an environment of distributed trace."
    },
    "GoogleCloudApigeeV1RevisionStatus": {
      "type": "object",
      "id": "GoogleCloudApigeeV1RevisionStatus",
      "description": "The status of a specific resource revision.",
      "properties": {
        "revisionId": {
          "description": "The revision of the resource.",
          "type": "string"
        },
        "jsonSpec": {
          "type": "string",
          "description": "The json content of the resource revision. Large specs should be sent individually via the spec field to avoid hitting request size limits."
        },
        "errors": {
          "description": "Errors reported when attempting to load this revision.",
          "items": {
            "$ref": "GoogleCloudApigeeV1UpdateError"
          },
          "type": "array"
        },
        "replicas": {
          "format": "int32",
          "description": "The number of replicas that have successfully loaded this revision.",
          "type": "integer"
        }
      }
    },
    "GoogleCloudApigeeV1OperationConfig": {
      "properties": {
        "apiSource": {
          "type": "string",
          "description": "Required. Name of the API proxy or remote service with which the resources, methods, and quota are associated."
        },
        "operations": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Operation"
          },
          "type": "array",
          "description": "List of resource/method pairs for the API proxy or remote service to which quota will applied. **Note**: Currently, you can specify only a single resource/method pair. The call will fail if more than one resource/method pair is provided."
        },
        "quota": {
          "$ref": "GoogleCloudApigeeV1Quota",
          "description": "Quota parameters to be enforced for the resources, methods, and API source combination. If none are specified, quota enforcement will not be done."
        },
        "attributes": {
          "description": "Custom attributes associated with the operation.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "type": "array"
        }
      },
      "description": "Binds the resources in an API proxy or remote service with the allowed REST methods and associated quota enforcement.",
      "type": "object",
      "id": "GoogleCloudApigeeV1OperationConfig"
    },
    "GoogleCloudApigeeV1ListApiProductsResponse": {
      "id": "GoogleCloudApigeeV1ListApiProductsResponse",
      "properties": {
        "apiProduct": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ApiProduct"
          },
          "description": "Lists all API product names defined for an organization."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1ListDataCollectorsResponse": {
      "properties": {
        "dataCollectors": {
          "description": "Data collectors in the specified organization.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1DataCollector"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token that you can include in a ListDataCollectors request to retrieve the next page. If omitted, no subsequent pages exist."
        }
      },
      "id": "GoogleCloudApigeeV1ListDataCollectorsResponse",
      "description": "Response for ListDataCollectors.",
      "type": "object"
    },
    "GoogleCloudApigeeV1Quota": {
      "type": "object",
      "id": "GoogleCloudApigeeV1Quota",
      "properties": {
        "limit": {
          "description": "Required. Upper limit allowed for the time interval and time unit specified. Requests exceeding this limit will be rejected.",
          "type": "string"
        },
        "interval": {
          "type": "string",
          "description": "Required. Time interval over which the number of request messages is calculated."
        },
        "timeUnit": {
          "description": "Time unit defined for the `interval`. Valid values include `minute`, `hour`, `day`, or `month`. If `limit` and `interval` are valid, the default value is `hour`; otherwise, the default is null.",
          "type": "string"
        }
      },
      "description": "Quota contains the essential parameters needed that can be applied on the resources, methods, API source combination associated with this API product. While Quota is optional, setting it prevents requests from exceeding the provisioned parameters."
    },
    "GoogleCloudApigeeV1Environment": {
      "id": "GoogleCloudApigeeV1Environment",
      "type": "object",
      "properties": {
        "deploymentType": {
          "type": "string",
          "enum": [
            "DEPLOYMENT_TYPE_UNSPECIFIED",
            "PROXY",
            "ARCHIVE"
          ],
          "enumDescriptions": [
            "Deployment type not specified.",
            "Proxy deployment enables you to develop and deploy API proxies using Apigee on Google Cloud. This cannot currently be combined with the CONFIGURABLE API proxy type.",
            "Archive deployment enables you to develop API proxies locally then deploy an archive of your API proxy configuration to an environment in Apigee on Google Cloud. You will be prevented from performing a [subset of actions](/apigee/docs/api-platform/local-development/overview#prevented-actions) within the environment."
          ],
          "description": "Optional. Deployment type supported by the environment. The deployment type can be set when creating the environment and cannot be changed. When you enable archive deployment, you will be **prevented from performing** a [subset of actions](/apigee/docs/api-platform/local-development/overview#prevented-actions) within the environment, including: * Managing the deployment of API proxy or shared flow revisions * Creating, updating, or deleting resource files * Creating, updating, or deleting target servers"
        },
        "name": {
          "description": "Required. Name of the environment. Values must match the regular expression `^[.\\\\p{Alnum}-_]{1,255}$`",
          "type": "string"
        },
        "apiProxyType": {
          "type": "string",
          "enumDescriptions": [
            "API proxy type not specified.",
            "Programmable API Proxies enable you to develop APIs with highly flexible behavior using bundled policy configuration and one or more programming languages to describe complex sequential and/or conditional flows of logic.",
            "Configurable API Proxies enable you to develop efficient APIs using simple configuration while complex execution control flow logic is handled by Apigee. This type only works with the ARCHIVE deployment type and cannot be combined with the PROXY deployment type."
          ],
          "description": "Optional. API Proxy type supported by the environment. The type can be set when creating the Environment and cannot be changed.",
          "enum": [
            "API_PROXY_TYPE_UNSPECIFIED",
            "PROGRAMMABLE",
            "CONFIGURABLE"
          ]
        },
        "displayName": {
          "description": "Optional. Display name for this environment.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Resource is in an unspecified state.",
            "Resource is being created.",
            "Resource is provisioned and ready to use.",
            "The resource is being deleted.",
            "The resource is being updated."
          ],
          "description": "Output only. State of the environment. Values other than ACTIVE means the resource is not ready to use.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "UPDATING"
          ]
        },
        "forwardProxyUri": {
          "type": "string",
          "description": "Optional. Url of the forward proxy to be applied to the runtime instances in this environment. Must be in the format of {scheme}://{hostname}:{port}. Note that scheme must be one of \"http\" or \"https\", and port must be supplied."
        },
        "description": {
          "description": "Optional. Description of the environment.",
          "type": "string"
        },
        "properties": {
          "description": "Optional. Key-value pairs that may be used for customizing the environment.",
          "$ref": "GoogleCloudApigeeV1Properties"
        },
        "lastModifiedAt": {
          "type": "string",
          "description": "Output only. Last modification time of this environment as milliseconds since epoch.",
          "readOnly": true,
          "format": "int64"
        },
        "nodeConfig": {
          "description": "Optional. NodeConfig of the environment.",
          "$ref": "GoogleCloudApigeeV1NodeConfig"
        },
        "createdAt": {
          "type": "string",
          "description": "Output only. Creation time of this environment as milliseconds since epoch.",
          "readOnly": true,
          "format": "int64"
        }
      }
    },
    "GoogleCloudApigeeV1GenerateUploadUrlResponse": {
      "description": "Response for GenerateUploadUrl method.",
      "id": "GoogleCloudApigeeV1GenerateUploadUrlResponse",
      "properties": {
        "uploadUri": {
          "type": "string",
          "description": "The Google Cloud Storage signed URL that can be used to upload a new Archive zip file."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1CustomReport": {
      "properties": {
        "topk": {
          "type": "string",
          "description": "Legacy field: not used. This field contains the top k parameter value for restricting the result"
        },
        "createdAt": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Unix time when the app was created json key: createdAt",
          "format": "int64"
        },
        "displayName": {
          "description": "This is the display name for the report",
          "type": "string"
        },
        "sortByCols": {
          "description": "Legacy field: not used much. Contains the list of sort by columns",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "chartType": {
          "description": "This field contains the chart type for the report",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Unique identifier for the report T his is a legacy field used to encode custom report unique id"
        },
        "tags": {
          "description": "Legacy field: not used. This field contains a list of tags associated with custom report",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "environment": {
          "description": "Output only. Environment name",
          "type": "string",
          "readOnly": true
        },
        "sortOrder": {
          "type": "string",
          "description": "Legacy field: not used much. Contains the sort order for the sort columns"
        },
        "lastModifiedAt": {
          "description": "Output only. Modified time of this entity as milliseconds since epoch. json key: lastModifiedAt",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "filter": {
          "type": "string",
          "description": "This field contains the filter expression"
        },
        "lastViewedAt": {
          "readOnly": true,
          "description": "Output only. Last viewed time of this entity as milliseconds since epoch",
          "format": "int64",
          "type": "string"
        },
        "toTime": {
          "description": "Legacy field: not used. Contains the end time for the report",
          "type": "string"
        },
        "properties": {
          "type": "array",
          "description": "This field contains report properties such as ui metadata etc.",
          "items": {
            "$ref": "GoogleCloudApigeeV1ReportProperty"
          }
        },
        "timeUnit": {
          "description": "This field contains the time unit of aggregation for the report",
          "type": "string"
        },
        "metrics": {
          "description": "Required. This contains the list of metrics",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1CustomReportMetric"
          }
        },
        "organization": {
          "readOnly": true,
          "description": "Output only. Organization name",
          "type": "string"
        },
        "offset": {
          "description": "Legacy field: not used. This field contains the offset for the data",
          "type": "string"
        },
        "fromTime": {
          "description": "Legacy field: not used. Contains the from time for the report",
          "type": "string"
        },
        "dimensions": {
          "description": "This contains the list of dimensions for the report",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "limit": {
          "type": "string",
          "description": "Legacy field: not used This field contains the limit for the result retrieved"
        },
        "comments": {
          "description": "Legacy field: not used. This field contains a list of comments associated with custom report",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudApigeeV1CustomReport",
      "type": "object"
    },
    "GoogleCloudApigeeV1DataCollector": {
      "description": "Data collector configuration.",
      "id": "GoogleCloudApigeeV1DataCollector",
      "type": "object",
      "properties": {
        "description": {
          "description": "A description of the data collector.",
          "type": "string"
        },
        "lastModifiedAt": {
          "format": "int64",
          "description": "Output only. The time at which the Data Collector was last updated in milliseconds since the epoch.",
          "type": "string",
          "readOnly": true
        },
        "createdAt": {
          "format": "int64",
          "description": "Output only. The time at which the data collector was created in milliseconds since the epoch.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "ID of the data collector. Must begin with `dc_`.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "For future compatibility.",
            "For integer values.",
            "For float values.",
            "For string values.",
            "For boolean values.",
            "For datetime values."
          ],
          "description": "Immutable. The type of data this data collector will collect.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "INTEGER",
            "FLOAT",
            "STRING",
            "BOOLEAN",
            "DATETIME"
          ]
        }
      }
    },
    "GoogleCloudApigeeV1TraceSamplingConfig": {
      "id": "GoogleCloudApigeeV1TraceSamplingConfig",
      "type": "object",
      "description": "TraceSamplingConfig represents the detail settings of distributed tracing. Only the fields that are defined in the distributed trace configuration can be overridden using the distribute trace configuration override APIs.",
      "properties": {
        "samplingRate": {
          "description": "Field sampling rate. This value is only applicable when using the PROBABILITY sampler. The supported values are \u003e 0 and \u003c= 0.5.",
          "format": "float",
          "type": "number"
        },
        "sampler": {
          "description": "Sampler of distributed tracing. OFF is the default value.",
          "enum": [
            "SAMPLER_UNSPECIFIED",
            "OFF",
            "PROBABILITY"
          ],
          "enumDescriptions": [
            "Sampler unspecified.",
            "OFF means distributed trace is disabled, or the sampling probability is 0.",
            "PROBABILITY means traces are captured on a probability that defined by sampling_rate. The sampling rate is limited to 0 to 0.5 when this is set."
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1MetricAggregation": {
      "type": "object",
      "properties": {
        "aggregation": {
          "enum": [
            "AGGREGATION_FUNCTION_UNSPECIFIED",
            "AVG",
            "SUM",
            "MIN",
            "MAX",
            "COUNT_DISTINCT"
          ],
          "description": "Aggregation function associated with the metric.",
          "enumDescriptions": [
            "Unspecified Aggregation function.",
            "Average.",
            "Summation.",
            "Min.",
            "Max.",
            "Count distinct"
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the metric"
        },
        "order": {
          "enumDescriptions": [
            "Unspecified order. Default is Descending.",
            "Ascending sort order.",
            "Descending sort order."
          ],
          "enum": [
            "ORDER_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ],
          "type": "string",
          "description": "Ordering for this aggregation in the result. For time series this is ignored since the ordering of points depends only on the timestamp, not the values."
        }
      },
      "id": "GoogleCloudApigeeV1MetricAggregation",
      "description": "The optionally aggregated metric to query with its ordering."
    },
    "GoogleCloudApigeeV1ListCustomReportsResponse": {
      "id": "GoogleCloudApigeeV1ListCustomReportsResponse",
      "properties": {
        "qualifier": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1CustomReport"
          }
        }
      },
      "type": "object",
      "description": "This message encapsulates a list of custom report definitions"
    },
    "GoogleCloudApigeeV1TlsInfoConfig": {
      "properties": {
        "ignoreValidationErrors": {
          "type": "boolean",
          "description": "Flag that specifies whether to ignore TLS certificate validation errors. Set to `true` to ignore errors."
        },
        "ciphers": {
          "type": "array",
          "description": "List of ciphers that are granted access.",
          "items": {
            "type": "string"
          }
        },
        "protocols": {
          "description": "List of TLS protocols that are granted access.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "keyAlias": {
          "description": "Name of the alias used for client-side authentication in the following format: `organizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}`",
          "type": "string"
        },
        "clientAuthEnabled": {
          "description": "Flag that specifies whether client-side authentication is enabled for the target server. Enables two-way TLS.",
          "type": "boolean"
        },
        "trustStore": {
          "type": "string",
          "description": "Name of the keystore or keystore reference containing trusted certificates for the server in the following format: `organizations/{org}/environments/{env}/keystores/{keystore}` or `organizations/{org}/environments/{env}/references/{reference}`"
        },
        "commonName": {
          "$ref": "GoogleCloudApigeeV1CommonNameConfig",
          "description": "Common name to validate the target server against."
        },
        "enabled": {
          "type": "boolean",
          "description": "Flag that specifies whether one-way TLS is enabled. Set to `true` to enable one-way TLS."
        },
        "keyAliasReference": {
          "description": "Reference name and alias pair to use for client-side authentication.",
          "$ref": "GoogleCloudApigeeV1KeyAliasReference"
        }
      },
      "id": "GoogleCloudApigeeV1TlsInfoConfig",
      "type": "object"
    },
    "GoogleCloudApigeeV1DeveloperBalance": {
      "properties": {
        "wallets": {
          "description": "Output only. List of all wallets. Each individual wallet stores the account balance for a particular currency.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1DeveloperBalanceWallet"
          }
        }
      },
      "id": "GoogleCloudApigeeV1DeveloperBalance",
      "description": "Account balance for the developer.",
      "type": "object"
    },
    "GoogleCloudApigeeV1StatsEnvironmentStats": {
      "id": "GoogleCloudApigeeV1StatsEnvironmentStats",
      "properties": {
        "name": {
          "description": "Name of the environment.",
          "type": "string"
        },
        "dimensions": {
          "type": "array",
          "description": "List of metrics grouped under dimensions.",
          "items": {
            "$ref": "GoogleCloudApigeeV1DimensionMetric"
          }
        },
        "metrics": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Metric"
          },
          "type": "array",
          "description": "In the final response, only one of the following fields will be present based on the dimensions provided. If no dimensions are provided, then only top-level metrics is provided. If dimensions are included, then there will be a top-level dimensions field under environments which will contain metrics values and the dimension name. Example: ``` \"environments\": [ { \"dimensions\": [ { \"metrics\": [ { \"name\": \"sum(message_count)\", \"values\": [ \"2.14049521E8\" ] } ], \"name\": \"nit_proxy\" } ], \"name\": \"prod\" } ]``` or ```\"environments\": [ { \"metrics\": [ { \"name\": \"sum(message_count)\", \"values\": [ \"2.19026331E8\" ] } ], \"name\": \"prod\" } ]``` List of metric values."
        }
      },
      "description": "Encapsulates the environment wrapper: ``` \"environments\": [ { \"metrics\": [ { \"name\": \"sum(message_count)\", \"values\": [ \"2.52056245E8\" ] } ], \"name\": \"prod\" } ]```",
      "type": "object"
    },
    "GoogleCloudApigeeV1Access": {
      "type": "object",
      "id": "GoogleCloudApigeeV1Access",
      "properties": {
        "Get": {
          "$ref": "GoogleCloudApigeeV1AccessGet"
        },
        "Set": {
          "$ref": "GoogleCloudApigeeV1AccessSet"
        },
        "Remove": {
          "$ref": "GoogleCloudApigeeV1AccessRemove"
        }
      }
    },
    "GoogleCloudApigeeV1RuntimeTraceConfigOverride": {
      "properties": {
        "revisionCreateTime": {
          "type": "string",
          "description": "The timestamp that the revision was created or updated.",
          "format": "google-datetime"
        },
        "apiProxy": {
          "description": "Name of the API proxy that will have its trace configuration overridden following format: `organizations/{org}/apis/{api}`",
          "type": "string"
        },
        "revisionId": {
          "description": "Revision number which can be used by the runtime to detect if the trace config override has changed between two versions.",
          "type": "string"
        },
        "uid": {
          "description": "Unique ID for the configuration override. The ID will only change if the override is deleted and recreated. Corresponds to name's \"override\" field.",
          "type": "string"
        },
        "samplingConfig": {
          "description": "Trace configuration override for a specific API proxy in an environment.",
          "$ref": "GoogleCloudApigeeV1RuntimeTraceSamplingConfig"
        },
        "name": {
          "description": "Name of the trace config override in the following format: `organizations/{org}/environment/{env}/traceConfig/overrides/{override}`",
          "type": "string"
        }
      },
      "description": "NEXT ID: 7 Trace configuration override for a specific API proxy in an environment.",
      "type": "object",
      "id": "GoogleCloudApigeeV1RuntimeTraceConfigOverride"
    },
    "GoogleCloudApigeeV1NatAddress": {
      "type": "object",
      "description": "Apigee NAT(network address translation) address. A NAT address is a static external IP address used for Internet egress traffic.",
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. State of the nat address.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "RESERVED",
            "ACTIVE",
            "DELETING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The resource is in an unspecified state.",
            "The NAT address is being created.",
            "The NAT address is reserved but not yet used for Internet egress.",
            "The NAT address is active and used for Internet egress.",
            "The NAT address is being deleted."
          ]
        },
        "ipAddress": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The static IPV4 address."
        },
        "name": {
          "description": "Required. Resource ID of the NAT address.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1NatAddress"
    },
    "GoogleIamV1AuditLogConfig": {
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string"
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleIamV1AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object"
    },
    "GoogleCloudApigeeV1ReportInstanceStatusResponse": {
      "properties": {},
      "type": "object",
      "description": "Placeholder for future enhancements to status reporting protocol",
      "id": "GoogleCloudApigeeV1ReportInstanceStatusResponse"
    },
    "GoogleCloudApigeeV1SecurityReportMetadata": {
      "type": "object",
      "description": "Metadata for the security report.",
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "MIME type / Output format."
        },
        "timeUnit": {
          "description": "Query GroupBy time unit. Example: \"seconds\", \"minute\", \"hour\"",
          "type": "string"
        },
        "dimensions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Dimensions of the SecurityReport."
        },
        "endTimestamp": {
          "format": "google-datetime",
          "description": "End timestamp of the query range.",
          "type": "string"
        },
        "metrics": {
          "items": {
            "type": "string"
          },
          "description": "Metrics of the SecurityReport. Example: [\"name:bot_count,func:sum,alias:sum_bot_count\"]",
          "type": "array"
        },
        "startTimestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "Start timestamp of the query range."
        }
      },
      "id": "GoogleCloudApigeeV1SecurityReportMetadata"
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Request message for `TestIamPermissions` method.",
      "id": "GoogleIamV1TestIamPermissionsRequest"
    },
    "GoogleCloudApigeeV1Session": {
      "properties": {
        "timestampMs": {
          "format": "int64",
          "description": "The first transaction creation timestamp in millisecond, recorded by UAP.",
          "type": "string"
        },
        "id": {
          "description": "The debug session ID.",
          "type": "string"
        }
      },
      "description": "Session carries the debug session id and its creation time.",
      "type": "object",
      "id": "GoogleCloudApigeeV1Session"
    },
    "GoogleCloudApigeeV1AliasRevisionConfig": {
      "id": "GoogleCloudApigeeV1AliasRevisionConfig",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the alias revision included in the keystore in the following format: `organizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}/revisions/{rev}`"
        },
        "type": {
          "type": "string",
          "enum": [
            "ALIAS_TYPE_UNSPECIFIED",
            "CERT",
            "KEY_CERT"
          ],
          "enumDescriptions": [
            "Alias type is not specified.",
            "Certificate.",
            "Key/certificate pair."
          ]
        },
        "location": {
          "description": "Location of the alias file. For example, a Google Cloud Storage URI.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1ActivateNatAddressRequest": {
      "id": "GoogleCloudApigeeV1ActivateNatAddressRequest",
      "properties": {},
      "type": "object",
      "description": "Request for ActivateNatAddressRequest. Activate the nat address request."
    },
    "GoogleCloudApigeeV1OptimizedStatsNode": {
      "id": "GoogleCloudApigeeV1OptimizedStatsNode",
      "properties": {
        "data": {
          "items": {
            "type": "any"
          },
          "type": "array"
        }
      },
      "description": "Encapsulates a data node as represented below: ``` { \"identifier\": { \"names\": [ \"apiproxy\" ], \"values\": [ \"sirjee\" ] }, \"metric\": [ { \"env\": \"prod\", \"name\": \"sum(message_count)\", \"values\": [ 36.0 ] } ] }``` or ``` { \"env\": \"prod\", \"name\": \"sum(message_count)\", \"values\": [ 36.0 ] }``` Depending on whether a dimension is present in the query or not the data node type can be a simple metric value or dimension identifier with list of metrics.",
      "type": "object"
    },
    "GoogleCloudApigeeV1Alias": {
      "type": "object",
      "description": "Reference to a certificate or key/certificate pair.",
      "properties": {
        "alias": {
          "type": "string",
          "description": "Resource ID for this alias. Values must match the regular expression `[^/]{1,255}`."
        },
        "certsInfo": {
          "description": "Chain of certificates under this alias.",
          "$ref": "GoogleCloudApigeeV1Certificate"
        },
        "type": {
          "enum": [
            "ALIAS_TYPE_UNSPECIFIED",
            "CERT",
            "KEY_CERT"
          ],
          "description": "Type of alias.",
          "enumDescriptions": [
            "Alias type is not specified.",
            "Certificate.",
            "Key/certificate pair."
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1Alias"
    },
    "GoogleCloudApigeeV1OperationMetadata": {
      "id": "GoogleCloudApigeeV1OperationMetadata",
      "properties": {
        "warnings": {
          "items": {
            "type": "string"
          },
          "description": "Warnings encountered while executing the operation.",
          "type": "array"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "FINISHED"
          ]
        },
        "operationType": {
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "INSERT",
            "DELETE",
            "UPDATE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "targetResourceName": {
          "description": "Name of the resource for which the operation is operating on.",
          "type": "string"
        },
        "progress": {
          "$ref": "GoogleCloudApigeeV1OperationMetadataProgress",
          "description": "Progress of the operation."
        }
      },
      "type": "object",
      "description": "Metadata describing an Operation."
    },
    "GoogleCloudApigeeV1ListDeploymentsResponse": {
      "id": "GoogleCloudApigeeV1ListDeploymentsResponse",
      "properties": {
        "deployments": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Deployment"
          },
          "type": "array",
          "description": "List of deployments."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1SetAddonsRequest": {
      "properties": {
        "addonsConfig": {
          "$ref": "GoogleCloudApigeeV1AddonsConfig",
          "description": "Required. Add-on configurations."
        }
      },
      "description": "Request for SetAddons.",
      "type": "object",
      "id": "GoogleCloudApigeeV1SetAddonsRequest"
    },
    "GoogleCloudApigeeV1RuntimeTraceConfig": {
      "description": "NEXT ID: 8 RuntimeTraceConfig defines the configurations for distributed trace in an environment.",
      "id": "GoogleCloudApigeeV1RuntimeTraceConfig",
      "type": "object",
      "properties": {
        "endpoint": {
          "type": "string",
          "description": "Endpoint of the exporter."
        },
        "name": {
          "type": "string",
          "description": "Name of the trace config in the following format: `organizations/{org}/environment/{env}/traceConfig`"
        },
        "overrides": {
          "items": {
            "$ref": "GoogleCloudApigeeV1RuntimeTraceConfigOverride"
          },
          "type": "array",
          "description": "List of trace configuration overrides for spicific API proxies."
        },
        "revisionId": {
          "description": "Revision number which can be used by the runtime to detect if the trace config has changed between two versions.",
          "type": "string"
        },
        "samplingConfig": {
          "description": "Trace configuration for all API proxies in an environment.",
          "$ref": "GoogleCloudApigeeV1RuntimeTraceSamplingConfig"
        },
        "revisionCreateTime": {
          "type": "string",
          "description": "The timestamp that the revision was created or updated.",
          "format": "google-datetime"
        },
        "exporter": {
          "type": "string",
          "enum": [
            "EXPORTER_UNSPECIFIED",
            "JAEGER",
            "CLOUD_TRACE"
          ],
          "enumDescriptions": [
            "Exporter unspecified",
            "Jaeger exporter",
            "Cloudtrace exporter"
          ],
          "description": "Exporter that is used to view the distributed trace captured using OpenCensus. An exporter sends traces to any backend that is capable of consuming them. Recorded spans can be exported by registered exporters."
        }
      }
    },
    "EdgeConfigstoreBundleBadBundleViolation": {
      "id": "EdgeConfigstoreBundleBadBundleViolation",
      "type": "object",
      "description": "A message type used to describe a single bundle validation error.",
      "properties": {
        "filename": {
          "description": "The filename (including relative path from the bundle root) in which the error occurred.",
          "type": "string"
        },
        "description": {
          "description": "A description of why the bundle is invalid and how to fix it.",
          "type": "string"
        }
      }
    },
    "GoogleIamV1Policy": {
      "properties": {
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        },
        "auditConfigs": {
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array"
        },
        "etag": {
          "format": "byte",
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1Binding"
          }
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "id": "GoogleIamV1Policy"
    },
    "GoogleCloudApigeeV1ListExportsResponse": {
      "description": "The response for ListExports",
      "properties": {
        "exports": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Export"
          },
          "type": "array",
          "description": "Details of the export jobs."
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1ListExportsResponse"
    },
    "GoogleCloudApigeeV1SchemaSchemaProperty": {
      "id": "GoogleCloudApigeeV1SchemaSchemaProperty",
      "type": "object",
      "description": "Properties for the schema field.",
      "properties": {
        "createTime": {
          "description": "Time the field was created in RFC3339 string form. For example: `2016-02-26T10:23:09.592Z`.",
          "type": "string"
        },
        "type": {
          "description": "Data type of the field.",
          "type": "string"
        },
        "custom": {
          "type": "string",
          "description": "Flag that specifies whether the field is standard in the dataset or a custom field created by the customer. `true` indicates that it is a custom field."
        }
      }
    },
    "GoogleCloudApigeeV1RatePlan": {
      "properties": {
        "setupFee": {
          "$ref": "GoogleTypeMoney",
          "description": "Initial, one-time fee paid when purchasing the API product."
        },
        "startTime": {
          "description": "Time when the rate plan becomes active in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        },
        "description": {
          "description": "Description of the rate plan.",
          "type": "string"
        },
        "billingPeriod": {
          "enumDescriptions": [
            "Billing period not specified.",
            "Weekly billing period. **Note**: Not supported by Apigee at this time.",
            "Monthly billing period."
          ],
          "enum": [
            "BILLING_PERIOD_UNSPECIFIED",
            "WEEKLY",
            "MONTHLY"
          ],
          "type": "string",
          "description": "Frequency at which the customer will be billed."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Name of the rate plan.",
          "type": "string"
        },
        "fixedFeeFrequency": {
          "format": "int32",
          "description": "Frequency at which the fixed fee is charged.",
          "type": "integer"
        },
        "paymentFundingModel": {
          "enumDescriptions": [
            "Billing account type not specified.",
            "Prepaid billing account type. Developer pays in advance for the use of your API products. Funds are deducted from their prepaid account balance. **Note**: Not supported by Apigee at this time.",
            "Postpaid billing account type. Developer is billed through an invoice after using your API products."
          ],
          "type": "string",
          "description": "DEPRECATED: This field is no longer supported and will eventually be removed when Apigee Hybrid 1.5/1.6 is no longer supported. Instead, use the `billingType` field inside `DeveloperMonetizationConfig` resource. Flag that specifies the billing account type, prepaid or postpaid.",
          "enum": [
            "PAYMENT_FUNDING_MODEL_UNSPECIFIED",
            "PREPAID",
            "POSTPAID"
          ]
        },
        "consumptionPricingType": {
          "type": "string",
          "enum": [
            "CONSUMPTION_PRICING_TYPE_UNSPECIFIED",
            "FIXED_PER_UNIT",
            "BANDED",
            "TIERED",
            "STAIRSTEP"
          ],
          "description": "Pricing model used for consumption-based charges.",
          "enumDescriptions": [
            "Pricing model not specified. This is the default.",
            "Fixed rate charged for each API call.",
            "Variable rate charged for each API call based on price tiers. Example: * 1-100 calls cost $2 per call * 101-200 calls cost $1.50 per call * 201-300 calls cost $1 per call * Total price for 50 calls: 50 x $2 = $100 * Total price for 150 calls: 100 x $2 + 50 x $1.5 = $275 * Total price for 250 calls: 100 x $2 + 100 x $1.5 + 50 x $1 = $400. **Note**: Not supported by Apigee at this time.",
            "**Note**: Not supported by Apigee at this time.",
            "**Note**: Not supported by Apigee at this time."
          ]
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "PUBLISHED"
          ],
          "type": "string",
          "enumDescriptions": [
            "State of the rate plan is not specified.",
            "Rate plan is in draft mode and only visible to API providers.",
[...]
