{
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "name": "apigee",
  "kind": "discovery#restDescription",
  "version_module": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "rootUrl": "https://apigee.googleapis.com/",
  "baseUrl": "https://apigee.googleapis.com/",
  "basePath": "",
  "title": "Apigee API",
  "discoveryVersion": "v1",
  "schemas": {
    "GoogleCloudApigeeV1RevenueShareRange": {
      "description": "API call volume range and the percentage of revenue to share with the developer when the total number of API calls is within the range.",
      "id": "GoogleCloudApigeeV1RevenueShareRange",
      "properties": {
        "sharePercentage": {
          "description": "Percentage of the revenue to be shared with the developer. For example, to share 21 percent of the total revenue with the developer, set this value to 21. Specify a decimal number with a maximum of two digits following the decimal point.",
          "type": "number",
          "format": "double"
        },
        "end": {
          "type": "string",
          "description": "Ending value of the range. Set to 0 or `null` for the last range of values.",
          "format": "int64"
        },
        "start": {
          "description": "Starting value of the range. Set to 0 or `null` for the initial range of values.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1CanaryEvaluation": {
      "id": "GoogleCloudApigeeV1CanaryEvaluation",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Create time of the canary evaluation.",
          "readOnly": true
        },
        "treatment": {
          "description": "Required. The newer version that is serving requests.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. End time for the evaluation's analysis."
        },
        "verdict": {
          "type": "string",
          "enumDescriptions": [
            "Verdict is not available yet.",
            "No verdict reached.",
            "Evaluation is not good.",
            "Evaluation is good."
          ],
          "readOnly": true,
          "enum": [
            "VERDICT_UNSPECIFIED",
            "NONE",
            "FAIL",
            "PASS"
          ],
          "description": "Output only. The resulting verdict of the canary evaluations: NONE, PASS, or FAIL."
        },
        "state": {
          "enumDescriptions": [
            "No state has been specified.",
            "The canary evaluation is still in progress.",
            "The canary evaluation has finished."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED"
          ],
          "type": "string",
          "description": "Output only. The current state of the canary evaluation.",
          "readOnly": true
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Start time for the canary evaluation's analysis."
        },
        "name": {
          "type": "string",
          "description": "Output only. Name of the canary evalution.",
          "readOnly": true
        },
        "control": {
          "type": "string",
          "description": "Required. The stable version that is serving requests."
        },
        "metricLabels": {
          "description": "Required. Labels used to filter the metrics used for a canary evaluation.",
          "$ref": "GoogleCloudApigeeV1CanaryEvaluationMetricLabels"
        }
      },
      "description": "CanaryEvaluation represents the canary analysis between two versions of the runtime that is serving requests."
    },
    "GoogleCloudApigeeV1ComputeEnvironmentScoresRequest": {
      "properties": {
        "pageToken": {
          "type": "string",
          "description": "Optional. A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "filters": {
          "description": "Optional. Filters are used to filter scored components. Return all the components if no filter is mentioned. Example: [{ \"scorePath\": \"/org@myorg/envgroup@myenvgroup/env@myenv/proxies/proxy@myproxy/source\" }, { \"scorePath\": \"/org@myorg/envgroup@myenvgroup/env@myenv/proxies/proxy@myproxy/target\", }] This will return components with path: \"/org@myorg/envgroup@myenvgroup/env@myenv/proxies/proxy@myproxy/source\" OR \"/org@myorg/envgroup@myenvgroup/env@myenv/proxies/proxy@myproxy/target\"",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ComputeEnvironmentScoresRequestFilter"
          }
        },
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The maximum number of subcomponents to be returned in a single page. The service may return fewer than this value. If unspecified, at most 100 subcomponents will be returned in a single page."
        },
        "timeRange": {
          "description": "Required. Time range for score calculation. At most 14 days of scores will be returned.",
          "$ref": "GoogleTypeInterval"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1ComputeEnvironmentScoresRequest",
      "description": "Request for ComputeEnvironmentScores."
    },
    "GoogleCloudApigeeV1MetricAggregation": {
      "type": "object",
      "id": "GoogleCloudApigeeV1MetricAggregation",
      "properties": {
        "aggregation": {
          "description": "Aggregation function associated with the metric.",
          "enum": [
            "AGGREGATION_FUNCTION_UNSPECIFIED",
            "AVG",
            "SUM",
            "MIN",
            "MAX",
            "COUNT_DISTINCT"
          ],
          "enumDescriptions": [
            "Unspecified Aggregation function.",
            "Average.",
            "Summation.",
            "Min.",
            "Max.",
            "Count distinct"
          ],
          "type": "string"
        },
        "order": {
          "enumDescriptions": [
            "Unspecified order. Default is Descending.",
            "Ascending sort order.",
            "Descending sort order."
          ],
          "description": "Ordering for this aggregation in the result. For time series this is ignored since the ordering of points depends only on the timestamp, not the values.",
          "type": "string",
          "enum": [
            "ORDER_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ]
        },
        "name": {
          "type": "string",
          "description": "Name of the metric"
        }
      },
      "description": "The optionally aggregated metric to query with its ordering."
    },
    "GoogleCloudApigeeV1GetAsyncQueryResultUrlResponseURLInfo": {
      "id": "GoogleCloudApigeeV1GetAsyncQueryResultUrlResponseURLInfo",
      "properties": {
        "md5": {
          "type": "string",
          "description": "The MD5 Hash of the JSON data"
        },
        "uri": {
          "description": "The signed URL of the JSON data. Will be of the form `https://storage.googleapis.com/example-bucket/cat.jpeg?X-Goog-Algorithm= GOOG4-RSA-SHA256&X-Goog-Credential=example%40example-project.iam.gserviceaccount .com%2F20181026%2Fus-central1%2Fstorage%2Fgoog4_request&X-Goog-Date=20181026T18 1309Z&X-Goog-Expires=900&X-Goog-SignedHeaders=host&X-Goog-Signature=247a2aa45f16 9edf4d187d54e7cc46e4731b1e6273242c4f4c39a1d2507a0e58706e25e3a85a7dbb891d62afa849 6def8e260c1db863d9ace85ff0a184b894b117fe46d1225c82f2aa19efd52cf21d3e2022b3b868dc c1aca2741951ed5bf3bb25a34f5e9316a2841e8ff4c530b22ceaa1c5ce09c7cbb5732631510c2058 0e61723f5594de3aea497f195456a2ff2bdd0d13bad47289d8611b6f9cfeef0c46c91a455b94e90a 66924f722292d21e24d31dcfb38ce0c0f353ffa5a9756fc2a9f2b40bc2113206a81e324fc4fd6823 a29163fa845c8ae7eca1fcf6e5bb48b3200983c56c5ca81fffb151cca7402beddfc4a76b13344703 2ea7abedc098d2eb14a7`",
          "type": "string"
        },
        "sizeBytes": {
          "description": "The size of the returned file in bytes",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "A Signed URL and the relevant metadata associated with it.",
      "type": "object"
    },
    "GoogleCloudApigeeV1GetSyncAuthorizationRequest": {
      "description": "Request for GetSyncAuthorization.",
      "type": "object",
      "id": "GoogleCloudApigeeV1GetSyncAuthorizationRequest",
      "properties": {}
    },
    "GoogleCloudApigeeV1EntityMetadata": {
      "description": "Metadata common to many entities in this API.",
      "properties": {
        "lastModifiedAt": {
          "type": "string",
          "format": "int64",
          "description": "Time at which the API proxy was most recently modified, in milliseconds since epoch."
        },
        "createdAt": {
          "format": "int64",
          "description": "Time at which the API proxy was created, in milliseconds since epoch.",
          "type": "string"
        },
        "subType": {
          "type": "string",
          "description": "The type of entity described"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1EntityMetadata"
    },
    "GoogleCloudApigeeV1AccessGet": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1AccessGet",
      "description": "Get action. For example, \"Get\" : { \"name\" : \"target.name\", \"value\" : \"default\" }"
    },
    "GoogleCloudApigeeV1ListInstanceAttachmentsResponse": {
      "id": "GoogleCloudApigeeV1ListInstanceAttachmentsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Page token that you can include in a ListInstanceAttachments request to retrieve the next page of content. If omitted, no subsequent pages exist."
        },
        "attachments": {
          "description": "Attachments for the instance.",
          "items": {
            "$ref": "GoogleCloudApigeeV1InstanceAttachment"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response for ListInstanceAttachments."
    },
    "GoogleCloudApigeeV1SyncAuthorization": {
      "properties": {
        "identities": {
          "items": {
            "type": "string"
          },
          "description": "Required. Array of service accounts to grant access to control plane resources, each specified using the following format: `serviceAccount:` service-account-name. The service-account-name is formatted like an email address. For example: `my-synchronizer-manager-service_account@my_project_id.iam.gserviceaccount.com` You might specify multiple service accounts, for example, if you have multiple environments and wish to assign a unique service account to each one. The service accounts must have **Apigee Synchronizer Manager** role. See also [Create service accounts](https://cloud.google.com/apigee/docs/hybrid/latest/sa-about#create-the-service-accounts).",
          "type": "array"
        },
        "etag": {
          "type": "string",
          "description": "Entity tag (ETag) used for optimistic concurrency control as a way to help prevent simultaneous updates from overwriting each other. For example, when you call [getSyncAuthorization](organizations/getSyncAuthorization) an ETag is returned in the response. Pass that ETag when calling the [setSyncAuthorization](organizations/setSyncAuthorization) to ensure that you are updating the correct version. If you don't pass the ETag in the call to `setSyncAuthorization`, then the existing authorization is overwritten indiscriminately. **Note**: We strongly recommend that you use the ETag in the read-modify-write cycle to avoid race conditions.",
          "format": "byte"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1SyncAuthorization"
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty"
    },
    "GoogleCloudApigeeV1SetAddonsRequest": {
      "description": "Request for SetAddons.",
      "properties": {
        "addonsConfig": {
          "description": "Required. Add-on configurations.",
          "$ref": "GoogleCloudApigeeV1AddonsConfig"
        }
      },
      "id": "GoogleCloudApigeeV1SetAddonsRequest",
      "type": "object"
    },
    "GoogleCloudApigeeV1KeyValueMap": {
      "description": "Collection of key/value string pairs.",
      "properties": {
        "encrypted": {
          "type": "boolean",
          "description": "Required. Flag that specifies whether entry values will be encrypted. This field is retained for backward compatibility and the value of encrypted will always be `true`. Apigee X and hybrid do not support unencrypted key value maps."
        },
        "name": {
          "description": "Required. ID of the key value map.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1KeyValueMap"
    },
    "GoogleCloudApigeeV1AppGroupApp": {
      "description": "Response for [GetAppGroupApp].[AppGroupApps.GetAppGroupApp], [CreateAppGroupAppRequest].[AppGroupApp.CreateAppGroupAppRequest] and [DeleteAppGroupApp].[AppGroupApp.DeleteAppGroupApp]",
      "properties": {
        "name": {
          "description": "Immutable. Name of the AppGroup app whose resource name format is of syntax (organizations/*/appgroups/*/apps/*).",
          "type": "string"
        },
        "attributes": {
          "description": "List of attributes for the AppGroup app.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "type": "array"
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "description": "Scopes to apply to the AppGroup app. The specified scopes must already exist for the API product that you associate with the AppGroup app.",
          "type": "array"
        },
        "status": {
          "description": "Status of the App. Valid values include `approved` or `revoked`.",
          "type": "string"
        },
        "lastModifiedAt": {
          "description": "Output only. Time the AppGroup app was modified in milliseconds since epoch.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "createdAt": {
          "format": "int64",
          "description": "Output only. Time the AppGroup app was created in milliseconds since epoch.",
          "readOnly": true,
          "type": "string"
        },
        "keyExpiresIn": {
          "format": "int64",
          "description": "Immutable. Expiration time, in seconds, for the consumer key that is generated for the AppGroup app. If not set or left to the default value of `-1`, the API key never expires. The expiration time can't be updated after it is set.",
          "type": "string"
        },
        "appId": {
          "description": "Immutable. ID of the AppGroup app.",
          "type": "string"
        },
        "apiProducts": {
          "description": "List of API products associated with the AppGroup app.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "appGroup": {
          "type": "string",
          "description": "Immutable. Name of the parent AppGroup whose resource name format is of syntax (organizations/*/appgroups/*)."
        },
        "credentials": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Credential"
          },
          "description": "Output only. Set of credentials for the AppGroup app consisting of the consumer key/secret pairs associated with the API products.",
          "readOnly": true
        },
        "callbackUrl": {
          "description": "Callback URL used by OAuth 2.0 authorization servers to communicate authorization codes back to AppGroup apps.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1AppGroupApp",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListDebugSessionsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Page token that you can include in a ListDebugSessionsRequest to retrieve the next page. If omitted, no subsequent pages exist."
        },
        "sessions": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Session"
          },
          "type": "array",
          "description": "Session info that includes debug session ID and the first transaction creation timestamp."
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1ListDebugSessionsResponse"
    },
    "GoogleCloudApigeeV1Access": {
      "properties": {
        "Set": {
          "$ref": "GoogleCloudApigeeV1AccessSet"
        },
        "Remove": {
          "$ref": "GoogleCloudApigeeV1AccessRemove"
        },
        "Get": {
          "$ref": "GoogleCloudApigeeV1AccessGet"
        }
      },
      "id": "GoogleCloudApigeeV1Access",
      "type": "object"
    },
    "GoogleCloudApigeeV1QueryTimeSeriesStatsResponseSequence": {
      "id": "GoogleCloudApigeeV1QueryTimeSeriesStatsResponseSequence",
      "properties": {
        "points": {
          "items": {
            "type": "array",
            "items": {
              "type": "any"
            }
          },
          "description": "List of points. First value of each inner list is a timestamp.",
          "type": "array"
        },
        "dimensions": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map of dimensions and their values that uniquely identifies a time series sequence."
        }
      },
      "type": "object",
      "description": "A sequence of time series."
    },
    "GoogleCloudApigeeV1AdjustDeveloperBalanceRequest": {
      "id": "GoogleCloudApigeeV1AdjustDeveloperBalanceRequest",
      "type": "object",
      "properties": {
        "adjustment": {
          "$ref": "GoogleTypeMoney",
          "description": "* A positive value of `adjustment` means that that the API provider wants to adjust the balance for an under-charged developer i.e. the balance of the developer will decrease. * A negative value of `adjustment` means that that the API provider wants to adjust the balance for an over-charged developer i.e. the balance of the developer will increase."
        }
      },
      "description": "Request for AdjustDeveloperBalance."
    },
    "GoogleCloudApigeeV1ListCustomReportsResponse": {
      "properties": {
        "qualifier": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1CustomReport"
          }
        }
      },
      "description": "This message encapsulates a list of custom report definitions",
      "type": "object",
      "id": "GoogleCloudApigeeV1ListCustomReportsResponse"
    },
    "GoogleCloudApigeeV1ListExportsResponse": {
      "type": "object",
      "properties": {
        "exports": {
          "type": "array",
          "description": "Details of the export jobs.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Export"
          }
        }
      },
      "description": "The response for ListExports",
      "id": "GoogleCloudApigeeV1ListExportsResponse"
    },
    "GoogleCloudApigeeV1DataCollectorConfig": {
      "description": "Data collector and its configuration.",
      "properties": {
        "name": {
          "description": "Name of the data collector in the following format: `organizations/{org}/datacollectors/{datacollector}`",
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "INTEGER",
            "FLOAT",
            "STRING",
            "BOOLEAN",
            "DATETIME"
          ],
          "enumDescriptions": [
            "For future compatibility.",
            "For integer values.",
            "For float values.",
            "For string values.",
            "For boolean values.",
            "For datetime values."
          ],
          "description": "Data type accepted by the data collector.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1DataCollectorConfig",
      "type": "object"
    },
    "GoogleCloudApigeeV1Attribute": {
      "properties": {
        "name": {
          "description": "API key of the attribute.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Value of the attribute."
        }
      },
      "id": "GoogleCloudApigeeV1Attribute",
      "type": "object",
      "description": "Key-value pair to store extra metadata."
    },
    "GoogleCloudApigeeV1EnvironmentGroupAttachment": {
      "type": "object",
      "description": "EnvironmentGroupAttachment is a resource which defines an attachment of an environment to an environment group.",
      "id": "GoogleCloudApigeeV1EnvironmentGroupAttachment",
      "properties": {
        "createdAt": {
          "format": "int64",
          "description": "Output only. The time at which the environment group attachment was created as milliseconds since epoch.",
          "type": "string",
          "readOnly": true
        },
        "environmentGroupId": {
          "description": "Output only. ID of the environment group.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "ID of the environment group attachment.",
          "type": "string"
        },
        "environment": {
          "type": "string",
          "description": "Required. ID of the attached environment."
        }
      }
    },
    "GoogleCloudApigeeV1ReferenceConfig": {
      "id": "GoogleCloudApigeeV1ReferenceConfig",
      "properties": {
        "name": {
          "description": "Name of the reference in the following format: `organizations/{org}/environments/{env}/references/{reference}`",
          "type": "string"
        },
        "resourceName": {
          "description": "Name of the referenced resource in the following format: `organizations/{org}/environments/{env}/keystores/{keystore}` Only references to keystore resources are supported.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRoute": {
      "type": "object",
      "description": "Route deployed in the ingress routing table.",
      "properties": {
        "percentage": {
          "type": "integer",
          "format": "int32",
          "description": "Percentage of ingress replicas reporting this route."
        },
        "environment": {
          "type": "string",
          "description": "Destination environment. This will be empty if the route is not yet reported."
        },
        "basepath": {
          "description": "Base path in the routing table.",
          "type": "string"
        },
        "envgroup": {
          "description": "Environment group where this route is installed.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRoute"
    },
    "GoogleCloudApigeeV1Operation": {
      "description": "Represents the pairing of REST resource path and the actions (verbs) allowed on the resource path.",
      "id": "GoogleCloudApigeeV1Operation",
      "properties": {
        "methods": {
          "type": "array",
          "description": "methods refers to the REST verbs as in https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html. When none specified, all verb types are allowed.",
          "items": {
            "type": "string"
          }
        },
        "resource": {
          "type": "string",
          "description": "Required. REST resource path associated with the API proxy or remote service."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1ListInstancesResponse": {
      "description": "Response for ListInstances.",
      "properties": {
        "instances": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Instance"
          },
          "description": "Instances in the specified organization.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token that you can include in a ListInstance request to retrieve the next page of content. If omitted, no subsequent pages exist."
        }
      },
      "id": "GoogleCloudApigeeV1ListInstancesResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1AddonsConfig": {
      "description": "Add-on configurations for the Apigee organization.",
      "properties": {
        "connectorsPlatformConfig": {
          "$ref": "GoogleCloudApigeeV1ConnectorsPlatformConfig",
          "description": "Configuration for the Connectors Platform add-on."
        },
        "advancedApiOpsConfig": {
          "$ref": "GoogleCloudApigeeV1AdvancedApiOpsConfig",
          "description": "Configuration for the Advanced API Ops add-on."
        },
        "integrationConfig": {
          "description": "Configuration for the Integration add-on.",
          "$ref": "GoogleCloudApigeeV1IntegrationConfig"
        },
        "monetizationConfig": {
          "description": "Configuration for the Monetization add-on.",
          "$ref": "GoogleCloudApigeeV1MonetizationConfig"
        },
        "apiSecurityConfig": {
          "$ref": "GoogleCloudApigeeV1ApiSecurityConfig",
          "description": "Configuration for the API Security add-on."
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1AddonsConfig"
    },
    "GoogleLongrunningOperation": {
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "GoogleLongrunningOperation"
    },
    "GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRevision": {
      "type": "object",
      "properties": {
        "revision": {
          "description": "API proxy revision reported as deployed.",
          "type": "string"
        },
        "percentage": {
          "description": "Percentage of MP replicas reporting this revision.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRevision",
      "description": "Revisions deployed in the MPs."
    },
    "GoogleCloudApigeeV1ApiSecurityRuntimeConfig": {
      "properties": {
        "location": {
          "description": "A list of up to 5 Cloud Storage Blobs that contain SecurityActions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "updateTime": {
          "type": "string",
          "description": "Time that the API Security Runtime configuration was updated.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Name of the environment API Security Runtime configuration resource. Format: `organizations/{org}/environments/{env}/apiSecurityRuntimeConfig`",
          "type": "string"
        },
        "uid": {
          "description": "Unique ID for the API Security Runtime configuration. The ID will only change if the environment is deleted and recreated.",
          "type": "string"
        },
        "revisionId": {
          "description": "Revision ID of the API Security Runtime configuration. The higher the value, the more recently the configuration was deployed.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleCloudApigeeV1ApiSecurityRuntimeConfig",
      "type": "object",
      "description": "Response for GetApiSecurityRuntimeConfig[EnvironmentService.GetApiSecurityRuntimeConfig]."
    },
    "GoogleCloudApigeeV1ComputeEnvironmentScoresResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A page token, received from a previous `ComputeScore` call. Provide this to retrieve the subsequent page.",
          "type": "string"
        },
        "scores": {
          "type": "array",
          "description": "List of scores. One score per day.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Score"
          }
        }
      },
      "description": "Response for ComputeEnvironmentScores.",
      "id": "GoogleCloudApigeeV1ComputeEnvironmentScoresResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1Metadata": {
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "description": "List of error messages as strings.",
          "items": {
            "type": "string"
          }
        },
        "notices": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of additional information such as data source, if result was truncated. For example: ``` \"notices\": [ \"Source:Postgres\", \"PG Host:uappg0rw.e2e.apigeeks.net\", \"query served by:4b64601e-40de-4eb1-bfb9-eeee7ac929ed\", \"Table used: edge.api.uapgroup2.agg_api\" ]```"
        }
      },
      "id": "GoogleCloudApigeeV1Metadata",
      "description": "Encapsulates additional information about query execution."
    },
    "GoogleCloudApigeeV1ListSecurityProfileRevisionsResponse": {
      "description": "Response for ListSecurityProfileRevisions.",
      "type": "object",
      "properties": {
        "securityProfiles": {
          "description": "List of security profile revisions. The revisions may be attached or unattached to any environment.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityProfile"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1ListSecurityProfileRevisionsResponse"
    },
    "GoogleCloudApigeeV1ListApiProductsResponse": {
      "type": "object",
      "properties": {
        "apiProduct": {
          "description": "Lists all API product names defined for an organization.",
          "items": {
            "$ref": "GoogleCloudApigeeV1ApiProduct"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudApigeeV1ListApiProductsResponse"
    },
    "GoogleCloudApigeeV1TestDatastoreResponse": {
      "description": "The response for TestDatastore",
      "id": "GoogleCloudApigeeV1TestDatastoreResponse",
      "properties": {
        "state": {
          "readOnly": true,
          "description": "Output only. It could be `completed` or `failed`",
          "type": "string"
        },
        "error": {
          "description": "Output only. Error message of test connection failure",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1ScoreComponentRecommendationActionActionContext": {
      "type": "object",
      "description": "Action context are all the relevant details for the action.",
      "properties": {
        "documentationLink": {
          "description": "Documentation link for the action.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1ScoreComponentRecommendationActionActionContext"
    },
    "GoogleCloudApigeeV1SecurityIncident": {
      "id": "GoogleCloudApigeeV1SecurityIncident",
      "properties": {
        "lastDetectedTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when events associated with the incident were last detected."
        },
        "firstDetectedTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when events associated with the incident were first detected."
        },
        "riskLevel": {
          "type": "string",
          "description": "Output only. Risk level of the incident.",
          "enumDescriptions": [
            "Risk Level Unspecified.",
            "Risk level of the incident is low.",
            "Risk level of the incident is moderate.",
            "Risk level of the incident is severe."
          ],
          "enum": [
            "RISK_LEVEL_UNSPECIFIED",
            "LOW",
            "MODERATE",
            "SEVERE"
          ],
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Immutable. Name of the security incident resource. Format: organizations/{org}/environments/{environment}/securityIncidents/{incident} Example: organizations/apigee-org/environments/dev/securityIncidents/1234-5678-9101-1111"
        },
        "detectionTypes": {
          "type": "array",
          "description": "Output only. Detection types which are part of the incident. Examples: Flooder, OAuth Abuser, Static Content Scraper, Anomaly Detection.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "trafficCount": {
          "description": "Total traffic detected as part of the incident.",
          "type": "string",
          "format": "int64"
        },
        "displayName": {
          "description": "Display name of the security incident.",
          "type": "string"
        }
      },
      "description": "Represents an SecurityIncident resource.",
      "type": "object"
    },
    "GoogleIamV1Binding": {
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "GoogleIamV1Binding",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "GoogleTypeExpr"
        }
      }
    },
    "GoogleCloudApigeeV1DateRange": {
      "id": "GoogleCloudApigeeV1DateRange",
      "type": "object",
      "properties": {
        "start": {
          "type": "string",
          "description": "Required. Start date of the data to export in the format `yyyy-mm-dd`. The date range begins at 00:00:00 UTC on the start date."
        },
        "end": {
          "type": "string",
          "description": "Required. End date (exclusive) of the data to export in the format `yyyy-mm-dd`. The date range ends at 00:00:00 UTC on the end date- which will not be in the output."
        }
      },
      "description": "Date range of the data to export."
    },
    "GoogleCloudApigeeV1Environment": {
      "id": "GoogleCloudApigeeV1Environment",
      "properties": {
        "lastModifiedAt": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Last modification time of this environment as milliseconds since epoch."
        },
        "apiProxyType": {
          "description": "Optional. API Proxy type supported by the environment. The type can be set when creating the Environment and cannot be changed.",
          "enum": [
            "API_PROXY_TYPE_UNSPECIFIED",
            "PROGRAMMABLE",
            "CONFIGURABLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "API proxy type not specified.",
            "Programmable API Proxies enable you to develop APIs with highly flexible behavior using bundled policy configuration and one or more programming languages to describe complex sequential and/or conditional flows of logic.",
            "Configurable API Proxies enable you to develop efficient APIs using simple configuration while complex execution control flow logic is handled by Apigee. This type only works with the ARCHIVE deployment type and cannot be combined with the PROXY deployment type."
          ]
        },
        "createdAt": {
          "readOnly": true,
          "description": "Output only. Creation time of this environment as milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the environment. Values must match the regular expression `^[.\\\\p{Alnum}-_]{1,255}$`"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "UPDATING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Resource is in an unspecified state.",
            "Resource is being created.",
            "Resource is provisioned and ready to use.",
            "The resource is being deleted.",
            "The resource is being updated."
          ],
          "description": "Output only. State of the environment. Values other than ACTIVE means the resource is not ready to use."
        },
        "description": {
          "description": "Optional. Description of the environment.",
          "type": "string"
        },
        "properties": {
          "description": "Optional. Key-value pairs that may be used for customizing the environment.",
          "$ref": "GoogleCloudApigeeV1Properties"
        },
        "nodeConfig": {
          "description": "Optional. NodeConfig of the environment.",
          "$ref": "GoogleCloudApigeeV1NodeConfig"
        },
        "hasAttachedFlowHooks": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Display name for this environment."
        },
        "forwardProxyUri": {
          "type": "string",
          "description": "Optional. Url of the forward proxy to be applied to the runtime instances in this environment. Must be in the format of {scheme}://{hostname}:{port}. Note that scheme must be one of \"http\" or \"https\", and port must be supplied."
        },
        "deploymentType": {
          "description": "Optional. Deployment type supported by the environment. The deployment type can be set when creating the environment and cannot be changed. When you enable archive deployment, you will be **prevented from performing** a [subset of actions](/apigee/docs/api-platform/local-development/overview#prevented-actions) within the environment, including: * Managing the deployment of API proxy or shared flow revisions * Creating, updating, or deleting resource files * Creating, updating, or deleting target servers",
          "enum": [
            "DEPLOYMENT_TYPE_UNSPECIFIED",
            "PROXY",
            "ARCHIVE"
          ],
          "enumDescriptions": [
            "Deployment type not specified.",
            "Proxy deployment enables you to develop and deploy API proxies using Apigee on Google Cloud. This cannot currently be combined with the CONFIGURABLE API proxy type.",
            "Archive deployment enables you to develop API proxies locally then deploy an archive of your API proxy configuration to an environment in Apigee on Google Cloud. You will be prevented from performing a [subset of actions](/apigee/docs/api-platform/local-development/overview#prevented-actions) within the environment."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1TraceConfig": {
      "id": "GoogleCloudApigeeV1TraceConfig",
      "properties": {
        "exporter": {
          "enumDescriptions": [
            "Exporter unspecified",
            "Jaeger exporter",
            "Cloudtrace exporter"
          ],
          "type": "string",
          "enum": [
            "EXPORTER_UNSPECIFIED",
            "JAEGER",
            "CLOUD_TRACE"
          ],
          "description": "Required. Exporter that is used to view the distributed trace captured using OpenCensus. An exporter sends traces to any backend that is capable of consuming them. Recorded spans can be exported by registered exporters."
        },
        "samplingConfig": {
          "description": "Distributed trace configuration for all API proxies in an environment. You can also override the configuration for a specific API proxy using the distributed trace configuration overrides API.",
          "$ref": "GoogleCloudApigeeV1TraceSamplingConfig"
        },
        "endpoint": {
          "description": "Required. Endpoint of the exporter.",
          "type": "string"
        }
      },
      "description": "TraceConfig defines the configurations in an environment of distributed trace.",
      "type": "object"
    },
    "GoogleCloudApigeeV1DeploymentChangeReport": {
      "id": "GoogleCloudApigeeV1DeploymentChangeReport",
      "description": "Response for GenerateDeployChangeReport and GenerateUndeployChangeReport. This report contains any validation failures that would cause the deployment to be rejected, as well changes and conflicts in routing that may occur due to the new deployment. The existence of a routing warning does not necessarily imply that the deployment request is bad, if the desired state of the deployment request is to effect a routing change. The primary purposes of the routing messages are: 1) To inform users of routing changes that may have an effect on traffic currently being routed to other existing deployments. 2) To warn users if some base path in the proxy will not receive traffic due to an existing deployment having already claimed that base path. The presence of routing conflicts/changes will not cause non-dry-run DeployApiProxy/UndeployApiProxy requests to be rejected.",
      "type": "object",
      "properties": {
        "validationErrors": {
          "$ref": "GoogleRpcPreconditionFailure",
          "description": "Validation errors that would cause the deployment change request to be rejected."
        },
        "routingConflicts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingConflict"
          },
          "description": "All base path conflicts detected for a deployment request."
        },
        "routingChanges": {
          "items": {
            "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingChange"
          },
          "type": "array",
          "description": "All routing changes that may result from a deployment request."
        }
      }
    },
    "GoogleCloudApigeeV1RevisionStatus": {
      "type": "object",
      "properties": {
        "replicas": {
          "format": "int32",
          "description": "The number of replicas that have successfully loaded this revision.",
          "type": "integer"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1UpdateError"
          },
          "description": "Errors reported when attempting to load this revision."
        },
        "revisionId": {
          "type": "string",
          "description": "The revision of the resource."
        },
        "jsonSpec": {
          "description": "The json content of the resource revision. Large specs should be sent individually via the spec field to avoid hitting request size limits.",
          "type": "string"
        }
      },
      "description": "The status of a specific resource revision.",
      "id": "GoogleCloudApigeeV1RevisionStatus"
    },
    "GoogleCloudApigeeV1GenerateUploadUrlRequest": {
      "id": "GoogleCloudApigeeV1GenerateUploadUrlRequest",
      "properties": {},
      "description": "Request for GenerateUploadUrl method.",
      "type": "object"
    },
    "GoogleCloudApigeeV1SecurityReportQueryMetric": {
      "type": "object",
      "id": "GoogleCloudApigeeV1SecurityReportQueryMetric",
      "properties": {
        "value": {
          "description": "Operand value should be provided when operator is set.",
          "type": "string"
        },
        "aggregationFunction": {
          "type": "string",
          "description": "Aggregation function: avg, min, max, or sum."
        },
        "alias": {
          "description": "Alias for the metric. Alias will be used to replace metric name in query results.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Metric name."
        },
        "operator": {
          "type": "string",
          "description": "One of `+`, `-`, `/`, `%`, `*`."
        }
      },
      "description": "Metric of the Query"
    },
    "GoogleCloudApigeeV1StatsHostStats": {
      "id": "GoogleCloudApigeeV1StatsHostStats",
      "description": "Encapsulates the hostname wrapper: ``` \"hosts\": [ { \"metrics\": [ { \"name\": \"sum(message_count)\", \"values\": [ \"2.52056245E8\" ] } ], \"name\": \"example.com\" } ]```",
      "type": "object",
      "properties": {
        "metrics": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Metric"
          },
          "description": "In the final response, only one of the following fields will be present based on the dimensions provided. If no dimensions are provided, then only the top-level metrics are provided. If dimensions are included, then there will be a top-level dimensions field under hostnames which will contain metrics values and the dimension name. Example: ``` \"hosts\": [ { \"dimensions\": [ { \"metrics\": [ { \"name\": \"sum(message_count)\", \"values\": [ \"2.14049521E8\" ] } ], \"name\": \"nit_proxy\" } ], \"name\": \"example.com\" } ]``` OR ```\"hosts\": [ { \"metrics\": [ { \"name\": \"sum(message_count)\", \"values\": [ \"2.19026331E8\" ] } ], \"name\": \"example.com\" } ]``` List of metric values.",
          "type": "array"
        },
        "name": {
          "description": "Hostname used in query.",
          "type": "string"
        },
        "dimensions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1DimensionMetric"
          },
          "description": "List of metrics grouped under dimensions."
        }
      }
    },
    "GoogleCloudApigeeV1ListDeploymentsResponse": {
      "id": "GoogleCloudApigeeV1ListDeploymentsResponse",
      "type": "object",
      "properties": {
        "deployments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Deployment"
          },
          "description": "List of deployments."
        }
      }
    },
    "GoogleCloudApigeeV1CustomReportMetric": {
      "description": "This encapsulates a metric property of the form sum(message_count) where name is message_count and function is sum",
      "id": "GoogleCloudApigeeV1CustomReportMetric",
      "type": "object",
      "properties": {
        "name": {
          "description": "name of the metric",
          "type": "string"
        },
        "function": {
          "type": "string",
          "description": "aggregate function"
        }
      }
    },
    "GoogleCloudApigeeV1ListAppsResponse": {
      "type": "object",
      "id": "GoogleCloudApigeeV1ListAppsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token that can be sent as `next_page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "totalSize": {
          "description": "Total count of Apps.",
          "format": "int32",
          "type": "integer"
        },
        "app": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1App"
          }
        }
      }
    },
    "GoogleCloudApigeeV1RuntimeTraceSamplingConfig": {
      "properties": {
        "sampler": {
          "enumDescriptions": [
            "Sampler unspecified.",
            "OFF means distributed trace is disabled, or the sampling probability is 0.",
            "PROBABILITY means traces are captured on a probability that defined by sampling_rate. The sampling rate is limited to 0 to 0.5 when this is set."
          ],
          "enum": [
            "SAMPLER_UNSPECIFIED",
            "OFF",
            "PROBABILITY"
          ],
          "description": "Sampler of distributed tracing. OFF is the default value.",
          "type": "string"
        },
        "samplingRate": {
          "description": "Field sampling rate. This value is only applicable when using the PROBABILITY sampler. The supported values are \u003e 0 and \u003c= 0.5.",
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudApigeeV1RuntimeTraceSamplingConfig",
      "type": "object",
      "description": "NEXT ID: 3 RuntimeTraceSamplingConfig represents the detail settings of distributed tracing. Only the fields that are defined in the distributed trace configuration can be overridden using the distribute trace configuration override APIs."
    },
    "GoogleCloudApigeeV1Deployment": {
      "id": "GoogleCloudApigeeV1Deployment",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "RUNTIME_STATE_UNSPECIFIED",
            "READY",
            "PROGRESSING",
            "ERROR"
          ],
          "description": "Current state of the deployment. **Note**: This field is displayed only when viewing deployment status.",
          "enumDescriptions": [
            "This value should never be returned.",
            "Runtime has loaded the deployment.",
            "Deployment is not fully ready in the runtime.",
            "Encountered an error with the deployment that requires intervention."
          ]
        },
        "deployStartTime": {
          "format": "int64",
          "type": "string",
          "description": "Time the API proxy was marked `deployed` in the control plane in millisconds since epoch."
        },
        "errors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Errors reported for this deployment. Populated only when state == ERROR. **Note**: This field is displayed only when viewing deployment status.",
          "type": "array"
        },
        "routeConflicts": {
          "items": {
            "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingConflict"
          },
          "description": "Conflicts in the desired state routing configuration. The presence of conflicts does not cause the state to be `ERROR`, but it will mean that some of the deployment's base paths are not routed to its environment. If the conflicts change, the state will transition to `PROGRESSING` until the latest configuration is rolled out to all instances. **Note**: This field is displayed only when viewing deployment status.",
          "type": "array"
        },
        "revision": {
          "description": "API proxy revision.",
          "type": "string"
        },
        "environment": {
          "type": "string",
          "description": "Environment."
        },
        "pods": {
          "description": "Status reported by runtime pods. **Note**: **This field is deprecated**. Runtime versions 1.3 and above report instance level status rather than pod status.",
          "items": {
            "$ref": "GoogleCloudApigeeV1PodStatus"
          },
          "type": "array"
        },
        "instances": {
          "items": {
            "$ref": "GoogleCloudApigeeV1InstanceDeploymentStatus"
          },
          "type": "array",
          "description": "Status reported by each runtime instance. **Note**: This field is displayed only when viewing deployment status."
        },
        "apiProxy": {
          "description": "API proxy.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "The full resource name of Cloud IAM Service Account that this deployment is using, eg, `projects/-/serviceAccounts/{email}`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1ConnectorsPlatformConfig": {
      "id": "GoogleCloudApigeeV1ConnectorsPlatformConfig",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Flag that specifies whether the Connectors Platform add-on is enabled."
        },
        "expiresAt": {
          "description": "Output only. Time at which the Connectors Platform add-on expires in milliseconds since epoch. If unspecified, the add-on will never expire.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "Configuration for the Connectors Platform add-on."
    },
    "GoogleCloudApigeeV1DeveloperMonetizationConfig": {
      "properties": {
        "billingType": {
          "type": "string",
          "description": "Billing type.",
          "enumDescriptions": [
            "The default/unset value.",
            "Developer pays in advance for the use of APIs and the charged amount is deducted from their account balance.",
            "Developer does not maintain an account balance. The API provider bills the developer for API usage."
          ],
          "enum": [
            "BILLING_TYPE_UNSPECIFIED",
            "PREPAID",
            "POSTPAID"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1DeveloperMonetizationConfig",
      "description": "Monetization configuration for the developer."
    },
    "GoogleCloudApigeeV1SecurityProfile": {
      "id": "GoogleCloudApigeeV1SecurityProfile",
      "description": "Represents a SecurityProfile resource.",
      "properties": {
        "revisionPublishTime": {
          "description": "Output only. The time when revision was published. Once published, the security profile revision cannot be updated further and can be attached to environments.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Immutable. Name of the security profile resource. Format: organizations/{org}/securityProfiles/{profile}"
        },
        "revisionId": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Revision ID of the security profile.",
          "type": "string"
        },
        "minScore": {
          "format": "int32",
          "description": "Output only. Minimum security score that can be generated by this profile.",
          "readOnly": true,
          "type": "integer"
        },
        "revisionCreateTime": {
          "description": "Output only. The time when revision was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "revisionUpdateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when revision was updated.",
          "type": "string"
        },
        "maxScore": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Maximum security score that can be generated by this profile.",
          "format": "int32"
        },
        "scoringConfigs": {
          "description": "List of profile scoring configs in this revision.",
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityProfileScoringConfig"
          },
          "type": "array"
        },
        "description": {
          "description": "Description of the security profile.",
          "type": "string"
        },
        "environments": {
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityProfileEnvironment"
          },
          "description": "List of environments attached to security profile.",
          "type": "array"
        },
        "displayName": {
          "description": "Display name of the security profile.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1ProvisionOrganizationRequest": {
      "properties": {
        "analyticsRegion": {
          "type": "string",
          "description": "Primary Cloud Platform region for analytics data storage. For valid values, see [Create an organization](https://cloud.google.com/apigee/docs/hybrid/latest/precog-provision). Defaults to `us-west1`."
        },
        "runtimeLocation": {
          "description": "Cloud Platform location for the runtime instance. Defaults to zone `us-west1-a`. If a region is provided, `EVAL` organizations will use the region for automatically selecting a zone for the runtime instance.",
          "type": "string"
        },
        "authorizedNetwork": {
          "type": "string",
          "description": "Compute Engine network used for Service Networking to be peered with Apigee runtime instances. See [Getting started with the Service Networking API](https://cloud.google.com/service-infrastructure/docs/service-networking/getting-started). Apigee also supports shared VPC (that is, the host network project is not the same as the one that is peering with Apigee). See [Shared VPC overview](https://cloud.google.com/vpc/docs/shared-vpc). To use a shared VPC network, use the following format: `projects/{host-project-id}/{region}/networks/{network-name}`. For example: `projects/my-sharedvpc-host/global/networks/mynetwork`"
        },
        "disableVpcPeering": {
          "description": "Optional. Flag that specifies whether the VPC Peering through Private Google Access should be disabled between the consumer network and Apigee. Required if an authorizedNetwork on the consumer project is not provided, in which case the flag should be set to true. The value must be set before the creation of any Apigee runtime instance and can be updated only when there are no runtime instances. **Note:** Apigee will be deprecating the vpc peering model that requires you to provide 'authorizedNetwork', by making the non-peering model as the default way of provisioning Apigee organization in future. So, this will be a temporary flag to enable the transition. Not supported for Apigee hybrid.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudApigeeV1ProvisionOrganizationRequest",
      "description": "Request for ProvisionOrganization.",
      "type": "object"
    },
    "GoogleCloudApigeeV1Developer": {
      "type": "object",
      "properties": {
        "attributes": {
          "description": "Optional. Developer attributes (name/value pairs). The custom attribute limit is 18.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          }
        },
        "lastName": {
          "description": "Required. Last name of the developer.",
          "type": "string"
        },
        "lastModifiedAt": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time at which the developer was last modified in milliseconds since epoch."
        },
        "companies": {
          "description": "List of companies associated with the developer.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "accessType": {
          "description": "Access type.",
          "type": "string"
        },
        "organizationName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the Apigee organization in which the developer resides."
        },
        "createdAt": {
          "description": "Output only. Time at which the developer was created in milliseconds since epoch.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "appFamily": {
          "type": "string",
          "description": "Developer app family."
        },
        "email": {
          "description": "Required. Email address of the developer. This value is used to uniquely identify the developer in Apigee hybrid. Note that the email address has to be in lowercase only.",
          "type": "string"
        },
        "status": {
          "description": "Output only. Status of the developer. Valid values are `active` and `inactive`.",
          "type": "string",
          "readOnly": true
        },
        "firstName": {
          "description": "Required. First name of the developer.",
          "type": "string"
        },
        "developerId": {
          "description": "ID of the developer. **Note**: IDs are generated internally by Apigee and are not guaranteed to stay the same over time.",
          "type": "string"
        },
        "userName": {
          "description": "Required. User name of the developer. Not used by Apigee hybrid.",
          "type": "string"
        },
        "apps": {
          "description": "List of apps associated with the developer.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudApigeeV1Developer"
    },
    "GoogleCloudApigeeV1ReportInstanceStatusRequest": {
      "type": "object",
      "description": "Request for ReportInstanceStatus.",
      "properties": {
        "instanceUid": {
          "type": "string",
          "description": "A unique ID for the instance which is guaranteed to be unique in case the user installs multiple hybrid runtimes with the same instance ID."
        },
        "reportTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the report was generated in the runtime. Used to prevent an old status from overwriting a newer one. An instance should space out it's status reports so that clock skew does not play a factor."
        },
        "resources": {
          "description": "Status for config resources",
          "items": {
            "$ref": "GoogleCloudApigeeV1ResourceStatus"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudApigeeV1ReportInstanceStatusRequest"
    },
    "GoogleRpcStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "id": "GoogleRpcStatus"
    },
    "GoogleCloudApigeeV1ListDataCollectorsResponse": {
      "properties": {
        "dataCollectors": {
          "description": "Data collectors in the specified organization.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1DataCollector"
          }
        },
        "nextPageToken": {
          "description": "Page token that you can include in a ListDataCollectors request to retrieve the next page. If omitted, no subsequent pages exist.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1ListDataCollectorsResponse",
      "description": "Response for ListDataCollectors."
    },
    "GoogleCloudApigeeV1Attributes": {
      "properties": {
        "attribute": {
          "type": "array",
          "description": "List of attributes.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          }
        }
      },
      "id": "GoogleCloudApigeeV1Attributes",
      "type": "object"
    },
    "GoogleCloudApigeeV1DeveloperBalanceWallet": {
      "id": "GoogleCloudApigeeV1DeveloperBalanceWallet",
      "description": "Wallet used to manage an account balance for a particular currency.",
      "properties": {
        "lastCreditTime": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. Time at which the developer last added credit to the account in milliseconds since epoch."
        },
        "balance": {
          "$ref": "GoogleTypeMoney",
          "description": "Current remaining balance of the developer for a particular currency."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1NodeConfig": {
      "description": "NodeConfig for setting the min/max number of nodes associated with the environment.",
      "type": "object",
      "id": "GoogleCloudApigeeV1NodeConfig",
      "properties": {
        "maxNodeCount": {
          "format": "int64",
          "description": "Optional. The maximum total number of gateway nodes that the is reserved for all instances that has the specified environment. If not specified, the default is determined by the recommended maximum number of nodes for that gateway.",
          "type": "string"
        },
        "currentAggregateNodeCount": {
          "description": "Output only. The current total number of gateway nodes that each environment currently has across all instances.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "minNodeCount": {
          "format": "int64",
          "description": "Optional. The minimum total number of gateway nodes that the is reserved for all instances that has the specified environment. If not specified, the default is determined by the recommended minimum number of nodes for that gateway.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1SecurityProfileEnvironment": {
      "properties": {
        "attachTime": {
          "type": "string",
          "description": "Output only. Time at which environment was attached to the security profile.",
          "format": "google-datetime",
          "readOnly": true
        },
        "environment": {
          "type": "string",
          "description": "Output only. Name of the environment.",
          "readOnly": true
        }
      },
      "description": "Environment information of attached environments. Scoring an environment is enabled only if it is attached to a security profile.",
      "type": "object",
      "id": "GoogleCloudApigeeV1SecurityProfileEnvironment"
    },
    "GoogleCloudApigeeV1EndpointAttachment": {
      "properties": {
        "host": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Host that can be used in either the HTTP target endpoint directly or as the host in target server."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "UPDATING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Resource is in an unspecified state.",
            "Resource is being created.",
            "Resource is provisioned and ready to use.",
            "The resource is being deleted.",
            "The resource is being updated."
          ],
          "type": "string",
          "description": "Output only. State of the endpoint attachment. Values other than `ACTIVE` mean the resource is not ready to use."
        },
        "serviceAttachment": {
          "type": "string",
          "description": "Format: projects/*/regions/*/serviceAttachments/*"
        },
        "connectionState": {
          "readOnly": true,
          "enum": [
            "CONNECTION_STATE_UNSPECIFIED",
            "UNAVAILABLE",
            "PENDING",
            "ACCEPTED",
            "REJECTED",
            "CLOSED",
            "FROZEN",
            "NEEDS_ATTENTION"
          ],
          "type": "string",
          "enumDescriptions": [
            "The connection state has not been set.",
            "The connection state is unavailable at this time, possibly because the endpoint attachment is currently being provisioned.",
            "The connection is pending acceptance by the PSC producer.",
            "The connection has been accepted by the PSC producer.",
            "The connection has been rejected by the PSC producer.",
            "The connection has been closed by the PSC producer and will not serve traffic going forward.",
            "The connection has been frozen by the PSC producer and will not serve traffic.",
            "The connection has been accepted by the PSC producer, but it is not ready to serve the traffic due to producer side issues."
          ],
          "description": "Output only. State of the endpoint attachment connection to the service attachment."
        },
        "name": {
          "description": "Name of the endpoint attachment. Use the following structure in your request: `organizations/{org}/endpointAttachments/{endpoint_attachment}`",
          "type": "string"
        },
        "location": {
          "description": "Required. Location of the endpoint attachment.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1EndpointAttachment",
      "description": "Apigee endpoint attachment. For more information, see [Southbound networking patterns] (https://cloud.google.com/apigee/docs/api-platform/architecture/southbound-networking-patterns-endpoints).",
      "type": "object"
    },
    "GoogleCloudApigeeV1SecurityReportQuery": {
      "id": "GoogleCloudApigeeV1SecurityReportQuery",
      "properties": {
        "groupByTimeUnit": {
          "description": "Time unit used to group the result set. Valid values include: second, minute, hour, day, week, or month. If a query includes groupByTimeUnit, then the result is an aggregation based on the specified time unit and the resultant timestamp does not include milliseconds precision. If a query omits groupByTimeUnit, then the resultant timestamp includes milliseconds precision.",
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "Boolean expression that can be used to filter data. Filter expressions can be combined using AND/OR terms and should be fully parenthesized to avoid ambiguity. See Analytics metrics, dimensions, and filters reference https://docs.apigee.com/api-platform/analytics/analytics-reference for more information on the fields available to filter on. For more information on the tokens that you use to build filter expressions, see Filter expression syntax. https://docs.apigee.com/api-platform/analytics/asynch-reports-api#filter-expression-syntax"
        },
        "metrics": {
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityReportQueryMetric"
          },
          "description": "A list of Metrics.",
          "type": "array"
        },
        "csvDelimiter": {
          "description": "Delimiter used in the CSV file, if `outputFormat` is set to `csv`. Defaults to the `,` (comma) character. Supported delimiter characters include comma (`,`), pipe (`|`), and tab (`\\t`).",
          "type": "string"
        },
        "envgroupHostname": {
          "description": "Hostname needs to be specified if query intends to run at host level. This field is only allowed when query is submitted by CreateHostSecurityReport where analytics data will be grouped by organization and hostname.",
          "type": "string"
        },
        "timeRange": {
          "description": "Required. Time range for the query. Can use the following predefined strings to specify the time range: `last60minutes` `last24hours` `last7days` Or, specify the timeRange as a structure describing start and end timestamps in the ISO format: yyyy-mm-ddThh:mm:ssZ. Example: \"timeRange\": { \"start\": \"2018-07-29T00:13:00Z\", \"end\": \"2018-08-01T00:18:00Z\" }",
          "type": "any"
        },
        "reportDefinitionId": {
          "description": "Report Definition ID.",
          "type": "string"
        },
        "limit": {
          "description": "Maximum number of rows that can be returned in the result.",
          "type": "integer",
          "format": "int32"
        },
        "dimensions": {
          "description": "A list of dimensions. https://docs.apigee.com/api-platform/analytics/analytics-reference#dimensions",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mimeType": {
          "type": "string",
          "description": "Valid values include: `csv` or `json`. Defaults to `json`. Note: Configure the delimiter for CSV output using the csvDelimiter property."
        },
        "displayName": {
          "type": "string",
          "description": "Security Report display name which users can specify."
        }
      },
      "type": "object",
      "description": "Body structure when user makes a request to create a security report."
    },
    "GoogleCloudApigeeV1ResourceFile": {
      "type": "object",
      "description": "Metadata about a resource file.",
      "id": "GoogleCloudApigeeV1ResourceFile",
      "properties": {
        "type": {
          "type": "string",
          "description": "Resource file type. {{ resource_file_type }}"
        },
        "name": {
          "description": "ID of the resource file.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1DeploymentGroupConfig": {
      "type": "object",
      "id": "GoogleCloudApigeeV1DeploymentGroupConfig",
      "description": "DeploymentGroupConfig represents a deployment group that should be present in a particular environment.",
      "properties": {
        "name": {
          "description": "Name of the deployment group in the following format: `organizations/{org}/environments/{env}/deploymentGroups/{group}`.",
          "type": "string"
        },
        "revisionId": {
          "format": "int64",
          "type": "string",
          "description": "Revision number which can be used by the runtime to detect if the deployment group has changed between two versions."
        },
        "uid": {
          "description": "Unique ID. The ID will only change if the deployment group is deleted and recreated.",
          "type": "string"
        },
        "deploymentGroupType": {
          "type": "string",
          "enum": [
            "DEPLOYMENT_GROUP_TYPE_UNSPECIFIED",
            "STANDARD",
            "EXTENSIBLE"
          ],
          "enumDescriptions": [
            "Unspecified type",
            "Standard type",
            "Extensible Type"
          ],
          "description": "Type of the deployment group, which will be either Standard or Extensible."
        }
      }
    },
    "GoogleTypeInterval": {
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
        }
      },
      "id": "GoogleTypeInterval",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "type": "object"
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "type": "object",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleIamV1TestIamPermissionsRequest"
    },
    "GoogleCloudApigeeV1ListKeyValueEntriesResponse": {
      "id": "GoogleCloudApigeeV1ListKeyValueEntriesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `next_page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "keyValueEntries": {
          "description": "One or more key value map keys and values.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1KeyValueEntry"
          }
        }
      },
      "description": "The request structure for listing key value map keys and its corresponding values."
    },
    "GoogleCloudApigeeV1IntegrationConfig": {
      "id": "GoogleCloudApigeeV1IntegrationConfig",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Flag that specifies whether the Integration add-on is enabled."
        }
      },
      "description": "Configuration for the Integration add-on.",
      "type": "object"
    },
    "GoogleCloudApigeeV1GraphQLOperationConfig": {
      "properties": {
        "operations": {
          "description": "Required. List of GraphQL name/operation type pairs for the proxy or remote service to which quota will be applied. If only operation types are specified, the quota will be applied to all GraphQL requests irrespective of the GraphQL name. **Note**: Currently, you can specify only a single GraphQLOperation. Specifying more than one will cause the operation to fail.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1GraphQLOperation"
          }
        },
        "apiSource": {
          "description": "Required. Name of the API proxy endpoint or remote service with which the GraphQL operation and quota are associated.",
          "type": "string"
        },
        "quota": {
          "description": "Quota parameters to be enforced for the resources, methods, and API source combination. If none are specified, quota enforcement will not be done.",
          "$ref": "GoogleCloudApigeeV1Quota"
        },
        "attributes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "description": "Custom attributes associated with the operation."
        }
      },
      "id": "GoogleCloudApigeeV1GraphQLOperationConfig",
      "type": "object",
      "description": "Binds the resources in a proxy or remote service with the GraphQL operation and its associated quota enforcement."
    },
    "GoogleCloudApigeeV1Organization": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name for the Apigee organization. Unused, but reserved for future use."
        },
        "customerName": {
          "type": "string",
          "description": "Not used by Apigee."
        },
        "caCertificate": {
          "description": "Output only. Base64-encoded public certificate for the root CA of the Apigee organization. Valid only when [RuntimeType](#RuntimeType) is `CLOUD`.",
          "format": "byte",
          "readOnly": true,
          "type": "string"
        },
        "properties": {
          "description": "Properties defined in the Apigee organization profile.",
          "$ref": "GoogleCloudApigeeV1Properties"
        },
        "createdAt": {
          "description": "Output only. Time that the Apigee organization was created in milliseconds since epoch.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "apiConsumerDataEncryptionKeyName": {
          "type": "string",
          "description": "Cloud KMS key name used for encrypting API consumer data. Required for US/EU regions when [BillingType](#BillingType) is `SUBSCRIPTION`. When [BillingType](#BillingType) is `EVALUATION` or the region is not US/EU, a Google-Managed encryption key will be used. Format: `projects/*/locations/*/keyRings/*/cryptoKeys/*`"
        },
        "runtimeDatabaseEncryptionKeyName": {
          "type": "string",
          "description": "Cloud KMS key name used for encrypting the data that is stored and replicated across runtime instances. Update is not allowed after the organization is created. Required when [RuntimeType](#RuntimeType) is `CLOUD`. If not specified when [RuntimeType](#RuntimeType) is `TRIAL`, a Google-Managed encryption key will be used. For example: \"projects/foo/locations/us/keyRings/bar/cryptoKeys/baz\". **Note:** Not supported for Apigee hybrid."
        },
        "billingType": {
          "description": "Billing type of the Apigee organization. See [Apigee pricing](https://cloud.google.com/apigee/pricing).",
          "enumDescriptions": [
            "Billing type not specified.",
            "A pre-paid subscription to Apigee.",
            "Free and limited access to Apigee for evaluation purposes only. only.",
            "Access to Apigee using a Pay-As-You-Go plan."
          ],
          "enum": [
            "BILLING_TYPE_UNSPECIFIED",
            "SUBSCRIPTION",
            "EVALUATION",
            "PAYG"
          ],
          "type": "string"
        },
        "attributes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Not used by Apigee."
        },
        "description": {
          "type": "string",
          "description": "Description of the Apigee organization."
        },
        "name": {
          "description": "Output only. Name of the Apigee organization.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "description": "Not used by Apigee.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_TRIAL",
            "TYPE_PAID",
            "TYPE_INTERNAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Subscription type not specified.",
            "Subscription to Apigee is free, limited, and used for evaluation purposes only.",
            "Full subscription to Apigee has been purchased. See [Apigee pricing](https://cloud.google.com/apigee/pricing/).",
            "For internal users only."
          ]
        },
        "controlPlaneEncryptionKeyName": {
          "description": "Cloud KMS key name used for encrypting control plane data that is stored in a multi region. Required when [BillingType](#BillingType) is `SUBSCRIPTION`. When [BillingType](#BillingType) is `EVALUATION`, a Google-Managed encryption key will be used. Format: `projects/*/locations/*/keyRings/*/cryptoKeys/*`",
          "type": "string"
        },
        "runtimeType": {
          "enumDescriptions": [
            "Runtime type not specified.",
            "Google-managed Apigee runtime.",
            "User-managed Apigee hybrid runtime."
          ],
          "enum": [
            "RUNTIME_TYPE_UNSPECIFIED",
            "CLOUD",
            "HYBRID"
          ],
          "description": "Required. Runtime type of the Apigee organization based on the Apigee subscription purchased.",
          "type": "string"
        },
        "authorizedNetwork": {
          "type": "string",
          "description": "Compute Engine network used for Service Networking to be peered with Apigee runtime instances. See [Getting started with the Service Networking API](https://cloud.google.com/service-infrastructure/docs/service-networking/getting-started). Valid only when [RuntimeType](#RuntimeType) is set to `CLOUD`. The value must be set before the creation of a runtime instance and can be updated only when there are no runtime instances. For example: `default`. Apigee also supports shared VPC (that is, the host network project is not the same as the one that is peering with Apigee). See [Shared VPC overview](https://cloud.google.com/vpc/docs/shared-vpc). To use a shared VPC network, use the following format: `projects/{host-project-id}/{region}/networks/{network-name}`. For example: `projects/my-sharedvpc-host/global/networks/mynetwork` **Note:** Not supported for Apigee hybrid."
        },
        "portalDisabled": {
          "type": "boolean",
          "description": "Configuration for the Portals settings."
        },
        "environments": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. List of environments in the Apigee organization.",
          "readOnly": true
        },
        "subscriptionType": {
          "description": "Output only. DEPRECATED: This will eventually be replaced by BillingType. Subscription type of the Apigee organization. Valid values include trial (free, limited, and for evaluation purposes only) or paid (full subscription has been purchased). See [Apigee pricing](https://cloud.google.com/apigee/pricing/).",
          "enum": [
            "SUBSCRIPTION_TYPE_UNSPECIFIED",
            "PAID",
            "TRIAL"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Subscription type not specified.",
            "Full subscription to Apigee has been purchased.",
            "Subscription to Apigee is free, limited, and used for evaluation purposes only."
          ],
          "deprecated": true
        },
        "expiresAt": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Time that the Apigee organization is scheduled for deletion.",
          "readOnly": true
        },
        "apiConsumerDataLocation": {
          "type": "string",
          "description": "This field is needed only for customers with control plane in US or EU. Apigee stores some control plane data only in single region. This field determines which single region Apigee should use. For example: \"us-west1\" when control plane is in US or \"europe-west2\" when control plane is in EU."
        },
        "projectId": {
          "description": "Output only. Project ID associated with the Apigee organization.",
          "type": "string",
          "readOnly": true
        },
        "apigeeProjectId": {
          "description": "Output only. Apigee Project ID associated with the organization. Use this project to allowlist Apigee in the Service Attachment when using private service connect with Apigee.",
          "type": "string",
          "readOnly": true
        },
        "addonsConfig": {
          "description": "Addon configurations of the Apigee organization.",
          "$ref": "GoogleCloudApigeeV1AddonsConfig"
        },
        "disableVpcPeering": {
          "description": "Optional. Flag that specifies whether the VPC Peering through Private Google Access should be disabled between the consumer network and Apigee. Valid only when RuntimeType is set to CLOUD. Required if an authorizedNetwork on the consumer project is not provided, in which case the flag should be set to true. The value must be set before the creation of any Apigee runtime instance and can be updated only when there are no runtime instances. **Note:** Apigee will be deprecating the vpc peering model that requires you to provide 'authorizedNetwork', by making the non-peering model as the default way of provisioning Apigee organization in future. So, this will be a temporary flag to enable the transition. Not supported for Apigee hybrid.",
          "type": "boolean"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "UPDATING"
          ],
          "description": "Output only. State of the organization. Values other than ACTIVE means the resource is not ready to use.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Resource is in an unspecified state.",
            "Resource is being created.",
            "Resource is provisioned and ready to use.",
            "The resource is being deleted.",
            "The resource is being updated."
          ]
        },
        "lastModifiedAt": {
          "format": "int64",
          "description": "Output only. Time that the Apigee organization was last modified in milliseconds since epoch.",
          "readOnly": true,
          "type": "string"
        },
        "analyticsRegion": {
          "type": "string",
          "deprecated": true,
          "description": "Required. DEPRECATED: This field will eventually be deprecated and replaced with a differently-named field. Primary Google Cloud region for analytics data storage. For valid values, see [Create an Apigee organization](https://cloud.google.com/apigee/docs/api-platform/get-started/create-org)."
        }
      },
      "id": "GoogleCloudApigeeV1Organization"
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "id": "GoogleIamV1SetIamPolicyRequest",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "GoogleIamV1Policy"
        },
        "updateMask": {
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask"
        }
      },
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListNatAddressesResponse": {
      "properties": {
        "natAddresses": {
          "description": "List of NAT Addresses for the instance.",
          "items": {
            "$ref": "GoogleCloudApigeeV1NatAddress"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token that you can include in a ListNatAddresses request to retrieve the next page of content. If omitted, no subsequent pages exist."
        }
      },
      "description": "Response for ListNatAddresses.",
      "id": "GoogleCloudApigeeV1ListNatAddressesResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1OperationMetadataProgress": {
      "id": "GoogleCloudApigeeV1OperationMetadataProgress",
      "properties": {
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "State of the operation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "FINISHED"
          ],
          "type": "string"
        },
        "details": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "The additional details of the progress."
        },
        "percentDone": {
          "type": "integer",
          "format": "int32",
          "description": "The percentage of the operation progress."
        },
        "description": {
          "description": "Description of the operation's progress.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Information about operation progress."
    },
    "GoogleCloudApigeeV1ReportInstanceStatusResponse": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudApigeeV1ReportInstanceStatusResponse",
      "description": "Placeholder for future enhancements to status reporting protocol"
    },
    "GoogleCloudApigeeV1ListEnvironmentGroupsResponse": {
      "properties": {
        "environmentGroups": {
          "items": {
            "$ref": "GoogleCloudApigeeV1EnvironmentGroup"
          },
          "description": "EnvironmentGroups in the specified organization.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Page token that you can include in a ListEnvironmentGroups request to retrieve the next page. If omitted, no subsequent pages exist.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1ListEnvironmentGroupsResponse",
      "description": "Response for ListEnvironmentGroups.",
      "type": "object"
    },
    "GoogleCloudApigeeV1ScoreComponentRecommendationAction": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the action."
        },
        "actionContext": {
[...]
