{
  "protocol": "rest",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    }
  },
  "discoveryVersion": "v1",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "servicePath": "",
  "id": "apigee:v1",
  "description": "Use the Apigee API to programmatically develop and manage APIs with a set of RESTful operations. Develop and secure API proxies, deploy and undeploy API proxy revisions, monitor APIs, configure environments, manage users, and more. Get started using the APIs. *Note:* This product is available as a free trial for a time period of 60 days.",
  "mtlsRootUrl": "https://apigee.mtls.googleapis.com/",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/apigee-api-management/",
  "resources": {
    "projects": {
      "methods": {
        "provisionOrganization": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "pattern": "^projects/[^/]+$",
              "type": "string",
              "required": true,
              "description": "Required. Name of the GCP project with which to associate the Apigee organization."
            }
          },
          "flatPath": "v1/projects/{projectsId}:provisionOrganization",
          "id": "apigee.projects.provisionOrganization",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "parameterOrder": [
            "project"
          ],
          "description": "Provisions a new Apigee organization with a functioning runtime. This is the standard way to create trial organizations for a free Apigee trial.",
          "request": {
            "$ref": "GoogleCloudApigeeV1ProvisionOrganizationRequest"
          },
          "httpMethod": "POST",
          "path": "v1/{+project}:provisionOrganization"
        }
      }
    },
    "hybrid": {
      "resources": {
        "issuers": {
          "methods": {
            "list": {
              "description": "Lists hybrid services and its trusted issuers service account ids. This api is authenticated and unauthorized(allow all the users) and used by runtime authn-authz service to query control plane's issuer service account ids.",
              "flatPath": "v1/hybrid/issuers",
              "id": "apigee.hybrid.issuers.list",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Must be of the form `hybrid/issuers`.",
                  "type": "string",
                  "required": true,
                  "pattern": "^hybrid/issuers$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1ListHybridIssuersResponse"
              }
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "reports": {
          "methods": {
            "update": {
              "id": "apigee.organizations.reports.update",
              "response": {
                "$ref": "GoogleCloudApigeeV1CustomReport"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PUT",
              "flatPath": "v1/organizations/{organizationsId}/reports/{reportsId}",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Custom Report name of the form: `organizations/{organization_id}/reports/{report_name}`",
                  "pattern": "^organizations/[^/]+/reports/[^/]+$"
                }
              },
              "description": "Update an existing custom report definition",
              "request": {
                "$ref": "GoogleCloudApigeeV1CustomReport"
              }
            },
            "delete": {
              "id": "apigee.organizations.reports.delete",
              "response": {
                "$ref": "GoogleCloudApigeeV1DeleteCustomReportResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "description": "Deletes an existing custom report definition",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/reports/[^/]+$",
                  "type": "string",
                  "description": "Required. Custom Report name of the form: `organizations/{organization_id}/reports/{report_name}`",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/reports/{reportsId}"
            },
            "list": {
              "description": "Return a list of Custom Reports",
              "id": "apigee.organizations.reports.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListCustomReportsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/reports",
              "path": "v1/{+parent}/reports",
              "parameters": {
                "expand": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Set to 'true' to get expanded details about each custom report."
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The parent organization name under which the API product will be listed `organizations/{organization_id}/reports`",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "location": "path"
                }
              }
            },
            "create": {
              "response": {
                "$ref": "GoogleCloudApigeeV1CustomReport"
              },
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent organization name under which the Custom Report will be created. Must be of the form: `organizations/{organization_id}/reports`",
                  "type": "string"
                }
              },
              "description": "Creates a Custom Report for an Organization. A Custom Report provides Apigee Customers to create custom dashboards in addition to the standard dashboards which are provided. The Custom Report in its simplest form contains specifications about metrics, dimensions and filters. It is important to note that the custom report by itself does not provide an executable entity. The Edge UI converts the custom report definition into an analytics query and displays the result in a chart.",
              "path": "v1/{+parent}/reports",
              "id": "apigee.organizations.reports.create",
              "flatPath": "v1/organizations/{organizationsId}/reports",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudApigeeV1CustomReport"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudApigeeV1CustomReport"
              },
              "httpMethod": "GET",
              "description": "Retrieve a custom report definition.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.reports.get",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/reports/[^/]+$",
                  "description": "Required. Custom Report name of the form: `organizations/{organization_id}/reports/{report_name}`",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/reports/{reportsId}"
            }
          }
        },
        "envgroups": {
          "methods": {
            "get": {
              "id": "apigee.organizations.envgroups.get",
              "parameters": {
                "name": {
                  "description": "Required. Name of the environment group in the following format: `organizations/{org}/envgroups/{envgroup}`.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/envgroups/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1EnvironmentGroup"
              },
              "httpMethod": "GET",
              "flatPath": "v1/organizations/{organizationsId}/envgroups/{envgroupsId}",
              "description": "Gets an environment group.",
              "path": "v1/{+name}"
            },
            "create": {
              "request": {
                "$ref": "GoogleCloudApigeeV1EnvironmentGroup"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. Name of the organization in which to create the environment group in the following format: `organizations/{org}`.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "name": {
                  "location": "query",
                  "description": "ID of the environment group. Overrides any ID in the environment_group resource.",
                  "type": "string"
                }
              },
              "description": "Creates a new environment group.",
              "id": "apigee.organizations.envgroups.create",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "POST",
              "path": "v1/{+parent}/envgroups",
              "flatPath": "v1/organizations/{organizationsId}/envgroups"
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/envgroups/{envgroupsId}",
              "description": "Updates an environment group.",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/envgroups/[^/]+$",
                  "description": "Required. Name of the environment group to update in the format: `organizations/{org}/envgroups/{envgroup}.",
                  "type": "string",
                  "location": "path"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "List of fields to be updated.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "apigee.organizations.envgroups.patch",
              "request": {
                "$ref": "GoogleCloudApigeeV1EnvironmentGroup"
              },
              "httpMethod": "PATCH"
            },
            "list": {
              "description": "Lists all environment groups.",
              "parameterOrder": [
                "parent"
              ],
              "id": "apigee.organizations.envgroups.list",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListEnvironmentGroupsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/envgroups",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. Name of the organization for which to list environment groups in the following format: `organizations/{org}`.",
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Maximum number of environment groups to return. The page size defaults to 25.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Page token, returned from a previous ListEnvironmentGroups call, that you can use to retrieve the next page.",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/envgroups"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "apigee.organizations.envgroups.delete",
              "path": "v1/{+name}",
              "description": "Deletes an environment group.",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "Required. Name of the environment group in the following format: `organizations/{org}/envgroups/{envgroup}`.",
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+/envgroups/[^/]+$",
                  "type": "string"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/envgroups/{envgroupsId}"
            }
          },
          "resources": {
            "attachments": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists all attachments of an environment group.",
                  "httpMethod": "GET",
                  "id": "apigee.organizations.envgroups.attachments.list",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListEnvironmentGroupAttachmentsResponse"
                  },
                  "path": "v1/{+parent}/attachments",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Maximum number of environment group attachments to return. The page size defaults to 25.",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Page token, returned by a previous ListEnvironmentGroupAttachments call, that you can use to retrieve the next page.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^organizations/[^/]+/envgroups/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the environment group in the following format: `organizations/{org}/envgroups/{envgroup}`."
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/envgroups/{envgroupsId}/attachments"
                },
                "create": {
                  "id": "apigee.organizations.envgroups.attachments.create",
                  "path": "v1/{+parent}/attachments",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Creates a new attachment of an environment to an environment group.",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1EnvironmentGroupAttachment"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. EnvironmentGroup under which to create the attachment in the following format: `organizations/{org}/envgroups/{envgroup}`.",
                      "pattern": "^organizations/[^/]+/envgroups/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/envgroups/{envgroupsId}/attachments"
                },
                "delete": {
                  "flatPath": "v1/organizations/{organizationsId}/envgroups/{envgroupsId}/attachments/{attachmentsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "description": "Deletes an environment group attachment.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/envgroups/[^/]+/attachments/[^/]+$",
                      "description": "Required. Name of the environment group attachment to delete in the following format: `organizations/{org}/envgroups/{envgroup}/attachments/{attachment}`.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "apigee.organizations.envgroups.attachments.delete"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/envgroups/[^/]+/attachments/[^/]+$",
                      "description": "Required. Name of the environment group attachment in the following format: `organizations/{org}/envgroups/{envgroup}/attachments/{attachment}`",
                      "required": true
                    }
                  },
                  "id": "apigee.organizations.envgroups.attachments.get",
                  "flatPath": "v1/organizations/{organizationsId}/envgroups/{envgroupsId}/attachments/{attachmentsId}",
                  "httpMethod": "GET",
                  "description": "Gets an environment group attachment.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1EnvironmentGroupAttachment"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        },
        "sharedflows": {
          "methods": {
            "list": {
              "description": "Lists all shared flows in the organization.",
              "path": "v1/{+parent}/sharedflows",
              "id": "apigee.organizations.sharedflows.list",
              "parameters": {
                "includeMetaData": {
                  "description": "Indicates whether to include shared flow metadata in the response.",
                  "location": "query",
                  "type": "boolean"
                },
                "includeRevisions": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Indicates whether to include a list of revisions in the response."
                },
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. The name of the parent organization under which to get shared flows. Must be of the form: `organizations/{organization_id}`",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1ListSharedFlowsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/organizations/{organizationsId}/sharedflows"
            },
            "create": {
              "id": "apigee.organizations.sharedflows.create",
              "path": "v1/{+parent}/sharedflows",
              "request": {
                "$ref": "GoogleApiHttpBody"
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1SharedFlowRevision"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the parent organization under which to create the shared flow. Must be of the form: `organizations/{organization_id}`"
                },
                "action": {
                  "type": "string",
                  "description": "Required. Must be set to either `import` or `validate`.",
                  "location": "query"
                },
                "name": {
                  "description": "Required. The name to give the shared flow",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/sharedflows",
              "description": "Uploads a ZIP-formatted shared flow configuration bundle to an organization. If the shared flow already exists, this creates a new revision of it. If the shared flow does not exist, this creates it. Once imported, the shared flow revision must be deployed before it can be accessed at runtime. The size limit of a shared flow bundle is 15 MB.",
              "httpMethod": "POST"
            },
            "get": {
              "response": {
                "$ref": "GoogleCloudApigeeV1SharedFlow"
              },
              "flatPath": "v1/organizations/{organizationsId}/sharedflows/{sharedflowsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/sharedflows/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the shared flow to get. Must be of the form: `organizations/{organization_id}/sharedflows/{shared_flow_id}`",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "apigee.organizations.sharedflows.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "description": "Gets a shared flow by name, including a list of its revisions."
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1SharedFlow"
              },
              "id": "apigee.organizations.sharedflows.delete",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. shared flow name of the form: `organizations/{organization_id}/sharedflows/{shared_flow_id}`",
                  "pattern": "^organizations/[^/]+/sharedflows/[^/]+$",
                  "location": "path"
                }
              },
              "description": "Deletes a shared flow and all it's revisions. The shared flow must be undeployed before you can delete it.",
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/sharedflows/{sharedflowsId}"
            }
          },
          "resources": {
            "revisions": {
              "resources": {
                "deployments": {
                  "methods": {
                    "list": {
                      "flatPath": "v1/organizations/{organizationsId}/sharedflows/{sharedflowsId}/revisions/{revisionsId}/deployments",
                      "path": "v1/{+parent}/deployments",
                      "httpMethod": "GET",
                      "id": "apigee.organizations.sharedflows.revisions.deployments.list",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^organizations/[^/]+/sharedflows/[^/]+/revisions/[^/]+$",
                          "location": "path",
                          "description": "Required. Name of the API proxy revision for which to return deployment information in the following format: `organizations/{org}/sharedflows/{sharedflow}/revisions/{rev}`.",
                          "required": true
                        }
                      },
                      "description": "Lists all deployments of a shared flow revision.",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1ListDeploymentsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "updateSharedFlowRevision": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1SharedFlowRevision"
                  },
                  "id": "apigee.organizations.sharedflows.revisions.updateSharedFlowRevision",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/sharedflows/{sharedflowsId}/revisions/{revisionsId}",
                  "httpMethod": "POST",
                  "description": "Updates a shared flow revision. This operation is only allowed on revisions which have never been deployed. After deployment a revision becomes immutable, even if it becomes undeployed. The payload is a ZIP-formatted shared flow. Content type must be either multipart/form-data or application/octet-stream.",
                  "request": {
                    "$ref": "GoogleApiHttpBody"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the shared flow revision to update. Must be of the form: `organizations/{organization_id}/sharedflows/{shared_flow_id}/revisions/{revision_id}`",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/sharedflows/[^/]+/revisions/[^/]+$",
                      "location": "path"
                    },
                    "validate": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Ignored. All uploads are validated regardless of the value of this field. It is kept for compatibility with existing APIs. Must be `true` or `false` if provided."
                    }
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleApiHttpBody"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/sharedflows/{sharedflowsId}/revisions/{revisionsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/sharedflows/[^/]+/revisions/[^/]+$",
                      "description": "Required. The name of the shared flow revision to get. Must be of the form: `organizations/{organization_id}/sharedflows/{shared_flow_id}/revisions/{revision_id}`",
                      "required": true
                    },
                    "format": {
                      "description": "Specify `bundle` to export the contents of the shared flow bundle. Otherwise, the bundle metadata is returned.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "Gets a revision of a shared flow. If `format=bundle` is passed, it instead outputs a shared flow revision as a ZIP-formatted bundle of code and config files.",
                  "id": "apigee.organizations.sharedflows.revisions.get",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "id": "apigee.organizations.sharedflows.revisions.delete",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1SharedFlowRevision"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a shared flow and all associated policies, resources, and revisions. You must undeploy the shared flow before deleting it.",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^organizations/[^/]+/sharedflows/[^/]+/revisions/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the shared flow revision to delete. Must be of the form: `organizations/{organization_id}/sharedflows/{shared_flow_id}/revisions/{revision_id}`"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/sharedflows/{sharedflowsId}/revisions/{revisionsId}"
                }
              }
            },
            "deployments": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListDeploymentsResponse"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/sharedflows/{sharedflowsId}/deployments",
                  "path": "v1/{+parent}/deployments",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the shared flow for which to return deployment information in the following format: `organizations/{org}/sharedflows/{sharedflow}`",
                      "required": true,
                      "pattern": "^organizations/[^/]+/sharedflows/[^/]+$"
                    }
                  },
                  "id": "apigee.organizations.sharedflows.deployments.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists all deployments of a shared flow."
                }
              }
            }
          }
        },
        "sites": {
          "resources": {
            "apicategories": {
              "methods": {
                "patch": {
                  "path": "v1/{+name}",
                  "description": "Updates a category on the portal.",
                  "flatPath": "v1/organizations/{organizationsId}/sites/{sitesId}/apicategories/{apicategoriesId}",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1ApiCategoryData"
                  },
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ApiCategory"
                  },
                  "id": "apigee.organizations.sites.apicategories.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/sites/[^/]+/apicategories/[^/]+$",
                      "description": "Required. Name of the category. Use the following structure in your request: `organizations/{org}/sites/{site}/apicategories/{apicategory}`",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "id": "apigee.organizations.sites.apicategories.delete",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/sites/[^/]+/apicategories/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the category. Use the following structure in your request: `organizations/{org}/sites/{site}/apicategories/{apicategory}`",
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE",
                  "flatPath": "v1/organizations/{organizationsId}/sites/{sitesId}/apicategories/{apicategoriesId}",
                  "description": "Deletes a category from the portal.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ApiResponseWrapper"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ApiCategory"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the category. Use the following structure in your request: `organizations/{org}/sites/{site}/apicategories/{apicategory}`",
                      "pattern": "^organizations/[^/]+/sites/[^/]+/apicategories/[^/]+$"
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/sites/{sitesId}/apicategories/{apicategoriesId}",
                  "description": "Gets a category on the portal.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apigee.organizations.sites.apicategories.get"
                },
                "list": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the portal. Use the following structure in your request: `organizations/{org}/sites/{site}`",
                      "pattern": "^organizations/[^/]+/sites/[^/]+$"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/sites/{sitesId}/apicategories",
                  "description": "Lists the categories on the portal.",
                  "id": "apigee.organizations.sites.apicategories.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListApiCategoriesResponse"
                  },
                  "path": "v1/{+parent}/apicategories"
                },
                "create": {
                  "description": "Creates a new category on the portal.",
                  "id": "apigee.organizations.sites.apicategories.create",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1ApiCategoryData"
                  },
                  "path": "v1/{+parent}/apicategories",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ApiCategory"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. Name of the portal. Use the following structure in your request: `organizations/{org}/sites/{site}`",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/sites/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/sites/{sitesId}/apicategories",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        },
        "deployments": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListDeploymentsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists all deployments of API proxies or shared flows.",
              "path": "v1/{+parent}/deployments",
              "id": "apigee.organizations.deployments.list",
              "flatPath": "v1/organizations/{organizationsId}/deployments",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. Name of the organization for which to return deployment information in the following format: `organizations/{org}`",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "sharedFlows": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Optional. Flag that specifies whether to return shared flow or API proxy deployments. Set to `true` to return shared flow deployments; set to `false` to return API proxy deployments. Defaults to `false`."
                }
              }
            }
          }
        },
        "analytics": {
          "resources": {
            "datastores": {
              "methods": {
                "test": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1TestDatastoreResponse"
                  },
                  "path": "v1/{+parent}/analytics/datastores:test",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Datastore"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Test if Datastore configuration is correct. This includes checking if credentials provided by customer have required permissions in target destination storage",
                  "id": "apigee.organizations.analytics.datastores.test",
                  "flatPath": "v1/organizations/{organizationsId}/analytics/datastores:test",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent organization name Must be of the form `organizations/{org}`"
                    }
                  }
                },
                "create": {
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Datastore"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent organization name. Must be of the form `organizations/{org}`.",
                      "type": "string",
                      "pattern": "^organizations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1/{+parent}/analytics/datastores",
                  "flatPath": "v1/organizations/{organizationsId}/analytics/datastores",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Datastore"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Create a Datastore for an org",
                  "id": "apigee.organizations.analytics.datastores.create"
                },
                "get": {
                  "httpMethod": "GET",
                  "id": "apigee.organizations.analytics.datastores.get",
                  "description": "Get a Datastore",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Datastore"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/analytics/datastores/[^/]+$",
                      "description": "Required. Resource name of the Datastore to be get. Must be of the form `organizations/{org}/analytics/datastores/{datastoreId}`"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/analytics/datastores/{datastoresId}",
                  "path": "v1/{+name}"
                },
                "update": {
                  "httpMethod": "PUT",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Datastore"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/analytics/datastores/{datastoresId}",
                  "description": "Update a Datastore",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The resource name of datastore to be updated. Must be of the form `organizations/{org}/analytics/datastores/{datastoreId}`",
                      "pattern": "^organizations/[^/]+/analytics/datastores/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "apigee.organizations.analytics.datastores.update",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Datastore"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}"
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/analytics/datastores/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. Resource name of the Datastore to be deleted. Must be of the form `organizations/{org}/analytics/datastores/{datastoreId}`",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "description": "Delete a Datastore from an org.",
                  "id": "apigee.organizations.analytics.datastores.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/analytics/datastores/{datastoresId}"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListDatastoresResponse"
                  },
                  "id": "apigee.organizations.analytics.datastores.list",
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent organization name. Must be of the form `organizations/{org}`.",
                      "location": "path",
                      "required": true
                    },
                    "targetType": {
                      "description": "Optional. TargetType is used to fetch all Datastores that match the type",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/analytics/datastores",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "List Datastores",
                  "path": "v1/{+parent}/analytics/datastores"
                }
              }
            }
          }
        },
        "developers": {
          "resources": {
            "apps": {
              "resources": {
                "attributes": {
                  "methods": {
                    "updateDeveloperAppAttribute": {
                      "httpMethod": "POST",
                      "description": "Updates a developer app attribute. **Note**: OAuth access tokens and Key Management Service (KMS) entities (apps, developers, and API products) are cached for 180 seconds (current default). Any custom attributes associated with these entities are cached for at least 180 seconds after the entity is accessed at runtime. Therefore, an `ExpiresIn` element on the OAuthV2 policy won't be able to expire an access token in less than 180 seconds.",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/attributes/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Required. Name of the developer app attribute. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}/attributes/{attribute}`",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Attribute"
                      },
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/attributes/{attributesId}",
                      "request": {
                        "$ref": "GoogleCloudApigeeV1Attribute"
                      },
                      "id": "apigee.organizations.developers.apps.attributes.updateDeveloperAppAttribute"
                    },
                    "list": {
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Attributes"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/attributes",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "description": "Required. Name of the developer app. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}`",
                          "type": "string",
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$"
                        }
                      },
                      "path": "v1/{+parent}/attributes",
                      "description": "Returns a list of all developer app attributes.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "id": "apigee.organizations.developers.apps.attributes.list"
                    },
                    "get": {
                      "id": "apigee.organizations.developers.apps.attributes.get",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Attribute"
                      },
                      "path": "v1/{+name}",
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/attributes/{attributesId}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. Name of the developer app attribute. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}/attributes/{attribute}`",
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/attributes/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "description": "Returns a developer app attribute."
                    },
                    "delete": {
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/attributes/{attributesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Attribute"
                      },
                      "path": "v1/{+name}",
                      "description": "Deletes a developer app attribute.",
                      "httpMethod": "DELETE",
                      "id": "apigee.organizations.developers.apps.attributes.delete",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/attributes/[^/]+$",
                          "description": "Required. Name of the developer app attribute. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}/attributes/{attribute}`",
                          "type": "string",
                          "location": "path"
                        }
                      }
                    }
                  }
                },
                "keys": {
                  "resources": {
                    "create": {
                      "methods": {
                        "create": {
                          "parameters": {
                            "parent": {
                              "description": "Parent of the developer app key. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps`",
                              "type": "string",
                              "required": true,
                              "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                              "location": "path"
                            }
                          },
                          "id": "apigee.organizations.developers.apps.keys.create.create",
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                          },
                          "description": "Creates a custom consumer key and secret for a developer app. This is particularly useful if you want to migrate existing consumer keys and secrets to Apigee hybrid from another system. Consumer keys and secrets can contain letters, numbers, underscores, and hyphens. No other special characters are allowed. To avoid service disruptions, a consumer key and secret should not exceed 2 KBs each. **Note**: When creating the consumer key and secret, an association to API products will not be made. Therefore, you should not specify the associated API products in your request. Instead, use the UpdateDeveloperAppKey API to make the association after the consumer key and secret are created. If a consumer key and secret already exist, you can keep them or delete them using the DeleteDeveloperAppKey API.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "POST",
                          "path": "v1/{+parent}/keys/create",
                          "request": {
                            "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                          },
                          "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys/create"
                        }
                      }
                    },
                    "apiproducts": {
                      "methods": {
                        "updateDeveloperAppKeyApiProduct": {
                          "httpMethod": "POST",
                          "id": "apigee.organizations.developers.apps.keys.apiproducts.updateDeveloperAppKeyApiProduct",
                          "path": "v1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Approve or revoke an app's consumer key. After a consumer key is approved, the app can use it to access APIs. A consumer key that is revoked or pending cannot be used to access an API. Any access tokens associated with a revoked consumer key will remain active. However, Apigee hybrid checks the status of the consumer key and if set to `revoked` will not allow access to the API.",
                          "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys/{keysId}/apiproducts/{apiproductsId}",
                          "parameters": {
                            "name": {
                              "description": "Name of the API product in the developer app key in the following format: `organizations/{org}/developers/{developer_email}/apps/{app}/keys/{key}/apiproducts/{apiproduct}`",
                              "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/keys/[^/]+/apiproducts/[^/]+$",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            },
                            "action": {
                              "location": "query",
                              "type": "string",
                              "description": "Approve or revoke the consumer key by setting this value to `approve` or `revoke`, respectively."
                            }
                          },
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          }
                        },
                        "delete": {
                          "response": {
                            "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                          },
                          "path": "v1/{+name}",
                          "id": "apigee.organizations.developers.apps.keys.apiproducts.delete",
                          "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys/{keysId}/apiproducts/{apiproductsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Removes an API product from an app's consumer key. After the API product is removed, the app cannot access the API resources defined in that API product. **Note**: The consumer key is not removed, only its association with the API product.",
                          "httpMethod": "DELETE",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/keys/[^/]+/apiproducts/[^/]+$",
                              "required": true,
                              "type": "string",
                              "description": "Name of the API product in the developer app key in the following format: `organizations/{org}/developers/{developer_email}/apps/{app}/keys/{key}/apiproducts/{apiproduct}`"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    }
                  },
                  "methods": {
                    "updateDeveloperAppKey": {
                      "description": "Adds an API product to a developer app key, enabling the app that holds the key to access the API resources bundled in the API product. In addition, you can add attributes to a developer app key. This API replaces the existing attributes with those specified in the request. Include or exclude any existing attributes that you want to retain or delete, respectively. You can use the same key to access all API products associated with the app.",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                      },
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys/{keysId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "apigee.organizations.developers.apps.keys.updateDeveloperAppKey",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/keys/[^/]+$",
                          "description": "Name of the developer app key. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}/keys/{key}`",
                          "required": true,
                          "location": "path"
                        },
                        "action": {
                          "type": "string",
                          "location": "query",
                          "description": "Approve or revoke the consumer key by setting this value to `approve` or `revoke`, respectively."
                        }
                      },
                      "path": "v1/{+name}",
                      "httpMethod": "POST"
                    },
                    "replaceDeveloperAppKey": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                      },
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys/{keysId}",
                      "path": "v1/{+name}",
                      "description": "Updates the scope of an app. This API replaces the existing scopes with those specified in the request. Include or exclude any existing scopes that you want to retain or delete, respectively. The specified scopes must already be defined for the API products associated with the app. This API sets the `scopes` element under the `apiProducts` element in the attributes of the app.",
                      "httpMethod": "PUT",
                      "request": {
                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/keys/[^/]+$",
                          "description": "Name of the developer app key. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}/keys/{key}`",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "id": "apigee.organizations.developers.apps.keys.replaceDeveloperAppKey",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/keys/[^/]+$",
                          "type": "string",
                          "description": "Name of the developer app key. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}/keys/{key}`",
                          "location": "path",
                          "required": true
                        }
                      },
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys/{keysId}",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                      },
                      "description": "Deletes an app's consumer key and removes all API products associated with the app. After the consumer key is deleted, it cannot be used to access any APIs. **Note**: After you delete a consumer key, you may want to: 1. Create a new consumer key and secret for the developer app using the CreateDeveloperAppKey API, and subsequently add an API product to the key using the UpdateDeveloperAppKey API. 2. Delete the developer app, if it is no longer required.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "DELETE",
                      "id": "apigee.organizations.developers.apps.keys.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}"
                    },
                    "get": {
                      "path": "v1/{+name}",
                      "description": "Returns details for a consumer key for a developer app, including the key and secret value, associated API products, and other information.",
                      "id": "apigee.organizations.developers.apps.keys.get",
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/keys/[^/]+$",
                          "description": "Name of the developer app key. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}/keys/{key}`",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys/{keysId}",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                      }
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates a custom consumer key and secret for a developer app. This is particularly useful if you want to migrate existing consumer keys and secrets to Apigee hybrid from another system. Consumer keys and secrets can contain letters, numbers, underscores, and hyphens. No other special characters are allowed. To avoid service disruptions, a consumer key and secret should not exceed 2 KBs each. **Note**: When creating the consumer key and secret, an association to API products will not be made. Therefore, you should not specify the associated API products in your request. Instead, use the UpdateDeveloperAppKey API to make the association after the consumer key and secret are created. If a consumer key and secret already exist, you can keep them or delete them using the DeleteDeveloperAppKey API.",
                      "request": {
                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                      },
                      "path": "v1/{+parent}/keys",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                      },
                      "httpMethod": "POST",
                      "id": "apigee.organizations.developers.apps.keys.create",
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "Parent of the developer app key. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps`",
                          "required": true,
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "attributes": {
                  "path": "v1/{+name}/attributes",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/attributes",
                  "description": "Updates attributes for a developer app. This API replaces the current attributes with those specified in the request.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apigee.organizations.developers.apps.attributes",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attributes"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Attributes"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the developer app. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}`",
                      "required": true
                    }
                  }
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "startKey": {
                      "location": "query",
                      "description": "**Note**: Must be used in conjunction with the `count` parameter. Name of the developer app from which to start displaying the list of developer apps. For example, if you're returning 50 developer apps at a time (using the `count` query parameter), you can view developer apps 50-99 by entering the name of the 50th developer app. The developer app name is case sensitive.",
                      "type": "string"
                    },
                    "shallowExpand": {
                      "location": "query",
                      "description": "Optional. Specifies whether to expand the results in shallow mode. Set to `true` to expand the results in shallow mode.",
                      "type": "boolean"
                    },
                    "expand": {
                      "type": "boolean",
                      "description": "Optional. Specifies whether to expand the results. Set to `true` to expand the results. This query parameter is not valid if you use the `count` or `startKey` query parameters.",
                      "location": "query"
                    },
                    "count": {
                      "type": "string",
                      "location": "query",
                      "description": "Number of developer apps to return in the API call. Use with the `startKey` parameter to provide more targeted filtering. The limit is 1000.",
                      "format": "int64"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the developer. Use the following structure in your request: `organizations/{org}/developers/{developer_email}`",
                      "pattern": "^organizations/[^/]+/developers/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListDeveloperAppsResponse"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps",
                  "id": "apigee.organizations.developers.apps.list",
                  "description": "Lists all apps created by a developer in an Apigee organization. Optionally, you can request an expanded view of the developer apps. A maximum of 100 developer apps are returned per API call. You can paginate the list of deveoper apps returned using the `startKey` and `count` query parameters.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/apps",
                  "httpMethod": "GET"
                },
                "update": {
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "httpMethod": "PUT",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "Updates the details for a developer app. In addition, you can add an API product to a developer app and automatically generate an API key for the app to use when calling APIs in the API product. If you want to use an existing API key for the API product, add the API product to the API key using the UpdateDeveloperAppKey API. Using this API, you cannot update the following: * App name as it is the primary key used to identify the app and cannot be changed. * Scopes associated with the app. Instead, use the ReplaceDeveloperAppKey API. This API replaces the existing attributes with those specified in the request. Include or exclude any existing attributes that you want to retain or delete, respectively.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.developers.apps.update",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the developer app. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}`",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  }
                },
                "generateKeyPairOrUpdateDeveloperAppStatus": {
                  "description": "Manages access to a developer app by enabling you to: * Approve or revoke a developer app * Generate a new consumer key and secret for a developer app To approve or revoke a developer app, set the `action` query parameter to `approved` or `revoked`, respectively, and the `Content-Type` header to `application/octet-stream`. If a developer app is revoked, none of its API keys are valid for API calls even though the keys are still `approved`. If successful, the API call returns the following HTTP status code: `204 No Content` To generate a new consumer key and secret for a developer app, pass the new key/secret details. Rather than replace an existing key, this API generates a new key. In this case, multiple key pairs may be associated with a single developer app. Each key pair has an independent status (`approved` or `revoked`) and expiration time. Any approved, non-expired key can be used in an API call. For example, if you're using API key rotation, you can generate new keys with expiration times that overlap keys that are going to expire. You might also generate a new consumer key/secret if the security of the original key/secret is compromised. The `keyExpiresIn` property defines the expiration time for the API key in milliseconds. If you don't set this property or set it to `-1`, the API key never expires. **Notes**: * When generating a new key/secret, this API replaces the existing attributes, notes, and callback URLs with those specified in the request. Include or exclude any existing information that you want to retain or delete, respectively. * To migrate existing consumer keys and secrets to hybrid from another system, see the CreateDeveloperAppKey API.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apigee.organizations.developers.apps.generateKeyPairOrUpdateDeveloperAppStatus",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. Name of the developer app. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}`"
                    },
                    "action": {
                      "type": "string",
                      "description": "Action. Valid values are `approve` or `revoke`.",
                      "location": "query"
                    }
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "query": {
                      "description": "**Note**: Must be used in conjunction with the `entity` parameter. Set to `count` to return the number of API resources that have been approved for access by a developer app in the specified Apigee organization.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "Required. Name of the developer app. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}`",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "entity": {
                      "location": "query",
                      "description": "**Note**: Must be used in conjunction with the `query` parameter. Set to `apiresources` to return the number of API resources that have been approved for access by a developer app in the specified Apigee organization.",
                      "type": "string"
                    }
                  },
                  "id": "apigee.organizations.developers.apps.get",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Returns the details for a developer app.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  }
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. Name of the developer. Use the following structure in your request: `organizations/{org}/developers/{developer_email}`",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/developers/[^/]+$",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.developers.apps.create",
                  "httpMethod": "POST",
                  "description": "Creates an app associated with a developer. This API associates the developer app with the specified API product and auto-generates an API key for the app to use in calls to API proxies inside that API product. The `name` is the unique ID of the app that you can use in API calls. The `DisplayName` (set as an attribute) appears in the UI. If you don't set the `DisplayName` attribute, the `name` appears in the UI.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps",
                  "path": "v1/{+parent}/apps"
                },
                "delete": {
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "id": "apigee.organizations.developers.apps.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a developer app. **Note**: The delete operation is asynchronous. The developer app is deleted immediately, but its associated resources, such as app keys or access tokens, may take anywhere from a few seconds to a few minutes to be deleted.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                      "description": "Required. Name of the developer app. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}`",
                      "type": "string",
                      "required": true
                    }
                  }
                }
              }
            },
            "attributes": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/attributes",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. Email address of the developer for which attributes are being listed in the following format: `organizations/{org}/developers/{developer_email}`",
                      "pattern": "^organizations/[^/]+/developers/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "path": "v1/{+parent}/attributes",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attributes"
                  },
                  "description": "Returns a list of all developer attributes.",
                  "id": "apigee.organizations.developers.attributes.list"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Name of the developer attribute. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/attributes/{attribute}`",
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/attributes/[^/]+$"
                    }
                  },
                  "id": "apigee.organizations.developers.attributes.delete",
                  "description": "Deletes a developer attribute.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/attributes/{attributesId}"
                },
                "updateDeveloperAttribute": {
                  "id": "apigee.organizations.developers.attributes.updateDeveloperAttribute",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/attributes/{attributesId}",
                  "description": "Updates a developer attribute. **Note**: OAuth access tokens and Key Management Service (KMS) entities (apps, developers, and API products) are cached for 180 seconds (default). Any custom attributes associated with these entities are cached for at least 180 seconds after the entity is accessed at runtime. Therefore, an `ExpiresIn` element on the OAuthV2 policy won't be able to expire an access token in less than 180 seconds.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/developers/[^/]+/attributes/[^/]+$",
                      "description": "Required. Name of the developer attribute. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/attributes/{attribute}`",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "path": "v1/{+name}"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the developer attribute. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/attributes/{attribute}`",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/attributes/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "description": "Returns the value of the specified developer attribute.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/attributes/{attributesId}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "id": "apigee.organizations.developers.attributes.get"
                }
              }
            }
          },
          "methods": {
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "description": "Required. Name of the Apigee organization in which the developer is created. Use the following structure in your request: `organizations/{org}`."
                }
              },
              "id": "apigee.organizations.developers.create",
              "path": "v1/{+parent}/developers",
              "request": {
                "$ref": "GoogleCloudApigeeV1Developer"
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1Developer"
              },
              "description": "Creates a developer. Once created, the developer can register an app and obtain an API key. At creation time, a developer is set as `active`. To change the developer status, use the SetDeveloperStatus API.",
              "flatPath": "v1/organizations/{organizationsId}/developers",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "id": "apigee.organizations.developers.delete",
              "description": "Deletes a developer. All apps and API keys associated with the developer are also removed. **Warning**: This API will permanently delete the developer and related artifacts. To avoid permanently deleting developers and their artifacts, set the developer status to `inactive` using the SetDeveloperStatus API. **Note**: The delete operation is asynchronous. The developer app is deleted immediately, but its associated resources, such as apps and API keys, may take anywhere from a few seconds to a few minutes to be deleted.",
              "response": {
                "$ref": "GoogleCloudApigeeV1Developer"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. Email address of the developer. Use the following structure in your request: `organizations/{org}/developers/{developer_email}`",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/developers/[^/]+$",
                  "location": "path",
                  "required": true
                }
              }
            },
            "setDeveloperStatus": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "action": {
                  "description": "Status of the developer. Valid values are `active` and `inactive`.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "description": "Required. Email address of the developer. Use the following structure in your request: `organizations/{org}/developers/{developer_email}`",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/developers/[^/]+$"
                }
              },
              "httpMethod": "POST",
              "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ],
[...]
