{
  "discoveryVersion": "v1",
  "id": "apigee:v1",
  "basePath": "",
  "title": "Apigee API",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "ownerName": "Google",
  "rootUrl": "https://apigee.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://apigee.mtls.googleapis.com/",
  "servicePath": "",
  "name": "apigee",
  "baseUrl": "https://apigee.googleapis.com/",
  "version": "v1",
  "resources": {
    "organizations": {
      "methods": {
        "update": {
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/organizations/{organizationsId}",
          "id": "apigee.organizations.update",
          "httpMethod": "PUT",
          "description": "Updates the properties for an Apigee organization. No other fields in the organization profile will be updated.",
          "request": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "response": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. Apigee organization name in the following format: `organizations/{org}`",
              "required": true
            }
          }
        },
        "setSyncAuthorization": {
          "response": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          },
          "description": "Sets the permissions required to allow the Synchronizer to download environment data from the control plane. You must call this API to enable proper functioning of hybrid. Pass the ETag when calling `setSyncAuthorization` to ensure that you are updating the correct version. To get an ETag, call [getSyncAuthorization](getSyncAuthorization). If you don't pass the ETag in the call to `setSyncAuthorization`, then the existing authorization is overwritten indiscriminately. For more information, see [Configure the Synchronizer](https://cloud.google.com/apigee/docs/hybrid/latest/synchronizer-access). **Note**: Available to Apigee hybrid only.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}:setSyncAuthorization",
          "id": "apigee.organizations.setSyncAuthorization",
          "request": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          },
          "flatPath": "v1/organizations/{organizationsId}:setSyncAuthorization",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+$",
              "required": true,
              "type": "string",
              "description": "Required. Name of the Apigee organization. Use the following structure in your request: `organizations/{org}`",
              "location": "path"
            }
          },
          "httpMethod": "POST"
        },
        "getRuntimeConfig": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^organizations/[^/]+/runtimeConfig$",
              "type": "string",
              "description": "Required. Name of the runtime config for the organization in the following format: 'organizations/{org}/runtimeConfig'.",
              "required": true
            }
          },
          "description": "Get runtime config for an organization.",
          "response": {
            "$ref": "GoogleCloudApigeeV1RuntimeConfig"
          },
          "flatPath": "v1/organizations/{organizationsId}/runtimeConfig",
          "id": "apigee.organizations.getRuntimeConfig",
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET"
        },
        "create": {
          "flatPath": "v1/organizations",
          "path": "v1/organizations",
          "request": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "parent": {
              "description": "Required. Name of the GCP project in which to associate the Apigee organization. Pass the information as a query parameter using the following structure in your request: `projects/`",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "id": "apigee.organizations.create",
          "description": "Creates an Apigee organization. See [Create an Apigee organization](https://cloud.google.com/apigee/docs/api-platform/get-started/create-org).",
          "httpMethod": "POST"
        },
        "getDeployedIngressConfig": {
          "flatPath": "v1/organizations/{organizationsId}/deployedIngressConfig",
          "path": "v1/{+name}",
          "description": "Gets the deployed ingress configuration for an organization.",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleCloudApigeeV1IngressConfig"
          },
          "parameters": {
            "view": {
              "enumDescriptions": [
                "The default/unset value. The API will default to the BASIC view.",
                "Include all ingress config data necessary for the runtime to configure ingress, but no more. Routing rules will include only basepath and destination environment. This the default value.",
                "Include all ingress config data, including internal debug info for each routing rule such as the proxy claiming a particular basepath and when the routing rule first appeared in the env group."
              ],
              "location": "query",
              "enum": [
                "INGRESS_CONFIG_VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "type": "string",
              "description": "When set to FULL, additional details about the specific deployments receiving traffic will be included in the IngressConfig response's RoutingRules."
            },
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^organizations/[^/]+/deployedIngressConfig$",
              "description": "Required. Name of the deployed configuration for the organization in the following format: 'organizations/{org}/deployedIngressConfig'.",
              "required": true
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "apigee.organizations.getDeployedIngressConfig"
        },
        "getSyncAuthorization": {
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Name of the Apigee organization. Use the following structure in your request: `organizations/{org}`",
              "pattern": "^organizations/[^/]+$"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "path": "v1/{+name}:getSyncAuthorization",
          "id": "apigee.organizations.getSyncAuthorization",
          "request": {
            "$ref": "GoogleCloudApigeeV1GetSyncAuthorizationRequest"
          },
          "response": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          },
          "description": "Lists the service accounts with the permissions required to allow the Synchronizer to download environment data from the control plane. An ETag is returned in the response to `getSyncAuthorization`. Pass that ETag when calling [setSyncAuthorization](setSyncAuthorization) to ensure that you are updating the correct version. If you don't pass the ETag in the call to `setSyncAuthorization`, then the existing authorization is overwritten indiscriminately. For more information, see [Configure the Synchronizer](https://cloud.google.com/apigee/docs/hybrid/latest/synchronizer-access). **Note**: Available to Apigee hybrid only.",
          "flatPath": "v1/organizations/{organizationsId}:getSyncAuthorization"
        },
        "list": {
          "description": "Lists the Apigee organizations and associated GCP projects that you have permission to access. See [Understanding organizations](https://cloud.google.com/apigee/docs/api-platform/fundamentals/organization-structure).",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleCloudApigeeV1ListOrganizationsResponse"
          },
          "parameters": {
            "parent": {
              "location": "path",
              "description": "Required. Use the following structure in your request: `organizations`",
              "required": true,
              "pattern": "^organizations$",
              "type": "string"
            }
          },
          "flatPath": "v1/organizations",
          "id": "apigee.organizations.list",
          "parameterOrder": [
            "parent"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/{+parent}"
        },
        "delete": {
          "description": "Delete an Apigee organization. For organizations with BillingType EVALUATION, an immediate deletion is performed. For paid organizations, a soft-deletion is performed. The organization can be restored within the soft-deletion period - which can be controlled using the retention field in the request.",
          "flatPath": "v1/organizations/{organizationsId}",
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "id": "apigee.organizations.delete",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "parameters": {
            "retention": {
              "type": "string",
              "location": "query",
              "enum": [
                "DELETION_RETENTION_UNSPECIFIED",
                "MINIMUM"
              ],
              "enumDescriptions": [
                "Default data retention settings will be applied.",
                "Organization data will be retained for the minimum period of 24 hours."
              ],
              "description": "Optional. This setting is only applicable for organizations that are soft-deleted (i.e. BillingType is not EVALUATION). It controls how long Organization data will be retained after the initial delete operation completes. During this period, the Organization may be restored to its last known state. After this period, the Organization will no longer be able to be restored."
            },
            "name": {
              "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}`",
              "type": "string",
              "required": true,
              "pattern": "^organizations/[^/]+$",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "DELETE"
        },
        "get": {
          "response": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "flatPath": "v1/organizations/{organizationsId}",
          "description": "Gets the profile for an Apigee organization. See [Understanding organizations](https://cloud.google.com/apigee/docs/api-platform/fundamentals/organization-structure).",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+$",
              "description": "Required. Apigee organization name in the following format: `organizations/{org}`",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "apigee.organizations.get",
          "httpMethod": "GET"
        },
        "setAddons": {
          "path": "v1/{+org}:setAddons",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "org"
          ],
          "httpMethod": "POST",
          "flatPath": "v1/organizations/{organizationsId}:setAddons",
          "id": "apigee.organizations.setAddons",
          "parameters": {
            "org": {
              "location": "path",
              "type": "string",
              "pattern": "^organizations/[^/]+$",
              "required": true,
              "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}`"
            }
          },
          "request": {
            "$ref": "GoogleCloudApigeeV1SetAddonsRequest"
          },
          "description": "Configures the add-ons for the Apigee organization. The existing add-on configuration will be fully replaced."
        },
        "getProjectMapping": {
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleCloudApigeeV1OrganizationProjectMapping"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/organizations/{organizationsId}:getProjectMapping",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+$",
              "type": "string",
              "required": true,
              "description": "Required. Apigee organization name in the following format: `organizations/{org}`",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "description": "Gets the project ID and region for an Apigee organization.",
          "id": "apigee.organizations.getProjectMapping",
          "path": "v1/{+name}:getProjectMapping"
        }
      },
      "resources": {
        "deployments": {
          "methods": {
            "list": {
              "id": "apigee.organizations.deployments.list",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/organizations/{organizationsId}/deployments",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListDeploymentsResponse"
              },
              "path": "v1/{+parent}/deployments",
              "parameters": {
                "sharedFlows": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Optional. Flag that specifies whether to return shared flow or API proxy deployments. Set to `true` to return shared flow deployments; set to `false` to return API proxy deployments. Defaults to `false`."
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. Name of the organization for which to return deployment information in the following format: `organizations/{org}`",
                  "pattern": "^organizations/[^/]+$",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists all deployments of API proxies or shared flows."
            }
          }
        },
        "sharedflows": {
          "methods": {
            "delete": {
              "parameters": {
                "name": {
                  "description": "Required. shared flow name of the form: `organizations/{organization_id}/sharedflows/{shared_flow_id}`",
                  "pattern": "^organizations/[^/]+/sharedflows/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "id": "apigee.organizations.sharedflows.delete",
              "flatPath": "v1/organizations/{organizationsId}/sharedflows/{sharedflowsId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "description": "Deletes a shared flow and all it's revisions. The shared flow must be undeployed before you can delete it.",
              "response": {
                "$ref": "GoogleCloudApigeeV1SharedFlow"
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "path": "v1/{+parent}/sharedflows",
              "id": "apigee.organizations.sharedflows.list",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListSharedFlowsResponse"
              },
              "parameters": {
                "includeRevisions": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Indicates whether to include a list of revisions in the response."
                },
                "includeMetaData": {
                  "description": "Indicates whether to include shared flow metadata in the response.",
                  "location": "query",
                  "type": "boolean"
                },
                "parent": {
                  "required": true,
                  "description": "Required. The name of the parent organization under which to get shared flows. Must be of the form: `organizations/{organization_id}`",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "type": "string"
                }
              },
              "description": "Lists all shared flows in the organization.",
              "flatPath": "v1/organizations/{organizationsId}/sharedflows",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets a shared flow by name, including a list of its revisions.",
              "response": {
                "$ref": "GoogleCloudApigeeV1SharedFlow"
              },
              "id": "apigee.organizations.sharedflows.get",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/sharedflows/{sharedflowsId}",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The name of the shared flow to get. Must be of the form: `organizations/{organization_id}/sharedflows/{shared_flow_id}`",
                  "pattern": "^organizations/[^/]+/sharedflows/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              }
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "query",
                  "description": "Required. The name to give the shared flow",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "description": "Required. The name of the parent organization under which to create the shared flow. Must be of the form: `organizations/{organization_id}`",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "type": "string"
                },
                "action": {
                  "description": "Required. Must be set to either `import` or `validate`.",
                  "type": "string",
                  "location": "query"
                }
              },
              "path": "v1/{+parent}/sharedflows",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudApigeeV1SharedFlowRevision"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/organizations/{organizationsId}/sharedflows",
              "request": {
                "$ref": "GoogleApiHttpBody"
              },
              "description": "Uploads a ZIP-formatted shared flow configuration bundle to an organization. If the shared flow already exists, this creates a new revision of it. If the shared flow does not exist, this creates it. Once imported, the shared flow revision must be deployed before it can be accessed at runtime. The size limit of a shared flow bundle is 15 MB.",
              "id": "apigee.organizations.sharedflows.create"
            }
          },
          "resources": {
            "deployments": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListDeploymentsResponse"
                  },
                  "id": "apigee.organizations.sharedflows.deployments.list",
                  "description": "Lists all deployments of a shared flow.",
                  "path": "v1/{+parent}/deployments",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/sharedflows/[^/]+$",
                      "description": "Required. Name of the shared flow for which to return deployment information in the following format: `organizations/{org}/sharedflows/{sharedflow}`",
                      "type": "string",
                      "required": true
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/sharedflows/{sharedflowsId}/deployments",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "revisions": {
              "resources": {
                "deployments": {
                  "methods": {
                    "list": {
                      "path": "v1/{+parent}/deployments",
                      "id": "apigee.organizations.sharedflows.revisions.deployments.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^organizations/[^/]+/sharedflows/[^/]+/revisions/[^/]+$",
                          "type": "string",
                          "description": "Required. Name of the API proxy revision for which to return deployment information in the following format: `organizations/{org}/sharedflows/{sharedflow}/revisions/{rev}`."
                        }
                      },
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1ListDeploymentsResponse"
                      },
                      "flatPath": "v1/organizations/{organizationsId}/sharedflows/{sharedflowsId}/revisions/{revisionsId}/deployments",
                      "description": "Lists all deployments of a shared flow revision.",
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "delete": {
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/sharedflows/[^/]+/revisions/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the shared flow revision to delete. Must be of the form: `organizations/{organization_id}/sharedflows/{shared_flow_id}/revisions/{revision_id}`",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1SharedFlowRevision"
                  },
                  "id": "apigee.organizations.sharedflows.revisions.delete",
                  "path": "v1/{+name}",
                  "description": "Deletes a shared flow and all associated policies, resources, and revisions. You must undeploy the shared flow before deleting it.",
                  "flatPath": "v1/organizations/{organizationsId}/sharedflows/{sharedflowsId}/revisions/{revisionsId}"
                },
                "updateSharedFlowRevision": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the shared flow revision to update. Must be of the form: `organizations/{organization_id}/sharedflows/{shared_flow_id}/revisions/{revision_id}`",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/sharedflows/[^/]+/revisions/[^/]+$"
                    },
                    "validate": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Ignored. All uploads are validated regardless of the value of this field. It is kept for compatibility with existing APIs. Must be `true` or `false` if provided."
                    }
                  },
                  "description": "Updates a shared flow revision. This operation is only allowed on revisions which have never been deployed. After deployment a revision becomes immutable, even if it becomes undeployed. The payload is a ZIP-formatted shared flow. Content type must be either multipart/form-data or application/octet-stream.",
                  "request": {
                    "$ref": "GoogleApiHttpBody"
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1SharedFlowRevision"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+name}",
                  "id": "apigee.organizations.sharedflows.revisions.updateSharedFlowRevision",
                  "flatPath": "v1/organizations/{organizationsId}/sharedflows/{sharedflowsId}/revisions/{revisionsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "description": "Gets a revision of a shared flow. To download the shared flow configuration bundle for the specified revision as a zip file, set the `format` query parameter to `bundle`. If you are using curl, specify `-o filename.zip` to save the output to a file; otherwise, it displays to `stdout`. Then, develop the shared flow configuration locally and upload the updated sharedFlow configuration revision, as described in [updateSharedFlowRevision](updateSharedFlowRevision).",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/sharedflows/[^/]+/revisions/[^/]+$",
                      "description": "Required. The name of the shared flow revision to get. Must be of the form: `organizations/{organization_id}/sharedflows/{shared_flow_id}/revisions/{revision_id}`",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "format": {
                      "description": "Specify `bundle` to export the contents of the shared flow bundle. Otherwise, the bundle metadata is returned.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apigee.organizations.sharedflows.revisions.get",
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/sharedflows/{sharedflowsId}/revisions/{revisionsId}",
                  "response": {
                    "$ref": "GoogleApiHttpBody"
                  }
                }
              }
            }
          }
        },
        "instances": {
          "resources": {
            "canaryevaluations": {
              "methods": {
                "create": {
                  "id": "apigee.organizations.instances.canaryevaluations.create",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1CanaryEvaluation"
                  },
                  "description": "Creates a new canary evaluation for an organization.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}/instances/{instance}`.",
                      "pattern": "^organizations/[^/]+/instances/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v1/{+parent}/canaryevaluations",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/canaryevaluations"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the CanaryEvaluation. Use the following structure in your request: `organizations/{org}/instances/*/canaryevaluations/{evaluation}`",
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/instances/[^/]+/canaryevaluations/[^/]+$",
                      "required": true
                    }
                  },
                  "description": "Gets a CanaryEvaluation for an organization.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1CanaryEvaluation"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/canaryevaluations/{canaryevaluationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "id": "apigee.organizations.instances.canaryevaluations.get"
                }
              }
            },
            "natAddresses": {
              "methods": {
                "activate": {
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/natAddresses/{natAddressesId}:activate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apigee.organizations.instances.natAddresses.activate",
                  "httpMethod": "POST",
                  "path": "v1/{+name}:activate",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1ActivateNatAddressRequest"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/instances/[^/]+/natAddresses/[^/]+$",
                      "required": true,
                      "description": "Required. Name of the nat address. Use the following structure in your request: `organizations/{org}/instances/{instances}/natAddresses/{nataddress}``",
                      "type": "string"
                    }
                  },
                  "description": "Activates the NAT address. The Apigee instance can now use this for Internet egress traffic. **Note:** Not supported for Apigee hybrid."
                },
                "create": {
                  "path": "v1/{+parent}/natAddresses",
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/natAddresses",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1NatAddress"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/instances/[^/]+$",
                      "description": "Required. Name of the instance. Use the following structure in your request: `organizations/{org}/instances/{instance}`",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a NAT address. The address is created in the RESERVED state and a static external IP address will be provisioned. At this time, the instance will not use this IP address for Internet egress traffic. The address can be activated for use once any required firewall IP whitelisting has been completed. **Note:** Not supported for Apigee hybrid.",
                  "id": "apigee.organizations.instances.natAddresses.create"
                },
                "get": {
                  "id": "apigee.organizations.instances.natAddresses.get",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/natAddresses/{natAddressesId}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1NatAddress"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets the details of a NAT address. **Note:** Not supported for Apigee hybrid.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/instances/[^/]+/natAddresses/[^/]+$",
                      "location": "path",
                      "description": "Required. Name of the nat address. Use the following structure in your request: `organizations/{org}/instances/{instances}/natAddresses/{nataddress}`"
                    }
                  }
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/natAddresses/{natAddressesId}",
                  "description": "Deletes the NAT address. Connections that are actively using the address are drained before it is removed. **Note:** Not supported for Apigee hybrid.",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the nat address. Use the following structure in your request: `organizations/{org}/instances/{instances}/natAddresses/{nataddress}``",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/instances/[^/]+/natAddresses/[^/]+$"
                    }
                  },
                  "id": "apigee.organizations.instances.natAddresses.delete",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE"
                },
                "list": {
                  "parameters": {
                    "pageToken": {
                      "description": "Page token, returned from a previous ListNatAddresses call, that you can use to retrieve the next page of content.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Maximum number of natAddresses to return. Defaults to 25.",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^organizations/[^/]+/instances/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the instance. Use the following structure in your request: `organizations/{org}/instances/{instance}`",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/natAddresses",
                  "id": "apigee.organizations.instances.natAddresses.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists the NAT addresses for an Apigee instance. **Note:** Not supported for Apigee hybrid.",
                  "path": "v1/{+parent}/natAddresses",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListNatAddressesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "attachments": {
              "methods": {
                "delete": {
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/attachments/{attachmentsId}",
                  "description": "Deletes an attachment. **Note:** Not supported for Apigee hybrid.",
                  "httpMethod": "DELETE",
                  "id": "apigee.organizations.instances.attachments.delete",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Name of the attachment. Use the following structure in your request: `organizations/{org}/instances/{instance}/attachments/{attachment}`.",
                      "required": true,
                      "location": "path",
                      "pattern": "^organizations/[^/]+/instances/[^/]+/attachments/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Maximum number of instance attachments to return. Defaults to 25."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Page token, returned by a previous ListInstanceAttachments call, that you can use to retrieve the next page of content.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}/instances/{instance}`",
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/instances/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/attachments",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListInstanceAttachmentsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "id": "apigee.organizations.instances.attachments.list",
                  "description": "Lists all attachments to an instance. **Note:** Not supported for Apigee hybrid.",
                  "path": "v1/{+parent}/attachments"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1InstanceAttachment"
                  },
                  "description": "Gets an attachment. **Note:** Not supported for Apigee hybrid.",
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/attachments/{attachmentsId}",
                  "id": "apigee.organizations.instances.attachments.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the attachment. Use the following structure in your request: `organizations/{org}/instances/{instance}/attachments/{attachment}`",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^organizations/[^/]+/instances/[^/]+/attachments/[^/]+$"
                    }
                  }
                },
                "create": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+parent}/attachments",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/attachments",
                  "id": "apigee.organizations.instances.attachments.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/instances/[^/]+$",
                      "description": "Required. Name of the instance. Use the following structure in your request: `organizations/{org}/instances/{instance}`.",
                      "location": "path"
                    }
                  },
                  "description": "Creates a new attachment of an environment to an instance. **Note:** Not supported for Apigee hybrid.",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1InstanceAttachment"
                  }
                }
              }
            }
          },
          "methods": {
            "get": {
              "response": {
                "$ref": "GoogleCloudApigeeV1Instance"
              },
              "id": "apigee.organizations.instances.get",
              "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the details for an Apigee runtime instance. **Note:** Not supported for Apigee hybrid.",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/instances/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the instance. Use the following structure in your request: `organizations/{org}/instances/{instance}`."
                }
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET"
            },
            "reportStatus": {
              "path": "v1/{+instance}:reportStatus",
              "response": {
                "$ref": "GoogleCloudApigeeV1ReportInstanceStatusResponse"
              },
              "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}:reportStatus",
              "description": "Reports the latest status for a runtime instance.",
              "parameterOrder": [
                "instance"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.instances.reportStatus",
              "httpMethod": "POST",
              "parameters": {
                "instance": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/instances/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "The name of the instance reporting this status. For SaaS the request will be rejected if no instance exists under this name. Format is organizations/{org}/instances/{instance}"
                }
              },
              "request": {
                "$ref": "GoogleCloudApigeeV1ReportInstanceStatusRequest"
              }
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}",
              "description": "Deletes an Apigee runtime instance. The instance stops serving requests and the runtime data is deleted. **Note:** Not supported for Apigee hybrid.",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+/instances/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. Name of the instance. Use the following structure in your request: `organizations/{org}/instances/{instance}`."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "id": "apigee.organizations.instances.delete",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates an Apigee runtime instance. The instance is accessible from the authorized network configured on the organization. **Note:** Not supported for Apigee hybrid.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}`."
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/instances",
              "path": "v1/{+parent}/instances",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "request": {
                "$ref": "GoogleCloudApigeeV1Instance"
              },
              "id": "apigee.organizations.instances.create"
            },
            "list": {
              "flatPath": "v1/organizations/{organizationsId}/instances",
              "id": "apigee.organizations.instances.list",
              "description": "Lists all Apigee runtime instances for the organization. **Note:** Not supported for Apigee hybrid.",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListInstancesResponse"
              },
              "path": "v1/{+parent}/instances",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "description": "Maximum number of instances to return. Defaults to 25.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}`.",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Page token, returned from a previous ListInstances call, that you can use to retrieve the next page of content."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "patch": {
              "id": "apigee.organizations.instances.patch",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "List of fields to be updated.",
                  "type": "string"
                },
                "name": {
                  "description": "Required. Name of the instance. Use the following structure in your request: `organizations/{org}/instances/{instance}`.",
                  "pattern": "^organizations/[^/]+/instances/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}",
              "request": {
                "$ref": "GoogleCloudApigeeV1Instance"
              },
              "description": "Updates an Apigee runtime instance. You can update the fields described in NodeConfig. No other fields will be updated. **Note:** Not supported for Apigee hybrid.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "keyvaluemaps": {
          "resources": {
            "entries": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Scope as indicated by the URI in which to fetch the key value map entry/value. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}/entries/{entry}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}/entries/{entry}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}/entries/{entry}`.",
                      "pattern": "^organizations/[^/]+/keyvaluemaps/[^/]+/entries/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Get the Key value entry value for org, env or apis scoped Key value map.",
                  "id": "apigee.organizations.keyvaluemaps.entries.get",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1KeyValueEntry"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/keyvaluemaps/{keyvaluemapsId}/entries/{entriesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}"
                },
                "delete": {
                  "id": "apigee.organizations.keyvaluemaps.entries.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1KeyValueEntry"
                  },
                  "httpMethod": "DELETE",
                  "description": "Deletes a key value entry from a key value map scoped to an organization, environment, or API proxy. **Note:** After you delete the key value entry, the policy consuming the entry will continue to function with its cached values for a few minutes. This is expected behavior.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Scope as indicated by the URI in which to delete the key value map entry. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}/entries/{entry}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}/entries/{entry}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}/entries/{entry}`.",
                      "required": true,
                      "pattern": "^organizations/[^/]+/keyvaluemaps/[^/]+/entries/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/keyvaluemaps/{keyvaluemapsId}/entries/{entriesId}",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "id": "apigee.organizations.keyvaluemaps.entries.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/keyvaluemaps/{keyvaluemapsId}/entries",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1KeyValueEntry"
                  },
                  "description": "Creates key value entries in a key value map scoped to an organization, environment, or API proxy.",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1KeyValueEntry"
                  },
                  "path": "v1/{+parent}/entries",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/keyvaluemaps/[^/]+$",
                      "location": "path",
                      "description": "Required. Scope as indicated by the URI in which to create the key value map entry. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}`.",
                      "required": true
                    }
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.keyvaluemaps.entries.list",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/entries",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/keyvaluemaps/{keyvaluemapsId}/entries",
                  "description": "Lists key value entries for key values maps scoped to an organization, environment, or API proxy.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. Scope as indicated by the URI in which to list key value maps. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}`.",
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/keyvaluemaps/[^/]+$"
                    },
                    "pageToken": {
                      "description": "Optional. Page token. If provides, must be a valid key value entry returned from a previous call that can be used to retrieve the next page.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Maximum number of key value entries to return. If unspecified, at most 100 entries will be returned."
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListKeyValueEntriesResponse"
                  }
                }
              }
            }
          },
          "methods": {
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a key value map from an organization.",
              "response": {
                "$ref": "GoogleCloudApigeeV1KeyValueMap"
              },
              "id": "apigee.organizations.keyvaluemaps.delete",
              "flatPath": "v1/organizations/{organizationsId}/keyvaluemaps/{keyvaluemapsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Name of the key value map. Use the following structure in your request: `organizations/{org}/keyvaluemaps/{keyvaluemap}`",
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/keyvaluemaps/[^/]+$",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "httpMethod": "DELETE"
            },
            "create": {
              "response": {
                "$ref": "GoogleCloudApigeeV1KeyValueMap"
              },
              "request": {
                "$ref": "GoogleCloudApigeeV1KeyValueMap"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the organization in which to create the key value map file. Use the following structure in your request: `organizations/{org}`"
                }
              },
              "path": "v1/{+parent}/keyvaluemaps",
              "id": "apigee.organizations.keyvaluemaps.create",
              "description": "Creates a key value map in an organization.",
              "flatPath": "v1/organizations/{organizationsId}/keyvaluemaps"
            }
          }
        },
        "environments": {
          "resources": {
            "deployments": {
              "methods": {
                "list": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "location": "path",
                      "description": "Required. Name of the environment for which to return deployment information in the following format: `organizations/{org}/environments/{env}`",
                      "type": "string"
                    },
                    "sharedFlows": {
                      "description": "Optional. Flag that specifies whether to return shared flow or API proxy deployments. Set to `true` to return shared flow deployments; set to `false` to return API proxy deployments. Defaults to `false`.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListDeploymentsResponse"
                  },
                  "id": "apigee.organizations.environments.deployments.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists all deployments of API proxies or shared flows in an environment.",
                  "path": "v1/{+parent}/deployments",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/deployments"
                }
              }
            },
            "flowhooks": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1FlowHook"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the flow hook in the following format: `organizations/{org}/environments/{env}/flowhooks/{flowhook}`",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/flowhooks/[^/]+$",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "id": "apigee.organizations.environments.flowhooks.get",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/flowhooks/{flowhooksId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Returns the name of the shared flow attached to the specified flow hook. If there's no shared flow attached to the flow hook, the API does not return an error; it simply does not return a name in the response."
                },
                "detachSharedFlowFromFlowHook": {
                  "httpMethod": "DELETE",
                  "id": "apigee.organizations.environments.flowhooks.detachSharedFlowFromFlowHook",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/flowhooks/{flowhooksId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Name of the flow hook to detach in the following format: `organizations/{org}/environments/{env}/flowhooks/{flowhook}`",
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/environments/[^/]+/flowhooks/[^/]+$"
                    }
                  },
                  "description": "Detaches a shared flow from a flow hook.",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1FlowHook"
                  }
                },
                "attachSharedFlowToFlowHook": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudApigeeV1FlowHook"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/flowhooks/{flowhooksId}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1FlowHook"
                  },
                  "path": "v1/{+name}",
                  "description": "Attaches a shared flow to a flow hook.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/environments/[^/]+/flowhooks/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the flow hook to which the shared flow should be attached in the following format: `organizations/{org}/environments/{env}/flowhooks/{flowhook}`"
                    }
                  },
                  "httpMethod": "PUT",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apigee.organizations.environments.flowhooks.attachSharedFlowToFlowHook"
                }
              }
            },
            "securityReports": {
              "methods": {
                "get": {
                  "description": "Get security report status If the query is still in progress, the `state` is set to \"running\" After the query has completed successfully, `state` is set to \"completed\"",
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/securityReports/{securityReportsId}",
                  "id": "apigee.organizations.environments.securityReports.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1SecurityReport"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/environments/[^/]+/securityReports/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the security report to get. Must be of the form `organizations/{org}/environments/{env}/securityReports/{reportId}`.",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "getResult": {
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/securityReports/{securityReportsId}/result",
                  "id": "apigee.organizations.environments.securityReports.getResult",
                  "description": "After the query is completed, use this API to retrieve the results as file. If the request succeeds, and there is a non-zero result set, the result is downloaded to the client as a zipped JSON file. The name of the downloaded file will be: OfflineQueryResult-.zip Example: `OfflineQueryResult-9cfc0d85-0f30-46d6-ae6f-318d0cb961bd.zip`",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/securityReports/[^/]+/result$",
                      "description": "Required. Name of the security report result to get. Must be of the form `organizations/{org}/environments/{env}/securityReports/{reportId}/result`.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleApiHttpBody"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "description": "Submit a report request to be processed in the background. If the submission succeeds, the API returns a 200 status and an ID that refer to the report request. In addition to the HTTP status 200, the `state` of \"enqueued\" means that the request succeeded.",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1SecurityReportQuery"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource name. Must be of the form `organizations/{org}/environments/{env}`.",
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "apigee.organizations.environments.securityReports.create",
                  "path": "v1/{+parent}/securityReports",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/securityReports",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1SecurityReport"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "getResultView": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the security report result view to get. Must be of the form `organizations/{org}/environments/{env}/securityReports/{reportId}/resultView`.",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/securityReports/[^/]+/resultView$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "After the query is completed, use this API to view the query result when result size is small.",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/securityReports/{securityReportsId}/resultView",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1SecurityReportResultView"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apigee.organizations.environments.securityReports.getResultView"
                },
                "list": {
                  "path": "v1/{+parent}/securityReports",
                  "description": "Return a list of Security Reports",
                  "parameters": {
                    "status": {
                      "type": "string",
                      "location": "query",
                      "description": "Filter response list by security reports status."
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of security report to return in the list response."
                    },
                    "parent": {
                      "description": "Required. The parent resource name. Must be of the form `organizations/{org}/environments/{env}`.",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^organizations/[^/]+/environments/[^/]+$"
                    },
                    "submittedBy": {
                      "type": "string",
                      "description": "Filter response list by user who submitted queries.",
                      "location": "query"
                    },
                    "to": {
                      "location": "query",
                      "description": "Filter response list by returning security reports that created before this date time. Time must be in ISO date-time format like '2011-12-03T10:16:30Z'.",
                      "type": "string"
                    },
                    "from": {
                      "location": "query",
                      "type": "string",
                      "description": "Filter response list by returning security reports that created after this date time. Time must be in ISO date-time format like '2011-12-03T10:15:30Z'."
                    },
                    "pageToken": {
                      "description": "Token returned from the previous list response to fetch the next page.",
                      "location": "query",
                      "type": "string"
                    },
                    "dataset": {
                      "location": "query",
                      "description": "Filter response list by dataset. Example: `api`, `mint`",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListSecurityReportsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.environments.securityReports.list",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/securityReports",
                  "httpMethod": "GET"
                }
              }
            },
            "references": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Reference"
                  },
                  "id": "apigee.organizations.environments.references.get",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the Reference to get. Must be of the form `organizations/{org}/environments/{env}/references/{ref}`.",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/references/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets a Reference resource.",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/references/{referencesId}"
                },
                "update": {
                  "description": "Updates an existing Reference. Note that this operation has PUT semantics; it will replace the entirety of the existing Reference with the resource in the request body.",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the Reference to update. Must be of the form `organizations/{org}/environments/{env}/references/{ref}`.",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/references/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "id": "apigee.organizations.environments.references.update",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/references/{referencesId}",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Reference"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Reference"
                  },
                  "httpMethod": "PUT"
                },
                "create": {
                  "id": "apigee.organizations.environments.references.create",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/references",
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/references",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Reference"
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Reference"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent environment name under which the Reference will be created. Must be of the form `organizations/{org}/environments/{env}`."
                    }
                  },
                  "description": "Creates a Reference in the specified environment."
                },
                "delete": {
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/references/{referencesId}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the Reference to delete. Must be of the form `organizations/{org}/environments/{env}/references/{ref}`.",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/references/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "id": "apigee.organizations.environments.references.delete",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a Reference from an environment. Returns the deleted Reference resource.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Reference"
                  }
                }
              }
            },
            "optimizedStats": {
              "methods": {
                "get": {
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/optimizedStats/{optimizedStatsId}",
                  "description": "Similar to GetStats except that the response is less verbose.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1OptimizedStats"
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "tsAscending": {
                      "type": "boolean",
                      "description": "Flag that specifies whether to list timestamps in ascending (`true`) or descending (`false`) order. Apigee recommends setting this value to `true` if you are using `sortby` with `sort=DESC`.",
                      "location": "query"
                    },
                    "tzo": {
                      "location": "query",
                      "description": "Timezone offset value.",
                      "type": "string"
                    },
                    "realtime": {
                      "description": "No longer used by Apigee. Supported for backwards compatibility.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "offset": {
                      "type": "string",
                      "location": "query",
                      "description": "Offset value. Use `offset` with `limit` to enable pagination of results. For example, to display results 11-20, set limit to `10` and offset to `10`."
                    },
                    "timeRange": {
                      "description": "Required. Time interval for the interactive query. Time range is specified in GMT as `start~end`. For example: `04/15/2017 00:00~05/15/2017 23:59`",
                      "location": "query",
                      "type": "string"
                    },
                    "sort": {
                      "type": "string",
                      "description": "Flag that specifies whether the sort order should be ascending or descending. Valid values include `DESC` and `ASC`.",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Filter that enables you to drill-down on specific dimension values.",
                      "type": "string",
                      "location": "query"
                    },
                    "aggTable": {
                      "description": "Table name used to query custom aggregate tables. If this parameter is skipped, then Apigee will try to retrieve the data from fact tables which will be expensive.",
                      "type": "string",
                      "location": "query"
                    },
                    "timeUnit": {
                      "location": "query",
                      "description": "Granularity of metrics returned. Valid values include: `second`, `minute`, `hour`, `day`, `week`, or `month`.",
                      "type": "string"
                    },
                    "accuracy": {
                      "location": "query",
                      "type": "string",
                      "description": "No longer used by Apigee. Supported for backwards compatibility."
                    },
                    "sonar": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Routes the query to API Monitoring for the last hour."
                    },
                    "name": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+/optimizedStats/.*$",
                      "type": "string",
                      "description": "Required. Resource name for which the interactive query will be executed. Use the following format in your request: `organizations/{org}/environments/{env}/optimizedStats/{dimensions}` Dimensions let you view metrics in meaningful groupings, such as `apiproxy`, `target_host`. The value of `dimensions` should be a comma-separated list as shown below: `organizations/{org}/environments/{env}/optimizedStats/apiproxy,request_verb`",
                      "required": true,
                      "location": "path"
                    },
                    "topk": {
                      "description": "Top number of results to return. For example, to return the top 5 results, set `topk=5`.",
                      "location": "query",
                      "type": "string"
                    },
                    "sortby": {
                      "location": "query",
                      "description": "Comma-separated list of columns to sort the final result.",
                      "type": "string"
                    },
                    "limit": {
                      "location": "query",
                      "description": "Maximum number of result items to return. The default and maximum value that can be returned is 14400.",
                      "type": "string"
                    },
                    "select": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. Comma-separated list of metrics. For example: `sum(message_count),sum(error_count)`"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "apigee.organizations.environments.optimizedStats.get"
                }
              }
            },
            "archiveDeployments": {
              "methods": {
                "generateDownloadUrl": {
                  "path": "v1/{+name}:generateDownloadUrl",
                  "id": "apigee.organizations.environments.archiveDeployments.generateDownloadUrl",
                  "description": "Generates a signed URL for downloading the original zip file used to create an Archive Deployment. The URL is only valid for a limited period and should be used within minutes after generation. Each call returns a new upload URL.",
                  "httpMethod": "POST",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/archiveDeployments/{archiveDeploymentsId}:generateDownloadUrl",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudApigeeV1GenerateDownloadUrlRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1GenerateDownloadUrlResponse"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the Archive Deployment you want to download.",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/archiveDeployments/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  }
                },
                "list": {
                  "id": "apigee.organizations.environments.archiveDeployments.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/archiveDeployments",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListArchiveDeploymentsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "description": "Required. Name of the Environment for which to list Archive Deployments in the format: `organizations/{org}/environments/{env}`.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "filter": {
                      "description": "Optional. An optional query used to return a subset of Archive Deployments using the semantics defined in https://google.aip.dev/160.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. Maximum number of Archive Deployments to return. If unspecified, at most 25 deployments will be returned.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. Page token, returned from a previous ListArchiveDeployments call, that you can use to retrieve the next page.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Lists the ArchiveDeployments in the specified Environment.",
                  "path": "v1/{+parent}/archiveDeployments"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the Archive Deployment in the following format: `organizations/{org}/environments/{env}/archiveDeployments/{id}`.",
                      "required": true,
                      "pattern": "^organizations/[^/]+/environments/[^/]+/archiveDeployments/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/archiveDeployments/{archiveDeploymentsId}",
                  "id": "apigee.organizations.environments.archiveDeployments.get",
                  "httpMethod": "GET",
                  "description": "Gets the specified ArchiveDeployment.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ArchiveDeployment"
                  },
                  "path": "v1/{+name}"
                },
                "generateUploadUrl": {
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/archiveDeployments:generateUploadUrl",
                  "path": "v1/{+parent}/archiveDeployments:generateUploadUrl",
                  "description": "Generates a signed URL for uploading an Archive zip file to Google Cloud Storage. Once the upload is complete, the signed URL should be passed to CreateArchiveDeployment. When uploading to the generated signed URL, please follow these restrictions: * Source file type should be a zip file. * Source file size should not exceed 1GB limit. * No credentials should be attached - the signed URLs provide access to the target bucket using internal service identity; if credentials were attached, the identity from the credentials would be used, but that identity does not have permissions to upload files to the URL. When making a HTTP PUT request, these two headers need to be specified: * `content-type: application/zip` * `x-goog-content-length-range: 0,1073741824` And this header SHOULD NOT be specified: * `Authorization: Bearer YOUR_TOKEN`",
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "location": "path",
                      "description": "Required. The organization and environment to upload to.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "apigee.organizations.environments.archiveDeployments.generateUploadUrl",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1GenerateUploadUrlResponse"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1GenerateUploadUrlRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The Environment this Archive Deployment will be created in.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/environments/[^/]+$"
                    }
                  },
                  "path": "v1/{+parent}/archiveDeployments",
                  "description": "Creates a new ArchiveDeployment.",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1ArchiveDeployment"
                  },
                  "id": "apigee.organizations.environments.archiveDeployments.create",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/archiveDeployments"
                },
                "patch": {
                  "id": "apigee.organizations.environments.archiveDeployments.patch",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/archiveDeployments/{archiveDeploymentsId}",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudApigeeV1ArchiveDeployment"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Required. The list of fields to be updated."
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the Archive Deployment in the following format: `organizations/{org}/environments/{env}/archiveDeployments/{id}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/environments/[^/]+/archiveDeployments/[^/]+$"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ArchiveDeployment"
                  },
                  "description": "Updates an existing ArchiveDeployment. Labels can modified but most of the other fields are not modifiable."
                },
                "delete": {
                  "id": "apigee.organizations.environments.archiveDeployments.delete",
                  "parameters": {
                    "name": {
[...]
