{
  "basePath": "",
  "id": "apigee:v1",
  "documentationLink": "https://cloud.google.com/apigee-api-management/",
  "revision": "20200327",
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "GoogleCloudApigeeV1ConsumerTeamMembership": {
      "properties": {
        "role": {
          "type": "string",
          "enumDescriptions": [
            "Owner.",
            "App administrator.",
            "View only."
          ],
          "enum": [
            "ADMIN",
            "APP_ADMIN",
            "VIEWER"
          ],
          "description": "Role."
        },
        "userId": {
          "description": "ID of the user.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1ConsumerTeamMembership",
      "description": "Roles supported for team membership.",
      "type": "object"
    },
    "GoogleCloudApigeeV1SmtpConfigResponse": {
      "type": "object",
      "properties": {
        "requestId": {
          "description": "ID that can be used to find request details in the log files.",
          "type": "string"
        },
        "message": {
          "description": "Description of the operation.",
          "type": "string"
        },
        "errorCode": {
          "type": "string",
          "description": "ID that can be used to find errors in the log files."
        },
        "status": {
          "description": "Status of the operation.",
          "type": "string"
        },
        "data": {
          "description": "Details for the SMTP configuration.",
          "$ref": "GoogleCloudApigeeV1SmtpConfig"
        }
      },
      "id": "GoogleCloudApigeeV1SmtpConfigResponse"
    },
    "GoogleCloudApigeeV1ZoneAllowedDomains": {
      "type": "object",
      "properties": {
        "whitelistedDomains": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Individual email addresses (developer@some-company.com) or\nemail domains (some-company.com, without the leading @) that can create\naccounts on your portal."
        }
      },
      "id": "GoogleCloudApigeeV1ZoneAllowedDomains"
    },
    "GoogleCloudApigeeV1CustomCss": {
      "type": "object",
      "properties": {
        "requestId": {
          "description": "ID that can be used to find request details in the log files.",
          "type": "string"
        },
        "message": {
          "description": "Description of the operation.",
          "type": "string"
        },
        "errorCode": {
          "description": "ID that can be used to find errors in the log files.",
          "type": "string"
        },
        "status": {
          "description": "Status of the operation.",
          "type": "string"
        },
        "data": {
          "$ref": "GoogleCloudApigeeV1CustomCssData",
          "description": "Details of the custom CSS."
        }
      },
      "id": "GoogleCloudApigeeV1CustomCss"
    },
    "GoogleCloudApigeeV1CustomRegistrationField": {
      "type": "object",
      "properties": {
        "fieldName": {
          "description": "Name of the custom field.",
          "type": "string"
        },
        "fieldType": {
          "description": "Type of custom registration field.",
          "type": "string"
        },
        "required": {
          "description": "Boolean flag that specifies whether the field is required.",
          "type": "boolean"
        },
        "sortOrder": {
          "description": "Sort order for the custom field.",
          "format": "int32",
          "type": "integer"
        },
        "active": {
          "description": "Boolean flag that specifies whether the field is enabled.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudApigeeV1CustomRegistrationField"
    },
    "GoogleCloudApigeeV1Deployment": {
      "type": "object",
      "properties": {
        "deployStartTime": {
          "description": "Time the API proxy was marked `deployed` in the control plane in\nmillisconds since epoch.",
          "format": "int64",
          "type": "string"
        },
        "revision": {
          "description": "API proxy revision.",
          "type": "string"
        },
        "apiProxy": {
          "description": "API proxy.",
          "type": "string"
        },
        "environment": {
          "description": "Environment.",
          "type": "string"
        },
        "pods": {
          "description": "Status reported by runtime pods.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1PodStatus"
          }
        },
        "basePath": {
          "description": "Base path for the deployment.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1Deployment"
    },
    "GoogleCloudApigeeV1CustomStyleConfig": {
      "id": "GoogleCloudApigeeV1CustomStyleConfig",
      "type": "object",
      "properties": {
        "variables": {
          "description": "Map of keys to style variables. Style variables can be one of many\ndifferent structures created by the UI that the server can turn into\nstyling.",
          "type": "object",
          "additionalProperties": {
            "additionalProperties": {
              "description": "Properties of the object.",
              "type": "any"
            },
            "type": "object"
          }
        }
      }
    },
    "GoogleCloudApigeeV1Site": {
      "type": "object",
      "properties": {
        "status": {
          "description": "Status of the operation.",
          "type": "string"
        },
        "data": {
          "description": "Details for the portal.",
          "$ref": "GoogleCloudApigeeV1SiteData"
        },
        "requestId": {
          "type": "string",
          "description": "ID that can be used to find request details in the log files."
        },
        "message": {
          "description": "Description of the operation.",
          "type": "string"
        },
        "errorCode": {
          "description": "ID that can be used to find errors in the log files.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1Site"
    },
    "GoogleCloudApigeeV1Query": {
      "type": "object",
      "properties": {
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1QueryMetric"
          },
          "description": "A list of Metrics"
        },
        "csvDelimiter": {
          "description": "Delimiter used in the CSV file, if `outputFormat` is set\nto `csv`. Defaults to the `,` (comma) character.\nSupported delimiter characters include comma (`,`), pipe (`|`),\nand tab (`\\t`).",
          "type": "string"
        },
        "reportDefinitionId": {
          "description": "Asynchronous Report ID.",
          "type": "string"
        },
        "timeRange": {
          "description": "Required. Time range for the query.\nCan use the following predefined strings to specify the time range:\n  `last60minutes`\n  `last24hours`\n  `last7days`\nOr, specify the timeRange as a structure describing start and end\ntimestamps in the ISO format: yyyy-mm-ddThh:mm:ssZ.\n\nExample:\n  \"timeRange\": {\n    \"start\": \"2018-07-29T00:13:00Z\",\n    \"end\": \"2018-08-01T00:18:00Z\"\n  }",
          "type": "any"
        },
        "outputFormat": {
          "description": "Valid values include: `csv` or `json`. Defaults to `json`.\nNote: Configure the delimiter for CSV output using the csvDelimiter\nproperty.",
          "type": "string"
        },
        "name": {
          "description": "Asynchronous Query Name.",
          "type": "string"
        },
        "limit": {
          "type": "integer",
          "description": "Maximum number of rows that can be returned in the result.",
          "format": "int32"
        },
        "filter": {
          "description": "Boolean expression that can be used to filter data.\nFilter expressions can be combined using AND/OR terms and should be fully\nparenthesized to avoid ambiguity. See Analytics metrics, dimensions, and\nfilters reference\nhttps://docs.apigee.com/api-platform/analytics/analytics-reference\nfor more information on the fields available to filter\non. For more information on the tokens that you use to build filter\nexpressions, see Filter expression syntax.\nhttps://docs.apigee.com/api-platform/analytics/asynch-reports-api#filter-expression-syntax",
          "type": "string"
        },
        "dimensions": {
          "description": "A list of dimensions\nhttps://docs.apigee.com/api-platform/analytics/analytics-reference#dimensions",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "groupByTimeUnit": {
          "description": "Time unit used to group the result set.\nValid values include: second, minute, hour, day, week, or month.\nIf a query includes groupByTimeUnit, then the result is an aggregation\nbased on the specified time unit and the resultant timestamp does not\ninclude milliseconds precision.\nIf a query omits groupByTimeUnit, then the resultant timestamp includes\nmilliseconds precision.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1Query"
    },
    "GoogleCloudApigeeV1NestedPayload": {
      "type": "object",
      "properties": {
        "isNested": {
          "description": "Boolean flag that specifies whether the menu item is a submenu (nested).",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudApigeeV1NestedPayload"
    },
    "GoogleCloudApigeeV1MenuItem": {
      "properties": {
        "requestId": {
          "description": "ID that can be used to find request details in the log files.",
          "type": "string"
        },
        "message": {
          "description": "Description of operation.",
          "type": "string"
        },
        "errorCode": {
          "type": "string",
          "description": "ID that can be used to find errors in the log files."
        },
        "status": {
          "description": "Status of operation.",
          "type": "string"
        },
        "data": {
          "$ref": "GoogleCloudApigeeV1MenuItemData",
          "description": "Details of the menu item."
        }
      },
      "id": "GoogleCloudApigeeV1MenuItem",
      "type": "object"
    },
    "GoogleCloudApigeeV1ZoneSmtpConfig": {
      "properties": {
        "serverUsername": {
          "description": "Username of the SMTP account.",
          "type": "string"
        },
        "sender": {
          "description": "Email address used as the sender.",
          "type": "string"
        },
        "serverPassword": {
          "description": "Password of the SMTP account.",
          "type": "string"
        },
        "serverHost": {
          "description": "Hostname of the SMTP server, such as `smtp.gmail.com`.",
          "type": "string"
        },
        "serverPort": {
          "description": "Port to be used, such as 465 if you are using TLS/SSL.",
          "type": "string"
        },
        "secureAuthType": {
          "type": "string",
          "description": "Authorization type. Valid values include: SSL or TLS. Leave this field\nblank for no authorization."
        }
      },
      "id": "GoogleCloudApigeeV1ZoneSmtpConfig",
      "description": "SMTP configuration for a zone.",
      "type": "object"
    },
    "GoogleCloudApigeeV1OptimizedStatsResponse": {
      "id": "GoogleCloudApigeeV1OptimizedStatsResponse",
      "description": "This message type encapsulates a response format for Js Optimized Scenario",
      "type": "object",
      "properties": {
        "resultTruncated": {
          "description": "This ia a boolean field to indicate if the results were truncated\nbased on the limit parameter.",
          "type": "boolean"
        },
        "TimeUnit": {
          "description": "This field contains a list of time unit values. Time unit refers to\nan epoch timestamp value.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "metaData": {
          "$ref": "GoogleCloudApigeeV1Metadata",
          "description": "This field contains metadata information about the query executed"
        },
        "stats": {
          "$ref": "GoogleCloudApigeeV1OptimizedStatsNode",
          "description": "This field contains a stats results"
        }
      }
    },
    "GoogleCloudApigeeV1ProxySpec": {
      "properties": {
        "lastModified": {
          "description": "Time the portal was last modified in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "Name of the OpenAPI Specification.",
          "type": "string"
        },
        "inDocstore": {
          "description": "Not used by Apigee hybrid.",
          "type": "boolean"
        },
        "revision": {
          "description": "Revision of the API proxy.",
          "format": "int32",
          "type": "integer"
        },
        "proxy": {
          "description": "Name of the API proxy.",
          "type": "string"
        },
        "created": {
          "type": "string",
          "description": "Time the portal was created in milliseconds since epoch.",
          "format": "int64"
        },
        "url": {
          "description": "URL of the OpenAPI Specification.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1ProxySpec",
      "type": "object"
    },
    "GoogleCloudApigeeV1Schema": {
      "id": "GoogleCloudApigeeV1Schema",
      "description": "Response for Schema call",
      "type": "object",
      "properties": {
        "metrics": {
          "description": "List of schema fields grouped as dimensions. These are fields\nthat can be used with an aggregate function such as sum, avg, min, max.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1SchemaSchemaElement"
          }
        },
        "meta": {
          "description": "Additional metadata associated with schema. This is\na legacy field and usually consists of an empty array of strings.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dimensions": {
          "description": "List of schema fiels grouped as dimensions.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1SchemaSchemaElement"
          }
        }
      }
    },
    "GoogleCloudApigeeV1UpdateZoneResponse": {
      "description": "Response message for the UpdateZone RPC.",
      "type": "object",
      "properties": {
        "message": {
          "description": "Description of the operation.",
          "type": "string"
        },
        "errorCode": {
          "description": "ID that can be used to find errors in the log files.",
          "type": "string"
        },
        "status": {
          "description": "Status of the operation.",
          "type": "string"
        },
        "data": {
          "description": "Details of the zone.",
          "$ref": "GoogleCloudApigeeV1Zone"
        },
        "requestId": {
          "type": "string",
          "description": "ID that can be used to find request details in the log files."
        }
      },
      "id": "GoogleCloudApigeeV1UpdateZoneResponse"
    },
    "GoogleCloudApigeeV1FilenamePayload": {
      "type": "object",
      "properties": {
        "filename": {
          "description": "Name of the file.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1FilenamePayload"
    },
    "GoogleCloudApigeeV1SiteListResponse": {
      "type": "object",
      "properties": {
        "status": {
          "description": "Status of the operation.",
          "type": "string"
        },
        "data": {
          "description": "Details for the portals.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1SiteData"
          }
        },
        "requestId": {
          "type": "string",
          "description": "ID that can be used to find request details in the log files."
        },
        "message": {
          "description": "Description of the operation.",
          "type": "string"
        },
        "errorCode": {
          "description": "ID that can be used to find errors in the log files.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1SiteListResponse"
    },
    "GoogleCloudApigeeV1TargetServer": {
      "id": "GoogleCloudApigeeV1TargetServer",
      "description": "TargetServer configuration. TargetServers are used to decouple a proxy's\nTargetEndpoint HTTPTargetConnections from concrete URLs for backend services.",
      "type": "object",
      "properties": {
        "sSLInfo": {
          "$ref": "GoogleCloudApigeeV1TlsInfo",
          "description": "Optional. Specifies TLS configuration info for this TargetServer. The JSON\nname is `sSLInfo` for legacy/backwards compatibility reasons -- Edge\noriginally supported SSL, and the name is still used for TLS configuration."
        },
        "name": {
          "description": "Required. The resource id of this target server. Values must match the\nregular expression ",
          "type": "string"
        },
        "port": {
          "description": "Required. The port number this target connects to on the given host. Value\nmust be between 1 and 65535, inclusive.",
          "format": "int32",
          "type": "integer"
        },
        "host": {
          "description": "Required. The host name this target connects to. Value must be a valid\nhostname as described by RFC-1123.",
          "type": "string"
        },
        "isEnabled": {
          "description": "Optional. Enabling/disabling a TargetServer is useful when TargetServers\nare used in load balancing configurations, and one or more TargetServers\nneed to taken out of rotation periodically. Defaults to true.",
          "type": "boolean"
        },
        "description": {
          "description": "Optional. A human-readable description of this TargetServer.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1ListHybridIssuersResponse": {
      "type": "object",
      "properties": {
        "issuers": {
          "description": "Lists of hybrid services and its trusted issuer email ids.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ServiceIssuersMapping"
          }
        }
      },
      "id": "GoogleCloudApigeeV1ListHybridIssuersResponse"
    },
    "GoogleCloudApigeeV1KeystoreAlias": {
      "id": "GoogleCloudApigeeV1KeystoreAlias",
      "type": "object",
      "properties": {
        "expiryDate": {
          "description": "Expiration date.",
          "format": "int64",
          "type": "string"
        },
        "valid": {
          "description": "Boolean flag that specifies whether the keystore alias is valid.",
          "type": "boolean"
        },
        "alias": {
          "description": "Alias for the keystore.",
          "type": "string"
        },
        "domainNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Domains names bound to the subject of the certificate."
        }
      }
    },
    "GoogleCloudApigeeV1AsyncQuery": {
      "properties": {
        "executionTime": {
          "description": "ExecutionTime is available only after the query is completed",
          "type": "string"
        },
        "resultFileSize": {
          "description": "ResultFileSize is available only after the query is completed",
          "type": "string"
        },
        "self": {
          "description": "Self link of the query\n\nExample:\n`/organizations/myorg/environments/myenv/queries/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd`",
          "type": "string"
        },
        "result": {
          "description": "Result is available only after the query is completed",
          "$ref": "GoogleCloudApigeeV1AsyncQueryResult"
        },
        "updated": {
          "description": "Last updated timestamp for the query",
          "type": "string"
        },
        "error": {
          "description": "Error is set when query fails",
          "type": "string"
        },
        "created": {
          "type": "string",
          "description": "Creation time of the query"
        },
        "reportDefinitionId": {
          "description": "Asynchronous Report ID.",
          "type": "string"
        },
        "state": {
          "description": "Query state could be \"enqueued\", \"running\", \"completed\",\n\"failed\"",
          "type": "string"
        },
        "name": {
          "description": "Asynchronous Query Name.",
          "type": "string"
        },
        "resultRows": {
          "description": "ResultRows is available only after the query is completed",
          "format": "int64",
          "type": "string"
        },
        "queryParams": {
          "description": "Contains information like metrics, dimenstions etc\nof the AsyncQuery",
          "$ref": "GoogleCloudApigeeV1QueryMetadata"
        }
      },
      "id": "GoogleCloudApigeeV1AsyncQuery",
      "type": "object"
    },
    "GoogleCloudApigeeV1CapiServerStatus": {
      "type": "object",
      "properties": {
        "ok": {
          "description": "Boolean flag that specifies whether the server status is OK.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudApigeeV1CapiServerStatus"
    },
    "GoogleCloudApigeeV1ApiProduct": {
      "type": "object",
      "properties": {
        "createdAt": {
          "description": "Response only. Creation time of this environment as milliseconds since\nepoch.",
          "format": "int64",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The name to be displayed in the UI or developer portal to developers\nregistering for API access."
        },
        "environments": {
          "description": "A comma-separated list of environment names to which the API product is\nbound. Requests to environments that are not listed are rejected.\n\nBy specifying one or more environments, you can bind the resources listed\nin the API product to a specific environment, preventing developers from\naccessing those resources through API proxies deployed in another\nenvironment.\n\nThis setting is used, for example, to prevent resources associated with\nAPI proxies in 'prod' from being accessed by API proxies deployed in\n'test'.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "lastModifiedAt": {
          "description": "Response only. Modified time of this environment as milliseconds since\nepoch.",
          "format": "int64",
          "type": "string"
        },
        "apiResources": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Comma-separated list of API resources to be bundled in the API Product.\n\nBy default, the resource paths are mapped from the `proxy.pathsuffix`\nvariable.\n\nThe proxy path suffix is defined as the URI fragment following the\nProxyEndpoint base path.\nFor example, if the `apiResources` element is defined to be\n`/forecastrss` and the base path defined for the API proxy is\n`/weather`, then only requests to `/weather/forecastrss` are permitted by\nthe API product.\n\nYou can select a specific path, or you can select all subpaths with the\nfollowing wildcard:\n\n- /**: Indicates that all sub-URIs are included.\n- /* : Indicates that only URIs one level down are included.\n\nBy default, / supports the same resources as /** as well as the base path\ndefined by the API proxy.\n\nFor example, if the base path of the API proxy is `/v1/weatherapikey`,\nthen the API product supports requests to `/v1/weatherapikey` and to any\nsub-URIs, such as `/v1/weatherapikey/forecastrss`,\n`/v1/weatherapikey/region/CA`, and so on.\nFor more information, see:\n\n- \u003ca href=\"/api-platform/publish/create-api-products\"\u003eManage API\nproducts\u003c/a\u003e\n- \u003ca\nhref=\"/api-platform/monetization/create-transaction-recording-policy#spectrpcaapi\"\u003eManaging\na transaction recording policy using the API\u003c/a\u003e"
        },
        "quotaInterval": {
          "description": "The time interval over which the number of request messages is calculated.",
          "type": "string"
        },
        "attributes": {
          "description": "Array of attributes that may be used to extend the default API product\nprofile with customer-specific metadata. You can specify a maximum of 18\nattributes.\n\nUse this property to specify the access level of the API product as either\n`public`, `private`, or `internal`.\n\nOnly products marked `public` are available to developers in the Apigee\ndeveloper portal. For example, you can set a product to `internal` while it\nis in development and then change access to `public` when it is ready to\nrelease on the portal.\n\nAPI products marked as `private` do not appear on the portal but\ncan be accessed by external developers.\n\nFor monetization, you can use the attributes field to:\n\n- \u003ca\nhref=\"/api-platform/monetization/create-transaction-recording-policy#spectrpsuccessapi\"\ntarget=\"_blank\"\u003eSpecify transaction success criteria\u003c/a\u003e\n- \u003ca\nhref=\"/api-platform/monetization/create-transaction-recording-policy#spectrpcaapi\"\ntarget=\"_blank\"\u003eSpecify custom attributes\u003c/a\u003e on which you base rate plan\ncharges\u003c/a\u003e.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          }
        },
        "quotaTimeUnit": {
          "description": "The time unit defined for the `quotaInterval`. Valid values include minute,\nhour, day, or month.",
          "type": "string"
        },
        "description": {
          "description": "An overview of the API product. Include key information about the API\nproduct that is not captured by other fields.",
          "type": "string"
        },
        "quota": {
          "description": "The number of request messages permitted per app by this API product for\nthe specified `quotaInterval` and `quotaTimeUnit`.\n\nFor example, a `quota` of 50, for a `quotaInterval` of 12 and a\n`quotaTimeUnit` of hours means 50 requests are allowed every 12 hours.",
          "type": "string"
        },
        "proxies": {
          "description": "A comma-separated list of API proxy names to which this API product is\nbound. By specifying API proxies, you can associate resources in the API\nproduct with specific API proxies, preventing developers from accessing\nthose resources through other API proxies.\n\nEdge rejects requests to API proxies that are not listed.\n\n\u003caside class=\"note\"\u003e\u003cstrong\u003eNOTE:\u003c/strong\u003e The API proxy names must already\nexist in the specified environment as they will be validated upon\ncreation.\u003c/aside\u003e",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "The internal name of the API Product. Characters you can use in the name\nare restricted to: A-Z0-9._\\-$ %.\n\n\u003caside class=\"note\"\u003e\u003cstrong\u003eNOTE:\u003c/strong\u003e The internal name cannot be\nedited when updating the API product.\u003c/aside\u003e"
        },
        "scopes": {
          "description": "A comma-separated list of OAuth scopes that are validated at runtime.\nEdge validates that the scopes in any access token presented match the\nscopes defined in the OAuth policy assoicated with the API product.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "approvalType": {
          "description": "Specifies how API keys are approved to access the APIs defined by the API\nproduct.\n\nIf set to `manual`, the consumer key is generated and returned in \"pending\"\nstate. In this case, the API keys won't work until they have been\nexplicitly approved.\n\nIf set to `auto`, the consumer key is generated and returned in \"approved\"\nstate and can be used immediately.\n\n\u003caside class=\"note\"\u003e\u003cstrong\u003eNOTE:\u003c/strong\u003e Typically, `auto` is used\nto provide access to free or trial API products that provide limited quota\nor capabilities.\u003c/aside\u003e",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1ApiProduct"
    },
    "GoogleCloudApigeeV1AccessGet": {
      "id": "GoogleCloudApigeeV1AccessGet",
      "description": "Get action. For example,\n\"Get\" : {\n  \"name\" : \"target.name\",\n  \"value\" : \"default\"\n}",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1PortalConfigResponse": {
      "type": "object",
      "properties": {
        "errorCode": {
          "description": "ID that can be used to find errors in the log files.",
          "type": "string"
        },
        "status": {
          "description": "Status of the operation.",
          "type": "string"
        },
        "data": {
          "$ref": "GoogleCloudApigeeV1PortalConfig",
          "description": "Details of the portal configuration."
        },
        "requestId": {
          "description": "ID that can be used to find request details in the log files.",
          "type": "string"
        },
        "message": {
          "description": "Description of the operation.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1PortalConfigResponse"
    },
    "GoogleCloudApigeeV1SystemStateData": {
      "type": "object",
      "properties": {
        "features": {
          "description": "List of portal features.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "systemAccessTtl": {
          "description": "System access time-to-live (TTL).",
          "format": "int32",
          "type": "integer"
        },
        "systemStateAccessLevel": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SYSTEM_STATE_ACCESS_LEVEL_UNSPECIFIED",
            "NORMAL",
            "READONLY",
            "NO_PORTAL_CREATE"
          ],
          "description": "System access level."
        },
        "systemAccessLevelMessage": {
          "description": "System access level message.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1SystemStateData"
    },
    "GoogleCloudApigeeV1AnnoucementData": {
      "id": "GoogleCloudApigeeV1AnnoucementData",
      "type": "object",
      "properties": {
        "message": {
          "description": "Details of the announcement.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1TlsInfoCommonName": {
      "type": "object",
      "properties": {
        "value": {
          "description": "The TLS Common Name string of the certificate.",
          "type": "string"
        },
        "wildcardMatch": {
          "description": "Indicates whether the cert should be matched against as a wildcard cert.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudApigeeV1TlsInfoCommonName"
    },
    "GoogleCloudApigeeV1EdgeTeam": {
      "type": "object",
      "properties": {
        "updated_at": {
          "description": "Time the team was last modified in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        },
        "organization": {
          "description": "Name of the Apigee organization.",
          "type": "string"
        },
        "displayName": {
          "description": "User-friendly display name.",
          "type": "string"
        },
        "updatedBy": {
          "description": "Not used by Apigee hybrid.",
          "type": "string"
        },
        "name": {
          "description": "Name of the team.",
          "type": "string"
        },
        "createdBy": {
          "description": "Not used by Apigee hybrid.",
          "type": "string"
        },
        "id": {
          "description": "ID of the team.",
          "type": "string"
        },
        "created_at": {
          "description": "Time the team was created in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1EdgeTeam"
    },
    "GoogleCloudApigeeV1CreateConsumerAppRequestBody": {
      "type": "object",
      "properties": {
        "callbackUrl": {
          "description": "Callback URL.",
          "type": "string"
        },
        "description": {
          "description": "Description of the app.",
          "type": "string"
        },
        "apiProducts": {
          "description": "List of associated API products.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "owner": {
          "type": "string",
          "description": "Owner of the app."
        },
        "ownerType": {
          "description": "Type of owner.",
          "type": "string",
          "enumDescriptions": [
            "Team owner.",
            "User owner."
          ],
          "enum": [
            "team",
            "user"
          ]
        },
        "name": {
          "description": "User-friendly display name for the app.",
          "type": "string"
        },
        "attributes": {
          "description": "List of attributes.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          }
        }
      },
      "id": "GoogleCloudApigeeV1CreateConsumerAppRequestBody"
    },
    "GoogleCloudApigeeV1MenuItemData": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the menu item."
        },
        "isNested": {
          "type": "boolean",
          "description": "Boolean flag that specifies whether the menu item is a submenu (nested)."
        },
        "draft": {
          "description": "Boolean flag that specifies whether the menu items is a draft.",
          "type": "boolean"
        },
        "modified": {
          "type": "string",
          "description": "Time the menu item was last modified in milliseconds since epoch.",
          "format": "int64"
        },
        "priority": {
          "type": "integer",
          "description": "Priority order of the menu item.",
          "format": "int32"
        },
        "modifiedBy": {
          "type": "string",
          "description": "Not used by Apigee hybrid."
        },
        "pageId": {
          "description": "ID of the page associated with the menu item.",
          "format": "int64",
          "type": "string"
        },
        "menuTypeId": {
          "description": "ID of the menu type.",
          "format": "int64",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "Relative URL to the page associated with the menu item."
        },
        "menuItemId": {
          "description": "ID of the menu item.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1MenuItemData",
      "type": "object"
    },
    "GoogleCloudApigeeV1Zone": {
      "type": "object",
      "properties": {
        "companyName": {
          "description": "Company associated with the zone.",
          "type": "string"
        },
        "description": {
          "description": "Description of the zone.",
          "type": "string"
        },
        "smtpConfig": {
          "$ref": "GoogleCloudApigeeV1ZoneSmtpConfig",
          "description": "SMTP configuration for the zone."
        },
        "productLogo": {
          "type": "string",
          "description": "Product logo PNG image (base64-encoded string)."
        },
        "id": {
          "description": "ID of the zone.",
          "type": "string"
        },
        "zoneId": {
          "description": "ID of the zone.",
          "type": "string"
        },
        "hostWhitelistedDomains": {
          "description": "List of portal URLs that are allowed to use this zone for sign in and zone\nredirection after successful sign in. This list is used as a security\nmeasure so that the zone only redirects to a predefined set of URLs\nthat are configured when the zone or portal is created, and when a custom\ndomain is set on a portal.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tokenPolicy": {
          "description": "Token policy for the zone.",
          "$ref": "GoogleCloudApigeeV1ZoneTokenPolicy"
        },
        "organization": {
          "type": "string",
          "description": "Apigee organization associated with the zone."
        },
        "allowedDomains": {
          "$ref": "GoogleCloudApigeeV1ZoneAllowedDomains",
          "description": "List of individual email addresses (developer@some-company.com) or\nemail domains (some-company.com, without the leading @) that can create\naccounts on your portal."
        },
        "footerLinks": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Mapping of display text to URL for forming hyperlinks used in the footer.",
          "type": "object"
        },
        "created": {
          "description": "Time the zone was created in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        },
        "portals": {
          "description": "List of portals associated with the zone.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "accountCreationEmail": {
          "description": "Address to which notification emails are sent when a new account is\ncreated.",
          "type": "string"
        },
        "active": {
          "description": "Boolean flag that specifies whether the zone is active.",
          "type": "boolean"
        },
        "name": {
          "description": "Name of the zone.",
          "type": "string"
        },
        "customRegistrationFields": {
          "description": "Customized fields used on user registration form.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1CustomRegistrationField"
          }
        },
        "customEmailTemplates": {
          "$ref": "GoogleCloudApigeeV1ZoneCustomEmailTemplates",
          "description": "Email templates used by the zone. Email templates enable a user to\ncustomize the emails that are sent by a zone for different actions\nincluding: account verification, password reset, and account creation."
        },
        "samlConfig": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "SAML configuration used by the zone."
        },
        "squareLogo": {
          "description": "Product logo PNG image (base64-encoded string).",
          "type": "string"
        },
        "links": {
          "$ref": "GoogleCloudApigeeV1ZoneLinks",
          "description": "Links in the UI used by the zone."
        },
        "copyright": {
          "description": "Copyright information displayed on the sign in page for the zone to enable\ncustom branding.",
          "type": "string"
        },
        "modified": {
          "description": "Time the zone was last modified in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        },
        "manualApproval": {
          "description": "Boolean flag that specifies whether manual approval of users is required.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudApigeeV1Zone"
    },
    "GoogleCloudApigeeV1Audience": {
      "type": "object",
      "properties": {
        "membershipType": {
          "enumDescriptions": [
            "Explicit audience entitlement.",
            "Accessible to all registered users."
          ],
          "enum": [
            "explicit",
            "all_authenticated"
          ],
          "description": "Type of membership.",
          "type": "string"
        },
        "resources": {
          "description": "List of resources assigned to the audience.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Name of audience.",
          "type": "string"
        },
        "teams": {
          "description": "List of teams assigned to the audience.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ConsumerTeam"
          }
        },
        "id": {
          "description": "ID of the audience.",
          "type": "string"
        },
        "description": {
          "description": "Description of the audience.",
          "type": "string"
        },
        "created": {
          "description": "Time the audience was created in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        },
        "users": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1UserData"
          },
          "description": "List of users assigned to the audience."
        }
      },
      "id": "GoogleCloudApigeeV1Audience"
    },
    "GoogleCloudApigeeV1Attributes": {
      "type": "object",
      "properties": {
        "attribute": {
          "description": "List of attributes.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          }
        }
      },
      "id": "GoogleCloudApigeeV1Attributes"
    },
    "GoogleCloudApigeeV1Access": {
      "type": "object",
      "properties": {
        "Set": {
          "$ref": "GoogleCloudApigeeV1AccessSet"
        },
        "Get": {
          "$ref": "GoogleCloudApigeeV1AccessGet"
        },
        "Remove": {
          "$ref": "GoogleCloudApigeeV1AccessRemove"
        }
      },
      "id": "GoogleCloudApigeeV1Access"
    },
    "GoogleCloudApigeeV1ListEdgeTeamsResponse": {
      "type": "object",
      "properties": {
        "requestId": {
          "description": "ID that can be used to find request details in the log files.",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "Description of the operation."
        },
        "errorCode": {
          "description": "ID that can be used to find errors in the log files.",
          "type": "string"
        },
        "status": {
          "description": "Status of the operation.",
          "type": "string"
        },
        "data": {
          "description": "Details of the team.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1EdgeTeam"
          }
        }
      },
      "id": "GoogleCloudApigeeV1ListEdgeTeamsResponse"
    },
    "GoogleCloudApigeeV1Page": {
      "type": "object",
      "properties": {
        "data": {
          "$ref": "GoogleCloudApigeeV1PageBody",
          "description": "Details of page."
        },
        "requestId": {
          "description": "ID that can be used to find request details in the log files.",
          "type": "string"
        },
        "message": {
          "description": "Description of the operation.",
          "type": "string"
        },
        "errorCode": {
          "description": "ID that can be used to find errors in the log files.",
          "type": "string"
        },
        "status": {
          "description": "Status of the operation.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1Page"
    },
    "GoogleCloudApigeeV1CustomReportMetric": {
      "description": "This encapsulates a metric property of the form sum(message_count)\nwhere name is message_count and function is sum",
      "type": "object",
      "properties": {
        "function": {
          "description": "aggregate function",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "name of the metric"
        }
      },
      "id": "GoogleCloudApigeeV1CustomReportMetric"
    },
    "GoogleCloudApigeeV1TargetServerConfig": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The target server revision name. Must be of the form\n'organizations/{org}/environments/{env}/targetservers/{ts_id}/revisions/{rev}'.",
          "type": "string"
        },
        "tlsInfo": {
          "description": "TLS settings for the target.",
          "$ref": "GoogleCloudApigeeV1TlsInfoConfig"
        },
        "port": {
          "description": "Target port.",
          "format": "int32",
          "type": "integer"
        },
        "host": {
          "description": "Target host name.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1TargetServerConfig"
    },
    "GoogleCloudApigeeV1SmtpConfig": {
      "type": "object",
      "properties": {
        "password": {
          "description": "SMTP password.",
          "type": "string"
        },
        "fromEmail": {
          "description": "Email address used as the sender.",
          "type": "string"
        },
        "securePassword": {
          "description": "SMTP secure password.",
          "type": "string"
        },
        "port": {
          "description": "Port number for the SMTP server. Supported values include:\n465 (SSL), 587 (TLS), and 25 (open, no authorization).",
          "type": "string"
        },
        "id": {
          "description": "ID of the SMTP configuration.",
          "format": "int32",
          "type": "integer"
        },
        "username": {
          "description": "SMTP username.",
          "type": "string"
        },
        "host": {
          "description": "Host URL of the SMTP server.",
          "type": "string"
        },
        "secure": {
          "description": "Boolean flag that specifies whether to use a secure connection to the\nSMTP server.",
          "type": "boolean"
        },
        "siteId": {
          "description": "ID of the portal.",
          "type": "string"
        },
        "authType": {
          "description": "Authorization type. Valid values include SSL, TLS, or blank (no auth).",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1SmtpConfig"
    },
    "GoogleCloudApigeeV1AccessSet": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        },
        "value": {
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1AccessSet",
      "description": "Set action. For example,\n\"Set\" : {\n  \"name\" : \"target.name\",\n  \"success\" : true,\n  \"value\" : \"default\"\n}"
    },
    "GoogleCloudApigeeV1StatsEnvironmentStats": {
      "id": "GoogleCloudApigeeV1StatsEnvironmentStats",
      "description": "This message type encapsulates the environment wrapper\n    \"environments\": [\n     {\n         \"metrics\": [\n             {\n                 \"name\": \"sum(message_count)\",\n                 \"values\": [\n                     \"2.52056245E8\"\n                 ]\n             }\n         ],\n         \"name\": \"prod\"\n     }\n ]",
      "type": "object",
      "properties": {
        "metrics": {
          "description": "In the final response, only one of the following fields will be present\nbased on the dimensions provided. If no dimensions are provided, then\nonly a top level metrics is provided. If dimensions are included, then\nthere will be a top level dimensions field under environments which will\ncontain metrics values and the dimension name.\nExample:\n     \"environments\": [\n      {\n         \"dimensions\": [\n             {\n                 \"metrics\": [\n                     {\n                         \"name\": \"sum(message_count)\",\n                         \"values\": [\n                             \"2.14049521E8\"\n                         ]\n                     }\n                 ],\n                 \"name\": \"nit_proxy\"\n             }\n           ],\n           \"name\": \"prod\"\n       }\n    ]\n\n    OR\n    \"environments\": [\n           {\n               \"metrics\": [\n                   {\n                       \"name\": \"sum(message_count)\",\n                        \"values\": [\n                           \"2.19026331E8\"\n                       ]\n                   }\n               ],\n               \"name\": \"prod\"\n           }\n       ]\nThis field contains the list of metric values",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Metric"
          }
        },
        "dimensions": {
          "description": "This field contains the list of metrics grouped under dimensions",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1DimensionMetric"
          }
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1SharedFlow": {
      "id": "GoogleCloudApigeeV1SharedFlow",
      "description": "The metadata describing a shared flow",
      "type": "object",
      "properties": {
        "latestRevisionId": {
          "description": "The id of the most recently created revision for this shared flow.",
          "type": "string"
        },
        "metaData": {
          "$ref": "GoogleCloudApigeeV1EntityMetadata",
          "description": "Metadata describing the shared flow."
        },
        "revision": {
          "description": "A list of revisions of this shared flow.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "The ID of the shared flow.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1DefaultAnonAllowed": {
      "id": "GoogleCloudApigeeV1DefaultAnonAllowed",
      "type": "object",
      "properties": {
        "defaultAnonAllowed": {
          "description": "Boolean flag that specifies the default visibility for pages and API\nproducts that are published on the portal.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudApigeeV1GetIdentityProviderResponse": {
      "id": "GoogleCloudApigeeV1GetIdentityProviderResponse",
      "description": "Response message for the GetIdentityProvider RPC.",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "ID that can be used to find request details in the log files.",
          "type": "string"
        },
        "message": {
          "description": "Description of the operation.",
          "type": "string"
        },
        "errorCode": {
          "description": "ID that can be used to find errors in the log files.",
          "type": "string"
        },
        "status": {
          "description": "Status of the operation.",
          "type": "string"
        },
        "data": {
          "$ref": "GoogleCloudApigeeV1IdentityProvider",
          "description": "Details of the identity provider."
        }
      }
    },
    "GoogleCloudApigeeV1OptimizedStatsNode": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "type": "any"
          }
        }
      },
      "id": "GoogleCloudApigeeV1OptimizedStatsNode"
    },
    "GoogleApiHttpBody": {
      "properties": {
        "extensions": {
          "description": "Application specific response metadata. Must be set in the first response\nfor streaming APIs.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "data": {
          "description": "The HTTP request/response body as raw binary.",
          "format": "byte",
          "type": "string"
        },
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        }
      },
      "id": "GoogleApiHttpBody",
      "description": "Message that represents an arbitrary HTTP body. It should only be used for\npayload formats that can't be represented as JSON, such as raw binary or\nan HTML page.\n\n\nThis message can be used both in streaming and non-streaming API methods in\nthe request as well as the response.\n\nIt can be used as a top-level request field, which is convenient if one\nwants to extract parameters from either the URL or HTTP template into the\nrequest fields and also want access to the raw HTTP body.\n\nExample:\n\n    message GetResourceRequest {\n      // A unique request id.\n      string request_id = 1;\n\n      // The raw HTTP body is bound to this field.\n      google.api.HttpBody http_body = 2;\n    }\n\n    service ResourceService {\n      rpc GetResource(GetResourceRequest) returns (google.api.HttpBody);\n      rpc UpdateResource(google.api.HttpBody) returns\n      (google.protobuf.Empty);\n    }\n\nExample with streaming methods:\n\n    service CaldavService {\n      rpc GetCalendar(stream google.api.HttpBody)\n        returns (stream google.api.HttpBody);\n      rpc UpdateCalendar(stream google.api.HttpBody)\n        returns (stream google.api.HttpBody);\n    }\n\nUse of this type only changes how the request and response bodies are\nhandled, all other features will continue to work unchanged.",
      "type": "object"
    },
    "GoogleCloudApigeeV1MenuTypeData": {
      "id": "GoogleCloudApigeeV1MenuTypeData",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the menu type."
        },
        "modified": {
          "type": "string",
          "description": "Time the menu type was last modified in milliseconds since epoch.",
          "format": "int64"
        },
        "modifiedBy": {
          "description": "Not used by Apigee hybrid.",
          "type": "string"
        },
        "siteId": {
          "type": "string",
          "description": "Name of the portal."
        },
        "friendlyId": {
          "description": "Display name for the menu type.",
          "type": "string"
        },
        "menuTypeId": {
          "type": "string",
          "description": "ID of the menu type.",
          "format": "int64"
        }
      }
    },
    "GoogleCloudApigeeV1DomainVerified": {
      "id": "GoogleCloudApigeeV1DomainVerified",
      "type": "object",
      "properties": {
        "verified": {
          "description": "Boolean flag that specifies whether the domain was verified.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudApigeeV1ListPublishableProductsResponse": {
      "id": "GoogleCloudApigeeV1ListPublishableProductsResponse",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "ID that can be used to find request details in the log files.",
          "type": "string"
        },
        "message": {
          "description": "Description of the operation.",
          "type": "string"
        },
        "errorCode": {
          "description": "ID that can be used to find errors in the log files.",
          "type": "string"
        },
        "status": {
          "description": "Status of the operation.",
          "type": "string"
        },
        "data": {
          "description": "List of publishable API products.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1PortalApiProduct"
          }
        }
      }
    },
    "GoogleCloudApigeeV1CapiServerStatusResponse": {
      "properties": {
        "message": {
          "description": "Description of the operation.",
          "type": "string"
        },
        "errorCode": {
          "description": "ID that can be used to find errors in the log files.",
          "type": "string"
        },
        "status": {
          "description": "Status of the operation.",
          "type": "string"
        },
        "data": {
          "$ref": "GoogleCloudApigeeV1CapiServerStatus",
          "description": "Status of the server."
        },
        "requestId": {
          "description": "ID that can be used to find request details in the log files.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1CapiServerStatusResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListSharedFlowsResponse": {
      "type": "object",
      "properties": {
        "sharedFlows": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1SharedFlow"
          }
        }
      },
      "id": "GoogleCloudApigeeV1ListSharedFlowsResponse"
    },
    "GoogleCloudApigeeV1AudienceEntitlement": {
      "type": "object",
      "properties": {
        "audience": {
          "description": "Details of the audience.",
          "$ref": "GoogleCloudApigeeV1Audience"
        },
        "entitled": {
          "type": "boolean",
          "description": "Boolean flag that specifies whether the audience is entitled."
        }
      },
      "id": "GoogleCloudApigeeV1AudienceEntitlement"
    },
    "GoogleLongrunningOperation": {
      "description": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
      "type": "object",
      "properties": {
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation.  It typically\ncontains progress information and common metadata such as create time.\nSome services might not provide such metadata.  Any method that returns a\nlong-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress.\nIf `true`, the operation is completed, and either `error` or `response` is\navailable.",
          "type": "boolean"
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal response of the operation in case of success.  If the original\nmethod returns no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.  If the original method is standard\n`Get`/`Create`/`Update`, the response should be the resource.  For other\nmethods, the response should have the type `XxxResponse`, where `Xxx`\nis the original method name.  For example, if the original method name\nis `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.",
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "id": "GoogleLongrunningOperation"
    },
    "GoogleCloudApigeeV1CssEditorUpdatePayload": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Type of payload.",
          "type": "string"
        },
        "content": {
          "type": "string",
          "description": "Custom editor update payload that contains the update type and\nthe relevant data."
        }
      },
      "id": "GoogleCloudApigeeV1CssEditorUpdatePayload"
    },
    "GoogleCloudApigeeV1ServerStatusData": {
      "properties": {
        "nfsReadAccess": {
          "type": "boolean"
        },
        "nfsWriteAccess": {
          "type": "boolean"
        },
        "nfsFolders": {
          "type": "boolean"
        },
        "dbConnection": {
          "type": "boolean"
        },
        "dbUpdateLatest": {
          "type": "boolean"
        },
        "defaultSmtpSend": {
          "type": "boolean"
        },
        "edgeConnection": {
          "type": "boolean"
        },
        "idpConnection": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudApigeeV1ServerStatusData",
      "type": "object"
    },
    "GoogleCloudApigeeV1Property": {
      "description": "A single property entry in the Properties message.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The property value",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The property key"
        }
      },
      "id": "GoogleCloudApigeeV1Property"
    },
    "GoogleCloudApigeeV1ResourceEntitlementData": {
      "type": "object",
      "properties": {
        "explicitAudiences": {
          "description": "List of explicit audience entitlements.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1AudienceEntitlement"
          }
        },
        "isPublic": {
          "description": "Boolean flag that specifies whether the resource is public.",
          "type": "boolean"
        },
        "authEntitled": {
          "description": "Boolean flag that specifies whether the resource is available to all\nregistered users.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudApigeeV1ResourceEntitlementData"
    },
    "GoogleCloudApigeeV1ZoneLinksSelfService": {
      "type": "object",
      "properties": {
        "passwd": {
          "description": "Link in the UI to reset the password for the zone.",
          "type": "string"
        },
        "signup": {
          "description": "Link in the UI to create an account in the zone.",
          "type": "string"
        },
        "selfServiceLinksEnabled": {
          "description": "Boolean flag that specifies whether self-service links are enabled.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudApigeeV1ZoneLinksSelfService"
    },
    "GoogleCloudApigeeV1OrganizationProjectMapping": {
      "type": "object",
      "properties": {
        "projectIds": {
          "description": "List of GCP projects associated with the Apigee organization.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "organization": {
          "type": "string",
          "description": "Name of the Apigee organization."
        }
      },
      "id": "GoogleCloudApigeeV1OrganizationProjectMapping"
    },
    "GoogleCloudApigeeV1ListOfDevelopersResponse": {
      "properties": {
        "developer": {
          "description": "List of developers.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Developer"
          }
        }
      },
      "id": "GoogleCloudApigeeV1ListOfDevelopersResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1MetricsData": {
      "type": "object",
      "properties": {
        "totalNumberOfSites": {
          "description": "Total number of portals.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1MetricsData"
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        }
      }
    },
    "GoogleCloudApigeeV1ServerStatus": {
      "type": "object",
      "properties": {
        "status": {
          "description": "Status of the operation.",
          "type": "string"
        },
        "data": {
          "description": "Details of the server status.",
          "$ref": "GoogleCloudApigeeV1ServerStatusData"
        },
        "requestId": {
          "description": "ID that can be used to find request details in the log files.",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "Description of the operation."
        },
        "errorCode": {
          "description": "ID that can be used to find errors in the log files.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1ServerStatus"
    },
    "GoogleCloudApigeeV1CheckAccessResponse": {
      "type": "object",
      "properties": {
        "requestId": {
          "description": "ID that can be used to find request details in the log files.",
          "type": "string"
        },
        "message": {
          "description": "Description of the operation.",
          "type": "string"
        },
        "errorCode": {
          "description": "ID that can be used to find errors in the log files.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "Status of the operation."
        },
        "data": {
          "description": "Results of the check access requests.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1CheckAccessVerdict"
          }
        }
      },
      "id": "GoogleCloudApigeeV1CheckAccessResponse"
    },
    "GoogleCloudApigeeV1CreateIdentityProviderResponse": {
      "description": "Response message for the CreateIdentityProvider RPC.",
      "type": "object",
      "properties": {
        "message": {
          "description": "Description of the operation.",
          "type": "string"
        },
        "errorCode": {
          "description": "ID that can be used to find errors in the log files.",
          "type": "string"
        },
        "status": {
          "description": "Status of the operation.",
          "type": "string"
        },
        "data": {
          "description": "List of identity providers.",
          "$ref": "GoogleCloudApigeeV1CreateIdentityProviderResponseIdentityProviders"
        },
        "requestId": {
          "description": "ID that can be used to find request details in the log files.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1CreateIdentityProviderResponse"
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is\nallowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListPagesResponse": {
      "type": "object",
      "properties": {
        "requestId": {
          "description": "ID that can be used to find request details in the log files.",
          "type": "string"
        },
        "message": {
          "description": "Description of the operation.",
          "type": "string"
        },
        "errorCode": {
          "description": "ID that can be used to find errors in the log files.",
          "type": "string"
        },
        "status": {
          "description": "Status of the operation.",
          "type": "string"
        },
        "data": {
          "description": "Details for all pages.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1PageBody"
          }
        }
      },
      "id": "GoogleCloudApigeeV1ListPagesResponse"
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {},
      "id": "GoogleProtobufEmpty"
    },
    "GoogleCloudApigeeV1VerifyCertificateRequest": {
      "description": "Request message for the VerifyCertificate RPC.",
      "type": "object",
      "properties": {
        "certificate": {
          "description": "Details of the certificate.",
          "type": "string"
        },
        "requestType": {
          "type": "string",
          "description": "Type of verification."
        }
      },
      "id": "GoogleCloudApigeeV1VerifyCertificateRequest"
    },
    "GoogleCloudApigeeV1Certificate": {
      "type": "object",
      "properties": {
        "certInfo": {
          "description": "The chain of certificates under this name.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1CertInfo"
          }
        }
      },
      "id": "GoogleCloudApigeeV1Certificate"
    },
    "GoogleCloudApigeeV1TestEmail": {
      "properties": {
        "body": {
          "description": "Body of the test email.",
          "type": "string"
        },
        "subject": {
          "description": "Subject of the test email.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1TestEmail",
      "type": "object"
    },
    "GoogleCloudApigeeV1OptimizedStats": {
      "type": "object",
      "properties": {
        "Response": {
          "$ref": "GoogleCloudApigeeV1OptimizedStatsResponse",
          "description": "This field wraps the stats response for Js Optimized Scenario\nwith a Response key.\nE.g.\n{\n \"Response\": {\n     \"TimeUnit\": [],\n     \"metaData\": {\n         \"errors\": [],\n         \"notices\": [\n             \"Source:Postgres\",\n             \"Table used: edge.api.aaxgroup001.agg_api\",\n             \"PG Host:ruappg08-ro.production.apigeeks.net\",\n             \"query served by:80c4ebca-6a10-4a2e-8faf-c60c1ee306ca\"\n         ]\n     },\n     \"resultTruncated\": false,\n     \"stats\": {\n         \"data\": [\n             {\n                \"identifier\": {\n                    \"names\": [\n                        \"apiproxy\"\n                    ],\n                    \"values\": [\n                        \"sirjee\"\n                    ]\n                },\n                \"metric\": [\n                    {\n                        \"env\": \"prod\",\n                        \"name\": \"sum(message_count)\",\n                        \"values\": [\n                            36.0\n                        ]\n                    },\n                    {\n                        \"env\": \"prod\",\n                        \"name\": \"sum(is_error)\",\n                        \"values\": [\n                            36.0\n                        ]\n                    }\n                ]\n            }\n         ]\n     }\n }\n}"
        }
      },
      "id": "GoogleCloudApigeeV1OptimizedStats"
    },
    "GoogleCloudApigeeV1ListApiProxiesResponse": {
      "id": "GoogleCloudApigeeV1ListApiProxiesResponse",
      "type": "object",
      "properties": {
        "proxies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ApiProxy"
          }
        }
      }
    },
    "GoogleCloudApigeeV1ConsumerName": {
      "type": "object",
      "properties": {
        "familyName": {
          "type": "string",
          "description": "Last name."
        },
        "givenName": {
          "description": "First name.",
          "type": "string"
        },
        "userName": {
          "description": "Username.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1ConsumerName"
    },
    "GoogleCloudApigeeV1PortalResourceAction": {
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "dependentActions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1PortalResourceAction",
      "type": "object"
    },
    "GoogleCloudApigeeV1ResourceConfig": {
      "type": "object",
      "properties": {
        "location": {
          "type": "string",
          "description": "The location of the resource as a URI."
        },
        "name": {
          "description": "The resource name. Only environment-scoped resource files are supported.\nMust be of the form\n'organizations/{org}/environments/{env}/resourcefiles/{type}/{file}/revisions/{rev}'.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1ResourceConfig"
    },
    "GoogleCloudApigeeV1DataLocation": {
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "description": "GCS signed url. Signed URLs provide a way to give time-limited\nread or write access to anyone in possession of the URL, regardless of\nwhether they have a Google account."
        }
      },
      "id": "GoogleCloudApigeeV1DataLocation"
    },
    "GoogleCloudApigeeV1PublishedApisPageResponse": {
      "type": "object",
      "properties": {
        "requestId": {
          "description": "ID that can be used to find request details in the log files.",
          "type": "string"
        },
        "message": {
          "description": "Description of the operation.",
          "type": "string"
        },
        "errorCode": {
          "description": "ID that can be used to find errors in the log files.",
          "type": "string"
        },
        "status": {
          "description": "Status of the operation.",
          "type": "string"
        },
        "data": {
          "$ref": "GoogleCloudApigeeV1PublishedApisPage",
          "description": "Details for the published API."
        }
      },
      "id": "GoogleCloudApigeeV1PublishedApisPageResponse"
    },
    "GoogleCloudApigeeV1ListAppsResponse": {
      "properties": {
        "app": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1App"
          }
        }
      },
      "id": "GoogleCloudApigeeV1ListAppsResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1ZoneLinks": {
      "description": "Links used by a zone.",
      "type": "object",
      "properties": {
        "selfService": {
          "description": "Link in the UI to create an account in the zone.",
          "$ref": "GoogleCloudApigeeV1ZoneLinksSelfService"
        },
        "homeRedirect": {
          "description": "URL used to navigate back to the home page.",
          "type": "string"
        },
        "logout": {
          "$ref": "GoogleCloudApigeeV1ZoneLinksLogout",
          "description": "Information required for redirection after sign out."
        }
      },
      "id": "GoogleCloudApigeeV1ZoneLinks"
    },
    "GoogleCloudApigeeV1ListZonesResponse": {
      "description": "Response message for the ListZones RPC.",
      "type": "object",
      "properties": {
        "errorCode": {
          "description": "ID that can be used to find errors in the log files.",
          "type": "string"
        },
        "status": {
          "description": "Status of the operation.",
          "type": "string"
        },
        "data": {
          "description": "List of zones.",
          "$ref": "GoogleCloudApigeeV1ListZonesResponseZones"
        },
        "requestId": {
          "description": "ID that can be used to find request details in the log files.",
          "type": "string"
        },
        "message": {
          "description": "Description of the operation.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1ListZonesResponse"
    },
    "GoogleCloudApigeeV1ListMenuTypesResponse": {
      "type": "object",
      "properties": {
        "status": {
          "description": "Status of the operation.",
          "type": "string"
        },
        "data": {
          "description": "Details of the menu types.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1MenuTypeData"
          }
        },
        "requestId": {
          "description": "ID that can be used to find request details in the log files.",
          "type": "string"
        },
        "message": {
          "description": "Description of the operation.",
          "type": "string"
        },
        "errorCode": {
          "description": "ID that can be used to find errors in the log files.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1ListMenuTypesResponse"
    },
    "GoogleCloudApigeeV1ZoneTokenPolicy": {
      "type": "object",
      "properties": {
        "refreshTokenValidity": {
          "description": "Duration in seconds that the refresh token will be valid after it is\ncreated.",
          "format": "int64",
          "type": "string"
        },
        "accessTokenValidity": {
          "description": "Duration in seconds that the access token will be valid after it is\ncreated.",
          "format": "int64",
          "type": "string"
        },
        "keys": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Keys used by the token policy.",
          "type": "object"
        }
      },
      "id": "GoogleCloudApigeeV1ZoneTokenPolicy"
    },
    "GoogleCloudApigeeV1File": {
      "type": "object",
      "properties": {
        "requestId": {
          "description": "ID that can be used to find request details in the log files.",
          "type": "string"
        },
        "message": {
          "description": "Description of the operation.",
          "type": "string"
        },
        "errorCode": {
          "description": "ID that can be used to find errors in the log files.",
          "type": "string"
        },
        "status": {
          "description": "Status of the operation.",
          "type": "string"
        },
        "data": {
          "$ref": "GoogleCloudApigeeV1FileData",
          "description": "Details for the file."
        }
      },
      "id": "GoogleCloudApigeeV1File"
    },
    "GoogleCloudApigeeV1ListCompanyAppsResponse": {
      "type": "object",
      "properties": {
        "app": {
          "description": "A list of apps for a company.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1CompanyApp"
          }
        }
      },
      "id": "GoogleCloudApigeeV1ListCompanyAppsResponse"
    },
    "GoogleCloudApigeeV1ListIdentityProvidersResponse": {
      "type": "object",
      "properties": {
        "errorCode": {
          "description": "ID that can be used to find errors in the log files.",
          "type": "string"
        },
        "status": {
          "description": "Status of the operation.",
          "type": "string"
        },
        "data": {
          "description": "List of identity providers.",
          "$ref": "GoogleCloudApigeeV1ListIdentityProvidersResponseIdentityProviders"
        },
        "requestId": {
          "description": "ID that can be used to find request details in the log files.",
          "type": "string"
        },
        "message": {
          "description": "Description of the operation.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1ListIdentityProvidersResponse",
      "description": "Response message for the ListIdentityProviders RPC."
    },
    "GoogleCloudApigeeV1ListOrganizationsResponse": {
      "properties": {
        "organizations": {
          "description": "List of Apigee organizations and associated GCP projects.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1OrganizationProjectMapping"
          }
        }
      },
      "id": "GoogleCloudApigeeV1ListOrganizationsResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1CustomDomainConfigData": {
      "properties": {
        "redirectHttps": {
          "description": "Boolean flag that specifies whether to redirect to HTTPS.",
          "type": "boolean"
        },
        "force": {
          "description": "Boolean flag that specifies whether to force the update.",
          "type": "boolean"
        },
        "domain": {
          "description": "Name of the custom domain.",
          "type": "string"
        },
        "id": {
          "description": "ID of the custom domain configuration.",
          "format": "int64",
          "type": "string"
        },
        "tlsAlias": {
          "description": "Name of the TLS keystore alias.",
          "type": "string"
        },
        "siteId": {
          "description": "Name of the portal.",
          "type": "string"
        },
        "subdomain": {
          "description": "Name of the subdomain.",
          "type": "string"
        },
        "tlsKeystore": {
          "description": "Name of the TLS keystore.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1CustomDomainConfigData",
      "type": "object"
    },
    "GoogleCloudApigeeV1ApiProxy": {
      "description": "Metadata describing the API proxy",
      "type": "object",
      "properties": {
        "latestRevisionId": {
          "type": "string",
          "description": "The id of the most recently created revision for this api proxy."
        },
        "metaData": {
          "description": "Metadata describing the API proxy.",
          "$ref": "GoogleCloudApigeeV1EntityMetadata"
        },
        "revision": {
          "description": "List of revisons defined for the API proxy.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Name of the API proxy.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1ApiProxy"
    },
    "GoogleCloudApigeeV1Metric": {
      "properties": {
        "name": {
          "description": "This field contains the metric name",
          "type": "string"
        },
        "values": {
          "description": "List of metric values\nPossible value format\n\"values\":[\"39.0\"] or\n\"values\":[ { \"value\": \"39.0\", \"timestamp\": 1232434354} ]",
          "type": "array",
          "items": {
            "type": "any"
          }
        }
      },
      "id": "GoogleCloudApigeeV1Metric",
      "description": "This message type encapsulates the metric data point\nExample\n{\n   \"name\": \"sum(message_count)\",\n   \"values\" : [ {\n                  \"timestamp\": 1549004400000,\n                  \"value\": \"39.0\"\n                },\n                {\n                  \"timestamp\" : 1548997200000,\n                  \"value\" : \"0.0\"\n                } ]\n}\nor\n{\n    \"name\": \"sum(message_count)\",\n    \"values\" : [\"39.0\"]\n}",
      "type": "object"
    },
    "GoogleIamV1AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions.\nExample:\n\n    {\n      \"audit_log_configs\": [\n        {\n          \"log_type\": \"DATA_READ\",\n          \"exempted_members\": [\n            \"user:jose@example.com\"\n          ]\n        },\n        {\n          \"log_type\": \"DATA_WRITE\",\n        }\n      ]\n    }\n\nThis enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting\njose@example.com from DATA_READ logging.",
      "type": "object",
      "properties": {
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of\npermission.\nFollows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "logType": {
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables.",
          "type": "string"
        }
      },
      "id": "GoogleIamV1AuditLogConfig"
    },
    "GoogleCloudApigeeV1ThemeEditorSchema": {
      "type": "object",
      "properties": {
        "defaultVariables": {
          "$ref": "GoogleCloudApigeeV1CustomStyleConfig",
          "description": "Custom styles for the default variables."
        },
        "schemaInfo": {
          "description": "Custom style details.",
          "$ref": "GoogleCloudApigeeV1CustomStyleSchemaInfo"
        }
      },
      "id": "GoogleCloudApigeeV1ThemeEditorSchema"
    },
    "GoogleCloudApigeeV1PageContent": {
      "properties": {
        "html": {
          "description": "Page content in HTML.",
          "type": "string"
        },
        "title": {
          "description": "Page title.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1PageContent",
      "type": "object"
    },
    "GoogleCloudApigeeV1ZoneAudienceEnabledResponse": {
      "type": "object",
      "properties": {
        "requestId": {
          "description": "ID that can be used to find request details in the log files.",
          "type": "string"
        },
        "message": {
          "description": "Description of the operation.",
          "type": "string"
        },
        "errorCode": {
          "description": "ID that can be used to find errors in the log files.",
          "type": "string"
        },
        "status": {
          "description": "Status of the operation.",
          "type": "string"
        },
        "data": {
          "$ref": "GoogleCloudApigeeV1ZoneAudienceEnabled",
          "description": "Audience feature flag setting for the zone."
        }
      },
      "id": "GoogleCloudApigeeV1ZoneAudienceEnabledResponse"
    },
    "GoogleCloudApigeeV1PodStatus": {
      "type": "object",
      "properties": {
        "podStatusTime": {
          "description": "Time the pod status was reported in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        },
        "deploymentStatus": {
          "description": "Status of the deployment. Valid values\ninclude:\n- `deployed`: Successful.\n- `error` : Failed.\n- `pending` : Pod has not yet reported on the deployment.",
          "type": "string"
        },
        "statusCodeDetails": {
          "description": "Human-readable message associated with the status code.",
          "type": "string"
        },
        "appVersion": {
          "description": "Version of the application running in the pod.",
          "type": "string"
        },
        "statusCode": {
          "description": "Code associated with the deployment status.",
          "type": "string"
        },
        "podStatus": {
          "description": "Overall status of the pod (not this specific deployment). Valid values\ninclude:\n- `active`: Up to date.\n- `stale` : Recently out of date.\n\nPods that have not reported status in a\nlong time are excluded from the output.",
          "type": "string"
        },
        "podName": {
          "description": "Name of the pod which is reporting the status.",
          "type": "string"
        },
        "deploymentTime": {
          "description": "Time the proxy was deployed in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        },
        "deploymentStatusTime": {
          "description": "Time the deployment status was reported in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1PodStatus"
    },
    "GoogleCloudApigeeV1ListApiDocsResponse": {
      "properties": {
        "requestId": {
          "description": "ID that can be used to find request details in the log files.",
          "type": "string"
        },
        "message": {
          "description": "Description of the operation.",
          "type": "string"
        },
        "errorCode": {
          "description": "ID that can be used to find errors in the log files.",
          "type": "string"
        },
        "status": {
          "description": "Status of the operation.",
          "type": "string"
        },
        "data": {
          "description": "Details for all published APIs.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ApiDocBody"
          }
        }
      },
      "id": "GoogleCloudApigeeV1ListApiDocsResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1TlsInfoConfig": {
      "type": "object",
      "properties": {
        "ignoreValidationErrors": {
          "description": "If true, ignore TLS certificate validation errors.",
          "type": "boolean"
        },
        "protocols": {
          "description": "Whitelist of supported TLS protocols.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enabled": {
          "description": "Enables one-way TLS.",
          "type": "boolean"
        },
        "keyAliasReference": {
          "$ref": "GoogleCloudApigeeV1KeyAliasReference",
          "description": "A pair of reference name and alias to use for client side auth."
        },
        "ciphers": {
          "description": "Whitelist of supported ciphers.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "commonName": {
          "description": "Common name to validate the target against.",
          "$ref": "GoogleCloudApigeeV1CommonNameConfig"
        },
        "clientAuthEnabled": {
          "description": "Indicates if client auth is enabled for the target. Enables two-way TLS.",
          "type": "boolean"
        },
        "keyAlias": {
          "description": "The name of the Alias used for client side auth. It must be of the form:\norganizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}",
          "type": "string"
        },
        "trustStore": {
          "type": "string",
          "description": "The name of the Keystore or keystore reference containing trusted\ncertificates for the server. It must be of either the form\norganizations/{org}/environments/{env}/keystores/{keystore} or\norganizations/{org}/environments/{env}/references/{reference}."
        }
      },
      "id": "GoogleCloudApigeeV1TlsInfoConfig"
    },
    "GoogleCloudApigeeV1OperationMetadata": {
      "description": "Metadata describing an Operation.",
      "type": "object",
      "properties": {
        "operationType": {
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "INSERT",
            "DELETE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "targetResourceName": {
          "type": "string",
          "description": "Name of the resource for which the operation is operating on."
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "FINISHED"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1OperationMetadata"
    },
    "GoogleCloudApigeeV1KeyAliasReference": {
      "type": "object",
      "properties": {
        "reference": {
          "description": "The reference name. Must be of the form:\norganizations/{org}/environments/{env}/references/{ref}.",
          "type": "string"
        },
        "aliasId": {
          "description": "The alias id. Must exist in the keystore referred to by reference.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1KeyAliasReference"
    },
    "GoogleCloudApigeeV1CompanyApp": {
      "type": "object",
      "properties": {
        "lastModifiedAt": {
          "description": "Output only. Modified time as milliseconds since epoch.\njson key: lastModifiedAt",
          "format": "int64",
          "type": "string"
        },
        "appId": {
          "type": "string",
          "description": "The id of the app."
        },
        "attributes": {
          "description": "A list of attributes.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          }
        },
        "companyName": {
          "description": "The name of the company owns the app",
          "type": "string"
        },
        "callbackUrl": {
          "description": "The callbackUrl is used by OAuth 2.0 authorization servers to communicate\nauthorization codes back to apps.",
          "type": "string"
        },
        "apiProducts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Any API Products the app consumes"
        },
        "status": {
          "description": "The status of the credential.",
          "type": "string"
        },
        "keyExpiresIn": {
          "description": "A setting, in milliseconds, for the lifetime of the consumer key that will\nbe generated for the developer app. The default value, -1, indicates an\ninfinite validity period. Once set, the expiration can't be updated.\njson key: keyExpiresIn",
          "format": "int64",
          "type": "string"
        },
        "credentials": {
          "description": "Output only. A set of credentials for the app\ncredentials are key/secret pairs",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Credential"
          }
        },
        "name": {
          "description": "The resoure id of the app.\nJSON key: name",
          "type": "string"
        },
        "scopes": {
          "description": "The scopes to apply to the app. The specified scope names must already\nexist on the API product that you associate with the app.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "createdAt": {
          "description": "Output only. created time of this environment as milliseconds since epoch.\nJSON key: createdAt",
          "format": "int64",
          "type": "string"
        },
        "appFamily": {
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1CompanyApp"
    },
    "GoogleTypeExpr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL)\nsyntax. CEL is a C-like expression language. The syntax and semantics of CEL\nare documented at https://github.com/google/cel-spec.\n\nExample (Comparison):\n\n    title: \"Summary size limit\"\n    description: \"Determines if a summary is less than 100 chars\"\n    expression: \"document.summary.size() \u003c 100\"\n\nExample (Equality):\n\n    title: \"Requestor is owner\"\n    description: \"Determines if requestor is the document owner\"\n    expression: \"document.owner == request.auth.claims.email\"\n\nExample (Logic):\n\n    title: \"Public documents\"\n    description: \"Determine whether the document should be publicly visible\"\n    expression: \"document.type != 'private' && document.type != 'internal'\"\n\nExample (Data Manipulation):\n\n    title: \"Notification string\"\n    description: \"Create a notification string with a timestamp.\"\n    expression: \"'New message received at ' + string(document.create_time)\"\n\nThe exact variables and functions that may be referenced within an expression\nare determined by the service that evaluates it. See the service\ndocumentation for additional information.",
      "type": "object",
      "properties": {
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing\nits purpose. This can be used e.g. in UIs which allow to enter the\nexpression.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error\nreporting, e.g. a file name and a position in the file."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which\ndescribes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language\nsyntax.",
          "type": "string"
        }
      },
      "id": "GoogleTypeExpr"
    },
    "GoogleCloudApigeeV1FlowHook": {
      "type": "object",
      "properties": {
        "sharedFlow": {
          "description": "Shared flow attached to this flow hook, or empty if there is none attached.",
          "type": "string"
        },
        "description": {
          "description": "Description of the flow hook.",
          "type": "string"
        },
        "flowHookPoint": {
          "description": "Output only. Where in the API call flow the flow hook is invoked. Must be one of\n`PreProxyFlowHook`, `PostProxyFlowHook`, `PreTargetFlowHook`, or\n`PostTargetFlowHook`.",
          "type": "string"
        },
        "continueOnError": {
          "description": "Optional. Flag that specifies whether execution should continue if the flow hook\nthrows an exception. Set to `true` to continue execution. Set to\n`false` to stop execution if the flow hook throws an exception.Defaults\nto `true`.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudApigeeV1FlowHook"
    },
    "GoogleCloudApigeeV1ListProxySpecsResponse": {
      "type": "object",
      "properties": {
        "message": {
          "description": "Description of the operation.",
          "type": "string"
        },
        "errorCode": {
          "description": "ID that can be used to find errors in the log files.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "Status of the operation."
[...]
