{
  "batchPath": "batch",
  "version": "v1",
  "mtlsRootUrl": "https://apigee.mtls.googleapis.com/",
  "description": "Use the Apigee API to programmatically develop and manage APIs with a set of RESTful operations. Develop and secure API proxies, deploy and undeploy API proxy revisions, monitor APIs, configure environments, manage users, and more. Get started using the APIs. *Note:* This product is available as a free trial for a time period of 60 days.",
  "title": "Apigee API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "version_module": true,
  "revision": "20201231",
  "discoveryVersion": "v1",
  "basePath": "",
  "documentationLink": "https://cloud.google.com/apigee-api-management/",
  "ownerDomain": "google.com",
  "canonicalName": "Apigee",
  "ownerName": "Google",
  "id": "apigee:v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "rootUrl": "https://apigee.googleapis.com/",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "resources": {
    "organizations": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "apigee.organizations.list",
          "response": {
            "$ref": "GoogleCloudApigeeV1ListOrganizationsResponse"
          },
          "path": "v1/{+parent}",
          "parameterOrder": [
            "parent"
          ],
          "flatPath": "v1/organizations",
          "description": "Lists the Apigee organizations and associated GCP projects that you have permission to access. See [Understanding organizations](https://cloud.google.com/apigee/docs/api-platform/fundamentals/organization-structure).",
          "httpMethod": "GET",
          "parameters": {
            "parent": {
              "location": "path",
              "description": "Required. Use the following structure in your request: `organizations`",
              "required": true,
              "pattern": "^organizations$",
              "type": "string"
            }
          }
        },
        "create": {
          "httpMethod": "POST",
          "description": "Creates an Apigee organization. See [Create an Apigee organization](https://cloud.google.com/apigee/docs/api-platform/get-started/create-org).",
          "parameters": {
            "parent": {
              "location": "query",
              "description": "Required. Name of the GCP project in which to associate the Apigee organization. Pass the information as a query parameter using the following structure in your request: `projects/`",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "id": "apigee.organizations.create",
          "request": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "parameterOrder": [],
          "flatPath": "v1/organizations",
          "path": "v1/organizations"
        },
        "delete": {
          "flatPath": "v1/organizations/{organizationsId}",
          "id": "apigee.organizations.delete",
          "parameterOrder": [
            "name"
          ],
          "description": "Delete an Apigee organization. Only supported for SubscriptionType TRIAL.",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}`",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^organizations/[^/]+$"
            }
          },
          "response": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "setSyncAuthorization": {
          "flatPath": "v1/organizations/{organizationsId}:setSyncAuthorization",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "POST",
          "description": "Sets the permissions required to allow the Synchronizer to download environment data from the control plane. You must call this API to enable proper functioning of hybrid. Pass the ETag when calling `setSyncAuthorization` to ensure that you are updating the correct version. To get an ETag, call [getSyncAuthorization](getSyncAuthorization). If you don't pass the ETag in the call to `setSyncAuthorization`, then the existing authorization is overwritten indiscriminately. For more information, see [Configure the Synchronizer](https://cloud.google.com/apigee/docs/hybrid/latest/synchronizer-access). **Note**: Available to Apigee hybrid only.",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "description": "Required. Name of the Apigee organization. Use the following structure in your request: `organizations/{org}`",
              "location": "path",
              "pattern": "^organizations/[^/]+$"
            }
          },
          "id": "apigee.organizations.setSyncAuthorization",
          "request": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          },
          "path": "v1/{+name}:setSyncAuthorization",
          "response": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          }
        },
        "update": {
          "flatPath": "v1/organizations/{organizationsId}",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^organizations/[^/]+$",
              "required": true,
              "type": "string",
              "description": "Required. Apigee organization name in the following format: `organizations/{org}`"
            }
          },
          "description": "Updates the properties for an Apigee organization. No other fields in the organization profile will be updated.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "id": "apigee.organizations.update",
          "response": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "httpMethod": "PUT"
        },
        "get": {
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "response": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "flatPath": "v1/organizations/{organizationsId}",
          "description": "Gets the profile for an Apigee organization. See [Understanding organizations](https://cloud.google.com/apigee/docs/api-platform/fundamentals/organization-structure).",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^organizations/[^/]+$",
              "description": "Required. Apigee organization name in the following format: `organizations/{org}`",
              "required": true,
              "location": "path"
            }
          },
          "id": "apigee.organizations.get",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getSyncAuthorization": {
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^organizations/[^/]+$",
              "description": "Required. Name of the Apigee organization. Use the following structure in your request: `organizations/{org}`"
            }
          },
          "response": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          },
          "request": {
            "$ref": "GoogleCloudApigeeV1GetSyncAuthorizationRequest"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/{+name}:getSyncAuthorization",
          "description": "Lists the service accounts with the permissions required to allow the Synchronizer to download environment data from the control plane. An ETag is returned in the response to `getSyncAuthorization`. Pass that ETag when calling [setSyncAuthorization](setSyncAuthorization) to ensure that you are updating the correct version. If you don't pass the ETag in the call to `setSyncAuthorization`, then the existing authorization is overwritten indiscriminately. For more information, see [Configure the Synchronizer](https://cloud.google.com/apigee/docs/hybrid/latest/synchronizer-access). **Note**: Available to Apigee hybrid only.",
          "flatPath": "v1/organizations/{organizationsId}:getSyncAuthorization",
          "httpMethod": "POST",
          "id": "apigee.organizations.getSyncAuthorization"
        },
        "getDeployedIngressConfig": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Gets the deployed ingress configuration for an organization.",
          "parameters": {
            "view": {
              "location": "query",
              "enumDescriptions": [
                "The default/unset value. The API will default to the BASIC view.",
                "Include all ingress config data necessary for the runtime to configure ingress, but no more. Routing rules will include only basepath and destination environment. This the default value.",
                "Include all ingress config data, including internal debug info for each routing rule such as the proxy claiming a particular basepath and when the routing rule first appeared in the env group."
              ],
              "enum": [
                "INGRESS_CONFIG_VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "type": "string",
              "description": "When set to FULL, additional details about the specific deployments receiving traffic will be included in the IngressConfig response's RoutingRules."
            },
            "name": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. Name of the deployed configuration for the organization in the following format: 'organizations/{org}/deployedIngressConfig'.",
              "pattern": "^organizations/[^/]+/deployedIngressConfig$"
            }
          },
          "path": "v1/{+name}",
          "id": "apigee.organizations.getDeployedIngressConfig",
          "httpMethod": "GET",
          "flatPath": "v1/organizations/{organizationsId}/deployedIngressConfig",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleCloudApigeeV1IngressConfig"
          }
        }
      },
      "resources": {
        "hostQueries": {
          "methods": {
            "getResultView": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of the asynchronous query result view to get. Must be of the form `organizations/{org}/queries/{queryId}/resultView`.",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/hostQueries/[^/]+/resultView$"
                }
              },
              "path": "v1/{+name}",
              "description": "",
              "id": "apigee.organizations.hostQueries.getResultView",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/hostQueries/{hostQueriesId}/resultView",
              "response": {
                "$ref": "GoogleCloudApigeeV1AsyncQueryResultView"
              }
            },
            "getResult": {
              "flatPath": "v1/organizations/{organizationsId}/hostQueries/{hostQueriesId}/result",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "After the query is completed, use this API to retrieve the results. If the request succeeds, and there is a non-zero result set, the result is downloaded to the client as a zipped JSON file. The name of the downloaded file will be: OfflineQueryResult-.zip Example: `OfflineQueryResult-9cfc0d85-0f30-46d6-ae6f-318d0cb961bd.zip`",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleApiHttpBody"
              },
              "id": "apigee.organizations.hostQueries.getResult",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/hostQueries/[^/]+/result$",
                  "description": "Required. Name of the asynchronous query result to get. Must be of the form `organizations/{org}/queries/{queryId}/result`."
                }
              }
            },
            "list": {
              "response": {
                "$ref": "GoogleCloudApigeeV1ListAsyncQueriesResponse"
              },
              "id": "apigee.organizations.hostQueries.list",
              "flatPath": "v1/organizations/{organizationsId}/hostQueries",
              "description": "Return a list of Asynchronous Queries at host level.",
              "path": "v1/{+parent}/hostQueries",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameters": {
                "to": {
                  "description": "Filter response list by returning asynchronous queries that created before this date time. Time must be in ISO date-time format like '2011-12-03T10:16:30Z'.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The parent resource name. Must be of the form `organizations/{org}`.",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "from": {
                  "type": "string",
                  "location": "query",
                  "description": "Filter response list by returning asynchronous queries that created after this date time. Time must be in ISO date-time format like '2011-12-03T10:15:30Z'."
                },
                "envgroupHostname": {
                  "type": "string",
                  "description": "Required. Filter response list by hostname.",
                  "location": "query"
                },
                "submittedBy": {
                  "type": "string",
                  "description": "Filter response list by user who submitted queries.",
                  "location": "query"
                },
                "inclQueriesWithoutReport": {
                  "location": "query",
                  "description": "Flag to include asynchronous queries that don't have a report denifition.",
                  "type": "string"
                },
                "dataset": {
                  "location": "query",
                  "description": "Filter response list by dataset. Example: `api`, `mint`",
                  "type": "string"
                },
                "status": {
                  "type": "string",
                  "location": "query",
                  "description": "Filter response list by asynchronous query status."
                }
              }
            },
            "get": {
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1AsyncQuery"
              },
              "id": "apigee.organizations.hostQueries.get",
              "description": "Get status of a query submitted at host level. If the query is still in progress, the `state` is set to \"running\" After the query has completed successfully, `state` is set to \"completed\"",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Name of the asynchronous query to get. Must be of the form `organizations/{org}/queries/{queryId}`.",
                  "pattern": "^organizations/[^/]+/hostQueries/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/hostQueries/{hostQueriesId}",
              "httpMethod": "GET"
            },
            "create": {
              "id": "apigee.organizations.hostQueries.create",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The parent resource name. Must be of the form `organizations/{org}`.",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleCloudApigeeV1Query"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudApigeeV1AsyncQuery"
              },
              "description": "Submit a query at host level to be processed in the background. If the submission of the query succeeds, the API returns a 201 status and an ID that refer to the query. In addition to the HTTP status 201, the `state` of \"enqueued\" means that the request succeeded.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/hostQueries",
              "flatPath": "v1/organizations/{organizationsId}/hostQueries"
            }
          }
        },
        "developers": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "expand": {
                  "location": "query",
                  "description": "Specifies whether to expand the results. Set to `true` to expand the results. This query parameter is not valid if you use the `count` or `startKey` query parameters.",
                  "type": "boolean"
                },
                "ids": {
                  "type": "string",
                  "description": "Optional. List of IDs to include, separated by commas.",
                  "location": "query"
                },
                "count": {
                  "format": "int64",
                  "type": "string",
                  "description": "Optional. Number of developers to return in the API call. Use with the `startKey` parameter to provide more targeted filtering. The limit is 1000.",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the Apigee organization. Use the following structure in your request: `organizations/{org}`."
                },
                "app": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. List only Developers that are associated with the app. Note that start_key, count are not applicable for this filter criteria."
                },
                "includeCompany": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Flag that specifies whether to include company details in the response."
                },
                "startKey": {
                  "location": "query",
                  "type": "string",
                  "description": "**Note**: Must be used in conjunction with the `count` parameter. Email address of the developer from which to start displaying the list of developers. For example, if the an unfiltered list returns: ``` westley@example.com fezzik@example.com buttercup@example.com ``` and your `startKey` is `fezzik@example.com`, the list returned will be ``` fezzik@example.com buttercup@example.com ```"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.developers.list",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListOfDevelopersResponse"
              },
              "path": "v1/{+parent}/developers",
              "flatPath": "v1/organizations/{organizationsId}/developers",
              "description": "Lists all developers in an organization by email address. By default, the response does not include company developers. Set the `includeCompany` query parameter to `true` to include company developers. **Note**: A maximum of 1000 developers are returned in the response. You paginate the list of developers returned using the `startKey` and `count` query parameters.",
              "parameterOrder": [
                "parent"
              ]
            },
            "delete": {
              "id": "apigee.organizations.developers.delete",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "description": "Deletes a developer. All apps and API keys associated with the developer are also removed. **Warning**: This API will permanently delete the developer and related artifacts. To avoid permanently deleting developers and their artifacts, set the developer status to `inactive` using the SetDeveloperStatus API. **Note**: The delete operation is asynchronous. The developer app is deleted immediately, but its associated resources, such as apps and API keys, may take anywhere from a few seconds to a few minutes to be deleted.",
              "response": {
                "$ref": "GoogleCloudApigeeV1Developer"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Email address of the developer. Use the following structure in your request: `organizations/{org}/developers/{developer_email}`",
                  "pattern": "^organizations/[^/]+/developers/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}"
            },
            "create": {
              "path": "v1/{+parent}/developers",
              "description": "Creates a developer. Once created, the developer can register an app and obtain an API key. At creation time, a developer is set as `active`. To change the developer status, use the SetDeveloperStatus API.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/developers",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudApigeeV1Developer"
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudApigeeV1Developer"
              },
              "id": "apigee.organizations.developers.create",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. Name of the Apigee organization in which the developer is created. Use the following structure in your request: `organizations/{org}`."
                }
              }
            },
            "attributes": {
              "path": "v1/{+parent}/attributes",
              "description": "Updates developer attributes. This API replaces the existing attributes with those specified in the request. Add new attributes, and include or exclude any existing attributes that you want to retain or remove, respectively. The custom attribute limit is 18. **Note**: OAuth access tokens and Key Management Service (KMS) entities (apps, developers, and API products) are cached for 180 seconds (default). Any custom attributes associated with these entities are cached for at least 180 seconds after the entity is accessed at runtime. Therefore, an `ExpiresIn` element on the OAuthV2 policy won't be able to expire an access token in less than 180 seconds.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.developers.attributes",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Required. Email address of the developer for which attributes are being updated in the following format: `organizations/{org}/developers/{developer_email}`",
                  "pattern": "^organizations/[^/]+/developers/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/attributes",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1Attributes"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudApigeeV1Attributes"
              }
            },
            "setDeveloperStatus": {
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/developers/[^/]+$",
                  "type": "string",
                  "description": "Required. Email address of the developer. Use the following structure in your request: `organizations/{org}/developers/{developer_email}`"
                },
                "action": {
                  "location": "query",
                  "type": "string",
                  "description": "Status of the developer. Valid values are `active` and `inactive`."
                }
              },
              "path": "v1/{+name}",
              "id": "apigee.organizations.developers.setDeveloperStatus",
              "description": "Sets the status of a developer. Valid values are `active` or `inactive`. A developer is `active` by default. If you set a developer's status to `inactive`, the API keys assigned to the developer apps are no longer valid even though the API keys are set to `approved`. Inactive developers can still sign in to the developer portal and create apps; however, any new API keys generated during app creation won't work. If successful, the API call returns the following HTTP status code: `204 No Content`"
            },
            "update": {
              "response": {
                "$ref": "GoogleCloudApigeeV1Developer"
              },
              "id": "apigee.organizations.developers.update",
              "description": "Updates a developer. This API replaces the existing developer details with those specified in the request. Include or exclude any existing details that you want to retain or delete, respectively. The custom attribute limit is 18. **Note**: OAuth access tokens and Key Management Service (KMS) entities (apps, developers, and API products) are cached for 180 seconds (current default). Any custom attributes associated with these entities are cached for at least 180 seconds after the entity is accessed at runtime. Therefore, an `ExpiresIn` element on the OAuthV2 policy won't be able to expire an access token in less than 180 seconds.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudApigeeV1Developer"
              },
              "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/developers/[^/]+$",
                  "type": "string",
                  "description": "Required. Email address of the developer. Use the following structure in your request: `organizations/{org}/developers/{developer_email}`"
                }
              }
            },
            "get": {
              "parameters": {
                "action": {
                  "description": "Status of the developer. Valid values are `active` or `inactive`.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+/developers/[^/]+$",
                  "location": "path",
                  "description": "Required. Email address of the developer. Use the following structure in your request: `organizations/{org}/developers/{developer_email}`",
                  "required": true
                }
              },
              "id": "apigee.organizations.developers.get",
              "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudApigeeV1Developer"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Returns the developer details, including the developer's name, email address, apps, and other information. **Note**: The response includes only the first 100 developer apps.",
              "path": "v1/{+name}"
            }
          },
          "resources": {
            "apps": {
              "methods": {
                "get": {
                  "description": "Returns the details for a developer app.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                      "description": "Required. Name of the developer app. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}`"
                    },
                    "query": {
                      "description": "**Note**: Must be used in conjunction with the `entity` parameter. Set to `count` to return the number of API resources that have been approved for access by a developer app in the specified Apigee organization.",
                      "location": "query",
                      "type": "string"
                    },
                    "entity": {
                      "description": "**Note**: Must be used in conjunction with the `query` parameter. Set to `apiresources` to return the number of API resources that have been approved for access by a developer app in the specified Apigee organization.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "id": "apigee.organizations.developers.apps.get",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}"
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/developers/[^/]+$",
                      "description": "Required. Name of the developer. Use the following structure in your request: `organizations/{org}/developers/{developer_email}`",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "description": "Creates an app associated with a developer. This API associates the developer app with the specified API product and auto-generates an API key for the app to use in calls to API proxies inside that API product. The `name` is the unique ID of the app that you can use in API calls. The `DisplayName` (set as an attribute) appears in the UI. If you don't set the `DisplayName` attribute, the `name` appears in the UI.",
                  "path": "v1/{+parent}/apps",
                  "id": "apigee.organizations.developers.apps.create",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps"
                },
                "generateKeyPairOrUpdateDeveloperAppStatus": {
                  "id": "apigee.organizations.developers.apps.generateKeyPairOrUpdateDeveloperAppStatus",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "parameters": {
                    "action": {
                      "description": "Action. Valid values are `approve` or `revoke`.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                      "description": "Required. Name of the developer app. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}`",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Manages access to a developer app by enabling you to: * Approve or revoke a developer app * Generate a new consumer key and secret for a developer app To approve or revoke a developer app, set the `action` query parameter to `approved` or `revoked`, respectively, and the `Content-Type` header to `application/octet-stream`. If a developer app is revoked, none of its API keys are valid for API calls even though the keys are still `approved`. If successful, the API call returns the following HTTP status code: `204 No Content` To generate a new consumer key and secret for a developer app, pass the new key/secret details. Rather than replace an existing key, this API generates a new key. In this case, multiple key pairs may be associated with a single developer app. Each key pair has an independent status (`approved` or `revoked`) and expiration time. Any approved, non-expired key can be used in an API call. For example, if you're using API key rotation, you can generate new keys with expiration times that overlap keys that are going to expire. You might also generate a new consumer key/secret if the security of the original key/secret is compromised. The `keyExpiresIn` property defines the expiration time for the API key in milliseconds. If you don't set this property or set it to `-1`, the API key never expires. **Notes**: * When generating a new key/secret, this API replaces the existing attributes, notes, and callback URLs with those specified in the request. Include or exclude any existing information that you want to retain or delete, respectively. * To migrate existing consumer keys and secrets to hybrid from another system, see the CreateDeveloperAppKey API."
                },
                "attributes": {
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Attributes"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                      "location": "path",
                      "description": "Required. Name of the developer app. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}`",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attributes"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/attributes",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates attributes for a developer app. This API replaces the current attributes with those specified in the request.",
                  "id": "apigee.organizations.developers.apps.attributes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}/attributes",
                  "httpMethod": "POST"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                      "description": "Required. Name of the developer app. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}`"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "description": "Deletes a developer app. **Note**: The delete operation is asynchronous. The developer app is deleted immediately, but its associated resources, such as app keys or access tokens, may take anywhere from a few seconds to a few minutes to be deleted.",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apigee.organizations.developers.apps.delete"
                },
                "list": {
                  "parameters": {
                    "count": {
                      "description": "Number of developer apps to return in the API call. Use with the `startKey` parameter to provide more targeted filtering. The limit is 1000.",
                      "location": "query",
                      "type": "string",
                      "format": "int64"
                    },
                    "shallowExpand": {
                      "type": "boolean",
                      "description": "Optional. Specifies whether to expand the results in shallow mode. Set to `true` to expand the results in shallow mode.",
                      "location": "query"
                    },
                    "startKey": {
                      "description": "**Note**: Must be used in conjunction with the `count` parameter. Name of the developer app from which to start displaying the list of developer apps. For example, if you're returning 50 developer apps at a time (using the `count` query parameter), you can view developer apps 50-99 by entering the name of the 50th developer app. The developer app name is case sensitive.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Name of the developer. Use the following structure in your request: `organizations/{org}/developers/{developer_email}`",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/developers/[^/]+$"
                    },
                    "expand": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. Specifies whether to expand the results. Set to `true` to expand the results. This query parameter is not valid if you use the `count` or `startKey` query parameters."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists all apps created by a developer in an Apigee organization. Optionally, you can request an expanded view of the developer apps. A maximum of 100 developer apps are returned per API call. You can paginate the list of deveoper apps returned using the `startKey` and `count` query parameters.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListDeveloperAppsResponse"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps",
                  "id": "apigee.organizations.developers.apps.list",
                  "path": "v1/{+parent}/apps",
                  "httpMethod": "GET"
                },
                "update": {
                  "path": "v1/{+name}",
                  "id": "apigee.organizations.developers.apps.update",
                  "httpMethod": "PUT",
                  "description": "Updates the details for a developer app. In addition, you can add an API product to a developer app and automatically generate an API key for the app to use when calling APIs in the API product. If you want to use an existing API key for the API product, add the API product to the API key using the UpdateDeveloperAppKey API. Using this API, you cannot update the following: * App name as it is the primary key used to identify the app and cannot be changed. * Scopes associated with the app. Instead, use the ReplaceDeveloperAppKey API. This API replaces the existing attributes with those specified in the request. Include or exclude any existing attributes that you want to retain or delete, respectively.",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperApp"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Name of the developer app. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}`",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                      "required": true
                    }
                  }
                }
              },
              "resources": {
                "keys": {
                  "resources": {
                    "create": {
                      "methods": {
                        "create": {
                          "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys/create",
                          "response": {
                            "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "request": {
                            "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                          },
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "apigee.organizations.developers.apps.keys.create.create",
                          "parameters": {
                            "parent": {
                              "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                              "location": "path",
                              "required": true,
                              "description": "Parent of the developer app key. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps`",
                              "type": "string"
                            }
                          },
                          "description": "Creates a custom consumer key and secret for a developer app. This is particularly useful if you want to migrate existing consumer keys and secrets to Apigee hybrid from another system. Consumer keys and secrets can contain letters, numbers, underscores, and hyphens. No other special characters are allowed. To avoid service disruptions, a consumer key and secret should not exceed 2 KBs each. **Note**: When creating the consumer key and secret, an association to API products will not be made. Therefore, you should not specify the associated API products in your request. Instead, use the UpdateDeveloperAppKey API to make the association after the consumer key and secret are created. If a consumer key and secret already exist, you can keep them or delete them using the DeleteDeveloperAppKey API.",
                          "path": "v1/{+parent}/keys/create"
                        }
                      }
                    },
                    "apiproducts": {
                      "methods": {
                        "delete": {
                          "id": "apigee.organizations.developers.apps.keys.apiproducts.delete",
                          "description": "Removes an API product from an app's consumer key. After the API product is removed, the app cannot access the API resources defined in that API product. **Note**: The consumer key is not removed, only its association with the API product.",
                          "path": "v1/{+name}",
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "name": {
                              "description": "Name of the API product in the developer app key in the following format: `organizations/{org}/developers/{developer_email}/apps/{app}/keys/{key}/apiproducts/{apiproduct}`",
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/keys/[^/]+/apiproducts/[^/]+$"
                            }
                          },
                          "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys/{keysId}/apiproducts/{apiproductsId}",
                          "response": {
                            "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                          },
                          "httpMethod": "DELETE",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "updateDeveloperAppKeyApiProduct": {
                          "id": "apigee.organizations.developers.apps.keys.apiproducts.updateDeveloperAppKeyApiProduct",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys/{keysId}/apiproducts/{apiproductsId}",
                          "parameters": {
                            "name": {
                              "required": true,
                              "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/keys/[^/]+/apiproducts/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "description": "Name of the API product in the developer app key in the following format: `organizations/{org}/developers/{developer_email}/apps/{app}/keys/{key}/apiproducts/{apiproduct}`"
                            },
                            "action": {
                              "location": "query",
                              "type": "string",
                              "description": "Approve or revoke the consumer key by setting this value to `approve` or `revoke`, respectively."
                            }
                          },
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "path": "v1/{+name}",
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Approve or revoke an app's consumer key. After a consumer key is approved, the app can use it to access APIs. A consumer key that is revoked or pending cannot be used to access an API. Any access tokens associated with a revoked consumer key will remain active. However, Apigee hybrid checks the status of the consumer key and if set to `revoked` will not allow access to the API.",
                          "httpMethod": "POST"
                        }
                      }
                    }
                  },
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "id": "apigee.organizations.developers.apps.keys.get",
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys/{keysId}",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/keys/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Name of the developer app key. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}/keys/{key}`",
                          "type": "string"
                        }
                      },
                      "description": "Returns details for a consumer key for a developer app, including the key and secret value, associated API products, and other information.",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "updateDeveloperAppKey": {
                      "id": "apigee.organizations.developers.apps.keys.updateDeveloperAppKey",
                      "request": {
                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                      },
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys/{keysId}",
                      "description": "Adds an API product to a developer app key, enabling the app that holds the key to access the API resources bundled in the API product. In addition, you can add attributes to a developer app key. This API replaces the existing attributes with those specified in the request. Include or exclude any existing attributes that you want to retain or delete, respectively. You can use the same key to access all API products associated with the app.",
                      "path": "v1/{+name}",
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "description": "Name of the developer app key. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}/keys/{key}`",
                          "required": true,
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/keys/[^/]+$"
                        },
                        "action": {
                          "location": "query",
                          "type": "string",
                          "description": "Approve or revoke the consumer key by setting this value to `approve` or `revoke`, respectively."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "create": {
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "description": "Parent of the developer app key. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps`",
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/keys",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                      },
                      "id": "apigee.organizations.developers.apps.keys.create",
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys",
                      "request": {
                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                      },
                      "description": "Creates a custom consumer key and secret for a developer app. This is particularly useful if you want to migrate existing consumer keys and secrets to Apigee hybrid from another system. Consumer keys and secrets can contain letters, numbers, underscores, and hyphens. No other special characters are allowed. To avoid service disruptions, a consumer key and secret should not exceed 2 KBs each. **Note**: When creating the consumer key and secret, an association to API products will not be made. Therefore, you should not specify the associated API products in your request. Instead, use the UpdateDeveloperAppKey API to make the association after the consumer key and secret are created. If a consumer key and secret already exist, you can keep them or delete them using the DeleteDeveloperAppKey API.",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "replaceDeveloperAppKey": {
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/keys/[^/]+$",
                          "description": "Name of the developer app key. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}/keys/{key}`",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "apigee.organizations.developers.apps.keys.replaceDeveloperAppKey",
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys/{keysId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "httpMethod": "PUT",
                      "description": "Updates the scope of an app. This API replaces the existing scopes with those specified in the request. Include or exclude any existing scopes that you want to retain or delete, respectively. The specified scopes must already be defined for the API products associated with the app. This API sets the `scopes` element under the `apiProducts` element in the attributes of the app.",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                      }
                    },
                    "delete": {
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/keys/{keysId}",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/keys/[^/]+$",
                          "required": true,
                          "description": "Name of the developer app key. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}/keys/{key}`",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "description": "Deletes an app's consumer key and removes all API products associated with the app. After the consumer key is deleted, it cannot be used to access any APIs. **Note**: After you delete a consumer key, you may want to: 1. Create a new consumer key and secret for the developer app using the CreateDeveloperAppKey API, and subsequently add an API product to the key using the UpdateDeveloperAppKey API. 2. Delete the developer app, if it is no longer required.",
                      "httpMethod": "DELETE",
                      "id": "apigee.organizations.developers.apps.keys.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudApigeeV1DeveloperAppKey"
                      }
                    }
                  }
                },
                "attributes": {
                  "methods": {
                    "updateDeveloperAppAttribute": {
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/attributes/{attributesId}",
                      "id": "apigee.organizations.developers.apps.attributes.updateDeveloperAppAttribute",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Attribute"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Updates a developer app attribute. **Note**: OAuth access tokens and Key Management Service (KMS) entities (apps, developers, and API products) are cached for 180 seconds (current default). Any custom attributes associated with these entities are cached for at least 180 seconds after the entity is accessed at runtime. Therefore, an `ExpiresIn` element on the OAuthV2 policy won't be able to expire an access token in less than 180 seconds.",
                      "request": {
                        "$ref": "GoogleCloudApigeeV1Attribute"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/attributes/[^/]+$",
                          "description": "Required. Name of the developer app attribute. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}/attributes/{attribute}`",
                          "location": "path",
                          "required": true
                        }
                      },
                      "path": "v1/{+name}"
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/attributes/[^/]+$",
                          "description": "Required. Name of the developer app attribute. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}/attributes/{attribute}`",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Attribute"
                      },
                      "path": "v1/{+name}",
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/attributes/{attributesId}",
                      "id": "apigee.organizations.developers.apps.attributes.delete",
                      "httpMethod": "DELETE",
                      "description": "Deletes a developer app attribute."
                    },
                    "list": {
                      "httpMethod": "GET",
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/attributes",
                      "description": "Returns a list of all developer app attributes.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Attributes"
                      },
                      "id": "apigee.organizations.developers.apps.attributes.list",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "Required. Name of the developer app. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}`",
                          "type": "string",
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+$",
                          "required": true
                        }
                      },
                      "path": "v1/{+parent}/attributes"
                    },
                    "get": {
                      "description": "Returns a developer app attribute.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. Name of the developer app attribute. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/apps/{app}/attributes/{attribute}`",
                          "pattern": "^organizations/[^/]+/developers/[^/]+/apps/[^/]+/attributes/[^/]+$",
                          "required": true
                        }
                      },
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Attribute"
                      },
                      "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/apps/{appsId}/attributes/{attributesId}",
                      "id": "apigee.organizations.developers.apps.attributes.get",
                      "path": "v1/{+name}"
                    }
                  }
                }
              }
            },
            "attributes": {
              "methods": {
                "delete": {
                  "path": "v1/{+name}",
                  "description": "Deletes a developer attribute.",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/attributes/{attributesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/attributes/[^/]+$",
                      "description": "Required. Name of the developer attribute. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/attributes/{attribute}`"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.developers.attributes.delete",
                  "httpMethod": "DELETE"
                },
                "updateDeveloperAttribute": {
                  "description": "Updates a developer attribute. **Note**: OAuth access tokens and Key Management Service (KMS) entities (apps, developers, and API products) are cached for 180 seconds (default). Any custom attributes associated with these entities are cached for at least 180 seconds after the entity is accessed at runtime. Therefore, an `ExpiresIn` element on the OAuthV2 policy won't be able to expire an access token in less than 180 seconds.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/developers/[^/]+/attributes/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the developer attribute. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/attributes/{attribute}`",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "id": "apigee.organizations.developers.attributes.updateDeveloperAttribute",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/attributes/{attributesId}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "path": "v1/{+name}"
                },
                "get": {
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/attributes/{attributesId}",
                  "description": "Returns the value of the specified developer attribute.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.developers.attributes.get",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the developer attribute. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/attributes/{attribute}`",
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/developers/[^/]+/attributes/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  }
                },
                "list": {
                  "id": "apigee.organizations.developers.attributes.list",
                  "description": "Returns a list of all developer attributes.",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/attributes",
                  "path": "v1/{+parent}/attributes",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attributes"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/developers/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Email address of the developer for which attributes are being listed in the following format: `organizations/{org}/developers/{developer_email}`"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        },
        "deployments": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "path": "v1/{+parent}/deployments",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1ListDeploymentsResponse"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. Name of the organization for which to return deployment information in the following format: `organizations/{org}`"
                },
                "sharedFlows": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Optional. Flag that specifies whether to return shared flow or API proxy deployments. Set to `true` to return shared flow deployments; set to `false` to return API proxy deployments. Defaults to `false`."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.deployments.list",
              "description": "Lists all deployments of API proxies or shared flows.",
              "flatPath": "v1/organizations/{organizationsId}/deployments"
            }
          }
        },
        "keyvaluemaps": {
          "methods": {
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/keyvaluemaps/[^/]+$",
                  "description": "Required. The name of the key value map. Must be of the form `organizations/{organization}/keyvaluemaps/{keyvaluemap}`.",
                  "location": "path"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/keyvaluemaps/{keyvaluemapsId}",
              "response": {
                "$ref": "GoogleCloudApigeeV1KeyValueMap"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "id": "apigee.organizations.keyvaluemaps.delete",
              "description": "Delete a key value map in an organization.",
              "httpMethod": "DELETE"
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/keyvaluemaps",
              "request": {
                "$ref": "GoogleCloudApigeeV1KeyValueMap"
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1KeyValueMap"
              },
              "description": "Creates a key value map in an organization.",
              "id": "apigee.organizations.keyvaluemaps.create",
              "httpMethod": "POST",
              "flatPath": "v1/organizations/{organizationsId}/keyvaluemaps",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the organization in which to create the key value map file. Must be of the form `organizations/{organization}`."
                }
              }
            }
          }
        },
        "optimizedHostStats": {
          "methods": {
            "get": {
              "description": "This api is similar to GetHostStats except that the response is less verbose.",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/optimizedHostStats/{optimizedHostStatsId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "id": "apigee.organizations.optimizedHostStats.get",
              "parameters": {
                "realtime": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Legacy field: not used anymore."
                },
                "tzo": {
                  "description": "This parameters contains the timezone offset value.",
                  "type": "string",
                  "location": "query"
                },
                "sortby": {
                  "location": "query",
                  "type": "string",
                  "description": "Comma separated list of columns to sort the final result."
                },
                "filter": {
                  "type": "string",
                  "description": "Enables drill-down on specific dimension values.",
                  "location": "query"
                },
                "sort": {
                  "location": "query",
                  "type": "string",
                  "description": "This parameter specifies if the sort order should be ascending or descending Supported values are DESC and ASC."
                },
                "tsAscending": {
                  "description": "Lists timestamps in ascending order if set to true. Recommend setting this value to true if you are using sortby with sort=DESC.",
                  "location": "query",
                  "type": "boolean"
                },
                "envgroupHostname": {
                  "type": "string",
                  "description": "Required. The hostname for which the interactive query will be executed.",
                  "location": "query"
                },
                "timeUnit": {
                  "type": "string",
                  "description": "A value of second, minute, hour, day, week, month. Time Unit specifies the granularity of metrics returned.",
                  "location": "query"
                },
                "topk": {
                  "description": "Take 'top k' results from results, for example, to return the top 5 results 'topk=5'.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+/optimizedHostStats/.*$",
                  "description": "Required. The resource name for which the interactive query will be executed. Must be of the form `organizations/{organization_id}/stats/{dimensions}`. Dimensions let you view metrics in meaningful groupings. E.g. apiproxy, target_host. The value of dimensions should be comma separated list as shown below `organizations/{org}/stats/apiproxy,request_verb`"
                },
                "offset": {
                  "location": "query",
                  "type": "string",
                  "description": "Use offset with limit to enable pagination of results. For example, to display results 11-20, set limit to '10' and offset to '10'."
                },
                "limit": {
                  "location": "query",
                  "type": "string",
                  "description": "This parameter is used to limit the number of result items. Default and the max value is 14400."
                },
                "accuracy": {
                  "location": "query",
                  "description": "Legacy field: not used anymore.",
                  "type": "string"
                },
                "timeRange": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. Time interval for the interactive query. Time range is specified as start~end. E.g 04/15/2017 00:00~05/15/2017 23:59."
                },
                "select": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. The select parameter contains a comma separated list of metrics. E.g. sum(message_count),sum(error_count)"
                }
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1OptimizedStats"
              }
            }
          }
        },
        "datacollectors": {
          "methods": {
            "delete": {
              "description": "Deletes a data collector.",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.datacollectors.delete",
              "flatPath": "v1/organizations/{organizationsId}/datacollectors/{datacollectorsId}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/datacollectors/[^/]+$",
                  "description": "Required. Name of the data collector in the following format: `organizations/{org}/datacollectors/{data_collector_id}`.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "DELETE"
            },
            "list": {
              "id": "apigee.organizations.datacollectors.list",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListDataCollectorsResponse"
              },
              "flatPath": "v1/organizations/{organizationsId}/datacollectors",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of data collectors to return. The page size defaults to 25."
                },
                "parent": {
                  "required": true,
                  "description": "Required. Name of the organization for which to list data collectors in the following format: `organizations/{org}`.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Page token, returned from a previous ListDataCollectors call, that you can use to retrieve the next page."
                }
              },
              "httpMethod": "GET",
              "path": "v1/{+parent}/datacollectors",
              "description": "Lists all data collectors.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "path": "v1/{+name}",
              "description": "Gets a data collector.",
              "httpMethod": "GET",
              "id": "apigee.organizations.datacollectors.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the data collector in the following format: `organizations/{org}/datacollectors/{data_collector_id}`.",
                  "pattern": "^organizations/[^/]+/datacollectors/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1DataCollector"
              },
              "flatPath": "v1/organizations/{organizationsId}/datacollectors/{datacollectorsId}"
            },
            "patch": {
              "response": {
                "$ref": "GoogleCloudApigeeV1DataCollector"
              },
              "flatPath": "v1/organizations/{organizationsId}/datacollectors/{datacollectorsId}",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudApigeeV1DataCollector"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of the data collector in the following format: `organizations/{org}/datacollectors/{data_collector_id}`.",
                  "pattern": "^organizations/[^/]+/datacollectors/[^/]+$"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "List of fields to be updated.",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Updates a data collector.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "apigee.organizations.datacollectors.patch"
            },
            "create": {
              "flatPath": "v1/organizations/{organizationsId}/datacollectors",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudApigeeV1DataCollector"
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1DataCollector"
              },
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. Name of the organization in which to create the data collector in the following format: `organizations/{org}`.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "dataCollectorId": {
                  "type": "string",
                  "location": "query",
                  "description": "ID of the data collector. Overrides any ID in the data collector resource. Must begin with `dc_`."
                }
              },
              "httpMethod": "POST",
              "description": "Creates a new data collector.",
              "id": "apigee.organizations.datacollectors.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/datacollectors"
            }
          }
        },
        "environments": {
          "resources": {
            "references": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Reference"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the Reference to get. Must be of the form `organizations/{org}/environments/{env}/references/{ref}`.",
                      "required": true,
                      "pattern": "^organizations/[^/]+/environments/[^/]+/references/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets a Reference resource.",
                  "path": "v1/{+name}",
                  "id": "apigee.organizations.environments.references.get",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/references/{referencesId}"
                },
                "update": {
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Reference"
                  },
                  "httpMethod": "PUT",
                  "description": "Updates an existing Reference. Note that this operation has PUT semantics; it will replace the entirety of the existing Reference with the resource in the request body.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apigee.organizations.environments.references.update",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/references/[^/]+$",
                      "description": "Required. The name of the Reference to update. Must be of the form `organizations/{org}/environments/{env}/references/{ref}`.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/references/{referencesId}",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Reference"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+/references/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the Reference to delete. Must be of the form `organizations/{org}/environments/{env}/references/{ref}`.",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/references/{referencesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.environments.references.delete",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Reference"
                  },
                  "description": "Deletes a Reference from an environment. Returns the deleted Reference resource."
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent environment name under which the Reference will be created. Must be of the form `organizations/{org}/environments/{env}`.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/environments/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/references",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Reference"
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Reference"
                  },
                  "path": "v1/{+parent}/references",
                  "description": "Creates a Reference in the specified environment.",
                  "id": "apigee.organizations.environments.references.create",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "resourcefiles": {
              "methods": {
                "update": {
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/resourcefiles/{type}/{name}",
                  "request": {
                    "$ref": "GoogleApiHttpBody"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/resourcefiles/{type}/{name}",
                  "description": "Updates a resource file. Specify the `Content-Type` as `application/octet-stream` or `multipart/form-data`. For more information about resource files, see [Resource files](https://cloud.google.com/apigee/docs/api-platform/develop/resource-files).",
                  "parameters": {
                    "parent": {
                      "description": "Required. Name of the environment in the following format: `organizations/{org}/environments/{env}`.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/environments/[^/]+$"
                    },
                    "type": {
                      "description": "Required. Resource file type. {{ resource_file_type }}",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. ID of the resource file to update. Must match the regular expression: [a-zA-Z0-9:/\\\\!@#$%^&{}\\[\\]()+\\-=,.~'` ]{1,255}",
                      "type": "string"
                    }
                  },
                  "id": "apigee.organizations.environments.resourcefiles.update",
                  "httpMethod": "PUT",
                  "parameterOrder": [
                    "parent",
                    "type",
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ResourceFile"
                  }
                },
                "create": {
                  "httpMethod": "POST",
                  "description": "Creates a resource file. Specify the `Content-Type` as `application/octet-stream` or `multipart/form-data`. For more information about resource files, see [Resource files](https://cloud.google.com/apigee/docs/api-platform/develop/resource-files).",
                  "request": {
                    "$ref": "GoogleApiHttpBody"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. Name of the environment in which to create the resource file in the following format: `organizations/{org}/environments/{env}`.",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "name": {
                      "location": "query",
                      "description": "Required. Name of the resource file. Must match the regular expression: [a-zA-Z0-9:/\\\\!@#$%^&{}\\[\\]()+\\-=,.~'` ]{1,255}",
                      "type": "string"
                    },
                    "type": {
                      "description": "Required. Resource file type. {{ resource_file_type }}",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/resourcefiles",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ResourceFile"
                  },
                  "id": "apigee.organizations.environments.resourcefiles.create",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/resourcefiles"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/resourcefiles/{type}/{name}",
[...]
