{
  "documentationLink": "https://cloud.google.com/apigee-api-management/",
  "batchPath": "batch",
  "protocol": "rest",
  "version_module": true,
  "baseUrl": "https://apigee.googleapis.com/",
  "name": "apigee",
  "ownerDomain": "google.com",
  "title": "Apigee API",
  "kind": "discovery#restDescription",
  "basePath": "",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "parameters": {
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "version": "v1",
  "id": "apigee:v1",
  "description": "Use the Apigee API to programmatically develop and manage APIs with a set of RESTful operations. Develop and secure API proxies, deploy and undeploy API proxy revisions, monitor APIs, configure environments, manage users, and more. Note: This product is available as a free trial for a time period of 60 days.",
  "mtlsRootUrl": "https://apigee.mtls.googleapis.com/",
  "resources": {
    "hybrid": {
      "resources": {
        "issuers": {
          "methods": {
            "list": {
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListHybridIssuersResponse"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Must be of the form `hybrid/issuers`.",
                  "required": true,
                  "pattern": "^hybrid/issuers$"
                }
              },
              "description": "Lists hybrid services and its trusted issuers service account ids. This api is authenticated and unauthorized(allow all the users) and used by runtime authn-authz service to query control plane's issuer service account ids.",
              "flatPath": "v1/hybrid/issuers",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "apigee.hybrid.issuers.list",
              "httpMethod": "GET"
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "securityProfiles": {
          "resources": {
            "environments": {
              "methods": {
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the environment attachment to delete. Format: organizations/{org}/securityProfiles/{profile}/environments/{env}",
                      "required": true,
                      "pattern": "^organizations/[^/]+/securityProfiles/[^/]+/environments/[^/]+$",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.securityProfiles.environments.delete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/securityProfiles/{securityProfilesId}/environments/{environmentsId}",
                  "description": "DeleteSecurityProfileEnvironmentAssociation removes profile environment association i.e. detaches environment from security profile."
                },
                "computeEnvironmentScores": {
                  "parameters": {
                    "profileEnvironment": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/securityProfiles/[^/]+/environments/[^/]+$",
                      "description": "Required. Name of organization and environment and profile id for which score needs to be computed. Format: organizations/{org}/securityProfiles/{profile}/environments/{env}",
                      "required": true
                    }
                  },
                  "id": "apigee.organizations.securityProfiles.environments.computeEnvironmentScores",
                  "flatPath": "v1/organizations/{organizationsId}/securityProfiles/{securityProfilesId}/environments/{environmentsId}:computeEnvironmentScores",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ComputeEnvironmentScoresResponse"
                  },
                  "description": "ComputeEnvironmentScores calculates scores for requested time range for the specified security profile and environment.",
                  "path": "v1/{+profileEnvironment}:computeEnvironmentScores",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1ComputeEnvironmentScoresRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "profileEnvironment"
                  ]
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/securityProfiles/{securityProfilesId}/environments",
                  "description": "CreateSecurityProfileEnvironmentAssociation creates profile environment association i.e. attaches environment to security profile.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^organizations/[^/]+/securityProfiles/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of organization and security profile ID. Format: organizations/{org}/securityProfiles/{profile}"
                    }
                  },
                  "path": "v1/{+parent}/environments",
                  "id": "apigee.organizations.securityProfiles.environments.create",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1SecurityProfileEnvironmentAssociation"
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1SecurityProfileEnvironmentAssociation"
                  }
                }
              }
            }
          },
          "methods": {
            "listRevisions": {
              "response": {
                "$ref": "GoogleCloudApigeeV1ListSecurityProfileRevisionsResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "description": "A page token, received from a previous `ListSecurityProfileRevisions` call. Provide this to retrieve the subsequent page.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of profile revisions to return. The service may return fewer than this value. If unspecified, at most 50 revisions will be returned.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/securityProfiles/[^/]+$",
                  "type": "string",
                  "description": "Required. For a specific profile, list all the revisions. Format: `organizations/{org}/securityProfiles/{profile}`"
                }
              },
              "path": "v1/{+name}:listRevisions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "ListSecurityProfileRevisions lists all the revisions of the security profile.",
              "id": "apigee.organizations.securityProfiles.listRevisions",
              "flatPath": "v1/organizations/{organizationsId}/securityProfiles/{securityProfilesId}:listRevisions",
              "parameterOrder": [
                "name"
              ]
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "id": "apigee.organizations.securityProfiles.patch",
              "response": {
                "$ref": "GoogleCloudApigeeV1SecurityProfile"
              },
              "request": {
                "$ref": "GoogleCloudApigeeV1SecurityProfile"
              },
              "flatPath": "v1/organizations/{organizationsId}/securityProfiles/{securityProfilesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "UpdateSecurityProfile update the metadata of security profile.",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "description": "Required. The list of fields to update.",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/securityProfiles/[^/]+$",
                  "required": true,
                  "description": "Immutable. Name of the security profile resource. Format: organizations/{org}/securityProfiles/{profile}"
                }
              },
              "path": "v1/{+name}"
            },
            "list": {
              "response": {
                "$ref": "GoogleCloudApigeeV1ListSecurityProfilesResponse"
              },
              "flatPath": "v1/organizations/{organizationsId}/securityProfiles",
              "parameterOrder": [
                "parent"
              ],
              "description": "ListSecurityProfiles lists all the security profiles associated with the org including attached and unattached profiles.",
              "id": "apigee.organizations.securityProfiles.list",
              "path": "v1/{+parent}/securityProfiles",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of profiles to return. The service may return fewer than this value. If unspecified, at most 50 profiles will be returned.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. For a specific organization, list of all the security profiles. Format: `organizations/{org}`",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListSecurityProfiles` call. Provide this to retrieve the subsequent page.",
                  "location": "query",
                  "type": "string"
                }
              }
            },
            "get": {
              "flatPath": "v1/organizations/{organizationsId}/securityProfiles/{securityProfilesId}",
              "id": "apigee.organizations.securityProfiles.get",
              "response": {
                "$ref": "GoogleCloudApigeeV1SecurityProfile"
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Security profile in the following format: `organizations/{org}/securityProfiles/{profile}'. Profile may optionally contain revision ID. If revision ID is not provided, the response will contain latest revision by default. Example: organizations/testOrg/securityProfiles/testProfile@5",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/securityProfiles/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "description": "GetSecurityProfile gets the specified security profile. Returns NOT_FOUND if security profile is not present for the specified organization.",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Name of profile. Format: organizations/{org}/securityProfiles/{profile}",
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+/securityProfiles/[^/]+$"
                }
              },
              "id": "apigee.organizations.securityProfiles.delete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "DeleteSecurityProfile delete a profile with all its revisions.",
              "httpMethod": "DELETE",
              "flatPath": "v1/organizations/{organizationsId}/securityProfiles/{securityProfilesId}"
            },
            "create": {
              "description": "CreateSecurityProfile create a new custom security profile.",
              "response": {
                "$ref": "GoogleCloudApigeeV1SecurityProfile"
              },
              "id": "apigee.organizations.securityProfiles.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudApigeeV1SecurityProfile"
              },
              "httpMethod": "POST",
              "parameters": {
                "securityProfileId": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. The ID to use for the SecurityProfile, which will become the final component of the action's resource name. This value should be 1-63 characters and validated by \"(^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$)\"."
                },
                "parent": {
                  "description": "Required. Name of organization. Format: organizations/{org}",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+$"
                }
              },
              "path": "v1/{+parent}/securityProfiles",
              "flatPath": "v1/organizations/{organizationsId}/securityProfiles",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "operations": {
          "methods": {
            "list": {
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The standard list page token."
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The standard list filter."
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The standard list page size.",
                  "type": "integer"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "description": "The name of the operation's parent resource.",
                  "location": "path"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/operations",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}/operations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "id": "apigee.organizations.operations.list"
            },
            "get": {
              "id": "apigee.organizations.operations.get",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "flatPath": "v1/organizations/{organizationsId}/operations/{operationsId}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            }
          }
        },
        "appgroups": {
          "resources": {
            "apps": {
              "methods": {
                "create": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^organizations/[^/]+/appgroups/[^/]+$",
                      "description": "Required. Name of the AppGroup. Use the following structure in your request: `organizations/{org}/appgroups/{app_group_name}`",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/apps",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1AppGroupApp"
                  },
                  "description": "Creates an app and associates it with an AppGroup. This API associates the AppGroup app with the specified API product and auto-generates an API key for the app to use in calls to API proxies inside that API product. The `name` is the unique ID of the app that you can use in API calls.",
                  "id": "apigee.organizations.appgroups.apps.create",
                  "flatPath": "v1/organizations/{organizationsId}/appgroups/{appgroupsId}/apps",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1AppGroupApp"
                  }
                },
                "get": {
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apigee.organizations.appgroups.apps.get",
                  "description": "Returns the details for an AppGroup app.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1AppGroupApp"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/appgroups/{appgroupsId}/apps/{appsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the AppGroup app. Use the following structure in your request: `organizations/{org}/appgroups/{app_group_name}/apps/{app}`",
                      "pattern": "^organizations/[^/]+/appgroups/[^/]+/apps/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. Page token. If provides, must be a valid AppGroup app returned from a previous call that can be used to retrieve the next page.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Maximum number entries to return. If unspecified, at most 1000 entries will be returned."
                    },
                    "parent": {
                      "description": "Required. Name of the AppGroup. Use the following structure in your request: `organizations/{org}/appgroups/{app_group_name}`",
                      "pattern": "^organizations/[^/]+/appgroups/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/appgroups/{appgroupsId}/apps",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "apigee.organizations.appgroups.apps.list",
                  "description": "Lists all apps created by an AppGroup in an Apigee organization. Optionally, you can request an expanded view of the AppGroup apps. Lists all AppGroupApps in an AppGroup. A maximum of 1000 AppGroup apps are returned in the response if PageSize is not specified, or if the PageSize is greater than 1000.",
                  "path": "v1/{+parent}/apps",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListAppGroupAppsResponse"
                  }
                },
                "update": {
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/appgroups/[^/]+/apps/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the AppGroup app. Use the following structure in your request: `organizations/{org}/appgroups/{app_group_name}/apps/{app}`",
                      "required": true
                    },
                    "action": {
                      "location": "query",
                      "description": "Approve or revoke the consumer key by setting this value to `approve` or `revoke`. The `Content-Type` header must be set to `application/octet-stream`, with empty body.",
                      "type": "string"
                    }
                  },
                  "id": "apigee.organizations.appgroups.apps.update",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PUT",
                  "description": "Updates the details for an AppGroup app. In addition, you can add an API product to an AppGroup app and automatically generate an API key for the app to use when calling APIs in the API product. If you want to use an existing API key for the API product, add the API product to the API key using the UpdateAppGroupAppKey API. Using this API, you cannot update the app name, as it is the primary key used to identify the app and cannot be changed. This API replaces the existing attributes with those specified in the request. Include or exclude any existing attributes that you want to retain or delete, respectively.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1AppGroupApp"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/appgroups/{appgroupsId}/apps/{appsId}",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1AppGroupApp"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}"
                },
                "delete": {
                  "flatPath": "v1/organizations/{organizationsId}/appgroups/{appgroupsId}/apps/{appsId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/appgroups/[^/]+/apps/[^/]+$",
                      "description": "Required. Name of the AppGroup app. Use the following structure in your request: `organizations/{org}/appgroups/{app_group_name}/apps/{app}`",
                      "location": "path"
                    }
                  },
                  "id": "apigee.organizations.appgroups.apps.delete",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1AppGroupApp"
                  },
                  "description": "Deletes an AppGroup app. **Note**: The delete operation is asynchronous. The AppGroup app is deleted immediately, but its associated resources, such as app keys or access tokens, may take anywhere from a few seconds to a few minutes to be deleted."
                }
              },
              "resources": {
                "keys": {
                  "resources": {
                    "apiproducts": {
                      "methods": {
                        "delete": {
                          "httpMethod": "DELETE",
                          "flatPath": "v1/organizations/{organizationsId}/appgroups/{appgroupsId}/apps/{appsId}/keys/{keysId}/apiproducts/{apiproductsId}",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "type": "string",
                              "pattern": "^organizations/[^/]+/appgroups/[^/]+/apps/[^/]+/keys/[^/]+/apiproducts/[^/]+$",
                              "description": "Required. Parent of the AppGroup app key. Use the following structure in your request: `organizations/{org}/appgroups/{app_group_name}/apps/{app}/keys/{key}/apiproducts/{apiproduct}`",
                              "required": true
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Removes an API product from an app's consumer key. After the API product is removed, the app cannot access the API resources defined in that API product. **Note**: The consumer key is not removed, only its association with the API product.",
                          "path": "v1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleCloudApigeeV1AppGroupAppKey"
                          },
                          "id": "apigee.organizations.appgroups.apps.keys.apiproducts.delete"
                        },
                        "updateAppGroupAppKeyApiProduct": {
                          "flatPath": "v1/organizations/{organizationsId}/appgroups/{appgroupsId}/apps/{appsId}/keys/{keysId}/apiproducts/{apiproductsId}",
                          "httpMethod": "POST",
                          "parameters": {
                            "action": {
                              "location": "query",
                              "type": "string",
                              "description": "Approve or revoke the consumer key by setting this value to `approve` or `revoke` respectively. The `Content-Type` header, if set, must be set to `application/octet-stream`, with empty body."
                            },
                            "name": {
                              "type": "string",
                              "description": "Required. Name of the API product in the developer app key in the following format: `organizations/{org}/appgroups/{app_group_name}/apps/{app}/keys/{key}/apiproducts/{apiproduct}`",
                              "required": true,
                              "location": "path",
                              "pattern": "^organizations/[^/]+/appgroups/[^/]+/apps/[^/]+/keys/[^/]+/apiproducts/[^/]+$"
                            }
                          },
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Approves or revokes the consumer key for an API product. After a consumer key is approved, the app can use it to access APIs. A consumer key that is revoked or pending cannot be used to access an API. Any access tokens associated with a revoked consumer key will remain active. However, Apigee checks the status of the consumer key and if set to `revoked` will not allow access to the API.",
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "apigee.organizations.appgroups.apps.keys.apiproducts.updateAppGroupAppKeyApiProduct",
                          "path": "v1/{+name}"
                        }
                      }
                    }
                  },
                  "methods": {
                    "get": {
                      "description": "Gets details for a consumer key for a AppGroup app, including the key and secret value, associated API products, and other information.",
                      "httpMethod": "GET",
                      "flatPath": "v1/organizations/{organizationsId}/appgroups/{appgroupsId}/apps/{appsId}/keys/{keysId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudApigeeV1AppGroupAppKey"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the AppGroup app key. Use the following structure in your request: `organizations/{org}/appgroups/{app_group_name}/apps/{app}/keys/{key}`",
                          "pattern": "^organizations/[^/]+/appgroups/[^/]+/apps/[^/]+/keys/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1/{+name}",
                      "id": "apigee.organizations.appgroups.apps.keys.get",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "create": {
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^organizations/[^/]+/appgroups/[^/]+/apps/[^/]+$",
                          "description": "Required. Parent of the AppGroup app key. Use the following structure in your request: `organizations/{org}/appgroups/{app_group_name}/apps/{app}/keys`",
                          "location": "path",
                          "required": true
                        }
                      },
                      "description": "Creates a custom consumer key and secret for a AppGroup app. This is particularly useful if you want to migrate existing consumer keys and secrets to Apigee from another system. Consumer keys and secrets can contain letters, numbers, underscores, and hyphens. No other special characters are allowed. To avoid service disruptions, a consumer key and secret should not exceed 2 KBs each. **Note**: When creating the consumer key and secret, an association to API products will not be made. Therefore, you should not specify the associated API products in your request. Instead, use the ProductizeAppGroupAppKey API to make the association after the consumer key and secret are created. If a consumer key and secret already exist, you can keep them or delete them using the DeleteAppGroupAppKey API.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudApigeeV1AppGroupAppKey"
                      },
                      "response": {
                        "$ref": "GoogleCloudApigeeV1AppGroupAppKey"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "apigee.organizations.appgroups.apps.keys.create",
                      "path": "v1/{+parent}/keys",
                      "flatPath": "v1/organizations/{organizationsId}/appgroups/{appgroupsId}/apps/{appsId}/keys"
                    },
                    "updateAppGroupAppKey": {
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GoogleCloudApigeeV1UpdateAppGroupAppKeyRequest"
                      },
                      "id": "apigee.organizations.appgroups.apps.keys.updateAppGroupAppKey",
                      "flatPath": "v1/organizations/{organizationsId}/appgroups/{appgroupsId}/apps/{appsId}/keys/{keysId}",
                      "description": "Adds an API product to an AppGroupAppKey, enabling the app that holds the key to access the API resources bundled in the API product. In addition, you can add attributes to the AppGroupAppKey. This API replaces the existing attributes with those specified in the request. Include or exclude any existing attributes that you want to retain or delete, respectively. You can use the same key to access all API products associated with the app.",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1AppGroupAppKey"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. Name of the AppGroup app key. Use the following structure in your request: `organizations/{org}/appgroups/{app_group_name}/apps/{app}/keys/{key}`",
                          "type": "string",
                          "pattern": "^organizations/[^/]+/appgroups/[^/]+/apps/[^/]+/keys/[^/]+$",
                          "location": "path"
                        }
                      }
                    },
                    "delete": {
                      "id": "apigee.organizations.appgroups.apps.keys.delete",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^organizations/[^/]+/appgroups/[^/]+/apps/[^/]+/keys/[^/]+$",
                          "description": "Required. Name of the AppGroup app key. Use the following structure in your request: `organizations/{org}/appgroups/{app_group_name}/apps/{app}/keys/{key}`",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/appgroups/{appgroupsId}/apps/{appsId}/keys/{keysId}",
                      "httpMethod": "DELETE",
                      "path": "v1/{+name}",
                      "description": "Deletes an app's consumer key and removes all API products associated with the app. After the consumer key is deleted, it cannot be used to access any APIs.",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1AppGroupAppKey"
                      }
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/appgroups/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the AppGroup. Use the following structure in your request: `organizations/{org}/appgroups/{app_group_name}`",
                  "type": "string"
                }
              },
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/appgroups/{appgroupsId}",
              "id": "apigee.organizations.appgroups.delete",
              "response": {
                "$ref": "GoogleCloudApigeeV1AppGroup"
              },
              "description": "Deletes an AppGroup. All app and API keys associations with the AppGroup are also removed. **Warning**: This API will permanently delete the AppGroup and related artifacts. **Note**: The delete operation is asynchronous. The AppGroup app is deleted immediately, but its associated resources, such as apps and API keys, may take anywhere from a few seconds to a few minutes to be deleted."
            },
            "get": {
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. Name of the AppGroup. Use the following structure in your request: `organizations/{org}/appgroups/{app_group_name}`",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/appgroups/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/appgroups/{appgroupsId}",
              "response": {
                "$ref": "GoogleCloudApigeeV1AppGroup"
              },
              "description": "Returns the AppGroup details for the provided AppGroup name in the request URI.",
              "id": "apigee.organizations.appgroups.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "create": {
              "request": {
                "$ref": "GoogleCloudApigeeV1AppGroup"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates an AppGroup. Once created, user can register apps under the AppGroup to obtain secret key and password. At creation time, the AppGroup's state is set as `active`.",
              "id": "apigee.organizations.appgroups.create",
              "flatPath": "v1/organizations/{organizationsId}/appgroups",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the Apigee organization in which the AppGroup is created. Use the following structure in your request: `organizations/{org}`.",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "path": "v1/{+parent}/appgroups",
              "response": {
                "$ref": "GoogleCloudApigeeV1AppGroup"
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "id": "apigee.organizations.appgroups.list",
              "flatPath": "v1/organizations/{organizationsId}/appgroups",
              "description": "Lists all AppGroups in an organization. A maximum of 1000 AppGroups are returned in the response if PageSize is not specified, or if the PageSize is greater than 1000.",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListAppGroupsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/appgroups",
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The filter expression to be used to get the list of AppGroups, where filtering can be done on status, channelId or channelUri of the app group. Examples: filter=status=active\", filter=channelId=, filter=channelUri="
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the Apigee organization. Use the following structure in your request: `organizations/{org}`.",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Count of AppGroups a single page can have in the response. If unspecified, at most 1000 AppGroups will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                },
                "pageToken": {
                  "type": "string",
                  "description": "The starting index record for listing the AppGroups.",
                  "location": "query"
                }
              }
            },
            "update": {
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudApigeeV1AppGroup"
              },
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/appgroups/{appgroupsId}",
              "parameters": {
                "action": {
                  "type": "string",
                  "description": "Activate or de-activate the AppGroup by setting the action as `active` or `inactive`. The `Content-Type` header must be set to `application/octet-stream`, with empty body.",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. Name of the AppGroup. Use the following structure in your request: `organizations/{org}/appgroups/{app_group_name}`",
                  "pattern": "^organizations/[^/]+/appgroups/[^/]+$",
                  "type": "string"
                }
              },
              "id": "apigee.organizations.appgroups.update",
              "response": {
                "$ref": "GoogleCloudApigeeV1AppGroup"
              },
              "description": "Updates an AppGroup. This API replaces the existing AppGroup details with those specified in the request. Include or exclude any existing details that you want to retain or delete, respectively. Note that the state of the AppGroup should be updated using `action`, and not via AppGroup."
            }
          }
        },
        "datacollectors": {
          "methods": {
            "create": {
              "id": "apigee.organizations.datacollectors.create",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/datacollectors",
              "request": {
                "$ref": "GoogleCloudApigeeV1DataCollector"
              },
              "flatPath": "v1/organizations/{organizationsId}/datacollectors",
              "description": "Creates a new data collector.",
              "response": {
                "$ref": "GoogleCloudApigeeV1DataCollector"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "dataCollectorId": {
                  "location": "query",
                  "type": "string",
                  "description": "ID of the data collector. Overrides any ID in the data collector resource. Must be a string beginning with `dc_` that contains only letters, numbers, and underscores."
                },
                "parent": {
                  "description": "Required. Name of the organization in which to create the data collector in the following format: `organizations/{org}`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "type": "string"
                }
              },
              "httpMethod": "POST"
            },
            "list": {
              "path": "v1/{+parent}/datacollectors",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "description": "Lists all data collectors.",
              "parameters": {
                "parent": {
                  "description": "Required. Name of the organization for which to list data collectors in the following format: `organizations/{org}`.",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Maximum number of data collectors to return. The page size defaults to 25."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Page token, returned from a previous ListDataCollectors call, that you can use to retrieve the next page."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.datacollectors.list",
              "flatPath": "v1/organizations/{organizationsId}/datacollectors",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListDataCollectorsResponse"
              }
            },
            "patch": {
              "id": "apigee.organizations.datacollectors.patch",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/datacollectors/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. Name of the data collector in the following format: `organizations/{org}/datacollectors/{data_collector_id}`."
                },
                "updateMask": {
                  "location": "query",
                  "description": "List of fields to be updated.",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "httpMethod": "PATCH",
              "flatPath": "v1/organizations/{organizationsId}/datacollectors/{datacollectorsId}",
              "response": {
                "$ref": "GoogleCloudApigeeV1DataCollector"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Updates a data collector.",
              "path": "v1/{+name}",
              "request": {
                "$ref": "GoogleCloudApigeeV1DataCollector"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "id": "apigee.organizations.datacollectors.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Name of the data collector in the following format: `organizations/{org}/datacollectors/{data_collector_id}`.",
                  "pattern": "^organizations/[^/]+/datacollectors/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1/organizations/{organizationsId}/datacollectors/{datacollectorsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets a data collector.",
              "response": {
                "$ref": "GoogleCloudApigeeV1DataCollector"
              },
              "path": "v1/{+name}"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "description": "Deletes a data collector.",
              "id": "apigee.organizations.datacollectors.delete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/datacollectors/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the data collector in the following format: `organizations/{org}/datacollectors/{data_collector_id}`.",
                  "location": "path"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/datacollectors/{datacollectorsId}"
            }
          }
        },
        "apiproducts": {
          "resources": {
            "rateplans": {
              "methods": {
                "update": {
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/rateplans/{rateplansId}",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the rate plan. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}/rateplans/{rateplan}`",
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+/rateplans/[^/]+$",
                      "required": true
                    }
                  },
                  "id": "apigee.organizations.apiproducts.rateplans.update",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PUT",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1RatePlan"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates an existing rate plan.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1RatePlan"
                  }
                },
                "delete": {
                  "path": "v1/{+name}",
                  "id": "apigee.organizations.apiproducts.rateplans.delete",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1RatePlan"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/rateplans/{rateplansId}",
                  "description": "Deletes a rate plan.",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. ID of the rate plan. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}/rateplans/{rateplan}`",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+/rateplans/[^/]+$"
                    }
                  }
                },
                "create": {
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/rateplans",
                  "description": "Create a rate plan that is associated with an API product in an organization. Using rate plans, API product owners can monetize their API products by configuring one or more of the following: - Billing frequency - Initial setup fees for using an API product - Payment funding model (postpaid only) - Fixed recurring or consumption-based charges for using an API product - Revenue sharing with developer partners An API product can have multiple rate plans associated with it but *only one* rate plan can be active at any point of time. **Note: From the developer's perspective, they purchase API products not rate plans.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1RatePlan"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+$",
                      "description": "Required. Name of the API product that is associated with the rate plan. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}`",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudApigeeV1RatePlan"
                  },
                  "path": "v1/{+parent}/rateplans",
                  "id": "apigee.organizations.apiproducts.rateplans.create"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/rateplans",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "orderBy": {
                      "location": "query",
                      "description": "Name of the attribute used for sorting. Valid values include: * `name`: Name of the rate plan. * `state`: State of the rate plan (`DRAFT`, `PUBLISHED`). * `startTime`: Time when the rate plan becomes active. * `endTime`: Time when the rate plan expires. **Note**: Not supported by Apigee at this time.",
                      "type": "string"
                    },
                    "expand": {
                      "description": "Flag that specifies whether to expand the results. Set to `true` to get expanded details about each API. Defaults to `false`.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "state": {
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "DRAFT",
                        "PUBLISHED"
                      ],
                      "description": "State of the rate plans (`DRAFT`, `PUBLISHED`) that you want to display.",
                      "enumDescriptions": [
                        "State of the rate plan is not specified.",
                        "Rate plan is in draft mode and only visible to API providers.",
                        "Rate plan is published and will become visible to developers for the configured duration (between `startTime` and `endTime`)."
                      ],
                      "type": "string",
                      "location": "query"
                    },
                    "startKey": {
                      "type": "string",
                      "location": "query",
                      "description": "Name of the rate plan from which to start displaying the list of rate plans. If omitted, the list starts from the first item. For example, to view the rate plans from 51-150, set the value of `startKey` to the name of the 51st rate plan and set the value of `count` to 100."
                    },
                    "count": {
                      "location": "query",
                      "description": "Number of rate plans to return in the API call. Use with the `startKey` parameter to provide more targeted filtering. The maximum limit is 1000. Defaults to 100.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+$",
                      "location": "path",
                      "description": "Required. Name of the API product. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}` Use `organizations/{org}/apiproducts/-` to return rate plans for all API products within the organization.",
                      "required": true
                    }
                  },
                  "path": "v1/{+parent}/rateplans",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListRatePlansResponse"
                  },
                  "description": "Lists all the rate plans for an API product.",
                  "httpMethod": "GET",
                  "id": "apigee.organizations.apiproducts.rateplans.list"
                },
                "get": {
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/rateplans/{rateplansId}",
                  "description": "Gets the details of a rate plan.",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the rate plan. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}/rateplans/{rateplan}`",
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+/rateplans/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "apigee.organizations.apiproducts.rateplans.get",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1RatePlan"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "attributes": {
              "methods": {
                "updateApiProductAttribute": {
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/attributes/{attributesId}",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+/attributes/[^/]+$",
                      "description": "Required. Name of the API product. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}`",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "description": "Updates the value of an API product attribute. **Note**: OAuth access tokens and Key Management Service (KMS) entities (apps, developers, and API products) are cached for 180 seconds (current default). Any custom attributes associated with entities also get cached for at least 180 seconds after entity is accessed during runtime. In this case, the `ExpiresIn` element on the OAuthV2 policy won't be able to expire an access token in less than 180 seconds.",
                  "id": "apigee.organizations.apiproducts.attributes.updateApiProductAttribute",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "id": "apigee.organizations.apiproducts.attributes.delete",
                  "description": "Deletes an API product attribute.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/attributes/{attributesId}",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the API product attribute. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}/attributes/{attribute}`",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+/attributes/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+/attributes/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Name of the API product attribute. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}/attributes/{attribute}`"
                    }
                  },
                  "path": "v1/{+name}",
                  "description": "Gets the value of an API product attribute.",
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/attributes/{attributesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "id": "apigee.organizations.apiproducts.attributes.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "httpMethod": "GET",
                  "id": "apigee.organizations.apiproducts.attributes.list",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+$",
                      "description": "Required. Name of the API product. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}`",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists all API product attributes.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attributes"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/attributes",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/attributes"
                }
              }
            }
          },
          "methods": {
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudApigeeV1ApiProduct"
              },
              "id": "apigee.organizations.apiproducts.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. Name of the organization in which the API product will be created. Use the following structure in your request: `organizations/{org}`",
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiProduct"
              },
              "httpMethod": "POST",
              "flatPath": "v1/organizations/{organizationsId}/apiproducts",
              "path": "v1/{+parent}/apiproducts",
              "description": "Creates an API product in an organization. You create API products after you have proxied backend services using API proxies. An API product is a collection of API resources combined with quota settings and metadata that you can use to deliver customized and productized API bundles to your developer community. This metadata can include: - Scope - Environments - API proxies - Extensible profile API products enable you repackage APIs on the fly, without having to do any additional coding or configuration. Apigee recommends that you start with a simple API product including only required elements. You then provision credentials to apps to enable them to start testing your APIs. After you have authentication and authorization working against a simple API product, you can iterate to create finer-grained API products, defining different sets of API resources for each API product. **WARNING:** - If you don't specify an API proxy in the request body, *any* app associated with the product can make calls to *any* API in your entire organization. - If you don't specify an environment in the request body, the product allows access to all environments. For more information, see What is an API product?"
            },
            "update": {
              "description": "Updates an existing API product. You must include all required values, whether or not you are updating them, as well as any optional values that you are updating. The API product name required in the request URL is the internal name of the product, not the display name. While they may be the same, it depends on whether the API product was created via UI or API. View the list of API products to identify their internal names.",
              "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}",
              "id": "apigee.organizations.apiproducts.update",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/apiproducts/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the API product. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}`"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PUT",
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiProduct"
              },
              "request": {
                "$ref": "GoogleCloudApigeeV1ApiProduct"
              }
            },
            "get": {
              "id": "apigee.organizations.apiproducts.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiProduct"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+/apiproducts/[^/]+$",
                  "description": "Required. Name of the API product. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}`",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}",
              "description": "Gets configuration details for an API product. The API product name required in the request URL is the internal name of the product, not the display name. While they may be the same, it depends on whether the API product was created via the UI or the API. View the list of API products to verify the internal name.",
              "path": "v1/{+name}"
            },
            "list": {
              "path": "v1/{+parent}/apiproducts",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListApiProductsResponse"
              },
              "flatPath": "v1/organizations/{organizationsId}/apiproducts",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists all API product names for an organization. Filter the list by passing an `attributename` and `attibutevalue`. The maximum number of API products returned is 1000. You can paginate the list of API products returned using the `startKey` and `count` query parameters.",
              "id": "apigee.organizations.apiproducts.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "attributevalue": {
                  "description": "Value of the attribute used to filter the search.",
                  "location": "query",
                  "type": "string"
                },
                "expand": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Flag that specifies whether to expand the results. Set to `true` to get expanded details about each API."
                },
                "startKey": {
                  "description": "Gets a list of API products starting with a specific API product in the list. For example, if you're returning 50 API products at a time (using the `count` query parameter), you can view products 50-99 by entering the name of the 50th API product in the first API (without using `startKey`). Product name is case sensitive.",
                  "location": "query",
                  "type": "string"
                },
                "attributename": {
                  "type": "string",
                  "location": "query",
                  "description": "Name of the attribute used to filter the search."
                },
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}`",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "count": {
                  "type": "string",
                  "format": "int64",
                  "location": "query",
                  "description": "Enter the number of API products you want returned in the API call. The limit is 1000."
                }
              },
              "httpMethod": "GET"
            },
            "attributes": {
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/apiproducts/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of the API product. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}`",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "description": "Updates or creates API product attributes. This API **replaces** the current list of attributes with the attributes specified in the request body. In this way, you can update existing attributes, add new attributes, or delete existing attributes by omitting them from the request body. **Note**: OAuth access tokens and Key Management Service (KMS) entities (apps, developers, and API products) are cached for 180 seconds (current default). Any custom attributes associated with entities also get cached for at least 180 seconds after entity is accessed during runtime. In this case, the `ExpiresIn` element on the OAuthV2 policy won't be able to expire an access token in less than 180 seconds.",
              "id": "apigee.organizations.apiproducts.attributes",
              "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/attributes",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudApigeeV1Attributes"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}/attributes",
              "response": {
                "$ref": "GoogleCloudApigeeV1Attributes"
              }
            },
            "delete": {
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiProduct"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "apigee.organizations.apiproducts.delete",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}",
              "description": "Deletes an API product from an organization. Deleting an API product causes app requests to the resource URIs defined in the API product to fail. Ensure that you create a new API product to serve existing apps, unless your intention is to disable access to the resources defined in the API product. The API product name required in the request URL is the internal name of the product, not the display name. While they may be the same, it depends on whether the API product was created via the UI or the API. View the list of API products to verify the internal name.",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/apiproducts/[^/]+$",
                  "required": true,
                  "description": "Required. Name of the API product. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}`",
                  "type": "string"
                }
              }
            }
          }
        },
        "envgroups": {
          "resources": {
            "attachments": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "GoogleCloudApigeeV1EnvironmentGroupAttachment"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.envgroups.attachments.get",
                  "description": "Gets an environment group attachment.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/envgroups/[^/]+/attachments/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. Name of the environment group attachment in the following format: `organizations/{org}/envgroups/{envgroup}/attachments/{attachment}`",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/envgroups/{envgroupsId}/attachments/{attachmentsId}"
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. EnvironmentGroup under which to create the attachment in the following format: `organizations/{org}/envgroups/{envgroup}`.",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/envgroups/[^/]+$"
                    }
                  },
                  "path": "v1/{+parent}/attachments",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudApigeeV1EnvironmentGroupAttachment"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/envgroups/{envgroupsId}/attachments",
                  "id": "apigee.organizations.envgroups.attachments.create",
                  "description": "Creates a new attachment of an environment to an environment group."
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+name}",
                  "description": "Deletes an environment group attachment.",
                  "flatPath": "v1/organizations/{organizationsId}/envgroups/{envgroupsId}/attachments/{attachmentsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/envgroups/[^/]+/attachments/[^/]+$",
                      "required": true,
                      "description": "Required. Name of the environment group attachment to delete in the following format: `organizations/{org}/envgroups/{envgroup}/attachments/{attachment}`."
                    }
                  },
                  "id": "apigee.organizations.envgroups.attachments.delete"
                },
                "list": {
                  "description": "Lists all attachments of an environment group.",
                  "id": "apigee.organizations.envgroups.attachments.list",
                  "parameters": {
                    "pageSize": {
                      "description": "Maximum number of environment group attachments to return. The page size defaults to 25.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. Name of the environment group in the following format: `organizations/{org}/envgroups/{envgroup}`.",
                      "pattern": "^organizations/[^/]+/envgroups/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Page token, returned by a previous ListEnvironmentGroupAttachments call, that you can use to retrieve the next page.",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/attachments",
                  "flatPath": "v1/organizations/{organizationsId}/envgroups/{envgroupsId}/attachments",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListEnvironmentGroupAttachmentsResponse"
                  }
                }
              }
            }
          },
          "methods": {
            "getDeployedIngressConfig": {
              "parameterOrder": [
                "name"
              ],
              "id": "apigee.organizations.envgroups.getDeployedIngressConfig",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudApigeeV1EnvironmentGroupConfig"
              },
              "flatPath": "v1/organizations/{organizationsId}/envgroups/{envgroupsId}/deployedIngressConfig",
              "path": "v1/{+name}",
              "parameters": {
                "view": {
                  "enum": [
                    "INGRESS_CONFIG_VIEW_UNSPECIFIED",
                    "BASIC",
                    "FULL"
                  ],
                  "location": "query",
                  "description": "When set to FULL, additional details about the specific deployments receiving traffic will be included in the IngressConfig response's RoutingRules.",
                  "type": "string",
                  "enumDescriptions": [
                    "The default/unset value. The API will default to the BASIC view.",
                    "Include all ingress config data necessary for the runtime to configure ingress, but no more. Routing rules will include only basepath and destination environment. This the default value.",
                    "Include all ingress config data, including internal debug info for each routing rule such as the proxy claiming a particular basepath and when the routing rule first appeared in the env group."
                  ]
                },
                "name": {
                  "required": true,
                  "description": "Required. Name of the deployed configuration for the environment group in the following format: 'organizations/{org}/envgroups/{envgroup}/deployedIngressConfig'.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/envgroups/[^/]+/deployedIngressConfig$"
                }
              },
              "description": "Gets the deployed ingress configuration for an environment group."
            },
            "get": {
              "flatPath": "v1/organizations/{organizationsId}/envgroups/{envgroupsId}",
              "description": "Gets an environment group.",
              "id": "apigee.organizations.envgroups.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1EnvironmentGroup"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of the environment group in the following format: `organizations/{org}/envgroups/{envgroup}`.",
                  "pattern": "^organizations/[^/]+/envgroups/[^/]+$",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "path": "v1/{+name}"
            },
            "list": {
              "path": "v1/{+parent}/envgroups",
              "flatPath": "v1/organizations/{organizationsId}/envgroups",
              "parameterOrder": [
                "parent"
              ],
              "id": "apigee.organizations.envgroups.list",
              "description": "Lists all environment groups.",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListEnvironmentGroupsResponse"
              },
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Page token, returned from a previous ListEnvironmentGroups call, that you can use to retrieve the next page."
                },
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. Name of the organization for which to list environment groups in the following format: `organizations/{org}`.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Maximum number of environment groups to return. The page size defaults to 25.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET"
            },
            "delete": {
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.envgroups.delete",
              "description": "Deletes an environment group.",
              "flatPath": "v1/organizations/{organizationsId}/envgroups/{envgroupsId}",
              "parameters": {
                "name": {
                  "description": "Required. Name of the environment group in the following format: `organizations/{org}/envgroups/{envgroup}`.",
                  "pattern": "^organizations/[^/]+/envgroups/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "flatPath": "v1/organizations/{organizationsId}/envgroups",
              "description": "Creates a new environment group.",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudApigeeV1EnvironmentGroup"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "POST",
              "id": "apigee.organizations.envgroups.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Optional. ID of the environment group. Overrides any ID in the environment_group resource.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. Name of the organization in which to create the environment group in the following format: `organizations/{org}`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/envgroups"
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Updates an environment group.",
              "id": "apigee.organizations.envgroups.patch",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "request": {
                "$ref": "GoogleCloudApigeeV1EnvironmentGroup"
              },
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/envgroups/[^/]+$",
                  "required": true,
                  "description": "Required. Name of the environment group to update in the format: `organizations/{org}/envgroups/{envgroup}.",
                  "location": "path",
                  "type": "string"
                },
                "updateMask": {
                  "description": "Optional. List of fields to be updated.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/envgroups/{envgroupsId}"
            }
          }
        },
        "deployments": {
          "methods": {
            "list": {
              "response": {
                "$ref": "GoogleCloudApigeeV1ListDeploymentsResponse"
              },
              "parameters": {
                "sharedFlows": {
                  "type": "boolean",
                  "description": "Optional. Flag that specifies whether to return shared flow or API proxy deployments. Set to `true` to return shared flow deployments; set to `false` to return API proxy deployments. Defaults to `false`.",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. Name of the organization for which to return deployment information in the following format: `organizations/{org}`",
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/deployments",
              "id": "apigee.organizations.deployments.list",
              "description": "Lists all deployments of API proxies or shared flows.",
              "path": "v1/{+parent}/deployments",
              "httpMethod": "GET"
            }
          }
        },
        "apis": {
          "methods": {
            "list": {
              "response": {
                "$ref": "GoogleCloudApigeeV1ListApiProxiesResponse"
              },
              "path": "v1/{+parent}/apis",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.apis.list",
              "description": "Lists the names of all API proxies in an organization. The names returned correspond to the names defined in the configuration files for each API proxy.",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/organizations/{organizationsId}/apis",
              "parameters": {
                "includeMetaData": {
                  "type": "boolean",
                  "description": "Flag that specifies whether to include API proxy metadata in the response.",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. Name of the organization in the following format: `organizations/{org}`",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$"
                },
                "includeRevisions": {
                  "location": "query",
                  "description": "Flag that specifies whether to include a list of revisions in the response.",
                  "type": "boolean"
                }
              }
            },
            "patch": {
              "description": "Updates an existing API proxy.",
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiProxy"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/apis/[^/]+$",
                  "location": "path",
                  "description": "Required. API proxy to update in the following format: `organizations/{org}/apis/{api}`",
                  "type": "string"
                },
                "updateMask": {
                  "description": "Required. The list of fields to update.",
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}",
              "id": "apigee.organizations.apis.patch",
              "path": "v1/{+name}",
              "request": {
                "$ref": "GoogleCloudApigeeV1ApiProxy"
              }
            },
[...]
