{
  "id": "apigee:v1",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://apigee.mtls.googleapis.com/",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "revision": "20230312",
  "ownerName": "Google",
  "name": "apigee",
  "version": "v1",
  "canonicalName": "Apigee",
  "description": "Use the Apigee API to programmatically develop and manage APIs with a set of RESTful operations. Develop and secure API proxies, deploy and undeploy API proxy revisions, monitor APIs, configure environments, manage users, and more. Note: This product is available as a free trial for a time period of 60 days.",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "schemas": {
    "GoogleCloudApigeeV1GetAsyncQueryResultUrlResponse": {
      "type": "object",
      "id": "GoogleCloudApigeeV1GetAsyncQueryResultUrlResponse",
      "description": "The response for GetAsyncQueryResultUrl",
      "properties": {
        "urls": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1GetAsyncQueryResultUrlResponseURLInfo"
          },
          "description": "The list of Signed URLs generated by the CreateAsyncQuery request"
        }
      }
    },
    "GoogleCloudApigeeV1AdjustDeveloperBalanceRequest": {
      "properties": {
        "adjustment": {
          "$ref": "GoogleTypeMoney",
          "description": "* A positive value of `adjustment` means that that the API provider wants to adjust the balance for an under-charged developer i.e. the balance of the developer will decrease. * A negative value of `adjustment` means that that the API provider wants to adjust the balance for an over-charged developer i.e. the balance of the developer will increase."
        }
      },
      "id": "GoogleCloudApigeeV1AdjustDeveloperBalanceRequest",
      "type": "object",
      "description": "Request for AdjustDeveloperBalance."
    },
    "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment": {
      "id": "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment",
      "properties": {
        "apiProxy": {
          "description": "Name of the deployed API proxy revision containing the base path.",
          "type": "string"
        },
        "environment": {
          "description": "Name of the environment in which the proxy is deployed.",
          "type": "string"
        },
        "basepath": {
          "type": "string",
          "description": "Base path receiving traffic."
        },
        "revision": {
          "type": "string",
          "description": "Name of the deployed API proxy revision containing the base path."
        }
      },
      "type": "object",
      "description": "Tuple representing a base path and the deployment containing it."
    },
    "GoogleCloudApigeeV1ExportRequest": {
      "id": "GoogleCloudApigeeV1ExportRequest",
      "properties": {
        "datastoreName": {
          "description": "Required. Name of the preconfigured datastore.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Display name of the export job."
        },
        "csvDelimiter": {
          "description": "Optional. Delimiter used in the CSV file, if `outputFormat` is set to `csv`. Defaults to the `,` (comma) character. Supported delimiter characters include comma (`,`), pipe (`|`), and tab (`\\t`).",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the export job.",
          "type": "string"
        },
        "dateRange": {
          "$ref": "GoogleCloudApigeeV1DateRange",
          "description": "Required. Date range of the data to export."
        },
        "outputFormat": {
          "description": "Optional. Output format of the export. Valid values include: `csv` or `json`. Defaults to `json`. Note: Configure the delimiter for CSV output using the `csvDelimiter` property.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request body for [CreateExportRequest]"
    },
    "GoogleCloudApigeeV1ExpireDeveloperSubscriptionRequest": {
      "type": "object",
      "description": "Request for ExpireDeveloperSubscription.",
      "id": "GoogleCloudApigeeV1ExpireDeveloperSubscriptionRequest",
      "properties": {}
    },
    "GoogleCloudApigeeV1ComputeEnvironmentScoresRequest": {
      "id": "GoogleCloudApigeeV1ComputeEnvironmentScoresRequest",
      "type": "object",
      "description": "Request for ComputeEnvironmentScores.",
      "properties": {
        "timeRange": {
          "description": "Required. Time range for score calculation. At most 14 days of scores will be returned.",
          "$ref": "GoogleTypeInterval"
        },
        "filters": {
          "type": "array",
          "description": "Optional. Filters are used to filter scored components. Return all the components if no filter is mentioned. Example: [{ \"scorePath\": \"/org@myorg/envgroup@myenvgroup/env@myenv/proxies/proxy@myproxy/source\" }, { \"scorePath\": \"/org@myorg/envgroup@myenvgroup/env@myenv/proxies/proxy@myproxy/target\", }] This will return components with path: \"/org@myorg/envgroup@myenvgroup/env@myenv/proxies/proxy@myproxy/source\" OR \"/org@myorg/envgroup@myenvgroup/env@myenv/proxies/proxy@myproxy/target\"",
          "items": {
            "$ref": "GoogleCloudApigeeV1ComputeEnvironmentScoresRequestFilter"
          }
        },
        "pageSize": {
          "description": "Optional. The maximum number of subcomponents to be returned in a single page. The service may return fewer than this value. If unspecified, at most 100 subcomponents will be returned in a single page.",
          "format": "int32",
          "type": "integer"
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleCloudApigeeV1Property": {
      "description": "A single property entry in the Properties message.",
      "properties": {
        "value": {
          "description": "The property value",
          "type": "string"
        },
        "name": {
          "description": "The property key",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1Property"
    },
    "GoogleCloudApigeeV1DeveloperBalanceWallet": {
      "properties": {
        "balance": {
          "description": "Current remaining balance of the developer for a particular currency.",
          "$ref": "GoogleTypeMoney"
        },
        "lastCreditTime": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Time at which the developer last added credit to the account in milliseconds since epoch.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1DeveloperBalanceWallet",
      "type": "object",
      "description": "Wallet used to manage an account balance for a particular currency."
    },
    "GoogleCloudApigeeV1SecurityProfileScoringConfig": {
      "id": "GoogleCloudApigeeV1SecurityProfileScoringConfig",
      "description": "Security configurations to manage scoring.",
      "type": "object",
      "properties": {
        "scorePath": {
          "type": "string",
          "description": "Path of the component config used for scoring."
        },
        "title": {
          "description": "Title of the config.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of the config."
        }
      }
    },
    "GoogleCloudApigeeV1RuntimeTraceSamplingConfig": {
      "type": "object",
      "id": "GoogleCloudApigeeV1RuntimeTraceSamplingConfig",
      "description": "NEXT ID: 3 RuntimeTraceSamplingConfig represents the detail settings of distributed tracing. Only the fields that are defined in the distributed trace configuration can be overridden using the distribute trace configuration override APIs.",
      "properties": {
        "sampler": {
          "enum": [
            "SAMPLER_UNSPECIFIED",
            "OFF",
            "PROBABILITY"
          ],
          "type": "string",
          "description": "Sampler of distributed tracing. OFF is the default value.",
          "enumDescriptions": [
            "Sampler unspecified.",
            "OFF means distributed trace is disabled, or the sampling probability is 0.",
            "PROBABILITY means traces are captured on a probability that defined by sampling_rate. The sampling rate is limited to 0 to 0.5 when this is set."
          ]
        },
        "samplingRate": {
          "description": "Field sampling rate. This value is only applicable when using the PROBABILITY sampler. The supported values are \u003e 0 and \u003c= 0.5.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudApigeeV1AsyncQuery": {
      "id": "GoogleCloudApigeeV1AsyncQuery",
      "properties": {
        "error": {
          "description": "Error is set when query fails.",
          "type": "string"
        },
        "executionTime": {
          "type": "string",
          "description": "ExecutionTime is available only after the query is completed."
        },
        "queryParams": {
          "description": "Contains information like metrics, dimenstions etc of the AsyncQuery.",
          "$ref": "GoogleCloudApigeeV1QueryMetadata"
        },
        "result": {
          "$ref": "GoogleCloudApigeeV1AsyncQueryResult",
          "description": "Result is available only after the query is completed."
        },
        "resultFileSize": {
          "type": "string",
          "description": "ResultFileSize is available only after the query is completed."
        },
        "self": {
          "type": "string",
          "description": "Self link of the query. Example: `/organizations/myorg/environments/myenv/queries/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd` or following format if query is running at host level: `/organizations/myorg/hostQueries/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd`"
        },
        "state": {
          "type": "string",
          "description": "Query state could be \"enqueued\", \"running\", \"completed\", \"failed\"."
        },
        "envgroupHostname": {
          "description": "Hostname is available only when query is executed at host level.",
          "type": "string"
        },
        "resultRows": {
          "format": "int64",
          "description": "ResultRows is available only after the query is completed.",
          "type": "string"
        },
        "reportDefinitionId": {
          "description": "Asynchronous Report ID.",
          "type": "string"
        },
        "created": {
          "description": "Creation time of the query.",
          "type": "string"
        },
        "updated": {
          "description": "Last updated timestamp for the query.",
          "type": "string"
        },
        "name": {
          "description": "Asynchronous Query Name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1TraceSamplingConfig": {
      "properties": {
        "sampler": {
          "type": "string",
          "description": "Sampler of distributed tracing. OFF is the default value.",
          "enum": [
            "SAMPLER_UNSPECIFIED",
            "OFF",
            "PROBABILITY"
          ],
          "enumDescriptions": [
            "Sampler unspecified.",
            "OFF means distributed trace is disabled, or the sampling probability is 0.",
            "PROBABILITY means traces are captured on a probability that defined by sampling_rate. The sampling rate is limited to 0 to 0.5 when this is set."
          ]
        },
        "samplingRate": {
          "type": "number",
          "format": "float",
          "description": "Field sampling rate. This value is only applicable when using the PROBABILITY sampler. The supported values are \u003e 0 and \u003c= 0.5."
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1TraceSamplingConfig",
      "description": "TraceSamplingConfig represents the detail settings of distributed tracing. Only the fields that are defined in the distributed trace configuration can be overridden using the distribute trace configuration override APIs."
    },
    "GoogleCloudApigeeV1ConnectorsPlatformConfig": {
      "id": "GoogleCloudApigeeV1ConnectorsPlatformConfig",
      "description": "Configuration for the Connectors Platform add-on.",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Flag that specifies whether the Connectors Platform add-on is enabled."
        },
        "expiresAt": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Time at which the Connectors Platform add-on expires in milliseconds since epoch. If unspecified, the add-on will never expire.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudApigeeV1EnvironmentConfig": {
      "id": "GoogleCloudApigeeV1EnvironmentConfig",
      "type": "object",
      "properties": {
        "forwardProxyUri": {
          "description": "The forward proxy's url to be used by the runtime. When set, runtime will send requests to the target via the given forward proxy. This is only used by programmable gateways.",
          "type": "string"
        },
        "keystores": {
          "description": "List of keystores in the environment.",
          "items": {
            "$ref": "GoogleCloudApigeeV1KeystoreConfig"
          },
          "type": "array"
        },
        "deployments": {
          "items": {
            "$ref": "GoogleCloudApigeeV1DeploymentConfig"
          },
          "type": "array",
          "description": "List of deployments in the environment."
        },
        "resourceReferences": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ReferenceConfig"
          },
          "description": "List of resource references in the environment."
        },
        "traceConfig": {
          "description": "Trace configurations. Contains config for the environment and config overrides for specific API proxies.",
          "$ref": "GoogleCloudApigeeV1RuntimeTraceConfig"
        },
        "provider": {
          "type": "string",
          "description": "Used by the Control plane to add context information to help detect the source of the document during diagnostics and debugging."
        },
        "resources": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ResourceConfig"
          },
          "description": "List of resource versions in the environment."
        },
        "targets": {
          "description": "List of target servers in the environment. Disabled target servers are not displayed.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1TargetServerConfig"
          }
        },
        "debugMask": {
          "$ref": "GoogleCloudApigeeV1DebugMask",
          "description": "Debug mask that applies to all deployments in the environment."
        },
        "sequenceNumber": {
          "description": "DEPRECATED: Use revision_id.",
          "type": "string",
          "format": "int64"
        },
        "revisionId": {
          "type": "string",
          "description": "Revision ID of the environment configuration. The higher the value, the more recently the configuration was deployed.",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Name of the environment configuration in the following format: `organizations/{org}/environments/{env}/configs/{config}`"
        },
        "deploymentGroups": {
          "items": {
            "$ref": "GoogleCloudApigeeV1DeploymentGroupConfig"
          },
          "description": "List of deployment groups in the environment.",
          "type": "array"
        },
        "dataCollectors": {
          "items": {
            "$ref": "GoogleCloudApigeeV1DataCollectorConfig"
          },
          "description": "List of data collectors used by the deployments in the environment.",
          "type": "array"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Time that the environment configuration was created.",
          "type": "string"
        },
        "flowhooks": {
          "items": {
            "$ref": "GoogleCloudApigeeV1FlowHookConfig"
          },
          "description": "List of flow hooks in the environment.",
          "type": "array"
        },
        "gatewayConfigLocation": {
          "description": "The location for the gateway config blob as a URI, e.g. a Cloud Storage URI. This is only used by Envoy-based gateways.",
          "type": "string"
        },
        "envScopedRevisionId": {
          "format": "int64",
          "description": "Revision ID for environment-scoped resources (e.g. target servers, keystores) in this config. This ID will increment any time a resource not scoped to a deployment group changes.",
          "type": "string"
        },
        "pubsubTopic": {
          "type": "string",
          "description": "Name of the PubSub topic for the environment."
        },
        "arcConfigLocation": {
          "type": "string",
          "description": "The location for the config blob of API Runtime Control, aka Envoy Adapter, for op-based authentication as a URI, e.g. a Cloud Storage URI. This is only used by Envoy-based gateways."
        },
        "featureFlags": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Feature flags inherited from the organization and environment."
        },
        "uid": {
          "type": "string",
          "description": "Unique ID for the environment configuration. The ID will only change if the environment is deleted and recreated."
        }
      }
    },
    "GoogleCloudApigeeV1SecurityReportMetadata": {
      "description": "Metadata for the security report.",
      "type": "object",
      "id": "GoogleCloudApigeeV1SecurityReportMetadata",
      "properties": {
        "startTimestamp": {
          "description": "Start timestamp of the query range.",
          "format": "google-datetime",
          "type": "string"
        },
        "mimeType": {
          "description": "MIME type / Output format.",
          "type": "string"
        },
        "timeUnit": {
          "description": "Query GroupBy time unit. Example: \"seconds\", \"minute\", \"hour\"",
          "type": "string"
        },
        "metrics": {
          "items": {
            "type": "string"
          },
          "description": "Metrics of the SecurityReport. Example: [\"name:bot_count,func:sum,alias:sum_bot_count\"]",
          "type": "array"
        },
        "endTimestamp": {
          "format": "google-datetime",
          "description": "End timestamp of the query range.",
          "type": "string"
        },
        "dimensions": {
          "description": "Dimensions of the SecurityReport.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudApigeeV1ListExportsResponse": {
      "id": "GoogleCloudApigeeV1ListExportsResponse",
      "description": "The response for ListExports",
      "properties": {
        "exports": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Export"
          },
          "description": "Details of the export jobs.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1OperationGroup": {
      "properties": {
        "operationConfigType": {
          "type": "string",
          "description": "Flag that specifes whether the configuration is for Apigee API proxy or a remote service. Valid values include `proxy` or `remoteservice`. Defaults to `proxy`. Set to `proxy` when Apigee API proxies are associated with the API product. Set to `remoteservice` when non-Apigee proxies like Istio-Envoy are associated with the API product."
        },
        "operationConfigs": {
          "description": "Required. List of operation configurations for either Apigee API proxies or other remote services that are associated with this API product.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1OperationConfig"
          }
        }
      },
      "id": "GoogleCloudApigeeV1OperationGroup",
      "type": "object",
      "description": "List of operation configuration details associated with Apigee API proxies or remote services. Remote services are non-Apigee proxies, such as Istio-Envoy."
    },
    "GoogleCloudApigeeV1ListOrganizationsResponse": {
      "properties": {
        "organizations": {
          "description": "List of Apigee organizations and associated Google Cloud projects.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1OrganizationProjectMapping"
          }
        }
      },
      "id": "GoogleCloudApigeeV1ListOrganizationsResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1DeploymentChangeReportRoutingChange": {
      "type": "object",
      "properties": {
        "fromDeployment": {
          "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment",
          "description": "Base path/deployment that may stop receiving some traffic."
        },
        "shouldSequenceRollout": {
          "type": "boolean",
          "description": "Set to `true` if using sequenced rollout would make this routing change safer. **Note**: This does not necessarily imply that automated sequenced rollout mode is supported for the operation."
        },
        "environmentGroup": {
          "type": "string",
          "description": "Name of the environment group affected by this routing change."
        },
        "description": {
          "type": "string",
          "description": "Human-readable description of this routing change."
        },
        "toDeployment": {
          "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment",
          "description": "Base path/deployment that may start receiving that traffic. May be null if no deployment is able to receive the traffic."
        }
      },
      "id": "GoogleCloudApigeeV1DeploymentChangeReportRoutingChange",
      "description": "Describes a potential routing change that may occur as a result of some deployment operation."
    },
    "GoogleCloudApigeeV1QueryTabularStatsResponse": {
      "properties": {
        "values": {
          "description": "Resultant rows from the executed query.",
          "items": {
            "items": {
              "type": "any"
            },
            "type": "array"
          },
          "type": "array"
        },
        "columns": {
          "description": "Column names corresponding to the same order as the inner values in the stats field.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        }
      },
      "description": "Encapsulates two kinds of stats that are results of the dimensions and aggregations requested. - Tabular rows. - Time series data. Example of tabular rows, Represents security stats results as a row of flat values.",
      "type": "object",
      "id": "GoogleCloudApigeeV1QueryTabularStatsResponse"
    },
    "GoogleCloudApigeeV1ListRatePlansResponse": {
      "type": "object",
      "properties": {
        "nextStartKey": {
          "type": "string",
          "description": "Value that can be sent as `startKey` to retrieve the next page of content. If this field is omitted, there are no subsequent pages."
        },
        "ratePlans": {
          "items": {
            "$ref": "GoogleCloudApigeeV1RatePlan"
          },
          "type": "array",
          "description": "List of rate plans in an organization."
        }
      },
      "description": "Response for ListRatePlans.",
      "id": "GoogleCloudApigeeV1ListRatePlansResponse"
    },
    "GoogleRpcStatus": {
      "type": "object",
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      }
    },
    "EdgeConfigstoreBundleBadBundleViolation": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "A description of why the bundle is invalid and how to fix it."
        },
        "filename": {
          "type": "string",
          "description": "The filename (including relative path from the bundle root) in which the error occurred."
        }
      },
      "description": "A message type used to describe a single bundle validation error.",
      "id": "EdgeConfigstoreBundleBadBundleViolation"
    },
    "GoogleCloudApigeeV1ResourceConfig": {
      "type": "object",
      "id": "GoogleCloudApigeeV1ResourceConfig",
      "properties": {
        "name": {
          "description": "Resource name in the following format: `organizations/{org}/environments/{env}/resourcefiles/{type}/{file}/revisions/{rev}` Only environment-scoped resource files are supported.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Location of the resource as a URI."
        }
      }
    },
    "GoogleCloudApigeeV1FlowHookConfig": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the flow hook in the following format: `organizations/{org}/environments/{env}/flowhooks/{point}`. Valid `point` values include: `PreProxyFlowHook`, `PostProxyFlowHook`, `PreTargetFlowHook`, and `PostTargetFlowHook`"
        },
        "continueOnError": {
          "description": "Flag that specifies whether the flow should abort after an error in the flow hook. Defaults to `true` (continue on error).",
          "type": "boolean"
        },
        "sharedFlowName": {
          "description": "Name of the shared flow to invoke in the following format: `organizations/{org}/sharedflows/{sharedflow}`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1FlowHookConfig"
    },
    "GoogleCloudApigeeV1SecurityProfileEnvironmentAssociation": {
      "type": "object",
      "description": "Represents a SecurityProfileEnvironmentAssociation resource.",
      "id": "GoogleCloudApigeeV1SecurityProfileEnvironmentAssociation",
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. Name of the profile-environment association resource. Format: organizations/{org}/securityProfiles/{profile}/environments/{env}"
        },
        "securityProfileRevisionId": {
          "description": "Revision ID of the security profile.",
          "type": "string",
          "format": "int64"
        },
        "attachTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when environment was attached to the security profile.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1ApiSecurityConfig": {
      "properties": {
        "expiresAt": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Time at which the API Security add-on expires in in milliseconds since epoch. If unspecified, the add-on will never expire.",
          "readOnly": true
        },
        "enabled": {
          "description": "Flag that specifies whether the API security add-on is enabled.",
          "type": "boolean"
        }
      },
      "description": "Configurations of the API Security add-on.",
      "type": "object",
      "id": "GoogleCloudApigeeV1ApiSecurityConfig"
    },
    "GoogleCloudApigeeV1ScoreComponent": {
      "description": "Component is an individual security element that is scored.",
      "id": "GoogleCloudApigeeV1ScoreComponent",
      "type": "object",
      "properties": {
        "score": {
          "type": "integer",
          "format": "int32",
          "description": "Score for the component."
        },
        "drilldownPaths": {
          "type": "array",
          "description": "List of paths for next components.",
          "items": {
            "type": "string"
          }
        },
        "dataCaptureTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time in the requested time period when data was last captured to compute the score."
        },
        "calculateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when score was calculated."
        },
        "recommendations": {
          "items": {
            "$ref": "GoogleCloudApigeeV1ScoreComponentRecommendation"
          },
          "type": "array",
          "description": "List of recommendations to improve API security."
        },
        "scorePath": {
          "description": "Path of the component. Example: /org@myorg/envgroup@myenvgroup/proxies/proxy@myproxy",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1GenerateUploadUrlRequest": {
      "id": "GoogleCloudApigeeV1GenerateUploadUrlRequest",
      "type": "object",
      "properties": {},
      "description": "Request for GenerateUploadUrl method."
    },
    "GoogleCloudApigeeV1ApiResponseWrapper": {
      "type": "object",
      "id": "GoogleCloudApigeeV1ApiResponseWrapper",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "ID that can be used to find request details in the log files."
        },
        "message": {
          "type": "string",
          "description": "Description of the operation."
        },
        "errorCode": {
          "type": "string",
          "description": "ID that can be used to find errors in the log files."
        },
        "status": {
          "description": "Status of the operation.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1TraceConfigOverride": {
      "type": "object",
      "properties": {
        "samplingConfig": {
          "$ref": "GoogleCloudApigeeV1TraceSamplingConfig",
          "description": "Trace configuration to override."
        },
        "name": {
          "type": "string",
          "description": "ID of the trace configuration override specified as a system-generated UUID."
        },
        "apiProxy": {
          "type": "string",
          "description": "ID of the API proxy that will have its trace configuration overridden."
        }
      },
      "description": "A representation of a configuration override.",
      "id": "GoogleCloudApigeeV1TraceConfigOverride"
    },
    "GoogleCloudApigeeV1ReportInstanceStatusRequest": {
      "description": "Request for ReportInstanceStatus.",
      "properties": {
        "reportTime": {
          "description": "The time the report was generated in the runtime. Used to prevent an old status from overwriting a newer one. An instance should space out it's status reports so that clock skew does not play a factor.",
          "type": "string",
          "format": "google-datetime"
        },
        "instanceUid": {
          "description": "A unique ID for the instance which is guaranteed to be unique in case the user installs multiple hybrid runtimes with the same instance ID.",
          "type": "string"
        },
        "resources": {
          "type": "array",
          "description": "Status for config resources",
          "items": {
            "$ref": "GoogleCloudApigeeV1ResourceStatus"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1ReportInstanceStatusRequest"
    },
    "GoogleCloudApigeeV1CommonNameConfig": {
      "id": "GoogleCloudApigeeV1CommonNameConfig",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "matchWildCards": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudApigeeV1ListAppsResponse": {
      "type": "object",
      "id": "GoogleCloudApigeeV1ListAppsResponse",
      "properties": {
        "app": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1App"
          }
        }
      }
    },
    "GoogleCloudApigeeV1DeploymentChangeReportRoutingConflict": {
      "id": "GoogleCloudApigeeV1DeploymentChangeReportRoutingConflict",
      "description": "Describes a routing conflict that may cause a deployment not to receive traffic at some base path.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Human-readable description of this conflict."
        },
        "conflictingDeployment": {
          "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment",
          "description": "Existing base path/deployment causing the conflict."
        },
        "environmentGroup": {
          "description": "Name of the environment group in which this conflict exists.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1DebugSessionTransaction": {
      "type": "object",
      "id": "GoogleCloudApigeeV1DebugSessionTransaction",
      "properties": {
        "completed": {
          "type": "boolean",
          "description": "Flag indicating whether a transaction is completed or not"
        },
        "point": {
          "description": "List of debug data collected by runtime plane at various defined points in the flow.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Point"
          }
        }
      },
      "description": "A transaction contains all of the debug information of the entire message flow of an API call processed by the runtime plane. The information is collected and recorded at critical points of the message flow in the runtime apiproxy."
    },
    "GoogleCloudApigeeV1AsyncQueryResultView": {
      "properties": {
        "metadata": {
          "$ref": "GoogleCloudApigeeV1QueryMetadata",
          "description": "Metadata contains information like metrics, dimenstions etc of the AsyncQuery."
        },
        "rows": {
          "type": "array",
          "description": "Rows of query result. Each row is a JSON object. Example: {sum(message_count): 1, developer_app: \"(not set)\",…}",
          "items": {
            "type": "any"
          }
        },
        "state": {
          "description": "State of retrieving ResultView.",
          "type": "string"
        },
        "error": {
          "type": "string",
          "description": "Error message when there is a failure."
        },
        "code": {
          "description": "Error code when there is a failure.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudApigeeV1AsyncQueryResultView",
      "type": "object"
    },
    "GoogleCloudApigeeV1KeyAliasReference": {
      "properties": {
        "aliasId": {
          "description": "Alias ID. Must exist in the keystore referred to by the reference.",
          "type": "string"
        },
        "reference": {
          "description": "Reference name in the following format: `organizations/{org}/environments/{env}/references/{reference}`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1KeyAliasReference"
    },
    "GoogleCloudApigeeV1ListInstanceAttachmentsResponse": {
      "id": "GoogleCloudApigeeV1ListInstanceAttachmentsResponse",
      "type": "object",
      "description": "Response for ListInstanceAttachments.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Page token that you can include in a ListInstanceAttachments request to retrieve the next page of content. If omitted, no subsequent pages exist."
        },
        "attachments": {
          "type": "array",
          "description": "Attachments for the instance.",
          "items": {
            "$ref": "GoogleCloudApigeeV1InstanceAttachment"
          }
        }
      }
    },
    "GoogleCloudApigeeV1ApiProduct": {
      "properties": {
        "quotaCounterScope": {
          "description": "Scope of the quota decides how the quota counter gets applied and evaluate for quota violation. If the Scope is set as PROXY, then all the operations defined for the APIproduct that are associated with the same proxy will share the same quota counter set at the APIproduct level, making it a global counter at a proxy level. If the Scope is set as OPERATION, then each operations get the counter set at the API product dedicated, making it a local counter. Note that, the QuotaCounterScope applies only when an operation does not have dedicated quota set for itself.",
          "enumDescriptions": [
            "When quota is not explicitly defined for each operation(REST/GraphQL), the limits set at product level will be used as a local counter for quota evaluation by all the operations, independent of proxy association.",
            "When quota is not explicitly defined for each operation(REST/GraphQL), set at product level will be used as a global counter for quota evaluation by all the operations associated with a particular proxy.",
            "When quota is not explicitly defined for each operation(REST/GraphQL), the limits set at product level will be used as a local counter for quota evaluation by all the operations, independent of proxy association. This behavior mimics the same as QUOTA_COUNTER_SCOPE_UNSPECIFIED."
          ],
          "type": "string",
          "enum": [
            "QUOTA_COUNTER_SCOPE_UNSPECIFIED",
            "PROXY",
            "OPERATION"
          ]
        },
        "operationGroup": {
          "$ref": "GoogleCloudApigeeV1OperationGroup",
          "description": "Configuration used to group Apigee proxies or remote services with resources, method types, and quotas. The resource refers to the resource URI (excluding the base path). With this grouping, the API product creator is able to fine-tune and give precise control over which REST methods have access to specific resources and how many calls can be made (using the `quota` setting). **Note:** The `api_resources` setting cannot be specified for both the API product and operation group; otherwise the call will fail."
        },
        "lastModifiedAt": {
          "type": "string",
          "format": "int64",
          "description": "Response only. Modified time of this environment as milliseconds since epoch."
        },
        "name": {
          "type": "string",
          "description": "Internal name of the API product. Characters you can use in the name are restricted to: `A-Z0-9._\\-$ %`. **Note:** The internal name cannot be edited when updating the API product."
        },
        "proxies": {
          "description": "Comma-separated list of API proxy names to which this API product is bound. By specifying API proxies, you can associate resources in the API product with specific API proxies, preventing developers from accessing those resources through other API proxies. Apigee rejects requests to API proxies that are not listed. **Note:** The API proxy names must already exist in the specified environment as they will be validated upon creation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "attributes": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "type": "array",
          "description": "Array of attributes that may be used to extend the default API product profile with customer-specific metadata. You can specify a maximum of 18 attributes. Use this property to specify the access level of the API product as either `public`, `private`, or `internal`. Only products marked `public` are available to developers in the Apigee developer portal. For example, you can set a product to `internal` while it is in development and then change access to `public` when it is ready to release on the portal. API products marked as `private` do not appear on the portal, but can be accessed by external developers."
        },
        "createdAt": {
          "description": "Response only. Creation time of this environment as milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "displayName": {
          "description": "Name displayed in the UI or developer portal to developers registering for API access.",
          "type": "string"
        },
        "quota": {
          "description": "Number of request messages permitted per app by this API product for the specified `quotaInterval` and `quotaTimeUnit`. For example, a `quota` of 50, for a `quotaInterval` of 12 and a `quotaTimeUnit` of hours means 50 requests are allowed every 12 hours.",
          "type": "string"
        },
        "quotaInterval": {
          "description": "Time interval over which the number of request messages is calculated.",
          "type": "string"
        },
        "apiResources": {
          "description": "Comma-separated list of API resources to be bundled in the API product. By default, the resource paths are mapped from the `proxy.pathsuffix` variable. The proxy path suffix is defined as the URI fragment following the ProxyEndpoint base path. For example, if the `apiResources` element is defined to be `/forecastrss` and the base path defined for the API proxy is `/weather`, then only requests to `/weather/forecastrss` are permitted by the API product. You can select a specific path, or you can select all subpaths with the following wildcard: - `/**`: Indicates that all sub-URIs are included. - `/*` : Indicates that only URIs one level down are included. By default, / supports the same resources as /** as well as the base path defined by the API proxy. For example, if the base path of the API proxy is `/v1/weatherapikey`, then the API product supports requests to `/v1/weatherapikey` and to any sub-URIs, such as `/v1/weatherapikey/forecastrss`, `/v1/weatherapikey/region/CA`, and so on. For more information, see Managing API products.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "graphqlOperationGroup": {
          "$ref": "GoogleCloudApigeeV1GraphQLOperationGroup",
          "description": "Configuration used to group Apigee proxies or remote services with graphQL operation name, graphQL operation type and quotas. This grouping allows us to precisely set quota for a particular combination of graphQL name and operation type for a particular proxy request. If graphQL name is not set, this would imply quota will be applied on all graphQL requests matching the operation type."
        },
        "approvalType": {
          "description": "Flag that specifies how API keys are approved to access the APIs defined by the API product. If set to `manual`, the consumer key is generated and returned in \"pending\" state. In this case, the API keys won't work until they have been explicitly approved. If set to `auto`, the consumer key is generated and returned in \"approved\" state and can be used immediately. **Note:** Typically, `auto` is used to provide access to free or trial API products that provide limited quota or capabilities.",
          "type": "string"
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Comma-separated list of OAuth scopes that are validated at runtime. Apigee validates that the scopes in any access token presented match the scopes defined in the OAuth policy associated with the API product."
        },
        "environments": {
          "items": {
            "type": "string"
          },
          "description": "Comma-separated list of environment names to which the API product is bound. Requests to environments that are not listed are rejected. By specifying one or more environments, you can bind the resources listed in the API product to a specific environment, preventing developers from accessing those resources through API proxies deployed in another environment. This setting is used, for example, to prevent resources associated with API proxies in `prod` from being accessed by API proxies deployed in `test`.",
          "type": "array"
        },
        "quotaTimeUnit": {
          "type": "string",
          "description": "Time unit defined for the `quotaInterval`. Valid values include `minute`, `hour`, `day`, or `month`."
        },
        "description": {
          "description": "Description of the API product. Include key information about the API product that is not captured by other fields.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1ApiProduct",
      "type": "object"
    },
    "GoogleCloudApigeeV1ResourceStatus": {
      "properties": {
        "uid": {
          "description": "The uid of the resource. In the unexpected case that the instance has multiple uids for the same name, they should be reported under separate ResourceStatuses.",
          "type": "string"
        },
        "totalReplicas": {
          "type": "integer",
          "description": "The total number of replicas that should have this resource.",
          "format": "int32"
        },
        "resource": {
          "type": "string",
          "description": "The resource name. Currently only two resources are supported: EnvironmentGroup - organizations/{org}/envgroups/{envgroup} EnvironmentConfig - organizations/{org}/environments/{environment}/deployedConfig"
        },
        "revisions": {
          "items": {
            "$ref": "GoogleCloudApigeeV1RevisionStatus"
          },
          "description": "Revisions of the resource currently deployed in the instance.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "The status of a resource loaded in the runtime.",
      "id": "GoogleCloudApigeeV1ResourceStatus"
    },
    "GoogleCloudApigeeV1OptimizedStats": {
      "id": "GoogleCloudApigeeV1OptimizedStats",
      "type": "object",
      "properties": {
        "Response": {
          "description": "Wraps the `stats` response for JavaScript Optimized Scenario with a response key. For example: ```{ \"Response\": { \"TimeUnit\": [], \"metaData\": { \"errors\": [], \"notices\": [ \"Source:Postgres\", \"Table used: edge.api.aaxgroup001.agg_api\", \"PG Host:ruappg08-ro.production.apigeeks.net\", \"query served by:80c4ebca-6a10-4a2e-8faf-c60c1ee306ca\" ] }, \"resultTruncated\": false, \"stats\": { \"data\": [ { \"identifier\": { \"names\": [ \"apiproxy\" ], \"values\": [ \"sirjee\" ] }, \"metric\": [ { \"env\": \"prod\", \"name\": \"sum(message_count)\", \"values\": [ 36.0 ] }, { \"env\": \"prod\", \"name\": \"sum(is_error)\", \"values\": [ 36.0 ] } ] } ] } } }```",
          "$ref": "GoogleCloudApigeeV1OptimizedStatsResponse"
        }
      }
    },
    "GoogleCloudApigeeV1TlsInfoCommonName": {
      "id": "GoogleCloudApigeeV1TlsInfoCommonName",
      "properties": {
        "value": {
          "type": "string",
          "description": "The TLS Common Name string of the certificate."
        },
        "wildcardMatch": {
          "type": "boolean",
          "description": "Indicates whether the cert should be matched against as a wildcard cert."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1CustomReportMetric": {
      "description": "This encapsulates a metric property of the form sum(message_count) where name is message_count and function is sum",
      "type": "object",
      "id": "GoogleCloudApigeeV1CustomReportMetric",
      "properties": {
        "function": {
          "type": "string",
          "description": "aggregate function"
        },
        "name": {
          "description": "name of the metric",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1DeveloperMonetizationConfig": {
      "description": "Monetization configuration for the developer.",
      "type": "object",
      "properties": {
        "billingType": {
          "description": "Billing type.",
          "type": "string",
          "enumDescriptions": [
            "The default/unset value.",
            "Developer pays in advance for the use of APIs and the charged amount is deducted from their account balance.",
            "Developer does not maintain an account balance. The API provider bills the developer for API usage."
          ],
          "enum": [
            "BILLING_TYPE_UNSPECIFIED",
            "PREPAID",
            "POSTPAID"
          ]
        }
      },
      "id": "GoogleCloudApigeeV1DeveloperMonetizationConfig"
    },
    "GoogleCloudApigeeV1SecurityReportQueryMetric": {
      "id": "GoogleCloudApigeeV1SecurityReportQueryMetric",
      "description": "Metric of the Query",
      "properties": {
        "value": {
          "type": "string",
          "description": "Operand value should be provided when operator is set."
        },
        "alias": {
          "type": "string",
          "description": "Alias for the metric. Alias will be used to replace metric name in query results."
        },
        "aggregationFunction": {
          "description": "Aggregation function: avg, min, max, or sum.",
          "type": "string"
        },
        "name": {
          "description": "Required. Metric name.",
          "type": "string"
        },
        "operator": {
          "description": "One of `+`, `-`, `/`, `%`, `*`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1ProvisionOrganizationRequest": {
      "properties": {
        "authorizedNetwork": {
          "description": "Name of the customer project's VPC network. If provided, the network needs to be peered through Service Networking. If none is provided, the organization will have access only to the public internet.",
          "type": "string"
        },
        "analyticsRegion": {
          "description": "Primary Cloud Platform region for analytics data storage. For valid values, see [Create an organization](https://cloud.google.com/apigee/docs/hybrid/latest/precog-provision). Defaults to `us-west1`.",
          "type": "string"
        },
        "runtimeLocation": {
          "description": "Cloud Platform location for the runtime instance. Defaults to zone `us-west1-a`. If a region is provided, `EVAL` organizations will use the region for automatically selecting a zone for the runtime instance.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1ProvisionOrganizationRequest",
      "description": "Request for ProvisionOrganization.",
      "type": "object"
    },
    "GoogleCloudApigeeV1SecurityReportQuery": {
      "id": "GoogleCloudApigeeV1SecurityReportQuery",
      "description": "Body structure when user makes a request to create a security report.",
      "properties": {
        "limit": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of rows that can be returned in the result."
        },
        "csvDelimiter": {
          "description": "Delimiter used in the CSV file, if `outputFormat` is set to `csv`. Defaults to the `,` (comma) character. Supported delimiter characters include comma (`,`), pipe (`|`), and tab (`\\t`).",
          "type": "string"
        },
        "reportDefinitionId": {
          "description": "Report Definition ID.",
          "type": "string"
        },
        "groupByTimeUnit": {
          "description": "Time unit used to group the result set. Valid values include: second, minute, hour, day, week, or month. If a query includes groupByTimeUnit, then the result is an aggregation based on the specified time unit and the resultant timestamp does not include milliseconds precision. If a query omits groupByTimeUnit, then the resultant timestamp includes milliseconds precision.",
          "type": "string"
        },
        "envgroupHostname": {
          "description": "Hostname needs to be specified if query intends to run at host level. This field is only allowed when query is submitted by CreateHostSecurityReport where analytics data will be grouped by organization and hostname.",
          "type": "string"
        },
        "metrics": {
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityReportQueryMetric"
          },
          "type": "array",
          "description": "A list of Metrics."
        },
        "filter": {
          "type": "string",
          "description": "Boolean expression that can be used to filter data. Filter expressions can be combined using AND/OR terms and should be fully parenthesized to avoid ambiguity. See Analytics metrics, dimensions, and filters reference https://docs.apigee.com/api-platform/analytics/analytics-reference for more information on the fields available to filter on. For more information on the tokens that you use to build filter expressions, see Filter expression syntax. https://docs.apigee.com/api-platform/analytics/asynch-reports-api#filter-expression-syntax"
        },
        "dimensions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of dimensions. https://docs.apigee.com/api-platform/analytics/analytics-reference#dimensions"
        },
        "displayName": {
          "description": "Security Report display name which users can specify.",
          "type": "string"
        },
        "timeRange": {
          "description": "Required. Time range for the query. Can use the following predefined strings to specify the time range: `last60minutes` `last24hours` `last7days` Or, specify the timeRange as a structure describing start and end timestamps in the ISO format: yyyy-mm-ddThh:mm:ssZ. Example: \"timeRange\": { \"start\": \"2018-07-29T00:13:00Z\", \"end\": \"2018-08-01T00:18:00Z\" }",
          "type": "any"
        },
        "mimeType": {
          "description": "Valid values include: `csv` or `json`. Defaults to `json`. Note: Configure the delimiter for CSV output using the csvDelimiter property.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1ComputeEnvironmentScoresResponse": {
      "description": "Response for ComputeEnvironmentScores.",
      "id": "GoogleCloudApigeeV1ComputeEnvironmentScoresResponse",
      "type": "object",
      "properties": {
        "scores": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Score"
          },
          "type": "array",
          "description": "List of scores. One score per day."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A page token, received from a previous `ComputeScore` call. Provide this to retrieve the subsequent page."
        }
      }
    },
    "GoogleCloudApigeeV1GetSyncAuthorizationRequest": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudApigeeV1GetSyncAuthorizationRequest",
      "description": "Request for GetSyncAuthorization."
    },
    "GoogleCloudApigeeV1OptimizedStatsResponse": {
      "type": "object",
      "id": "GoogleCloudApigeeV1OptimizedStatsResponse",
      "properties": {
        "resultTruncated": {
          "type": "boolean",
          "description": "Boolean flag that indicates whether the results were truncated based on the limit parameter."
        },
        "metaData": {
          "$ref": "GoogleCloudApigeeV1Metadata",
          "description": "Metadata information about the query executed."
        },
        "TimeUnit": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "List of time unit values. Time unit refers to an epoch timestamp value.",
          "type": "array"
        },
        "stats": {
          "$ref": "GoogleCloudApigeeV1OptimizedStatsNode",
          "description": "`stats` results."
        }
      },
      "description": "Encapsulates a response format for JavaScript Optimized Scenario."
    },
    "GoogleLongrunningOperation": {
      "type": "object",
      "id": "GoogleLongrunningOperation",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "response": {
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GoogleCloudApigeeV1AdvancedApiOpsConfig": {
      "description": "Configuration for the Advanced API Ops add-on.",
      "id": "GoogleCloudApigeeV1AdvancedApiOpsConfig",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Flag that specifies whether the Advanced API Ops add-on is enabled.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudApigeeV1StatsEnvironmentStats": {
      "id": "GoogleCloudApigeeV1StatsEnvironmentStats",
      "description": "Encapsulates the environment wrapper: ``` \"environments\": [ { \"metrics\": [ { \"name\": \"sum(message_count)\", \"values\": [ \"2.52056245E8\" ] } ], \"name\": \"prod\" } ]```",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the environment."
        },
        "dimensions": {
          "description": "List of metrics grouped under dimensions.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1DimensionMetric"
          }
        },
        "metrics": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Metric"
          },
          "description": "In the final response, only one of the following fields will be present based on the dimensions provided. If no dimensions are provided, then only top-level metrics is provided. If dimensions are included, then there will be a top-level dimensions field under environments which will contain metrics values and the dimension name. Example: ``` \"environments\": [ { \"dimensions\": [ { \"metrics\": [ { \"name\": \"sum(message_count)\", \"values\": [ \"2.14049521E8\" ] } ], \"name\": \"nit_proxy\" } ], \"name\": \"prod\" } ]``` or ```\"environments\": [ { \"metrics\": [ { \"name\": \"sum(message_count)\", \"values\": [ \"2.19026331E8\" ] } ], \"name\": \"prod\" } ]``` List of metric values.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1AccessSet": {
      "id": "GoogleCloudApigeeV1AccessSet",
      "type": "object",
      "description": "Set action. For example, \"Set\" : { \"name\" : \"target.name\", \"success\" : true, \"value\" : \"default\" }",
      "properties": {
        "success": {
          "type": "boolean"
        },
        "value": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1DatastoreConfig": {
      "type": "object",
      "id": "GoogleCloudApigeeV1DatastoreConfig",
      "description": "Configuration detail for datastore",
      "properties": {
        "datasetName": {
          "type": "string",
          "description": "BigQuery dataset name Required for `bigquery` target_type."
        },
        "projectId": {
          "type": "string",
          "description": "Required. GCP project in which the datastore exists"
        },
        "bucketName": {
          "description": "Name of the Cloud Storage bucket. Required for `gcs` target_type.",
          "type": "string"
        },
        "tablePrefix": {
          "description": "Prefix of BigQuery table Required for `bigquery` target_type.",
          "type": "string"
        },
        "path": {
          "description": "Path of Cloud Storage bucket Required for `gcs` target_type.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1SyncAuthorization": {
      "type": "object",
      "properties": {
        "identities": {
          "type": "array",
          "description": "Required. Array of service accounts to grant access to control plane resources, each specified using the following format: `serviceAccount:` service-account-name. The service-account-name is formatted like an email address. For example: `my-synchronizer-manager-service_account@my_project_id.iam.gserviceaccount.com` You might specify multiple service accounts, for example, if you have multiple environments and wish to assign a unique service account to each one. The service accounts must have **Apigee Synchronizer Manager** role. See also [Create service accounts](https://cloud.google.com/apigee/docs/hybrid/latest/sa-about#create-the-service-accounts).",
          "items": {
            "type": "string"
          }
        },
        "etag": {
          "description": "Entity tag (ETag) used for optimistic concurrency control as a way to help prevent simultaneous updates from overwriting each other. For example, when you call [getSyncAuthorization](organizations/getSyncAuthorization) an ETag is returned in the response. Pass that ETag when calling the [setSyncAuthorization](organizations/setSyncAuthorization) to ensure that you are updating the correct version. If you don't pass the ETag in the call to `setSyncAuthorization`, then the existing authorization is overwritten indiscriminately. **Note**: We strongly recommend that you use the ETag in the read-modify-write cycle to avoid race conditions.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1SyncAuthorization"
    },
    "GoogleCloudApigeeV1Instance": {
      "id": "GoogleCloudApigeeV1Instance",
      "properties": {
        "peeringCidrRange": {
          "type": "string",
          "enumDescriptions": [
            "Range not specified.",
            "`/16` CIDR range.",
            "`/17` CIDR range.",
            "`/18` CIDR range.",
            "`/19` CIDR range.",
            "`/20` CIDR range.",
            "`/22` CIDR range. Supported for evaluation only.",
            "`/23` CIDR range. Supported for evaluation only."
          ],
          "description": "Optional. Size of the CIDR block range that will be reserved by the instance. PAID organizations support `SLASH_16` to `SLASH_20` and defaults to `SLASH_16`. Evaluation organizations support only `SLASH_23`.",
          "enum": [
            "CIDR_RANGE_UNSPECIFIED",
            "SLASH_16",
            "SLASH_17",
            "SLASH_18",
            "SLASH_19",
            "SLASH_20",
            "SLASH_22",
            "SLASH_23"
          ]
        },
        "ipRange": {
          "description": "Optional. Comma-separated list of CIDR blocks of length 22 and/or 28 used to create the Apigee instance. Providing CIDR ranges is optional. You can provide just /22 or /28 or both (or neither). Ranges you provide should be freely available as part of a larger named range you have allocated to the Service Networking peering. If this parameter is not provided, Apigee automatically requests an available /22 and /28 CIDR block from Service Networking. Use the /22 CIDR block for configuring your firewall needs to allow traffic from Apigee. Input formats: `a.b.c.d/22` or `e.f.g.h/28` or `a.b.c.d/22,e.f.g.h/28`",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Display name for the instance."
        },
        "serviceAttachment": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of the service attachment created for the instance in the format: `projects/*/regions/*/serviceAttachments/*` Apigee customers can privately forward traffic to this service attachment using the PSC endpoints."
        },
        "port": {
          "readOnly": true,
          "description": "Output only. Port number of the exposed Apigee endpoint.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the instance."
        },
        "runtimeVersion": {
          "description": "Output only. Version of the runtime system running in the instance. The runtime system is the set of components that serve the API Proxy traffic in your Environments.",
          "type": "string",
          "readOnly": true
        },
        "createdAt": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Time the instance was created in milliseconds since epoch."
        },
        "diskEncryptionKeyName": {
          "type": "string",
          "description": "Customer Managed Encryption Key (CMEK) used for disk and volume encryption. Required for Apigee paid subscriptions only. Use the following format: `projects/([^/]+)/locations/([^/]+)/keyRings/([^/]+)/cryptoKeys/([^/]+)`"
        },
        "consumerAcceptList": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Customer accept list represents the list of projects (id/number) on customer side that can privately connect to the service attachment. It is an optional field which the customers can provide during the instance creation. By default, the customer project associated with the Apigee organization will be included to the list."
        },
        "host": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Internal hostname or IP address of the Apigee endpoint used by clients to connect to the service."
        },
        "name": {
          "description": "Required. Resource ID of the instance. Values must match the regular expression `^a-z{0,30}[a-z\\d]$`.",
          "type": "string"
        },
        "lastModifiedAt": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Time the instance was last modified in milliseconds since epoch."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. State of the instance. Values other than `ACTIVE` means the resource is not ready to use.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "UPDATING"
          ],
          "enumDescriptions": [
            "Resource is in an unspecified state.",
            "Resource is being created.",
            "Resource is provisioned and ready to use.",
            "The resource is being deleted.",
            "The resource is being updated."
          ]
        },
        "location": {
          "description": "Required. Compute Engine location where the instance resides.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Apigee runtime instance."
    },
    "GoogleCloudApigeeV1Point": {
      "type": "object",
      "description": "Point is a group of information collected by runtime plane at critical points of the message flow of the processed API request. This is a list of supported point IDs, categorized to three major buckets. For each category, debug points that we are currently supporting are listed below: - Flow status debug points: StateChange FlowInfo Condition Execution DebugMask Error - Flow control debug points: FlowCallout Paused Resumed FlowReturn BreakFlow Error - Runtime debug points: ScriptExecutor FlowCalloutStepDefinition CustomTarget StepDefinition Oauth2ServicePoint RaiseFault NodeJS The detail information of the given debug point is stored in a list of results.",
      "properties": {
        "results": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Result"
          },
          "type": "array",
          "description": "List of results extracted from a given debug point."
        },
        "id": {
          "description": "Name of a step in the transaction.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1Point"
    },
    "GoogleTypeMoney": {
      "type": "object",
      "id": "GoogleTypeMoney",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        },
        "units": {
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string"
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
        }
      },
      "description": "Represents an amount of money with its currency type."
    },
    "GoogleCloudApigeeV1CanaryEvaluation": {
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. End time for the evaluation's analysis."
        },
        "verdict": {
          "enum": [
            "VERDICT_UNSPECIFIED",
            "NONE",
            "FAIL",
            "PASS"
          ],
          "type": "string",
          "description": "Output only. The resulting verdict of the canary evaluations: NONE, PASS, or FAIL.",
          "readOnly": true,
          "enumDescriptions": [
            "Verdict is not available yet.",
            "No verdict reached.",
            "Evaluation is not good.",
            "Evaluation is good."
          ]
        },
        "control": {
          "type": "string",
          "description": "Required. The stable version that is serving requests."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Create time of the canary evaluation."
        },
        "treatment": {
          "description": "Required. The newer version that is serving requests.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Name of the canary evalution.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The current state of the canary evaluation.",
          "type": "string",
          "enumDescriptions": [
            "No state has been specified.",
            "The canary evaluation is still in progress.",
            "The canary evaluation has finished."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED"
          ]
        },
        "startTime": {
          "description": "Required. Start time for the canary evaluation's analysis.",
          "format": "google-datetime",
          "type": "string"
        },
        "metricLabels": {
          "$ref": "GoogleCloudApigeeV1CanaryEvaluationMetricLabels",
          "description": "Required. Labels used to filter the metrics used for a canary evaluation."
        }
      },
      "id": "GoogleCloudApigeeV1CanaryEvaluation",
      "description": "CanaryEvaluation represents the canary analysis between two versions of the runtime that is serving requests.",
      "type": "object"
    },
    "GoogleLongrunningListOperationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        }
      },
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "id": "GoogleLongrunningListOperationsResponse"
    },
    "GoogleCloudApigeeV1ComputeEnvironmentScoresRequestFilter": {
      "description": "Filter scores by component path. Used custom filter instead of AIP-160 as the use cases are highly constrained and predictable.",
      "type": "object",
      "properties": {
        "scorePath": {
          "description": "Optional. Return scores for this component. Example: \"/org@myorg/envgroup@myenvgroup/env@myenv/proxies/proxy@myproxy/source\"",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1ComputeEnvironmentScoresRequestFilter"
    },
    "GoogleCloudApigeeV1RatePlan": {
      "id": "GoogleCloudApigeeV1RatePlan",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "Time when the rate plan will expire in milliseconds since epoch. Set to 0 or `null` to indicate that the rate plan should never expire.",
          "format": "int64"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the rate plan."
        },
        "consumptionPricingRates": {
          "type": "array",
          "description": "API call volume ranges and the fees charged when the total number of API calls is within a given range. The method used to calculate the final fee depends on the selected pricing model. For example, if the pricing model is `STAIRSTEP` and the ranges are defined as follows: ``` { \"start\": 1, \"end\": 100, \"fee\": 75 }, { \"start\": 101, \"end\": 200, \"fee\": 100 }, } ``` Then the following fees would be charged based on the total number of API calls (assuming the currency selected is `USD`): * 1 call costs $75 * 50 calls cost $75 * 150 calls cost $100 The number of API calls cannot exceed 200.",
          "items": {
            "$ref": "GoogleCloudApigeeV1RateRange"
          }
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Name of the rate plan.",
          "type": "string"
        },
        "billingPeriod": {
          "enum": [
            "BILLING_PERIOD_UNSPECIFIED",
            "WEEKLY",
            "MONTHLY"
          ],
          "description": "Frequency at which the customer will be billed.",
          "type": "string",
          "enumDescriptions": [
            "Billing period not specified.",
            "Weekly billing period. **Note**: Not supported by Apigee at this time.",
            "Monthly billing period."
          ]
        },
        "setupFee": {
          "$ref": "GoogleTypeMoney",
          "description": "Initial, one-time fee paid when purchasing the API product."
        },
        "revenueShareType": {
          "enum": [
            "REVENUE_SHARE_TYPE_UNSPECIFIED",
            "FIXED",
            "VOLUME_BANDED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Revenue share type is not specified.",
            "Fixed percentage of the total revenue will be shared. The percentage to be shared can be configured by the API provider.",
            "Amount of revenue shared depends on the number of API calls. The API call volume ranges and the revenue share percentage for each volume can be configured by the API provider. **Note**: Not supported by Apigee at this time."
          ],
          "description": "Method used to calculate the revenue that is shared with developers."
        },
        "fixedRecurringFee": {
          "description": "Fixed amount that is charged at a defined interval and billed in advance of use of the API product. The fee will be prorated for the first billing period.",
          "$ref": "GoogleTypeMoney"
        },
        "description": {
          "type": "string",
          "description": "Description of the rate plan."
        },
        "createdAt": {
          "type": "string",
          "description": "Output only. Time that the rate plan was created in milliseconds since epoch.",
          "format": "int64",
          "readOnly": true
        },
        "apiproduct": {
          "type": "string",
          "description": "Name of the API product that the rate plan is associated with."
        },
        "state": {
          "description": "Current state of the rate plan (draft or published).",
          "enumDescriptions": [
            "State of the rate plan is not specified.",
            "Rate plan is in draft mode and only visible to API providers.",
            "Rate plan is published and will become visible to developers for the configured duration (between `startTime` and `endTime`)."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "PUBLISHED"
          ]
        },
        "fixedFeeFrequency": {
          "type": "integer",
          "description": "Frequency at which the fixed fee is charged.",
          "format": "int32"
        },
        "startTime": {
          "format": "int64",
          "description": "Time when the rate plan becomes active in milliseconds since epoch.",
          "type": "string"
        },
        "paymentFundingModel": {
          "type": "string",
          "enumDescriptions": [
            "Billing account type not specified.",
            "Prepaid billing account type. Developer pays in advance for the use of your API products. Funds are deducted from their prepaid account balance. **Note**: Not supported by Apigee at this time.",
            "Postpaid billing account type. Developer is billed through an invoice after using your API products."
          ],
          "description": "DEPRECATED: This field is no longer supported and will eventually be removed when Apigee Hybrid 1.5/1.6 is no longer supported. Instead, use the `billingType` field inside `DeveloperMonetizationConfig` resource. Flag that specifies the billing account type, prepaid or postpaid.",
          "enum": [
            "PAYMENT_FUNDING_MODEL_UNSPECIFIED",
            "PREPAID",
            "POSTPAID"
          ]
        },
        "consumptionPricingType": {
          "enum": [
            "CONSUMPTION_PRICING_TYPE_UNSPECIFIED",
            "FIXED_PER_UNIT",
            "BANDED",
            "TIERED",
            "STAIRSTEP"
          ],
          "type": "string",
          "description": "Pricing model used for consumption-based charges.",
          "enumDescriptions": [
            "Pricing model not specified. This is the default.",
            "Fixed rate charged for each API call.",
            "Variable rate charged for each API call based on price tiers. Example: * 1-100 calls cost $2 per call * 101-200 calls cost $1.50 per call * 201-300 calls cost $1 per call * Total price for 50 calls: 50 x $2 = $100 * Total price for 150 calls: 100 x $2 + 50 x $1.5 = $275 * Total price for 250 calls: 100 x $2 + 100 x $1.5 + 50 x $1 = $400. **Note**: Not supported by Apigee at this time.",
            "**Note**: Not supported by Apigee at this time.",
            "**Note**: Not supported by Apigee at this time."
          ]
        },
        "lastModifiedAt": {
          "format": "int64",
          "description": "Output only. Time the rate plan was last modified in milliseconds since epoch.",
          "type": "string",
          "readOnly": true
        },
        "currencyCode": {
          "type": "string",
          "description": "Currency to be used for billing. Consists of a three-letter code as defined by the [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) standard."
        },
        "revenueShareRates": {
          "items": {
            "$ref": "GoogleCloudApigeeV1RevenueShareRange"
          },
          "type": "array",
          "description": "Details of the revenue sharing model."
        }
      },
      "description": "Rate plan details.",
      "type": "object"
    },
    "GoogleCloudApigeeV1DeveloperBalance": {
      "type": "object",
      "description": "Account balance for the developer.",
      "properties": {
        "wallets": {
          "items": {
            "$ref": "GoogleCloudApigeeV1DeveloperBalanceWallet"
          },
          "readOnly": true,
          "description": "Output only. List of all wallets. Each individual wallet stores the account balance for a particular currency.",
          "type": "array"
        }
      },
      "id": "GoogleCloudApigeeV1DeveloperBalance"
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "id": "GoogleIamV1TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Request message for `TestIamPermissions` method."
    },
    "GoogleCloudApigeeV1ListArchiveDeploymentsResponse": {
      "description": "Response for ListArchiveDeployments method.",
      "properties": {
        "archiveDeployments": {
          "description": "Archive Deployments in the specified environment.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ArchiveDeployment"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token that you can include in a ListArchiveDeployments request to retrieve the next page. If omitted, no subsequent pages exist."
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1ListArchiveDeploymentsResponse"
    },
    "GoogleCloudApigeeV1Reference": {
      "id": "GoogleCloudApigeeV1Reference",
      "properties": {
        "description": {
          "description": "Optional. A human-readable description of this reference.",
          "type": "string"
        },
        "refers": {
          "type": "string",
          "description": "Required. The id of the resource to which this reference refers. Must be the id of a resource that exists in the parent environment and is of the given resource_type."
        },
        "resourceType": {
          "description": "The type of resource referred to by this reference. Valid values are 'KeyStore' or 'TrustStore'.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The resource id of this reference. Values must match the regular expression [\\w\\s\\-.]+."
        }
      },
      "type": "object",
      "description": "A Reference configuration. References must refer to a keystore that also exists in the parent environment."
    },
    "GoogleCloudApigeeV1ListTraceConfigOverridesResponse": {
      "description": "Response for ListTraceConfigOverrides.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token value that can be passed as `page_token` to retrieve the next page of content."
        },
        "traceConfigOverrides": {
          "items": {
            "$ref": "GoogleCloudApigeeV1TraceConfigOverride"
          },
          "description": "List all trace configuration overrides in an environment.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1ListTraceConfigOverridesResponse"
    },
    "GoogleCloudApigeeV1ApiProxyRevision": {
      "id": "GoogleCloudApigeeV1ApiProxyRevision",
      "type": "object",
      "description": "API proxy revision.",
      "properties": {
        "lastModifiedAt": {
          "description": "Time that the API proxy revision was last modified in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        },
        "createdAt": {
          "type": "string",
          "format": "int64",
          "description": "Time that the API proxy revision was created in milliseconds since epoch."
        },
        "targetEndpoints": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of TargetEndpoints in the `/targets` directory of the API proxy. Typically, this element is included only when the API proxy was created using the Edge UI. This is a 'manifest' setting designed to provide visibility into the contents of the API proxy."
        },
        "entityMetaDataAsProperties": {
          "type": "object",
          "description": "Metadata describing the API proxy revision as a key-value map.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "sharedFlows": {
          "type": "array",
          "description": "List of the shared flows included in the API proxy revision.",
          "items": {
            "type": "string"
          }
        },
        "targetServers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of TargetServers referenced in any TargetEndpoint in the API proxy. Typically, you will see this element only when the API proxy was created using the Edge UI. This is a 'manifest' setting designed to provide visibility into the contents of the API proxy."
        },
        "resourceFiles": {
          "description": "List of resource files included in the API proxy revision.",
          "$ref": "GoogleCloudApigeeV1ResourceFiles"
        },
        "archive": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The archive that generated this proxy revision. This field is only present on proxy revisions that were generated by an archive. Proxies generated by archives cannot be updated, deleted, or deployed to other environments. Format: `organizations/*/environments/*/archiveDeployments/*`"
        },
        "teams": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of the teams included in the API proxy revision."
        },
        "proxies": {
          "description": "List of proxy names included in the API proxy revision.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "basepaths": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Base URL of the API proxy."
        },
        "resources": {
          "description": "List of the resources included in the API proxy revision formatted as \"{type}://{name}\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "description": "Type. Set to `Application`. Maintained for compatibility with the Apigee Edge API.",
          "type": "string"
        },
        "spec": {
          "type": "string",
          "description": "OpenAPI Specification that is associated with the API proxy. The value is set to a URL or to a path in the specification store."
        },
        "name": {
          "description": "Name of the API proxy.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Human-readable name of the API proxy."
        },
        "targets": {
          "type": "array",
          "description": "List of the targets included in the API proxy revision.",
          "items": {
            "type": "string"
          }
        },
        "revision": {
          "type": "string",
          "description": "API proxy revision."
        },
        "configurationVersion": {
          "description": "Version of the API proxy configuration schema to which the API proxy conforms. Currently, the only supported value is 4.0 (`majorVersion.minorVersion`). This setting may be used in the future to track the evolution of the API proxy format.",
          "$ref": "GoogleCloudApigeeV1ConfigVersion"
        },
        "integrationEndpoints": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of IntegrationEndpoints in the '/integration-endpoints' directory of the API proxy. This is a 'manifest' setting designed to provide visibility into the contents of the API proxy."
        },
        "policies": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of policy names included in the API proxy revision.."
        },
        "description": {
          "type": "string",
          "description": "Description of the API proxy revision."
        },
        "proxyEndpoints": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of ProxyEndpoints in the `/proxies` directory of the API proxy. Typically, this element is included only when the API proxy was created using the Edge UI. This is a 'manifest' setting designed to provide visibility into the contents of the API proxy."
        },
        "contextInfo": {
          "description": "Revision number, app name, and organization for the API proxy.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1EnvironmentGroupConfig": {
      "properties": {
        "uid": {
          "description": "A unique id for the environment group config that will only change if the environment group is deleted and recreated.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "When this message appears in the top-level IngressConfig, this field will be populated in lieu of the inlined routing_rules and hostnames fields. Some URL for downloading the full EnvironmentGroupConfig for this group."
        },
        "name": {
          "description": "Name of the environment group in the following format: `organizations/{org}/envgroups/{envgroup}`.",
          "type": "string"
        },
        "hostnames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Host names for the environment group."
        },
        "routingRules": {
          "description": "Ordered list of routing rules defining how traffic to this environment group's hostnames should be routed to different environments.",
          "items": {
            "$ref": "GoogleCloudApigeeV1RoutingRule"
          },
          "type": "array"
        },
        "revisionId": {
          "type": "string",
          "format": "int64",
          "description": "Revision id that defines the ordering of the EnvironmentGroupConfig resource. The higher the revision, the more recently the configuration was deployed."
        },
        "endpointChainingRules": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1EndpointChainingRule"
          },
          "description": "A list of proxies in each deployment group for proxy chaining calls."
        }
      },
      "id": "GoogleCloudApigeeV1EnvironmentGroupConfig",
      "description": "EnvironmentGroupConfig is a revisioned snapshot of an EnvironmentGroup and its associated routing rules.",
      "type": "object"
    },
    "GoogleCloudApigeeV1ConfigVersion": {
      "description": "Version of the API proxy configuration schema. Currently, only 4.0 is supported.",
      "type": "object",
      "properties": {
        "minorVersion": {
          "type": "integer",
          "description": "Minor version of the API proxy configuration schema.",
          "format": "int32"
        },
        "majorVersion": {
          "format": "int32",
          "type": "integer",
          "description": "Major version of the API proxy configuration schema."
        }
      },
      "id": "GoogleCloudApigeeV1ConfigVersion"
    },
    "GoogleCloudApigeeV1CertInfo": {
      "type": "object",
      "properties": {
        "publicKey": {
          "description": "Public key component of the X.509 subject public key info.",
          "type": "string"
        },
        "serialNumber": {
          "type": "string",
          "description": "X.509 serial number."
        },
        "isValid": {
          "description": "Flag that specifies whether the certificate is valid. Flag is set to `Yes` if the certificate is valid, `No` if expired, or `Not yet` if not yet valid.",
          "type": "string"
        },
        "issuer": {
          "type": "string",
          "description": "X.509 issuer."
        },
        "basicConstraints": {
          "type": "string",
          "description": "X.509 basic constraints extension."
        },
        "subjectAlternativeNames": {
          "items": {
            "type": "string"
          },
          "description": "X.509 subject alternative names (SANs) extension.",
          "type": "array"
        },
        "subject": {
          "type": "string",
          "description": "X.509 subject."
        },
        "expiryDate": {
          "type": "string",
          "format": "int64",
          "description": "X.509 `notAfter` validity period in milliseconds since epoch."
        },
        "validFrom": {
          "type": "string",
          "format": "int64",
          "description": "X.509 `notBefore` validity period in milliseconds since epoch."
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "X.509 version."
        },
        "sigAlgName": {
          "type": "string",
          "description": "X.509 signatureAlgorithm."
        }
      },
      "id": "GoogleCloudApigeeV1CertInfo",
      "description": "X.509 certificate as defined in RFC 5280."
    },
    "GoogleCloudApigeeV1ListEndpointAttachmentsResponse": {
      "description": "Response for ListEndpointAttachments method.",
      "properties": {
        "endpointAttachments": {
          "type": "array",
          "description": "Endpoint attachments in the specified organization.",
          "items": {
            "$ref": "GoogleCloudApigeeV1EndpointAttachment"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token that you can include in an `ListEndpointAttachments` request to retrieve the next page. If omitted, no subsequent pages exist."
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1ListEndpointAttachmentsResponse"
    },
    "GoogleCloudApigeeV1CreditDeveloperBalanceRequest": {
      "type": "object",
      "description": "Request for CreditDeveloperBalance.",
      "id": "GoogleCloudApigeeV1CreditDeveloperBalanceRequest",
      "properties": {
        "transactionAmount": {
          "$ref": "GoogleTypeMoney",
          "description": "The amount of money to be credited. The wallet corresponding to the currency specified within `transaction_amount` will be updated. For example, if you specified `currency_code` within `transaction_amount` as \"USD\", then the amount would be added to the wallet which has the \"USD\" currency or if no such wallet exists, a new wallet will be created with the \"USD\" currency."
        },
        "transactionId": {
          "type": "string",
          "description": "Each transaction_id uniquely identifies a credit balance request. If multiple requests are received with the same transaction_id, only one of them will be considered."
        }
      }
    },
    "GoogleCloudApigeeV1IngressConfig": {
      "type": "object",
      "id": "GoogleCloudApigeeV1IngressConfig",
      "properties": {
[...]
