{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud Platform data"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud Platform services"
        }
      }
    }
  },
  "mtlsRootUrl": "https://apikeys.mtls.googleapis.com/",
  "basePath": "",
  "id": "apikeys:v2",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    }
  },
  "ownerDomain": "google.com",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "operations": {
      "methods": {
        "get": {
          "parameters": {
            "name": {
              "pattern": "^operations/[^/]+$",
              "required": true,
              "description": "The name of the operation resource.",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "flatPath": "v2/operations/{operationsId}",
          "path": "v2/{+name}",
          "id": "apikeys.operations.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "GET"
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "keys": {
              "methods": {
                "create": {
                  "description": "Creates a new API key. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apikeys.projects.locations.keys.create",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "V2Key"
                  },
                  "path": "v2/{+parent}/keys",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The project in which the API key is created.",
                      "type": "string"
                    },
                    "keyId": {
                      "description": "User specified key id (optional). If specified, it will become the final component of the key resource name. The id must be unique within the project, must conform with RFC-1034, is restricted to lower-cased letters, and has a maximum length of 63 characters. In another word, the id must match the regular expression: `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`. The id must NOT be a UUID-like string.",
                      "type": "string",
                      "location": "query"
                    }
                  }
                },
                "list": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "id": "apikeys.projects.locations.keys.list",
                  "path": "v2/{+parent}/keys",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists the API keys owned by a project. The key string of the API key isn't included in the response. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. Lists all API keys associated with this project.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Specifies the maximum number of results to be returned at a time."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Only list keys that conform to the specified filter. The allowed filter strings are `state:ACTIVE` and `state:DELETED`. By default, ListKeys returns only active keys."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. Requests a specific page of results.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "V2ListKeysResponse"
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "V2Key"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/keys/[^/]+$",
                      "description": "Required. The resource name of the API key to get."
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}",
                  "description": "Gets the metadata for an API key. The key string of the API key isn't included in the response. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "id": "apikeys.projects.locations.keys.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ]
                },
                "undelete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}:undelete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v2/{+name}:undelete",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The resource name of the API key to be undeleted.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/keys/[^/]+$"
                    }
                  },
                  "description": "Undeletes an API key which was deleted within 30 days. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "httpMethod": "POST",
                  "id": "apikeys.projects.locations.keys.undelete",
                  "request": {
                    "$ref": "V2UndeleteKeyRequest"
                  }
                },
                "clone": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}:clone",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "V2CloneKeyRequest"
                  },
                  "description": "Clones the existing key's restriction and display name to a new API key. The service account must have the `apikeys.keys.get` and `apikeys.keys.create` permissions in the project. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/keys/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name of the API key to be cloned in the same project.",
                      "location": "path"
                    }
                  },
                  "id": "apikeys.projects.locations.keys.clone",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}:clone"
                },
                "patch": {
                  "description": "Patches the modifiable fields of an API key. The key string of the API key isn't included in the response. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}",
                  "request": {
                    "$ref": "V2Key"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Output only. The resource name of the key. The `name` has the form: `projects//locations/global/keys/`. For example: `projects/123456867718/locations/global/keys/b7ff1f9f-8275-410a-94dd-3855ee9b5dd2` NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/keys/[^/]+$",
                      "type": "string"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "The field mask specifies which fields to be updated as part of this request. All other fields are ignored. Mutable fields are: `display_name` and `restrictions`. If an update mask is not provided, the service treats it as an implied mask equivalent to all allowed fields that are set on the wire. If the field mask has a special value \"*\", the service treats it equivalent to replace all allowed mutable fields."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apikeys.projects.locations.keys.patch",
                  "httpMethod": "PATCH"
                },
                "getKeyString": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/keys/[^/]+$",
                      "description": "Required. The resource name of the API key to be retrieved."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "description": "Get the key string for an API key. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "httpMethod": "GET",
                  "id": "apikeys.projects.locations.keys.getKeyString",
                  "response": {
                    "$ref": "V2GetKeyStringResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}/keyString",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}/keyString"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/keys/[^/]+$",
                      "description": "Required. The resource name of the API key to be deleted.",
                      "type": "string",
                      "required": true
                    },
                    "etag": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The etag known to the client for the expected state of the key. This is to be used for optimistic concurrency."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v2/{+name}",
                  "id": "apikeys.projects.locations.keys.delete",
                  "httpMethod": "DELETE",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}",
                  "description": "Deletes an API key. Deleted key can be retrieved within 30 days of deletion. Afterward, key will be purged from the project. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "keys": {
      "methods": {
        "lookupKey": {
          "response": {
            "$ref": "V2LookupKeyResponse"
          },
          "path": "v2/keys:lookupKey",
          "parameterOrder": [],
          "httpMethod": "GET",
          "description": "Find the parent project and resource name of the API key that matches the key string in the request. If the API key has been purged, resource name will not be set. The service account must have the `apikeys.keys.lookup` permission on the parent project.",
          "flatPath": "v2/keys:lookupKey",
          "parameters": {
            "keyString": {
              "type": "string",
              "description": "Required. Finds the project that owns the key string value.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "apikeys.keys.lookupKey"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "batchPath": "batch",
  "baseUrl": "https://apikeys.googleapis.com/",
  "title": "API Keys API",
  "canonicalName": "Api Keys Service",
  "documentationLink": "https://cloud.google.com/api-keys/docs",
  "description": "Manages the API keys associated with developer projects.",
  "kind": "discovery#restDescription",
  "version_module": true,
  "revision": "20210421",
  "rootUrl": "https://apikeys.googleapis.com/",
  "name": "apikeys",
  "version": "v2",
  "schemas": {
    "V2GetKeyStringResponse": {
      "properties": {
        "keyString": {
          "description": "An encrypted and signed value of the key.",
          "type": "string"
        }
      },
      "description": "Response message for `GetKeyString` method.",
      "id": "V2GetKeyStringResponse",
      "type": "object"
    },
    "V2AndroidKeyRestrictions": {
      "id": "V2AndroidKeyRestrictions",
      "type": "object",
      "properties": {
        "allowedApplications": {
          "items": {
            "$ref": "V2AndroidApplication"
          },
          "description": "A list of Android applications that are allowed to make API calls with this key.",
          "type": "array"
        }
      },
      "description": "The Android apps that are allowed to use the key."
    },
    "V2ApiTarget": {
      "description": "A restriction for a specific service and optionally one or multiple specific methods. Both fields are case insensitive.",
      "type": "object",
      "id": "V2ApiTarget",
      "properties": {
        "methods": {
          "type": "array",
          "description": "Optional. List of one or more methods that can be called. If empty, all methods for the service are allowed. A wildcard (*) can be used as the last symbol. Valid examples: `google.cloud.translate.v2.TranslateService.GetSupportedLanguage` `TranslateText` `Get*` `translate.googleapis.com.Get*`",
          "items": {
            "type": "string"
          }
        },
        "service": {
          "description": "The service for this restriction. It should be the canonical service name, for example: `translate.googleapis.com`. You can use [`gcloud services list`](/sdk/gcloud/reference/services/list) to get a list of services that are enabled in the project.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        }
      },
      "type": "object"
    },
    "V2Restrictions": {
      "description": "Describes the restrictions on the key.",
      "id": "V2Restrictions",
      "type": "object",
      "properties": {
        "serverKeyRestrictions": {
          "description": "The IP addresses of callers that are allowed to use the key.",
          "$ref": "V2ServerKeyRestrictions"
        },
        "iosKeyRestrictions": {
          "$ref": "V2IosKeyRestrictions",
          "description": "The iOS apps that are allowed to use the key."
        },
        "browserKeyRestrictions": {
          "$ref": "V2BrowserKeyRestrictions",
          "description": "The HTTP referrers (websites) that are allowed to use the key."
        },
        "apiTargets": {
          "items": {
            "$ref": "V2ApiTarget"
          },
          "description": "A restriction for a specific service and optionally one or more specific methods. Requests are allowed if they match any of these restrictions. If no restrictions are specified, all targets are allowed.",
          "type": "array"
        },
        "androidKeyRestrictions": {
          "description": "The Android apps that are allowed to use the key.",
          "$ref": "V2AndroidKeyRestrictions"
        }
      }
    },
    "V2IosKeyRestrictions": {
      "type": "object",
      "properties": {
        "allowedBundleIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of bundle IDs that are allowed when making API calls with this key."
        }
      },
      "description": "The iOS apps that are allowed to use the key.",
      "id": "V2IosKeyRestrictions"
    },
    "V2LookupKeyResponse": {
      "id": "V2LookupKeyResponse",
      "type": "object",
      "properties": {
        "parent": {
          "type": "string",
          "description": "The project that owns the key with the value specified in the request."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the API key. If the API key has been purged, resource name is empty."
        }
      },
      "description": "Response message for `LookupKey` method."
    },
    "V2Key": {
      "id": "V2Key",
      "properties": {
        "keyString": {
          "description": "Output only. An encrypted and signed value held by this key. This field can be accessed only through the `GetKeyString` method.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Human-readable display name of this key that you can modify. The maximum length is 63 characters.",
          "type": "string"
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A checksum computed by the server based on the current value of the Key resource. This may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "restrictions": {
          "description": "Key restrictions.",
          "$ref": "V2Restrictions"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the key. The `name` has the form: `projects//locations/global/keys/`. For example: `projects/123456867718/locations/global/keys/b7ff1f9f-8275-410a-94dd-3855ee9b5dd2` NOTE: Key is a global resource; hence the only supported value for location is `global`."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. A timestamp identifying the time this key was last updated."
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Unique id in UUID4 format."
        },
        "deleteTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. A timestamp when this key was deleted. If the resource is not deleted, this must be empty."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A timestamp identifying the time this key was originally created.",
          "format": "google-datetime"
        }
      },
      "description": "The representation of a key managed by the API Keys API.",
      "type": "object"
    },
    "V2CloneKeyRequest": {
      "description": "Request message for `CloneKey` method.",
      "type": "object",
      "id": "V2CloneKeyRequest",
      "properties": {
        "keyId": {
          "description": "User specified key id (optional). If specified, it will become the final component of the key resource name. The id must be unique within the project, must conform with RFC-1034, is restricted to lower-cased letters, and has a maximum length of 63 characters. In another word, the id must match the regular expression: `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`. The id must NOT be a UUID-like string.",
          "type": "string"
        }
      }
    },
    "V2ListKeysResponse": {
      "description": "Response message for `ListKeys` method.",
      "properties": {
        "keys": {
          "items": {
            "$ref": "V2Key"
          },
          "type": "array",
          "description": "A list of API keys."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        }
      },
      "type": "object",
      "id": "V2ListKeysResponse"
    },
    "V2ServerKeyRestrictions": {
      "properties": {
        "allowedIps": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of the caller IP addresses that are allowed to make API calls with this key."
        }
      },
      "type": "object",
      "description": "The IP addresses of callers that are allowed to use the key.",
      "id": "V2ServerKeyRestrictions"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "V2AndroidApplication": {
      "description": "Identifier of an Android application for key use.",
      "id": "V2AndroidApplication",
      "type": "object",
      "properties": {
        "packageName": {
          "type": "string",
          "description": "The package name of the application."
        },
        "sha1Fingerprint": {
          "type": "string",
          "description": "The SHA1 fingerprint of the application. For example, both sha1 formats are acceptable : DA:39:A3:EE:5E:6B:4B:0D:32:55:BF:EF:95:60:18:90:AF:D8:07:09 or DA39A3EE5E6B4B0D3255BFEF95601890AFD80709. Output format is the latter."
        }
      }
    },
    "V2BrowserKeyRestrictions": {
      "description": "The HTTP referrers (websites) that are allowed to use the key.",
      "properties": {
        "allowedReferrers": {
          "description": "A list of regular expressions for the referrer URLs that are allowed to make API calls with this key.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "V2BrowserKeyRestrictions"
    },
    "V2UndeleteKeyRequest": {
      "id": "V2UndeleteKeyRequest",
      "properties": {},
      "description": "Request message for `UndeleteKey` method.",
      "type": "object"
    }
  }
}
